[2019-11-07 22:03] sblatz commented on #6436
Awesome, this looks like it is actually a failed download, but is claimed to be completed. This should be fixed by https://github.com/mozilla-mobile/android-components/issues/4999

[2019-11-07 22:06] csadilek commented on #5472
@ValentinTimisica Yes, the reason for this is that the content script (`readerview.js`) injected by the `ReaderViewFeature` web extension runs when the page is loaded. If the page is loaded in a `CustomTab`, it won't run at all, because we don't start this feature for custom tabs. When the tab is then opened in / migrated to the main app it is too late. The page has already loaded. If you reload,

[2019-11-07 22:18] liuche commented on #6441
This bug has exposed some more issues

- better testing of upstream changes that come down to fenix
- smoketesting Nightly

[2019-11-07 22:28] cpeterso commented on #6436
GV bug for this crash: https://bugzilla.mozilla.org/show_bug.cgi?id=1594734

mozilla-mobile/android-components#4999 will be fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1594905.

[2019-11-07 22:32] st3fan commented on #6480
@pocmo the list of search partners + codes lives in A-C right?

[2019-11-07 23:12] grigoryk commented on #6490
Done in #6492

[2019-11-07 23:12] #6490 closed

[2019-11-07 23:24] sblatz commented on #349
@vesta0 The download feature currently allows users to open the downloaded file in the respective app (pdf opens in a PDF viewer, etc.). Is there something different we're wanting to do here?

[2019-11-07 23:29] mcomella opened #6507 "Define and measure Fenix cold start to homescreen perf test"
Blocked by?:
- cold/warm/hot definitions: https://github.com/mozilla-mobile/fenix/issues/5910

### Why/User Benefit/User Problem
Our key P1 metric for our release criteria is cold startup to homescreen: we need to have a test we can rely on to measure it.

Currently, we are running Nimbledroid's default cold startup test: we should determine if this is appropriate. If not, we should write a new te

[2019-11-07 23:29] mcomella opened #6508 "Add hot start to app home screen perf test & report how easy it is to write custom Nimbledroid tests"
Blocked by?:
- cold/warm/hot definitions: https://github.com/mozilla-mobile/fenix/issues/5910
- Finalize Fenix cold start test: https://github.com/mozilla-mobile/fenix/issues/6507
- Finalize ND upload configuration: https://github.com/mozilla-mobile/perf-frontend-issues/issues/20

### Why/User Benefit/User Problem
A P1 metric for our release criteria is hot start to app homescreen: we should add a

[2019-11-07 23:43] mcomella commented on #6508
Findings on adding custom ND tests: the official docs say we need to upload the Espresso APK with the tests we care about. We'll need to make sure to exclude non-perf espresso tests. No-Jun mentioned this infrastructure may not work yet: if so, contact me. We'll want to upload to our official ND channel (i.e. the "app" in their interface owned by our generic Nimbledroid user). We may have to build

[2019-11-08 00:01] ekager commented on #6408
Reopening for QA

[2019-11-08 03:11] vesta0 commented on #4579
@topotropic @boek something to consider :)

[2019-11-08 04:23] vesta0 opened #6510 "What's new card after app update"
## User Story
- As a user, I want to know what changes I should expect in my browser after an update, so I know what's been fixed and which new features to check out.

### Acceptance Criteria
- I effortlessly learn about new features and bug fixes after app update
- In select cases, I can interact with the what's new card (e.g. to enable a new add-on)

[2019-11-08 04:36] vesta0 opened #6511 "User knows when data migration is completed"
## User Story
- As a Fennec user who just upgraded to Fenix, I want to know that my data is being migrated ad when the migration is completed, so I have transparency into the process and know when my new browser is ready to use.

## Dependencies
-Work with Android Components team to determine requirements (how long data migration will take, what should the user expect during and after?_

### Accep

[2019-11-08 04:53] vesta0 opened #6512 "Investigate Sync collections"
This ticket is for UX + Sync team to investigate how we might we solve the following user problems:

Problem Statement:
FxA users can't access their Fenix collections on other FxA enabled devices, so they are not able to continue/complete their tasks across devices.

[2019-11-08 06:01] vesta0 commented on #6422
Thanks for filing this @Cheap-Skate ! This feature is currently behaving as intended but we will consider your feedback in mind for the next round of milestone user testing.

[2019-11-08 06:01] #6422 closed

[2019-11-08 06:13] vesta0 commented on #349
This feature is just about being able to view the files user has previously downloaded using Fenix. Opening the files, as you said, is already possible using the respective apps.

Note that this feature has been de-prioritized for Q1

[2019-11-08 07:29] hakkikaancaliskan commented on #6408
Verified as fixed on
Nightly 191108 06:01 (Build #13120608)
📦: 21.0.0, 09da19708
🦎: 72.0a1-20191105095755

Should I open a separate issue for the first sentence of this issue? @ekager

[2019-11-08 08:21] AndiAJ commented on #2184
Hi, reproducible using a Google Pixel 3a XL ( Android 10) when tapping on the "Try again" from the "Address Not Found" page on :
• Beta Build #13112229 from 7/11
• Nightly Build #13120608 from 8/11

► Video
![20191108_101416](https://user-images.githubusercontent.com/51314259/68460730-40052500-0211-11ea-87b7-f4618d33a0ce.gif)

[2019-11-08 08:59] pocmo commented on #6436
@sblatz I think regardless of the download being completed/failed we have an issue in `openFile()`:
https://github.com/mozilla-mobile/android-components/blob/master/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt#L361-L377

For a bunch of files it can happen that there is just no application / activity that can open it. In that case `

[2019-11-08 09:43] softvision-miralobontiu opened #6514 "[Bug] Crash when tapping on "Read our privacy notice" from the onboarding tour"
## Steps to reproduce
1. Install Firefox Preview.
2. Scroll down the onboarding tour to "Your privacy" card and tap on "Read our privacy notice".

### Expected behavior
A new page is opened: https://www.mozilla.org/en-US/privacy/firefox/ in a custom tab.

### Actual behavior
The app crashes.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 9)
* Not reproducible on Google Pi

[2019-11-08 10:13] AndiAJ opened #6515 "[Bug]Wrong PB icon displayed on Android 10 devices when sharing a link"
## Steps to reproduce
1. Navigate to theverge.com
2. Long tap on one of the featured articles or images
3. Select "Share link" from the context menu
4. Observe the Fenix PB icons from the list

### Expected behavior
The specific Private Firefox Preview icon should be displayed in the sharing list ![rsz_screenshot_20191109-205837](https://user-images.githubusercontent.com/51314259/68468061-f53ed980

[2019-11-08 10:34] softvision-miralobontiu opened #6516 "[Bug] Tabs opened in normal browsing are very briefly displayed when switching to private browsing, and vice-versa"
## Steps to reproduce
1. Open some tabs in normal browsing.
2. Switch to private browsing and observe.

### Expected behavior
The switch between the two modes is smooth. The tabs opened in normal browsing are not visible in private browsing, not even briefly.

### Actual behavior
The opened tabs from normal browsing are briefly displayed when switching to private browsing.

### Device information

[2019-11-08 10:36] Sgt-Miller opened #6518 "[Bug]Open image in new tab outputs a 0% scaled image."
## Steps to reproduce
Long press an image and choose open image in new tab. Now go to the new tab.
### Expected behavior
![Screenshot_20191108-160009](https://user-images.githubusercontent.com/17806210/68469807-ce2ddb00-0212-11ea-9904-86c0b2d6645e.png)

### Actual behavior
Temporarily, I just reload the tab to make the image appear properly. Before reloading, this is how it looks.
![Screenshot_201

[2019-11-08 10:43] cadeyrn commented on #6518
Duplicate of #2312. Will be fixed once Fenix uses GV 71.

[2019-11-08 10:47] Sgt-Miller commented on #6518
Sorry! It seems I'm really bad at searching.

[2019-11-08 10:47] #6518 closed

[2019-11-08 10:52] AndiAJ opened #6519 "[Bug]Saved images are not properly names (can't open from in app notif, no name in notif)"
## Steps to reproduce
1. Navigate to theverge.com
2. Long tap on one of the featured articles or images
3. Select "Save image" from the context menu
4. From the Android taskbar tap on the download confirmation to open the downloaded image

### Expected behavior
The image should be opened after tapping the notification

### Actual behavior
The downloaded image isn't opened after tapping the notific

[2019-11-08 11:15] pocmo commented on #6480
@mkaply Was that change made in mozilla-central/mobile/ too? Then we could just re-import that into AC.

Otherwise we can update list.json and the plugins in AC:
- https://github.com/mozilla-mobile/android-components/blob/master/components/browser/search/src/main/assets/search/list.json
- https://github.com/mozilla-mobile/android-components/tree/master/components/browser/search/src/main/assets/sea

[2019-11-08 11:32] softvision-oana-arbuzov commented on #6279
@AndiAJ I was able to reproduce the issue when trying to add photo in a post on Facebook.
![CrashAddPhoto](https://user-images.githubusercontent.com/12184325/68473619-232a1b00-022c-11ea-8b34-a9c8a2cdda18.gif)

**Tested with:**
Browser / Version: Firefox Preview Nightly 191108 06:01 (Build #13120608) 📦: 21.0.0, 09da19708 🦎: 72.0a1-20191105095755
Operating System: Huawei P20 Lite (Android 8.0.0) - 1

[2019-11-08 12:07] sv-ohorvath opened #6521 "[Bug] Auto-sign in doesn't work on Beta"
## Steps to reproduce
1. login on Fennec.
2. Open a freshly installed Fenix Beta.
3. Observe the Sign in card on the onboarding section.
### Expected behavior
The "Sign me in" button is displayed to sign in automatically with the same account.
### Actual behavior
The app doesn't detect that you are signed in on Fennec.
*Works on Nightly and RC-3.2.1
### Device information

* Android device: any
*

[2019-11-08 12:12] sv-ohorvath commented on #6279
@NotWoods see comment above

[2019-11-08 12:36] BranescuMihai commented on #6514
De-assigned myself because I couldn't reproduce it. Tried on: OnePlus3, Samsung S9 (android 9), Samsung S10 (android 9)

[2019-11-08 12:36] sv-ohorvath commented on #6344
@sblatz Do you have some STR for this?

[2019-11-08 12:39] softvision-miralobontiu commented on #6354
We've verified on the 3.0.0-beta.1, and on 11/08 Nightly build, the
- ETP shield dialog with is visible and is displayed correctly,
- the lock icon is displayed correctly and doesn't include TP UI,
- the granular options for Strict or Standard are displayed in Settings,
- the setting "Strict" is the default one.
Verified with Samsung Galaxy Note 8 (Android 9), Google Pixel (Android Q).

[2019-11-08 12:39] sv-ohorvath commented on #5678
@csadilek Do you have some reliable STR for this crash, for QA?

[2019-11-08 14:30] AndiAJ opened #6522 "[Bug]Setting Fenix Beta as the default browser app doesn't open by default the TWAs"
## Prerequisites
Set Fenix Beta as you default browser app.
Have installed also Fenix Nightly

## Steps to reproduce
1. Install one of the bellow TWAs
https://play.google.com/store/apps/details?id=com.tigeroakes.insightfulenergy
https://play.google.com/store/apps/details?id=com.appspot.pwa_directory
https://play.google.com/store/apps/details?id=br.com.quintoandar.inquilinos
https://play.google.com

[2019-11-08 15:06] ekager commented on #6408
Sure open a new issue please! Thank you!

[2019-11-08 15:06] #6408 closed

[2019-11-08 15:12] hakkikaancaliskan opened #6523 "Redundant back button on history/bookmarks"
## Steps to reproduce
Open history/bookmarks from homescreen.

Back button is redundant because back button and close button doing same thing, throws us to homescreen.

![68072285-d60dfb00-fd8c-11e9-96d8-52e5f674cca8](https://user-images.githubusercontent.com/17825767/68486923-098fd000-023a-11ea-8de9-c4582e1fed8a.png)

### Device information
Nightly 191108 06:01 (Build #13120608)
📦: 21.0.0, 09da19

[2019-11-08 15:19] csadilek commented on #5678
@sv-ohorvath Unfortunately, we never found reliable STRs, so we had to simulate the crashes by setting the intent to null. However, after we landed the fixes, the crashes went away (you can see in the two Sentry links above). Both crashes stopped happening.

[2019-11-08 15:24] sv-ohorvath commented on #5678
Ok, thank you then :)

[2019-11-08 15:34] jonalmeida commented on #373
To clarify, there is no A-C work here. We found a crash related to this and reverted the changes, now we're going to be re-landing it as well.

[2019-11-08 16:09] rocketsroger commented on #5664
@vesta0 What is the expected fix for this issue? Do we just want to avoid infinite load?  Thanks,

[2019-11-08 16:36] NotWoods commented on #6522
TWA support is currently staying in Nightly while we experiment with it. We'll revisit this later on.

[2019-11-08 16:36] #6522 closed

[2019-11-08 16:37] NotWoods commented on #6523
UX team: Should we remove the back button, the close button, or keep both?

[2019-11-08 16:38] NotWoods commented on #6142
Closing since we removed the context menu option for now.

[2019-11-08 16:38] #6142 closed

[2019-11-08 16:42] sblatz commented on #6344
@sv-ohorvath this was happening when we were not properly sending the campaign info for Adjust. This has been addressed in my PR's: https://github.com/sblatz/fenix/commit/7eba3e993ce97905d4375777cfc0930e47f90167 & https://github.com/mozilla-mobile/fenix/pull/5896

Since this Sentry crash has reached 0 reports, I don't think we need QA verification on this 😄

[2019-11-08 16:42] #6344 closed

[2019-11-08 16:49] sblatz commented on #6436
Ah, thank you for the clarification on this, @pocmo! I'll dig into it :)

[2019-11-08 17:43] #6354 closed

[2019-11-08 17:55] #6055 closed

[2019-11-08 18:17] liuche commented on #3526
This is a question for @grigoryk for the AC/AS parts:
- Is it a bug that hidden redirects get written to History?
- What work would there be to fix this? (Is there a bug?)

[2019-11-08 21:26] miketaylr opened #6524 "[webcontent] janky scrolling at https://m.angeloni.com.br/eletroMobile/"
Originally filed at https://github.com/webcompat/web-bugs/issues/41423.

## Site with issue and any steps to reproduce

1. go to https://github.com/webcompat/web-bugs/issues/41423
2. scroll

The scrolling is jankier in Fenix than in Chrome Mobile.

[2019-11-08 21:46] mkaply commented on #6480
No, this was a specific change for just Fenix. I'll create a patch.

[2019-11-08 21:59] sblatz commented on #6436
@brampitoyo what string should we use when a user does not have an app installed to open the file?

I was thinking something along the lines of: "Cannot open file"

[2019-11-08 22:05] sblatz commented on #6384
For QA to test this:
1. Start a file download
2. Open the files app and see the partially downloaded file
3. Press "cancel" in the download notification
4. Verify the partial download is removed

[2019-11-08 22:34] miketaylr opened #6525 "[webcontent] graphics issue when scrolling steamcommunity.com"
Originally reported @ https://github.com/webcompat/web-bugs/issues/43635

## Site with issue and any steps to reproduce

1. go to https://steamcommunity.com/games/593110/announcements/detail/1666821776739358716 and scroll down

### Expected behavior

It works

### Actual behavior

Either tiles will fail to be painted, or everything will end up blurry for a second or two on my Pixel 3 until it "pop

[2019-11-08 22:41] ekager commented on #4205
@julienw are you still seeing this with Lockwise?
@martynhaigh are you still seeing this with Lastpass?

[2019-11-08 22:56] genodeftest commented on #4584
Why not use DoT instead? It is less complex and has less overhead.

[2019-11-08 22:57] liuche commented on #1383
@MReschenberg could you advise here? What would be a reasonable thing to do in this case, when there is no title in the tab?

[2019-11-08 22:59] genodeftest commented on #162
Update: https://gitlab.com/rfc2822/fdroid-firefox provides a fully functional Firefox Preview which is regularly updated.

@PopeRigby: The maintainer has a website which is linked from his gitlab account: https://www.bitfire.at/

[2019-11-08 23:09] MReschenberg commented on #1383
@liuche When you say "no title in tab" do you mean the page has no `<title>...</title>` styling?
On desktop, tabs are identified to screen readers by their title styling. When a title isn't specified, the page is identified by its URL, this seems appropriate in this case too (though verbose).

[2019-11-08 23:12] Baron-Severin commented on #4281
Opened https://github.com/mozilla-mobile/android-components/issues/5022 requesting support for toggleable, highlightable menu items.

[2019-11-08 23:26] Baron-Severin opened #6526 "[Bug] Delete bookmark snackbar is misaligned"
###  Steps to reproduce
- Navigate to any website
- Bookmark website
- Click "Edit" on the "Bookmark saved!" snackbar
- Delete bookmark

![delete-bookmark-snackbar](https://user-images.githubusercontent.com/13170306/68517336-0c8bc000-023c-11ea-9aca-efe49def040f.gif)

### Expected behavior
- "Deleted {page}" snackbar should align to the toolbar

### Actual behavior
- "Deleted {page}" snackbar align

[2019-11-08 23:26] Baron-Severin opened #6527 "[Bug] Delete bookmark snackbar is misaligned"
###  Steps to reproduce
- Navigate to any website
- Bookmark website
- Click "Edit" on the "Bookmark saved!" snackbar
- Delete bookmark

![delete-bookmark-snackbar](https://user-images.githubusercontent.com/13170306/68517336-0c8bc000-023c-11ea-9aca-efe49def040f.gif)

### Expected behavior
- "Deleted {page}" snackbar should align to the toolbar

### Actual behavior
- "Deleted {page}" snackbar align

[2019-11-08 23:38] NotWoods commented on #6527
Duplicate of #6526

[2019-11-08 23:38] #6527 closed

[2019-11-08 23:43] Baron-Severin commented on #6527
Whoops.  Thanks @NotWoods!

[2019-11-08 23:54] liuche commented on #1383
Thanks for the quick reply! Yes, for pages that don't have a `<title>...</title>` styling. (In this particular case, I suspect this is a Fenix bug, rather than the page not having a title.)

What we could try here @mcarare is reading the url (or just the domain, if that is straightforward). Is there a bug filed for missing titles?

[2019-11-09 00:12] liuche opened #6528 "[Bug] Can't tap on "Sign into Google" button with Tracking Protection enabled"
## Steps to reproduce
Go to www.safelanes.org > "Try it now" > 3-dot menu in top left > click user account circle
On account sign-in page, click "Sign in with Google"

### Expected behavior
Allows signing in from Google

### Actual behavior
Button text can be highlighted, button text can't be clicked

Turning off Tracking Protection will allow clicking on Google sign-in button.
If **"Standard"** t

[2019-11-09 00:25] liuche commented on #4994
Any update @hackertronix, or can we open this bug up for someone else to work on?

[2019-11-09 00:53] liuche opened #6529 "Add a Nightly smoketest before publishing Nightly"
We've had some Nightly startup crashes lately, and this could be fixed by running some basic test/CI as part of the Nightly task (such as hitting a mock url).

@rpappalax is looking into this!

[2019-11-09 00:54] Baron-Severin commented on #6302
I filtered out the #s that point to PRs.  Those that point to issues are named:
- Turn on ETP for all users
- "Search with" and "Search or enter address" strings improperly positioned in RTL
- "Download" button's UI should have the Fenix specifics
- No Search Shortcuts shown if tap on URL
- Search suggestions multiply for non-default providers
- RuntimeException: Unable to create application org.m

[2019-11-09 00:59] Baron-Severin commented on #6302
Boiled the above down to.
[code]

🤦‍♂  so much wasted work

[2019-11-09 02:05] Baron-Severin commented on #6302
Hey @bifleming @liuche, the process of going through these issues took a few hours, and was very manual.  [I've scripted some of it](https://github.com/mozilla-mobile/fenix/pull/6509), so hopefully it'll be a bit quicker next time, but it still feels like a lot given the eventual output.  I'm not sure what we should be doing instead, but I think finding a better solution to this should be on our r

[2019-11-09 05:47] ildar commented on #162
Wrong.
rfc2822's repo is just a copy of the Mozilla build. F-Droid builds all apks
from source

[2019-11-09 06:27] martynhaigh commented on #4205
@ekager yeah, still seeing this

[2019-11-09 06:30] hakkikaancaliskan commented on #6384
@sblatz waiting for update to include that commit. Current Android components commit is 09da19708.

[2019-11-09 10:35] rache59 commented on #6133
Sure.

[2019-11-09 10:45] Cheap-Skate commented on #6284
Not completely fixed for me on Fenix 191108 18:00 build #13121810 on Galaxy S7 Android 9.0.0.

Tap the URL to enter the Search screen
Search shortcuts are not shown ie **the Shortcuts button is NOT depressed** <<< NOT EXPECTED & STILL BROKEN

Tap the "Shortcuts" button
The "SEARCH WITH" text appears, **the list of Search Shortcuts is populated** << EXPECTED & FIXED

[2019-11-09 13:29] lindongbin opened #6533 "[Bug]Crash after force close Fenix"
1. Install latest fennec production
https://tools.taskcluster.net/index/project.mobile.fenix.v2.fennec-production/latest
2.Open
3.Force close
4.Reopen

Crash:
 java.lang.RuntimeException: Unable to create application org.mozilla.fenix.MigratingFenixApplication: java.lang.IllegalStateException: Unrecognized migration type: Migration$FxA
	at android.app.ActivityThread.handleBindApplication(ActivityT

[2019-11-09 16:35] robsmith11 commented on #3729
I was just wondering: if keyboard shortcuts are hardcoded in Fenix, would it still be possible for addons to override them?

[2019-11-09 16:37] andreasbovens opened #6534 "[Bug] Browser crashes when camera is opened on instagram.com"
## Steps to reproduce
Log in on instagram.com
Tap on the camera icon in the top left corner

### Expected behavior
Camera / camera permission prompt is shown.

### Actual behavior
Browser crashes

### Device information

* Android device: OnePlus 5
* Fenix version: Nightly 72

[2019-11-09 19:30] vesta0 opened #6536 "[Spike] Private browsing discoverability"
Please investigate feasibility and dependencies of #6382

[2019-11-09 22:14] vesta0 commented on #5664
@rocketsroger yes we should avoid the infinite reload.

[2019-11-09 23:56] vesta0 opened #6537 "[UX] Easy access to top share app"
## User Story
- As a user, I want a quick easy way of sharing to the app I most frequently use for sharing, so I can save time.

In both Chrome and Fennec, the top share app shows up as an icon in the browser toolbar menu.

### Acceptance Criteria
- I can quickly share a page to the app I most frequently use for sharing.
- [Telemetry Ticket] Track how often users choose to tap on the top share app

[2019-11-10 12:50] blikblum commented on #6054
Long time Firefox (Desktop and Mobile) here.

This week just tried Firefox Preview and after a few moments using it, i switched back to Firefox Mobile because i could not get used with the navbar on bottom (years and years using navbar on top).

Waiting for the 3.0 version, with ability to set top navbar, be available on Play Store to try Preview again.

You could expose somehow this option on onb

[2019-11-10 16:11] yaomtc opened #6538 "Option to disable swipe on collections"
### Why/User Benefit/User Problem
Several times I've accidentally swiped away an item in a collection when I was meaning to scroll down. (Also, the "undo" option didn't appear last time this happened. Isn't it supposed to, or is that just tabs?)

### What/Requirements
An option in a menu somewhere, or in about:config (once that gets added back in) to disable swipe-to-remove on Collections.

┆Issue

[2019-11-10 16:37] NotWoods commented on #2924
This is pretty tough to do since individual pages can have their own icons. Since May we've made the icon loading more consistent. I don't think this is needed anymore so I'm going to close the issue, feel free to respond if you disagree and I'll reopen it.

[2019-11-10 16:39] NotWoods commented on #955
Updated the main comment to reflect that swiping has been implemented.

[2019-11-11 02:02] brampitoyo commented on #6380
Just a heads up that I’m thinking to work on this issue on this sprint. Stay tuned for confirmation.

[2019-11-11 04:17] vesta0 commented on #6054
Thanks @blikblum that is very helpful feedback. We will look into how we can surface this during onboarding.

[2019-11-11 04:26] vesta0 opened #6539 "Choice of top/bottom nav during onboarding"
## User Story
As a new user, I want to know about the browser customization settings available to me, so I can create the browsing experience that works best for me, without having to dig into settings.

We could add a card similar to the "theme" card. This is NOT a requirement for launching this feature. It would be interesting to see how many users switch to "top nav" on their own before we surf

[2019-11-11 05:01] xxkfqz opened #6540 "[Bug] Overwriting files with the same name"
## Steps to reproduce

Download same and/or different files with the same name (e.g. `0.jpg`) multiple times.

### Expected behavior

Some enumerated files with same name:
* `0.jpg`
* `0.jpg (1)`
* `0.jpg (2)`

### Actual behavior

Overwriting original file. Only last downloaded file will be saved.

### Device information

* Android device: Xiaomi Redmi 6A, Android 8.1
* Fenix version: 2.3.0-rc1

[2019-11-11 05:01] xxkfqz opened #6541 "[Bug] Overwriting files with the same name"
## Steps to reproduce

Download same and/or different files with the same name (e.g. `0.jpg`) multiple times.

### Expected behavior

Some enumerated files with same name:
* `0.jpg`
* `0.jpg (1)`
* `0.jpg (2)`

### Actual behavior

Overwriting original file. Only last downloaded file will be saved.

### Device information

* Android device: Xiaomi Redmi 6A, Android 8.1
* Fenix version: 2.3.0

[2019-11-11 05:07] #6540 closed

[2019-11-11 06:11] makotokato commented on #4208
@Poopooracoocoo I would like to define this issue cleary since I don't reproduce jump etc (If using arrow key on GBoard, cursor cannot set expected position) on Fenix Nightly.

Although you say https://github.com/mozilla-mobile/fenix/issues/4208#issuecomment-532053657, but no exactly reproduce step.  Do you have reproduce step for this issue?  And I would like to see screencast when this occurs.

[2019-11-11 09:51] sv-ohorvath commented on #6071
It's getting stuck on the confirm sign in page using email as well.

[2019-11-11 09:52] mcarare commented on #1383
@liuche https://github.com/mozilla-mobile/fenix/issues/5351 is similar to this issue.

[2019-11-11 10:01] sv-sdeiac opened #6543 "[Bug] The keyboard remains displayed after creating a new folder"
## Steps to reproduce
1. Create a new bookmark folder and tap on the name field;
2. Write a name and tap on the create button.

### Expected behavior
When you exit from the creation mode, the keyboard is hidden.

### Actual behavior
The keyboard remains on top when you exit the creation mode.

### Device information

* Android device: Xiaomi Mi Pad 2 (Android 5.0.1), Samsung Galaxy Note 8 (Android

[2019-11-11 10:36] isabelrios opened #6544 "[UITests] Account Settings - History and Bookmark checkboxes can not be identified by the tests"
In order to have complete UI Tests for the Account Settings menu it would be necessary  to be able to detect and verify if the Bookmarks or History checkboxes are selected or not and if clicking on them works as expected.

So far there is no way to access those elements to check their status. Please see the elements as they are now:
![Screenshot 2019-10-29 at 17 08 18](https://user-images.githubus

[2019-11-11 14:28] sv-ohorvath commented on #6279
v3.0.0-beta 1 is affected.

[2019-11-11 14:34] cadeyrn commented on #6279
The current stable release Fenix 2.3.0 is also affected.

[2019-11-11 15:12] callahad opened #6545 "[Bug] Fenix not offered as handler for browser keyboard shortcut"
## Steps to reproduce

* Connect Bluetooth keyboard to Android device
* Press <kbd>Search</kbd> + <kbd>b</kbd>

### Expected behavior

* Fenix is offered as a handler for the system-wide Browser shortcut

### Actual behavior

* Fenix is not present in the list of suggested apps. Chrome and Fennec are listed:

    ![android-search-b-shortcut](https://user-images.githubusercontent.com/24193/68597593

[2019-11-11 16:41] pocmo commented on #6279
Are you able to reproduce that with Nightly?

[2019-11-11 16:55] Baron-Severin commented on #6070
This is waiting on #1019, which will add the UI element that requires telemetry.

[2019-11-11 16:58] sblatz commented on #6284
I believe this is the expected behavior. We only want to show the search shortcuts by default when going from Home -> Search:

https://github.com/mozilla-mobile/fenix/issues/4736

[2019-11-11 17:13] Baron-Severin commented on #3869
We expect that changes made in #5577 will fix this bug as well.

[2019-11-11 17:29] Cheap-Skate commented on #6284
Weird. But then, Fenix is pretty weird all round.

I just tap on the bar at the bottom of the screen when I want to search. Sometimes I get search shortcuts, sometimes I don't, depending on a fairly obscure context in which I do the tap. Same gray bar, same Google favicon, same position on screen, same tap, different outcome.

But I wonder if all this Search Shortcuts stuff changes radically when

[2019-11-11 17:33] massic80 commented on #6279
I just tested with Nightly 191109 06:20 (Build #13130627) and still got a crash.

[2019-11-11 18:08] Cheap-Skate commented on #6284
A more useful comment:-

Perhaps you guys at Mozilla see a much stronger distinction between the Home page (with the Firefox logo) and a normal Tab page than Joe Averageuser (me). If that were true it would explain why you see it as OK to have "special" behaviors from Home (Firefox logo) page e.g.
- showing the Search shortcuts (or not) when tapping the gray bar with the Google logo
- back button

[2019-11-11 19:07] liuche commented on #2159
@cpeterso I added this `needs:gecko` label, for things that also need a Gecko change (not just GV). Could you update the labels for the other bugs to reflect that? (and updating the `needs:gv` if that's still relevant, or simply a Gecko change)

[2019-11-11 19:08] liuche commented on #2159
@cpeterso I added this needs:gecko label, for things that also need a Gecko change (not just GV). Could you update the labels for the other bugs to reflect that? (and updating the needs:gv if that's still relevant, or simply a Gecko change)

cc @boek @bifleming

[2019-11-11 19:40] sblatz commented on #6514
I cannot reproduce this on master. Galaxy S9 (Android 9)

[2019-11-11 19:58] hawkinsw commented on #5020
See https://github.com/mozilla-mobile/fenix-nightly-perftest-results. Going to close this for now. If we want to do more with this system then we can track progress in another issue.

[2019-11-11 19:59] #5020 closed

[2019-11-11 20:09] mcomella commented on #4783
Triage: waiting on any form of page load testing with visual metrics.

[2019-11-11 20:16] mcomella opened #6547 "Investigate & file issues if there is main thread IO on app startup"
Note: this is broken out from https://github.com/mozilla-mobile/fenix/issues/4068 as a higher priority use case.

### What
We've prioritized startup metrics as important: we should make sure we're not performing IO on the main thread during startup because it's one of the most obvious perf wins.

### Impact
By not doing this, we're not taking advantage an obvious source of perf wins.

### Acceptan

[2019-11-11 20:16] mcomella commented on #4068
Triage: this is an important source of perf wins but we're primarily concerned for startup. We broke https://github.com/mozilla-mobile/fenix/issues/6547 into a separate issue to focus on that case.

[2019-11-11 20:17] mcomella commented on #5867
Triage: waiting on https://github.com/mozilla-mobile/fenix/issues/5866

[2019-11-11 20:18] mcomella commented on #5866
Triage: waiting on whether or not we have enough capacity to do this.

[2019-11-11 20:21] mcomella commented on #5871
Triage: closing. We moved this into a UR research question and, if it comes up as a problem in UR, we'll file a new, actionable issue for it.

[2019-11-11 20:21] #5871 closed

[2019-11-11 20:21] mcomella commented on #5285
Triage: closing. We believe this regression was a one-off issue – potentially bustage in the ND heuristic – and don't feel it's still an issue. If it comes up again, we can revisit.

[2019-11-11 20:21] #5285 closed

[2019-11-11 20:23] ekager opened #6548 "[Bug] If Date Picker dialog is displayed, opening a new tab does not dismiss it"
## Steps to reproduce
1. Go to a website that has a date picking element (ie https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date)
2. Open date picker dialog
3. Leave it open and pause Fenix, go to another app and launch a link to open in Fenix non custom tab (ie messages)

### Expected behavior
New link launches and not dialog is displayed

### Actual behavior
New link launches, d

[2019-11-11 20:24] mcomella commented on #6307
Triage: blocked on finalizing our ND test: #6507.

[2019-11-11 20:56] marcinwiacek opened #6549 "[Bug] Big lags after using filter: invert(100%);"
## Steps to reproduce
1. open www.mwiacek.com
2. click Color on the right top corner to enable dark mode

### Expected behavior
Page scrolling is nice.

### Actual behavior
Huge lags in refresh (Chrome is OK).

### Device information
* Android device: Galaxy S7
* Fenix version: 2.3.0

[2019-11-11 21:21] ekager commented on #2929
@pwd-github are you still seeing this on your device? On my device it could certainly mathch the Fenix theme more closely, but it doesn't look as broken as the above imgur link

[2019-11-11 21:40] cpeterso commented on #2159
OK. I'll add `needs:gecko` and remove `needs:gv` as needed for these bugs:

https://github.com/mozilla-mobile/fenix/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3Aneeds%3Agv+-label%3Aneeds%3Agecko

[2019-11-11 22:07] rubcap commented on #6437
I created a mock-up with a possible solution for this issue:
![Mock-up_Fenix_newtab](https://user-images.githubusercontent.com/26146350/68624051-3d872180-04d6-11ea-8789-bcce6d7b6506.png)

1. In the menu bar containing "Scan" and "Shortcuts", additional menu items are added: "Bookmarks" and "History". Users who want to open a bookmark from the new tab page, simply tap "Bookmarks" to show the bookma

[2019-11-11 22:27] cpeterso commented on #6380
This GV fix will require some Gecko (and desktop Firefox) changes, too.

[2019-11-11 22:31] cpeterso commented on #5844
The GV bug has been fixed in GV 72 Nightly:

https://bugzilla.mozilla.org/show_bug.cgi?id=1586496#c15

[2019-11-11 22:32] cpeterso commented on #5783
Web Share Target may require both GV and Gecko work.

[2019-11-11 22:35] cpeterso commented on #5163
GV will need some Gecko changes to support these autoplay options. Randall is coordinating with the Gecko Media team.

[2019-11-11 22:46] mcomella opened #6552 "Investigate if we can reduce app installed size (currently 169 MB)"
### What/user problem
The installed size of v2.3.0 is 169 MB on my Pixel 2 (N.B.: this _excludes_ user data and cache): this seems rather large, especially compared to the ~57 MB download size.

### Impact
I'm concerned users will be more likely to uninstall the app if it takes up a lot of space on their devices, especially for older devices with less storage.

### Acceptance criteria
- ?

---

I

[2019-11-11 23:05] cpeterso commented on #3336
TBD whether this fix requires a Service Workers fix in Gecko.

[2019-11-11 23:08] cpeterso commented on #1175
More GV bugs:
https://bugzilla.mozilla.org/show_bug.cgi?id=1524091
https://bugzilla.mozilla.org/show_bug.cgi?id=1506924

[2019-11-11 23:13] ekager opened #6553 "[Bug] CWTS looks buggy when checkboxes are pressed quickly"
## Steps to reproduce
1. Change selection of which checkbox options you want to sync

### Expected behavior
Checkboxes are either greyed out if they shouldn't be changed or the checks work

### Actual behavior
Sometimes clicking checkbox will not change the value if another checkbox has just been checked
![ezgif com-video-to-gif(4)](https://user-images.githubusercontent.com/25442310/68628518-aa2df

[2019-11-12 00:53] brampitoyo commented on #6436
@sblatz Android natively shows a toast with “Can’t open file”:

<img width="360" src="https://user-images.githubusercontent.com/51007/68632421-57b31500-0553-11ea-889a-e66037271053.png">

So, we should also follow that example and show a toast above our URL bar:

<img width="360" src="https://user-images.githubusercontent.com/51007/68632448-70bbc600-0553-11ea-8fce-b2d907d903a4.png">

What should we

[2019-11-12 04:04] liuche opened #6556 "Telemetry counts for Search Access Point"
Need to verify that we're correctly collecting searches from Fenix's Search Access Points (SAP) (like urlbar, search engine, etc). Here is the list of [Desktop's access points](https://searchfox.org/mozilla-central/source/browser/modules/BrowserUsageTelemetry.jsm#63) to compare to.

### Acceptance Criteria
- [x] Telemetry type ~~created that is similar to the [desktop SEARCH_COUNTS histogram](http

[2019-11-12 04:04] liuche opened #6557 "Telemetry counts for Follow-on and Organic Search"
[Meta bug](#6448)

Need to count the in-web-content searches, such as follow-on search counts (continuing to search from an existing search). This relies on **url loads against a whitelist of search engines** of partner codes and URL formats - caveat, the whitelist only covers the top partners (and is incomplete, plus search engine urls may change).

### Acceptance Criteria
- [ ] Get Mobile search

[2019-11-12 04:14] liuche opened #6558 "Ad click attribution counts"
As part of search attribution parity with Desktop, we also need to collect
- Count of partner search pages w/ ads
- Count of ad clicks

### Acceptance Criteria
- [ ] Telemetry type ~~created that is similar to the [desktop browser.search Scalar](https://searchfox.org/mozilla-central/source/toolkit/components/telemetry/Scalars.yaml#4305), or a similar data format cleared by Frank Bertsch (Data Engi

[2019-11-12 04:36] liuche commented on #6448
Hey @fbertsch, could you give some thoughts as to how the corresponding Histograms and Scalars should be set up in Mobile? I don't believe we have either of those, so what should they look like? We could also ask the Glean team (cc @Dexterp37 ) what they would suggest.

@fbertsch could you also provide some sample histogram or scalar data, to get a more concrete example of what this data should lo

[2019-11-12 06:18] cadeyrn opened #6559 "[Bug] back button is missing from the menu"
### Steps to reproduce

1. open a website and press a link
2. press the menu button

### Expected behavior

There is a back button.

### Actual behavior

After the removal of the QAB there is no longer a back button in the menu making it impossible for me to use Fenix with one hand (in most cases).

### Device information

* Android device: OnePlus 7T Pro McLaren Edition with Android 10
* Fenix ve

[2019-11-12 07:22] cadeyrn opened #6560 "[Bug] border of active tab has a different size than the tab"
### Steps to reproduce

1. look at your open tabs on the start screen

### Expected behavior

The border of the active tab has the same size as the tab itself.

### Actual behavior

The tab size is larger than the border.

![Screenshot_20191112-081712](https://user-images.githubusercontent.com/1100614/68650551-8f0acd00-0525-11ea-848c-d7d24b18bc1d.jpg)

### Device information

* Android device: One

[2019-11-12 09:02] Dexterp37 commented on #6448
Hey @liuche ! We do have [both scalars and histograms](https://mozilla.github.io/glean/book/user/metrics/index.html) in the Glean SDK, they are just better scoped (e.g. counts vs uint, labeled counts vs keyed histograms) :-)

Can you list the specific Desktop metrics you're interesting in porting over to Fenix?

The ones you listed in [the first comment](https://github.com/mozilla-mobile/fenix/iss

[2019-11-12 10:09] sv-ohorvath commented on #6255
@NotWoods I installed the beta app on a Nexus 5, API 22 emulator and the launcher icon is still square, same for Nightly. https://www.screencast.com/t/kLuLJ7AxHIRZ
What am I doing wrong?

[2019-11-12 10:25] SuperAIdesu opened #6562 "[Bug]Can't load search result after toggling VPN"
## Steps to reproduce
Turn off and on VPN, and maybe switching between data and wifi at the same time. This will cause a temporary(several seconds) network failure. At this moment, search something in the bottom search bar.
### Expected behavior
The page may not be loaded at the first attempt, but after the network become available again the page can be loaded. This is the observed behavior on Chr

[2019-11-12 10:25] SuperAIdesu opened #6563 "[Bug]Can't load search result after toggling VPN"
## Steps to reproduce
Turn off and on VPN, and maybe switching between data and wifi at the same time. This will cause a temporary(several seconds) network failure. At this moment, search something in the bottom search bar.
### Expected behavior
The page may not be loaded at the first attempt, but after the network become available again the page can be loaded. This is the observed behavior on Chr

[2019-11-12 10:44] #6563 closed

[2019-11-12 10:46] SuperAIdesu commented on #6562
Sorry, my browser (desktop chrome,btw) failed and sent two of the same issue. (#6562 and #6563) I have closed the second one.

[2019-11-12 11:11] rmbq commented on #3993
Totally agree, i made some (very bad) screenshot
![photo_2019-11-12_11-49-17](https://user-images.githubusercontent.com/2061140/68667082-70b4c980-0545-11ea-8ad4-008cb05463e1.jpg)
![fenix_search](https://user-images.githubusercontent.com/2061140/68667094-76121400-0545-11ea-9ef0-0b672984fd36.jpg)
![photo_2019-11-12_11-49-24](https://user-images.githubusercontent.com/2061140/68667103-790d0480-0545-11

[2019-11-12 12:35] sv-ohorvath opened #6564 "[Bug] Paused/interrupted download shows as completed in-app notification"
## Steps to reproduce
1. Download a large file. Pause it.
Or, cut-off the WIFI.
2. Check the in-app download notification.
3. Check the system notification,
4. Tap Open
### Expected behavior
"Download failed. Try again" should be displayed.
### Actual behavior
"Download completed. Open" is displayed in-app.
The system notification shows it as completed.
The file is not entirely downloaded, so it w

[2019-11-12 12:37] achanu opened #6565 "[Bug] Sync "Device name" reset on application update"
## Steps to reproduce
Have a sync acxount on Firefox Preview
Change the name in "Device name"
Install an update
The name is reset by "Firefox Preview on ..."

### Expected behavior
Keeping the custom name

### Actual behavior

### Device information

* Android device: Samsung Galaxy S7
* Fenix version: 2.3.0 (Build #13031728)

[2019-11-12 12:37] achanu opened #6566 "[Bug] Sync "Device name" reset on application update"
## Steps to reproduce
Have a sync acxount on Firefox Preview
Change the name in "Device name"
Install an update
The name is reset by "Firefox Preview on ..."

### Expected behavior
Keeping the custom name

### Actual behavior

### Device information

* Android device: Samsung Galaxy S7
* Fenix version: 2.3.0 (Build #13031728)

[2019-11-12 12:39] achanu commented on #6566
Duplicate of #6565 due to browser refresh issue

[2019-11-12 12:39] #6566 closed

[2019-11-12 13:21] veyselerden commented on #6480
Why just Germany? I am not in Germany but want to use Ecosia with Fenix, not Ecosia app on Android which is based on Chromium.

[2019-11-12 13:48] AndiAJ commented on #4456
Hi, I've just re-tested on Nightly Build #13160607 from 12/11 using a Google Pixel 3a XL (Android 9) phone and learned the following:

Performed 3 searches and generated the metrics ping:
"metrics.total_uri_count": "4"

Performed 6 searches and generated the metrics ping:
"metrics.total_uri_count": "7"

[Logcat](https://github.com/mozilla-mobile/fenix/files/3836327/metric.uri.txt)
[Glean dashboard

[2019-11-12 13:50] mcarare commented on #1019
@AmyYLee Do we want to show the hint the first time the user opens the search in private, or after he starts typing (the "Fill link from clipboard" disappears at that moment)?
For the first option, do we want to show it below or above "Fill link from clipboard"?
TY!

[2019-11-12 13:56] Dexterp37 commented on #4456
@AndiAJ what is the id of the specific ping that shows up on the dashboard but not in the logs? I randomly picked `52c2e975-6998-4ac2-bc94-46fcf189d0c0` from the debug view and it shows up in the logs.

[2019-11-12 13:58] designhubby opened #6567 "Font Poor Contrast, Require Accessibility Function: Bold"
## Steps to reproduce
Firefox Preview: Font Poor Contrast, Require Accessibility Function: Bold
On hi-res E ink devices like Boox Max 2, the font display is very Faint. The native browser has been customized to bold all text. On Firefox Preview I tried using the Accessibility setting to increase font size but it is still hard to read because the text is thin. Please improve readability by implemen

[2019-11-12 15:32] pocmo commented on #6480
Alright. In this case we could still consider landing the search plugin in AC. Focus and Fire TV have custom code to mix in and filter search engines. This should also work for adding this search engine dynamically.

[2019-11-12 15:46] rocketsroger commented on #5664
Understood.  Thanks,

[2019-11-12 16:09] sv-ohorvath opened #6570 "[Bug] Can't pause or cancel a download if you close the app"
## Steps to reproduce
1. Start to download a large file.
2. Kill the app from the task manager.
3. Drag down the notification panel and try to cancel or pause the ongoing download.
### Expected behavior
The download is stopped.
### Actual behavior
Once you kill the app, the download doesn't make any progress but neither gets paused/canceled.
### Device information

* Android device: Pixel (Android

[2019-11-12 16:43] sblatz commented on #6570
@sv-ohorvath

Is this when you force close the app from the app switcher or in settings pressing "force stop"?

[2019-11-12 16:44] sblatz commented on #6436
Now that https://github.com/mozilla-mobile/android-components/pull/5031 is merged, this should be testable in our next nightly :)

[2019-11-12 17:01] sblatz commented on #6559
This is expected behavior when we removed the QAB: https://github.com/mozilla-mobile/fenix/pull/6310

This was an explicit decision made by UX to reduce overcrowding of the menu toolbar. Because of that, we are deferring to the system back button's use here.

That being said, UX is considering re-organization of this toolbar menu, perhaps this feedback is better situated there: #5095

[2019-11-12 17:01] #6559 closed

[2019-11-12 17:10] julienw commented on #4205
@ekager Yes, still seeing this too!

[2019-11-12 17:16] cpeterso commented on #1686
@boek says he will confirm the current user experience.

What does Chrome?

[2019-11-12 17:19] cpeterso commented on #6169
The GV bug fix landed today and should be available in tomorrow's GV 72 Nightly build:

https://bugzilla.mozilla.org/show_bug.cgi?id=1590435#c9

[2019-11-12 18:31] jhugman commented on #4205
This is a missing feature of Fenix's BasicAuth dialog. Android triggers an autofill request when an `EditText` is entered, and guesses at the autofill `ViewStructure` that password managers will use.

The password managers use the package name to find the account to offer to autofill.

For browsers, it needs to add the [`webDomain` property][1] for page specific text boxes. GeckoView is already do

[2019-11-12 18:37] sblatz commented on #6552
FWIW: Fennec is 174MB after installing.

[2019-11-12 18:40] sblatz commented on #6139
I'll take this away and investigate if it's working now :)

[2019-11-12 18:43] Baron-Severin commented on #6302
Per @liuche: with the beta cycle, on the 3rd Tuesday of the cycle (today) we would normally release the previous version.  Since this is the first beta cycle, nothing will happen today.  3.0 will be promoted to release on the next cycle.

The release docs will soon be updated with more details regarding betas.

[2019-11-12 18:45] sblatz commented on #4525
@vesta0 When I was implementing the download notification, I found that we actually *could* add a progress bar to the notification. Is that something we want to prioritize as a must/should?

My *rough* engineering estimate is ~E5 for this :)

[2019-11-12 18:50] jonalmeida commented on #4205
As far as I know, LastPass have not whitelisted the Preview Nightly app ID, so this test may not be valid. @ekager might be able to correct me.

[2019-11-12 18:50] cpeterso commented on #4502
We should keep in mind the user experience of playing landscape video on devices with display cutouts (notches).

[2019-11-12 18:59] darkwing commented on #6168
Closing since the PR was merged.

[2019-11-12 18:59] #6168 closed

[2019-11-12 19:05] AmyYLee commented on #1019
@mcarare Hi, can we have this show the first time the user starts typing? This is the same as Focus. Thanks

[2019-11-12 19:07] cadeyrn commented on #5905
@sblatz said in #6559:

So I want to repeat my feedback from the closed issue:

---

Unfortunately most smartphones today are really big making it impossible for some people to reach the bottom left of the smartphone with the right hand - including the back button of the device. But with Fenix you was able to navigate back with only only one hand before the removal of the QAB - this was a really b

[2019-11-12 19:12] cadeyrn commented on #6560
Additional information: the bug does not always appear. Sometimes it looks okay but after switching between an open tab and the start screen a few times the bug suddenly appears.

[2019-11-12 19:15] sblatz commented on #4456
@AndiAJ can you tell me what steps you're performing to do these searches? I've tested locally and I seem to be getting the right number of total_uri_count (3 searches = 3 for total_uri_count).

[2019-11-12 19:30] sblatz commented on #4383
https://github.com/mozilla-mobile/fenix/pull/6571 will give us dynamic toolbar on top, but not for bottom

[2019-11-12 19:59] lime124 commented on #2818
sorry for being slow @AmyYLee - i agree the it should be a minimal effort. if i recall it's mostly reviewing the implementation. @jonalmeida calls out a good use case to consider and make a decision on. feel free to pick this up amy

[2019-11-12 20:25] cadeyrn opened #6572 "[Bug] Black screen during start if device = dark mode & Fenix = light mode"
Updated summary in https://github.com/mozilla-mobile/fenix/issues/6572#issuecomment-569783784

### Steps to reproduce

1. start Fenix

### Expected behavior

Fast and smooth start, similar to Fennec.

### Actual behavior

Fenix is much slower than Fennec and shows a black screen during the start. The screencast show Fenix and Fennec.

![20191112_212159](https://user-images.githubusercontent.com/11

[2019-11-12 20:28] sblatz commented on #6439
This **may** be fixed in the newest version of AC, but we haven't gotten new snapshot for Fenix, so maybe it's just because we haven't gotten a new snapshot.

[2019-11-12 20:31] sblatz commented on #2579
QA can you verify this is still happening?

[2019-11-12 20:32] sblatz commented on #5581
QA: can we verify these bugs are still being encountered?

[2019-11-12 20:36] sblatz commented on #3885
Does this still happen now that the quick action bar is gone?

[2019-11-12 20:38] sblatz commented on #2493
@vesta0 my understanding is that this is an explicit design decision by us--we do not want to store the private tabs on the device. Because of this, the trade-off is that if the system does decide to kill our app, a user will lose their private tabs. This is not going to happen super often because we do have a foreground notification now.

Can I close this as expected behavior if the system decide

[2019-11-12 20:39] sblatz commented on #4929
I don't think this is an issue anymore. I cannot reproduce this on master on my Galaxy S9.

QA can you please verify?

[2019-11-12 20:40] sblatz commented on #4309
@Baron-Severin do you know if this still happens even though we removed the QAB?

[2019-11-12 20:43] concastinator opened #6573 "[Bug] No acknowledgement of link opened in a new tab"
## Steps to reproduce

Long press on any link and choose "Open link in new tab".

### Expected behavior

The link should open in a new tab and, as in Fenix 2.3.0, the user should be presented with the text "New tab opened    SWITCH".

### Actual behavior

The link indeed opens in a new tab but, unlike in Fenix 2.3.0, the user is NOT presented with the text "New tab opened    SWITCH", so that inexp

[2019-11-12 20:45] jonalmeida commented on #3262
@NotWoods removing from our sprint planning board since we're not sure if it's actively being worked on. It's also a user story that doesn't have defined work in it.

[2019-11-12 20:57] evertonstz commented on #2579
Yes, still happens.

[2019-11-12 20:58] darkwing commented on #6470
An improvement could be to make the label say "Delete open tabs", and upon tapping that text, we delete the tabs, the text goes away, and the user can tap "Open" to open the app.

[2019-11-12 21:05] ekager commented on #6573
I think the snackbar still shows, but is maybe showing behind the toolbar now?

[2019-11-12 21:24] mcomella commented on #6552
FWIW: Chrome is 27 MB after installing on my Pixel 2. Perhaps they use app bundles and `extractNativeLibs` to reduce their APK size.

[2019-11-12 21:30] sblatz commented on #6541
QA, can you verify this is happening?

I believe this should already be working: https://github.com/mozilla-mobile/android-components/pull/4759/files#diff-1afe9814d5a6a01d2409ea692e25e725R99-R107

[2019-11-12 21:34] ekager commented on #2294
Looks like these changes should impact bookmarks and history since they share a layout file `library_site_item`

[2019-11-12 21:47] AmyYLee commented on #2818
Hi @jonalmeida if it's possible to play a video in PIP while being able to go to a different tab we should do this. We are able to do this in desktop and I don't see any negatives if we allow this on Fenix.

[2019-11-12 22:03] kbrosnan commented on #6552
I don't think that is realistic comparison. Is the Blink/WebView engine counted in the 27 MB?

[2019-11-12 22:09] sblatz commented on #2579
@evertonstz I believe this would be fixed in our nightly & beta build :)

[2019-11-12 22:22] ekager commented on #2294
@vespertineSiren is going to pick up this issue

[2019-11-12 22:22] vespertineSiren commented on #2294
I would like to be assigned this :)

[2019-11-12 23:30] mcomella commented on #6507
mconley mentioned desktop's automation tests use the same metrics as their telemetry (e.g. cold startup automation just prints the cold startup probe; our cold start telemetry in #5912). This feels like a good idea to me and suggests to me that we should write our own test.

However, it will make it more work for us to measure ourselves against other products (e.g. Fennec 68, Chrome) because each

[2019-11-12 23:52] mcomella commented on #5823
My plan for addressing this issue is:
- Wait for startup add-on query to start implementation and check over design (I think that’s https://github.com/mozilla-mobile/android-components/issues/4774)
- Wait for WebExt to be implemented and verify perf w/o add-ons installed and with add-ons installed

As such, I'm moving this to the Waiting column and unassigning because this is a ways off.

In the m

[2019-11-13 00:00] Baron-Severin commented on #4309
I didn't touch reader view control setup, so I'm fairly confident this will still be true.

[2019-11-13 00:17] cpeterso commented on #6439
Corresponding GV crash bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1595804

[2019-11-13 00:20] liuche commented on #6312
Closing this bc 2.3 is already at 100%

[2019-11-13 00:20] #6312 closed

[2019-11-13 00:57] mcomella commented on #6552
I verified the engine is not included in the APK and I agree that from a dev perspective it's not a realistic comparison.

However, this is what users will compare the apps :\ so we should take that into account.

[2019-11-13 01:27] liuche commented on #6354
@ekager update the checkboxes here, or reopen?

[2019-11-13 03:36] jonalmeida commented on #2818
Would you consider that a core requirement for PIP support? I ask this
because in it's current state, PIP can land immediately in Fenix, but
support for browsing would require some more work.

This might also be a Vesta question. :)

-Jonathan A

On Tue, 12 Nov 2019, 16:47 Amy, <notifications@github.com> wrote:

[2019-11-13 03:42] campbellkerr commented on #6358
Yes! I want to remove previous site visits that show up as suggestions when typing into the address/search bar.

[2019-11-13 08:03] hakkikaancaliskan commented on #6552
![Screenshot_20191113-110205](https://user-images.githubusercontent.com/17825767/68744191-ebd0bb00-05eb-11ea-88b0-8aea74df08f3.png)

It's 267 MB for me.

![Screenshot_20191113-110256](https://user-images.githubusercontent.com/17825767/68744218-03a83f00-05ec-11ea-9ce6-2090c112c833.png)

And latest nightly is 180 MB.

Xperia XZ1, Android 9

[2019-11-13 08:09] sv-ohorvath commented on #6570
@sblatz The first one: swipe to close it from the app switcher.

[2019-11-13 09:19] sv-ohorvath commented on #2579
Still reproducing on Nightly 191113. Can't download the files evertonstz and wisniewskit shared here.
Devices: Pixel (Android 10), Mi 4i (Android 5.0.2).

[2019-11-13 09:53] sv-ohorvath commented on #6436
Still reproducing on Nightly 191113. Now also when tapping Open in the in-app notification of a completed download.
you can also try these files:
- Download a zip file from https://www.thinkbroadband.com/download
- Or the tar.gz file from the assets of these builds: https://github.com/mozilla-lockwise/lockwise-addon/releases
- Or a .cia file from https://drive.google.com/file/d/1sC85X65g0B08JH05gz

[2019-11-13 10:18] sv-ohorvath commented on #5581
I can verify #3666 and #2579 and both are still reproducing. Don't have the know-how to test mozilla-mobile/android-components#1159.

[2019-11-13 11:33] TitanNano commented on #6279
https://photos.google.com is also affected by this. https://mail.google.com on the other hand not.

[2019-11-13 12:32] ebalazs-sv commented on #4980
Hi!
I tested this on Fenix Nightly 191109 GV 71 with Google Pixel 2 (Android 9), Google Pixel 3 (Android Q) and the user is kept logged in.
I filed the following issues, that might be related to this fix:
https://github.com/mozilla-mobile/android-components/issues/5041
https://github.com/mozilla-mobile/android-components/issues/5044
I could not verify this on other devices because of the start up

[2019-11-13 12:42] sv-ohorvath commented on #6384
@sblatz Still reproducing on Nightly 191113.

[2019-11-13 12:53] sv-ohorvath opened #6576 "[Bug] With "Save image" filenames are not shown in notifications"
## Steps to reproduce
1. Go to wikipedia, cnn or other images, long click and Save image.
2. Check the filename in the download notification.
### Expected behavior
The file name is displayed.
### Actual behavior
(null) is displayed instead of the filename.
### Device information

* Android device: Pixel (Android 10), Sony Xperia Z5 (Android 7.1.1)
* Fenix version: Nightly 11/13

[2019-11-13 12:54] sv-ohorvath commented on #5958
Removed the qa:needed label until the blocking issues are fixed.

[2019-11-13 13:37] hakkikaancaliskan commented on #6384
AC is stuck at commit 09da19708, thus fix pr not included in Fenix.

[2019-11-13 14:05] madb1lly commented on #955
In Fennec tabs can also be reordered by long press then moving, but not in Fenix.

[2019-11-13 14:14] hakkikaancaliskan commented on #6384
@sv-ohorvath maybe you should re-label this issue as qa needed until pr included in fenix?

[2019-11-13 14:30] travis79 opened #6577 "[Bug] TotalUriCount metric is being misused"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:30] travis79 opened #6578 "TotalUriCount metric is being misused[Bug]"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:31] travis79 opened #6579 "TotalUriCount metric is being misused[Bug]"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:31] travis79 opened #6580 "TotalUriCount metric is being misused[Bug]"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:32] travis79 opened #6581 "[Bug]TotalUriCount metric is being misused"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:32] travis79 opened #6582 "[Bug]TotalUriCount metric is being misused."
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:34] travis79 opened #6583 "TotalUriCount metric is being misused[Bug]"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:38] travis79 opened #6584 "TotalUriCount metric is being misused[Bug]"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:40] travis79 opened #6585 "TotalUriCount metric is being misused [Bug]"
[This metric](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L479), `totalUriCount` is defined as a `StringMetricType` but is clearly a counter. This is not in the spirit of how Glean is supposed to be used and has potential downfalls.

For instance: This metric is being stored in t

[2019-11-13 14:43] #6585 closed

[2019-11-13 14:43] #6584 closed

[2019-11-13 14:43] #6583 closed

[2019-11-13 14:44] #6582 closed

[2019-11-13 14:44] #6581 closed

[2019-11-13 14:44] #6580 closed

[2019-11-13 14:44] #6579 closed

[2019-11-13 14:44] colintheshots opened #6586 "[Bug] Audio/Video media restarts from background after silencing alarm"
## Steps to reproduce
1. Start an audio/video source website that can play in the background.
2. Pause that stream from pause button on the webpage.
3. Press Home.
4. Set an alarm for one minute later.
5. Snooze that alarm.

### Expected behavior
Paused audio remains paused.

### Actual behavior
The paused audio continues in the background.

### Device information

* Android device: Pixel 3 XL
* F

[2019-11-13 14:45] travis79 commented on #6578
Duplicates, Github error bit me.  My apologies :)

[2019-11-13 14:45] #6578 closed

[2019-11-13 14:50] csadilek commented on #3885
@sblatz Yes, this would still be happening, as the problem is unrelated to the QAB. The linked issue in A-C is blocked on better extension page support in GV.

[2019-11-13 14:51] Dexterp37 commented on #6577
For reference, this is about #6003

[2019-11-13 14:57] darkwing commented on #6175
Thank you for the report @rpsu!  I've reported this to MDN https://github.com/mdn/kuma/issues/6100

[2019-11-13 14:57] #6175 closed

[2019-11-13 15:16] travis79 commented on #6577
There also appears to be two `total_uri_count` metrics defined in the `metrics.yaml`, one in the [`events` category](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/metrics.yaml#L95) and one in the [`metrics` category](https://github.com/mozilla-mobile/fenix/blob/ebdfe8184e4458003c2fa150f7efe96e2402134c/app/metrics.yaml#L366), which is the one in question

[2019-11-13 16:00] AmyYLee commented on #2818
Can we land it in Fenix as is and file a follow-up ticket to allow for browsing in another tab while in PIP? @vesta0 What do you think?

[2019-11-13 16:01] AmyYLee commented on #2818
Can we land it in Fenix as is and file a follow-up ticket to allow for browsing in another tab while in PIP? @vesta0 What do you think?

[2019-11-13 16:21] sblatz commented on #6570
I spoke with @csadilek this sounds like this would be a bigger chunk of work and is likely related to something I'm doing wrong with keeping the service alive.

[2019-11-13 16:24] sblatz commented on #6439
Let's keep a pulse on this over the next few days but it seems to have disappeared?

[2019-11-13 16:27] pocmo commented on #4976
Fennec manifest:

[code]

[2019-11-13 17:37] NotWoods commented on #5581
I'll add steps to reproduce to the last bug, although right now it's definitely still failing as we are still waiting on GeckoView.

[2019-11-13 18:19] NotWoods commented on #6255
@sv-ohorvath Round icons only appear on Android 7.1

[2019-11-13 18:32] sblatz commented on #6577
I think this makes sense as a solution moving forward. Thanks for the clarification on this ticket; we weren't exactly sure how best to implement this :)

[2019-11-13 18:33] sblatz commented on #6577
Related to https://github.com/mozilla-mobile/fenix/issues/4456

[2019-11-13 18:34] Dexterp37 commented on #6577
Please feel free to reach out or ask for review from anybody on the Glean team! We're more than happy to help with any doubt!

[2019-11-13 18:48] ekager commented on #2294
@vespertineSiren and I cannot reproduce this anymore, so adding a QA needed

[2019-11-13 19:13] jonalmeida commented on #2818
@AmyYLee spoke offline with @vesta0 and we can land PIP as is, then iterate with the follow features. 🙌

Shall I create a new issue with that requirement, or would you want to create one with any additional details?

[2019-11-13 19:19] sblatz commented on #6576
This might be fixed by: https://github.com/mozilla-mobile/android-components/issues/5046

[2019-11-13 19:19] sblatz commented on #6564
Dupe of https://github.com/mozilla-mobile/fenix/issues/6434

[2019-11-13 19:21] sblatz commented on #5705
Re-opening for QA to verify

[2019-11-13 22:56] ekager commented on #4205
In theory, we should be able to add the domain to the dialog views of `AuthenticationDialogFragment` in AC `feature-prompts` as @jhugman described.

[2019-11-13 23:45] ekager commented on #4213
I think this was just a delay in getting translations. These seem to be present in our translated files now, closing

[2019-11-13 23:45] #4213 closed

[2019-11-13 23:48] ekager commented on #4228
This should be outdated since we no longer can remove one exception at a time and there is a new panel UI/logic for this. Closing

[2019-11-13 23:48] #4228 closed

[2019-11-13 23:49] ekager commented on #4245
We did this a long time ago. Closing

[2019-11-13 23:49] #4245 closed

[2019-11-13 23:52] ekager commented on #4196
This was a very old bug so I'm going to close this. Please open a new bug if you're still seeing this with STR :)

[2019-11-13 23:52] #4196 closed

[2019-11-14 00:07] NotWoods commented on #6279
This may be caused by conflicting file providers for downloads and the file picker. The original cause has been resolved but a new crash showed up.

[2019-11-14 00:11] ekager commented on #1695
In `ClipboardHandler.kt` after copying this link, `text` is returning `null` because the mime type is `text/html` not the expected `text/plain` - so we aren't even attempting to get the URL. I think if we open up the mime type this should work.

[2019-11-14 00:22] ekager commented on #2363
Could we turn on debug level logs only on debug builds?

[2019-11-14 00:26] ekager commented on #3123
We currently do attach the APKs to the GitHub release at least. I'm not sure if we're uploading them to archive.mozilla.org

[2019-11-14 00:28] ekager commented on #3654
After our re-arch with LibState and some added new UI tests, I think we can close this vague ticket

[2019-11-14 00:28] #3654 closed

[2019-11-14 00:29] ekager commented on #3876
This has been removed

[2019-11-14 00:29] #3876 closed

[2019-11-14 00:30] ekager commented on #1718
We have removed the QAB but should address the bottom toolbar issues

[2019-11-14 00:30] ekager commented on #2056
We have removed the QAB. Closing

[2019-11-14 00:31] ekager commented on #3282
We have removed the QAB. Closing

[2019-11-14 00:31] ekager commented on #4182
We have removed the QAB. Closing

[2019-11-14 00:31] #4182 closed

[2019-11-14 00:32] ekager commented on #5555
We have removed the QAB and I'm not seeing the same behavior in the browser menu on master. Closing!

[2019-11-14 00:32] #5555 closed

[2019-11-14 00:33] ekager commented on #6397
We removed the QAB, but I am seeing the option to open in app in the browser menu now when I go to m.facebook.com/events

[2019-11-14 00:38] ekager commented on #2432
This QR design is also being updated in https://github.com/mozilla-mobile/android-components/issues/4261

[2019-11-14 00:38] ekager commented on #2503
Closing because we have removed the QAB

[2019-11-14 00:39] ekager commented on #6154
Closing because we removed the QAB

[2019-11-14 00:39] #6154 closed

[2019-11-14 00:40] ekager commented on #5757
We have removed it. Closing

[2019-11-14 00:40] #5757 closed

[2019-11-14 00:42] ekager commented on #2642
Since we've redesigned the homescreen a bit is this still as noticeable/an issue to you all? I believe the issue is when we switch themes, we recreate and have to load the search icon. We could possibly cache it or have a placeholder so that it is less noticeable?

[2019-11-14 00:45] ekager commented on #2962
Closing because we have removed the QAB and moved these functions into the browser menu

[2019-11-14 00:58] ekager commented on #2231
Related to https://github.com/mozilla-mobile/fenix/issues/2768

[2019-11-14 00:59] ekager commented on #2532
We did this in the homescreen redesign. Closing

[2019-11-14 01:02] ekager commented on #2597
I'm going to close this for https://github.com/mozilla-mobile/fenix/issues/2435 2a. Thanks!

[2019-11-14 01:03] ekager commented on #2435
Reopening because a few of these items in the checklist were not completed. ie matching the 3 dot menu options

[2019-11-14 01:05] ekager commented on #2604
We now have the TP icon in the toolbar with a new TP UI and per-site toggle and blocking categories displayed to match desktop. I'm going to close this.

[2019-11-14 01:07] ekager commented on #3813
@topotropic could we just add a checkmark next to the delete icon here?

[2019-11-14 01:11] ekager commented on #3947
Cannot reproduce anymore. Closing

[2019-11-14 01:11] #3947 closed

[2019-11-14 01:14] ekager commented on #5632
Should be fixed with the next Nightly with latest AC (there have been some AC release issues so may take a day or two)

[2019-11-14 01:14] ekager commented on #6042
Should be fixed with the next Nightly with latest AC (there have been some AC release issues so may take a day or two)

[2019-11-14 03:31] brampitoyo commented on #6380
Progress report: I’ve finished the first-round user flow and mockups for this feature.

Board: https://miro.com/app/board/o9J_kwVai6Q=/

@cpeterso @vesta0 @liuche We’re now ready for a first-round Engineering walkthrough for early next week. Please let me know if there’s anybody specific that I should invite for this walkthrough. I’d be happy to take feedback at that point, or here asynchronously.

[2019-11-14 03:34] brampitoyo commented on #6380
@mheubusch On the board, I’ve also paged you for content feedback on just one specific part of this design: the “Advanced” section. For the rest of the design, Content Strategy had worked through it.

[2019-11-14 06:02] grigoryk opened #6589 "Empty bookmarks library view looks buggy"
![Screenshot_1573711231](https://user-images.githubusercontent.com/465422/68830695-30e30480-0661-11ea-8d1e-22b3d056ebea.png)

[2019-11-14 06:02] grigoryk opened #6590 "Empty bookmarks library view looks buggy"
![Screenshot_1573711231](https://user-images.githubusercontent.com/465422/68830695-30e30480-0661-11ea-8d1e-22b3d056ebea.png)

[2019-11-14 06:03] #6590 closed

[2019-11-14 06:16] vesta0 commented on #6479
@Amejia481 are these prefs already available in A-C?

[2019-11-14 07:25] vesta0 commented on #6190
A-S ticket filed [here](https://github.com/mozilla/application-services/issues/2163).

[2019-11-14 09:27] cadeyrn commented on #6259
I can no longer reproduce.

[2019-11-14 09:27] #6259 closed

[2019-11-14 11:50] sv-ohorvath commented on #6397
@ekager It only shows up on some facebook pages as Events and Watch, not all. For instance, go to Saved, Games, MarketPlace, or just the homepage (the timeline) and it won't appear in the browser menu.

[2019-11-14 11:59] sv-ohorvath commented on #5581
@NotWoods Yup, mozilla-mobile/android-components#1159 still reproducing. Thanks!

[2019-11-14 12:49] sv-ohorvath opened #6593 "[Bug] The keyboard stays on screen when quitting the add folder flow"
## Steps to reproduce
1. Go to bookmarks, tap the Add folder button.
2. Tap the back button from the nav bar.
### Expected behavior
The keyboard is dismissed when you exit the add folder screen.
### Actual behavior
The keyboard persists after you tap the back button.
### Device information

* Android device: Pixel (Android 10), Mi 4i (Android 5.0.2), Nexus 9 (Android 7.1.1)
* Fenix version: Nightl

[2019-11-14 12:54] sv-ohorvath opened #6594 "[Bug] Automatically trigger the keyboard on the add new folder screen"
## Steps to reproduce
1. Go to bookmarks, tap Add new folder.
and
2. Edit a bookmark, edit the parent folder, tap to create a new folder.
### Expected behavior
The keyboard is automatically triggered because the name field is focused by default.
### Actual behavior
The keyboard is not triggered.
### Device information

* Android device: Pixel (Android 10), Mi 4i (Android 5.0.2), Nexus 9 (Android 7

[2019-11-14 13:04] sv-ohorvath commented on #6543
This is verified as fixed on Nightly 11/13.
I have 2 new related bugs: #6593, #6594

[2019-11-14 13:04] #6543 closed

[2019-11-14 13:06] BranescuMihai commented on #6541
Will be fixed by this: [5046](https://github.com/mozilla-mobile/android-components/issues/5046), please retest afterwards

[2019-11-14 13:30] sv-ohorvath commented on #4281
@Baron-Severin was this omitted or is it followed-up in another issue?

[2019-11-14 13:56] obarzpaw commented on #2435
I can take care about this issue one more time :)

[2019-11-14 15:02] concastinator opened #6596 "[Bug] Pinch-and-zoom gesture not enforced despite configured so"
## Steps to reproduce

1) In "Settings > Accessibility" activate the option "Zoom on all sites".
2) Open lwn.net, arstechnica.com, hongkongfp.com and osnews.com.
3) Try the pinch-and-zoom gesture on each of the above.

### Expected behavior

The pinch-and-zoom gesture should (forcefully) work on all the 4 sites.

### Actual behavior

The pinch-and-zoom gesture works only on LWN and ArsTechnica.

#

[2019-11-14 15:10] concastinator commented on #6573
Indeed, this is what happens, and you can check it as follows:
1) open any page containing links;
2) tap on "Find in page" in the settings menu: this will replace the bottom address bar with the search field;
3) open any link on the page in a new tab: the "New tab opened    SWITCH" message will be visible at the bottom, as it should.

So yes, the message is displayed, but hidden beneath the addres

[2019-11-14 15:17] concastinator opened #6597 "[Bug] Reader view mode not always available"
## Steps to reproduce

1) Open arstechnica.com or hongkongfp.com.
2) Try to choose "Reader view" from the settings menu.

### Expected behavior

Reader view mode should be available.

### Actual behavior

Reader view mode is not available.

Notice, though, that this seems to happen only on the "top level" (or main page) of these sites. As soon as one chooses any article linked from the main page,

[2019-11-14 15:18] concastinator opened #6598 "[Bug]"
**This was posted several times because of a communication error between Firefox and GitHub. Please delete.**

## Steps to reproduce

1) Open arstechnica.com or hongkongfp.com.
2) Try to choose "Reader view" from the settings menu.

### Expected behavior

Reader view mode should be available.

### Actual behavior

Reader view mode is not available.

Notice, though, that this seems to happen only o

[2019-11-14 15:18] concastinator opened #6599 "[Bug]"
**This was posted several times because of a communication error between Firefox and GitHub. Please delete.**

## Steps to reproduce

1) Open arstechnica.com or hongkongfp.com.
2) Try to choose "Reader view" from the settings menu.

### Expected behavior

Reader view mode should be available.

### Actual behavior

Reader view mode is not available.

Notice, though, that this seems to happen only o

[2019-11-14 15:21] cadeyrn commented on #6598
It depends on the markup of the website if reader mode is available or not. There is also no reader mode on the homepage of arstechnica.com in Fennec, so it's not a Fenix bug.

[2019-11-14 15:22] cadeyrn commented on #6597
It depends on the markup of the website if reader mode is available or not. There is also no reader mode on the homepage of arstechnica.com in Fennec, so it's not a Fenix bug.

[2019-11-14 15:24] #6598 closed

[2019-11-14 15:25] #6599 closed

[2019-11-14 16:44] jonalmeida opened #6600 "Browse while watching a video in PIP mode"
### Why/User Benefit/User Problem
This is an extension of https://github.com/mozilla-mobile/fenix/issues/2818#issuecomment-553555577 that adds the ability to browse other sites while watching a video.

### What/Requirements
 - Add support for watching video content and browsing other tabs.

### Acceptance Criteria (how do I know when I’m done?)
 - Be able to watch a video in PIP mode and then swit

[2019-11-14 16:46] jonalmeida commented on #2818
Depends on https://github.com/mozilla-mobile/android-components/issues/5058

[2019-11-14 16:54] Amejia481 commented on #6479
Yes, we have them.

They can be customized by using the `select` function on the `TrackingProtectionPolicy` class:

[code]

- `trackingCategories` controls which categories should be blocked like  tracking content, fingerprinters and cryptominers.

- `cookiePolicy` sets how cookies should behave:

--------------------------

**CookiePolicy vs UI**

--------------------------
`CookiePolicy.ACCEPT_N

[2019-11-14 17:14] vesta0 opened #6602 "[Meta] Optimize homescreen"
### User Story
As a user, I want to easily find what I need on my homescreen, so I can get to it faster without having to scroll or having to look for it.

### Action Items
- [ ] New fragment to display open tabs
- [ ] Allow navigation from the new fragment to the selected tab
- [ ] Rewire navigation from the home screen and browser screen to the new "tab tray"

### Breakout bugs
- [ ] #6190 Top S

[2019-11-14 17:59] liuche commented on #6302
Will also need to uplift strings, like #6530

[2019-11-14 18:34] sblatz commented on #5958
@sv-ohorvath what "blocking issues" are there for this? I think there are some bugs we have in "qa needed" for downloads, but those shouldn't block this feature from being verified.

[2019-11-14 18:58] vesta0 commented on #6479
Thank you @Amejia481 :)

Another question: Do we currently have a pref for different TP settings in regular VS private mode? On desktop, if a user chooses `standard` TP, they actually get `strict` TP in private browsing. Do we currently do that in Fenix, and if not do we have the pref to do it?

[2019-11-14 19:07] Baron-Severin commented on #4281
Sorry about that @sv-ohorvath, we neglected to document this.  We ran into technical challenges with adding the FAB, so for now 'appearance' is (when available) shown as a menu item beneath reader mode.  We'll be changing it in a follow-up.

[2019-11-14 19:19] Amejia481 commented on #6479
Yes, we have them. On the tracking protection policy object, there are functions for specifying it `trackingProtectionPolicy.forRegularSessionsOnly()` or `trackingProtectionPolicy.forPrivateSessionsOnly()`.

We we have most of the code for doing it [here](https://github.com/mozilla-mobile/fenix/blob/4ae60f2cce2c424033fc7ed1524161f5d4c43fe9/app/src/main/java/org/mozilla/fenix/components/Core.kt#L19

[2019-11-14 19:34] sblatz commented on #2642
Unfortunately this is still happening and noticeable IMO.

[2019-11-14 19:40] hakkikaancaliskan commented on #6384
Verified as fixed on
Nightly 191114 18:01 (Build #13181805)
📦: 22.0.0, 4c362cfbc
🦎: 72.0a1-20191109093718

[2019-11-14 19:40] #6384 closed

[2019-11-14 19:46] darkwing opened #6605 "[Bug] Select all is continually appearing after tapping select all"
## Steps to reproduce

1.  Select a portion of text on a page
2.  Tap "select all", wait for all content to be selected
3.  Tap "select all"
4.  Tap "select all"
5.  Tap "select all"
....

### Expected behavior

If all text is selected already, don't show "Select All", or show a disabled state for that item text

### Actual behavior

The "Select All" item can be tapped all day with seemingly no fe

[2019-11-14 19:49] concastinator opened #6606 "[Bug] Tracking protection not working in Fenix Build 13181522"
## Steps to reproduce

1) Enable Enhanced Tracking Protection, for instance in the Strict mode.
2) Go to https://senglehardt.com/test/trackingprotection/test_pages/ and choose any of the tests that concern Trackers or Social Tracking Protection.

### Expected behavior

Tracking should be reported as BLOCKED.

### Actual behavior

Tracking is reported as NOT BLOCKED.

Could this be related to https

[2019-11-14 20:19] jawz101 commented on #5853
So your use case would be irrelevant since you don't use the Bookmarks Toolbar on desktop.  But if you did, you could have the same set of icons on both ui's.  They could even make the mobile app icons look big just like the current pinned sites yet it would be a uniform location between mobile and desktop if you have sync enabled.

[2019-11-14 20:20] jawz101 commented on #6602
This is my input
https://github.com/mozilla-mobile/fenix/issues/5853

[2019-11-14 20:36] darkwing opened #6607 "Suggestion: Provide "open tab" within the "No open tabs" pane"
### Why/User Benefit/User Problem
We currently show a "No open tabs" block when the user hasn't opened any tabs, but there's nothing actionable with that message.  I think it would be nice for usability to show an "open a tab" icon, button, or text in that space so the user can act while their attention is focused there.

### What/Requirements
_Update from UX (@topotropic) Feb 18, 2020:_

- When a

[2019-11-14 20:52] Amejia481 commented on #6439
I think the issue is still there, the issue happens when the input have an image mime type .

STR:

1. Go https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file
2. Toggle Desktop site (to be set **ON**).
3. Tap browser button below the label "**Choose a profile picture**".

I'm taking a look to how to fix it. I will keep you update.

[2019-11-14 21:23] sblatz commented on #6434
This should now be partially fixed. Files that have a download size will now fail when the wifi is cut off. The file does not have a content length, we're still waiting on that GV fix.

QA could you verify that this is partially fixed and I'll keep this open track the GV one?

[2019-11-14 21:58] grigoryk commented on #6533
Will be fixed in https://github.com/mozilla-mobile/android-components/issues/5041

[2019-11-14 22:24] vesta0 commented on #5073
Desktop is about to ship a new in-content certificate viewer (Certainly something add-on) in Firefox 71 and it was developed with mobile in mind.

It already works on Fenix as it’s shipped with GeckoView. If we add some CSS to make it mobile friendly, then we can just add a link and not do anything.

Need to localize? No

Would A-C package things? Wouldn’t need to as the functionality is part of G

[2019-11-15 00:01] ekager commented on #6589
I believe "No bookmarks here" is supposed to be centered.
@topotropic can you confirm?

[2019-11-15 00:15] ekager commented on #6066
Done as part of #6444

[2019-11-15 00:15] #6066 closed

[2019-11-15 00:16] vesta0 commented on #5582
Please close this meta once #5958 has been QA verified and closed.

[2019-11-15 00:18] vesta0 commented on #4246
All the work under this meta has been completed. Thank you so much @ekager @Amejia481 @AmyYLee 👍

[2019-11-15 00:18] #4246 closed

[2019-11-15 00:20] vesta0 commented on #6536
Not doing this spike in Q1

[2019-11-15 00:20] #6536 closed

[2019-11-15 00:25] #4528 closed

[2019-11-15 00:28] liuche commented on #255
This is in GV's November sprint.

[2019-11-15 00:48] vesta0 opened #6610 "Update Fenix Branding to match Firefox before launch"
This ticket is a reminder to update all instances of the official app name in Fenix (and remove PREVIEW) before replacing Fennec.

### Dependencies
- [x] UX assets linked, by 1/31

### Acceptance Criteria
- [x] Firefox beta will have the Firefox beta branding and icon at the time of launch
- [ ] Firefox release will have the final Firefox branding and icon at the time of launch
- [ ] QA will need

[2019-11-15 00:49] vesta0 opened #6611 "Fenix FAQ page"
The purpose of this ticket is to track the following work:

- [x] Creating an FAQ page for the migration
- [x] Linking to the page from the app, on the About page

[2019-11-15 00:53] vesta0 commented on #4525
Hey @sblatz that's great to know. Let's create a ticket for this and call it a SHOULD. Thanks!

[2019-11-15 00:54] vesta0 commented on #2493
@sblatz yes this is expected behaviour and we can close this.

[2019-11-15 00:54] vesta0 commented on #5762
@lime124 can we re-use Fennec UX for this?

[2019-11-15 02:11] hawkinsw commented on #6507
@mcomella http://docs.nimbledroid.com/androidUserGuide.html#cold-startup-measurement-exit-point

[2019-11-15 03:26] NotWoods commented on #3779
Is this still reproducible?

[2019-11-15 03:29] NotWoods commented on #4189
Is this still reproducible after the redesign?

[2019-11-15 03:30] NotWoods commented on #3266
Closing since the header no longer animates

[2019-11-15 03:35] NotWoods commented on #2777
Could not reproduce on Nightly 191109, this bug may be fixed now.

[2019-11-15 03:37] NotWoods commented on #4286
Also could not reproduce on Nightly 191109.

[2019-11-15 04:31] ekager commented on #5547
#6444 has landed and this should be ready to test now!

[2019-11-15 09:13] ebalazs-sv opened #6614 "[Bug] Fenix Nightly crashes at sign out when logged in with QR code"
### Prerequisites
Make sure you have a valid account and you are connected on Desktop.

## Steps to reproduce
1. On Desktop, go to firefox.com/pair - Show code.
2. On Firefox Preview Nightly go to Turn on Sync - Ready to scan.
3. Scan the QR code and approve the device on Desktop and confirm the pairing on mobile.
4. Go to Account settings and Sign out.
### Expected behavior
The user is signed out

[2019-11-15 09:41] #6564 closed

[2019-11-15 09:42] sv-ohorvath commented on #6434
The paused download still appears as completed on the in-app notification.
![Screenshot_20191115-114016](https://user-images.githubusercontent.com/4037709/68933222-e5357580-079c-11ea-88d5-cc1e362aa53f.png)

[2019-11-15 09:57] sv-ohorvath commented on #5958
@sblatz I marked this issue as blocked by #6434 and #6576, being related to this feature. If you don't think they are blockers, we can close this issue, but the in-app notifications are not working perfectly yet.

[2019-11-15 10:33] AndiAJ commented on #2294
Hi @ekager I've just re-checked on the latest Nightly Build #13190606 from 11/15 using the following devices:
• Google Pixel 3a XL (Android 9)
• Samsung Galaxy Note 9 (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy Note 9 (Android 8.1.0)

<details>
    <summary>✔️ Works on the following devices (Dropdown with examples) </summary>

► **Google Pixel 3a XL (Android 9)**
![rsz_scree

[2019-11-15 10:36] sv-ohorvath opened #6615 "[Bug] Download notifications missing some file names"
## Steps to reproduce
On http://thinkbroadband.com/download, or file-examples.com
1, Download a file and pause it.
2. Cancel a download.
3. Complete a download.
### Expected behavior
Filenames appear in the system and in-app notifications
### Actual behavior
Downloads notifications are missing filenames.
![Screenshot_20191115-122253](https://user-images.githubusercontent.com/4037709/68937108-7c51f

[2019-11-15 11:04] AndiAJ commented on #5632
Hi, **verified as fixed** on **Nightly Build #13190606 from 11/15** using the following devices:
• Samsung Galaxy Tab Active (Android 5.1.1)
• LG Nexus 7 (Android 5.1.1)
• LG Nexus 4 (Android 5.1.1)

► Screenshot from LG Nexus 7
![rsz_screenshot_2019-11-15-12-48-03](https://user-images.githubusercontent.com/51314259/68939081-66463a00-07a8-11ea-831c-8d00b07fee19.png)

[2019-11-15 11:04] #5632 closed

[2019-11-15 11:06] topotropic commented on #600
We restructured the home screen slightly (moved search bar and + to bottom bar) and it looks alright now. There are also explorations to move the open tabs to a dedicated tab tray, so we don't need to invest work here imo.

On private mode, it would be nice if we can re-position the body copy starting with "Firefox Preview clears your..." so that it aligns with the header "Private session"

[2019-11-15 11:08] topotropic commented on #610
Looks like this is fixed. Going to close it.

[2019-11-15 11:08] #610 closed

[2019-11-15 11:13] creesch opened #6616 "[Bug] pwa does not open fullscreen"
## Steps to reproduce
2. Go to https://demo.thelounge.chat/
2. Add site to homescreen
3. Open the website from the homescreen icon.
3.
### Expected behavior

As #770 is closed with #4914 I except the application to open in fullscreen/standalone as it also does in Fennec.

### Actual behavior

It does not open in fullscreen, it opens as a regular browser.

### Device information

* Android device:

[2019-11-15 11:15] topotropic commented on #2487
@buttercookie42 thanks for your feedback, can you give me some context on when that would be useful to you? Thanks!

[2019-11-15 11:40] topotropic commented on #6589
Center sounds good!

Not sure if we need to show the "Sign in to see synced bookmarks" button in an empty folder – CTA feels displaced here somehow.

[2019-11-15 11:58] creesch commented on #6616
- [Screen recording of Fennec behavior](https://creesch.com/dump/vid/vid_5dce921586a8d.mp4), this is the expected behavior.
- [Screen recording of Fenix behavior](https://creesch.com/dump/vid/vid_5dce91da9473f.mp4).

[2019-11-15 12:34] sv-ohorvath commented on #4281
Verified as fixed on Nightly 11/15.

[2019-11-15 12:34] #4281 closed

[2019-11-15 12:53] AndiAJ commented on #4487
Hi, **verified as fixed** on the latest **Nightly Build #13190606 from 11/15** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191115_144803](https://user-images.githubusercontent.com/51314259/68944856-96e1a000-07b7-11ea-8fc2-ae87e5646354.gif)

[2019-11-15 12:53] #4487 closed

[2019-11-15 13:14] Dunexus commented on #2487
Use case example :

![image](https://user-images.githubusercontent.com/13906248/68945946-eb821c80-07b1-11ea-8177-4db29ecbdcc7.png)

I would like to move the first tab next to the last one because they are about the same topic.

[2019-11-15 13:16] AndiAJ commented on #2777
Hi, **verified as fixed** on the latest **Nightly Build #13190606 from 11/15** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191115_150825](https://user-images.githubusercontent.com/51314259/68945899-330ca680-07ba-11ea-97da-f10b02e520db.gif)

[2019-11-15 13:34] abodea opened #6618 "[Bug] The Saved Logins section is dismissed when resuming Fenix from a multitask to another app"
## Steps to reproduce
1. Launch Fenix.
2. Access the `Passwords` section from the settings menu.
3. Tap on `Saved logins`(unlock it if biometrics or pin is set).
4. Add Fenix to the background or multi-task to another app.
5. Resume Fenix.
### Expected behavior
Saved logins with all the passwords section are still displayed.
### Actual behavior
The Saved Logins screen is dismissed and the user is

[2019-11-15 13:44] abodea opened #6619 "[Bug] There is a drop-down/expanded animation when accessing Settings for Passwords section"
## Steps to reproduce
1. Launch Fenix.
2. Access the settings menu.
### Expected behavior
The `Passwords` menu section should already be there as the other sections.
### Actual behavior
There is a drop-down/expanded animation when accessing Settings for `Passwords`.
### Device information

* Android device: **`Google Pixel 3a XL(Android 10).`**
* Fenix version: **`Nightly 11/15`**

![ezgif-1-0d719

[2019-11-15 13:47] sv-ohorvath commented on #6436
@sblatz The crash is fixed but there's no snackbar notification displayed if you tap open from the in-app notification. Will this: https://github.com/mozilla-mobile/fenix/issues/6436#issuecomment-552684301 be implemented?

[2019-11-15 13:49] cadeyrn commented on #6619
The passwords feature is behind a feature flag and I guess the same as in https://github.com/mozilla-mobile/fenix/issues/5575#issuecomment-540253487 applies here as well.

[2019-11-15 13:49] concastinator opened #6620 "[Bug] The Android back button deletes the current tab"
## Steps to reproduce

1) Open N>=1 tabs.
2) Open an (N+1)-th tab and switch to it.
3) Press the "back" button of your Android phone.

### Expected behavior

Nothing should happen.

### Actual behavior

The (N+1)-th tab is closed, deleted from the list of open tabs, and the N-th tab (more generally: the previous tab in the list) is opened.

### Device information

* Android device: Nokia 5 (model

[2019-11-15 13:54] abodea opened #6621 "[Bug] The Saved Logins section and passwords can be recorded"
## Steps to reproduce
1. Launch Fenix.
2. Login with valid credentials.
3. Access the `Passwords` section.
4. Enter the Saved Logins section to see all the synced passwords.
5. Start recording the screen(I used Az Recorder).
### Expected behavior
The video should be black hiding the Saved Logins section and all the passwords.
### Actual behavior
The Saved Logins and passwords can be recorded.
###

[2019-11-15 14:00] julienw commented on #6534
Could be #6279 ?

[2019-11-15 14:01] st3fan commented on #5490
I added a release engineering label here because I think this is mostly a decision to be made by the Product / Marketing / Growth teams and then a matter of setting up the right API keys?

[2019-11-15 14:16] AndiAJ commented on #4286
Hi, **verified as fixed** on the latest **Nightly Build #13190606 from 11/15** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191115_154052](https://user-images.githubusercontent.com/51314259/68949594-04df9480-07c3-11ea-80c6-59fc43846ef2.gif)

[2019-11-15 14:16] #4286 closed

[2019-11-15 14:18] pocmo opened #6622 "Fennec migration: Setup build type for Fennec Beta"
Like #4873 created a `fennecProduction` build type, this issue is about creating a build type for Fennec Beta so that this new build type can replace a Fennec Beta installation.

# Build config

- [x] Create a `fennecBeta` build type
- [x] Reuse `sharedUserId` from Fennec Beta
- [x] Re-use versionCode mechanism of Fennec
- [x] Reuse Fennec package names

### RelEng

- [ ] Reuse Fennec Beta signing

[2019-11-15 14:20] abodea commented on #6619
@cadeyrn thanks, I saw that, but being on the Settings where all the menus are displayed, I was thinking that his one should look the same, and this was recently added.
I wanted to make sure we got everything covered.

[2019-11-15 14:41] Amejia481 commented on #6606
Thank you for reporting, there is an [opened bug ](https://bugzilla.mozilla.org/show_bug.cgi?id=1590788) for updating the test pages. Until this bug is not fixed everything related to Social tracking protection and content trackers(base-track-digest256 list) on the test pages is not going to show properly. The only thing that is affected is the test pages, everything else should be working.

[2019-11-15 14:55] AndiAJ commented on #6221
Hi, **verified as fixed** on the **latest Nightly Build #13190606 from 11/15** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191115_162430](https://user-images.githubusercontent.com/51314259/68951276-5fc6bb00-07c6-11ea-9a6a-4f2882d1012b.gif)

[2019-11-15 14:55] #6221 closed

[2019-11-15 15:13] pocmo commented on #5490
For the other tokens I updated the secrets service. I have a mail thread with Loren about picking a token. There's no decision yet.

[2019-11-15 15:16] hakkikaancaliskan commented on #6618
Isn't this expected behavior for security.
Also for that fragment, they should set secure flags to hide password from app switcher.

[2019-11-15 15:24] AndiAJ commented on #4929
Hi, **verified as fixed** on the latest **Nightly Build #13190606 from 11/15** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191115_165917](https://user-images.githubusercontent.com/51314259/68954409-a0293780-07cc-11ea-97c9-3c91e57c619d.gif)

[2019-11-15 15:24] #4929 closed

[2019-11-15 15:32] abodea opened #6623 "[Bug] Saved Logins cannot be deleted even after logging out"
## Steps to reproduce
1. Launch Fenix.
2. Login with valid credentials.
3. Sync the passwords.
4. Logout.
### Expected behavior
There should be an option to delete the passwords/content from the `Saved Logins` section if there is no FF account used.
### Actual behavior
The passwords remain displayed on the `Saved Logins` section after logout and cannot be deleted.
### Device information

* Android

[2019-11-15 15:44] rocketsroger commented on #5186
From investigation, when the user click on the `Open it` link on the Microsoft Teams, A-C is not seeing the `onLoadRequest` coming in to the `GeckoEngineSession`.  A GeckoView bug will be opened for this issue.

[2019-11-15 15:51] abodea opened #6624 "[Bug] The user is not warned when accessing Saved Logins if no biometrics or pin is set"
## Steps to reproduce
1. Launch Fenix.
2. Login with valid credentials.
3. Perform a sync.
4. Access Passwords section.
5. Enter the `Saved Logins` section.
### Expected behavior
There should be a warning, informing the user that no biometrics or pin is set when accessing the section.
### Actual behavior
The user is not warned when no biometrics or pin is not set.
### Device information

* Android

[2019-11-15 15:51] sv-ohorvath opened #6625 "[Bug] Press back in search mode,when the keyboard is hidden, navigates back or closes the app"
## Steps to reproduce
1. From the homescreen tap the search bar and type something. Scroll the search suggestions.
2. Tap the device back button.
3. Open a webpage, navigate through links, tap the nav bar, type something, scroll the search suggestions.
4. Tap the device back button.
### Expected behavior
pressing back with the keyboard hidden exits the search screen.
### Actual behavior
If you are

[2019-11-15 15:52] sv-ohorvath commented on #1211
Emily was right here.
Current behavior: The keyboard hides while scrolling the suggestions. You need to press back to exit the search mode. If you were on the homescreen when you started the search, this will close the app. If you were on a webpage, it will navigate back one page/close the tab. Logged: https://github.com/mozilla-mobile/fenix/issues/6625

This is verified as fixed on Nightly 11/15.

[2019-11-15 15:58] jonalmeida opened #6626 "AutoPush - StorageError: Error("No record for uaid:chid")"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6667676/

[code]

[2019-11-15 16:00] jonalmeida commented on #6626
We started throwing unrecoverable errors recently, and Firebase Push was recently enable (yesterday) so that explains why we're seeing this error now. So far, only 3 users are affected.

[2019-11-15 16:11] concastinator opened #6627 "[Bug] The "+" sign next to the address/search box is redundant"
## Steps to reproduce

Launch the browser. Notice that you can input web addresses and search terms by tapping either on the address/search box, or on the neighbouring "+" ("plus") sign. This is a redundancy that costs space at the bottom of the browser.

### Expected behavior

There should be a single way to open a new tab.

### Actual behavior

There are two ways of opening a new tab. Worse, the

[2019-11-15 16:19] abodea opened #6628 "[Bug] Fenix crashes when trying to access Saved Logins if Fingerprint Biometrics are set"
## Preconditions
Set Biometrics FIngerprint
## Steps to reproduce
1. Launch Fenix.
2. Login with valid credentials.
3. Reach the Passwords section.
4. Attempts to access `Saved Logins` section.
### Expected behavior
The unlocking method is displayed and the `Saved logins` section can be accessed.
### Actual behavior
Fenix crashes.
### Device information

* Android device: **`Samsung Galaxy S10+(An

[2019-11-15 16:19] abodea commented on #6628
[code]

[2019-11-15 16:28] AmyYLee opened #6629 "[Product Quality] Private Browsing Mode - Checklist"
**Feature Level Checklist for Private Browsing Mode**

This is an ongoing list for product quality related bugs for this feature/component. Any non-blocking UX issues should be added here (bugs that impact quality of product but do not hinder functionality or accessibility). Blocking UX bugs should be filed separately and triaged by product. Items in this list that are fixed should be checked off

[2019-11-15 16:29] AmyYLee commented on #600
@lime124 Hi, I've created a new implementation checklist for PBM
https://github.com/mozilla-mobile/fenix/issues/6629

[2019-11-15 16:35] abodea opened #6630 "[Bug] Pattern, Pin or Password screen lock types are always displayed over Biometrics(Face recognition and Fingerprints) when unlocking Saved Logins section"
## Steps to reproduce
1. Set Face Recognition or Fingerprint as security unlock(note that by default you have to pick Pattern, Pin or Password as a second option).
2. Launch Fenix.
3. Login with valid credentials.
4. Access Password and the Saved Logins section.
### Expected behavior
If Face Recognition or Fingerprint is set as a security unlock option, it should be displayed when unlocking Saved

[2019-11-15 16:41] cadeyrn commented on #6627
Duplicate of #6409

[2019-11-15 16:43] abodea commented on #5547
#### Hi @ekager, I tested what you mentioned above, here are my results:
| Screen lock type  | Displayed as unlock option? |Saved logins section opened?| Pause app past auth screen|
|------------- | :-------------: |:-------------:|:----:|
| **None** | **No warning displayed** [#6624](https://github.com/mozilla-mobile/fenix/issues/6624)  | ✔️  | N/A|
| **Swipe**  | **Yes**   | ✔️  | N/A |
| **Patt

[2019-11-15 16:43] rocketsroger commented on #5186
Bug opened for GV https://bugzilla.mozilla.org/show_bug.cgi?id=1596825

[2019-11-15 17:22] Baron-Severin commented on #5540
PR up at https://github.com/mozilla-mobile/android-components/pull/5068

[2019-11-15 17:34] abodea commented on #6627
Thank you for adding this issue @concastinator!
Based on the comment above from @cadeyrn I will close this issue as a duplicate.

[2019-11-15 17:34] #6627 closed

[2019-11-15 18:05] NotWoods commented on #5241
Fixed since we've since added `shouldUpdateFavicon`

[2019-11-15 18:05] #5241 closed

[2019-11-15 18:15] darkwing commented on #6409
Do we have any metrics on how often users use bookmarks; I could see the bookmarks menu being really nice in this spot.

[2019-11-15 18:39] Scripterr commented on #2273
Hello @AmyYLee I would like to know is this issue still relevant, cause I would like to get transition animation between settings screens because going through setting screens makes pages to jump and looks unpolished for a product at this stage.
If it's still relevant can it be prioritised.

[2019-11-15 18:51] cpeterso commented on #255
@liuche - Which GV bug is that? Per-site autoplay permissions [bug 1577596](https://bugzilla.mozilla.org/show_bug.cgi?id=1577596)? That bug was kicked out of GV's November sprint because it is blocked by core Gecko work to be completed by the Gecko Media team: https://bugzilla.mozilla.org/show_bug.cgi?id=1593843

[2019-11-15 19:00] Amejia481 commented on #6439
I think the main issue rely on feature-prompts and Fenix providers has the same `authorities` properties: `android:authorities="${applicationId}.fileprovider"`

**Feature prompts**
https://github.com/mozilla-mobile/android-components/blob/master/components/feature/prompts/src/main/AndroidManifest.xml

[code]

**Fenix**
https://github.com/mozilla-mobile/fenix/blob/7173bdf0b16d0ee7d7956766193bd30e7f

[2019-11-15 19:03] sblatz opened #6633 "[Bug] This is a test AC bug!"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-11-15 19:05] sblatz opened #6634 "[Bug] Hello world!"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-11-15 19:06] topotropic commented on #600
can we close this issue @AmyYLee ?

[2019-11-15 19:07] #6634 closed

[2019-11-15 19:08] sblatz opened #6635 "[Bug] Testing"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-11-15 19:09] sblatz opened #6636 "[Bug] Example bug"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-11-15 19:11] sblatz opened #6637 "test"
### Why/User Benefit/User Problem

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-11-15 19:12] #6637 closed

[2019-11-15 19:12] sblatz opened #6638 "hello world"
### Why/User Benefit/User Problem

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-11-15 19:13] #6638 closed

[2019-11-15 19:13] #6633 closed

[2019-11-15 19:13] #6635 closed

[2019-11-15 19:13] #6636 closed

[2019-11-15 19:34] yoasif opened #6639 "Reader mode icon in address bar"
### Why/User Benefit/User Problem

As a user, I would like to know that I can access reader mode for a page without opening a menu, like I can on Firefox desktop or other Android browsers.

### What/Requirements

Please close if a dupe.

An reader mode or book icon within the address bar, which when clicked opens the reader view. Clicking this icon again should take me back to the normal page.

Th

[2019-11-15 20:00] Amejia481 commented on #6439
Found the source of the issue the `android:name="androidx.core.content.FileProvider"` property is the same is both case and it should be unique.

[2019-11-15 20:10] AmyYLee commented on #2273
@Scripterr Hi, yes this is still relevant. I've updated the bug with new transition specifications. Let me know if you have any questions. Thanks!

Settings: Should have transition animation between settings screens
Should transition between categories - Please reference native android transitions for settings
https://cl.ly/10e2f112f0ee
Material Design reference page: https://material.io/design/na

[2019-11-15 20:16] AmyYLee commented on #600
Closing issue since edits for PBM will be tracked in #6629 and this is no longer relevant for homescreen in none PBM based on feedback from @topotropic above.

[2019-11-15 20:16] #600 closed

[2019-11-15 21:09] ekager commented on #6619
Yes thanks for filing but I'm going to close this because it's just the feature flag as mentioned above :)

[2019-11-15 21:09] #6619 closed

[2019-11-15 21:14] ekager commented on #6624
Sorry I should have clarified this in the bug, but the desired UX behavior was that the warning is shown 1 time. Had you already seen the warning before?

[2019-11-15 21:20] ekager commented on #6625
cc @mcarare I think this is a possible regression from #6474? Do you mind taking a followup look?

[2019-11-15 21:22] ekager commented on #6618
Correct this is the intended behavior. In both of the logins fragments we are popping out on pause. Closing this bug.

[2019-11-15 21:22] #6618 closed

[2019-11-15 21:25] ekager commented on #6630
We can easily add this with a window flag and I think it was part of the original mocks.

[2019-11-15 21:39] cadeyrn commented on #6620
It's also reproducable in the current stable release, 2.3.0. Firefox Preview 2.2.0 works as expected.

@vesta0 Could this regression be prioritized, please? **The stable release is already affected and it causes data loss - there is no way to recover the tabs!** Thank you!

[2019-11-15 21:43] Baron-Severin commented on #5574
It looks like this one is 'in progress' on another board.  Moving it there in the Fenix sprint kanban.

[2019-11-15 22:06] ekager commented on #6620
If I'm understanding correctly this was an intentional change of behavior we added. See #2629 and #2483 for bugs filed with the opposite behavior desired.

[2019-11-15 22:20] cadeyrn commented on #6620
If it's intentional then the "undo" snackbar is missing. Closing a tab via the home screen can be reverted via a snackbar.

Also it doesn't make sense to replace the current tab with a totally unrelated tab when pressing the back button. Neither the old Firefox nor Chrome does this, both open the home screen.

[2019-11-15 22:24] severinrudie opened #6642 "Handle advanced URL shortening cases"
### Why/User Benefit/User Problem
There are several known URL formatting cases that were considered to be out of scope for #4844.  Some of these can present usability problems with specific inputs, others open up small security risks.  We should handle these problems as much as possible.

### What/Requirements
- Handle all known URL shortening edge cases
- If additional cases are discovered, they

[2019-11-15 22:36] sblatz commented on #6615
I believe https://github.com/mozilla-mobile/android-components/pull/5047 fixes this :)

[2019-11-15 23:00] yoasif commented on #6074
Dupe of #417

[2019-11-15 23:08] kbrosnan commented on #6074
Closing as dupe

[2019-11-15 23:08] #6074 closed

[2019-11-15 23:19] boek opened #6643 "SUMO link for adding custom search engine"
Blocking #5577

[2019-11-15 23:33] Baron-Severin commented on #4844
The more I look at this problem, the more I think we should go even further than that.  I've written a bandaid implementation for the worst edge cases that we _could_ base an A-C change on, but I think this is something we really need to be sharing with desktop.  It's very complex, there are _many_ ways it can go wrong, and it's a String -> String transformation.  I think this could be a really go

[2019-11-15 23:37] ekager commented on #5550
@liuche I'm closing this ticket because we've gotten sign off on our current plan

[2019-11-15 23:37] #5550 closed

[2019-11-15 23:49] sblatz commented on #6434
@sv-ohorvath thanks for catching those 😄

https://github.com/mozilla-mobile/fenix/pull/6645 Should address point 1
https://github.com/mozilla-mobile/android-components/pull/5076 Should address point 2

[2019-11-15 23:58] ekager commented on #6620
Ah okay I understand.
In https://github.com/mozilla-mobile/fenix/pull/5332 we added the functionality in Fenix to select a parent if it exists one last back press, but it will select a non-parent tab if none exists on last back-press.

It looks like we have a few options of remedies here:
1. Expose something like session `hasParent` in AC so that we know which tabs have a parent and go to home scr

[2019-11-16 00:30] sblatz commented on #6436
Should be fixed by: https://github.com/mozilla-mobile/fenix/pull/6648

[2019-11-16 11:59] jeroen7s commented on #5342
I'm having the same issue. If the default for external links is set to private mode, all saved webapps/homescreen shortcuts also open in private mode.

So there's 2 options for users:
stop saving shortcuts to homescreen
Disable opening links in private mode

Neither option is preferable.

[2019-11-16 12:39] ix5 commented on #4072
This is a horrible "fix". It takes away agency for people who use Android's adb backup feature or expect to set up a new device with their app data restored using Google's backup+restore mechanism.

If users want to get a "fresh start", they should just "clear data" instead of uninstalling/reinstalling.

@colintheshots please reconsider. Please note that restoring app data after uninstalling/reins

[2019-11-16 13:33] concastinator commented on #6620
In my opinion, the Android back button should do the following to a tab:

1) if that tab has a browsing history, go one step back in it;

2) if it has no history, do nothing (which I find logical);

3) alternatively, if it has no history, go back to the list of tabs (less logical, but acceptable).

In any case, a tab removal should NOT be performed, as it is an action that is both irreversible and

[2019-11-16 15:17] Xophile commented on #2286
I would like to have this feature.

Any news about progress or priority changes?

Thanks

[2019-11-16 18:14] yoasif commented on #4072
@ix5 makes some good points here, imo.

Breaking this feature makes the app feel less like an Android app. Perhaps there could be a refresh feature instead to allow for a fresh start if app data has been restored?

[2019-11-16 19:31] tsimica commented on #4824
Is this issue free to work on? If so I would like to work on this!

[2019-11-16 20:32] madb1lly commented on #5853
Hi @jawz101,

No I don't think my case is irrelevant because what you are asking for will affect everyone. I actually want different sites as my "top" ones on mobile and desktop; some are the same, some are different.

Personally I prefer Fennec's newtab to what you are proposing, but your proposal would be tolerable (but frustrating).

Cheers :)

[2019-11-16 22:29] jawz101 commented on #5853
@madb1lly Thanks. but from what you said you do not use bookmarks on the desktop.  So if what was the contents of the desktop Bookmarks Toolbar was what shows as Top Sites on mobile, it that would not change anything for you.  That is, the top sites you have set on desktop would remain what they are now.

[2019-11-16 22:44] jonalmeida commented on #4072
What you're asking for has already been done. This bug is fixed.

[2019-11-16 23:36] yoasif commented on #4072
@ix5 says that the actual behavior in your report is what he expects. They *want* the appdata restored after reinstallation.

@jonalmeida

[2019-11-16 23:36] ix5 commented on #4072
As far as I can see and verify on-device, backing up Firefox Preview data is not possible.
See https://github.com/mozilla-mobile/fenix/blob/6ee59322b521e52a0bb7c67c55bd934307a75e00/app/src/main/AndroidManifest.xml#L23

[2019-11-17 09:28] JSBmanD commented on #2286
Will anyone answer about this feature? It's very important for me and I can't use firefox without it.

[2019-11-17 10:26] Cheap-Skate commented on #6639
I agree with the idea of having the Reader mode icon more accessible. I dislike the latest Reader menu item with the switch, it seems very clumsy and makes the menu list even taller! Hopefully just a temporary fix

But...

The Fenix toolbar is already very cluttered with buttons:- Tracking Protection; padlock; URL; [open in app?]; [Reader mode?]; Tabs; 3 dot menu. Not much room for the URL and it'

[2019-11-17 11:40] oplik0 commented on #6552
Galaxy S7, Android 8. Chrome also takes much more than 27MB:
 ![Chrome size](https://i.imgur.com/mKZbhgZ.jpg)
Fresh install of Chrome Beta is a little bit smaller, but still >150MB
![Chrome Beta size](https://i.imgur.com/9LZ6qg3.jpg)

[2019-11-17 12:46] espectalll commented on #773
Any news on WebAPK? Is it implemented, if not is there any open ticket that takes care of it?

[2019-11-17 13:35] buttercookie42 opened #6652 "[Bug] Fullscreen video rotation forces landscape-primary instead of merely landscape"
## Steps to reproduce
Open any page with some video, e.g. https://vimeo.com/7842191, start playback and enter fullscreen mode.

### Expected behavior
For videos where the aspect ratio means that landscape playback is more advantageous, the phone's orientation is overridden to landscape mode *in general*, allowing one to hold the device both in the primary and secondary orientation with the video r

[2019-11-17 13:36] buttercookie42 opened #6653 "[Bug] Fullscreen video rotation forces landscape-primary instead of merely landscape"
## Steps to reproduce
Open any page with some video, e.g. https://vimeo.com/7842191, start playback and enter fullscreen mode.

### Expected behavior
For videos where the aspect ratio means that landscape playback is more advantageous, the phone's orientation is overridden to landscape mode *in general*, allowing one to hold the device both in the primary and secondary orientation with the video r

[2019-11-17 13:36] buttercookie42 commented on #6653
Duplicate because of Github problem.

[2019-11-17 13:36] #6653 closed

[2019-11-17 13:42] buttercookie42 commented on #5771
Test page with some true vertical videos, which Fenix rotates into landscape regardless: http://www.exit109.com/~dnn/clips/VerticalVideo.html

Fennec on the other hand looked at the actual aspect ratio of the video in question to decide whether to force landscape or portrait orientation when in fullscreen mode.

#6652 as a dedicated issue for that.

[2019-11-17 16:27] abhimanyusingh0 opened #6654 "Prompt to switch to newly opened tab not working[Bug]"
## Steps to reproduce
1. Go to any site.
2. Select and hold a link then open in new tab.

### Expected behavior
At the bottom above address bar a prompt should appear to switch to newly created tab with the link.
### Actual behavior
No prompt to switch to new tab opened.
### Device information
Honor 8 pro
* Android device: android pie(9)
* Fenix version: Nightly 191117 06:00 (Build #13210607)

[2019-11-17 16:27] abhimanyusingh0 opened #6655 "Prompt to switch to newly opened tab not working[Bug]"
## Steps to reproduce
1. Go to any site.
2. Select and hold a link then open in new tab.

### Expected behavior
At the bottom above address bar a prompt should appear to switch to newly created tab with the link.
### Actual behavior
No prompt to switch to new tab opened.
### Device information
Honor 8 pro
* Android device: android pie(9)
* Fenix version: Nightly 191117 06:00 (Build #13210607)

[2019-11-17 16:28] abhimanyusingh0 commented on #6655
Duplicate issue due to page down.

[2019-11-17 16:28] #6655 closed

[2019-11-17 16:40] abhimanyusingh0 commented on #6654
![GIF-191117_220854](https://user-images.githubusercontent.com/22068654/69010566-dd223500-0958-11ea-867a-f697c0c8b88c.gif)

[2019-11-17 17:03] NotWoods commented on #773
We're not able to use WebAPK 😔

We are exploring Trusted Web Activities, which let web developers create their own WebAPK equivalent.

[2019-11-17 18:46] emilio opened #6656 "[Bug] Opening downloaded PDF file doesn't work."
## Steps to reproduce

Go to any PDF file, like http://cepr.net/images//stories/reports/bolivia-elections-2019-11-spanish.pdf

Have Adobe Acrobat Reader as your default app for PDF files.

The file will download, and when it finishes you get a toast to open it.

However clicking that toast, while it will launch the PDF reader, wont open the file and it'll go back to Fenix with an error.

Doing the

[2019-11-17 20:21] vespertineSiren commented on #2294
Can I be assigned this? I've implemented @ekager fix above. The tests are running smoothly for non-Samsung devices. I'm currently waiting for Samsung devices to be available on samsung RTL to test on those devices mentioned in @AndiAJ 's post.

[2019-11-17 20:23] kbrosnan commented on #6552
Thank you all for screenshots from your devices. There is no need to add more of them. The Chrome size on your device will depend on the Android version. For [Android 10 they broke Chrome and the Webview](https://chromium.googlesource.com/chromium/src/+/HEAD/android_webview/docs/channels.md#Trichrome-Android-Q) into separate parts. Users on Android 10 would need to sum the Webview and Chrome sizes

[2019-11-17 20:34] hakkikaancaliskan commented on #6552
Got it. I updated my phone to 10 and size is 24+78=102MB.

[2019-11-18 04:12] lindongbin opened #6658 "[Bug] "Zoom on all websites" not working."
## Steps to reproduce

1. Set general.useragent.override to desktop version as "Mozilla/5.0 (X11; Linux x86_64:72.0) Gecko/20100101 Firefox/72.0" in about:config.
2. Check "Zoom on all websites" enable.
3. Force stop Fenix Nightly.
4. Open https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_9488899134225353999%22%7D&n_type=0&p_from=1
5. Zoom not working. if disable then

[2019-11-18 04:35] lindongbin opened #6660 "[Bug] Too much padding between collection title and items after opening a link"
## Steps to reproduce

Open a link in a collection, close and return.

### Expected behavior

![Screenshot_2019-11-18-12-16-18-410_org mozilla fe](https://user-images.githubusercontent.com/3154109/69024907-d0a4e780-09ff-11ea-9a56-2f1151629eb4.jpg)

### Actual behavior

![Screenshot_2019-11-18-12-16-13-117_org mozilla fe](https://user-images.githubusercontent.com/3154109/69024918-d8fd2280-09ff-11ea

[2019-11-18 06:25] cadeyrn commented on #6660
Please describe the bug. I don't see a difference.

[2019-11-18 06:26] beastdestroyer commented on #6656
Can confirm this has been happening for quite some builds now.

Device: Mi 8 Lite; Android Pie: MIUI 11 (happened on MIUI 10 too)
Fenix:
Nightly 191117 18:01 (Build #13211807)
📦: 22.0.0, b385878f2
🦎: 72.0a1-20191115095319

[2019-11-18 07:05] lindongbin commented on #6660
![4D)9G@RJY~4QNMQY D)8@RH](https://user-images.githubusercontent.com/3154109/69031370-e8d33180-0a14-11ea-970f-8243ca0c71c0.png)

[2019-11-18 08:37] AndiAJ commented on #1695
Hi, **verified as fixed** on the latest **Nightly Build #13220606 from 11/18** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191118_103223](https://user-images.githubusercontent.com/51314259/69036806-418fd380-09ef-11ea-9a27-441f1a28997e.gif)

[2019-11-18 09:16] maxdule opened #6661 "[Bug] Tracking Protection is not Working"
## Steps to reproduce
Open any site.

### Expected behavior
Shield should be there  - being blue when there is blocked content.

### Actual behavior
There is no shield, regardless of content that that should be blocked present or not. (settings are not changed - tracking protection is on).

NOTE: The site does not look the same as in standard Firefox, or Firefox on desktop (the standard Firefox fo

[2019-11-18 09:17] maxdule opened #6662 "[Bug]"
## Steps to reproduce
Open any site.

### Expected behavior
Shield should be there  - being blue when there is blocked content.

### Actual behavior
There is no shield, regardless of content that that should be blocked present or not. (settings are not changed - tracking protection is on).

NOTE: The site does not look the same as in standard Firefox, or Firefox on desktop (the standard Firefox fo

[2019-11-18 09:18] #6662 closed

[2019-11-18 09:18] maxdule commented on #6662
Duplicate

[2019-11-18 09:29] cadeyrn commented on #6661
This is expected. The shield icon is not a feature of Firefox Preview 2.3.0.

[2019-11-18 09:53] topotropic commented on #6286
closing as dupe of https://github.com/mozilla-mobile/fenix/issues/5963

[2019-11-18 09:53] #6286 closed

[2019-11-18 10:04] sv-ohorvath commented on #6658
Dupe of #2477.

[2019-11-18 10:04] #6658 closed

[2019-11-18 10:16] sv-ohorvath commented on #6661
I think this is a duplicate of #6042

[2019-11-18 10:16] #6661 closed

[2019-11-18 10:22] sv-ohorvath commented on #6654
Dupe of #6573

[2019-11-18 10:22] #6654 closed

[2019-11-18 10:33] topotropic commented on #6620
Showing a non-parent tab is potentially confusing – it would be great if we could go for option 1

We also plan to introduce a dedicate tab tray https://github.com/mozilla-mobile/fenix/issues/1063 so that would mean, we'd replace "home" with "new tab" mentioning it, in case this has an impact.

[2019-11-18 10:35] topotropic commented on #6523
We can remove the x (close button). Thanks!

[2019-11-18 10:36] topotropic commented on #5963
@ekager this is fixed, no?

[2019-11-18 10:40] maxdule commented on #6661
@cadeyrn The icon itself is less of a problem.

The protection de facto **not working** is a bigger one. But does seem like a duplicate of #6042

[2019-11-18 10:55] AndiAJ opened #6663 "[Bug]Crash when disconnecting from sync"
## Steps to reproduce
**1.**  From the **"Turn on sync" section** , tap **"Use email instead"** and log in using valid credentials.
**1.1** After successfully signing in, from the **"Turn on sync" section** tap **"Sign out"** and **"Disconnect"**.

**2.**  From the **"Turn on sync" section** , tap "Ready to scan" and log in using the QR pairing.
**2.1** After successfully signing in using the QR p

[2019-11-18 11:18] reinhart1010 commented on #773
@espectalll The issue with WebAPKs is discussed in https://twitter.com/Not_Woods/status/1179368438923444224

[2019-11-18 12:21] jonalmeida commented on #6663
Looking into it this week. Seems like it's push related and the same crash in #6626 .

[2019-11-18 12:21] jonalmeida commented on #6626
Closing in favour of #6663 since it had STR.

[2019-11-18 12:21] #6626 closed

[2019-11-18 12:23] jonalmeida commented on #6663
Off the bat, it seems like we aren't cleaning up push registrations correctly on sign out.

[2019-11-18 13:13] sv-ohorvath commented on #4189
I can't reproduce this on Pixel (Android 10), on Nightly 11/18.

[2019-11-18 13:13] #4189 closed

[2019-11-18 14:06] AndiAJ commented on #5074
Hi @ekager , I've just checked the Sync Logins on latest **Nightly Build #13220606 from 11/18** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔️ The "Logins" is displayed and can be enabled/disabled in the "Choose what to sync" section from the Account se

[2019-11-18 14:58] AndiAJ commented on #6624
Hi, **authentication set up prompt warning** is displayed one time when trying to access the "Saved logins" without having any screen lock or biometrics set on latest Nightly Build #13220606 from 11/18 using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video

[2019-11-18 14:58] #6624 closed

[2019-11-18 15:03] abodea commented on #5547
I synced with @ekager on slack and she agreed on closing this issue. We will open new bugs, as this one is verified according to my comment from above.

[2019-11-18 15:03] #5547 closed

[2019-11-18 15:24] AndiAJ commented on #5546
Hi, **verified as fixed** on the latest **Nightly Build #13220606 from 11/18** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191118_171217](https://user-images.githubusercontent.com/51314259/69064998-aa933d80-0a27-11ea-8eca-916530d3468c.gif)

[2019-11-18 15:24] #5546 closed

[2019-11-18 15:26] darkwing opened #6665 "[Bug] Private session heading and text don't align"
![Screenshot_20191118-090718](https://user-images.githubusercontent.com/46655/69065581-a0504f80-09e5-11ea-998e-4f398ce4cb88.png)

## Steps to reproduce

Enter private mode

### Expected behavior

Title and text have same left position

### Actual behavior

The text appears to be indented

### Device information

* Android device: Pixel 4 XL
* Fenix version:

[2019-11-18 15:57] darkwing opened #6666 "[Bug] I feel stuck at the "Search with" screen"
![Screenshot_20191118-094458](https://user-images.githubusercontent.com/46655/69067533-d511d600-09e8-11ea-9927-c498234f63cc.png)

## Steps to reproduce

1.  Tap on the search bar, see search screen pop up
2.  Tap anywhere on the screen that isn't a search source, see keyboard disappear
3.  ....now what?

What if I want to go back to my opened tabs?  It took me a while to figure out that I was mean

[2019-11-18 16:15] csadilek commented on #6620
@ekager we're actively migrating away from `browser-session`, but this should already by accessible through the browser store:

[code]

[2019-11-18 16:55] atopal commented on #6175
Perttu, would you mind filing this under https://github.com/mozilla/kitsune? That way you'll get updates as things get fixed.

[2019-11-18 17:10] jonalmeida commented on #4072
My mistake.

This was intentional because Firefox Sync will cover/have this use case and conflicts with app backups. Please file a new issue with the feature request if you feel strongly otherwise.

[2019-11-18 17:24] Sgt-Miller opened #6668 "[Bug] Browser crashes if I try to upload an image in GitHub issues"
So I was about to file another issue (no "open in app option for m.youtube.com" but then this happened when I tried to post the issue.
## Steps to reproduce
Create new issue on GitHub from Firefox preview
Try to upload image
### Expected behavior
Show the image selection window.
### Actual behavior
Firefox crashes.
### Device information

* Android device: 8
* Fenix version: 2.3.0 (Build #13031728

[2019-11-18 17:33] cadeyrn commented on #6668
probably the same crash  as in #6459.

[2019-11-18 17:40] darkwing commented on #6560
I just saw this momentarily on my Pixel 4.  It was there for a moment then disappeared.  It's almost as though an animation stuttered.  Like I said, it went away fairly quickly though.

[2019-11-18 17:43] Baron-Severin commented on #4904
Unassigning myself and moving this to the backlog.  I'm working on another project this week.

[2019-11-18 17:49] Sgt-Miller commented on #6668
Looks like it. Just downloaded nightly and that does not have this issue.

[2019-11-18 17:49] #6668 closed

[2019-11-18 17:52] jorgman1 commented on #6639
You could reduce the space between the shield and the padlock. Or give the users the choice over the buttons they want to include.
Personally, I seldomly change the tracking protection and I am constantly using the reader mode. In fact, I probably use it on 90% of the pages where it is available.

Is there a possibility to have it enabled by default?

[2019-11-18 17:58] jorgman1 opened #6669 "[Bug] Slow reaction when opening"
## Steps to reproduce
Open the app after completely closing it.
Click on the navigation bar and search for something. (With different search engines).

### Expected behavior
The bar goes quickly to the top and once I type the text and press enter, it quickly sends the page.

### Actual behavior
When I click on the navigation bar, it takes 1-1.5 s till it moves to the top of the screen. After typin

[2019-11-18 17:59] jorgman1 opened #6670 "[Bug] Slow reaction when opening"
## Steps to reproduce
Open the app after completely closing it.
Click on the navigation bar and search for something. (With different search engines).

### Expected behavior
The bar goes quickly to the top and once I type the text and press enter, it quickly sends the page.

### Actual behavior
When I click on the navigation bar, it takes 1-1.5 s till it moves to the top of the screen. After typin

[2019-11-18 18:00] Sgt-Miller opened #6671 "Option to autohide the address bar when scrolling."
### Why/User Benefit/User Problem
The feature already exists in Firefox for Android.
More screen space
### What/Requirements
Should be an option, let the user choose.
### Acceptance Criteria (how do I know when I’m done?)
Self descriptive.

[2019-11-18 18:01] jorgman1 commented on #6670
Sorry, I sent it accidentaly twice.

[2019-11-18 18:01] #6670 closed

[2019-11-18 18:01] #6671 closed

[2019-11-18 18:16] Sgt-Miller commented on #6639
Agree, reader mode should be in address bar. And tracking protection could be placed where reader button exists now.

[2019-11-18 18:17] mawen7 commented on #6620
@ekager @csadilek I implemented

by using the existing [hasParentSession](https://github.com/mozilla-mobile/android-components/blob/7d84733412a9648b733a76127b6f30ddd3e60b11/docs/api/mozilla.components.browser.session/-session/has-parent-session.md#hasparentsession).

Let me know if you already worked on this locally or I should leave a PR.

[2019-11-18 18:44] #6440 closed

[2019-11-18 18:48] ekager commented on #6620
Feel free to open a PR @mawen7

[2019-11-18 18:50] NotWoods commented on #6279
Assigning to @Amejia481 since he's working on a fix for the new crash bug

[2019-11-18 18:58] Sgt-Miller opened #6672 "[Bug]QR code scanner has very low quality video and fps compared to in built camera."
## Steps to reproduce
Start searching
Tap scanner icon
### Expected behavior
High fps, good adaptive exposure
Android camera :
![Screenshot_20191119-001139](https://user-images.githubusercontent.com/17806210/69081163-53946500-0a35-11ea-9e04-88df99679846.png)

### Actual behavior
Super low fps, bad exposure
Fenix scanner :
![Screenshot_20191119-001155](https://user-images.githubusercontent.com/1780

[2019-11-18 19:03] NotWoods commented on #5665
everythingabouthere.com uses a small favicon, which we currently discard as it becomes blurry when displayed in the launcher. mozilla-mobile/android-components#3814 tracks adding support for small icons.

The website can fix this by adding a larger icon.

[2019-11-18 19:03] #5665 closed

[2019-11-18 19:09] Sgt-Miller opened #6674 "Search and sort bookmarks/history"
### Why/User Benefit/User Problem
Im sure lot of us have got hundreds of bookmarks. An option to search for them and sort them will be very useful.
Should be there for history too.

### What/Requirements
Search bar and sort options for bookmarks and history.
### Acceptance Criteria (how do I know when I’m done?)
For both bookmarks and history(separately)
-Option to search
-Sort by name (ascending/

[2019-11-18 19:19] mcomella commented on #5910
Status update: I've mostly defined cold/warm/hot for automation purposes; I still need to do some work to define it for how we'd want to capture it in telemetry.

[2019-11-18 19:38] mawen7 commented on #6620
Done #6675 :)

[2019-11-18 19:40] supersonic71 opened #6676 "Store collections as folders in bookmarks so that it can be accessed from Desktop"
### Why/User Benefit/User Problem
First off, collections is a very useful feature and I really like using it on mobile. But looks like it doesn't sync with desktop.
### What/Requirements
So to fix this, whenever I save a collection, Firefox will create a folder in bookmarks with folder name as collection name and store the list of websites in that collection in that folder.
### Acceptance Criteria

[2019-11-18 20:25] darkwing commented on #6616
I cannot reproduce this on current master on Pixel 4 -- the item is added to the home screen and is in full screen.

![Screenshot_20191118-142426](https://user-images.githubusercontent.com/46655/69091121-42d0f880-0a0f-11ea-957e-fd5cced50253.png)

[2019-11-18 21:10] cadeyrn commented on #6674
Sorting bookmarks is #4348.
Searching bookmarks and history is #6232.

[2019-11-18 21:25] hawkinsw commented on #6196
I am resolving this as a result of @csadilek merge above. However, I am going to open a related issue for the performance problem of starting the Leanplum metrics.

[2019-11-18 21:25] #6196 closed

[2019-11-18 21:27] hawkinsw opened #6678 "[Performance] Leanplum metric initialization is very, very slow."
This will track a solution to the problem that initialization of Leanplum is very, very slow and blocks startup. After the resolution of #6196, initialization of this component accounts for a very large part of the app's startup time.

[2019-11-18 21:28] hawkinsw opened #6679 "[Performance] Leanplum metric initialization is very, very slow."
This will track a solution to the problem that initialization of Leanplum is very, very slow and blocks startup. After the resolution of #6196, initialization of this component accounts for a very large part of the app's startup time.

[2019-11-18 21:29] hawkinsw commented on #6678
Accidental dup here because of user error :-)

[2019-11-18 21:29] #6678 closed

[2019-11-18 22:02] ekager commented on #3809
The action we took for now in #6641 was to show the full URL in the security popup

[2019-11-18 22:33] ekager commented on #6621
Hey @abodea I added the secure window flag so these fragments will be obscured in the app switcher now. Let me know if it also fixes the recording issue :)

[2019-11-18 22:51] marcinwiacek opened #6681 "Wrong URL (404 error) should not be proposed in search"
## Steps to reproduce

1. try to open wrong url - for example www.dobreprogramya.pl
2. try to open good URL - for example www.dobreprogramy.pl
3. open other page and try to typing www.dobre in URL bar

### Expected behavior

Browser is not remembering wrong URLs and doesn't propose them

OR

browser has got ability of removing URL suggestions

### Actual behavior

Browser is proposing dobreprogram

[2019-11-18 23:00] Baron-Severin commented on #5540
This PR requires changes, but I'm allocated to FFTV this week.  Unassigning and moving to backlog.  If someone picks up this change, please see https://github.com/mozilla-mobile/android-components/pull/5068

[2019-11-18 23:07] marcinwiacek opened #6682 "Blocking redirections to some servers"
### Why/User Benefit/User Problem

When I do for example some searches from Google, after opening URL it's opened, but later I'm immediately redirected to other page (in this concrete case this is some spam/advertising/trolling URL)

### What/Requirements

When page is redirecting the whole tab to other URL in different server, user is asked:

You're redirected from ... to the ...
Do you want to:

[2019-11-19 03:47] #6674 closed

[2019-11-19 04:53] brampitoyo commented on #5630
Progress report:
* Through iterating on the design, we now know that adding uBlock Origin (or any other add-on) should be done using a button (can either be a “+” icon, or “+ Add to Firefox)
* After installing, we provide a toggle to enable/disable this add-on
* This may help migration
    * For example, if you have uBlock Origin installed on Desktop or Fennec, Fenix can add uBlock Origin automati

[2019-11-19 05:00] brampitoyo commented on #6069
Progress report:
* We now know that all installable WebExtensions must:
    * Comply with Add-on Policies, and more importantly, pass [security review](https://extensionworkshop.com/documentation/publish/add-on-policies-2019-12/#security-vulnerabilities)
    * Be Recommended by the Add-ons Editorial team
    * This ensures that all installable add-ons on Fenix won’t compromise security or performa

[2019-11-19 05:04] brampitoyo commented on #6091
Progress report:
* We’ve confirmed that auto-update is not modifiable. It’s always set to ON. This means that all add-ons will auto-update to the newest version that’s recommended by AMO.
* We’ve also confirmed that all add-ons will run in both private and normal browsing
    * In the future, we may implement a control that make it possible for a specific add-on to turn OFF while in private browsi

[2019-11-19 05:39] brampitoyo commented on #6092
Progress report:

* This is an area where most progress have been made

* I initially started by expanding the choices of where add-ons can be accessed:
    * [Expanded] From the main menu
    * [Expanded] From a floating action button
    * [New] Inside the site info panel
    * [New] As a separate icon on the right side of the URL bar
    * [New] By making the toolbar expandable (e.g. swipe up t

[2019-11-19 05:40] brampitoyo commented on #6122
We’ve decided that all extensions will be auto-updated by default, and it’s not a control that users can manually turn off.

[2019-11-19 05:41] brampitoyo commented on #6123
Progress report:
* In Q4 2019, we’ve decided that WebExtensions will run in both normal and private browsing modes
* In the future, we may provide a choice to disable individual WebExtension in private browsing

[2019-11-19 05:43] brampitoyo commented on #6124
Progress report:
* This one is fairly straightfoward. We’ve decided that this control should take the form of an ON/OFF toggle.
* We also acknowledge the fact that this feature is important for Fennec to Fenix migration. Migrated add-ons from Fennec can be automatically installed on Fenix, but we may choose to turn them OFF by default.

[2019-11-19 06:39] ekager commented on #4992
Closing for #4205

[2019-11-19 06:48] ekager commented on #4205
Couldn't figure this out in a short time box so I opened to track in AC https://github.com/mozilla-mobile/android-components/issues/5097

[2019-11-19 07:02] ekager commented on #6620
I'm not sure what to do with this ticket now (obviously with my labeling frenzy).
We now return to home if a tab doesn't have a parent which makes this a bit less confusing IMO, but this ticket was originally about the deletory action of pressing back on a tab and having it close without an undo snackbar. With the way the undo snackbars and sessions work, I think even adding the undo action would

[2019-11-19 07:05] ekager commented on #6620
@topotropic I think we do need further UX feedback about the behavior of **removing** a tab on back press with no history (and not just going to home). We added that behavior from issue https://github.com/mozilla-mobile/fenix/issues/2629 but it's unclear if there was ever a clear UX stance on that behavior.

[2019-11-19 07:25] rpsu commented on #6175
Will do, thanks!

[2019-11-19 07:49] julienw commented on #4992
hey @ekager, this issue was also related to the fact that I need a lot of clicks compared to Android, even for cases where it works. But maybe this is more a Lockwise issue (especially the fact it doesn't stay unlocked for a long time) ?

[2019-11-19 07:53] ekager commented on #4992
Ah okay! We can reopen.
I will say if Lockwise does recognize the site then I believe it fills with less steps. The searching is if it doesn't have a match.
Fenix autofill will also be available in the next few months and will (to start) just fill without input.

[2019-11-19 08:08] julienw opened #6685 "[Bug] It's not possible to access the context menu in some cases"
## Steps to reproduce
This happens to me especially on the Twitter web site:
1. Click on "write a tweet".
2. Long press or click on the cursor or whatever usually works to display a context menu.

### Expected behavior
The context menu is displayed (to paste something).

### Actual behavior
Nothing is ever displayed.
(Note: this works very rarely, but I couldn't ascertain when this happens)

### D

[2019-11-19 08:21] julienw opened #6686 "[Bug] It's not possible to access the context menu in some cases"
## Steps to reproduce
This happens to me especially on the Twitter web site:
1. Click on "write a tweet".
2. Long press or click on the cursor or whatever usually works to display a context menu.

### Expected behavior
The context menu is displayed (to paste something).

### Actual behavior
Nothing is ever displayed.
(Note: this works very rarely, but I couldn't ascertain when this happens)

### D

[2019-11-19 08:28] julienw commented on #6686
submitted it twice, sorry. See #6685

[2019-11-19 08:28] #6686 closed

[2019-11-19 08:40] julienw opened #6687 "The "Share" menu is a bit messy"
I know there are a few other bugs related to this topic (#6023 #3861), so feel free to close this one. But I tried to capture my frustations with the current sharing menu here.

The things displayed in the share menu seem to be roughly alphabetically sorted, from the english names (even if the localized titles would sort the items differently).
My main issue is that I never use the things that app

[2019-11-19 08:51] pocmo commented on #5490
The recommendation from Loren is to use the Fennec tokens for Adjust/Leanplum in the Fenix production release.

[2019-11-19 08:53] pocmo opened #6688 "Fennec migration: Setup build type for Fennec nightly."
Like #4873 created a `fennecProduction` build type and #6622 is creating a `fennecBeta` build type, this issue is about creating a build type for Fennec Nightly so that this new build type can replace a Fennec Nightly installation.

# Build config

- [x] Create a `fennecNightly` build type
- [x] Reuse `sharedUserId` from Fennec Nightly
- [x] Re-use versionCode mechanism of Fennec
- [x] Reuse Fenne

[2019-11-19 10:06] sv-ohorvath opened #6689 "[Bug] Dismiss the Download failed in-app notification when Try again from the system notification is pressed"
## Steps to reproduce
1. Download a file.
2. Cut the wifi. Download fails.
3. Turn on Wifi. Press Try again in the system notification.
4. Observe the in-app notification.
### Expected behavior
The failed download in-app notification is dismissed as well.
### Actual behavior
The failed download in-app notification still displayed.
### Device information

* Android device: Pixel (Android 10), OnePl

[2019-11-19 10:10] sv-ohorvath commented on #6434
Verified as fixed on Nightly 11/19.

[2019-11-19 10:10] #6434 closed

[2019-11-19 10:10] sv-ohorvath commented on #6593
Verified as fixed on Nightly 11/19.

[2019-11-19 10:10] #6593 closed

[2019-11-19 10:11] sv-ohorvath commented on #6594
Verified as fixed on Nightly 11/19.

[2019-11-19 10:11] #6594 closed

[2019-11-19 10:31] AndiAJ commented on #6042
H @ekager , I've reported this without knowing that the ETP is blocked for the moment on RC builds.
As described, it previously worked on nightly builds (only wanted to make a comparison between them)

I'll go ahead and close this issue, sorry for the confusion created. :)

[2019-11-19 10:31] #6042 closed

[2019-11-19 11:38] mcarare commented on #5909
I think we can gradually add accessibility checks in our UI tests. Either just checking that views also have a certain content description (or a non-empty one) or implement something similar to that suggested here:
https://tech.ebayinc.com/engineering/android-accessibility-automation-with-espresso/

[2019-11-19 13:24] sv-ohorvath commented on #3809
Verified as fixed on Nightly 11/19.

[2019-11-19 13:24] #3809 closed

[2019-11-19 14:21] mcarare commented on #6070
@vesta0 Just to clarify: we only want to track events of enabling search suggestions in private from the hint panel (UI prompt)? That is a unique event.
Or we also want to track enabling from the settings screen? This could be a repeating event for the same user. TY!

[2019-11-19 14:53] abodea commented on #6621
Verified as fixed using the latest Nightly build from 11/19 with Google Pixel 3a XL(Android 9).
Note that the `Saved Logins` section cannot be recorded anymore as everything is displayed black.

[2019-11-19 14:53] #6621 closed

[2019-11-19 15:20] AndiAJ commented on #5705
Hi, I've just checked this on the latest Nightly Build #13230608 from 11/19 using a Google Pixel 3a XL (Android 9).

[Logcat](https://github.com/mozilla-mobile/fenix/files/3864491/media.txt)
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/aj-t191110)

Youtube - Ping e0f5b53e-5a3c-44bd-9044-2c5903da2fa1
✔️ Play
✔️ Pause
✔️ Stop by putting the app in background

Twitch - Ping 1a62

[2019-11-19 15:53] AndiAJ commented on #5583
Hi **verified as fixed** on the latest **Nightly Build #13230608 from 11/19** using a Google Pixel 3a XL (Android 9)

✔️ User pauses a download - Ping d7a54dae-ab4a-400e-b685-b01ad44714d7
✔️ User resumes a download - Ping 55f51505-5011-4c54-8f41-0733b62b9e82
✔️ User cancels a download - Ping 4f155d55-67ee-4e3a-8d0c-b69538d53996
✔️ User taps on retry when a download fails - Ping b2f8d1ec-e0c3-467e-

[2019-11-19 15:53] #5583 closed

[2019-11-19 16:27] sblatz commented on #6434
To be clear, the GV bug still stands which means that this will still have incorrect behavior when files do NOT have a file size. https://github.com/mozilla-mobile/android-components/issues/4999 Will track that :)

[2019-11-19 16:43] NotWoods commented on #6616
@creesch it looks like you're using the stable builds. Currently PWA support is Nightly-only, but I'm hoping to move it to stable soon.

[2019-11-19 16:43] #6616 closed

[2019-11-19 16:43] andreicristianpetcu commented on #5630
how can I test? config flags? special build? @brampitoyo

[2019-11-19 16:45] NotWoods commented on #6681
We already have an issue for removing history suggestions from the search bar here: #6358.

I'll update this issue to focus on the other option, not suggesting a URL if it doesn't load.

[2019-11-19 16:49] NotWoods commented on #6666
On older devices Android always displays a back button, but we might want to tweak the UX to better work with gesture navigation in Android 10.

[2019-11-19 16:56] #6394 closed

[2019-11-19 17:55] sblatz commented on #6689
The download may have failed again. When I was testing this, it would take about 10 seconds for my WiFi to go back online, so pressing in that first 10 seconds would just immediately create another download failed notification.

Can you try waiting and pressing to see if this still happens? :)

[2019-11-19 18:17] AmyYLee commented on #4776
![Settings - About Firefox Preview@1x](https://user-images.githubusercontent.com/5992746/69173284-796d4880-0acd-11ea-960e-0b38719958ea.png)

I agree we should be using links that support different locales. I’m not sure how we can go about getting links for Support and Privacy Notice. @NotWoods can you confirm?

We have “about:rights” and “about:license” in Fennec. How do we go about getting these

[2019-11-19 18:19] concastinator opened #6693 "[Bug] Some trackers are not blocked despite reported so"
## Steps to reproduce

This happens somewhat randomly, so that I cannot trigger it at will. Please see the screenshot.
![Screenshot_20191119-200337](https://user-images.githubusercontent.com/57685970/69173737-0da8d100-0b09-11ea-855b-68701638921c.png)

Sometimes an add delivered from icorpadro.hit.gemius.pl slips through the tracking protection, despite this tracker being reported to be blocked (no

[2019-11-19 18:26] Amejia481 commented on #4776
If we want to have a separate section for **Mozilla libraries** and for **non Mozilla Libraries**, we should have:

- **Mozilla libraries we use**: Android Components and GeckoView.
- **Third party libraries we use**: all third party libraries

I think we can just have one section for all libraries **"Libraries that we use"**

[2019-11-19 18:45] AmyYLee commented on #4776
![Settings - About Firefox Preview@1x](https://user-images.githubusercontent.com/5992746/69175901-a5d79380-0ad2-11ea-8173-1518daba03e8.png)

I agree let's consolidate and use "Libraries that we use" - see mock above. @ValentinTimisica Also can you remove "Privacy notice" from the Settings page now that we are moving this into the About page. Thanks

[2019-11-19 18:49] boek opened #6694 "[Meta] Unify back button behavior"
We want to collect all of the odd back button behavior here

- [x] https://github.com/mozilla-mobile/fenix/issues/6304
- [x] #4904
- [x] https://github.com/mozilla-mobile/fenix/issues/6620
- [ ] https://github.com/mozilla-mobile/fenix/issues/5727
-  [x] #6247

[2019-11-19 18:50] boek opened #6695 "[Meta] Unify back button behavior"
We want to collect all of the odd back button behavior here

[2019-11-19 18:50] boek commented on #6304
Added to #6694

[2019-11-19 19:08] ekager commented on #5938
This was merged in https://github.com/mozilla-mobile/android-components/pull/5053
and we can close this ticket now

[2019-11-19 19:14] ekager commented on #1284
Realized this bug hasn't been udpated with new bugs coming from GV/Gecko toolkit/storage discussions:

Existing GV Autofill API
[Autofill.Delegate docs](https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/Autofill.Delegate.html#onAutofill-org.mozilla.geckoview.GeckoSession-int-org.mozilla.geckoview.Autofill.Node-)
[GeckoSession.autofill docs](https://mozilla.github.io

[2019-11-19 19:17] ekager commented on #5074
Yes this looks good! Thank you @AndiAJ !

[2019-11-19 19:17] #5074 closed

[2019-11-19 19:27] liuche commented on #5543
I'll work w/ Emily to break this into the GV and AC parts.

[2019-11-19 19:41] ekager opened #6696 "Integrate Autofill AC API in Fenix for GV Login Autofill Delegate (Land Autofill in Fenix)"
#5543 is tracking the AC work of creating the AC wrapper around the new GV API. After the GV APIs land, Fenix will need to do work in this ticket to integrate the AC API and actually autofill logins.

### Acceptance criteria
- [ ] Logins autofill (by initializing GV RT)

### Dependencies
- [x] AC work for GV autofill API #5543
- [x] Login Storage Gecko Toolkit Implementation for heuristics of logi

[2019-11-19 19:45] liuche commented on #6190
Next steps here: we'll break out into a user-story filing (@boek and @topotropic)

[2019-11-19 19:46] liuche commented on #3177
Next steps here: we'll break out into a user-story filing (@boek and @AmyYLee)

[2019-11-19 19:51] AaronMT opened #6697 "Add Tracking Protection UI Tests"
Support the Tracking Protection feature with UI Espresso tests.

[2019-11-19 20:00] NotWoods commented on #5085
Reopening for QA

[2019-11-19 20:57] jonichan commented on #6611
Hi Vesta, is this for a general Fenix FAQ or is it for a specific feature? Here's a link you can use in the UI. When will we need the content (en-us and localized)?

https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/fenix-faq

[2019-11-19 20:58] jonichan commented on #6611
Hi Vesta, is this for a general Fenix FAQ or is it for a specific feature? Here's a link you can use in the UI. When will we need the content (en-us and localized)?

https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/preview-faq

[2019-11-19 21:46] AmyYLee commented on #6611
This is for a general Fenix FAQ. I'm not sure about the timing for when we need the content (en-us and localized). Vesta is out for the next few weeks. @lime124 @liuche?

[2019-11-19 22:14] liuche commented on #6611
Since we wouldn't be uplifting this into 3.0, the earliest that we'd need it localized by would be Dec 9, which is when our 3.1 release goes out.

[2019-11-19 23:03] marcinwiacek opened #6701 "[Bug] URL bar / history contains wrong titles for pages"
## Steps to reproduce
1. open page A
2. start opening page B and fast go into page C
3. try to enter URL for page B again in URL bar

It works only sometimes and looks like race condition

### Expected behavior

URL bar contains suggestion for page B with title from correct page (B) - it (title) should be updated every time when you load some URL

### Actual behavior

![Screenshot_20191119-201012_

[2019-11-19 23:05] marcinwiacek commented on #6701
Wrong title I see also in history...

[2019-11-20 00:01] liuche commented on #5542
@ekager could we show this dialog when GV detects that there is a login? Also, can we add the exceptions list? Basically everything except writing the login to the Sync storage.

Would be down to land this preffed off entirely, or Nightly-only just disabling the "Save" button in the dialog.

[2019-11-20 00:27] moriyik commented on #6122
Will there be a feature where users can control updates for specific extensions (not a global setting)?

[2019-11-20 00:48] moriyik commented on #5630
Copy/paste for settings is not a solution at all. Settings import and export needs local file access to work properly for people who don't use sync.

[2019-11-20 00:52] brampitoyo commented on #6122
@moriyik We may consider this feature in the future. Many thanks for bringing up this point.

Could you help us understand why it sometimes makes sense for auto-update to be turned off for some extensions, and not for others?

[2019-11-20 00:54] moriyik commented on #4049
Terrible decision. Local file access is needed for many reasons. Please reconsider.

[2019-11-20 01:03] brampitoyo commented on #5630
Hi @andreicristianpetcu. As a UX designer in the team, my update talks about add-ons in terms of its experience and interface: user flow, mockups and design variations.

To my knowledge, our Engineering team is currently doing the groundwork to build it, and the actual support will only land in Fenix later this year.

We will definitely let you know when it’s available to test in the app!

[2019-11-20 01:17] moriyik commented on #6122
@brampitoyo

If new updates break functionality of specific extensions or new update requires more permissions than user is willing to give. If it is a permanent change users can choose to use a specific version before that. If it is temporarily break in functionality users can install the previous version of the extension and disable updates then wait a few days or however long it takes for a fix

[2019-11-20 01:52] hawkinsw commented on #6679
See #6703

[2019-11-20 02:23] grigoryk commented on #5938
Support for this merged, but we still need to flip the flag in Fenix.

[2019-11-20 02:28] grigoryk opened #6704 "Enable FxA state encryption for release"
https://github.com/mozilla-mobile/fenix/issues/5938 enabled account state encryption for nightly users.

Things to watch out for in Sentry:
- instances of `AbnormalFxaEvent`, specifically `MissingExpectedAccountAfterStartup`
- instances of `AbnormalAccountStorageEvent@UnexpectedlyMissingAccountState`

If we don't see a spike in these after a few weeks, let's consider flipping encrypted storage for

[2019-11-20 02:32] ehsan opened #6706 "Typing on the Wealth Simple support site is too laggy"
STR:

Try to type in the text box at the end of this page:

https://help.wealthsimple.com/hc/en-ca/categories/115002441547-Funding-an-Account

I hit this with Fenix Nightly on HTC One m9 with Android 7.

[2019-11-20 02:33] grigoryk commented on #6704
Note that there's currently _some_ volume of `MissingExpectedAccountAfterStartup`. I expect those to drop to zero once https://github.com/mozilla-mobile/android-components/pull/5103 makes its way to nightly users.

[2019-11-20 03:15] brampitoyo commented on #6122
Very good points, @moriyik. Thanks.

What if, instead of a per-addon control, we have a more strict global update policy?

* All updates are automatic (ie. user doesn’t have to tap on “Update” button)
* Updates will be made manual (ie. user must tap on “Update” button), on these conditions:
    * IF new version requires a new or modified set of permissions
        * THEN when you tap on the “Updat

[2019-11-20 04:14] moriyik commented on #6122
I agree with your "strict global update policy" in regards to new permissions/recommended extensions. This is similar to how it currently works in Fennec and in my experience works very well while keeping the user informed of the changes.

Unfortunately like you said it doesn't solve all problems so I don't think that policy by itself is enough. This is something which is lacking on the current Fe

[2019-11-20 06:06] ekager opened #6707 "[Bug] Search Engine Shortcut Regression / breaking UI test shortcutButtonTest"
Regression in engine shortcut behavior introduced in #6551

## Steps to reproduce
1. Go to search
2. Select DuckDuckGo
3. Type "mozilla"

### Expected behavior
See DuckDuckGo results

### Actual behavior
This is breaking `shortcutButtonTest` UI test

See Google results
![Screenshot_20191119-220302](https://user-images.githubusercontent.com/25442310/69213396-cde9e580-0b18-11ea-8bbb-7689430c7e86.png

[2019-11-20 06:17] ekager opened #6708 "[Bug] UI Test settingsMenuBasicsItemsTests regression"
I think this test just needs to be updated to reflect the new UI in the "search sub menu" added in #6551

## Steps to reproduce
Run this test

### Expected behavior
Pass

### Actual behavior
 androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Search bookmarks"

### Device information

* Android device: ?
* Fenix version: ?

[2019-11-20 06:26] cadeyrn commented on #6480
Since #6551 Ecosia is shipped as optional search engine and you can manually enable it. And even if not, since #6551 you can also add custom search engines.

[2019-11-20 06:29] cadeyrn opened #6709 "[Bug] a removed search engine does not immediately appear in "Add search engine""
### Steps to reproduce

1. remove a search engine
2. press "Add search engine"
3. go back
4. repeat step 2

### Expected behavior

The removed search engine appear in the list of search engines after step 2.

### Actual behavior

The removed search engine appear in the list of search engines after step 4, but not after step 2.

### Device information

* Android device: OnePlus 7T Pro McLaren Editi

[2019-11-20 06:33] cadeyrn opened #6710 "[Bug] favicons of new search engines are very low quality"
### Steps to reproduce

1. open search settings
2. press "Add search engine"

### Expected behavior

High quality favicons of the new search engines.

### Actual behavior

The new search engines have very pixelated favicons.

![Screenshot_20191120-073137](https://user-images.githubusercontent.com/1100614/69214736-ffd66880-0b67-11ea-9c3b-c04c05296ac0.jpg)

### Device information

* Android device:

[2019-11-20 06:42] ekager commented on #6701
Hmm looks like `HistoryStorage` is recording titles that don't match the session URL. The suggestions are being pulled from history. This will need AC work

[2019-11-20 08:10] AndiAJ commented on #6689
Hi @sblatz I've just check on the latest **Nightly Build #13240608 from 20/11** and **this is still reproducible** on the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)

► Video
![20191120_095448](https://user-images.githubusercontent.com/51314259/69220423-9e20f900-0b7d-11ea-90b9-50fe46afc0f3.gi

[2019-11-20 09:19] AndiAJ commented on #5085
Hi, **verified as fixed** on the latest **Nightly Build #13240608 from 20/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191120_111505](https://user-images.githubusercontent.com/51314259/69225711-89e1f980-0b87-11ea-83e7-c8cb5528b635.gif)

[2019-11-20 09:19] #5085 closed

[2019-11-20 09:39] AndiAJ commented on #2294
Hi, I've just checked on the latest **Nightly Build #13240608 from 20/11** and this is **still reproducible** on the following devices:
 ❌ **Samsung Galaxy Note 9 (Android 9)**
![rsz_screenshot_20191120-113056_firefox_nightly](https://user-images.githubusercontent.com/51314259/69227213-2a391d80-0b8a-11ea-83e8-c2a15d37d0db.jpg)

 ❌ **Samsung Galaxy Note 9 (Android 8.1.0)**
![rsz_screenshot_20191120

[2019-11-20 09:58] softvision-miralobontiu opened #6713 "[Bug] History/Bookmarks sometimes do not sync"
## Steps to reproduce
1. Sign in with valid credentials on both desktop and a mobile device.
2. Make sure to browse unique pages in both desktop and mobile, different ones.
3. Trigger sync.
4. Verify if the History synced.

### Expected behavior
The history synced.

### Actual behavior
None of the browsed pages on the desktop are displayed in the history of the mobile device, and vice-versa. I sig

[2019-11-20 10:16] sv-ohorvath commented on #6669
Can reproduce on a Mi 4i (Android 5.0.2), but not on Mi 8 Lite (Android 8.1).

[2019-11-20 12:28] marcinwiacek opened #6715 "[Bug][CRASH] Crash after clicking on the notification/camera/microphone info for the site"
## Steps to reproduce

1. open any URL
2. click padlock icon next to the URL - it will show you popup with site permissions
3. click on the text right to the Notifications

### Expected behavior

There is opened Settings window related to Notifications

### Actual behavior

Crash

### Device information

* Android device: Galaxy S7 / Android 8
* Fenix version: nightly 191120

[2019-11-20 12:32] marcinwiacek opened #6716 "[Bug] No site icons in the main page / history"
## Steps to reproduce

Issue is random - after switching to/from Firefox it stops displaying icons for sites in the main page / history.

### Expected behavior

Icons are visible.

### Actual behavior

Icons for the same sites are sometimes displayed sometimes not.

### Device information

* Android device: Galaxy S7 / Android 8
* Fenix version: Nightly 191120

![Screenshot_20191120-091738_Firefox

[2019-11-20 12:34] marcinwiacek commented on #6716
Note: in previous nightly builds I have observed, that for example on opening history window it was fine, after scrolling down and up icons were removed

Restarting browsers many times helped.

[2019-11-20 12:35] marcinwiacek commented on #6715
Note: 100% reproducible.

[2019-11-20 12:45] isabelrios opened #6717 "[Screenshot Tests] Re-enable these tests"
Once the [PR to have screengrab working on Android X](https://github.com/fastlane/fastlane/pull/15217) landed on fastlane and they released a new version, it may be time to work on this again so that these tests are working correctly in case a set of new screenshots are needed.

[2019-11-20 12:46] softvision-miralobontiu opened #6718 "[Bug] "Download completed" not entirely visible in landscape mode/"Open" button inaccessible"
### Steps to reproduce
1. Turn your device into landscape mode.
2. Download a file and wait for it to finish.
3. Observe the "Download completed" snackbar.

### Expected behavior
The snackbar is entirely visible and the "Open" button can be accessed.

### Actual behavior
The snackbar is not entirely visible, the "Open" button is not visible at all and cannot be accessed unless turning the device b

[2019-11-20 12:48] sv-ohorvath commented on #6255
@NotWoods This is from a Nokia 6 (Android 7.1.1)
![Screenshot_20191120-144711](https://user-images.githubusercontent.com/4037709/69240279-c8d27800-0ba4-11ea-8e35-131ec14fd5e7.png)

[2019-11-20 13:01] Diana-Rus commented on #6356
Hi, verified as fixed on app build Firefox Preview Nightly 191120 (Build #13240608) and Gecko View 72.0a1-20191118093852 with Samsung Galaxy S9 (Android 8.0.0) and Google Pixel 3a (Android 9)
Scenarios checked:
- disable/enable wi-fi -> the "Link is up" data is updated correctly based on the state of the network
- have wi-fi enabled and restart device - the "Link is up" data is updated correctly b

[2019-11-20 13:06] abodea opened #6719 "Implement a way to sort the Saved Logins/Accounts Alphabetically or by Recently used"
### Why/User Benefit/User Problem
As a user, I want to sort my Saved logins(for the new section) Alphabetically or by Recently used.
### What/Requirements
Adding a button that can sort the Saved logins/accounts Alphabetically or by Recently used.
### Acceptance Criteria (how do I know when I’m done?)
The Saved logins can be sort Alphabetically or by Recently used.

[2019-11-20 13:37] Diana-Rus commented on #6360
Hi, verified as fixed with Samsung Galaxy 9 (Android 8.0.0) and Google Pixel 3a (Android 9) on app build Firefox Preview Nightly 191120 (Build #13240608) and Gecko View 72.0a1-20191118093852.

[2019-11-20 13:42] sv-ohorvath commented on #6715
@marcinwiacek I cannot reproduce this crash, do you have any extra info? Could you get a [logcat ](https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information) maybe?

[2019-11-20 13:49] ebalazs-sv commented on #4873
Verified as fixed on Google Pixel (Android Q), Samsung Galaxy S8 (Android 9), Nexus 6P (Android 8.1.0), Sony Xperia Z5 Premium (Android 7.1.1), Xiaomi Mi Pad 2 (Android 5.1).
The builds from https://github.com/mozilla-mobile/fenix/wiki/Fennec-Migration can replace Fennec.
I will mark this as Done.

[2019-11-20 14:12] concastinator opened #6720 "[Bug] Downloaded PDF files do not open, but trigger an error"
## Steps to reproduce

1) Tap to download any PDF file, for instance https://small.r7rs.org/attachment/r7rs.pdf.
2) A pop-up will appear containing a button labelled "Open". Tap on it to open the downloaded file.
3) Choose what program to use to open the file. I have tested both ReadEra and Google Drive PDF Viewer, with the same result.

### Expected behavior

The downloaded file should open.

###

[2019-11-20 14:16] AndiAJ commented on #5544
Hi, I've just checked this on the latest **Nightly Build Nightly Build #13240608 from 20/11** using a Google Pixel 3a XL (Android 9).

✔️ This is behind a Nightly flag because it will still be in development - "Passwords" animation when opening "Settings"
❓ Login Sync engine is off by default (since this is the bare minimum) - I've used a newly created account, the **Login Sync engine is OFF for a

[2019-11-20 15:29] csadilek opened #6721 "[Bug][Crash] IllegalStateException: Cannot delete separators"
We're seeing this crash every now and then: https://sentry.prod.mozaws.net/operations/fenix-nightly/?environment=fenixNightly&query=is%3Aunresolved+Cannot+delete+separators

It seems it's possible to delete bookmark separators in the UI, but it causes this crash.

[2019-11-20 15:34] mcarare commented on #6070
@liuche can you please help me with this info? Thank you!

[2019-11-20 15:42] marcinwiacek commented on #6715
11-20 15:15:51.855 15145 15145 E AndroidRuntime: FATAL EXCEPTION: main
11-20 15:15:51.855 15145 15145 E AndroidRuntime: Process: org.mozilla.fenix.nightly, PID: 15145
11-20 15:15:51.855 15145 15145 E AndroidRuntime: kotlin.KotlinNullPointerException
11-20 15:15:51.855 15145 15145 E AndroidRuntime: 	at io.reactivex.plugins.RxJavaPlugins.throwNpe(RxJavaPlugins.java:1)
11-20 15:15:51.855 15145 15145

[2019-11-20 16:02] AndiAJ commented on #5586
Hi, I've just checked this on the latest **Nightly Build Nightly Build #13240608 from 20/11** using a Google Pixel 3a XL (Android 9).

 ❌ Sync logins - No ping is generated
✔️ Access Logins in settings Ping **4205dcb5-5c49-4a9c-b2ee-cbdabaa27dcb**
✔️ Open an individual login Ping **2ce4543d-5ec0-42ac-addb-674bb1a30ffa**
 ❌ Copy a login - The ping is generated **only when you copy the password** Pi

[2019-11-20 16:02] AndiAJ commented on #6396
Hi, please refer to this [comment](https://github.com/mozilla-mobile/fenix/issues/3060#issuecomment-522444633) as it was already working since Aug.

I've re-tested on the latest **Nightly Build Nightly Build #13240608 from 20/11** using a Google Pixel 3a XL (Android 9)

✔️ Auto Sync right after log in:
Bookmarks - Ping 40b5b6ce-3be2-42ca-971f-819218a4d30e
History - Ping 064512ae-0474-4848-b067-e96

[2019-11-20 16:05] BranescuMihai commented on #6720
Will be fixed in [5032](https://github.com/mozilla-mobile/android-components/issues/5032), it's the same problem, that the path towards the file is null.

Duplicate of [6519](https://github.com/mozilla-mobile/fenix/issues/6519), but thanks for raising this up!

[2019-11-20 16:05] #6720 closed

[2019-11-20 16:58] Amejia481 commented on #6439
This will fix after https://github.com/mozilla-mobile/fenix/pull/6699 lands

[2019-11-20 17:08] spencergilbert commented on #3779
It seems like at some point since reporting it's resolved. Don't appear to have any issues now.

[2019-11-20 17:08] #3779 closed

[2019-11-20 17:19] espectalll commented on #773
@reinhart1010 if the issue is having a popup warning of installing a package from an "unknown source", couldn't there be a way to make it user friendly by asking to enable it before a system warning pops up, and just install as browser shortcuts if the permission wasn't given?

[2019-11-20 18:22] liuche commented on #6380
Looks like the GV work for this won't be done until Q1.

[2019-11-20 18:32] boek opened #6723 "[Bug] Pinch to zoom doesn't override other touch events in GV"
## Steps to reproduce
1. Enable force zoom accessibility setting
2. Go to an instagram gallery post
3. Pinch to zoom on the photo

### Expected behavior
Page zooms

### Actual behavior
Gallery tries to swipe to next photo

[2019-11-20 18:43] boek commented on #2159
The media team has investigated this and it is blocked on a 3rd party

[2019-11-20 19:18] liuche commented on #5544
Hi @AndiAJ ! Thanks for testing, I just updated the acceptance criteria that this should be off for new FxA users. For existing users signing into Sync, the sync state will match whatever Login Sync preference they have chosen for their account. The implementation of Sync does not allow for per-device settings.

[2019-11-20 19:21] liuche commented on #6070
Yes, what users choose for this hint.

Yes, we'd like to track this toggle event, and this setting should also be included in the baseline ping. See https://github.com/mozilla-mobile/fenix/issues/975#issuecomment-482523587

[2019-11-20 19:27] liuche commented on #3262
@NotWoods is there some conclusion in where the responsibilities for where pull-to-refresh lives between GV and AC/Fenix, and also whether that API is Gecko-ish or Android-ish (e.g. params that match Android PTR APIs)?

Let me know if this is blocked on something and we need to make some kind of decision, or what the options are moving forward are (I couldn't tell from the comments in https://gith

[2019-11-20 19:32] liuche commented on #4844
@Baron-Severin is this ready for QA? we should add the qa-needed label if so.

[2019-11-20 19:36] mcomella opened #6725 "[consultation] Investigate the impact of glean-core on Fenix performance"
### What
The Glean team wants to measure how their new Rust integration has affected the performance of the Glean library in Fenix: see https://bugzilla.mozilla.org/show_bug.cgi?id=1594431 for details.

### Impact
This work may affect startup - one of our key metrics - and it's good to provide assistance quickly so folks think about how quick and easy it was to work with us and think about perform

[2019-11-20 19:41] NotWoods commented on #3262
I've been having a lot of trouble working with the APIs that Gecko provides.

The built in pull to refresh component just checks if we're at the top of the screen, so I've been subclassing it to work around that. It catches touch events early but the order the events are received don't match with what the GeckoView API wants.

I'm also worried that pages where the scrollbar isn't on the body eleme

[2019-11-20 20:47] vespertineSiren commented on #5711
Please assign , I would like to work on this 👍

[2019-11-20 21:08] ekager commented on #6628
This seems to be device specific, correct @abodea ?
I can't reproduce on my Pixel/Android10 device but I don't think @sblatz could reproduce on his Samsung on Android 9. :/

[2019-11-20 21:09] vespertineSiren commented on #5711
@AmyYLee  should I assume that since both the light and dark modes of the onboarding colors are the same, I should consolidate the background to one drawable resource or should I keep them separate for changes in the future?

[2019-11-20 21:13] Baron-Severin opened #6726 "[Bug] Scroll position lost when app exits"
### Steps to reproduce
- Scroll partway down a page
- Force close app
- Reopen app
- Reopen session

### Expected behavior
- Scroll position is saved (note that this is the behavior in Chrome)

### Actual behavior
- The top of the page is opened

### Device information

* Android device: Nexus 2 & Pixel 2 (both Android 10)
* Fenix version: Release

[2019-11-20 21:14] ekager commented on #5436
@dector are you still seeing this on latest nightly?

[2019-11-20 21:15] ekager commented on #6514
I also cannot reproduce. Could we retest this in the latest nightly since it seems like no one can reproduce it?

[2019-11-20 21:18] ekager commented on #5508
Hi @djc are you still seeeing this on latest Nightly?

[2019-11-20 21:19] lnicola commented on #5508
I'm not the reporter, but this seems to have been fixed for a long time in Nightly.

[2019-11-20 21:26] mcomella opened #6727 "Determine if we should avoid telemetry upload to canonical servers during performance testing"
This issue comes tangentially from the discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1594433#c4.

### Why/User Benefit/User Problem
On both Nimbledroid and Raptor, we test, or will eventually test, unmodified Fenix Nightly and release APKs. By default, these record and upload telemetry. Since these are unmodified, afaik the telemetry will upload by default.

### Impact
If we don't do

[2019-11-20 21:31] djc commented on #5508
Nope, I haven't been seeing this.

[2019-11-20 21:31] mcomella commented on #6727
@Dexterp37 For our prioritization, do you feel this is a high priority to investigate? If so, when should this be done by? ASAP or for the Fennec -> Fenix release?

[2019-11-20 21:34] ekager commented on #5508
Closing!

[2019-11-20 21:34] #5508 closed

[2019-11-20 21:35] mcomella opened #6728 "[consultation] Compare performance of Fenix with Glean enabled/disabled"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1594433, the Glean team wants to measure the impact of telemetry on a regular use flow – e.g. open a website, navigate, close it, do it again – by running the test once, without Glean, and once again with Glean.

The vision statement is, "As a rough measurement of the impact of telemetry on performance," – this could be valuable information for us fo

[2019-11-20 21:39] ekager commented on #5963
Yes this is fixed! Closing

[2019-11-20 21:39] #5963 closed

[2019-11-20 22:41] ekager opened #6729 "Create Fenix Crash/ANR Monitoring Process"
As our releases get closer to replacement date, we need to decide how we will continue to monitor crash reports in a consistent way to make sure we're catching important crashes as soon as possible and filing to the right teams.

Questions
- What is the current crash monitoring process?
- What are the sources? - Sentry dash/GP/Glean/Crash-Stats (Socorro)
- How do we decide what is an acceptable cr

[2019-11-20 23:04] cesarabreu commented on #6721
@csadilek the link that you sent is private. If you don't mind, could you send it in another way? Maybe I, or another person who also don't have access to that link, could help with it.

[2019-11-20 23:08] jonalmeida opened #6730 "Delay initialization of Push"
Perf folks: before working on this issue, check in with Jonathan on the status: this issue may be worked on by Jonathan and it may also be blocked on other changes.

Priority: 5-10% of startup spent here. Last big chunk of perf wins before jumping into view inflation.

---

Some thoughts from a conversation with @hawkinsw from reviewing https://github.com/mozilla-mobile/fenix/pull/6712/.

Since th

[2019-11-20 23:29] rocketsroger commented on #6397
This is referring to Fennec's toolbar where there is an android Icon when the user is on a specific site.

![device-2019-11-20-182158](https://user-images.githubusercontent.com/6579541/69287253-997f3380-0bc3-11ea-848f-6d6142aad348.jpg)

[2019-11-20 23:30] rocketsroger commented on #6397
@vesta0 Is this something we want down the road?

[2019-11-20 23:34] ekager commented on #6729
CC @csadilek I know you've been doing most of the filing of crashes, do you have any thoughts here or questions? I think I want to make sure it's not just you looking at Sentry.

[2019-11-20 23:40] Amejia481 commented on #5921
After https://github.com/mozilla-mobile/android-components/pull/5117 lands this will be fixed

[2019-11-21 01:23] cesarabreu opened #6731 "[Bug] When bookmark folders are deleted consecutively, the folder list becomes buggy"
![bookmark_folder_delete](https://user-images.githubusercontent.com/36203921/69292198-410c5e00-0be4-11ea-92a3-d96392fcc3e1.gif)

## Steps to reproduce
- navigate to Bookmarks
- create some folders (if you don't have at least a couple of them)
- delete consecutively at least two folders
### Expected behavior
- deleted folders should desapear for good
### Actual behavior
- deleted folders may come b

[2019-11-21 01:26] cesarabreu commented on #6721
seems to be the same crash reported in #5920

[2019-11-21 01:32] liuche commented on #6263
unassigning for inactivity

[2019-11-21 01:33] liuche commented on #5621
unassigning for inactivity

[2019-11-21 01:35] liuche commented on #6263
sorry for the churn! I didn't see the PR, and was trying to clear up some issues for new contributors.

[2019-11-21 01:36] liuche commented on #4994
unassigning for inactivity

[2019-11-21 01:40] liuche commented on #6324
This is a dupe of #6284 which was fixed and verified.

[2019-11-21 01:40] #6324 closed

[2019-11-21 01:42] liuche commented on #5423
Dupe of #2497

[2019-11-21 01:42] #5423 closed

[2019-11-21 01:43] liuche commented on #4724
Duping this to #6274

[2019-11-21 01:43] #4724 closed

[2019-11-21 01:54] liuche commented on #4481
I can't repro this on 2.3 - QA can you?

[2019-11-21 02:20] ashkitten commented on #4481
you're right, it appears to be fixed now

[2019-11-21 03:44] csadilek commented on #6721
@cesarabreu Sure, I can share the crash detail / stack trace here:
[code]

That's all we have, but this seems to be a different crash looking at the logcat attached to https://github.com/mozilla-mobile/fenix/issues/5920

[2019-11-21 06:24] Dexterp37 commented on #6727
@mcomella I think this is worth investigating sooner, rather than later. There's a very low hanging fruit type of question we could answer, though: Is the Fenix build used for ND using the same application id as the one on the play store, i.e. `org.mozilla.fenix`?

[2019-11-21 07:51] imagoiq opened #6732 "[Bug] Download of a .bin file result in a corrupted file"
## Steps to reproduce

Download any watchface from Amazfitwatchfaces.com (for ex. [https://amazfitwatchfaces.com/bip/view/30624](https://amazfitwatchfaces.com/bip/view/30624))

### Expected behavior

The watchface 30624 should be 13.40 Ko (at least downloaded with Chrome Mobile).

### Actual behavior

The file size is stuck to 1.92 Ko which then can't be installed with the appropriate software.

#

[2019-11-21 07:52] imagoiq opened #6733 "[Bug] Download of a .bin file result in a corrupted file"
## Steps to reproduce

Download any watchface from Amazfitwatchfaces.com (for ex. [https://amazfitwatchfaces.com/bip/view/30624](https://amazfitwatchfaces.com/bip/view/30624))

### Expected behavior

The watchface 30624 should be 13.40 Ko (at least downloaded with Chrome Mobile).

### Actual behavior

The file size is stuck to 1.92 Ko which then can't be installed with the appropriate software.

#

[2019-11-21 07:52] imagoiq opened #6734 "[Bug] Download of a .bin file result in a corrupted file"
## Steps to reproduce

Download any watchface from Amazfitwatchfaces.com (for ex. [https://amazfitwatchfaces.com/bip/view/30624](https://amazfitwatchfaces.com/bip/view/30624))

### Expected behavior

The watchface 30624 should be 13.40 Ko (at least downloaded with Chrome Mobile).

### Actual behavior

The file size is stuck to 1.92 Ko which then can't be installed with the appropriate software.

#

[2019-11-21 07:53] imagoiq commented on #6733
Duplicate of https://github.com/mozilla-mobile/fenix/issues/6732

[2019-11-21 07:53] #6733 closed

[2019-11-21 07:54] imagoiq commented on #6734
Duplicate of https://github.com/mozilla-mobile/fenix/issues/6732

[2019-11-21 07:54] #6734 closed

[2019-11-21 08:32] AndiAJ commented on #6323
Hi, **verified as fixed** on the latest **Nightly Build #13250607 from 11/21** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191121_102602](https://user-images.githubusercontent.com/51314259/69320596-25d43980-0c4a-11ea-9b58-df0b46da215e.gif)

[2019-11-21 08:32] #6323 closed

[2019-11-21 08:33] Dexterp37 commented on #5626
The Glean SDK team is tracking this [in this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1598247). This is more of an SDK design problem :)

[2019-11-21 08:45] AndiAJ commented on #2928
Hi, **verified as fixed** on the **latest Nightly Build #13250607 from 11/21** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔ The devices vibrate once the QR pairing code is successfully scanned. 📳

[2019-11-21 09:02] softvision-miralobontiu commented on #6514
Hi all!
I was able to reproduce it again today with Samsung Galaxy Note 8 (Android 9), with 11/21 @6:06 AM Nightly build, with 3.0.0-beta.1 build, and with 2.3.0 RC build.

Not reproducible on Huawei P9 Lite (Android 7, Google Pixel 3 (Android Q), and Samsung Galaxy S8 (Android 9).

[2019-11-21 09:48] ebalazs-sv opened #6735 "[Bug] Firefox Nightly is displayed twice in the Browser app list"
## Steps to reproduce
1. Go to Settings -> Set as default browser;
2. Tap on Browser app;
3. Observe Firefox Nightly in the Browser app list;

### Expected behavior
Firefox Nightly is displayed once in the list.
### Actual behavior
Firefox Nightly in displayed twice in the list.
### Notes
This is not reproducible on Pixel 2(Android 9), Huawei Honor 8 (Android 7.0).
![69326507-92543600-0c54-11ea-9a

[2019-11-21 09:50] sv-ohorvath commented on #2579
Can't download a jpg file from: https://www.wallpaperflare.com/the-joker-wallpaper-heath-ledger-monochrome-batman-movies-wallpaper-peaec/download/1080x2061

[2019-11-21 10:21] AndiAJ commented on #2570
Hi, **still reproducible** on the latest **Nightly Build #13250607 from 11/21** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191121_121514](https://user-images.githubusercontent.com/51314259/69329223-5a9bbd00-0c59-11ea-8bfb-7c43d849ebe5.gif)

[2019-11-21 11:21] ValentinTimisica commented on #4776
Thanks all for your responses!
There is still one questions about the ```Know your rights``` item:
- We already had in Settings page this link for 'Your Rights': https://support.mozilla.org/1/mobile/1.0.1947/Android/en-GB/your-rights
Should I use this instead of 'about:rights' which looks much too basic and also has to be implemented from scratch (right now "about:rights" page does not exists in t

[2019-11-21 12:00] mawen7 commented on #5964
Would like to do this

[2019-11-21 12:47] abodea commented on #4481
Hello @liuche please note that I was able to reproduce this issue on the latest **`Nightly build from 11/21 with Google Pixel 3a XL(Android 10).`**
#### I tried this on Fenix and Chrome to compare the behavior for more details check the following attachments:
- > **Chrome
Note that the text from the URL is deleted and it doesn't reappear.**
![ezgif-1-5708aa500bad](https://user-images.githubusercon

[2019-11-21 12:58] AndiAJ commented on #6533
Hi, **verified as fixed** on:
• Nightly Build #13250607 from 11/21
• Beta 3.0.0-beta.1 Build #13112229 from 11/7
• RC 2.3.0 Build #13031728 from 10/30

using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► **Nightly**
![nightly](https://user-images.githubuserco

[2019-11-21 12:58] #6533 closed

[2019-11-21 13:00] softvision-miralobontiu commented on #989
This is fixed on the latest Nightly build 11/21.

[2019-11-21 13:00] #989 closed

[2019-11-21 13:30] AndiAJ opened #6737 "[Bug]Login Sync engine should be OFF by default for new users"
## Steps to reproduce
1. Sign in to sync with a **newly created account**
2. From Settings navigate to your Account and wait for the sync to end
3. Check the "Logins" check box from the "Choose what to sync" section
4. From Settings navigate to "Passwords"
5. Check the "Sync logins" status

### Expected behavior
The "Logins" check box from the "Choose what to sync" section should **not be checked*

[2019-11-21 13:42] AndiAJ commented on #5544
Hi @liuche I've logged #6737 regarding the Login Sync engine issue.
I'll remove the **QA needed label** until it'll get fixed and afterwards re-test.

[2019-11-21 14:29] mcarare commented on #6629
@AmyYLee For 5: The text was changed according to https://github.com/mozilla-mobile/fenix/issues/3604#issuecomment-539679640. Do you want to change it back to "deleted? TY!

[2019-11-21 15:14] softvision-miralobontiu commented on #3256
This is fixed on the latest Nightly build 11/21.

[2019-11-21 15:22] softvision-miralobontiu commented on #3550
This issue no longer reproduces on the latest Nightly 11/21 with Google Pixel 3 (Android Q), Samsung Galaxy Note 8 (Android 9), and Huawei P9 Lite (Android 7).

[2019-11-21 17:22] liuche commented on #1582
Deprioritizing this - we'll definitely need UX feedback here on:
- Since it's infeasible to apply this to all search engines (because Fenix would need to know the search engine urls to strip out the SERPS), should we only apply this to the bundled search engines? Should we include custom search engines that users include, with the chance that they could be wrong?
- If we're starting this on Fenix,

[2019-11-21 17:25] liuche commented on #6737
@AndiAJ just to be clear, "Newly created account" should be "account created through Fenix", not pairing an account newly created on Desktop. Let me update the AC to be more clear, sorry for the confusion.

Could you retest with that condition?

[2019-11-21 17:26] liuche commented on #5544
@AndiAJ just to be clear, "Newly created account" should be "account created through Fenix", not pairing an account newly created on Desktop. Let me update the AC to be more clear, sorry for the confusion.

Could you retest with that condition?

[2019-11-21 17:31] liuche commented on #4456
Just a bump here @AndiAJ ^

[2019-11-21 17:43] liuche commented on #4776
Hi @Mugurell if you're working on this can you move it into the In-Progress column of the kanban? https://github.com/mozilla-mobile/fenix/projects/9

[2019-11-21 18:01] saptarshiguha opened #6741 "[Telemetry] Add ANR (Application Not Responsive) to the Fenix metrics"
Owner: Product Manager

#### Description & Product Manager / Data Scientist User Story
ANR is an important metric related to application stability. It is reported (alongwith Crash Rate) in the Play App Store. We will be using ANR as stability metric for Fenix release

We already measure three types of crashes in Fenix metrics: caught and uncaught exceptions and native crashes. Rather than accessin

[2019-11-21 18:05] liuche commented on #5497
Hi @mcarare if something is in progress, could you move it to the In Progress column in the kanban? That way it's easy to see what work is available to work on. (And move it back + unassign if you stop working on it).

[2019-11-21 18:30] AmyYLee commented on #6629
Thanks for bringing this to my attention. Please leave it as "tab closed". I'll remove it from the checklist.

[2019-11-21 18:44] AmyYLee commented on #4776
@ValentinTimisica Hi, thanks for pointing this out. Please use 'Your Rights': https://support.mozilla.org/1/mobile/1.0.1947/Android/en-GB/your-rights

[2019-11-21 19:30] AmyYLee commented on #5711
@vespertineSiren Hi, wanted to clarify which colours are you referring to that are the same? The gradient on the "Sign in to Firefox" card should be the same gradient for Light/Dark. The other colours are different.

Different for Light/Dark theme
<img width="451" alt="Screen Shot 2019-11-21 at 2 27 17 PM" src="https://user-images.githubusercontent.com/5992746/69370083-38129f80-0c6b-11ea-905c-4935

[2019-11-21 19:38] hawkinsw opened #7223 "1.5 MB increase to APK size from hyphenation dictionary (around Nov 14)"
There was a 1.5mb increase in the size of the APK on/around Nov 14th.

It likely comes from either android components or geckoview. The version was bumped to 22 that night (from 21).

[2019-11-21 19:42] liuche commented on #6602
This is a MUST because we will need it for top sites.

[2019-11-21 19:48] 5y commented on #5497
@liuche @mcarare
Please let me know if I can be of further assistance on this.

[2019-11-21 19:51] miketaylr opened #6742 "[webcontent] Crash on www.ucas.com results screen"
Originally reported at https://github.com/webcompat/web-bugs/issues/44145#issue-518652564, which includes steps to reproduce (confirmed by our QA team).

[2019-11-21 20:36] topotropic commented on #6602
@liuche I briefly discussed it with @boek and will continue to discuss it with him and refine the issue, attach mocks etc

[2019-11-21 20:54] rocketsroger commented on #5664
Tested on Fenix nightly and confirmed infinite reload is fixed on both netflix and olin.repair.  Please confirm.

[2019-11-21 21:56] miketaylr opened #6743 "Exception when unbinding service org.mozilla.fenix/.customtabs.CustomTabsService android.os.DeadObjectException"
Originally reported @ https://github.com/webcompat/web-bugs/issues/44583

In Fenix Preview Nightly (but not "regular" Fenix Preview) Firefox Preview Nightly 191118 (🦎: 72.0a1-20191115095319) and 191118, visit https://www.microsoftedgeinsider.com/en-us/whats-new and before loading the site will crash the browser.

[2019-11-21 22:06] marcinwiacek opened #6744 "Adding history on Back button"
### Why/User Benefit/User Problem
Desktop browsers have list of last pages under <- button and sometimes it's very useful (you can return fast to concrete previous page)

### What/Requirements
Adding popup menu displayed after long pressing Back button

### Acceptance Criteria (how do I know when I’m done?)
Menu with last history entries is displayed for page after long pressing Back button

[2019-11-21 23:31] ekager commented on #6048
This bug is still up for grabs for a contributor the PR was stale so I closed it

[2019-11-21 23:32] #6322 closed

[2019-11-21 23:39] ekager commented on #2294
Let's try this again! :)

[2019-11-21 23:48] ekager commented on #6744
Tracked as part of https://github.com/mozilla-mobile/fenix/issues/176

[2019-11-21 23:48] #6744 closed

[2019-11-21 23:57] liuche commented on #5814
Removing from Fenix Kanban bc it's not actionable for Fenix team.

[2019-11-22 00:24] #4828 closed

[2019-11-22 00:44] #5458 closed

[2019-11-22 01:33] liuche commented on #6273
Added a line about adding the UX Review label to wiki. Closing because I think that's all this bug needs.

[2019-11-22 01:33] #6273 closed

[2019-11-22 01:34] liuche commented on #6529
Any updates on this? Wondering if we should assign this during our sprint planning.

[2019-11-22 01:41] liuche commented on #5496
As some context, here's what Axel suggested as criteria for determining locale promotion:

"For release, I'd suggest to have a process to add, and a process to remove locales from the release locales. I'd start both conversations with a threshold of translation coverage, to streamline conversations. Just to make up random numbers, it's taking > 80% to have a conversation about adding a locale to r

[2019-11-22 01:51] #4824 closed

[2019-11-22 06:48] NotWoods commented on #5292
Closing as duplicate, see above.

[2019-11-22 06:48] #5292 closed

[2019-11-22 06:51] NotWoods commented on #6470
cc @AmyYLee

[2019-11-22 06:54] NotWoods commented on #5595
Seems to be fixed now, I can't reproduce.

[2019-11-22 07:05] NotWoods commented on #6681
Turns out we have an issue for the other option too!
Duplicate of #2064.

[2019-11-22 07:05] #6681 closed

[2019-11-22 07:08] NotWoods commented on #6076
Should be fixed now

[2019-11-22 07:15] NotWoods commented on #5585
I'm only able to find issues with the Starbucks PWA. For some reason, its web manifest doesn't have a theme color once parsed. I'm not sure if Starbucks doesn't serve us the theme_color or that it gets stripped out at some point in our code, more investigation needed.

[2019-11-22 07:17] NotWoods commented on #5813
Duplicate of #5595

[2019-11-22 07:17] #5813 closed

[2019-11-22 07:19] NotWoods commented on #6255
Can you test on a Pixel device with Android 7.1? It seems that round icons are dependent on the manufacturer, as nightly is also displayed with a square icon here. I know that Pixels use round icons but I'm not sure what other phones do.

[2019-11-22 07:25] AndiAJ commented on #6737
@liuche indeed, the account was created and accessed **exclusively through Fenix**

As you can see in the video after creating the account, I've entered the verification code and afterwards the **first sync** kicked in automatically (**Last synced:never**)

[2019-11-22 07:28] NotWoods commented on #5060
The page is insecure because it loads various images over `http://`. I updated the title because I agree we should explain why its insecure, like Desktop.
![Screen Shot 2019-11-21 at 11 28 15 PM](https://user-images.githubusercontent.com/1782266/69406295-9d3fb280-0cb6-11ea-8c65-00dd19433622.png)

[2019-11-22 07:30] mcarare commented on #5497
@liuche It's not in progress, I've already fixed some issues, and waiting for UX feedback on the others.