[2019-04-09 18:03] colintheshots opened #1496 "FNX-5064 ⁃ [Bug] Crash adding bookmark folder, CalledFromWrongThreadException"
## Steps to reproduce
1. Create a new bookmark.
1. Attempt to edit the bookmark.
1. Click the parent folder name to select a new parent folder.
1. Click the + icon to add a new bookmark folder.

### Expected behavior
The Add New Bookmark Folder screen loads.

### Actual behavior
The Add New Bookmark Folder screen crashes.

### Device information
* Android device: Pixel 3XL, Android Q
* Fenix versi

[2019-04-09 18:10] vesta0 commented on #1413
@boek please verify

[2019-04-09 18:10] vesta0 commented on #1412
@Amejia481 is this functionality completed?

[2019-04-09 18:16] sblatz opened #1499 "FNX-47 ⁃ Add quick action sheet to custom tabs"
Per conversation [here](https://github.com/mozilla-mobile/fenix/issues/182#issuecomment-478403491), we will now want to add the quick action sheet in custom tabs too.

This requires a bit of constraint work since it will need to come down from the top, and we may need a bit of clarification from UX on this behavior.

[2019-04-09 18:22] vesta0 commented on #1410
Thanks @mozilla-mobile/ast

@lime124 please verify.

[2019-04-09 18:26] Amejia481 commented on #1412
This should be fixed with the new ac snapshot version.

[2019-04-09 18:36] Verdi commented on #482
We should dedupe exactly matching URLs and prefer the open tab one.

- So, **if I have https://mozilla.org open** and I start searching for "mozilla" I should only see the entry from the sessions provider. Tapping it will switch me to that tab.
- **If I do not have https://mozilla.org open** and I start searching for "mozilla" I should only see the entry from the history provider. Tapping it will

[2019-04-09 18:37] vesta0 commented on #1443
@mheubusch we need UX feedback on whether we want to go with vertical alignment or keep the text centered.

[2019-04-09 18:46] Verdi opened #1500 "FNX-48 ⁃ Design for Switch to Tab"
### Why/User Benefit/User Problem
History search suggestions from your browsing history and your open tabs look identical. You should be able to visually distinguish between their them and their operation.

### What / Requirements
* [x] Use ~~icon and~~ text to identify that selecting the suggestion from your open tabs will switch you to that open tab. "Switch to tab"
* [x] #8200 File a follow-up

[2019-04-09 18:46] jdragojevic opened #1501 "FNX-5067 ⁃ [QA Request] A-S team would like help validating the new networking stack"
Owner: Quality Team

## Context
* Application Services team recently [updated the rust networking stack](https://docs.google.com/document/d/1nIcIqY0_-ElgPE4s1DQBRJHYBqZvi3kHrbvwr2HvYGc/edit#) to use Necko instead of rust libraries.  We want to be sure that the rust components we deliver in support of history and bookmarks syncing, FxA and Send tab / push network calls are functioning as expected.

[2019-04-09 19:22] brampitoyo commented on #1430
@boek @AmyYLee Just to confirm:

* If theme == light, use the `Accent - Dark` colour value, which is `#312a65`.
* If theme == dark OR private, use the `Accent - Bright` colour value, which is `#592acb`.

[2019-04-09 19:36] Pike commented on #1274
Thanks for your help here.

[2019-04-09 19:45] vesta0 commented on #235
@bbinto please advise.

[2019-04-09 19:46] Lululalu opened #1502 "Load pages automatically right after a connection is re-established"
### Why/User Benefit/User Problem
This allows users to have a better browsing experience having to deal less with error messages. It saves times too.

### What / Requirements
Reload pages as soon as the device is successfully connect to the internet again.

### Acceptance Criteria (how do I know when I’m done?)
A page is automatically reloaded after a lost connection is re-established.

┆Issue is

[2019-04-09 19:46] npark-mozilla commented on #1501
@st3fan just to double check, since I'm assigned now, the story is ready to be tested now? (sorry, learning new process)

[2019-04-09 19:48] jdragojevic commented on #1501
@npark-mozilla  - this is likely my mistake.  Testing it blocked until application-services 0.24.0 is built.  I may be messing up the process as I thought I was suppose to make a QA bug and assign you.

[2019-04-09 19:51] AmyYLee commented on #1049
@ekager This looks great :-) Small detail - can you round out the end of the progress bar? (see attached)
<img width="452" alt="Screen Shot 2019-04-09 at 3 48 59 PM" src="https://user-images.githubusercontent.com/5992746/55830652-5d3d0e00-5adf-11e9-88f4-360b8a180e01.png">

[2019-04-09 19:55] #860 closed

[2019-04-09 19:56] ekager commented on #897
@cadeyrn are you able to reproduce in master anymore? A fix landed yesterday that I think should fix this.

[2019-04-09 19:56] ekager commented on #1399
Going to close this since you weren't able to reproduce.

[2019-04-09 20:10] jonalmeida commented on #1399
Yes, this isn't reproducible any more since the option is gone away from the UI.

[2019-04-09 20:10] cadeyrn commented on #897
No, I can no longer reproduce.

[2019-04-09 20:16] cadeyrn opened #1503 "FNX3-15609 ⁃ [Bug] Links from Twitter don't open as custom tab"
### Steps to reproduce
1. Make Fenix to your default browser
1. open the Twitter app and click on a link

### Expected behavior
Fenix opens a custom tab.

### Actual behavior
Fenix opens in the regular mode.

For comparison: With Fennec als default browser a custom tab opens. And with Fenix as default browsers links in the Google Mail app opens as custom tab.

### Device information
* Android devi

[2019-04-09 20:27] Amejia481 commented on #1503
AC issue https://github.com/mozilla-mobile/reference-browser/issues/558

[2019-04-09 20:35] lime124 commented on #1419
hey @vesta0 and @sblatz - @topotropic and @AmyYLee are wrapping up the news designs this week and hope to share soon. let's punt on anything related to sessions for now and revisit all these issues to see if it's still applicable to the new designs. thanks!

[2019-04-09 20:55] vesta0 commented on #1309
@bbinto @mheubusch we need to make a product decision on how we want to treat site permissions in private mode. In Fennec, we are remembering site permissions in private mode but as per @ehsan that is not the correct behaviour. We should either remember site permissions for the duration of a PB session and then forget it (in case user opens the same page in a different tab in the same session) or

[2019-04-09 21:02] Amejia481 commented on #1309
Fennec issue https://bugzilla.mozilla.org/show_bug.cgi?id=1541423

[2019-04-09 21:26] sblatz commented on #921
Even without the images, this will likely be closer to a 5. The android components architecture is just not set up in a way that makes it easy for us to do thinks like grab the app name or the URL which means we have to submit an a-c change regardless. I was able to style the pages fairly easily, but changing all the strings and adding the necessary "backend" work is a bit more effort.

[2019-04-09 21:29] yoasif opened #1504 "FNX-5069 ⁃ Bookmark folder icons misaligned, topmost folder doesn't have enough top margin when editing bookmarks"
## Steps to reproduce
1. Swipe up on a page
1. tap Bookmark icon
1. tap edit in the snackbar that appears
1. tap the bookmark folder icon

### Expected behavior
The bookmark folders should probably be smaller and be more aligned vertically (it appears better in the Library view of bookmarks).

The topmost folder icon shouldn't touch the bottom border of the header.

### Actual behavior
* folder la

[2019-04-09 21:40] yoasif opened #1506 "FNX3-15611 ⁃ [Bug] horizontal scrolling can cause the address bar to appear"
## Steps to reproduce
1. Navigate to https://www.cnn.com/2019/04/09/tech/locked-ipad-boy-trnd/index.html
1. Swipe over the carousel below the video that appears on the page. Extra points if you swipe up and down while holding the swipe right to left or left to right.

### Expected behavior
The browser toolbar is not shown while swiping in the carousel.

### Actual behavior
The browser toolbar is s

[2019-04-09 22:01] felixlawrence commented on #974
I am reviewing this from a data science perspective, asking whether this proposal is going to make it easy for me and other DSes to do our jobs and meet expectations once it's implemented. I'm not a data steward.

The probes seem well defined to me - I would change "Clicked edit label after bookmark was created" to "Clicked edit label", so that when the telemetry is being implemented there is no a

[2019-04-09 22:55] ekager commented on #1506
Thanks! I opened https://github.com/mozilla-mobile/android-components/issues/2695 to look into this issue in the toolbar behavior code

[2019-04-09 22:59] mheubusch opened #1510 "FNX-5070 ⁃ Blank builds of Fenix for comparison of Fenix and Chrome perceived performance"
I need unbranded builds of Fenix for comparative perceived performance testing.  Here are the tasks we are requesting:

for Fenix we should
**change**

* logos
* Strings
**suppress**
* Sync
* Mma
* Telemetry / Health Report
* About section in settings

App icons and app name should also be changed - please call Fenix Browser A - @shorlander is on the task so he can provide assets (like blank svgs)

[2019-04-09 23:18] ncalexan commented on #1321
What is the "dep" key?

This seems very counter-intuitive.  In general, I would much prefer to have automation Just Work on release builds -- especially for browsers, where we legitimately want to support other people automating things.

I have a plan that runs through [Bug 1533385](https://bugzilla.mozilla.org/show_bug.cgi?id=1533385) -- sadly, just backed out -- to make GeckoView itself handle t

[2019-04-09 23:24] sarentz commented on #1453
@karlcow could this be drm related? we have not integrated widevine yet.

[2019-04-09 23:28] ncalexan commented on #1478
Good news, everyone!  I looked at the wrong task, and
https://tools.taskcluster.net/groups/NpA6M3XySpy-ZSlPUOgEoA/tasks/EE8tR1nBTIme_lvchwvohQ/runs/0/artifacts does indeed have a `target.apk`.  But the link is broken :)

[2019-04-09 23:29] gaby2300 commented on #1451
Today's nightly shows the same. Maybe it's due to the Android version 6.0.1?

[2019-04-09 23:32] gaby2300 commented on #1451
I tried a lot of times but got the same, including today's nightly but I got the same result. Could you please tell me which settings should I  check?

[2019-04-09 23:33] gaby2300 commented on #1451
Sorry, I didn't mean to close this, so reopening...

[2019-04-10 02:19] dallasaaron opened #1513 "FNX-5071 ⁃ [Bug] adding some text here so we don't match every bug when filed"
## Steps to reproduce
### Expected behavior
### Actual behavior
### Device information
* Android device: ?
* Fenix version: ?

[2019-04-10 05:19] yoasif opened #1514 "FNX-5072 ⁃ Selecting Bookmark folder in edit mode takes too many steps"
## Steps to reproduce
1. Swipe up on a page
1. tap Bookmark icon
1. tap edit in the snackbar that appears
1. tap the bookmark folder icon
1. tap any folder

### Expected behavior
The bookmark is selected and  the user is moved back to the edit bookmark screen with the bookmark name, URL and selected folder shown.

### Actual behavior
After tapping on a folder, a checkbox appears, indicating it is

[2019-04-10 05:25] yoasif opened #1515 "FNX-5073 ⁃ Bookmarking URL with url fragment (#) causes saved bookmark title to be blank"
## Steps to reproduce
1. Navigate to https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme#See_also
1. Swipe up
1. tap Bookmark icon
1. tap edit in the snackbar that appears

### Expected behavior
Title of bookmark should be "prefers-color-scheme - CSS: Cascading Style Sheets | MDN"

### Actual behavior
Bookmark title is blank

### Device information
* Android device: Pixel

[2019-04-10 05:43] brampitoyo commented on #1410
@lime124 @vesta0 @sv-ohorvath This is an expected behaviour.

Why does the site info panel cover the address bar?

1. The URL is repeated and expanded in the panel. Expanded because the URL can appear without icons on its side.

2. The security icon is also repeated and expanded in the panel. Expanded because we say what the padlock mean. In the future, we also plan to expand this site security in

[2019-04-10 07:28] topotropic opened #1516 "FNX-5074 ⁃ [Bug] Can't scroll library in landscape mode"
## Steps to reproduce
Open Fenix, go into landsscape mode, open Library from kebab menu

### Expected behavior
I can scroll the Library

### Actual behavior
I can't scroll the Library

### Device information
* Android device: Pixel 3
* Fenix version: 1.0.1915

[2019-04-10 07:40] sv-ohorvath commented on #1144
It's fixed now on Huawei P20 lite as well. Thanks!

[2019-04-10 08:14] bsurd commented on #1484
@ekager

Indeed, if selecting "Night Mode" the Fenix theme changes as well. It was a bit counter intuitive since on all of the unaffected devices the theme changed when enabling the battery saver option

I've installed an older version befor the change in #1403 landed and yes, both options were available. After the change landed only the "Follow device theme" option remained.

[Here](https://drive

[2019-04-10 09:00] bsurd commented on #1459
There still seems to be some issues with this.

#### STR:
1. Search for any term.
2. Open one of the search results.

#### Expected:
All visited sites have a title displayed.

#### Actual:
Initial google search redirects have a title displayed, but the actual site is missing the title.

#### Info:
**[Video](https://drive.google.com/open?id=1LHZzL29yLJWcePW8S5sxmW2xHkvPLstJ)**

![screen](https://us

[2019-04-10 09:04] mitchhentges commented on #1321
Good points Nick! I haven't kept this ticket up-to-date, unfortunately.
* Within Releng Mobile, we have three types of keys: release keys (used for production, beta and nightlies), dep keys (so-called "dependency keys" used for automation - such as logic tests, performance tests, or perhaps staging builds) and dev keys ("development keys" used for debugging automation by hand)
* When this ticket w

[2019-04-10 09:10] sv-ohorvath commented on #1410
Thanks for the info! I'll close the bug.

[2019-04-10 09:25] bsurd opened #1517 "FNX-5075 ⁃ [Bug] Tab counter increases when opening links in a private tab"
## Steps to reproduce
1. Perform a search for any term.
1. Long tap on any search result and select "Open link in new tab"
1. Notice the tab counter increase.
1. Long tap again and select "Open link in private tab"

### Expected behavior
The tab counter should not increase.

### Actual behavior
The tab counter increases.

### Device information
* If opening tabs normally from the home page or when

[2019-04-10 12:32] sv-ohorvath commented on #897
Verified as fixed on Master. Devices: Samsun S8(Android 9).

[2019-04-10 12:32] #897 closed

[2019-04-10 12:43] buttercookie42 commented on #1487
Fennec needs three taps (or even just two if Bookmarks are your default home panel): Tap into URL bar to view home panels (or double tap on the tab counter to open a new tab), choose the bookmarks panel (if not already default), choose bookmark.

[2019-04-10 13:38] staktrace commented on #1487
For the more narrow use case of "start browser to load frequently-visited bookmark", Fennec requires just a single tap since the bookmark shows up in the top sites list as soon as you open the browser. (I have it pinned there, but even without that it would probably show up there). I guess the equivalent in Fenix is to go digging through the history that shows up on the home screen. At best that's

[2019-04-10 13:43] sarentz commented on #1205
This functionality already exists in A-C but it means that Fenix needs to start using the `feature-toolbar` to get this functionality.

It is unclear what the reason is for Fenix not using this component. Did @boek work on this earlier in the year?

[2019-04-10 13:50] thomcc commented on #1501
There's a known issue with the 0.24.0 build (recognized late yesterday) and we'll be cutting a 0.24.1 as soon as it's fixed. https://github.com/mozilla/application-services/issues/939

[2019-04-10 13:55] sv-ohorvath commented on #1166
Verified, but found a new issue: #1414

[2019-04-10 14:00] Amejia481 commented on #1414
Could you take a look again please? I think https://github.com/mozilla-mobile/fenix/pull/1405 should have fixed that.

[2019-04-10 14:01] Amejia481 commented on #1166
@sv-ohorvath  I think this issue should be fixed in actual version of Fenix

[2019-04-10 14:10] cadeyrn commented on #1240
The site permission settings changed a bit and there are no longer custom settings. All the remaining elements are correctly aligned.

[2019-04-10 14:26] sv-ohorvath commented on #815
I was able to reproduce this on a Galaxy s8 (Android 9). Saved 2-3 sessions, tapped any of them and it wouldn't open until a few seconds later. Can't reproduce on huawei P20 lite (Android 8) or Nexus 5 (Android 6).

[2019-04-10 14:56] kbrosnan opened #1519 "FNX-5076 ⁃ RuntimeException: Unable to start activity ComponentInfo{org.mozilla.fenix/org.mozilla.fenix.HomeActivity}: java.la..."
https://sentry.prod.mozaws.net/operations/fenix/issues/5516076/

[code]

[2019-04-10 15:00] bbinto commented on #1309
@vesta0 thumbs up to your suggestion and @ehsan's feedback.

[2019-04-10 15:03] Amejia481 commented on #1309
👍

[2019-04-10 15:04] bbinto commented on #981
@vesta0 feel free to move this into the next sprint, starting April 11.

[2019-04-10 15:05] bbinto commented on #235
@pocmo can you help me understand what work is left to do for the A-C team, and Fenix, and do you have everything you need from the Glean team to send this ping?

If we don't get any update on this before sprint planning, I'm fine with moving this down the backlog for now.

/cc @vesta0

[2019-04-10 15:06] MeridelW commented on #982
Thanks, @AmyYLee, for the context and answers. I talked with Michelle and the content I provided will work for the permission prompt. Can you please update the designs with this copy?

Header: Data Collection
Body: To improve performance and stability for all users, [Fenix/final product name] collects information about how you use our product.
Link: Choose what to share

[2019-04-10 15:16] bbinto commented on #974
Thanks @felixlawrence

I would be relying on Amplitude for this, however comment https://github.com/mozilla-mobile/fenix/issues/974#issuecomment-474869667 makes this obsolete (removing it from the description now)

[2019-04-10 15:26] sv-ohorvath commented on #1414
Still happening on the 4/10 local debug build, Nexus 5:
![20190410_182539](https://user-images.githubusercontent.com/4037709/55891993-330e4d80-5bbe-11e9-825b-f31108c77eb7.gif)

[2019-04-10 15:28] jonalmeida opened #1523 "Send tab to device without opening the browser"
### Why/User Benefit/User Problem
If you want to share directly to your desktop without having the page load in your mobile browser.

### What / Requirements
Implementing [Android Direct Share](https://github.com/googlesamples/android-DirectShare) and/or Fennec-style sharing.

IF NOT AVAILABLE on lower API devices show a dialog with the send tab share targets.

### Acceptance Criteria (how do I kn

[2019-04-10 15:34] Amejia481 commented on #1414
Thanks @sv-ohorvath I will take a look!

[2019-04-10 16:13] AmyYLee commented on #982
This is a system notification so I don't think designs are needed, only string updates @boek correct me if I'm wrong. Please see above comment for the new strings. Thanks!

[2019-04-10 16:16] AmyYLee commented on #1430
@brampitoyo if this works on private

[2019-04-10 16:24] muffinresearch commented on #1134
Since AMO is rendered server-side, it would be much better for us to have something in the request to differentiate Fenix rather than have to use a client-side API after the page has loaded, it would be good to understand if there are any alternative options there.

[2019-04-10 16:28] vesta0 commented on #619
I believe we have the following direction from @shorlander

When are loading a page we should show the toolbar and the loading bar the way we currently do in Fennec.

[2019-04-10 16:31] ncalexan opened #1525 "FNX-5077 ⁃ [Bug] `BrowserPerformanceTestActivity` isn't particularly useful"
Right now, [BrowserPerformanceTestActivity](https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserPerformanceTestActivity.kt#25) isn't very useful because it always invokes `HomeActivity` and appears to drop all non-extras from the Intent: action, URL, etc.  That means I can't actually use `BrowserPerformanceTestActivity` to launch the browser for aut

[2019-04-10 16:32] vesta0 commented on #1375
@topotropic do we have mocks for this?

[2019-04-10 17:03] georgf commented on #982
Note that the "health report" does not exist anymore - we moved over to Telemetry on mobile as well as Desktop.

FWIW, Firefox Desktop now doesn't mention "Telemetry" or "Healthreport" anymore, *"Allow Nightly to send technical and interaction data to Mozilla"* is what controls sending this data.

<img width="702" alt="Screen Shot 2019-04-10 at 19 01 28" src="https://user-images.githubusercontent.

[2019-04-10 17:04] boek commented on #1068
We can now long click the URL bar to copy the URL to the clipboard!

[2019-04-10 17:25] felixlawrence commented on #974
r+ then!

[2019-04-10 18:12] cpeterso commented on #1134
Thanks. That's good to know. I'm still talking with the Fenix and GeckoView engineers about our options. I'll keep you posted.

[2019-04-10 18:19] vesta0 commented on #1353
@cpeterso when can we expect this to be done?

[2019-04-10 18:20] vesta0 commented on #1322
@cpeterso will this bug be fixed in time for the beta?

[2019-04-10 18:21] vesta0 commented on #1177
@kbrosnan how can we verify that this crash has been fixed?

[2019-04-10 18:45] sblatz commented on #1064
@lime124 to link to mocks

[2019-04-10 19:07] cpeterso commented on #1353
The GV bug 1542579 is currently prioritized as post-MVP. `about:support` is seen by very few users. mheubusch told me that "GeckoView" is preferred, but "Fennec" is OK.

[2019-04-10 19:13] sblatz opened #1528 "FNX-5078 ⁃ Add Search Suggestion Provider for bookmarks"
Per #1375, we want to give an option to **not** show bookmark suggestions, but we don't even have the option to display it right now. We should add this functionality.

[2019-04-10 19:23] kbrosnan commented on #1177
Using a current build with Gecko 68 works.

[2019-04-10 19:26] kbrosnan commented on #1519
Fixed by f36da2d8f22e769294b42fbd0f2081e835071225

[2019-04-10 19:30] ekager commented on #1528
Opened https://github.com/mozilla-mobile/android-components/issues/2708 for this issue

[2019-04-10 19:55] cadeyrn commented on #1441
Current screenshot:

![Screenshot_20190410-215221](https://user-images.githubusercontent.com/1100614/55908944-0e749e80-5bdb-11e9-978e-e1c5c99fcda0.png)

Still doesn't look that good because of the really big font but the reported issue is fixed.

[2019-04-10 19:58] aranamozilla commented on #1028
Please see below the link to requirement document for Fenix mobile activation ping

https://docs.google.com/document/d/1mYklPkL1LYnAnjfeyaiqXJ4uuui8r08GCgN30Iod53k/edit

[2019-04-10 20:00] cadeyrn opened #1529 "FNX-5079 ⁃ [Bug] regression: tab previews are white"
### Steps to reproduce
1. open a few tabs
1. go to home screen

### Expected behavior
All tab previews have a thumbnail.

### Actual behavior
All tab previews are white. Sometimes the thumbnails appear when you scroll, but not always. Sometimes you have to close one tab to see the thumbnail of another tab.

![Screenshot](https://user-images.githubusercontent.com/1100614/55909244-c86c0a80-5bdb-11e9

[2019-04-10 20:03] cadeyrn commented on #747
The number of leaks increased noticeably - there are now leaks on more places. But I can no longer find the LeakCanary app on my device so I can't share any reports.

[2019-04-10 20:10] cadeyrn opened #1530 "FNX3-15624 ⁃ [Bug] history alignment issues"
### Steps to reproduce
1. open history

### Expected behavior
Correct vertical aligment of favicons and text

### Actual behavior
Similar to #1333. After the latest changes the alignment of favicons / text looks wrong again.

![Screenshot](https://user-images.githubusercontent.com/1100614/55909731-06b5f980-5bdd-11e9-9e2e-9cc974b06219.png)UNITO-UNDERSCORE!20190410-220436!

### Device information
*

[2019-04-10 20:15] cpeterso commented on #1028
I would recommend leaving this Fenix issue open until:
1. Fenix picks up the fixed AC version.
2. Someone verifies that Fenix users' Mobile Activation Pings are successfully showing up in whichever telemetry database they're supposed to go.

[2019-04-10 20:15] cadeyrn opened #1531 "FNX3-15625 ⁃ [Bug] regression: "Delete history" button no longer works"
### Steps to reproduce
1. open history
1. press the "delete history" button

### Expected behavior
You have an empty history.

### Actual behavior
Nothing happens.

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision f36da2d8f22e769294b42fbd0f2081e835071225

[2019-04-10 20:19] AmyYLee commented on #599
@mcomella Can you post a recording of the animation?

[2019-04-10 20:19] cadeyrn opened #1532 "FNX3-15626 ⁃ [Bug] History: Redirects should be taken into account"
* clone of #1332 --

#1332 was closed because there was a fix but the fix does not work at all. Since it seems my comments in the closed ticket receives no attention from the developer who implemented the original fix I created a new ticket to make sure it's not overlooked.

### Steps to reproduce
1. enter "google.de" in the address bar
1. open history

### Expected behavior
only one entry in hist

[2019-04-10 20:26] cadeyrn opened #1533 "FNX3-15627 ⁃ [Bug] Animation when switching from regular to private mode doesn't "feel good""
### Steps to reproduce
1. switch from regular to private mode

### Expected behavior
Smooth animation when switching from regular to private mode.

### Actual behavior
A new fade animation has been implemented for switching the browsing mode. But it doesn't "feel good". It seems that there is a bright flicker for a very short moment but it's hard to say because it's so fast.

### Device informatio

[2019-04-10 20:30] cadeyrn opened #1534 "FNX3-15628 ⁃ [Bug] regression: The "scan" button no longer does anything"
### Steps to reproduce
1. enable the address bar
1. press the "scan" button

### Expected behavior
Either enable the QR scanner (which is not yet implemented AFAIK) or show the "not implemented" snackbar. There was already a snackbar but the snackbar no longer appears.

### Actual behavior
The color of the "Scan" button changes, but nothing else happens.

### Device information
* Android device: H

[2019-04-10 20:42] sblatz commented on #977
@bbinto, @vesta0 are we sure that the linked telemetry events are correct?

@pocmo brings up [a good point](https://github.com/mozilla-mobile/android-components/pull/2676#discussion_r273487204)--a custom tab is not part of the normal tab view, thus it doesn't matter which one is 'selected' or which tab # it is, right?

[2019-04-10 20:44] mozillamarcia opened #1536 "FNX-5086 ⁃ [Bug] Videos on allrecipes.com won't play"
## Steps to reproduce
* Visit allrecipes.com and search for Baked Dijon Salmon
* Start playing the video

### Expected behavior
* The video will start playing

### Actual behavior
* "An unanticipated problem was encountered, check back soon and try again. Error code: MEDIA_ERR_UKNOWN
* The same video plays fine using Chrome

### Device information
* Android device: Pixel
* Fenix version: 1.0.1915

[2019-04-10 21:04] lime124 commented on #1064
uh no idea how i closed this sorry

[2019-04-10 21:26] kbrosnan commented on #1534
The snackbar seems to be hidden under the keyboard. If you press the back button after pressing the scan button I see the expected snackbar.

[2019-04-10 21:38] lime124 commented on #1064
@sblatz @AmyYLee is cleaning up some of the screens and she can post a link to the invision file when that's done. thanks!

[2019-04-10 22:06] mheubusch commented on #1064
@AmyYLee Please post the file and move the card to Design Review so @shorlander can review. I've already provided my sign off tag.

[2019-04-10 22:40] colintheshots opened #1539 "FNX-5087 ⁃ Add Multi-select Features for Bookmarks"
Add the missing bookmarks features for selecting multiple bookmarks or folders to delete or to open as per the UX design in #242.

[2019-04-10 23:37] yoasif opened #1540 "FNX-5089 ⁃ No snackbar when bookmark is created"
## Steps to reproduce
1. Open a page
1. Swipe up to see quick action sheet
1. Tap bookmark

### Expected behavior
I see a snackbar saying that the bookmark was created, and letting me edit it.

### Actual behavior
Bookmark is created with no snackbar.

This worked in build 1.0.1915 build id 10991207

### Device information
* Android device: Pixel 2
* Fenix version: 1.0.1915 build id 11001743

[2019-04-10 23:42] yoasif opened #1541 "FNX-5090 ⁃ Tab Counter looks cramped when I have 14 tabs open"
## Steps to reproduce
1. Open 14 tabs
1. Look at tab counter

### Expected behavior
The tab counter shouldn't look cramped, like in Fennec.

### Actual behavior
Tab counter looks cramped.

### Device information
* Android device: Pixel 2
* Fenix version: 1.0.1915 build id 11001743

![signal-attachment-2019-04-10-194207](https://user-images.githubusercontent.com/152493/55920972-cea4bb80-5bc8-11e9-8

[2019-04-11 00:16] ekager opened #1542 "FNX-5091 ⁃ Quick Action Sheet should have some click response (like a ripple)"
Currently the quick action buttons have no feedback when clicked, they just close the drawer. There should be some ripple here,

[2019-04-11 00:39] jatinkumarg commented on #1516
Hey, I have added a PR (https://github.com/mozilla-mobile/fenix/pull/1544).

Let me know if any changes are required.

[2019-04-11 01:55] jatinkumarg commented on #1198
Hey, I have added a PR (#1198).

Let me know if any changes are required.

[2019-04-11 02:38] kbrosnan commented on #1540
Might be fixed by https://github.com/mozilla-mobile/fenix/pull/1546

[2019-04-11 02:38] kbrosnan commented on #1534
Might be fixed by https://github.com/mozilla-mobile/fenix/pull/1546

[2019-04-11 03:00] boek opened #1547 "FNX-42 ⁃ delete custom BrowserToolbarBottomBehavior"
Blocked by https://github.com/mozilla-mobile/android-components/issues/2710

[2019-04-11 03:41] boek commented on #1534
Snackbar was being added as a child to the keyboard container :joy: That was a fun one

[2019-04-11 07:05] mauryat commented on #1536
Doesn't repro on Samsung Galaxy S8

[2019-04-11 07:40] bsurd commented on #1533
This is a dupe of #689, closing.

[2019-04-11 08:08] cadeyrn commented on #1533
@bsurd: It's not a dupe. #689 was reported in two months ago and was about implementing a fade animation. The fade animation was implemented yesterday. Before that there was no fade animation at all.

My report is about the new fade animation which doesn't feel better than the previous state, quite the opposite.

[2019-04-11 08:12] sv-ohorvath opened #1551 "FNX-5092 ⁃ [Bug] Deleting a bookmark or a bookmark folder from edit mode crashes the app"
## Steps to reproduce
1. Save a bookmark.
1. Open the bookmark edit mode.
1. Tap the trashcan to delete the bookmark.

*Repeat the same steps for folders.

### Expected behavior
Bookmark / folder deleted.

### Actual behavior
App crashes.

### Device information
* Android device: Galaxy s8 (Android 9), Nexus 5 (Android 6)
* Fenix version: 4/9 build

[2019-04-11 09:56] davehunt opened #1552 "FNX-5093 ⁃ Create a Raptor enabled build based on GeckoView v67"
### Why/User Benefit/User Problem
We'd like to run performance tests against Fenix running GeckoView v67 to compare results against Fennec v64.

### What / Requirements
Builds of Fenix with Raptor support based on GeckoView v67 that can run on a MotoG5.

### Acceptance Criteria (how do I know when I’m done?)
Successful run of Raptor page load test suite against build.

[2019-04-11 09:58] davehunt commented on #1552
/cc @JohanLorenzo @colintheshots @pocmo @csadilek

[2019-04-11 09:59] davehunt commented on #1552
I appreciate not everyone will have access to this, but this relates to the following PI request: https://moz-pi-test.atlassian.net/browse/PTE-80

[2019-04-11 10:01] JohanLorenzo commented on #1552
So far, the `greenfield` builds are made against geckoview nightly. I saw greenfield became the only variant in https://github.com/mozilla-mobile/fenix/pull/1324. I tried to `assembleArmFirefoxBeta` (after I commented out the filter), but it still builds against geckoview nightly. Any idea on how to proceed @colintheshots @pocmo ?

[2019-04-11 10:26] Scripterr commented on #1469
There is also some space between the lockpad icon and site address, if it can be removed the long URLs can be more visible.

[2019-04-11 10:46] bsurd commented on #689
This now works as expected on all devices, except for the HTC.  It's exactly the same as before. I've reopened #1533 for that.

[2019-04-11 10:46] #689 closed

[2019-04-11 10:48] bsurd commented on #1533
@cadeyrn After some testing, it would seem that the fix does not work for HTC devices. Reopening the issue.

[2019-04-11 11:01] sv-ohorvath opened #1553 "FNX-5094 ⁃ As a user, I would like an indicator that a webpage is already bookmarked"
### Why/User Benefit/User Problem
When I bookmark a webpage, I would like the Bookmark button to reflect that.
When I'm on a webpage that I've already bookmarked, I'd like to know before bookmarking again.

### What / Requirements
The Bookmark button from the Quick Action bar should change its appearance/show a message that I've already bookmarked this page.

### Acceptance Criteria (how do I know

[2019-04-11 11:07] bsurd opened #1554 "FNX-5095 ⁃ [Bug] No notification when copying the URL"
## Steps to reproduce
1. Open any link.
1. Long tap on the URL bar to copy the link.

### Expected behavior
A notification is displayed to let you know that the link has been copied.

### Actual behavior
No notification is displayed, making it hard to know if you successfully copied the URL.

### Device information
* Android device:
  * Nexus 6P (Android 9)
  * HTC 10 (Android 8)
* Fenix version:

[2019-04-11 11:13] mheubusch commented on #190
@shorlander This should have gone thru you but I don't see your approval label - can you review and confirm?

[2019-04-11 11:47] bsurd commented on #904
This has now been verified by QA, private and normal tabs counters are kept separate.

[2019-04-11 11:47] #904 closed

[2019-04-11 11:52] sv-ohorvath opened #1555 "FNX-5096 ⁃ [Bug] Tap area of the bookmark overflow menu button should extend to the edge"
## Steps to reproduce
1. Bookmark a page.
1. Go to the bookmarks list.
1. Tap on the right, next to the overflow menu button.
    1. Expected behavior
The button should be tapped, not the bookmark. The right edge area should be used for the menu button.
    1. Actual behavior
Tapping just a little to the right opens the webpage.
    1. Device information

* Android device: Galaxy S8, Pixel. Nexus

[2019-04-11 12:00] sv-ohorvath opened #1556 "FNX-5097 ⁃ [Bug] The Library menu should have a back button like the rest"
## Steps to reproduce
1. Go to Your Library>History or bookmarks.
1. Tap the panel's back button.
1. Compare to the Settings menu.
    1. Expected behavior
The Library menu should have a back button to keep the flow going until you exit the menu entirely.
    1. Actual behavior
For e.g. from a Bookmarks folder>Bookmarks>Library - here the user has to tap the "X" to close or the system back button.

[2019-04-11 12:29] bbinto commented on #977
Could you elaborate please what you event is in question?

The events listed for Focus are
- Custom tab opened
- "Close" button clicked
- "Action" button clicked
- Custom menu item selected

@sblatz - all I want to do here is to know/track when a user opens a link (from a different app) in Fenix by using the apps custom tabs implementation. The app, e.g LinkedIn can decide how to present the Chrom

[2019-04-11 12:53] bsurd commented on #1516
This has now been verified, the library can be scrolled and all items are accessible.

[2019-04-11 13:21] sv-ohorvath commented on #1540
I can confirm this is fixed on the 4/11 build.

[2019-04-11 13:29] sv-ohorvath commented on #1416
Also reproducing on HTC Desire 820 (Android 6.0.1)

[2019-04-11 13:37] sv-ohorvath commented on #1414
Also reproducing on a HTC Desire 820 (Android 6.0.1)

[2019-04-11 13:40] sv-ohorvath commented on #1531
Can reproduce. Also valid for deleting a multiple selection.

[2019-04-11 14:04] sv-ohorvath opened #1557 "FNX-5098 ⁃ [Bug] The location doorhanger on hm.com uses the entire screen"
## Steps to reproduce
1. Go to hm.com
1. Wait for the location doorhanger to appear.
1. Go to mapquest.com and compare.
    1. Expected behavior
A small doorhanger, like on mapquest.com.
    1. Actual behavior
![Screenshot](https://user-images.githubusercontent.com/4037709/55961475-9f00bc80-5c77-11e9-8654-0af3921a6a55.jpg)UNITO-UNDERSCORE!20190411-162250!UNITO-UNDERSCORE!Fenix!

### Device informa

[2019-04-11 14:09] mheubusch commented on #980
@cpeterso Here are revised (and ugly) wireframes for our propsal to clear different types of data.  https://docs.google.com/presentation/d/1ZQcGlkmt9c9FU4Rh_81GA8cz7ZVFJ-kkl3uEnVhyTRs/edit?usp=sharing

What we'd like to know is 1. can GV support these categories? and 2. if not, can we meet to discuss what our options are?

[2019-04-11 14:30] sv-ohorvath opened #1558 "FNX-5099 ⁃ [Bug] No name added to a google maps bookmark"
## Steps to reproduce
1. Go to maps.google.com
1. Bookmark it.
1. Verify the bookmarks list.
    1. Expected behavior
Maps bookmark has a name.
    1. Actual behavior
No bookmark name.
    1. Device information

* Android device: Pixel (Andriod 9), Nexus 5 (Android 6)
* Fenix version: 4/11

[2019-04-11 15:34] davehunt commented on #1552
This is no longer needed - the target is not GeckoView 68. Sorry for the noise.

[2019-04-11 16:47] davehunt opened #1561 "FNX-5100 ⁃ [Bug] Unable to drive Fenix using Raptor"
## Steps to reproduce
1. Download and install Fenix with Raptor support onto device.
1. Run `mach raptor-test --test raptor-tp6m-1 --app fenix --binary org.mozilla.fenix --activity browser.BrowserPerformanceTestActivity` from mozilla-central.

### Expected behavior
Raptor page load tests should run. Fenix should launch, and after 30 seconds the first page load should occur. Once loaded, it should

[2019-04-11 16:50] agi90 commented on #1561
This is because we don't support `browser.tabs` in GeckoView, I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1543755

[2019-04-11 16:56] davehunt commented on #1561
FWIW this works in Fennec, GeckoView example, and Reference Browser

[2019-04-11 17:18] boek commented on #1554
This was fixed and should be in the latest nightly :+1:

[2019-04-11 17:19] boek commented on #1554
PR here: https://github.com/mozilla-mobile/fenix/pull/1546

[2019-04-11 17:36] vesta0 commented on #668
Will be ready for QA as soon as the [A-C issue](https://github.com/mozilla-mobile/android-components/issues/2615) lands.

[2019-04-11 17:43] vesta0 commented on #1455
Waiting for this[ A-C issue](https://github.com/mozilla-mobile/android-components/pull/2625) to land.

[2019-04-11 17:50] ncalexan commented on #1478
This was addressed by #1321.

[2019-04-11 17:52] ncalexan opened #1565 "FNX-5101 ⁃ [Bug] RaptorRelease signing is failing with exception 'runtime task doesn\'t match any rebuilt definition'"
Pushes to master appear to be failing, see https://tools.taskcluster.net/groups/B_ScD6xmSzeHdH808vTJDw/tasks/byKyRrzJRLmk92luPsKLXA/runs/0/logs/public%2Flogs%2Fchain_of_trust.log:

[code]

These tasks were green just before, in my push to fix bustage for #1321, at https://tools.taskcluster.net/task-group-inspector/#/QditNdvfQfG97sSgvoCxLQ.

[2019-04-11 17:52] ncalexan commented on #1565
@mitchhentges @JohanLorenzo can you dig into this?  No bueno.

[2019-04-11 17:53] cadeyrn commented on #1531
I compiled a new build, now revision 9de120b8ab793794190617df93cc751470497121. I can still reproduce. The "Delete history" button does not work. Also deleting a mulitple selection does not work. Only deleting a single bookmark works.

[2019-04-11 17:55] ncalexan opened #1566 "FNX-5102 ⁃ Make *GreenfieldRaptorRelease builds not use `org.mozilla.fenix` application ID"
Post #1321, we can finally use the (greenfield) Raptor release builds.  But they use the `org.mozilla.fenix` application ID _and_ are signed with a special "dep" key.   That means you can't pave over your existing `org.mozilla.fenix` Nightly vehicle, making it very difficult to do automation testing _and_ dogfood Fenix at the same time.

Let's make the Raptor/automation builds have a different app

[2019-04-11 17:56] Cheap-Skate opened #1567 "FNX-5103 ⁃ [Bug] Tab preview sometimes blank & sometimes scrolled"
Latest build, should show tab preview top of page see #1420 #1462,

Some issues with www.bbc.co.uk/news
(1) sometimes preview is blank
scroll to top of www.bbc.co.uk/news
tap the tabs button to see the home screen tab preview - probably shows the page preview
reload the page and check the preview a few times. It's sometimes blank
sometimes don't need to reload, just repeatedly switch between home

[2019-04-11 17:58] mitchhentges commented on #1565
This may be related to [this](https://github.com/mozilla-mobile/reference-browser/pull/716)

[2019-04-11 18:07] cadeyrn commented on #1567
(1) is #1529

[2019-04-11 18:24] mheubusch opened #1568 "FNX-5104 ⁃ [UX] Collections"
This is the feature to replace Sessions

Amy (Updated Screens April 25)
Flow: https://mozilla.invisionapp.com/share/U2RMIIZYBKE

- - -
cc @AmyYLee @shorlander @mheubusch I added flow and screens above, please feel free to update and resolve any open questions – I'd appreciate it if we can go with a minimal implementation for MVP :-)

[2019-04-11 18:30] AaronMT commented on #1551
Reproducible using 04/11 build on my Pixel 2.

[2019-04-11 19:07] mheubusch commented on #1568
add invision here and send along in the github board.

[2019-04-11 19:09] mheubusch commented on #921
I am fine to postpone images and new copy for post-MVP.  Are the styled pages visible in Nightly yet? That would help me determine if they are ok as is or figure out how important it is to match the mocks.

[2019-04-11 19:11] vesta0 commented on #1392
@mheubusch will provide strings for the label.

[2019-04-11 19:11] sblatz commented on #921
@mheubusch They are not yet, I was waiting to merge before I had the "OK." This is an example of what one looks like without the image:

<img width=300 src=https://user-images.githubusercontent.com/4400286/55984707-e294ff80-5c52-11e9-9287-e4f095f85cb0.jpg>

[2019-04-11 19:12] vesta0 commented on #1384
Thanks @eeejay We are changing the way sessions work so closing this.

[2019-04-11 19:15] AaronMT opened #1570 "FNX-5106 ⁃ Handle Play Store links"
## User Story
* As a user, when I click on a link to download/open an app, I want my browser to give me the option to download the app from the Google Play Store or open the app if I already have it installed, so I can easily choose to download/access an app.

### Acceptance Criteria
-I can choose to download an app when I click on a download/open link on a website
-I can choose to open an install

[2019-04-11 19:18] colintheshots opened #1571 "FNX-5107 ⁃ Bookmark deletion should offer undo snackbar"
When the user deletes bookmarks, the app should present an undo snackbar as per the final UX in #242.

[2019-04-11 19:18] vesta0 commented on #1292
This animation is going to change.

[2019-04-11 19:21] sblatz opened #1572 "FNX-5108 ⁃ Move the "try again" button for error pages once we no longer obscure bottom web content"
Waiting on https://github.com/mozilla-mobile/fenix/issues/552.

For now I had to put the back button slightly above where it should be on the web page so the URL bar does not obscure it. Once #552 is merged, we should change this.

[2019-04-11 19:22] mheubusch opened #1573 "FNX-5109 ⁃ [Meta] Collections"
As a user, I want to save tabs as groups that are relevant to me and easy to find and share.

[UX designs](https://github.com/mozilla-mobile/fenix/issues/1568)

[2019-04-11 19:24] mheubusch opened #1574 "FNX-5110 ⁃ Create a tab group"
As a user, I want to save the sites in my current browsing session as a group so that I can organize information in a way that is meaningful to me.

### Acceptance criteria
* I can select some or all of the open tabs in my current session
* I know how many tabs I have selected
* I can save the selected tabs as a discrete group
* I can access the group and see which sites were saved to the group wi

[2019-04-11 19:25] vesta0 commented on #1300
Dup of #800

[2019-04-11 19:26] cpeterso commented on #980
GV does not currently have an API to delete browsing history separately from "cookies and site data". The team has some plans, but nothing decided or in progress. I can schedule a meeting to discuss.

Deleting just site permissions is possible because site permissions are managed by Fenix, not GV.

[2019-04-11 19:28] vesta0 commented on #1158
@sarentz please confirm if the requirements have changed.

[2019-04-11 19:34] mheubusch opened #1575 "FNX-5111 ⁃ Add tabs to an existing group"
As a user, I want to add tabs to an existing group so that I can collect and organize information around a topic I’m currently interested in.

### Acceptance Criteria (Added by PM)
* if people have a saved tab group, they can choose to add selected tabs to an existing group or create a new one
* if they choose an existing one, the selected tabs are saved and they see a confirmation snackbar
* if t

[2019-04-11 19:35] mheubusch opened #1576 "FNX-5112 ⁃ Rename saved tab groups"
As a user, I want to rename my tab groups so that I can find what I’m looking for quicker.

###Acceptance criteria

* Tab group menu has entry “Rename Group”
* People can rename their group, save it and see a snackbar confirmation

[2019-04-11 19:36] vesta0 commented on #235
Blocked by https://bugzilla.mozilla.org/show_bug.cgi?id=1522461

[2019-04-11 19:41] vesta0 commented on #289
@bbinto please update the user stories and acceptance criteria to capture what we are doing in MVP :)

[2019-04-11 19:54] vesta0 commented on #940
@cpeterso do we have a GV API for this?

[2019-04-11 19:56] vesta0 commented on #969
@bbinto and @mheubusch to update this for Collections.

[2019-04-11 19:59] agi90 opened #1577 "FNX-5113 ⁃ [Bug] Fenix doesn't handle content process dying"
## Steps to reproduce
* Load a page in Fenix Debug

Simulate device killing content process:

* connect to device `adb shell`
* `$ run-as org.mozilla.fenix.debug`
* Get `:tab` process id: `$ ps -A | grep org.mozilla.fenix.debug:tab`
* Kill process `$ kill -9 <PROCESS ID>`

Note: This is really common, especially on lower-end android devices.

### Expected behavior
Pages refreshes and keeps state a

[2019-04-11 20:01] sblatz commented on #975
@bbinto to confirm: is this covering the **event** ping of toggling something on or off, or the **core** ping of what a use has set when they launch the app?

I think we had both for Focus, but want to ensure that both are tracked for Fenix and clarify which one this ticket addresses (the focus telemetry you linked to is a core ping but this says event pings).

[2019-04-11 20:03] mheubusch opened #1578 "FNX-5114 ⁃ Delete saved tab groups"
As a user, I want to delete my tab groups because I don’t need them any longer.

### Acceptance Criteria (Added by PM)
* tab group menu has entry “Delete Group”
* group is deleted and a snackbar with undo actions is displayed

[2019-04-11 20:08] mkaply commented on #232
I'm going to update this issue with more details about what this means.

Partners need to customize these things (so far):

1. Homepage (and if that homepage can be displayed when a new tab i opened)
2. Bookmarks
3. Suggested sites (if applicable)
4. Additional search engines
5. Default search engine
6. Possible additions to user agent (device information primarily)

There also needs to be a uniqu

[2019-04-11 20:48] cpeterso commented on #1322
@sv-ohorvath Can you still reproduce this YouTube crash? YouTube doesn't crash for me with the latest Fenix Build 4/11) on my Moto G5 running Android 8.1. Maybe this was a bug in GV 67 that has since been fixed in GV 68.

[2019-04-11 21:06] cpeterso commented on #940
No. We should make Gecko's `Accept-Language` HTTP header automatically detect the system language settings or add a GV API for the app to set the `Accept-Language` values. I filed a new GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1543823. I don't think this Gecko or GV bug needs to block Fenix MVP because many websites (frustratingly) select a content language using GeoIP instead of the b

[2019-04-11 21:09] sarentz commented on #1158
@vesta0 I was not in the April 3 meeting. I want to recommend that the search team knows these requirements best and should be owning them in this ticket.

[2019-04-11 21:15] sarentz commented on #1158
I see mconnor on the google sheet, so I think it is safe to assume that anything below row 22 is good to go.

[2019-04-11 21:20] cadeyrn opened #1580 "FNX3-15659 ⁃ [Bug] UnknownFormatConversionException when opening sync settings and language is not English"
### Steps to reproduce
1. choose German as language in your Android settings
1. make sure you're signed in
1. open sync settings

### Expected behavior
You see your sync settings.

### Actual behavior
Fenix crashes.

[code]

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision 9de120b8ab793794190617df93cc751470497121

[2019-04-11 21:31] dbolter commented on #1322
I can't repro on pixel2

[2019-04-11 21:36] cadeyrn opened #1581 "FNX3-15660 ⁃ [Bug] part of quick action sheet visible on every website (because of long translation)"
### Steps to reproduce
1. make sure you have German as your system language
1. open a website

### Expected behavior
The quick action sheet should be hidden.

### Actual behavior
You can see a part of the quick action sheet on the bottom on every website.

![Screenshot](https://user-images.githubusercontent.com/1100614/55994540-531f3900-5cb2-11e9-86dc-4668507d8bec.png)UNITO-UNDERSCORE!20190411-233

[2019-04-11 22:13] colintheshots commented on #826
This looks good to me. Thanks @AmyYLee. I think we're good to close this ticket.

[2019-04-11 22:13] #826 closed

[2019-04-11 22:20] bifleming commented on #195
@sblatz @mheubusch can we say this has been reviewed?  Isn't the work pretty much done on Shortcuts?

[2019-04-11 22:21] colintheshots commented on #169
This looks good to me. Signing off on it.

[2019-04-11 22:25] Verdi commented on #1196
@shorlander and I talked about this and agreed that the current state is desirable and fits the acceptance criteria so we should call this done.

[2019-04-11 22:26] cpeterso commented on #1212
The GV bug fix has landed and should be in tomorrow's GV 68 Nightly build. 🚀

[2019-04-11 23:01] Verdi opened #1582 "Don’t return SERP URLs as history results"
## Steps to reproduce
* Perform a number of searches and navigate to the SERPs (search engine result pages)
* Open a new tab and type any single character

### Expected behavior
* I should see history suggestions of sites I’ve visited before filtered by freecency and matches in the Title and URL.

As a user, I don’t consider SERPs to be “sites I’ve visited before.” The generic, google.com or duckd

[2019-04-11 23:15] Verdi opened #1583 "FNX-5117 ⁃ Don’t show internal urls in history results"
## Steps to reproduce
* Visit the Fenix about page
* Type “x” into the search field

### Expected behavior
* I should not see history results related to the letter “x”

### Actual behavior
* I see a history suggestion for data:text/html;base64,PCFkb2N0eXbllGh...

Additionally, I don’t think this page should show up in results even if we fixed it’s display by using it’s title. From a user’s point o

[2019-04-11 23:44] kbrosnan commented on #1583
This is an artifact of having visited the old fenix version page. The page no longer is loaded as a tab. https://github.com/mozilla-mobile/fenix/commit/379875a62a12c504ae0f48a5a6638e6e46f9d582

[2019-04-12 00:14] mheubusch commented on #1375
@topotropic @lime124 we do not currently display bookmarks in search suggestions, and the request above to suppress them has triggered another issue to add bookmarks.  OK if we add bookmarks and allow users to suppress them to the search bar post MVP

[2019-04-12 00:15] mheubusch commented on #1293
@AmyYLee tagging you in on this - do the revised homescreen/Collections designs include a notification as requested above?

[2019-04-12 00:17] mheubusch commented on #1500
@Verdi will you provide the needed UX feedback or do i need to assign it to someone else?

[2019-04-12 00:19] mheubusch commented on #1583
@kbrosnan is it ok to close this issue, then?

[2019-04-12 00:21] kbrosnan commented on #1583
I think so @boek reopen if I am wrong.

[2019-04-12 00:26] mheubusch opened #1585 "FNX-5118 ⁃ Share a tab group"
As a user, I can send links to the sites I’ve collected as a group with other people or other devices so that I can share the information and resources I’ve collected with others or complete a task on another device.
###Acceptance criteria

* I can send a group with another person via email, text, or other communication apps (assume this is a structured string)

[2019-04-12 00:30] Verdi commented on #1500
I’ll do it.

[2019-04-12 00:32] ekager opened #1586 "FNX-5119 ⁃ Behaviour when adding a duplicate bookmark"
As a user, I want to see the bookmark edit snackbar if I add a duplicate bookmark, so I can delete it, rename it, or move it to a different location. @topotropic please confirm that I have captured the UX feedback correctly.

### Acceptance Criteria:
-I see the edit bookmark snackbar when I add a duplicate bookmark

[2019-04-12 00:44] ekager commented on #939
Are we still seeing the same issues? We've made some changes to the sessions/tabs on the home screen

[2019-04-12 00:55] ekager commented on #1348
Just tried to reproduce this on Pixel 3 on Pie, and it didn't crash but the site never loaded. (Maybe a TP issue..)
Are you still seeing a crash?

[2019-04-12 01:47] boek commented on #1583
@kbrosnan should we also filter out about:* pages from geckoview?

[2019-04-12 02:42] magi44ken opened #1588 "FNX-5120 ⁃ Text Reflow"
### Why/User Benefit/User Problem
Usually the text are roo small to read in small screen. To read it one have to zoom in the text but it over flow the screen. One have to move left and right to read it.

### What / Requirements
When you zoom in the text to make it bigger, it should also flow the text within the screen width.

Similar to Opera (based on Chromium) has a core feature called Text Wrap

[2019-04-12 03:05] Lululalu opened #1589 "Select text from hypertext link"
### Why/User Benefit/User Problem
Currently it's very difficult to select phrases and words that are links. Being able to select this texts is helpful, because having the context menu open with the text selected, allows the user to search the term in the search engine, translate it, save it, etc. Also, no browser besides Samsung Internet allows text selection from links (that I know of), so, addin

[2019-04-12 04:07] Lululalu opened #1590 "FNX-5121 ⁃ long pressing the device's back button should trigger something."
### Why/User Benefit/User Problem
If you long press your device's back button for some seconds on a Chromium web browser a menu is exhibited showing your history. If you do the same on Fenix, nothing happens. This is a feature that may make web browsing easier and faster. Instead of showing the history like Chrome's does, it's better in my humble opinion, to show a list of recently closed tabs, sp

[2019-04-12 04:18] Lululalu opened #1591 "FNX-5122 ⁃ Long press the tab icon to open a new tab."
### Why/User Benefit/User Problem
With less touches it makes the process of opening a new tab easier and faster.

### What / Requirements
A new tab is opened as soon as the tab icon is long pressed.

### Acceptance Criteria (how do I know when I’m done?)
Long pressing the tab icon opens a new tab.

[2019-04-12 05:25] cadeyrn commented on #1590
Duplicate of #1048.

[2019-04-12 07:20] cadeyrn commented on #1591
Duplicate of #425.

[2019-04-12 07:58] cadeyrn commented on #1580
FWIW, it no longer crashes for me, but since it's still the same build it would still be interesting to know what caused the crash.

[2019-04-12 08:06] sv-ohorvath commented on #1322
Doesn't reproduce on Pixel (Android 9), HTC Desire 820 (Android 6.0.1), Galaxy S8 (Android 9).
build: 4/11

[2019-04-12 08:24] sv-ohorvath opened #1593 "FNX-5123 ⁃ [Bug] Some icons mix up the colors between light & dark mode (Android 6 and lower)"
## Steps to reproduce
1. On light mode, open a tab and go to the homescreen. Observe the Save session button.
1. On dark mode, go to Settings & on homescreen, observe the black icons.
    1. Expected behavior
Icons respect the color scheme.
    1. Actual behavior
Mixed black & white icons in both theme modes.
*later noticed that the phone's status bar is invisible on the Mi 4i device (Android 5).

[2019-04-12 08:26] Mugurell commented on #1383
I think it would still be possible to have the same name for multiple tabs if using just the page title.

[2019-04-12 08:44] cadeyrn commented on #1580
The crash only happens with German as language in your Android settings, but not with English (I didn't test other languages). I updated the STR.

[2019-04-12 08:49] JohanLorenzo commented on #1565
https://tools.taskcluster.net/groups/B_ScD6xmSzeHdH808vTJDw/tasks/B_ScD6xmSzeHdH808vTJDw/runs/0 was created before the fix got in. Yesterday, I [marked these failures](https://treeherder.mozilla.org/#/jobs?repo=fenix&revision=dad4149b813e26dbb646988e5681df58962389c5&selectedJob=239548937) and linked them to the issue Mitch called out.

Moreover, I see [this PR](https://github.com/mozilla-mobile/fe

[2019-04-12 09:16] sv-ohorvath commented on #939
No these are not occurring anymore on the latest build. I'll close the ticket. thanks!

[2019-04-12 09:16] #939 closed

[2019-04-12 09:34] sv-ohorvath opened #1594 "FNX-5124 ⁃ [Bug] Session list scrolls just half-way up when restoring a session"
## Steps to reproduce
1. Save a few sessions to have a long list to scroll.
1. Tap a session from the bottom of the list.
    1. Expected behavior
The list scrolls up to see the restored tabs.
    1. Actual behavior
The list scrolls just half way up.
    1. Device information

* Android device: Pixel (Android 9), HTC Desire 820 (Android 6.0.1)
* Fenix version: 4/11

[2019-04-12 09:41] sv-ohorvath opened #1595 "FNX-5125 ⁃ [Bug] Video stops when rotating the device"
## Steps to reproduce
1. Go to youtube.com and play a video
1. Turn the device to landscape mode.
1. Play the video again, rotate it back to portrait.
    1. Expected behavior
Video keeps playing while switching the layout.
    1. Actual behavior
Video stops.
Not reproducing on cnn or dailymotion videos.
    1. Device information

* Android device: Pixel (Android 9), HTC Desire 820 (Android 6.0.1)

[2019-04-12 10:20] topotropic commented on #1293
We can either use a Snackbar like in Fennec ("New tab opened SWITCH") or we can work with animation to indicate that a new tab was opened in the background (cc @AmyYLee). I'd suspect Snackbar is more realistic for MVP.

[2019-04-12 10:24] bbinto commented on #975
Good question @sblatz - this should mostly cover the toggle events, however the saved state for some will go into the baseline ping, e.g. change search provider (https://github.com/mozilla-mobile/fenix/issues/1300)
So the event probe will record "when the switch/setting" was changed and the what, e.g. DDG as the default search engine will be stored in the baseline (https://github.com/mozilla-mobil

[2019-04-12 10:25] bbinto commented on #969
@mheubusch - please confirm when the Collections prototype is at a state where development can start - then I'll update this ticket.

[2019-04-12 10:28] bbinto commented on #289
@vesta0 and @lime124 can you please link me to the latest mocks so I can verify the AC and US.

As per my slack message with Vesta, that's what my assumptions are for now:

This to me is an issue about making sure 1) users can login/logout of their account via Fenix 2) and manage their synced data (turn off/on). Both things we need to provide for MVP. The confusing part is maybe that screenshot, w

[2019-04-12 10:40] topotropic commented on #195
@sblatz I think we wanted to go to shortcuts view when tapping the favicon additionally to the shortcut chip @bifleming should I add a follow up?

[2019-04-12 10:43] bbinto commented on #289
@vesta0 - updated according to latest screens.

[2019-04-12 10:47] bsurd commented on #1554
This has now been verified on several devices and works as expected.

[2019-04-12 10:50] bsurd commented on #1068
There are no other issues and copying the URL works as intended.

[2019-04-12 11:02] bsurd commented on #1347
This is now fixed and works as expected, the crash in #1034 is still reproducible on the Note 8 device tho.

[2019-04-12 11:13] bsurd commented on #1459
This has now been verified. All URL's have a title displayed.

[2019-04-12 11:28] bsurd commented on #1203
A padlock is shown for secure connections and a globe icon for insecure ones, when tapping on the icons a panel is being displayed with more information as well as any permissions that have been allowed/blocked on the site.

[2019-04-12 11:37] sv-ohorvath opened #1596 "FNX-5126 ⁃ [Bug] Bookmarks get the last used folder as parent in edit mode"
## Steps to reproduce
1. Bookmark some webpages.
1. Edit one bookmark, change its parent folder.
1. Edit a 2nd bookmark. Observe which is the parent folder that appears in edit mode.
1. Tap the back button without making any changes. Verify if the bookmark was moved.
    1. Expected behavior
The correct parent folder is shown. No changes made to the 2nd bookmark.
    1. Actual behavior
On the 2n e

[2019-04-12 13:15] sv-ohorvath opened #1597 "FNX-5127 ⁃ [Bug] The current default Bookmark folders don't make sense on mobile"
## Steps to reproduce
1. Go to bookmarks.
1. See the "menu", "toolbar", "unfiled" folders.
    1. Expected behavior
On Fennec, these folders appear only after a sync with a desktop app.
    1. Actual behavior
The folders don't make sense on Mobile as default folders.
    1. Device information

* Android device: any
* Fenix version: 4/11 build

[2019-04-12 14:09] #942 closed

[2019-04-12 14:18] sv-ohorvath opened #1598 "FNX-5128 ⁃ [Bug] Auto-select new created folder for moving bookmarks"
## Steps to reproduce
1. Create a bookmark, go to edit mode.
1. Tap to change the parent folder.
1. Create a new folder. Tap Ok.
1. Back to the folder list, observe the new folder.
    1. Expected behavior
It would be helpful to make the new folder selected by default. So the user can just tap to navigate back to bookmark editing, without having to select the folder again.
    1. Actual behavior
T

[2019-04-12 14:46] mozillamarcia commented on #1348
Using my Pixel 3 and the latest Fenix, I am no longer crashing playing various videos on that site.

[2019-04-12 15:09] ryanfeeley commented on #289
@bbinto @sblatz *Manage account* does what it does on every Firefox, it opens accounts.firefox.com/settings in a tab (or WebView, your choice for MVP), though there are some special parameters you will want to pass. @shane-tomlinson can provide those.

[2019-04-12 15:13] mheubusch commented on #921
@sblatz Ok to implement as is without matching design comps or adding illustrations. Please move forward and we can make the design updates post-MVP.

[2019-04-12 15:15] colintheshots opened #1599 "FNX-5129 ⁃ [Bug] Crash creating a bookmark for a custom tab"
## Steps to reproduce
1. Open a custom tab from an app that uses them, like Slack
1. Open the Quick Action Sheet on the bottom
1. Attempt to bookmark the custom tab

### Expected behavior
A snackbar appears showing that a bookmark was created, along with an EDIT action button. The actual bookmark is created.

### Actual behavior
The app crashes.

### Device information
* Android device: Samsung Ga

[2019-04-12 15:15] mheubusch commented on #1079
@vesta0 does this one need to move to UX review?

[2019-04-12 15:18] mheubusch commented on #919
@ryanfeeley Looks like there is a question to you here that is blocking implementation.  Can you follow up?

[2019-04-12 15:20] mheubusch commented on #1455
@ekager @sblatz can you confirm that this is blocked due to A-C, and not blocked awaiting UX input for bottom progress bar?

[2019-04-12 15:32] mheubusch commented on #466
@vesta0 Can we move this to post-MVP for now?

[2019-04-12 15:34] mheubusch commented on #587
@brampitoyo Did you reach a final decision on this? If so, can you post the results here and unblock/remove the Needs UX label?

[2019-04-12 15:35] mheubusch commented on #597
@brampitoyo Can you also review this - once you unblock 587 can you remove the Needs UX Feedback label

[2019-04-12 15:37] mheubusch commented on #599
UX is currently blocked awaiting findings from Perceived Performance testing.

[2019-04-12 15:40] mheubusch commented on #1161
@Verdi Where will specs be delivered for eng? In  this issue or  another one?

[2019-04-12 15:43] mheubusch commented on #1293
UX decision: We will use a snackbar as proposed above. Text should be New tab opened SWITCH

[2019-04-12 15:52] sblatz commented on #1455
@mheubusch correct: we do not need UX for this.

[2019-04-12 16:53] yoasif opened #1601 "FNX-5130 ⁃ Quick Action Toolbar Bookmark icon should have visual affordance if bookmarked"
### Why/User Benefit/User Problem
As a user, I would like to know if a page is bookmarked before I tap bookmark again, to prevent myself from creating a new bookmark #1586 or to edit the bookmark (new story?).

### What / Requirements
The quick action bar bookmark icon should not be filled in (solid black) unless I have bookmarked the page previously.

FWIW, Fennec does the same thing.

### Accept

[2019-04-12 17:03] yoasif commented on #1582
FWIW, this is not how Fennec or Firefox desktop acts - I see SERPs in both awesomebar results in those apps.

[2019-04-12 17:21] ryanfeeley commented on #919
We don't need this nor do we do this anywhere else. Sync just works. Yes, there may be occasional errors in syncing, but we don't present them to the user. In desktop there is about:sync-log where we direct users who report problems.

[2019-04-12 17:49] Verdi commented on #1582
That's true but we'd like them to not show SERP URLs. So starting here with Fenix.

[2019-04-12 17:53] agi90 opened #1602 "FNX-466 ⁃ [Bug] Fenix gets a low dpi page on Facebook"
Fenix (and all gv browsers) get a low dpi page on Facebook. This is because IIRC we don't provide device information in our UA.

I know there are some talks of serving a special UA to Facebook with a fake device name so that they serve us the appropriate images, but I want to make sure we track it in Fenix too, since this is really detrimental to the user experience.

* Android device: Samsung S10

[2019-04-12 18:31] vesta0 commented on #466
Moved to post-mvp.

[2019-04-12 18:40] ekager commented on #1348
Okay going to close this issue then for now! Please reopen if you see this happening again! Thanks!

[2019-04-12 18:42] ekager commented on #538
We reversed the tabs in the list so the most recent freshly opened tab is now at the top.

[2019-04-12 18:44] irrationalagent commented on #289
So currently on Fennec the equivalent UI will open about:accounts?action=manage which displays a uri that is built using this https://searchfox.org/mozilla-central/source/mobile/android/chrome/content/aboutAccounts.js#181

I believe that will translate to `https://accounts.firefox.com/settings?service=sync&context=fx_fennec_v1`

furthermore, although we don't do it currently for fennec, we *should

[2019-04-12 18:47] vladikoff commented on #289
@irrationalagent Hm short answer would probably be - nothing is staying the same as Fennec. Fenix is using an OAuth flow for login. For manage account, I don't think we have anything setup yet from the UI. Once we have a "Manage Account" button we can add an entrypoint parameter to it.

[2019-04-12 19:09] yoasif commented on #1582
Is this meant to be compatible across all search engines? I just typed in a query into my awesomebar on desktop where I got results from both Startpage and Google (I use various search engines).

I'm not averse to the idea in principle, but if certain search engine SERPs are suppressed, but others are not, it feels less consistent and will cause users to question the browser's behavior as it feels

[2019-04-12 20:27] ryanfeeley commented on #289
@sblatz I didn't think device name was in for MVP, but was imagining we use standard Android.
![image](https://user-images.githubusercontent.com/68213/56064343-cb800b80-5d3f-11e9-9f7d-89086137e44a.png)

[2019-04-12 21:44] liuche opened #1607 "FNX-52 ⁃ [Telemetry] Handle custom search engines, do not leak user-added engines"
Owner: Product Manager

This is a follow-up to the telemetry that was added in #1194 and #800. When users gain the ability to add Custom Search Engines, we need to update that telemetry so the new search engines are obfuscated (and sent as "custom" or some other non-user-generated string).

#### Description & Product Manager / Data Scienties User Story
* As a User, I don't want the names or search

[2019-04-12 21:45] liuche commented on #1607
@vesta0 this isn't an MVP, but there are a couple of search engine telemetry probes that now exist, and I just want to make sure that when custom search engines are added this reminder is here that those probes need to be updated to not send things like "search engine name".

[2019-04-12 21:46] liuche commented on #1194
Filed #1607 as a reminder when custom search engines are added that the telemetry needs to be updated.

[2019-04-12 22:09] bifleming commented on #919
@colintheshots looks like this is unblocked.

[2019-04-12 22:13] Lululalu opened #1608 "FNX-5131 ⁃ Show a title bar at the bottom when the address bar is no longer visible"
### Why/User Benefit/User Problem
It allows users to know the website they are in, without having to check it again, specially when there are many tabs open. IMHO it's one of the best features of Yandex Browser.

### What / Requirements
A title bar at the bottom that appears when the user scroll down the page and the address bar is no longer visible

### Acceptance Criteria (how do I know when I’m

[2019-04-12 22:22] Verdi commented on #1583
Yes if that means they won't show in search results.

[2019-04-12 22:23] sblatz opened #1610 "FNX-5132 ⁃ [Bug] Search shortcuts button crashes"
I believe there was a change in a-c that causes search shortcut engine button to crash now :disappointed:

[2019-04-12 22:25] yoasif commented on #1608
Can you post a screenshot of how it looks in Yandex browser? I am curious to see what it looks like.

[2019-04-12 22:26] Verdi commented on #1161
@mheubusch I'll add everything here. I spoke with Mike Connor about this and we were thinking there might be something to do besides a single, hard-coded number of search suggestions. I'll have to discuss with engineering.

[2019-04-12 22:43] Lululalu commented on #1608
@yoasif

![Screenshot_20190412-194155_Browser](https://user-images.githubusercontent.com/32398857/56069819-2bd07680-5d5b-11e9-8c25-1da462cd86ca.jpg)

[2019-04-12 23:00] kbrosnan commented on #1583
Requesting that in a new issue seems good. This one has become messy.

[2019-04-12 23:08] yoasif commented on #1608
Not sure I understand the feature, though - do you want to not show the address bar when the user makes a scroll down gesture and instead show the page title?

Showing the toolbar is what currently happens in Fenix for me.

[2019-04-12 23:20] Lululalu opened #1613 "FNX-5133 ⁃ [Bug] It's difficult (if not impossible) to distinguish new tabs opened from the same website"
## Steps to reproduce
Open a website (The Guardian for example) and then open several pages from this website in new tabs. Check the tabs and try to distinguish them visually.

### Expected behavior
It's possible to distinguish the tabs.

### Actual behavior
As the tab previews show the page's URL instead of the page's title, and as the thumbnails are not loaded until the page is loaded in the for

[2019-04-12 23:22] Verdi opened #1614 "FNX-5134 ⁃ Don't list about:* pages in history results"
## Steps to reproduce
* Visit any about:* page
* Start a search with the term "about"

### Expected behavior
* I should not see suggestions for internal pages.

### Actual behavior
* I see suggestions for about:* pages

### Device information
* Android device: ?
* Fenix version: 1.0.1915 Build #11021216

[2019-04-12 23:22] kbrosnan opened #1615 "FNX-5135 ⁃ [Bug] unable to build fenix "No value passed for parameter 'successPath'""
## Steps to reproduce
Building fenix on Windows using an up to date Android Studio

* I've cloned into a clean folder
* invalidated caches and restart
* tried a clean build and/or rebuild from the Android Studio menu
* building via the command line

### Expected behavior
Successful build

### Actual behavior
org/mozilla/fenix/components/Services.kt
No value passed for parameter 'successPath'

Task

[2019-04-12 23:23] kbrosnan commented on #1615
I've been able to build on Linux and @rpappalax was able to build on OS X.

[2019-04-12 23:32] Lululalu commented on #1608
@yoasif Sorry if I couldn't describe it better before (English is my secondary language). I recorded how the bottom bar/tittle bar behaves in Yandex, as a video may be between than words.

https://streamable.com/eoxlf

[2019-04-12 23:34] yoasif commented on #1608
Got it - that helps!

[2019-04-12 23:50] hawkinsw opened #1616 "FNX-5136 ⁃ [Bug] Experiment loading happens on the main thread and blocks startup"
## Steps to reproduce
Start the application.

### Expected behavior
Experiments should be loaded (more quickly than they are)

### Actual behavior
Experiments are loaded, but only after having blocked progress on the main thread.

### Device information
* Android device: Any
* Fenix version: Nightly

[2019-04-13 01:11] Verdi opened #1618 "FNX-5137 ⁃ Search results list should look scrollable"
### Why/User Benefit/User Problem
When you type a search term in the search field, the list of results visible above the keyboard can be quite short (I see 4 on my Nokia 3.1). Of course, there are many results available if you scroll the list of results but on some devices (again, true on my Nokia 3.1) the visible results fit the available space well enough that there is no indication that more re

[2019-04-13 01:51] Verdi opened #1619 "FNX-5138 ⁃ [Bug] Don’t show "fill link" prompt when characters are in the search field"
## Steps to reproduce
* Copy a url to the clipboard
* Begin a search by tying characters in the search field

### Expected behavior
* Once I start typing, the "fill link" prompt should be replaced by search and history suggestions.
* If I clear the characters in the search field the prompt should return.

### Actual behavior
* The "fill link" prompt is visible at the end of the list when I'm typin

[2019-04-13 01:57] Verdi opened #1620 "FNX-5139 ⁃ [Bug] Don’t show search results when selecting a URL"
## Steps to reproduce
* Navigate to a website
* Tap the address bar

### Expected behavior
* The URL should be highlighted
* The keyboard should come up
* I should not see search and history suggestions

### Actual behavior
* I see search and history suggstions

### Device information
* Android device: Nokia 3.1
* Fenix version: 1.0.1915 Build #11021216

[2019-04-13 02:05] Verdi commented on #1209
I think I conflated 2 issues when filing this:

1. There are duplicate URLs present
2. There are search and history suggestions present

The duplicate URLs issue seems to be tracked with #482 & https://github.com/mozilla-mobile/android-components/issues/1368 as noted above.

I filed a new issue for the presence of search and history suggestions - #1620

[2019-04-13 02:25] lime124 commented on #1375
i'm good with that

[2019-04-13 02:34] ehsan opened #1621 "FNX-5140 ⁃ [Bug] The Share/Download/Bookmark toolbar can be seen through the toolbar"
## Steps to reproduce
1. Make Fenix the default browser.
1. In the Gmail app, click on a link.

In the custom tab powered by Fenix that opens up, the Share/Download/Bookmark toolbar can be seen through the toolbar.  See the screenshot:

http://imgur.com/AzqkloQ

### Expected behavior
It shouldn't be seen. :-)

### Actual behavior
It is seen.

### Device information
HTC one m9.

* Android device: 7

[2019-04-13 02:48] grigoryk commented on #1532
Thanks for filing!

We might not be storing these visits with correct types. That is, we are filtering them on display, but if they’re stored as non-redirects, that obviously won’t help. I’ll take a deeper look and report back.

[2019-04-13 03:59] vladikoff commented on #1615
You probably have cached android components snapshots. If you manage to get
the latest version it should resolve your issue.

On Fri, Apr 12, 2019, 19:23 Kevin Brosnan <notifications@github.com> wrote:

[2019-04-13 04:33] andreicristianpetcu opened #1622 "FNX-5141 ⁃ [Bug] Sometimes no pages load and app restart is required"
## Steps to reproduce
Use Fenix as your primary browser and some times it will stop loading pages. A blank screen is displayed. I need to force quit from "Apps & notifications" to make it work again

### Expected behavior
It should always load pages.

### Actual behavior
Pages do not load and show a white page. All pages are affected.

### Device information
* Android device: OnePlus 5t/LineageOS

[2019-04-13 04:34] andreicristianpetcu commented on #1622
![Screenshot_20190410-083220_Fenix](https://user-images.githubusercontent.com/922368/56074623-9535a100-5dbe-11e9-83c3-fe444997ced3.png)

[2019-04-13 08:39] cadeyrn commented on #1608
To be honest I don't see any good reason to implement this proposal. If I scroll a website I already know on which website I am. And the space is limited on smartphones and I can scroll to see the toolbar. In my opinion there is no reason for an always visible bar with the page title.

[2019-04-13 22:27] LittleAngelwings opened #1623 "FNX-5142 ⁃ Fenix crashes at about:about [Bug]"
## Steps to reproduce
Enter about:about

### Expected behavior
Fenix shows the list of abouts

### Actual behavior
Fenix crashes

### Device information
* Android device: Samsung Galaxy Tab A (2016) SM-T580, Stock Android 8.1.0
* Fenix version: 1.0.1915 (Build #11031226) German localization

[2019-04-13 22:38] LittleAngelwings opened #1624 "FNX-5143 ⁃ Fenix crashes at about:config [Bug]"
## Steps to reproduce
Enter about:config

### Expected behavior
Fenix opens preferences tab

### Actual behavior
Fenix crashes

### Device information
* Android device: Samsung Galaxy Tab A (2016) SM-T580
* Fenix version: 1.0.1915 (Build #11031226) German localization

[2019-04-14 02:07] AmyYLee commented on #1064
@mheubusch @shorlander I attached the spec to the top of this bug and moved the card to Design Review.

[2019-04-14 02:45] AmyYLee commented on #980
@mheubusch @shorlander posted updated spec in description up top and moved card to Design Review.

[2019-04-14 02:48] AmyYLee commented on #225
@bbinto This looks like a duplicate of this bug. I posted specs there.
https://github.com/mozilla-mobile/fenix/issues/980

[2019-04-14 02:55] AmyYLee commented on #195
This has been covered in Dark Mode edits in Comments:
https://mozilla.invisionapp.com/share/QRRJ99U27DY

[2019-04-14 03:27] colintheshots commented on #1586
Good question.

[2019-04-14 04:38] Scripterr opened #1627 "FNX-5144 ⁃ [Bug]Switch to new tab don't work"
## Steps to reproduce
1. Navigate to a website and open a link from that site in a new tab.
1. Click on the switch button from the snack bar to open the newly created tab.
    1. Expected behavior
On clicking switch button the new tab is opened.
    1. Actual behavior
No effect on clicking the switch button.
    1. Device information

* Android device: 8.0.0
* Fenix version: 1.0.1915 (Build#110312

[2019-04-14 09:11] thanuj10 opened #1628 "FNX-5145 ⁃ Text scaling and transparency issues on Firefox Fenix custom tabs."
## Steps to reproduce
1. Open a custom tab
1. Open a custom tab from gmail
1. View the issues

### Expected behavior
1. Transparency and text scaling issues fixed.

### Actual behavior
1. Text scaling is weird and doesn't fit in the address bar.
https://ibb.co/cw4QQWM
https://ibb.co/SRJm1Hr
1. Weird transparency in custom tabs from Gmail.
https://ibb.co/2MykjmY

### Device information
* Android de

[2019-04-14 09:58] Cheap-Skate commented on #1613
I have this problem too.
(1) the tab preview shows the URL not the tab title. The URL often looks identical for different pages from the same site
(2) the tab preview is wide and short so it only shows the top ~20 mm of the page. Often this looks the same for all pages on the same site.

IMHO for (2) you need to zoom out the tab preview & make it narrower so that it shows more of the page enough t

[2019-04-14 10:05] Cheap-Skate opened #1629 "FNX-5146 ⁃ [UX] Tapping on a bookmark opens a new tab which I find counter-intuitive"
If I have an open tab and tap 3-dot menu > Library > Bookmarks and tap a bookmark it opens in a new tab. I find this odd, it's different from conventional browsers where actions in a tab always only affect that tab.

(I've raised this issue before, I find Fenix confusing because some actions act on the current tab but other very similar actions create a new tab, it's not always easy to tell what's

[2019-04-14 22:51] bbinto commented on #289
@ryanfeeley @vladikoff -
ok, so to recap, we can and should include "Manage Account" in MVP.

@ryanfeeley - what source do you reference that device name change is out of MVP?

@sblatz - can you please let us know if you are blocked/any further information you need?

[2019-04-14 22:53] bbinto commented on #225
This issue is referring to the Eng tasks, so I think this should still be kept open (cc @vesta0)

[2019-04-15 00:12] rfk commented on #289
The FxA component should provide a method to call to get the "manage account" URL, rather than requiring the application to construct it by hand, ref https://github.com/mozilla/application-services/issues/750

[2019-04-15 02:05] AmyYLee commented on #1430
@boek My feedback for the snackbar animation:

1. Can the snack bar slid up from the bottom when it appears (basically a reverse of when it disappears).
2 The shape of the snackbar and text shouldn't resize or distort when it slides up from the bottom
3. Extend the animation so it's 200ms going up and 200ms going down (not sure what the duration it is currently) and see how that feels. The animati

[2019-04-15 02:11] AmyYLee commented on #1430
@boek @bram

 Also for the snackbar in PBM * If theme == PBM use the `Purple - 70` colour value, which is `722291`.

[2019-04-15 02:54] vesta0 commented on #1582
This needs to go through triage

[2019-04-15 03:29] #95 closed

[2019-04-15 03:32] vesta0 commented on #244
Dup of #1585

[2019-04-15 03:49] vesta0 opened #1631 "FNX-5148 ⁃ Fenix should work in landscape mode"
As a user, I want to be able to use all Fenix features in Landscape mode so I can have flexibility in using my browser.

### Acceptance Criteria:
-I can use all Fenix functions in landscape mode without any user experience issues.
-I can perform all scrolling, tapping, input actions.
-I can access and change any settings.

[2019-04-15 08:52] sv-ohorvath commented on #1553
Dupe of #1601.

[2019-04-15 08:55] sv-ohorvath commented on #1236
No issues found yet while verifying this feature. Closing.

[2019-04-15 08:57] Scripterr commented on #1628
I'm also able reproduce it and i'm unable to hide the address bar by scrolling downwards.

[2019-04-15 09:03] cadeyrn commented on #1628
(2) is a duplicate of #1621.

[2019-04-15 09:11] sv-ohorvath opened #1632 "FNX-5149 ⁃ [Bug] (Regression) Dock keyboard when viewing recent apps"
## Steps to reproduce
1. Tap the search bar to launch de keyboard.
1. Open the recent apps tray.
    1. Expected behavior
The keyboard is hidden.
    1. Actual behavior
The keyboard remains displayed on top.
    1. Device information

* Android device: Nexus 5 (Android 6), Galaxy Tab 3 (Android 8), Galaxy S8 (android 9).
* Fenix version: 4/14 build.

[2019-04-15 09:18] sv-ohorvath opened #1633 "FNX-5150 ⁃ [Bug] "Open new tab" from PB just opens the homescreen"
## Steps to reproduce
1. Open a webpage in PB.
1. From the main menu, tap "New tab".
    1. Expected behavior
A new tab is created in normal browsing: the search bar edit mode is opened.
    1. Actual behavior
The normal browsing home screen is displayed.
    1. Device information

* Android device: Galaxy Tab 3 (Android 8), Nexus 5 (Android 6).
Not reproducing on Galaxy S8 (Android 9)
* Fenix ver

[2019-04-15 09:22] sv-ohorvath commented on #538
Verified on the latest build. No issues found.

[2019-04-15 09:22] #538 closed

[2019-04-15 10:10] mauryat commented on #1624
Doesn't repro on Samsung Galaxy S8.
Fenix version: 1.0.1915 English localization

I don't think German localization matters as such because the app in the current state isn't built for other locales.

@LittleAngelwings can you post some logs by connecting to Android Studio logcat?

There's no available emulator for the said device. The closest I could find on the Samsung Remote test lab was Tab A

[2019-04-15 10:17] Dunexus opened #1634 "FNX-5151 ⁃ [Bug] 3 dot menu overscroll glow doesn't match menu shape"
## Steps to reproduce
Open any 3 dots menu and scroll.

### Expected behavior
Overscroll glow should match the shape of the menu (rounded square).

### Actual behavior
Overscroll glow start below the rounded corners.
![Screenshot](https://user-images.githubusercontent.com/13906248/56124861-e341d480-5f77-11e9-864d-5db4fdf0e86f.jpg)UNITO-UNDERSCORE!20190415-112407!UNITO-UNDERSCORE!!UNITO-UNDERSCORE!

[2019-04-15 12:48] pocmo commented on #1049
The Android Components team did some measurements with the animated progress bar (`ui-progress`) last week (Nexus 5, raptor-tp6m-facebook-refbrow). Unfortunately we saw the animation having a negative effect on the performance: `loadtime` was almost half a second (~400ms) slower on a Nexus 5 (while seeing almost no difference on high-end devices).

@AmyYLee Do you think the animation is something

[2019-04-15 13:22] pocmo commented on #1483
This should have been fixed with the latest AC snapshots. Can you please verify this in a recent Fenix Nightly? Tentatively removing the a-c label already.

[2019-04-15 13:51] bsurd opened #1635 "FNX-5152 ⁃ [Bug] 3rd party password managers do not work with Fenix"
## Steps to reproduce
1. Install LastPass and log in (save passwords for a few sites if needed).
1. Go to any site that has a password saved in LastPass.
1. Try to fill in login details with LastPass.

### Expected behavior
The username and password can be filled.

### Actual behavior
No username and password options appear. When trying to add a new entry Fenix reports the site as being fenix.mozi

[2019-04-15 14:13] pocmo commented on #1635
In this case, is Lastpass (or Dashlane) setup to be the Autofill provider for the system?

[2019-04-15 14:18] pocmo commented on #1455
Should no longer be blocked on AC (removing blocked label).

[2019-04-15 14:29] test2a commented on #1602
oh yeah!!!  YOU the user are running the website on an "unsupported browser"... dont complain if the website doesnt look so pretty, now is this our fault or yours?  besides, its so cool to develop for chrome these days, everyone is doing that so why are you wasting our time by running an "unsupported browser"

[2019-04-15 14:44] cadeyrn commented on #1602
@test2a Please don't be so rude. This is an issues tracker to report issues with the Fenix browser and of course web compatibility issues with one of the most popular websites of the world are important to track. Comments of the kind that browsers other than Chrome would be unimportant are destructive.

[2019-04-15 14:52] ryanfeeley commented on #289
The first reference I've seen to device renaming was just added to this issue a few days ago.

Our other mobile apps lacked this feature for a very long time, so I would not prioritize it highly.

That said, above is a solution that can work if you choose to include device renaming.

[2019-04-15 15:11] cadeyrn commented on #1635
FWIW, Lockbox as 3rd party password manager works in Fenix. I didn't test any other 3rd party password manager.

HTC U11 / Android 8.0

[2019-04-15 16:10] sblatz opened #1636 "FNX-5153 ⁃ [Bug] Crash when selecting "shortcuts" in search fragment"
1. Open the search view
1. Tap "Shortcuts"

## Expected Behavior
* The shortcut engine picker is displayed

## Actual Behavior
* Fenix crashes

I think something may have changed in a-c that's causing this. Basically the RecylerView is returning the same cell twice for some reason?

[2019-04-15 16:37] AaronMT commented on #1622
Any specific URLs or is it random?

[2019-04-15 16:46] yoasif commented on #1622
I have seen this. It is random. I'll try to capture a logcat the next time I see it.

[2019-04-15 16:53] yoasif opened #1637 "FNX-5154 ⁃ [Bug] Page title appears in browser toolbar above URL sometimes when page is loaded from prior session"
## Steps to reproduce
1. Open Fenix
1. Load https://www.nytimes.com/2019/04/14/technology/china-surveillance-artificial-intelligence-racial-profiling.html from a saved session

### Expected behavior
Page URL appears in location toolbar.

### Actual behavior
Page title appears above page URL

![signal-attachment-2019-04-15-125252](https://user-images.githubusercontent.com/152493/56150707-7598a700-5

[2019-04-15 16:56] AaronMT commented on #1623
Dupe of #1624

[2019-04-15 17:56] jonalmeida opened #1639 "FNX-5155 ⁃ Should not have to check custom tab session before setting title"
Custom Tabs integration requires a check of the session in order for it to not collide with a regular session. This is a temporary work-around but needs to be investigated to fix the underlying issue.

### Device information
* Android device: ?
* Fenix version: ?

[2019-04-15 18:05] yoasif commented on #1622
Here's a log where Fenix stopped responding, the crashed. I went ahead and restarted it after. Hopefully this helps.

[logs-2019-04-15-14-00-06.zip](https://github.com/mozilla-mobile/fenix/files/3081491/logs-2019-04-15-14-00-06.zip)

[2019-04-15 18:32] rwood-moz commented on #1561
Christian and I looked into this and figured out the issue. Raptor is launching the android app (mozdevice ADBDevice) using default intent of 'android.intent.action.Main' but for Fenix we need to specify the intent of 'android.intent.action.VIEW' instead. We tried that locally and with that change Raptor page-load runs fine on Fenix using the one tab / tabs.update. I'll file a Raptor bug and make

[2019-04-15 18:34] ekager commented on #1637
Should be fixed by #1611

[2019-04-15 18:38] csadilek commented on #1561
Closing as per Rob's comment.

[2019-04-15 18:50] mcomella commented on #599
I updated the first comment with a link to a recording of the animation. A reminder that it only happens the first time Fenix launches from OOM (i.e. after a swipe closed).

[2019-04-15 19:01] shorlander commented on #868
[firefox-preview-launcher-assets.zip](https://github.com/mozilla-mobile/fenix/files/3081691/firefox-preview-launcher-assets.zip)

[2019-04-15 19:10] cadeyrn opened #1643 "FNX3-15707 ⁃ [Bug] regression: low contrast for session text background on home screen"
### Steps to reproduce
1. start Fenix and make sure you don't have any saved sessions.

### Expected behavior
There is a text explaining what sessions are. There should be either sufficient contrast between the background color of the text box and the background color of the app or no color difference at all.

### Actual behavior
The text box has a different background color than the background of

[2019-04-15 19:21] cadeyrn opened #1644 "FNX3-15708 ⁃ [Bug] regression: progress bar is below the toolbar again"
### Steps to reproduce
1. load a website

### Expected behavior
The progress bar is above the toolbar.

### Actual behavior
The progress bar is below the toolbar again.

I can't provide a screenshot because Fenix loads the websites too fast. But I guess that's a good sign. :sweat_smile:

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision 658f6dcf23a08609

[2019-04-15 19:33] cadeyrn opened #1646 "FNX3-15709 ⁃ [Bug] regression: wrong text and icon color for bookmarks multi select toolbar"
### Steps to reproduce
1. Menu > Library > Bookmarks
1. open a folder
1. long press on a favicon

### Expected behavior
White text and icon color in the toolbar.

### Actual behavior
Black text and icon color in the toolbar, bad contrast ratio. It's probably another regression of #1609.

![Screenshot](https://user-images.githubusercontent.com/1100614/56159892-18751380-5fc6-11e9-8bb8-6765b1a703a8.p

[2019-04-15 20:21] sblatz opened #1648 "FNX-467 ⁃ [Bug] Drawable ripple for lock icon in toolbar is wrong"
Related Android Components issue: mozilla-mobile/android-components#4673

The drawable ripple for the lock icon (when pressed) appears behind the toolbar instead of in front of it.

## Demo
![icon 2019-04-15 13](https://user-images.githubusercontent.com/4400286/56162622-484df800-5f81-11e9-8f1f-124873eef00c.gif)UNITO-UNDERSCORE!19!UNITO-UNDERSCORE!55!

[2019-04-15 20:23] sblatz commented on #1643
This is expected behavior currently. The text box is colored with an "above" color, with the background being the "foundation" color. I will have @shorlander weigh in on this though.

[2019-04-15 20:43] boek commented on #1495
@Delphine I didn't see any strings that were missing descriptions. They might have been added already?

[2019-04-15 20:57] bholley opened #1649 "FNX-54 ⁃ [Bug] Build of fresh clone fails with "SDK location not found""
This may just be a problem with the build instructions in README.md, but if so we should fix that.

## Steps to reproduce
[code]

Output:

[code]

[2019-04-15 20:59] Delphine commented on #1495
Oh seems like they have been fixed in the meantime :) thanks Jeff!
Closing

[2019-04-15 21:15] gaby2300 opened #1650 "FNX-5161 ⁃ [Fenix] https://www.smn.gob.ar does not display the weather info"
## Steps to reproduce
1. Browse to the site.
1. Notice the lack of info: temperature, wind, etc.

### Expected behavior
Should display the actual temperature, wind, etc.

### Actual behavior
Does not display the weather info.

### Device information
Sony Xperia Z3C

* Android device: ?
Android 6.0.1
* Fenix version:  Firefox Mobile 68.0, Build #11051219

![Servicio Meteorológico](https://user-imag

[2019-04-15 21:18] sblatz commented on #1632
Lets do a `hideKeyboard` onPause and `showKeyboard` onResume. We took out the hide keyboard functionality on purpose, because it was originally calling keyboard back press (which would take the user to the home fragment)

[2019-04-15 21:26] bifleming commented on #1585
@mheubusch the team had the following feedback for this story:

_Not possible for MVP:

- I can share a group with another device sharing a Bluetooth connections
- If I am signed in to my Firefox Account, I can send the sites in a group to another device where I am signed in to my Firefox Account_

Need template for text message that would go along with share action. Would like to consider whether

[2019-04-15 21:50] boek opened #1653 "FNX-5162 ⁃ Custom tab title showed up in normal mode"
![Screenshot](https://user-images.githubusercontent.com/1250545/56167704-b993a800-5f8d-11e9-9432-695848160a01.jpg)UNITO-UNDERSCORE!20190415-144745!UNITO-UNDERSCORE!Fenix!

[2019-04-15 22:28] LittleAngelwings commented on #1624
[2019-04-16-00-08-33.txt](https://github.com/mozilla-mobile/fenix/files/3082266/2019-04-16-00-08-33.txt)
Hope this helps, it's not from Android Studio.. it's from Matlog

[2019-04-15 22:52] yoasif commented on #574
FYI, Kiwi browser now supports Chrome extensions on Android -- so the competition for a browser with extensions on Android is heating up.

https://www.xda-developers.com/kiwi-browser-google-chrome-extensions-android/

[2019-04-16 00:07] brampitoyo commented on #1430
@boek Here are colours for snackbars that we agreed on.

I’m reiterating the values that @AmyYLee had posted earlier. Thanks, Amy!

* Light theme: `#312a65`
* Dark theme: `#592acb`
* Private theme: `#722291`

![snackbars@2x](https://user-images.githubusercontent.com/51007/56173016-ffa94400-603f-11e9-943e-f3cc5377a71d.png)

[2019-04-16 00:55] jonalmeida commented on #1653
If it's not a dup of https://github.com/mozilla-mobile/fenix/issues/1637, it's a dup of https://github.com/mozilla-mobile/fenix/issues/1639.

[2019-04-16 05:39] Amejia481 opened #1655 "FNX-5163 ⁃ [Bug] Tracking Protection tint color in quick settings is not the same color as it is in the settings page"
Quick settings TC switch should have the same  tint color as the rest of the app

TC in quick settings
![Screenshot](https://user-images.githubusercontent.com/773158/56184425-47b57000-601a-11e9-8abd-e71407d29c0d.png)UNITO-UNDERSCORE!20190416-073336!

Vs TC in settings
![Screenshot](https://user-images.githubusercontent.com/773158/56184451-56038c00-601a-11e9-91bb-00f5cd213db7.png)UNITO-UNDERSCORE!2

[2019-04-16 05:50] brampitoyo commented on #587
@mheubusch @sblatz For Private Browsing settings, we have decided against theming that page, and to follow whatever theme Fenix already uses.

If Fenix uses a light theme, then Private Browsing settings should also have a light theme. Same if Fenix uses dark theme.

This is to emphasise the fact that Private Browsing is a mode that only influences a part of Fenix – PBM doesn’t turn the whole app i

[2019-04-16 05:56] brampitoyo commented on #597
@mheubusch I’ve unblocked #587.

[2019-04-16 14:28] chutten opened #1657 "FNX-2437 ⁃ Fenix should use Gecko's downloading streaming API instead of the Android manager"
## Steps to reproduce
1. Visit https://ebookclub.tor.com/ and provide an email address to prove you've signed up (sorry, the download's behind an account. Maybe other downloads are similarly affected, I don't know.)
1. Download the `.epub` edition of Cory Doctorow's "Walkaway"

### Expected behavior
1. The download completes properly and is about 1.36MB in size.
(This is what happens when I do thi

[2019-04-16 14:34] bsurd opened #1658 "FNX-5164 ⁃ [Bug] Page contend does not automatically changed based on selected theme."
## Steps to reproduce
1. Go to https://kevinchen.co/blog/support-macos-mojave-dark-mode-on-websites/
1. Tap on the 3dot menu > Settings > Theme and select Dark.
1. Go back to the webpage.

### Expected behavior
The page content is updated accordingly to reflect the change in the settings.

### Actual behavior
The page content does not change into dark mode.

### Device information
* Android device

[2019-04-16 15:21] colintheshots commented on #974
I think the above list of probes drastically undercounts the available UX features to interact with for bookmarks. Should I add to the list of probes as I feel is appropriate?

[2019-04-16 16:16] colintheshots opened #1661 "FNX-5166 ⁃ Enable R8 Full Mode to Maximize Performance Optimizations"
### Why/User Benefit/User Problem
As a user, I would like Fenix to be as fast and as small a download size as possible. Enabling the "Full Mode" of Google's R8 optimizer would allow us to achieve additional performance gains relatively cheaply at some cost of QA time and developer fixes.

### What / Requirements
Enabling R8 full mode is as simple as a single-line Gradle change. However, it is like

[2019-04-16 16:39] sblatz commented on #1533
@cadeyrn can you show me what it looks like on HTC devices? I believe this is an HTC-only issue as they are choosing to not respect the android transition animations, and we don't have an easy way to override that.

[2019-04-16 16:41] sblatz commented on #767
I believe this is fixed now! Please re-open if you're still encountering it.

[2019-04-16 16:41] #767 closed

[2019-04-16 16:44] sblatz opened #1662 "FNX-5167 ⁃ [Bug] Private browsing button does not have the same ripple effect in both modes"
In private mode, the ripple effect does not extend beyond the button. We should fix that.

[2019-04-16 17:18] ekager commented on #1622
I have also experienced this and think an investigation should be prioritized. Not infrequently after using Fenix for a while, no sessions are able to load although the app is not completely frozen (I am able to go home and to library etc) and an app restart is needed.

[2019-04-16 17:30] mheubusch commented on #1585
I think this can use the share sheet functionality that we would use if we were sharing a single link - don't need to think of this as a new kind of content we are sharing, just however many single links/one for each open tab are in a collection for now. don't need to share metadata like the name of the collection or the fact that these links are somehow related.

[2019-04-16 17:30] mheubusch commented on #1585
Since this is no different than our current share sheet, I think it has value even without the other two items and makes sense to keep it as a feature, but am willing to deprioritize to post-MVP

[2019-04-16 17:53] ekager commented on #1633
Can reproduce on my Moto E device.

[2019-04-16 17:55] eeejay opened #1667 "FNX-5168 ⁃ [Bug] Screen reader can't reach other UI items when quick actions sheet is expanded"
## Steps to reproduce
With TalkBack enabled:

* Navigate or explore-by-touch to quick actions handle:
![image](https://user-images.githubusercontent.com/5764/56231641-d5ea2000-6033-11e9-9cba-036c7436b53a.png)
* Double tap to expand quick actions sheet:
![image](https://user-images.githubusercontent.com/5764/56231751-12b61700-6034-11e9-9788-b9baa4aece4a.png)
* Try to navigate to other items in the

[2019-04-16 18:01] AmyYLee commented on #1568
@boek @pocmo I updated the spec at the top of this bug with animation specifications (on the far right). Let me know if you have any questions. I will clean up the sketch file and share that with you as well.

[2019-04-16 18:47] agi90 opened #1668 "FNX-5169 ⁃ [Bug] Virtual keyboard doesn't close when backgrounding Fenix"
## Steps to reproduce
* Click on URL bar
* Press Android Home button

### Expected behavior
* Virtual Keyboard disappears

### Actual behavior
* Virtual Keyboard is still visibile

### Device information
* Android device: Samsung S10e, S7
* Fenix version: Latest from playstore

See video: https://imgur.com/Gx5ITTM

[2019-04-16 19:03] jonalmeida commented on #1622
@andreicristianpetcu do you have Fenix as your default browser?

[2019-04-16 19:06] jonalmeida commented on #1639
@ekager what a fix put to refactor the changes in #668?

I can see the temporary fix still in that doesn't fix this issue: https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt#L277

[2019-04-16 19:39] ekager commented on #1639
Sorry, based on the title of this issue, I thought this was a dupe of #1637 and closed it. Feel free to reopen if it requires a code change on our end.

[2019-04-16 19:46] yoasif commented on #1613
Expected behavior is that the page title is used instead of page URL to differentiate between tabs in a session.

This is the case in Fennec, Reference Browser, Kiwi, Brave, Edge and Samsung Internet in my brief research.

[2019-04-16 19:49] kbrosnan commented on #1657
If you poke at the file with a text editor is it something text based (html, etc) or binary?

[2019-04-16 19:50] jonalmeida commented on #1639
Sorry, I should have placed a link to the PR as well for more context that it didn't solve the underlying issue. Cheers!

[2019-04-16 19:52] chutten commented on #1657
\*copies it off of the device*

Oh, look, it's the HTML from the download page. Interesting.

[2019-04-16 19:54] AmyYLee opened #1669 "FNX-5170 ⁃ [Fenix] Tab number is not centered to the icon"
This is a follow-up bug to https://github.com/mozilla-mobile/fenix/issues/904

The number inside the tab in Fenix is not centered to the icon (please see attached screenshot)

![](https://user-images.githubusercontent.com/5992746/56239768-dac4c900-605f-11e9-9491-735e475a8b95.png)

[2019-04-16 20:03] eeejay opened #1671 "FNX-5172 ⁃ TalkBack swipe order of bottom browser components is wrong"
With the find in page bar open, the current swipe order, starting from the unlabeled site info button in the toolbar is as follows:

1. Toolbar
a. Unlabled button
b. url textview
c. Tabs button
d. Menu button
1. Find in page
a. Find in page edit box
b. Previous result button
c. Next result button
d. Dismiss find in page button
1. Quick actions button - _This is a bug, the quick actions button shou

[2019-04-16 20:04] vesta0 commented on #249
@lime124 @topotropic have we done this yet?

[2019-04-16 20:14] vesta0 commented on #1388
Fixed.

[2019-04-16 20:15] vesta0 commented on #1412
@sv-ohorvath please verify it's been fixed.

[2019-04-16 20:16] eeejay opened #1672 "FNX-5173 ⁃ Quick actions handle should not be accessible to TalkBack when find in page is visible"
It seems like for non-TalkBack users the quick actions sheet is not available when the find in page bar is visible. If this is the case, neither should the quick sheets button be available to TalkBack users.

[2019-04-16 20:20] eeejay commented on #148
The next/prev and close buttons should have larger touch targets.

[2019-04-16 20:28] kbrosnan commented on #1669
Dupe of #1541

[2019-04-16 21:11] ncalexan commented on #1525
This was closed by #1525.

[2019-04-16 21:11] sblatz commented on #1668
Will be fixed by #1659, this is a dup of #1632.

[2019-04-16 21:14] ncalexan opened #1673 "`onTrimMemory` can try to _start_ Gecko when it isn't running"
## Steps to reproduce
Have a very underpowered Android device.  Start Fenix with Intent arguments using the `BrowserPerformanceTestActivity`, and witness the arguments being ignored.  Be confused.  Dig in with a patch and witness a stack trace like this:

[code]

### Expected behavior
`onTrimMemory` does nothing if Gecko is not already running.

### Actual behavior
`onTrimMemory` is trying to _sta

[2019-04-16 21:18] vesta0 commented on #1657
@cpeterso does this sound like a GV bug and do we have one filed for it?

[2019-04-16 21:21] kbrosnan commented on #1650
Adding the url to a comment https://www.smn.gob.ar

[2019-04-16 21:22] vesta0 commented on #1643
This will be addressed.

[2019-04-16 21:23] shorlander opened #1674 "FNX-5174 ⁃ Sometimes keyboard stays active when exiting the app"
## Steps to reproduce
* Open Fenix
* Tap Search Field on Start Screen
* Press System Home Button
* Keyboard Stays Open

### Expected behavior
* Keyboard hides itself

### Actual behavior
* Keyboard stays open on top of app launcher and other apps

### Device information
* Android device: ?
Pixel 2
* Fenix version: ?
1.0.1916 (Build #11051220 68.0a1-20190408104625)

![photo](https://user-images.git

[2019-04-16 21:23] kbrosnan opened #1675 "FNX-5175 ⁃ IllegalStateException: bookmark_name_edit must not be null"
https://sentry.prod.mozaws.net/operations/fenix/issues/5554257/

[code]

This sounds like a simple null check is needed.

[2019-04-16 21:29] vesta0 commented on #1634
@lime124 UX feedback required on whether we want to change this (also do we want to remove overscroll for mvp?)

[2019-04-16 21:32] vesta0 commented on #1629
Thanks for filing. This is the intended behaviour for now but we will look at it during user testing.

[2019-04-16 21:35] vesta0 commented on #1628
Thanks for filing this issue. We will address this in the duplicate issue.

[2019-04-16 21:35] sblatz commented on #1621
I will look into this.

[2019-04-16 21:36] vesta0 commented on #1627
Fixed.

[2019-04-16 21:38] vesta0 commented on #1622
Link to GV Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1544281

[2019-04-16 21:39] kbrosnan commented on #1650
I can't reproduce this behavior. The website shows the temperature after the page finishes loading for me.

[2019-04-16 21:46] cpeterso commented on #1657
We have some Fennec bugs about file downloads, but I filed a new GV bug for this STR: https://bugzilla.mozilla.org/show_bug.cgi?id=1544955

[2019-04-16 21:50] kbrosnan commented on #1580
Sentry issue: [FENIX-FT](https://sentry.prod.mozaws.net/operations/fenix/issues/5532280/)

[2019-04-16 21:55] yoasif commented on #1658
@ekager saw that you committed a change to refresh a session when the theme changes - does this mean that the tab also reloads?

Curious about this because changing my desktop theme on desktop updates the prefers color scheme on pages without having to refresh.

It would be nice if this didn't require a refresh if so.

[2019-04-16 21:59] kbrosnan commented on #1567
Please try to report issues as independent problems. Lumping several ones together makes resolving the bug difficult.

[2019-04-16 22:02] kbrosnan commented on #1558
I end up with "Google Maps" using today's build

[2019-04-16 22:03] kbrosnan commented on #1557
Confirmed on the April 16th build

[2019-04-16 22:06] kbrosnan commented on #1556
Confirmed this behavior using the April 16th build.

[2019-04-16 22:13] kbrosnan commented on #1551
This works for me using April 16th build.

[2019-04-16 22:17] kbrosnan commented on #1536
Works for me as well Pixel 3 and Fenix April 16th build.

[2019-04-16 22:30] kbrosnan commented on #1515
Confirmed April 16th build. Sounds similar to #1558

[2019-04-16 22:34] kbrosnan commented on #1514
Using the menu button is a little shorter.

1. Menu
2. Library
3. Bookmarks
4. Tap folder

[2019-04-16 22:38] kbrosnan commented on #1501
Is this ready for work?

[2019-04-16 22:41] kbrosnan commented on #1453
This works for me using Fenix April 16th build on a Pixel 3

[2019-04-16 22:44] kbrosnan commented on #1451
Looks like it was some sort of network error where the page's CSS and images were not delivered.

I cannot reproduce using an April 16th build on a Pixel 3.

[2019-04-16 22:51] kbrosnan commented on #1624
Dupe of #1034

[2019-04-16 22:58] cpeterso opened #1676 "FNX-5176 ⁃ Remove "Mozilla location service" from Settings > Data choices"
The Mozilla location service (MLS) is Fennec's Wi-Fi location "stumbler" service. The feature should be integrated into Fenix after MVP (#1253), but until then this Mozilla location service setting makes to sense and should be removed.

[2019-04-16 23:21] mheubusch commented on #980
@AmyYLee I don't think you posted the correct link - it is the old spec that bram designed.

[2019-04-16 23:40] boek opened #1678 "FNX-469 ⁃ Write tests for Metrics.kt"
I think that `metrics.kt` has grown to the point needs some attention (specifically tests!)

[2019-04-16 23:45] mheubusch commented on #175
@AmyYLee can you update the design specs to show that the URL appears and then move this out of feedback for eng?

[2019-04-16 23:50] boek commented on #1158
According to [this](https://firefox-source-docs.mozilla.org/toolkit/components/telemetry/telemetry/data/core-ping.html#searches) possible values are:
[code]

But in Fenix you can use a suggestion to search a listitem. Do we want to call that out in this search count in any way?

[2019-04-16 23:52] mheubusch commented on #195
@AmyYLee can we move this  to done and close it?

[2019-04-17 00:28] vesta0 commented on #1293
@mheubusch are you good with the current snackbar (from A-C) or is UX working on Fenix specific designs for this?

[2019-04-17 00:30] vesta0 commented on #1627
Re-opening this issue: after further investigation I noticed that it doesn't work consistently.

[2019-04-17 00:37] emilio opened #1679 "FNX-5177 ⁃ [Bug] Video doesn't stop playing when closing Fenix (from "recent apps" list)"
## Steps to reproduce
* Go to https://player.vimeo.com/video/319506545 (SFW)
* Press play, then go fullscreen.
* Close Fenix.

## Updated STR (for QA):
1. Open soundcloud.com and play any video
1. Background Fenix, open a custom tab Fenix page (e.g. from Reddit Is Fun app)
1. Swipe away Fenix, notice music still plays
1. Swipe away custom tab, music still plays

### Expected behavior
* Video stops

[2019-04-17 00:39] emilio commented on #1679
To clarify what I meant with "closing the app from the menu" is "press bottom right button, discard Fenix by sliding it out of view".

[2019-04-17 01:00] emilio opened #1680 "FNX-5179 ⁃ [Bug] URL bar title looks weird"
## Steps to reproduce
* Load any URL with a title like most pages.

### Expected behavior
* I'm not quite sure (maybe current behavior is expected even), but it does look a bit weird since the descenders of the URL get out of the URL bar. I'd expect a bit of padding.

### Actual behavior
* URL and title are really close to the edges of the box they're in.
* Tapping on the URL and back shows just t

[2019-04-17 01:02] brampitoyo commented on #1102
Paging @shorlander to review the design above.

[2019-04-17 01:03] brampitoyo commented on #1002
UX feedback is no longer necessary, because I’ve given mine 2 weeks ago. I’m going to unblock this issue now.

[2019-04-17 01:08] emilio commented on #1680
![URL bar with title](https://user-images.githubusercontent.com/1323194/56253625-7afd0b00-60bd-11e9-9867-e68e71b18f6d.jpg)

![URL bar without title](https://user-images.githubusercontent.com/1323194/56253718-dfb86580-60bd-11e9-9ae4-2432681656ac.jpg)

 Heh, attaching files works in fennec :)

[2019-04-17 01:13] shorlander commented on #1064
@st3fan Hi! This is ready for Feedback, is there someone assigned to this area?

[2019-04-17 01:14] emilio commented on #1467
Ah, so this is what prevents me from attaching screenshots to Fenix bug reports from Fenix itself :)

[2019-04-17 01:19] emilio opened #1681 "[Feature request] Support data URIs"
## Steps to reproduce
* Tap on the URL bar.
* Write `data:text/html,<input type=file>`

### Expected behavior
* See a file input (probably).

### Actual behavior
* Searches for my data URL.

### Device information
* Android device: OnePlus 6
* Fenix version: 1.0.1916

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-8943)

[2019-04-17 01:21] emilio commented on #1681
Not sure how important this is to fix, fwiw. I don't expect many people to rely on this. It comes handy to test issues though, I was trying to see if the upload issue was GitHub-specific. But I suspect now it's not, per #1467

[2019-04-17 01:23] emilio commented on #1467
This works on Fennec fwiw, in case it helps to narrow the investigation.

[2019-04-17 02:00] kbrosnan commented on #1674
Dupe of #1668 should be fixed in a build shortly.

[2019-04-17 02:03] kbrosnan commented on #1615
Yes this works now.

[2019-04-17 02:07] kbrosnan commented on #1680
Dupe of #1637

[2019-04-17 02:26] bifleming commented on #597
@sblatz is this still blocked?

[2019-04-17 02:27] bifleming commented on #599
@mheubusch @vesta0 is this still blocked?

[2019-04-17 02:52] Delphine opened #1682 "FNX-5180 ⁃ Latest strings need some fixes in order to expose for localization work"
I found a few more fixes needed in the latest strings that landed [on master](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/res/values/strings.xml) (caught in latest [fenix-quarantine l10n import](https://github.com/mozilla-l10n/android-l10n/pull/15#pullrequestreview-227502541)

* "bookmarks_multi_select_title": please always explain in localization comments what parameters (her

[2019-04-17 03:57] k0ur0x opened #1683 "FNX-5181 ⁃ [Bug] changing theme will open the keyboard"
## Steps to reproduce
* navigate to theme settings
* change theme

### Expected behavior
not opening the keyboard

### Actual behavior
opening the keyboard

### Device information
* Android device: P20 Lite (Android 8.0.0)
* Fenix version: 1.0.1916

[2019-04-17 04:03] kbrosnan commented on #1683
Possible dupe of #1632 try the April 17th build tomorrow to see if that fixes this.

[2019-04-17 04:44] vesta0 commented on #597
Dup of #587

[2019-04-17 04:44] #597 closed

[2019-04-17 04:52] vesta0 commented on #1117
@cpeterso is there a related GV API for this?

[2019-04-17 05:08] Amejia481 commented on #1682
Sorry my bad, thanks for confirming is was error comment, the string is correct. This string point to **Exceptions** -> **A specific site** ->   **A specific permission**. Below the screen that match this string.

![image](https://user-images.githubusercontent.com/773158/56262553-6fbad700-60df-11e9-8431-b548a8526258.png)

[2019-04-17 05:12] vesta0 commented on #1614
Will be addressed here: https://github.com/mozilla-mobile/android-components/issues/2606

[2019-04-17 05:13] vesta0 commented on #1318
Will be addressed here: mozilla-mobile/android-components#2606

[2019-04-17 05:17] vesta0 commented on #1591
Thanks for the suggestion @Lululalu We will work on it here: #176

[2019-04-17 05:18] vesta0 commented on #1590
Tracked in #1048

[2019-04-17 05:28] Amejia481 commented on #1467
GeckoView  related issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1515440

[2019-04-17 05:30] LittleAngelwings commented on #1683
At the Build 1.0.1916 (11061212) 04/16 I don't have this issue and not at the  last 5 builds before.
All testet with Android 8.1.0 on Samsung Galaxy Tab A (2016) and Huawei P smart, but on both I use SwiftKey 7.2.7.20.

[2019-04-17 07:04] bsurd commented on #1533
Here is a short video from the [HTC 10](https://drive.google.com/open?id=1o99lLbPpmi4kaConUWS2jOnjAn-F6iNq).

[2019-04-17 07:45] sv-ohorvath commented on #1551
Indeed this seems fixed. Closing the ticket. Thanks!

[2019-04-17 07:47] sv-ohorvath opened #1685 "FNX-5182 ⁃ [Bug] Selecting bookmark folder in edit mode crashes the app"
## Steps to reproduce
1. Edit a bookmark or a bookmark folder.
1. Tap the Parent folder to change it.
    1. Expected behavior
A list of folders is displayed.
    1. Actual behavior
App crashes.
    1. Device information

* Android device: Nexus 5(Android 6), Pixel (Android 9)
* Fenix version: 4/16 build.

[2019-04-17 07:51] cadeyrn commented on #1533
![20190417_092812](https://user-images.githubusercontent.com/1100614/56270339-2de95b00-60f6-11e9-8fdf-23e0d41ec53c.gif)

@sblatz If you can't improve the transition animation would it be possible to disable the transition animation for devices without proper transition animation support?

[2019-04-17 08:19] sv-ohorvath opened #1686 "[Bug] System permission prompt for location access is displayed after the app's doorhanger"
## Steps to reproduce
1. Turn off Fenix location permissions from the system settings.
1. Go to google maps / mapquest.com.
1. Wait for the permission access request. On google maps, you need to tap the "get my location" button.
    1. Expected behavior
The system prompt is displayed to allow app's permission. After this is allowed, the app's doorhanger is displayed for site permission.
    1. Act

[2019-04-17 08:20] sv-ohorvath commented on #1412
This is fixed, the prompt does appear, but the order of access request is wrong. Logged: #1686

[2019-04-17 08:31] sv-ohorvath opened #1687 "FNX-5183 ⁃ [Bug] Dialogs remain on screen after the session auto-saves"
## Steps to reproduce
1. Go to permissions.site, tap one of the options: camera, mic, location, to show the permission doorhanger.
Or, go to settings>site permissions>exceptions list, tap the clear permission button to display the confirmation dialog.
1. Leave the phone to sleep for 5 minutes or more.
1. Return to the app.
    1. Expected behavior
Auto-saved session is shown on the homescreen, dia

[2019-04-17 08:36] bsurd commented on #1093
Verified on a Nexus 5, Nexus 6P and HTC 10.

[2019-04-17 08:46] bsurd opened #1688 "FNX-5184 ⁃ [Bug] Navigation buttons do not work in Custom Tab"
## Steps to reproduce
1. Set Fenix as the default browser.
1. From any app open a custom tab (eg. Gmail, Yelp, Facebook).
1. Tap on a different link in the opened custom tab in order to change the page.
1. Open the menu and tap on the back button.

### Expected behavior
The previous page is loaded.

### Actual behavior
Nothing happens.

### Device information
* If using the device back button you

[2019-04-17 08:47] emilio commented on #1680
Ah, thanks! Looked for a dupe in the open issue list, not closed :)

[2019-04-17 09:00] bsurd opened #1689 "FNX-5185 ⁃ [Bug] Custom Tabs: navigation buttons are not grayed out when no other page has been visited"
## Steps to reproduce
1. Set Fenix as your default browser.
1. Open a custom tab from any app (eg. Gmail, Yelp, Facebook).
1. Tap on the 3dot menu.

### Expected behavior
The navigation buttons are greyed out.

### Actual behavior
The navigation buttons are not grayed out.

### Device information
* Affected devices:
  * Nexus 5 (Android 6.0.1)
  * Nexus 6P (Android 8.1)
  * Samsung Galaxy S8 (Andr

[2019-04-17 10:28] bsurd commented on #1650
Getting the same behavior as Kevin, but only after allowing location access. Removing the QA needed flag.

[2019-04-17 10:29] bsurd commented on #1610
Verified on several devices and there were no crashes.

[2019-04-17 11:09] softvision-miralobontiu opened #1690 "FNX-5187 ⁃ [Bug] The cookie acceptance popup is not entirely visible on www.cosmopolitan.com"
## Steps to reproduce
1. Open www.cosmopolitan.com.
1. Turn your device in landscape.

### Expected behavior
The user should be able to tap on "Accept" cookies.

### Actual behavior
The cookie acceptance popup is non-scroll-able, and "Accept" button cannot be tapped.

### Device information
* Android device: Nokia 6 (Android 7.0)
* Fenix version: 1.0.1916 (Build #11061212)

### Note
Not reproducib

[2019-04-17 11:23] softvision-miralobontiu opened #1691 "FNX-5188 ⁃ [Bug] Site permissions' pages are not entirely visible"
## Steps to reproduce
1. Open Fenix in landscape mode and go to Settings -> Site Permissions
1. Tap on Camera, Location or Microphone and scroll the page.

### Expected behavior
The user should see the pages, and be able to scroll the pages from Site Permissions.

### Actual behavior
The user cannot see the entire page, and cannot scroll pages from Site Permissions.

### Device information
* Andro

[2019-04-17 11:39] softvision-miralobontiu opened #1692 "FNX-5189 ⁃ [Bug] Suggestions aren't visible in landscape mode"
## Steps to reproduce
1. Go to Fenix on landscape mode and type something in the search bar.

### Expected behavior
The user should see the suggestions.

### Actual behavior
The user cannot see the suggestions.

### Device information
* Android device: Nokia 6 (Android 7.0)
* Fenix version: 1.0.1916 (Build #11061212)

![2019](https://user-images.githubusercontent.com/40694158/56284616-aa436480-611

[2019-04-17 12:22] sv-ohorvath commented on #1079
Verified and no issues found so far. I'll close this.
devices: Pixel, Nexus 5, Galaxy Tab (Android 8)

[2019-04-17 12:32] sv-ohorvath commented on #1558
I confirm that it shows the title if you bookmark the page without a location.
Can still reproduce this if you bookmark the page with your location coordinates. Tap the "get location" button and bookmark the page after.

[2019-04-17 12:48] gaby2300 commented on #1650
Tried again allowing location access and it worked!
Thanks for your comment@bsurd!

[2019-04-17 13:21] pocmo commented on #1614
Related: https://github.com/mozilla-mobile/android-components/issues/2606

[2019-04-17 13:25] bsurd commented on #1455
This has now been verified by QA with the latest build.

[2019-04-17 13:40] bsurd commented on #208
This has been tested and verified by QA, removing the QA needed label but leaving the issue open until all blocking/related issues are fixed.

[2019-04-17 13:42] sv-ohorvath commented on #1238
This has been tested and verified by QA. Removing the QA needed label but leaving the issue open until all blocking/related issues are fixed.

[2019-04-17 13:43] softvision-miralobontiu opened #1694 "FNX-5190 ⁃ [Bug] No snackbar is displayed when a tab is closed"
## Steps to reproduce
1. On the home screen, go to Current session.
1. Close a tab.

### Expected behavior
There is no snackbar displayed.

### Actual behavior
A snackbar with an "Undo" button should be displayed.

### Device information
* Android device: Sony Xperia Z5 (Android 7.1.1)
* Fenix version: 1.0.1916 (Build#11061212)

![2019](https://user-images.githubusercontent.com/40694158/56292152-4

[2019-04-17 13:44] sv-ohorvath commented on #1237
The blocking issue was fixed, can close this now.

[2019-04-17 13:45] sv-ohorvath commented on #1239
This has been tested and verified by QA. Removing the QA needed label but leaving the issue open until all blocking/related issues are fixed.

[2019-04-17 14:06] bsurd commented on #1631
This has been tested and verified by QA, removing the QA needed label but leaving the issue open until all blocking/related issues are fixed.

[2019-04-17 14:09] bbinto commented on #969
@vesta0 - this should def. go in IF we decide collections should go into Beta but I'd need to take another look at how we need to adjust the probes accordingly.

[2019-04-17 14:11] softvision-miralobontiu commented on #1571
Verified as fixed on Fenix version 1.0.1916 (Build#11061212).
Tested with Sony Xperia Z5 (Android 7.1.1), Nokia 6 (Android 7.0), and Samsung Galaxy S8 (Android 9.0).

[2019-04-17 14:11] bbinto commented on #927
@vesta0 this can wait until after Beta, and only needs to be addressed before we go live with MVP production - however I think we agreed that's not needed anymore after our conversation last week.

[2019-04-17 14:12] bbinto commented on #1298
@vesta0 this can wait until after Beta

[2019-04-17 14:27] sv-ohorvath commented on #1558
I actually just saw some Wikipedia & other bookmarks with a blank name. No clue yet how. But, the google maps steps are 100% reproducible.

[2019-04-17 14:29] sblatz commented on #1002
@vesta0 if this is just referencing the ability to restore a single tab when it crashes, this work is complete.

[2019-04-17 14:30] Delphine commented on #1682
I also noticed another thing:
in the string "bookmark_add_folder", there was now added a "deprecated". This won't do anything on our side, please just drop the string out of the file.
thank you :)

[2019-04-17 14:35] sblatz commented on #977
I'm updating the sizing of this as it actually required me to implement "fact emitting" on the a-c side and observe those in Fenix.

[2019-04-17 14:44] sv-ohorvath opened #1695 "FNX-472 ⁃ [Bug]No fill from clipboard for a link copied from imgur.com"
## Steps to reproduce
1. Go to imgur.com.
1. Tap the title of a post. Tap on "copy link"
1. Open a new tab, tap the address bar.
    1. Expected behavior
Fill link from clipboard option is shown.
    1. Actual behavior
No link from clipboard shown.
If you paste the link directly, it will work.
Other links copied from other sources (other apps, 9gag website) work.
    1. Device information

* Andro

[2019-04-17 14:46] vesta0 opened #1696 "FNX-5191 ⁃ Remove Sessions from the app"
We want to remove Sessions from the app for beta until we build Collections.

[2019-04-17 14:48] vesta0 opened #1698 "FNX-5192 ⁃ Remove incomplete items from library UI"
We want to remove incomplete features from the Library UI for Beta

Remove Sessions, Screenshots, Downloads, Reading List

[2019-04-17 14:50] vesta0 opened #1699 "FNX-5193 ⁃ Remove incomplete options from Settings"
We want to remove incomplete features from Settings for Beta:

Passswords
Credit Cards and addresses
Accessibility

[2019-04-17 14:54] vesta0 opened #1700 "FNX-5196 ⁃ Remove Downloads from Quick Action Bar"
We want to remove incomplete features from the Quick Action Bar for Beta

[2019-04-17 15:04] sv-ohorvath opened #1701 "FNX-5197 ⁃ [Bug] Bookmark folder toolbar icons turn white after a multi-selection is dismissed"
## Steps to reproduce
1. Go to a bookmarks folder.
1. Select multiple bookmarks.
1. Un-select the bookmarks.
1. Observe the top bar.
    1. Expected behavior
The multi-selection toolbar is dismissed, without issues.
    1. Actual behavior
The back button & close icons turn invisible (which are hidden depends on the device).
![20190417](https://user-images.githubusercontent.com/4037709/56298420-c43

[2019-04-17 15:08] sv-ohorvath commented on #1701
Same for folder multi-selection.

[2019-04-17 15:11] vesta0 commented on #1679
Thanks for filing! We will address this here: #1117

[2019-04-17 15:13] vesta0 commented on #1436
@mheubusch please share your decision regarding this feature in Fenix.

[2019-04-17 15:20] sv-ohorvath opened #1702 "FNX-5198 ⁃ [Bug] Multiple selection toolbar replaced with "fragment_home' while sending bookmarks to new tabs"
## Steps to reproduce
1. Select 2 bookmarks.
1. Tap the overflow menu from the blue toolbar.
1. Open in new tab/ private tab.
1. Watch the toolbar before the view moves to the homescreen.
    1. Expected behavior
The multiple selection number is shown.
    1. Actual behavior
The toolbar shows a "fragment-home" title for a second.
![20190417](https://user-images.githubusercontent.com/4037709/562997

[2019-04-17 15:20] emilio commented on #1679
Note that this issue is slightly different to that one (this is not only when minimizing the app, but when _closing_ it completely).

But if they get addressed at the same time that's great, thanks!

[2019-04-17 15:25] pocmo commented on #1331
Related AC issues:
* https://github.com/mozilla-mobile/android-components/issues/2606
* https://github.com/mozilla-mobile/android-components/issues/2643

[2019-04-17 15:26] sv-ohorvath opened #1703 "FNX-5199 ⁃ [Bug] Library menu top toolbar is blue after a multiple-selection of bookmarks"
## Steps to reproduce
1. Long press to select one ore more bookmarks.
1. Open them in new tabs.
1. Open the library menu.
    1. Expected behavior
Library menu looks normal.
    1. Actual behavior
The toolbar is blue.
    1. Device information

* Android device: Pixel, Nexus 5.
* Fenix version: 4/17
![Screenshot](https://user-images.githubusercontent.com/4037709/56300300-5a28ca00-613e-11e9-9b0e-11

[2019-04-17 16:41] cpeterso commented on #1117
To stop media playback, I am told that Fenix needs to call `session.setActive(false)` to when a tab (or the app) is backgrounded. I don't see any calls to `setActive()` in Fenix or AC code, but I did find the AC PR to _remove_ calls the `session.setActive()`: mozilla-mobile/android-components#703

[2019-04-17 16:55] cpeterso commented on #1117
OTOH, isn't "YouTube continues to play in the background" a feature that we wanted? YouTube plays in the background in Fennec, but not Chrome (unless you pay for YouTube Red).

[2019-04-17 17:04] yoasif commented on #1117
Yeah, and I don't know that it makes sense to pause playback if I minimize something. On desktop, for example, minimizing private windows keeps media playback going, so I don't quite understand why this is required for Fenix.

[2019-04-17 17:27] sblatz commented on #1205
After quite a bit of work on this, I was able to narrow it down to being an issue with the way a-c is persisting search terms in their session. While I have a "hacky" implementation working for Fenix, I spoke with @pocmo, and he's going to fix this internally in a-c so that everyone benefits from the fix.

This ticket will now be blocked on https://github.com/mozilla-mobile/android-components/issu

[2019-04-17 17:41] sblatz commented on #1198
See https://github.com/mozilla-mobile/fenix/issues/1205#issuecomment-484186027 for why this is blocked.

[2019-04-17 17:47] sblatz commented on #1621
I confirmed that the quick action sheet does not display in custom tabs in the latest nightly. As for the transparent custom tab, that is expected behavior as it's the toolbar that Gmail is asking us to display.

[2019-04-17 17:48] sblatz commented on #1499
We'll have to take [transparent app bars](https://github.com/mozilla-mobile/fenix/issues/1621) into consideration if we want to add this functionality, too.

[2019-04-17 17:59] sblatz opened #1710 "FNX-5201 ⁃ Create scaffolding for Robolectric tests on non "component" classes"
We need to set up the ability to do unit tests for classes that don't perfectly fit into "components" or "views" (see: ShortcutEngineManager).

This blocks: https://github.com/mozilla-mobile/fenix/issues/1268

[2019-04-17 17:59] sblatz commented on #1268
@vesta0 I think we need to move this out of this sprint and instead have a more senior engineer work on https://github.com/mozilla-mobile/fenix/issues/1710.

[2019-04-17 18:13] asadotzler opened #1712 "FNX-5202 ⁃ Switch Access web page scrolling doesn't seem to work"
## Steps to reproduce
Enable Switch Access in Accessibility Settings in Android
Visit a long web page.
Use switch to focus page.
Use switch to select menu and scroll up or down button

### Expected behavior
Page scrolls up or down.

### Actual behavior
Page does not scroll.

### Device information
* Android device: Galaxy S6
* Fenix version: 68.0a1-20190408

[2019-04-17 18:19] cadeyrn commented on #1580
The cause is an error in the German translation:

`<string name="sync_last_synced_summary">Letzte Synchronisation: %@</string>`

should be

<string name="sync_last_synced_summary">Letzte Synchronisation: %s</string>

I verified in my local build that this crash fixes the crash and suggested a change via Pontoon.

[2019-04-17 18:27] vesta0 commented on #1184
Working as intended.

[2019-04-17 18:30] mheubusch opened #1714 "FNX-5203 ⁃ Update product name"
As a user, I want to see the Firefox Preview name and logo throughout the app experience so that I know I am using the correct product.

### Acceptance Criteria (Added by PM)
I can see Firefox Preview in the  GPS
I can see Firefox Preview or a smaller version of the name beneath the app icon on my Android home screen
I can see Firefox Preview logo lock up on the app home screen
I can see the Firef

[2019-04-17 18:46] cadeyrn opened #1716 "FNX3-15762 ⁃ [Bug] three different toggle styles within Fenix"
There was already #1655 to fix the color of the toggle in the quick settings (open a website and press the lock icon) but this change regressed the disabled state AND the enabled state is still wrong. Also the "request desktop website" toggle is different.

![](https://user-images.githubusercontent.com/1100614/56313030-dd075000-6151-11e9-9bb0-5ffc8849c268.png)

### Device information
* Android dev

[2019-04-17 18:47] sblatz opened #1717 "FNX-5205 ⁃ Remove search button from library"
We currently have a non-functioning search button in the library view. Do we want to remove this for beta?

@vesta0

[2019-04-17 18:47] sblatz commented on #1717
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/56313077-8cb6d080-6106-11e9-8214-a9bbf9e844a3.png">

[2019-04-17 18:51] vesta0 commented on #599
@AmyYLee will provide design for a splash screen.

[2019-04-17 18:53] mheubusch opened #1718 "FNX-473 ⁃ Accessibility updates for Bottom Toolbar"
This is specific to issues with Switch Access (accessibility function in Android) - The bottom toolbar means that switch users have to scan through the entire web page before they can access common functions

Please see Visual Design, Motion Design, and Interaction Design issues outlined here: https://docs.google.com/spreadsheets/d/1HvPFPQFtVVN0SDV97Qe6PBrDVhGQgxl8wBLpsXXvCm0/edit#gid=0

[2019-04-17 18:54] cadeyrn opened #1719 "FNX3-15765 ⁃ [Bug] tracking protection label in quick settings is almost invisible"
### Steps to reproduce
1. open a website
1. press the padlock icon
1. if tracking protection is enabled disable it, close and open the quick settings again

### Expected behavior
You can read "Tracking Protection".

### Actual behavior
It's very difficult to read "Tracking Protection". If you can' read it you don't know what you can enable with the toogle.

![Screenshot](https://user-images.github

[2019-04-17 18:59] cadeyrn opened #1720 "FNX3-15767 ⁃ "Report a problem" should close quick settings"
### Steps to reproduce
1. open a website
1. press the padlock icon
1. press on the "Report a problem" link in the "Tracking Protection" section

### Expected behavior
The "Report Site Issue" website opens and the quick settings overlay disappears.

### Actual behavior
The "Report Site Issue" website opens and the quick settings overlay keeps open.

### Device information
* Android device: HTC U11

[2019-04-17 18:59] ghost opened #1721 "FNX-474 ⁃ Document a branching/tagging strategy for beta and release builds"
Document how we will control (beta) releases and a tagging / branching strategy in general.

Make sure this aligns with what release engineering can do in terms of automation; for example, could we add tags in a specific format to start a beta / release process that sends builds to the GPS?

We don't have to do what our other products do. But let's learn from those other products. For example, are

[2019-04-17 19:00] sblatz opened #1722 "FNX-5209 ⁃ [Bug] Resuming after full screen mode breaks app"
## Steps to reproduce
1. Go to youtube
1. Open a video in full screen
1. Press the home button
1. Open Fenix again

### Expected behavior
1. Fenix appears in full screen with the video paused

### Actual behavior
1. Fenix displays a black screen, pressing back back leaves the app "cut off" at the top

![](https://user-images.githubusercontent.com/4400286/56313839-6abe4d80-6108-11e9-863c-2e0f5eeaf1

[2019-04-17 19:02] ghost opened #1723 "FNX-5210 ⁃ Port over the filter-release-translations.py script from Focus"
Port over the `filter-release-translations.py` script from Focus  so that we can control/limit the locales that go into the Beta release.

By default all locales are included, so this will let us control a clear list of locales that should ship for a specific release.

[2019-04-17 19:04] ghost opened #1724 "FNX-475 ⁃ Setup the Beta application on the Play Store"
Since the beta will be a separate application, we will need to set it up on the GPS. This ticket covers both technically but also assets and meta data. We can split it up if that is better.

[2019-04-17 19:06] ghost opened #1725 "FNX-5211 ⁃ Setup a Beta Build Variant"
Currently we only have Variants for Debug and Release. We will need a Beta variant that is similar to Release, but builds with a Beta configuration.

Some things that this variant will need to do different:

* app identifier
* icon
* branding
* telemetry channel? (if that does not follow app id)
* api keys or tokens for external services

(The last item may be covered by build-time settings that a

[2019-04-17 19:10] ghost opened #1726 "FNX-5212 ⁃ Beta branding of the application: app identifier, different name, remove Fenix, etc."
Our beta release will need to go out with different branding. We will need at least a different app name. What other assets need to be updated?

* Product name in strings?
* Logos?
* Other Assets?

Do we need to keep the current branding in Nightly? Or can we just switch it all over? Is it ok if Nightly users get to see the branding changes we make?

[2019-04-17 19:12] cadeyrn opened #1727 "FNX-5213 ⁃ [Bug] custom tab: toolbar makes upper content hidden"
### Steps to reproduce
1. make sure Fenix is your default browser
1. open a link from another app with custom tab support

### Expected behavior
You can see the full content.

### Actual behavior
The toolbar hides the upper content and can - depending on how important the upper content is - make Fenix unusable as default browser for obvious reasons.

![Screenshot](https://user-images.githubusercon

[2019-04-17 19:13] ghost opened #1728 "FNX-476 ⁃ Make Glean aware of Beta"
Make sure that Glean sends telemetry for our Beta channel to a separate bucket or endpoint.

We need to be able to identify the difference between Release, Beta and Nightly telemetry. Like with the inclusion of a channel name (Beta, Release, Nightly) or a unique app identifier.

(Unclear how this translates to the telemetry library)

[2019-04-17 19:17] ghost opened #1729 "FNX-5214 ⁃ Make sure Sentry is aware of channels"
We need to setup Fenix Beta as a separate app in Sentry and make sure that we include the right Sentry API key at build time so that Beta reports go to the Beta app in Sentry.

[2019-04-17 19:18] ghost opened #1730 "FNX-477 ⁃ Make sure Adjust is aware of channels"
We need to setup Fenix Beta as a separate app in Adjust and make sure that we include the right Adjust Token at build time so that attributions and usage data for the Beta channel are clearly identifyble in Adjust.

[2019-04-17 19:19] cadeyrn opened #1731 "FNX3-15779 ⁃ [Bug] custom tab: big gap between page title and URL"
### Steps to reproduce
1. make sure Fenix is your default browser
1. open a link from another app with custom tab support

### Actual / Expected behavior
In custom tabs there is a big gap between page title and URL which looks a bit weird.

![fenix-custom-tab](https://user-images.githubusercontent.com/1100614/56314820-6882e000-6156-11e9-87c2-74c00affa9ef.png)

### Device information
* Android devi

[2019-04-17 19:22] cadeyrn opened #1732 "FNX3-15780 ⁃ [Bug] crash when opening bookmarks"
### Steps to reproduce
1. open bookmarks in your library

### Expected behavior
No crash.

### Actual behavior
    2019-04-17 21:20:54.107 14200-14279/org.mozilla.fenix.debug E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-10
        Process: org.mozilla.fenix.debug, PID: 14200
        mozilla.appservices.places.InternalPanic: assertion failed: `(left == right)`
          left: `ReadOn

[2019-04-17 19:22] ghost opened #1733 "FNX-478 ⁃ Make sure Leanplum is aware of channels"
We need to setup Fenix Beta as a separate app in Leanplum and make sure that we include the right API key at build time.

Separating this will allow us to run campaigns and A/B tests in Beta with high confidence it will not interfere with our release audience.

[2019-04-17 19:23] ghost opened #1734 "FNX-479 ⁃ Make sure Socorro is aware of channels"
Make sure Socorro includes the App identifier or Channel (whatever is appropriate for Socorro) so that we can clearly identify crash reports for the Release, Nightly and Beta channels.

[2019-04-17 19:25] ghost opened #1735 "FNX-5218 ⁃ Introduce the concept of channels"
Make the application aware of channels: Release, Beta, Night and possibly Development.

We will need to make decisions at both run-time and build-time based on the specific channel.

[2019-04-17 19:38] AmyYLee commented on #980
@mheubusch I updated the spec. Let me know if there's any additional edits. Thanks

[2019-04-17 19:46] AmyYLee commented on #1049
@pocmo This is not essential for beta. If we are able to an an API down the road great but it would be a low priority item. Thank you for looking into this.

I'm still seeing the progress bar at the bottom of the URL bar on my build and it's dated (April 16th) as the last update. Should I be seeing this at the top of the URL bar? Also small detail here:

[2019-04-17 19:53] AmyYLee commented on #195
My feedback on edits to dark mode (as far as I can tell) hasn't been applied yet. Should I still close this bug?

[2019-04-17 20:03] vesta0 commented on #969
@bbinto will update this to include Create new collection #1574 and Delete collections #1578

[2019-04-17 20:35] LittleAngelwings opened #1736 "FNX-5219 ⁃ Incomplete German localization "Session Manager"[Bug]"
* at the tab session area the timestamps will be shown in English instead of German, also the time format. Germany don't use am/pm.

![Screenshot](https://user-images.githubusercontent.com/44252450/56318797-3bd3c600-6160-11e9-8fa3-bb4a73454bb7.png)UNITO-UNDERSCORE!20190417-220924!UNITO-UNDERSCORE!Fenix!

[2019-04-17 20:36] mozillamarcia opened #1737 "FNX-5220 ⁃ [Bug] Crash when putting focus in URL bar after first launch"
## Steps to reproduce
* Launch Fenix
* Single tap in the URL bar at the bottom to start typing an address (Note - sometimes when I launch Fenix I don't get the launch screen. Just a blank white screen with the URL bar at the bottom. This is when the crash happens)

### Expected behavior
* Able to type in the URL bar

### Actual behavior
* Fenix crashes and I get the Sentry crash reporter dialog. I

[2019-04-17 20:55] kbrosnan commented on #1736
This is three separate issues. It is better to file them individually.

[2019-04-17 21:00] bbinto commented on #969
@vesta0 updated!

[2019-04-17 21:18] kbrosnan commented on #1184
In the meeting we thought Verdi's screenshot was of the Fenix UI. It is from desktop Firefox. We should verify that search partners want us to use the same icons from Desktop @mconnormoz

[2019-04-17 21:26] colintheshots commented on #1685
Duplicate of #1675.

[2019-04-17 21:28] colintheshots commented on #1675
The issue is a matter of timing, a race condition. This is getting fixed incidentally by PR#1708. I noticed that we sometimes weren't getting bookmark moves saved and decided to move the logic from onPause to onResume to ensure we perform the work early enough.

[2019-04-17 21:30] Verdi commented on #1500
![switch to tab](https://user-images.githubusercontent.com/107992/56322020-88ea7480-612d-11e9-916d-b5553d139928.png)

Let's use the tab switcher icon without a number along with the copy "Switch to tab". The icon should be 12dp square with 4dp between it and the Switch to tab text.

[2019-04-17 21:35] mheubusch commented on #1500
@AmyYLee @shorlander FYI - moving this to Ready for Design Review. Thanks @Verdi

[2019-04-17 21:37] Verdi commented on #1618
![fade to white](https://user-images.githubusercontent.com/107992/56322397-96ecc500-612e-11e9-8db1-2f2d134b6a30.png)

To make the list look scrollable, let's fade to white above the keyboard. We should remove the shadow and instead go from white to transparent over 40dp.

[2019-04-17 21:43] sblatz commented on #724
Emily, Stephen, Amy and I all met to discuss over [this document](https://docs.google.com/document/d/1EyFqVkR31iz4Cy4QTMlmN_O4rY_5ChCwJO4pMdCxpUw/edit).

Action items:
* UX will verify the hex values given for the different attributes
* UX will defined additional attributes as they are needed
* Engineering will send UX updated screenshots once they have these values

[2019-04-17 21:52] Verdi opened #1741 "FNX-480 ⁃ [Bug] Remove second line on search suggestions"
![search suggestions](https://user-images.githubusercontent.com/107992/56323285-fea40f80-6130-11e9-89b5-4764dabb2d73.png)

Let's remove this second line under the search suggestions. We've already got the logo in the search field.

[2019-04-17 22:02] Verdi opened #1742 "[Bug] Don't show a search suggestion for your exact typed characters"
If I type part of a search term in the search field, e.g. "mu" my first "suggestion" is a search for "mu" which is already what will happen if I hit enter. So this is redundant and we can save a row/display more relevant suggestions.

![more suggestions](https://user-images.githubusercontent.com/107992/56323783-863e4e00-6132-11e9-836e-d0b90dcbf4bd.png)

[2019-04-17 22:07] Verdi opened #1743 "FNX-5222 ⁃ [Bug] Align search results with logo in the search field"
![](https://user-images.githubusercontent.com/107992/56323976-2300eb80-6133-11e9-911b-1e9d9980a802.png)

We should visually align the list with the search engine logo in the search field.

[2019-04-17 22:16] AmyYLee commented on #1197
Scrollbar in search mode should be the same style/size as the search bar when it’s stickied to the top (see top of screenshot)
![Screenshot_20190417-175505](https://user-images.githubusercontent.com/5992746/56324416-c7d3f680-613c-11e9-94dc-f867be7f22df.png)

[2019-04-17 22:19] vesta0 commented on #1117
This behaviour is in parity with Fennec. We will re-evaluate whether it needs to change post-mvp.

[2019-04-17 22:19] AmyYLee commented on #1293
@vesta0 @mheubusch we currently have a Fenix snackbar that we can use for this.

[2019-04-17 22:21] kbrosnan commented on #1737
If you happen to be near your laptop shortly after the crash getting a logcat would be helpful. It will allow us to match it to a Sentry report.

[2019-04-17 22:25] Verdi opened #1744 "FNX-5223 ⁃ Show "fill in from clipboard" on search engine screen"
### Why/User Benefit/User Problem
If we open search shortcuts automatically when you:

1. Tap into the search field from the front page
1. You open a new tab
1. You clear the search field

We make it easy for people to select an alternate search engine.

### What / Requirements
* The Search Shortcuts should be displayed below the "Fill link from clipboard" function if applicable.
* The Search Shor

[2019-04-17 22:25] vesta0 opened #1745 "FNX-5224 ⁃ Allow Trackers for sites on the Exceptions list"
As a user who has tracking protection enabled globally, I want to be able to allow trackers for specific sites, so I can have an unbroken experience on those sites only and still be protected on all other sites.

## Dependencies
* UX designs: #1064

### Acceptance Criteria
I can turn off TP for a specific site and have that site added to my Exceptions list
I can return to the site in another brows

[2019-04-17 22:31] bifleming commented on #1023
@grigoryk can you tell me what is blocking this? Do we just need to make a decision?

[2019-04-17 22:31] AmyYLee commented on #175
@mheubusch The screens have been updated. It looks like the feedback tag is already removed and is ready for engineering

[2019-04-17 22:36] bifleming commented on #289
@ryanfeeley can you give me an update on this? Do we need a decision to be made?

[2019-04-17 22:43] vesta0 commented on #1064
@brampitoyo thanks for the designs, looks great! One comment: it may not be very clear in the doorhanger UI right now that turning the toggle off will add the site to the Exceptions list. Maybe just a string below the toggle would suffice but I’ll leave that to you to decide how you'd like to handle it.

[2019-04-17 22:48] Sdaswani opened #1746 "FNX-55 ⁃ Fenix Should Pop Out Videos"
### Why/User Benefit/User Problem
When I'm using Fenix, I want to be able to have videos playing from one tab while I'm perusing other tabs or content on the current tab.

This will keep folks using Fenix more so they get more TP, more security, more Mozilla. :grinning:

### What / Requirements
Something like this
![IMG](https://user-images.githubusercontent.com/4879954/56325725-14f99d80-6128-11e9

[2019-04-17 22:49] vesta0 commented on #1002
Thanks @sblatz ! I will add the QA needed label.

[2019-04-17 22:49] mheubusch commented on #1260
Removed  Reader mode from note above since we should be able to get this for MVP (but not Reading List)

[2019-04-17 23:46] kbrosnan commented on #1690
This might only be shown to EU readers. I did not see this notice when browsing the site.

[2019-04-18 00:04] emilio commented on #1117
Note that Fenix also keeps playing if you _close_ the app (#1679), not only minimize it. Fennec definitely doesn't do that, and I don't see how that would make sense.

Also, killing the battery is not fun, probably is worth stopping _some_ videos at least... But I agree that's probably more refinement.

[2019-04-18 00:09] yoasif commented on #1679
I think this bug should get reopened since #1117 got closed and doesn't capture the same issue.

[2019-04-18 00:42] cpeterso opened #1749 "FNX-5225 ⁃ Enhanced Tracking Protection"
### Why/User Benefit/User Problem
As a user, I want to be  protected from 3rd party tracking cookies so I don't have ads following me around as I browser the web and my browsing information stays private.

### Acceptance Criteria (how do I know when I’m done?)
-I am protected from 3rd party ad and analytics tracking cookies, as well as cryptomining and fingerprinting trackers by default.
-I can go

[2019-04-18 00:43] cpeterso commented on #1749
@vesta0 says Enhanced Tracking Protection can be a post-MVP feature.

[2019-04-18 00:55] brampitoyo opened #1750 "FNX-5227 ⁃ Update Private Browsing theme to match new design"
# Mockups
https://mozilla.invisionapp.com/share/9QRLVJI8UZK

# Colour values
|Primary Text | Second Text | Foundation | Above | Above dark | Accent | Accent Bright | Neutral|
|----|----|----|----|----|----|----|----|
|`#FBFBFE` (same as dark theme) |`#A7A2B7` (same as dark theme) |`linear-gradient(45deg, #7529A7 0%, #492E85 50%, #383372 100%);` |`#291D4F` | Please generate this |`#722291` |`#F565F

[2019-04-18 01:36] brampitoyo opened #1751 "FNX-5228 ⁃ Icon to delete browsing history in Private Browsing address bar"
Our current Private Browsing design includes a link to delete history on the tab view:

![](https://user-images.githubusercontent.com/51007/56329892-ce647b80-61d9-11e9-8dfd-cda610a62baf.png)

We’re going to introduce a way to delete history while you’re browsing privately, by including a garbage bin icon on the left side of the address bar:

https://mozilla.invisionapp.com/share/8CRLVWE2HKY

CC @s

[2019-04-18 02:39] k0ur0x commented on #1731
I think this issue is related to https://github.com/mozilla-mobile/android-components

[2019-04-18 03:08] Lululalu opened #1753 "FNX-5229 ⁃ [Bug] Playing a video on Fenix doesn't pause Spotify's (or other app) playback."
## Steps to reproduce
Play something on Spotify and then play a video on YouTube using Fenix.

### Expected behavior
Spotify is paused

### Actual behavior
Spotify continues playing simultaneously with the YouTube video.

### Device information
* Android device: 8.0
* Fenix version: 1.0.1916

[2019-04-18 03:20] Lululalu opened #1754 "FNX-56 ⁃ Add "open with external application" to the link's context menu"
### Why/User Benefit/User Problem
Sometimes users may want to open a YouTube video one the official app for a better viewing experience, and sometimes they may want open it on the browser for privacy reasons (TP, not being logged, etc). It gives control to the user. It's also privacy related. Kiwi has this feature.

### What / Requirements
And option to open links with external applications on the

[2019-04-18 03:38] Amejia481 commented on #1686
Related BugZilla bug https://bugzilla.mozilla.org/show_bug.cgi?id=1527056

[2019-04-18 03:39] Lululalu opened #1755 "Prompt the user before opening a website with an external application"
### Why/User Benefit/User Problem
Firefox users tend to be more privacy conscious, so redirecting them to another app without consent may not be the best behavior. I suggest the Samsung Internet's approach of asking the user before opening any website with an external application (when the corresponding app is installed).

### What / Requirements
A pop-up asking something like "do you want to open

[2019-04-18 03:59] LittleAngelwings opened #1756 "FNX-5230 ⁃ German localization "Tracking Protection" [Bug]"
* at the options menu, "Tracking Protection" must be translate.

![Screenshot](https://user-images.githubusercontent.com/44252450/56318931-9836e580-6160-11e9-9e26-dfc5b38abef8.jpg)UNITO-UNDERSCORE!20190417-220709!UNITO-UNDERSCORE!Fenix!

[2019-04-18 04:03] LittleAngelwings opened #1757 "FNX-5231 ⁃ Incomplete German localization "Website Permissions" [Bug]"
* all strings for Website Permission are in English instead of German.

![Screenshot](https://user-images.githubusercontent.com/44252450/56319070-ff549a00-6160-11e9-80f6-c6977a857e48.jpg)UNITO-UNDERSCORE!20190417-220738!UNITO-UNDERSCORE!Fenix!

[2019-04-18 04:06] LittleAngelwings commented on #1736
Okay, I've divided them into three separate tickets.

[2019-04-18 04:18] Lululalu opened #1758 "Show a functional scroll bar while scrolling"
### Why/User Benefit/User Problem
It's hassle to go to the top or bottom, or middle, of pages that are long, full of content. It takes too much times swiping your finger up and down until you reach the part of the page that you want. A scroll bar fixes this, allowing way faster navigation of long pages. This feature was add a long time to Samsung Internet, and more recently to Opera Mobile.

### W

[2019-04-18 04:21] LittleAngelwings opened #1759 "FNX-5232 ⁃ Copy url from adressbar [Bug]"
## Steps to reproduce
Open any site you want
Click with a long press at the URLbar below

### Expected behavior
The note "URL copied" appears and the URL is copied

### Actual behavior
The note "URL copied appears but no URL will be copied. If I look into the clipboard or I'll be paste the seemingly copied URL into another field there is no URL in the clipboard.

But I can copy a marked URL if I o

[2019-04-18 04:43] brampitoyo commented on #1064
Hi @vesta0,

That’s fine. The exceptions list inside Settings isn’t a preferred way to manage Tracking Protection. Why? Because modifying TP when a site is currently open allows you to observe its effects directly. If you want to see whether a site issue will be fixed by toggling TP off, it helps to be able to see a before and after.

Should users feel the need to turn TP off globally (which we do

[2019-04-18 05:12] yoasif opened #1761 "FNX-5233 ⁃ [Bug] Regression: Fenix fails to start, crashes immediately"
## Steps to reproduce
1. Launch Fenix

### Expected behavior
Fenix starts.

### Actual behavior
Fenix crashes.

### Device information
* Android device: Pixel 2
* Fenix version: latest from play store

See log files attached.

[logs-2019-04-18-00-14-30.zip](https://github.com/mozilla-mobile/fenix/files/3092819/logs-2019-04-18-00-14-30.zip)

[2019-04-18 05:31] cadeyrn commented on #1533
Fixed by #1738 which removed the fade animation again.

[2019-04-18 07:50] softvision-miralobontiu commented on #1700
Verified as fixed on the latest Fenix version 1.0.1916 (Build#11080612), with Samsung Galaxy Tab S3 (Android 8.0), and HTC Desire 820 (Android 6.0.1).

[2019-04-18 08:00] softvision-miralobontiu commented on #1699
Verified as fixed on the latest version of Fenix 1.0.1916 (Build#11080612), with Samsung Galaxy Tab S3 (Android 8.0), HTC Desire 820 (Android 6.0.1), and Samsung Galaxy S8 (Android 9.0).

[2019-04-18 08:08] softvision-miralobontiu commented on #1698
Verified as fixed on the latest version of Fenix 1.0.1916 (Build#11080612), with Samsung Galaxy Tab S3 (Android 8.0), HTC Desire 820 (Android 6.0.1), and Samsung Galaxy S8 (Android 9.0).

[2019-04-18 08:15] softvision-miralobontiu opened #1762 "FNX-5234 ⁃ [Bug] Fenix crashes when Bookmarks from Library is opened"
## Steps to reproduce
1. Go to three-dot menu ~~> Library~~ > Bookmarks

### Expected behavior
The user should see the Bookmarks folder.

### Actual behavior
Fenix crashes and the app cannot be opened until the user clears data.

### Device information
* Android device: Samsung Galaxy Tab S3 (Android 8.0), HTC Desire 820 (Android 6.0.1),  Samsung Galaxy S8 (Android 9.0), HTC 10 (Android 8.0)
* Fen

[2019-04-18 08:17] cadeyrn commented on #1762
Duplicate of #1732.

[2019-04-18 08:20] softvision-miralobontiu commented on #1676
Verified as fixed on the latest version of Fenix 1.0.1916 (Build#11080612), with Samsung Galaxy Tab S3 (Android 8.0), HTC Desire 820 (Android 6.0.1), and Samsung Galaxy S8 (Android 9.0).

[2019-04-18 09:05] bsurd commented on #1277
Verified on Honor 8 and Note 8 devices. A blue color scheme is applied all over now and the white text is easy to read.

[2019-04-18 11:18] bsurd commented on #933
The sign in button is no longer displayed, altho I would like to mention that a @ Firefox Account text is displayed before the actual account name.

[2019-04-18 11:18] #933 closed

[2019-04-18 11:29] bsurd commented on #1483
Tested with the STR provided on a Nexus 6P, Honor 8 and Pixel, everything worked as expected,

[2019-04-18 11:32] cadeyrn commented on #1683
The keyboard also opens when switching between regular and private mode. Since both modes use a different theme it's probably related and I won't open a new issue for that.

HTC U11 / Android 8.0, Fenix revision 5e61366cb9edd1dbc686dedf2cb0ae3d202676c6 so definitively not fixed by #1632 (but maybe the opposite and it's a regression from #1632? I can test later which change introduced the bug).

[2019-04-18 11:45] sv-ohorvath commented on #1692
Dupe of #1304.

[2019-04-18 11:52] cadeyrn commented on #1581
Please note that the issue is no longer visible for me since the "download button" was removed because "Als Lesezeichen hinzufügen" is an one-liner now. But the issue is not fixed. Once a third button will be added "Als Lesezeichen hinzufügen" will be too long again. It potentially affects every language and can also depend on the device: once more than one line is needed for one or more buttons y

[2019-04-18 12:05] sv-ohorvath opened #1766 "FNX-5235 ⁃ [Bug] Save session button is missing"
## Steps to reproduce
1. Open a tab.
1. Go to tabs list in current session.Observe the save session button.
1. Check the overflow menu of Current session.
    1. Expected behavior
save session button is there.
    1. Actual behavior
save session button missing from both places.
    1. Device information

* Android device: Pixel, Nexus 5.
* Fenix version: 4/18

[2019-04-18 12:09] cadeyrn commented on #1766
Sessions were removed: #1747.

[2019-04-18 12:17] sv-ohorvath commented on #1766
Ah, true. I thought that they were removed only from the library menu. Thanks!

[2019-04-18 12:23] Dexterp37 commented on #1028
This is being implemented in #1707 . After asking in #fenix on slack, since no other product is currently using this, it's fine for it to land in Fenix first and then be backported once needed.

[2019-04-18 12:35] bsurd opened #1767 "[Bug] Custom tab not working on some devices"
## Steps to reproduce
1. Set Fenix as your default browser.
1. Install slack and enter your workspace URL.
1. Select "Sign in with Auto0".

### Expected behavior
A custom tab opens.

### Actual behavior
Fenix is opened.

### Device information
* Android device:
  * Samsung Galaxy S8 (Android 9)
  * Samsung Galaxy Note8 (Android 9)
* Fenix version: 1.0.1916 (#11080612)
* This issue was not reproduc

[2019-04-18 12:35] bsurd commented on #1092
According to #203 the custom menu should be above the Fenix menu, this is still not the case for the affected devices.

If logged into the Slack app and opening a custom tab the custom menu is still not displayed. Eg. opened a wikipedia link, custom slack menu is not available.

I've also logged a new issue for Samsung devices #1767.

[2019-04-18 12:35] sv-ohorvath commented on #1002
Verified that when a tab is crashed, only that tab is restored (the others are about:blank, I understand this is still expected).
After an app crash, al tabs are restored.

Would you like me to log a new issue for the about:blank tabs, for future work?

[2019-04-18 12:39] sv-ohorvath opened #1768 "FNX-5236 ⁃ Tab crashed design needs a copy update"
## Steps to reproduce
1. Go to about:crashcontent
    1. Expected behavior
According to the latest mocks in https://github.com/mozilla-mobile/fenix/issues/1102#issuecomment-477444198 , the copy should be updated.
    1. Actual behavior
"Fenix can't get that tab back" copy is still used.
    1. Device information

* Android device: Pixel (Android 9).
* Fenix version: 4/18

[2019-04-18 12:51] bsurd commented on #940
Verified with Deutsch, Fenix successfully manages to swap between en and de. If the selected language is not supported/implemented in Fenix the default fallback language is en.

[2019-04-18 12:51] #940 closed

[2019-04-18 12:55] sv-ohorvath opened #1769 "FNX-5237 ⁃ [Bug] On tablet, the delete icon under tabs needs styling"
## Steps to reproduce
1. Swipe to close an opened tab on a tablet device.
    1. Expected behavior
A delete icon is displayed when swiping the tab. The icon has spacing & aligning
    1. Actual behavior
The icon needs a bit of spacing & aligning between the icon and the text
![Screenshot](https://user-images.githubusercontent.com/4037709/56362250-11324d80-61f2-11e9-9dc8-7b72bd2c2247.png)UNITO-UNDE

[2019-04-18 12:56] Lululalu commented on #1613
I also believe that the size of the font on the tab previews could be made smaller, this way more information can fit, and it will be easier to distinguish between tabs.

[2019-04-18 13:02] bsurd commented on #1092
@sblatz any input here?

[2019-04-18 13:03] sv-ohorvath commented on #1408
Verified as fixed on 4/18 build.
devices: Pixel, Nexus 9 (Android 6)

[2019-04-18 13:53] shorlander commented on #1102
Looks good to me. I don't know if we have illustrations in these pages yet, but Sean says we should use fx-fenix_error_9.svg for this.

[2019-04-18 13:57] shorlander commented on #1618
@st3fan This is ready for Eng Feedback.

[2019-04-18 14:24] mheubusch commented on #1102
@sblatz just a reminder that the actual string is Sorry. <parameter> can't load that page.

[2019-04-18 14:26] softvision-miralobontiu opened #1770 "FNX-5239 ⁃ [Bug] Share icon from quick action bar is broken"
## Steps to reproduce
Observe the Share icon from Quick action bar.

### Expected behavior
Share icon should have both segments equal.

### Actual behavior
Share icon has uneven segments.

### Device information
* Android device: HTC Desire 820 (Android 6.0.1)
* Fenix version: 1.0.1916 (Build#11081206)

### Notes:
* Not reproducible on Samsung Galaxy Tab S3 (Android 8.0), Motorola Nexus 6 (Android

[2019-04-18 14:36] vesta0 commented on #1726
Duplicate of #1714

[2019-04-18 14:45] sblatz commented on #1767
I'm unable to reproduce this on my Galaxy S9 on Android 9.

Is this only happening for that "Sign in with Auth0" page? Or also in other apps/once signed into Slack.

[2019-04-18 14:48] sblatz commented on #1092
This is really strange. The custom menu is also not showing for me in Chrome, Firefox, Firefox Focus, or Reference Browser on my Galaxy S9. I'm not sure this is something we actually are doing incorrectly, and may just be an incompatibility based on device type.

@bsurd can you list which devices are utilizing the custom menu and which aren't? Also, are they all at least showing the "shortened" me

[2019-04-18 14:51] sblatz commented on #1002
Yes, @sv-ohorvath filling a new issue for the multiple tab case would be helpful :)

[2019-04-18 15:10] bsurd commented on #1092
Yes, they are showing the shortened menu "Powered by Fenix", I've used the same devices as mentioned in the initial report the Honor, 8 Nexus 5 and Galaxy S8, as well as a HTC 10 and Note 8 beside those.

Logged the new issue while testing for Samsung devices as they seem to not even open a custom tab.

Please let me know if there is any other information I can help with.

[2019-04-18 15:20] bsurd commented on #1767
It's happening for that "Sign in with Auth0". All other devices are opening a custom tab for that part as well.

[2019-04-18 15:22] bsurd commented on #1092
The inconsistency is noticeable in the Samsung devices, after logging in and opening a custom tab only the shortened menu is displayed, while on other devices the slack custom menu is also displayed alongside it.

[2019-04-18 15:27] colintheshots commented on #1732
This seems to be new in the last 24 hours or so. We just upgraded application-services, so I'll look into what changed.

[2019-04-18 15:32] jhugman opened #1771 "FNX-5240 ⁃ [Bug] Opening a Custom Tab sometimes shows a white screen"
This is the corresponding Fenix version of the issue found in [reference browser][1] and [android-components][2].

[1]: https://github.com/mozilla-mobile/reference-browser/issues/586
[2]: https://github.com/mozilla-mobile/android-components/issues/2673

[2019-04-18 15:59] cpeterso commented on #220
AFAICT, Chrome's Language settings only configure the user's preferred language for web content (i.e. the `Accept-Language` HTTP header sent to web servers), not Chrome's app UI language.

GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1543823 is about letting the browser customize Gecko's `Accept-Language` HTTP header and/or making Gecko use the Android system language.

UX question to consi

[2019-04-18 16:13] sblatz commented on #1767
@bsurd to clarify: if you open a custom tab from Yelp, for example, is it opening as expected on the Samsung devices?

[2019-04-18 16:14] sblatz commented on #1092
@vesta0 how do we want to proceed here? I believe this bug is not our fault (as I can reproduce in all the browsers on my phone).

[2019-04-18 16:16] k0ur0x commented on #1761
Fixed #1752

[2019-04-18 16:23] vesta0 opened #1775 "FNX-5241 ⁃ Remove Language from Settings for Beta"

[2019-04-18 16:30] vesta0 commented on #1732
@colintheshots FYI crash also happens when I add a new bookmark and click on EDIT (same route)

[2019-04-18 16:31] vesta0 commented on #1762
Will be addressed in #1732

[2019-04-18 16:36] colintheshots commented on #1732
Yes, that's the same crash on the same API call, but on a different screen. Something changed in our Rust dependency. I'm having them look into it.

[2019-04-18 16:40] boek commented on #1301
This can be done pretty easily with the `counter` metric type

[2019-04-18 16:48] sblatz commented on #1714
I will need an updated image for this home view asset with both a light `#FBFBFE` and dark text `#20123A`
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/56377241-d3680180-61be-11e9-9544-1049332e7039.png">

[2019-04-18 17:20] vesta0 commented on #1717
YES! Thanks for catching that @sblatz !

[2019-04-18 17:23] vesta0 commented on #1714
@mheubusch FYI :)

[2019-04-18 17:32] sblatz commented on #1710
@vesta0 are we able to prioritize this?

[2019-04-18 17:35] vesta0 commented on #1768
@mheubusch and @brampitoyo do we need an updated copy now that we can restore a crashed tab?

[2019-04-18 18:01] cadeyrn commented on #1683
Another case of unexpected keyboard opening:

1. start Fenix and make sure the keyboard is hidden
2. wait until your display is off or turn it off
3. enable your display / unlock your phone again

Expected:

Keyboard is still hidden.

Actual:

Keyboard is open.

[2019-04-18 18:07] sblatz commented on #1092
I verified this on the devices below:

On Samsung Galaxy S9: No browsers show “Share in Slack…”
On Pixel 3: All browsers show “Share in Slack…”

This seems to not be a Fenix issue, and thus I'm closing per @vesta0's recommendation.

[2019-04-18 18:12] bifleming commented on #208
@ekager

[2019-04-18 18:15] cadeyrn commented on #1580
Fixed by #1763.

[2019-04-18 18:37] andreicristianpetcu commented on #331
this has a simple workaround: install fennec. you can share from fenix to fennec and send to device.

[2019-04-18 18:44] yoasif commented on #220
It feels to me like Fenix should be en-GB and and websites should be en-CA *unless* Fenix implements separate website and browser UI preferences for language.

Also, FWIW, Chrome also allows users to set up several languages based on priority, while Fennec only allows users to select a single one (likely because the preference applies to both UI and websites).

[2019-04-18 19:06] Pike commented on #941
@Callek and I can do this, so we're marking this FIXED.

[2019-04-18 19:06] #941 closed

[2019-04-18 19:07] Pike commented on #424
@Callek and I can do this, so I'm marking this FIXED.

[2019-04-18 19:07] #424 closed

[2019-04-18 19:33] yoasif commented on #1761
This works in the latest build.

[2019-04-18 19:59] AmyYLee commented on #1568
Updated spec with swipe gestures/long-press for deleting tabs from collections.

[2019-04-18 20:06] ekager commented on #1756
As we add new features with new strings, the strings have to go through the localization process. Before they are translated, any string will default to the original English string. Our current builds are not meant to be perfect and will have some breakages, but thanks for testing them!
Feel free to follow the localization repo here: https://github.com/mozilla-l10n/android-l10n

[2019-04-18 20:20] sblatz opened #1784 "FNX-5243 ⁃ [Bug] Private tab icon is *tiny*"
![](https://user-images.githubusercontent.com/4400286/56388785-c6f2a180-61dc-11e9-8934-e49419ede5dc.png)

[2019-04-18 20:32] boek commented on #793
Just checked and the data is available in Glean :+1:

[2019-04-18 20:32] #793 closed

[2019-04-18 20:40] ekager commented on #1049
Sorry for the delay! Just rounded out the progress bar so this should be done from the eng side as long as it looks okay with you @AmyYLee . Rounded progress bar will be in Nightly tomorrow if you want to verify!

[2019-04-18 20:51] cadeyrn opened #1788 "FNX3-15817 ⁃ Remove garbage icon from address bar in private browsing"
### Steps to reproduce
1. open at least two websites in the private mode
1. press the garbage icon on the left side of the address bar

### Actual behavior
All Tabs are removed from private session.

### Expected behavior
In #1751 a garbage icon was added to the the left side of the address bar to delete browsing history in private mode. While I like the idea of having this icon to remove the tab

[2019-04-18 21:16] ekager commented on #1788
This isn't a bug because this is inheriting from Focus behavior and was defined in #1751, but we could add a snackbar with possible action to undo? I am tagging for UX Feedback.

[2019-04-18 21:18] bifleming commented on #246
@bbinto @vesta0 I'm confused about this Meta.  There are no stories for the Fenix team to do?

[2019-04-18 21:23] cadeyrn opened #1790 "FNX3-15819 ⁃ [Bug] tracking protection icon in quick settings should change immediately"
### Steps to reproduce
1. open a website
1. press the padlock icon
1. enable or disable tracking protection
1. repeat step 3 a few times

### Expected behavior
The icon on the left side changes immediately.

### Actual behavior
There is no icon change. You have to hide the panel and open it again to see the changed icon.

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix versi

[2019-04-18 22:00] cadeyrn commented on #1788
That's true but the truth is also that multi tab browsing in Focus is a very hidden feature and you have to long press on a link on a website to get a second tab. That's why in practise you almost always have no more than one single tab in Focus, so the situation is a little different. ;-)

[2019-04-18 22:40] yoasif opened #1796 "FNX-5247 ⁃ [Bug] Area between address bar and quick actions bar looks cramped when progress bar is present"
## Steps to reproduce
1. Open Fenix
1. Open tab
1. Open quick actions bar
1. Load page

### Expected behavior
More space between quick actions bar and address bar.

### Actual behavior
The progress bar makes the area between quick actions and the address bar look sloppy and cramped.

![signal-attachment-2019-04-18-183736](https://user-images.githubusercontent.com/152493/56395678-88bfa700-6209-11e9

[2019-04-18 22:40] kbrosnan commented on #1788
Closing individual tabs creates a bit of complexity. The expectation from the user is that the tab data is gone but in Fenix the data would be persisted until all the private browsing tabs are closed.

[2019-04-18 22:57] shorlander commented on #1714
![firefox-preview-horizontal@4x](https://user-images.githubusercontent.com/684427/56394595-d2a68e00-6205-11e9-9003-5c9ab92ca2bb.png)

![firefox-preview-horizontal-ondark@4x](https://user-images.githubusercontent.com/684427/56394618-e7832180-6205-11e9-8b59-b6882b25e78d.png)

[2019-04-18 22:59] shorlander commented on #1714
[ic_launcher.zip](https://github.com/mozilla-mobile/fenix/files/3096430/ic_launcher.zip)

[2019-04-18 23:14] yoasif opened #1798 "FNX-5248 ⁃ [Bug] Hard to see where on screen navigation buttons end and Fenix begins (contrast)"
## Steps to reproduce
1. Open Fenix
1. Navigate to any website

### Expected behavior
It should be easier to see where the Android navigation bar ends and where Fenix begins.

Other browsers use either a more contrasting color, a horizontal line, or suffer less from the problem, since they do not use a bottom address bar.

Samsung Internet uses more contrast (darker color for navigation)

![samsun

[2019-04-18 23:16] ekager commented on #1064
Could someone on UX let me know if this "Report a Problem" page is required for MVP? Where does that report go? For the first iteration of eng work (so in Nightly now), I just linked the normal report site issue that goes to webcompat.
<img width="772" alt="Screen Shot 2019-04-18 at 4 06 42 PM" src="https://user-images.githubusercontent.com/25442310/56396691-ebf30e80-61f4-11e9-9445-72208f554ead.pn

[2019-04-19 00:24] Delphine commented on #1682
Everything has been fixed now, thanks to everyone! :)
Closing

[2019-04-19 00:43] yoasif opened #1800 "FNX-5251 ⁃ "Report a problem" / "Report a site issue" should open in a new tab"
### Why/User Benefit/User Problem
As a user, I would like to be able to gather additional information from a page (eg screenshots) when reporting a site issue.

### What / Requirements
Tapping "Report a problem" / "Report a site issue" should open in a new tab with the site URL correctly filled in.

### Acceptance Criteria (how do I know when I’m done?)
I can open "Report a problem" / "Report a si

[2019-04-19 02:24] cpeterso commented on #1117
@vesta0 - Given Emilio's description of the problem, I think we should reopen his issue #1679 and fix it for Fenix MVP (using the `session.setActive(false)` steps I [described above](https://github.com/mozilla-mobile/fenix/issues/1117#issuecomment-484168768)). If the Fenix app is no longer accessible in Android's app switcher, there's nowhere for the user to go back and stop the media playback.

A

[2019-04-19 02:38] cpeterso commented on #1679
To stop media playback, I am told that Fenix needs to call `session.setActive(false)` to when a tab (or the app) is backgrounded. I don't see any calls to `setActive()` in Fenix or AC code, but I did find the AC PR to _remove_ calls the `session.setActive()`: mozilla-mobile/android-components#703

[2019-04-19 03:58] colintheshots commented on #1616
This is fixed in master. There's no QA step needed.

[2019-04-19 04:03] LittleAngelwings opened #1803 "FNX-5252 ⁃ [Bug] tab fader for delete them"
## Steps to reproduce
Open any sites
Click tab icon and go to the tab view
Fade out any tab / swip tab left or right to delete them

### Expected behavior
The string and trash can have space between them and the right string is on screen

### Actual behavior
There is no space between thrash can and string and the string right, if you fade out left, is not completely on screen.

![Screenshot](https

[2019-04-19 04:08] colintheshots commented on #1515
For some reason, the SessionManager finds no title for URLs with fragment identifiers. I think this may require a bug in Android Components.

[2019-04-19 04:50] colintheshots commented on #1558
There's a ticket #1515 showing that URLs bearing fragment identifiers don't show a title. I believe this is a duplicate and the original is something we need to fix in either Android Components or GeckoView.

[2019-04-19 05:01] colintheshots commented on #1597
This is an issue for FxA. We have no control over these built-in folders. We could potentially hide the other folders, but then you wouldn't see the synced folders.

[2019-04-19 06:40] sv-ohorvath opened #1809 "FNX-5253 ⁃ [Bug] Restore all tabs when one is crashing"
## Steps to reproduce
1. Open multiple tabs.
1. In one tab go to about:crashcontent.
1. Tap Restore tab on the crash reporter.
    1. Expected behavior
All tabs are restored.
    1. Actual behavior
Only the crashed tab is restored, the others are left with about:blank
    1. Device information

* Android device: any
* Fenix version: 4/18

[2019-04-19 08:01] bsurd commented on #1767
Yes, it's opening as expected in Yelp. It seems to only affect that part on the Samsung devices.

[2019-04-19 08:19] softvision-miralobontiu commented on #1049
Verified as fixed on the latest version 1.0.1916 (Build#11081206):
- the progress bar is visible,
- the progress bar is above the URL bar,
- progress animation is visible.
Tested with:
- Samsung Galaxy Tab S3 (Android 8.0),
- Motorola Nexus 6 (Android 7.1.1).

[2019-04-19 08:30] bsurd commented on #1092
Reopening as part of the initial issue still remains, the items are still displayed in reverse order compared to the specs in #203.

![img](https://user-images.githubusercontent.com/17178945/56415356-2cef2f80-6296-11e9-8d96-01cf240ecfe8.jpg)

[2019-04-19 08:36] andreicristianpetcu opened #1810 "FNX-5255 ⁃ [Bug] I cannot see bottom part of page"
## Steps to reproduce
Visit https://www.reddit.com/r/firefox/comments/bendan/abouthome_and_aboutnewtab_suddenly_forcing_light/
Scroll down.

### Expected behavior
See all the comments.

### Actual behavior
Only some comments visible.

### Device information
* Android device: OnePlus 5t

[2019-04-19 08:39] andreicristianpetcu commented on #1810
![Screenshot_20190419-113741_Settings](https://user-images.githubusercontent.com/922368/56415866-b5220480-6297-11e9-9fb6-eda05a4411ce.png)
![Screenshot_20190419-113720_Fenix](https://user-images.githubusercontent.com/922368/56415868-b94e2200-6297-11e9-8e76-6abbcb73a8dc.png)
![Screenshot_20190419-113443_Fenix](https://user-images.githubusercontent.com/922368/56415874-be12d600-6297-11e9-9bb0-ddf8d98

[2019-04-19 08:41] andreicristianpetcu commented on #1622
It's random.
Fenix is default browser.

[2019-04-19 09:01] softvision-miralobontiu commented on #1264
Verified as fixed on Fenix version 1.0.1916 (Build#11081206), with Samsung Galaxy Tab S3 (Android 8.0), and Motorola Nexus 6 (Android 7.1.1).

[2019-04-19 09:13] softvision-miralobontiu commented on #1696
Verified as fixed on Fenix version 1.0.1916 (Build#11081206), with Samsung Galaxy Tab S3 (Android 8.0), and Motorola Nexus 6 (Android 7.1.1).

[2019-04-19 09:25] sv-ohorvath opened #1811 "FNX-5256 ⁃ [Bug] History menu crashes the app"
## Steps to reproduce
1. Go to the library>history menu.
    1. Expected behavior
History list is displayed.
    1. Actual behavior
App crashes.
    1. Device information

* Android device: HTC 10 (Android 8), HTC Desire 820 (Android 6.0.1)
* Fenix version: Debug build 4/19

[2019-04-19 09:29] sv-ohorvath opened #1812 "FNX-5257 ⁃ [Bug] Bookmarks' menu toolbar is blue"
## Steps to reproduce
1. Go to library>Bookmarks.
1. Select a folder.
    1. Expected behavior
The menu's toolbar color is the app's default color.
    1. Actual behavior
The toolbar is blue in root Bookmarks menu and it's folders.
    1. Device information

* Android device: HTC Desire 820 (Android 6.0.1), HTC 10 (Android 8.0)
* Fenix version: Debug build 4/19

[2019-04-19 11:52] LittleAngelwings opened #1813 "FNX-5258 ⁃ White page for tools.taskcluster.net"
When I want to open the site tools.taskcluster.net only a white page will be shown.
The site docs.taskcluster.net/docs will be shown normally.

Only on Samsung Galaxy Tab A (2016) SM-T580 with Android 8.1.0
No problem with Huawei P smart and Android/EMUI 8.0.0
Both tested with Fenix 1.0.1916 (11081206)

[2019-04-19 12:17] sv-ohorvath opened #1814 "FNX-5259 ⁃ [Bug] Site info panel should hide while loading the "report a problem" link"
## Steps to reproduce
1. Open the quick settings panel.
1. Tap the Report a problem link under the TP toggle.
    1. Expected behavior
The settings panel is dismissed.
    1. Actual behavior
The settings panel is still displayed.
    1. Device information

* Android device: HTC 10 (Android 8.0), HTC Desire 820 (Android 6.0.1)
* Fenix version: 4/18 build

[2019-04-19 12:19] sv-ohorvath opened #1815 "FNX-5260 ⁃ [Bug] A11y - Unlabeled button: security level indicator"
## Steps to reproduce
1. Use talkback to navigate to the security level indicator icon in the url bar.
    1. Expected behavior
The button should have a description.
    1. Actual behavior
Talkback reads "Unlabeled button"
    1. Device information

* Android device: HTC 10 (Android 8.0)
* Fenix version: 4/19 build

[2019-04-19 12:29] cadeyrn commented on #1814
Duplicate of #1720.

[2019-04-19 12:39] LittleAngelwings commented on #1813
I closed the issue, cause the issue is gone after I delete app data for fenix

[2019-04-19 12:42] LittleAngelwings commented on #1813
Reopend... Issue is back after reload the site... Only a blank page is shown

[2019-04-19 12:50] bsurd commented on #535
Verified on a Pixel and Galaxy S8. With the new style, everything can be clearly read.

[2019-04-19 12:50] #535 closed

[2019-04-19 13:08] softvision-miralobontiu commented on #1775
Verified as fixed on the latest version 1.0.1916 (Build#11091214) with Motorola Nexus 6 (Android 7.1.1), and Samsung Galaxy Tab S3 (Android 8.0).

[2019-04-19 13:21] colintheshots commented on #1812
I noticed this yesterday while fixing other bookmark related issues. All the colors in the app were changed recently and this one was incorrect. The fix is already in PR waiting on code review.

[2019-04-19 13:43] sv-ohorvath commented on #1084
Verified as fixed on the latest build.
Devices: Galaxy Tab 3 (Android 8.0), HTC 10 (Android 8.0), HTC Desire 820 (Android 6.0.1)

[2019-04-19 14:08] bsurd opened #1816 "FNX-5261 ⁃ [Bug] Quick Action Bar not available in Custom Tabs"
## Steps to reproduce
1. Set Fenix as the default browser.
1. From any app open a custom tab.
1. Try to open the Quick Action Bar.

### Expected behavior
The Quick Action Bar is available.

### Actual behavior
There is no way to open the Quick Action Bar.

### Device information
* Android device: Google Pixel (Android 9) & HTC 10 (Android 8)
* Fenix version: 1.0.1916 (#11091214)

As mentioned in [

[2019-04-19 14:10] sv-ohorvath commented on #1539
@colintheshots

[2019-04-19 14:18] sv-ohorvath opened #1817 "FNX-5262 ⁃ [Bug] Multiple selection toolbar changes to folder name when the app is minimized"
## Steps to reproduce
1. Select multiple bookmarks.
1. Tap the device home button.
1. Return to the app. Check the multiple selection toolbar.
    1. Expected behavior
Same toolbar.
    1. Actual behavior
Number of selected items is replaced with the folder name.
    1. Device information

* Android device: any
* Fenix version: 4/19 build

[2019-04-19 14:44] bifleming commented on #1092
@sblatz @vesta0 is this still blocked? Note that it was re-opened.

[2019-04-19 14:45] bifleming commented on #1714
@sblatz is this still blocked?

[2019-04-19 14:47] bifleming commented on #1710
@vesta0 this is blocking 1268, and should probably be pulled into the sprint in place of 1268.

[2019-04-19 15:17] suoko opened #1818 "FNX-5263 ⁃ Add to desktop option is missing"
### Why/User Benefit/User Problem
Great to avoid installing many web apps

[2019-04-19 15:42] LittleAngelwings opened #1819 "FNX-5264 ⁃ [Bug] Delete session button in private mode"
## Steps to reproduce
Open a private tab,  any website
change to tablist view

### Expected behavior
No session delete button, in line with the normal mode without sessions

### Actual behavior
delete session button is present

### Device information
* Android device: Samsung Galaxy Tab A (2016) SM-T580, Android 8.1.0
* Fenix version: 1.0.1916 (11091214)

![Screenshot](https://user-images.githubus

[2019-04-19 16:23] sblatz commented on #1092
I submitted an a-c patch for this [here](https://github.com/mozilla-mobile/android-components/pull/2809). This will once again be blocked on it landing.

[2019-04-19 16:28] cadeyrn opened #1820 "FNX3-15839 ⁃ [Bug] Fenix crashes when trying to load ghacks.net"
### Steps to reproduce
1. Try to load the website ghacks.net

### Expected behavior
Fenix opens the website.

### Actual behavior
Fenix crashes. It's the only website where I can reproduce the crash.

[code]

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision af613962e550c1b9ab9931b12ee1c30f88c88ff6

[2019-04-19 16:36] cadeyrn commented on #1683
@sblatz I confirmed by manually reverting #1659 that your change caused all the bugs described here.

[2019-04-19 16:38] sblatz commented on #1683
@cadeyrn yep, that's definitely the commit that caused it. I will look into this.

[2019-04-19 16:43] cadeyrn commented on #1811
[code]

[2019-04-19 16:43] cpeterso commented on #1206
Removing `blocked` and `Needs GV work` labels because snorp says this bug should be fixed in Fenix app code, not GV. Fenix needs to handle Back button navigation and exit full screen mode.

[2019-04-19 16:44] cpeterso commented on #1206
@vesta0 - Fenix should fix this bug for MVP.

[2019-04-19 16:53] cadeyrn opened #1821 "FNX3-15840 ⁃ [Bug] adress bar no longer works for every URL (redirect to the search engine instead)"
### Steps to reproduce
1. enter a URL or about:page in the address bar and press the enter key of your keybard

### Expected behavior
Fenix opens the website.

### Actual behavior
It works for some domains, Fenix opens the website. For other domains Fenix redirects the request to the default search engine.

mozilla.org => Fenix opens the website.
bing.com => Fenix opens the website
soeren-hentzsch

[2019-04-19 16:56] boek commented on #1116
For QA:

The sumo page isn't published yet, so the link will take you to a page that tells you it hasn't been approved yet.

[2019-04-19 16:56] cpeterso commented on #445
Removing `Needs GV work` label because x86_64 builds of GV already exist:
https://maven.mozilla.org/?prefix=maven2/org/mozilla/geckoview/geckoview-nightly-x86_64/

[2019-04-19 17:00] boek commented on #1819
Hey @LittleAngelwings, this is actually working as intended! The intent was to allow you to quickly end your private session.

If you believe this isn't useful or could be improved please let us know and I can take it back to the product team :)

[2019-04-19 17:03] ekager commented on #1818
I *think* what you're wanting is a PWA on the phone homescreen? Take a look at these tickets to track that work, https://github.com/mozilla-mobile/fenix/issues?utf8=✓&q=is%3Aissue+is%3Aopen+PWA

[2019-04-19 17:08] cadeyrn commented on #1819
@boek Just a thought: If we assume that it's a good idea to have a button to quickly close all open tabs from the private session then it it's probably also a good idea for regular sessions as well to have such a button. So I suggest to be consistent and show the button either in both modes or none of them.

[2019-04-19 17:14] LittleAngelwings commented on #1821
I've watched this issue also in Fenix Nightly 1.0.1916 (11081206) 04/18

[2019-04-19 17:15] colintheshots commented on #1812
This will be fixed in the next build.

[2019-04-19 17:16] ekager commented on #1622
This should be fixed in the newest GV update. Please reopen if you're still seeing this in latest builds

[2019-04-19 17:16] colintheshots commented on #1811
This regression was caused by a change to Application Services. A fix is coming in Android Components.

[2019-04-19 17:17] kbrosnan commented on #1810
Dupe of #552

[2019-04-19 17:20] colintheshots commented on #1770
I'm not sure I understand what the bug is here. Are you saying that the icon and text for Share appears off-center? I can't see that reproduced anywhere.

[2019-04-19 17:20] colintheshots commented on #1770
Oh, I see. The vector icon itself has wider segments on certain devices.

[2019-04-19 17:24] ekager commented on #1815
Just a note - based on some mocks I've seen, we may end up changing what displays in the URL bar at this location.

[2019-04-19 17:26] cpeterso opened #1824 "FNX-483 ⁃ [Bug] Pasting extremely-long data URI in the address bar will hang Fenix"
## Steps to reproduce
1. In Fenix, load about:telemetry.
1. Click the "Raw JSON" link.
1. Before the JSON finishes loading, press the Android Back button.

### Expected behavior
In Fennec and Focus+GV, the JSON data is loaded in the browser or you are given the open to open in a JSON Viewer app.

### Actual behavior
Fenix hangs while trying to load the JSON data.

If I kill the Fenix process and l

[2019-04-19 17:28] boek commented on #1819
@cadeyrn You're right! We had a primary action button in "normal mode" as well with the session prototype, though that was removed earlier this week. We're in the process of replacing that now :)

[2019-04-19 17:37] colintheshots commented on #1753
Looks like we need to [request audio focus](https://developer.android.com/guide/topics/media-apps/audio-focus).

[2019-04-19 17:39] ekager commented on #1769
Yeah there were other problems with the text so removing the text for now. :)

[2019-04-19 17:49] yoasif opened #1826 "FNX-5268 ⁃ [Bug] Going back to home screen loses scroll position"
## Steps to reproduce
1. Load Fenix with a few tabs open (enough where you have to scroll to see all tabs in session)
1. Scroll partway down the home screen (or to the end!)
1. tap a tab to open it.
1. go back using Android navigation

### Expected behavior
The browser goes back to the last place the user was (scrolled partway down the page). This is helpful if a user is trying to whittle down a s

[2019-04-19 17:56] shorlander commented on #1714
![firefox-preview-stacked@4x](https://user-images.githubusercontent.com/684427/56436752-f079fe80-62aa-11e9-8e9e-73a9d9cd03d9.png)
![firefox-preview-stacked-ondark@4x](https://user-images.githubusercontent.com/684427/56436754-f2dc5880-62aa-11e9-8922-2f39e0fe75ec.png)

[2019-04-19 17:57] yoasif opened #1827 "FNX-5269 ⁃ Tab switcher should show the current tab in home screen"
## Steps to reproduce
1. Open Fenix
1. Open multiple tab
1. Tap tab switcher

### Expected behavior
The tab that the user is switching away from is visible on the home screen without scrolling. The user can than switch back to that tab if they made a mistake, or easily go to the next or previous tabs as they wish.

Fennec does this correctly.

### Actual behavior
The home screen is loaded and the

[2019-04-19 18:00] boek opened #1828 "FNX-5270 ⁃ empty tab state"

[2019-04-19 18:05] LittleAngelwings commented on #1819
I think also it's better in both or none. It's more conformity about this feature.

[2019-04-19 18:36] sblatz commented on #1714
Thanks for the updated icons, @shorlander!

I'm labeling this blocked again until I have the "debug" icon. Shorlander mentioned he was working on it 😄

[2019-04-19 18:45] sblatz commented on #1821
This is a [known issue in a-c](https://github.com/mozilla-mobile/android-components/issues/2794)

[2019-04-19 18:59] boek opened #1830 "FNX-5272 ⁃ Update tab visual style"
![image](https://user-images.githubusercontent.com/1250545/56439311-878a8a80-629a-11e9-873e-adc18876bca7.png)

[2019-04-19 19:06] ekager commented on #1613
Thanks everyone for your ideas and research! We will need to get UX feedback on the current tab design before we can make any changes.

[2019-04-19 19:09] ekager commented on #1613
We actually have confirmed new UX for this and it is being worked on, follow along in https://github.com/mozilla-mobile/fenix/issues/1830

[2019-04-19 19:20] ekager commented on #1827
So you basically want the currently selected tab to always be at the top of the tab list?

[2019-04-19 19:24] kbrosnan opened #1833 "FNX-484 ⁃ [Bug] Address bar does not strip rich formatting"
## Steps to reproduce
* long press on the word **community**
* select copy
* paste the text into the address bar

### Expected behavior
* formatting is dropped

### Actual behavior
* formatting is preserved

### Device information
* Android device: Nexus 10 and Pixel 3
* Fenix version: April 19th build

[2019-04-19 19:28] kbrosnan commented on #1833
### More test text
*this is italic*

* bullet list one
* bullet list two
* bullet list three

1. number list one
2. number list two
3. number list three

[2019-04-19 19:35] andreicristianpetcu opened #1834 "FNX-5273 ⁃ [Bug] There is a line below the search that makes no sense"
`##` Steps to reproduce
Open the app, switch to dark theme.

### Expected behavior
No line bellow  search.

### Actual behavior
There is a line bellow search
![Screenshot](https://user-images.githubusercontent.com/922368/56440789-42df0d80-62f3-11e9-8420-7bba963b705b.png)UNITO-UNDERSCORE!20190419-223151!UNITO-UNDERSCORE!Fenix!

### Device information
![Screenshot](https://user-images.githubusercont

[2019-04-19 19:36] andreicristianpetcu commented on #1834
the line is there in light theme and private browsing

[2019-04-19 19:38] kbrosnan commented on #1279
This is not custom tabs this is basic functionality that needs to work before we ship. We must reliably accept links from other apps. Clearing priority for re-triage.

[2019-04-19 19:45] yoasif commented on #1827
I'm not saying that the tab _position_ should change - the list of tabs should just be scrolled so that the tab I am switching away from is at the top of the screen.

The search / address bar is sticky already, so no change there.

So if I had tabs:

tab 1
tab 2
tab 3
tab 4

and I am in tab 3 and tap the tab switcher button, I should then see:

<search box>
----
tab 3
tab 4

but I can still scroll

[2019-04-19 19:46] kbrosnan commented on #382
We need to fix this for MVP or remove the menu item in versions where it will do nothing. On Fennec 20% of our user base is on Android 5.1 or Android 6. The engineering requirements are fairly small once SUMO provides us with a link to the support article.

[2019-04-19 20:07] kbrosnan opened #1835 "FNX-5274 ⁃ [Bug] Crash when tapping bookmarks and address bar at the same time"
## Steps to reproduce
* visit a page
* swipe open the quick action bar
* tap bookmark and into the address bar at the same time (using two digits)

### Expected behavior
* race is won by one or the other

### Actual behavior
* crash

### Device information
* Android device: Pixel 3
* Fenix version: April 19th

[2019-04-19 20:30] mcomella opened #1836 "FNX-5275 ⁃ [Bug] "Switch" to private tab does not update to private toolbar"
## Steps to reproduce
* Visit a page
* Long press a link
* "Open in new private tab"
* Press "Switch" in snackbar

### Expected behavior
Toolbar UI turns to private browsing: grey & private tab count used

### Actual behavior
Toolbar UI stays in normal browsing: white & normal tab count used

### Device information
* Android device: pixel 2
* Fenix version: 1.0.1916

[2019-04-19 20:32] kbrosnan commented on #1835
Sentry issue: [FENIX-HE](https://sentry.prod.mozaws.net/operations/fenix/issues/5579833/)

[2019-04-19 20:37] mcomella opened #1838 "FNX-5276 ⁃ Ensure we're regularly testing on low-end devices"
I wanted to remind the team to test on low-end devices too, if you're not doing so already!

In particular, I'm concerned about how the device performs when the app is in memory but backgrounded (i.e. open app, load a page, hit home button, do something else). Back in the day, I noticed that Fennec slowed down my entire device (GS5) when the app was backgrounded, probably because Gecko was doing s

[2019-04-19 20:51] boek opened #1840 "FNX-5278 ⁃ Add Feature Flag for Collections"

[2019-04-19 20:55] kbrosnan opened #1841 "[Bug] Edit bookmark dialog does allows pasting of rich text"
## Steps to reproduce
* similar to #1833 but for the Edit Bookmarks dialog
* copy some rich text and paste it into the bookmarks dialog

### Expected behavior
* Plain text is pasted

### Actual behavior
* Rich text is pasted
* Formatting is removed when the bookmark is saved

### Device information
* Android device: Nexus 10 / Pixel 3
* Fenix version: April 19th

[2019-04-19 20:57] sblatz commented on #1224
I think this is likely related to: https://github.com/mozilla-mobile/android-components/issues/2794

[2019-04-19 21:01] kbrosnan commented on #1593
This sounds like a variant of #824

[2019-04-19 21:10] boek opened #1843 "FNX-5279 ⁃ Create tab group fragment flow"

[2019-04-19 21:19] ekager commented on #1593
Ah no I think this is just a theming issue that slipped through the cracks. This button doesn't exist anymore, closing

[2019-04-19 21:41] kbrosnan commented on #1593
Screenshot number 2 and 3 is still present on a self built version of Fenix from a few minutes ago.

[2019-04-19 21:48] ekager commented on #1593
Ah I see, let me try something and see if that fixes it :)

[2019-04-19 21:54] kbrosnan opened #1848 "[Bug] user agent for tablets is not correct, sends mobile UA"
## Steps to reproduce
Open Fenix on a tablet and check the user agent

### Expected behavior
User agent conforms to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox#Mobile_and_Tablet_indicators

### Actual behavior
Mobile user agent is sent

### Device information
* Android device: Nexus 10
* Fenix version: April 19th

┆Issue is synchronized with this [Jira Task](https: