[2021-03-22 10:53] hakkikaancaliskan commented on #18580
Duplicate of #18546

[2021-03-22 11:28] ebalazs-sv commented on #17616
This issue is reproducible on RC 87.0.0-rc.1 from 3/17 with Pixel 2 (Android 9).

[2021-03-22 12:14] sflorean commented on #18580
Thank you @iamiceparticle for report! Closing as duplicate of #18546.

[2021-03-22 12:14] #18580 closed

[2021-03-22 13:28] Amejia481 commented on #18418
@neha-b2001 thanks for interesting in this issue, as this is feature request the UX team has to review it first.

[2021-03-22 13:30] ebalazs-sv opened #18581 "[Bug][L10n] The ETP Standard (default) option is truncated"
## Steps to reproduce
1. Launch Fenix and set the language to Russian or Espanol;
2. Go to Settings -> ETP;
3. Observe the Standard (default) option;
### Expected behavior
The ETP Standard (default) option is visible.
### Actual behavior
The ETP Standard (default) option is truncated.
![rsz_screenshot_20210322-152049](https://user-images.githubusercontent.com/48799384/111997251-8536a800-8b23-11eb-

[2021-03-22 13:31] Amejia481 commented on #18496
@Meshikhah you can enable this under **Settings** -> **Private Browsing** -> **Allow screenshots in private browsing**.

[2021-03-22 13:39] Meshikhah commented on #18496
Here is the [video](http://imgur.com/gallery/GmGTJp6)

[2021-03-22 13:53] abodea commented on #18569
I checked this on the latest Nightly 3/22 with Google Pixel 4 XL (11).
Note that when I fast-forwarded there was a big delay until the sound started to play again.
The width depends on the device you are using.
What device (android version) are you using?
On chrome for example the sounds start a little bit faster when fast-forwarding.

[2021-03-22 13:58] neha-b2001 commented on #18418
Oh, okay.

[2021-03-22 14:02] Amejia481 commented on #18418
There are other good issue that you could be interested  https://github.com/mozilla-mobile/fenix/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2021-03-22 14:12] amedyne commented on #17797
@brampitoyo Any thoughts on the star icons for bookmarks?

[2021-03-22 14:14] neha-b2001 commented on #14716
Hello @eliserichards, if this issue is still unresolved, could I please work on this issue?

[2021-03-22 14:17] neha-b2001 commented on #18418
@Amejia481 Thanks, I'll definitely look into these  :+1:

[2021-03-22 14:21] Amejia481 commented on #18418
In that case, if it's been a long time without signs of active work (pull request or comments) ask the person to confirm.

[2021-03-22 14:25] ebalazs-sv commented on #15312
This issue is still reproducible on Release 87.0.0-rc.1, Beta 87.0.0-beta.6 and Nightly 3/22 with Pixel 2 (Android 9).

[2021-03-22 14:25] neha-b2001 commented on #18418
Okay, thanks 👍

[2021-03-22 15:02] sflorean commented on #18546
I was able to reproduce this issue and others linked here, on latest Nightly build.

[2021-03-22 15:17] Mugurell commented on #18578
This is how it was originally implemented in https://github.com/mozilla-mobile/fenix/issues/13766.
A possible motive would be that for actually inferring the search terms from speech we are using a Google service which will show this screen:

<img src="https://user-images.githubusercontent.com/11428869/112012808-2af11380-8b32-11eb-98ca-e57576d3fb37.png" width="33%" />

which maybe wouldn't bode we

[2021-03-22 16:21] bharat0to commented on #18581
I would like to work on this issue.

[2021-03-22 16:28] AnishaSingh0118 commented on #18318
hello, as an outreachy applicant and a complete beginner in open source community, I really want to work on this bug could you guide me with my first contribution to open source.

[2021-03-22 16:35] priyanka0906 commented on #18318
I am also an outreachy applicant.

[2021-03-22 16:37] badboy opened #18583 "`engine.tab_kills` made it to release"
Looks like the `engine.tab_kills` metric made it into release.
I guess the fix just missed the release window?

It was subsequently fixed, see below.
It will therefore fix itself with the next release I guess.

Original: #17864
Fix: #18115

[2021-03-22 16:39] sflorean commented on #17805
Verified as fixed on latest Nightly with the following devices:
- Samsung Note 10 (Android 11).
- Nokia 6 (Android 7.1.1)
- Pixel 3 (Android 11)
Regression 18546.

[2021-03-22 16:50] Amejia481 commented on #18581
Please free to work on it :)

[2021-03-22 17:12] isabelrios opened #18585 "[Unit Test] Fix OnboardingHeaderViewHolderTest for Nightly builds"
This [test](https://github.com/mozilla-mobile/fenix/blob/07748f69b75144e8e247b742f66a756f999cb299/app/src/test/java/org/mozilla/fenix/home/sessioncontrol/viewholders/onboarding/OnboardingHeaderViewHolderTest.kt#L18) is failing when unit tests run on Nightly builds.

It checks the [header text](https://github.com/mozilla-mobile/fenix/blob/07748f69b75144e8e247b742f66a756f999cb299/app/src/test/java/o

[2021-03-22 17:20] bharat0to commented on #18581
I made a pull request #18586. Here is the screenshot
![Screenshot_20210322-224452](https://user-images.githubusercontent.com/44504687/112031073-ef217280-8b60-11eb-93e6-cb5f96bb968b.png)

[2021-03-22 17:22] bharat0to commented on #18581
Did I make any mistake in PR as it is showing I have requested review from mozilla-mobile/act as code owners instead of mozilla-mobile/fenix?

[2021-03-22 17:32] kbrosnan commented on #18578
Duplicate of #15348

[2021-03-22 17:32] #18578 closed

[2021-03-22 18:33] kbrosnan commented on #13225
Looks like bz-1635722 resolved this. There are no crashes with the signature on recent builds.

[2021-03-22 18:33] #13225 closed

[2021-03-22 18:46] LongJohn-Silver commented on #3289
Since the P2 tag was removed does that mean it has more or less priority?

[2021-03-22 19:23] #6375 closed

[2021-03-22 20:05] kbrosnan commented on #17800
Part of what breaks this design is that we have not resolved if the homescreen is a tab or not. Previously it was not but that has become less clear over time. My understanding is resolving the tab status of the homescreen is out of scope for this issue.

* When the user toggles the request desktop site (RDS) the next load should be as a desktop site
* If the user clicks on links in the page that

[2021-03-22 20:07] amedyne commented on #18583
@badboy Closing this ticket since as you mentioned, the fix is in. Comment if you have other questions related to this.

[2021-03-22 20:07] #18583 closed

[2021-03-22 20:22] rocketsroger commented on #17791
Thanks, I can reproduce using custom tabs.

[2021-03-22 21:01] AnishaSingh0118 commented on #18318
Oh sorry do I commented on your comment?

[2021-03-22 21:02] AnishaSingh0118 commented on #18318
Oh so do I commented on your comment?

[2021-03-22 21:03] ItsDevyani opened #18589 "Adopt Default Browser Setting Without Leaving App like Duck Duck Go"
### What is the user problem or growth opportunity you want to see solved?
While doing competitive research on how other privacy-centric browsers are asking their users to set them as their default browser, I came across Duck Duck Go New User Onboarding cards. These cards prompt the user to switch their default browser to Duck Duck Go within the onboarding flow itself, without leaving the app to g

[2021-03-22 21:04] AnishaSingh0118 commented on #18318
Oh, nice to hear that, have you started your contribution?

[2021-03-22 21:06] hakkikaancaliskan commented on #18589
Firefox already using role manager api, that's available for Android 10 and later.
![Screenshot_20210323-000559_İzin_denetleyici](https://user-images.githubusercontent.com/17825767/112058366-91465800-8b6b-11eb-8da6-880dcd012ea7.png)

[2021-03-22 21:11] ItsDevyani commented on #18589
Adding a Comment from @st3fan from an email on this topic.

The Duck Duck Go browser is open source, and this is where they open this dialog:

  https://github.com/duckduckgo/Android/blob/develop/app/src/main/java/com/duckduckgo/app/browser/defaultbrowsing/DefaultBrowserSystemSettings.kt#L25

[2021-03-22 22:03] brampitoyo commented on #17797
@amedyne I’m happy to go with @violasong’s recommendation up above, of using an additional star for the action of adding and editing a bookmark:

[2021-03-22 22:25] evilpie commented on #13152
This is still a problem. This just needs an implementation.

[2021-03-22 23:23] eliserichards opened #18591 "Browser menu should always show the navbar"
Meta: #17796

🔴 Depends on https://github.com/mozilla-mobile/android-components/issues/9932

UX Figma designs (bottom right, labeled "Final designs"): https://www.figma.com/file/NHu4cTmzfYgi3QJz5DIDWD/Fenix-Toolbar-Menus?node-id=0%3A1

The bottom margin on the menu navigation is not correct because the navigation footer is scrollable (see comment below). This card should integrate the sticky foote

[2021-03-22 23:25] #15103 closed

[2021-03-22 23:28] eliserichards commented on #17904
https://github.com/mozilla-mobile/fenix/pull/17985

[2021-03-23 00:12] ItsDevyani opened #18592 "Develop a 'Default Browser' Local Notification for New Fenix Users"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-23 00:54] violasong commented on #17800
Thanks Kevin! This is a great overview of the different cases, and it sounds correct to me to do this now, and consider the  issues around homescreen becoming a tab separately.

[2021-03-23 01:25] vitaly-zdanevich commented on #18569
Yes, big delay, sometimes a few minutes, and sometimes infinity.

Android 8

[2021-03-23 02:06] #14975 closed

[2021-03-23 02:06] #14935 closed

[2021-03-23 02:06] #14938 closed

[2021-03-23 02:06] #14847 closed

[2021-03-23 02:06] #14825 closed

[2021-03-23 02:06] #14860 closed

[2021-03-23 02:06] #14861 closed

[2021-03-23 03:01] vitaly-zdanevich commented on #18569
I have only one Android.

Also very slow fast-seeking on stock browser, looks like it also try to fetch all previous audio :(

[2021-03-23 06:08] sheikh-azharuddin opened #18593 "[Bug] *critical* getting borders on full screen videos A11"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-23 06:13] sflorean commented on #18593
@sheikh-azharuddin thanks for the report! #18546 is already filed for you issue, and this scenario will be tested when the issue is fixed. Closing as duplicate.

[2021-03-23 06:13] #18593 closed

[2021-03-23 06:37] sheikh-azharuddin commented on #18593
Thanks ..just now downloaded new build and it seems issue is fixed...

Thanks again😃

[2021-03-23 06:58] Mugurell commented on #18589
This is pretty nice and would be a great addition to our UX, but that will not show a system dialog to change the default browser.
That code was added as part of https://github.com/duckduckgo/Android/pull/500 to highlight the default app the user is expected to change immediately after opening the system settings for default apps.
For security reasons this is the maximum Android offered on Android

[2021-03-23 07:07] Mugurell opened #18594 "Highlight the "Default browser" system setting when users try setting Firefox as default"
Seen in https://github.com/mozilla-mobile/fenix/issues/18589

Currently on Android >=N && <=Q when users tap in app settings to set Firefox as the default browser we will open the system settings for from where they can do so.
To go one step further and highlight the actual setting they are expected to change we can use Intent extras as [shown here](https://github.com/duckduckgo/Android/blob/7cfab

[2021-03-23 07:09] Mugurell commented on #18589
I've created #18594 to implement the highlighting the default browser system setting on Android >=N && Android <=Q.

[2021-03-23 07:11] Mugurell commented on #18589
Going by the first comment maybe we could also tweak our onboarding to prominently show the option of setting Fenix as a default browser if not already?

Asking UX about this.

[2021-03-23 07:36] Mugurell commented on #18592
I see a few important advantages of Leanplum that will require significant effort to develop on our own. If we need them:
- The ability to show fully customizable (size, placement, colors, text, images) in-app banners. Don't think these were used on Fenix yet but they were important on Fennec.
- A/B testing with the ability to even have server overriden resources - text/images.
- A complex targeti

[2021-03-23 07:56] Mugurell commented on #14839
There were many changes in the meantime but haven't verified if this is fixed.
Let's consider it's not and reopen the ticket.

[2021-03-23 08:01] mcarare commented on #17800
@kbrosnan, thanks for the details. I have one thing I would like to point out. With the home screen not being a tab, when we navigate to it we do not actually already create a new tab. The tab is created after typing an URL and navigating, the same as loading from history, bookmarks, or external app. So we are not creating a state for an existing tab, but a state for the entire app that we have to

[2021-03-23 08:09] Mugurell commented on #18569
@abodea Can you please try the same file on other devices / browsers and on GVE also?
Also, what's the delay you are seeing. I see around 1 second which I think is reasonable.
I'm curious if there's a pattern to be seen.
It may be possible that the issue is because of the connection or just unrelated to the app if it's reproducing in other situations also.

[2021-03-23 08:44] Dunexus commented on #14839
Still reproducible on latest nightly with both top and bottom bar.

[2021-03-23 09:35] cadeyrn opened #18596 "[Bug][LeakCanary] (regression) CoordinatorLayout leaked"
### Steps to reproduce

1. Start Firefox.

### Expected behavior

No leak.

### Actual behavior

[code]

### Device information

* Device vendor / model and Android version: OnePlus 7T Pro McLaren Edition / Oxygen OS 11 (Android 11)
* Firefox for Android version: master branch revision d0a45bab21a177b57c14dbee8ec6a57bbd8435be

[2021-03-23 10:32] mcarare commented on #18596
This is reproducible even without changes from https://github.com/mozilla-mobile/fenix/commit/d0a45bab21a177b57c14dbee8ec6a57bbd8435be.

[2021-03-23 10:41] cadeyrn commented on #18596
@mcarare I noticed it as well that you don't have to open the new submenu. I edited the steps to reproduce shortly before your comment. I was tricked by the fact that LeakCanary needs a few seconds to report the leak and because I tested the new submenu it was always reported when I opened the menu. But in fact it's already enough to start Firefox and not related to the new submenu. 😅

[2021-03-23 11:43] mcarare commented on #18596
After further investigation, this only happens when having opened tabs, and the `HomeFragment` is destroyed and the app navigates to browser fragment after cold start.

@mcomella Although the info from LeakCanary points to another direction, this leak seems to originate from measuring the duration of `HomeFragment.onViewCreated`.
`funcToMeasure` also contains a `consumeFrom` that keeps a reference

[2021-03-23 11:54] Mugurell commented on #18591
@eliserichards I think in your case the list of menu options overflows the screen and is scrollable like here?

https://user-images.githubusercontent.com/11428869/112141787-6d702a00-8bde-11eb-8c95-7ad35189a064.mp4

The margins are right but the item may seem clipped because the menu does not fit the screen and is turned scrollable.
So the above behavior is expected.

I proposed here - https://gith

[2021-03-23 13:35] givianw opened #18598 "[Bug] Can't add custom search engine "https://searx.info/?q=%s""
try to add "https://searx.info/?q=%s" in search settings

#### reproducible
* 87.0.0-rc.1 (Build #2015799097)
* Nightly 210323 05:01 (Build #2015800297)

android 9,  samsung galaxy j7 nxt

[2021-03-23 13:39] cadeyrn commented on #18598
Please see #11332.

[2021-03-23 14:31] #17791 closed

[2021-03-23 14:52] Amejia481 opened #18603 "Intermittent UI test failure - SmokeTest .startBrowsingButtonTest"
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7598221261573186104/executions/bs.97856f7257f72b70

[code]

[2021-03-23 15:05] sflorean commented on #18598
@givianw thank you for the report! I was able to reproduce this on latest Nightly build with LG G7 (Android 8.1), following your steps.
Please check the solution posted in the above comment and let us know the result. I will close this as duplicate.

[2021-03-23 15:05] #18598 closed

[2021-03-23 15:54] Amejia481 commented on #18546
We reverted https://github.com/Amejia481/fenix/commit/f2df63166a8d6e30f7471a574566e5eaffba43ea as we believe is the source of the issue, we would like to confirm if the issue is still present.

[2021-03-23 15:59] #18240 closed

[2021-03-23 16:18] MishterKirby commented on #8282
Closing because it has been fixed (and I forgot about closing this issue for about half a year).

[2021-03-23 16:18] #8282 closed

[2021-03-23 16:48] johnthepepper opened #18606 "Bookmarks"
I think bookmarks should be like file system (I'm sorry for google translate)

[2021-03-23 17:25] eliserichards commented on #17796
Additional bugs/stories:
- [x] Persist open in app in main menu: #18461
- [x] Report site issues on Nightly/Debug: https://github.com/mozilla-mobile/fenix/issues/18032
- [ ] Margins for main navigation #18591
- [ ]

[2021-03-23 17:49] kbrosnan commented on #18606
This is probably a request to export bookmarks. Which makes it a duplicate of https://github.com/mozilla-mobile/fenix/issues/417

[2021-03-23 17:49] #18606 closed

[2021-03-23 17:52] violasong opened #18607 "Make the homescreen a real tab instead of a state"
This bug can serve as a central place for all issues related to making the homescreen a tab.

Problems:
- Destruction of navigation stack: I often run into the issue of tapping Back one too many times, getting to the homescreen, and then not being able to go Forward. This can easily happen when the back functionality is unclear or broken on Single Page Applications, etc.
- Other browsers including

[2021-03-23 17:54] ItsDevyani commented on #18375
Project Update:
- Nicole Weber has made the designs for this experiment and they are ready to be shared as needed.
- We have has discussions with the Nimbus Team to launch this as a Nimbus Experiment.

[2021-03-23 17:56] #18607 closed

[2021-03-23 18:08] ItsDevyani opened #18608 "Fenix Toolbar Menu Experiment: (Test branch 1: Menu includes Default Browser as a visible option, Control: Default Browser not an option)"
## User Story
- As a user, I want to know how I can easily set up Fenix as my default browser when I click the Toolbar menu.

## Dependencies

-  [Toolbar Menu Test design option (done)](https://www.figma.com/file/YvvFxwXKonLkvdF0ZcL63Y/Design-feedback?node-id=0%3A1)
-  Nimbus SDK integration with Fenix - [Implementation guide](https://mozilla.github.io/experimenter-docs/fenix-engineers/)
- DS res

[2021-03-23 19:00] Mugurell commented on #8456
Does this still reproduce on the current Nightly?

[2021-03-23 19:06] amedyne commented on #17797
Thanks for providing the feedback @brampitoyo

[2021-03-23 19:55] Amejia481 commented on #18484
Closed by https://github.com/mozilla-mobile/fenix/pull/18503#issuecomment-805191740

[2021-03-23 19:55] #18484 closed

[2021-03-23 20:00] #18242 closed

[2021-03-23 20:30] kglazko commented on #17798
Github isn't automatically linking to the WIP PR for some reason, can see progress here https://github.com/mozilla-mobile/fenix/pull/18609

[2021-03-23 20:34] eliserichards commented on #18318
Hey @priyanka0906 and @AnishaSingh0118! I'm so excited for you to begin your contributions! Since @priyanka0906 commented first, I think you can pick up this issue.

Feel free to ask any questions here, in your Pull Request, or on the [Fenix Matrix channel ](https://chat.mozilla.org/#/room/#fenix:mozilla.org)

[2021-03-23 20:37] eliserichards commented on #18317
Hi @sanyud24! Are you a Outreachy applicant? 😄

[2021-03-23 20:38] mcomella commented on #18381
@dblohm7 What do we need to do to set up the APK to build correctly?

[2021-03-23 20:38] MarcLeclair commented on #18381
I'm waiting on Perftest to work on my computer to be able to finalize my timing measurement.

[2021-03-23 20:39] eliserichards commented on #14716
Hi @neha-b2001! Are you an Outreachy applicant? If so, please feel free to work on this issue 😄

[2021-03-23 20:59] #14736 closed

[2021-03-23 20:59] eliserichards commented on #17190
## For QA

Fenix decides it's language in two ways: either following the device language, or choosing one from Fenix settings. When the user chooses a language in Fenix, we no longer care if the user changes their device language (we persist the language set in the app).

Steps to test this fix:
1. Open Fenix
2. Open a private tab(s), see the notification in the system notifications
3. Go to Fenix

[2021-03-23 21:05] sanyud24 commented on #18317
Yeah, I'm from India,  thanks a lot! ..I'll start working on this issue

[2021-03-23 21:33] Ruin0x11 commented on #17525
I don't understand why this was closed. I'm still encountering this issue on a near-daily basis, not only when killing Firefox manually but when its process gets killed by Android after going into the background, such as after reading a PDF opened through an external link. I have to manually go through the effort of looking back in my page history to find the last page I was viewing. I can reprodu

[2021-03-23 21:40] Ruin0x11 commented on #17525
Video:

https://user-images.githubusercontent.com/6700637/112222189-a3fd7300-8be5-11eb-9371-0d0d31c72a4b.mp4

[2021-03-23 21:42] keegan-lillo commented on #18546
This appears to be fixed for me on version 24.5.13-21 [0] [PR] 363015067
Pixel 4 - Android 11

Not sure if it's related but search suggestions being scrolled down when using bottom navigation is also fixed. Thanks for all the hard work!

[2021-03-23 21:42] eliserichards commented on #17979
Hi @RiyaJ2311! I will add some more info to the description for you :)

[2021-03-23 22:03] Delphine commented on #17168
Hmm I just checked against the latest Beta I have, which is 97.0.0-beta.6 from 3/16; and this string appears translated for all locales.
Could you please recheck? (They have been translated for over 2 years)

[2021-03-24 00:19] brampitoyo opened #18612 "[Spike] Usage of custom built vs native Android/Material components"
## Description

Fenix UI uses multiple components. Below is a non-exhaustive list:

- Bars
    - App bars: top (e.g. top of Settings)
    - Toolbars: bottom (e.g. address bar with ⋮ Application menu in it)
- Cards
    - Collection cards
    - Onboarding cards
- Controls
    - Buttons and Floating Action Buttons
    - Checkboxes, Radio Buttons and Switches
    - Lists (e.g. items within in ⋮ Applic

[2021-03-24 00:52] priyanka0906 commented on #18318
Thankyou  for assigning.

[2021-03-24 00:54] priyanka0906 commented on #18318
@AnishaSingh0118 not yet ....this would me my first contribution  for outreachy.

[2021-03-24 01:28] sharbet commented on #18546
yep. fixed.

[2021-03-24 02:09] AnishaSingh0118 commented on #18318
On Wed, 24 Mar 2021, 2:04 am Elise Richards, ***@***.***>
wrote:

Can you suggest me some other beginner friendly issues that I can work on,
it would be really helpful.

[2021-03-24 02:31] yichiehc commented on #18594
Hi,
May I try and work on this issue? Thanks!

[2021-03-24 02:57] neha-b2001 commented on #14716
Yes, @eliserichards, I am an Outreachy applicant😄
Okay, I'll start working on it right away. Could I please be assigned this issue?

[2021-03-24 03:00] neha-b2001 commented on #17903
Hello, @eliserichards. I am an Outreachy applicant.

[2021-03-24 03:38] jonalmeida commented on #13907
Let's keep this since it was filed as a view regression and we should address/verify if it no longer exists before closing.

[2021-03-24 06:14] Mugurell commented on #18594
Sure!
Thank you!

[2021-03-24 06:27] HubKing commented on #15445
I think that there are 3 types of zoom in web browsers. I do not know their official terms, so I will just name them arbitrarily for the sake of argument.

- Z1: The smooth zoom that increases everything in the exact same ratio and does not change the layout. After zooming in, it only shows a portion of the page, and you would have to pan to see other parts.
- Z2: The zoom that can be invoked by C

[2021-03-24 07:24] ebalazs-sv commented on #17168
This issue is reproducible on Beta 87.0.0-beta.6 from 3/16 with Pixel 2 (Android 9).
Screenshot with the issue:
![rsz_screenshot_20210324-091716](https://user-images.githubusercontent.com/48799384/112270761-c4c7d600-8c82-11eb-95f4-ff8d3d92c44c.png)

[2021-03-24 07:58] black7375 commented on #15445
I know it's Z3 and it's for low vision.

[2021-03-24 08:15] HubKing commented on #15445
But Z3 makes text clipped out.
![Screenshot_20210324-171306](https://user-images.githubusercontent.com/10900489/112276866-86530b00-8cc4-11eb-8e76-743f7830caeb.png)

[2021-03-24 08:38] black7375 commented on #15445
I think we should fix the layout breaking.
It's good to have the Z2 implementation as an option.

[2021-03-24 09:57] mcarare commented on #17799
Note for QA: Label should still say add-ons, following decision made here: https://github.com/mozilla-mobile/fenix/issues/18534.

[2021-03-24 11:17] clientenq opened #18616 "[Bug] top url bar removed during search"
In nightly: when selecting search on page the url bar, tabs and menu are removed until search close. This happens when the url bar is placed at the top. Also the removed items are not filled, thus leave empty space at top.

## Steps to reproduce
Use nightly
Place url bar at top
Open random url
Select search on page
Search bar displays at bottom
Url bar, tabs and menu disapear
Space of url bar, tab

[2021-03-24 12:35] Mugurell commented on #18616
This is happening because we are explicitly removing the top toolbar [here](https://github.com/mozilla-mobile/fenix/blob/07748f69b75144e8e247b742f66a756f999cb299/app/src/main/java/org/mozilla/fenix/components/FindInPageIntegration.kt#L36) and the browser does not follow-up to cover the now empty space.

We could either update [EngineViewBrowserToolbarBehavior](https://github.com/mozilla-mobile/and

[2021-03-24 12:40] Mugurell opened #18617 "Resolve EngineView#InputResult deprecation from AC"
https://github.com/mozilla-mobile/android-components/pull/9963 will deprecate EngineView#InputResult.

This is currently used in [DynamicDownloadDialogBehavior](https://github.com/mozilla-mobile/fenix/blob/07748f69b75144e8e247b742f66a756f999cb299/app/src/main/java/org/mozilla/fenix/downloads/DynamicDownloadDialogBehavior.kt) which needs to be migrated to the new `InputResultDetail` api.

[2021-03-24 12:48] LaurentiuApahideanSV commented on #15302
The issue still occurs on Firefox Nightly 210324.
### Device used:
- OnePlus 6T (Android 9)

[2021-03-24 12:52] sflorean commented on #17190
Verified as fixed on latest Nightly build with Pixel 3 (Android 11).

[2021-03-24 12:52] #17190 closed

[2021-03-24 12:53] mcarare commented on #18464
@clientenq Can you please give an example of a site where this happens? Maybe also post a video? What ETP settings are you using?
I have tried some sites that request to send you push notifications and the request is not repeated after denying it.

[2021-03-24 12:54] LaurentiuApahideanSV commented on #17799
Verified as fixed on the latest debug build downloaded on the 24th of March.
### Devices used:
- OnePlus 6T (Android 9)
- Google Pixel 3 XL (Android 9)

[2021-03-24 12:54] #17799 closed

[2021-03-24 13:31] mcarare commented on #18496
@Meshikhah Thank you for the video!
I still cannot reproduce this following the steps in shown.
What setting do you have for Theme? Does this reproduce with other settings for Theme options? Thank you.

[2021-03-24 13:57] Meshikhah commented on #18496
@mcarare I am using light theme. And i have enabled "open links in private tab"

[2021-03-24 14:12] mcarare commented on #18496
@Meshikhah What Android version does your J7 prime phone have?

[2021-03-24 14:13] Meshikhah commented on #18496
Andorid 8.1.0

[2021-03-24 14:40] sflorean commented on #18496
I was able to reproduce this issue on Nightly 3/24, following the steps/video with LG G7 Fit (Android 8.1.0).

[2021-03-24 14:51] GavinBrelstaff commented on #18135
I have an addon that uses innerHTML on the web pages dervd by google calendar.
So naturally I cannot expect it to be hosted on Mozilla store.
So I host it myself and give instructions on how to install it - https://quicklook-606e5.firebaseapp.com/ 6

For the current version of Firefox on Android this is no longer possible - by design.

Is there any future scenario where this limitation may eventua

[2021-03-24 14:55] sflorean opened #18620 "[Bug]Menu animation when opening Settings - on Nightly"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-24 15:14] Mugurell commented on #18620
@gabrielluong The setting that vanishes is the "Credit cards" ones introduced in #18240.

[2021-03-24 15:21] sv-ohorvath commented on #13281
Flaky on master 3/23: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7219997275091789666/executions/bs.a79066457301a2b2/testcases/1/test-cases

[2021-03-24 15:25] mcarare commented on #17168
Opened https://github.com/mozilla-mobile/android-components/issues/9964 in AC for tis issue.

[2021-03-24 15:30] Mugurell commented on #18620
If this logic will remain - certain preferences need to be dynamically shown / hidden we can make it work without the visual artifact but wondering if maybe this settings will always be there when getting to beta so the issue will be fixed by itself.

[2021-03-24 15:40] gabrielluong commented on #18620
Perhaps we can make the "Credit cards" hidden in the XML layout to be hidden for the time being so we aren't hiding it dynamically.

[2021-03-24 16:06] AaronMT opened #18622 "Fix device offline problem with sync integration UI tests"
One of the last issue with turning the sync integration UI tests back on (API 28) on the MacStadium Mac instance is it is exiting early while waiting for the device to start up. I

E.g, in ```org.mozilla.fenix.syncintegration.SyncIntegrationTest#checkHistoryFromDesktopTest'```

[code]

It's possible that the script that is ran (https://github.com/mozilla-mobile/fenix/blob/master/app/src/androidTes

[2021-03-24 16:21] Mugurell commented on #18620
The issue seems to be that the `update` method which sets the visibility of certain preferences is called in Fragment's `onResume` - "long" after they are initially displayed.
If starting with some preferences hidden and then we check and display them we'd see the same issue.
If we'll need to avoid this entirely we should build the preference tree before onResume (I'd say why not in onCreate?).

[2021-03-24 16:30] AaronMT opened #18623 "Fix Gradle task name in gradlewbuild.py"
Fix Gradle task name in [gradlewbuild.py](https://github.com/mozilla-mobile/fenix/blob/master/app/src/androidTest/java/org/mozilla/fenix/syncintegration/gradlewbuild.py#L24)

connectedGeckoNightlyDebugAndroidTest -> connectedDebugAndroidTest

[2021-03-24 16:33] sflorean commented on #17790
Verified as fixed on Nightly 3/24 with Pixel 3 (Android 11), Lg G7 Fit (Android 8.1).

[2021-03-24 16:33] #17790 closed

[2021-03-24 16:38] dblohm7 commented on #18381
Two things:
* Shared libraries need to be stored, not deflated;
* Shared libraries need to be page-aligned in the apk.

[2021-03-24 17:59] Delphine commented on #17168
Hmmm I'm wondering how come on the same build, I see that string translated 🤔

[2021-03-24 18:16] Mikaka27 commented on #18445
Hi sorry for late response. I just retried, and after refreshing the page the widget also get's stuck when I hit "update location" button (it seems that button is different when location permission is already given).

For me it seems to always get stuck. Only exception was the first page reload after giving permanent location permission.

[2021-03-24 18:44] mrandreastoth commented on #17791
I have been keeping tabs on this issue and have not been able to reproduce it for some time now.

[2021-03-24 18:49] mrandreastoth commented on #18046
This issue still remains forcing me to open links via different browsers. It's really annoying and also means Firefox doesn't see as much use as it should. In fact, I'm starting to like Brave, although I do miss some Firefox features that Brave doesn't have. But this is not good for Firefox's reputation. As such this issue must be taken more seriously.

[2021-03-24 18:52] rocketsroger commented on #18592
For adding the notifications, I have some clarification questions that might affect the amount of work:
1. How accurate is the timing of the notification?  Can it be +/- an hour? (minutes?)
2. Are we OK with inaccurate notification in some corner cases?  For example the user might have set Fenix as default browser with Fenix not running.
3. Is the notification(s) one time only? Or will we notify a

[2021-03-24 19:01] Amejia481 opened #18627 "Update the cookie bocking string based on the new cookies preference for Private Browsing Mode"
Gecko will be introducing a new preference that will [change the way that cookies work on Private Browsing Mode](https://bugzilla.mozilla.org/show_bug.cgi?id=1695050) for  adapting to this feature we will need:

* A new string for when the preference change.
* [Expose the new API from GV](https://bugzilla.mozilla.org/show_bug.cgi?id=1700750) to detect when the preference change.
* Update Fenix int

[2021-03-24 19:28] Amejia481 opened #18629 "Add support for SmartBlock exceptions"
The desktop team is working on a [new feature](https://bugzilla.mozilla.org/show_bug.cgi?id=1699667) for [SmartBlock](https://blog.mozilla.org/security/2021/03/23/introducing-smartblock/) (Shimming), it will unblock automatically some resource that were previously blocked based on some heuristics. It will requires:

* Updating the tracking protection panel with new strings and section.
* [Updating

[2021-03-24 19:33] #18623 closed

[2021-03-24 19:43] Amejia481 opened #18630 "Add support for the Storage Access API prompt"
[Storage Access API](https://developer.mozilla.org/en-US/docs/Web/API/Storage_Access_API) helps prevent website breakage in ETP Standard mode, it's needed to enable multiple use cases like paying with third party services.

[2021-03-24 19:47] Amejia481 commented on #18630
This will also require https://github.com/mozilla-mobile/android-components/issues/9391

[2021-03-24 19:48] AaronMT opened #18631 "UI test failure in syncintegration.SyncIntegrationTest#checkAccountSettings"
As part of an effort to re-wire up SyncIntegrationTests on a Jenkins instance, we should fix this failure.

[code]

[code]

https://github.com/mozilla-mobile/fenix/blob/master/app/src/androidTest/java/org/mozilla/fenix/ui/robots/AccountSettingsRobot.kt

(CC @isabelrios)

[2021-03-24 20:51] mcomella commented on #17645
Triage: add to triage just to update csadilek on status. csadilek recommends filing against GV which we think we should do once we have profiler markers so we can show them what's happening and make it more actionable for them https://github.com/mozilla-mobile/perf-frontend-issues/issues/191. Let's not land the change until we fix this issue.

[2021-03-24 21:26] mcomella commented on #18596
Triage: action item is to check out the code before and after the probe is added (for theory from https://github.com/mozilla-mobile/fenix/issues/18596#issuecomment-804835006) and see if we can reproduce. If not, ask csadilek. If so, maybe implement probe an alternative way.

[2021-03-24 21:26] mcomella commented on #18548
Triage: we raised this with Stefan as a releng task: adding to inter-team board.

[2021-03-24 21:28] Amejia481 commented on #18376
The experiment changes completely how the "turn sync UI" works, do we have UI mocks for the multiple states on which this setting could be? They are **Authenticated**, **LoggedOut** (the one is showing) and **Authentication Problems**.

![image](https://user-images.githubusercontent.com/773158/112385416-fc0ba680-8cc5-11eb-9ad5-21530189552a.png)

[2021-03-24 21:32] mcomella commented on #17005
Thanks for clarifying – I understand now that the crash occurs after the screen is turned off but not when it's turned on. It sounds like this may still be related to the tabs reloading when the device is turned on.

Interesting. It's possible this type of crash isn't caught by our crash reporter. If so, **it won't show up in crash stats and this could be happening a lot in the wild without us kno

[2021-03-24 23:59] FilipePS opened #18633 "i18n.detectLanguage does not work"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-25 04:49] ItsDevyani commented on #18376
Hello Nicole,

Can you please help with these additional views of the Settings menu?

Thanks,
Devyani

On Wed, Mar 24, 2021 at 2:28 PM Arturo Mejia ***@***.***>
wrote:

--
Thanks,
Devyani

[2021-03-25 05:16] StSav012 commented on #17005
Indeed, such lines seem to mark the moments when the crash happens. I watched the browser by turning on the screen at random time. As soon as such a line appears in the log, the tab gets reloaded in front of my eyes. If I turn the screen on before the line manifests, I see the tab as I left it.

Firefox is the best browser for Android so far, so I really need it to be as perfect as it's technicall

[2021-03-25 07:21] AndiAJ opened #18635 "[Bug] Intermittent UI test failure - SmokeTest - closeTabCrashedReporterTest"
• Debug 3/24:

`closeTabCrashedReporterTest`

[Firebaselink](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5683141062743527456/executions/bs.472a073c54cb70d6/testcases/2/test-cases)

androidx.test.espresso.NoActivityResumedException: No activities in stage RESUMED. Did you forget to launch the activity. (test.getActivity() or similar)?
at

[2021-03-25 08:22] vitaly-zdanevich commented on #4049
For saving of pages for offline you can try [Pocket](https://app.getpocket.com/) or [Evernote](https://evernote.com).

[2021-03-25 08:24] lobontiumira commented on #14290
Reproducible with Beta 88.0.0-beta.1 with a x86 emulator Nexus 9 (Android 9).

[2021-03-25 08:26] lobontiumira commented on #13005
Reproducible with Beta 88.0.0-beta.1 with a x86 emulator Nexus 9 (Android 9).

[2021-03-25 09:26] barcadams0 opened #18636 "Missing features in Firefox Android"
As long as it is impossible to send feedback to Firefox via official feedback page (https://qsurvey.mozilla.com/s3/Give-feedback-landing-page)  for months, I try to use different channels.
I think it is a main issue, that the features available on desktop and mobile firefox are not standardized. E.g. we can't make full webpage screenshot and search in browsing history.
I think both would be useful

[2021-03-25 09:28] lobontiumira commented on #10737
Reproducible with Beta 88.0.0-beta.1 with a x86 emulator Nexus 9 (Android 9).

[2021-03-25 09:47] AndiAJ commented on #15069
Reproducible on **`Firefox 88.0.0 Beta 1`** using a OnePlus A3 (Android 6.0.1)

[2021-03-25 10:03] cadeyrn commented on #18636
Please make only one feature request per issue. Otherwise it's not possible for the team to label your requests accordingly.

Your requests are both duplicates of already existing feature requests: #89, #10046.

[2021-03-25 10:22] AndiAJ commented on #11819
Still reproducible on **`Firefox 88.0.0 Beta 1`** using a OnePlus A3 (Android 6.0.1)

[2021-03-25 10:27] ildar commented on #4049
That kind of advice is good for some and unacceptable for others.
Hence cannot be considered as a solution.

[2021-03-25 10:38] rolfausohnder commented on #4049
Does anybody know the reasons why this is such a problematic issue in the first place ?

[2021-03-25 10:44] AndiAJ commented on #7491
Still reproducible on **`Firefox 88.0.0 Beta 1`** using a OnePlus A3 (Android 6.0.1)

[2021-03-25 11:33] lbalmaceda commented on #15202
Hi team, any updates on this matter?

[2021-03-25 11:47] ebalazs-sv commented on #14147
This issue is reproducible on Beta 88.0.0-beta.1 with Samsung Galaxy Tab S3 (Android 8).

[2021-03-25 11:49] mcarare commented on #18496
Also noticed that stats bar color is also wrong, not just the preference screen background.

[2021-03-25 12:00] FluorescentHallucinogen commented on #7651
Any news? )

[2021-03-25 12:56] ebalazs-sv commented on #5298
This issue is reproducible on Beta 88.0.0-beta.1 with Samsung Galaxy Tab S3 (Android 8).

[2021-03-25 13:36] Amejia481 commented on #18553
We can close this as we already created https://github.com/mozilla-mobile/fenix/tree/releases_v88.0.0

[2021-03-25 13:36] #18553 closed

[2021-03-25 13:55] topotropic commented on #18376
Sure, I added the logged in state (https://www.figma.com/file/w8vFnZ05xMgDPkEb9r0r35/R89?node-id=0%3A1).

@Amejia481 what auth problems do we support here and how can I reproduce them? We don't have them documented in our existing files. Thanks!

[2021-03-25 14:07] priyanka0906 commented on #18318
@eliserichards content description is to be added to each view in logins_item.xml ?

[2021-03-25 14:20] Amejia481 commented on #18376
Thanks 😊
I think the only one is when users are signed in but they need to re-authenticate as the password has changed on another device.

<img width="355" alt="image" src="https://user-images.githubusercontent.com/773158/112487633-42f3ad80-8d53-11eb-92bb-bdbefbdeaf4f.png">

[2021-03-25 15:30] topotropic commented on #18376
Thanks, Arturo! I added the case https://www.figma.com/file/w8vFnZ05xMgDPkEb9r0r35/R89?node-id=0%3A1

[2021-03-25 15:57] Mugurell commented on #18243
@gabrielluong Was looking into helping with a review but I see there's no PR yet.
It the work done and ready to review?

[2021-03-25 16:33] AaronMT commented on #18631
I think the issue is the selector can't find the login text fields.

[2021-03-25 17:04] AnishaSingh0118 commented on #14716
Hey, Is this issue too hard to begin with?

[2021-03-25 17:31] gabrielluong commented on #18243
Not yet ready for review. I am expecting it to be up for review early next week. I will flag you when it's up. Thanks!

[2021-03-25 17:33] Amejia481 commented on #18373
I filed an issue on the Google issue tracker for Android https://issuetracker.google.com/issues/183634603

[2021-03-25 17:43] ItsDevyani commented on #18589
I'm closing this issue since this flow is now in Beta 88 and will land in Fenix 88 Prod as the default browser flow. I'll file a separate issue for landing an experiment that tests showing this flow with Default borwser messaging like is in DDG above.

[2021-03-25 17:43] #18589 closed

[2021-03-25 18:24] mcarare commented on #18636
@barcadams0 Thank you for your report. This will be closed as duplicate as the requests are already made in other issues, like @cadeyrn mentioned.

[2021-03-25 18:24] #18636 closed

[2021-03-25 18:30] mcarare commented on #18633
@FilipePS I suppose you use this for a web extension. Does this work on Firefox for desktop?

[2021-03-25 18:32] AnishaSingh0118 commented on #9593
Hey, is this issue too hard to begin with ?
I really want to work on this.

[2021-03-25 18:43] #15057 closed

[2021-03-25 18:43] #15191 closed

[2021-03-25 18:49] eliserichards commented on #16213
Designs: https://www.figma.com/file/bZyKtDQECrnkiW6uhGxlwG/Nimbus?node-id=104%3A17984

[2021-03-25 19:05] FilipePS commented on #18633
Yes

[2021-03-25 19:08] eliserichards commented on #9593
Hi @AnishaSingh0118! I think this would be a great issue to start with. I will assign it to you 👍

[2021-03-25 21:03] ADV357 opened #18640 "Scrolling is bad"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-25 21:04] ADV357 commented on #18640
Please make the web pages scrolling smoother and faster

[2021-03-25 22:10] aL3xa opened #18641 "[Bug] Fill link from clipboard overlaps search engines"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-25 22:16] yichiehc commented on #16830
Hi @eliserichards,
I'm an Outreachy applicant. May I work on this issue? Thanks!

[2021-03-25 22:29] mcarare commented on #18641
"Fill link from clipboard" should be hidden when "Search engine" is tapped.

[2021-03-26 00:47] orchidalloy commented on #18547
This also happens to me when sharing jpeg images from Google.

Motorola G8 Power on Android 11.

[2021-03-26 01:04] orchidalloy commented on #12414
I've also encountered the problem where images can't share to WhatsApp

[2021-03-26 02:18] nestep commented on #12731
I have the same issue. It's infuriating. If I even hit the "switch app" button, and go back to Firefox without choosing a different app, it reloads the page. It's made it impossible to copy/paste codes to login to websites, or fill in credit card information, etc. All I ask is for the current tab to stay IN MEMORY for as long as there's memory to use!

Running Samsung Galaxy S9. I've experienced t

[2021-03-26 03:20] AnishaSingh0118 commented on #9593
Thank you for assigning 😊

[2021-03-26 06:07] privilegejunkie commented on #17034
So I'm pretty sure I have been seeing this almost daily. Easily reproducible when browsing the reddit mobile site when there is a lot of video content.

[2021-03-26 06:40] Mugurell commented on #18547
I tried the two links posted in the first comment and for me sharing to WhatsApp and Evernote works as expected.

https://user-images.githubusercontent.com/11428869/112591748-81e63980-8e0d-11eb-96d9-56172a079aca.mp4

Saw an issue with Telegram not recognizing webp files - https://github.com/mozilla-mobile/fenix/issues/18547 and it's possible other apps don't recognize different formats.
So it's ve

[2021-03-26 07:04] AndiAJ commented on #13123
Hi, still reproducible on **`Firefox 88.0.0 Beta 1`** using a OnePlus A3 (Android 6.0.1)

[2021-03-26 07:14] sflorean commented on #18546
Confirming that the issue is not longer displayed on latest Nightly build.

[2021-03-26 07:14] #18546 closed

[2021-03-26 07:38] Mugurell opened #18644 "Intermittent UI test failure - Failing UI tests closePrivateTabsNotificationTest & testDownloadNotification"
Seen in all recent PRs.

Failing tests:
- [closePrivateTabsNotificationTest](https://github.com/mozilla-mobile/fenix/blob/23cc3522aa1e5b4a85ae708ac5c4c2f79e7922b0/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt#L222) - [FB link](https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/4829818326930680924/executions/bs.a7cdfbf9b2e72fc7

[2021-03-26 09:52] AndiAJ commented on #18644
Hi, just checked the 6 PR's that are failing due to `ui-test-x86-debug`

The failures are caused by these tests:
► `closePrivateTabsNotificationTest`
► `testDownloadNotification`
► `verifyExpandedCollectionItemsTest`
► `closeAllTabsTest`
► `testStrictVisitSheetDetails`
► `verifyBasicNavigationToolbarFunctionality`

## • PR [Import strings from android-l10n.](https://github.com/mozilla-mobile/fenix

[2021-03-26 10:00] Mugurell commented on #18616
Looked into offering better upstream support for this (in BrowserToolbar / it's / EngineViews behavior) but it seems like a lot of changes needed to support very specific scenarios:

- top toolbar, not dynamic:
  - toolbar must disappear
  - browser must keep it's size but move up
- top toolbar, dynamic:
  - toolbar must disappear
  - browser must become smaller with the height of the find in page

[2021-03-26 10:13] Mugurell commented on #18644
Looked into this, I don't see any recent modifications that could've caused these fails.
When trying to run the ui tests locally I get more failing, @mcarare has all them passing so it's hard to even start working on them.
Talked with @sv-ohorvath which recommended disabling these tests to unblock PR merging.

[2021-03-26 10:27] Jordandev678 commented on #14582
@jonalmeida I don't believe so, should be good if those are merged and released.

[2021-03-26 11:37] AndiAJ commented on #13281
• Debug 3/26:
► Flaxy 1x deleteAllHistoryTest

[code]

[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7563533669572556240/executions/bs.f791cac5b44c0ccb/testcases/1/errors)

[2021-03-26 11:46] sflorean commented on #17380
I was able to reproduce this on Beta 88.0.0-beta.1 with LG G7 Fit (Android 8.1.0).

[2021-03-26 12:05] mcarare commented on #18496
Eng note:  When switching from external app to browser fragment the `windowBackground` is the one from the current theme applied to the app (light or dark) and not from the private theme. This is the color used for the preference screen background and it's the color displayed on the status bar since the status bar is transparent.

[2021-03-26 12:30] orchidalloy commented on #18547
I believe the sharing process by Firefox produces some sort of edge case in the picture's metadata that some apps can still recognize but not others. Again this happens with jpg and png as well, and only in the Firefox browser.

You can see this happening with this image in the following video: https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Bucephala-albeola-010.jpg/1280px-Bucephala-alb

[2021-03-26 12:32] sv-ohorvath commented on #18644
The cause are the 2 tests involving the notification shade: closePrivateTabsNotificationTest & testDownloadNotification. They are failing to match the notification, so they don't reach the step where they close the notification shade. Thus, the notification shade still covers the tests that follow them in the same shard.

[2021-03-26 12:57] Mugurell commented on #18644
In https://github.com/mozilla-mobile/fenix/pull/18637 I also see `https://github.com/mozilla-mobile/fenix/pull/18637` failing.

[2021-03-26 13:01] lobontiumira commented on #18494
Verified as fixed on the 3/26 Nightly build with Samsung Galaxy Note 8 (Android 9):
![light theme](https://user-images.githubusercontent.com/40694158/112635055-0489eb80-8e44-11eb-9edb-58e468947144.png)
![dark theme](https://user-images.githubusercontent.com/40694158/112635087-0fdd1700-8e44-11eb-9a06-4a6a2260b723.png)

[2021-03-26 13:01] #18494 closed

[2021-03-26 13:24] Mikaka27 commented on #18640
Hi, it would be helpful if you would add some examples, which websites are scrolling bad for you.
And also adding information about your device would be helpful.

[2021-03-26 13:28] Mugurell commented on #18547
Thank you for the video!
Tried the same scenario and I can see know how sharing fails.
Seems like going through WhatsApp to pick a contact to share to works (and this is the only option allowed by Chrome)
But not sharing to a quick contact with

https://user-images.githubusercontent.com/11428869/112637883-4cf6d880-8e47-11eb-8a2e-a2385a970d56.mp4

&nbsp;
I'm seeing this as more of a problem in the

[2021-03-26 13:29] ebalazs-sv commented on #18395
Verified as fixed on Nightly 3/26 with Samsung Galaxy Tab S3 (Android 8).
I will remove the qa:needed label and close this issue.

[2021-03-26 13:29] #18395 closed

[2021-03-26 13:31] orchidalloy commented on #18547
Oh interesting, I didn't consider it could be the quick share option itself.

[2021-03-26 13:50] lobontiumira commented on #15372
Verified that all the string changes were implemented, on the 3/26 Nightly build with Samsung Galaxy Note 8 (Android 9):

![light theme](https://user-images.githubusercontent.com/40694158/112641236-db208e00-8e4a-11eb-8424-953909c87935.png)

![dark theme](https://user-images.githubusercontent.com/40694158/112641250-df4cab80-8e4a-11eb-8a1e-b06917dbed29.png)

[2021-03-26 13:50] #15372 closed

[2021-03-26 13:51] Amejia481 commented on #15372
Thanks @lobontiumira !

[2021-03-26 13:56] sv-ohorvath commented on #18644
This case seems unrelated. Is either caused by the AC update, or is flaky.

[2021-03-26 13:57] sv-ohorvath opened #18647 "Intermittent UI test failure - SmokeTest.customTrackingProtectionSettingsTest"
### Firebase Test Run:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8719182991764003537/executions/bs.e5d3849027200f00/test-cases
### Stacktrace:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with id: org.mozilla.fenix.debug:id/onboarding_message`
### Build: 3/26, AC update: https://github.com/mozilla-

[2021-03-26 14:33] #18535 closed

[2021-03-26 15:19] Apkroo opened #18651 "website not responding"
عندنا اقوم بفتح هذا الموقع علي المتصفح يقوم بالتوقف وعدم الاستجابة الي اي لمسات للهاتف هل هذا يرجع الي الموقع ام المتصفح مع ان غير المتصفح يعمل عليه عادي

هذا رابط الموقع يهمني ان يعمل عليه لنيواق م بتحميل العاب موبايل من هناك
[موقع العاب موبايل](https://loloapps.co/)

Automatic Translation:
When I open this site on the browser it stops and does not respond to any touches of the phone Is this due

[2021-03-26 15:32] #11987 closed

[2021-03-26 16:14] Andereoo opened #18654 "[Bug] Toolbar becomes blank when find bar is opened"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-26 16:22] mcarare commented on #18654
@Andereoo Thank you for your report. This seems like the same issue reported here: https://github.com/mozilla-mobile/fenix/issues/18616. Closing this as duplicate, you can follow the topic on the mentioned issue.

[2021-03-26 16:22] #18654 closed

[2021-03-26 16:37] eliserichards commented on #17800
Confirmed with @csadilek that we can move ahead with this implementation. We need to make sure that we are requesting desktop site on URL load, not loading and then toggling (see [gecko engine toggle](https://github.com/mozilla-mobile/android-components/blob/6295eac76ae1575419f0bc1056180ccb8810e432/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSes

[2021-03-26 17:07] rocketsroger commented on #17644
All needed changes have been merged.  Please verify.  Thanks!

[2021-03-26 17:36] jonalmeida opened #18668 "Using stable IDs in TabsAdapter crashes when deleting first tab"
Add the following the [`TabsAdapter`](https://github.com/mozilla-mobile/android-components/blob/master/components/browser/tabstray/src/main/java/mozilla/components/browser/tabstray/TabsAdapter.kt) in `browser-tabstray`:

[code]

[code]

[2021-03-26 17:58] #17291 closed

[2021-03-26 18:26] #18538 closed

[2021-03-26 18:33] jonalmeida opened #18656 "Add 'Select tabs' button to normals tabs tray list"
Maybe with the `ConcatAdapter` again or a separate viewholder, we should add the "Select tabs" button to the bottom.

The [old code is here](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/tabtray/CollectionsAdapter.kt) for reference, but let's see if there is anything we can do better when refactoring.

[2021-03-26 19:32] gabrielluong commented on #18612
I think we can do something similar to Proton for desktop where we create an inventory deck of all the components in Fenix. This is mostly about documenting our components with screenshots, their filename, noting the UI widget usage and any particular customization, etc.

[2021-03-26 21:02] orrc opened #18658 "signalstickers.com animations freeze the app and system"
## Steps to reproduce
Reproduced before and after a reboot, also incognito.

1. Visit https://signalstickers.com/
1. Wait 5–10 seconds for things to settle
1. Tap on "animated" (updates URL to https://signalstickers.com/?s=animated%3Atrue)
1. Wait 5–10 seconds for things to settle
1. Fling to scroll down a few pages
1. Wait 5–10 seconds for things to settle
1. Notice that animations become laggy a

[2021-03-26 21:28] LittleAngelwings commented on #18560
It is also in the current relase. Hard- and software keyboard,

[2021-03-26 22:19] #15249 closed

[2021-03-26 22:34] hakkikaancaliskan opened #18660 "Backoff or stop trying to send the optout/delete ping if connection to the telemetry server fails"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-26 23:08] #14582 closed

[2021-03-26 23:20] kbrosnan commented on #18660
I expect that this is the optout/delete ping that is sent. Though trying 3ish times a second seems rather poor.

[2021-03-26 23:22] SimonDedman opened #18661 "Search widget loses voice-search icon below 4.5 boxes (?) wide, but is very space-wasteful [Bug]"
This is with Nova launcher, 10x8 so 8 apps wide on an Asus Zenfone 6, so I don't know exactly what this equates to in terms of pixels or cm or whatever. Regardless though, the widget seems to need an inordinate amount of space to display the microphone icon, despite being incredibly wasteful of the space its given. Better design could allow the widget to shrink to 1x2 and while retaining both icon

[2021-03-26 23:42] #18443 closed

[2021-03-27 06:58] devpato opened #18663 "[Bug] Firefox doesn't open URL when clicked on push notification"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-27 11:40] Imerion opened #18664 "Make it easier and quicker to get to bookmarks"
I almost never use the search option, instead preffering to browse through my bookmarks to navigate to pages. When I open a new tab I want to quickly go to my bookmarks to select the page I want to visit from the list. But every new tab covers up the dot-menu button with some sort of search overlay. In order to get to my bookmarks I first have to press back, then open the menu, then click bookmark

[2021-03-27 12:37] opusforlife2 commented on #17790
This PR (#18599) has caused a problem: Though the app is removed from Recents upon tapping Quit, it remains in RAM. A user could swipe the app from Recents to remove it from RAM before this PR.

Why this is an issue for me: On network change, Fenix (and desktop Firefox) sometimes lose internet connection, and nothing short of completely closing the app fixes it. For Fenix, this meant Quit and then

[2021-03-27 12:57] gildas-lormeau commented on #4049
You can also run SingleFile in Kiwi or Yandex browsers.

[2021-03-27 14:22] clientenq opened #18665 "[Bug] typing domain in urlbar results in leak to google search"
When typing a valid domain in the fenix url bar this sometimes results in a search instead of following the domain.
This unnecessary leakes user behaviour to search services such as Google.

### Expected behavior
When typing a domain in the urlbar this should never result in a search, unless the user explicitly requests a search.
The browser should only activate a search when the typed or correcte

[2021-03-27 15:12] yan12125 commented on #16912
Looks like this feature first requires change in GeckoView: https://bugzilla.mozilla.org/show_bug.cgi?id=1601420

[2021-03-27 17:27] prono69 commented on #15858
Firefox is getting bad I guess

[2021-03-27 18:53] gitgitgitg commented on #15281
Hi,

can this bug get resolved?

[2021-03-27 21:24] hakkikaancaliskan opened #18667 "[Bug] Top and bottom margin is not aligned after fullscreen video"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-27 21:46] Jcfunk commented on #14921
Just wait when android desktop mode becomes more popular Firefox won't be used at all. I installed in hopes it would work better in desktop mode. I'm looking for a browser that will give me the best Desktop experience on android. Firefox is not it. Sad Really.

[2021-03-28 01:25] laiam commented on #17080
going to bump this because it's the number one major issue preventing me from upgrading, firefox is literally the only browser I have left that worked with talkback the way I needed it to, i've had to downgrade back to firefox 68 and my phone keeps yelling at me that it's a security risk as an outdated app.

aside from this all my other complaints about the "new and supposedly improved" firefox ar

[2021-03-28 03:38] Tothepablo opened #18670 "Crash - IllegalStateException: Display already acquired"
Crash report: https://crash-stats.mozilla.org/report/index/5e70c56c-6e17-4ec1-9bd4-2d59f0210204

Java stack trace:
[code]

[2021-03-28 03:41] Tothepablo opened #18671 "Crash in [@ java.io.IOException: at com.jakewharton.disklrucache.Util.deleteContents(Util.java)]"
Crash report: https://crash-stats.mozilla.org/report/index/a31496b8-7b44-420c-ba74-e38920201114

Java stack trace:
[code]

[2021-03-28 06:12] gaul commented on #14412
It seems that handling right click requires intercepting `KEYCODE_BACK` from `InputDevice.SOURCE_MOUSE`:

https://stackoverflow.com/questions/10041295/android-usb-mouse-right-click-correct-behaviour-ics/29311126#29311126

Assuming that this is true, we should be able to address this as part of keyboard shortcuts:

https://github.com/mozilla-mobile/android-components/issues/1978

[2021-03-28 06:37] kbrosnan commented on #18671
This crash was recorded on v82. From the data in crash-stats it more or less does not happen on 86+. Is this happening on a current [release or nightly](https://github.com/mozilla-mobile/fenix/wiki#download)?

[2021-03-28 11:00] Firecash opened #18672 "[Bug] Important pages - renaming on the second page not possible"
## Steps to reproduce

1) Capture 8 important pages (or more) for the home page.

2) On the second page (change to the second page with a swipe gesture) of the -important pages-

3) Renaming of the entries is not possible

### Expected behavior

The renaming of the entries should also be possible for entries on the second page.

### Actual behavior

Entries on the second page of the important page

[2021-03-28 11:10] Multipanda commented on #14921
Try Kiwi, it has the classic top bar tabs layout, it's working decently for me, and I haven't had any problems running chrome extensions so far, found an extension called Charset that lets me change the encoding of webpages, so I now have a solution for two essential things missing in the new Firefox, by not using Firefox. :-)

[2021-03-28 13:28] ShalokShalom commented on #14921
Sadly, a world in which one engine is used and that one controlled by Chrome and containing more lines of code as the complete FreeBSD distribution, including LLVM, is really not something I am looking forward to and Firefox is the only alternative there.

And they know it.

[2021-03-28 14:38] nbeaver commented on #10046
Link to the same issue in the old Bugzilla tracker: https://bugzilla.mozilla.org/show_bug.cgi?id=1378026

[2021-03-28 15:56] #13023 closed

[2021-03-28 15:56] #13269 closed

[2021-03-28 15:56] #13194 closed

[2021-03-28 15:56] #13017 closed

[2021-03-28 15:57] BrokenShoeLace opened #18673 "Page Source"
Are you going to add view page source in Fenix?

[2021-03-28 17:01] tinsukE commented on #14633
On 87.0.0-rc.1 and this still is happening.

It'dbe very scary if really caused by the beta and release build processes.

[2021-03-28 17:55] kaldown commented on #17576
it's still there
87.0.0-rc.1 Build #20157999099

[2021-03-28 18:27] #18663 closed

[2021-03-28 18:28] devpato commented on #18663
potential duplicate https://github.com/mozilla-mobile/fenix/issues/11138

[2021-03-28 19:24] cadeyrn commented on #18673
Duplicate of #3710 and #3972.

[2021-03-28 19:25] BrokenShoeLace commented on #18673
Maybe it will be actioned

[2021-03-28 19:26] #18673 closed

[2021-03-28 19:32] Cylindric commented on #3728
Is there really _still_ no way to put my enterprise root CA certs into FF on Android? It's dissapointing enough that a mere browser decides to ignore OS configuration like DNS and certs, but to allow no way to override it is ridiculous.

[2021-03-28 23:30] scheinercc commented on #18651
Just tested it on Nightly 210322 (GV 88) and on 210328 17:01 (GV 89) with ETP Strict enabled. I clicked around a bit and had not response issues.

[2021-03-29 00:14] Hubfront commented on #8642
I would prefer to leave this bug open. If its closed, then it would be harder for us end-users to express our concern, that this bug is still not fixed in reality.

[2021-03-29 02:30] black7375 commented on #11408
Is there any progress?

[2021-03-29 05:31] KrasnayaPloshchad commented on #4337
PDF.js is now adopted Phantom UI.

[2021-03-29 05:55] KrasnayaPloshchad opened #18678 "[Bug] WebRTC Control doesnʼt work"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-29 06:22] AndiAJ commented on #8456
Hi, I've just checked this matter on the latest **`Nightly Build 210329`**

✔️ Works properly on:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)

❌ Still reproducible on:
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

[2021-03-29 06:22] Mugurell commented on #18658
Moving this to Bugzilla since it seems to be a GeckoView issue.
Please follow the discussion there.

[2021-03-29 06:22] Mugurell commented on #18658
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1701556

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-29 06:22] #18658 closed

[2021-03-29 06:31] sonora commented on #17599
Ever since a few days ago, the issue has disappeared for me, either with something fixed in fenix 87.0.0-rc.1, or they have made a change to their website.

[2021-03-29 06:34] Mugurell commented on #18665
@clientenq Can you give some examples?

[2021-03-29 06:44] sflorean commented on #18667
Tested on 88.beta.1 and on Nightly build, with the following devices and couldn't reproduce the issue:
- Pixel 3 (Android 11)
- Samsung Note 10 (Android 11)
- LG G7 Fit (Android 8.1)

@hakkikaancaliskan can you give us the exact link that you used in order to reproduce this issue? This is reproducible on latest Nightly build?

[2021-03-29 06:51] Mugurell commented on #18667
I cannot reproduce this on the current Nightly bu I can reproduce it on the current beta from playstore.

Recording of the beta app on a Pixel 3 with Android 11:

https://user-images.githubusercontent.com/11428869/112797303-e0145600-9073-11eb-80c0-6d54d4a69487.mp4

The issue is even worse for me since the url bar  is translated almost entirely under the display and cannot be interacted with. With

[2021-03-29 06:57] Mugurell commented on #18667
Seems to be a general issues for the "enter fullscreen - exit fullscreen" scenario.

https://user-images.githubusercontent.com/11428869/112798047-0090e000-9075-11eb-9d72-e8b5e5ff9069.mp4

[2021-03-29 07:05] isabelrios commented on #18644
I think there is one more test affected as per this [PR](https://github.com/mozilla-mobile/fenix/pull/18675) reported by ryanvm:

- manageDownloadsInDownloadsMenuTest

[2021-03-29 07:14] Mugurell commented on #18670
Thank you for the report @Tothepablo !

Will close this in favor of https://github.com/mozilla-mobile/android-components/issues/9081

But if you have any steps to reproduce, please post them here, it would us a lot!

[2021-03-29 07:14] #18670 closed

[2021-03-29 07:51] sv-ohorvath commented on #18644
The test is known to be flaky, not PR blocking, we'll leave it as it is for now: https://github.com/mozilla-mobile/fenix/issues/17485

[2021-03-29 09:16] mcarare commented on #18671
This was fixed in https://github.com/mozilla-mobile/android-components/pull/9146.

[2021-03-29 09:28] #10521 closed

[2021-03-29 10:19] sflorean commented on #18445
I was able to reproduce this issue on latest Nightly build 3/29 and RC build 87.0.0-rc.1 following the steps provided in description, with Samsung Note 10 (Android 11).

[2021-03-29 10:28] freebrowser1 opened #18679 "[Bug] user.js cannot be used"
## Steps to reproduce
On Android this cannot be done (unless you are rooted). On a computer, I can enter the folder Mozilla/profiles/xxxxx/user.js and edit that file.

It would be very useful, particularly when in the retail version of Firefox without about:config, to set own extended preferences this way. A way can be putting this file in /sdcard/Androd/data/org.mozilla.firefox/files/user.js whic

[2021-03-29 10:41] Archaeopteryx opened #18680 "Permanent debug(screenshots-x86): org.mozilla.fenix.screenshots.DefaultHomeScreenTest - showDefaultHomeScreen androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with res-name that is "fxa_sign_in_button""
@Mugurell Could this be from #18594? The test only runs once per week and failed 2/2 runs today.

### Firebase Test Run:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6835870086829229561/executions/bs.1172f9e174e51aea/testcases/1/errors
### Stacktrace:
[code]

[2021-03-29 11:04] SoftVision-LorandJanos commented on #18651
Hi @Apkroo! I tested it on the Latest Release 87.0.0-rc.1 and could not reproduce the issue described above, however I verified it on the latest Nightly 210329 00:12 (GV89) and while the items are accessible, the images for the items on the page are not displayed. Also, when accessing the items, the detailed page doesn't contain the images either. This happens with ETP both Strict and Standard ena

[2021-03-29 11:35] Mugurell commented on #18672
It seems like renaming works - if after renaming a top site the app is restarted, when viewing again the list of top sites we'll see the updated name.
Is just that we are not properly updating the TopSites item on the second page.

And this because [here](https://github.com/mozilla-mobile/fenix/blob/083fe26f573dfbda1714a9e81394758e9d584b8d/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/Se

[2021-03-29 11:51] sflorean commented on #15802
@BigSamSampson thank you for your report! I wasn't able to reproduce this issue on latest Nightly build (3/29) following your steps with LG G7 Fit (Android 8.1).
Is this issue still reproducible for you?

[2021-03-29 12:38] sflorean commented on #17790
@opusforlife2 please file a new issue for the problem described above. Thank you!

[2021-03-29 12:41] SoftVision-LorandJanos commented on #18672
Hey! I tested it on the Latest Release 87.0.0-rc.1 and on the latest Nightly 210329 00:12 (GV89). This issue is reproducible.
Device used: Motorola Nexus 6 (Android 7.1.1)

[2021-03-29 12:47] jonathanalvares9009 commented on #18594
@Mugurell Can I work on this issue?

[2021-03-29 13:06] SoftVision-LorandJanos commented on #18640
Hi @ADV357  ! Thank you for the report! As mentioned above, it would help us if you could give us some information about your device, the Android version, the browser version and the websites you noticed this behavior on. Thank you!

[2021-03-29 13:25] sflorean commented on #15862
@syxf thank you for your report! This issue is already filed here #12731 and your scenario will be tested when will be fixed. Closing as duplicate.

[2021-03-29 13:25] #15862 closed

[2021-03-29 13:54] sflorean commented on #18338
@naloder thanks for your report! Please file the bug here https://github.com/webcompat/webcompat.com/issues or follow the steps as mentioned in the comment above. Make sure to try on Beta or Nightly, since "Report site issue" is not available on Release.

[2021-03-29 13:54] #18338 closed

[2021-03-29 14:11] Mugurell commented on #18680
Following #18594 we are instructing the system to highlight a certain option in system settings.
While here we don't find a certain view in the app's homescreen.

Not sure what changed lately (app's cold start could also be impacted) but based on the above logs I see that we are trying to find a button in HomeFragment while that is not yet? on the screen. The current layout is only that of HomeAct

[2021-03-29 14:15] Mugurell commented on #18594
Thank you for your interest!
The work for this was already merged and this feature should work in the current Nightly.
There are other cool tickets you could start with, please take a look @ https://github.com/mozilla-mobile/fenix/labels/good%20first%20issue

[2021-03-29 14:55] neha-b2001 commented on #14716
Can someone guide me as to how to reproduce this issue? I ensured that I have the pre-requisites and followed the steps described in the issue. However, the 'Firefox Preview in now Firefox Nightly' section is not visible to me at all. I've tried to figure out if I'm doing something wrong for more than 2 days, but haven't been able to figure it out...
Any guidance would sincerely help a lot 😅

[2021-03-29 14:58] SoftVision-LorandJanos commented on #14703
This issue is still reproducible. I verified it on the Latest Release 87.0.0-rc.1 and on the latest Nightly 210329 00:12 (GV89). Device used: Motorola Nexus 6 (Android 7.1.1)

https://user-images.githubusercontent.com/48829350/112856329-589d0600-90b8-11eb-84c3-432859f36e99.mp4

[2021-03-29 15:04] Mugurell commented on #17599
Thank you for the update!
I cannot reproduce this anymore even on the current Release so I'm thinking that something changed on the website.
Which is still good for us!

[2021-03-29 15:30] eliserichards commented on #14716
Hmm let me take a look...

[2021-03-29 15:39] eliserichards commented on #16830
Hi @yichiehc! Yes, go ahead and start working on this 😄 I have assigned the issue to you

[2021-03-29 16:29] kbrosnan commented on #18679
We are not going to allow browser prefs to be stored in a world writable location. It would be a significant security risk as any app could write to them. If you want to use such tools you are going to need root and understand that you are using a unsupported configuration.

[2021-03-29 16:29] #18679 closed

[2021-03-29 16:31] kbrosnan commented on #18671
Thanks mcarare. Going to close this as works for me with current versions.

[2021-03-29 16:31] #18671 closed

[2021-03-29 16:38] Jee-Hex opened #18685 "Allow users to disable search engine suggestions based on typed text"
Regression from #16044.

As a matter of personal preference, I disable _Show search suggestions_, _Autocomplete URLs_, and _Show search engines_ because I want the user-agent to only connect to a search engine when I am explicitly searching for something. After #16044 every time I type _www._ into the address bar I get a brief flash of _Search Wikipedia - Search directly from the address bar_, whi

[2021-03-29 16:40] kbrosnan commented on #18155
This is showing up as a top crash in release. Looks to do with saving a new user name/password

Frame | Module | Function | Source | In app?
-- | -- | -- | -- | --
0 | mozilla.components.feature.prompts.PromptFeature$onConfirm$1 | invoke | PromptFeature.kt:39 | True
1 | androidx.core.app.AppOpsManagerCompat | consumePromptFrom | AppOpsManagerCompat.java:5 | True
2 | mozilla.components.feature.prom

[2021-03-29 16:42] Jee-Hex opened #18686 "[Bug] Fenix not actually closed after exiting via Quit?"
## Steps to reproduce

1. (Assuming the `Delete browsing data on quit` option is already enabled) Launch Fenix.
2. Open `about:networking`.
3. Notice a bunch of startup connections (e.g. _firefox.settings.services.mozilla.com_).
4. Close Fenix via `AppMenu > Quit`.
5. Launch Fenix again.
6. Open `about:networking` again.
7. Notice the absence of almost any startup connection.

I am assuming this i

[2021-03-29 16:46] kbrosnan commented on #18155
All but one of these crashes are Chinese users. Might be something with the China build?

[2021-03-29 16:52] Archaeopteryx opened #18687 "Intermittent debug(ui-test-x86) org.mozilla.fenix.ui.ContextMenusTest - verifyContextShareLink"
### Firebase Test Run:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5777990874670391260/executions/bs.ec8da9c66d4fe680/testcases/2/test-cases Failed 2/2 runs
### Stacktrace:
[code]
### Build: https://github.com/mozilla-mobile/fenix/commit/02d70d38373d19c977f20a942ee20ca164f02ec4

[2021-03-29 17:06] kbrosnan commented on #18660
Talked with the Glean team and they have opened bz-1701663

[2021-03-29 17:08] #4841 closed

[2021-03-29 17:09] gabrielluong commented on #18612
Potential good reference material https://github.com/mozilla-mobile/fenix/issues/4841

[2021-03-29 17:47] mcomella opened #18688 "Evaluate perf impact of extractNativeLibs"
Follow-up from https://github.com/mozilla-mobile/fenix/issues/18381

Historically, it was set to `false` by default but Android automatically changed it to `true` in recent versions. We changed it back to `false` because GV isn't set up to run with it. It's a possible perf win so we should run it through perftest to see what the impact is. If it's good, we should discuss making the change with the

[2021-03-29 17:47] mcomella commented on #18381
This is blocking a top crasher – https://bugzilla.mozilla.org/show_bug.cgi?id=1637597 – so we're going to land it and evaluate the perf impact later in https://github.com/mozilla-mobile/fenix/issues/18688

[2021-03-29 17:57] Jasaxxus commented on #18016
Hey, I am an Outreachy aplicant and I would like to work on this issue

[2021-03-29 18:07] yichiehc commented on #16830
Thank you @eliserichards 😄

[2021-03-29 18:15] kbrosnan commented on #18667
We should figure out what needs uplift here. This seems like an easy to hit bug.

- Release is unaffected v 87.0.0
- Beta is affected v 88.0.0-beta.2
- Nightly is unaffected
- GVE 88-b5pre is unaffected

[2021-03-29 18:23] neha-b2001 commented on #14716
Thank you 👍

[2021-03-29 19:34] kanish671 commented on #18672
I think the same bug exists for `Remove` option too.

[2021-03-29 19:43] jdragojevic commented on #17869
If I'm not mistaken @Mugurell - this is done, right?

[2021-03-29 19:52] #18381 closed

[2021-03-29 20:39] eliserichards commented on #14716
This tip was being shown when our app was being launched (it was called "Firefox Preview" before we released it to everyone). You can see where the tip was being created in [MigrationTipProvider.kt](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/components/tips/providers/MigrationTipProvider.kt):

<img width="909" alt="image" src="https://user-images.github

[2021-03-29 20:48] eliserichards commented on #9779
@AnishaSingh0118 is working on this in #18682

[2021-03-29 21:00] eliserichards commented on #18318
@priyanka0906 only for web address and username:

    Web address: https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/res/layout/logins_item.xml#L24
    Username: https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/res/layout/logins_item.xml#L41

[2021-03-29 22:05] jonalmeida commented on #17821
I'm going to close this out. We can revive it if we change our mind.

[2021-03-29 22:58] #18668 closed

[2021-03-30 01:30] brampitoyo commented on #18612
@gabrielluong Last year, @betsymi and I audited Fenix UI components from a content design point of view.

https://docs.google.com/presentation/d/1b7mAuUwH5e-rLOKd8dJg2lD08KSl-3hiVEesm2y1t1k/edit

Although our deck doesn’t cover custom built vs. native, it does include a pretty comprehensive inventory of components. Maybe it will be a good starting point?

[2021-03-30 01:37] #18243 closed

[2021-03-30 01:37] #18246 closed

[2021-03-30 01:38] #18247 closed

[2021-03-30 01:59] #9560 closed

[2021-03-30 02:08] #15356 closed

[2021-03-30 02:38] vesta0 commented on #16829
Going back to @topotropic 's question: Is it possible to increase the touch area while keeping the design as is?

[2021-03-30 03:02] liacds commented on #17904
can I work on this issue?

[2021-03-30 04:36] jonathanalvares9009 commented on #18672
Can I work on this issue?

[2021-03-30 05:53] neha-b2001 commented on #14716
Thank you so much @eliserichards 😄

[2021-03-30 06:53] liacds commented on #17904
I can't seem to reproduce this issue in the latest version on Pixel 2, everything works as expected

[2021-03-30 07:00] lobontiumira commented on #16830
Verified as fixed on the 3/30 Nightly build with Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9).

[2021-03-30 07:00] #16830 closed

[2021-03-30 07:06] codrut-topliceanu commented on #18667
@jonalmeida Agreed.
I believe the 2nd solution would be the best course of action as it won't need anything from AC. (I've tested both solutions yesterday anyway). I'll have a PR up soon.

[2021-03-30 07:08] #15314 closed

[2021-03-30 07:08] #12702 closed

[2021-03-30 07:22] lobontiumira commented on #17034
Hi @privilegejunkie
I tried reproducing your crash on the latest RC build Firefox 87.0.0, using a google Pixel (Android 10), but I couldn't.
I spent several hours on reddit.com playing multiple videos, yesterday and today, but everything worked as expected.
We will try to reproduce it with an Android 11 device.

[2021-03-30 07:30] lobontiumira commented on #18453
Verified as fixed on the 3/30 Nightly build with Samsung Galaxy Tab A6 (Android 5.1.1).
Running adb shell am start -a android.intent.action.VIEW -d fenix-nightly://make_default_browser\?uid= opens the "Make Firefox the default browser on Android" SUMO page.

[2021-03-30 07:30] #18453 closed

[2021-03-30 07:35] comeflywithme7 opened #18693 "[Bug]"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-30 07:39] VitalyVPinchuk commented on #16028
Hello @lobontiumira !
I can't reproduce it on the latest master branch neither using Pixel 4 API 29 emulator nor physical device Xiaomi Mi 9T Pro.
Once the password criteria is met, the tip dismisses in a second.

Could you please check again?

[2021-03-30 07:53] neha-b2001 commented on #17903
Thanks for the assignment 😄

[2021-03-30 08:02] lobontiumira commented on #16028
Hi!
I retested on the latest Beta 88.0.0-beta.2 build with Xiaomi Mi 8 Lite (Android 9) and I was not able to reproduce it anymore.
I will close this issue.
Thank you, @VitalyVPinchuk

[2021-03-30 08:02] #16028 closed

[2021-03-30 08:07] sanyud24 commented on #18317
I'm a little confused , inside history_list_item.xml ,I saw only one textview for the delete history button and another is LibrarySiteItemView , where do I have to add contentDescription ? It'll be a lot of help if I can get a  little idea where to do it , thankyou.

[2021-03-30 08:12] sanyud24 commented on #18317
Do i have to do it in library_site_item.xml ?

[2021-03-30 08:14] sonora commented on #17599
Well, yes and no, because it seems we **do** have an issue in Firefox which produces a fundamental usability problem on some websites  while other browsers had no such issue.

And for now we have lost how to reproduce it, cannot investigate, so it may re-occur somewhere any time?

[2021-03-30 08:18] lobontiumira commented on #17644
Verified on the latest Nightly build from 3/30 with Google Pixel (Android 10):
* ping: 94f8e316-1548-4bea-ab7d-5de892768fb7
* opening an add-on settings generates:
[code]
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2103300001)
[Logcat](https://github.com/mozilla-mobile/fenix/files/6227491/logcat.txt)

[2021-03-30 08:18] #17644 closed

[2021-03-30 08:25] Archaeopteryx commented on #18687
Seems to affect random `verifyContext*` tests: [log](https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8336955909045279848/executions/bs.d765890d61d90018/test-cases) for verifyContextOpenLinkPrivateTab

@pocmo Are you aware of a change which explains these frequent failures?

[2021-03-30 08:25] SoftVision-LorandJanos opened #18694 "[Bug] The dot from the scale overlaps the percentage number"
### Steps to reproduce
1. From the device's settings, change the font size to the biggest option (extra large/huge).
2. Tap on 3 dot menu.
3. Open Settings.
4. Go to Accessibility and change the scale to a maximum (200%).
5. Observe the page.

### Expected behavior
No visual issues are displayed.

### Actual behavior
The dot from the scale overlaps the percentage number.

### Device information
De

[2021-03-30 08:39] ebalazs-sv commented on #17166
This issue is reproducible on Beta 88.0.0-beta.2 from 3/29 with Pixel 2 (Android 9) when set to Punjabi.

[2021-03-30 08:44] ebalazs-sv commented on #18581
This issue is also reproducible on Beta 88.0.0-beta.2 from 3/29 with Pixel 2 (Android 9) when set to Slovak.

[2021-03-30 09:04] Oleophobic opened #18695 "[Bug] [Android] Tabs not closing on swipe close."
I have found myself closing tabs manually and going to different menus just to do this is a massive issue since the update and more than a year has elapsed now. Quit option is NOT useful either when this can be automated even if android ends firefox in the in the background restoring tabs can solve this.

This has not been resolved and no option exists.

[2021-03-30 09:08] lobontiumira commented on #17168
This is not fixed yet on the 3/30 Nightly build. Tested with German, and Arabic, on Google Pixel (Android 10), and on an x86-emulator Nexus 9 (Android 9).
The notification isn't translated:
![l10n](https://user-images.githubusercontent.com/40694158/112963959-8b92d880-9150-11eb-9849-0479f3e665f8.png)

I'll remove the qa:needed label for now.

[2021-03-30 09:16] abodea commented on #18464
Tried on the latest Nightly 3/30 with Google Pixel 4 XL (11) but as Mihai said about the request is not repeated after denying it.

[2021-03-30 09:19] lobontiumira commented on #18260
Verified that Google, Top Articles (Pocket), and Wikipedia tiles have the "pin" icon on the 3/30 Nightly build.
Tested with Google Pixel (Android 10), Xiaomi Mi 8 Lite (Android 9), and Samsung Galaxy Note 8 (Android 9).

<img src="https://user-images.githubusercontent.com/40694158/112965664-250eba00-9152-11eb-8054-59032a28be24.png" width="300" height="550" />

[2021-03-30 09:19] #18260 closed

[2021-03-30 09:29] mcarare commented on #17168
@lobontiumira Can you please recheck in the next Nightly? I tested on the latest master and the button text is translated. Thank you!

[2021-03-30 10:05] gurleennsidhuu commented on #17826
Hi. Can I work on this issue?

[2021-03-30 10:10] Apurwa96 commented on #17904
Hi, This is my first time contributing to opensource, let me know if I can work on this.

[2021-03-30 10:18] Mugurell opened #18696 "[Bug] Page moves when find in bar page bar is shown/hidden"
After https://github.com/mozilla-mobile/fenix/pull/18697 the browser is moved up and down to better support showing the entire website content above the find in bar page.
This might be seen as an issue.

## Steps to reproduce
- Have a top / bottom dynamic toolbar
- Scroll content to top / bottom (where the toolbar is placed)
- Open find in page bar

### Expected behavior
? Probably the ideal would

[2021-03-30 10:30] Mugurell commented on #18695
@Oleophobic I understand you are asking for an option of having the opened tabs automatically be closed.

Currently Firefox offers to ways to accomplish that:
- enable and use "Quit" to delete browsing data when exiting the app
- enable an automatic system for cleaning old tabs by going to tabs tray settings or in settings -> Tabs:

<img src="https://user-images.githubusercontent.com/11428869/1129

[2021-03-30 10:33] Mugurell commented on #18693
Closing this since it has no actionable info.

@comeflywithme7 If you've encountered a bug that you want to report or want to request a new feature for the app please follow the recommended template to share as many details as possible for us to better understand the issue.

[2021-03-30 10:33] #18693 closed

[2021-03-30 10:37] Mugurell commented on #18687
Many tests related to `verifyContext..` are known to be flaky - https://github.com/mozilla-mobile/fenix/issues/18421
Maybe this should be disabled for the meantime pending more investigations / rewrite.

[2021-03-30 10:44] Oleophobic commented on #18695
This is not a solution and I've mentioned closing on app close not. Going through menus for something that is automated on every single desktop browser and firefox itself before the downgrade Mugurell.

Firefox is opened and swipe closed multiple times. 24 Hours is also not a solution to intentionally closed sessions multiple times a day. Appreciate the info but timers and poor design, they do not

[2021-03-30 11:01] bharat0to commented on #18581
Is this issue reproducible after the fix? and also how can I check for Beta 88.0.0-beta.2 3/29 there is no branch with 88.0.0-beta.2. Please help me out I am new to contributing to open source

[2021-03-30 11:25] Mugurell commented on #18672
Sure! Thank you!

[2021-03-30 11:28] Mugurell commented on #18672
Sorry, I see you wanted to wanted to work and announced it earlier.
The ticket is yours if you wanted.

Regarding "Remove" I see removing a top site even from the second page of top sites works.
Is this not the case for you.
If you see an issue with that option please open a new ticket.

[2021-03-30 11:29] ebalazs-sv commented on #18581
This is still reproducible on the latest Nightly from 3/30 as well.
The link to Beta 88.0.0-beta.2 build is: https://github.com/mozilla-mobile/fenix/releases/tag/v88.0.0-beta.2

[2021-03-30 11:41] sv-ohorvath commented on #18421
verifyContextShareLink, verifyContextOpenLinkNewTab, verifyContextOpenLinkPrivateTab started failing on 3/29, with this commit on Master: https://github.com/mozilla-mobile/fenix/commit/02d70d38373d19c977f20a942ee20ca164f02ec4, but seems more likely to be caused by the AC 75.0.20210328204653 update (previous commit)
- https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b709

[2021-03-30 11:58] Mugurell commented on #18687
@Archaeopteryx With https://github.com/mozilla-mobile/fenix/pull/18700 disabling all this tests I think this ticket can be closed?

[2021-03-30 12:21] lobontiumira commented on #18594
Verified on the 3/30 Nightly build with several devices:
* Samsung Galaxy Note 8 (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1) highlight the "default browser" system setting:

https://user-images.githubusercontent.com/40694158/112985306-b12bdc00-9168-11eb-9c44-177ce721a67b.mp4

* HTC 10 (Android 8), and Xiaomi Mi 8 Lite (Android 9) **don't highlight**:

https://user-images.githubusercont

[2021-03-30 12:26] Mugurell commented on #18594
@lobontiumira For the cases where we'd expect this to work (just because of the Android API level) but it doesn't it would be nice to check if other browsers that have this implemented - DuckDuckGo Browser / Opera show the same issue.
With this not being a public API it might just be that specific devices will not support this functionality.

[2021-03-30 12:32] SoftVision-LorandJanos commented on #15388
This issue is not reproducible as described. There is no snackbar displayed when Saving a tab in the collection.
Verified on Motorola Nexus 6 (Android 7.1.1)
Firefox for Android version: Latest Release 87.0.0-rc.1 and on the latest Nightly 210330 05:04 (GV89)

[2021-03-30 12:33] lobontiumira commented on #18594
You're right!
Tested with DuckDuckGo and the problematic devices (HTC 10 (Android 8), and Xiaomi Mi 8 Lite (Android 9)) have the same behavior. I'll close this as verified.
Thank you!

[2021-03-30 12:33] #18594 closed

[2021-03-30 12:42] bharat0to commented on #18581
I have checked the code with tag 88.0.0-beta.2 and of course my pull request is not merged.

[2021-03-30 12:48] lobontiumira commented on #17606
I confirm that trying to access either of the two addresses with Firefox, just displayed an "Invalid address" page.
Tested on the latest Nightly build from 3/30, using a Samsung Galaxy Note 8 (Android 9), and Google Pixel (Android 10).

[2021-03-30 13:01] Halmex opened #18701 "[Bug] Selected tab loses selected state"
## Steps to reproduce
Start loading a webpage, open tab list and select the tab before the webpage is fully loaded.

### Expected behavior
The selected tab stays selected.

### Actual behavior
The loaded tab is again selectable, so the one tab can be added multiple times to the selected tabs list.

### Device information

* Device vendor / model and Android version: Xiaomi Redmi Note 5 Pro, Androi

[2021-03-30 13:02] sflorean commented on #17879
@shenzhenMirren thank you for filing this issue! I was able to reproduce it on RC build 87.0.0-rc.1 but not on latest Nightly build 3/30 with Samsung Note 10 (Android 11).
Could you please try to check on Nightly, to see the results for you?

Link used for testing: http://techslides.com/sample-webm-ogg-and-mp4-video-files-for-html5 - html5 video.
Not reproducible on Chrome.

[2021-03-30 13:03] #15388 closed

[2021-03-30 13:09] hakkikaancaliskan commented on #18695
I think #17634 is what you're looking for.

[2021-03-30 13:15] SoftVision-LorandJanos opened #18702 "[Bug] No snackbar is displayed when adding new tab to a collection"
### Steps to reproduce

1. Create a new collection (or use an existing one).
2. Open CNN.com.
3. Go to homescreen-collection-menu.
4. Tap on "Add tab" from the menu.
5. Tap on "Save" in order to add the tab to the collection.

### Expected behavior
"Tab saved" snackbar is displayed.

### Actual behavior
No snackbar is displayed.

### Device information
Android device: all
Firefox for Android versi

[2021-03-30 13:29] kanish671 commented on #18672
Yes, I will work on this issue and create a PR.

I am currently using 87.0.0-rc1. I am unable to remove top sites from the second page.
I use a OnePlus 7 handset running Android 10.
Although, in my local emulator, I am able to remove top sites from the second page without issues. So I guess it has been fixed.

[2021-03-30 13:44] VitalyVPinchuk commented on #15776
Hello!
I can't reproduce the issue neither using Pixel 4 API 29 emulator nor Xiaomi Mi 9T Pro on the latest master.
Could anyone please check if it's still reproducible?

[2021-03-30 13:52] lobontiumira commented on #18403
I was not able to reproduce this on the 3/30 Nightly build with Xiaomi Mi 8 Lite (Android 9).

[2021-03-30 13:54] codesuperstarr commented on #17904
I am an outreachy applicant. Please, I request to be assigned this issue.

[2021-03-30 14:14] sflorean commented on #18701
I was able to reproduce this issue with Xiaomi Redmi Note 8T (Android 9) on all builds: Nightly, Beta, RC. Following the steps I have "2 selected", but only 1 tab open.

[2021-03-30 14:26] SoftVision-LorandJanos commented on #15425
This issue is not reproducible.
Verified on Motorola Nexus 6 (Android 7.1.1)
Firefox for Android version: Latest Release 87.0.0-rc.1 and on the latest Nightly 210330 05:04 (GV89)

[2021-03-30 14:54] shenzhenMirren commented on #17879
test video
https://user-images.githubusercontent.com/24805209/113009734-ccb7d680-91aa-11eb-994e-dd8e64f3e484.mp4

[2021-03-30 15:09] #18687 closed

[2021-03-30 15:11] abodea commented on #18686
Hello, I tried to reproduce this issue but I'm not exactly sure what do you mean by `Fenix not actually closed after exiting via Quit?`
Because after I closed it via `Quit` button, when I re-launched Fenix everything was gone.
On the `about:networking` were displayed few websites after launching regarding DNS WebSockets.
Also after tapping the `Quit` button Fenix was not displayed in recent apps a

[2021-03-30 15:17] abodea commented on #17609
Thank you for this report.
Currently, Firefox for Android is compatible with Android 5.0 or above devices. ARMV6 devices and Android versions older than 5.0 are no longer supported.

Other mobile devices
Firefox is NOT available for Windows Phone, Windows RT, Bada, Symbian, Blackberry OS, webOS or other operating systems for mobile.

@anotherus3r thanks for the input, but please note that Firefox

[2021-03-30 15:41] PreciousU commented on #16387
If there are no suggestions to be made, should the appearance button be removed?

If the appearance button should remain, should users be denied access to edit default settings?

Or does the task entail making adjustments to the containers?

Please I need assistance. I'm not certain I understand the task.

[2021-03-30 16:57] jonalmeida commented on #18515
@codrut-topliceanu I saw that you picked this issue up and wanted to add some notes here for implementation:

 - I landed the synced tabs tray item so, we need to FAB to turn into a "sync" button as well when we're on it.
 - I think there will be some difficulty making the FAB listener in a root layout connect to the `SyncedTabsView.Listener.onRefresh` callback that needs to be invoked. What I've

[2021-03-30 17:03] rocketsroger opened #18706 "[Bug] Remove unneeded addon telemetry calls"
This is a follow up after https://github.com/mozilla-mobile/fenix/pull/18529.  Removing calls that should have been removed with the change.

[2021-03-30 17:20] kanish671 commented on #18672
I was able to make the changes and get the top sites renaming working.

But this is bringing up another bug which I believe is hidden currently because re-rendering doesn't happen.
What happens is if page 2 contains less than 5 items in the list, the grid snaps to a single line on rename and it sticks even for page 1.

Page 2
<img width="356" alt="Screenshot 2021-03-30 at 8 52 50 PM" src="https://

[2021-03-30 17:28] eliserichards commented on #17904
Hello all! @liacds, are you an Outreachy applicant? If so, since you were the first to comment, you can pick this issue up :)

[2021-03-30 17:31] eliserichards opened #18708 "[Bug][a11y] Reader mode "Appearance" control menu - Sepia"
## Steps to reproduce
1. Have the Accessibility scanner installed and opened.
2. Go to a site with a lot of text content (e.g.wikipedia).
3. Enable "Reader view" from the navigation bar.
4. From the three-dot menu, tap on the "Appearance" menu.
5. Scan the "Appearance" control menu.

### Expected behavior
No suggestions are made.

### Actual behavior

Suggestions for the **"Sepia"** button:
Touch

[2021-03-30 17:32] eliserichards opened #18709 "[Bug][a11y] Reader mode "Appearance" control menu - Light mode contrast"
Related to #18708, #18710, #16387

## Steps to reproduce
1. Have the Accessibility scanner installed and opened.
2. Go to a site with a lot of text content (e.g.wikipedia).
3. Enable "Reader view" from the navigation bar.
4. From the three-dot menu, tap on the "Appearance" menu.
5. Scan the "Appearance" control menu.

### Expected behavior
No suggestions are made.

### Actual behavior

Suggestions

[2021-03-30 17:32] codesuperstarr commented on #16387
I am an outreachy applicant, can I be assigned this issue?

[2021-03-30 17:33] eliserichards opened #18710 "[Bug][a11y] Reader mode "Appearance" control menu - Light mode button size"
## Steps to reproduce
1. Have the Accessibility scanner installed and opened.
2. Go to a site with a lot of text content (e.g.wikipedia).
3. Enable "Reader view" from the navigation bar.
4. From the three-dot menu, tap on the "Appearance" menu.
5. Scan the "Appearance" control menu.

### Expected behavior
No suggestions are made.

### Actual behavior

Suggestions made for the **"Light"** button:

[2021-03-30 17:37] eliserichards commented on #16387
@PreciousU, I have made some edits to the description of this bug so that it is more clear. The size of the clickable area of the button (the orange rectangle in the screenshot) is smaller than the button itself. The purpose of this card is to make the clickable area bigger (to match the button) so that it is easier to click.

@codesuperstarr, I have just made a few new issues similar to this that

[2021-03-30 17:38] brngylni commented on #18710
Can I work on it?

[2021-03-30 17:39] liacds commented on #17904
@eliserichards Yes, thank you :)

[2021-03-30 17:39] eliserichards commented on #18710
Hi @brngylni! Are you an Outreachy applicant? If so, feel free to work on this 👍

[2021-03-30 17:42] brngylni commented on #18710
Yes, I am an Outreachy applicant. Ok then, I am starting to work. Thanks.

[2021-03-30 18:05] vesta0 opened #18711 "[Telemetry] Credit Card Autofill"
## Description & Product Manager / Data Scientist User Story

As a product manager, I need to be able to measure the success of the new Credit Card Autofill feature, and understand pain points that we can fix in the next iterations.

## What questions will you answer with this data?

See success criteria here: https://docs.google.com/document/d/1MDjCb2zFXrDqdFZOAqSGQez4Y0CDhnVZkzTfhmsryBM/edit#

*

[2021-03-30 18:11] Jee-Hex commented on #18686
Apologies. I should clarify that this was tested in airplane mode and by `about:networking` I meant `about:networking#http`. I have also removed all Top Sites in the new tab page, so please discount anything that looks likes a favicon fetch.

This is essentially the same issue as described in https://github.com/mozilla-mobile/fenix/issues/17790#issuecomment-808726463.

[2021-03-30 18:49] brngylni commented on #18710
It wouldn't be so bad if I could get some extra detail
@eliserichards

[2021-03-30 19:09] neha-b2001 opened #18713 "[Bug][a11y] Manual sign-in onboarding - Increase touch target for 'Learn more' link"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-30 19:43] #18514 closed

[2021-03-30 19:43] re-hub commented on #625
I can no longer reproduce this bug. Fenix demontrates the expected behaviour now

[2021-03-30 20:18] #18386 closed

[2021-03-30 20:19] #18706 closed

[2021-03-30 20:23] #7223 closed

[2021-03-30 20:36] SeburoSUMO commented on #12702
Thank you @madb1lly for looking into this further.  It will be interesting to see how this develops.

[2021-03-30 20:57] gabrielluong commented on #18315
Closing as duplicate for https://github.com/mozilla-mobile/fenix/issues/18711

[2021-03-30 20:57] #18315 closed

[2021-03-30 21:15] amedyne commented on #18660
Closing this issue, track thru  bz-1701663.

[2021-03-30 21:15] #18660 closed

[2021-03-30 21:23] alexanderadam commented on #3107
@szaimen, are you sure that you didn't activated the experimental Samsung DeX setting "_Force apps to resize_"?

Because otherwise Firefox would really need [the already mentioned](https://github.com/mozilla-mobile/fenix/issues/3107#issuecomment-591089159) `resizeableActivity` directive.

I have Firefox 87.0.0-rc 1 installed and I definitely cannot resize Firefox without the experimental setting o

[2021-03-30 21:46] szaimen commented on #3107
It is completely possible that I've done that but I cannot remember.

[2021-03-30 23:24] #16427 closed

[2021-03-30 23:32] jonalmeida commented on #15998
Closing as a duplicate of https://github.com/mozilla-mobile/fenix/issues/16989.

[2021-03-30 23:32] #15998 closed

[2021-03-30 23:36] jonalmeida commented on #15848
Closing as no longer an issue with synced tabs in as a separate tray.

[2021-03-30 23:36] #15848 closed

[2021-03-30 23:39] jonalmeida commented on #14294
This should be fixed now.

[2021-03-30 23:39] #14294 closed

[2021-03-30 23:41] jonalmeida commented on #15821
Closing this since there was no response. It sounds like a duplicate of https://github.com/mozilla-mobile/fenix/issues/15848.

[2021-03-30 23:41] #15821 closed

[2021-03-30 23:46] jonalmeida opened #18717 "[Bug] Synced Tabs list cannot be seen when in private browsing mode"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-30 23:50] jonalmeida commented on #18513
@rocketsroger I just remembered that we have synced tabs now, so I'm not sure what three-dot menu should show be when it's focused.

Might be a question for Nicole.

[2021-03-30 23:55] violasong commented on #16659
Nominating this bug and its [sibling bug](https://github.com/mozilla-mobile/fenix/issues/16658) for triage because I would love to see us regain those extra pixels :). It will really improve the look of the homescreen too.

[2021-03-31 02:28] Apurwa96 commented on #18709
Hi, I am an outreachy applicant and This is my first time contributing to opensource, let me know if I can work on this.

[2021-03-31 03:25] SmallPackage opened #18718 "get firefox Android from somewhere really "free", NO GOOGLE PLAY;"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-31 06:28] Mugurell commented on #18672
That is interesting.
Seems like to to fully fix the renaming issue we need this part resolved also.

[2021-03-31 07:01] lobontiumira commented on #17168
@mcarare I tested again on the 3/31 Nightly build from 5:07AM, with Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9), with German, and the download notifications are not transalted:
![german](https://user-images.githubusercontent.com/40694158/113103473-fe12bf80-9207-11eb-9e3e-4e9307c5f776.png)

[2021-03-31 07:20] Mugurell commented on #18672
Measuring each page separately would mean that swiping between top sites pages with different heights (2 rows of topSites and then 1 row) the entire topSites layout would become smaller/bigger and all the other homescreen items "move" in response.
Right now having <=4 top sites on the second page still has that page occupying two rows.
After the above proposed change the 1st page of top sites woul

[2021-03-31 07:22] brngylni commented on #18710
Hey, I think this is beyond me. You'd better assign this to someone else. I am sorry.
@eliserichards

[2021-03-31 07:38] LaurentiuApahideanSV commented on #18718
You can download any version of Fenix from https://firefox-ci-tc.services.mozilla.com/tasks/index/mobile.v2.fenix, the latest release can be found here: https://firefox-ci-tc.services.mozilla.com/tasks/index/mobile.v2.fenix.release.latest. Let me know if you have further issues.

[2021-03-31 08:04] lobontiumira commented on #18204
Thank you for the report!
I was able to reproduce this issue with https://hdvid.tv/pvub6in44l54.html on the Xiaomi Mi 8 Lite (Android 9) device on RC 87.0.0-rc.1.
Not reproducible on the 3/31 Nightly build.

[2021-03-31 08:06] lobontiumira commented on #18713
This is a duplicate of #14716.
I'll close this.

[2021-03-31 08:29] cadeyrn commented on #17797
@mcarare Could the spacing between the icon and the text increased a bit? There is also more spacing in the mockup as in the implementation. Thanks!

[2021-03-31 08:32] lobontiumira commented on #17995
I will close this issue since I was not able to reproduce it.
Also, the reporter has not provided more details.

[2021-03-31 08:32] #17995 closed

[2021-03-31 08:33] mcarare commented on #17168
@lobontiumira I tested this on the latest Nightly in the store. Following the steps from the initial post in this issue, the notifications are translated in all languages.
If you are following other steps than the ones described, please list them exactly so we can identify if this is the same bug or another issue. Thank you!

[2021-03-31 08:38] mcarare commented on #17797
@violasong Can you please check the implementation and have it compared with the ones from Figma? And if there are any things that need to be changed, can you open an `implementation review` issue (like these https://github.com/mozilla-mobile/fenix/labels/implementation%20review)? Thank you!

[2021-03-31 08:38] LaurentiuApahideanSV commented on #18661
@SimonDedman Are you reporting that the the microphone icon for the widget is not displayed when the widget size is set to 2x1? In this case issue https://github.com/mozilla-mobile/fenix/issues/9323 has already been summited.

[2021-03-31 08:39] lobontiumira commented on #18641
Thank you @aL3xa fot the report!
I was not able to reproduce this issue on neither of the Firefox builds (3/31 Nightly, RC 87.0.0, nor Beta 88.0.0-beta.2). Tested with Xiaomi Mi 8 Lite (Android 9), Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9).
Could you help us with a short video, please?

[2021-03-31 08:41] pocmo commented on #18718
Builds are available from the links above as well as the releases page on GitHub:
https://github.com/mozilla-mobile/fenix/releases

Additionally there's a build available from fdroid (which is not maintained by Mozilla):
https://f-droid.org/en/packages/org.mozilla.fennec_fdroid/

[2021-03-31 08:41] #18718 closed

[2021-03-31 08:49] lobontiumira commented on #15567
I was not able to reproduce this issue on neither of the Firefox builds (3/31 Nightly, RC 87.0.0-rc.1, nor Beta 88.0.0-beta.2).
I accessed https://commons.m.wikimedia.org/wiki/File:Johnrogershousemay2020.webp in private browsing, tapped on "Original file" link, and I was redirected to the image. No dialog was displayed.

@KrasnayaPloshchad are you still reproducing this issue?

[2021-03-31 08:55] AndiAJ opened #18720 "[Bug] Disable failing UI Tests | <NavigationToolbarTest.goForwardTest> | <NavigationToolbarTest.refreshPageTest> | <NoNetworkAccessStartupTests.testPageReloadAfterNetworkInterrupted> | <SmokeTest.mainMenuShareButtonTest> | <SmokeTest.mainMenuRefreshButtonTest> | <ShareButtonTest.ShareButtonAppearanceTest>"
Due to intermittent test failures in #18619 the following tests will be disabled:
<NavigationToolbarTest.goForwardTest>
<NavigationToolbarTest.refreshPageTest>
<NoNetworkAccessStartupTests.testPageReloadAfterNetworkInterrupted>
<SmokeTest.mainMenuShareButtonTest>
<SmokeTest.mainMenuRefreshButtonTest>
<ShareButtonTest.ShareButtonAppearanceTest>

[2021-03-31 08:57] lobontiumira commented on #17168
@mcarare the steps I followed are:
1. Set the language of the device to German (Deutsch).
2. Make sure Fenix follows the system's language.
3. Go to https://www.thinkbroadband.com/download.
4. Tap to download a file.
5. Observe the Download notification.

If I set the German language in Fenix - Settings, the download notifications are translated.

[2021-03-31 09:14] codrut-topliceanu commented on #18644
Needed to uplift https://github.com/mozilla-mobile/fenix/pull/18703 to fix failing tests for https://github.com/mozilla-mobile/fenix/pull/18699. I spoke with @pocmo on Slack about it 😄

[2021-03-31 09:14] mcarare commented on #17168
@lobontiumira Please confirm that Fenix was already opened in the background when you changed the system language. And that with Fenix closed or restarted after the system locale change the buttons are translated.
If that is the case I will open a new issue for that and you can confirm this issue is fixed for the steps described in the first post. Thank you!

[2021-03-31 09:30] Mugurell commented on #18720
This tests will need to be updated to support the new menu which right now has those options initially scrolled off-screen.

[2021-03-31 09:37] neha-b2001 commented on #18713
@lobontiumira Hello, actually in issue #14716, the Learn more TextView's size has to be increased in `button_tip_item.xml`, whereas for this issue, the Learn more TextView's size needs to be increased in `onboarding_manual_signin.xml`. Hence I thought of opening a separate issue for this, sorry about that 😅

Can I resolve both these issues in the same PR (for issue #14716) then?

[2021-03-31 09:40] sanyud24 commented on #18710
As @brngylni left this issue . May I start working on this one ?

[2021-03-31 09:47] A3148475824 opened #18723 "Smash the field."
The first point: search speed, search speed is too slow, I do not know, alas, do not understand. It's very slow and full, one card at a time, not smooth at all.
The second point: video broadcast you this is too simple, can not provide one? For example, suspension playback, video download, clarity adjustment, gesture provocation brightness and sound volume.All videos can be downloaded as long as th

[2021-03-31 09:48] A3148475824 commented on #18723
Don't ask me why you read it so awkwardly that it doesn't even make sense. Because I translated it directly by iFLYTEK.

[2021-03-31 09:59] SimonDedman commented on #18661
Hi @LaurentiuApahideanSV , yes this is basically the same issue. However the microphone disappears below 4.5 not at 2, and the other issue doesn't mention the fact that the widget is completely misaligned to the grid system, thus wasting tons of space.

[2021-03-31 10:05] 318anushka commented on #18709
Is it okay if i take up this issue?

[2021-03-31 10:12] 318anushka commented on #17826
Hi!! I am an outreachy applicant and would like to take up this issue if free.

[2021-03-31 10:13] Mugurell commented on #18720
Thank you @Andi for disabling these tests and help unblock merging.
Didn't think of this because nothing should've changed regarding the menus in my PR but looking at the videos from Firebase it seems like for that PR the new menu was used (which doesn't fit the screen and had the options tests needed scrolled off) while for other PRs the old menu is used (with fewer menu items, all available in t

[2021-03-31 10:28] LaurentiuApahideanSV commented on #18044
I tried to reproduce the issue on Firefox Preview RC 87.0.0 and Nightly 210331 but was unable to. Since the reported has not provided any more details on how to reproduce the issue I will close it.
### Device used:
- OnePlus 6T (Android 9)

[2021-03-31 10:28] #18044 closed

[2021-03-31 10:40] #17168 closed

[2021-03-31 10:41] mcarare opened #18726 "[Bug] Changing device language does not change notifications locale if Fenix was already opened."
Following up on  https://github.com/mozilla-mobile/fenix/issues/17168#issuecomment-810900261.

STR:

1. Open Fenix
2. Set language setting to follow device language.
3. Keep the app in the background
4. Set the language of the device to German (or another language)
5. Return to the app
6. Download a file or open a new private tab (or any action that displays a notification)
7. Observe the notifica

[2021-03-31 10:42] LaurentiuApahideanSV commented on #18407
Since the reporter has not provided any more details regarding the issue and we are unable to reproduce it I will close it.

[2021-03-31 10:42] #18407 closed

[2021-03-31 10:59] LaurentiuApahideanSV commented on #18685
I will mark this as a feature request in regards to the ability to disable/enable search engine suggestions based on typed text.
The second issue brought up has been submitted here https://github.com/mozilla-mobile/fenix/issues/15863.

[2021-03-31 11:10] sv-ohorvath commented on #17979
A few more tests were disabled for blocking a PR (https://github.com/mozilla-mobile/fenix/pull/18619), here https://github.com/mozilla-mobile/fenix/pull/18722
<NavigationToolbarTest.goForwardTest>
<NavigationToolbarTest.refreshPageTest>
<NoNetworkAccessStartupTests.testPageReloadAfterNetworkInterrupted>
<SmokeTest.mainMenuShareButtonTest>
<SmokeTest.mainMenuRefreshButtonTest>
<ShareButtonTest.Shar

[2021-03-31 11:42] kanish671 commented on #18672
Yeah, I too think this is a much bigger bug than renaming not reflecting immediately. Will wait for input from UX before I proceed on this further.

[2021-03-31 11:49] sflorean commented on #18205
I was able to reproduce this on LG G7 Fit (Android 8.1) on Private browsing with ETP set to custom (default settings).
Builds: Release 87, latest Nightly 3/31.

Android Studio error:
[code]

[2021-03-31 12:10] sflorean commented on #18144
I was able to successfully receive notification in normal browsing state on latest Nightly on this devices: Samsung Note 10 (Android 11) and LG G7 Fit (Android 8.1).

I wasn't able to receive the notification when visiting the site in private browsing, same devices, I got a constant "sending mode".
[log.txt](https://github.com/mozilla-mobile/fenix/files/6236420/log.txt)

[2021-03-31 12:21] sflorean commented on #18444
I was able to reproduce this issue on latest Nightly 3/31 with Samsung Note 10 (Android 11), following the steps from description.
Note that the custom tab, and also after opening the link in Nightly, the orientation is in landscape, for both cases.

[2021-03-31 12:48] Mugurell commented on #18617
For QA. This was just a small code refactorization. But it would help to know that the "download completed dialog" can be hidden / shown as before and nothing is broken in this functionality.

[2021-03-31 12:50] lobontiumira commented on #18226
I can confirm this issue on Samsung Galaxy Note 8 (Android 9), on all Firefox builds, RC 87.0.0, Beta 88.0.0-beta.2, and 3/31 Nightly.

@kelimuttu thank you for your report!

[2021-03-31 12:52] LaurentiuApahideanSV commented on #18723
Please submit a bug report/feature request separately for each of the problems you encountered along with a clear description of the issue, steps in order to reproduce it and any further information that might help us, such as the device model and firmware that you are using and the version of Firefox.

[2021-03-31 12:52] #18723 closed

[2021-03-31 13:01] lobontiumira commented on #18011
Thank you for the report @lucifer000123!

I've tested on Samsung Galaxy Note 8 (Android 9), on the 3/31 Firefox Nightly build, the following scenario:
- I had some previous tabs opened from a day before,
- I opened a new tab,
- went back to tabs tray,
- opened an old tab, which reloaded.

I'm not sure I understand if this is your issue, so please provide more details.
Could you, maybe, provide us

[2021-03-31 13:09] lobontiumira commented on #17998
Thank you for the report @ubrainlessgit!

The first issue is a duplicate of #10986, as Dunexus mentioned.
The second one is covered by #18210.

Therefore, I will close this issue.

[2021-03-31 13:09] #17998 closed

[2021-03-31 13:12] sflorean commented on #14073
Issue #6347 is filed for this issue, and your scenario/device will be checked when will be fixed. Thank you for report!
Closing as duplicate.

[2021-03-31 13:12] #14073 closed

[2021-03-31 13:23] #17003 closed

[2021-03-31 13:36] abodea commented on #17034
Hi @privilegejunkie!
Thank you for this report!

I was not able to reproduce this issue on **RC**, **Beta**, or the latest **Nightly** build from 3/31/21 with Google Pixel 4 XL (Android 11).
I use the android 11 for many months but I never had an issue like this on video elements.
Can you please send me the website via email in order to test the exact scenario?

My email: abodea@mozilla.com

[2021-03-31 13:36] sflorean commented on #16438
This is also reproducible on Chrome, but the difference is not so visible.

[2021-03-31 13:48] LaurentiuApahideanSV commented on #15498
The issue no longer occurs on Firefox RC 87.0.0 and Nightly 210331. I will mark this issue as closed.

[2021-03-31 13:48] #15498 closed

[2021-03-31 13:50] LaurentiuApahideanSV commented on #18319
I can confirm the issue is reproducible on Firefox RC 87.0.0 and Nightly 210331.

### Device used:
- OnePlus 6T (Android 9)

[2021-03-31 14:01] abodea commented on #17610
I checked this issue on the latest Nightly build 3/31/21 with Google Pixel 4 XL (11).
Please note that there was a change regarding the comments section on youtube and now they are displayed at the top.
![Screenshot_20210331-165915](https://user-images.githubusercontent.com/42831109/113156385-9af24e80-9242-11eb-96b2-50e6585d62e9.png)
@theSdev can you please re-check this issue?

[2021-03-31 14:04] LaurentiuApahideanSV commented on #18222
I can confirm the issue is reproducible on Firefox RC 87.0.0 and Nightly 210331.

### Device used:
- OnePlus 6T (Android 9)
- Google Pixel 3XL (Android 9)

[2021-03-31 14:05] lobontiumira commented on #17987
Thank you for the report, @BrokenShoeLace!

I was not able to reproduce any of the mentioned issues on bing.com on Samsung Galaxy Note 8 (Android 9), on the 3/31 Nightly build.
Could you retry, please?

[2021-03-31 14:10] LaurentiuApahideanSV commented on #17176
The feature you requested will be implemented by https://github.com/mozilla-mobile/fenix/issues/17800. I will close this issue as it will be handled there.

[2021-03-31 14:10] #17176 closed

[2021-03-31 14:14] theSdev commented on #17610
@abodea the comments section has moved but the issue is still there, namely a portion of the bottom of the page is still not visible.
In the below screenshots, I've scrolled to the very bottom of the page. In the `minimal-ui` mode, the title and avatar of the last suggested video is cut off and not fully shown, but when I choose "open in browser" and view the page normally, I can see that info ful

[2021-03-31 14:14] lobontiumira commented on #17959
Thanks for the report, @oakkitten!

I did not manage to reproduce your issue with Samsung Galaxy Note 8 (Android 9) on the 3/31 Nightly build.
Are you able to reproduce this on the latest Firefox Nightly build?
Could you provide us a short video, for a better understanding?

[2021-03-31 14:15] rocketsroger commented on #18513
That's true.  I'll add the the menu in but start a conversation about what the menu should show in synced tab.

[2021-03-31 14:16] sflorean commented on #14786
Closing this due to lack of information. Will be re-opened if we can/have steps to reproduce.

[2021-03-31 14:16] #14786 closed

[2021-03-31 14:19] scheinercc commented on #8582
There is a new thread about this issue over on Reddit: https://www.reddit.com/r/firefox/comments/mh3uvj/send_tab_to_device_doesnt_work/

[2021-03-31 14:25] #18444 closed

[2021-03-31 14:29] sflorean commented on #16980
I was able to reproduce this on Nightly 3/31 with Samsung Note 10 (Android 11).

[2021-03-31 14:36] sflorean commented on #17147
Closing as duplicate of #4208. This scenario will be verified when the issue is fixed.

[2021-03-31 14:36] #17147 closed

[2021-03-31 14:38] sv-ohorvath commented on #13281
Flaky on Debug 3/31: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8531912845201174554/executions/bs.7670dc593a42203e/testcases/1/test-cases

[2021-03-31 14:46] KrasnayaPloshchad commented on #15567
Yes. I have enabled Open links with apps option

[2021-03-31 14:49] abodea opened #18727 "[Bug][PiP] The media buttons are still displayed when opening a new blank page in PiP"
## Steps to reproduce
1. Open a YT video on full screen and tap on the recent apps button.
2. The PiP is displayed and the video is running without issues.
3. Long tap on the Fenix icon and select `New tab or New Private tab`.
4. Note that the tab is opened but the media buttons are still displayed and the video can be controlled even tho it is not displayed.
### Expected behavior
Media buttons sh

[2021-03-31 14:50] sflorean commented on #17659
Closing as dupe of #7784, your scenario will be tested when the issue is fixed. Thank you for filing this!

[2021-03-31 14:50] #17659 closed

[2021-03-31 14:51] abodea commented on #17360
For the past months, we didn't encounter any issues regarding this.
I also did today some checks on few websites: YT, Vimeo, Twitch, Twitter but I had no issues on the latest Nightly 3/31/21 with Google Pixel 4 XL (11).
@mzulkifli757 can you please re-check and add the information asked above, please?

[2021-03-31 14:57] LaurentiuApahideanSV commented on #18096
I tried to reproduce your issue but was unable to. It was probably fixed by https://github.com/mozilla-mobile/fenix/issues/12525. I will mark this issue as closed, if the problem persists feel free to reopen the issue.

[2021-03-31 14:57] #18096 closed

[2021-03-31 14:57] abodea commented on #17426
Thank you for this report @handyguy2!
We didn't encounter this issue for the past months on tablet devices or phone devices.
I tried to reproduce it today with my Google Pixel 4 XL (11) on the latest Nightly 3/31/21 but I was not able to repro it.
Do you still reproduce this issue?

[2021-03-31 14:59] SoftVision-LorandJanos commented on #16765
Hi @reyis4402 ! Thank you for your report! This issue is no longer reproducible as described, on the latest Nightly (210331 05:02 - GV89) and on Latest Release (87.0.0-rc.1) as the text you mentioned is displayed in the middle. Verified, using a Motorola Nexus 6 (Android 7.1.1).
![Screenshot_20210331-175136](https://user-images.githubusercontent.com/48829350/113165787-df81e800-924a-11eb-8b25-443d2

[2021-03-31 15:02] sflorean commented on #17501
@genodeftest I wasn't able to reproduce this using Gmail (as share app) and latest Nightly build.
Device: Nokia 6 (Android 7.1.1).
This is still reproducible for you on latest release build?

[2021-03-31 15:13] sflorean commented on #8587
@532910 the setting is used for the YouTube links, to be opened in YouTube app. This is an example, but depends on what apps have you installed on your device, and the toggle must be ON.
I will close this based on the fact that this is no longer reproducible.

[2021-03-31 15:17] sflorean commented on #8482
Closing this due to lack of information/not reproducible state. If the issue is still reproducible, please re-open.

[2021-03-31 15:17] #8482 closed

[2021-03-31 15:22] abodea commented on #17925
Thank you for this report @superbonaci!
Note that I was not able to reproduce this on the latest Nightly from 3/31/21 with Google Pixel 4 XL (11) and Samsung Galaxy S10+ (10).
I followed the steps from the description but the website worked as expected, I even set the URL bar to top.
Can you still reproduce this issue?
Note that I also tried on the latest RC but I was not able to reproduce it.
I'v

[2021-03-31 15:28] sflorean commented on #11577
Issue #11950 is fixed and verified, please check the following discussions there if it is the case. Closing this as verified, as well.

[2021-03-31 15:28] #11577 closed

[2021-03-31 15:28] allisonkarlitskaya commented on #14633
My 2¢: Lastpass and Bitwarden both seem to be impacted here.

Chrome works consistently
Firefox Klar works consistently
Nightly works, mostly (but stops working if you click around too much)
87, and beta seem broken

Despite what the summary of this bug suggests, it's very much not limited to Keepass

[2021-03-31 15:40] gabrielluong opened #18729 "Use consistent string naming for generic strings"

[2021-03-31 16:25] mcomella opened #18731 "Fix error: "Rejecting re-init on previously-failed class java.lang.Class<org.mozilla.fenix.perf.ThreadPenaltyDeathWithIgnoresListener>:""
## Steps to reproduce
- Start the app by clicking the homescreen

### Expected behavior
No StrictMode warning about classes not being defined in logcat.

### Actual behavior
An error about classes about StrictMode being defined. Something like:
[code]

I've noticed this has a performance impact too: it appears in profiles to take 2 samples or somewhere around 10ms on the Moto G5: https://share.fir

[2021-03-31 16:27] mcomella commented on #18731
The root cause appears to be related to anonymous classes: for some reason, when using anonymous classes, the >= P class is attempted to be loaded even though it's in a block.

[2021-03-31 16:58] pa3m3r commented on #8252
Found a fix on Galaxy S21:
Get the YouTube High Definition add-on
Go to the settings and choose Expand for Video Size
For it to work the phone has to be on landscape mode when you fullscreen the youtube video

[2021-03-31 18:04] superbonaci commented on #17925
It has to pass a lot of time, and I think it was fixed, so closing for now.

[2021-03-31 18:05] #17925 closed

[2021-03-31 18:29] #18717 closed

[2021-03-31 19:54] ghost opened #18733 "Custom settings made through about:config reverts back to default"
Fenix version: Fenix-beta-88.0.0.2

Custom changes made through about:config reverts back to their default state after exiting(clearing fenix from recent apps) fenix. Properties like;

* dom.security.https_only_mode -> reverts back to false

* javascript.enabled -> reverts back to false

* network.cookie.behavior -> reverts back to 4 and network cookie lifetime policy reverts back to 0

I believe

[2021-03-31 19:57] pleiozc opened #18734 "Unable to switch between tabs with 'find in page' on"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-31 20:04] AaronMT commented on #17979
Thank you for disabling the tests ahead of time. @isabelrios / @sv-ohorvath will be covering this.

[2021-03-31 20:11] oakkitten commented on #17959
i hope 3/30 is alright

https://user-images.githubusercontent.com/1710718/113204711-65ab2800-9265-11eb-9348-71ac299afa40.mp4

[2021-03-31 20:13] ghost opened #18735 "Cookies can't be disabled through the UI, but from about:config"
Fenix version: Fenix-beta-88.0.0.2

From Enhanced security settings -> chosing custom option and enabling the "All cookies, may break sites" should disable cookies. If that option is enabled and try visiting a site that requires some sort of authentication, cookies are in fact not rejected. I had to manually intervene the *network.cookie.behavior* option from about:config and change it to 2 to dis

[2021-03-31 20:22] samiuljoy opened #18737 "An option to export collections/bookmarks as a .txt file"
This is just a personal thought, but it would be pretty nice to have an option to export bookmarks/collections in .txt format. That way I could use `regex` to pipe the urls and feed it to dmenu and open the links through my PC browser and rsync to sync the urls. Adding this feature could save quite a bit of time, instead of manually copying the urls.

[2021-03-31 21:01] handyguy2 commented on #17426
Hi,
Yes, it is still happening to me, on many different nightly releases. My Device is older, a Samsung Tab S2 8.0 running Android 10.

[2021-03-31 21:07] #17770 closed

[2021-03-31 21:30] eliserichards commented on #18708
See https://github.com/mozilla-mobile/android-components/blob/1d1753abba4d29ad3e91c16d0c751db7cdbd639d/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewFeature.kt#L78 in the [Android Components](https://github.com/mozilla-mobile/android-components) repo

[2021-03-31 21:31] eliserichards commented on #18709
Hi @Apurwa96! You can pick this up. You should start looking in https://github.com/mozilla-mobile/android-components/blob/1d1753abba4d29ad3e91c16d0c751db7cdbd639d/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewFeature.kt#L78 in the [Android Components](https://github.com/mozilla-mobile/android-components) repo

[2021-03-31 21:32] eliserichards commented on #18710
See https://github.com/mozilla-mobile/android-components/blob/1d1753abba4d29ad3e91c16d0c751db7cdbd639d/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewFeature.kt#L78 in the [Android Components](https://github.com/mozilla-mobile/android-components) repo

[2021-03-31 21:32] eliserichards commented on #16387
See https://github.com/mozilla-mobile/android-components/blob/1d1753abba4d29ad3e91c16d0c751db7cdbd639d/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewFeature.kt#L78 in the [Android Components](https://github.com/mozilla-mobile/android-components) repo

[2021-03-31 21:39] hakkikaancaliskan opened #18739 "[Bug] Show desktop site option shown in home fragment"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-31 21:55] hkaancaliskan opened #18740 "[Bug] Page reloading spinner stucks if webpage uses it's own spinner and if reloaded before page fully loaded"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-31 22:00] cadeyrn commented on #18739
It was implemented in #18653.

[2021-03-31 22:01] hakkikaancaliskan commented on #18739
But this option doing nothing, not affecting other tabs etc, what's the point of having it here?

[2021-03-31 22:03] cadeyrn commented on #18739
It works for me, tested with github.com.

[2021-03-31 22:07] hakkikaancaliskan commented on #18740
Probably @Mugurell is the right person to cc here :)

[2021-03-31 22:20] #18729 closed

[2021-03-31 22:27] mcomella commented on #17645
Triage: once we add the profiler markers, we want to work with acreskey or other folks knowledgeable about Gecko on what could be preventing the loadUrl fix from working. While looking at profiles in the profiler office hours, we noticed there was ~950ms delay in scheduling the loadUrl runnable – we should try to find the root cause of that (which may be related to GeckoView start up timing).

[2021-03-31 22:31] mcomella opened #18741 "Restoring session to CNN seems slower on Nightly than Release (for COLD MAIN start up)"
csadilek anecdotally noticed on their Pixel 3a that restoring a session (when clicking the homescreen icon) to cnn.com was slower on Nightly than it is on Release (Beta seemed to be like Nightly).

csadilek took profiles and there appears to be a ~1.5s difference from when the first web content appears in the screenshots:
- Nightly (slower): https://share.firefox.dev/3sHeIhp
- Release: https://sha

[2021-03-31 22:44] PreciousU commented on #16387
Thank you, Elise. I needed this. I discovered the issue wasn't as easy as I
thought. I hope I get to complete this contribution quickly and move on to
do lots more.

On Wed, 31 Mar 2021, 10:32 pm Elise Richards, ***@***.***>
wrote:

[2021-03-31 23:19] brampitoyo opened #18742 "Resize the top site items"
Figma: https://www.figma.com/file/lfgj15zbNkL9Pp4hdZGJgp/Proton-Mobile-UI?node-id=809%3A1

| Element | Theme | Current | Proposed |
| --- | --- | --- | --- |
| Shortcut tile background | Both | 40×40 | 60×60 |
| Shortcut tile favicon | Both | 32×32 | 36×36 |

[2021-03-31 23:27] brampitoyo opened #18743 "Change text styles and colours of the top site items"
Figma: https://www.figma.com/file/lfgj15zbNkL9Pp4hdZGJgp/Proton-Mobile-UI?node-id=809%3A1

## Text styles

| Element | Current | Proposed |
| --- | --- | --- |
| Shortcut tile label size | 10dp | 12dp |

## Colours

| Element | Theme | Current | Proposed |
| --- | --- | --- | --- |
| Shortcut tile label | Light | `Dark Grey 10` `#52525e` | Same as other texts `Dark Grey 90` `#15141a` |
|  | Dark |

[2021-03-31 23:32] brampitoyo opened #18744 "New Tab Page stretch goal: recolour backgrounds"
Figma: https://www.figma.com/file/lfgj15zbNkL9Pp4hdZGJgp/Proton-Mobile-UI?node-id=809%3A1

| Element | Theme | Current | Proposed |
| --- | --- | --- | --- |
| New Tab Page background | Light | `Light Grey 10` `#f9f9fb` | No change |
|  | Dark | `Dark Grey 80` `#1c1b22` | `Dark Grey 60` `#2b2a33` |
| Shortcut Tile background | Light | `white` | No change |
|  | Dark | `Dark Grey 50` `#32313c | `Da

[2021-03-31 23:33] brampitoyo opened #18745 "New Tab Page stretch goal: add shadow to shortcut tiles"
Figma: https://www.figma.com/file/lfgj15zbNkL9Pp4hdZGJgp/Proton-Mobile-UI?node-id=809%3A1

| Element | Theme | Proposed |
| --- | --- | --- |
| Shortcut tile shadow | Light | `Drop shadow Radius: 6 pt, Offset: 0 pt 2 pt, rgba 0.23, 0.22, 0.27, 0.2` |
|  | Dark | `Drop shadow Radius: 6 pt, Offset: 0 pt 2 pt, rgba 0.11, 0.11, 0.13, 0.5` |

Inspect the `Tile` object using Figma to see full shadow val

[2021-04-01 00:04] mcomella commented on #18741
To determine if this regression is real, we could run performance tests (perftest VIEW?) on a each of these builds to see if there's a difference.

[2021-04-01 04:51] sanyud24 commented on #18710
Ohkay , thankyou 👍

[2021-04-01 05:49] lobontiumira commented on #15635
The issue is not reproducible on the 3/31 Nightly build with Samsung Galaxy Note 8 (Android 9).
The page opens zoomed out, but can be zoomed in and is displayed fully.

[2021-04-01 05:49] #15635 closed

[2021-04-01 06:35] Mugurell commented on #18128
Thank you @hakkikaancaliskan !
So it seems like the issue is only half resolved.

Moving it to GeckoView.

[2021-04-01 06:35] Mugurell commented on #18128
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1702402

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-04-01 06:35] #18128 closed

[2021-04-01 06:56] yvolk commented on #10439
I encountered the same problem, but found this article about a solution using timeouts introduction. It also mentions the same Lint freezing:

See https://ubiratansoares.dev/post/timeouts-and-your-big-gradle-project/

[2021-04-01 07:04] sflorean commented on #18734
@pleiozc thanks for reporting this! #9165 is already filed and your scenario will be tested when the issue is fixed.
Closing as duplicate!

[2021-04-01 07:04] #18734 closed

[2021-04-01 07:28] sflorean commented on #18737
@samiuljoy thanks for filing this!
One way to have access to bookmarks will be by signing with a Firefox account, on all devices, in this case you don't have to manually adding them.

For the case when Firefox account is not used, #417 is filed already. Your scenario will be verified when the feature request will be fixed.
Closing as duplicate.

[2021-04-01 07:33] clauub commented on #6480
@mkaply @sblatz I know this issue is closed, but I have a question based on default search engine. Is there any option to edit list.json file with my custom search engine needs ?

[2021-04-01 07:57] Mugurell commented on #18740
Thank you @hakkikaancaliskan !

So I'm seeing that previously app's pull to refresh would've been triggered every time for a swipe down.
- While the page was loading.
- While the page is fully loaded and Twitter scrolled to the top.

Both of these scenarios are something we'd want to avoid.
- Pull to refresh shouldn't be triggered while the page is loading.
- App's pull to refresh shouldn't be tri

[2021-04-01 08:55] pocmo commented on #6480
@clauub In Fenix itself you can change the search engines in settings. If this is for your own build then you can place a custom list.json into your app and override the one coming from the component.

[2021-04-01 08:57] clauub commented on #6480
@pocmo  So if I'm creating a new list.json file this should work fine ?

[2021-04-01 09:31] #18644 closed

[2021-04-01 09:35] sv-ohorvath opened #18746 "[Bug] closePrivateTabsNotificationTest intrumentation tests crashed on Firebase"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-01 10:26] n0m0r3pa1n commented on #10439
Running app:lintDebug instead of app:lint resolves the issue.

[2021-04-01 11:35] neha-b2001 commented on #17903
@eliserichards
Actually, in `fragment_edit_bookmark.xml`, `bookmarkParentFolderSelector` has already been set to 48dp height:

![image](https://user-images.githubusercontent.com/67039214/113287661-7e6e1900-930b-11eb-8d73-59fdcbe0a314.png)

However, Google Accessibility Scanner is giving the **Multiple items have same description** suggestion to all three elements of this fragment:

![image](https:

[2021-04-01 11:53] clauub commented on #6480
Thanks a lost, I solved it.

[2021-04-01 11:59] sflorean commented on #18495
Reproducible also on 88.0.0-beta.3 - LG G7 Fit (Android 8.1).

[2021-04-01 12:24] ildar commented on #14771
Should be fixed IMHO as crashes aren't pretty.

[2021-04-01 12:45] Devanshu19 opened #18748 "[Bug] Show Desktop Site is not working the other way."
There are some websites which have the issue with show desktop site feature.

As seen in the video linked below, The website was easily switched to the **Desktop Mode** but its not coming back to the original **Mobile Mode**.

**Video**:
https://user-images.githubusercontent.com/66104268/113294630-df4e1f00-9314-11eb-9ec3-128be298c9cc.mp4

https://user-images.githubusercontent.com/66104268/11329654

[2021-04-01 12:47] Devanshu19 commented on #18748
Video Added......

[2021-04-01 12:54] sflorean commented on #18748
@Devanshu19 bug #17693 is already filed for your issue, I will close this as duplicate but your scenario will be covered when the issue is fixed.

[2021-04-01 12:54] #18748 closed

[2021-04-01 13:02] drago333 commented on #16980
Could reproduce only the specific case mentioned in #18444 using Nightly 210331
Steps are:
1. Play a video in full screen, in landscape.
2. Use another app to open a link with FF.

Now you you are stuck in landscape

[2021-04-01 13:09] H-M-H opened #18749 "[Bug] PointerEvent.pointerType is set to touch despite using pen/stylus"
## Steps to reproduce
Register an event handler for example for `onpointermove` and observe `PointerEvent.pointerType` of the event.

### Expected behavior
`pointerType` should be `pen`.

### Actual behavior
`pointerType` is `touch`.

### Device information
* Device vendor / model and Android version: Onyx Boox Note 2
* Firefox for Android version: 87.0.0-rc.1 (Build #2015799099)

### Other inform

[2021-04-01 13:25] Mugurell commented on #18749
Thank you @H-M-H !
Will move this ticket to Bugzilla where discussions around GeckoView's development are taking place.

[2021-04-01 13:25] Mugurell commented on #18749
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1702482

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-04-01 13:25] #18749 closed

[2021-04-01 13:34] Mugurell commented on #18727
The media buttons are not controlled by us but by the framework. They are standard for PIP which should only be used for media.

Since the user is opening a new tab I think the expected result is for the app to exit PIP and open a new tab in the fully shown application, tab that can be interacted with.
Like it would happen when while in PIP users tap on a link to open in Fenix.

Asking for UX's co

[2021-04-01 13:42] abodea commented on #18740
Thank you for this report @hakkikaancaliskan!
Note that I was able to reproduce this issue right before twitter was loaded with a pull-refresh-down.
IMO this is not really a normal user behavior as you don't really wanna refresh a page while opening it because you wait for it to load.
I reproduced the issue on the latest nightly 4/1/21 with Google Pixel 4 XL (11).
While being in the home screen or

[2021-04-01 13:59] ebalazs-sv commented on #18667
Verified as fixed on Beta 88.0.0-beta.3 with LG G7 Fit (Android 8.1).
I will close this issue.

[2021-04-01 13:59] #18667 closed

[2021-04-01 15:37] ra-hardy opened #18750 "[Bug] After exiting fullscreen, the address bar overlaps with the phone notification area"
## Steps to reproduce
1. Go to https://www.robdev.org.uk/london_webcam/
2. Click the fullscreen icon on one of the videos
3. Exit fullscreen

### Expected behavior
The address bar should be below the notification area after exiting fullscreen

### Actual behavior
The adderss bar overlaps with the notification area. See screenshot

### Device information
* Samsung Galaxy S10
* Firefox for Android 8

[2021-04-01 17:30] mcomella commented on #18741
acreskey filed a significant COLD page load regression as https://bugzilla.mozilla.org/show_bug.cgi?id=1697218 23 days ago – I wonder if these are the same issue.

[2021-04-01 17:37] mcomella opened #18753 "Local nightly builds are faster than released builds: why?"
I did some performance tests on my Moto G5:
- perftest release: 2489.5ms
- perftest nightly local: 2030.5ms
- perftest nightly download: 2327.0ms
- first-frame VIEW release: 1750ms
- first-frame VIEW nightly local build: 907ms
- first-frame VIEW nightly download: 1771.5ms

My local nightlies are significantly faster than the released nightlies and release builds. Curiously, this occurs for both co

[2021-04-01 18:13] mozkeeler commented on #18741
Can you recapture those profiles with the socket thread and ssl threads included? Thanks!

[2021-04-01 18:44] #9857 closed

[2021-04-01 18:44] #10829 closed

[2021-04-01 18:44] #12650 closed

[2021-04-01 20:01] hakkikaancaliskan opened #18754 "[Bug] Top site design gets broken on >8 icons"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-01 20:20] mcomella commented on #18731
Addressed with https://github.com/mozilla-mobile/fenix/commit/6e5b4b3ce68ab7df0b16f1b09656944ed2a7c5ba

[2021-04-01 20:20] #18731 closed

[2021-04-01 20:23] hakkikaancaliskan opened #18755 "[Bug] Swipe down to refresh shouldn't be activated if there is swipe up action"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-01 20:41] DiegoARL38 commented on #18740
While on an unstable network, like cellular data, it's quite useful being able to reload the page if it hasn't finished loading the first time.

[2021-04-01 22:01] julian-alarcon commented on #16952
As bug in Gecko view was already closed, it should be a priority.

[2021-04-01 22:02] rocketsroger commented on #18068
@Mugurell Thanks for the investigation.  I'll look into this.

[2021-04-01 22:26] danielzgtg opened #18757 "[Bug] Default browser notification spam"
I am annoyed by Firefox constantly asking whether it wants to be the default browser. I have no default browser set so that accidentally tapping on ads doesn't take me out of the app I'm in.

## Steps to reproduce

1. Don't set any default browser
2. Wait one week

### Expected behavior

Upon dismissing the notification three times, it should not appear again.

### Actual behavior

It feels like I

[2021-04-01 23:03] carallo commented on #7491
Is this so complicated to be fixed? Seems a pretty important bug to me, all other browsers let you add search engines pretty easily, automatically fetching favicon and search suggestion url...

[2021-04-02 00:54] jonalmeida commented on #17821
Did some perusing and found that a store would go nicely with a modified version of the `SelectionInteractor`/`SelectionHolder` that we're already using for `LibrarySiteItemView`.

[2021-04-02 01:47] jonalmeida commented on #18656
Closing this as invalid after talking to UX; this isn't that important because we have 'Select tabs' in the menu.

[2021-04-02 01:47] #18656 closed

[2021-04-02 01:51] jonalmeida commented on #18515
I think I've been trying too hard to avoid a `Store` with the thought that it was overkill for usage here.

Re-evaluating that now, I think a store would make it for the FAB as well as for multi-select. I've re-opened https://github.com/mozilla-mobile/fenix/issues/17821 and I'm going to land the patch that we worked on there.

For the FAB, that means we can add to the root fragment and have it obs

[2021-04-02 03:40] gabrielluong commented on #18612
https://github.com/mozilla-mobile/fenix/issues/9857#event-4542853933

[2021-04-02 04:59] KrasnayaPloshchad commented on #2871
It would be nice if Fenix got this support, this would make Fenix being able to generate QR code with following bookmarklet:
https://wantora.github.io/qrcode-bookmarklet/

[2021-04-02 05:23] 89z commented on #12655
https://github.com/mozilla-mobile/fenix/issues/12655
https://github.com/mozilla-mobile/fenix/issues/13059
https://github.com/mozilla-mobile/fenix/issues/14339
https://github.com/mozilla-mobile/fenix/issues/14452
https://github.com/mozilla-mobile/fenix/issues/14489
https://github.com/mozilla-mobile/fenix/issues/15154

[2021-04-02 05:23] 89z commented on #13059
https://github.com/mozilla-mobile/fenix/issues/12655

https://github.com/mozilla-mobile/fenix/issues/13059
https://github.com/mozilla-mobile/fenix/issues/14339
https://github.com/mozilla-mobile/fenix/issues/14452
https://github.com/mozilla-mobile/fenix/issues/14489
https://github.com/mozilla-mobile/fenix/issues/15154

[2021-04-02 05:24] 89z commented on #14339
https://github.com/mozilla-mobile/fenix/issues/12655
https://github.com/mozilla-mobile/fenix/issues/13059

https://github.com/mozilla-mobile/fenix/issues/14339
https://github.com/mozilla-mobile/fenix/issues/14452
https://github.com/mozilla-mobile/fenix/issues/14489
https://github.com/mozilla-mobile/fenix/issues/15154

[2021-04-02 05:24] 89z commented on #14452
https://github.com/mozilla-mobile/fenix/issues/12655
https://github.com/mozilla-mobile/fenix/issues/13059
https://github.com/mozilla-mobile/fenix/issues/14339

https://github.com/mozilla-mobile/fenix/issues/14452
https://github.com/mozilla-mobile/fenix/issues/14489
https://github.com/mozilla-mobile/fenix/issues/15154

[2021-04-02 05:24] 89z commented on #14489
https://github.com/mozilla-mobile/fenix/issues/12655
https://github.com/mozilla-mobile/fenix/issues/13059
https://github.com/mozilla-mobile/fenix/issues/14339
https://github.com/mozilla-mobile/fenix/issues/14452

https://github.com/mozilla-mobile/fenix/issues/14489
https://github.com/mozilla-mobile/fenix/issues/15154

[2021-04-02 05:24] 89z commented on #15154
https://github.com/mozilla-mobile/fenix/issues/12655
https://github.com/mozilla-mobile/fenix/issues/13059
https://github.com/mozilla-mobile/fenix/issues/14339
https://github.com/mozilla-mobile/fenix/issues/14452
https://github.com/mozilla-mobile/fenix/issues/14489

https://github.com/mozilla-mobile/fenix/issues/15154

[2021-04-02 05:31] 89z commented on #13059
So I see here: https://github.com/mozilla-mobile/fenix/issues/13059#issuecomment-666455286

That supposedly this is a dup of #11308. If you go there, that one is closed too, as a dup of #14034. Finally, that one has been closed and locked, with a solution supposedly as this:

https://blog.mozilla.org/addons/2020/09/29/expanded-extension-support-in-firefox-for-android-nightly

Well, I followed thos

[2021-04-02 05:32] 89z commented on #13059
https://github.com/openstyles/stylus/issues/647

[2021-04-02 05:53] lobontiumira commented on #9588
Reproducible on Beta 88,0,0-beta,3 with Samsung Galaxy Note 8 (Android 9),

[2021-04-02 06:11] Mugurell commented on #18755
Thank you @hakkikaancaliskan !
This is a known issue.
Closing as a dupe of https://github.com/mozilla-mobile/fenix/issues/16577.

[2021-04-02 06:11] #18755 closed

[2021-04-02 06:15] Mugurell commented on #18750
Thank you @ra-hardy !
This will be fixed in the next update.
Closing as a dupe of https://github.com/mozilla-mobile/fenix/issues/18667.

[2021-04-02 06:15] #18750 closed

[2021-04-02 06:43] Mugurell commented on #18592
If more such notifications would be shown there should be a back-off strategy to avoid them being seen as spam
https://github.com/mozilla-mobile/fenix/issues/18757.

[2021-04-02 07:00] codesuperstarr commented on #18708
Hi, @eliserichards I made a pull request on this issue here: https://github.com/mozilla-mobile/android-components/pull/10008

[2021-04-02 07:00] abodea commented on #18740
Thank you, but I was referring to how the reporter said, before the page loads, not after the page is loaded.
Ofc is useful for mobile data, but even that is strong nowadays.

[2021-04-02 07:01] Mugurell commented on #18757
This is a Leanplum campaign though the one that I'm seeing at is set to be sent only once.
We should recheck the running campaigns. @amedyne

[2021-04-02 07:10] codesuperstarr commented on #18708
[https://github.com/mozilla-mobile/android-components/pull/10008](url)

[2021-04-02 07:12] lobontiumira commented on #17826
Reproducible on Beta 88.0.0-beta.3 with Samsung Galaxy Note 8 (Android 9).

[2021-04-02 07:14] codesuperstarr commented on #18708
Made a pull request for this issue: #18708

[2021-04-02 07:14] jesus2099 commented on #13059
You can download Firefox for Android 68.11.0 from official place, IMO is safer: https://archive.mozilla.org/pub/mobile/releases/68.11.0/

Check your copy architecture (ABI), to know which APK to download with: https://play.google.com/store/apps/details?id=com.kgurgul.cpuinfo

Everything still works great with 68.11.0.

[2021-04-02 07:17] codesuperstarr commented on #18708
fixed the Reader mode "Appearance" control menu - Sepia [https://github.com/mozilla-mobile/android-components/pull/10008](url)

[2021-04-02 07:20] codrut-topliceanu commented on #18515
Awesome. That makes things easier :)

[2021-04-02 07:20] codesuperstarr commented on #18708
Fixed the Reader mode "Appearance" control menu - Sepia [https://github.com/mozilla-mobile/android-components/pull/10008](url)

[2021-04-02 07:22] codesuperstarr commented on #18708
Fixed Reader mode "Appearance" control menu - Sepia here: https://github.com/mozilla-mobile/android-components/pull/10008

[2021-04-02 07:27] lobontiumira opened #18761 "[Bug][a11y] Add private shortcut texts contrast ratio"
## Prerequisites
Have Accessibility Scanner installed and turned on.

## Steps to reproduce
1. From the homescreen, tap on the upper right Private Browsing icon and switch to Private Mode (perform the switch 3 times).
2. Using the Accessibility Scanner, scan the "Add private browsing" shortcut to your homescreen contextual recommender.

### Expected behavior
No suggestions are made.

### Actual be

[2021-04-02 07:38] alexanderadam opened #18762 "Firefox should be resizeable on Samsung DeX"
## Steps to reproduce

Go into DeX mode and try to resize Firefox

### Expected behaviour

Firefox is resizeable

### Actual behaviour

It's not

### Device information

Various devices with Samsung DeX (i.e. Samsung S8, S9, S10, s20, Note 8, Note 9, Note 10, Note 20, A90, Galaxy Tab S4, Galaxy Tab S5e, Galaxy Tab S6, Galaxy Tab S6 Lite, Galaxy Tab S7 and Galaxy Tab S7+)
* Firefox for Android vers

[2021-04-02 08:00] 0x391F opened #18763 "[Bug] Fenix crashes in recent 2 days"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-02 08:11] sflorean commented on #18763
@0x391F there are some bugs opened in Bugzilla, for this signature, Please follow/add comments there. I will close this as duplicate, but we will reach to you again when this will be fixed.

https://bugzilla.mozilla.org/show_bug.cgi?id=1644486
https://bugzilla.mozilla.org/show_bug.cgi?id=1360392

[2021-04-02 08:11] #18763 closed

[2021-04-02 08:22] sv-ohorvath opened #18764 "Intermittent UI test failure - StrictEnhancedTrackingProtectionTest#testStrictVisitContentShield, testStrictVisitDisableExceptionToggle, testStrictVisitSheetDetails"
### Firebase Test Run:
Flaky, failed 1 out of 2 runs
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6588865899882511274/executions/bs.a522f80d838f1ed2/testcases/3/test-cases
### Stacktrace:
[code]
### Build:
Master 4/1
commit: [AC 75.0.20210401143103 update](https://github.com/mozilla-mobile/fenix/commit/21c5eba31061598816aef7338898ed3e16dd918d

[2021-04-02 08:30] ebalazs-sv commented on #18754
I can reproduce this issue on Nightly 4/1, Beta 88.0.0-beta.3, RC 87.0.0-rc.1 with Samsung Galaxy Tab S3 (Android 8).

[2021-04-02 09:03] neha-b2001 opened #18765 "[Bug] Consider increasing touch target size in 'Add to Home screen' dialog box"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-02 10:44] drwetter commented on #13059
Security wise it's not a good idea to install an old, unmaintained browser -- at least not for me.

Wonder though whether there's a will to get this running or whether it's just a lack of resources.

[2021-04-02 11:05] ebalazs-sv commented on #18733
I had tested this on the latest Nightly 4/1, Beta 88.0.0-beta.3, RC 87.0.0-rc.1 with Samsung Galaxy Tab S3 (Android 8) and could not reproduce the issue.
Tested with ETP set to Standard, Strict or Custom, also when "Delete browsing data on quit" is set to on.
@samiuljoy Hi! What device did you use? What were the settings on the device? Thanks!

[2021-04-02 11:24] neha-b2001 commented on #18765
I am an Outreachy applicant, hence tagging @eliserichards. Please take a look if possible.

[2021-04-02 11:28] ebalazs-sv commented on #18765
I can reproduce this issue on Nightly 4/1, Beta 88.0.0-beta.3, RC 87.0.0-rc.1 with Samsung Galaxy Tab S3 (Android 8).

[2021-04-02 12:40] VitalyVPinchuk commented on #16003
Hello!
I can't reproduce the issue neither using Pixel 4 API 29 emulator nor Xiaomi Mi 9T Pro on the latest master.
Could anyone please check if it's still reproducible?

[2021-04-02 13:22] LaurentiuApahideanSV commented on #16003
The issue still occurs on Firefox Nightly 210402 however I can only reproduce the issue on a Samsung Galaxy S9 (Android 8.0.0), on other devices it works fine.

[2021-04-02 14:17] neha-b2001 commented on #18765
@ebalazs-sv Can I work on this issue, then?

[2021-04-02 14:40] #18265 closed

[2021-04-02 14:56] amedyne commented on #18757
@Mugurell Thanks for tagging me for this. I'll check with the team regarding this campaign.

[2021-04-02 15:28] caitmuenster commented on #13059
@89z Can you post a screenshot of your settings menu after you have enabled Debug mode? That might help us troubleshoot the problem.

[2021-04-02 15:42] samiuljoy commented on #18733
@ebalazs-sv I think clearing Fenix from recents is also necessary. I've tested Fenix 88.0.0.2 beta on Android 5.1.1 and Android 10, quiting(from the X on the snackbar) does not revert custom changes, however if fenix is cleared from recent app, then these changes reverts back to default. Clearing fenix from recent apps is necessary to reproduce this issue apparently.

[2021-04-02 15:56] Mugurell commented on #18762
Thank you @alexanderadam for the report and the thorough documentation provided!

I agree it would be nice for Firefox to be resizable on Samsung Dex or ChromeOS but this will probably be a major effort with many app components - various dialogs / menus having to be checked and possible updated to ensure a consistent UX.

[2021-04-02 15:57] #17125 closed

[2021-04-02 16:11] 89z commented on #13059
@caitmuenster I was able to get the "Custom Add-on collection" to come up, I stand corrected. In my case, I want to install a popular addon, Stylus. It should be a trusted addon, it has over 3,000 stars on GitHub:

https://github.com/openstyles/stylus

I want to share with you the flow of the old process, with Firefox 68:

1. visit https://addons.mozilla.org/firefox/addon/styl-us
2. touch Download

[2021-04-02 16:39] VaishnaviShri commented on #17826
Hi! I am an Outreachy applicant and would like to work on the issue if no one else is currently working on it.

[2021-04-02 16:57] ItsDevyani commented on #18757
Hello Migurell and Amedyne,

We have one default browser campaign in Nightly (https://www.leanplum.com/dashboard2/4828751897952256/composer/1445605038/goals) and one in Release (https://www.leanplum.com/dashboard2/5957278171136000/composer/1450725166/goals). As you pointed out,  They are set up to send the notifications one time only per unique user so I'm confused by "it feels like I'm getting th

[2021-04-02 17:07] alexanderadam commented on #18762
Good point: so as I mentioned before Samsung also have experimental flag (either via developer mode or DeX labs) to enforce this on apps and it seems that all components are able to resize properly on Firefox.

Various users are using Firefox this way (for instance [**@szaimen**](https://github.com/mozilla-mobile/fenix/issues/3107#issuecomment-810598949), or [these XDA users](https://forum.xda-dev

[2021-04-02 17:57] neha-b2001 opened #18768 "[Bug][a11y] Consider increasing text contrast ratio in 'Share tab'"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-02 18:10] neha-b2001 commented on #18768
I am an Outreachy applicant, hence tagging @eliserichards. Please take a look if possible.

[2021-04-02 18:11] #12774 closed

[2021-04-02 18:45] yoasif opened #18770 "[Bug] Add ons show up below navigation buttons in main menu"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-02 18:56] gwarser commented on #18770
## Expected behavior

Double-tap on main menu should reload the page.

## Actual behavior

In current menu arrangement, first menu item in my device is "Save to collection" .

[2021-04-02 19:01] jonalmeida commented on #17798
@kglazko @violasong : There is one more state of the 'Sign in to sync' menu that we may have overlooked (which I do not see in the designs linked). If an account needs to be re-authenticated we show propagate the error to the 'Settings' menu item.

With the 'Sign in' button now in the main menu, should the re-authenticated warning move from 'Settings' to 'Sign in to sync'? This could also be done

[2021-04-02 19:08] amedyne commented on #18757
@danielzgtg

Thank you for your feedback. We hear you, sometimes notifications can feel disruptive. We'd like to clarify a few things. When you do not 'actively choose' a default browser, most Android devices pre-select Chrome as your default browser.
The notification you received has been programmed to inform new Nightly users just once about the fact that they can have a choice in default browse

[2021-04-02 19:16] Buddey42 opened #18771 "Firefox Android crash when tapping on Searchbar"

[2021-04-02 19:29] cadeyrn commented on #18771
Why did you remove all relevant fields from the bug template?

- What is your Firefox version?
- What is your Android version?
- What is the model name of your device?

I can not reproduce the issue (Firefox Nightly, OnePlus 7T Pro McLaren Edition, Android 11) so you see it's important to give the developers some basic information.

If you open the settings > About Firefox you can find a link for

[2021-04-02 19:34] #18771 closed

[2021-04-02 19:35] Buddey42 commented on #18771
cya

[2021-04-02 19:44] opusforlife2 commented on #6347
Coming here from #14073. This doesn't work on LineageOS either.

[2021-04-02 20:04] #17771 closed

[2021-04-02 20:04] #17802 closed

[2021-04-02 20:04] #17872 closed

[2021-04-02 20:14] mytsos opened #18772 "b5588b61-a955-4732-a7e1-17d94ae55e02 android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{57c89ca u0 org.mozilla.firefox/org.mozilla.fenix.media.MediaSessionService} ---- android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{57c89ca u0 org.mozilla.firefox/org.mozilla.fenix.media.MediaSessionService} at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1906) at android.os.Handler.dispatchMessage(Handler.java:106) at android.os.Looper.loop(Looper.java:193) at android.app.ActivityThread.main(ActivityThread.java:6923) at java.lang.reflect.Method.invoke(Native Method) at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(RuntimeInit.java:493) at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:870)"

[2021-04-02 20:20] eliserichards commented on #18713
Let's keep this issue open for `onboarding_manual_signin.xml`

[2021-04-02 20:23] eliserichards commented on #17826
Hi all! @gurleennsidhuu, I believe you have already been assigned an issue to work on.

@318anushka I will assign this issue to you

[2021-04-02 20:32] eliserichards commented on #18702
Assigning to @VitalyVPinchuk

[2021-04-02 20:55] violasong commented on #17798
Yes, makes sense for the warning icon to move to the Sign in item. Assuming this is a rarely seen warning, doing this as a follow-up seems fine to me.

[2021-04-02 21:09] pedroldk commented on #4424
I believe that it is better to have something than nothing at all, loosing collections when reinstalling/switching devices is frustrating and not expected by any user. So I would say go for the simple solution even if it is not perfect and improve it afterwards.

[2021-04-02 21:44] MicroBeast commented on #18770
When bar on top that menu come above the icons.

[2021-04-02 21:57] #18772 closed

[2021-04-02 22:05] eliserichards commented on #7924
Tagging this with `Outreachy`, but note that it is more complicated than other features.

[2021-04-02 22:08] eliserichards commented on #8390
I wonder if we can close this after https://github.com/mozilla-mobile/android-components/issues/9922

[2021-04-02 22:21] danielzgtg commented on #18757
I purposefully unset Chrome as the default browser in settings soon after I set up the device. I see the browser selection menu when I click on a link, not Chrome

[2021-04-02 22:23] jonalmeida opened #18774 "Migrate mutli-selection to store"
We tried the `recyclerview-selection` library and while it worked, it was difficult to use.

- We had to keep a track of the selections in order to know when entering/exiting selection mode.
- The selection was tied tightly to the RecyclerView - this is obvious in hind sight (🤦 ) but when setting up the selection tracker and retrieving the selected items to be used in parent `ViewGroup`, we were r

[2021-04-02 22:25] hakkikaancaliskan opened #18775 "[Bug] Firefox nightly shown as Autofill service"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-02 22:27] eliserichards commented on #8984
This menu is here: https://github.com/mozilla-mobile/fenix/blob/1f320fd2ad55172a7fa56c52f243a732c585173f/app/src/main/res/layout/share_to_apps.xml#L28

[2021-04-02 22:55] eliserichards opened #18776 "Verify PWAs still install on new menu"
Make sure PWAs still install on new menu (I think this was missed in new designs)

Can be tested by:
1. Navigate to paperplanes.world/
2. Open three-dot menu
3. See that "Install" is shown (and works when clicked)

<img width="371" alt="image" src="https://user-images.githubusercontent.com/43795363/113459855-6adeb300-93dc-11eb-89c9-30bcde57b75b.png">

[2021-04-02 22:57] eliserichards commented on #8966
<img width="371" alt="image" src="https://user-images.githubusercontent.com/43795363/113460000-dfb1ed00-93dc-11eb-91f6-d491a661c844.png">

I'm not seeing the Share button (or the toolbar)

[2021-04-02 23:09] danielzgtg commented on #18757
Here are notifications logged in `org.hcilab.projects.nlog` filtered by `.text.startsWith("You can't")`:

[code]

[2021-04-02 23:16] TrianguloY commented on #18757
Even though this doesn't fix the issue, I'm writing this to inform you that there are apps that can act as a browser substitute, sometimes mimicking the choose browser popup or even including other features.

You can then set one of these apps as the default app for browser links, and forget (which will also remove those firefox notifications).

[2021-04-02 23:21] TrianguloY commented on #18701
Please see this issue https://github.com/mozilla-mobile/fenix/issues/14954 for more details about the bug and a possible cause.

[2021-04-03 00:17] Poopooracoocoo commented on #12774
@stale EXCUSEMOI. u bish.

Things have gone stale here because no one from Mozilla has said anything. There is no _discussion_ to be had here. It's pretty clear cut: make Fenix more like Firefox for desktop and like other browsers.

[2021-04-03 01:22] #14446 closed

[2021-04-03 02:52] Rosabis opened #18777 "How to change firefox android nightly to the old menu style?"
Because I really hate the current menu changes:.
1. move the add-ons to the bottom,that's makes me difficult to find the item I want to use
![Screenshot_2021-04-03-10-54-30-375_org mozilla fenix](https://user-images.githubusercontent.com/32984303/113466057-58f82100-946b-11eb-92ab-89b114911d12.png)
2. Remove the icon from the settings menu
![Screenshot_2021-04-03-10-55-15-302_org mozilla fenix](htt

[2021-04-03 05:44] hebu commented on #4208
I experienced the cursor issues on different web pages, but it does not occur always – so it is hard to reproduce.

- enter some text
- change cursor positon
- enter more text, the cursor us reset to the old position and the text is inserted there
- tap outside the textfield
- now place the cursor to a new position by tapping into the textfield
- enter more text, now the text is inserted in the ne

[2021-04-03 07:21] Goldmaster commented on #18777
Completely agree with the add-ons part. When do we need that? That lives in the settings not in the menu bar. Please stop changing things that don't need to be changed.

[2021-04-03 07:46] cadeyrn commented on #18777
Make your own build of Firefox and revert this change. I don't know what other answer you could expect to this question.

This is obviously a bug and already reported here: #18770

[2021-04-03 07:51] VaishnaviShri commented on #8545
Hi! I am an Outreachy applicant. Can I work on this issue, please?

[2021-04-03 08:02] cadeyrn commented on #18770
FYI: The regression only affects Nightly, it does not happen in debug builds where the new menu is being implemented.

[2021-04-03 08:12] kcpr commented on #16003
I also use Android 8.0 (it is possibly API level 26), so maybe the issue only concerns older Android versions.

[2021-04-03 08:23] neha-b2001 commented on #18713
Thank you @eliserichards 👍

[2021-04-03 09:51] codesuperstarr commented on #18765
I can work on this issue

[2021-04-03 09:54] priyanka0906 commented on #7924
@eliserichards can  I work on this

[2021-04-03 09:58] priyanka0906 opened #18780 "[a11y]Consider increasing text contrast ratio in new_tab_button"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-03 09:59] priyanka0906 commented on #18780
@eliserichards  please take a look.
If it seems good to you , please assign this to me.

[2021-04-03 10:16] ZianeA commented on #8984
I investigated the problem and it seems to originate from the color resource file. Both inset_dark_theme and above_dark_theme use the same color value, which is not the case for the light versions inset_light_theme and above_light_theme. The solution is to use a slightly lighter color for inset_dark_theme. Let me know the color and I'll fix it.

Dark:
https://github.com/mozilla-mobile/fenix/blob/1

[2021-04-03 11:44] codesuperstarr commented on #18761
I am interested in working on this. Please assign it to me.

[2021-04-03 12:01] GO-jack opened #18781 "[Bug] Web page scrolling not smooth"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-03 13:33] yichiehc commented on #8624
I tried to reproduce the bug but failed (keyboard is dismissed after I hit confirm button). Did I do anything wrong?

Device: Google Pixel 3a (Android 11) & Sony F8123 (Android 8)

https://user-images.githubusercontent.com/48332564/113479884-0a2aa580-94c4-11eb-84a9-b7e79ce84284.mp4

https://user-images.githubusercontent.com/48332564/113479893-1a428500-94c4-11eb-84f6-2e759d2baae2.mp4

[2021-04-03 15:02] neha-b2001 commented on #18765
Actually I am an Outreachy participant myself, so, if the issue is valid, I'd like to work on it... 😅

[2021-04-03 15:14] neha-b2001 commented on #18713
Hello @eliserichards, upon rebasing with upstream master, I just saw that this onboarding sign-in card has been removed altogether. So, I think this issue can now be closed.

[2021-04-03 15:49] neha-b2001 opened #18787 "[Bug][a11y] Consider increasing size of radio buttons in onboarding cards"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-03 15:50] neha-b2001 commented on #18787
I am an Outreachy applicant, hence tagging @eliserichards. Please take a look if possible.
Also, if this is a valid issue that needs to be fixed, could I be assigned the same?

[2021-04-03 17:58] anotherus3r opened #18788 "[Bug] Top site favicons keep disappearing after every update"
Top site favicons are replaced with the generic first-letter icons after every update, which is pretty annoying since Nightly is updated at least once per day.

## Steps to reproduce
1. Add a top site.
2. Visit it to make sure it gets populated with a favicon on the new tab screen.
3. Update Nightly.
4. Open Nightly.

### Expected behavior
Top sites still have their favicons they had before the up

[2021-04-04 02:03] ihesham opened #18789 "Firefox 87 does not connect to Blackboard Collaborate Ultra sessions"
Unfortunately, this is very serious for me as most of my job tasks I have to perform online through my browser (Firefox), more specifically on Blackboard websites.
Recently, almost since upgrade to Firefox 87.0, I cannot open meeting sessions on Blackboard.

Here's a more details I found reflecting my same issue:
[https://blackboard.secure.force.com/publickbarticleview?id=kAE5Y000000kA5IWAU](https

[2021-04-04 07:04] VitalyVPinchuk commented on #18702
Thanks, I'd like to work on the issue.

[2021-04-04 11:07] #14453 closed

[2021-04-04 13:49] #15533 closed

[2021-04-04 13:57] N00B2 commented on #1984
Any news on this issue?

[2021-04-04 14:46] xalt7x opened #18790 "[Bug] Can't upload a file with sign/hash (#) symbol in name"
I'm trying to add file with sign hash/sign symbol in name (e,g, "1#.jpg") into simple input
`<input type="file">`
Firefox accepts most filenames but not the ones with hash/sign symbol

## Steps to reproduce
1) Visit [MDN article about input type="file"](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file)
2) Try to upload file with name "1#.jpg"

### Expected behavior

Name of a f

[2021-04-04 14:49] #15418 closed

[2021-04-04 17:43] nyanpasu64 opened #18792 "[Bug] Reader view tabs randomly revert to default font/color/size, when switching apps"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-05 02:30] godfuture commented on #14738
Its kinda weird that such a native Android experience was removed, and now does not get any prio. :(

[2021-04-05 05:36] Mugurell commented on #4249
Since the Bugzilla ticket is still open this seems like WIP.
Removing the `wontfix` label.

[2021-04-05 06:26] ItsDevyani opened #18796 "Nimbus + Fenix Default Browser Experiment"
## User Story
- As a user, I want to know how I can easily set up Fenix as my default browser

## Dependencies
- [Design (Done)](https://www.figma.com/file/YvvFxwXKonLkvdF0ZcL63Y/Design-feedback?node-id=0%3A1)
- [Nimbus Integration](https://mozilla.github.io/experimenter-docs/fenix-engineers/ ) (scheduled in 88)
- Engineering time
- DS time

### Acceptance Criteria
-  Set Default Browser as a visi

[2021-04-05 06:38] Mugurell commented on #18781
Closing as a duplicate of https://github.com/mozilla-mobile/fenix/issues/18640
Please follow the discussion there offering more details about what you feel should be improved.

There might be situations in which the scroll might stutter and we can look into this situations one by one since they should be edgecases but I haven't seen any jank in the above video.

[2021-04-05 06:38] #18781 closed

[2021-04-05 06:50] Mugurell commented on #17772
Regarding testing the collapsed/expanding menu, this is for now only available in debug builds.

[2021-04-05 07:00] Mugurell commented on #18777
The browser menu is actively being refactored. Planned changes - https://github.com/mozilla-mobile/fenix/issues/17796
Options seen might change over time depending on how development advances.

Regarding the "Add-ons" option which appears below the navigation bar buttons this seems to be an issue already reported on https://github.com/mozilla-mobile/fenix/issues/18770.
Closing as a duplicate.

[2021-04-05 07:00] #18777 closed

[2021-04-05 07:02] sv-ohorvath commented on #18746
Same crash on closePrivateTabTest:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7083322726591626257/executions/bs.4bc1180143686b70/testcases/3/logs
I see the same NullPointerExcception in the logs:
[closePrivateTabTestLog.txt](https://github.com/mozilla-mobile/fenix/files/6256779/closePrivateTabTestLog.txt)
`04-04 17:45:09.251: W/System.err(1

[2021-04-05 07:08] Mugurell commented on #18770
@eliserichards This seems to be following the the recent changes from https://github.com/mozilla-mobile/fenix/issues/17770

[2021-04-05 07:58] AndiAJ commented on #17485
• Debug 4/4:
Flaky 1x `manageDownloadsInDownloadsMenuTest`

java.lang.AssertionError
at org.junit.Assert.fail(Assert.java:87)
at org.junit.Assert.assertTrue(Assert.java:42)
at org.junit.Assert.assertTrue(Assert.java:53)
at org.mozilla.fenix.ui.robots.DownloadRobot.waitForDownloadsListToExist(DownloadRobot.kt:61)
at org.mozilla.fenix.ui.SmokeTest$manageDownloadsInDownloadsMenuTest$7.invoke(SmokeTes

[2021-04-05 09:47] reyis4402 commented on #16765
The problem has improved thanks

[2021-04-05 10:47] #14936 closed

[2021-04-05 12:05] lobontiumira commented on #16820
Reproducible on Beta 88.0.0-beta.4 with Google Pixel (Android 10).

[2021-04-05 12:16] ebalazs-sv commented on #18733
When I tested this issue, I exited Fenix by closing it from Recent apps and did not reproduce the issue on the mentioned builds and device.

[2021-04-05 12:26] xpseudonym opened #18797 "No option Select All to save tabs to collections"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-05 13:17] anotherus3r opened #18798 "[Bug] Reader view toggle doesn't show up immediately for articles from Telegram.hr"
## Steps to reproduce
1. Open Firefox and go to https://telegram.hr
2. Open any article.
3. Observe address bar.

### Expected behavior
Reader view toggle appears in address bar.

### Actual behavior
Reader view toggle does not appear in the address bar immediately. It does appear after you open and close the tab tray.

### Device information

* Device vendor / model and Android version: Huawei Ma

[2021-04-05 13:23] Mugurell commented on #18797
Seems like "Save to collection" was changed to "Select tabs" in https://github.com/mozilla-mobile/fenix/issues/16132.
Asking @topotropic whether we should revert that or change the online documentation.

[2021-04-05 15:00] amedyne commented on #18608
Note: This ticket will be for tracking the Engineering tasks for developing Experiment **Test Branch 1: Menu includes Default Browser** as a visible option and the corresponding telemetry needed for this branch.

[2021-04-05 15:02] amedyne commented on #18376
Note: This ticket will be for tracking the Engineering tasks for developing Experiment **Test Branch 2: Set Default Browser is the First Item on the Settings Menu (It replaces Sync)** and the corresponding telemetry needed for this branch.

[2021-04-05 15:03] amedyne commented on #18375
Note: This ticket will be for tracking the Engineering tasks for developing Experiment **Test Branch 3: Default Browser Message to a new user on their third session** and the corresponding telemetry needed for this branch.

[2021-04-05 15:08] Offerel commented on #15742
So we have to live with this issue?

[2021-04-05 15:50] #15342 closed

[2021-04-05 16:53] drs12345-SS commented on #18672
Can somebody help me to know that what we have to do with this issue. I am not getting any clue how to fix this

[2021-04-05 17:24] violasong commented on #14017
Forwarding the ping to @topotropic since she's been investigating overall app standards :)

[2021-04-05 17:27] violasong commented on #13998
I'm closing this as a duplicate of issue https://github.com/mozilla-mobile/fenix/issues/9118#issuecomment-724188456

Thanks for filing!

[2021-04-05 17:31] Mugurell commented on #18672
@drs12345-SS To fix just the renaming issue we could use this - https://github.com/mozilla-mobile/fenix/issues/18672#issuecomment-809307282

Fixing the rename being visible issue will show another issue and based on the investigations from kanish671 we are waiting for UX to confirm what's the expected behavior:
- should the two top sites pages always have two rows or
- should only the first page h

[2021-04-05 18:22] ArmorDarks opened #18802 "[Bug] Valid base64 not loading"
## Steps to reproduce

1. Use Firefox for Android 87.0.0-rc.1
2. Load this fiddle https://jsfiddle.net/ArmorDarks/poxaLvjw/2/

### Expected behavior

The base64 image in this fiddle should appear

### Actual behavior

It won't appear. Inspector says `Could not load the image`, but it's perfectly valid base64 which is generated from Canvas by Firefox Mobile itself.

This image works fine in Chrome,

[2021-04-05 18:32] VitalyVPinchuk commented on #18702
Hello @eliserichards @Mugurell
There was missing `onTabsAdded` method in HomeFragment's observer.
Should I create PR or would there be any suggestions?

[2021-04-05 18:42] Mugurell commented on #18802
Let's check this after https://bugzilla.mozilla.org/show_bug.cgi?id=1668952 lands.

[2021-04-05 18:43] Mugurell commented on #18802
@ArmorDarks Currently Fenix doesn't support data URLs bigger than 2 MB in size.

[2021-04-05 18:56] Amejia481 commented on #18373
From the Google issue tracker:

It looks this behavior was put into the documentation as guideline and it wasn't implemented as part of stock Android 11.

[2021-04-05 19:12] #17821 closed

[2021-04-05 19:52] wisniewskit opened #18804 "Safe Browsing breaks m.huxiu.com on Fenix, but not in Chrome."
## Steps to reproduce

Visit m.huxiu.com, note that the page isn't loading images/CSS.

### Expected behavior

The page loads normally.

### Actual behavior

Images are broken, no CSS loads. Two key scripts are blocked by Safe Browsing, according to the remote console:
[code]

### Device information

* Device vendor / model and Android version: Google Pixel 3, Android 11
* Firefox for Android vers

[2021-04-05 19:58] amedyne commented on #18775
@pocmo , Thoughts?

[2021-04-05 19:58] opusforlife2 opened #18805 "[Bug] Fenix loses internet, needs to be swiped from Recents/Force Closed to work again"
## Steps to reproduce

No clear steps to reproduce, sorry. I was hesitating to file this issue because of this. All I know is that sometimes, Fenix (and desktop Firefox) loses internet connection, and nothing fixes it short of Quitting and swiping from Recents (simply quitting desktop Firefox works).

Since swiping from Recents is no longer an option (#17790), I have to go a step further and Force

[2021-04-05 19:59] opusforlife2 commented on #17790
@sflorean I've opened #18805, but I'm not sure how useful this will be, since it doesn't have any STR.

[2021-04-05 20:02] opusforlife2 commented on #18686
Absolutely. If the Quit + Swipe from Recents combo is replaced by just Quit, it will surely be a usability increase. That is what the Quit button should be doing anyway.

[2021-04-05 20:16] mcomella commented on #18596
Stand-up: let's do the quick solution: change to `start/stop`. Unfortunately, this means we won't identify the root cause (unless it continues) but we don't think understanding the root cause is a good use of our resources right now as we have been fixing a lot of bugs recently and generally not making perf improvements.

[2021-04-05 20:19] mcomella commented on #7227
@grigoryk I noticed stalebot closed this but this seems important. What do you think the urgency/priority is on this issue? If high, do you think it's something the team would have cycles to work on?

[2021-04-05 20:24] wisniewskit commented on #18789
@ihesham, I've just been told that there aren't any known WebRTC issues with Blackboard and Firefox 87 yet, so it would be great if we could grab the info that's in `about:webrtc` after trying to log in. Would you have some time to provide that info so we can begin diagnosing this?

[2021-04-05 20:57] eliserichards commented on #18702
Please open a PR (see [other PRs](https://github.com/mozilla-mobile/fenix/pull/18462) for our Pull Request checklist and title formatting. One of our team members will review :)

[2021-04-05 21:06] eliserichards commented on #8624
Let's tag @AndiAJ to see if they are able to reproduce it again :) it could have been fixed in the meantime

[2021-04-05 21:23] kglazko opened #18806 "[Feature] Three-dot menu sync tabs icon should direct to Account Settings when signed in"
* Follow-up to https://github.com/mozilla-mobile/fenix/issues/17798

## Dependencies
- Sync Tabs item shipping (#18609) ✅

### Acceptance Criteria
Question: What is the appropriate landing point when signed in & not signed in?
* When a user is signed in to Sync, the menu item should point them to the accounts settings page
* When a user is signed out, it should take them to the Turn On Sync page

[2021-04-05 21:42] BrokenShoeLace commented on #17987
Hi,

I am using Android 11, Firefox 87.0.0-rc.1 (Build #2015799099) and it is still happening.

To reproduce:

Open the above version of Fenix
Open an tab, write bing.com and it redirects to https://bing.com/?toWww=1&NUMBER_SHERE
Scroll down the page to the news pages trending on Bing, choose any of them
Now use the gesture BACK (MINIMISE | CLOSE | BACK) to see nothing happens
Click the number in

[2021-04-05 21:42] eliserichards opened #18807 "Remove feature flag for three-dot menu redesign"
Meta: #17796
Followup to #17870

Remove feature flag for the toolbar and home screen three-dot menu changes once it has baked in Nightly.

[2021-04-05 21:54] amedyne commented on #18788
Hi @anotherus3r! Can you provide example topsites urls that you have encountered this problem?

[2021-04-05 22:02] amedyne commented on #18757
Thank you for providing the notification logs @danielzgtg.
We’d like to work with you to investigate this further. And in order to do that, we will be asking for more detailed information. To protect your info/data and privacy, we would like to track this thru bugzilla. https://bugzilla.mozilla.org/home. If you do not have a bugzilla account yet, can you create one so I can transfer this GH ticket

[2021-04-05 22:26] anotherus3r commented on #18788
Hi @amedyne, it affects any top site I add.

Basically, I add and visit a top site and Fenix adds its favicon to the top site on the new tab page. Then I update Fenix when a new update is available and at next startup, the top sites have lost their favicons, which are replaced with the generic first-letter icons. Visiting the top sites again after the update repopulates them with their respective

[2021-04-05 22:40] kbrosnan commented on #18074
This is not a Fenix bug. There is a balance between communicating products that Mozilla makes to users of other products. You might be able to reach out to the marketing team at https://chat.mozilla.org/#/room/#marketing:mozilla.org

[2021-04-05 22:40] #18074 closed

[2021-04-05 23:04] kbrosnan commented on #18789
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1703117

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-04-05 23:04] #18789 closed

[2021-04-05 23:05] kbrosnan commented on #18789
This report seems to be about desktop Firefox.

[2021-04-05 23:55] ale82to opened #18809 "[Bug] Push notifications not working"
I don't really know why in fenix both stable and nighlty push notifications never work.
I ve ZERO problem with Samsung internet.
I tested this url for example:
https://gauntface.github.io/simple-push-demo/
and in fenix stable did not worked in nighlty even worse after clicking the switch the page stays blank!

[2021-04-06 07:01] Yetoo1 commented on #18565
I created a PR to remove the duplicate filtering here https://github.com/mozilla-mobile/android-components/pull/10022. This may need a test, but I'm having a hard time figuring out how to get Mockito to duplicate a search request without complaining about discrepancies regarding wanted number of invocations. If someone as pointers to get Mockito to test a specific sequence multiple times so as to

[2021-04-06 07:16] Mugurell commented on #18805
@opusforlife2
Do you see this with a particular website?
Have you seen a similar issue in other apps?
How often does this happen?
What happens if "with lost internet" you open https://www.mozilla.org/ in a new tab?

[2021-04-06 07:19] ebalazs-sv commented on #18768
I can reproduce this issue on Nightly 4/6, Beta 88.0.0-beta.2 and RC 87.0.0-rc.1 with Pixel 2 (Android 9).

[2021-04-06 07:20] sflorean commented on #18809
Thanks for filing this! I will close this as duplicate of #18045, and your scenario will be tested when the issue is fixed.

[2021-04-06 07:20] #18809 closed

[2021-04-06 07:24] Mugurell commented on #18804
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1703174

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-04-06 07:24] #18804 closed

[2021-04-06 08:40] iamiceparticle opened #18811 "[Bug] Toolbar shows up while scrolling. Doesn't stay hidden during scrolling."
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-06 08:41] SSchott commented on #8754
I don't know if anyone has mentioned this already, but a similar things has happened for years in the desktop version (where is way more difficult to identify, given the way people use the devices). Is there a deeper underlying cause to this behavior?

[2021-04-06 08:55] jonalmeida commented on #18521
I added some initial work here to select the current tray page. However, scrolling to the selected tab was more complicated than I imagined when I took a first shot at it.

Some online recommendations were to use `recyclerView.post { scrollToPosition(pos) }` to get the scroll to happen at the end. However, I didn't find that to be the case every time.

We also need to re-add some logic from the ol

[2021-04-06 08:57] iamiceparticle opened #18812 "[webcontent] YouTube video are zoomed in when switched to full screen. Results in crop. No option to zoom out."
## Site with issue and any steps to reproduce
Open any YouTube video. Take this as an example, you can see the logo truncated. https://m.youtube.com/watch?v=B_ThlNKjEWY
### Expected behavior
Video should not be zoomed in. Or provide option to zoom out.
### Actual behavior
Video zoomed in. No option to zoom out.
### Does toggling Tracking Protection fix the issue? (Press the shield icon in the tool

[2021-04-06 09:07] mcarare commented on #18787
This was already reported [here](https://github.com/mozilla-mobile/fenix/issues/16342) and decided [here](https://github.com/mozilla-mobile/fenix/issues/9583#issuecomment-609987250).

[2021-04-06 09:07] #18787 closed

[2021-04-06 09:44] Mugurell commented on #18811
Thank you for the report @iamiceparticle !
Moving this to Bugzilla since it seems to be a more low level issue.

[2021-04-06 09:44] Mugurell commented on #18811
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1703200

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-04-06 09:44] #18811 closed

[2021-04-06 09:46] Djfe commented on #8754
since there is no desktop version of Android: which os's media index are you referring to?

[2021-04-06 09:52] SSchott commented on #8754
I use Mendeley as a Reference Manager, and noticed that whenever I download a PDF with Firefox, the "automatic scanning" of Mendeley doesn't index the file. This does not happen with any other web browser. Thought it was curious that pretty much the same happens in the desktop version... (Windows 10 and Linux btw).

[2021-04-06 09:55] ebalazs-sv commented on #17576
I had tested this issue on Nightly 4/6, Beta 88.0.0-beta.4, RC 87.0.0-rc.1 with Motorola Moto G6 (Android 8) and could not reproduce it.