[2019-06-24 23:53] vesta0 commented on #180
@mheubusch can we close this bug?

[2019-06-24 23:59] bifleming commented on #1949
@colintheshots do you know if we still need UX help with this? @mheubusch

[2019-06-25 00:07] snorp opened #3639 "[Bug] Don't enable fontInflation"
## Steps to reproduce

Navigate to https://searchfox.org/mozilla-central/source/docshell/test/browser/browser_csp_uir.js

### Expected behavior

Font sizes aren't hosed

### Actual behavior

Font sizes are hosed from what looks like font inflation.

### Device information

* Android device: Pixel 2
* Fenix version: 1.0.1926

`fontInflation` in GeckoView is a context-sensitive way to increase unrea

[2019-06-25 00:17] snorp commented on #3639
I can reproduce this in Reference Browser, but not GVE, so I would guess this is getting accidentally enabled in android-components.

[2019-06-25 03:26] ekager commented on #3105
We have the ability to add chips through AC we just aren't currently using them. I think this ticket needs more UX feedback

[2019-06-25 04:22] colintheshots opened #3642 "Clean up redundant Gradle build steps"
I noticed that an ARM32 build was performing work involving an x86-64 GeckoView earlier. I want to perform a sanity check and ensure that per-target builds are not performing unnecessary build steps.

Some of this may be cleaned up by switching to fat AARs for GeckoView, but some of it won't. We have a long history of making calls which duplicate effort, like calling lint instead of the specific v

[2019-06-25 04:35] colintheshots commented on #3525
I would need to pore over the logs, but a decent guess is it's likely to be an order of operations issue. The root folder is often a good default if a destination folder doesn't exist yet.

[2019-06-25 05:26] bogas04 opened #3643 "[Bug] Emojis aren't visible on Twitter"
### Steps to reproduce
Open mobile.twitter.com
Compose a tweet
Type emojis

### Expected behavior
It should appear

### Actual behavior
It doesn't

### Device information

* Android device: OP3T, 9.0 Pie
* Fenix version: 1.0.1926 (Build #11751810 🦎 68.0-20190611143747)

Screencast: ![https://gfycat.com/blackdearbufflehead](https://thumbs.gfycat.com/BlackDearBufflehead-size_restricted.gif)

[2019-06-25 06:25] cadeyrn opened #3644 "[Bug] Fenix launches in broken state when opening external app (custom tab related?)"
### Steps to reproduce

Unfortunately I don't have good STR, but it happened two times in two days. After sleeping a few hours and then opening the Google Mail app (I didn't open Fenix!) Fenix launched in a broken state.

### Expected behavior

Either Fenix should not start at all or it should appear as a working custom tab if there was a custom tab opened before.

### Actual behavior

As you can

[2019-06-25 07:01] softvision-miralobontiu opened #3645 "[Bug] Selected search engine is not displayed selected after exiting the menu"
## Steps to reproduce
1. Go to Settings - Search engine and select one of the search engines.
2. Tap back button then reopen Search engine.

### Expected behavior
The selected search engine should be still selected.

### Actual behavior
None of the search engines is selected.

### Device information
* Android device: HTC Desire 820 (Android 6.0.1), and Nexus 5 (Android 6.0.1)
* Fenix version: 1.0.

[2019-06-25 08:04] softvision-miralobontiu commented on #2911
This is not fixed yet.
Tested with the latest build 1.0.1926 (#11760617) with Nexus 5 (Android 6.0.1), and Samsung Galaxy S8 (Android 9).
I'll remove the "QA needed" flag and mark it as "in progress".
![2019_06_25](https://user-images.githubusercontent.com/40694158/60080515-bdd00480-9738-11e9-94bc-4ca2182f1297.gif)

[2019-06-25 08:04] topotropic commented on #3137
yes, still not seeing any controls in full screen – I don't think it's super urgent though, so if we have a webcompat list to put it on, that might be a good place.

[2019-06-25 08:06] softvision-miralobontiu commented on #3055
Verified that on the latest build 1.0.1926 (#11760617), in "About Firefox Preview" the AC: 1.0.1 is displayed.
Tested with Samsung Galaxy S8 (Android 9), and Nexus 5 (Android 6.0.1).

[2019-06-25 08:12] buttercookie42 commented on #3639
I could equally point out a number of other websites where the text would be unreadable *without* font inflation, though. (And we have indeed had some complaints that that kind of pages would render okay in Chrome - because of their font inflation equivalent - but with tiny text in Firefox because there we didn't enable it by default)
And specifically regarding searchfox.org, if I remember the sta

[2019-06-25 08:32] softvision-miralobontiu commented on #2940
It is not entirely fixed.
Tested with the latest build 1.0.1926 (#11760617) with Samsung Galaxy S8 (Android 9), Xiaomi mi4i (Android 5.0.2), Nexus 5 (Android 6.0.1).

On Xiaomi device, the "Send to device" button is displayed, not functional though - please see the attached screenshot.
On Samsung and Nexus, no such button is displayed.

![Xisomi-mi4i](https://user-images.githubusercontent.com/4069

[2019-06-25 08:56] softvision-miralobontiu commented on #1950
Verified as fixed on the latest build 1.0.1926 (#11760617) with Samsung Galaxy S8 (Android 9), Nexus 5 (Android 6.0.1), Xiaomi mi4i (Android 5.0.2).

[2019-06-25 09:09] softvision-miralobontiu commented on #3622
Tested with the latest build 1.0.1926 (#11760617), with Samsung Galaxy S8 (Android 9), LG G7 Fit (Android 8.1), Nexus 5 (Android 6.0.1), and Xiaomi mi4i (Android 5.0.2).

On Xiaomi it is not fixed yet, still flickers.

![flicker](https://user-images.githubusercontent.com/40694158/60085481-0fc95800-9742-11e9-8829-cfa33198c476.gif)

[2019-06-25 09:27] softvision-miralobontiu commented on #3620
Verified as fixed on the latest build 1.0.1926 (#11760617) with Samsung Galaxy S8 (Android 9), and Nexus 5 (Android 6.0.2).

[2019-06-25 09:27] #3620 closed

[2019-06-25 09:38] softvision-miralobontiu commented on #3609
If I understood correctly, these are the STR:
1. Open a link via custom tabs (I used Gmail)
2. From three-dot menu from the custom tab open the link in Firefox Preview
3. From three-dot menu from Firefox Preview select Find in page

In this case, this issue is fixed. I was able to use "Find in page" without issues.
Tested on the latest build 1.0.1926 (#11760617) with LG G7 Fit (Android 8.1), and N

[2019-06-25 11:02] bebef1987 opened #3647 "[Bug] Fenix Raptor Decision Task (raptor-D) failed on Treeherder"
The fenix raptor decision task  failed on three herder:

https://treeherder.mozilla.org/#/jobs?repo=fenix&selectedJob=253227568

[code]

[2019-06-25 11:21] bebef1987 commented on #3647
Task Aj11jYgfQRmdJVYRRh8F1A in task-group Aj11jYgfQRmdJVYRRh8F1A is complete.

Status: failed (in 1 run)
Name: Fenix Raptor Decision Task
Description: Decision task scheduled by cron task ExcvJh2sRY-f760nXj1-jg
Owner: TaskclusterHook@users.noreply.github.com
Source: https://github.com/mozilla-mobile/fenix/raw/ddebc9871889ee957c85df2dd275fb60d32f4d93/.taskcluster.yml

[2019-06-25 11:21] bebef1987 commented on #3647
https://tools.taskcluster.net/groups/Aj11jYgfQRmdJVYRRh8F1A/tasks/Aj11jYgfQRmdJVYRRh8F1A/runs/0/logs/public%2Flogs%2Flive.log

[2019-06-25 11:41] softvision-miralobontiu commented on #3215
Verified as fixed on the latest build 1.0.1926 (#11760617) with Nexus 5 (Android 6.0.1), and LG G7 Fit (Android 8.1).

[2019-06-25 11:51] softvision-miralobontiu commented on #3135
Verified that the swipe for deleting the opened tabs is as smooth as swiping notifications.
Tested on the latest build 1.01926 (#11760617) with Nexus 5 (Android 6.0.1), Samsung Galaxy S8 (Android 9), and LG G7 Fit (Android 8.1).

[2019-06-25 11:56] andreicristianpetcu commented on #3564
It is fixed in latest build.

[2019-06-25 12:03] JohanLorenzo commented on #3647
I looked into this issue. This bug was highlighted by https://bugzilla.mozilla.org/show_bug.cgi?id=1555959. The root cause is: a DONTBUILD commit doesn't produce the regular `B` jobs. Geckoview `68.0.20190612114833` was shipped on top of a DONTBUILD commit: https://treeherder.mozilla.org/#/jobs?repo=mozilla-beta&revision=a82e30d46f04b70c4c6ac04ee292f6b8641d03aa

I think it's time to move to a diff

[2019-06-25 12:08] softvision-miralobontiu opened #3648 "[Bug] Crash on fresh start on Android SDK <26 due to regexp syntax errors"
## Steps to reproduce
1. Install Firefox Preview from https://tools.taskcluster.net/index/project.mobile.fenix.v2.nightly/latest - the public/target.arm.apk file - through command line.
2. Open the app.

### Expected behavior
The app should open.

### Actual behavior
App crashes continuously. Cannot be opened.

### Device information
* Android device: Samsung Galaxy Tab A6 (Android 5.1.1)
* Fenix

[2019-06-25 12:26] softvision-miralobontiu commented on #1737
Based on Marcia's comment, I will close this issue.

[2019-06-25 13:27] Sdaswani opened #3650 "[Bug] Back Button Stacks Through Saved Collection Items Instead of Going Back to Home Screen"
## Steps to reproduce
See video: https://photos.app.goo.gl/J6zssjo5yUL6v47bA

### Expected behavior
Pressing back button should always go back to home screen

### Actual behavior
Pressing back button goes to first web page in stack

### Device information

* Android device: Samsung Galaxy S8 with Oreo
* Fenix version: Yesterdays

[2019-06-25 14:18] agi90 commented on #3609
@softvision-miralobontiu Yep, the steps are correct! Also it now works for me too :) Thank you.

[2019-06-25 14:43] vesta0 opened #3651 "Re-design nav bar"
### Why/User Benefit/User Problem
Results of the latest perceived performance user study included mixed feedback on the dynamic bottom nav bar. We switched to a static nav bar until we investigate and re-design behaviour. This meta will track the re-design and all related issues.

Issues related to implementing dynamic bottom nav bar:
- Content partially covered by the quick action bar #2563

###

[2019-06-25 14:44] vesta0 commented on #3554
@AmyYLee is this a bug or working as designed?

[2019-06-25 14:55] colintheshots commented on #3365
PR#3446 should address this by restructuring the edit bookmark folders.

[2019-06-25 14:58] colintheshots commented on #3427
PR#3446 addresses this.

[2019-06-25 16:10] pocmo commented on #3625
A fix for this landed in Android Components and is scheduled to be released with 2.0.0 (~July 2nd). If it's more urgent we can create a 0.56.x or 1.0.x release including this fix.

[2019-06-25 16:20] sblatz commented on #1301
@colintheshots or @boek are you able to explain [this behavior](https://github.com/mozilla-mobile/fenix/issues/1301#issuecomment-500766118)?

[2019-06-25 16:23] pocmo opened #3652 "PatternSyntaxException: Syntax error in regexp pattern near index 4:"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5986156/

[code]

[2019-06-25 16:25] pocmo commented on #3652
AC issue: https://github.com/mozilla-mobile/android-components/issues/3545

This code was introduced in AC 1.0.0 - so at the moment it should only affect Nightly builds. We try to get a fix into AC 2.0.0. If that is too late for the next Fenix release then we can uplift this and cut a  1.0.x release.

[2019-06-25 16:32] sblatz commented on #2602
This is a dupe of https://github.com/mozilla-mobile/fenix/issues/1158

[2019-06-25 16:37] colintheshots commented on #3426
This should be addressed by PR #3446.

[2019-06-25 17:21] jonalmeida commented on #2940
Hmm.. we probably need to add the `account_header` visibility changes to the `else` block.

[2019-06-25 17:37] jonalmeida commented on #1134
@bifleming No, I don't believe the production servers for AMO or SUMO have the required changes yet, they are only in the staging right now.

[2019-06-25 17:40] willdurand commented on #1134
It will land on Thursday for AMO.

[2019-06-25 17:56] sblatz commented on #3650
This is currently expected behavior. When you save a tab to a collection we're saving its history too. When you press back, you navigate back through your history before hitting the home view.
See #3215.

[2019-06-25 17:56] #3650 closed

[2019-06-25 18:04] colintheshots commented on #3648
This seems to be a Xiaomi device issue affecting all command line installs and not an app bug. Please try the following steps: https://stackoverflow.com/a/48524656/1412973

[2019-06-25 18:18] sblatz commented on #2940
Oops. On it :)

[2019-06-25 18:26] sblatz commented on #2911
This is blocked and waiting for the next a-c release.

[2019-06-25 18:31] sblatz opened #3654 "Create tests for browser fragment"

[2019-06-25 18:32] sblatz opened #3655 "Create tests for collections"

[2019-06-25 18:36] cpeterso commented on #1749
The GV team wants to enable ETP by default in GV for all GV-powered apps, including third-party apps. They can manually disable ETP if they need to. This is GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1561385.

In the meantime, Fenix can still manually enable ETP itself like Fennec bug https://bugzilla.mozilla.org/show_bug.cgi?id=1554071.

[2019-06-25 18:42] sblatz opened #3656 "Create tests for toolbar"

[2019-06-25 18:45] sblatz opened #3657 "Create tests for crash fragment"

[2019-06-25 18:46] sblatz opened #3658 "Create tests for custom tabs"

[2019-06-25 18:46] sblatz opened #3659 "Create tests for home fragment"

[2019-06-25 18:47] sblatz opened #3660 "Create unit tests for onboarding"

[2019-06-25 18:47] sblatz opened #3661 "Create tests for quick action sheet"

[2019-06-25 18:47] sblatz opened #3662 "Create tests for search fragment"

[2019-06-25 18:48] sblatz opened #3663 "Create tests for private mode"

[2019-06-25 18:48] sblatz opened #3664 "Create tests for sharing"

[2019-06-25 19:18] yoasif commented on #3650
FWIW, this seems like the desired behavior to me.

[2019-06-25 19:48] shorlander commented on #180
I think we can close this. It doesn't have anything actionable on it.

[2019-06-25 19:53] shorlander commented on #1307
We aren't doing this right now.

[2019-06-25 20:19] shorlander commented on #1443
This seems caused by the height of the font itself. I think it's best to live with the small visual misalignment. The alternative of trying to manually adjust could create a worse outcome later because the font is variable and could change.

[2019-06-25 20:23] SeburoSUMO opened #3666 "[Bug] Unable to download files with extension .xpi"
## Steps to reproduce

In Fenix, visit https://github.com/mozilla-lockwise/lockwise-addon/releases and long press on a .xpi file found in any Assets section of each release.

### Expected behavior

File downloads

### Actual behavior

Nothing happens

### Device information

* Android device: Motorola Moto E5, Android 8.0.0
* Fenix version: 1.0.1926 (Build #11760617 Lizard 68.0-20190612114833) AC:

[2019-06-25 20:25] sblatz opened #3667 "Create tests for tabs / session management"

[2019-06-25 20:29] ekager opened #3668 "[Bug] ConstraintLayout beta2 bug does not respect bottom constraint when show/hide keyboard"
## Steps to reproduce
1. Go to Search
2. Scroll on awesomebar results to hide keyboard

### Expected behavior
Bottom pill buttons respond to keyboard space.

### Actual behavior
Bottom pill buttons do not adjust.

### Device information

* Android device: ?
* Fenix version: ?

Opened an issue with Google here: https://issuetracker.google.com/issues/136024208
In the mean time, I will remove the abi

[2019-06-25 20:37] ekager commented on #3668
We'll need this to be fixed to implement https://github.com/mozilla-mobile/fenix/issues/1211 again

[2019-06-25 20:38] ekager commented on #1211
I had previously completed this, but there's a bug in ConstraintLayout causing weirdness. See #3668 . So I will need to revert this change and revisit this feature later.

[2019-06-25 21:01] bifleming commented on #3105
@mheubusch can you help?

[2019-06-25 21:23] bifleming commented on #1614
@pocmo do you know if this is still blocked? I see that the related a-c bug has been closed.

[2019-06-25 21:27] bifleming commented on #2383
@Amejia481 Can we re-test this now?

[2019-06-25 21:31] bifleming commented on #913
@vesta0 not sure what is blocking this?

[2019-06-25 21:41] colintheshots commented on #3648
It appears that a native crash is occurring in the most recent Megazord libfenix.so builds. I don't have enough details yet to debug, but I do consistently get a tombstone from the crash. It wouldn't be hard to reproduce the crash with symbols intact.

[2019-06-25 22:11] kbrosnan opened #3670 "[Bug] consider mitigations agaist tapjacking"
## Steps to reproduce
* have a malicious app that has draw over other apps permissions
* preform the taps that the app convinces the user to perform
* see [1147265](https://bugzilla.mozilla.org/show_bug.cgi?id=1147265) and https://crbug.com/902427
* Chrome changes are https://chromium.googlesource.com/chromium/src.git/+/0d7b74a398de964f71cf79eb216de001e0a9a3d5 and https://chromium.googlesource.com

[2019-06-25 22:31] Sdaswani commented on #3650
Ok, like @vesta0 , I'm not convinced this is desired behavior :) https://github.com/mozilla-mobile/fenix/issues/3215#issuecomment-502290723

IMHO the point of a collection is to save a set of related sites, not the _whole history_ of how i generated that collection. when i share that collection with another of my firefox instances, is the history transferred too? or if i share it with another pers

[2019-06-25 22:53] ekager opened #3671 "[Bug] Bookmark sign in to see synced bookmarks button missing"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-06-25 22:56] yoasif commented on #3650
I see it as me saving the tab, not a link -- I don't see collections as bookmark folders (many browsers have had that forever), but as saved tabs.

I don't know the answer to how sharing works if shared to desktop (I kinda want to try it now!), but from what I know about sharing tabs, Fenix/Fennec just shares the link, not some binary encapsulation of the tab -- at least when sharing to other apps

[2019-06-25 23:02] cpeterso commented on #2609
I filed a new GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1561450

[2019-06-25 23:04] yoasif commented on #3650
FYI -- just tested sending collections to desktop, and it just sends links, just like sending tabs.

Sending tabs to mobile also sends as links - I haven't tried a desktop to desktop send, but I suspect that is the same as well.

[2019-06-25 23:04] ekager commented on #3553
@softvision-miralobontiu is what @kbrosnan said above correct? Was one of your bookmark/history items a file URI?

[2019-06-25 23:10] yoasif opened #3673 "[Bug] Unexpected placement of overscroll glow on home"
## Steps to reproduce

1. Open some tabs (not sure this is required, but I don't want to close my tabs to see)
2. Pull down on home screen.

### Expected behavior

Overscroll glow appears at top of screen.

### Actual behavior

Overscroll glow appears below addressbar.

![signal-attachment](https://user-images.githubusercontent.com/152493/60139701-e8dc4780-977c-11e9-827f-a2fa2381e6a5.jpeg)

### De

[2019-06-25 23:30] ekager commented on #3294
I think this was the animation crash. I'm going to close because there's no more information. We already have a bug for the about:blank tabs.

[2019-06-25 23:30] ncalexan commented on #3648
I just get a “boring” crash:
[code]

And before that it’s clear that `libfenix.so` is doing fine:
[code]

Perhaps the pattern syntax has evolved, and we just need to be more careful in a-c to use a backwards compatible syntax?

[2019-06-25 23:33] ncalexan commented on #3648
This is an a-c bug.  It's "merely" that the regex syntax isn't valid before API 26: https://developer.android.com/reference/java/util/regex/Pattern#groupname.  I'll leave somebody else to do the re-filing, etc.

[2019-06-25 23:51] ekager commented on #2792
I agree that Fennec's pinning is better. I was able to get all folders at the top by doing some sorting, but I wasn't sure how to handle the bookmark separators between a bookmark and a folder... We may need some UX feedback here.

[2019-06-26 00:03] ekager commented on #1614
This is fixed now and these domains are filtered out by AC HistoryDelegate

[2019-06-26 00:22] boek opened #3676 "First page load calls onLoadingStateChanged with loading=false twice"
QA noticed that there was a discrepancy between `uri_count` and `search_count` and after some further investigation it looks like [`onLoadingStateChanged`](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/HomeActivity.kt#L301) from the session observer is getting called twice on the first load in a session.

This is causing an extra `Event.UriOpened` event to

[2019-06-26 00:23] boek commented on #1301
Looks like there is a bug that is causing UriOpened to get called an extra time in a session. I filed a follow up bug #3676 and we can track/fix it there.

[2019-06-26 00:24] boek commented on #1301
@WhoIsAndi

[2019-06-26 05:24] softvision-miralobontiu commented on #3609
Based on Agi's comment, I'm closing this issue.

[2019-06-26 06:03] softvision-miralobontiu commented on #3553
I'm not sure I had a URI file opened, but I could reproduce the crash again with Google Pixel (Android Q), Samsung Galaxy Note 8 (Android 9), Motorola Moto G6 (Android 8.1) on the latest build 1.0.1926 (#11761826).
I selected only one bookmark/history page and chose "Open in private tabs" and the app crashed.
I only had Wikipedia pages opened and CNN articles.

The logcat from Google Pixel:
[logca

[2019-06-26 07:15] pwd-github opened #3677 "Opening bookmarks is a really confusing experience"
## Steps to reproduce
As a user, I want to open a bookmark in a new tab.

I create a new tab

### Expected behavior

I should be able to access my bookmarks from there in order to open one.

### Actual behavior

I get the search interface.

So then I'm like how do I access my bookmarks in order to open them in a new tab? Oh I can't? It's impossible? Damn!

### Device information

* Android device:

[2019-06-26 08:16] WhoIsAndi commented on #1301
@boek sure thing ! I'll go ahead and close this issue.

[2019-06-26 08:25] softvision-miralobontiu opened #3678 "[Bug] Crash when tapping on your account"
## Steps to reproduce
1. Go to Settings and sign in.
2. Go to your account.

### Expected behavior
Your account can be accessed.

### Actual behavior
App crashes.

### Device information
* Android device: Motorola Moto G6 (Android 8.1), Nokia 6 (Android 7.1.1), Nexus 5 (Android 6.0.1)
* Fenix version: 1.0.1926 (#11770618)

### Notes
It might be related to the fact that we have limited IP's and tha

[2019-06-26 08:42] softvision-miralobontiu commented on #2905
Cannot verify due to #3678

[2019-06-26 08:45] pocmo commented on #3648
Duplicate of #3652 (Affects Android 5.0/5.1)

[2019-06-26 08:45] #3648 closed

[2019-06-26 08:45] pocmo commented on #3652
Fixed in AC 2.0.0.

[2019-06-26 08:47] softvision-miralobontiu commented on #3581
Verified as fixed on the latest build 1.0.1926 (#11770618) with Nexus 5 (Android 6.0.1), Samsung Galaxy Note 8 (Android 9), and Motorola Moto G6 (Android 8)

[2019-06-26 08:50] softvision-miralobontiu commented on #3213
Verified as fixed on the latest build 1.0.1926 (#11770618) with Motorola Moto G6 (Android 8), and Nokia 6 (Android 7.1.1).

[2019-06-26 08:53] #3647 closed

[2019-06-26 11:31] softvision-miralobontiu opened #3679 "[Bug] Three-dot menu is misplaced when turning the device from portrait mode to landscape mode"
## Steps to reproduce
1. Open a page with an input field with the device in portrait mode (i.e. google.com).
2. Tap on the three-dot menu.
3. Turn the device in landscape mode and observe.

### Expected behavior
The three-dot menu should be visible in the right-lower corner.

### Actual behavior
The three-dot menu is displayed in the middle, and the page behind it is zoomed.

### Device informatio

[2019-06-26 12:04] kolAflash opened #3680 "[Bug] doesn't start on Samsung Galaxy S4 Mini (gt-i9195 / serranoltexx - LineageOS-15.1 / Android-8.1)"
## Steps to reproduce
This is my exact LineageOS version: https://www.mediafire.com/file/f63hte5fqoh3bjb/lineage-15.1-20190413-UNOFFICIAL-serranoltexx.zip/
https://forum.xda-developers.com/galaxy-s4-mini/orig-development/rom-lineageos-15-0-s4-mini-t3702272
1. Install on a Samsung i9195, running LineageOS-15.1 / Android-8.1
2. Start app.

I tried the app on several other phones - also those running

[2019-06-26 12:15] NovaTangerine opened #3681 "Bypassing In-app Browser"
## Steps to reproduce
1. Made Fenix default browser
2. Open link from Twitter timeline. Link opened in Fenix app rather than Twitter in-app browser.
3. Switched default browser back to Chrome. Twitter in-app browser now works properly again, but is Fenix-themed (i.e. Has the Fenix loading bar and the option to open the page in Fenix, etc.)

This ONLY happens on Twitter for some reason. Other apps'

[2019-06-26 14:06] vesta0 commented on #3650
Thanks for the feedback @Sdaswani :) The UX team is investigating the Collections design and I think this is a good use case to consider and make sure we are intentional in how we design it. FYI @shorlander @mheubusch

[2019-06-26 14:06] vesta0 commented on #1182
Dup of #219

[2019-06-26 14:07] vesta0 commented on #879
Related issues tracked individually due to different timing.

[2019-06-26 16:24] vesta0 commented on #3214
@sv-ohorvath @colintheshots was this fixed? I can't reproduce it but it doesn't have a QA needed label.

[2019-06-26 16:26] AaronMT commented on #3177
I imagine this is the same scenario, correct?

E.g, I visit Pinterest.com, I see the Get on Google Play at then bottom. Tapping it does nothing currently (52850feaab60b7b88ebc6a5c7e2868d3dda3e932).

[2019-06-26 16:33] ekager commented on #1872
I think this is no longer an issue. Please reopen if it is.

[2019-06-26 16:34] ekager commented on #3681
It's not an in app browser being bypassed, it's using your phone's default browser's custom tabs. And currently Twitter doesn't support us using custom tabs, but we've reached out to the team there to try to fix this. Dupe of https://github.com/mozilla-mobile/fenix/issues/1503

[2019-06-26 16:34] #3681 closed

[2019-06-26 16:35] ekager commented on #3177
Yes @AaronMT , once we reenable the app links feature, that should work

[2019-06-26 16:57] ekager commented on #3214
Looks like a commit referenced this 2 days ago @vesta0 . I added the QA needed label

[2019-06-26 17:04] ekager commented on #3677
If you start typing, the search suggestions in the awesome bar will search your bookmarks and give you a chance to open them. Does that not work for you?

[2019-06-26 17:07] ekager commented on #3677
See https://github.com/mozilla-mobile/fenix/issues/2037 for an issue about making it more clear that these are bookmark suggestions

[2019-06-26 17:09] ekager commented on #2037
I do think this would help clarify awesomebar results for people. Could we just add the star favorite icon instead of the site favicon here?

[2019-06-26 17:16] pwd-github commented on #3677
It is possible to bring up the bookmarks via search, however at the time, I couldn't recall the name of the bookmark and hence just found it a frustrating experience.

[2019-06-26 17:31] Amejia481 commented on #2383
Sure!

[2019-06-26 17:38] Amejia481 commented on #2383
@bifleming The crash doesn't happen, but the custom tab transforms itself in a normal browser, but with functionality, it doesn't show the website anymore.
![Screenshot_20190626-133455](https://user-images.githubusercontent.com/773158/60201848-5472f300-9817-11e9-919b-3f1741b45368.png)

[2019-06-26 18:01] cadeyrn commented on #2383
The screenshot looks similar to #3644, could be related.

[2019-06-26 18:21] cpeterso commented on #1486
The new GV bug is https://bugzilla.mozilla.org/show_bug.cgi?id=1510314

[2019-06-26 18:40] AmyYLee opened #3686 "[Fenix] Update headers, snackbar, and buttons to use Sharp Sans font"
Hi,

Filing this to track updating to a custom font (Sharp Sans) for headers, snackbar, and buttons in Fenix. Please see reference below for components that use Sharp Sans. @colintheshots

![Screen Shot 2019-06-26 at 2 37 01 PM](https://user-images.githubusercontent.com/5992746/60205791-19c18880-9820-11e9-8279-467e8201ac6b.png)

[2019-06-26 18:48] ekager commented on #3644
Going to close for #2383

[2019-06-26 18:48] #3644 closed

[2019-06-26 18:49] ekager commented on #2383
Yep looks the same as #3644. I closed that one for this one because we have clear STR here. Thanks for testing @Amejia481 ! Do you think this is something that has to be fixed in AC?

[2019-06-26 18:58] #3686 closed

[2019-06-26 19:44] sblatz commented on #1184
Looks like the code for generating the search engine icons is in AC (based off of `AssetsSearchEngineProvider.kt`).

@pocmo is it possible for us to grab different assets? It seems like these are dictated by the engine codes we're using (e.g. `google-b-m`) which I don't think we can change (since it explicitly has a mobile identifier).

[2019-06-26 19:45] sblatz commented on #2210
See [this comment](https://github.com/mozilla-mobile/fenix/issues/1184#issuecomment-506018203) for more info on making the engine icons look different.

[2019-06-26 19:59] AmyYLee opened #3687 "[Fenix] Use Metropolis font for headers, buttons, and snackbars"
Since we are unable to use Sharp Sans, we will be using Metropolis instead for headers, buttons, and snackbars. Please see reference below @colintheshots

Font location: https://github.com/chrismsimpson/Metropolis
![Screen Shot 2019-06-26 at 3 55 21 PM](https://user-images.githubusercontent.com/5992746/60210496-02d46380-982b-11e9-9630-3f70e070970d.png)
![Screen Shot 2019-06-26 at 3 54 26 PM](https

[2019-06-26 20:19] sblatz commented on #3319
Really we need these to be implemented on the android components side. I'm going to throw a blocked label on this until we're able to address it there.

[2019-06-26 20:22] sblatz commented on #2576
Looks like this is actually broken in Reference Browser & Sample Browser.
Filing an [ac issue]() to track this.

[2019-06-26 20:28] cadeyrn commented on #2925
Fixed by https://github.com/mozilla-mobile/android-components/pull/3536.

[2019-06-26 20:35] sblatz commented on #3625
@pocmo We're now on the 2.0.0-SNAPSHOT. Is this ready for QA?

[2019-06-26 20:37] sblatz opened #3690 "[Bug] Shorcuts and QR scanner bar doesn't appear sometimes"
### Demo
![demo 2019-06-26 13_36_46](https://user-images.githubusercontent.com/4400286/60213025-766c7580-9817-11e9-98f4-7c9eddfbbcb9.gif)

[2019-06-26 20:37] sblatz commented on #3555
Related: https://github.com/mozilla-mobile/fenix/issues/3690

[2019-06-26 20:38] sblatz commented on #3530
@kbrosnan is there a GV bug filed for this?

[2019-06-26 20:42] bifleming commented on #2593
@grigoryk @pocmo I assume there is some a-c work to be done for this?

[2019-06-26 20:47] bifleming commented on #3207
@cpe

[2019-06-26 20:56] bifleming commented on #1866
@cpeterso

[2019-06-26 21:03] sblatz opened #3693 "[Bug] Deleting bookmark folder doesn't work (and crashes)"
I'm not sure if we're supposed to be able to delete bookmark folders right now, as long pressing on them does not display the edit mode.

That being said, once in edit mode (by long pressing on a real bookmark), a user is able to select and delete the bookmarks. Doing so causes a crash. See demo:

### Demo

![crash folder](https://user-images.githubusercontent.com/4400286/60214838-2a233480-981b-11

[2019-06-26 21:10] sblatz commented on #3174
This is blocked on https://github.com/mozilla-mobile/fenix/issues/3693

[2019-06-26 21:24] sblatz commented on #2640
I'm able to reproduce this on Sample Browser & Reference Browser. This seems like it's a GV bug not redirecting us properly?

[2019-06-26 21:28] bifleming commented on #1398
@cpeterso

[2019-06-26 21:31] bifleming commented on #1241
@cpeterso

[2019-06-26 21:32] sblatz commented on #1208
We need UX for this setting before we can work on it as the actual engineering change is pretty trivial.

[2019-06-26 21:42] vesta0 commented on #1001
Closing this issue since we are no longer considering this approach. We can re-open if strategy changes.

[2019-06-26 21:55] ekager opened #3695 "[Bug] The tab/session you're currently in shows up as a suggestion and does nothing"
<img width=375 src=https://user-images.githubusercontent.com/25442310/60217762-4d051700-9822-11e9-8498-781f97bd9a25.gif>

## Steps to reproduce
1. Open a tab
2. Go to search
3. Find search suggestion for the link you're currently on

### Expected behavior
- Tab you're currently on doesn't show up as a suggestion?

### Actual behavior
- Shows up but does nothing

### Device information

* Android d

[2019-06-26 22:14] mitchhentges commented on #2356
After some direct-message discussion with Jon, it sounds like the first channel that we want Firebase working with is `nightly`, not `production`.
We will add support for `beta` and `production` afterwards

[2019-06-26 22:24] mitchhentges commented on #2881
We've learned that we can't keep publishing a nightly to the production app's `nightly` track: users don't stay on the track they've chosen. Rather, they're always updated to the most up-to-date app that is equal to or more stable than the track they're on.

So, rather than this:
[code]
Instead, the nightly user might be upgraded to a production version, then back to a nightly:
[code]

We don't wa

[2019-06-26 22:30] sblatz commented on #2219
Looks like @Amejia481 just got this fix merged into A-C. It should be fixed on the nightly!

[2019-06-26 22:38] ekager commented on #3690
I think this is also caused by the constraintlayout bug #3668 ... :(

[2019-06-26 22:44] karlcow commented on #3639
I'm not completely sure, but this same site breaks in Firefox Fenix and not in Firefox fenix
https://github.com/webcompat/web-bugs/issues/33625

This seems related to either a default font size which is different or a font inflation system.
On Fennec, 16px
On Fenix, 18.4px

[2019-06-26 22:58] sblatz commented on #3002
Of note, some older users will likely have these by default: http://kb.mozillazine.org/Using_keyword_searches

[2019-06-26 22:59] mitchhentges opened #3698 "Create "staging" google play app/project for testing CI"
When we do staging releases, we don't actually communicate with Google Play.
To improve the "end-to-end-test-ness" of our CI, we should have staging releases deploy to an internal-only "staging" Fenix target

[2019-06-26 23:00] sblatz commented on #3002
I'm not able to reproduce this on the latest master. I have tried using the shortcuts listed in that wiki article as well as some of my own (that don't have parameters). @pwd-github can you still reproduce?

[2019-06-26 23:05] ekager commented on #3639
I think the GV team is looking into the right solution for this since removing it here didn't actually change anything about this bug. See https://github.com/mozilla-mobile/android-components/issues/3522 and https://bugzilla.mozilla.org/show_bug.cgi?id=1561135

[2019-06-26 23:14] pwd-github commented on #3002
This appears to be fixed now @sblatz

[2019-06-26 23:15] sblatz commented on #2226
I believe @ekager fixed this

[2019-06-26 23:18] kbrosnan commented on #3648
Additional signature Sentry issue: [FENIX-NIGHTLY-5N](https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5986691/)

[2019-06-26 23:20] kbrosnan commented on #3652
Another signature Sentry issue: [FENIX-NIGHTLY-5N](https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5986691/)

[2019-06-27 00:29] karlcow commented on #3639
Thanks @ekager Do you know what is the default css of Firefox Fenix.

For Fennec
https://searchfox.org/mozilla-central/source/layout/style/res/

does Fenix reuses this, or something different?

[2019-06-27 01:21] mheubusch commented on #2497
Assigning to Nicole to address as part of any updates to bookmark folders or when this issue gets added to a sprint.

[2019-06-27 01:30] mheubusch commented on #3319
@AmyYLee There are a number of bugs related to snackbars and confirmation dialogs - can we talk about how to work with engineering to locate all the dialogs that appear instead of a snackbar where a snackbar was originally specified?  Also, have we articulated a rationale or listed the use cases for snackbar vs dialog?  It might help to attach that to this bug if so.

[2019-06-27 01:40] mheubusch commented on #3355
@AmyYLee are there specs you can provide (or point to if they already exist) to address these spacing issues in non-English locales?  or does this have to do with how the specs scale on smaller screens/lower resolution devices? please investigate and let me know if there is a holistic way to address.

[2019-06-27 01:44] mheubusch commented on #2792
@AmyYLee Can you review this and point emily to any existing specs that address this if they exist? If not pls reassign to nicole so she can address with any other bookmark considerations.

[2019-06-27 01:50] mheubusch commented on #1949
@AmyYLee another bookmark visual design issue - I think Colin is asking that you review and approve the current implementation or point back to the implementation checklist issues that still remain.

[2019-06-27 01:59] #3671 closed

[2019-06-27 02:17] mheubusch commented on #3105
I am checking with Verdi to find out if we considered chips and had a strong reason to not use them. But I think it might be worth testing a chip version to compare to the current implementation. @vesta0 if this is something you'd like to test lmk and I can assign this as a design task to style chips based on the current functional implementation in the reference browser.

[2019-06-27 02:22] mheubusch commented on #3335
@vesta0 I am going. to label this as blocked by UX pending resolution of 3355 - where someone did test with pseudolocales and found that this issue appears in several places in the UI. I'd like to solve it holistically in that issue.

[2019-06-27 07:07] buttercookie42 commented on #3639
The page from webcompat/web-bugs#33625 has a "width=device-width" meta viewport tag, so font inflation doesn't matter there.

And I still disagree with the premise of this bug - the specific case of Searchfox (and some other similar pages, like #2606) will be fixed in Gecko shortly, and **not** enabling font inflation likewise makes a number of other pages unreadable because of too small text.

[2019-06-27 07:22] yoasif opened #3700 "Clear private data on exit"
### Why/User Benefit/User Problem
- As a user, I want my browser to always clear certain data chosen by me when close the browser.

Types of data:

-Open Tabs
-Browsing history
-Search history
-Cookies and site data
-Cached images and files
-Site settings

### Requirements
- Behind a Feature Flag so QA can spend extra time testing

### Acceptance Criteria
- When I close the browser, the data I cho

[2019-06-27 07:28] AndiAJ commented on #2960
Hi, I can still reproduce this issue on the latest Fenix build **(1.0.1926 Build #11771809 from 26/6**) on the following devices:
• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Sony Xperia Z5 Premium (Android 7.0)

#### ►Video from the Google Pixel 3XL
![2019_06_27_10_16_34](https://user-images.githubusercontent.com/51314259/60245818-0a951600-98c6-11e9-9f7f-2bf6f4bff46b.gif

[2019-06-27 07:44] AndiAJ commented on #2911
Hi, I can still reproduce this issue  on the latest Fenix build (1.0.1926 Build #11771809 from 26/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Sony Xperia Z5 Premium (Android 7.0)

**Based on this, I'll remove the "QA needed" label.**

[2019-06-27 08:13] AndiAJ commented on #3365
Hi, **all good** on the latest Fenix build (1.0.1926 Build #11771809 from 26/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Sony Xperia Z5 Premium (Android 7.0)

►Video from the Google Pixel 3XL
![2019_06_27_11_04_40](https://user-images.githubusercontent.com/51314259/60248972-6d89ab80-98cc-11e9-8e92-9d5bc3ad63dc.gif)

[2019-06-27 08:30] AndiAJ commented on #2960
Hi, it seems that this is applicable for the **Bookmark folders** as well.
Tested it on the latest Fenix build (1.0.1926 Build #11771809 from 26/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Sony Xperia Z5 Premium (Android 7.0)

►Video from the Google Pixel 3XL
![2019_06_27_11_24_27](https://user-images.githubusercontent.com/51314259/602501

[2019-06-27 08:40] AndiAJ opened #3701 "[Bug] "Deleted null" displayed when deleting a bookmark folder"
## Steps to reproduce
1. Tap "Your Library"
2. Tap Bookmarks
3. Delete any folder (with or without any contet)

### Expected behavior
"Folder removed" should be displayed in the context menu.

### Actual behavior
"Deleted null" is displayed in the context menu.

### Device information

* Android device:
• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Sony Xperia Z5 Premium (

[2019-06-27 08:53] abodea commented on #3002
I can confirm that I cannot reproduce this issue anymore on the latest build 6/27 using Google Pixel XL(Android Q Beta 4).

[2019-06-27 09:45] denschub opened #3702 "[Bug] window.open does not open a new window/tab"
## Steps to reproduce

1. Open a site that attempts to open a popup via `window.open`. I provided an example [here](https://stuff.schub.io/mozilla/testcases/webc-32144/).
2. Click the button and accept the popup warning.

### Expected behavior

* A new tab loading mozilla.org is loaded.

### Actual behavior

* mozilla.org is loading in the same tab, navigating away from the test case.

### Additio

[2019-06-27 10:07] AndiAJ commented on #3364
Hi, I've bumped into an issue while testing this.
As per the attached video, after trying to edit a Bookmark from Root Bookmarks section (left it there) the "Desktop Bookmarks" gets transformed to "Bookmarks" and only after navigating and coming back from it the name is re-changed to "Desktop Bookmarks".
![2019_06_27_12_49_35](https://user-images.githubusercontent.com/51314259/60257336-efcd9c00-98

[2019-06-27 10:35] AndiAJ commented on #2940
Hi, **verified as fixed** on the latest Fenix build (1.0.1926 Build #11780608 from 27/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

►Google Pixel 3XL video:
![2019_06_27_13_23_46](https://user-images.githubusercontent.com/51314259/60259631-4f2dab00-98e0-11e9-9592-3b865a49a7a9.gif)

[2019-06-27 12:38] abodea commented on #3690
Verified as fixed on the latest build **`6/27`** with **`Samsung Galaxy S7(Android 7), Huawei Mate 20 Lite(Android 8.1.0), Google Pixel 3 XL (Android 9), Google Pixel XL(Android Q Beta 4).`**

[2019-06-27 12:38] #3690 closed

[2019-06-27 12:39] abodea commented on #3555
Verified as fixed on the latest build **`6/27`** with **`Samsung Galaxy S7(Android 7), Huawei Mate 20 Lite(Android 8.1.0), Google Pixel 3 XL (Android 9), Google Pixel XL(Android Q Beta 4).`**
Please note that the fix from #3690 also fixed this issue. Everything works as expected.

[2019-06-27 13:01] AndiAJ commented on #2219
Hi, I'm still able to reproduce this issue on the latest Fenix build (1.0.1926 Build #11780608from 27/6) on the following devices:

#### • Samsung Galaxy J7 (Android 6.0.1)
![SamsungJ7A6 0 1](https://user-images.githubusercontent.com/51314259/60268248-ab9ac580-98f4-11e9-8d42-cbec44361fbf.png)

#### • Sony Xperia Z3 (Android 5.1.1)
![SonyXperiaZ3A5 1 1](https://user-images.githubusercontent.com/513

[2019-06-27 13:03] abodea commented on #3678
Verified as fixed on the latest build 6/27 with **`Nokia 6 andro 7.1.1, Google Pixel 3 XL(Android P), Samsung Galaxy Note 9(Android 8,1,0), Google Pixel XL(Android Q Beta 4).`**
Please note that the login and everything about that section is working correctly.

[2019-06-27 13:03] #3678 closed

[2019-06-27 13:05] 1known opened #3703 "Can't download any video file [webm, mov, mp4, etc]"
With either Firefox preview or Firefox Focus, no video file can be downloaded from websites. Webp, jpeg, and mostly other files along with music files can be straight forward downloaded. Video files cannot.

When clicking a video on firefox for android, the option to download it shows up.

On Focus and Firefox preview, the long press button doesn't even open on any media content that isn't an imag

[2019-06-27 13:10] 1known opened #3704 "Toggle to get url bar on top or bot instead of forced bot."
When scrolling down on a page, on either small or large screen, but handed people will have issues not to touch the url bar and by accident slide up the share and bookmark quick access bar which is quite frustrating.

UI wise, the url bar on bottom has a line that separates Android navigation buttons and doesn't integrate that well, as Firefox for android does with url bar on top, where the Androi

[2019-06-27 13:14] 1known opened #3705 "No control over Tracking protection"
Opening the settings of Firefox preview, there is only a toggle for on and off.

Like Firefox for desktop, there should be a way to select what we want to protect and what exactly are we protecting ourselves from.

Just like Firefox for Android, preview only has a toggle with zero control and zero information for the user.

Huawei P Smart and Samsung S8

Preview version- 1.0.1926

[2019-06-27 13:17] cadeyrn commented on #3705
Duplicate of #1085.

[2019-06-27 13:23] Amejia481 commented on #2219
This change is not part of the snapshot yet.

[2019-06-27 13:24] tw-e opened #3706 "Clear Tabs on exit"
### Why/User Benefit/User Problem
There exists users who want to start with a fresh home view. They do not want to have the tabs from their previous sessions cluttering their home view.

### What/Requirements
When a user chooses the tabs are discarded and when they re-enter the browser they see a fresh home view with none of their previous tabs open.

### Acceptance Criteria (how do I know when I’

[2019-06-27 13:35] cadeyrn commented on #3706
Can you please rename your issue to "Close tabs on exit" or something similar? I don't want to open this issue every time I see it because it's not clear what "I hope to add this option" is about. Thank you.

Also you says "I hope the browser can add these two options" but you only talked about one option. What is the other one?

[2019-06-27 13:43] AndiAJ commented on #3214
Hi, **verified as fixed** on the latest Fenix build (**1.0.1926 Build #11780608from 27/6**) on the following devices:
• Google Pixel 3XL(Android 9)
• Huawei Mate 20 lite (Android 8.1)
• Samsung Galaxy S7 (Android 7)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-06-27 14:27] abodea commented on #2905
Verified as fixed on the latest build 6/27 with a Google Pixel XL(Android Q beta 4).

[2019-06-27 14:36] #3705 closed

[2019-06-27 14:37] kbrosnan commented on #3706
dupe of #3605

[2019-06-27 14:37] #3706 closed

[2019-06-27 14:56] NotWoods opened #3708 "[Bug] Scrolling on a trackpad always selects text"
## Steps to reproduce
On a Chromebook, scroll in the `BrowserFragment` using two fingers on the trackpad

### Expected behavior
The page should scroll up and down.

### Actual behavior
Text gets selected on the page in the opposite direction of the scrolling, starting from where the cursor is located.

What seems to happen is that when two fingers are on the trackpad, Fenix assumes one is pressing

[2019-06-27 15:12] sblatz commented on #2219
My bad, I got a little trigger happy with the "QA Needed" label. I will add it this evening when it's in the snapshot :)

[2019-06-27 15:16] sblatz commented on #2576
This is blocked on us enabling android intent URL handling. (in #3223).

[2019-06-27 15:39] sebast889 opened #3709 "[Spike] Save as PDF option"
### Why/User Benefit/User Problem

To easily save a web page in PDF for formatting, portability and saving a local copy for later reading.

### What/Requirements

Save as PDF option to save the current webpage as a PDF file

### Acceptance Criteria (how do I know when I’m done?)

Feature parity with Fennec to save the current webpage as a PDF file

┆Issue is synchronized with this [Jira Task](http

[2019-06-27 15:41] sebast889 opened #3710 "View Page Source option"
### Why/User Benefit/User Problem

Useful for developers and users who want to view the source of the page

### What/Requirements

View Page Source option to view current page source

### Acceptance Criteria (how do I know when I’m done?)

Feature parity with Fennec to view current page source

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12325)

[2019-06-27 15:53] sblatz opened #3711 "[Bug] Save to collection in browser fragment crashes"
## Steps to reproduce
1. Open a website
2. Press Save to Collection

### Expected behavior
1. Tab is saved to collection

### Actual behavior
1. Fenix crashes

Latest nightly (6/27/19)

    java.lang.IllegalStateException: Can't access the Fragment View's LifecycleOwner when getView() is null i.e., before onCreateView() or after onDestroyView()
        at androidx.fragment.app.Fragment.getViewLife

[2019-06-27 16:27] cpeterso commented on #3207
@Amejia481 filed GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1561041.

[2019-06-27 16:37] AmyYLee commented on #3355
I think we should follow native android rules for long strings which is here.

<img width="875" alt="Screen Shot 2019-06-27 at 12 13 01 PM" src="https://user-images.githubusercontent.com/5992746/60282536-35d33180-98d5-11e9-8130-540c9b9831e3.png">

For the bottom edit bar please reference below:
![Edit bar (2-lines)](https://user-images.githubusercontent.com/5992746/60283936-551f8e00-98d8-11e9-8955

[2019-06-27 17:06] AmyYLee commented on #3554
@topotropic Had worked on this. Nicole can you confirm?

[2019-06-27 17:11] SimonSapin commented on #514
I’d like this as well, to replace Firefox Focus (which if I understand correctly won’t be developed further?)

[2019-06-27 17:33] miketaylr commented on #3702
cc @vesta0

[2019-06-27 17:33] Nxt3 opened #3713 "Overflow menu implementation"
### Why/User Benefit/User Problem

In Google Chrome (and other Android apps), when there is an overflow menu button, you can long press on the menu icon, and then drag down to the menu item you want to select.

In both Firefox apps, you have to tap the menu button and then tap the menu item you want.

### What/Requirements

I believe it's because Firefox uses a custom implementation of the overflo

[2019-06-27 17:35] AmyYLee commented on #3371
@jonalmeida The share menu should close and the snackbar appears afterwards. It should behave the same way as our confirmations. Thanks!

[2019-06-27 17:44] robmv opened #3715 "[Bug] Reduce the radius of the rounded corners"
## Steps to reproduce

Open any menu inside the application, the rounded corners of them are too big. Compare the following Chrome and Firefox Preview screenshots from the same device:

![Screenshot_20190627-132112](https://user-images.githubusercontent.com/1652983/60287871-fa3e6480-98e0-11e9-81ba-e0f9726c9741.png)
![Screenshot_20190627-132122](https://user-images.githubusercontent.com/1652983/602

[2019-06-27 17:46] NotWoods commented on #3713
Thanks for filing! We're moving this issue over to our [Android Components](https://github.com/mozilla-mobile/android-components/issues/3587) repo where the menu code lives.

[2019-06-27 17:46] #3713 closed

[2019-06-27 18:01] sblatz commented on #1400
@Amejia481 this doesn't exist anymore right? The custom tabs bar is now on the top and also doesn't have a quick action bar.

[2019-06-27 18:08] ekager commented on #2960
Thanks @AndiAJ !! :)

[2019-06-27 18:08] yoasif commented on #3135
@softvision-miralobontiu please reopen this - I am on 1.0.1926 (Build #11780609 :lizard: 68.0-20190612114833) AC: 2.0.0 - and this is still an issue. Also seeing this feedback here: https://www.reddit.com/r/firefox/comments/c65ccq/firefox_preview_100_shipped/es6rd9o/

[2019-06-27 18:13] AmyYLee commented on #3319
@mheubusch Can you provide an example of where a dialog appears instead of a snackbar? I don't think I've seen this. Dialogs and snackbars are used in fairly different scenarios.

Snackbars are transient confirmations that time out and appear AFTER an action - i.e deleting
Dialogs requires a user to choose an action and don't go away until they do so - i.e asking permission

[2019-06-27 18:14] sblatz commented on #2911
I'm confused. I'm unable to reproduce this on the latest nightly (6/27) on my Galaxy S9.

Here's a demo:

![switch bug](https://user-images.githubusercontent.com/4400286/60290037-b477a100-98cc-11e9-8a15-d561665d2ddc.gif)

@AndiAJ

[2019-06-27 18:16] sblatz commented on #3319
@mheubusch @AmyYLee currently we're using dialog confirmations in place of snackbars in some places (deleting a collection, for example) because we were having so many bugs with the undo part.

I think this issue is less about the UX of them and more about the fact that we need to implement them in AC to have the results we want :)

[2019-06-27 18:20] jonalmeida opened #3717 "[Bug] 'Your Privacy' onboarding card does not mention automatic telemetery enabled"
In the onboarding card 'Your Privacy', there is no mention that telemetry is enabled by default (see screenshot below).

### Expected behavior
 - Mention that telemetry is enabled **[Vesta] and how to disable it**
 - (nice-to-have) A toggle switch to disable it in onboarding? ### [Vesta] might be too many options in onboarding

### Actual behavior
 - No mention of telemetry enabled.

### Device in

[2019-06-27 18:23] zbhoy opened #3718 "Add Android button in URL like in Firefox Android Old"
### Why/User Benefit/User Problem
In old firefox on android there would be an android icon in the URL bar when the link could be opened in an app. Like with a reddit link and 3rd party reddit app.

### What/Requirements
Implement the button to force app intents to open

### Acceptance Criteria (how do I know when I’m done?)

[2019-06-27 18:25] cadeyrn commented on #514
The development of Firefox Focus is on hold while the big focus is on Fenix , but the project is still alive.

[2019-06-27 18:28] sblatz opened #3719 "[Bug] Scroll to collection doesn't scroll entire home view"
![REEEEEEEEE](https://user-images.githubusercontent.com/4400286/60290913-9f9c0d00-98ce-11e9-864c-85114421e780.gif)

[2019-06-27 18:29] cadeyrn commented on #3715
I don't think it makes much sense to compare with Chrome because Chrome is Chrome and Fenix is Fenix. It's totally okay to have different designs. FWIW, I am not a big fan of Material design and I like the current border radius of the Fenix menu.

[2019-06-27 18:39] #3701 closed

[2019-06-27 18:43] AmyYLee commented on #1944
@sblatz Got a chance to review button colours on dark theme. We had to pick a colour that would pass contrast tests between text/button and button/background. This colour would also apply to radio buttons/toggle switches in settings - Basically it replaces Violet 40 #AB71FF which is what we currently have. The EXCEPTION would be if we had coloured text links on dark background (this would be Viole

[2019-06-27 18:44] mheubusch commented on #3319
@sblatz I will remove the UX tag for now - as long as you have a record of which dialogs were originally spec'ed as snackbars and pulled because of bugs and can revert to the original intent. If there are any questions, please tag this for us again.

[2019-06-27 18:46] yoasif opened #3720 "[Bug] Standard "hold and swipe" gesture does not work for three dot menu"
Posted from [reddit](https://www.reddit.com/r/Android/comments/c65tl0/firefox_preview_100_released/es6p2ob/).

## Steps to reproduce

1. Open Fenix
2. Tap and hold on three dot menu, then drag finger down

### Expected behavior

Menu appears. I can select an entry in the menu when removing finger when it is highlighted. This feels basically like how classic Mac OS used to work, or how menus in Win

[2019-06-27 18:47] dylmye opened #3721 "[Feature Request] Toggle position of navigation bar"
Hello! I've tried searching for this so sorry if it's a dupe.

I prefer having the navigation bar at the top. It's more intuitive to me personally. This request is for a toggle in the settings for the position of the navigation bar, either top or bottom of screen.

Thanks!

[2019-06-27 18:52] Madis0 commented on #3721
#3704

[2019-06-27 18:58] phileastv opened #3722 "Open searchbox when trigerring assistant"
### Why/User Benefit/User Problem

To search the web and avoid Google, i'm currently using the classical Firefox for Android and use it with the Assistant Button (which place the cursor on the searchbox and opens the keyboard), and make the app ready to search. This is very convenient.

Currently thanks to #390 Fenix can be mapped to the assistant button, but doesn't open the keyboard. It's __defi

[2019-06-27 19:04] #3721 closed

[2019-06-27 19:07] kbrosnan commented on #3718
Dupe #3070

[2019-06-27 19:07] #3718 closed

[2019-06-27 19:17] zbhoy commented on #3718
Thanks! Didn't see that issue

[2019-06-27 19:19] kbrosnan commented on #3070
Going to touch this up so it conforms to a feature request. Paul let me know if I missed something important.

[2019-06-27 19:28] robmv commented on #3715
Thanks for the reply. The comparison with Chrome was to show another application that uses rounded corners on Android, it is not frequent to see those menus yet.

The menu's rounded corner is too large for my taste, compare it with others non menu rounded corners on the same application.

For not being a fan of Material Design, the new UI is taking the most annoying visual aspect of it (the corner

[2019-06-27 19:28] pwd-github commented on #3070
Will do. The only concern is placement, whether to place it in the quick action bar or to mimic what Fennec did. I think the quick action bar makes more sense, but that's just my opinion.

[2019-06-27 19:34] dylmye commented on #3704
Dupe of #2115?

[2019-06-27 20:28] ekager commented on #3704
Thanks for filing! Closing for #2115.

[2019-06-27 20:28] #3704 closed

[2019-06-27 20:29] ekager commented on #3668
I fixed the issues we were having involving this Google bug, so I am closing this

[2019-06-27 20:29] #3668 closed

[2019-06-27 20:29] spandan888 commented on #3721
It should be given as a preference'.. requires a lot of recoding, but being open source, fenix should be the best...

[2019-06-27 20:40] buttercookie42 opened #3726 "Quick share"
### Why/User Benefit/User Problem
If you have some share targets that you use much more frequently than others, it would be good to have a quicker way of accessing them than going through the full share sheet.

### What/Requirements
In Fennec, the two most frequently (possibly in combination with some recency factor, not sure?) used share items were directly accessible from the main menu without h

[2019-06-27 20:41] denschub commented on #2640
This is actually caused by #3702!

[2019-06-27 20:51] buttercookie42 opened #3727 "Visible URL width"
On my phone, in Fenix there are around 380 px (190 dp) available for displaying the URL itself, whereas in Fennec this value is (depending how much of the fade out you count) approximately 460 - 470 px (230 - 235 dp). Fenix seems to partially compensate by using a smaller font size, but for the same amount of buttons in the URL bar, I can still see more of the URL in Fennec.

Fennec:
![fennec_url-

[2019-06-27 21:04] yoasif commented on #3715
I agree that the current menus look a little sloppy, but didn't have a great reason to open a bug about it previously. I think that this makes sense from a platform integration perspective.

[2019-06-27 21:07] Berjou opened #3728 "[Feature Request] Trust user installed certificates on android device"
I think that user installed certificates on android device should be trusted by default.

If it helps, there is a PR for the same problem on firefox-focus: https://github.com/mozilla-mobile/focus-android/pull/4281

---

API is already exposed on GV.

## Acceptance criteria

- Add to debug secret settings
- Toggle pref. Default to off
- Confirm any strings that we use (Betsy?)

[2019-06-27 21:14] nahuhh opened #3729 "keyboard shortcuts"
I am using a BlackBerry, for what it's worth.
### Why/User Benefit/User Problem
Keyboard shortcuts are currently supported (awesome!). Hopefully it shouldn't be too difficult to add a "few" more.

Currently implemented
- space = page down
- ctrl + space = page up

### What/Requirements
Requested (asterisk mark ones I feel are of lower priority)
- t = scroll to the top
- b = scroll to the bottom
-

[2019-06-27 21:14] siggib4 opened #3730 "[Bug]"
Preview ist a very fast and intuitive browser. Good job!

I was happy to see there is a dark theme. Unfortunately opened site are displayed in light theme. Could you please provide a dark mode not only a dark theme, meaning the opened site are also displayed with dark background and light letters? That would be fantastic. 😀👍

* Android device: Samsung s10+
* Fenix version:
1.0.0 (Build #11721515 🦎

[2019-06-27 21:15] yoasif commented on #3730
Dupe of https://github.com/mozilla-mobile/fenix/issues/2139

[2019-06-27 21:16] ekager commented on #3730
Thanks for filing! We currently will show sites in dark mode that support the CSS preferred color scheme tag! But yes this is a dupe of #2139 :)

[2019-06-27 21:16] #3730 closed

[2019-06-27 21:19] Mardak opened #3731 "Improve UX for opening Collections"
### Why/User Benefit/User Problem
I made a Reddit Collection of 6 subreddits that I tend to visit when just browsing (not logged in), and currently I need to tap the collection's menu item and select the last item to open all in tabs. And when opening the tabs, they appear in reverse order from how they were added to the collection. If there's many tabs already open, one might need to scroll quite

[2019-06-27 21:21] colintheshots opened #3732 "[Bug] Race Condition Crash in HomeFragment onPreDraw"
## Steps to reproduce
1. Some combination of entering and exiting the HomeFragment very quickly.

### Expected behavior
The user correctly navigate back and forth without crashes.

### Actual behavior
The user crashes if the timing is just right with an IllegalStateException
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5990843/

### Device information

* Android device: Pixel 2
*

[2019-06-27 21:22] ekager commented on #3732
All of this code was related to the shared element transitions and can be removed

[2019-06-27 21:22] ekager commented on #3732
Or commented out

[2019-06-27 21:23] colintheshots commented on #3732
Oh okay. I'd already changed the code to properly remove the listener, but I can comment or remove the dead code also.

[2019-06-27 21:25] Mardak opened #3734 "[Bug] Able to scroll home screen after tab long press"
## Steps to reproduce
Long press a tab waiting for "collection" overlay and dragging more moves the tab (and if you drag to the side enough, it'll delete the tab behind the overlay).

Might be obsoleted by #2696

### Expected behavior
selected tab doesn't drag anymore

### Actual behavior
selected tab keeps moving

### Device information

* Fenix version: 1.0.0 / 68.0-20190611143747

[2019-06-27 21:27] Lululalu opened #3735 "[Bug] "search with" text is not aligned to anything"
### Expected behavior
The texting is aligned to something

### Actual behavior
It looks like the text is just aligned to the left, or floating.
![Screenshot_20190627-182208_Firefox Preview](https://user-images.githubusercontent.com/32398857/60302024-2ec61680-9909-11e9-8b01-d77704f91391.jpg)

### Device information

* Android device: Galaxy A5 2017 8.0
* Fenix version: 1.0.1926

[2019-06-27 21:28] kbrosnan commented on #3735
Looks to be aligned with the larger grey `Search or enter address` box

[2019-06-27 21:34] Seqularise opened #3736 "DuckDuckGo as a globally available search provider"
### Why/User Benefit/User Problem
i would like to use DDG in russian locale but i cannot choose it in settings or add it

[2019-06-27 21:40] colintheshots commented on #3732
Emily and I agreed that the onPreDraw listener is still being used to reset the UI, so I cannot comment out or remove any more than `startPostponedEnterTransition()` and `postponeEnterTransition()`.

[2019-06-27 21:40] mheubusch commented on #3355
Amy's assumption is that these design elements will scale to accommodate text based on our use of Material Design UI components.  https://github.com/material-components/material-components-android
Are these design elements built custom or using material UI? Please assign an engineer to discuss how we approach this and resolve text issues.

[2019-06-27 21:44] Mardak opened #3738 "Faster way to delete a tab and open the next"
### Why/User Benefit/User Problem
Right now the steps in processing/finishing multiple tabs is to…
1) tap the tabs/multi icon
2) swipe the tab to delete (needing to drag more than 50% of the screen - really wide on landscape)
3) select the next tab

### What/Requirements
Maybe a swipe gesture on the tabs/multi icon with the usual "tab deleted [undo]" option in case that's not what the user wanted?

[2019-06-27 22:01] NotWoods commented on #3720
Duplicate of mozilla-mobile/android-components#3587.

Thanks for pointing it out 😄

[2019-06-27 22:01] #3720 closed

[2019-06-27 22:17] kbrosnan commented on #3680
[code]

[2019-06-27 22:22] kbrosnan commented on #3680
Not seeing this crash on the Sentry or Play console.

[2019-06-27 22:25] espectalll commented on #470
As a feature suggestion, I would like to have an option to choose whenever I open a tab in regular or private mode, for instance with a switch, like this!

![Tab queuing popup](https://user-images.githubusercontent.com/2456419/60304943-790bbf80-992a-11e9-84e1-61e24eeb8629.png)

[2019-06-27 22:46] jonalmeida opened #3739 "[Bug] After clicking 'Open in Fenix' from a Custom Tab, all features no longer worked."
From debugging #3609, the fix is missing a solution for the problem underneath: when click 'Open in..', the BrowserFragment starts up all the features when it receives the `onStart` Android lifecycle event, but immediately after receives an `onStop` even when the BrowserFragment is still shown on the screen (no following `onStart` is observed either).

We need to find out why the `onStop` is recei

[2019-06-27 22:48] kbrosnan commented on #2220
We seem to be doing this for releases. https://github.com/mozilla-mobile/fenix/commit/1d57e77ceaa862e54ffeba83a480ed35cc1295dd is there anything else to do in this issue?

[2019-06-27 22:53] codlike commented on #3677
Call me old fashioned but I find it very confusing. I dont want to type the address, I want to very quickly navigate to my bookmarks, and hit the one I want. Hitting the 3 dots, hitting My library, then hitting Bookmarks, then hitting Desktop bookmarks... then i'm there. I love Naked Browsers implementation, swipe right, there are my bookmarks.

[2019-06-27 22:58] mitchhentges commented on #2220
It looks like we're [still using snapshots](https://github.com/mozilla-mobile/fenix/blob/c603c0e1295f641676ffc927cf760a5c96812a1a/buildSrc/src/main/java/Dependencies.kt#L34)

[2019-06-27 23:00] mheubusch commented on #3371
@ekager @jonalmeida I think  **Can't share link**  is good if the source of the problem is the page itself. Not sure I completely understand the issue, however.  If the issue is that a given app can't receive the link, maybe *Can't send link to this app* is clearer.

[2019-06-27 23:19] birtles opened #3741 "[Bug] Japanese introduction string is incomplete. Shows %s."
### Steps to reproduce
1. Open Firefox Preview on a Japanese device

### Expected behavior
Something sensible is displayed.

### Actual behavior
The string: "Firefox Preview へようこそ！%s を知ろう" is displayed
![Screenshot_20190628-080926](https://user-images.githubusercontent.com/1232595/60306867-1099fe00-997d-11e9-8968-f5791e6a667b.png)

### Device information

* Android device: Pixel 3
* Fenix version:

[2019-06-27 23:44] kbrosnan commented on #2220
We are using pinned versions for the release builds and snapshots for the master builds.

[2019-06-27 23:47] kbrosnan commented on #3741
When we released it was noted that there was one Japanese string that was not translated. Is this the problem that was called out @Delphine ?

[2019-06-27 23:52] NotWoods opened #3743 "Put onboarding flow in its own view"
I think the onboarding cards should be in their own view rather than the recycler view for tabs and collections. It's items are always shown separate to the other recycler view items and the code would probably be simpler if it was a linear layout instead of a set of view holders.

[2019-06-28 00:05] ekager commented on #3739
Did a bit more investigation and this is what I've found:
- Does not have to do with our openToBrowser code (this is working correctly as far as I can tell)
- Order of starting the new intent and finishing the old activity doesn't seem to matter

[2019-06-28 00:12] Delphine commented on #3741
The placeholder '%s ' should be rendering as the app name. No idea why it's not in this case. Will poke around

[2019-06-28 00:13] mitchhentges commented on #2220
As in, dynamically? Is `gradle` pulling a different dependency (snapshot vs pin) based on the build type? Or are you overwriting `mozilla_android_components` before each release, then putting it back to `...-SNAPSHOT` after?

[2019-06-28 00:18] birtles commented on #3741
Let me know if I can help with any additional information.

[2019-06-28 01:05] fireph opened #3744 "[Bug] Scrolling physics is way too fast on small swipes"
The scrolling on Firefox mobile has been barely usable for me for a long time. It seems like it is the same way on fenix as well and I wanted to report the issue so that hopefully someday it can be fixed. I usually scroll with many small swipes and this behavior seems to have serious issues with the Firefox scrolling physics. I have posted a video of it in action (with touch overlays turned on).

[2019-06-28 02:11] thewhitetulip opened #3745 "[Bug] use sync credentials from Firefox for Android."
## Steps to reproduce

Install firefox preview after Firefox for Android

### Expected behavior

If preview is going to be a separate browser, please automatically log into my Firefox account.

If my original Firefox login exists, just detect it

### Actual behavior
Asks to login
### Device information

* Android device: ?
* Fenix version: ?

[2019-06-28 02:19] smartfonreddit opened #3746 "Make it easier to close a tab by swiping a lesser distance in the tab manager"
### Why/User Benefit/User Problem

After heavily using the browser for multitasking, I came to the conclusion that closing tabs is too annoying. Most of the time I fail to close the tab from the first attempt, while doing what I would consider as a normal-sized finger swing, because the finger doesn't always slide 70% of the horizontal screen width. The single-tap close "X" button in the corner is

[2019-06-28 02:20] kbrosnan commented on #3652
This is fixed in master, crash rate on Sentry has dropped to near 0.

releases/v1.0 branch is not affected.

[2019-06-28 02:20] #3652 closed

[2019-06-28 02:27] kbrosnan commented on #3135
Re-opening this bug is not the correct process. Code was checked in that resolves comment 0. The verification and closing is the last part of that change. We have new issues that track changing the behavior, I agree we made the springiness too heavy.

[2019-06-28 02:28] kbrosnan commented on #3746
Dupe of #3738

[2019-06-28 02:28] #3746 closed

[2019-06-28 02:32] kbrosnan commented on #3643
Does this happen using Firefox for Android? Does this happen if you use Light mode?

[2019-06-28 02:38] kbrosnan commented on #3628
06-24 16:39:55.843 22112 22175 W Settings: Setting animator_duration_scale has moved from android.provider.Settings.System to android.provider.Settings.Global, returning read-only global URI.
06-24 16:39:55.845 22112 22175 E GeckoLibLoad: Load sqlite start
06-24 16:39:55.855 22112 22112 E KeyFrames: unable to load
06-24 16:39:55.855 22112 22112 E KeyFrames: java.lang.NoSuchMethodException: <init>

[2019-06-28 02:39] bogas04 commented on #3643
Happens in light mode as well. I don't have Firefox installed as of now, will try it.

[2019-06-28 02:47] robsmith11 commented on #2778
Shouldn't this stay open until about:config is restored?

[2019-06-28 03:04] yoasif opened #3747 "[Homescreen] Match Android notifications gesture to swipe to delete gesture on Open tabs"
## Steps to reproduce

Swipe to close tabs.

### Expected behavior

 Use the same swipe sensitivity as is used in Android notifications

### Actual behavior

Right now the swipe to delete gesture is is too hard to perform and it's hard to actually close tabs.

The change in  #3135 introduced this.

### Device information

* Android device: Pixel 2
* Fenix version: latest

[2019-06-28 03:23] flodolo commented on #3741
CC @marsf

The string was [fixed 4 days ago](https://pontoon.mozilla.org/ja/android-l10n/all-resources/?search=を知ろう&string=199638), so it's not in the MVP. The original translation wasn't using `%s`, just something that looks like it `％s`, and breaks the replacement.

Note that we already fixed a bunch of these errors in Japanese when we enabled checks in Transvision ([example](https://github.com/

[2019-06-28 03:27] jonalmeida commented on #1134
This can be closed now, AMO and SUMO both have their changes live. Thanks everyone for fixing this together! 🙂

[2019-06-28 03:52] cpeterso commented on #3702
Note that the GV bug 1557510 is fixed in GV 69. Fenix just needs to update to GV 69.

[2019-06-28 03:54] cpeterso commented on #1866
Is this bug still reproducible? GV bug 1546361 was fixed in GV 68 back in May, so Fenix should have the fix already.

[2019-06-28 04:11] cpeterso commented on #1398
Fenix can add an about:mozilla page without GV changes.

[2019-06-28 04:22] kbrosnan commented on #2778
This is expected behavior from GeckoView. Fenix does not control access to it.

[2019-06-28 04:23] cpeterso commented on #1241
The QF performance team should profile this scenario to see where Fenix or GV is spending all its time.

[2019-06-28 04:26] kbrosnan commented on #3747
Dupe of #3738

[2019-06-28 04:26] #3747 closed

[2019-06-28 04:29] nic0lette opened #3748 "Prompt to save basic access authentication login details"
### Why/User Benefit/User Problem

Currently the browser does not offer to save login details for basic authentication logins.

### What/Requirements

Firefox should offer to save the credentials of a basic authentication login and then pre-fill the fields when returning to the website.

Optional: Also include "auto-login" so the username/password are automatically sent on subsequent visits.

###

[2019-06-28 04:30] yoasif commented on #3747
This isn't a dupe of #3738 -- that bug asks to be able to "close and next" - I'm simply asking for an improvement to the close gesture.

[2019-06-28 05:01] tw-e commented on #3706
Hello there:

Sorry, I mean this.

There is also a reference picture underneath, sorry to forget to add a note.

@cadeyrn @kbrosnan

[2019-06-28 05:25] divya21raj commented on #3741
On it, will make a PR

[2019-06-28 05:30] SubhamTyagi commented on #3727
The usages of blank space between url bar, tab button, menu dots is excessive!

'https://' or 'http://' should be omitted from showing in url bar bcz these are redundant whenever a secure buttons is visible or there may be a preference for showing the url prefix.

[2019-06-28 05:39] divya21raj commented on #3741
Fixed, problem was ％ instead of % in the code for some reason.

[2019-06-28 05:49] yoasif opened #3750 "[Bug] Crash when tapping "Blocked" on Google Maps after disabling location requests"
## Steps to reproduce

1. Disable Fenix locations: Settings > Site Permissions > Location > Blocked
2. Navigate to https://maps.google.com
3. Tap lock icon in address bar
4. Tap "Blocked" near Location

### Expected behavior

Allow me to whitelist Google Maps (add an exception).

### Actual behavior

Fenix crashes

### Device information

* Android device: Pixel 2
* Fenix version: latest

[2019-06-28 05:50] kj opened #3751 "Rearrange and rename items within a collection"
### Why/User Benefit/User Problem

As with bookmarks in the current Android app, I can't seem to rearrange items in a collection after they have been added. I also don't seem to be able to rename them.

### Acceptance Criteria (how do I know when I’m done?)

Can rearrange and rename items within a collection.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FN

[2019-06-28 06:15] yoasif opened #3752 "Collections UI uses a snackbar-like UI that feels out of place"
## Steps to reproduce

1. Open some tabs
2. tap "Save to collection" button

### Expected behavior

A UI like the one displayed in Signal or Gmail when multi-selecting items -- or like appears in the Library UI.

### Actual behavior

There is a purple snackbar-like widget at the bottom of the screen.

Issues:

* There is a "x" ghost button that exits the tab selection UI; this is ambiguous because

[2019-06-28 06:36] sebast889 opened #3753 "Option to disable collections"
### Why/User Benefit/User Problem

For users who have no use for collections and won't be using it, takes up UI space

### What/Requirements

Option in settings to completely disable collections

### Acceptance Criteria (how do I know when I’m done?)

Option in settings to completely disable collections

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12

[2019-06-28 06:47] flodolo commented on #3741
I don't think you should, because it's going to mess with automation (@pike would know for sure).

Note that the string has already been fixed, we only need to export new translations to the repository. Also, that won't affected the current MVP, just next releases.

[2019-06-28 07:06] bogas04 commented on #3643
BTW they're visible once the tweet has been made. So the issue is really with textarea not rendering emojis

🙈😕🤮😕🤮💄<--- It's happening here as well

[2019-06-28 07:13] Pike commented on #3741
This is already in #3592, wating to merge.

[2019-06-28 07:29] SimonSapin commented on #514
Oh ok, that’s good to know. Still, it seems that Fenix could take over this use case without the need for an entirely separate app/product.

[2019-06-28 07:32] AndiAJ commented on #3488
Hi, I've still managed to reproduce this issue on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)

►Video from Google Pixel 3XL
![2019_06_28_10_19_50](https://user-images.githubusercontent.com/51314259/60325313-afc7f100-998f-11e9-8b1a-ab8c36001217.gif)

Based on this I'

[2019-06-28 07:38] PhilippMundhenk opened #3754 "Private mode button should be close to address bar"
When switching often between standard and private mode, the placement of private mode button at the top of the screen is not ideal. Closer to bottom of the screen (like address bar) would be useful, especially considering large phones nowadays.

[2019-06-28 07:45] TalibDota opened #3755 "[Bug]Screen flickers when clicking a link from another app"
## Steps to reproduce
Click a web link from another app (make sure Fenix is the default browser)
### Expected behavior
Transition to Fenix is smooth
### Actual behavior
Screen flickers
### Device information

* Android device: Google Pixel XL Android Pie
* Fenix version: 1.0.1926

Video - https://imgur.com/gallery/7dHUJKk

[2019-06-28 07:46] AndiAJ commented on #3244
Hi, **verified as fixed** on on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)

►Screenshot from Google Pixel 3XL
![Screenshot_20190628-104133](https://user-images.githubusercontent.com/51314259/60326193-d555fa00-9991-11e9-8cf5-0f61312037bd.png)

[2019-06-28 07:59] AndiAJ commented on #2911
Hi, **verified as fixed** on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)

►Video from Google Pixel 3XL
![2019_06_28_10_50_26](https://user-images.githubusercontent.com/51314259/60326956-61b4ec80-9993-11e9-8c6b-411bf2e7e56e.gif)

[2019-06-28 08:19] AndiAJ commented on #2219
Hi, verified as fixed on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1) [Picture](https://drive.google.com/file/d/1AZG0LU1jNYMGAFpYerydz664-WIm1dxj/view?usp=sharing)
• Sony Xperia Z3 (Android 5.1.1) [Picture](https://drive.google.com

[2019-06-28 08:49] Madis0 opened #3756 "Mark HTTP insecure (at least for password fields)"
### Why/User Benefit/User Problem
Users should be made aware that HTTP connections are not "normal", but unsecured.
The desktop Firefox does it by showing [a broken padlock](https://design.firefox.com/icons/viewer/#secure%20broken) on the address bar of [HTTP sites with a password field](http://http-password.badssl.com/), and a warning popup on the password fields themselves.

It also has several

[2019-06-28 08:58] AndiAJ commented on #3489
Hi, verified as fixed on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-06-28 09:03] AndiAJ commented on #1634
Hi, verified as fixed on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-06-28 09:06] JorgeDLS commented on #3424
Hi, I'd like to grab this one, but I have a doubt:
The '+' button here acts as a complement to the text it has at its side (Add new collection) so I'm not sure if it's best for Talkback to read the + button as "Add new Collection" or it would be better to omit this item from being read by Talkback by removing its contentDescription attribute.

If we take the #1 approach, that would result in talkb

[2019-06-28 09:07] Dunexus commented on #1634
I can confirmed it is fixed on my device :
OnePlus 5T (Android 9)

[2019-06-28 09:08] AndiAJ commented on #2223
Hi, verified as fixed on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-06-28 09:19] guerda opened #3757 "[Bug] Login to Sync does not allow paste"
## Steps to reproduce
1. Start Firefox Preview
2. Start Sync
3. Try to paste your mail address or password into the input field.

### Expected behavior
The Android context menu appears and you can select "Paste"
### Actual behavior
Currently, only the cursor appears, but no context menu at all. I can't paste my password into the password field.

### Device information

* Android device: Pixel 3
*

[2019-06-28 09:39] AndiAJ commented on #2806
Hi, verified as fixed on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-06-28 09:49] pdjstone commented on #3584
I get a similar issue on my phone - if I double-tap the three-dot menu button, it opens twice (you have to complete the double-tap before the menu opens, a slower device probably helps). Two separate taps outside the menu are needed to close both.

[2019-06-28 10:13] 1oh1 opened #3758 "Chrome like card UI based tab switcher to navigate between tabs"
### Why/User Benefit/User Problem
Right now switching between tabs means navigating through a list of opened tabs. This type of navigation is unwieldy when the user has 20+ tabs open and quickly needs to switch between them based on the page content of opened tabs

### What/Requirements
The requirement is for a card based UI that shows up on swiping up from the tab count button. The user should be

[2019-06-28 10:20] cadeyrn commented on #3758
While I am sure that the tab management can be improved for users with many tabs I disagree with the proposal to imitate Chrome. In my opinion the UI from the "old Firefox" aka Fennec is much better than the UI from Chrome. The UI from Chrome "looks nice" but is not practical because you don't see much more than one single tab without swiping.

[2019-06-28 10:28] stonebanks opened #3759 "[Bug] Firefox Preview crashes when typing in awesome bar"
## Steps to reproduce
1- Open Firefox Preview
2- start typing something in the awesome bar

### Expected behavior
 should let you type

### Actual behavior

Crashes

#### log from adb:

06-28 06:15:52.877 18514 18514 E AndroidRuntime: Process: org.mozilla.fenix, PID: 18514
06-28 06:15:52.877 18514 18514 E AndroidRuntime: java.lang.IllegalStateException: SessionSuggestionProvider returned duplicate

[2019-06-28 10:39] stonebanks commented on #3759
Never mind I remove the app then installed it again, sync'ed my account and all and it seems to work

[2019-06-28 10:39] #3759 closed

[2019-06-28 10:46] Standard8 opened #3760 "[Bug] Going back to home screen should close tabs"
## Steps to reproduce

1. Start Firefox Preview
2. Do a search, or open an item from a collection
3. Go back

### Expected behavior

The tab is closed. I would expect this, because I'm going back - I've finished looking at the page for that session, and I don't really want the extra step of having to close the tab manually, especially as closing preview also doesn't close the tabs.

In particular,

[2019-06-28 10:53] heyheydanhey commented on #3547
Could _not_ reproduce this in either Light, Dark or Set by Battery Saver theme modes of Firefox Preview 1.0.0 (Build #11721514). Is it still an issue?

[2019-06-28 11:16] AndiAJ commented on #2794
Hi, verified as fixed on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-06-28 11:40] ARZUMATA opened #3761 "[Bug] Firefox closes itself"
## Steps to reproduce

Launch Firefox Preview.

### Expected behavior

Firefox stays open.

### Actual behavior
Firefox closes to launcher.

[2019-06-28_14.35.zip](https://github.com/mozilla-mobile/fenix/files/3338992/2019-06-28_14.35.zip)

![photo_2019-06-28_14-38-36](https://user-images.githubusercontent.com/19918315/60339814-7f457e80-99b2-11e9-9bc7-985106aa27b8.jpg)
![photo_2019-06-28_14-38-33]

[2019-06-28 11:48] AndiAJ commented on #1722
Hi, I wasn't able to reproduce this issue on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

However, I would have a couple of questions:
1. Should the video be **paused** when resuming Fenix?
2. Shou

[2019-06-28 12:04] abhimanyusingh0 commented on #2197
So is this feature coming in future? I really miss this.

[2019-06-28 12:13] TcT2k opened #3762 "Add the ability to use self hosted syncserver"
### Why/User Benefit/User Problem
As in lockwise (see https://github.com/mozilla-lockwise/lockwise-android/issues/542) there doesn't seem to be any way to specify your own sync server like you could do via `about:config` and `identity.sync.tokenserver.uri`.

This should at least be accessible some how. IMO it should even be prominently visible in a browser that prides itself on it's privacy featur

[2019-06-28 12:54] SelyanKab opened #3763 "Add the kabyle language"
Please add the string.xml file and the values-kab, i would have Firefox preview in kabyle language and i am ready to translate the string file, i am a localizor in pontoon platforme but i don't see the localization project for preview there.

[2019-06-28 13:09] AndiAJ opened #3764 "[Bug] Image slider issue"
## Steps to reproduce
1. Navigate to https://m.emag.ro/

## Alternate STR
1. Navigate to https://m.emag.ro/
2. Request "Desktop site"

### Expected behavior
The images from the image slider aren't loaded

### Actual behavior
The images from the image slider are properly displayed

### Device information

* Android device:
• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsu

[2019-06-28 13:49] AndiAJ opened #3765 "[Bug] Open website in App/Redirect to Google Play not working"
## Steps to reproduce
1. Navigate to https://m.emag.ro/
2. Tap "Open in app" ("Deschide in aplicatie")
![apppppp (1)](https://user-images.githubusercontent.com/51314259/60346814-a60cb080-99c4-11e9-92ae-86fdfe5f4607.jpg)

### Expected behavior
The webpage will be opened in the app in case the user has it installed
In case the app ins't installed the user will be redirected to Google Play

### Actua

[2019-06-28 14:08] abodea opened #3766 "[Bug] Twitch.tv app cannot be opened from Fenix"
## Prerequisite
Install twitch app from the play store.
## Steps to reproduce
1. Launch Fenix.
2. Tap on the URL bar.
3. Access **`www.twitch.tv`**
4. From the top bar, tap on the **`Open in App`.**
### Expected behavior
Twitch app should open.
### Actual behavior
Nothing happens.
### Device information
* Android device: **`Samsung Galaxy Note 9(Android 8.1.0).`**
* Fenix version: **`6/28`**.
* [V

[2019-06-28 14:13] PowERGD opened #3767 "[Bug]At the search page, Fenix couldn‘t back to the main page"
## Steps to reproduce
1. Launch Fenix.
2. Press "search" .
3. Close keyboard.
4. Press [back]button.

### Expected behavior
Back to the main page.
### Actual behavior
Close Fenix.
### Device information

* Android device: Xiaomi Redmi 4 Prime Android 9
* Fenix version: v1.0.0

[2019-06-28 14:18] AndiAJ commented on #3032
Hi, **verified as fixed** on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)

[2019-06-28 14:38] AndiAJ commented on #3711
Hi, **verified as fixed**  on the latest Fenix build (#11790617 from 28/6) using the following devices:

• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)

[2019-06-28 14:38] #3711 closed

[2019-06-28 14:43] FN2187fo opened #3768 "Consider changing swipe sensitivity on home screen tabs"
You need to swipe over 50% of the screen to close a tab by swiping, which is way too much. I usually don't even get to 25% and it works just fine with most browsers.

![ezgif-5-2d6918ad31bb](https://user-images.githubusercontent.com/48321566/60350329-9b055080-99c3-11e9-8345-bddef605dedb.gif)

[2019-06-28 15:07] miladmaz12 opened #3769 "[Bug] Firefox Preview shows up as Firefox Sync on Devices and apps PC"
## Steps to reproduce

1. Go to devices and apps on Firefox PC under your account settings

### Expected behavior

Needs to show Firefox Preview on Mobile

### Actual behavior

Instead shows Firefox Sync

### Device information

* Android device: Pie 9.0.0
* Fenix version:  1.0.0

[2019-06-28 16:00] AaronMT commented on #3766
https://github.com/mozilla-mobile/fenix/issues/3177

[2019-06-28 16:25] abodea commented on #3766
@AaronMT when I tap on that button using `Chrome` the `twitch app` is opened. On FF RC and Focus a custom tab is opened.
The thing is once I have the twitch app installed, maybe the best option is to be opened when I tap on that button and in case I don`t have it installed to open play store.

[2019-06-28 16:43] julKali commented on #3768
I totally agree with you about this and it annoys me as well. It shouldn't be too much work to change this, I will take a look.

[2019-06-28 16:46] sblatz commented on #3768
@ekager has a PR open for this 😄
https://github.com/mozilla-mobile/fenix/pull/3770

[2019-06-28 16:49] julKali commented on #3768
Welp, less work for me then ^^

[2019-06-28 16:51] sblatz commented on #3768
I will convert this to a UX review ticket so we can revisit the sensitivity after Emily's PR!

[2019-06-28 16:52] devmedoo commented on #3738
It's really inconvenient to swipe a tab to close it on my 5.5"(1080p) phone on both orientations.
You can detect the "momentum" of the swipe and go from there.

[2019-06-28 17:19] mitchhentges commented on #2881
Fixed by #3740

[2019-06-28 17:23] yoasif commented on #3768
I suggested "Use the same swipe sensitivity as is used in Android notifications" in #3747

[2019-06-28 17:59] jonalmeida commented on #3371
This is the right situation, so we can use this string. Thanks Michelle and Amy!

[2019-06-28 18:28] julKali commented on #1648
I'll see what I can do for you...

[2019-06-28 18:32] sblatz commented on #1722
@AndiAJ I think it'd be a good idea to just open a new issue and mark it with a label "Needs UX Feedback" so that we can get confirmation on that :)

[2019-06-28 18:32] sblatz commented on #3547
Marking this as QA needed to see if it's still reproducible.

[2019-06-28 18:32] kumarharsh commented on #3514
Atleast in Android P, pressing the back button can also be configured to bring up any app's menu (3 dots). This worked in Firefox too. The menu has the back button too, and long pressing the back button in the menu brought up the navigation history earlier. Even that feature is not supported. Please bring this back!

[2019-06-28 18:51] sblatz commented on #3488
Ah whoops. This is still blocked on [this ac ticket](https://github.com/mozilla-mobile/android-components/pull/3447). Going to label it as such for now.

[2019-06-28 18:56] ryanfeeley opened #3772 "Sync UI fixes"
A bit disappointed to see what landed for Sync after the big marketing push, but anyway, here's what was supposed to ship before we made waves about it.

![image](https://user-images.githubusercontent.com/68213/60364682-d3516280-99b4-11e9-9bea-0e083704ca84.png)

[2019-06-28 18:59] panpiotrs opened #3774 "[Bug] Bookmarks not syncing in Firefox Preview"
## Steps to reproduce
Install / reinstall Firefox Preview, connect it with Firefox account.

### Expected behavior
Both history and bookmarks are synced.

### Actual behavior
Only history is synced, I can see history from desktop on mobile and mobile history on desktop.
I don't see bookmarks from my desktop Firefox on FP and I don't see bookmarks created on FP on my desktop Firefox.
Actually I don

[2019-06-28 19:11] panpiotrs commented on #3758
I think that Opera Mobile has perfect UI in that regard, you can see both big screens and smaller ones below.

[2019-06-28 19:22] panpiotrs commented on #3760
Closing them should be an option (or default, with keeping them open as option). My workflow is completely opposite. And there are settings for that in other browsers too.

[2019-06-28 19:38] Adams880 commented on #3621
To add to this. On the current Firefox Mobile app, when you share an image, it automatically appends a link to any text fields that the app you are sharing with has available. If that could be turned off or given as an option to turn off that would be amazing.

I have to constantly delete links that I don't want when sharing to messages or Discord

[2019-06-28 19:49] panpiotrs commented on #3774
Btw. I'm not using Firefox, I was using it years ago and now I'm testing it only from time to time to check if it's getting better (problems with high CPU usage on Mac). I can just remove those old bookmarks and import new ones from Opera to check how this will go then. Let me know if you want me to wait and check this collection of bookmarks in next releases or should I just remove them and test

[2019-06-28 19:53] shellkr opened #3776 "[Bug] Unable to select DuckDuckGo as search engine on Firefox Preview"
### Why/User Benefit/User Problem
I wouldn't chose a privacy minded browser and then only have Google as a search provider. Will not be able to use this app until that is possible.

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)
Make DuckDuckGo available as search engine from start or at least make it possible to install.

[2019-06-28 19:56] kbrosnan commented on #3776
Dupe of #3736

[2019-06-28 19:56] #3776 closed

[2019-06-28 20:00] buttercookie42 commented on #2606
[Bug 1552781](https://bugzilla.mozilla.org/show_bug.cgi?id=1552781) has been fixed in Gecko(View).

[2019-06-28 20:01] rpappalax opened #3777 "Create pref to disable FIRST_RUN for UI tests"
We run UI tests sharded on individual devices so each test will bring up a fresh install of fenix.  We'd like a way to disable the first-run experience via a pref to save time, similar to what we had for Focus android:  https://github.com/mozilla-mobile/focus-android/blob/master/app/src/androidTest/java/org/mozilla/focus/activity/BadURLTest.kt#L48-L51

┆Issue is synchronized with this [Jira Task](

[2019-06-28 20:10] cadeyrn commented on #3758
Better than Chrome but also not really more useful than the Fennec UI. In Fennec I see always 6 full and 2 half thumbnails plus the page title at the same time and without swiping. Yes, less thumbnails as in Opera Mobile, but more useful (because bigger) thumbnails and the page title is the really important information. Also the current Fenix UI is more useful for me than the Opera Mobile UI becau

[2019-06-28 20:12] julKali commented on #1648
Update: most of the elements inside the toolbar are defined not in fenix but in [mozac](https://github.com/mozilla-mobile/android-components).

In this specific case one would need to tinker with the siteSecurityIconView AppCompatImageView defined in the [DisplayToolbar class](https://github.com/mozilla-mobile/android-components/blob/4a3c853bbe3c7d41d819b9e825314216143cfabb/components/browser/tool

[2019-06-28 20:12] ekager commented on #3774
fyi @grigoryk

[2019-06-28 20:19] grigoryk commented on #3774
@panpiotrs is it possible for you to attach device logs while sync is running? (e.g. run `adb logcat`, press `Sync Now`, and copy-paste logs into this issue; there shouldn't be any personal information in those logs). That will help quite a bit with the investigation.

And to double-check, you mentioned you also have regular Firefox for Android installed, and its bookmark sync is working both ways

[2019-06-28 20:22] grigoryk commented on #3769
This is a known problem on the FxA service side of things, currently being worked on. I'll link to a relevant tracking issue.

[2019-06-28 20:27] ekager commented on #3424
I think the content description for that button should change with the mode of collection creation. So in `CollectionCreationUIView` when we change the drawable for `bottom_bar_icon_button` , we should also add/remove the content description. It should read "close" but I agree with you we don't want duplicate descriptions read for "Add new Collection".

[2019-06-28 20:31] grigoryk commented on #3762
We have most of the necessary A-C and A-S APIs to achieve this. FxaAccountManager takes a `ServerConfig` already, so we'll  need to ensure that it can be swapped out "mid-flight". Alternatively, an app-restart may be a good option as well, which would mean that no A-C changes are necessary.

In Fennec we have a "debug mode" that can be turned on in Account Settings, which enables specifying a cust

[2019-06-28 20:38] grigoryk commented on #3772
@ryanfeeley we ran out of time before the strings/code freeze to implement the new login/pairing UI. These changes should land sometime in the next few sprints.

[2019-06-28 20:40] panpiotrs commented on #3774
@grigoryk If only you could give me some hints how to do that (where to run this adb command) or some links with description of that. I don't have Android Studio, it looks to be related to that, is it possible to do that without installing AStudio?

Yes, syncing between Firefox and Firefox for Android works perfectly, any change I can think of doing there is reflected after sync, no matter if done

[2019-06-28 20:42] grigoryk commented on #3745
Most of the requirements to make this happen are under way or have already landed. Mostly, this is blocked on https://github.com/mozilla-mobile/android-components/issues/2775.

[2019-06-28 20:48] grigoryk commented on #3774
@panpiotrs this page has instructions on how to get to the logs: https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information - you don't need to install Android Studio, but you will need to at least install "android platform tools". Refer to the page for links.

Those instructions talks about a "crash", but in your case you just want to copy-paste the logs that are displayed while you'r

[2019-06-28 20:51] grigoryk commented on #3774
@panpiotrs if you need further help with the logs, feel free to ask here or also in #mobile on our IRC (https://wiki.mozilla.org/IRC). My nickname is "grisha" there, happy to help out.

[2019-06-28 20:52] kumarharsh commented on #242
Would it be possible to move the bookmark and history list to the bottom of the page, near the URL bar and thumb?

[2019-06-28 20:59] ekager commented on #3643
Opened GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1562316

[2019-06-28 21:09] spencergilbert opened #3779 "[Bug] Unable to sign-in to Google account"
## Steps to reproduce
Might be similar to #3304, tested with and without tracking protection. Account has 2FA with a physical key

### Expected behavior
Sign in successfully

### Actual behavior
Recover account gets me into a loop there
![Screenshot_20190628-165221](https://user-images.githubusercontent.com/11903873/60371423-3815b880-99c7-11e9-9e56-bfc688c53975.png)
### Device information

* Andro

[2019-06-28 21:12] panpiotrs commented on #3774
I think this is all what is related to Firefox from that log.

And there it is: `06-28 23:00:13.640 W/sync15::sync_multiple(12587): Store error: Error executing SQL: Invalid column type Null at index: 3)`
If you want some other tests, no problem, let me know what to do.

[code]

[2019-06-28 21:16] ekager commented on #3757
Related : https://github.com/mozilla-mobile/fenix/issues/3530

[2019-06-28 21:22] grigoryk commented on #3774
That's very helpful, thank you @panpiotrs ! Seems like we've seen this issue before, it's being tracked in https://github.com/mozilla/application-services/issues/1325.

[2019-06-28 21:48] panpiotrs commented on #3774
All right, good luck with that, Fenix looks really nice and fresh even with this bug and without extensions, I think I will just start using it anyway 👍

[2019-06-28 21:49] cpeterso commented on #1398
I see now that GV has its own about:mozilla page, so we can update GV's page (if we want a generic page accessible in all GV-powered app) or override it in Fenix with a custom page. If Product or UX want to rewrite GV's about:mozilla page, just let me know what content you would like to use. I can then file a GV bug in Bugzilla.

[2019-06-28 22:02] grigoryk commented on #3774
@panpiotrs the bug appears to be caused by bookmarks with invalid URLs. Those URLs aren't being handled correctly by the underlying bookmark sync mechanism. Fenix uses an entirely new syncing stack underneath, which is why you don't see a similar issue in Firefox for Android.

A possible workaround for you could be to look through your bookmarks (in Firefox Desktop), and remove any with suspicious

[2019-06-28 22:09] kbsletten opened #3781 "[Bug] Lastpass password form fill not working"
## Steps to reproduce
Install FF Preview & Lastpass
Save passwords for news.ycombinator.com and firefox.com
Visit news.ycombinator.com
Click "log in"
### Expected behavior
See password auto fill for news.ycombinator.com
### Actual behavior
See password auto fill for firefox.com
### Device information
Samsung Galaxy J3 V
Android 8.0.0
Patched May 1, 2019

* Android device: ?
* Fenix version: ?

[2019-06-28 22:28] jonalmeida commented on #343
This can probably be closed now.

[2019-06-28 22:30] marsf commented on #3741
It was introduced by my fault.
'％' is Japanese full-width character. It shouldn't be used in l10n.

[2019-06-28 22:34] yoasif commented on #343
The animation comes out of the menu for me in the latest Fenix.

[2019-06-28 22:40] cpeterso commented on #1174
This might require a little GV work, but the A-C team should start the initial investigation to see what Fenix/A-C needs from GV.

[2019-06-28 22:44] cpeterso commented on #2566
This bug will require some deep performance work in Gecko's JavaScript JIT. It's on the JavaScript team's radar, but it's probably a lower priority than other work.

[2019-06-28 22:46] panpiotrs commented on #3774
You're right. I found what is the problem by removing everything except the one unremovable and two others to let you see what's going on:

![](https://i.imgur.com/CMZMfyA.jpg)

This is how backup in json looks like:
[code]

As you can see there is no `Blog - nie od razu naukę zbudowano` in the backup, only those two correct bookmarks. And I can't remove it in the bookmark manager, I can click on

[2019-06-28 22:52] cpeterso commented on #1284
@vesta0 - Is password management blocked on GV? Doesn't password autofill already work (excluding some bugs) with third-party password manager apps like Lockwise (Fenix issue #87)?

[2019-06-28 22:57] thomcc commented on #3774
You mentioned importing bookmarks from Opera, is that where these came from? Perhaps desktop Firefox is mishandling that import, causing these URLs.

[2019-06-28 22:57] cpeterso commented on #2184
I removed the `Needs GV work` and `blocked` labels because the GV bug has been fixed in GV 69 Nightly. We should retest this bug after Fenix updates to GV 69.

[2019-06-28 23:03] ekager commented on #2251
No longer an issue as far as I can tell, closing

[2019-06-28 23:03] panpiotrs commented on #3774
Or maybe it wasn't Xmarks that messed it, because I removed Firefox for Android after our conversation before, I installed it now again and I can't see those two/three bookmarks. It syncs all folders, but they're empty. The same on Firefox Preview, more folders than before (this simple tree you're seeing), all empty. Maybe it was messed up by syncing between my Firefoxes after I installed it coupl

[2019-06-28 23:06] yoasif commented on #2251
@ekager still seeing it - I can attach a new screencast if you like.

[2019-06-28 23:11] jonohewitt commented on #201
Just wanted to ask if the Firefox logo is really necessary? The equivalent from Chrome does not include the logo which to me looks better as it avoids repeated logos on screen if, for example, you also have the Firefox app logo saved in the phone dock. I would expect most users, having installed the widget, to be aware of which app it is linked to, so I don't think the logo adds anything meaningfu

[2019-06-28 23:22] grigoryk commented on #3769
Good issue for this with a discussion/links: https://github.com/mozilla-mobile/fenix/issues/2831

Closing as a duplicate.

[2019-06-28 23:22] #3769 closed

[2019-06-28 23:35] nicolashleon commented on #3418
After doing some research on the issue, it seems that the focus change with the talkback activated is caused by the activity recreation after setting the new theme thru the function `OnboardingThemePickerViewHolder.setNewTheme(mode: Int)`.

Inside the mentioned function is a call to [`AppCompatDelegate.setDefaultNightMode(mode) `](https://developer.android.com/reference/androidx/appcompat/app/AppC

[2019-06-28 23:44] kolAflash commented on #3680
I don't know what Sentry or the Play console is.
Maybe you don't see the crash, because the app doesn't even start up correctly?

Please tell me if and how I can help reproducing or solving this.

[2019-06-29 00:17] mheubusch commented on #3772
@lime124 let's review the request with Ryan and then schedule a design handoff

[2019-06-29 00:48] navidRashik commented on #3758
When we use current desktop browser we can't see the full name of the tab so users are not used to have that feature rather preview mode is more useful while switching the tab... I didn't knew opera build that ui for tab but it seems perfect...

[2019-06-29 02:16] colintheshots opened #3784 "[Bug] Crash loading bookmarks while detached"
## Steps to reproduce
Unclear steps to reproduce. Open bookmarks fragment and browse quickly to a massive folder and select one immediately.

### Expected behavior
Bookmarked page will load.

### Actual behavior
BookmarkFragment will crash as the fragment is detached and the coroutine will crash if the activity is null.

### Device information

* Android device: Moto X4
* Fenix version: 1.0.1926 N

[2019-06-29 02:33] colintheshots opened #3785 "[Bug] Crash onDestroy of BookmarkFragment when detached"
## Steps to reproduce
No clear steps to reproduce. Only crash reports. https://sentry.prod.mozaws.net/operations/fenix/issues/5722088/?query=is:unresolved%20release:org.mozilla.fenix-1.0.0

### Expected behavior
Do not crash when destroying a fragment.

### Actual behavior
The bookmark fragment crashes onDestroy because it's running requireView() to get the navigation controller to remove the dest

[2019-06-29 04:38] kumarharsh commented on #3758
Knowing the title of the tab is very useful to me - I read a lot on the web, and when I have 30-40 tabs open, I don't remember what I read and didn't read. I had turned off the compact tabs setting in Fennec, and could see the whole title which aided in helping me decide which tabs to close.

That said, the current design in Fenix could use some improvement:
* There should be a thumbnail view for

[2019-06-29 04:46] kumarharsh opened #3788 "Pocket Integration"
### Why/User Benefit/User Problem

As a regular user of Pocket, I'd like to be able to see the items I have in my list, and be able to access them from my browser.

### What/Requirements

In addition to putting stuff in Pocket, a user should be able to access previous content they have Pocket'ed.

### Acceptance Criteria (how do I know when I’m done?)

I realise that Pocket is also a separate app,

[2019-06-29 05:15] kumarharsh commented on #2887
I can't even see these options - are they shipped in Fenix? Here's a screenshot:

![Screenshot_20190629-104343](https://user-images.githubusercontent.com/760112/60379984-c2443800-9a2c-11e9-98eb-20aa96f2a78d.jpg)

[2019-06-29 06:24] dmxt opened #3789 "[Bug] Doesn't execute on install, instead returns an error"
## Steps to reproduce
Install app with almost all Mozilla apps installed and running just fine

### Expected behavior
Run an app

### Actual behavior
Returns error and doesn't open an app

[code]
### Device Information
OnePlus 5 on Oxygen 9 🥧 UNROOTED

* Android device: OnePlus 5
* Fenix version: _??_

![Screenshot of an error](https://i.imgur.com/7w7gxEN.png)

[2019-06-29 06:28] Wasseranomalie opened #3790 "[Bug] Requesting desktop site on derstandard.at does not work"
## Steps to reproduce
https://youtu.be/ToCu76RaWSI
- Visit https://mobil.derstandard.at
- Click the hamburger menu on the top right corner
- Click "Versionen" on the top left
- Click "Vollversion" below the "Versionen" bar
- Confirm dialog by clicking "OK"

Using the "request desktop site" functionality of fenix also reloads into the mobile page

### Expected behavior

Site reloads showing the des

[2019-06-29 07:30] HansCronau commented on #162
I'm surprised to find this is the only issue (kind of) mentioning the fact that the preview currently is listed as GSF (Google Services Framework) dependent. Given the focus on privacy I think it would make sense to follow Firefox Focus' example of being GSF independent.

To be sure: @Rudloff, is removing GSF dependency already included in one of the points on your list?
And do you think would it

[2019-06-29 07:41] sunkavallivijay opened #3791 "No paste option"
On long press and hold in input box of websites there is no paste option shown. Unable to paste copied text.

Android 9
Redmi note 5 pro
MIUI global 10.3.1

[2019-06-29 08:11] ChristianCiach commented on #176
Switching tabs by swiping is absolutely essentials to me and people I know. I don't exaggerate when I say that this is the **only** reason I just cannot use the previous Firefox. Currently, switching tabs requires at least three taps. That is just too cumbersome.

[2019-06-29 08:16] ChristianCiach commented on #3481
@kbrosnan
It may be a dupe, but please compare the upvotes of this issue to the issues this is a dupe of. The discoverability of this issue is way higher, so please don't ignore this issue when assessing the importance of this feature.

[2019-06-29 08:28] julKali commented on #3790
Can It actually works if you click on Vollversion again shortly after the first attempt. Nevertheless, it shouldn't take two clicks. So the bug still stands.

[2019-06-29 08:35] julKali commented on #3767
I'll look into this 👍

[2019-06-29 08:41] panpiotrs commented on #3774
I was able to remove bookmark folders by Firefox for Android. It wasn't removed from my default profile on Firefox Desktop, but I created new profile, sync it, and there was no bookmarks. I imported my current collection of bookmarks and everything is syncing now correctly with both Firefox for Android and Firefox Preview. 🎉

[2019-06-29 08:41] #3774 closed

[2019-06-29 09:02] fotonmoton commented on #3765
Can confirm, t.me links doesn't open in Telegram when opened by Fenix but work in Firefox for Android.

[2019-06-29 09:29] fotonmoton opened #3793 "[Bug] inconsistent margins in bottom bar"
## Steps to reproduce
Open link in Firefox Prrview
### Expected behavior
Margins between bottom bar elements are the same
### Actual behavior
Tabs button right margin are larger than left, options button right margin larger than url input left margin.
### Device information

* Android device: Xiaomi Note 4X, Android 7.0
* Fenix version: 1.0.0 (Build #11721515 🦎 68.0-20190611143747

![Screenshot_20

[2019-06-29 09:57] cadeyrn commented on #3758
It doesn't make much sense to compare a smartphone UI with a desktop UI, but on desktop there *are* tab titles in *every* browser I know. Yes, it can be truncated, but it's the same with mobile UIs and it's still an useful information. So I don't understand your comment…

It looks nice (as the Chrome UI) but it's far from "perfect". Both the Fennec and the Fenix UI are more practical for working w

[2019-06-29 09:59] buttercookie42 commented on #3710
Ideally needs [bug 1539363](https://bugzilla.mozilla.org/show_bug.cgi?id=1539363) in GeckoView.

[2019-06-29 11:19] Hocuri commented on #3760
Duplicate of #3605 (?)

[2019-06-29 12:57] ryanfeeley commented on #3772
I look forward to the next release, as some small fixes will make a big difference in the experience.

The only true *bug* I see is that the **Create an account** link should have been removed when we added **Turn on Sync**. They link to the exact same screen. For the quickest fix, remove it ASAP. Longer term, this screen disappears entirely in favour of the page with the illustration.

![image](h

[2019-06-29 13:19] Amejia481 commented on #1919
This was fixed by https://github.com/mozilla-mobile/android-components/commit/05fed1975c48524dd556fb0a69eee286e15d8bb8

[2019-06-29 14:38] arunsathiya opened #3796 "Thank you for using GitHub as a distribution channel"
This is not a bug report/feature request.

I happened to come across Firefox Preview (Firefox Fenix) for the first time today, and the links on [this blog post](https://blog.mozilla.org/futurereleases/2019/06/27/reinventing-firefox-for-android-a-preview/) lead me to Google Play Store.

I do not have a Google account, which is a primary blocker for me to use Android apps. I took a look at [your rel

[2019-06-29 14:38] arunsathiya commented on #87
Thank you for your efforts in making third-party password managers available. I have nudged 1Password's Android team to take a look at this as well - https://discussions.agilebits.com/discussion/105040/support-for-the-new-firefox-preview-aka-firefox-fenix/p1?new=1

[2019-06-29 14:39] agrastiOs opened #3797 "[Bug] Cross-domain window.opener usage is broken"
Doing a cross-domain window.opener call just gives a null.

For example, it breaks the auth system for knockout.chat.

[2019-06-29 14:40] AaronMT commented on #3796
Thanks.

[2019-06-29 14:40] #3796 closed

[2019-06-29 14:43] arunsathiya commented on #87
Actually, giving it another try, I see 1Password's autofiller now. Unsure why it did not appear on the first attempt.

[2019-06-29 14:44] AaronMT commented on #3789
Try clearing Google Play store's cache. If that doesn't work, our APK is available here https://github.com/mozilla-mobile/fenix/releases

[2019-06-29 14:44] #3789 closed

[2019-06-29 15:44] PiotrSss opened #3798 "Quicker access to currently opened sites"
### Why/User Benefit/User Problem

Quicker access to currently opened sites, when user don't need to look at page titles/urls, but can recognize desired site by looking at miniature. As an addition to current "Open tabs & Collections" page.

### What/Requirements

Swipe up to open panel with "Share", "Bookmark", "Read", swipe up even more to open another panel with gallery of sites. Scroll horizon

[2019-06-29 16:17] paddg opened #3799 "Email and WhatsApp "share" links on Amazon does not work"
## Steps to reproduce
Go to a Amazon product, klick "Share" and Email or whatsapp

### Expected behavior
Email or Whatsapp App starts

### Actual behavior
Nothing. Or FF claims there is no WhatsApp installed on this device.

### Device information

* Android device: OnePlus 6T
* Fenix version: Firefox mobile 1.0.0 preview

[2019-06-29 16:36] vesta0 commented on #87
Thank you @arunsathiya for nudging and testing :)

[2019-06-29 16:40] tdsmith commented on #87
The Lastpass update I received from Google Play Store this morning now shows the correct suggestions for Firefox Preview. 🎉

[2019-06-29 16:57] vesta0 commented on #87
Great! Thanks for letting us know @tdsmith !

[2019-06-29 18:10] FN2187fo opened #3800 "Unable to download .zip file"
Trying to download a .zip file gives an error. Video is in german, but the error says "Firefox Preview can not download this fil format"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48321566/60387845-f873cd00-9aa9-11e9-8b40-021d834e3bbe.gif)

[2019-06-29 18:14] hakkikaancaliskan commented on #3791
There is but wrong place.
![Screenshot_20190629-211232](https://user-images.githubusercontent.com/17825767/60387913-d92d6d80-9ab2-11e9-9236-212dbe161e73.png)
Android 9 XZ1

[2019-06-29 18:19] smartfonreddit commented on #3798
No other browser has this feature. It could revolutionize how we multitask. Swiping up and staying on the same screen to select tabs is more seamless than the disruptive process of navigating away onto a different window (current tab manager).  The tab thumbnails could be bigger than in the image above, and could have the title near the image.
I'd love to see the Share and Bookmark buttons moved u

[2019-06-29 18:34] cadeyrn commented on #3798
My first thought was that a tab switcher doesn't belong there because the quick action bar is for page specific actions. But the longer I think about it, the more I like the idea. It would also make #3758 obsolete. Fenix can keep the current UI on the home screen which is not bad at all and this proposal brings an additional quick way for switching tabs with an "Opera like UI", but in a revolution

[2019-06-29 18:58] alois31 opened #3802 "Add image blocking option"
### Why/User Benefit/User Problem
Image blocking is one of the best ways, if not the best, to save data/page loading time.
### What/Requirements
Expose an option to block images in the settings. Ideally, this would be images on/only on wifi/blocked, with an option to selectively unblock (like in Fennec).
### Acceptance Criteria (how do I know when I’m done?)
When the aforementioned option is prese

[2019-06-29 19:30] adamopenweb opened #3803 "[Bug] Report Site Issue button should be positioned near help option"
## Steps to reproduce
1. Open Fenix
2. Press menu button (vertical meatballs)
3. Notice position of `Report site issue` in order

### Expected behavior
Position is close to the top of the list, near Help.

### Actual behavior
Position is second from the bottom.

### Device information

* Android device: Pixel 2
* Fenix version: 1.0

Minor issue.
The position of the button should not be in valuable

[2019-06-29 19:39] adamopenweb commented on #2166
As a new user of Fenix, it took a while to discover the position of the disable Tracking Protection button. Since TP is known to break pages, it's possible users are running into issues and reporting a higher number of invalid Webcompat issues due to it. (I can look into when back from PTO)

[2019-06-29 20:00] kbrosnan commented on #3799
This is two separate issues. #1570 for app intents and one for supporting common protocols such as mailto: or tel:

[2019-06-29 20:00] #3799 closed

[2019-06-29 20:04] kbrosnan commented on #3802
Dupe #3457

[2019-06-29 20:04] #3802 closed

[2019-06-29 20:09] kbrosnan commented on #3797
Dupe #3702

[2019-06-29 20:09] #3797 closed

[2019-06-29 20:14] kbrosnan commented on #3760
No #3605 is about all your tabs. This is about a single tab.

[2019-06-29 20:16] AaronMT commented on #3800
Triage: Feel free to dupe to appropriate already open issue

[2019-06-29 20:19] kbrosnan commented on #3610
Closing as there are multiple issues here. Please open single issues.

[2019-06-29 20:21] kbrosnan commented on #3270
Closing as there is no fix in the code that the Fenix project owns. Similar issues should be reported against [GeckoView](https://bugzilla.mozilla.org/enter_bug.cgi?product=GeckoView)

[2019-06-29 20:25] kbrosnan commented on #1833
This should be fixed with the a-c work.

[2019-06-29 20:27] kbrosnan commented on #3800
Dupe #1657

[2019-06-29 20:27] #3800 closed

[2019-06-29 20:59] silanea commented on #3788
Please keep Pocket restricted to an extension, once support for those arrives.

[2019-06-29 21:25] IdmFoundInHim commented on #2060
When is the logo going to switch to the long-term logo (from <https://blog.mozilla.org/opendesign/firefox-the-evolution-of-a-brand/>)? Also, are there plans to switch Fennec to the new logo before Fenix?

[2019-06-29 21:25] cadeyrn commented on #3788
@silanea: If there will be any prominent Pocket integration like the recommendations on the start screen in the old Firefox an option to disable it would be totally fine. If it's only something like an button to save something in the personal Pocket list and to access the Pocket list then I don't even think that an option is needed. Anyway, there is no reason why it has to be an extension, especia

[2019-06-29 21:40] silanea commented on #3788
@cadeyrn Not to open a discussion on Pocket itself, but every single line of code is a maintenance debt. Doubly so when the code interacts with a remote service. Fenix is being advertised as a lean secure browser. Integrating Pocket (or any other remote service) increases its attack surface and risk of bugs. Since it is a non-essential service and, to the best of my knowledge, not a very widely us

[2019-06-29 21:50] FN2187fo commented on #3800
That was not the issue I had. My download didn't even start as you can see from the video.

[2019-06-29 22:04] Madis0 opened #3804 "Swap tabs when using collections"
### Why/User Benefit/User Problem
When opening tabs from a collection, they are appended to the current tabs, even when using the option "open tabs". So what is the benefit of the collections if they still keep cluttering the tab list?

I suggest to open all tabs of a collection at once and placing all current tabs to a new collection, therefore only showing the opened collection tabs on the tab l

[2019-06-29 22:18] cadeyrn commented on #3788
More than 30 million users according to Bloomberg, and you say "not widely used"? Also maintenance debt is not a strong argument, you can argue against everything with maintenance costs. And an extension has also maintenance costs.

Maybe you don't know it but there is already some kind of pocket integration in the old Firefox for Android, in Firefox for Amazon, in Firefox for Desktop and in Firef

[2019-06-29 22:18] Madis0 opened #3805 "Permanent but slim address bar"
### Why/User Benefit/User Problem
Mobile screens have less space, so browsers (including Fenix) commonly auto-hide the address bar. However, that can be used for phishing, whether [by adding a fake one](https://jameshfisher.com/2019/04/27/the-inception-bar-a-new-phishing-method/) or simply by considering the fact that the user does not see the URL at all times.

Therefore, I propose a simple solut

[2019-06-29 22:36] Madis0 commented on #3798
The previews should be larger or be replaced by favicons (but should clearly look like tabs, not bookmarks etc).
The panel should definitely open in one go, not as two variants (with and without tabs).
The tab bar needs a plus button on the right end for creating a new tab.

[2019-06-29 23:43] kuramot6f opened #3806 "QAB container and alert/confirmation dialog corners should be rounded"
### Why/User Benefit/User Problem
Most of corner are rounded such as icon, button, snackbar, search bar, menu, and so on.
However, QAB container and modal dialog(download confirmation dialog, alert ()'s dialog) corner hasn't been rounded yet.
I think consistency is important.

[2019-06-30 00:06] panpiotrs commented on #3798
Cool, I'll make additional and better mockups, I have many ideas of mixing those two functionalities, maybe some will be approved by the team and done one day.

[2019-06-30 00:29] reinhart1010 commented on #3803
As what I've said in webcompat/webcompat.com#2214, the webcompat.com site should start redirect users to Google Safe Browsing report page for security issues (e.g. scams and viruses), especially for those who discovered the obscure, "Report Web Forgery" feature in desktop.

IMO the "Report site issue" label in Fenix doesn't clearly explain what type of issues the user is expected to report - so ch

[2019-06-30 03:08] sunkavallivijay commented on #3791
Thanks for your reply. So it's an issue. Because of its position it might
not be visible.

Attached screenshot of what I am seeing.

On Sat, 29 Jun, 2019, 11:44 PM Hakkı Kaan Çalışkan, <
notifications@github.com> wrote:

[2019-06-30 05:01] thewhitetulip opened #3807 "[Bug] crash when opening collections"
## Steps to reproduce

add a site to collection, click on it (create 2 collections at least)

### Expected behavior

clicking site should open it

### Actual behavior

crashes the browser

### Device information
Colour OS
* Android device: android 8
* Fenix version: 1.0.0

[2019-06-30 07:30] Geojackson commented on #3547
Greatly appreciate

[2019-06-30 07:33] Geojackson commented on #3807
How to delete

[2019-06-30 08:05] Transfusion commented on #3807
I don't seem to be able to replicate this, attached is a video of me creating two collections and using save to collection. I'm using Android 8.0.0 (MIUI 9.5 dev) on a Xiaomi Mi 6.

[transfusion_fenix_collections_test.mp4.zip](https://github.com/mozilla-mobile/fenix/files/3342650/transfusion_fenix_collections_test.mp4.zip)

[2019-06-30 10:58] Adrian57 commented on #3613
Agree with nahuhh, this is not a duplicate of #768. Need to have main menu item: "Add to homescreen" for any web page.

[2019-06-30 12:01] Eccenux commented on #3194
Weird because in Firefox Preview audio stops playing as soon as I go to the tabs tray. Which is worse because I want podcasts to keep playing in background. This how it is in current Firefox for Android.

Related issue: Persistent notification when audio is playing in Fenix #2551

[2019-06-30 13:19] leonardehrenfried commented on #87
@tdsmith Are you on the beta app of Lastpass or the ordinary release?

[2019-06-30 13:36] diablogriff commented on #87
I'm on nightly resdm

On Sun, Jun 30, 2019, 6:19 AM Leonard Ehrenfried <notifications@github.com>
wrote:

[2019-06-30 21:24] amkcpu opened #3809 "[Meta] Make the domain URL more visible in the address bar"
### User Story
As a user, I want to be able to easily review the entire URL (not just the top-level domain) when I look at the address bar, so I know that I am on the site I want to be on.

For UX/ENG: Perhaps we can either allow user to scroll the URL OR remove the http/https/www

### Acceptance Criteria

-I can see the domain URL of the site I am on.

### Notes
- There are potential security pro

[2019-06-30 21:52] Rudloff commented on #162
As mentioned in https://github.com/mozilla-mobile/fenix/issues/162#issuecomment-502348681, Fenix uses one of the Play Services library.
(This does not necessarily means it requires Play Services, probably that it uses them if they are available.)

[2019-06-30 22:22] upsuper commented on #3736
Same problem for Chinese locale.

Also if I switch to English locale, I can select DDG, but when I switch back to Chinese, the search engine is reset to Google again.

[2019-07-01 04:51] simonsteiner1984 opened #3811 "Technical article promoting fenix"
### Why/User Benefit/User Problem

Help promote fenix

### What/Requirements

What low level changes were made so its faster than firefox (saying you switched to geckoview is not enough detail)

### Acceptance Criteria (how do I know when I’m done?)

I can read this somewhere

[2019-07-01 05:13] kumarharsh commented on #3809
Yeah, that was a nifty feature. Although I feel that it might conflict with the new UX where you can long oress to copy URL...

[2019-07-01 05:20] kumarharsh commented on #3791
It seems like the paste popover doesn't always trigger either. In the GitHub issues comment box, just try doing this: write some text, the long press. You'll see the paste popover. Now tap somewhere inside the box again to dismiss it, and then tap again (without doing anything else) - you won't get the popover.

Reproduced in OnePlus 6.

[2019-07-01 05:58] sv-sdeiac commented on #3424
Hello, in my opinion, is that we should make a translation more accurate of the '+' button.
It is not a good idea to remove the name of a button from Talkback.
Maybe we can find a description to be different from the "Add new Collection". It can be just 'Add button' or eventually if we can't find a good Idea for that button, we can connect the '+' with the 'Add new collection' text to be read in t

[2019-07-01 06:49] guerda commented on #3757
Thanks @ekager ! This does seem like the same issue.
I just tested it now and now the issue is gone. I was able to paste my mail address and my password into the Firefox Sync input fields. Thank you.
I'm still on the same version as above, which is weird.

[2019-07-01 06:49] #3757 closed

[2019-07-01 06:53] kbrosnan commented on #3800
The changes in 1657 will dramatically change how downloads work. It should fix most issues with downloading when implemented. For now that is a good enough place to track your issue.

[2019-07-01 06:54] kbrosnan commented on #3807
Please provide a crash log. See https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information for steps on how to do this.

[2019-07-01 06:58] kbrosnan commented on #3763
@Delphine would you be able to give @S-AMIRI info on how to contribute a localization for Firefox Preview.

[2019-07-01 06:58] pranavpandey commented on #2819
A possible solution:
1. Add an option in settings to enable the system share sheet.
2. Enable it by default on Android Q+ devices.

[2019-07-01 07:18] JorgeDLS commented on #3424
I fully understand your concerns @sv-sdeiac, in fact, I'll try to explain better the situation and why I think removing the `ImageButton` from Talkback is good for this particular case:

When adding a new collection, there's a "Bottom bar" that's made from an `ImageButton` and a `TextView`. The whole BottomBar is the touchable/clickable/readable by talkback element, so in the actual implementation

[2019-07-01 07:52] sv-ohorvath opened #3813 "Create a save button for bookmark editing"
### Why/User Benefit/User Problem
Currently, there's no way to dismiss the changes without saving.
The back button is saving changes, which is counter-intuitive.
### What/Requirements
Add a Save button for editing bookmarks.
The back button should cancel the changes.
### Acceptance Criteria (how do I know when I’m done?)
Users can save or dismiss editing their bookmark.

[2019-07-01 08:01] caesar commented on #3781
Same problem with Keepass2Android.

Works in Fennec.

[2019-07-01 08:29] sv-ohorvath commented on #3781
duplicate: #87

[2019-07-01 08:29] #3781 closed

[2019-07-01 08:36] sv-ohorvath commented on #2874
I can't reproduce on the latest nightly 6/28 build.

[2019-07-01 09:14] kkt-yu opened #3814 "[Bug] The "Share" button icon is bigger than "⋮" icon"
## Steps to reproduce
firefox preview set default browser. And use feedly app at "settings -> Preferred Browser -> Built-in".
### Expected behavior
Share icon is same size as "⋮".
### Actual behavior
Share icon is bigger then "⋮".
### Device information

* Android device: Xperia 10
* Fenix version: Firefox Preview 1.0.0

[2019-07-01 09:24] Bengaa opened #3815 "[Bug] Bottom bar won't go back to its position when browsing open tabs"
## Steps to reproduce
Go to the open tabs section, tap on the search field while the keyboard shows up, then try scrolling up or down without closing the keyboard yourself.
### Expected behavior
The keyboard is disappearing because of the scrolling and the bottom bar goes back to place.
### Actual behavior
The bottom bar won't go back to its original position.
![Screenshot_20190630-232430](https:/

[2019-07-01 09:29] cadeyrn commented on #3815
I can reproduce in Fenix 1.0.0, but it seems already to be fixed in master branch.

[2019-07-01 09:35] AndiAJ commented on #3547
Hi, **verified as fixed** on Fenix `#11791805 from 28/6` for both light and dark themes using the following devices:
• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-07-01 09:42] buttercookie42 commented on #3805
As per #2689, making the URL bar fixed was supposed to be only a temporary solution (and not an intentional feature) because of some bugs that couldn't be fixed in time for the first release.

[2019-07-01 09:43] pocmo commented on #1174
Met with the webcompat folks in Whistler and they are already on it.

CC @denschub @ksy36 @wisniewskit

[2019-07-01 09:43] buttercookie42 commented on #3809
Firefox/Fennec has a long press context menu on the URL bar, too, so that shouldn't be a problem.
The problem will rather be co-existing with a swipe-URL-bar-to-switch-tabs gesture, which apparently is a long sought-after feature for a number of other users.

[2019-07-01 09:49] denschub commented on #1174
👍

This is something that will be on our plate for Q3.

[2019-07-01 10:24] AndiAJ commented on #1833
Hi, I've tested the above mentioned issue but, I'm not sure if it works properly on` Fenix #11791805 from 28/6` as the behaviors are quite different.

#### **1.** For both **`Google Pixel 3XL (Android 9)`** & **`Huawei Mate 20 Lite (Android 8.1.0)`** when trying to paste a rich text you have available 2 options:
• "Paste" - When selecting this option the format is preserved
• "Paste as plain text"

[2019-07-01 10:36] pocmo opened #3816 "IllegalStateException: Fragment BrowserFragment{7d22609 (0ea908f2-edc6-4f66-9aea-3a649a8a491b)} not attached to a context."
https://sentry.prod.mozaws.net/operations/fenix/issues/5617779/

[code]

[2019-07-01 10:39] pocmo opened #3817 "IllegalStateException: Cannot access database on the main thread since it may potentially lock the UI for a long period ..."
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5990425/

[code]

[2019-07-01 10:40] Madis0 commented on #3805
Got it, hence the original idea of anti-phishing is even more valid.

[2019-07-01 10:41] pocmo opened #3818 "IllegalStateException: Can't access the Fragment View's LifecycleOwner when getView() is null i.e., before onCreateView(..."
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5990843/

[code]

[2019-07-01 10:41] Madis0 commented on #3809
I would suggest simply showing the full URL on the page info popup, like Chromium.

[2019-07-01 10:43] IndefiniteBen commented on #87
I can second what @tdsmith said. I had to opt-in for the Lastpass beta and wait for the update first, but it worked immediately after installing the beta. Hopefully this change makes it to the stable Lastpass soon!

[2019-07-01 10:44] IndefiniteBen commented on #3781
Fixed in the current Lastpass beta, see #87.

[2019-07-01 11:52] abodea commented on #1919
I can still reproduce this issue on the latest build **`6/28(1.0.1926(Build #11791805 68.0-20190612114833))`** with Samsung Galaxy Note 9(A 8.1.0).
Please note that not even permission.site icon is displayed.
I tried with android 5, 6, 7, 8, 9.
![Screenshot_20190701-144252_Firefox Preview](https://user-images.githubusercontent.com/42831109/60434092-08f18800-9c0f-11e9-840d-c580dcfd9fd8.jpg)
Also, f

[2019-07-01 12:03] AndiAJ opened #3819 "[Bug]Behaviour after full screen mode"
## Steps to reproduce
1. Go to youtube
2. Open a video in full screen
3. Press the home button
4. Open Fenix again

### Expected behavior
Should Fenix resume in full screen with the video paused?

### Actual behavior
Video is resumed in normal view and is not paused

### Device information

* Android device:
• Google Pixel 3XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (

[2019-07-01 12:12] pwd-github commented on #2077
I can reproduce this

1. Open a site in a custom tab
2. Highlight text

Expected Result:
Context menu to copy text

Actual Result:
N/A

Version: 1.0.1926 (Build #11790618 🦎 68.0-20190612114833)
AC: 2.0.0

[2019-07-01 14:14] st3fan commented on #162
@Rudloff how does this work for Fennec, which also depends on GPS and Firebase services?

[2019-07-01 14:23] gpdevsoft opened #3821 "replace Disconnect block list with custom adblock and tracking protection list choose by user"
### Why/User Benefit/User Problem
improve security and tracking protection if a user can choose the source of blocklist like Steven Black'a Hosts instead Disconnect list
### What/Requirements
under tracking protection's option user can add one or more url blocklist that can be used by fenix to replace default Disconnect list
### Acceptance Criteria (how do I know when I’m done?)

┆Issue is synchro

[2019-07-01 15:24] sblatz commented on #2210
@AmyYLee I have updated the search box with lots of improvements. Please confirm that the boxes I've checked off are looking as expected 😄

[2019-07-01 16:08] #3645 closed

[2019-07-01 16:48] sblatz opened #3824 "[Bug] Browser toolbar not spaced properly"
The left and right margins on the lock icon of `displayToolbar` are not even.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/60453147-2a3d7e80-9be5-11e9-8951-c52569336571.png">

[2019-07-01 17:15] theovds commented on #87
FYI: Today I received an update for Lastpass and it worked immediately. I'm not using the beta version.

[2019-07-01 17:23] ekager commented on #3816
This method does not exist anymore with the static toolbar :) Closing!

[2019-07-01 17:23] #3816 closed

[2019-07-01 17:25] ekager commented on #3815
Yes! Fixed by https://github.com/mozilla-mobile/fenix/pull/3697

[2019-07-01 17:25] #3815 closed

[2019-07-01 17:32] ekager commented on #3739
It turned out to be a weird overlapping lifecycle problem. I solved it this way https://github.com/mozilla-mobile/fenix/pull/3775
I'm going to close this issue because the features are all working now after opening from a custom tab.
This may not be the best way to solve this though so maybe the "Open in" use case you proposed could deal with this better.

[2019-07-01 17:32] #3739 closed

[2019-07-01 17:47] ekager commented on #3817
Closed by https://github.com/mozilla-mobile/fenix/pull/3795

[2019-07-01 17:47] #3817 closed

[2019-07-01 17:49] ekager commented on #3819
We had previously made a decision to exit fullscreen mode when the app is paused, but we can readdress this issue with UX and product.

[2019-07-01 18:00] Rudloff commented on #162
Fennec builds distributed by F-Droid dont include Firebase libraries.

[2019-07-01 18:21] kbrosnan commented on #3819
The current behavior is safer. Consider the following

* Have a web page that convinces you to go full screen
* Use JS onBlur() to substitute the full screen for a login page for bank, online service or fake the Fenix UI to phish the user's Firefox Account.

[2019-07-01 18:50] st3fan commented on #162
@Rudloff do we just need more feature flags to support f-droid?

[2019-07-01 18:54] cpeterso commented on #87
@theovds - What is the version number of the (non-beta) Lastpass that works correctly for you?

[2019-07-01 19:05] theovds commented on #87
It's version 4.10.4345 (Built: 6/27/19)

[2019-07-01 19:17] Mossop opened #3827 "[Bug] text in address bar is tiny"
## Steps to reproduce

Open Fenix. Start entering a URL.

### Expected behavior

Be able to read the text in the address bar.

### Actual behavior

Have to bring device close to my face to be able to read the address bar.

### Device information

* Android device: Moto G7
* Fenix version: 1.0.0

[2019-07-01 19:18] julKali commented on #3761
This seems to be the relevant passage:
[code]

It looks like this is an issue with native code execution. Have you tried building the APK yourself and running it in debug mode?

[2019-07-01 19:37] sblatz commented on #3082
@obitodarky You should be able to see Firefox Preview on the play store either in the nightly channel or on the actual play store (now that it's a public release). Can you try again?

[2019-07-01 19:44] colintheshots commented on #3364
It looks like setting the titles onAttach doesn't work when we return from the EditBookmarkFragment. I moved it to onResume and I'm submitting a PR. We need UX feedback on the correct bookmarks tree.

[2019-07-01 19:47] sblatz commented on #2169
This will require us to implement https://github.com/mozilla-mobile/fenix/issues/3223

[2019-07-01 19:49] sblatz commented on #1088
Sounds like this is blocked on AC?

[2019-07-01 19:53] sblatz commented on #2995
This is blocked on a UX decision as this is currently intended.

[2019-07-01 19:54] sblatz commented on #2590
Sounds like this is blocked on the GV patch.

[2019-07-01 19:56] SoftVision-PaulOiegas opened #3829 "[Bug] After opening a custom tab in normal browser and going home every resume launches to browser"
### Prerequisites:
- The Fenix browser is set as default browser on Android device.
- App is closed with no tabs in memory.

## Steps to reproduce:
1. Open a link from a 3rd party app (Gmail).
2. After the page is loaded, tap the "Tabs" button.
3. Swipe or close the tab with the opened page.
4. While the "Undo" purple bar is displayed at bottom, tap the device back button.
5. Observe the browser b

[2019-07-01 19:57] colintheshots commented on #3553
Looking at the LogCats listed, the fix for #3785 should fix this crash as well. Please re-test after the next successful Nightly build.

[2019-07-01 19:57] colintheshots commented on #3785
This appears to be a duplicate of #3553.

[2019-07-01 20:05] Delphine commented on #3763
@S-AMIRI We haven't opened up the project quite yet to more locales. I'm working on this and going to send an email on our dev-l10n mailing list very shortly about this. Localization will happen on Pontoon, as usual. Thanks!

[2019-07-01 20:17] sblatz opened #3830 "[Bug] Send and share from history/bookmark shows "fragment_share" as title"
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/60464103-7945dc80-9c02-11e9-8de3-57e56bd2073e.png">

[2019-07-01 20:27] ekager commented on #3074
Is anyone still seeing this issue or can we close this bug?

[2019-07-01 20:27] wurstsemmel opened #3831 "Move input box for renaming collection to the top and add save button"
### Why/User Benefit/User Problem
When renaming a collection, the input box to edit the name of the collection is displayed directly above the keyboard. I rather expect the input box at the top of the screen followed by a "Save" or "Accept" button. It is not easy to find the input box between the tabs in the collection and the keyboard, where it is close to the location where the typing suggestion

[2019-07-01 20:29] michel-slm commented on #3613
Would be great to have this, I add a lot of news sites to my home screen and would love to test them with Firefox Preview.

[2019-07-01 20:32] Rudloff commented on #162
A build flag or a [build variant](https://developer.android.com/studio/build/build-variants) allowing us to build the app without the proprietary dependencies would be great :slightly_smiling_face:

[2019-07-01 21:06] sblatz commented on #733
This is an a-c issue with the `InlineAutocompleteEditText`. I was able to reproduce on the latest Fenix master as well as Sample Browser.

I filed an [ac issue]()

[2019-07-01 21:30] ekager commented on #1503
This is something that has to be fixed from Twitter's side. I am in contact with the Twitter engineers to see if they can figure something out for us, but it may not be a high priority for their team.

[2019-07-01 21:35] sblatz commented on #1767
@bsurd are you still running into this issue?

I'm going to close as we haven't had other reports of custom tabs not working, but please re-open if you're still seeing it!

[2019-07-01 21:39] sblatz commented on #1267
We have this edge effect now.

@lime124 please re-open this ticket if you feel the effect should be different 😄

![edge effect 2019-07-01 14_39_12](https://user-images.githubusercontent.com/4400286/60468314-12c6bb80-9c0e-11e9-830f-8fe161dabc20.gif)

[2019-07-01 21:42] sblatz commented on #1541
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/60468378-43a6f080-9c0e-11e9-9591-f4875b1fa0c6.png">

This is the current implementation. I think it looks much less "cramped" as it's centered now with @ekager's fix. I'm going to close this for now, and we can re-open if UX feels we should change it in the future!

[2019-07-01 21:53] yoasif commented on #1267
See also https://github.com/mozilla-mobile/fenix/issues/3673

[2019-07-01 21:57] sblatz opened #3834 "[Bug] Crash when Sharing (anywhere)"
This also just happens any time I try to share anywhere in the app (Home fragment -> share tabs is the easiest way to reproduce).

## Steps to reproduce
1. Open "Your Library"
2. Open "History"
3. Long press to share
4. Press share icon

### Expected behavior
Able to share my link

### Actual behavior
App crashes.

Perhaps something to do with https://github.com/mozilla-mobile/fenix/commit/8cd1a0c

[2019-07-01 22:12] Steffo99 opened #3836 "[Bug] Invalid/Missing referer header causes Telegram login to fail"
## Steps to reproduce

1. Visit https://core.telegram.org/widgets/login
2. Click the _Login with Telegram_ button
3. Complete all login steps.

### Expected behavior

Login should be successful, clicking the button again should open a "You're already logged in" alert.

(Tested on both Firefox Developer Edition 68.0b12 and Chrome on Android)

### Actual behavior

Login fails with a "Bot domain inva

[2019-07-01 22:49] kbrosnan commented on #3836
Dupe #1570

[2019-07-01 22:49] #3836 closed

[2019-07-01 22:51] kbrosnan commented on #1570
This was backed out in PR #3359

[2019-07-01 22:55] kbrosnan commented on #3765
Dupe #1570

[2019-07-01 22:55] #3765 closed

[2019-07-01 23:05] Sdaswani commented on #3566
couldn't repro @kbrosnan will let you know if i see it again.

[2019-07-01 23:14] PopeRigby commented on #162
Doesn't that give Fenix a non-free upstream anti-feature?

[2019-07-01 23:31] ekager commented on #3830
Sorry I closed this in #3838

[2019-07-01 23:31] #3830 closed

[2019-07-02 01:47] ibrahimAlii commented on #3824
@sblatz I think lock icon margin is equal, maybe url itself has extra padding 2X lock icon size

https://github.com/mozilla-mobile/android-components/blob/cb458ca20b62d22772b178e52477ca65af425e5e/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt#L78

[2019-07-02 03:44] obitodarky commented on #3082
@sblatz Yes I updated preview from the PlayStore but I'm still getting this bug.

[2019-07-02 04:35] vesta0 commented on #1112
Dup of #2551

[2019-07-02 04:40] vesta0 commented on #2002
I believe this is fixed.

[2019-07-02 04:53] vesta0 commented on #1208
Will be covered by #255

[2019-07-02 05:02] divya21raj opened #3842 "Add Hindi Locale"
### Why/User Benefit/User Problem
It would be great to have the app in Hindi, a language used by almost 340 Million people of the world.

### What/Requirements
The app should have a Hindi locale

### Acceptance Criteria (how do I know when I’m done?)
When Hindi is an option to use the app, just like other already available locales.

I can volunteer to provide the Hindi locale translations, just gi

[2019-07-02 05:51] vesta0 commented on #3615
Perceived performance study suggests that users find this behaviour counter intuitive and in some cases they may inadvertently lose their clipboard content.

[2019-07-02 06:07] vesta0 commented on #964
I suggest creating a separate toggle for each type of suggestion (history, bookmarks)

We already have a toggle to turn off search provider suggestions.

[2019-07-02 06:10] yoasif commented on #3615
Ouch. Is this basically a dupe of https://github.com/mozilla-mobile/fenix/issues/3615?

[2019-07-02 06:19] cadeyrn commented on #3615
@yoasif: This _is_ #3615. 😉

[2019-07-02 06:37] vesta0 commented on #1476
This is no longer an issue.

[2019-07-02 06:42] vesta0 commented on #701
Closing since this is no longer the transition strategy. Can re-open if anything changes.

[2019-07-02 06:42] #701 closed

[2019-07-02 06:42] vesta0 commented on #700
Closing since this is no longer the transition strategy. Can re-open if anything changes.

[2019-07-02 06:42] #700 closed

[2019-07-02 06:57] yoasif commented on #3615
Even more amusing.

[2019-07-02 07:07] Rudloff commented on #162
If it is an officially supported build variant and not something we patch on our end, I'm not sure the anti-feature applies. (And it is not a blocker anyway.)

[2019-07-02 07:35] tpine commented on #2115
The Google Groups links only work if you are a member of the Fenix Nightly group. They are not accessible otherwise so marking this as a duplicate of other issues does not help now it's in open preview.

[2019-07-02 07:49] antonholmberg commented on #3074
I actually saw this once again on google search just a couple of days ago. Tried switching to the built in samsung keyboard and that worked for a while but then this happened a few days ago.

[2019-07-02 08:04] AndiAJ commented on #1539
Hi, there are still some issues regarding this topic on the latest Fenix Build #11830608 from 2/7 using the following devices:
• OnePlus 6T (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)

✔Selection of multiple bookmarks + performing different actions (Open in new tab, Open in private tab, Delete) went well

❌Selection of multiple bookmarks folders is not possi

[2019-07-02 08:30] AndiAJ commented on #3005
Hi **verified as fixed** on the latest **`Fenix Build #11830608 from 2/7`** using the following devices:
• OnePlus 6T (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy J7 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)
![20190702_111825](https://user-images.githubusercontent.com/51314259/60497021-ac4ca680-9cbc-11e9-95db-dbaf832d491c.gif)

[2019-07-02 08:38] softvision-miralobontiu commented on #3553
Verified as fixed on the latest build #11830608), with Google Pixel (Android Q), and Motorola Moto G6 (Android 8).

[2019-07-02 08:38] cadeyrn opened #3843 "[Bug] (L10N) regression: alignment issue when saving tabs to collection"
There is a regression in master branch. The problem does not exist in Fenix 1.0.0. It does not happen with the English translation.

### Steps to reproduce

0. switch language to German
1. press the "save to collection" button on the Fenix start screen
2. select at least one tab

### Expected behavior

No alignment issue.

### Actual behavior

Please have a look at the purple bar. The "1 Tab ausge

[2019-07-02 08:41] cadeyrn commented on #2425
It's fixed. Can be verified by QA (I can't set labels) or closed. ;)

[2019-07-02 09:21] pwd-github opened #3844 "Remove redundant share option from either quick action sheet or BrowserMenu"
### Why/User Benefit/User Problem
There are two shares. As a user, I don't need nor want two buttons to do the same thing in two different places.

### What/Requirements
Add a pref to remove the one in the overflow menu.

### Acceptance Criteria (how do I know when I’m done?)

[2019-07-02 09:37] abodea opened #3845 "[Bug] The snackbar message when deleting browsing data where is no content should be changed"
## Steps to reproduce
1. Install and launch Fenix.
2. Make sure you have **0** **`Tabs, collections or browsing history and site data`.**
3. Check those 3 and tap on **`delete browsing data`.**

### Expected behavior
A messaged informing the user that there is nothing to delete should be displayed like **`There is nothing to delete, all the data is already cleared`.**
### Actual behavior
The **`Br

[2019-07-02 10:23] pocmo commented on #2220
That's probably going to happen.

That said, this was an ad-hoc decision (switching from 1.0.0 to 2.0.0-SNAPSHOT) to continue working with bleeding edge fixes/features in AC in Fenix. This is related to our development/release flow that is not really finalized.

[2019-07-02 10:25] reinhart1010 commented on #2115
@tpine and in the meantime I can't close each Google Groups threads the same way as BMO and GitHub. It's quite annoying since people there are likely to open duplicate threads, wanting/listing the same issue as one described here.

[2019-07-02 10:36] pocmo opened #3846 "Tabs tray: Use icon from Session and observe changes"
Follow-up from the "missing icons" investigation here: https://github.com/mozilla-mobile/android-components/issues/3294

One reason (there are others to fix in AC) for icons not showing up in the tabs tray is that Fenix is not using the icon from `Session` if it is available. Also since they are loaded asynchronously Fenix should observe Session icon changes to display the icon in cases where the

[2019-07-02 12:48] sv-ohorvath commented on #87
FYI: The 3rd party apps like LastPass and Bitwarden won't work with the new Nightly package name (org.mozilla.fenix.nightly). The PlayStore version the (public release version) works now with both.

[2019-07-02 13:24] S-AMIRI commented on #3763
Thank you somuch @Delphine and @kbrosnan

[2019-07-02 13:47] Steffo99 commented on #3836
@kbrosnan It's not a duplicate. No intent urls are involved here...

[2019-07-02 13:56] #993 closed

[2019-07-02 13:58] mheubusch commented on #3268
@AmyYLee can you review and approve this approach? If you are ok with it can you remove the Needs UX label and add the Ready for Eng label?

[2019-07-02 14:00] #997 closed

[2019-07-02 14:01] #994 closed

[2019-07-02 14:01] #971 closed

[2019-07-02 14:18] mheubusch commented on #3355
@ekager and @colintheshots can you follow up with me at your leisure to let me know if you are using the material components or if you are custom building this - want to make sure our design team's expectations are aligned with how things are built so we can be sure we spec components correctly in the future.

[2019-07-02 14:23] colintheshots opened #3847 "[Bug] ANR loading search engines in certain situations"
## Steps to reproduce
There's no clear steps to reproduce. Lazily loading search engines on the default dispatcher is resulting in a deadlock as the thread pool may already be busy. This leads to an Application Not Responding situation and a possible error dialog from the OS. On newer devices, ANRs can appear as a crash or cause the OS to recommend uninstalling.

### Expected behavior
Loading sear

[2019-07-02 14:23] softvision-miralobontiu commented on #3834
Verified that the app doesn't crash when share-ing from History.
Tested with the latest build 1.0.1926 (#11790618) with HTC Desire 820 (Android 6.0.1), Google Pixel (Android Q), and Motorola Moto G6 (Android 8).

[2019-07-02 14:23] #3834 closed

[2019-07-02 14:31] softvision-miralobontiu commented on #3547
It is not fixed on HTC Desire 820 (Android 6.0.1). Tested on 7/2 build.

![Screenshot_20190702-172130](https://user-images.githubusercontent.com/40694158/60521035-26961e80-9cef-11e9-8c31-b0120bd0087f.png)

[2019-07-02 14:35] softvision-miralobontiu commented on #3427
Verified as fixed on the latest build 7/2 with HTC Desire 820 (Android 6.0.1), Google Pixel (Android Q), and Motorola Moto G6 (Android 8).

[2019-07-02 14:36] colintheshots commented on #3847
Lesson learned: Always make sure you or the library method you're using specifies a dispatcher when using Kotlin Coroutines. The default dispatcher is almost always the wrong answer. I believe the default thread pool size still equals # of CPUs plus one. Using the default dispatcher when the IO dispatcher is needed will result in deadlocks, livelocks, and ANRs which only appear on cheaper devices

[2019-07-02 14:36] ranpel opened #3848 "[Bug] Browser causes the device to run hot under certain circumstances"
## Steps to reproduce
Use it.
### Expected behavior
Ability to browse AND hold the handset.
### Actual behavior
After about 5 minutes of usage my handset was rapidly approaching too hot too hold.  I've had the device for almost six years and it has never gotten this hot.  The only thing that I can recall that makes it noticeably warmer is using the led light for extended periods.
### Device inform

[2019-07-02 14:46] softvision-miralobontiu opened #3849 "[Bug] No space between the search bar and the "Open tabs" section"
## Steps to reproduce
1. Open a few tabs (3-4).
2. From Homescreen, scroll down and observe the "Open tabs" section.

### Expected behavior
There should be a space between the search bar and the "Open tabs" section.

### Actual behavior
There is no space between the search bar and the "Open tabs" section.

### Device information
* Android device: Motorola Moto G6 (Android 8)
* Fenix version: 1.0.1

[2019-07-02 14:47] cronosun opened #3850 "Consider reordering toolbar items"
### Why/User Benefit/User Problem

Over the last few years phones got bigger and bigger. It's hard to reach items in the top of the screen and on the right side of the screen. I appreciate placing the toolbar to the bottom, that's nice. I think you should also reorder the items in the toolbar a bit: things we don't use often should be moved to the right, things we use often should be moved to the

[2019-07-02 14:48] colintheshots commented on #2945
Lesson learned: Always make sure you or the library method you're using specifies a dispatcher when using Kotlin Coroutines. The default dispatcher is almost always the wrong answer. I believe the default thread pool size still equals # of CPUs plus one. Using the default dispatcher when the IO dispatcher is needed will result in deadlocks, livelocks, and ANRs which only appear on cheaper devices

[2019-07-02 14:49] colintheshots commented on #3847
Duplicate of #2945.

[2019-07-02 14:49] #3847 closed

[2019-07-02 14:59] cadeyrn commented on #3850
I vote **against** your proposal. And the funny part is: Your image with the arrows and the "important things" / "less important things" shows why it shouldn't be changed in my opinion. 😉

The current implementation allows me to open the menu, reload the website and switch to the start screen with only one hand. With your proposal I would need two hands. And all of these features are more importan

[2019-07-02 15:07] colintheshots opened #3851 "[Bug] Frequent ANRs "Input dispatching timed out""
## Steps to reproduce
No known steps to reproduce yet. This may happen on page loads sometimes.

### Expected behavior
App handles page loads without Application Not Responding errors.

### Actual behavior
Sometimes page loads will result in Application Not Responding errors with various, but similar stack traces including "Input Dispatching timed out."

Here's a sample trace:
[code]

### Device i

[2019-07-02 15:23] colintheshots commented on #3848
Could you provide us with any additional details to help the investigation? Were you watching videos? Playing javascript web games? What kinds of activities resulted in the phone getting hot?

[2019-07-02 15:23] snorp commented on #3223
See the following for how Fennec handles these

https://searchfox.org/mozilla-central/source/mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/IntentUtils.java#188

[2019-07-02 15:38] cronosun opened #3852 "Menu and quick action sheet"
## Why/User Benefit/User Problem

This issue handles several minor UX issues that are a bit related:

 * I don't see the benefit of the quick action sheet.
 * Small usable screen estate.

### Small usable screen estate

When comparing Fenix to Chrome there's much less usable ("website") screen estate:

#### Fenix

![fenix_plain](https://user-images.githubusercontent.com/13786782/60524529-05ccc980-

[2019-07-02 15:38] AaronMT commented on #3842
@Delphine can you provide @divya21raj with contribution information?

[2019-07-02 15:43] ranpel commented on #3848
Hi,

Oh, I didn't realize the report went through as I got a permissions error
when I clicked submit.

Actually, I was only browsing a few random sites while checking it out.
Nothing like vids, just regular old pics, texts and pages with adverts.
Just browsing.

I probably had up to three or four tabs open - I don't recall specific
sites but a couple were pretty heavily laden with adverts.  I was

[2019-07-02 16:05] ekager commented on #3355
We generally use built in Android components / Material components when available (notable exception is the toolbar which is a custom view built in AC)

[2019-07-02 16:09] rubcap commented on #3850
@cronosun, I assume you are left-handed, because as a right-hand person, your proposal is the opposite of what I find convenient.

Maybe you should change the title to "Inverse toolbar ordering for left-handed"?

[2019-07-02 16:45] AmyYLee commented on #3268
This looks good to me. @mheubusch

[2019-07-02 16:46] bifleming commented on #3520
@vladikoff do you have an issue filed in Bugzilla for this?  Can we close this one?

[2019-07-02 16:50] sblatz commented on #2867
The engineering work on this is blocked on a UX decision since it's currently working as intended. Please remove the blocked flag when it's ready for engineering.

[2019-07-02 16:51] edwintorok opened #3853 "Firefox Preview: confusing ways to create new bookmarks"
## Steps to reproduce

Open a site, try to add a bookmark for it such that it shows up in your library and on other synchronized devices (e.g. your desktop).
This is a crucial part of my day-to-day usage (bookmarking interesting/important pages to be read later that works the same accross all devices, i.e. bookmarks)

### Expected behavior

I have something to click/tap/swipe that adds the current

[2019-07-02 16:55] vesta0 commented on #2579
Thanks for reporting this @nikoloskid could you provide steps to reproduce? Are you downloading from a authenticated site (requiring login)?

[2019-07-02 16:59] edwintorok opened #3855 "[Bug] missing a way to exit a private browsing session"
## Steps to reproduce

Open 'Firefox Preview' and tap the private browsing mask icon at the top.
Get a message that says "Firefox Preview clears your search and browsing history when you close your private session"

### Expected behavior

Have a button to close the private session, like Firefox Focus did.
Albeit it was sometimes in inconvenient positions and I tapped on it by accident when I actua

[2019-07-02 17:06] sblatz commented on #3855
@edwintorok to clarify: you can press the private browsing button again to move to normal browsing. You can also tap the three dot menu and press "close all tabs".

We used to have a "delete session" button that would close all tabs too, but removed it. Are you wanting something like this?

[2019-07-02 17:09] sblatz commented on #113
@vesta0 can we close this? This feature is implemented.

[2019-07-02 17:13] edwintorok commented on #3855
Thanks for the suggestion about 'close all tabs' that worked (click on the [[1]] number of tabs, then hamburger menu and then close tabs).

Up to you whether you could make that easier to reach, but please document how to do this in the message that gets displayed when you enter private browsing mode.
Having a 'delete session'/close session button would work for me.

Entering normal browsing mode

[2019-07-02 17:18] vladikoff commented on #3520
@bifleming filed in https://github.com/mozilla/fxa/issues/1657

feel free to close this one 👍

[2019-07-02 17:21] colintheshots commented on #2945
This probably should have been an MVP blocker. I didn't realize this wasn't a single device issue.

[2019-07-02 17:27] vesta0 commented on #3624
Will be addressed in #2809

[2019-07-02 17:27] #3624 closed

[2019-07-02 17:40] cpeterso commented on #87
@vesta0 and @sarentz - We should ask LastPass and Bitwarden (and others?) to whitelist our pre-release package names (`org.mozilla.fenix.nightly` and `org.mozilla.fenix.beta`?) and Reference Browser. Who do you recommend reaches out to these third-party password managers?

When we asked Google to whitelist Fenix for Android WebAuthn, we gave them Fenix's pre-release package names.

[2019-07-02 17:44] ekager commented on #3237
@ryanfeeley are these updated mocks? Do you have an invision link you could share with me for some sizing? Currently we are hiding the scan/camera setting when the device doesn't have a camera available. How will these mocks deal with that case?

[2019-07-02 17:57] sblatz commented on #2109
Some investigation shows this applies to *all* files including things like PDFs, so it's not specific to APKs.

[2019-07-02 18:11] ekager commented on #2644
Will be outdated by implementing #3237

[2019-07-02 18:33] mitchhentges commented on #3315
Fixed by #3742

[2019-07-02 18:45] jeanygong commented on #1241
Chris, as part of the QF triage process the reporter who filed the bug should provide the profile as well.  This would better help the QF team triage the issue better.  Can we use the same process here in github for performance issues?

[2019-07-02 19:19] mheubusch commented on #3105
User research shows that the chips are very small touch targets and it was an deliberate decision to not use them.  We recommended two affordances: the first one (once a user starts to  scroll, the keyboard disappears) is implemented and the second  one (interleaving search suggestions and prioritizing top hits) is dependent on GV, I think. @vesta0 do you want to won't fix  this or put on the back

[2019-07-02 19:21] mheubusch commented on #3651
@apbitner Assigning to you to consider while you look at nav.

[2019-07-02 19:32] cpeterso commented on #2070
Can anyone still reproduce this Bloomberg video bug?

I had previously been able to reproduce it in Focus 8.0.9, Fennec 68 Beta, Fennec 69 Nightly, and Fenix.

I can still reproduce in Focus 8.0.15, but not in Fennec 68 Beta, Fennec 69 Nightly, or Fenix. Since this works in Fennec and Fenix now, can close this bug as WORKSFORME?

[2019-07-02 19:36] #97 closed

[2019-07-02 19:43] mheubusch commented on #2995
@apbitner wondering if we can reopen the conversation about how to allow users to access onboarding after first run.

[2019-07-02 19:45] mheubusch commented on #2906
@AmyYLee for your consideration as you design ETP.

[2019-07-02 19:54] mheubusch commented on #2429
@vesta0 @ekager this seems like an engineering implementation request Not sure why UX is  needed. Please clarify

[2019-07-02 19:55] AmyYLee commented on #2792
Assigning this to @topotropic a since she had worked on bookmarks.

[2019-07-02 19:55] st3fan opened #3858 "Update to A-C 0.56.6"
Update to A-C 0.56.6 - This is the release what will contain the fixes for the token caching.

 * https://github.com/mozilla-mobile/android-components/pull/3579

This release does not exist yet.

[2019-07-02 19:58] AmyYLee commented on #1949
Assigning to @topotropic since she worked on bookmarks.

[2019-07-02 19:58] mheubusch commented on #712
@AmyYLee I know we've talked about this and  the issue of solving for light theme introduces issues for dark theme.   can you weigh  in on this?

[2019-07-02 20:02] mheubusch commented on #3852
@apbitner for your consideration  as you look at QAB

[2019-07-02 20:03] vesta0 commented on #2109
@sblatz is this issue specific to some devices or Android versions? It works for me.

[2019-07-02 20:04] mheubusch commented on #3850
@apbitner please consider as you explore navigation bar.

[2019-07-02 20:07] mheubusch commented on #3831
@topotropic for your consideration

[2019-07-02 20:10] mheubusch commented on #3819
@vesta0 per Kevin's feedback I recommend we close. Are you ok with that?

[2019-07-02 20:11] mheubusch commented on #3806
@AmyYLee please verify the QAB appears as designed. if so please close this issue.

[2019-07-02 20:14] AmyYLee commented on #3806
@topotropic Can you confirm?

[2019-07-02 20:14] mheubusch commented on #3768
@topotropic can you review emily's update and if the sensitivity is as you expect, please close this  issue.

[2019-07-02 20:15] mheubusch commented on #3752
@topotropic as you review collections please review this and respond or close as appropriate.

[2019-07-02 20:28] cronosun commented on #3850
@rubcap  : My right hand is the dominant hand (the "writing" hand; the "mouse" hand); But I hold my phone in the left hand (like 57% according to the linked study) and use the thumb to navigate / touch (the phone is too wide to reach to outer right edge - to reach the outer right edge I need the second hand - the right one).

Study: [https://tristandenyer.com/work/user-research-people-hold-interac

[2019-07-02 20:29] yoasif commented on #3768
@ekager's update was just reverting the already problematic swipe sensitivity. That was less bad than before the revert, but it isn't "fixed" yet.

[2019-07-02 20:30] colintheshots commented on #3818
Fixed by https://github.com/mozilla-mobile/fenix/pull/3786

[2019-07-02 20:31] yoasif commented on #3852
Personally not a fan of the two column layout, but I do think it'd be nice to disable QAB and have the items in menus.

[2019-07-02 20:36] mheubusch commented on #3715
@AmyYLee please review and close if border radii are as designed.

[2019-07-02 20:48] ekager commented on #3450
Do we know how we want to do this? Will there be a SUMO page like our other Settings links?

[2019-07-02 20:53] cpeterso commented on #1241
Sure.

@mcomella - Can you please record a profile of the page load pause using the Gecko Profiler or an Android profiler?

[2019-07-02 21:05] kostrse commented on #812
Right now it's impossible to download an mp3 file from a link on web page.

The only option is to open it in the embedded player. There's no option in the popup menu to save it as a file.

[2019-07-02 21:21] sblatz commented on #2109
I'm seeing this on my Galaxy S9 on 9.0.0. @vesta0 do all files open normally on your Pixel?

[2019-07-02 21:36] vesta0 commented on #87
@cpeterso the package name is the same right now between prod and nightly so it might be a different problem. @st3fan what do you think?

I can reach out to them once we set up our separate nightly and beta channels.

[2019-07-02 21:56] vesta0 commented on #2867
I agree that this is working as intended. Will leave it to UX to comment or close.

[2019-07-02 21:58] ARZUMATA commented on #3761
No I didn't I just got it from Google Play.
I'll try to build and see how it behaves.

The Beta 1.0.1926 runs well though.

[2019-07-02 22:04] vesta0 commented on #2109
@sblatz I haven't tried all file types but APKs and PDFs work as long as they are not on a page requiring authentication.

[2019-07-02 22:07] colintheshots commented on #3851
I believe this ANR is also fixed by PR#3854. The stack trace is different, but it has the same root cause.

[2019-07-02 22:18] vesta0 commented on #3105
@mheubusch this should go on the backlog as it's impacting awesomebar usability.

For the GV dependent item, do we have a bug filed?

[2019-07-02 22:20] vesta0 commented on #2429
@mheubusch you are right, not sure why that label was added initially. @ekager let us know if you are blocked on anything.

[2019-07-02 22:25] #3819 closed

[2019-07-02 22:31] ekager commented on #2429
I'm going to close this because I've been using Android Q gestures and don't think anything will conflict currently. Something to keep in mind for further gesture work though.

[2019-07-02 23:02] vesta0 opened #3859 "Add Ecosia as search provider"
### Why/User Benefit/User Problem
As a user I'd like to set Ecosia as my default search engine, so I can have more choice.

### What/Requirements
Ecosia is available as a search provider on Desktop.

### Acceptance Criteria (how do I know when I’m done?)
I can set Ecosia as my default search provider on Fenix.

[2019-07-02 23:05] vesta0 commented on #3768
Will be addressed in #3770

[2019-07-02 23:05] #3768 closed

[2019-07-02 23:11] vesta0 opened #3860 "Add empty state text for Description of Collections"
### Why/User Benefit/User Problem
As a new user who isn't familiar with Collections, I want to have some explanation of what they are on the homescreen or during onboarding, so I can feel more inclined to try them out.

### What/Requirements
Strings + UX placement

### Acceptance Criteria (how do I know when I’m done?)
I can easily understand what Collections are without having to navigate to the

[2019-07-02 23:35] Delphine commented on #3842
This project is not open yet to more localizations. Localization will happen on [Pontoon](https://pontoon.mozilla.org/projects/android-l10n/), and I will be sending out a message on the [Dev.l10n mailing list](https://lists.mozilla.org/listinfo/dev-l10n) this week about how to proceed.
In the meantime, you can get in touch with the existing Hindi localization community, by reaching out to [the man

[2019-07-02 23:35] #3842 closed

[2019-07-02 23:36] mcomella commented on #1241
Two thoughts:
- This is a user experience issue, not strictly a performance issue: is a profile still useful?
- I can't reproduce this reliably (I was in an elevator)

@cpeterso Given these two items, do you think it's best for me to produce a profile? I feel like the optimal use of everyone's time would be for someone on the GV team to reproduce, identify the user experience issues, and fix them,

[2019-07-02 23:56] nahuhh opened #3861 "share menu improvements"
### Why/User Benefit/User Problem
The share menu looks nice and (on my device) is faster to load than the built in share menu.
My main issue with the menu is the 2 row, horizontal view.
Seems that the items in there are sorted randomly and hard to find.

### What/Requirements
Either
A)
- keep the 2 row layout
- add a search bar to the card
- launch "share" with the keyboard open and the search bar

[2019-07-03 01:22] kbrosnan commented on #3859
All languages? The other path forward is #1437

[2019-07-03 01:47] tpine commented on #2115
@reinhart1010 I'm sorry if my comment came off a bit cold I've been sick the last week but could I make a suggestion?

Most users now are going to be using the more mainstream options for non core collaborators so it might make sense to mark duplicates on the Google groups side instead of the publicly accessible issue boards.

[2019-07-03 01:55] kostrse commented on #1481
This should be implemented into the core browser design.

The "private tab" is just a subset of the "container" feature, that container just not permanent.
It would be great if all internet surfing would be in always in containers by design, one of them would be just "default". So, deleting cookies/data would be just deleting one container (e.g. the default one) and making another.

[2019-07-03 03:10] SeriousHoax commented on #3855
Hopefully this will solve another issue too. After using private mode and closing tabs if the app is closed by tapping back button then the next time it's open, it still remains in private window. Even if it's closed from the recent app menu the result is still the same.
The expected behavior should be to open normal browsing window similar to the current Firefox.

[2019-07-03 03:41] vesta0 commented on #3859
Sounds good! Will address this in #1437

[2019-07-03 03:41] #3859 closed

[2019-07-03 04:20] vesta0 commented on #961
This has been implemented.

[2019-07-03 04:20] #961 closed

[2019-07-03 04:21] vesta0 commented on #217
@bifleming and @sarentz can we close this meta and the issues listed under it?

[2019-07-03 04:22] vesta0 commented on #105
All issues listed under this meta have been implemented.

[2019-07-03 04:23] vesta0 commented on #242
@mheubusch can we close this meta and track any redesign in a new issue?

[2019-07-03 04:24] vesta0 commented on #1102
@mheubusch I believe this can be closed?

[2019-07-03 04:26] vesta0 commented on #222
All issues listed under this meta have been implemented.

[2019-07-03 04:27] vesta0 commented on #175
@mheubusch please advise if this UX meta can be closed.

[2019-07-03 04:27] vesta0 commented on #918
All issues listed under this meta have been implemented.

[2019-07-03 04:27] #918 closed

[2019-07-03 04:31] vesta0 commented on #179
@apbitner can we close this?

[2019-07-03 04:31] vesta0 commented on #110
I believe this can now be closed.

[2019-07-03 04:32] vesta0 commented on #101
All issues listed under this meta have been implemented.

[2019-07-03 04:34] vesta0 commented on #980
@mheubusch can we close this issue? Any enhancements can be tracked in a new issue.

[2019-07-03 04:53] cpeterso commented on #1241
I think a Gecko profile would be helpful if the problem was reproducible. The Gecko profile includes details about Gecko's rendering and networking, so we can what code is busy or if we're waiting for some data.

Without reliable STR, we would just be profiling regular page loads (which we do already, though I don't know if we test low-bandwidth network connections).

@ecsmyth - How fast is the ne

[2019-07-03 04:56] vesta0 commented on #3450
@ekager I was thinking of something like [this](https://www.mozilla.org/en-US/firefox/android/67.0.3/releasenotes/) but not sure how we go about setting that up. @mheubusch would know :)

[2019-07-03 04:57] NatoBoram commented on #1284
Third-party password managers or autofills don't work in Android pre-Oreo.

[2019-07-03 05:02] vesta0 commented on #1088
@sblatz according to this [bug]([url](https://bugzilla.mozilla.org/show_bug.cgi?id=1506957)) we may not need GV work. Could you please investigate?

[2019-07-03 05:05] vesta0 commented on #1289
@AmyYLee is this ready for eng or being re-evaluated?

[2019-07-03 05:36] vesta0 commented on #3717
@mheubusch @apbitner  can we have strings and updated designs for this?

[2019-07-03 05:55] kbrosnan commented on #3855
Private browsing persisting state is intentional currently.

[2019-07-03 07:01] blokeley opened #3862 "[Bug] keep URL bar position consistent"
## Steps to reproduce

When reading a web page, the URL bar is at the bottom of the screen, which is probably deliberate and sensible given that the user's thumb can reach the bottom of the screen easier than the top on most mobile devices.

However, when Firefox Preview is opened or on a new tab, the URL bar is in the middle of the page.

When the user focuses on the URL bar, it zooms up to the t

[2019-07-03 07:19] cadeyrn commented on #3862
The user experience from Chrome is totally different so it's inappropriate to argue with "just because Chrome does it Mozilla shouldn't do this". The behaviour of Fenix has nothing to do with Chrome at all…

FWIW I like the toolbar at the bottom and movement to the top when I enter something into the address bar because it makes sense. It would be confusing for me to have the suggestions above the

[2019-07-03 07:32] cadeyrn commented on #3850
To be honest I don't believe that these numbers are representative. It's based on a survey (why there is no number of asked people?) and it doesn't match my experience at all. It's known that there are much more right-handed people in the world and I've never seen someone right-handing holding the phone in the left. While it's possible and I am sure that these people exist I can't believe the "57

[2019-07-03 08:02] mikeGolf08 opened #3863 "[Bug] No awesomebar completion after updating"
## Steps to reproduce

1. Update Fenix
2. Open Fenix and **select omnibox**
3. **Write the first letters of one of your bookmarks**

### Expected behavior

**Fenix shows a completion** based on my typed chars and bookmarks:
iex. Typing "**git**" for GitHub and the **auto completion suggests "github.com"**

### Actual behavior

Fenix isn't showing a completion **unless I clear app and cached data.*

[2019-07-03 08:05] emilio opened #3864 "[Bug] Fenix doesn't get listed as an option to open html files"
## Steps to reproduce

Try to open an html file on android, from an email attachment for example.

### Expected behavior

Fenix can be used to view the attachment and is listed, since it's my default browser.

### Actual behavior

Fenix is not listed and i cannot view the attachment for it.

### Device information

* Android device: Galaxy A20
* Fenix version: 1.0.1926 (Build #11790618 🦎 68.0-2019

[2019-07-03 08:06] softvision-miralobontiu commented on #1767
I will reopen this issue as I am still able to reproduce it with the latest build 7/3 with Samsung Galaxy S8 (Android 9).

[2019-07-03 08:21] softvision-miralobontiu commented on #3551
Verified as fixed on the latest Nightly build #11840608 with Samsung Galaxy S8 (Android 9), HTC Desire 820 (Android 6.0.1), and Huawei Honor 8 (Android 7).

[2019-07-03 08:30] pocmo commented on #3858
@st3fan As per https://github.com/mozilla-mobile/android-components/pull/3631 and https://github.com/mozilla-mobile/android-components/issues/3630 I assume we want to include AS 0.31.1 into 0.56.6 too, right? :)

[2019-07-03 08:36] pocmo commented on #3858
Preparing the release on AC side here:
https://github.com/mozilla-mobile/android-components/issues/3632

[2019-07-03 08:37] softvision-miralobontiu commented on #3364
@colin, I'm not sure how the correct bookmark tree should look like.
On the latest Nightly build (#11840608), the Bookmarks section has no desktop folders:

![Screenshot_20190703-113256_Firefox Preview](https://user-images.githubusercontent.com/40694158/60576727-9e635800-9d86-11e9-8a7a-bae7373a4086.jpg)

Is this expected?
I will remove the QA needed flag until I'm sure.

[2019-07-03 08:50] sv-ohorvath commented on #2070
Same here. Tried with a Pixel 3, Galaxy S8 (Android 9) & Pixel (Android Q).

[2019-07-03 08:50] softvision-miralobontiu commented on #3426
Verified as fixed on the latest Nightly build (#11840608) with HTC Desire 820 (Android 6,0,1), and Samsung Galaxy S8 (Android 9).

[2019-07-03 09:08] softvision-miralobontiu commented on #3750
Verified with the latest Nightly build (#11840608) with Samsung Galaxy S8 (Android 9), and Google Pixel 3 (Android 9) - the app didn't crash.

[2019-07-03 09:08] #3750 closed

[2019-07-03 09:15] sv-ohorvath commented on #2054
Verified as fixed on the latest Nightly 190703 (7/3 build).
Devices: Pixel 3 (Android 9), Nexus 5 (Android 6)

[2019-07-03 09:21] cronosun commented on #3852
Sounds like a good solution to me.

[2019-07-03 09:26] cadeyrn commented on #3852
Please note that the QAB can contain more items than only "Share" and "Bookmark". For pages with reading mode available there is also the reader mode access in the QAB and early mockups showed two more items which are not yet implemented in Fenix 1.0.0 but could be implemented later (Screenshot and Download).

[2019-07-03 09:32] cronosun commented on #3850
@cadeyrn

I agree. The proposed reordering should be optional: for example on a smaller phone like the 5.8" Xiaomi MI A2 Lite the current toolbar layout is more convenient.

I tried several other browsers like Chrome, Opera, Samsung Internet, Edge and the Xiaomi Browser: All those browser AFAIK have about the same toolbar layout as the current version of Fenix. But: They can't be compared to Fenix

[2019-07-03 09:34] softvision-miralobontiu commented on #2002
This is fixed on the latest Nightly build ((#11840608).
Verified with Google Pixel (Android Q), Google Pixel 3 (Android 9), Samsung Galaxy S8 (Android 9).

[2019-07-03 09:36] AndiAJ commented on #733
Hi, the issue is still replicating on the latest Fenix Build **`#11840608 from 2019-07-03`** using the following devices:
• OnePlus6T (Android 9)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

►Video from OnePlus6T
![OnePlus](https://user-images.githubusercontent.com/51314259/60580896-8b548600-9d8e-11e9-91e2-da9162005e90.gif)

Moreover, I've

[2019-07-03 10:03] abodea commented on #1919
Verified as fixed on the latest build from **`7/3 with Samsung Galaxy Note 9(Android 8.1.0).`**
The google Icon is displayed accordingly.

[2019-07-03 10:07] AndiAJ commented on #2094
Hi, the issue is still replicating on the latest Fenix Build #11840608 from 2019-07-03 using the following devices:
• OnePlus6T (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

►Video from OnePlus6T
![20190703_125218](https://user-images.githubusercontent.com/51314259/60583046-a4f7cc80-9d92-11e9-8bb

[2019-07-03 10:14] cronosun commented on #3852
@cadeyrn

Also move them into the menu when the QAB is disabled.

Or another solution: (Optionally) Merge the QAB and the menu; would look like this:

![integrated](https://user-images.githubusercontent.com/13786782/60583844-0a948a80-9d8c-11e9-822a-06acdd2b32be.png)

[2019-07-03 10:16] andreicristianpetcu commented on #2109
This also happens on my [OnePlus 5](https://github.com/mozilla-mobile/fenix/issues/2283). I cannot install Fenix by downloading the Fenix APK with Fenix. Maybe listing the phones/OSes here that have the issue, helps understanding it.

[2019-07-03 10:19] pocmo commented on #1088
Yes, we have a "media"-related AC board here:
https://github.com/orgs/mozilla-mobile/projects/26

[2019-07-03 10:50] cadeyrn commented on #3736
That's #1437.

[2019-07-03 10:53] cadeyrn commented on #3745
I don't have a problem with detecting a Firefox login and prefilling the login fields in Fenix. But an automatic login should never happen without user consent.

[2019-07-03 11:03] cadeyrn commented on #201
In my opinion: yes. Or the text label has to be changed to include the browser name.

I disagree. I don't see this as clutter and the app icon has nothing to do with the search widget so this isn't a reason to remove the icon from the search widget. It has to be clear what happens if I use the widget. Also I have more than one browser installed, including three Firefox and two Fenix builds, all wi

[2019-07-03 11:44] pocmo opened #3865 "Use separate app name and icon for Nightly build"
For our actual Nightly build (`org.mozilla.fenix.nightly`) we should use a separate app name (`Firefox Preview Nightly`?) and icon (It looks like we already use a "nightly" icon for our local builds?).

[2019-07-03 12:01] sv-ohorvath commented on #2945
I only have a Nexus 9 tablet on which this was happening. It looks like it's fixed for me on the 7/3 nightly build. @kbrosnan could you confirm this too on your Nexus?

[2019-07-03 12:02] sv-ohorvath commented on #3421
dupe and fixed on #2945.

[2019-07-03 12:36] abodea opened #3867 "Add functionality to delete multiple "Collections""
### Why/User Benefit/User Problem
As a user I want to be able to select more collections and delete them with 1 tap.
### What/Requirements
Adding functionality for `Collections` to be selected after long tap on a collection and then to be selected and eventually deleted.
### Acceptance Criteria (how do I know when I’m done?)
When more  `Collection`  can be selected and deleted at the same time.

[2019-07-03 12:37] reinhart1010 commented on #2115
In those posts I commented

instead of

I think it's better to change the issue comment here from:

to

to avoid confusion.

For those of you who interact with r/firefox (Reddit), Mozilla Discourse, Telegram, and other forums I personally suggest to refer to respective GitHub issues (mozilla-mobile/fenix, webcompat/web-bugs, mozilla/GeckoView) and append SeeAlso text similar to the ones in bugzill

[2019-07-03 13:55] sv-ohorvath commented on #3851
Checked this on a Nexus 9 tablet (Android 7.1.1) after #2945.
I got the ANR error on this webpage, after ~2hrs of browsing: https://edition.cnn.com/2019/05/08/asia/uyghur-xinjiang-china-kashgar-intl/index.html
[logcat](https://github.com/mozilla-mobile/fenix/files/3355289/ANR.txt)

build: Nightly 190703 (#11840608)

[2019-07-03 13:59] AndiAJ commented on #3174
Hi, for deleting **only one folder** the problem is **verified as fixed** on the latest **`Fenix Build #11840608 from 2019-07-03`** using the following devices:
• OnePlus6T (Android 9) (Ping **97630faf-680f-4f0f-93e8-866c7af11cc7** from the logcat)
• Samsung Galaxy S8+ (Android 8) (Ping **0decdb64-18cc-4ace-8e3a-6782cf2bc594** from the logcat)
• Samsung Galaxy S7 (Android 7.0) (Ping **9efedc65-b0d

[2019-07-03 14:11] pocmo commented on #2551
https://github.com/orgs/mozilla-mobile/projects/26

[2019-07-03 14:13] techexo commented on #3465
I can confirm this issue on my Oneplus3t Android 9 (LOS 16) phone.

My phone was vibrating without displaying any notification. I installed a notification logger and it showed me that download notifications were indeed generated by Firefox Preview, but were not persistent (i.e. there is no way for the user to see it).

There might be an issue with the time of display? Please don't hesitate to ask

[2019-07-03 14:34] boek opened #3869 "[Bug] Fenix not setting default search engine properly"
## Steps to reproduce
Set locale to RU or CN

### Expected behavior
Default search engine is not Google

### Actual behavior
Default search engine is Google

### Device information
any

[2019-07-03 15:37] ryanfeeley commented on #3237
@ekager I'm working on un-descoping the Invision doc but the "Use email instead" is intended for users without a camera. It goes to the Sync email-first screen (which precedes login or registration).

[2019-07-03 15:50] sblatz commented on #2094
Oh weird. This is only reproducible on nightly builds but not on debug ones. I'll investigate this more.

[2019-07-03 15:54] sblatz commented on #733
@AndiAJ Are you able to test again off the latest master? I just tested on the nightly build on my device (Galaxy S9) and cannot reproduce either of these issues.

(Nightly 190703)

[2019-07-03 15:57] ekager opened #3871 "Provide users a way to close the current tab and switch to next selected tab without going home"
### Why/User Benefit/User Problem
When a user is browsing, sometimes you want to close your current tab and see the last selected tab without going to home -> close -> open tab

### What/Requirements
A one or two tap action to close tab while browsing

### Acceptance Criteria (how do I know when I’m done?)

[2019-07-03 16:03] cpeterso commented on #3631
I'm closing this feature request because @Dexterp37 recommends that Fenix wait for GV to expose the Glean metrics API instead of implementing this temporary solution using GV's old Gecko telemetry API.

[2019-07-03 16:03] #3631 closed

[2019-07-03 16:35] ekager commented on #3201
I think we'll just have to add `updateBookmarkState(session)` to `onSessionSelected()`. @colintheshots are you still on this one?

[2019-07-03 16:38] ekager commented on #3639
I'm unassigning myself until @snorp / GV tells me to do something differently. The current state of Fenix is fontInflation is not enabled at any time. If you want us to change that, ping me!

[2019-07-03 16:52] AmyYLee commented on #2210
@sblatz These look good to me. Thanks!

[2019-07-03 16:55] AmyYLee commented on #2357
@sblatz please take a look at the video as a guide for updating https://cl.ly/4b8ee336c0db

[2019-07-03 17:07] ekager commented on #3554
Sorry @topotropic just assigning you so you see this! :)

[2019-07-03 17:29] AmyYLee commented on #3715
@sblatz Can you confirm if the boarder radius is 8pt? if it is, please leave it as such as this is the same radius as our tab cards. We should keep the radius consistent throughout the app. Thanks.

[2019-07-03 17:40] ekager commented on #3715
The radius was not 8dp. Updating now

[2019-07-03 17:41] sblatz commented on #2067
This should be fixed in the latest nightly due to an AC change.

[2019-07-03 17:42] sblatz commented on #3488
I'm going to close this as it's actually in conflict with https://github.com/mozilla-mobile/fenix/issues/2067 which seems like the correct UX (we should persist information)

[2019-07-03 17:51] sblatz commented on #3174
This seems fine to me, but @vesta0 can you confirm?

[2019-07-03 18:14] ekager commented on #3715
Updated the menu corner radius, closing this

[2019-07-03 18:14] #3715 closed

[2019-07-03 18:33] ekager commented on #3237
@ryanfeeley , sorry I'm not sure I 100% understand. You mean users without a camera wouldn't even see this screen? It would just put them right to email sign in?

[2019-07-03 18:40] robmv opened #3876 "[Bug] The Share/Bookmark drawer near the url bar hinder scrolling"
## Steps to reproduce

1. Take the phone with only one hand, position the hand so you can scroll and use the Android navigations buttons easily.
2. Scroll a long page up and down frequently. The Share/Bookmark is to easy to open and close when this scrolling action is being done.

### Expected behavior

Page scrolling should not be interrupted by the drawer opening and closing.

### Actual behavio

[2019-07-03 18:42] robmv commented on #3715
Thanks everyone involved, with this fixed, adding my next UI related issue

[2019-07-03 18:53] robmv commented on #2115
UI behaviour options aren't always good, It adds to much complexity to have all those different UI layouts. I think a good URL bar should be first objective, be it at the bottom or at the top. IMHO the current bottom implementation is not better than the simplest one on the top. Let me add my pet peeves:

- Reduce the useful area the user have for scrolling single handed (#3876)
- There isn't curr

[2019-07-03 18:58] ekager commented on #3236
@vesta0 I don't think this is blocked? If it's just removing that line with no string substitute we can do that now

[2019-07-03 19:00] vladikoff commented on #3236
if @mheubusch agrees on this, then let's do it!

[2019-07-03 19:08] yoasif opened #3877 "[Bug] Logged out of Sync (second time)"
## Steps to reproduce

No idea how to reproduce.

I have been running Fenix nightlies for months now, and logged into sync pretty much as soon as it was available. I was logged out of sync a few weeks ago and logged back in (using username and password, not QR code).

Today, I noticed that I was once again logged out.

### Expected behavior

Sync should not log out.

### Actual behavior

Sync is l

[2019-07-03 19:09] vesta0 commented on #3174
@AndiAJ @sblatz this is sufficient, we like to know how often users interact with bookmark folders and delete them, don't need to track one vs multiple at this time. Thanks!

[2019-07-03 19:09] vladikoff commented on #3877
@yoasif have you been switching WiFi / network connectivity in any way?

[2019-07-03 19:13] topotropic commented on #3554
In bookmarks we keep the icons, so we should also keep them for history multi-select. Thanks!

[2019-07-03 19:15] ekager commented on #3554
Thanks!

[2019-07-03 19:20] sblatz commented on #2210
@AmyYLee Some more questions for you...

Is this a must? This isn't the easiest to implement and doesn't match how the rest of our links show up as grey.

Do we have a video animation somewhere for this?

[2019-07-03 19:20] vesta0 commented on #3236
I am good with removing it but I'd like to make sure @mheubusch is also ok with removing or whether she wants to re-word it. She has a high level overview of unified messaging across platforms.

[2019-07-03 19:22] cadeyrn commented on #2115
Why not? It was already implemented. It was temporary disabled for the MVP release but it's expected that the auto-hide behaviour will re-implemented.

It never distracted me.

single handed is a good argument - for the bottom bar. It makes it much easier to use the browser with only hand.

That's the only point I agree with.

[2019-07-03 19:25] mheubusch commented on #3236
We can remove it for now - the message was supposed to be part of the account sign in panel, but the design does not make this clear it is part of the message. I will ask @apbitner to  revisit if we do onboarding enhancements. Ok to remove and then close.

[2019-07-03 19:32] topotropic commented on #3806
The permission menus have 8dp border radius, some context menus don't (for example long press on image, or the download one) –  it would be great to add 8dp corner radius to be consistent.

The initial QAB design didn't have corner radius but I wouldn't mind to add 8dp top left and right – what do you think @AmyYLee?

[2019-07-03 19:39] sblatz commented on #2357
Here's a demo of the new behavior:
![demo 2019-07-03 12_37_23](https://user-images.githubusercontent.com/4400286/60620239-880dca00-9d8f-11e9-8d3e-f5ccb543ed2b.gif)

[2019-07-03 19:45] robmv commented on #2115
Good, will have to test it to make an opinion.

Do some user testing, don't have to tell them you are evaluating the bar location, just give them some pages and ask for them to scroll single handed, and count how many of them start the scroll gesture from the URL bar, and the current implementation doesn't detect a scroll from there, the Share/Bookmark drawer open gesture gets in the way (#3876).

[2019-07-03 19:55] sblatz opened #3879 "[Bug] Account preference has line above and below"
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/60621134-bd1b1c00-9d91-11e9-9031-b60a9ea8cc60.png">

It should match the other preferences that only have one right above the title of the category. That is, the first line should not be there.

[2019-07-03 19:58] sblatz opened #3880 "Add linting rule for adding a license"
We should have a linting rule that triggers if a new file does not include the Mozilla license.

[2019-07-03 20:01] sblatz commented on #1290
We removed this animation because there were crashes caused by the beta library we're using. Do we want to try adding back?

@ekager do we have any timeline on when this library may have those crashes fixed?

[2019-07-03 20:03] sblatz commented on #343
I'm throwing a QA needed label on this :)

[2019-07-03 20:05] sblatz commented on #2759
@jonalmeida do we have mocks for how this would look? Like a setting in the Settings Fragment?

[2019-07-03 20:06] sblatz commented on #2896
@AmyYLee can you help clarify what you mean by:

[2019-07-03 20:12] jonalmeida commented on #2759
This is an engineering task, not a feature, i.e. a send tab API to show the share sheet without the send tab bit (programmatically). A nice to have, no priority.