[2019-08-06 15:42] boek commented on #4528
@PopeRigby Thank you for the feedback. We’re actively thinking about how we want to improve the share sheet! I added this to the list on #4275 :)

Also tagging #2819

[2019-08-06 15:45] PopeRigby commented on #4528
No problem

[2019-08-06 15:46] boek commented on #4517
@cadeyrn Good catch!

[2019-08-06 15:48] boek commented on #4505
@grigoryk Is this something that needs to be fixed on the A-S side?

[2019-08-06 15:51] boek commented on #4497
Dup of #4500

[2019-08-06 15:51] #4497 closed

[2019-08-06 15:51] #4495 closed

[2019-08-06 15:51] lime124 commented on #955
removing ux label - this is already grouped with gestures.

[2019-08-06 15:54] apbitner commented on #4212
I'm good with that. @liuche can we update to the string @mheubusch provided above?

[2019-08-06 15:58] boek commented on #4457
@vesta0 How do you want us to surface these follow up tickets so we can get them into a sprint? :)

[2019-08-06 16:05] mitchhentges commented on #1724
I don't believe we have any beta releases yet. There's some `rc` ones, but if they haven't been made public, it's because the Fenix team is testing them internally. I don't believe that they would be published to a "beta" track.

Once we have "beta" releases, the beta track on Google Play will be set up.

FWIW, for users that want to test the latest Fenix features, they can use the Fenix Nightly r

[2019-08-06 16:13] ekager commented on #4485
I was able to reproduce this locally on older devices. They don't support gradients in their vector files to be set in XML? I think this should be fixed by https://github.com/mozilla-mobile/fenix/pull/4523 , but we should keep an eye on Sentry.

[2019-08-06 16:13] Edu4rdSHL commented on #1724
Where are the Fenix Nightly releases? Will be good to put that in the README.

[2019-08-06 16:17] ekager commented on #4532
It looks slightly different now?

[2019-08-06 16:17] sblatz commented on #3060
Loren confirmed that marketing wants to measure if a user has *all* of their sync preferences disabled or has ANY of them disabled.

[2019-08-06 16:18] thomcc commented on #4532
Ugh, this feels like a classloading issue introduced by the megazord changes.

[2019-08-06 16:20] mitchhentges commented on #1724
We're setting up a more official nightly soon, but we have a "private" nightly that's _definitely totally_ a secret that you can access by joining our [`fenix-nightly` Google Group](https://groups.google.com/forum/#!forum/fenix-nightly).

[2019-08-06 16:20] AmyYLee commented on #3262
We should keep the distance of pull unmodified from a stock android component. The only modification would be the colour of the spinner icon.

Default spinner icon colour: #312A65
Private Browsing Mode spinner icon colour: #592ACB

Let me know if you need anything else

[2019-08-06 16:28] Edu4rdSHL commented on #1724
Thanks,  I have sent the request.

[2019-08-06 16:37] boek opened #4557 "Land strings for 1.3"
We need to make sure we land all strings needed for 1.3 by August 6th EOD

[2019-08-06 16:43] vesta0 commented on #2833
A-C issue: https://github.com/mozilla-mobile/android-components/issues/4027

[2019-08-06 16:44] #4389 closed

[2019-08-06 16:45] isabelrios commented on #4023
Hey @csadilek! sorry for bothering you again with this but looks like after the latest changes on `BackgroundServices` , what is in master now, that code is not working anymore :(
I rebased master on my branch and then it does not work as before. Now I see stage only when I manually run the app or once the test finishes and I re-launch the app but not while the test is running. It always sets the

[2019-08-06 16:45] ekager opened #4558 "[Bug] Bookmark Sign In Button Not Visible"
We should do something similar to what @boek did with history and add this to view as part of the last bookmark item in the list?

## Steps to reproduce
1. Don't be signed in, go to bookmarks

### Expected behavior
See `SignInView`

### Actual behavior
No button to sign in

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-06 16:46] ekager commented on #4558
Also it has a `ThemeIndependentMaterialGreyButtonDestructive` theme right now and it should be `ThemeIndependentMaterialGreyButton`

[2019-08-06 16:48] csadilek commented on #4532
Ah, thanks @ekager. Yes, that looks "better". @thomcc latest crash doesn't look related to `RustLogAdapter` / Megazord anymore.

It looks related to our new `AccountSharing`/`AccountMigration` functionality. /cc @grigoryk

[2019-08-06 16:49] csadilek commented on #4532
Sentry crash: https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6121009/

[2019-08-06 16:49] thomcc commented on #4532
@csadilek Yeah but it's still in app-services provided classes and is a IncompatibleClassChangeError which indicates an issue with classloading (or really class linking).

[2019-08-06 16:50] thomcc commented on #4532
That said, this might be fixed if we update some dependencies in a-s, which I was going to do after the next A-C release, but there's no real reason to wait for that.

[2019-08-06 16:51] csadilek commented on #4532
@thomcc this doesn't look like an a-c class to me. It's `mozilla.components.service.fxa.sharing.AccountSharing` which is in a-c?

[2019-08-06 16:53] thomcc commented on #4532
Oh, my bad! I saw fxa and assumed the type was coming from us, especially since 'weird classloader issue on early version of android' is the kind of bug that wouldn't surprise me for the megazord change.

[2019-08-06 16:56] ekager commented on #4491
Oops dupe of #4540 and is closed :)

[2019-08-06 16:56] #4491 closed

[2019-08-06 16:58] buttercookie42 commented on #4532
Side questions: Are there any plans for some at least some smoke tests automatically running on whatever the minimum supported API version is? With Firefox/Fennec at least we sort of had that by accident because the ARM emulator images running the bulk of tests are still stuck on Android 4.3, which is relatively close to Fennec's actual min API version of Android 4.1.

[2019-08-06 17:02] lime124 commented on #3579
The preferred method would be to warn the person before running in to a limit (e.g. character count). But I don't know how much effort the refactor would be.

Would you be able to provide us with some options (e.g. char count, error msg, something else?) that are possible and how much effort it would take and we can take a look and provide feedback on direction? Thanks so much!

[2019-08-06 17:14] vladikoff commented on #2833
from a-s:

  forces the user to connect to the last seen user email. To avoid this behavior,
  a new `FirefoxAccount` instance with a new persisted state must be created.

@grigoryk do you need any changes in a-c to handle this new behaviour?

[2019-08-06 17:17] sblatz opened #4560 "Custom tab app bar does not follow UX specs"
This has been filed in AC for a while, but I want it to have visibility in the Fenix repo so we can get it prioritized properly.

https://github.com/mozilla-mobile/android-components/issues/1514

I had a PR for fixing this but it caused issues for other consumers of AC: https://github.com/mozilla-mobile/android-components/pull/3610

### Before

<img width="355" alt="Screen Shot 2019-07-01 at 10 38

[2019-08-06 17:36] ekager commented on #4545
I fixed this in https://github.com/mozilla-mobile/fenix/pull/4548

[2019-08-06 17:36] #4545 closed

[2019-08-06 17:36] boek commented on #4545
@sblatz to discuss

[2019-08-06 17:42] jonalmeida opened #4561 "[Bug] Custom Tabs do not work on Gmail app"
## Steps to reproduce
1. Set Fenix as default browser.
2. Click any link in Gmail.

### Expected behavior
- The link is opened in a custom tab.

### Actual behavior
- The link is opened in the main browser.

### Device information

* Android device: Pixel 2, Android 9
* Fenix version:
Nightly 190805 19:07 (Build #12172029)
📦: 7.0.0
🦎: 69.0-20190801042935

[2019-08-06 17:46] boek commented on #3863
@mikeGolf08 can you reproduce this issue? Could you post a screenshot of your search settings?

[2019-08-06 17:47] jonalmeida opened #4562 "[Bug] About page doesn't show a-c git SHA"
This was already exposed here (https://github.com/mozilla-mobile/fenix/issues/3055#issuecomment-497825360) from A-C to add the git SHA for nightly builds that use snapshots where bug reports don't show the snapshot version we need where the bug was happening.

## Steps to reproduce
1. Open the About page.
2. Try to see which a-c snapshot version is being used.

### Expected behavior
See the SHA va

[2019-08-06 17:50] sblatz commented on #3811
@simonsteiner1984 this is something we'll look into, but we do have [some information about GV](https://hacks.mozilla.org/2019/06/geckoview-in-2019/) published if you're interested :)

[2019-08-06 17:52] vesta0 commented on #3811
@liuche we chatted about this at group triage and it's definitely worth doing at some point so let's think about how/when.

[2019-08-06 17:59] sblatz commented on #2863
I'm moving this to be a p5. We actually have a workaround for this right now which makes it so the behavior described above does not happen. We are restoring the other tabs in the background when a use presses either `close` or `restore` on the selected tab.

The only case that is a problem with this workaround is a **background tab** could crash, making it look like the currently selected one cra

[2019-08-06 18:02] liuche commented on #3811
Would SUMO be the right place for this? or possible the Mozilla Mobile Medium! https://medium.com/firefox-mobile-engineering

We should definitely get this out before Q4, but I'm also wondering who is the right person to write/collaborate on this. Gecko🦎 is definitely part of the answer though - could be a series (Gecko, UX based on user studies, etc).

[2019-08-06 18:12] ekager opened #4563 "[Bug] History List Item "Delete History" button doesn't update until scroll when entering edit mode"
## Steps to reproduce
1. Go to history
2. Long click on any item except the first item

### Expected behavior
delete button disables and alpha changes

### Actual behavior
delete button does not disable until scroll (and opposite happens when exiting edit mode)

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-06 19:16] mikeGolf08 commented on #3863
@boek Yes I can reproduce it every time but didn't try another refresh since...

[2019-08-06 19:16] apbitner commented on #3927
Turning this into an investigational task to determine next steps so that we can more accurately size

[2019-08-06 19:19] cadeyrn opened #4565 "[Bug] noticeable movement of "Shortcuts" button when tapping the address bar"
### Actual behavior

There was a recent change to show all the search engines when tapping the address bar. This causes a movement of the "Shortcuts" button which is much more visible than before. It was not a problem before this change because the "Shortcuts" button was not active and you didn't notice the movement from bottom to top. But now the button has an active state by default and after ta

[2019-08-06 19:19] mikeGolf08 commented on #3863
![Screenshot_20190806-201019__01](https://user-images.githubusercontent.com/52482050/62570255-c49d7b80-b88f-11e9-9efa-8ea2907589a4.jpg)
![Screenshot_20190806-201032__01](https://user-images.githubusercontent.com/52482050/62570256-c49d7b80-b88f-11e9-83e6-e4639bc2f2c8.jpg)
Only things I changed at the time

[2019-08-06 19:20] apbitner commented on #4474
@vesta0 could we get a feature brief for this so that we can size it? Thank you

[2019-08-06 19:33] ekager commented on #3922
Reopening for QA needed

[2019-08-06 19:33] #4563 closed

[2019-08-06 19:44] lime124 commented on #4474
discussed during PM/UX about more requirements. let's keep it to MValuableP for this release and we can iterate in the future. action would link to a SUMO page.

[2019-08-06 20:13] vesta0 commented on #4275
@liuche I have updated the description of this issue with the acceptance criteria and the product and UX preference. Please feel free to move on to eng investigation/validation and sizing.

FYI this may be a good issue for @jonalmeida to pick up since he worked on it before.

[2019-08-06 20:16] grigoryk commented on #4532
This is an issue in android-components; we're assuming that `ContentProviderClient` is always AutoCloseable, and it's not in earlier API versions. `a-c` patch incoming.

[2019-08-06 20:25] cadeyrn opened #4566 "[Bug] search engines shouldn't be shown by default when you're on a tab"
### Steps to reproduce

1. open a website
2. tap the address bar

### Actual behavior

There was a recent change to show all the search engines when tapping the address bar. Once you type something into the address bar the search engines disappear and you see suggestions from a search engine and from your history.

If you're not on the start screen but on a website and tap the address bar you also

[2019-08-06 20:29] ekager commented on #4566
I think it could be fair that from a tab, the user could be clicking the search bar to complete a search and want to change the engine? Having it displayed doesn't seem to take anything away from the user?

[2019-08-06 20:40] ekager commented on #3361
@buttercookie42 is this still an issue with the new icon in the Quick Action Sheet to launch the app?

[2019-08-06 20:44] ekager commented on #3890
Is this because it's an APK and you have to change a permission for apps to trust for APK downloads?

[2019-08-06 20:46] ekager commented on #3897
I don't see a cookie banner in the US but if you can also try Reference Browser/Fennec we can know if it's a GV/Gecko bug that we should file in Bugzilla?

[2019-08-06 20:54] ekager commented on #3949
I'm not seeing this auto-crash any more. That being said, we probably don't want people to open this internal custom tab in the normal browser. Should we remove the menu altogether for auth custom tabs? Do we really need to be able to find in page and request desktop site here?

[2019-08-06 20:55] ekager commented on #3643
I'm closing this bug, the fix is in GV70

[2019-08-06 20:55] #3643 closed

[2019-08-06 20:57] ekager commented on #4003
I'm not seeing this issue anymore it could have been fixed by either the site or a GV update. I'm tagging as QA needed

[2019-08-06 21:13] ekager commented on #4025
Are you still seeing this? I am not able to reproduce on my device

[2019-08-06 21:16] ekager commented on #3587
Going to close this and we will have to revisit why this was happening when we reimplement #1211

[2019-08-06 21:17] ekager commented on #4093
Seems like a dupe, closing

[2019-08-06 21:17] #4093 closed

[2019-08-06 21:26] ekager commented on #4115
Cannot reproduce on Chrome. Cannot reproduce on Firefox Desktop. Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1571887

[2019-08-06 21:27] Amejia481 commented on #3890
@ekager I'm not quite sure but I can try testing using other file types

[2019-08-06 21:27] ekager commented on #4116
Cannot reproduce on Chrome. Cannot reproduce on Firefox Desktop. Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1571887

[2019-08-06 21:30] jonalmeida opened #4569 "[Bug] Fenix shows iPad as desktop instead of tablet"
Similar to https://github.com/mozilla-mobile/firefox-ios/issues/5299

### Expected behavior
1. Tablet icon for iPad devices that we can share to.

### Actual behavior
1. We show a desktop icon instead.

### Device information

* Android device: Android 9 (Pixel 2)
* Fenix version: 06/08/2019

Dependencies:
 - a-s: https://github.com/mozilla/application-services/issues/1547
 - a-c: https://github.c

[2019-08-06 21:30] ekager commented on #4115
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1571890
Cannot reproduce on Chrome. Can reproduce on Fennec

[2019-08-06 21:36] ekager commented on #3939
Let's pull these strings in today before string freeze and someone can pick up the changes in this sprint

[2019-08-06 21:49] ekager commented on #3767
closing as dupe of #3587

[2019-08-06 21:49] #3767 closed

[2019-08-06 21:52] ekager commented on #4152
Can reproduce on Fennec, can't reproduce on Chrome
Opened: https://bugzilla.mozilla.org/show_bug.cgi?id=1571896

[2019-08-06 21:54] ekager commented on #4148
This is weird that this is a webcontent bug that is device specific :/ Could you retest on that exact device on master and see if it's still happening?

[2019-08-06 21:58] ekager commented on #4219
I fixed this for the homescreen in #4496

[2019-08-06 22:00] ekager commented on #3693
Closing this because it doesn't crash anymore

[2019-08-06 22:00] #3693 closed

[2019-08-06 22:03] ekager commented on #4151
According to the logcat this is a native code crash

[2019-08-06 22:13] rpappalax opened #4572 "Stub out UI tests"
### Why/User Benefit/User Problem
We'd like increase UI test coverage more rapidly and currently have several people working on that.

### What/Requirements
To facilitate that process and reduce overhead with learning curve, we're going to create "stubbed out" UI tests w/ verbose comments and disable them until they are complete.

### Acceptance Criteria (how do I know when I’m done?)
Stubbed-out

[2019-08-06 22:59] csadilek commented on #4023
@isabelrios Unfortunately, with recent Fenix changes, the `accountManager` is now always created in `Application.onCreate` and setting the pref in the tests is too late. However, we found a better (more reliable) solution to test this. I've pushed a commit on top of your branch here: https://github.com/csadilek/fenix/commit/632d87fefe84d363ef5a241b148459b14c3943bc

Basically, this introduces a `Fx

[2019-08-06 23:05] PopeRigby opened #4574 "Bug: Home bar blank"
I have no idea what is triggering this, but every once and a while, I'll open Fenix and the home bar will be completely blank.
![](https://imgur.com/a/WM4ER5y)

[2019-08-06 23:07] #3939 closed

[2019-08-06 23:07] ekager commented on #4574
Closing as dupe of #4529

[2019-08-06 23:07] #4574 closed

[2019-08-06 23:10] ekager commented on #4256
This would be a fairly easy thing to implement. Probably would be better handled by AC if we decide to add it

[2019-08-06 23:20] grigoryk commented on #4532
Fix should be in the next a-c 7.0.0 snapshot.

[2019-08-06 23:22] grigoryk commented on #4532
NB for reproducing this:
- make sure you have a recent version of Firefox for Android installed alongside Fennec. Affected codepath is only triggered if there's an installed Fennec which declares a certain content authority.

[2019-08-07 00:13] ghost opened #4575 "Set default "open in app""
previous issue was closed in error. a member directed me to:

1. load desired page
2. tap "open in app"
3. page loads again in app

compare to Chrome for Android, which allows you to set a default app for certain
links, then:

1. tap link to desired page
2. page loads in app

or Firefox for Android:

1. long press link to desired page
2. choose "open in app"
3. page loads in app

[2019-08-07 02:02] liuche commented on #4275
@jonalmeida if you want to pick this up, feel free to (but please comment/assign, so we don't duplicate work!)

[2019-08-07 04:00] jonalmeida commented on #4275
Adding it to the a-c triage for next week since we already have a full sprint right now. Feel free to grab this if I don't get to it by then.

Thanks for the detailed acceptance criteria Vesta!

[2019-08-07 05:14] cpeterso commented on #2863
For comparison, a Gecko crash in Fennec will crash the entire app. A Gecko crash in Fenix will crash all your tabs, but not the app.

[2019-08-07 07:12] ValentinTimisica commented on #3579
The possibilities that I think of are the following:

1) `Show a Toast` when this dialog first appear to the user referring to the max char count that we support. This has the big drawback that we cannot expect the user to count the characters to know when he will hit the limit. Trivial to implement.
2) `Show a Snackbar` when the char limit is reached . This might be a better solution, the drawbac

[2019-08-07 07:32] Djfe commented on #4575
like #3300 I would rather have the option.
Apps shouldn't automatically open in other apps unless I told Fenix to do so.
Fenix could ask you (open with fenix, open with app, checkbox: ask again (checked by default))

We would need a settingspage to set/reset these per app. (maybe even per domain, if that makes sense?)
is there a way to set them with a drop-down or is Firefox not able to ask the sy

[2019-08-07 07:36] softvision-miralobontiu commented on #4532
The app didn't crash anymore with the latest Nightly build 190807 (#12190111). I had installed the latest versions of Firefox for Android, Firefox Beta, and Firefox Nightly.
Tested with Huawei P9 Lite (Android 6), Huawei MediaPad M2 (Android 5.1.1), HTC Desire 820 (Android 6.0.1).

[2019-08-07 07:36] #4532 closed

[2019-08-07 07:48] Djfe opened #4577 "deep app link tab-hold should have entry "open in app""
### Why/User Benefit/User Problem
@nahuhh had a good suggestion after #3330 was closed:

in-case #4575 gets implemented some app links might not open in external apps by default anymore.
So offering the manual option in the context menu makes sense.
Also it allows to visually distinguish app links when tab-holding

"Open in..." could show the dialogue to choose a different app from the default one

[2019-08-07 07:57] Djfe opened #4578 "[Bug] open in app, app not installed"
## Steps to reproduce
Uninstall reddit in-case it's installed
Open https://www.reddit.com/r/de/
Click "open in reddit" (link on the website. overlay at the bottom of the viewport)

### Expected behavior
Fenix opens the play store so the user can install the correct app to open link.
(or first the dialogue to choose between stores is shown, like in current Firefox for Android, it allows me to choos

[2019-08-07 07:57] AndiAJ commented on #3949
Hi, me neither, it doesn't crash anymore, on the latest Fenix Nightly Build #12190111 from 7/8.
I've used the following devices:
• Google Pixel 3a (Android 9)
• OnePlus 5T (Android 9)
• Samsung Galaxy S9 (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video Google Pixel 3a
![20190807_103538](https://user-images.githubusercontent.com/513142

[2019-08-07 07:57] #3949 closed

[2019-08-07 07:59] Djfe commented on #4578
The same happens (nothing) when I click "Open In App" from the websites context-menu.

[2019-08-07 08:01] softvision-miralobontiu commented on #3922
Verified as fixed with the latest Nightly build 190807 (#12190609) with Motorola Moto G6 (Android 8), Huawei Media Pad M2 (Android 5.1.1), and Nokia 6 (Android 7.1.1).

[2019-08-07 08:01] #3922 closed

[2019-08-07 08:04] Djfe commented on #3338
seems to be implemented and both issues are closed

[2019-08-07 08:06] softvision-miralobontiu commented on #4003
This is fixed on the latest Nightly build 190807 (#12190609) with Nokia 6 (Android 7.1.1).

[2019-08-07 08:06] #4003 closed

[2019-08-07 08:21] AndiAJ commented on #4025
Hi @ekager , unfortunately yes, it's still happening on Fenix Nightly Build #12190111 from 7/8.

✅ No issues encountered on the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• OnePlus A3 (Android 6.0.1)
• Samsung Galaxy S6 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

❌ Still happening on:
• Samsung S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)

**Seems

[2019-08-07 08:21] softvision-miralobontiu commented on #3121
Verified as fixed on the latest Nightly 190807 (#12190609) with Huawei Media Pad M2 (Android 5.1.1), and Nokia 6 (Android 7.1.1).

[2019-08-07 08:33] isabelrios commented on #4023
Thanks @csadilek! that's working like a charm! I cherry-picked your commit to my branch to continue the work there.
I will close this issue for now and open a new one with the previous comments about the problems syncing with stage but the selection of server is done for now.

Thanks for your help!

[2019-08-07 08:50] Djfe commented on #3804
collections could be like tab groups

the feature could be combined with multi account containers. For example several collections belong to the account container shopping. One collection  is for new shoes, one is for a new TV, etc.
and then there are collections with the container work and so on.

one thing to consider:
right now collections are still "only" bookmarks/something like Pocket. They

[2019-08-07 09:02] AndiAJ commented on #4148
Hi, re-tested on latest Fenix Nightly Build #12190111 from 7/8 using a Samsung Galaxy S7 (Android 7) and the issue is still there.
**On the other hand, no issues encountered on Fennec.**

[2019-08-07 09:13] Djfe opened #4579 "pin tab in collection"
### Why/User Benefit/User Problem
It would be nice if I would be able to pin one or several tabs inside a collection

for example: the YouTube subscription feed or the main page of a news website is pinned and below that are videos/articles I want to read later.
I open the pinned tab, if I want to explore more videos/articles or. I open one of the videos/articles to watch/read it and then remove i

[2019-08-07 09:15] Djfe commented on #4446
this sounds more like a workaround to me to make them accessible in Fenix.
I would prefer actual pinned tabs with an active session that allows notifications from these tabs.

[2019-08-07 09:17] hakkikaancaliskan commented on #4107
@NotWoods
I've added windowTranslucentStatus and windowTranslucentNavigation to PrivateThemeBase, set statusBarColor and navigationBarColor to transparent and added fitsSystemWindows to activity_home.xml's LinearLayout but not working.

![Screenshot_20190807-120704](https://user-images.githubusercontent.com/17825767/62610319-226fa900-b90c-11e9-9779-1ef04809408c.png)

[2019-08-07 10:37] Djfe opened #4580 "Automatically filter new or existing tabs into collections (similar to Thunderbird mail filter)"
### Why/User Benefit/User Problem
Depending on the implementation of collections it would be nice if Firefox could automatically sort new tabs into certain collection(s) depending on the domain or the app it was opened from (and not automatically download them in a tab, atleast when you let Fenix open tabs in the background without switching apps, like Firefox currently does)

For example Fenix wo

[2019-08-07 10:50] Djfe opened #4581 "options for tabs in a collection (apart from opening)"
### Why/User Benefit/User Problem
I want an option like tab+hold on tabs in a collection that allows me to:

* open a tab in private tab (or the whole collection)
* save a tab to another collection
* move a tab to another collection

optional:
* copy link

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12945)

[2019-08-07 11:06] ValentinTimisica commented on #4517
Hi @boek , Can you please tell us how it should work?
1) Both return to the library.
2) Both return to the home screen.

I saw in the [nav_graph.xml](https://github.com/mozilla-mobile/fenix/blob/8194e0778e38ed95b769c13d91b89919fa5b4b38/app/src/main/res/navigation/nav_graph.xml#L201) that currently this is the expected behaviour for bookmark fragment (to go back to the home screen in this case).
[c

[2019-08-07 11:08] Djfe commented on #4434
I agree, it's also not just the close button, but the text and the icon are smaller too, even though the overall size of the tab entry is the same.
![644364412](https://user-images.githubusercontent.com/5685512/62618393-62d32500-b914-11e9-8d75-f11db97dabd2.png)

[2019-08-07 11:39] Djfe opened #4583 "collection custom icons"
### Why/User Benefit/User Problem
It would be nice to be able to choose a collection's icon.
Either one of the icons of the tabs (merged by icon url) or an icon of a list of default icons (like the ones from multi account containers https://addons.mozilla.org/de/firefox/addon/multi-account-containers/ )

### Acceptance Criteria (how do I know when I’m done?)
The menu for renaming a collection also

[2019-08-07 12:11] jawadalkassim opened #4584 "DNS over HTTPS"
### Why/User Benefit/User Problem
As a user i want to Protect myself while browsing the web From Man-in-the-middle attack and make sure Attackers cannot trick users into visiting a fake website by manipulating DNS responses for domains that are outside their control.

### What/Requirements:
**Secure DNS**:
To ensure your DNS queries remain private, you should use a resolver that supports secure DN

[2019-08-07 12:25] Djfe commented on #2768
this is the same bug as
#2248
#3422
#3707

I think 3 of the 4 bugs should be closed as duplicates :)

[2019-08-07 12:30] Djfe opened #4586 "tab+hold copy url to clipboard"
### Why/User Benefit/User Problem
was the feature described in #1759 removed?
I would like to be able to copy the current url by tap+holding the addressbar

### Acceptance Criteria (how do I know when I’m done?)
Tap+hold pastes current url from addressbar into the clipboard

[2019-08-07 12:37] Djfe commented on #4586
dup of #4133

[2019-08-07 12:37] #4586 closed

[2019-08-07 12:49] Djfe commented on #4155
I want "tap+hold -> copy to clipboard" back, atleast as an option, it was amazing! <3
it's way faster (one click instead of two)

I get that this can override users' clipboards, so it's good you're searching for an alternative.

my keyboard swiftkey has a clipboard history. therefore I can't accidentally loose my clipboard's content.

paste and paste & go can be placed in the menu that appears if

[2019-08-07 12:54] buttercookie42 commented on #4566
Opening the current URL in the Wayback Machine for example.

[2019-08-07 13:03] AndiAJ opened #4587 "[Bug]Inconsistent display of the "Find in page" bar in landscape mode"
## Steps to reproduce
1. Navigate to https://en.wikipedia.org/wiki/Main_Page
2. Tap on the 3dot button and select "Find in page"
3. Enter a letter or a word and tap on the next button "v"
4. Rotate the device in landscape mode

### Expected behavior
The "Find in page" bar is displayed properly in landscape mode (from side to side).

### Actual behavior
The "Find in page" bar keeps the aspect ratio

[2019-08-07 13:07] Djfe opened #4588 "[Bug] Non-global DNS entries are searched rather than opened"
## Steps to reproduce
Open DNS entries that aren't valid globally like
fritz.box
speedport.ip

### Expected behavior
Fenix resolves the domain to the local ipv4 of your router
192.168.178.1
192.168.2.1

### Actual behavior
Fenix searches on Google instead of querying the DNS like it's supposed to

### Device information

* Android device: OnePlus 3T
* Fenix version: 69.0-20190805070043

[2019-08-07 13:13] hakkikaancaliskan opened #4589 "[Bug] Widget voice search icon should be hidden if applications not installed to handle voice search"
If voice search application not found, voice search is crashing because it's not catched.
https://github.com/mozilla-mobile/fenix/blob/8194e0778e38ed95b769c13d91b89919fa5b4b38/app/src/main/java/org/mozilla/fenix/IntentReceiverActivity.kt#L103

From RecognizerIntent.java:

[code]

[2019-08-07 13:23] AndiAJ opened #4590 "[Bug]Find in page leaves a blue mark in the web pages search box"
## Steps to reproduce
1. Navigate to ebay.com
2. Tap on the 3dot button and select "Find in page"
3. Enter letter 'a' and tap next "v" a couple times
4. While moving to the next result check the search text box

### Expected behavior
Should move from one result to another properly.

### Actual behavior
While moving through the results, a blue highlight remains visible in the websites search box.

[2019-08-07 14:03] AndiAJ opened #4591 "[Bug][Tablet]"Entering full screen mode" snackbar isn't properly displayed"
## Steps to reproduce
1. Navigate to youtube.com
2. Play any video and enter full screen mode
3. Check the snackbar

### Expected behavior
"Entering full screen mode" snackbar should be displayed from side to side.
The String should be displayed on one line.

### Actual behavior
"Entering full screen mode" snackbar looks cramped, and the string is displayed on 2 lines.

### Device information

* A

[2019-08-07 14:13] vesta0 commented on #2248
Thank you @dg28gadhavi we are going to address your request in #2768

[2019-08-07 15:46] AndiAJ commented on #969
Hi @sblatz , I've re-tested this on Fenix Nightly Build #12190111 from 7/8 using a Google Pixel 3a.

**Open tabs section**
1. Track long press on a tab Ping db18ce9c-7c50-49b8-ab3e-93bc8e8ac24f ✅
2. Track tap on "Save to collection" button Ping 2d33b751-8a4b-432c-8b87-b865a782ffd6✅
3. Track tap on "Save to collection" button from the 3dot menu Ping 1027eafc-062b-47e6-b661-b9e2f75eb0d1 ✅

**Collect

[2019-08-07 15:49] sblatz commented on #969
@AndiAJ This PR will address the "saved" and "tabsAdded" events. We missed adding those events: https://github.com/mozilla-mobile/fenix/pull/4592/files

Regarding the "Save to collection" from three dot menu, yes that is being merged here: https://github.com/mozilla-mobile/fenix/pull/4539/files#diff-dcd3c2fb5158fcd99c56aa5b26b6de5dR1093.

I'll put qa needed on this once those two PR's are merged.

[2019-08-07 16:20] dianehuang11 opened #4594 "[Bug] Pairing Feature's QR Code Scanner does not work"
## Steps to reproduce

1. Open Firefox Preview
2. Open settings menu
3. Select Turn on Sync
4. Select "Ready to scan"

### Expected behavior
QR scanner opens, scans, and successfully pairs.

### Actual behavior
Black screen with no scanner.

### Device information

* Android device: Samsung GT-19500
* Fenix version: Nightly 190807 06:02 _and_ 1.1.0 (public build)

![Screenshot_2019-08-07-11-57-56]

[2019-08-07 17:07] ekager commented on #4594
@dianehuang11 did you already give camera permissions to Fenix? Did you dismiss the permissions dialog?

[2019-08-07 17:19] jyeontaek commented on #4516
This is expected behavior defined by the UX team.

[2019-08-07 17:24] nikit19 commented on #4556
I can pick this up if nobody picks it in a few days.

[2019-08-07 17:26] sblatz commented on #4385
Closing this as it's expected behavior according to UX :)

[2019-08-07 17:31] Verdi commented on #4385
The extra space in the middle of the widget is not the expected behavior. I said the acceptable tradeoff was the invisible space around the widget. The 2x1 widget should be 100 x 50 dp.

[2019-08-07 17:33] jyeontaek commented on #4385
The extra space in the middle of the widget has been fixed. I think we can close this issue now.

<img width="346" alt="Screen Shot 2019-08-07 at 10 33 04 AM" src="https://user-images.githubusercontent.com/11740983/62644370-cce0cf80-b8fe-11e9-973e-24e610ee7f0f.png">

[2019-08-07 17:34] Verdi commented on #4385
Perfect. Thank you.

[2019-08-07 17:34] #4385 closed

[2019-08-07 17:34] cadeyrn commented on #4516
wait, what? It's already possible to resize the widget. I can make it smaller (very small!) but not wider? I don't care about the default size but it should be possible to use the full width if that's how I want to use it. For me it looks weird (please see the screenshot) and feels like a regression compared to Fennec.

Can this issue cat a "UX feedback" label to get more opinions, please?

[2019-08-07 17:41] vesta0 commented on #4457
I have reviewed/updated the description of this ticket. Let's review at backlog grooming.

[2019-08-07 17:46] AmyYLee commented on #4323
Please go with this direction but both text areas should be left aligned and not centered.

<img width="570" alt="Screen Shot 2019-08-07 at 1 44 37 PM" src="https://user-images.githubusercontent.com/5992746/62645141-9f554f80-b919-11e9-8f83-35b291145c41.png">

[2019-08-07 17:47] AmyYLee commented on #3355
@ekager > @AmyYLee for the overlapping collections text should we ellipsize the button text or allow multi-line? There is a contributor in #4323 happy to work on it cc @ValentinTimisica

I added my feedback to the bug #4323

[2019-08-07 17:55] liuche opened #4596 "Migrate Collections to LibState"
## User Story
As a developer I'd like Collections to implement LibState.

See Search component #3985 for guidelines, or reach out to Christian, Sebastian, Jeff.

## Dependencies
None

### Acceptance Criteria
* Collections implements LibState
* Collections has tests

[2019-08-07 17:56] liuche opened #4597 "Migrate Home to LibState"
## User Story
As a developer I'd like Home to implement LibState.

See Search component #3985 for guidelines, or reach out to Christian, Sebastian, Jeff.

## Dependencies
None

### Acceptance Criteria
* Home implements LibState
* Home has tests

[2019-08-07 18:10] jyeontaek commented on #4516
@Verdi Instead of using specific sizes (256x50 dp, 360x50 dp) for 4x1 and 5x1, maybe we should make the widget occupy the entire 4x1 or 5x1 cells?

[2019-08-07 18:21] rpappalax opened #4598 "[Bug] Intermittent crash on UI tests API 25,28 due to "Error inflating class""
Firebase logs:

- https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8808375598462826676/executions/bs.c6402a3eac1c12cb
- https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/9146913364902185569/executions/bs.d28b6c1b3a7326ab/test-cases
- https://console.firebase.google.com/project/moz-fenix/testlab/h

[2019-08-07 18:30] colintheshots opened #4600 "Update to support edge-to-edge Android Q gesture navigation guidelines"
### Why/User Benefit/User Problem
Now that there are formal guidelines to support Android Q and a target SDK version to implement them, we should update our app to implement them.

https://medium.com/androiddevelopers/gesture-navigation-going-edge-to-edge-812f62e4e83e

### What/Requirements
1. Target SDK version increases to 29 to support dynamic scrims over the navigation bar.
2. Nav bar and stat

[2019-08-07 18:36] dianehuang11 commented on #4594
The permissions dialog didn't appear for me when I opened for the first
time.

On Wed, Aug 7, 2019 at 1:07 PM Emily Kager <notifications@github.com> wrote:

[2019-08-07 18:41] vrudesai commented on #4298
Data is visible in Amplitude.

[2019-08-07 18:41] #4298 closed

[2019-08-07 18:50] Verdi commented on #4516
This is not the expected behavior.

The expected behavior is that the Fenix widget should look/work like the Fennec widget in the screenshot above.

I don't know why it's not doing what we want and I don't know how/not the person to asses that proposal. Give it a try and see if it works?

[2019-08-07 19:56] liuche commented on #2896
@vesta0 and @topotropic to go over this list and see what we is ready for eng to do.

[2019-08-07 19:58] ekager opened #4602 "Add back transitions"
We got the new androidx fragment update, let's try to add back the transitions :)

[2019-08-07 20:00] liuche commented on #2394
@vesta0 and @apbitner to go over this list and see what we should do/not do right now, out of the Homescreen design work that's been done.

[2019-08-07 20:01] liuche commented on #2275
@vesta0 and @topotropic to go over this list and see what we should do/skip.

[2019-08-07 20:20] #4354 closed

[2019-08-07 20:42] #4467 closed

[2019-08-07 21:07] colintheshots opened #4604 "[Bug] Crash opening search bar after clearing data"
## Steps to reproduce
1. Install the current master Fenix build
2. Open a tab or tabs.
3. Delete all tabs from Settings.
4. Return to home.
5. Press the search bar.

### Expected behavior
The search fragment should open.

### Actual behavior
The app crashes with this stack trace:
2019-08-07 16:00:42.690 org.mozilla.fenix.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.mozilla.fenix.

[2019-08-07 21:51] lwa-moz commented on #4421
FxA Signup Event Bug (in Fennec):
https://bugzilla.mozilla.org/show_bug.cgi?id=1568605

Leanplum Documentation for:
Events - https://docs.leanplum.com/reference#events
Attributes - https://docs.leanplum.com/reference#user-attributes

[2019-08-07 22:36] ikurek commented on #4312
+1, lack of this always kept me away from using Firefox on Android

[2019-08-07 23:05] sblatz commented on #969
@AndiAJ okay, this time we should be good to go. Can I get your review again?

[2019-08-07 23:06] #4508 closed

[2019-08-07 23:22] ekager commented on #4604
Seems to be an issue with the new `TrackingProtectionIconView`. CC @Amejia481

[2019-08-07 23:56] #4602 closed

[2019-08-07 23:58] ekager opened #4607 "Monitor Sentry for Fragment Shared Element Transition Crashed"
We had previously taken out these animations (in #3209) because of a crash we were seeing:
[code]
We got a library update, so I added them back in, but I will monitor Sentry this week to see if this crash comes back

[2019-08-07 23:59] #4562 closed

[2019-08-08 00:36] Amejia481 commented on #4604
I'm on it, thanks @ekager!

[2019-08-08 00:50] liuche commented on #4597
We shouldn't block on the Homescreen redesign - the full redesign isn't going to happen immediately, so it's more important to get the migration done, rather than having both architectures in-tree.

[2019-08-08 00:51] liuche commented on #4596
We shouldn't block on the Collections redesign - the full redesign isn't going to happen immediately, so it's more important to get the migration done, rather than having both architectures in-tree.

[2019-08-08 04:49] johnsto commented on #4286
Seems fixed in 1.2.0 (Build #12181645)!

[2019-08-08 07:59] isabelrios commented on #4023
Thanks @csadilek! that's working like a charm! I cherry-picked your commit to my branch to continue the work there.
I will close this issue for now and open a new one with the previous comments about the problems syncing with stage but the selection of server is done for now.

Thanks for your help!

[2019-08-08 07:59] #4023 closed

[2019-08-08 08:00] isabelrios commented on #4023
This will land once the sync tests are finished, the work done is in commit: e50ef2713183d3fccde7b0a07060c5bade1a8e3a in the [WIP branch](https://github.com/isabelrios/fenix/commits/sync-integration-environment-test-history)

[2019-08-08 08:03] pwd-github opened #4609 "Don't display installed search engines when opening the search screen"
## Steps to reproduce
1. Open Fenix
2. Press "New Tab"

### Expected behavior
I see my Top Sites or Recent History

### Actual behavior
I see a list of search engines I have installed

### Device information

* Android device: LG G6 (Android 8)
* Fenix version: Nightly 190807 19:14 (Build #12191938)
📦: 7.0.0
🦎: 69.0-20190805070043

[2019-08-08 08:13] isabelrios opened #4610 "[Bug] Bookmarks and history are not synced when using stage server"
This issue has been seen as part of the WIP to create sync integration tests Fenix <-> Desktop
https://github.com/mozilla-mobile/fenix/issues/4023#issue-467375928
## Steps to reproduce
Set stage as the default browser
Sign in with an stage account created with `fxacli` tool https://pypi.org/project/fxacli/
Wait until the syncing process finishes to check the bookmark/history
### Expected behavior

[2019-08-08 08:29] leplatrem opened #4611 "[Bug] Wrong Remote Settings URL"
## Steps to reproduce

N/A

### Expected behavior

The Remote Settings URL is https://firefox.settings.services.mozilla.com/v1

### Actual behavior

Fenix doesn't go through the Remote Settings CDN and put our servers under heavy load :(
See https://bugzilla.mozilla.org/show_bug.cgi?id=1571615

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-08 08:29] leplatrem opened #4612 "[Bug] Wrong Remote Settings URL"
## Steps to reproduce

N/A

### Expected behavior

The Remote Settings URL is https://firefox.settings.services.mozilla.com/v1

### Actual behavior

Fenix doesn't go through the Remote Settings CDN and put our servers under heavy load :(
See https://bugzilla.mozilla.org/show_bug.cgi?id=1571615

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-08 09:16] softvision-miralobontiu commented on #4438
Verified that the app doesn't crash anymore following the steps on the latest Nightly build 8/7 (#12191937) with Samsung Galaxy Note 8 (Android 9), Xiaomi Mi 8 Lite (Android 9), OnePlus 5T (Android 9), and Nexus 6P (Android 8.1).

[2019-08-08 09:16] #4438 closed

[2019-08-08 09:29] softvision-miralobontiu commented on #3406
I was not able to reproduce the crash on the latest Nightly build 8/7 (#12191937) with OnePlus (Android 9), and Xiaomi Mi 8 Lite (Android 9).

[2019-08-08 15:23] csadilek commented on #4486
This should be fixed on master and latest Nightly.

[2019-08-08 15:33] Amejia481 commented on #4604
This will be fix as soon a the new snapshot kicks in https://github.com/mozilla-mobile/android-components/commit/c000217b565cf7f96996de04c8da27ea41874a25

[2019-08-08 15:57] csadilek commented on #1577
This is included in our engine beta component now (latest A-C 8.0.0-SNAPSHOTs).

[2019-08-08 16:03] #4451 closed

[2019-08-08 16:04] colintheshots opened #4616 "Improve empty state of Browser Fragment"
### Why/User Benefit/User Problem
If sessions recover slowly, the user is stuck staring at a blank screen.

### What/Requirements
We will render some kind of toolbar and progress bar while the user is awaiting session recovery.

### Acceptance Criteria (how do I know when I’m done?)
If we delay UI initialization on the browser fragment, then the user can see Fenix UI and can tell that our UI is no

[2019-08-08 16:28] chiragmantri commented on #4556
@sblatz I would like to pick this up.

[2019-08-08 16:59] sblatz commented on #4421
@jyeontaek will pick up the search widget portion 😄

[2019-08-08 17:15] #4612 closed

[2019-08-08 17:20] dragneelfps commented on #4556
@sblatz can I pick this up? It will be my first issue in this repo and to Mozilla. Thanks.

[2019-08-08 17:27] AaronMT opened #4618 "Stub Library UI tests"
See https://github.com/mozilla-mobile/fenix/issues/4572

[2019-08-08 18:00] colintheshots opened #4620 "DiffUtil.calculateResult should move off of the Main Thread"
Currently, several screens in Fenix use DiffUtil to improve the performance of the RecyclerView updates on those screens. We should move the calculation of list diffs to a background thread to avoid lost frames and freezing of the UI.

The classes currently affected include BookmarkAdapter and CollectionCreationTabListAdapter. It appears that classes using the new RecyclerView ListAdapter along wi

[2019-08-08 18:22] jeanygong commented on #4222
Looks like this issue has been resolved and no longer need the attention of he Performance team so I will remove the label Needs:Performance.

[2019-08-08 18:23] sblatz opened #4622 "Create unit tests for Extensions"
We should write unit tests for the extension functions we use. This ticket will encompass writing tests for all of the extensions. If we feel this is too large for one ticket, let's break a larger component out.

* Activity
* BookmarkNode
* BrowserIcons
* Context
* Drawable
* Fragment
* Log
* NavController
* Resources
* Session
* String
* TabCollection
* View

[2019-08-08 18:41] sblatz opened #4623 "Create a tip in Focus for launch in private mode"
We should utilize [homescreen tips](https://github.com/mozilla-mobile/focus-android/wiki/Homescreen-Tips) to create a tip in Focus that will tell users about our private mode in Fenix.

We just need copy for what this string should say.

@mheubusch to provide that?

[2019-08-08 18:41] sblatz commented on #4623
Related to https://github.com/mozilla-mobile/fenix/issues/419

[2019-08-08 18:41] sblatz commented on #4623
@vesta0 to determine the priority of this messaging :)

[2019-08-08 18:46] AmyYLee commented on #4623
@mheubusch We will need copy for this "tip"

[2019-08-08 19:49] ekager commented on #4427
@colintheshots how would QA test this? Is there a known STR to how this would happen?

[2019-08-08 19:50] sblatz commented on #1577
I will test this manually tomorrow 😄

[2019-08-08 19:54] ekager commented on #1288
This seems to be a bit better with the tab animations added back in? At least in the navigation of closing a tab.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25442310/62733464-8a40f500-b9db-11e9-89da-3f6a54414c0c.gif)

[2019-08-08 19:57] #4323 closed

[2019-08-08 20:41] sblatz opened #4625 "Delete browsing data string unclear"
The string in the delete browsing data screen is unclear that I'm only deleting the one I selected. It sounds like it's going to destroy all of my history even though I only selected one :O

I think this is because we're just currently using the same string as the one found after pressing "Clear browsing history" in the history library view.

<img width="350" alt="image" src="https://user-images.g

[2019-08-08 21:17] Pheonix73 commented on #4622
I have not really worked with unit test before. But would love to assist in this issue. @sblatz

[2019-08-08 21:21] Pheonix73 commented on #4625
Would like to work on this @sblatz

[2019-08-08 21:24] sblatz commented on #2706
We should use `metrics.yaml` as a source of truth. See [this document](https://docs.google.com/document/d/198L01tgQYq10Th9l3cIeJd-Gk_iISGmGnow5_Ubw02w/edit) for meeting notes with Glean.

[2019-08-08 21:24] sblatz commented on #1156
See [this document](https://docs.google.com/document/d/198L01tgQYq10Th9l3cIeJd-Gk_iISGmGnow5_Ubw02w/edit) for more information from our meeting with Glean.

[2019-08-08 21:25] sblatz commented on #4625
Hey @Pheonix73 let's get strings from @mheubusch and then go for it 😄

[2019-08-08 21:27] sblatz commented on #4622
Hey @Pheonix73 we have @kglazko working on this

If you're interested in adding some tests, tackling one of our [controller tickets](https://github.com/mozilla-mobile/fenix/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+controller) may be a good place to start 😄

[2019-08-08 21:28] Pheonix73 commented on #4625
Nice!

[2019-08-08 21:29] sblatz commented on #4556
@chiragmantri are you working on this?

[2019-08-08 21:32] Pheonix73 commented on #4622
@sblatz Which of them in particular. And also is there a communication channel?

[2019-08-08 21:35] sblatz commented on #1211
Let's make sure this on @vesta0's roadmap if it's really a P2.

[2019-08-08 21:37] sblatz commented on #4239
I believe this is expected behavior. Can UX please confirm?

[2019-08-08 21:41] sblatz commented on #1131
![flash](https://user-images.githubusercontent.com/4400286/62739760-87013580-b9ea-11e9-8568-8684b1943323.gif)

This is still reproducible on my Galaxy S9. That being said, I think there's not really a solution. @cpeterso on the GV team has said this is a known issue but not high priority as it's pretty difficult to fix.

[2019-08-08 21:45] sblatz commented on #4458
This is a GV issue. I've reproduced in Reference Browser.

@cpeterso is there a bugzilla filed?

[2019-08-08 21:46] sblatz commented on #4609
This is the current expected behavior outlined by @Verdi in https://github.com/mozilla-mobile/fenix/issues/1744.

Putting a needs ux feedback on this to consider changing :)

[2019-08-08 21:49] sblatz commented on #4384
https://github.com/mozilla-mobile/fenix/issues/4589 includes a stacktrace for this crash.

[2019-08-08 21:50] sblatz commented on #4589
Hey @hakkikaancaliskan, thanks for filing! This is a known issue, but the strack trace is helpful! Please follow https://github.com/mozilla-mobile/fenix/issues/4384

[2019-08-08 21:50] #4589 closed

[2019-08-08 21:52] sblatz commented on #4587
Note: this is **not reproducible** in sample browser. This is a Fenix side issue.

[2019-08-08 21:55] sblatz commented on #4575
Our implementation currently is for security reasons. We chose to not default to sending users out of Fenix. That being said, giving the option to set a default seems reasonable.

[2019-08-08 21:57] sblatz commented on #4561
@jonalmeida are you able to reproduce in Reference or Sample Browser?

[2019-08-08 21:58] sblatz commented on #4436
Can we just hide onboarding **before** navigating away? Since we intend to not show the onboarding when a user moves to Settings, it seems reasonable to just hide it immediately.

[2019-08-08 22:02] sblatz commented on #4119
p5 since it's likely fixed and only came up with a monkey run.

[2019-08-08 22:03] sblatz commented on #4123
@vesta0 to add telemetry request document :)

[2019-08-08 23:13] vesta0 commented on #2164
Closing this issue since this no longer impacts Send Tab + we will be implementing Sync Manager soon.

[2019-08-08 23:19] vesta0 commented on #87
Hi @sv-ohorvath would you please re-test this with 1password, dashlane, and Bitwarden and let us know the most recent status before I reach out to them? Thanks so much!

[2019-08-09 00:13] jonalmeida commented on #4561
@sblatz I wasn't able to reproduce this on r-b (today's nightly). I don't have a recent build of Sample Browser right now, but I'd imagine it would work as well since CT on it and r-b largely identical.

[2019-08-09 00:27] colintheshots commented on #4507
This is working now.

[2019-08-09 00:27] #4507 closed

[2019-08-09 00:29] vesta0 commented on #3748
Thanks @nic0lette ! We are planning to build this feature soon as part of #1284

[2019-08-09 00:29] #3748 closed

[2019-08-09 00:41] mheubusch commented on #4625
Hi @sblatz - I just want to check with @topotropic - do we think this prompt is necessary, or can we handle with with a snackbar saying "Selected data deleted" with an UNDO button? If a prompt is necessary, change to "This will delete the data you selected."

[2019-08-09 00:44] ekager commented on #4604
Closing as we should have the new snapshot now

[2019-08-09 00:44] #4604 closed

[2019-08-09 00:45] ekager commented on #4119
I think we should just close it then, and we can open a new issue if we see this again on Sentry

[2019-08-09 00:45] #4119 closed

[2019-08-09 00:53] ekager commented on #4485
Closing because this should be fixed by #4523

[2019-08-09 00:53] #4485 closed

[2019-08-09 00:58] ekager commented on #3626
I guess we could probably close this since we switched to the new download manager @pocmo ?

[2019-08-09 01:01] ekager commented on #4436
Yep that seems like a good solution. Adding a help wanted label

[2019-08-09 01:05] ekager commented on #4611
Closing this because we merged it this AM!

[2019-08-09 01:05] #4611 closed

[2019-08-09 01:06] ekager commented on #4594
Could someone from QA possibly test with a variety of devices here?

[2019-08-09 01:11] ekager commented on #4557
We did this!

[2019-08-09 01:11] #4557 closed

[2019-08-09 01:20] colintheshots opened #4631 "TaskCluster should comment on PRs with a link to an APK for testing."
### Why/User Benefit/User Problem
Both QA and coders would like to have a link to click on to test a PR.

### What/Requirements
Add a link to the ARM32 APK as a comment to PRs.

### Acceptance Criteria (how do I know when I’m done?)
The PR for this feature will contain a comment generated by TaskCluster linking to the current ARM32 APK with a proper anchor link.

[2019-08-09 01:30] ekager commented on #4142
Dupe of https://github.com/mozilla-mobile/fenix/issues/4338

[2019-08-09 01:30] #4142 closed

[2019-08-09 01:34] ekager commented on #2370
Could we retest this?

[2019-08-09 01:35] ekager commented on #2217
Could we retest this?

[2019-08-09 01:35] jonalmeida opened #4633 "[Bug] Show 'Sync is on' toast only on first login"
## Steps to reproduce
1. Sign into a Sync account.
2. Observe the 'Sync is on' toast.
3. Close and swipe away the app.
4. Re-open the app.

### Expected behavior
The toast is only seen once on the first login.

### Actual behavior
The toast is seen every time the app is cold booted.

### Device information

* Android device: n/a
* Fenix version: n/a

[2019-08-09 01:36] jonalmeida commented on #4633
To fix this, we can use the `newAccount` bool in [the account observer](https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt#754) to know if this is the first login and only then show the toast.

[2019-08-09 01:40] ekager commented on #2965
Closing because this seems to be keyboard specific

[2019-08-09 02:48] vesta0 opened #4634 "Learn about other Fx Products"
## User Story
- As a user, I want to be able to open the browser and easily find out about advantages of having a Firefox Account, and learn about other Firefox products.

This is about Fx product presence in Fenix. e.g. Homepage surface to encourage usage of FxA, Pocket, etc.

### Acceptance Criteria
- I can easily learn about why I should sign up for a Firefox account or sign into an existing ac

[2019-08-09 03:15] vesta0 commented on #3927
@apbitner thanks for investigating. Maybe surfacing a contextual message (similar to what Amy built for Launch in private mode) about QAB as part of onboarding would work. Looking forward to your thoughts.

[2019-08-09 03:24] vesta0 commented on #3337
@bifleming @mheubusch what is the process for addressing this issue? It seems like currently the German translation of the string "browser_menu_report_issue" is cut off in the main menu but not in the browser panel.

[2019-08-09 03:27] jonalmeida opened #4635 "[Bug] Send Tab (push) is broken on latest nightly"
Send tab works when polling, but push support seems to no longer work. Seems to be fine on a local debug version

**Not working:**
Nightly 190808 19:19 (Build #12201930)
📦: 8.0.0, c000217b5
🦎: 69.0-20190808090046
Thursday 8/8 @ 7:29 PM

**Working:**
1.0.1932 (Build #1)
📦: 8.0.0, c000217b5
🦎: 69.0-20190808090046
Thursday 8/8 @ 5:38 PM

[2019-08-09 03:29] vesta0 commented on #2157
@liuche updated the acceptance criteria and moved this to prioritized UX backlog.

[2019-08-09 03:38] jonalmeida commented on #4635
I guess I should look into it.

[2019-08-09 03:52] ekager commented on #4458
Some more history to this issue: Font inflation used to be on included with the automatic setting but there were some issues (see #3639 #4050). We should definitely revisit this issue

[2019-08-09 03:54] vesta0 commented on #4390
@vrudesai please see Chenxia's note above re updating user stories and acceptance criteria based on the final designs!

[2019-08-09 03:55] vesta0 commented on #1506
Thanks @ekager I removed the p1 but let's keep it open to make sure this is tested once we re-introduce the dynamic nav bar.

[2019-08-09 04:03] vesta0 commented on #4458
@snorp what is the desired implementation here for Fennec parity? The current state of Fenix is fontInflation is not enabled at any time. Also see the 2 bugs Emily has referenced above.

[2019-08-09 04:08] vesta0 commented on #4498
This is not a Q3 priority but it might be fun to check out the ['b:tablet'](https://github.com/mozilla-mobile/fenix/issues?q=is%3Aopen+is%3Aissue+label%3Ab%3Atablet) bugs as a starting point.

[2019-08-09 04:15] vesta0 commented on #934
As discussed today, I will create a feature brief for this specific work. I also updated the User Story and Acceptance Criteria above for more clarify.

[2019-08-09 04:38] dragneelfps commented on #4633
@jonalmeida can I work on this?

[2019-08-09 04:59] #4623 closed

[2019-08-09 04:59] vesta0 commented on #4623
Issue moved to [mozilla-mobile/focus-android #4329](https://github.com/mozilla-mobile/focus-android/issues/4329) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-09 05:03] vesta0 commented on #4502
We did some investigation for tablets as part of #1631 a while back and the [`b:landscape'](https://github.com/mozilla-mobile/fenix/labels/b%3Alandscape) issues were filed as a result.

[2019-08-09 05:13] pt2121 commented on #4377
:hand:
I'm interested in taking a stab at it over the weekend

[2019-08-09 05:28] karlcow opened #4636 "[Bug] myaccount.google.com - Uploaded profile images is broken"
Reported by @softvision-oana-arbuzov

**URL**: https://myaccount.google.com/

**Browser / Version**: Firefox Nightly 68.0a1 (2019-04-22)
**Operating System**: Samsung Galaxy S7 Edge (Android 8.0.0) - Resolution 1440 x 2560 pixels (~534 ppi pixel density)
**Tested Another Browser**: Yes

**Problem type**: Design is broken
**Description**: Uploaded profile images is broken

**Prerequisites:**
    1.

[2019-08-09 05:29] karlcow commented on #4636
This is happening only for **certain devices**.
See the issue in https://github.com/webcompat/web-bugs/issues/29937

[2019-08-09 05:32] vesta0 opened #4637 "Enhanced Search Experience"
## User Story
- As a user, I want to be able to enable the option for enhanced search experience.

[Fenix Enhanced Search Experience PRD](https://docs.google.com/document/d/1klSG1EnhTvkdrw6gnGepjm7_jeV0dcHfgS17vqZiTnY/edit#)

### Acceptance Criteria
- I can choose to enable the enhanced search experience.

[2019-08-09 06:03] Scripterr opened #4638 "Add ability to set custom background for homescreen and URL bar"
### Why/User Benefit/User Problem
Right now you can set the background for url bar in fennec through the AMO site but as in current there no way right now to use add-ons in fenix. It would be great to able to set a background image for homescreen and URL/bottom bar from local storage, as it would also give users a feel of customization and personalization.
This feature is available in yandex brows

[2019-08-09 06:08] karlcow opened #4639 "[Bug] mobile.twitter.com - The contextual menu for text "Copy/Select/Search" is displayed after tapping on an image"
As tested by @yaomtc
initially reported on https://github.com/webcompat/web-bugs/issues/31197

URL: https://mobile.twitter.com/oh__honey__/status/1128688210874208256/photo/1

Browser / Version: Firefox Mobile 68.0
Operating System: Android
Tested Another Browser: Yes

Problem type: Something else
Description: When you tap the image in Firefox, the Copy/Select All/... menu appears
Steps to Reproduc

[2019-08-09 06:09] buttercookie42 commented on #4458
@sblatz Yes and no. It's indeed the default state of GeckoView, but it's equally the application's choice to enable font inflation or not.

Now I can't guarantee that there won't be any other layout issue at all with font inflation, but the particular problem that led to #3639 has already been fixed in Gecko through the fix for #2606, and as I far as I can tell, this has also helped with at least

[2019-08-09 06:11] buttercookie42 commented on #4050
@staktrace The partial fix I mentioned is on ESR, too, so could you try a Fennec Nightly to see whether there's anything other than the button issue left?

[2019-08-09 06:53] cpeterso commented on #3903
Randall says this is an app bug. He fixed a similar bug in FxR. Fenix will be able to fix this bug using the new `LOAD_FLAGS_REPLACE_HISTORY` flag added in https://bugzilla.mozilla.org/show_bug.cgi?id=1571088 (GV 70).

[2019-08-09 06:59] jawadalkassim opened #4640 "[Bug] Crash when open accessibility tab"
## Steps to reproduce
1- Launch Fenix
2- Go to Settings
3- Open accessibility tab
### Expected behavior
The ability to Change font size
### Actual behavior
App Freezes and force stop itself.
**Note** : Automatic font sizing is disabled
And it takes 3 to 5 second to crash and restart
### Device information

* Android device: Huawei Gr3 2017
Android 8.0
* Fenix version : Nightly 190808 23:13
📦: 8.0.

[2019-08-09 08:14] lnicola commented on #4421
Will it be possible to disable Leanplum at all? If yes, will there be a separate toggle from Telemetry like in Fennec (FHR vs. Telemetry)?

[2019-08-09 10:33] hakkikaancaliskan opened #4641 "[Bug] about:support is empty"
## Steps to reproduce
Open about:support

### Expected behavior

Page is full with infos

### Actual behavior

No info :/

### Device information

* Android device: Xperia XZ1 Android 9
* Fenix version:
Nightly 190808 23:13 (Build #12202320)
📦: 8.0.0, 865feaf44
🦎: 69.0-20190808090046
![Screenshot_20190809-133113](https://user-images.githubusercontent.com/17825767/62773202-410ba680-baaa-11e9-947f-4

[2019-08-09 10:40] andreicristianpetcu commented on #87
@vesta0 I tested with Bitwarden and it filtered the password corredtly based on the site! Nightly build.

[2019-08-09 10:41] dragneelfps commented on #4399
So we have to extract all the logic from the methods in `SearchInteractor.kt` into `SearchController.kt`, except from those methods that use `navController` ?

[2019-08-09 10:51] matteocontrini commented on #87
I can confirm that 1Password works as well

[2019-08-09 11:06] staktrace commented on #4050
What prefs do I need to set in Fennec to replicate the Fenix font inflation settings? I don't see anything in [geckoview-prefs.js](https://hg.mozilla.org/mozilla-central/file/tip/mobile/android/app/geckoview-prefs.js)

[2019-08-09 11:14] topotropic commented on #255
@sblatz I'd suggest we remove the second acceptance criteria "Block autoplay when on mobile" for now and add it as enhancement in a later story;

the options for autoplay are:
- Allow audio and video
- Block audio (default)
- Block audio and video

[2019-08-09 11:32] buttercookie42 commented on #4050
Turning on Settings -> Accessibility -> Use system font size should be enough (otherwise make sure *font.size.inflation.minTwips* is set to 120 or something around that value).

[2019-08-09 11:53] topotropic commented on #4155
I'd suggest to show a standard context menu with: Cut, Copy, Paste and Share

We wouldn't support "Paste & Go" and "Add page shortcut" in this iteration. @vesta0 thoughts?

[2019-08-09 12:07] mikeGolf08 opened #4642 "[Bug] Delete browsing history discrepancies"
## Steps to reproduce

1. Open any website
2. Head to settings
3. **Delete browsing history**
4. Select "**Open tabs**" (a minimum of one open tab is required for reproducing this bug)
5. Delete the selected data

### Expected behavior

It **stays on the delete browsing history site** like it does when selecting one of the other options (Collections, Browsing history and site data) only.

### Actu

[2019-08-09 12:14] topotropic commented on #4474
@vesta why don't we add a new section here https://www.mozilla.org/en-US/firefox/android/68.0beta/releasenotes/ and link to it?

[2019-08-09 12:27] softvision-miralobontiu commented on #2217
I am seeing a really brief flicker on the latest Nightly build 190809 (#12210609) on Samsung Galaxy Note 8 (Android 9), but not on OnePlus 5T (Android 9).

Samsung Galaxy Note 8 (Android 9):
![20190809_Trim](https://user-images.githubusercontent.com/40694158/62778484-2e4c9e00-bab9-11e9-8cb0-498f7fe1bc5d.gif)

OnePlus 5T (Android 9):
![20190809-Trim](https://user-images.githubusercontent.com/406941

[2019-08-09 12:29] softvision-miralobontiu commented on #2370
This is not reproducible on the latest Nightly build 190809 with Samsung Galaxy Note 8 (Android 9), OnePlus 5T (Android 9), and Nexus 5 (Android 6.0.1).

[2019-08-09 12:44] softvision-miralobontiu opened #4644 "[Bug] Nightly freezes after signing in / out, then closes"
## Steps to reproduce
1. Go to Settings - Turn on Sync - Use email instead
2. Insert valid credentials and observe.

### Expected behavior
The user is signed in, the app doesn't freeze or close.

### Actual behavior
The app freezes then closes.

### Device information
* Android device: OnePlus 5T (Android 9), Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1)
* Fenix version: 190809 (#1221

[2019-08-09 12:45] AndiAJ commented on #969
Hi, **verified as fixed** on **Fenix Nightly Build #12210609** using a Google Pixel 3a (Android 9).

**Open tabs section**
1. Track long press on a tab Ping 852e28f5-5b50-44f6-9cb5-7e7192ec0bce ✅
2. Track tap on "Save to collection" button Ping 5e7e2b3a-41e9-4e44-90ab-b33049a592ed✅
3. Track tap on "Save to collection" button from the 3dot menu Ping 459947da-971d-4543-9d97-b79257ad5817 ✅

**Collect

[2019-08-09 12:45] #969 closed

[2019-08-09 12:46] softvision-miralobontiu commented on #4026
Verified as fixed on the latest Nightly build 190809 (#12210609) with Samsung Galaxy Note 8 (Android 9), OnePlus 5T (Android 9), and Nexus 5 (Android 6.0.1).

[2019-08-09 12:46] #4026 closed

[2019-08-09 12:56] softvision-miralobontiu opened #4645 "[Bug] App closes after trying to create a Collection"
## Steps to reproduce
1. Open a few tabs.
2. Tap on "Save to collection".
3. Tap on "Select All" from the top right corner.
4. Tap on "Deselect All".

### Expected behavior
Tabs should be deselected.

### Actual behavior
The app closes.

### Notes
App closes also when selecting manually a tab and try to tap "Save".
Cannot create a collection.

### Device information
* Android device: all
* Fenix v

[2019-08-09 13:01] colintheshots commented on #1667
This bug needs a better description of the problem. So far it sounds like a description of a modal bottom sheet instead of a bug. "Modal bottom sheets are an alternative to inline menus or simple dialogs on mobile and provide room for additional items, longer descriptions, and iconography. They must be dismissed in order to interact with the underlying content." https://material.io/design/componen

[2019-08-09 13:07] topotropic commented on #2047
Let's look at it as part of the Download manager work referenced above.

[2019-08-09 13:23] Dexterp37 opened #4647 "[Bug] Video preview broken if link is opened in a new tab"
## Steps to reproduce

- Open https:://www.repubblica.it ;
- Open a video shown anywhere on the home in a separate tab, but **don't go to the tab just now**;
- Open another video as did above, but **don't go to the tab just now**;
- Go to the tab selection page, open the tab of any of the two videos;

### Expected behavior

The video preview occupies the full width of the screen, fitting its paren

[2019-08-09 13:27] Dexterp37 opened #4648 "[Bug] The "Help" menu entry does a web search with the help URL"
## Steps to reproduce

- Open Fenix to the "Home" page;
- Click on the "3 dots menu" on the top right (the one containing Setttings, Library and Help";
- Select "Help"

### Expected behavior

An help page is opened in Fenix.

### Actual behavior

The help URL is used as a search keyword for the default search engine: the results page of the default search engine is shown.

### Device information

[2019-08-09 13:33] softvision-miralobontiu opened #4649 "[Bug] Fenix closes after turning the "Show visited sites and bookmarks" toggle ON/OFF"
## Steps to reproduce
1. Go to Settings - Search engine and toggle "Show visited sites and bookmarks" toggle OFF (or ON if it was OFF).

### Expected behavior
The app should continue to work.

### Actual behavior
The app closes.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1)
* Not reproducible on Sony Xperia Z5 Premium (Android 7.1.1)
* Fenix v

[2019-08-09 13:48] vesta0 commented on #4155
@topotropic I am good with your suggestion but is there a reason why we don't want to support "Paste & Go" ?

[2019-08-09 13:52] vesta0 commented on #4474
@topotropic that's a good idea but we don't have a page like that yet, so in the meantime let's link to the Sumo What's new page. Let me know once you have a recommended solution. See the issue description for some suggestions :)

[2019-08-09 13:53] vesta0 commented on #1573
All the stories under this meta have been completed and QA approved!

[2019-08-09 14:08] AndiAJ commented on #4486
Hi, **verified as fixed** on **Fenix Nightly Build #12210609 from 9/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)

[2019-08-09 14:08] #4486 closed

[2019-08-09 14:14] jonalmeida commented on #4633
@dragneelfps I've mostly gone with intuition on what the fix should be. Let's wait for @vesta0 to confirm if this an issue first.

[2019-08-09 14:15] ekager opened #4650 "Downgrade RecyclerView version from Version 1.1.0-beta02 to beta01"
See https://issuetracker.google.com/issues/139143551
Do not update to Version 1.1.0-beta02 wait until the next update in this library

[2019-08-09 14:19] csadilek opened #4652 "[Bug] Can not perform this action after onSaveInstanceState"
BrowserFragment is occasionally throwing an `IllegalStateException` when asking for a view model.

From Sentry:
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6128076/

[2019-08-09 14:21] softvision-miralobontiu opened #4653 "[Bug] Crash/ANR when enabling/disabling Tracking protection"
## Steps to reproduce
1. Go to Settings - Tracking protection and enable or disable it.

### Expected behavior
The toggle should switch, no crash involved.

### Actual behavior
ANR, then crash.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1)
* Fenix version: 190809 (#12210609)

[logcat.txt](https://github.com/mozilla-mobile/fenix/files/3486715/l

[2019-08-09 14:33] vesta0 commented on #739
Discussed this with Nicole and this no longer applies to the new designs.

[2019-08-09 14:33] #739 closed

[2019-08-09 14:37] vesta0 commented on #3161
Waiting until after user testing the new tab tray.

[2019-08-09 14:41] #4650 closed

[2019-08-09 14:43] ekager commented on #4653
I'm hoping this is fixed by #4651 . I just triggered a new nightly, let's retest as soon as that comes through

[2019-08-09 14:43] ekager commented on #4649
I'm hoping this is fixed by #4651 . I just triggered a new nightly, let's retest as soon as that comes through

[2019-08-09 14:44] ekager commented on #4644
I'm hoping this is fixed by #4651 . I just triggered a new nightly, let's retest as soon as that comes through

[2019-08-09 14:46] vesta0 commented on #2896
Waiting until after user testing the new tab tray.

[2019-08-09 15:02] csadilek commented on #4652
@colintheshots found an upstream issue: https://issuetracker.google.com/issues/139093676

[2019-08-09 15:16] Pheonix73 commented on #4653
Alright. @ekager I sent you a DM on Twitter regarding contributing more to this repo.

[2019-08-09 15:23] topotropic commented on #2630
We have quite a few things coming from the bottom (quick action bar, site info panel) so I'd be hesitant to add the contextual menu there as well. We also don't anticipate to add more items to the menu, so I'd say let's revisit once we want to add more menu items and close for now.

[2019-08-09 15:52] Pheonix73 commented on #4648
@Dexterp37 could you send a screenshot of the help page that was opened on fenix?

[2019-08-09 15:58] Dexterp37 commented on #4648
There you go!

![fenix_help_bug](https://user-images.githubusercontent.com/883721/62792283-3adbf100-bacf-11e9-845a-c9e5da7e4d9b.jpg)

[2019-08-09 16:06] yoasif commented on #4648
I can reproduce this, except that it uses DuckDuckGo -- seems like it is using the default search engine to search for "https://support.mozilla.org/1/mobile/Nightly 190807 19:14/Android/en-US/faq-android"

[2019-08-09 16:32] staktrace commented on #4050
Looks like just the buttons are bad now.

![Screenshot_20190809-123152](https://user-images.githubusercontent.com/485789/62794300-bd4dbc00-baa1-11e9-86b8-1be833e93fbe.png)

[2019-08-09 16:33] NotWoods opened #4655 "[Bug] [L10N] Use quantity strings so that plurals appear correctly in different languages."
In some spots we have separate string resources such as: "Tab sent!" and "Tabs sent!". Rather than using an if statement based on the number of tabs, this should be a [quantity string](https://developer.android.com/guide/topics/resources/string-resource#Plurals).

This is a bug in some locales where different quantities get special treatment.

### Strings to consolidate
These strings should be con

[2019-08-09 16:38] dragneelfps commented on #4633
@jonalmeida sure.

[2019-08-09 17:01] vesta0 commented on #3232
@ryanfeeley is this still an issue?

[2019-08-09 17:21] sblatz opened #4657 "Update voice search portion of search widget"
Verdi mentioned that we could update the voice search screen of the search widget. Screenshot from him incoming :)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12996)

[2019-08-09 17:24] Verdi commented on #4657
Just an example (2 min photoshop hack).
![voice](https://user-images.githubusercontent.com/107992/62797159-96db5100-baa0-11e9-940d-19f4e7bcf415.jpg)

[2019-08-09 17:38] lime124 commented on #4516
removing need ux label as feedback has been give.

[2019-08-09 17:41] sblatz commented on #4516
Fix is landing vvvv soon :)

[2019-08-09 17:44] Amejia481 commented on #4598
This should be fixed after using the latest snapshot

[2019-08-09 17:44] sblatz commented on #4598
From https://github.com/mozilla-mobile/android-components/commit/c000217b565cf7f96996de04c8da27ea41874a25

[2019-08-09 17:45] lime124 commented on #4239
thanks sawyer! @topotropic can you please take a look and comment. please either close due to expected behaviour or label "ready for eng". thanks!

[2019-08-09 17:48] lime124 commented on #3579
Thanks for the info @ValentinTimisica. While I think the best experience is the character counter, I don't think this bit of UI warrants that much effort. I also think this is not going to be a super common thing people will run into and I don't love the idea of custom view for this.

I would advise #2 but would love for @mheubusch to jump in to confirm and provide thoughts on the string. Thanks!

[2019-08-09 17:54] sblatz commented on #1577
**We did it folks!!**

Thanks to all who worked on resolving this! 🎉

![yay](https://user-images.githubusercontent.com/4400286/62798795-fd0da700-ba93-11e9-90e5-a79199d5d6bf.gif)

[2019-08-09 17:56] vrudesai opened #4658 "[Telemetry] Private Mode Features"
Owner: Product Manager Intern

Overall, this issue is for the new private mode features.

All under this meta: [Meta] Open In Private Browsing #4390:

Launcher Icon for PBM: #419
Allow user to always open 3rd party links in PBM + TP: #514
Persistent notification to close private browsing tabs: #2053
Delete all Private Tabs Redesign: #2834

#### Description & Product Manager / Data Scientist User S

[2019-08-09 18:08] sblatz commented on #4390
@mheubusch are you able to provide strings for:

* "clear private browsing" part as we discussed in our meeting: https://mozilla.invisionapp.com/share/DUTCUDLZ4MC
* tip in focus: https://github.com/mozilla-mobile/focus-android/issues/4329

[2019-08-09 18:12] agi90 commented on #4521
Just confirming that I haven't seen this at all this week :)

[2019-08-09 18:14] mheubusch commented on #3579
So, I don't think we need an error message as the system prevents the user from making the error, ie they can't type more than 128 characters and then submit and have it fail.

[2019-08-09 18:19] cadeyrn commented on #4648
Duplicate of #3892.

[2019-08-09 18:28] jonalmeida commented on #4635
Seems like something is failing silently:
[code]

[2019-08-09 18:31] vesta0 commented on #1085
Will add acceptance criteria to main ticket.

[2019-08-09 18:31] sblatz commented on #419
@AmyYLee to investigate if we need the "toggle" to set "always open in private mode". How does Firefox Lite work? Do we need to add the shortcut to the home screen in order to see the private mode as an option when setting default browser?

[2019-08-09 18:32] vrudesai commented on #514
Set as acceptance criteria for Launch icon for private browsing #419

[2019-08-09 18:35] AmyYLee commented on #2271
Hi,

@ekager Here are the colour edits for the filter states. Let me know if you have any questions.

<img width="608" alt="Screen Shot 2019-08-09 at 2 32 47 PM" src="https://user-images.githubusercontent.com/5992746/62800992-be3b1980-bab2-11e9-99c6-adbfe5403fea.png">

[2019-08-09 18:37] sblatz commented on #1113
E1 because we just modify this line: https://github.com/mozilla-mobile/fenix/pull/3007

[2019-08-09 18:42] vesta0 commented on #1114
@topotropic just a note to think about accessibility of the playback controls (e.g. too close to close tab x)

[2019-08-09 18:48] #4640 closed

[2019-08-09 18:52] vesta0 commented on #1115
Will be part of #1114

[2019-08-09 19:02] cpeterso commented on #1577
GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1557096

[2019-08-09 19:14] sblatz commented on #1156
I'm estimating this as an E3 since #2706 will hold most of the refactor and this can piggy-back off of that :)

[2019-08-09 19:18] sblatz commented on #4326
I'm not sure how to feel about this one. I'm worried that PR's will rot even more if we enable this setting. I've definitely felt very slowed down by this on AC and I think we've rarely (if ever) had an issue come from this on our repo.

[2019-08-09 19:19] sblatz commented on #4326
De-prioritizing to p3 as I don't think the rest of these are super critical. Codecov was the big win here :)

[2019-08-09 19:25] sblatz commented on #2217
I think it's just less noticeable in dark mode, right?

[2019-08-09 19:28] jonalmeida opened #4662 "ActivationPingTest fails unrelated tests"
See here for the full issue details: https://github.com/mozilla-mobile/fenix/pull/4660#pullrequestreview-273319542

~~cc: @Dexterp37 @travis79~~ Not a Glean bug.

[2019-08-09 19:49] AmyYLee commented on #419
@sblatz @vesta0 @lime124 I looked into this on Firefox Lite. You don't need a PBM shortcut on homescreen in order to set links to always Open in Fenix PBM as default. In that case, I don't think we need to have the toggle switch in Fenix settings to always open in PBM. I can update the spec to reflect this.

[2019-08-09 19:57] vesta0 commented on #1577
Amazing work, thank you 💯

[2019-08-09 19:59] vesta0 commented on #419
Sounds good @AmyYLee :) Thanks for always thinking about intuitive lean solutions!

[2019-08-09 20:00] sblatz commented on #4421
@lnicola Hey thanks for asking! You can disable all telemetry data with the data collection toggle: Settings > Data collection > Usage and technical data OFF

[2019-08-09 20:03] sblatz commented on #4625
@mheubusch a prompt is being used in place of a snackbar due to technical complexity of using an undo snackbar here (we've had lots of issues with them in the past, especially around deletion of data).

@Pheonix73 let's go with @mheubusch's recommendation: "This will delete the data you selected."

Thanks @mheubusch!

[2019-08-09 20:05] sblatz commented on #4561
That surprises me. Our implementation is basically just integrating AC  🤔 I wonder what we're doing differently

[2019-08-09 20:06] lnicola commented on #4421
@sblatz thank you, but in Fennec I keep Telemetry enabled, but disable FHR to avoid sending data to third parties and because I'm not interested in marketing push notifications and the like.

I leave Telemetry on because I'm fine sending technical data, although I realize that -- at least in Fenix -- it also contains a lot of interaction data.

[2019-08-09 20:09] sblatz opened #4663 "Add ability to opt out of sending data specifically to third parties data collection"
### Why/User Benefit/User Problem
As a user, I may not want to get marketing notifications or communications nor have data sent to services like Leanplum and Adjust.

### What/Requirements
I have a toggle to disable these marketing notifications in settings (likely under "data choices"?)

See https://github.com/mozilla-mobile/fenix/issues/4421#issuecomment-520047239 for suggestion.

[2019-08-09 20:09] sblatz commented on #4663
I think we'll want to fast follow this behind #4421 so users have a choice in the matter :)

[2019-08-09 20:10] sblatz commented on #4421
@lnicola Ah, that's a great point! Appreciate your feedback. I've filed #4663 to address this and will raise it with product ASAP 😄

[2019-08-09 20:12] sblatz commented on #373
@jimbo1qaz and @lime124 raise good points here. I've filed #4663 to track the ability for users to opt out of these communications. Even with this we should be careful about how frequently we use these. I'd love to touch base with @lwa-moz regarding policy on pushing notifs.

[2019-08-09 20:13] lnicola commented on #4663
Please don't make this available only for marketing notifications. In Fennec I can prevent the browser from contacting third parties like Leanplum and Adjust. Leanplum does more than push notifications.

[2019-08-09 20:14] sblatz commented on #4663
From @lime124 on #373:

https://vreplay.mozilla.com/replay/showRecordingExternal.html?key=HJI4gtp2yXDG8B3

[2019-08-09 20:14] lime124 commented on #373
@mheubusch is also part of the newly formed mobile marketing communications and may also be thinking about this. :)

[2019-08-09 20:16] lime124 commented on #4663
perfect! /cc @mheubusch - she's been looking into this for all our products.

[2019-08-09 20:16] sblatz commented on #1288
I think this is actually still distracting in light mode. Just dark mode is less noticeable.

[2019-08-09 20:20] sblatz commented on #1288
![sad 2019-08-09 13_20_19](https://user-images.githubusercontent.com/4400286/62806706-73b49f80-baa8-11e9-9692-07be8d7013a0.gif)

[2019-08-09 20:23] sblatz commented on #4399
@dragneelfps yeah, basically! The interactor should just be invoking a method on the controller or emitting a telemetry event :)

[2019-08-09 20:24] sblatz commented on #4622
@Pheonix73 any of those are up for grabs! You can reach me on IRC. I'm @sblatz in the #fenix channel: https://irccloud.mozilla.com/#!/ircs://irc1.dmz.mdc1.mozilla.com:6697/%23fenix

[2019-08-09 20:25] Verdi opened #4664 "More descriptive instructions for search shortcuts"
## Steps to reproduce
1. Click into search field
2. Search shortcuts are displayed and preceded by the words, "Search with."

Let's try to make this feature more understandable and use the words that we're using in the new desktop design - "This time, search with:"

### New Expected behavior
1. Click into search field
2. Search shortcuts are displayed and preceded by the words, "This time, search

[2019-08-09 20:25] hawkinsw opened #4665 "File low-hanging fruit in Home Fragment creation"
Let's file actionable bugs to address the low-hanging fruit of so we can 1) prioritize them & ensure we're working on the most important things and 2) ensure our backlog has actionable works for devs.

### Acceptance criteria
- File bugs to address the low-hanging fruit (and some larger diminishing returns) in `HomeFragment` creation
- Notify Slack channel when issues are filed

---

Overall time

[2019-08-09 20:28] Verdi commented on #4609
Yes this is the expected behavior but we could make the feature more understandable by using the copy that we'll be using in the new desktop design. I filed issue [4664](https://github.com/mozilla-mobile/fenix/issues/4664) for that.

[2019-08-09 20:28] #4609 closed

[2019-08-09 20:32] hawkinsw opened #4666 "File low-hanging fruit of HomeActivity creation"
Let's file actionable bugs to address the low-hanging fruit of so we can 1) prioritize them & ensure we're working on the most important things and 2) ensure our backlog has actionable works for devs.

### Acceptance criteria
- File bugs to address the low-hanging fruit (and some larger diminishing returns) in `HomeActivity` creation
- Notify Slack channel when issues are filed

---

Overall start

[2019-08-09 20:33] hawkinsw commented on #4666
[cpu-art-20190809T163149.zip](https://github.com/mozilla-mobile/fenix/files/3487961/cpu-art-20190809T163149.zip)

[2019-08-09 20:33] hawkinsw commented on #4665
[cpu-art-20190809T163149.zip](https://github.com/mozilla-mobile/fenix/files/3487963/cpu-art-20190809T163149.zip)

[2019-08-09 20:44] hawkinsw commented on #4666
Interesting: On an absolute basis, it takes the Nexus device hosted at ND about 1/2 the time to load the Home Activity as it does the Pixel 2.

[2019-08-09 20:45] hawkinsw commented on #4665
Interesting: On an absolute basis, it takes the Nexus device hosted at ND about 1/2 the time to load the Home Fragment as it does the Pixel 2.

[2019-08-09 20:55] jyeontaek commented on #4125
Can we get a check for this again?

[2019-08-09 21:00] mheubusch commented on #4663
@sblatz @lime124 This issue conflates two separate issues - 1. notifications and 2. data collection For 1, I will create a new issue with a specific user story for notifications. For 2, currently a user can disable telemetry, and we no longer send data to anyone - mozilla or partners.  If  you think we need to create finer controls for who gets or doesn't get data, let's discuss and if needed open

[2019-08-09 21:00] #4663 closed

[2019-08-09 21:04] mheubusch opened #4667 "Give users controls to opt out of product messages"
## User Story
- As a Firefox Preview user, I want the ability to turn off product messages so that I can use my phone and Firefox without interruptions from messages I did not initiate.
- for example, I'd like to turn off Leanplum Product Messaging so I don't get Product messages.

### Dependencies
- [ ] Need UX specs (where to put in settings, string, icon)

### Acceptance Criteria
- I can access

[2019-08-09 21:12] Verdi commented on #4468
We met today and agreed that the widget (pending the landing of the final changes) is ready to ship. We also agreed to investigate what it would take to update the voice search dialog ([Issue 4657](https://github.com/mozilla-mobile/fenix/issues/4657)) but that shouldn't block shipping.

[2019-08-09 21:12] #4468 closed

[2019-08-09 21:39] Pheonix73 commented on #4622
@sblatz Alright. It seems I don't have permission to that irc channel.

[2019-08-09 21:40] Pheonix73 commented on #4625
@sblatz Can I be assigned to this?

[2019-08-09 21:41] Pheonix73 commented on #4625
@sblatz Can I be assigned to this?

[2019-08-09 22:40] liuche commented on #1724
Here are my thoughts on the Beta.

Purpose: (temporary?) train model, for wider-spread testing (both by users and QA)
- stable Beta channel for users to check out new features 2+ weeks early, and give early feedback
- channel for QA to do any additional testing before apps go to FP Release

Workflow for how releases will be published:
Release Tuesday:
* Builds will be published to Beta based on a

[2019-08-09 22:48] mitchhentges commented on #1724
Makes sense! I have [some other `fenix` work that I'd like to resolve first](https://github.com/mozilla-mobile/fenix/pull/4325), then I can take a look at this

[2019-08-09 23:05] jonichan commented on #4246
@vesta0 We have an draft here for your review: https://docs.google.com/document/d/1IfDoaW8T_vKKO3RkGAJG76amU8eEUH0p5ngdFwS_88I/edit?usp=sharing. Please let me know if you think it's ready to go.

[2019-08-09 23:48] liuche commented on #1724
Had a quick end-to-end conversation that I'll summarize here.

Current Nightly: publishes to internal track of Release App w/ users from the FP mailing list
TODO: switch publishing destination to Nightly App (in the beta track, so it says "Experimental")

Current Beta: [existing releng work](https://github.com/mozilla-mobile/fenix/wiki/Release-Process) that can be used with the beta versioning sem

[2019-08-09 23:55] grigoryk opened #4671 "[Bug] KotlinNullPointerExceptionorg.mozilla.fenix.library.bookmarks.BookmarkFragment in refreshBookmarks"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6047679/

From the stacktrace, we're blowing up when trying to refresh bookmarks after authenticating.

[2019-08-10 00:00] csadilek commented on #4427
@ekager we used the following STR (on a Nexus 5X) when implementing/testing this:

- Load youtube.com and start a video
- Switch to the camera app
- Switch back to Fenix

Expected
- BrowserFragment (youtube.com tab) visible

Actual
- HomeFragment visible

So, with the fix we now properly land on the `BrowserFragment` and load youtube.com (where we left off).

[2019-08-10 00:30] grigoryk commented on #4671
FWIW, we wouldn't need to do this at all if https://github.com/mozilla-mobile/fenix/issues/4046 is fixed.

[2019-08-10 00:50] colintheshots commented on #4046
We had the opposite bug beforehand suggesting that Desktop Bookmarks should not appear when we were signed out. I think it's important to have clear UX guidelines here. Keeping the Bookmarks could cause syncing problems when they sign in again as another user. https://github.com/mozilla-mobile/fenix/issues/3333

[2019-08-10 01:03] cpeterso commented on #2020
The GV engineers say the app (Fenix) should be responsible for clearing the text selection. However, there is no GV API available to do that 😄 so an API will be added in https://bugzilla.mozilla.org/show_bug.cgi?id=1570810.

The GV bug is in our P3 backlog, but I see this Fenix issue is a P1. How urgent is this bug fix? Not being able to dismiss the text selection using the back button doesn't see

[2019-08-10 01:04] grigoryk commented on #4046
I feel pretty strongly that #3333 was misguided, or at least the solution we ended up with didn't really consider UX implications. What we have now doesn't align with what we do in our other browsers.

I agree that there's some subtlety involved here, but we pretty clearly have a broken experience right now, where a lot of the bookmarks are hidden from the user for no apparent reason.

That's not

[2019-08-10 01:15] vesta0 commented on #4633
This is definitely looks like a regression. The expected behavior is to see the 'Sync is on' toast on the first login as @jonalmeida pointed out.

[2019-08-10 01:33] cpeterso commented on #4458
I don't know of a GV bug for this. What is the desired behavior? The text on pages like http://diamondgeezer.blogspot.com/ is really tiny (but different) in both Fenix and Fennec.

We should fix GV's default settings if web content looks bad out of the box. We don't want every GV-powered app to have to discover and fix the same font size problems if we can fix them in GV. :)

I see that using the

[2019-08-10 02:59] ekager commented on #2020
@vesta0 what do you think?

[2019-08-10 06:52] dragneelfps commented on #4399
@sblatz I created PR #4673 for this issue. Please look into it.

[2019-08-10 07:42] dragneelfps commented on #4633
@vesta0 so should I raise a PR to fix this regression(using the `newAccount` bool as pointed out by @jonalmeida)?

[2019-08-10 08:57] andreicristianpetcu commented on #419
It would be awesome! :D

[2019-08-10 13:16] lnicola opened #4674 "Ability to disable third-party data collection"
### Why/User Benefit/User Problem

I trust Mozilla with my Telemetry data and want to help improving the browser, but I don't want any information to get to third parties (e.g. Leanplum, Adjust, Google Analytics).

This is a Fenix parity issue.

### What/Requirements

- I want a clear Privacy Policy stating which third parties Fenix talks to, when, and what data it's sending
- I want a separate op

[2019-08-10 13:38] lnicola commented on #373
Is there a non-Flash version available?

[2019-08-11 14:11] genodeftest commented on #162
Fenix builds have been added but something about the arch detection is wrong missing the arm/aarch64 builds: https://gitlab.com/rfc2822/fdroid-firefox/issues/1

[2019-08-11 23:02] jonalmeida commented on #4633
@dragneelfps yes, please do! :)

[2019-08-12 03:29] vesta0 commented on #4633
Yes please @dragneelfps :+1:

[2019-08-12 04:59] vesta0 commented on #4421
Historically in Fennec, telemetry collects browser and feature usage data (including attributes for 3rd party apps such as LeanPlum), whereas Firefox Health Report collects stability and performance information about the browser to help us improve performance and fix problems.

[2019-08-12 05:06] lnicola commented on #4421
https://firefox-source-docs.mozilla.org/mobile/android/fennec/mma.html says

Is that incorrect or incomplete? If so, that's pretty bad.

[2019-08-12 05:47] dragneelfps commented on #4633
@vesta0 I have raised PR #4676 for this issue.

[2019-08-12 06:41] Fatcakes opened #4677 "Is a built in adblocker in the works?"

[2019-08-12 06:50] cadeyrn commented on #4677
#96.

[2019-08-12 07:48] isabelrios opened #4678 "Taskcluster job failing due to "createTask" "insufficient scopes""
TC build is marked as red.... in old taskcluster task view, the error shows incorrectly (per the taskcluster team) as "Error: Artifact "public/actions.json" not found at "/opt/fenix/actions.json" error "

However, the issue appears to be " createTask insufficient scopes" per
https://taskcluster-ui.herokuapp.com/tasks/TEXBpgLkR8WJh9izT73xrQ/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftas

[2019-08-12 08:26] Dexterp37 commented on #4662
@jonalmeida hey!

Please note that the `activation` ping is not owned by the Glean team: we supported the initial implementation work for helping the Fenix team on this. I think this is now owned and maintained [by the Fenix team](https://github.com/mozilla-mobile/fenix/blob/634ee184a6637dd0e2444a102231f4b396b08af3/app/pings.yaml#L20).

[2019-08-12 08:50] softvision-miralobontiu commented on #2217
No, actually it has nothing to do with the theme used.

![20190812_114626_Trim](https://user-images.githubusercontent.com/40694158/62854190-3d209400-bcf7-11e9-825c-b61c91eb8a8f.gif)

[2019-08-12 09:11] softvision-miralobontiu commented on #4653
This crash doesn't reproduce on the latest Nightly build 190812 (#12240720) with Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1).
I will close this issue.

[2019-08-12 09:11] #4653 closed

[2019-08-12 09:17] softvision-miralobontiu commented on #4649
This issue doesn't reproduce on the latest Nightly build 190812 (#12240720) with Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1).
I will close this issue.

[2019-08-12 09:17] #4649 closed

[2019-08-12 09:21] topotropic commented on #1117
@vesta0 what default do we want to support here?

[2019-08-12 09:28] softvision-miralobontiu commented on #4644
This issue no longer reproduces on the latest Nightly build 190812 (#12240720) with Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1).
I will close this issue.

[2019-08-12 09:28] #4644 closed

[2019-08-12 09:29] #4677 closed

[2019-08-12 09:35] AndiAJ commented on #3860
Hi @boek , I've just check the change on the latest **Nightly Build #12240720 from 12/8**, and it seems that the new empty state string "Collect the things that matter to you. To start, save open tabs to a new collection" **doesn't appear**.

![Screenshot_20190812-122901](https://user-images.githubusercontent.com/51314259/62856426-91c70d80-bcfd-11e9-8c51-93da51066765.png)

[2019-08-12 09:43] softvision-miralobontiu opened #4679 "[Bug] The "Disconnect" button's UI is broken"
## Steps to reproduce
1. Sign in to your account.
2. Sign out from your account and observe the "Disconnect" button.

### Expected behavior
The "Disconnect" button has no UI issues.

### Actual behavior
The "Disconnect" button's UI is broken.

### Device information
* Android device: all
* Fenix version: 20190812 (#12240720)

![20190812_Trim](https://user-images.githubusercontent.com/40694158/6285

[2019-08-12 10:05] mcarare opened #4680 "[Bug] (L10N) regression: back button alignment issue when saving tabs to collection"
There is a regression in master branch, after fixing #4323. Similar issue with #3843

## Steps to reproduce

press the "save to collection" button on the Fenix start screen

### Expected behavior

back button is aligned with text on a single row or on two rows
both texts are aligned with text on a single row

### Actual behavior

back button is misaligned with text on a single row
text is misalign

[2019-08-12 11:13] sv-ohorvath commented on #87
Cannot search the list of all passwords on 1Pass saved from other apps. Can only see the passwords saved from Fenix. Chrome can search through all the website-related items in the vault.
Dashlane only shows the autofill pop-up for Fenix, there should also be a hovering bubble (the app logo hovering) to search/add new passwords, like on Chrome.
Bitwarden works ok with new/existing passwords.
the de

[2019-08-12 11:30] AndiAJ commented on #4427
Hi, verified as fixed on the latest **Nightly Build #12240720 from 12/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus (Android 5.1.1)

[2019-08-12 11:30] #4427 closed

[2019-08-12 11:48] AndiAJ commented on #3790
Hi, verified as fixed on the latest **Nightly Build #12240720 from 12/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus (Android 5.1.1)

►Video Pixel 3a
![20190812_144039](https://user-images.githubusercontent.com/51314259/62862978-2b97b600-bd10-11e9-974c-067b75029e82.gif)

[2019-08-12 11:54] AndiAJ commented on #4354
Hi, verified as fixed on the latest **Nightly Build #12240720 from 12/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus (Android 5.1.1)

[2019-08-12 12:05] AndiAJ commented on #3392
Hi, verified as fixed on the latest **Nightly Build #12240720 from 12/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus (Android 5.1.1)

![Screenshot_20190812-150231](https://user-images.githubusercontent.com/51314259/62863785-80d4c700-bd12-11e9-96d6-ac47c2492c8a.png)

[2019-08-12 12:11] abodea opened #4682 "Modify the Navigation Bar color to match Fenix color while being in Private Mode"
### Why/User Benefit/User Problem
Modifying the navigation Bar in private mode to be transparent, it will create a feeling of a full screen app while browsing.
### What/Requirements
Modify the color for the navigation Bar.
### Acceptance Criteria (how do I know when I’m done?)
The navigation bar color matches the Fenix color in private mode.
### Notes
This change will make a difference for the new

[2019-08-12 12:12] abodea commented on #4107
Hi @lime124 I added this #4682. Sorry for the delay.

[2019-08-12 12:20] sv-ohorvath commented on #4594
Tried with a few devices but could only reproduce this with a Xiaomi Mi 4i (Android 5.0.2)
[camera logcat.txt](https://github.com/mozilla-mobile/fenix/files/3492233/camera.logcat.txt)

Other devices verified:
Samsung Galaxy Tab A 6 (Android 5.1.1)
Xiaomi Mi 8 Lite (Android 8.1)
Pixel 3 (Android 9)
Huawei P9 Lite (Android 6.0)

[2019-08-12 13:32] AndiAJ commented on #4594
Hi @ekager & @sv-ohorvath , I've just checked the above mentioned issue using the latest **Nightly Build #12240720 from 12/8** on the following devices and **couldn't reproduce the issue**:
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy Note5 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Samsung Galaxy J7 (2016) (Android 6.0.1)
• Samsung Galaxy S5 (Android 6.0.1)
• Samsung Tab Active (An

[2019-08-12 13:54] sv-ohorvath commented on #4125
Done some regression testing on the Sign-in UI and haven't found any new issues.
Nightly build: 190812
Devices: Pixel 3 (Android 9), Mi 4i (Android 5)

[2019-08-12 13:54] #4125 closed

[2019-08-12 14:01] softvision-miralobontiu opened #4684 "[Bug] Long-tapping on a photo doesn't display the photo's source"
## Steps to reproduce
1. Open a page with at least a photo (like an article from wikipedia.org, or from cnn.com)
2. Long-tap on a non-linked photo.

### Expected behavior
The source link of the photo is displayed in the menu, then the options.

### Actual behavior
"about:blank" is displayed, then the options.

### Device information
* Android device: all
* Fenix version: 190812 (#12240720)

![Scre

[2019-08-12 14:20] csadilek commented on #4652
This is also happening for the HomeFragment: https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6128579/

[2019-08-12 14:25] AndiAJ commented on #4123
Hi, **verified as fixed** on the latest **Nightly Build #12240720 from 12/8** using a Google Pixel 3a (Android 9).

✅ Youtube - Ping **5300ad6b-e6b2-4f74-9638-9a0d73832005**
✅ OLX - Ping **90ebc473-b06b-4f79-bbe6-c134e8ad316e**
✅ Pinterest - Ping **97329192-381d-4f69-b0ed-8ab71893308d**

[Logcat](https://github.com/mozilla-mobile/fenix/files/3492910/QABAppGG.txt)
[Glean Dashboard](https://debug-pi

[2019-08-12 14:25] #4123 closed

[2019-08-12 14:28] sv-ohorvath commented on #4338
Verified the x86_64 build runs on a Xiaomi Mi Pad 2 (Android 5.1, x86-64 processor). The reporter of #4142 confirmed that it's fixed for him too.

[2019-08-12 14:28] #4338 closed

[2019-08-12 14:29] mkaply commented on #4684
I was just about to report this. Note that Fennec does even better than the source - it shows the alt text. This can be seen on xkcd.com comics.

[2019-08-12 14:42] vesta0 commented on #2020
This bug doesn't beak usability but it does hinder browser adoption. We should keep it as a P2. I will place it in the right priority order on the Fenix Waiting board. Thanks!

[2019-08-12 14:43] vesta0 commented on #87
Thanks @sv-ohorvath do 1Pass and Dashboard work similarly to Chrome in Fennec?

[2019-08-12 15:16] callahad opened #4685 "[Bug] Crash when editing a datetime-local widget"
## Steps to reproduce

1. Visit https://www.translink.co.uk/
2. Tap on the datetime-local input:

![Screenshot](https://user-images.githubusercontent.com/24193/62876084-158ff280-bd1c-11e9-9d64-19a74f4fe877.png)

### Expected behavior

* A native datetime-local input widget appears

### Actual behavior

* Fenix crashes

### Device information

* Android device: Pixel 3a, running Android Q Beta 6
*

[2019-08-12 15:16] #4671 closed

[2019-08-12 16:02] ekager commented on #4679
Dupe of #4179

[2019-08-12 16:02] #4679 closed

[2019-08-12 16:09] lwa-moz commented on #4421
Strongly in support of the functionality mentioned in https://github.com/mozilla-mobile/fenix/issues/4663, and @lnicola 's related comment that Health Report and Leanplum data should be kept separate.

We want to give users full transparency and control over what data is collected, and also allow them to turn off notifications. We shouldn't conflate the data collected to send contextual notificati

[2019-08-12 16:14] jeanygong commented on #4222
@st3fan, @boek can you provide me the proper github edit access to this issue (or Fenix in general) to remove the needs:performance label as I triage the issue for the Performance team. It seems like I don't have the right access.

[2019-08-12 16:35] colintheshots opened #4686 "Investigate and fix potential security issue"
Fix this security issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=1572886

[2019-08-12 16:35] colintheshots opened #4687 "Investigate and fix potential security issue"
Fix this security issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=1572886

[2019-08-12 16:36] colintheshots commented on #4687
Closing duplicate from second submission.

[2019-08-12 16:36] #4687 closed

[2019-08-12 16:50] rpappalax opened #4688 "[Bug] UI tests failing on task: ':app:compileArmDebugAndroidTestKotlin'"
This has been failing since this commit:
https://github.com/mozilla-mobile/fenix/commit/a514cb3f8c13547afe6d17bc795699f477ffc624

up to this commit https://github.com/mozilla-mobile/fenix/commit/c9c43260c945c6d2398d49af884fbaa03ffef5ce

After that point taskcluster is failing with another error the blocks viewing the log files
[code]

[2019-08-12 17:00] callahad opened #4690 "[Bug] Main menu opens twice when tapping quickly"
## Steps to reproduce

1. Visit a website
2. Quickly double-tap the three-dot menu

### Expected behavior

1. The first tap opens the menu
2. The second tap triggers the Refresh button (or equally acceptably, does nothing at all)

### Actual behavior

* The menu opens twice, and thus requires two interactions to dismiss.

This screenshot shows the second main menu in the middle of its animation, a

[2019-08-12 17:19] #3626 closed

[2019-08-12 17:20] boek commented on #3626
Decided in the A-C triage meeting that we can close this as Fenix doesn't use this code anymore (No crashes on Sentry in the last 30 days as well)

[2019-08-12 17:53] bifleming commented on #599
@boek do we need a spike to investigate something for this story?

[2019-08-12 17:58] bifleming commented on #3702
Waiting on GV 70. @cpeterso this is a P1 bug for Fenix -- what are the changes of uplifting to GV 69?

[2019-08-12 18:05] bifleming commented on #3523
@sblatz Janet thinks the app is providing the information, it just needs to get displayed. @rfk can you confirm that we want this on the homescreen menu?

[2019-08-12 19:35] colintheshots commented on #4155
@topotropic What would Cut do here? We're on the browser screen at this point. Would it first open the search page and then cut the entire URL to the copy buffer? It doesn't seem to make sense to Cut unless the user is on a screen where the URL is editable.

Likewise, Paste would seem to require changing to the search screen if it doesn't mean Paste & Go.

[2019-08-12 20:40] sblatz commented on #4663
@lnicola has filed https://github.com/mozilla-mobile/fenix/issues/4674 to cover that second point in @mheubusch's comment.

[2019-08-12 20:49] lime124 opened #4693 "[ux only] user flow for all search access points"
this is a request from the Search telemetry group - Product Owner is mconnor.  _Due before October 1st._

The goal is to ensure we have hooks in all search access point so that we are collecting and attributing data properly.

A Fenix designer needs to provide user flows and mockups for all the search access points in Fenix. This information should be passed to Emily Thompson who may have follow u

[2019-08-12 21:00] mheubusch commented on #4674
Thank you for creating this separate issue, @lnicola!

[2019-08-12 21:07] andreicristianpetcu opened #4696 "[Bug] Typing in the search box of f64.ro is hard"
## Steps to reproduce
open f64.ro and type in the search field
https://vimeo.com/343310523
### Expected behavior
easy to type
### Actual behavior
had to type the same letter several times
### Device information

* Android device: ?
* Fenix version: latest nightly

[2019-08-12 21:08] andreicristianpetcu opened #4697 "[Bug] Typing in the search box of f64.ro is hard"
## Steps to reproduce
open f64.ro and type in the search field
https://vimeo.com/343310523
### Expected behavior
easy to type
### Actual behavior
had to type the same letter several times
### Device information

* Android device:
![android_version](https://user-images.githubusercontent.com/922368/62898615-95d74780-bd5e-11e9-94b0-f16c1fd03b96.png)

* Fenix version: latest nightly

[2019-08-12 21:28] TitanNano commented on #2370
@ekager @softvision-miralobontiu I can still reproduce this with `Nightly 190812 06:05 (Build #12240721)`

![bug_reprod](https://user-images.githubusercontent.com/4500858/62899691-a84e8280-bd58-11e9-914b-3d1d43c482c3.gif)

[2019-08-12 21:40] #4696 closed

[2019-08-12 22:48] cpeterso commented on #3702
I'll ask snorp. He wasn't comfortable uplifting the somewhat risky fix to a GV 68.0.x dot release, but GV 69 Beta might be OK since Christian tested the fix in GV 70 Nighty:

https://bugzilla.mozilla.org/show_bug.cgi?id=1510314#c20

[2019-08-13 00:39] matfantinel commented on #4578
Seems like a general issue with opening intents. I have a third party app that opens Reddit links and it opens correctly with Chrome, Brave and other Android browsers.

[2019-08-13 04:45] rfk commented on #3523
I think there should be *some* visible indicator of error state at higher menu levels, to guide the user to the thing that needs repairing. For example if you get into a similar state in Desktop, it will show:

* A little yellow exlamation-mark on the hamburger menu, to let you know something is wrong
* A yellow highlight over the account item if you activate the hamburger menu
* And so-on

But I'

[2019-08-13 04:49] kbrosnan commented on #4222
@kglazko is there any other work here or can we close this issue?

[2019-08-13 04:52] kbrosnan commented on #4684
Alt text should only be displayed when the image fails to load. Displaying title text is #580.

[2019-08-13 05:14] andreicristianpetcu commented on #4696
@ekager was there anything wrong with my bug report? I see you closed it without any comment.

[2019-08-13 05:23] cadeyrn commented on #4696
You opened two identical reports and the other one is still open: #4697

[2019-08-13 06:03] flaki commented on #4155
My feedback will echo that of @Djfe — the moment I installed Preview and realized it did the automatic copy on longpress I was startled a bit (I was used to a context menu popping up) but I almost instantly fell in love with the simplicity and usefullness of it. During my day-to-day workflow I want copy URLs _way_ more often than I want to paste-and-go to an URL. I understand this might not match

[2019-08-13 06:17] softvision-miralobontiu commented on #2370
Yes, I was able to reproduce the flash with Sony Xperia z5 Premium (Android 7.1.1) with the latest Nightly build 190812 (#12241855). It wasn't 100% reproducible, but I was able to obtain a logcat, hope it helps.

[logcat.txt](https://github.com/mozilla-mobile/fenix/files/3495530/logcat.txt)

![20190813_090614_Trim](https://user-images.githubusercontent.com/40694158/62919239-bd540180-bdaa-11e9-883a

[2019-08-13 07:49] pwd-github commented on #2630
Hi @topotronic

First of all, you're definitely adding more stuff, basic things are missing from the context menus still. Not to mention that anything that extensions add.

Secondly, with the bottom navigation and being designed for one handed use, surely it doesn't make sense to then have all of the contextual menus out of reach.

Thirdly, bottom sheets are much nicer than what's being used.

[2019-08-13 07:57] softvision-miralobontiu opened #4702 "[Bug] The security level globe is broken on Android 5&6"
## Steps to reproduce
1. Go to an insecure page or turn off your internet connection and observe the security level icon - the globe.

### Expected behavior
The icon is displayed correctly.

### Actual behavior
The icon is broken.

### Device information
* Android device: Nexus 5 (Android 6.0.1), Huawei P9 Lite (Android 6), HTC Desire 820 (Android 6.0.1), Samsung Galaxy Tab A6 (Android 5.1.1)
* Fe

[2019-08-13 08:04] sv-ohorvath commented on #87
Hey @vesta0, tried to find out why they didn't work the same and it seems it's a time matter, the other saved passwords will appear but they need some time, Chrome and Fennec don't show the others immediately either. So all 3: Dashlane, 1Password, Bitwarden seem to work fine on Fenix Nightly. Should we close this?

[2019-08-13 08:17] andreicristianpetcu commented on #4696
sorry. I got 500 error from github

[2019-08-13 08:25] andreicristianpetcu commented on #4155
[On Firefox Preview, while browsing, long pressing the url bar doesn't auto-copy the url anymore](https://www.reddit.com/r/firefox/comments/cpev98/on_firefox_preview_while_browsing_long_pressing/)

[2019-08-13 09:27] creesch commented on #96
Indeed, it seems to me that when #574 is implemented it also automatically resolves this userstory.

[2019-08-13 10:00] topotropic commented on #4155
@colintheshots yeah, that makes sense, I kind of saw it as shortcut to the context menu that appears on the search screen. I'll look into it.

@vesta0 can you point me to the feedback we got about long press to copy? thanks!

[2019-08-13 10:35] topotropic commented on #4474
I'd suggest to put a notification dot on the 3-dot home menu and add "What's new" as last menu item. This links to a "What's new" page on SUMO. We can also link to is from Settings > About.

[2019-08-13 12:01] topotropic commented on #4046
What about the following:

- Don't show desktop folder for people who haven't signed in
- Show desktop folder for people who signed in and synced bookmarks –  also  show folder after  log out
- When someone logs in with a different account, show a warning and merge – like described in above comment https://github.com/mozilla-mobile/fenix/issues/4046#issuecomment-520105268

[2019-08-13 12:25] topotropic commented on #3004
I think some of the initially described issues about cutting of things got resolved by removing the home screen animation (search bar snaps back into place). What's left here is Amy's proposed design https://github.com/mozilla-mobile/fenix/issues/3004#issuecomment-499587662
@sblatz did anything change here about your initial assessment?

[2019-08-13 14:29] Amejia481 commented on #4702
@NotWoods is this related to https://github.com/mozilla-mobile/android-components/pull/4095?

[2019-08-13 15:13] Lululalu opened #4704 "[Bug] [delete browsing data] disable checkboxes or hide items when there is no data to be cleared"
#### Expected behavior
When I see several checkboxes I want to mark them all to delete everything, but if there is no content to be deleted, the checkbox remains the same. IMO these elements should have a more washes out color, indicating they are not available.

### Actual behavior
![Screenshot_20190812-225414_Firefox Preview](https://user-images.githubusercontent.com/32398857/62953280-97872680-b

[2019-08-13 15:13] Amejia481 commented on #2563
No reproducible anymore, as we fixed the toolbar.

[2019-08-13 15:17] NotWoods commented on #4702
Not sure what caused the issue, but tweaking the globe path fixes it. I guess 5/6 render vectors in a statelist drawable oddly.

[2019-08-13 17:14] boek commented on #4697
@cpeterso is this a known issue?

[2019-08-13 17:35] colintheshots opened #4707 "Fix security issue 1573549"
Fix the security issue here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1573549

[2019-08-13 17:45] sblatz commented on #3811
Going to hand this off to our dev relations team :)

[2019-08-13 17:48] sblatz commented on #1287
Closing this as they're now in the app.

[2019-08-13 17:54] sblatz opened #4708 "GeckoView engine flashes black when navigating away"
This happens when navigating away from the GeckoSession. It occurs when we close a tab, open a settings fragment from BrowserFragment, etc.

The GV team has said this is difficult for them to fix on their end and not a high priority.

A workaround would be for us to screenshot the GV and animate that view (which is what we did in Focus) and seems like a reasonable solution for now.

![sad 2019-08-

[2019-08-13 18:16] colintheshots opened #4709 "Fix Bugzilla issue 1573549"
Fix the issue here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1573549

[2019-08-13 18:37] NotWoods opened #4711 "Extract speech recognizer code from IntentReceiverActivity"
We should extract the RecognizerIntent code into its own activity so that the IntentReceiverActivity can stay simple.

[2019-08-13 19:10] apbitner commented on #4285
May be some overlap with https://github.com/mozilla-mobile/fenix/issues/3894

[2019-08-13 19:13] liuche opened #4712 "[Telemetry] Collect whether user has turned off notifications from Fenix"
Owner: Product Manager

#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know if people are annoyed by notifications, and use the Android settings to turn them off.

#### Hypothesis
- We believe that users may turn off notifications when presented with irrelevant notifications. We'll use the notifications state to measure whether our notifications are

[2019-08-13 20:53] sblatz commented on #3811
I've spoken with the dev relations team and they are willing to publish an article so long as we can provide the heavy content. Let's pull this into an upcoming sprint and publish on [Hacks](https://wiki.mozilla.org/Devrel/Hacks).

[2019-08-13 20:58] kbrosnan commented on #4357
closing as dupe

[2019-08-13 20:58] #4357 closed

[2019-08-13 21:09] vesta0 commented on #87
Thank you @sv-ohorvath and all of our contributors who helped test this!

[2019-08-13 21:09] #87 closed

[2019-08-13 21:33] bifleming commented on #2563
Per Vesta/Emily, we are looking to do the dynamic toolbar still :)

[2019-08-13 21:41] kbrosnan commented on #4690
I can reproduce this on Android Q using a Pixel 2 XL. I am not able to reproduce this on a Pixel 3 running Android 9, Note 9, Galaxy S8 or a Nexus 5x. Looks to be Android Q only.

[2019-08-13 21:44] cadeyrn commented on #4690
I can reproduce on HTC U11 with Android 9.0.

[2019-08-13 21:59] eoger commented on #4037
Blocked on https://github.com/mozilla-mobile/android-components/pull/4114 riding the a-c train.

[2019-08-13 22:52] lime124 commented on #2157
@liuche @vesta0 thanks to michelle i found the spec! can you take a look and see if this covers everything you need?

quickly looking it over, the only thing that isn't clear to me is how it comes up after you sign in with your account. if there's more design work needed, let's loop in @apbitner as i think the most frequent case will be coming off onboarding flow.

[2019-08-13 23:16] kbrosnan commented on #4685
Sentry issue: [FENIX-NIGHTLY-13](https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5921693/)

[2019-08-13 23:19] kbrosnan commented on #4685
I can reproduce this on Reference Browser as well. [REFERENCE-BROWSER-62](https://sentry.prod.mozaws.net/share/issue/d1625298d387422591939f02599dddb9/)

[2019-08-14 01:30] liuche commented on #2157
@lime124 do I need a Mozilla invision account? All the past invision links have been public but I can't see this one without signing in, but I don't think I have a Mozilla account for Invision.

[2019-08-14 02:39] mheubusch opened #4716 "[Bug]Update SUMO content for how to disable data collection"
Update existing SUMO copy linked from [Privacy Notice](https://support.mozilla.org/en-US/kb/share-data-mozilla-help-improve-firefox?redirectlocale=en-US&redirectslug=send-performance-data-improve-firefox) to include advice on how to disable data collection from Firefox Preview (should also include iOS).

Current content:
How do I opt-in or opt-out of sending performance data?

You can turn this on

[2019-08-14 02:49] lime124 commented on #2157
whoops sorry about that - i pasted the URL instead of the share link. it should work now.

[2019-08-14 04:11] Lululalu opened #4717 "[Bug] touching back while the address bar is enabled navigates to the previous page, instead of just leaving the address bar to the current page."
## Steps to reproduce
Browse some pages
Touch the address bar
Touch the device's back button

### Expected behavior
Fenix leaves the address bar and goes back to the current page.

### Actual behavior
Fenix leaves the address bar and goes back to the previous page.

### Device information

* Android device: Galaxy A5 2017
* Fenix version: 190813

[2019-08-14 04:28] Lululalu opened #4718 "[Bug] [site permissions] "permissions" is not vertically centered"
## Steps to reproduce
Go to site permissions

### Expected behavior
The interface is consistent

### Actual behavior
There's too much between "permissions and "exceptions"
![Screenshot_20190814-012319_Firefox Preview](https://user-images.githubusercontent.com/32398857/62994535-ce485580-be32-11e9-94b4-38de059978ad.jpg)

### Device information

* Android device: Galaxy A5 2017
* Fenix version: 19081

[2019-08-14 07:37] Pheonix73 commented on #4718
@pocmo is it possible to get the actual padding for this?

[2019-08-14 09:43] pocmo opened #4719 "Nightly builds broken: Unresolved reference: testing"
[code]

Let's fix this and also figure out why this did not happen on PRs and master. This is problematic.

https://taskcluster-ui.herokuapp.com/tasks/Cj_W5UCaSX6PWGWjlEiiOQ/runs/0

[2019-08-14 09:48] pocmo commented on #4719
Seems like this may be caused by this change:
https://github.com/mozilla-mobile/fenix/commit/e6f9445d11f8f24516d65f1cb06d511f82a95593

The nightly build are neither in `debugImplementation` nor `forPerformanceTestImplementation`.

Since this is for testing I wonder why this is not just a test implementation? 🤔

[2019-08-14 09:54] pocmo commented on #4719
I went through all iterations back to the first commit that introduced it:
https://github.com/mozilla-mobile/fenix/commit/96b68948b5a868baecb2df2cf40b479a7c1c2860

However I can't see a reason why this would be anything but a `testImplementation` dependency. I'll try that and run tests / taskcluster to see.

[2019-08-14 11:22] pocmo commented on #4719
Okay, weird, that's how they expect it to get added:
https://developer.android.com/training/basics/fragments/testing

But that would mean that we could only run tests against debug builds ... which is ... strange. 🤔

[2019-08-14 11:41] abodea commented on #4455
Verified as fixed with the latest debug build(from master) using Samsung Galaxy s10+(Android 9).
The history library labels items were displayed in a correct order **`Last 24 hours; Last 7 days; Last 30 days; Older `.**

[2019-08-14 11:41] #4455 closed

[2019-08-14 11:56] pocmo commented on #4719
More background:
* https://issuetracker.google.com/issues/122321150
* https://issuetracker.google.com/issues/128612536

This is bananas.

Since the dependency is only needed in `StoreProviderTest` I'm inclined to just get rid of it completely until at least [128612536](https://issuetracker.google.com/issues/128612536) is fixed. Maybe we can get that test working without that dependency.

[2019-08-14 12:14] AndiAJ opened #4720 "[Bug]Improper position of the "Select Tabs", "Select collection" strings"
## Prerequisites
Have a couple of open tabs

## Steps to reproduce
1.  Tap "Save to collection"
2. Check the position of the upper left "Select Tabs" string

### Expected behavior
The string should be properly displayed next to the **←**  sign

### Actual behavior
Seems to be positioned higher

### Device information

* Android device: Huawei Media Pad M3 Lite 10 (Android 7)
* Fenix version: Debug

[2019-08-14 12:22] AndiAJ opened #4721 "[Bug]Flicker when deleting tabs by swipe from a collection"
###
Have a collection with a couple of tabs created

## Steps to reproduce
1. Delete the tabs from the collection by swiping

### Expected behavior
No animation issues

### Actual behavior
Flicker when deleting the tabs by swiping

### Device information

* Android device: Huawei Media Pad M3 Lite 10 (Android 7)
* Fenix version: Debug version from Master 14/08

► Video
![20190814_144915](https://u

[2019-08-14 13:13] pocmo opened #4723 "IllegalStateException: Not allowed to start service Intent { act=mozac.feature.media.service.UPDATE_STATE cmp=org.mozill..."
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6140895/

[code]

[2019-08-14 13:14] pocmo commented on #4723
This only affects Nightly builds (feature is behind a Nightly flag). Filing to address this in AC.

[2019-08-14 13:15] pocmo commented on #4723
AC issue: https://github.com/mozilla-mobile/android-components/issues/4121

[2019-08-14 13:15] AndiAJ opened #4724 "[Bug]URL bar animation lag"
## Steps to reproduce
1. Navigate from the URL bar to a website
2. Check the animation of the URL bar

### Expected behavior
No UX issues

### Actual behavior
Animation lag

### Device information

* Android device: Huawei Media Pad M3 Lite 10 (Android 7)
* Fenix version: Debug version from Master 14/08

►Video
![20190814_160836](https://user-images.githubusercontent.com/51314259/63023602-1eb0c900

[2019-08-14 13:20] pocmo opened #4725 "IllegalStateException: Fragment SearchFragment{c8236a4 (9416f8ea-eb64-450b-a71b-cca8bcb9148e)} not attached to a context."
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6103753/

[code]

[2019-08-14 13:21] pocmo commented on #4725
There seems to be an edge case where we can crash from inside `consumeFrom`. @csadilek and I looked at this recently.

The number of crashes have spiked a little bit in the last days so I'm going to investigate this. It's suspicious that this is only happening in `SearchFragment`.

[2019-08-14 13:28] AndiAJ opened #4726 "[Bug]Flicker when navigating to a website from the open tabs"
## Prerequisites
Have a couple of open tabs

## Steps to reproduce
1. Navigate to any website from the open tabs section

### Expected behavior
No UX issues

### Actual behavior
The selected tab flickers

### Device information

* Android device: Huawei Media Pad M3 Lite 10 (Android 7)
* Fenix version: Debug version from Master 14/08

► Video
![20190814_162210](https://user-images.githubuserconten

[2019-08-14 13:45] AndiAJ opened #4727 "[Bug]Website loading issues (Netflix)"
## Steps to reproduce
1. Navigate to Google.com
2. Enter "Kengan Ashura" in the search box
3. Tap on the Netflix link:
https://www.google.com/url?q=https://www.netflix.com/title/80992228&sa=U&ved=2ahUKEwjMoIqbvoLkAhVq7aYKHU8yBA8QFjAKegQIBhAB&usg=AOvVaw0uG1xL0Vbhuf9wxJ6DjeKq

### Expected behavior
User can navigate to desired website

### Actual behavior
Load starts, restarts and so on

### Device

[2019-08-14 13:59] pocmo commented on #4725
Okay, I have a theory what happens and will continue in AC:
https://github.com/mozilla-mobile/android-components/issues/4125

[2019-08-14 13:59] pocmo commented on #4725
Sentry issue: [FENIX-26F](https://sentry.prod.mozaws.net/operations/fenix/issues/6125575/)

[2019-08-14 14:10] #4719 closed

[2019-08-14 14:14] jonichan commented on #215
We've written a SUMO article on how to add a search widget: https://support.mozilla.org/en-US/kb/how-add-firefox-preview-search-widget-your-home-screen

[2019-08-14 14:16] jonichan commented on #4716
We have a SUMO article specifically for telemetry on mobile. I wonder if it's more appropriate for this: https://support.mozilla.org/en-US/kb/send-usage-data-firefox-mobile-devices

[2019-08-14 14:27] cadeyrn commented on #4720
Duplicate of #4680.

[2019-08-14 14:32] AndiAJ opened #4729 "[Bug]Selection handlers missing when tapping on "Select all" from the text selection floating bat"
## Steps to reproduce
1. Navigate to a website and long tap on any plain text
2. Tap on "Select all" from the text selection floating bar

### Expected behavior
All text content is selected displaying the selection handlers

### Actual behavior
The selection handlers are missing

### Device information

* Android device:
•  Samsung Galaxy S10 (Android 9)
•  Huawei Media Pad M3 Lite 10 (Android 7)

[2019-08-14 14:34] abodea commented on #4529
Verified as fixed using latest debug build(from the master) with **`Samsung Galaxy s10+(Android 9), Huawei P9 Lite(Android 6), Samsung Galaxy S7(Android 7).`**
Please note that I tried to reproduce this issue following the steps from the description but the issue cannot be reproduced.

Also, I tried the following:
1. Start the download of few big apps from Play Store.
2. Open more apps that are us

[2019-08-14 14:34] #4529 closed

[2019-08-14 14:37] softvision-miralobontiu commented on #1290
Verified on a debug build 1.0.1933 (a-c 8.0.0, 78354bc12) with Huawei P9 Lite (Android 6), and Xiaomi Mi 8 Lite (Android 9) that tapping on the search bar from home screen:
• search bar slides up and transitions in size and color (search bar height is condensed, search field goes grey, text changes color),
• Fenix logo slides up with search bar until it isn't displayed anymore,
• contents below th

[2019-08-14 15:06] AndiAJ commented on #4720
Will close base on the above [comm](https://github.com/mozilla-mobile/fenix/issues/4720#issuecomment-521269230)

[2019-08-14 15:06] #4720 closed

[2019-08-14 15:08] shahsurajk commented on #4236
This was once a feature in the support library, but since it requires location permission to calculate the sunrise/sunset time and the fact that *still* computing the sunrise and sunset times is not accurate, these were removed. A fact to note here is that this feature can introduce more bugs than actually providing features. A thing rather to look out for would be the "battery mode" which is turn

[2019-08-14 15:12] ryanfeeley commented on #2157
@lime124 My mockup linked above shows the desired experience (switches beside History and Bookmarks). What was shipped was a radically descoped version that did not allow the user to interact with these selections, nor did it even accurately indicate the users preference at the account level (meaning if they had disabled history syncing, the read-only checkmark did not reflect that).

If I underst

[2019-08-14 15:14] ryanfeeley commented on #2157
This would be handled on the web using our "choose what to sync" screen, which @vladikoff can speak to. If the user has never consented to syncing at the account level, they should see this screen when signing in to continue to Sync (and always see it when creating an account to continue to Sync).

[2019-08-14 16:04] sblatz commented on #3059
This will be covered by https://github.com/mozilla-mobile/fenix/pull/4626

[2019-08-14 16:16] sblatz commented on #373
Touched base with @lwa-moz. He said that he believes this is working but we still need to go through the full QA process to verify its functionality.

[2019-08-14 16:21] Amejia481 commented on #4702
Awesome thanks!

[2019-08-14 16:29] #4702 closed

[2019-08-14 17:05] sblatz opened #4732 "[Bug] Search engines no longer display when entering search fragment"
Looks like this was a merge conflict issue with: https://github.com/mozilla-mobile/fenix/pull/4406/files

[2019-08-14 17:07] sblatz commented on #1744
Updated the ticket's title to reflect the work left.

[2019-08-14 17:09] kbrosnan commented on #4718
@pocmo is not the best person to answer that.

@lime124 who owns this dialog? Should we line the header up with the items or something else?

[2019-08-14 17:10] cpeterso commented on #2312
Emilio on the Gecko Layout team is making good progress debugging the Gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1551659#c11

[2019-08-14 17:12] #4434 closed

[2019-08-14 17:12] cpeterso commented on #2563
I am told that @snorp is drafting an engineering plan for the GV and Gecko work to support the dynamic toolbar.

[2019-08-14 17:16] cpeterso commented on #4697
@andreicristianpetcu - When you say you had to "type the same letter several times", does that mean the first few keyboard taps didn't output any letters to the web page? Which Android keyboard are you using? Does Lineage use a different keyboard than Google's Android (Google's Gboard keyboard)?

[2019-08-14 17:21] boek opened #4733 "Releng for 1.3"
## Overview ##
Soft code freeze for a release is the *second Wednesday of the sprint*, and most of releng happens between *Wednesday and Friday*, String freeze is the *first Tuesday* of the sprint.

| Monday       | Tuesday     | Wednesday                    | Thursday       | Friday      |
|--------------|-------------|------------------------------|----------------|-------------|
| Sprint Start

[2019-08-14 17:22] #4258 closed

[2019-08-14 17:24] andreiuipath opened #4734 "[Bug] White page some times. Need to refresh"
## Steps to reproduce
This does not happen often.
I open this link from history or from a collection
https://tools.taskcluster.net/index/project.mobile.fenix.v2.nightly/latest
### Expected behavior
The page should load like it always did until yesterday or two days ago since this is a recent issue.
It happens on other pages also, like on Reddit.
### Actual behavior
I get a white page. I need to re

[2019-08-14 17:27] cpeterso commented on #4697
Never mind. I can reproduce this typing problem in Fenix on my Moto G5. 😄 This seems to be a Fenix-specific problem because keyboard input seems to work fine in Fennec, Focus, and R-B (and Chrome and Edge). I'll file a GeckoView bug for that.

I also see that the site's "Este timpul" newsletter popup is displayed in the wrong position (covering the search box) in Fenix and R-B instead of below the

[2019-08-14 17:32] andreicristianpetcu commented on #4697
@cpeterso I typed l several times in the video with no output. I'm using Hacker Keyboard from F-Droid https://f-droid.org/en/packages/org.pocketworkstation.pckeyboard/
LineageOS uses the keyboard from AOSP (the last open source google keyboard). I think the latest versions of google keyboard is proprietary and is shipped in Google Play now.

[2019-08-14 17:36] andreicristianpetcu commented on #4697
Damn. The AOSP keyboard works fine with Fenix on the site.

[2019-08-14 17:55] vesta0 commented on #215
Thank you for the article @jonichan  :) It's great but can we change the screencap to one that includes the widget in at least 2 different sizes, not have the Google search bar in there, and possibly better resolution? I can send you a sample if that helps!

[2019-08-14 17:56] cpeterso commented on #1753
Removing the `needs:gv` label. The GV bug was closed as WONTFIX because the GV team says this is an app bug. The app should be responsible for deciding whether to acquire audio focus.

This issue has an `a-c` label. Is this issue waiting for A-C work? If not, can we also remove this issue's `waiting` label?

[2019-08-14 17:59] colintheshots commented on #4709
This should be fixed.

[2019-08-14 17:59] #4709 closed

[2019-08-14 18:00] colintheshots commented on #4307
This should be fixed.

[2019-08-14 18:00] #4307 closed

[2019-08-14 18:48] jyeontaek opened #4736 "[Bug] Search shortcuts shouldn't be displayed when URL bar is tapped from browser"

[2019-08-14 18:56] kbrosnan commented on #4729
This is Gecko behavior, the same issue is present in reference browser. Though I could see an argument that the selection handles are less likely to be needed as the user is expected to use copy as the next action.

Chrome has some odd behavior on Wikipedia with select all due to the hidden text on the 3 bar menu.

[2019-08-14 19:22] topotropic commented on #4155
@vesta0 I'd suggest to have "Copy" and "Paste & Go" assuming that people go to search view when they just want to paste, cut or edit an URL

[2019-08-14 19:33] NotWoods commented on #4049
Marking this as wontfix since we don't plan to support `file://` URLs.

[2019-08-14 19:33] #4049 closed

[2019-08-14 19:41] sblatz commented on #3004
@topotropic Expanding the collections open smoothly is still going to be difficult for us to handle.
Here is the current behavior:
![behavior 2019-08-14 12_40_12](https://user-images.githubusercontent.com/4400286/63050779-b4d5f680-be90-11e9-95b5-bb655802950f.gif)

[2019-08-14 19:42] sblatz commented on #3523
For what it's worth, this is very small engineering effort. And it seems reasonable for it to match the behavior shown in the browser screen.

[2019-08-14 20:01] sblatz commented on #4690
I was able to reproduce this on my Galaxy s9 on 9.0.

This definitely feels like an edge case as you have to tap *very* quickly. But perhaps we should disable the button while the menu is inflating.

[2019-08-14 20:03] sblatz commented on #4648
Closing as dup of #3892.

[2019-08-14 20:03] #4648 closed

[2019-08-14 20:04] ekager opened #4737 "What's New Entry for 1.3"
This ticket tracks work for the SUMO page and Google Play release notes.

[2019-08-14 20:21] sblatz commented on #4642
I cannot reproduce this on master 😕

[2019-08-14 20:26] boek opened #4738 "investigate handling Android App Links"
https://developer.android.com/training/app-links?authuser=1

[2019-08-14 20:28] ekager commented on #4652
Should we close this issue now? Or are we waiting to monitor Sentry for resolved crashes?

[2019-08-14 20:44] ekager commented on #3860
We added the new string but forgot to use it. I've opened #4739 to address this and we can pull it into this release

[2019-08-14 20:50] #4530 closed

[2019-08-14 20:53] #4341 closed

[2019-08-14 20:57] sblatz opened #4740 "[Bug] Left with blank session after clearing browsing data"
I think we used to pop here, but now we're leaving users in a blank session.
![delete bug](https://user-images.githubusercontent.com/4400286/63055729-6b3ed900-be9b-11e9-9102-7747ef243ecd.gif)

Similar STR: https://github.com/mozilla-mobile/fenix/issues/4642

[2019-08-14 20:57] sblatz commented on #4740
I believe @colintheshots was working on fixes related to issues like this?

[2019-08-14 21:14] #3860 closed

[2019-08-14 21:18] vesta0 commented on #4474
Thanks @topotropic yes I am good with your proposal. Down the road I'd really love to explore what more we can do with homescreen cards as well but for now this is a good solution!

[2019-08-14 21:18] sblatz commented on #4664
Adding "feature request" label so Vesta sees this in her triage!

[2019-08-14 21:27] cpeterso commented on #4458
@apbitner - We need some UX feedback on Fenix's (and thus probably GeckoView's) default font settings. For example, do we want to use system font sizes ("Automatic Font Sizing" setting) and/or enable font inflation for non-mobile content by default? I think we discussed font defaults when you designed Fenix's font size controls.

@buttercookie42 is a Fennec and GeckoView contributor and has found

[2019-08-14 21:36] vesta0 commented on #4155
@topotropic I like your suggestion but I think we may also want to include just "Paste" to give users the option of modifying a URL or search term. What do you think?

Also here's the relevant [UR feedback](https://docs.google.com/document/d/1rFRqlHgDLztMvBBBpCQFSFsdkN7Zm2tC4GE4xi1m6-M/edit#) and the [UX decision](https://docs.google.com/document/d/1x0_t8kkg6q_pFfz6LfyrjY2h2nKM3RSnGPexdXwYOxo/edit

[2019-08-14 21:37] sblatz opened #4742 "Write tests for DefaultToolbarMenu"
DefaultToolbarMenu currently has a lot of our currently untested code. We should write some tests for it :)

[2019-08-14 21:37] sblatz opened #4743 "Write tests for TabCounter"
TabCounter currently has a lot of our currently untested code. We should write some tests for it :)

[2019-08-14 21:42] sblatz opened #4744 "Refactor HomeFragment to be more testable"
Currently there is a lot of code in HomeFragment that cannot be tested because it needs to be abstracted out. Let's refactor this code out and write some tests for it 😄

[2019-08-14 22:03] sblatz commented on #4421
QA: can you please verify the items that have checkmarks? :)

[2019-08-14 22:21] maverick74 commented on #96
The  reason for this to ship in Firefox itself, instead of an add-on is that many users do not know about add-on support.

Most does not even know what an add-on is. They just install the browser and get on with it.

This should be in Firefox itself, if you ask me!

Still, add-on support in Firefox Mobile, should be more marketed!!!

[2019-08-14 22:32] cpeterso commented on #3903
Removing the `needs:gv` label because this is an app bug, not a GV bug, according the Randall: https://bugzilla.mozilla.org/show_bug.cgi?id=1570071#c2

Fenix needs to check the `LOAD_FLAGS_REPLACE_HISTORY` flag and save the original URL https://m.youtube.com, not the redirect URL https://www.youtube.com?app=desktop.

[2019-08-14 22:47] cpeterso commented on #1486
snorp gave his OK to uplift the GV fix to GV 69 Beta. @csadilek manually verified the GV fix using R-B and GV 70 Nightly. I've requested uplift here: https://bugzilla.mozilla.org/show_bug.cgi?id=1510314#c22

[2019-08-14 23:01] jcdickinson commented on #96
Extension support is a much larger story than adblocking. Native adblocking is a quick win, especially considering that many potential beta testers could be holding out for this specific feature.

[2019-08-14 23:01] lime124 commented on #4458
assigning to @apbitner removing ux label. thanks!

[2019-08-14 23:43] rpappalax commented on #4598
Fixed, thanks!

[2019-08-14 23:43] #4598 closed

[2019-08-14 23:48] rpappalax commented on #4688
This appears to have been fixed with https://github.com/mozilla-mobile/fenix/commit/e1f0c9f48bc2cdf1411deced496101a8f25aec92 but the mockwebserver is now no longer displaying web content causing UI tests (using the mockwebserver) to fail.  @ekager @sblatz could one of you take a look at this?
The last commit I could find where UI tests were properly displaying content in the mockwebserver was: htt

[2019-08-15 00:17] #4680 closed

[2019-08-15 00:35] vesta0 commented on #1117
I think we should always default to play and but give our users the option to change that to pause in the settings.

[2019-08-15 01:29] robsmith11 commented on #4049
Is there a discussion somewhere explaining this decision?

Chrome on Android supports opening local files.  Why wouldn't Firefox on Android support a useful feature that Firefox supports on all other platforms?

[2019-08-15 04:53] gbil opened #4748 "[Bug] local DNS not used"
## Steps to reproduce
1. Monitor DNS traffic on tablet
2. Browse with ff preview

### Expected behavior
see dns queries on local dns server

### Actual behavior
no dns traffic seen instead cloudflare traffic seen
seems like dns over https is used and couldn't  find info in fenix bug list or support documentation

### Device information

* Android device: sony z4, samsung s10
* Fenix version: lates

[2019-08-15 08:08] topotropic commented on #4155
I don't have a strong opinion here, my main concern about "Paste" is that we go to the search screen and the search box jumps to top and keyboard pops out.

But let's add it, people might wonder how to get to "Paste" when "Paste & go" is in the menu. I'll update the root issue above with the spec.

[2019-08-15 08:52] emilio commented on #4049
I'd also love to know the reasoning, and specially whether it affects `content://` URIs, which Fennec uses translating to `file://` URIs.

[2019-08-15 11:50] Poopooracoocoo commented on #4208
@cpeterso arfggggggghhhhhhhghhh I'm now having those issues again.

[2019-08-15 14:26] gbil commented on #4748
So I'll close this one as invalid as I came to the following conclusion after hours of troubleshooting

for some strange reason when Fenix is used AND some other apps but also the adb shell to access resources, not only the DHCP provided DNS servers are used for DNS queries but precedence takes the DNS query on the DHCP IP address itself !!!! Not sure what kind of Android "magic" this is but I'll

[2019-08-15 14:26] #4748 closed

[2019-08-15 15:47] apbitner commented on #4458
@cpeterso @buttercookie42 TBH when we added the 'Automatic Font Sizing' toggle to Fenix accessibility settings I thought that would include font inflation. Would fixing that suffice, vs needing an additional toggle?

[2019-08-15 17:04] rpappalax commented on #4688
Thanks for looking into this.  Currently there are 6 UI tests failing due to attempt to load a local static asset, then crash.

[2019-08-15 17:26] lime124 commented on #3927
this is waiting on the final decisions regarding the navigation bars and auto-scrolling with GV.

[2019-08-15 17:28] lime124 commented on #934
UX is waiting on the final decision for replace vs migrate from product (Reese).

[2019-08-15 17:43] vesta0 commented on #4155
Sounds good @topotropic thank you!

[2019-08-15 17:45] vesta0 commented on #4275
@jonalmeida it would be great to know status of this investigation by end of day today, so we can add the relevant bugs to our next sprint at tomorrow's sprint planning. Let me know if that's possible.

[2019-08-15 18:11] miketaylr opened #4754 "[webcontent] Unabled to load Google Forms link"
Originally reported @ https://github.com/webcompat/web-bugs/issues/37729

## Site with issue and any steps to reproduce
1. visit https://forms.gle/j2YEi3HcfT49buQu5 in Fenix
### Expected behavior
Page loads

### Actual behavior
It never loads, the progress indicator kinda just pulsates.

### Does toggling Tracking Protection fix the issue? (Press the lock icon in the toolbar while on the site to s

[2019-08-15 18:14] cpeterso commented on #4149
snorp says this feature will important for fullscreen PWAs or for Fenix without a top toolbar.

GV bug 1503656 was closed as a duplicate of existing bug https://bugzilla.mozilla.org/show_bug.cgi?id=1503656

[2019-08-15 18:24] miketaylr commented on #4754
Actually, this is a duplicate of mozilla-mobile/fenix#3070

[2019-08-15 18:24] #4754 closed

[2019-08-15 18:28] sblatz opened #4756 "[Bug] Intermittent crash when sending `fenix://enable_private_browsing`"
This crash can happen when a user has the Fenix app open on the home screen, then sends the private browsing deep link event. This feels like a race condition. I can only reproduce every third or fourth try and it looks like it's related to lazy vars 😅

Of note: I think this crash is hard to encounter in the real world.

In terminal:
[code]

<img width="1310" alt="image" src="https://user-images.g

[2019-08-15 18:32] sblatz opened #4757 "Consider removing voice icon from search widget if not using Google as default engine"
@vesta0 mentioned we should consider disabling the voice icon if a user doesn't have Google as their default engine because a user likely wouldn't want their speech data going to Google.

[2019-08-15 18:41] liuche commented on #1284
Will have a kick off meeting next week, with A-S people included. Vesta is working on the feature brief.

[2019-08-15 18:41] sblatz commented on #1098
@Callek are you able to provide a status update for us? 😄

[2019-08-15 18:43] liuche commented on #4500
First phase: exposing read-only logins through FxA is already available.

[2019-08-15 18:51] sblatz commented on #1098
From a Slack conversation with @Callek, it sounds like there's not work here to be done on the fenix engineering side. I'm going to remove it from our prioritized backlog because of this :)

[2019-08-15 18:52] Callek commented on #1098
So the current status is that, yes I am working on it.

We plan to have automation periodically:
* Creating PR's from fenix (and android-components) to the l10n repo for new strings
* Creating PR's with translating strings from the l10n repo to here and android-components
* Ideally having automated merges of the translated strings from the previous PR.

The last bullet point is the most in flux, a

[2019-08-15 18:52] liuche commented on #4155
@topotropic will add designs before Sprint Planning on Friday, and then we will add it in.

[2019-08-15 18:53] Callek commented on #1098
Absolutely correct, there is no expectation that the Fenix engineering team will have to do anything to facilitate this, should that change [I don't expect it will] I'll escalate and get it slotted in and prioritized as a new ask.

[2019-08-15 18:54] ekager commented on #2157
According to @grigoryk 's comment above I think this is still waiting on AC mozilla-mobile/android-components#2727

[2019-08-15 19:08] lime124 commented on #4390
everything is done but final copy which i think is ok for eng to take.

[2019-08-15 19:12] colintheshots commented on #4064
I'm calling this P2. It has a major effect on performance, but we're waiting on Google to release Android Gradle Plugin and JetBrains to release a new Kotlin coroutines version.

[2019-08-15 20:01] mcomella opened #4759 "[Bug] Private browsing history leaked to system through media playback notifications"
For this same issue on Fennec, see: https://bugzilla.mozilla.org/show_bug.cgi?id=1431329

## Steps to reproduce
- Enter private browsing mode
- Visit a page with video content (e.g. https://www.w3.org/2010/05/video/mediaevents.html)
- Play the video

### Expected behavior
No notification appears in system tray.

### Actual behavior
Notification appears in system tray. At least historically, all in

[2019-08-15 20:03] mcomella commented on #4759
The implementation appears to have been tracked as part of https://github.com/mozilla-mobile/fenix/issues/2551

[2019-08-15 20:03] mcomella commented on #2551
FYI: media playback notifications should not be shown in private browsing mode because they leak browsing information to the system. I filed https://github.com/mozilla-mobile/fenix/issues/4759

[2019-08-15 20:31] jonalmeida commented on #4635
This should be fixed with the [0.37.1 release](https://github.com/mozilla/application-services/tree/v0.37.1) of a-s that is in a-c 9.0.0.

[2019-08-15 20:47] shahsurajk commented on #4488
@NotWoods  is anyone on this? I could give this a try.

[2019-08-15 20:49] NotWoods commented on #4488
Go for it!

[2019-08-15 20:49] miketaylr opened #4760 "Restrict Report Site Issue link to non-release users"
It seems like we can read this now: https://github.com/mozilla-mobile/fenix/blob/d03c15d15c36f005eab57b57a16920f6e5f12ad6/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt#L6-L16

### Why/User Benefit/User Problem

The quality of fenix reports has been low, and more than our team can handle ATM. I'd like us to restrict Report Site Issue to nightly users at first, then we can decide if we move up

[2019-08-15 21:06] cpeterso commented on #4208
OK. I'll reopen the corresponding GeckoView bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1569007#c2

[2019-08-15 21:15] AmyYLee commented on #1284
Sizing this as M

[2019-08-15 21:19] bifleming commented on #1742
@boek is this waiting for A/C after all then?

[2019-08-15 21:22] bifleming commented on #3702
Waiting for uplift to GV 69

[2019-08-15 21:43] cpeterso commented on #2016
GV bug 1542286 (to show the proper runtime name and app icon for Fenix in about:debugging) was fixed in GV 68. Does this Fenix issue require more GV work?

[2019-08-15 21:49] cpeterso commented on #2633
@csadilek, is this bug fixed? You said mozilla-mobile/android-components#2985 would be fixed back in May, but it is still open.

Is there more work needed from GV? Can we remove the `needs:gv` and `waiting` labels?

[2019-08-15 21:50] cpeterso commented on #2459
What GV work is needed here? Do we still need the `needs:gv` label? Is the web content trying and failing to go full screen?

[2019-08-15 21:53] cpeterso commented on #3105
I think Fenix, not GV, is responsible for fetching and displaying search suggestions. Can we remove the `needs:gv` label?

[2019-08-15 21:59] jonalmeida commented on #4275
The native share sheet with Direct Share has advantages for ease of implementation, provides sorting of apps and shareable contacts.

The limitations for it however, is that we aren't able to show users that they need to sign into a Sync account (req 6) in order to leverage it or show [error states](https://github.com/mozilla-mobile/fenix/issues/2897) when an account needs to be (re-)authenticated

[2019-08-15 21:59] lime124 commented on #4718
@AmyYLee can you take a look?

[2019-08-15 21:59] mheubusch commented on #4295
Copy
Experiments
Allows Mozilla to install and collect data for experimental features

It should sit below Usage and technical data and follow the same headline, label, and toggle styling as the Usage and technical data setting.  If there is not a pattern existing for the padding between these two items, please reach out to @lime124 so a designer can deliver specs.
![Screenshot_20190813-141639(1)]

[2019-08-15 22:01] #4275 closed

[2019-08-15 22:20] cpeterso commented on #2443
I filed GeckoView bug https://bugzilla.mozilla.org/show_bug.cgi?id=1574323 for this widget styling issue.

[2019-08-15 22:34] apbitner commented on #3651
UX explorations on InVision: https://mozilla.invisionapp.com/share/W8SZ87HSN2G

The top desired options involve auto show/hide of toolbars, so UX work is currently on hold while feasibility and LOE of options is determined with GV team.

[2019-08-15 22:39] cpeterso opened #4763 "Enable GV logging in debug builds; disable GV logging in opt/production builds"
### Why/User Benefit/User Problem

Fenix developers want to see debug logging in their debug builds. Users don't want their production browser builds to be slowed down by unnecessary debug logging.

### What/Requirements

GV 70 adds a new `debugLogging` API to enable or disable GV logging. Since GV logging is still enabled by default and GV doesn't know at runtime_ whether the _app_ is a debug or

[2019-08-15 23:24] cpeterso commented on #4763
GV may disable its logging by default in production GV builds in https://bugzilla.mozilla.org/show_bug.cgi?id=1572540 but Fenix should always call the `debugLogging` API to be sure.

[2019-08-15 23:27] jyeontaek opened #4766 "[Bug] Search widget has height of 2 cells on some phones"
## Steps to reproduce
Place search widget on home screen.
### Expected behavior
Height should be 1 cell.
### Actual behavior
Height is 2 cells.
### Device information

* Android device: Nokia 3.1
* Fenix version: 1.3

[2019-08-15 23:31] rpappalax commented on #4678
fixed

[2019-08-15 23:31] #4678 closed

[2019-08-16 00:18] kbrosnan commented on #2633
This is still an issue for Fenix.

Using a Pixel 3 - 190813 06:05 build 12250615
a-c 8.0
gv 69.0

[2019-08-16 00:23] ekager opened #4767 "[Bug] Selecting a session while in BrowserFragment doesn't update UI"
I was investigating https://github.com/mozilla-mobile/fenix/issues/4433 and realized this happens every time we select a new session while in BrowserFragment.
1. Selecting Help in Browser Menu
2. Selecting report in Browser Menu
3. Long press a link -> Open in new tab -> Switch to tab

I'm not sure when we regressed here but there have a been a lot of Browser/Toolbar changes lately so it may take

[2019-08-16 00:40] ekager commented on #4767
Because this is the root cause of #4433 and it is in the sprint, I'm pulling this in as well

[2019-08-16 01:25] jonichan commented on #4716
I've updated this on https://support.mozilla.org/en-US/kb/share-data-mozilla-help-improve-firefox

Updated Firefox Preview and FIrefox for iOS instructions here: https://support.mozilla.org/en-US/kb/send-usage-data-firefox-mobile-devices

I've updated this on https://support.mozilla.org/en-US/kb/firefox-preview-your-rights

New page created (https://support.mozilla.org/en-US/kb/how-turn-data-colle

[2019-08-16 05:35] andreicristianpetcu opened #4768 "[Bug] Wrong URL when openning from an app"
## Steps to reproduce
Open Fenix on any site (my example has mobile.twitter.com)
Open an email client like ProtonMail or K9-Material.
Make sure youhave an email with a link (I have discourse.mozilla.org)
Click the link in the mail
### Expected behavior
New tab opens with discourse.mozilla.org
### Actual behavior
New tab opens with discourse content but twitter url
![Screenshot_20190816-082720_Fire

[2019-08-16 05:37] andreicristianpetcu commented on #4133
@Dunexus then I will close this one and track the other

[2019-08-16 05:37] #4133 closed

[2019-08-16 09:11] sv-ohorvath commented on #4436
This is still reproducible on Nightly 190816 and RC 1.3.0 on Xiaomi Mi Pad 2 (Android 5.1) & Nexus 9 (Android 7.1.1).
[Recording](https://drive.google.com/file/d/1leuzVsf7JN9snQKGI8Uz1BXGH49Boriy/view?usp=sharing)

[2019-08-16 09:20] LaurentiuApahideanSV opened #4771 "[Bug] Share tabs shares all tabs from private and normal browsing"
## Steps to reproduce
1. Open a few websites in normal and private browsing;
2. Tap the Open tabs menu, select "Share tabs" and select an app from the share dialog: e.g. gmail.
### Expected behavior
Only the tabs from the selected browsing mode should be shared. For example if the user is in normal browsing the tabs opened in private mode should not be shared.
### Actual behavior
All the tabs open

[2019-08-16 09:33] AndiAJ opened #4772 "[Bug]Open a link in new private tab and switching should make transition to PB"
## Steps to reproduce
1. Navigate to cnn.com
2. Long tap on a link
3. Select "Open link in private tab"
4. Tap switch from the snack bar
5. Tap on the tabs tray button

### Expected behavior
The transition to PB should be made after opening a link in a private tab.

### Actual behavior
No transition is made to PB.
By checking the navigation bar or by tapping the tabs tray button the user is still

[2019-08-16 10:00] Madis0 commented on #3651
I like the options C and D. Make it either top or bottom, not both!

[2019-08-16 10:12] pwd-github commented on #3651
Not sure if my vote counts, but I'd vote for option D.

[2019-08-16 12:18] sv-ohorvath commented on #4702
@NotWoods Will this fix the TP icon as well? Hasn't landed in Fenix Nightly yet I guess. If not, then we can have a new issue opened:
![Screenshot_20190816-151544](https://user-images.githubusercontent.com/4037709/63167122-04572680-c039-11e9-958f-a22130a75dcf.png)

[2019-08-16 12:45] mcarare commented on #4217
@sv-ohorvath can you please check if this is still an issue?

[2019-08-16 12:53] mcarare commented on #3921
@softvision-miralobontiu can you please check if this is still an issue?

[2019-08-16 13:29] NotWoods commented on #4702
It's a new issue.

[2019-08-16 13:33] AndiAJ commented on #4434
Hi, **verified as fixed** on **1.3.0-rc.1** using a Huawei Media Pad M3 Lite 10 (Android 7)

[2019-08-16 13:34] sv-ohorvath opened #4774 "[Bug] Weirdly drawn icons in the site security panel"
## Steps to reproduce
1. Load a website with an insecure connection: eg. expired.badssl.com
2. Tap the lock icon in the toolbar.
### Expected behavior
TP icon and Insecure connection icons look normal
### Actual behavior
The icons are different and look weird on Android 5 & 6.
https://user-images.githubusercontent.com/4037709/63167122-04572680-c039-11e9-958f-a22130a75dcf.png
### Device information

[2019-08-16 13:34] AndiAJ commented on #3424
Hi, v**erified as fixed** on **1.3.0-rc.1** using a Huawei Media Pad M3 Lite 10 (Android 7)

[2019-08-16 13:34] sv-ohorvath commented on #4702
Thanks! Logged: https://github.com/mozilla-mobile/fenix/issues/4774

[2019-08-16 13:50] sv-ohorvath commented on #4217
@mcarare Yes it's still reproducing but please note that it doesn't happen on devices with Android 7 or higher.
devices I've reproduced this with: HTC Desire 820 (Android 6.0.1), LG Nexus 5 (Android 6.0.1)

[2019-08-16 14:11] sv-ohorvath commented on #4633
Verified as fixed on RC 1.3.0-rc1

[2019-08-16 14:11] #4633 closed

[2019-08-16 14:28] jonalmeida commented on #4425
Some notes from an offline conversation:

Some concerns with moving the prefetch to run async, was that we may fire an async prefetch at startup, and entering a search term in  the search bar would trigger another prefetch for the `isUrl` check.

What we can try, is to put a [LazyThreadSafetyMode.SYNCHRONIZED][0] on the [PublicSuffixListData][1] class to ensure we only have sync access on the lazy

[2019-08-16 14:31] sv-ohorvath commented on #4199
Verified as fixed on Nightly 190816 and Rc 1.3.0-rc1

[2019-08-16 14:31] #4199 closed

[2019-08-16 14:33] NotWoods commented on #4743
It might be better to uplift the TabCounter changes to Android Components instead. (#4112)

[2019-08-16 14:37] NotWoods commented on #4759
Does mozilla-mobile/android-components#4103 address this?

[2019-08-16 14:47] NotWoods commented on #4744
Some suggestions:
- [ ] Move `BrowserSessionsObserver` to its own file.
- [ ] Uplift getting only normal/only private sessions to Android Components.
- [ ] Move the search engine icon (in the search bar) to its own custom view, or move the entire search bar.
  - Maybe Android Components should have a search bar with icon component.
- [ ] Move `toolbarPaddingDp` to `dimens.xml`.
- [ ] Move the priv

[2019-08-16 14:50] AndiAJ commented on #4457
Hi, **verified as fixed**  on **1.3.0-rc.1** using a Google Pixel 3a (Android 9)

Tap on "**Search the web**" -  new_tab_button events Ping **056551c1-35ce-492a-999c-4b84a24ffaa5**
Tap on **Fenix Logo** - new_tab_button events Ping **410ff548-d272-49c3-aa89-a85df34e81ca**
Tap on **microphone sign** - voice_button events Ping **74295334-2499-4065-a8f2-9f00d9d65438**

[Logcat](https://github.com/moz

[2019-08-16 14:50] #4457 closed

[2019-08-16 15:04] colintheshots commented on #3505
It WAS fixed. Then someone stripped the fix from the code and caused other problems at the same time. I'll re-fix it.

[2019-08-16 15:48] buttercookie42 commented on #4458
@apbitner That was the original GeckoView behaviour because it directly mimicked the behaviour of Fennec's "Use system font size" toggle, however as of [bug 1561135](https://bugzilla.mozilla.org/show_bug.cgi?id=1561135) the automatic font size setting in GeckoView was decoupled from the font inflation setting, so turning on the former no longer automatically turns on the latter.

While this was do

[2019-08-16 15:55] sblatz commented on #4743
That's fair, @NotWoods I'll close this in favor of #4112 as a solution :)

[2019-08-16 15:55] #4743 closed

[2019-08-16 16:32] sblatz opened #4775 "Come up with sustainable triage model & also triage"
We currently have 300 untriaged issues. While this number is staying roughly consistent and not growing, we should make an effort to burn it down initially so we have a smaller number of unknown issues.

[2019-08-16 17:14] sblatz commented on #215
This is done, and the individual tickets were already QA'd. 😄

[2019-08-16 17:21] vesta0 commented on #1749
This work is completed (based on the acceptance criteria) but the team will keep it open until it lands in nightly.

We may also change one of the acceptance criteria (change default to strict) based on the performance testing results.

[2019-08-16 17:22] ekager commented on #1749
See https://github.com/orgs/mozilla-mobile/projects/33 for full view of GV and AC accompanying work

[2019-08-16 17:31] liuche commented on #2053
Betty will follow up on final strings for @AmyYLee to update mocks.

[2019-08-16 17:33] colintheshots commented on #2053
So it's not a great situation right now. If we're OOM killed or if the user swipes away our activity, we lose all tabs. OOM kills on an old, cheap phone can happen as easily by opening the Camera app and returning. We can't persist A-C Sessions to instance state because A-C wanted to handle all session storage and restoration and didn't want Sessions parcelable. This really needs to be a separate

[2019-08-16 17:35] liuche commented on #1673
Timebox this to E3 and see where that gets us.

[2019-08-16 17:36] sblatz commented on #4513
Good first solution is showing a progress bar if we're syncing.

[2019-08-16 17:39] liuche commented on #1156
@sblatz will follow up w/ Glean team to see if they can do it this quarter, or if Fenix should.

[2019-08-16 17:41] liuche commented on #4433
Closing in favor of #4767

[2019-08-16 17:41] #4433 closed

[2019-08-16 17:42] ekager commented on #4767
Most likely caused by https://github.com/mozilla-mobile/android-components/issues/4141

[2019-08-16 17:43] liuche commented on #1721
Blocked on @liuche beta/nightly channel work, and related to #4305

[2019-08-16 17:45] liuche commented on #4126
This is waiting on ETP #1749 to land, so delayed till Sept?

[2019-08-16 17:45] sblatz commented on #4007
We're sticking with this custom sheet!

[2019-08-16 17:48] liuche commented on #4163
Dupe of #4631

[2019-08-16 17:48] #4163 closed

[2019-08-16 17:49] AmyYLee commented on #4390
@sblatz @lime124 Final copy is in the spec now. What is still outstanding is copy for the tip in focus here https://github.com/mozilla-mobile/focus-android/issues/4329

[2019-08-16 17:51] liuche commented on #4693
@lime124 says this is done!

[2019-08-16 17:51] #4693 closed

[2019-08-16 17:52] liuche commented on #4306
This UX work is done, removing from board.

[2019-08-16 17:53] liuche commented on #3106
Still some outstanding work, but should be resolved by 8/19.

[2019-08-16 17:53] liuche commented on #3700
This is otherwise done UX, just needs strings and @lime124 will help w/ that.

[2019-08-16 17:54] liuche commented on #561
Launching a UR test week of 8/19, should have more insights by 8/21.

[2019-08-16 17:56] liuche commented on #2394
Waiting on UR, should have more insights 8/21

[2019-08-16 18:00] sblatz commented on #1022
I think this is covered by using `mavenLocal`: https://mozac.org/contributing/testing-components-inside-app

[2019-08-16 18:01] andreicristianpetcu commented on #215
I started using this feature when it landed and IT IS AWESOME!!!!

[2019-08-16 18:01] liuche commented on #3894
@topotropic will break this down and then those can be worked on.

[2019-08-16 18:01] NotWoods commented on #2690
Possibly covered by #4731?

[2019-08-16 18:09] grigoryk commented on #1022
Here are pretty precise instructions on what needs to happen here: https://github.com/mozilla-mobile/reference-browser/issues/365#issuecomment-450453145

Nothing should be blocking this work, just needs to be tested.

[2019-08-16 19:07] lime124 opened #4776 "Redesign About page in Settings"
pulling up Amy's comment from below:

[2019-08-16 19:09] lime124 commented on #4776
@vesta0 this should be pretty small. it would be nice to get in if we have a bit of time.

[2019-08-16 19:14] mheubusch commented on #4390
Updated the Focus bug so can we consider copy done for all?

[2019-08-16 19:43] buttercookie42 commented on #2053
That might actually be okay, wouldn't it (#3950 thinks so, too)? It would need a little more careful implementation than how Fennec currently works to always close the private session in that case (while swiping away the task for the browsing activity will likely always clear the savedInstanceState, it's not guaranteed to actually kill the app process if the app has any other activities open, a se

[2019-08-16 20:06] ekager opened #4778 "Investigate Toolbar Titles with long Title Strings"
It came up in UX review of ETP and Delete Browsing Data that when we have a longer string as the title of a Settings category we should make a generic decision about how we want to deal those titles.
Material Design urges against wrapping title strings.
But it should also be noted that in other languages very long strings could be truncated with less context than in English.
We should come up with

[2019-08-16 20:07] buttercookie42 commented on #4049
(though for HTML documents using any kinds of subresources or local links, `content://`-URIs are mostly useless anyway because Google never really thought things through...)

[2019-08-16 20:39] colintheshots opened #4779 "[Bug] Crash on pressing search widget, Home, then search widget"
## Steps to reproduce
1. Install the Fenix search widget on a home screen.
2. Press the search widget icon or text.
3. Minimize the app.
4. Press the search widget icon or text.

### Expected behavior
The app loads the search fragment again.

### Actual behavior
The app crashes with this stack trace:
[code]
### Device information

* Android device: Pixel 3XL, Android Q
* Fenix version: Latest mast

[2019-08-16 21:01] sblatz opened #4780 "Switch out of private mode when app is removed from memory"
I'm opening this in response to https://github.com/mozilla-mobile/fenix/pull/4773.

Currently it is **expected behavior** that we persist private mode when the app is paused. With the introduction of our "launch in private browsing" feature we should consider if we want to keep this behavior.

@AmyYLee commented on that PR:

Of note: our "normal" launcher will still launch in private mode if that'

[2019-08-16 21:03] sblatz commented on #2690
Agreed, @NotWoods can you please reference this issue in that commit? 😄

[2019-08-16 21:06] sblatz commented on #4688
@rpappalax is this working now? 😄

[2019-08-16 21:07] sblatz commented on #3903
Thanks for your investigation, @cpeterso 😄

[2019-08-16 21:26] ekager commented on #4205
Yep I am also reproducing this even with facebook.com ...

[2019-08-16 21:35] jonalmeida opened #4781 "[Bug] DefaultBrowserToolbarController should observe session changes"
There was [a regression in the BrowserToolbar (see linked tickets)](https://github.com/mozilla-mobile/android-components/issues/4141) where a session is passed to the ToolbarController that overrides the toolbar's ability to observe session selection changes.

In #4764, this was fixed to unblock the release but we should still observe the selected session at all times instead of passing in a fixed

[2019-08-16 21:39] mnoorenberghe commented on #1284
Can I be included in that meeting as a maintainer of Lockwise/Password Manager and Form Autofill on desktop Fx.?

[2019-08-16 21:46] ekager commented on #4205
Did a bit more investigation and this seems to be a problem with the LastPass app and not GV/Fenix/AC. It looks like LastPass is detecting our app name and only sending Mozilla/Firefox related passwords. 1Password and Lockwise both work here. Do we have any contacts at LastPass to reach out to and report this?

[2019-08-16 21:48] colintheshots opened #4783 "Enhanced Tracking Protection needs Page Load Testing"
## User Story
- As a member of the Fenix team, I would like performance measurements on the relative page load speeds of Tracking Protection versus the new Enhanced Tracking Protection feature.

## Dependencies
- This will require some assistance from the Performance Team to learn how to run comparative Raptor testing using Try with live loads and custom parameters and/or APKs.

### Acceptance Cri

[2019-08-16 22:22] colintheshots commented on #3505
With PR #4764, I think this should be working again. Please verify.

[2019-08-16 22:25] jonalmeida commented on #4205
![screenshot_20190816-182253](https://user-images.githubusercontent.com/1370580/63201400-1ba30d80-c053-11e9-891c-ca143b56d8b9.png)

[2019-08-16 22:39] jonalmeida commented on #4635
With the Rust changes I still can't figure out what's causing the issues with nightly failing. Send Tab + push seems to be working fine in release, so either:
1. Something has changed in nightly configurations that has broken.
2. Something has changed in 1.3 that I can't seem to reproduce on a debug build.

[2019-08-16 23:05] agi90 opened #4785 "[Bug] Intermittent blank Fenix when returning to Custom Tab"
## Steps to reproduce

* Sometimes when returning to CustomTab I get a blank Fenix (see screenshot). Usually it's when I haven't been using my phone for a while.

### Device information

* Android device: Samsung S10
* Fenix version: Latest Nightly Fenix from today

![Screenshot_20190816-160007_Firefox Preview](https://user-images.githubusercontent.com/4297388/63202630-76cb0500-c03f-11e9-8ae3-34dd

[2019-08-16 23:42] jyeontaek opened #4786 "[Bug] Back button in BrowserFragment brings up Android home screen"
## Steps to reproduce
1. Open Fenix.
2. Add a new tab, and make a search.
3. When you're in the browser, press the Android back button.
### Expected behavior
Pressing the Android back button should bring the user to app's HomeFragment.
### Actual behavior
Pressing the Android back button brings the user to Android's home screen.

[2019-08-17 01:10] liuche commented on #373
@bifleming I don't actually see any code here, so my guess is that this was already in-app, and nothing needed to be done except verification to close this.

[2019-08-17 01:12] liuche commented on #3060
@bifleming since this landed 9 days ago, I would assume that it's going out with the 1.3 release.

[2019-08-17 01:14] liuche commented on #4767
This should be fixed by the fix in the AC issue in the comment above, which I think we're uplifting to 1.3.

[2019-08-17 01:29] ekager commented on #4767
Sorry updating! This should be fixed by https://github.com/mozilla-mobile/fenix/pull/4764 which we did uplift to 1.3
Tagging as QA needed and putting it in the milestone now

[2019-08-17 05:22] dragneelfps commented on #4678
@rpappalax still getting the error: https://tools.taskcluster.net/groups/RkcUuXWiS1uuyae6h3vBgg

[2019-08-17 09:09] mikeGolf08 commented on #3863
**I think it has something to do with the deletion of browsing data**. I had reinstalled Fenix and it was working like it is supposed to work but after I deleted the browsing data (3150 entries of "Browsing history and site data") it has been broken again... Since then no auto completion for any of my bookmarks

[2019-08-17 09:18] mikeGolf08 opened #4788 "[Bug] Cleaning Open Tabs will brake Fenix"
## Steps to reproduce

1. Open **2** new tabs (EDIT: **1** is enough)
2. Go to settings
3. Go to "Delete browsing data"
4. Delete **"Open Tabs" only!** (EDIT: **More than 1** selection will lead to the same result)

### Expected behavior

Closing the settings by going 2 times back (back button of device and Fenix) shows the homescreen of Fenix.

### Actual behavior

It shows a white screen with a

[2019-08-17 09:23] mikeGolf08 opened #4789 "[Bug] Tab logic broken"
## Steps to reproduce

1. Open a new website
2. Enter a new website or just start a new search at awesomebar

### Expected behavior

It opens the website/search on the same tab.

### Actual behavior

It opens a new tab for the website/search.

### Device information

* Android device: Android 9 on OnePlus 3T (A3003) Oxygen OS 9.0.5
* Fenix version: Nightly 190817 06:05 (Build #12290612)
    packag

[2019-08-17 09:28] mikeGolf08 commented on #4642
After a reinstall I had deleted browsing data and the issue still persists but only if I select "Open Tabs" **and** "Browsing history and site data" ...

#4788 [Bug] Cleaning Open Tabs will brake Fenix

[2019-08-17 12:31] cadeyrn commented on #4736
It's a duplicate of #4566 but since the commit references this issue I will close my issue…

[2019-08-17 12:31] cadeyrn commented on #4566
Fixed by #4736.

[2019-08-17 12:31] #4566 closed

[2019-08-17 13:00] andreicristianpetcu opened #4790 "[Bug] I cannot copy or edit the current URL"
## Steps to reproduce
https://vimeo.com/354376336
Open a tab and click the URL bar.
### Expected behavior
Search field is opened with the URL filled in.
If I want to copy or edit the address I can do it.
### Actual behavior
The search field is enpty and I have no way to share it
### Device information

* Android device:
![Screenshot_20190619-235816_Settings](https://user-images.githubusercontent.c

[2019-08-17 13:00] cadeyrn opened #4791 "use two characters for website icon fallback"
Currently Fenix uses the first character of the hostname as fallback image if Fenix can't find a suitable website icon. It's a nice idea but limited to 26 characters so it's of limited use to distinguish websites.

I propose to use the first characters to give more value to the fallback images. The idea is inspired by the popular (well, at least in Germany) CMS and community software WoltLab Suite

[2019-08-17 13:01] andreicristianpetcu commented on #4384
I can't see the microphone but I can't crash it either in latest nightly.

[2019-08-17 14:39] sanemat commented on #4349
Why we need miniconda3????
We are android project :sweat:

[2019-08-17 18:26] agi90 opened #4793 "[Bug] Soundcloud: Audio plays without media notification showing"
## Steps to reproduce

* Play a song (e.g. on soundcloud.com) on Fenix
* Put Fenix in the background
* Open a CustomTab from Twitter app (or another app)
* Open app list and swipe Fenix away

### Expected behavior

* Music should stop, or a notification that music is playing from Fenix should display

### Actual behavior

* Music keeps playing, no way for the user to stop it (beside using Force St

[2019-08-18 05:45] PowERGD opened #4794 "[Bug]Show animation when loading"
## Steps to reproduce
Open a website.
When the website is loading, click rag button.
### Expected behavior
Show animation.
### Actual behavior
Without animation.

### Device information

* Android device: Redmi 4 prime
* Fenix version:v 1.3.0 rc2

[2019-08-18 06:05] pwd-github commented on #4790
I literally just came to report this issue.

[2019-08-18 06:26] PowERGD opened #4795 "[Bug]Can't exit desktop site."
## Steps to reproduce
Open a website.
Click more.
Click desktop site.
Click more.

### Expected behavior
Can exit desktop site mode.
### Actual behavior
Can't exit desktop site mode, unless reopenning the website.
### Device information

* Android device: Redmi 4 prime
* Fenix version: v1.3.0 rc2

[2019-08-18 09:20] mikeGolf08 commented on #4795
Same here -

    Android device: Android 9 on OnePlus 3T (A3003) Oxygen OS 9.0.5
    Fenix version: Nightly 190817 06:05 (Build #12290612)
    package: 8.0.0, 78354bc12
    lizard: 69.0-20190812090043

[2019-08-18 09:21] mikeGolf08 commented on #4790
Same here -

    Android device: Android 9 on OnePlus 3T (A3003) Oxygen OS 9.0.5
    Fenix version: Nightly 190817 06:05 (Build #12290612)
    package: 8.0.0, 78354bc12
    lizard: 69.0-20190812090043

[2019-08-18 10:02] andreicristianpetcu commented on #4790
I found an app that I can share to in order to copy to clipboard. This is an ugly workaround.

[2019-08-18 11:30] st3fan commented on #4222
@kglazko Is this part of the automation now? Can i stop my own uploading scripts?

[2019-08-18 14:18] daufinsyd opened #4796 "Prevent malicious websites from adding duplicate history entries"
## User Story
- As a user, I don't want that a malicious website can prevent me from going back in my history so I can continue browsing the web from the page I was, before entering the malicious website.

Steps :
- goto a malicious website https://pcgamestorrents.com/
or https://phonewebadsprivate.pw/ea93c168-32cc-4fe5-8d55-25f9acd15c7f/?btd=dHJrLm1vYmlsZXRvcDIwMTh0ZWNoaWUueHl6&exptoken=MTU2NjEzO

[2019-08-18 14:48] yoasif opened #4797 "Sticky Reader Mode: Links opened in reading mode should also try to open in reader mode"
### Why/User Benefit/User Problem

As a user who is already in reader mode, I'd like to remain in reader mode to enjoy the benefits of reader mode when navigating links while I am reading.

Requested on reddit as well: https://www.reddit.com/r/firefox/comments/crzqwi/androidfeature_request_links_opened_in_reading

Referenced here: http://www.ianbicking.org/blog/2019/03/firefox-experiments-i-would-

[2019-08-18 14:54] yoasif opened #4798 "[Bug] "Copy link" snackbar has bad copy"
## Steps to reproduce

1. Navigate to https://www.cbsnews.com/news/capital-one-data-breach-2019-more-than-100-million-people-applying-for-credit-affected-today-2019-07-29/
2. Tap and hold on any link
3. select "Copy link"

### Expected behavior

copy that uses the text in the menu entry I picked, like "Link copied to clipboard" in the snackbar.

### Actual behavior

"Text copied to clipboard" snac

[2019-08-18 18:16] ekager opened #4799 "[Bug] Wrong tab saved to collection when switching session in BrowserFragment"
Related to #4767

## Steps to reproduce
1. Open site
2. Open menu -> Report Site
3. Menu -> add to collection

### Expected behavior
Report site is added to a collection

### Actual behavior
First site is added to a collection

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-18 19:28] ekager commented on #4789
Will be fixed by #4800

[2019-08-18 19:48] Poopooracoocoo commented on #2818
I'd love a custom implementation like NewPipe which gives you PiP on versions before O. Samsung's video player doesn't require O either.

[2019-08-19 01:25] PopeRigby commented on #4790
Same

[code]

[2019-08-19 01:31] ekager commented on #4790
Thank you all for your reports. Will be fixed by #4800

[2019-08-19 06:15] maulonobile opened #4803 "[Bug] URL wrong in the address bar opening in a new tab"
## Steps to reproduce
I opened a link from duckduckgo ti another tab. Then i click on "passa a" (italian language) and the new tab is opened but the url not changed: the new tab url was wrong because there was the duckduckgo url yet if i try to share, didnt share the new tab url but duckduckgo url.

### Expected behavior
the new tab address bar would have the url of site i'm browsing

### Actual b

[2019-08-19 07:01] buttercookie42 commented on #1161
While I absolutely prefer the two-line layout for bookmarks and history [1], for search suggestions the two-line layout seems somewhat redundant, though, because the second line is the same for every search suggestion from the same search engine.

[1] And still think desktop switching away from it was a mistake...

[2019-08-19 07:04] buttercookie42 commented on #4796
Might be solved if we finally get the session history fragment back (#3514)?

[2019-08-19 07:12] buttercookie42 commented on #3972
The button in Fennec/desktop Firefox does a few additional things (like I think trying to preferentially load the displayed page from the cache, plus definitively enabling the context menu for enabling/disabling syntax highlighting, word wrapping, etc.) and would of course be more comfortable, but manually prepending `view-source: ` should of course work, too.

[2019-08-19 07:17] AndiAJ commented on #3060
Hi, **verified as fixed** on Fenix **1.3.0-rc.3** from 19/8 with a couple of observations and questions.

1. Sing in to Sync ✅
Ping e5848fde-0aec-49d1-b476-9ce787d82aba

2. Sync preferences

Bookmarks ✅
Ping 648ec130-c672-4e20-adc2-822c7d5856d0
Ping f9b50e69-d421-4198-8bea-23dd12ae60f9
Ping 603e4bf1-6d25-4529-879f-67bde3d32473

History ✅
Ping a45301b3-9f9c-46e7-8066-9101dced2647
Ping 33f12193-ef2a

[2019-08-19 07:23] Mugurell commented on #4126
This is just for refactoring the existing code, does not depend on other work.

[2019-08-19 08:15] softvision-miralobontiu commented on #3505
Verified as fixed on RC 1.3.0-rc.3, and on the latest Nightly 190819 (#12310612) with Huawei P9 Lite (Android 6).

[2019-08-19 08:28] pocmo commented on #4759
Note that this feature is only enabled in Nightly builds.

Since https://github.com/mozilla-mobile/android-components/issues/3797 we no longer show any website specific information in the media notification when playing media in private mode.

[2019-08-19 08:58] kolAflash commented on #3915
Looks like the problem disappeared with one of the recent updates.
Also can't reproduce in the Reference Browser.

Thanks for the help!

[2019-08-19 08:58] #3915 closed

[2019-08-19 09:48] softvision-miralobontiu opened #4804 "[Bug] Opening about:crashcontent in a new tab, freezes the app"
## Steps to reproduce
1. Make sure to have a few tabs opened.
2. Open a new tab with about:crashcontent.
3. Choose [Close tab].

### Expected behavior
The about:crashcontent tab closes, the previous tab is opened, the app works.

### Actual behavior
The about:crashcontent tab closes, the previous tab is opened, the page is scrollable, but tapping on counter tabs, selecting anything from the three-

[2019-08-19 10:39] andreicristianpetcu commented on #4790
@ekager works in latest nightly. Thank you!

[2019-08-19 10:39] #4790 closed

[2019-08-19 10:49] softvision-miralobontiu commented on #3921
It is not reproducible anymore on RC 1.3.0-rc.3 on Xiaomi Mi8 Lite (Android 9).

[2019-08-19 10:49] #3921 closed

[2019-08-19 11:04] softvision-miralobontiu opened #4805 "[Bug] [a11y] Hyper-linked texts aren't read"
## Steps to reproduce
1. Turn Talkback or Voice assistant on.
2. Open a page that contains hyper-linked texts.

### Expected behavior
The voice assistant should read the entire text.

### Actual behavior
The voice assistant doesn't read hyper-linked texts.

### Device information
* Android device: Xiaomi Mi8 Lite (Android 9)
* Fenix version: RC 1.3.0-rc.3

[2019-08-19 11:07] softvision-miralobontiu commented on #3424
Also, verified on RC 1.3.0-rc.3 with Xiaomi Mi8 Lite (Android 9).

[2019-08-19 11:11] softvision-miralobontiu commented on #4434
Also verified as fixed on RC 1.3.0-rc.3 with Xiaomi Mi 8Lite (Android 9).

[2019-08-19 11:20] Djfe commented on #4434
should I open a new issue for the stuff I mentioned? because that's not fixed, yet.

[2019-08-19 11:52] softvision-miralobontiu commented on #1667
Verified as fixed on RC 1.3.0-rc.3 with Xioami Mi8Lite (Android 9).

[2019-08-19 11:57] softvision-miralobontiu commented on #4736
Verified as fixed on the latest Nightly 190819 (#12310612) and RC 1.3.0-rc.3 with Huawei P9 Lite (Android 6), and Xiaomi Mi 8 Lite (Android 9).

[2019-08-19 11:57] #4736 closed

[2019-08-19 12:22] softvision-miralobontiu commented on #4767
Verified as fixed on RC 1.3.0-rc.3 with Xiaomi Mi 8 Lite (Android 9).

[2019-08-19 12:22] #4767 closed

[2019-08-19 12:49] softvision-miralobontiu opened #4807 "[Bug] Deleting opened tabs, exits Settings-Delete browsing data and returns to homescreen"
## Steps to reproduce
1. Make sure to have at least 1 tab opened.
2. Go to Settings - Delete browsing data - select Open tabs and delete.

### Expected behavior
The user should remain in Settings - Delete browsing data page, exactly like it does when deleting "Browsing history" and "Collections". Maybe it is a consequence of #4376.

### Actual behavior
The user is redirected to the homescreen.

##

[2019-08-19 12:51] softvision-miralobontiu opened #4808 "[Bug] Deleting opened tabs, exits Settings-Delete browsing data and returns to homescreen"
## Steps to reproduce
1. Make sure to have at least 1 tab opened.
2. Go to Settings - Delete browsing data - select Open tabs and delete.

### Expected behavior
The user should remain in Settings - Delete browsing data page, exactly like it does when deleting "Browsing history" and "Collections". Maybe it is a consequence of #4376.

### Actual behavior
The user is redirected to the homescreen.

##

[2019-08-19 13:11] AndiAJ commented on #4421
Hi, just finished testing on Fenix 1.3.0-rc.3 from 19/8.

Please review the following:

### 1. Top Event Priorities

- FxA Sign-up ❓
Ping c9c97e0c-df0f-437d-a22f-616b673f012b

- Sign out
Ping e5c6d994-f0e3-4afe-9ee1-0981e25b7aeb ✔️

- User creates a new Collection ❓
Ping 889c649e-f4ee-423d-aeba-4dea29cca73a

- User opens an existing Collection ✔️
Ping 80d9ca8c-ff1e-45c6-ad55-fd69555c0dc9

- Cleare

[2019-08-19 13:15] abodea commented on #4686
Verified as fixed on the latest [Fenix build v1.3-rc.3](https://github.com/mozilla-mobile/fenix/releases/tag/v1.3.0-rc.3) with Samsung Galaxy S10+(Android 9).
Note that I tried the steps from the description of [1572886](https://bugzilla.mozilla.org/show_bug.cgi?id=1572886).
[code]
Also, I tried with more opened tabs to reproduce it but I couldn't.
Everything worked as expected the `URL` was chang

[2019-08-19 13:15] #4686 closed

[2019-08-19 13:16] softvision-miralobontiu commented on #4790
Verified as fixed on RC 1.3.0-rc.3 with Huawei P9 Lite (Android 6), and Xiaomi Mi 8 Lite (Android 9).

[2019-08-19 14:28] #4808 closed

[2019-08-19 14:41] softvision-miralobontiu commented on #4799
Verified as fixed on RC 1.3.0-rc.3 with Huawei P9Lite (Android 6).

[2019-08-19 14:41] #4799 closed

[2019-08-19 14:46] abodea commented on #4384
Verified as fixed in `Fenix 1.3.0-rc.3` with `Samsung Galaxy S10+(Android 9).`
Please note that the microphone wasn't displayed once the text-to-speech libraries were disabled/uninstalled.
No crash, everything worked as expected.

[2019-08-19 14:46] #4384 closed

[2019-08-19 14:55] colintheshots commented on #4686
@abodea This seems like a valid verification to me. Thank you!

[2019-08-19 15:26] sblatz commented on #3060
Hey @AndiAJ

I'm submitting a PR to fix this. Thanks for catching this!

As far as the sync events getting triggered twice, that's just an artifact of how our syncing system works, and is expected behavior :)

[2019-08-19 15:32] vesta0 commented on #1284
Hey @mnoorenberghe I will be sure to include you in our next sync up!

[2019-08-19 15:34] #4396 closed

[2019-08-19 15:55] sblatz commented on #4421
@AndiAJ I have a PR up to address all but the "Clear private data" issue. Are you not seeing the event generated in leanplum? It should not be tracked in Glean

You  can actually do:
`adb shell am start -W -a android.intent.action.VIEW -d "fenix://open?url=https://www.theverge.com"`

to test that event. What you did works, but was already working prior to this patch :)

[2019-08-19 16:12] sblatz commented on #4434
@Djfe yes, please open a separate ticket if you're still having issues :)

[2019-08-19 16:14] sblatz commented on #4126
@Mugurell there will be lots of merge conflicts if we move ahead with this ticket, so we should probably hold off. We already have the ETP built and don't want to have to have a huge rebase. Sorry for the confusion.

[2019-08-19 16:17] sblatz commented on #373
@liuche that's correct :)

[2019-08-19 16:23] #4704 closed

[2019-08-19 16:26] agi90 commented on #4793
Looks like this is specific to soundcloud.com and it's due to https://bugzilla.mozilla.org/show_bug.cgi?id=1554297

[2019-08-19 16:37] stuarthenderson commented on #1577
This appears to have been fixed in v1.3.0-rc1, but regressed in v1.3.0-rc2 and 3 (or at least the symptom has).

[2019-08-19 16:43] ekager commented on #1577
@stuarthenderson could you give more details about what you're seeing in v1.3.0-rc3 related to this bug?

[2019-08-19 16:50] sblatz commented on #4397
Closing this as this abstraction isn't actually necessary. Browser interactor owns three other controllers.

[2019-08-19 16:50] #4397 closed

[2019-08-19 16:51] sblatz commented on #4400
Let's wait on this one until our ETP is merged in.

[2019-08-19 16:56] ekager commented on #4803
This was fixed by #4800

[2019-08-19 16:56] #4803 closed

[2019-08-19 17:01] AaronMT opened #4817 "[Bug] History line items missing basic three-dot menu options"
The three dot menu option for each history menu item in the library is missing basic options like:

- Open in new tab
- Open in new private tab
- Copy
- Share

Currently, each bookmark line item has (in their associated three-dot menu)

- Edit
- Copy
- Share
- Open in new tab
- Open in new private tab
- Delete

[2019-08-19 17:09] ekager opened #4818 "[Bug] Can't paste into fxa login password field"
## Steps to reproduce
1. Settings -> Sign in
2. Try to paste into passwords field in FXA login

### Expected behavior
Can paste

### Actual behavior
Cannot paste

Opened: https://bugzilla.mozilla.org/show_bug.cgi?id=1574987

[2019-08-19 17:25] vesta0 commented on #1742
This may be a desired behaviour. There is a use case for when user wants to search for a URL instead of going to a URL (e.g. searching for Mozilla.com instead of navigating to Mozilla.com). I have added the `Needs:UX-feedback` label as I'd like to UX to confirm their recommendation after considering this use case.

[2019-08-19 17:28] ekager commented on #2563
@bifleming if we want to investigate this as part of reintroducing the dynamic toolbar we shouldn't have QA look at it yet?

[2019-08-19 17:40] jonalmeida opened #4820 "IllegalStateException: JobScheduler 100 job limit exceeded. We count 101 WorkManager jobs in JobScheduler; we have 2 tr..."
https://sentry.prod.mozaws.net/operations/fenix/issues/5888950/

[code]

[2019-08-19 18:05] #4618 closed

[2019-08-19 18:09] jonalmeida commented on #4820
We have two consumers for WorkManager that are only in a-c not Fenix (but tracking this bug here): Glean and Sync.

The device seems fairly niche and the errors showed up repeatedly in a short span of time.

I think I should look into what unique work we're scheduling:
- Are we cancelling the work?
- Are we using any back-off techniques if we aren't able to reach our telemetry or sync servers?

[2019-08-19 18:11] sblatz commented on #4804
This is happening because we're calling `handleCrash` and `openToBrowser` in `onNewIntent`. This is a regression seemingly caused by search widget's pending intents in `SearchWidgetProvider`.

[2019-08-19 19:17] kbrosnan commented on #1148
This has been resolved.

[2019-08-19 19:32] buttercookie42 commented on #4817
#2597 and #2435.

[2019-08-19 19:37] mikeGolf08 commented on #4807
#4788 & #4642

[2019-08-19 19:45] mikeGolf08 commented on #4788
Latest update has not solved the bug.

### Device information

* Android device: Android 9 on OnePlus 3T (A3003) Oxygen OS 9.0.5
* Fenix version: Nightly 190819 18:08 (Build #12311823)
📦: 9.0.0, 8199523c3
🦎: 69.0-20190815091718

[2019-08-19 19:53] ekager commented on #4798
@mheubusch do you want a new string in this case? If not please close this bug :)

[2019-08-19 20:08] stuarthenderson commented on #1577
Same symptom as before. I'd been using rc1 since it appeared on taskcluster without issue. Yesterday i tried rc2 and noticed one of my tabs got set to "about:blank". It happened again an hour or two later. I noticed rc3 today and tried that, but it happened again.

Happens when i navigate away from Preview for a bit (using other apps) and when you go back occasionally one or more of the "tabs" are

[2019-08-19 20:08] mcomella opened #4822 "[Bug] Removing bookmark from "My library" does not update action tray"
## Steps to reproduce
- Go to a page
- Open action tray, bookmark page
- Go to three-dot -> Your Library -> Bookmarks
- Click 3-dot on new bookmark
- Press delete
- Press back twice to return to homescreen
- Open action tray

### Expected behavior
"Bookmark" is an option to add bookmark

### Actual behavior
"Edit bookmark" is an option to edit an existing bookmark (but there shouldn't be one yet)

[2019-08-19 20:17] IdmFoundInHim commented on #1577
Did you open the tab?

I just had one case where two of four tabs became about:blank, then restored when I opened the tab.
On Nightly 190818 18:02 (Build #12301810)
📦: 8.0.0, 78354bc12
🦎: 69.0-20190812090043

[2019-08-19 20:39] csadilek commented on #2633
@cpeterso no, this isn't fixed, as we need https://bugzilla.mozilla.org/show_bug.cgi?id=1554302 in GV to land reader view as an extension page solving this and related problems (see https://github.com/mozilla-mobile/android-components/issues/2985).

[2019-08-19 20:41] cadeyrn commented on #4652
I sometimes still get "Can not perform this action after onSaveInstanceState". Both times I got this crash (a few days ago and a few minutes ago) it was immediately after compiling a new build. But I can't reproduce a second time in a row, so I don't have STR, unfortunately.

[code]

The latest crash was with the latest code from master branch (revision 73e3db8fe01309a647a43fe784d026cc17c9d297).

[2019-08-19 20:42] ekager commented on #4652
@colintheshots do you have any ideas regarding the above log?

[2019-08-19 21:51] sblatz opened #4824 "Sending telemetry event for onboarding every app launch"
Follow up from https://github.com/mozilla-mobile/fenix/pull/4753#discussion_r315338296

See https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/onboarding/FenixOnboarding.kt#L26 getting called always.

[2019-08-19 22:31] colintheshots commented on #4807
I had UX sign off for this behavior in the case of deleted tabs. This is expected behavior. The problem is that the user could've left a deleted tab in the back stack that is invalid and the navigation library doesn't allow removing tabs from the back stack.

[2019-08-19 22:57] vesta0 commented on #4737
Thanks @ekager :) We won't have a Sumo page for this release (starting with 1.4) but here are the release notes:

Thank you for testing Firefox Preview! This update includes major stability and bug fixes, and a brand new search widget that you can add to your Android home screen! Read more about it here: https://support.mozilla.org/en-US/kb/how-add-firefox-preview-search-widget-your-home-screen

[2019-08-19 23:16] #4179 closed

[2019-08-19 23:17] vesta0 commented on #3481
Related GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1509249

[2019-08-19 23:22] #4822 closed

[2019-08-20 00:08] makotom commented on #4286
This should have been fixed in https://github.com/mozilla-mobile/android-components/commit/688d1f236598a1ec3b548e324265c589a9557b87 for https://github.com/mozilla-mobile/android-components/issues/3944.

Can we close this issue for now?

[2019-08-20 03:40] KaenDagger commented on #4212
I would like to work on this

[2019-08-20 03:43] KaenDagger commented on #4708
I would like to work on this issue

[2019-08-20 06:26] daufinsyd commented on #4796
yes I think so (when the complete history is displayed and not just the few last pages)

[2019-08-20 06:43] Mugurell commented on #4126
It's ok. I'll just hold off on my branch and continue after the ETP is merged. Thanks!

[2019-08-20 07:06] softvision-miralobontiu commented on #4807
@colintheshots just to be clear: when deleting "Browsing history" and "Collections" the user remains in the Settings-Delete browsing data page, but when deleting Open tabs, the user is redirected to the home screen?
Thank you!

[2019-08-20 07:58] topotropic commented on #1114
**inactive (play)**
- light theme: disabled_light_theme  #6620123A
- dark theme: disabled_dark_theme  #66FBFBFE
- private theme: disabled_private_theme  #66FBFBFE

**active (pause)**
- light theme: accent_bright_light_theme  (#592ACB)
- dark theme: accent_bright_dark_theme  #592ACB
- private theme: accent_bright_private_theme  #592ACB

[1114-home-tile-with-play-button.pdf](https://github.com/mozil

[2019-08-20 08:04] jawadalkassim opened #4827 "[Bug] Fenix Crashes while opening"
## Steps to reproduce
Launch fenix
the app crashes and force stop it self also go back to home screen
with a window to send crash data to mozilla

### Expected behavior
Launch the browser without issues
### Actual behavior
Crashes , can't open the browser
### Device information
Huawei P8 lite 2017
* Android device:
Android 8.0
* Fenix version:
Nightly 190820 06.04

[2019-08-20 08:43] Mugurell commented on #4827
This happens because of a recent change from #4744
[code]

Will work on a fix asap.

[2019-08-20 09:01] Pheonix73 commented on #4625
@sblatz  @mheubusch quick question before i update my PR.
1. When changing the Strings, won't you also need to change the strings that were translated to other languages?
2. I notices that "delete_browsing_data_prompt_message" is not available in other languages also.

[2019-08-20 09:52] stuarthenderson commented on #1577
Ah! You're right. It does eventually recover when you select the tab. Thanks!
So it's functional, but looks a bit bad.
Might be a good idea to block the list of tabs from showing "about:blank" in such cases, but probably not within the scope of this ticket.
Thanks all.