[2019-12-17 17:01] sblatz opened #7248 "Use onboarding style cards for other product messages"
We have a framework set up to easily put messages in our app that won't negatively impact user flow and we should take advantage of it for "just in time" messaging about new features!

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-14869)

[2019-12-17 17:10] pocmo commented on #7243
Fixed. The Leanplum token was using the wrong format.

[2019-12-17 17:10] #7243 closed

[2019-12-17 17:18] JohanLorenzo commented on #6139
👍 I haven't managed to get it working on Fenix since then. I think I tried like half a dozen times. It has always timed out. I'm fine removing bors from Fenix.

[2019-12-17 17:24] boek commented on #7061
@lindongbin We've discovered this is an issue when webrender is enabled. While you wait for a fix you can disable `gfx.webrender.all` in `about:config` in Nightly

<img width="772" alt="image" src="https://user-images.githubusercontent.com/1250545/71019294-f1b83100-20ae-11ea-9f7f-21377e2e4c85.png">

[2019-12-17 17:25] sblatz commented on #3574
This seems to have been resolved. QA please verify :)

![accessibility on onboarding 2019-12-17 12_25_02](https://user-images.githubusercontent.com/4400286/71019416-44521700-20c8-11ea-82a1-4ae42efc2828.gif)

[2019-12-17 17:30] sblatz commented on #1718
It seems like all of the items on the browser toolbar are read through TalkBack. Users also now have the choice to have a top navigation bar (perhaps we should make this the default for users with accessibility settings?) The toolbar is also fixed when a screen reader is enabled so that users always have access to it.

@eeejay Can you help me understand what action can be taken on this?

[2019-12-17 17:31] #6139 closed

[2019-12-17 17:36] sblatz commented on #1718
This also seems like a related issue to the bottom bar being broken for screen reader users: https://github.com/mozilla-mobile/fenix/issues/3467

[2019-12-17 17:40] NotWoods commented on #3743
If we might want to show onboarding cards in the future let's not make this change. Thanks for the heads up :)

[2019-12-17 17:40] #3743 closed

[2019-12-17 17:48] hawkinsw commented on #7143
[regularexpression.zip](https://github.com/mozilla-mobile/fenix/files/3974632/regularexpression.zip)

I *think* that your profile does not quite start early enough *and* there might be more than one issue here. I have attached a profile that shows the issue I am seeing. I confirmed with a local change that removing the method I referenced resolves the problem for me. I will continue to dig into th

[2019-12-17 17:51] sblatz commented on #1718
After a discussion with @MReschenberg (who looped in @asadotzler) we decided to do:

1) Default to top toolbar if screen reader enabled on install
2) Warn users when toggling to bottom if they have screen reader enabled

@asadotzler can you verify that 2 is necessary / how to proceed with warning users that the bottom toolbar may cause issues with screen readers?

[2019-12-17 17:55] MarcLeclair commented on #7143
I'm seeing the same issue as @hawkinsw  , running locally, from key enter, I see a 1.32 second loads due to our Regex.compile  which takes about ~75% of my 1.32 s

[2019-12-17 17:59] NotWoods opened #7250 "Replace anko.dimen"
Meta: #7085

- Replace all uses of `context.dimen()` with `context.resources.getDimensionPixelSize()`
- Replace all uses of `context.dimen().toFloat()` with `context.resources.getDimension()`

[2019-12-17 18:03] hawkinsw commented on #6931
3. Fenix will print a stack trace every time that Fenix violates Strict Mode. This is useful for debugging, but results in performance _variability_. There can be differences in performance if/when the stacks differ between versions where there are Strict Mode violations (ie, deeper stacks will result in longer times to print the stack trace)

[2019-12-17 18:37] shahsurajk commented on #7041
Can i try this?

[2019-12-17 18:37] NotWoods opened #7253 "Replace anko setters (backgroundColor, image, imageBitmap)"
Meta: #7085

Replace anko setters with the corresponding native Android methods.
- `.backgroundColor` -> `.setBackgroundColor()`
- `.image` -> `.setImageDrawable()`
- `.imageBitmap` -> `.setImageBitmap()`

[2019-12-17 18:40] NotWoods opened #7254 "Replace anko applyConstraintSet with ConstraintSet"
Meta: #7085

Replace anko's `applyConstraintSet` with the standard Android [`ConstraintSet`](https://developer.android.com/reference/androidx/constraintlayout/widget/ConstraintSet?hl=en).

[2019-12-17 18:41] NotWoods commented on #7041
Go for it!

[2019-12-17 18:48] liuche commented on #7095
In triage, it's been repro-ed on Pixel 2, some Pixel 3

[2019-12-17 19:00] liuche commented on #7122
from Amy: the assets look fine for Light mode, but look wrong on Dark mode.

[2019-12-17 19:00] #6118 closed

[2019-12-17 19:06] Baron-Severin commented on #6274
It may be possible to fix the perceived perf issue here without modifying toolbar internals by [inflating the toolbar on a background thread](https://developer.android.com/reference/android/support/v4/view/AsyncLayoutInflater.html) on app init.

[2019-12-17 19:21] darkwing commented on #1833
This issue still exists - still need fixing in AC

[2019-12-17 19:28] liuche commented on #4383
I'm going to update this to only include Dynamic Bottom Bar, bc #5694 is already finished.

[2019-12-17 19:31] mcarare commented on #7122
Although it is not so noticeable like with a dark background, they have the same jagged edges in light theme.

[2019-12-17 19:39] liuche commented on #6602
Nicole said the mocks are done, and since the only two issues are already on the board, we're removing the meta from the board.

[2019-12-17 19:46] liuche commented on #255
This should be ready from GeckoView in January - sizing is dependent on if the Gecko implementation is exposing a new setting, or if we need to do more in AC.

[2019-12-17 19:52] vesta0 commented on #7077
We will postpone this work until we have time to think through different use cases and scenarios to make sure we don't create any security risks.

[2019-12-17 19:56] vesta0 commented on #5892
We need to prioritize making sure this works well with top nav.

[2019-12-17 20:01] Baron-Severin commented on #7077
Chromium has [a really good document](https://chromium.googlesource.com/chromium/src/+/master/docs/security/url_display_guidelines/url_display_guidelines.md#Eliding-URLs) that covers some best practices for URL elision.

[2019-12-17 20:03] liuche commented on #6511
This is basically a combination of two issues - notification, and progress, so I'm going to close this. Notifications will be done by AC.

[2019-12-17 20:03] #6511 closed

[2019-12-17 20:04] liuche commented on #7094
This will require some UX, because we don't distinguish between the user intending "don't save password this time" vs "never save this password and don't prompt me again" @AmyYLee

[2019-12-17 20:05] liuche commented on #7122
@AmyYLee ^

[2019-12-17 20:37] hakkikaancaliskan commented on #6274
[Androidx](https://developer.android.com/reference/kotlin/androidx/asynclayoutinflater/view/AsyncLayoutInflater.html?hl=en) page of async layout inflater. Just wanted to help ¯\_(ツ)_/¯.

[2019-12-17 20:48] vesta0 commented on #4502
We will tackle individual issues during polish sprints.

[2019-12-17 20:48] #4502 closed

[2019-12-17 20:55] vesta0 commented on #5582
This feature has been completed, thank you all :)

[2019-12-17 20:55] #5582 closed

[2019-12-17 20:59] vesta0 commented on #771
What is the status of this work?

[2019-12-17 20:59] sblatz commented on #7049
This will be fixed when we implement https://github.com/mozilla-mobile/fenix/issues/7157. I'm going to try to get this prioritized in AC sprint planning :)

[2019-12-17 21:01] vesta0 commented on #4525
@sblatz can we close this?

[2019-12-17 21:02] sblatz commented on #4525
@vesta0 Not just yet. I am working on this in AC: https://github.com/mozilla-mobile/android-components/issues/5284

Hoping I can get it closed out this week 😄

[2019-12-17 21:10] vesta0 commented on #2833
What is the status of this bug? I believe this is done.

[2019-12-17 21:42] MarcLeclair commented on #6274
( I just saw this issue), and I came across a similar problem where the initialization of the ToolBar took ~500ms-1 second (it was varying a lot) when creating a new tab and navigating to a website.  I was wondering if using AsyncLayoutInflate could be used there too?  (I'll add my trace for reference -- check from timestamp 27 second until 32 second, thats when I entered the URL search bar until

[2019-12-17 22:02] MarcLeclair opened #7386 "Look into whether or not some part of Glean initialization can be done separately, or later after start up to reduce start up time."
### Why/User Benefit/User Problem
Current Glean implementation takes a big chunk of start up time ( ~10-20% at times). I think we should try to see if we can offload some of it to after initialization, or maybe some to a worker thread. I am aware that Glean needs to register observers on the UI thread, but I think it would be worthwhile to investigate for a bit.
### Impact
Faster start up time mea

[2019-12-17 22:24] #6937 closed

[2019-12-17 22:28] aha999 opened #7256 "Dark theme could have dark loading screen"
When the dark theme is applied, the loading screen could be dark as well, instead of flashing white, when users press a search button.

[2019-12-17 22:37] KOLANICH commented on #5315
hmmm https://medium.com/@mva.name/browser-activating-the-front-facing-camera-big-brother-or-just-a-bug-e7a2ff9d6856?

[2019-12-17 22:56] st3fan opened #7257 "[Bug] Unable to sign in to the native Slack app through Auth0"
## Steps to reproduce

Make sure Firefox Preview is your default browser.

With the native Slack app, start the sign in flow to the Mozilla Slack. At one point you are redirected to the Auth0 website to finish the login flow. The native Slack app properly opens Firefox Preview and the SSO sign-in page. Sign in there with your Mozilla account and password.

### Expected behavior

After signing in s

[2019-12-17 23:10] AmyYLee commented on #7122
@mcarare

Here are the icons. Let me know if these work for you

copy.svg
https://drive.google.com/file/d/1u0H3gvA5Dou43ZMzpzWpoH3fvieKCnlk/view?usp=sharing

password-show.svg
https://drive.google.com/file/d/1tTAG_Sa9tr1J8TZJgEIR3wE5rhvxFSd9/view?usp=sharing

password-hide.svg
https://drive.google.com/file/d/1tz6vDm06Xv4VSJQ6wgq6aOgjADnquiUf/view?usp=sharing

[2019-12-17 23:25] brampitoyo commented on #625
I recommend creating a blank splash screen with the same colour value as the search screen background.

Our spec says that this background colour is `ink-90` `#1d1133`. However, the colour used in your video looks to be different. What is it, and can we use that value?

[2019-12-17 23:27] lindongbin commented on #7061
when I enable webrender, all page zooming slowly
https://imgur.com/2HfriPe

[2019-12-17 23:36] mcomella opened #7259 "Investigate if R8 fullMode might decrease performance while it is experimental"
fullMode originally implemented in #1661.

---

We currently have `enableR8.fullMode = true`. However, the compiler warns me:

I'm concerned that R8 may unintentional decrease performance while it's in an experimental state. R8's responsibilities seem simple however (dead code elimination) so I think it's actually pretty unlikely that this would be the case. Here is the official documentation: htt

[2019-12-17 23:46] rocketsroger opened #7260 "[Bug] Fenix Beta crash report in Socorro have incorrect GeckoView version"
## Steps to reproduce
Build Fenix Beta, trigger native crash with about:crashparent, check crash report and compare GeckoView version.
### Expected behavior
GeckoView version matches what is expected on Beta
### Actual behavior
GeckoView version matches what is expected on Nightly, not Beta

[2019-12-17 23:48] rocketsroger opened #7261 "[Bug] Fenix Beta crash report in Socorro have incorrect GeckoView version"
## Steps to reproduce
Build Fenix Beta, trigger native crash with about:crashparent, check crash report and compare GeckoView version.
### Expected behavior
GeckoView version matches what is expected on Beta
### Actual behavior
GeckoView version matches what is expected on Nightly, not Beta

[2019-12-17 23:48] rocketsroger commented on #7261
Created two due to github issue

[2019-12-17 23:48] #7261 closed

[2019-12-17 23:51] lindongbin opened #7262 "[Bug] Cannot disable webrender"
https://imgur.com/2HfriPe

when I enable webrender
all page zooming slowly
but it caannot be disabled any more
checked on about:support

* Android device:
Mi Note3
* Fenix version:
Nightly 191217 18:00 (Build #13511817)
26.0.0, 8b955ae06
GV: 73.0a1-20191216095052

[2019-12-17 23:56] lindongbin commented on #7262
I disable webrender by gfx.webrender.force-disabled

[2019-12-18 00:06] st3fan commented on #7257
@rocketsroger is this also related to app links? I assume the link that Auth0 redirects to is the native Slack app link?

[2019-12-18 00:08] rocketsroger commented on #7257
Yes this is.  It could be related https://bugzilla.mozilla.org/show_bug.cgi?id=1600704.  I'll have to retest after GV side is fixed.

[2019-12-18 00:27] kbrosnan commented on #7262
This is working as intended then.

[2019-12-18 00:27] #7262 closed

[2019-12-18 01:01] brampitoyo commented on #6666
@NotWoods @darkwing I’ve updated comment 0 with specs, and have also highlighted changes made in the search screen UI.

[2019-12-18 03:38] staktrace opened #7264 "[Bug] Fenix homescreen icon disappears on update, sometimes"
## Steps to reproduce

Add Fenix to your Android homescreen. Let it auto update via the Play Store.

### Expected behavior

Icon stays on the homescreen.

### Actual behavior

Sometimes after Fenix updates the icon disappears from the homescreen. All my other homescreen icons following that slot get shifted over by one which is quite irritating. This happened to me today for the third time that I

[2019-12-18 03:38] staktrace opened #7265 "[Bug] Fenix homescreen icon disappears on update, sometimes"
## Steps to reproduce

Add Fenix to your Android homescreen. Let it auto update via the Play Store.

### Expected behavior

Icon stays on the homescreen.

### Actual behavior

Sometimes after Fenix updates the icon disappears from the homescreen. All my other homescreen icons following that slot get shifted over by one which is quite irritating. This happened to me today for the third time that I

[2019-12-18 03:39] marcoscaceres commented on #6932
Similar issue...

[code]

Similarly:
[code]

And so on... (assembleDebug) too.

Doing:

[code]

Seemed to do more stuff... but all end with failure.

[2019-12-18 03:39] staktrace commented on #7265
Sorry for dupe, I got the github unicorn and wasn't sure if the issue was filed.

[2019-12-18 03:39] #7265 closed

[2019-12-18 04:22] ai opened #7266 "[Bug] Remove line between URL bar and Android gesture bar"
## Steps to reproduce

1. Open Firefox Preview on Android 10 with [`Settings > Display > Navigation bar > Full screen gestures`](https://android.gadgethacks.com/how-to/enable-android-10s-new-gestures-your-samsung-galaxy-with-one-ui-2-0209206/) enabled.
2. *There is no line between “Search on enter address” and Android gesture bar on the bottom.* It looks clean. ✅

![Screenshot_20191217-231541](htt

[2019-12-18 05:01] kbrosnan commented on #7264
There was an icon reset in #4976 and it looks like we took a couple rounds to fix it so your Fenix shortcuts could have been wiped a few times.

See also  #7006

[2019-12-18 05:36] karlcow commented on #4833
I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1604700
related to https://github.com/webcompat/web-bugs/issues/46217

[2019-12-18 07:18] ebalazs-sv commented on #6937
@grigoryk Hello! Can you please provide steps to reproduce this so I can verify this? Thank you!

[2019-12-18 07:23] chenaaron3 commented on #7155
Hi, I am new to contributing to open source in general. May I take on this issue? If so, what should be my first steps? Thanks.

[2019-12-18 08:28] hawkinsw commented on #7143
The regular expression used to calculate whether the String is a URL is massive! In it is the literal value of every valid TLD. I see a few options:

1. Ask the implementers to make a simpler version of the function;
1. Compile the regular expression in a background thread at Fenix startup (or when the user first exposes the Awesome Bar) and hope that it is ready by the time the user enters a URL;

[2019-12-18 08:35] AndiAJ opened #7267 "[Bug]Pausing & resuming a download creates multiple partially written files with same name"
## Steps to reproduce
1. Navigate to https://www.thinkbroadband.com/download and download a file.
2. While downloading the desired file Pause & Resume a couple of times.
3. After the download is done, using the device file manager check the Downloads

### Expected behavior
The file should be listed only once.

### Actual behavior
The file is listed multiple times and seems to be downloaded multipl

[2019-12-18 08:40] AndiAJ commented on #7080
Unfortunately yes, still reproducible on the latest **Nightly Build #13520613 from 12/18** :worried:

@sblatz , as per your suggestions I've opened #7267 .

As for the file name issue, I'll mark it **verified as fixed** and close it.

[2019-12-18 08:40] #7080 closed

[2019-12-18 08:51] ebalazs-sv commented on #4976
Verified as Fixed on today's Release, Beta, Nightly migration build 12/18 with the devices:
- Google Pixel 2 (Android 9);
- Samsung Galaxy S8 (Android 9) - ARM64;
- Nexus 6P (Android 8.1.0) - ARM;
- Xiaomi Mi Pad 2 (Android 5.1) - x86.

Fenix's icon is displayed on homescreen after migration.
I will move this to Done. Thanks!

[2019-12-18 09:11] sv-sdeiac commented on #7194
Hello, I can confirm that this issue is fixed using the latest version of Nightly 191218 #13520613 12/18.
I also checked in the latest version of RC 3.0.1 and the issue is still reproducible.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Xiaomi Mi 8 Lite (Android 9);
- Samsung Galaxy Note 8 (Android 9).

[2019-12-18 09:11] #7194 closed

[2019-12-18 09:31] AndiAJ commented on #7075
Hi I've just checked this matter on the latest **Nightly Build #13520613 from 12/18** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔️ Updated Strings

❌ Feature flag animation

Comparison **Nightly Build #13520613 from 12/18** VS **Nightly Build #13300628

[2019-12-18 09:45] dector commented on #5436
Still reproducible on the latest build from Google Play (update from 13th of December) but happens not that often.

[2019-12-18 09:46] #7260 closed

[2019-12-18 09:46] pocmo commented on #7260
@rocketsroger Approved and merged your PR. I was wondering: How about we get rid of the `compileOnly` dependency on GeckoView in `lib-crash`? Initially we needed that to upload the crash through GeckoView. Now it doesn't serve any purpose anymore and is actually harmful in this case.

[2019-12-18 10:24] sv-sdeiac commented on #6480
Hello, I can confirm that this issue is fixed on the latest version of Firefox Preview Nightly 191218 #13520613 12/18.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Xiaomi Mi 8 Lite (Android 9);
- Samsung Galaxy Note 8 (Android 9).

[2019-12-18 10:27] abodea commented on #4107
Re-opening this issue based on the https://github.com/mozilla-mobile/fenix/pull/7152 PR.
Home screen full screen was reverted, I consider we should keep this open and re-verify it when the full screen will be added back.

[2019-12-18 10:28] abodea commented on #1383
Verified as fixed on the latest Nightly **12/18** with **Google Pixel 3a XL(Android 10)** for more details please check the following:

| Website  | Status|
| ------------- | ------------- |
| https://www.theverge.com/ | ✔️ |
| https://www.90min.com/ | ✔️ |
| https://h5.m.taobao.com/?sprefer=sypc00 | ✔️ |
| https://m.weibo.cn/?jumpfrom=weibocom | ✔️ |
| https://www.amazon.com/ | ✔️ |
| https://m.f

[2019-12-18 10:35] Pike commented on #3088
Wondering, should this also cover Beta? @Delphine ? I'd suggest so, but not my call.

Also, I found https://developer.android.com/studio/build/shrink-code.html#unused-alt-resources, which might do what we need w/out removing code for release.

I also found posts on stackoverflow indicating that the exposed locale list of the APK might be affected by what we have in dependent libraries like a-c, so

[2019-12-18 10:49] abodea commented on #5334
Hello @Baron-Severin sorry for the late response.
### Note that I re-checked this issue for more details please check the following:

Build: **Latest Nightly 12/18.**

| Device  | Android | Reproducible? |
|:-------------:|:-------------:|:-------------:|
| Google Pixel 3a XL|      10     |    ✅      |
| Google Pixel 3a |    9       |      ✅     |
| Samsung Galaxy S10+|       9    |     ✅      |
|

[2019-12-18 11:30] sv-sdeiac commented on #5711
Hello, I investigate this issue and it seems that only the  "Sign in" card is changed to the new colors. The other cards are not changed.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Xiaomi Mi 8 Lite (Android 9);
- Samsung Galaxy Note 8 (Android 9).

Till I have new information regarding this issue, I'll remove the qa:neede flag, thanks.

[2019-12-18 12:06] staktrace commented on #7264
Thanks. Assuming it won't happen again then. Will reopen if it does.

[2019-12-18 12:06] #7264 closed

[2019-12-18 12:28] cadeyrn commented on #7095
Oh, I thought it's not yet implemented. But seeing this comment and the screen in #7268 it seems that it's supposed to work. 😅

If you need one more data point: It does **_not_** work on my OnePlus 7T Pro.

[2019-12-18 12:33] MarcLeclair commented on #7143
considering 3, could we not write our own fast path method with a much shorter regex and if it fails, fall back to A-C regex @hawkinsw  ?

[2019-12-18 12:34] pocmo commented on #3088
@Pike I think that is a great idea. :+1: Maintaining the locale list as `resConfigs` is way less painful - and I assume we can do that for release (and maybe beta) builds separately, so that local builds and Nightlies still have all strings.

[2019-12-18 12:38] AndiAJ commented on #6968
Hi, **verified as fixed ** on the latest Nightly Build #13520613 from 12/18 using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191218_122519](https://user-images.githubusercontent.com/51314259/71087069-f7437300-21a3-11ea-9dca-27b3563904ad.gif)

[2019-12-18 12:38] #6968 closed

[2019-12-18 12:51] LaurentiuApahideanSV opened #7269 "[Bug] threejs example using WEBGL is not working"
## Steps to reproduce
1. Go to: https://threejs.org/examples/?q=gpu#webgl_gpgpu_protoplanet

### Expected behavior
Particles should be seen orbiting each other.
### Actual behavior
The canvas remains black.
### Device information

* Android device: Pixel 3 XL
* Fenix version:
Firefox Preview 3.0.1 (Build #13502256) 12/16
Firefox Preview Beta 3.0.0-beta.3 (Build #13392157) 12/5
Firefox Preview Nigh

[2019-12-18 12:55] Diana-Rus commented on #5769
Hi, I can reproduce this issue with Samsung Galaxy S10 Plus (Android 9) on build Firefox Preview  Nightly 191218 (Build #13520612) with Gecko View 73.0a1-20191216095052.

Note:
The only difference is that I don't block the permissions from system settings for Firefox Preview Nightly app.

[2019-12-18 13:00] isabelrios opened #7270 "[Bug] Login entry fields do not seem to have chars limit - text overlapping if one of the details is long"
## Steps to reproduce
Go to Settings -> Logins and Passwords -> Saved logins
### Expected behavior
The login entry is shown correctly
### Actual behavior
The long website overlaps all the other fields
### Device information
* Android device: Pixel 3, Android 10
* Fenix version: master 1a739db

Please see screenshot:
![Untitled](https://user-images.githubusercontent.com/1897507/71088149-17703380-21

[2019-12-18 13:01] isabelrios opened #7271 "[Bug] Login entry fields do not seem to have chars limit - text overlapping one of the details is long"
## Steps to reproduce
Go to Settings -> Logins and Passwords -> Saved logins
### Expected behavior
The login entry is shown correctly
### Actual behavior
The long website overlaps all the other fields
### Device information
* Android device: Pixel 3, Android 10
* Fenix version: master 1a739db

Please see screenshot:
![Untitled](https://user-images.githubusercontent.com/1897507/71088149-17703380-21

[2019-12-18 13:02] isabelrios commented on #7271
for some reason it was open twice, closing this

[2019-12-18 13:02] #7271 closed

[2019-12-18 13:15] isabelrios opened #7272 "[Bug] No information shown in Saved logins view when user has not signed in yet or the list is empty"
## Steps to reproduce
Go to Settings -> Logins and passwords -> Saved logins
### Expected behavior
There is information letting user know that he needs to sing in
### Actual behavior
White screen is shown
### Device information

* Android device: Pixel 3, Android 10
* Fenix version: master 1a739db

Please see screenshot:
![IMG_4730](https://user-images.githubusercontent.com/1897507/71089293-d299cc

[2019-12-18 13:22] AndiAJ commented on #3574
Hi, I've checked this issue on the latest **Nightly Build #13520613 from 12/18** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S9 (Android 8)
• Samsung Galaxy S7 (Android 7)

✔️ It works on:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

►Video
![20191218_144055](https://user-images.githubusercontent.com/5131

[2019-12-18 13:24] kumarrus commented on #7254
Hi, I am new to contributing to OSS. Can I please take on this issue?

[2019-12-18 13:29] isabelrios commented on #7272
Same screen is shown if the login list is empty

[2019-12-18 13:31] AndiAJ commented on #5574
Hi @colintheshots, could you please give us a heads up on how should we test this matter? and on what should we focus while testing. :relaxed:

[2019-12-18 13:51] sblatz commented on #7267
This is a really strange bug. I cannot reproduce this on my Galaxy S9 on Android 9.

@csadilek do you have any idea what may be going on here? It may be related to this patch: https://github.com/mozilla-mobile/android-components/pull/5286/files

I'm digging into this a bit and my thoughts for possible issues are:
* Download pause doesn’t kill the job? Resuming starts a new one so many files are wr

[2019-12-18 14:08] Cheap-Skate commented on #6190
Minor comment re the UX flow in Comment 0

It's not clear to me what "add to Firefox home" means i.e. I don't really recognise the current "tabs tray" as a home page.  I think I (and perhaps others) have the opposed view to some of you Mozilla guys, I live my life in tabs and think of the tabs tray as merely a route to a new tab, not a destination or home page. I'm sure we'll change our views in t

[2019-12-18 14:11] Cheap-Skate commented on #6190
Is there a plan to have Fenix auto-add frequently visited sites to Top Sites?

I think that's really important, I know casual users who rely on the browser identifying and presenting Top Sites i.e. they don't bother pinning them themselves, they just use what the browser suggests.

[2019-12-18 14:13] Cheap-Skate commented on #6190
Final comment:- I really like the idea that I can have as many rows of Top Sites as I like!

(Which makes me think.... folders on the Top Sites page? Tap a folder to open it, see Top Sites inside? Then it replicates the Android Home screen where I can place a folder on the Home screen and put apps in it)  Mmmmmm

[2019-12-18 14:15] cadeyrn commented on #6190
It's the first checkbox in comment 0:

This one is not about manually adding top sites because the next one is about manually adding sites:

[2019-12-18 14:16] #7075 closed

[2019-12-18 14:18] ebalazs-sv commented on #4981
@pocmo I tested this on today's Release, Beta, Nightly migration builds 12/18 with the following devices:
- Google Pixel (Android Q);
- Motorola Nexus 6 (Android 7.1.1);
- HTC Desire 820 (Android 6.0.1);
- Xiaomi Mi4i (Android 5.0.2);
- Huawei MediaPad M2 (Android 5.1.1),

and for Android 6+ the default browser state remains, for Android 5 the browser state is reset.

[2019-12-18 14:33] mcarare commented on #7032
@hackertronix Are you working on a PR for this? Otherwise I will pick this up.

[2019-12-18 14:36] hackertronix commented on #7032
Hey @mcarare yes I am working on this I will most probably open a PR early tomorrow morning.

[2019-12-18 14:42] mcarare commented on #3574
@AndiAJ As per  https://github.com/mozilla-mobile/fenix/issues/6993#issuecomment-564183070 the logo should not be selectable with Talkback.  I will investigate of we can do something about Voice Assistant.

[2019-12-18 15:07] sblatz commented on #7267
I've got it! Patch incoming :)

[2019-12-18 15:11] gabrielluong commented on #5574
Actually, I can do that. It will take me a bit of time, but I should have an extensive list of things in a few hours.

[2019-12-18 15:17] AndiAJ commented on #6663
Hi, **verified as fixed** on the latest **Nightly Build #13520613 from 12/18** using a Google Pixel 3a (Android 9).

No crash encountered while signing out 36 times. (signed in and out 9 times from each section) :relaxed:

[2019-12-18 15:17] #6663 closed

[2019-12-18 15:34] AmyYLee commented on #7094
Hi @liuche, we should have "Never save" as the option here instead of "Don't save". The assumption is that if the user doesn't want to save a password that they want it to stay that way and not be asked again. If they do change their minds they can remove it from the exceptions list in Settings. This matches Fennec and also in our options for "Save passwords" is either Always ask or Never save.

S

[2019-12-18 15:43] sv-ohorvath opened #7274 "[Bug] Pixel 2 API 28 x86 Emulator - Unable to turn on "Set default browser" switch"
## Steps to reproduce
1. Create a Pixel 2, or Pixel 3 API 28 x86 Emulator in AS.
2. Install the fenix debug app
3. Set as default browser by going to Settings>Set as default browser, tap the switch and select Firefox Preview as default.
4. Return to the Set default browser screen by tapping the device back button
5. Check the switch is on.
### Expected behavior
Switch is on.
### Actual behavior
Se

[2019-12-18 15:44] madb1lly commented on #6190
First time I've seen that UX mobkup. I agree with @Cheap-Skate that I wouldn't necessarily know what "Firefox Home" means, coming from Fennec. I personally struggle to see what is wrong with the Fennec Awesome-page, that hasn't been well explained yet AFAICT.

And what on earth is a snackbar?! :D

Cheers 🙂

[2019-12-18 15:45] cadeyrn commented on #6190
https://material.io/components/snackbars/

[2019-12-18 15:55] kumarrus commented on #7250
Hi, I am new to contributing to OSS. Can I please take on this issue?

[2019-12-18 15:56] marthinwurer commented on #6656
This started happening to me recently. Before the download dialog changed, it worked fine, but that might just be because I'm on the play store build.

Device: S8, Android 9

3.0.0 (Build #13431956)
📦: 24.0.0, 968f858c1
🦎: 71.0-20191125115111

[2019-12-18 15:58] snorp commented on #7143
Checking every TLD seems...excessive. Can we just back that off a bit? Or a lot? I think "no spaces and contains a dot" is probably good enough.

[2019-12-18 16:04] rocketsroger commented on #7260
Issue opened https://github.com/mozilla-mobile/android-components/issues/5352

[2019-12-18 16:43] topotropic opened #7276 "Align new tab and site menu"
### Why/User Benefit/User Problem

- With the introduction of a dedicated tab tray (https://github.com/mozilla-mobile/fenix/issues/1063), we'll replace the current concept of "home" with "new tab". Once this is implemented, we want to align new tab and site 3-dot menu so that people can rely on muscle memory for items that are relevant to both menus.
- We  want to give the menus more structure and

[2019-12-18 16:45] topotropic commented on #7276
@vesta0 I added this request, can we estimate and prioritize it? Thanks!

[2019-12-18 16:49] sblatz commented on #7267
Should be fixed in the next nightly 😄

[2019-12-18 16:51] tvenissat commented on #7207
May I be assigned this issue?

[2019-12-18 16:56] NotWoods commented on #7250
Go for it!

[2019-12-18 17:24] Baron-Severin commented on #6274
Wow, good catch @MarcLeclair.  It looks like you're already involved in discussion on this in another issue, linking here for future readers.

[[Bug] Long delay when loading new tab](https://github.com/mozilla-mobile/fenix/issues/7143)

[2019-12-18 17:37] Baron-Severin commented on #3088
Looking into using [built in Gradle code shrinking](https://developer.android.com/studio/build/shrink-code.html#unused-alt-resources) as an alternative to our existing pruning script.

[2019-12-18 17:45] colintheshots opened #7278 "[Bug] Fix bug 1562865"

[2019-12-18 19:04] kumarrus commented on #7250
@NotWoods There's a single instance of anko.px2dip that can be replaced with (context.resources.getDimension(id) / context.resources.displayMetrics.density). Should I include this in the same PR or file a separate issue for it?

[2019-12-18 20:19] kumarrus commented on #7250
@NotWoods Made the changes in PR #7279

[2019-12-18 20:48] NotWoods commented on #5585
I found the issue with Starbucks. Their theme color is `#00A862` but GeckoView removes the leading zeros when parsing the manifest, creating `#A862`. Android Components can't parse this four-digit color so it gets discarded.

[2019-12-18 21:35] AmyYLee commented on #6479
@vesta0 Posted UX spec to comment 0. This is ready for engineering.

[2019-12-18 21:54] MarcLeclair opened #7281 "Move setStartupMetrics() to worker thread to reduce start up time of Fenix"
### Why/User Benefit/User Problem
Currently, every time the application starts up , we see a heavy load from `setStartupMetrics()` . I.e: on a 5 seconds start up time, the method can take up to 500ms (on a Moto G5+). This can mean up to 10% of load time only on setting up Metrics.

* Talking with the Glean team, it seems that we can initialize metrics on a separate threads. I'm not sure if there w

[2019-12-18 21:57] AmyYLee opened #7282 "[Settings] Turn on Sync card outline doesn't show up in Dark theme"
Steps to reproduce:
1. Set Fenix to dark theme (Settings -> Theme)
2. Go back to Settings list

Expected:
Can see the outline of the "Sign into Sync" card outline

Actual: Can't see the card outline

Spec for correct colouring:
https://share.goabstract.com/802db82a-ab34-4baf-822d-7f9a4e0125b9?mode=design&sha=55df3f5a5598c442a978d0268b7574deb0c7ca7d

<img width="589" alt="Screen Shot 2019-12-18 at

[2019-12-18 23:20] boek commented on #7281
I know @hawkinsw has spent some time looking at this. You might want to connect with him to share some context!

[2019-12-18 23:22] boek commented on #7274
@sv-ohorvath Is this something that is important for automation/testing? If so feel free to bump to a P2 👍

[2019-12-18 23:28] liuche commented on #7272
@AmyYLee is there an empty state for this?

[2019-12-18 23:29] boek commented on #7266
@AmyYLee @topotropic Is this a bug?

[2019-12-18 23:30] yaomtc commented on #2579
This is happening to me right now when attempting to download JPEGs generated on the fly by Nintendo, here: https://switch.nintendo.com/year-in-review/

This is with Firefox Preview 3.0.1.

[2019-12-18 23:35] liuche commented on #6335
See bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1507846

[2019-12-18 23:35] #6335 closed

[2019-12-18 23:42] ai commented on #7266
I checked other popular Android applications with the bottom bar, and most of them don’t have a line between the bottom bar and the Android gesture bar. Most of them use a black background for a gesture bar. But some of them use the same color for bottom bar and system gesture bar without line between them.

* Yandex Browser: black gesture bar.
* WhatsApp: black gesture bar.
* WeChat: gesture bar

[2019-12-18 23:43] boek commented on #7241
@Hubfront I think you may have gotten unlucky with trying to pair during some planned downtime with sync! If you're still able to reproduce please re-open filling out the [bug report template](https://github.com/mozilla-mobile/fenix/issues/new?assignees=&labels=%F0%9F%90%9E+bug&template=---bug-report.md&title=%5BBug%5D) :)

[2019-12-18 23:43] #7241 closed

[2019-12-18 23:45] boek commented on #7240
@softvision-miralobontiu Hmm.. I'm not able to reproduce.

The page loads based on the locale of the device, looking on the device it looks like it's initially loading `https://www.mozilla.org/ru/privacy/firefox/` so it doesn't look like it redirected.

[2019-12-18 23:48] boek commented on #7238
Closing as a dup of #5527. Like https://github.com/mozilla-mobile/fenix/issues/5527#issuecomment-534989831 explained this will most likely be an option when Extensions land :)

[2019-12-18 23:48] #7238 closed

[2019-12-18 23:50] boek commented on #7232
Closing as a dup of #5771

[2019-12-18 23:50] #7232 closed

[2019-12-18 23:54] boek commented on #7230
Unfortunately this feature broke support for setting Fenix as a default browser in Android 5.0 😢  (see: https://github.com/mozilla-mobile/fenix/issues/5972).

With no way of disabling the feature for 5.0 we decided to pull the feature until we can come up with a solution. In the meantime you can set the pref like NotWoods mentioned :)

[2019-12-18 23:55] boek commented on #7227
@grigoryk are we tracking this anywhere? Or is this a nice-to-have in the future?

[2019-12-19 00:00] boek commented on #7212
@flodolo You're right, we should definitely switch to this. We can start doing this for all new strings immediately. How should we migrate the existing strings?

[2019-12-19 00:03] boek commented on #7209
I'm going to close this as a dup of #7049. I added it to group triage to see if we can get it prioritized.

[2019-12-19 00:03] #7209 closed

[2019-12-19 00:05] boek commented on #7199
I am also unable to reproduce on a Pixel. What version of Android are you using @SL-Lee?

[2019-12-19 00:12] boek commented on #7198
This is fixed in Nightly and 3.0.1 👍

[2019-12-19 00:12] #7198 closed

[2019-12-19 00:14] #7190 closed

[2019-12-19 00:18] #7186 closed

[2019-12-19 00:37] boek commented on #7168
@Will-Sys Good catch. This feature should not have made it onto that list! We're still waiting on one bug fix before we can ship it

[2019-12-19 00:45] boek commented on #7150
Another notch bug?

[2019-12-19 00:56] boek commented on #7103
This is fixed from reverting #6925

[2019-12-19 00:56] #7103 closed

[2019-12-19 01:00] boek commented on #7079
Fixed in 3.0!

[2019-12-19 01:00] #7079 closed

[2019-12-19 01:08] boek commented on #7040
Could we add a lint rule for this?

[2019-12-19 01:09] boek commented on #7038
@marcinwiacek are you still able to reproduce this?

[2019-12-19 01:13] boek commented on #7033
I don't think this is something we can fix 😢

[2019-12-19 01:16] boek commented on #7029
I can't remember! But it's a bug so lets fix it :D

[2019-12-19 02:01] marcinwiacek commented on #7038
YES - you asked, because you can't reproduce or is any other reason?

Also - if browser cannot open correct page at all, then priority is rather higher than P3... unless you want to loose people using it.

[2019-12-19 02:12] boek commented on #7038
@marcinwiacek i couldn’t reproduce this on any of my devices (pixel 2, 3 and an S9) on the latest nightly. I will see if I can locate an S7 to reproduce

[2019-12-19 02:25] Delphine commented on #3088
Yes, I agree that we should be covering Beta as well. Thank you!

[2019-12-19 02:32] marcinwiacek commented on #7038
interesting, please try to flash / use Android 8 then.

I'm looking now and "normal" preview 3.0.0 on this device opens page OK.

[2019-12-19 03:17] SL-Lee commented on #7199
I'm on Android 9. I have noticed that this behavior seems to occur only when you disconnect from wifi / mobile data before performing a reboot, could you please try reproducing this again? (I have also edited the "Steps to Reproduce" section to include this step I missed out.)

[2019-12-19 05:25] Wetterwolke opened #7285 "settings: tracking protection options. meaninfull name"
## Steps:
go to the menue. To the tracking protection section

### Expected behavior:
each option should have a unique meaningfull name.
For example rename the first option to : _Basic_ / _Einfach_ in geman

### Actual behavior:
both are "standard" in german

### Device information

* Android device: ?
* Fenix version: 3.0.1
![Screenshot_20191219-021831_Firefox Preview](https://user-images.githubu

[2019-12-19 06:06] vesta0 commented on #6539
Will be covered in #6980

[2019-12-19 06:06] #6539 closed

[2019-12-19 06:24] flodolo commented on #7212
That's a good question. I see a few options, leaving to Delphine/Pike the choice:
1) We update en-US and ignore locales, since they're interchangeable (can someone confirm it though?)
2) We update en-US and fix all other locales by hand in the same PR. That depends on how many strings are affected (I didn't check that), and likely requires a lot of coordination to avoid conflicts.

The sooner we c

[2019-12-19 06:35] vesta0 opened #7288 "[Telemetry] App intent handling"
#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know how users interact with app link intents, so I have insight on how to improve this feature to address user needs, and better understand user preferences in terms of integration with other apps.

#### What questions will you answer with this data?
- What behaviour do users prefer: opening a link insi

[2019-12-19 06:48] vesta0 opened #7289 "[Telemetry] Dark Theme"
#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know how often users choose dark mode, in order to better prioritize feature optimizations.

#### What probes (suggested, if applicable)
- How often users choose Dark Theme
- Where do users make this choice from (settings or onboarding)

### Acceptance Criteria (Added by PM)
- Event pings can be queried

[2019-12-19 06:57] vesta0 commented on #6438
This issue will be addressed in #7099

[2019-12-19 06:57] #6438 closed

[2019-12-19 08:06] #7250 closed

[2019-12-19 08:44] Pike commented on #7212
To be really sure, we need to check all call sites, and see if they're using the API, and not manually replacing `%s`. Yeah, I know, but we've seen things.

As for updating localizations, if you want to do that on a repo, it'll need to be a PR on `android-l10n`, not on fenix.

[2019-12-19 09:26] AndiAJ commented on #7240
Hi, @boek is right, the loaded page depends on the locale.
I've checked this matter, and **could't reproduce** on the latest **Nightly build #13530608 from 12/19** using the following devices:
• Google Pixel 3a XL (Android 10)
• Google Pixel 3a (Android 9)

► Video
![20191219_111449](https://user-images.githubusercontent.com/51314259/71161452-084abd80-2252-11ea-8914-54ebaa8e4448.gif)

@softvision-

[2019-12-19 09:38] AndiAJ commented on #7267
Hi, still reproducible on the latest **Nightly build #13530608 from 12/19**

❌ Reproducible on:
• Google Pixel 3a (Android 9)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)

✔️ Not reproducible on:
• Huawei Mate 20 Lite (Android 8.1.0)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191219_112902](https://user-images.githubusercontent.com/51314259/71162533-113c8e80-2254-11ea-82a8-8286a93ad

[2019-12-19 10:12] AndiAJ commented on #7219
Hi, **verified as fixed** on the latest **Nightly build #13530608 from 12/19** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Screenshots
![black](https://user-images.githubusercontent.com/51314259/71164645-2ca99880-2258-11ea-8bf4-d8e9d7c93062.png)

![white]

[2019-12-19 10:15] cadeyrn commented on #7219
@AndiAJ

In your screenshots the padding of the download button is still missing, only the color is changed. 🤔

[2019-12-19 10:24] AndiAJ commented on #7219
As per @cadeyrn 's remark I'll re-open this issue.

Sorry for the inconvenience.

[2019-12-19 10:46] AndiAJ commented on #6849
Hi, I've just checked this matter on the latest **Nightly build #13530608 from 12/19** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

It seems that when deleting search engines from the middle of the list or from Bottom :arrow_right: Top the second listed sea

[2019-12-19 11:05] flodolo commented on #7212
From a quick look, I've only found 2 strings in Fenix using multiple `%s`

default_device_name
`%s on %s %s`

search_add_custom_engine_search_string_example
`Replace query with “%s”. Example:\nhttps://www.google.com/search?q=%s`

### Mismatches in locales

default_device_name
ja: `%2$s %3$s 上の %1$s`
en-US:`%s on %s %s`

mozac_lib_crash_dialog_button_restart
cs: `Restartovat aplikaci %s`
en-US:`Res

[2019-12-19 12:03] mcarare commented on #6849
@AndiAJ please retest with the next Nightly.

[2019-12-19 12:13] Diana-Rus opened #7290 "[Bug][Webrender]"available by user: Qualified enabled by pref" is missing from Webrender section for Samsung devices"
## Steps to reproduce

1. Open Firefox Preview Browser and go in "about:support".
2. Search after "Webrender" section.
### Expected behavior

The WebRender feature has the following status:

- opt-in by default: WebRender is an opt-in feature
- available by user: Qualified enabled by pref
### Actual behavior

Information "available by user: Qualified enabled by pref" is missing.
### Device informa

[2019-12-19 13:21] kumarrus commented on #7154
Hi, I've looked into this issue and the crash is caused by a NPE because the scenario where a certain site permission is blocked globally but we get site permissions only based on host URL and thus `sitePermissions is null` is not handled. So, when we try to toggle the permission in [QuickSettingsController](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/se

[2019-12-19 14:03] djc commented on #6190
Interestingly, this is exactly what I wrote up in #2484, but it appears this hasn't really gotten much attention.

[2019-12-19 14:13] sblatz commented on #7267
Oops, sorry about that @AndiAJ, the AC version hadn't been updated. I'll make sure that gets merged before putting qa needed on this again 😄

[2019-12-19 14:16] abodea commented on #7150
@boek yes 😨 but this was only on S10+(I guess).
I'm able to reproduce this issue even after the full screen was reverted https://github.com/mozilla-mobile/fenix/pull/7152 .

[2019-12-19 15:08] sim031999 commented on #7217
I am new to open source but I have understood the issue. Can I work on this?

[2019-12-19 15:18] LaurentiuApahideanSV opened #7293 "[Bug] The game from https://proxx.app/ does not load in Private Browsing"
## Steps to reproduce
1. Switch to Private Browsing;
2. Go to https://proxx.app/;
3. Fill all the rquired fields and tap the Start button;

### Expected behavior
A game similar to minesweeper should start.
### Actual behavior
The page remains in infinite loading.
### Device information

* Android device: Samsung Galaxy Note 9 (Android 9)
* Fenix version:
Firefox Preview 3.0.1 (Build #13502256) 12/

[2019-12-19 15:29] sblatz opened #7294 "[Bug] "Error connecting to '%s'" in custom search engine"
## Steps to reproduce
1. Try to add an incorrect custom search engine

### Expected behavior
1. User is notified: "Error connecting to ENGINE_NAME"

### Actual behavior
1. User is notified: "Error connecting to '%s'"

Fenix version 12/19/19

<img width="350" alt="Screen Shot 2019-12-19 at 10 27 30 AM" src="https://user-images.githubusercontent.com/4400286/71185915-4e9c1e80-224a-11ea-87e9-8ff713f29

[2019-12-19 15:34] wisniewskit commented on #5073
Note that in [bz1553265](https://bugzilla.mozilla.org/show_bug.cgi?id=1553265), support just landed on error pages to get the failed certificate in the format needed by `about:certificates`. That is, on error pages a link can be formed via:
[code]

[2019-12-19 15:43] sblatz opened #7295 "Send a custom ping for `first install`"
After some discussion with the Glean team and mgorlick, we have decided that in order to have valid data for adjust campaign users in Glean, we need to send a custom ping for first install that would include the adjust campaign. This is because the campaign is not known when the first metrics ping is sent (we must wait to get it back from the Adjust servers). Because of this we will not get data o

[2019-12-19 15:44] sblatz commented on #7295
See https://mozilla.github.io/glean/book/user/pings/custom.html for more info on implementing this.

[2019-12-19 15:47] sblatz commented on #7295
Adding @Dexterp37 to this so he can follow 😄

[2019-12-19 15:52] darkwing commented on #7293
I think this *might* be a Gecko issue or a coding issue.  The game never loads properly in desktop Firefox in private mode either.  I see service workers and other others, so you may want to look into that.

[2019-12-19 16:30] Diana-Rus opened #7296 "[Bug] The 3D models are not correctly displayed"
Pre-requisites:
gfx.webrender.all=true

## Steps to reproduce
1. Open Firefox Preview Browser and go to "https://sketchfab.com/".
2. Play a video.

### Expected behavior
The 3D Models are loaded correctly.

### Actual behavior
The 3D models are not displayed correctly.

### Device information

Android device:
- Samsung Galaxy S10 Plus(Android 9)-Adreno 640
- Samsung Galaxy S9 (Android 8.0.0)-Adren

[2019-12-19 17:51] Baron-Severin commented on #3088
@Pike @Delphine my understanding was that localizers working on partially translated languages should be able to use beta builds to see the translations in app.  Is that incorrect?  Please verify that we want:

- Release: prune to approved list
- Beta: prune to approved list
- Debug: keep all translations

[2019-12-19 18:56] NotWoods commented on #7293
I think PROXX relies on IndexedDB and doens't work when its not present (such as in private mode). Filed https://github.com/GoogleChromeLabs/proxx/issues/511

[2019-12-19 19:24] AmyYLee commented on #7272
We will need some copy for the empty state. I'm posting sample copy of what we have for Exceptions when it's empty for reference for @mheubusch to help with copy here.

<img width="377" alt="Screen Shot 2019-12-19 at 14 22 51" src="https://user-images.githubusercontent.com/5992746/71202966-253fba80-226b-11ea-8e21-c8ac0a79c99f.png">

[2019-12-19 20:50] creesch opened #7298 "[Bug] PWA not recognized as such if not at root of domain"
## Steps to reproduce

1. Go to https://demo.thelounge.chat/
2. Check the firefox menu for PWA installation.
3. Install PWA
4. Connect to an IRC server (note that the url of this PWA changes to add the channel name)
5. Check the firefox menu again for PWA installation.
6. Install PWA

### Expected behavior

In step 2 and step 5 the menu gets a nice blue icon indication that a PWA can be installed

[2019-12-19 20:53] st3fan opened #7299 "Allow "always zoom websites" to work in in fullscreen YouTube"
Steps to reproduce:

Enabled the setting "always enable zoom".

Actual results:

Zoom is still disabled in youtube fullscreen.

Expected results:

I should be able to zoom.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-14905)

[2019-12-19 21:04] gabrielluong commented on #6758
This is currently blocked by https://github.com/mozilla-mobile/android-components/issues/5315, which will be landing soon. The added top sites storage in AC allows us to add and remove pinned top sites.

[2019-12-19 21:06] AmyYLee commented on #7266
In the original mocks we had hairlines on the top and bottom. I'm okay with removing the hairline between the URL bar and the gesture bar. We are doing this in PBM. @topotropic What do you think?

[2019-12-19 21:14] liuche commented on #6727
@mcomella is the fix for this to make a different app id using a different build? Or are there more things would be necessary here (if we can't get that done).

[2019-12-19 21:51] gabrielluong commented on #5574
So, this is unfortunately gonna be long because we converted most of the architecture in the Home fragment. As a result, we need to check everything feature this architectural change touched. The Home fragment is basically gonna be our starting point for every bullet point that needs to be tested.

### Collections
- Check that the Collection Creation fragment (this allows you to select the tabs an

[2019-12-19 21:58] gabrielluong commented on #5574
We'll also need to test the following functionality:

- Returning to the Home fragment (from an opened tab) shows the correct list of collections, tabs and mode.
- Adding tab(s) to collections work correctly.
- Switching between private and normal mode works as expected
-

[2019-12-19 22:11] hawkinsw commented on #4309
It is still true that the ReaderViewControlsBar unconditionally inflates. It is also still true that this has (at least some) impact on startup performance (applink case). See attached profile.
[unconditionalreaderviewinflation.zip](https://github.com/mozilla-mobile/fenix/files/3985843/unconditionalreaderviewinflation.zip)

[2019-12-19 22:19] mcomella commented on #7300
I believe this was addressed by https://github.com/mozilla-mobile/fenix/pull/7218

@colintheshots @hawkinsw Please close if so.

[2019-12-19 22:24] #7253 closed

[2019-12-19 22:29] hawkinsw commented on #7300
Bingo!

[2019-12-19 22:29] #7300 closed

[2019-12-19 22:57] boek commented on #7033
Yeah, this is controlled by the system. Closing it as CANTFIX

[2019-12-19 22:57] #7033 closed

[2019-12-20 00:02] rpappalax opened #7303 "[Bug] Fix intermittent UI test failure - testDownloadPrompt"
intermittent failure on the UI testDownloadPrompt.
latest Firebase:
https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6337539131377699799/executions/bs.d8b346fae11c9ec0/testcases/1/test-cases

https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8780672757579522534/executions/bs.fcbd2f6bff5d9

[2019-12-20 00:49] mcomella commented on #7040
FYI: I'm not sure how challenging it is to integrate with our existing linters but it's fairly easy to spin up a gradle task that runs a shell script to accomplish the same task. Here's [an example](https://github.com/mozilla-mobile/firefox-echo-show/blob/699e47a96326ed50f1cfdb3b13bb999308d09838/buildSrc/src/main/kotlin/org/mozilla/gradle/tasks/VerifyWebViewCount.kt#L35) I wrote for FFES.

[2019-12-20 00:54] mcomella commented on #6727
I haven't discussed with Alessio but I'd be concerned that we aren't testing our actual production builds but instead builds built alongside them.

[2019-12-20 00:57] liuche commented on #6381
@AmyYLee should "Open links in Private Mode" be a setting that is also available even if you don't have the browser set as the default? Currently it's greyed out. I know we had the regression for "open with Private Fenix" which originally handled this case, but that was backed out due to #5972 and I don't think we currently have a solution yet.

![Screenshot_20191219-195341~2](https://user-images.

[2019-12-20 01:16] liuche commented on #3088
Beta and Release should be as similar as possible, for testing purposes. Localizers will be able see partially localized (but not approved and released) locales on Nightly (and debug, if they wish to build the app).

Once Beta gets released to a larger population (e.g. replacing Fennec Beta) we could change that to go either way.

[2019-12-20 01:23] liuche commented on #5972
Wait, since the PB mode `activity-alias` was removed, does this mean this is a separate regression, unrelated to PB mode? @sblatz

[2019-12-20 02:16] #7254 closed

[2019-12-20 02:30] NotWoods commented on #7298
I know that we can install PWAs that are not at the root of the domain, so I suspect that this is caused by The Lounge using the History API and changing the URL without reloading. I'll investigate, this might need a GeckoView change.

[2019-12-20 07:10] AndiAJ commented on #6897
Hi, **verified as fixed** on the latest Nightly Build **#13540607from 12/20** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191220_090458](https://user-images.githubusercontent.com/51314259/71236776-794cac80-2308-11ea-8e0f-0457b0dea396.gif)

[2019-12-20 07:10] #6897 closed

[2019-12-20 07:54] AndiAJ commented on #6849
Hi, **verified as fixed** on the latest **Nightly Build #13540607from 12/20** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔️ Deleting the search engines Top ➡️ Bottom
![20191220_093921](https://user-images.githubusercontent.com/51314259/71239005-28d84d80-2

[2019-12-20 07:54] #6849 closed

[2019-12-20 08:03] AndiAJ commented on #6709
Hi, **verified as fixed** on the latest **Nightly Build #13540607from 12/20** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191220_095804](https://user-images.githubusercontent.com/51314259/71239724-f16aa080-230f-11ea-857e-8932cde12909.gif)

[2019-12-20 08:03] #6709 closed

[2019-12-20 08:12] cadeyrn commented on #7220
Fixed by #7224.

[2019-12-20 08:48] AndiAJ commented on #3574
Hi, **verified as fixed** on the latest **Nightly Build #13540607 from 12/20** using the following devices:
• Google Pixel 3a (Android 9) **[Talkback]**
• OnePlus A3 (Android 6.0.1) **[Talkback]**
• Samsung Galaxy S10+ (Android 9) **[Voice Assistant]**
• Samsung Galaxy S7 (Android 7) **[Voice Assistant]**
• Samsung Galaxy S8+ (Android 8)**[Voice Assistant]**

► Video from Samsung Galaxy S10+
![201

[2019-12-20 09:41] mcarare opened #7307 "[Bug] Settings category are not read by Voice Assistant on Samsung devices"
### Device information

* Android device:  Samsung devices with Voice Assistant instead of Talkback
* Fenix version: 3.0.0 and latest master

[2019-12-20 09:42] survivor303 commented on #7238
These guys just ignore the first problem what i trying to explain . I say that New Firefox doesn't background play media when it comes to mobile site of any player included site. and asking that if Firefox devs can just make a option to the settings that allow users to get background player working. It isn't that we need to broke anything from the standard but we can offer better experiences and o

[2019-12-20 09:53] Dunexus commented on #7238
Background media works. You can test by going to https://www.w3schools.com/html/html5_video.asp, play the video, press home, the audio is still playing in background with a notification.
If you are talking about PiP, it is tracked in this issue https://github.com/mozilla-mobile/fenix/issues/2818

[2019-12-20 09:55] AndiAJ commented on #7183
Hi, **verified as fixed** on the latest **Nightly Build #13540607from 12/20** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191220_115149](https://user-images.githubusercontent.com/51314259/71246540-8628ca80-231f-11ea-9bf5-663a3b57dd1f.gif)

[2019-12-20 09:55] #7183 closed

[2019-12-20 10:01] AndiAJ commented on #6791
Hi @csadilek , just to be sure, is the above crash the same as those encountered by @abodea in [#6628 ](https://github.com/mozilla-mobile/fenix/issues/6628#issuecomment-558188261) ?

[2019-12-20 10:06] topotropic commented on #7029
@boek I re-installed Fenix Preview (3.0.1) and when I tap on "Start browsing" it stays on home, scrolls to top, keeps all the onboarding cards, doesn't do anything else, doesn't got to search as spec'd out here https://github.com/mozilla-mobile/fenix/issues/7029#issuecomment-564218727. Looks like a bug.

[2019-12-20 11:33] LeoniePhiline opened #7309 "[Bug] My two most used search engines disappeared from Firefox Preview"
## Steps to reproduce
Use Nightly of about a week ago.
Add custom search engines Startpage (privacy! With incomparably higher search result quality than duckduckgo) and Ecosia (ecology!) and kick out the data leeches Google, Bing, Amazon,...

### Expected behavior
The best available search engines stay available as I update to the following Nightlies.

### Actual behavior
My most important search

[2019-12-20 11:57] cadeyrn commented on #7309
intentionally in #7213.

[2019-12-20 13:27] #7156 closed

[2019-12-20 13:47] AndiAJ commented on #768
Hi, I've just tested this issue on the latest Nightly Build #13540607from 12/20 using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

After while testing and double checking against the **[Abstract](https://app.goabstract.com/share/3815ff0e-5b89-4a41-a1de-7414f2e579

[2019-12-20 14:06] csadilek commented on #6791
@AndiAJ Yes, same, based on the crashlogs in https://github.com/mozilla-mobile/fenix/issues/6628#issuecomment-558188261

[2019-12-20 14:13] sblatz commented on #7267
AC version has been updated to 27 so this should work on master/next nightly.

[2019-12-20 16:25] Diana-Rus opened #7312 "[Bug]The "Sign in" button does not work for www.pcgamesupply.com"
## Steps to reproduce
1. Open Firefox Preview browser and go to "www.pcgamesupply.com".
2. Tap on the "Sign in" button from the top right corner.
### Expected behavior
A "Sign In" dialog box is displayed alongside with "Register" button, email field, password field and personal information manipulation agreement.
### Actual behavior
There is no "Sign In" dialog box present, the user cannot log int

[2019-12-20 16:40] AmyYLee opened #7313 "[Headers] Dark theme header colour is wrong"
All dark theme headers should be #32313C. Please see mock below

<img width="762" alt="Screen Shot 2019-12-20 at 11 39 22 AM" src="https://user-images.githubusercontent.com/5992746/71269479-760feb80-231d-11ea-8304-9fd6e8a3657d.png">

[2019-12-20 17:05] ktaeleman commented on #7290
Hey Diana,

Would you be able to attach an about:support for one of these devices?

Thanks!

[2019-12-20 17:56] liuche commented on #6727
What if you made them with the same gradle config as Release? fwiw that's what we're doing with Fenix Beta, and we're trying to keep Beta and Release as close as possible.

[2019-12-20 18:43] AmyYLee commented on #7266
I spoke with @topotropic about this. Can you please set the the android gesture nav bar to black on Light/Dark themes. Thanks

[2019-12-20 19:00] mcomella commented on #6464
I did an analysis into our build variants (https://github.com/mozilla-mobile/fenix/issues/6931) and we decided to keep `forPerformanceTest`: repurposing this bug to make it a first class variant. This includes:
- Disable StrictMode logging in forPerformanceTest builds
- Fix captured Exception for “invalid” variant forPerformanceTest (i.e. the issue described in comment 0)
- Investigate if further

[2019-12-20 19:02] mcomella commented on #6931
The documentation has been completed. Remaining action items:
- Notify team on build variant recommendations & update documentation
- File issues for follow-up action items (these will be linked from the document)

---

### Brief summary
Goal: Local devs should use while analyzing and improving performance
- Requirements: debuggable for profiling, representative of user experience
- Recommendation

[2019-12-20 19:21] darkwing commented on #7312
I'm seeing this on my Pixel 4 on current master (a50d8552ac3b7c7c4feb07068f805e9c9ef98429):

![Login](https://user-images.githubusercontent.com/46655/71285744-8f1f9900-232b-11ea-84f5-e0daa2ef3cc4.png)

[2019-12-20 19:42] mcomella commented on #6931
I created a PR to add the recommendation to the README: https://github.com/mozilla-mobile/fenix/pull/7315

[2019-12-20 19:46] shahsurajk opened #7316 "[Meta] Write tests for ConnectivityManager extension"
### Why/User Benefit/User Problem
- Currently most of the components in the `ext` package have tests written for them, do the same for this.

### Acceptance Criteria (Added by PM. For EPM to track when a Meta feature is done)
- Tests for ConnectivityManager successfully running

[2019-12-20 19:50] finn0 commented on #4584
In Firefox Android, we do have support for DoH, but there is no UI to easily configure DoH settings like Firefox Quantum, we've to configure it from `about:config` settings which make things harder for novice FF users; although from Android 9 pie, we've support for [DoT](https://android-developers.googleblog.com/2018/04/dns-over-tls-support-in-android-p.html), but using DoH has its own pros like o

[2019-12-20 20:11] mheubusch commented on #1063
strings approved!

[2019-12-20 20:39] mcomella opened #7318 "Add mitigation for improper usage of BuildConfig.DEBUG"
### What
BuildConfig.DEBUG represents whether or not the build is debuggable. However, most developers take it to mean, "Is this a debug build?" They should be using specific release variants to identify debug vs. release rather than using the BuildConfig.DEBUG flag, which is much less common. We should prevent folks from using it unintentionally, e.g. via static analysis.

### Impact
Without this

[2019-12-20 20:41] mcomella commented on #6931
I finished filing issues for action items and linked them from the analysis.

[2019-12-20 20:49] mcomella commented on #6464
Raising priority as a follow-up to my recommendations on build variants: https://github.com/mozilla-mobile/fenix/issues/6931

[2019-12-20 21:46] mcomella commented on #6464
I submitted a PR for my code changes: https://github.com/mozilla-mobile/fenix/pull/7319

Once that lands, I'll send out the email.

[2019-12-20 21:46] mcomella commented on #6931
Once the PR lands, the remaining action item is to email the relevant parties.

[2019-12-20 23:18] lucianmarin opened #7320 "[Feature Request] Pull to refresh"
### Why/User Benefit/User Problem

Right now the user has to bring page/site options and push on reload button.

### What/Requirements

A pull down the page gesture will refresh the page, but won't do a cold reload.

### Acceptance Criteria (how do I know when I’m done?)

- pull down gesture
- animated reload icon
- page is refresh with new content

[2019-12-20 23:22] cadeyrn commented on #7320
Duplicate of #3262. According to #3262 it's in the backlog for Q2 2020.

[2019-12-21 00:44] lindongbin opened #7322 "[Bug] Some about:config values cannot change."
In about:config change the value
After restart fenix the value is reset to default

* Android device: ?
* Fenix version: latest nightly

[2019-12-21 03:07] NotWoods opened #7323 "Let's work more with contributors!"
With the recent decision to move [Mozilla’s messaging to Matrix](https://discourse.mozilla.org/t/synchronous-messaging-at-mozilla-the-decision/50620), we want to take this opportunity to better work with our amazing contributors and encourage multiple contributions. Let’s start discussing what we can do in early 2020!

# Communicating with contributors
## Meetings
We have two cross team meetings e

[2019-12-21 06:10] Poopooracoocoo opened #7324 "[Bug] Missing tooltips on icons in menu"
## Steps to reproduce
open a tab (say google.com)
tap on menu
tap and hold on one of the icons below
### Expected behavior
Tooltips for forward, bookmark, share and refresh/stop when those icons are tapped and held
### Actual behavior
Tapping and holding on the above icons does not show a tooltip (or toast)

### Device information

### Screenshot
![image](https://user-images.githubusercontent.com/

[2019-12-21 06:11] NotWoods commented on #7320
Yup, this has been difficult to implement but we're working on it.

[2019-12-21 06:11] #7320 closed

[2019-12-21 06:20] Poopooracoocoo opened #7325 "Bookmark all open tabs to a folder (like desktop)"
### Why/User Benefit/User Problem
Collections don't fit all use cases. I'm sure you can imagine some. I for one am a massive tab hoarder! This would be great with #10878 ;)
### What/Requirements
"Bookmark all tabs" item below "Save to collection" in tab switcher menu

Once you tap on Bookmark all tabs, Firefox should ask you what you'd like to name the folder and where you'd like to put it. **This

[2019-12-21 06:40] Poopooracoocoo commented on #2484
aww :( so sad that this is intentional. Using Fenix just feels harder than Fennec or a Chromium based browser

[2019-12-21 06:43] shahsurajk commented on #7048
Would be good to have tests for the same. Filling #7316

[2019-12-21 06:49] Poopooracoocoo opened #7326 "[Bug] Grey line below (or above) toolbar outside of homepage, search, fullscreen pages, etc"
## Steps to reproduce
N/a
### Expected behavior
No white line
### Actual behavior
![image](https://user-images.githubusercontent.com/51363864/71304391-19462b00-241a-11ea-9e44-4443df837808.png)
(more noticeable with dark theme but also present with light theme)
### Device information

### Screenshot

* Android device: ?
* Fenix version: Nightly 191220 18:00 (Build #13541809)
27.0.0, 081e6851f
GV: 7

[2019-12-21 06:50] Poopooracoocoo opened #7327 "Change search engines mid-search by tapping on search engine icon"
### Why/User Benefit/User Problem
it's convenient and easy. someone might not remember to change search engines and after completing the search, they might change the URL like google.com/?q=... to duckduckgo.com/?q=... which doesn't actually work.
### What/Requirements
Can change search engines mid-search by tapping on search engine icon
### Acceptance Criteria (how do I know when I’m done?)
When

[2019-12-21 07:01] Poopooracoocoo commented on #5582
@vesta0
out of curiosity, why is it a no on using a determinate progress bar and why not show downloaded size/full file size?

[2019-12-21 07:01] Poopooracoocoo commented on #5764
this is also great on devices with not much storage and SD cards

[2019-12-21 07:09] Poopooracoocoo commented on #4235
random snippets:
![image](https://user-images.githubusercontent.com/51363864/71304571-dc2f6800-241c-11ea-9efd-d712d53b6329.png)
![image](https://user-images.githubusercontent.com/51363864/71304579-f23d2880-241c-11ea-970e-cd917b0a5a59.png)
![image](https://user-images.githubusercontent.com/51363864/71304581-fec18100-241c-11ea-84d0-c7ba98e2ec70.png)

all of these are the light theme.

[2019-12-21 08:40] cadeyrn commented on #7326
Duplicate of #7266.

[2019-12-21 08:44] cadeyrn commented on #5582
The notification already shows the full size. Showing the progress is #4525 and worked on in https://github.com/mozilla-mobile/android-components/issues/5284.

[2019-12-21 08:53] Poopooracoocoo commented on #7326
Thanks. GitHub's search isn't perfect

[2019-12-21 08:53] lindongbin commented on #5288
#7322

[2019-12-21 08:53] lindongbin commented on #6807
#7322

[2019-12-21 08:53] #6807 closed

[2019-12-21 08:57] cadeyrn commented on #7285
Unfortunately it's not that simple.

- In English the two options are "Standard" and "Strict (Default)".
- In German "Standard" is "Standard" and "Default" is "Standard", too. That's bad and I agree this should be solved.
- But in the German Desktop Firefox the first options is also named "Standard", so changing the name of this option in Fenix would introduce an inconsistency with the Desktop Fir

[2019-12-21 10:34] moizahmed97 opened #7329 "Opening a tweet in a new tab (in the background) doesn't load the entire thread"
## Steps to reproduce
Go to Twitter.com
open any tweet thread by long pressing on the open thread and then  "Open in new tab"
### Expected behavior
The entire thread with all the replies and the tweet itself should load
### Actual behavior
only the first tweet is shown, none of the other tweets in the threads or in the replies can be seen
only a refresh fixes it
### Device information
* Android de

[2019-12-21 10:37] moizahmed97 opened #7330 "Dark mode on all websites like Opera or Samsung Internet"
### Why/User Benefit/User Problem
Dark mode is all the rage now, however most websites still have the blinding white background
a browser side dark mode that darkens the background and changes certain CSS properties of text would be if immense help for all users
### What/Requirements
A button that enables browser sided dark theming just as it has been done in Samsung Internet (Android browser) or

[2019-12-21 13:33] andreicristianpetcu opened #7331 "[Bug] Google images, maps and deezer fail with unknown protocol"
## Steps to reproduce
Open https://images.app.goo.gl/ZQzHfQaLtWvTntNo8

### Expected behavior
Show the page like fennec
![Screenshot_20191221-153157_Firefox_Beta](https://user-images.githubusercontent.com/922368/71308586-1988fb00-2407-11ea-869f-fcbf23d54bc7.png)

### Actual behavior
Shows unknown protocol
![Screenshot_20191221-153145_Firefox_Nightly](https://user-images.githubusercontent.com/92236

[2019-12-21 14:34] djc commented on #3470
Probably a dupe of #5869.

[2019-12-21 15:37] kbrosnan commented on #7330
Duplicate of #2139

[2019-12-21 15:37] #7330 closed

[2019-12-21 15:38] #7326 closed

[2019-12-21 15:39] kbrosnan commented on #5288
Closing as a duplicate

[2019-12-21 15:39] #5288 closed

[2019-12-21 15:52] kbrosnan commented on #6215
Duplicate of #5478

[2019-12-21 15:52] #6215 closed

[2019-12-21 15:58] Mossop opened #7332 "[Bug] I connected to sync and disabled bookmark syncing. Later on I found bookmark syncing had been enabled again."
## Steps to reproduce

Don't know if this reproduces.

1. Connect to sync.
2. Go into sync settings and uncheck bookmarks.
3. A few hours later look at settings again.

### Expected behavior

Bookmark syncing should still be disabled.

### Actual behavior

Bookmark syncing is enabled.

### Device information

* Android device: Moto G7
* Fenix version: 3.0.1 build 13502256

[2019-12-21 17:19] Poopooracoocoo commented on #2139
I think this would be best as a setting that isn't on by default (for the dark theme) and can be enabled (if main setting is off) or disabled (if main setting is on) per site while respecting sites that support prefers-color-scheme ofc. Opera's settings look nice! B-)

[2019-12-21 17:23] Poopooracoocoo commented on #7289
Just out of curiosity, would what times dark theme is enabled be measured?

[2019-12-21 17:59] adth03 opened #7333 "[Bug] While watching a video on fullscreen, user can slide the video at a limited range."
Set the toolbar to top. While watching a video on fullscreen, user can slide the video at a limited range.
While browsing normally, when user slide the webpage the toolbar disappears. But when the toolbar appears, the website seems as if it is moved a bit down. I think that this may cause the problem.

[2019-12-21 17:59] #6952 closed

[2019-12-21 20:16] kbrosnan commented on #6952
Did this get fixed? There is no associated pull request.

[2019-12-21 20:19] ekager commented on #6952
Assuming it was fixed by #7126

[2019-12-22 02:15] spinda opened #7335 "Accessibility option to add back button in pop-up menu"
### Why/User Benefit/User Problem

My father just reverted to legacy Firefox for Android because "there's no back button anymore [in the pop-up menu]". I assume it was removed in the process of consolidating the swipe-up menu with the pop-up menu. He's never used the system-wide back gesture (a swipe on the physical home button, in the case of his phone), and isn't going to start now.

### What/Re

[2019-12-22 06:28] ViktorZhurbin commented on #4424
Reinstalled the app and my collections were gone. This was very frustrating

[2019-12-22 07:25] CDGDVD opened #7336 "[Bug] Crash on startup"
## Steps to reproduce
I don't how to reproduce it :/
### Expected behavior
opening the app and installing addons
### Actual behavior
Crash on startup with no error whatsoever
### Device information
lineageos 14.1 with gapps (pico)
* Android device: Galaxy Tab E
* Fenix version: Normal, beta, nightly

[2019-12-22 08:34] cadeyrn commented on #7336
There is no add-on support yet. How do you do that? 🤔

[2019-12-22 08:39] cadeyrn commented on #7335
Duplicate of #6559 and mentioned in https://github.com/mozilla-mobile/fenix/issues/5905#issuecomment-553066787.

[2019-12-22 10:16] CDGDVD commented on #7336
opps I posted this in fenix not mobile, I'm retarded 👌

[2019-12-22 12:37] CDGDVD commented on #7336
you know may as well reopen since fenix is also on mobile

[2019-12-22 13:03] Screwtapello commented on #5977
This seems to be fixed in version 3.0.1.

[2019-12-22 13:03] #5977 closed

[2019-12-22 14:33] aha999 opened #7337 "A search widget should actually act as a widget, instead of as a shortcut..."
### User Problem

- The search widget is currently acting just as a shortcut to the program that selects a search feature...
- That's no different if we had a 1x1 shortcut icon to do that...

### Solution
- It would be awesome, when you pressed the search widget, you could type directly into it and the suggestions would expand the widget over other elements...
- Pressing the search would then brin

[2019-12-22 18:36] cadeyrn opened #7338 "[Bug] (webrender only) half screen is black while loading a website"
### Steps to reproduce

1. open a website

### Expected behavior

no black screen or black part

### Actual behavior

part of the screen is black.

![Screenshot_20191222-180858](https://user-images.githubusercontent.com/1100614/71325797-48c86680-24f2-11ea-9d32-bf75c1c776e2.jpg)

It's only reproducible with WebRender enabled (default for smartphones with Adreno 6xx GPU)

### Device information

* A

[2019-12-23 06:48] NotWoods commented on #7337
For option 1, we can't have the widget expand without the user manually resizing it.

For option 2, I'm not sure if we can show a window with transparency over the home screen. When I tested the Google Search widget on a custom launcher, it opens a new opaque window similar to the Firefox and Chrome search widgets.

[2019-12-23 06:53] NotWoods commented on #7204
I think we could add this action the manifest and write an intent processor for it.

[2019-12-23 06:55] NotWoods commented on #3961
We've since redesigned the home menu and reduced the number of buttons. In my opinion, the remaining buttons are easier to tap and have larger touch areas. If you disagree, let me know and I can reopen the issue. 😄

[2019-12-23 06:55] #3961 closed

[2019-12-23 07:04] NotWoods commented on #4031
Thank you for the suggestions. In the future its helpful to file separate requests instead of bundling them into one place so that we can close them one-by-one as we implement the features!

a) Duplicate of #4285
b) Now implemented 😄
c) Duplicate of #4333

[2019-12-23 07:04] #4031 closed

[2019-12-23 07:07] NotWoods commented on #2768
The feature has been added and should be incorporated into `BaseBrowserFragment`, in a similar manner to our list of features inside that fragment.

[2019-12-23 07:09] NotWoods commented on #3318
I think our CI does this now? If not let me know and I'll reopen.

[2019-12-23 07:17] NotWoods commented on #2189
We currently let you specify exceptions for site permissions and tracking protection so I'm going to close this issue.

[2019-12-23 07:20] NotWoods commented on #2550
We should surface Tracking Protection stats, similar to the "Show Report" option on Desktop.

[2019-12-23 07:25] NotWoods commented on #2658
This has been implemented.

[2019-12-23 07:31] NotWoods commented on #5172
Closing since custom search engines work now 😄

[2019-12-23 07:31] #5172 closed

[2019-12-23 07:32] NotWoods commented on #999
Closing since there hasn't been any updates here.

[2019-12-23 07:32] #999 closed

[2019-12-23 07:43] NotWoods commented on #5226
Sorry for misunderstanding the issue at first! Now that we've fixed up Open in App we can work on adding it to other menus. Marking this issue as duplicate of #1754.

[2019-12-23 07:43] #5226 closed

[2019-12-23 07:43] NotWoods commented on #1754
#5226 contains a good comparison between Fennec and Fenix.

[2019-12-23 07:50] NotWoods commented on #4578
Duplicate of #7101.

[2019-12-23 07:50] #4578 closed

[2019-12-23 07:52] NotWoods commented on #3338
Duplicate of #1754

[2019-12-23 07:53] NotWoods commented on #4577
Duplicate of #1754

[2019-12-23 07:53] #4577 closed

[2019-12-23 07:55] NotWoods commented on #5188
Yup, duplicate of #5695

[2019-12-23 07:55] #5188 closed

[2019-12-23 07:57] NotWoods commented on #6023
Since #4528 has been implemented I'm going to close this issue too :)

[2019-12-23 07:57] #6023 closed

[2019-12-23 08:01] NotWoods commented on #5965
Duplicate of #5170, which describes both ways.

[2019-12-23 08:01] #5965 closed

[2019-12-23 08:02] hakkikaancaliskan commented on #7338
For me too:
XZ1, LOS 17, Android 10

[2019-12-23 08:02] NotWoods commented on #5222
With the updated open in app system this may work now.

[2019-12-23 08:03] NotWoods commented on #6446
Duplicate of #7099

[2019-12-23 08:03] #6446 closed

[2019-12-23 08:05] NotWoods commented on #6275
Related: https://github.com/mozilla-mobile/android-components/issues/5373

[2019-12-23 08:10] NotWoods commented on #5155
Since we already have #219 I'm going to edit the issue to just focus on "Save link as".

[2019-12-23 08:11] Sav22999 commented on #6446
@NotWoods actually #7099 is a duplicate of this, but it doesn't matter

[2019-12-23 08:13] NotWoods commented on #6973
The "shouting" is just because [Android's popup styling](https://material.io/components/dialogs/) uses all caps for the buttons. Adding the UX-feedback label so the UX team can weigh in.

[2019-12-23 08:16] NotWoods commented on #6446
Very true, but usually I pick the issues filed by Mozilla staff to keep open. Perhaps I should say "superseded by".

[2019-12-23 08:17] NotWoods commented on #6939
Superseded by #7102

[2019-12-23 08:17] #6939 closed

[2019-12-23 08:22] NotWoods commented on #7189
Approved by UX in #7255.

[2019-12-23 08:31] Diana-Rus commented on #7312
Hi, I will attach a [video](https://drive.google.com/file/d/19NwhYg677YqtQWQh2fkLGRvlpsndpT-n/view?usp=sharing) with the outcome.

[2019-12-23 08:59] sv-sdeiac opened #7340 "[Enhancement]The same search engine is presented in the search bar and the shortcut list"
## Steps to reproduce
1. Open Firefox Preview;
2. Tap on the search bar;
3. Watch the search engine shortcut list;

### Expected behavior
A list of additional search engines is presented.

### Actual behavior
The shortcut for the same search engine as in the search bar is presented on the list.

### Device information

* Android device: OnePlus 5T (Android 9), LG g7 fit (Android 8.1).
* Fenix vers

[2019-12-23 09:16] AndiAJ commented on #7294
Hi, **verified as fixed** on the latest **Nightly Build #13570608 from 12/23** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Screenshot
![Screenshot_20191223-110622](https://user-images.githubusercontent.com/51314259/71348575-828e8100-2575-11ea-96e9-8b665

[2019-12-23 09:16] #7294 closed

[2019-12-23 09:27] Diana-Rus commented on #7290
Hi, please check [screenshot](https://drive.google.com/file/d/1egjOCE0six-CvONK9i5VdMJqdCD4GE-4/view?usp=sharing).

[2019-12-23 09:27] AndiAJ commented on #7267
Hi, **verified as fixed** on the latest **Nightly Build #13570608 from 12/23** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191223_111818](https://user-images.githubusercontent.com/51314259/71349198-157beb00-2577-11ea-89c3-bb84c00d692c.gif)

Gr

[2019-12-23 09:27] #7267 closed

[2019-12-23 10:05] AndiAJ commented on #5222
Hi, **verified as fixed** on the latest **Nightly Build #13570608 from 12/23** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191223_115746](https://user-images.githubusercontent.com/51314259/71351489-7659f200-257c-11ea-93b0-c3003f975137.gif)

[2019-12-23 10:05] #5222 closed

[2019-12-23 11:00] Diana-Rus opened #7341 "[Bug] OOM / TransactionTooLargeException / corrupt BrowserState when opening a big data url"
Taken from: https://bugzilla.mozilla.org/show_bug.cgi?id=1605630

## Steps to reproduce
User Agent: Mozilla/5.0 (Android 10; Mobile; rv:71.0) Gecko/71.0 Firefox/71.0

Steps to reproduce:

Using the build #13502256 of Firefox Preview 3.0.1 on my Google Pixel 3 running Android 10 build QQ1A.191205.008, I went onto this site: https://www.color-blindness.com/coblis-color-blindness-simulator/ , set it

[2019-12-23 11:24] Diana-Rus commented on #7341
Environment
Device: Google Pixel 3a XL (Android 10)
Build: Firefox Preview Nightly 191220 (Build #13540608) with GV: 73.0a1-20191216095052

The STR are:
1. Open Firefox Preview browser.
2. Go to: https://www.color-blindness.com/coblis-color-blindness-simulator/ .
3. Tap on the "3 dots" from bottom right corner.
4. Enable "Desktop Site" option.
5. Tap on the "Browse" button and choose the image you

[2019-12-23 11:43] kuba-orlik opened #7342 "[Bug] Letters input entering out of order"
## Steps to reproduce

Open a text input (it happens especially often on Discourse forums, but in other various places as well), and type some words

### Expected behavior

Words appear as I typed them

### Actual behavior

Letters come in out of order.

You can see it happening here:

https://vimeo.com/381142629

It happens only on GeckoView-powered browsers on my phone, all other apps never have

[2019-12-23 13:05] AndiAJ commented on #6791
Hi, **verified as fixed** on the latest **Nightly Build #13570608 from 12/23** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

[2019-12-23 13:23] sv-sdeiac opened #7343 "[Bug]The app crash after sharing multiple times a collection"
## Prerequisites
1. You are connected to a Firefox account with two devices;
2. You have at least one collection created;

## Steps to reproduce
1. Tap on the 'share' button from your collection;
2. Tap 2-3 times on the second device icon;

### Expected behavior
The tabs are sent to the second device;

### Actual behavior
After sharing the tabs, the app crash.

### Device information

* Android de

[2019-12-23 13:26] AndiAJ opened #7344 "[Bug]Crash when trying to access Saved Logins for the second time while performing a Sync"
## Prequisites
User should be signed in to sync.

## Steps to reproduce
1. Perform a Sync
2. While Syncing navigate to "Logins & Passwords" and try to access the "Saved Logins"
3. Tap back and attempt again to open the "Saved Logins"

### Expected behavior
The Saved logins should be displayed

### Actual behavior
Crash

### Device information

* Android device:
•  Google Pixel 3a (Android 9)
•  Sa

[2019-12-23 14:54] AndiAJ commented on #7343
Hi using a Google Pixel 3a (Android 9)

✔️ Not reproducible on :
Fenix Nightly build from 11/15
Fenix Nightly build from  12/5
Fenix Nightly build from  12/6
Fenix Nightly build from  12/7
Fenix Nightly build from 12/10

❌ Reproducible on:
Fenix Nightly build from 12/13
Fenix Nightly build from  12/20

@gabrielluong  - Please share your thoughts on this,  in regards with #5574
Could this issue be

[2019-12-23 15:21] gabrielluong commented on #7343
This is likely not due to the libstate migration since I am reusing the previous logic of showing the share fragment with the list of collections.

[2019-12-23 15:44] Diana-Rus opened #7345 "[Bug] Elements from table/section are partially visible"
## Steps to reproduce
1. Open Firefox Preview browser.
2. Go to "https://www.color-blindness.com/coblis-color-blindness-simulator/".
3. Tap on the "Menu".
4. Enable the "Desktop Site" option.
5. Inspect the "Drag and drop or paste your file in the area below or" section/table.

### Expected behavior
The "Drag and drop or paste your file in the area below or:" section/table elements are visible and

[2019-12-23 16:12] rocketsroger opened #7346 "Added dynamically open links in apps preference"
### Why/User Benefit/User Problem
Currently Fenix require users to manually tap on "Open Links in Apps" action to open a site in a third party app.  With the dynamically open link in app preference, user can turn on detection so sites are opened in third party app directly.

### What/Requirements
Add setting preference in Fenix to allow user to turn on "Open Links in Apps".

### Acceptance Criteri

[2019-12-23 16:19] softvision-miralobontiu commented on #7240
I will reopen this issue since I'm still reproducing it on the latest Nightly build from 12/23 (#13570608).
The only device affected is Google Pixel (Android Q), and it is reproducible 100%.

[2019-12-23 17:08] sblatz opened #7347 "[Bug] Search toolbar background in search screen is wrong"
When I was working on the back button for search screen, I noticed we have a rectangle outline around the search field that should not be there. I'm not sure how long it's been there but I see it on master 🤷‍♂

It's really faint, but it's definitely there.

<img width="565" alt="Screen Shot 2019-12-23 at 12 07 11 PM" src="https://user-images.githubusercontent.com/4400286/71370757-e4061e00-257c-11e

[2019-12-23 17:21] ktaeleman commented on #7290
Thanks for this Diana, that explains why!
This is a Samsung Galaxy phone with a MALI GPU instead of an Adreno GPU.

We have not enabled webrender for Mali GPU's yet, can you invalidate the bug?

Thanks! (And happy holidays!)

[2019-12-23 17:32] ktaeleman commented on #7290
Another question: Are any of the Samsung Galaxy devices Adreno versions? It would be good if we can do a test on a Samsung Galaxy Adreno device.

[2019-12-23 18:06] Baron-Severin commented on #5334
All good @abodea!  Thanks for verifying, and sorry about causing you all the extra work.  We were testing via a different code path and missed the problem, but we have a fix now that's been merged in.

[2019-12-23 19:44] AmyYLee commented on #6381
@liuche I thought we were only able to set "Open links in private tab" if Fenix was set as a default? If this is not the case then yes we should break these items out into separate toggles. Please confirm and I'll post a mock.

[2019-12-23 20:19] Amejia481 opened #7350 "Create add-ons section to the settings page"
This section should be under the **advanced** sub-category, when this section is clicked is should take the user to the add-ons screen

![image](https://user-images.githubusercontent.com/773158/71378849-4d932600-2597-11ea-8faf-4bad62efd6b3.png)

[2019-12-23 20:23] Amejia481 commented on #7350
![image](https://user-images.githubusercontent.com/773158/71379078-17a27180-2598-11ea-971c-208bf3c60788.png)

[2019-12-23 20:48] colintheshots commented on #6274
This is likely fixed by the same PR @hawkinsw posted for #7143. Will can close this also if it's fixed.

[2019-12-23 20:50] kevinslashslash commented on #5972
Sorry if this is the wrong ticket to post in.
My understanding is part of the root issue is a UX problem with setting the default browser on Android 5 and 6 because they did not have a screen in system settings.
An alternative approach, as done in Nova Launcher Settings > Set Default Home, is to invalidate the currently set one and then fire an intent so the user picks the default browser again.
A

[2019-12-23 20:53] hakkikaancaliskan commented on #6274
What about @Baron-Severin's offer about AsyncLayoutInflater?
There will be a good perf gain.

[2019-12-23 20:56] Amejia481 opened #7351 "Add a update button to the add-on item"
When an add-on requires new permissions we need to add a update button for manual update s

![image](https://user-images.githubusercontent.com/773158/71379951-67cf0300-259b-11ea-8fb4-12ccc18ceffd.png)

[2019-12-23 20:56] Amejia481 opened #12513 "Add a update button to the add-on item"
When an add-on requires new permissions we need to add a update button for manual update s

![image](https://user-images.githubusercontent.com/773158/71379951-67cf0300-259b-11ea-8fb4-12ccc18ceffd.png)

![image](https://user-images.githubusercontent.com/773158/71380411-0ad44c80-259d-11ea-857f-7c050d05cbfc.png)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FN

[2019-12-23 20:58] Amejia481 commented on #7351
see https://github.com/mozilla-mobile/android-components/pull/5322

[2019-12-23 22:07] Hubfront commented on #7087
Why cant i search within passwords? Actually, this isnt a feature missing, but a bug.

[2019-12-23 22:09] Baron-Severin commented on #6274
I'd like to remeasure with @hawkinsw's fix, first.  Async inflation is definitely a viable approach here, but it will add some complexity to code that's already fairly difficult to work with.  If we see substantially better performance with this much simpler solution, I'd be happy to stick with that.

[2019-12-23 22:45] MarcLeclair commented on #6274
Also, @Baron-Severin  I noticed that using AsyncLayoutInflater may cause trouble in some part of our code since we rely heavily on inflation of one part to create another. For instance, I tried it out with our DefaultBrowserToolbar and the inflation is somewhat sequential to inflate another (especially since we use a ViewStub then create one after the other). I'm not too sure how that would work o

[2019-12-23 23:22] hawkinsw commented on #6274
At first I didn't see how #7143 is related to this. However, I think that I see it now:
1. Click the Awesome Bar
2. See the Awesome Bar UI appear (no delay here)
3. Enter search term(s)
4. Click Enter
5. See the Search Fragment Appear (delay here)

Please confirm that this is the use case.

*If* that is the correct user scenario then (based on the great trace from @MarcLeclair ) these are identica

[2019-12-23 23:24] hawkinsw commented on #6274
Added @Baron-Severin as an assignee because github doesn't have an needinfo flag!

Bugzilla FTW!

[2019-12-23 23:29] hawkinsw commented on #7281
@mcomella Based on your comment from a different issue, I know that you had some hesitations with accessing Settings off MT. We will need to address your fear before this can go forward, I think.

[2019-12-23 23:44] hawkinsw commented on #7318
I'd propose adding a custom rule to Detekt to detect use of BuildConfig.DEBUG and ban it. What do you think, @mcomella?

[2019-12-24 00:02] Baron-Severin opened #7352 "Integrate highlightable menu button changes from A-C"
Make browser menu items highlightable as designed in https://github.com/mozilla-mobile/fenix/issues/4281.  This AC was originally pushed out due to complications with the menu API which have since been resolved.

#### Acceptance Criteria
- [ ] Reader Mode, Reader Mode Appearance, PWA, and Open in App buttons should all be highlighted in the menu bar whenever they are visible
- [ ] The three dot bu

[2019-12-24 00:58] Baron-Severin commented on #6274
@hawkinsw nope, this issue is about a delay on step 2.  I checked out your branch and it's still reproducible there, so it looks like you're right that it's unrelated.

AFAICT, the only options here are 1) async inflation, or 2) a deep dive into the AC toolbar implementation.  Unless you see a better option @colintheshots.

[2019-12-24 01:23] edentw opened #7354 "[webcontent]Unable to stop autoplay"
## Site with issue and any steps to reproduce
https://tw.news.yahoo.com/video/%E6%99%BA%E6%85%A7%E5%9E%8B%E9%9B%BB%E8%A6%96%E5%8A%9F%E8%83%BD%E5%A4%9A-fbi-%E6%81%90%E9%81%AD%E9%A7%AD%E5%AE%A2%E7%9B%A3%E6%8E%A7-091945604.html

### Expected behavior
He should want to stop playing automatically.
Note: This site uses .ts format.

### Actual behavior
Automatically play video.
I hope to be able to step

[2019-12-24 05:25] MarcLeclair commented on #6274
So , I gave it a little test run (I've never really used asyncLayoutInflater so my implementation might be somewhat off -- especially since I'm not sure what everything does). But, the "preliminary" results seem promising (refer to here: [issue 6274 in my fork](https://github.com/MarcLeclair/fenix/tree/issue_6274_asynclayoutinflater_for_toolbar))

TLDR:  Without async layout inflate the searchFrag

[2019-12-24 06:47] MarcLeclair commented on #6274
To answer my earlier comment for future reference: the Async loading seemed to affect the bitmap loading as well, so bitmaps should tried to be precomputed or something before calling our async (just did a push that did something like that, i guess?)

[2019-12-24 06:55] siddharths2710 opened #7355 "[Bug] Unable to perform webpage inspection through remote debugging via USB"
## Steps to reproduce
This issue seems to occur for only one of my personal devices.
* Connect the mobile device via USB for remote debugging
* After a successful connection, open a webpage in the device
* Click on the inspect tab that shows up in the Firefox browser on the development machine

![fenix_bug1-min](https://user-images.githubusercontent.com/13200018/71398797-a621fc00-2647-11ea-898b-74

[2019-12-24 07:11] AndiAJ commented on #7347
Hi, **verified as fixed** on the latest **Nightly Build #13580607 from 12/24** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Screenshots
![rsz_screenshot_20191224-090333](https://user-images.githubusercontent.com/51314259/71399673-17a08100-262d-11ea-9920-

[2019-12-24 07:11] #7347 closed

[2019-12-24 08:10] AndiAJ commented on #7122
Hi, **verified as fixed** on the latest **Nightly Build #13580607** from 12/24 using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Pic
![rsz_1rsz_00100lportrait_00100_burst20191224095744467_cover](https://user-images.githubusercontent.com/51314259/71402420-7ec23

[2019-12-24 08:10] #7122 closed

[2019-12-24 08:12] Diana-Rus commented on #5574
Hi @colintheshots,
Verifed the scenarios, from the last 2 comments, no regression has been encountered, on build Firefox Preview Nightly 12/23 #13570607 using:
- Google Pixel 3a XL (Android 10)
- OnePlus 5T (Android 9)

[2019-12-24 08:13] #5574 closed

[2019-12-24 08:45] AndiAJ commented on #7041
Hi, **verified as fixed** on the latest **Nightly Build #13580607 from 12/24** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191224_103442](https://user-images.githubusercontent.com/51314259/71404134-67397980-263a-11ea-8b7c-5ecf33b4f88f.gif)

[2019-12-24 08:45] #7041 closed

[2019-12-24 09:53] shahsurajk commented on #7340
I can try doing this, should i?

[2019-12-24 10:35] AndiAJ commented on #5334
Hi, I've just checked this matter on the latest **Nightly Build #13580607 from 12/24** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔️ Using Gmail and Twitter custom tabs are working properly.
![20191224_112431](https://user-images.githubusercontent.com/513

[2019-12-24 10:42] mikeGolf08 opened #7356 "[Bug] Tapping tabs overview does not show current tab"
## Steps to reproduce

1. Open a new tab
2. Start a search
3. Open many results in new tab (**more than the tab overview can show without scrolling**)
4. Than click **Switch**
5. Tap on the tab overview button

### Expected behavior

The preselected tab is the current one and it is scrolled down to it.

### Actual behavior

The current tab is preselected but you cannot see it because it's on the t

[2019-12-24 10:52] mikeGolf08 opened #7357 "[Bug] Closing the browser shows saved bookmark icon"
## Steps to reproduce

1. Open a tab you have not marked as bookmark
2. Close the browser by tapping (Quit (Delete browsing data on Quit enabled))

### Expected behavior

Browser is quitting without showing any different stuff.

### Actual behavior

For a short time a "saved bookmark" icon is visible in awesomebar.

![20191224_114058](https://user-images.githubusercontent.com/52482050/71409966-b0d

[2019-12-24 10:56] mikeGolf08 opened #7358 "[Bug] Scrolling screenshot feature behavior"
## Steps to reproduce

1. Open many tabs (as many as it needs to be scrollable)
2. Open the tab overview
3. Make a scrolling screenshot

### Expected behavior

It stops the screenshot when the bottom of the list is reached.

### Actual behavior

It keeps making screenshots unless you tap on it.

![20191224_114130](https://user-images.githubusercontent.com/52482050/71410165-850bdc00-2644-11ea-84fd-

[2019-12-24 11:04] mikeGolf08 opened #7359 "Blue dot at menu bar"
### Why/User Benefit/User Problem

I think it is not useful showing a blue dot with every website you can download as Web app.

An user sees it and usually clicks on it which gives him no information at all.

### What/Requirements

No information dots which can distract the focus on browsing.

### Acceptance Criteria (how do I know when I’m done?)

- Fenix shows no blue dots in awesomebar
- There

[2019-12-24 12:29] sv-sdeiac commented on #7290
Hello @ktaeleman,

Making a check on Samsung Galaxy Tab S3 (Android 8) with Adreno 530, we found that this issue who caused the status YELLOW is not a valid one.

Due to that, I'll close this issue, thanks.
Happy Holidays!

[2019-12-24 12:29] #7290 closed

[2019-12-24 12:33] shahsurajk opened #7360 "[Meta] Update Detekt version"
### Why/User Benefit/User Problem
- The current used version of detekt is an "RC" and not a "GA", plus it's super old (released in Jun 1), we're using 1.0.0-RC16 while the current GA is at 1.3.0

### Acceptance Criteria (Added by PM. For EPM to track when a Meta feature is done)
- Dependency updated.

### What / Requirements (Added by PM and Eng Manager)
-UX Designs (Immediate task: Assign UX issu

[2019-12-25 04:44] kumarrus commented on #7154
@boek @ekager @AmyYLee , any updates on this? Can I take on this bug?

[2019-12-25 05:03] mackncheesiest commented on #3969
A similar issue started happening me within the last couple weeks as well. I'll add it here rather than make a new issue

In my case, the "send to device" menu does appear, but it just says "Offline" despite clearly having this device online and other devices online, all signed in to my firefox account

Android device: LG V20, non-root, non-custom ROM stock Android 8.0.0
Fenix build: Nightly 19122

[2019-12-25 05:05] mackncheesiest commented on #3969
For the record, the feature still works fine in my baseline FF Preview with build info:
3.0.1 (Build #13502256)
📦: 24.0.0, 968f858c1
🦎: 71.0-20191125115111

[2019-12-25 06:11] boek commented on #7154
@kumarrus definitely! Thank you!

[2019-12-25 14:36] andreicristianpetcu opened #7362 "[Bug] Fenix crash on the intercept"
## Steps to reproduce
open https://theintercept.com/2019/12/24/mike-bloomberg-2020-prison-labor/
### Expected behavior
opens link
### Actual behavior
crashes
### Device information

* Android device: OnePlus 5t
* Fenix version: nightly

[2019-12-25 14:36] andreicristianpetcu commented on #7362
Both beta and stable are not affected

[2019-12-25 17:07] Cipher358 commented on #7357
For me the message in the bar is "Deleting browsing data" (which makes sense), but sometimes the animation happens really fast and no frames with the text are visible.

<img width="431" alt="Screenshot 2019-12-25 at 17 02 52" src="https://user-images.githubusercontent.com/13125782/71448773-769eec80-2738-11ea-9d5e-2904b17b0b0b.png">

### Device information
- Emulator on API 29, targetting Android 1

[2019-12-25 21:42] jrmuizel opened #7363 "about:crashes doesn't work"
Fenix crashes (it seems to crash both through an Android reporting system and a dialog that asks to submit the crash to Mozilla). Neither of these seems to show up in about:crashes.

[2019-12-25 21:44] jrmuizel opened #7364 "Crash when loading https://github.com/Kimundi/owning-ref-rs"
## Steps to reproduce

Load https://github.com/Kimundi/owning-ref-rs

### Actual behavior

Fenix crashes instead of loading the page

### Device information

* Android device: Pixel 2
* Fenix version: Nightly 191225

[2019-12-25 21:51] buttercookie42 commented on #7342
Which keyboard app you're using is probably relevant here as well.

[2019-12-25 21:56] hakkikaancaliskan commented on #7364
Duplicate of #7362

[2019-12-25 21:58] cadeyrn commented on #7363
about:crashes is not supported in GV apps.

Some related issues:

- https://github.com/mozilla-mobile/fenix/issues/1221
- https://github.com/mozilla-mobile/fenix/issues/2295
- https://github.com/mozilla-mobile/android-components/issues/1705

[2019-12-25 22:57] s-ankur opened #7365 "[Bug] incorrect behaviour on setting firefox preview as an assist app"
## Steps to reproduce
Set Preview as the assist app (the app which is launched when you long-press the Home button)
from device settings.
Open preview normally and go to any website say www.example.com
Long press the home button to launch Preview.
### Expected behavior
In fennec, this results in opening a new tab and pacing the cursor on the address bar (thus opening the keypad), regardless of whe

[2019-12-26 01:01] dholbert commented on #7184
Another simpler affected site (not Reddit): https://heximal-clock.glitch.me/

When loaded from the Twitter Android app via e.g. this tweet, the numeric time at the bottom gets covered by the Fenix custom-tab location bar:
https://twitter.com/tabatkins/status/1209969194843828224?s=19

Screenshot:
![Screenshot_20191225-170057](https://user-images.githubusercontent.com/426803/71452263-29227f80-2738-1

[2019-12-26 13:41] LittleAngelwings commented on #7362
Crashes also at GitHub Fenix Project Page

Nightly 191226 06:01 (Build #13600606)
27.0.0, 9cb4c261d
GV: 73.0a1-20191224041100

[2019-12-26-14-37-02.txt](https://github.com/mozilla-mobile/fenix/files/4002632/2019-12-26-14-37-02.txt)

[2019-12-26 13:56] sblatz commented on #6666
For QA: please verify that the back button now appears and functions properly :)

[2019-12-26 14:14] Imerion commented on #7039
Agreed this is a very important feature. Definitely the main thing I would look for on a smartphone browser, for many reasons. It really needs to be possible to set it as default though. Saving for each site would be cumbersome and result in loads of reloads and menu presses as many pages when browsing around are only visited once.

[2019-12-26 14:17] Imerion commented on #7039
For reference, the browser Brave has a very good and useful implementation of this.

[2019-12-26 14:35] sblatz commented on #6866
SUMO team: what link should we use here? We originally had `custom-search-engines` as the `escapedTopic` but that leads to a dead site.

I've found [this article](https://support.mozilla.org/en-US/kb/how-manage-search-engines-firefox-preview#w_manually-add-search-engines) but it does not match our string format of: ` https://support.mozilla.org/1/mobile/$appVersion/$osTarget/$langTag/$escapedTopic

[2019-12-26 14:50] sblatz commented on #5345
This seems to be working when I just tested on my Galaxy S9 (on master)

![private demo 2019-12-26 09_50_30](https://user-images.githubusercontent.com/4400286/71480051-2d48ae80-27c5-11ea-88e5-f5e725c30c28.gif)

[2019-12-26 15:12] sblatz commented on #6304
I can't find the ticket now, but I believe there was discussion at some point about changing the behavior of this shortcut to just launch the user into private mode (not directly to the search screen). Do we know where we landed on that?

@brampitoyo, @AmyYLee

[2019-12-26 15:21] snorp commented on #7362
Looks like I caused this in GV. Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1605991

(I don't know how to do the magical github/bugzilla integration)

[2019-12-26 16:17] sblatz commented on #6866
Spoke with Paul and he said that `https://support.mozilla.org/en-US/kb/how-manage-search-engines-firefox-preview` is the correct link. We just need sumo to set `https://support.mozilla.org/1/mobile/$appVersion/$osTarget/$langTag/custom-search-engines` to redirect to this :)

[2019-12-26 18:31] hawkinsw opened #7366 "[Bug] Failure to build with autopublish.android-components.dir nested, relative directories on Linux"
## Steps to reproduce
On Linux, set `autoPublish.android-components.dir` to use a relative directory that is not immediately "adjacent" to the cwd. For example

`autoPublish.android-components.dir=../ac/android-components/`

will not work, but

`autoPublish.android-components.dir=../android-components/`

does.

Patch incoming.

### Expected behavior

Both should compile.

### Actual behavior

grad

[2019-12-26 18:33] Baron-Severin commented on #6274
That's good progress!  I haven't had time to really dive into this yet, but I was hoping we might be able to eagerly inflate the `SearchFragment` on a background thread during application init.  Then on search bar click we block until the fragment is ready.  Hopefully we would be able to get rid of the delay completely for the large majority of cases.  I haven't looked into how feasible this is ye

[2019-12-26 18:45] Baron-Severin commented on #5334
Great call outs @AndiAJ!  The decision is up to @AmyYLee, but these are my initial thoughts.

Close private tabs notification: custom tabs are supposed to feel like part of the app that opened them, not us, so I don't think the notification should close them.  We will definitely need to not show that notification for private custom tabs though, if it doesn't do anything.

PWA tabs: same as above.

[2019-12-26 20:47] hawkinsw commented on #6274
Hey @MarcLeclair - I tested this and also see a performance improvement. I left a few comments on your branch. They are mostly things that I am confused/intrigued about. Thanks for doing this great work!

[2019-12-26 20:48] hawkinsw commented on #6274
Putting @MarcLeclair as an assignee because, again, github does not have a needinfo flag.

[2019-12-26 21:24] sblatz commented on #7000
Good catch!

[2019-12-26 21:26] sblatz commented on #1461
@sv-ohorvath are you only able to reproduce this on sites that do _not_ show a media notification?

If that's the case, then I think this bug is expected behavior for those sites. We're not displaying a notification so the system won't give us priority to play audio and it will distort as we have no memory.

If this is failing for ANY site that HAS a notification, I think we should keep this open.

[2019-12-26 21:38] sblatz commented on #6304
This one is a bit tricky 😕 I spent a few hours today trying to crack it. What's happening here is pressing back triggers an `onNewIntent` and then an `onCreate` which recreates the app with a new mode (normal) since we don't persist the mode.

I'm unsure **WHY** both `onNewIntent` and `onCreate` are called when pressing the back button. Based on my research only one should be?

### Solutions I tri

[2019-12-26 22:02] mcomella commented on #6931
I'll handle the email in #6464 (the follow-up issue): closing as DONE.

[2019-12-26 22:02] #6931 closed

[2019-12-26 22:34] sblatz commented on #6304
Here's a demo of the behavior I'm describing:

![private demo 2 2019-12-26 17_34_01](https://user-images.githubusercontent.com/4400286/71492531-edee8200-2805-11ea-8816-3d330f864102.gif)

[2019-12-27 01:50] mcomella commented on #6727
[We are currently doing that](https://searchfox.org/mozilla-mobile/rev/e9a4a4de0e221189a8a3b6df98aa11b91731a347/fenix/app/build.gradle#52) but it does not guarantee the builds will not diverge in the future (e.g. someone adds a runtime check that excludes `forPerformanceTest`). Also, it's possible there is a bug in the build system that produces different builds despite identical configurations so

[2019-12-27 01:56] mcomella commented on #7318
I think there are three options:
- Detekt
- Android Lint
- Custom static analysis, e.g. through a gradle task

I don't understand the trade-offs of each tool – particularly how hard it is to maintain and write rules (are their rule APIs stable?) but I imagine detekt is the ideal final destination: it runs quickly, it doesn't require re-reading all the files (like custom rules will probably do unti

[2019-12-27 04:35] hawkinsw commented on #7318
So, you agree?

On Thu, Dec 26, 2019, 8:56 PM Michael Comella <notifications@github.com>
wrote:

[2019-12-27 08:15] AndiAJ commented on #5345
Hi, **verified as fixed** on the latest **Nightly Build #13610606 from 12/27** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191227_100827](https://user-images.githubusercontent.com/51314259/71508842-d8269e80-2891-11ea-8fc9-69a2686ea304.gif)

[2019-12-27 08:15] #5345 closed

[2019-12-27 09:28] AndiAJ opened #7369 "[Bug]Soundcloud doesn't play in the background anymore"
## Steps to reproduce
1.  Navigate to Soundcloud.com
2. Play any track
3. Put Fenix in background

### Expected behavior
The desired track should continue playing in the background

### Actual behavior
The media playback is stopped once you put Fenix in background

### Device information

* Android device: Google Pixel 3a (Android 9)
* Fenix version: Nightly Build #13610606 from 12/27

### Note
In

[2019-12-27 09:30] AndiAJ opened #7370 "[Bug]No media playback notifiction displayed for Hot97 FM radio station"
## Steps to reproduce
1. Navigate to [HOT97 FM ](https://www.hot97.com/listen-to-hot97)
2. Play the radio station

### Expected behavior
A media playback notification should be displayed

### Actual behavior
No media playback notification is displayed

### Device information

* Android device: Google Pixel 3a (Android 9)
* Fenix version: Nightly Build #13610606 from 12/27

### Note
Chrome displays

[2019-12-27 09:34] Furax-31 opened #7371 "[Bug] Crash when loading several sites"
## Steps to reproduce
Open : http://m.jeuxvideo.com/forums.htm - https://github.com/dashboard

### Expected behavior
Sites should open normally

### Actual behavior
Application crashes when sites open

### Device information
A5 2017 - Pie - November 2019 Security patch

* Android device: A5 2017
* Fenix version: The application has been crashing for 2-3 days (Since December 25, 2019) Last build: N

[2019-12-27 09:35] AndiAJ commented on #1461
Hi, I've just checked this matter on the latest **Nightly Build #13610606 from 12/27** using a Google Pixel 3a (Android 9)

**Soundcloud** - doesn't play in the background anymore. #7369

**Twitch** - The notification is displayed, if you exit to the Fenix homescreen, or navigate to another app the playback is stopped after a couple of seconds (**not instantaneously**)

[**HOT97**](https://www.hot

[2019-12-27 10:42] AndiAJ opened #7372 "[Bug]Crash when opening the Fenix github page & daleharvey testapp in a custom tab"
## Steps to reproduce
1. Navigate to https://github.com/mozilla-mobile/fenix

## Alternative Steps to reproduce
1. From Gmail open https://daleharvey.github.io/testapp/ in a custom tab

### Expected behavior
The desired pages should be properly loaded

### Actual behavior
Crash in both cases

### Device information

* Android device:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1

[2019-12-27 10:51] AndiAJ commented on #7372
Duplicate of #7362 ?

[2019-12-27 10:56] salpiras commented on #7204
Hi! Is this still up for grabs? I can work on it. I was planning to route it through the IntentReceiverActivity and write an IntentProcessor similar to the TabIntentProcessor in the components layer

[2019-12-27 11:21] andreicristianpetcu commented on #7362
I see the bugzilla issue was closed

[2019-12-27 12:35] ReekyMarko opened #7373 "PWA is always loaded again even if it's already running"
This one is kind of hard to explain but if I have a PWA running, go back to my home screen and open it again, it loads the page again even though it's already loaded and ready in the app drawer.

[2019-12-27 13:22] softvision-miralobontiu commented on #6666
Hi all,
Verified that the back button is displayed and functions on the latest Nightly build from 12/27 (#13610605) with Nexus 5 (Android 6.1.1), Nexus 6P (Android 8), OnePlus 5T (Android 9), and Google Pixel (Android Q).
However, after tapping on the back arrow, there is a flickery transition, for which I will file a new issue.

[2019-12-27 13:22] #6666 closed

[2019-12-27 13:31] softvision-miralobontiu opened #7374 "[Bug] Flickery transition when tapping on the back arrow from the search page"
## Steps to reproduce
1. Open Fenix and tap on the search bar.
2. Tap on the back arrow displayed on the top-left corner and observe.

### Expected behavior
The homescreen is displayed, the transition is done smoothly, just like switching from normal to private browsing, for example.

### Actual behavior
The homescreen is displayed, the transition is flickery.

### Device information
* Android dev

[2019-12-27 14:15] LittleAngelwings commented on #7372
Yes, it is a dupe ofhttps://github.com/mozilla-mobile/fenix/issues/7362

[2019-12-27 14:49] ecsmyth opened #7375 "Add input feedback to buttons in new tab and site menus"
### Why/User Benefit/User Problem
On lower end devices, when many of the buttons in the New Tab or Site menus are pressed, there is a perceptible delay before the UI changes. This can frustrate users who expect Fenix to respond immediately to input.

### What/Requirements
Provide input feedback (e.g., ripple effect) to users pressing a button (e.g., History) in the New Tab or Site menu. Input feed

[2019-12-27 15:42] mcomella commented on #7318
Yes – from my limited knowledge, detekt sounds ideal. However, my biggest
concern with detekt is how much time it might take to write (and maintain –
are the APIs stable?) a custom rule.

[2019-12-27 16:01] mcomella opened #7376 "Create generic solution to avoid reintroducing background job crash loops"
I can't reproduce this reliably: it depends on the build having a certain type of startup crash. However, the risks are huge – essentially users are forced to uninstall – so we should mitigate.

## Steps to reproduce
- Have a startup crash of a certain type such that background tasks also fail
  - In my local build (I need a clean build), GeckoView failed to load
- Open Firefox Preview once

### E

[2019-12-27 16:12] rocketsroger commented on #7257
After completing SSO login with mozilla Auth0, URL `https://mozilla.slack.com/sso/saml` was loaded and it fails to redirect to a `https://app.slack.com/t/mozilla/login/z-app...` link.  Needs to investigate why no `https://app.slack.com` link was triggered automatically after signed in.

One workaround is revisiting the `https://mozilla.slack.com/sso/saml` link loads a button to launch the slack ap

[2019-12-27 16:26] mcomella commented on #6370
@ecsmyth This is called when:
- The URL changes (to update the internal "isUrlBookmarked"? state). This occurs off the main thread.
- The user taps the bookmark star in the 3-dot menu (to determine if we should go directly to the "edit" screen or if we should save and then go to the "edit"). This occurs off the main thread and there is a brief delay before displaying the appropriate UI element.

[2019-12-27 16:29] AmyYLee commented on #5334
Hi,

I agree with @Baron-Severin, there shouldn't be a close private tabs notification for custom tabs or PWAs. Private tab notification should be specifically for Fenix. Thanks

[2019-12-27 16:41] apbitner commented on #768
1 - Good catch. 'Install' is correct, the design just hadn't been updated, but I'll do so to avoid any confusion.

For 2 - 4, these sound like they could be bugs so I'll let @NotWoods weigh in.

[2019-12-27 16:53] mcomella opened #7378 "Investigate performance of data migration"
Migration UX meta: https://github.com/mozilla-mobile/fenix/issues/879

(partially) Blocked on:
- the migration being implemented
- the UX of the migration being defined

### What
We want to ensure the performance of the migration is acceptable. Note that it looks like the Fenix team is coming up with a UX that will hide the true performance of the migration so this will probably be more perceived

[2019-12-27 17:07] mcomella opened #7379 "Enable finer-grained page load perf testing by adding an Intent to trigger blue frame"
### What
The folks setting up browsertime testing want to create a pageload test that will measure the following segments of time:
- Upon receiving the Intent, of the system to the first time we (the application) has control of the UI (proposed: display a blue frame & measure from Intent sent to blue frame)
- Of the front-end code until Gecko is able to start rendering content (proposed: Gecko wil

[2019-12-27 17:22] mcomella opened #7380 "Check non-startup user flows for performance problems"
We've invested a lot of time investigating perf during startup and not so much outside of startup: we should identify which user experiences are important to investigate and check them for performance problems (like mstange has been doing).

### Acceptance criteria
- Identify a list of user experiences to investigate (consult ecsmyth)
- List of user experiences is stored on Performance drive so we

[2019-12-27 17:37] mcomella opened #7381 "[Bug] Animation jank when clicking URL bar and closing it"
## Steps to reproduce
- Click URL bar (observe)
- Press back (observe)

### Expected behavior
Smooth animation to open enter address page. Smooth animation to close page.

### Actual behavior
Jank when opening page. In separate non-animated frames, the following happens in order:
- Web page flashes to white
- "Search or enter address" appears at top of screen
- ^ "Search or enter address" is repla

[2019-12-27 17:43] mcomella commented on #6493
Dupe #5869?

[2019-12-27 17:51] mcomella opened #7382 "[Bug] Pressing back on DeviantArt will prevent additional content from loading (& will not restore scroll position)"
This is likely a GV issue so I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1606128. Info below is copied from BZ issue.

I wonder if this is related to back caching: #5869.

---

This reproduces maybe 90% of the time for me.

### STR
- Visit deviantart.com (note: deviantart has less safe for work content: typical art stuff)
- Scroll down a lot, triggering multiple async JS content loads (ty

[2019-12-27 17:54] mcomella opened #7383 "[Bug] Unable to disable tracking protection on error page"
## Steps to reproduce
- Visit a website that will return an error page (e.g. http://deviantarrrrrrrrrrrrrrt.com/)
- Clicking tracking protection icon

### Expected behavior
Able to disable tracking protection

### Actual behavior
Unable to disable tracking protection. This may be a problem if content on the site is unable to load (i.e. you didn't follow my STR above and hit an error page on a real

[2019-12-27 18:15] KaairaGupta commented on #7002
Can i work on this?
Also, since this is my first time with open source, can you please guide me with how to begin?

[2019-12-27 18:42] #7372 closed

[2019-12-27 18:42] jonichan commented on #6866
I've set https://support.mozilla.org/1/mobile/$appVersion/$osTarget/$langTag/custom-search-engine to redirect to https://support.mozilla.org/kb/how-manage-search-engines-firefox-preview

Please let me know if that worked.

[2019-12-27 18:48] boek commented on #7371
[code]

[2019-12-27 18:52] #7364 closed

[2019-12-27 18:53] NotWoods commented on #768
2 is a bug, 3 we can't control.

With 4, we currently display the native shortcut dialog. On older devices, there is no dialog to display. We could add some variation of the bookmark shortcuts dialog for all devices, but then we would show two dialogs on newer devices.

[2019-12-27 18:54] boek commented on #7363
Dup of #2295

[2019-12-27 18:54] #7363 closed

[2019-12-27 18:58] boek commented on #7356
@topotropic Is this something we want to do in the new tab tray?

[2019-12-27 19:00] rocketsroger commented on #7257
Related to https://bugzilla.mozilla.org/show_bug.cgi?id=1600704.  Retest after fix from GV is merged.

[2019-12-27 19:01] boek commented on #7354
This should be fixed with https://github.com/mozilla-mobile/fenix/issues/255 which should land soon in Nightly :)

[2019-12-27 19:01] #7354 closed

[2019-12-27 19:11] boek commented on #7336
I'm going to close this as we don't have support in Fenix yet.

[2019-12-27 19:11] #7336 closed

[2019-12-27 19:12] kuba-orlik commented on #7342
I'm using the default Android Keyboard (AOSP)

[2019-12-27 19:15] boek commented on #7331
Hmm.. Are you still able to reproduce?

<img width="772" alt="image" src="https://user-images.githubusercontent.com/1250545/71529556-1a53de00-289a-11ea-8538-151d88c185ff.png">

[2019-12-27 19:17] boek commented on #7329
@moizahmed97 Can you still reproduce? Looks like the replies come in async with Javascript. It took a second to load but the replies came in for me.

[2019-12-27 19:20] boek commented on #7312
@Diana-Rus Looks like the page breaks when you have enhanced tracking protection enabled. Disabling fixes the button

[2019-12-27 19:22] emalysz opened #7384 "[Bug] open_links_in_a_private_tab metric implementation is incorrect"
## Steps to reproduce
open_links_in_a_private_tab is defined in https://github.com/mozilla-mobile/fenix/blob/master/app/metrics.yaml as a "preference key for the boolean (true/false) preference the user toggled." There are two issues:
1. The user is not setting this preference. This is currently handled in processIntent each time an intent is received.
2. The metric is being recorded incorrectly.

[2019-12-27 19:23] boek commented on #7309
@LeoniePhiline We removed the handful of search engines pending coming up with the final list. For now you can always re-add them yourself by selecting "Custom" and pasting in the query and replacing the query text with %s :)

[2019-12-27 19:23] #7309 closed

[2019-12-27 19:26] boek commented on #7384
@emalysz I agree. If we want to record the state of this toggle we should make it a metric, not an event.

[2019-12-27 19:29] boek commented on #7240
@softvision-miralobontiu what is your device locale set to?

[2019-12-27 19:30] NotWoods commented on #7204
@salpiras Yes, this is still available! Your approach sounds good.

[2019-12-27 19:33] NotWoods commented on #328
All issues have been completed so I'll close this meta.

[2019-12-27 19:38] boek commented on #6941
Looks like this is a bug with tmall.com. Behavior is the same in every browser I tried

[2019-12-27 19:38] #6941 closed

[2019-12-27 19:42] colintheshots commented on #5182
I was looking at fixing this by removing Fretboard in favor of our new services-experiements framework to do less work. However, I believe the new services-experiments A-C code is not ready. As written, the new library code appears to statically load only a single experiment at one time within the call to `Experiments.initialize()`. If we cannot support multiple experiments with services-experimen

[2019-12-27 19:43] boek commented on #6903
@mcomella?

[2019-12-27 20:07] mcomella opened #7385 "[Bug] Unclear when the "Reader view" toggle is available after pageload"
## Steps to reproduce
- Visit nytimes.com
- Click an article
- Click 3-dot menu (quickly) to enable Reader View. Notice it's not there. Close menu and repeat until it's available.

### Expected behavior
Reader View toggle is available when page starts loading or I can sit around and wait for a prompt to appear

### Actual behavior
Reader View toggle does not appear each time menu is clicked until

[2019-12-27 20:08] mcomella commented on #5837
We're running tests in ND already and we're tracking, "Need Beta testing" as part of our measurement methodology research: closing & we can reopen if we need another ticket to track.

[2019-12-27 20:08] #5837 closed

[2019-12-27 20:10] mcomella commented on #7378
Triage: waiting on the implementation to get further along before prioritizing.

[2019-12-27 20:21] mcomella commented on #7216
Triage: we want to make concrete progress on known cold startup issues before doing more investigation. Also, this may uncover more UI problems than all problems so, given it focuses on a subset of the issues, it's less important.

[2019-12-27 20:30] yoasif commented on #6676
Personally, I don't think they should be saved as bookmarks, but should be available as synced tabs/collections like have worked for Fennec.

[2019-12-27 20:31] andreicristianpetcu commented on #7331
@boek  I can still reproduce in Nightly, not in Beta.
Your link is www.google.com while mine is https://images.app.goo.gl/ZQzHfQaLtWvTntNo8

[2019-12-27 20:35] yoasif commented on #6512
There is interest in syncing Fenix collections to desktop: https://www.reddit.com/r/firefox/comments/egd6zb/firefox_preview_for_android_has_collections_can/

There is prior art in Fennec of syncing open tabs (this is available in View > Sidebar > Synced Tabs on desktop) -- I think it makes sense to extend that metaphor to collections stored on Fenix (on desktop).

[2019-12-27 20:49] AmyYLee opened #7387 "[CFR] Contextual Feature Recommender disappears right away while scrolling"
Steps to reproduce:

1. Have a fresh install of Fenix
2. Open a website that activates Enhanced Tracking Protection (CNN.com)
3. Scroll down the page

Expected:
Contextual feature recommender (CFR) appears for Enhanced Tracking Protection (ETP)
and stays there while you scroll. Tapping on the "x" will close the CFR.

Actual:
CFR disappears right away while scrolling.

[2019-12-27 20:52] Furax-31 commented on #7371
Last build: Nightly 19227 18:01

Crash again :(

[2019-12-27 21:08] sblatz commented on #6866
That works! Thanks @jonichan 😄

[2019-12-27 21:08] rpappalax opened #7388 "[Bug] UI Settings About test - assert date failure"
Looks like time mismatch on build date when running in firebase
[code]

https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7676691115745540948/executions/bs.7282f4e3b1ca6bc9/testcases/1/test-cases

[2019-12-27 21:16] AmyYLee opened #7389 "[FxA] Log into FxA using QR code gets you a 500 error"
Log into your FxA account using the QR code option

Expected:
You are successfully logged in.

Actual:
500 Error screen

Note: This was during FxA maintenance work so this issue might have been resolved.

![Screenshot_20191212-125418](https://user-images.githubusercontent.com/5992746/71532965-22c10e80-28c4-11ea-9eae-a172cfaf3370.png)

[2019-12-27 21:17] Baron-Severin commented on #3088
I spent some time working on this with @mcomella today.  It looks like `resconfig` can only be set on the `DefaultProductFlavor`, afaict there's no exposed way to set it for a particular flavor, and even if we were able to hack one in I'm worried it would leak between configurations.  We're looking into using the old Focus script now.

[2019-12-27 21:43] mcomella commented on #7380
Triage: it may make more sense from someone on the product team to decide the important workflows.

[2019-12-27 21:46] mcomella commented on #7035
Triage: we need to know how many tabs users keep open to prioritize. @ecsmyth is getting numbers for this in https://github.com/mozilla-mobile/fenix/issues/7191#issuecomment-566248848

[2019-12-27 22:04] rocketsroger commented on #7257
Confirmed by debugging focus.  On focus I see a `onLoadRequest` for a slack:// URL right after the SAML URL.  The slack scheme triggers focus to open in third party app.

[2019-12-27 22:26] sblatz commented on #2833
@rocketsroger :)

[2019-12-27 22:26] Baron-Severin commented on #3088
It's not very Gradley, but it might be possible to read some environment variable and only set `resConfig` when building for a release/beta.  This could cause strange failures if we ever built multiple formats as part of the same task, but it looks like `filter-release-translations.py` might as well.  I'll reach out to RE and try to find out if this is possible

[code]

[2019-12-27 22:28] rocketsroger commented on #2833
@vesta0 Yes, by default account is now removed when user logs out.

[2019-12-27 22:38] sblatz commented on #6726
Is this something we need a GV API for? @cpeterso

[2019-12-27 22:39] sblatz commented on #6545
Is this an accessibility concern? @MReschenberg

[2019-12-27 22:42] boek commented on #6863
Dup of #4904

[2019-12-27 22:42] sblatz commented on #6534
This seems to be fixed now. I think @julienw was right here :)

[2019-12-27 22:43] #6863 closed

[2019-12-27 22:51] Baron-Severin commented on #6726
Depending on the performance impact (I haven't measured it), we might be able to store the current scroll position every few seconds while we're active.  I don't think we can get a reliable hook that will be triggered every possible way we can be killed.

[2019-12-27 23:00] #6793 closed

[2019-12-27 23:02] sblatz commented on #6413
This one is a bit complicated since the ShareFragment is a separate fragment from BrowserFragment and cannot access the browserToolbar as an anchor. I'm digging into this.

[2019-12-27 23:03] #6785 closed

[2019-12-27 23:08] boek commented on #6735
@ebalazs-sv Do you have two versions of Nightly installed? Or is anyone else able to reproduce?

[2019-12-27 23:16] boek commented on #6669
Dup of #6274

[2019-12-27 23:16] #6669 closed

[2019-12-27 23:17] sblatz commented on #5714
I think we could set the package to specifically be the google play store. Do we think that's a good idea? 🤔

[2019-12-27 23:17] boek commented on #6656
@sblatz any idea?

[2019-12-27 23:18] #6643 closed

[2019-12-27 23:19] boek commented on #6614
[code]

[2019-12-27 23:22] boek commented on #6596
@concastinator Thank you for your patience! Bumping this to the geckoview board 👍

[2019-12-27 23:25] boek commented on #6560
Closing this as it gets removed with #7115

[2019-12-27 23:25] #6560 closed

[2019-12-27 23:26] Baron-Severin commented on #7002
@KaairaGupta sure!  I'll assign you to the issue.

[The readme](https://github.com/mozilla-mobile/fenix#firefox-preview) covers some FAQs about contributing, and there's also a Slack link under `getting-involved` where you can reach us directly.  The basic process is that you'll want to fork the project, write a fix, push it up to your fork, then open a pull request into this repo.  If you have mo

[2019-12-27 23:38] boek commented on #6514
Hmm.. I'm not seeing a crash in that logcat either :(

[2019-12-27 23:40] boek commented on #6493
Looks like a dup of #5869. Closing this and bumping it in the gv board

[2019-12-27 23:40] #6493 closed

[2019-12-27 23:40] marcinwiacek opened #7391 "[Bug][Crash] Crash on multiple sites - sometimes even just after opening"
## Steps to reproduce

Open https://forums.anandtech.com/threads/gainward-gtx-750-obnoxious-noisy-fan.2421268/ and wait

OR

open spidersweb.pl, pcworld.pl, wait and scroll

### Expected behavior

browser doesn't crash

### Actual behavior

12-27 22:33:14.643 17224 17224 E AndroidRuntime: java.lang.IllegalArgumentException: Invalid color format
12-27 22:33:14.643 17224 17224 E AndroidRuntime: 	at

[2019-12-27 23:42] boek commented on #7391
Dup of #7371

[2019-12-27 23:42] #7391 closed

[2019-12-27 23:58] #6360 closed

[2019-12-27 23:59] boek commented on #6356
Looks like this is fixed? Feel free to re-open if there is more left to do!

[2019-12-27 23:59] #6356 closed

[2019-12-28 00:10] boek commented on #6247
Let's add this to #6694

[2019-12-28 00:10] boek commented on #6239
#6694

[2019-12-28 00:14] boek commented on #6198
Waiting on https://github.com/mozilla-mobile/android-components/pull/4845

[2019-12-28 00:18] #6170 closed

[2019-12-28 00:18] boek commented on #6159
I wonder if ETP is causing this?

[2019-12-28 00:39] MReschenberg commented on #6545
I'm not super confident either way; I think its an a11y issue in that it breaks a well-established pattern (users will expect to see fenix reflected in that list). As far as "is this a problem specifically for users with assistive tech" probably not, or at least, not any more than it is for users who aren't using assistive tech.

[2019-12-28 00:41] MReschenberg commented on #6545
@eeejay unsure if you're on holiday leave or officially back, but would love another opinion

[2019-12-28 02:54] boek commented on #6079
With #1063 landing this isn't as big of an issue. It does present a new one though!

[2019-12-28 03:02] boek commented on #6039
This seems to happen to new tabs with whatever is your default search engine. We should investigate this

[2019-12-28 03:03] boek commented on #6033
dup of #6187

[2019-12-28 03:10] boek commented on #5979
This is working as intended. There is also a button at the bottom of the screen called shortcuts that you can tap to bring that menu up.

[2019-12-28 03:10] #5979 closed

[2019-12-28 03:10] boek commented on #5957
This is fixed with #1063

[2019-12-28 03:10] #5957 closed

[2019-12-28 03:14] boek commented on #5881
@NotWoods, is this still an issue?

[2019-12-28 03:16] boek commented on #5845
dup of #6735

[2019-12-28 03:16] #5845 closed

[2019-12-28 03:16] #5844 closed

[2019-12-28 03:18] boek commented on #5843
This is working as intended. With the **undo** functionality we delay actually deleting the tabs until a user takes an action. Force closing the application prevents us from actually closing the tabs after that window.

[2019-12-28 03:18] boek commented on #5843
I want to close this, but the more I think about it I feel like it could be a common use case. going to bump this to triage to discuss

[2019-12-28 03:23] boek commented on #5786
I think this is trying to open a new tab and then facebook is trying to close the tab?

[2019-12-28 03:26] boek commented on #5760
dup of #4049

[2019-12-28 03:26] #5760 closed

[2019-12-28 03:28] edentw opened #7393 "[Bug]Can't prohibit autoplay"
## Steps to reproduce
Website where the problem occurred:
https://m.ettoday.net/news/20191228/1612205.htm

### Expected behavior
Autoplay should be disabled.

### Actual behavior
The video below this website will have autoplay problems and cannot be banned. Can you fix the problem, thank you.

### Device information

* Android device: Android 9.0
* Fenix version: Firefox Mobile 73.0

[2019-12-28 03:29] boek commented on #7393
Dup of #255

[2019-12-28 03:29] #7393 closed

[2019-12-28 03:36] #5600 closed

[2019-12-28 03:36] boek commented on #5600
Feel free to re-open if this is still an issue

[2019-12-28 03:36] #5599 closed

[2019-12-28 03:39] boek commented on #5532
Looks like the bugzilla was fixed. Is this still an issue @yoasif?

[2019-12-28 03:43] boek commented on #5436
@dector this is strange, I'm still not able to reproduce. Do you have webrender enabled?

[2019-12-28 03:46] boek commented on #5397
@jonalmeida not a bug, a feature! 😂

[2019-12-28 03:49] boek commented on #5355
dup of #3088

[2019-12-28 03:49] #5355 closed

[2019-12-28 03:58] boek commented on #5308
Dup of #5979, since there were two issues I will bump to group triage to decide if this is actually a bug 👍

[2019-12-28 04:00] boek commented on #5298
@vesta0 no, not easily. We will probably need this filtered from application services.

[2019-12-28 04:02] boek commented on #5289
I believe this has been fixed.. Please re-open if you can reproduce

[2019-12-28 04:02] #5289 closed

[2019-12-28 04:03] boek commented on #5242
This will be fixed with #1063

[2019-12-28 04:03] #5242 closed

[2019-12-28 04:08] boek commented on #5189
fixed with https://github.com/mozilla-mobile/fenix/commit/215e66fb080f75a7965ba430ad17fc1f31c1b5a3

[2019-12-28 04:08] #5189 closed

[2019-12-28 04:10] boek commented on #5150
We should try to fix this asap before we migrate

[2019-12-28 04:11] boek commented on #5147
#5536

[2019-12-28 04:12] boek commented on #5140
Fixed with #6666

[2019-12-28 04:12] #5140 closed

[2019-12-28 04:14] boek commented on #5129
Is this also reproducible in Chrome?

[2019-12-28 04:16] boek commented on #5113
@liuche Based on the bugzilla ticket it looks like this has been resolved? If so can we close?

[2019-12-28 04:16] boek commented on #5103
😱

[2019-12-28 04:18] boek commented on #5061
putting this under #6694

[2019-12-28 04:24] boek commented on #5015
Functionality removed with #1063

[2019-12-28 04:24] #5015 closed

[2019-12-28 04:27] boek commented on #4987
This is working as intended.

[2019-12-28 04:29] boek commented on #4933
Looks like this was fixed on the jetbrains tracker. Is this fixed now @rpappalax @AaronMT ?

[2019-12-28 04:30] boek commented on #4901
@AndiAJ? ^^

[2019-12-28 04:31] boek commented on #4885
Is this still a problem?

[2019-12-28 04:32] boek commented on #4882
This issue hasn't been seen since 1.3.1.

Going to close this until we see it again

[2019-12-28 04:32] #4882 closed

[2019-12-28 04:33] boek commented on #4863
when #1063 lands we may try this again :)

[2019-12-28 04:37] boek commented on #4793
Is this still an issue @agi90?

[2019-12-28 04:38] boek commented on #4740
I think this is fixed now @sblatz.

[2019-12-28 04:39] boek commented on #4734
@andreiuipath are you still experiencing this?

[2019-12-28 04:51] andreiuipath commented on #4734
@boek I haven't seen this in a while. Closing.

[2019-12-28 04:51] #4734 closed

[2019-12-28 07:27] nilshg commented on #7285
(Default) could be translated as "Voreinstellung" or "Standardeinstellung". IMHO "Normal" would probably be a better name than "Standard" for the less strict option, although I appreciate that consistency is important here - you might want to think about renaming the desktop option as well.

[2019-12-28 08:27] enessgokalp commented on #7351
Where can I install extensions from fenix

[2019-12-28 08:37] cadeyrn commented on #7351
@enessgokalp You can't install add-ons in Fenix Nightly yet. You still have to wait a few days/weeks/months - I don't know the timeline.

[2019-12-28 10:15] concastinator opened #7394 "[Bug] Cannot share tabs between versions of Firefox"
## Steps to reproduce

1. Install both Firefox Preview 3 and Firefox Preview Nightly.
2. Open at least 2 tabs in any of the browsers (Nightly, for instance).
3. Go to to the screen with open tabs in Nightly and choose "Share tabs" in the "dots" menu.
4. In the list of applications to share with choose the other browser (Preview 3, in our example).
5. Switch to Preview 3 and notice that a single ta

[2019-12-28 10:41] mikeGolf08 commented on #7357
That's right and it is the message which I see as well but for a very short time you can see that the bookmark icon is filled and visible until the "Deleting browsing data..." message will pop up.

I see no reason to render a bookmark icon when Closing especially if the website is not marked as a bookmark.

[2019-12-28 11:33] moizahmed97 commented on #7329
@boek  oddly enough it works at times and doesn't at others
Even for the same thread it isn't consistent
I've tested on Samsung Internet and it seems to be consistent
![Screenshot_20191228-142748](https://user-images.githubusercontent.com/44170860/71542966-8ad42b00-297e-11ea-93f0-41177af207c6.png)

[2019-12-28 11:39] moizahmed97 opened #7395 "[Bug] Reddit Top posts filter by Duration issue for portrait mode"
## Steps to reproduce
Go to reddit.com
Click on any subreddit
Click on the top post filter
### Expected behavior
Should allow the user to select a duration for example "Past Day" , "Past Month" etc
### Actual behavior
The duration filter seems to get superimposed over the first post on the page and as a result cannot be selected
### Device information

* Android device: Nokia 8.1
* Fenix version:

[2019-12-28 11:45] s-ankur commented on #6970
This also happens with other library items including bookmarks

[2019-12-28 12:07] s-ankur opened #7396 "[Bug] Firefox crashes on creating a new folder in the "Desktop Bookmarks" Bookmarks Folder"
## Steps to reproduce
Go to Bookmarks
Open Desktop Bookmarks folder
Tap the "add folder button"
Name the new folder
tap the tick mark button
### Expected behavior
No Crash
### Actual behavior
Firefox Crashes
### Device information

* Android device: Asus Zenfone Max Pro M1
* Fenix version: 3.0.1

[2019-12-28 12:13] KaairaGupta commented on #7002
@Baron-Severin is this problem only on the nexus device?
My device is RedmiK20 with android 9, and this is how it looks on it:
![light](https://user-images.githubusercontent.com/45488611/71543498-89fcc280-2999-11ea-868e-42bc91752786.jpeg)
![dark](https://user-images.githubusercontent.com/45488611/71543500-8cf7b300-2999-11ea-8851-2d77a41775c5.jpeg)

[2019-12-28 14:44] eyalyoli opened #7397 "Browser crashes after loading certain sites [Bug]"
## Steps to reproduce
Go-to the site and load it fully, sites such as:
https://github.com
https://forum.utorrent.com
Never mind what page you load. When fully loaded the browser crashes. Happens with the 3+ latest updates. I've sent the crash reports several times. Restarting the browser, clearing cache and storage doesn't help.
### Expected behavior
Doesn't crash.
### Actual behavior
Crashes and

[2019-12-28 15:22] KaairaGupta commented on #7002
@Baron-Severin here is the screenshot. I am unable to reproduce the bug. It's working fine on my phone
![mozzila](https://user-images.githubusercontent.com/45488611/71545656-f2589d80-29b3-11ea-8979-dab1be280634.jpeg)
model:RedmiK20

[2019-12-28 16:18] #4885 closed

[2019-12-28 16:20] #4933 closed

[2019-12-28 16:23] s-ankur opened #7398 "[Bug] Normal mode tab is minimized unnecessarily when closing private tabs via the close private browsing session notification"
## Steps to reproduce
Open a private mode tab.
Without closing this tab, open the normal mode.
Open a normal mode tab.
Close the private mode session using the notification.
### Expected behavior
Private session is closed without affecting the current tab
### Actual behavior
Private session is closed but the current normal tab is minimized unnecessarily
### Device information

* Android device: As

[2019-12-28 16:42] boek commented on #7397
Dup of #7371

[2019-12-28 16:42] #7397 closed

[2019-12-28 16:49] boek commented on #4405
This should be resolved with #3177

[2019-12-28 16:49] #4405 closed

[2019-12-28 16:51] eyalyoli commented on #7371
Crashes on build 191228

[2019-12-28 16:53] boek commented on #4370
This will be fixed with the new tab tray #1063

[2019-12-28 16:53] #4370 closed

[2019-12-28 16:59] boek commented on #4327
@otede Are you able to reproduce this with every update?

I'm going to close this for now. If you are able to reproduce I will re-open 👍

[2019-12-28 16:59] #4327 closed

[2019-12-28 17:01] boek commented on #4289
There is now a shadow and 1dp border on the navbar. We also removed the QAB

[2019-12-28 17:01] #4289 closed

[2019-12-28 17:02] s-ankur opened #7399 "In the Settings the Toolbar item does not have an icon"
### Why
All of the options in settings in preview nightly have some icon alongside them, except the toolbar setting. Adding an icon will improve consistency and make the settings page look more cohesive

### What/Requirements
Add an icon to the toolbar option in settings

### Acceptance Criteria (how do I know when I’m done?)
Icon is added and matches the rest of the icons in terms of style.

[2019-12-28 17:09] boek commented on #4111
It looks like the shroud has a cutout for the display shape. Weird

[2019-12-28 17:27] boek commented on #3667
This is fixed with #1063, UI and Unit tests!

[2019-12-28 17:27] #3667 closed

[2019-12-28 17:27] boek commented on #3642
@colintheshots bump^^

[2019-12-28 17:32] boek commented on #3585
This is caused by the separator being a menu item. The idea for fixing it is to try to override the default content description of the menu and hard code the correct amount of items.

[2019-12-28 17:35] boek commented on #3518
@mhammond I'm going to close this. Feel free to re-open if you can still reproduce

[2019-12-28 17:37] boek commented on #3506
@agi90 Does this only happen while using Fenix?

[2019-12-28 17:41] boek commented on #3312
@mitchhentges Is this still something we want to do?

[2019-12-28 17:47] s-ankur opened #7400 "[Bug] Moving default bookmark folders in Firefox desktop into the Mobile Bookmarks folder will show up as place:parent=menu______"
## Steps to reproduce
1. In firefox desktop library menu, move the Bookmarks Menu/Other Bookmarks/Bookmarks Toolbar into the mobile bookmarks folder (it will be copied instead of being moved)
2. sync account on desktop
3. sync account on fenix
4. Open bookmarks library on fenix

### Expected behavior
The Bookmarks Menu/Other Bookmarks/Bookmarks Toolbar  folders show up and you can use them normall

[2019-12-28 17:52] boek commented on #1506
Could we test this with the top dynamic bar?

[2019-12-28 17:54] boek commented on #1097
Dup of #3088

[2019-12-28 20:42] boek commented on #7389
Looks like it's working again

[2019-12-28 20:42] #7389 closed

[2019-12-28 22:09] masi456 commented on #7396
Hey,

seems like a duplicate of #4994? For me it is not reproducible in current master.

[2019-12-28 23:20] lindongbin opened #7401 "[Bug] Webrender not scroll or zooming smooth on Chinese website."
e.g. https://www.cnbeta.com/

* Android device: ?
* Fenix version: ?

[2019-12-29 00:30] yaomtc commented on #5771
Does closing mean it's been fixed?

[2019-12-29 01:36] boek commented on #5771
@yaomtc no, sorry! I had the wrong tab open! ...now to find the issue I meant to close..

[2019-12-29 07:22] s-ankur commented on #7396
@masi456 Yes I think this is the same issue.

[2019-12-29 07:22] #7396 closed

[2019-12-29 09:57] lnicola commented on #7371
Possibly duplicate of https://github.com/mozilla-mobile/fenix/issues/7362.

[2019-12-29 14:01] LittleAngelwings commented on #7371
I don't have any more crashes since this nightly:

Nightly 191228 18:01 (Build #13621813)
27.0.0, d10c36024
GV: 73.0a1-20191227094418

[2019-12-29 14:02] LittleAngelwings commented on #7362
I don't have any more crashes since this nightly:

Nightly 191228 18:01 (Build #13621813)
27.0.0, d10c36024
GV: 73.0a1-20191227094418

[2019-12-29 14:50] andreicristianpetcu commented on #7362
Fixed on my phone also. Thank you!

[2019-12-29 14:50] #7362 closed

[2019-12-29 15:00] andreicristianpetcu opened #7403 "[Bug] Problem loading widget"
## Steps to reproduce
Add widget to screen

### Expected behavior
widget added to screen
![Screenshot_20191229-165939_Trebuchet](https://user-images.githubusercontent.com/922368/71558487-a7469500-2a5c-11ea-9a35-45c978125756.png)

### Actual behavior
Problem loading widget
![Screenshot_20191229-165813_Trebuchet](https://user-images.githubusercontent.com/922368/71558489-b3caed80-2a5c-11ea-92f1-2ce77

[2019-12-29 17:29] masi456 commented on #1754
I have implemented this functionality for my private version of Fenix (although the main changes are in android-components, see [here](https://github.com/masi456/android-components/commit/fb9c950859e5bd27c8b6c27a625fe6dac9d16165)).

If this has a chance of getting merged I can prepare a PR with documentation, tests, etc?

![Anmerkung 2019-12-29 182417](https://user-images.githubusercontent.com/911

[2019-12-29 18:34] NotWoods commented on #1754
A PR for this functionality is welcome :)

[2019-12-29 19:30] NotWoods commented on #5881
@boek Yes, I'm still able to reproduce the issue.

[2019-12-29 19:55] s-ankur opened #7405 "[Bug] "Close private tab" notification does not work with embedded "Powered by Firefox" browser"
## Steps to reproduce
1. Set firefox preview as default browser.
2. Check "Open links in a private tab" option in this menu.
3. Go to the reddit app.
4. Open any web link url (Assuming that the "open web links in app" reddit setting is on)
5. Click on the Close private tab notification
### Expected behavior
The embedded browser should close and you should return to the host app (reddit)
### Actual

[2019-12-29 20:09] s-ankur commented on #7365
related to #7013

[2019-12-29 22:05] andreicristianpetcu commented on #7403
Hmmm. It's fixed now. Will re open if I see it again.

[2019-12-29 22:05] #7403 closed

[2019-12-29 23:15] salpiras commented on #7204
Should be addressed by PRs [Fenix](https://github.com/mozilla-mobile/fenix/pull/7406) and [Components](https://github.com/mozilla-mobile/android-components/pull/5426)

[2019-12-30 00:09] cpeterso commented on #6726
I think you can listen for scroll position changes with a GeckoView `ScrollDelegate`:

https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoSession.ScrollDelegate.html

If the `ScrollDelegate` API doesn't meet your needs, talk to @fluffyemily.

[2019-12-30 06:52] softvision-miralobontiu commented on #6866
Verified as fixed on the latest Nightly build from 12/29 (#13631806), with Nexus 6P (Android 8.1), and Nexus 5 (Android 6.0.1).

[2019-12-30 06:52] #6866 closed

[2019-12-30 07:23] AndiAJ commented on #4740
Hi, **verified as fixed** on the latest **Nightly Build #13640626 from 12/30** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191230_091256](https://user-images.githubusercontent.com/51314259/71572058-10261f80-2ae6-11ea-808b-b85b36ccbf0f.gif)

[2019-12-30 07:23] #4740 closed

[2019-12-30 07:33] AndiAJ commented on #1506
Hi, **still reproducible** using the dynamic top bar on the latest **Nightly Build #13640626 from 12/30** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191230_092721](https://user-images.githubusercontent.com/51314259/71572372-68a9ec80-2ae7-11ea

[2019-12-30 07:51] softvision-miralobontiu opened #7407 "[Bug] The onboarding tour is not dismissed after opening the "Privacy notice" page"
## Steps to reproduce
1. Make sure you have a clean profile.
2. Scroll down the onboarding tour, until you reach Your privacy card, and tap on "Read our privacy notice".
3. Choose to  "Open in Firefox Nightly" the opened custom page.
4. Tap on the counter tabs.

### Expected behavior
After step 4, the Homescreen is displayed with 1 tab opened.

### Actual behavior
The user is redirected to the onb

[2019-12-30 08:21] AndiAJ commented on #4525
Hi, I've just checked the Download Notification progress bar on the latest **Nightly Build #13640626 from 12/30** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔️ The download progress bar is displayed in the Android notification while downloading any conte

[2019-12-30 08:29] sv-sdeiac commented on #7240
The local is set to English and I tested with other SUMO pages to see the difference and the issue.

![20191230_100527](https://user-images.githubusercontent.com/40264165/71573971-271d3f80-2aef-11ea-8fb3-77def1678941.gif)

[2019-12-30 08:52] AndiAJ commented on #2833
Hi this is **still reproducible** on the latest **Nightly Build #13640626 from 12/30** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191230_103409](https://user-images.githubusercontent.com/51314259/71574660-66995b00-2af2-11ea-9643-393aad6d42d4.

[2019-12-30 08:59] sv-sdeiac commented on #6534
Verified as fixed using the latest version of Firefox Preview Nightly 12/30 #13640626.

Devices:
- LG g7 fit (Android 8.1);
- Samsung Galaxy S8 (Android 9);
- OnePlus 5T (Android 9);
- Google Pixel (Android Q).

[2019-12-30 09:19] sv-sdeiac commented on #6514
Hello, I am able to reproduce the crash with Samsung Galaxy Note 8 (Android 9), with 12/30 @6:26 AM nightly build and 3.0.0-beta.3 build.
There is a logcat with the error from the Nightly and beta build. I hope it helps you guys.
[crash_nightly.txt](https://github.com/mozilla-mobile/fenix/files/4009366/crashprivacynightly.txt)
[crash_beta.txt](https://github.com/mozilla-mobile/fenix/files/4009367/

[2019-12-30 09:37] mcarare commented on #6304
@sblatz I also proposed this solution, to open the private to home, not search. It will also improve #625

[2019-12-30 09:39] sv-sdeiac commented on #7343
I found a different scenario to reproduce the crash.
1. Open different tabs;
2. Share tabs by tapping multiple times on the second device icon;

The issue is still reproducible for any type of sharing(private, normal, collection, open tabs, history).

[2019-12-30 09:43] cadeyrn commented on #7405
The notification for private custom tabs was disabled in #7392 so this should no longer be an issue with the next update.

[2019-12-30 10:00] AndiAJ commented on #2574
Hi, **verified as fixed** on the latest **Nightly Build #13640626 from 12/30** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191230_115458](https://user-images.githubusercontent.com/51314259/71577202-e4159900-2afb-11ea-967c-c645bc2457d7.gif)

[2019-12-30 10:05] cadeyrn commented on #2574
The issue was only present with the dynamic toolbar and never with the fixed toolbar. This should be retested once the dynamic toolbar lands again. ;-)

[2019-12-30 10:28] AndiAJ commented on #2574
I've just re-checked his matter setting the toolbar on TOP, which makes it dynamic and didn't encounter any issues.

► Video
![20191230_122255](https://user-images.githubusercontent.com/51314259/71578172-b894ad80-2aff-11ea-8cd0-30c5e893cc62.gif)

[2019-12-30 10:36] sv-sdeiac commented on #6867
Hello, I can't reproduce the issue using Firefox Preview Nightly 12/30 @6:26 AM build.

Devices:
- Huawei MediaPad M2 (Android 5.1.1);
- HTC Desire 820 (Android 6.0.1);
- Google Pixel 2 (Android 9).

Due to that, I'll close this ticket, thanks.

[2019-12-30 10:36] #6867 closed

[2019-12-30 10:37] masi456 commented on #1022
I think this does not work for windows, since you have to call "gradlew.bat", not "gradle".

[2019-12-30 10:44] AndiAJ commented on #7000
Hi, **verified as fixed** on the latest **Nightly Build #13640626 from 12/30** using a Google Pixel 3a (Android 9)

✔️ Tap pause from the Open tabs - Ping **24826523-0859-48ac-acf6-b31752cc6a8a**
✔️ Tap play from the Open tabs - Ping **d987d473-bf01-49ac-a435-998fb7ce3343**

[Logcat](https://github.com/mozilla-mobile/fenix/files/4009574/PausePlayOpenTabs.txt)
[Glean dashboard](https://debug-ping-p

[2019-12-30 10:44] #7000 closed

[2019-12-30 11:08] AndiAJ commented on #4901
Hi, **verified as fixed** on the latest **Nightly Build #13640626 from 12/30** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

The website was changed since I reported the issue, the TP being enabled/disabled doesn't have any impact. ☺️

► Video
![20191230_12

[2019-12-30 11:08] #4901 closed

[2019-12-30 11:21] mcarare commented on #7313
@AmyYLee Can you also please check (or link to the mocks) what should actionbar color should be for light and private themes? Thank you!

[2019-12-30 11:43] AndiAJ commented on #5129
Hi @boek , yes, this is happening on **Chrome**, **Brave** and on the latest **Fenix Nightly Build #13640626 from 12/30**
I've re-checked this using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

## **► Fenix**
![20191230_132645](https://user-images.githubusercont

[2019-12-30 12:06] AndiAJ commented on #5289
Hi @boek , since [#6018](https://github.com/mozilla-mobile/fenix/issues/6018) the STR isn't valid anymore, just re-checked this matter on the latest **Nightly Build #13640626 from 12/30** using a Google Pixel 3a (Android 9)

[2019-12-30 12:10] mcarare commented on #7155
@AmyYLee Would it look better with the "powered by" text center aligned?

<img src= https://user-images.githubusercontent.com/48995920/71581437-e84ab200-2b0d-11ea-97d0-3ce6ec985eeb.png width= 40% img>

[2019-12-30 12:25] AndiAJ commented on #7394
Dupe of [#4178](https://github.com/mozilla-mobile/fenix/issues/4178) ?

[2019-12-30 12:37] sv-sdeiac commented on #7395
Hello, I am not able to reproduce your issue but tapping on the "Posts" top menu it doesn't do anything.

Devices:
- Google Pixel (Android Q);
- Samsung Galaxy S8 (Android 9);
- LG g7 fit (Android 8.1).

[2019-12-30 13:26] cadeyrn commented on #2574
Well, I guess with the top toolbar the top content has to be tested, not the bottom content. But I don't know if the problem ever existed for the top toolbar implementation because it was never a problem with the old Firefox which always had a top toolbar. ;-)

I will test once the dynamic bottom toolbar lands again. I hope it will happen soon. :)

[2019-12-30 13:28] sv-sdeiac opened #7408 "[Bug] The blue dot notification is not disabled after enable/disable the Reader View"
## Steps to reproduce
1. Open Firefox Preview;
2. Go to www.wikipedia.rog/wiki/Main_Page;
3. Open the 3dot menu;
4. Enable the "Reader View" option;
5. Reopen the 3dot menu and disable the "Reader View" option;

### Expected behavior
A blue dot is presented after on the 3dot menu/Reader view option and disappears after enabling it the Reader view option.

### Actual behavior
The blue dot is not di

[2019-12-30 14:08] mcomella commented on #6903
We'll triage and presumably try to address this. This one is tricky: a goal of performanceTest builds is to make them as close to release builds as possible because anything in release builds may affect performance (including those pop-ups). We wouldn't want to disable these pop-ups for local performance development but perhaps we'd want to disable them for visual-metrics testing.

I wonder if we

[2019-12-30 14:42] sv-sdeiac commented on #7371
Closing as a duplicate of #7362 and also verified that the issue is not reproducible using different sites who were affected by the crash:
- http://m.jeuxvideo.com/forums.htm;
- https://github.com/dashboard;
- https://www.google.com/travel;
- https://www.irishtimes.com/opinion/what-ever-happened-to-the-irish-salmon-farming-industry-1.4123596?mode=amp.

Devices:
- LG G7 fit (Android 8.1);
- Samsung

[2019-12-30 14:42] #7371 closed

[2019-12-30 15:12] kbrosnan commented on #7395
@moizahmed97 would you provide a screenshot of your Firefox Settings for `Accessibility` `Font Size`. I can reproduce some font overlapping issues at 200% using a Pixel 3.

[2019-12-30 15:16] #7394 closed

[2019-12-30 15:23] kbrosnan commented on #5129
Sounds like a website bug then. It would be up to Bing devs to fix this.

[2019-12-30 15:23] #5129 closed

[2019-12-30 15:23] #5113 closed

[2019-12-30 15:53] mcomella opened #7410 "Remove RxJava dependency for potential build times & APK size improvements"
According to [GH search](https://github.com/mozilla-mobile/fenix/search?q=io.reactivex&unscoped_q=io.reactivex), RxJava is only used in `EditBookmarkFragment`: we should remove it. Potential benefits:
- Improved build times saving devs time every day :)
- Decreased APK size (at max RxJava appears to be 1.9 MB)

Since we're using a small subset of Rx, the effect of these changes may be negligible:

[2019-12-30 15:54] mcomella commented on #5916
Nimbledroid also has this data (for download size but not installed size). We're able to export other data from ND so maybe we can export APK size too.

[2019-12-30 16:32] #6534 closed

[2019-12-30 16:39] kbrosnan commented on #7407
There are cases where we want to preserve the onboarding screen and viewing the privacy notice was one of them as I recall.

[2019-12-30 16:43] liuche opened #7411 "[Bug] Crash with IllegalArgumentException: Invalid color format (github.com)"
Sentry crash: https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6951696/

Looks like fallout from #5585 and BZ-1604917

## Steps to reproduce
(Specific site with color problems): https://github.com/mozilla-mobile/fenix/

### Expected behavior
Page loads

### Actual behavior
Page starts loading, crashes

### Device information

* Android device: Pixel 3
* Fenix version: Nightly 12/28,

[2019-12-30 16:45] sblatz commented on #6656
Downloading & opening this file works for me on nightly

Galaxy S9 9(Nightly 191230 6:21)

![pdf works](https://user-images.githubusercontent.com/4400286/71591328-c7b83300-2ae0-11ea-809b-bd750041bc94.gif)

[2019-12-30 16:53] sblatz commented on #1461
Ah, so here's the bug we need to fix then :) I'm going to throw this on the AC bug board as it's likely a fix we need there.

Thanks for this investigation @AndiAJ!

[2019-12-30 16:55] sblatz commented on #5972
@liuche Yeah, this seems like some weird interaction happening with "Clear defaults"? I don't believe it should be working like this. It seems to be a separate regression from the activity-alias.

[2019-12-30 16:57] kbrosnan commented on #7411
Sentry is showing this crash trending down. Updating your Firefox Preview should stop the crash.

[2019-12-30 17:06] mcomella commented on #7378
I sent [an email](https://groups.google.com/a/mozilla.com/d/msg/perf-android-fe/riH9TTq0dWc/ug_ZFYUVBAAJ) to the team with answers to a few open questions we have had.

### Proposed action items
- (now) Validate assumptions: is migration really < 2s? Is the UX sufficient or should we request changes?
- (Jan. 15 or when ready) Validate perf of final data migration code
- (Feb. 18 or when ready) Val

[2019-12-30 17:28] sblatz opened #7412 "[Bug] Pressing back in BrowserFragment causes session to disappear"
## Steps to reproduce
1. Load any site
2. Press back

### Expected behavior
1. Taken back to home screen with session showing as selected

### Actual behavior
1. Taken back to home screen and **session is gone**

### Device information

* Android device: Galaxy S9 Android 9
* Fenix version: Master and nightly 191230 (Build #13640627)

[2019-12-30 17:28] sblatz commented on #7412
Throwing this in group triage because this seems like a pretty bad bug 😬

[2019-12-30 17:29] sblatz opened #7414 "[Bug] Can't read text on about screen when in private mode"
If you go to the "About Fenix" page in private mode, the text cannot be read. We're probably just using the wrong attribute color here.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/71592933-ec170e00-2ae6-11ea-98cc-31b487fe8066.png">

[2019-12-30 17:30] mcomella commented on #6903
There may be some precedent with doing this through intents from disabling onboarding: https://github.com/mozilla-mobile/fenix/pull/7127

[2019-12-30 17:32] moizahmed97 commented on #7395
@kbrosnan Here it is
Setting is set to default system settings which is large
![Screenshot_20191230-194811~2](https://user-images.githubusercontent.com/44170860/71593033-72613d80-2b43-11ea-81a9-0afc190e650a.png)
![Screenshot_20191230-194908~2](https://user-images.githubusercontent.com/44170860/71593034-73926a80-2b43-11ea-91b5-6c8108818e8c.png)

[2019-12-30 17:35] moizahmed97 commented on #7395
Actually the problem is solved now, you were right its the font size that was causing issues as i had set my font setting to large, my bad

![Screenshot_20191230-195224~2](https://user-images.githubusercontent.com/44170860/71593081-a177af00-2b43-11ea-8359-750cb4860319.png)

![Screenshot_20191230-195006~2](https://user-images.githubusercontent.com/44170860/71593086-a3417280-2b43-11ea-8d8d-0f7ee43ab

[2019-12-30 17:35] sblatz commented on #7408
I'm not sure what the intended behavior here is on this one. Looping in UX :)

[2019-12-30 17:36] boek commented on #7407
@kbrosnan that is correct. The only two ways to dismiss the onboarding screen are:
1. Tapping on the search bar
2. Tapping "Start browsing"

It might make sense to make the privacy notice open in a custom tab so your only action is to close it and end up back at the home screen.

[2019-12-30 17:36] boek commented on #7407
@apbitner What do you think?

[2019-12-30 17:38] sblatz commented on #6413
Note: this also happens with "Syncing"

[2019-12-30 17:42] AmyYLee commented on #7155
@mcarare No, please keep it left aligned.

Also, can we include the icon for "Desktop site" toggle? We have an icon for it in the 3-dot menu in Preview.
<img width="319" alt="Screen Shot 2019-12-30 at 12 41 31 PM" src="https://user-images.githubusercontent.com/5992746/71593377-c3e8d880-2b01-11ea-810e-fb543084b8fc.png">

Thanks!

[2019-12-30 17:49] #7411 closed

[2019-12-30 18:00] mcomella commented on #7191
Moving to In Progress so devs don't accidentally take this (action is on Eric).

[2019-12-30 18:11] mcomella commented on #6572
As of today, Fenix launches to a black screen (instead of white) when dark mode is enabled on the device & Fenix is set to light mode: this can be considered a "perceived performance" issue.

@cadeyrn Can you verify that:
- You still experience this issue
- Your device is in dark mode
- Fenix is in light mode

As far as "it's slower than fennec" is concerned, it's the perf team's top priority :) a

[2019-12-30 18:13] mitchhentges commented on #3312
That's a good question, but if this ticket is still valid, it should probably be moved to [`mozilla-version`](https://github.com/mozilla-releng/mozilla-version/) (it's not really Fenix-y work).
@JohanLorenzo I'm guessing this is still valid?

[2019-12-30 18:19] sblatz commented on #6413
Have a fix up for review now; I believe I fixed this is all locations 😄

[2019-12-30 18:20] sblatz commented on #6304
Moving this to "waiting" until we have UX feedback here 😄

[2019-12-30 18:25] mcomella commented on #4132
I did an analysis in #6464 & `forPerformanceTest` is still important: see [the updated Fenix readme](https://github.com/mozilla-mobile/fenix/#performance-build-variants) for a summary and my conclusions in https://github.com/mozilla-mobile/fenix/issues/6464#issuecomment-568045860.

In the future, please keep me in the loop wrt performance build configuration changes!

[2019-12-30 18:28] mcomella opened #7416 "Create separate`ReleaseChannel.forPerformanceTest`"
As discussed in https://github.com/mozilla-mobile/fenix/pull/7319#discussion_r361467546, we currently set `forPerformanceTest` to the production release channel but, for correctness, it should have it's own ReleaseChannel. However, this is likely to be mis-used so we should refactor the code such that the specific `ReleaseChannel` is not exposed and users must make calls through the more generic f

[2019-12-30 18:33] mcomella commented on #6464
PR merged: no more dev work needed.

[2019-12-30 18:36] liuche commented on #6381
Yes, @AmyYLee  that's correct! We can set "open links in private tab" even if Fenix is not the default.

For more context, non-default browser Fenix users will be prompted to select which browser they want to use - we used to show the "open in Fenix PB Mode" but removed it due to #5972. This setting would control what happens when they click "Open with Fenix" - whether it's a Private tab or Normal

[2019-12-30 18:37] mcomella commented on #6464
QA not needed: no user facing changes & a straight refactor. If we were to QA, we should check:
- Gecko logging still only in debug mode
- Strict mode logging still only in debug mode

[2019-12-30 18:38] jdragojevic commented on #2833
@AndiAJ  - can you please clarify what you mean by still reproducible means.  There's two comments the initial description (24-May) and the clarification by Ryan Kelly (26-May).  @vesta0 can you please confirm the desired behavior.

[2019-12-30 19:13] AmyYLee commented on #6304
Hi,

My intention for opening PBM directly into search mode is for an added level of privacy so the user's last opened private tabs aren't revealed when they tap on the PMB shortcut (if they had tabs opened and forgot to erase them). Curious to know what @brampitoyo thoughts are?

[2019-12-30 19:14] cadeyrn commented on #6572
Yes, it's still an issue although it's less noticeable since the last OxygenOS update which featured "improved the launching speed of some apps". But it's still an issue, yes.

The "McLaren" Theme (an exclusive theme only for the McLaren edition of this device) is used and this theme is a dark theme. I can confirm that with a light theme the screen is white instead of black during the start.

Yes,

[2019-12-30 19:18] sblatz commented on #7412
Looks to be related to https://github.com/mozilla-mobile/fenix/commit/1e813a96094dcceed699e8e8492db8fe32ea360f

Or at the very least to the `removeSessionIfNeeded` func

[2019-12-30 19:24] sblatz commented on #7412
Based on what I can tell this is **intended behavior**. I just found it really surprising. I'm going to have UX confirm this is what should happen.

[2019-12-30 19:27] mawen7 commented on #7412
Related to #6620 which is waiting on ux feedback as well, see last comment from @ekager

[2019-12-30 19:28] Baron-Severin commented on #7002
I'm not able to reproduce it anymore either @KaairaGupta, so I'm going to close the issue.  Thank you for looking into the problem, and I'm sorry there wasn't more there for you to do.  We have [a few more](https://github.com/mozilla-mobile/fenix/issues?q=is%3Aopen+no%3Aassignee+label%3A%22good+first+issue%22) good first issues if you would like to try tackling another one!

[2019-12-30 19:28] #7002 closed

[2019-12-30 19:28] isabelrios opened #7417 "[Bug] Fix intermittent error on UI Bookmarks tests - Nexus 6, Virtual, API Level 25"
There are at least two tests:
-deleteMultipleSelectionTest
-multipleBookmarkDeletions

failing intermittently on Firebase on Nexus 6, API Level 25, for Pixel 2 API 28 tests are working.
Opening the issue to track those failures and investigate their flakiness.
@sv-ohorvath I think you are the owner of the Bookmark tests? assign it to you but please correct me if I'm wrong :) Thanks!

[2019-12-30 19:28] sblatz commented on #7412
Thanks for linking that @mawen7 I wasn't aware of that discussion.

I found this behavior confusing as the back button is not usually a destructive action 😅

[2019-12-30 19:34] sblatz commented on #6620
Tacking on to this conversation. I just filed https://github.com/mozilla-mobile/fenix/issues/7412 (which I didn't realize was a dup) as I found this behavior really confusing.

The back button is not usually a destructive action and I was surprised when my tab went away just from hitting back once. It makes sense when I've launched the app through an external link and it navigates me away, but whe

[2019-12-30 19:34] #7412 closed

[2019-12-30 19:34] sblatz commented on #7412
Closing as dup

[2019-12-30 19:53] #7220 closed

[2019-12-30 19:55] cadeyrn commented on #7219
It's fixed in the current build. I guess https://github.com/mozilla-mobile/android-components/pull/5328 was not yet included the last time.

[2019-12-30 19:55] #7219 closed

[2019-12-30 19:57] AmyYLee opened #7418 "[PWA] Can add multiple icons for the same PWA"
Steps to reproduce:

1. Go to a website that supports PWAs (i.e Twitter)
2. Install a PWA using "add automatically"
3. Close Fenix and open it again and install another PWA using "add automatically"
4. Add another PWA using "manual"

Expected:
Only allow one stance of PWA to be installed

Actual:
You can install multiple instances of a PWA if you close the app and reopen and also if you use automa

[2019-12-30 19:58] liuche commented on #7408
I think this is a known issue, that was decided as a tradeoff. @Baron-Severin might know if there are follow-up issues that should be filed, or duped to/from this one.

Adding some context:

## Topic:
QAB functionality was moved to the browser menu toolbar, but items are not highlighted as shown in mocks due to technical issues.

Plan of action:
1. AC will add support for highlightable/togglable i

[2019-12-30 20:06] AmyYLee commented on #7313
Do you mean the android toolbar?
<img width="504" alt="Screen Shot 2019-12-30 at 3 06 21 PM" src="https://user-images.githubusercontent.com/5992746/71598715-03212480-2b16-11ea-9f98-1f55feaa2ab7.png">

[2019-12-30 20:07] liuche commented on #7385
We added a menu-highlight (blue dot) in #7352, which while doesn't fix the issue of Reader Mode taking a while to load, does mean you don't have to keep toggling the menu button.

If this is work beyond eng:perf issue, I would drop it down to a P3.

[2019-12-30 20:09] mcomella commented on #599
Using light device + light Fenix & STR https://github.com/mozilla-mobile/fenix/issues/599#issuecomment-531313267, I don't see this in the current Nightly: if the other device configurations work out (esp. dark + dark), I think it's safe to close this.

Note a user filed an issue about a black screen being perceptively weird in https://github.com/mozilla-mobile/fenix/issues/6572.

[2019-12-30 20:12] mcomella commented on #6903
@sefeng211 Is this still an issue? If so, how urgent is it?

[2019-12-30 20:12] vesta0 commented on #7044
How often does this happen? Need an S label.

[2019-12-30 20:14] mcomella commented on #6572
To summarize, I believe the issue is that opening light mode Fenix on a dark mode device shows a black screen and it's perceptively jarring. Colin has looked into this and mentioned it's hard to do the right thing and we can only make a best effort guess (I wonder how other apps solve it, if at all?).

@colintheshots Is there an existing issue to track this or should we leave this open?

[2019-12-30 20:17] mcomella commented on #7378
Triage: we're focusing on startup & the data migration team seems to have perf in mind so we put this lower in the list but it'd be good to address the first action items sooner rather than later.

[2019-12-30 20:23] kbrosnan commented on #7408
What is the value of a notification that appears almost all the time?

[2019-12-30 20:24] vesta0 commented on #3180
The crash cannot be reproduced.

@liuche please confirm that we are displaying the correct information on this page.

[2019-12-30 20:26] sefeng211 commented on #6903
@mcomella yeah it is still an issue. Not 100% sure about the urgency, however since we are urgent in getting visual metrics in CI, I'd say this is quite urgent.

Using an intent or a possibly a pref sounds good to me, as long as these changes won't introduce any new overheads...

[2019-12-30 20:28] cadeyrn commented on #6572
Especially how it's solved in the old Firefox because it's only an issue with Fenix, not with Fennec. ;-)

[2019-12-30 20:31] apbitner commented on #7407
@boek I think we should consider the privacy notice as part of the onboarding, therefore it should **not** dismiss the onboarding cards.

[2019-12-30 20:42] AmyYLee opened #7419 "[Search] Need more contrast between dark search favicons on dark theme"
Can we adapt icons for light/dark mode? (i.e is there a Light/Dark version of the amazon favicon?)
@mconnor

![Screenshot_20191230-153239](https://user-images.githubusercontent.com/5992746/71599688-e4bd2800-2b19-11ea-8819-9126d8227541.png)

If the answer is no, can we add a hairline around the favicons?

Dark theme #FBFBFE 12% opacity
Light theme #15141A 125 opacity

This should be the same colour

[2019-12-30 20:49] AmyYLee opened #7420 "[Share] Not enough contrast in copy to clipboard icon"
Can we update the copy to clipboard icon so there's higher contrast? It should be the same colour as our icons on light/dark theme.

<img width="520" alt="Screen Shot 2019-12-30 at 3 48 16 PM" src="https://user-images.githubusercontent.com/5992746/71600182-dcfe8300-2b1b-11ea-9ee6-1667d482c192.png">

[2019-12-30 20:49] Baron-Severin commented on #7408
@apbitner do you recall why we're not allowing users to clear highlights of reader mode/open in app/PWA?  I know it came up in our meeting, but I can't remember.

[2019-12-30 20:57] AmyYLee opened #7421 "[Settings] Remove "Collections" from delete browsing data"
This is a recommendation to remove "Collections" from Delete browsing data. I would treat collections like bookmarks where the user has proactively saved items. It's pretty destructive if the user isn't paying attention and accidentally clears their Collections.

### Acceptance Criteria
- [ ] Collections is no longer on this list

![Screenshot_20191230-154626](https://user-images.githubusercontent

[2019-12-30 21:02] evilpie commented on #7421
Best of both worlds: Make Collections unchecked by default.

[2019-12-30 21:11] mcomella commented on #7385
@liuche To be fair, it's unintuitive that this blue dot is intended to indicate "reader mode is available." For example, I thought the blue dot might be an onboarding feature for reader mode that might disappear once I activated reader mode. Maybe we should change the dot to a blue reader mode icon or something?

After speaking with Christian, we came to the conclusion that this is a purely UX iss

[2019-12-30 21:12] mcomella commented on #7385
Removing eng:perf because I don't think it's actionable by our group.

[2019-12-30 21:15] mcomella commented on #6679
@hawkinsw I noticed this was in the "Waiting" column. Is this still blocked? If not, what are the remaining action items for this issue?

[2019-12-30 21:17] hawkinsw commented on #6679
Blocked on Jonathan's work

On Mon, Dec 30, 2019, 4:15 PM Michael Comella <notifications@github.com>
wrote:

[2019-12-30 21:21] kbrosnan commented on #7407
We already do this. The question was should we treat the Privacy Notice as a custom tab so that pressing the back button would take the user back to onboarding.

[2019-12-30 21:22] mcomella commented on #6547
Since this is marked as Done, I believe we can also close it.

[2019-12-30 21:22] #6547 closed

[2019-12-30 21:29] rocketsroger commented on #2833
One thing to add.  I've confirmed the behavior on Fenix nightly.  But with reference browser the last signed in email is not cached.

[2019-12-30 21:32] Xophile commented on #2286
No one?

[2019-12-30 21:34] colintheshots commented on #6572
The Android theming system doesn't give apps enough time to know which theme to use immediately on startup. Instead, they must set the initial window background without any theme information. Some apps resolve this by using a static splash screen, fake UI, or a transparent window background. Others use color hints from the OS to take a guess at the chosen theme, as Fenix does.

### Upsides and Dow

[2019-12-30 21:44] apbitner commented on #7407
Sorry I misunderstood. Yes, a custom tab seems to make sense to solve this issue.

[2019-12-30 21:56] kbrosnan commented on #2286
It requires platform work that is not done. The last several comments have been non-constructive. Locking this to team only.

[2019-12-30 22:47] emalysz commented on #7192
QA testing:
-Navigate to settings --> Default Browser
-If unset as default browser, notice that "Open links in a private tab" should not be clickable

-Alternatively, set the default browser directly from within android's settings
-navigate back to the app
-click on settings and notice that "open links in a private tab" should not be clickable

[2019-12-30 23:05] mcomella commented on #6679
@hawkinsw What is Jonathan's work? The delayed push initialization https://github.com/mozilla-mobile/fenix/issues/6730?

[2019-12-30 23:28] hawkinsw commented on #6679
Yes

On Mon, Dec 30, 2019, 6:05 PM Michael Comella <notifications@github.com>
wrote:

[2019-12-30 23:54] mcomella opened #7422 "Investigate large allocation followed by large deallocation on cold startup in native code"
<img width="206" alt="Screen Shot 2019-12-30 at 15 52 15" src="https://user-images.githubusercontent.com/759372/71605275-7af24d80-2b1c-11ea-8e22-55c04ffc1e31.png">

On cold startup, native code allocation peaks at 88.1 MB and quickly reduces to 43.2 MB: this may be indicative of unnecessary work. Let's investigate!

Note: I see a similar pattern in a template Android app: allocation goes from 17.8

[2019-12-30 23:55] emalysz opened #7423 "Improve inflate performance in HomeFragment.onCreateView()"
### Why/User Benefit/User Problem
It is slow to create the HomeFragment (#4665).
A significant amount of time (952.658 ms) is spent in HomeFragment's onCreateView(). Of this, 56.38% is spent in inflate.

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)
-The time it takes to inflate the home fragment has been reduced.

________________________

[2019-12-31 00:09] emalysz commented on #7423
One potential solution could be using an AsyncLayoutInflater. See Marc's implementation of an AsyncLayoutInflater here for reference: https://github.com/MarcLeclair/fenix/commits/issue_6274_asynclayoutinflater_for_toolbar

[2019-12-31 00:13] mcomella opened #7424 "Investigate reduction of thread count on startup"
My profiler displays 121 threads are created by 12 seconds into cold startup: threads are not cheap to create so I wonder what impact this might have on the user's startup performance. Let's investigate.

Note there are 26 threads in a vanilla app and some of these threads seem to come from having the Android profiler active.

### Acceptance criteria
- Determine what impact a large number of threa

[2019-12-31 00:43] mcomella commented on #6679
@hawkinsw Can you elaborate on how that impacts Leanplum?

Are there additional action items we can take here? For example, I wonder if we should file investigations into:
- Calling the Leanplum SDK ourselves (as you suggested)
- Forking the Leanplum SDK to remove or postpone certain unnecessary calls

[2019-12-31 00:46] mcomella opened #7425 "Redundant expensive calls to `Browsers.all` in `LeanplumMetricsService.start`"
`LeanplumMetricsService.start` calls two of our methods that take up :
- `getInstalledMozillaProducts`
- `getMozillaBrowsersDefault`

Both of these methods call `Browser.all` redundantely for a total of ~40ms on my Pixel 2. Eyeballing it, these calls together appear to take 35-40% of `LeanplumMetricsService.start()` which is already a huge part of startup.

Can we wait to call these until after st

[2019-12-31 00:55] yoasif commented on #4424
Hit another user in the wild: https://www.reddit.com/r/firefox/comments/ehkbj0/i_deleted_firefox_preview_nightly_and_installed/

[2019-12-31 03:45] kbrosnan commented on #4793
According to #1461 this is still an issue.

[2019-12-31 04:54] kbrosnan commented on #5532
This looks good on Nightly and a Pixel 3.

[2019-12-31 04:54] #5532 closed

[2019-12-31 05:14] lindongbin opened #7427 "[Bug] Cannot open magnet:?xt=****"
https://i.imgur.com/34I5Jlj.mp4

works:
https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2019.12.19/latest

not working+++:
https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2019.12.20/latest

[2019-12-31 05:53] yoasif commented on #5532
Yeah, it looks fine.

[2019-12-31 06:11] thewhitetulip commented on #4987
It should not work like this. user might want to read the article, they first think 'lets add it to collections so that we don't miss this link' and when we add it to collections, poof, the tab is gone and we have to open the tab again.

[2019-12-31 06:25] cbcaron15 opened #7428 "Bookmark tags: add, edit, remove"
Introduce existing bookmark tagging functionality within Firefox desktop to mobile

[2019-12-31 06:30] cbcaron15 opened #7429 "Bookmark archival"
Option to archive a page when adding a bookmark. i.e. send link through archive.org/archive.is/self-hosted upon bookmarking, and bookmark the archived link. Dead links are only going to increase, and exponentially so.

See third-party projects Archiveror, ArchiveBox, and Pinboard for similar, but distinct features.

Archiveror:

ArchiveBox:

┆Issue is synchronized with this [Jira Task](https://moz

[2019-12-31 06:38] softvision-miralobontiu commented on #7407
Hi guys!
Maybe I was not clear on the steps: the privacy notice page opens in a custom tab. But the users have the option to open the page in a tab. Maybe this option should be disabled (just a thought :)).
Thank you,

[2019-12-31 06:59] AndiAJ commented on #7405
Hi, **verified as fixed** on the latest **Nightly Build #13650606 from 12/31** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191231_084936](https://user-images.githubusercontent.com/51314259/71612871-cef84300-2bab-11ea-8edc-c4aaf85a1b26.gif)

[2019-12-31 06:59] #7405 closed

[2019-12-31 07:29] AndiAJ commented on #6656
Hi, **verified as fixed** on the latest **Nightly Build #13650606 from 12/31** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191231_092409](https://user-images.githubusercontent.com/51314259/71613565-f3eeb500-2baf-11ea-9b1e-77b39ad11ba9.gif)

[2019-12-31 07:29] #6656 closed

[2019-12-31 07:32] s-ankur opened #7430 "[Bug] Close private tab notification not present even when "Open in Firefox"ing custom tabs"
Related to #7392 and #7405
## Steps to reproduce
1. Set firefox preview as default browser.
2. Check "Open links in a private tab" option in this menu.
3. Go to the reddit app.
4. Open any web link url (Assuming that the "open web links in app" reddit setting is on)
5. Click on Open in Firefox Nightly in 3 dot menu
### Expected behavior
Opens private tab in Firefox and the Close private tab notifi

[2019-12-31 07:52] s-ankur opened #7431 "[Bug] Two different kinds of "Share" buttons in custom tabs"
## Steps to reproduce
Open a custom tab from any other app
### Expected behavior
There should be one button to share either on the address bar or on the 3 dot menu. preferably this should open the firefox link share menu
### Actual behavior
There are two such buttons, on the address bar and the other on the 3 dot menu. Both function differently. The address bar option opens up the standard android

[2019-12-31 08:09] mcarare commented on #7313
@AmyYLee Sorry, I mean the header. That is the actionbar.

[2019-12-31 08:27] mcarare commented on #7052
@liuche This could be fixed only if we implement a custom shortcut activity. We don't have any control on the placement (see #7114) or sizes in the system shortcut dialog. Though I haven't seen many apps to implement a custom shortcut dialog and I don't know if it is worth the work. Maybe this should be decided by product/UX.

[2019-12-31 08:47] djc commented on #7408
FWIW, I hate the current take on the blue dots -- they appear a lot of the time, and as someone who never uses Reader View or install to homescreen they're worthless to me. Is there some about:config thing I can use to disable them for now?

[2019-12-31 08:54] djc opened #7432 "[Bug] URL bar autocomplete is only available part of the time"
## Steps to reproduce

1. Start typing a previously typed/visited URL in the URL bar, such as newsblur.com

### Expected behavior

After one or two characters typed, the autocomplete widget (purple-background completion) appears and stays in place until my input diverges from it.

### Actual behavior

Autocompleted URL only appears on every other keypress, for example:

- "ne" yields `ne*wsblur.co

[2019-12-31 08:58] AndiAJ commented on #6413
Hi, I've just checked this matter on the latest **Nightly Build #13650606 from 12/31** using a Google Pixel 3a (Android 9)

| Status  | Description|
| ------------- | ------------- |
| ✔️ | Close a tab from the Home screen - Open tabs section  |
| ✔️ | Close all tabs from the Home screen - Open tabs section  |
| ✔️ | Create a new Collection  |
| ✔️ | Rename a collection |
| ✔️ | Save a page to a c

[2019-12-31 09:17] mcarare commented on #7155
@AmyYLee Thank you for your response. I have another question regarding the item order. I see that in a normal tab the order of the menu items is reversed when the navigation toolbar is at the top. Should we do the same for custom tabs?

Also, I should note that IMO the reversing of menu items is very confusing. When I opened the menu with toolbar on top for the first time it took me a while to fi

[2019-12-31 09:37] AndiAJ commented on #5585
Hi, **verified as fixed** on the latest **Nightly Build #13650606 from 12/31** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191231_112110](https://user-images.githubusercontent.com/51314259/71617060-ec380c00-2bc1-11ea-9367-285f89493503.gif)

[2019-12-31 09:37] #5585 closed

[2019-12-31 09:51] obitodarky commented on #6788
I'm not having any issue on Firefox Preview 2.3.0, @sv-sdeiac can you check from your side if the problem still persists?

[2019-12-31 09:55] obitodarky commented on #7414
@boek I would like to work on this Issue. Can you help me out with a few things?

[2019-12-31 09:59] sv-sdeiac commented on #6788
I am still able to reproduce this issue on the latest version of Firefox Preview 3.0.1 #13502256 using Google Pixel (Android Q).

[2019-12-31 12:31] kbrosnan commented on #7428
Duplicate,  #5880

[2019-12-31 12:31] #7428 closed

[2019-12-31 13:47] mcomella commented on #6547
@MarcLeclair Thanks for completing this! In addition to moving to Done, can you additionally:
- Apply the QA not-needed label
- Add it to the current Fenix milestone (3.1)

^ I'll email about how to do this soon but here's a sneak peak! :)

[2019-12-31 13:53] mcomella commented on #7410
I pulled down Severin's PR #7426 locally: 671 methods were removed between my proguarded build yesterday and Severin's patch but the APK size increased (presumably for unrelated reasons) by .4 MB. I don't know where exactly the HEAD of each PR is.

[2019-12-31 14:08] mcomella commented on #7410
In hindsight, we could have used the Analyze APK feature to see the size in the APK and method count these tools took up.

[2019-12-31 14:09] mcomella opened #7434 "GeckoProvider does not provide a package"
Using the default package (i.e. unspecified) is discouraged on the JVM: I don't know what the consequences of this are.

[2019-12-31 14:15] mcomella opened #7435 "Consider removing Lottie for blocking the main thread & to reduce APK size by 188.7 KB (already proguarded)"
According to the Analyze APK tool on my proguarded `forPerformanceTest` build, the Lottie dependency takes up 188.7 KB in the proguarded APK. It additionally defines 1203 methods, which I believe will slow startup time (but I'm not sure by how much). afaict, it's only used in one class (`ToolbarIntegration`): it's unlikely that this one call is worth 188.7 KB. Assuming we don't intend to add signi

[2019-12-31 14:17] mcomella commented on #7435
Startup perf impact is unknown but adding to perf board to keep it on our radar.

[2019-12-31 14:40] mcomella opened #7436 "Enable `UnusedResources` lint check to decrease APK size"
Our `res` dir is 718.9 KB & our `resources.arsc` (the compiled resources) is 2.1 MB: of these 213 resources are marked as "Unused" by lint. Removing these unused resources may save us a non-trivial amount of APK size.

It's easy to enable UnusedResources to prevent further regressions though one challenge we may face is that Strings may be added by string imports that are not yet used.

It's also

[2019-12-31 15:14] s-ankur opened #7437 "[Bug] Download Completed notification infinitely spammed after Saving Image"
## Steps to reproduce
Long press on any image to open save image menu
save image
### Expected behavior
Image downloads and notifies at most once
### Actual behavior
Download completed notification repeatedly appears

![2019_12_31_18_3-1577800514772](https://user-images.githubusercontent.com/33252312/71625509-18628580-2be0-11ea-8184-b72e09d8b2e0.gif)

### Device information

* Android device:
Asus

[2019-12-31 15:50] s-ankur opened #7438 "Long press to share link should have the option to send to device"
### Why/User Benefit/User Problem
Currently Long press to share link on any webpage opens up the native share sheet. While this is useful, it does not include all the features that the custom firefox share sheet has (#4275), importantly the Send to Device option which is what you normally want to share links for.
### What/Requirements
 Long press to share link should open the custom firefox share

[2019-12-31 15:58] apbitner commented on #7407
I'm unable to reproduce, for me it just opens in a custom tab. It probably would be a good idea to eliminate any choice for the user and force open in a custom tab.

[2019-12-31 16:08] apbitner commented on #7408
The goal of the blue dot was to notify the user whenever a contextual action (Install PWA, Reader View, Open in App) is available for the current webpage, similar to how we used to show a peek of the Quick Action Bar.

We could make the blue dot disappear when the user enables Reader View, but we know not everyone uses that feature. Plus, even if it did disappear, it would reappear on the next web

[2019-12-31 16:14] boek commented on #7414
Yes, for sure!

How can I help?

[2019-12-31 16:23] sblatz commented on #6413
Ah looks like there were a few more cases! Thanks @AndiAJ digging into these now.

[2019-12-31 16:25] apbitner commented on #6350
We may be able to shrink the URL bar and gain some real estate in the toolbar upon completion of https://github.com/mozilla-mobile/fenix/issues/7077

[2019-12-31 16:35] sblatz commented on #6464
@AndiAJ are you please able to verify the logs as mentioned in [Mike's comment](https://github.com/mozilla-mobile/fenix/issues/6464#issuecomment-569759219) 😄

[2019-12-31 16:42] AmyYLee commented on #7155
Yes we should do the same for custom tabs (reverse order if the toolbar is set to the top). The idea is that items are ordered in most frequently used. The assumption is that most users aren't going to be flipping back and forth between top and bottom nav and they will stick to one or the other. @apbitner worked on the top toolbar so I'll let him comment on this as well.

[2019-12-31 16:47] boek commented on #7407
@apbitner I think they mean once you open the custom tab, since it is a custom tab, you can open the 3 dot menu and there is a “Open in Fenix” button that will move it to a regular tab

[2019-12-31 16:49] apbitner commented on #7407
@boek Ahh, okay. My first preference would be to hide the 3-dot menu entirely, otherwise disable that option as they recommended.

[2019-12-31 16:50] kbrosnan commented on #7407
* fresh install
* Scroll down to the privacy notice and tap on it
* In the custom tab tap the three dots menu
* Select open in Firefox

This is an involved enough set of steps that I don't think we should special case this. Suggest closing this as working as intended.

[2019-12-31 16:52] apbitner commented on #7155
Yes, they should be reversed, and agree that users are not going to be constantly switching the toolbar position.