[2020-03-12 02:52] jonalmeida commented on #9120
Note for self: this is caused by the caching of the `fxaScope` in memory after the scope saved in the prefs is removed.

When the app is cold booted, we then have a mismatch between the newly generated scope and the one that was already subscribed.

This is a bit of a rare issue that probably only be seen by users/testers that have multiple FxA accounts or you're just an app services engineer (😄).

[2020-03-12 03:01] yoasif opened #9121 "[Bug] "Video can't be played because the file is corrupt" on funnyjunk.com (SM-N975U1)"
From: https://www.reddit.com/r/firefox/comments/fh4ss9/is_the_desktop_version_of_firefox_comparable_to/fk96dek/

## Steps to reproduce

1. Visit https://funnyjunk.com/Boom/fXjiMsK/

### Expected behavior

Video plays.

### Actual behavior

![image](https://user-images.githubusercontent.com/152493/76483009-3f151780-63ec-11ea-9c11-dc5fff3ee1fd.png)

### Device information

* Android device: SM-N975U

[2020-03-12 03:39] brampitoyo commented on #2768
If the code’s complete and ready to land, let’s figure out a place in Settings to put it, and the right string to call it.

I agree with @vesta0 that we probably shouldn’t turn this option on by default.

One thing we have to keep in mind is the “unintended consequence” that turning this option on will also cause Fenix private mode not to show a screenshot in the app manager view – effectively hid

[2020-03-12 03:42] brampitoyo commented on #3457
@ekager Clarifying question: will it be possible to enable/disable fonts/pictures/JS on a per-site basis, or can we only do this globally (for all sites)?

If per-site controls are possible, we can design this feature like we’ve done with the rest of our site permissions. You simply open the Site Information Panel to allow/block per site.

[2020-03-12 07:10] Cheap-Skate commented on #8685
I agree.

[2020-03-12 07:10] #8685 closed

[2020-03-12 07:53] abodea commented on #5436
Thank you @dector!
Based on the comments above, I will close this issue and I will remove the **needs:STR** label.

[2020-03-12 07:53] #5436 closed

[2020-03-12 08:22] SeburoSUMO opened #9123 "Top sites to the left of me, space to the right, (here I am...really liking GeckoView)"
## Steps to reproduce

Open Firefox Preview Nightly

### Expected behavior

Top sites equally spaced in the middle of the screen so that it is easier for both left and right hand use.

### Actual behavior
![Screenshot_20200311-200844](https://user-images.githubusercontent.com/31939113/76501168-b2914600-6439-11ea-80de-23ff14f8d8b1.png)

### Device information

* Android device: Motorola Moto E5
* F

[2020-03-12 08:25] softvision-miralobontiu commented on #7087
Verified that the user can search for a saved login on the latest Nightly build from 3/11, and on Beta v4.1.0-beta.1, with Xiaomi Mi4i (Android 5.0.2), and Samsung Galaxy Tab S6 (Android 9).

[2020-03-12 08:25] #7087 closed

[2020-03-12 09:53] Diana-Rus commented on #9049
Hi, I can reproduce this issue with Samsung Galaxy S8+ (Android 8) on build Firefox Beta Preview 4.1.0-beta 1 (Build #20720029) GV: 75.0-20200309155231.
Sites:
- twitter.com
- yahoo.com.

Note: What I noticed is that for yahoo.com, after adding the second time to home screen the favicon is different - there seems to be a new brand.

Please check GIF:
![20200312-114352](https://user-images.githubus

[2020-03-12 10:05] AndiAJ opened #9124 "[Bug]Zoomed in about:cache"
## Steps to reproduce
1. Navigate to about:cache
2. Observe
3. Tap the refresh button from the  ⋮ main menu overlay
4. Observe

### Expected behavior
The about: cache page shouldn't be zoomed in when opening it for the 1st time.

### Actual behavior
When first opening the about;cache the page is zoomed in.
Only after refreshing the page it gets properly displayed

### Device information

* Android

[2020-03-12 10:07] sv-ohorvath commented on #8474
Items removed and reordered, verified as fixed on Beta 4.1.

[2020-03-12 10:07] #8474 closed

[2020-03-12 10:16] softvision-miralobontiu commented on #7408
Verified on the latest Nightly build from 3/11, and on Beta v4,1,0-beta.1, and:
* on installation, the three-dot menu has the "What's new" highlight blue dot that only goes away if the "What's new" article is opened;
* the blue dot appears next to the three-dot icon the first time the user visits a site that supports reader view or open in-app. Opening the three-dot menu and closing it, makes the

[2020-03-12 10:36] sv-ohorvath commented on #8908
@Amejia481 should this notification be visible on the Fenix Beta 4.1 update, or is it meant only for the migration build? Asking for the new beta 4.1 build validation.

[2020-03-12 10:39] sv-ohorvath commented on #8017
@vesta0 @Baron-Severin @liuche included this in the 4.1 release notes, but I don't see any changes on Beta 4.1 or Nightly and the PR looks like it's still open. Should there be anything to verify on this issue for now?

[2020-03-12 12:09] 3eresa commented on #87
Still unable to use LastPass through the auto fill API on Nightly 200311 18:01 with LastPass version 4.11.7.5061 on Pixel 3 Android 10 build QQ2A.200305.002. Preview version 3.2.1 doesn't work. Stable version 68.6.0 works fine as does latest Chrome. This is the only thing preventing me from adopting the new Firefox.

[2020-03-12 12:12] Dexterp37 commented on #7295
Given what this ping [contains](https://github.com/mozilla-mobile/fenix/blob/master/docs/metrics.md#installation), there might be implications in doing that (maybe). At least that's the reasoning behind the similar choice for the 'activation' ping. This should be checked by data-stewards.

[2020-03-12 12:27] Diana-Rus opened #9126 "[Bug] Share Menu - Inconsistent "Share with" window"
## Steps to reproduce
1. Open app and go to wikipedia.org .
2. Trigger the text selection toolbar.
3. Tap on the "Share" option in portrait.
4. Rotate screen in landscape mode.

### Expected behavior
The "Share with" window is different from the other.
### Actual behavior
Different format of the "Share with" window.
### Device information

* Android device: Samsung Galaxy S8+ (Android 8)
* Fenix v

[2020-03-12 12:36] AndiAJ opened #9127 "[Bug]Missing "Bookmark saved" confirmation snackbar on Fenix Beta builds"
## Steps to reproduce
1. Open a web site
2. Tap the "Bookmark" button from the ⋮ main menu overlay

### Expected behavior
After tapping the "Bookmark" button a confirmation snackbar containing an "Edit" button should be displayed.

![rsz_screenshot_20200312-142942 (1)](https://user-images.githubusercontent.com/51314259/76523285-d2902c00-6470-11ea-9517-05fe8b001443.png)

### Actual behavior
The sna

[2020-03-12 12:37] MusicOnline commented on #8754
I can confirm this too with photos and APKs (from what I've only tried). Basically you need to dig into Files app > Internal Storage > Download for anything and everything downloaded. It is certainly inconvenient.

[2020-03-12 12:46] Diana-Rus commented on #7953
Hi, I still reproduce the issue with Samsung Galaxy S8+ (Android 8) on Firefox Preview Beta 4.1.0-beta.1 (Build #20720029) GV: 75.0-20200309155231.

[2020-03-12 12:54] sflorean opened #9128 "[Bug] Some snackbars are overlapped by the URL bar"
## Steps to reproduce
1. Open a webpage.
2. Open 3 dot menu.
3. Tap the bookmark button (save).

### Expected behavior
The snackbar is displayed right above the URL bar.

### Actual behavior
"Bookmark saved" snackbar is overlapped by the URL bar.

### Device information
* Android device: Google Pixel 4(Android 10), Samsung Galaxy Tab S6 (Android 9), Xiaomi MiPad2 (Android 5.1).
* Fenix version: 4.

[2020-03-12 12:55] softvision-miralobontiu commented on #8897
Verified as fixed on the latest Nightly build from 3/12, and on Beta v4.1.0-beta.1, with Samsung Galaxy Tab A6 (Android 9), and Nexus 5 (Android 6.0.1).

[2020-03-12 12:55] #8897 closed

[2020-03-12 13:31] sflorean commented on #9128
Reproducible also when the URL link is copied.

[2020-03-12 13:37] AmyYLee commented on #2768
I would recommend putting this setting under Settings -> Private browsing and add a toggle to enable/disable. Adding @betsymi for strings

![image](https://user-images.githubusercontent.com/5992746/76527147-1bca8680-6445-11ea-9470-62f757909741.png)

[2020-03-12 13:46] Diana-Rus commented on #7158
Hi, verified as fixed on Firefox Beta Preview 4.1.0-beta.1 (Build #20720029) GV: 75.0-20200309155231 with Samsung Galaxy S8+ (Android 8)
Scenarios:
- Search bar/Toolbar bottom - Normal Mode - Homescreen
- Search bar/Toolbar bottom - Private Mode - Homescreen
- Search bar/Toolbar top - Normal Mode - Homescreen
- Search bar/Toolbar top - Private Mode - Homescreen
- Executing back action from search

[2020-03-12 14:19] betsymi commented on #8017
Am still working on unpacking this. For a future state, I don't think this is a simple matter of changing the strings we have. May need to make adjustments in the design to provide more clarity for users, particularly regarding `Allow audio and video on Wi-Fi only`. Does this means that audio and video will be blocked on cellular data?

[2020-03-12 14:32] Diana-Rus commented on #5769
Hi, I managed to reproduce the issue with Samsung Galaxy S8+ (Android 8) on Firefox Preview Beta 4.1.0-beta.1 (Build #20720029) GV: 75.0-20200309155231.

[2020-03-12 14:34] AndiAJ opened #9131 "[Bug]The History section is displayed for a couple of seconds while exiting to Fenix's home screen"
## Prerequisites
Have a couple of history items.

## Steps to reproduce
1. From the History section, tap and open one of the listed websites.
2. After the website is loaded in a new tab, tap the tabs counter

### Expected behavior
Smooth transition, should properly exit to the Home screen view.

### Actual behavior
While performing the transition to the Home screen, the History section is displaye

[2020-03-12 15:03] DanielOrban commented on #8467
@csadilek , I verified this issue. It is not reproducible anymore.
Issue tested and marked as fixed in Nightly 200311 (Build #20711809).

[2020-03-12 15:03] #8467 closed

[2020-03-12 15:29] AndiAJ commented on #8949
Hi, **verified as fixed** on both **`Fenix Nightly Build #20711809 from 3/11`** & **`Fenix Beta 4.1.0-beta.1 from 3/12`** using the following devices:
• Google Pixel 4XL (Android 10)
• Google Pixel 3a (Android 9)
• OnePlus A3 (Android 6.0.1)

►Screenshot
![bzzz](https://user-images.githubusercontent.com/51314259/76537860-0bd39680-6487-11ea-9feb-16bbbfc07bce.png)

[2020-03-12 15:29] #8949 closed

[2020-03-12 15:59] Diana-Rus commented on #9124
Hi, the same outcome is encountered when accessing other about pages: about:about, about:support, about:networking, about:crashes, about:performance, about:memory, about:telemetry, about:webrtc, about:url-classifier, about:credits. about:mozilla.

Note: about:config, about:logo pages are not affected

Device: Samsung Galaxy S8+ (Android 8)
Build: Firefox Preview Beta 4.1.0-beta1

[2020-03-12 16:00] #9104 closed

[2020-03-12 16:01] rocketsroger commented on #8939
@caugner This change should be in nightly now.  Can you please confirm this is fixed?  Thanks,

[2020-03-12 16:03] Cheap-Skate commented on #8251
I think the the update to 1.25.2 has helped somewhat with the speed. On 1.24 it was ~8-10 seconds for a cold load with many filters, now it's ~4-5 seconds. But I still see a big difference between uBO enabled/disabled on Fenix which I don't see on Fennec.

Most of that extra delay in Fenix is when the progress bar is about 25% across. With uBO enabled, the padlock has a line through it, the progre

[2020-03-12 17:18] kbrosnan commented on #9124
Closing as a dupe of https://bugzilla.mozilla.org/show_bug.cgi?id=1477698

[2020-03-12 17:18] #9124 closed

[2020-03-12 17:23] ekager commented on #8814
Sorry I'm a bit confused by the discussion - are we changing something here? Are we already using the desktop icon? If we are changing the icon, could someone from UX link the new resource we should use?

[2020-03-12 17:23] magorlick commented on #7295
@Dexterp37 @sblatz , the goal of including this ping was to help us do acquisition channel attribution for retention metrics.  We needed this ping to ensure we weren't missing people that bounce or cases where the properties weren't returned in time by Adjust to make the ping schedule for the metrics ping.

**Context:**
Retention is derived from examining when people come back to the product using

[2020-03-12 17:32] sblatz commented on #8768
I have poked around on this on the AC side. What's odd is that I'm able to fix it in AC but not in Fenix. We must be doing something else on the Fenix side. I'm going to keep investigating here.

[2020-03-12 17:39] sblatz opened #9132 "[Bug] Make Home -> Search & Browser -> Search animation play nicely with top toolbar"
Currently when a user has a top toolbar enabled, the animation looks a bit odd. We should just do a cross fade in this case instead of doing "fade_in_up.xml"

![animation looks odd 2020-03-12 10_38_37](https://user-images.githubusercontent.com/4400286/76549427-a6af7f00-644d-11ea-91a3-79bf526313e3.gif)

[2020-03-12 18:08] Mentis commented on #9039
I have the same issue.
Android 10, Pixel 3 XL

[2020-03-12 18:27] caugner commented on #8939
@rocketsroger Thanks a lot, I confirm it's fixed in Nightly.

[2020-03-12 18:33] rocketsroger commented on #8939
Thanks, I'll close the issue

[2020-03-12 18:33] #8939 closed

[2020-03-12 18:46] ekager commented on #8592
As part of this ticket, we should make sure that the Device name field is still disabled while syncing (currently being done through the category IIRC)

[2020-03-12 18:53] csadilek commented on #7702
That's a longer story :), but the TL;DR: This build type was introduced so we can exclude the test activity from production / release builds, which would have otherwise introduced a security problem. That security problem has long been addressed, but we decided to keep the build type based on the discussion here: https://github.com/mozilla-mobile/fenix/issues/4132#issuecomment-512914393

Yes, that

[2020-03-12 19:12] mcomella commented on #8061
Closing: emalysz already filed some issues and we are already improving many things in app link so this issue isn't a focus right now.

[2020-03-12 19:12] #8061 closed

[2020-03-12 19:15] mcomella commented on #8054
Christian mentions it's possible that Raptor will have a problem here.

[2020-03-12 19:42] sblatz opened #9133 "[Bug] Browser -> Home when keyboard expanded has a weird animation"
The animation when the keyboard is showing and the user presses to go home from browser looks off because of how we animate the GV. An edge case so maybe not too big of an issue.

![weird animation 2020-03-12 12_37_15](https://user-images.githubusercontent.com/4400286/76560348-39581a00-645e-11ea-8ad8-69dd3f8cc2b3.gif)

[2020-03-12 20:02] mcomella opened #9134 "[Bug] IOException: org.mozilla.geckoview.WebRequestError: Request failed, error=0x25 – when no network?"
## Steps to reproduce
Unknown. This exception was thrown from our FNPRMS test harness in the 03.11 fennec-nightly build:
[code]

### Expected behavior
1. We shouldn't be logging exceptions in non-exceptional circumstances: they're expensive to create and logging is also expensive
1. We probably shouldn't be trying to make network requests if we don't have a network connection

### Actual behavior

[2020-03-12 20:04] betsymi commented on #4674
Am removing `needs:strings` because it appears strings have already been provided.

[2020-03-12 21:34] liuche commented on #8017
@sv-ohorvath that was my mistake! I've removed it from the release notes.

[2020-03-12 21:41] Baron-Severin commented on #8017
@betsymi correct.

@lime124 (sorry I don't know who designed this feature!) we recently discovered that GV always blocks autoplay over cellular data (i.e., the top two radio buttons do the same thing).  The only short term solution I can think of is removing the top button.  If you think it's important, we will have to ask GV to prioritize https://bugzilla.mozilla.org/show_bug.cgi?id=1621825.

<im

[2020-03-12 21:45] liuche commented on #7295
hey @magorlick, sorry about that - since this ping doesn't include the Google Ad ID [1, 2], there shouldn't be any reason we can't include the client id here. I think I misunderstood initially, so we should do that. As for [3] and including the additional properties, we should be able to add that, because those are just the missing fields there.

So I'll file a bug for a) adding the client_id to t

[2020-03-12 21:48] magorlick commented on #7295
Thanks for these details @liuche!  I appreciate your prioritization of this work.

[2020-03-12 22:27] liuche opened #9136 "[Telemetry] Update Adjust campaign id telemetry"
This is a follow-up to #7295.

In order to actually track retention by campaign, we need the following:

### Acceptance Criteria
- [x] Add `client_id` to the `installation` [ping](https://github.com/mozilla-mobile/fenix/blob/master/docs/metrics.md#installation) (this doesn't include GAID, and was broken out as a custom ping from `metrics` ping because the campaign id wasn't always available on sta

[2020-03-12 22:32] ekager commented on #9039
cc @pocmo could this have anything to do with https://github.com/mozilla-mobile/android-components/pull/6170 ?

[2020-03-12 22:41] Mentis commented on #9039
Moreover, it happens to me on switching between tabs also.

[2020-03-13 00:22] #8720 closed

[2020-03-13 00:53] 532910 commented on #8587
This behavior is due to `Open links in Apps` control, possibly not a bug, but odd.

[2020-03-13 01:42] DobaKung commented on #7674
I haven't experienced the issue again since I completely signed it out. The synchronisation, though, is quite slow. I'm not sure if I should close this issue 🙋‍♂️

[2020-03-13 04:54] yoasif opened #9137 "[Bug] Twitter PWA Navigation Bar (navbar) is offset from bottom of screen and overlays main content"
## Steps to reproduce

1. Navigate to twitter.com
2. login
3. add as app
4. open app

### Expected behavior

Navigation bar appears stuck to bottom of screen.

### Actual behavior

Navigation bar is offset by 20-40pixels (hard to tell with high dpi), content appears below the navbar and navbar overlays content.

![signal-attachment-2020-03-13-005240](https://user-images.githubusercontent.com/15249

[2020-03-13 05:22] critical-bug commented on #8323
I'm using this feature to send links I found in SNS app to read them later in PC.

[2020-03-13 06:00] KWierso commented on #9137
Is this a dupe of https://github.com/mozilla-mobile/fenix/issues/8768 ?

[2020-03-13 07:44] softvision-miralobontiu opened #9138 "[Bug] Crash when denying app's access to camera, but allowing access to the site"
## Steps to reproduce
1. From the device's settings, disable all permissions from Fenix.
2. In Fenix, go to permissions.site and tap on Camera.
3. When Fenix asks permission to allow the camera, deny it.
4. When the permission.site asks for permission, allow it.

### Expected behavior
The permission is denied, the camera does not have permission.

### Actual behavior
Fenix crashes.
Tried the same

[2020-03-13 09:53] AndiAJ opened #9139 "[Bug] Empty Settings view after tapping the back button"
## Prerequisites
Have uBlock Origins installed

## Steps to reproduce
1. Open uBlocks  "Settings" section
2. Tap the device back button

### Expected behavior
Should properly exit to uBlocks options & settings view.

### Actual behavior
Empty Settings section

### Device information

* Android device: OnePlus A3 (Android 6.0.1)

* Fenix version:
• Fenix Beta 4.1.0-beta.2 Build #20730532 from 3/13

[2020-03-13 10:03] topotropic opened #9140 "Remove icons from tabs + collections empty state"
### Why/User Benefit/User Problem
Icons are used throughout the app as elements you can interact with, tap on and something happens. On home we use the multi-task icon and collection icon in the empty state but both are not interactive. This is potentially confusing.

### What/Requirements
- remove multitask icon from Open tabs empty state message
- remove collections icon from Collection empty st

[2020-03-13 10:10] andreicristianpetcu commented on #7865
about:config is really useful for the SUMO community since new features might break some sites. TLS versions, same site cookies and various other things can be turned off to pinpoint the cause of an issue. Average users tend to have release, nor beta or nightly.

[2020-03-13 10:18] leonardehrenfried commented on #87
@3eresa: This isn't going to be the answer you are expecting but all my password manager problems went away after I switched from Lastpass to Bitwarden. Therefore I suspect a Lastpass problem, whose I perceived to be getting worse and worse, hence me switching.

[2020-03-13 10:55] aha999 opened #9141 "[feature request] Loading/progress bar to be always visible"
When i click a link, it would be really nice if the progress loading bar was always shown. Currently it is hidden if the search bar is hidden, it's only visible as a part of search bar / toolbar, but not if the toolbar is minimized/hidden...

The problem i have with this is, when i tap a link and it starts loading a website, i'm not sure it started loading because content starts to open depending

[2020-03-13 11:08] cadeyrn commented on #9141
Duplicate of #9031.

[2020-03-13 11:35] #9141 closed

[2020-03-13 11:56] sflorean opened #9143 "[Bug] Added search engine no longer displayed if it was previously undo and the browser was restarted"
### Prerequisites
IMDb is added as a custom search engine.

### Steps to reproduce
1. Delete IMDb (search engine settings).
2. Tap on UNDO.
3. Close and reopen the browser.
4. Perform a search.

### Expected behavior
IMDb is displayed in the list of engines available.

### Actual behavior
IMDb is not available.

### Device information
* Android device: OnePlus A3 (Android 6.0.1), Xiaomi MiPad2 (An

[2020-03-13 12:16] Diana-Rus commented on #9027
Hi, the following scenario has been checked:
Pre-requisites:
- Created a new account on Firefox Desktop RC 74.0 that did not sync History and Bookmarks

Scenarios:
1. Connected with the new account to mobile device and inspect in "Account Settings" whether the "Bookmarks" and "History" options are not checked.
2. Same account from Scenario 1 - Manually made a sync on desktop and on mobile - On mob

[2020-03-13 12:22] Diana-Rus commented on #6521
Hi, the issue is still reproducible with Samsung Galaxy S8+ (Android 8) build Firefox Preview Beta 4.1.0-beta.2.

[2020-03-13 12:31] adityamurugan opened #9144 "[Bug] White screen when using back swipe to close Firefox Preview and reopening from 'Recents'"
## Steps to reproduce
1. Close Firefox preview
2. Open external link in Firefox Preview
3. Use back button/back swipe to close Firefox Preview
4. Open Firefox Preview again from 'Recents'

### Expected behavior
Firefox Preview should open the home page without any white screens

### Actual behavior
Firefox preview shows a blank white screen and need to be closed and opened to fix

### Device infor

[2020-03-13 13:02] Diana-Rus commented on #7723
Hi, i can reproduce the issue with Samsung Galaxy S8+ (Android 8) with Firefox Preview Beta 4.1.0-beta.2 .
No sync is being made-> There is no snackbar present nor after making a sync on the second device does the new bookmark be displayed.
Note: The account has been created with all Sync options checked/synced: Bookmark, History and Logins and Password.

[2020-03-13 13:34] sv-ohorvath commented on #8908
Arturo's response for future reference: "I belive you have to be migrated from Fennec to Fenix, then some of your add-ons are going to be disabled as they are not supported, then when they become supported , the notification will show up"

[2020-03-13 14:18] ebalazs-sv commented on #9138
This is also reproducible on  Beta 4.1.0-beta.2 with Huawei P9 Lite (Android 7.0) and OnePlus A3 (Android 6.0.1) following the steps:
1. Go to permission.site, allow some site permissions.
2. In system settings, go to Apps>Firefox Preview>Permissions and turn off all permissions.
3. Remove Fenix from Recent apps.
4. Launch Fenix by tapping the icon.

Fenix crashes with the same signature:
`-------

[2020-03-13 14:20] madb1lly opened #9145 "[Bug] Unsupported extensions have been enabled automatically"
## Steps to reproduce
Unknown, because this happened without my action. However, I suspect that the add-ons were installed but not enabled during migration from Fennec Nightly to Fenix Nightly a few weeks ago (I use org.mozilla.fennec_aurora). Now, somehow, they have become enabled.

### Expected behavior
I presume that the correct behaviour would be for these add-ons to not be enabled. However, a

[2020-03-13 14:21] Diana-Rus commented on #8436
Hi, I reproduce the issue with Samsung Galaxy S8+ (Android 8) on Firefox Beta 4.1.0-beta.2.

[2020-03-13 14:27] madb1lly commented on #9096
Hi @sv-sdeiac,

Thank you for managing to reproduce the result, however you haven't reproduced my steps, which I explained in the issue report. However, maybe you didn't understand that I was already using Fenix Nightly, not Fennec Nightly, so I updated the issue report to clarify this.

Unfortunately I can't reproduce your steps because I already have org.mozilla.fennec_aurora installed from the

[2020-03-13 15:14] softvision-oana-arbuzov commented on #8973
I was able to reproduce the issue by following the steps:

**Steps to reproduce:**
1. Set 2 browsers in split view mode, one of them being Firefox Nightly Preview.
2. Navigate to a site on both of the browsers (e.g nytimes.org)
3. On the browser, that is not Firefox Nightly Preview, perform an edit on the URL or a search.
4. Observe behavior.

**Expected result:**
The performed operation is made,

[2020-03-13 15:35] pocmo commented on #9138
Adding "needs:gv" label. Since that stacktrace points to webrtc code without Fenix or AC in the callstack, I assume we cannot effectively prevent that on our side.

[2020-03-13 15:43] vesta0 commented on #8017
@topotropic  ^^

[2020-03-13 16:05] mcl21014 commented on #7865
about:config can be abused by some users, so maybe instead of punishing us all by removing the feature, show a more scary warning or something every time that cannot be permanently hidden. On one hand, you do not want less informed people creating bug tickets for experimental flags, but some people know what they're doing. I turn on privacy.resistfingerprinting to disable some tracking related to

[2020-03-13 16:23] Amejia481 commented on #9138
@pocmo  it looks like gv changed the order in which we receive the callbacks for showing permissions prompts.

We have two callbacks [onMediaPermissionRequest](https://github.com/mozilla-mobile/android-components/blob/1b4c57cd364cec8386503d1ebadefac5283291f6/components/browser/engine-gecko-beta/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt#L770) and [onAndroidPermissi

[2020-03-13 16:36] sblatz commented on #9144
Video of the behavior: https://www.reddit.com/r/firefox/comments/fhsemk/bugfenix_white_screen_when_using_back_swipe_to/

[2020-03-13 16:42] Amejia481 commented on #9138
I noticed the change in order is only for mic/ camera. Not should if we should rely on this order and do something similar to what they are doing on [GeckoView example app ](https://dxr.mozilla.org/mozilla-central/source/mobile/android/geckoview_example/src/main/java/org/mozilla/geckoview_example/GeckoViewActivity.java#1470)

[2020-03-13 18:13] JuDGe3690 opened #9149 "[Bug] Capacitance keyboard scrolling on Blackberry KeyOne"
The BlackBerry KeyOne has a physical keyboard with capacitance, which allows trackpad-like scrolling. This works in the old Firefox Android, but is not working in Firefox Preview Production (v4.0.0) on Android 8.1.0.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-16261)

[2020-03-13 19:36] Amejia481 opened #9150 "Don't prompt users for invalid permissions when updating or installing an add-on"
Related https://github.com/mozilla-mobile/fenix/issues/8990

Desktop has a set of [permissions](https://dxr.mozilla.org/mozilla-central/source/toolkit/components/extensions/test/xpcshell/test_ext_permissions.js#562) where users should not be prompted when updating or installing, we want to mimic the same behaviour.

[2020-03-13 20:03] sblatz commented on #9031
We'll need to implement: https://github.com/mozilla-mobile/android-components/issues/6048

Also see: https://github.com/mozilla-mobile/fenix/issues/8768#issuecomment-592718468

[2020-03-13 20:06] sblatz commented on #8768
Submitted an AC patch: https://github.com/mozilla-mobile/android-components/pull/6244

[2020-03-13 22:25] vesta0 commented on #3804
@boek ^^

[2020-03-13 23:09] jonalmeida commented on #9113
GV patch has landed, it should be in the next nightly.

[2020-03-14 01:53] smartfonreddit opened #9157 "[webcontent] dailymail.co.uk won't display popup to choose Mobile UI in Fenix Nightly."
## Site with issue and any steps to reproduce

Open dailymail.co.uk homepage.

### Expected behavior

It should show a popup box with a prompt to choose between Mobile and Desktop designs.

### Actual behavior

No prompt is displayed. Desktop UI is used by default.

### Does toggling Tracking Protection fix the issue? (Press the lock icon in the toolbar while on the site to see toggle)

No.

### C

[2020-03-14 02:21] juggler37 commented on #7333
In my experience, this describes the problem better than #8252 does. It's hard to be sure whether resolution has something to do with it, but I can verify that the problem occurs when the toolbar is set to the top (even when the resolution appears to be correct), and it never occurs when the toolbar is set to the bottom.

[2020-03-14 08:36] buttercookie42 commented on #4050
Just for the record, the buttons issue should now be fixed as well.

[2020-03-14 12:57] Queuecumber commented on #5865
Right now in fennec if I swipe Firefox away using the recent apps it quits and if I have the option turned on, closes all my open tabs. In Fenix, if I swipe the app away, my tabs stay. This behavior should at least be consistent, e.g. fix Fenix so that it does a quit when swiped away in the recent apps menu.

I agree that the quit button is a little weird and uncommon. There are other established

[2020-03-14 15:40] cyatarow commented on #8801
By the way, "browser.chrome.dynamictoolbar" in about:config is not working.

[2020-03-14 15:41] cadeyrn opened #9158 "[Bug] %1$s on SafeBrowsing error page"
### Steps to reproduce

1. open https://testsafebrowsing.appspot.com/s/phishing.html

### Expected behavior

%1$s should be replaced with something else.

### Actual behavior

![Screenshot_20200314-152848](https://user-images.githubusercontent.com/1100614/76685240-749b4a00-6612-11ea-8df1-a57e73c4958b.jpg)

### Device information

* Android device: OnePlus 7T Pro McLaren Edition
* Fenix version: Fe

[2020-03-14 16:23] glawrence opened #9159 "[Bug] Unknown protocol error when trying to sign-in to another app"
## Steps to reproduce
Set Firefox Preview as default browser
Load another app, in my case this is the Volvo On Call app
Tap options to sign in (in other app) and a Firefox Preview window is opened
Login as normal
### Expected behavior
I was hoping to get redirected back to the app and hence logged in
### Actual behavior
I got an "unknown protocol" error, both launching in private tab and regular
!

[2020-03-14 18:50] Offerel commented on #8155
It seems that this bug is also present in the final Firefox Preview in Google Play Store. Are there any timeline, when this will be fixed?

[2020-03-14 20:41] DavidBE-UK opened #9160 "[Bug] Camera view upside down in Preview/Nightly"
## Steps to reproduce

On my Phone:

Start Firefox Preview or Firefox Preview Nightly
On New Tab Page tap on 'Search or enter address'
On the Search page that opens tap on Scan
Look at display of view from Rear Camera

Or, when not logged in to Firefox account, initiate pairing through QR code on desktop Firefox and tap in mobile Firefox Preview/Nightly to open camera view to scan pairing QR code.

[2020-03-14 21:05] ahmedmamdouh13 commented on #9132
can i work on this issue?

[2020-03-14 21:28] opusforlife2 commented on #9051
This isn't exclusive to Top Sites. I've had it happen when opening bookmarked links as well.

[2020-03-14 21:29] superlevure commented on #4833
Same problem on my mi 9T

[2020-03-14 21:51] pavi2410 commented on #9159
Same here. It does Firefox Preview can open deep links/Android app links which usually incorporates custom protocol.

[2020-03-15 00:25] kbrosnan commented on #9159
Can you please try with https://play.google.com/store/apps/details?id=org.mozilla.fenix.nightly we have fixed several issues around this that might not have been part of 4.0.

[2020-03-15 05:15] SL-Lee opened #9161 "[Bug] Opening links from external apps causes tab fade in animation to disappear"
## Steps to reproduce

1. Open a link from an external app (**NOTE: make sure that Fenix does not have any open tabs prior to this step, and the app launches Fenix and opens a new tab and not a custom tab**).
2. Go to the home screen.
3. Tap on a tab. Notice the animation.

### Expected behavior

The tab fade in animation is displayed.

### Actual behavior

The tab snaps to the screen without play

[2020-03-15 06:33] 90du opened #9162 "网站图标间隔问题"
![Screenshot_2020_0315_143126](https://user-images.githubusercontent.com/35375370/76696780-e1255000-66c9-11ea-8bd7-12772b349cf8.png)
图标左右不对称

[2020-03-15 07:25] cadeyrn commented on #9162
Can you please file your issues in English?

[2020-03-15 08:21] Gauravjani207 opened #9163 "Sync doesn't work on Firefox Preview"
I'm using Firefox Preview nightly. I signed in with Mozilla Account and tried to synchronise bookmarks. But when sync finished, no bookmarks at all were in Preview review were imported.
Again it shows last sync: 1 Jan 1970.

[2020-03-15 08:22] Gauravjani207 commented on #9162
English please brother

[2020-03-15 08:51] #9162 closed

[2020-03-15 10:24] ghoppaccia commented on #7743
I also have this problem, had to (sadly) uninstall fenix because of this. Without it my battery usage is much more regular and normal...

[2020-03-15 10:33] omaralsharif commented on #5745
I really think this issue should be addressed, as it may lead to a first impression that causes the user to question the browser's privacy claim.

Having the browser autocomplete to 'a list of popular sites' implies that the browser is collecting browsing data from somewhere. If the autocomplete is accurate, it may even imply that it has data on the user in advance.

This may conflict with one of

[2020-03-15 10:37] omaralsharif commented on #5745
I really think this issue should be addressed, as it may lead to a first impression that causes the user to question the browser's privacy claim.

Having the browser autocomplete to 'a list of popular sites' implies that the browser is collecting browsing data from somewhere. If the autocomplete is accurate, it may even imply that it has data on the user in advance.

This may conflict with one of

[2020-03-15 11:06] wurstsemmel commented on #9126
Samsung Galaxy S9 with Android 10 (stock); Fenix Preview 4.0.0

In portrait mode not all share icons are shown in the share menu, in landscape mode more (all?) share irons are shown. E.g. WhatsApp is not shown in portrait.

[2020-03-15 12:56] M0nArX opened #9164 ""Flight" of the bottom panel in web applications."
### Steps to reproduce
1. Add a site with a bottom panel as an application (eg "Instagram").
2. Watch.
### Expected behavior
Static position.
### Actual behavior
The "fly" of the site bar at the height of the hidden address bar.
### Device information

* Android device: 9.0 (PE, Xiaomi Note 5)
* Fenix version: 76.0a1-20200313095322

![Screenshot_20200315-173812](https://user-images.githubuserconte

[2020-03-15 14:08] otede commented on #7743
The problem is gone on my configuration. The app got stuck on January 3.2.1 build and wouldn't update. I did a clean re-installation, the app updated to 4.x and the problem is gone for me. Here's the report
https://support.mozilla.org/en-US/questions/1281624

[2020-03-15 16:05] 532910 opened #9165 "[Bug] Find in page blocks tab switching"
When you search something on the page tab switching becomes inaccessible. To switch to another tab you need to cancel and loose the current search that requires more actions and very inconvenient.

![image](https://user-images.githubusercontent.com/14617699/76705254-b221d500-66ef-11ea-8d66-49dbbbb60f44.png)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV

[2020-03-15 17:51] kbrosnan commented on #9165
This is currently the intended design.

[2020-03-15 18:00] 532910 commented on #9165
So the intended design is very bad.
I'd prefer to loose vertical screen size for search bar, rather than loose time on tab switching.
Moreover, closing the search looses search position. So you can't search something, switch to another tab, switch back and continue to the current search result or a next one.

[2020-03-15 19:18] glawrence commented on #9159
Hi @kbrosnan you were right! I tried the Firefox Preview Nightly you gave me the link for, which was as below and it worked a treat. Thank you very much and hopefully these changes will get released soon.

![Screenshot_20200315-190922](https://user-images.githubusercontent.com/1067355/76708750-3d4f9a80-66f1-11ea-9fec-05d8c9791671.png)

[2020-03-15 19:18] #9159 closed

[2020-03-15 22:36] joelocandol opened #9166 "[Bug] In full screen, when I rotate the screen the statusbar doesn't hide again"
## Step to reproduce it
Enter in full screen video and the rotate the screen to landscape mode or viceversa

### Expected behavior
Hide the statusbar again (inmersive mode)

### Actual behavior
The statusbar still, at least I quit the full screen mode and enter in it again

### Device information
Oukitel c5
* Android device: 7.0
* Fenix version: nightly 200315

[2020-03-15 22:39] joelocandol opened #9167 "[Bug] When I rotate the screen to landscape mode, the webpage zoom it"
## Steps to reproduce
Rotate the screen to landscape mode

### Expected behavior
The screen rotate and the webpage shouldn't be altered

### Actual behavior
The webpage zoom it

### Device information
Oukitel c5

* Android device: 7.0
* Fenix version: nightly 200315

[2020-03-16 01:34] brampitoyo commented on #8693
@Mugurell RTL assets posted below. Thanks!

### MDPI

![onboarding_light_theme_rtl](https://user-images.githubusercontent.com/51007/76715624-07aebe00-6792-11ea-93ea-d09e4171be07.png)
![onboarding_dark_theme_rtl](https://user-images.githubusercontent.com/51007/76715625-0a111800-6792-11ea-997a-a112b09b55e7.png)

### HDPI - 1.5x

![onboarding_light_theme_rtl@1 5x](https://user-images.githubuserconten

[2020-03-16 02:11] brampitoyo commented on #8814
Sorry for the confusion, @ekager!

Our version of the desktop icon looks like this:

<img width="48" src="https://user-images.githubusercontent.com/51007/76717289-efda3880-6797-11ea-8a73-0685e07516e8.png">

@AmyYLee can you confirm that this is the icon that we should use for our “Add to Top Sites” function?

[2020-03-16 04:16] brampitoyo commented on #4987
@thewhitetulip As far as I’m aware: after a tab is added to a collection, it’s not closed. Would you be able to confirm this behaviour using the latest Firefox Preview Nightly?

If confirmed, this is no longer a bug, and we can close this issue.

[2020-03-16 04:19] brampitoyo commented on #5339
UX feedback is no longer required on this issue, so I’ll remove the label.

[2020-03-16 04:54] brampitoyo commented on #6973
Here’s a flow that I propose:

<img width="1707" alt="Screen Shot 2020-03-16 at 5 44 37 PM" src="https://user-images.githubusercontent.com/51007/76723917-e065ea00-67ad-11ea-91b5-639d189b66ad.png">

1. If we detect a pop-up, always auto-block it
2. When we auto-block a pop-up, show a UI that will disappear after a few seconds. Either:
    - A non-modal bottom sheet
    - A snackbar
3. When the butt

[2020-03-16 05:03] brampitoyo commented on #7709
@mcarare This behaviour is intended, but perhaps @topotropic will be able to double-check:

1. When you delete bookmark from the “Edit bookmark” screen
    - We show a confirmation dialogue before you delete
    - Because a dialogue was shown, the snackbar doesn’t need to have an “Undo” action
2. When you delete bookmark from the “Library → Bookmarks” page
    - We don’t show any confirmation dial

[2020-03-16 05:08] brampitoyo commented on #7758
@klint
- On a normal site, “Add to homescreen” is available as an action
- On a PWA-enabled site, “Install” is available as an action, but not “Add to homescreen”

Clarifying question: when you visit a PWA-enabled site, can you think of a plausible scenario where you want to add to homescreen instead of installing?

We’ve put install as the only action, because we thought that users would always p

[2020-03-16 05:09] brampitoyo commented on #8215
If the style of the page matches the spec above, we can close this issue. In the meantime, I’ll remove the `needs-ux` label.

[2020-03-16 05:11] brampitoyo commented on #8481
We should follow the design of mocks that @apbitner had designed.

Keep in mind that Metropolis should be used as the button’s font (addressed in #6986).

[2020-03-16 05:21] brampitoyo commented on #8612
@Baron-Severin some clarifying questions:

1. Is it possible to detect filetype and show a unique message for each? PDF may not be the only un-openable file type.
2. Is it possible to deeplink to Google Play Store search containing the file extension as keyword?

For example:

If possible, could this be a good solution?

I’ll label this issue `needs:strings` and assign it to @betsymi.

[2020-03-16 05:23] yoasif opened #9169 "[Bug] No haptic feedback on Twitter pull to refresh"
## Steps to reproduce

1. Navigate to twitter.com
2. Login
3. Pull down on page.

### Expected behavior

In Samsung Internet or Bromite, this causes my device to provide a little vibration bump.

### Actual behavior

No vibration when pulling down to refresh.

### Device information

* Android device: Pixel 2
* Fenix version: latest nightly

I'm not sure what web feature this is using, but figured

[2020-03-16 05:28] brampitoyo commented on #8629
@ekager @sv-ohorvath I think the button size used here matches the sizes of buttons used elsewhere in the app:

- Bookmarks → Sign in to see synchronised bookmarks
- History → Delete history
- Settings → Delete browsing data

I totally agree with the fact that 48dp fits Material’s recommendation. At the same time, following the spec seems like a good idea.

Perhaps following the spec should take p

[2020-03-16 05:29] yoasif opened #9170 "[Bug] Entire viewport goes white when scrolling quickly on Twitter (menu, navbar and post icons disappear)"
## Steps to reproduce

1. Navigate to twitter.com
2. Login
3. Scroll down quickly

### Expected behavior

The Home / Latest Tweets header, navbar, and feather post icon should remain sticky on the screen while scrolling posts into view.

### Actual behavior

The header, navbar and post icons disappear, leaving behind an entirely white screen while scrolling.

### Device information

* Android devi

[2020-03-16 05:30] brampitoyo commented on #8653
Assigning @betsymi to this issue, and removing `needs:ux` label.

[2020-03-16 05:31] brampitoyo commented on #8717
Assigning @AmyYLee to this issue.

[2020-03-16 10:17] softvision-miralobontiu commented on #8606
Verified as fixed on the latest Nightly build from 3/16 with OnePlus 5T (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).

[2020-03-16 10:17] #8606 closed

[2020-03-16 10:26] topotropic commented on #7709
Let's keep "UNDO" in the snackbar.

What Bram wrote is correct but that said, it feels like there's a misalignment in how we handle deletion in general in the app.
@betsymi paging you in here, it would be great if we could review all delete cases and try to align them to follow the same pattern

[2020-03-16 11:28] ValentinTimisica commented on #8597
I filed an [issue](https://github.com/mozilla-mobile/android-components/issues/6269) in A-C and created a PR. Should be fixed by https://github.com/mozilla-mobile/android-components/pull/6270.

[2020-03-16 11:42] topotropic commented on #725
I just tried it out, seems like we offer this now, no?

@mcarare did this change with the updated home collections design?

[2020-03-16 11:43] #809 closed

[2020-03-16 11:47] topotropic commented on #2660
I can't reproduce this, is it still relevant @sblatz?

[2020-03-16 11:48] topotropic commented on #2359
@AmyYLee can you review this and see if it's still relevant? Thanks!

[2020-03-16 12:00] mcarare commented on #725
@topotropic That change has not been merged yet. In regard to this issue, I am not sure how we want to change the current behaviour.

[2020-03-16 12:02] topotropic commented on #5208
@ekager is the AC part done here?

[2020-03-16 12:04] topotropic commented on #4987
Tabs still get closed when you add them to a Collection.
I agree with @thewhitetulip here that it makes sense to leave them open and let users close them once they are done with them.

[2020-03-16 12:13] #8807 closed

[2020-03-16 12:17] topotropic commented on #7561
duplicate of https://github.com/mozilla-mobile/fenix/issues/7734

[2020-03-16 12:17] #7561 closed

[2020-03-16 12:18] topotropic commented on #7242
https://github.com/mozilla-mobile/fenix/issues/8764 is going to solve this

[2020-03-16 12:18] #7242 closed

[2020-03-16 13:50] AmyYLee commented on #8814
Yes that's the one. Thanks!

[2020-03-16 13:54] ebalazs-sv commented on #9096
@madb1lly Hi and thank you for this report! There is a fix for this issue on another ticket: https://github.com/mozilla-mobile/android-components/issues/6255. Due to that I will close this issue.

[2020-03-16 13:54] #9096 closed

[2020-03-16 13:55] ebalazs-sv commented on #9145
@madb1lly Hi and thank you for this report! There is a fix for this issue on another ticket: https://github.com/mozilla-mobile/android-components/issues/6255. Due to that I will close this issue.

[2020-03-16 13:55] #9145 closed

[2020-03-16 14:13] sv-sdeiac opened #9173 "[Bug]The outline for Top/Bottom buttons has no colors"
## Steps to reproduce
1. On the onboarding screen scroll to the "Take a position" card;
2. Observe the outline of the Top/Bottom buttons.

### Expected behavior
There is a colored outline like the Light/Dark theme buttons.

### Actual behavior
The outline has no colors.

### Device information
Android device:
- LG g7 fit (Android 8);
- Samsung Galaxy Tab S6 (Android 9);
- Google Pixel 3 (Android Q

[2020-03-16 14:16] AndiAJ commented on #7813
Hi, **verified as fixed** on the latest **`Nightly Build #20760607 from 3/16`** using a Google Pixel 3a (Android 9)

► Username input field size same as  the headline
![16uzr](https://user-images.githubusercontent.com/51314259/76766849-50ba3e80-67a1-11ea-9b74-3e5647c60b5a.jpg)

► Button text size
![14sv](https://user-images.githubusercontent.com/51314259/76766721-19e42880-67a1-11ea-9178-2875219091

[2020-03-16 14:16] #7813 closed

[2020-03-16 15:12] softvision-miralobontiu commented on #7270
Verified as fixed on the latest Nightly build from 3/16 with Sony Xperia Z5 Premium (Android 7.1.1), and OnePlus 5T (Android 9).

[2020-03-16 15:12] #7270 closed

[2020-03-16 15:17] abodea commented on #8607
Verified as fixed on the latest **Nightly build from 3/16** with **Samsung Galaxy S10+ (A 9), Google Pixel 4 XL (A 10).**
Note that I tried more than 30 times to reproduce this on wi-fi and mobile data but everything worked as expected and I was able to log in via email or QR code.

[2020-03-16 15:17] #8607 closed

[2020-03-16 15:39] softvision-miralobontiu commented on #8023
Verified as fixed on the latest Nightly build from 3/16 with OnePlus 5T (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).

[2020-03-16 15:39] #8023 closed

[2020-03-16 15:51] csadilek commented on #9025
So, the problem here is that restore doesn't work reliably yet, and the UI ends up in a bad state. If it worked you'd see a confirmation dialog (after selecting the file) and then the window will close. Let's continue the work in https://github.com/mozilla-mobile/fenix/issues/8155.

[2020-03-16 15:51] #9025 closed

[2020-03-16 15:58] AmyYLee commented on #2359
@topotropic Hi, I've updated the above. Let me know if you need any new issues filed.

[2020-03-16 16:40] Amejia481 commented on #8990
This will be fix with the new version of AC https://github.com/mozilla-mobile/android-components/pull/6262

[2020-03-16 17:09] #8990 closed

[2020-03-16 17:22] pocmo opened #9174 "Consider adding git revision and signing certificate fingerprint to crash reporter tags"
We see some mysterious crash reports with weird package names. Those package names are not from us (as fast as we know) and they are also not from apps on the play store. They seem like they are generated.

Let's consider adding tags for:
* _git revision_ - We are doing this for AC already. Let's do this for Fenix too. With that we know if the build is coming from a (tagged revision in our reposit

[2020-03-16 17:34] jonalmeida commented on #4205
No a-c work here needed.

[2020-03-16 17:41] apbitner commented on #7606
@tvenissat Please let me know exactly what assets you need and I'm happy to provide them.

[2020-03-16 17:57] colorsakura opened #9175 "[Bug]无法复制带有链接的文本-Unable to copy text with link(Google translate))"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: 10-realmeX
* Fenix version: lasted

[2020-03-16 18:02] colorsakura commented on #9175
#7641

[2020-03-16 18:02] #9175 closed

[2020-03-16 18:24] darkwing opened #9177 "[Bug] Empty "Verified by" in site info pane"
## Steps to reproduce

1. Go to "https://testsafebrowsing.appspot.com/s/phishing.html"
2. Tap the broken lock icon

### Expected behavior

1. No "Verified by" block

### Actual behavior

2.  An empty verified by block

### Device information

* Android device: ?
* Fenix version: ?

![Screenshot_20200316-131515](https://user-images.githubusercontent.com/46655/76788702-6facd680-6789-11ea-9de9-e4f94f

[2020-03-16 18:39] cadeyrn commented on #9177
Duplicate of #8248.

[2020-03-16 18:53] mcomella commented on #3600
Triage: @jeanygong will follow-up with greater perf team.

[2020-03-16 18:54] mcomella commented on #8785
Triage: andreasbovens tested and saw no change in perf of the placeholder frame between device configuration modes. ecsmyth notes that on the reference device refresh, we'll have multiple chipsets in automation so it'll be tested there.

Closing as nothing else to do.

[2020-03-16 18:54] #8785 closed

[2020-03-16 18:55] mcomella commented on #9065
Triage: ecsmyth vaguely remembers existing issues like this with Twitter's redesign: we should follow-up with platform perf team.

[2020-03-16 18:57] mcomella commented on #9067
Triage: unimportant b/c a phone would have to be very low end to take longer than 5s to start. We can wait for telemetry to on cold/warm/hot startup ratios to determine if this has a higher priority.

[2020-03-16 18:58] mcomella commented on #8387
@AndiAJ Can someone from QA check if this is reproducible on a 100 MB file? It'll help us determine if this should be done now or later.

[2020-03-16 19:02] mcomella opened #9179 "Ensure VisualCompletenessTaskManager starts in all circumstances"
We're concerned that the `VisualCompletenessTaskManager` might not `start` if the frame that it posts from is never drawn, e.g. app is immediately put into the background on startup. We should validate this use case and others to ensure the task manager always runs. I wonder if we should also add telemetry to double-check.

emalysz has already done some work in this area.

[2020-03-16 19:46] cbonacuse opened #9181 "[Bug] Nightly App Updating Even When Auto-Updates Are Off"
I downloaded the below file to my device so that I could have a Fennec version of Nightly (68.5a1) in order to QA Leanplum messages on my phone using the Fennec app. When I downloaded, I went to Settings > Automatic updates > changed to "Never".

https://archive.mozilla.org/pub/mobile/nightly/2020/01/2020-01-20-18-04-35-mozilla-esr68-android-aarch64/fennec-68.5a1.multi.android-aarch64.apk

Every n

[2020-03-16 20:27] darkwing commented on #8984
Could you post a screenshot?  I'm not understanding what the issue is based on description.

[2020-03-16 20:28] darkwing commented on #9177
Closing as dupe.

[2020-03-16 20:29] #9177 closed

[2020-03-16 20:56] AaronMT opened #9185 "Update shard parameter logic in ui-test.sh"
Found in an investigation as to why providing a custom shard value in individual Flank values is being overwritten. Not sure this logically is entirely correct.

https://github.com/mozilla-mobile/fenix/blob/85d222d2b19c515d42208bebbaee45c062367d09/automation/taskcluster/androidTest/ui-test.sh

`
if [[ ! -z "$4" ]]; then
    num_shards=$4
fi`

And here we hard code `-1` as a passed in value https:/

[2020-03-16 20:58] kbrosnan commented on #9181
Not a Fenix bug. This is OS behavior. You would need to go into the Google Play settings and set the app to not update. If you need help with this please reach out to the team.

[2020-03-16 20:58] #9181 closed

[2020-03-16 21:37] Cheap-Skate commented on #8984
In Light mode there is a gray roundrect to distinguish "recently used" from "all actions". In Dark mode there is no roundrect.

Also, I think that in Dark mode the Android navigation bar changes color (from very dark gray to black) when I move to the Share menu

![Screenshot_20200316-213400_Firefox Nightly](https://user-images.githubusercontent.com/40568887/76801711-174bf800-67ce-11ea-8ce1-b328b15

[2020-03-16 22:02] emalysz commented on #9066
Moving to low priority because Fenix team said they have no plans to add them in at the moment.

[2020-03-16 22:34] vesta0 opened #9186 "Update "Not yet available" copy"
The following copy needs to be updated. @betsymi has the correct copy.

![Screenshot_20200313-143124_Firefox_Nightly](https://user-images.githubusercontent.com/42752644/76805261-bfed5e00-67b4-11ea-899a-5c01e3e4e1af.png)

[2020-03-16 23:12] rpappalax opened #9188 "Fix intermittent fail on ReaderViewTest.verifyReaderViewAppearanceFontToggle UI test"
This test passes on API 28 but not on API 25

[code]
https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7649116021264846893/executions/bs.86d4d41684492d44/testcases/1/test-cases

[2020-03-16 23:17] rpappalax opened #9189 "Fix "static asset not found" error in doNotSaveLoginFromPromptTest, saveLoginFromPromptTest UI tests"
Passes locally with most recent A-C snapshot (.gradle cleared).

Fails on Firebase

Disabling these 2 tests for now to unblock master because these are clearly not UI failures.
Most likely this issue is isolated to one of these 2 tests.
 doNotSaveLoginFromPromptTest, saveLoginFromPromptTest
in SettingsPrivacyTest

@AaronMT @rpappalax to investigate

[2020-03-16 23:24] betsymi commented on #8017
New strings. If option 1 and 2 are the same, we can consolidate to one option. Also, to make all options easier for users to parse, I've adjusted the copy to begin with the same verb.

**Block audio and video on cellular data only**
Audio and video will play on Wi-Fi

**Block audio only**

**Block audio and video**
Recommended

[2020-03-17 00:55] liuche commented on #9138
Okay - @Amejia481 is this an AC fix then, not a Fenix one? I think we can release without this change.

[2020-03-17 01:02] liuche commented on #220
@boek could you remove the feature flag for language picker now, and we'll get it out in 4.2? (And anything else you want to get out in 4.2 :) )

[2020-03-17 01:14] liuche commented on #9018
Thanks for filing! I will dupe this to #8757. Please follow along there for the fix!

[2020-03-17 01:14] #9018 closed

[2020-03-17 01:41] brampitoyo commented on #8814
@mcarare after landing that commit, would you let us know if the icon looks too big or small? I know that our asset comes from desktop and was sized 16px, but Android icons are all sized 24px.

If it doesn’t look good, I can help unblock you. Just ping me. Thanks!

[2020-03-17 02:06] liuche commented on #9137
Yes! it's a dupe.

[2020-03-17 02:06] #9137 closed

[2020-03-17 02:39] brampitoyo commented on #9165
@532910 Would you prefer this behaviour?

- “Find in” bar sits above address bar (if address bar on bottom) or on bottom of screen (if address bar on top)
- When closed, page position is preserved

[2020-03-17 02:43] brampitoyo commented on #8759
Great. That behaviour works for me. Thanks @ekager @dep-dt for the ideas and inputs!

Let’s decide on:

- Having 6 recently used actions
- The “Recently used” section should be able to scroll horizontally, so “All apps” can be accessed

[2020-03-17 02:57] 532910 commented on #9165
Really we shouldn't rely on my preferences, but on reasonable facts. The fist place should take the number of actions and amount of the finger movement. (For example, compare what you need to open a new tab in firefox and chrome mobile. Firefox wins here!)

Yes, it would be nice.

Definitely!

[2020-03-17 06:11] cadeyrn commented on #220
@liuche Please note that the feature is still completely broken for some users...

[2020-03-17 07:25] sv-sdeiac commented on #9164
Hello, thanks for your reporting.
This issue is tracked on the #8768 so I will close this ticket.
Thank you for your time.

[2020-03-17 07:25] #9164 closed

[2020-03-17 07:34] mcarare commented on #8814
Thank you @brampitoyo! It looks good, I had to do some tweaks cause svg's with masks and/or fillType "ovenOdd" don't convert easily to vector drawables.

[2020-03-17 08:04] sv-sdeiac commented on #9169
Hello, I can confirm that the vibration is not presented in the Firefox Preview Nightly 3/17 #20770605.
Also, Firefox for Android 68.6.0 has the same issue.

Devices:
- LG g7 fit (Android 8);
- Samsung Galaxy Tab S6 (Android 9);
- Google Pixel 3 (Android Q).

[2020-03-17 08:11] sv-sdeiac commented on #9170
Hello, I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly  3/17 #20770605.

Devices:
- LG g7 fit (Android 8);
- Samsung Galaxy Tab S6 (Android 9);
- Google Pixel 3 (Android Q).

[2020-03-17 08:11] cadeyrn commented on #9169
If this will be implemented I hope there will an option to disable it because it's very annoying for some people.

[2020-03-17 09:27] AndiAJ commented on #8467
Hi, **verified as fixed** on the latest **`Nightly Build #20770606 from 3/17`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

► Video Normal Browsing
![20200317-111213](https://user-images.githubusercontent.com/51314259/76841863-0b9a1900-6842-11ea-8121-73dd57f05bd3.gif)

► Video Private

[2020-03-17 09:42] sv-sdeiac commented on #9167
Hi @joelocandol, I was not able to reproduce your problem using the latest version of Firefox Preview Nightly 3/17 #20770605. I tried a couple of sites and still can't reproduce it.

Devices:
- LG g7 fit (Android 8);
- Samsung Galaxy Tab S6 (Android 9);
- Google Pixel 3 (Android Q).

Can you provide some pages where you encounter the issue? Also, watch the Accessibility option from the Firefox Pre

[2020-03-17 10:09] klint commented on #7758
The context is the following: I'm widely using the phone home screen to place, order and group apps, PWA-apps shortcuts and a variety of direct page shortcuts (instead of using top sites or collections within the browser, as I find this way more direct, all kind of accesses to information being at the same place, on a well organized phone launcher ).

For instance, I have a shortcut to the Le Mond

[2020-03-17 10:17] sv-sdeiac commented on #9166
Hi @joelocandol, I was not able to reproduce your problem using the latest version of Firefox Preview Nightly 3/17 #20770605. The video pages I was tried are youtube, CNN, twitch, twitter.

Devices:
- LG g7 fit (Android 8);
- Samsung Galaxy Tab S6 (Android 9);
- Google Pixel 3 (Android Q).

Can you provide some pages where you encounter the issue?
I'll wait for your updates, thanks.

[2020-03-17 10:18] ValentinTimisica commented on #8491
Hello @AmyYLee. I added a screenshot. Please tell me if this is ok.

![b-8491-toolbar-top](https://user-images.githubusercontent.com/52956363/76846123-aac20f00-6848-11ea-9adb-ce44e54d9222.png)

[2020-03-17 10:27] AndiAJ opened #9192 "[Bug]Improperly opened uBlock logger and dashboard in private mode while having them opened in normal browsing (and vice versa)"
## Prerequisites
Have uBlock installed.
Have one tab opened in Normal browsing and one in Private browsing

## Steps to reproduce
1. From the previously opened website (normal browsing) open uBlock from the ⋮ Main menu overlay
2. Open uBlocks logger
3. Open  uBlocks dashboard
4. Switch to Private browsing
5. From the previously opened website in open uBlock from the ⋮ Main menu overlay
6. Open uBl

[2020-03-17 10:50] abodea opened #9193 "Implement the bookmark widget for the home screen"
### Why/User Benefit/User Problem
As a Fenix user, I want to be able to add the bookmark menu on the background, like this I will be able to access my saved bookmarks faster without accessing the browser.
### What/Requirements
Implement a new bookmark widget for the home screen like the search widget.
### Acceptance Criteria (how do I know when I’m done?)
The bookmark widget can be added like the

[2020-03-17 11:43] abodea opened #9195 "Implement a top-site widget on the home screen for the top-sites section from Fenix"
### Why/User Benefit/User Problem
As a Fenix user, I want to access faster the websites I added to my Top-Sites list in Fenix.
### What/Requirements
Add the possibility to create a Top-Site widget on the home screen with the saved top websites from Fenix.
### Acceptance Criteria (how do I know when I’m done?)
![22](https://user-images.githubusercontent.com/42831109/76852864-e9f65d00-6854-11ea-8d60

[2020-03-17 12:04] AndiAJ opened #9196 "[Bug]Add-ons uninstall confirmation snackbar covers the nav bar"
## Prerequisites
Have an opened website.

## Steps to reproduce
1. From the website, tap ⋮ Main menu
2. Open the "Add-ons Manager"
3. Install uBlock
4. As soon as the confirmation snackbar is displayed, quickly tap the device back button

### Expected behavior
The "Successfully installed uBlock" confirmation snackbar should be displayed above the nav bar.

### Actual behavior
The "Successfully ins

[2020-03-17 12:07] AndiAJ commented on #8773
Hi, as per the above mentioned comments, I've just checked this matter on the latest **`Nightly Build #20770606 from 3/17`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

| Satus  | Ssnackbar|
| ------------- | ------------- |
| ✔️ |  "URL copied to clipboard" |
| ✔️ |  "Added to top si

[2020-03-17 12:07] #8773 closed

[2020-03-17 12:13] ebalazs-sv commented on #9082
Hi! The issue that was opened for investigating this, https://bugzilla.mozilla.org/show_bug.cgi?id=1621503, is verified as fixed. Due to that, this issue can be closed. Thanks!

[2020-03-17 12:13] #9082 closed

[2020-03-17 12:40] Mugurell commented on #7606
Please note that I've just updated the themes images for rtl - https://github.com/mozilla-mobile/fenix/issues/8693
The current onboarding - themes selection assets only have the purple border.

[2020-03-17 12:41] Mugurell commented on #9173
Should be fixed by https://github.com/mozilla-mobile/fenix/issues/7606

[2020-03-17 13:05] sv-sdeiac opened #9198 "[Bug]The animation for selecting automatic theme is not fully displayed"
### Prerequisites
The Onboarding screen needs to be displayed.
The device theme needs to be different than the app theme.

## Steps to reproduce
1. Go to the "Choose your theme" card;
2. Change between the "Automatic" theme and the opposite theme.

### Expected behavior
There is a smooth transition and animation select button.

### Actual behavior
The animation select button is interrupted when yo

[2020-03-17 13:21] abodea opened #9199 "[Bug] The Preview for the Search Widget Icon is displayed with the RC one for Nightly/Beta builds"
## Steps to reproduce
1. Install Nightly or Beta.
2. On the device home screen tap and hold.
3. Access the Widgets section.
4. Observe the Nightly or Beta Search Widget preview icons.
### Expected behavior
The Preview for the Search Widget Icon should be displayed for the installed build Rc/Nightly/Beta.
### Actual behavior
The Preview for the Search Widget Icon is displayed with the RC one for Ni

[2020-03-17 13:22] Amejia481 commented on #9138
@liuche  I'm still working on a fix, it will be on the AC side.

[2020-03-17 13:39] pocmo commented on #9174
Moving to the AC triage.. I may propose a patch for this in our next sprint.

[2020-03-17 14:10] mcarare commented on #8781
@dholbert  Is this still reproducible for you? There have been some changes in animations lately. Thank you for the detailing of this issue!

[2020-03-17 14:13] mcarare commented on #9198
@sv-ohorvath This is indeed not the prettiest animation, but as the activity recreates in order to change the theme, there is not much we can do. There wouldn't be a point in waiting for the animation to finish.

[2020-03-17 14:50] csadilek commented on #9139
This, as well as https://github.com/mozilla-mobile/fenix/issues/8808, are ultimately caused by us ignoring uBlock's configuration to open the options page in a tab: https://github.com/gorhill/uBlock/blob/master/platform/firefox/manifest.json#L77

I will put up a PR to fix this so that the settings/options pages is opened in a tab instead, preventing many of these problems.

[2020-03-17 14:50] csadilek commented on #8808
See https://github.com/mozilla-mobile/fenix/issues/9139#issuecomment-600113368

[2020-03-17 15:35] eamsen commented on #8809
As noted on [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1618632#c1), there seems to be a difference in behavior between calling `Settings` -> `Site permissions` -> `Exceptions` -> `Clear permissions on all sites` and calling `Delete browsing data` -> `Delete browsing data` with `Site permissions` selected.
For latter calls into GeckoView's `StorageController`, while the former doesn't,

[2020-03-17 15:59] fluffyemily commented on #6562
Can we please retest this to see if it is still a valid issue or whether it has been fixed by [bug 1609701](https://bugzilla.mozilla.org/show_bug.cgi?id=1609701) @boek?

[2020-03-17 16:00] Scripterr opened #9205 "[Bug]Menu and Setting icons are not proportionate with other icons"
## Steps to reproduce

Reproduce in menu-
1. open webpage.
2. click 3 dot menu and observe.

Reproduce in settings-

1. open settings and observe.
### Expected behavior

All menu icons in 3 dot menu and settings are proportionate with other icons.
### Actual behavior

Add-on manager and open in app menu item are bigger than other icons in menu and settings.

![Screenshot_20200315-184208_1_1](https

[2020-03-17 16:01] fluffyemily commented on #7602
This is scheduled to be worked on and should be available in GeckoView 76.

[2020-03-17 16:07] AmyYLee commented on #8491
@ValentinTimisica Hi, I am still seeing the gradient background (faintly) in the search bar. It should blend with the gradient background of the full screen. Thanks

It should look like this
![search](https://user-images.githubusercontent.com/5992746/76876131-e0b2c380-6847-11ea-9a36-ed5857ddf3ef.png)

[2020-03-17 16:23] abodea commented on #8869
I tried to reproduce this issue but with not so much success using the latest Nightly from 3/17 with Google pixel 4 XL (Android 10)
Samsung Galaxy S7 (Android 7)
Note that I opened at least 100 tabs from the search widget.
@AaronMT is there something more that I can try to reproduce this issue?

[2020-03-17 16:45] rpappalax commented on #9189
@JohanLorenzo could this be a caching issue on taskcluster?  (i.e. do we need to clear a cache somewhere) since there was an A-C snapshot update?  These tests pass locally, however, when the apk is generated and passed to Firebase, the static assets (html pages) served by our MockWebServer to 'some' of the tests fail with a 'file not found' error.  So, either somehow the permissions on a few of th

[2020-03-17 16:51] apbitner commented on #7606
I am attaching what I hope are all assets needed for gray borders. Please let me know if there are any issues.

[Gray Border Assets.zip](https://github.com/mozilla-mobile/fenix/files/4344663/Gray.Border.Assets.zip)

[2020-03-17 16:58] AaronMT commented on #9188
I think `assertReaderViewDetected` needs to wait until the appearance of the blue dot on the 3 dot menu (if it's still part of the feature).

[2020-03-17 17:06] JohanLorenzo commented on #9189
Hey @rpappalax!

Would you have a link to the failure? I'm not too sure to see what generated this error, and what it tried to do.

[2020-03-17 17:20] AmyYLee commented on #7266
@ai Please see last comment. Can you set the android navigation bar to black for Light/Dark themes. Please leave Private browsing as is since it's already a dark purple. Thanks.

[2020-03-17 17:21] #9066 closed

[2020-03-17 17:24] AmyYLee opened #9207 "[Private Browsing] Remove dark purple background in system status bar"
Please remove the dark purple background in the system status bar in private mode. We don't have it appearing in light and dark themes. Thanks

<img width="415" alt="Screen Shot 2020-03-17 at 13 23 01" src="https://user-images.githubusercontent.com/5992746/76883451-8d923e00-6852-11ea-914c-29cbc52e3b87.png">

[2020-03-17 17:28] betsymi commented on #7709
On the case! Will follow up. Thanks for flagging.

[2020-03-17 17:38] ai commented on #7266
Sure. Here is the latest stable Firefox Preview on Pixel 4 XL

![Screenshot_20200317-133644](https://user-images.githubusercontent.com/19343/76884728-8409d580-6854-11ea-8011-4c15b4776071.png)
![Screenshot_20200317-133654](https://user-images.githubusercontent.com/19343/76884737-8704c600-6854-11ea-9d54-0b9e9ba4eb41.png)
![Screenshot_20200317-133726](https://user-images.githubusercontent.com/19343/7

[2020-03-17 17:44] boek commented on #6290
@sblatz @vesta0 and I agree since this is search related we should try to find a good solution

[2020-03-17 17:48] dholbert commented on #8781
Yes, seems to be fixed in current Fenix nightly. Thanks!

[2020-03-17 17:48] #8781 closed

[2020-03-17 17:58] betsymi commented on #6287
### Not yet available

We're currently building support for an initial selection of Recommended Extensions. [Learn more](https://support.mozilla.org/en-US/kb/add-compatibility-firefox-preview)

Other UX notes, paging @brampitoyo so he's aware.

- Remove trash can icon
- Can the [Learn more](https://support.mozilla.org/en-US/kb/add-compatibility-firefox-preview) go immediately after the line of cop

[2020-03-17 18:06] vesta0 opened #9208 "In-product prompt"
## User Story
- As a user, I want to know that my app is changing, so I can continue having a smooth user experience.

### Acceptance Criteria
- When I open the app, I see a persistent prompt directing me to the new app.

### UX
Mocks w/ copy - https://share.goabstract.com/917b9c45-0031-4042-8fed-789a6611e50e?mode=design

[2020-03-17 18:22] bogas04 commented on #8768
Possible duplicate https://github.com/mozilla-mobile/fenix/issues/8777

[2020-03-17 18:24] liuche commented on #8974
@lwa-moz is this working now, or did this fix not resolve the problem?

[2020-03-17 18:25] st3fan opened #9209 "New option "Auto open software keyboard on new tab page""
When I open a new tab in Fennec I get the usual new tab page with Top sites/Bookmarks/History but without the soft keyboard.

As most of the time I want to load a specific webpage or search for something, I always (at least 99% of the time) tap on the URL bar to bring up the keyboard. Searching with 2-3 keys is almost always faster - even for frequently used websites - than trying to find them fro

[2020-03-17 18:28] st3fan opened #9210 "[Bug] The "Add to Home Screen" button doesn't work on Firefox Nightly for Android."
User Agent: Mozilla/5.0 (Android 10; Mobile; rv:75.0) Gecko/75.0 Firefox/75.0

Steps to reproduce:

•Go to any website.
•Tap the three dots at the top right to show the menu.
•Tap the "Add to Home Screen" button.
•When the pop-up appears, enter a name and press "add".

Actual results:

The pop-up disappears, but nothing is added to the home screen.

Expected results:

An icon linking to the releva

[2020-03-17 18:31] Mugurell commented on #7606
@apbitner Following https://github.com/mozilla-mobile/fenix/issues/8693 we'll still need RTL theme picker images with gray borders.

[2020-03-17 18:32] kbrosnan commented on #8169
So quick look at this is non-trivial as OkHttp 4.x relies on Okio 2 which creates a circular dependency because we use [Lottie from AirBnB which requires Okio 1](https://github.com/airbnb/lottie-android/blob/9298ee2a1c165761346fce10650eafea50f2dc8d/lottie/build.gradle#L36)

[2020-03-17 18:32] jeanygong commented on #3600
Follow up on whether this is issue is important to the Platform Perf team .. as per acreskey's comment... _This important because the delta is so pronounced and reproducible.
If it does turn out be Tracking Protection -- great: we can help prioritize the TP fix. If it's not TP, then there's another serious problem._

[2020-03-17 18:42] jeanygong commented on #9065
Followed up on whether this is issue is important to the Platform Perf team .. as per acreskey's comment.._I think this issue could be important (particularly since I'm not aware of any running tests for memory consumption over time). But I think someone could spend some time narrowing it down a bit._

[2020-03-17 19:32] gnumoksha commented on #8397
Also, I would add the protocol itself in the error message, instead of `wxyz:\\`.

Right now I'm unable to log in on GitHub app and I don't know how to solve the problem.

[2020-03-17 19:43] sblatz commented on #8285
I'm not able to reproduce this. Instead, nothing is grabbing focus. @eeejay can you please confirm this is still happening for you? And is it okay that nothing focuses by default?

[2020-03-17 19:43] sblatz commented on #8646
This has been fixed for me :)

[2020-03-17 19:43] #8646 closed

[2020-03-17 19:49] sblatz commented on #8930
Leaving for the AC team: Has something major changed in the download manager? This definitely didn't used to happen 😅

[2020-03-17 19:51] sblatz commented on #1506
@snorp do we have the GV API's to handle this now? I don't believe the patch we worked on last week addresses this.

[2020-03-17 19:53] sblatz commented on #6190
Can this meta be closed? :)

[2020-03-17 19:56] sblatz commented on #9132
@ahmedmamdouh13 go for it 😄 please let me know if you run into any issues!

[2020-03-17 19:59] AmyYLee commented on #7266
@ai I mean the bottom navigation bar. See below. Thanks

Dark/Light theme

<img width="376" alt="Screen Shot 2020-03-17 at 15 57 42" src="https://user-images.githubusercontent.com/5992746/76896441-2ed7bf00-6868-11ea-804d-655308a52136.png">

[2020-03-17 20:05] ahmedmamdouh13 commented on #9132
Thank you for the opportunity 🙏

[2020-03-17 20:20] csadilek commented on #6287
Hm looks like something went wrong here and an old ticket was updated? This one was closed in October with a different title.

@vesta0 filed this in A-C earlier this week: https://github.com/mozilla-mobile/android-components/issues/6287

May be better to continue there?

[2020-03-17 20:20] snorp commented on #1506
No, GV can't really do anything about this. Most likely Fenix needs to do something to detect this and not scroll the toolbar in that case.

[2020-03-17 20:24] AaronMT opened #9212 "[Bug] Robolectric Unit Test Failure - org.mozilla.fenix.share.ShareControllerTest#handleShareToApp"
[code]
Saw this in a WIP PR of mine:

Log: https://firefox-ci-tc.services.mozilla.com/tasks/MYyETP9IShexIdK18vFEcA/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FMYyETP9IShexIdK18vFEcA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

[2020-03-17 20:27] AaronMT commented on #9212
Think this is a dupe of https://github.com/mozilla-mobile/fenix/issues/8725

[2020-03-17 20:28] csadilek commented on #9139
@AndiAJ re: my comment above. The uBlock options/settings page is now opened in a tab as configured by the add-on (It was always opened in a tab if triggered via the browser action popup). This is the correct behaviour, so I think we can close this bug. Can you verify.

[2020-03-17 20:29] csadilek commented on #8808
@AndiAJ see comments in https://github.com/mozilla-mobile/fenix/issues/9139. This can be verified now as settings page is a tab and navigation should work. Thanks!

[2020-03-17 20:39] ai commented on #7266
@AmyYLee Google Pixel 4 doesn’t have this navigation bar by default. By default, it uses gesture navigation (similar to iOS) instead of 3-button navigation.

Gesture navigation draws only small navbar with a single dash in the middle.

Do you want me to switch to 3 buttons navigation to show the current Firefox Preview with this mode? (Firefox looks good with 3 buttons mode, the issue only about U

[2020-03-17 20:43] betsymi commented on #7709
This string can read: `Allow screenshots in private tabs`. And to confirm, should be OFF by default.

[2020-03-17 20:43] Baron-Severin commented on #8612
Should be.

Definitely possible.

Sounds good to me!

[2020-03-17 20:46] vesta0 commented on #6287
This is a dup

[2020-03-17 20:46] #6287 closed

[2020-03-17 20:47] brampitoyo commented on #8814
@mcarare Thanks. I should remember that Android doesn’t support `evenOdd`. Here’s a version of this asset, that has fillType `nonzero` and has been optimised for 24px size:

[Topsite.svg.zip](https://github.com/mozilla-mobile/fenix/files/4345766/Topsite.svg.zip)

[2020-03-17 20:47] betsymi commented on #6287
Sorry about that. You're right. Posted in the new issue.

[2020-03-17 20:54] betsymi commented on #8653
Menu should read as follows.

- Help
- Settings
- Library
- Desktop site
- Add to top sites
- Add to Home screen
- Add-ons
- Find in page
- Private tab
- New tab
- Report site issue
- Save to collection
- Quit

[2020-03-17 20:54] vesta0 commented on #6190
@sblatz I am just waiting for the telemetry ticket #8125 to be closed.

[2020-03-17 21:06] djc commented on #6190
I'm confused. I understood Top Sites to be about a list of sites collected from frecency data from the user's profile. At least, that's what I get on desktop Firefox and what I used to use in Fennec. As far as I see, currently there's only Pocket/Wikipedia/YouTube. How could this issue be closed?

[2020-03-17 21:45] Dunexus commented on #6190
Also, they are not synced with desktop top sites.

[2020-03-17 21:49] gabrielluong commented on #6190
This is totally understandable. These items are on my list of things to do. We don't necessarily have to cover these features in this meta since we can just as easily refer to these features with the Feature:TopSites label.

[2020-03-17 21:59] Amejia481 commented on #9138
This issue will be addressed on https://github.com/mozilla-mobile/android-components/pull/6301

[2020-03-17 22:33] grigoryk commented on #7450
Not yet. Currently, we're triggering it via engine initialization. I'm working through it right now - fixed the engine init problem, now need to deal with background services touching this stuff.

[2020-03-17 23:31] grigoryk commented on #7450
See https://github.com/mozilla-mobile/fenix/issues/7450

[2020-03-17 23:43] spocko opened #9214 "Unable to complete Yahoo OAuth2 signin using Firefox Preview"
## Steps to reproduce
1. Set Firefox Preview as default browser in Android
2. Get AquaMail app from Google Play Store
3. Add Yahoo account using OAuth2
4. Enter credentials, and tap Agree on account access confirmation screen
5. Error screen is displayed saying "Unknown Protocol"

### Expected behavior
At step 5, return to AquaMail app and continue setting up the account.

### Actual behavior
Unkn

[2020-03-17 23:49] kbrosnan commented on #9214
Please try [Preview Nightly](https://play.google.com/store/apps/details?id=org.mozilla.fenix.nightly) we have fixed several cases of this in that build.

[2020-03-17 23:49] Archaeopteryx opened #9215 "[Bug] Fix intermittent backButtonTest androidx.test.espresso.NoMatchingViewException"
https://treeherder.mozilla.org/logviewer.html#?job_id=293535888&repo=fenix

androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: (with content description text: is "Navigate up")

View Hierarchy:
+>DecorView{id=-1, visibility=VISIBLE, width=1440, height=2560, has-focus=true, has-focusable=true, has-window-focus=true, is-clickable=false, is-enabled=true, is-focused=

[2020-03-17 23:52] Archaeopteryx opened #9216 "[Bug] Fix UI goBackTest java.lang.AssertionError"
https://treeherder.mozilla.org/logviewer.html#?job_id=293562580&repo=fenix

java.lang.AssertionError
at org.junit.Assert.fail(Assert.java:86)
at org.junit.Assert.assertTrue(Assert.java:41)
at org.junit.Assert.assertNotNull(Assert.java:712)
at org.junit.Assert.assertNotNull(Assert.java:722)
at org.mozilla.fenix.helpers.ext.WaitNotNullKt.waitNotNull(WaitNotNull.kt:20)
at org.mozilla.fenix.ui.robots.

[2020-03-18 00:28] SuperAIdesu commented on #6562
On the latest nightly, I didn't reproduce this issue. Seems to be fixed.

[2020-03-18 00:34] spocko commented on #9214
Thank you @kbrosnan.

The problem does not happen with Firefox Preview Nightly 200317 18:00 (Build 20771805).

I'll go ahead and close this issue.

[2020-03-18 00:34] #9214 closed

[2020-03-18 00:59] brampitoyo commented on #2768
Copy-pasting @betsymi’s response:

[2020-03-18 01:00] brampitoyo commented on #7709
@betsymi I’ve posted your response about screenshots in private tabs to #2768.

[2020-03-18 05:39] yoasif opened #9218 "[Bug] "The media could not be played" on Twitter after video plays once (does not loop)"
Originally reported https://www.reddit.com/r/firefox/comments/f9ux5n/cant_replay_videos_on_firefox_android/fkt7oab/

## Steps to reproduce

1. Navigate to https://mobile.twitter.com/pawfectreview/status/1239479311935160322
2. Play video
3. Wait until video completes

### Expected behavior

The video should begin to replay in a loop.

### Actual behavior

Error appears saying "The media could not b

[2020-03-18 06:48] opusforlife2 opened #9221 "[Bug] Fenix closes without error message on this page"
## Steps to reproduce
Open this page https://marvelcinematicuniverse.fandom.com/wiki/Quake in Startpage's Anonymous Mode.
### Expected behavior
You can browse the page normally.
### Actual behavior
Fenix just closes without showing any error message.

On desktop Firefox it freezes the browser. Seems like a script going wild, but Fenix/Firefox should be able to handle this gracefully.
### Device in

[2020-03-18 06:52] ValentinTimisica commented on #8548
I filed an [issue](https://github.com/mozilla-mobile/android-components/issues/6295) in A-C and created a PR. Should be fixed by https://github.com/mozilla-mobile/android-components/pull/6296.

[2020-03-18 07:01] AndiAJ commented on #9139
Hi @csadilek , I've just re-tested this matter on the latest **`Nightly Build #20780606 from 3/18`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

Indeed now it's opened in a new tab, on the other hand if you tap the device back button the settings section remains empty (a page refresh

[2020-03-18 07:31] AndiAJ commented on #8808
Hi, **verified as fixed** on the latest **`Nightly Build #20780606 from 3/18`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

► Video
![20200318-092533](https://user-images.githubusercontent.com/51314259/76936201-2d0b0b80-68fb-11ea-8e96-8ea7500861ab.gif)

[2020-03-18 07:31] #8808 closed

[2020-03-18 07:36] ValentinTimisica commented on #8491
Hello @AmyYLee, I made some changes. How does it looks?

![b-8491-toolbar-top-new](https://user-images.githubusercontent.com/52956363/76936554-ca663f80-68fb-11ea-9949-140b0a2649bb.png)

[2020-03-18 07:49] bubi-luka opened #9222 "[Bug] Save to Collection Snackbar is not displayed right above URL bar"
## Steps to reproduce
1. Visit a webpage
2. Menu (...) -> Save to Collection -> Add new collection -> enter new name

### Expected behavior
Snackbar "Tab saved" is displayed right above URL bar.

### Actual behavior
Snackbar is not displayed right above URL bar, but there is space for at least one snackbar in between.

![Screenshot_20200318_075801](https://user-images.githubusercontent.com/1206048

[2020-03-18 07:50] bubi-luka commented on #9222
As #8773 is marked as closed and fixed I am opening another issue for this option.

[2020-03-18 08:13] AndiAJ commented on #3086
Hi, **verified as fixed** on the latest **`Nightly Build #20780606 from 3/18`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

► Video
![20200318-095109](https://user-images.githubusercontent.com/51314259/76939372-ed472280-6900-11ea-83e0-b2ddf9cf37e7.gif)

@sblatz - Shouldn't the same a

[2020-03-18 08:57] AlynxZhou commented on #3086
Cool, thanks.

Andrei Joltan <notifications@github.com> 于2020年3月18日周三 下午4:13写道：

--
*Alynx Zhou*
*A Coder & Dreamer*

*Intern in SUSE Beijing*
*Student of **Beijing Jiaotong University*
*School of Computer and Information Technology*

[2020-03-18 09:20] Diana-Rus commented on #4766
Hi, I tried to reproduce the issue but without success, on the following devices:
- OnePlus 7T Pro (Android 10)
![20200318-100534](https://user-images.githubusercontent.com/49859863/76940480-051fa600-6903-11ea-825c-052a82569177.gif)
- Google Pixel 3a XL (Android 10)
![Screenshot_20200318-102725](https://user-images.githubusercontent.com/49859863/76942456-701eac00-6906-11ea-8108-e2daaabe6491.png)
-

[2020-03-18 09:28] softvision-miralobontiu commented on #8967
I was able to reproduce the crash again with Samsung Galaxy Tab A6 (Android 5.1.1), on the latest build from 3/18 (#20780606).
Not reproducible with OnePlus 5T (Android 9), Sony Xperia Z5 Premium (Android 7.1.1), Xiaomi MiPad 2 (Android 5.1).

Logcat:
[logcat.txt](https://github.com/mozilla-mobile/fenix/files/4348036/logcat.txt)

![crash_Trim](https://user-images.githubusercontent.com/40694158/769

[2020-03-18 09:49] mcarare commented on #9221
I am not able to reproduce this on the latest master.

[2020-03-18 10:02] abodea commented on #9221
Thank you for this report @opusforlife2.
I tried to reproduce this issue on the latest **Nightly build from 18/3** with the following devices:
• Google Pixel 3a (Android 10)
• Google Pixel 4 XL (Android 10)
• OnePlus 6T (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)
• Nexus 4 (Android 5)

Note that I also tried to reproduce this issue

[2020-03-18 10:17] AndiAJ opened #9224 "[Bug]Fenix home screen is displayed while making the transition to Settings"
## Steps to reproduce
1. From Fenix's home screen tap the ⋮ Main menu button
2. Tap and open Settings from the overlay

### Expected behavior
Smooth transition with no animation issues.

### Actual behavior
The home screen is displayed while making the transition to Settings.
The default top sites are the most obvious.

### Device information

* Android device:
• Google Pixel 3a (Android 10)
• Hua

[2020-03-18 10:23] softvision-miralobontiu commented on #8729
I was able to reproduce this issue with OnePlus 5T (Android 9), and Samsung Galaxy Tab A6 (Android 5.1.1), on the latest Nightly build from 3/18.

Workaround: force stopping Fenix, fixes the issue.

[2020-03-18 10:29] mcarare commented on #9209
@st3fan Is this supposed to be a feature request for Fennec or for Fenix? In Fenix we currently open the keyboard by default when opening a new tab.

[2020-03-18 10:31] abodea commented on #9222
Thank you for this report @bubi-luka!
I was able to reproduce this issue too but only if saving a collection while a webpage is open on the latest Nightly 18/3 with Google Pixe 4XL (Android 10).
Adding this issue https://github.com/mozilla-mobile/fenix/issues/9196 as those two are the remaining ones.

[2020-03-18 10:48] mcarare commented on #6198
Should we also lock screen orientation like it was suggested here: https://github.com/mozilla-mobile/fenix/issues/7132 ?

[2020-03-18 11:50] ahmedmamdouh13 commented on #9132
hey, i made a PR but I'm not familiar with TaskMaster.yml.

should i do something for the message appearing in the end of the PR?

Thank you!

[2020-03-18 13:24] 3eresa commented on #87
Still not working with latest LastPass on most recent Nightly 200318 06:01. Yes I understand I could change personal password managers to avoid this issue however my work uses LastPass Enterprise and there is not much I can do about that. There are nearly 17 million LastPass users. This is going to be an issue when this goes from development releases to final if it's not resolved.

[2020-03-18 13:51] abodea opened #9226 "[Bug] The youtube navigation bar (home, trending and library) buttons are moving while scrolling"
## Steps to reproduce
1. Launch Fenix
2. Access `www.youtube.com`.
3. Observe the youtube navigation bag `home, trending and library`.
### Expected behavior
The youtube navigation should be at the bottom and not expandable.
### Actual behavior
The youtube navigation bar is expandable.
### Device information

* Android device: **Google Pixel 4 XL (Android 10).**
* Fenix version: **Nightly 18/3.**

[2020-03-18 13:51] abodea commented on #8768
Might be related https://github.com/mozilla-mobile/fenix/issues/9226.

[2020-03-18 14:26] csadilek commented on #9139
@AndiAJ ah indeed. That's actually a bug in the latest uBlock and also reproducible in Fennec.

This is another one to put on the list to relay to the add-on developer. Not something we can fix. /cc @kewisch

[2020-03-18 14:26] #9139 closed

[2020-03-18 14:42] cbonacuse commented on #8974
@liuche & @lwa-moz - I tested this but did not receive a notification. Below is Leanplum Support's response. Can you look into this?

I have inspected the logs for this specific message and user and here is the error that is generated:

Status:ERROR||NotificationId:b054aaf0-5807-4202-a42c-4355c8432cc5|Users:43222ab4-acbd-405b-9464-9cc1ccb2bde7|SuppressionReason:GCM_MISMATCHED_SENDER_ID|ThrottlingA

[2020-03-18 15:41] sflorean opened #9227 "[Bug]The floating text toolbar is cut when rotating the device."
### Steps to reproduce
1. Go to a website and long tap on any plain text (non-linked).
2. Rotate the device from portrait to landscape a couple of times.

### Expected behavior
The floating text toolbar is displayed without issues, all options are available.

### Actual behavior
The floating text toolbar is cut when rotating the device.

### Device information
* Android device: Nexus 5 (Android 6.

[2020-03-18 15:44] BranescuMihai commented on #8492
@AmyYLee I looked into it, and the current state is:
- fragment background - #261E4B
- menu background - #291D4F

The issue is that the background colour(foundation) is the same for all fragments(except Home), as well as some other components. Do you want us to change only for Settings and History/Bookmarks, or for all of them?

For us I think it's much easier to change the colour of the menus ins

[2020-03-18 16:28] moon1618 opened #9229 "[Bug]Checks to delete browsing data are not saved"
Delete browsing data in settings
Even if you uncheck the items you do not want to delete
When you open it again, everything is checked
Is it a bug that settings are not saved?

[2020-03-18 16:31] opusforlife2 commented on #9221
I did it again with uBlock Origin disabled from the Addon Manager. Now Fenix, instead of closing, goes to about:blank and then tries to open the URL again. This goes on in a loop once or twice more, then it closes. Again, without any error message.

Anything else I could try?

[2020-03-18 17:09] AmyYLee commented on #7266
@ai Hi, yeah I think we should still have the navigation bar coloured black (even in gesture mode it will still show a narrower version as shown in the screenshot).

[2020-03-18 17:20] ai commented on #7266
@AmyYLee yeap, it is a nice idea. Most apps with bottom panel do the same black gesture bar (WhatsApp, WeChat).

[2020-03-18 17:22] AmyYLee commented on #8491
Hi @ValentinTimisica

It still looks like there's 2 different shades of purple. Is it possible to make the search bar background transparent so the full screen background gradient is seamlessly blended behind the search bar?

[2020-03-18 17:23] #9200 closed

[2020-03-18 17:29] mstange opened #9231 "Allow easy Java/Kotlin profiling of production builds by shipping code that uses the Debug API"
### Why/Developer Benefit/Developer Problem

Android Studio's built-in profiler only allows profiling debuggable builds. However, a debuggable Fenix is actually a lot slower than a production Fenix! My investigations show a difference of 3x to 4x on a Moto G5. This means that our Fenix performance engineers usually look at profiles with wildly-unrealistic timings. This can lead us to focus on the

[2020-03-18 17:48] BranescuMihai commented on #8707
From what I can see, we use the config_shortAnimTime (200ms) for the three-dot menu.
For the dropdowns in ETP, we use a default from Android of 220ms.

Given the 20ms difference, for me is not visible. @AmyYLee on your device is it clearly perceivable? Maybe I'm looking at the wrong animations in code.

If anyone wants to investigate further, it looks like DropdownPreference uses com.android.inter

[2020-03-18 17:54] lwa-moz commented on #8974
@st3fan looks like there may be a mismatch between the "Google Play API key" listed in the Leanplum dashboard and what's listed on our end.

I'm a little perplexed at Leanplum support mentioning a "Firebase console", and can follow up for more information if we don't believe there's a mismatch between the API Key listed in the Leanplum console and our code.

[2020-03-18 18:04] ValentinTimisica commented on #2359
Hello @AmyYLee , I have a question regarding "** Pressing "Save to collection" should match the same animation as long pressing on an open tab. Currently it's different." It's not clear for me which of them is the correct animation and which is the wrong one.

[2020-03-18 18:06] ValentinTimisica commented on #8491
I used a gradient (45 degree angle - starting from bottom left and ending in top right) with the colors from the image you posted above (I used a color picker to get the color from each corner of the searchBar, but maybe it's not that accurate). Can you give me the right color codes?

Regarding your question, yes, it is possible to make the search bar background transparent, but on scroll the priv

[2020-03-18 18:11] csadilek commented on #8155
Restore should work now in latest Fenix Nightly (200318 06:01). "Back up to file" / Save is blocked on https://github.com/mozilla-mobile/android-components/issues/6314.

[2020-03-18 18:12] liuche commented on #7661
This landed now - how should we test this @lwa-moz, @jonalmeida ? If you want QA to test it, please add a label, with steps to test.

This would currently be in Nightly only, but we could as them to build a different release flavor as well.

[2020-03-18 18:27] Baron-Severin opened #9232 "[Bug] Fix intermittent UI test failure - backButtonTest"
Passes locally.  Passes on Firebase for one device, fails on another.  It's unclear what's causing the error.

Test results: https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8409332699416387694
PR: https://github.com/mozilla-mobile/fenix/pull/8978

[2020-03-18 19:50] vesta0 commented on #821
Will consider this as part of other related work.

[2020-03-18 19:50] #821 closed

[2020-03-18 20:06] AmyYLee commented on #2359
Hi @ValentinTimisica

It should copy the "long pressing on an open tab" animation. Let me know if this is clear.

[2020-03-18 20:30] jonalmeida commented on #4044
Please file a separate bug for this, it seems unrelated to this bug which was for APKs.

These don't open in Fennec as well, so my guess is that there's either something wrong with the files itself or they are `blob` types which are not supported.

[2020-03-18 20:30] #4044 closed

[2020-03-18 20:31] csadilek commented on #8782
@mstange Thanks for filing this!

The GV patch (https://bugzilla.mozilla.org/show_bug.cgi?id=1619796) as well as an A-C fix (https://github.com/mozilla-mobile/android-components/issues/6193) for this landed, which both should improve the time spent in `onLoadRequest`.

Would you be able to verify the improvements? I will keep this ticket open for now.

[2020-03-18 20:34] jonalmeida commented on #9113
The crashes have gone down so I'm happy with closing this.

[2020-03-18 20:34] #9113 closed

[2020-03-18 20:44] AmyYLee commented on #8491
@ValentinTimisica I think if the full background gradient ended prior to the search bar then we can have a solid colour there. If this is getting too complex then we can leave it as is.

[2020-03-18 21:23] mstange opened #9234 "Allow Gecko startup profiling with the Gecko Profiler in production builds"
### Why/User Benefit/User Problem

The Gecko profiler allows [profiling Gecko startup](https://profiler.firefox.com/docs/#/./guide-remote-profiling?id=startup-profiling) with environment variables such as `MOZ_PROFILER_STARTUP`. However, as far as I know, this is currently only possible in debuggable builds:
The only way I'm aware of to set these environment variables is the yaml file, e.g. `/data

[2020-03-18 21:28] emalysz commented on #9179
I verified that the `VisualCompletenessTaskManager` hooks into the first frame, so we will always start the task manager.

I also implemented a delay before the `rootContainer.doOnPreDraw` call, backgrounded the app, and ensured that all of the tasks still executed. Those tasks are not retriggered when we navigate back into the app (warm/hot start).

If we remove the application from memory and fo

[2020-03-18 21:28] #9179 closed

[2020-03-18 21:29] mstange commented on #9234
After reading those docs it seems that `set-debug-app` provides a workaround for this. I'll try that.

[2020-03-18 21:54] jgoguen commented on #8155
Confirmed restore working in Fenix Nightly 200318 18:01.

[2020-03-18 21:56] Baron-Severin commented on #8017
We've had to change these strings a few times, so I've reached out to the localization team on how they want me to handle updating them again.  I should hear back soon, and then I'll merge in these changes.  Thanks everyone!

[2020-03-18 22:02] yoasif commented on #7560
@kbrosnan It looks like Fenix can support this using the frame pacing library:

https://developer.android.com/games/sdk/frame-pacing
https://source.android.com/devices/graphics/frame-pacing

Can you reopen this bug?

It is probably also worth looking into how upstream Chromium achieves this, since high refresh rate displays will likely go up in use.

[2020-03-18 22:23] tylla commented on #9209
I'm the original reporter.
This is absolutely Fennec (as written in the first line ;-)) so this is kinda misplaced...

[2020-03-18 22:31] kbrosnan commented on #7560
This sounds like GeckoView and/or Android components work.

[2020-03-18 22:52] Dunexus commented on #7266
It will be weird to have the status bar translucent (ie, showing app theme color) and the navigation bar black.
Also having the navigation translucent makes the app more integrated and web browsing more immersive.

[2020-03-18 22:53] jawadalkassim opened #9235 "DuckDuckGo Disappeared from search engines[Bug]"
## Steps to reproduce
1-launch Fenix
2- Open Settings
3- then Search
4- Select default engine
### Expected behavior
Select DuckDuckGo as a default engine
### Actual behavior
There's no option to choose DuckDuckGo unless i added it manually
### Device information
Huawei P8 2017
* Android device: 8.0 Oreo
* Fenix version:
Nightly 200318 18:01 (Build #20781808)
37.0.20200317130045, 4b0491cf4
GV: 76.0

[2020-03-18 23:25] mstange commented on #9234
Yes, that works. So this request is now less urgent.

[2020-03-18 23:31] ai commented on #7266
Another way is remove a line between bottom navbar and gestures bar. We already have it in Firefox Preview homepage

![Screenshot_20200318-192653](https://user-images.githubusercontent.com/19343/77016723-e2b37a00-694e-11ea-9135-1bd51bc9045d.png)

And many Google’s apps integrated gestures bar to their UI

![Screenshot_20200318-192827](https://user-images.githubusercontent.com/19343/77016751-f6f777

[2020-03-18 23:41] grigoryk opened #9236 "BackgroundServices should not be initialized on startup"
Currently we're initializing BackgroundServices (and kicking off FxaAccountManager's init) on startup. Strictly speaking, we don't need to do this so early on. Let's understand all of the touch points, and how we can defer this work.

[2020-03-18 23:47] grigoryk commented on #9236
Going to document each point at which we're initializing the account manager, as I'm working through them.

1) `HomeMenu` is initialized as part of `HomeFragment`. It's [eagerly initialized](https://github.com/mozilla-mobile/fenix/blob/030bd386317b8643e5e29ed502ddfd13334f155a/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt#L314) to see if there are any highlight items present. To build a

[2020-03-19 00:11] grigoryk commented on #9236
What makes sense to me for the `HomeMenu` is to switch to observing account state (instead of just querying it once on startup), inject the menu item dynamically when necessary, and propagate this event change to HomeFragment so that it can re-trigger its `setHighlight` logic (or even better, the menu can _tell it_ to set a highlight, instead of telling it to go through every menu item).

This wil

[2020-03-19 00:45] #9235 closed

[2020-03-19 01:18] ricvelozo commented on #7691
Tried to login in GitHub app today, and I got a "unsupported protocol" error in Fenix. Opening the OAuth link in Fennec worked.

[2020-03-19 01:49] mstange commented on #8782
It's definitely better, but I think it can be better still. It looks like the shouldLoadUri call has simply moved to a different place but still happens, and it still seems to require one trip through the UI thread's event loop, so it is still delayed by the UI work that happens when you press enter.

Let me explain:

Old profile: https://perfht.ml/2U13Egp
New profiles: https://perfht.ml/397x1lD a

[2020-03-19 02:22] #7159 closed

[2020-03-19 02:48] brampitoyo commented on #4766
@Diana-Rus Yes. Unfortunately, both the latest Firefox Preview and Firefox Preview Nightly search widgets have a height of 2.

Interestingly, Fennec’s widget only has a height of 1.

<img width="360" src="https://user-images.githubusercontent.com/51007/77026636-03d0a500-69f9-11ea-8fcc-0f5e104deec6.png">

[2020-03-19 03:37] MarcLeclair commented on #9112
The result of looking into this which were taken using `System.nanoTime()` for all 3 cases

Case 1:
   -  Average was ~609ms

Case 2:
   - 156.72ms
   - 116.5ms

[2020-03-19 03:38] #9112 closed

[2020-03-19 03:44] MarcLeclair opened #9240 "Clicking on the url bar on the homescreen takes too long to bring up the SearchFragment"
### Problem
Base on investigation from #9112, I found that opening the `SearchFragment` from the `HomeFragment` was noticeably slow.

The definition, in this case, of the final state was when the `SearchFragment` displayed a keyboard on screen and the `Search With` options were there and the user was able to type.

The total time ( with ~20 runs) was ~~605ms~~ --> this measurement was wrong due to

[2020-03-19 07:11] AndiAJ commented on #8814
Hi, **verified as fixed** on the latest **`Nightly Build #200790605 from 3/19`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

► Screenshot
![toptop](https://user-images.githubusercontent.com/51314259/77040911-99504280-69c1-11ea-8c0e-e95b4b88a933.png)

[2020-03-19 07:11] #8814 closed

[2020-03-19 07:33] madb1lly commented on #8814
Confirmed on Nokia 8, Android 9.

[2020-03-19 08:18] StefanHamminga opened #9241 "[Bug] Gamepad API doesn't detect HID joystick"
## Steps to reproduce
1. Plug joystick in phone USB (with adapter)
2. Load a test website: https://html5gamepad.com/
3. Move joystick

### Expected behavior
Joystick gets detected, axis data shows in site. This works in Chrome for Android on the same phone. Also works in Firefox desktop.

### Actual behavior
No joystick detected

### Device information

* Android device: Samsung S7 edge
* Android

[2020-03-19 08:39] ValentinTimisica commented on #8491
@AmyYLee, if we are to use a solid color for the urlBar background I think the differences between this and the larger background which has a gradient would be even more obvious"
As such based on all of the above I think the solution demoed in my last screenshot is the best we can get. It looks good and there are no chances of regressions.

[2020-03-19 08:46] 90du opened #9242 "Hide home widget"
![Screenshot_2020_0319_163925](https://user-images.githubusercontent.com/35375370/77047867-742ef480-6a00-11ea-9881-145c60b068e4.png)
The area marked on the picture hopes to add a hidden button in the settings. They take up too much space. I want to display only the web page labels.

[2020-03-19 08:50] 90du commented on #9242
![Uploading Screenshot_2020_0319_164839.png…]()
And here

[2020-03-19 08:51] #8680 closed

[2020-03-19 09:31] AndiAJ commented on #8387
Hi @mcomella , I've just re-checked this mater on the latest **`Nightly Build #200790605 from 3/19`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)

**When uploading the 100 & 200 MB files no issues encountered**, on the other hand, **the black screen seems to be displayed when uploading the 512 MB file**.

► Video from Google Pixel 3a uploading

[2020-03-19 09:34] ValentinTimisica opened #9243 "[Bug] Animations not consistent for collections"
From #2359 - "** Pressing "Save to collection" should match the same animation as long pressing on an open tab. Currently it's different."

### Steps to reproduce & Actual behavior
- Press `Save to collection` -> tabs appear with a fade in animation.
- Long press on an open tab -> tabs appear with no animation

### Expected behavior
- `Save to collection`(wrong animation) should have the same anim

[2020-03-19 09:52] MrBrax commented on #8754
Same here since i started using it in January. Very annoying.

[2020-03-19 10:42] FoxDie12x commented on #9100
I would like to take a go on this

[2020-03-19 10:55] AlbertoFabbri93 commented on #8847
According to me the best option would be to add this setting below the one that let you choose if you want the toolbar at the top or at the bottom. There is plenty of space in that screen.

[2020-03-19 11:04] abodea commented on #6562
Verified as fixed on the latest Nightly 19/3 with Samsung Galaxy S10+ (Android 10).
For more details please check the following:
- I tested this issue following the instructions from the description.
- I switched between mobile data and Wi-Fi connection after enabling the VPN, but everything worked as expected.
- All the opened webpages opened correctly and no blank page displayed.

Based on my co

[2020-03-19 11:04] #6562 closed

[2020-03-19 11:54] sv-sdeiac commented on #9229
Hello @moon1618, thanks for your report.
I tried to reproduce your issue and the items unchecked are not saved after reopening the "Delete browsing data" section.

#### Devices:
- Google Pixel 3 (Android Q);
- LG g7 fit (Android 8.1).

#### Build:
- Firefox Preview Nightly 3/19 #20790605.

#### Notes:
- Since the "Delete browsing data on quit" save the last changes, there is an expectation to be s

[2020-03-19 12:26] sv-sdeiac commented on #8597
Hi, I can confirm that this issue is fixed on the latest Nightly 3/19 #2079065 using Google Pixel 3 (Android Q) and LG g7 fit (Android 8.1).

[2020-03-19 12:26] #8597 closed

[2020-03-19 12:27] #7408 closed

[2020-03-19 12:32] #9140 closed

[2020-03-19 13:00] sv-sdeiac commented on #7604
Hi, I can confirm that the main issue is fixed using Firefox Preview Nightly 3/19 #20790605.
Devices:
- Google Pixel 3 (Android Q);
- LG g7 fit (Android 8.1).

 I'll close this ticket since the developer confirmed that the issue is fixed from their part, thanks.

[2020-03-19 13:00] #7604 closed

[2020-03-19 13:07] FoxDie12x commented on #9229
I'd like to be assigned to this issue.

[2020-03-19 13:18] #8591 closed

[2020-03-19 13:21] softvision-sergiulogigan opened #9250 "[Bug] www.bing.com - Missing Dropdown button symbol"
Originaly logged here: https://github.com/webcompat/web-bugs/issues/50335

**URL**: https://www.bing.com

**Browser / Version**: Firefox Preview Nightly 200316 (🦎: 76.0a1-20200315093749)
**Operating System**: Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density)
**Tested Another Browser**: Yes

**Problem type**: Design is broken
**Description**: Missing Dropdown butto

[2020-03-19 13:22] Mugurell commented on #8693
@apbitner Although this ticket initially only referenced the theme picker images
in review it was seen,
based on https://drive.google.com/file/d/11-3sSjg9PvJAjTbRJ_UMC1gghWnPelVS
that we'd also need similar rtl resources for the toolbar position picker images.

Can you help with these here so this ticket will land the resources for both pickers at the same time for a cohesive onboarding UX?

[2020-03-19 13:25] Mugurell commented on #8693
We also need to keep in mind the in-flight #7606 which comes to modify the same imagery.

[2020-03-19 13:25] LaurentiuApahideanSV commented on #4766
I tried to reproduce your issue on the latest Firefox Preview Nightly (Build #20790606) Thursday 3/19 using a OnePlus 6T (Android 9) and Huawei MediaPad M3 (Android 7.0) but was unable to. @brampitoyo Could you specify the model of the OnePlus device you are using and it's firmware?

[2020-03-19 13:41] #8600 closed

[2020-03-19 14:11] sv-sdeiac commented on #9088
Hi, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 3/19 #20790605.

Device: Samsung Galaxy Tab S6 (Android 9).

[2020-03-19 14:28] abodea opened #9252 "[Bug] "The logins you save or sync to Firefox Nightly will show up here" text is displayed right before all the accounts are displayed"
## Steps to reproduce
1. Launch Fenix.
2. Login with valid credentials
3. Access logins and passwords section.
4. Tap on the saved logins.
### Expected behavior
The saved logins are displayed.
### Actual behavior
"The logins you save or sync to Firefox Nightly will show up here" text is displayed right before all the accounts are displayed.
### Device information

* Android device: **Samsung Galax

[2020-03-19 15:17] apbitner commented on #7606
@Mugurell Here are the RTL gray border assets.

[RTL Gray Borders.zip](https://github.com/mozilla-mobile/fenix/files/4355318/RTL.Gray.Borders.zip)

[2020-03-19 15:17] apbitner commented on #8693
Gray border assets have also been added to https://github.com/mozilla-mobile/fenix/issues/7606

[2020-03-19 15:17] AndiAJ commented on #7661
Hi, I've just checked this using a Google Pixel 3a (Android 10)

## ✔️   Having **installed only** **`Fenix RC 4.0.0`**
adb shell am start -a android.intent.action.VIEW -d fenix://settings
► Video
![20200319-162755](https://user-images.githubusercontent.com/51314259/77080324-d89e8380-6a01-11ea-875a-00437c2d09bb.gif)

## ❌ Having **installed** **`Fenix Beta 4.1.0-beta2`**
adb shell am start -a andr

[2020-03-19 15:53] ValentinTimisica commented on #9243
@AmyYLee, I attached a [video](https://drive.google.com/file/d/1oHzOe-ikXpPLrcPFxoOB6kA-OJjOUxYD/view?usp=sharing) with the issue.
As you can see, when you:
- Press on `Save to collection` a fade in animation appears for the tabs to select.
- Long press on an opened tab no animation shows.

Do you want me to remove the animation for pression on `Save to collection`, so both actions will not create

[2020-03-19 16:47] abodea commented on #82
Removing the `needs:STR` based on the comment from above.

[2020-03-19 16:57] kbrosnan commented on #7435
Lottie also blocks us on upgrading MockWebServer. See https://github.com/mozilla-mobile/fenix/issues/8169#issuecomment-600231224

[2020-03-19 17:23] darkwing commented on #9221
I couldn't reproduce on my Pixel 4 either

[2020-03-19 17:27] opusforlife2 commented on #9221
Can someone confirm if desktop Firefox memory usage skyrockets on this page?

[2020-03-19 18:10] joelocandol commented on #9167
YouTube is the only where the problem happen for me (I think so), and yes, I have enable "zoom on all websites"

[2020-03-19 18:12] joelocandol commented on #9166
It's not a problem of a specific website, all encounter it on every video in full screen

[2020-03-19 18:28] ekager commented on #9215
Closing for #9232

[2020-03-19 18:28] #9215 closed

[2020-03-19 19:10] betsymi commented on #9208
Clarification question: Does this mean when user opens Fennec, we direct them to Fenix?

[2020-03-19 19:14] liuche opened #9256 "[Bug] Investigate why Fenix installation pings aren't being seen"
Just filing this bug so we have a way to keep track of discussion/findings around this investigation of the `installation` ping. This is the data we added in #7295.

According to @magorlick, she's not seeing any of these in the data dashboards.

What's confusing is these probes did go through QA and we were able to see them.
- Was the testing done in release builds?
- Is it somehow channel-specifi

[2020-03-19 19:22] AmyYLee commented on #7266
@ai Works for me. Thanks

[2020-03-19 19:34] longmoon77 opened #9257 "Fenix Login Manager Should Be Able to Fill and Save BasicAuth Account & Password"
I hope Account and its Password in BasicAuth will be able chosen to save in data of Firefox and FirefoxSync.
It will make it easy to log in next time.
Finally,the BasicAuth GUI text has not yet been translated to other languages.
![BasicAuth_demo](https://user-images.githubusercontent.com/62339707/86545005-0b8f6780-bf5e-11ea-8d42-bb7490fcad1b.jpg)
![Version](https://user-images.githubusercontent.c

[2020-03-19 20:48] AmyYLee commented on #9243
Hi, can you please set both with no animations. Thanks

[2020-03-19 21:06] AmyYLee commented on #8492
@BranescuMihai Hi, the settings background colour should apply to History/Bookmarks as well. This is the guideline for what colours should be used. I don't think we should change the menu colour as we are trying to keep consistency with the order of colours  being applied to each layer of the UI (dark shades to light).

Here's a guide for reference.
https://share.goabstract.com/a469d33c-f5ef-4d0c-

[2020-03-19 21:37] jowi3 opened #9260 "[Bug] Top Sites sometimes cannot be removed."
## Steps to reproduce

- Add 2 or 3 rows of Top Sites.

- Try removing them, starting from the last one.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/62400461/77115896-381b8400-6a40-11ea-9586-b4b382d105dc.gif)

### Expected behavior

- "Remove" option should remove the Top Site.

### Actual behavior

- "Remove" option does not remove the selected Top Site sometimes (maybe r

[2020-03-19 21:38] mstange opened #9261 "~200ms until GeckoRuntime.create is called during COLD start up"
Startup profile: https://perfht.ml/2WsFa0Z

In the profile, it took around 417ms until `GeckoRuntime.create` was called. The profile is from a debuggable build, so it's exaggerating the problem a little bit, but it shows a number of things getting initialized earlier.

The earlier `GeckoRuntime.create` is called, the earlier Gecko can kick off network requests. This improves the app link startup e

[2020-03-19 21:39] ai commented on #7266
@AmyYLee what is the next step? I’d like to help, but not sure that I know the righr programming language

[2020-03-19 22:43] AaronMT opened #9262 "Add additional verification/waits to LibraryMenuTest"
LibraryMenuTest needs extra waits. As well, let's try increasing the `waitNotNull` timeout.

[2020-03-19 22:46] #7450 closed

[2020-03-19 23:14] mcomella commented on #9261
top of the head notes:
- We need to validate in non-debuggable builds but in debuggable builds there appears to be a long time spent in dex: https://github.com/mozilla-mobile/fenix/issues/8979
- Glean init was moved to execute extremely early for the data migration. The glean team says glean should be initialized as early as possible but unclear if this is best for performance
- We're currently st

[2020-03-19 23:14] ekager commented on #7435
Documenting our discussion from Matrix in this bug:
- We currently use Lottie only for the ETP shield animation
- We use Lottie instead of Android Vector Drawable because AVDs don't support gradients until 24+
- Longer term we could work with UX to find a solution that would allow us to use AVDs (or something else) and remove Lottie

[2020-03-19 23:34] Archaeopteryx opened #9264 "[Bug] gecko decision task failing after Plugin [id: 'org.gradle.kotlin.kotlin-dsl', version: '1.2.9'] was not found in any of the following sources:"
The gecko decision task which is supposed to schedule all tasks for a push failed once.

CC @pocmo

Log: https://treeherder.mozilla.org/logviewer.html#?job_id=293962218&repo=fenix

[task 2020-03-19T23:12:54.421Z] FAILURE: Build failed with an exception.
[task 2020-03-19T23:12:54.421Z]
[task 2020-03-19T23:12:54.422Z] * Where:
[task 2020-03-19T23:12:54.423Z] Build file '/builds/worker/checkouts/src/

[2020-03-20 00:22] ghost opened #9266 "Add a confirmation dialog before quitting the browser"
### Why/User Benefit/User
If a confirmation dialog is added it will make sure the user really wants to quit the browser and not accidently clicked on the Quit button. It'll make sure the user doesn't accidentally lose the ongoing browsing session's data.

### What/Requirements
1. A dialog for confirming if the user really wants to quit the browser.
2. A check box for making sure/remembering if the

[2020-03-20 01:14] maverick74 commented on #6437
I suppose this would also be available when we select the URL bar, while on a web page, as a way to substitute the current page where we are at by a bookmarked or pinned one.

If so, this would be of tremendous use for me because, as of now, I have to close the current tab, go to the bookmarks or to the tab center just to open a specific page in the same place I had the previously closed tab.

In

[2020-03-20 02:07] SS1113 opened #9267 "[Bug] The bookmark Toast message is hidden beneath the browser toolbar"
## Steps to reproduce
1. Visit a website
2. Try to Bookmark the website or remove the existing bookmark
3. the pop-up/Toast message is hidden beneath the browser toolbar

### Expected behavior
The pop-up/Toast message shouldn't be hidden otherwise it makes it harder to edit the bookmark or see if the website has been successfully bookmarked

### Actual behavior
The pop-up/Toast message is hidden b

[2020-03-20 03:13] yoasif commented on #7560
Sure, but Fenix doesn't yet support it. I don't know where it belongs, is that something a team member can do once they evaluate the request? I fear it will get lost if the bug remains closed.

[2020-03-20 03:43] DrCesar commented on #8759
I like to give this a shot. Currently limited to 6 items and trying to make the section horizontally scrollable. Any tip is welcome.

[2020-03-20 05:39] Poopooracoocoo opened #9268 "Search For tabs in the tabs tray"
### Why/User Benefit/User Problem
You currently cannot search for tabs. Users expect this from Firefox for desktop.

### What/Requirements

- Search button in tab switcher next to menu (that expands into a search bar when tapped on)
- Search only tabs in address bar by appending or prepending the query with %
- Search only tabs in address bar with tabs shortcut

### Acceptance Criteria (how do I k

[2020-03-20 05:42] Poopooracoocoo opened #9269 "Add option in settings to disable "Switch to tab" search suggestions"
### Why/User Benefit/User Problem
Now that #1500 was introduced, some users may not want tabs to appear as suggestions in search

### What/Requirements
Option in Settings> Search> Address bar called "Search open tabs"

### Acceptance Criteria (how do I know when I’m done?)
When the above is completed

Edit: this should match desktop

┆Issue is synchronized with this [Jira Task](https://mozilla-hub

[2020-03-20 05:45] Poopooracoocoo commented on #8200
It would also be really great if the "Switch to tab" text were coloured so you can discern it from other suggestions. Probably dark blue like other elements in Fenix are. Should I make a new issue suggesting this?

[2020-03-20 06:59] AndiAJ commented on #9140
Hi, **verified as fixed** on the latest **`Nightly Build #20800605 from 3/20`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

► Comparison Nightly Build #20780606 3/18 (LEFT) VS Nightly Build #20800605 3/20 (RIGHT)
![rsz_okoktabz](https://user-images.githubusercontent.com/51314259/7714

[2020-03-20 07:39] AndiAJ commented on #8600
Hi, **verified as fixed** on the latest **`Nightly Build #20800605 from 3/20`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

<details>
    <summary> Comparison Nightly Build #20780606 3/18 VS Nightly Build #20800605 3/20 (Dropdown)</summary>

► ❌ Video Nightly Build from 3/18
![202003

[2020-03-20 08:11] sv-sdeiac commented on #8591
Verified as fixed using the latest version of Firefox Preview Nightly 3/20 #20800605.

Devices:
- Google Pixel 3a (Android Q);
- Google Pixel 3 (Android Q);
- LG g7 fit (Android 8.1).

[2020-03-20 08:56] BranescuMihai commented on #8590
Is this still reproducible? Tried it on nightly and develop, for me clicking the notification returns to PB home

[2020-03-20 09:31] AndiAJ commented on #8974
Hi, I've tried sending push messages after performing a migration from Fennec to **`Nightly Build #2015729651 from 3/20`** using the following devices:
• Google Pixel 3a (Android 10) - **`Device ID 811d1464-7f36-48d5-b630-43e6c7a323b8`**
• Huawei Mate 20 Lite (Android 8.1.0) - **`Device ID 5e7630e2-4902-42d8-96db-6829caf4a467`**

In both cases, **no messages were properly sent**.
► Leanplum confir

[2020-03-20 09:35] Diana-Rus commented on #9222
Hello, reproduced with Samsung Galaxy S9 (Android 8.0.0) with build FIrefox Nightly 200320 (Build #20800605) GV: 76.0a1-20200318041411.

[2020-03-20 09:39] BranescuMihai commented on #8643
It seems there is already a task on the toolbar colour (#8491 ), @ValentinTimisica is working on that

[2020-03-20 10:47] sv-sdeiac commented on #9267
Hello @SS1113, thanks for your report.
This issue is fixed on the latest version of Firefox Preview Nightly 3/20 #20800605.

Devices:
- Google Pixel 3 (Android Q);
- LG g7 fit (Android 8.1).

I'll let this issue open and verify on beta/release after the new version will come, thanks.

[2020-03-20 10:59] sv-sdeiac commented on #9260
Hi @jowi3, it seems that this issue is reproducible only if you have multiple entries from the same page. I think that this issue will be fixed when #8108 will also be fixed.
Due to that, I'll close this issue, thanks for your ticket and if you have more updates, please feel free to add them on ticket #8108.

[2020-03-20 10:59] #9260 closed

[2020-03-20 11:01] mcarare commented on #8108
@topotropic How do we want to handle this?
Should we not show the option to add or should we notify that it already exists (text on the Snackbar instead of the confirmation one). IMO the last one is more user friendly. TY!

[2020-03-20 11:29] Mugurell commented on #8693
Thank you @apbitner for the images!

This patch will add just
- the purple bordered rtl theme picker images and
- the gray bordered rtl toolbar position picker images

since the ltr versions of these images only had this purple / gray border and not both.
Will leave it for #7606 to add the rest of the imagery and properly handle switching between them.

[2020-03-20 12:32] J41319 opened #9273 "[Bug] Delays during tab transition"
## Steps to reproduce

Open a tab and click to change the current tab and enter into it again

### Expected behavior

The transition must be smooth and have no delays

### Actual behavior

A small delay occurs during the tab transition

### Device information

* Android device: Xiaomi Mi A3 (Android 9)
* Fenix version: 4.1.0

Video: https://1drv.ms/u/s!AhHaljE4bL52guYxIHCH2MJaTx2_ew?e=uVPRHN

[2020-03-20 12:52] ildar commented on #9065
My 5 cents: i also gave 2GB RAM and see this misbehavior only since upgrade to 4.*. Any chance to bring Fenix back to normal mem usage?

[2020-03-20 13:09] Diana-Rus opened #9274 "[Bug]Add-On-Settings page is blank after tapping devices back button."
## Steps to reproduce
1. Open app go to Menu/Settings/Add-ons.
2. Install U-block Origin by tapping on the "+".
3. Tap on "Settings" section.
4. Tap on the device's back button.

### Expected behavior
A redirection to U-block Origin is made.
### Actual behavior
The Settings page is blank.
### Device information

* Android device: Samsung Galaxy S9 (Android 8.0.0), Sony Xperia Z4 (Android 7)
* Feni

[2020-03-20 13:41] linuxandria commented on #3728
Still rejects the AdGuard certificate which is even installed in the system store....

[2020-03-20 13:42] LaurentiuApahideanSV opened #10844 "FNX-4622 ⁃ Homescreen page shortcuts are opened in Custom tabs and in Fenix after migration"
### Preconditions
Have Fennec installed.

### Steps to reproduce
1. Add a few page shortcuts using Fennec;
1. Replace Fennec with Fenix;
1. Tap on the any of the homescreen shortcuts added in step 1;
1. Open Fenix.

### Expected behavior
The homescreen shortcuts are opened in Fenix.

### Actual behavior
The homescreen shortcuts are opened both in custom tabs and Fenix.

###Device information

* An

[2020-03-20 13:49] opusforlife2 commented on #7163
Isn't this a duplicate of #6304, which is fixed?

[2020-03-20 13:56] opusforlife2 commented on #8894
You don't even need to be quick. If you wait for some time and _then_ tap back, you get a blank white screen with a solid purple bar instead of the address bar. (v4.1 release)

[2020-03-20 13:58] ValentinTimisica commented on #2359
Hello @AmyYLee, I need a feedback regarding a possible fix for this issue: "There's a lag where after tapping on "Add new collection", the control fades out leaving a blank space before the keyboard appears."

Looks like right now there is a fade in animation with 200 ms of duration in `Name collection` (after pressing `Add new collection`). After this animation ends, then the keyboard is shown. I

[2020-03-20 14:07] opusforlife2 opened #9275 "[Bug] Regression - Back button closes PB shortcut instead of going to Fenix home screen"
## Steps to reproduce
1. Open Fenix using the PB shortcut.
2. Open any tab.
3. Tap back. Fenix 'minimizes' to home screen. (What is this behaviour called?)
4. Open from recents or by tapping the shortcut. Fenix opens to the search bar again.
5. Tap back.

### Expected behavior
In 4.0, this took you to either the already opened tab, or to the Fenix home page, letting you access the tab either way.

[2020-03-20 14:29] BranescuMihai commented on #9100
The expected behaviour is that the private tabs are closed **AND** we are redirected to PB home screen right?

This bug is highly connected with #8590 in the sense that there's one fix for both.

There are two approaches that I can think of for the PB notification, one simpler than the other, and the difference is this:
When the app is in background and you click the notification, should the PB ho

[2020-03-20 14:54] csadilek commented on #9274
Dupe of https://github.com/mozilla-mobile/fenix/issues/9139. This is also reproducible in Fennec and needs to be addressed in the add-on directly. Closing here as we're relaying to the add-on developer.

[2020-03-20 14:54] #9274 closed

[2020-03-20 14:58] carlos-rodrigues-1123 opened #9276 "read mode freezing"
## Steps to reproduce

### Expected behavior
Recurring freeze when in read mode, can't scroll up or down

### Actual behavior

### Device information
Xiaomi Mi A3

* Android device: ? Xiaomi Mi A3
* Fenix version: ? Last one

[2020-03-20 15:36] abodea commented on #6743
I retested this issue on the latest Nightly from 3/10 for more details please check the following:

| Browser  | Device |  Android version |  Crash? |
| :-------------:| :-------------: | :-------------: | :-------------: |
|  **Fenix Nightly 3/20**          |   **Google Pixel 4 XL**  |    **10**        |       ❌           |
|    **Fenix Nightly 3/20**         |        **Samsung Galaxy S10+**

[2020-03-20 15:38] AmyYLee commented on #2359
@ValentinTimisica Hi, the new version looks good to me. Yes let's go with that. Thank you.

[2020-03-20 15:46] lobontiumira opened #9278 "[Bug] When signed-in and accessing the accounts.firefox.com page from History, the page loads indefinitely"
## Steps to reproduce
1. Sign in with valid credentials.
2. Go to Library - History, and tap on one of the accounts.firefox.com/oauth entry.
3. When the accounts.firefox.com/oauth page opens, tap on the "Sign in" button.

### Expected behavior
A message is displayed that the user is already signed in.

### Actual behavior
The page loads indefinitely or crashes. The other tabs can be accessed. Retu

[2020-03-20 15:46] #3924 closed

[2020-03-20 16:16] #9262 closed

[2020-03-20 16:25] ValentinTimisica opened #9280 "[Bug] Wrong animation after pressing Add new collection"
From #2359 - "There's a lag where after tapping on "Add new collection", the control fades out leaving a blank space before the keyboard appears."

### Steps to reproduce
- On home screen press on `Save to collection`
- Select at least one tab and press `Save`
- Press `Add new collection`

### Expected behavior
- The keyboard should appear immediately on the screen

### Actual behavior
- The keybo

[2020-03-20 17:26] quadriflax opened #9283 "[Bug] Typing does not capitalize after new sentence starts."
## Steps to reproduce
Type in any box (e.g., text box on Reddit, Slickdeals), end a sentence, start new sentence.
### Expected behavior
After a period at the end of a new sentence, keyboard should automatically capitalize/"hold shift" for the first word of the next sentence.
### Actual behavior
The keyboard stays lowercase.
### Device information

* Android device: Moto G5+ (Android 8.1), Samsung

[2020-03-20 17:30] quadriflax opened #9284 "[Bug] Site icons disappear from Top Sites"
## Steps to reproduce
Send link to Top Sites, close app, reload app.
### Expected behavior
Website icons would display upon reload.
### Actual behavior
Website icons disappear randomly, resorting to generic icons (i.e., first letter of website title).
### Device information

* Android device: Moto G5+ (Android 8.1), Samsung Galaxy Tab A (2019, Android 9.0)
* Fenix version: multiple versions (do no

[2020-03-20 17:36] ekager commented on #9284
Likely related to https://github.com/mozilla-mobile/fenix/issues/8443

[2020-03-20 17:37] quadriflax opened #9285 "[Bug] Scrolling on certain website causes popups/mouse overs to load without touching near location of link"
## Steps to reproduce
Scrolling down certain websites (e.g., Reddit or DailyKos) in full website mode will cause random "mouse overs" to pop up (i.e., if you use desktop Reddit and hover mouse over a user name, it will show information. This is constantly, randomly, popping up for me on Fenix while scrolling, despite my finger being nowhere near the user name/link that is showing).
### Expected be

[2020-03-20 17:48] ekager opened #9286 "Add isDefault Flag to default Top Site entries"
### Why/User Benefit/User Problem
Currently, on first install, we check the current locale and then add default top sites to the generic top sites storage. With an impending deadline, this was kind of a hack. Adding a flag would allow us to have better telemetry, be able to position them where we want them, and edit/change/remove those default top sites if necessary, ie when the [locale](https://g

[2020-03-20 17:55] ekager commented on #8480
Currently, the default top site list is not updated when changing locales. On first install, they are just added to the list.

I opened #9286 to look into this more.

[2020-03-20 17:56] Baron-Severin opened #9287 "[Bug] Fix intermittent UI test failure - libraryMenuItemsTest"
Multiple PRs unrelated to this UI have been failing on it recently.  It also appears to be flaky (see screenshot).

Firebase: https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5640171423850485622

<img width="947" alt="Screen Shot 2020-03-20 at 10 52 44 AM" src="https://user-images.githubusercontent.com/13170306/77192155-582b6180-6a99-11ea-937

[2020-03-20 18:09] Baron-Severin commented on #7543
Little work has been done on this.  Some early investigation into the problem can be found at https://github.com/mozilla-mobile/fenix/pull/9288/files, maybe that will help whoever follows up here.

[2020-03-20 18:09] quadriflax commented on #9284
Does look similar. It seems to happen when I bookmark individual subforums from a main URL (e.g., https://slickdeals.net/forums/forumdisplay.php?f=9), but when I checked the main URL just now (i.e., https://slickdeals.net) the icon was still there.

[2020-03-20 18:12] ekager commented on #8443
Maybe we could just use the base domain here for loading these images 🤔 not sure if a page ever has a different icon we would need to load than the base domain?

[2020-03-20 18:20] ekager commented on #9286
Opened https://github.com/mozilla-mobile/android-components/issues/6331 for AC changes required

[2020-03-20 18:22] AaronMT opened #9289 "Fix CollectionTest.kt UI tests"
These tests were disabled in https://github.com/mozilla-mobile/fenix/issues/5793 I think they just need updating to reflect a recent feature update, and probably a refactor since they pre-date the robot design.

[2020-03-20 18:37] Yves-Be commented on #9118
Agreed, this is also the behavior of the current version of Firefox on Android.
It can even be made in a toggle, alongside the shortcuts toggle. I made a quick mock-up of it.
![Screenshot_2020-03-20-19-22-56-704_org mozilla fenix](https://user-images.githubusercontent.com/1593717/77195574-24c0f500-6ae2-11ea-8531-a6479b0ccffb.jpg)

[2020-03-20 18:48] gueroJeff opened #9290 "[Bug] Switching languages in-app doesn't override system language settings"
## Steps to reproduce

1. Open preferences.
2. Open language setting.
3. Select locale that is not part of the system languages (e.g., cak - Kaqchikel).

### Expected behavior
App UI should switch to the Kaqchikel localization.
### Actual behavior
Screen flashes, UI remains in preferred system language.
### Device information
Android 5.1.1
* Android device: ?
* Fenix version: build 20761805

[2020-03-20 18:58] cadeyrn commented on #9290
Do you use a dark Android and the light Fenix theme or a light Android and the dark Fenix theme? If yes, it's a duplicate of #7559 - the language switcher does not work if the Android and the Fenix theme do not match. I hope it will be fixed soon…

[2020-03-20 18:59] gueroJeff commented on #9290
I'm reporting this on behalf of a localizer. The screenshot he sent me appeared to be the light Fenix theme, but I can double check.

[2020-03-20 20:18] AaronMT opened #9291 "[Bug] Fix shortcutSearchEngineSettingsTest"
As far as I can test locally, it just needed a better scroll and to hide the soft keyboard.

[2020-03-20 20:25] AaronMT commented on #9287
@Baron-Severin Did you rebase, because the Nexus 6 (25) is not in use anymore currently. I also submitted a possible fix this morning #9263

[2020-03-20 20:28] AaronMT opened #9293 "Intermittent UI test failure - SettingsBasicsTest.toggleSearchSuggestions UI test"
This test relies on network access to fetch search suggestions (e.g, "mozilla") which can be intermittent based on network. The test should wait for async background operations.

fails with the following error: `The suggestion count is less than or equal to the minimum suggestions`

firebase log: https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matric

[2020-03-20 20:28] Baron-Severin commented on #9287
Strange. I haven't rebased since Wednesday, but this run was from this morning.  So it sounds like we can just remove the @ignore and close this.  Thanks @AaronMT!

[2020-03-20 20:29] AaronMT commented on #9291
https://github.com/mozilla-mobile/fenix/pull/9292

[2020-03-20 20:30] benjaminwolkchen opened #9294 "Delete Website-Data for specific domain"
### Why/User Benefit/User Problem
You can delete e.g the Cookies and Website-Data for only one Domain - without losing your logins for other domains.
### What/Requirements
A option when clicking e.g. on the SSL-Lock to delete all cookies for that specific domain.
### Acceptance Criteria (how do I know when I’m done?)
If you can clear all Cookies and Website-Data only for one specific domain.

[2020-03-20 20:34] dholbert commented on #6290
I hit this today as well, FWIW, and I'm using the pixel's built-in GBoard as my keyboard (not switfkey or any other custom keyboard).

My STR:
 (1) Have both https://www.reddit.com/r/firefox/ and https://www.reddit.com/r/firefox/comments/ in your autocomplete history (i.e. have visited both of those URLs before)
 (2) Visit the first (shorter) URL.
 (3) Tap the URL bar.

EXPECTED RESULTS: The (now-

[2020-03-20 20:44] csadilek commented on #8782
Thanks!

This makes sense considering the GV fix wasn't to stop calling `onLoadRequest` entirely for user initiated loads (which would have caused problems for other consumers), but to post it to a handler instead. However, we still need to complete the provided `GeckoResult` before the URL actually starts loading. So, all our code still runs before this happens. That's the interceptors and the no

[2020-03-20 20:49] kbrosnan opened #9295 "Way to approve contributer pull requests for automation"
Do to some configuration choices we do not run pull requests from people outside an approved group. It would be good to have some way to mark the PR as approved for testing.

Possibly a label or comment that triggers the automation?

Right now the only way I know of to run the automation would be to fork the users PR and submit a request under an approved member.

[2020-03-20 20:49] Paxani4you opened #9296 "[Bug] Sound lags"
## Steps to reproduce
Listen to music a browser, audio or radio is not important and  minimize browser or the lock phone screen, sound starts to lags, stutter.

When you close the tab with sound, the sound disappears after 5 seconds, and not immediately.

This bugs only in all fenix versions, bugs not In other browsers and firefox standard

### Expected behavior

### Actual behavior

### Device in

[2020-03-20 21:25] jmue opened #9299 "[Bug] Wrong website bottom bar position"
## Steps to reproduce
- set toolbar to top
- open a webpage that displays a bottom bar like welt.de and open some article
- swipe up throurgh the article

### Expected behavior
- the website bottom bar should be show at the bottom of the app

### Actual behavior
- the website bottom bar is placed above the noexistent bottom toolbar

### Device information

* Android device: Nokia 7.1
* Fenix versi

[2020-03-20 21:51] Baron-Severin commented on #8017
Note to QA: for various reasons, there have been a few changes to the spec:

- There will only be three bullet points for autoplay (the top one was dropped for now)
- Strings should match [this comment](https://github.com/mozilla-mobile/fenix/issues/8017#issuecomment-599802120)
- Because of [this bug](https://github.com/mozilla-mobile/fenix/issues/7507), muted autoplay is not currently working (al

[2020-03-20 23:25] mcomella commented on #6447
Related to this, on Matrix:

we're currently doing that for moz-phab ([bug 1621025](https://bugzilla.mozilla.org/show_bug.cgi?id=1621025)).  build is next; however mach already has some telemetry (not using glean)

See https://wiki.mozilla.org/Firefox/Data_Collection to get started.

[2020-03-21 00:21] smartfonreddit opened #9302 "Option to disable Full-Screen mode and always show the Browser Toolbar without having to scroll."
### Why/User Benefit/User Problem

1. Devices are getting increasingly larger. It makes sense for some users to prefer the convenience of not having to scroll a page every time they want to switch tabs, over losing a small real estate on the bottom.

2. As devices get larger, more users use their phones for main browsing, more multitasking, more tabs, more serious work. Inability to permanently ma

[2020-03-21 02:33] RadhiFadlillah opened #9303 "[Bug] Div with position:sticky doesn't respect its threshold"
## Steps to reproduce

I'm not sure how to put it in words, so I've made a [pen](https://codepen.io/radhifadlillah/full/NWqBJzG) to reproduce my issue. Open it in Firefox Mobile, then scroll to bottom.

### Expected behavior

Sticky elements should be respecting its threshold and not jumping around. Here is [screencast](https://thumbs.gfycat.com/UnrulyDiligentCony-mobile.mp4) where it works perfec

[2020-03-21 10:23] Poopooracoocoo commented on #9294
Fenix's page info sheet should be like the page info popup on Firefox for desktop! :D

current mobile:
![Screenshot_1584786065](https://user-images.githubusercontent.com/51363864/77224468-0c240e00-6bba-11ea-95ef-2ae5b5d8d688.png)

desktop:
![image](https://user-images.githubusercontent.com/51363864/77224441-cb2bf980-6bb9-11ea-9c7b-b5e91f17351d.png)

[2020-03-21 10:25] Poopooracoocoo commented on #9302
By "Status Bar" did you mean "Toolbar"?

[2020-03-21 10:26] Poopooracoocoo commented on #9283
there are heaps of typing issues btw

[2020-03-21 10:29] Poopooracoocoo commented on #4210
awesome this was done

[2020-03-21 10:31] Poopooracoocoo opened #9309 "Move Share in menu from an icon to a menu item"
### Why/User Benefit/User Problem
By moving Share to above the row of icons, you could place an icon to the most recently used app/device to share. This lets users share really quickly.

### What/Requirements
the above

### Acceptance Criteria (how do I know when I’m done?)
the above

[2020-03-21 12:58] 90du opened #9310 "[Bug]Commonly used website icon left and right space is not the same"
![Screenshot_2020_0321_205353](https://user-images.githubusercontent.com/35375370/77226897-bc901300-6bb6-11ea-9388-263cd5810cb7.png)

Commonly used website icon left and right space is not the same

[2020-03-21 16:48] TitanNano commented on #6973
@brampitoyo I think the snackbar fits better here. As you say, it is supposed to disappear after a couple of seconds and since it defaults to blocked it's not a permission prompt, but just a notification for the user.

[2020-03-21 16:58] TitanNano commented on #9169
This is kind of a dupe of #2371

[2020-03-21 22:10] #7761 closed

[2020-03-22 07:01] opusforlife2 opened #9313 "[Bug] about:config shows cryptic error"
## Steps to reproduce
Try to open about:config.
### Expected behavior
Fenix either opens it or tells you it's not available.
### Actual behavior
Weird URL in address bar and cryptic error shown on page.
URL:
[code]

### Device information

* Android device: Xiaomi Mi 5
* Fenix version: 4.1

[2020-03-22 10:51] nt1m commented on #7256
I think https://bugzilla.mozilla.org/show_bug.cgi?id=1408122 might already have fixed this on the GeckoView side. It landed in Firefox 75.

[2020-03-22 15:57] simonsteiner1984 opened #9314 "[Bug] dailymail.co.uk takes twice as long to load as samsung browser"
## Steps to reproduce
Open dailymail.co.uk

### Expected behavior
Loads in same time as samsung browser

### Actual behavior
Takes twice as long

### Device information

* Android device: Samsung j3 2017
* Fenix version: 4.1

[2020-03-22 16:25] asavill commented on #7720
Hey! Can I have crack at this :)?

[2020-03-22 22:50] brampitoyo commented on #4766
@LaurentiuApahideanSV Thanks for checking this on device.

I’m running a OnePlus One device with LineageOS 17. I realise that this is an aftermarket OS that only very few people would have! So, if the problem is not reproducible on other official OS, I would be okay with closing this issue.

[2020-03-22 23:22] kadmil opened #9315 "[Bug] Styles with height percents are working incorrectly"
## Steps to reproduce
open mobile.twitter.com, see bottom tabs exploding on half of the screen
![Screenshot_20200323-022150](https://user-images.githubusercontent.com/4445523/77265160-107d2380-6cad-11ea-89ce-208f42d601fe.png)
### Expected behavior
bottom tabs staying at the bottom of the page

### Actual behavior
tabs panel taking half of the screen

### Device information

* Android device: Pixel

[2020-03-22 23:23] kadmil commented on #9315
I've seen this on other sites as well, but I think Twitter is the easiest to reproduce on

[2020-03-23 04:08] Poopooracoocoo commented on #4235
@cadeyrn Why the thumbs down?

[2020-03-23 04:11] Poopooracoocoo commented on #9294
Reverse the items of desktop page info popup and you get something like a sheet :P

![image](https://user-images.githubusercontent.com/51363864/77278533-aea3d480-6d13-11ea-8230-45d888090d28.png)

for reference, here's fennec:
![image](https://user-images.githubusercontent.com/51363864/77251476-a6f81780-6ca2-11ea-9585-f739902ed23d.png)

it's strange that Fenix's page info sheet is Grey 10 of the Ph

[2020-03-23 06:50] AndiAJ commented on #8652
Hi, **verified as fixed** on the latest **`Nightly Build #20830607 from 3/23`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

► Video
![20200323-084507](https://user-images.githubusercontent.com/51314259/77289737-3c1b0080-6ce3-11ea-92a7-a08eeb37d0bc.gif)

[2020-03-23 06:50] #8652 closed

[2020-03-23 07:00] AndiAJ commented on #8248
Hi, **verified as fixed** on the latest **`Nightly Build #20830607 from 3/23`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

►Screenshots
![verif](https://user-images.githubusercontent.com/51314259/77290390-c4e66c00-6ce4-11ea-81bf-8a3f9bea4171.png)

[2020-03-23 07:00] #8248 closed

[2020-03-23 07:09] sv-sdeiac commented on #8899
Hi, I can confirm that this issue is fixed using the latest Firefox Preview Nightly 3/23 #20830607.

Devices:
- Google Pixel 3 (Android 10);
- Samsung Galaxy Tab S6 (Android 9);
- LG g7 fit (Android 8.1).

[2020-03-23 07:09] #8899 closed

[2020-03-23 07:17] AndiAJ commented on #8592
Hi, **verified as fixed** on the latest **`Nightly Build #20830607 from 3/23`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

►Screenshot
![rsz_1screenshot_20200323-091207](https://user-images.githubusercontent.com/51314259/77291538-23ace500-6ce7-11ea-8531-52919bb8763f.png)

[2020-03-23 07:17] #8592 closed

[2020-03-23 07:54] AndiAJ commented on #8491
Hi, I've re-checked this matter on the latest **`Nightly Build #20830607 from 3/23`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S6 (Android 7)
• OnePlus A3 (Android 6.0.1)

From my point of view the URL bar still doesn't match with the background gradient, on some devices it's quite obvious.
Nevertheless, @AmyYLee - could you

[2020-03-23 08:30] ValentinTimisica commented on #8491
@AmyYLee, note that for the toolbar background I used the solid color `#383372` from the [onboarding design page](https://app.abstract.com/share/e818c20f-6e49-4290-b7cd-a2c77adc9585?mode=build&selected=3923832091-935ABACB-9593-499B-95EF-ECFAC21F6601&sha=49a9ed6e7bfe7be97c2e47a45791f7008405af15).

[2020-03-23 08:35] lindongbin commented on #9313
It is time to enable about:config on all firefox version.

[2020-03-23 09:15] Mugurell commented on #7420
We could hardcode a tint for a specific Activity if we are sure the activity and it's icon would not change.
OR we could just roll our own icon, again hardcoded for a specific share to Activity.

[2020-03-23 09:18] sv-sdeiac opened #9316 "[Bug]The images for the "Take a position" card are not correctly mirrored on RTL"
### Prerequisites
The app is freshly installed or cleared data from android app settings.

## Steps to reproduce
1. Change the language from android settings to an RTL language;
2. Open the app;
3. On the Onboarding screen, observe the "Take a position" card.

### Expected behavior
The icons are displayed correctly in the RTL language.

### Actual behavior
The Radion button hovers the context from

[2020-03-23 09:35] sv-sdeiac commented on #8693
Hi, I can confirm that the radio button for the "Take a position" card on RTL language is displayed correctly but with the actual image, the radion button hovers the content from the displayed image.

Devices:
- Samsung Galaxy Tab S6 (Android 9);
- Google Pixel 3 (Android 10).

Build:
- Firefox Preview Nightly 3/23 #20830607.

### Notes:
![Screenshot_10](https://user-images.githubusercontent.com/4

[2020-03-23 09:35] #8693 closed

[2020-03-23 09:54] sv-sdeiac commented on #9243
Hi, I can confirm that this issue is fixed using the latest Firefox Preview Nightly 3/23 #20830607.
Now for both long-press on an opened tab or pressing on the "Save to collection" button doesn't display the fade-in animation.

Devices:
- Google Pixel 3 (Android 10);
- Samsung Galaxy Tab S6 (Android 9);
- LG g7 fit (Android 8.1).

[2020-03-23 09:54] #9243 closed

[2020-03-23 10:14] GitHubUserNameDuck commented on #2139
I created my first GitHub account for the sole purpose of supporting this feature request 😀

The 6 pillars of a great mobile web browser:
- Open source.
- Extensions (adblock).
- Native dark mode for web content. ⭐
- Great performance.
- Ability to play youtube videos in the background.
- Bottom address bar.

Here's Kiwi browser's dark mode, which you can change between grey and pitch black and an

[2020-03-23 10:27] GitHubUserNameDuck commented on #2139
I created my first GitHub account for the sole purpose of supporting this feature request 😀

The 6 pillars of a great mobile web browser:
- Open source.
- Extensions (adblock).
- Native dark mode for web content. ⭐
- Great performance.
- Ability to play youtube videos in the background.
- Bottom address bar.

Here's Kiwi browser's excellent dark mode, which you can change between grey, pitch black

[2020-03-23 12:11] AndiAJ commented on #8653
Hi, I've just checked this on the latest **`Nightly Build #20830607 from 3/23`** using a Google Pixel 3a (Android 10)

►Screenshot
![rsz_screenshot_20200323-134823](https://user-images.githubusercontent.com/51314259/77315241-dbee8380-6d0f-11ea-92f6-082b554730b1.png)

| Status  | Description| Remark|
| ------------- | ------------- |  ------------- |
| ✔️  |  Library |   |
| ✔️  | Add-ons  |   |
|

[2020-03-23 12:16] softvision-miralobontiu commented on #2400
@gaby2300 could you, please retry and see if this issue is still reproducible?
And could you also try using Fennec or Chrome?
Thank you!

[2020-03-23 12:19] abodea commented on #5678
Removing the `needs:STR` as there is no need for STR and both crashes were fixed.

[2020-03-23 12:49] sv-sdeiac commented on #8017
Hi, I can confirm that this issue is fixed using the latest Firefox Preview Nightly 3/23 #20830607.
Also, thanks @Baron-Severin for your information.

Devices:
- Google Pixel 3 (Android 10);
- Samsung Galaxy Tab S6 (Android 9);
- LG g7 fit (Android 8.1).

Additionally. I tested the "Block audio and video on cellular data only" option and it seems that this option is not working. The autoplay is st

[2020-03-23 13:36] abodea opened #9318 "[Bug] The Search Widget is not working as the "Problem loading widget" error is displayed (on Android 10)"
## Steps to reproduce
1. Launch Fenix and then reach the device home screen.
2. Long tap on the home screen and reach the widget section.
3. Add the Nightly search widget to the home screen.
### Expected behavior
The search widget is correctly displayed and it can be accessed.
### Actual behavior
The Search Widget is not working as the "Problem loading widget" error is displayed
### Device informa

[2020-03-23 13:57] lindongbin opened #9320 "[Bug] https://tieba.baidu.com cannot switch to desktop mode view page."
## Steps to reproduce

1. open https://tieba.baidu.com
2. enable desktop view mode

### Expected behavior

![Screenshot_2020-03-23-21-46-11-236_org mozilla fenix nightly](https://user-images.githubusercontent.com/3154109/77323953-fd239400-6d50-11ea-8d48-ae2c15bee6c7.jpg)

### Actual behavior

firefox preview just change the width of viewport, not show the real desktop mode page

![Screenshot_2020-

[2020-03-23 14:05] mcarare commented on #8571
@AndiAJ , can you recheck this? I cannot reproduce it anymore. TY!

[2020-03-23 14:06] codrut-topliceanu commented on #6290
@dholbert Thanks for looking at this issue.
However the actual results you specified are expected behaviour AFAIK. As the `comments/` highlighted part of the url is actually the fenix autocomplete suggestion. Just like if you were to write "goo" it would autocomplete to "google.com".

[2020-03-23 14:23] lindongbin commented on #9320
works on 3.10 nightly and before
not work on 3.12 nightly and later

[2020-03-23 14:24] betsymi commented on #8653
`Open in app`, please!

[2020-03-23 14:26] abodea commented on #9199
Note that for Nightly now the smaller preview icon elements are not fully displayed.
![image](https://user-images.githubusercontent.com/42831109/77326816-0990f800-6d23-11ea-848d-0f63bbb60e5f.png)

[2020-03-23 14:47] #8486 closed

[2020-03-23 14:50] lindongbin commented on #9320
https://zhidao.baidu.com does not work either

[2020-03-23 15:12] dbolter commented on #6558
Given the strategy shift in launch, @liuche do we have time to get this in?

[2020-03-23 15:17] sv-sdeiac opened #9323 "[Bug]The microphone icon for widget is not displayed on 2x1 size"
## Steps to reproduce
1. Long tap on the home screen of the android;
2. Set a widget for Firefox Preview Nightly;
3. Resize it to 2x1.

### Expected behavior
The widget has the Firefox Preview icon and the microphone icon displayed.

### Actual behavior
The widget has the Firefox Preview icon but doesn't display the microphone icon.

### Device information
Android device:
- LG g7 fit (Android 8.1)

[2020-03-23 15:29] owlishDeveloper commented on #6760
https://github.com/taskcluster/taskcluster/pull/2477

[2020-03-23 15:34] opusforlife2 commented on #9275
Also, simply opening the shortcut, then tapping back used to take you to the Fenix home page. Now it backs out of the app, forcing you to open at least one link to access the main browser UI.

[2020-03-23 15:50] AmyYLee commented on #8491
@AndiAJ @ValentinTimisica - Hi, can we revert back to the original? Apologies, the original ask was that the search bar background blends in with the homescreen background. If we are unable to do this (or it requires a lot more work) then my preference is to revert back to the original. Having it "similar" feel like it is a mistake. Thank you for the time in trying this out.

[2020-03-23 15:51] codrut-topliceanu commented on #8589
@eeejay

Do you mean it should be as a list view where the user has to navigate through the list's elements? I'm asking because there are sites were we have over a dozen or so blocked trackers.

[2020-03-23 15:51] Baron-Severin commented on #8017
I'm on PTO this week, @Amejia481 would you mind taking a quick look?  [This](https://bugzilla.mozilla.org/show_bug.cgi?id=1621825) is the BZ ticket, [this is the code](https://searchfox.org/mozilla-central/rev/7d0c94a0e9a9fe1f83553f49b10128567d21709d/dom/html/HTMLMediaElement.cpp#2766) that I thought blocked on cellular data.

The easiest approach here might just be to reenable our wifi logic.  Th

[2020-03-23 15:54] AmyYLee commented on #7420
"Copy to clipboard" doesn't seem to appear in the share sheet anymore.

[2020-03-23 15:59] eamsen commented on #8809
Thanks, @Amejia481. Can we get QA confirmation that this issue is fixed, so that I can close the GV bug?

[2020-03-23 16:00] AmyYLee opened #9325 "[Sharesheet] Can't see "ALL ACTIONS" is a scrollable menu"
Step to reproduce:

Open a website
Go to 3-dot menu
Tap on Share icon

Expected:
Can see that All Actions menu has more items to scroll

Actual:
You can't tell that it's a scrolling menu

<img width="413" alt="Screen Shot 2020-03-23 at 11 58 11" src="https://user-images.githubusercontent.com/5992746/77336240-9f199100-6cfd-11ea-85fc-c76115a0947b.png">

Please use (for dark theme):
Grey 80 #1C1B22 f

[2020-03-23 16:20] Amejia481 commented on #8017
No problem I can take a look!

[2020-03-23 16:22] abodea opened #9326 "Add the possibility to filter the saved logins Alphabetically or after Recently used"
### Why/User Benefit/User Problem
As a Fenix user, I want to be able to filter the saved logins Alphabetically or after Recently used
### What/Requirements
Implement the ability to filter the saved logins Alphabetically or after Recently used.
Add a drop-down with those 2 options when tapping on the `Saved Logins`.
### Acceptance Criteria (how do I know when I’m done?)

[2020-03-23 16:23] Mugurell commented on #7420
As Emily said, this functionality is provided through another application that the user has installed.
She could have none or even more applications installed that would support "copy to clipboard".

Thinking about this.. gathering a list of such apps is not really feasible time wise.
Then we would not have any kind of control in how/when those apps change their "copy to clipboard" icon.

We could

[2020-03-23 16:25] abodea commented on #8869
Verified as fixed based on the comment from above.
I will also, remove the `needs:STR` label.

[2020-03-23 16:25] #8869 closed

[2020-03-23 16:28] sflorean commented on #9320
Works on the latest Nightly with Google Pixel (Android Q) - both pages. @lindongbin what device do you have?

[2020-03-23 16:34] Amejia481 commented on #8809
We need Fenix to update to a new version of AC that contains the changes and this pr that depends on it https://github.com/mozilla-mobile/fenix/pull/9324 to land.

[2020-03-23 16:49] sblatz opened #9328 "[Meta] Add onboarding cards to homescreen as Tips"
As a user, I'd like a non-intrusive way to learn more about features in the app. Having onboard styled cards on my homescreen when I enter the app could be a lightweight way to learn these features!

## Acceptance Criteria
* Tips display in a "smart" fashion... don't show tips for features users have already engaged with
* Tips should be short in text & provide calls to action, allowing users to d

[2020-03-23 17:01] MarcLeclair opened #9329 "Investigate performance of Showing the keyboard"
One of our non-start up user flows is the performance of showing the keyboard.  This needs to be evaluated to determine whether it is acceptable.

[2020-03-23 17:05] gabrielluong commented on #9286
Taking on the AC changes. 👍

[2020-03-23 18:36] ekager commented on #7256
Can reproduce on Nightly with GV76
STR:
1. Be in dark mode
2. Launch search screen, select DDG as search engine, and search something

[2020-03-23 19:36] asavill commented on #7720
@sblatz I created a PR for this :). Tried to work with youR ideal talkback criteria, but struggled with the ordering. Ended up with "Enhanced tracking protection ON, switch" (so the supplementary text is omitted).

[2020-03-23 20:54] AmyYLee opened #9332 "[Share] Share sheet implemented not according to spec"
Hi,

The share sheet has has horizontal scroll instead of a vertical scroll layout. Please reference original spec for guidance (@topotropic):

https://mozilla.invisionapp.com/share/PSQFWZ1Y4W8#/screens/346059768

1. "Recently Used" should be it's own row with no grey background
2. "All Actions" should be the next row under it separated by a hairline above with vertical scroll (like native android

[2020-03-23 20:55] AmyYLee commented on #9325
Closing this issue since it's covered in another issue. https://github.com/mozilla-mobile/fenix/issues/9332

[2020-03-23 20:55] #9325 closed

[2020-03-23 21:08] agi90 opened #9333 "[Bug] Fenix should specify `noCompress 'ja'`"
The `omni.ja` file contains all the javascript code that GeckoView uses internally. Right now the `omni.ja` file is compressed in the APK. This causes GeckoView to uncompress the omni.ja file in memory before it can start doing anything else. This takes a long time, on some profiles it delays startup by about 400ms.

We should specify `noCompress 'ja'` in the `aaptOptions` to avoid that.

See also

[2020-03-23 21:23] swejuggalo opened #9334 "[Bug] Enhanced tracking protection - exceptions"
Tried to find this reported but could not find it. So here it is.
## Steps to reproduce
Add some exceptions. Remove one in settings.
### Expected behavior
Removal of one exception rule
### Actual behavior
Removal of all exceptions
### Device information
OnePlus 7 Pro
* Android device: Oxygen OS beta 11 (Android 10)
* Fenix version: Nightly 200323 10:21 (Build #20831027)

[2020-03-23 21:28] sblatz commented on #9256
QA: please test this with an *organic* install. Please let me know what Google ad ID you have so I can clear it from adjust!

[2020-03-23 21:38] kglazko commented on #7077
For the first PR towards this isse, we are only hiding 'https/http' and 'www' and not shortening/abbreviating any part of the string with ellipses. When testing, please verify that.

[2020-03-23 21:41] brampitoyo commented on #8759
@mcarare @ekager Hmm. Apparently the Share sheet isn’t yet implemented according to spec. See #9332.

The spec doesn’t have “Recently used” or “All actions”. Instead, it calls for a section called “Share a link”.

[2020-03-23 21:42] mstange commented on #9333
I confirmed that this does the trick:

[code]

[2020-03-23 21:44] brampitoyo commented on #9332
Clarification question for @AmyYLee and @topotropic: does the “Share a link” section have a certain ordering of items?

For example, “Copy link” seems to be the first item. Is it always the first item in all situations?

The app icons that come after “Copy link”, do they get sorted by recently used, alphabetical, etc.?

[2020-03-23 21:47] mstange commented on #9333
Profile: https://perfht.ml/2xWfiAq

(After this, the biggest remaining pieces are now https://bugzilla.mozilla.org/show_bug.cgi?id=1618391 (300ms) and https://bugzilla.mozilla.org/show_bug.cgi?id=1621340 (130ms).)

[2020-03-23 21:49] emalysz opened #9335 "[Bug] Collections Padding"
## Steps to reproduce
Add a few different collections
Start expanding and collapsing tabs

### Expected behavior
The padding will remain consistent

### Actual behavior
The padding changes somewhat randomly. Sometimes it will be a condensed version, other times the bottom and top will be padded, other times only one will have padding.

### Device information
Pixel2

Here are two screenshots:
![Scr

[2020-03-23 21:53] cadeyrn commented on #9332
https://mozilla.invisionapp.com/share/PSQFWZ1Y4W8#/screens/346059768 is an outdated spec, no? It still shows the "sessions" concept which no longer exists in Fenix, so it's a very old mockup. This mockup does not have a section for "recently used" at all. This feature was added in #4231 and there is a much newer mockup: https://app.abstract.com/share/e1a39a6b-2c3e-4fc4-b46c-0c78ec491112?mode=desig

[2020-03-23 22:00] liuche opened #9336 "DefaultSearchController navgraph crash"
Filing from Sentry crash report: https://sentry.prod.mozaws.net/operations/fenix/issues/7566392/
[code]

* Android device: any
* Fenix version: first appears in 4.1

[2020-03-23 22:44] lindongbin commented on #9320
Changed description, not the site is not working, it is the desktop mode that is not working on a particular site

[2020-03-23 22:52] jonalmeida opened #9338 "Remove nightly-only feature flag for WebPush"
Once [bug 1619778][0] lands in GeckoView beta (76+), we can remove [the feature flag][1] from Fenix and let it ride the trains.

The next GV beta is scheduled for April 7th.

[0]: https://bugzilla.mozilla.org/show_bug.cgi?id=1619778
[1]: https://github.com/mozilla-mobile/fenix/blob/9feb44852b3970d94de9acaccfb797c20e65ae95/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt#L62-L69

[2020-03-23 23:22] AmyYLee commented on #9332
@topotropic - Can you provide feedback/guidance? It looks like this was a temporary fix.

[2020-03-23 23:39] emalysz opened #9339 "[Bug] Youtube full screen has nav bar flicker"
## Steps to reproduce
Select a youtube video and click full screen

### Expected behavior
A seamless transition that happens as soon as possible.

### Actual behavior
The full screen video is shown, the nav bar then disappears and leaves a giant white gap. This causes a flicker that takes away from perceived performance.

### Device information
Pixel 2, FF is in dark mode, device is using dark the

[2020-03-23 23:47] emalysz opened #9340 "[Bug] Full screen video causes entire UI to flicker"
## Steps to reproduce
Navigate to cnn.com, click on a video

### Expected behavior
Seamless transition to full screen video.

### Actual behavior
It will expand the video, then disappear, and then expand again. This is a very choppy experience and impacts perceived performance.

### Device information
Pixel2

[cnnFullScreen.mp4.zip](https://github.com/mozilla-mobile/fenix/files/4372416/cnnFullScre

[2020-03-23 23:53] emalysz opened #9341 "Investigate performance of video use case"
_edit (mcomella)_: I expanded the scope of the bug to be all video use cases.

One of our non-start up user flows (detailed in #7380) is the performance of video, and one component of that would be making videos full screen.

I have filed the following issues that impact the perceived performance:

- https://github.com/mozilla-mobile/fenix/issues/9339: The bottom nav bar has an obvious flicker whe

[2020-03-24 00:16] dholbert commented on #6290
No, they aren't the expected behavior.

I do understand that `comments/` is added as an autocomplete, but the point of this bug (I think) is that we should *not* directly autocomplete-extend the contents of the URLbar until the user types something.  If the user simply taps the URLbar, they rightly expect us to show them an editable field which contains the current URL.  (On the other hand, if the

[2020-03-24 01:13] liuche commented on #8125
@ekager if you have time this week or next, could you wrap this up? This sounds like something that has been on the perf team's radar for a while.

[2020-03-24 01:14] liuche commented on #7795
Update here: We'll be rolling out 4.2 with GV Beta 75, which does not have the experiment enabled.

[2020-03-24 01:15] liuche commented on #8068
Closing this, as we chatted with David.

[2020-03-24 01:15] #8068 closed

[2020-03-24 01:16] liuche commented on #6610
This looks like it's already done for Fennec Beta, and there's no point in having this bug so long-lived. We can file again for release.

[2020-03-24 01:16] #6610 closed

[2020-03-24 01:24] ekager commented on #8125
Yep for the non defaults I can add what @ecsmyth was describing. For the defaults @gabrielluong and I are working on https://github.com/mozilla-mobile/fenix/issues/9286 which will make default telemetry much easier.

[2020-03-24 01:33] #9116 closed

[2020-03-24 01:33] #8516 closed

[2020-03-24 01:33] liuche opened #9343 "Releng for 4.2"
## Overview ##

| Monday          | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|-----------------|---------------------------|------------------------------|----------------|-------------|
| (Sprint 1 Start)|                           |                              |                |             |
|                 | Hard code freeze for Beta |

[2020-03-24 01:35] liuche commented on #9343
[#9343, #9334, #4766, #9256, #9331, #6317, #9292, #7761, #8653, #8899, #9243, #8652, #9177, #8248, #8978, #8592, #9255, #9136, #9253, #8693, #9262, #9263, #8491, #9251, #9254, #7450, #9259, #9248, #8600, #8591, #9140, #9200, #8814, #9217, #7661, #3086, #9187, #9087, #8808, #9139, #9176, #9050, #8561, #8773, #8942, #9104, #9130, #9076, #9077, #8949, #8897, #8800, #8474, #8908, #9091, #7087, #8017,

[2020-03-24 01:35] kbrosnan commented on #9116
Add APKs to the releases page? https://github.com/mozilla-mobile/fenix/releases/tag/v4.1.0

[2020-03-24 02:46] andrecc-7 opened #9345 "(Features) Bookmarking"
Just a list of features firefox lacks related to bookmarks:

- It's not part of firefox settings the default folder where bookmarks should go.
- There are too many top-level bookmark folders (Other Bookmarks, Bookmark Menu, Bookmark Bar, Mobile Bookmarks).
- There is no way to set if bookmarks should go on top or how they should be ordered by default (people may want them sorted by dates, but some

[2020-03-24 02:56] AaronMT opened #9346 "Add ViewVisibilityIdlingResource for Reader View UI tests"
The UI tests rely on Reader View detection via the blue dot notification. Use a ViewIdlingResource to wait until view is visible.

[2020-03-24 03:22] andrecc-7 opened #9348 "[Bug] Collections dependance on keyboard"
I use a keyboard app that doesn't have implemented the done button; so after writing the name of a collection I cannot create the collection. I think firefox shouldn't depend on a keyboard feature. But that's just an opinion. Could you solve this in a future update?

<img src="https://user-images.githubusercontent.com/56041659/77385007-ce241700-6d7e-11ea-988e-0313a17b6e7e.png" width=200>

[2020-03-24 03:29] liuche commented on #9136
@magorlick confirmed she can see these fields now, so closing this as done.

[2020-03-24 03:29] #9136 closed

[2020-03-24 03:35] liuche commented on #9343
Polish, crashfixes, ETP bugfix
accessibility improvements
Searchable logins
Toolbar enhancements

[2020-03-24 06:14] itzXian opened #9349 "[Bug] the Snackbar(Bookmark saved! Edit) does not show up."
## Steps to reproduce
Favorite a site while using Bottom Toolbar
### Expected behavior
There should be a tip **Bookmark saved! Edit**.
### Actual behavior
There is nothing show up.
### Device information

* Android device: realme X
* Fenix version: 4.1.0

![1585029837168](https://user-images.githubusercontent.com/34748039/77394177-a6ae6800-6dd9-11ea-957d-47068d7394d9.png)

[2020-03-24 06:43] pavi2410 opened #9350 "Add a "little diagonal arrow" button to apply the URL/search suggestion in the URL bar"
### Why?
The Google Search, Chrome and YouTube apps have this icon and it serves as a good utility when one wants to "extend" or modify a suggestion.

https://ux.stackexchange.com/questions/112605/help-identifying-up-left-arrow-android-material-design-icon-usage

[2020-03-24 06:43] cadeyrn commented on #9345
Let's say they want to implement one of your requests but another request is a WONTFIX. How should they label this issue? You should file one feature request per issue.

[2020-03-24 06:46] cadeyrn commented on #9343
It's already a feature of 4.1.

[2020-03-24 07:01] itzXian commented on #9349
Alright, I just found that it was already fixed in **Firefox Preview Nighgly 200323 18:01**.

[2020-03-24 07:01] #9349 closed

[2020-03-24 07:59] AndiAJ opened #9351 "[Bug]Confirmation snackbars aren't displayed on Beta 4.2.0-beta.1"
## Steps to reproduce
1. Navigate to CNN.com
2. Long tap on the featured news image.
3. Tap on "Open link in new tab"

### Expected behavior
A "New tab opened" + "Switch" (button) confirmation snackbar is displayed.

### Actual behavior
No confirmation snackbar is displayed.

### Device information

* Android device:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (An

[2020-03-24 08:54] AndiAJ opened #9352 "[Bug]"Open in App" Menu captialization"
## Steps to reproduce
1. Navigate to any webpage
2. Tap the ⋮ Main menu

### Expected behavior
As per [this discussion](https://github.com/mozilla-mobile/fenix/issues/8653#issuecomment-602627888) we should have `"Open in app"` (lower case 'a')

### Actual behavior
Currently we have "Open in App" (uppercase 'a')

### Device information

* Android device: all

* Fenix version:
Nightly Build #2084060

[2020-03-24 08:55] AndiAJ commented on #8653
Hi, in this case I'll mark this ticket **verified as fixed** on the latest **`Nightly Build #20840606 from 3/24`** and **`Fenix Beta 4.2.0-beta.1 from 3/24`** using the following devices:
• Google Pixel 3a (Android 10)
• OnePlus A3 (Android 6.0.1)

►Screenshots from both **`Nightly`** (left side) & **`Beta`** (right side)
![BetaNight](https://user-images.githubusercontent.com/51314259/77405968-99c

[2020-03-24 08:55] #8653 closed

[2020-03-24 09:11] sv-ohorvath commented on #9343
https://github.com/mozilla-mobile/fenix/issues/9334 didn't make it in Beta, changes are only on Nightly.

[2020-03-24 09:44] AndiAJ opened #9354 "[Bug]Failed download after resuming it"
## Steps to reproduce
1. Navigate to https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/project.mobile.fenix.v2.nightly.latest/artifacts/public/build/armeabi-v7a/geckoNightly/target.apk and confirm the download.
3. Pause the download
4. Resume the download

### Expected behavior
The download should be properly resumed.

### Actual behavior
The download fails after resume.

### Device inf

[2020-03-24 09:46] mcarare commented on #9332
@topotropic I think we should also consider having the option to remove apps from recent list.

[2020-03-24 09:48] sv-ohorvath commented on #7077
Verified this is fixed in Beta 4.2.

[2020-03-24 09:49] #7077 closed

[2020-03-24 10:01] SyntaxErrol opened #9355 "[Bug] Cannot log in to (Microsoft) Mixer app"
## Steps to reproduce
1. Set Firefox Preview as the default browser
2. Download Mixer https://play.google.com/store/apps/details?id=com.mcprohosting.beam&hl=en
3. Open Mixer and try to log in with a Microsoft/Xbox Live accont

## Expected behavior
You are logged in to Mixer.

## Actual behavior
You are taken to the Goole Play store page of Mixer. Setting the device default browser temporarily to C

[2020-03-24 10:18] andrecc-7 commented on #9345
I'll separate each request.

[2020-03-24 10:18] #9345 closed

[2020-03-24 10:29] AndiAJ opened #9356 "[Bug]Trembling navigation through Bookmarks folders"
## Prerequisites
•  Shouldn't be signed in to sync.
•  Have a couple of Bookmarks folders created
E.g. Mobile Bookmarks>A>B>C>D>E

## Steps to reproduce
1. Navigate through the folders (back and forth)

### Expected behavior
Smooth navigation through the folders.

### Actual behavior
Trembling navigation through the folders.

### Device information

* Android device: OnePlus A3 (Android 6.0.1)
* F

[2020-03-24 10:30] andrecc-7 commented on #9345
Should I post it somewhere related to desktop, because the bookmark system on mobile is more of a lite version of the system on desktop?

[2020-03-24 10:46] minutesinch opened #9357 "Add pause and resume button for downloads"
### Why/User Benefit/User Problem
users need pause and resume button in download mager part in browser
### What/Requirements
a pause and resume buttons and working well
### Acceptance Criteria (how do I know when I’m done?)
just try save a file near 100 mb and when download near 20mg or 50 mg try to pause, after a few second(at least 10 second) try to resume,
do this and replace with minutes and h

[2020-03-24 10:53] AndiAJ commented on #8571
Hi @mcarare , unfortunately this is still reproducible on both **`Fenix Nightly Build #20840606 from 3/24`**
and **`Fenix Beta 4.2.0-beta.1 from 3/24`** using a OnePlus A3 (android 6.0.1)

[2020-03-24 11:16] mollie84 opened #9358 "[Bug] [Regression] Some elements on websites not click-able anymore"
First, thanks for making Firefox. Also, thanks for bringing it to Android.

However, I wish you guys wouldn't break things with every new release. It's bad if one can't rely on the quality of your app. And unfortunately one cannot at this stage.

So here is what happened: I updated from Firefox Preview  4.0 to 4.1

Now certain elements - precisely the left side menu - of a website I use are not fu

[2020-03-24 11:26] ValentinTimisica opened #9359 "[Bug] Change toolbar gradient"
This is a follow up to #8491.

In this [comment](https://github.com/mozilla-mobile/fenix/issues/8491#issuecomment-602687725) it was decided that the proposed solution is not optimal and should revert to the old implementation.

[2020-03-24 12:48] Hubfront commented on #9275
In Fenix nightly, i cant find a back button at all, only a forward button. As a Samsung user, with one ui 2.0, i can can gesture backwards. With firefox mobile, this works as expected and the browser navigates to the previous page of the current tab, but with Fenix nightly, i just land on the "home screen" which only shows the opened tabs.

[2020-03-24 12:49] AndiAJ commented on #9127
Reproducible on Fenix Beta 4.2.0-beta.1 using a OnePlus A3 (Android 6.0.1)

[2020-03-24 13:12] #9359 closed

[2020-03-24 13:16] ValentinTimisica commented on #8491
Closing this because the patch has been reverted in #9359.

[2020-03-24 13:16] #8491 closed

[2020-03-24 13:23] Amejia481 commented on #9218
Does disabling tracking protection fix the issue?

[2020-03-24 13:32] softvision-miralobontiu commented on #6317
Verified as fixed on the latest Nightly build from 3/24, and on Beta 4.2.0-beta.1, with OnePlus 5T (Android 9), and on Sony Xperia Z5 Premium (Android 7.1.1).

[2020-03-24 13:32] #6317 closed

[2020-03-24 13:47] softvision-miralobontiu commented on #4766
Verified on the latest Nightly from 3/24, and on Beta 4.2.0-beta.1, with OnePlus 5T (Android 9), and the issue is not reproducible.
I will flag this issue as QA:verified and close it.

[2020-03-24 13:47] #4766 closed

[2020-03-24 14:17] softvision-miralobontiu commented on #9351
Also, the "Added to top sites!" snackbar is not displayed on Beta 4.2.0-beta.1. Tested with Google Pixel (Android 10), OnePlus 5T (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).

[2020-03-24 14:37] sv-ohorvath commented on #8017
@liuche FYI, this has landed on Beta with a defect, see https://github.com/mozilla-mobile/fenix/issues/8017#issuecomment-602569535.

[2020-03-24 14:47] #9346 closed

[2020-03-24 15:08] softvision-miralobontiu commented on #7094
The prompt is still displayed after selecting "Don't save".
Tested on the latest Nightly build from 3/24 (#20840606), and on Beta 4.2.0-beta.1 with OnePlus 5T (Android 9).

[2020-03-24 15:14] csadilek commented on #9333
Thanks @agi and @mstange! Opened a PR with you as authors :) https://github.com/mozilla-mobile/fenix/pull/9363

[2020-03-24 15:18] sv-ohorvath opened #9364 "[Crash] Crash when blocking app permissions and returning to the app"
## Steps to reproduce
1. In Fenix go to Settings>Site permissions, open one of the options.
2. Either open System settings>Apps>Fenix>Permissions and *block a permission*.
3. Either do this by pressing the "Go to settings" button from the app, on a permission blocked by Android. Change some permissions.
4. Return to the app.

Note that this only happens if a permission is turned off.

### Expected

[2020-03-24 15:27] sflorean opened #9365 "[Bug] Menu not reversed if the toolbar position is changed to top (opened from Fenix homescreen)"
## Steps to reproduce
1. Open Fenix and go to Settings-> Customize - Toolbar.
2. Set to "Top".
3. Go to the home screen.
4. Tap on the three-dot menu.

### Expected behavior
The menu is reversed.

### Actual behavior
The menu is displayed the same as for toolbar position to bottom.

### Device information

* Android device: Samsung Galaxy Note10 (Android 9.0), Xiaomi Mi Pad 2 (Android 5.1).
* Feni

[2020-03-24 15:56] lwa-moz commented on #8974
Updating this issue with feedback from Leanplum support:
"I have inspected the logs for this specific message and user and here is the error that is generated:

Status:ERROR||NotificationId:b054aaf0-5807-4202-a42c-4355c8432cc5|Users:43222ab4-acbd-405b-9464-9cc1ccb2bde7|SuppressionReason:GCM_MISMATCHED_SENDER_ID|ThrottlingAdjustment:0|AppId:5094741967896576|Attempt:0|Stage:SEND_RESULT|MessageId:889

[2020-03-24 16:21] st3fan commented on #8974
@jonalmeida  @JohanLorenzo is it possible that we use the Fenix Nightly key here instead of the Fennec Nightly key? I wonder if those keys are bound to an app identifier, and if we use the same GCM key for both org.mozilla.fennec_aurora and org.mozilla.fenix.nightly then that may not work?

[2020-03-24 16:27] sflorean opened #9366 "[Bug] Progress bar indicator doesn't reach the end while the page is loaded"
## Steps to reproduce
1. Open Fenix and go to cnn.com (or planet.mozilla).
2. Check the progress bar.

### Expected behavior
The progress bar is correctly displayed while the page is loaded.

### Actual behavior
The progress bar stops at 75-80% and then disappears.

### Device information
* Android device: Samsung Galaxy Note10 (Android 9.0), Xiaomi Mi Pad 2 (Android 5.1).
* Fenix version: Beta v4

[2020-03-24 16:45] asavill commented on #8589
Is this related to https://github.com/mozilla-mobile/fenix/issues/7720 ?

[2020-03-24 17:10] st3fan opened #9368 "[Bug] Device name is reset to default everytime I update the app"
Steps to reproduce:

On Firefox Preview for Android I changed Device name in Account settings, then I updated the app.

Actual results:

Device name is reset to default.

Expected results:

Device name should've been kept the same as the last time I changed it.

[2020-03-24 17:18] AndiAJ commented on #9256
Hi, I've check this matter on both the latest **`Nightly Build #20840606 from 3/24`** and **`Beta 4.2.0-beta.1 from 3/24`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

## OnePlus A3
► Adjust ID - **`cd4ee9bf-88c1-40cb-b3b1-43b2ff0239e3`**
![rsz_screenshot_20200324-175540](https://user-images.githubusercontent.com/51314

[2020-03-24 17:23] Amejia481 commented on #9364
Looking through the logs, Fenix is trying access a property that is null.

[code]

[2020-03-24 17:25] emalysz opened #9369 "Investigate "Save To Collection" responsiveness"
A non-startup user flow, as detailed in #7380, that we need to investigate the performance of is saving tabs to a collection. A part of that experience is the "Save to collection" responsiveness. We need to investigate how efficient our current approach is.

- One way to improve the responsiveness is to optimize the layout of CollectionCreationView: #9626

[2020-03-24 17:28] cadeyrn commented on #9368
sounds like #8246.

[2020-03-24 17:28] emalysz commented on #9369
The tabs are loaded async and appear after the header/bottom "Select tabs to save" field. One thing I notice is that we display the bottom tabs first. One thing I'm going to investigate is if this is the most efficient way to display our tab list, since this probably means we have to load all of our tabs when navigating to this screen.

[2020-03-24 17:59] csadilek commented on #8782
We have looked into this now.

The notifications of our observers in `onLoadRequest` do not consume any significant time anymore. The remaining or new problem here is that GV now posts the `onLoadRequest` calls to a handler, which gives other UI code a chance to run **before** the URL starts loading. This is code that originally would have run **after** the URL started loading and explains the new

[2020-03-24 18:01] #9368 closed

[2020-03-24 18:18] kolaente opened #9371 "[Bug] Bottom elements on websites are incorrectly positioned when address bar is hidden"
## Steps to reproduce

1. Set the address bar position to top.
2. Go to a website with a bottom bar of some kind, I observed this at https://dev.to/fy09/golang-why-doesn-t-string-type-inherit-all-the-methods-of-strings-package-5ag2
3. Scroll a bit to the bottom to hide the address bar

### Expected behavior

The bottom elements on the website stay at the bottom of the screen

### Actual behavior

[2020-03-24 18:25] agi90 commented on #8782
Discussed with @snorp and @csadilek on slack, we're gonna call `onLoadRequest` synchronously instead of posting it to the UI thread and give a way to the app to know if the request came from the app itself or from somewhere else.

Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1624675

[2020-03-24 18:25] Mugurell commented on #3262
I was looking into this today and saw that Tiger (and others) did an awesome job and we already have a functional pull down to refresh feature in the app.

But there is still a rather important issue remaining: pages that are already scrolled to the top but contain scrollable content.
Because of the current implementation our `SwipeRefreshLayout` races async with GeckoView to handle the scroll.
On

[2020-03-24 18:27] Amejia481 commented on #8017
This pr https://github.com/mozilla-mobile/fenix/pull/9372  should fix the issue.

[2020-03-24 18:30] Cheap-Skate commented on #9088
I still have the left justification problem on today's Fenix, should I open a new issue? [I'm not sure what your comment https://github.com/mozilla-mobile/fenix/issues/9088#issuecomment-597651645 was referring to]

cheers

Galaxy A40, Android 9
Today's Fenix Nighly

[2020-03-24 18:46] liuche commented on #6976
Sounds like we should fix this in AC, not overriding the behavior. This sounds like a bug in the out-of-the-box behavior, if no browser actually wants to have this behavior.

[2020-03-24 19:13] st3fan opened #9374 "Error page for malicious website warning does not properly substitute website hostname"
Reported for an Italian locale, but probably safe to assume it doesn't work in general then?

![Screenshot_20200324-193439](https://user-images.githubusercontent.com/28052/77466936-6f43b980-6de1-11ea-8386-73be58dad5de.jpg)

[2020-03-24 19:14] sblatz commented on #9256
@AndiAJ thanks so much for this thorough log. This all looks right to me! 😄

Going to follow up with Marissa to make sure this looks right on her end.

[2020-03-24 19:15] DrCesar opened #9375 "Recent Share apps Feature"
Add Delete functionality for recent apps. Mostly that someone in fenix can delete the recently used apps from the list.

[2020-03-24 19:16] jonalmeida commented on #9375
@DrCesar I've moved your issue to Fenix since this looks like a feature request.

[2020-03-24 19:27] Amejia481 commented on #8809
@sv-ohorvath would you mind retesting it?

[2020-03-24 19:48] cadeyrn commented on #9374
Duplicate of #9158.

[2020-03-24 19:55] ekager commented on #9364
@Amejia481 I think we can just move the `showToolbar(phoneFeature.getLabel(requireContext()))` to the end of `onResume` to resolve this?

[2020-03-24 20:21] Amejia481 commented on #9364
Thanks that fix the issue :)
I opened this pr for it https://github.com/mozilla-mobile/fenix/pull/9378

[2020-03-24 20:46] mcomella commented on #8399
Triage: we should get some help from the Fenix team on this one.

[2020-03-24 21:06] mcomella commented on #8387
Triage: 100 MB flow doesn't look too bad and (with no supporting data) that's the largest reasonable file upload size so putting to Low Impact for now.

[2020-03-24 21:08] mcomella commented on #9339
Perf triage: this is a nice to have so we'd like the Fenix team to take a look if possible. For us, we're focused on "Must have"s at the moment so placing in Low Impact.

[2020-03-24 21:08] mcomella commented on #9340
Perf triage: this is a nice to have so we'd like the Fenix team to take a look if possible. For us, we're focused on "Must have"s at the moment so placing in Low Impact.

[2020-03-24 21:11] Amejia481 commented on #9364
@sv-ohorvath would you mind re-testing?

[2020-03-24 21:43] andrecc-7 opened #9380 "[Bug] File types not supported > Download failure"
## Steps to reproduce
Upload .txt file to firefox send.
Download the file from firefox send.
(There are a few more types who fail, but for now I only tested in firefox send this)

### Expected behavior
Download success.

### Actual behavior
Download failure.

// You developed an entire browser, but it cannot download a .txt, even though .pdf are ok? I don't mean to be rude, but this lowers expecta

[2020-03-24 21:50] areeshatariq opened #9381 "[Bug] Unable to save/ download image"
## Steps to reproduce

- Search using **Google Images**
- Long-press an image
- Click **Save image**
- Open an image
- Long-press the image

### Expected behavior

- When a user opens and long-presses an image, a pop-up appears to download the image
- When the 'Save image' is selected from the pop-up, the image is downloaded

### Actual behavior

- When a user long presses an image and clicks ‘Sav

[2020-03-24 21:54] andrecc-7 commented on #2579
This bug can also be reproduced in "firefox send" with simple .txt files.

[2020-03-24 22:02] andrecc-7 commented on #9380
It's one of the top issues xd... (closing this dup)

[2020-03-24 22:02] #9380 closed

[2020-03-24 22:07] BranescuMihai commented on #6269
@darkwing I think that is the expected UI. If you're on a language with no translation for 'Search or enter address' string, it will show up in English, but now it has some padding.

[2020-03-24 23:08] mcomella opened #9382 "Investigate if there are deps/assets we can leave uncompressed to improve performance"
In https://github.com/mozilla-mobile/fenix/pull/9363/, we identified that compressing `omni.ja` slows down performance. What other dependencies/assets might we leave uncompressed to improve performance?

@snorp Do you have any ideas?

[2020-03-24 23:10] #9333 closed

[2020-03-24 23:10] mcomella commented on #9333
@csadilek Any QA labels needed here?

[2020-03-25 00:02] BranescuMihai commented on #8643
@apbitner @AmyYLee could you please add the abstracts for dark/light mode for this screen? All colours in our code are connected and I want to check if any of the other two should also be modified.

[2020-03-25 00:22] mcomella commented on #8826
@emalysz What's this waiting on again?

[2020-03-25 01:50] emalysz commented on #8826
@mcomella we were waiting to see if the perceived performance is worth the change cc @ecsmyth

[2020-03-25 03:24] theFireProjet opened #9385 "[Bug] Button animations on address bar not working"
## Steps to reproduce
Hold down the 'New tab' and the 'Menu' button on the tabs page as well as the Enhanced Tracking Protection (shield) button and the website info (lock) button on a website to inspect their button animations.

### Expected behavior
Button animations should be visible underneath the button, but on top of the layer behind that button, so they should be **directly** behind the but

[2020-03-25 04:05] yoasif opened #9386 "[Bug] Twitter play icons on videos are misshapen (oval instead of round)"
## Steps to reproduce

1. Navigate to https://mobile.twitter.com/joshuaray/status/1242441412500525062
2. Scroll down to videos

### Expected behavior

Round play icons.

### Actual behavior

Oval sized play icons.

![signal-attachment-2020-03-25-000059](https://user-images.githubusercontent.com/152493/77500652-13eae900-6e2c-11ea-8086-24b3800f9033.png)

I cannot reproduce this in the GeckoView Exam

[2020-03-25 04:16] theFireProjet opened #9387 "[Bug] Crash on long-pressing one of the bottom 4 buttons in menu ('Add to bookmarks' 'Share' 'Page forward' 'Reload')"
Issue #8881 reopened because problem still occurs:

## Steps to reproduce
Open the menu (three dots icon, on the right side of the address bar) when on a web page. Hold down one of the 4 buttons at the bottom without text description (f.e. the reload button) for about one or two seconds.
(Not just tap and release the button quickly. Long-press the button, hold it, don't release your finger from th

[2020-03-25 04:33] theFireProject opened #9388 "Shortcut on long-pressing 'Add new bookmark' button: Add and edit new bookmark in one step"
### Why/User Benefit/User Problem
It's an much easier way to instantly edit a new bookmark f.e. to save it in a specific folder or to rename it.
Currently, doing this needs 4 screen interactions:
Touch to open the menu, touch the 'Add new bookmark' button, touch to open menu, touch the same button now represeting the saved bookmark to edit the bookmark.
The goal is an intuitive way of editing your

[2020-03-25 04:34] Poopooracoocoo commented on #2484
This is still so annoying. It just doesn't feel right.

[2020-03-25 04:38] Poopooracoocoo commented on #9064
Chrome has been experimenting with a menu when you tab and hold on the tab switcher button. It shows close, new tab, new incognito tab. Firefox could do something similar

[2020-03-25 05:19] jonalmeida commented on #8974
I don't have access to the FCM key from the Firebase console, but what I can see on Leanplum seems like the **client** API key was entered into the Leanplum console instead of the **server** API key.

I might as well look into this. :)

[2020-03-25 05:33] jonalmeida commented on #7661
Yes, this should fail because with beta you need to use `fenix-beta://settings` for only the beta app to open.

We should look at fixing this. `fenix://` should only work with release builds. I might have missed a build variant.

[2020-03-25 06:30] petterill commented on #8768
Possible duplicates #9371 and #9299

[2020-03-25 06:47] cadeyrn commented on #2579
The Firefox Send issue is #3336.

[2020-03-25 06:55] hiikezoe commented on #8768
Note that issues with top toolbar transition are #6940.

[2020-03-25 06:56] hiikezoe commented on #9299
This is a dup of #6940.

[2020-03-25 06:56] hiikezoe commented on #9371
This is also a dup of #6940.

[2020-03-25 07:25] MrAdam opened #9389 "Bookmarks should be added to end of folder, as on desktop"
### Why/User Benefit/User Problem
It's much more logical to have bookmark adding work the same way on desktop and on mobile.
I'm used to adding a bookmark in the bookmark toolbar folder for a site that I want to read later, which on desktop adds it to the end of the folder. On mobile however, it adds it to the front of the folder, pushing the folders I have in the beginning of my bookmark toolbar

[2020-03-25 07:28] MrAdam commented on #9345
I just added one issue related to your third point: #9389

[2020-03-25 07:40] MrAdam opened #9390 "Allow setting/remembering folder for new bookmarks"
### Why/User Benefit/User Problem
I'm used to adding a bookmark in the bookmark toolbar folder for a site that I want to read later, which at the moment requires me repeating the same steps of bookmarking, editing, changing folder and saving almost every time I add a bookmark, which becomes a PITA after a few bookmarks. In Chrome, it remembers the last used bookmark folder, which makes this a lot

[2020-03-25 07:41] MrAdam commented on #9345
Added another issue somehow related to your first point: #9390

[2020-03-25 07:48] Poopooracoocoo commented on #9294
![image](https://user-images.githubusercontent.com/51363864/77513250-c2dd0280-6ec8-11ea-95c4-0d43d0db1355.png)
![image](https://user-images.githubusercontent.com/51363864/77513408-0afc2500-6ec9-11ea-9163-0a2a0eea0f31.png)

[2020-03-25 07:48] #9256 closed

[2020-03-25 08:00] Poopooracoocoo commented on #1048
Focus issue: https://github.com/mozilla-mobile/focus-android/issues/3845

[2020-03-25 08:18] asavill commented on #9385
I would be happy to look at this if it goes through triage and needs some help.

[2020-03-25 08:38] yoasif commented on #9218
@Amejia481 The user reports that disabling TP does not resolve the issue.

[2020-03-25 09:14] JohanLorenzo commented on #8974
Hey there!

I checked the Fennec nightly leanplum secret stored at [1]. It's not the same we use on Fenix nightly[2]. When built on mozilla-esr68, Fennec nightly used [3], which contains exactly the same  secret as [1].

In order words, Fennec Nightly uses the right key.

[1] https://firefox-ci-tc.services.mozilla.com/secrets/project%2Fmobile%2Ffenix%2Ffennec-nightly
[2] https://firefox-ci-tc.serv

[2020-03-25 09:24] swejuggalo commented on #9334
Tested in a most current dev build. Looks like it works as intended now

[2020-03-25 09:34] SL-Lee opened #9391 "[Bug] Accessing Settings without network connection causes Fenix to crash"
## Steps to reproduce

**Prerequisite: Firefox sync must be turned on.**

1. Make sure Fenix is closed (using the quit button in the menu), then disconnect the device from any network.
2. Open Fenix and access settings.

### Expected behavior

Fenix opens settings.

### Actual behavior

Fenix crashes.

**Other Notes**

* After performing the STR, restart Fenix and turn on the network connection. G

[2020-03-25 10:37] sv-ohorvath opened #9392 "[Crash] Custom tabs crash when the system language is Romanian"
## Steps to reproduce
1. Set device language to Romanian. (cannot reproduce with Spanish, German, Italian or French)
2. Open a custom tab: from Gmail, or the account login page, or any support link from the About page.
### Expected behavior
Custom tabs open.
### Actual behavior
App crashes.
[logcat.txt](https://github.com/mozilla-mobile/fenix/files/4380308/crash.in.custom.tabs.txt)

### Device inf

[2020-03-25 11:08] marcinwiacek opened #9393 "[Bug] You can get wrong screen after opening link from WhatsApp"
## Steps to reproduce

Prerequisites: no open tabs in FP

1. open link from WhatsApp (it will be opened in FP)
2. click on button with number of tabs (it will switch to main screen)
3. close tab by swiping it
4. press hardware back button

### Expected behavior

Nothing (no app reaction)

### Actual behavior
![Screenshot_20200323-184120_Firefox Nightly](https://user-images.githubusercontent.com/24

[2020-03-25 12:08] ebalazs-sv commented on #8924
This is still reproducible on Beta Migration build 4, 3/24, with Huawei P9 Lite (Android 7).

[2020-03-25 12:09] ebalazs-sv commented on #7955
This is still reproducible on Beta Migration build 4, 3/24, with Huawei P9 Lite (Android 7).

[2020-03-25 12:10] ebalazs-sv commented on #8422
This is still reproducible on Beta Migration build 4, 3/24, with Huawei P9 Lite (Android 7).

[2020-03-25 12:40] BranescuMihai commented on #9387
Can't reproduce it, but I tried only on Android 10 devices and all variations of German language. Can someone please retest so we can have a stack trace?

I'm thinking there might be a compatibility issue with the long-press contextual menu, so please try on Android 8.0 and German as device language.

[2020-03-25 12:42] AndiAJ opened #9395 "[Bug]Fenix allows to create no name custom search engines"
## Prerequisites
Have a custom search engine created in Fenix.
E.g. Name = `Ecosia` Search string to use: `ecosia.org/search?q=%s`

## Steps to reproduce
1.  Identify the custom search engine in the search section
2. Tap the ⋮ button next to the custom search engine and tap on "Edit"
3. Completely remove the Name ("Ecosia"), and afterwards tap the "space key" from your keyboard and confirm

### Ex

[2020-03-25 12:53] BranescuMihai commented on #8583
Is this still reproducible? For me it doesn't happen anymore

[2020-03-25 13:03] softvision-miralobontiu commented on #8583
I was not able to reproduce this crash anymore, neither on Beta 4.2.0-beta.1, nor on the latest Nightly from 3/25 with OnePlus 5T (Android 9).
I will close this issue.