[2020-05-29 13:02] djc commented on #11033
@cadeyrn thanks!

[2020-05-29 13:03] mcarare commented on #11034
This was fixed to show up only once. (See https://github.com/mozilla-mobile/fenix/issues/10969). I will close this, but feel free to reopen it if the issue still persist in the next nightly.

[2020-05-29 13:04] facadeproof commented on #6884
I support this feature, or at least parsing the `about:config` setting `places.history.enabled` to disable history like in Fennec and Firefox Desktop.

[2020-05-29 13:15] ebalazs-sv commented on #10674
Verified as fixed on Fenix Nightly Build 21500607 from 5/29 with Motorola Moto G6 (Android 8) and Pixel 2 (Android 9).

Only one *Sign in to see synced bookmarks* button appear on the screen, when tapping the Recent apps device button and then selecting Fenix.

I will remove the qa:needed label.

[2020-05-29 13:15] Mugurell commented on #11032
Thank you @cadeyrn !

Indeed, #7157 added the possibility for the menus to grow if they need the space.
There is also #1871 which asks for the menus to be be able to shrink when there would be too much blank space, something that I was planning to work on based on bram's feedback from https://github.com/mozilla-mobile/fenix/issues/10541#issuecomment-635147257 .

[2020-05-29 13:21] djc commented on #11034
Once per origin or once per device?

[2020-05-29 13:23] sv-ohorvath commented on #9995
@rpappalax The tests in this report failed because the screen was locked, no activity was in focus. Is the screen supposed to be locked?
The getPixel() error hasn't shown up lately (since a month ago), but I think we can leave this open a little more.

[2020-05-29 13:24] #9726 closed

[2020-05-29 13:28] miDeb opened #11036 "FNX-11894 ⁃ [Bug] Screenshots are allowed in the new tab tray for private tabs"
## Steps to reproduce
* Turn off screenshots in private mode in the settings
* Open a private tab
* Open a normal tab
* Open the tab tray from the normal tab
* Switch to the list of private tabs
-> Try to take a screenshot

### Expected behavior
No screenshot can be taken if the tab tray shows the list of private tabs

### Actual behavior
If the tab tray is opened from a normal tab, screenshots ar

[2020-05-29 13:29] AndiAJ opened #11037 "FNX-11893 ⁃ [Bug]Tab Tray -White screen caused by the fact that the page view remains visible after closing the tab"
## Prerequisites
Have an open tab

## Steps to reproduce
1. Tap the Tabs Tray
1. Remove the tab
1. Dismiss the Tabs Tray
1. Tap the URL Bar
1. Tap the device back button

### Expected behavior
Steps 3 : The page view should be dismissed (Fenix home screen :question:)
Step 5 : The user should be properly re-directed to the home screen

### Actual behavior
Steps 3 : The page view remains displayed w

[2020-05-29 13:31] mcarare commented on #11034
Once per device (/install).

[2020-05-29 13:38] hwinnemoe commented on #11037
Possible duplicate of #10905?

[2020-05-29 13:51] hwinnemoe commented on #7461
I think the suggestions should appear directly above the shortcut button / scan button.

I would prefer bottom-top since it is _"more consistent with information hierarchicy, because the first suggestion sits directly on top of the address bar, which is on top of the keyboard"_.

[2020-05-29 14:15] AmyYLee commented on #9579
That's correct.

[2020-05-29 14:18] AmyYLee commented on #10113
This looks good to me. Thanks!

[2020-05-29 14:22] AndiAJ opened #11038 "FNX-11896 ⁃ [Bug]Tab Tray - Improperly displayed Open tabs icons in landscape mode"
## Steps to reproduce
1. Rotate the device to Landscape view
1. Tap the Tabs Tray
1. Check the position of the open tabs icons
1. Rotate the device to Portrait view
1. Check the position of the open tabs icons

### Expected behavior
The open tabs icons should be properly displayed in the Tray

### Actual behavior
Step 3 & 5: The open tabs icons are moved to the center of the Tray

### Device infor

[2020-05-29 14:28] AndiAJ opened #11040 "FNX-11898 ⁃ [Bug]Tab Tray - ETP CFR overlaps with the Tabs Tray"
## Steps to reproduce
1. Navigate to theverge.com
1. While the page loads tap the Tabs Tray

### Expected behavior
The ETP CFR should remain displayed behind the Tabs Tray

### Actual behavior
The ETP CFR overlaps with the Tabs Tray

### Device information
* Android device:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)
* Fenix version: Nightly Build

[2020-05-29 14:37] mcarare commented on #9579
@apbitner you are right, and the changes are already implemented. I have rescanned onboarding screen and there are no contrast issues left. Thanks for the feedback!

[2020-05-29 14:37] #9579 closed

[2020-05-29 14:57] AndiAJ commented on #11040
Dupe of #10968

[2020-05-29 15:01] 000exploit opened #11041 "FNX-11899 ⁃ Third Party download manager support."
I would like to use Download Navi/ADM as download manager.

[2020-05-29 15:06] #9285 closed

[2020-05-29 15:12] SS1113 commented on #11041
Duplicate of #7620.

[2020-05-29 15:19] quadriflax commented on #8443
Revisiting this, as it seems partially fixed. A broken site example: https://www.playstationtrophies.org/forum/shenmue-iii/341387-shenmue-iii-trophy-guide-roadmap.html

The icon loads fine on Desktop Firefox for the above and playstationtrophies.org direct loads the icon on mobile, but the link above still doesn't load the icon. Another site that has issues is gamefaqs.gamespot.com.

[2020-05-29 15:33] Mugurell commented on #5038
Small update: can consistently reproduce this and am close to the solution.
There's indeed a bug in how we persist and read the favicons from disk.

[2020-05-29 15:34] boek commented on #10496
@AndiAJ sorry! The PR didn't get merged last night

[2020-05-29 15:36] abodea opened #11042 "FNX-11901 ⁃ [Bug] Tabs tray can be dismissed way too easily when dragging it"
## Steps to reproduce
1. Launch Fenix.
1. Open a few tabs and access the tab tray.
1. Drag the tab tray menu a little bit down.
    1. Expected behavior
The tab tray menu should be closed/dismissed only when dragging it a little bit more to the bottom.
    1. Actual behavior
Tabs tray can be dismissed way too easily when dragging it.
    1. Device information

* Android device: **Google Pixel 4 XL

[2020-05-29 15:42] liuche commented on #11015
@ekager no let's do it the way originally suggested, which is change that setting for all users who haven't explicitly made a choice.

[2020-05-29 15:53] liuche opened #11043 "SPIKE: [Bug] Ensure that web prompts aren't above the Tabs Tray"
Similar to #11040, which is for Fenix chrome notifications, we should make sure that web content prompts (like "share microphone" or "allow notifications from this site") aren't showing up over the tabs tray.

[2020-05-29 15:55] AaronMT commented on #9995
I think we should re-open if more frequent. The device locked sounds like a temporary issue on Google's end.

[2020-05-29 15:55] #9995 closed

[2020-05-29 15:58] yoasif opened #11044 "FNX-11903 ⁃ [Bug] Odd animation on plus sign icon in tab tray when closing tabs"
## Steps to reproduce
1. Open tab tray
1. Swipe closed some tabs (not sure if it has to be near the bottom of the stack)

### Expected behavior
Smooth animations.

### Actual behavior
Plus sign icon jumps up and down in response to the close action.

![recording](https://user-images.githubusercontent.com/152493/83280254-5f12d680-a1a4-11ea-98bc-3f1f7d451f9f.gif)UNITO-UNDERSCORE!20200529!UNITO-UNDER

[2020-05-29 16:03] acreskeyMoz commented on #10157
I initially had concerns that the dynamic Nav Bar's behaviour could result in a resize of GeckoView. (Leading to expensive reflows.)
However, after looking into the source and discussing this with multiple teams, it turns out that that is not the case.
The Nav Bar is a visual element which animates up and down based on the input/scroll events.
There are numerous potential correctness issues, depen

[2020-05-29 16:07] apbitner opened #11045 "FNX-11904 ⁃ Add Reader Mode only (not Open in App) to address bar"
## User Story
As a user, I want to easily know if a site supports reader mode so I have the option to easily switch to reader mode and back, without being distracted by the blue dot every time.

This features are currently not as easily discoverable in the toolbar menu and there are issues with the current implementation of the blue dot notification.

### Acceptance Criteria
* I am notified if a s

[2020-05-29 16:19] sheikh-azharuddin opened #11046 "Security lock icon customisation"
### What is the user problem or growth opportunity you want to see solved?
The security lock icon in the address bar is black in white theme and vice versa.. please change this icon color to green for secure websites and red for insecure website.

### How do you know that this problem exists today? Why is this important?
This will help to easily distinguish the secure website from insecure. From s

[2020-05-29 16:26] mcomella opened #11047 "FNX2-13333 ⁃ Upgrade R8 to 2.1.28 and use built-in `proguard-android-optimize` proguard file"
In https://github.com/mozilla-mobile/fenix/pull/10183 we had to disable the `-allowaccessmodification` optimization. This bug was fixed in R8 2.1.28 ([tag](https://r8-review.googlesource.com/c/r8/+/51755)), which it says is standard with AS 4.1 – I believe R8 is bundled with the Android Gradle Plugin so I think this actually means that AS 4.1 will create new projects using the version of the Andro

[2020-05-29 16:28] mcomella commented on #11047
We can use this version of R8 early than the Android Gradle Plugin would support with this technique https://issuetracker.google.com/issues/157535162#comment4 but this may increase the R8 version by a lot all at once I'm not sure we want to do that.

[2020-05-29 17:11] sblatz commented on #9583
@mcarare having them be *clickable* at 48dp is totally fine, but let's not update the visual height :)

[2020-05-29 17:12] mcomella opened #11050 "FNX-11909 ⁃ Remove Nimbledroid Nightly uploads"
We're no longer using it so let's disable the uploads.

[2020-05-29 17:13] sblatz commented on #10803
Hi @Diana-Rus that sounds like an existing bug with the search widget and is unrelated to the changes I made. I'll file a separate bug for that. Since the crashes with voice in search screen are fixed, I will close this :)

[2020-05-29 17:16] sblatz opened #11051 "[Bug] Voice icon on search widget crashes when google app disabled after widget installed"
## Steps to reproduce
1. Install the search widget with Google app enabled on your device
1. Disable the Google app.
1. Tap the "voice icon" on the search widget.

### Expected behavior
1. The voice icon should disappear as the functionality is no longer available

### Actual behavior
1. Fenix crashes when attempting to start the dictation.

[First mentioned here](https://github.com/mozilla-mobile

[2020-05-29 17:16] sblatz commented on #11051
This feels like a pretty small edge case to me, honestly.

[2020-05-29 17:32] mcomella commented on #10157
I looked at a profile acreskeyMoz took for this interaction and I didn't see anything concerning on the Java main thread: lgtm.

[2020-05-29 17:41] mcomella opened #11052 "[Bug] Cannot open new tab after closing all private tabs in new tabs tray"
## Steps to reproduce
* Using new tabs tray...
* Have at least one normal tab open: click tabs tray, click +, enter a URL
* Have at least one private tab open: click tabs tray, click private, click +, enter a URL
* With private tab selected...
* Open tabs tray
* Click X to close last private tab
* Press + FAB to open new tab

### Expected behavior
New tab opens

### Actual behavior
No tabs open: t

[2020-05-29 17:50] yoasif commented on #10157
@mcomella I'm not able to reproduce today, but yesterday I saw some really bad janking when doing this interaction: https://github.com/mozilla-mobile/fenix/issues/11044

Not sure if this was measured, but may be worth a look.

[2020-05-29 17:52] yoasif commented on #11052
Feels related to me: https://github.com/mozilla-mobile/fenix/issues/10368

[2020-05-29 17:56] cadeyrn commented on #11046
The green color was intentionally removed from Desktop Firefox a few months ago so it doesn't make sense to go the opposite way in Android Firefox.

According to Let's Encrypt ~85 percent of all page loads are via HTTPS. That's a very good reason **not** to highlight the default and secure state. Especially if you want to highlight the insecure state the default state should not be highlighted.

[2020-05-29 17:58] mcomella opened #11054 "FNX-11913 ⁃ [Bug] Video loops over a few milliseconds after clicking through a few YouTube videos"
## Steps to reproduce
I can't get this to reproduce consistently.

* Open a video in YouTube, wait maybe a minute
* (if it doesn't reproduce, open a new video and try again)
  * I can't seem to make it reproduce when I'm trying to do so – it comes up in my day-to-day use when I'm watching YouTube in the browser. When I get it to reproduce accidentally, it's usually within the first 5 minutes of op

[2020-05-29 18:04] sheikh-azharuddin commented on #11046
But in desktop version there is one preference item to change the gray color lock icon to green...in android version there is no such preference...I tried to add but not working... the preference item is

security.secure_connection_icon_color_gray

Forget what let's encrypt says let's have a vote what users actually wants... Moreover I don't see any harm by having the lock icon change to green col

[2020-05-29 18:05] mcomella commented on #11054
I captured a video of the behavior and added it to the initial comment.

[2020-05-29 18:13] sblatz commented on #9560
@kbrosnan could I have your help in giving a brief overview of the current heads from each team and what they're responsibilities are?

[2020-05-29 18:28] cadeyrn commented on #11046
No? **Data are important for decision making**, especially when it comes to security indicators. It's a completely different story whether we are talking about 10 or 85 percent encrypted traffic. With only 10 percent it makes sense to highlight the secure state because it's something special and there is an argument for highlighting the padlock in this case. But if already 85 percent are encrypted

[2020-05-29 18:28] opusforlife2 opened #11055 "[Bug] "Fill link from clipboard" mistakes file extensions for TLDs"
## Steps to reproduce
1. Prepare a file without spaces and give it any file extension.
1. Copy the file name to the clipboard.
1. Tap on the address bar in Fenix.
### Expected behavior
Fenix doesn't offer to fill this 'link' from the clipboard.
### Actual behavior
It does.

* Fenix version: 5.0.0

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-1414)

[2020-05-29 18:32] yoasif commented on #11055
Sounds like we need PSL like on desktop: https://bugzilla.mozilla.org/show_bug.cgi?id=1080682

[2020-05-29 18:35] sheikh-azharuddin commented on #11046
Add the preference item then to android...here let user decide...
security.secure_connection_icon_color_gray

[2020-05-29 18:36] sheikh-azharuddin commented on #5924
Add the preference item to firefox android to get a green padlock icon similar to desktop version

security.secure_connection_icon_color_gray

[2020-05-29 18:36] boek opened #11056 "Clean up code duplication caused by new tab drawer"

[2020-05-29 19:05] Dunexus commented on #11045
Looking at the abstract, it will reduce the amount of text shown in the address bar.
We already had issues about the address bar not showing enough text, see https://github.com/mozilla-mobile/fenix/issues/3727.

[2020-05-29 19:07] AaronMT commented on #5462
I don't think we need a meta anymore. Feel free to re-open if you disagree.

[2020-05-29 19:07] #5462 closed

[2020-05-29 19:18] Glitchy-Tozier opened #11058 "[Bug] Zero-th private tab can be Opened."
There still is a way to get the 0th-tab-screen similar to the last screenshot in #10239 (only with a black background instead of the white one).

## Steps to reproduce
Steps 1) and 2) are interchangeable.

1. Create any Web-App such as Twitter or Google-Maps with Fenix
1. Leave no regular tabs open. Have any number of private tabs open. (you must actually be in one of them / look at the website th

[2020-05-29 19:32] Glitchy-Tozier opened #11059 "[Bug] Web-Apps are buggy"
## Steps to reproduce
Not sure how those things actually happen, but here's a few things that happened to me:

* #11058
* Sometimes the purple bar from private mode shows up on the bottom of the screen. and sometimes it just doesn't. No idea how i can influence that.
* Sometimes the top of the screen is purple (if the Web-App was created from a private tab). No idea if this is intentional or not.

[2020-05-29 20:29] sblatz opened #11062 "FNX-11924 ⁃ PMF Experiment"
## Summary of work done for PMF
* Marissa does initial investigation to determine what is needed from engineering / where data does not align!
* Sawyer & Marissa met to discuss mapping id's from Adjust to Glean (for a short-run 24hr experiment) to verify install timestamp
* Sawyer exported Fenix install timestamps from Adjust to GCS. Chatted with Adjust contact to confirm the data we're exporting

[2020-05-29 20:30] sblatz commented on #11062
This work is now done and ready to run. Just using this to document the work done here!

[2020-05-29 20:44] vesta0 commented on #3727
We addressed this in #7077 7077

[2020-05-29 20:44] #3727 closed

[2020-05-29 20:56] vesta0 opened #11063 "FNX-11926 ⁃ [Telemetry] ETP setting"
## Description & Product Manager / Data Scientist User Story
As a product manager, I want to know which ETP setting our users prefer so we can better optimize their default privacy settings.

## What questions will you answer with this data?
-What percentage of users currently have `standard` vs `strict` vs `custom` ETP on?
-How often and what percentage of users change their ETP setting?

Note: I

[2020-05-29 22:10] ekager commented on #9890
@cadeyrn are you still noticing this? Was trying to figure out if it's device dependent or has been resolved by some other work but haven't been able to reproduce locally

[2020-05-29 22:18] ekager commented on #8981
I think I've added a small improvement by sorting devices by `lastAccessTime` but AFAICT further improvements would need more AS work

[2020-05-29 22:39] mohe2015 commented on #5924
I also agree with the other people that www., http:// and https:// should be hidden and that the url should be scrolled to the right of the top level domain if it is too long.

Also I propose to use a lock icon which is open or strike-through for an unsafe connection (if that is not already the case)

[2020-05-29 22:47] darkwing commented on #11043
`alert()` calls also appear above tab tray:

https://industrious-muscari.glitch.me/

[2020-05-29 22:48] darkwing commented on #10994
Closing in favor of: https://github.com/mozilla-mobile/fenix/issues/11031

[2020-05-29 22:51] darkwing commented on #10993
Confirmed this is done.

[2020-05-29 23:32] ale82to opened #11067 "FNX-11933 ⁃ [Bug] white flashes everywhere"
I really tried to enjoy Fenix preview but it's a mess, after enabling dark theme and installing dark reader I still got white flash for link opening in New tab or when opening links from home.
if that isn't enoughto iI also get white flashes when calling Fenix from android recents and also when dismissing keyboard in web forms!!
since I got root i even created a chrome folder with a custom usercon

[2020-05-29 23:34] ale82to opened #11069 "FNX-11931 ⁃ Fenix is not supporting keyboard shortcut"
Fenix should have support for keyboard shortcut like old Firefox
ctrl+t crtl+amo ctrl+tab and so on..
I M using latest fenix (44.0.20200527130120) on android 7.1.2

[2020-05-29 23:37] SS1113 commented on #11045
@Dunexus Having the Reader Mode button in the adress bar is intuitive, I can confirm that I have rarely used it or even forgot it's even there. Having it in the address bar will definitely make me use it more instead of having it in the toolbar menu. But I also agree that it'll make text show in the address bar even shorter.

[2020-05-29 23:38] ale82to opened #11070 "please bring back old behavior when tapping url bar"
one thing I really miss form old Firefox was the ability to bring both top sites and search when tapping url bar now fenix when tapping url bar just let perform a search.
even Samsung internet browser copied old Firefox behavior.
please bring it back.
I M using fenix 44.0.20200527130120 on android 7.1.2

[2020-05-29 23:40] ale82to opened #11071 "FNX-11929 ⁃ Bring back old layout when tapping url bar"
one thing I really miss form old Firefox was the ability to bring both top sites and search when tapping url bar now fenix when tapping url bar just let perform a search.
even Samsung internet browser copied old Firefox behavior.
please bring it back.
I M using fenix 44.0.20200527130120 on android 7.1.2

[2020-05-29 23:48] mcomella opened #11072 "FNX2-13341 ⁃ Remove migration check code when possible"
Looking at [our dashboard](https://earthangel-b40313e5.influxcloud.net/d/DfK1IhzGz/fenix-startup-testing-per-device?orgId=1&refresh=1d) which has runs for both `fenixNightly` and `fennecNightly`, the startup impact of the migration check is non-trivial (from 5/21, MAIN):

* 118ms on Galaxy S7
* 58ms  on Pixel 2

There is a dramatic difference (> 1s) for VIEW but I suspect that's an issue with meas

[2020-05-29 23:50] Dunexus commented on #11069
I guess keyboard shortcuts is tracked by https://github.com/mozilla-mobile/fenix/issues/3729

[2020-05-30 00:27] ghost opened #11074 "[Feature Request] add the ability to scroll the text in the address bar to solve the amount of text visible in the adress bar due to #11045"
The issue #11045 introduces problem of shortened amount of text visible in the adress bar and to add to this when Fenix  starts to support Containers this will add another [icon](https://github.com/mozilla-mobile/android-components/issues/6429) to the  adress bar

Having the Reader Mode button in the adress bar is intuitive, I can confirm that I have rarely used it or even forgot it's even there.

[2020-05-30 00:47] mcomella commented on #8826
@brampitoyo @ecsmyth Shall we close this issue then? Thanks for looking into it.

[2020-05-30 00:50] mcomella commented on #10616
I think we should update the metrics.md documentation to reflect that this is a cold start only (and cold start to the homescreen/browser, not the app): the current documentation is misleading (e.g. ecsmyth misused it for an analysis they were doing on seeing how often the app is opened and from what type of opening).

[2020-05-30 00:52] mcomella commented on #10157
@yoasif Thanks for the note – to be explicit, you saw bad janking in the toolbar with the url bar when doing that interaction? Or is your issue totally captured in #11044?

[2020-05-30 01:28] liuche opened #11076 "SessionControlController contains many static analysis suppressions"
...including 19 args, when the threshold is 6.

`@SuppressWarnings("TooManyFunctions", "LargeClass", "LongParameterList")`

Filing this after adding more detekt suppressions for #3880.

[2020-05-30 02:44] AlwyNjOshy opened #11079 "[Bug] Saved login fills but website becomes unresponsive"
## Steps to reproduce - https://login.ual.com/oamsso-bin/login.pl?contextType=external
Login there and try to put saved password. saved password input wont works. Shows password were inserted but website non responsive. Try to login but no response

### Expected behavior Login
### Actual behavior non responsive
### Device information Galaxy Tab S4
* Android device: 9
* Fenix version: 75.beta 6

[2020-05-30 04:30] #7749 closed

[2020-05-30 06:25] Sgt-Miller commented on #10197
Hi, can this be made higher priority please? Let's say you are filling a long form and you accidently tap the address bar (easy to happen when it's at the bottom). This small mistake pretty much resets whatever you typed into the form because it will try to go to previous page if you tap the back button..

[2020-05-30 06:28] Sgt-Miller commented on #11071
I agree. There is another bug about this issue so I suggest closing this. https://github.com/mozilla-mobile/fenix/issues/10198

[2020-05-30 06:46] cadeyrn commented on #9890
Yes, it's still an issue.

[2020-05-30 07:14] yoasif commented on #11045
See also https://github.com/mozilla-mobile/fenix/issues/6639

@apbitner Have you given any thought to https://github.com/mozilla-mobile/fenix/issues/7912 ? I think it makes sense to make reader mode appearance options more discoverable - desktop just did a revamp of this as well in https://bugzilla.mozilla.org/show_bug.cgi?id=1550836

[2020-05-30 07:22] cadeyrn commented on #11045
We already had issues about the address bar not showing enough text, see #3727.
Won't this be an issue ?

Since #3727 was filed the "https://" and "www." was removed from the URL in the address bar and the spacing between the toolbar icons was shortened. When #3727 was filed Fenix showed less of the URL in the address bar than Fennec. Now Fenix shows even a bit more of the URL in the address bar t

[2020-05-30 07:30] cadeyrn commented on #10045
Fenix Nightly already uses GV 78 (my build uses GV 78 from 2020-05-28) and it happened two times in the last three days that there was no toolbar at all. Both times it happened on GitHub.

[2020-05-30 09:09] Cheap-Skate commented on #10281
Now #11065 has landed I now only get 3 favicons on each Top Sites row, down from 4 previously!

![Screenshot_20200530-100325_Firefox Nightly](https://user-images.githubusercontent.com/40568887/83324492-75c93400-a25d-11ea-8a2a-ca1d65040717.jpg)

[2020-05-30 09:14] miDeb commented on #10045
@cadeyrn
https://github.com/mozilla-mobile/android-components/pull/7102 should work around this issue.

[2020-05-30 09:29] SS1113 commented on #10281
@Cheap-Skate Yes, you're right. I'm also seeing only 3 top sites elements now, don't know what's happening, first there were 5 and then 4 and now 3...😅

[2020-05-30 09:52] TitanNano commented on #11012
With Fenix build `Nightly 200530 06:01 (Build #21510609) with AC 44.0.20200529205416` decent websites like Twitter are now able to let users unsubscribe from push. But subscriptions which no longer have permission, or never had, still do not obey their notification permission (see https://github.com/mozilla-mobile/android-components/issues/7161 for that). So as a workaround people could be able to

[2020-05-30 10:22] andreicristianpetcu opened #11081 "FNX-11945 ⁃ [Bug] top icons have an ugly white border on dark theme"
**Update from UX:**

Please use the following colors:

* light_grey_90 (#80808E) for the title
* dark_grey_50 (#32313C) for favicon bg and border

![](https://user-images.githubusercontent.com/353960/83880804-057c5000-a740-11ea-953d-706bf5918dd8.png)

- - -
_**Original request:**_

## Steps to reproduce
add top sites

### Expected behavior
![Screenshot](https://user-images.githubusercontent.com/92

[2020-05-30 11:30] grigorig commented on #10908
This is basically a regression compared to Fennec, so I don't think the label is fitting.

The changes required to get notifications work similarly to Fennec are really simple. Would it be acceptable at this point if I submit a PR?

[2020-05-30 13:43] sheikh-azharuddin commented on #11081
They should reduce the width of the white border..overall it looks too big...and there is space left after 4th icon...so they easily fit 5 icons in one row

[2020-05-30 14:09] sheikh-azharuddin commented on #11081
How did you remove the big ugly new tab button between top sites and collections?

[2020-05-30 15:17] ArmanHayots opened #11083 "Share URL as QR"
If FF can read QR's, why it can't share them?
I missed it much when want to give guys some link directly from browser instead of sending URL over some messenger.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-1449)

[2020-05-30 16:38] SS1113 commented on #11081
@sheikh-azharuddin the user may be the new tabs tray layout. To activate it you need to go to settings > About Firefox Monthly > click 3 times on the Firefox Preview logo and press back button now you can see the Secrete settings click it and turn on new tab tray.

[2020-05-30 17:02] TitanNano commented on #10908
On android 8+ users can adjust all notification settings by them self. On android 7 and lower though it would be better to have more reasonable settings as they can not be changed by the user.

[2020-05-30 17:30] sheikh-azharuddin commented on #11081
Thanks bro....it worked👍
Actually the setting is reverse... turning off should hide instead turning on is hiding🤣

We already have a plus button beside address bar in home page not sure why mozilla added this big new tab bar ...

[2020-05-30 17:30] J-Siu opened #11085 "FNX-11950 ⁃ [Bug] Cannot expand youtube comment"
## Steps to reproduce
1. Go to youtube website
1. Click on any youtube video with comments
1. Scroll down to the bottom and click "down arrow" to expand comment section.

![Screenshot](https://user-images.githubusercontent.com/3171920/83335245-796ab400-a279-11ea-9941-67e31116de9c.jpg)UNITO-UNDERSCORE!20200529-030217!

### Expected behavior
Comment section should expand.

### Actual behavior
Either

[2020-05-30 17:35] J-Siu opened #11086 "FNX-11949 ⁃ [Bug] What's new page said Firefox 5.0"
## Steps to reproduce
Settings ~~> About Firefox Nightly~~ > What's new in Firefox Nightly

### Expected behavior
Should show the current nightly version

### Actual behavior
Show Firefox 5.0 ...

### Device information
* Android device: oneplue 6t
* Fenix version: 200530 06:01

[2020-05-30 17:47] sheikh-azharuddin commented on #11081
The new tab tray menu is too buggy😓

[2020-05-30 17:54] cadeyrn commented on #11081
Nope. The option _enables_ the new tabs tray.

There is a reason why it's not yet enabled by default but hidden in a secret menu instead.

[2020-05-30 17:55] cadeyrn commented on #11086
The What's new page only highlights major releases. This was already the case with every updae before. So it's not a bug but the expected behaviour.

[2020-05-30 17:56] cadeyrn commented on #11085
Duplicate of #10720.

[2020-05-30 17:57] sheikh-azharuddin commented on #11081
Looks beautiful though🤩 once refined and issues fixed it will be one of the top striking feature ...
Keep up 👍

[2020-05-30 18:12] cadeyrn opened #11087 "[Bug] (regression)(tabs tray) strange shadow of new tab button"
### Steps to reproduce
1. enable the new tabs tray
1. open the tabs tray

### Expected behavior
good looking new tab button.

### Actual behavior
The shadow of the new tab button looks very strong and is truncated.

![Screenshot](https://user-images.githubusercontent.com/1100614/83336210-c9fe0380-a2b1-11ea-9242-53a5b22643b3.jpg)UNITO-UNDERSCORE!20200530-200819!

### Device information
* Android de

[2020-05-30 18:31] J-Siu commented on #11086
Where can I see version 5 inside the app?

[2020-05-30 18:33] grigorig commented on #10908
The question is what's reasonable, of course. I think most apps actually enable everything (sound, lights and vibration), and that is usually considered reasonable.

However, I don't think it's controversial to simply restore the behaviour of Fennec.

[2020-05-30 20:11] jonalmeida commented on #11012
Thanks for messaging here! I'm going to close this as fixed.

[2020-05-30 20:22] B0pol opened #11088 "[Bug] datalist not supported"
## Steps to reproduce
input the beginning of the options in a datalist, [for instance Choco in this one](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist)

### Expected behavior
Chocolate should be displayed
Video of firefox 76:
![datalist](https://user-images.githubusercontent.com/58657617/83338339-d12e0d00-a2c3-11ea-95a7-18bdde747c9f.gif)

### Actual behavior
It's not displayed

[2020-05-30 20:34] LittleAngelwings commented on #11086
On that page you called. There's the version named. But which version you mean? The 5.0... you had written is not a Nightly version. The version you named 200530 is a nightly version. The description "what's new" is only for the (mayor) releases. The nightlies version don't called 5.0 or higher/lower.They have only the daily number-code like 200530 (year-month-day)

[2020-05-30 20:38] J-Siu commented on #11086
This is so confusing @.@

Shouldn't the major release be >76 now?

[2020-05-30 21:10] cadeyrn commented on #11086
Firefox Beta has the version number 75, there will be version 76 soon.
The stable release of Firefox Preview has the version number 5.0, there will be version 5.1 soon.

As LittleAngelwings said: There is no "What's new" page for Nightly builds, only for stable releases of Firefox Preview. That's why the link shows the highlights of Firefox Preview 5.0

[2020-05-30 21:17] miDeb opened #11089 "FNX-11953 ⁃ [Bug] Undo snackbar pushes FAB up in the new tab tray"
## Steps to reproduce
* Open a new tab
* Close the tab

### Expected behavior
The FAB stays at the same position

### Actual behavior
The FAB is pushed up by the snackbar, the "undo" button is now at its position. This is counterintuitive, as opening a new tab is a very common action and users will build up muscle memory for tapping that button. Therefore, I believe that the FAB should always have

[2020-05-30 21:17] J-Siu commented on #11085
Yes, it is duplicate, closing.

[2020-05-30 21:21] J-Siu commented on #11086
Oh, 5.0 is for the non-nightly preview. Got it. Thanks for the explanation.

[2020-05-30 21:21] miDeb commented on #11044
I believe the FAB should not animate at all: https://github.com/mozilla-mobile/fenix/issues/11089

[2020-05-30 21:41] darkwing commented on #11043
I think this is a larger issue than just tab tray.  For example, if I tap the three-dot menu on the bottom right of the browser to view settings, the `alert()` displays over that menu as well.

[2020-05-30 22:25] ekager commented on #11069
Closing for #3729

[2020-05-30 22:25] ekager commented on #11071
Closing for #10198

[2020-05-30 22:29] ekager commented on #11067
Closing for #6313

[2020-05-30 22:52] boek opened #11090 "FNX-11955 ⁃ Keep tab tray open while navigating home after last tab in section closes"

[2020-05-30 23:01] astarq commented on #11089
The snackbar is also a bit low down, my phone has curved corners and the snackbar is slightly hidden under them now
Device: Galaxy S8

[2020-05-31 04:57] ghost opened #11095 "FNX-11960 ⁃ [Bug] Part of the FAB button is hidden beneath the system navigation bar in new tab tray layout"
## Steps to reproduce
1. Enable the new Tab tray layout
1. Open a tab
1. Close the tab
1. Push the tabs tray upwards
1. Observe that the FAB button is beneath the system's navigation bar

### Expected behavior
Part of the FAB button shouldn't be hidden

### Actual behavior
Part of the FAB button is hidden

### Device information
* Android device: Motorola One Power, Android 10.
* Fenix version: Ni

[2020-05-31 06:23] ghost opened #11096 "[Bug] Clicking install button when on a PWA site doesn't do anything"
## Steps to reproduce
1. Go to: https://mobile.twitter.com/ or any PWA site.
1. Click install button in toolbar menu.
1. Doesn't do anything.

### Expected behavior
It should give a pop-up to add the website to homescreen or add it to the homescreen

### Actual behavior
Doesn't give any pop-up or adds the website to homescreen

### Device information
* Android device: Motorola One Power, Android 1

[2020-05-31 06:43] tangzhui opened #11097 "[Bug]After logging in, the sync buttons are all gray and cannot be clicked."
## After logging in, the sync buttons are all gray and cannot be clicked.
Automatic synchronization in phone settings has been turned on.
![img](https://user-images.githubusercontent.com/59478712/83346183-d5ead380-a34c-11ea-96e3-5174f6f15389.jpeg)UNITO-UNDERSCORE!eggsif!UNITO-UNDERSCORE!9923896281367646-01!

* Android device: xiaomi mix 2s，lineageOS 16.
* Fenix version: every version

[2020-05-31 07:00] tangzhui opened #11098 "FNX-11963 ⁃ The collection is not necessary, can it be hidden in the settings?"
![img](https://user-images.githubusercontent.com/59478712/83346493-70e4ad00-a34f-11ea-9a60-bba81715fb08.jpeg)UNITO-UNDERSCORE!eggsif!UNITO-UNDERSCORE!7861983268789845248-01!

[2020-05-31 07:12] SS1113 commented on #11098
I don't get the idea of collections. They don't sync (losing the collections after spending a lot of time curating them is really frustrating!), they are not useful for anything to me, when Fenix launched without support for speed dials I used it in place of bookmarks, and now I'm using them in place of saving offline pages (only as shortcuts to the webpages).

It's better if the feature stays hid

[2020-05-31 07:21] cadeyrn commented on #11098
Duplicate of #3753.

[2020-05-31 08:10] sheikh-azharuddin commented on #11098
Or maybe they can add the collection feature in desktop version and allow sync similar to new microsoft edge

[2020-05-31 11:09] IRainman commented on #2139
Ok, I continue to use the "dark background and light text extension" in current 68 release of Firefox and I do not upgrade to new Firefox before you don't add this extension or add true black background - it's your choose ;) . The "Dark reader" extension is not useful because additionally slow down Firefox, I do not want this. I "barely survived" after you killed extensions on the desktop version,

[2020-05-31 12:08] B0pol opened #11099 "FNX-11964 ⁃ [Bug] Navigation buttons are almost invisible with new tab tray and private mode"
## Steps to reproduce
1. enable new tab tray in secret settings
1. Set white theme in settings
1. Go to private mode (click on the button at the top left, don't just click on the icon in the tabs drawer)
    1. Expected behavior
I can see the navigation buttons
    1. Actual behavior
It's white on white:
![](https://user-images.githubusercontent.com/58657617/83351850-d92f9080-a347-11ea-9273-7e6aa2

[2020-05-31 12:31] cadeyrn commented on #11099
Maybe you should provide more information about your device such the vendor and model name. I can't confirm this issue on the OnePlus 7T Pro with Android 10.

[2020-05-31 12:34] Pixotas opened #11100 "[Bug] Stuck image/text in the botton of screen when scrolling"
## Steps to reproduce
Just by scrolling a webpage there's something strange in the bottom of the screen, and then image or text are stuck in a horizontal bar. It happens on several websites. Changing the URL bar to the top doesn't help. (See gif bellow) --> This error only can be recorded with external camera

### Expected behavior
Nothing happening when scrolling

### Device information
Huawei P3

[2020-05-31 13:02] SS1113 commented on #11099
This is how it looks on my device, Motorola One Power, Android 10. Definitely the button are being shaded.
![Screenshot_20200531-182654](https://user-images.githubusercontent.com/42088907/83352948-a8972900-a33e-11ea-9bc7-7d3edc80de9a.png)

[2020-05-31 13:08] SS1113 commented on #11100
@Pixotas can upload the video file instead of a GIF file? It'll make things more clear. However I do see some strange behaviour. I never saw this on my device, Motorola One Power, Android 10.

[2020-05-31 13:37] victor-bayas opened #11101 "FNX3-14392 ⁃ [Feature Request] Google Search Fixer Add-on"
### What is the user problem or growth opportunity you want to see solved?
Google serves and old version to Fenix users, this extension https://addons.mozilla.org/en/firefox/addon/google-search-fixer/ sends Chrome user agent to Google searches

### How do you know that this problem exists today? Why is this important?
Users would notice that they receive a distorted Google page and they might stop

[2020-05-31 14:39] Pixotas commented on #11100
The website of the video is: [https://pplware.sapo.pt/apple/atualizacoes-recentes-do-ipados-trouxeram-problemas-serios-ao-ipad-pro/](url)

Video of the gif: [https://streamable.com/1llq9i](url)

Right now, in that webpage its happening on version 5.0.0 (Build #2121212137) but not in Nightly 200531 06:00 (Build #21520610). Its strange because sometimes I feel that its not a consistent behavior. Som

[2020-05-31 16:26] sheikh-azharuddin opened #11103 "[Bug] Download percentage progress is not displayed in portrait mode for files with long name"
## Steps to reproduce
Download any file with long name it nevers shows the percentage

### Expected behavior
It should show the percentage

### Actual behavior
Progress percentage not showing

### Device information
* Android device: ? A10
* Fenix version: ?Latest nightly build

Attaching reference screenshot from chrome download panel where it shows MB download/total size.

![Screenshot](https://

[2020-05-31 16:27] sheikh-azharuddin commented on #11103
Also if you see download speed is slow in firefox as compared to chrome...it failed twice too.
Not sure..my net speed is really good..you can check the speed while downloading in chrome

[2020-05-31 16:43] cadeyrn commented on #11099
@SS1113 It seems that your builds does not yet contain #11010 ("Add white/dark BG for Android bottom bar (currently it has opacity)").

[2020-05-31 16:43] cadeyrn commented on #11101
Duplicate of #10044.

[2020-05-31 16:45] cadeyrn commented on #11103
Duplicate of #10703.

[2020-05-31 20:09] Tajnymag commented on #10598
@ekager having the same problem

[2020-05-31 21:22] victor-bayas commented on #10973
As a workaround you can set the address bar to the top

[2020-05-31 21:45] victor-bayas opened #11104 "FNX-11970 ⁃ [Bug] Can't download files from private GitHub repo"
## Steps to reproduce
1. Browse to a file of a private GitHub repo (works fine with public repos)
1. Long press the raw button and hit download
    1. Expected behavior
The file would download normally
    1. Actual behavior
It says Download Failed
![Screenshot](https://user-images.githubusercontent.com/49411169/83363285-e0619900-a35d-11ea-82a8-00d76262553d.jpg)UNITO-UNDERSCORE!20200531-164144!UNI

[2020-05-31 22:17] kbrosnan commented on #11104
Dupe #7531

[2020-06-01 03:25] struq commented on #10515
This also occurs on Motorola XT1575 (Android 7.0) here, with both Preview 5.0 and Nightly 200531 fresh install. There is a one second delay after clicking the tab button and before the tab switcher appears, and another one second delay after clicking on a tab and before the content shows up. I'm attaching the screen recording.
[recording.zip](https://github.com/mozilla-mobile/fenix/files/4709192/r

[2020-06-01 04:46] ghost opened #11105 "[Request] Change the wording to use months/dates instead of using "Spring 2020" in "What's New" article"
Article link: https://support.mozilla.org/en-US/kb/firefox-preview-upgrade-faqs

Clicking What's New in toolbar menu in Firefox Preview takes to the following [article](https://support.mozilla.org/en-US/kb/firefox-preview-upgrade-faqs) and the part of it says:

Please change the wording "Spring 2020" to something like months/dates instead as it'll confuse the users who are waiting for the new Fire

[2020-06-01 04:57] sheikh-azharuddin commented on #11103
10703 is a feature request which again points to another old ticket raised last year...here my case is a bug...the percentage is not showing for files with large name...maybe you can reduce the name like chrome and show the percentage to fix the bug as of now.... MB download/total size can be regarded as a feature request

[2020-06-01 06:56] sheikh-azharuddin opened #11106 "FNX-11972 ⁃ Back and forward button in custom tab"
### What is the user problem or growth opportunity you want to see solved?
When I open a link in custom tab/gecko view and click the link inside the custom tab it opens the page but back button is greyed out to go back....in normal browser window clicking the link opens in new tab so probably custom tab is also treating it as a new tab window and not allowing to go back rendering the buttons ineff

[2020-06-01 07:16] cadeyrn commented on #11106
Duplicate of #9463.

[2020-06-01 07:25] AdityaGupta150 opened #11107 "FNX2-13354 ⁃ [Bug] Negative Downloading Progress while downloading from GoogleDrive links"
## Steps to reproduce
Open any video link of drive.google.com, and click download logo on the website page
For eg. This link - https://drive.google.com/file/d/19dDJMxNTEI04_a6A3NScrOufHl5qiEyd/view?usp=drivesdk

### Expected behavior
The download progress should be real 'between' 0 to 100%.

### Actual behavior
The download progress is a long negative number. Screenshot attached
![Screenshot](http

[2020-06-01 07:34] AdityaGupta150 commented on #11107
Relating to this, there is a linearity even in the negative numbers shown - **Download Percentage *increases* in magnitude**, as the download progresses.
Also, this doesn't seem to be a problem on other websites, while downloading.

[2020-06-01 07:53] karlcow commented on #8768
for those checking only their email notifications, there seems to be a big class of issues related to this or close that are reported through webcompat. You can see the links here in this issue going to the webpage.

[2020-06-01 07:56] SS1113 commented on #11107
I can reproduce this issue on Motorola One Power, Android 10.

Fenix: 5.1.0-beta.3 and Nightly 200601 06:00

[2020-06-01 08:03] AdityaGupta150 commented on #11107
Mine was too the same device, has it been fixed in the beta (in your case) ?

[2020-06-01 08:05] SS1113 commented on #11099
@cadeyrn The issue is now not reproducible in normal mode after the latest Nightly however the buttons are shaded in white in Private browsing mode.

Device: Motorola One Power, Android 10.
Fenix: Nightly 200601 06:00.

[2020-06-01 08:07] SS1113 commented on #11107
@AdityaGupta150 No. Is it possible that it is a device specific issue? I'm gonna test this on a few more devices.

[2020-06-01 08:12] cadeyrn commented on #11099
Screenshot from OnePlus 7T Pro McLaren with Android 10:

![Screenshot_20200601-101020](https://user-images.githubusercontent.com/1100614/83389292-43037500-a3f0-11ea-8e08-eadec3f645ab.jpg)

So it seems device specific and not Android specific since we both use Android 10.

[2020-06-01 08:16] SS1113 commented on #11099
@cadeyrn Yeah, that seems to be the case since I'm not able to reproduce this on Realme C3, Android 10.

[2020-06-01 08:21] SS1113 commented on #11107
@AdityaGupta150 I can also reproduce this on Realme C3, Android 10.

[2020-06-01 08:29] AdityaGupta150 commented on #11107
@SS1113 I was able to reproduce it on Android 9 too (Starts with 0%, then comes the negative numbers). Thanks for verifying though :-D

[2020-06-01 13:40] ekager commented on #11106
Closing for #9463

[2020-06-01 13:53] ekager commented on #9463
Not sure if this is the same issue but it looks like if a link opens in a new window while in a custom tab, then it looks like a new custom tab and the buttons are greyed out. Pressing the device back button "closes" the custom tab, but then takes you back to your original custom tab. It's definitely weird behavior.

So for example clicking into different articles on bbc.com -> all open in same cu

[2020-06-01 14:17] psymoon commented on #11023
@abodea what do you mean by better arrangement?

[2020-06-01 14:36] ekager commented on #11105
CC @jonichan is this something that we want to change?

[2020-06-01 14:38] ekager commented on #11023
I think he's talking about the dialog and how the elements on each line aren't vertically aligned - ie the checkbox and "Allow in Private Browsing" should be vertically aligned

[2020-06-01 14:48] ekager commented on #11098
Closing for  #3753

[2020-06-01 15:26] rocketsroger commented on #10664
After some investigation I've decided to move this into backlog.  Couple of reasons:
1. Currently there is a architecture limitation for the exception handler to pickup the preference from Fenix.  (To do this there will have to be other ways of passing this value)
2. This is mainly a nice to have / convenience functionality when high volume of crashes.  This will not be the case when Fenix is rele

[2020-06-01 15:43] Amejia481 commented on #11107
We opened a bug https://bugzilla.mozilla.org/show_bug.cgi?id=1632594 on geckoView some time ago for that. The bug is now fixed, we have to double check if resolved the issue and if it is linked to this one.

[2020-06-01 15:56] liuche commented on #6296
Chatted with @fluffyemily, this my require no UX work if in involves using an existing(?) TLS error page.

[2020-06-01 15:59] rocketsroger opened #11110 "FNX-11978 ⁃ JobCancellationException: Job was cancelled"
https://sentry.prod.mozaws.net/operations/fenix/issues/8252183/?referrer=github_plugin

[code]

[2020-06-01 16:15] ekager opened #11111 "[Bug] Tabs Tray New Tab + Button Back Navigation Feels Off"
## Steps to reproduce
1. Open tabs tray
1. Press new tab FAB
1. Oops that was a mistake to tap that FAB, press back (and I think accidentally clicking a FAB _is_ a common mistake)

### Expected behavior
Takes me back to browsing and/or tabs tray

### Actual behavior
Exits app

### Device information
* Android device: ?
* Fenix version: ?

[2020-06-01 16:29] vesta0 opened #11112 "FNX-11982 ⁃ Re-think the copy on the no-collections placeholder on the homescreen"
**Update from UX:**

New copy for when people don't have a collection:

![image](https://user-images.githubusercontent.com/353960/84534708-b52a6280-acea-11ea-9e2f-8c3547a90c45.png)

* when people don't have any open tabs, we hide the button

- - -
original:

### User Story
As a user, I want the no-collections placeholder to guide me on how to build a collection, so it is easy for me to try out thi

[2020-06-01 16:30] sblatz opened #11113 "FNX-11981 ⁃ [Bug] Remove scroll to tab logic"
## Steps to reproduce
1. Open a tab
1. Switch to private mode from tab switcher

### Expected behavior
1. Private tab is scrolled down a bit, hiding the branding and the private browsing button

### Actual behavior
1. Should stay scrolled to the top

[2020-06-01 16:41] topotropic opened #11114 "FNX-11983 ⁃ [Bug] Tab tray landscape layout is off"
## Steps to reproduce
go to landscape, open tab tray

### Expected behavior
multi-task, private icon are well spaced out

### Actual behavior
icons are crammed together

![Screenshot (Jun 1, 2020 6:35:30 PM)](https://user-images.githubusercontent.com/353960/83431233-5423a480-a437-11ea-92ae-7a47474d2ff8.png)

[2020-06-01 17:03] NotWoods commented on #10315
I'm not able to reproduce this anymore. Can QA check if this is still an issue?

[2020-06-01 17:03] mcomella commented on #10942
If you wanted to determine the source of the issue, you could try to reproduce in Reference Browser.

I wonder if the creation of IntentReceiverActivity and redirection to `MainActivity` is partially introducing this overhead.

[2020-06-01 17:24] NotWoods commented on #9001
I'm no longer able to reproduce this. Can QA double check if this issue still occurs?

[2020-06-01 17:28] agi90 commented on #10315
@NotWoods I can easily reproduce on the instagram PWA, open a story tap through the end and after you exit the PWA will have a toolbar.

[2020-06-01 17:31] csadilek commented on #11110
@rocketsroger just linking related add-on tickets:
https://github.com/mozilla-mobile/android-components/issues/6820
https://github.com/mozilla-mobile/android-components/issues/6372

[2020-06-01 17:34] kbrosnan commented on #10717
Dupe of #6512?

[2020-06-01 17:45] darkwing commented on #11113
Closing as dupe of https://github.com/mozilla-mobile/fenix/issues/10997

[2020-06-01 17:58] liuche commented on #10073
@sblatz is there anything that Fenix needs to do to pick up the GV bugfix, for this issue or #10045?

[2020-06-01 18:00] rocketsroger commented on #11110
Thanks for pointing those out.  Looks like all of the events related to this issue is before A-C version `39.0.1`.  Closing since this has been fixed.

[2020-06-01 18:02] ekager commented on #10315
Yeah, it now has to do with videos because on fullscreen, we are hiding the toolbar, but then when fullscreen ends, showing the toolbar again and don't treat PWAs differently right now. You can get it to show again by clicking on a link within the PWA.

[2020-06-01 18:07] liuche commented on #11087
cc @kbrosnan

[2020-06-01 18:48] sblatz opened #11118 "FNX-11989 ⁃ [Telemetry] Include state of preferenceToggled events in metrics ping"
We would also like to include documentation about the default state of each toggle somewhere in the metrics.md or elsewhere so data science can consult it when doing analysis.

[2020-06-01 18:48] sblatz opened #11119 "[Telemetry] Come up with a system for telemetry preferences that are not booleans"
Similar to https://github.com/mozilla-mobile/fenix/issues/11118 we'd like for this to both be a toggle event and a metrics ping. Ideally these would follow some relatively generic format we can follow in the future.

[2020-06-01 18:51] sivaraam commented on #9001
FWIW, I'm unable to reproduce this too, in 5.0.0.

[2020-06-01 19:07] topotropic commented on #11032
That's great, wasn't aware of it. Thanks for pointing it out @cadeyrn!

[2020-06-01 19:30] grigoryk commented on #11119
For anyone following along, we'll most likely follow a pattern similar to what's been established in the migration ping - https://github.com/mozilla-mobile/android-components/blob/master/components/support/migration/src/main/java/mozilla/components/support/migration/TelemetryHelpers.kt#L67

[2020-06-01 19:35] liuche commented on #5201
Closed by https://github.com/mozilla-mobile/android-components/pull/7054

[2020-06-01 19:35] #5201 closed

[2020-06-01 19:42] caugner commented on #9001
Looks fixed to me, too, thanks!

[2020-06-01 19:42] #9001 closed

[2020-06-01 19:45] liuche commented on #10986
Here's the AC bug for investigating this: https://github.com/mozilla-mobile/android-components/issues/7205

[2020-06-01 20:18] SeburoSUMO commented on #10281
I too am seeing three across in the latest Nightly, but the space on the right-hand side suggests there should be four across to make the page more balanced and also easier to use for people who hold a phone in the right hand using the device one-handed.

[2020-06-01 20:36] boek opened #11123 "FNX-11993 ⁃ [Bug] IllegalStateException: drawable must not be null when setting thumbnail"
[code]

[2020-06-01 22:04] csadilek opened #11125 "FNX2-13358 ⁃ [Bug] [Crash] IllegalStateException: FragmentManager has been destroyed"
There's a recent significant spike of this crash in Nightly starting May, 19:
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6457309/

Various cases of this fixed before: https://github.com/mozilla-mobile/fenix/issues?q=is%3Aissue+FragmentManager+has+been+destroyed+is%3Aclosed

Only known (unresolved) STRs are: https://github.com/mozilla-mobile/fenix/issues/8374

[2020-06-01 22:09] kglazko commented on #11074
Seems related to past work in https://github.com/mozilla-mobile/android-components/issues/6324 and could be useful to think about in the feature as we consider abbreviating URLs

[2020-06-01 22:11] serovar commented on #8812
Any news on this?

[2020-06-01 22:30] liuche commented on #10882
@leela52452 can you explain what this is, and how you expect to use it? Fenix uses Gecko engine so if Gecko has it, Fenix should have it. However, if there's an API that needs to be exposed, please file in https://github.com/mozilla-mobile/android-components .

[2020-06-01 22:32] kglazko commented on #11070
Just to clarify, are you able to scroll down the list to view history items? We have a similar feature request here that sounds like it could describe your issue: https://github.com/mozilla-mobile/fenix/issues/1161

[2020-06-01 22:34] kbrosnan commented on #10452
This also breaks in the same way if the user hits the back button or the exit fullscreen button.

[2020-06-01 22:35] kglazko commented on #11041
Closing because it is a duplicate

[2020-06-01 22:38] kglazko commented on #10837
Closing due to duplicate and confirmation of expected behavior.

[2020-06-01 22:38] kbrosnan commented on #10315
issue #10452 exists to deal with the full screen problem. Closing as a dupe of #10071 which was fixed by the pr Emily mentioned.

[2020-06-01 22:39] kglazko commented on #10818
Closing due to the fact it is a duplicate

[2020-06-01 22:48] liuche commented on #11023
looks like could be a good first bug for @person808 ?

[2020-06-01 22:49] liuche commented on #6180
might be a good first bug for @person808

[2020-06-01 22:53] mcomella opened #11126 "FNX2-13359 ⁃ Investigate startup MAIN regression 5/29 (20ms) - due to proguard config change?"
MAIN on the G5:

* 5.28: 1.473
* 5.29: 1.512

Note: on 5.21, the runtime was 1.499 so the regression may not be as dramatic as these initial numbers indicate.

We had to remove one our optimizations (due to a bug in R8) on May 29 https://github.com/mozilla-mobile/fenix/pull/10183#issuecomment-634343396: perhaps this is the cause.

[2020-06-02 01:11] leela52452 commented on #10882
hello @liuche

good question. all i know `Notably, Firefox currently does not support lookbehinds, and therefore is not able to perform as many typo fixes as other browsers.` given at [jwb](https://en.m.wikipedia.org/wiki/User:Joeytje50/JWB). see also [some browsers not supporting Regex lookbehinds](https://caniuse.com/#search=lookbehind)

[2020-06-02 03:11] ekager commented on #8443
Yes the wikipedia issue seems fixed but can reproduce with gamefaqs.gamespot.com

[2020-06-02 03:27] ekager commented on #10714
Closing for #10193

[2020-06-02 03:30] ekager commented on #10765
I'm not as concerned if this is only happening on Beta and not Nightly. I don't think there's anything we can do to fix this with older GV versions.

[2020-06-02 03:45] ekager commented on #1649
Closing because the readme has been updated

[2020-06-02 04:02] ekager commented on #3903
Here's the FXR implementation we should copy over to AC's toggling functions:
https://github.com/MozillaReality/FirefoxReality/blob/d9ed84853eeb8ffcbfe645bd5460afa554dad271/app/src/common/shared/org/mozilla/vrbrowser/browser/engine/Session.java#L988-L991

[2020-06-02 04:09] #5971 closed

[2020-06-02 04:12] ekager commented on #10793
If you can still reproduce this in Nightly, could you possibly grab a screen recording of this happening?

[2020-06-02 04:20] ekager commented on #10709
More STR from #10979

## Steps to reproduce
Have a tab opened and visible.
Share link to Fenix from another app.
Background Fenix.
Tap the launcher icon to open Fenix.
App crashes

* Fenix version: latest master and also 5.0.0 from Playstore.

[code]

[2020-06-02 04:21] ekager commented on #10979
Closing for https://github.com/mozilla-mobile/fenix/issues/10709

[2020-06-02 04:45] sheikh-azharuddin commented on #6133
Kiwi supports 4 translation engine and is now open source. Is it not possible to use the code and implement the feature in firefox too?

[2020-06-02 06:39] softvision-miralobontiu commented on #10765
The issue no longer reproduces on Beta 5.1.0-beta.3.
Verified on Samsung Galaxy Tab S6 (Android 9), and Samsung Galaxy Note 8 (Android 9).
I will close this.

[2020-06-02 06:52] yoasif opened #11128 "FNX2-13360 ⁃ [Bug] Third party cookie blocking not working in custom mode when tracking content is blocked in private tabs"
## Steps to reproduce
1. Enable ETP in custom mode with cookies: all third party, tracking content: only in private tabs
1. Open https://www.whatismybrowser.com/detect/are-third-party-cookies-enabled in private mode

### Expected behavior
Third party cookies are blocked.

### Actual behavior
Third party cookies are not blocked.

### Device information
* Android device: Pixel 2
* Fenix version: 75.

[2020-06-02 07:34] mcarare commented on #6198
Closing as per comment above.

[2020-06-02 07:34] #6198 closed

[2020-06-02 08:01] Archaeopteryx opened #11129 "FNX-12000 ⁃ [Bug] Intermittent org.mozilla.fenix.perf.StartupHomeActivityLifecycleObserverTest java.lang.AssertionError: Verification failed: number of calls happened not matching exact number of verification sequence"
Log: https://treeherder.mozilla.org/logviewer.html#?job_id=304585027&repo=fenix

[task 2020-06-01T18:46:00.822Z] SUITE: org.mozilla.fenix.perf.StartupHomeActivityLifecycleObserverTest
[task 2020-06-01T18:46:00.822Z]   TEST: WHEN onStop is called THEN the metrics are set and the ping is submitted
[task 2020-06-01T18:46:01.421Z]   FAILURE
[task 2020-06-01T18:46:01.421Z]
[task 2020-06-01T18:46:01.421

[2020-06-02 10:28] ebalazs-sv commented on #11004
Verified as fixed on Beta Migration build 5.1.0-beta.3 with OnePlus 5T (Android 9), Google Pixel 3a (Android 10).
I will remove the qa:needed label. Thanks!

[2020-06-02 10:53] ebalazs-sv opened #11154 "FNX-12030 ⁃ Fennec migration: The "Updating Firefox..." button text is written with white instead of blue"
## Preconditions:
Have Fennec installed.

## Steps to reproduce
1. Replace Fennec with Fenix;
1. Observe the "Updating Firefox..." button from the Migration onboarding screen;
    1. Expected behavior
The "Updating Firefox..." button text is written with blue, as in the [specs](https://miro.com/app/board/o9J_kw1CGow=/).
    1. Actual behavior
The "Updating Firefox..." button text is written with w

[2020-06-02 11:27] ebalazs-sv commented on #10948
This issue is still reproducible on Beta Migration Build 5.1.0-beta.3 with Motorola Moto G6 (Android 8), Google Pixel 3XL (Android 9), Huawei MediaPad M3 lite (Android 7).

[2020-06-02 11:36] ebalazs-sv commented on #10844
Verified as fixed on Beta Migration Build 5.1.0-beta.3 with Motorola Moto G6 (Android 8), Google Pixel 3XL (Android 9), Huawei MediaPad M3 lite (Android 7).
The homescreen shortcuts are opened in Fenix in a new tab.

[2020-06-02 11:38] topotropic opened #11132 "FNX-12004 ⁃ Restructure home menu"
Let's restructure the home menu slightly to match better with the site menu.

![image](https://user-images.githubusercontent.com/353960/83515831-47a25900-a4d6-11ea-8ed0-fd01a03e4020.png)

[2020-06-02 11:55] sv-ohorvath commented on #11015
Verified on Fenix 5.1.0-beta 3 that user preference is kept and Standard is the default if there is nothing set.

[2020-06-02 12:04] mcarare commented on #9780
Closing this, as it's the same issue as : https://github.com/mozilla-mobile/fenix/issues/9594 verified as fixed. Same button on snackbar, different texts.

[2020-06-02 12:04] #9780 closed

[2020-06-02 12:11] mcarare commented on #9781
This appears to be fixed (by other changes). Can QA please verify? TY!

[2020-06-02 12:19] klint opened #11134 "FNX-12006 ⁃ [Bug] Site titles in Collections are truncated too soon"
## Steps to reproduce
Add some sites to a Collection
Expand this Collection
Check the site titles in the Collection

### Expected behavior
Information density should be maximized, and no space should be left unused so that most of the title can be displayed.

### Actual behavior
As shown on the below image (in red), some space is left unused instead of expanding the site title.

![image](https://u

[2020-06-02 12:28] Diana-Rus commented on #8853
Hi, reproducible with Google Pixel 3 XL (Android 9) on Beta 5.1.0-beta.3.

[2020-06-02 12:36] softvision-miralobontiu opened #11135 "[Bug] The "Undo" text from the deleted bookmark's snackbar is missaligned on Android 5 devices"
## Steps to reproduce
1. Make sure you have several bookmarks saved.
1. Select 2 or more bookmarks and delete it.
1. Observe the deleted bookmark's snackbar.

### Expected behavior
The text "Bookmarks deleted UNDO" is aligned.

### Actual behavior
The text "Bookmarks deleted UNDO" is misaligned. If you delete only 1 bookmark, the snackbar's text is aligned.

### Device information
* Android device

[2020-06-02 12:36] topotropic commented on #11114
dupe of https://github.com/orgs/mozilla-mobile/projects/53#card-39157128

[2020-06-02 12:41] topotropic commented on #10830
This is done and a follow up is here https://github.com/mozilla-mobile/fenix/issues/10925

[2020-06-02 12:41] mcarare commented on #9776
This was fixed. Can QA please verify? TY!

[2020-06-02 12:42] topotropic commented on #10741
This is fixed. Thanks!

[2020-06-02 12:45] mcarare opened #11136 "FNX-12009 ⁃ [Bug] Voice search preference is misplaced"
The preference is misplaced, between "show search suggestions" and it's sub-setting "show in private sessions.

![](https://user-images.githubusercontent.com/4400286/82589498-1aa68b80-9b51-11ea-8fab-8b79d000bf5b.png)

[2020-06-02 13:06] mcarare commented on #8629
This should be fixed. Can QA please confirm? TY!

[2020-06-02 13:06] topotropic commented on #10525
Thanks for the feedback – I'd suggest we remove the dividers.

[2020-06-02 13:07] astarq opened #11138 "[Bug] Tapping on a site notification doesn't open the website"
## Steps to reproduce
Allow notifications from a website: Instagram, Reddit, twitter > when you receive a notification, open it

### Expected behavior
Fenix opens the page

### Actual behavior
If firefox is not in the recent apps, Firefox will open to the homepage. If it is, nothing will happen.

### Device information
* Android device: 9
* Fenix version: Nightly 200602 06:01 (Build #2015743859)

[2020-06-02 13:08] topotropic commented on #7551
Please add some context here otherwise we will close the issue. Thanks!

[2020-06-02 13:10] fluffyemily commented on #10870
It looks like this might be the relevant stack:

[code]

It doesn't help that is also looks like ACs crash reporting is crashing too.

[2020-06-02 13:11] mcarare commented on #7754
This was fixed in https://github.com/mozilla-mobile/fenix/commit/7feae9894409291d99f4090f2e4455779b2daa10.

[2020-06-02 13:11] #7754 closed

[2020-06-02 13:14] fluffyemily commented on #4793
This is being tracked under https://bugzilla.mozilla.org/show_bug.cgi?id=1623715. The implementation of Media Session inside Gecko is a pretty big task and is likely to take longer than a single release cycle. Earliest possible GV for this landing is probably GV 80.

[2020-06-02 13:19] softvision-miralobontiu opened #11139 "FNX-12011 ⁃ [Bug] Pages that exceed the allocated space are displayed improperly when creating a collection"
## Steps to reproduce
1. Install Privacy Badger or Dark Reader add-on - a new tab is opened with information regarding the installed add-on.
1. Tap the tab counter.
1. Long tap the tab opened at step 1 and observe the layout of the moz-extension:// pages text.

### Expected behavior
The moz-extensions:// pages are displayed with"..." or blank space, they don't exceed the checkbox.

### Actual beha

[2020-06-02 13:20] fluffyemily commented on #4002
Do we need to create a new GV bug for this, as the current Gecko bug that is being waited on was closed 8 months ago. See @cpeterso's [comment](https://github.com/mozilla-mobile/fenix/issues/4002#issuecomment-540705520)

[2020-06-02 13:23] topotropic commented on #10373
Thanks for the feedback, home button is gone so I'll close it.
We'll consider https://github.com/mozilla-mobile/fenix/issues/10368

[2020-06-02 13:28] mcarare commented on #7718
This should be already fixed. Can QA please confirm? TY!

[2020-06-02 13:31] ValentinTimisica commented on #10113
Reopening this for QA.

[2020-06-02 13:32] #9696 closed

[2020-06-02 13:33] Diana-Rus opened #11140 "[Bug] [L10n] Dialog box for private use of an addon is not translated"
## Prerequisites
* Set browser language to Japanese.
    1. Steps to reproduce

1. In browser go to Menu/Settings/Add-ons
1. Install an add-on.
1. Inspect the dialog which informs about in private use of the add-on.
    1. Expected behavior
The dialog box is translated.

* "...has been added to..."
* "Open it in the menu"" - info
* "Allow in private browsing" - checkbox
* "Okay, got it" - button

[2020-06-02 13:54] mcarare commented on #9796
Fixed in : https://github.com/mozilla-mobile/fenix/pull/11133.

[2020-06-02 13:56] ekager commented on #10571
Reopening for QA

[2020-06-02 13:57] AndiAJ opened #11141 "FNX-12013 ⁃ [Bug]Noticeable lag when opening and dismissing the search view on Google Pixel 3a (Android 10)"
### Prerequisites
Have a fresh install or a clean profile

## Steps to reproduce
1. Tap the Start browsing button
1. Dismiss the search view
1. Tap the '+' new tab button
1. Dismiss the search view

### Expected behavior
Smooth and fast transitions

### Actual behavior
Laggy transitions

Step 1: Transition from Start Browsing  ⇒ Search view  **approx. 4 seconds**
Step 2: Transition after dismissin

[2020-06-02 14:11] mcarare commented on #11139
The problem is not related to extensions, but to any hostname that exceeds the allocated space.

[2020-06-02 14:14] g1nk1-m commented on #10793
[Video of the issue](https://streamable.com/5yoeyc). I also found a weird temporary fix for the issue.If I switch my mobile data to SIM 2 and use it to access the app, it works normally. After using SIM 2 for accessing any page once, I can switch back the data to SIM 1 and everything works as intended. [Video of the temp fix](https://streamable.com/xja05z)

[2020-06-02 14:17] ekager commented on #10793
Thanks for those videos!

[2020-06-02 14:17] #9232 closed

[2020-06-02 14:22] AaronMT commented on #8713
Dupe of https://github.com/mozilla-mobile/fenix/issues/8714

[2020-06-02 14:22] #8713 closed

[2020-06-02 14:22] sv-ohorvath commented on #10836
Fixed by https://github.com/mozilla-mobile/fenix/pull/10842.

[2020-06-02 14:23] ebalazs-sv commented on #10885
This issue is reproducible on Beta Migration Build 5.1.0-beta.3 with Motorola Moto G6 (Android 8).

[2020-06-02 14:24] mcarare commented on #8638
I cannot reproduce any significant a11y issue on this screen, and as in the comment above, I'm not sure I understand what the reported problem is. @Diana-Rus can you please, clarify? TY!

[2020-06-02 14:25] vesta0 commented on #3177
@rocketsroger can we close this now?

[2020-06-02 14:25] AndiAJ commented on #10496
Hi, **verified as fixed** on the latest **`Nightly 200602 from 6/2`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200602-172202](https://user-images.githubusercontent.com/51314259/83531684-f86c2080-a4f5-11ea-8a06-56c548defa81.gif)

[2020-06-02 14:29] vesta0 commented on #6478
As part of this investigation we first need to first define the bounds of what we want to save (how many tabs, how much content on the page, media, etc) before filing the GV bug. For example: our MVP for this could be (1) recent tabs only from the past 24 hours) and (2) text pages only

[2020-06-02 14:30] mcarare commented on #8636
I'm closing this, as it is a problem within the website, and not something we could improve.

[2020-06-02 14:30] #8636 closed

[2020-06-02 14:31] Diana-Rus commented on #10727
Hi, issue seems to be fixed, checked with Google Pixel 3 XL (Android 9), Samsung Galaxy S9 (Android 8) and Sony Xperia Z5 (Android 7) on Firefox Preview Nightly 200602 (Build #21540608)

**GIF - Google Pixel 3 XL (Android 9)**
![20200602-170716](https://user-images.githubusercontent.com/49859863/83531266-695f0880-a4f5-11ea-9a8e-f450a45136dc.gif)

[2020-06-02 14:45] AndiAJ commented on #11031
Hi, **verified as fixed** on the latest **`Nightly 200602 from 6/2`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200602-173907](https://user-images.githubusercontent.com/51314259/83533848-c1e3d500-a4f8-11ea-8ef2-9c2518bcc1a4.gif)

[2020-06-02 14:46] mcarare commented on #8635
This was previously fixed in https://github.com/mozilla-mobile/android-components/pull/5299. But changes have been made to error pages since. I am going to take a look at this.

[2020-06-02 14:55] AndiAJ commented on #10996
Hi, **verified as fixed** on the latest **`Nightly 200602 from 6/2`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200602-175110](https://user-images.githubusercontent.com/51314259/83535016-34a18000-a4fa-11ea-8cb1-284af1c474a5.gif)

For the Undo snackbar issue I've opened #11025

[2020-06-02 14:57] rocketsroger commented on #3177
Yes, I think so.  I don't know any open issues related to this.

[2020-06-02 15:01] st3fan commented on #8631
We've pushed this as far as we can and won't be making more changes.

[2020-06-02 15:01] #8631 closed

[2020-06-02 15:04] st3fan commented on #10666
I think we want to test this again when the new tab tray is enabled by default.

[2020-06-02 15:06] st3fan commented on #10666
Moving this to done since these tests are already part of the test plan and will be run when a build appears where the new tabs tray is enabled.

[2020-06-02 15:13] mcarare commented on #7756
This was fixed This was fixed, issue was reported for normal tab (https://github.com/mozilla-mobile/fenix/issues/10359), and both menus use the same buttons from AC.

[2020-06-02 15:13] #7756 closed

[2020-06-02 15:17] Amejia481 commented on #4002
I think we should take a look to see, where the source of the issue is originated and then decide if a new bug it is needed :)

[2020-06-02 15:17] AndiAJ commented on #10505
Hi, **verified as fixed** on the latest **`Nightly 200602 from 6/2`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Screenshots
![rsz_screenshot_20200602_180137_orgmozillafenixnightly](https://user-images.githubusercontent.com/51314259/83537515-505a5580-a4fd-11ea-81c3-6191f640bbd6.jpg)

![rsz_screenshot_20200602_181128

[2020-06-02 15:22] Amejia481 opened #11144 "FNX-12016 ⁃ List of unavailable add-ons is not refreshed"
Related AC issue https://github.com/mozilla-mobile/android-components/issues/6855

## Preconditions:
Have unavailable add-ons for Fenix Beta added to Fennec Beta.

## Steps to reproduce
1. Replace Fennec Beta with Fenix Beta;
1. Launch Fenix and go to the Add-ons list;
1. Scroll to the end of the list and tap the "Not yet available" section;
1. Delete one add-on from the list and tap the back butt

[2020-06-02 15:26] Amejia481 commented on #11144
@Diana-Rus we need to wait for https://github.com/mozilla-mobile/fenix/pull/11142 and test with a nightly build

[2020-06-02 15:26] shorlander commented on #8278
[Branding-Firefox.zip](https://github.com/mozilla-mobile/fenix/files/4718098/Branding-Firefox.zip)

I included the stacked version of the logo lockup, but I am not actually sure we use it anymore? Should be able to use the single line version for the homescreen and the about screen (ic_logo_wordmark_normal-horizontal.png)

[2020-06-02 15:27] apbitner opened #11145 "FNX-12018 ⁃ Show PBM CFR after user has accessed PBM multiple times"
### User Story
As a user, I want to know that a PBM shortcut is available after I've accessed PBM a few times, because a user accessing PBM multiple times is a sign they may benefit from using a PBM shortcut instead of messaging all users right away.

### Acceptance Criteria
Show the existing PBM CFR on the _third_ time a user accesses PBM.

[2020-06-02 15:29] Erroneuz commented on #5640
Anyway to get some eyes on this? This is quite a huge oversight in Firefox Preview. In Firefox for desktop it can be adjusted with IDN_show_punycode = true

[2020-06-02 15:38] snorp commented on #10870
Yeah, I would try not profiling the Java UI thread if you can. You can uncheck that in the settings when you attach.

[2020-06-02 15:41] Diana-Rus commented on #10079
Hi, issue is fixed, verified with Google Pixel 3 XL (Android 9), Samsung Galaxy S9 (Android 8) and Sony Xperia Z5 (Android 7)
- Verified with menu for top sites
- Verified with menu for search engines
- Verified with the ⋮ Main menu home screen

GIF - Google Pixel 3 XL (Android 9
![20200602-182109](https://user-images.githubusercontent.com/49859863/83540201-a8df2200-a500-11ea-981b-c71a5959f99d.gif

[2020-06-02 15:48] AaronMT commented on #10798
For some reason again `verifyPageContent` triggers a timeout. I just don't know enough about UIAutomator to understand what can fail this.

[code]
[code]

[2020-06-02 15:49] liuche commented on #10525
@boek would this be a good bug for @person808? Could start working in the tabs tray team too.

[2020-06-02 15:57] MarcLeclair commented on #10568
Here's the profile: https://share.firefox.dev/3gLYxKa

As you can see we have ~4 or 5 traversals. Reducing the depth of our XML file and the use of a framelayout and inflating sequentially in their own files would reduce the number of traversals.

[2020-06-02 16:01] apbitner commented on #11045
@Dunexus Yes, to @cadeyrn 's point when we removed "https://www" it freed up some room for us to add an additional icon without losing too much screen real estate.

[2020-06-02 16:04] apbitner commented on #11045
@yoasif so far our research has shown that reader mode preferences are not something users change very often, and therefore we feel comfortable moving it to the app settings. The desktop revamp is nice, but on mobile we just don't have as much screen real estate to make those options as easily accessible.

[2020-06-02 16:05] vesta0 opened #11148 "FNX2-13364 ⁃ [Bug] Open in app opens the Chrome browser"
## Steps to reproduce
-Open pocket top articles from top sites
-In the browser menu, tap on "open in app"

### Expected behavior
Either not seeing an "open in app" option OR opening the Pocket app.

### Actual behavior
-Opens the same page in Chrome

### Device information
* Android device: Pixel 4
* Fenix version: Nightly 200602 06:01 (Build #21540609)
* Default browser: Fenix nightly

I was able

[2020-06-02 16:05] liuche opened #11149 "FNX-12021 ⁃ IllegalArgumentExceptionorg.mozilla.geckoview.GeckoWebExecutor: URI scheme must be http or https"
Sentry report: https://sentry.prod.mozaws.net/operations/fenix/issues/8595438/?query=release%3Aorg.mozilla.fenix-5.1.0

IllegalArgumentExceptionorg.mozilla.geckoview.GeckoWebExecutor in fetch
fatalURI scheme must be http or https

Seen in 5.1 even though it should have been fixed already.

[2020-06-02 16:07] boek commented on #10870
@yoasif could you try profiling without the Java UI thread?

[2020-06-02 16:18] ekager commented on #11149
Looks like this is similar to https://github.com/mozilla-mobile/android-components/issues/6314 ie that it is the same trace in `AbstractFetchDownloadService`

[2020-06-02 16:20] yoasif commented on #10870
@boek I see "Java", nothing about "Java UI" in `about:debugging`.

Is it "Java"?

[2020-06-02 16:22] jonalmeida commented on #10885
@liuche it seems the fix for this didn't make it into the beta build, but it landed 8 days ago. I can't find the commit on the 5.1.0 release. 🤔

[2020-06-02 16:24] snorp commented on #10870
yeah, "Java" is the UI thread.

[2020-06-02 16:38] yoasif commented on #10870
I was able to successfully capture a profile when disabling Java.

[2020-06-02 16:46] st3fan opened #11150 "FNX2-13365 ⁃ [Bug] Files fail to load or write, first time after Permission is Approved"
User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:76.0) Gecko/20100101 Firefox/76.0

Steps to reproduce:

Tested on Android 8.1 / Nightly 78
(after a fresh install)

Attempt to load a file, triggers Permission Approval Request to allow FF to access files and camera.
After granting FF the permissions, the initiated file-load, which triggered the request fails, which may crash site's (web-app's

[2020-06-02 16:47] st3fan opened #11151 "[Bug] Cannot select text in some places"
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:77.0) Gecko/20100101 Firefox/77.0

Steps to reproduce:

[code]

Actual results:

Nothing

Expected results:

Text in the title is selected

I tested this in both Fennc 68.8.0esr and Firefox Preview 5.0. Also text in the video comments cannot be selected either. Text in video descriptions can be selected normally. Also double tap doesn't select text ei

[2020-06-02 16:49] ekager commented on #11151
I think we should move the Bugzilla bug to the GV component?

[2020-06-02 16:50] st3fan opened #11152 "[Bug] Receiving link from other device"
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:76.0) Gecko/20100101 Firefox/76.0

Steps to reproduce:

I send multiple links to read later and on my mobile devise using Firefox Sync account.

The Android UI (devise is Samsung Galaxy S9) shows me several notification which I have to select one by one to open in Firefox Mobile.

Actual results:

I have to click on each notification (the sy

[2020-06-02 16:53] ekager commented on #11151
Possibly related to #10653

[2020-06-02 17:03] ekager commented on #10793
Looks like the relevant piece of the log is
[code]

[2020-06-02 17:13] mstange commented on #10870
This should be fixed now that [bug 1639630](https://bugzilla.mozilla.org/show_bug.cgi?id=1639630) has trickled into Fenix builds. There is also [bug 1641119](https://bugzilla.mozilla.org/show_bug.cgi?id=1641119) on handling the OutOfMemory error more gracefully.
Asif, can you check again? If not, can you comment on bug 1641119?

[2020-06-02 17:13] AmyYLee opened #11153 "[Private Browsing] Opened apps view should always hide contents of private screen"
Steps to reproduce:

1. Open a new tab in private browsing
1. Go to open apps view

Expected:
Private mode contents is hidden (for private homescreen and websites)

Actual:
Private mode contents is shown.

Rational: The idea of private browsing is that we keep your what you're looking at private except when you're actively using Private mode. Showing the contents of private browsing outside of the

[2020-06-02 17:25] yoasif commented on #10870
It still crashes @mstange.

[2020-06-02 17:37] liuche commented on #9409
We're currently at 5% rollout for Firefox Beta: https://bugzilla.mozilla.org/show_bug.cgi?id=1639964

So once we hit 100% we can validate/close this, or you can also test on the builds here: https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.beta.2020.06.02.revision

[2020-06-02 17:48] liuche commented on #10193
We talked about this in triage and decided that we should strip out the title (since we'll send this anyway if it's an email). Will aim to do this for release bc it's small.

[2020-06-02 17:48] liuche commented on #10193
@boek maybe another issue? should i just add these to the board 😅

[2020-06-02 17:49] ekager commented on #10793
Closing for https://github.com/mozilla-mobile/fenix/issues/9935

[2020-06-02 17:49] ekager commented on #9935
See similar issue in the wild: #10793

[2020-06-02 18:02] ekager commented on #11153
It's a setting in PBM settings -> "allow screenshots in private browsing" . The default setting is set to true (screenshots are allowed to be taken in private mode), as described in #2768

[2020-06-02 18:28] jhlin commented on #7956
@SamuXzX Thank you so much! Could you please help try the latest Fenix build again to see if it still crashes? If so, then it must be something in the Fenix code that causes this issue.

[2020-06-02 18:43] darkwing opened #11155 "[Bug] Tab Tray - No screenshot or favicon when opening tabs from collection"
STR:

1. From the home screen, select "Open in tabs" for any collection
1. Tab tray expands

There are no favicons or screenshots displaying for each site, just a blank white square

![Screenshot](https://user-images.githubusercontent.com/46655/83557220-e333c980-a4d6-11ea-87c5-37b506aa9c08.png)UNITO-UNDERSCORE!20200602-132013!

[2020-06-02 18:45] serovar commented on #5561
Any consideration for this after 8 months? It's a feature parity request after all (not only with all the Chromium-based browsers, but with Fennec itself).

[2020-06-02 18:45] ksy36 commented on #9046
There is a similar message recieved when trying to save an image on twitter in https://github.com/webcompat/web-bugs/issues/53602. Example file: https://pbs.twimg.com/media/EZhMjC4XsAU2KtD?format=jpg&name=900x900

I've tried downloading images from other websites as well and expirience the same issue.

[2020-06-02 18:45] ekager commented on #11155
I don't think we restore favicons so until you click into those tabs they won't appear (pretty sure this carried over from old home tabs behavior)

[2020-06-02 18:47] darkwing commented on #11155
Right, but we need some type of solution.  Maybe a default screenshot or favicon image of some kind.  Any empty square looks weird, like something is broken.

[2020-06-02 18:53] psymoon commented on #10935
@cadeyrn this is available in nightly now.

[2020-06-02 18:54] psymoon commented on #8319
@yoasif this is available in nightly now.

[2020-06-02 18:57] yoasif commented on #8319
@psymoon Yes, it is great! :+1:

[2020-06-02 19:10] darkwing opened #11156 "FNX-12032 ⁃ [Bug] Tab Tray - Grey Screenshots After Sharing Tabs"
## Steps to reproduce
1. Open tab tray
1. From three-dot menu, select Share Tabs
1. Complete the share; I used Email

### Expected behavior
Go back to the tray, nothing changes

### Actual behavior
Go back to the tab tray, no screenshot or favicon, just a grey box.

![Screenshot](https://user-images.githubusercontent.com/46655/83559845-d9ac6080-a4da-11ea-8436-9ec09e446216.png)UNITO-UNDERSCORE!2020

[2020-06-02 19:11] AaronMT commented on #10467
Noticed this issue when attempting to re-enable readability Reader Mode UI tests.

Fresh clean install -> launch browser -> visit a reader capable local asset page -> expected a dot (no dot).

This used to work fine, is Readability not working on local pages?

[2020-06-02 19:13] opusforlife2 opened #11157 "FNX2-13370 ⁃ [Bug] "Run in Private Browsing" toggled off by Fenix update"
## Steps to reproduce
1. Have "Run in Private Browsing" toggled on for your extensions.
1. Update Fenix (this happened for me for the 4.3 ~~> 5.0 and 5.0~~ > 5.1 updates).
1. Check the toggle for your extensions
    1. Expected behavior
The preference stays toggled on.
    1. Actual behavior
The preference is toggled off.

[2020-06-02 19:23] softvision-oana-arbuzov commented on #9909
Indeed the crash no longer occurs, but the browser becomes unresponsive displaying a popup "Close app/Wait/Send feedback"
![image](https://user-images.githubusercontent.com/12184325/83560317-b60b0980-a51e-11ea-964f-3e9d22055264.png)

Tapping "Wait" and long pressing the screen again displays the popup to "Save the image".
The image seems to be downloaded but the size is shown as "null".
![image](h

[2020-06-02 19:37] AaronMT commented on #9655
This is dependent (and all Reader View tests) on an issue with readability notifications not appearing. Commented in https://github.com/mozilla-mobile/fenix/issues/7408#issuecomment-587551828

[2020-06-02 19:51] AaronMT commented on #10467
Here's a test page:

Load this in a fresh profile in Fenix. First launch, visit:

[code]

No blue notification dot.

I assume this should work. Test page grabbed from https://github.com/mozilla/readability/tree/master/test/test-pages/missing-paragraphs where the metadata shows it as `readerable = true`

[2020-06-02 20:05] ekager commented on #10467
Hey @BranescuMihai are you still working on this?

[2020-06-02 20:07] hakkikaancaliskan commented on #9039
@pocmo hey dev, does this patch included in new beta update? I think this is deal breaker without it.

[2020-06-02 20:41] serovar commented on #4337
This could also work via extensions, for example I used [this one](https://addons.mozilla.org/en-US/android/addon/android-pdf-js/) on Fennec.

[2020-06-02 20:43] BranescuMihai commented on #8759
Regarding the 6 items limit, it's actually already implemented, just tested it on Android 10 OnePlus 7 and it worked as expected. We should investigate why this doesn't work on some devices

[2020-06-02 20:54] AmyYLee commented on #11153
@ekager - Screenshots can still be allowed to be taken. This issue is specifically for the open apps view where we don't hide private browsing screen (when most other browsers do). Spoke to @vesta0 and she is okay with my recommendation.

[2020-06-02 21:07] cbonacuse commented on #9409
Confirmed this is fixed in Beta ([QA campaign in LP here](https://www.leanplum.com/dashboard#/5200078867791872/messaging/6346484983136256)).

Thank you! This can be closed out.
![Screenshot_20200602-170145](https://user-images.githubusercontent.com/60749496/83570126-8397e700-a4f3-11ea-9cf2-2be8e0b779e5.png)

[2020-06-02 21:07] #9409 closed

[2020-06-02 21:34] andreicristianpetcu commented on #11081
If the border would have the URL bar color I think it would look a lot better in dark mode

[2020-06-02 21:42] AmyYLee commented on #11134
The line width should match the width of "open tabs" line width. See below. Thanks
<img width="473" alt="Screen Shot 2020-06-02 at 17 42 27" src="https://user-images.githubusercontent.com/5992746/83572932-75989500-a4f8-11ea-85c7-c8f357d72c6b.png">

[2020-06-02 21:42] ekager commented on #11153
@AmyYLee I can reopen but I am still not sure what you're talking about. When I turn this setting on, I cannot screenshot any screen of the app, and in the apps view, I see a grey blob over Fenix. Are you talking about changing the default setting for screenshots? Or is this function not working on your build even when you have toggled the setting?

[2020-06-02 21:44] ekager commented on #11153
From the eng side - we can't differentiate between not allowing screenshots and hiding in the app switcher. It's just one action -> we just tell the system that this is a secure window.

[2020-06-02 21:45] AmyYLee commented on #10878
Assigned @topotropic for consideration

[2020-06-02 21:53] AmyYLee commented on #10862
@topotropic Do you have feedback on this?

[2020-06-02 21:55] AmyYLee commented on #10551
@brampitoyo for feedback

[2020-06-02 21:59] linuxlover opened #11161 "FNX-12038 ⁃ Option to play video in the background"
I like the new firefox (Preview)

One option is missing for me.
Give option to play background video. In that way i can play youtube in one tab and meantime checking some thing on other tabs or even switch off the screen.

[2020-06-02 22:04] kbrosnan commented on #11161
Youtube stops video playback when the user switches away from the tab. Duplicate of #10366

[2020-06-02 22:45] mcomella commented on #7376
@MarcLeclair saw a review on Google Play in [the Firefox Preview channel](https://play.google.com/store/apps/details?id=org.mozilla.fenix&hl=en_CA):

It seems that this is still relevant (though I don't think that channel has been updated in a while).

[2020-06-02 23:11] sraturi opened #11162 "FNX-12039 ⁃ [Telemetry] Validate and document the different "app opened" telemetry"
This issue is opened to validate the three open methods (app_icon, custom_tab or link) to open the app, and decide if they are comprehensive or if another method should be defined.

## Description & Product Manager / Data Scientist User Story
"how was the app opened?" (home screen, app link, custom tab)

## What questions will you answer with this data?
Measuring startup performance

## Acceptance

[2020-06-02 23:38] ebarrenechea commented on #10989
@boek I was playing around with the new tab tray feature and it seems this is still an issue (latest from master). I had a look at it and I think it's because the coroutine to collect the flow in `TabsTrayPresenter` is not being reset after the `TabTrayDialogFragment` is destroyed.

I had a look at the code and the `TabsFeature` already extends `LifecycleAwareFeature` which should take care of sto

[2020-06-03 00:27] SS1113 commented on #9039
@hakkikaancaliskan I have `5.1.0-beta.3`, and it still reloads the webpages.

[2020-06-03 00:32] victor-bayas commented on #9039
Can confirm in my SM-G970F, issue persists in Fenix 5.1 (non-nightly)

[2020-06-03 00:35] liuche commented on #9039
Since this just landed, it won't be in the 5.1 release, but will be part of the 5.2 release.

[2020-06-03 00:38] liuche commented on #10885
The 5.1 build was cut a couple of weeks ago, so this will go into 5.2. If we wanted this in 5.1 we would have needed to get an uplift flagged for it.

[2020-06-03 00:42] liuche commented on #11149
This looks like it landed in AC 38, so it should definitely not be showing up in Fenix 5.1/AC 42.

[2020-06-03 01:37] ghost opened #11165 "FNX-12043 ⁃ [Bug] The "beta" tag is missing in the homescreen icon in the latest beta version 77.0.0-beta.1"
## Steps to reproduce
The beta tag is missing in the homescreen icon in the latest beta version `77.0.0-beta.1`. This makes it harder to distinguish between the [Firefox for Android](https://play.google.com/store/apps/details?id=org.mozilla.firefox) (Fennec) and the [Firefox Beta](https://play.google.com/store/apps/details?id=org.mozilla.firefox_beta) (Fenix)

### Expected behavior
Beta tag should

[2020-06-03 01:38] SS1113 commented on #9039
@liuche Is it available in the `77.0.0-beta.1`?

[2020-06-03 01:38] jonalmeida commented on #8043
There was some UX feedback on Focus for this request that's worth referencing here: https://github.com/mozilla-mobile/focus-android/issues/3646

[2020-06-03 01:42] victor-bayas commented on #9039
I downloaded the 77.0 beta 1 from here https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-beta/latest and it still discards backgrounded tabs

[2020-06-03 01:47] jonalmeida commented on #7926
We can re-test this once https://github.com/mozilla-mobile/android-components/issues/7217 us fixed - it removes the concurrency requirements of the `IntentReceiverActivity`.

[2020-06-03 01:47] SS1113 commented on #9039
@victor-bayas then we need to wait another 2 weeks before it gets included in 5.2. I think there's no difference between Firefox Preview and Firefox Beta; they both have the same codebase of you are keeping your build up-to-date form the Taskcluster.

[2020-06-03 03:05] gawa971 commented on #10721
Maybe two or three weeks ago I ran into this bug for the first time because I started using daily a website with a self-signed certificate. It wasn't an issue because by zooming in I could still tap the "Accept the risk" button.

Since I upgraded Firefox Preview, zooming in is not enough. The button "Accept the risks" cannot be selected anymore.

I do not upgrade regularly Firefox Preview so I don

[2020-06-03 03:05] vesta0 commented on #6190
All the issues sited here are now closed :)

[2020-06-03 03:05] #6190 closed

[2020-06-03 04:58] sheikh-azharuddin opened #11168 "FNX-12045 ⁃ [webcontent] webpages broken or not loading"
with issue and any steps to reproduce
I have 2 sites where I am facing issue-

https://www.covid19india.org/
Page is not displaying all the items kind of broken.. works fine in chrome.

https://news.google.com/articles/
On clicking the individual article in the page it shows a white screen and after that, sometime it loads with delay and sometime just stuck on white screen.also somewhat I feel bro

[2020-06-03 05:13] mcarare commented on #11145
@apbitner AFAIK this is already implemented this way, with the mention that if you have Focus installed it will be shown the first time you open private browsing.

[2020-06-03 06:05] boek commented on #10193
@liuche yep, I'll add it! Maybe @person808 wants to take a crack at it tomorrow :)

[2020-06-03 06:42] AndiAJ commented on #11141
Seems to be **fixed** on the latest **`Nightly Build 200603 from 6/03`** using Google Pixel 3a (Android 10)

► Video
![20200603-093841](https://user-images.githubusercontent.com/51314259/83604200-74aa4680-a57e-11ea-8c6f-4e4d9bf7668a.gif)

[2020-06-03 06:56] ebalazs-sv commented on #11136
Verified as fixed on Fenix Nightly Build 21550608 GV 78 from 6/3 with Motorola Moto G6 (Android 8) and Huawei P9 Lite (Android 7).

The "Show voice search" setting is now above the "Show search suggestions" setting.
I will remove the qa:needed label.

[2020-06-03 07:03] boek opened #11171 "FNX-12048 ⁃ remove tabtray feature flag"

[2020-06-03 07:07] AndiAJ commented on #11038
Hi, **verified as fixed** on the latest **`Nightly Build 200603 from 6/3`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200603-094618](https://user-images.githubusercontent.com/51314259/83606247-ee8fff00-a581-11ea-8ea4-84dda0dee8c2.gif)

[2020-06-03 07:09] Osyotr commented on #10746
This autocompletion is really annoying.

[2020-06-03 07:11] ghost opened #11172 "FNX-12049 ⁃ [Bug] In Firefox Nightly all Sync items are enabled even though I've never enabled them."
* [x] AC bug: https://github.com/mozilla-mobile/android-components/issues/7233
* [x] AS bug: https://github.com/mozilla/application-services/issues/3205

## Steps to reproduce
In Firefox Nightly all Sync items are enabled. Even though I have never enabled them. I have only enabled Bookmarks sync option in `77.0.0-beta.1`.

### Expected behavior
Only items that were previously enabled should be ena

[2020-06-03 07:14] codrut-topliceanu commented on #10747
Relevant AC PR merged and its issue closed. Should be ready for testing.

[2020-06-03 07:18] mcarare commented on #7716
Waiting on https://github.com/mozilla-mobile/fenix/pull/10288.

[2020-06-03 07:23] mcarare commented on #7672
Fixed in https://github.com/mozilla-mobile/fenix/issues/9626. QA please confirm! TY!

[2020-06-03 07:24] AndiAJ commented on #10998
Hi, **verified as fixed** on the latest **`Nightly Build 200603 from 6/3`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200603-101119](https://user-images.githubusercontent.com/51314259/83607323-ad98ea00-a583-11ea-9a46-4073bb0616d6.gif)

@boek - #11024 is related to this matter
Closing all **Private Open Ta

[2020-06-03 07:31] AndiAJ commented on #11037
As per [this fix](https://github.com/mozilla-mobile/fenix/issues/10998#issuecomment-638011105) the above mentioned issue is no longer reproducible  on the latest **`Nightly Build 200603 from 6/3`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

[2020-06-03 07:36] AndiAJ commented on #10905
As per [this fix](https://github.com/mozilla-mobile/fenix/issues/10998#issuecomment-638011105) the above mentioned issue is no longer reproducible  on the latest **`Nightly Build 200603 from 6/3`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

@hwinnemoe - Please review and in case you still encounter any issues please r

[2020-06-03 07:39] ghost opened #11174 "FNX-12051 ⁃ [Bug] New Tabs Tray gets blank for a while when the back button is pressed two times quickly or going to the Android's homescreen and coming back"
### Steps to reproduce
1. Go to a website so that you can press back button two times to go back to the Fenix homescreen
1. Press tabs tray icon quickly
1. Observe that the tabs tray is blank for       2 to 3 seconds or even more.

This can also be reproduced if a few tabs are open in fenix and go back to the Android homescreen and come back and press the tabs tray button.

### Expected behavior
T

[2020-06-03 07:47] mcarare commented on #9656
Closing this, as it is a system dialog that we cannot improve.

[2020-06-03 07:47] #9656 closed

[2020-06-03 07:48] boek opened #11175 "FNX-12053 ⁃ migrate static strings for tab tray"
we have a few strings in static strings, they have to get moved before we release

[2020-06-03 07:48] madb1lly commented on #6190
Hi @vesta0,

By "My top sites" I had understood my most frequently visited sites, just like in Fennec and Desktop. Isn't this part of this scope of this meta issue? Or is there another issue for this?

Thanks 🙂

[2020-06-03 07:50] boek commented on #6190
Hey @madb1lly,

Yes that feature is being tracked here: https://github.com/mozilla-mobile/fenix/issues/10342

[2020-06-03 08:00] igalic commented on #4208
behaviours i've noticed on github, specifically, where i write most text:

- trying to “quote" a passage from a previous comment on github, i paste it in the text box, and start adding `>`, they appear at the end

- deleting parts of a text (a bug that's prefilled, try to delete what doesn't apply) with the backspace key starts deleting words in front of it

im using

Nightly 200602 06:01 (Build #

[2020-06-03 08:12] ghost opened #11177 "FNX-12054 ⁃ [Bug] The Fenix Share Sheet is missing several items"
## Steps to reproduce
The Fenix Share Sheet is missing several apps that can be shared to: Add to Pocket, WhatsApp, Discord, Wikipedia search, Mega, Twitter's Direct Message, RAR etc...

But the `77.0.0-beta.1` contains all share shortcuts

### Expected behavior
The share sheet should contain all items/apps that can  be shared to

### Actual behavior
The Share Sheet doesn't contain all app share t

[2020-06-03 08:14] sflorean commented on #7718
Verified as fixed on the latest Nightly build 6/3. Device: Samsung Galaxy Note 10 (Android 10).

[2020-06-03 08:14] #7718 closed

[2020-06-03 08:35] igalic commented on #4208
and a new one, i just discovered:

- paste text
- select all
- fumble around to hit theqquote button
- the text is now quoted!hurrah!
- add or deleteaa single letter
- result: the entire text is gone.bbooo!

im leaving the "mistakes"inhere,as the browser/the keyboard / thewwebsite are making them, for you to see, and because it's too hard to fix

not least becauseii have so little time.
this isthe

[2020-06-03 08:44] ebalazs-sv commented on #10935
Verified as fixed on Fenix Nightly Build 21550609 GV 78.0a1 from 6/3 with Huawei P9 Lite (Android 7), Nexus 5 (Android 6.0.1).

The right chevron icon, like the one available on Fennec, is displayed next to the Add-ons from the main menu, when there are enabled add-ons in the list.

![20200603_114141](https://user-images.githubusercontent.com/48799384/83615651-82b49300-a58f-11ea-90c7-95861d7db184.

[2020-06-03 09:05] LaurentiuApahideanSV opened #11178 "FNX-12055 ⁃ [Bug] The https://www.rbi.org.in/ website is not loading"
## Steps to reproduce
1. Go to https://www.rbi.org.in/
    1. Expected behavior
The website loads correctly.
    1. Actual behavior
The website does not load.
    1. Device information

* Android device: OnePlus 6T (Android 9)
* Fenix version: Firefox Nightly 200603 (Build #21550609), Firefox 68.9.0 (see issue https://bugzilla.mozilla.org/show_bug.cgi?id=1642074 for additional information)

[2020-06-03 09:13] sflorean commented on #9545
Verified as fixed on the latest Nightly build 6/3 with Google Pixel 3 (Android 10) following the steps from the description.

 The issue described in [here](https://github.com/mozilla-mobile/fenix/issues/9545#issuecomment-606572629) is not fixed, the back button isn't highlighted.
@mcarare this will be covered in a different bug?

[2020-06-03 09:17] mcarare commented on #9545
@sflorean Yes, in https://github.com/mozilla-mobile/fenix/issues/10105.

[2020-06-03 09:24] cadeyrn commented on #11177
Pocket and Twitter Direct Message are available on my device. But I can confirm that WhatsApp and a few others are missing in Fenix but not in Firefox Beta.

[2020-06-03 09:25] ebalazs-sv commented on #8319
Verified as fixed on Fenix Nightly Build 21550609 GV 78.0a1 from 6/3 with Huawei P9 Lite (Android 7), Nexus 5 (Android 6.0.1).

✔️ The submenu is showing up only after at least one add-on is installed, and the right chevron arrow is visible.
✔️ If there is no add-on installed, the “Add-ons manager” will open when Add-ons is tapped.
✔️ The add-ons ordering is alphabetical: A–Z.
✔️ In the submenu, u

[2020-06-03 09:25] #8319 closed

[2020-06-03 09:51] #9545 closed

[2020-06-03 09:54] sflorean commented on #8629
I was able to reproduce this issue on an affected build with Google Pixel 3 (Android 10) and I can confirm that no suggestions are made on the same device, build Nightly 6/3.

[2020-06-03 09:54] #8629 closed

[2020-06-03 10:48] igalic commented on #4208
after this update:

Nightly 200603 06:00 (Build #21550609)
44.0.20200601130057, 2ac91e358
GV: 78.0a1-20200529095426
AS: 0.59.0

the above no longer happens

[2020-06-03 11:13] AndiAJ opened #11180 "FNX2-13371 ⁃ [Bug] Tab Tray: Spot displayed on the "New tab" floating action button"
## Steps to reproduce
1. Open the Tabs Tray
1. Check the "New Tab" button

### Expected behavior
No UI issues, properly displayed "New Tab" button

### Actual behavior
A spot get's displayed on "New Tab" button

### Device information
* Android device: Google Pixel 3a (Android 10)
* Fenix version: Nightly Build 200603 from 6/3

### Notes
► Screenshots
![rsz](https://user-images.githubusercontent.c

[2020-06-03 11:26] LaurentiuApahideanSV commented on #11134
I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 200603 (Build #21550609).

Devices:
OnePlus 6T (Android 9);
Huawei MediaPad M3 lite 10 (Android 7.0)

[2020-06-03 11:54] ebalazs-sv opened #11181 "[Bug] The links from about:license page don't open"
## Steps to reproduce
1. Launch Fenix and go to Settings - About Firefox - Licensing information;
1. Tap on any link from the about:license page;
1. Observe the behavior.
    1. Expected behavior
The tapped link opens with the license details.
    1. Actual behavior
The tapped linked don't open.
    1. Notes
This is not reproducible on Fenix Nightly 21451809 GV 78.0a1 from 5/24 when this page used

[2020-06-03 11:58] sv-ohorvath opened #11182 "FNX-12059 ⁃ [Bug] The "Select collection" screen is broken"
## Steps to reproduce
1. Create one collection.
1. Open 2 or more tabs and long-click one to add it to a collection.
1. Check the title of the "Select collection" screen.
1. Tap "Add new collection"
1. Tap back, observe the list.
    1. Expected behavior
The title  "Select tabs" is incorrect.
The "Add new collection" button doesn't work.
When going back to the previous screen, to "Select tabs", th

[2020-06-03 12:00] ebalazs-sv commented on #10064
Verified as fixed on Fenix Nightly Build 21550609 GV 78.0a1 from 6/3 with Huawei P9 Lite (Android 7), Nexus 5 (Android 6.0.1).

The links from the About Firefox page opens in regular links and not in custom tabs.
@ValentinTimisica I had filed a new issue that might be related https://github.com/mozilla-mobile/fenix/issues/11181.

[2020-06-03 12:09] sflorean commented on #9595
Tested on the latest Nightly build 6/3 and on an affected build, and here are my findings:
- Nightly: 40 dp
- affected build: 32 dp
@mcarare this is expected and we could mark as verified?

[2020-06-03 12:16] mcarare commented on #11182
Just a note: clicking on "add new collection" text does not work, but clicking on the + button does.

[2020-06-03 12:42] sflorean commented on #9805
Verified as fixed on the latest Nightly build 6/3 with Google Pixel 3 (Android 10) and LG G7 FIT (Android 8). No suggestions were made when the "About Firefox Nightly" page was scanned.

[2020-06-03 12:42] #9805 closed

[2020-06-03 12:51] sflorean commented on #9776
Verified as fixed on the latest Nightly build 6/3 with Google Pixel 3 (Android 10) and LG G7 FIT (Android 8).

[2020-06-03 12:51] #9776 closed

[2020-06-03 12:51] sflorean commented on #9781
Verified as fixed on the latest Nightly build 6/3 with Google Pixel 3 (Android 10) and LG G7 FIT (Android 8).

[2020-06-03 12:51] #9781 closed

[2020-06-03 12:56] abodea opened #11183 "[Bug] The user is not redirected to home screen after the search widget is added (Discoverability Experiment)"
## Steps to reproduce
1. Launch Fenix.
1. Perform 3 searches and go back to the home screen.
1. From the search widget prompt tap on the `Add widget`.

### Expected behavior
After successfully adding the search widget from the search widget prompt, the user should be redirected to the home screen where the search widget is placed.

### Actual behavior
The user is not redirected to the home screen

[2020-06-03 13:08] mcarare commented on #11182
The button part seems to be a regression from https://github.com/mozilla-mobile/fenix/pull/11053.

[2020-06-03 13:18] abodea opened #11184 "FNX-12062 ⁃ [Bug] The search widget prompt is still triggered even when the searches are made in PB (Discoverability Experiment)"
## Steps to reproduce
1. Launch Fenix.
1. Access PB mode.
1. Perform 3 searches and return to the home screen (the search widget prompt is not displayed).
1. Return to normal browsing.
    1. Expected behavior
The search widget should not be displayed.
    1. Actual behavior
The search widget prompt is still triggered even when the searches are made in PB.
    1. Device information

* Android devi

[2020-06-03 13:20] sv-ohorvath commented on #10911
I cannot reproduce this running the test locally or on Firebase.
@mcarare When possible, could you have a look if you can figure out why/when ById(R.id.bookmark_list) returns null? Thank you

[2020-06-03 13:22] sv-ohorvath commented on #10909
I cannot reproduce this running the test locally or on Firebase. I'll leave it open to see if it shows up again or was it just a one-time case.

[2020-06-03 13:42] AndiAJ opened #11185 "Improve performance of async tab load when opening tabs tray"
**Release criteria** for opening tabs tray: Target 250ms from input to UI rendered. (note: 2x: entry points from browser and home screen are different)

In [our performance analysis](https://github.com/mozilla-mobile/fenix/issues/7512#issuecomment-641621240), we determined the tabs tray appears quickly enough but **the tabs take a long time to appear.** The duration they take to appear seems to at

[2020-06-03 13:44] abodea commented on #9488
Hello, Sawyer, I did some testing on this following the instruction from your comment here are my results:

* After a user does 3 searches and goes back to homescreen they should receive a popup asking them to install search widget - ✅ everything works as expected.

![20200603-122146](https://user-images.githubusercontent.com/42831109/83634224-d54f7880-a5aa-11ea-8995-bbfa891d85f2.gif)

* If the us

[2020-06-03 13:44] staktrace opened #11186 "Long-pressing a link with a title attribute doesn't show the title text in the context popup"
## Steps to reproduce
1. Go to https://staktrace.github.io/moz-pages/bugmash.html
1. In the bottommost block of second column, there is some text that says `Depends On -> 982596`. Long press on the `982596` (you may need to zoom in first)

### Expected behavior
The context menu that pops up shows the title text of the link, which is "APZC needs to base displayport calculation on visible rect of co

[2020-06-03 13:49] sflorean commented on #9796
Verified as fixed on the Nightly build 6/3. Devices: Google Pixel 3 (Android 10) and LG G7 FIT (Android 8).

[2020-06-03 13:49] #9796 closed

[2020-06-03 13:50] s-ankur opened #11188 "[Bug] Removing from top sites fails sometimes"
## Steps to reproduce
add the same site a large number of times to top sites
Go to overview and remove the first top site repeatedly
After the first few times the site is not removed from top sites

### Device information
* Android device: Asus Zenfone
* Fenix version: Fenix Nightly

[2020-06-03 13:50] staktrace opened #11189 "FNX-12066 ⁃ [Bug] Items behind the dynamic toolbar cannot be clicked even when made visible by scrolling"
## Steps to reproduce
1. Go to https://staktrace.github.io/moz-pages/bug/fenix-11189.html
1. Scroll down to reveal the button
1. Click on button

### Expected behavior
JS alert shows text "success"

### Actual behavior
Button never gets clicked

### Device information
* Android device: Sony Xperia XZ1C, Android 9
* Fenix version: Nightly 200602 06:01 (Build #2015743859) 44.0.20200531130125, 2ac91e

[2020-06-03 13:58] sflorean commented on #7672
Tested on the Nightly build 6/3 with Google Pixel 3 (Android 10), Samsung Galaxy Note 10 (Android 10), and LG G7 FIT (Android 8), and no suggestions were made for the "x" button - select tabs menu.

[2020-06-03 13:58] #7672 closed

[2020-06-03 14:04] ebalazs-sv commented on #11154
Verified as fixed on Nightly Migration Build 2015744049 GV 78.0a1 from 6/3 with Motorola Moto G6 (Android 8).
I will verify this issue after the uplift on the Beta Migration build.

[2020-06-03 14:09] hwinnemoe commented on #10905
I do not see this anymore on my device, thanks  :)

[2020-06-03 14:09] s-ankur opened #11190 "[Bug] Private Tab Downloads not cleared on Close all private tabs"
## Steps to reproduce
Download something in private tab
Click close all private tabs

### Expected behavior
Private downloads notification goes away

### Actual behavior
It remains, potentially violating privacy

### Device information
* Android device: Asus Zenfone
* Fenix version: Fenix Nightly

[2020-06-03 14:13] hwinnemoe commented on #11189
Sound like a possible duplicate of or related to #10720

[2020-06-03 14:25] sv-ohorvath commented on #10587
I was able to reproduce adding a tab to an existing collection and not getting it saved (no snackbar either), both manually and while running the test automatically, but only on the emulator.
After I ran the tests automatically, I was left with the last collection created.
After that, I don't have some clear steps:
1. I opened wikipedia and added it to the collection.
2. Then I just removed a tab

[2020-06-03 14:39] liuche commented on #11172
Hi @SS1113 do you have Synced Tabs enabled on your other accounts? Currently, any of these items are global settings, so it should take your setting from any of your Firefox Account devices.

[2020-06-03 14:40] liuche commented on #11162
I think this telemetry is already collected as an event, see `events.app_opened` https://github.com/mozilla-mobile/fenix/blob/master/docs/metrics.md

Does this need to be something different? If so, can you be more specific in comment 0?

[2020-06-03 14:41] abodea commented on #10113
Verified as fixed on the latest Nightly with Google Pixel 4 XL (10).
Note that the text selector color is displayed correctly according to the [comment](https://github.com/mozilla-mobile/fenix/issues/10113#issuecomment-635800007).

[2020-06-03 14:43] liuche commented on #10709
This is currently our top crasher on Firefox Beta at 5% rollout: https://crash-stats.mozilla.org/topcrashers/?product=Fenix&version=77.0.0-b

but going by Firefox Preview numbers, isn't critical: https://crash-stats.mozilla.org/topcrashers/?product=Fenix&version=5.1.0-b

[2020-06-03 14:43] pocmo commented on #9039
`77.0.0-beta.1` is the same as `5.1.0-beta.3` - The only difference being the versioning for different channels (Firefox Beta 77.0 vs. Firefox Preview 5.1)

[2020-06-03 14:56] SS1113 commented on #11172
@liuche No, My other account has only Bookmarks sync enabled and other options are disabled.

[2020-06-03 14:59] ekager commented on #11189
cc @Mugurell @sblatz does anyone know if there are already tracked tickets for this / a GV ticket? Seems like a recent regression we should definitely be looking into

[2020-06-03 15:03] liuche commented on #8374
I'm going to dupe these to #10709, and I've moved STRs over bc these all have the same crash signature.

[2020-06-03 15:03] liuche commented on #11125
I'm going to dupe these to #10709, and I've moved STRs over bc these all have the same crash signature.

[2020-06-03 15:10] liuche commented on #11172
@Vishwa-Mozilla can you take a look at this bug? We want to match the sync state of the Firefox Account linked, so make sure that it's not "turned on by default".

[2020-06-03 15:11] liuche commented on #11165
We're running an experiment, so for now, we're removing the "beta" tag for this channel. Thank you for reporting!

[2020-06-03 15:14] Amejia481 commented on #11149
It also looks similar to https://github.com/mozilla-mobile/android-components/pull/7160 it could be the case that the user was trying to download a file with a url that contains spaces, we can take a look in next spring

[2020-06-03 15:15] liuche commented on #10943
@Amejia481 is there a place to track add-on requests? Someone is also requesting userscript manager.

[2020-06-03 15:15] liuche commented on #10944
duping to #10943

[2020-06-03 15:15] liuche commented on #11157
@Amejia481 do you know why this would be happening? Is there some pref that we're not persisting correctly?

[2020-06-03 15:16] SinTan1729 commented on #11138
Can confirm that this happens on Android 10 too.

[2020-06-03 15:16] AaronMT opened #11191 "Readability detection non functional on first visit"
While attempting to re-enable Readability UI tests I stumbled upon a blocking issue of Readability detection not working on first visit.

This is the test HTML I am using (https://hg.mozilla.org/mozilla-central/file/tip/toolkit/components/reader/test/readerModeArticle.html).

[code]

Build (6317eea690f229d3f34ec540c64f475b3f164d29)

Launch the browser and visit the HTML above (e.g, htmlpasta). On

[2020-06-03 15:17] Amejia481 commented on #10943
I'm not sure but @kewisch could help us to clarify.

[2020-06-03 15:18] ekager commented on #11149
@Amejia481 would the sanitizing in https://github.com/mozilla-mobile/android-components/pull/7160 also take care of a URL with spaces?

[2020-06-03 15:18] Amejia481 commented on #11157
@psymoon could have an idea!

[2020-06-03 15:19] mcarare commented on #9595
@sflorean This is expected.

[2020-06-03 15:20] AaronMT commented on #10467
My issue is that readability is not working at all on first visit https://github.com/mozilla-mobile/fenix/issues/11191

[2020-06-03 15:21] Amejia481 commented on #11149
In that pr we are only sanitizing in `browser-icons` this issue came from downloads, we should do sanitizing there too :)

[2020-06-03 15:25] AndiAJ commented on #10921
Hi, I've just checked this matter on the latest **`Nightly Build 200603 from 6/3`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

✔️ The screenshots are properly displayed if you open one by one the websites
► Video
![20200603-151320](https://user-images.githubusercontent.com/51314259/83651653-654cec80-a5c2-11ea-8e79-91f

[2020-06-03 15:30] AndiAJ opened #11192 "FNX-12071 ⁃ [Bug]Tab Tray: Screenshots are broken after delete+undo"
## Prerequisites
Have a couples of open tabs

## Steps to reproduce
1. Swipe delete a tab
1. Undo the deletion
1. Close a tab by using the 'x' (close button)
1. Undo the deletion
1. Tap the ⋮ button select "Close all tabs"
1. Undo
1. Check screen shots

### Expected behavior
After each deletion undo, the screenshots should be properly displayed

### Actual behavior
After each deletion undo, it loo

[2020-06-03 15:34] sblatz commented on #11184
This is working as expected, so long as the prompt is not actually showing on the private browsing screen :)

[2020-06-03 15:35] sblatz commented on #11183
I don't believe we should be closing the app to show the search widget. @brampitoyo please confirm, though!

[2020-06-03 15:42] apbitner commented on #11145
@mcarare Oh good to know, thank you. I've always had Focus installed so didn't realize it was working this way.

[2020-06-03 15:49] apbitner commented on #10764
Yes, colors should be uniform, as shown in this [Abstract](https://app.abstract.com/share/8feabb36-05ef-4ec0-a05a-e56582a05c5f?mode=design&sha=ad755708a24ae2f9bcc48facb9bdea84a7ca8b17) which was part of [#7606](https://github.com/mozilla-mobile/fenix/issues/7606)

[2020-06-03 15:50] liuche commented on #11192
@gabrielluong how do you want thumbnails issues to get tracked? Just in the board, or through a label, or something else?

[2020-06-03 16:00] mcarare commented on #11183
IMO, we should have a consistent behavior, because when we add shortcuts (private or for a website) the icons are shown after we add them to system home screen. Though I was expecting the system to handle this itself.

[2020-06-03 16:28] psymoon commented on #11157
@liuche do we clear shared pref when there's a version upgrade?

[2020-06-03 16:29] liuche commented on #10464
I'm going to remove this one for now @vesta0 because we need to get this prioritized by GV team first (and isn't going to be actionable for Release).

[2020-06-03 17:00] AmyYLee commented on #10510
Following up on this - @topotropic

[2020-06-03 17:10] liuche opened #11195 "[UX] Empty state when waiting for search engines to load"
As part of #9935 we can't block the main thread to wait for search engines to load, so we are making it async (as part of that bug, not the scope of this bug).

This issue is for the empty state for the Search page (in the case that the search engines haven't loaded).

Should we have text? or a loading icon? Some kind of affordance in the case when **we're waiting for search engines to load off a

[2020-06-03 17:12] liuche commented on #9935
We should handle the technical part of this, but I've split out #11195 for the UX part of this issue, because we can work on not blocking the main thread without waiting on UX and should make progress on that early.

[2020-06-03 17:36] liuche commented on #8374
My bad, this is not the same bug as #10709, will do some un-duping.

[2020-06-03 17:38] liuche commented on #8374
This is currently our top crasher on Firefox Beta at 5% rollout: https://crash-stats.mozilla.org/topcrashers/?product=Fenix&version=77.0.0-b

and on Firefox Preview too, top crashes 1 & 2 with an uptick in the past few days:
https://sentry.prod.mozaws.net/operations/fenix/?query=release%3Aorg.mozilla.fenix-5.1.0&sort=priority&statsPeriod=14d

(crash-stats link for reference) https://crash-stats.mo

[2020-06-03 17:56] gabrielluong commented on #11192
Most of the thumbnail issues would be fixed in AC. So, I think for tracking purposes we can put it in the tabs tray board as a stopgap.

[2020-06-03 18:20] st3fan commented on #8374
@grigoryk @NotWoods what do you think of this one?

[2020-06-03 18:21] darkwing commented on #9640
I spoke with Asa about this, he'll review our current implementation when it lands and is enabled by default.

[2020-06-03 18:28] liuche commented on #8374
fwiw this is probably some kind of race, bc this STR has been around for a while, but has really [spiked on Nightly as of May 19](https://crash-stats.mozilla.org/signature/?product=Fenix&version=0.0a1&signature=java.lang.IllegalStateException%3A%20at%20androidx.fragment.app.FragmentManager.ensureExecReady%28FragmentManager.java%29&date=%3E%3D2020-05-03T18%3A18%3A00.000Z&date=%3C2020-06-03T18%3A18%

[2020-06-03 18:56] p-schneider commented on #3762
With [Firefox Beta 77.0.0-beta.1](https://github.com/mozilla-mobile/fenix/releases/tag/v77.0.0-beta.1) in [100% rollout](https://bugzilla.mozilla.org/show_bug.cgi?id=1639964#c9) we can now test Self Hosted Sync Servers in ["Firefox for Android Beta" (org.mozilla.firefox_beta)](https://play.google.com/store/apps/details?id=org.mozilla.firefox_beta).

(AFAIK the debug mode still needs to be activate

[2020-06-03 19:21] apbitner commented on #10582
I created a screen for this awhile ago, it just wasn't implemented - https://share.goabstract.com/f027f249-a574-42ab-b035-bdb88cc8fa1a

@NotWoods do we have the ability to do this - "differentiate between a regular tab, a homescreen shortcut, and a PWA" ? I thought we were limited by the OS.

[2020-06-03 19:29] NotWoods commented on #10582
The OS limits us from implementing a fast splash screen, but we can still differentiate visually because normal tabs show the Fenix toolbar and PWAs do not.

[2020-06-03 19:29] snorp commented on #8969
Filed GV Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1643129 for this

[2020-06-03 19:33] apbitner commented on #10582
Oh I thought that acceptance criteria was in reference to the icon itself on the homescreen. But perhaps you're right and it's in reference to the experience as a whole.

Ok let me know what else might be needed besides the screen I linked to above, which is part of the [original flow](https://share.goabstract.com/3815ff0e-5b89-4a41-a1de-7414f2e57964?mode=design&sha=7cbc6ea9549a886aeb1e25faf7c3c67

[2020-06-03 19:36] jhugman opened #11197 "Add deep link routes to the DeepLinkIntentProcessor"
`DeepLinkIntentProcessor` supports a number of links to navigate the user around the app.

The following were identified as missing in a recent test by the Mobile Engagement team.

* [x] `fenix://settings_notifications` — take the user to the notification settings page
* [x] `fenix://settings_privacy` — take the user to the privacy settings page.
* [x] `fenix://settings_search_engine` — take the u

[2020-06-03 19:42] betsymi commented on #9625
Would like to add one more request for telemetry to measure when users tap outside the CFR message upon it appearing.

[2020-06-03 19:44] kbrosnan commented on #8374
From: https://www.reddit.com/r/firefox/comments/gvaru6/firefox_preview_nightly_still_crashing_on_samsung/

[2020-06-03 20:04] topotropic opened #11198 "[Bug] Don't see synced tabs from all device"
## Steps to reproduce
FX desktop, Fenix  and FX iOS are signed into the same account

### Expected behavior
I see tabs form my other devices on Fenix and FX iOS

### Actual behavior
I just see my desktop tabs

[2020-06-03 20:05] d98ama commented on #3762
As soon as I turn on sync in Firefox Beta, it stops working for my other Firefox installations (on my phone, tablet and Linux PC).
Is this expected?

If not, maybe I can supply some more information. Just let me know what you need in that case.

[2020-06-03 20:10] jtagcat opened #11199 "Notifications block touch on the buttons below them."
## Steps to reproduce
Cause any notification.

### Expected behavior
The buttons below the notifications work.

### Actual behavior
![image](https://user-images.githubusercontent.com/38327267/83683905-aac6e500-a5d5-11ea-9944-b0003f15f2d2.png)
The whole yellow section ignores all touch. The visible buttons should be clickable. Additionally, if the page is not scrollable, you can't press the buttons

[2020-06-03 20:11] topotropic opened #11200 "Don't reload synced tabs everytime"
Right now the synced tabs screen is reloaded on every view – depending on the amount of open tabs on other devices this can take a while. Could we display the screen w/o reloading and then sync on refresh (pull down) or find another way to sync tabs w/o making people wait every time they access synced tabs?

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV

[2020-06-03 20:11] topotropic opened #11201 "FNX-12086 ⁃ Copy updates for synced tabs"
* Update "Synced Tabs" to "Synced tabs" throughout the app
* Update "Tabs" to "Open tabs" in account settings

[2020-06-03 20:15] jtagcat opened #11202 "Settings: Close tab(s) on successfully sending it."
### What is the user problem or growth opportunity you want to see solved?
Better 'I'll pick it up on the other device'.

### How do you know that this problem exists today? Why is this important?
Pretty much always, I send a tab, then close it. Adding this would reduce the time to send a tab by 1/2 - 2/3.

### Who will benefit from it?
Anyone, who sends tabs often.

┆Issue is synchronized with th

[2020-06-03 20:16] jtagcat opened #11203 "FNX-12084 ⁃ Send multiple tabs to a device."
### What is the user problem or growth opportunity you want to see solved?
Not sure.

### How do you know that this problem exists today? Why is this important?
So you have 30 tabs open. You know you want to deal with them on your workstation. Send them to the workstation. Go on, I'll prepare a cup of tea for you meanwhile.

### Who will benefit from it?
Anyone who sends multiple tabs in a row.

[2020-06-03 20:19] NotWoods commented on #2674
I don't see this happen anymore for AMP articles, can QA verify?

[2020-06-03 20:19] AmyYLee commented on #10466
@brampitoyo for follow-up

[2020-06-03 20:20] jtagcat opened #11204 "Allow undoing removing a session removed by back press"
## Steps to reproduce
Close a page by pressing the back button, ending up on the home page (not in an another app). No undo message.

### Expected behaviour
Undo message is displayed. When pressing back results in an another app, maybe a notification for undo?

* Fenix version: 76.0b8

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-1633)

[2020-06-03 20:21] AmyYLee commented on #10462
@ekager @yoasif - Is UX feedback still needed for this?

[2020-06-03 20:23] topotropic opened #11205 "Update synced tabs sign in view"
Add sign in button – similar to what we currently have on "Desktop Bookmarks" to the synced tabs screen; when you tap on it you see the "Turn on sync" screen that allows you to scan QR code or use email

https://share.goabstract.com/291b061c-2e38-4987-bb9f-1917dd021582?mode=design&sha=72ed314cb3b094e510d264a18e99870147787fa0

[2020-06-03 20:23] AmyYLee commented on #10455
Assigning to @topotropic

[2020-06-03 20:29] AmyYLee commented on #10406
Hi, this is a bug. The touch target should be on top of the button. The shadow behind the search bar should on when on a website should also be applied to the homescreen search bar in light/dark themes.

[2020-06-03 20:30] AmyYLee commented on #10508
Work is paused until we hear from UR.

[2020-06-03 20:31] AmyYLee commented on #10401
Assigned to @brampitoyo

[2020-06-03 20:32] AmyYLee commented on #10260
@brampitoyo Is this still a WIP?

[2020-06-03 20:33] Amejia481 commented on #11144
This should be fixed on master

[2020-06-03 20:34] AmyYLee commented on #10240
@brampitoyo to follow-up

[2020-06-03 20:35] AmyYLee commented on #10107
@betsymi - Follow-up?

[2020-06-03 20:42] AmyYLee commented on #10105
@brampitoyo Wondering if this should be broken out into smaller issues.

[2020-06-03 20:44] vesta0 commented on #10582
@apbitner @NotWoods you are right that Acceptance Criteria 1 is about the experience of opening a PWA (e.g. splash screen) and the second Acceptance Criteria 2 is about differentiating between the homescreen shortcut and PWA icons. Sounds like Acceptance Criteria 1 is not possible?

[2020-06-03 20:45] AmyYLee commented on #10002
@brampitoyo @Amejia481 for follow-up

[2020-06-03 20:47] betsymi commented on #10107
Sorry, I missed this. `Today` and `Yesterday` is good.

[2020-06-03 20:59] liuche commented on #8374
@ekager backx2? #10718

[2020-06-03 21:01] AaronMT opened #11209 "FNX-12091 ⁃ UI test failure - TabbedBrowsingTest.openNewPrivateTabTest"
Firebase: https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5395622059202300723/executions/bs.325131ce4fd0c7d5/testcases/2/errors

[code]

[2020-06-03 21:01] AmyYLee commented on #11195
Assigned to @brampitoyo

[2020-06-03 21:04] AmyYLee commented on #9642
@betsymi for follow-up

[2020-06-03 21:04] AmyYLee commented on #9548
Assigning to @topotropic

[2020-06-03 21:11] rfk commented on #3762
@d98ama that's definitely not expected, could you please file as a standalone bug in [bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Sync) so that we can investigate? (by moving it to bugzilla we can mark the bug confidential if needed, in case you want to provide any debugging info that you wouldn't want to share in a public github issue).

[2020-06-03 21:19] AmyYLee commented on #9511
@topotropic For follow-up

[2020-06-03 21:22] AaronMT commented on #10642
This still

[2020-06-03 21:22] AmyYLee commented on #9506
@brampitoyo for follow-up (not sure if this is needed since moved to backlog)

[2020-06-03 21:24] AmyYLee commented on #9492
Assigning to @brampitoyo @apbitner

[2020-06-03 21:25] AmyYLee commented on #9487
@apbitner for follow-up

[2020-06-03 21:26] jhugman opened #11210 "UI tests for existing LeanPlum events"
Current manual tests on LeanPlum integration would suggest some events aren't being fired in to the LeanPlum SDK.

It is not always clear that this is a missing work in fenix, bugs in fenix, bugs in the LeanPlum SDK or configuration errors in dashboarding with the marketing team.

In order to ameliorate communication between the mobile engagement team and engineering, such a test would be the fina

[2020-06-03 21:26] AmyYLee commented on #9332
@topotropic For follow-up

[2020-06-03 21:52] rocketsroger commented on #6213
This issue is a site issue.  Chrome behaves the same.  GeckoView issue has been closed.

[2020-06-03 21:52] #6213 closed

[2020-06-03 22:02] rocketsroger commented on #1407
Nightly with A-C version `45.0.20200603130110` will not show Android crash dialog when Fenix crashes.  Please verify.  Thanks,

[2020-06-03 22:06] Vishwa-Mozilla commented on #11172
I can reproduce this issue but it only happens when a new device is connected until there is a new change in sync settings from the server - doSync() function in WorkManagerSyncManager (A-C) handles fetching any changes to declined/accepted SyncEngines and they did not contain the correct information

[2020-06-03 22:10] Vishwa-Mozilla commented on #11172
The data that is inside the declined/accepted SyncEngines is then passed onto SyncEnginesStorage which stores the information about SyncEngines with a boolean in SharedPreferences -> this is used to determine the checked status of the sync items

[2020-06-03 22:11] willfs84 opened #11212 "[Bug] hide slash if there is nothing after it (when URL bar is not focused)"
Small but worthy change to keep the UI uncluttered: currently when the URL bar is not focused, we hide "https://www." , but if there is a slash at the end (reddit.com/) we don't hide the slash. If there is nothing after the slash, the slash should also be hidden when the URL is not focused. Chrome does this already. Screenshot attached, Chrome is top, Firefox is bottom
![hideifnothingafterslash](h

[2020-06-03 22:27] sblatz commented on #10073
I can not reproduce this anymore on the latest nightly. I've tested on github projects, spotify embedded playlist, and ublock filter list. Please verify again, QA 😄

![spotify demo 2020-06-03 15_27_24](https://user-images.githubusercontent.com/4400286/83695369-bce15d00-a5ae-11ea-8ffc-17797ed90012.gif)

![demo of ublock 2020-06-03 15_26_56](https://user-images.githubusercontent.com/4400286/83695378

[2020-06-03 22:32] sblatz commented on #8768
I'm not able to reproduce this on the latest nightly on:

maps.google.com (PWA or regular site)
telegram.com (PWA or regular site)
twitter.com (PWA or regular site)

QA can you please verify?

[2020-06-03 22:37] AmyYLee commented on #9328
Assigned to @apbitner

[2020-06-03 22:40] AmyYLee commented on #9229
Agreed these should be consistent and saves last changes. @brampitoyo to confirm.

[2020-06-03 22:43] sblatz commented on #10824
[JIRA request](https://jira.mozilla.com/browse/DS-761) with high priority (P1) filed!

[2020-06-03 22:43] AmyYLee commented on #9100
Is UX still needed here? @brampitoyo

[2020-06-03 22:44] AmyYLee commented on #8900
Assigned to @brampitoyo

[2020-06-03 22:45] AmyYLee commented on #8717
@mcarare @sv-sdeiac Follow-up?

[2020-06-03 22:47] gabrielluong commented on #10921
Yes, that is currently how it works. We will be looking to improve it, but right now we capture the screenshot when a page is refreshed. We can run into issues when you do the order of operations too quickly, since the engine is asynchronously capturing the screenshot when the page is finished loaded.

[2020-06-03 22:51] sblatz commented on #9625
[Jira ticket](https://jira.mozilla.com/browse/DS-762) filed with high (P1) priority.

[2020-06-03 22:51] Vishwa-Mozilla commented on #11172
Create A-C ticket -  https://github.com/mozilla-mobile/android-components/issues/7233

[2020-06-03 22:56] hiikezoe commented on #8768
Note that if you still see blanks at the top and the bottom of the contents, please check whether WebRender is enabled or not in about:support. If WebRender is enabled, it's a known issue, https://bugzilla.mozilla.org/show_bug.cgi?id=1619169 I've started looking into.

[2020-06-03 23:13] AmyYLee commented on #8612
@betsymi to follow-up

[2020-06-03 23:15] AmyYLee commented on #8380
@brampitoyo for follow-up

[2020-06-03 23:16] AmyYLee commented on #8349
@topotropic to follow-up

[2020-06-03 23:19] AmyYLee commented on #8343
Sounds like UX is resolved. Removing label.

[2020-06-03 23:20] AmyYLee commented on #8312
@topotropic to follow-up

[2020-06-03 23:21] AmyYLee commented on #8108
@topotropic to follow-up

[2020-06-03 23:34] person808 commented on #11023
Looks like a bug in Android Components

[2020-06-03 23:36] mcomella commented on #11072
Triage: we're wondering at what % of users migrated we're willing to remove the migration check (the threshold).

[2020-06-03 23:38] mcomella commented on #7877
Triage: it's unclear if this is a performance issue or a functional issue. MarcLeclair was unable to reproduce. One theory is that the suggestion results are all returned by the network so it's a functional issue.

It's a P1 from a UX perspective because search is important but modified by the impact (e.g. # users effected).

@MarcLeclair Please test again with high network latency to see if you c

[2020-06-03 23:40] mcomella commented on #10065
@MarcLeclair Please explain the behavior you experienced on the g5 (unable to reproduce?) and elaborate on the action item for Eric (is it important given low reproduce rate on G5?).

[2020-06-03 23:43] mcomella commented on #10096
Triage: we determined time-to-complete animations should be included in the release criteria, i.e. this bug does not meet it. @ecsmyth will take an action item to discuss with the UX team to determine see if we should change the animation speed to better fit the release criteria. They said we don't need to keep the issue open. I'm concerned about forgetting about this issue but when we add perf te

[2020-06-03 23:44] mcomella commented on #8826
Triage: we have no time to pass this through UR now so we'll move to low impact.

[2020-06-03 23:44] yoasif commented on #10462
@AmyYLee I think that we agree that this actionable per @ekager's comment.

The close button should be added, I think that is pretty much the conclusion.

[2020-06-03 23:47] person808 commented on #11023
Opened mozilla-mobile/android-components#7234 for now

[2020-06-04 00:03] rpappalax commented on #11050
@mcomella I've opened a PR to remove them altogether. Let me know if you'd rather leave the tests in place and just disable them instead

[2020-06-04 00:20] theres-waldo commented on #11189
This regressed between the May 10 and May 11 Fenix nightlies, and it's related to hit testing, leading me to suspect it's a regression from [bug 1556556](https://bugzilla.mozilla.org/show_bug.cgi?id=1556556).

[2020-06-04 00:59] SS1113 commented on #11172
@Vishwa-Mozilla @liuche I forgot to mention that I installed the `Nightly 200603 06:00` freshly and then connected my Firefox account.

As for the devices, I used the same device while adding the account but I had added the account on different builds.

Firefox Account I had connected to before adding it in Nightly:

• [Firefox for Android](https://play.google.com/store/apps/details?id=org.mozilla

[2020-06-04 01:02] karlcow opened #11215 "[Bug] hit testing doesn't reach the right element"
## Steps to reproduce
1. Go to https://www.laposte.fr/particulier/outils/trouver-un-point-d-envoi-de-colis-ou-de-retrait?query=94140
1. Tap in the area where the zip code `94140` is displayed
1. A list of one item appears with `94140 Alfortville, France`
1. Tap this item

### Expected behavior
* The input changes with this value
* A map is displayed on this city

### Actual behavior
Nothing is hap

[2020-06-04 01:21] ekager commented on #11215
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1643209

[2020-06-04 01:23] ekager commented on #11189
@theres-waldo thanks for the info :) do you want me to file a new Bugzilla for this then?

[2020-06-04 01:33] ekager commented on #11151
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1643210

[2020-06-04 01:34] theres-waldo commented on #11189
@ekager Please do -- thanks!

[2020-06-04 01:36] ekager commented on #11189
Filed as https://bugzilla.mozilla.org/show_bug.cgi?id=1643212

[2020-06-04 01:48] ekager commented on #10720
Added this STR to https://bugzilla.mozilla.org/show_bug.cgi?id=1643212

[2020-06-04 02:02] ekager commented on #11149
Duh.
Filed https://github.com/mozilla-mobile/android-components/issues/7238

[2020-06-04 02:29] AmyYLee commented on #8043
Assigning to @brampitoyo

[2020-06-04 02:33] lindongbin opened #11216 "Support the screen orientation API"
I hope that through JS script, you can detect whether it is full screen, and then forcefully switch to landscape.

e.g.
`document.addEventListener('fullscreenchange', function(){
    screen.lockOrientation('landscape');
});`

Video from some websites cannot be automatically landscaped such as:
http://m.imomoe.in/player/7379-0-0.html

[2020-06-04 02:37] AmyYLee commented on #7945
The notification to clear tabs allows users to clear private tabs without going into the app itself and exposing it's contents. The behaviour of the notification to delete private tabs without opening the app is shared among other android browsers as well so this isn't a unique behaviour to Fenix.

As for the second request. We will be implementing a new tab tray this week where you can access you

[2020-06-04 02:37] #7945 closed

[2020-06-04 02:39] AmyYLee commented on #9542
The introduction of tab tray will remove open tabs from the homescreen.

[2020-06-04 02:39] #9542 closed

[2020-06-04 02:41] AmyYLee commented on #7758
@brampitoyo to follow-up

[2020-06-04 02:45] AmyYLee commented on #6973
@brampitoyo @betsymi to follow-up

[2020-06-04 02:46] AmyYLee commented on #6537
Assigning to @topotropic

[2020-06-04 02:49] AmyYLee commented on #6417
@topotropic to review

[2020-06-04 02:51] AmyYLee commented on #6365
@brampitoyo for follow-up

[2020-06-04 02:51] SS1113 commented on #10073
@sblatz I can confirm that the issue not reproducible anymore on GitHub and Ublock Origin. However, the toolbar hides the contents of Ublock Origin's "Restore to default settings..." Button in settings and on GitHub the contents at the bottom are not visible.

And also the bottom toolbar never hides when on GitHub.

![Screenshot_20200604_081057](https://user-images.githubusercontent.com/42088907/8

[2020-06-04 02:56] AmyYLee commented on #6146
@brampitoyo is UX feedback still needed here? If not, feel free to remove UX-feedback tag.

[2020-06-04 02:57] AmyYLee commented on #6057
@apbitner to review

[2020-06-04 03:00] SS1113 commented on #11185
@AndiAJ I filed the bug  #11174, do you think this bug is the same as the one I  filed.

[2020-06-04 03:26] AmyYLee commented on #6056
@brampitoyo for follow-up

[2020-06-04 03:29] AmyYLee commented on #5931
@apbitner Is this issue still valid?

[2020-06-04 03:31] AmyYLee commented on #5877
@topotropic Not sure if this is still relevant since we moving tabs into the tab tray

[2020-06-04 03:33] AmyYLee commented on #5403
@brampitoyo @Verdi for follow-up

[2020-06-04 04:43] OddEvans commented on #3895
Please make this happen or at least make so when you open a new tab, the tab is directly above the one you opened it from and if you open another tab that one is above the first you opened.

Or better explained, simply make it like fennec firefox at least(I mean in the order they are open) even if it is in reverse with the collections cause it is really confusing.

[2020-06-04 04:51] Better-hack opened #11217 "FNX-12104 ⁃ [Bug] webcontent registering clicks higher than where actual tap happens"
## Steps to reproduce
clicked at the very bottom of the screen

### Expected behavior
the click was supposed to happen in the place where the click was

### Actual behavior
click was made above

### Device information
* Android device: honor 10 (android 9.1)
* Fenix version: Nightly 200603 06:00

https://bugzilla.mozilla.org/show_bug.cgi?id=1642538
Short video:
https://drive.google.com/file/d/1Jy9

[2020-06-04 05:13] ale82to opened #11218 "[Bug] lots of crashes"
on my phone with lineage OS 7.1.2 and snapdragon 652 (Adreno 510 gpu) Firefox nighlty preview is super crashy looking at the minidump folder the problem is always the same:
"GraphicsCriticalError":"|[0][GFX1-]: Failed to create EGLContext!: 0x300c (t=3.02563) ",

[2020-06-04 05:25] TReKiE commented on #8323
Like the comments above, I use this feature multiple times per day.  However, since the feature has to be re-created for Fenix, it would be great if it were improved.

For example, to share a link, you press Share, Add to Firefox, Send to other devices, and then select the device.  When you have more than 3 devices, you get a separate pop-up list.  Unfortunately the order of devices in this list i

[2020-06-04 05:27] mcarare commented on #8717
@betsymi , @AmyYLee This is not an info I have access to.

[2020-06-04 06:05] karlcow commented on #10740
Related or duplicate https://github.com/webcompat/web-bugs/issues/52908

[2020-06-04 06:50] mcarare commented on #10587
@sv-ohorvath I am not able to reproduce this. Also, you can save tabs to collections without even being connected to internet, I do not think network settings on emulator matter in reproducing this. It might have to do with the saving to database, but the code for that is straightforward, I do not see any reason saving a tab should fail.

[2020-06-04 07:39] #9595 closed

[2020-06-04 07:45] mcarare commented on #9769
Same issue as https://github.com/mozilla-mobile/fenix/issues/9768, related to the button in low and medium risk pages. Will be tracked there.

[2020-06-04 07:45] #9769 closed

[2020-06-04 08:02] softvision-miralobontiu commented on #10834
Verified on the latest Nightly build from 6/4 that:
- the "Synced tabs" option is displayed both in the main three-dot menu and in the page's three-dot menu, in normal mode and private mode:
![synced tabs menu](https://user-images.githubusercontent.com/40694158/83730715-21a1c380-a652-11ea-8697-55b4fc141235.png)

![page menu](https://user-images.githubusercontent.com/40694158/83731133-a7257380-a652

[2020-06-04 08:40] LaurentiuApahideanSV commented on #11188
I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 200604 (Build #21560609).

Devices:
OnePlus 6T (Android 9);

[2020-06-04 09:14] lindongbin opened #11219 "Customize which extensions are displayed in the main menu"
Common extensions, which I can display on the main menu
Infrequently used extensions can be displayed in submenus
For other main menu items, I hope to customize the items needed to display

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-1644)

[2020-06-04 09:15] sflorean commented on #10577
Verified as fixed on Nightly 6/4. Device: Google Pixel 3 (Android 10) and Nokia 6 (Android 7.1.1).

[2020-06-04 09:23] ebalazs-sv commented on #10747
Verified as fixed on Fenix Nightly 21560608 GV 79.0a1 from 6/4 with Motorola Moto G6 (Android 8).

Typing the page https://disposable-wide4--solidsoft-blog-disposable.netlify.app/ in the address bar opens the website and not as a search term in the default search engine.

I will remove the qa:needed label.

[2020-06-04 10:01] sflorean commented on #10571
Tested this on Nightly 6/4 with Google Pixel 3 (Android 10), Nokia 6 (Android 7.1.1), and LG G7 FIT (Android 8), and I confirm that the pages are changing the background colour based on the app theme. The testing pages included:

[2020-06-04 10:13] sflorean commented on #9583
Tested on Nightly 6/4 with Google Pixel 3(Android 10) and LG G7 FIT (Android 8) and I can confirm that this issue is fixed. However, the buttons for Protect yourself card: Standard and Strict have 40dp x 32dp, same as before. @mcarare could you please confirm that this is expected? Thank you!

[2020-06-04 10:27] LaurentiuApahideanSV commented on #11186
I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 200604 (Build #21560609).

Devices:
OnePlus 6T (Android 9);

[2020-06-04 11:00] mcarare commented on #9583
@sflorean This is expected, and I did not intended to change that. They are in the same situation as elements mentioned in https://github.com/mozilla-mobile/fenix/issues/9583#issuecomment-609987250, because their touch target extends to the policy title and description.

[2020-06-04 11:05] AndiAJ commented on #10968
Hi, **verified as fixed** on the latest **`Nightly Build 200604 from 6/4`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200604-135401](https://user-images.githubusercontent.com/51314259/83749314-31c69c80-a66c-11ea-9365-9861555122e8.gif)

[2020-06-04 11:20] #9583 closed

[2020-06-04 11:36] AndiAJ commented on #11001
Hi, **verified as fixed** on the latest **`Nightly Build 200604 from 6/4`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video Normal tabs
![20200604-142716](https://user-images.githubusercontent.com/51314259/83751958-63416700-a670-11ea-98ee-e1c9be231e8e.gif)

► Video Private Tabs
![20200604-142851](https://user-image

[2020-06-04 11:41] topotropic commented on #5877
There's one selected tab but the bug description of comment 0 is valid: when you close all private tabs we select the last viewed tab in non-private mode.

[2020-06-04 11:43] topotropic commented on #6057
@apbitner no need to look into this right now

[2020-06-04 12:19] sv-ohorvath commented on #11182
@mcarare The screen title is still broken: going from Select tabs to Select collection, the title remains the same. Same for when you go back from the Name collection screen.

And now pressing the "+" on the Add new collection button, closes the screen.

[2020-06-04 12:26] mcarare commented on #9809
Can UX provide another color scheme for this issue?
It's related to the button in screenshot below:
![Screenshot_20200407-154236_Accessibility Scanner](https://user-images.githubusercontent.com/49859863/78670687-cf108900-78e6-11ea-9fc8-a6d86e9858cd.jpg)
TY!

[2020-06-04 12:27] AndiAJ commented on #10834
Hi, **verified as fixed** on the latest **`Nightly Build 200604 from 6/4`**

I've synced the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)
• Desktop

► Video from Google Pixel 3a
![20200604-150247](https://user-images.githubusercontent.com/51314259/83756162-53795100-a677-11ea-8c0c-ab04e727d2d9.gif)

► Video from Huawei Mate 20 Lite

[2020-06-04 12:45] topotropic commented on #8108
Yes, to what Bram said. Thanks!

[2020-06-04 12:48] topotropic commented on #8312
Let's limit to 8 top sites (2 rows a 4 sites) – when people add the 9th top site we remove the oldest.

[2020-06-04 12:54] topotropic commented on #8349
not sure what this was about, I'll close it

[2020-06-04 12:54] #8349 closed

[2020-06-04 12:59] sv-ohorvath commented on #11139
Verified as fixed on Nightly 6/4.

[2020-06-04 13:00] topotropic commented on #9511
Since we save the back stack for every site in a collection I'd suggest to open it as duplicate and keep the current behavior. Thanks for the feedback!

[2020-06-04 13:00] #9511 closed

[2020-06-04 13:02] ebalazs-sv opened #11224 "FNX-12111 ⁃ [Bug] Black screen when tapping the video while playing in landscape mode."
## Steps to reproduce
1. Launch Fenix and go to https://m.youtube.com;
1. Play one video in landscape mode;
1. Tap the screen;
1. Observe the behavior;
    1. Expected behavior
The video on screen buttons are displayed and the video is still playing.
    1. Actual behavior
The video on screen buttons are displayed but the screen turns black while the video is still playing.
    1. Notes
This is al

[2020-06-04 13:14] topotropic commented on #10510
We moved tabs to a dedicated tab tray and also don't support longpress nor have the button atm. We will revisit it and take your feedback into consideration. Thanks!

[2020-06-04 13:19] topotropic commented on #1871
Would be great to align to an 8dp grid and follow material guidelines where the minimum width is 112dp and max width is 280dp.

[2020-06-04 13:21] cadeyrn commented on #8312
@topotropic:

I already saw a screenshot of a user with more top sites. Why should this be limited at all? Sure, it doesn't look great but it's the user's decision, no? I don't need top sites at all but if it's useful for someone to have 20 top sites or even more why should this not be allowed? Is there a technical reason why it should be limited? Unfortunately there is no explanation in this issu

[2020-06-04 13:24] topotropic commented on #7933
I agree with @cadeyrn – and we can consider this with https://github.com/mozilla-mobile/fenix/issues/9548. I'll close this issue. Thanks for the feedback.

[2020-06-04 13:24] #7933 closed

[2020-06-04 13:40] sv-ohorvath commented on #10693
@Amejia481 Is there a chance you have any STR for this crash?

[2020-06-04 14:03] AmyYLee commented on #11212
This makes sense to me. @brampitoyo to confirm.

[2020-06-04 14:10] AmyYLee commented on #794
@brampitoyo to follow-up - Is UX feedback still needed?

[2020-06-04 14:18] softvision-miralobontiu opened #11227 "FNX2-13393 ⁃ [Bug][crash] Fenix crashes when deleting 2 saved logins in a row"
## Steps to reproduce
1. Sign in with valid credentials.
1. Go to Settings - Logins and passwords and delete 2 saved logins.

### Expected behavior
No issues encountered. The deleted saved logins are not displayed anymore.

### Actual behavior
Fenix crashes. The deleted saved logins are not displayed anymore.

### Device information
* Android devices: Sony Xperia Z5 Premium (Android 7.1.1), Motoro

[2020-06-04 14:20] AmyYLee commented on #1048
Seems like this no long needs UX-feedback. Removed tag. Please re-add if necessary

[2020-06-04 14:23] AmyYLee commented on #3457
@ekager for follow-up

[2020-06-04 14:28] apbitner commented on #9492
@vesta0 when opening a Youtube link from another app, shouldn't it respect the OS preference of how it should be opened? I thought our 'open in app' feature was meant to address links that're opened _within_ the browser.

[2020-06-04 14:33] Amejia481 commented on #10693
Sorry about that.

**STR**:
1. Download a file.
2. Kill the app using the task manager
3. Open the app and download another file.

Before the patch it used to crash in step 3.

[2020-06-04 14:36] apbitner commented on #5931
@AmyYLee I don't think it makes sense now that this setting isn't on its own screen. I'll close this.

[2020-06-04 14:36] #5931 closed

[2020-06-04 14:47] AmyYLee commented on #2151
Hi @sblatz - I don't see this animation when Fenix is set as default and I open links via email, slack, etc. It doesn't seem to be any animation and just appears. I'd be okay with the current animation you have.

[2020-06-04 15:08] topotropic commented on #10462
Let's remove the back arrow for history and bookmarks root and just add it when you navigate into bookmark sub-folders and add an x to the right to quickly exit the view  <img width="867" alt="image" src="https://user-images.githubusercontent.com/353960/83774056-8b879080-a685-11ea-8ab5-0533efde8a6c.png">

[2020-06-04 15:10] #7931 closed

[2020-06-04 15:25] vesta0 opened #11229 "FNX-12117 ⁃ Highlight ETP value to user"
### User Story
* As a user, I want to know how Firefox is protecting my privacy when I install Fenix, so I understand the value added to my browsing experience.

### Acceptance Criteria
See the attached doc for

* String changes to onboarding
* String changes to ETP settings in the settings menu
* String, interaction, and visual changes to the ETP CFR

[2020-06-04 15:42] sflorean commented on #10073
Environment: Google Pixel 3 (Android 10), and Nokia 6 (Android 7.1.1) on Nightly 6/4.

- for the duplicated issue #10978
I can confirm that the toolbar is displayed when scrolling up/down on Github: - Fenix Releases, Fenix issues pages.

 ** uBlock - Filter list**
Toolbar set to bottom: the same result: the toolbar is not hiding, when scrolling up and down.
Toolbar set to top: no issues displayed.

[2020-06-04 15:43] ekager commented on #794
I agree that I'm not sure this makes sense when we show "This time search with" all the time. If we ever changed that, we could revisit this as an alternative to clicking that shortcut icon maybe?

[2020-06-04 15:48] AmyYLee opened #11230 "FNX-12119 ⁃ [Private Browsing] Change default PBM setting to disable screenshots"
Steps to reproduce:

Open a new tab in private browsing
Go to open apps view

Expected:
Private mode contents is hidden (for private homescreen and websites)

Actual:
Private mode contents is shown.

Rational: The idea of private browsing is that we keep your what you're looking at private except when you're actively using Private mode. Showing the contents of private browsing outside of the app (

[2020-06-04 16:01] tangzhui commented on #11097
Is there a way to solve this problem？

[2020-06-04 16:02] mcarare commented on #11230
@AmyYLee Is this same as : https://github.com/mozilla-mobile/fenix/issues/11153 + the default setting for allowing screenshots?

[2020-06-04 16:19] AmyYLee commented on #8674
@aha999 Can you tell me what app you opened the tab in?

This is what I'm seeing on a few apps I've tested

![image](https://user-images.githubusercontent.com/5992746/83782297-9cbca700-a65d-11ea-80ed-b9b8b9b56bff.png)

[2020-06-04 16:24] ekager commented on #9205
@brampitoyo could you help us get mobile-specific icons for these assets? I think they were likely pulled from design.firefox which makes them a bit out of proportion to other mobile icons

[2020-06-04 16:29] AmyYLee commented on #11230
@mcarare Yes it is. I was told I should open a new issue for the default toggle change.

[2020-06-04 16:36] mcarare commented on #11230
@Amy Lee, as a note, I've submitted a fix for the first part (hiding preview in private), but it does not depend on the default setting for allowing screenshots.

[2020-06-04 16:36] betsymi commented on #11229
### **New onboarding strings**
 Please note the inclusion of terminal punctuation after descriptions.

❌ Deprecate | Replace with ✅
-- | --
Protect yourself | Automatic privacy
Firefox Nightly helps stop websites from tracking your online | Privacy and security settings block trackers, malware, and companies that follow you.
Standard | Standard (default)
Blocks fewer trackers but allows pages to l

[2020-06-04 16:43] sflorean commented on #2674
I wasn't able to reproduce this on Nightly 6/4 with Samsung Galaxy Note10(Android 10), and Nokia 6(Android 7.1.1).
@Lululalu could you please confirm that this is fixed for you? Thank you!

[2020-06-04 16:43] liuche commented on #11045
We're going to scope this down JUST for reader mode.

[2020-06-04 16:52] liuche commented on #10466
To summarize, we want to move "Search" right after "copy" in the context menu, and it's okay from @vesta0 if we can't decide the cutoff.

If this is a quick fix let's do it, otherwise push it out.

[2020-06-04 16:53] liuche commented on #9558
Moving this out of the sprint as we get closer to release.

[2020-06-04 16:55] liuche commented on #10824
@vesta0 to bump DS priority

[2020-06-04 17:00] liuche commented on #10598
Sometimes shows up after a while, not immediately, maybe after going to app switcher?

[2020-06-04 17:03] liuche commented on #10598
E2 timebox

[2020-06-04 17:05] ekager commented on #11230
Separated out the two issues so that #11153 is tracking always hiding in the app viewer, and this can track changing the default screenshot setting to not allowed

[2020-06-04 17:06] mcomella commented on #10667
Dupe #7512.

[2020-06-04 17:22] astarq commented on #11189
A bit late, but on scrolling to the bottom of the reddit.com homepage, clicking next either opens the post nearest to the button or does nothing - sorry if this is a Reddit issue, I haven't used it before

[2020-06-04 17:23] SamuXzX commented on #7956
All done, with Fenix Nighty 200604 (Build #21560609). [Log](https://gist.github.com/SamuXzX/4f7a798568938343cb8e68e28f7c7e7b) and screencast:
![screen-recording_20200604-191417](https://user-images.githubusercontent.com/30182251/83790543-a9aabc00-a698-11ea-8d07-ae5f4213ac76.gif)

[2020-06-04 17:23] klint opened #11232 "FNX-12124 ⁃ [Bug] Site previews behave oddly when scrolling tab tray"
## Steps to reproduce
Open several tabs
Go to tab tray
scroll up and down several times

### Expected behavior
Site Previews are displayed correctly

### Actual behavior
The site previews of the sites at the top of the tray are resised oddly or are blank during scroll, then are ok again
See a screen video here: https://photos.app.goo.gl/MHChTNR5etJpYqPz6

### Device information
* Android device: R

[2020-06-04 17:27] liuche commented on #10733
Dupe of some collections bug, should be fixed.

[2020-06-04 17:32] liuche commented on #10743
Good bug for @person808

[2020-06-04 17:34] liuche commented on #10739
This doesn't affect with the drawer.

[2020-06-04 17:35] liuche commented on #10736
Homescreen has been redesigned.

[2020-06-04 17:37] liuche commented on #11024
This behavior has changed and now we return user to homescreen.

[2020-06-04 17:41] sblatz commented on #10073
So there are two issues here:
1. When the dynamic bottom toolbar is enabled, on a site that returns HANDLED events on every press, the toolbar is impossible to scroll, but also the bottom content is hidden because it's not a "fixed" toolbar.

2. With a top dynamic toolbar, embedded content still scrolls. See really bad case here: https://open.spotify.com/artist/2fbUQIKSBTohTK6tHaFGYV?nd=1

@fluffy

[2020-06-04 17:43] boek opened #11234 "Investigate moving private browsing "theme" out of the Android theme system"
Right now whenever we toggle private browsing mode we have to recreate the activity to switch the theme. This has historically caused some problems and now affects the perceived performance with the new tab drawer. Let's see how hard it will be to migrate out

[2020-06-04 17:43] liuche commented on #8374
@grigoryk if you're looking into this, might be related to app restarts when swapping themes (because Private Browsing is a separate theme and requires application recreate to apply).

Chatted w/ @boek and @ekager about one solution being, removing the PB theming and instead, dynamically setting UI colors for PB Mode.

[2020-06-04 17:44] liuche commented on #11028
should have been fixed now

[2020-06-04 17:46] ekager commented on #8374
Yeah the backx2 issue was #10718 🤔

[2020-06-04 17:53] AaronMT commented on #10586
Depends on https://github.com/mozilla-mobile/fenix/issues/10619

[2020-06-04 17:56] liuche commented on #11111
We can only have one GV open at a time, so this gets kind of tricky.

In terms of IA, this conflicts with how Homescreen works in the stack, maybe can ask UX, but probably not for release.

[2020-06-04 17:57] liuche commented on #9165
(This isn't really a tabs tray bug, so I'm going to remove Skittle)

[2020-06-04 18:04] ekager opened #11235 "FNX-12128 ⁃ [Bug] Report of crashing on sign in on 5.1.0"
## Steps to reproduce
[code]

Reported on Reddit:
https://www.reddit.com/r/firefox/comments/gvkces/firefox_preview_for_android_is_broken/

### Expected behavior
### Actual behavior
### Device information
* Android device: ?
* Fenix version: ?

[2020-06-04 18:07] st3fan commented on #8374
@ekager this landed on the 18th and fits the STR https://github.com/mozilla-mobile/fenix/commit/d46369696f1d43385f335936f50abb31176845ef

[2020-06-04 18:12] ekager commented on #8374
Yes, I'm convinced that the spike is related to https://github.com/mozilla-mobile/fenix/commit/d46369696f1d43385f335936f50abb31176845ef but think it is just exposing another pathway to an issue that already existed when finishing activities (ie the previous STR also involved "open in Fenix" which finishes an activity). There's clearly another root issue at play here - probably some race condition

[2020-06-04 18:14] willfs84 commented on #11212
And I know I'm not really supposed to do this but since I have your attention here, can you please give this a look when you get the chance? I really miss this :( and I know I'm not alone https://github.com/mozilla-mobile/fenix/issues/9118

[2020-06-04 18:16] Amejia481 commented on #10816
This is a webcompac issue the website is sending us a different html depending on the user agent.

You can use this [file](https://mega.nz/file/qYxWkCjb#nnQfPG35WjR7ItBp0Kr5g0NSIBHml1ovFJq1mb7jEjc) to test

For user agents like "**Mozilla/5.0 (Android 10; Mobile; rv:79.0) Gecko/79.0 Firefox/79.0**" the same one use by GV browser, Fenix etc Fennec, the site returns us the button **"OPEN FILE"** tha

[2020-06-04 18:17] betsymi commented on #9487
@apbitner Check with @topotropic on icon. A similar issue came up elsewhere in user testing on iOS (different context entirely, but could be relevant) as far as participants believing the icon as we have it here meant refresh. If the goal with Learn more is to tout the benefits of a Firefox account, we can link to here: https://support.mozilla.org/kb/access-mozilla-services-firefox-account

[2020-06-04 18:22] ekager commented on #8374
I just repro-ed the crash on the original STR.
1. Have Fenix open in PBM
2. Background Fenix, Open PWA
3. Click away from main PWA scope to get toolbar
4. Select "Open in Fenix" from toolbar

Took me about 10-15 tries and then reproed a second time as well.

[2020-06-04 18:23] betsymi commented on #8717
Leaving this one as a "won't fix" because I wasn't able to get a clear answer and the percentage of users who change their default settings to custom is low.

[2020-06-04 18:25] sblatz commented on #10073
I wonder if addons are a separate case here.

[2020-06-04 18:32] cadeyrn commented on #11087
There were improvements in the meantime so it looks now as in your screenshot. But there is still a shadow and it's still truncated. It's also very noticeable in your screenshot. Look at the top of the Android navigation bar. On the left there is no color difference between the tabs tray and the navigation bar. On the right there is a very strong color difference.

[2020-06-04 18:42] yoasif opened #11236 "FNX-12129 ⁃ [Bug] Tab tray tab restore (undo from close) does not show tab on screen"
## Steps to reproduce
1. Open multiple tabs
1. Open tab tray
1. Close tab
1. undo close

### Expected behavior
The tab that is reopened appears on screen where I can see it without scrolling

### Actual behavior
Tab appears just offscreen

![undo-tab](https://user-images.githubusercontent.com/152493/83798055-a0f2bf80-a671-11ea-805b-10903cd920a9.gif)

### Device information
* Android device: pixel

[2020-06-04 18:43] betsymi commented on #6973
@brampitoyo Let's get some time on this when you're back from PTO. I believe the appropriate use for a snackbar would be only after a user completed an action, but I could be wrong. Let's discuss the best approach.

[2020-06-04 18:47] liuche commented on #10344
We've done this for MVP, but we'll need to talk about how to handle the different paradigms of: self-ordered tabs vs recent tabs

[2020-06-04 18:53] liuche commented on #10342
This is partly there, and gl can do a demo on 6/5 to decide whether to put this into release, and will need to fix fallout during codefreeze time (40% confidence that good enough right now), or can be a fast-follow after releaese.

[2020-06-04 18:57] liuche commented on #8312
We want to keep our design scalable for other things we want to add to the homescreen (synced tabs, bookmarks, etc)

Should be a non-destructive method.

[2020-06-04 19:01] liuche commented on #8312
for release minimum, we need to have a way to cap this before release, but can improve it in subsequent releases.

[2020-06-04 19:12] liuche commented on #8374
@ekager does this still repro with the backout?

[2020-06-04 19:13] sblatz commented on #10073
This is also affecting error pages: https://github.com/mozilla-mobile/fenix/issues/10477

[2020-06-04 19:21] darkwing commented on #11025
Just tested and this works with Jeff's recent patch.

[2020-06-04 19:22] ale82to opened #11237 "FNX-12130 ⁃ Firefox Nightly preview crash on Facebook"
it really frightening that same bug happened to me over a year ago with old Firefox (which I reported of course) and even in Firefox preview is still not fixed.
Firefox preview nightly crashes on Facebook every time looking at the crash report cause is Failed to create Failed to create EGLContext 0x300c

"FramePoisonBase":"9223372036600930304","FramePoisonSize":"4096","GraphicsCriticalError":"|[0]

[2020-06-04 19:23] yoasif commented on #11087
You are right, I see it. I think a shadow needs to be there, but it should look better. :smile:

[2020-06-04 19:27] yoasif opened #11238 "FNX-12131 ⁃ [Bug] Bad styling on Android navigation when Tab Tray is opened from Private home"
## Steps to reproduce
1. Open Fenix
1. Tap mask icon
1. Open tab tray.

### Expected behavior
Correctly styled android navigation bar.

### Actual behavior
Bad contrast, bad styling on Android navigation bar.

![signal-attachment-2020-06-04-152653](https://user-images.githubusercontent.com/152493/83801890-da2e2e00-a677-11ea-91cc-999155089c20.png)

### Device information
* Android device: pixel 2
*

[2020-06-04 19:31] topotropic commented on #10743
Couldn't reproduce – @AndiAJ is this still an issue for you? Thanks!

[2020-06-04 19:35] cadeyrn commented on #11238
Duplicate of #11099.

[2020-06-04 19:41] jhugman opened #11239 "UI tests for existing deeplinks"
Current manual tests on LeanPlum integration would suggest some deeplinks aren't working.

It is not always clear that this is a missing work in fenix, bugs in fenix, bugs in the LeanPlum SDK or configuration errors in dashboarding with the marketing team.

In order to ameliorate communication between the mobile engagement team and engineering, such a test would be the final stage of sign-off/conf

[2020-06-04 19:42] darkwing commented on #11180
I can reproduce this, though the "spot" doesn't stay there, it disappears after about 1 second.

[2020-06-04 19:49] darkwing commented on #10525
@liuche Yes, @person808 would be an awesome choice! I think it's basically just reverting these two:

- https://github.com/mozilla-mobile/fenix/pull/10590
- https://github.com/mozilla-mobile/fenix/pull/10325

[2020-06-04 19:59] darkwing commented on #10743
I couldn't reproduce this either.

[2020-06-04 20:07] yoasif commented on #11238
@cadeyrn thanks!

[2020-06-04 20:07] yoasif commented on #11099
Also seeing this on Pixel 2 (Android 10).

![signal-attachment-2020-06-04-152653](https://user-images.githubusercontent.com/152493/83805246-86bede80-a67d-11ea-9371-3e732b5a24e7.png)

[2020-06-04 20:23] liuche commented on #11235
I tried this on Fenix 5.1 and wasn't able to repro this. I'm going to flag QA to check this because it seems like a critical problem.

[2020-06-04 20:49] person808 commented on #11023
Closing since this is an A-C issue

[2020-06-04 20:55] darkwing commented on #11174
I'm unable to reproduce this -- asking for QA's eyes on this.

[2020-06-04 21:01] person808 commented on #10525
I assume point #2 doesn't apply anymore since the tab tray looks different now.

[2020-06-04 21:22] betsymi commented on #9642
@ekager Copy for all three use cases. Tightened up the headline. Could you add screenshots when complete so I can have them for documentation purposes?

Use Case | Headline | Don't Action | Confirmation
-- | -- | -- | --
New login | Save this login? | Don't Save | Save
Update existing login | Update this login? | Don't Update | Update
Matching login with blank username | Add username to saved pass

[2020-06-04 21:54] liuche commented on #11217
Thank you for filing! We're tracking this fix here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1643212
https://bugzilla.mozilla.org/show_bug.cgi?id=1642240

[2020-06-04 21:56] liuche commented on #11217
I'm going to dupe to this issue: #11189

[2020-06-04 21:58] jonalmeida commented on #10834
This hasn't been integrated yet, but it can be easily mistaken with history sync. I'll file a separate issue for this integration.

Thank you for verifying @softvision-miralobontiu and @AndiAJ .

[2020-06-04 22:00] marker10 commented on #7551
A customized html / web page when opening a new tab or starting the browser.

[2020-06-04 22:02] marker10 commented on #10517
Firefox preview 5.1 work. Bug crash fixed. 🙂

5.1.0 (Build #21502229)
42.0.1, 5bf46033e
GV: 77.0-20200526221856
AS: 0.58.2

[2020-06-04 22:05] mcomella opened #11244 "FNX2-13397 ⁃ Investigate MAIN startup performance on low-end devices (G5 preferred)"
Let's take a profile and find any low-hanging fruit. File follow-ups at the top of the backlog for any issues found.

We'd prefer a simpleperf profile but, if that's not possible, the Android Profiler will do.

[2020-06-04 22:20] jonalmeida opened #11245 "Integrate Synced Tabs AwesomeBar suggestions"
Part of the Synced Tabs feature is to have tabs show up in the awesome bar suggestions.

We should add that here probably: https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt

Reference Browser integration: https://github.com/mozilla-mobile/reference-browser/blob/d1792daf0c2cb554b400495d3ebe1b218b56de05/app/src/main/java/org/m

[2020-06-04 22:47] person808 opened #11246 "FNX-12141 ⁃ [Bug] Settings headers are not aligned correctly in RTL layout"
## Steps to reproduce
1. Enable "Force RTL layout direction."
1. Tap the overflow menu and select "Settings"

### Expected behavior
Section headers like "Account" and "General" are right aligned and have the correct padding.

### Actual behavior
Section headers are left aligned with zero padding.
![device-2020-06-04-154406](https://user-images.githubusercontent.com/6396431/83817758-735e4400-a67a-1

[2020-06-04 23:05] mcomella commented on #7512
To be explicit, we're going to look into this.

[2020-06-04 23:18] ekager commented on #9642
Screenshots as requested!

![Screenshot_20200604-191626](https://user-images.githubusercontent.com/25442310/83819507-e23d9c00-a67e-11ea-8cf7-9ed80ca89702.png)
![Screenshot_20200604-191520](https://user-images.githubusercontent.com/25442310/83819509-e2d63280-a67e-11ea-893a-0cd866cc75c7.png)
![Screenshot_20200604-191513](https://user-images.githubusercontent.com/25442310/83819513-e36ec900-a67e-11ea-

[2020-06-05 00:01] liuche commented on #8374
A few things we decided to do here for this bug:
- for 5.1, made a 5.1.1 branch with a backout of https://github.com/mozilla-mobile/fenix/commit/d46369696f1d43385f335936f50abb31176845ef - this means that #10718 will show up again in that build
- on master, #11240 will add some crash checks and then we'll monitor to see if this crash decreases on Nightly

[2020-06-05 00:08] person808 commented on #6180
Seems like the layoutDirection for all views is set to rtl, but for some reason the TextViews aren't respecting that

[2020-06-05 00:18] aha999 commented on #8674
@AmyYLee i don't get half the options if used in reddit app. i tried with Firefox Nightly and Firefox Preview just now... it's same as in my first screenshot, no options like in your screenshots.

[2020-06-05 00:49] liuche commented on #11125
Did a backout of https://github.com/mozilla-mobile/fenix/commit/d46369696f1d43385f335936f50abb31176845ef on 5.1.1 - however, this means that #10718 will show up again in that build.
On master, #11240 will add some crash checks and then we'll monitor to see if this crash decreases on Nightly.

[2020-06-05 01:14] victor-bayas commented on #11103
The progress bar is not filling accordingly to the download percent, to reproduce just download a Win10 ISO from https://tb.rg-adguard.net/public.php

![Screenshot_20200604-201205_Firefox Nightly](https://user-images.githubusercontent.com/49411169/83825732-d1e9e900-a69f-11ea-9976-58e559f191c1.jpg)

[2020-06-05 01:35] liuche commented on #10391
@ValentinTimisica since the GV issue here has been closed, is there anything on the Fenix side that needs to be done to pull in these changes to `onLoadRequest` or should that have come with the GV Nightly update? If it's handled automatically by updating GV version, please add a qa-needed label, thank you!

[2020-06-05 02:06] liuche opened #11250 "FNX-12149 ⁃ [Bug] Can't easily see login while editing"
## Steps to reproduce
(On Nightly)
Go to saved logins
Edit a login

### Expected behavior
Should be able to see login password in order to edit it

### Actual behavior
Login password is obfuscated as dots, clicking the :eye: toggle shows the password, but clicking into the text obfuscates the password as dots again.

Requires a few back and forths in order to actually be able to see the password A

[2020-06-05 02:09] liuche opened #11251 "FNX2-13399 ⁃ [Meta] Remove Nightly flag for Edit Logins"
Edit logins is currently behind a feature flag, but here are the outstanding issues we need to get fixed before it can be un-feature-flagged:

* [x] Basic Edit Logins #9504
* [x] Error states #10172
* [x] Duplicates/Save criteria #10173
* [x] Can't easily show password to edit #11250

[2020-06-05 02:10] liuche commented on #11251
cc @eliserichards, please also add any other items that need to be done before removing the Nightly feature flag!

[2020-06-05 02:20] liuche commented on #10477
This is a problem in Reference Browser too, but has been there for months - I ran into it while playing Monster Dating and could not text any Monsters, it was not a fun game.

[2020-06-05 02:27] liuche commented on #7104
@gueroJeff will review the locales and decide on what the cutoff for inclusion with the Release build. Once he gives us the criteria (and the locales?) we'll be able to update the script to include the release locales.

[2020-06-05 02:36] liuche commented on #5163
@ekager did we have the video/audio controls in the toolbar bottom sheet?

![Screen Shot 2020-06-04 at 7 35 46 PM](https://user-images.githubusercontent.com/1082253/83830715-a9abbb80-a69a-11ea-84df-7adacead3f49.png)

[2020-06-05 02:42] liuche commented on #5772
@NotWoods can you give an estimate on how much work this is? Or point to where someone might look to implement this? We should include this in release, and having some more steps would make it easier for people to pick up.

[2020-06-05 02:45] ekager commented on #8180
I can reproduce with the STR above on https://www.indiatoday.in/india/story/air-india-passenger-tests-coronavirus-positive-1682333-2020-05-27

[2020-06-05 02:51] liuche commented on #10170
Sentry crashes have leveled off! 🙌

[2020-06-05 02:53] liuche commented on #8626
@ekager is this related to the Notifications work that's going on in the Media board, or something different? https://github.com/orgs/mozilla-mobile/projects/26

[2020-06-05 02:53] ekager commented on #8180
But I can reproduce the same issue on Chrome :/ so this is likely just a sketchy website behavior and there is also likely nothing the Fenix team can do about it.

[2020-06-05 02:56] ekager commented on #8626
No, this is unrelated to media notifications (it's permissions + our tab undo) and might be made redundant by the tabs tray work.

[2020-06-05 03:03] ekager commented on #5163
No this was never added to the quick settings sheet because we don't currently control this on a site by site basis AFAICT.

[2020-06-05 03:07] ekager commented on #8180
@opusforlife2 @staktrace @lnicola have any of you noticed this on any other specific sites or generally lately (on Nightly or 5.1)?

If it's just that one weird site that's still reproducing (and on Chrome as well), we could bump this down in priority.

[2020-06-05 03:09] ekager commented on #11246
Good catch! Likely a regression from https://github.com/mozilla-mobile/fenix/pull/9603
We should fix the category layout to respond to this correctly.

[2020-06-05 03:38] SS1113 commented on #8180
@ekager I cannot reproduce the issue on `Chrome 83.0.4103.96` but I can reproduce it everytime on `Firefox 77.0.0-beta.1` and `Nightly 200603 06:00`.

But do you really think that websites should be allowed to do this type of behaviour!

I have seen this behaviour randomly appear regularly. It reproduces on the same website sometimes and sometimes it doesn't. You're likely never going to reproduce

[2020-06-05 03:59] ekager commented on #8180
No, all I meant was this specific website bug would likely need to be handed off to another team within Mozilla

[2020-06-05 04:05] lnicola commented on #8180
It still happens to me in 5.1.0 after opening GitHub links from Gmail and navigating around.

[2020-06-05 04:05] SS1113 commented on #8180
@ekager Thanks for the clarification!

[2020-06-05 04:07] ekager commented on #8180
Okay thanks @lnicola we will try to look into that.

I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1643554 about the indiatoday.in issue specifically, but I don't think it's related to other issues discussed here.

[2020-06-05 04:14] ekager commented on #5163
cc @Amejia481 do you maybe remember if that was the reason we didn't add this to the quick settings?

[2020-06-05 04:21] lnicola commented on #8180
I don't know if it matters, but I'm using custom tabs (in Gmail), uBlock Origin and Dark Reader. I wasn't using Dark Reader when I originally reported this.

[2020-06-05 05:15] SS1113 commented on #11174
@darkwing Keep at least 10 tabs open while reproducing the bug.

Though it reproduces perfectly with the above mentioned steps as well.

[2020-06-05 06:28] AndiAJ commented on #10847
Hi, **verified as fixed** on the latest **`Nightly Build 200605 from 6/5`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200605-092500](https://user-images.githubusercontent.com/51314259/83844003-dbf70080-a70e-11ea-9dc2-b892f5fb42ca.gif)

[2020-06-05 06:29] ebalazs-sv commented on #10595
This is still reproducible on Fenix Nightly Build 21560608 GV 79.0a1-20200602093554 from 6/4 with Motorola Moto G6 (Android 8).
The bug https://github.com/mozilla-mobile/fenix/issues/10578#issuecomment-628711075 that was mentioned previously that is related with this issue is fixed, due to that I will reopen this bug.
Thanks!

[2020-06-05 06:30] sheikh-azharuddin commented on #11236
In new update tab closed undo itself not showing....

[2020-06-05 06:43] AndiAJ commented on #11174
Hi @darkwing I've just checked this matter on the latest **`Nightly Build 200605 from 6/5`** using a Google Pixel 3a (Android 10) and it seems that it's **still reproducible**

Moreover, **Fenix crashed** while testing
Crash report: https://crash-stats.mozilla.org/report/index/991f1e5b-87c3-4181-88c5-072bb0200605

► Video
![20200605-093428](https://user-images.githubusercontent.com/51314259/838450

[2020-06-05 06:43] TitanNano commented on #5772
@liuche @NotWoods I'd love to work on this, if it's available.

[2020-06-05 06:53] AndiAJ commented on #10733
Hi @liuche , I've just checked this matter on the latest **`Nightly Build 200605 from 6/5`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

**The collections section is displayed on the home screen even if there are no open tabs.**

Perhaps @topotropic could advise? ☺️

I'll remove the QA needed until further notice.

[2020-06-05 06:55] ebalazs-sv commented on #11144
Verified as fixed on Nightly Migration Build 2015744433 GV 79.0a1 from 6/5 with Motorola Moto G6 (Android 8).
The deleted add-on is removed from the list.

[2020-06-05 06:59] AndiAJ commented on #11028
Hi, **verified as fixed** on the latest **`Nightly Build 200605 from 6/5`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200605-095635](https://user-images.githubusercontent.com/51314259/83846431-3eea9680-a713-11ea-8803-09bfe5ce323c.gif)

[2020-06-05 07:07] AndiAJ commented on #10743
Hi, **verified as fixed** on the latest **`Nightly Build 200605 from 6/5`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200605-100350](https://user-images.githubusercontent.com/51314259/83847072-48c0c980-a714-11ea-91f3-3cd63f60fab7.gif)

[2020-06-05 07:27] AndiAJ commented on #11024
Hi @liuche  , I've just checked this matter on the latest **`Nightly Build 200605 from 6/5`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

It's still reproducible, it **re-directs the user to the Normal Browsing Home screen and open tabs**
Shouldn't it return the user only to the Private Browsing Home screen?

► Video
!

[2020-06-05 07:35] sv-ohorvath commented on #10880
Not crashing anymore in today's Nightly 6/5. Verified as fixed on Pixel 4 (Android 10)

[2020-06-05 08:19] B0pol commented on #6313
Why has https://github.com/mozilla-mobile/fenix/commit/d66762910fd402b8456b3e74dade62a713bb1a66 been reverted? It fixes two situations as I said above (top sites and search query), it's way better than nothing.

[2020-06-05 08:24] abodea commented on #11025
**Verified as fixed** on the latest Nightly build from 6/5 with **Google Pixel 4 XL (10), Samsung Galaxy S7 (7).**
Note that the undo functionality is working correctly.

![20200605-111533](https://user-images.githubusercontent.com/42831109/83854194-09e44100-a71f-11ea-8580-46678127672a.gif)

[2020-06-05 08:30] cadeyrn commented on #6313
https://github.com/mozilla-mobile/fenix/pull/10707#issuecomment-630258174

[2020-06-05 09:36] softvision-miralobontiu commented on #8374
I was able to reproduce the crash on OnePlus 5T (Android 9) on 6/5 Nightly build, with the following steps:
1. Sign in with valid credentials, with an old account.
2. Open several tabs (I had 10).
3. Share all opened tabs to all the connected devices.
Fenix either crashes or displayed the "Unable to send RETRY" snackbar.

https://crash-stats.mozilla.org/report/index/4e6c3a43-8992-4286-bed1-7016802

[2020-06-05 10:11] AndiAJ commented on #8920
Hi, **verified as fixed** on the latest **`Nightly Build 200605 from 6/5`** using a Google Pixel 3a (Android 10)

| Add-on name  |"addon_id"|
| ------------- | ------------- |
| uBlock  | "uBlock0@raymondhill.net" |
| Dark Reader  | "addon@darkreader.org"  |
| HTTPS Everywhere  | "https-everywhere@eff.org" |
| No Script  | "{73a6fe31-595d-460b-a920-fcc0f8843232}"  |
| Privacy Badger  | "jid1-Mnnxc

[2020-06-05 10:11] #8920 closed

[2020-06-05 10:12] igalic opened #11255 "a way to change the emoji font for non-root users"
### What is the user problem or growth opportunity you want to see solved?
Android users who don't root (but hopefully not brick) their device (void their warranty, lock themselves out of using their bank / insurance app, etc), cannot change their device's fonts, including emoji fonts

as currently it has no effect to specify the fully qualified path of a font in `font.name-list.emoji`, perhaps Fi

[2020-06-05 10:20] lindongbin commented on #7602
not working on http://m.imomoe.in/player/7379-0-0.html

[2020-06-05 10:23] lindongbin commented on #11216
Although #7601 solves the problem of automatic orientation for most websites, there are still a few websites that do not work

[2020-06-05 11:14] ebalazs-sv commented on #10727
This issue is reproducible on Fenix Beta 77.0.0-beta.2 Build 21570821 GV 77.0 from 6/5 with Motorola Moto G6 (Android 8).
I will reopen the issue.

[2020-06-05 11:39] hakkikaancaliskan commented on #11245
Can I work on this?

[2020-06-05 11:51] AndiAJ opened #11257 "FNX-12156 ⁃ [Bug]Tab Tray: Confirmation snackbar not displayed after swipe-delete or tap on the close tab button"
## Steps to reproduce
1. Open each top site in a different tab
1. Open the Tabs Tray
1. Swipe-delete or tap on the 'x' (close tab button)

### Expected behavior
The confirmation snackbar is displayed

### Actual behavior
No confirmation snackbar displayed

### Device information
* Android device:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)
* Fenix

[2020-06-05 12:12] AndiAJ commented on #10740
Reproducible on the latest **Nightly Build 200605 from 6/5** while playing audio on Soundcloud using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

[2020-06-05 12:34] hakkikaancaliskan opened #11259 "FNX-12159 ⁃ [Bug] Can't change language on local builds"
## Steps to reproduce
Build geckoNightlyDebug or geckoBetaDebug and install on real phone (XZ1 Android 10) or emulator (api 29).
Tried fennecNightly and fennecBeta with my own key but no luck. Can't change on local builds.

### Expected behavior
I can change language.

### Actual behavior
Can't change language.

![](https://user-images.githubusercontent.com/17825767/83876325-5ccef000-a741-11ea-8c0

[2020-06-05 12:36] AndiAJ opened #11260 "FNX-12158 ⁃ [Bug]Tabs Tray: Crash: java.util.ConcurrentModificationException: at java.util.LinkedHashMap$LinkedHashIterator.nextNode(LinkedHashMap.java)"
## Prerequisites
Have more then 10 open tabs

## Steps to reproduce
1. Open one of the listed tabs
1. Tap the tab counter
1. Open another tab
1. Put Fenix to background
1. ResumeFenix
1. Open the Tabs Tray
1. Open a tab

### Expected behavior
Properly load the open tabs

### Actual behavior
Crash

### Device information
* Android device:
• Google Pixel 3a (Android 10)
• OnePlus A3 (Android 6.0.1)

[2020-06-05 12:44] AndiAJ opened #11261 "FNX-12160 ⁃ [Bug]Tabs Tray: Improperly displayed ⋮ overlay after rotation"
## Prerequisites
Have a couple of open tabs
❗ The Tabs Tray shouldn't be fully expanded

## Steps to reproduce
1. Open the Tabs Tray
1. Tap the ⋮  button
1. Rotate the device to landscape view

### Expected behavior
Properly displayed overlay (shouldn't move)

### Actual behavior
Moves across the Tabs Tray

### Device information
* Android device:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Li

[2020-06-05 12:55] abodea opened #11262 "FNX-12161 ⁃ [Bug]Tab Tray: The "More options" overlay menu is misplaced when rotating the device in landscape mode"
## Steps to reproduce
1. Launch Fenix.
1. Access the tab tray and select the PB mode.
1. In portrait mode, tap on the 3 dot menu in order to open the `More optionsn` overlay menu.
1. Rotate the device in landscape mode.
    1. Expected behavior
The `More options` overlay menu is displayed correctly in the right position.
    1. Actual behavior
The "More options" overlay menu is misplaced when rota

[2020-06-05 13:00] AndiAJ commented on #11262
Dupe of #11261

[2020-06-05 13:21] codrut-topliceanu commented on #5039
Will be fixed by https://github.com/mozilla-mobile/android-components/issues/7264 and its PR : https://github.com/mozilla-mobile/android-components/pull/7266 .

[2020-06-05 13:21] topotropic commented on #11081
@gabrielluong I updated the colors for dark them in comment 0, forgot to add them in the original design. Might be a good task for @person808. Thanks!

[2020-06-05 13:29] Amejia481 commented on #5163
As you mentioned, right now we don't have API on AC to support that feature. To do so, we need new APIs to notify Fenix when a site is requesting auto-play permissions, and let it control what to do with the request.

[2020-06-05 13:36] ebalazs-sv opened #11263 "[Bug] Media notification from lock screen is not working on twitch.tv and digi24.ro"
## Steps to reproduce
1. Launch Fenix and go to https://m.twitch.tv;
1. Tap on a live video;
1. Lock the device. Observe the media notification;
1. Pause/play the playback from the lock screen.
    1. Expected behavior
Pause/play the file using the lock screen media notification works.
    1. Actual behavior
Pause/play the file using the lock screen media notification is not working.
    1. Notes

[2020-06-05 13:43] softvision-miralobontiu opened #11264 "FNX-12165 ⁃ [Bug] Crash when downloading an image from smaller-pictures.appspot.com"
## Steps to reproduce
1. Open smaller-pictures.appspot.com.
1. Tap the lower right logo to add a photo.
1. Select a photo from storage.
1. Tap on the lower right logo to download the photo.

### Expected behavior
The download starts without issues.

### Actual behavior
Fenix crashes.

### Device information
* Android devices: all
* Fenix version: 6/5 Nightly, Beta 77.0.0-beta.2 (beta 5.1.1)

[logc

[2020-06-05 13:43] cadeyrn commented on #5039
Based on the explanation in https://github.com/mozilla-mobile/android-components/issues/7264 I guess #6340 has the same cause. Maybe worth checking #6340 once the patch landed and closing #6340 as a duplicate if it no longer happens.

[2020-06-05 13:45] AndiAJ opened #11265 "FNX-12166 ⁃ [Bug]Tabs Tray: Empty tabs tray message overlaps with the open tabs before being deleted"
## Prerequisites
Have a couple of open tabs

## Steps to reproduce
1. Tap the ⋮
1. Select "Close all tabs"

### Expected behavior
Smooth transition

### Actual behavior
The empty tabs tray message overlaps with the open tabs before being deleted

### Device information
* Android device:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)
* Fenix version: N

[2020-06-05 13:46] snaggen commented on #7866
Since Firefox Preview is quite privacy focused, it is a little strange that search suggestions doesn't work for anything else than Google and hence pushing the users to a privacy-hostile actor.

[2020-06-05 13:46] Amejia481 commented on #8754
With the latest changes this should be fixed :)

[2020-06-05 13:52] softvision-miralobontiu commented on #11235
Hi all!
I didn't exactly get the crash on 77.0.0-beta.2 (beta 5.1.1), but I got the "Unable to send RETRY" message when trying to send the opened tabs to the connected devices.
I reproduces these scenarios using Samsung Galaxy Note 8 (Android 9), Sony Xperia Z5 Premium (Android 7.1.1), and OnePlus 5T (Android 9).
Here is the log, if it helps:

<details><summary>Crashlog 1</summary>
<p>

[code]

[2020-06-05 13:55] karan-kamat commented on #11224
Yeah same thing happens with my Xiaomi (Android 9)
![Nightly](https://user-images.githubusercontent.com/59926956/83884167-20f85280-a762-11ea-8839-d52b1eb7bb42.gif)
Has been happening for the past week in both nightly (fenix) and nightly preview

[2020-06-05 14:01] cadeyrn commented on #11081
@topotropic Could you also provide an update for the light theme? In your mockup in comment 0 it looks like there is only a background color and no border at all. The light theme has a white background and a grey border. Your mockup of the dark theme without the border looks much more modern than the light theme with the border. Maybe we could do something similar for the light theme?

[2020-06-05 14:03] sheikh-azharuddin commented on #11081
Maybe we can reduce the padding around the icons and accomodate 5 icons in a row like old layout.just a suggestion...there is still space left after 4th icon

[2020-06-05 14:05] softvision-miralobontiu commented on #8768
Verified as fixed on the latest Nightly build from 6/5 with Samsung Galaxy Note 8 (Android 9), Sony Xperia Z5 Premium (Android 7.1.1), and OnePlus 5T (Android 9), on the following pages:
* feedbin.com,
* facebook.com,
* twitter.com,
* instagram.com,
* squooch.app,
* maps.google.com,
* cdc.gov, and
* youtube.com.

[2020-06-05 14:06] cadeyrn commented on #11081
@sheikh-azharuddin This is different topic. It's about the visual appearance of the icons not about the number of icons per row.

[2020-06-05 14:07] darkwing opened #11267 "FNX-12167 ⁃ [Bug] Tab Tray A11y: "No Tabs" Message Not Read"
From @asadotzler:

Additional detail:

https://mozilla.slack.com/files/U4CBSAZ5E/F0158F8M4N5/screen_recording_20200604-152928.mp4

[2020-06-05 14:10] serovar commented on #8768
I don't know if it makes sense to consider feedbin.com as "fixed", since now if you login (using it as in the screencast in the first post, not simply going to feedbin.com without logging in) the navigation bar is fixed (i.e., it does not hide itself when scrolling).

[2020-06-05 14:13] hakkikaancaliskan commented on #11264
I've tried on master, debug build and no problem.
<img src="https://user-images.githubusercontent.com/17825767/83886405-bb02cf80-a74f-11ea-91b2-06686daac208.png" width="300">

[2020-06-05 14:13] sv-ohorvath commented on #11235
Couldn't reproduce it on today's smoke tests on Beta 77.0.0-beta2. We'll keep investigating on Nightly.

[2020-06-05 14:15] SS1113 commented on #11081
@sheikh-azharuddin I have already filed an issue #10281 for the Top Sites rows containing only 4 icons instead of 5.

[2020-06-05 14:21] sheikh-azharuddin commented on #11081
Thanks 😊

[2020-06-05 14:22] cadeyrn commented on #10281
https://github.com/mozilla-mobile/fenix/issues/8312#issuecomment-638825961

I think this issue is still valid since some user only have 3 sites per row but the issue should be renamed to reflect that the goal are 4 sites per row.

[2020-06-05 14:22] Amejia481 commented on #11264
Thanks for reporting. I'm unable to simulated the issue. Also I couldn't find any crash stack traces in the logs. @softvision-miralobontiu could you go to "Settings" -> "About Firefox Nightly" -> "Crashes"?  There you can can find the stack trace that can help us to determine issue. Could you send the stack trace please? :)

[2020-06-05 14:28] hakkikaancaliskan commented on #11264
@Amejia481 I'm able to simulate on 77.0-beta2 on XZ1.
https://crash-stats.mozilla.org/report/index/b666ca18-0dce-414d-94bf-0149d0200605

[2020-06-05 14:32] sv-ohorvath commented on #8374
I got an ANR error with these steps on 77.0.0-beta2.
[logANR.txt](https://github.com/mozilla-mobile/fenix/files/4736656/logANR.txt)

[2020-06-05 14:40] snorp commented on #8180
This is an abuse (or misuse) of the history API. The page is putting several entries into the history stack in order to prevent the back button from immediately navigating away. It should be possible to mitigate this by inspecting the history list and skipping to the next entry that has a different URL.

In GeckoView, this list should be delivered to the app via [HistoryDelegate.onHistoryStateChan

[2020-06-05 14:40] hakkikaancaliskan commented on #11264
@Amejia481 Yes, it is.
https://github.com/mozilla-mobile/fenix/issues/9039#issuecomment-638244738

[2020-06-05 14:40] Amejia481 commented on #11264
Thank you :)

[2020-06-05 14:41] Amejia481 commented on #11264
👍

[2020-06-05 14:41] snorp commented on #8180
Also I can't reprorduce this with uBlock enabled, so presumably it's some kind of ad producing the bad behavior.

[2020-06-05 14:41] hakkikaancaliskan commented on #11264
@Amejia481 check my last comment please

[2020-06-05 14:47] staktrace commented on #8180
There's certainly some instances where this is caused by the webpage abusing the history API. But there are *also* instances that are a bug in the browser. In those cases (which are intermittent) I usually have to click on the tab counter, re-select the tab, and then my back button works again. So I suspect some internal state is getting out of sync and re-selecting the tab fixes it.

[2020-06-05 14:49] snorp commented on #8180
Ah yeah I was specifically responding to the `indiatoday.in` case. We should probably break that out of this issue and keep this one for the intermittent wonkyness.

[2020-06-05 14:56] Amejia481 commented on #11264
I think I found the issue: The version of geckoview beta that that build is using doesn't have support for blob urls, but the actual version of geckoview beta has.

[2020-06-05 15:11] ebalazs-sv opened #11268 "[Bug] Opening and closing a PWA while in PB clears the opened tabs"
## Steps to reproduce
1. Launch Fenix;
1. Add twitter.com as PWA;
1. Go in Private Browsing and open some tabs;
1. Tap the Home device button and open the PWA from steps 2;
1. Tap the Recent apps button, remove the PWA and open Fenix;
    1. Expected behavior
The opened tabs are displayed in Private Browsing.
    1. Actual behavior
The opened tabs are deleted from Private Browsing.

### Device inf