[2021-03-06 08:56] #11009 closed

[2021-03-06 10:02] huaracheguarache opened #18347 "WebAuthn implementation doesn't allow retry"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-06 10:06] ghajini commented on #8252
https://github.com/webcompat/web-bugs/issues/67788

Similar bug ie video is overzoomed

Pinging you @karlcow @hiikezoe so that you communicate well with @emilio

As there are more than 1 bugzilla reports opened for same bug

Also this happen with site eg
`https://speedostream.com/embed-f8kj1y6wwciw.html`

[2021-03-06 10:51] Gpapi13 opened #18348 "[Bug] empty issue"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-06 10:59] Gpapi13 opened #18349 "[Bug]"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-06 13:56] #14516 closed

[2021-03-06 15:07] emilio commented on #8252
Yeah, so that one should be a dupe of [bug 1696717](https://bugzilla.mozilla.org/show_bug.cgi?id=1696717). So to recap, there are at least three bugs involved:

 * YouTube: Looks like a bug with the JS on the site (and it works in Chrome because they use UA sniffing, lame), I contacted them.
 * Vimeo: CSS issue, happens in other browsers too. Contacted as well.
 * speedostream / all the others I'v

[2021-03-06 15:27] emilio commented on #8252
I filed https://github.com/whatwg/fullscreen/issues/191 on getting the "viewport meta etc is ignored if fullscreen" specified.

[2021-03-06 15:42] hinafu commented on #12414
This is either not fixed or messed up again.

"Share Image" actually shares the URL to other apps. The Chrome app works as it should (actually Chrome displays 2 options "Share Image" and "Share Image URL").

[2021-03-06 15:46] emilio commented on #8252
I manually confirmed that my patch fixed both webcompat/web-bugs#67897 and webcompat/web-bugs#67788 (as expected)

[2021-03-06 15:49] billybob884 commented on #12414
Agreed. Don't know why this was closed, it was never fixed

[2021-03-06 15:56] #14521 closed

[2021-03-06 16:18] Rodze commented on #12414
It works for me on 20210305 nightly. The 2 options share image and share link are available

[2021-03-06 17:40] #18349 closed

[2021-03-06 17:41] #18348 closed

[2021-03-06 17:42] Archaeopteryx opened #18351 "[Bug] choppy scrolling on https://www.deutsche-rentenversicherung.de"
## Steps to reproduce
1. Open https://www.deutsche-rentenversicherung.de
2. Scroll down.

### Expected behavior
Smooth scrolling

### Actual behavior
Choppy scrolling close to the position when the 3 overlay buttons at the bottom start to get shown, and close to the end.

### Device information

* Device vendor / model and Android version: Sony Xperia XZ2 Compact
* Firefox for Android version: Nig

[2021-03-06 17:43] #18344 closed

[2021-03-06 17:56] #7660 closed

[2021-03-06 17:59] priyanka0906 commented on #18318
may  I work on this?

[2021-03-06 18:22] staktrace commented on #14774
Blah blah blah

[2021-03-06 18:23] staktrace commented on #12417
This is a useless comment to pre-empt the stale bot.

[2021-03-06 21:56] #14545 closed

[2021-03-06 23:38] hotrodwinston commented on #13336
any progress on this? looking at other options as I'm just tired of it.

[2021-03-07 02:02] #14393 closed

[2021-03-07 02:02] #14404 closed

[2021-03-07 03:30] ameaninglessname opened #18353 "Add tab view swipe to navigate between open tabs and private tabs"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-07 04:07] Nitin529 commented on #5661
I hope the password generation feature is added to Firefox mobile and/or Lockwise soon.

[2021-03-07 04:17] #14399 closed

[2021-03-07 04:17] #14400 closed

[2021-03-07 04:17] #14408 closed

[2021-03-07 04:17] #14411 closed

[2021-03-07 06:47] RiyaJ2311 opened #18354 "[UX] Aligning the text to the center"
### What is the user problem or growth opportunity you want to see solved?
When considering the text alignment for your web page content-centered text.
Whitespace is actually really important to web design because you can use it to improve readability and website performance.
![image](https://user-images.githubusercontent.com/48223671/110231302-01829600-7f3d-11eb-97ff-4641734950b6.png)

### How do

[2021-03-07 08:02] #14423 closed

[2021-03-07 08:37] teobb opened #18355 "Google Stadia working in Firefox browser (desktop)?"
I hope is not against the rules, but I'm aware that Stadia can run without Chromium broswers using a script that eases the task of creating an electron package for the Google Stadia web app. It uses Nativefier as packager and creates an Electron application that you can use to play Google Stadia on our machine.

It would be nice to have the chance to play Stadia on Firefox

I know a developer that

[2021-03-07 09:50] #14541 closed

[2021-03-07 09:52] ShalokShalom commented on #14423
They have a different chat now, might be resolved, I switched to Vivaldi.

[2021-03-07 11:54] ameaninglessname commented on #5661
Could Mozilla make these two apps combined or work together efficiently?

[2021-03-07 11:58] Nitin529 commented on #5661
It's possible and even likely that they might get rid of Lockwise and add all it's functionality to the mobile browser.

[2021-03-07 13:01] cadeyrn commented on #18354
This issues tracker is only about Firefox, not about the Mozilla website.

[2021-03-07 13:29] PlayXman commented on #17212
It's the same issue as https://github.com/mozilla-mobile/fenix/issues/14837

I can confirm @Therdel 's findings. Everything was working until I closed the app and run it again. Also, the workaround he mentions is working for me, thanks m8.
#### Device info
**OS:** Android 8.0.0
**Firefox:** 86.1.1 (Build #2015794883)

[2021-03-07 13:30] cadeyrn commented on #18355
This is the issues tracker for Firefox for Android. You can find the issues tracker for the desktop Firefox here:
https://bugzilla.mozilla.org/

[2021-03-07 14:21] teobb commented on #18355
My bad sorry!
Thanks

[2021-03-07 15:31] pavi2410 opened #18356 "[Bug] Issue with page navigation"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-07 15:48] hkaancaliskan opened #18358 "[Bug] Page reloads on Android theme switching"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-07 18:54] vthg2themax commented on #17878
I also can reproduce this issue with a data file on my site. If I choose a smaller file 256KB, it works, but it does not work when choosing a 8.9MB file. This is stopping me from development, because I cannot save files except to use base64 strings. If there was a bounty to fix this, I would pay it. Please let this be a reasonable 250MB or something, IE9 uses 4GB. Can we follow their example, or e

[2021-03-07 18:57] vthg2themax commented on #7341
Please don't close this issue, it's very important to keeping Firefox relevant against other browsers!

[2021-03-07 19:36] #14108 closed

[2021-03-07 19:36] #12264 closed

[2021-03-07 20:20] #18355 closed

[2021-03-07 22:26] Noexpert opened #18359 "Undo close tab - tab appears at the top of the tab list"
In the old Firefox version, when a user selected "undo" to a recently closed tab, the re-opened tab appeared at the end of the list of tabs. With the new version, it appears at the top / start, making discoverability difficult.

[2021-03-07 23:43] Dunexus commented on #18359
Duplicate of https://github.com/mozilla-mobile/fenix/issues/10986

[2021-03-08 00:04] magusd commented on #17575
+1, just got this with 2fa enabled

[2021-03-08 00:39] #14551 closed

[2021-03-08 01:38] ilPikachu commented on #16780
https://github.com/mozilla-mobile/android-components/issues/9805

[2021-03-08 01:39] #14598 closed

[2021-03-08 01:39] #14547 closed

[2021-03-08 02:41] amedyne commented on #16131
Removing this from the board until there are more details on next steps regarding this task.

[2021-03-08 05:28] LittleAngelwings commented on #18351
I can confirm this issue on smartphones devices with powerless cpu/gpu and less of RAM /3GB). Both devices has Android 8 and 9 and old ARM. On my Chromebook with Chrome OS 88/ Android 9 and Intel 5 (10th gen, 8 GB RAM) i don't have this behaviour.

[2021-03-08 06:09] RiyaJ2311 commented on #18354
yes. it is for the [firefox website](https://www.mozilla.org/en-US/firefox/mobile/)

[2021-03-08 06:15] RiyaJ2311 opened #18361 "[UX] Improving the footer bar"
### What is the user problem or growth opportunity you want to see solved?
this is for the[ website ](https://www.mozilla.org/en-US/firefox/mobile/)
![image](https://user-images.githubusercontent.com/48223671/110281752-4e30a480-8003-11eb-97f8-b4fa30b6efcc.png)
a [footer](https://www.nngroup.com/articles/footers/#:~:text=Thus%2C%20a%20footer%20can%20include,to%20reach%20the%20main%20navigation.) ca

[2021-03-08 07:45] cadeyrn commented on #18361
As already explained in #18354: This issues tracker is **not** about issues with the website…

[2021-03-08 07:47] AndiAJ commented on #13281
• Master 3/8:
► Flaxy 1x deleteAllHistoryTest

`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: (with id: org.mozilla.fenix.debug:id/history_empty_view and view has effective visibility=VISIBLE)`

[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5541553156286068922/executions/bs.4c3dc3699c

[2021-03-08 09:28] #18325 closed

[2021-03-08 09:30] sv-ohorvath commented on #17195
Should be fixed by https://github.com/mozilla-mobile/fenix/pull/18331. @AndiAJ if the test doesn't fail anymore in the next days, I think you can close this.

[2021-03-08 09:31] sv-ohorvath commented on #18188
Should be fixed by https://github.com/mozilla-mobile/fenix/pull/18331

[2021-03-08 09:31] #18188 closed

[2021-03-08 09:54] sv-ohorvath commented on #17989
Didn't occur again in the last month, closing.

[2021-03-08 10:02] steffchep commented on #9766
I'd be fine with just having a refresh button top-level. rather than inside the menu, tbh.

[2021-03-08 10:10] jonalmeida opened #18362 "WebAppShortcutManager needs to be a foreground activity/service when calling requestPinShortcut"
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/7475190/?referrer=github_plugin

[code]

In the integration of the component and Fenix, we should cancel the coroutine job scope `onStop`.

[2021-03-08 10:12] steffchep commented on #14921
Yes, please! I am annoyed having to switch views just to change a tab, or to open a sub menu when I want to navigate. There's plenty of screen space on tablets.
I'm a long-time fan of Firefox, but I even went so far as to use another browser(!!) on my tablet because of this, and this alone.

[2021-03-08 10:48] Mikaka27 commented on #18351
Related to this perhaps: #18078 ?

[2021-03-08 10:50] softvision-miralobontiu commented on #12848
I've encountered this issue o the Nightly debug build from 3/8 on HTC 10 (Android 8).
I'll reopen the issue.

[2021-03-08 11:03] #13296 closed

[2021-03-08 11:03] #14282 closed

[2021-03-08 11:03] mcarare commented on #18359
Closing as duplicate of #10986.

[2021-03-08 11:03] #18359 closed

[2021-03-08 11:13] mcarare commented on #12528
Talked with @topotropic offline. For a better UX, I chose to display the English name of the locale as a fallback as the subtitle, to aid any user that chooses a locale by mistake to select one he knows.

[2021-03-08 11:54] abodea commented on #16659
Removing the `needs:triage` as there is nothing to triage.

[2021-03-08 12:34] lobontiumira opened #18364 "[Bug] No tracking protection icon shown after clicking on "Report site issue""
## Steps to reproduce
1. Open a website.
2. From the page's three-dot menu tap on "Report site issue".
3. Observe the protection icon of the newly opened page webcompat.com/issues/new.

### Expected behavior
The newly opened page is loaded without issues. Tracking protection icon showing in toolbar.

### Actual behavior
The newly opened page has no tracking protection icon in toolbar (empty space)

[2021-03-08 12:34] #12848 closed

[2021-03-08 12:41] sflorean commented on #17963
Verified as fixed on Nightly 3/7 with LG G7 Fit (Android 8.1).

[2021-03-08 12:41] #17963 closed

[2021-03-08 12:54] abodea commented on #16993
Thank you for this report, can you add more information regarding this issue/feature request?

[2021-03-08 13:02] abodea commented on #18190
Based on the comment above https://github.com/mozilla-mobile/fenix/issues/18190#issuecomment-786630473 I will close this issue.
For more details please check https://github.com/mozilla-mobile/android-components/issues/9272.

[2021-03-08 13:06] damionx7 commented on #16993
I guess one could import certificates in firefox mobile as this link explains how to do it.

https://blog.felixbrucker.com/2015/10/27/how-to-import-your-own-ca-cert-into-firefox-on-android/

I tried it in fenix, but failed to do so. How can one import certificate authority in fenix ?

[2021-03-08 13:29] M-Reimer commented on #16912
As the "good old" Android Firefox, which had this feature, is no more and I want to get a usable environment on Android again, I decided to go for a temporary workaround.

A new Makefile target patches in a new Add-on ID (to make an independent clone of my Add-on) and then merges "permissions" with "optional_permissions" in this clone. Silly hack but it allows to make the feature work that require

[2021-03-08 13:32] vthg2themax commented on #17878
In order to keep this work item from going Stale, I shall write something here everyday. :-)

[2021-03-08 13:40] sflorean commented on #18358
I was able to reproduce this bug on Nightly 3/7 and RC build, when switching the theme from Fenix Settings, with LG G7 Fit (Android 8.1).
Not reproducible on Chrome.

[2021-03-08 13:44] AndRo-Marian opened #18365 "Add the Auto Tab Switch like in Firefox Focus"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-08 13:52] mcarare commented on #17872
@eliserichards Is this issue still valid?

[2021-03-08 13:53] AndRo-Marian opened #18366 "Add an option to "Delete browser data on quit" when closing the activity"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-08 14:31] mcarare commented on #17797
Opened https://github.com/mozilla-mobile/android-components/issues/9840 for the AC part.

[2021-03-08 14:51] amedyne commented on #18361
@RiyaJ2311 Any issues, suggestions on the Mozilla website can be logged in bugzilla: https://bugzilla.mozilla.org/home.  I encourage you to log these in bugzilla. Thank you!

[2021-03-08 14:51] #18361 closed

[2021-03-08 14:52] amedyne commented on #18354
@RiyaJ2311 Any issues, suggestions on the Mozilla website can be logged in bugzilla: https://bugzilla.mozilla.org/home.  I encourage you to log issues,suggestions in bugzilla. Thank you!

[2021-03-08 14:52] #18354 closed

[2021-03-08 14:54] amedyne commented on #18366
Same request as #18103. Closing this to refer to other ticket.

[2021-03-08 14:56] Amejia481 commented on #12414
@hinafu and @billybob884 did you try it on Firefox [Nightly](https://play.google.com/store/apps/details?id=org.mozilla.fenix)?

[2021-03-08 14:57] AndRo-Marian commented on #18366
I don't think is the same thing #18103

[2021-03-08 15:02] sv-ohorvath commented on #15526
Caught a similar problem on one of the automated UI tests, tapping the homescreen nav bar didn't launch the keyboard and timed out. See:
[keyboardDelayLog.txt](https://github.com/mozilla-mobile/fenix/files/6102185/keyboardDelayLog.txt)
[Test report:](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7300464095579270765/executions/bs.b066062880

[2021-03-08 15:11] csadilek opened #18367 "Run SupportedAddonsChecker only for users with unsupported extensions"
`SupportedAddonsChecker` checks if add-ons that were disabled during migration have become available. This check is only needed for users who have unsupported extensions installed. Let's investigate skipping these checks for everyone else.

[2021-03-08 15:12] dbenjaminmiller opened #18368 "[Bug] No camera is accessible in any page"
## Steps to reproduce

1. Install Firefox.
2. Go to a web page that uses the webcam (like https://www.cam-recorder.com/).
3. I now get an Android system prompt for camera and microphone if I have not already granted permission.
4. I don't get a Firefox-level prompt.
5. No permission is ever given to the site to access any camera and I see no way to allow myself to grant that access.

### Expected

[2021-03-08 15:16] vthg2themax commented on #17878
If you have a better idea, please let me know.

[2021-03-08 15:19] cadeyrn commented on #17878
There is no need to comment every day. There needs to be 180 days without any activity, otherwise the stale bot won't do anything…

[2021-03-08 15:21] vthg2themax commented on #17878
Okay, well every month or so then, so I don't forget. Hopefully they fix this bug, but in the interim, I will need to use brave because it works correctly with data URLs of a larger size.Thanks for the info!

[2021-03-08 15:22] sv-ohorvath commented on #18051
From the video it looks like after clicking the homescreen nav bar, the keyboard wasn't triggered and the expected view (mozac_browser_toolbar_edit_url_view) didn't appear, causing the test to timeout.
Found a bug that might be related: https://github.com/mozilla-mobile/fenix/issues/15526

[2021-03-08 15:32] Mikaka27 commented on #18368
Cannot reproduce on Galaxy j7 2017 (android 9). Maybe something specific to android 11?

[2021-03-08 15:34] dbenjaminmiller commented on #18368
It also could definitely be specific to my hardware (I think this is more likely than an Android 11 issue). I can try testing on a different phone later as well. I will note that the back camera (as accessed through the FF QR reader) works, and the front camera works fine in other apps (including Bromite browser).

[2021-03-08 15:34] sflorean commented on #18368
I was able to reproduce this on RC 85 build, with Huawei P40 Lite (Android 11) but not with Pixel 3 (Android 11).
However on latest Nightly build, I was able to reproduce only once, and after starting with a fresh profile, the issue is not reproducible anymore.

[2021-03-08 15:48] Amejia481 opened #18369 "Could not process image."
Nightly
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/10486746/

Beta
https://sentry.prod.mozaws.net/operations/firefox-beta/issues/10490589/?query=is%3Aunresolved%20IllegalArgumentException

Release
No available

[code]

[2021-03-08 15:56] Amejia481 commented on #18369
As the crash looks like it coming from https://searchfox.org/mozilla-central/source/widget/android/ImageDecoderSupport.cpp#63, I opened a GV ticket https://bugzilla.mozilla.org/show_bug.cgi?id=1696928

[2021-03-08 15:58] Amejia481 commented on #18369
Sentry issue: [FIREFOX-NIGHTLY-9SQ](https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/10486746/?referrer=github_plugin)

[2021-03-08 16:00] sflorean commented on #18356
I wasn't able to reproduce this on latest Nightly with Pixel 3 (Android 11) and Huawei P40 Lite (Android 11).
@pavi2410 from your video I see that the links aren't working (I didn't see new page to open) witch means that if you don't have previous pages opened in the same tab, it is expected that the back arrow to not be available. Could you please make another video, where the new page is opened?

[2021-03-08 16:12] sflorean commented on #18140
Tested on Huawei P40 Lite (Android 11) and LG G7 (Android 8.1) and couldn't reproduce the issue on both RC and Nightly builds. @0x391F could you check on Nightly, and see if this is reproducible? Thank you!

[2021-03-08 16:15] AndRo-Marian opened #18370 "Redesign the menu more like this and move it down with 12 pixels"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-08 16:19] #13822 closed

[2021-03-08 16:22] cadeyrn commented on #18370
A menu redesign is already in progress. You can follow #17796 and dependencies.

[2021-03-08 16:23] AndRo-Marian commented on #18370
I don't like it anyway. Already found that.

[2021-03-08 16:26] AndRo-Marian commented on #17799
Why is there the Sig-in anyway?
There should not existing things that is not Frequently used...

[2021-03-08 16:29] kbrosnan commented on #18370
There are designs for an updated 3 dot menu already as Cadeyrn mentions. A more compact menu was evaluated by the UX team. Closing.

[2021-03-08 16:29] #18370 closed

[2021-03-08 16:36] kbrosnan commented on #18369
GV have already resolved this issue.

[2021-03-08 16:36] #18369 closed

[2021-03-08 16:38] kbrosnan commented on #18283
This looks fixed with or #18229

[2021-03-08 16:38] #18283 closed

[2021-03-08 16:39] Amejia481 commented on #18369
Thanks for the update, is there a ticket that I could link to Sentry?

[2021-03-08 16:39] kbrosnan commented on #18368
I expect this is fallout from 0e8dc61 / #17809

[2021-03-08 16:40] Amejia481 commented on #18369
Found it thanks https://bugzilla.mozilla.org/show_bug.cgi?id=1689364

[2021-03-08 16:44] kbrosnan commented on #18366
This is a duplicate of #5865

[2021-03-08 16:44] #18366 closed

[2021-03-08 17:14] kbrosnan opened #18371 "media notification shows website title and URL on lock screen when hide sensitive notifications is set"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-08 18:10] eliserichards opened #18373 "[Spike] Investigate Android 11 implications for device-to-device backups"
https://developer.android.com/about/versions/11/behavior-changes-11#device-to-device-file-transfer

There are some unknowns about how the device to device transfer will impact our app. Areas to think about:
* Nimbus ids (should identify the device, not the person)
* Sync ids
* ...

[2021-03-08 18:40] escapewindow commented on #18233
Aiui the update-projects hook should get all missing strings into Fenis and Android-Components. I reran the [update-projects hook](https://firefox-ci-tc.services.mozilla.com/hooks/project-releng/cron-task-mozilla-l10n-android-l10n-tooling%2Fupdate-projects), which created https://github.com/mozilla-mobile/android-components/pull/9842 and https://github.com/mozilla-mobile/fenix/pull/18374 . Neither

[2021-03-08 18:44] pavi2410 commented on #18356
I am not sure I understood well about what video should I make.

Also, I would like to point out that the shield icon (left to the address bar) is invisible.

To sum it up, there were 3 issues with that tab:
1. Couldn't go back to the previous page.
2. Long pressing a link didn't show the dialog.
3. Shield icon (left to the address bar) is invisible.

[2021-03-08 18:50] ItsDevyani opened #18375 "Fenix New Tab Experiment (Test branch 3: Default Browser Message to a new user on their third session, Control: No Message)"
## User Story
- As a user, I want to know how I can easily set up Fenix as my default browser once I've had a chance to use the browser a few times.

## Dependencies
- Test Measurement plan is being requested by the DS team
- Default Browser Dashboard is also being requested by the DS team
- Nimbus SDK integration with Fenix
-[ UX design work is done](https://www.figma.com/file/YvvFxwXKonLkvdF0ZcL

[2021-03-08 18:53] violasong commented on #17800
It should be used just for the navigation within that tab. Additional new tabs should go back to the default of mobile view.

[2021-03-08 18:56] violasong commented on #17799
"Report site issue" will be put in this menu for prerelease versions. (See [this issue](https://github.com/mozilla-mobile/fenix/issues/18032#issuecomment-788307613))

[2021-03-08 18:57] ItsDevyani opened #18376 "Fenix Settings Menu Change Request (Move Default Browser at #1 position in the list)"
## User Story
- As a user, I want to know how I can easily set up Fenix as my default browser when I click the settings menu.

## Dependencies
- Setting Menu re-design

### Acceptance Criteria
- Set Default Browser is the First Item on the Settings Menu (It replaces Sync)
- We can track default browser activations coming from this source full-funnel (Clicks at each step) including conversion to de

[2021-03-08 19:17] mcomella commented on #9261
At MarcLeclair's suggestion I dumped the stack in Settings but it doesn't tell me much: I see the AppOpsManagerCompat call but no additional info:
[code]

[2021-03-08 19:40] wymiatacz commented on #7546
There still seems to be a way to open local files in Fenix 86.1.1.
If you setup remote debugging via USB, you can enter local URL (like file:///storage/emulated/0) in devtools toolbox's address bar (at PC) and Fenix opens it :)
Of course practical usability of this workaround is close to none, but it shows that not everything has been secured...

[2021-03-08 19:46] amedyne commented on #14514
Re-opening this. Default search engine for Ukraine is Google.

[2021-03-08 19:50] Delphine commented on #12528
Absolutely! that works. Thank you!

[2021-03-08 19:52] cousteaulecommandant commented on #12414
I can confirm that it works on [Firefox Beta](https://play.google.com/store/apps/details?id=org.mozilla.firefox_beta) 87.0.0-beta.3, just the way it used to work before (it shares the image and the URL, not just the URL).
So the bug has been fixed and a new version is on the way; now all that's left to do is wait until mainstream [Firefox](https://play.google.com/store/apps/details?id=org.mozilla.

[2021-03-08 20:01] kbrosnan commented on #18373
Need to make a decision if this blocks the Android 11/API 30 work from shipping in v88?

Need to clarify if device-to-device backup can only happen on device first run or if there is some case where device-to-device backup can be triggered with complex profiles on both devices.

Is there a way we can test this behavior on emulators? Might be some useful info at https://developer.android.com/guide/

[2021-03-08 20:13] Delphine commented on #18233
So I checked on Pontoon how these were translated, and I realized that they have decided to keep those words in English (Dutch apparently often re-uses English terms).
Therefore closing this bug.

[2021-03-08 20:13] #18233 closed

[2021-03-08 20:35] Amejia481 commented on #18373
@kbrosnan could the QA team help us to test?

[2021-03-08 20:37] Amejia481 commented on #18373
cc @grigoryk

[2021-03-08 20:48] Ansem93 commented on #10050
Any hope to see this implemented? The only reason why I stick to Samsung browser is that it's so much easier and faster to go to a bookmarked website compared to fenix :(

[2021-03-08 20:58] mkaply commented on #14514
Yes, that's what that person wants (and how it is described in list.json)

Yandex is not there for the Ukranian build and the default is Google. I'm checking if this is correct.

[2021-03-08 21:12] isthisrubble commented on #18244
just to clarify, this issue is made much worse by it activating on irrelevant pages where there's no video or audio to block. if that can be fixed it would be much less frustrating.

[2021-03-08 22:46] jeannenot opened #18377 "[Bug] install/add to homescreen sometimes fails"
Firefox pour Android version 86.1.1
Mobile : Xiaomi 9T pro modèle M1903F11G
Version Android : 10QKQ1.190825.002
Je sollicite votre aide votre menu propose l'option d'ajouter un site web sur l'écran d'accueil ou parfois simplement installer avec le symbole de l'écran de mobile.
Or c'est toujours en échec, sans message d'erreur.
Avec Chrome et le navigateur MI, cette option fonctionne.
Est-ce unique

[2021-03-08 22:59] cbwee opened #18378 "[Bug] New tabs do not close automatically after pressing the back button."
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-09 00:12] kbrosnan commented on #18378
Duplicate of #17204

[2021-03-09 00:12] #18378 closed

[2021-03-09 00:20] dblohm7 opened #18381 "Explicitly specify extractNativeLibs attribute in ApplicationManifest.xml"
The [documentation](https://developer.android.com/studio/releases/gradle-plugin#3-6-0-behavior) for version 3.6.0 of the Android Gradle Plugin states the following:

[code]

For Android Gradle Plugin versions prior to 3.6.0, the default value was `true`.

Based on what I see in the [commit](https://github.com/mozilla-mobile/fenix/commit/aeb0205ea5f1e618ad75d5d82badb7baad986fac) that upgraded the p

[2021-03-09 00:24] mcomella commented on #17575
@sflorean Would you be able to test if this is an issue again (if it wouldn't already be caught as part of the usual test plan process)? Thanks!

[2021-03-09 00:33] tomyummmm commented on #12414
I am on the beta and sharing the image to whatsapp causes an error message
that the file format is not supported. Is there any way to fix this?

On Tue, 9 Mar 2021, 3:52 am cousteau, <notifications@github.com> wrote:

[2021-03-09 01:13] cbwee commented on #17204
It is also very annoying to me, but it happened to me only if
1.  I search something in the address bar first,
2.  open the search results, choose "Open link in new tab",
3.  close the search results page.

If I keep the search results page opened, the new tab would be closed after the back button is pressed.

But keeping that search results opened is still not the solution, since when I opened mu

[2021-03-09 01:18] yoasif opened #18382 "[Bug] Favicons don't appear for some sites (but do appear on Chrome and Fennec)"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-09 01:57] hinafu commented on #12414
This feature did work when I tried it in Nightly, but the app was unusable in other aspects. By the second day it didn't even open.

I'll wait till this update reaches the "stable" release.

[2021-03-09 06:31] Mugurell commented on #12414
Please open a new ticket giving more information to help us reproduce the issue. Like:
- version of the Firefox used
- if possible the link to the image you are trying to share
- whether this issue reproduces when sharing the same from another apps

Thank you!

[2021-03-09 07:02] RiyaJ2311 opened #18384 "[UX] removing the bookmarks from hard to reach region"
### What is the user problem or growth opportunity you want to see solved?
On choosing the top search bar, the items are listed in [hard to reach area](https://www.smashingmagazine.com/2016/09/the-thumb-zone-designing-for-mobile-users/).
![image](https://user-images.githubusercontent.com/48223671/110430397-53a8f000-80d2-11eb-8409-9bc9b780c5c6.png)

On analysis of 1,333 observations of smartphones

[2021-03-09 07:02] Mugurell commented on #7341
I think this is actually fixed. Asking QA for a confirmation.

[2021-03-09 07:06] Mugurell commented on #16780
This was verified as fixed in https://github.com/mozilla-mobile/fenix/issues/17963.
Closing.

[2021-03-09 07:06] #16780 closed

[2021-03-09 07:11] Mugurell commented on #17389
@amoya Since the Gecko/GV issues seem to need quite a bit of work and there is currently no traction I propose removing this from our current backlog.

[2021-03-09 07:25] #17971 closed

[2021-03-09 07:54] Mugurell opened #18385 "Allow for core components to be overriden in ui tests"
Following https://github.com/mozilla-mobile/fenix/issues/18041 and https://github.com/mozilla-mobile/fenix/pull/18151#discussion_r586036123 it was seen that when running instrumented tests we need an easy way to replace the dependencies used in production with ones specifically tailored for our ui tests needs.

For this we'd probably need to:
- leverage a custom `AndroidJUnitRunner` that would use

[2021-03-09 08:02] rxumoz opened #18386 "[Feature China]Change the language display name to traditional/simplified Chinese"
To decrease controversy, it is better to change the display names of Chinese languages in the language setting.
Using "Traditional Chinese" and "Simplified Chinese" is a good choice.

[2021-03-09 08:03] #14667 closed

[2021-03-09 08:32] mcarare commented on #18371
@kbrosnan Should we show just the icon and title on the lock screen, or not show the notification at all?

[2021-03-09 09:25] Oymate opened #18388 "[Bug]Cannot open html file downloads"
## Steps to reproduce
- Have a downloaded HTML file
- Click to open it
- FF doesn't open it

### Expected behavior
FF should open it

### Actual behavior
It does not

### Device information
N/A(tested on multiple)

* Device vendor / model and Android version: Android 10
* Firefox for Android version: 86.1.1 (Build #2015794883)

Notes:
File permission was given

[2021-03-09 09:28] sflorean commented on #18341
Tested also on latest Nightly build with Xiaomi Redmi Note 8T (Android 9) and couldn't reproduce it.

[2021-03-09 09:29] abodea commented on #10200
This issue is reproducible on the **Beta 87.0.0-beta.4** build with **Samsung Galaxy Tab A6 (Android 5.1.1).**

[2021-03-09 09:37] Sayrus commented on #18341
Is there anything I can do to help reproduce?

I can easily reproduce it on my device but I have no idea what triggers this.

[2021-03-09 09:38] abodea commented on #18364
This issue is reproducible on the **Beta 87.0.0-beta.4** build with **Samsung Galaxy Tab A6 (Android 5.1.1).**

[2021-03-09 09:50] cadeyrn commented on #18388
Duplicate of #7546.

[2021-03-09 10:49] codrut-topliceanu commented on #18364
@softvision-miralobontiu @abodea  Does this seem like a device or site specific issue?

I was unable to reproduce the issue using current Nightly, current beta or Master branch on:
Pixel 4 (Android 11)
Pixel 3xl (Android 10)

or using current Master branch on:
One Plus A6 (Android 9)
Motorola E4 (Android 7)
Samsung Galaxy Note 3 (Android 5)

Only tested with google.com and wikipedia.org though.

[2021-03-09 11:10] mcarare commented on #18388
@Oymate Thank you for your report. This is already requested [here](https://github.com/mozilla-mobile/fenix/issues/7546). Closing this as duplicate.

[2021-03-09 11:10] #18388 closed

[2021-03-09 11:51] cousteaulecommandant commented on #12414
That might actually be WhatsApp's fault.  For example, I think WhatsApp cannot handle .webp images.  Did you try with other images?
(Maybe Firefox could convert images other than jpg/png/gif to a better supported format before sharing them, but that's a separate issue that should go on a new ticket)

[2021-03-09 12:23] abodea commented on #10365
This issue is reproducible on the Beta 87.0.0-beta.4 build with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-03-09 12:23] Ansem93 commented on #18353
I voted for the first option with the thumb up 👍

[2021-03-09 12:41] sanyud24 commented on #18317
I would like to work on thus issues. May I  ?

[2021-03-09 13:08] softvision-oana-arbuzov opened #18394 "[Bug] App crashes when trying to play a podcast"
## Steps to reproduce
1. Navigate to https://podcasts.google.com/
2. Tap a podcast from the list (e.g "Stuff you should know").
3. Tap to play the podcast.
4. Observe behavior.

### Expected behavior
The podcast plays.

### Actual behavior
The podcast plays for a few seconds and then the browser crashes.

### Device information

* Device vendor / model and Android version: Samsung Galaxy S8 (Andro

[2021-03-09 13:37] sflorean opened #18395 "[Bug]Text selection menu is not dismissed after the page is in reading mode"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-09 14:15] AndRo-Marian commented on #17770
Why I need the What's New, Help and Settings to be to bottom?

[2021-03-09 15:23] abodea opened #18396 "[Bug] After playing a podcast the device enters in Android Recovery mode (android is crashing) as the android system cannot be loaded"
## Steps to reproduce
1. Navigate to https://podcasts.google.com/
2. Tap a podcast from the list (e.g "Stuff you should know").
3. Tap to play the podcast.
4. Observe behavior.
### Expected behavior
The podcast plays without problems.
### Actual behavior

The device screen is locked and some weird flashes are displayed.
### Device information

* Device vendor **Google Pixel 4 XL (Android 11).**
*

[2021-03-09 15:34] abodea commented on #18396
Here is the logcat since I started the app until Android System crashed.
[logcat1.txt](https://github.com/mozilla-mobile/fenix/files/6109617/logcat1.txt)

[2021-03-09 15:43] Amejia481 opened #18399 "Crash: java.lang.IllegalThreadStateException: Must have a Handler"
Nightly
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/10570831/

[code]

[2021-03-09 15:50] Amejia481 commented on #18399
Sentry issue: [FIREFOX-NIGHTLY-9XJ](https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/10570831/?referrer=github_plugin)

[2021-03-09 16:24] rocketsroger commented on #13308
I investigated the newly linked Sentry issue.  However, I don't think it is the same as the original issue.  I'll open a new issue to track the new crash.

[2021-03-09 16:24] Amejia481 commented on #18373
From the [docs](https://developer.android.com/about/versions/11/behavior-changes-11#device-to-device-file-transfer):

It states that we can't **disable device-to-device migration** on Fenix files, but we can disable cloud-based backup and restores. I think we have to focus on finding what is **device-to-device migration** and which risk could imply. [I think it is transferring data from one device

[2021-03-09 16:28] rocketsroger opened #18400 "RemoteServiceException: Bad notification posted from package org.mozilla.fenix: Couldn't inflate contentViewsjava.lang.Il..."
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/6022536/?referrer=github_plugin

[code]

[2021-03-09 16:31] rocketsroger commented on #13308
Created https://github.com/mozilla-mobile/fenix/issues/18400 for the new crash.

[2021-03-09 16:34] Amejia481 commented on #4072
QA team could you please help us to verify if this issue is reproducible on Android 11, we reopened this issue as we want to verify some new behavior changes on Android 11 for more info see https://github.com/mozilla-mobile/fenix/issues/18373

[2021-03-09 16:34] denschub opened #18401 "[Bug, maybe?] "Desktop site" toggle does not invalidate history cache, shows mobile pack on back navigation"
## Steps to reproduce

1. Open any site with a dedicated mobile layout and full page cache - https://thedailywtf.com/ for example
2. Follow any link on that site to an article.
3. Toggle "Desktop site" on for that page, observe the reload to retrieve the Desktop version.
4. Hit the back button.

### Expected behavior

Desktop version of the previous site is shown.

### Actual behavior

Previously

[2021-03-09 16:36] vthg2themax commented on #7341
It would also be great to know the file size being used to test this. I think a reasonable amount would be 250MB, but if more could be done. That would be great!

[2021-03-09 16:57] ix5 commented on #16306
Discussions going on in https://github.com/mozilla-mobile/fenix/issues/18373

[2021-03-09 17:21] larserno opened #18403 "[Bug] Sometimes when i load a new page, it just reloads the current webpage, and the new webpage is instead loaded to the previous tab"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-09 17:46] Multipanda commented on #14921
They really should have waited on releasing the new renderer until it had feature parity. Though I suspect that the renderer just wasn't built for it at all, which seems very short sighted, so they are either struggling to make the wished for additions work, or they simply don't care.

Or more likely they rushed it out of the gate in an unfinished state so they could take advantage of whatever new

[2021-03-09 18:20] rocketsroger commented on #18253
Prototype:

https://user-images.githubusercontent.com/6579541/110518447-19dbe780-80da-11eb-9c7b-6a5447fced2c.mp4

[2021-03-09 18:27] rocketsroger commented on #18400
related GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1697255

[2021-03-09 18:30] Cwiiis commented on #14921
Just to correct some misinformation here, there was no new renderer - the big change was moving from a monolithic application that embeds Gecko directly to an application that uses an Android widget that embeds Gecko. There are some backend details that change because of this, but the renderer isn't one of them. The regressions are because the UI was essentially a rewrite, from what I've heard at

[2021-03-09 19:02] kbrosnan opened #18405 "Search widget is broken on Android 11"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-09 19:10] Amejia481 commented on #18373
There are some historical references for similar bugs on Fennec
* https://bugzilla.mozilla.org/show_bug.cgi?id=1185920
* https://bugzilla.mozilla.org/show_bug.cgi?id=1440422

[2021-03-09 19:35] Imerion commented on #18132
How come the icons in the options menu are to be removed? They help with finding the right option quickly, look good, makes it easier to keep track of movement when scrolling and gives the menu a professional and polished look.

[2021-03-09 19:47] hakkikaancaliskan commented on #18132
They are not removed permanently, they will be changed with new icons.

[2021-03-09 19:48] Imerion opened #18406 "Disabling Javascript in about:config resets on its own [Bug]"
I want to disable Javascript. Most pages I use work great without it and it greatly speeds up navigation and rendering while avoiding trackers and similar. It can also be useful for debugging and testing. This can be done in about:config. Problem is that after a few hours the option seems to reset on its own. No idea why this happens, but it seems like a bug.

## Steps to reproduce
Go to about:con

[2021-03-09 19:51] Imerion commented on #18132
Oh, I see! Sorry! I misunderstood, the PR made it sound like they would be removed without replacement.

[2021-03-09 19:59] cadeyrn commented on #18132
I don't think that this is true. There is no point in creating a new layout without icons if the plan is to replace the icons. Also https://github.com/mozilla-mobile/fenix/issues/18132#issuecomment-789966047 states that the settings icons will be removed and that the icons of _the rest of the app_ will be replaced.

[2021-03-09 20:13] amedyne commented on #17389
@Mugurell Moving this back to the staging board for now.

[2021-03-09 20:13] superbonaci commented on #18373
If you purchase iPhone it will transfer automatically everything, Apple doesn't give any slack to developers. It's the best thing to do, you don't want to find out something is missing.

[2021-03-09 20:29] Multipanda commented on #14921
Nice to know, kinda interesting how that kind of modular approach to applications are becoming more widespread.
Though it doesn't really change how much they dropped the ball, or seem to not care about tablet users, just the particulars behind it.
I'm almost expecting one of their devs to ask "Do you guys not have phones" at this point :-)

[2021-03-09 20:29] jrmuizel opened #18407 "[Bug] cnn.com doesn't load in Firefox Nightly on wifi"
It seems to work in release and beta. Uninstall and reinstall did not fix the problem. It seems to load fine over LTE.

Nightly 210308

[2021-03-09 20:41] Multipanda commented on #16121
Yes, it's one of two essential features that made me stop using Firefox on my android tablet. The other being a tab bar.
Using Kiwi now, but still looking for an alternative with the encoding options, or an extension that works in Kiwi.
Right now I'm forced to just read such pages on my PC.

[2021-03-09 20:54] Mugurell commented on #7341
We will drop all data URLs bigger than 2MB, the same as Chrome does.
A bit more context - https://chromium.googlesource.com/chromium/src/+/master/docs/security/url_display_guidelines/url_display_guidelines.md#url-length

If websites want to load bigger objects there are better ways of doing so.

[2021-03-09 20:59] Amejia481 commented on #18373
QA team please help use to verify  these two test cases :

## 1) Restore a device account with Fenix using back up from a Google account.
1. Install Fenix on a device with Android 11.
2. Log into your Firefox account and wait for bookmarks, history, logings and opened tabs to sync (This account should have previous data like logins, passwords and browser history).
3. Enable automatically back ups

[2021-03-09 21:05] makotokato commented on #13208
@kbrosnan could you close this?  BMO is resolved as fixed and this is verified. (I don't have permission to close this)

[2021-03-09 21:06] Mugurell commented on #7341
@vthg2themax Can you offer an example of where bigger data URLs would be useful?

[2021-03-09 21:18] superbonaci commented on #18373
Android Virtual Devices (AVD) and physical devices (Pixel) have different behavior. Would be great if you could test both.

[2021-03-09 21:26] vthg2themax commented on #7341
Yes, currently I have an app that runs with the Rust / Wasm bindgen, and it can only access the innerHTML property of an HtmlAnchorElement. I cannot create a dataURL in JavaScript, because the bindings will not carry over between JavaScript, and Rust, and instead I must pass it through as a DataURL which does not work in Firefox Mobile currently. Here is my project:
https://github.com/vthg2themax/

[2021-03-09 21:36] KitezhGrad commented on #7325
Any updates on implementing this feature?
Thank you.

[2021-03-09 21:37] jrmuizel commented on #18407
But why would it only be be broken in Firefox Nightly and not beta or release?

[2021-03-09 21:44] LittleAngelwings commented on #18407
Don't now. But you can see, I have no problem with the site. Tried three devices. Android 8.1.0 (Tablet)  / 9.1.0 (Huawei Smartphone) and Android 9 at Chromebook with Chrome OS 88 (picture). All with strict preferences and uBlock Origin activated.

[2021-03-09 22:30] gabrielluong opened #18408 "Add a lazy getter for AutofillCreditCardsAddressStorage"
The initial step that we can do in https://github.com/mozilla-mobile/fenix/issues/17538 is to simply add the lazy initialization of the `AutofillCreditCardsAddressStorage` in `Core`.

[2021-03-09 23:01] #10043 closed

[2021-03-09 23:37] I-Percy opened #18411 "[Bug]"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-09 23:37] #18411 closed

[2021-03-09 23:38] kbrosnan commented on #18214
From Dana in the bug linked above.

[2021-03-09 23:42] I-Percy opened #18412 "[Bug] trust OS certs"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean) No just fix this already.

[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points) Annoying. This is quite redundant.

[comm

[2021-03-09 23:44] I-Percy commented on #18412
Every site works just fine on Chrome but not on Firefox. Firefox works fine on my PC but not on my phone. Please fix.

[2021-03-09 23:51] makotokato commented on #5417
No way to get system font if using Android 9 or old version.

https://bugzilla.mozilla.org/show_bug.cgi?id=1677671 will be one of improvements if changed new system font isn't generic Android fonts such as Noto Sans and using Android 10+.

[2021-03-10 00:10] kbrosnan commented on #18406
about:config cannot change prefs that are used by Geckoview. This is as designed.

[2021-03-10 00:10] #18406 closed

[2021-03-10 00:26] kbrosnan commented on #18412
You need to use Beta or Nightly and use the `about:config` pref `security.enterprise_roots.enabled`. This is a duplicate of #3728

[2021-03-10 00:26] #18412 closed

[2021-03-10 01:01] fawzib commented on #4498
i was gonna use firefox and its password manager to replace chrome but you guys are 10 years behind in features and usability. I encountered over dozen bugs in 3 days and another dozen of obvious quality of life missing improvements.

[2021-03-10 01:13] #4229 closed

[2021-03-10 01:14] vladikoff commented on #4229
nvm

[2021-03-10 01:20] Poopooracoocoo commented on #7325
Firefox will NOT be the first Android browser to implement bookmark all tabs. Bromite is now the first ever browser on Android to let you bookmark all tabs!

[2021-03-10 02:05] Jpersh27 commented on #17711
@Amejia481- Hello it has been over 21 days (3 weeks) now and no news or any progress or updates regarding this issue.

• Current Geckoview version in beta for Android I have installed is- GV: 87.0-20210307185839

![IMG_20210309_205655.jpg](https://user-images.githubusercontent.com/77606699/110563916-02bcea00-811a-11eb-849d-db9bd5845527.jpg)

• Here is what's displayed on Bugzilla regarding this is

[2021-03-10 02:36] kbrosnan commented on #18371
![Screenshot_20210309-104154](https://user-images.githubusercontent.com/250273/110564495-c4b3cc00-8101-11eb-9ecd-362481e8ca75.png)
![Screenshot_20210309-104121](https://user-images.githubusercontent.com/250273/110564499-c7162600-8101-11eb-8459-dd0d6abc2f30.png)

This is how some notifications are handled. I did notice that Chrome discloses the website playing back same as Firefox. Might be related

[2021-03-10 07:03] AndiAJ commented on #13281
• Master 3/9:
► Flaxy 1x deleteAllHistoryTest

`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: (with id: org.mozilla.fenix.debug:id/history_empty_view and view has effective visibility=VISIBLE)`

[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7996702575831454793/executions/bs.b7bb985dae

[2021-03-10 07:07] ebalazs-sv commented on #18312
Verified as fixed on Nightly 3/10 with Pixel 2 (Android 9).
This issue is still reproducible on Beta 87.0.0-beta.4 from 3/8.

I will close this issue and remove the qa:needed label.

[2021-03-10 07:36] Mugurell opened #18416 "[Bug] Keyboard does not show when focusing a html input field"
## Steps to reproduce
- Access wikipedia.org
- tap the search box

### Expected behavior
Keyboard should appear to allow entering search terms

### Actual behavior
Keyboard does not appear. User cannot enter text

### Device information

* Device vendor / model and Android version:
   - On Fenix: Reproduceable on Pixel 3 with Android 11, not reproduceable on a Samsung S7 with Android 8.
   - On GV

[2021-03-10 08:04] GokdenizK opened #18417 "[Bug] Firefox doesn't direct to ms teams app"
Firefox doesn't open ms teams app when clicked on a meeting link.

Pertinent recording: https://streamable.com/yyx52q

How it is supposed to work: https://streamable.com/5vf6jr

## Steps to reproduce
Clicking on a meeting link

### Expected behavior
I expect it to open ms teams app.

### Actual behavior
It opens the meeting link, and join meeting button also does not work.
### Device information
S

[2021-03-10 08:06] mcarare commented on #18371
@kbrosnan: No,  we explicitly set in the notification channel what level of privacy the notification has. Maybe we can do something different depending on the mode we are in? Private or normal?

[2021-03-10 08:13] Mugurell commented on #18416
I can reproduce this also on a Samsung s9 with Android 10 so this is not an `Android 11` specific issue.

[2021-03-10 08:45] sv-ohorvath commented on #18416
I saw this older bug recently: https://github.com/mozilla-mobile/fenix/issues/15526 which seems to be the same, probably not reproducing so often?

[2021-03-10 09:10] Sav22999 commented on #12472
This is a feature suggested

[2021-03-10 09:17] ebalazs-sv commented on #18394
This issue is reproducible on Nightly 3/8, Beta 87.0.0-beta.4 from 3/8 and Release 86.1.1 from 2/23 with Motorola Moto G6 (Android 8).

[2021-03-10 09:55] sheikh-azharuddin opened #18418 "Add icon to tracking protections similar to desktop version"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-10 10:16] LaurentiuApahideanSV commented on #18351
I can confirm the issue is reproducible on Firefox Preview 87.0.0-beta.4 and Nightly 210309.

### Devices used:
- Huawei MediaPad M3 (Android 7.0)

[2021-03-10 10:33] mcarare commented on #18416
Should be fixed by https://github.com/mozilla-mobile/android-components/pull/9855.

[2021-03-10 10:34] LaurentiuApahideanSV commented on #18407
@jrmuizel I tried to reproduce your issue on the latest Firefox Nightly 210309 but was unable to. Could you provide us with further information on how to reproduce the issue?
### Devices used:
- Samsung Galaxy S9 (Android 8.0)
- OnePlus 6T (Android 9)

[2021-03-10 10:39] Dunexus commented on #4498
@fawzib Could you check if there are open tickets about your bugs an quality of life missing improvements ? Feel free to open some to help improving this product.

[2021-03-10 10:43] benoapof opened #18419 "[Bug] the first letter of type email inputs has auto-capitalization"
It's disturbing...
I try setting the attribute autocapitalize="none", but no effect.

To reproduce :
- Try filling any email type input...
- I expect the email to be in lowercase
- The first letter will uppercase

* Redmi Note 9 Pro / Android version: 10
* Firefox for Android version: 86.1.1

[2021-03-10 11:05] Mikaka27 commented on #17009
Just checked and this issue also reproduces on reference browser.

[2021-03-10 11:12] Mikaka27 commented on #17115
I cannot reproduce this on your example link, but I see it in issue I linked here. There it also reproduces on reference browser.

Do you have any other example where it can be reproduced? It would be good to check on reference browser as well.

[2021-03-10 11:25] #9591 closed

[2021-03-10 11:28] mcarare commented on #18405
Tested this on the latest master and latest play store Nightly(210309) and the widget works. Tested on Pixel 4 with Android 11.

@kbrosnan On what Nightly version did you test this?

[2021-03-10 11:28] abodea commented on #7341
Verified as fixed on the latest Nightly 3/10 with Google Pixel 4 XL (11).
Note that I followed the steps from this https://github.com/mozilla-mobile/fenix/issues/7341#issuecomment-607370645.
I didn't encounter any crashes and I tried with a different file sieze.

[2021-03-10 11:28] #7341 closed

[2021-03-10 11:45] abodea commented on #4072
Verified as fixed with Google Pixel 4 XL (Android 11).
Note that I tried with the following versions:
- **Latest RC build (86.1.1)**
- **Latest Beta build (87.0.0b4)**
- **Nightly** 3/10.**
I've had like 3-5 tabs opened before each reinstall and every time I saw the onboarding.

[2021-03-10 11:45] #4072 closed

[2021-03-10 11:51] Whisprin commented on #17791
This bug should be treated as security relevant since it's leaking information to third parties without the users consent.

User wants to share URL A, instead URL B is shared as @mrandreastoth described [above](https://github.com/mozilla-mobile/fenix/issues/17791#issuecomment-778608497).

I was able to reproduce the bug like this:
* Open URL A
* close Firefox (either use your phone so Android will

[2021-03-10 12:01] codrut-topliceanu commented on #18131
I'm afraid I haven't been able to find a fix for this.
The issue seems to stem from the way we restore tabs in `SessionControlController.handleCollectionOpenTabsTapped(..)` as using the `addTabUseCase` instead of `restoreUseCase` seems to circumvent the problem altogether.

Further notes:

- issue reproducible even when switching tabs via tab tray
- issue is not dependant on site load status. Even

[2021-03-10 12:11] mcarare commented on #18396
I see the same `IllegalArgumentException`("The given region must intersect with the Bitmap's dimensions.").
So this is the same as https://github.com/mozilla-mobile/fenix/issues/18394

[2021-03-10 12:17] ebalazs-sv commented on #17650
This issue is not reproducible on Nightly 3/10, Beta 87.0.0-beta.4 from 3/8 and Release 86.1.1 from 2/23 with the following devices:
- Motorola Moto G6 (Android 8);
- LG G7 Fit (Android 8.1);
- Pixel 2 (Android 9);
- Samsung Note 10 (Android 11).

[2021-03-10 12:30] ix5 commented on #18373
I'd like you to add the following case as well:

1. Install Fenix on a device with Android 11.
2. Do not log into Firefox account. Add some bookmarks.
3. With a new device with Android 11, follow the steps on Switch from an Android phone section.
4. After switching you will see the Fenix app is installed in the new device and you should be able to use the browser without issues, navigate and use o

[2021-03-10 12:47] mcarare commented on #17800
So it will be just to load the desktop version without having to load the mobile one? (The same number of steps as requesting desktop version from a tab).

I thought it was related to a feature request: https://github.com/mozilla-mobile/fenix/issues/7039.

[2021-03-10 12:57] vthg2themax commented on #7341
Can you try with a different device running Android 10? I have a One Plus 7 Pro running Android 10, on the latest 3/10 Nightly, and I still cannot get it to work with a file size above 3.9MB.

[2021-03-10 13:13] LaurentiuApahideanSV commented on #18382
I can confirm the issue is reproducible on Firefox Preview Nightly 210309.

### Devices used:
- Samsung Galaxy S9 (Android 8.0)
- OnePlus 6T (Android 9)

[2021-03-10 13:57] ebalazs-sv commented on #18321
I had tested this issue on the latest Nightly 3/10 with Motorola Moto G6 (Android 8) and could not reproduce it with the steps from https://github.com/mozilla-mobile/fenix/issues/17005.

This issue is reproducible after closing and reopening the app, with or without add-ons installed, the tabs are reloading.

[2021-03-10 14:02] majkinetor commented on #4273
Not fixed at this date and latest ff on mobile. Button is there but cant be clicked.

[2021-03-10 14:30] sflorean commented on #17183
Bug 1684967 is verified as fixed, and tested again on Samsung Note 10 (Android 11) following the description from this bug, and it works as expected. Closing as fixed.

[2021-03-10 14:37] sflorean commented on #18218
@test491 I wasn't able to reproduce this on Samsung Note 10 (Android 11) - on 86.1.1 or on the latest Nightly build with ETP custom settings enabled/&private browsing, as in description. Do you have some additional steps?

[2021-03-10 15:01] ebalazs-sv commented on #17650
The Nightly tested has the AC version 74.0.20210309154120 and I could not reproduce the issue on this build, neither on the latest Beta or Release builds.

[2021-03-10 15:12] rocketsroger commented on #18394
Same issue as https://github.com/mozilla-mobile/fenix/issues/18400

[2021-03-10 15:12] rocketsroger commented on #18396
Same as https://github.com/mozilla-mobile/fenix/issues/18400

[2021-03-10 15:15] Amejia481 commented on #17650
Did you see the download dialog after denying permissions twice?

[2021-03-10 15:18] abodea commented on #18419
Thank you for this report @benoapof!
I tried to reproduce this issue on the latest Nightly 3/10 with Google Pixel 4 XL (11) but I couldn't.
Note that when I tried to fill the email on `facebook` `twitter` or any other website the first letter was in lowercase.
@benoapof can you please let me know from where you changed the auto-capitalize to none?
Note that I turned it off from the android device

[2021-03-10 15:21] ebalazs-sv commented on #17650
Yes, the downloads dialog is displayed after denying the permissions twice.

[2021-03-10 15:25] AndiAJ opened #18421 "Disabled ContextMenusTests"
Due to intermittent test failures encountered in the past, the following ContextMenu Automated tests are currently disabled:
► `verifyContextCopyLink`
► `verifyContextOpenImageNewTab`
► `verifyContextCopyImageLocation`
► `verifyContextSaveImage`
► `verifyContextMixedVariations`
► `verifyContextShareLink`
► `verifyContextOpenLinkNewTab`
► `verifyContextOpenLinkPrivateTab`

Based on my research,

Th

[2021-03-10 15:27] abodea commented on #18418
Thank you for this report!
I checked and this behavior is on RC, Beta, and the latest Nightly.

[2021-03-10 15:29] AndiAJ commented on #8832
See #18421

[2021-03-10 15:30] AndiAJ commented on #12367
Closing in favor for #18421

[2021-03-10 15:30] #12367 closed

[2021-03-10 15:30] AndiAJ commented on #12473
Closing in favor for #18421

[2021-03-10 15:30] #12473 closed

[2021-03-10 15:33] benoapof commented on #18419
Hello !
When I try on Facebook I have the same issue, the first letter was uppercase, on twitter it's the same when I try to create an account by email...
It happen only on type email inputs.
I try to add the autocapitalize="none" attribute in the html code.

[2021-03-10 15:39] s-ankur commented on #18417
In settings, try to turn on the "Open links in apps" setting

[2021-03-10 15:42] abodea commented on #18377
Bonjour et merci pour ce rapport!
Notez que j'ai essayé de reproduire ce problème sur le RC 86.1.1 (votre version) et le dernier Nightly de 3/10 avec Google Pixel 4 XL (Android 11) mais je n'ai rencontré aucun problème.
J'ai pu ajouter des sites Web à l'écran d'accueil sans problème et j'ai également pu y accéder.

Que se passe-t-il lorsque vous appuyez sur l'icône nouvellement ajoutée sur l'écran

[2021-03-10 16:02] Amejia481 commented on #18373
The test case number 2 will require two devices as we have to transfer the info for one existing devices to another.

[2021-03-10 16:14] rocketsroger commented on #18400
I will put in a workaround until GV have a chance to investigate the issue.

[2021-03-10 16:17] bege10 opened #18422 "Need option to prevent Firefox from starting at booting"
Please, add option to prevent Firefox from starting when phone has booted.

### What is the user problem or growth opportunity you want to see solved?
Firefox starts when the phone has booted. I don't want nor need this. It is not even possible to stop this on a rooted phone by deactivating the BOOT_COMPLETED receiver because Firefox reactivates that with every start. This behavior started with th

[2021-03-10 16:22] Amejia481 commented on #18373
Thanks @ix5, I updated the test cases

[2021-03-10 16:39] sflorean opened #18423 "[Bug] Progress bar indicator doesn't reach the end while the page is loaded"
## Steps to reproduce
1. Open Fenix and go to cnn.com (or planet.mozilla).
2. Check the progress bar.

### Expected behavior
The progress bar is correctly displayed while the page is loaded.

### Actual behavior
The progress bar stops at 75-80% and then disappears.

### Device information
* Android device: all
* Fenix version: RC , Beta,  Nightly 3/10.

![20200324_182328](https://user-images.githu

[2021-03-10 17:07] Mugurell commented on #7341
@vthg2themax This ticket was for resolving a crash of Firefox when trying to load too long URLs.
And now that is verified as fixed - the app won't crash anymore when trying to load such URLs because it will simply drop them if they have more than 2MB in size.

As such, the scenario you are describing is the expecting outcome.
Supporting larger length URLs has big implications, you can open a new t

[2021-03-10 17:42] vthg2themax commented on #7341
That is a very disappointing outcome. I will have to continue using a different browser in that case. Thank you for answering at least!

[2021-03-10 17:43] vthg2themax commented on #17878
According to the linked bug item, it appears this bug will not be fixed.That is a shame, and will cease my use of this browser until this problem is fixed, as it is with the Chromium browsers.

[2021-03-10 18:10] rocketsroger commented on #18394
Fix merged.  I'll update once the fix made it into nightly.

[2021-03-10 18:11] rocketsroger commented on #18396
Fix merged.  I'll update once the fix made it into nightly.

[2021-03-10 19:14] ArmsOfSorrow opened #18424 "[Bug] Colors are wrong with gfx.webrender.all on Android (PowerVR GPU)"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-10 19:47] dhodnik opened #18425 "crashreport"
0b0c227d-6956-4480-bf96-723b1cfff392
<native crash>
----
<native crash>

[2021-03-10 20:26] mcomella opened #18426 "Analyze start up duration telemetry (discrepancy in onCreate duration telemetry vs. local Moto G5)"
The [`perf_startup_home_activity_on_create` probe](https://glam.telemetry.mozilla.org/fenix/probe/perf_startup_home_activity_on_create/explore?app_id=beta&ref=2021030500&timeHorizon=WEEK) measures `HomeActivity.onCreate` and looks like this:
![image](https://user-images.githubusercontent.com/759372/110691166-a7324100-8199-11eb-8d19-b21a83aa8bb8.png)

The `perf_startup_application_on_create` probe

[2021-03-10 20:28] mcomella commented on #18426
I notice `Activity.onCreate`'s violin plot has a bit of bimodality: I wonder if this is related to one of these

[2021-03-10 20:31] uwolfer commented on #18346
CC @jonalmeida

[2021-03-10 20:50] vthg2themax commented on #17878
I guess the only way to continue with Firefox is to rewrite it in JavaScript. Trying to export the Uint8Array to JavaScript from Rust, and creating a new blob from it, crashes the tab in Firefox that it runs in.

[2021-03-10 20:52] usemoslinux commented on #7341
@Mugurell Please take a look at #17878 for a similar issue.
Firefox & Chromium based desktop browsers, as well as all Chromium based browsers for Android support large base64 src strings for audio, video and image elements. Only Firefox for Android seems to have a problem with this. You can follow the steps described in #17878 to reproduce.
In my case, it prevents me from using a tts service that

[2021-03-10 21:16] #18241 closed

[2021-03-10 21:44] kbrosnan commented on #18424
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1697635

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-10 21:44] #18424 closed

[2021-03-10 22:09] mcomella commented on #17920
Triage: I already spent time on this and landed a solution but it didn't work in some cases. Neither Marc nor myself has a device to reproduce so it'd be time consuming to try to fix. It doesn't seem super high priority as the only case I've heard of that hits this is agi sharing debug builds to get info from users and no one else has hit this during development. As such, because this seems medium

[2021-03-10 22:14] mcomella commented on #17005
@StSav012 When the screen is turned off, the application is considered backgrounded – to the app, it experiences the same code path as if the user hit the Home button to return to the homescreen and put Firefox in the background.

When the app is backgrounded, the android system reduces its priority. If the device is under heavy load, this could result in the app's process being killed to free up

[2021-03-10 22:52] mcomella commented on #18078
@Mikaka27 I'm going to refile this on Bugzilla (so that it's tracked with the team working on it) and close this issue. Let me know if that's an issue for you (e.g. you don't have a Bugzilla account and can't chat with folks)!

[2021-03-10 22:52] mcomella commented on #18078
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1697663

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-10 22:52] #18078 closed

[2021-03-10 23:33] kbrosnan commented on #18419
@makotokato do we have a bug for this already in Bugzilla?

[2021-03-10 23:40] ale82to opened #18428 "[Bug]cannot download from Dropbox with nighlty"
with latest nightly I m no longer able to download from Dropbox example link :
https://www.dropbox.com/s/7j58vurja7vm4hj/Tasker.29.apk?dl=0

[2021-03-10 23:51] Amejia481 commented on #18428
I wasn't able to reproduce on pixel 3 with Android, would you mind sharing some more details about your device and Firefox version you can find this information following [these steps](https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information#retrieving-crash-reports-from-the-application).

[2021-03-11 00:47] makotokato commented on #18419
We don't ship `autocapitalize` attribute on release channel yet (https://bugzilla.mozilla.org/show_bug.cgi?id=1692007). It is Nightly only now.

[2021-03-11 03:05] Mikaka27 commented on #18078
No, it's fine I have a bugzilla account :)

[2021-03-11 05:04] kbrosnan commented on #18382
* because.moe -> 16x16px favicon
* amazon.ca -> unknown (multi format icon including 16x16)
* konachan.com -> unknown (multi format icon including 16x16)
* yande.re -> 16x16px favicon
* zerochan.net -> unknown (multi format icon including 16x16)
* Danbooru.donmai.us -> 16x16px favicon
* bakarenders.com -> 16x16px favicon
* minitokyo.net -> unknown (multi format icon including 16x16)

I used unknow

[2021-03-11 05:27] rxumoz commented on #18168
According to our research, if changing the UA string to Chrome, the jump will succeed. So maybe it is more appropriate for us to report this to JD and let them deal with it.

[2021-03-11 05:27] #18168 closed

[2021-03-11 06:12] StSav012 commented on #17005
Here are the outputs of `adb shell dumpsys activity services` and `adb shell dumpsys activity`.
- [services.txt](https://github.com/mozilla-mobile/fenix/files/6120740/services.txt)
- [activity.txt](https://github.com/mozilla-mobile/fenix/files/6120746/activity.txt)

As for `uBlock Origin`, the debug version of Firefox I tried did *not* have one, although behaved the same as the Nightly build I usu

[2021-03-11 06:43] msdobrescu opened #18432 "Add back printing on Android"
Add back printing feature on Android.

[2021-03-11 06:56] Mugurell commented on #17895
This should be fixed in the current Nightly.

[2021-03-11 07:11] Mugurell commented on #17878
The app won't load URLs bigger than 2 MB in size (by default).
Moving to Geckoview for assessing whether the default url size limit should be increased.

[2021-03-11 07:12] Mugurell commented on #17878
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1697727

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-11 07:12] #17878 closed

[2021-03-11 07:24] Mugurell commented on #7341
@vthg2themax Please follow https://bugzilla.mozilla.org/show_bug.cgi?id=1697727 for more updates.

[2021-03-11 07:46] AndiAJ opened #18433 "[Bug] Crash libGLESv2_adreno.so@0x141bcc"
## Steps to reproduce
1. Launch Firefox Nightly 3/10

### Expected behavior
Firefox Nightly is properly launched

### Actual behavior
Crash 💥

### Device information

* Device vendor / model and Android version:  **Sony Xperia Z5 Premium (Android 7.1.1)**
* Firefox for Android version: **`Nightly 3/10`**

### Notes
📈[**Crash stat link**](https://crash-stats.mozilla.org/report/index/a8aa2873-e0af-4

[2021-03-11 08:00] GokdenizK commented on #18417
This helped, thanks. But I wish ff asked me to whether I want to open it in app by default. Otherwise, the situtation may be perplexing.

[2021-03-11 08:00] #18417 closed

[2021-03-11 08:00] Mugurell commented on #18423
This is expected.
The progress bar will be automatically get hidden when the page was 100% loaded so it will never really reach the end.
The progress bar will update with various increments but I see no isue currently.
When loading a big website I see the following progress values corresponding to the percent length of the progress bar:
- 15
- 25
- 25
- 25
- 25
- 55
- 55
- 55
- 80
- 80
- 80
- 100

[2021-03-11 08:00] #18423 closed

[2021-03-11 08:10] codrut-topliceanu commented on #18396
@rocketsroger
The cause is an empty, but not null, bitmap in the `NotificationData.largeIcon` from `MediaNotification.buildNotification()`.
I have a patch almost ready for this. It's just a small fix where I check the `data.largeIcon` content in AC's `MediaNotification.kt` that fixes the issue. May I still put up a PR for that?

PS: I also need to make a follow up issue for the missing bitmap prob

[2021-03-11 08:14] Mugurell commented on #18422
May I ask how do you verify Firefox is starting at boot?
As you can see here https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/AndroidManifest.xml we are not interested in any away about when the boot is completed.

[2021-03-11 08:37] abodea commented on #18432
Thank you for this report!
Duplicate of https://github.com/mozilla-mobile/fenix/issues/10217.

[2021-03-11 08:37] #18432 closed

[2021-03-11 08:39] Mugurell commented on #18433
The stacktraces don't really show a cause and I understand this was an isolated case (of a startup permacrash) that is not reproducing anymore after clearing app data from settings.

[2021-03-11 08:47] Otiel commented on #17093
This addon is not yet available in stable, though it has been reported that it works on nightly. Can we re-open this issue?

[2021-03-11 09:04] Mugurell opened #18434 "[Bug] Ghost first suggestions in address bar"
## Steps to reproduce
- enter text in the address bar

### Expected behavior
- the first search suggestion should be exactly the entered text

### Actual behavior
- after typing a new letter the previous second suggestion is briefly shown as the first

### Device information

* Device vendor / model and Android version: any
* Firefox for Android version: Current Beta/Nightly/Debug. Does not reprod

[2021-03-11 10:21] adolfofp commented on #18254
You cant open downloaded pdfs as well

[2021-03-11 12:16] emilio commented on #8252
Latest android nightly should have the fix I wrote, so a bunch of the pages here should be fixed. Vimeo have acknowledged the bug, and YouTube folks haven't replied yet... :(

[2021-03-11 12:20] kevincox commented on #17767
My phone (also a Pixel 4a) does not have that setting.

[2021-03-11 13:20] abodea commented on #18425
Thank you for this report!
@dhodnik can you please add the correct crash id?

[2021-03-11 13:49] bege10 commented on #18422
- Firefox is in task managers on my rooted phone right after booting
- BOOT_COMPLETED receiver is activated in app permission manager (3C Toolbox and other tools).
  - If I deactivate it and reboot the phone Fx is not in the task manager.
  - If I start Fx and close it the receiver is activated again, at next reboot Fx is back in the task manager.
![Screenshot_20210311-144221_3C_All-in-One_Toolbox

[2021-03-11 14:11] mcarare commented on #17804
Can QA please check if there are any issues when using fullscreen, especially on devices with Android 11? Ping me if you need more details. Thank you!

[2021-03-11 14:24] sflorean opened #18435 "[Bug]Firefox Account is not saved when using an Android phone back up"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-11 14:35] sflorean opened #18436 "[Bug]Browsing data is not synced after using an Android phone back up (without a Firefox account)"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-11 14:39] Mugurell commented on #14514
@mkaply Can this be closed? Does it also needs manual QA?

[2021-03-11 15:01] codrut-topliceanu commented on #18396
Closed associated AC issue and PR as this issue should be fixed by https://github.com/mozilla-mobile/android-components/issues/9859

[2021-03-11 15:52] kbrosnan opened #18438 "Crash in [@ java.lang.NullPointerException: at org.mozilla.fenix.settings.deletebrowsingdata.DeleteBrowsingDataFragment.access$deleteSelected(DeleteBrowsingDataFragment.kt:1)]"
Crash report: https://crash-stats.mozilla.org/report/index/c48eb53a-04b1-4967-b97a-975e40210309

Java stack trace:
[code]

[2021-03-11 16:00] mcarare commented on #17799
Opened https://github.com/mozilla-mobile/android-components/issues/9873 for the AC changes.

[2021-03-11 16:02] Amejia481 commented on #18373
Thanks for testing @sflorean, it could be that Samsung has a different backup implementation from the default one and It could be causing the behavior change. If it's possible could you try to test on two pixel phones?

[2021-03-11 16:03] kbrosnan commented on #18438
* https://crash-stats.mozilla.org/signature/?product=Fenix&signature=java.lang.NullPointerException%3A%20at%20org.mozilla.fenix.settings.deletebrowsingdata.DeleteBrowsingDataFragment.access%24deleteSelected%28DeleteBrowsingDataFragment.kt%3A1%29

* [FIREFOX-ES8](https://sentry.prod.mozaws.net/operations/firefox/issues/10044129/)
* [FIREFOX-EGT](https://sentry.prod.mozaws.net/operations/firefox/iss

[2021-03-11 16:10] LaurentiuApahideanSV commented on #18224
Since the issue has been resolved I will close it.

[2021-03-11 16:10] #18224 closed

[2021-03-11 16:11] sflorean commented on #18373
I've got the same behavior for both devices, and the bugs are reproducible on Pixel as well. We will try to check on 2 Pixel devices, but only "device backup" option is available right now.

[2021-03-11 16:27] kbrosnan opened #18439 "Crash in [@ java.lang.NullPointerException: at org.mozilla.fenix.search.SearchDialogFragment$createQrFeature$2$$special$$inlined$let$lambda$1.onClick(SearchDialogFragment.kt:7)]"
Crash report: https://crash-stats.mozilla.org/report/index/c7b5a871-a3cd-4241-866e-a2bc20210311

Java stack trace:
[code]

About 200 crashes a day on release.

[2021-03-11 17:06] B0pol commented on #10916
Still an issue

[2021-03-11 17:10] B0pol commented on #10916
Workaround : refresh the page

Related: it seems to happen sometimes even if it's not a redirect (e.g. top site, new tab…). I don't know if it's the same bug or just related

[2021-03-11 17:33] kbrosnan commented on #14514
Lets just double check this and then resolve if we are doing the expected behavior.

[2021-03-11 17:52] jtagcat commented on #18373
Please do not forget collections. Right now when anything happens with FF (firefox stops responding until app data is deleted, device lost/destroyed by everyday things), collections are lost. You can't retrieve them from 'open tabs' of last sync either.

For that reason, I do not use collections at all.

[2021-03-11 17:52] agi opened #18441 "[Bug] can't click "Accept the risk and continue" on secure connection failed page"
from https://bugzilla.mozilla.org/show_bug.cgi?id=1696841

[2021-03-11 18:26] jonalmeida opened #18443 "Re-add multi-select support on browser tray lists"
We should rely heavily on the [`recyclerview-selection`](https://developer.android.com/reference/androidx/recyclerview/selection/package-summary) library as much as possible.

A short investigation was done in https://github.com/mozilla-mobile/fenix/issues/14969#issuecomment-705908516 :

[sunflower]: https://github.com/android/sunflower/
[sunflower_adapter]: https://github.com/android/sunflower/bl

[2021-03-11 19:07] csadilek commented on #16769
Just ran into the cause for this. Assigning myself to put up a fix.

[2021-03-11 19:52] Mikaka27 opened #18444 "[Bug] Tab playing video in landscape orientation, forces whole browser to be locked in landscape"
I did this with screen orientation lock set to portrait only in android.

## Steps to reproduce
1. Open some website and play video
2. Hit fullscreen button on video
3. Browser rotates to landscape
4. Switch to another application that has some link
5. Click on link, and choose to open in firefox

### Expected behavior
Link opens in new tab, in portait orientation (as it is a system orientation)

[2021-03-11 19:57] Mikaka27 opened #18445 "[Bug] Clicking "use precise location" in google search results doesn't work"
First install "google search fixer" addon.

## Steps to reproduce
1. Open google.com and search for "weather" (in video you see "pogoda", it means weather in my language)
2. Click "Use precise location"
3. Allow location access

### Expected behavior
Google website should refresh the tab widget with updated location.

### Actual behavior
Most of the time nothing happens, google says it's "updating

[2021-03-11 20:06] Amejia481 commented on #18373
I will close the issue as the backup behavior is been done by Android we just want to see the implications of the behavior change on Android 11  as the [docs](https://developer.android.com/about/versions/11/behavior-changes-11#change-details_4) indicates

[2021-03-11 20:07] Amejia481 commented on #18435
Closed by https://github.com/mozilla-mobile/fenix/issues/18373#issuecomment-797014226

[2021-03-11 20:07] #18435 closed

[2021-03-11 20:07] Amejia481 commented on #18436
https://github.com/mozilla-mobile/fenix/issues/18373#issuecomment-797014226

[2021-03-11 20:07] #18436 closed

[2021-03-11 20:08] Amejia481 commented on #18373
Did you transfer from one device to another and that happen to your Firefox nightly?

[2021-03-11 21:00] MartyLake commented on #7546
A workaround is to access those local html files via a local webserver. https://play.google.com/store/apps/details?id=jp.ubi.common.http.server (from https://android.stackexchange.com/questions/220400/local-files-revisited-opening-local-html-files-file-path-to-file-in-chrome )
Life would be a bit easier without having to do so.

[2021-03-11 21:15] ItsDevyani commented on #18376
Nicole Weber is doing the design for this. We'll see 1st drafts on 3/15.

[2021-03-12 00:01] mcomella commented on #10161
The data is now accessible in GLAM so this analysis should be easier.

---

I did a small analysis on the `clock_ticks_per_second` metric for nightly over a week and the number of distinct clients where `clock_ticks_per_second = 100` is 1650x `!= 100`. Queries (not reviewed):
- [clock_ticks_per_second = 100](https://sql.telemetry.mozilla.org/queries/78618/source)
- [clock_ticks_per_second != 100](

[2021-03-12 00:10] mcomella commented on #18426
Some possible follow-up items to get more data:
- (done) What questions are we trying to answer with this telemetry?
  - How is start up performance overall? Are we fast enough? Is there any bad signal?
    - **This is concerning: FenixApplication.onCreate takes an unexpectedly long time for some clients**
  - Are there any performance cliffs?
- check range for individual clients on these probes:

[2021-03-12 04:26] crisalis2 commented on #11376
Yes, please, don't forget the second part of the issue. Current behavior makes no sense. This is something that greatly affects user experience. Fenix is great but this unfixed detail is very annoying.

[2021-03-12 04:41] rolfausohnder commented on #7546
Thank you ! In the link they say that the concept of "scoped storage" was the reason for chrome to implement these restrictions - but why is this a reason ? I mean, we don't want to access each and every file all over the place, but just files from a certain location ! What's the problem with that in scoped storage ?

[2021-03-12 04:58] violasong commented on #17800
I think request #7039 will be important to solve later, but for the purposes of this bug, yes, it's just to load the desktop site without having to load the mobile site. It should work the same way as it currently does, where it doesn't reset back to off for that tab unless the user chooses to toggle it off. Yes, it should work for top sites.

CC: @kbrosnan may be able to help with a more detailed

[2021-03-12 06:08] bash321 commented on #10581
Is there any update on Firefox containers, being rolled out to the mobile apps?

[2021-03-12 06:52] IndianaRoy opened #18448 "Page loading crashes Firefox 66"
Firefox for Android 10 crashes when trying to load [Why Kakoune — The quest for a better code editor](https://kakoune.org/why-kakoune/why-kakoune.html) on version:
86.1.1 (Build #2015794883)
AC: 72.0.16, f4aa67a9c
GV: 86.0-20210222142601
AS: 67.2.0

[2021-03-12 07:27] Mugurell commented on #18422
Thank you!
Seems like the `BOOT_COMPLETED` receiver [is added by WorkManager](https://cs.android.com/androidx/platform/frameworks/support/+/androidx-main:work/workmanager/src/main/AndroidManifest.xml;l=103-114), a library Fenix uses for background work and based on [it's description](https://cs.android.com/androidx/platform/frameworks/support/+/androidx-main:work/workmanager/src/main/java/androidx

[2021-03-12 07:57] joeomalley1 opened #18449 "[Bug]"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-12 08:08] joeomalley1 opened #18450 "[Bug]"
YouTube greyed out
Listverse video not loading
Android 10
LG G7
Firefox 86.1.1
Mobile

[2021-03-12 08:38] jtagcat commented on #18373
No. I'm more focused on backups rather than migrations. As the collections are not included in backups/sync, and they were not mentioned here, I mentioned them here.

As far as I've used the feature, d2d migrations break things, ending up costing more time than they save.

[2021-03-12 08:56] JVariance opened #18451 "Drag and Swap Libraries are impossible to use"
## Info

It does for example work correctly or as expected with Monument Browser. Didn't test it with a chromium based browser, though I expect it to work there, too.

## Steps to reproduce

1. Open [interact.js](https://interactjs.io/pro/) or [Draggable JS](https://shopify.github.io/draggable/).
2. Try to drag and swap example elements.

### Expected behavior

The page doesn't scroll when draggin

[2021-03-12 08:57] Oymate commented on #7546
Reminder: You can long press a link and download that HTML file in fenix

[2021-03-12 09:37] lobontiumira commented on #17759
I'll reopen the issue since I just got the same crash on Beta 87.0.0-beta.5 with the same device Samsung Galaxy Tab A6 (Android 5.1.1).
The steps were:
1. Sign in with a valid account.
2. Have multiple tabs opened, I had 27.
3. On a loaded page, insert about:crashcontent, then tap on "Restore page" button.
4. Go to tinyurl.com/y83pwn5x.
5. Open the Crash details and tap the Reports tab. Tap on "Sh

[2021-03-12 10:53] pocmo commented on #18422
I have to agree with @Mugurell. We are using `WorkManager`, as many other Android apps, and this is not behavior we have direct influence on - and in some regards is even desirable by us.

Please not that Firefox is not running continuously doing things in the background. In this situation a background task may try to complete if it hasn't been able previously. Those are very short lived (usually

[2021-03-12 10:53] #18422 closed

[2021-03-12 10:56] #12993 closed

[2021-03-12 11:31] AndiAJ commented on #18173
Hi, **verified as fixed** on the latest **Nightly 210312** using a Google Pixel 3a (Android 11)
Ping **ffbaa16d-5fbd-4aa7-83a5-1b2bb8bc6ebd**
[code]

[Logcat](https://github.com/mozilla-mobile/fenix/files/6129681/bokm.txt)

[2021-03-12 11:31] #18173 closed

[2021-03-12 11:36] Mugurell commented on #18451
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1698052

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-12 11:45] Mugurell commented on #18450
Can you please offer more details to help us reproduce?
- Does this issue occur only with a specific YouTube video?
If so, can you please provide the link to it?
- Does the same issue occur in other browsers?
- Do you have any extensions installed?

[2021-03-12 11:45] #18449 closed

[2021-03-12 11:47] AndiAJ commented on #18163
Hi, **verified as fixed** on the latest **Nightly 210312** using a OnePlus A3 (Android 6.0.1)

Ping **830b621d-6397-417f-95da-5d29956ce84d**
[code]
[Logcat](https://github.com/mozilla-mobile/fenix/files/6129781/snct.txt)

[2021-03-12 11:47] #18163 closed

[2021-03-12 11:56] Mugurell commented on #18448
For me the app does not crash but the page never fully loads.
And I also see

Media resource https://kakoune.org/why-kakoune/video/global-replace.webm could not be decoded. why-kakoune.html
Media resource https://kakoune.org/why-kakoune/video/align.webm could not be decoded. why-kakoune.html
Media resource https://kakoune.org/why-kakoune/video/regroup.webm could not be decoded. why-kakoune.html
Me

[2021-03-12 11:57] Mugurell commented on #18448
@IndianaRoy If the app is crashing for you can you please help us with a logcat / crash-stats link as described here - https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information ?

[2021-03-12 12:08] AndiAJ opened #18452 "[Bug] urls_bookmarks deeplink takes the user to the Desktop bookmarks list"
## Prerequisites
Identify your User ID

## Steps to reproduce
1. Run `adb shell am start -a android.intent.action.VIEW -d fenix-nightly://urls_bookmarks\?uid=Add your User ID ` on a Nightly Build.

### Expected behavior
The user should be re-directed to the Mobile Bookmarks section

### Actual behavior
The user should be re-directed to the Desktop Bookmarks section

### Device information

* Devic

[2021-03-12 12:18] AndiAJ opened #18453 "[Bug] make_default_browser deeplink doesn't work on Android 6 & 5 devices"
## Prerequisites
Identify your User ID

## Steps to reproduce
1. Run `adb shell am start -a android.intent.action.VIEW -d fenix-nightly://make_default_browser\?uid=Your User ID` on a Nightly Build.

### Expected behavior
Open "Make Firefox the default browser on Android" Sumo page ❓ as implemeted in [#5898](https://github.com/mozilla-mobile/fenix/issues/5898)

### Actual behavior
Besides launching

[2021-03-12 12:18] Mugurell commented on #18445
I saw on the same device now situations in which
- the page was immediately refreshed
- the page showed an "Updating location" message instead of the "Use precise location" text.
I also see that if remembering the "allow" permisson the page always reloads as expected.

Unsure if the issue is of the app or with the webpage.

[2021-03-12 12:24] AndiAJ opened #18454 "[Bug] install_search_widget deeplink doesn't work on Android 6 & 5 devices"
## Prerequisites
Identify your User ID

## Steps to reproduce
1. Run `adb shell am start -a android.intent.action.VIEW -d fenix-nightly://install_search_widget\?uid=Your User ID` on a Nightly Build.

### Expected behavior
The system prompt Add Search Widget to Home screen should be displayed

### Actual behavior
Besides launching Fenix nothing else happens

### Device information

* Device vendor

[2021-03-12 12:28] Mugurell opened #18455 "[Bug] Permission dialog is shown over the tabs tray"
.. if moving fast enough or the website responds slow enough.

Seen while looking at https://github.com/mozilla-mobile/fenix/issues/18445.

## Steps to reproduce
- Click on a page element that would trigger a permission popup
- at roughly the same time tap the tabs counter button to open the tabs tray (I did it just because the "allow" button of the permission dialog is roughly at the same positio

[2021-03-12 12:35] Mugurell commented on #18455
The same happens with the download dialog.
It's also possible that this dialog would be shown underneath the tabs tray. But when closing the tabs tray users will see it an be able to interact with it.
<img src="https://user-images.githubusercontent.com/11428869/110940567-c8349680-833f-11eb-8358-c76fc8664414.png" width="33%"/>

[2021-03-12 12:56] Mugurell commented on #18453
We should add an else clause [here](https://github.com/mozilla-mobile/fenix/blob/07748f69b75144e8e247b742f66a756f999cb299/app/src/main/java/org/mozilla/fenix/home/intent/DeepLinkIntentProcessor.kt#L89)
to open the app with [this link](https://github.com/mozilla-mobile/fenix/blob/66ccea4075f72e39f58f912b106fb0d5806fe6f9/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt#L462-L465)

[2021-03-12 13:02] Mugurell commented on #18454
This is expected.
The functionality needed for this is [only available on Android Oreo and up](https://developer.android.com/reference/android/appwidget/AppWidgetManager#requestPinAppWidget(android.content.ComponentName,%20android.os.Bundle,%20android.app.PendingIntent)) for which [we have a check in code](https://github.com/mozilla-mobile/fenix/blob/66ccea4075f72e39f58f912b106fb0d5806fe6f9/app/sr

[2021-03-12 13:02] #18454 closed

[2021-03-12 13:19] iamiceparticle commented on #17502
@Amejia481 @abodea I am not sure what is the issue with Firefox nightly but this issue does not exist in latest Firefox beta.
Not sure if you want to look into the issue with Firefox nightly.
This exists on stable Firefox also.

[2021-03-12 13:22] Mugurell commented on #18452
I see this implemented here https://github.com/mozilla-mobile/fenix/pull/11927 without a clear distinction about what bookmarks should be shown.
Probably showing the first bookmarks screen shown when users would otherwise tap "Boomarks" in the menu and not a nested one - the list of desktop & synced bookmarks is to be expected but let's confirm with UX.

[2021-03-12 13:28] Mugurell commented on #18452
If decided to show the mobile bookmarks - as for when users tap on "Bookmarks" in the menu
since [the `Bookmarks` directions](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/GlobalDirections.kt#L18-L21) is only used by deeplinks we can just rename it to `MobileBookmarks` and change the direction to be `BookmarkRoot.Mobile.id`.

[2021-03-12 14:46] Mugurell commented on #18373
Tested migrating the data from a Pixel 3 to a OnePlus7 and got the same results as Sorina.
Basically no app data was migrated. For any of the "migrated" apps.

[2021-03-12 15:53] lwa-moz opened #18460 "Create in-tree tests for search partner deployment"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-12 15:59] GuzTech commented on #4273
I can confirm what @majkinetor said. Firefox 86.1.1 (Build #2015794883) on Android 10.

[2021-03-12 16:08] rocketsroger commented on #18238
For the crash  https://crash-stats.mozilla.org/report/index/a1035378-f563-4bce-bafa-8a7ff0210301  It was fixed last year July 20th 2021 (Assume merged in build on the 21st).  https://github.com/mozilla-mobile/android-components/commit/9f7ae0fe7a9b2515689ae0b6b753a7e14eaea0db.  Going through the crash reports, the build IDs are all before 2020 July 20th.  This issue has been resolved.

[2021-03-12 16:24] Imerion commented on #18132
That is worrying. Can anyone confirm? I really don't think these should be removed. (But I understand if it needs to be done temporarily)

[2021-03-12 16:31] st3fan commented on #17759
@mcomella why is `at org.mozilla.fenix.perf.PerformanceInflater.inflate(PerformanceInflater.kt:2)` in that stack trace?

[2021-03-12 16:46] eliserichards commented on #18316
Closed by https://github.com/mozilla-mobile/fenix/pull/18342

[2021-03-12 16:46] #18316 closed

[2021-03-12 16:51] eliserichards opened #18461 "Add Open in app to the three-dot menu"
This was left out of the original designs. Adding it back to the menu

Meta: #17796
Followup to #17872
UX point of contact: @violasong (Victoria)

Figma designs (bottom right, labeled "new tab menu"): https://www.figma.com/file/NHu4cTmzfYgi3QJz5DIDWD/Fenix-Toolbar-Menus?node-id=0%3A1

[2021-03-12 17:23] mcomella commented on #10161
For `clock_ticks_per_second`, we may also wish to double-check that clients only ever send one value: i.e. that the value never changes because that's an assumption I hold.

[2021-03-12 17:42] joeomalley1 commented on #18450
It is all videos
No Firefox mobile only
I have u block and others which I have uninstalled then reinstalled plus I
did the same with Firefox mobile to the same extent

On Sat, 13 Mar 2021, 00:45 Mugurell, ***@***.***> wrote:

[2021-03-12 18:28] kbrosnan commented on #18433
This is a Core bug tracked by bz-1697834

[2021-03-12 18:57] ghajini commented on #8252
At this website
`https://aparat.cam/embed-x4v7e0z734dj.html`
Both chrome/Firefox android overzoom the video in PORTRAIT  mode
(Try at 16 sec of video from start, subtitles /headings are cut )

Is it site issue?

[2021-03-12 18:58] rocketsroger commented on #18238
Second issue https://bugzilla.mozilla.org/show_bug.cgi?id=1694983 is due to GV trying to start an activity with an intent that causes SecurityException.  Adding a try catch in A-C to make sure that it doesn't crash Fenix.

[2021-03-12 19:16] csadilek commented on #16769
OK, this works now in latest Nightly (210312 17:02). So we should be showing the author/byline for the same pages as desktop.

[2021-03-12 19:30] rocketsroger commented on #18400
Confirmed from my testing this is fixed in Nightly.  Please verify

[2021-03-12 19:30] rocketsroger commented on #18396
Confirmed from my testing this is fixed in Nightly.  Please verify

[2021-03-12 19:32] rocketsroger commented on #18394
Confirmed from my testing this is fixed in Nightly. Please verify

[2021-03-12 19:40] was8309 opened #18463 "Share creates a link to the wrong tab [Bug]"
## Steps to reproduce
open 3rd tab, go to menu, share, choose share-to app, share-to app comes up with link created to the wrong tab

### Expected behavior
share-to app comes up with link created to the correct -  3rd - tab

### Actual behavior
share-to app comes up with link created to the 2nd tab

### Device information
* Device vendor / model and Android version: ?
Moto Z Play Droid, Android 8.

[2021-03-12 20:09] clientenq opened #18464 "[Bug] repeated push notifications"
In Fenix nightly the push notification request are repeated after page reloads. Even if request have already been denied.
There is also no other option to deny such push request.
Current client favours website pushing users instead of providing users with sufficient controls to deny pushing.

## Steps to reproduce
Visit page with push notification.
Deny request
Visit other page or site
Revisit or

[2021-03-12 21:11] amedyne commented on #18441
From the bugzilla ticket:
Connect to a site that gives you the secure connection failed error page (I don't have an example that is likely to work for everyone but someone must know an example page that does this). Click Advanced and then try to click "accept risk and continue", it does not work. Putting the page in desktop mode does not fix it but changes the layout.

[2021-03-13 01:17] mcomella commented on #17759
@st3fan We wrap the system's `LayoutInflater` in order to monitor it. Specifically, inflation is a slow operation so we're counting the number of inflations we do on start up and, when the count increases, we fail a test so devs will hopefully rethink adding an additional inflation.

By necessity, it's a hacky implementation ([source](https://searchfox.org/mozilla-mobile/rev/1512a8bcc81fce803854e1

[2021-03-13 01:20] mcomella commented on #18381
This was previously investigated by the perf team in https://github.com/mozilla-mobile/fenix/issues/15770

[2021-03-13 03:24] opusforlife2 commented on #11055
Further activity has occurred.

[2021-03-13 07:35] 0x391F opened #18468 "[Bug]Fenix 86.1.1 Crash Report [@ EMPTY: no crashing thread identified; ERROR_NO_MINIDUMP_HEADER ]"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-13 09:42] joeomalley1 opened #18469 "[Bug] YouTube not loading"
YouTube shows up as grey screen on Listverse
Video should load automatically
Only on Firefox mobile
Have uninstalled all add-ons
Uninstalled Firefox Mobile re-installed
Latest version

[2021-03-13 10:31] Mugurell commented on #18469
Duplicate of https://github.com/mozilla-mobile/fenix/issues/18450.
Please follow the progress there.

[2021-03-13 10:31] #18469 closed

[2021-03-13 10:37] Mugurell commented on #18450
Can you please post a video recording of what is actually displayed?
I understand other webpages are loading fine but there is an issue only with specific youtube videos.
It may be a device specific issue, I'm curious if you can test the same on another device.
I cannot reproduce but this details will help us better understand the issue.

[2021-03-13 12:10] monirulalom opened #18470 "Feature Request: Double tap to go forward and backward of a video"
It would be nice if I can go 10 sec forward or backward using double tap while watching a video.

[2021-03-13 13:53] matthewarmand opened #18471 "Darkreader failing to invert some sites on Nightly"
I'm currently running the Nightly build and in the last couple days I've noticed that something seems to have broken the Darkreader extension. I installed Firefox Beta for comparison and the functionality works fine there. The Darkreader versions appear to be the same, so it seems like a Firefox issue.

Here's a couple screenshots with a side-by-side of Nightly and Beta to illustrate what I'm seei

[2021-03-13 14:42] kvahid commented on #18254
@adolfofp Thanks for concentrating on my issues personally. I can see pdf files. However I wanted to print a document to pdf and I didn't succeed to complete the task by the Firefox android browser.

[2021-03-13 15:58] #8285 closed

[2021-03-13 17:20] MicroBeast commented on #18471
https://github.com/darkreader/darkreader/issues/5182

Seem FF upstream issue?

Try the momentarily about:config workaround mentioned in that issue (until real fix arrive).

m.youtube.com comments section also effected btw. I see that config does work. I turn it off again though, workaround is a workaround, I don't depend on it.

[2021-03-13 22:45] KyleGospo commented on #14921
This affects cell phones too. Try using Fenix on a foldable like the Z Fold 2. It's laughable how much worse the UI in Fenix is compared to every other browser.

There's only going to be more foldables in the wild as time goes on.

[2021-03-13 22:46] Smaehtin commented on #13775
Any updates on this? Is this still something that is being looked into?

[2021-03-14 03:33] KarlM256 opened #18473 "Open Link in current tab"
Hi,

I understand that you want to emphasize tabs more in the new version of Firefox Android. But I request that you give a settings option to default to opening a bookmark in the current tab. I still prefer to use bookmarks to keep what I want to see from time to time. I find the tabs inconvenient and inconsistent. You could obviously default the setting to work the current way.

Thanks,

Karl

[2021-03-14 09:37] 0x391F opened #18474 "[Bug] EMPTY: no crashing thread identified; ERROR_NO_MINIDUMP_HEADER"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-14 09:39] B0pol commented on #16769
I can confirm it's fixed

[2021-03-14 09:39] #16769 closed

[2021-03-14 10:14] emilio commented on #8252
Yes, the site is using `object-fit: contain;` but also `transform: matrix(1.15, 0, 0, 1.15, 0, 0);`, so they're scaling the video up in a way that it overflows the viewport if your screen is too wide. Removing that `transform` fixes it. As to why they're doing that, I haven't dug, but yeah it seems to be a site issue.

[2021-03-14 13:17] #12304 closed

[2021-03-14 13:17] #14841 closed

[2021-03-14 13:21] yump commented on #14147
I attempted to reproduce on latest Nightly and F-droid Fennec Stable, and although UI churn has made it somewhat harder to hit, this bug is still present.

If two bookmarks are deleted as separate actions (i.e. *not* by multi-select), the undo button does not work.

[2021-03-14 13:36] Rashidwi opened #18475 "[Bug] firefox on android tablet defaults to mobile useragent. It should default to desktop"
Firefox for android has the option to display as a desktop site but the default is  mobile. This behavior is incorrect when the device is a tablet and requires setting to desktop for each and every web access.

## Steps to reproduce
EVERY TIME!
### Expected behavior
The browser should detect the screen size (or the device capability) and use the appropriate user agent setting, or the "desktop site

[2021-03-14 18:58] buttercookie42 opened #18477 "No easy way of conducting add-on beta testing"
Sometimes you might run into issues that you cannot reliably reproduce yourself and where you need help from your add-on's users for debugging and then verifying possible fixes.
When [AMO discontinued](https://raw.githubusercontent.com/zakius/Polly/master/updates.json) the built-in Beta update channel for add-ons, the recommended workaround was to create any necessary Beta versions of your add-on

[2021-03-14 20:58] #14859 closed

[2021-03-14 21:08] Gromchy commented on #12731
I have the exact same issue.
It's annoying when you fill out a form there the tab just refreshed itself and you lose everything.

[2021-03-14 21:12] J-Siu commented on #18407
@jrmuizel Pure speculation: Check if your nightly is using DoH or not. Maybe your wifi network is blocking DoH.

[2021-03-14 22:23] CrowdsourceKurdish commented on #12528
Hello,
The cause of the problem in Kurdish (kurmanji); It is that Iso and Unicode use different language codes for Kurdish (kurmanji).
Iso 693-3 = kmr
Unicode/Cldr = ku

Currently, Chrome-based browsers use the code "ku" for Kurdish (kurmanji).

Changing it to kmr>ku will solve the problem.

[2021-03-14 22:33] kbrosnan commented on #18475
Duplicate https://github.com/mozilla-mobile/fenix/issues/1848

[2021-03-14 22:33] #18475 closed

[2021-03-14 22:38] kbrosnan commented on #18474
Duplicate of bz-1644486. If you have any specific info please add it to that bug.

[2021-03-14 22:38] #18474 closed

[2021-03-14 22:42] kbrosnan commented on #18471
Duplicate bz-1697829

[2021-03-14 22:42] #18471 closed

[2021-03-14 22:44] kbrosnan commented on #18470
Duplicate https://github.com/mozilla-mobile/fenix/issues/2011

[2021-03-14 22:44] #18470 closed

[2021-03-14 22:45] kbrosnan commented on #18468
Duplicate https://github.com/mozilla-mobile/fenix/issues/18474

[2021-03-14 22:45] #18468 closed

[2021-03-14 22:46] kbrosnan commented on #18463
Duplicate https://github.com/mozilla-mobile/fenix/issues/17791

[2021-03-14 22:46] #18463 closed

[2021-03-15 00:50] #11453 closed

[2021-03-15 03:45] Jpersh27 commented on #17711
@Amejia481- It has been 6 days now and no response from you and almost 4 weeks from the other developers on Bugzilla.

1.) Will I ever receive a response from either you @Amejia481 or anyone on Bugzilla?

• The lack of effort for almost 2 months now proves my point that a big conglomerate technology companie like Mozilla is just like the Big two (Google and Apple) and that consumers come lasts and

[2021-03-15 05:12] xmha97 opened #18479 "[Feature Request] Use a different search engine in Firefox Private mode"
Please add this feature to the Fenix (like desktop version):
![Firefox](https://user-images.githubusercontent.com/23485114/111106387-48d6db00-856a-11eb-8ab3-bcab0271a6d2.png)

[2021-03-15 07:03] cadeyrn commented on #18479
This feature was never shipped in the desktop Firefox (it has to be enabled by a hidden option).

[2021-03-15 07:49] ebalazs-sv commented on #18394
Verified as fixed on Nightly 3/15 with Motorola Moto G6 (Android 8).
I will remove the qa:needed label and close this issue.

[2021-03-15 07:49] #18394 closed

[2021-03-15 07:57] Mugurell opened #18480 "[Bug] [Debug] Browser menus are too narrow"
Seen while testing https://github.com/mozilla-mobile/fenix/issues/17772
With [newCoreMenuItems](https://github.com/mozilla-mobile/fenix/blob/1f96887f96a8c627ae9f8468df76c8f0eace6dbf/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt#L76) the menu may be too narrow.

Currently seems to only reproduce only when the toolbar is set on top:

https://user-images.githubuserconte

[2021-03-15 08:04] ebalazs-sv commented on #18400
This issue is verified as fixed with the steps from https://github.com/mozilla-mobile/fenix/issues/18394.
The app does not crash when following the steps.
I will close this issue and remove the qa:needed label.

[2021-03-15 08:04] #18400 closed

[2021-03-15 08:20] AndiAJ opened #18481 "[Bug]Intermittent UI test failure - NoNetworkAccessStartupTests - testSignInPageWithNoNetworkConnection"
• Debug 3/15

► Flaky 1x `testSignInPageWithNoNetworkConnection`

[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6866136790227635640/executions/bs.de165e587edf748e/testcases/1/test-cases)

[code]

[2021-03-15 08:24] AndiAJ commented on #15624
• Master 3/15

► Flaky 1x  `closePrivateTabTest`

[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6866136790227635640/executions/bs.a64f5b8c131c0ba5/testcases/3/test-cases)

[code]

[2021-03-15 08:53] lobontiumira commented on #18178
Verified on the 3/15 Nightly build with Google Pixel (Android 10):
* ping a2e62209-bef0-4223-83fa-cd528577f448
* opened_item_in_new_tab:
[code]

* opened_items_in_new_tabs:
[code]

* opened_item_in_private_tab:
[code]

* opened_items_in_private_tabs:
[code]

[2021-03-15 08:53] #18178 closed

[2021-03-15 08:58] lobontiumira commented on #16769
Verified as fixed on the 3/15 Nightly build with Google Pixel (Android 10).

[2021-03-15 09:12] Rashidwi commented on #1848
Could there a short term fix for this?  I've seen suggestions about about:config general.useragent.override but it does not appear to work.

The problem means that Firefox is effectively unusable on Android tablets due to having to change the desktop setting for _**each and every**_  website visited.

[2021-03-15 09:44] lobontiumira commented on #18416
Verified as fixed on the 3/15 Nightly build, with Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9).

[2021-03-15 09:44] #18416 closed

[2021-03-15 09:59] Mikaka27 commented on #18445
Before I was also quite sure, that "remembering" permission setting, makes this always work. However notice in the video that I'm doing that, and yet I still get the "updating location..." case. This is shown on the end of video.

[2021-03-15 11:47] ebalazs-sv commented on #14514
I had tested this on Nightly 3/15 with Motorola Moto G6 (Android 8) and in Ukraine, the default browser is Google.
I will remove the qa:needed label and close this issue.

[2021-03-15 11:47] #14514 closed

[2021-03-15 12:12] lobontiumira commented on #18068
Hi all!
I've verified on the 3/15 Nightly build with Google Pixel (Android 10), and here are my findings:
* ping: e022beea-dba6-4d52-b870-1e505ad01ba8
* bookmark_suggestion_clicked event was generated:
[code]
* opened_tab_suggestion_clicked event was generated:
[code]
* and history_suggestion_clicked was generated:
[code]
* search_action_clicked was generated when tapping on the mirrored searched

[2021-03-15 12:42] #14818 closed

[2021-03-15 13:50] Amejia481 commented on #17711
Sorry, I missed your previous message.

As I mentioned before the scoped of the bug is outside of my team, every team has its own priority, I know for sure if the GeckoView team hasn't tackled the bug is because they are working on other higher priority issues. Feel free to inquire about it on the Bugzilla bug. Be mindful about the team sizes vs the number of bugs that are filed, for this reason,

[2021-03-15 13:52] codrut-topliceanu commented on #18441
Hey, I was unable to reproduce on current Nightly, Pixel 3xl (Android 10)
Could we get some more info on this, maybe some steps to reproduce?

https://user-images.githubusercontent.com/60002907/111164033-514d0700-85a6-11eb-915b-fcffc4ed4185.mp4

[2021-03-15 13:55] codrut-topliceanu commented on #17755
@sflorean If everything is in order with this issue may I move it to Done column on the board?

[2021-03-15 13:56] amedyne commented on #18253
@topotropic @vesta0 Any thoughts on these?

[2021-03-15 13:58] codrut-topliceanu commented on #18405
I was also unable to reproduce this on latest Nightly on:
Pixel 4 (Android 11)
Pixel 3 (Android 10)
But I haven't tested on any other devices.

[2021-03-15 14:02] Amejia481 commented on #18132
You can see more info in this pull request https://github.com/mozilla-mobile/fenix/pull/18342#issuecomment-797162925

[2021-03-15 14:05] codrut-topliceanu commented on #18356
@pavi2410 Thank you for you report ❤️  . Unfortunately I haven't been able to reproduce the issue on my devices, but maybe I'm doing something wrong. Could you perhaps add another video where you go through the steps to reproduce? (Like open new tab, go to duckduckgo, search -> follow link).

I understand that this is an intermittent issue and it may be difficult to reproduce it on demand but we w

[2021-03-15 14:05] Amejia481 opened #18484 "Reorganize settings sub-pages margins"
To match the new look and feel, we need to reorganize margins on the settings sub-pages, related https://github.com/mozilla-mobile/fenix/issues/18132

[2021-03-15 14:06] hakkikaancaliskan commented on #18132
Looks awful without icons, sad to see they're going :(

[2021-03-15 14:06] Amejia481 commented on #18484
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/773158/111166062-1c28c080-8576-11eb-8c1e-eeb2b721d673.png">

[2021-03-15 14:24] lobontiumira commented on #17004
@alex-mayorga did you encounter this crash again?
Do you have some steps to reproduce the crash?
Thank you!

[2021-03-15 14:32] sv-ohorvath commented on #15526
@Eli-the-Bearded @mangoducksparkles could you please confirm if https://github.com/mozilla-mobile/fenix/issues/18416 fixed this issue as well? Thanks!

[2021-03-15 14:37] lobontiumira commented on #17005
I was not able to reproduce this issue on Sony Xperia Z5 Premium (Android 7.1.1), on the 3/15 Nightly build.

[2021-03-15 14:40] #18367 closed

[2021-03-15 14:53] lobontiumira commented on #17009
I was able to reproduce this issue on the 3/15 Nightly build using a Sony Xperia Z5 Premium (Android 7.1.1).

[2021-03-15 15:10] #14005 closed

[2021-03-15 15:32] Mugurell commented on #18068
I looked with Mira over those two facts, why they are not logged and found:
- `clipboard_suggestion_clicked` is not logged because Fenix used it's own "fill with clipboard" functionality (not from AC) that will [not result in any telemetry event](https://github.com/mozilla-mobile/fenix/blob/a4691675a1e3a8c8ac049012d974a1f595a073e6/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt#

[2021-03-15 15:39] #12998 closed

[2021-03-15 15:39] #10570 closed

[2021-03-15 15:57] kbrosnan commented on #18479
Duplicate https://github.com/mozilla-mobile/fenix/issues/1076

[2021-03-15 15:57] #18479 closed

[2021-03-15 16:13] eliserichards commented on #15372
Current onboarding flow:
https://user-images.githubusercontent.com/43795363/111184843-5d719e00-857f-11eb-99cd-252b5e666537.mp4

[2021-03-15 16:23] sflorean commented on #18210
I was able to reproduce this on Nightly 3/14 with Xiaomi Redmi Note 8T (Android 9). I've got different behaviors:
- open tab from collection: top position
- open tab from "switch to tab" : below the tab from where the page was opened
- open new tab: bottom position

[2021-03-15 16:26] dblohm7 commented on #18381
Well we never had our APK set up to build correctly when it is set to `false`, so I don't believe that it is appropriate to set it to that value without fixing the APK.

[2021-03-15 16:38] Amejia481 commented on #17650
Sorry for the delay, the fixed is on nightly.

The expected behavior is the dialog is shown when the permission is denied, indicating the user to go the settings page and allow the permission, if the user do so the download dialog will show the next time we try to download a file.

https://user-images.githubusercontent.com/773158/111185807-c1e52b00-8588-11eb-835d-171ceca4a8bc.mp4

[2021-03-15 17:23] Mugurell commented on #18445
At the end of the video I see that the page is stuck at "Updating location" immediately after setting the permission to be always granted.
But if refreshing the page afterwards, do you still see that widget getting stuck at "Updating location"?

[2021-03-15 17:31] bgriffinte commented on #15526
As noted in bug 18416, the issue does not reproduce often. I don't think I've seen it since October, and I've been using a new device since January. I'm okay with this issue being closed and marked resolved.

[2021-03-15 17:33] Eli-the-Bearded commented on #15526
As noted in bug 18416, this issue was intermittent. I don't think I've seen it since October, and I'm on a new device since January so fixes for intermittent stuff would difficult to test now. I'm okay with this being marked as resolved and closed.

[2021-03-15 17:33] #15526 closed

[2021-03-15 17:37] VitalyVPinchuk commented on #18395
Hello all!
Could I try to fix the issue?

[2021-03-15 17:39] #13470 closed

[2021-03-15 17:39] #10572 closed

[2021-03-15 17:46] kbrosnan commented on #10878
Closing as a duplicate of https://github.com/mozilla-mobile/fenix/issues/11404

[2021-03-15 17:52] kbrosnan commented on #18473
Duplicate https://github.com/mozilla-mobile/fenix/issues/13336

[2021-03-15 17:52] #18473 closed

[2021-03-15 18:40] kbrosnan commented on #18425
Closing as incomplete. If the crash ID can be found then we can reopen or better to open a new issue.

[2021-03-15 18:40] #18425 closed

[2021-03-15 20:01] kbrosnan commented on #18405
I'm not sure what was going on. I had it break on two devices. Both allow me to add the widget and have it load properly now. Lets close this and I can reopen if I get better data.

[2021-03-15 20:01] #18405 closed

[2021-03-15 20:02] #18461 closed

[2021-03-15 20:04] kbrosnan commented on #18238
@rocketsroger the Bugzilla bug is not being tracked by GV. If there is specific work for that team to do please open a new bug explaining the problem.

[2021-03-15 20:08] kbrosnan commented on #13208
Closing

[2021-03-15 20:08] #13208 closed

[2021-03-15 20:14] jonalmeida commented on #18373
On the doc [Test back and restore](https://developer.android.com/guide/topics/data/testingbackup), it had a interesting snippet that hinted different manufacturers may have different implementations of the on-device service.

For that reason, we also tested back-restore by USB cable between a Pixel 3 and Pixel 4, both on Android 11.

In this case as well, we did not have app data restored: Sync ac

[2021-03-15 20:27] eliserichards commented on #8642
Looks like this is on the GV docket for Q1! We might consider closing this bug in favor of a fresh one once that work is done.

[2021-03-15 20:31] eliserichards commented on #17901
I think we'll need UX feedback if we want to make this bigger

[2021-03-15 20:38] eliserichards commented on #16830
Ahh, so this wasn't totally fixed in #9776.. this is still a valid issue 👍

[2021-03-15 20:39] eliserichards commented on #16829
I think we should double check with UX that this is ok with them. Tagging for feedback...

[2021-03-15 21:05] tnikkel commented on #18441
Goto https://lando.services.mozilla.com/D108516/ you should get an error page. Click advanced and then accept the risk. I am unable to tap on accept the risk.  I can reproduce on Pixel 2 as well as Moto E5 Play. It even reproduces when I put the page into desktop mode (which changes the layout).

[2021-03-15 21:07] tnikkel commented on #18441
I tested in nightly as well on the Pixel 2, same issue.

[2021-03-15 21:36] amedyne commented on #18253
@rocketsroger per discussion with @channingcarter today. We keep the current behavior for now.

[2021-03-15 21:42] rocketsroger commented on #18253
Sure, I'll un-assign myself

[2021-03-15 22:23] buttercookie42 commented on #15025
Depending how sensitive the double-tap detection is, a slower double tap might still be okay as long as #14403 / #12703 happens so the new tab button on the tabs view is in a sensible position even with the address bar on top.

[2021-03-15 22:38] EsliStavenga commented on #18403
Same here, mostly seems to happen after fully closing the app (removing it from multitasking) and then opening the app again

Oneplus 7 Pro
86.1.1 (Build #2015794883)

[2021-03-16 00:15] violasong commented on #18275
Just checked and it appears Desktop doesn't handle this. I agree it's important though :)

I think after the user enters the full duplicate number, we can show this error with the same placement as in the mockup: "This card number has already been added."

[2021-03-16 01:18] kbrosnan commented on #18439
Crash stats
* https://crash-stats.mozilla.org/signature/?product=Fenix&signature=java.lang.NullPointerException%3A%20at%20org.mozilla.fenix.search.SearchDialogFragment%24createQrFeature%242%24%24special%24%24inlined%24let%24lambda%241.onClick%28SearchDialogFragment.kt%3A7%29

Release
* https://sentry.prod.mozaws.net/operations/firefox/issues/10298336/

Beta
* https://sentry.prod.mozaws.net/operati

[2021-03-16 01:32] amedyne opened #18494 "Optimize the order and messages of onboarding cards"
This is the Engineering User story for #15372
## User Story
- As a NEW user, I want to quickly learn about the most interest or useful features, so I know if this browser is the right one for me and how to customize it to fit my needs.

## Acceptance Criteria

- Onboarding cards appear in order of most interesting/useful.
- ONLY highlights unique/useful features that are also actionable
- Highligh

[2021-03-16 05:05] #13043 closed

[2021-03-16 07:37] abodea commented on #18396
Verified as fixed on the latest Nightly 3/16 with Google Pixel 4 XL (11).
Note that I've played more than 10 podcasts and I didn`t encounter any issues.

[2021-03-16 07:37] #18396 closed

[2021-03-16 08:38] JohnVeness commented on #14833
This issue was fixed at some point, so closing.

[2021-03-16 08:39] #14833 closed

[2021-03-16 08:48] codrut-topliceanu commented on #18441
Confirmed. I'm able to reproduce the issue on https://lando.services.mozilla.com/D108516/
Very odd.

[2021-03-16 09:42] lobontiumira opened #18495 "[Bug] Vertical grey line appear briefly on opened tabs in tabs tray, in grid view"
## Steps to reproduce
1. Have the tab view set to grid.
2. Open at least one tab.
3. Go to the tab tray, and switch from normal browsing to private and vice-versa.

### Expected behavior
The opened tabs from the tab tray are displayed without issues, or glitches.

### Actual behavior
All opened tabs, from normal or private browsing, have a vertical line in front of the "X" close button, that is di

[2021-03-16 10:04] Mugurell commented on #17869
The patch has been merged and uplifted.
However it is currently disabled pending a Nimbus experiment.

[2021-03-16 10:38] freebrowser1 commented on #8252
Tested on Fenix Beta 87.0 using 'desktop' user agent.

Indeed the subtitle falls halfway under the bottom (using Landscape mode).

[2021-03-16 10:47] Mugurell commented on #18034
Removing this from Kanban since it's waiting for GV.
Will keep an eye for when things change so continue the work on it.

[2021-03-16 10:53] lobontiumira commented on #4151
I reproduced this crash on the Beta 87.0.0-beta.6 build with Samsung Galaxy Tab A6 (Android 5.1.1). I had about 18 tabs opened, signed in with an old account, had uBlock origin add-on installed.

95a1137c-8ea3-4e59-930b-3d2d4644e6ee
<native crash>
* Socorro: https://crash-stats.mozilla.org/report/index/bp-fb4f50d2-8165-4fb1-8a85-cf5330210316
----
<native crash>

[2021-03-16 11:11] Meshikhah opened #18496 "[Bug] Private Theme is not applied correctly when opening from external app"
## Steps to reproduce
Enable open external link in private tab
Open a link from twitter then open it in Firefox nightly.
Open Enhanced tracking protection.

### Expected behavior
it should be readable
### Actual behavior
It is white and unreadable
<img src=https://user-images.githubusercontent.com/29687018/111299516-42795980-8665-11eb-8d38-863f99a65082.jpg width = 45%>
### Device information

* De

[2021-03-16 11:30] Oymate commented on #17252
This happens often on wikimedia sites(I checked for non-mobile site), xiaomi Android 10

[2021-03-16 11:34] Oymate commented on #11552
Duplicate? https://github.com/mozilla-mobile/fenix/issues/15352

[2021-03-16 12:17] lobontiumira commented on #16820
Reproducible on Beta 87.0.0-beta.6 with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-03-16 12:30] softvision-oana-arbuzov commented on #18394
I can confirm this, I can no longer reproduce the crash and the podcast plays.
![image](https://user-images.githubusercontent.com/12184325/111309086-29bc7400-8664-11eb-8534-eef9ec147bcc.png)

**Tested with:**
Browser / Version: Firefox Nightly 210315 (🦎 88.0a1-20210313094300)
Operating System: Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density), Google Pixel 5 (Andr

[2021-03-16 12:37] codrut-topliceanu commented on #18441
Master branch Nightly build vs Master branch debug build:

https://user-images.githubusercontent.com/60002907/111309884-1067f780-8665-11eb-9ee1-eb66cdf9396d.mp4

...

[2021-03-16 13:02] lle-git opened #18497 "Wrong (previous) url when I want to edit or share url from the current page"
Hello,

This issue is not systematic...

## Steps to reproduce

Display a page and :
1/ Tap in in the url to edit it
or
2/ Menu/Share/Select a target device

### Expected behavior
1/ The current url is displayed
2/ The current url is shared on the target device

### Actual behavior
1/ The url is the url of a previous displayed page
2/ The url shared on the target device is the url of a previous di

[2021-03-16 13:36] lobontiumira commented on #14866
Hi all!
This ticket has been verified in multiple tickets:
* The awesome bar group was verified in [here](https://github.com/mozilla-mobile/fenix/issues/18068#issuecomment-799370805), and [here](https://github.com/mozilla-mobile/fenix/issues/18068#issuecomment-799514915).
* The History group was verified [here](https://github.com/mozilla-mobile/fenix/issues/18178#issuecomment-799238341).

The Book

[2021-03-16 13:36] #14866 closed

[2021-03-16 14:11] Dunexus commented on #16829
@eliserichards
I don't know much about current priorities but this may not be relevant if https://github.com/mozilla-mobile/fenix/issues/16659 and https://github.com/mozilla-mobile/fenix/issues/16658 are planned to be implemented soon.

[2021-03-16 14:25] ebalazs-sv commented on #12528
Verified as fixed on Nightly 3/16 with Motorola Moto G6 (Android 8).
I will remove the qa:needed label and close this issue.

[2021-03-16 14:25] #12528 closed

[2021-03-16 15:32] kbrosnan commented on #18497
Duplicate https://github.com/mozilla-mobile/fenix/issues/17791

[2021-03-16 15:32] #18497 closed

[2021-03-16 16:32] amedyne commented on #18330
Closing this one for now after @rocketsroger discussions with the DS team and answering queries.

[2021-03-16 16:32] #18330 closed

[2021-03-16 16:37] violasong commented on #18276
Should show the same error message as in https://github.com/mozilla-mobile/fenix/issues/18275#issuecomment-799846579

[2021-03-16 16:55] grigoryk opened #18501 "Enable Nimbus for Beta channel"

[2021-03-16 16:55] #11755 closed

[2021-03-16 17:07] violasong commented on #18289
Let's do the same as what currently happens when there are many logins. (I assume there's scrolling behavior?)

[2021-03-16 17:16] gabrielluong commented on #18289
Sounds good. Closing this since it wasn't only an issue for the UX question.

[2021-03-16 17:16] #18289 closed

[2021-03-16 17:16] rocketsroger commented on #17644
Looking through the current implementation we do send the list of installed and the list of enabled addons.  However, it's not on the startup metrics.  Only when user install / enable an addon.  Do we want to change it so we send the list of installed / enabled addons at startup metrics?

[2021-03-16 17:35] eliserichards commented on #18102
I am similarly seeing these tests fail consistently on [this PR](https://github.com/mozilla-mobile/fenix/pull/18490):
<img width="368" alt="image" src="https://user-images.githubusercontent.com/43795363/111354121-f96cd980-8653-11eb-92a5-8f4b866704f7.png">

This seems related?

[2021-03-16 17:35] #18481 closed

[2021-03-16 17:39] Mugurell commented on #10241
Based on Diana's comment - https://github.com/mozilla-mobile/fenix/issues/10241#issuecomment-690254408 this is fixed really but if it's not yet verified maybe we can have a definitive verification after adopting GVs new `onTouchEventForDetailResult`

[2021-03-16 17:48] violasong commented on #18262
Received approval from Design Systems for this workflow.

(To clarify one thing - if a user is already signed in, they'll see the "Sync cards" with toggle view)

[2021-03-16 17:49] mcomella commented on #18102
@eliserichards I'm not sure – I think the cause of this issue is a tricky interplay between the robolectric lifecycle, glean test rule, and the fact that my test is relying on a robolectric action before the test is run.

Whereas `StorageStats` is a more straightforward use case: a test using a glean measurement. It doesn't look like `StorageStats` or its test has changed recently so I wonder if t

[2021-03-16 17:53] pocmo commented on #17525
There are more events that trigger a save, besides the 30 second timer and backgrounding. In addition to that we also trigger a save on state changes (e.g. tabs get added,removed,selected). The 30 seconds are only a fallback to make sure we save the state in case we miss something (e.g. website internal changes we do not observe), not the primary method of saving state.

If those two steps happen

[2021-03-16 18:06] #18501 closed

[2021-03-16 18:56] csadilek commented on #17525
Let's close this as we can't address the specific STR, but please re-open if there are other cases where you hit this.

[2021-03-16 18:56] #17525 closed

[2021-03-16 19:35] AaronMT commented on #13443
Looking at /syncintegration/ today and noticed it's still py27 req  which I dont imagine it really it is. I think this should be re-opened.

[2021-03-16 20:10] #14960 closed

[2021-03-16 20:30] #18408 closed

[2021-03-16 20:42] grigoryk commented on #17869
@Mugurell also, see https://github.com/mozilla-mobile/fenix/pull/18502 :)

[2021-03-16 21:59] gabrielluong opened #18507 "Ensure the Credit card screens cannot be screenshot"
Note that there is an existing PR with feedback and take aways https://github.com/mozilla-mobile/fenix/pull/18890. Please consider using it.

-----

Secure secure flags so that the windows of the Credit cards screen cannot be screenshotted.

[2021-03-16 22:10] #13504 closed

[2021-03-16 23:12] wh0 commented on #14730
I'll take a look and see if I can reopen. thanks for the update

[2021-03-16 23:16] #17822 closed

[2021-03-16 23:16] #17823 closed

[2021-03-16 23:18] wh0 opened #18508 "Show native video controls in context menu, like Fennec"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-16 23:52] clientenq commented on #18428
Cant reproduce on nightly. Download available and downloading.

[2021-03-16 23:57] clientenq commented on #18507
Can you explain how you expect this suggestion to solve your issue? Credit card screens or forms are not standardised and are different per merchant.

[2021-03-17 00:01] mcomella commented on #18426
I did something similar: I filtered the data on the Moto G5 only. Here are my queries:
- [Application.onCreate](https://sql.telemetry.mozilla.org/queries/78712/source?p_org_mozilla_fenix=org_mozilla_firefox#195656): median 560ms (my local G5 was 432.5ms)
- [HomeActivity.onCreate](https://sql.telemetry.mozilla.org/queries/78713/source#195659): median 111ms (mine was 191ms)

Given my median HomeActi

[2021-03-17 01:59] gabrielluong commented on #18507
This wouldn't be related to the 'webview'. This would be about securing the preference screens where we plan to provide autofill and management of stored credit card information.

[2021-03-17 02:38] tamb commented on #2371
This desperately needs to get fixed

[2021-03-17 03:50] iosonoungatto opened #18510 "Option to open new tabs at the bottom"
I just updated to Fenix from the old Firefox for Android and I was still very used to the old behaviour that new tabs are opened at the bottom, as mentioned in #14853. In Desktop version of Firefix, there are 2 flags to control the position of new tabs. However, they are not there in about:config even in the Beta version.

I am not sure we could have some flexibilities in the behaviour of adding n

[2021-03-17 07:24] #13068 closed

[2021-03-17 07:37] Shaurya-Kalia commented on #18508
Yes, the lack of this option should be a regression

[2021-03-17 07:42] aminomancer commented on #15818
I'm getting this bug right now. Also, on my desktop (Nightly, currently 88.0a1) the "Mobile Bookmarks" folder randomly disappeared from my places db. The "sync now" button does nothing and all the sync option checkboxes are grayed out. Tried signing out and in and reinstalling. Could just be a coincidence, but I got an email from AMO saying I won't be able to sign extensions unless I enable 2FA. S

[2021-03-17 07:52] aminomancer commented on #15818
For some reason I was able to fix the problem by re-pairing my phone and manually sending a tab from desktop to android. When I clicked the notification for the sent tab, it opened the link and then abruptly started syncing my mobile tabs. Then when I went to the account settings in the android UI, the sync options were back to normal. Unfortunately, my "Mobile Bookmarks" folder is still missing o

[2021-03-17 08:23] madb1lly opened #18511 ""Don't track me Google" add-on not available to install for me on Nightly"
## Steps to reproduce
In Fenix go to add-ons and search for "Don't track me Google" add-on.

### Expected behaviour
The add-on is recommended for Fenix https://addons.mozilla.org/en-GB/android/addon/dont-track-me-google1/ so it should be available to install in app.

### Actual behaviour
The list of available add-ons does not show "Don't track me Google".

### Device information
* Device vendor /

[2021-03-17 09:15] Archaeopteryx opened #18512 "Intermittent settingsTest - org.mozilla.fenix.screenshots.MenuScreenShotTest"
cc @pocmo

### Firebase Test Run:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6579428998183301390/executions/bs.7569348523d06d26/testcases/1/test-cases
### Stacktrace:
[code]
### Build:

[2021-03-17 09:37] lobontiumira commented on #18495
I was able to reproduce this issue on the RC 87.0.0-rc1 build with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-03-17 11:14] codrut-topliceanu commented on #18441
After some more investigations, and some help from my colleagues, it turns out that the issue stems from `lowMediumErrorPages.js`, specifically the `addCertException` method:

    async function acceptAndContinue(temporary) {
    try {
        await document.addCertException(temporary);
        location.reload();
    } catch (error) {
        console.error("Unexpected error: " + error);
    }

[2021-03-17 12:34] escape0707 commented on #8252
@freebrowser1 You mean youtube? Have you tried this? https://github.com/mozilla-mobile/fenix/issues/8252#issuecomment-787394530

[2021-03-17 13:26] codrut-topliceanu commented on #17791
This does seem like a nasty bug.
I have not been able to reproduce it though. Tried on the following devices:
Pixel 3xl (android 10) - latest nightly and latest debug master
Motorola E4 (android 7) - latest debug master
OnePlus 6 (android 9) - latest debug master

@Whisprin @mrandreastoth Could you provide some additional details please? App build (Settings -> About), device, android version, URLs

[2021-03-17 13:50] Mugurell commented on #18480
Looked into this a bit, seems like something that can easily be fixed in AC.

[2021-03-17 13:53] jonalmeida opened #18513 "Re-add menu to tabs tray"
We can use `browser-menu2` to construct the three-dot menu in the tabs tray and create a `MenuInteractor` to handle those actions.

[2021-03-17 13:54] jonalmeida opened #18514 "Re-add tab counter in tabs tray"
This should have the same function as the current tabs tray.

[2021-03-17 13:56] jonalmeida opened #18515 "Re-add FAB button to tabs tray"
Like the original FAB button, we can create a FAB presenter that observes the selected view pager position and updates the icon accordingly.

[2021-03-17 13:57] alimkoca opened #18516 "Add the possibility to check Cookies on Fenix"
### I think we need to see cookies like laptops or personal computers

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-10065)

[2021-03-17 13:57] nielmistry opened #18517 "[Bug] Address bar shows different URL when clicked"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-17 14:03] jonalmeida opened #18520 "Add empty-tab state to browser tray lists"
We have a default empty state for our tray items that we need to re-introduce in the refactored tabs tray.

### Technical implementation
 - We have an "empty state" for normal and private tabs that do the same thing. So we can put this in our `BaseBrowserTabViewHolder` with an abstract method/property that retrieves the string from the `NormalBrowserTabViewHolder` or `PrivateBrowserTabViewHolder`.

[2021-03-17 14:05] jonalmeida opened #18521 "Add scroll to selected tab"
When we open the tabs tray, we need to be able to scroll to the selected tab.

[2021-03-17 14:06] jonalmeida opened #18522 "Re-add call to action in tabs tray"
Investigate what the old tray items were for tips and CTA, then add them as a separate component/interactor.

[2021-03-17 14:09] jonalmeida commented on #17824
Closing this since we landed this already.

[2021-03-17 14:09] #17824 closed

[2021-03-17 14:09] abodea commented on #18516
Thank you for adding this.
You can check your cookies using about:debugging while you're device is connected to pc. Check [this ](https://github.com/mozilla-mobile/fenix/issues/13812#issuecomment-700503934)for more information.

[2021-03-17 14:12] jonalmeida commented on #17821
I suspect we don't really need this any more. The only state we were storing in the store was for multi-select and we can use the `recyclerview-selection` library to handle this.

Let's leave this open for now, and we can close it when we're done with the refactoring and do not require it.

[2021-03-17 14:12] abodea commented on #18517
Thank you for adding this issue!
I was not able to reproduce it on the latest Nightly 3/17 with Google Pixel 4 XL (11).
Can you please mention what websites you accessed?
And also, can you please attach a video/gif?

[2021-03-17 14:26] #12854 closed

[2021-03-17 14:29] RByers commented on #8252
Sorry for the trouble. I have filed a Google internal bug on YouTube for this, b/182994254. I hope it helps!

[2021-03-17 14:32] Amejia481 opened #18523 "Site permission prompts do not show again when a user denies system permission twice"
If you navigate to a site that require permissions ( for example https://permission.site/)  and deny the system dialog permission, and then do it again after that you are never going to get the system permission dialog again and all future permissions are going to be cancel by default without users noticing.

To fix that we have to do something similar to what we did on this [pr](https://github.co

[2021-03-17 14:35] #18076 closed

[2021-03-17 14:36] mcarare commented on #17768
Closed in https://github.com/mozilla-mobile/fenix/pull/18071.

[2021-03-17 14:36] #17768 closed

[2021-03-17 14:38] emilio commented on #8252
Thanks @RByers!

[2021-03-17 14:41] amedyne commented on #18441
@codrut-topliceanu Can you add the bugzilla ticket here?

[2021-03-17 14:41] Amejia481 commented on #16590
We don't see new reports on sentry, please feel free to reopen if it's needed.

[2021-03-17 14:41] #16590 closed

[2021-03-17 14:42] lobontiumira commented on #17650
Verified as fixed on the 3/17 Nightly build, using a Google Pixel (Android 10).
After denying the download, the "Files and media permission access needed to download files. Go to Android settings, tap permissions, and tap allow. DISMISS   GO TO SETTINGS" propmt is displayed. Tapping on "GO TO SETTINGS" redirects the user to the Android permissions. Tapping on "DISMISS" dismisses the prompt; if try

[2021-03-17 14:42] #17650 closed

[2021-03-17 14:54] codrut-topliceanu commented on #18441
Sure thing, it's the one from the original comment:
https://bugzilla.mozilla.org/show_bug.cgi?id=1696841

[2021-03-17 15:03] lobontiumira commented on #18036
I tried verifying this ticket but didn't get to any results generating metrics on the 3/16 Nightly build using a Google Pixel (Android 10). I've asked @gabrielluong for more details, and I will get back to testing as soons as I have them.
Untill further notice, I'll remove the qa:needed label.

[2021-03-17 15:07] nielmistry commented on #18517
Yeah here's a video:

https://youtube.com/shorts/C85NuM4rwF8

And even after a force stop the error persisted (although a different
website was stuck in the address bar)

But after leaving my phone for a while and revisiting, it works as expected
now.

On Wed., Mar. 17, 2021, 10:13 Andrei Bodea, ***@***.***>
wrote:

[2021-03-17 15:12] Amejia481 commented on #17650
Thanks @lobontiumira !

[2021-03-17 15:45] sflorean commented on #18428
Tested on latest Nightly with LG G7 (Android 8.1) and Samsung Note 10 (Android 11) and couldn't reproduce the issue.
@ale82to could you please tell us the following:
- device model & Android version
- did you have some extra steps, permissions blocked?

[2021-03-17 17:33] mcomella commented on #18426
I compared this discrepancy with `geckoview_startup_runtime`:
- `geckoview_startup_runtime` has a similar distribution to both probes – perhaps sits somewhere between them for how far the 95th % is separated
- median on Beta is 1.3s
- median on Beta for Moto G5 is 1.6s
- local runs on moto G5 are [891, 905, 890] (which is between 25%-50% for all devices and 5%-25% for Moto G5)

This implies
- mayb

[2021-03-17 17:44] mcomella commented on #18426
Looking at the GPlay data for app start up (which includes all start ups, not just MAIN or VIEW), we get a median of 2125-2250ms (closer to the higher end) for Beta over the past 30 days.

Locally, I get 1246 median for MAIN and 1618 for VIEW for time to first frame (which I believe is what Android measures). Naturally, user devices have more going on on them than my device so it's reasonable that

[2021-03-17 18:25] mcomella commented on #18426
I've been having trouble keeping track of all the questions this analysis is created so I created a doc to track them: https://docs.google.com/document/d/1EtEb8HGkGFEb2b5rvNiy5fkmP2u7ww8_U5eF2QYgUIw/edit#

[2021-03-17 19:01] mcomella commented on #18426
I opened a PR https://github.com/mozilla-mobile/fenix/pull/18525 to add subsection measurements to `application_on_create` so we can better understand the behavior of that method.

As I mention above, we may additionally want to:
- Add additional probes throughout start up to understand a broader part of it and compare back to these metrics
- Add a probe for a simple version of startup – e.g. COLD

[2021-03-17 19:34] willfs84 commented on #9118
I don't mean to be a pest but can we please get an update on what's going on with this? It's not that _low_ priority, pretty much every other phone browser does this and it's absence is harming the user experience. Surely it's not a big undertaking?

[2021-03-17 20:42] topotropic commented on #17798
![Group 1](https://user-images.githubusercontent.com/353960/111535387-55755200-8769-11eb-829c-3d74f3b811fe.jpg)

I believe we have the icons in the code base but let me know in case we need them. Thanks!

[2021-03-17 20:44] mcomella commented on #18351
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1699261

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-17 20:44] #18351 closed

[2021-03-17 20:45] #18032 closed

[2021-03-17 20:53] mcomella commented on #18381
PR in https://github.com/mozilla-mobile/fenix/pull/18442

[2021-03-17 21:02] ale82to commented on #9118
it's a shame this still has not been sorted out and really only 8 top sites per page come on!!!

[2021-03-17 21:02] topotropic commented on #9269
Yes, sounds good. We can add the option "Search open tabs" after the "Search bookmarks" option. Thanks!

[2021-03-17 21:10] topotropic commented on #9765
@eliserichards would it be possible to define a larger touch target for the cancel and mic icon?

[2021-03-17 21:13] topotropic commented on #11546
Thanks for the feedback! Synced tabs will move to the tab tray https://github.com/mozilla-mobile/fenix/issues/14117 and once implemented will be removed from the menu. I'll close the issue.

[2021-03-17 21:13] #11546 closed

[2021-03-17 21:18] topotropic commented on #14728
Thanks for the feedback! This design will change in the near future, see https://github.com/mozilla-mobile/fenix/issues/17797.

[2021-03-17 21:18] #14728 closed

[2021-03-17 21:30] topotropic commented on #18455
Thanks! So is it possible to make sure we prevent people from accidentally allowing a permission because they tapped on the multi-task icon at the same time (your case)? And can we render the permission or download dialog behind the tab tray?

[2021-03-17 21:33] topotropic commented on #18260
Thanks for the ping and apologies for my late reply here.

From a UX perspective it makes sense to add a pin to default top sites to show people that they behave similar to manually pinned sites.

[2021-03-17 21:35] jdragojevic opened #18527 "[Bug] Documentation update: experiments.md"
## Fenix /docs/experiments.md file is outdated and includes dead links.

### Expected behavior
This file should direct engineers to content on the shiny new experimentation documentation hub, especially the section for Fenix engineers: https://mozilla.github.io/experimenter-docs/fenix-engineers

### Actual behavior
https://github.com/mozilla-mobile/android-components/blob/master/components/service

[2021-03-17 21:37] topotropic commented on #18028
When the tab tray is not fully extended, I see rounded corners in landscape. And once it's fully extended we remove them. This is as specified. I'll close the issue but please re-open if you have an issue! Thank you!

[2021-03-17 21:37] #18028 closed

[2021-03-17 21:41] mcomella commented on #18351
This is a platform issue (scrolling in GeckoView) so moving to bugzilla where they can track it.

[2021-03-17 21:43] mcomella commented on #17597
Triage: we haven't been able to reproduce this so it's possible this occurred when the code was in some intermediate state or that we had fixed it since it was filed.

@cadeyrn please reopen this if you see this again!

[2021-03-17 21:43] #17597 closed

[2021-03-17 21:47] cadeyrn commented on #17597
@mcomella Sorry for the late response. There were no similar leak since the original report. :)

[2021-03-17 21:48] topotropic commented on #16829
Is it possible to increase the touch area while keeping the design as is?

I'll let @vesta0 comment on when we plan to work on below changes.

[2021-03-17 22:46] mcomella commented on #17005
To be explicit, there are two issues we're looking at in this bug which agi doesn't think are related https://github.com/mozilla-mobile/fenix/issues/17005#issuecomment-786305783:
- the tabs reload when turning on the device screen
- a crash that occurs around the same time

@StSav012 Do you have a link to the crash you're experiencing from `about:crashes`? I'm wondering if it's the same one agi sa

[2021-03-17 22:56] mcomella opened #18528 "Reintroduce 100ms delay to test perftest system"
This is blocked on:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1696457 propagating (at least to beta, maybe `cn-*` and similar branches)
- (maybe) Figuring out why the P2 sometimes drops results

We want to make sure the perftest system is working correctly. To do so, we want to implement an intentional 100ms delay in Nightly builds only to make sure that delay appears in perftest results (and

[2021-03-17 23:01] rocketsroger commented on #17644
From more testing I can see that add-on telemetry is not consistent.  Reworking it so when metric ping is sent add-on telemetry values will always be the updated value.

[2021-03-18 00:05] bioRex21 opened #18531 "[Bug] Cannot convert mp4/h.264 video frame to WebGL texture"
## Steps to reproduce

1.- Go to [https://jibjab-dev-fmvr-serverless.s3-us-west-2.amazonaws.com/video-demos/webgl-demo.html](https://jibjab-dev-fmvr-serverless.s3-us-west-2.amazonaws.com/video-demos/webgl-demo.html)
2.- Play the video.

Or
1.- Go to [http://jeromeetienne.github.io/threex.videotexture/examples/videotexture.html](http://jeromeetienne.github.io/threex.videotexture/examples/videotextu

[2021-03-18 00:15] bioRex21 opened #18532 "[Bug] Cannot draw mp4/h.264 video to canvas"
## Steps to reproduce

1.- Go to [https://jibjab-dev-fmvr-serverless.s3-us-west-2.amazonaws.com/video-demos/video-to-canvas.html](https://jibjab-dev-fmvr-serverless.s3-us-west-2.amazonaws.com/video-demos/video-to-canvas.html)
2.- Play the video.
3.- Click "Draw to canvas" button.

### Expected behavior
Video frame should be copied to canvas element.

### Actual behavior
An error is thrown in conso

[2021-03-18 01:53] Poopooracoocoo commented on #9269
i had completely forgotten about this issue i created. i was worried that all of my issues that i either created or supported would be closed by your new bot @topotropic

[2021-03-18 02:14] Poopooracoocoo commented on #9269
oh and @topotropic, a related issue is #9268. _Note that they are different_. The Chromium triagers had confused two of my issues one time and it took so so much annoying on my side. Took _months_ for them to fix that.

[2021-03-18 02:19] Poopooracoocoo commented on #15494
@topotropic any updates on this?

[2021-03-18 02:21] Poopooracoocoo commented on #2486
I did by the way, open #15505 last year

[2021-03-18 04:14] sheikh-azharuddin opened #18533 "[crash] latest nightly crashing whenever opening tab view page"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-18 04:17] sheikh-azharuddin commented on #18533
Interestingly this is crashing on grid view only...with **list** view setting page is unresponsive!

![Screenshot_20210318-094704087](https://user-images.githubusercontent.com/58127841/111572606-f1857480-87ce-11eb-87f9-ed5aab61defd.jpg)

[2021-03-18 04:26] sheikh-azharuddin commented on #18533
I believe this might be due to the commit  #17822

[2021-03-18 05:42] StSav012 commented on #17005
No, the crash does *not* occur when the screen is being turned _on_. It happens sooner or later after the screen is turned _off_. From the logs, as they appear in real time via `adb`, I saw that the process crashes sometimes immediately after the screen is off, but sometimes several minutes pass before the crash. The same behavior takes place when I watch cache state in the device settings, having

[2021-03-18 06:08] hwinnemoe commented on #18533
@sheikh-azharuddin Can you check if the secret setting _Use new Tabs Tray_ is activated on your Nightly? I can only reproduce when I activate this secret setting on Nightly 210317 17:01 (Build #2015799241).

4fe00ab1-9fce-4ba5-824c-372aeefc3492
java.lang.ClassCastException: androidx.recyclerview.widget.LinearLayoutManager cannot be cast to androidx.recyclerview.widget.GridLayoutManager
 * Sentry:

[2021-03-18 07:03] madb1lly commented on #2486
I find 10 tabs a bit limiting, I often can't find the tab I want. The 25 tabs on desktop is much more helpful, I can only remember not being able to find the tab I want once. I'll raise a new feature request.
Cheers 🙂

[2021-03-18 07:09] mcarare opened #18534 "Update all add-ons reference to extensions"
Follow-up on https://github.com/mozilla-l10n/android-l10n/pull/318 for remaining strings.

[2021-03-18 07:11] cadeyrn commented on #18534
Are you aware of https://bugzilla.mozilla.org/show_bug.cgi?id=1698931? While I prefer "extensions" I don't think that Firefox for Android should use a different naming than Firefox for desktop. And it seems that Firefox for desktop will revert the naming change from add-ons to extensions.

[2021-03-18 07:14] mcarare commented on #18534
Yes I am, this will need confirmation from UX.

[2021-03-18 07:37] Raamakrishnan commented on #18533
Seeing same behavior. Tab tray becomes unresponsive with list view.
@hwinnemoe I had the "Use new Tab tray" enabled. Disabling it fixes it

[2021-03-18 07:38] lobontiumira commented on #17034
@jlax could you help us with the link on which this issue occurred?
Also, are you able to reproduce this on the latest Firefox build?

[2021-03-18 07:42] lobontiumira commented on #17041
I was not able to reproduce this issue on the 3/18 Nightly build with Google Pixel (Android 10).
@sheikh-azharuddin could you please retest on the latest Nightly?

[2021-03-18 07:52] sheikh-azharuddin commented on #18533
Yep after disabling the setting it is fixed now...quite curious this setting I had enabled since last few builds but facing issue starting yesterday build so maybe something else changed too

[2021-03-18 07:55] sheikh-azharuddin commented on #17041
Same issue even in latest build
I opened a link from telegram group which opened it in amazon app but left a trace in recent app panel with custom tab

![Screenshot_20210318-132402796](https://user-images.githubusercontent.com/58127841/111591287-420bca80-87ed-11eb-877c-857ffb7bac59.jpg)

[2021-03-18 09:11] lobontiumira commented on #17222
I will close this issue, since I was not able to reproduce this animation on signing in on any of the builds, beta, Nightly or RC; and due to the fact that the reporter hasn't provide more details.

[2021-03-18 09:11] #17222 closed

[2021-03-18 09:36] abodea commented on #17804
Verified as fixed on the latest Nightly 3/17 with Google Pixel 4 XL (11) and Samsung Galaxy S7 (7), Samsung Galaxy S10+ (10).
Note that I didn`t encounter any issues regarding full-screen videos

[2021-03-18 09:36] #17804 closed

[2021-03-18 09:38] lobontiumira commented on #17380
@klint I was not able to reproduce this issue on the 3/18 Nightly build with Google Pixel (Android 10).
Could you please retry?

[2021-03-18 09:43] lobontiumira commented on #17249
I will close this issue becausethe reporter hasn't provide more details.
Please feel free to open a new issue if this is still reproducing for you.

[2021-03-18 09:43] #17249 closed

[2021-03-18 10:29] mcarare commented on #17797
@topotropic With the icons back in the menu, how will this item look? Wouldn't be redundant to have 2 star icons on the same row?

[2021-03-18 10:46] mcarare commented on #17800
Waiting for feedback from @kbrosnan

[2021-03-18 11:08] mcarare commented on #18533
@jonalmeida Is there an issue opened for implementing grid items in the refactored tab tray?

[2021-03-18 11:33] mcarare commented on #18496
I have not been able to reproduce this. Can QA also take a look? Thank you!

[2021-03-18 11:41] mcarare commented on #17808
@CharlesAdam are you still working on this?

[2021-03-18 11:46] jonalmeida opened #18535 "Re-add grid layout to tabs tray"
Found a nice [resource](https://medium.com/xorum-io/android-recyclerview-animated-transition-between-grid-and-list-layouts-b2309e1d9f19) that gives a good design for support list and grid layouts with the same `LayoutManager` and only altering the spanCount.

We can probably ignore the part to invoked `notifyDataSetChanged` since we re-draw the layout after leaving the settings UI.

[2021-03-18 11:47] jonalmeida commented on #18533
There isn't one, but I've filed a placeholder for now (#18535).

Maybe it's best to not make this setting available in nightly builds (debug only for now) so folks outside of engineering don't use it unknowingly.

[2021-03-18 11:49] jonalmeida commented on #18533
I'm going to close this as won't fix because, for now, this feature isn't implemented so crashes are expected.

[2021-03-18 11:49] #18533 closed

[2021-03-18 12:02] CharlesAdam commented on #17808
@mcarare Yes, I sent a PR back then but it shouldn't be merged before the base branch was merged, I'll update my branch and set it up for the merge

[2021-03-18 12:06] jonalmeida opened #18538 "Refactor FenixTabsAdapter and TabViewHolder"
This should shorten the class done for now and add these parts separately:
 - We can remove some of the specific multi-select code in there now - #18443
 - TabViewHolder can be separated into a List/Grid view holder. This will be done in #18535.

[2021-03-18 12:15] SL-Lee commented on #12276
This issue is still reproducible for me (I'm using **Nightly 210317 17:01 Build #2015799243**). The steps I mentioned in [my previous comment](https://github.com/mozilla-mobile/fenix/issues/12276#issuecomment-661648625) still reproduces the issue.

Here's an excerpt of those steps:

[2021-03-18 13:02] xmansyx commented on #18441
this bug has been driving me crazy for a lot of time today i tried to make some investigation i found that it happens only with sites that have old TLS versions e.g 1.0 and 1.1  here is an example to reproduce: http://tls-v1-0.badssl.com:1010/.
it happens on all firefox branches: stable, beta, nightly and even fennec.

i hope this will be fixed soon because it is very annoying

[2021-03-18 13:16] jonalmeida opened #18539 "Re-investigate dependency injection options"
It's been a while since we had considered dependency injection options, and now that our codebase is maturing, we can spend some time to see how we want this to grow.

Considerations:
 - Startup performance
 - Testability
 - Complexity
 - Lock-in to a particular framework

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-10081)

[2021-03-18 13:16] jonalmeida commented on #18539
Some pain points I've run into with Synced Tabs and Tabs Tray, is when certain components or custom implementations:
 1.  Need a custom use case to be shared across inflated UIs and constructor injection isn't so easy.
 2. Scoping dependencies to certain parts of the application.

[2021-03-18 13:42] lwa-moz opened #18540 "Create in-tree tests for search partner deployment"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-18 13:48] jonalmeida commented on #18538
This work is blocking other issues from moving ahead until we have it landed.

[2021-03-18 13:52] AndiAJ commented on #17195
Flaky 1x on Debug 3/17

<details>
    <summary>Stack trace</summary>

androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with id: org.mozilla.fenix.debug:id/tab_wrapper

View Hierarchy:
+>DecorView{id=-1, visibility=VISIBLE, width=1080, height=1920, has-focus=true, has-focusable=true, has-window-focus=true, is-clickable=false, is-enabled=true, is-focused=false, i

[2021-03-18 13:53] lobontiumira commented on #17604
@ungubajue90k is this still reproducible?
Thank you!

[2021-03-18 13:55] lobontiumira commented on #17671
I was able to reproduce this issue on the 3/18 Nightly build with Google Pixel (Android 10).

[2021-03-18 14:38] kbrosnan commented on #18517
Fairly sure this is a duplicate of https://github.com/mozilla-mobile/fenix/issues/17791

[2021-03-18 14:38] #18517 closed

[2021-03-18 14:41] kbrosnan commented on #18511
I don't believe Android recommend extensions have been updated since Fennec. Next step is to figure out what APIs are needed for it to work.

[2021-03-18 15:20] topotropic commented on #18534
Yes, please rename "Add-ons" to "Extensions". Thanks!

[2021-03-18 16:36] kbrosnan commented on #18532
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1699485

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-18 16:36] #18532 closed

[2021-03-18 16:36] kbrosnan commented on #18531
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1699486

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-18 16:36] #18531 closed

[2021-03-18 17:16] #11443 closed

[2021-03-18 17:16] #14136 closed

[2021-03-18 17:38] violasong commented on #17797
The updated look is in the figma file. This does end up with 2 star icons in the row, but I think the difference in icon styles makes this okay. CC: @vesta0 in case she has thoughts on this. If there's concern, I'll ask Bram to look into it.

<img width="394" alt="image" src="https://user-images.githubusercontent.com/55994/111670504-24326b80-87d5-11eb-987c-6386bc3cc530.png">

[2021-03-18 17:47] rafalopilowski1 opened #18544 "[Bug] Grid view on new Tab Tray not working"
## Steps to reproduce
1. Enable the new Tab Tray on Secret Settings.
2. Set up grid view on the Tab Tray
3. Try to open it from the toolbar.
### Expected behavior
Tab tray is loading properly and shows tabs in the grid.
### Actual behavior
Crash:
[code]
[Socorro link](https://crash-stats.mozilla.org/report/index/27cb66f8-c3c7-4741-9d4b-ea8ba0210318)
### Device information

* Device vendor / model

[2021-03-18 18:06] Amejia481 commented on #15372
@betsymi I would like to confirm what **"l10n note: Substitute %s for long browser name."** means, would you mind helping met to understand what should be done here?  Or an example of **"long browser name."**
<img width="913" alt="image" src="https://user-images.githubusercontent.com/773158/111674613-936a8880-87f2-11eb-9ffd-0876e9313639.png">

[2021-03-18 18:32] Mugurell commented on #18455
Ohh, interesting.
Didn't thought of that but because of the "Allow" / "Download" dialog buttons being shown where users usually expect other buttons to interact with, since this dialogs may show up even without user action I guess it would be possible for users to intend to click on the tabs counter button but in that fraction of a second another dialog gets shown there.
This is clearly an edgecas

[2021-03-18 19:25] rafalopilowski1 commented on #18544
Duplicate of #18533

[2021-03-18 19:25] #18544 closed

[2021-03-18 19:28] MarjaE2 commented on #17222
I ununistalled Firefox, due to the flashing, and have not reinstalled.

[2021-03-18 20:11] crisalis2 commented on #7491
This is still a valid issue... Pretty sad this new "stale bot" scheme... It only means issues are ignored even more now.

[2021-03-18 20:16] #14450 closed

[2021-03-18 20:34] EmberHeartshine commented on #7491
Agreed... Pretty discouraging to the casual contributor.

[2021-03-18 20:35] topotropic commented on #15494
Thanks for the ping! This will be addressed with https://github.com/mozilla-mobile/fenix/issues/9118

[2021-03-18 20:35] #15494 closed

[2021-03-18 20:40] topotropic commented on #18455
This sounds familiar

didn't we discuss this related to a recurring download issue a while ago?

Sounds like a rare case that people open the tab tray when a bottom permission sheet opens and we can leave it as is. Thoughts?

[2021-03-18 21:10] topotropic commented on #18237
Thanks for the feedback. To confirm: you just see a circle up there and the icon isn't visible?
The intend is that it should look similar to this
<img width="88" alt="image" src="https://user-images.githubusercontent.com/353960/111698074-b159dc80-8836-11eb-816d-157de8358be2.png">. Is this what you see? Thanks!

[2021-03-18 21:14] topotropic commented on #18196
Thanks for the feedback! You can go to Settings > Customize and change the toolbar from top to bottom.

[2021-03-18 21:14] #18196 closed

[2021-03-18 21:19] topotropic commented on #18014
Thanks! From a UX point I'll quote Bram here:

I guess it depend how many devices we are talking here and if that justifies the effort since it doesn't impact functionality as far as I understand.

[2021-03-18 21:26] topotropic commented on #17790
I agree, it makes sense to remove the app from the recent screens when people have "Quit" enabled and use it.

[2021-03-18 21:34] topotropic commented on #14714
yes! thank you. This card will go away with the redesigned onboarding flow that's about to be implemented https://github.com/mozilla-mobile/fenix/issues/18494.

[2021-03-18 21:34] #14714 closed

[2021-03-18 21:34] hakkikaancaliskan opened #18546 "[Bug] Bottom margin is not aligned with system bars and ime"
![Screenshot_20210319-003221_Firefox_Nightly](https://user-images.githubusercontent.com/17825767/111700585-a6a94280-884a-11eb-97ff-2ca3dcf0bd45.png)
![Screenshot_20210319-003120_Firefox_Nightly](https://user-images.githubusercontent.com/17825767/111700586-a7da6f80-884a-11eb-9a99-78abf224e1e6.png)
![Screenshot_20210319-003118_Firefox_Nightly](https://user-images.githubusercontent.com/17825767/11170

[2021-03-18 21:50] topotropic commented on #14666
I tried it out, this seems to be broken in multiple ways, when I tap to quick on the next/down arrow, the number indicator jumps to a red 0/0.

I guess there's enough space to show the number of results if that's feasible.

[2021-03-18 21:56] ErissonB opened #18547 "When 'Share image' to Evernote/Whatsapp causes an error message"
## Steps to reproduce
When trying to share the image from contextual menu "Share Image" to Whatsapp or Evernote, you receive an error message or the application does not open.

### Expected behavior
Being able to share the image for the aforementioned apps as it happens in the Brave app. (https://i.imgur.com/jnDz8Dq.png)

### Actual behavior
After selecting the apps in the sharing menu, Whatsapp r

[2021-03-18 21:58] ErissonB commented on #12414
I encountered the same problem and did not find the issue with the requested additional information, so I opened the issue #18547. @Mugurell
I hope I've helped.

[2021-03-18 22:03] mkaply commented on #3107
Motorola is moving into this space as well:

https://www.engadget.com/motorola-ready-for-phone-pc-edge-plus-103506144.html

This is really different than #4498 and we should treat it as such.

https://developer.android.com/topic/arc

[2021-03-18 22:40] mcomella opened #18548 "Enable nightly builds as pull request artifacts"
When we open a pull request, it'd be great to be able to download a nightly build artifact similar to the ones we ship nightly.

This is valuable for performance because we measure the performance of nightly builds. When we build them locally, however, we aren't able to reproduce them exactly: they may be missing artifacts such as the push API keys or leanplum SDK keys that can change the performa

[2021-03-19 00:15] kglazko commented on #17798
Is it ok if I assign myself to this one and work on it @eliserichards ?

[2021-03-19 01:41] gabrielluong commented on #17798
In case this is helpful, [SyncPreferenceView](https://github.com/mozilla-mobile/fenix/blob/a31ce9bf671bc6c388f3bf4b94d95e55bb803388/app/src/main/java/org/mozilla/fenix/settings/SyncPreferenceView.kt) which is responsible for "Sign in to sync" in "Logins" will get you really far and fast.

[2021-03-19 01:49] #12565 closed

[2021-03-19 02:16] #13199 closed

[2021-03-19 03:29] gabrielluong commented on #12565
@mcarare curious if we should be closing this as in we are completely done with all the clean up of these usages?

[2021-03-19 03:56] vesta0 opened #18551 "[UX] Getting back to last visited place in the app (back button behaviour)"
## User Story
- As a FF mobile user, I want to easily get back to my last visited place in the app, so I can easily find what I am looking for.

### Acceptance Criteria

- Tapping BACK on a page, takes the user through the back history and eventually to the homepage (working as expected)
- Tapping on anything on the homescreen (top site or a page inside a collection) and tapping BACK, takes the us

[2021-03-19 05:23] sharbet commented on #18546
https://user-images.githubusercontent.com/73639287/111735018-95018280-88be-11eb-9141-f870e8a209c3.mp4

Happening to me too.

Also, address bar is sometimes overlapped by keyboard (Could not reproduce it, but can confirm it happens)

[2021-03-19 07:06] Mugurell commented on #18455
Agree.
The root cause can be seen as a general issue that could affect more app features.
And right now all these are more at a theoretical level, being pretty hard to actually encounter IRL.

[2021-03-19 07:20] Mugurell opened #18552 "[Bug] Browser's vertical scrollbar does not extend to the very bottom"
## Steps to reproduce
Access a webpage with a height bigger than the screen so the srollbar would be shown

### Expected behavior
The vertical scrollbar moves to the very top/bottom of the app (or the toolbar)

### Actual behavior
The vertical scrollbar stops a bit higher then the bottom prt of the screen / bottom toolbar.

### Device information
All devices

### Firefox for Android version
All ve

[2021-03-19 07:20] Mugurell commented on #18552
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1699621

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-19 07:20] #18552 closed

[2021-03-19 07:22] Mugurell commented on #18546
In the above video I see the issue with the scrollbars not going to the very bottom.
Interestingly we didn't have an issue for it so I've now created https://github.com/mozilla-mobile/fenix/issues/18552.

[2021-03-19 07:23] Mugurell commented on #18546
@hakkikaancaliskan Just to confirm, this is not reproducing in the current Release?

[2021-03-19 07:37] jonathanalvares9009 commented on #18539
@jonalmeida can you elaborate on the issue?

[2021-03-19 07:40] hakkikaancaliskan commented on #18546
@Mugurell nope, no problem on release and beta, this problem started with 3/18 nightly or 3/17.

[2021-03-19 07:53] hakkikaancaliskan commented on #18546
Maybe related with #18252?

[2021-03-19 08:17] sharbet commented on #18546
![Screenshot_20210319-171411_Firefox Nightly](https://user-images.githubusercontent.com/73639287/111750619-c8500b80-88d6-11eb-9eb6-23aaac922e4f.jpg)

Got the proof of this; when this happens, I cannot directly  access the website: I have to press "back" which then allows me to choose the sites.
It's like there is a transleucent layer(?) that blocks my control.

[2021-03-19 09:32] pocmo commented on #18539
I don't have a very strong opinion here. But if we end up with something we would want to try then maybe Focus or even Reference Browser may be a good test vehicle - before committing to a long-term refactoring of Fenix.

[2021-03-19 09:38] LaurentiuApahideanSV commented on #18547
@ErissonB I tried to reproduce your issue but was unable to. Could you please specify the manufacturer and model of the device you are using?
### Devices used:
- OnePlus 6T (Android 9)
- Google Pixel 3 XL (Android 9)

[2021-03-19 09:47] LaurentiuApahideanSV commented on #18384
The issue was already discussed here: https://github.com/mozilla-mobile/fenix/issues/15822. I will mark this issue as closed as it will be handled there.

[2021-03-19 09:47] #18384 closed

[2021-03-19 11:20] sharbet commented on #18546
It's like there is a transleucent layer(?) that blocks my control.

https://user-images.githubusercontent.com/73639287/111772691-7f0cb580-88f0-11eb-872d-a0d136eb4b9c.mp4

Video proof of the mentioned problem

[2021-03-19 11:25] sharbet commented on #18546
It's like there is a transleucent layer(?) that blocks my control.

https://user-images.githubusercontent.com/73639287/111773201-330e4080-88f1-11eb-813d-15ffb4659a11.mp4

Got proof of the situation in video.

[2021-03-19 12:00] sv-ohorvath commented on #17195
Flaky on 3/19: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5767762777280455840/executions/bs.f0d39ef7548054d6/testcases/3/test-cases

[2021-03-19 14:18] rocketsroger commented on #17531
Needs to tweak this to make it more consistent.

[2021-03-19 14:53] Amejia481 opened #18553 "Prepare the Beta branch 88"
There is some pre-work for cutting the beta branch 88, as we have to exclude targeting Android 11  because we are not completely aware of the implication of https://github.com/mozilla-mobile/fenix/issues/18373

[2021-03-19 14:53] #17956 closed

[2021-03-19 15:02] rocketsroger commented on #18238
Sure, I've opened https://bugzilla.mozilla.org/show_bug.cgi?id=1699723 to track it.  I'll close this issue since there's nothing else app side can do for the two SecurityException crash listed here.

[2021-03-19 15:02] #18238 closed

[2021-03-19 15:21] abodea commented on #17791
Following the steps from the description, I was not able to reproduce this issue.
On the latest Nightly build 3/19 with Google Pixel 4 XL (11), I tried to reproduce it like this:
 - Launch Fenix and open 5+ tabs
 - Open Gmail, open a new link (tab) from Gmail in Fenix
 - I copied/shared the opened tab, but I had no issues there.

@mrandreastoth can you please attach a video/gif when reproducing th

[2021-03-19 15:33] Whisprin commented on #17791
@abodea Could you please try the steps that I outlined above?
Specifically closing Firefox from memory manually or launching a memory heavy app that will force Android to close Firefox in the background before you open the link from Gmail.

At the same time I'm trying to reproduce it with the latest Nightly.

[2021-03-19 15:41] ErissonB commented on #18547
@LaurentiuApahideanSV
I used a Motorola One Hyper with Android 10 (Build number QPFS30.103-43-14).

### Apps version

- Evernote version 10.6 (1111498)
- WhatsApp version 2.221.5.17

[2021-03-19 15:45] abodea commented on #18496
I was not able to reproduce this issue on the latest Nightly 3/19 with Google Pixel 4 XL (11), Samsung Galaxy S10+ (10), Samsung Galaxy S7 (7).
Note that I tried with light and dark them setup but with 0 success on reproducing it.
@Meshikhah  can you please provide more information and also a video/gif?
Until further notice, I will remove `eng:qa:needed`.

[2021-03-19 15:57] abodea commented on #17791
Hello, @Whisprin sorry I forgot to mention, I also tried to reproduce it following your steps but with 0 success.
Are you logged in (FF account?)
Do you have any addons installed?
Can you please attach a video/gif when reproducing it?

[2021-03-19 16:15] #17868 closed

[2021-03-19 16:33] eliserichards commented on #17798
Go for it @kglazko! 🚀

[2021-03-19 17:40] KrasnayaPloshchad commented on #16121
This page also becomes mojibake to me due to this bug:
https://fineartamerica.com/featured/fly-dc-jets-heidi-smith.html

[2021-03-19 18:13] #17531 closed

[2021-03-19 22:06] LittleAngelwings opened #18560 "Can't create new collection with Android 9 / Chrome OS[Bug]"
Can't create a new collection with one of the newest nightlies or since the new Chrome OS 89 Update.
I can type a name for a new collection, but the enter-key (software nor hardware key) hasn't any effect.

### Device information

Lenovo IdeaPad Flex5 i5, 8 GB, Chrome 0S 89, newest Updates, Android 9 (container)

 Nightly 210319 17:02 (Build #2015799631)
AC: 74.0.20210318232824, 6010fe8ba
GV: 88.0

[2021-03-19 23:04] jrbillpete opened #18561 "[Bug] Certificate error in Firefox Nightly for Android but not in Firefox Stable for Android"
## Steps to reproduce
Open:
https://servicos.min-saude.pt/utente/
Or:
https://www.autenticacao.gov.pt
### Expected behavior
The page should load (at least thats what happens in Firefox Stable for Android (86.1.1 (Build #2015794883))
### Actual behavior
Firefox Nightly shows a certificate error
### Device information

* Device vendor / model and Android version: Umidigi A5 Pro - Android 9
* Firefox

[2021-03-20 09:50] Chaniug opened #18563 "[Bug]Firefox Nightly Browser plug-in cannot be used normally, suspected compatibility problem"
## Steps to reproduce
1、Open the browser to add the plug-in，The specific plugin is **“iGG谷歌访问助手”**
Plugin URL：
_https://addons.mozilla.org/zh-CN/android/addon/iguge/_

The author is **iGuge.app**
![QQ图片20210320172210](https://user-images.githubusercontent.com/35595273/111865249-d9fde580-89a0-11eb-8f5b-9d524cb0b46f.jpg)
![QQ图片20210320172218](https://user-images.githubusercontent.com/35595273/111865

[2021-03-20 10:41] madb1lly commented on #18511
Hi @kbrosnan,
I thought this page _had_ been updated to be for Fenix, not for Fennec: https://addons.mozilla.org/en-GB/android/search/?promoted=recommended&sort=random&type=extension

There used to be many many many addons listed for Fennec - many didn't even work! Now for Android there are **only** these addons listed, ergo a user would expect to be able to install them.

Cheers :slightly_smiling

[2021-03-20 11:26] akveet opened #18564 "[Bug] Gray bar at the top of the screen in horizontal fullscreen mode"
## Steps to reproduce
Go to youtube.com
Open any video
Enter the fullscreen mode
Rotate to horizontal position

### Expected behavior
The video occupies all the vertical space available

### Actual behavior
There is a gray bar at the top of the screen
![Screenshot_2021-03-20-13-25-09-364_org mozilla fenix](https://user-images.githubusercontent.com/47448925/111867905-baa29080-897f-11eb-8d78-fe0d9a4

[2021-03-20 11:52] Yetoo1 opened #18565 "[Bug] Unable to initiate successive searches on selected text until next search"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-20 13:25] Rob--W commented on #18511
I have recently published an update (unrelated to Android), but explicitly unchecked the "compatible for Android" option at submission, because the add-on cannot be installed despite having been marked as compatible.

That's because on Fenix, users can only enable add-ons that are part of the collection of add-ons that are available to Fenix. This list is different from the set of "recommended add

[2021-03-20 14:34] VitalyVPinchuk commented on #18395
Hi @sflorean @Mugurell
Can [this](https://github.com/VitalyVPinchuk/fenix/commit/38af8195dab739ec702ecfb7c71a19cc00cc3db0) be a solution?

[2021-03-20 14:42] Haleymiranda79 opened #18566 "[Bug] empty issue"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-20 14:43] andreicristianpetcu opened #18567 "[Bug] Address bar and keyboard overlap"
## Steps to reproduce
open a tab and click the url bar

### Expected behavior
![Screenshot_20210320-164004_Firefox_Beta](https://user-images.githubusercontent.com/922368/111873834-f5fe8880-899a-11eb-8e9b-57b492057a7b.png)
no overlap between url bar and hacker keyboard, like in beta

### Actual behavior
![Screenshot_20210320-063408_Firefox_Nightly](https://user-images.githubusercontent.com/922368/1

[2021-03-20 15:14] Multipanda commented on #16121
I actually found a working extension. It's a Chrome extension called Charset by jinliming2 that gives you the option of selecting another encoding.
Works fine with Kiwi also. So just install any chrome based browser on android instead of Firefox, and get that extension.

[2021-03-20 15:59] hakkikaancaliskan commented on #18567
Duplicate of #18546

[2021-03-20 16:00] hakkikaancaliskan commented on #18564
Related to #18546

[2021-03-20 16:25] sheikh-azharuddin opened #18568 "[Bug] touch target not accurate when opening a new tab"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-20 17:37] RiyaJ2311 commented on #18237
No, All I am getting is a white circle only
![image](https://user-images.githubusercontent.com/48223671/111880345-fa459880-89d0-11eb-879e-68da9c67ad20.png)

[2021-03-20 18:00] vitaly-zdanevich opened #18569 "[Bug] seeking of audio is broken on long files"
Check on [this file](https://upload.wikimedia.org/wikipedia/commons/7/77/Complex-numbers--rusalochka.opus): try to go to 1 hour 20 minutes.

And related subissue: please make the seekbar to the full width of the screen, for easier positioning. Current view:

![image](https://user-images.githubusercontent.com/3514015/111880535-2f47f000-89bd-11eb-8aa7-c3bdc2015938.png)

My mockup:
![firefox-mobile-a

[2021-03-20 18:15] Mugen-Houyou opened #18570 "[Bug] Navigation bar no more transparent on Samsung Galaxy"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-03-20 18:17] #12373 closed

[2021-03-20 19:12] Whisprin commented on #17791
Thanks @abodea
I wasn't able to reproduce it in Firefox Nightly either (not logged in).
However, I'm still able to reproduce it in the current stable version: 86.1.1 (Build #861120, logged in).

No Addons installed in either. Android 10 & 11, Open links in apps disabled in both

[2021-03-21 02:28] #14296 closed

[2021-03-21 06:46] #11581 closed

[2021-03-21 07:43] gaul commented on #3729
Perhaps a more common use case is Fenix on Chromebooks.  I bought a Lenovo Duet which works well in tablet mode but poorly in keyboard mode.  It is irritating to use even though the keyboard has a trackpad and I would prefer to use keyboard shortcuts for common actions.

[2021-03-21 09:25] clientenq commented on #18076
I sure would expect a human answer to this pricacy question. Just dismissing it does not solve any problem.

[2021-03-21 11:23] HubKing opened #18572 "Reader mode easy way to move page up/down."
### What is the user problem or growth opportunity you want to see solved?
Documents are usually long. To read a document in the reader mode, users usually have to keep scrolling down. Maybe this is a problem with old or 60Hz AMOLED and may be different current 90 or 120MHz display, but most people are using 60Hz AMOLED, and on such a display, during scrolling, the font becomes a little bit fuzzy.

[2021-03-21 11:42] minutesinch commented on #5661
Is there any work?

[2021-03-21 11:43] minutesinch commented on #14172
Still exist

[2021-03-21 11:44] minutesinch commented on #10493
Is there any reviews or workaround?

[2021-03-21 12:48] kcpr commented on #16003
I noticed that it only appear if the tool bar is set to be displayed on the bottom. Also, I experienced the issue while using "Immerse mode" toggled with [Quick Settings](https://play.google.com/store/apps/details?id=it.simonesestito.ntiles) , but not if I use Hide [Navigation Bar](https://play.google.com/store/apps/details?id=com.ivianuu.hidenavbar) which works differently - by kind of removing t

[2021-03-21 14:35] 01d50u1 opened #18573 "Option/Button to delete all logins and passwords at once"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-03-21 15:15] kershan commented on #18453
Hey, I would like to pick this issue up to work if it is still available and needed.

[2021-03-21 15:23] birdie-github opened #18574 "[Bug] The Dark Reader add-on has stopped working for lots of websites in recent nightlies"
For the past ten days the Dark Reader add-on has been malfunctioning in Firefox Nightly for Android.

Steps to reproduce:

1) Install the add-on, don't change any settings
2) Open https://github.com/mozilla-mobile/fenix
3) Check the results - only half the page will remain unthemed, i.e. it's black text on a white background

Not all webpages/websites are affected but a lot of them are.

It's a re

[2021-03-21 18:47] thomasaarholt commented on #8768
I too would like this issue reopened.

[2021-03-21 18:53] ajshepley commented on #18568
I noticed this as well, on `Nightly 210319 20:42 Build# 2015799651` and the preceding Play store version on an S10+.

If you retract the keyboard, the touch target becomes accurate again.

[2021-03-21 19:24] evilpie commented on #18574
Duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1697829

[2021-03-21 20:24] anotherus3r opened #18576 "[Bug] Wrong URL copied from custom tab after following another link"
## Steps to reproduce
You could probably use any app and link to reproduce this bug, but I'll use Reddit in this example.
1. Open [this post](https://www.reddit.com/r/europe/comments/m6u0n4/on_this_day_30_years_ago_referendum_on_the_future/) in a Reddit client app.
2. Open the link in the post. A Wikipedia article titled "1991 Soviet Union referendum" is opened in a custom tab using Firefox.
3. Ta

[2021-03-21 20:36] #15120 closed

[2021-03-21 20:50] anotherus3r commented on #15194
Yeah, noticed the same thing recently on latest Nightly.

[2021-03-21 21:36] #15087 closed

[2021-03-21 21:57] Meshikhah commented on #18496
@abodea i can't record the screen because it opens in private tab.

[2021-03-21 22:36] #15052 closed

[2021-03-21 22:36] #15041 closed

[2021-03-21 23:20] birdie-github commented on #18574
On a second thought please close it yourself because if necessarysince the bug hasn't yet been fixed and affected people might not discover this already open bug report.

[2021-03-22 02:11] #15043 closed

[2021-03-22 02:52] Chaniug commented on #18563
Can you fix it?

[2021-03-22 03:29] kbrosnan commented on #18574
We don't keep upstream bugs open.

[2021-03-22 03:29] #18574 closed

[2021-03-22 03:29] kbrosnan commented on #18576
Duplicate https://github.com/mozilla-mobile/fenix/issues/17791

[2021-03-22 03:29] #18576 closed

[2021-03-22 03:31] kbrosnan commented on #17791
Most recent duplicate mentions nightly as a still problematic.

[2021-03-22 03:32] kbrosnan commented on #18573
duplicate https://github.com/mozilla-mobile/fenix/issues/15113

[2021-03-22 03:32] #18573 closed

[2021-03-22 03:33] #18566 closed

[2021-03-22 06:08] Mugurell commented on #18453
That would be awesome! Thank you!

[2021-03-22 06:25] neha-b2001 commented on #18418
Hello, is this issue open for assignment? If yes, could I work on adding the requisite icons?

[2021-03-22 06:35] Mugurell commented on #18567
Thank you Andrei for the details here!
Will close this as a duplicate but this scenario should definitely be tested to be fixed by #18546 .

[2021-03-22 06:35] #18567 closed

[2021-03-22 06:45] Mugurell commented on #18564
Seems like a regression of https://github.com/mozilla-mobile/fenix/issues/17805.
Closing as a dupe of #18546.

[2021-03-22 06:45] #18564 closed

[2021-03-22 06:52] Mugurell commented on #18395
Thank you @VitalyVPinchuk for looking into this.
That indeed seems like the approach needed.

[2021-03-22 07:00] Mugurell commented on #18570
Thank you @Mugen-Houyou for the details here!
Will close this as a duplicate but this scenario should definitely be tested to be fixed by #18546 .

[2021-03-22 07:00] #18570 closed

[2021-03-22 07:08] Mugurell commented on #18569
Hello @vitaly-zdanevich , can you please offer more details about what is broken?
Have you seen this issue on different devices?
Have you tried the same on other browsers?

I would've thought the bug relates to seeking from the start of the file to 1h20min or closer to the end and the audio to stop playing but for me it works ok. (Pixel3 with Android 11)

[2021-03-22 07:24] Mugurell commented on #18568
https://user-images.githubusercontent.com/11428869/111954169-5a7f2c00-8af0-11eb-9d20-2eaa1465511e.mp4

Thank you all for the details here!
Will close this as a duplicate but this scenario should definitely be tested to be fixed by #18546 .

[2021-03-22 07:24] #18568 closed

[2021-03-22 07:34] #6972 closed

[2021-03-22 07:46] anotherus3r commented on #17791
If you have problems reproducing the issue, you might have better luck with the steps to reproduce in #18576.

[2021-03-22 07:53] Mugurell commented on #18565
Thank you @Yetoo1 for describing the issue with so many details!
I'm not sure though what the expected behavior should be.

If nothing changed in the search terms, why should we make a new search?
We have this 2 situations:
-  the user would search for "mozilla" and then on that page she would  search again for "mozilla".
The search option is shown but tapping it does nothing since the search term

[2021-03-22 07:54] Mugurell commented on #18565
As to why this currently happens - we explicitly filter duplicated search requests - https://github.com/mozilla-mobile/android-components/blob/b266ac3d16e15cabc969cfe33c9cf965f557e257/components/feature/search/src/main/java/mozilla/components/feature/search/SearchFeature.kt#L48

[2021-03-22 07:56] lobontiumira commented on #17502
I was not able to reproduce this issue on the 3/22 Firefox Nightly app using an OnePlus 5T (Android 10) device.
I've downloaded the file from https://yts.one/movie/shubh-mangal-zyada-saavdhan-2020/, when the download was complete, I tapped the "Open" button and Flud app opened displaying the information page of the downloaded file.

[2021-03-22 08:00] Mugurell commented on #18561
Thank you for the report!
Will move this ticket to Bugzilla since it's more of a gecko issue.
Please follow the progress there.

[2021-03-22 08:01] Mugurell commented on #18561
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1700040

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-03-22 08:01] #18561 closed

[2021-03-22 08:03] ebalazs-sv commented on #17168
This issue is also reproducible on RC 87.0.0-rc.1 from 3/17 with Pixel 2 (Android 9) in Chinese.

[2021-03-22 08:09] Mugurell commented on #18560
Can you please try if this same issue is reproducing in the current Firefox Release?

[2021-03-22 08:10] iamiceparticle commented on #17502
@lobontiumira
I just checked it. It seems it is fixed now.
Thanks for looking into it.

[2021-03-22 08:31] #17502 closed

[2021-03-22 09:36] lobontiumira commented on #17855
This issue still reproduces on the 3/22 Nightly build with Samsung Galaxy Note 8 (Android 9).
I was able to take a screenshot in private browsing when the keyboard is trigerred.

[2021-03-22 10:02] lobontiumira opened #18578 "[Bug] The microphone is available in the search bar only when Google is set as default search engine"
## Steps to reproduce
1. Set the defaut search engine to Google.
2. Open a new tab and observe if the microphone is available in the search bar.
3. Set the default search engine to a different search engine; I tried bing.com, and duckduckgo.com.
4. Open a new tab and observe if the microphone is available in the search bar.

### Expected behavior
The microphone is displayed regardless of the searc

[2021-03-22 10:39] Yetoo1 commented on #18565
The expected behavior is that the browser ui isn't going to change because the search page has a special status and gets to change what I can search for. The ui should always allow me to search for what I want when I want and if it's going to change it should only add functionality in relation to the selected content (as distinct from website/page) rather than remove it.

No, we have three situati

[2021-03-22 10:51] iamiceparticle opened #18580 "[Bug] In latest version of Firefox nightly address bar is raised a little bit resulting bottom chin while viewing webpages"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to