[2020-01-13 17:24] #7611 closed

[2020-01-13 17:33] AmyYLee commented on #7421
@KaairaGupta Can you attach a screenshot of the update? Thanks

[2020-01-13 17:40] Mossop commented on #7332
No, just hte one.

[2020-01-13 17:49] pwd-github commented on #7616
I cleared data on the Snapshot build ```(3.0.2 (Build #20081833)
📦: 24.0.1, ee4587f74
🦎: 71.0.1-20200108003105)```

And neither option (Add to Install or Add to Homescreen) is there still.

![Screenshot_20200113-174614](https://user-images.githubusercontent.com/203217/72278888-da784f00-362c-11ea-8658-2382f40eea78.png)

[2020-01-13 17:55] kbrosnan commented on #6060
[code]

[2020-01-13 18:08] kbrosnan commented on #6060
Talked with Snorp. Looks like this fails when the slow script dialog should appear. Firefox for Android handles this. Fenix/A-C might be dropping this info from GV.

[2020-01-13 18:16] KaairaGupta commented on #7421
![collections_removed](https://user-images.githubusercontent.com/45488611/72280676-e4b34100-365e-11ea-8fa6-3440d24a9dac.jpeg)

i have added the screenshot in the PR as well

[2020-01-13 18:20] jonalmeida commented on #7030
Assigning to self to find GV bug that was filed for this.

[2020-01-13 18:27] marcinwiacek opened #7643 "[Bug] No checkbox in language settings"
## Steps to reproduce

1. Settings
2. Language
3. select smth other than "follow device language" (for example Polish)
4. click back arrow
5. language

### Expected behavior

in menu visible in step 5 there is displayed checkbox on option select in step 3

### Actual behavior

checkbox is not displayed

### Device information

* Android device: pixel (android 10), s7 (android 8)
* Fenix version: n

[2020-01-13 18:27] sblatz commented on #7157
UX: how should we handle these longer menu items? If we make the margins a static 16dp, menu items that have really long names will make the menu take up the whole screen.

Should the menu have a fixed width? Should it expand up to a certain width and then wrap the menu items?

### Potential Solutions
1. Fix the menu width (what we do now)
2. Expand the menu width up to a certain max_width we dete

[2020-01-13 18:28] marcinwiacek opened #7644 "[Bug] Language is not setup correctly on Android 8 which doesn't have officially dark mode"
## Steps to reproduce
1. settings
2. language
3. select some language other than "follow device language" (for example Polish)

### Expected behavior
language is changed

### Actual behavior
on Android 8 (S7) nothing happens, works OK on Android 10 (Pixel)

### Device information

* Fenix version: nightly 13 jan

[2020-01-13 18:31] jonalmeida opened #7645 "Disable Push support when Fennec is migrating"
Stop push when migrating.

### QA testing STR:
1. Ensure Send Tab is working on Fennec.
2. Migrate to Fenix.
3. Send another tab.

### Expected:
At 3, the tab should be delivered.

[2020-01-13 18:35] kbrosnan commented on #6060
Broken in reference browser as well.

[2020-01-13 18:36] cadeyrn commented on #7644
What are your device _and_ Fenix theme settings? Could be a duplicate of #7559. Please see https://github.com/mozilla-mobile/fenix/issues/7559#issuecomment-572997231.

[2020-01-13 18:36] marcinwiacek opened #7646 "[Bug] Theme is not updated after resuming app"
## Steps to reproduce

1. open Firefox and setup theme "according to device theme"
2. switch to system Settings (Android Settings app)
3. change Theme (dark to white or white to dark)
4. switch to Firefox

### Expected behavior

theme is updated

### Actual behavior

it's required to kill and start Firefox again

### Device information

* Android device: 10 on Pixel
* Fenix version: Nightly 13 jan

[2020-01-13 18:38] jonalmeida opened #7647 "Integrate AbstractMigrationProgressActivity"
To be filled in by me.

Based on https://github.com/mozilla-mobile/android-components/issues/5509 with the Fenix architecture.

[2020-01-13 18:42] marcinwiacek opened #7648 "[Bug] Browser engine list is not updated without restarting FP"
## Steps to reproduce
1. change language in Settings from "follow device language" to some other
2. go into settings for browser engines
3. kill FP
4. open again FP and settings for browser engines

### Expected behavior
list in 2 == list in 4
### Actual behavior
list is updated after full app restart
### Device information

* Android device: Android 10 / Pixel
* Fenix version: nightly 13 jan

[2020-01-13 18:43] colintheshots opened #7649 "[Bug] Fix missing NOT in asFeatureWebChannelsDisabled check"
The PR is to remove Fretboard accidentally removed a NOT in one of the if checks. This ticket is to track replacing the missing NOT in the code.

It's line 438 of BaseBrowserFragment.kt.

[2020-01-13 18:44] marcinwiacek commented on #7644
Android 8 doesn't have dark theme settings................................................... it was added later in the system.

[2020-01-13 18:45] NotWoods commented on #7616
Are you using a custom launcher?

[2020-01-13 18:50] NotWoods opened #7651 "Expose more options in the PWA site controls notification"
### Why/User Benefit/User Problem
Originally reported by @FluorescentHallucinogen:

Various settings like permissions, addons, and find in page are not exposed to PWAs. It would be helpful to popup a menu when the site controls notification is tapped with many options.

Related equivalent Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=974785

![](https://00e9e64bacfef0530a9e8a8d

[2020-01-13 18:52] marcinwiacek commented on #6060
OK, if you don't have window, please answer "don't stop". It can happen on other pages too.

I've opened it on Oct 17 and it would be good to see, that at least engine is not failing.

[2020-01-13 18:54] pwd-github commented on #7616
T9 Launcher (https://play.google.com/store/apps/details?id=se.dw.rocketlauncher) on both devices.

[2020-01-13 19:01] mcomella commented on #7386
Moved to Done: I assume this can be closed.

[2020-01-13 19:01] #7386 closed

[2020-01-13 19:03] NotWoods commented on #7616
I'll investigate. My hypothesis is that T9 Launcher does not report that it supports shortcuts, and we hide the menu option in that case.

[2020-01-13 19:10] snorp commented on #3262
What is the "pull to refresh component"? Are we talking about `androidx.swiperefreshlayout.widget.SwipeRefreshLayout`?

I'm not sure what you mean by this. Which GeckoView API specifically? If we're talking about `PanZoomController.onTouchEvent()` the order is assumed to be chronological. How are the events getting into the wrong order?

Yeah, that's not something we're able to handle right now. I

[2020-01-13 19:10] NotWoods opened #7653 "Add to homescreen icon will not be consistent with Firefox Desktop"
### Why/User Benefit/User Problem
Originally reported by @FluorescentHallucinogen:

Since the add to homescreen icon depicts a phone, it will not be consistent with the icon we eventually use on Firefox Desktop when PWA support is added.

### Acceptance Criteria (how do I know when I’m done?)
- Display an icon that can be consistent across platforms

[2020-01-13 19:10] NotWoods commented on #7653
cc @apbitner

[2020-01-13 19:13] rocketsroger commented on #6935
Please verify this issue has been fixed on nightly.  Thanks,

[2020-01-13 19:18] vesta0 commented on #6611
@mheubusch

item 1 refers to essentially having an FAQ menu item in the app that all users can see and access (I was being careful to not provide a solution earlier)

item 2 refers to including a link on the "What's new" onboarding card that only new users will see the first time.

[2020-01-13 19:22] marcinwiacek opened #7654 "[Bug] Settings descriptions are not updated after changing language (without app reboot)"
## Steps to reproduce
1. settings
2. change language to other (in my case Polish)
3. change language to "follow device language" (in my case English)

### Expected behavior

strings in settings are updated

### Actual behavior

updating info in Theme and Toolbar needs app restart

on the example visible screen after step 3 (two strings in Polish)

![Screenshot_20200113-201552 1](https://user-image

[2020-01-13 19:24] cadeyrn commented on #7644
So you have a light system theme and #7654 shows that your Fenix theme is the dark theme. So it's really a duplicate of #7559.

[2020-01-13 19:26] cadeyrn commented on #7654
This is also #7559, see https://github.com/mozilla-mobile/fenix/issues/7559#issuecomment-572774124.

[2020-01-13 19:29] cadeyrn commented on #7643
see also https://github.com/mozilla-mobile/fenix/issues/220#issuecomment-571490295.

[2020-01-13 19:32] AaronMT opened #7656 "[Bug] Add UI tests for Reader View"
Support https://testrail.stage.mozaws.net/index.php?/suites/view/3192&group_by=cases:section_id&group_order=asc&group_id=31655 with automated tests

  |   | ID | Title |   |   |  
-- | -- | -- | -- | -- | -- | --
  |   | C250592 | The Reader view toggle appears only when available |   |   |  
  |   | C250588 | Enter into reader mode |   |   |  
  |   | C250585 | Reader View controls |   |   |  
 

[2020-01-13 19:36] marcinwiacek commented on #7654
@cadeyrn , hmmm, you're right - should we have separate bugs or not?

[2020-01-13 19:37] #7649 closed

[2020-01-13 19:41] marcinwiacek commented on #7644
@cadeyrn please distinguish two test cases - one, when system theme is updated, when FP is really off (cold app start) and one, when app is resumed from background.

[2020-01-13 19:44] liuche commented on #4383
Still have some bad behavior on sites like The Guardian https://bugzilla.mozilla.org/show_bug.cgi?id=1594451

[2020-01-13 19:44] marcinwiacek commented on #7643
ok, here you're right, my bad. Do we want to have separate bug or not?

[2020-01-13 19:45] hawkinsw commented on #7143
I think that we should file a new issue for this. I am going to take that action. I will only close this issue when I have created that other issue. Is that okay, @snorp?

[2020-01-13 19:51] snorp commented on #7143
Sure that seems fine

[2020-01-13 19:51] marcinwiacek opened #7657 "Use UTF-8 strings instead of percent encoded strings for URLs in the link menu and URL bar and other places"
## Steps to reproduce

1. search for "łąka" in Google

### Expected behavior

URLs are displayed in nice Unicode decoded form (human-friendly) like in desktop

![ff1](https://user-images.githubusercontent.com/24834168/72286901-62b71e00-3646-11ea-872e-0789b2404e36.png)
![ff2](https://user-images.githubusercontent.com/24834168/72286907-65197800-3646-11ea-8457-de0985854c61.png)

### Actual behavior

[2020-01-13 20:51] djc commented on #6935
Yup, fixed for me on latest Nightly Fenix! Thanks!

[2020-01-13 20:54] marcinwiacek opened #7659 "[Bug] Using blue dot only in special occassions"
## Steps to reproduce

Open FP and open various sites

### Expected behavior

Use "blue dot" notification only in very rare occasions - for example, when new feature is added.

### Actual behavior

Currently many times there is displayed blue dot on the hamburger menu icon - the same blue dot it displayed for "add to home screen" or "reader view" menu options.

Blue dot normally is used for import

[2020-01-13 20:56] marcinwiacek opened #7660 "[Bug] Don't propose "add to home screen" when it was done already"
## Steps to reproduce

1. do "add to home screen" for some url
2. try to do "add to home screen" again for the same url

### Expected behavior

menu option is not displayed, when url was added already. if detecting is not possible, please at least don't display blue dot info for such menu option...

### Actual behavior

blue dot notification for this menu option (add to home screen).

### Device i

[2020-01-13 21:10] rocketsroger commented on #6935
Thanks I'll close this issue.

[2020-01-13 21:10] #6935 closed

[2020-01-13 21:29] apbitner commented on #7606
@ekager Sorry for any confusion, Amy's spec above is correct

[2020-01-13 21:30] apbitner commented on #7653
@shorlander You okay with this?

[2020-01-13 21:50] st3fan opened #7661 "[Bug] (Leanplum) Deep-Link schemes need to be unique per release channel"
We recently fixed the following bug in Fennec:

Summarized, the problem is as follows: if multiple applications (like Firefox Nightly, Beta, Release) all register that they can handle the `firefox://` intent scheme, it becomes unpredictable which app will be opened when we send for example a Leanplum notification that uses that deep-link scheme. Even if the notification itself is directly targeted

[2020-01-13 22:08] ktaeleman opened #7662 "[Bug] Loading about:config on android Andreno3xx causes browser to crash"
Copied from original bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1608906

## Steps to reproduce
Enable webrender through about:config (gfx.webrender.enabled = true).
Also gfx.webrender.compositor is also set to true.

Navigate to about:config

### Expected behavior
Does not crash

### Actual behavior
Crashes

### Device information

* Android device: Lg phoenix plus android phone running and

[2020-01-13 22:10] marcinwiacek commented on #7657
The same happens in URL bar, I've modified title, thx.

[2020-01-13 22:15] marcinwiacek opened #7663 "[Bug] Internal page(s) are marked as insecure"
## Steps to reproduce

open about:config

### Expected behavior

internal page is marked as secure

### Actual behavior
![Screenshot_20200113-231237_Firefox Nightly](https://user-images.githubusercontent.com/24834168/72296690-87b58c00-365a-11ea-8ca7-ee637b77890e.jpg)

### Device information

* Android device: android 8 / s7
* Fenix version: nightly 13jan

[2020-01-13 22:35] cadeyrn commented on #7338
This is fixed in Fenix Nightly (since https://bugzilla.mozilla.org/show_bug.cgi?id=1581868).

[2020-01-13 22:36] 3j9fkyahunqoxwqu commented on #4203
Hello

This will be great if also it implemented in mobile UI,

For me (as someone that heavily use bookmarking system) one of the biggest advantages of Firefox Desktop over chrome is its tree like bookmark page. (one of the biggest reasons i switched from chrome to firefox was this)

But both classic firefox for android (fennec) and firefox preview (fenix) don't have that great option and using b

[2020-01-13 22:42] cadeyrn commented on #7663
Duplicate of https://github.com/mozilla-mobile/android-components/issues/4156 (there are also already some duplicates in the Fenix repository but these are all marked as duplicate of https://github.com/mozilla-mobile/android-components/issues/4156).

[2020-01-13 22:45] liuche commented on #1901
GV doesn't think this is a Gecko problem, but rather a problem in Fenix not destroying the SurfaceView in time. So the next steps here are to verify that we're handling the SurfaceView correctly.

```I'm not convinced the black flash when navigating away is graphics' fault. We set everything inactive in GeckoView.Display.onSurfaceDestroyed(), which I presume happens when the SurfaceView is destroy

[2020-01-13 22:49] liuche commented on #5543
@Baron-Severin and @ekager landed this in AC on 1/10 with https://github.com/mozilla-mobile/android-components/pull/5316/files

I'm going to close this, because this can't be QA-verified until #6696 is done to use the AC APIs.

[2020-01-13 22:49] #5543 closed

[2020-01-13 23:17] liuche commented on #7092
Checking on the dependencies:
@apbitner are there any additional changes to the UI, that came out of the user study?
@mheubusch are there final strings for this? String freeze for migration strings in 1/15, so we need to have those string so @sblatz can pre-land them.

[2020-01-13 23:17] kbrosnan commented on #5659
This site requires the browser to leak the device model and user locale in the user agent. This is not something Gecko wants to do. The site supports a dozen or so Samsung devices from 2014/2015. Affected users should use the system browser to view the support documentation.

[code]

[2020-01-13 23:17] #5659 closed

[2020-01-13 23:21] #7663 closed

[2020-01-13 23:22] Baron-Severin commented on #7625
QA note: this was fixed in AC, but will not be testable in Fenix until we have a build using the new snapshot.

[2020-01-13 23:22] #7643 closed

[2020-01-13 23:23] #7654 closed

[2020-01-13 23:49] liuche commented on #7332
Interesting - I closed the issue since it sounded like our QA couldn't repro it, except when changing the global engine setting from another device, which is intended behavior.

Could you give us more details on this @Mossop?
- Is your desktop still syncing Bookmarks through your FxA, even though it is now unchecked and not syncing on Fenix?
- How often does Fenix stop syncing your bookmark engine

[2020-01-13 23:59] kbrosnan commented on #7638
Which password manager do you use? If it is lastpass we have [1491989](https://bugzilla.mozilla.org/show_bug.cgi?id=1491989) which will be fixed when Fenix uses Gecko 73.

[2020-01-14 00:06] kbrosnan commented on #6065
This is a dupe of #580. Unless you want the text for the anchor element to be displayed.

[2020-01-14 00:06] #6065 closed

[2020-01-14 00:09] grigoryk commented on #7332
This is indeed pointing out a bug, somewhere in the Sync ecosystem. Settings are global, any connected device can control them, but they shouldn't change without an explicit user interaction.

[2020-01-14 00:11] Baron-Severin commented on #7506
My mistake, they do disappear after being interacted with as well.  Alright, I will work on getting the highlight on the 3-dot.  Thanks!

[2020-01-14 00:32] rpappalax opened #7666 "Temp disable flaky verifyContextSaveImage UI test"
It passes on Pixel2 but intermittent failures on Nexus6

[2020-01-14 00:34] rfk commented on #7332
@grigoryk I feel like we've discussed some racy behaviour for Fenix in this area in the past, e.g. if the user goes into settings to edit their CWTS options at the same time as Fenix is refreshing those options in the background, then the local changes might be overwritten. Could that be what's happening here?

[2020-01-14 01:48] liuche commented on #7092
Sorry @sblatz there was some miscommunication here - @jonalmeida will actually be doing this piece, just needed a Fenix-by-AC label.

[2020-01-14 01:52] liuche commented on #6980
Hey @apbitner, just checking in here - are the onboarding cards for this finalized? or are we still waiting on strings, etc. I already see some mocks for these cards https://app.abstract.com/share/b1b9f719-fbb5-4c94-b45d-556232a3cd52 and just wondering if they are ready for eng! If so, could you move it to the Feature Backlog column (or add an `eng:ready` label)? Thank you!

[2020-01-14 03:19] mcomella commented on #7448
Triage: we'll wait until next week to see if a larger effort needs to be made here.

[2020-01-14 03:24] grigoryk commented on #7332
It could be, yeah. I don't think we can say for certain one way or another without logs of this happening.

[2020-01-14 03:34] mcomella commented on #7617
@Dexterp37 It has occurred in 5 of the profiles I took today: at minimum, it was ~80ms and at maximum 386ms but usually around 100ms.

Do you think your team can look into this? My team can assist you with using the profiler, if it's helpful. In `flushQueuedInitialTasks`, it looks like we are blocking the main thread waiting for async tasks to complete: instead of blocking, can we do the work foll

[2020-01-14 07:41] RichyHBM commented on #7638
Yes, it is lastpass that I'm using

[2020-01-14 08:19] FluorescentHallucinogen commented on #7653
Here's the icon I propose:

![pwa-install-icon](https://user-images.githubusercontent.com/7892779/72325980-502cfb00-36bf-11ea-9ca9-76e6b299e0e8.png)

What do you think about it?

This icon is platform agnostic. Please take a look at https://crbug.com/977943 to learn more what's wrong with A2HS/Install icons in various browsers (including Firefox).

[2020-01-14 08:38] mcarare commented on #7657
Note: Firefox & Chrome have the same behaviour.

[2020-01-14 08:44] FluorescentHallucinogen commented on #7651
Just noticed that Firefox shows a different persistent notification for TWAs than for PWAs (even without ability to copy the URL).

For PWA:

![firefox-pwa-persistent-notification](https://user-images.githubusercontent.com/7892779/72327850-eadb0900-36c2-11ea-98e8-fb176ca66b04.png)

For TWA:

![firefox-twa-persistent-notification](https://user-images.githubusercontent.com/7892779/72327880-f75f6180-

[2020-01-14 09:34] pocmo commented on #6898
Added the Nightly Firebase token. This should be the last step now.

[2020-01-14 09:35] #6898 closed

[2020-01-14 09:39] softvision-miralobontiu opened #7669 "[Bug] [a11y] Text contrast - consider increasing contrast ratio"
## Prerequisites
1. Make sure you have Google Accessibility Scanner installed.
2. Have a freshly installed build or a clean profile.

## Steps to reproduce
1. Launch Fenix.
2. Using the Accessibility Scanner scan the Onboarding page.

### Expected behavior
There are no suggestions to make any changes.

### Actual behavior
There is a suggestion to consider increasing the "Adapts to your device sett

[2020-01-14 09:40] Dexterp37 commented on #7617
I just filed https://bugzilla.mozilla.org/show_bug.cgi?id=1609052 to look into that. It will be my priority.

[2020-01-14 09:51] marcinwiacek commented on #6065
https://github.com/mozilla-mobile/fenix/issues/6065#issuecomment-543080065 - I'm proposing, that we can display info for link, but also info for pictures.

[2020-01-14 09:53] marcinwiacek commented on #580
my 6065 was closed, but in the same I will say one thing:

In Chrome there were three context menus:

    classical - one tab, expandable URL or text (depends on object)
    tabbed - one or more tabs, AFAIR expandable URL, not available anymore in Canary
    revamped - one tab, short non-expandable text + expandable URL

I highly suggest to go into tabbed menu + expandable text+expandable URL in l

[2020-01-14 09:59] marcinwiacek commented on #7657
I don't agree with last comment - just double checked between FP and Canary.

[2020-01-14 10:17] s-ankur opened #7671 "[Bug] Firefox crashes on login to sync"
## Steps to reproduce
(On a fresh install)
Click Sign in to Firefox
Use Email instead
Enter email and password
### Expected behavior
login to sync
### Actual behavior
crash
### Device information

* Android device: Asus Zenfone M1
* Fenix version: Nightly 200112 18:01 (Build #20121807)

[2020-01-14 10:21] softvision-miralobontiu opened #7672 "[Bug] [a11y] Accessibility Scanner suggests increasing the "x" button from Save to Collection page"
## Prerequisites
1. Make sure you have Google Accessibility Scanner installed.
2. Have a freshly installed build or a clean profile.

## Steps to reproduce
1. Open a few tabs.
2. From the "Open tabs" section tap on the "Save to collection" button.
3. Scan the collections tabs selection fragment.

### Expected behavior
No suggestions are made.

### Actual behavior
Accessibility Scanner suggests the

[2020-01-14 10:22] s-ankur commented on #7671
Difficult to replicate but does happen a few times

[2020-01-14 10:35] s-ankur opened #7673 "[Bug] Firefox crashes on sign out"
## Steps to reproduce
Click Sync Now from settings
Sign out (quickly)
click anywhere on screen
### Expected behavior
Sign out
### Actual behavior
Crash
### Device information

* Android device: Asus Zenfone M1
* Fenix version: Nightly 200110 06:01 (Build #20100617)
28.0.0, 38520f41f
GV: 74.0a1-20200109094415

[2020-01-14 10:39] marcinwiacek commented on #7657
![Screenshot_20200114-113740_Chrome Canary](https://user-images.githubusercontent.com/24834168/72337216-7acc8300-36c2-11ea-96d0-ff835a7006b9.jpg)
![Screenshot_20200114-113805_Firefox Nightly](https://user-images.githubusercontent.com/24834168/72337219-7d2edd00-36c2-11ea-8478-41b7ee78505d.jpg)

URL bar behaves the same (differently), please be more careful in checking.

[2020-01-14 11:03] KaairaGupta commented on #6965
May i be assigned this issue?
Also, how should i proceed with it?

[2020-01-14 11:16] DobaKung opened #7674 "[Bug] 'Reconnect to Sync' doesn't reconnect despite successful login"
## Steps to reproduce
1. Open _Settings_ page
2. Tap _Reconnect to resume syncing_
3. Tap _Sign in to reconnect_
4. Enter valid credentials
5. Tap _Sign in_ button
6. Tap X (close) button

### Expected behavior
Firefox Preview is connected to my account and resumes syncing

### Actual behavior
Firefox Preview doesn't connect to my account. 'Reconnect to resume syncing' notice persists.

### Device

[2020-01-14 11:22] abodea commented on #3907
Reproducible on **Fenix 3.1.0-beta  3(Build #20092354) GV 71** with **Google Pixel 3a XL(Android 10).**

[2020-01-14 11:25] abodea commented on #6304
Reproducible on **Fenix 3.1.0-beta  3(Build #20092354) GV 72** with **Google Pixel 3a XL(Android 10).**

[2020-01-14 11:29] marcinwiacek commented on #7657
jan 13 - info about link menu

jan 13 - The same happens in URL bar, I've modified title, thx.

jan 14 - Firefox & Chrome have the same behaviour (comment is generic)

jan 14 - here are screenshots showing some diffs (info in url bar component area is different)

@mcarare - you're not right, although screens show something opposite.

[2020-01-14 11:33] jamienicol opened #7675 "GeckoSession is resumed before keyboard is hidden after URL bar has been focused"
I recently fixed #7338 (https://bugzilla.mozilla.org/show_bug.cgi?id=1588581). This was where when opening a page in a new tab in Fenix with webrender enabled, the portion of the screen where the keyboard used to be would remain black until the first paint (this could last a few seconds for the page to load).

The problem was that when the URL bar is focused (either by clicking on it directly from

[2020-01-14 11:37] jamienicol commented on #7675
Note when I talk about GeckoSession being paused/resumed, I'm not 100% sure if that's exactly the relevant thing. GeckoSession.onSurfaceChanged() is the function that I know is being called too early, as that leads directly to rendering. This is called from the SurfaceView listener. So maybe I should actually be saying "the SurfaceView becomes visible before the keyboard is hidden" which might be

[2020-01-14 11:38] abodea commented on #7370
Reproducible on **Fenix 3.1.0-beta  3(Build #20092354) GV 72** with **Google Pixel 3a XL(Android 10).**

[2020-01-14 12:38] sv-ohorvath commented on #220
@Baron-Severin @BranescuMihai this landed on Beta 3.1.0 but it still has the issues mentioned above, not in a very good condition. Should we hide it until the bugs are fixed?

[2020-01-14 12:50] softvision-miralobontiu opened #7676 "[Bug] Selecting the entire text in a page, displays an extra button overlapping some elements"
## Steps to reproduce
1. Load a page that has a lot of text (i.e. wikipedia.org).
2. Long-tap on a non-linked word, then choose to select all.
3. Observe the top-left corner.

### Expected behavior
No extra buttons or options are displayed.

### Actual behavior
An extra "Open" button is displayed, which is overlapping some elements from the page.

### Device information
* Android device: all
* Fen

[2020-01-14 12:53] sv-ohorvath opened #7677 "[Bug] ANR on selecting language from the search bar"
## Steps to reproduce
1. Go to Settings>Language.
2. Type in the search bar the letter "f": will show 2-3 languages
3. Tap to select one: French, for e.g. Wait for the app to update to the new language.
4. Search again, select Suomi.
### Expected behavior
Language is selected, shows a checkmark.
### Actual behavior
App either stops responding, or the selected language is hidden from the search res

[2020-01-14 12:55] pocmo commented on #7092
@jonalmeida will help us push that into a functional, "good enough" state for Nightly. There will likely still be follow-up for Beta/Production migration (which may need a Fenix owner). :)

[2020-01-14 14:03] softvision-miralobontiu opened #7678 "[Bug] Accessibility Scanner crashes on Fenix Beta"
## Steps to reproduce
1. Install Accessibility Scanner from Play Store.
2. Install Fenix Beta.
3. Start the Accessibility Scanner app and try to scan Fenix Beta.

### Expected behavior
The Accessibility Scanner app scans Fenix without issues.

### Actual behavior
The Accessibility Scanner app crashes.

### Device information
* Android device: Samsung Galaxy Tab S3 (Android 8), OnePlus 5T (Android

[2020-01-14 14:19] sv-ohorvath opened #7679 "[Bug] Selecting the current device language from the language list, moves the selection to Follow system language"
## Steps to reproduce
1. Set device language to EN-US/or Spanish (Espana), for example.
2. In Fenix, go to Settings>Language and select  EN-US/or Spanish (Espana) from the list.
3. Exit and return to the language menu.
4. Observe the selection.
### Expected behavior
The selection of EN-US/or Spanish (Espana) language is marked as selected.
### Actual behavior
The default Follow device language is

[2020-01-14 14:27] abodea commented on #3900
Reproducible on **Fenix 3.1.0-beta  3(Build #20092354) GV 72** with **Google Pixel 3a XL(Android 10).**

[2020-01-14 14:44] sv-ohorvath opened #7681 "[Bug] What's new page for 3.1 opens the 3.0 one"
## Steps to reproduce
1. Open the What's new link from the homescreen menu.
### Expected behavior
What's new in 3.1 page.
### Actual behavior
What's new in 3.0 page.
### Device information

* Android device: ?
* Fenix version: Beta 3.1.0-beta3

[2020-01-14 14:47] AaronMT commented on #7666
Is there a log to debug?

[2020-01-14 14:49] cadeyrn commented on #7681
The described actual behaviour is the same behaviour as with previous releases - there was always only a SUMO page for major releases which also contains the enhancements of the previous minor releases.

[2020-01-14 14:51] abodea commented on #2725
Reproducible on **Fenix 3.1.0-beta  3(Build #20092354) GV 72** with **Google Pixel 3a XL(Android 10).**

[2020-01-14 15:05] sv-ohorvath opened #7682 "[Bug] (regression) Can't download a new file after a canceled one"
## Steps to reproduce
1. Download a medium-large file, to be able to cancel it.
2. Open the notification drawer and cancel it.
3. Try to download a new file.
### Expected behavior
The second download starts.
### Actual behavior
The second download doesn't start. You need to restart the app.
### Device information

* Android device: Nexus 9 (Android 7.1.1), Nexus 5 (Android 6.0.1)
* Fenix version:

[2020-01-14 15:15] KaairaGupta commented on #3813
I was using someone else's system, as my laptop had crashed, and I forgot to change the global git user before committing, so please ignore cb104102460c27b004ccad84f75ffa66f2d0b3c8.
Changes have now been made in author.

I have made the PR (#7683) so please review it @ekager

[2020-01-14 15:27] apbitner commented on #6980
@liuche I'm reviewing with Vesta & design team today so should be able to wrap them up today/tomorrow. Strings for migration UI (not including these onboarding cards) was finalized last week but I'll get the rest reviewed ASAP once the cards are finalized.

[2020-01-14 15:30] apbitner commented on #7092
@liuche The UI and strings in the Data Migration section are final

[2020-01-14 15:31] softvision-miralobontiu opened #7684 "[Bug] The error messages have different colors in three-dot menu"
## Steps to reproduce
1. Sign into FxA on Firefox Preview on your device. Verify your email, if necessary.
2. Sign in with the same account on Desktop.
3. Change your password on the desktop account.
4. Go to Settings - account on your device and force sync.

### Expected behavior
The three-dot menu turns yellow with a highlighted dot. In the three-dot menu, "Settings" option is displayed on a yel

[2020-01-14 15:36] #6697 closed

[2020-01-14 15:54] abodea commented on #7630
@mirdaki Does this still reproduce and can you get a logcat? https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information
--
Hello, note that I tried to reproduce this issue on the following builds and devices:
- **Firefox Preview Latest Nightly 1/14 GV 74**
- **Firefox Preview Beta 3.1.0-beta.3 GV 7**
- **Firefox Preview RC 3.0.2 GV 71**
- **Firefox Focus 8.025(Build #340092236) GV 71**

[2020-01-14 16:47] #7563 closed

[2020-01-14 16:59] mirdaki commented on #7630
@sv-ohorvath and @abodea, here is a [gist](https://gist.github.com/mirdaki/406d195331e1a011629e1cb33a67188e) with the Firefox Preview crashes. I have one log file for the launch then crash and another file for the background crashes I've seen. Let me know if they were captured properly and if I can do anything else to help.

[2020-01-14 17:06] boek commented on #5629
https://bugzilla.mozilla.org/show_bug.cgi?id=1586438

Closing as a dup of #5789

[2020-01-14 17:06] #5629 closed

[2020-01-14 17:08] boek commented on #5597
@harshlele I think you added a number to that issue link. Could I get the issue you were referencing?

[2020-01-14 17:09] boek commented on #5123
@fluffyemily will try to find a fennec issue and open it against fenix

[2020-01-14 17:14] AaronMT opened #7687 "[Bug] Temp disable UI failure in verifyContextCopyImageLocation and verifyContextSaveImage and verifyContextOpenImageNewTab"
https://console.firebase.google.com/u/1/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5687102351907807611

[2020-01-14 17:22] Baron-Severin commented on #6557
Whoops, forgot to unassign myself here.  I started work on the polish sprint just after assignment here, and have not done any work on it.

[2020-01-14 17:37] ekager commented on #7594
Reopening for QA

[2020-01-14 18:10] Baron-Severin commented on #3088
@Delphine I noticed that our list doesn't include `es`, only more specific codes (e.g., `es-AR`).  This will cause problems for users who 1) are in a region we don't specify and 2) on older (pre-7) Android versions.  They will wind up falling back to default (`en`) translations.

The easy fix here is to add `es` to our `RELEASE_LOCALES` list.  If you don't have any objections, I'm going to do that

[2020-01-14 18:12] #7172 closed

[2020-01-14 18:18] kbrosnan commented on #3088
Should we do this for other language families? `fr` for example.

[2020-01-14 18:18] sblatz commented on #5722
I'm still seeing this as pixelated on my Galaxy S9 (nightly 1/12/20)

I've removed and re-added the widget just to make sure it wasn't an old one.

<img width="492" alt="image" src="https://user-images.githubusercontent.com/4400286/72370477-3091d480-36b7-11ea-9081-4f9d114618df.png">

@mcarare

[2020-01-14 18:20] liuche commented on #6965
@sblatz is this going to be affected by #5892 ?

[2020-01-14 18:25] sblatz opened #7689 "[Bug] "normalized_channel" is sometimes null (instead of "release")"
The normalized channel should be sending "release" but sometimes it's set to null.

See: https://sql.telemetry.mozilla.org/queries/67495/source

Discovered by mgorlick

[2020-01-14 18:26] AaronMT commented on #7666
Duping to https://github.com/mozilla-mobile/fenix/issues/7687

[2020-01-14 18:26] #7666 closed

[2020-01-14 18:34] Baron-Severin commented on #3088
AFAICT, `es` is the only one we aren't already doing this.  It looks like a simple oversight to me, but I wanted to check in before modifying the list.

[2020-01-14 18:34] boek commented on #7613
Eng will work with Amy to get an image that fits around the radio button

[2020-01-14 18:34] sblatz commented on #6965
Yes, @liuche. This should be covered by that :)

[2020-01-14 18:37] boek commented on #7574
When we fix this let's verify we're not sending any other translated strings to telemetry

[2020-01-14 18:43] AaronMT commented on #7687
Nexus 6 (API 25) intermittent issues with these three tests and images in particular. Let's disable and see what we can investigate.

verifyContextCopyImageLocation
verifyContextSaveImage
verifyContextOpenImageNewTab

[2020-01-14 18:47] boek commented on #6969
@AndiAJ This may have

[2020-01-14 18:47] #6969 closed

[2020-01-14 18:47] boek commented on #6969
We are no longer able to reproduce this issue.

[2020-01-14 18:49] boek commented on #6801
@vesta0 and @Baron-Severin will prioritize these issues

[2020-01-14 18:52] thecodingdude opened #7690 "Freeze (deprecate) the UA string, leading to its removal"
### Why/User Benefit/User Problem

In line with [Google's intent to freeze the UA string](https://groups.google.com/a/chromium.org/forum/m/#!msg/blink-dev/-2JIRNMWJ7s/yHe4tQNLCgAJ) Firefox Preview should do the same thing

### What/Requirements

Align with Google's timeline for removing the UA string

### Acceptance Criteria (how do I know when I’m done?)

UA strong gone.

[2020-01-14 19:00] mcomella commented on #6679
Unassigning Will: not actively being worked on so I want to minimize confusion. This is still blocked on delaying push init.

[2020-01-14 19:00] #5925 closed

[2020-01-14 19:01] vesta0 commented on #6073
Thanks for the feature request. We will consider this at a later date when we look at polishing the history feature.

[2020-01-14 19:05] djc opened #7691 "[Bug] Crashes while logging in to Google or GitHub"
## Steps to reproduce

1. Login to GitHub (for example, for an OAuth authorization) or Google (for example, to install a Play Store app)

### Expected behavior

1. Login proceeds as usual

### Actual behavior

Firefox crashes on each attempt. After reopening Firefox, something seems stuck with that origin and it's showing a broken lock even though the URL has a https scheme.

### Device informatio

[2020-01-14 19:07] #7687 closed

[2020-01-14 19:07] boek commented on #5809
This is not supported behavior in Firefox Preview yet.

[2020-01-14 19:07] #5809 closed

[2020-01-14 19:08] djc opened #7692 "[Bug] Tab outline is less tall than tab itself"
## Steps to reproduce

1. This seems to happen always/quite often when backing out from a content activity to the tab switcher

### Expected behavior

Outline matches tab background.

### Actual behavior

![Screenshot_20200114-200559](https://user-images.githubusercontent.com/158471/72373946-960eb100-3709-11ea-9fd5-5dd04b77399a.png)

### Device information

* Android device: Pixel 2
* Fenix versio

[2020-01-14 19:11] Baron-Severin commented on #5843
We should timebox this to avoid going down a rabbit hole.

Refactor note: currently we're flipping these between two states (created / deleted), with some delays before moving between them.  We can't reliably execute code when the app is being killed, leading to this edge case.  If we instead moved between three states (created / deletionScheduled / deleted) it could handle this.  When starting th

[2020-01-14 19:12] RichyHBM commented on #7638
I just looked and I'm using Fenix Nightly (from play store) version 200114 06:01 that includes Gecko 74.0a1 and it is still occurring

[2020-01-14 19:14] ekager commented on #7638
Could you possibly give us more exact STR so we can investigate this? Which website/login URL? So we can try to reproduce this

[2020-01-14 19:15] sblatz commented on #5714
This sounds like it may be the Galaxy Store forwarding to the Google Play Store (since that's where we're hosted). It sounds like we don't want to specifically target the google play package since we may host on other stores in the future.

That being said, we **could** detect if Google Play Store is installed and change the text of this button in cases where it's not?

Either way we decided this

[2020-01-14 19:15] AaronMT opened #7693 "[Bug] Temp disable UI test verifyContextMixedVariations"
Akin to https://github.com/mozilla-mobile/fenix/issues/7687 let's figure out what's going on with the Nexus 6.

https://console.firebase.google.com/u/1/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8689310278145952763/executions/bs.fa31f81cb9c40a3c/testcases/1

Disable verifyContextMixedVariations

[2020-01-14 19:18] cadeyrn commented on #7692
Duplicate of #6560 which was closed because the tabs on the start screen will be removed with #7115.

[2020-01-14 19:31] kbrosnan commented on #7690
GeckoView controls the user agent.

[2020-01-14 19:31] #7690 closed

[2020-01-14 19:32] vesta0 commented on #5073
@liuche will investigate whether this is ready to be picked up in the next sprint.

[2020-01-14 19:33] RichyHBM commented on #7638
It happens on twitter if thats any help? To mention, lastpass can input email/password into the fields, but it doesn't recognise that I am on twitter.com

[2020-01-14 19:37] sblatz commented on #6380
This is probably way less work now that [this ac patch](https://github.com/mozilla-mobile/android-components/pull/5484) landed 😄

[2020-01-14 19:41] marcinwiacek commented on #6073
Dear @vesta0

It's very sad to see, that something useful was moved into infinite future, although could be added in fact with zero effort from your team side. I hoped, that this browser is truly built for the people and I simply don't understand this, thx for providing answer (which puts FF in this detail equal to Chrome).

[2020-01-14 19:53] NotWoods commented on #7651
It would be part of this issue

[2020-01-14 19:55] #7693 closed

[2020-01-14 19:55] tublitzed opened #7695 "[Bug] Unexpected delays in Sync (pointed to spanner)"
## Steps to reproduce

I thought that Sync was broken this AM; looks like it's not, just seems very slow (even to fetch a single bookmark). I'm not seeing an obvious way to force a sync in Fenix (tried pull to refresh, etc), so it's possible that this is simply user error....but I wanted to file a bug anyways as it's something that I could see being easily mistaken for "sync is broken".

To repro:

[2020-01-14 20:00] ekager commented on #7638
@RichyHBM I can reproduce and seems to only be a problem with LastPass and only a problem with Nightly :/ I can try reaching out to their eng team, thanks for alerting us!

[2020-01-14 20:16] Delphine commented on #3088
Can you point me to your release locale list? I'd like to double-check what's already there, because we don't really have a release process in place yet for any of the other locales. So we'll need  to make sure they have been tested by localizers first.

[2020-01-14 20:21] kbrosnan commented on #5809
To provide a little more context. Fission work will be in Gecko. There is little work that this team can do to fix the issue you are seeing. Reporting this on [Bugzilla](https://bugzilla.mozilla.org) may be useful to the Fission team.

[2020-01-14 20:23] #7692 closed

[2020-01-14 21:20] djc commented on #7691
The latest instance involved logging in to GitHub's new Android app, which I vol es the Oauth authorization flow. I think it was maybe trying to redirect back to the app after authorization? In any case, I managed to make it work after temporarily setting my default browser to Fennec Nightly.

[2020-01-14 21:35] AmyYLee commented on #7157
@sblatz Hi, can we go with Opt 2 "Expand the menu width up to a certain max_width we determine (potentially larger than what we have now) & truncate items that don't fit"

Can we also ensure that "Add to Home screen" doesn't get truncated? There's a screenshot between Nightly and Release where in the Release version it's truncated but there's enough space for all the words to fit.

Is there's a "w

[2020-01-14 21:44] Baron-Severin commented on #6797
We could quickly fix this by speeding up both the fade out and fade in of the title text, and making sure the previous value is completely gone before fading in the new one.

[2020-01-14 21:56] Baron-Severin commented on #6798
I believe if we refactored the home screen state to look something like below, then we might be able to fix this bug, #6796, and possibly some other display flicker at the same time.

[code]

[2020-01-14 21:58] sblatz commented on #6304
@abodea are you saying you're still having this issue? Is it happening for you on nightly?

[2020-01-14 22:00] cadeyrn commented on #7203
@pocmo Is it intended that you added the old Firefox Nightly logo and not the current one?

[2020-01-14 22:00] Baron-Severin commented on #6801
After talking with @vesta0, #6798 seems to be the highest priority.

[2020-01-14 22:20] sblatz opened #7698 "[Bug] Back button should animate to the left before search screen disappears"
## Steps to reproduce
1. Open the search screen
2. Press back

### Expected behavior
1. The back button animates to the left (off of the screen) while the rest of the screen transitions

### Actual behavior
1. The back button stays in place while the rest of the screen transitions and then flickers out.

### Device information
* Android device: Galaxy S9 Android 9
* Fenix version: 1/14/20 nightly

[2020-01-14 22:20] liuche commented on #220
Yes, is it easy to hide that language picker setting, or make it Nightly only? @BranescuMihai could you open a PR for that, to make this Language Picker Nightly-only until these bugs and #7559 are fixed? That we can also uplift it into the Beta.

[2020-01-14 22:55] NotWoods commented on #6798
There's also the state between opening the app and the tabs being loaded. I think a new 'transitioning' Boolean separate from the displayed mode would be better.

[2020-01-14 23:10] Baron-Severin commented on #3088
@Delphine the list I'm using is [here](https://github.com/mozilla-mobile/fenix/pull/7581/files#diff-096221606d1251662b9f78c21f82b7e9R22).  I took it from [the equivalent file in Focus](https://github.com/mozilla-mobile/focus-android/blob/master/tools/l10n/locales.py#L22).

[2020-01-14 23:38] colintheshots opened #7700 "MotionLayout home screen performance is very slow on cold startups"
It appears from Marc Leclair's recent SysTrace results that our home screen is loading significantly more slowly in part due to the use of MotionLayouts for hiding the Firefox Preview wordmark image and private browsing mode button. Given the very simple behavior currently being used, we can instead produce this animation using stock CoordinatorLayout behaviors instead. This should also reduce the

[2020-01-14 23:46] mhammond commented on #7331
Same issue with the "dexcom" app - we end up on a page with the "decom://" protocol, and instead of following an existing "app link" (or whatever mechanism is actually used) we get the "unknown protocol" page. FWIW, this works fine on Fennec (and copy/pasting the URL from Fenix into Fennec still works today)

[2020-01-14 23:54] liuche commented on #1901
@vesta0 should we move this into the polish sprint? I think this popped back into the sprint because it was reopened but wasn't explicitly added and has just been a holdover, but I don't think it's as important as some of the other work that's going on. Can we swap this out for #255 ?

[2020-01-14 23:58] mcomella commented on #7281
We spoke on Zoom: iirc, after hawkinsw's change, we noticed this affected the G5 pretty heavily but didn't affect the P2. We decided that, for now, we should focus on changes that only affect both reference devices. As such, I'm sending this back to triage.

[2020-01-14 23:59] mcomella commented on #7281
See the WIP in https://github.com/mozilla-mobile/fenix/pull/7470.

[2020-01-15 00:44] st3fan commented on #7645
@jonalmeida can we close this or move it to QA? (Is it verifiable by QA?)

[2020-01-15 01:00] jonalmeida commented on #7645
Add the label as soon as the patch lands. 👌

[2020-01-15 01:02] rpappalax opened #7702 "[Bug] Fix Nightly androidTest apk for startup test"
## Summary
The nightly startup test: [NavigationToolbarTest#visitUrlTest](https://github.com/mozilla-mobile/fenix/blob/master/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt#L117-L125)  is a gating UI test that is intended to run just prior to publishing to playstore.  If test fails, app crashes, etc., nightly should not be published.  Test is currently disabled because it p

[2020-01-15 01:10] rpappalax commented on #7702
@JohanLorenzo I'm not 100% sure this is the issue, but it seems to be the only difference between the two. Perhaps we need to build instead an androidTest apk with a matching package name?
`org.mozilla.fenix.nightly.test`?

https://github.com/mozilla-mobile/fenix/blob/master/taskcluster/ci/startup-test/kind.yml#L42

[2020-01-15 01:46] mcomella opened #7703 "Check impact of "is migrated" check on cold startup performance"
The data migration will add a temporary check to see if users are already migrated during startup: we should verify this doesn't have a significantly negative impact on startup performance.

[2020-01-15 01:58] marcinwiacek commented on #6086
Dear @kbrosnan ,

@ekager closed #7520 , can I ask if it went over review or was it closed without anything?

[2020-01-15 02:09] ekager commented on #6086
@marcinwiacek we did discuss this in a meeting and I closed your PRs because they were unsolicited and we don't land random features we don't ask for.

I'm going to explain this one more time.

We cannot take unsolicited PRs for features you come up with alone. That is not how our product and team works. Every added feature needs product/UX/content decisions. Just because you have already written

[2020-01-15 02:15] liuche commented on #5664
@rocketsroger is the App Links work still ongoing? If so, I'm going to put this into the Bug Backlog.

[2020-01-15 02:16] liuche commented on #7093
Waiting on decision of whether we should have a search onboarding card.

[2020-01-15 02:17] liuche commented on #5073
This should be ready to work on now that GV site cert bug (see comment 0) has been fixed. WebResponse should include the site certificate information now.

[2020-01-15 02:23] marcinwiacek commented on #6086
It was enough to write "we notified it in our team, but decided not to process and it was closed".

I don't have push for committing code to this project, if project drops all commitment tries (even simple), then situation is clear & there are 3 potential reasons - either I didn't follow your rules (I don't think so, I really went over info from https://github.com/mozilla-mobile/fenix, but maybe..

[2020-01-15 02:43] mcomella commented on #5182
@colintheshots Are there any next steps here or can this be closed?

[2020-01-15 02:55] liuche commented on #373
@boek I think I've lost the state of this bug in my head, could you give me a quick refresh on what is done, or what remains to be done? What is this waiting on?

[2020-01-15 03:37] mcomella opened #7704 "Consider setting Leanplum user attributes asynchronously"
A possible optimization is to call `Leanplum.setUserAttributes` asynchronously, decoupling some calculations from `Leanplum.start()`. However, there are side effects so as discussed in https://github.com/mozilla-mobile/fenix/pull/7475#issuecomment-574467338, there are some product requirements that made this conditional on certain values.

On a P2, I didn't see major wins here https://github.com/m

[2020-01-15 03:57] 532910 commented on #6565
I've the same annoying issue.

[2020-01-15 04:05] 532910 opened #7705 "[Bug] desktop bookmarks not shown"
## Steps to reproduce
I don't know. It just doesn't work and never worked.

### Actual behavior
I'm logged in:
![image](https://user-images.githubusercontent.com/14617699/72403848-8bcdd080-3764-11ea-8677-7068d9a28447.png)
and bookmarks syncs is on:
![image](https://user-images.githubusercontent.com/14617699/72403891-ad2ebc80-3764-11ea-9c35-4df0f0590651.png)
but I don't see desktop bookmarks
![imag

[2020-01-15 07:06] abodea commented on #6304
@abodea are you saying you're still having this issue? Is it happening for you on nightly?
--
Hi @sblatz this is only for beta as I mentioned above. We are doing a full run on testrail for the latest beta.

[2020-01-15 07:39] jonalmeida commented on #7673
Sounds similar to https://github.com/mozilla-mobile/fenix/issues/6663#issuecomment-573018668 but can't say since we don't have logs to verify.

[2020-01-15 07:53] jonalmeida commented on #7673
I did some sleuthing through our Sentry crash reports and was able to identify this crash: https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6667676/events/37552554/

[code]

This is identical to the issue I thought it was.

[2020-01-15 07:53] jonalmeida commented on #7673
Duplicate of https://github.com/mozilla-mobile/fenix/issues/6663.

[2020-01-15 07:53] #7673 closed

[2020-01-15 07:55] hawkinsw opened #7707 "[Bug] Long delay between browsing to URL and page starting to display"
This is a follow-up bug for additional work not covered in #7143

## Steps to reproduce
1. Click on the URL bar
1. Enter `cnn.com`, e.g.,
1. Click "->"

### Expected behavior
1. Click on the URL bar
1. Enter `cnn.com`, e.g.,
1. Click "->"
1. Page begins to render

### Actual behavior

1. Click on the URL bar
1. Enter `cnn.com`, e.g.,
1. Click "->"
1. Wait
1. Page begins to render

### Device infor

[2020-01-15 07:55] hawkinsw commented on #7143
Closing in favor of #7707 where additional work will happen.

[2020-01-15 07:56] #7143 closed

[2020-01-15 07:57] mcarare commented on #5722
@sblatz I've tested on latest master 6 or 7 devices (physical devices) and I do not see any pixelation.
This includes a Galaxy S9 (Android 9), see screenshot below.
![widget](https://user-images.githubusercontent.com/48995920/72415423-19b5b580-377d-11ea-9d78-4dee505953a1.png)

[2020-01-15 08:01] hawkinsw commented on #7707
It appears that the remaining delay comes from

1. Initializing a session: `SessionManager.getOrCreateEngineSession` takes ~130ms on a Pixel 2. For reference, that is ~4x as long as it takes to initialize Gecko
1. (Depending on when this happens and it's effect on when the user sees the page start to render), there is (yet another) `BrowserToolbarView.<init>` that takes > 200ms.

Trace attached.
[

[2020-01-15 08:41] jonalmeida commented on #6730
To keep a record for the ticket:

From what I understand, FxaAccountManager is a heavy start-up which happens because of push.

We experimented with moving Push to a separate component class that lazy init's FxaAccountManager when needed, but this had one hitch in that it broke the feature since FxA needs to register for push subscriptions the first time, before push starts to notify FxA for updat

[2020-01-15 08:52] softvision-miralobontiu opened #7708 "[Bug] [a11y] Consider making the "Common myths" item from PB larger"
Prerequisites

Make sure you have Google Accessibility Scanner installed.
Steps to reproduce

    Go to private mode and make sure no tabs are opened.
    Using the Accessibility Scanner scan the Private Browsing Home screen.

Expected behavior

No suggestions are made.
Actual behavior

There is a suggestion to consider increasing the "Common myths about private browsing" clickable item - as seen

[2020-01-15 09:16] sv-sdeiac opened #7709 "[Bug]Can't use the Navigation toolbar while the deleted bookmark pop-up is displayed"
#### Prerequisites
- You have some bookmarks saved in your App.

### Steps to reproduce
1. Open a bookmarked page;
2. Edit the bookmark page by tapping on the star from 3dot menu;
3. Delete the bookmark;
4. While the Deleted bookmark pop-up is displayed, try to open the 3dot menu.

### Expected behavior
The 3dot menu is opening over the pop-up menu;

### Actual behavior
The 3dot menu is not respon

[2020-01-15 09:56] RichyHBM commented on #7638
If it's just a nightly issue then I'm not as worried! Though hopefully it won't make it into "stable"

[2020-01-15 09:57] softvision-miralobontiu opened #7710 "[Bug] [a11y] Security pop-up overlays password tool-tip pop-up when creating an account"
## Steps to reproduce
1. Turn Talkback or Voice Assistant on.
2. Go to Settings - Turn on Sync and create a new account.
3. Fill in a valid email account, a valid password and then repeat the password.

### Expected behavior
The user can see all the pop-ups presented, both the security "You need this password to access any encrypted data you stored with us." one, and the password tool-tip pop-up "

[2020-01-15 10:08] softvision-miralobontiu opened #7711 "[Bug] [a11y] Show password is read, but cannot be accessed when creating an account"
## Steps to reproduce
1. Turn Talkback or Voice Assistant on.
2. Go to Settings - Turn on Sync and create a new account.
3. Fill in a valid email account, a valid password and then repeat the password.
4. Tap on the "Show password" icon.

### Expected behavior
The "Show password" icon is read and double-tapping on it is accessed and the user can see the password filled.

### Actual behavior
The "S

[2020-01-15 10:09] topotropic commented on #2217
is this fixed? I can't reproduce it
@softvision-miralobontiu could you have a look? Thanks!

[2020-01-15 11:15] TheoChevalier commented on #7157
French is quite impacted, here are the full labels:

Version ordinateur
Ajouter à l’écran d’accueil
Rechercher dans la page
Signaler un problème sur ce site
Ajouter à une collection

![Screenshot_20200115-110511](https://user-images.githubusercontent.com/1294206/72429279-803fd100-3787-11ea-86ac-d10a7e8dc1c1.png)

[2020-01-15 11:16] topotropic commented on #6996
dupe of https://github.com/mozilla-mobile/fenix/issues/3813

[2020-01-15 11:16] #6996 closed

[2020-01-15 12:04] ebalazs-sv commented on #7203
I had tested this on Nightly migration build 01/15 with Samsung Galaxy S8 (Android 9), Huawei Honor 8 (Android 7.0), Xiaomi Mi4i (Android 5.0.2) and as mentioned in the previous comment, the Fennec Nightly logo is displayed.

[2020-01-15 12:13] harshlele commented on #5597
this one? https://github.com/webcompat/web-bugs/issues/47623

[2020-01-15 12:20] harshlele commented on #7554
uhhh doesn't the commit mentioned above solve the issue?

[2020-01-15 12:31] cadeyrn commented on #7203
To be clear: What I meant was that the **_wrong_** Fennec Nightly logo is used.

![logo](https://user-images.githubusercontent.com/1100614/72434192-4973b600-379b-11ea-8d46-d27682dc9d06.png)

[2020-01-15 12:39] boek opened #7713 "[Bug] test"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2020-01-15 12:41] joshvocal commented on #7554
@harshlele Do you mind if I take this one? 😅I was clarifying where `AS` should be placed and I didn't see your message before you asked to be assigned.

[2020-01-15 12:53] harshlele commented on #7554
well yeah I guess since you've already made the commit haha

[2020-01-15 13:12] sv-sdeiac opened #7714 "[Bug]3dot menu from Default search engine list overlaps the search engine name"
## Steps to reproduce
1. Set the Android "Language and Input" to Hebrew;
2. Open Firefox Preview;
3. Go to: 3dot menu->Settings -> Search.

### Expected behavior
No visual artifacts are presented in Hebrew.

### Actual behavior
The 3dot menu from the "Default search engine" options are over the search engine name;

### Device information
Android device:
- OnePlus 5T (Android 9);
- Samsung Galaxy T

[2020-01-15 13:30] topotropic commented on #6973
@NotWoods let's follow the material design guidelines here and keep all caps.

@mheubusch can you make a recommendation for the copy? Thanks!

[2020-01-15 13:37] sv-ohorvath opened #7715 "[Bug] (regression) Private search suggestions don't appear as soon as you tap Allow"
## Steps to reproduce
1. Go to private browsing and type in the search bar to trigger the "allow search suggestions" doorhanger.
2. Tap Allow on showing search suggestions in private mode.
3. continue typing in the search bar to see search suggestions.
### Expected behavior
Search suggestions come up as soon as you allow them.
### Actual behavior
The suggestions don't show up immediately. You need

[2020-01-15 13:48] softvision-miralobontiu opened #7716 "[Bug] [a11y] Consider making "Learn more" clickable item larger"
## Prerequisites
1. Make sure you have Google Accessibility Scanner installed.
2. Have a freshly installed build or a clean profile.

## Steps to reproduce
1. Launch Fenix. Go to private mode.
2. Type any letter in the search bar.
3. Using the Accessibility Scanner scan the page.

### Expected behavior
No suggestions are made.

### Actual behavior
The Accessibility Scanner suggests increasing the

[2020-01-15 13:52] topotropic commented on #6418
@mcarare https://github.com/mozilla-mobile/fenix/issues/7276 feel free to close this issue if you feel your concern is addressed with it. Thanks!

[2020-01-15 13:55] softvision-miralobontiu opened #7718 "[Bug] [a11y] Consider making the "x" button from the ETP pop-up larger"
## Prerequisites
1. Make sure you have Google Accessibility Scanner installed.
2. Have a freshly installed build or a clean profile.

## Steps to reproduce
1. Launch Fenix and go to cnn.com.
2. Using the Accessibility Scanner scan the page with the ETP "Firefox Preview is blocking trackers on this site when the shield is purple." pop-up.

### Expected behavior
No suggestions are made.

### Actual

[2020-01-15 14:06] softvision-miralobontiu opened #7720 "[Bug] [a11y] ETP toggle accessibility updates"
## Prerequisite
Make sure you have Google Accessibility Scanner installed.

## Steps to reproduce
1. Launch Fenix and go to a website (i.e. cnn.com).
2. Tap on the ETP shield icon.
3. Using the Accessibility Scanner scan the Tracking protection context menu.

### Expected behavior
No suggestions are made.

### Actual behavior
The suggestion is to increase the item's height from 27dp to 48dp or lar

[2020-01-15 14:17] softvision-miralobontiu opened #7721 "[Bug] [a11y] Consider increasing some elements from the page's menu"
## Prerequisite
Make sure you have Google Accessibility Scanner installed.

## Steps to reproduce
1. Launch Fenix and go to a webpage.
2. Open the page's menu.
3. Using Accessibility Scanner, scan the page.

### Expected behavior
No suggestions are made.

### Actual behavior
The same suggestion regarding the forward arrow, bookmark, share and refresh items is displayed: "The item's height is 24dp.

[2020-01-15 14:23] ebalazs-sv commented on #7645
@jonalmeida I had tested this on Release, Beta, Nightly migration builds 01/15 with Samsung Galaxy S8 (Android 9), Huawei Honor 8 (Android 7.0), Xiaomi Mi4i (Android 5.0.2), following the steps:
1. On Fennec Release open a page and go to Menu -> Settings -> Share -> Fennec Nightly;
2. Replace Fennec Nightly with Fenix Nightly;
3. On Fennec Release open a page and go to Menu -> Settings -> Share ->

[2020-01-15 14:27] jonalmeida commented on #7645
@ebalazs-sv

At step 4, did you have to open the app to see the tab appear?

If the app is in the background or in foreground already, you should see the tab appear. If it appears by switching between the two then that would mean we didn't receive the tab from push, but by a sync when the app is in the foreground.

[2020-01-15 14:34] softvision-miralobontiu opened #7722 "[Bug] [a11y] Increase some elements from the "Sign in" page"
## Prerequisite
Make sure you have Google Accessibility Scanner installed.

## Steps to reproduce
1. Launch Fenix and go to Settings - Turn on Sync.
2. Enter a valid email and scan the page.

### Expected behavior
No major discrepancies are displayed.

### Actual behavior
We have 2 major suggestions:
- "Terms of Service" and "Privacy Notice" are suggested to be increased from 15dp to 48dp or large

[2020-01-15 14:40] ebalazs-sv commented on #7645
At step 4 the tab appear, I don't have to switch between the apps. Is this correct?

[2020-01-15 15:02] abodea commented on #5103
Reproducible on Fenix 3.1.0-beta 3(Build #20092354) GV 72 with Google Pixel 3a XL(Android 10).

[2020-01-15 15:13] sflorean opened #7723 "[Bug] The account sync doesn't start automatically when the app is brought to the foreground"
## Prerequisites
Connect to Sync on 2 devices.

## Steps to reproduce
1. On the mobile device, create a new bookmark.
2. Minimize and restore the app.
3. Go to Settings>Account and verify if sync works automatically.

### Expected behavior
The account sync starts automatically when the app is brought to the foreground.

### Actual behavior
Sync doesn't start automatically.

### Device information

[2020-01-15 15:24] softvision-miralobontiu opened #7724 "[Bug] [a11y] Text contrast - consider increasing contrast ratio on "Add search engine" elements"
## Prerequisites
Make sure you have Google Accessibility Scanner installed.

## Steps to reproduce
1. Launch Fenix and go to Settings - Search - Add search engine.
2. Scan the page.

### Expected behavior
No major discrepancies suggested.

### Actual behavior
The "Replace query with "%s". Example:..." text is suggested to have a 3.00 ratio, instead of 1.24.

### Device information
* Android device

[2020-01-15 15:31] rocketsroger commented on #5664
Yes, we are blocked waiting for a GeckoView fix.  Once the GV fix is merged, this issue needs to be retested to confirm.

[2020-01-15 15:31] KaairaGupta commented on #6388
@boek is it still an issue? Because i don't seem to be able to reproduce it on my device(android 9)

[2020-01-15 15:35] KaairaGupta commented on #4840
Hey @AmyYLee! Can I be assigned this issue?
Also, how should i proceed with it and which files should i look up?

[2020-01-15 15:35] sv-ohorvath commented on #7331
Can reproduce this on Beta 3.1.0 now, any custom scheme link from http://rpappalax.github.io/testapp returns unknown protocol. The reddit "open in app" button doesn't respond either (no response or error).

[2020-01-15 15:40] softvision-miralobontiu opened #7725 "[Bug] [a11y] Consider increasing the "Info" icon items from the ETP page"
## Prerequisite
Make sure you have Google Accessibility Scanner installed.

## Steps to reproduce
1. Launch Fenix and go to Settings - ETP.
2. Scan the page.

### Expected behavior
No major discrepancies are suggested.

### Actual behavior
The suggestion is to increase the item's size from 24dp x 24dp to 48dp x 48dp or larger - as seen in the screenshot below.

### Device information
* Android dev

[2020-01-15 15:43] dector commented on #5436
@boek Are crashes uploaded successfully?

[2020-01-15 15:47] sflorean opened #7726 "[Bug] Crash when tapping on "Retry" when the tab wasn't sent"
## Prerequisites
Sign in with the same account on Desktop and on Firefox Preview.

## Steps to reproduce
1. On Android, open a webpage and tap Share from the main menu (don't tap on the account displayed).
2. On Desktop - your account - Manage account and change the password.
3. Immediately after the password is changed, go to Android and tap on the desktop account (displayed at step 1).
4. Tap on

[2020-01-15 15:52] andreasbovens commented on #7575
That is expected behavior for Custom Tabs. We want to load external content from PWAs in a similar fashion as we'd load content from native apps (calling a CT).

[2020-01-15 15:54] #6418 closed

[2020-01-15 16:01] colintheshots commented on #5182
Fretboard was removed. We should file a new issue if `Experiments.initialize` needs optimizations as well.

[2020-01-15 16:07] softvision-miralobontiu commented on #7678
Workaround: cleaning the Beta profile, fixes it.

[2020-01-15 16:22] shorlander commented on #7653
Potentially.

For some context behind the current icon: the reason for including the device is to add context that installing a PWA will put it on your device home screen, not your browser home screen. We’ve seen some confusion around what installing a PWA means, and where they will end up.

I don’t think we know what PWA support will look like in Desktop Firefox yet, so it’s hard to say if the sa

[2020-01-15 16:37] topotropic opened #7730 "[Bug] Add PB shortcut disappears from settings after use"
## Steps to reproduce
1. Go to settings
2. Tap on "Add private browsing shortcut" and add it
3. Check settings for "Add private browsing shortcut"

### Expected behavior
Menu entry is still there

### Actual behavior
Menu entry disappears

### Device information

* Android device: ?
* Fenix version: ?

[2020-01-15 16:38] andreasbovens opened #7731 "[Bug] Custom protocol handling results in error page"
## Steps to reproduce

1. Go to https://europa.eu/european-union/contact/call-us_en
2. Tap on the phone number link.

### Expected behavior

The dial app is opened straight away, with the phone number pre-filled.

### Actual behavior

An "Unknown Protocol" error page is shown and a "tel:" protocol link is shown in the address bar. The three-dot menu however has a blue indicator dot, which highligh

[2020-01-15 16:44] andreasbovens opened #7732 "Reword "Install" string for sites with a manifest as "Install as app""
### Why/User Benefit/User Problem

Just the word "Install" doesn't give a whole lot of context or information. "Install as app" better conveys what is going on.

### What/Requirements

Change the string "Install" in the threedot-menu to "Install as app".

### Acceptance Criteria (how do I know when I’m done?)

When navigating to a site with a valid manifest, the threedot-menu should have a menu it

[2020-01-15 16:55] jonalmeida commented on #7554
@joshvocal your change looks good to me, when you make the PR, ping me and I can approve it. :)

[2020-01-15 16:56] jonalmeida commented on #7645
To clarify, the tab should appear without having to bring Fenix to the foreground after the tab is sent.

[2020-01-15 17:01] andreasbovens opened #7733 "[Bug] Some PWA icons are misshaped when installed"
## Steps to reproduce

1. Go to https://pwa.rocks/
2. Tap "Install"

### Expected behavior

A modal "Add to Home screen" dialog featuring a square icon is shown (like in Fennec).

### Actual behavior

A modal "Add to Home screen" dialog with a modified circular icon is shown.
![Screenshot_20200115-165644](https://user-images.githubusercontent.com/613077/72454211-5b178680-37b8-11ea-9bc4-4ccfa727b0c

[2020-01-15 17:32] AmyYLee commented on #4840
@NotWoods @liuche Can you assign and assist with this question? Thanks

[2020-01-15 17:42] #5909 closed

[2020-01-15 17:54] AmyYLee opened #7734 "[Collections] Header text is cut off before animating in when adding to collection"
Steps to reproduce:

1. Open a tab
2. Go to homescreen
3. Long-press tab to select
4. Tap save to collection

Expected:
The "Select collection" header is already visible, same for when people don't have a collection and see the "Name collection" screen

Actual:
The "Select collection"/ "Name collection" header is partially cut off and then the rest of the text animates in.

See video for reference

[2020-01-15 17:55] sblatz commented on #5909
Updates I communicated out to the fenix team:

During design reviews, we should ask ourselves if custom UI is necessary to accomplish the desired behavior. Oftentimes, out of the box android UI has accessibility and localization built in, whereas with custom pieces we need to build it ourselves.

For new features that have UI elements that are unique to Fenix or have user interaction, test them pe

[2020-01-15 17:57] perryjiang commented on #6326
On Bugzilla this was marked as a duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1409979, which should be resolved soon once it lands in mozilla-central.

[2020-01-15 18:00] AmyYLee opened #7735 "[Private Browsing] Add private browsing shortcut shouldn't disappear after adding shortcut"
Steps to reproduce:

1. Go to Fenix Homescreen -> Settings
2. Tap on "Add private browsing shortcut"
3. Tap "Add automatically"

Expected:
When I go back to the Settings menu the "add private browsing shortcut" should still be there and allow the user to add multiple shortcuts on their android homescreen.

Actual:
When I go back to the Settings menu the "add private browsing shortcut" menu item is

[2020-01-15 19:13] #7713 closed

[2020-01-15 19:21] mcomella opened #7736 "Add mitigation to prevent use of WebURLFinder"
It takes a long time to compile (493ms on a P2), wasting users battery life and potentially blocking UI operations for something that we often have faster and better ways of solving.

### Acceptance criteria
- Devs cannot add WebURLFinder to the fenix code base
- WebURLFinder is not used in the a-c code used by Fenix

---

`WebURLFinder` is actually an a-c class: can we just remove it?

[2020-01-15 19:36] NotWoods commented on #7733
Which Android version are you using? Currently we save all icons as adaptive icons to match with the system.

[2020-01-15 19:38] cadeyrn commented on #7730
This was implemented this way in #5233.

[2020-01-15 19:56] mheubusch commented on #7093
@liuche No search onboarding card at this time.  One new See what's new card here: https://docs.google.com/document/d/1ynhu3K-u4unlHBcf0bjW7PHJcoBBa1UV1-PZfHH1LjM/edit?usp=sharing

<img width="198" alt="Screen Shot 2020-01-15 at 1 55 54 PM" src="https://user-images.githubusercontent.com/20115914/72466577-ca807c80-379e-11ea-9278-620a6078b6ad.png">

[2020-01-15 19:57] NotWoods commented on #7462
Wikipedia's manifest uses a browser display mode, so its not installable as a standalone app. However, we should use the manifest to create the icon.

[2020-01-15 20:01] AmyYLee commented on #7157
![Screen Shot 2020-01-15 at 3 00 04 PM](https://user-images.githubusercontent.com/5992746/72466870-c016b080-37a7-11ea-8225-b27e352e33a5.png)

@sblatz Can we keep our current menu width and if strings are longer can we set max width to 314px? - Any string longer than that will get truncated. Thanks

[2020-01-15 20:02] #7462 closed

[2020-01-15 20:14] #6696 closed

[2020-01-15 20:47] ehsan opened #7738 "[Bug] Laggy typing performance on Canada Strong donation page"
## Steps to reproduce
This doesn't happen every time, but in order to reproduce, go to https://torontofoundation.ca/canadastrongcampaign#donate-now and try to fill out the donation form.  I sometimes experience a typing lag of tens of seconds.

### Expected behavior
No typing lag.

### Actual behavior
Typing lag.

### Device information
HTC One m9.

* Android device: Android 7
* Fenix version: 3.0

[2020-01-15 20:57] cadeyrn opened #7739 "[Bug] With external password manager there are two "save login" dialogs"
### Steps to reproduce

1. make sure an external password manager is installed. I use Firefox Lockwise and didn't test with other password managers.
2. make sure the feature to save logins is enabled in Fenix.
3. open a website and log into the website.

### Expected behavior

There is only one "save login" dialog.

### Actual behavior

There are both the dialog of the external password manager an

[2020-01-15 21:20] vesta0 commented on #7093
Closing this issue since we will not have any migration specific onboarding cards.

[2020-01-15 21:28] MarcLeclair opened #7740 "Reduce RecyclerView.layoutManager inflation time on Cold Start up"
Currently, our RecyclerView.LayoutManager inflation is costing us a lot (~3% of start up time just for a few items). It's also affecting our `doTraversal` methods that is handled by the android framework. So, this issue is to address #7488 but with a bit more fine grained details and actionable items.

[2020-01-15 21:40] hakkikaancaliskan opened #7742 "[Bug] Autofill not shown on Turkish with Bitwarden"
No difference between changing language system-wide and in-app settings.
Not just for Spotify, for **All** websites.
Works perfectly on chrome.

**Logs**:
[success_on_eng.txt](https://github.com/mozilla-mobile/fenix/files/4841022/success.txt)
[failed_on_tr.txt](https://github.com/mozilla-mobile/fenix/files/4841023/failed.txt)

**Video**:
https://imgur.com/a/xcVBvWB

On English:
<img src="https://u

[2020-01-15 21:40] freaktechnik commented on #7731
Even worse for some redirects you can't even do the open with app workaround. For example when trying to authorize slack, you're just stranded on the last page of the auth flow. Same applies to oauth flows of other apps that happen in a custom tab (slack opens in browser).

[2020-01-15 22:34] acreskeyMoz commented on #6903
Given that we'd also like to evaluate the pageload performance of other Fenix builds, notably  production, I agree it would be best to have a solution that works outside of performance-test.
A pref works, or also an intent option (provided that it can work for all build options).

[2020-01-15 23:07] NotWoods commented on #7730
The intention here was to only show the settings option if the shortcut hasn't been added. If the shortcut is removed the setting returns.

[2020-01-15 23:30] mcomella commented on #7736
We might be removing it in a-c in https://github.com/mozilla-mobile/android-components/issues/5594

[2020-01-15 23:31] Delphine commented on #3088
@Baron-Severin - I see, I wasn't aware that we had this list of release locales - and that they came from Focus.
Our current locales translating Fenix can be found here: https://github.com/mozilla-l10n/android-l10n/blob/master/mozilla-mobile/fenix/l10n.toml
I update this list every time I add a locale, so it's probably better to take them from there each time. And as Liuche suggested, we'll prune

[2020-01-15 23:32] mcomella commented on #7580
I tried removing Glean and sending builds to ND but I still see a large variance (1.36s to 1.44s over 3 builds).

[2020-01-15 23:33] otede opened #7743 "[Bug] Instant battery drain"
## Steps to reproduce
1. Install
2. Log in to Sync
3. Visit any website
4. Use other apps from now on

### Expected behavior
Normal battery usage

### Actual behavior
Heavy battery usage

### Device information
Moto X Play X1562 with LineageOS Android ROM 14.1 (Android 7.1.x)

* Android device: yes
* Fenix version: the bug report has been observed since pre-3.0 release and the issue is still prese

[2020-01-15 23:59] gaby2300 commented on #7743
Hello @otede Could you please tell me how to download today's 3.0.2? I would greatly appreciate it as I have a week old version!

[2020-01-16 00:15] Baron-Severin commented on #3088
@Delphine sounds good to me, I'll update the PR to point to that.  Thanks!

[2020-01-16 00:47] andreasbovens commented on #7733
Android Pie.

[2020-01-16 01:36] KazaHesto opened #7745 "[webcontent] TfNSW Trip Planner not accepting keyboad input"
## Site with issue and any steps to reproduce
https://transportnsw.info/trip#/
Attempt to type into the From and To fields
### Expected behavior
Can type text
### Actual behavior
Text doesn't input
### Does toggling Tracking Protection fix the issue? (Press the lock icon in the toolbar while on the site to see toggle)
No
### Can you reproduce in [Firefox for Android](https://play.google.com/store/

[2020-01-16 01:45] mcomella opened #7746 "Glean.initialize takes a long time on cold startup"
This issue is to track issues upstream in the Glean SDK:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1610574
- https://bugzilla.mozilla.org/show_bug.cgi?id=1610575

Assigning Alessio to make it clear the Glean team is working on it (but not because Alessio is working on it in particular).

The text below is from when the issue was previously filed and may not still be super relevant.

---

Rela

[2020-01-16 02:05] mcomella commented on #7746
Spoke to the glean team: we should re-evaluate after https://github.com/mozilla-mobile/fenix/issues/7617 and the data migration code is removed https://github.com/mozilla-mobile/android-components/commit/843f3b774ba1ce88c5097574b2049d4898085baa (landed but needs to merge to fenix).

[2020-01-16 02:25] liuche commented on #7093
Need to pre-land these strings.

[2020-01-16 03:06] liuche commented on #7093
I just talked to @mheubusch and it looks like there are going to be a few tweaks to these cards. Strings for the 3 new cards are [here](https://docs.google.com/document/d/1ynhu3K-u4unlHBcf0bjW7PHJcoBBa1UV1-PZfHH1LjM/edit#) (scroll down).

@vesta0 I think we should still get these strings pre-landed ASAP, assuming even though they aren't specifically for migration, they are new onboarding cards tha

[2020-01-16 03:06] mheubusch commented on #6980
Copy updates: https://docs.google.com/document/d/1ynhu3K-u4unlHBcf0bjW7PHJcoBBa1UV1-PZfHH1LjM/edit#

[2020-01-16 03:43] joshvocal commented on #7606
Could I take this one?

[2020-01-16 04:33] jonalmeida opened #7749 "Re-enable failing intent tests"
We disabled the failing tests in https://github.com/mozilla-mobile/fenix/pull/7706 to unblock the migration release.

These need to be re-written so that they work now that the IntentReceiverActivity is the entry point for the app.

[2020-01-16 04:57] otede commented on #7743
Google Play. Automatic updates do work.

[2020-01-16 06:48] rfk commented on #7695
If you go into settings and click on your account, it should show the sync options page with checkmarks for whether to sync bookmarks/history/whatever, and at the top of the page a "sync now" option.

[2020-01-16 07:03] ebalazs-sv commented on #7645
Yes, the tab appear without having to bring Fenix to the foreground after the tab is sent.
I will move this to Done. Thanks!

[2020-01-16 08:11] #7647 closed

[2020-01-16 08:35] Dexterp37 commented on #7746
Note that this should be in today's Nightly.

[2020-01-16 08:51] Dexterp37 commented on #7746
Wait a second: could you instead just comment out `Glean.initialize()`?

[2020-01-16 08:52] ValentinTimisica opened #7751 "[Telemetry] Remove telemetry event"
As a follow up to #5884's [review](https://github.com/mozilla-mobile/fenix/pull/6918#discussion_r364975867), ```SearchWithCustomEngine``` event should be removed because we already track if a search is performed with a custom search engine in ```createSearchEvent ``` method.

[2020-01-16 09:18] sv-sdeiac commented on #7625
Hello, I was unable to reproduce this issue using the latest version of Firefox Preview Nightly (1/16 build #20160806) on the following devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Samsung Galaxy S7 Edge (Android 8.0.0)
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android Q).

Due to that, I'll close this issue, thanks.

[2020-01-16 09:18] #7625 closed

[2020-01-16 09:27] sv-sdeiac commented on #7594
Verified as fixed using the latest version of Firefox Preview NIghtly 1/16 build #20160806.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android Q).

[2020-01-16 09:27] #7594 closed

[2020-01-16 09:33] softvision-miralobontiu opened #7752 "[Bug] [a11y] Consider making the "Send crash report to Mozilla" item larger"
## Prerequisite
Make sure you have Accessibility Scanner installed and turned on.

## Steps to reproduce
1. Launch Fenix, open a website.
2. In the same tab, go to about:crashcontent.
3. Scan the page using Accessibility Scanner.

### Expected behavior
No major discrepancies are reported.

### Actual behavior
The "Send crash report to Mozilla" item is suggested to be increased from 32dp to 48dp or

[2020-01-16 09:43] softvision-miralobontiu opened #7753 "[Bug] [a11y] Consider making the "Close tab" and "Restore tab" buttons larger (about:crashcontent)"
## Prerequisite
Make sure you have Accessibility Scanner installed and turned on.

## Steps to reproduce
1. Launch Fenix, open a website.
2. In the same tab, go to about:crashcontent.
3. Scan the page using Accessibility Scanner.

### Expected behavior
No major discrepancies are reported.

### Actual behavior
The "Close tab" and "Restore tab" buttons are suggested to be increased from 36dp to 48dp

[2020-01-16 09:45] sv-ohorvath commented on #7203
The 1/16 migration build still has the old Fennec icon.

[2020-01-16 09:55] softvision-miralobontiu opened #7754 "[Bug] [a11y] Suggestions regarding download's context menus"
## Prerequisite
Make sure you have Accessibility Scanner installed and turned on.

## Steps to reproduce
1. Launch Fenix, open https://www.thinkbroadband.com/download.
2. Select to download the smallest file - 5MB.
3. Using the Accessibility Scanner, scan the "Download" context menu.

### Expected behavior
No major discrepancies are reported.

### Actual behavior
It is suggested to increase the "x

[2020-01-16 10:21] sv-sdeiac commented on #5736
Verified as fixed using the latest version of Firefox Preview Nightly 1/16 build #20160806.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android Q).

[2020-01-16 10:21] #5736 closed

[2020-01-16 10:22] softvision-miralobontiu opened #7756 "[Bug] [a11y] Increase size of elements in bottom section of BrowserToolbar"
## Prerequisites
1. Make sure you have Accessibility Scanner installed and turned on.
2. Make Fenix the default browser app.

## Steps to reproduce
1. Open an external browsing app (i.e. Gmail), and open a link to a website.
2. Using the Accessibility Scanner, scan the Custom tab's three-dot menu overlay.

### Expected behavior
No major discrepancies are reported.

### Actual behavior
The back, fo

[2020-01-16 10:30] ebalazs-sv opened #7975 "Fennec migration: Loading circle not displayed on the "Updating Firefox ..." button"
## Preconditions:
Have Fennec installed and logged in. Have the app open.
## Steps to reproduce
1. Replace Fennec with Fenix using a build from [here](https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2020.01.16.revision/9c25d274d0d3c6549f607ce1298471ca6627a8d4).
2. Observe the migration screen A UI;
### Expected behavior
The inactive button is displayed

[2020-01-16 10:40] pocmo commented on #7203
Yes, it is intended to continue using the old Fennec app icon for now (same as before the migration). We will switch to the new icon once we consolidate our channels (firefox preview vs. firefox for android).

[2020-01-16 10:40] #7203 closed

[2020-01-16 10:41] klint opened #7758 "Web pages cannot be added to homescreen when the site supports PWA"
### Why/User Benefit/User Problem
Even if a site supports PWA, the user may still want to add a certain page of that site as a shortcut on the home screen.
Problem is, the "Install" option for PWA replaces the "Add to homescreen" option which is not available anymore.

### What/Requirements
the Add to homescreen option should still be available in addition to the PWA option (in Firefox for Android

[2020-01-16 11:47] lnicola opened #7759 "[Bug] "What's New" pills (?) never go away"
I think the notifications (blue dots in the menu) to try out new features should go away after a while, or when I use the feature. I've had the Reader mode one for a couple of months now, and it's quite annoying.

I'm running the nightly version.

[2020-01-16 12:17] sflorean opened #7760 "[Bug] 2FA security code page is not displayed after Disconnect -> log in again"
## Prerequisites
- Install Fenix Nightly and sign in with an account with **2FA enabled**.

## Steps to reproduce
1. Go to Settings -> Sign Out.
2. Disconnect the account.
3. Tap on "Turn on Sync" -> Use email instead.
4. Type valid credentials and tap the "Sign in" button.

### Expected behavior
"Enter security code" page is displayed and security code from the authentication app is required.

##

[2020-01-16 12:25] softvision-miralobontiu opened #7761 "[Bug] [a11y] Consider increasing the folder's size from Bookmarks section"
## Prerequisite
Make sure you have Accessibility Scanner installed and turned on.

## Steps to reproduce
1. Launch Fenix and open a website.
2. From the three-dot menu select to bookmark the page.
3. Tap on "Edit" from the confirmation snackbar.
4. Using the Accessibility Scanner, scan the "Edit bookmark" page.

### Expected behavior
No major discrepancies are displayed.

### Actual behavior
The "

[2020-01-16 12:36] sv-sdeiac commented on #5545
Verified as fixed using the latest version of Firefox Preview Nightly 1/16 build #20160806.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android Q).

[2020-01-16 12:36] #5545 closed

[2020-01-16 13:11] sv-sdeiac commented on #5295
Verified as fixed using the latest version of Firefox Preview Nightly 1/16 build #20160806.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android Q).

[2020-01-16 13:11] #5295 closed

[2020-01-16 13:21] ebalazs-sv opened #7959 "Fennec migration: The widget's icon is not updated"
## Preconditions:
Have widget added to Fennec Nightly.
## Steps to reproduce
1. Replace Fennec with Fenix using a build from [here](https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2020.01.16.revision/9c25d274d0d3c6549f607ce1298471ca6627a8d4).
2. Observe the widget's icon.
### Expected behavior
The widget's icon is changed to Firefox Nightly icon.
### A

[2020-01-16 13:31] sv-sdeiac commented on #1718
Verified as fixed using the latest version of Firefox Preview Nightly 1/16 build #20160806.

Devices:
- Google Pixel (Android Q);
- Samsung Galaxy Note 8 (Android 9);
- Motorola Moto G 6 (Android 8.0).

[2020-01-16 13:40] KaairaGupta commented on #3474
Hey @sv-ohorvath ! this doesn't reproduce on my mobile(Android 9). So. does this issue still need to be worked on?

[2020-01-16 13:49] sv-sdeiac commented on #2217
I am able to reproduce this issue using the latest version of Firefox Preview Nightly 1/16 build #20160806.

Device:
- Samsung Galaxy Note 8 (Android 9).

[2020-01-16 14:06] hakkikaancaliskan commented on #7738
No problem on XZ1 Android 10 LOS 17 with Gboard.
Nightly 200116 06:00 (Build #20160604)
28.0.0, 852d955d6
GV: 74.0a1-20200114094410

[2020-01-16 14:09] mcarare commented on #7735
Same as https://github.com/mozilla-mobile/fenix/issues/7730

[2020-01-16 14:09] #7735 closed

[2020-01-16 14:17] tublitzed commented on #7695
Thanks, @rfk - manual sync appears to not be delayed either; my test with a bookmark appeared quickly. I'll close this one.

[2020-01-16 14:17] #7695 closed

[2020-01-16 14:38] pocmo opened #7762 "Glean initialization follow-up"
Follow-up from #7717.

See: https://github.com/mozilla-mobile/fenix/pull/7717#pullrequestreview-343354760

We may want to get back to a state where Glean can buffer events pre-initialization (but also not over buffer like before) and work nicely with the migration that determines the state of telemetry "a bit later".

[2020-01-16 14:44] Dexterp37 commented on #7762
The ideal state would be the following:

- Load the correct telemetry setting
- Initialize Glean (which means calling `Glean.initialize` not `GleanMetricsService.start()`!) as soon as possible with that value.

If that's not possible, we should still try to call `Glean.initialize` ASAP, and not too late during startup. We risk, otherwise, of overflowing the pre-init buffer due to components (e.g.

[2020-01-16 14:50] #4977 closed

[2020-01-16 15:18] Bubu commented on #162
@cadeyrn

No, as currently distributed Fenix is not half-open, it's actually proprietary software by nature of including proprietary libraries.

As long as there is no build variant without proprietary components fenic cannot be included into F-Droid, thus distritribution via F-Droid serves as a kind of checkpoint for apps being fully FOSS which is far more important than the distribution channel

[2020-01-16 15:21] cadeyrn commented on #162
You took my sentence from last year out of the context…

[2020-01-16 15:31] Bubu commented on #162
@cadeyrn I stumbled over your comment while reading up on this thread. I don't think I took it out of context though? But regardless my main points here are:

* Fenix cannot be build as free software currently and until that is the case it cannot distributed on the f-droid.org repo.

* A third party is very unlikely to archive this goal, so it's something that has to be solved at Mozilla.

* A com

[2020-01-16 15:34] Diana-Rus commented on #7502
Hi, I re-tested the issue with Google Pixel 2 (Android 9), Samsung Galaxy S9 (Android 8.0.0) and Sony Xperia Z5 (Android 7.0) on Firefox Preview Nightly 200116 (Build #20160806) GV: 74.0a1-20200115093807.
I don't seem to reproduce it with this build by going to the provided URL and neither by doing a refresh of the page.
The ticket which i taken the issue has also been updated: https://bugzilla.mo

[2020-01-16 15:54] Amejia481 commented on #7636
This is `GeckoView` issue I opened a bug on Bugzilla for it.
https://bugzilla.mozilla.org/show_bug.cgi?id=1609701

[2020-01-16 16:12] sblatz commented on #6557
@liuche are these codes available or are we waiting on them? 😄

[2020-01-16 16:20] #7502 closed

[2020-01-16 16:35] sblatz commented on #7100
This is waiting on https://github.com/mozilla-mobile/fenix/issues/7099 as we don't have this preference in yet. We do have one in settings but it looks different and seems to have the opposite behavior?

"Open links in apps" under Privacy.

[2020-01-16 16:39] vesta0 commented on #5256
Chatted with Arturo, he will investigate and determine whether this is A-C

[2020-01-16 16:41] vesta0 commented on #7566
@Amejia481  will take a closer look and comment.

[2020-01-16 16:45] marker10 opened #7765 "Progressive web app"
Don't work cache for offline and fullscreen mode. Only icon in home screen.

3.0.2 (Build #20081833)
📦: 24.0.1, ee4587f74
GV: 71.0.1-20200108003105

[2020-01-16 16:45] sblatz commented on #7099
@rocketsroger mentioned that this is waiting on https://github.com/mozilla-mobile/fenix/issues/5664

[2020-01-16 17:06] mcomella commented on #6903
@MarcLeclair FYI

[2020-01-16 17:27] vesta0 commented on #5080
@Delphine @boek is this happening because those strings haven't been localized yet?

[2020-01-16 17:33] ktaeleman commented on #7662
User that originally reported the issue says that the issue was fixed with the latest update, might not be related to webrender.

[2020-01-16 17:38] sblatz commented on #1901
For what it's worth, this sounds like a [known issue](https://stackoverflow.com/a/12636285) with `SurfaceViews`. It seems like using a `TextureView` may fix this, but that's something the GV team would have to decide if it's worth changing as I'm assuming that would require a lot of work. Though, it sounds like in https://bugzilla.mozilla.org/show_bug.cgi?id=1594860 GV may be moving away from a Su

[2020-01-16 17:56] sblatz commented on #1901
Some notes:
1. We cannot just delay a call to `onDestroy` as an exception gets thrown: `did not call through to super.onDestroy()`
2. The navigation library we're using does not allow for us to hold on to that other fragment (it must be destroyed and restored when we navigate back.) This is by design.

My only other thought here is to take a screenshot (not with the gecko function). I'm going to t

[2020-01-16 18:15] boek commented on #5080
@vesta0 Hmm, it looks like these strings were put into their own strings file. I think we may only be translating strings in strings.xml. We have to move them on our side first

[2020-01-16 18:32] AmyYLee commented on #5905
The UX spec has been posted in comment 0 for the new Settings reorg. Let me know if you have any questions.

[2020-01-16 18:42] AmyYLee commented on #2271
Hi,

@abodea @liuche It should be #FBFBFE @16% opacity. PBM is the same for Dark/Light themes. Thanks

[2020-01-16 19:09] sblatz commented on #1901
I've spent a bit more time on this. It looks like GV does not allow a bitmap to be drawn from its view (which is probably why they have their own `captureThumbnail`)

I really don't think we have any other choice here than the interim solution that @ekager provided.

I would bounce this back to GV. I think either a switch from SurfaceView -> another view OR implementing `captureThumbnail` for user

[2020-01-16 19:41] liuche commented on #6610
@lime124 I've added a date here, that we need the final assets by 1/31 so that this can land by Beta migration (because that will be our last sprint).

[2020-01-16 19:41] Delphine commented on #5080
I confirm we never got those strings on our side

[2020-01-16 19:46] liuche commented on #5664
@rocketsroger is it this GV bug? https://bugzilla.mozilla.org/show_bug.cgi?id=1600704

[2020-01-16 19:47] Amejia481 commented on #5769
@Diana-Rus or @sv-ohorvath could you help me to clarify on step 3, where should I grant access to Camera? When I go to talky.io I don't get any permission prompt. Could you help me to clarify please?

[2020-01-16 19:58] rocketsroger commented on #5664
Yes, this is the main GV issue that the app links feature is blocked on.

[2020-01-16 20:03] cadeyrn commented on #7612
Duplicate of #5080.

[2020-01-16 20:03] #7612 closed

[2020-01-16 20:13] sblatz commented on #1901
Sounds like the captureThumbnail API has been updated so I can fix this!

[2020-01-16 20:22] AmyYLee opened #7768 "[Logins] Tapping on "Don't Save" doesn't respond"
Steps to reproduce:

1. Go to gap.com (or any sign-in page that you haven't saved your credentials in yet)
2. Type in your credentials
3. Tap "Don't save" when Fenix asks if you want to save this login

Expected:
Login panel closes

Actual:
Login panel stays open

[2020-01-16 20:30] AmyYLee opened #7769 "[Logins] Keyboard blocks panel so you can't save after editing credientials"
Steps to reproduce:

1. Go to a website and enter your credentials (i.e amazon.com) and tap sign-in
2. When Fenix logins pops up asking to if you want to save this login, tap on the text field under "Username"

Expected:
After I edit my login name and tap Enter on the keyboard, the keyboard should close so I can tap "Save" in the panel.

Actual:
After I edit my login name and tap enter, it goes to

[2020-01-16 20:53] Amejia481 commented on #5256
This is a GeckoView bug I filed a bug on Bugzilla for it
https://bugzilla.mozilla.org/show_bug.cgi?id=1609779

[2020-01-16 20:58] darkwing commented on #6820
@sblatz How difficult will this be.  Any tips you can give me?

[2020-01-16 21:05] MikeCheque opened #7771 "[Bug] difficult to tap on small touch areas such as EU cookie banners"
## Steps to reproduce
visit any website that has eu cookie warnings (this isn't limited to sites that have cookie warnings. this is easiest way to reproduce the bug).

### Expected behavior
unable to close small pop-up windows

### Actual behavior
unable to close small pop-up windows

[Link to gif](http://imgur.com/a/Sm8Fj87)

### Device information
* Android device: ?
tmo v30, android 9
* Fenix v

[2020-01-16 21:31] Amejia481 commented on #4554
This requires some AC work as we are not taking in consideration the custom users permissions settings when creating an exception. I created a ac issue for it  https://github.com/mozilla-mobile/android-components/issues/5616

[2020-01-16 21:58] Amejia481 commented on #7566
This may be bit tricky as we are not storing non final state related to site permissions (nothing that doesn't have checkbox "Remember decision for this site"). For this reason, this info is not showing up in the panel the same can be seem with site permissions on private sessions.

This requires some significant effort from the ac team as this could change the way that we handle site permissions.

[2020-01-16 22:28] thermatk commented on #162
In my opinion, it makes no sense to invest any of the limited time people
have now into supporting a constantly changing unfinished product. When
this transition phase will be over, it won't be impossible to maintain
again :)

чт, 16 янв. 2020 г. в 16:31, Marcus <notifications@github.com>:

--
Go digital

[2020-01-16 22:41] kbrosnan opened #7775 "[Bug] can access ftp:// urls via sync"
## Steps to reproduce
* have a sync account
* On desktop bookmark
* ftp://ftp.osuosl.org
* ftp://ftp.suse.com
* Sync both devices
* Search the address bar for ftp or use library to access the bookmark

### Expected behavior
* URL does not load

### Actual behavior
* URL loads

I tried doing the same with data: URIs and got the expected behavior.

### Device information

* Android device:  Xoami Mi

[2020-01-16 22:41] #5080 closed

[2020-01-16 23:06] sblatz commented on #7682
Downloads why won't you just **let me be** 😠

[2020-01-16 23:08] sblatz commented on #7682
I'm able to reproduce in sample browser. My first guess (without digging in yet) is that this has something to do with the progress bar I added. I'm guessing the notification system is broken for some reason because of that.

[2020-01-17 00:14] AmyYLee opened #7779 "[Logins] Password "eye" icon is fuzzy"
Hi,

The icon is fuzzy in the text field. It's more noticeable in Dark theme. There was a related issue that was filed and fixed in #7122 for the icon in Settings -> Logins

<img width="409" alt="Screen Shot 2020-01-16 at 7 13 12 PM" src="https://user-images.githubusercontent.com/5992746/72573609-48727f80-3894-11ea-8239-233807d4c9ca.png">
<img width="421" alt="Screen Shot 2020-01-16 at 7 13 54 PM"

[2020-01-17 00:14] ktaeleman commented on #7599
Related gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1569339

[2020-01-17 00:27] vesta0 commented on #5696
@liuche @bifleming I just noticed that it was removed from the prioritized backlog 8 days ago but there is no comment as to why that happened. Would you mind adding a note here?

[2020-01-17 00:27] vesta0 commented on #5695
@liuche @bifleming I just noticed that it was removed from the prioritized backlog 8 days ago but there is no comment as to why that happened. Would you mind adding a note here?

[2020-01-17 00:58] ekager commented on #7779
Opened https://github.com/mozilla-mobile/android-components/pull/5618 for updating those icons in AC

[2020-01-17 01:02] liuche commented on #5695
I remember gl pulled this into a sprint because he wanted to learn more AC/GV, but I removed it from the sprint when he started working on WebExtensions, however, we can put both of these bugs back!

@gabrielluong I know you were thinking about this bug and did some initial investigation and ran across some complexities. Could you summarize what the approach or complexities would be?

[2020-01-17 01:10] mcomella opened #7781 "FNPRMS fully drawn time does not take into account top sites (M4)"
When the user has tabs or collections, the RecyclerView draws once for "No tabs" and draws again when the tabs arrive. The current `reportFullyDrawn` implementation does not take this second draw into account and thus is not entirely accurate.

[2020-01-17 02:21] liuche commented on #6557
Sent the codes to sawyer!

[2020-01-17 02:41] rfk commented on #7332
This is the one I was thinking of above: https://github.com/mozilla/application-services/issues/2161

[2020-01-17 04:08] mcomella commented on #5182
Addressed in https://github.com/mozilla-mobile/fenix/pull/7510.

[2020-01-17 04:11] mcomella commented on #5182
@Baron-Severin Would you mind writing a QA note for this issue? I assume we should at least test that the FxA features are enabled/disabled properly. tbh, I'm a little confused about the phrasing of the landed code – `Disabled = false` – so I wonder if there's a bug lurking there.

[2020-01-17 06:10] jimporter commented on #7465
Looking at a locally-generated profile, it seems like 90% of the time inside `view.consumeFrom` is spent inside `androidx.lifecycle.LifecycleRegistry.addObserver`, from this call:

https://github.com/mozilla-mobile/android-components/blob/ebf112c3ec10a0bf5924bba117cac96da68873a4/components/lib/state/src/main/java/mozilla/components/lib/state/ext/StoreExtensions.kt#L126

I'm not super-familiar with

[2020-01-17 08:11] ebalazs-sv commented on #7203
Verified as fixed on Fennec Migration Nightly build 1 with Samsung Galaxy S8 (Android 9) - ARM64, Xiaomi Mi Pad 2 (Android 5.1) - x86, OnePlus 6T (Android 9.0) - ARM.
I will move this to Done. Thanks!

[2020-01-17 08:24] sv-ohorvath commented on #5769
That should be it. Sorry I wasn't clear enough.
@Amejia481 here is a video: https://drive.google.com/file/d/1Spy6YXwz7bVEPIj8SNX68ZdSSaUhi7Jt/view?usp=sharing

[2020-01-17 08:32] pocmo commented on #3088
@Baron-Severin Sorry I had to back out your patch this morning. It was breaking our Nightly builds and therefore a migration build that we needed to get out today.

Here is the log of a failed nightly build: https://firefox-ci-tc.services.mozilla.com/tasks/SYyAtENVRui9A4R3_HBUQw/runs/0/logs/live/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FSYyAtENVRui9A4R3_HBUQw%2Fr

[2020-01-17 08:35] sv-ohorvath commented on #3474
Hello all, I can't reproduce this on the latest builds so I will close this issue. Thank you!

[2020-01-17 08:38] sv-sdeiac commented on #7343
This issue is reproducible on the latest version of Beta 3.1.1-beta4 #20170728 on OnePlus 5T (Android 9).

[2020-01-17 09:04] sflorean opened #7784 "[Bug] Confusing sync state for an old account"
## Steps to reproduce
1. Go to Settings -> Account;
2. Observe the sync state.

### Expected behavior
"Syncing"/"Sync now" is displayed and "Last synced: x minutes ago" on the second row.

### Actual behavior
- The sync state is "never".  If it's forced manually, last synced is Jan 1, 1970.
- Tapping on the "back" arrow, then back to step 2, the sync state is again on never.

### Note
- Not reprod

[2020-01-17 09:35] Pike commented on #3088
I think it's taskcluster-y that the decision task creates the release tasks with `filter-incomplete-translations`, and then drops them via `--target-tasks-method=nightly` in graph optimization.

[2020-01-17 09:49] jerome-tgl commented on #2639
I can download files on OnePlus 6T with Android 10, Firefox Preview 3.0.2 and Blokada 4.4.3, but the process is quite buggy.

Here's what happens when I tap a link to file on a webpage.

  ↓ Download (`file_size`)
  `file_name`
             [Download]

Tapping the download

  ✔ Download complete (`file_size`)
               [Open]

NB: file_name and file_size is "null" if the file happens to be an

[2020-01-17 11:39] Diana-Rus opened #7890 "Fennec migration - Landscape Mode - Overlapping elements on the migration onboarding screen"
## Preconditions:
- Have Fennec installed and logged in. Have the app open.

## Steps to reproduce:
1. Replace Fennec with Fenix using a build from [here](https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2020.01.17.revision/e4eba42b93d58586b2afb6e13d3e57b37a5209c3).
2. Rotate the device to have the app in landscape mode.
3. Observe the migration screen

[2020-01-17 13:27] #7751 closed

[2020-01-17 13:50] sflorean opened #7786 "[Bug] x86 device doesn't receive the tab sent from desktop"
## Steps to reproduce
1. Launch Fenix Nightly.
2. Login with the same account on mobile and desktop.
3. On Desktop, send a tab.
4. On Mobile, check/open the notification bar.

### Expected behavior
The tab is received/notification is displayed.

### Actual behavior
Notification bar closes and the tab is not received.

### Note
- Following the flow for Mobile - Desktop, works.

### Device informati

[2020-01-17 14:15] sv-ohorvath opened #7980 "Fennec migration: Migration onboarding UI dismissed if you minimize the app"
STR:
1. Install the Fenix migration build over Fennec. Open the updating app.
2. Wait for the "migration complete" screen, with the Start browsing button.
3. Minimize the app by pressing the home button, don't close the app entirely.
4. Tap the home screen launcher to return to the app. Or, from recent apps, tap the second instance of the app, that doesn't show the migration onboarding screen.

Ex

[2020-01-17 15:52] jonalmeida opened #7788 "Show blocking Migration UI when Search Widget is clicked."
Taken from https://github.com/mozilla-mobile/android-components/issues/5509#issuecomment-573504035

In Fenix's [`SearchWidgetProvider`][0], it creates an intent to go straight to the `HomeActivity` and therefore by-passing our Intent Processor.

What we should do, is refactor that code so that it does go through the intent processor and make a `SearchWidgetIntentProcessor` to handle this intent mu

[2020-01-17 15:54] Amejia481 commented on #5769
I was able to replicated this issue on the GeckoView Sample app, I created a bug on Bugzilla for it
https://bugzilla.mozilla.org/show_bug.cgi?id=1609959

![Screenshot_20200117-104220](https://user-images.githubusercontent.com/773158/72625277-7d271b00-3916-11ea-9832-b4dac2a78c4b.png)

[2020-01-17 16:54] emalysz opened #7789 "[Bug] Toolbar title is first initialized with AppName"
## Steps to reproduce
1. Open Firefox Preview
2. Select Bookmarks
3. Observe toolbar title

### Expected behavior
It should immediately display "Bookmarks"

### Actual behavior
It displays "Firefox Preview" before "Bookmarks"

### Device information
Google Pixel 2

* Android device: ?
* Fenix version: ?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/15795071/72630336-f1f25900

[2020-01-17 17:21] Baron-Severin commented on #3088
I'm not very familiar with TC, so I could be way off the mark, but I wonder if [this](https://github.com/mozilla-mobile/fenix/pull/7581/files#diff-ec565f108a3a09f10c613b7dea5ee557R142) could be why it ran.

We didn't set pruning to run on any `*-nightly` tasks, but it was set on `fennec-production` and `fennec-beta`, which both have `attributes: nightly: true`.

As to why it failed, I have no idea

[2020-01-17 17:41] buttercookie42 commented on #7546
Hooray indeed, although sadly the direction Google has been moving in (apps should only use content://-URIs when launching other apps, meaning for us that you [cannot open any of the other local resources](https://issuetracker.google.com/issues/144182682) possibly referenced by the HTML file pointed to by the received Intent, and now the deprecation of conventional file system access in Android 10

[2020-01-17 17:52] ekager commented on #7606
Sure @joshvocal !

[2020-01-17 18:31] vesta0 commented on #7093
I am closing this issue because it is a dup of #6980

[2020-01-17 18:31] #7093 closed

[2020-01-17 18:36] liuche commented on #5073
@kglazko can coordinate w/ @sblatz when Error pages is landed.

[2020-01-17 18:48] liuche commented on #5695
If this is similar to #5696 then maybe they can be done sequentially if context is similar.

[2020-01-17 19:43] sblatz commented on #7682
Should be fixed by https://github.com/mozilla-mobile/android-components/pull/5635 in the next nightly.

[2020-01-17 20:49] jonalmeida commented on #7661
Going to work on this next sprint.

[2020-01-17 20:49] jonalmeida commented on #373
This is going to be my only priority for our next sprint (monday).

[2020-01-17 21:09] vesta0 commented on #373
Thanks @jonalmeida let's try to land this before code freeze!

[2020-01-17 21:21] jonalmeida opened #7791 "[Bug] Re-evaluate the multiple entry points into the app."
While working on https://github.com/mozilla-mobile/fenix/issues/7788, in the `HomeActivity.onNewIntent` there are multiple intent processors that increase the entry point surface area of the app.

The `StartSearchIntentProcessor` that processes the search widget intent is invoked from the `NewTabShortcutIntentProcessor`, which is invoked from the `IntentReceiverActivity`.

For the voice search int

[2020-01-17 21:43] ekager commented on #7768
Opened https://github.com/mozilla-mobile/android-components/pull/5636

[2020-01-17 22:32] Baron-Severin commented on #5182
Note to whoever from QA picks this up, would you mind verifying that App Services web channels, login sync, and pairing still work as they did previously?

Agreed that the names are a bit misleading, but I'm less concerned about bugs there as the properties were moved from an existing file (`Experiments.kt`), and they haven't otherwise changed.

[2020-01-17 22:43] sblatz commented on #6820
@darkwing
In theory not crazy difficult since we have a "fake" toolbar on the home screen that doesn't need to scroll away or have any movement on the screen (it should automatically animate when we transition to Search Fragment).

You'll just want to mess with `bottom_bar` in `fragment_home.xml` and base it off of `shouldUseBottomToolbar` (settings property)

Let me know how else I can help 😄

[2020-01-17 23:14] liuche commented on #6308
This was a telemetry expiry bump and updated data review docs, doesn't need QA.

[2020-01-17 23:14] #6308 closed

[2020-01-17 23:46] mcomella commented on #7318
Addressed by https://github.com/mozilla-mobile/fenix/pull/7454.

[2020-01-17 23:46] #7318 closed

[2020-01-18 00:40] ekager commented on #6396
@AndiAJ could we verify that we are no longer sending the pings 2 times?

[2020-01-18 00:44] ekager commented on #7078
Closing for #6553

[2020-01-18 00:44] #7078 closed

[2020-01-18 00:47] mheubusch commented on #4674
Here is my proposed copy:
**Marketing data**
Shares data about what features you use in Firefox with Leanplum, our mobile marketing vendor.

(IIUC Adjust collects data upon install, so think that by the time you start your first browsing session and access the settings, all of the data that is sent to Adjust has already been sent. This is why I only mention Leanplum - @vesta0 and @boek can you con

[2020-01-18 01:40] liuche opened #7795 "Pageload experiment: -O2, -Oz build flags"
_edit: see https://github.com/mozilla-mobile/fenix/issues/7795#issuecomment-861569546 for what the next steps for this issue are._

### Why/User Benefit/User Problem
Switching to the -O2 flag has [pageload perf improvements](https://bugzilla.mozilla.org/show_bug.cgi?id=1591725#c36), but increases apk size by ~6MB.

Need this experiment to measure tradeoffs.

### What/Requirements
- [x] Stability e

[2020-01-18 02:02] liuche opened #7796 "Turn on Logins for all users (not just Nightly)"
### Why/User Benefit/User Problem
Currently, the Logins feature is Nightly-only, but we should turn it on for all users.

### What/Requirements
- [x] ~~#6704 Enable FxA state encryption for all users~~ Will postpone this, and move forward without FxA encryption state - see #8324
- [x] #7957 Enable Login management preference (View Logins) by removing Nightly flag
- [ ] When GV 74 becomes beta (2/1

[2020-01-18 02:08] liuche commented on #6729
Some [notes](https://docs.google.com/document/d/1fAt1Ek72_cFkVn7VCjgM2sbLd9pWp3hGy8AOR4j_U5I/edit)

[2020-01-18 02:51] yoasif opened #7797 "[Bug] Slower menu opening animation than Fennec"
Reported on https://www.reddit.com/r/firefox/comments/epy3qn/a_brand_new_browsing_experience_arrives_in/feoo307/

## Steps to reproduce

1. Tap on meatball menu button

### Expected behavior

Same speed/fluidity as on Fennec.

### Actual behavior

7 frames slower than Fennec.

Firefox for Android 68:

Firefox Preview

See screencast here: https://gateway.ipfs.io/ipfs/QmbVPQaeNMXwZmFE6bXjJqBfmDFRJ3

[2020-01-18 02:56] yoasif commented on #7795
Don't want to spam here, but I think this is a no-brainer - if it actually results in pageload performance, a larger apk size pays for itself in terms of marketshare and people willing to try the browser because of the page load performance.

I guess the unknown data point here (that feels very significant) is what the actual tradeoff here is -- how much larger is the apk?

[2020-01-18 04:00] liuche commented on #6704
Still seeing [a lot of crashes](https://crash-stats.mozilla.org/signature/?product=Fenix&signature=%5BINFO%5D%20org.mozilla.fenix.components.AbnormalFxaEvent%24MissingExpectedAccountAfterStartup%3A%20at%20org.mozilla.fenix.components.AccountAbnormalities%24accountManagerInitializedAsync%241.invokeSuspend%28AccountAbnormalities.kt%3A18%29&version=74.0a1&date=%3C2020-01-18T03%3A59%3A41%2B00%3A00&dat

[2020-01-18 04:16] liuche commented on #7759
Thanks for filing! Please follow along in #7408.

[2020-01-18 04:16] #7759 closed

[2020-01-18 09:48] cadeyrn commented on #7603
@mcarare @ekager Since I have one of the obviously few affected devices - is there something I can do to help debug the problem?

[2020-01-18 10:51] lnicola commented on #7408
I'm just a user, but I find the notification jarring. It looks exactly like the "what's new" dots in Firefox Desktop, so I assumed it's there to teach me about a new feature that just got implemented (reader mode). I'm totally fine with something like this, but it should go away once I use the feature the first time (or couple of times), or if I ignore it for some time.

If the notification is the

[2020-01-18 11:03] skippybosco commented on #470
@vesta0 does your change from August mean that tab queuing will not make it into the first stable release of Fenix?

[2020-01-18 15:32] cadeyrn opened #7799 "[Bug] (regression) "tab closed" snackbar no longer disappears"
### Steps to reproduce

1. close a tab
2. open another open tab while the "tab closed" snackbar is still visible

### Expected behavior

The snackbar disappears.

### Actual behavior

The snackbar stays visible. Pressing the "undo" link closes the snackbar (but does not execute the "undo" action).

This is a recent regression.

### Device information

* Android device: OnePlus 7T Pro McLaren Editi

[2020-01-18 16:14] cadeyrn commented on #7799
@mcomella I bisected the issue. This a regression from the second commit of #7423 (remove unnecessary CoordinatorLayout in fragment_home).

[2020-01-18 16:19] cadeyrn opened #7800 "[Bug] (regression) using autocompleted domains opens search engine instead of website"
### Steps to reproduce

1. open the address bar
2. start typing a domain
3. select an autocompleted domain

### Expected behavior

The website opens.

### Actual behavior

A search in the default search engine will performed.

It does not happen with all domains. I does happen with camp-firefox.de but not with mozilla.org.

This has to be a relatively recent regression.

### Device information

*

[2020-01-18 19:30] rome-legacy opened #7801 "[Bug] Open Bookmark in private tab"
## Steps to reproduce
start firefox preview
switch to private browsing
open bookmarks menu
select bookmark

### Expected behavior
bookmark is opened in private tab

### Actual behavior
bookmark is opened in regular tab
Ps:same behavior also on my tablet

### Device information
samsung galaxy s8+
android 9
ff preview
dark mode
3.0.2 (Build #20081833)
📦: 24.0.1, ee4587f74
🦎: 71.0.1-20200108003105

[2020-01-18 19:34] cadeyrn commented on #7801
This already works as expected in Fenix Nightly (not yet in the stable Fenix 3.0 release).

[2020-01-18 19:54] liubomirwm opened #7802 "[Bug] Buy in YouTube Music not visible"
## Steps to reproduce
Use Bulgarian language (not sure if it will reproduce in English).
1. Open YouTube Music app and select to buy student subscription. When you buy student subscription it will ask to open sheerId site where you will be checked to be a student. This opens as a WebView (don't know how it is called, but not the full Firefox Preview browser) . After confirmation you are redirected

[2020-01-18 20:31] ilativ opened #7803 "[Bug] Crashes with an established VPN connection"
## Steps to reproduce
If I open a VPN Connection with Wirequard for Andtroid (v0.0.20191220) Fenic crashes immediately.
After I close the VPN connection I can open Fenix with out crashes.

Please let me now if you need additional information from me.

### Device information
* Android device: Nokia 8, Android Version 9
* Fenix version: 3.0.2

[2020-01-19 00:04] mdesson commented on #6365
To add to this, as a person with smaller hands in a world with increasingly larger phones, reaching the lower-right corner is an impossibility for me one-handed. The QoL change from this would be immense for me as a user. I can't really adapt to it without wrist strain (something I'm trying to reduce as a developer) or using my other hand (which defeats the convenience of putting the toolbar at th

[2020-01-19 01:53] bthylafh commented on #7803
I am having this trouble as well, which I believe started with version 3.0 of Fenix.  I'm using the ProtonVPN 2.0 app for VPN.  logcat, dmesg, and device info log attached.

[logs-2020-01-18-19-51-40.zip](https://github.com/mozilla-mobile/fenix/files/4082139/logs-2020-01-18-19-51-40.zip)

[2020-01-19 01:57] bthylafh commented on #7803
Focus has an identical problem, #4458.

[2020-01-19 07:55] 532910 commented on #7199
No!

[2020-01-19 07:56] 532910 commented on #7199
This is the most anoning bug for me!

[2020-01-19 11:15] dector commented on #5436
It's a bit better after latest update from Play. Experiencing only freezes but no more crashes for some time.

[2020-01-19 16:25] Yzoni opened #7805 "[Bug] Crash on downloading file with duplicate name"
## Steps to reproduce

1. Download a file, for instance fenix from taskcluster.
2. After the download is finished, download the same file again.

### Expected behavior
Downloading the same file without crashing.

### Actual behavior
Fenix crashes completely, while the notification remains indefinitely.

### Device information

* Android device: Xiaomi mi2 A2 Lite
* Fenix version: Build #20181816

[2020-01-19 18:13] kbrosnan commented on #7801
Closing as working on Nightly builds. This will be fixed on the release builds in a few weeks.

[2020-01-19 18:13] #7801 closed

[2020-01-19 19:51] yoasif commented on #2633
Noticed very quickly by a new user on Fenix: https://www.reddit.com/r/firefox/comments/eqsxt8/do_you_tell_your_friends_about_firefox_what_do/fezy8av/

Given that reader mode is a core feature, it'd be nice to have the AC bug fixed sooner rather than later. :smile:

[2020-01-19 19:51] mirdaki commented on #7630
Thanks to some [additional information](https://github.com/mozilla-mobile/focus-android/issues/4458#issuecomment-575957306) @bthylafh posted, I can confirm that the issue only affects me when I use the OpenVPN setting from ProtonVPN 2.0. It does not happen when I use IKEv2 in ProtonVPN 2.0 or when I use PIA VPN. This seems related to #7803.

[2020-01-19 22:01] orangesunny commented on #3068
Hi, is it a problem to get inspired in, e.g. Kiwi? https://github.com/kiwibrowser/android
It works there, flawlessly. Is it in a part of the code that is not open source? Is there a problem in license?

[2020-01-19 23:10] mcomella commented on #7617
I'm going to dupe this investigation to #7746 because the upstream issue this was tracking was closed. However, after this patch and few others landed, `Glean.initialize` seems to take more time overall. However, this may not be affected by the upstream patch and this could be confounded by:
* `Glean.initialize` was moved much earlier in App.onCreate
* I assume we received many changes when Glean

[2020-01-19 23:10] #7617 closed

[2020-01-19 23:22] mcomella commented on #7746
The changes have landed and Glean still has a very large impact on startup: in my re-evaluation, I saw Glean takes ~9.17% of startup time until first frame drawn. I wonder there may be new regressions introduced from moving `Glean.initialize` and changes in Glean SDK 24.

I added some generic thoughts on how we might want to approach this is in the first comment https://github.com/mozilla-mobile/f

[2020-01-19 23:23] mcomella commented on #7746
This seems disproportionate to the amount of effort I suspect is required for Glean but perhaps I don't fully understand all the work that's being done.

[2020-01-20 03:11] yoasif commented on #5652
I see collections like the old Panorama: http://www.azarask.in/blog/post/designing-tab-candy/

Collections are about saving a session or group of tabs to recall them at a later date. The biggest issue I have with collections right now is that they feel more like bookmark folders than collections -- instead of being able to treat collections like windows, opening a collection just adds them to my o

[2020-01-20 03:14] jonalmeida commented on #7788
This turned out to be a smaller change than expected since the voice search activity re-directs to the IntentProcessorActivity already which is great.

I've filed [a follow-up](https://github.com/mozilla-mobile/fenix/issues/7791) to re-evaluate the intent processors in different places to see if they should all be set in the `IntentReciverActivity`. That work is outside the scope of this ticket, s

[2020-01-20 08:49] Dexterp37 commented on #7617
Not really :-) However the changelog is available [here](https://github.com/mozilla/glean/releases).

[2020-01-20 08:53] otede commented on #7743
Firefox to Firefox Preview update/migration begins soon. It would really be bad if this bug gets carried over without addressing. Please let me know if you need any more info.

[2020-01-20 09:23] topotropic commented on #7730
Ok, I understand the reasoning but I'm concerned about people who add the shortcut and then forget that they added it, read or hear about it, try to find it in setting but can't because they already added it once. I'd strongly recommend to NOT hide it.

There's also a re-organisation of the setting screen planned and the shortcut option will be moved to a dedicated section, in case you're worried

[2020-01-20 09:35] cadeyrn commented on #7730
FWIW, as opener of #5233 I would be ok with reverting the behaviour after the settings reorganisation. My main concern was the clutter of the settings screen. :)

[2020-01-20 09:49] topotropic commented on #7730
@cadeyrn ok, sounds good! I don't think we should introduce a dependency here by waiting for the settings re-org to be implemented though – the issues it generates when people can't find it outweighs the concern of a cluttered screen from UX perspective.

[2020-01-20 11:22] Tajnymag commented on #1178
Anything new to this?

[2020-01-20 11:57] Dexterp37 commented on #7746
Ok, I collected back my thoughts and I pieced back what I was trying to tell you the other day and then I forgot. You said:

This is commenting out two different unrelated systems: `Glean.initialize` is part of the Glean SDK, `GleanMetricsService` is an abstraction layer added by the Fenix team to abstract away Glean. They might contribute differently to the startup performance, so I'd suggest to

[2020-01-20 12:48] sv-ohorvath commented on #5552
This was verified on Nightly 1/20.
devices: Nexus 5 (android 6.0.1), Galaxy Note 8 (android 9)

[2020-01-20 12:48] #5552 closed

[2020-01-20 13:13] sv-ohorvath commented on #7682
Verified as fixed on Nightly 1/20.
devices: Galaxy S8 (Android 9), Nexus 5 (Android 6.0.1)

[2020-01-20 13:13] #7682 closed

[2020-01-20 13:29] MechJM opened #7807 "[Bug] Reader view redirects to Terms of Use in Anandtech.com"
## Steps to reproduce
Go to [this article](https://www.anandtech.com/show/15385/intels-confusing-messaging-is-comet-lake-better-than-ice-lake) for example and activate reader view.

### Expected behavior
A "reading version" of the article should show up.

### Actual behavior
A "reading version" of Anandtech's Terms of Use is presented.

### Device information

* Android device: Xiaomi Mi 9T
* Feni

[2020-01-20 13:51] ebalazs-sv commented on #7587
Verified as fixed on Fennec Nightly migration build 2, 01/17 with OnePlus 5T (Android 9), the "New tab" and "New private tab" options are available when long pressing the Fenix icon. These can also be added to the home screen.
Due to that I will move this to Done. Thanks!

[2020-01-20 14:32] softvision-miralobontiu opened #7809 "[Bug] Unknown protocol page displayed when accessing an article from zhihu.com"
## Steps to reproduce
1. Open https://www.zhihu.com/
2. Tap on an article.

### Expected behavior
The selected article is opened in the same tab. No errors are displayed.

### Actual behavior
The article is opened in the same tab but after a few seconds, an "Unknown protocol" page is displayed. Reproducible even with ETP off.

### Device information
* Android device: Google Pixel (Android 10), HTC

[2020-01-20 14:58] cadeyrn commented on #7809
Related: #7331.

[2020-01-20 15:20] vesta0 commented on #5627
Not sure how this will be implemented but it's better if we just receive an event ping when user opts out than get pinged regularly. Let’s not measure more than we need to.

[2020-01-20 15:22] Dexterp37 commented on #5627
As mentioned in the comment from December 4th, this is already implemented and available in Fenix. It's the [`deletion-request`](https://mozilla.github.io/glean/book/user/pings/deletion_request.html) ping.

[2020-01-20 15:39] sv-ohorvath opened #7810 "[Bug] Buggy typing when replacing text in the email field on accounts.firefox.com"
## Steps to reproduce
1. Go to Settings>Sync> Use email.
2. In the email field, type something, then move the text cursor somewhere in the middle and try to add or replace characters.
### Expected behavior
Can type, delete or replace text on text fields.
### Actual behavior
Characters are typed in at the wrong position, or the wrong chars are being deleted.
![20200120_173159](https://user-images.g

[2020-01-20 16:01] KaairaGupta commented on #4840
@NotWoods I can't seem to find the file where search widget is defined with its properties(such as colors and behavior) . Can you please guide me on the same?

[2020-01-20 16:02] sv-ohorvath commented on #5182
Done some testing around signup, login, sync and pairing and haven't noticed anything suspicious. I'll mark this as verified.

[2020-01-20 16:02] #5182 closed

[2020-01-20 16:18] KaairaGupta commented on #3864
@boek may i be assigned this? And can you please tell me a bit as to how I should start solving this problem? which files i should look at?

[2020-01-20 16:31] KaairaGupta commented on #2435
@ekager may I be assigned this?
I have noticed two of the requested features missing in the latest master and would like to work on those, they are:
- matching the three-dot menu
- though the bookmark shows 'share' icon instead of 'edit' in the bookmarks tab, but it doesn't show any option on multi-selecting the bookmarks.

[2020-01-20 16:57] NotWoods commented on #4840
`org.mozilla.gecko.search.SearchWidgetProvider` should be a good starting point.

[2020-01-20 17:43] AmyYLee opened #7813 "[Logins] Update button and text Link colours in login capture panel"
Hi,

Can you please update the colour of the text link and button ##9059FF and verify that it's 14pt bold. Also text size in the text input field should be the same size as the headline. Thanks!
![Screen Shot 2020-01-20 at 12 49 44 PM](https://user-images.githubusercontent.com/5992746/72747702-646f6d00-3b83-11ea-9a8f-e7d1f95afaf8.png)

[2020-01-20 17:56] AmyYLee opened #7814 "[ETP] Shield icon colour needs updating"
Hi,

The shield icon colour is using the Light theme palette on Dark theme. Please see reference below for correct colour for icon in Dark theme. It should be the same colour as the shield in Private browsing. Thanks

![Screen Shot 2020-01-20 at 12 52 49 PM](https://user-images.githubusercontent.com/5992746/72747952-08f1af00-3b84-11ea-8151-f763024779fa.png)

[2020-01-20 18:04] #5888 closed

[2020-01-20 18:55] AmyYLee commented on #7052
I don't think it's worth making a custom shortcut dialog to solve for strings in this context.

[2020-01-20 19:23] vesta0 commented on #5410
@creesch thank you for sharing your thoughts and recommendations with us.

At Mozilla, we always strive to be as open as possible and this is definitely top of mind. It is important to us to support our open source culture and engage with our community.

As you mentioned yourself, there are times during the initial phases of a project that we need to keep some discussions internal (or even limited

[2020-01-20 19:47] vesta0 commented on #4674
Thank you for the copy @mheubusch

I will wait for @boek to respond re the data collection question.

[2020-01-20 20:33] kbrosnan commented on #3864
Closing as a dupe #7546

[2020-01-20 20:33] #3864 closed

[2020-01-20 20:45] topotropic commented on #6759
@gabrielluong can we show an undo snackbar when someone removes a pinned site? Thanks!

[2020-01-20 20:54] TitanNano commented on #5410
@vesta0 I understand that there are times when teams at Mozilla do not have the capacity to accept contributions from the community, but I personally believe that if Mozilla wants to stay true to its principles, everything should be always publicly viewable. Just because something is visible to the public does it not mean it's always open for contribution. I understand that you can not always incl

[2020-01-20 21:15] jonalmeida commented on #7417
Firebase link: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/9103096340937677306/executions/bs.427f0e62eb99f4a3/testcases/1

Here's a stack trace for multipleBookmarkDeletions that I just came across:

[code]

[2020-01-20 21:20] AaronMT commented on #7417
@mcarare does this need the same style of waits from your other PR?

[2020-01-20 22:10] AmyYLee commented on #6317
Hi,

@boek Here are some adjustments to the font sizes and padding to have this more consistent. Let me know if you have any questions.

![Screen Shot 2020-01-20 at 5 07 07 PM](https://user-images.githubusercontent.com/5992746/72760720-bc1fcf80-3ba7-11ea-971c-3e2e036c181a.png)

[2020-01-20 22:40] hawkinsw commented on #7781
After investigation today with @MarcLeclair , I believe that this needs to be a very high priority. After a recent change to the application (during the nightly migration), there is a new intent dispatcher that has been inserted into startup. This impacts when the application's first layout traversal happens -- it moves it from after the home fragment is inflated to before the home fragment is cre

[2020-01-20 23:38] andreicristianpetcu opened #7816 "[Bug] Tab closed does not dissapear"
## Steps to reproduce
Close a tab
### Expected behavior
Close tab notification appears and then it goes away
### Actual behavior
Tab closed stays on the screen
![Screenshot_20200121-013626_Firefox_Nightly](https://user-images.githubusercontent.com/922368/72763940-9ff35100-3bee-11ea-8072-e57cf93faeb8.png)

### Device information

* Android device: OnePlus 5t
* Fenix version: Nightly

[2020-01-21 00:37] mcomella opened #7818 "Replace IntentReceiverActivity with MigrationDecisionActivity on cold startup from homescreen to improve perf"
When clicking the homescreen icon, `IntentReceiverActivity` is opened and redirects the user to `HomeActivity`. This is a recent behavior change for migration and may be indicative of a regression.

`IntentReceiverActivity` seems like it also opens applink URLs.

`IntentReceiverActivity` seems expensive for several reasons:
- `IntentReceiverActivity.processIntent` is expensive (81.69ms)
- Running

[2020-01-21 01:08] mcomella commented on #7642
@emalysz Will this issue be invalidated by your work in #7473? If so, please close!

[2020-01-21 01:33] mcomella opened #7819 "Improve startup perf of SessionManager.restore & enclosing func (35.88ms perfTest)"
We're trying to move everything non-essential until after visual completeness in order to improve startup time. SessionManager.restore runs a blocking operation on the main thread during startup. In theory, it's preferable to:
- ~~Run this operation on a background thread to avoid blocking startup but having the data available when needed (assuming it's actually restoring the tabs)~~!
  - Christia

[2020-01-21 01:37] mcomella opened #7820 "Prefetch BrowsersCache for improved startup performance (26.36ms perfTest)"
BrowsersCache.all takes 26.36ms to run (perfTest): we can pre-warm it on a background thread before it's called in `App.onCreate` to improve overall startup time.

Difficulty: 1

Impact:
- 26.36ms perfTest
- ?

[2020-01-21 02:08] mcomella commented on #7466
I think whatever animation is happening here may be obscured by the closing animation of the BrowserFragment because it's an "enter" transition and presumably is shown when opening the HomeFragment (and I don't think we transition between many other fragments).

[2020-01-21 02:52] NotWoods commented on #7765
Could you add steps to reproduce? I'm not sure what the requested feature is.

[2020-01-21 02:56] mcomella opened #7822 "Add StartupTimeline class to better divide & instrument startup"
This will log to the console with startup durations to help us better understand startup.

[2020-01-21 05:07] cadeyrn commented on #7816
Duplicate of #7799.

[2020-01-21 05:32] #7816 closed

[2020-01-21 06:31] childnode commented on #7691
@djc [can confirm](https://github.com/webcompat/web-bugs/issues/47723) that custom scheme ends up in

fenix is not "OAuth for native apps" https://tools.ietf.org/html/rfc8252 compatible at this time!

[2020-01-21 06:32] childnode commented on #7731
dup #7691

[2020-01-21 07:04] liuche commented on #6812
Reopening and updating with some links, this has hundreds of crashes a day.

[2020-01-21 08:04] sv-sdeiac commented on #7769
Hello, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 1/21 #20210606.

Devices:
- Nexus 5 (Android 6.0.1);
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9).

[2020-01-21 08:04] #7769 closed

[2020-01-21 08:35] sv-sdeiac commented on #7779
Hello, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 1/21 #20210606.

Devices:
- Nexus 5 (Android 6.0.1);
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8.0);
- Samsung Galaxy Note 8 (Android 9).

[2020-01-21 08:35] #7779 closed

[2020-01-21 08:56] AndiAJ commented on #5888
Related verified issue [#5114](https://github.com/mozilla-mobile/android-components/issues/5114)

[2020-01-21 09:08] ebalazs-sv commented on #5888
@pocmo Can you please give details about what telemetry probes to measure success/failure rate of migration were added in this issue, so we can verify it? Thanks!

[2020-01-21 09:12] softvision-miralobontiu opened #7825 "[Bug] The "Tab closed UNDO" snackbar is not dismissed"
## Steps to reproduce
1. Open a few tabs.
2. Swipe one of them in order to delete it.
3. Observe the "Tab closed UNDO" snackbar.

### Expected behavior
The snackbar disappears after a few seconds.

### Actual behavior
The snackbar is displayed until the user taps on UNDO,

### Device information
* Android device: Google Pixel (Android 10)
* Fenix version: 1/20 Nightly build (#20201806)

![20200121

[2020-01-21 09:31] softvision-miralobontiu commented on #7331
Same issue with bilibili://video/84021218?h5awaken=cHZpZD1udWxsXzg0MDIxMjE4XzE1Nzk1OTkwNDU0NTUmdWE9TW96aWxsYSUyRjUuMCUyMChBbmRyb2lkJTIwMTAlM0IlMjBNb2JpbGUlM0IlMjBydiUzQTc0LjApJTIwR2Vja28lMkY3NC4wJTIwRmlyZWZveCUyRjc0LjAmaXNBdXRvT3Blbj10cnVlJmJzb3VyY2U9dW5kZWZpbmVk&page=0 on the 1/20 Nightly build (#20201806).

[2020-01-21 09:50] cadeyrn commented on #7825
Duplicate of #7799.

[2020-01-21 10:11] #7825 closed

[2020-01-21 10:21] mcarare commented on #7417
Yes, I think so.

[2020-01-21 11:46] fluffyemily commented on #5163
GV issue resolved on 19th December

[2020-01-21 11:47] fluffyemily commented on #5636
GV issue resolved on 19th December

[2020-01-21 12:07] TitanNano commented on #768
@NotWoods just wanted to mention here that this native shortcut dialog is provided by the launcher and not the system UI, so not every launcher actually implements such a dialog.

[2020-01-21 12:11] TitanNano commented on #7597
kind of duplicate of #5772

[2020-01-21 12:11] #7597 closed

[2020-01-21 12:14] TitanNano commented on #5772
Copy of the duplicate I filled recently:

[2020-01-21 12:14] TitanNano commented on #5772
@NotWoods would it be possible for me to work on this?

[2020-01-21 13:15] Archaeopteryx opened #7826 "[Bug] beta fennec bustage"
https://treeherder.mozilla.org/logviewer.html#?job_id=285659523&repo=fenix

This is from #7806 / https://github.com/mozilla-mobile/fenix/commit/02b4582c8d2c425b1bcf83fd0956d17425d5c7e0

[task 2020-01-20T18:09:00.228Z] > Task :app:processGeckoBetaFennecBetaResources
[task 2020-01-20T18:09:30.228Z] > Task :app:compileGeckoBetaFennecBetaKotlin
[task 2020-01-20T18:09:34.828Z] e: /builds/worker/checkou

[2020-01-21 13:25] softvision-miralobontiu opened #7828 "[Bug] The "Save password" dialogue is not dismissed when user chooses to save"
## Steps to reproduce
1. Make sure you have a clean profile.
2. Open a page that requires to sign in.
3. After entering valid credentials, and asked if you want Firefox to save your password, tap on "Save".

### Expected behavior
The credentials are saved and the dialogue is dismissed.

### Actual behavior
The credentials are saved but the dialogue is not dismissed. The only way the user knows the

[2020-01-21 13:36] softvision-miralobontiu commented on #4938
Reproducible on the 01/21 Nightly build with Google Pixel (Android 10).

[2020-01-21 13:41] ernstp commented on #5869
Is there any progress on this? Happens to me every day on sites like arstechnica.com for example.

[2020-01-21 13:45] softvision-miralobontiu commented on #5009
Still reproducible with ETP on. Disabling the ETP, the video starts without issues.
Tested with the 1/21 Nightly build with Samsung Galaxy S6 (Android 7).

[2020-01-21 14:15] djc commented on #5869
It's probably more useful to comment on the Gecko bug mentioned above.

[2020-01-21 14:19] djc commented on #7799
I'm also seeing this.

[2020-01-21 14:54] ValentinTimisica commented on #6611
Talked to @pocmo and confirmed that the remaining work should have already been done in issue: #5481 and PRs: #7592, #7787.
@liuche is there anything left to work here?

[2020-01-21 14:54] sv-ohorvath commented on #5542
Issues found on Nightly 1/21:
1. The Save/Update button doesn't dismiss the pop-up but it does add the credentials to the list.
2. On amazon.com, enter an email and password, submit. On the save login popup, the user email is not filled-in.
3. The left side icons are white on 2 devices: LG Nexus 5, HTC Desire 820 ( both Android 6.0.1).

[2020-01-21 16:11] yoasif commented on #4674
Will disabling telemetry also remove it from third party vendors? This is something that was announced on Desktop here: https://blog.mozilla.org/netpolicy/2019/12/31/bringing-californias-privacy-law-to-all-firefox-users-in-2020/

Actually, will disabling telemetry disable it on mobile (might need to be a new issue) for non third party telemetry?

FWIW, I don't think Adjust data should be shared un

[2020-01-21 16:20] sblatz opened #7830 "[Bug] Profile_created_date is sent in local time (instead of UTC)"
profile_created_date metric is getting sent in local time. This means we can't compare dates/times created since they're not normalized over UTC.

[2020-01-21 17:07] boek commented on #5597
I will create a new bugzilla bug and link it to this issue

[2020-01-21 17:34] sblatz commented on #1901
Looks like there is still a GV bug. If a user presses "home" while the tab is still loading (engineView is completely white) captureThumbnail will never get launched. I'm filing now.

[2020-01-21 17:56] emalysz commented on #7642
Closing as a duplicate of #7473

[2020-01-21 17:56] #7642 closed

[2020-01-21 17:58] NotWoods commented on #768
I wasn't aware of that, thanks for the info 😄 I'll try to test on a few different launchers.

[2020-01-21 18:15] sblatz opened #7831 "[Bug] Enable about:config in debug geckoBeta builds"
Currently about:config is set to false in our [debug builds](https://github.com/mozilla-mobile/fenix/blob/master/app/src/geckoBeta/java/org/mozilla/fenix/engine/GeckoProvider.kt#L43-L48) compared to true in our [nightly builds](https://github.com/mozilla-mobile/fenix/blob/master/app/src/geckoNightly/java/org/mozilla/fenix/engine/GeckoProvider.kt#L48-L54).

I'm wondering if this is because our `Gec

[2020-01-21 18:15] ekager commented on #7828
Should be fixed by https://github.com/mozilla-mobile/android-components/pull/5659https://github.com/mozilla-mobile/android-components/pull/5659

[2020-01-21 18:27] ekager commented on #7799
@mcomella could we make the root of `activity_home.xml` a coordinator layout instead of a linear layout? This should probably solve this problem without introducing more nested layouts?

[2020-01-21 18:30] Baron-Severin opened #7832 "[Bug] LoginsStorageException fatalUsing DatabaseLoginsStorage without unlocking first"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/7099604/?query=is:unresolved

This is related to login autofill code in AC.  It appears to be a concurrency issue, where we are interleaving lock and unlock calls from different threads.  We should investigate usages of `AsyncLoginsStorage` and make sure that they are all accessing it in a thread safe way.

[2020-01-21 18:40] sblatz commented on #5308
@Verdi Just to confirm: we don't want to show search shortcuts when the user goes from Browser Screen -> Search Screen (URL is selected) correct?

[2020-01-21 18:45] ekager commented on #7814
@AmyYLee It is using the same Lottie file as private mode. Is it possible there are transparencies in the icon that are displaying differently on the black background?
You can see here when I force the background in dark theme to white it looks correct:
![Screenshot_20200121-104253](https://user-images.githubusercontent.com/25442310/72833081-e79fca00-3c3a-11ea-9601-0f397ebea178.png)

We will proba

[2020-01-21 18:47] boek commented on #5018
This has been verified as fixed

[2020-01-21 18:47] #5018 closed

[2020-01-21 18:48] sblatz commented on #5227
Per conversation in group triage, let's also verify as part of this ticket that **other permissions** are not shared (camera, location, etc.) from private -> normal mode.

[2020-01-21 18:50] vesta0 commented on #4987
@brampitoyo please take a look and advise as to the correct behaviour that matches user expectation most closely.

[2020-01-21 18:51] shorlander commented on #6610
Updated branding assets for Release, Beta, and Nightly. I included a launcher_background but not sure if we need it. The background-color is #20123a.

[Branding-Firefox.zip](https://github.com/mozilla-mobile/fenix/files/4093046/Branding-Firefox.zip)
[Branding-Firefox-Beta.zip](https://github.com/mozilla-mobile/fenix/files/4093048/Branding-Firefox-Beta.zip)
[Branding-Firefox-Nightly.zip](https://gi

[2020-01-21 18:59] boek commented on #2766
@mcomella Is this something that is easy to do?

[2020-01-21 19:00] vesta0 opened #7833 "[Bug] "Tab closed" snackbar doesn't go away"
## Steps to reproduce

I haven't been able to reliably reproduce this but the 2 times it happened:

-Have a few tabs open already
-Close one tab

### Expected behavior

-Undo tab closed snackbar should go away after a couple of seconds

### Actual behavior

-Undo tab closed snackbar doesn't go away until the app is force killed.

### Device information

* Android device: Pixel 3
* Fenix version: L

[2020-01-21 19:01] cadeyrn commented on #7833
It's a duplicate of #7799.

[2020-01-21 19:01] #7833 closed

[2020-01-21 19:02] liuche commented on #6832
I'm still seeing issues for this https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6162466/

[2020-01-21 19:07] vesta0 commented on #6381
The changes proposed above will be covered by the settings reorg work currently in progress here: #5905

[2020-01-21 19:07] #6381 closed

[2020-01-21 19:08] vesta0 commented on #6382
Will close this since it will be addressed by settings re-org #5905 + upcoming improvements to onboarding and feature discoverability.

[2020-01-21 19:08] #6382 closed

[2020-01-21 19:10] boek commented on #6832
We will monitor this over the next sprint

[2020-01-21 19:13] yoasif opened #7835 "[Bug] Using Twitter in a pwa pauses audio in other apps when scrolling past videos."
## Steps to reproduce

1. Login to Twitter on fenix
2. Install as pwa
3. Play audio in another app. I used antennapod and played a podcast
4. Open Twitter pwa
5. Scroll past Twitter posts that include embedded videos, eg https://mobile.twitter.com/StandUpAmerica/status/1219675114268233728

### Expected behavior

Antennapod does not pause, like it doesn't when browsing Twitter in Fenix directly.

#

[2020-01-21 19:15] NotWoods commented on #5772
We're not certain if we want to implement this feature yet.

However, it shares dependencies with some other features we do want. We want to be able to open a PWA for some scope if its installed. For example, notifications should open in the PWA. You're welcome to work on that component if you would like 😄

[2020-01-21 19:46] ecsmyth commented on #5832
Power and page load visualizations are blocked on [1610609](https://bugzilla.mozilla.org/show_bug.cgi?id=1610609).

[2020-01-21 20:51] ekager opened #7836 "Use and tint mozac version of password icons (hide and reveal)"
I recently added the password hide and reveal icons to AC (as mozac_ic_password_reveal and mozac_ic_password_hide), so we should use their versions and delete ours so we don't have duplicate resources.

We'll need to add a primaryColor tint where we use it in `SavedLoginSiteInfoFragment` and `fragment_saved_login_site_info`

[2020-01-21 20:54] AmyYLee commented on #7814
@ekager
Hi, can you test this asset out and see if it works? If it does then can you swap out the shield in Dark them and Private browsing? Thanks!

https://drive.google.com/file/d/1u3ZL4lvCU5UqzOpfrDkzqMigITgCptbQ/view?usp=sharing

[2020-01-21 20:59] ekager commented on #7814
Yep that looks better! Updating the dark icon now

[2020-01-21 21:05] rocketsroger commented on #7497
With the fix in https://github.com/mozilla-mobile/android-components/issues/5661, there's no performance gain removing menu presenter.  Closing.

[2020-01-21 21:05] #7497 closed

[2020-01-21 21:20] rocketsroger commented on #7100
Yes, looks like the new design is the opposite behavior.  I'm starting https://github.com/mozilla-mobile/fenix/issues/7099 to change the behavior to match the design.  Once that's done hopefully this issue will be unblocked.

[2020-01-21 21:33] Baron-Severin commented on #3088
Context from an email chain:

[code]

[2020-01-21 21:49] TitanNano commented on #7835
I also experience this. Muted videos shouldn't interrupt other audio.

[2020-01-21 21:51] TitanNano commented on #5772
@NotWoods yes sure, can you point me to the right issue?

[2020-01-21 21:52] sblatz commented on #7698
Updated animation:

![back_button_animation](https://user-images.githubusercontent.com/4400286/72846363-496d2d80-3c55-11ea-9ebb-b62d6232f8a6.gif)

[2020-01-21 22:02] sblatz opened #7841 "[Bug] Search <--> Browser transition feels really clunky/jumpy"
When I transition from Browser -> Search or Search -> Browser the animations feel really clunky.

### Browser -> Search
* "This time, search with" flashes for a brief second before hiding
* There's really no animation that happens to transition between the two states so it just "flashes" onto the screen

![open search 2020-01-21 13_59_55](https://user-images.githubusercontent.com/4400286/72847026-

[2020-01-21 22:19] mcomella opened #7842 "Investigate potential performance gains of ZygotePreload"
@MarcLeclair pointed out this might help us load things earlier than we currently do.

[2020-01-21 22:26] NotWoods commented on #5772
https://github.com/mozilla-mobile/android-components/issues/5667

[2020-01-21 22:51] Baron-Severin commented on #5326
QA note: this just merged into master in AC, it may not be verifiable until the next nightly is cut.

[2020-01-21 23:05] magorlick commented on #7830
In analytics we need to know when profile creation occurs in local time as well as UTC.  I don't mind that profile_created_date is derived from local time, however I need the time to be included with the date.  If we have the timestamp we are enabled to transform profile_created_date into either timezone depending on our use case.  Thanks!

[2020-01-21 23:11] ekager commented on #5542
1 was filed as #7828 and should be resolved.
I don't think we need to block this feature on 2/3 and we can file 2 and 3 as new bugs and close this one?

[2020-01-21 23:42] liuche commented on #7092
@jonalmeida could you go through the checklist in comment 0, and check off all the parts that you finished with that PR? if they're mostly done and there's no value in keeping this bug open bc the only remaining work is polish or something, could you file another bug listing off what still needs to be done?

[2020-01-22 00:09] jonalmeida commented on #7092
@liuche I've updated the checklist. I'm not sure what the error states are and the learn more stuff are, but those don't sound like polish. :)

[2020-01-22 00:10] jonalmeida commented on #7092
Un-assigning myself since I'm not working on this anymore.

[2020-01-22 00:16] mcomella commented on #7466
Reach out to ekager when doing this bug: they may know what the animation is for and if it's necessary to inflate on startup.

[2020-01-22 00:35] willfs84 commented on #7602
So this one will fix the Instagram story issue? (Instagram stories playing sideways, forcing users to rotate their phone every time they want to watch an Instagram story)

[2020-01-22 01:29] liuche opened #7845 "Releng for 3.2"
## Overview ##

| Monday          | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|-----------------|---------------------------|------------------------------|----------------|-------------|
| (Sprint 1 Start)|                           |                              |                |             |
|                 | Hard code freeze for Beta |

[2020-01-22 01:43] liuche commented on #7092
@apbitner are the error states (when part of migration fails, say, bookmarks didn't import) part of the mocks? I didn't see them in the Fenix section.

@jonalmeida are the error states exposed by the migration store state? e.g. bookmarks didn't fully migrate.

[2020-01-22 01:44] jonalmeida commented on #7092
Yes.

[2020-01-22 01:45] liuche opened #7846 "Releng for 3.3"
## Overview ##

| Monday          | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|-----------------|---------------------------|------------------------------|----------------|-------------|
| (Sprint 1 Start)|                           |                              |                |             |
|                 | Hard code freeze for Beta |

[2020-01-22 01:46] mcomella opened #7847 "Improve startup performance of the Fenix wrapper around Glean (~130ms perfTest)"
We're trying to move everything non-essential until after visual completeness in order to improve startup time. GleanMetricsService runs code that may be fine to run after visual completeness: find out and if so, move it!

We should ask the Glean team to review the PR to ensure we're using it correctly.

---

_Old comment 0:_

The Glean SDK has performance issues on startup to be addressed in http

[2020-01-22 01:48] mcomella commented on #7746
mleclair and I met with the Glean team: we gained a shared understanding of the current performance issues. Notably, there's a split between issues in the Glean SDK and issues with how Fenix uses Glean.

The Glean team filed two issues they plan to investigate wrt the former:
* https://bugzilla.mozilla.org/show_bug.cgi?id=1610574
* https://bugzilla.mozilla.org/show_bug.cgi?id=1610575

They noted t

[2020-01-22 01:53] liuche commented on #7845
[#7845, #6980, #7029, #3813, #7506, #7665, #7714, #7574, #7712, #7744, #7423, #6396, #6553, #4904, #6308, #7793, #7581, #7093, #7747, #220, #5080, #5909, #1607, #7751, #7417, #7572, #6556, #7092, #7717, #5545, #5542, #6696, #7645, #4893, #7203, #7693, #7694, #7687, #7563, #7564, #7413, #5884, #7649, #7650, #5182, #7510, #7611, #7631, #7431, #7593, #7583, #7587, #6898, #7601, #7522, #6304, #7577, #

[2020-01-22 02:07] liuche commented on #7845
#7506 Menu improvements
#4904 #6304 #7519 Improved back behavior
#7577 Private Mode improvements
#1718 Accessibility improvements on toolbar
Bugfixes and UI improvements

[2020-01-22 02:09] liuche commented on #7272
@mheubusch could you get us some strings for the Logins empty state?

[2020-01-22 03:10] mcomella commented on #7781
I landed https://github.com/mozilla-mobile/fenix/pull/7780 and I believe it already addresses the case hawkinsw is concerned about above https://github.com/mozilla-mobile/fenix/issues/7781#issuecomment-576451112. Addressing this ticket would fix the case where we have open tabs (and thus we redraw the RV again) but that isn't one of our current requirements. Sending this back to triage...

[2020-01-22 03:34] liuche commented on #7052
All right, I think that's fine, let's just keep it the way it is then. I'm sure other apps have this problem too.

[2020-01-22 03:34] #7052 closed

[2020-01-22 03:45] liuche commented on #220
@BranescuMihai when you have fixed the issues here, could you also remove the feature flag hiding the language picker?

[2020-01-22 03:46] jonalmeida commented on #7818
A reference issue for evaluating the multiple entry points into the app.

[2020-01-22 03:54] liuche commented on #6836
@lwa-moz @st3fan is this verification enough? If so, we can close this bug.

[2020-01-22 04:06] liuche commented on #6610
@vesta0 since we want to update the branding for Fenix, do we need to wait to add the Firefox Release branding changes, until our final sprint? Or should we just update all the branding now, and ship Firefox Preview with the new Firefox branding?

[2020-01-22 05:50] andreicristianpetcu commented on #6176
I can see something similar on bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=567039

It works fine in Fennec

![recording_20200122_074451_1](https://user-images.githubusercontent.com/922368/72868812-c814aa00-3ceb-11ea-88a6-d8f33849d773.gif)

[2020-01-22 05:52] andreicristianpetcu commented on #5789
Might be a duplicate of https://github.com/mozilla-mobile/fenix/issues/6176

[2020-01-22 05:52] andreicristianpetcu commented on #6176
Might be a duplicate of https://github.com/mozilla-mobile/fenix/issues/5789

[2020-01-22 08:27] ValentinTimisica commented on #5627
Talked to @Dexterp37 and confirmed that the [deletion-request](https://mozilla.github.io/glean/book/user/pings/deletion_request.html) ping is automatically sent when the user disables Glean ([here](https://github.com/mozilla-mobile/fenix/blob/b85673acac601b7bc1c2976bf466af5980ba23ac/app/src/main/java/org/mozilla/fenix/settings/DataChoicesFragment.kt#L31)) and there is nothing left to do in Fenix.

[2020-01-22 08:48] softvision-miralobontiu commented on #7407
Based on Kevin's comment, I'll close this issue.

[2020-01-22 08:48] #7407 closed

[2020-01-22 09:17] sv-ohorvath commented on #3813
Verified on Beta 3.2-beta1.
Devices: Galaxy Note 8 (Android 9), Xiaomi Mi Pad 2 (Android 5.1)

[2020-01-22 09:17] #3813 closed

[2020-01-22 09:24] mcarare commented on #6178
Closing this as Privacy notice has been moved to the About page.

[2020-01-22 09:24] #6178 closed

[2020-01-22 09:27] Dexterp37 commented on #7847
I wonder if this abstraction is still necessary: given that Leanplum only has a few metrics and most of the metrics use Glean, what about using the Glean APIs at the call sites directly? Then there would not be any need for touching multiple files when adding a metric and, more importantly, there will be no performance bottleneck.

[2020-01-22 09:41] sv-ohorvath opened #7851 "[Bug][a11y] TalkBack doesn't announce the search bar being in focus when you tap Start browsing"
## Steps to reproduce
1. Install Fenix. Turn TalkBack on.
2. On the onboarding screen, tap Start Browsing.
3. Check what TB reads on the search screen.
### Expected behavior
When you open the search bar, TB should read the search bar placeholder text.
### Actual behavior
TB only announces the keyboard is on, but not the screen/item focused on.
### Device information

* Android device: Pixel 3 (And

[2020-01-22 09:43] sv-ohorvath commented on #7029
- Verified on v3.2-beta1.
- Verified with TalkBack, logged one new issue: #7851
- Devices: Pixel 3 (Android 10), Galaxy Note 8 (Android 9)

[2020-01-22 09:43] #7029 closed

[2020-01-22 09:52] sv-ohorvath commented on #7714
- Verified on v3.2-beta1.
- Devices: Xiaomi Mi Pad 2 (Android 5.1),  Galaxy Note 8 (Android 9)

[2020-01-22 09:52] #7714 closed

[2020-01-22 10:03] softvision-miralobontiu opened #7852 "[Bug] Beta 3.2.0-beta.1 froze while browsing"
## Steps to reproduce
1. Open Fenix Beta and start browsing.
2. Had about 6 tabs opened.

### Expected behavior
Fenix doesn't freeze.

### Actual behavior
Fenix Beta froze. Closing and reopening the app, doesn't fix the problem. Deleting data when quitting doesn't solve the problem.

### Device information
* Android device: Google Pixel (Android 10)
* Fenix version: Beta 3.2.0-beta.1

[logcat.txt]

[2020-01-22 10:22] sv-ohorvath opened #7853 "[Bug][a11y] Highlighted What's new menu item not announced by TalkBack"
## Steps to reproduce
1. Fresh install/update Fenix. Turn TalkBack on.
2. With TB on, tap the 3 dot menu on the homescreen.
3. Open the menu, tap the What's new option.
### Expected behavior
When What's new is highlighted (on new updates), TB announces the item as "highlighted". Same as it does on the 3 dot menu button.
### Actual behavior
TB announces the highlight on the 3 dot menu button, but n

[2020-01-22 10:25] sv-ohorvath commented on #7506
- Verified on v3.2-beta1.
- Verified with TalkBack and a11y scanner. Logged 1 new issue: #7853
- devices: Xiaomi Mi 8 Lite (Android 8.1), Galaxy Note 8 (Android 9), Xiaomi Mi Pad 2 (Android 5.1)

[2020-01-22 10:25] #7506 closed

[2020-01-22 10:27] softvision-miralobontiu opened #7854 "[Bug] Bookmark's edited name is not saved after selecting in which folder to save"
## Steps to reproduce
1. Open a page and bookmark it.
2. Tap on "Edit" from the snackbar.
3. Edit the "Name", then tap on the folder to select where to save the new bookmark.
4. After selecting in which folder to save, tap the back arrow and observe.

### Expected behavior
The edited name is still displayed.

### Actual behavior
The edited name is not saved. If the page had a name, that one is dis

[2020-01-22 10:54] sv-ohorvath commented on #4904
Verified as fixed on v3.2.-beta1.
Devices: Xiaomi Mi Pad 2 (Android 5.1), Galaxy Note 8 (Android 9)

[2020-01-22 10:54] #4904 closed

[2020-01-22 11:46] xxkfqz opened #7855 "[Bug] Download links doesn't work"
## Steps to reproduce
Tap on any download link and then tap on "Download" button

### Expected behavior
File will be downloaded

### Actual behavior
Fail immediately after starting download. "Try again" caughts the same bug

### Device information
* Android device: Lenovo A2010 (Android 5.1.1)
* Fenix version: v3.1.0

![1](https://user-images.githubusercontent.com/52203435/72891376-e99a8380-3d35-1

[2020-01-22 11:59] mcarare commented on #6980
@apbitner Does clicking "Open settings" from privacy card finish onboarding?

[2020-01-22 12:19] joshvocal commented on #7606
If anyone else reading this wants to take this issue, you can take it instead of me.

[2020-01-22 13:02] ghoppaccia commented on #6480
But custom engines do not give you search suggestions.
Why is it only enabled for german locale? It was there in Firefox Preview (not anymore with the latest update), but not in Nightly.

[2020-01-22 13:36] ValentinTimisica commented on #6704
Based on this [comment](https://github.com/mozilla-mobile/fenix/blob/e25ee98d7de743fe4ac86eaf5ef3d5284383462c/app/src/main/java/org/mozilla/fenix/components/BackgroundServices.kt#L76) I understand that FxA state encryption needs to be enabled for all channels. So I made a [PR](https://github.com/mozilla-mobile/fenix/pull/7858) where I set ```secureStateAtRest = true```. Is this correct?
If it need

[2020-01-22 13:40] sv-ohorvath commented on #6553
Now you can only pick one setting at a time. Verified as fixed on v3.2-beta1.

[2020-01-22 13:40] #6553 closed

[2020-01-22 13:56] sv-sdeiac opened #7859 "[Bug][a11y] Play/pause button accessibility updates"
### Prerequisites
1. Make sure you have Google Accessibility Scanner installed.
2. Have a freshly installed build or a clean profile.

## Steps to reproduce
1. Launch Fenix.
2. Open a media playback in the background page;
2. Using the Accessibility Scanner, scan the "Open tabs" section.

### Expected behavior
There are no suggestions to make any changes.

### Actual behavior
There is a suggestion

[2020-01-22 14:18] fluffyemily opened #7860 "[Bug][RTL] Find in page's close button has wrong padding"
Moved over from bug filed under GeckoView https://bugzilla.mozilla.org/show_bug.cgi?id=1608208. Screenshot attached on original bug.

[2020-01-22 14:21] fluffyemily opened #7861 "[Bug][RTL] Potentially don't set automatic direction based on the text directionality, for text across the UI"
[Original bug filed under GeckoView by @itiel](https://bugzilla.mozilla.org/show_bug.cgi?id=1608218). Screenshots attached to original bug to demonstrate.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-15324)

[2020-01-22 14:23] fluffyemily opened #7862 "[Bug][RTL] The Learn More's arrow icon in ETP settings is pointing in the wrong direction"
[Originally filed as bug against GeckoView by @itiel](https://bugzilla.mozilla.org/show_bug.cgi?id=1608187). Screenshots attached in Bugzilla for more information.

[2020-01-22 14:30] fluffyemily opened #7863 "Ensure parent process triggers speculative connection when possible."
[Originally raised as bug against GeckoView. ](https://bugzilla.mozilla.org/show_bug.cgi?id=1603853)

Perhaps Fenix has already some speculative connection enabled. (and if so, just close this. I couldn't find such code immediately.)
But if not, it probably should have.

https://bugzilla.mozilla.org/show_bug.cgi?id=1383299 is where the stuff was added to desktop.

`GeckoWebExecutor` in GeckoView p

[2020-01-22 15:10] ValentinaPC opened #7864 "[Bug] WebRender experiment enrollment generates a Fenix Nightly app crash"
**[Affected versions]:**
Firefox Preview 74.0a1 Build ID 20200115093807

**[Affected Platforms]:**
- Android 8.0.0
- Android 10.0.0

**[Notes]:**
- Have Android Studio installed on your computer.
- Connect your Android device to the PC and allow USB debugging on your device.

**[Steps to reproduce]:**
1. Open a Command Prompt on your desktop.
2. Run the adb command: adb shell am start -n org.mozil

[2020-01-22 15:26] jrmuizel opened #7865 "about:config doesn't work in Firefox Release"
This works in Nightly but not in release. This makes it very difficult to ask users to change settings for debugging purposes.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-15328)

[2020-01-22 15:33] softvision-miralobontiu commented on #7240
Apparently, the issue reproduces only on Google Pixel (Android 10), and the "Privacy notice" page opens in the second language set in Settings-Languages.
I've set French the second language, and the "Privacy notice" page opened in french.
Reproduced on Beta 3.2.0-beta.1.

[2020-01-22 15:42] #7814 closed

[2020-01-22 15:54] mcarare commented on #7417
I cannot find any samples of `deleteMultipleSelectionTest` failing.

[2020-01-22 15:55] mcarare commented on #5722
@sblatz do you still have this issue?

[2020-01-22 16:02] apbitner commented on #7092
@liuche I wasn't aware of any error states that were needed. Is there a list of all potential errors? What options will the user have after receiving an error?

[2020-01-22 16:07] sv-sdeiac commented on #7854
The same issue is reproducible also editing the bookmark folder name using the same steps as in the description.

Device:
- Samsung Galaxy Tab S3 (Android 8).
- Fenix version: Beta 3.2.0-beta.1

[2020-01-22 16:15] #7488 closed

[2020-01-22 16:19] lwa-moz commented on #6836
@abodea I want to make sure I understand the test process you used.

The update was to ensure that the Leanplum SDK would initialize for users on first launch when their device locale was set to a supported language. As locale verification happens on first launch, each test of the intended behavior with newly supported locales should be conducted with new device profiles. (@st3fan can correct me i

[2020-01-22 16:45] mheubusch commented on #7272
The logins you save or sync to Firefox will show up here. Learn more about [Sync](https://support.mozilla.org/en-US/kb/how-set-firefox-sync-firefox-preview).

[2020-01-22 17:06] Sparky93 commented on #7855
Hello, I'd like to work on this issue. Can somebody assign me please?

[2020-01-22 18:02] vesta0 commented on #771
@jonalmeida is this where you are tracking your work?

[2020-01-22 18:32] vesta0 commented on #2768
I agree that this should be a user option that is disabled by default. I see that it has the `needs:UX-feedback` label so let's wait for @brampitoyo  to provide feedback.

[2020-01-22 18:33] sblatz commented on #5722
I do, even on the latest nightly. Galaxy S9, Android 9, OneUI 1.0, Fenix Nightly 1/22.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/72922756-7b889900-3d02-11ea-9b6e-2003b5c96c50.png">

[2020-01-22 18:39] sblatz opened #7866 "Custom search engines do not provide search suggestions"
## Steps to reproduce
1. Add a new custom search engine (e.g. ecosia.org/search?q=%s)
2. Make it your default
3. Start typing a search

### Expected behavior
1. Search suggestions are presented

### Actual behavior
1. No search suggestions are given

### Device information
* Android device: Galaxy S9 Android 9
* Fenix version: Nightly 1/22

┆Issue is synchronized with this [Jira Task](https://mozi

[2020-01-22 18:39] sblatz commented on #6480
@ghoppaccia I have filed a bug for custom engines not giving search suggestions which should solve your issue :)

https://github.com/mozilla-mobile/fenix/issues/7866

[2020-01-22 18:42] apbitner commented on #7092
Per today's check-in, we're currently not informing users of errors because there is no action for them to take. We also may not be able to tell exactly what data was affected when an error occurs as well.

[2020-01-22 18:57] liuche commented on #5627
Great! That's good to know, we can close this ticket then if there's nothing else to do.

[2020-01-22 18:57] #5627 closed

[2020-01-22 19:08] Amejia481 opened #7867 "Do not reload all the tabs after switching tracking protection settings"
### Why/User Benefit/User Problem
It consumes a lot of the device resources, we may think to do something similar as how desktop is handling this use case. They have a **"reload all tabs"** button, tabs gets reload only when the button is clicked.

<img width="682" alt="image" src="https://user-images.githubusercontent.com/773158/72924972-e6949880-3d1f-11ea-84e3-bd049a76643c.png">

For more contex

[2020-01-22 19:19] ekager commented on #7860
This will need to be updated in AC -> `mozac_feature_findinpage_view.xml`

![rtlissue](https://user-images.githubusercontent.com/25442310/72926212-e937c380-3d08-11ea-9248-4dd395ef3935.png)

[2020-01-22 19:41] mcomella commented on #7818
To summarize the less prescriptive problem statement in comment 0, for this issue my understanding is that the primary problem is that we’re routing all of our Intents through a separate, headless activity and then delegating to the Activity that actually needs to handle them. This additional Activity adds non-trivial overhead and maybe perceived performance issues when clicking on the homescreen

[2020-01-22 19:42] ekager commented on #7662
Closing because this sounds like it could have been resolved and the Bugzilla bug is the right place to discuss this

[2020-01-22 19:42] #7662 closed

[2020-01-22 19:50] mcomella commented on #7799
@ekager Thanks for looping me in. I'm not sure that will work because the fragment container relies on the `LinearLayout` in order to dynamically size it when the Toolbar disappears and `CoordinatorLayout` is roughly a `FrameLayout`, according to the docs.

Is the `CoordinatorLayout` necessary to make snackbars go away? My understanding is that they should be independent over any particular view t

[2020-01-22 19:58] mcomella commented on #7799
I tried making the anchorView the root container of the activity, rather than `bottom_bar`, but now the Snackbar doesn't appear at all. I wonder if this would work correctly if we attached it to the root container of the home fragment.

Also, we may reintroduce the CoordinatorLayout in #7700 so it's possible this will be fixed with that patch.

[2020-01-22 20:26] sblatz commented on #255
I started work on this, but it looks like we don't have access to the GeckoRuntimeSettings we need (even when I try to add them in AC, the right GV hooks are not exposed).

[2020-01-22 20:28] Amejia481 opened #7868 "[Bug] Remove duplicate advanced section under the settings page"
Remove duplicate **advanced**  section under the settings page menu.

![image](https://user-images.githubusercontent.com/773158/72931271-8c013980-3d2b-11ea-94b0-2e334547b487.png)

[2020-01-22 20:29] rocketsroger commented on #2833
@sblatz Just revisited this on reference browser and it now shows the same issue as Fenix.  Last signed in FxA email address is cached.  Not sure what happened last time I tested this.  But as of today both Reference Browser and Fenix have the same behavior.

I'll have to rescind my last statement.  The required fix is probably still in A-C or lower.

[2020-01-22 20:32] sblatz commented on #2833
@vesta0, @rfk is this something we still want to do? Clear the cache of the email when a user logs out?

[2020-01-22 20:42] #7868 closed

[2020-01-22 21:01] boek commented on #6787
GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1610939

[2020-01-22 21:04] boek commented on #6562
GV Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1610941

[2020-01-22 21:10] mcomella commented on #2766
It sounds like we may be able copy the code from the `android-gradle-plugin`.

If that doesn't work, my understanding is that we'd need to fail the build if the `android_ndk_home` envvar is not set. I believe it should be relatively straight-forward in gradle to, on release builds, verify the environment variable is set and fail the build if not.

Feel free to sync up/pair with me on how to do thi

[2020-01-22 21:11] boek commented on #7401
GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1610946

[2020-01-22 21:12] mcomella commented on #2766
If I misinterpreted and all we really want is to set ANDROID_NDK_HOME to an NDK on the builders, that's a different problem that JohanLorenzo might have context on.

[2020-01-22 21:14] boek commented on #5812
https://bugzilla.mozilla.org/show_bug.cgi?id=1610948

[2020-01-22 21:15] boek commented on #6149
https://bugzilla.mozilla.org/show_bug.cgi?id=1610951

[2020-01-22 21:16] rfk commented on #2833
I don't think we need this. The same behaviour reproduces on desktop - sign in, sign out, and go to sign back in again and it will default to remembering your previous email address.  As long as it's actually prompting you for the account password (rather than, say, still being signed in to accounts.firefox.com even though you signed out of the browser) then I think we can just close this.

(There

[2020-01-22 21:16] boek commented on #6176
https://bugzilla.mozilla.org/show_bug.cgi?id=1610952

[2020-01-22 21:17] mcomella commented on #7799
In the old implementation, the Snackbar would be dismissed when switching between fragments. In the current implementation, the Snackbar remains. I'm not sure why this would be the case.

It's possible the previous `findSuitableParent` algorithm would choose the `CoordinatorLayout` at the top of the fragment view hierarchy but, now that there's no `CoordinatorLayout`, it's selecting the view at th

[2020-01-22 21:18] boek commented on #6420
GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1610954

[2020-01-22 21:18] mcomella commented on #7799
I noticed that `anchorView` was for which view to place the Snackbar above, not the view to which the Snackbar is bound.

[2020-01-22 21:20] boek commented on #6525
https://bugzilla.mozilla.org/show_bug.cgi?id=1610956

[2020-01-22 21:20] tvenissat commented on #7606
I would like to work on this. Can you assign this task to me @ekager?

[2020-01-22 21:21] boek commented on #6605
https://bugzilla.mozilla.org/show_bug.cgi?id=1610957

[2020-01-22 21:22] boek commented on #6706
https://bugzilla.mozilla.org/show_bug.cgi?id=1610958

[2020-01-22 21:23] boek commented on #6940
https://bugzilla.mozilla.org/show_bug.cgi?id=1610959

[2020-01-22 21:24] boek commented on #6945
https://bugzilla.mozilla.org/show_bug.cgi?id=1610960

[2020-01-22 21:25] boek commented on #7322
https://bugzilla.mozilla.org/show_bug.cgi?id=1610961

[2020-01-22 21:27] boek commented on #7355
https://bugzilla.mozilla.org/show_bug.cgi?id=1610963

[2020-01-22 21:29] boek commented on #7022
https://bugzilla.mozilla.org/show_bug.cgi?id=1610965

[2020-01-22 21:29] boek commented on #7042
https://bugzilla.mozilla.org/show_bug.cgi?id=1610960

[2020-01-22 21:31] boek commented on #7159
https://bugzilla.mozilla.org/show_bug.cgi?id=1610967

[2020-01-22 21:31] boek commented on #7256
https://bugzilla.mozilla.org/show_bug.cgi?id=1610968

[2020-01-22 21:32] mcomella commented on #7799
I confirmed the problem is fixed when I make the "suitable parent" of the SnackBar as `R.id.homeLayout`:
[code]

I'm not sure what the "correct" solution is though.

[2020-01-22 21:46] mcomella commented on #7799
Handing this off to @emalysz, who worked on the original implementation with me.

[2020-01-22 22:28] ekager commented on #5586
@AndiAJ

This should generate a general "sync now" event type when we sync. @vesta0 do you need to know which categories are synced every time a user generates a sync event? We are already recorded when these categories are changed.

This should be ready to test! Thank you!

[2020-01-22 23:11] jonalmeida commented on #771
I've been tracking the work on the WebPush board: https://github.com/orgs/mozilla-mobile/projects/42

[2020-01-22 23:52] liuche commented on #6758
how's this looking @boek @gabrielluong can we get it landed this week?

[2020-01-23 00:03] boek commented on #6758
@liuche got the branch all fixed up to land just trying to get CI to pass now 👍

[2020-01-23 00:21] owlishDeveloper commented on #6760
👾

[2020-01-23 00:31] yoasif opened #7877 "[Bug] Typing search query in address bar shows search suggestion that severly lags / is slower than typing"
## Steps to reproduce

1. tap in address bar.
2. type any text. I typed "weather in 100"

### Expected behavior

The first search suggestion should always track the speed at which I am typing my query. I know that there is discussion around this in  #1742, but I disagree with the request there (I don't see an obvious way to search my query without an affordance, especially since I don't trust what

[2020-01-23 00:36] kbrosnan commented on #7376
Group triage to see if there is any engineering work here.

[2020-01-23 01:10] liuche commented on #6758
oh my god so excited

[2020-01-23 01:17] liuche commented on #7852
That's pretty bad! I can't seem to repro this though. Is there any other information @softvision-miralobontiu that you have found about what could be causing this?

[2020-01-23 01:59] liuche commented on #7845
Since this might be handling #7795 I'm filing the [release management](https://bugzilla.mozilla.org/show_bug.cgi?id=1611034) bug early.

[2020-01-23 02:07] liuche commented on #7864
[code]

[2020-01-23 02:08] liuche commented on #7864
We decided not to enable experiments in Nightly, because there were some startup crashes that had been caused by some version checking differences in the experimenter platform.

We could revisit that decision, but since we don't initialize Experimenter on Nightly at all that's probably the cause.

[2020-01-23 07:24] Madis0 commented on #1500
How about adding the tab icon as a badge to the favicon/index letter itself? That would look more like the new autocomplete on the desktop.

[2020-01-23 07:52] AndiAJ commented on #5884
Hi, I've just checked this matter on the latest **Fenix Beta 3.2.0-beta. 2 #20230233 from 01/23** using a OnePlus A3 (Android 6).

✔️User adding a new custom search engine - Ping **7f01f061-7c25-4c78-9b8c-0bfda6f13cec**

#### Searches performed with a custom search engine.
► Set Custom Search Engine as Default
✔️Baseline ping after performing a search - Ping **a1b344af-706e-4dd4-9201-f7b9a0fe8170*

[2020-01-23 08:27] AndiAJ commented on #1607
Hi, verified as fixed on **Fenix Beta 3.2.0-beta. 2 #20230233 from 01/23** using a Google Pixel 3a XL (Android 10)

Set Custom Search Engine as Default
✔️ Search - Ping **260894ed-84b6-4777-b07c-5fff5f22fb35**
✔️ Baseline - Ping **1a048ab8-c173-40d2-aef5-ea85e9ed4048**
✔️ Suggestion - Ping **18bd7e99-36da-4ee3-9953-5d834a371655**
✔️ Baseline - Ping **a3361ffa-6e34-47be-924f-0a58143c3921**

Shortcu

[2020-01-23 08:41] mcarare commented on #5722
@sblatz that is puzzling. I've tried on the same device as yours and with all screen resolutions available. And I don't have any pixelation.

[2020-01-23 09:04] nanake opened #7879 "[webcontent] render differ between fenix and firefox desktop and other browsers"
## Site with issue and any steps to reproduce
1. https://indy-theme.tumblr.com/ (no need to enable desktop site) or
   https://sweetoothgirl.tumblr.com/ (need to enable desktop site)
2. scroll to the bottom
3. click at down arrow button ↓

### Expected behavior
animate in full circle

### Actual behavior
not animate in full circle

### Does toggling Tracking Protection fix the issue? (Press the lo

[2020-01-23 09:58] Sparky93 commented on #7855
Sorry, I'm going to focus my work on migration tickets rather than this.

[2020-01-23 10:10] ebalazs-sv opened #7955 "Fennec migration: The migration screen text font is different than in the specifications"
## Preconditions:
Have Fennec installed.
## Steps to reproduce
1. Replace Fennec with Fenix using a build from [here](https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2020.01.16.revision/9c25d274d0d3c6549f607ce1298471ca6627a8d4).
2. Observe the migration screen text font;
### Expected behavior
The migration screen is displayed as in the [abstract](https

[2020-01-23 10:12] AndiAJ commented on #6396
Hi, **verified as fixed** on **Fenix Beta 3.2.0-beta. 2 #20230233 from 01/23** using a Google Pixel 3a XL (Android 10)

✔️ Auto Sync right after log in:
Bookmarks - Ping 63cecb95-fb8e-43c3-b655-66f9d675888f
History - Ping 867c1ef0-14d4-42a8-b7ef-5c86398cc60c
Logins - Ping 53aee8c9-2139-45c7-8082-20f5e003c868

✔️ Manually performing a sync having both options enabled
Bookmarks - Ping bc506f3e-7d52-

[2020-01-23 10:12] #6396 closed

[2020-01-23 10:46] pocmo commented on #7818
@mcomella What does the question mark behind 150ms mean? Are there more measurements required? I wonder how the full startup compares to the previous state, not looking at this activity in isolation.

Some background on why this change was made:

The migration has two requirements:
- The data migration needs an exclusive lock on the database. We can't let other code access the database since it wi

[2020-01-23 11:06] cadeyrn opened #7880 "[Bug] Long pause before app launch when clicking homescreen icon on cold startup"
### Steps to reproduce

0. open the Android recent apps screen and remove all instances of Firefox Preview
1. open the Firefox Preview stable release
2. do the same with Firefox Preview Nightly

Please note: step 0 is important. After Firefox Preview is "warmed up", subsequent openings of Firefox Preview are fast in both cases.

### Expected behavior

Same performance or an even better performance

[2020-01-23 11:22] cadeyrn commented on #7880
I attached a screencast. First I opened the stable release, then Nightly. It doesn't look like a large delay in the screencast but the small delay has a large _perceptual_ impact.

![ezgif-3-6f796764c188](https://user-images.githubusercontent.com/1100614/72980383-cb3a9380-3dda-11ea-9d6d-1442884c9a3e.gif)

[2020-01-23 11:34] ValentinTimisica opened #7881 "[Bug] Telemetry event for deleting a custom search engine is not sent"
## Steps to reproduce
- Navigate to `Settings` -> `Search`
- Have a custom search engine added
- Tap on 3 dots icon from a custom search engine -> Select `Delete`

### Expected behavior
- Telemetry event (`CustomEngineDeleted`) should be send.

### Actual behavior
- No telemetry event is sent when a custom engine is deleted.

This is a follow up to #5884.

[2020-01-23 11:37] ValentinTimisica commented on #5884
@AndiAJ note that this issue is tied to #7751 (which is a follow up to this telemetry task) and you should test the build generated after 7751 was merged because there I removed the "Searches performed with a custom search engine" telemetry (see explanation in all the comments from [here](https://github.com/mozilla-mobile/fenix/pull/6918#discussion_r362045048)).

So actually these 2 tasks only reg

[2020-01-23 11:59] nakinthorn opened #7882 "how to set default of Fenix to open google.com when load"
how to set default of Fenix to open google.com when loaded

[2020-01-23 12:11] jawadalkassim opened #7883 "the snackbar after closing a tab won't disappear [Bug]"
## Steps to reproduce
Close a tab
### Expected behavior
Snackbar appears a few seconds with undo button then disappear
### Actual behavior
Snackbar appears and don't hide at all , and after a while  if you press the UNDO button the snackbar will disappear but tab don't return.
### Device information

* Android device: 8.0
* Fenix version: Nightly 200123 06:00 (Build #20230608)
29.0.0, cc808a804
GV

[2020-01-23 12:11] cadeyrn commented on #7883
Duplicate of #7799.

[2020-01-23 12:18] #7883 closed

[2020-01-23 12:52] AndiAJ commented on #5884
Hi, based on @ValentinTimisica 's comment, I'll mark this issue **verified as fixed.**

1. The user adding a new custom search engine **work properly**
2. The user deleting a custom search engine will be tracked in #7881

[2020-01-23 12:52] #5884 closed

[2020-01-23 12:56] ghoppaccia commented on #7866
Thank you @sblatz for opening this bug.

I would add that the search engine is neither using the real icon of the webpage, should I open another bug for that?

[2020-01-23 13:00] pocmo commented on #7818
I did some simple measurements - measuring the time from `IntentReceiverActivity.onCreate()` to `HomeActivity.onCreate()` (with `SystemClock.elapsedTime()`).

Some observations:
- A cold start (new app process) is 3x slower than a warm start (app process already running) - in my case avg 367ms vs. 111ms (4 measurements). This seems to hint at the main thread being busy with a bunch of other things

[2020-01-23 13:11] sv-ohorvath opened #7885 "The amazon username/email is not filled in on the Save login pop-up"
## Steps to reproduce
1 Go to amazon sign in page.
2. Type in the username/email, password. Submit.
### Expected behavior
The username and password are filled-in on the save login pop-up
### Actual behavior
Only the password is filled-in. The username is empty.
### Device information

* Android device: any
* Fenix version: Nightly 1/21.

┆Issue is synchronized with this [Jira Task](https://mozilla

[2020-01-23 13:19] sv-ohorvath opened #7886 "[Bug] White icons on light theme, on the Save login pop-up (specific devices only)"
## Steps to reproduce
1. Login on a website.
2. Check the left side icons next to the web address and the "Do you want..." header.
### Expected behavior
Black icons on light theme.
### Actual behavior
While icons on light theme, almost invisible.
### Device information

* Android device: LG Nexus 5, HTC Desire 820 ( both Android 6.0.1)
* not reproducing on other OS's
* Fenix version: Nightly 1/21

[2020-01-23 13:19] sv-ohorvath commented on #5542
Created #7886 & https://github.com/mozilla-mobile/fenix/issues/7885. Closing this as fixed on Nightly.

[2020-01-23 13:19] #5542 closed

[2020-01-23 14:03] AndiAJ commented on #7574
Hi, **verified as fixed** using a Google Pixel 3a XL (Android 10) on:

### Fenix Nightly Build #20230608 from 1/23 (Locale changed in Fenix)

• Italian
Event type pings:
✔️ Toolbar Top - Ping 6bd7b212-1ead-4a57-af26-f7cef9d28d12
✔️ Toolbar Bottom - Ping d3262a29-f499-49ee-b559-8ba3d199b3ca

Metrics type pings:
✔️ Toolbar Top - Ping ecbfa4a3-ddf8-4d08-9216-9d0333ea0e36
✔️ Toolbar Bottom - Ping 2abe

[2020-01-23 14:03] #7574 closed

[2020-01-23 14:09] sv-sdeiac opened #7887 "[Bug][a11y]Common myth hyperlink button to small - consider making larger"
### Prerequisites
1. Make sure you have Google Accessibility Scanner installed.

## Steps to reproduce
1. Tap on the private mode button;
2. Without any page opened, scan the "private mode" section using the Accessibility Scanner.

### Expected behavior
There are no suggestions to make any changes.

### Actual behavior
There is a suggestion to consider making the Common myth hyperlink button large

[2020-01-23 14:27] rpappalax commented on #6406
@ekager A-C folks reached out last week and I've added them. I believe everyone that needs access to Firebase should now have it.  For posting test results as PR comments there's a separate issue #6760.  did you still want to keep this open or close?

[2020-01-23 14:28] rpappalax commented on #6760
update: rather than using MickeyMoz or github actions, @owlishDeveloper will be adding our script directly to taskcluster so we can do same for any of our mobile projects

[2020-01-23 15:05] KMaragh commented on #7836
Hey! I can take this :)

[2020-01-23 15:35] sv-ohorvath commented on #7852
@liuche We couldn't reproduce it either, with reliable steps. It happened today once on a Samsung Galaxy Tab 3 (Android 8.0). The only thing the 2 had in common was browsing through tabs, no sync accounts, no changes on ETP. We'll continue to investigate.

[2020-01-23 16:08] vmbaicu opened #7889 "[Bug] Fennec migration - Landscape Mode - Overlapping elements on the migration onboarding screen"
Reported by Diana Rus in A-C https://github.com/mozilla-mobile/android-components/issues/5625

Preconditions:

Have Fennec installed and logged in. Have the app open.
Steps to reproduce:

Replace Fennec with Fenix using a build from [here](https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-nightly.2020.01.17.revision/e4eba42b93d58586b2afb6e13d3e57b37a5209c3).
Rot

[2020-01-23 17:38] pocmo commented on #7880
Like the same as #7818.

[2020-01-23 17:51] Baron-Severin commented on #3088
QA note: we will want to verify that no locales are stripped from nightly, and unlisted locales _are_ stripped from release.  I don't think this will be possible via manual testing (e.g., we will strip `en-GB`, but it will fall back to `en` and look very similar).  If it's alright with you, I will verify after the next release is cut, and comment here with the results.

[2020-01-23 17:52] liuche commented on #6611
Yes, I see it now on the About page! Thank you.
![Uploading Screenshot_20200122-105944.png…]()

[2020-01-23 17:52] #6611 closed

[2020-01-23 18:03] mike-pt commented on #1168
I'm not one to decide but consider that this would force me to install another browser to be able to access local router config or other LOCAL web services that have self-signed certificates.

I understand the security point of view but I often find myself switching to *insert other browser (even if it is "old" firefox)* for this reason.

Both home users and enterprise users still need this more o

[2020-01-23 18:06] Cheap-Skate commented on #7866
@ghoppaccia re generic search favicon I already filed #7491

[2020-01-23 18:27] ekager opened #7895 "Update our readme to replace Slack with new Matrix info"

[2020-01-23 18:34] Baron-Severin opened #7896 "Integrate AC "search" text selection menu into Fenix"
Integrate work from https://github.com/mozilla-mobile/fenix/issues/5695 into Fenix

[2020-01-23 18:35] Baron-Severin commented on #5695
Spinning out a small story to integrate this work into Fenix https://github.com/mozilla-mobile/fenix/issues/7896.  Should be trivial.

[2020-01-23 19:16] emalysz commented on #7799
Should be fixed once https://github.com/mozilla-mobile/fenix/pull/7878 lands

[2020-01-23 19:24] vesta0 commented on #1168
I believe this will be fixed by #6380

[2020-01-23 19:26] vesta0 commented on #6176
This should be a higher priority.

[2020-01-23 19:39] ballisonmoz opened #7898 "Ability to remove saved logins/passwords from within Firefox Preview"
### Why/User Benefit/User Problem
Users currently have to go through Firefox Desktop and to about:logins to remove outdated/incorrect logins and passwords from their account and browser. Adding this feature in Fenix allows users to manage everything without leaving the app and cuts out an unnecessary and tedious step.

[2020-01-23 19:43] vesta0 commented on #5586
This should be good enough for now @ekager thank you :)

[2020-01-23 19:47] vesta0 commented on #6610
We should wait until our final sprint, thanks for checking!

[2020-01-23 20:35] vesta0 commented on #2833
I don't think we need to clear cache after user signs out but I thought this ticket was about the "remove account" event which is different, is that not the case?

[2020-01-23 20:38] kbrosnan commented on #7671
It would be helpful to get a crash log when this happens. https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information

[2020-01-23 20:39] kbrosnan commented on #7898
duplicate of #5774

[2020-01-23 20:39] #7898 closed

[2020-01-23 20:57] djc commented on #7329
This doesn't seem to work for me most of the time. Definitely an annoying paper cut.

[2020-01-23 21:02] digitarald commented on #7355
@siddharths2710 could you check Browser Console for any related logs?

It's recommended that you match your Firefox version with Fenix's Gecko version (aka Fenix Nightly would need Firefox Nightly), can you try that?

[2020-01-23 21:16] #7895 closed

[2020-01-23 21:26] liuche commented on #7818
Adding this to the Fenix AC board bc this is possibly a perf startup regression, and we need to prioritize this to hit our perf goals for shipping.

[2020-01-23 21:26] liuche commented on #7880
Adding this to the Fenix AC board bc this is possibly a perf startup regression, and we need to prioritize this to hit our perf goals for shipping.

[2020-01-23 21:36] mcomella opened #7899 "Identify Mozilla libraries built for Android that could be built with optimizations for speed"
https://bugzilla.mozilla.org/show_bug.cgi?id=1611279

[2020-01-23 21:41] emalysz opened #7900 "Investigate if nav_graph performance can be improved"
### Why/User Benefit/User Problem
When creating the homeActivity, the setContentView uses R.layout.activity_home. This eventually calls into the nav_graph. Investigate if we should consider using more than one nav graphs and nesting them.

There is a chance that this does not have significant performance improvements and should just be left as a single navigation graph.

### Acceptance Criteria
Ho

[2020-01-23 21:44] #7472 closed

[2020-01-23 21:47] #7473 closed

[2020-01-23 21:50] cadeyrn commented on #7800
Probably an AC issue because the Reference Browser is also affected…

[2020-01-23 21:54] Baron-Severin opened #7902 "[Bug] Login prompts are closed on page load"
## Steps to reproduce
- Enable saving logins
- Login to website

### Expected behavior
- Login prompt is shown and is usable

### Actual behavior
- Login prompt is shown before being immediately closed

### Device information

* Android device: ?
* Fenix version: ?

[2020-01-23 22:09] mcomella opened #7903 "Long pause until page finishes loading when clicking a Google search result (GeckoLoginDelegateWrapper.onLoginFetch?)"
STR from Vesta (I have no seen this locally):
- Open Firefox
- Click the url bar
- Type in a query, hit enter
- Google search doesn’t take that long
- Tap on a result
- The page takes 50-60 seconds to load. For the first 10 seconds you still see the search results screen, and for the next 40-50 seconds you see a blank page, and the destination page appears all at once (if the user hasn’t given up

[2020-01-23 22:23] cadeyrn commented on #7800
@hawkinsw: Changing the following line:

https://github.com/mozilla-mobile/fenix/blob/ffc441f12a350e8fc3f02f445af22166044f9c19/app/src/main/java/org/mozilla/fenix/HomeActivity.kt#L324

from `searchTermOrURL.isUrl()` to `searchTermOrURL.isUrlStrict()` fixes the issue so I guess it's a regression from https://github.com/mozilla-mobile/android-components/pull/5384.

Could you please have a look? It's

[2020-01-23 22:45] rfk commented on #2833
The equivalent "remove account" option on desktop also does not clear cache, doing "remove account" and then going to sign in again will default to prompting you with the same account you used previously. So I don't think we need to worry about it for Fenix either.

[2020-01-23 22:52] hawkinsw commented on #7800
I will absolutely take a look!

[2020-01-23 23:01] hawkinsw commented on #7800
Fix is ready. I will PR tonight. Sorry!

[2020-01-23 23:03] lime124 commented on #2768
So sorry I dropped the back let me loop in Amy as well @amylee

On Wed, Jan 22, 2020 at 10:32 AM Vesta Zare <notifications@github.com>
wrote:

[2020-01-24 00:07] liuche commented on #7832
if you're actively working on this do you want to assign yourself @Baron-Severin ?

[2020-01-24 00:18] ekager opened #7907 "ETP doesn't work on a quick first load on first run"
Running on clean build on master geckoNightly flavor I can repro this locally.

For example in `testStrictVisitContentNotification` the ETP onboarding popup does not display. After some debugging I found this is because `session.trackersBlocked.isNotEmpty()` is false when we would go to display it.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-15354)

[2020-01-24 00:23] ekager commented on #7907
So either:
 - Our `etp.html` page we use for the test needs updating because we are using new lists in ETP (did we update these?)?
- Or we're not blocking/recording trackers when we should be.

@AaronMT , @Amejia481 any initial thoughts here?

[2020-01-24 00:37] ekager commented on #7832
Looks like same bug with STR in https://github.com/mozilla-mobile/fenix/issues/7344

[2020-01-24 00:47] ekager commented on #7907
So it looks like if we reload the page, the correct categories are blocked and the onboarding popup displays. So I'm thinking this is likely related to https://github.com/mozilla-mobile/fenix/issues/7636 and the corresponding GV change https://bugzilla.mozilla.org/show_bug.cgi?id=1609701 since we didn't actually land anything to change this in Fenix AFAICT

So @Amejia481 does Fenix need to change

[2020-01-24 00:50] jonalmeida commented on #6251
With LP push support in #7906 landing soon, this bug will become more noticeable.

[2020-01-24 00:53] ekager commented on #7677
Can you still reproduce @sv-ohorvath ?

[2020-01-24 01:17] mcomella commented on #7818
I'm curious about this too. My thoughts are:
- If we don't launch any coroutines, we don't waste time adding processing for scheduling (both by the Android framework and the coroutine libs)
- Currently, we're doing a view hierarchy traversal to layout and draw a frame we never actually draw (because the Activity is transparent). If we can avoid this, we'll save ourselves all that time
  - I think

[2020-01-24 01:20] mcomella commented on #7818
(if you get a duplicate email, it's because I accidentally hit submit. I noted below where I added additional content)

I'm curious about this too. My thoughts are:
- If we don't launch any coroutines, we don't waste time adding processing for scheduling (both by the Android framework and the coroutine libs)
- Currently, we're doing a view hierarchy traversal to layout and draw a frame we never ac

[2020-01-24 01:21] mcomella commented on #7880
I noticed we no longer draw the white frame before we launch into the activity: I'm not sure if this was intentionally disabled, if this was a result of Activity redirection, a result of yielding the UI thread (due to coroutine processing), or what. If we can re-enable this frame, it may improve perceived performance.

[2020-01-24 01:24] liuche commented on #220
Putting this back into the sprint bc @BranescuMihai isn't available to work on this right now!

[2020-01-24 01:48] Baron-Severin commented on #7832
I haven't been able to reproduce #7344 yet.  Seems like this fix should cover it as well, but 🤷‍♂.

[2020-01-24 02:47] NotWoods commented on #7835
Duplicate of https://github.com/mozilla-mobile/android-components/issues/4253.

[2020-01-24 02:47] #7835 closed

[2020-01-24 03:43] NotWoods commented on #7900
For what its worth, I have a PR for subgraphs up: https://github.com/mozilla-mobile/fenix/pull/7023

[2020-01-24 04:32] rpappalax commented on #7907
These are failing consistently on API 28, by the way.  I only saw 1/4 fails on API 25.
[testStrictVisitDisable](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7845989212416703910/executions/bs.7243fde113f25ed1/testcases/1/test-cases)
[testStrictVisitProtectionSheet ](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/historie