[2019-10-24 19:55] hakkikaancaliskan commented on #4208
@cpeterso not fixed :(
<img src="https://user-images.githubusercontent.com/17825767/67520168-ffee6000-f6b0-11e9-8f90-bd7a555da1df.png" width=300>

[2019-10-24 20:18] cadeyrn commented on #747
The leak is still present but with the new LeakCanary version the user interface is finally back so I can share more details.

Download .hprof file:
https://drive.google.com/open?id=13dnKqhDJxrlCnOELzG1xb7xJTnxHEqeB

[2019-10-24 20:20] daphliu commented on #6255
I would like to take on this!

[2019-10-24 20:23] cadeyrn opened #6259 "[Bug] Fenix crashes when opening a custom tab"
### Steps to reproduce

1. make sure Fenix is your default browser
2. press a link in an external app with custom tab support

### Expected behavior

no crash.

### Actual behavior

[code]

### Device information

* Android device: HTC U11 / Android 9.0
* Fenix version: master branch revision 6290c0c82610be319cdc39de3b633a28947bab1f

[2019-10-24 20:26] lwa-moz commented on #373
@boek @AndiAJ

In the process of troubleshooting for this issue, it appears that **all** Preview users do not have push tokens associated with their devices. They should, as long as notifications are enabled (which is the default state). Both Andi and I can confirm that our devices have push notifications enabled, but no push token associated in the Leanplum dashboard.

Leanplum support suggested:

[2019-10-24 20:28] cadeyrn opened #6260 "[Bug] menu button on different position on start screen and tab view"
### Steps to reproduce

1. switch between the start screen and an open tab
2. look at the menu button

### Expected behavior

menu button doesn't change the position

### Actual behavior

menu button jumps.

### Device information

* Android device: HTC U11 / Android 9.0
* Fenix version: master branch revision 6290c0c82610be319cdc39de3b633a28947bab1f

[2019-10-24 20:49] lime124 commented on #2912
i apologize, i just want to clarify where/ how you are accessing those pages. it appears the STR you are doing:
1. open fenix
2. tap search bar
3. type about:firefox (or any of the others)
4. observe

am i following that correctly? if so, i believe those are webpages handled by a different team though i'll confess i don't actually know how they are made or who works on them. the ones i tried seeme

[2019-10-24 20:51] cadeyrn opened #6262 "avoid shipping unlocalized strings"
Firefox Preview 2.2 was not the first stable release of Fenix which shipped with untranslated strings ("open links in a private tab"). Side note: The same happens with Fennec, Firefox 68.2 was released with untranslated strings, too.

Shipping untranslated strings gives always the impression of an unfinished product and should be avoided in stable releases. Unfortunately I can't make any concrete

[2019-10-24 21:11] pwd-github commented on #2912
That is indeed the correct STR.

[2019-10-24 21:31] lime124 opened #6263 "Collections Product Quality - gradient"
Pulling from the checklist here: #2896

Need a gradient background on top and bottom to remove hard edge when scrolling through tabs. See bottom of spec image for implementation details.

![image](https://user-images.githubusercontent.com/287322/67527048-e3c7d000-f66a-11e9-81e2-c3924b1ee06e.png)

[2019-10-24 21:32] lime124 commented on #6263
@AmyYLee can you confirm this is still relevant and the information is still correct?  thanks!

[2019-10-24 21:42] AmyYLee commented on #4776
Hi,

Here is the updated mock with additional items we would like to include

![Settings - About Firefox Preview@1x](https://user-images.githubusercontent.com/5992746/67527680-90af4680-f685-11e9-8023-f52606b875da.png)

[2019-10-24 21:46] lime124 commented on #6263
once this has been confirmed by amy, does this have any dependencies? can this by picked up by a contributor?

[2019-10-24 21:53] lime124 commented on #4776
can this be picked up by a contributor? are there dependencies?

[2019-10-24 21:57] lime124 commented on #4776
i reached out to joni. if release notes are required and depending on timing, we can either update the mock in this issue or create a follow up .

[2019-10-24 22:15] lime124 commented on #6048
adding to group triage - are there any dependencies? can a contributor pick this up?

[2019-10-24 22:25] lime124 commented on #5736
for group triage - are there any dependencies? can this be worked on by a contributor?

[2019-10-24 22:34] lime124 commented on #5694
@abatishchev the scope of this ticket was limited to selecting the position of the nav bar. thanks!
<img width="363" alt="Screen Shot 2019-10-24 at 3 33 41 PM" src="https://user-images.githubusercontent.com/287322/67530354-b6335480-f673-11e9-9cc4-1aec723595a1.png">

[2019-10-25 02:17] NotWoods commented on #4776
I think this can be picked up by contributors. Except for the bottom two items, all the links should open a new web page. We should probably open custom tabs similar to the support menu that already exists.

[2019-10-25 05:40] AndiAJ commented on #373
Thanks @lwa-moz for checking ! :smiley:

I'll remove the QA needed label until the above mentioned matter will be clarified.

[2019-10-25 07:53] AndiAJ commented on #2477
Hi, I've just tested this issue on **the latest Nightly Build #12980627 from 25/10** and noticed the following:

1. If you close the app and afterwards navigate back to an Instagram or Facebook page the zoom doesn't seem to be working even if it's enabled in Accessibility.

Manage to reproduce this with a Google Pixel 3a XL (Android 9) Huawei and Mate 20 Lite (Android 8.0.1)
Not reproducible on Sa

[2019-10-25 09:59] AndiAJ commented on #4233
Hi, **verified as fixed** on the Nightly Build #12980627 from 25/10 using a Google Pixel 3a XL (Android 9).

As we don't have NFC tags, I've tested the following scenarios:
►Shared 2 websites using NFC from Chrome (Samsung Galaxy S10+) to  Fenix Nightly (Google Pixel 3a XL (Android 9))
![20191025_121307](https://user-images.githubusercontent.com/51314259/67561016-b8a1b700-f724-11e9-8092-3461f5881f

[2019-10-25 09:59] #4233 closed

[2019-10-25 11:20] serovar commented on #2139
Chrome just added this feature to its stable channel (version 78) on both desktop and mobile.

[2019-10-25 11:24] GyokuroT commented on #2286
This feature is definitely a must!

[2019-10-25 11:46] AndiAJ commented on #5522
Hi, **verified as fixed** on the latest Nightly Build #12980627 from 25/10 using the following devices:
• Google Pixel 3a XL (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

![rsz_screenshot_20191025-143102](https://user-images.githubusercontent.com/51314259/67568923-34f0c600-f736-11e9-8668-34fb78e1a126.p

[2019-10-25 11:48] ValentinTimisica opened #6268 "[Bug] Replace remaining android:drawableTint with appcompat version"
As a follow up for #6145 issue we should also change drawableTint from search_pill style to appcompat version.

[2019-10-25 12:22] softvision-miralobontiu commented on #4036
Verified as fixed on the 10/25 Nightly build (#12980628) with Google Pixel (Android Q), and Google Pixel 3 (Android 9).

[2019-10-25 12:22] #4036 closed

[2019-10-25 12:34] topotropic commented on #5941
I'd like to leave it open to discuss and review the preliminary analysis with Elisabeth once she's back next week.

[2019-10-25 12:35] topotropic commented on #5950
Opened a bugzilla issue and discussed it with Elisabeth.

[2019-10-25 12:35] #5950 closed

[2019-10-25 12:53] martinlanger90 commented on #5694
can I already use a dev .apk :-)???

[2019-10-25 12:56] AndiAJ opened #6269 "[Bug]"Search with" and "Search or enter address" strings improperly positioned in RTL"
## Prerequisites
Have RTL enabled in Developer options

## Steps to reproduce
1. Tap on the search bar
2. Check the position of the "Search or enter address" from the search bar
3. "Search with" above the search shortcuts

### Expected behavior
Should be properly positioned

### Actual behavior
"Search or enter address" string to close to the left edge of the search box
"Search with" to close to t

[2019-10-25 13:47] ValentinTimisica commented on #6145
@ekager Because the patch for this ticket was already merged by the time I saw your comment I created a new issue (#6268) for which I already have a pull request.

[2019-10-25 14:10] jonalmeida commented on #373
This was my analysis too while investigating https://github.com/mozilla-mobile/android-components/issues/4736

[2019-10-25 14:16] saddy001 commented on #5489
For me, not being able to add a custom search engine is a show-stopper. Searching is one of the most important features in this internet-thing.

[2019-10-25 16:15] sblatz opened #6273 "Document new flow for asking UX for review in wiki"
Add bullet to UX Review: https://github.com/mozilla-mobile/fenix/wiki/Fenix-Team-Processes

[2019-10-25 16:19] BranescuMihai commented on #6184
Might need a bit of help from UX, I looked in the code and seems like for now this is the way it's designed, just open Downloads folder for every time of file ([Issue referencing this](https://github.com/mozilla-mobile/fenix/issues/4525)). Should this be a to-do feature in the [A-C : Download Manager backlog](https://github.com/orgs/mozilla-mobile/projects/34) ?

[2019-10-25 16:23] Baron-Severin opened #6274 "SearchFragment is noticibly slow on first run"
## Steps to reproduce
- Open a fresh Fenix instance
- Click on the URL bar

### Expected behavior
- Search fragment should appear quickly

### Actual behavior
- Search fragment is noticeably slow to appear
- This only happens the first time the SearchFragment is launched

### Device information

* Android device: physical Pixel 2, emulator
* Fenix version: 9d91108f4e6576860bc1da734768b4422d08cba8

[2019-10-25 16:40] liuche commented on #6262
This is an ongoing effort for us, thanks for raising this! We try to give our localizers 2 weeks to do localization, but sometimes people don't have time (which is okay) or we need to make last-minute changes to the strings.

Moving forward, we'll also be adding an extra 2-week beta channel in between Nightlies and Release, so that should also give extra time for localization (starting around Dece

[2019-10-25 16:40] #6262 closed

[2019-10-25 16:41] BranescuMihai commented on #6154
Our QuickActionSheet looks like is designed as a Modal BottomSheet, and the material design guidelines suggest that we should not collapse the modal on tap. Maybe UX can confirm this.
Resources:
[Go to control section for the modal bottom sheet](https://material.io/components/sheets-bottom/#modal-bottom-sheet)
[Merged pull request from flutter removing this exact functionality to be in line with m

[2019-10-25 17:13] liuche commented on #5958
Bumping this up to E8 to handle overflow work from #5959

[2019-10-25 17:14] liuche commented on #1298
We're getting close, but there are problems with our Adjust integration. Will keep working w/ Loren on this. We should keep pushing on this because it's important.

[2019-10-25 17:15] liuche commented on #5585
@NotWoods we're going through this in our sprint planning, could you give an update?

[2019-10-25 17:17] liuche commented on #5577
E5 remaining for this sprint.

[2019-10-25 17:19] liuche commented on #5576
This is probably a change in AS, so we should work w/ @jonalmeida and @grigoryk on this.

[2019-10-25 17:23] liuche commented on #373
@boek will keep an eye on this while AC works on it.

[2019-10-25 17:24] liuche commented on #3526
Fenix hides these redirects, but it sounds like maybe they shouldn't even be added to history?

[2019-10-25 17:47] liuche commented on #4281
Dynamically updating the menu will be difficult - we can easily update it every time the menu is opened, but we can't easily update the menu while it's open.

For example, if we don't have Reader Mode available when we start loading the page and open the menu, we won't see the reader mode icon.
However, if the page is fully loaded, the Reader Mode icon will be present.

[2019-10-25 17:48] liuche opened #6275 "Dynamically update menu to show dynamic items like Reader Mode"
### Why/User Benefit/User Problem

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-14128)

[2019-10-25 17:57] liuche commented on #204
@vesta0 these are done by Design, so we discussed moving them to a section in the Feature Backlog for you to prioritize!

[2019-10-25 18:33] NotWoods commented on #5585
I can't reproduce the issue, so perhaps we should close it.

[2019-10-25 18:33] csadilek commented on #5678
The additional exception details helped us understand the problem. We're running into cases where the `customTabSessionId` [1]  (which we get from the intent [2]) is `null` i.e. because the process was killed.

Consequently, we're trying to open the selected session (instead of the custom tab session) in a custom tab and two things can happen:
- If the selected session is already rendered, opening

[2019-10-25 18:33] ekager opened #6278 "Figure out better way to manage and opt of of all experiments"
We should plan out and write a clear, reusable way for new experiments:
- [ ] Handling the experiment changes in the app
- [ ] What happens when a user turns off all experiments

Currently we are just opting out of experiments in a silly way (manually resetting the users' settings if they have opted out). See #6219 / #6277 . Let's figure out a better way to do this for when we run more than one ex

[2019-10-25 18:40] KWierso opened #6279 "[Bug] Firefox Preview crashing when file picker tries to open"
## Steps to reproduce
Open a page with an "attach file" button (signed in twitter or facebook are what I've tried).
Tap the "attach file" button.

### Expected behavior
The file picker should open, and I should be able to attach an image to the tweet or facebook post.

### Actual behavior
Firefox crashes, rather than opening the file picker ui.

### Device information

* Android device: Pixel 3, A

[2019-10-25 18:41] KWierso opened #6280 "[Bug] Firefox Preview crashing when file picker tries to open"
## Steps to reproduce
Open a page with an "attach file" button (signed in twitter or facebook are what I've tried).
Tap the "attach file" button.

### Expected behavior
The file picker should open, and I should be able to attach an image to the tweet or facebook post.

### Actual behavior
Firefox crashes, rather than opening the file picker ui.

### Device information

* Android device: Pixel 3, A

[2019-10-25 18:42] KWierso commented on #6280
Grr, this submitted twice...

[2019-10-25 18:42] #6280 closed

[2019-10-25 18:46] KWierso commented on #6279
I've also hit this crash trying to upload a file to onedrive.live.com, so it's not just the image picker that's hitting this, it's any file picker, as far as I can tell.

[2019-10-25 19:14] NotWoods commented on #6184
Duplicate of #5959. The download notification is being redesigned with these changes (and more).

[2019-10-25 19:14] #6184 closed

[2019-10-25 19:45] NotWoods commented on #6145
I'll close this issue since the remaining work has been spun out into another issue.

[2019-10-25 19:45] #6145 closed

[2019-10-25 20:29] ekager commented on #5104
Reopening for QA

[2019-10-25 20:39] pocmo commented on #6279
Caused by AC issue: https://github.com/mozilla-mobile/android-components/issues/4854

[2019-10-25 20:59] colintheshots opened #6281 "[Secure Proxy] Support captive portals"
## User Story
- As a user, I want to be able to log into a captive portal for Internet access, if required, before attempting to connect to the proxy server.

## Dependencies
- This may require adding support for the captivePortal WebExtension permission and API feature in GeckoView to do right. https://bugzilla.mozilla.org/show_bug.cgi?id=1591568

### Acceptance Criteria
- I can connect to a WiFi

[2019-10-25 21:09] jonalmeida commented on #5576
I didn't want to wait for triage, so we fixed this with the help of @jrconlin. :)

[2019-10-25 21:09] #5576 closed

[2019-10-25 22:46] RyanMarzec commented on #4682
Is anyone working on this or may I?

[2019-10-26 04:58] NotWoods commented on #5827
Unfortunately we have to close this issue, this change is causing crashes when the generated ID has more than 16 bits. (mozilla-mobile/android-components#4854)

[2019-10-26 04:58] #5827 closed

[2019-10-26 09:17] Cheap-Skate opened #6284 "[Bug] No Search Shortcuts shown if tap on URL"
## Steps to reproduce

Open a new tab
The Search screen shows a blank text box and a list of search shortcuts ie **the Shortcuts button is depressed**
(expected behavior)

Instead
Navigate to any URL
Tap the URL to enter the Search screen
Search shortcuts are **not** shown ie **the Shortcuts button is NOT depressed**  <<< NOT EXPECTED

Tap the "Shortcuts" button
The "SEARCH WITH" text appears but

[2019-10-26 09:46] Cheap-Skate opened #6285 "[Bug]Back button works inconsistently in Search screen"
## Steps to reproduce

Close all tabs
Kill Fenix
Relaunch Fenix
Open a new tab
navigate to mozilla.org & wait for it to load
tap the URL bar to move to the Search screen
enter a Google search phrase e.g. "cheese" and hit enter
Get a page of Google search results for cheese
Tap the URL bar to move to the Search screen
The Search text box contains the search term "cheese"
Tap the Android "Back" butt

[2019-10-26 10:56] andreicristianpetcu commented on #2139
Where is this feature in Chrome? @serovar

[2019-10-26 10:58] serovar commented on #2139
[chrome://flags/#enable-force-dark](chrome://flags/#enable-force-dark)

[2019-10-26 13:06] costin3141 opened #6286 "[Bug] back button used in a tab open by a link from another tab does not being you back to the original tab"
## Steps to reproduce
On a site with a link that on click opens the linked site in a new tab activate that link. Then, within that newly opened tab press the back button.
### Expected behavior
The newly opened tab should close and i should be again in the original tab.

This is the behavior as in Firefox for Android and is very convenient.
### Actual behavior
I get to the tab overview with all tra

[2019-10-26 13:06] costin3141 opened #6287 "Update "Not yet available" copy"
The following copy needs to be updated. @betsymi has the correct copy.

![Screenshot_20200313-143124_Firefox_Nightly](https://user-images.githubusercontent.com/42752644/76805261-bfed5e00-67b4-11ea-899a-5c01e3e4e1af.png)

[2019-10-26 13:06] costin3141 opened #6288 "[Bug]"
## Steps to reproduce
On a site with a link that on click opens the linked site in a new tab activate that link. Then, within that newly opened tab press the back button.
### Expected behavior
The newly opened tab should close and i should be again in the original tab.

This is the behavior as in Firefox for Android and is very convenient.
### Actual behavior
I get to the tab overview with all tra

[2019-10-26 13:07] #6288 closed

[2019-10-26 14:55] liuche commented on #6192
What's New is only done for major releases like x.0.

[2019-10-26 14:55] #6192 closed

[2019-10-26 14:57] liuche commented on #6103
Since this project is still in Preview, What's New will only go out for major dot releases. Look for an update in 3.0! Nightlies do not get "what's new" lists because it would change too often to keep up to date.

[2019-10-26 14:58] #6103 closed

[2019-10-26 15:03] liuche commented on #5907
@NotWoods could you link to mocks or explain the rationale behind this behavior?

[2019-10-26 15:14] Cheap-Skate opened #6290 "[Bug] on some URLs, tapping the URL to enter search screen does not highlight whole URL"
Will be handled in AC: mozilla-mobile/android-components#4328

## Steps to reproduce
Navigate to www.theverge.com
Tap the URL to go to search
https://www.theverge.com/ is highlighted AND possibly spurious "2019/" appears at the end of the URL but is not highlighted

It causes confusion if I start to type, the 2019/ part hangs around

If I task swap to another app and come back to Fenix the 2019/ p

[2019-10-26 15:23] Cheap-Skate opened #6291 "[Bug] Can't double tap 3 dot menu to reload page because reload icon is offset horizontally"
## Steps to reproduce

Tap 3 dot menu with index finger
Without moving your finger, tap again as though to reload
It usually doesn't work, the reload icon is offset too far to the left & a bit upwards
Have to move your finger to the left or mash a big area with your thumb

(details probably depend on your finger size & phone screen width)

### Expected behavior

Should always be able to tap-tap sa

[2019-10-26 17:03] NotWoods commented on #5907
We chose to show/hide the toolbar view rather than launch a new activity so that we can handle various cases with navigation.

When the user returns to the original scope, we need to hide the toolbar again. Additionally we want to show the toolbar if validation fails in a Trusted Web Activity.

We didn't see any benefit to launching a new task and managing that lifecycle complexity over just revea

[2019-10-26 19:53] colintheshots commented on #6281
We may not need to do anything special to support this. I just updated the Bugzilla bug to reflect this. Because we're running at the Application-level of the OSI model and not building a network-level VPN for this feature, the captive portal scenario might simply work correctly on Android.

[2019-10-26 20:02] Mrfiregem commented on #3891
This is still an issue, at least with however the [Ohio legislation site](https://www.legislature.ohio.gov) structures their link images.

Long pressing on either the logo or type along the top prompts to open the image instead of the homepage

Nightly 191026 06:00 (Build #12990607)
📦: 19.0.0, 6e6311ea4
🦎: 72.0a1-20191025095546

[2019-10-27 02:49] NotWoods commented on #6263
This can be picked up by a contributor, I'm pretty sure there's no dependencies.

[2019-10-27 07:34] yamamashakaa opened #6292 "Copy and paste text in Facebook Post"
## Steps to reproduce
Open Firefox preview
open Facebook.com and log in
open click on the post to fully open it
Press and hold on a text

### Expected behavior
A menu that contains (select all, copy, past , cut) should appear.
Like the one appear on other websites.
(Attached photo)
![Fenix](https://user-images.githubusercontent.com/16443315/67631300-f6295000-f89c-11e9-8c60-8e3de27aebad.jpg)

### A

[2019-10-27 11:04] nahuhh commented on #6260
(Good) Address bar when on tab/home page
- The spacing address bar on the start/tab page is done correctly. Works properly using a mouse as well.
-touch zones/indicators on menu and + look good and are functional
- dark theme does not have a light grey border on the bottom

(Bad) Address bar when viewing a website
- input zone extends too far to the right.
- Menu button pushed over to the right /

[2019-10-27 12:24] nahuhh commented on #2483
While this was a much needed feature, I do think mixing the "expected behavior" with the old would be ideal.

The original issue with workflow was mostly regarding expectations on the relationship between "parent" and "child" tabs. The new workflow, I feel, reaches too far and includes all previous tabs from all sessions.

My suggestion for improvement below:
"Old" behaviour
1. Press back til you

[2019-10-27 12:57] MichaelKohler opened #6293 "[Bug] https://arnaud.at/emoji crashes Fenix Nightly"
## Steps to reproduce

Open Fenix Nightly, click in the address bar and enter the following URL:

https://arnaud.at/emoji

and then let it load.

### Expected behavior

Does not crash Fenix after a few seconds. Probably also the demo to work, but that's secondary for now.

### Actual behavior

Fenix crashes after a few seconds. If you open it from another page (Open in new Tab), it freezes before

[2019-10-27 18:32] liuche commented on #2345
@topotropic I was looking at tabs crash (unrelated to this) but there's still code in the tree to handle Tab Share from an individual tab (which was removed in this issue). Do we think individual tab actions is coming back? Otherwise I'll remove it.

[2019-10-27 18:33] #5907 closed

[2019-10-28 07:10] liuche opened #6294 "[Bug] Single tab doesn't get saved to collections"
## Steps to reproduce
Open 1 tab
Click "Save to Collection"
Either create new collection or add to existing collection (doesn't matter)

### Expected behavior
Tab is saved to collection

### Actual behavior
Tab is not saved to collection

### Device information

* Android device: ?
* Fenix version: ?

[2019-10-28 07:17] makotokato commented on #4208
@hakkikaancaliskan Does it mean that toolbox position is invalid? (If so, this may be regression since I cannot reproduce it on non-Fenix Nightly)

[2019-10-28 08:11] AndiAJ commented on #5104
Hi, **verified as fixed** on the latest Nightly Build #13010606 using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4(Android 5.1.1)

►Video
![20191028_100508](https://user-images.githubusercontent.com/51314259/67662024-41aa2f80-f96b-11e9-9919-f25680925bf1.gif)

[2019-10-28 08:11] #5104 closed

[2019-10-28 08:33] AndiAJ commented on #5848
Hi, **verified as fixed** on the latest Nightly Build #13010606 using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4(Android 5.1.1)

► Video Light theme
![20191028_101646](https://user-images.githubusercontent.com/51314259/67663425-22f96800-f96e-11e9-94c4-5813f8a14759.gif)

► Vi

[2019-10-28 08:33] #5848 closed

[2019-10-28 08:45] sv-ohorvath commented on #5019
@csadilek Could you maybe help Mira with some STR, please?

[2019-10-28 08:49] AndiAJ commented on #5733
Hi, I've just checked on the latest Nightly Build #13010606 using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4(Android 5.1.1)

✔️ Tap Open from the notification works.
❌ Tap on Delete and Open doesn't work. The open PB tabs are closed, on the other hand the user isn't redirect

[2019-10-28 08:58] hakkikaancaliskan commented on #4208
You mean non-nightly Fenix?
Yes, there is no problem on

[2019-10-28 10:32] abodea commented on #5585
I re-checked this issue using the latest Nightly build from 28/10 **`Nightly 191028 06:00 (Build #13010606 📦: 19.0.0, 6e6311ea4🦎: 72.0a1-20191025095546`**.
Note that I can still reproduce this issue, the custom tab top bar color is white instead of `#00A862`.
Also note that @apbitner in the description + attachment talked about the images color in the top bar ![download (7)](https://user-images.gi

[2019-10-28 10:51] julienw opened #6296 "Can't bypass TLS 1.0/1.1 error as in Desktop"
### Why/User Benefit/User Problem
STR is:
1. Go to https://www.lesfruitsetlegumesfrais.com/

=> In Fenix, there's a generic error that we can't bypass (this is #4273).

However in Desktop we see what the error is specifically: `SSL_ERROR_UNSUPPORTED_VERSION`, along with an explanation that TLS 1.0 and 11 are disabled, and we can enable them if we want.

I filed this separately from #4273 because t

[2019-10-28 10:52] julienw commented on #6296
This happens in https://forge.univ-artois.fr as well.

[2019-10-28 12:59] AndiAJ commented on #5737
Hi, **verified as fixed** on the latest Nightly Build #13010606 using a Google Pixel 3a XL (Android 9).

✔️ Disable Open link in a private tab: Ping f6b4cc84-432e-4dfb-aaa9-e5b984b9b99c
✔️ Enable Open link in a private tab: Ping 871bdb4e-2cf0-4919-9841-88648128e05d

✔️Long tap + Open in Browser from Gmail: Ping 15455381-895a-4fa3-866b-4523de2d20da
✔️Action button from a custom tab: Ping 8667eca2-f

[2019-10-28 12:59] #5737 closed

[2019-10-28 13:03] pocmo commented on #6279
Is any release / RC affected so that we'd need to uplift the AC fix?

[2019-10-28 13:58] sv-ohorvath commented on #6229
Verified as fixed on Nightly 10/28.

[2019-10-28 13:58] #6229 closed

[2019-10-28 14:11] madb1lly commented on #3034
Hi @vesta0, it's been a while, what's the ETA on this? The issues and projects here on Github are still difficult to navigate and see the big picture for feature parity (or not) with Fennec so I think a simple roadmap would still be useful.
Cheers :)

[2019-10-28 14:21] sv-ohorvath commented on #6255
@NotWoods @daphliu I can't build a beta version locally due to this error: https://www.screencast.com/t/r2yJWWBZ

[2019-10-28 15:42] madb1lly commented on #1487
+1 here for using Fennec's newtab page/UX for quick access to top/pinned sites, synced tabs (per device), history (with recently closed tabs as well) and bookmarks.... heck even pocket recommendations are sometimes interesting! The proposed reading list #913 https://github.com/mozilla-mobile/fenix/issues/913 could even be included here.

There is not much wrong with the Fennec UI, I think that ins

[2019-10-28 15:44] madb1lly commented on #1981
@topotropic that issue links to #1487 which only stricyly addresses bookmarks, so can you add history (and also synced tabs?) to that issue or do we need to raise a new issue to get quick access to history back on the list of things to be reconsidered?

[2019-10-28 15:50] madb1lly commented on #4479
I use this feature a _lot_ on Fennec and miss it on Fenix.
Cheers :)

[2019-10-28 15:58] madb1lly commented on #3758
I use compact tabs in Fennec and navigate based on the picture rather than the title, although the title helps. I have >100 currently open (I have the infinity symbol so don't know how many!) - yes this is too many, but it illustrates why a thumbnail is helpful. Its absence in Fenix is a problem for me which even collections don't mitigate (mainly as they are unwieldy).

I've never used Chrome on

[2019-10-28 16:00] madb1lly commented on #955
Hi @lime124 why is this related to gestures? It's just about how tabs are arranged in the tab switching view.
Cheers :)

[2019-10-28 16:07] KWierso commented on #6279
This only started for me three days ago on Nightly, so unless the offending change was upliftedsince then, I doubt it.

I don't have anything other than Nightly installed to prove that, though.

[2019-10-28 16:16] madb1lly opened #6298 "Collections should be live/dynamic and should not need to be stored again to update"
### Why/User Benefit/User Problem
My main problem with collections at present is that I cannot work within them; they are not "live". If I open a collection and use it then the collection doesn't remember what I've done. If I save the resulting set of tabs it is saved as a new collection, not as an update to an existing collection, so I need to save and then delete my old collection. This is a cum

[2019-10-28 16:20] madb1lly opened #6299 "New tab could create a new collection/session"
Summary: When a new tab is opened, start it in a new collection. Note I know this doesn't fit the current workflow.

### Why/User Benefit/User Problem
I've been struggling to understand the real benefit of collections, mainly because of how they're implemented. The concept of sessions was clearer to me (even if the implementation is the same) - I start a new session on a new topic, open links in n

[2019-10-28 16:43] #5678 closed

[2019-10-28 16:44] #5128 closed

[2019-10-28 16:46] #5649 closed

[2019-10-28 16:49] boek commented on #2570
@mcarare ^^ :)

[2019-10-28 17:03] ekager commented on #6063
Yes it should match the copy from the previous TP setting page! Closing because this is the correct behavior

[2019-10-28 17:03] #6063 closed

[2019-10-28 17:52] julian-alarcon commented on #2497
I will like to have this, I think that this is not too complex.

[2019-10-28 18:28] Baron-Severin opened #6300 "What's New Entry for 3.0"
This ticket tracks work for the SUMO page and Google Play release notes.

[2019-10-28 18:29] Baron-Severin opened #6301 "Release Notes and What's New Entry for 4.0"
This ticket tracks work for the SUMO page and Google Play release notes.

## Features that need SUMO articles
* Vesta decides what goes in here (should these articles be public?)h
* SUMO article gets linked to What's New menu item in Fenix

## Release notes
* Who writes these? Can we just reuse some *standard text* (current version), and link to a more detailed page?
* Google Play release notes
*

[2019-10-28 18:50] Baron-Severin opened #6302 "Releng for v3.0"
### EDIT
For 3.0, due to an ongoing experiment we're collecting data for, we're not going to release until 12/3.

## Overview ##
Soft code freeze for a release is the *second Wednesday of the sprint*, and most of releng happens between *Wednesday and Friday*, String freeze is the *first Tuesday* of the sprint.

| Monday       | Tuesday                   | Wednesday                    | Thursday

[2019-10-28 18:55] rocketsroger opened #6303 "Web Notification Channel Name"
### Why/User Benefit/User Problem
Current A-C implementation is using "Site notifications" as the notification channel name for any web notification coming from websites.

### What/Requirements
Need approved string for the notification channel name.

### Acceptance Criteria (how do I know when I’m done.
Have the approved string so it can be updated through A-C.

[2019-10-28 18:55] agi90 commented on #5630
GeckoView meta-bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1582194

[2019-10-28 18:56] rocketsroger commented on #6303
![device-2019-10-28-144842](https://user-images.githubusercontent.com/6579541/67708779-1c311c00-f993-11e9-8584-30cb4b009be8.png)

[2019-10-28 18:57] rocketsroger commented on #6303
@mheubusch Thanks!

[2019-10-28 19:05] AmyYLee opened #6304 "[Private Browsing Mode] Hitting back button in PBM shortcut takes you to non-PBM homescreen"
1. Add a Private Browsing shortcut to your homescreen from Fenix settings
2. Tap on Private Browsing shortcut on homescreen
3. Hit the back arrow in the bottom nav

Expected:
Takes you to Private browsing fenix homescreen

Actual:
Takes you to non-private fenix homescreen

[2019-10-28 19:06] lime124 commented on #955
sorry i was refering  to the swiping to close portion of the comment 0. the first part of the comment we can revisit to see if it still needs to be addressed once we've done some of the planned iterations on the designs. thanks for asking me to be more clear! :)

[2019-10-28 19:10] AmyYLee commented on #6263
Yes! This is still relevant.

[2019-10-28 19:21] lime124 commented on #4682
hi @RyanMarzec - you  can pick up the issue. Amy is part of our mobile design team and is  offering design support/guidance.

[2019-10-28 19:30] lime124 commented on #4682
sorry @RyanMarzec - amy just mentioned to me there is a similar issue #4107 that has been picked up. I think this may be a dup :-/

[2019-10-28 20:10] lime124 commented on #4776
removing @AmyYLee and @Baron-Severin to signal this issue is free to be picked up.

[2019-10-28 20:12] lime124 commented on #2271
removing @AmyYLee from assigned to signal it's free to be picked up.

[2019-10-28 20:15] Baron-Severin opened #6306 "Releng for v3.1"
## Overview ##

| Monday          | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|-----------------|---------------------------|------------------------------|----------------|-------------|
| (Sprint 1 Start)|                           |                              |                |             |
|                 | Hard code freeze for Beta |

[2019-10-28 20:21] lime124 commented on #5016
Adding group triage -  does this have any dependencies? can a contributor pick it up?

@vesta0 Can we open that in a separate issue? I'd like to keep the scope on this one small/contained since it's ready for eng  - there may be some additional design decisions on the flow that need to be made.

[2019-10-28 20:29] sblatz commented on #1298
For QA to test this, please take the following steps:

Before beginning: Retrieve your Google Advertising ID. You can find this in the "Adjust Insights" app on the google play store. Also, make sure the device you're using has not previously installed Fenix. if it has, ask me to remove your device's information from the adjust dashboard.

1. Make sure no versions of Firefox Preview are installed o

[2019-10-28 20:31] lime124 commented on #3827
as per #5435 it looks like this has been fixed. please reopen if that isn't the case!

[2019-10-28 20:31] #3827 closed

[2019-10-28 21:02] mheubusch commented on #6303
Site notifications is approved. Thanks, @rocketsroger

[2019-10-28 21:27] mcomella opened #6307 "[Nimbledroid] Nimbledroid may be triggering onboarding for cold startup testing"
### Why/User Benefit/User Problem
Colin mentioned Nimbledroid may be triggering onboarding when it does the cold startup test. This would give us inflated numbers for cold startup time.

Note that Nimbledroid is expected to run the app twice before doing the cold startup test to determine the "main activity": presumably, at least one of these runs will trigger onboarding. We're concerned if the ac

[2019-10-28 22:14] NotWoods commented on #6296
Related: #1168

[2019-10-28 22:59] liuche opened #6308 "Before end of January 2020: Verify telemetry probes w/ Product and bump expiry for metrics.yaml pings"
Many of the Fenix telemetry pings are scheduled to expire 03/01/2020.

Since we'll be using a Beta channel at that point, we'll need a little bit of lead time to make sure we don't lapse our telemetry.

We need to go over those pings with the Product Owner, verify that each one is still relevant, and bump the expiry.

### Acceptance Criteria
- [ ] Set up meeting with Product to go through the prob

[2019-10-28 23:13] boek commented on #1383
@mcarare ^^ :)

[2019-10-28 23:20] brampitoyo commented on #5577
Hi @madb1lly. I’ve considered your proposed workflow – which indeed was straightforward – early on in the design process.

It’s just that there are a few problems with it:

1. Not all search input box supports this technology (it’s up to each search engine to do it)
2. On search box that does support it, the user must know that it can be long-pressed (we can help teach users how to do it in Search

[2019-10-28 23:21] mcomella commented on #3744
I added this issue to the Performance team's triage on Bugzilla: let's see how it gets prioritized for them.

[2019-10-29 00:14] ekager commented on #5295
Sorry for the delay @brampitoyo ! We already show these confirmation dialogs in other places where we can't undo deletory actions, so I think this pattern would be familiar. I suggest we move forward with the dialog :)

[2019-10-29 00:41] brampitoyo commented on #5295
@ekager Sounds good. Let’s do the confirmation dialogue, then.

[2019-10-29 00:44] ekager commented on #5295
Thanks @brampitoyo ! For now I've added the help wanted labels but we can also discuss in triage if we want to pull this into a sprint

[2019-10-29 00:48] ekager commented on #5671
Looks like this fix has been merged in AC. We can verify now

[2019-10-29 00:57] ekager commented on #3232
If this is still an issue, `FirefoxAccountsAuthFeature` lives in AC and would need updating there

[2019-10-29 01:00] ekager commented on #3523
It sounds like nothing is blocking this technically, correct @sblatz ? We can mark it as eng-ready it sounds like?

[2019-10-29 01:08] ekager commented on #3510
For reference, the magnifier in gmail app
![Screenshot_20191028-180801](https://user-images.githubusercontent.com/25442310/67729344-f402e680-f9ad-11e9-8270-a2d716bb7e49.png)

[2019-10-29 01:10] ekager commented on #3824
This was fixed in AC recent toolbar changes

[2019-10-29 01:10] #3824 closed

[2019-10-29 01:25] liuche commented on #6300
(Tentative release date: Nov 12)

Welcome to Firefox Preview 3.0. This release comes with the following features to make browsing and bookmarking safer and easier:

Enhanced Tracking Protection protects you from ad, analytics, cryptomining and fingerprinting trackers.
Open links in private tabs by default
Option to clear browsing information on exit
Choose what types of browsing information to syn

[2019-10-29 01:28] liuche commented on #4775
Here’s an update on our triage process.

Currently, our repo gets tons of issues (which is a combination of bugs, feature requests, etc). However, this load is getting pretty unmanageable, and I know everyone’s is balancing a ton of work.

In order to mitigate the risk of missing really critical issues that get filed, we should still triage, but should prioritize labeling S1 issues. Please spend s

[2019-10-29 03:46] boek commented on #5980
This has been fixed!

[2019-10-29 03:46] #5980 closed

[2019-10-29 03:47] boek opened #6312 "Releng for v2.3"
## Overview ##
Soft code freeze for a release is the *second Wednesday of the sprint*, and most of releng happens between *Wednesday and Friday*, String freeze is the *first Tuesday* of the sprint.

| Monday       | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|--------------|---------------------------|------------------------------|----------------|--

[2019-10-29 04:02] lime124 commented on #6055
looping in @AmyYLee - are you able to start thinking and collaborating with @ekager  (@liuche to confirm) about these? @liuche is concerned this may require some security review so we should start that process sooner than later.

does this impact current sprint work at all?

[2019-10-29 04:13] makotokato commented on #6252
@Sgt-Miller could you update to the latest version of Fenix from Google Play store? I guess that this issue is https://github.com/mozilla-mobile/fenix/issues/5037.

[2019-10-29 04:18] makotokato commented on #5998
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1535985

[2019-10-29 05:09] brampitoyo commented on #6092
@ashkitten wrote:

@dessant wrote:

Thanks for these really useful feedback!

-----

### ⋮ Main menu balance

Our recent User Research study found that adding more and more menu items into the main menu make features less likely to be used, because what our users love about Fenix seems to be its simplicity and relatively minimal interface.

So, I think that we have to finely balance two things:

1

[2019-10-29 05:40] ashkitten commented on #6092
it might be good to automatically pin addons, but in my opinion there still should be a way to disable that behavior and manually set what addons are pinned in which position, or hide ones you don't want to see.

design-wise, i think one row of icons in the main menu would be good for this. you can probably fit 4 icons neatly in a row there, which gives room for 4 pinned addons or 3 pinned addons

[2019-10-29 05:46] ashkitten commented on #6092
i also had the idea that it could be possible to put a row of addon icons somewhere in the pull-out sheet, maybe under the normal share and bookmark icons? that would give more screen real estate without cluttering the main menu much, and provide a more seamless transition to opening the addon ui inside the already expanded bottom sheet. plus, it might make more sense to put addon buttons alongsid

[2019-10-29 06:32] cpeterso commented on #5988
Removing the `needs:gv` label because snorp says haptic feedback should be the app's or A-C's responsibility. GV sends a text selection notification to the app, so it can then trigger haptic feedback if it wants.

[2019-10-29 06:36] cpeterso commented on #4249
The Gecko Graphics team has investigated this bug. They haven't been able to narrow the regression range down and trying to get older builds going has not been working. We cannot reproduce this on YouTube. WebRender fixes this but many devices won't support WebRender. In the meantime, this bug is in the Graphics team's P3 backlog.

[2019-10-29 06:38] cpeterso commented on #6029
The GV bug is a P3 because setting background process limit to 0 is an unusual device configuration. If you disagree, please let me know.

[2019-10-29 06:40] cpeterso commented on #3974
Tumblr WebCompat bug: https://github.com/webcompat/web-bugs/issues/41889

[2019-10-29 06:56] cpeterso opened #6313 "Set initial loading content page color to non-white when using dark mode"
### Why/User Benefit/User Problem

Currently opening a new page temporarily shows a pure white page before loading actual content regardless of the browser theme.

### What/Requirements

Fenix does not give a way to control this while on Windows this can be controlled by `browser.in-content.dark-mode` pref (which is on by default on Nightly 71 and makes the page gray).

The white flash is the page

[2019-10-29 07:10] cadeyrn commented on #6092
While it's a nice idea it's not an option because the _Quick Action Bar_ will be removed, see #4281.

[2019-10-29 07:52] Sgt-Miller commented on #6252
@makotokato thank you, update fixed this.

[2019-10-29 07:52] #6252 closed

[2019-10-29 08:06] amitkumarrathore commented on #6133
Hey @rache59  i want to work on it....

[2019-10-29 08:48] Dunexus opened #6314 "[Bug] <select> popup overscroll glow doesn't match shape"
## Steps to reproduce
Click on any <select> element.

### Expected behavior
Overscroll glow should match the shape of the popup.

### Actual behavior
Overscroll glow matches the shape of the popup for the top overglow but not for bottom.

### Device information

* Android device: OnePlus 5T (Android 9)
* Fenix version: Nightly 191029 06:00

![image](https://user-images.githubusercontent.com/139062

[2019-10-29 09:01] madb1lly opened #6315 "Add search engine by long-press in search text entry box (opensearch)"
### Why/User Benefit/User Problem
Currently on Fennec a search engine can be added by long-pressing in the search engine webpage's text entry box:

1. Go to search engine's page
2. Select the text input box
3. Long press
4. Press on "Add search engine" in the pop-up menu.

And the engine is added to the list in settings and options to use whenever typing in the address bar.

### What/Requirements

[2019-10-29 09:01] madb1lly commented on #5577
Hi @brampitoyo, I agree that long-press on the search box should not the only method of adding a search engine. I created new issue #6315 for this feature as you requested.
Cheers :)

[2019-10-29 09:16] Cheap-Skate opened #6316 "[Bug] - UI design - rationalise different kinds of pop up menu"
When tapping Fenix buttons I can get one of three different kinds of menu appearing

1. Android floating menu about 2/3 screen width with underlying content normal brightness (3 dot menu button), or
2. full screen width "windowshade" up from bottom of screen with underlying content dimmed (shield, padlock buttons), or
3. list of inline text (Shortcuts button)

Nit picks but I find it inelegant, pa

[2019-10-29 09:21] antonholmberg commented on #3074
I can no longer reproduce this. Sorry for the late reply. Sort of forgot this issue.

[2019-10-29 09:25] Cheap-Skate opened #6317 "[Bug]- nit - font size differences between menus a bit inelegant"
3 dot menu uses a fairly big font, Android system size I guess

BUT Tracking Protection (Shield) menu uses a mix of that font size and a smaller one, and Security (Padlock) menu uses just the smaller font size

I find the difference a bit jarring between menus and within menus, in particular

- the URL is in the smaller font size but the Enhanced Tracking Protection button is in the larger font si

[2019-10-29 09:45] nt1m commented on #6313
@cpeterso `browser.in-content.dark-mode` is enabled by default even on Release since Firefox 70. See: https://bugzilla.mozilla.org/show_bug.cgi?id=1565051

I think Fenix should just follow the theme that's chosen by the user though.

[2019-10-29 10:27] AndiAJ opened #6318 "[Bug]Saving only one tab to a collection creates an empty collection"
## Prerequisites
Have only one open tab.

## Steps to reproduce
1. Tap on the "Save to collection" button
2. Create and save the tab to a collection
3. From the "Open tabs" section tap on the 3dot button and tap on "Save to collection"
4. Create a new collection and save the tab

### Expected behavior
The tab should disappear from the open tabs section and the created collection should contain the

[2019-10-29 10:37] dylmye commented on #3474
bump for @olsenme

[2019-10-29 11:02] heres-maria opened #6319 "Both branches of the "Fenix Tracking Protection Modes" experiment show the same result on the test website"
#### Affected versions:

- Firefox Preview v2.3.0-rc.1

#### Affected Platforms:

- Huawei P8 Lite - Android 6
- Samsung Galaxy S8 Android 9

#### Steps to reproduce:

1. Activate the "control_strict " branch of the experiment by using the following adb command:

`adb shell am start -n org.mozilla.fenix/mozilla.components.service.experiments.debug.ExperimentsDebugActivity --ez updateExperiments tr

[2019-10-29 11:04] heres-maria opened #6320 "Both branches of the "Fenix Tracking Protection Modes" experiment show the same result on the test website"
#### Affected versions:

- Firefox Preview v2.3.0-rc.1

#### Affected Platforms:

- Huawei P8 Lite - Android 6
- Samsung Galaxy S8 Android 9

#### Steps to reproduce:

1. Activate the "control_strict " branch of the experiment by using the following adb command:

`adb shell am start -n org.mozilla.fenix/mozilla.components.service.experiments.debug.ExperimentsDebugActivity --ez updateExperiments tr

[2019-10-29 11:08] heres-maria commented on #6320
Duplicate of [#6320](https://github.com/mozilla-mobile/fenix/issues/6319) that was submitted accidentally.

[2019-10-29 11:08] #6320 closed

[2019-10-29 11:51] mcarare commented on #1383
@boek Concerning the content description there is no improvement possible, as long as tab title does not load properly either. Another change would be to have just the site url and another identificator (number?) but I don't think it would be a valuable infor for talkback users.
 @eeejay what do you think?

[2019-10-29 11:55] sv-ohorvath commented on #5323
Verified as fixed on RC 2.3.0.

[2019-10-29 12:08] isabelrios opened #6322 "[UI Tests] Add tests for choose what to sync - account settings view"
This issue is to track the work for adding new UI tests for the Account settings view and its options.

[2019-10-29 12:20] AndiAJ commented on #5104
Still reproducible on Fenix 2.3.0-rc.1 from 28/10 using a Samsung Galaxy Tab A (Android 9).

[2019-10-29 12:39] sv-ohorvath opened #6323 "[Bug] Incorrect flow for creating first collection from a tab"
## Steps to reproduce
1. Make sure there is no existing collection, go to a website.
2. Open the menu and go to Save to collection.
### Expected behavior
When there's no collection, the Select collection screen is skipped and the creation of Collection 1 is shown by default.
### Actual behavior
An empty Select Collection screen is displayed.
### Device information

* Android device: Sony Xperia Z5

[2019-10-29 12:42] AndiAJ opened #6324 "[Bug]Search shortcuts and search engine settings are not displayed when pressing the shortcuts button"
## Steps to reproduce
1. Navigate to any website
2. Tap on the URL bar
3. Tap the Shortcuts button

### Expected behavior
Search shortcuts are displayed

### Actual behavior
Only the "Search with" is displayed, the search shortcuts and search engine settings are missing
### Device information

* Android device:
Samsung Galaxy Tab A (Android 9)
* Fenix version:
• 2.3.0-rc.1 from 28/10
• Nightly #13

[2019-10-29 12:59] AndiAJ opened #6325 "[Bug]Tracking protection not working"
## Prerequisites
Have tracking protection turned on globally and set to Strict mode

## Steps to reproduce
1. Navigate to https://mozilla.github.io/tracking-test/ads.html
2. Navigate to https://senglehardt.com/test/trackingprotection/test_pages/ and select one by one the featured test pages.

### Expected behavior
For 1. Confirmation that advertising resources are blocked should be displayed.
For

[2019-10-29 13:48] softvision-oana-arbuzov opened #6326 "[Bug] Fenix App crashes when performing a searchon indiamart.com/postbuy.php"
## Steps to reproduce
1. Navigate to https://m.indiamart.com/postbuy.php
2. Perform a search after a product (e.g toy).
3. Observe  behavior.

### Expected behavior
Search results are displayed.

### Actual behavior
Application crashes.

### Notes
1. Not reproducible on Firefox Nightly 71.0a1 (2019-10-26) and Chrome 77.0.3865.90
2. Reproducible: 100%
3. Gif attached.
4. The issue is reproducible a

[2019-10-29 14:00] JohanLorenzo opened #6327 "Release pipeline: Ensure metadata is sane when a push happens on the master branch"
### Why

In the taskgraph migration, I regressed twice the version name of the release APK. More precisely, I first fixed it in https://github.com/mozilla-mobile/fenix/pull/5635, then I fixed it again in https://github.com/mozilla-mobile/fenix/pull/5811.

We can prevent the issue from being visible at the very end of the pipeline, on the day we ship Fenix.

### What/Requirements

The version name

[2019-10-29 14:01] ValentinTimisica commented on #5104
Looks like it's still reproducible because my PR is not included in 2.3.0-rc.1 RC.

- [The change I did on empty_exception_container](https://github.com/ValentinTimisica/fenix/commit/237a5a23fdc2cd2d1428f3485babbf2baf61b46c)

- [empty_exception_container from 2.3.0-rc.1 RC](https://github.com/mozilla-mobile/fenix/blob/bc241db904a2c16fd1b88c451435637aac4be89a/app/src/main/res/layout/fragment_site_p

[2019-10-29 14:12] Amejia481 commented on #6325
Thanks for the report I'm taking a look at!

[2019-10-29 14:16] AndiAJ commented on #2312
Reproducible on 2.3.0-rc.1 from 28/10 using a Samsung Galaxy Tab A (Android 9)

[2019-10-29 14:42] rocketsroger commented on #6303
Thanks, I'll close this issue.

[2019-10-29 14:42] #6303 closed

[2019-10-29 14:43] rocketsroger commented on #6303
This is implemented in https://github.com/mozilla-mobile/android-components/pull/4768

[2019-10-29 14:45] RyanMarzec commented on #4682
@lime124 okay thank you for letting me know, I'll keep looking around for a good starting point.

[2019-10-29 15:02] madb1lly opened #6329 "[Bug/Missing critical feature] Long press refresh button to do a hard reset"
### Why/User Benefit/User Problem
Currently I don't think there's a way to do a hard refresh in Fenix is there? If there is I haven't found it.

### What/Requirements
In Fennec long-press on the refresh icon will force hard refresh a page. I suggest that the same method is used in Fenix.

### Acceptance Criteria (how do I know when I’m done?)
Provide a way to hard refresh a page.

[2019-10-29 15:03] AndiAJ commented on #5128
Reproducible on 2.3.0-rc.1 from 28/10 using a Samsung Galaxy Tab A (Android 9)

[2019-10-29 15:26] Amejia481 commented on #6319
Related https://github.com/mozilla-mobile/fenix/issues/6325

[2019-10-29 15:40] sv-ohorvath opened #6330 "[Bug] After you delete a collection the default title numbering goes back one position"
## Steps to reproduce
1. Create 2 collections.
2. Delete collection 1.
3. Create a new collection. Observe the default name suggested.
### Expected behavior
Collection 3 is suggested because 2 was already used.
### Actual behavior
The default title is back to Collection 2 if you delete one.
### Device information

* Android device: any
* Fenix version: Nightly 10/29, RC 2.3.0

[2019-10-29 16:10] ValentinTimisica commented on #6324
I think we need the UX help here. How should this work?

I saw the current flow was recently modified by #1620 with an explicit comment to not show any sugestions when selecting the URL - [AwesomeBarView.kt#L183](https://github.com/mozilla-mobile/fenix/blob/7813fb22d475701d5087b385150c50696006766f/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt#L183).

So now we are left wi

[2019-10-29 16:17] rubcap commented on #3677
@lime124 How does #1487 solve accessing bookmarks (without remembering their names), _if you start by pressing the '+' button (new tab)_ ? That was the use case mentioned here?

[2019-10-29 16:22] jonalmeida commented on #5636
While this works as expected in Gecko, @vesta0 is this an API we want on GeckoView specifically so that mobile can turn it on/off for things like battery and data saving?

[2019-10-29 16:28] madb1lly commented on #5541
What @adamopenweb describes is one of my main use cases for this - and this is a case where if I lost the page it's a huge inconvenience and in some cases could cost me money (e.g. having to buy another train ticket). The other use case is to be able to read a page offline, which is a fairly common practice (and not all pages play nicely with either reading mode or with Pocket unfortunately).

[2019-10-29 16:35] liuche commented on #5113
https://trello.com/b/yxe1bwjL/mobile-learning-requests

[2019-10-29 16:38] liuche commented on #6318
Ah I have a PR for this in this issue #6294

[2019-10-29 16:38] #6318 closed

[2019-10-29 16:44] Dexterp37 opened #6332 "[Telemetry] Consider changing `telemetry.md` to link to a-c components autogenerated docs"
The Glean SDK is currently used by some Android Components components and is generating metrics documentation for them.

The Glean SDK in Fenix generates [a similar documentation](https://github.com/mozilla-mobile/fenix/blob/master/docs/metrics.md) for the metric that Fenix owns. However, that document _does not_ list the metrics coming from the components used by Fenix (e.g. lib-crash, sync, geck

[2019-10-29 16:46] cpeterso commented on #5636
This video was muted and Gecko allows muted videos to autoplay. So autoplaying this muted video is not a bug.

@vesta0 - Is Fenix's "Site permissions > Autoplay > Video and audio blocked" setting intended to block autoplay of both muted and unmuted videos (differing from desktop Gecko's autoplay policy)?

Blocking all video autoplay by default might be desirable on mobile because of bandwidth and

[2019-10-29 17:12] Amejia481 commented on #6325
I'm unable to reproduce the issue on `releases/v2.3 `branch? Could please verify? In **standard** the tracker shouldn't be blocked but in **strict** the tracker must be blocked

[2019-10-29 17:13] csadilek commented on #5019
@sv-ohorvath OK, I will send you an email with instructions on how to test this. Thanks to @vladikoff we now have test endpoints, which I will share with you.

[2019-10-29 17:15] rubcap commented on #1487
My apologies for repeating the same point, but, is a _major_ redesign of the new tab page considered by the UX team (now or in a future sprint)?

Currently, accessing bookmarks and history from a new tab requires typing in the search box. I hope something like a speed dial could be added. "Tap and surf", if you'd like :wink:

Would really appreciate some feedback on this!

[2019-10-29 17:22] sblatz commented on #3523
Correct, this is eng:ready.

[2019-10-29 17:38] liuche commented on #6139
For now, we've decided:
- On Friday, we'll turn on bors but not make it a merge requirement
- If bors is running (bc someone started a bors task), DO NOT MANUALLY MERGE
- otherwise, can merge manually if things look fine

[2019-10-29 17:41] ekager commented on #6325
@AndiAJ both of these videos are from Nightly it looks like? Because in v2.3 you shouldn't be able to see the TP shield in the toolbar.

[2019-10-29 17:44] sblatz commented on #5935
Let's look at the data around this--how many users are being onboarded to FxA through the share sheet, etc.

Why we should consider adding the default share sheet back:
- It has hooks into "smartly" choosing where to share things (send a message to X person), etc.
- The share sheet will only get better over time
- We should adopt system standards whenever possible.

[2019-10-29 17:46] st3fan opened #6333 "[Bug] Ignored: Web App Site Manifest "display": "browser""
User Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69.0) Gecko/20100101 Firefox/69.0

Steps to reproduce:

I installed and tested Firefox Preview Nightly for Developers 68.3a1

Then used the add to home screen button on my site, with a site.webmanifest containing "display": "browser".

Then opened the newly created home screen shortcut/webapp.

Actual results:

WebApp displayed in full screen

[2019-10-29 17:51] sblatz commented on #5016
This is AC work we can do as Fenix engineers if we'd like.

Let's modify the `ContextMenuCandidate.kt` file

[2019-10-29 18:21] vesta0 opened #6334 "Make private browsing icon look more like a tappable button"
### User Story
As a user, I want an intuitive way to know how to switch to private browsing, so I don't have to search for it in the browser.

Given that private browsing is a robust and useful feature in Fenix, I think we should make the button more prominent and make sure that users don't mistake it with an icon (e.g. some users may think the icon is there to indicate that Fenix is always privat

[2019-10-29 18:33] cpeterso commented on #3074
@antonholmberg - Thanks for reporting and testing this bug. I'll close the corresponding Bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1558407

[2019-10-29 18:37] cpeterso commented on #2312
@AndiAJ - Does that mean this bug is not completely fixed and should be reopened?

[2019-10-29 18:46] jrmuizel opened #6335 "about:telemetry doesn't work in Fenix"
Loading about:telemetry doesn't give any useful information.

[2019-10-29 18:46] jrmuizel opened #6336 "about:telemetry doesn't work in Fenix"
Loading about:telemetry doesn't give any useful information.

[2019-10-29 18:47] #6336 closed

[2019-10-29 18:48] jrmuizel commented on #6335
I'm trying to cross-check some of the telemetry I see reporting and this would be very useful for that.

[2019-10-29 18:58] cadeyrn commented on #2312
The GV bug was fixed in GV 71 and Fenix 2.3.0 still uses GV 70.

[2019-10-29 20:09] wisniewskit opened #6337 "Pausing videos/audio on tab-change, like Chrome mobile."
Chrome will send a pause event to the actively playing video/audio element when the user changes to another tab (and resume it similarly when they return to the tab). It might be worth considering adding this feature (perhaps even as an option), since users are [reporting this](https://webcompat.com/issues/42321) as a web compatilbiity/interop issue.

┆Issue is synchronized with this [Jira Task](h

[2019-10-29 20:15] nakinthorn opened #6338 "How to get current url ?"
can i print current url at HomeActivity in onCreate method ?

how ?

[2019-10-29 20:23] AmyYLee commented on #6055
1. Define experience for lower API devices (Should we create a manual PIN? Should we not have any authentication?).

**System PIN is required to access "Saved logins" screen. If a user doesn't have a system PIN set up, we provide a warning dialogue recommending the user to do so (see UI mock).**

Fallback from biometrics to backup, so users don't get locked out if biometrics fail (incl limitations

[2019-10-29 20:24] AmyYLee commented on #6055
@lime124 Unless there are additional edge cases that come up, I don't think so.

[2019-10-29 20:35] asadotzler commented on #5909
First, I second MReschenberg's comment.

Second, we should endeavor to move accessibility as far left in the process as possible. Starting with our user research and design and then into engineering and code review, and at the end with QA we should only be catching edge cases and the like. A good starting place for engineering is to consider the content of this document https://docs.google.com/doc

[2019-10-29 21:05] mheubusch commented on #5498
@liuche @lwa-moz Can we consider building an event in leanplum for this banner in the login manager workstream? That would allow us to A/B test different messaging approaches.

[2019-10-29 21:16] liuche commented on #6055
@AmyYLee sorry, I guess there wasn't a question here so let me add it:

Do we warn people as soon as they sign into sync that they should set a PIN? I see the mock for "when you turn on Logins" but the case outlined here isn't when they "turn on logins" but when "users log in to Sync for the first time" (using an existing account with Logins preferences).

Is the idea that before people sign into

[2019-10-29 21:18] liuche commented on #5651
We've asked mythmon and travis to bump the experiments version from 2.2 to 2.3. Working through #6319 which looks like a bug in the testing framework.

[2019-10-29 21:21] liuche commented on #2271
Quick question @AmyYLee: these dividers seem really hard to see on Dark Mode. Is there a different color that we could use? (Also, these icons push the url further off the screen - do they need to be that big because of touch targets, or could they be smaller?)

<img width="325" alt="Screen Shot 2019-10-29 at 10 24 32 AM" src="https://user-images.githubusercontent.com/1082253/67792585-a1214180-fa3

[2019-10-29 21:36] jonalmeida commented on #3726
You're right, this is separate from the internal share screen which is still being discussed.

[2019-10-29 22:33] Baron-Severin commented on #5074
@jpfaller I'm landing strings for 3.0, do you know if we have any ready for this story?

[2019-10-29 22:35] vesta0 commented on #4312
Further clarification:

- We already provide users with the option to open a site in the app - the option is surfaced in the Quick Action Bar and not very visible. We are working on that!

- The goal of this spike is to determine whether we can make this a user choice (e.g. toggle in setting) so the user can choose to either keep the current setting (open sites in Fenix by default + surface option

[2019-10-29 22:47] liuche commented on #5543
After a discussion w/ GV, they're going to use more Gecko Toolkit code to do more of the autofill work. That means this is no longer ready to be worked on (but the remaining work should be much less).

[2019-10-29 22:49] liuche commented on #5577
Replacing the "note" with this. I'll keep the E13, I'm not sure what that was for, but the note was labeled E5 so I'll...add that too.

[2019-10-29 23:00] Baron-Severin commented on #4281
Hey @apbitner, I see mocks for 'reader mode' and 'open in app', but not for 'bookmark' or 'share'.  Are these available somewhere else?  If so, could they be added to the AC in comment 0?

[2019-10-29 23:17] Baron-Severin commented on #6256
Hey @mheubusch, do you know when these strings need to be landed?

[2019-10-29 23:18] Baron-Severin commented on #5959
@sblatz do you know if the strings for this story have already been landed?  If not, do you have a list of what needs to go in so I can get them in before string freeze?

[2019-10-29 23:20] apbitner commented on #4281
'Bookmark' and 'share' are at the top/bottom bar of the menu, just icons:
[image: image.png]

On Tue, Oct 29, 2019 at 6:00 PM Severin Rudie <notifications@github.com>
wrote:

--
Adam Bitner
Sr UX / Product Designer, Mobile
abitner@mozilla.com | @apbitner

[2019-10-29 23:25] Baron-Severin commented on #4281
Got it, thank you!

[2019-10-30 00:19] Baron-Severin commented on #5499
@lime124 if we have questions about what UX wants from this component, which designer should we reach out to?

[2019-10-30 01:17] liuche commented on #5542
I chatted w/ GV about this, and at the very highest level, Fenix will be doing login saving (as in, GV will pass the login blob to be saved to Logins storage).

This means that we can start the in-app notification work for saving a login, and just write dummy content to the Logins storage. #5074 should be in Fenix with the next AC version 20.0 on 11/4.

We'll receive a GV API for capture by 11/8,

[2019-10-30 01:21] liuche commented on #5547
Moving this into the sprint because we're moving out #5543 due to new GV work being done on it.

[2019-10-30 01:22] liuche commented on #5542
Moving this into the sprint because we're moving out #5543 due to new GV work being done on it.

[2019-10-30 01:53] jcsteh commented on #5909
Further to the last two comments, while the ideal situation is that we don't rely on QA as the catch-point for a11y issues, I still think having QA validate new features for a11y is a good idea. This is especially true while you're still ramping up in other areas of a11y consideration; e.g. incorporating a11y into process, having UX do a11y annotations, ensuring engineers consider (and sign off on

[2019-10-30 04:45] nakinthorn commented on #6338
why you close this ?
components.core.store is return
mozilla.components.browser.state.store.BrowserStore@6fbc0be

i need current url , clearly answer is hard for you ?

[2019-10-30 05:18] andreicristianpetcu commented on #5315
Is there a feature flag in about config to test this while it gets build?

[2019-10-30 05:34] ekager commented on #6325
This issue should be fixed for Nightly users with the next build since the AC changes were merged ~3 hours ago

[2019-10-30 07:32] AndiAJ commented on #6325
@ekager - Yes, indeed the videos were from the Nightly build.

Due to the fact that on RC builds the shield and the 2 ETP settings options (Standard & Strict) aren't displayed I wanted to highlight that while having it set to Strict nothing is blocked.

[2019-10-30 08:12] cadeyrn opened #6340 "[Bug] Favicon for one specific website does not survive app restart and is not available in history"
### Steps to reproduce

1. open the website https://www.camp-firefox.de/forum/
2. switch to start screen
3. open the history
4. remove the app from memory via recent apps
5. start Fenix again
6. open the history

### Expected and actual behavior

after step 2: the favicon is shown in the tabs list => WORKS
after step 3: the favicon is shown in the history => WORKS
after step 5: the favicon is show

[2019-10-30 08:35] madb1lly commented on #3726
So @jonalmeida what solution you are considering to address the feature request raised by the OP?

[2019-10-30 08:58] mcarare commented on #6326
Note: The crash does not occur with build variant `geckoBetaDebug`, only with `geckoNightlyDebug`.

[2019-10-30 09:14] AndiAJ commented on #6294
Hi, verified as fixed on both **Fenix v2.3.0-rc.2** and latest **Nightly Build #13030619 from 30/10** using the following devices:
• Google Pixel 3a XL (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Huawei MediaPad M3 Lite 10 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191030_105637](https://user-images.githubusercontent.com/51314259/67844387-540ca080-

[2019-10-30 09:14] #6294 closed

[2019-10-30 09:30] LaurentiuApahideanSV opened #6341 "[Bug] Long tapping on a tab does not check it when creating a Collection"
## Steps to reproduce
1. Open several tabs;
2. On the home screen, long tap a tab in order to bring up the Collection selection screen.
### Expected behavior
The tab that was long tapped should be selected.
### Actual behavior
The tab is not selected.
### Device information

* Android device: OnePlus 6T (Android 9)
* Fenix version: 2.3.0-rc.2 (Build #13030519) 10/30

[2019-10-30 09:45] abodea commented on #6071
I was able to reproduce this issue on the **`v2.3.0-rc2(GV 70) using Google Pixel 3a XL(Android 10).`**

[2019-10-30 10:01] nakinthorn commented on #6338
Btw, i got current url from Session not from BrowserStore

[2019-10-30 12:26] #6338 closed

[2019-10-30 12:29] AndiAJ commented on #5733
Reproducible on  v 2.3.0-rc.2 using a Huawei MediaPad M3 Lite 10 (Android 7)

[2019-10-30 12:40] AndiAJ commented on #6341
Also happening on the latest **Nightly Build #13030619 from 30/10** using the following devices:
• Google Pixel 3a XL (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Huawei MediaPad M3 Lite 10 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191030_143413](https://user-images.githubusercontent.com/51314259/67858963-241fc600-fb23-11e9-8a73-5bf01dc78228.gif)

[2019-10-30 13:17] softvision-miralobontiu commented on #5290
Reproducible on RC 2.3.0-rc.2 build on Xiaomi Mi Pad 2 (Android 5.1) - x86-64 architecture.

[2019-10-30 13:40] sv-ohorvath opened #6342 "[Bug] Onboarding remains displayed if you open tabs using the "+" button"
## Steps to reproduce
1. Clear app data.
2. On the homescreen, while the onboarding tour is displayed, tap the + button in the nav bar.
3. Navigate to a webpage.
4. Return to homescreen and check if the tabs list is displayed.
### Expected behavior
Tabs list is displayed.
### Actual behavior
Onboarding tour still displayed, the tabs are not visible.
### Device information

* Android device: any
*

[2019-10-30 13:48] Amejia481 commented on #6325
To see the fix Fenix nightly has to use `20.0.0-SNAPSHOT` as right now is using `19.0.0-SNAPSHOT`

[2019-10-30 14:22] csadilek opened #6344 "[Bug] [Crash] IllegalStateException: it.campaign must not be null"
This started yesterday and is our top crash now in Nightly:
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6564461/

[2019-10-30 14:26] csadilek commented on #6344
Ah @sblatz, looks like this commit removed the null check: https://github.com/mozilla-mobile/fenix/commit/2a358db56189c5efcf796cb55bb8a3ec9c1968c2#diff-1e58c877c8ba0f1703519133669e926aR38

[2019-10-30 14:41] ebalazs-sv commented on #5596
Verified as fixed on Google Pixel (Android Q), Samsung Galaxy S8 (Android 9), Nexus 6P (Android 8.1.0), Sony Xperia Z5 Premium (Android 7.1.1).

[2019-10-30 15:18] AndiAJ opened #6347 "[Bug]Set as default browser not working on Huawei/Xiaomi devices"
## Steps to reproduce
1. Navigate to settings
2. Tap on "Set as default browser"
3. Enable set as default browser
4. Once redirected to the devices Settings select "Firefox Preview"
5. Return to  Firefox Preview and check the "Set as default browser" toggle

### Expected behavior
Toggle should be enabled

### Actual behavior
Toggle isn't enabled

### Device information

* Android device: Huawei Me

[2019-10-30 15:19] Amejia481 commented on #6325
Now, this should be fixed

[2019-10-30 15:55] topotropic commented on #4046
@grigoryk You're right – let's follow your suggestions.

[2019-10-30 16:41] jpfaller commented on #5074
This wasn't on my radar - @lime124 , is there a UX spec I can look at?

[2019-10-30 16:53] AmyYLee commented on #2271
Hi,
I think the reason it's hard to see is that the shadow is missing in the dark theme version or the shadow is set for light theme so it doesn't show up in dark. The icon touch targets are set to be 40dp wide so wee need a minimum distance between icons. Let me know if you have any more questions.

It should be the following for Dark theme

Hairline #FBFBFE 12% opacity
Shadow #FBFBFE 12% opacity

[2019-10-30 16:55] #4775 closed

[2019-10-30 17:30] apbitner commented on #6233
@vesta0 do we want to combine with https://github.com/mozilla-mobile/fenix/issues/6121 or eliminate one?

[2019-10-30 17:43] apbitner commented on #5619
UX is planning on taking a look at the entire Settings screen, not just privacy - https://github.com/mozilla-mobile/fenix/issues/5905

[2019-10-30 17:49] apbitner opened #6350 "[Meta] Revisit Toolbar menu IA & feature discoverability"
### Why/User Benefit/User Problem
As we've continued to add items to the toolbar menu, its height has increased to the point that it is scrolling on some Android devices. In addition, we should make sure important features are easily discoverable by our users, including contextual actions like Reader mode, PWA's, Open in App, etc. Let's revisit the organization of the toolbar menu to make sure use

[2019-10-30 18:00] vjba commented on #5978
Issue resolved in an unknown updated version

[2019-10-30 18:00] #5978 closed

[2019-10-30 18:23] colintheshots commented on #6281
I closed the relevant Bugzilla issue because it appears Android handles this for us just fine. Application-level is a totally different beast from building a VPN at network-level, where we have to carefully manage not start blocking unencrypted traffic until we're actually connected to the Internet.

https://bugzilla.mozilla.org/show_bug.cgi?id=1591568

[2019-10-30 18:24] sblatz commented on #4780
@opusforlife2 can you please file a separate issue for that and tag me on it? :)

[2019-10-30 18:46] liuche commented on #5074
@boek did you add the strings-needed label for L10N or for something else? Maybe this was a problem because the eng:ready label was already on it? The main mocks are in #1284 (but I think this is the correct screen).

[2019-10-30 18:50] liuche commented on #5547
It looks like this PIN-code flow has some strings that will need to be landed - specifically, the two popup screens explaining the PIN protection (what they need to enter, or why they should set a PIN).

[2019-10-30 20:14] ekager commented on #5542
Resized to an E3 to build up the UI and saving a "login" to the storage while waiting on the GV APIs.

[2019-10-30 20:16] ekager commented on #5546
Will QA once the FeatureFlag shows this in Nightly/Debug by Monday Nov 4

[2019-10-30 20:21] ekager commented on #5586
As we are adding features we will add remaining telemetry see the checklist for remaining work

[2019-10-30 20:28] ekager commented on #550
Hi @jhugman @eliserichards if we want to deep link directly to a login to edit in Lockwise by some sort of ID is that something that would be possible in Lockwise? Is there a shared ID because we are both pulling from sync?
@AmyYLee was asking as part of the design process.

[2019-10-30 20:49] jpfaller commented on #5074
These strings are ready based on ux mocks from @AmyLee

[2019-10-30 20:55] AmyYLee commented on #6055
@liuche My thoughts were we warn users if they checked off syncing logins (either only syncing logins, or syncing logins plus bookmarks and/or history). I don't want a warning message to pop-up BEFORE syncing as this might create an unnecessary barrier for users to sign into sync. If they have logins selected for sync (can be if they selected it on their desktop or mobile device). We show the warn

[2019-10-30 21:08] theres-waldo commented on #4049
I find this really unfortunate. I use `file://` URIs all the time in Fennec to load documents saved for offline viewing, as well as local testcases and such.

[2019-10-30 21:59] mnoorenberghe commented on #550
Each login has a GUID which is persistent. It's [`ServerPassword.id`](https://github.com/mozilla/application-services/blob/ba6690a5cad308fafdb4053545cdb142eb86e1b9/components/logins/android/src/main/java/mozilla/appservices/logins/ServerPassword.kt#L22) in the Rust login library.

[2019-10-30 22:15] ekager commented on #5586
We already have telemetry for "sync_now" and opening sync settings. Does "sync logins" mean a new probe for which items in CWTS settings are selected/changed?

[2019-10-30 22:53] liuche commented on #6256
Talked this over w/ Tif, and it looks like this is still in progress (and has some Fennec strings).

For Content (@mheubusch @jpfaller), could we also get:
- Headings for what each column means? (there seem to be multiple strings)
- When strings are getting finalized, using the %1$s format for the placeholders (so that we can just copy paste when we use the string).

[2019-10-30 23:31] Octoton opened #6353 "Better tab management with modify collection"
### Why/User Benefit/User Problem
 Opening a lot of tab, i am completly lost as wich is wich. Moreover, collection is a great idea but i find it difficult to switch from one to another as it open the collection-tab with other already open.
Those two problem could be resolve by using Collection as a tab grouping option, i.e. when opening one this will not open all collection-tab with the other but

[2019-10-30 23:48] nianjack commented on #5621
@NotWoods, @chiragmantri does anyone want to pick up this issue instead?

[2019-10-31 00:16] liuche opened #6354 "Turn on ETP for all users"
## User Story
We want to turn on Enhanced Tracking Protection for all users, after the experiment #5651 runs.

## Dependencies
- [x] We have decided from Experiment #5651 about what the default setting should be: the default will be _**strict**_

## Acceptance Criteria
- [ ] Remove Nightly-only feature flag for ETP
	- [ ] Remove ETP UI from Quick Settings Dialog and logic from controllers
- [ ] Wh

[2019-10-31 00:22] mcomella opened #6355 "Prevent Fenix from using large amounts of data when the app is backgrounded without the user's consent"
### Why/User Benefit/User Problem
A user reported on Slack:

The core issue is that normal Fenix use may **spend users' money (on their data connection) without their consent.** We should put in safeguards to prevent this from happening when users don't intend it to.

Note that we need to be concerned about the app deliberately downloading while the app is backgrounded (e.g. when playing a video l

[2019-10-31 00:26] liuche commented on #6354
@vesta0 Will we have the decision from the experiment (default is strict or standard) by the time 3.0 is ready to ship? Looking at the Experimenter guide, it looks like if the experiment runs for 21 days (7 days enrollment, 14 days observation), and we start Nov 1, it won't be ready until Nov 22.

If we won't get the results in time, some possible cases:
- we could delay the 3.0 release (this woul

[2019-10-31 00:34] liuche commented on #5074
@grigoryk will land the AS pieces for this work by the end of the week.

[2019-10-31 01:14] brampitoyo commented on #5499
@Baron-Severin You can reach out to @AmyYLee, who’s now been assigned to this issue.

[2019-10-31 01:19] brampitoyo commented on #4312
I’m removing the `needs-ux` label, because this issue is now ready for us to size, prioritise, etc.

[2019-10-31 01:22] brampitoyo commented on #5497
I also with @liuche that all of these issues look reasonable, without requiring any more UX feedback since what we need to do is already very clear.

[2019-10-31 01:26] neekless commented on #2477
Can reproduce AndiAJ's problem on Nightly 191030 18:21 (Build #13031826).
Turning on Zoom on all websites in Accessibility will set `browser.ui.zoom.force-user-scalable` to true and zoom will work, but after force closing fenix `browser.ui.zoom.force-user-scalable` will reset to false and zoom will not work despite the setting still being on in Accessibility. The pref is not sticking.

[2019-10-31 01:55] brampitoyo commented on #6154
@BranescuMihai is correct:

Specifically, the modal should not close when the pill is tapped.

Instead, what should happen is… nothing. In the demo video you posted, @bogas04-swiggy, you clearly didn’t tap on Bookmarks. So the Bookmarks page shouldn’t show up, either.

Only when you tap the area outside of the modal, then it will close.

[2019-10-31 01:56] brampitoyo commented on #6154
I would say that this issue is WONTFIX. What _does_ need to be fixed is the fact that tapping the pill shouldn’t tap any other button in the Quick Action Bar.

[2019-10-31 01:59] brampitoyo commented on #6269
Thanks for reporting, @AndiAJ. You’re right that this is a bug.

We also know exactly what to do in order to fix this issue. The amount of padding should be identical to the padding on LTR layout.

[2019-10-31 02:02] brampitoyo commented on #6324
Paging @verdi, original designer on #1620, for feedback.

[2019-10-31 02:04] brampitoyo commented on #6330
@BranescuMihai Approach 2 looks like it will give the better user experience. Let’s double-check with @topotropic, since she handles all things Collections-related.

@topotropic, what do you think about the default collection naming approach suggested by @BranescuMihai above?

[2019-10-31 05:16] matthewcmckenna commented on #6263
I'd like to take on this task!

Is there a dp equivalent of 102px that can be used for the height of the gradient?

[2019-10-31 06:33] jonalmeida commented on #3726
@sblatz is working on share and things so he might have more comment.

I wonder if this is also on @vesta0's radar.

[2019-10-31 07:25] mcarare commented on #5497
@brampitoyo see my comment about c).

[2019-10-31 08:15] #5671 closed

[2019-10-31 08:45] Diana-Rus opened #6356 "NetworkID-The "Link is up" column is not updated per enabled/disabled connection when device is restarted"
Pre-requisites:
Have Wi-fi or mobile data connected and set it to auto-reconnect.
Have Fenix Nightly installed on the device.
## Steps to reproduce
1. Restart device.
2. Open Fenix/Firefox Preview browser.
3. Tap on the URL bar and search after "about:networking".
4. Tap on the "NetworkID" section.
5. Refresh the page.
5. Disconnect from network and refresh page.
### Expected behavior
The "Link is

[2019-10-31 08:51] AndiAJ commented on #2169
Hi, **still reproducible** on the latest **Nightly Build #13040608 from 31/10** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

► Video
![20191031_104358](https://user-images.githubusercontent.com/51314259/67932326-5afde680-fbcc-11e9-999e-34e9419ac134.gif)

► Log
`2019-10-31 10:49:11.184 767-1045/? I/CHRE: @ 4289.143: [AR_CHRE] still: 100
2019-1

[2019-10-31 09:08] AndiAJ commented on #3608
Hi, **verified as fixed** on the latest **Nightly Build #13040608 from 31/10** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

![rsz_screenshot_20191031-110154](https://user-images.githubusercontent.com/51314259/67933537-a87b5300-fbce-11e9-895a-04f2b300da11

[2019-10-31 09:16] neekless opened #6357 "[Bug] Download notifications no longer dismissable"
## Steps to reproduce
Download any file

### Expected behavior
Completed download notifications used to be dismissable, and should still be so

### Actual behavior
![ScreenRec_20191031_170834](https://user-images.githubusercontent.com/22426822/67933878-a1e4df80-fbbe-11e9-8f59-f9cab9e8ba99.gif)

### Device information
* Android device: Pixel 2 XL Android 9
* Fenix version: Nightly 191031 06:00 (Bui

[2019-10-31 09:32] AndiAJ commented on #2964
Hi, **verified as fixed** on the latest **Nightly Build #13040608 from 31/10** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

► The STR from my fellow colleague @abodea :
![20191031_111605](https://user-images.githubusercontent.com/51314259/67934931-8800c800-fbd1-11e9-9140-9004dc0bdc7e.gif)

► The [issues](https://github.com/mozilla-mobile/feni

[2019-10-31 09:35] critical-bug commented on #6315
I've been using this feature in Fennec to add Japanese ebook sites.

[2019-10-31 10:25] AndiAJ commented on #6279
Hi, **verified as fixed** on the latest **Nightly Build #13040608 from 31/10** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► **Twitter**
✔️ Add profile picture
✔️ Create a tweet containing pictures and videos

► **Instagram**
✔️ Add profile picture
✔️ S

[2019-10-31 10:43] brampitoyo commented on #220
Progress report:

See the board here: https://miro.com/app/board/o9J_kwN9u-I=/

I’ve started the work on this project today. Although not all the screens in this feature have been mocked up, the user flow is fairly complete.

In this user flow and mockups, users have the maximum flexibility to:

1. Choose one “Menus and dialogs” language
2. Order “Web content” language(s)

Both may be set independ

[2019-10-31 11:19] SpitFire-666 opened #6358 "Allow deletion of history suggestions from search fragment"
### Why/User Benefit/User Problem
When typing a URL into the address bar, I get suggestions from my history. Some I want to remove/delete. I can't see an easy way to remove them. I can remove them from within History but that means I'd have to find each individual visit and remove them.

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

┆Issue is synchronized with this

[2019-10-31 13:20] AndiAJ commented on #6325
Hi, I've just checked on the latest **Nightly Build #13040608 from 31/10** using a Google Pixel 3a XL (Android 9) and noticed the following:

1. ✔️ https://mozilla.github.io/tracking-test/ads.html
![20191031_143014](https://user-images.githubusercontent.com/51314259/67948726-0029b680-fbef-11e9-924f-a74ed5409485.gif)

2. ✔️ Checked ETP on different websites
![20191031_142613](https://user-images.gi

[2019-10-31 13:22] Diana-Rus commented on #6356
Update checked the issue with Sony Xperia Z5 (Android 7.0) and it reproduces on this device as well.

[2019-10-31 13:35] Amejia481 commented on #6325
I will send some print screens to clarify how each page should look like per tracking protection policy (**Standard** and **Strict**)

[2019-10-31 14:19] softvision-miralobontiu commented on #5019
Verified as fixed with the latest 10/31 Nightly build (#13040608) with OnePlus 5T (Android 9), and HTC Desire 820 (Android 6.0.1).

[2019-10-31 14:19] #5019 closed

[2019-10-31 14:25] Diana-Rus opened #6360 "NetworkID - Restarting the device changes the network id whether it is for Wi-Fi or mobile data"
Pre-requisites:
Have Wi-fi or mobile data connected and set it to auto-reconnect.
Have Fenix Nightly installed on the device.

## Steps to reproduce
1. Restart device.
2. Open Fenix/Firefox Preview browser.
3. Tap on the URL bar and search after "about:networking".
4. Tap on the "NetworkID" section.
5. Refresh the page.
### Expected behavior
Inspect the network id information does not change.
###

[2019-10-31 14:31] sv-ohorvath opened #6362 "[Bug] Pixel 2 - Flashes when switching animated slides"
## Steps to reproduce
I've had the default setting for webrender.
Then I toggled gfx.webrender.force-disabled to true and restarted.
This is reproducing in both cases, so maybe webrender isn't switched off by gfx.webrender.force-disabled?
1. Go to http://www.playmag.fr/heroesoftomorrow and click the arrows at the top to go through the slides.
### Expected behavior
No visual issues.
### Actual beha

[2019-10-31 14:55] AndiAJ commented on #4456
Hi, I've just checked  on the latest Nightly Build #13040608 from 31/10 using a Google Pixel 3a XL (Android 9) and noticed the following:

• Performed 3 searches
The baseline ping 294b7f7a-c381-483f-b7b8-9cdcc0a3a1c0 shows "events.total_uri_count": 4
The metrics ping shows bb9612e8-a4c9-4e85-9cee-caebc871798a shows "metrics.total_uri_count": "0"
[Logcat](https://github.com/mozilla-mobile/fenix/fil

[2019-10-31 15:15] Amejia481 commented on #6325
# Standard (We are only blocking cookies + CRYPTOMINING)

## Fingerprinting ONLY (We are not blocking Fingerprinting in Standard)
![Screenshot_20191031-094247](https://user-images.githubusercontent.com/773158/67951968-e70b1080-fbc2-11e9-959c-5f399583b897.png)

##  Cryptomining ONLY
![Screenshot_20191031-094437](https://user-images.githubusercontent.com/773158/67952111-25083480-fbc3-11e9-9e61-d3e3a

[2019-10-31 15:28] AaronMT opened #6363 "Add Downloads UI tests"
Add initial UI tests for download handling

[2019-10-31 16:04] 3xploiton3 commented on #2286
Please move to high priority, need for filter ads with https

[2019-10-31 16:25] Amejia481 commented on #6325
# STRICT (We are  blocking content from loading + AD+ ANALYTICS+ SOCIAL + CRYPTOMINING+ FINGERPRINTING )

## Fingerprinting ONLY
![screenshot-1572535330550](https://user-images.githubusercontent.com/773158/67960472-b500ab00-fbd0-11e9-8aad-d1f4139cf12e.jpg)

##  Cryptomining ONLY
![screenshot-1572535408374](https://user-images.githubusercontent.com/773158/67960598-e9746700-fbd0-11e9-8294-b15ced9e96

[2019-10-31 17:02] NotWoods commented on #6263
Try 102dp and see how it goes, possibly divided by 2

[2019-10-31 17:47] cpeterso commented on #4208
Adding the GV bug to GV's November sprint because this bug is on Fenix's list of top 10 GV bugs.

https://bugzilla.mozilla.org/show_bug.cgi?id=1569007#c9

[2019-10-31 17:48] cpeterso commented on #3207
Adding the GV bug to GV's November sprint because this bug is on Fenix's list of top 10 GV bugs. This is a longstanding, intermittent issue.

Is this reproducible in GVE?

https://bugzilla.mozilla.org/show_bug.cgi?id=1561041#c5

[2019-10-31 18:13] cpeterso commented on #4322
I closed the GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1581966

This is a Fenix bug. Fenix needs to add support for intent URIs, or at least recognize them so we don't get stuck in an infinite loop. That is Fenix issue #5664.

[2019-10-31 18:14] cpeterso commented on #5664
I closed the GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1581966

This is a Fenix bug. Fenix needs to add support for intent URIs, or at least recognize them so we don't get stuck in an infinite loop.

See also Google Maps infinite loop issue #4322.

[2019-10-31 18:15] cpeterso commented on #5542
The GV bug has been added to GV's November sprint.

https://bugzilla.mozilla.org/show_bug.cgi?id=1577005#c13

[2019-10-31 18:17] cpeterso commented on #5543
The GV bug has been added to GV's November sprint.

https://bugzilla.mozilla.org/show_bug.cgi?id=1577005#c13

[2019-10-31 18:18] cpeterso commented on #4149
The GV bug has been added to GV's November sprint. GV is blocked on some Gecko layout fixes for cutout support.

https://bugzilla.mozilla.org/show_bug.cgi?id=1503656#c24

[2019-10-31 18:18] rpappalax commented on #5534
@csadilek awesome, thank you!  in that case I'll close this for now.  @ekager thank you!

[2019-10-31 18:18] #5534 closed

[2019-10-31 18:20] cpeterso commented on #1901
The GV bug has been added to GV's November sprint.

https://bugzilla.mozilla.org/show_bug.cgi?id=1588581#a1431651_430528

[2019-10-31 18:24] severinrudie opened #6365 "Design left-handed mode"
### Why/User Benefit/User Problem
The current design places the most important actions near the bottom right corner of the screen.  This is very convenient for right-handed users, but not for left-handed ones.

### Engineering note
Once we support RTL layout, providing an option to toggle it regardless of locale would be a relatively small engineering story.  This is one potential solution, but th

[2019-10-31 19:46] matthewcmckenna commented on #6263
Alright, will do. I'll post some images for comparison as well later today.

[2019-10-31 20:42] vesta0 commented on #6354
@ekager thanks for investigating, I recommend going with Option B :)

[2019-10-31 21:31] ekager commented on #5932
Closing this because in #6354 we decided to go with hiding the X from the list (option B) instead

[2019-10-31 21:31] #5932 closed

[2019-10-31 21:41] sblatz opened #6369 "[Bug] Protection settings has no startPadding"
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/67988196-78db4380-fbec-11e9-9ff7-98ea47417e99.png">

[2019-10-31 21:41] sblatz commented on #6357
This should be fixed by an AC patch I submitted : https://github.com/mozilla-mobile/android-components/pull/4909

😄

[2019-10-31 21:42] sblatz commented on #6357
I will set this to QA needed as soon as we have that merged in.

[2019-10-31 21:44] mcomella opened #6370 "bookmarksStorage.getBookmarksWithUrl takes unexpectedly long time (10 - 50ms)"
Severin mentioned to me that:
[code]

([source](https://searchfox.org/mozilla-mobile/rev/63e35109b82faa86b31c65440b015baa3a5b1fe1/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt#277)) takes anywhere from 10-50 MS in a unit test even if there are a small number of bookmarks, like 4: this is an unexpectedly long time.

We should investigate possible causes.

---

I wonder if the

[2019-10-31 22:30] liuche commented on #5763
This might be something that we need to revisit @vesta0.  #4049 documents the decision to not handle opening downloaded files (even ones that a browser could open) for security reasons.

[2019-10-31 22:43] ekager commented on #6055
While implementing #6339 I looked into these APIs a bit more and think we have covered all of these cases.
1. User has biometric
	- We prompt via system for required biometric auth
	- Can use PIN as backup
	- Impossible to have biometric without a PIN set up
2. User does not have biometric (either no hardware, or not set up)
	- We prompt via system for required PIN/password auth
3. User does not h

[2019-10-31 22:51] NotWoods commented on #5763
Note that the notification should delegate to some other app (like Google Photos for .jpg) and that this doesn't include Fenix opening files in Gecko.

[2019-10-31 23:00] kbrosnan commented on #4322
Closing this issue as a dupe of the more general #5664

[2019-10-31 23:00] #4322 closed

[2019-10-31 23:02] boek opened #6373 "Generate release notes"
we could use something like this: https://github.com/marketplace/actions/release-notes-generator-action

[2019-10-31 23:03] kbrosnan commented on #5664
Added the tags and project boards from #4322.

[2019-10-31 23:09] #6268 closed

[2019-10-31 23:12] 5y commented on #5497
@mcarare Considering the C, The icon is fine. the textbox should be aligned.

[2019-10-31 23:16] starkej2 commented on #4556
fwiw I checked all of the tests and don't think there's much code duplication left, so this issue might be almost complete.

[2019-10-31 23:22] ekager commented on #6341
Reopening for QA

[2019-10-31 23:26] vesta0 opened #6375 "[UX] Education & Discovery of TP exceptions list"
## User Story
- As a user, I want to know that I can allow tracking/ads from an specific site by toggling off ETP, so I can control how I view trusted sites.

### Acceptance Criteria
- When I toggle off TP on a site, I learn that the site has been added to my exceptions list
- I know how to allow tracking/ads from a trusted a site

Potentially in scope:
- Heuristics for determining when to show ET

[2019-10-31 23:41] liuche commented on #373
We're taking this out bc AC is currently busy with other work.

[2019-10-31 23:53] ekager commented on #5917
Reopening for QA

[2019-11-01 00:10] ekager commented on #4126
QA should verify that the Quick Settings (lock icon dialog) actions still work as intended after this refactor

[2019-11-01 00:15] #6319 closed

[2019-11-01 00:19] ekager commented on #6326
Filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1593156

[2019-11-01 00:21] ekager commented on #6071
Could we retest this on Nightly? I was just able to sign in via pairing

[2019-11-01 00:26] ekager commented on #3232
I think we are now using the updated design for this login form. I am closing this issue.

[2019-11-01 00:43] vesta0 commented on #1686
@cpeterso did this make it into the October or November sprint backlog?

[2019-11-01 01:16] cpeterso commented on #1686
No. This issue is not in Fenix's [Top 10 GV bug list](https://github.com/orgs/mozilla-mobile/projects/48?card_filter_query=1686), so the GV team has not prioritized it yet. IIUC the site still works correctly. This issue is just about the order in which the permission prompts are shown.

[2019-11-01 02:47] vesta0 opened #6377 "Choose to always open selected domains in reader mode"
## User Story
As a user, I want to choose to always open content from select domains in reader mode, so I don't have to load the content to start with before the “clean” version of the page can be shown.

### For UX
UX to recommend whether this should be a global toggle (always open in reader mode when available) or at the domain level whereby the user can specify to always load specific domains i

[2019-11-01 04:03] vesta0 opened #6379 "Form Data Management"
## User Story
- As a user, I want to be able to edit or delete my form data, in case they are incorrect or out of date.

### Acceptance Criteria
- I can delete my saved address data directly in browser settings
- I can clear my address data as one of the "clear data" options in my browser settings
- I can edit my saved address data directly in browser settings (P3 - not in Q1)

┆Issue is synchroni

[2019-11-01 04:10] vesta0 commented on #6233
@apbitner I had not seen #6121 so feel free to combine them and close one.

[2019-11-01 04:21] vesta0 opened #6380 "Allow users to bypass certificate error pages in Fenix"
## User Story
- As a user, I want to have the option to bypass certificate error pages in Fenix, so I can visit an insecure site of my choice at my own risk (e.g. a site with self-signed cert)

## Dependencies
- [x] [GV bypass certs](https://bugzilla.mozilla.org/show_bug.cgi?id=1553265) should be ready Q1 (or even Q4!)
- [x] [AC](https://github.com/mozilla-mobile/android-components/issues/3960) bu

[2019-11-01 04:24] vesta0 commented on #3910
We will track this request here: #6380

[2019-11-01 04:24] #3910 closed

[2019-11-01 04:57] matthewcmckenna commented on #5621
I can take this on!

[2019-11-01 05:14] makotokato commented on #4697
@andreicristianpetcu could you still reproduce this when using the latest version of Firefox Preview Nightly?
I cannot reproduce this using my Pixel 2 and Galaxy S7 with GBoard/Samsung Keyboard/Hacker Keyboard.

[2019-11-01 05:24] vesta0 opened #6381 "Make "Always launch in private mode" more discoverable"
## User Story
- As a user, I want to know that I can use Fenix to open 3rd party links in private mode by default, so I can take advantage of this feature.

### Acceptance Criteria
- I know about "launch in private mode" and how it works

[2019-11-01 05:25] vesta0 opened #6382 "[Meta] Private browsing discoverability"
Let's make the new private browsing features more discoverable and prominent.

- [ ] Make private browsing icon look more like a tappable button #6334 (won't do)
- [ ] Make "Always launch in private mode" more discoverable #6381 (will do in Q1)

[2019-11-01 06:35] Diana-Rus commented on #6356
Update [video](VID_20191031_190356.zip](https://github.com/mozilla-mobile/fenix/files/3796891/VID_20191031_190356.zip) with outcome attached. As a zip file.

[2019-11-01 06:37] nahuhh commented on #6260
Menu button jumping is more pronounced in landscape
Spacing looks good on the home/tab page, and squished on a web page

![20191101_023212](https://user-images.githubusercontent.com/50635951/68006852-42cfab00-fc50-11e9-87a5-80a499513b14.gif)

[2019-11-01 06:55] NotWoods commented on #4556
Thanks @starkej2! Once #6367 is merged I'll close the issue.

[2019-11-01 07:14] AndiAJ commented on #6342
Hi, I've just checked on the latest Nightly Build #13050627 from 1/11 using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

1. The open tabs list is displayed ✔️
2. On all devices I've noticed that for a slight time frame the Onboarding is displayed when returnin

[2019-11-01 07:20] AndiAJ commented on #6341
Hi, **verified as fixed** on the latest **Nightly Build #13050627 from 1/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191101_091619](https://user-images.githubusercontent.com/51314259/68008803-c86f4d00-fc88-11e9-9959-9877ed7324ab.gif)

[2019-11-01 07:20] #6341 closed

[2019-11-01 07:33] AndiAJ commented on #5917
Hi, **verified as fixed** on the latest **Nightly Build #13050627 from 1/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191101_093023](https://user-images.githubusercontent.com/51314259/68009433-9f4fbc00-fc8a-11e9-8938-bdfc7628c7d5.gif)

[2019-11-01 07:33] #5917 closed

[2019-11-01 07:44] hakkikaancaliskan opened #6384 "[Bug] Remove artifacts when download canceled"
## Steps to reproduce
Download something.
While downloading cancel it.
### Expected behavior
Nothing left.
### Actual behavior
File artifact not deleted.
### Device information
Nightly 191101 06:21 (Build #13050628)
📦: 20.0.0, 6f38790da
🦎: 72.0a1-20191031095309

XZ1, Android 9, LOS 16

[2019-11-01 07:44] hakkikaancaliskan opened #6385 "[Bug] Remove artifacts when download canceled"
## Steps to reproduce
Download something.
While downloading cancel it.
### Expected behavior
Nothing left.
### Actual behavior
File artifact not deleted.
### Device information
Nightly 191101 06:21 (Build #13050628)
📦: 20.0.0, 6f38790da
🦎: 72.0a1-20191031095309

XZ1, Android 9, LOS 16

[2019-11-01 07:45] hakkikaancaliskan opened #6386 "[Bug] Remove artifacts when download canceled"
## Steps to reproduce
Download something.
While downloading cancel it.
### Expected behavior
Nothing left.
### Actual behavior
File artifact not deleted.
### Device information
Nightly 191101 06:21 (Build #13050628)
📦: 20.0.0, 6f38790da
🦎: 72.0a1-20191031095309

XZ1, Android 9, LOS 16

[2019-11-01 07:46] hakkikaancaliskan opened #6387 "[Bug]"
## Steps to reproduce
Download something.
While downloading cancel it.
### Expected behavior
Nothing left.
### Actual behavior
File artifact not deleted.
### Device information
Nightly 191101 06:21 (Build #13050628)
📦: 20.0.0, 6f38790da
🦎: 72.0a1-20191031095309

XZ1, Android 9, LOS 16

[2019-11-01 07:46] #6387 closed

[2019-11-01 07:46] #6386 closed

[2019-11-01 07:47] #6385 closed

[2019-11-01 08:21] softvision-miralobontiu commented on #6071
Hi Emily,
It is still reproducible on the latest Nightly build 11/01 (#13050628) from Play Store.
Device: Google Pixel (Android Q)

[2019-11-01 08:23] AndiAJ commented on #6153
Hi, **verified as fixed** on the latest **Nightly Build #13050627 from 1/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191101_100349](https://user-images.githubusercontent.com/51314259/68011885-24d66a80-fc91-11e9-87b1-0ce192dda91d.gif)

@

[2019-11-01 08:23] #6153 closed

[2019-11-01 08:35] AndiAJ commented on #6342
As discussed with @mcarare we'll file a new bug for the transition issue.
Based on this I'll close this ticket as **verified** on the latest **Nightly Build #13050627 from 1/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

[2019-11-01 08:35] #6342 closed

[2019-11-01 08:37] mcarare commented on #5497
@5y Thank you for your input! 👍
Actually, I wanted to ask about b). I already fixed c)
And if  _e) Find on the page button is out of the page._ is still reproducible

[2019-11-01 08:44] AndiAJ opened #6388 "[Bug]Onboarding fragment is displayed for a couple of seconds when returning to the homescreen"
## Prerequisites
Have a clean profile

## Steps to reproduce
1. Tap the + sign from the navbar
2. Navigate to any webpage
3. Return to the home screen

### Expected behavior
The user is redirected to the homescreen without showing the onboarding fragment

### Actual behavior
The onboarding fragment is displayed for a couple of seconds while performing the transition

### Device information

* Andr

[2019-11-01 09:27] pfieffer commented on #6255
@sv-ohorvath Like the error suggests, you can not use **-** (hyphen character) in your resource name. You have named the icon `ic_launcher-round`. It should have been `ic_launcher_round`

[2019-11-01 09:28] AndiAJ commented on #6325
Hi, **verified as fixed** on the latest **Nightly Build #13050627 from 1/11** using a Google Pixel 3a XL (Android 9)

► Standard
![20191101_111853](https://user-images.githubusercontent.com/51314259/68015185-4ab43d00-fc9a-11e9-88f6-bbded2d38823.gif)

► Strict
![20191101_112037](https://user-images.githubusercontent.com/51314259/68015278-7b947200-fc9a-11e9-9d73-822bae1e50f8.gif)

@Amejia481 - Many

[2019-11-01 09:28] #6325 closed

[2019-11-01 09:40] AndiAJ commented on #1392
Hi, **verified as fixed** on the latest **Nightly Build #13050627 from 1/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)

[2019-11-01 10:44] softvision-miralobontiu opened #6390 "[Bug] "Download" button's UI should have the Fenix specifics"
## Steps to reproduce
1. Acces https://file-examples.com/ and select a file to download.
2. Observe the "Download" button from the pop-up displayed.

### Expected behavior
The "Download" button should have the Fenix 's UI specifics.

### Actual behavior
The button has a different UI.

### Device information
* Android device: Google Pixel (Android Q), Sony Xperia Z5 Premium (Android 7.1.1)
* Fenix

[2019-11-01 11:27] softvision-miralobontiu opened #6391 "[Bug] about:crashparent doesn't display the crash dialog on Android Q"
## Steps to reproduce
1. Open a few tabs.
2. Access about:crashparent.

### Expected behavior
The app crashes, a dialog is displayed:
"Sorry, Firefox Preview had a problem and crashed."
[]Send crash report to Mozilla - checkbox.
[Close] button
[Restart Firefox Preview] button.

### Actual behavior
The app crashes, but there is no dialog displayed.

### Device information
* Android device: Google P

[2019-11-01 12:18] matei-oltean opened #6392 "[Bug]"
## Steps to reproduce

Navigate to an "about" page (e.g. about:about)

### Expected behavior

The connection should be listed as 'secure'

### Actual behavior

The connection is reported as being insecure

### Device information

* Android device: Samsung Galaxy A5 (Android 8.0.0)
* Fenix version: 2.3.0

[2019-11-01 12:19] matei-oltean opened #6393 "[Bug] "about" pages show insecure connection"
## Steps to reproduce

Navigate to an "about" page (e.g. about:about)

### Expected behavior

The connection should be listed as 'secure'

### Actual behavior

The connection is reported as being insecure

### Device information

* Android device: Samsung Galaxy A5 (Android 8.0.0)
* Fenix version: 2.3.0

[2019-11-01 12:19] matei-oltean opened #6394 "[Bug] "about" pages show insecure connection"
## Steps to reproduce

Navigate to an "about" page (e.g. about:about)

### Expected behavior

The connection should be listed as 'secure'

### Actual behavior

The connection is reported as being insecure

### Device information

* Android device: Samsung Galaxy A5 (Android 8.0.0)
* Fenix version: 2.3.0

[2019-11-01 12:20] #6392 closed

[2019-11-01 12:21] matei-oltean commented on #6392
Duplicate (because of connection issues)

[2019-11-01 12:21] #6393 closed

[2019-11-01 12:24] AndiAJ commented on #1298
Hi, @sblatz when trying to launch the app I've noticed this error in the log:

` 8625-8625/org.mozilla.fenix.debug E/glean/GleanDebugActivity: Glean is not initialized. It may be disabled by the application.`

Please be kind and create a debug APK that has Glean enabled.

[2019-11-01 13:06] Cheap-Skate opened #6395 "[Bug] Desktop favicons more pixellated with Fenix than with Fennec"
## Steps to reproduce

Place a desktop shortcut to e.g. bbc.co.uk/news on your desktop from Fenix, and from Fennec. the Fenix shortcut favicon seems to have lower resolution & is more pixellated

In picture below, Fenix is uppermost, then Fennec Nightly, then Samsung Internet Beta

### Expected behavior

Hi res favicons, smooth edges in Fenix

### Device information

* Android device: BQ Aquaris X

[2019-11-01 13:08] sv-ohorvath commented on #6255
I didn't do that :)  I'm just trying to build the apk to test this and this is blocking me.

[2019-11-01 13:20] Amejia481 commented on #6325
You are welcome @AndiAJ !

[2019-11-01 13:27] Amejia481 commented on #3207
Yes, it is.

[2019-11-01 13:39] vesta0 commented on #1686
@boek this results in bad user experience, I recommend prioritizing it :)

[2019-11-01 13:44] topotropic commented on #6330
Sounds good to me (Option 2, regex). Thanks!

[2019-11-01 13:45] vesta0 opened #6396 "[Telemetry] Sync history and bookmarks"
#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know if users choose to enable sync for some data and not others, so I can plan future sync related features accordingly.

#### Hypothesis
- We believe that users want the ability to control what type of personal data is synced across devices.

#### What questions will you answer with this data?
- How ma

[2019-11-01 13:46] vesta0 commented on #5586
@ekager Yes that is right. That just made me realize that we probably don't collect telemetry for Sync Bookmarks and Sync history separately either. We only recently shipped the ability for user to interact with individual sync options. I created a ticket for those ones: #6396

[2019-11-01 13:46] softvision-miralobontiu opened #6397 "[Bug] Facebook doesn't have "Open in app" option in QAB"
## Steps to reproduce
1. Install facebook on your device.
2. In Fenix, access the facebook page.
3. Drag the QAB and observe the options.

### Expected behavior
"Open in app" is displayed in the QAB.

### Actual behavior
"Open in app" is not displayed in the QAB.

### Device information
* Android device: Google Pixel (Android Q), Sony Xperia Z5 Premium (Android 7.1.1)
* Fenix version: 11/01 (#1305

[2019-11-01 13:49] vesta0 commented on #3726
Adding to group triage so we can discuss it. I think this is a good feature and I'd like to understand the effort + if implementation is depends at all on what kind of share sheet we are using.

[2019-11-01 13:53] vesta0 commented on #3034
Hi @madb1lly we have a WIP list going here: https://github.com/orgs/mozilla-mobile/projects/45

[2019-11-01 13:59] vesta0 commented on #4776
@lime124 @AmyYLee sorry for delay in responding. I agree with your recommendations.

I will file a bug for FAQ or Credits page if needed.

[2019-11-01 14:08] vesta0 commented on #5489
We will track this feature here: #5577

[2019-11-01 14:08] #5489 closed

[2019-11-01 14:11] vesta0 commented on #3869
@Baron-Severin to answer your question, we currently reference the system default locale so if a user's system default locale is `zh-cn` then their search engine default will be Baidu.

Once #220 is shipped, then user can change their locale but I believe search engine default will regardless follow the locale.

cc  @mconnormoz in case further clarification needed

[2019-11-01 14:28] ealitten commented on #5745
The ability to turn this off does appear in Firefox Focus, which I thought fenix was at least partially based on: https://support.mozilla.org/en-US/kb/autocomplete-settings-firefox-focus-address-bar

I do hope this feature is added, since I find it wildly annoying for my urls to autocomplete to sites I have never and will never visit (the list seems very US-focused which means it's almost never of

[2019-11-01 14:36] cadeyrn commented on #5745
Fenix is not based on Firefox Focus. Both browsers use Android Components and GeckoView but are completely independently.

[2019-11-01 14:48] ealitten commented on #5745
Ah OK, I stand corrected - the common use of Android Components and GeckoView must be where I got that idea from

[2019-11-01 16:03] BranescuMihai commented on #3418
Looked a bit into this one, de-assigned myself for a few reasons:

1. Seems like a majority of the android community highly opposes any accessibility auto-focus (maybe the accessibility users know that changes to the page move the focus on the top?)
2. Even disregarding the first reason, at this moment, I can't find a way to programatically set the accessibility focus WITHOUT the actual talk-back

[2019-11-01 16:04] sblatz commented on #6357
Should be fixed now :)

[2019-11-01 16:42] bifleming commented on #4383
@vesta0 we removed this from our Q4 release, but I think this is the one that we want in Q4 -- it sounds like it's just turning on the dynamic nav bar so we can see which bugs need to be fixed.

[2019-11-01 17:14] gabrielluong commented on #6263
I was also working on this a couple of days ago. In case this is useful in anyway you can reference my approach in https://github.com/gabrielluong/fenix/commit/4e88a952b1048f521bd2e4f9bc7f8f8603991b1d.

Other than that I wanted to add the spec for the top gradient that I got from @AmyYLee on slack:
0E0D1A 12% Opacity
Blur 1, offset 1

[2019-11-01 17:53] jbonisteel commented on #6362
I was able to reproduce this with WebRender on but not off, filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1593311 to track

[2019-11-01 17:54] lime124 commented on #821
putting the meta in the in design column as amy is in progress on work for the sub-issues.

[2019-11-01 18:31] fbertsch commented on #232
I just want to ensure we're planning on including a `distribution_id` as a new metric, which also needs to be included in the activation ping (along with every other ping). cc @vesta0 @Dexterp37

[2019-11-01 18:41] cpeterso commented on #4383
The GV team has a couple minor GV issues to be fixed for the dynamic toolbar, but feels the dynamic toolbar is ready to re-enabled for Fenix Nightly (only) user testing. The dynamic toolbar shouldn't ride the Fenix trains yet.

[2019-11-01 19:04] NotWoods commented on #6255
Whoops, looks like the files in the zip had the wrong naming. I'll follow up and fix the file names.

[2019-11-01 20:37] lime124 commented on #5762
followed up with grisha - some of this work can be done in parallel to the accounts team.  e.g. we need a synced-tabs API from a-s, but it doesn't necessarily need to sync yet - or even exist - to do some of the the fenix integration work (library UI, etc)

[2019-11-01 21:06] #6097 closed

[2019-11-01 21:24] andreicristianpetcu commented on #4697
Seems fixed. Closing.

[2019-11-01 21:24] #4697 closed

[2019-11-01 22:23] liuche commented on #4330
Going to dupe to #3088

[2019-11-01 22:23] #4330 closed

[2019-11-01 22:40] hugoh opened #6401 "[Bug] "Open links in a private tab" setting keeps coming back on its own"
## Steps to reproduce

1. Set as default browser
2. Ensure that "Open links in a private tab" is unchecked

### Expected behavior

That those 2 settings stay that way.

### Actual behavior

After a few hours/days of use, links start opening in private tabs, and "Open links in a private tab" is now checked. Unchecking it reverts this behavior, until it happens again.

I've been through this dance a

[2019-11-01 22:40] hugoh opened #6402 "[Bug] "Open links in a private tab" setting keeps coming back on its own"
## Steps to reproduce

1. Set as default browser
2. Ensure that "Open links in a private tab" is unchecked

### Expected behavior

That those 2 settings stay that way.

### Actual behavior

After a few hours/days of use, links start opening in private tabs, and "Open links in a private tab" is now checked. Unchecking it reverts this behavior, until it happens again.

I've been through this dance a

[2019-11-01 22:41] hugoh opened #6403 "[Bug] "Open links in a private tab" setting keeps coming back on its own"
## Steps to reproduce

1. Set as default browser
2. Ensure that "Open links in a private tab" is unchecked

### Expected behavior

That those 2 settings stay that way.

### Actual behavior

After a few hours/days of use, links start opening in private tabs, and "Open links in a private tab" is now checked. Unchecking it reverts this behavior, until it happens again.

I've been through this dance a

[2019-11-01 22:41] hugoh opened #6404 "[Bug] "Open links in a private tab" setting keeps coming back on its own"
## Steps to reproduce

1. Set as default browser
2. Ensure that "Open links in a private tab" is unchecked

### Expected behavior

That those 2 settings stay that way.

### Actual behavior

After a few hours/days of use, links start opening in private tabs, and "Open links in a private tab" is now checked. Unchecking it reverts this behavior, until it happens again.

I've been through this dance a

[2019-11-01 22:42] hugoh commented on #6402
Sigh, a GitHub unicorn error triggered multiple issue submissions. Removing duplicates.

[2019-11-01 22:42] #6402 closed

[2019-11-01 22:42] hugoh commented on #6403
Sigh, a GitHub unicorn error triggered multiple issue submissions. Removing duplicates.

[2019-11-01 22:42] #6403 closed

[2019-11-01 22:43] hugoh commented on #6404
Sigh, a GitHub unicorn error triggered multiple issue submissions. Removing duplicates.

[2019-11-01 22:43] #6404 closed

[2019-11-01 23:02] liuche commented on #6066
@ekager could you size this? This is the "best case scenario" so this is something that we could start working on in the next sprint. I"ll move it to the top of the feature backlog.

[2019-11-01 23:20] 5y commented on #5497
@mcarare
You are welcome.
d- Solved.
Regarding the "b", If we change the strings with RTL language strings such as Persian, It is more user-friendly for the users to have icon on the right side of the text.

+ I found another problem in the URL bar at the bottom. The conflict between the icon and the URL bar text.
![Screenshot_۲۰۱۹۱۱۰۱-۱۹۱۴۰۷](https://user-images.githubusercontent.com/1941933/6806

[2019-11-01 23:22] liuche commented on #4281
@apbitner could you make the links to the Abstract public? People have been pinging me for access because they don't have access to it for some reason.

[2019-11-01 23:43] liuche commented on #6306
@ekager this is the release we should do the first beta track in - so this will be a little different. I'll open a PR with some changes to the releng doc.

Big picture changes are:
- No strings exports need to happen
- Code freeze will be 2nd Friday
- Tag a beta as described in the [tagging process](https://github.com/mozilla-mobile/fenix/wiki/Tagging-and-Triggering-a-Release#creating-a-new-major-

[2019-11-01 23:45] cpeterso commented on #4697
@andreicristianpetcu - Thanks for reporting this bug and confirming it works now!

[2019-11-02 00:15] grigoryk commented on #4980
Support for most-common use cases landed in https://github.com/mozilla-mobile/android-components/pull/4873

[2019-11-02 00:15] #4980 closed

[2019-11-02 01:20] ekager opened #6406 "Get AC + SV Team Access to Fenix Firebase UI Test Reports"
Since AC works in Fenix often, we should make sure their team has Firebase report access for our UI test suite. It can be even more difficult to get a patch through when you don't even know which tests are failing 💃

Also want to give acess to SV contributors.

Getting the failing tests to show in the PR would also be helpful!

@rpappalax I forget how we all originally got access? Do you have acce

[2019-11-02 08:52] neekless commented on #6357
Confirm fixed on Nightly 191102 06:01 (Build #13060607)
📦: 20.0.0, 8f0f6dc12
🦎: 72.0a1-20191031095309

[2019-11-02 12:11] umerf52 commented on #6401
For me, whenever I update the nightly, the setting is reset to default.
I wish I don't have to keep toggling it off after every update.

- OnePlus 3T
- Android 9.0
- Nightly version 191031 18:01

[2019-11-02 14:20] hakkikaancaliskan opened #6408 "[Bug] Close button not working on Bookmarks and History"
Also back arrow is redundant if opened from homescreen.

## Steps to reproduce
Open history or bookmarks from homescreen.
Press x.

### Expected behavior
Bookmarks/history closed.
### Actual behavior
Not closing.
![sketch-1572704461461](https://user-images.githubusercontent.com/17825767/68072285-d60dfb00-fd8c-11e9-96d8-52e5f674cca8.png)

### Device information
Nightly 191102 06:01 (Build #13060607

[2019-11-02 14:28] hakkikaancaliskan opened #6409 "Redundant + button on homescreen"
Same behavior between search bar and + button. All of them open awesome bar. + button is redundant.
![1658138980](https://user-images.githubusercontent.com/17825767/68072374-b0cdbc80-fd8d-11e9-9861-c1eb3fe47f57.png)

### Device information
Nightly 191102 06:01 (Build #13060607)
📦: 20.0.0, 8f0f6dc12
🦎: 72.0a1-20191031095309
XZ1, Android 9

[2019-11-02 14:30] hakkikaancaliskan commented on #6409
This isn't bug, just an idea 🤷

[2019-11-02 16:15] hakkikaancaliskan opened #6410 "[Bug] Homescreen toolbar and webpage toolbar alignments doesn't match"
![1430646776](https://user-images.githubusercontent.com/17825767/68073802-9ea74a80-fd9c-11e9-95d9-c46a94f2aee3.png)

Maybe just for me, please confirm.

### Device information
Nightly 191102 06:01 (Build #13060607)
📦: 20.0.0, 8f0f6dc12
🦎: 72.0a1-20191031095309
XZ1. Android 9

[2019-11-02 16:31] cadeyrn commented on #6410
see also #6260 (as a subset of this one).

[2019-11-02 16:46] cadeyrn commented on #6409
To be honest I think it's a good thing to have this _new tab_ button because the button makes the option to open a new tab more explicit. _Could_ be important for less experienced users - maybe an interesting topic for user research?

[2019-11-02 16:52] hakkikaancaliskan commented on #6409
I think like you too.
Also I think everybody can understand to press search bar. This two doing same thing, this thing can confuse people.

[2019-11-02 18:50] cadeyrn commented on #5497
This is fixed since #6016.

[2019-11-02 20:22] runboy93 opened #6411 "[Bug] [Crash] Incompatible megazord version (expected 0.42.2, actual 0.42.0)"
## Steps to reproduce

Update 191102 06:00 build to 191102 18:00 build and start application, it doesn't start and show only error about app keep crashing.

### Expected behavior

Should not crash as earlier 191102 06:00 version.

### Actual behavior

Build 191102 18:00 Crashes with error "application keep crashing"

### Device information

* Android device: Oneplus 3T (Android 9)
* Fenix version:

[2019-11-02 21:25] kbrosnan commented on #6411
[code]

[2019-11-02 21:31] csadilek commented on #6411
PR to fix: https://github.com/mozilla-mobile/fenix/pull/6412

[2019-11-03 07:46] Kakitoru commented on #5630
How will it be possible to import rules into uBlock Origin if local file opening is inexplicably going to be removed from Fenix ?

https://github.com/mozilla-mobile/fenix/issues/4049

[2019-11-03 09:18] andreicristianpetcu commented on #5630
@Kakitoru sync or copy/paste

[2019-11-03 11:22] lnicola commented on #6411
Fixed now, right?

[2019-11-03 12:16] bxtom opened #6413 "[Bug] Snackbar messages cover address bar"
Message placement is inconsistent. On the left screenshot is ok, on the right message covers address bar. I think message placement should be corrected (moved up).

![MessagePlacement](https://user-images.githubusercontent.com/29851015/68085018-fba60d80-fe3b-11e9-990f-c5609aced67e.png)

* Android device: android 9
* Fenix version: 2.2.0 (Build #12901947)

[2019-11-03 14:44] hakkikaancaliskan commented on #6384
I think I need to mention @sblatz

[2019-11-03 14:56] shahsurajk commented on #6408
The same is valid for the "History" component as well. Problem with the `close` function in `LibraryPageFragment` probably.

[2019-11-03 17:39] santiagofn commented on #2152
I'm not using Fenix on a daily basis mainly bc of this issue.
Can't understand how opening a list of "open tabs" could be more useful than showing the user it last opened page. @vesta0 mentioned an study about users complaining about this behavior but it's how "Restore previous session" works in every browser I used:
![image](https://user-images.githubusercontent.com/8375708/68089446-a8d25300-fe47

[2019-11-03 18:33] csadilek commented on #6411
Thanks for filing. This is fixed now in the latest build "Nightly 191103 06:03 (Build #13070614)".

[2019-11-03 18:33] #6411 closed

[2019-11-03 20:27] jrmuizel opened #6415 "[Bug] Firefox Nightly Preview always crashes immediately on startup"
I see this on a Pixel 2 on version Nightly 191102 18:00

[2019-11-03 20:37] hakkikaancaliskan commented on #6415
#6411 update fenix

[2019-11-03 20:40] jrmuizel commented on #6415
Indeed that looks like the problem.

[2019-11-03 20:40] #6415 closed

[2019-11-03 20:42] jrmuizel commented on #6411
Why didn't this crash happen in CI?

[2019-11-03 21:01] brampitoyo commented on #5497
@mcarare wrote:

The fix you proposed on #6152 looks great to me. Is there a specific feedback that you’re looking for?

@5y wrote:

<img src="https://user-images.githubusercontent.com/1941933/68061639-41e45b00-fcdc-11e9-9423-1381ed4d2a63.png" width="160">

I agree. The “No collection” icon should be placed on the right side.

[2019-11-03 23:12] brampitoyo commented on #5630
Hi @Kakitoru, importing rules into uBlock Origin isn’t something I’ve thought of in the design, so thanks heaps for bringing it up.

Do you know if there are other features I’ve overlooked?

[2019-11-03 23:19] ReekyMarko commented on #6051
I would like to add that this happens consistently with _any_ page

[2019-11-04 01:50] Poopooracoocoo commented on #6092
in terms of the add-on manager, i'd really love it if it were the same as the desktop one

[2019-11-04 04:10] vesta0 commented on #5636
@cpeterso thanks for describing the current behaviour, and yes we want the recommended option to be block both video and audio autoplay, see #5163

[2019-11-04 04:14] brampitoyo commented on #220
Progress update:

I’ve spent today designing policies around how OS vs. Firefox vs. web content languages interact.

I know that we want a separate language options for menus/dialogs and web content. This will solve some of our problems.

I also set out to solve the problem @cpeterso wrote in https://github.com/mozilla-mobile/fenix/issues/220#issuecomment-484572922:

As a solution, I recommend:

1

[2019-11-04 04:49] vesta0 commented on #232
Thanks @fbertsch for calling that out.

[2019-11-04 06:20] vesta0 opened #6416 "Introduce Pocket stories in Fenix"
### User Story
As a user, I want to discover interesting content in the browser in a way that is not intrusive to my core browsing experience.

Dependencies
- [x] [UX discovery and mocks](https://www.figma.com/file/ZjgR9WfXC09CtfFvRJrveM/Pocket?node-id=8%3A18)
- [ ] Finalize copy
- [ ] Update the pocket client API in AC to support stories (currently it only supports fetching videos)
- [ ] Build th

[2019-11-04 06:30] vesta0 opened #6417 "Save a collection as homescreen shortcuts"
## User Story
- As a user, I want to be able to open a collection of sites directly from my homescreen, so I have a convenient way of opening sites that I view regularly.

### Acceptance Criteria
- I can save a collection as a homescreen shortcut
- I can open a collection by tapping on a homescreen shortcut
- [Telemetry] Opening a collection from a homescreen shortcut

[2019-11-04 08:04] AndiAJ commented on #6390
Reproducible on the latest **Nightly Build #13080607 from 11/4** using a LG Nexus 4 (Android 5.1.1)

[2019-11-04 08:08] AndiAJ commented on #6357
Hi, **verified as fixed** on the latest **Nightly Build #13080607 from 4/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191104_095654](https://user-images.githubusercontent.com/51314259/68106621-e0460b80-feea-11e9-9ab6-0587ff9eb507.gif)

T

[2019-11-04 08:08] #6357 closed

[2019-11-04 08:41] mcarare commented on #5497
@brampitoyo So, you want to keep the position in RTL same as LTR (to the right of text)? IMO mirroring some layouts partially it's not the greatest idea. There are no other layouts in this screen that we don't mirror.

[2019-11-04 09:03] mcarare opened #6418 "[Bug] Harmonize library flows"
Currently, on the homescreen there are options to go directly to _History_ or _Bookmarks_.
In the browser screen there is an option to go to _Library_ screen, and only then to _History_ or _Bookmarks_
IMO this is not consistent, and it also causes bugs like: #6408.
There are also other issues with navigation, like: #5727
If we add more items to _Library_ in the future, not having a consistent flow

[2019-11-04 10:06] AndiAJ commented on #1487
Hi, **verified as fixed** on the latest **Nightly Build #13080607 from 4/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191104_114502](https://user-images.githubusercontent.com/51314259/68112990-5bafb900-fefb-11e9-86e0-257e3e251f26.gif)

A

[2019-11-04 11:11] CendioOssman opened #6420 "[Bug] Backspace unreliable to canvas with focus"
## Steps to reproduce
1. Make a canvas focus:able by setting `tabIndex` to `-1`
2. Click the canvas to focus it
3. Type `abc`
4. Press backspace

### Expected behavior
The canvas gets four `keydown` events, one for each key press.

### Actual behavior
The canvas gets three `keydown` events, only for `abc`. If you keep pressing backspace then the events finally go through. The number of times match

[2019-11-04 11:12] CendioOssman commented on #6420
Test case:

[code]

[2019-11-04 11:17] CendioOssman commented on #6420
The same issue exists in the current Firefox for Android. Should I report the issue in bugzilla as well, or is it abandoned at this point? :)

[2019-11-04 11:46] BranescuMihai commented on #5733
@AndiAJ Yes, for some reason, I thought of the behaviour as in Chrome, where delete also closes the incognito mode. But for us, the button says Delete and Open, so you're right. Will add a fix for it!

[2019-11-04 13:31] Cheap-Skate opened #6421 "[Bug] Quick Action Bar confusing"
I find QAB confusing, some items are in the QAB and some are in the 3-dot menu, not clear what lives where and some are duplicates

(1) First time I've tried to bookmark something in Fenix. Natural place to look is 3 dot menu. Bookmark is not there. It's in the QAB. It actually took me quite a while to work out how to do it. QAB is just a little line above the URL

(2) Share is in both the QAB and

[2019-11-04 13:34] Cheap-Skate opened #6422 "[Bug] Why does a bookmark always open in a new tab?"
## Steps to reproduce
From any tab
Go Your Library > Bookmarks & select a bookmark

### Expected behavior
Bookmark opens in current tab i.e. bookmark overwrites content of current tab. Typical browser behavior

### Actual behavior
Bookmark opens in a new tab. Unique to Fenix? Other browsers tend not to do this.

Confusing!

### Device information

* Android device: Galaxy S7
* Fenix version: Today

[2019-11-04 13:40] Cheap-Skate commented on #6422
Sounds like a feature, #3551. (but I don't like it much)

[2019-11-04 13:45] cadeyrn commented on #6421
QAB will be removed in #6310.

[2019-11-04 14:48] nathansgithub opened #6424 "[Bug] Media Focus Changes Without Playing Video"
## Steps to reproduce
* Play media using another Android app (for example PowerAmp or similar music player).
* Browse to a webpage with autoplaying videos (ex: https://www.nbcnews.com/tech/tech-news/apple-firefox-browsers-aim-thwart-facebook-google-tracking-n909671)

### Expected behavior
The music/media in the other app should continue playing. The notification for the webpage media should also p

[2019-11-04 14:49] nathansgithub opened #6425 "[Bug]"
## Steps to reproduce
* Play media using another Android app (for example PowerAmp or similar music player).
* Browse to a webpage with autoplaying videos (ex: https://www.nbcnews.com/tech/tech-news/apple-firefox-browsers-aim-thwart-facebook-google-tracking-n909671)

### Expected behavior
The music/media in the other app should continue playing. The notification for the webpage media should also p

[2019-11-04 14:51] nathansgithub opened #6426 "[Bug]"
## Steps to reproduce
* Play media using another Android app (for example PowerAmp or similar music player).
* Browse to a webpage with autoplaying videos (ex: https://www.nbcnews.com/tech/tech-news/apple-firefox-browsers-aim-thwart-facebook-google-tracking-n909671)

### Expected behavior
The music/media in the other app should continue playing. The notification for the webpage media should also p

[2019-11-04 14:52] nathansgithub opened #6427 "[Bug]"
## Steps to reproduce
* Play media using another Android app (for example PowerAmp or similar music player).
* Browse to a webpage with autoplaying videos (ex: https://www.nbcnews.com/tech/tech-news/apple-firefox-browsers-aim-thwart-facebook-google-tracking-n909671)

### Expected behavior
The music/media in the other app should continue playing. The notification for the webpage media should also p

[2019-11-04 14:53] nathansgithub opened #6428 "[Bug]"
## Steps to reproduce
Play media using another Android app (for example PowerAmp or similar music player).
Browse to a webpage with autoplaying videos (ex: https://www.nbcnews.com/tech/tech-news/apple-firefox-browsers-aim-thwart-facebook-google-tracking-n909671)
Media is paused in the browser, but it still takes away the media focus from the other app, usually pausing it.

### Expected behavior
Th

[2019-11-04 14:55] nathansgithub commented on #6425
GitHub was acting up.

[2019-11-04 14:55] #6425 closed

[2019-11-04 14:56] nathansgithub commented on #6428
GitHub was acting up.

[2019-11-04 14:56] #6428 closed

[2019-11-04 14:56] nathansgithub commented on #6427
GitHub was acting up.

[2019-11-04 14:56] #6427 closed

[2019-11-04 14:57] nathansgithub commented on #6426
GitHub was acting up.

[2019-11-04 14:57] #6426 closed

[2019-11-04 14:57] AndiAJ commented on #5749
Hi, **verified as fixed** on the latest **Nightly Build #13080607 from 4/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

![rsz_screenshot_20191104-165025](https://user-images.githubusercontent.com/51314259/68130484-18b60b80-ff24-11e9-95a8-f9439f8771fe.

[2019-11-04 14:57] #5749 closed

[2019-11-04 15:03] softvision-miralobontiu commented on #5959
I've tested with today Nightly build from Play Store 11/4 (#13080608) with Google Pixel (Android Q), and Nokia 6 (Android 7.1.1), and these are the results:
- the download progress is visible on Nokia 6, but not on Google Pixel:
![download-progress](https://user-images.githubusercontent.com/40694158/68129944-2a4ae380-ff23-11e9-91b6-53dc942ab8aa.png)

- I was able to pause my download on both devic

[2019-11-04 15:14] AndiAJ opened #6430 "[Bug]Inconsistent display of the "Add private browsing shortcut" recommender after switch from landscape to portrait view"
## Prerequisites
Have a clean profile

## Steps to reproduce
1. Rotate the device to landscape view
2. Switch a couple of times between normal/private browsing until the "Add private browsing shortcut" recommender is dispalyed
3. Rotate the device to portrait view

### Expected behavior
The recommender is properly displayed

### Actual behavior
The recommender is cut off

### Device information

*

[2019-11-04 15:22] sblatz commented on #5959
@MihaiTabara

Thanks for testing this. A couple things:

I cannot tap on this link to open the file - there is no "Open" option in the notification;

We decided to forego the "open" button. I think @brampitoyo has just not updated the mocks to include this change. If you tap **anywhere** on the notification, it will open the file for you.

Is this device specific? Were you able to pause APK's on c

[2019-11-04 15:29] AndiAJ opened #6431 "[Bug]Cross-out shield isn't displayed in the URL bar when turning off TP for a specific website"
## Steps to reproduce
1. Navigate to any webpage
2. Turn of tracking protection for that webpage
3. Check the URL bar

### Expected behavior
Cross-out shield should be displayed in the URL bar

### Actual behavior
Empty space left in the URL bar

### Device information

* Android device:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlu

[2019-11-04 15:38] softvision-miralobontiu commented on #5959
@sblatz I tried on Nokia 6 (Android 7.1.1), Motorola Moto G6 (Android 8), Huawei P9 Lite (Android 7), and Google Pixel (Android Q), and all gave the same result. After I resumed the .apk download, the download failed. After tapping on "Try again", the download restarted.

[2019-11-04 15:40] Sgt-Miller opened #6432 "[Bug] After downloading a PDF, tapping on notification opens it in files. It should open in PDF reader."
## Steps to reproduce
Download a PDF. Tap the download completed message on notification bar.
### Expected behavior
In Firefox for Android, it asks me if I want to open using one of the PDF readers I have.
![Screenshot_20191104-210247](https://user-images.githubusercontent.com/17806210/68133934-392c9880-ff19-11e9-9873-e470924cb762.png)
![Screenshot_20191104-210252](https://user-images.githubuserco

[2019-11-04 15:48] Sgt-Miller opened #6433 "[Bug] Unable to download from resumake.io"
## Steps to reproduce
Go to resumake.io.
Click make resume
Click make again.
Now try to download the (empty) PDF.
### Expected behavior
In Firefox for Android, it downloads as usual.
### Actual behavior
In Firefox preview, I get "Firefox preview can't download this filetype".
![Screenshot_20191104-211211](https://user-images.githubusercontent.com/17806210/68134577-3c745400-ff1a-11e9-8fef-3e653368f

[2019-11-04 15:52] softvision-miralobontiu opened #6434 "[Bug] When cutting the wi-fi off, the download notification displays the download completed"
## Steps to reproduce
1. Go to https://www.thinkbroadband.com/download.
2. Select to download a file.
3. Cut off the wi-fi and observe the download notification.

### Expected behavior
The download should fail.

### Actual behavior
The notification displays the download to be complete.

### Device information
* Android device: all
* Fenix version: 11/4 (13080608)

[logcat.txt](https://github.com/m

[2019-11-04 16:49] apbitner commented on #4281
@liuche sorry about that, should be fixed now

[2019-11-04 16:50] StuartHaire opened #6435 "Firefox Focus is draining your battery"
**Steps to reproduce**

1. Open application and use as desired
2. Close application and erase browsing history

**Expected behavior**

The application should close

**Actual behavior**

The application closes and after a few minutes android notifies "Firefox Focus is draining your battery" and allows me to force stop. Happens every time.

**Device information**

Android device: OnePlus 6
Have noti

[2019-11-04 16:52] apbitner commented on #6121
Dup of https://github.com/mozilla-mobile/fenix/issues/6233

[2019-11-04 16:52] #6121 closed

[2019-11-04 16:52] sblatz commented on #5959
@softvision-miralobontiu Did this happen on multiple websites or just one? I am able to get this to work properly on Github, for example. I wonder if it's an issue with a specific website.

[2019-11-04 16:53] sblatz commented on #5959
Essentially: we know that **downloads will fail when trying to resume on some sites**. This is expected behavior, and as long as the try again button works in those cases, this ticket is complete :)

[2019-11-04 16:54] pocmo opened #6436 "RuntimeException: Error receiving broadcast Intent { act=mozilla.components.feature.downloads.OPEN flg=0x10 pkg=org..."
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6599952/

[code]

[2019-11-04 16:55] pocmo commented on #6436
[code]

[2019-11-04 16:56] pocmo commented on #6436
@sblatz That looks like it may be a regression from the downloads work?

[2019-11-04 16:58] hakkikaancaliskan commented on #6435
Sorry but this is fenix github, not focus.

[2019-11-04 17:01] StuartHaire commented on #6435
Sorry not sure how I ended up here. Closed.

[2019-11-04 17:01] #6435 closed

[2019-11-04 17:33] #5959 closed

[2019-11-04 17:59] jacktose opened #6437 "Open bookmarked page from new tab page"
### Why/User Benefit/User Problem
You want to open a bookmarked page in a new tab.
If you open a new tab and look around, there is no way to access a bookmark.

### What/Requirements
UX for opening a new tab and then selecting a bookmark.

### Acceptance Criteria (how do I know when I’m done?)
I can open a new tab (from menu, or + on home screen) and then load a bookmarked page in it.

UX suggesti

[2019-11-04 18:01] jacktose commented on #6437
This was mozilla/firefox-preview-bughunting-campaign#313, which was closed as a duplicate of #1487. That's now closed as fixed, but does not address this concern/request.

[2019-11-04 18:02] jacktose commented on #1487
This was mozilla/firefox-preview-bughunting-campaign#313, which was closed as a duplicate of this issue, but this solution does not resolve that request. Reopened that as #6437.

[2019-11-04 18:12] rocketsroger commented on #4312
After investigation, though the feature is easy to enable, there are some issue surrounding how it works.  With just enabling the feature, a App will be launched but the browser also loads the URL at the same time.

To make this feature works correctly, it needs two things:
1. Do not load the page if an App is opened to handle the request.
2. Allow browser to pass in user preference so user can ch

[2019-11-04 18:12] rocketsroger commented on #6037
Won't fix.  This is not required anymore

[2019-11-04 18:12] #6037 closed

[2019-11-04 18:16] rocketsroger commented on #4312
https://github.com/mozilla-mobile/android-components/issues/4950 created

[2019-11-04 18:25] #6369 closed

[2019-11-04 18:26] rocketsroger opened #6438 "[Meta] Toggle to enable and disable external app auto launch"
### Why/User Benefit/User Problem
Some users want websites opening their respective apps, while other users dislike this behavior. A toggle would be appreciated by both sides.

### User Story
As a user, I want to choose whether a site will open in my browser or in its respective 3rd party native app if available, so I can customize my browser in a way that fits my preferences.

### What/Requiremen

[2019-11-04 18:27] rocketsroger commented on #6438
Needs to talk to UX designer to confirm the design

[2019-11-04 18:27] rocketsroger commented on #6438
Needs https://github.com/mozilla-mobile/android-components/issues/4950

[2019-11-04 18:39] cpeterso commented on #5636
A clarification after I chatted with Vesta: Fenix wants to block autoplay of both muted and unmuted videos. They want to prevent autoplay of those annoying floating videos on news websites.

[2019-11-04 18:47] cpeterso commented on #5636
The GV bug to extend GV's autoplay API to support blocking of muted video is https://bugzilla.mozilla.org/show_bug.cgi?id=1577596.

[2019-11-04 19:11] csadilek opened #6439 "[Bug] Crash when downloading Image"
We're getting this new relatively frequent crash:
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6580864/

[code]

[2019-11-04 19:20] umerf52 commented on #6401
Looks like @hugoh is right.
I didn't update the app for a few days and this option turned itself back on automatically.

[2019-11-04 19:21] cpeterso commented on #5636
Though the GV API is not ready, you can test this blocking behavior in Fenix Nightly now by manually setting GeckoView's `media.autoplay.default` about:config pref to level `5` (BLOCK_ALL).

[2019-11-04 20:31] rocketsroger opened #6440 "Integrate Web Notifications Feature"
### Why/User Benefit/User Problem
Web notifications are currently not supported.
### What/Requirements
Android Components have added Web Notifications Feature.
### Acceptance Criteria (how do I know when I’m done?)
Integrate Web Notifications Feature

[2019-11-04 20:52] agi90 opened #6441 "[Startup Crash] RuntimeException: Unable to create application org.mozilla.fenix.FenixApplication: java.lang.IllegalArgumentExcepti..."
https://sentry.prod.mozaws.net/operations/fenix/issues/6601427/

[code]

[2019-11-04 20:52] agi90 commented on #6441
Fenix crashes 100% of the time at startup, latest nightly. Clearing cache doesn't help.

Android 9, Samsung S10e

[2019-11-04 21:25] agi90 commented on #6441
Sentry issue: [FENIX-NIGHTLY-10K](https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6601433/)

[2019-11-04 21:46] AmyYLee commented on #2818
@lime124 I took a look at the reference browser PIP and it seems UX is pretty minimal. Is there any UX requirement for this? I can take it if there is.

[2019-11-04 21:46] gaby2300 commented on #6441
Android 6.0.1  Sony Xperia z3c also crashes at startup

El lun., 4 de nov. de 2019 a la(s) 18:25, Agi Sferro (
notifications@github.com) escribió:

[2019-11-04 21:47] sblatz commented on #5958
Submitted PR for this feature so that the "try again" button works: https://github.com/mozilla-mobile/android-components/pull/4954/files

[2019-11-04 22:15] rpappalax opened #6442 "Temp disable all History UI tests"
It seems there may be flaky step(s) in these tests that we need to make more robust.  Possibly, longTapSelectItem?
@sv-ohorvath let's take a look at these together in Firebase and record which ones are failing and for which API(s). There may be a race condition or possibly just that we need to make one of the steps more robust.

https://docs.google.com/document/d/1zoKjkwZm-xCN0B19uwMQqlLDEz4JrCW3d

[2019-11-04 22:40] vesta0 commented on #4312
Re-opening this issue as it still requires UX feedback @brampitoyo @lime124

[2019-11-04 22:59] jonalmeida commented on #2818
One use case to consider: If a video is in PIP-mode, should you be able to browse other content at the same time? e.g. play a video in PIP and read an article on a different tab. In the reference browser implementation, you can only watch the video and use other apps, not R-B itself.

[2019-11-04 23:11] Baron-Severin commented on #4281
@apbitner it's possible that I'm just missing these, but I don't see 'appearance' (for modifying reader mode) or 'download page' in the mocks.  Should I move these to the menu as well?

[2019-11-04 23:13] rocketsroger commented on #4312
@vesta0 I actually opened an issue to replace this one https://github.com/mozilla-mobile/fenix/issues/6438

[2019-11-04 23:25] #6442 closed

[2019-11-04 23:45] vesta0 commented on #4312
Thanks @rocketsroger :) You read my mind!

[2019-11-04 23:45] #4312 closed

[2019-11-05 00:12] liuche commented on #5544
All the pieces are ready and landed, just waiting on #5074

[2019-11-05 00:55] Sav22999 opened #6446 "Add option in Settings to open website "in app" directly"
### Why/User Benefit/User Problem
It can improve the navigation experience
If the website supports the feature "open in app" give the choice to open directly in the app, instead of the browser.

### What/Requirements
Websites have to support the "open in app" feature.

### Acceptance Criteria (how do I know when I’m done?)
Now the steps are: open website (e.g. Wikipedia), then open QAB (quick acti

[2019-11-05 01:50] mcomella opened #6447 "Consider enabling telemetry in debug builds"
### Why/User Benefit/User Problem
Developers write code on debug builds: it is on these debug builds that they'll notice issues with the code they've written and fix them. As such, debug builds should be as close as possible to what users are using: the release builds.

Currently, telemetry is disabled on debug builds: imo, we should re-enable it.

### What/Requirements

### Acceptance Criteria (h

[2019-11-05 02:13] liuche opened #6448 "[Meta] Add search attribution data"
In order to get Desktop parity for search attribution, Fenix needs to add some search telemetry for counting follow-on and organic searches, as well as verify that the search access points are all covered.

### Sub-issues
- [x] Search access points #6556
- [ ] Follow-on and Organic search #6557
- [ ] Ad clicks and pages with ads #6558

### Helpful context
This is a helpful [Data summary](https://d

[2019-11-05 02:19] Baron-Severin commented on #6275
Sizing note: `BrowserMenuItem` already includes a `visible` property that can be used to determine when items are and are not shown.  It is currently only used to check visibility during `BrowserMenuAdapter` init, which occurs when the three-dot-button is clicked.  It should be possible to update this to check visibility changes more frequently, which shouldn't require any update to client code.

[2019-11-05 04:07] makotokato commented on #6420
@CendioOssman Could you reproduce this even if Chorme?  Also, what IME/keybaord are you using?  GBoard?

[2019-11-05 04:37] LittleAngelwings commented on #6441
Have also this issue

`11-05 05:23:23.369 E/AndroidRuntime(22917): Process: org.mozilla.fenix.nightly, PID: 22917
11-05 05:23:23.369 E/AndroidRuntime(22917): java.lang.RuntimeException: Unable to create application org.mozilla.fenix.FenixApplication: java.lang.IllegalArgumentException: Unexpected format in VersionString
11-05 05:23:23.369 E/AndroidRuntime(22917): 	at mozilla.components.service.exp

[2019-11-05 04:40] brampitoyo commented on #5959
@softvision-miralobontiu

@sblatz is totally right:

The mocks on the board has now been updated. Sorry about that.

[2019-11-05 04:43] brampitoyo commented on #5497
@mcarare Sorry. I think I’m just a little unclear as to the fix that you’re suggesting.

Would you mind posting a mockup of your proposed fix? I don’t have enough experience with RTL layout to know that mirroring is sometimes correct, and sometimes incorrect.

What would your suggestion be?

[2019-11-05 06:22] andreicristianpetcu commented on #6441
my stable fenix is also crashing on startup

[2019-11-05 06:52] softvision-miralobontiu commented on #5959
@sblatz I could reproduce only on downloading from the taskcluster page, the Reference-Browser apk.
Thanks!

[2019-11-05 07:06] ekager commented on #6441
Thank you all for reporting! I have hopefully merged a fix in AC for this from @mythmon but it will take a bit to build the AC snapshot and get a new Nightly.
https://github.com/mozilla-mobile/android-components/issues/4957

[2019-11-05 08:14] #6219 closed

[2019-11-05 08:24] CendioOssman commented on #6420
Yes, Chrome also sees this bug. So it seems to be something fundamental.

This is only possible to reproduce on a physical keyboard AFAIK since I cannot get Firefox to activate the virtual keyboard on the canvas.

I've tested with the keyboard that's included with Pixel C, as well as a Logitech bluetooth keyboard.

[2019-11-05 08:27] Vinnl opened #6451 "[Bug] Release 2.3.0 does not include an APK"
## Steps to reproduce

Visit https://github.com/mozilla-mobile/fenix/releases/tag/v2.3.0

### Expected behavior

For there to be six assets, adding four APKs for different architectures.

### Actual behavior

There are just two assets, labelled "Source code".

### Device information

N/A

Related: #6312?

[2019-11-05 08:29] mcarare commented on #5497
@brampitoyo My suggestion is leave it as it is, because IMO it is correct.

**LTR**:<img src = https://user-images.githubusercontent.com/48995920/68190767-b2c69400-ffb6-11e9-9b16-c8ca6ce55272.png  width = 45%>**RTL**: <img src =https://user-images.githubusercontent.com/48995920/68190768-b2c69400-ffb6-11e9-9522-65a489575d1d.png width = 45%>

[2019-11-05 09:50] Dexterp37 commented on #6447
I'm not sure upload is strictly required here. Our team discussed about a potential path here: a reasonable strategy could be to always init Glean and just set upload to disabled (e.g. make the "telemetry" setting default off for debug builds). Developers testing things would simply need to flip a setting vs rebuild again.

This already happens: Glean telemetry is faceted by application id. As lon

[2019-11-05 11:12] Rob--W commented on #6441
This occurred to me on Preview version "Nightly 190928 06:01" (I am not auto-updating). The app worked fine last weekend, but started to crash last night.

[2019-11-05 11:54] staktrace commented on #6441
@ekager can you please post here when the build with the fix is published to the play store? Thanks!

[2019-11-05 12:09] madb1lly commented on #3034
Hi @vesta0,
Thanks for the link. I have seen that project before, it is helpful. However it's still not a simple cross-check against Fennec to confirm which features will be implemented in Fenix and which won't. I have trawled through many issues on GitHub now and it seems that the Fenix team have not approached the overall project with feature-parity with Fennec in mind, as there are many issues

[2019-11-05 12:47] AndiAJ commented on #6179
Hi, **verified as fixed** on the latest **Nightly Build #13090608** from 5/11 using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191105_144006](https://user-images.githubusercontent.com/51314259/68208975-0f3baa80-ffdb-11e9-98dc-05ef57a9ac51.gif)

[2019-11-05 12:47] #6179 closed

[2019-11-05 13:43] gaby2300 commented on #6441
I also have the following issue: the app keeps opening by it's self. Should
I create a new issue?

El mar., 5 de nov. de 2019 a la(s) 08:54, Kartikaya Gupta (kats) (
notifications@github.com) escribió:

[2019-11-05 13:53] AndiAJ opened #6452 "[Bug]Crash after closing or force stopping Fenix"
## Steps to reproduce
1. Open Fenix
2. Close the app from the recent applications menu (or Force stop it)
3. Reopen the app

### Expected behavior
No issues starting up Fenix again

### Actual behavior
Crash

### Device information
* Android device:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Andr

[2019-11-05 14:03] AndiAJ commented on #6441
Hi, same on  **Nightly 191105 06:01 (Build #13090608) 📦: 20.0.0, 1bae81951 🦎: 72.0a1-20191103094618** using:

• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Crash log
`--------- beginning of crash
2019-11-05 15:40:40.172 14649-14649/? E/AndroidRuntime: FATAL EXCEPTION: main
    Proc

[2019-11-05 14:03] AndiAJ commented on #6452
Dupe of #6441

[2019-11-05 14:03] #6452 closed

[2019-11-05 14:19] jrmuizel commented on #6441
I was able to get Fenix Nightly 191105 06:01 working again by clearing the apps storage and cache.

[2019-11-05 14:26] jrmuizel opened #6454 "[Bug] Media playback notification remains after media has stopped"
I currently have a Netflix Canada media notification from Fenix even though I don't have Netflix loaded in any tabs.

I can reproduce the problem by loading netflix and while it's loading loading another page like a google search.

* Android device: Pixel 10 Android 10
* Fenix version: Nightly 11/05

[2019-11-05 14:33] jrmuizel commented on #6441
But then the problem came back after a short time of use.

[2019-11-05 15:19] #5820 closed

[2019-11-05 16:15] sblatz commented on #1298
Nightly APK can be found here: https://tools.taskcluster.net/index/project.mobile.fenix.v2.nightly/latest

[2019-11-05 16:37] jonalmeida opened #6455 "[Bug] Experiments are applied to non-Mozilla browser forks"
The crash in https://github.com/mozilla-mobile/fenix/issues/6441 can be seen on non-Mozilla browsers that forked from either Fenix or [Reference Browser](https://github.com/mozilla-mobile/reference-browser/issues/938). Our experiments code (or the underlying system that causes this), should only be running for app IDs we own or fail to run if an API key or such is missing.

[2019-11-05 16:37] jonalmeida opened #6456 "[Bug] Experiments are applied to non-Mozilla browser forks"
The crash in https://github.com/mozilla-mobile/fenix/issues/6441 can be seen on non-Mozilla browsers that forked from either Fenix or Reference Browser. Our experiments code (or the underlying system that causes this), should only be running for app IDs we own.

[2019-11-05 16:38] #6456 closed

[2019-11-05 16:43] leela52452 opened #6457 "[Bug] fenix 2.3.0 [ 20191014032640 ] crash on tapping browse"
## Steps to reproduce

https://achecker.ca/checker/index.php
select html file upload
browse

### Expected behavior

select file

### Actual behavior

browser crashes

### Device information

* Android device: ls-4001
* Fenix version: 2.3.0 [ 20191014032640 ]

![20191105_214202-1](https://user-images.githubusercontent.com/52065244/68227280-5336ab80-ffeb-11e9-9f73-31f562598ebc.gif)

[2019-11-05 16:44] leela52452 opened #6458 "[Bug] fenix 2.3.0 [ 20191014032640 ] crash on tapping browse"
## Steps to reproduce

https://achecker.ca/checker/index.php
select html file upload
browse

### Expected behavior

select file

### Actual behavior

browser crashes

### Device information

* Android device: ls-4001
* Fenix version: 2.3.0 [ 20191014032640 ]

![20191105_214202-1](https://user-images.githubusercontent.com/52065244/68227280-5336ab80-ffeb-11e9-9f73-31f562598ebc.gif)

[2019-11-05 16:44] leela52452 opened #6459 "[Bug] fenix 2.3.0 [ 20191014032640 ] crash on tapping browse for file"
## Steps to reproduce

https://achecker.ca/checker/index.php
select html file upload
browse

### Expected behavior

select file

### Actual behavior

browser crashes

### Device information

* Android device: ls-4001
* Fenix version: 2.3.0 [ 20191014032640 ]

![20191105_214202-1](https://user-images.githubusercontent.com/52065244/68227280-5336ab80-ffeb-11e9-9f73-31f562598ebc.gif)

[2019-11-05 16:47] AaronMT commented on #6457
https://github.com/mozilla-mobile/fenix/issues/6441

[2019-11-05 16:47] #6457 closed

[2019-11-05 16:47] leela52452 commented on #6458
duplicate of #6457
excuse, due to some error this has been submitted twice

[2019-11-05 16:47] #6458 closed

[2019-11-05 17:11] boek commented on #6131
We suspect this was a Twitter server side issue that has been resolved. Feel free to open a new issue if you encounter it again.

[2019-11-05 17:11] #6131 closed

[2019-11-05 17:50] mheubusch commented on #6438
Recommended strings:
[label] Open links in apps
[microcopy] Use external apps (like Maps or YouTube) when possible

[2019-11-05 18:08] sblatz commented on #6384
Thanks for pointing this out, @hakkikaancaliskan! I agree we should fix this :)

I have submitted a PR in android-components, so we should get it in Fenix soon!

[2019-11-05 18:13] sblatz commented on #6384
Thanks for pointing this out, @hakkikaancaliskan! I agree we should fix this :)

I have submitted a PR in android-components, so we should get it in Fenix soon!

https://github.com/mozilla-mobile/android-components/pull/4967

[2019-11-05 18:20] boek commented on #6451
Thank you!

[2019-11-05 18:20] #6451 closed

[2019-11-05 18:52] vesta0 commented on #3726
Discussed at group triage. This would be a new feature and not related to existing work or whether we use native or custom share sheet.

[2019-11-05 19:08] vesta0 commented on #4554
@Amejia481 and I tested this and it seems like when user adds an exception, the default global permission settings apply to that domain. The correct behaviour should be to default to user-specified custom permissions settings.

[2019-11-05 19:22] vesta0 commented on #5543
We will be able to size this by Fridayl

[2019-11-05 19:22] liuche opened #6461 "Update beta builds to release on "beta-closed" track, rather than requiring relman promotion"
Since the beta channel will primarily be for the Fenix QA team, we shouldn't require relman to promote beta builds.

[2019-11-05 19:27] liuche commented on #5938
Sizing as E2 because this should primarily be done in AC.

[2019-11-05 19:40] mitchhentges commented on #6461
Beta's default track has been changed to `beta-closed`

[2019-11-05 19:40] #6461 closed

[2019-11-05 19:43] liuche opened #6464 "Upgrade forPerformanceTest to "first class variant""
### Why/User Benefit/User Problem
Performance tests must be run on builds that are as close as possible to release with the debuggable flag set.

The performance build variant was added because the debug variant does not have telemetry enabled (#6447 for enabling it). However, e.g. if we complete that issue, we may be able to remove the variant: let's investigate!

If we can't remove it, we should

[2019-11-05 20:41] NotWoods commented on #6459
Fixed in Nightly: #6279

Should we uplift the change to stable? Fixed with A-C 19.0.0.

[2019-11-05 20:42] mcladyz commented on #1175
How about [this one](https://bitmovin.com/demos/drm) for Widevine test instead? (Doesn't require an account)

[2019-11-05 20:47] NotWoods commented on #6432
Partial duplicate of #5959.

This has been fixed in Nightly, and will come to stable soon!

[2019-11-05 20:47] #6432 closed

[2019-11-05 20:50] NotWoods commented on #6433
Duplicate of mozilla-mobile/android-components#1159. We currently do not support `blob:` URLs, which is what resumake.io uses. Once BZ-1501735 is fixed we can add support.

[2019-11-05 20:53] NotWoods commented on #6422
Current intended behaviour is to open a new tab as stated in #3551. @vesta0 has anything changed here?

[2019-11-05 20:54] NotWoods commented on #6421
Closing since we're removing the bar (#4281).

[2019-11-05 20:54] #6421 closed

[2019-11-05 20:58] hawkinsw commented on #6370
Actions

1. Get median #, p90 of bookmarks that real mobile users have. Is this expected to change with new versions of Fenix? @ecsmyth
2. Where is this called from within Fenix? That will determine how we prioritize. @hawkinsw

[2019-11-05 21:01] NotWoods commented on #6394
Duplicate of #5171. A-C issue: mozilla-mobile/android-components#4156

[2019-11-05 21:04] NotWoods commented on #6358
To clarify, the feature request here is to be able to delete suggestions from the search screen?

[2019-11-05 21:06] NotWoods commented on #6355
For the video use case, mozilla-mobile/android-components#4253 should help.

[2019-11-05 21:20] liuche commented on #5651
I'm going to close this issue, because this has already shipped in 2.3 release (bc QA gave us sign-off to ship)

There was a regression from some unrelated changes in the Experimenter framework regarding the versions that caused a Nightly startup crash #6441

[2019-11-05 21:20] #5651 closed

[2019-11-05 21:25] Baron-Severin commented on #6456
@jonalmeida would you mind adding a note about why this was closed?  Is the problem being tracked somewhere else?

[2019-11-05 21:49] andreicristianpetcu commented on #6441
Nightly is fixed for me. https://tools.taskcluster.net/index/project.mobile.fenix.v2.nightly/latest

Production is still broken https://tools.taskcluster.net/index/project.mobile.fenix.v2.fennec-production/latest

[2019-11-05 22:05] ekager commented on #6441
Yes the newest Nightly should fix this crash. Please let us know if you're still seeing this in Nightly

[2019-11-05 22:08] vesta0 commented on #5541
QA please test this and let us know what cases/scenarios this currently works.

[2019-11-05 22:16] liuche commented on #6441
This is the FennecProduction build, which would be something that @pocmo would know more about that, but it's been broken for all the Nightly builds that I have triggered recently https://tools.taskcluster.net/groups/WwjSGdhNQbSMpxcaB0Ub7w

[2019-11-05 22:22] liuche commented on #6380
This is still a MUST because if a user can't open a webpage that the want to access, that is a reason for them to switch to another browser.

[2019-11-05 22:24] dbaron commented on #6441
I'm still seeing 100% crashes with the nightly that came out a few hours ago.

[2019-11-05 22:27] dbaron commented on #6441
Fixed for me in the nightly that just came out (was still broken in one that came out a few hours ago).

[2019-11-05 22:28] LittleAngelwings commented on #6441
This new build via Play Store starts without a crash: Nightly 191105 20:32 (Build #13092042)
📦: 20.0.0, 1bae81951
🦎: 72.0a1-20191103094618

[2019-11-05 22:34] liuche commented on #1985
Here are some things Desktop does:
<img width="731" alt="Screen Shot 2019-11-05 at 2 32 48 PM" src="https://user-images.githubusercontent.com/1082253/68251999-2f6a6a00-ffd9-11e9-9e2e-f48ddf07f673.png">
<img width="437" alt="Screen Shot 2019-11-05 at 2 33 40 PM" src="https://user-images.githubusercontent.com/1082253/68252060-4f019280-ffd9-11e9-902f-e1aab8fcf99c.png">

[2019-11-05 22:40] Baron-Severin commented on #4281
Summary from conversation with apbitner:
- Even though there's code in the app for 'download page', it isn't an available option for users.  No need to add it.
- 'appearance' is shown in [this mock](https://app.goabstract.com/share/7cd59d53-ad3a-4b33-8131-74703c1859a2?collectionLayerId=7d635e51-3378-456a-a5dc-c6c019e105fc&mode=design&present=true&preview=false&sha=71f1bc4560177d7e60b17b0c53f7f0113

[2019-11-05 23:12] mcomella commented on #5823
After speaking with Christian, for this issue we'll want to verify:
- Perf remains acceptable with the WebExtensions feature enabled but none installed
- Perf of each extension (we're particularly concerned about page load)

Up-front, there are two areas we should watch out for with WebExtensions perf:
- Regular fetching of the list of supported WebExtensions (https://github.com/mozilla-mobile/and

[2019-11-05 23:27] vesta0 commented on #934
This ticket is no longer relevant since we will be doing the in-app replacement. All the related work are filed here #879 879

[2019-11-05 23:27] #934 closed

[2019-11-06 00:27] mcomella commented on #5910
Eric pointed out that Google defines, "cold/warm/hot" startup: we should align ourselves with their terminology.

[2019-11-06 00:39] gaby2300 commented on #6441
I can confirm the above build starts without crashing.
Sony Xperia z3c and Android 6.0.1

[2019-11-06 01:08] mcomella commented on #5910
Android defines hot/warm/cold [in this doc](https://developer.android.com/topic/performance/vitals/launch-time.html). Unfortunately, they're not very specific. It sounds like:
- Cold: "starting from scratch". The app process needs to be created.
- Hot: "all the system does is bring your activity to the foreground". Activity has not been removed from memory.
  - `onTrimMemory` may have been called,

[2019-11-06 01:16] mcomella commented on #5910
Perhaps warm start is able to have a fuzzy definition and still provide consistent results because its behavior changes between different releases of Android: for example, more recent version

---

CC @ecsmyth FYI: the GPlay dashboard defines "slow * start" by the metrics below. They may have chosen these values for a particular reason.

- Slow cold start: Percentage of daily sessions during which

[2019-11-06 01:23] mcomella commented on #5910
There's more info on how Google collects startup times [in this official doc](https://support.google.com/googleplay/android-developer/answer/7385505). Notable points:
- "Startup times are tracked when the app’s first frame completely loads, even if it isn’t a screen that users interact with. Example: If an app starts with a splash screen, the startup time equals the time required to display the sp

[2019-11-06 03:18] jonalmeida commented on #6456
This was a dupe created when github blipped and I hit the 'resend request' button because the page load was taking too long. The same issue is open and linked correctly, see: https://github.com/mozilla-mobile/fenix/issues/6455

[2019-11-06 05:00] jayschwa opened #6470 "[UX] "Delete and Open" notification button is confusing"
The persistent notification for private tabs has a button labeled "Delete and Open". Deleting a private tab makes sense to me, opening a private tab makes sense to me, but the concept of opening something that has been deleted is confusing at first glance.

* Android device: Google Pixel 2
* Fenix version: 2.3.0

related issue: #5733

![firefox_preview_private_confusing](https://user-images.github

[2019-11-06 05:26] brampitoyo commented on #6418
Hi @mcarare, you’d be glad to know that @topotropic are thinking of ways to unify our Library navigation!

I will let her comment on this issue. If possible, she may also be able to provide an accurate size (s, m, l, xl) for the design effort. However, an estimate may not be possible since it’s still early in the process.

[2019-11-06 05:28] brampitoyo commented on #6409
As this feature is search-related, I’m paging @Verdi to get his feedback.

[2019-11-06 05:57] leela52452 commented on #4044
fenix 2.3.0 [ 20191014032640 ] downloading .md file as .txt file

file link: https://gitlab.com/leela52452/leela.gitlab.io/raw/master/_posts/2019-10-28-bad-bot.md?inline=false

![Screenshot_2019-11-06-11-05-29](https://user-images.githubusercontent.com/52065244/68272009-4b622000-005a-11ea-832a-568eb55b5d86.png)

[2019-11-06 07:51] CendioOssman commented on #6420
Sorry, I retested and I incorrectly assumed that the configured keyboard was only relevant for the on screen virtual keyboard and not for the physical.

After switching from Swiftkey to GBoard it works fine.

[2019-11-06 08:21] softvision-miralobontiu commented on #6441
Verified that the latest Nightly builds from 11/06 (#13100629, #13100630) doesn't crash.
I installed the build from Play Store, and the taskcluster page, on the following devices:
- Sony Xperia Z2 tablet (Android 6.0.1),
- Google Pixel (Android Q),
- Nexus 5 (Android 6.0.1).

[2019-11-06 08:21] #6441 closed

[2019-11-06 08:43] CendioOssman opened #6471 "[Bug] Alt sent for AltGraph with physical keyboard"
## Steps to reproduce
1. Attach physical keyboard
2. Configure Swedish layout
3. Go to https://dvcs.w3.org/hg/d4e/raw-file/tip/key-event-test.html
4. Click the input field
5. Press AltGr

### Expected behavior
A `keydown` event with `key` set to `AltGraph`.

### Actual behavior
A `keydown` event with `key` set to `Alt`.

### Device information

* Android device: Pixel C
* Fenix version: 2.3.0

[2019-11-06 08:46] CendioOssman commented on #6471
Also seen in Chrome:

https://bugs.chromium.org/p/chromium/issues/detail?id=1021856

[2019-11-06 08:58] AndiAJ commented on #3242
Hi, **verified as fixed** on the latest **Nightly Build #13100629 from 6/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

![rsz_screenshot_20191106-105030](https://user-images.githubusercontent.com/51314259/68283432-35695500-0084-11ea-8915-0f8b57ab1a83.

[2019-11-06 10:41] opusforlife2 opened #6472 "Desktop's "Always use private browsing mode" equivalent for Fenix"
Just like desktop Firefox, there should be a toggle to enable private browsing mode permanently, so that no matter how the user opens a tab (tapping on a link, app intent, tapping on a bookmark), it opens in private browsing mode only. Across app restarts as well as phone restarts. No non-private tabs unless that setting is turned off.

## UX

### Design Work

- [x] Request for Comments from UX te

[2019-11-06 10:41] opusforlife2 commented on #4780
@sblatz Done!

[2019-11-06 11:21] cadeyrn commented on #6472
There is already an option to open links in private mode and you can create a launcher icon for private mode. Which use case is not covered by these two options?

[2019-11-06 12:04] topotropic opened #6473 "Update proxy designs based on learnings from UR"
Update designs based on insights from https://github.com/mozilla-mobile/fenix/issues/5941

Explore ways to
- show that proxy is working (IP,...)
- make it clear what people get right from the get-go ("it's free and it's useful in this situation" --> align with real world use cases)
- simplify the welcome screen and separate two key messages: protection and passes

[2019-11-06 12:05] topotropic commented on #5941
Created a follow-up issue to address the insights gained in UR
https://github.com/mozilla-mobile/fenix/issues/6473

[2019-11-06 12:05] #5941 closed

[2019-11-06 12:15] mcarare commented on #6417
@vesta0 Do we have any UX specs for this? Icon, title for shortcut, etc.
I suppose the dialog for adding shortcut will be the same as for a single tab. TY!

[2019-11-06 12:24] mcarare commented on #6178
waiting on https://github.com/mozilla-mobile/fenix/issues/4776

[2019-11-06 13:21] dessant commented on #6092
@brampitoyo, supporting uBlock Origin will enable a bunch of other extensions that use that subset of extension APIs to be installed. I think it would be better to design the UX for pinning now instead of redesigning everything several times, especially because it may also involve user interface changes in other places, such as the extension sheet you mention.

Pinning could be configurable from t

[2019-11-06 13:22] ebalazs-sv commented on #4980
Hi!
I tested this on Nightly builds 191102 GV 71 from
https://github.com/mozilla-mobile/fenix/wiki/Fennec-Migration
with Samsung Galaxy S8 (Android 9), Nexus 6P (Android 8.1.0), Google Pixel 3 (Android 10) and the user is not kept logged in after Fennec is replaced by Fenix.
Are there other builds available for testing this fix? Thanks!

[2019-11-06 13:50] abodea commented on #4126
Hi @ekager I've checked the following and haven't encountered any issues:
Build: **` Nightly 191106 06:21 (Build #13100629)📦:20.0.0, 1bae81951🦎: 72.0a1-20191103094618 from 11/6 `**
Device: **`Google Pixel 3a XL(Android 10):`**
- Go to permission.site. Allow and deny some permissions as: camera, mic, location, notification.
- Go to Settings>Site Permissions>Exceptions. Tap the website in the list.

[2019-11-06 13:50] #4126 closed

[2019-11-06 14:13] AndiAJ commented on #1298
@sblatz - I've retried with the new debug build you've sent but I've bumped in this startup crash:

[code]

[2019-11-06 15:30] vesta0 commented on #6417
@mcarare no this ticket has not been reviewed by UX yet :)

[2019-11-06 16:00] abodea commented on #5541
Hi @vesta0 please see my findings below:
For the start I picked the first 10 websites from [Top 100 Most Visited Websites by Search Traffic in 2019](https://ahrefs.com/blog/most-visited-websites/).

## I have more scenarios that I tried:
#### 1. Turning the Internet connection OFF or Turning the Airplane Mode ON
- Launch Firefox Preview and open the top 10 websites(**youtube, en.wikipedia, faceboo

[2019-11-06 16:57] apbitner commented on #768
Description updated with Abstract link showing First Use and Toolbar Notification flows

[2019-11-06 17:17] vesta0 commented on #373
@liuche can we prioritize the A-C work related to this? I don't see an A-C issue linked.

[2019-11-06 17:44] 5y commented on #5497
@mcarare
Yes, We can leave it as it is. However, Align the icons on the right side of the RTL language is more userfriendly, Because we usually align them on the right side of the words, phrases ...

[2019-11-06 17:47] pocmo opened #6477 "Microphone/Camera notification: Show which site is using device"
### Why/User Benefit/User Problem
When a website is using the camera or the microphone we show an ongoing notification to make the user aware. In a discussion on Slack it came up that it would be helpful to mention which site/tab is currently using this device.

This is implemented in AC and I checked that we know which site(s) are using the device(s). Filing this here in Fenix so that it can get

[2019-11-06 18:38] vesta0 opened #6478 "Offline access to previously open tab content (after restart or refresh)"
Why/User Benefit/User Problem

As a user, I want to be able to retrieve my previously open tabs when I don't have a network connection so I can continue consuming content without interruption.

[Feature Brief](https://docs.google.com/document/d/1_lbVYHouBVqYBrt41MDA8L1PqUNJQNNyD2nRAu8o9oc/edit#)

### Acceptance Criteria

- [ ] If I lose my connection, I can still restart my browser and access all

[2019-11-06 18:38] vesta0 commented on #5541
Thanks so much @abodea for the thorough testing!

@liuche @lime124 @kbrosnan based on the test results above, I consider the acceptance criteria met for this particular user case required for feature maturity. I have opened another issue to track the remaining use case for future: #6478

[2019-11-06 18:38] #5541 closed

[2019-11-06 18:45] vesta0 opened #6479 "Custom ETP: Choose which trackers and scripts to block"
## User Story
- As a user, I want to choose which type of trackers and scripts to block in my browser, so I can have full control over my privacy settings.

Note: currently users do not have the option of blocking all cookies if they choose to.

### Acceptance Criteria

- [x] I can go in my ETP settings and choose "custom" and decide on which trackers and scripts are blocked.
- [x] I can choose to

[2019-11-06 18:46] vesta0 commented on #1985
Thank you for looking into desktop @liuche :) I agree that it makes sense to align with desktop. I created a new ticket for it: #6479

[2019-11-06 18:47] vesta0 commented on #1985
Thanks @SKITTLE-LA for filing this and putting it on our radar!

[2019-11-06 19:00] sempasha commented on #6446
#6397

[2019-11-06 19:03] sblatz commented on #4456
I think @Baron-Severin may be able to answer this better?

Investigating this one.

[2019-11-06 19:17] Baron-Severin commented on #4456
I don't actually have any context on this one.  I noticed [a related bug](https://github.com/mozilla-mobile/fenix/issues/6126), but don't know anything else about this ping.

[2019-11-06 19:19] sblatz commented on #4456
@boek maybe? I think he was the one who added this :)

[2019-11-06 19:49] mcomella commented on #5916
The Google Play dashboard has this data: I wonder if we can export it so we can centralize the data within our own dashboards.

[2019-11-06 20:16] mkaply opened #6480 "Adding a new search partner"
We're adding a new search partner to Fenix, Ecosia.

The search URL is:

https://www.ecosia.org/search?q={searchTerms}&tt=813cf1dd

This will be for Germany (de) only.

[2019-11-06 20:35] vesta0 commented on #880
@athomasmoz I expect this work to happen in Fennec. @apbitner please include Ashley in design reviews :)

[2019-11-06 20:45] apbitner commented on #880
cc: @mheubusch

[2019-11-06 20:53] flaki opened #6481 "[Bug] Choice of private/non-private open not respected in Android sharing dialog"
## Steps to reproduce

* Fenix Nightly is `Set as default browser`, also ☑ `Open links in private tab`.
* Open any other app (here: Twitter)
* Open tweet, choose Share, in the sharing dialog choose `Firefox Nightly` as a share target (as opposed to the `Firefox Nightly (Private Firefox)` target

### Expected behavior

* The shared link opens in a **non-private** tab

### Actual behavior

* The sha

[2019-11-06 21:14] vesta0 commented on #4538
@AmyYLee and @sblatz please indicate whether the 3 remaining items on this list are still valid and important considering the recent re-designs.

[2019-11-06 21:51] grigoryk opened #6484 "[Intermittent] GleanMetricsServiceTest setStartupMetrics sets some base metrics"
Hit this in https://github.com/mozilla-mobile/fenix/pull/6371
[code]

[2019-11-06 21:52] grigoryk opened #6485 "[Intermittent] GleanMetricsServiceTest setStartupMetrics sets some base metrics"
Hit this in https://github.com/mozilla-mobile/fenix/pull/6371
[code]

[2019-11-06 21:52] grigoryk opened #6486 "[Intermittent] GleanMetricsServiceTest setStartupMetrics sets some base metrics"
Hit this in https://github.com/mozilla-mobile/fenix/pull/6371
[code]

[2019-11-06 21:55] #6485 closed

[2019-11-06 21:55] #6486 closed

[2019-11-06 21:55] grigoryk commented on #6484
cc @Dexterp37 @travis79

[2019-11-06 22:03] mdboom commented on #6484
Seems to be related to expecting the defaultSearchEngine to not be set, but somehow it is?

It looks like other tests set `defaultSearchEngine`, so maybe they should be clearing it, but aren't?

[2019-11-06 22:38] SKITTLE-LA commented on #1985
Thank you for looking into this and building a bang-up mobile browser! I hope you look at all of my other suggestions, haha (kidding but also not.) I'll still be using Fennec until extensions are supported but try to do what I can to test and improve Fenix.

[2019-11-06 23:06] sblatz commented on #220
@cpeterso do we have hooks in GV to change language for webpage content?

[2019-11-06 23:14] kbrosnan commented on #5916
We've done studies and the size is not a strong factor of usage when you are talking about 40 - 50 mb apks.

If we track this what are we going to do with the gentle increase over time? I had tracked a similar metric and libxul increased by a few kb a month. Most of the other cases were fundamental changes in Gecko features such as supporting a new media codec.

[2019-11-06 23:16] sblatz commented on #6434
This issue is really strange. In Sample Browser inside of Android Components, the way I implemented this, an IO exception is thrown when the internet cuts out. However, for some reason, inside of Fenix, that IO exception is either never thrown or is being caught by some universal catch somewhere?

@BranescuMihai if you're digging into this more, it's going to be in this section of the code:

https

[2019-11-06 23:17] sblatz commented on #6434
Really strange that this is working as expected in Sample Browser but not inside of Fenix 😕 they're both using the same download service.

[2019-11-06 23:29] Baron-Severin commented on #6302
Note re: `Go through the list of issues closed during this sprint and make sure they all have the correct milestone.`  I looked through the commits merged since 2.3, and these are the issues to be checked.

#6390
#6468
#6284
#6087
#6466
#6441
#6462
#6414
#6450
#6441
#6443
#6369
#6376
#6405
#6097
#6309
#4126
#6359
#5917
#6210
#6153
#6341
#6268
#6342
#6230
#5959
#5958
#1487
#5710
#4456
#6003
#6344
#

[2019-11-06 23:45] Baron-Severin commented on #6369
@ekager does this require QA verification?  If so, would you mind labeling it?

[2019-11-06 23:45] ekager commented on #6369
Don't think so. It was just a revert

[2019-11-07 00:31] vesta0 commented on #5494
Closing for now, not a requirement for Q1

[2019-11-07 00:31] #5494 closed

[2019-11-07 01:12] grigoryk opened #6490 "Track abnormal account events"
We've been getting vague reports of FxA account getting unexpectedly signed-out. It's not clear why this may happen, as a first step towards a solution let's instrument this condition and track how often it _does_ happen in the wild.

I think the work that will come out for this ticket can live in a-c, but let's land the initial integration in Fenix for the sake of faster initial iterations.

[2019-11-07 01:32] neekless opened #6491 "[Bug] Private browsing session notification no longer showng"
## Steps to reproduce
1. Switch to private mode.
2. Launch a private tab.

### Expected behavior
Private browsing session notification (with 'open' and 'delete and open' shows.

### Actual behavior
The notification has stopped showing. I did not turn off the notification channel in app settings.
![Screenshot_20191107-093057](https://user-images.githubusercontent.com/22426822/68352443-59697c80-00fe

[2019-11-07 03:24] liuche commented on #6354
Ugh, sorry I think I got confused - actually @ekager if we want this in 3.0, we should put it into the release, because it's going to be in beta anyway (and not actually released), and it can get QA-ed during the beta period 🤦‍♀

[2019-11-07 03:38] ktaeleman opened #6493 "[Bug] Outdated parent page shows when pressing back"
## Steps to reproduce

Not 100% reproducible.
Got to engadget.com, navigate away from engadget to random site like cbc.ca, navigate back to engadget.com, click an article midway page, press back.

### Expected behavior
Page returns to up to date content of digg.com

### Actual behavior
Page is out of date with content from your first visit to digg.com

### Device information

* Android device: Pix

[2019-11-07 03:38] ktaeleman opened #6494 "[Bug] Outdated parent page shows when pressing back"
## Steps to reproduce

Not 100% reproducible.
Got to engadget.com, navigate away from engadget to random site like cbc.ca, navigate back to engadget.com, click an article midway page, press back.

### Expected behavior
Page returns to up to date content of digg.com

### Actual behavior
Page is out of date with content from your first visit to digg.com

### Device information

* Android device: Pix

[2019-11-07 03:40] ktaeleman opened #6495 "[Bug] Outdated page shows when pressing back"
## Steps to reproduce

Not 100% reproducible.
Got to engadget.com, navigate away from engadget to random site like cbc.ca, navigate back to engadget.com, click an article midway page, press back.

### Expected behavior
Page returns to up to date content of digg.com

### Actual behavior
Page is out of date with content from your first visit to digg.com

### Device information

* Android device: Pix

[2019-11-07 03:45] AaronMT commented on #6495
#6493

[2019-11-07 03:45] #6495 closed

[2019-11-07 03:45] AaronMT commented on #6494
#6493

[2019-11-07 03:45] #6494 closed

[2019-11-07 04:33] brampitoyo commented on #220
After walk through with Product and Engineering teams, this project is now ready to hand off to Engineering.

See the board: https://miro.com/app/board/o9J_kwN9u-I=/
SVG asset for Language icon: https://dzwonsemrish7.cloudfront.net/items/1j0I1L1E282t24241N0l/language.svg

- For MVP, we will only have the ability to change Browser language.
- There’s a new policy to handle Webpage Content language

[2019-11-07 05:43] thewhitetulip commented on #3465
I still can't see Download Progress, neither do I see a dedicated downloads tab

[2019-11-07 06:13] Idesmi commented on #4918
This still happens, exactly as described by @anotherus3r

[2019-11-07 07:36] neekless commented on #6493
I have encountered this a few times but I wasn't sure if it was a problem with the site or the app. Here's a gif:
![ezgif-4-c1e0fbd128b0](https://user-images.githubusercontent.com/22426822/68368991-1ecd0780-0131-11ea-94cd-5fbcc9b4b0c4.gif)

Notice that after going back, the Nov 07 commit was missing. Almost like I was getting a snapshot of the page from a day before.

[2019-11-07 07:55] madb1lly commented on #768
This is a nice mockup, but what is the reason that the icon cannot be put in the toolbar like in Fennec? Is there less space in Fenix?

Also, "install" may be confusing as these are not really installed in the traditional Android sense - they will not appear in the list of installed apps. This could be mitigated by Fenix having a record of installed PWAs, e.g. "about:pwas" or "about webapps" where

[2019-11-07 08:18] cpeterso commented on #2154
This works correctly for me in R-B. We're still waiting for Fenix to re-enable the dynamic nav bar.

However, panning the map triggers R-B's pull-to-refresh. I filed a new R-B bug: https://github.com/mozilla-mobile/reference-browser/issues/943

[2019-11-07 09:04] buttercookie42 commented on #6337
If this isn't made optional (and perhaps also non-default), then I am certain that there will be complaints in the other direction, too, as listening to audio (or the audio track of a video) from a background tab is a popular use case too.

[2019-11-07 09:06] buttercookie42 commented on #6329
Duplicate of #2681.

[2019-11-07 09:14] AndiAJ commented on #6269
Hi, check on the latest **Nightly Build #13110606 from 7/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Samsung Galaxy S7 (Android 7)
• LG Nexus 4 (Android 5.1.1)

1. "Search with" ✔️
![rsz_screenshot_20191107-105819](https://user-images.githubusercontent.com/51314259/68375020-b12fd400-014e-11ea-8640-26fc950ce11b.png)
![rsz_screenshot_20191107-105719](https://user-images.gith

[2019-11-07 09:15] pocmo opened #9200 "Toolbar: Star icon in edit mode after submitting url"
@Amejia481 noticed this in https://github.com/mozilla-mobile/android-components/pull/4968 - however is was unrelated to the changes in the PR.

When entering a URL in Fenix and submitting for a fraction of a second you can see the toolbar in edit mode and showing a star icon.

My guess here is that the presenter on stop tries to clear/reset the toolbar and that may be what we are seeing for a seco

[2019-11-07 09:23] AndiAJ commented on #6087
Hi, **verified as fixed** on the latest **Nightly Build #13110606 from 7/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20191107_111733](https://user-images.githubusercontent.com/51314259/68376204-e3dacc00-0150-11ea-88e5-469d224777bb.gif)

[2019-11-07 09:23] #6087 closed

[2019-11-07 09:46] BranescuMihai commented on #6434
@sblatz yep, I was looking into that method, but thanks for the idea with the Sample browser, will check that out

[2019-11-07 09:47] mcarare commented on #6491
Could not reproduce.
Tested on Huawei P10 (Android 9) with Nightly 191107 (Build #13110607)

[2019-11-07 10:35] AndiAJ commented on #5646
Hi, **verified as fixed** on the latest **Nightly Build #13110606 from 7/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20191107_123106](https://user-images.githubusercontent.com/51314259/68381671-e80be700-015a-11ea-82e6-200c2259bb01.gif)

[2019-11-07 10:35] #5646 closed

[2019-11-07 12:19] ebalazs-sv opened #6497 "[Bug] Nightly crashes when tapping on download notification"
## Steps to reproduce
1. Go to https://file-examples.com/ or https://www.thinkbroadband.com/download;
2. Download a file;
3. Go to download notification and tap on it.
### Expected behavior
The downloaded file opens.
### Actual behavior
The app crashes.

### Notes
[notificationcrash.txt](https://github.com/mozilla-mobile/fenix/files/3819526/notificationcrash.txt)

### Device information

* Android

[2019-11-07 12:22] AndiAJ commented on #6497
Dupe of #6436

[2019-11-07 12:22] #6497 closed

[2019-11-07 12:23] ValentinTimisica commented on #5472
I investigated this bug and the problem is that when you open a custom tab in Firefox Preview, the [onPortMessage](https://github.com/mozilla-mobile/android-components/blob/b7bff5edf3653824c5295633cd2839daf740e4c0/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewFeature.kt#L241) callback from ReaderViewContentMessageHandler is not triggered and therefore

[2019-11-07 12:24] AndiAJ commented on #6436
Hi @pocmo reproducible on the latest **Nightly Build #13110606 from 7/11** using the following devices:
• Google Pixel 3a XL (Android 9)
• Pixel 2 (Android 9)
• Huawei Honor 8 (Android 7.0)

[code]

[2019-11-07 12:38] softvision-miralobontiu commented on #6390
Verified as fixed on the latest Nightly build from 11/07 (#13110607) with Google Pixel (Android Q), OnePlus 5T (Android 9), and Nexus 9 Tablet (Android 7.1.1).

[2019-11-07 12:38] #6390 closed

[2019-11-07 13:25] madb1lly commented on #6329
Thanks @buttercookie42. I honestly _did_ try to see if this bug was already raised, but I presume that GitHub's search function hid it from me!

[2019-11-07 13:28] AndiAJ commented on #1298
Hi @sblatz good news! The last debug build you've sent works! :smiley:

On the other hand, I've generated two metrics pings and it looks like the "metrics.adjust_campaign": doesn't get populated, in my case with **06c7a972-acf2-480a-8a9f-c865d1cfa1e9** (Google advertising ID from the Adjust Insights app)

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/aj-t071100)

**I'll remove

[2019-11-07 14:42] Dexterp37 commented on #6484
Yup, I agree, Looks like some other test set that, so [Fenix puts the data in the metrics](https://github.com/mozilla-mobile/fenix/blob/284f3cf0f500d7e669ae6faa736cc853854efea2/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L483) .

@grigoryk if it's hard to track down the test that it's not cleaning after himself, it might be ok to [remove these lines](https://githu

[2019-11-07 14:49] softvision-miralobontiu commented on #6284
Verified as fixed on the latest Nightly build 11/07 (#13110607) with Nexus 9 tablet (Android 7.1.1), Nexus 5 (Android 6.0.1), Google Pixel (Android Q), and OnePlus 5T (Android 9).

[2019-11-07 14:49] #6284 closed

[2019-11-07 15:14] neekless commented on #6491
My bad I had accidentally enabled background battery restrictions. Will close.

[2019-11-07 15:14] #6491 closed

[2019-11-07 16:00] sblatz commented on #6436
@AndiAJ do you have steps to reproduce on this? :)

[2019-11-07 16:12] acreskeyMoz commented on #5048
@colintheshots What do you think about the above -- disable the QuickActionSheet in `forPerformanceTest` builds?

[2019-11-07 16:41] AndiAJ commented on #6436
Sure! :)

1. Navigate to https://file-examples.com/index.php/sample-documents-download/sample-doc-download/
2. Download a file
3. From the Android task bar tap on the download confirmation notification

► Video
![20191107_183700](https://user-images.githubusercontent.com/51314259/68408464-1525bd00-018e-11ea-9cfc-96ca33203d2d.gif)

[2019-11-07 16:47] sblatz commented on #4456
I have addressed "metrics.total_uri_count": being 0 and marking this ready for qa needed again.

I'm not sure why the total_uri_count is one plus the search number, though. We can address that in another ticket?

[2019-11-07 16:48] sblatz opened #6499 "[Bug] total_uri_count is one plus the search number"
As raised by @AndiAJ, it seems like the total_uri_count sent is one plus the number of searches: https://github.com/mozilla-mobile/fenix/issues/4456#issuecomment-548414974

[2019-11-07 17:01] AndiAJ commented on #1298
Hi, **verified as fixed** on the latest debug build sent by Sawyer.
[code]
[Logcat](https://github.com/mozilla-mobile/fenix/files/3820764/AdjustCampaignID.txt)
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/aj-t071102)

@sblatz - Great job! 😄

[2019-11-07 17:04] mcomella commented on #5048
@acreskeyMoz The QuickActionSheet (or QuickActionBar) is in the process of being removed: https://github.com/mozilla-mobile/fenix/issues/4281 I'm going to pre-emptively close this bug – feel free to reopen if that doesn't fit your needs. :)

[2019-11-07 17:04] #5048 closed

[2019-11-07 17:04] mcomella commented on #4308
Severin is in the process of removing the Quick Action Sheet: https://github.com/mozilla-mobile/fenix/issues/4281 I am pre-emptively closing this bug.

[2019-11-07 17:04] #4308 closed

[2019-11-07 17:06] mcomella commented on #5910
My intention was to identify the proportion of cold/warm/hot starts and I realize we need a telemetry probe: defining this is additionally out-of-scope for what I was doing. Unassigning.

[2019-11-07 17:57] apbitner commented on #768
@madb1lly we have a handful of features that are only available depending on the website you're on such as reader mode, open in native app, install PWA, etc. We don't want to put all of those icons in the address bar so we're working on a way to make these contextual features easily noticeable without cluttering up the address bar.

[2019-11-07 18:11] acreskeyMoz commented on #5048
That's great, thanks @mcomella

[2019-11-07 18:58] ekager commented on #6354
QA - please verify for both 3.0 and Nightly that
1. The ETP dialog with shield in toolbar is visible and displays correctly
2. The Quick Settings dialog displays correctly
3. The granular options for Strict/Standard display in TP Settings

[2019-11-07 19:13] liuche opened #6502 "Add ability to select Webpage Content Language"
### Why/User Benefit/User Problem
Some sites might have different language options, and this would allow users to express their choice in webcontent language.

### What/Requirements
- [ ] User can select language for web content

**Mocks**: https://miro.com/app/board/o9J_kwN9u-I=/

GV honors the system language by default (i.e. Gecko's HTTP requests set the `Accept-Language` HTTP header to match t

[2019-11-07 19:52] AmyYLee commented on #4538
@vesta0 @sblatz

**"App Menu: Left and Right margins should be 16dp"**
Still relevant

**"Search: Does not have a transition for searching / entering address from toolbar"**
Now that the search bar on homescreen is at the bottom, I don't think we should have the search bar move upwards to the top since it makes it feel laggy. Can we copy the transition of the search bar when a user is on a website

[2019-11-07 20:33] sblatz commented on #6434
Thanks for investigating this, @BranescuMihai! Sounds like we need a GV/AC patch to fix this.

[2019-11-07 21:20] #4556 closed

[2019-11-07 21:46] ekager commented on #5547
QA please tests:
1. If biometric is set, a user has to use biometrics or pin to auth
2. If only a PIN is set, a user must use a PIN to access passwords
3. If nothing is set, the user gets warned
4. If you pause the app past the auth screen, you need to auth again

[2019-11-07 21:58] cpeterso commented on #220
GV honors the system language by default (i.e. Gecko's HTTP requests set the `Accept-Language` HTTP header to match the system language, issue #940). Fenix can override Gecko's list of preferred languages using the `GeckoRuntimeSettings#setLocales` API:

https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoRuntimeSettings.html#setLocales-java.lang.String:A-