[2020-12-17 17:04] ekager commented on #17037
When I moved to Bugzilla I could repro, but I can't anymore. Sounds like it was the site's issue

[2020-12-17 17:07] shakeelosmani commented on #17037
Yes that is correct. Unable to reproduce the issue anymore.

On Thu, Dec 17, 2020, 12:05 PM ekager <notifications@github.com> wrote:

[2020-12-17 17:12] ekager commented on #17055
@LaurentiuApahideanSV are any of those strings used in 84.1.1? It's okay if there are extra newer strings that aren't used AFAIU.

The two features that landed in 84 that I could tell didn't get full translations were the
GridView CFR and the Tabs Tray Menu strings.

[2020-12-17 17:33] opusforlife2 commented on #17086
As an additional data point, I have no tabs to restore. The problem still occurs on startup.

[2020-12-17 17:44] agi commented on #16577
Another case: https://bugzilla.mozilla.org/show_bug.cgi?id=1677413

[2020-12-17 17:54] hwinnemoe commented on #14246
Since there are plans to integrate the search engine picker (#16659) and the QR scanner (#16658), this might just get resolved by these design changes.

[2020-12-17 18:29] jonalmeida commented on #13209
No worries, this works. Thank you!

[2020-12-17 18:52] sivaraam opened #17104 "On Android 5.1.1 - Unable to dismiss the quick tab actions menu (tab counter long press)"
## Steps to reproduce
1. Long press on the tab count indicator to open the quick tab actions menu.
2. Try tapping somewhere outside the menu to dismiss it.

### Expected behavior
The menu is dismissed it.

### Actual behavior
The menu is not dismissed. I honestly find no way to dismiss the menu apart from choosing one of the options in it. It would be nice if it were dismissable.

### Device infor

[2020-12-17 18:54] ekager commented on #17090
We will not be adding support for master password re this comment https://github.com/mozilla-mobile/fenix/issues/14501#issuecomment-683888369

[2020-12-17 18:54] #17090 closed

[2020-12-17 18:55] ekager commented on #17068
closing as dupe of #5661.

[2020-12-17 18:55] #17068 closed

[2020-12-17 18:56] ekager commented on #17104
Would you mind trying Nightly to see if you can still reproduce the problem there? You can download it here https://play.google.com/store/apps/details?id=org.mozilla.fenix

[2020-12-17 19:00] #2642 closed

[2020-12-17 19:07] ekager commented on #9170
@yoasif are you still seeing this? The Bugzilla was duped and then closed out so I'm going to close this for now

[2020-12-17 19:07] #9170 closed

[2020-12-17 19:08] ekager commented on #9185
@AaronMT can we close this issue?

[2020-12-17 19:09] ekager commented on #9209
This should be solved by the new search dialog behavior

[2020-12-17 19:09] #9209 closed

[2020-12-17 19:12] ekager commented on #9218
I can't repro this anymore. Let's QA it before closing out though.

[2020-12-17 19:12] ekager commented on #10539
@vnprak are you still seeing this issue?

[2020-12-17 19:13] ekager commented on #9234
@mstange do you still care about this issue?

[2020-12-17 19:13] ekager commented on #9241
@StefanHamminga are you still seeing this issue?

[2020-12-17 19:16] ekager commented on #9250
Can we retest this on a Samsung device? I can't repro on a Pixel 3

[2020-12-17 19:17] ekager commented on #9264
cc @pocmo @Archaeopteryx do we think we can close this issue?

[2020-12-17 19:20] ekager commented on #9284
@quadriflax are you still seeing this?

[2020-12-17 19:21] ekager commented on #9291
Closing because this has a linked merged PR. Feel free to reopen if that's wrong!

[2020-12-17 19:21] #9291 closed

[2020-12-17 19:21] #9185 closed

[2020-12-17 19:22] ekager commented on #9296
@Paxani4you are you still seeing this?

[2020-12-17 19:23] ekager commented on #9303
Thanks for the update! Closing

[2020-12-17 19:23] #9303 closed

[2020-12-17 19:23] ekager commented on #9314
Hey @simonsteiner1984 are you still seeing a slow load on this page?

[2020-12-17 19:26] kbrosnan commented on #17065
We don't control Firefox Accounts in this project. See https://support.mozilla.org/en-US/kb/im-having-problems-with-my-firefox-account#w_im-having-trouble-verifying-my-firefox-account for documentation about opening a Bugzilla bug to possibly recover your account.

[2020-12-17 19:26] #17065 closed

[2020-12-17 19:32] ekager commented on #9348
If you add collections through the tabs tray, the flow is now different. Does that solve your issue?

[2020-12-17 19:32] ekager commented on #9355
@SyntaxErrol is this still a problem for you?

[2020-12-17 19:34] ekager commented on #9385
Closing

[2020-12-17 19:34] #9385 closed

[2020-12-17 19:40] ekager commented on #9445
@theFireProjet are you still seeing this issue?

[2020-12-17 19:41] ekager commented on #9446
Closing for #11449

[2020-12-17 19:41] #9446 closed

[2020-12-17 19:42] ekager commented on #5865
See also https://github.com/mozilla-mobile/fenix/issues/11449

[2020-12-17 19:43] ekager commented on #9450
Since the original issue is stale, please open a new issue with exactly what the remaining issues are.

[2020-12-17 19:43] #9450 closed

[2020-12-17 19:47] ekager commented on #9479
Closing because the issue is stale. Please open a new issue if you're still seeing this

[2020-12-17 19:47] #9479 closed

[2020-12-17 19:48] ekager commented on #9480
Closing because tabs UI has changed significantly. Please open a new issue if you're still having a problem with tabs.

[2020-12-17 19:48] #9480 closed

[2020-12-17 19:49] ekager commented on #9513
@meldafert are you still seeing this issue?

[2020-12-17 19:49] ekager commented on #9520
I'm closing this because I don't understand it. If you're still having an issue, please open a new issue with more details or video/screenshots

[2020-12-17 19:49] #9520 closed

[2020-12-17 19:53] ekager commented on #9534
@agi90 do you still see this? I tried to repro and couldn't

[2020-12-17 19:53] #9569 closed

[2020-12-17 19:55] #9637 closed

[2020-12-17 19:56] ekager commented on #9650
you can click on the "Shortcuts" pill in search to reselect a new search engine to use. Closing

[2020-12-17 19:56] #9650 closed

[2020-12-17 19:56] ekager commented on #9614
Let's retest this and if it's still happening will need a Bugzilla ticket

[2020-12-17 19:57] ekager commented on #9668
Hi @90du would you mind checking if you're still seeing this?

[2020-12-17 19:57] #9700 closed

[2020-12-17 19:58] ekager commented on #9711
@cadeyrn is this still an issue?

[2020-12-17 20:02] SyntaxErrol commented on #9355
No, mainly because Microsoft has since shut down the platform. ;)

[2020-12-17 20:03] ekager commented on #9871
Closing as stale. Let's open a new issue if you're still having an issue

[2020-12-17 20:03] #9871 closed

[2020-12-17 20:04] ekager commented on #9355
Cool! Works for me! Let's close this :)

[2020-12-17 20:04] #9355 closed

[2020-12-17 20:06] simonsteiner1984 commented on #9314
Seems ok now

[2020-12-17 20:12] #9874 closed

[2020-12-17 20:14] ekager commented on #9314
Thanks!

[2020-12-17 20:14] #9314 closed

[2020-12-17 20:17] #11410 closed

[2020-12-17 20:20] #11417 closed

[2020-12-17 20:22] ekager commented on #11459
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683187

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-17 20:22] #11459 closed

[2020-12-17 20:23] ekager commented on #11464
Hi @immutable-pro are you still seeing this issue?

[2020-12-17 20:23] #11473 closed

[2020-12-17 20:25] ekager commented on #11477
Let's retest and file a Gecko bug if needed

[2020-12-17 20:26] ekager commented on #11488
Closing for now since we merged a speculative fix

[2020-12-17 20:26] #11488 closed

[2020-12-17 20:27] ekager commented on #11492
I believe this is fixed

[2020-12-17 20:27] #11492 closed

[2020-12-17 20:28] ekager commented on #11523
Do we know if we're still getting this error?

[2020-12-17 20:30] ekager commented on #11548
@cathaysia are you still seeing this issue?

[2020-12-17 20:32] Amejia481 commented on #17042
Meantime we opened a pr for reducing the space, I have pending chat with the UI/UX team to discuss about what will be the final solution.

https://github.com/mozilla-mobile/android-components/pull/9262#issuecomment-747683375

[2020-12-17 20:33] quadriflax commented on #9284
No, nothing seems to disappear anymore. Still have sites that don't load icons, but I know that's a separate issue.

[2020-12-17 20:33] #9284 closed

[2020-12-17 20:33] ekager commented on #11603
@sheikh-azharuddin are you still seeing this? You can upload a gif to the issue if possible

[2020-12-17 20:35] ekager commented on #11681
Closing this issue as it doesn't have enough details to be actionable. If you're still seeing problems, please open a new issue with more information/logs/videos etc.

[2020-12-17 20:35] #11681 closed

[2020-12-17 20:36] ekager commented on #11692
@anmol257 are you still seeing this issue? Have you performed a manual sync?

[2020-12-17 20:42] ekager commented on #11700
closing for #12525  then

[2020-12-17 20:42] #11700 closed

[2020-12-17 20:43] ekager commented on #11720
Closing as the reporter deleted their account

[2020-12-17 20:43] #11720 closed

[2020-12-17 20:44] hakkikaancaliskan commented on #16583
As i wrote earlier inline autofill was not working for me on firefox beta but working fine on nightly.

[2020-12-17 20:44] ekager commented on #11749
@sheikh-azharuddin are you still seeing this?

[2020-12-17 20:46] ekager commented on #11759
Closing for the AC issue

[2020-12-17 20:46] #11759 closed

[2020-12-17 20:51] ekager commented on #11890
@RealGJ do you still have this problem?

[2020-12-17 20:52] ekager commented on #11899
@AndRo-Marian are you still seeing this issue?

[2020-12-17 20:53] ekager commented on #11922
Looks like this might be done?

[2020-12-17 20:56] ekager commented on #11976
@yaomtc are you still experiencing this issue?

[2020-12-17 20:56] ekager commented on #11980
@J41319 are you still experiencing this issue?

[2020-12-17 21:09] ekager commented on #12100
Closing because https://github.com/mozilla-mobile/fenix/issues/12099 was closed

[2020-12-17 21:09] #12100 closed

[2020-12-17 21:10] ekager commented on #12110
@klint has this gotten any better?

[2020-12-17 21:12] csadilek commented on #17086
Linking to tickets in Nimbus to address this:
https://jira.mozilla.com/browse/SDK-157 (prevent `getExperimentBranch` from blocking)
https://jira.mozilla.com/browse/SDK-158 (speed up the Nimbus constructor)

[2020-12-17 21:20] J41319 commented on #11980
I don't have that problem anymore.

[2020-12-17 21:35] kw217 commented on #13941
Is this a duplicate of https://github.com/mozilla-mobile/fenix/issues/8642 ?

[2020-12-17 21:43] ekager commented on #12121
Closing as dupe of https://github.com/mozilla-mobile/fenix/issues/12731 please comment your current experiences there

[2020-12-17 21:43] #12121 closed

[2020-12-17 21:46] ekager commented on #12199
@Lorinet are you still seeing this issue?

[2020-12-17 21:47] ekager commented on #12205
The photo is gone now.
Are you still seeing this @RealGJ ? And are you referring to a custom tab?

[2020-12-17 21:48] ekager commented on #11980
Great, thanks! Closing

[2020-12-17 21:48] #11980 closed

[2020-12-17 21:48] ekager commented on #12229
FYI: you can long press on the tab counter to quickly open a new tab.

[2020-12-17 21:49] ekager commented on #12240
Looks like the PR was merged and we can close this issue. Please reopen if that is incorrect

[2020-12-17 21:49] #12240 closed

[2020-12-17 21:50] ekager commented on #12253
Similar issue to #14684

[2020-12-17 21:51] ekager commented on #12259
@marker10 are you still seeing this issue?

[2020-12-17 21:51] ekager commented on #12269
Closing because never got a response and don't know what the user is talking about

[2020-12-17 21:51] #12269 closed

[2020-12-17 21:52] ekager commented on #12273
Both of the linked dupes have been closed out. Closing this as well

[2020-12-17 21:52] #12273 closed

[2020-12-17 21:54] ekager commented on #12274
@klint @vishalnandagopal thanks for reporting! Is this still a problem?

[2020-12-17 21:59] #12332 closed

[2020-12-17 22:06] ekager commented on #12371
Closing because this is a solution based issue. Please open a new issue that is user problem based.

[2020-12-17 22:06] #12371 closed

[2020-12-17 22:07] ekager commented on #12378
Closing because there's a workaround.

[2020-12-17 22:07] #12378 closed

[2020-12-17 22:18] ekager commented on #12439
Closing because this is very old. If you're still having issues, please file a new bug (possibly with logs/video)

[2020-12-17 22:18] #12439 closed

[2020-12-17 22:18] Mikaka27 commented on #17010
Address bar is extending automatically with progress bar on firefox 84. Should I close this ticket or do we keep it as alternative idea (only progress bar visible)?

[2020-12-17 22:19] ekager commented on #12409
Closing as original reporter closed their account

[2020-12-17 22:19] #12409 closed

[2020-12-17 22:20] Mikaka27 commented on #17007
I'm closing it if you say that's not a bug.

[2020-12-17 22:20] #17007 closed

[2020-12-17 22:20] ekager commented on #12470
@jtagcat are you still seeing this issue? Could you possibly include a video/gif to describe this further?

[2020-12-17 22:21] ekager commented on #12483
I'm closing this issue because "new tab" action now does go straight to the search dialog. Hopefully, this is enough :)

[2020-12-17 22:21] #12483 closed

[2020-12-17 22:22] ekager commented on #12487
@s-ankur can you still reproduce this?

[2020-12-17 22:23] ekager commented on #12490
@opusforlife2 or anyone else who commented - have you seen this recently?

[2020-12-17 22:25] JPluess commented on #15172
this is not whats causing the problem.
it has to do with the masterpassword from firefox desktop. there needs to be a better solution.
i reported hopefully to the correct person for ffdesktop.
https://github.com/webcompat/web-bugs/issues/63802

[2020-12-17 22:26] ekager commented on #12563
We got rid of the scrim on home. Closing

[2020-12-17 22:26] #12563 closed

[2020-12-17 22:27] rocketsroger commented on #16988
This should be fixed on Nightly for Dec 18th.  Please verify.  Thanks!

[2020-12-17 22:31] ekager commented on #12575
@nathansgithub @somepaulo are you still experiencing this bug?

[2020-12-17 22:32] #12665 closed

[2020-12-17 22:34] ekager commented on #12704
Done

[2020-12-17 22:34] #12704 closed

[2020-12-17 22:34] ekager commented on #12696
Closing because now when you switch modes you'll enter the search dialog. I don't think this is relevant anymore

[2020-12-17 22:34] #12696 closed

[2020-12-17 22:35] ekager commented on #12706
Done

[2020-12-17 22:35] #12706 closed

[2020-12-17 22:35] ekager commented on #12707
Done

[2020-12-17 22:35] #12707 closed

[2020-12-17 22:36] ekager commented on #12712
Closing because there's an issue filed in Bugzilla

[2020-12-17 22:36] #12712 closed

[2020-12-17 22:37] ekager commented on #12722
@madb1lly are you still seeing this issue?

[2020-12-17 22:37] ekager commented on #12723
@madb1lly are you still seeing this recently?

[2020-12-17 22:39] ekager commented on #13164
Dupe of https://github.com/mozilla-mobile/fenix/issues/11043

[2020-12-17 22:39] #13164 closed

[2020-12-17 22:42] nathansgithub commented on #12575
@ekager It looks like it is working now. Thanks!

[2020-12-17 22:42] #12575 closed

[2020-12-17 22:48] ekager commented on #13881
@nri82 are you still seeing this? If so could you link the exact page with the date picker?

[2020-12-17 22:48] klint commented on #12274
Hi @ekager . It seems to be fixed on my end. Thanks 😊

[2020-12-17 22:49] ekager commented on #13896
@mariusGundersen would you mind filing a new issue with the codepen link and describing the touching issue directly? Thank you!

[2020-12-17 22:49] #13896 closed

[2020-12-17 22:50] ekager commented on #13920
Closing for #13336

[2020-12-17 22:50] #13920 closed

[2020-12-17 22:53] ekager commented on #13963
Share all tab and close all tabs are now separated in normal browsing. And share all was removed from private.

[2020-12-17 22:53] #13963 closed

[2020-12-17 22:56] ekager commented on #13978
Does it work after an app restart? It looks like we made some changes here in #11827 and it's possible it's not taking effect until restart

[2020-12-17 22:56] ekager commented on #13869
Going to close this for #13978 because I think they have the same root issue

[2020-12-17 22:56] #13869 closed

[2020-12-17 22:58] ekager commented on #12274
Great! Closing :)

[2020-12-17 22:58] #12274 closed

[2020-12-17 23:46] KatoriYuu opened #17106 "Slow download speed"
## Steps to reproduce
Download any files, and compare the download speed with Chrome.

### Expected behavior
The download speed of both must be similar by using the same network connection.
### Actual behavior
The download speed of Firefox is 5-6 times slower than Chrome.
### Device information

* Android device: Nokia 8.1, Android 10
* Fenix version: 84.1.1

[2020-12-17 23:48] KatoriYuu commented on #17106
Please prioritizing this problem as it's a basic demand of a browser.

[2020-12-18 00:38] KenoattX opened #17108 "Bing image search crashes android firefox"
I have been using bing search as my search engine for a while. Recently, when I search something in bing and then click the images button my keyboard pops up for a second, it then  disappears  then I can't click anything on the page.This does not happen in Google search engine .

[2020-12-18 00:52] stefan01 commented on #14921
It's really sad :/ I will probably need to switch to Chrome now, because it's really unusable on a table atm.
I've always been a big fan of Firefox, but lately it's destroying itself more and more with most Updates.

[2020-12-18 01:48] cathaysia commented on #11548
This issue had disappear in Firefox 84.1.1. I just test it in www.baidu.com and zhihu.com. It works!

[2020-12-18 03:03] AndRo-Marian commented on #11899
Yes @ekager

[2020-12-18 04:05] #11477 closed

[2020-12-18 04:07] sheikh-azharuddin commented on #11603
Issue resolved

[2020-12-18 04:07] #11603 closed

[2020-12-18 04:08] sheikh-azharuddin commented on #11749
Yes fixed

[2020-12-18 04:08] #11749 closed

[2020-12-18 04:33] ekager commented on #11548
Thanks! Closing

[2020-12-18 04:33] #11548 closed

[2020-12-18 04:41] ekager commented on #17108
Hi, @KenoattX thanks for reporting! Which version of Firefox? Do you see anything in Settings -> About -> Crashes

[2020-12-18 04:42] ekager commented on #17010
Let's close this ticket for now. Thanks @Mikaka27 !

[2020-12-18 04:42] #17010 closed

[2020-12-18 04:44] ekager commented on #13981
cc @Amejia481 could you confirm that this is what we want to be doing?

[2020-12-18 04:45] ekager commented on #13991
Hi @steakhutzeee @ale82to are you both still seeing this issue?

[2020-12-18 04:45] ekager commented on #13994
Closing for #3597.

[2020-12-18 04:45] #13994 closed

[2020-12-18 04:48] ekager commented on #14010
@Glitchy-Tozier is this still a problem for you?

[2020-12-18 04:50] ekager commented on #14051
Thanks for the update!

[2020-12-18 04:50] #14051 closed

[2020-12-18 04:52] ekager commented on #14059
Is this still a problem? @ItsCubeTime

[2020-12-18 04:53] ekager commented on #14064
Hi @Arngue are you still seeing this issue?

[2020-12-18 04:55] ekager commented on #14079
Going to close for #11460  . Thanks!

[2020-12-18 04:55] #14079 closed

[2020-12-18 04:55] PranavBhattarai commented on #14501
"Ignorance is bliss" tactic of FF devs is absolutely amazing but for bad for the end-user.

[2020-12-18 05:00] ekager commented on #14107
Should be fixed in Nightly (or very soon) as the patch landed 10 days ago

[2020-12-18 05:00] #14107 closed

[2020-12-18 05:02] ekager commented on #14141
I don't think this is still an issue. Closing

[2020-12-18 05:02] #14141 closed

[2020-12-18 05:03] ekager commented on #14170
Closing for #10598

[2020-12-18 05:03] #14170 closed

[2020-12-18 05:04] ekager commented on #14172
@minutesinch are you still seeing this ?

[2020-12-18 05:08] ekager commented on #14837
Can anyone still reproduce this?

[2020-12-18 05:09] ekager commented on #14205
closing for #14837 because it's had more discussion

[2020-12-18 05:09] #14205 closed

[2020-12-18 05:10] ekager commented on #14207
@s-ankur can you still repro?

[2020-12-18 05:13] ekager commented on #13438
@s-ankur can you still reproduce this?

[2020-12-18 05:14] #14251 closed

[2020-12-18 05:15] ekager commented on #11151
The Bugzilla was closed as invalid

[2020-12-18 05:15] #11151 closed

[2020-12-18 05:15] ekager commented on #14250
Closing as dupe of https://github.com/mozilla-mobile/fenix/issues/11151
Please open a new issue if you find a new site that isn't Youtube

[2020-12-18 05:15] #14250 closed

[2020-12-18 05:16] ekager commented on #14269
Thanks for the update! Closing

[2020-12-18 05:16] #14269 closed

[2020-12-18 05:16] ekager commented on #14267
By tooltip do you mean a content description for a11y or...?

[2020-12-18 05:18] ekager commented on #14275
Closing because Bugzilla was resolved

[2020-12-18 05:19] ekager commented on #14299
Closing as dupe of #14212

[2020-12-18 05:19] #14299 closed

[2020-12-18 05:20] #14303 closed

[2020-12-18 05:21] ekager commented on #14306
@evilpie is this still an issue for you?

[2020-12-18 05:26] ekager commented on #14409
closing as duplicate of #13797

[2020-12-18 05:26] #14409 closed

[2020-12-18 05:27] ekager commented on #14413
Closing as duplicate of https://github.com/mozilla-mobile/fenix/issues/9269

[2020-12-18 05:27] #14413 closed

[2020-12-18 05:28] ekager commented on #14464
Closing because needs more information.

Please open a new issue with screenshots or more information

[2020-12-18 05:28] #14464 closed

[2020-12-18 05:29] ekager commented on #14465
Closing because I don't think this is reproducible anymore.

[2020-12-18 05:29] #14465 closed

[2020-12-18 05:30] ekager commented on #14467
Closing for #14403

[2020-12-18 05:30] #14467 closed

[2020-12-18 05:30] Poopooracoocoo commented on #14267
I meant an actual tooltip. Like when you tap and hold on most buttons on Android, if that makes sense.

[2020-12-18 05:43] ekager commented on #14479
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683250

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 05:43] #14479 closed

[2020-12-18 05:44] ekager commented on #14482
@UserLP3 are you still seeing this issue?

[2020-12-18 05:45] ekager commented on #14490
@smaug---- are you still seeing this?

[2020-12-18 05:45] ekager commented on #14493
Closing as duplicate of #9411

[2020-12-18 05:45] #14493 closed

[2020-12-18 05:46] ekager commented on #14532
@rickrich are you stil experiencing this?

[2020-12-18 05:46] minutesinch commented on #14172
Yes I see

[2020-12-18 05:47] ekager commented on #14539
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683251

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 05:47] #14539 closed

[2020-12-18 05:50] ekager commented on #14884
Closing as dupe of #14539

[2020-12-18 05:50] #14884 closed

[2020-12-18 05:52] ekager commented on #14977
@rkops-bd can you still reproduce this? Going to close for now

[2020-12-18 05:52] #14977 closed

[2020-12-18 05:54] ekager commented on #15021
@flashcode can you still reproduce this?

[2020-12-18 05:54] rickrich commented on #14532
I went back to Firefox Browser 68.11.0 for android in September.  I really don't understand what you are doing with 79, 80, ....

[2020-12-18 05:56] ekager commented on #15038
Closing for #8754

[2020-12-18 05:56] #15038 closed

[2020-12-18 05:57] #14532 closed

[2020-12-18 05:58] ekager commented on #15247
Closing because this should be resolved now

[2020-12-18 05:58] #15247 closed

[2020-12-18 05:58] ekager commented on #15248
Closing for #13998

[2020-12-18 05:58] #15248 closed

[2020-12-18 05:58] alastor0325 opened #17109 "suggest to always show “fill link from clipboard” whenever users click on the url bar"
Everytime when users need to paste the link from the clipboard, users have to clear the current url, then the "fill link from clipboard" option would eventually show.

It would to be good to show "fill link from clipboard" below the url bar whenever users click on the url bar.

It can help to eliminate that unnecessary url clear before pasting new url.

[2020-12-18 05:59] #15254 closed

[2020-12-18 06:00] s-ankur commented on #13438
Yes still able to see this in nightly

[2020-12-18 06:01] ekager commented on #15243
More options have been added! Closing

[2020-12-18 06:01] #15243 closed

[2020-12-18 06:04] ekager commented on #15133
@JustAWhiteLily thanks for filing! Can you still reproduce this?

[2020-12-18 06:05] ekager commented on #13438
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683257

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 06:05] #13438 closed

[2020-12-18 06:07] ekager commented on #15293
Closing because it's against material guidelines

[2020-12-18 06:07] #15293 closed

[2020-12-18 06:07] ekager commented on #15289
@ale82to can you still reproduce this?

[2020-12-18 06:09] AerinNight commented on #15243
Y'all are the best. Thanks!

[2020-12-18 06:11] ekager commented on #15177
Can you still reproduce? I just tried this and it looks centered to me

[2020-12-18 06:13] ekager commented on #15179
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683258

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 06:13] #15179 closed

[2020-12-18 06:14] ekager commented on #15354
Last seen 3 months ago. Going to close for now

[2020-12-18 06:14] #15354 closed

[2020-12-18 06:14] ekager commented on #15343
Closing for #10050

[2020-12-18 06:14] #15343 closed

[2020-12-18 06:16] ekager commented on #15309
I'm not sure this is really a crash in the wild or if it just happens when devs overwrite their apps with mismatching versions 🤔

[2020-12-18 06:19] ekager commented on #15466
cc @cephirosx or @plfstr can you still reproduce this with the STR? I just tried and not sure I can

[2020-12-18 06:20] ekager commented on #15485
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683259

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 06:20] #15485 closed

[2020-12-18 06:21] ekager commented on #15912
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683260

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 06:21] #15912 closed

[2020-12-18 06:22] ekager commented on #15852
@akasidney can you still reproduce?

[2020-12-18 06:25] ekager commented on #15185
Closing for #12042

[2020-12-18 06:25] #15185 closed

[2020-12-18 06:26] ekager commented on #15039
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683261

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 06:26] #15039 closed

[2020-12-18 06:27] Glitchy-Tozier commented on #14010
Just a warning: I'm using the latest version of Fennec F-Droid so i might be behind a few releases (compared to the nightly version)

And yes, it happens rarely, but it still happens.
Somethin new I found: Sometimes Fennec also blocks screenshots in your home-screen (after pressing home to get there)

That being said, those bugs are very inconsistent so i can't propperly test them whenever I want.

[2020-12-18 06:29] ekager commented on #16149
@liar666 have you seen any improvements on this issue?

[2020-12-18 06:29] #16105 closed

[2020-12-18 06:31] nanake commented on #15177
I still can reproduce.

wrt reported device?

anyway, i don't care no more. this problem's specific to Nokia device which was EOL

[2020-12-18 06:31] #15177 closed

[2020-12-18 06:31] #16155 closed

[2020-12-18 06:37] ekager commented on #14782
Filed https://github.com/mozilla/application-services/issues/3784

[2020-12-18 06:37] ekager commented on #16157
Filed https://github.com/mozilla/application-services/issues/3784

[2020-12-18 06:39] ekager commented on #15216
Yes this seems like the site intentionally changing their title

[2020-12-18 06:39] #15216 closed

[2020-12-18 06:42] ekager commented on #15236
This should be fixed now by the solution to #6313

[2020-12-18 06:42] #15236 closed

[2020-12-18 06:44] ekager commented on #15241
Thanks for your feedback! As of now, this is expected behavior. So going to close this

[2020-12-18 06:44] #15241 closed

[2020-12-18 06:45] ekager commented on #16281
@SeregaKR are you still seeing this problem? Are you using private mode?

[2020-12-18 06:46] ekager commented on #16280
@xmatkla is this still a problem for you?

[2020-12-18 06:48] ekager commented on #16337
@j13ag0 @PhilAnderson1 does this problem still exist in Nightly?

[2020-12-18 06:50] ekager commented on #16259
@reyis4402 @aviegdown can you still reproduce this issue?

[2020-12-18 06:50] isthisrubble opened #17110 "feature request: ascending/descending tab list option"
### What is the user problem or growth opportunity you want to see solved?

The most recent update switched the open tabs list from newest at the top to newest at the bottom. Some users will prefer the original sorting system and be annoyed by this change. Giving the users the ability to pick which direction their tab list runs would prevent user frustration and confusion.

### How do you know tha

[2020-12-18 06:53] ekager commented on #16412
@BigSamSampson can you still reproduce this? I have the Spotify app and with the setting Open in App on, it opens Spotify and clicking back will show the homepage.

[2020-12-18 06:56] ekager commented on #16421
@BigSamSampson if you are still seeing this could you give more details about what exactly the problem with the site is?

[2020-12-18 06:58] ekager commented on #16425
Can you still reproduce this? Do you have the toolbar set to top or bottom?

[2020-12-18 07:00] ekager commented on #16413
Can you still reproduce this? I got a dialog asking if I wanted to navigate to Facebook in a new window, but then the Facebook login screen appears correctly AFAICT

[2020-12-18 07:03] ekager commented on #16225
Closing for #4208

[2020-12-18 07:03] #16225 closed

[2020-12-18 07:03] #16465 closed

[2020-12-18 07:03] #16464 closed

[2020-12-18 07:04] XxAcielxX commented on #11449
I would also prefer it to be like this as THIS is the default Android way of doing things.

[2020-12-18 07:04] ekager commented on #16058
closing for https://github.com/mozilla-mobile/fenix/issues/16004

[2020-12-18 07:04] #16058 closed

[2020-12-18 07:05] ekager commented on #16479
closing for #5865

[2020-12-18 07:05] #16479 closed

[2020-12-18 07:05] flashcode commented on #15021
@ekager: yes, I confirm the problem is still there with Firefox Beta 84.0.0-beta.4 (Build #2015780083).

[2020-12-18 07:06] ekager commented on #16499
Thanks for filing! I'm not sure I fully understand. Please open a new issue describing what you're talking about in more detail.

[2020-12-18 07:06] #16499 closed

[2020-12-18 07:07] flashcode commented on #15021
For information, it does not happen always when scrolling, but you can reproduce every time when you switch from Mails to Calendar view.

[2020-12-18 07:07] ekager commented on #16506
Are you still seeing this in nightly?

[2020-12-18 07:08] jonalmeida commented on #16970
Closing as invalid per the bugzilla:

[2020-12-18 07:08] #16970 closed

[2020-12-18 07:09] ekager commented on #17110
Dupe of https://github.com/mozilla-mobile/fenix/issues/16884

[2020-12-18 07:09] #17110 closed

[2020-12-18 07:12] flashcode commented on #15021
And same problem with Firefox 84.1.1 (Build #2015781795) (weird, Firefox Beta version is older than Firefox on Android).

[2020-12-18 07:12] Poopooracoocoo commented on #16004
btw it's great to see some action on these issues after a long time. thanks em :D
as you've seen already, i've triaged quite a few issues myself as dupes and i'm just a passionate user

[2020-12-18 07:14] ekager commented on #17032
Closing as dupe of https://github.com/mozilla-mobile/fenix/issues/14821

[2020-12-18 07:14] #17032 closed

[2020-12-18 07:14] ekager commented on #15021
Thanks! Closing as a dupe of https://github.com/mozilla-mobile/fenix/issues/14821

[2020-12-18 07:14] #15021 closed

[2020-12-18 07:16] ekager commented on #16997
When we upgraded from Fennec to Fenix, these were entirely different apps with complex migration code and we did not choose to migrate custom search engines. If you see this again, feel free to open a new issue

[2020-12-18 07:16] #16997 closed

[2020-12-18 07:16] ekager commented on #16995
Can you reproduce on nightly?

[2020-12-18 07:19] ekager commented on #17074
Could you try to reproduce this on Nightly and let us know if you can still see this? https://play.google.com/store/apps/details?id=org.mozilla.fenix

[2020-12-18 07:21] ekager commented on #16958
@AndiAJ could you try with Chrome and see if they get an icon? If not, could just be new Android 11 behavior

[2020-12-18 07:23] Vigonator opened #17111 "[Bug] Scroll position not remembered on first tab opened"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-18 07:24] chichilla opened #17112 "[Bug]"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-18 07:24] chichilla commented on #17112
Dear firefox team, I have a question to ask you. When I enter a URL containing spaces in the address bar of firefox, firefox will call the search instead of reaching the URL I entered. Why?  Below is the URL I entered and the page that I jumped to https://www.dogedoge.com/results?q=oppo news
![Uploading Screenshot_20201218_151915.jpg…]()

[2020-12-18 07:26] ekager commented on #16705
Closing as dupe of https://github.com/mozilla-mobile/fenix/issues/10986

[2020-12-18 07:26] #16705 closed

[2020-12-18 07:27] ekager commented on #16702
Closing as dupe of #14203

[2020-12-18 07:27] #16702 closed

[2020-12-18 07:27] ekager commented on #16700
Can you log in on desktop?

[2020-12-18 07:38] flofle92 commented on #17074
I juste tried and the same thing happens.

[2020-12-18 07:44] AndiAJ commented on #10740
Still reproducible on Beta 85.0.0-beta.2 using a OnePlus A3 (Android 6.0.1)

[2020-12-18 08:02] PlayXman commented on #14837
On stable version yes. Nightly, not sure, didn't test it very thoroughly.

[2020-12-18 08:20] andreicristianpetcu commented on #16988
It's fixed. Thank you. Closing.

[2020-12-18 08:20] #16988 closed

[2020-12-18 08:23] andreicristianpetcu commented on #5789
I can barely notice this in nightly. Closing.

[2020-12-18 08:23] #5789 closed

[2020-12-18 08:32] isthisrubble commented on #17110
@ekager they're talking about grid view in that one, I think?

[2020-12-18 08:40] Arngue commented on #14064
No, in next update, they solved it, now the problem is entering on full sceeen, the video allways dispoay bigger than the screen and hides video controls, but is nsot a big problem

[2020-12-18 08:40] #14064 closed

[2020-12-18 09:02] Dunexus commented on #14064
@Arngue The issue of the videos being zoomed in is tracked by https://github.com/mozilla-mobile/fenix/issues/8252

[2020-12-18 09:09] MadridSpain commented on #14887
Issue appears to be fixed on newer versions of Firefox.

[2020-12-18 09:09] #14887 closed

[2020-12-18 09:24] MadridSpain commented on #12731
This issue is STILL NOT FIXED (2020 December 18), even on Firefox Daylight 84 (build #2015781795) on an up-to-date Samsung Galaxy S8 with 4GB of ram. I have tried on an up-to-date version of Nightly (build #2015781579) and the same problem exists. The Nightly is notable in that I don't have ANY add-ons installed (it's vanilla). This is seriously a terrible browsing experience. You have a lengthy c

[2020-12-18 09:24] isabelrios opened #17113 "Intermittent UI test failure - <org.mozilla.fenix.ui.BookmarksTest>threeDotMenuShareBookmarkTest"
### Firebase Test Run:
Provide a Firebase test run report link here showcasing the problem
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6477652798122442151/executions/bs.6e3b55010cbcb92f/testcases/1/test-cases
### Stacktrace:
 java.lang.NullPointerException: activityTestRule.activit…wById(R.id.bookmark_list) must not be null
at org.mozilla.fe

[2020-12-18 09:30] pocmo commented on #17086
Yeah, this is the same code path. Actual app startup is just harder to profile/debug. 👍

[2020-12-18 09:34] ShintoPlasm commented on #12731
That's why I'm on Vivaldi now.

[2020-12-18 09:39] MadridSpain commented on #14925
This issue is still not fixed (2020 December 18), even on Firefox Daylight 84 (build #2015781795) on an up-to-date Samsung Galaxy S8 with 4GB of ram. I have tried on an up-to-date version of Nightly (build #2015781579) and the same problem exists.

This is seriously a major problem when writing comments, and Firefox is the ONLY mobile browser that does it. When I say problem, I mean this issue alo

[2020-12-18 09:51] SeregaKR commented on #16281
I don't use private mode.

Now I don't see the problem (Firefox 84.1.1) but I can't test it the same way anymore (no longer use heavy apps on my phone). So I'll try to test this issue more in the next few days and write back.

[2020-12-18 10:01] steakhutzeee commented on #13991
Hi, the issue seems gone.

[2020-12-18 10:05] ddarfantasy commented on #17024
No longer reproduceable...

[2020-12-18 10:05] #17024 closed

[2020-12-18 10:09] MadridSpain opened #17114 "Ability to rearrange tabs / reorder tabs / arrange tabs / order tabs, just like on old Firefox 68"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-18 10:19] AndiAJ commented on #16068
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

[2020-12-18 10:19] #16068 closed

[2020-12-18 10:21] AndiAJ commented on #14207
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

► Video
![20201218-121854](https://user-images.githubusercontent.com/51314259/102603519-98ecff80-412b-11eb-9800-51b7253f9290.gif)

[2020-12-18 10:21] #14207 closed

[2020-12-18 10:24] immutable-pro commented on #11464
Not anymore. I can't recall what update fixed it. Thank you!

[2020-12-18 10:24] #11464 closed

[2020-12-18 10:27] UserLP3 commented on #14482
Not any more. Thanks.

On Friday, December 18, 2020, ekager <notifications@github.com> wrote:

https://ci3.googleusercontent.com/proxy/hhdc9hY1AZ0x55FMX258DB_Yqj-pVcMO2OKfVAk7BLWBJSmolvpfceoajmaLNETiqvws_XbVQyZL96kJcHHw9MaOudK_q5yaFD0GNwavI2CjUsihyZBZSrAE1RmOIi7gqRtZ-m-aD0JKG6d3RSeH_QFXx5DjTVGwri5O0x_X9ZpT-0yTLluMvBchgUzBDfzlTVp43DysGXTdmBB1lXVsC2mGHB1Q60yyYqG-b8iuWw=s0-d-e1-ft#https://github.com/

[2020-12-18 10:29] AndiAJ commented on #9199
Hi, **still reproducible** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

► Screenshot
![rsz_screenshot_20201218-122508](https://user-images.githubusercontent.com/51314259/102604294-a48cf600-412c-11eb-8dd9-f1f4bdf1fdeb.png)

[2020-12-18 10:34] AndiAJ commented on #9812
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

► Video
![20201218-123041](https://user-images.githubusercontent.com/51314259/102604794-604e2580-412d-11eb-8614-e74775279688.gif)

[2020-12-18 10:34] #9812 closed

[2020-12-18 10:36] AndiAJ commented on #12349
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

[2020-12-18 10:36] #12349 closed

[2020-12-18 10:47] bluberly commented on #16506
I don't have the issue anymore but it only went away with the following (as many un- and re-installs didn't solve the issue, the original Firefox had the same issue, device reboots didn't help either):

1) installed Opera browser (worked like Chrome without any issues)
2) re-installed FF nightly -> then it worked
3) un-installed Opera

Since then all the many FF nightly updates do work.

Yes, #163

[2020-12-18 10:47] hakkikaancaliskan commented on #16603
?

[2020-12-18 10:48] AndiAJ commented on #12279
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

[2020-12-18 10:48] #12279 closed

[2020-12-18 10:54] KrasnayaPloshchad commented on #15762
What happened if Firefox integrated [storage access framework](https://developer.android.com/guide/topics/providers/document-provider)?

[2020-12-18 11:01] evilpie commented on #14306
@ekager I still get the same behavior when enabling "Show search engines" under "Search" and opening a new tab with **+**.

[2020-12-18 11:02] AndiAJ commented on #13321
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

► Video
![20201218-125952](https://user-images.githubusercontent.com/51314259/102607610-3dbe0b80-4131-11eb-98ab-0ce7a4ee619e.gif)

[2020-12-18 11:02] #13321 closed

[2020-12-18 11:02] swift000 commented on #12731
@MadridSpain

Completely agree, I've been following this issue for some time hoping for a resolution. I've lost count of the number of time the page has refreshed and I ended up losing everything I had entered on the form.

[2020-12-18 11:06] AndiAJ commented on #13978
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

► Video
![20201218-125704](https://user-images.githubusercontent.com/51314259/102607980-d8b6e580-4131-11eb-8500-432b38b9705a.gif)

[2020-12-18 11:06] #13978 closed

[2020-12-18 11:10] PhilAnderson1 commented on #16337
no, it doesn't - I've just tried the nightly and the problem seems to have been fixed.

[2020-12-18 11:11] cadeyrn commented on #17114
Duplicate of #16130 / #16408.

[2020-12-18 11:12] gwarser commented on #14203
Fennec had ability to emulate this by install add-on which will add page action button which will close the tab. Now add-ons menu is buried so deep that accessing add-on buttons is very difficult even for add-ons which does not require to be accesses often.

In current UI, closing multiple tabs is held back by toast notifications which are not transparent to touches.

[2020-12-18 11:26] AndiAJ commented on #12559
Hi, **verified as fixed** on both the latest **`Nightly 201218`** and  **`85.0.0-beta.2`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

[2020-12-18 11:26] #12559 closed

[2020-12-18 11:38] AndiAJ commented on #9614
Hi, **still reproducible** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

❌ After opening : https://news.google.com/topics/CAAqBwgKMJy5lwswj-KuAw?hl=en-US&gl=US&ceid=US%3Aenl Fenix stopped responding.
❌  The same happened after tapping the " "Read more stories from Headlines"

[2020-12-18 11:46] s-ankur commented on #12487
Still able to reproduce in latest nightly

[2020-12-18 11:50] s-ankur commented on #12483
yes, thank you!

[2020-12-18 11:51] MadridSpain opened #17115 "[Bug] Pages often do not load all the way when "opening link in new tab"."
Twitter is a prime example, but many other sites do it as well. You longpress a link, select "open link in new tab", and then **after** waiting a moment, when you go to the new tab, the page is only partially loaded

[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug an

[2020-12-18 11:56] AndiAJ commented on #11477
Hi, **verified as fixe**d on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

► Video
![20201218-135239](https://user-images.githubusercontent.com/51314259/102612064-c0969480-4138-11eb-89ea-85470946265a.gif)

[2020-12-18 12:09] AndiAJ commented on #9218
Hi, **verified as fixed** on the latest **`Nightly 201218`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

► Video
![20201218-140607](https://user-images.githubusercontent.com/51314259/102613118-9c3bb780-413a-11eb-8c8d-ee53c279382e.gif)

[2020-12-18 12:09] #9218 closed

[2020-12-18 12:19] #16337 closed

[2020-12-18 12:24] iamiceparticle opened #17116 "[Bug] Scrolling stutter on gadgets.ndtv.com website"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-18 12:25] abodea commented on #16684
Verified as fixed on **Beta 85.0.0-beta.2** and latest **Nightly 18/12** with **Google Pixel 4 XL (11), Samsung Galaxy S10+ (10),** **Samsung Galaxy Tab S3 (Android 8).**
**Verified languages:** Francais, Indonesian, Italian, Russian, Hindi, Japanese, Arabic.

[2020-12-18 12:25] #16684 closed

[2020-12-18 12:32] abodea commented on #16483
Verified as fixed **85.0.0-beta.2** with **Google Pixel 4 XL (11), Samsung Galaxy S10+ (10) OnePlus A3 (Android 6.0.1).**

[2020-12-18 12:32] #16483 closed

[2020-12-18 12:36] AndiAJ commented on #16827
Hi, **verified as fixed** on the latest **`Nightly 201218`** using a Google Pixel 3a (Android 11)

Ping **`d9c08492-6797-479f-9efb-727ad56197f1`**

[code]

[Logcat](https://github.com/mozilla-mobile/fenix/files/5715650/cpy.txt)
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/aj-t18120)

[2020-12-18 12:36] #16827 closed

[2020-12-18 12:46] badger12345 commented on #17093
@Amejia481 nice suggestion. I will give it a try with a nightly build.

[2020-12-18 12:47] maverick74 commented on #13336
@yoasif

Isn't it easy to just change the behavior of the "tap on bookmark" from opening on a new tab to open on the current tab?

it seems to be such a small detail that, however, as a big impact!

i mean... this is driving me near crazy!!!

[2020-12-18 13:19] LaurentiuApahideanSV commented on #17055
I rechecked the issue and the strings are indeed used in RC 84.1.1. Thank you for clarification regarding the extra strings. The issue is fixed.

[2020-12-18 13:20] pocmo commented on #12731
You may be seeing a bug in tab restoring, which makes the whole situation worse. Can you share any of the pags where you see forms not restore correctly? I did a quick test and saw restore happening on cold app starts as well as when restoring a tab after memory pressure.

YouTube seems to be a special case where the page plays the content from the beginning. I can see the same behavior in Chrome

[2020-12-18 13:25] LaurentiuApahideanSV commented on #13445
The issue is fixed in Firefox 85.0.0-beta.2.
### Devices used:
- OnePlus 6T (Android 9)
- Google Pixel 3 XL (Android 9)

[2020-12-18 13:30] AndiAJ commented on #15369
Hi, **verified as fixed** on the latest **`Nightly 201218`** using a Google Pixel 3a (Android 11)

✔️  Open a synced tab from the page view ⋮ Main menu - Ping **`25091ba1-9635-44b5-8166-71cb624050c7`**
✔️  Open a synced tab from the home screen ⋮ Main menu - Ping **`68e0f9f3-f0e2-47e4-a7dd-a42cdc68b6d4`**

[code]

[Logcat](https://github.com/mozilla-mobile/fenix/files/5715917/synt.txt)
[Glean dash

[2020-12-18 13:30] #15369 closed

[2020-12-18 13:35] ebalazs-sv opened #17117 "[Bug] The reload button is displayed as the X button in custom tab"
### Precondition
Set Fenix as default browser.
## Steps to reproduce
1. Launch Gmail and tap on a link;
2. Tap the 3 dot menu;
3. Observe the Back ←, Forward → and Reload ↻ buttons;
### Expected behavior
The Reload ↻ button is displayed after the page is loaded.
### Actual behavior
The Reload ↻ button is not displayed after the page is loaded. The X button remains displayed after the page is loade

[2020-12-18 13:51] Cheap-Skate opened #17118 "Font spacing wrong when long pressing a URL"
## Steps to reproduce
Long press some text on a page. Notice the text "Copy   Search   Select All   Share" has a closely spaced font
Long press the URL in the toolbar. Notice the text "Copy   Paste   Paste & Go" has a *more spaced out font*

### Expected behavior
fonts should be the same in both cases

### Actual behavior
Not

### Device information

* Android device:  Galaxy A40, Android 10
* Fen

[2020-12-18 14:04] andreicristianpetcu commented on #12731
I was also affected by this bug, now it does not reproduce anymore. When it did, I used this addon in Nightly https://addons.mozilla.org/en-US/firefox/addon/video-resumer

Hope this gets fixed soon for everybody else. Hope my workaround is useful

[2020-12-18 14:23] Amejia481 commented on #17093
I think we can close this issue.

[2020-12-18 14:23] #17093 closed

[2020-12-18 14:23] michal1315 commented on #14821
This issue was not fixed from a months, first time i saw it in preview phase. So i'm start thinking that people who make Firefox for Android don't use this browser as its daily browser. It's really sad.

[2020-12-18 14:24] michal1315 commented on #14821
![IMG_20201218_142944](https://user-images.githubusercontent.com/35575000/102624942-09544a80-4145-11eb-9932-10889fb5c0fa.jpg)
![IMG_20201218_143008](https://user-images.githubusercontent.com/35575000/102624970-11ac8580-4145-11eb-8972-6d91dbb94630.jpg)

[2020-12-18 14:27] Amejia481 commented on #15309
That sounds like a good explanation, I think we could  close this issue

[2020-12-18 14:27] #15309 closed

[2020-12-18 14:32] Amejia481 commented on #13981
I think we should update it as the pr suggest, I will put a pr for it

[2020-12-18 14:37] flashcode commented on #14821
I opened a similar issue (#15021) which has been closed as duplicate of this one.

I can confirm that if in Settings > Customize I uncheck the option "Scroll to hide toolbar", this works fine.

[2020-12-18 14:39] badger12345 commented on #17093
@Amejia481 it is a little comlicated to create a custom list, but it does work indeed. Also the plugin works flawlessly. What keeps the FF team from enabling it in the stable version?

[2020-12-18 14:54] softvision-miralobontiu commented on #11578
Verified as fixed on the latest Nightly build from 12/18 with Google Pixel (Android 10):

[code]

[Logcat](https://github.com/mozilla-mobile/fenix/files/5716332/11578.txt)
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-test-18122020)

[2020-12-18 14:54] #11578 closed

[2020-12-18 15:00] Amejia481 commented on #17093
I'm not aware of the process @kewisch could help us to clarify.

[2020-12-18 15:13] koshkas1 commented on #17114
Wow...just when I thought this issue couldn't get worse the new update rolled out and made it so. It used to be that new tabs were input above the old tabs, now they are opened at the bottom, whicheans you have to do a lot more scrolling to find them. Without the ability to change this and rearrange tabs this is frustrating.

[2020-12-18 15:16] koshkas1 commented on #16130
Gnew update yesterday even made this worse as new and newer tabs open at bottom instead of top and you cant change that. Lots more scrolling to find taba..ugh

[2020-12-18 15:17] koshkas1 commented on #16408
New update just made this worse

[2020-12-18 15:21] softvision-miralobontiu commented on #15367
Verified as fixed on the latest Nightly build from 12/18 using a Google Pixel (Android 10):
* Download screen opened - ping **7bcbd887-0f8e-4b70-af5c-2b6101ce305e**
[code]
* Downloaded item opened from - ping **27c2f6eb-ccfa-4e58-bb04-c5e2a2a472b8**
[code]
* Downloaded item deletion - ping **b9d07d5a-54e5-4875-bfff-26abab1ced0e**
[code]

[Logcat - download item deleted](https://github.com/mozilla-

[2020-12-18 15:21] #15367 closed

[2020-12-18 15:37] mcarare opened #17124 "Refactor history item to remove top buttons"
Noticed on checking a11y issue https://github.com/mozilla-mobile/fenix/issues/16027.

Currently, a history item layout contains the `LibrarySiteItemView` but also the layouts for the top buttons/layouts ("Delete all" and "Recently closed tabs") that are shown only once on this screen. This could hurt performance and the layout could be improved by using a different `ViewHolder` for these elements

[2020-12-18 15:49] michal1315 commented on #14821
Yaa man but it's not a solution, its work correct in any other browser, even in Firefox focus which like fenix base on geckoview.
![Screenrecorder-2020-12-18-16-36-42-505(0)](https://user-images.githubusercontent.com/35575000/102633632-f778a480-4150-11eb-91d4-adfb1a7c8dbe.gif)

[2020-12-18 15:50] samiuljoy opened #17125 "Below average performance on Android devices under 1GB RAM"
I have a Mediatek (built year 2016) Android with kernel 3.10, running Android 5.1.1(stock rom). Both the release version of Firefox(release version 83.1.0 and all previous versions) and beta version (beta version 85.0.0-beta.1 and all previous versions) runs comparatively slow. By comparatively, I mean to say is if compared to the performances with Chrome and Brave Browser for Android. The perform

[2020-12-18 16:21] Trekky12 commented on #9916
So apparently the background-color on the icon is the expected behaviour for adaptive launcher icons :confused:

Despite that the background-color is not parsed correct when there is an image with a transparent background and in the manifest the defined background-color is white.
The background-color attribute (#FFFFFF) from the webmanifest parses to -1. In this case the background-color is appare

[2020-12-18 16:27] akasidney commented on #15852
Appears to be working now. Page loads a little slow but it's not freezing
anymore.

Thank you!

On Fri, Dec 18, 2020, 12:22 AM ekager <notifications@github.com> wrote:

[2020-12-18 16:39] jtagcat commented on #12470
The text cursor deselects, as if on a desktop you'd be holding shift. Going all the way to the beginning releases the shift-like behaviour.

[2020-12-18 16:49] jtagcat commented on #12470
The expected behaviour, as the space scrolling is equivalent to arrow keys on the desktop, to deselect the text right away. Try Ctrl+L, → on the desktop as an example.

https://sh.c7.ee/9OEkB/ffs-gh-doesnt-support-videos.webm

[2020-12-18 16:52] jtagcat commented on #11199
jfyi it's better to mark newer issues as duplicates of the oldest one, not the other way around. Helps to keep related activity in one place.

[2020-12-18 16:53] aviegdown commented on #16259
@ekager yes it is,
![ezgif-3-a25219225ca2](https://user-images.githubusercontent.com/72583750/102639843-2f510d80-418c-11eb-9a85-bcf76bce2379.gif)

[2020-12-18 16:57] #15852 closed

[2020-12-18 16:57] ekager commented on #17108
Can you link the Socorro or Sentry links with the entry here? And if they don't have those links attached, next time you reproduce a crash - make sure you click "report" on the dialog

[2020-12-18 17:01] KenoattX commented on #17108
https://crash-stats.mozilla.org/report/index/65cd2f9b-cfb2-43f2-8f93-ff3df0200916

https://crash-stats.mozilla.org/report/index/ca736729-4dae-4c61-89b1-ec73a0200906

[2020-12-18 17:01] ekager commented on #16506
Okay let's close for #16337 . Thanks!

[2020-12-18 17:01] #16506 closed

[2020-12-18 17:14] ekager commented on #17108
And which version of Fenix are you on? It looks like a similar crash was possibly already fixed.

[2020-12-18 17:16] ekager commented on #13991
Thank you for testing! Closing

[2020-12-18 17:16] #13991 closed

[2020-12-18 17:16] ekager commented on #14482
Thank you! Closing

[2020-12-18 17:16] #14482 closed

[2020-12-18 17:19] ekager commented on #9614
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683347

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 17:19] #9614 closed

[2020-12-18 17:25] Dojo456 commented on #16437
Fixing this now

[2020-12-18 17:29] KenoattX commented on #17108
84.1.1 (Build #2015781795). I believe this is the correct one.

[2020-12-18 17:29] ekager commented on #17108
Thanks!

[2020-12-18 17:35] ekager commented on #17110
I think it's general, but also see https://github.com/mozilla-mobile/fenix/issues/11376

[2020-12-18 17:35] ekager commented on #17114
Closing as a dupe of the linked issues. Also see ascending/descending tabs feature request #16884 and #11376

[2020-12-18 17:35] #17114 closed

[2020-12-18 17:36] ekager commented on #17112
Thanks for filing! Dupe of https://github.com/mozilla-mobile/fenix/issues/11594

[2020-12-18 17:36] #17112 closed

[2020-12-18 17:37] ekager commented on #17116
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683354

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-18 17:37] #17116 closed

[2020-12-18 17:44] ekager commented on #17118
Yes, this looks wrong. Not sure how the text spacing got weird, but should be easy enough to update

[2020-12-18 17:44] mcomella commented on #16984
This doesn't seem to be the cause of the major regression: that is a network call and this is for disk IO. We'll need to wait to see if this gets fixed with the fix for the regression though.

[2020-12-18 17:46] mcomella opened #17128 "Why didn't Nimbus network call set off StrictMode? (native main thread network IO assertions?)"
Nimbus was doing network IO on the main thread https://github.com/mozilla-mobile/fenix/issues/17086 and StrictMode didn't catch it. Why? My guess is native network IO (since it appears in the profiles). We should investigate.

If it is native network IO, we should consider adding "is not main thread" assertions to the native network IO to match StrictMode.

We should consider doing the same for di

[2020-12-18 17:51] ekager commented on #17012
Looks similar to #14539 but to be clear it's about your selection resetting after selecting some large chunk of text?

[2020-12-18 17:51] opusforlife2 commented on #12490
Nope. Fenix successfully restores each time. Whatever this was seems to be gone now.

[2020-12-18 17:51] #12490 closed

[2020-12-18 17:53] mawen7 commented on #16390
I put up #17127 for this

[2020-12-18 17:59] RealGJ commented on #11890
@ekager yes! Problem still persists

[2020-12-18 18:00] ekager commented on #11890
And do you use any addons?

[2020-12-18 18:00] RealGJ commented on #12205
@ekager I think, I deleted photo by mistake! But good news is the issue isn't there!

Thank You and Closing the Issue!🙏

[2020-12-18 18:00] #12205 closed

[2020-12-18 18:03] RealGJ commented on #11890
@ekager yes sir! I've following add ons :

Ublock origin, Dark Reader, Decentraleyes Google search fixer, view page source (Mobile), Android pdf.js

[2020-12-18 18:09] christubuntu commented on #17012
Yes

[2020-12-18 18:14] mcomella commented on #17128
@mcomella so reason this wasn't caught by strict mode is that the network correctly happens on an UI thread, but another call on the main thread blocks on it using the same lock (under the hood in Nimbus).
mcomella  2 minutes ago
How does the blocking happen? Maybe we can add that to our “excessive resource” test like we do with runBlocking
christian  1 minute ago
It's a mutex in Rust it seems.

[2020-12-18 18:17] mcomella commented on #17125
Hi @samiuljoy – do you have any extensions enabled? If so, can you try to reproduce without them enabled? As far as I know, neither Chrome or Brave mobile support extensions so, for a fair comparison, we should check the behavior without the extensions.

[2020-12-18 18:26] samiuljoy commented on #17125
Hello @mcomella ! No I don't have any extensions enabled, nor do I have any extensions downloaded. I used to use Ublock origin before, probably 3 or 4 months prior, recently I managed to set up dns based host blocking system, which blocks most trackers and ads, hence removed ublock origin. Also, using Dark reader considerably reduces page load on older devices, again compared to Chrome and Brave.

[2020-12-18 18:31] #15193 closed

[2020-12-18 18:46] sean-m-sweeney commented on #4205
I recently began using Firefox on my Android devices and ran into this issue. Has LastPass provided any official response to this? I will open a ticket with them as well just to create added visibility for them.

[2020-12-18 18:47] ekager commented on #5833
@Webweweave is this still a problem?

[2020-12-18 18:49] chaserene commented on #16997
please don't take this so lightly. deleting user data, even so without letting the user know and not offering a way to back it up, should not be standard developer practice.

[2020-12-18 18:52] yaomtc commented on #11976
I actually just noticed this working just the other day, but forgot I had filed this bug. Thanks for reminding me.

[2020-12-18 18:52] #11976 closed

[2020-12-18 19:17] amjd opened #17129 "[Bug] Sharing a tab that is in reader mode doesn't load in desktop Firefox"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-18 19:29] smaug---- commented on #14490
Haven't seen this for ages.

[2020-12-18 19:29] #14490 closed

[2020-12-18 21:56] eliserichards opened #17130 "Replace hard-coded strings in ETP Cookies setting"
Currently `settings.blockCookiesSelectionInCustomTrackingProtection` is defined as a string preference:

[code]

It can be set to the following values: `all`, `social`, `unvisited`, `third-party`, or `none` (see [TrackingProtectionPolicyFactory](https://github.com/mozilla-mobile/fenix/blob/6962c967ee3828a570ce300ba2cd74a5816bfe5a/app/src/main/java/org/mozilla/fenix/components/TrackingProtectionPol

[2020-12-18 22:24] eliserichards commented on #9636
Closing as duplicate of #12848

[2020-12-18 22:24] #9636 closed

[2020-12-18 22:24] michas0602 commented on #10598
Same problem here.

Firefox Beta
84.0.0-beta.4 (Build #2015780083)
AC 67.0.9
GV:84.0-20201206192040
AS: 67.0.0

Need more informations? Just ask.

[2020-12-18 22:24] eliserichards commented on #6693
Closing as fixed :)

[2020-12-18 22:24] #6693 closed

[2020-12-18 22:27] eliserichards opened #17133 "Add redirect trackers to ETP panel view and settings"
#13812 added an Enhanced Tracking Protection category to the main settings for redirect trackers. We should also add this to the ETP panel from the toolbar:
<img width="321" alt="image" src="https://user-images.githubusercontent.com/43795363/102666976-dbbfcf00-414d-11eb-9d2e-2142f4c3f1b3.png">

and add the ability for users to customize this ETP category in `CUSTOM` view:
<img width="325" alt="ima

[2020-12-18 22:52] Delphine opened #17135 "Strings not refreshed on Nightly for past 11 days (was: Recently modified Corsican strings not refreshed on Nightly)"
A localizer filed this issue, [but under our repo](https://github.com/mozilla-l10n/android-l10n/issues/299).
It seems that the strings are not being refreshed on Nightly?

Please see link above for the full details that the localizer has filed.

[2020-12-18 23:02] nu111 opened #17136 "GDPR and Leanplum marketing data sharing"
Hi, just a fast question, are you sure that the marketing data share with leanplum enabled by default without used consent is OK for GDPR and EU cookie law?

[2020-12-18 23:26] eliserichards commented on #17133
**Question**: when we de-select a category from CUSTOM, it disappears from the `Blocked` list in the (i) info page:
<img width="321" alt="image" src="https://user-images.githubusercontent.com/43795363/102672305-03b33080-4156-11eb-9f38-f4f51a913fd4.png">  <img width="321" alt="image" src="https://user-images.githubusercontent.com/43795363/102672316-0ada3e80-4156-11eb-9084-bd52d9c7a852.png">

Should

[2020-12-19 00:10] eliserichards commented on #16685
`TabTrayDialogFragmentState.Mode.selectedItems` is losing the current (last-selected) item when we're resuming. If you re-click it, it's adding it to the list again...
 <img width="323" alt="image" src="https://user-images.githubusercontent.com/43795363/102674601-2e07ec80-415c-11eb-91be-f6fc1a8fc296.png">

[2020-12-19 00:17] eliserichards commented on #17100
See https://github.com/mozilla-mobile/fenix/blob/6962c967ee3828a570ce300ba2cd74a5816bfe5a/app/src/main/java/org/mozilla/fenix/settings/account/AccountSettingsInteractor.kt#L47:

[code]

This is probably a sync problem and we need better failures :)

[2020-12-19 00:33] mcomella opened #17138 "On start up, ensure first network request is page load"
_Soft blocked by #17645. See https://github.com/mozilla-mobile/fenix/issues/17138#issuecomment-786303911_

acreskeyMoz points out

![image](https://user-images.githubusercontent.com/759372/102675557-ba131780-414e-11eb-9009-84c4b05ff874.png)

Perhaps the perf effort will change to warm applink?
We might have the same issue.
We'd probably have to pass in the target url as an initialization parameter

[2020-12-19 01:52] willfs84 commented on #9118
There's already an option. Settings > Customize > Show most visited sites

[2020-12-19 02:23] jmargathe opened #17139 "[Bug] Occassional Font Rendering Issue"
## Steps to reproduce
Go to any text-heavy web page, and scroll up and down few times. Occassionally the font will go out of whack resulting in gibberish text being shown.

On my device I've managed to reproduce consistently every time I am typing or filling in a text area (comment box, reply box, etc). The issue will persist until the page refreshes, or the text being scrolled out of view and the

[2020-12-19 02:26] Poopooracoocoo commented on #2011
I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1666667 but it got closed and was redirected to this issue. I've seen many issue get closed here and get directed to Bugzilla, so that feels wrong.

This is the only reason I have Samsung Internet. There is an extension for Firefox that lets you play media in your own player, but it's an extension and it's Fenix, so it doesn't work that good.

[2020-12-19 02:27] lindongbin commented on #12731
I think it works！

[2020-12-19 02:30] Apache77 opened #17140 "[Bug] Dark theme not working properly on hold back button extended history"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-19 02:35] Namit-Nayan commented on #12731
Now the situation is better.
Earlier it only kept 1 tab in memory while fenix was backgrounded, now it can keep around 4-5 tabs. (Mostly text and some images.)

Though one thing I observed, the last 3 accessed pages show up instantly, After which there's a reload like animation but the next 2 pages actually restore. (I kept my internet off to check.)

More than that all pages show no internet conn

[2020-12-19 02:43] MadridSpain commented on #14888
Problem appears to have been fixed by version 84.1.1 (and actually, earlier versions than that).

[2020-12-19 02:43] #14888 closed

[2020-12-19 03:17] MadridSpain commented on #12731
Do Firefox developers not use Firefox on their personal smartphones? I don't mean that facetiously. I do hundreds of hours of browsing a month on mobile, using Firefox Daylight exclusively. **This bug happens everywhere.** Reddit, Twitter, Wikipedia, YouTube... it doesn't matter. It's all over the place. If I have 5 or 10 tabs open, even if they're non-resource heavy tabs (like 10 Wikipedia pages)

[2020-12-19 03:59] Neon329 commented on #16473
This happens with **AdGuard** extension as well. The delay when loading the page for the first time after opening Firefox and loading a website (and in custom tabs) is almost 8 to 10 seconds. After the first page loads it is much faster. Something must be done otherwise nobody would be willing to wait for 10 seconds each time they open Firefox or a custom tab and they'll think that it is a Firefox

[2020-12-19 04:08] Doctor-Abhi commented on #17140
Duplicate of #16422 , Fixed in latest nightly and 85.0.0-beta1 and 2

[2020-12-19 05:16] pruidong opened #17141 "The Android version of Firefox frequently crashes, affecting normal use"
Version information:

84.1.0 (Build #2015781337)
AC: 67.0.10, 899738987
GV: 84.0-20201207203640
AS: 67.0.0

Phone model: Huawei nova 3
Phone memory: 8GB
Phone space: 128GB

Crash log:

68f99e1e-9ff3-4861-805c-55278fb940e1
java.lang.StackOverflowError: stack size 8MB
----
java.lang.StackOverflowError: stack size 8MB
	at android.os.Parcel.freeBuffer(Parcel.java:2996)
	at android.os.Parcel.recycle(Pa

[2020-12-19 05:17] pruidong commented on #17141
In addition, when loading the web page, it seems that the web page has finished loading, but the progress bar shows that it is still loading.

[2020-12-19 05:18] pruidong commented on #17141
It is strange that visiting https://firefox.com.cn/ is normal, but visiting other websites will cause the browser to crash.

[2020-12-19 05:52] sheikh-azharuddin commented on #11536
I see the turbo mode feature is already present in Firefox lite.. Probably it can be added to the main browser too

[2020-12-19 06:21] s-ankur commented on #16437
Thanks @Dojo456

[2020-12-19 07:42] sheikh-azharuddin opened #17142 "Push notification improve"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-19 08:17] Neon329 commented on #17054
@1smartdevice Please report the website issues you face on https://webcompat.com/.

[2020-12-19 09:00] armujahid commented on #4343
Still facing same issue with latest firefox mobile 84.1.1

[2020-12-19 09:03] troxler commented on #9118
I know, but that is not what I meant with "a way to configure it". I'm not interested in Top Sites. Instead I would like to see my bookmarks on the home screen.

[2020-12-19 09:34] Dunexus commented on #16473
Probably related to https://github.com/mozilla-mobile/fenix/issues/17138

[2020-12-19 09:38] Dunexus commented on #11890
Probably related to https://github.com/mozilla-mobile/fenix/issues/17138

[2020-12-19 09:49] andreicristianpetcu commented on #12731
@MadridSpain I think the devs use ff, they are probably not affected by this bug. I was affected by this bug at some point but not anymore. Maybe it depends on the phone or os.

[2020-12-19 10:12] MadridSpain commented on #12731
Don't know how they can not be affected by this bug. My phone is an up-to-date standard Samsung S8 with the standard Android OS. Not unlocked, nothing weird. No problems with other browsers. Problem has existed for months and months, even before Fenix, although it has gotten worse I believe. This ticket is from July. I'm obviously not the only one.

[2020-12-19 10:31] GO-jack opened #17143 "[Bug] Crashes initializing Nimbus"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-19 10:46] bluberly commented on #16337
in my case https://github.com/mozilla-mobile/fenix/issues/16506 the problem went away after I had installed the Opera browser (installing the FF browwer hadn't helped, removing, re-installing Nightly either. Rebooting the device also hadn't helped).

[2020-12-19 11:16] reyis4402 opened #17144 "Weird loading issues on Twitter"
Open Twitter and go down a little bit, open a twitter post full and back out.
must be :
the page continues where you left off
which in reality :
twitter opens the first post. (opens a little late)

[2020-12-19 11:17] reyis4402 commented on #17144
firefox nightly latest version

[2020-12-19 11:38] adolfofp commented on #12731
I agree with @Namit-Nayan
With latest nightly, situation is a bit better

[2020-12-19 12:04] MadridSpain commented on #12731
Not me.

[2020-12-19 12:48] 31415-hub commented on #4343
Yes, the latest version does not solve this problem. It seems that there is no plan to fix this problem, which is disappointing.

[2020-12-19 14:44] andreicristianpetcu commented on #12731
@MadridSpain It's not clear what causes this. It's certain that it happens for some users but not for others. It's also certain that this is a complicated problem and some users saw improvements in Nightly while others saw this bug as fixed, such is my case. It's also clear that this bug carries on in some configs such as yours.

What can you do in this situation? When devs ask for details here, d

[2020-12-19 15:30] mattschlosser opened #17145 "[Bug] URL bar does not match website I am on"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-19 15:33] Webweweave commented on #5833
Hi, I replied via email but here is the same info: This is still a problem. After the initial report by me and others the problem was fixed but in the past month or two, the problems is back the same as it was before. A screenshot from today is attached. I had not gotten around to reporting it again. It is something I do use. I would hope others do because it is just so handy in some situations. S

[2020-12-19 16:01] Dojo456 commented on #17143
I could not reproduce this bug at all.

[2020-12-19 17:54] ale82to opened #17147 "[Bug]curson on text area jump to wrong position"
typing with fenix and swiftkey is almost impossible sometimes, well often (that's why I m reporting bug) cursor jump to wrong position, please see screen recording
https://drive.google.com/file/d/1D9uHK--hpmQtA1K9xo9MEE69gJgFPDIi/view

[2020-12-19 18:15] MadridSpain commented on #12731
I am not merely complaining. I am taking hours out of my life to provide details of this problem so it can be fixed, including build numbers, my personal device information, detailed procedures on how to reproduce the bug, and feedback regarding whether other people's fixes worked for me. Click on my Github account and you can find several other bug issues that I opened, some of which took hours t

[2020-12-19 21:16] willfs84 opened #17148 "[Bug] Firefox app icon is too small"
The Firefox app icon is too small. I put Firefox, Chrome and Edge on my homescreen and took a screenshot to compare. Please make the Firefox icon within the circle larger, it's too small and it just looks wrong
![fenix app icon](https://user-images.githubusercontent.com/47801466/102699788-851dc800-4215-11eb-850b-fce46235493d.png)

[2020-12-19 21:17] willfs84 commented on #17148
I forgot to add: I'm using a Google Pixel on Android 11, so that should rule out any 3rd manufacturer specific custom/non-standard weirdness.

[2020-12-19 22:12] madig commented on #14604
On Firefox 84.1.1, I get a "cannot securely connect" screen (also, add-on installation and Sync activation fails). Trying to continue regardless does nothing. Would be nice to get a "check your time" message.

[2020-12-20 00:48] metronightly commented on #12731
I had the same issue on my 3GB Ram android 10 phone, no matter how light the pages were, switching between just 2 tabs would immediate reloading. Both Daylight and Nightly were just ridiculously bad.

Then someone suggested me Firefox Beta and guess what, the issue is gone. I now have 5 tabs and switching between them is not a problem. I hope the issue is fixed soon, but till then try Beta. I am l

[2020-12-20 02:09] Dev-i-l commented on #15822
i suggest a hand button in toolbar, upon clicking it, it will bring down half the screen, like kiwi browser, see issue #16156 for detailed explanation

[2020-12-20 02:44] donm527 opened #17149 "[Bug] Lockwise App for Android 11 on Samsung Note 20 Ultra when you enable autofill will generate NULL popup"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-20 05:44] Dev-i-l opened #17150 "sponsorblock extension request for firefox 85"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-20 05:45] PurpleCodingWizard commented on #15216
I still think it should be controllable by the user but alright. @ekager

 I failed to mention it clearly in text description. But, back then the reason I filed this bug was because Firefox was flashing/flickering the UI of this tab's list view heavily. It happens when scrolling the title text in it. Can something not be done to remove the UI flash?
It can still be reproduced in latest Firefox 84

[2020-12-20 06:00] jimmyisawesome opened #17151 "schedule dark mode"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-20 08:11] indahud commented on #16995
Yes I can reproduce it on nightly.

[2020-12-20 09:11] JustAWhiteLily commented on #15133
I think this problem still exists in the latest stable release.

[2020-12-20 10:31] JustAWhiteLily commented on #15133
Here are the results from the latest version available from Google Play:
<script src="https://gist.github.com/JustAWhiteLily/54e555df073b77bf8350b13d332da8f1.js"></script>

[2020-12-20 14:14] anotherus3r commented on #17149
Should this maybe be reported in mozilla-lockwise/lockwise-android?

[2020-12-20 14:21] anotherus3r commented on #17151
Also, not all devices have scheduled dark mode, just manual toggling of it (e.g. Huawei devices with EMUI 10.0/Android 10).

[2020-12-20 14:24] sheikh-azharuddin commented on #17150
Create custom add on collection in nightly ... Simple

[2020-12-20 14:40] anotherus3r commented on #17150
Note that custom add-on collections, to my knowledge, aren't available in stable releases of Fenix.

[2020-12-20 14:44] amjd opened #17152 "Please bring back the ability to share all private tabs"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-20 16:07] msdobrescu opened #17154 "Bring back "about:config" for mobile devices"
Please add about:config back to Firefox for mobile devices to help tune it when needed.

[2020-12-20 16:47] donm527 commented on #17149
This is the link given to me by support on their Twitter account. I'm not experienced with github so I took it for what it was and posted on the link given. I re-submitted to the link you gave. thanks.

[2020-12-20 16:47] #17149 closed

[2020-12-20 17:00] klint commented on #12110
@ekager Not quite sure. While some sites have gained a favicon since the bug was open, other are still missing one.

Examples of those sites on my Top Sites pages are:
- support.mozilla.org (itself!)
- mubi.com
- www.huffingtonpost.fr
- www.monde-diplomatique.fr
- voiture.opodo.fr
- quaidesbrumes.fr
-

[2020-12-20 17:33] rahul-ankamreddi opened #17155 "Add-ons and themes for android version"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-20 19:50] BlitW0 commented on #17056
Duplicate of https://github.com/mozilla-mobile/fenix/issues/11809

[2020-12-20 23:07] violasong commented on #9118
This will be reconsidered along with homescreen work in the new year. [Update re: homescreen](https://github.com/mozilla-mobile/fenix/issues/12065#issuecomment-739444613)

[2020-12-21 00:55] miladmaz12 opened #17156 "[Bug] AMO website is in different language than en-US"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-21 02:22] hackel commented on #17143
I've been getting this for the past few days as well.  Can only start Firefox by clicking as link from another app.  Trying to open it directly or open a new tab immediately crashes.  Unfortunately I have no way to provide any kind of debugging information on Android, but I've been reporting it every time from the crash notification.

[2020-12-21 05:11] sheikh-azharuddin commented on #17154
Available in beta and nightly version

[2020-12-21 05:15] sheikh-azharuddin opened #17158 "Clear site specific cookies and data"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-21 06:05] msdobrescu commented on #17154
Sorry, don't use those two, I need it regardless the branch.

[2020-12-21 07:21] Debanshu777 commented on #16829
@Amejia481 I would like to work on this issue

Is it suggested to just increase the size of the View from 40dp to 48dp?

<img src="https://user-images.githubusercontent.com/50791485/102749436-07c79400-438a-11eb-80ef-067aed2d8799.jpg" height=300 width= 500/>

[2020-12-21 07:29] Amejia481 commented on #16829
I'm currently on PTO, feel free to work on the issue, others team members will be there to assist you in case you need any help :)

[2020-12-21 07:58] mcarare commented on #17135
@Delphine I do not see any PR for importing strings from `mozilla-l10n-automation-bot` since 11 days ago.

[2020-12-21 08:40] cadeyrn commented on #17154
Duplicate of #7865.

[2020-12-21 08:41] cadeyrn commented on #17151
Duplicate of #4236.

[2020-12-21 08:43] cadeyrn commented on #17155
Duplicate of #10032 for themes. For add-ons there are already numerous other issues.

[2020-12-21 08:46] #17154 closed

[2020-12-21 08:46] #17155 closed

[2020-12-21 08:48] kbrosnan commented on #17150
We are not keeping open issues for specific extensions. The team is tracking specific webextensions APIs.

[2020-12-21 08:48] #17150 closed

[2020-12-21 08:48] #17151 closed

[2020-12-21 08:50] sv-ohorvath commented on #13285
Crashed again on 12/19 in UI tests: https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6816091270075232443/executions/bs.b4a138a0bfd86ff2
`java.lang.IllegalStateException: FragmentManager has been destroyed
     FATAL EXCEPTION: main
Process: org.mozilla.fenix.debug, PID: 15638
java.lang.IllegalStateException: FragmentManager has been destroyed

[2020-12-21 08:54] msdobrescu commented on #17154
The about:config feature is not related to debug, but to fine tune.
I don't think this is a duplicate because it is another reason than the other bug, even though the same solution to fix.
It's comfortable to you to assign it as duplicate while the other issue is closed to comment.
No wonder why this browser goes down in users' preferences.

[2020-12-21 08:59] cadeyrn commented on #17154
Even if the opener of the other issue has another motivation for using about:config it's about exactly the same feature so it's a clear duplicate.

Such comments are not helpful if you want to see this implemented. Please be polite and constructive. With such sentences, you achieve at most the opposite.

[2020-12-21 09:02] kbrosnan commented on #17139
Looks like  #13153 but that should be fixed on 84.1.0 @jamienicol is the S20's Mali-G77 MP11 on the deny list?

[2020-12-21 09:09] abodea commented on #9250
Verified as fixed on the latest Nightly **21/12** with **Google Pixel 4 XL (11), Samsung Galaxy S10+ (10), Samsung Galaxy S7 (7).**
The dropdown menu was displayed and worked as expected.

[2020-12-21 09:09] #9250 closed

[2020-12-21 09:14] softvision-miralobontiu commented on #13882
I was not able to reproduce this issue on the 12/21 Nightly build with Google Pixel (Android 10).
I'll close this issue.

[2020-12-21 09:14] #13882 closed

[2020-12-21 09:15] softvision-miralobontiu commented on #6735
Could not reproduce with Google Pixel (Android 10), nor with Samsung Galaxy Tab s6 (Android 10) on the 12/21 Nightly build.
We will test also with Nexus 6P device.

[2020-12-21 09:20] jamienicol commented on #17139
Yes, the G77 is on the deny list. This looks like a different issue to me, that bug was initially about black squares appearing, with the latest comment being about a partial present bug (which was the same as #16469).

This one looks like it's probably the GPU cache being corrupted, maybe when it is resized? It is wonderful how many different Mali driver bugs we have encountered 😀

@jmargathe can

[2020-12-21 09:24] kbrosnan commented on #17141
This should be fixed in 85 beta. We will evaluate this for uplifting to 84. Duplicate of bz-1673681

[2020-12-21 09:24] #17141 closed

[2020-12-21 09:29] abodea commented on #11884
Verified as fixed on the latest **Nightly 21/12** with **Google Pixel 4 XL (11), Samsung Galaxy S10+ (10).**

[2020-12-21 09:29] #11884 closed

[2020-12-21 09:32] andares opened #17160 "Firefox in android can not login with international account in chinese version."
error log:

[code]

and

[code]

My mobile phone is 865 platform and android version is 10

[2020-12-21 11:59] rocky-01 opened #17161 "ability to reorder bookmarks, top sites atleast before the end of next year."
No one likes these features 😂
No one use these features 😃
No browser on Android has these features. 😄

[2020-12-21 12:06] softvision-miralobontiu commented on #14837
I wasn't able to reproduce this issue on the latest Nightly from 12/21 with Google Pixel (Android 10), and HTC 10 (Android 8).
I'll close this issue.

[2020-12-21 12:06] #14837 closed

[2020-12-21 12:10] cadeyrn commented on #17161
Duplicate of #4348 for bookmarks.
Duplicate of #8305 for top sites.

[2020-12-21 12:20] mcarare commented on #17161
Closing as duplicate.

[2020-12-21 12:20] #17161 closed

[2020-12-21 12:48] paxcoder commented on #17080
And what?

[2020-12-21 13:35] AndiAJ commented on #17156
Hi, just checked this matter on **`85.0.0-beta.2`** and wasn't able to reproduce using the following devices:
• Google Pixel 3a (Android 11)
• OnePlus A3 (Android 6.0.1)

✔️ Opened each Web extension's details and is properly opened the en-US AMO.

[2020-12-21 13:49] marcel263 opened #17163 "[Bug] Custom Tabs and PWA destroy open private tabs in browser"
Private tabs are always being closed after using Custom Tabs and/or PWA features

## Steps to reproduce
Have private tabs open in the main browser
Using a Custom Tabs-enabled app, load a link in Nightly Custom Tabs, then go back using button or gesture on the device; alternatively, load a PWA from your launcher, and navigate back

Open Firefox main browser and check for open private tabs. They are

[2020-12-21 13:56] ebalazs-sv opened #17165 "[Bug] [L10n] Close private tabs notification is not translated in many languages"
### Preconditions
In Settings - Languages set the device to Chinese.
## Steps to reproduce
1. Launch Fenix and go to private mode;
2. One one or more tabs;
3. Observe the Close private tabs notification;
### Expected behavior
The Close private tabs notification is translated in Chinese;
### Actual behavior
The Close private tabs notification is not translated in Chinese;

### Notes
This is also re

[2020-12-21 14:01] ebalazs-sv opened #17166 "[Bug] [L10n] "Report Site issue" is not translated in many languages"
### Preconditions
In Settings - Languages set the device to Chinese.
## Steps to reproduce
1. Launch Fenix and go to three-dot menu;
2. Observe the "Report Site issue" from the three-dot menu;
### Expected behavior
The  "Report Site issue" is translated in Chinese;
### Actual behavior
The  "Report Site issue" is not translated in Chinese;

### Notes
This is also reproducible for Romanian, Spanish,

[2020-12-21 14:21] ebalazs-sv opened #17168 "[Bug] [L10n] Download notification is not translated in many languages"
### Preconditions
In Settings - Languages set the device to Chinese.
## Steps to reproduce
1. Launch Fenix and go to https://www.thinkbroadband.com/download;
2. Tap to download a file;
3. Observe the Download notification;
### Expected behavior
The  Download notification is translated in Chinese;
### Actual behavior
The  Download notification is not translated in Chinese;

### Notes
This is also r

[2020-12-21 15:11] marcel263 commented on #17148
![icon](https://user-images.githubusercontent.com/76437842/102791375-d5746180-439e-11eb-901e-8ba2835cab6b.png)

[2020-12-21 15:14] abodea opened #17170 "[Bug] White screen displayed when minimizing Suggested logins menu"
## Steps to reproduce
1. Access `accounts.google.com`.
2. Tap on the arrow in order to expand the `Suggested logins` menu.
3. Minimize the `Suggested logins` menu.
### Expected behavior
The `accounts.google.com` webpage is correctly displayed.
### Actual behavior
White screen displayed when minimizing Suggested logins menu
### Device information

* Android device: **Google Pixel 4 XL (11).**
* Fen

[2020-12-21 15:20] miladmaz12 commented on #17156
Now its in `de `instead of `en-US `for me.

[2020-12-21 15:21] abodea commented on #16182
Verified as fixed on the latest Nightly 21/12 with Google Pixel 4 XL (11), Samsung Galaxy S10+ (10), Samsung Galaxy S7 (7).
Note that the `suggested logins` was displayed when I opened the second and the third tab with the same webpage (accounts.google.com).

[2020-12-21 15:21] #16182 closed

[2020-12-21 16:13] hwinnemoe commented on #17163
Duplicate of/Related to #16165

[2020-12-21 16:17] csadilek commented on #17156
I was able to reproduce this. This only affects Beta and Nightly so far and seems related to our endpoint switch to `services.addons.mozilla.org.` I've filed for the addons-server: https://github.com/mozilla/addons-server/issues/16214

[2020-12-21 16:51] eliserichards commented on #15703
This was missed in our sprints after we uplifted it, so we never followed up :(

[2020-12-21 16:56] rocketsroger opened #17172 "Add Firebase Crashlytics support"
Add support and mechanism to allow user to opt-in / opt-out of Crashlytics.

[2020-12-21 17:12] Ankita13-code commented on #14130
hey @NotWoods! I would like to work on this issue. Can you assign it to me?

[2020-12-21 17:45] DiegoARL38 commented on #17080
About what?

[2020-12-21 17:55] paxcoder commented on #17080
This problem

[2020-12-21 18:02] DiegoARL38 commented on #17080
They'd need to prioritise the work, and we're on holiday season, so I wouldn't really expect any news until January.

[2020-12-21 18:54] willfs84 commented on #17148
That's not what I meant. I'm saying the Firefox icon WITHIN the circle should be made larger

[2020-12-21 19:03] Delphine commented on #17135
Pinging RelMan folks because I think they can help out with this (CC @escapewindow, @MihaiTabara)
Also, FYI @st3fan.

[2020-12-21 19:15] kbrosnan commented on #17136
I have forwarded this query to the Legal team. It may be into the new year before it is possible to respond. Mozilla has most of the rest of December as PTO

[2020-12-21 19:28] Delphine commented on #17168
I'm not sure which string this is exactly, so that I can check against Pontoon. Could you please link to the string ID? thank you!

[2020-12-21 19:33] mailinglists35 opened #17173 "[Bug] Received tab is intercepted by Focus instead of Fenix when signed in into Fenix but Focus is default browser"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-21 19:34] Delphine commented on #17165
On Pontoon, I see these strings as translated for all these languages since more than a year ago. The string should definitely appear localized for all these locales

[2020-12-21 19:38] ekager commented on #17163
Closing for  #16165

[2020-12-21 19:38] #17163 closed

[2020-12-21 19:41] ekager commented on #14925
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683747

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-21 19:41] #14925 closed

[2020-12-21 19:42] rocketsroger opened #17174 "Remove the New Media Session API Feature Flag"
Currently the new `MediaSession` API is used only when the `newMediaSessionApi` flag is enabled.  Remove this flag and use the new `MediaSession` on all builds when ready.

[2020-12-21 19:48] eliserichards opened #17175 "[Bug] Report site issue is the wrong color in Dark Mode"
Pixel 3 Steps to Reproduce
1. Set device to Dark Mode
2. Open Fenix (nightly)
3. Open three-dot kebab menu
4. See that "Report Site Issue..." icon is the wrong color :(
<img width="325" src="https://user-images.githubusercontent.com/43795363/102816078-064e9980-4393-11eb-8f62-a679db41f810.png">

[2020-12-21 19:54] ekager commented on #17175
Closing as dupe of #11367

[2020-12-21 19:54] #17175 closed

[2020-12-21 19:57] jonalmeida commented on #17173
This is a duplicate of https://github.com/mozilla-mobile/fenix/issues/12627.

So let's keep the conversation in one place so we can find a better UX expectation of everyone.

[2020-12-21 19:57] #17173 closed

[2020-12-21 19:59] jonalmeida commented on #17129
I believe this is a duplicate of https://github.com/mozilla-mobile/fenix/issues/5190.

cc: @csadilek

[2020-12-21 20:02] kbrosnan commented on #17136
The reply I got was to contact compliance@mozilla.com directly with your questions. There is not anything that can be done in this issue. Closing.

[2020-12-21 20:02] #17136 closed

[2020-12-21 20:09] mailinglists35 commented on #17173
thanks, I couldn't find it when searching

[2020-12-21 20:12] mailinglists35 commented on #12627
If the intended behaviour was this, then the intended behaviour is the bug itself.

When I send a tab to Fenix, it is meant for Fenix not for Focus, period. Anything else is a bug in design.

See my frustrating experience in duplicate issue #17173

[2020-12-21 20:56] csadilek commented on #17143
Thanks for filing! Could one of you check if this is still a problem in latest Nightly (201221 17:00)?

It should show Monday 12/21 @ 5:04PM under Settings->About Firefox Nightly.

[2020-12-21 20:58] csadilek commented on #17086
We disabled Nimbus for now until we have a fix. So the main perf. regression here should be gone in Nightly 201221 17:00.

[2020-12-21 21:01] csadilek commented on #17129
@jonalmeida yeah, but it depends. For bookmarks and also the Share fragment we decided to use the original article URL instead which makes sense and we could do this here as well.

If we want to share a reader URL directly to desktop then yes we need solve #5190 somehow.

[2020-12-21 21:38] ShamrockLee opened #17176 "[Bug] "Desktop Site" option prior to connection is not available"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-21 22:09] Delphine commented on #17166
I don't see any "Report Site issue" string that has landed in our l10n quarantine repo. Maybe it's hardcoded and needs to be exposed?
If it has been exposed, please link to string ID. Thank you

[2020-12-21 22:36] gitt0r commented on #17143
It's working again.

Thank you very much!

![Screenshot_2020-12-21-23-37-52-308_org mozilla fenix](https://user-images.githubusercontent.com/65116394/102828531-450d3f80-43e5-11eb-94d0-d84e4a8d25f6.jpg)

[2020-12-21 22:38] csadilek commented on #17143
OK, this confirms that it was also Nimbus related.

[2020-12-21 22:38] csadilek commented on #17143
Thanks for verifying!

[2020-12-21 22:40] ekager opened #17177 "java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewTreeObserver android.view.View.getViewTreeObserver()' on a null object reference"
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/9183267/?query=is%3Aunresolved%20getViewTreeObserver

STR:
1. Open tabs in normal browsing
2. Switch to private tab in tabs tray
3. Click FAB to open private mode home (only on clean build that hasn't seen PBM CFR yet)

[2020-12-21 23:11] csadilek commented on #17143
Filed ticket in Nimbus for remaining crashes that will need to be addressed before enabling again:
https://jira.mozilla.com/browse/SDK-161

[2020-12-21 23:20] #17143 closed

[2020-12-21 23:25] ekager commented on #14130
Assigned you @Ankita13-code ! Let me know if you have any questions

[2020-12-22 00:13] titiger opened #17181 "[Bug] all sites are blank since 84.1.1 on Adreno 510"
Firefox does not show(render) any website. No google search, nothing. You just got a white or black pane where content should be shown, no matter which URL. Looks like others have this problem too:  https://www.reddit.com/r/firefox/comments/kfg3zb/8411_stable_any_url_only_shows_a_blank_background/.
It looks like you can still click on unvisible links on this blank screen and the url changes, so it

[2020-12-22 00:45] jmargathe commented on #17139
I've tried reproducing this on both the latest Fenix 85.0.0-beta2 and Nightly 201221 and the issue no longer appears.

Have also tried setting the gfx.webrender.debug.gpu-cache to true on both, and no more issues.

I'll close the bug report and will reopen/file another if it happens again :)

[2020-12-22 00:45] #17139 closed

[2020-12-22 03:23] neekt opened #17182 "Bookmarked sites are not autocompleted in the address bar when 'Search browsing history' is switched off"
## Steps to reproduce

1. On a fresh Firefox install, ensure that 'Autocomplete URLs' is turned on (Settings > Search > Autocomplete URLs)
2. Switch off 'Search browsing history' (Settings > Search > Search browsing history)
3. Bookmark a site that is not listed in Alexa top sites (e.g., https://www.depop.com/)
4. Begin typing "depop.com" in the address bar

### Expected behavior

After typing the

[2020-12-22 03:36] neekt commented on #17182
An additional comment; the current autocomplete behaviour is not just inconsistent with both Firefox for desktop and the old Firefox for Android, it's also inconsistent with Chrome for Android - which autocompletes bookmarked URLs, and not sites that aren't bookmarked.

[2020-12-22 03:58] sheikh-azharuddin commented on #17181
Works fine here...  Reinstall and check once

[2020-12-22 04:27] willfs84 commented on #15863
I'm not sure this is a feature request, it's more of an issue/bug. They forgot to update this for bottom toolbar :(

[2020-12-22 06:03] sheikh-azharuddin commented on #17182
But it is showing here..

![Screenshot_20201222-113237271](https://user-images.githubusercontent.com/58127841/102854871-7586c500-4449-11eb-8675-cbc874c5c3b3.jpg)

[2020-12-22 06:10] sheikh-azharuddin commented on #17176
The desktop site button needs to be added to the homepage 3 dot menu to solve the issue...

Additionally a setting could be added to always use desktop site..

![Screenshot_20201222-113920550 (1)](https://user-images.githubusercontent.com/58127841/102855293-648a8380-444a-11eb-8d59-f5f41a8ebcc5.jpg)

[2020-12-22 07:05] tomyummmm commented on #12414
Hi, its been quite a while and there hasn't been any updates on this situation. I'm still having to manually download and share images on whatsapp as a work around. Is there any chance of this being fixed?

[2020-12-22 07:11] Racle commented on #12414
your app works like that?
If I download image with Firefox, it doesn't show at camera reel on Whatsapp and if I share that via gallery app, it shares that as file, not as image, so you cannot see the image, you have to download that..

I usually copy URL, open chrome, paste URL there and share or download image from there (which is very annoying).

Firefox does something to image when it downloads

[2020-12-22 07:16] christophgrander opened #17183 "Sites are blank after using a specific site [Bug]"
## Steps to reproduce
-Use the latest stable version of firefox mobile as of 22. Dec. 2020
-use private browsing mode
-Go to https://www.dpd.com/at/de/ (website of german delivery service)
-enter a tracking number, eg 06225024216407
-click the magnifier symbol
### Expected behavior
The website redirects you to the tracking results (as in chrome mobile)
### Actual behavior
A blank page is opened. T

[2020-12-22 07:32] neekt commented on #17182
Interesting. Not for me:

![2020-12-22 18 27 54](https://user-images.githubusercontent.com/5132610/102861457-cca98b80-4483-11eb-9a42-1dafb7155b75.png)

[2020-12-22 07:33] ebalazs-sv commented on #17166
Hi! In the strings.xml file, this is what I had found regarding the "Report site issue" string: https://github.com/mozilla-mobile/fenix/blob/6040f18a6b7524a84f54660480188eaed7931000/app/src/main/res/values/strings.xml#L94

[2020-12-22 07:36] ebalazs-sv commented on #17168
Hi! I had searched in the strings.xml file for the Download notification but was not able to find any strings regarding this.

[2020-12-22 08:29] sv-ohorvath commented on #12895
Flaky on 12/22: https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5649355964281828958/executions/bs.2543a23177b9a12c/testcases/1/test-cases

[2020-12-22 08:52] mcarare commented on #17023
@vesta0 AFAIK There is no reliable way to "listen" to a screenshot being taken by the user. Even the notification for when taking a screenshot is not allowed is handled by Android. We do not have any callbacks that could help us get notified of an attempt to take a screenshot.

So, outside of implementing our one feature that takes screenshots of the web page content and adding metrics for that fe

[2020-12-22 09:16] Mikhail-tech commented on #17181
++++++++++++++++++++++++++++++++++++++
2 weeks ago, I updated my Firefox Nightly (before i dont update for about 2 months, and everything was fine) and he just stopped loading ALL the sites normally - the page loads completely, but the screen remains white (or black). I can't even log in to my Firefox account (for the same reason). I tried to clean the cache, disable add-ons, restart the device, r

[2020-12-22 10:04] CombeeMike opened #17184 "Allow "on the fly filters" for search bar results using special "filter tokens" like on desktop (* for bookmarks etc.)"
### What is the user problem or growth opportunity you want to see solved?
Make bookmarks, history etc. easier accessible via a unified interface (the search bar) by allowing to limit the shown search results to specific areas using special "search tokens" like `* ...` for bookmarks only, `? ...` for search suggestions, `^ ...` for history etc.

Basically I'd like to see the same functionality as

[2020-12-22 10:23] Ankita13-code commented on #14130
Yeah sure! Thanks @ekager

[2020-12-22 10:44] TrianguloY commented on #17148
The firefox icon is roughly the same size as the edge one, and both follow the android guidelines for icons (https://developer.android.com/google-play/resources/icon-design-specifications).

Chrome, on the other hand, isn't. That's why it seems bigger. Chrome is the wrong icon here.

Strangely, on my device, they all look fine. Perhaps your device or launcher isn't using the correct icon?

![IMG_2

[2020-12-22 11:00] Neon329 commented on #10640
@abodea @vesta0 I have contacted Enpass about this issue in Firefox which I'm also facing and the developer response is that, quoting from the support comment:

I hope Firefox fixes this issue.

[2020-12-22 11:14] freebrowser1 commented on #8252
Try it again in Landscape mode. Videos are usually in landscape mode.
For me that works (but I use the original site: www.youtube.com, not m.youtube.com).

[2020-12-22 11:57] ebalazs-sv commented on #17044
This issue is also reproducible on 85.0.0-beta.3 from 12/21 with Samsung Galaxy Tab S3 (Android 8).

[2020-12-22 12:15] AdrianJPx commented on #10344
Hey liuche, the trail has gone cold on this issue the past couple of months, any news on when we're likely to see the ability to manually reorder tabs added back into the app?  It's been great to get grid view back, but losing this 'skill' which the app had previously implemented so well has been so frustrating for those of us who like to keep a number of 'working tabs' open and move them around a

[2020-12-22 12:17] mcarare commented on #17182
@neekt It does show for you also, the suggestion marked with a ⭐  is the suggestion from bookmarks.

[2020-12-22 13:32] ebalazs-sv commented on #17117
This issue is also reproducible on 85.0.0-beta.3 from 12/21 with Samsung Galaxy Tab S3 (Android 8).

[2020-12-22 14:56] abodea commented on #14480
Verified as fixed on the latest Nightly 22/12 with Google Pixel 4 XL (11), Samsung Galaxy S10+ (10).
Note that pictures were displayed correctly in full screen.

[2020-12-22 14:56] #14480 closed

[2020-12-22 15:12] xM8WVqaG commented on #17181
I am also having this issue, I have tested a few older versions and it looks like the problem started with `84.1.0`.

**Device:** Xiaomi Redmi Note 3 Pro
**OS:** Lineage 13.0 (Android 6.0.1)

| Version | APK Source | Working? |
| --- | --- | --- |
| 85.0.0-beta.1 | [Play Store](https://play.google.com/store/apps/details?id=org.mozilla.firefox_beta) | blank screen |
| 84.1.1 | [Play Store](https://

[2020-12-22 15:37] mcarare commented on #16342
This was previously discussed here: https://github.com/mozilla-mobile/fenix/issues/9583#issuecomment-609987250.
Having the entire image as a surface that can be pressed to change themes makes the radio button touch target irrelevant.
Closing this as such.

[2020-12-22 15:37] #16342 closed

[2020-12-22 15:44] mcarare commented on #17140
Closing as duplicate. The issue is already fixed in Nightly.

[2020-12-22 15:44] #17140 closed

[2020-12-22 15:49] Mikhail-tech commented on #17181
I have the same problem (exactly). Apparently this is due to the Android version (6.0.1). Since everyone who writes about this is united by the version of Android. Although it fits the system requirements...

[2020-12-22 16:18] rocketsroger commented on #11608
After some more discussions related to this issue there are some reasons that we're not moving forward with this change.  The risk is very high and there are dependencies with other functionalities such as intent processors.  It could be that a better/safer way is to improve the performance of the current implementation.

[2020-12-22 16:48] #17073 closed

[2020-12-22 16:54] addas opened #17188 "[Bug] Fenix tries to DNS connect to telemetry although I opted out"
## Steps to reproduce
• Fresh Install Fenix
• Use VPN Adblocker on Android (Like AdGuard with DoH) | Optional: To get a log if you are not rooted
• Opt out Telemetry by unticking all Data Collection
• Force Close Firefox
• Launch Fresh Start Firefox

### Expected behavior

No any request to telemetry whether DNS requests or HTTP/HTTPS requests

### Actual behavior

Tries to connect to dns://incomi

[2020-12-22 17:06] addas commented on #17183
I couldn't reproduce the issue, I have Note9 with Android 10.

Do you have PiHole or VPN Adblocker or root Adblocker? Maybe it is blocking your connection or the website was down.

[2020-12-22 17:17] opusforlife2 commented on #17086
Confirmed fixed!

[2020-12-22 17:42] willfs84 commented on #17148
As I said in comment 0, it's extremely unlikely there's an issue with Google Pixel software resulting in the Firefox icon being smaller

[2020-12-22 17:42] ekager opened #17190 "[Bug] Changing language while notifications are showing will not update notification"
## Steps to reproduce
1. Enter Private Browsing Mode
2. Open a tab
3. Open device notifications and see PBM notification
4. Go to settings and change the language

<img width="322" alt="image" src="https://user-images.githubusercontent.com/43795363/106054898-426fcb00-60b2-11eb-9270-ae699553e216.png">

### Expected behavior
Notification re-creates and reflects new language

### Actual behavior
Noti

[2020-12-22 17:44] eliserichards commented on #17133
@abodea tested #13812, so that might be helpful for QA: https://github.com/mozilla-mobile/fenix/issues/13812#issuecomment-700503934

[2020-12-22 17:48] kbrosnan commented on #17188
This should be under the Glean team's control. This may be the opt out ping. Which is used to remove some data associated with that ID.

@mdboom are you able to find someone from the Glean team to track this down?

[2020-12-22 17:58] TrianguloY commented on #17148
I don't have a pixel, so unfortunately can't confirm it.

However note that what I said is that Chrome's icon is the faulty one, not firefox, so this issue should be posted on chrome's bug tracker (or whatever they use). If you make firefox icon bigger, then it will be bigger than the other apps (except chrome).

[2020-12-22 18:09] st3fan commented on #17188
If you force quit, we may be retrying the 'opt-out' ping. Yes there is such a ping - it will instruct the Mozilla telemetry servers to delete your previously received telemetry data. My bet is that this ping gets queued to be sent when you flip the checkbox and then it goes out at the next scheduled telemetry push. Which will also be the last one.

But, if you force quit the app and then block `in

[2020-12-22 18:11] Delphine commented on #17166
Thank you! I confirm we never got that string on our side, so it hasn't been exposed for l10n yet. Not sure if it is needed for a future release, so this might be expected? Will let Fenix team chime in

[2020-12-22 18:11] willfs84 commented on #17148
Are you a Mozilla dev?

[2020-12-22 18:13] Delphine commented on #17168
I can not find this string on our side either. Is it landing later perhaps, and for a future release? Otherwise, we should expose it to localization

[2020-12-22 18:15] kbrosnan commented on #17181
I am able to browse websites using a Spice Mi-498 (Mali-400MP2) running Android 6.0.

Looking at the phones that are experiencing this they are all running Adreno 510. Going to move this to Bugzilla as this is a Graphics issue.

[2020-12-22 18:17] TrianguloY commented on #17148
No, I'm not. Apologize if it seemed like it. I have edited the previous comment to clarify this.

[2020-12-22 18:18] kbrosnan commented on #17181
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1683936

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-22 18:18] #17181 closed

[2020-12-22 18:23] willfs84 commented on #17148
Let's let the Mozilla devs look at this. I'm sure one of them has a Pixel phone

[2020-12-22 19:31] addas commented on #17188
I allowed the "last" ping and restarted and still requesting after force quit.

Also I am on fresh installation of Firefox APK (Fenix) from Play Store.

Is it possible that "dom.security.unexpected_system_load_telemetry_enabled" boolean is still true although I opted out? (I cannot check because I am on stable and "about:config" is blocked by Mozilla)

[2020-12-22 20:29] kbrosnan commented on #17181
If anyone who experiences this has beta or nightly. Are you about to visit `about:config` and set `gfx.webrender.force-disabled` to true? Though I doubt this is possible given that about:config is a Gecko rendered page.

[2020-12-22 20:44] DiegoARL38 commented on #17181
@kbrosnan  They could try using TalkBack to do it.

[2020-12-22 21:10] jurica1304 opened #17192 "PWAs with no name default to "Web page""
### Steps to reproduce
1. go to https://ocjene.skole.hr/login
2. open menu in toolbar
3. tap 'Install'

### Expected behavior
It should ask you to add shortcut to launcher home page with the website title 'e-Dnevnik za učenike i roditelje'.

### Actual behavior
It wants to add shortcut with the title 'Web stranica' meaning 'Web page'.
App language is Croatian. Normal behavior in Google Chrome.

##

[2020-12-22 21:28] neekt commented on #17182
@mcarare I'm not talking about suggestions, I'm talking about autocompleting URLs in the address bar. Like this in Chrome for Android:

![Screenshot_20201223-081929](https://user-images.githubusercontent.com/5132610/102934453-3fece500-44f8-11eb-9922-819b262f4342.png)

[2020-12-22 21:40] neekt commented on #17182
@sheikh-azharuddin does this still work if you clear your browsing history? Autocomplete does seem to work if Search Browsing History is switched on and the bookmarked site is in your browsing history. Otherwise, not.

[2020-12-22 23:56] Mikhail-tech commented on #17181
@kbrosnan, @DiegoARL38, i tried changing the value of `gfx.webrender.force-disabled` to `true` using TalkBack - nothing changed. What's going to happen?

[2020-12-23 00:10] Mikhail-tech commented on #17181
Oooooooooooooooo, restarted the browser - its worked! It's alive!

[2020-12-23 01:12] escapewindow commented on #17135
um. i may have fixed? the update-projects hook is now all green
17:04
https://github.com/mozilla-mobile/android-components/pull/9284
17:04
https://github.com/mozilla-mobile/fenix/pull/17193
aki  17:04
that's a lot fewer changes than my manual PR
17:06
i hope those look good. for posterity, a) we had to re-invite the l10n bot, b) i had to add more permissions to the bot's user token, c) we had to c

[2020-12-23 02:20] sheikh-azharuddin commented on #17182
yes this still works after clearing browing history

![Screenshot_20201223-074900289](https://user-images.githubusercontent.com/58127841/102951707-7ecc6c00-44f3-11eb-8619-dfefb1c07985.jpg)
![Screenshot_20201223-074911655](https://user-images.githubusercontent.com/58127841/102951712-82f88980-44f3-11eb-9d71-434714a08d39.jpg)

[2020-12-23 02:31] sheikh-azharuddin commented on #17182
On a side note another critical bug found due to this auto complete feature... While deleting the character from address bar URL it deletes one character and then it auto completes so literally you have to press delete button twice to delete a single character.. . I will file new issue

[2020-12-23 02:39] sheikh-azharuddin opened #17194 "deleting a character in the address bar triggers autocomplete"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-23 03:25] yaomtc commented on #8252
@freebrowser1, using the desktop site does make the video centered on my phone (Pixel 4a) but it is still cut off on the bottom.

[2020-12-23 03:46] Mikaka27 commented on #17115
Possibly same issue reported here: #17009

[2020-12-23 04:14] metronightly commented on #16440
I have been facing the same issue on my Android 10 device on 3 of the Firefox browsers, Firefox Daylight 84.1.1, Firefox Beta 85.0.0-beta.3 and the last Firefox Nightly that I used- around Dec 8. I hope it's fixed soon.

[2020-12-23 05:44] tomyummmm commented on #12414
Whatsapp is able to see all photos i download in firefox, no problems. Still annoying to have to do this workaround. Is firefox unable to copy images to clipboard or is it unable to share images via cache to other apps like whatsapp?

[2020-12-23 06:30] Racle commented on #12414
I checked file MD5sum when downloaded image via chrome or firefox. No difference there. I can see file downloaded via chrome in whatsapp reel but not image downloaded from firefox.

But if I rename that Firefox file (like add 2 to end of filename before extension) it shows up in whatsapp. Even if I remove that 2 what I've added, it still works. But if I download same image again with firefox (with

[2020-12-23 07:45] mcarare commented on #17182
@neekt , @sheikh-azharuddin what keyboards are you using?

[2020-12-23 07:46] neekt commented on #17182
@sheikh-azharuddin Thanks for confirming that.

After a little bit more testing, it seems that if 'search browsing history' is switched off (Settings > Search > Search browsing history), then bookmarked URLs aren't autocompleted, regardless of whether the site is in the history or not.

So with the following settings, bookmark URLs are not autocompleted:

![Screenshot_20201223-182949](https://user

[2020-12-23 07:47] neekt commented on #17182
Hi @mcarare, I've been using AnySoftKeyboard and Gboard. The results are the same with both.

[2020-12-23 07:54] neekt commented on #17182
And after a little more testing I've found that if I have search browsing history switched ON and search bookmarks switched OFF, I still get bookmarked URLs being autocompleted.

My conclusion from this is that 'Search bookmarks' doesn't do anything at all. Autocompleting bookmark URLs is entirely dependent on 'search browsing history' being activated.

[2020-12-23 08:11] mcarare commented on #17182
@neekt Maybe the setting description is not clear enough, but that setting is for the suggestions shown in the awesomebar, not the autocomplete feature.

[2020-12-23 08:12] ebalazs-sv commented on #17165
Verified as fixed on Nightly 201223 GV 86 from 12/23 with Pixel 2 (Android 9).
I will close the issue and remove the qa:needed label.

[2020-12-23 08:12] #17165 closed

[2020-12-23 08:13] mcarare commented on #17182
Tagging UX for feedback on expected auto-complete behavior and the Settings description.

[2020-12-23 08:14] mcarare commented on #17194
@sheikh-azharuddin Thank you for reporting this. Did you try using Gboard? Does the same issue occur?

[2020-12-23 08:20] mcarare commented on #17192
The problem is within the website itself, the manifest does not provide a `name` or a `shortName`.

But maybe we should fallback to the session title and only after that to the hardcoded title.

[2020-12-23 08:23] neekt commented on #17182
I think there are a couple of issues here:

1. As in the original post and subsequent comment, I would still expect autocomplete to work for bookmarks - as it does in Firefox for desktop, the old Firefox for Android (Fennec), and in other browsers (e.g., Chrome) - regardless of the search history setting.
2. Even with 'search bookmarks' switched off and the history completely cleared, bookmarks st

[2020-12-23 09:01] hakkikaancaliskan commented on #17194
@mcarare same problem with gboard

https://user-images.githubusercontent.com/17825767/102979061-9537ef00-4516-11eb-8d82-ab56a4e372ec.mp4

[2020-12-23 09:02] sheikh-azharuddin commented on #17194
Yes same issue with gboard
![Uploading Screenshot_20201223-143156304.jpg…]()

[2020-12-23 09:18] shapor commented on #16749
I don't believe this is the same bug.  ESNI used to work in FF nightly and recently stopped.  It doesn't work even with DoH (per OP and my testing).

[2020-12-23 10:06] sv-ohorvath opened #17195 "Intermittent UI test failure - TabbedBrowsingTest.verifyTabTrayNotShowingStateHalfExpanded"
### Firebase Test Run:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6532404695638087090/executions/bs.2f606de8ea3dcaaf/testcases/3/test-cases
### Stacktrace:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with id: org.mozilla.fenix.debug:id/tab_wrapper`
### Build:
Master 12/22

[2020-12-23 10:14] Mikaka27 commented on #17183
Also cannot reproduce. I had similar behavior on firefox 82 and earlier when embedded google maps were present. The site would hard lockup. In root terminal emulator you could see that mozilla.firefox.tab0 process was using 100% cpu. Can you check your case?

Also one thing was different, I could load other sites in other tabs but I wasn't able to load this specific site until I restarted firefox.

[2020-12-23 12:16] sheikh-azharuddin opened #17196 "Provide an option to show search results after local results (history, bookmarks, tabs etc)"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-23 12:32] anotherus3r commented on #12908
Yes, this is still happening on Nightly 201222 17:01 (Build #2015782923), with a dark grey overlay blocking half of the citation when Fenix is set to dark theme. Scrolling the page a bit so that the address bar fully appears makes the citation pop-up jump above it, revealing the previously hidden information.

[2020-12-23 12:33] jamienicol commented on #17181
@titiger  @Mikhail-tech or anyone else who is affected by this: could you please test a couple of apks and see if the problem is fixed.

If your android OS is 32 bit:
This apk should be broken: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/fQNzULF0R0ymouVBur1jDA/runs/0/artifacts/public/build/geckoview_example.apk
This apk should hopefully fix the problem: https://firefox-ci-tc.servi

[2020-12-23 12:48] sheikh-azharuddin commented on #17182
Actually there is one setting missing...I have filed a ticket for the same

https://github.com/mozilla-mobile/fenix/issues/17196

[2020-12-23 13:31] anotherus3r commented on #17192
An option to change the name before adding it to the homescreen, like in Chrome, would also be great. Is there an open issue/feature request for this already?

[2020-12-23 13:45] s-ankur commented on #14055
I cant really reproduce this anymore

[2020-12-23 13:47] #7398 closed

[2020-12-23 13:48] #13033 closed

[2020-12-23 14:21] mcarare commented on #17192
@anotherus3r I think you are referring to a shortcut, AFAIK a PWA name should not be changed.

[2020-12-23 14:26] Ankita13-code commented on #14130
@ekager I've been trying to build the app quite for sometime now, but everytime it is crashing with following exception -
java.lang.RuntimeException: StrictMode ThreadPolicy violation

Here are the complete logs:

      E/AndroidRuntime: FATAL EXCEPTION: main
          Process: org.mozilla.fenix.debug, PID: 6268
          java.lang.RuntimeException: StrictMode ThreadPolicy violation

[2020-12-23 14:34] 9ary commented on #16583
Is information available anywhere on how to bisect Fenix? Since this is a regression I'd like to help investigate this further and get it solved quickly as it is a daily annoyance for me.

[2020-12-23 14:37] anotherus3r commented on #17192
@mcarare Opening, for example, Twitter in Chrome and choosing the option to add it to the homescreen (I presume that's the equivalent to Fenix's "Install" option) still let's me change the name. Or did I make a mistake somewhere?

[2020-12-23 14:42] xM8WVqaG commented on #17181
Thanks for that @jamienicol, I've tested the 64 bit APKs

This APK appears to be broken - it loads blank webpages similarly to `>= 84.1.0`.

This APK appears to be fixed - it loads webpages correctly like previous versions.

[2020-12-23 14:42] mcarare commented on #17192
@anotherus3r No, you are right. I am just saying that if Chrome lets you change a PWA's name, it does not mean that it should. IMO the name should respect PWA's name from manifest if that name is set.

[2020-12-23 14:50] jamienicol commented on #17181
That's brilliant, thank you for testing.

Sorry about the inconvenience this has caused. We were trying to use an OpenGL extension to improve performance, but there appears to be a driver bug affecting Adreno GPUs on Android 6. More recent versions of Android don't have this bug so we didn't notice during our testing.

[2020-12-23 15:06] anotherus3r commented on #17192
@mcarare Oh, understood.😉 Though this _would_ be useful in situation like this one.

[2020-12-23 17:00] allhavebrainimplantsandmore opened #17198 "[Bug] Disable layers.acceleration.force-enabled doesn't render web content at all"
## Steps to reproduce
Set to true layers.acceleration.disabled
Set to false layers.acceleration.force-enabled

### Expected behavior
Able to open web pages
### Actual behavior
Shows black canvas where web content normally display.
### Device information
Android 5.0.1
* Android device: Samsung Galaxy Note 4
* Fenix version: ?
Tried 83 and 84.

[2020-12-23 18:51] kbrosnan commented on #17198
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1684081

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2020-12-23 18:51] #17198 closed

[2020-12-23 18:58] kbrosnan commented on #17194
Please use neutral language when filling out the subject. You have filed a few bugs with `critical` fix needed. We only use critical (P1/S1) for issues that prevent the use of the browser for most users. Crashing on startup is a good example.

[2020-12-23 19:40] agi opened #17199 "[Bug] Tapping on PWA shortcut opens custom tab with last opened tab instead"
## Steps to reproduce

This is only approximate, I see this from time to time (it might be related to the PWA startup crash that was fixed recently)

- Have some tabs opened and a PWA launcher on the home screen (e.g. twitter)
- Leave the browser alone for a little bit
- Launch PWA from home shortcut

### Expected behavior

The PWA website opens

### Actual behavior

A custom tab browser opens, an

[2020-12-23 22:14] ale82to commented on #17142
I find it really annoying glad someone else noticed it

[2020-12-23 22:26] neekt commented on #17182
I have updated the issue to make it properly reproducible, and to be clear this is about autocompleting URLs in the address bar, which is affected by the 'Search browsing history' option. The 'Search bookmarks' option is irrelevant to this particular issue (as @mcarare has kindly pointed out.

[2020-12-23 23:26] xM8WVqaG commented on #17181
Thanks for the rapid turn around! I can confirm pages are loading correctly again in [84.1.2](https://github.com/mozilla-mobile/fenix/releases/tag/v84.1.2) (not yet available in the Play Store, but the Play Store is slow).

[2020-12-24 01:04] csadilek commented on #17135
Thank you! Strings have been auto-landing again today.

[2020-12-24 01:04] #17135 closed

[2020-12-24 01:20] Delphine commented on #17135
Thank you all so much!

[2020-12-24 08:17] meson11 opened #17204 "Go back from a tab to home screen should close the tab"
the last back action in a tab is to return to the home screen, but the tab keeps open.  here it is very annoying to have to close the tab manually. i understand, that if the tab closes because you go back unintended, you may came back not so easily. may be a close tab warning, a back to closed tab popup or an option to chose the behavior would be nice.

┆Issue is synchronized with this [Jira Task]

[2020-12-24 08:49] mcarare commented on #16044
@brampitoyo This seems like the same feature as selecting a search engine for one time use by selecting it from the "search engine" toggle list. Should we also change the hint on the address bar for that use case, to match the one described in this issue?

[2020-12-24 11:27] abodea commented on #17181
Verified as fixed on the following builds: **84.1.2 dot RC, 85.0.0.beta4** and **Focus 8.11.2 GV 84.**
With the following devices: **Google Pixel 4 XL (11), Samsung Galaxy S10+ (10), Nexus 4 (Android 5), Moto G (Android 10),  Xiaomi Redmi Note 8T (Android 9), Nexus 5 (Android 6.0.1).**
Due to very specific devices running Adreno 510, we tried to verify this bug on the closest devices we got.
I als

[2020-12-24 11:32] mirko77 opened #17205 "[Bug] New tabs are added to the bottom of the tab list after updating to 84.1.1"
## Steps to reproduce
Open a new tab

### Expected behavior
Tab is added at the top of the tab list

### Actual behavior
Tab is added at the bottom of the tab list

### Device information

* Android device: Xiaomi MI 9 SE
* Fenix version: 84.1.1

[2020-12-24 12:00] mcarare commented on #17205
This is the expected behavior, as implemented for https://github.com/mozilla-mobile/fenix/issues/11376.

[2020-12-24 12:00] #17205 closed

[2020-12-24 12:10] hakkikaancaliskan commented on #17084
I've did some basic implementation :)
I'll open a pr as draft

[2020-12-24 13:01] mirko77 commented on #17205
I find it counter-intuitive, like other users in the discussion you just tagged, see #16884
New items on a list go at the top on pretty much 99% of UI. On Gmail, when a new email comes in, would you expect it to be at the bottom?

[2020-12-24 13:03] mirko77 commented on #16869
See #17205, I agree most recent at the top is the right way

[2020-12-24 14:39] anotherus3r commented on #16794
@eliserichards I noticed the same is happening when Fenix is set to German. Is it because of the length of the string?

[2020-12-24 15:04] emuzychenko opened #17208 "[Bug] All pages are displyaed blank after updating to 84.1.1"
## Steps to reproduce
- Open Firefox
- Enter any URL or tap any icon on the Start Page

### Expected behavior
Displaying of some content is expected.

### Actual behavior
After the last update (84.1.1), Firefox displays blank pages for all URLs I tried. The progress indicator shows that some data are downloaded from the net, but the resulting page is always empty (white or black, depending on the

[2020-12-24 16:01] cadeyrn commented on #17208
Duplicate of #17181, will be fixed with 82.1.2.

[2020-12-24 17:46] csadilek commented on #17208
Thanks for filing! 84.1.2 is rolling out.

[2020-12-24 17:46] #17208 closed

[2020-12-24 18:06] handyguy2 opened #17210 "Add new tab should act the same as first opening android firefox."
A fresh open of Android Firefox shows the URL, top sites and hamburger settings menu. Their is no focus on the URL field, so you can select any of three options: enter URL, click on a top site or select options (so you can go to bookmarks.) However, once Firefox has been opened and you select add a new tab (+) from the select tabs, the focus on the URL and that brings up a mic icon on the top righ

[2020-12-24 18:15] handyguy2 opened #17211 "[Bug] Top sites are not saved or synced between devices and/or the same userid."
As near as I can tell, Firefox does not save nor sync Top Sites. Every device I have needs to have it's top sites recreated, and the changes are never synced nor saved. I am currently running Windows firefox 84.0.1 and android nightly 201219 17:00 build #2015782347, but it has never worked on any version or any device. i would assume that only pinned top sites should be saved and synced.
https://b

[2020-12-24 19:09] AndRo-Marian commented on #12265
Seams this still happens on start page where no website is open.

[2020-12-24 20:37] andreicristianpetcu commented on #12731
This started to reproduce on my phone again. I think I had several media heavy tabs with videos and photos. I also had more tabs than usual.

If you need any technical info like logs or profile or whatever, please tell me. Not sure if the info provided by others is enough or the more the merrier.

[2020-12-24 22:22] Riley-Hart opened #17212 "Sometimes can't scroll up in tabs list on Android app"
See [https://support.mozilla.org/en-US/questions/1318857](https://support.mozilla.org/en-US/questions/1318857)
for several users' descriptions of this issue.  I'd really appreciate it if you could ask them, not just me, if you need more information. I don't want to be a bottleneck but may not be able to respond quickly, and some of them are really good at describing what's going on. Thanks!

## St

[2020-12-24 23:27] headbank commented on #17212
Seeing this on my partner's Galaxy S7 Edge (Android 8.0.0). Dragging down closes the drawer when it should scroll-up the tabs (12 tabs open). Occasionally the drawer vanishes entirely while (unintentionally) closing and reappears at fully-opened position.

Similar issue whether in row or grid display mode. Workaround mentioned above only has effect for one scroll of the drawer, then back to the bu

[2020-12-25 02:47] sheikh-azharuddin opened #17214 "move configured preferences to the top"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-25 10:06] mortyobnoxious commented on #16686
Same here.
![Screenshot_2020-12-25-13-02-09-945_org mozilla firefox](https://user-images.githubusercontent.com/42044258/103131463-ef20ec00-46b1-11eb-883e-70ed6781706c.jpg)

[2020-12-25 12:17] philipreimer commented on #14633
The situation actually has become worse.
With Firefox 84.1.2 on Android 10 (Nokia 8.1) Autofill from Keepass2Android does not work at all anymore.

Even if I get the autofill menu to appear at some point no login data gets filled into the login form.

[2020-12-25 13:03] silverwind opened #17215 "[Bug] "Add to home screen" icon has strange background"
## Steps to reproduce

1. Open https://try.gitea.io/
2. Open the menu and "Add to home screen"
3. Inspect the resulting icon on the home screen

### Expected behavior

The produced home screen icon should match the one produced by Chrome.

### Actual behavior

![image](https://user-images.githubusercontent.com/115237/103135619-c866b380-46b9-11eb-9762-6cf3823e5d51.png)

Left one is produced by Chro

[2020-12-25 13:16] silverwind commented on #17215
Might be related to https://github.com/mozilla-mobile/fenix/issues/14315.

[2020-12-25 14:27] psy0rz opened #17216 "[Bug] Very slow, choppy performance of SVG compared to Chrome on same device (example included)"
(This is an existing bug that unfortunately still exists: https://bugzilla.mozilla.org/show_bug.cgi?id=1289866 )

Visit this page on both Firefox nightly (fenix) and Chrome on Android: http://vallandingham.me/gates_bubbles/

Performance on Fenix is much slower.

I'm designing an online collaborate drawing tool, and Fenix is completely unusable compare to a smooth experience in Chrome. I know my ap

[2020-12-25 14:31] psy0rz commented on #17216
I also tried remote performance analyzing the regular Firefox via remote USB: It shows 80% idle while it also shows almost 0fps. So everything seems fast enough, yet for some reason its not.

[2020-12-25 15:25] Dunexus commented on #17216
Hello,
Do you have webrender enabled ?

I tried on Oneplus 5T (Android 10) with webrender enabled and it is quite smooth.

[2020-12-25 16:17] sheikh-azharuddin commented on #17216
Seems malicious ads and webpages embedded in the link

Careful guys

![Screenshot_20201225-214630860](https://user-images.githubusercontent.com/58127841/103138657-b5c09e80-46fa-11eb-929f-87dc061b3c46.jpg)

[2020-12-25 17:20] MicroBeast commented on #17216
That's not coming from any links from OP.

[2020-12-25 17:37] handyguy2 opened #17218 "Save bookmark menu should show a small selection of recently saved locations, like the desktop version"
Firefox desktop offers up a recent history of 7 folders when saving a new bookmark in the Edit this Bookmark folder drop down. The Android version forces you to navigate through your entire list of bookmarks. This is painful on a touch screen driven device. The two products should operate the same; update Android Firefox to offer up the most recently used bookmark folders.

[2020-12-25 18:30] benjsnellings opened #17219 "[Bug] Crashing when accessing old Collections item"
## Steps to reproduce
Open an older collections item. For some reason newer ones do not cause issue. I cannot say what date exactly the issue started, as i was not paying that much attention. Some time within the last month.

### Expected behavior
Collections tab opens a new link

### Actual behavior
Onclick causes a app crash
https://crash-stats.mozilla.org/report/index/afa7cd35-6393-4825-bb91-20

[2020-12-25 19:43] Kumar808 opened #17220 "print web page"
When will you add print page option in it ??????

[2020-12-25 19:48] Kumar808 opened #17221 "Save as pdf"
When will you add save as PDF option in it ??????

[2020-12-25 20:29] Dunexus commented on #17220
Duplicate of https://github.com/mozilla-mobile/fenix/issues/10217

[2020-12-25 20:30] Dunexus commented on #17221
Duplicate of https://github.com/mozilla-mobile/fenix/issues/3709

[2020-12-25 20:30] hakkikaancaliskan commented on #11474
Not reproducible on Android 11, Xperia XZ1, 12/24 Nightly

[2020-12-25 20:54] MarjaE2 opened #17222 "[Bug] Flashing animation on "Authorize this Sign-In""
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-25 21:01] MarjaE2 opened #17223 "[Bug] support.mozilla.org strobes when scrolling in Firefox for Android in e-ink display"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-25 21:11] MarjaE2 opened #17224 "[Bug] Firefox for Android either fails to sync ui.caretBlinkTime or ignores it"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-25 21:45] kaiodcosta opened #17225 "Unlock any pop up blocking attempts"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-25 22:06] jawz101 opened #17226 "support for more add-ons in stable"
Many faithful users would love to use Firefox as it was meant to be used- as a stable, full-featured app.  Aside from lack of a clear roadmap, development of desirable features remains in nightly never to reach stable.

A year ago we were told the switch to Fenix would allow developments to focus on the newer codebase with a rapid development to bring Firefox back to feature parity.

Extended add-

[2020-12-25 22:08] titiger commented on #17181
thank you very much, everything works again!

[2020-12-25 23:16] #17226 closed

[2020-12-26 01:06] willfs84 opened #17228 "[Bug] favicons in Bookmarks and History managers are in light circle when Firefox is in dark theme"
Set Firefox to dark theme. Go to Bookmarks manager or History manager and observe the favicons of the websites are in a light circle. The circles should be dark, not light. (Chrome has the favicons in dark circles so clearly there's nothing to worry about)

[2020-12-26 02:47] Harsh-dbey opened #17229 "[Bug] Twitter behaving weirdly on firefox"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-26 03:27] sheikh-azharuddin commented on #17216
Visit the link http://internet-paper.com/paper.html
And click on any grid whitespace in middle of screen... Ads will be bombarded

[2020-12-26 04:17] psy0rz commented on #17216
I assure you, that shouldnt come from my html code. Or it should be from one of the external assets which i highly doubt. (in the current masterbranch the assets are hosted locally from now on)

However i see that the server has crashed as well, so i'll investigate that.

[2020-12-26 05:16] addas commented on #17188
Is there any way I can enable `about:config` in stable Fenix (Android Firefox)?

[2020-12-26 06:46] sheikh-azharuddin opened #17230 "simplify addon page and easy accessibility"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-26 07:34] Idesmi commented on #3710
bump

Please reintroduce it, I used to read the source regularly on Fennec. The need of a second computer to do that is a hassle, when it could already be done on mobile alone.

[2020-12-26 07:45] psy0rz commented on #17216
I first had to find out how to able it and how to get to about:config (available in Firefox beta only for some reason).

Then i checked about:support on Fenix to discover that compositing already was WebRender on my Fenix by default.

But still zooming on http://internet-paper.com/paper.html is super slow. (and even if it wasnt: telling our users to enable some option via about:config is not a lon

[2020-12-26 08:25] KrasnayaPloshchad commented on #16121
Let’s see what happened to me.
![Screenshot_20201226-162415](https://user-images.githubusercontent.com/10364351/103148079-ec4bf700-4796-11eb-8bd7-ac6b3ebe6803.png)

[2020-12-26 09:05] sheikh-azharuddin commented on #17216
Page redirecting to suspicious sites...
Just zoom in the page...click on empty grid on right hand side..it is showing. @MicroBeast

![2020-12-26-14-32-16](https://user-images.githubusercontent.com/58127841/103148593-8310b780-4787-11eb-9ac0-47a692d8a259.gif)

[2020-12-26 09:13] sheikh-azharuddin commented on #17216
How to enable webrender...I mean I enabled GFX.webrender.all to true but still zooming in and out too slow..it is faster in chrome

[2020-12-26 09:21] psy0rz commented on #17216
Thanks for confirming the slowness.

I still don't understand whats happening with that redirect. I think its your phone or network perhaps. Also check my github profile to assure yourself that i have nothing to gain from redirecting to some lame spam site.

Keep in mind the connection to that site is encrypted yet, so something along the way could be inserting ads as well.

[2020-12-26 09:26] ptar commented on #14633
Almost th same to me with 84.1.2 on Android 10 (LG V40): E.g. the github login took me some tipping between username and password fields, until the autofill constantly appears. Then selecting the credentials and when coming back, a reload and some luck with the next 5 or 10 focus switches between username and password to get a "sticky" autofill dialogue.
When I checked a login page with Chrome in

[2020-12-26 10:02] hakkikaancaliskan commented on #12732
@Amejia481 I did this without using data class. I'll open pr for both on AC and fenix. Could you please review them?

[2020-12-26 11:36] Neon329 commented on #10640
Enpass has confirmed that it's a Firefox bug. They said it's happening because of miscommunication between Firefox and Enpass.

[2020-12-26 11:48] psy0rz commented on #17216
Since its XMAS i fiddled some more to pinpoint the problem and allow better test comparisons :)

http://internet-paper.com/svgtest.html

This actually crashes firefox on the desktop and mobile, but runs pretty ok on Chromium.

What it does is:

- Draw 200 random polylines with 200 segments each with a max size of 10000x10000. (no problems here)
- Randomly zoom and pan, inside an animation frame.
-

[2020-12-26 11:55] hakkikaancaliskan commented on #12732
@Amejia481 I've did with data class. Could you please review them?
AC side: https://github.com/mozilla-mobile/android-components/pull/9300
Fenix side: https://github.com/mozilla-mobile/fenix/pull/17231

[2020-12-26 12:22] sheikh-azharuddin commented on #17216
Might be bro...first time I got this error with this page..seems someone injected something

[2020-12-26 12:50] psy0rz commented on #17216
update: it doesnt crash, it just eats 10Gb of memory and then hits the OOM killer.

[2020-12-26 13:08] aslmx commented on #8642
Almost another 8 weeks passed.
I'm away from my LAN over christmas and everytime i access webpages hosted at home, I hit the .htaccess basic auth. I'm seriously annoyed.

If we can't get a date for the fix, can we get a date when this will be decided?

[2020-12-26 13:42] psy0rz commented on #17216
I changed the zoom to be as simple a possible, only an SVG element and viewbox zooming: http://internet-paper.com/svgtest2.html

The firefox variants only seem to be slower with this specific set of circumstances. They are orders of magnitude slower when the polygons have very long segments.

All and all much faster and hopefully acceptable for our use case.

TLDR
-  huge polygons have slow viewbo

[2020-12-26 14:23] andreicristianpetcu opened #17232 "[Bug] Wasm benchmark regression for PSPDFKIT"
## Steps to reproduce
visit https://pspdfkit.com/webassembly-benchmark/
and wait
### Expected behavior
it should run the test, just like beta
![Screenshot_20201226-162039_Firefox_Beta](https://user-images.githubusercontent.com/922368/103153090-911a0480-4796-11eb-95de-cb6995a26d11.png)

### Actual behavior
nightly is stuck in 'Running...'
![Screenshot_20201226-162057_Firefox_Nightly](https://user-i

[2020-12-26 14:24] andreicristianpetcu commented on #17232
Might this be related to cranelift? https://mozilla-spidermonkey.github.io/blog/2020/12/18/newsletter-8.html
![Screenshot_20201226-162419_Firefox_Nightly](https://user-images.githubusercontent.com/922368/103153129-dcccae00-4796-11eb-9d24-d9630e9dd7b0.png)

[2020-12-26 14:29] hakkikaancaliskan commented on #16980
Unable to reproduce on 12/25 Nightly.

[2020-12-26 14:35] 0x391F commented on #17154
OK. I want to talk about this for a long time.
Why users need about:config?
If you want to enable DNS over HTTPS, you only need to set network.trr.mode = 3 and set network.trr.uri = https://<DNS Server>/dns-query ;
If you want to disable WebRTC to prevent leaking IP address when you're using a proxy, you only need to set media.peerconnection.enable = false, without any plugin (Google Chrome needs

[2020-12-26 14:45] hakkikaancaliskan commented on #17051
Not reproducible on Xperia XZ1, Android 11, 12/25 Nightly
![photo_2020-12-26_17-45-16](https://user-images.githubusercontent.com/17825767/103153516-21aa1200-47a2-11eb-85f2-7cd53f9213b2.jpg)

[2020-12-26 15:01] bedfojo opened #17233 "[Bug] Search pop up does not respect default search engine"
Steps to reproduce

Choose a search engine as default (e.g. DuckDuckGo) which is not the first on the list of installed search engines (which is Google in the original install).
Then select some text in a web page and choose "search" from the pop-up menu.

Expected behaviour

The search should be made using the chosen default search engine.

Actual behaviour

The search is carried out using the fi

[2020-12-26 17:45] KrasnayaPloshchad opened #17234 "[Bug] Fenix crash sometimes when I switch tabs"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-26 17:47] KrasnayaPloshchad commented on #17234
This bug seems happened exclusively after opening multiple pages from Wikimedia sites.

[2020-12-26 18:39] KrasnayaPloshchad commented on #17148
To my eyes, Firefox icon could be bigger a bit in its background.

[2020-12-26 19:48] Hubfront commented on #8642
Merry christmas to you. I would expect it to be fixed in Q1, thats what Eugen Sawin said. He works since 7 years for Mozilla and seems to have some influence in the developent team.. If we would see some progress in January on this would be gladly appreciated.

[2020-12-27 02:55] xmha97 opened #17236 "Take a screenshot in incognito mode"
Hi,
Please add an option to allow take a screenshot in incognito mode (like TorBrowser)
![TorBrowser](https://user-images.githubusercontent.com/23485114/103162907-0e339100-480c-11eb-8129-4365054bde78.jpg)
Thanks.

[2020-12-27 03:11] ameaninglessname commented on #17236
It's already there.
Check "Settings-Private Browsing-Allow screenshot in..."

[2020-12-27 03:15] xmha97 opened #17237 "[Bug] Push notifications"
Can't enable push notifications on Twitter.
![Firefox](https://user-images.githubusercontent.com/23485114/103163106-d548eb80-480e-11eb-9289-6179b8a1fecd.jpg)

[2020-12-27 03:22] xmha97 opened #17238 "Swipe up to show tabs"
Swipe up to show tabs
![Firefox](https://user-images.githubusercontent.com/23485114/103163194-0d046300-4810-11eb-9d41-af21195a187d.gif)

[2020-12-27 03:25] xmha97 commented on #17236
Thanks, I didn't see this option. 🙏

[2020-12-27 03:25] #17236 closed

[2020-12-27 04:20] sheikh-azharuddin commented on #17238
I would like swipe to show additional items
Like add-ons (active add ons with batch no like desktop version),  share button, page info, save to pdf, add to top sites, save to collection,desktop site etc

[2020-12-27 05:04] sheikh-azharuddin commented on #17237
Works fine here with nightly...please check if you have tweaked some settings (example useragent)

![Screenshot_20201227-103253467](https://user-images.githubusercontent.com/58127841/103164255-ef92c180-482e-11eb-8458-9af8b6fcedde.jpg)

[2020-12-27 05:46] sheikh-azharuddin opened #17239 "implement best features, settings and UI from firefox lite in Fenix"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-27 08:41] zakius commented on #17239
making things uglier is not appealing, that should be obvious

[2020-12-27 09:58] Dunexus commented on #17238
Seems like a duplicate of https://github.com/mozilla-mobile/fenix/issues/11862

[2020-12-27 15:32] andrecc-7 commented on #9348
Hei, yes the issue was solved with the new interface!

[2020-12-27 16:53] montilo commented on #14633
This bug is so annoying... I hoped there will be a bugfix soon, but after months i will probably switch my Default browser :-(

[2020-12-27 17:00] cadeyrn commented on #17239
Please open one issue per feature request. It doesn't make sense to have one issue for all these different features that are totally unrelated.

[2020-12-27 17:49] kevvurs opened #17241 "CustomTabsCallback Navigation Event Support in Fenix"
Will the Mozilla Mobile team consider supporting `CustomTabsCallback`, e.g. for `onNavigationEvent(int, Bundle)`? I believe this is defined by the [spec](https://developers.google.com/web/android/custom-tabs/implementation-guide#custom_tabs_connection_callback) with codes for each event. Chrome and Chromium-based browsers support this feature. However, using this appears to exclude Firefox users f

[2020-12-27 20:05] michal1315 opened #17242 "Huge issues with vsync [Bug]"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-27 21:08] Jean85 commented on #14633
FTR, this was originally reported as https://github.com/PhilippC/keepass2android/issues/1399, so it's still hitting us after 4 months (and many major versions).

Anyone can at least let us know if this is addressable by the devs?

[2020-12-27 22:24] richardp345 commented on #7546
I've read through the associated bug reports and the upstream issues filed with Google and understand the difficulty.  However, although it will fail to properly load local HTML files with local child content using the content:// scheme, Chrome still shows up as a viewer on Android for local HTML files and if the file has no child content it will load just fine.  Since FF 80 on Android, FF doesn't

[2020-12-28 01:13] manalog97 opened #17244 "In-progress downloads don't appear in the 'Downloads' window"
On Android 10 Lineage OS Sanders for Moto G5S+ the downloads in progress aren't shown in the 'Download' window but only in the notification area. Tapping the notification doesn't produce anything. Only completed download are shown in the Downloads section, thus, it is impossible to pause, cancel and in general manage a download in progress.
Fenix version: 84.1.2 (Build #2015783147)

[2020-12-28 04:14] sheikh-azharuddin opened #17245 "Pin icon with rounded top site design"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-28 04:18] sheikh-azharuddin commented on #17239
Ok I will raise separate request...ideally when a company plans to move to a new version they simple don't ignore the best features of old existing browser....the point is when existing firefox had too many good features why they were not carried forward🤷🏻 simply does not make sense...

[2020-12-28 04:23] sheikh-azharuddin opened #17246 "Revamp three dot menu"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-28 04:30] sheikh-azharuddin opened #17247 "Block images"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-28 04:36] sheikh-azharuddin opened #17248 "Bookmark icon and bookmarked sites icon color"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-28 04:38] #17239 closed

[2020-12-28 08:12] zakius commented on #17239
been telling that to desktop department for years, don't get your hopes high

but also don't treat ugly UI as a best feature

[2020-12-28 08:36] rail01 opened #17249 "[Bug] Custom DoH settings in about:config (Nightly) are ignored"
## Steps to reproduce

1. Using Nightly branch, go to `about:config` and set custom DNS over HTTPS (DoH) provider by changing: `network.trr.custom_uri` to DNS provider of choice, `network.trr.mode` to `2` or `3` and `network.trr.bootstrapAddress` to DNS provider's IP adress
3. Go to `about:networking` and under `#dns` tab check currently used DoH provider (Cloudflare)

### Expected behavior
Custom

[2020-12-28 10:20] dlecan commented on #10846
@NotWoods I can confirm the described behaviour on Fenix 84.1.1 (release)
The Manifest is valid, according to https://manifest-validator.appspot.com/

[2020-12-28 10:39] softvision-miralobontiu opened #17250 "[Bug] The "Report site issue" option isn't displayed when reading mode is enabled"
## Steps to reproduce
1. Open a page that can support reader mode.
2. Enable the reader mode.
3. Open the three-dot menu and observe the "Report site issue".

### Expected behavior
The "Report site issue: option is displayed.

### Actual behavior
The "Report site issue: option is not displayed. Disabling the reader mode, displays the "Report site issue" option.

### Device information
* Android de

[2020-12-28 10:54] nanowinner commented on #12414
Hi, has there been any progress on this issue?

[2020-12-28 10:55] berndfuhrmann opened #17251 "[Bug] crossOriginIsolated not working on Android"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-28 11:40] dlecan commented on #10252
@robbah @makepanic what are the URL of your websites?
I'd like to understand the context of this issue.
Thank you

[2020-12-28 12:19] lobontiumira opened #17252 "[Bug][custom tab] "Desktop site" toggle doesn't enable even if the page is displayed as desktop site"
## Steps to reproduce
1. Make Firefox Nightly the default browser.
2. In Gmail, open a site in custom tab.
3. From the three-dot menu, enable the "Desktop site" and observe the toggle.
4. From the three-dot menu, select to "Open in Firefox Nightly" and observe if the page is opened in desktop mode.

### Expected behavior
The page is opened in desktop mode, and the toggle is enabled.

### Actual be

[2020-12-28 12:29] Amejia481 commented on #12732
Hi @hakkikaancaliskan I'm on PTO spending some quality time with family and friends during the holidays 🙂. I know others team members that are available will review, be aware reviews could take a bit longer as many people are on PTO too.
Happy holidays!

[2020-12-28 12:32] hakkikaancaliskan commented on #12732
Ohh of course, I was expecting to be reviewed after holiday already, happy new year to all team members :)

See you after holiday ☺️ have a good time

[2020-12-28 14:57] leontancfa commented on #12414
You can vote the issue up

[2020-12-28 17:49] Step72 opened #17254 "[Bug] Scroll problem with my android mouse"
Hello,

I have a [HUAWEI MediaPad M5 Lite 10 tablet](https://www.amazon.fr/gp/product/B07G3JFHJR/?tag=hu2-21) I use it with a mouse connected to USB thanks to[ this adapter.](https://www.amazon.fr/gp/product/B07YWW8C6X/ref=ppx_yo_dt_b_asin_title_o03_s00?ie=UTF8&psc=1)

For some time with my mouse, I can no longer scroll through the pages of browsers like Firefox.

Rather than scrolling the text fr

[2020-12-28 20:06] cadeyrn commented on #17239
Your issue is about features from Firefox Lite. Maybe you don't know it but Firefox Lite is a Webkit (not GeckoView!) based product from a different and independent team that no longer exists. The mobile products from Mozilla's independent Asia department like Firefox ScreenshotGo and Firefox Lite were discontinued and neither related to the old Firefox (<= 68) nor to the new Firefox (79+, also kn

[2020-12-28 20:23] vesta0 commented on #16494
Thanks for the questions @mcarare :) See responses below.

File types (so we know which bugs to prioritize when a site is not playing an audio/video)

Sounds like adding timestamps should be good enough but please check with Data Science to make sure!

Sounds good, it would be good to investigate this while keeping in mind that a percentage of those failures could be due to web compat issues (or e

[2020-12-28 21:01] s-ankur commented on #14454
Seems to be fixed now, @cadeyrn could you confirm?

[2020-12-28 21:44] cadeyrn commented on #14454
I only tested Firefox Nightly and can confirm that it looks much better now.

[2020-12-28 21:48] NotWoods commented on #10846
The icon paths are invalid in the site's manifest - they point to 404s.

The icons appear to be located in `/attestation-couvre-feu-covid-19/`, but the manifest is located in `r/attestation-couvre-feu-covid-19/favicon/`. As icon paths are relative to the manifest path, icons are loaded from the favicon folder and fail to load.

[2020-12-29 02:27] rocky-01 opened #17256 "keep scanner, search engine selection in search bar itself. why keep them above?"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2020-12-29 02:30] mattmactimpson opened #17257 "Firefox on iOS crash on startup"
So since update 29 my Firefox crashes on startup of the app I do have a large amount of tabs open over 300 which I believe to be the issue but I don’t want to lose any tabs

[2020-12-29 03:01] #17257 closed

[2020-12-29 03:18] jGRite opened #17258 "Sync Names don't match from desktop browsers"
I've renamed all my synced devices. However when I send or share from a desktop browser (Windows and Linux) the names aren't what I changed them to. This means that I can't tell what is what easily. Not an issue on Android.

[2020-12-29 10:16] hokonch commented on #14633
The same bug was also reported in KeePassDX, another KeePass client, and the developer did some workaround. KeePassDX autofill works fine on Firefox now except for a minor issue.
https://github.com/Kunzisoft/KeePassDX/issues/725
I suspect that this bug is caused by Firefox, but the developer of Keepass2Android may be able to do the same workaround.

[2020-12-29 13:49] abodea commented on #17133
Hello, @eliserichards regarding ETP redirect trackers, once every 24 hours ETP 2.0 will completely clear out any cookies and site data stored by known trackers. This prevents redirect trackers from being able to build a long-term profile of your activity.
When you first visit a redirect tracker it can store a unique identifier in its cookies. Any redirects to that tracker during the 24-hour window

[2020-12-29 13:55] sflorean commented on #17258
@jGRite did you change the name on Android device? I'm asking because you write that isn't an issue on this platform. If it is an issue found on desktop, the bug should be filed on Bugzilla.

[2020-12-29 15:19] ale82to commented on #17237
I ve reported this issue long ago it 's not a matter of stable /beta nighlty version thing.
after some times something got corrupted with root i have to manually delete push.sqlite under app data folder.
still I don't understand why push notification are so unreliable in fenix, I cannot enable them for both Facebook and Instagram

[2020-12-29 21:15] skierpage commented on #10470
I just discovered Share > Send to Device > Firefox _(elsewhere)_ . It works great from Firefox on Android to Firefox Nightly on Linux, but it doesn't seem to work at all between my phone and tablet with Firefox for Android. A "Tab sent!" purple bar briefly appears, but the sent tab doesn't appear on the other device when I tap the tab counter or when I view the "home screen". It sounds like this b

[2020-12-29 23:45] happychameleon opened #17259 "Floating header bars move when scrolling"
## Site with issue and any steps to reproduce

https://www.fastcompany.com/90582978/e-bike-pandemic-2020-gazelle-van-moof

Scroll down, then scroll up.

### Expected behavior
The floating header bar sticks in place as the page moves under it.

### Actual behavior
When initially scrolling down the header bar stays in place, but once one is moving back up it moves about to pixels down revealing a wh

[2020-12-29 23:51] #17259 closed

[2020-12-30 00:34] scrp445 opened #17261 "[webcontent] The "Like" button on Facebook is pressed when I try to view replies in comments"
## Site with issue and any steps to reproduce
**Site:**
facebook.com

**Steps to reproduce:**
- Open a Facebook post
- Search a comment with responses
- Click on "_'Some person'_ replied _X_ replies" (Occurs only when the person's name is pressed)

### Expected behavior
The replies should open
### Actual behavior
The "Like" button is pressed
### Does toggling Tracking Protection fix the issue? (Pr

[2020-12-30 05:32] theFireProjet commented on #9445
I cannot reproduce any issue like that at the moment. Possibly the behaviour when interacting with the address bar has changed anyways since back then. Now it looks like there is no problem anymore.

[2020-12-30 05:32] #9445 closed

[2020-12-30 09:12] pidus commented on #17246
These looks indeed nice. The current implementation has a long list. User has to play finger gymnastics if they try to reach some option that's at the top.
![Screenshot_2020-12-30-14-36-55-862_org mozilla fenix](https://user-images.githubusercontent.com/11857051/103341375-ca12eb80-4aac-11eb-9809-121fdbd08572.jpg)

[2020-12-30 09:59] softvision-miralobontiu commented on #4178
This issue is still reproducible on all versions of Fenix: 12/29 Nightly, Beta 85.0.0-beta.4, and RC 84.1.2.

[2020-12-30 10:01] toxpal commented on #17234
It happens for me for about 1 week... On some sites if I open multiple tabs and try to switch, Fennec freezes for a second or two, and then crashes. Happens on some websites only, but it never crashed before.

Xperia 5 II/Android 10.

Latest update didn't solve the issue, it drives me crazy.

[2020-12-30 10:06] softvision-miralobontiu commented on #4938
I was not able to reproduce this issue on the 12/29 Nightly build with HTC 10 (Android 8).
I'll close this issue.

[2020-12-30 10:06] #4938 closed

[2020-12-30 10:07] sflorean commented on #2997
Still reproducible on Nexus 6P and latest Nightly build (12/30).

[2020-12-30 10:08] sflorean commented on #6735
Not reproducible on Nightly 12/30 with Nexus 6P. I will close this issue.

[2020-12-30 10:08] #6735 closed

[2020-12-30 10:10] toxpal commented on #10417
The issue still exists for me on 84.1.2 (Xperia 5 II/Android 10). Some sites work just fine, but others always display last cached versions when opening tabs from collections.

Let's say I add website domain.com to collection. When I open domain.com from collection later, app displays old version (even if I open website several days later), and I need to manually reload page. After I reload, this

[2020-12-30 10:22] softvision-miralobontiu commented on #6391
I was not able to reproduce this issue anymore on Google Pixel (Android 10) on the latest Nightly build from 12/29.

[2020-12-30 10:22] #6391 closed

[2020-12-30 11:24] michaelof commented on #16475
Still in 84.1.2
As there are no logs etc., one maybe helpful finding: I'm using Anysoft keyboard on Android. It seems that the crash only or at least more frequently happens, if keyboard is open/shown. E.g.: Nextcloud login screen, when shown fullscreen, no keyboard, offered credentials mostly works. When klicking into user name field, keyboard pops up, waiting for input. If then clicking on store

[2020-12-30 11:27] michaelof commented on #16475
Still in 84.1.2
As there are no logs etc., one maybe helpful finding: I'm using Anysoft keyboard on Android. It seems that the crash only or at least more frequently happens, if keyboard is open/shown. E.g.: Nextcloud login screen, when shown fullscreen, no keyboard, offered credentials mostly works. When klicking into user name field, keyboard pops up, waiting for input. If then clicking on store

[2020-12-30 11:28] michaelof commented on #16475
Same behaviour with Gboard :(

[2020-12-30 12:05] cousteaulecommandant commented on #14646
Bug [bz-1532446](https://bugzilla.mozilla.org/show_bug.cgi?id=1532446) was closed stating that all Fenix bugs should be reported here from now on, so I suggest we move the conversation here, or better yet, re-open that bug as a new issue here.

[2020-12-30 12:09] softvision-miralobontiu commented on #5786
I'm still able to reproduce this issue with the 12/29 Nightly build with Google Pixel (Android 10).

[2020-12-30 13:01] cousteaulecommandant opened #17262 "[Bug] Temporary files in app_tmpdir not being deleted, resulting in hundreds of MB of used device storage"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-30 13:05] cousteaulecommandant commented on #14646
I just submitted #17262 as a continuation of [bz-1532446](https://bugzilla.mozilla.org/show_bug.cgi?id=1532446).
I preferred to make it a separate issue since that one discusses the specific problem and this one suggests using telemetry to diagnose that kind of problem in the future.

[2020-12-30 13:34] cousteaulecommandant commented on #7458
Should the title be changed (again) to better reflect this?  Right now it doesn't reflect the fact that it refers to the request of a two-tabbed interface, thus why it was mistakenly identified as a dupe of #3621.  (The original title was closer to this.)

[2020-12-30 13:39] maurerle opened #17263 "downloaded file has bin extension instead of opensudoku"
Downloading new sudokus for the opensudoku app from their website:
https://opensudoku.moire.org/ downloads a file with bin extension instead of opensudoku extension which is why it can not get recognized by the app.

## Steps to reproduce
1. Open https://opensudoku.moire.org/sudoku/easy.opensudoku in Fennec Android downloaded from F-Droid
2. Downloaded file gets saved as easy.bin instead of easy.o

[2020-12-30 13:56] cousteaulecommandant commented on #176
May I add or suggest "swipe URL bar down/up to hide it"?  (i.e., swipe it towards the edge, as opposed to swiping it away from the edge as suggested in #11862.) Sometimes the URL bar seems to refuse to hide.

[2020-12-30 13:58] sophiekuehn commented on #14633
@hokonch The workaround sadly is not helping on Android 8.0 devices, where the autofill popup still is not appearing at all.

[2020-12-30 14:11] softvision-miralobontiu commented on #7571
I was able to reproduce this issue with 12/29 Nightly build with Google Pixel (Android 10).

[2020-12-30 14:27] softvision-miralobontiu commented on #7678
I was not able to reproduce this issue anymore on Samsung Galaxy Tab s6 (Android 10) on Beta 85.0.0-beta.4.
I'll close this issue.

[2020-12-30 14:27] #7678 closed

[2020-12-30 14:44] robbah commented on #10252
@dlecan
It is a private web application dev environment: https://cobyplanning.hypeit.nl/
Please let me know when you a finished debugging so i can remove the link.

[2020-12-30 15:14] Mikaka27 commented on #1984
@palerdot I think you should mention this problems here: #17031

[2020-12-30 15:17] Mikaka27 commented on #17031
Hi I see this problem [here](https://forum.dobreprogramy.pl/t/czym-sie-rozni-samsung-galaxy-m31-s-od-m-31/630107)

Scroll down and stop. Then address bar appears by itself.

[2020-12-30 15:22] sflorean commented on #17263
I wasn't able to reproduce the issue on Nightly 30/12 with Xiaomi Redmi Note 8T (Android 9).

[2020-12-30 15:28] maurerle commented on #17263
I just downloaded Firefox for Android Beta from the Play Store which is Version 85.0.0-beta.4 and could reproduce the issue on Android 10.
The other device which reproduced the issue is also running on Android 10?

[2020-12-30 15:29] sflorean commented on #17234
I wasn't able to reproduce the crash on Xiaomi Redmi Note 8T (Android 9) or Pixel 3 (Android 11) on latest Nightly. @KrasnayaPloshchad do you have some additional steps? Thank you!

[2020-12-30 15:31] maurerle commented on #17263
Just tested current Firefox Nightly 201229 and could also reproduce the issue

[2020-12-30 16:12] toxpal commented on #17234
@sflorean I was able to re-produce the issue on wikimedia site on the first try. This is what I did - launched app with no tabs, typed wikimedia.org and waited for website to load. Then I opened 8 tabs (by clicking first 8 links) in background. Once I tried to switch tabs, app freezed and crashed (and suggested to send a report to Mozilla).

Just to let you know, this issue happens with many other

[2020-12-30 16:23] sflorean commented on #17237
Thanks for reporting! Dupe of #15477.

[2020-12-30 16:23] #17237 closed

[2020-12-30 16:25] sflorean commented on #17220
Closing, based on the above comment.

[2020-12-30 16:25] #17220 closed

[2020-12-30 16:25] sflorean commented on #17221
Closing this, based on the above comment.

[2020-12-30 16:25] #17221 closed

[2020-12-30 16:30] sflorean commented on #16432
Indeed, seems that is displayed on the affected devices. Closing this.

[2020-12-30 16:30] #16432 closed

[2020-12-30 16:35] sflorean commented on #17263
Thanks @maurerle for the extra info, I was able to reproduce it on an Android 10 devices.

[2020-12-30 16:42] sflorean commented on #16872
@reyis4402 please file new issue for the bugs you find. I will close this because it is hard to follow even if we edit. Thanks for understanding and report!

[2020-12-30 16:42] #16872 closed

[2020-12-30 17:05] maurerle commented on #17263
The .bin extension seems to come from here:
https://github.com/mozilla-mobile/android-components/blob/51bd9843331f62f63cdef5f9c98361198158c67d/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadUtils.kt#L148-L152

It is unclear to me why this code branch is taken as the filename obviously contains a dot?

the mime-type of the file is [application/octet-stream]

[2020-12-30 18:03] KrasnayaPloshchad commented on #17234
No, no more steps, that’s all, and the problems happened randomly and suddenly.

[2020-12-30 20:38] NotWoods commented on #10252
@jonalmeida It seems that the issue is we don't support `matchMedia('(display-mode: standalone)')` - aka we don't support the [media query](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/display-mode) properly. This probably requires a hook from GeckoView since its currently unaware what display mode is used.

[2020-12-30 22:03] Octoton commented on #7458
After using this navigator for some time, this issue seems better suited for my problems: https://github.com/mozilla-mobile/fenix/issues/12071

[2020-12-30 22:04] Octoton commented on #7458
This one can then be close without problem by me

[2020-12-30 22:38] kodabb opened #17265 "[Bug] [Regression] Several UI features hidden under an additional tap"
## Steps to reproduce
* open app on a tablet
* try to go back a page or refresh
* no button present on the main UI
* you need to press the hamburger menu
* then press the desired button

### Expected behavior
should be able to go back a page or refresh without going in the submenu, but there are no buttons available, despite the large amount of screen estate available

### Actual behavior
you need

[2020-12-30 22:40] cadeyrn commented on #17265
Duplicate of #14921.

[2020-12-30 22:42] kodabb opened #17266 "[Bug] [Regression] Send to Device requires several additional actions"
## Steps to reproduce
* in another app, hit the Share button
* tap "open in Firefox"

### Expected behavior
I should be able to select whether to Open in Firefox or Send to Device

### Actual behavior
* I need to switch to firefox
* hit hamburger menu
* hit share
* hit the device i want to share with

(total of 4 additional taps that were not present in the previous version of Firefox)

### person

[2020-12-30 23:31] cadeyrn commented on #10417
@toxpal This is expected since the issue is not yet fixed in Firefox 84. It takes some time to get changes from Nightly via Beta to stable releases.

[2020-12-30 23:42] cadeyrn commented on #17266
Duplicate of #1523.

[2020-12-31 05:29] Armoree commented on #17031
@Mikaka27 Yes many sites seem to have the same problem. I feel that the bug often occurs when a webpage shows, above the whole page, a new layer with buttons/checkboxs on it. The bug have existed long before Fenix.

[2020-12-31 06:25] SureshCBE opened #17268 "Toolbar misbehaving"
When keyboard disappeared toolbar is not going to the bottom of the screen instead it is stuck in middle.
![Screenshot_20201231-113530](https://user-images.githubusercontent.com/66856125/103397549-e96a5100-4b5e-11eb-8b3a-8b87050d93a6.png)
![Screenshot_20201231-113530](https://user-images.githubusercontent.com/66856125/103397560-ee2f0500-4b5e-11eb-832a-4050b6c18c85.png)

### Expected behavior : Too

[2020-12-31 07:35] softvision-miralobontiu commented on #4151
I was not able to reproduce the crash. I had over 30 tabs opened, I left Fenix in the background for a day, then browsed again through all the tabs. No crash.
I'll close this issue.

[2020-12-31 07:41] softvision-miralobontiu commented on #5028
I was not able to reproduce this issue on the latest Nightly build from 12/31.
Tested with Samsung Galaxy Tab S6 (Android 10), and HTC 10 (Android 8).

[2020-12-31 07:41] #5028 closed

[2020-12-31 07:50] softvision-miralobontiu commented on #7089
I was not able to reproduce this issue on the 12/31 Nightly build, on Beta 85.0.0-beta.4, or on RC 84.1.2.
Tested with HTC 10 (Android 8), and OnePlus 5T (Android 9).

[2020-12-31 07:50] #7089 closed

[2020-12-31 07:55] softvision-miralobontiu commented on #8428
This is still reproducible on 12/31 Nightly build with Azerbaycan language:

<img src="https://user-images.githubusercontent.com/40694158/103400552-3560ca00-4b4e-11eb-9b37-4ae525d29dda.jpg" width="300" height="550" />

[2020-12-31 08:08] softvision-miralobontiu commented on #8582
I was able to reproduce this issue on 12/31 Nightly build with the following devices:
- Google Pixel (Android 10),
- Samsung Galaxy Tab S6 (Android 10),
- HTC 10 (Android 8),
- Windows 10.

On all the devices (except desktop) I had to manually trigger sync to receive the tabs.

[2020-12-31 08:16] sflorean commented on #17265
Closing as dupe, based on the above comment.

[2020-12-31 08:16] #17265 closed

[2020-12-31 08:17] sflorean commented on #17266
Closing as duplicate, based on the above comment.

[2020-12-31 08:17] #17266 closed

[2020-12-31 08:19] sflorean commented on #6870
Not reproducible anymore on Nightly 12/31 on the affected devices. Closing this issue based on the test results.

[2020-12-31 08:19] #6870 closed

[2020-12-31 08:24] softvision-miralobontiu commented on #8982
This is no longer reproducible on the 12/31 Nightly with Samsung Galaxy Tab A6 (Android 5.1).

[2020-12-31 08:24] #8982 closed

[2020-12-31 09:48] koledennix opened #17269 "[Bug] A page with big amount of content, do not loads properly with firefox mobile"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2020-12-31 09:49] koledennix commented on #17269
The page https://m.habr.com/ru/company/mailru/blog/522312/comments/

[2020-12-31 09:53] koledennix commented on #17269
After several tries Page loads successfully

[2020-12-31 09:53] #17269 closed

[2020-12-31 10:46] cousteaulecommandant commented on #7458
I don't know; I kind of liked having separate "Link" and "Image" contexts on the context menu.  I think it is still worth considering, at least if there end up being as many options as there used to be – it's better than having to scroll if they overflow the screen.  (If not, then I agree that at least separating the contexts with a horizontal line is a good idea, and maybe also adding titles to e

[2020-12-31 13:10] sflorean commented on #17219
Tested on Pixel 3 (Android 11) and couldn't reproduce this issue on latest Nightly build. @benjsnellings Do you have any additional steps?

[2020-12-31 16:06] benjsnellings commented on #17219
Like I mentioned in the description I cannot seem to create a new collections item with the issue, only for items that were made before some build

[2020-12-31 17:48] Piping commented on #16759
My firefox after uotgade kept crashing on the exact issue. How can I fix it? The browser is not usable anymore.

[2020-12-31 19:29] Shadowspear123 commented on #17212
I've had this bug for a while too. Attached a screen recording below. I forgot to make it show my touches, but in the video I'm swiping downwards to scroll the tab list.

https://user-images.githubusercontent.com/50462281/103423435-81bf0080-4b74-11eb-9e77-bb7082e8c5b8.mp4

[2020-12-31 19:33] trulow commented on #17108
I have the same issue on 84.1.2

Although when looking at Settings>About>Crashes, there are no crashes to report.

[2020-12-31 19:45] Lanius-collaris opened #17271 "The HTMLVideoElement in fullscreen mode is oversize"
## Site with issue and any steps to reproduce
Visit https://hls-js.netlify.app/demo/
Then click the fullscreen button.
### Expected behavior

### Actual behavior
The HTMLVideoElement in fullscreen mode is oversize.
![Screenshot_20210101_030957_org mozilla fenix](https://user-images.githubusercontent.com/55432068/103423672-dbf6aa80-4be2-11eb-90af-0c969fc2dc4e.jpg)

### Does toggling Tracking Protec

[2020-12-31 22:30] Grabstertv opened #17272 "Can't give notification access to sites"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-01-01 00:20] 0x391F opened #17273 "[Bug] Couldn't use some add-ons in private browsing mode."
## Steps to reproduce
I have been install HTTPS Everywhere, Privacy Badger, uBlock in Firefox 68.12.0, recently I update Firefox to 84.x. I use private browsing mode almost all the time, but only HTTPS Everywhere could work.
### Expected behavior
All  add-ons should work in private browsing mode.
### Actual behavior
only HTTPS Everywhere could work in private browsing mode.
### Device information

[2021-01-01 03:52] wyatt8740 commented on #3710
@B0pol The fact that I need to create an account in order to install the add-on is also a bit of a dealbreaker for me, personally. More and more hoops to jump through.

[2021-01-01 04:05] heham opened #17274 "[Bug]很多论坛无法使用搜索功能"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-01-01 10:06] andreicristianpetcu opened #17275 "[Pull To Refresh][Bug] Drag and drop on ddg maps triggers pull to refresh"
## Steps to reproduce
open any ddg navigation for example
https://duckduckgo.com/?q=nicolae+licaret+8&t=fpas&ia=web&iaxm=directions&end=what%3ASta%25C5%25A3ia%2520Pia%25C5%25A3a%2520Iancului%2Cwhere%3A%25C8%2598oseaua%2520Mihai%2520Bravu%252C%252093%25E2%2580%259395%252C%2520Bucharest%252C%2520021312%252C%2520Romania&transport=drive&start=what%3ASta%25C5%25A3ia%2520%25C5%259Etefan%2520cel%2520Mare

[2021-01-01 10:13] andreicristianpetcu commented on #3262
https://github.com/mozilla-mobile/fenix/issues/17275

[2021-01-01 12:05] scheinercc commented on #8582
For what it is worth, I am on Fairphone 3 with Android 10 now and still seeing the same issue sending a single tab from any of my desktops - Nightly and Dev Edition.

[2021-01-01 14:05] dlecan commented on #10252
@robbah thank you! You can remove the link.

1. Your application is installed and loaded perfectly on Firefox 84 in standalone mode:
  No address bar, no browser toolbar...

1. As for other websites, the media query is no supported properly. It seems to be a missing feature, not a bug 😅

The original bug was about the standalone mode, not properly supported on some websites.
@yoasif I just tried t

[2021-01-01 14:09] dlecan commented on #10252
Already reported here:
https://github.com/mozilla-mobile/android-components/issues/8584

[2021-01-01 18:07] ghost opened #17277 "problems with Facebook"
Hello, I'm using Firefox on Android but there are problems.  The first problem: on Facebook, when entering from the application, you have to refresh from time to time because it freezes (in other browsers it is not).  Second problem: on a page like "zapytaj onet pl" (I didn't use punctuation marks: zapytaj.onet.pl ) it doesn't work properly because I can't access the profile.  Third problem: on a

[2021-01-01 20:11] cadeyrn commented on #17277
Hello,

please open one issue per problem and give your issues a meaningful title. There are more than 2,500 open issues and all these issues are about "Firefox for Android". Please also provide relevant information like your Firefox version, Android version and device vendor / model name - there is a bug template for a reason. You should fill out these fields instead of removing these fields. The

[2021-01-01 22:01] zhongweiy commented on #5880
This bookmark tags request actually has been there for about 9 years...

https://bugzilla.mozilla.org/show_bug.cgi?id=775672

[2021-01-01 22:04] fgaz commented on #5880
Weird, I remember it worked well on pre-fenix

[2021-01-01 22:23] ghost opened #17278 "Problems with Facebook"
### while using Facebook, the browser freezes and only refreshing the page fixes the problem.  (in other browsers this is not available)

### Device information: Sony Xperia XZ premium (Sony G8141)

* Android device: Android 9.0
* Fenix version: Firefox 84.1.2

[2021-01-01 22:38] zhongweiy commented on #5880
@fgaz which exactly version do you refer to? I tried firefox-nightly on playstore. It does not work.

[2021-01-02 03:19] lindongbin commented on #17274
#16748

[2021-01-02 03:29] jGRite commented on #17258
Yes, when I renamed all the devices I named them on each Android device. I didn't know of another way to rename them outside of each device separately. Looks like it is fixed already. They might have fixed this last year/

[2021-01-02 03:29] #17258 closed

[2021-01-02 09:17] lindongbin commented on #16759
https://crash-stats.mozilla.org/signature/?product=Fenix&signature=java.lang.ClassCastException%3A%20at%20org.mozilla.fenix.tabtray.TabTrayView.%3Cinit%3E%28TabTrayView.kt%3A86%29&date=%3E%3D2020-12-26T09%3A16%3A00.000Z&date=%3C2021-01-02T09%3A16%3A00.000Z&_columns=date&_columns=product&_columns=version&_columns=build_id&_columns=platform&_columns=reason&_columns=address&_columns=install_time&_col

[2021-01-02 10:01] karnasw opened #17280 "[Bug] Can't login with Firefox for Android to OpenMediaVault"
## Description of issue/question
Mobile Firefox after successful login jumps back to login page.
Mobile Chrome on the same device with the same host works as expected.

## Steps to reproduce

- Open OMV web-interface in mobile Firefox
- Enter admin credentials
- No error reported
- "Loading, please wait" message appears
- Login page displayed again
Clearing the site cache/cookies doesn't help.
Oth

[2021-01-02 11:02] fgaz commented on #5880
@zhongweiy version 68.x. You can find it in the "F-Droid Archive" F-Droid repository as "Fennec F-Droid" (look at the "all version" section at the bottom), but don't use it as daily driver: it's old and probably insecure.

[2021-01-02 11:09] Dunexus commented on #17271
Seems like the same issue as https://github.com/mozilla-mobile/fenix/issues/8252

[2021-01-02 16:30] JeromeDeBretagne commented on #10986
Issue confirmed as still present in:
- Firefox Beta 85 (85.0.0-beta.4) with AC 70.0.5
- Firefox Nightly 210101 with AC 71.0.202101011143133, f31f6d12e

so the above fix in AC is not enough in itself :disappointed:.

@ekager Could this issue be prioritized in a coming sprint :pray: as it leads to a poor experience for users with many tabs?

Hopefully, it should be much smaller than the bigger chang

[2021-01-02 17:52] Djfe commented on #10986
the thing is: the experience got worse 😅
When the oldest tab was still at the bottom and you restored a tab, it would jump to the restored tab for you.

Since the oldest tab is now at the top (one of the last updates), you have to scroll manually, which takes over a minute for a thousand tabs (I think)

It places the tab at the bottom of the list without telling you where the tab is.
It feels like

[2021-01-02 20:20] yoasif opened #17282 "[Bug] .img file is saved with a .bin extension, dropping .img"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-01-02 20:30] cadeyrn commented on #17282
See also #11793 and #17263 for similar issues.

[2021-01-02 20:45] kellda opened #17283 "Bug with dark theme and previous pages"
# To reproduce:

* Set fenix to dark theme
* Navigate
* Long press the back arrow to open previous pages

# Actual result:

The list of previous pages shows with white text on white background.

# Expected result:

The list of previous pages shows with white text on dark background.

[2021-01-02 20:58] cadeyrn commented on #17283
It's already done in Firefox 85 Beta.

[2021-01-03 03:54] zhongweiy commented on #5880
@fgaz thanks! I tried version 68.12.0. And it has a "keyword" feature when adding bookmarks. But the tags feature is still missing.

[2021-01-03 11:25] cousteaulecommandant commented on #14646
PS: are we sure this is a **cache** problem?  The bug @kbrosnan mentioned isn't exactly the cache; it's a temporary directory that (unfortunately) doesn't get deleted when you select "clear cache" in Firefox or Applications.

[2021-01-03 11:49] NeoMoucha commented on #15623
I guess you can use live demo to debug this?
https://demo.synology.com/en-global/dsm

[2021-01-03 11:59] anotherus3r commented on #17273
They work fine for me. Have you allowed those add-ons to run in private browsing mode?

See: https://support.mozilla.org/en-US/kb/find-and-install-add-ons-firefox-android#w_enable-add-ons-in-private-browsing

[2021-01-03 14:02] carlosrafaelgn opened #17285 "requestAnimationFrame rate not constant when using WebGL (1 or 2) even with short calls"
## Steps to reproduce

Just navigate to the game's page and start recording the performance.

https://carlosrafaelgn.github.io/pixel/

### Expected behavior

The calls should be made approximately every 16..17ms, given the duration of each call is in the range 2..6ms.

### Actual behavior

Every x frames there is a shift in the moment the call is made causing the game's animation to fell "skippy".

[2021-01-03 15:37] sophiekuehn commented on #16476
This issue is back again.  Example: https://www.ingame.de/news/cyberpunk-2077-cd-projekt-red-setting-night-city-open-karte-world-release-drama-meinung-hamburg-90151857.amp.html

[2021-01-03 19:24] KrasnayaPloshchad commented on #14795
It’s interesting to know how Google discourage the use of that event.

[2021-01-03 19:28] SkyeAuroline commented on #12731
Per instruction from /r/firefox, ran logging on my phone to see if I could make it happen. Couldn't force it to reload within Firefox proper or when switching away from the app (I mostly get it when switching away rather than within the app), but I did log Firefox failing to properly save tab state & Chrome successfully doing so, if that's at all helpful.

[https://gist.github.com/SkyeAuroline/2b4

[2021-01-03 21:11] qautomotive commented on #14795
You can _depend_ on Google to remove features they previously expect people to rely on.
A menu button is a very logical function.

[2021-01-03 23:47] shawnshyguy commented on #12731
Attached a copy-paste of the output of `adb logcat -v time`, but I think only so many lines are stored in cmd until it starts deleting old ones, so I'm not so sure how helpful it'll be. I'll also attach a streamable link for a video demonstration (separate from ADB log).
Basically, any time i don't have the tab directly open, it wants to reload when I open it back up.
[log.txt](https://github.com/

[2021-01-04 05:29] SharakPL commented on #11374
There was no problem with this in previous design (a year back?) so why not use good old ways?

[2021-01-04 06:13] karlcow commented on #7602
Another variant https://github.com/webcompat/web-bugs/issues/62199

[2021-01-04 06:32] theabbie commented on #2871
Is it fixed yet? If this is for security reasons atleast allow people to disable it.

[2021-01-04 08:10] grmblgrmbl commented on #15623
Good idea, I didn't think of this.

[2021-01-04 08:36] mcarare commented on #17256
Duplicate of https://github.com/mozilla-mobile/fenix/issues/16659 & https://github.com/mozilla-mobile/fenix/issues/16658.

[2021-01-04 08:36] #17256 closed

[2021-01-04 08:44] sv-ohorvath commented on #14534
Failed 2/2 on master 12/24: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/9038153808390561985/executions/bs.2d96ccc65cec0dd4/testcases/2/test-cases

[2021-01-04 08:45] sv-ohorvath commented on #13281
Failed 1/2 on 12/24: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/9038153808390561985/executions/bs.a306e3394c836c0e/testcases/1/test-cases

[2021-01-04 08:47] sv-ohorvath commented on #12895
Flaky on 1/1/21: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5874862883895695030/executions/bs.c3182965ad3e9f86/testcases/1/test-cases