[2019-03-27 03:02] boek commented on #1162
Logged handling very long URLs in the Awesomebar here: mozilla-mobile/android-components#2534

[2019-03-27 03:30] agi90 commented on #1213
![Screenshot_20190327-091219_Fenix](https://user-images.githubusercontent.com/4297388/55048579-ee06ea80-5005-11e9-836b-f95c9496483d.jpg)

[2019-03-27 04:22] vesta0 opened #1216 "FNX-450 ⁃ Voice input for Search"
### Feature Goal
* Provide users with a clear visible option to voice search
* Learn about whether our users would like us to invest more in Voice features

### User Story
As a user, I want to be able to do a quick voice search, so I can search faster.

### Acceptance Criteria
* [ ] I can initiate a voice search from the search bar
* [ ] I can turn this option off when I go to the Accessibility me

[2019-03-27 06:06] vesta0 commented on #552
Related GV bugs:
[1536222](https://bugzilla.mozilla.org/show_bug.cgi?id=1536222)
[1516048](https://bugzilla.mozilla.org/show_bug.cgi?id=1516048)

[2019-03-27 06:20] vesta0 commented on #552
This is considered a release blocker due to impact on usability. Other notable examples of sites impacted:

- instagram
- pinterest
- google maps
- digg.com
- Reddit
- Quora bottom nav bar
- flights.google.com: the airport search mode's Cancel/Apply buttons

[2019-03-27 06:20] vesta0 commented on #830
Duplicate of #552

[2019-03-27 06:20] #830 closed

[2019-03-27 07:45] heycam opened #1217 "FNX-4878 ⁃ address bar colors illegible when opening link from Fastmail app"
See this screen shot. The address bar text is illegible.

![Screenshot](https://user-images.githubusercontent.com/1484434/55058532-f7e92600-50b7-11e9-8e3a-cfc5bf0b0e77.png)UNITO-UNDERSCORE!20190327-183804!

[2019-03-27 08:53] sv-ohorvath commented on #1102
@mheubusch Hello, it might be just me, but the crash message sounds like the tab can't be restored, although there's still a "restore tab" option.

[2019-03-27 09:56] bsurd commented on #863
Tested this as well while testing #864

Metrics seem to register properly in the dashboard(number of times event has triggered, device information, time spent, location... etc). Marking as verified.

[2019-03-27 10:02] bsurd commented on #945
Checked on several devices and the issue is still reproducing, after disabling the telemetry switch I am still receiving notifications. Tried starting the app with the toggle disabled by default and notifications were still received. Only when pausing the notification in the dashboard did I not receive them anymore.

Please let me know if you need any other information that could be of help.

Re-o

[2019-03-27 10:30] NiLSPACE commented on #1208
This is similar to #810

[2019-03-27 12:26] sv-ohorvath opened #1218 "FNX-4879 ⁃ App freezes with an about: page opened"
## Steps to reproduce
1. Open a tab and go to about:about, about:crashes or other about pages.
1. Tap the tabs view button.
1. Close & restart the app.
    1. Expected behavior
About: pages shouldn't freeze the app.
    1. Actual behavior
At step 2, the homescreen is empty, no saved sessions displayed, no tabs.
App freezes.
After restart, there is only one tab displayed, the about: page.
Close the

[2019-03-27 13:22] mheubusch commented on #1102
@sv-ohorvath not just you. :)  Have someone on my team taking a fresh look at this - thank you.  also, IICR we are handling crash reporting options in the settings, not at the page level but @brampitoyo can confirm.

[2019-03-27 13:53] MeridelW commented on #1102
Hi  @sv-ohorvath! That copy has indeed been updated (see attachment for latest mock—still a work in progress...for example, button copy should be all caps). The user can indeed "try again" and the copy no longer contradicts this.

As for "send crash report," there is a separate prompt that comes up in the flow for the user to report an issue. This is the only error that has the reporting function

[2019-03-27 14:07] sblatz commented on #1102
This page is currently being displayed when a **tab** crashes. [GV team is working on a feature](https://github.com/mozilla-mobile/fenix/issues/1002#issuecomment-474006830) that would allow a tab to be restored after it has crashed, but right now we can only close it (or choose to reload the page without any history). I don't think a "try again" button being the only option is good, as it does not

[2019-03-27 14:20] sv-ohorvath opened #1219 "FNX-4880 ⁃ [Bug] App freezes when a tab is crashed and crash reporter is turned off"
## Steps to reproduce
1. Go to Settings>Data choices and turn off Crash reporter.
1. Ope a new tab and go to about:crashcontent.
    1. Expected behavior
The tab crashed image is displayed.
    1. Actual behavior
A blank page is displayed and the app stops responding.
    1. Device information

* Android device: Pixel, Nexus 5.
* Fenix version: 3/27 build

[2019-03-27 14:25] sv-ohorvath opened #1221 "FNX-4882 ⁃ [Bug] Crash reports do not display in about:crashes"
## Steps to reproduce
Crash reporter is turned ON:

1. Go to about:crashcontent, to crash a tab.
1. Check the report on about:crashes.
1. Go to about: crashparent to crash the app.
1. Check the report on about:crashes.

Crash reporter is OFF:

1. Go to about:crashcontent, to crash a tab.
1. Check the report on about:crashes.
1. Go to about: crashparent to crash the app.
1. Check the report on abou

[2019-03-27 15:04] MeridelW commented on #1102
@brampitoyo Can you weigh in on this? What's the best way to give the user the option to close the tab? I agree we need this.

@sblatz What are the implications of reloading **with no history**?

[2019-03-27 15:15] sblatz commented on #1102
@MeridelW Essentially it would be like they had just started a brand new tab with that page loaded. This means their scroll position, any data entered, any previous history of browsing on that tab would be lost.

[2019-03-27 15:16] sv-ohorvath commented on #984
The UI of the quick action bar was verified on Fenix nightly.
Devices:
Pixel (Android 9)
Nexus 5 (Android 6)

Can I close this issue?

[2019-03-27 15:21] creesch commented on #662
Considering the discussion going on in #574 and the lack of mention of extensions here I figured I'd bring it up here as well.  Speaking for me personally, one of the big reasons to use firefox on android currently is the fact that I can use extensions. I'd hate to have Fennec replaced with Fenix and loose my currently installed extensions and their settings.

[2019-03-27 15:26] sv-ohorvath opened #1222 "FNX-4883 ⁃ [Bug] The Tab/app crashed message doesn't appear in Private browsing"
## Steps to reproduce
1. Open a tab in private browsing.
1. Go to about:crashcontent.
1. Go to about:crashparent
    1. Expected behavior
1. The tab crashed message is displayed.
1. "Fenix isn't responding" dialog is displayed.
    1. Actual behavior
The homepage is displayed, with the tab minimized.
"Fenix isn't responding" dialog is not displayed either.
    1. Device information

* Android devi

[2019-03-27 15:26] sblatz commented on #984
Thanks for verifying, @sv-ohorvath 😄

[2019-03-27 15:26] #984 closed

[2019-03-27 15:30] sv-ohorvath opened #1223 "FNX-4884 ⁃ [Bug] Tab crashed message in landscape shows a top title bar"
## Steps to reproduce
1. Open a tab, go to about:crashcontent.
1. Turn the device in landscape mode.
    1. Expected behavior
The page looks the same.
    1. Actual behavior
A title bar is displayed at the top.
![Screenshot](https://user-images.githubusercontent.com/4037709/55089388-01718e80-50b6-11e9-9ce2-3ff7524364aa.png)UNITO-UNDERSCORE!20190327-112420!

### Device information
* Android device:

[2019-03-27 15:39] lime124 commented on #242
@ryanfeeley ^

[2019-03-27 15:42] smaug---- opened #1224 "FNX-4885 ⁃ [Bug] Loading about:config doesn't work"
## Steps to reproduce
Loading about:config was working, I think, still recently

### Expected behavior
about:config should load

### Actual behavior
nothing is loaded?

### Device information
* Android device: Honor 7, Android 6
* Fenix version: 1.0.1913

[2019-03-27 16:34] vesta0 commented on #325
User stories are attached to meta #218 and Engineering tasks should be attached to each user story. As discussed with team, these Breakdown issues will be closed.

[2019-03-27 16:35] vesta0 commented on #763
User stories will be attached to meta and Engineering tasks will be attached to each user story. As discussed with team, these Breakdown issues will be closed.

[2019-03-27 16:35] #763 closed

[2019-03-27 16:42] boek commented on #945
@bsurd unfortunately Leanplum doesn't offer us a way to stop the service once it has been started in the app. So the grand effect only happens the next time the application is run. When you disable the telemetry toggle in the app we do stop sending events immediately. The next time you start the app Leanplum won't be spun up.

[2019-03-27 16:43] boek commented on #945
@vesta0 @bbinto would love some input on if this behavior is OK.

[2019-03-27 16:46] boek commented on #1219
@sblatz we can talk about this one :)

[2019-03-27 16:47] boek commented on #1221
@cpeterso How does data get into `about:crashes`?

[2019-03-27 17:15] vesta0 commented on #109
Won't set up a separate Beta channel for MVP

[2019-03-27 17:22] mheubusch opened #1227 "FNX-4886 ⁃ In-app Page Support for Dark Content"
As a user, I want to view Fenix pages in dark mode when my browser displays web content in dark mode using the `prefers-color-scheme` CSS specification.

### Acceptance Criteria (Added by PM)
I can do …  (e.g. add a bookmark)
I can do …   (e.g. track usage)

[2019-03-27 17:22] cpeterso commented on #1221
I don't know.

@snorp, where does GV's `about:crashes` look for crash reports? Should `about:crashes` show crash reports just for the current app or for all GV-powered apps on the phone? On desktop, `about:crashes` shows crash reports for all Firefox installs and user profiles, not just the current install and user profile.

[2019-03-27 17:28] georgf commented on #800
This seems to cover only the default search provider.
For these specific examples here, they could all be individual `string` metrics in Glean, collected under one category. E.g.:

[code]

We might have to check whether the permitted length of `string` is sufficient (and if not, how we deal with that with allowing very long strings everywhere).

[2019-03-27 17:28] kbrosnan commented on #945
This breaks expectation of the toggle. The standard behavior on Android is that a toggle takes effect immediately.

[2019-03-27 18:40] bbinto commented on #969
@mheubusch decided to wait until session research comes back, end of March 27 week.

[2019-03-27 18:47] boek commented on #945
@kbrosnan The toggle is working immediately from the aspect of collecting Telemetry. This is referring to using another feature within Leanplum which is sending a push / message to a subset of users which technically still works because Leanplum has been initialized.

The other solution we could do is force-restart the app when the user clicks that toggle which isn't a great experience either. Do

[2019-03-27 18:48] bbinto commented on #945
@kbrosnan - do you know how this was implemented for Fennec, I assume that would have the same issue, no?

[2019-03-27 19:00] cpeterso commented on #1224
I wonder if this bug is related to about:config crash issue #1034. I know about:config works in GeckoView 68 in Firefox for Fire TV.

[2019-03-27 19:00] bbinto commented on #918
@mheubusch mentioned she'll break this down into user stories

[2019-03-27 19:03] cpeterso commented on #1034
I wonder if this bug is related to GV parent process [bug 1527778](https://bugzilla.mozilla.org/show_bug.cgi?id=1527778). That GV bug will be fixed in next Tuesday's GV 67 Beta build. I know about:config works in GeckoView 68 in Firefox for Fire TV.

[2019-03-27 19:10] bbinto commented on #424
As per @pocmo
- Manual exports are currently working (via Pike)
- Automated exports however depend on rel eng.

@mheubusch agreed to loop back with @Delphine and @st3fan to understand what the next actionable

[2019-03-27 19:13] bbinto commented on #996
Here is the UR bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1537901

[2019-03-27 19:13] #996 closed

[2019-03-27 19:17] vesta0 commented on #289
@lime124 will share mocks with team for feedback

[2019-03-27 20:01] colintheshots commented on #167
This looks good from engineering standpoint to me.

[2019-03-27 20:06] lime124 commented on #167
there doesn't seem to be any eng tickets with this. how should we get this in to that backlog of work? @bifleming @mheubusch @st3fan

[2019-03-27 20:08] colintheshots commented on #826
This looks good!

The one thing I think we're missing is how should a user transition into dark mode and back. Where is the setting and how should the app animate into dark mode? By default, Android redraws everything unless we supply a transition animation like we do with private mode.

[2019-03-27 20:20] colintheshots commented on #195
This looks ready from an engineering perspective. We'll need a dark mode version and an answer to Sawyer's question about private browsing and this is good.

[2019-03-27 20:33] Pike opened #1229 "FNX-4887 ⁃ [Bug] preference_recommended_settings_summary in strings.xml uses non-supported markup"
In

https://github.com/mozilla-mobile/fenix/blob/c2d0a6e265e2d51017a4480069d6ed3ba594d179/app/src/main/res/values/strings.xml#L148-L160

the string uses top-level markup. Sadly, we don't support that in our l10n toolchain.

The usual way to work around that is to put the markup fragment into a CDATA section.

CC @pocmo as that's part of the agreed feature set for Android. @boek wrote the implement

[2019-03-27 20:45] cadeyrn commented on #653
"About Fenix" was already a bit faster the last weeks and it's really fast now (I guess since https://github.com/mozilla-mobile/fenix/commit/379875a62a12c504ae0f48a5a6638e6e46f9d582). Feel free to reopen if you disagree.

[2019-03-27 20:45] #653 closed

[2019-03-27 20:50] cadeyrn commented on #787
It no longer happens.

[2019-03-27 20:58] cadeyrn opened #1230 "FNX-4888 ⁃ [Bug] text alignment issue on "About Fenix" (regression)"
### Steps to reproduce
1. Open "About Fenix"

### Expected behavior
"Fenix is produced by Mozilla" starts in the same column as "Fenix puts you in control".

### Actual behavior
There is an unwanted space.

![fenix](https://user-images.githubusercontent.com/1100614/55111651-3217ef00-50db-11e9-9ec2-bb4edce02233.png)

(I think it would look better if the text was centered, but that's only my opinion

[2019-03-27 21:17] bifleming commented on #167
IS this another one like Telemetry, where we need to go back to every
feature and add an animations story? Or would we rather do this one
differently -- add a bunch of user stories under an Animations Meta.

On Wed, Mar 27, 2019 at 1:06 PM Tiffanie Shakespeare <
notifications@github.com> wrote:

--
Regards,
Betty
____________________________________________________________________
Betty Fleming |

[2019-03-27 21:23] sblatz opened #1231 "FNX-4889 ⁃ Change all uses of "favorites" to "bookmarks""

[2019-03-27 21:33] sblatz opened #1233 "FNX-4890 ⁃ Change Leak Canary to LeakCanary"
Per conversation with Michelle.

[2019-03-27 21:38] mheubusch commented on #1229
@Amejia481 The copy in the strings isn't ready - I know you met with Bram today but I have not reviewed and signed off on these strings. Can you back out just the strings for Permissions settings out so L10n is not blocked?

[2019-03-27 21:46] MeridelW commented on #1102
@brampitoyo What are your thoughts on this?

[2019-03-27 21:54] sblatz commented on #1221
The reports _are_ sent to Sentry (I confirmed this when working on the feature. I believe this is an issue of `about:crashes` not reflecting what Sentry sees. Updating the title for clarification.

[2019-03-27 21:59] bbinto commented on #1192
Hey @boek - let me know if that description works for you (I updated it)

[2019-03-27 21:59] brampitoyo commented on #1102
@sblatz @MeridelW In earlier mockup, we have options for “Close tab” and “Restore tab”. Shall we use those?

“Restore tab” would make sense only if we can ensure that the tab won’t crash again (and go into a reload-crash-error-reload-crash-error… loop). Otherwise, “Close tab” is a safer bet.

Would starting a brand new tab without saving anything help fix this loop?

[2019-03-27 22:03] sblatz commented on #1102
@brampitoyo "Restore tab" could attempt to restore once, then would send us back to the same spot, but the user could then press "close tab". Keep in mind that this option is _not yet available_ on the GeckoView side, so we could have "restore tab" just reload the tab's URL with no history, which, if it crashed again, would leave the user in a position to press "close tab" if they think they're in

[2019-03-27 22:14] mheubusch opened #1236 "FNX-4891 ⁃ Create Bookmark Folders"
As a user with bookmarked websites, I want to create folders so that my bookmarks stay organized and are easier to retrieve.

### Acceptance Criteria (Added by PM)
I can create a new folder for bookmarks
I can create a label for that folder
I can create that folder inside of other folders

[2019-03-27 22:17] snorp commented on #1221
GeckoView apps doesn't use `about:crashes` because the report submission is handled by the app.

[2019-03-27 22:18] mheubusch opened #1237 "FNX-4892 ⁃ Delete Bookmark Folders"
As a user with bookmarks in folders, I can delete a folder so that I can get rid of old bookmarks and keep my bookmarks organized.

### Acceptance Criteria (Added by PM)
I can delete a bookmark folder
When I delete a bookmark folder,  this will delete all the bookmarks inside of the folder
When I delete a bookmark folder that contains other folders,  this will delete all contained folders and the

[2019-03-27 22:24] mheubusch opened #1238 "FNX-4893 ⁃ Edit Bookmark Folders"
As a user with bookmarks in folders, I can edit the folder label so that I can keep my bookmarks organized.

### Acceptance Criteria (Added by PM)
I can change the label on a bookmark folder

[2019-03-27 22:29] mheubusch opened #1239 "FNX-4894 ⁃ Move Bookmark Folders"
As a user with bookmark folders, I can move my folders so that I can organize them in a way that makes sense to me.

### Acceptance Criteria (Added by PM)
I can select a bookmark folder and move it into another folder
I can select a bookmark folder that is in another folder and move it into a different folder
I can select a bookmark folder that is in another folder and make it a top-level folder

[2019-03-27 22:43] cadeyrn opened #1240 "FNX-4895 ⁃ string alignment issues in site permission settings"
### Steps to reproduce
1. Open Settings > Site Permissions

### Expected behavior
All strings starts at the same position on the "x axis".

### Actual behavior
Please have a look at the following screenshot and the three colored lines. As you can see there are three different x positions where all strings start. This looks wild. ;-)

![fenix](https://user-images.githubusercontent.com/1100614/55116

[2019-03-27 23:15] lime124 commented on #826
@AmyYLee

[2019-03-27 23:20] mcomella opened #1241 "FNX2-13709 ⁃ GV frustratingly pauses for a moment between pages on page load under low bandwidth"
## Steps to reproduce
* Be in low bandwidth network conditions
* Load a page and continue trying to interact with the current page (e.g. scrolling)

### Expected behavior
The user can keep interacting with content on the current page until the new page draws on screen.

### Actual behavior
At some point during the page load, you are unable to scroll the current page beyond the currently visible sc

[2019-03-27 23:25] lime124 commented on #195
thanks @colintheshots!

@brampitoyo is going to answer sawyer's question today.

@AmyYLee to answer your question regarding how to make it dark mode.

[2019-03-27 23:26] boek commented on #1221
@snorp Should we prevent access to `about:crashes` then?

[2019-03-27 23:41] boek commented on #553
So this is due to the tracking protection policy. Javascript crashes when it tries to load the captcha.

[code]

Works as intended when I turn it off

[2019-03-27 23:42] boek commented on #553
This issue should be fixed by #1084

[2019-03-27 23:42] #553 closed

[2019-03-28 00:00] boek commented on #553
@vesta0 @bbinto I'm going to close this for now. Unless you think further action is needed

[2019-03-28 00:18] brampitoyo commented on #1102
@sblatz OK. Let’s go with “Close tab” and “Restore tab”, then. This way, the user can try to recover (which is always a preferred option), and can close when recovery fails.

[2019-03-28 03:39] lime124 commented on #289
@vesta0 shared with colin earlier today and i believe he's scheduling some time to review it tomorrow. i will post the UI in the ux issue.

[2019-03-28 04:07] lime124 commented on #184
Several issues Verdi filed on the search experience. Pasting them here so we can keep track.

https://github.com/mozilla-mobile/fenix/issues/1196
https://github.com/mozilla-mobile/fenix/issues/1197
https://github.com/mozilla-mobile/fenix/issues/1198
https://github.com/mozilla-mobile/fenix/issues/1204
https://github.com/mozilla-mobile/fenix/issues/1205
https://github.com/mozilla-mobile/fenix/issues

[2019-03-28 04:14] brampitoyo commented on #190
@shorlander Reader View controls are now located inside the Quick Action Bar, replacing two actions there – Download and Favorite – that would do nothing in Reader View.

Share and Screenshot still works as they should on Reader View:

1. Share: the URL itself is shared
2. Screenshot: a screenshot of the reader view (not of the webpage) is taken

@colintheshots @csadilek @vesta0 @lime124 I’ve upda

[2019-03-28 04:33] brampitoyo commented on #1102
@sblatz Please find the new tab crash design (the only change is the inclusion of two buttons: close and restore) here: https://mozilla.invisionapp.com/share/P7R8W1ZWHM6

<img width="360" src="https://user-images.githubusercontent.com/51007/55130386-942a3000-517f-11e9-8715-95cbb3384202.png">

[2019-03-28 05:52] brampitoyo commented on #195
@sblatz The colour value for the highlighted button is our `accent` colour, which is `#312a65`.

Sorry for the overdue reply, this is one of those cases where “If you wish to make an apple pie from scratch, you must first invent the universe”. I had to figure out a button colour that will look good with the rest of the new Private Browsing theme, and that requires designing the PBM theme first, ke

[2019-03-28 06:54] cpeterso commented on #1034
On my Moto g5, `about:config` crashes the RB but not Fenix. RB uses GV 68 Nightly. Fenix currently uses GV 67 Beta, but I think it still used GV 68 Nightly when this bug was filed on March 15. This crash might be a regression in GV 68.

[2019-03-28 07:02] cpeterso commented on #1221
That's probably a good idea. Fenix *does* display an `about:crashes` page that misleadingly says "No crash reports have been submitted." That looks like Gecko's [no-reports-label](https://searchfox.org/mozilla-central/rev/3d469329a42644b41e66944d8da22d78d8c0f5ec/toolkit/locales/en-US/crashreporter/aboutcrashes.ftl#24) string. Maybe it it GV, not Fenix, that needs to stop pretending it supports `ab

[2019-03-28 07:23] sv-ohorvath commented on #1221
I had the impression that reports sent to Socorro we're the ones visible on about:crashes. Should I, or could I check the reports sent to Sentry/Socorro in other ways?

[2019-03-28 08:11] pwd-github commented on #190
The narrate feature still seems to be missing?

[2019-03-28 08:20] cadeyrn commented on #190
I thought screenshots are no longer part of the MVP?

[2019-03-28 09:11] bsurd commented on #945
Petru-Mugurel Lingurar could clarify the situation since he worked on Leanplum on Fennec. From my knowledge, it's possible to stop the notifications as well.

[2019-03-28 09:34] bbinto opened #1242 "FNX-4896 ⁃ [Telemetry] Error Pages"
#### Description & Product Manager User Story
* As a product owner, I want to know when people encounter errors on websites so we know when they

#### What questions will you answer with this data?
* When and what errors users experience within the app
* What will users do after they've encountered an error (Amplitude funnel) and how will they get out of it

#### Why does Mozilla need to answer th

[2019-03-28 09:35] bbinto commented on #921
As requested, I've created a telemetry bug for this #1242

[2019-03-28 09:50] bbinto opened #1243 "FNX-4897 ⁃ What user agent to use for Fenix"
SUMO is [asking](https://mozilla.slack.com/archives/CA4QR1M2R/p1553618665740800) for this.

[2019-03-28 09:51] Mugurell commented on #945
As Bogdan said on Fennec we do have the option to stop Leanplum altogether, something that was implemented in [bug 1454686](https://bugzilla.mozilla.org/show_bug.cgi?id=1454686).

While Leanplum doesn't officially expose APIs for stopping a currently running session we used some internal APIs (public methods) to achieve what we wanted: stop all notifications, in-app banners, telemetry and events t

[2019-03-28 09:53] bbinto commented on #1243
As per abovens, same as the current Firefox Android.

[2019-03-28 11:06] pocmo commented on #904
FYI: There's a `ui-tabcounter` component. It's similar to the tab counter button in Fennec and it is used in Firefox Lite and the Reference Browser.

[2019-03-28 12:29] sv-ohorvath commented on #1003
There is also a checkbox on the app crashed dialog:
![Screenshot_20190328-082712](https://user-images.githubusercontent.com/4037709/55157721-ca5ab600-5165-11e9-9b85-e1b75600afb4.png)
This should be removed/un-checked when the crash reporter is turned off.

[2019-03-28 12:57] sv-ohorvath opened #1244 "FNX-4898 ⁃ [Bug] Keep the settings menu opened when the app is in background"
## Steps to reproduce
1. Open the Settings menu.
1. Minimize the app.
1. Restore the app from the task manager.
    1. Expected behavior
The Settings menu is still displayed.
    1. Actual behavior
The menu is closed. You can see it disappearing when you restore the app.
    1. Device information

* Android device: Pixel, HTC Desire 820 (Android 6.0.1)
* Fenix version: 3/28 build.

[2019-03-28 13:00] sv-ohorvath commented on #906
This is verified by QA. There are new issues logged for the bugs found, I'll close this ticket.

[2019-03-28 13:00] #906 closed

[2019-03-28 13:01] Amejia481 commented on #1229
@mheubusch sure, sorry for the trouble.

[2019-03-28 15:43] sblatz commented on #1102
@brampitoyo After some more work on this, it seems we actually don't have the ability to reload the tab *just yet*. I will just use a "close tab" button for now, and will add the "reload tab" when this functionality is [added by the GV team](https://bugzilla.mozilla.org/show_bug.cgi?id=1530770)

[2019-03-28 17:04] sblatz commented on #1003
@sv-ohorvath I will create a follow-up bug for this.

[2019-03-28 17:04] sblatz opened #1246 "FNX-4899 ⁃ [Bug] Crash Reporter displays for fatal crashes"
There is also a checkbox on the app crashed dialog:
![Screenshot](https://user-images.githubusercontent.com/4037709/55157721-ca5ab600-5165-11e9-9b85-e1b75600afb4.png)UNITO-UNDERSCORE!20190328-082712!
This should be removed/un-checked when the crash reporter is turned off.
*Note: there is no report sent to crash-stats.mozilla.com even if it's selected.

[2019-03-28 20:43] boek opened #1249 "FNX-4900 ⁃ Empty state for history"
Right now it's just a blank fragment with a `Delete history` button

[2019-03-28 20:54] cadeyrn opened #1250 "FNX-4902 ⁃ [Bug] Delete history button is missing in history view"
### Steps to reproduce
1. Open Your Library > History

### Expected behavior
There should be a "Delete history" button.

### Actual behavior
There is no "Delete history" button.

I know there was a "Delete history" button in the past but I thought it was an intentional / temporary / UX change to remove the button because things are still in flux. But in #1249 @boek said the empty history view show

[2019-03-28 21:31] vesta0 opened #1252 "FNX-4903 ⁃ Download completed notification"
## Steps to reproduce
-Open Fenix and browse to a site where you can download a file (e.g. Restaurant menu)
-Tap on a link to download
-Allow Fenix to access storage
-On the download prompt, tap on DOWNLOAD

### Expected behavior
-Download is completed and there is a new Download completed notification in the phone notification tray.

### Actual behavior
-Download is completed but there is no noti

[2019-03-28 21:40] mystor commented on #1171
The bug appears to have gone away, and I can no longer reproduce it.

[2019-03-28 21:48] cpeterso commented on #1177
This crash should be fixed once Fenix and RB update to a new GV 67 Beta build.

[2019-03-28 21:52] vesta0 commented on #805
This is done.

[2019-03-28 21:52] #805 closed

[2019-03-28 21:54] #802 closed

[2019-03-28 21:57] bbinto commented on #1155
@mheubusch - is this a duplicate of #289?

[2019-03-28 21:58] colintheshots commented on #175
This looks good. I only have two questions... Can we have dark mode versions? Do we want this to display over everything except the status bar and navigation bar, since that's exactly what the mocks show?

[2019-03-28 22:07] vesta0 commented on #1227
duplicate of #1164

[2019-03-28 22:35] lime124 commented on #175
@colintheshots

we're going to punt on dark mode for post MVP. can you file an issue so that we can follow up on that?

the URL bar needs to be displayed so the user can go do something else or see what page they are on.

[2019-03-29 01:34] mheubusch commented on #1155
@bbinto i think so.should i close it or can i delete it?

[2019-03-29 06:50] cpeterso opened #1253 "Add Wi-Fi location "stumbler" service (for Mozilla Location Service, MLS)"
### Why/User Benefit/User Problem
Fennec's Wi-Fi location "stumbler" service is the primary source of Wi-Fi location data for [Mozilla's Location Service](https://location.services.mozilla.com/) (MLS). We need Wi-Fi location data from contributors to keep the MLS database fresh. We should add a Wi-Fi stumbler to Fenix after we retire Fennec. The Wi-Fi stumbler probably doesn't need to block the Fe

[2019-03-29 08:00] andreicristianpetcu commented on #662
Fenix MVP will not replace Fennec. Fenix will most likely get WebExt support post MVP https://github.com/mozilla-mobile/fenix/issues/574#issuecomment-466980564

[2019-03-29 08:20] sv-ohorvath commented on #1003
Ok, so I can close this. Thanks!

[2019-03-29 08:33] buttercookie42 commented on #612
My preference is for the current Fennec behaviour and I think that the snackbar should available even if this is made configurable (or as an option in its own right):
The reason is that I think the desired behaviour can be rather context-dependent. I.e. sometimes I want to open a few tabs in the background for a little later (in which case switching to the new tab would be rather annoying), but so

[2019-03-29 08:44] thanuj10 opened #1254 "FNX-4904 ⁃ Add Swipe to navigate webpages."
Add swipe to go back to a website and forward to a website.

[2019-03-29 09:20] pocmo commented on #1252
Related functionality in AC:
https://github.com/mozilla-mobile/android-components/tree/master/components/feature/downloads#downloadsfeature

[2019-03-29 09:58] pocmo commented on #577
Functionality landed in AC today :)

[2019-03-29 12:16] bbinto commented on #1155
Let's close it

[2019-03-29 12:19] bbinto commented on #1190
Thinking about this a little more - @vladikoff - do we need to provide extra telemetry beyond what you are already collecting? (since our CTA is to go to the web-based login that you own)

Things we'd be interested from a Fenix perspective
- how often people log in/out to FxA via Fenix
- Any kind of syncing activities

[2019-03-29 13:36] colintheshots opened #1255 "FNX-4905 ⁃ [Bug] developer.android.com page appears broken"
## Steps to reproduce
1. Visit http://developer.android.com in the latest Fenix

### Expected behavior
CSS stylesheets are applied and look similar to Fennec or Chrome on mobile.

### Actual behavior
CSS stylesheets are not applied. The page appears broken.

### Device information
* Android device: Android Pie
* Fenix version: Build #10851633

[2019-03-29 13:39] colintheshots opened #1256 "FNX-4906 ⁃ [Bug] Reporting Fenix webcompat issues in app goes to Fennec team, then gets closed"
## Steps to reproduce
Open an issue using the "Report an issue" link.

### Expected behavior
The issue is appropriately checked against Fenix.

### Actual behavior
The issue is incorrectly checked against Fennec and Focus.

### Device information
* Android device: Android Pie
* Fenix version: Build #10851633

[2019-03-29 13:40] colintheshots commented on #1256
I think we need to identify Fenix issues in some way. It would be great if we could pass flags to send the build number and browser app_id with the report.

[2019-03-29 14:50] sblatz commented on #724
We should also take font styles/weights into consideration in this [e.g. this style](https://github.com/mozilla-mobile/fenix/pull/882/files#diff-c88f525159e9f49227dae6bdd37841fdR52)

[2019-03-29 14:55] Amejia481 opened #1257 "FNX-4907 ⁃ Investigate how Doorhanger should look like in tablets"
@brampitoyo Do we have some mock-ups for the Doorhanger interaction in tablets?

![image](https://user-images.githubusercontent.com/773158/55241235-0eef5b80-5211-11e9-83cf-1688396cf3dc.png)

[2019-03-29 14:56] Amejia481 commented on #1257
cc: @pocmo

[2019-03-29 15:21] Amejia481 opened #1258 "FNX-4908 ⁃ Investigate how Doorhanger should look like in custom tabs"
@brampitoyo Do we have some mock-ups for the Doorhanger interaction with custom tabs?
Should it has the same functionality ?

![image](https://user-images.githubusercontent.com/773158/55241235-0eef5b80-5211-11e9-83cf-1688396cf3dc.png)

[2019-03-29 15:21] Amejia481 commented on #1258
cc: @jonalmeida

[2019-03-29 15:23] Amejia481 commented on #1165
Related issues: https://github.com/mozilla-mobile/fenix/issues/1258 and https://github.com/mozilla-mobile/fenix/issues/1257

[2019-03-29 15:43] pocmo commented on #1258
@brampitoyo I think your Custom Tabs mocks showed a top toolbar. Curious if the "doorhanger" will have the same layout and are just going to be attached to the top?

[2019-03-29 17:04] #98 closed

[2019-03-29 17:25] AmyYLee commented on #242
@colintheshots I can take a look at this bug on Monday and get back to you.

[2019-03-29 17:35] bbinto opened #1260 "FNX-4910 ⁃ Remove out-of-scope issues from designs"
Remove the out of scope assets from the designs/mocks

* Downloads

From

* Quick action bar
* Library UI

(needs to be confirmed)

[2019-03-29 17:55] boek commented on #1260
@bbinto should we be spending time actively removing them? Can't we just remove the stubs from the app?

[2019-03-29 17:57] vesta0 opened #1261 "FNX-4911 ⁃ [Meta] Accessibility MVP"
As a user with accessibility needs, I want to be able to interact with browser features so I can surf the web and access the content I am looking for.

### Acceptance Criteria (Added by PM. For EPM to track when a Meta feature is done)
-UX completed
-User stories completed
-Strings written and approved
-QA completed
-Localization done

### What / Requirements (Added by PM and Eng Manager)
As a use

[2019-03-29 18:03] boek commented on #1250
@cadeyrn It got removed when we sectioned the history by dates. I'm re-adding it with #1259 which actually wires up the button to actually delete things! I'm going to close this since we're also tracking it there and #356

[2019-03-29 18:23] vesta0 commented on #1260
@boek this is a UX issue. Once UX has provided feedback we will size it and move it to a sprint.

[2019-03-29 18:39] lime124 commented on #552
i'm not clear who's court the ball is in. from my standpoint it appears that it's on eng to fix as per nicole's comment "the content should render above the url bar". To me that includes that handle piece of UI which is the primary thing that is causing problems...?

[2019-03-29 18:39] sblatz commented on #1003
@brampitoyo I think we will need to add the checkbox back and just default it to the state the user has in the settings (or remove the setting altogether).

Unfortunately removing the checkbox is not a trivial change as I anticipated, and after spending over a day working on it I discovered an issue with the way crash reporting is handled by GV/A-C that makes this change incredibly difficult and t

[2019-03-29 18:41] sblatz commented on #1222
This is blocked on a soon-to-come change with a-c.

[2019-03-29 18:42] boek commented on #552
@lime124 The real bug is we don't want the address bar to cover the webpage. There are some open GV issues to address this, once fixes land we will make sure it's also fixed in Fenix :+1:

[2019-03-29 18:42] sblatz commented on #1246
Closing this as it will now be [expected behavior](https://github.com/mozilla-mobile/fenix/issues/1003#issuecomment-478106992).

[2019-03-29 18:46] vesta0 opened #1263 "FNX-4912 ⁃ [Meta] Search Enhancements"
### Why/User Benefit/User Problem
### Acceptance Criteria (Added by PM. For EPM to track when a Meta feature is done)
-UX completed
-User stories completed
-Strings written and approved
-QA completed
-Localization done

### What / Requirements (Added by PM and Eng Manager)
-UX Designs

[2019-03-29 18:52] lime124 commented on #552
Got it thanks boek - so the issue is blocked on those GV bugs getting fixed. Thanks!

[2019-03-29 19:46] ryanfeeley commented on #242
@colintheshots From within the bookmarks view we would not showing the spinning sync wheel animation like we do inside Sync preferences, but during the sync we should disable editing/deleting features. Grey the first and last items out in the contextual menus during sync.
![image](https://user-images.githubusercontent.com/68213/55258635-cc8e4480-5239-11e9-89b6-7ef6a08f4d6e.png)

[2019-03-29 19:53] vesta0 commented on #807
Duplicate of #356

[2019-03-29 19:53] #807 closed

[2019-03-29 19:58] sblatz opened #1264 "FNX-4913 ⁃ Remove "crash reporting" under data choices"
We should remove "crash reporting" settings under data choices as we will just ask the users with a checkbox.

[2019-03-29 19:58] sblatz commented on #1264
See [here](https://github.com/mozilla-mobile/fenix/issues/1003#issuecomment-478106992) for more explanation.

[2019-03-29 20:01] sblatz opened #1265 "FNX-4914 ⁃ Add the checkbox back to crash reporting"
More explanation found [here](https://github.com/mozilla-mobile/fenix/issues/1003#issuecomment-478106992)

[2019-03-29 20:30] lime124 opened #1267 "FNX-4915 ⁃ [Bug] Android Edge Effect missing on home screen"
## Steps to reproduce
1. Open Fenix
1. Scroll the home page
1. Observe

Places I've noted are the homescreen and browsing web pages. We should also take a look at settings.

### Expected behavior
1. Edge effect is there

### Actual behavior
1. Edge effect not there

### Device information
* Android device: Pixel something  - i have no idea
* Fenix version: The 3/26 build

[2019-03-29 20:48] sblatz opened #1268 "Create unit tests for shortcuts"
We did not land unit tests with the shortcuts feature, but we should add some.

Files to test:
* https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/components/PrivateShortcutCreateManager.kt
* ...

[2019-03-29 20:51] sblatz commented on #794
@bbinto, @vesta0: are we able to remove this as a requirement for MVP? It is not in the current UX mocks.

[2019-03-29 20:52] lime124 commented on #176
adding #543

[2019-03-29 20:53] boek commented on #176
adding #504

[2019-03-29 20:53] boek commented on #504
#176

[2019-03-29 20:53] #504 closed

[2019-03-29 20:53] boek commented on #479
Dup of #1161

[2019-03-29 20:53] #479 closed

[2019-03-29 20:57] vladikoff commented on #1190
These are great, it would be good to have those!

 I don't think we need extra telemetry for now because yes, we would get metrics and error reports in the web flow. Otherwise we are working on adding telemetry to the low-level components in Q2 and should hopefully have even more telemetry.

[2019-03-29 20:58] lime124 commented on #176
https://github.com/mozilla-mobile/android-components/issues/1824

Pull to refresh

[2019-03-29 21:08] lime124 commented on #570
Hello we are in the process of re-examining the session UI which is why i'm going to put in the icebox for now and we can re visit once those designs are done to see if the concerns are still there.

[2019-03-29 21:09] boek opened #1270 "FNX-4917 ⁃ [bug] you can tap on 3dot menu even while invisible on home screen"

[2019-03-29 21:13] lime124 commented on #501
I believe this has been fixed. Please reopen if that is incorrect.

[2019-03-29 21:13] #501 closed

[2019-03-29 21:15] lime124 commented on #499
I believe this has been solved by the shortcuts work. Please reopen if I've misunderstood. #112 Shortcuts.

[2019-03-29 21:15] #499 closed

[2019-03-29 21:16] lime124 commented on #498
Discovery has been improved based on milestone 2 evaluation.

[2019-03-29 21:16] #498 closed

[2019-03-29 21:16] Cheap-Skate commented on #570
Thanks, I'll be intrigued to see how things evolve. If you look on reddit you'll see that some people seem to like the session UI... So I may be a vocal minority ;)

[2019-03-29 21:24] lime124 commented on #176
#425

[2019-03-29 21:24] boek commented on #425
Added it to our Gestures meta

[2019-03-29 21:24] #425 closed

[2019-03-29 21:25] lime124 commented on #614
@brampitoyo we're closing this b/c we have that now. feel free to reopen if i misunderstood.

[2019-03-29 21:25] #614 closed

[2019-03-29 21:29] lime124 commented on #176
there cannot be a swipe-up from bottom gesture #1021

[2019-03-29 21:30] lime124 commented on #1021
Hi! I've added this to our gesture issue to look at the gestures holistically for our release. Thus I am going to close the issue. Thanks for taking the time to provide these details and links that we can use as we design this work. You can find that issue here: #176

[2019-03-29 21:31] colintheshots commented on #916
I don't see anywhere to enter points on this ticket. I'll T-shirt size it a non-meta Large.

[2019-03-29 21:32] colintheshots commented on #917
I don't see a place to enter point values. I'll T-shirt size this a non-meta Small, since it doesn't require that much extra work after completing #916 and the relevant Android Component.

[2019-03-29 21:35] lime124 commented on #1017
Hello! We're in the process of making some changes to the concept. I'm going to put this in the icebox for now and when those designs are complete we can revisit this issue to see if it's sill an issue. Thanks!

[2019-03-29 21:37] boek commented on #1031
dup of #1012

[2019-03-29 21:44] lime124 commented on #955
hello! we are looking at gestures for the MVP here #176 . We're also in the process of revisiting the session/tab view on the home page so I'm going to move this to the icebox for now and when those designs are complete we can revisit and see if this is still an issue. Thanks!

[2019-03-29 21:45] lime124 commented on #943
Hello! We are currently looking at the designs for this concept. Once that is complete we can revist this and see if it's still an issue. Moving to the icebox for now. Thanks!

[2019-03-29 21:51] lime124 commented on #872
I would guess that the images are not being displayed because we have tracking protection on by default. Unfortunately, at the moment there is not a way to turn those off so that the images can load. However, we are in progress of designing those controls so that tracking protection can be turned off and the images will load. #97 for the meta - we have also made a note to make sure huffpo loads th

[2019-03-29 21:51] #872 closed

[2019-03-29 21:51] boek commented on #97
Once we have the controls we should verify the default settings are the ones we want to ship. We had an issue opened #872 that mentioned under the current settings some images didn't load.

[2019-03-29 21:53] boek commented on #496
UX will provide strings

[2019-03-29 21:56] boek commented on #190
@pwd-github we would love help, but at this time our UX team is at capacity trying to provide everything we need for the MVP. Feel free to open a new ticket with the requested feature and we can prioritize it once we ship the first version :raised_hands:

[2019-03-29 21:58] lime124 commented on #1216
Hey @vesta0 What is the specific question to UX? as I understand it, we're going to be using all native stuff so there isn't anything for us to provide.

[2019-03-29 22:03] pwd-github opened #1273 "Add narration feature to Reader Mode"
### Why/User Benefit/User Problem
This is a huge accessibility boon, enabling visually impaired users to access articles via Firefox.

### What / Requirements
We need UX direction, basically we need a TTS icon. With that and placement in the UI of #190  we can accept a pull request. In terms of how the feature acts and interacts, I suggest following what we do on desktop.

### Acceptance Criteria

[2019-03-29 22:13] Delphine opened #1274 "FNX-4918 ⁃ String updates needed for first Fenix string export"
I've gone through the batch of strings for Fenix, and found a few things that will need to be updated in the batch of strings we got.

You can find my full review in our quarantine export here:
https://github.com/mozilla-l10n/android-l10n/pull/11#

Original string file here: https://github.com/mozilla-l10n/android-l10n/blob/14055d82f2d8c88ecbc573f2e6fccd42ad705ae3/mozilla-mobile/fenix/app/src/main

[2019-03-29 22:29] lime124 commented on #543
sorry forgot to close - i added it to the gestures bug

[2019-03-29 22:29] #543 closed

[2019-03-30 16:18] Mozilla-GitHub-Standards opened #1275 "FNX-4919 ⁃ CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings _Community Participation Guidelines and How to Report_, are required, and should not be altered.
1. Optional Text - The

[2019-03-30 17:02] bbinto opened #1277 "FNX-4920 ⁃ White on white address bar for LinkedIn custom tab"
Fenix is set as default browser.
Open LinkedIn app
Open web link within LinkedIn
website is opened in custom tab
Blue LinkedIn color scheme applied but address bar text color is difficult to read (white on white)

[2019-03-30 17:07] bbinto commented on #1277
https://www.dropbox.com/s/v55s8g1rjdjrffh/Screenshot_20190330-125417.png?dl=0

[2019-03-30 17:43] yoasif commented on #1277
My similar #1037 was closed because:

[2019-03-30 17:58] DoggoOfSpeed opened #1278 "FNX-4921 ⁃ Add 'Are you sure' prompt before deleting history"
### Why/User Benefit/User Problem
This will prevent accidental history deletion

### What / Requirements
A pop-up saying 'Are you sure?

### Acceptance Criteria (how do I know when I’m done?)
When there is a prompt

[2019-03-30 19:15] pasqualedante opened #1279 "FNX-4922 ⁃ [Bug] Open a link from whatsapp not works"
## Steps to reproduce
Receive a whatsapp message that contains a link

### Expected behavior
If I have set Fenix as default browser, clicking on the link, Fenix is opened to the linked page.

### Actual behavior
I have set Fenix as default browser, clicking on the link, Fenix is opened with the last opened session

### Device information
Pocophone F1 (android 9)
Today build 3/30 12:24 PM

[2019-03-30 19:58] yoasif opened #1280 "FNX-4923 ⁃ [Bug] History does not load, Fenix freezes"
## Steps to reproduce
1. Launch Fenix
1. Navigate to Library > History

### Expected behavior
History loads.

### Actual behavior
Fenix freezes.

logcat:

03-30 15:52:26.255 I/g.mozilla.feni(4165): Waiting for a blocking GC Alloc
03-30 15:52:26.271 V/StaticLayout(4100): maxLineHeight should not be -1.  maxLines:1 lineCount:1
03-30 15:52:26.330 V/chatty  (4100): uid=10293(com.pluscubed.matlog) iden

[2019-04-01 00:39] vesta0 commented on #1279
I can't reproduce this on pixel 3. @sv-ohorvath please verify.

[2019-04-01 00:41] vesta0 commented on #1278
Thanks for the feature request. Will take into consideration when user testing the history component.

[2019-04-01 00:43] vesta0 commented on #1280
[adding more details]

After it stays frozen for a minute (and is not force closed) Fenix will crash.

[2019-04-01 01:03] brampitoyo commented on #182
@sblatz @shorlander @lime124

Sorry for the overdue reply!

Yes. I think that the Quick Action Bar should appear on the Custom Tabs, because “Share”, “Favorite” and “Read” are all helpful actions to have when you open a third-party website.

I think that “Download” also has a place if you want to save pieces of information on the page to access later.

Custom tab app bar will be shown on top of th

[2019-04-01 01:12] vesta0 commented on #939
The session restore stops working after attempts to restore more than 2-3 sessions (depending on number tabs?)

[2019-04-01 01:15] vesta0 commented on #513
@topotropic can you please clarify what needs to be fixed on the about page other than what's addressed in this ticket?

[2019-04-01 01:15] vesta0 commented on #513
This is fixed.

[2019-04-01 01:30] vesta0 commented on #1277
Should be fixed by #668

[2019-04-01 01:30] vesta0 commented on #535
Should be fixed by #668

[2019-04-01 01:43] vesta0 opened #1281 "FNX-4924 ⁃ Find in Page in a Custom Tab"
Dependent on https://github.com/mozilla-mobile/android-components/issues/2699

### Acceptance Criteria
I can use the find in page feature to find a word on a site that is opened in a custom tab.

[2019-04-01 01:45] #721 closed

[2019-04-01 01:55] vesta0 opened #1282 "FNX-4925 ⁃ Back button doesn't work on first tap on a Twitter custom tab"
## Steps to reproduce
-Open Twitter App
-Click on a link (default browser Fenix) to open in custom tab
-Tap on the back button to go back to Twitter

### Expected behavior
-Going back to Twitter on the first try

### Actual behavior
-Tapping on the back button doesn't work on the first try (works on second)

### Device information
* Device: Pixel 3
* Android device: 9
* Fenix version: 1.0.1914

[2019-04-01 02:30] vesta0 opened #1283 "FNX-4926 ⁃ [Meta] Gestures"
### Why/User Benefit/User Problem
As a user, I want to use gestures to interact with the browser so I can perform my tasks quicker.

### Acceptance Criteria
-UX completed
-QA completed

### What / Requirements
https://github.com/mozilla-mobile/fenix/issues/176

Known dependencies:
~~[GV bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1509249) for iOS~~like back/forward navigation gestures:

[2019-04-01 02:31] vesta0 commented on #396
Thanks for the suggestion. Will be addressed here: #176

[2019-04-01 02:31] #396 closed

[2019-04-01 02:42] vesta0 commented on #1212
@mcomella does the page stops moving as a result of not registering downward scroll gesture? What is the user experience?

[2019-04-01 02:44] vesta0 commented on #198
For MVP we should just link to Sumo.

[2019-04-01 02:55] brampitoyo commented on #1003
@sblatz wrote:

Adding the checkbox back in is fine by me. I have updated the mockup to suit: https://mozilla.invisionapp.com/share/P7R8W1ZWHM6

[2019-04-01 03:21] vesta0 opened #1284 "FNX-453 ⁃ [Meta] Basic Login Management"
### As a user, I want to be able to
* choose whether I want my browser to remember my logins
* my browser to auto-fill the login fields when I revisit a site
* be able to view my saved logins in my browser settings
* be able to copy my login to clipboard
* be able to search my logins
* be able to delete my logins
* choose whether I want my browser to access my existing synced logins and sync new F

[2019-04-01 03:45] vesta0 commented on #209
Duplicate of #1153

[2019-04-01 03:49] vesta0 commented on #343
@lime124 what is the status of this bug? Are we waiting for UX or sticking with native Android animations?

[2019-04-01 03:59] vesta0 commented on #611
@lime124  do we have UX feedback on this?

[2019-04-01 04:00] vesta0 commented on #610
@st3fan can we define a touch area?

[2019-04-01 04:10] vesta0 opened #1285 "FNX-4927 ⁃ [UX] Accessibility options under Settings"
## User Story
As a user, I want to be able to change my browser accessibility settings so I can browse comfortably.

## Dependencies
A-C Issue: Using system font for non-mobile pages (Landed in A-C) #577

### Acceptance Criteria
I can use a toggle to scale web content according to the system font size.

[2019-04-01 04:11] vesta0 commented on #1285
@lime124 This is a P1 for MVP - I couldn't find it in the accessibility section of the UX settings.

[2019-04-01 04:12] vesta0 commented on #577
Closing this issue and addressing the UX work here: #1285

[2019-04-01 04:12] #577 closed

[2019-04-01 04:14] vesta0 opened #1286 "FNX-4928 ⁃ Accessibility options under settings"
### User Story
As a user, I want to be able to change my browser accessibility settings so I can browse comfortably.

### Dependencies
A-C Issue: Using system font for non-mobile pages (Landed in A-C) #577
UX designs: #1285

Updated settings screen: https://mozilla.invisionapp.com/share/X3R7SA84BFR
New accessibility screen: https://mozilla.invisionapp.com/share/87RPXG0QDUZ

### Acceptance Criteria

[2019-04-01 04:23] vesta0 commented on #176
#1254 Adding swipe to go back to a website and forward to a website.

[2019-04-01 04:25] vesta0 commented on #1254
Thanks for the great idea. We will be tracking all gesture designs here: #176

[2019-04-01 04:41] vesta0 opened #1287 "FNX-4929 ⁃ Animation: opening an existing tab from the home screen"
UX designs: #167

Opening an existing tab from the home screen - Transition duration 120ms

• Apply Android ripple overlay on release of pressed state on tab.
• After ripple animation, tab moves up and simultaneously fades out to 0% opacity.
• Browser chrome and website screen moves up and simultaneously fades in to 100% opacity.

[2019-04-01 04:43] vesta0 opened #1288 "FNX-4930 ⁃ Animation: Closing a tab"
UX designs: #167

Closing a tab - Transition duration 120ms

• Animation is reversed (website screen slides down and fades out, tab slides down and fades in).

Animation reference:
https://drive.google.com/file/d/1gg-tCqAKrI08ANVpekGmnltCqvS0o6RS/view?usp=sharing

[2019-04-01 04:44] vesta0 opened #1289 "Animation: tab switching"
Pulling up Amy's first comment:

Tab switching is the same as returning to home and opening an existing tab. When on a website, the user taps on the home icon that takes them to the homescreen where they tap on an already opened tab to switch to it. Let me know if you have any questions.

[code]

• Apply Android ripple overlay on release of pressed state on tab.https://github.com/mozilla-mobile/fe

[2019-04-01 04:45] vesta0 opened #1290 "FNX-4931 ⁃ Animation: tapping search bar from home screen"
UX designs: #167

Tapping search bar from home screen - Transition duration 150ms

• Search bar slides up and transitions in size and colour (search bar height is condensed, search field goes grey, text changes colour).
• Fenix logo slides up with search bar
• Fenix logo fades out along with options/PBM icons once it reaches the top of the screen
• Contents below the search bar fade out at the sam

[2019-04-01 04:46] vesta0 opened #1291 "FNX-4932 ⁃ Animation: Private Browsing"
UX designs: #167

Private Browsing
Switching the home view from normal to private mode (namely the background gradient) #181

• Current fade transition is fine - shorten the duration to 100ms.

[2019-04-01 04:47] vesta0 opened #1292 "FNX-4933 ⁃ Animation: saving an existing session"
UX designs: #167

Saving an existing session

Save Session (2 Tabs)
https://drive.google.com/file/d/1iOSnFek32QRMTJSrLQk9EXcUG4pL0M4C/view?usp=sharing

Save Session (3 Tabs)
https://drive.google.com/file/d/1VwzRJ2BqxqHRuukNlmR_u38lNmmrvK4W/view?usp=sharing

[2019-04-01 04:50] #713 closed

[2019-04-01 04:50] #710 closed

[2019-04-01 04:50] #711 closed

[2019-04-01 04:52] #782 closed

[2019-04-01 04:52] #783 closed

[2019-04-01 05:01] vesta0 commented on #806
This is done.

[2019-04-01 05:01] #806 closed

[2019-04-01 05:08] vesta0 opened #1293 "FNX-4934 ⁃ New open tab notification"
As a user, when I long press on a link to open a new tab, I want to see an indication that the new tab has opened, and have the option to easily navigate to it or stay on the current page.

[In Fennec this is surfaced as a snackbar]

### Acceptance Criteria
I can see that a new tab has opened and I am able to easily navigate to it.
I can see that a new tab has opened and I can choose to stay on my

[2019-04-01 05:15] vesta0 commented on #1087
Discussed with the team and this is not possible to detect.

[2019-04-01 05:24] thanuj10 commented on #1254
Thanks alot for including my idea.

[2019-04-01 05:30] vesta0 commented on #987
@eduaddad yes we are working on localization of the browser. Thanks for offering to help, we will get back to you!

[2019-04-01 05:32] vesta0 commented on #954
Thanks for the suggestions! We will take them into consideration. cc @lime124

[2019-04-01 05:32] #954 closed

[2019-04-01 06:24] vesta0 commented on #813
Discussed and moved out of MVP.

[2019-04-01 06:24] #813 closed

[2019-04-01 06:39] buttercookie42 commented on #1285
@vesta0 Also "Always enabled zoom", too? (Though unfortunately that needs a new GeckoView API, too, I think)

[2019-04-01 07:17] buttercookie42 commented on #612
It looks like #1293 would take care of this?

[2019-04-01 07:21] buttercookie42 commented on #580
In principle the same issues applies to links, too, as either the raw URL or a "title" if available (e.g. on Bugzilla) can easily be longer than the space available by default, too.

[2019-04-01 07:31] cpeterso commented on #1285
GV API to support "Always enable zoom" setting: https://bugzilla.mozilla.org/show_bug.cgi?id=1540615

[2019-04-01 08:20] mitchhentges opened #1294 "FNX-4935 ⁃ [taskcluster] Rename "app-...-unsigned" to "target.$arch.apk""
In automation, each apk has a relatively long and verbose name such as `app-geckoNightly-x86-release-unsigned.apk`
This ticket will rename these apks within taskcluster automation so that they follow the format `target.$arch.apk` instead, such as `target.x86.apk` instead.

[2019-04-01 08:46] sv-ohorvath commented on #1279
I am able to reproduce this, and it's not related only to WhatsApp. You can also pen links from other apps. STR:
1. Make Fenix the default browser.
2. Open Fenix, open a few tabs.
3. Kill Fenix from task manager.
4. Open a link from another app.

Results: The link will open in a background tab, while the app is loading the previously opened tab.
Also, the app is flashing a few times while it's loa

[2019-04-01 09:31] sv-ohorvath opened #1296 "FNX-4936 ⁃ [Bug] Wrong default apps settings open on some devices"
## Steps to reproduce
On one of these 2 devices (or probably any Huawei with Android >6):
Huawei Honor 8 (Android 7.0) & Huawei P20 lite (Android 8)

1. Open Fenix, go to Settings>Make default browser.
1. Verify the Settings menu displayed.
    1. Expected behavior
System's Settings>Apps>Default apps menu is displayed.
    1. Actual behavior
System's Settings>Apps>Fenix>Open by default menu is dis

[2019-04-01 11:02] bbinto opened #1297 "FNX-4937 ⁃ [Bug] No data shows up in Adjust"
After implementing #106, data should be showing up in Adjust.

@kbrosnan or @npark-mozilla - could you please help out verifying with the engineers what is going on and how to fix it.

![](https://user-images.githubusercontent.com/122897/55323087-15b5e280-544c-11e9-828e-ed388e77f569.png)

/cc @st3fan

[2019-04-01 12:42] bbinto commented on #1158
@boek - this should be covered by #105, can you or @georgf confirm that this is being sent as part of that: https://docs.google.com/spreadsheets/d/1P2_aGEE9OtjM3x71d0GBhnHDhzxEL02xEHuKn1no23E/edit#gid=0, row 27.

@georgf or does the app engineer have to provide anything below 22 in separate pings and therefore GH issues?

[2019-04-01 12:45] georgf commented on #1158
@bbinto the app engineer has to record/instrument everything below row 22 in that sheet (if it's critical to the product).

Glean just provides the mechanism to record these (and will take care of sending the data etc.).

[2019-04-01 12:55] bbinto opened #1298 "FNX-455 ⁃ [Telemetry] Add Adjust campaignID to metrics ping"
It was identified that some basic / core pings are not included "for free" in the new Glean SDK baseline ping. This ticket is about including the additional pings product wants to track

#### Description & Product Manager
* As a product marketing manager, I want to know from what campaign users installed the app from.

#### What questions will you answer with this data?
* By knowing what cohort/ca

[2019-04-01 12:58] bbinto opened #1299 "[Telemetry] Add distributionID to baseline ping"
#### Description & Product Manager
* As a BD manager, I want to know from which distribution partner users installed the app from.

#### What questions will you answer with this data?
* By knowing what partner install the user came from allows us to understand their usage better

#### Why does Mozilla need to answer these questions? Are there benefits for users? Do we need this information to addr

[2019-04-01 13:00] bbinto opened #1300 "FNX-4939 ⁃ [Telemetry] Add default search to baseline ping"
#### Description & Product Manager
* As a product manager, I want to know what default search provider our users pick

#### What questions will you answer with this data?
* By knowing what search provider was picked, we can better understand their usage

#### Why does Mozilla need to answer these questions? Are there benefits for users? Do we need this information to address product or business re

[2019-04-01 13:05] bbinto opened #1301 "FNX-4940 ⁃ [Telemetry] Add uri_count to ping"
Similar to Focus: https://github.com/mozilla-mobile/focus-android/blob/master/docs/Telemetry.md#uri-count

#### What questions will you answer with this data?
* As a product manager, I want to know how many websites URIs are being visited per session

#### Why does Mozilla need to answer these questions? Are there benefits for users? Do we need this information to address product or business requi

[2019-04-01 13:08] georgf commented on #1158
What might be helpful is that we have all the different metric types [documented now](https://github.com/mozilla-mobile/android-components/blob/master/components/service/glean/docs/metrics/adding-new-metrics.md#Choosing-a-metric-type).

[2019-04-01 13:17] sv-ohorvath commented on #1223
Verified as fixed. Device: Galaxy Note 8 (Android 9), Huawei MediaPad M2 (Android 5.1.1)

[2019-04-01 13:18] bbinto opened #1302 "FNX-4941 ⁃ [Telemetry] Add page load ms in baseline ping"
Similar to Focus: https://github.com/mozilla-mobile/focus-android/blob/master/docs/Telemetry.md#page-load-time-histogram
Similar to Focus: https://github.com/mozilla-mobile/focus-android/blob/master/docs/Telemetry.md#uri-count

#### What questions will you answer with this data?
* As a product manager, I want to know if the app renders websites in a timely fashion and if we can see regressions or

[2019-04-01 13:20] bbinto commented on #926
superseded by all issues under epic: https://github.com/mozilla-mobile/fenix/issues/105.

A little background: https://github.com/mozilla-mobile/fenix/issues/1158#issuecomment-478563073

@vesta0 - I created a bunch of sub / user stories for all additional basic core ping probes that I thought we'd get for free. I have not moved them into a milestone / backlog because I wanted you to be aware of it

[2019-04-01 13:21] bbinto commented on #926
Feel free to close this issue once you've seen this comment, @vesta0

[2019-04-01 13:23] bbinto commented on #1190
@vladikoff - So are you saying, you will be able to know if/when people sing out/in from Fenix without any further instrumentation from our end?

[2019-04-01 13:34] sv-ohorvath commented on #1265
Verified the new crash reporter page.

[2019-04-01 13:41] bsurd commented on #945
Removing the QA needed flag, please re-add as soon as this is ready for testing.

[2019-04-01 13:46] bsurd commented on #791
All acceptance criteria for this have been verified and working as intended.

[2019-04-01 13:54] vladikoff commented on #1190
@bbinto oh sorry I misunderstood! I thought you were planning to have client telemetry events for these:

- [x] how often people log in/out to FxA via Fenix
- [x] Any kind of syncing activities

I highly suggest we implement the above in the Fenix client if we don't have those yet, especially if you want to see the metrics in places other than Amplitude and Re:Dash. The FxA web and server events g

[2019-04-01 13:58] bsurd commented on #797
Verified in the latest Fenix searched through different search providers are properly logged in history, private browsing ones not being displayed.

All the acceptance criteria have been met marking as verified.

[2019-04-01 14:02] sv-ohorvath opened #1303 "FNX-4942 ⁃ [Bug] Slow response when selecting history items"
## Steps to reproduce
1. Go to Library>History
1. Long tap on items to select/unselect them.
    1. Expected behavior
The tap response should be immediate.
    1. Actual behavior
On the Nexus 5, the tap response time is very long (~6s until the checkbox appears).
On Honor 8 it's a bit better but still laggy.
On a Galaxy Note, it works instantly.
![20190401](https://user-images.githubusercontent.co

[2019-04-01 14:04] sv-ohorvath commented on #1303
Loading the history list is really slow as well (if not related, let me know if you need a different issue logged for that).

[2019-04-01 14:19] sblatz commented on #1274
Thanks for filing this, @Delphine 😄

We'll need to get this prioritized in a sprint. cc: @vesta0, @bbinto.

[2019-04-01 14:21] sv-ohorvath opened #1304 "FNX-4943 ⁃ [Bug] Too little space for search suggestions/search shortcuts in landscape"
## Steps to reproduce
1. Turn the device in landscape mode.
1. Type in the search bar.
    1. Expected behavior
At least one search suggestion should be visible and the user can scroll from there.
    1. Actual behavior
On phones, the search suggestions are barely (or not at all) visible.
Comparing screenshots from a Galaxy Note 8 (large screen):
Fenix:
![Screenshot](https://user-images.githubuser

[2019-04-01 14:22] bsurd commented on #796
Verified in the latest Fenix, the available search engines update according to the set locale.

[2019-04-01 14:23] sv-ohorvath commented on #1304
On a smaller device like Nexus 5, there are no visible search suggestions in landscape mode.

[2019-04-01 14:25] sv-ohorvath opened #1305 "FNX-4944 ⁃ [Bug] Crash turning search suggestions in landscape mode"
## Steps to reproduce
1. Type in the search bar to get search suggestions. Or, tap the Shortcuts button to see the list.
1. Turn the device in landscape mode.
    1. Expected behavior
The app switches to landscape mode.
    1. Actual behavior
Crash.
    1. Device information

* Android device: Nexus 9 (Android 6.0.1), Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1)
* Fenix version: 4/1

[2019-04-01 14:41] bsurd opened #1306 "FNX-4945 ⁃ [Bug] Fenix crashes when switching between locales"
### Steps to reproduce
1. Open Fenix.
1. On your device, in Settings, go into Language preferences.
1. Change to a different language (eg. Russian/Japanese).
1. Open Fenix from the background.

### Expected behavior
Fenix opens without any issues.

### Actual behavior
Fenix Crashes.

### Device information
* Android device:
  * Affected:
    * Nexus 6P (Android 8.1.0)
    * Samsung Galaxy Tab S3 (

[2019-04-01 15:09] sblatz opened #1307 "FNX-4946 ⁃ Use Firefox Sharp Sans font"
Currently we're not using the custom font `Firefox Sharp Sans`. This should be implemented before MVP, and is likely a line item in our [design audit](https://github.com/mozilla-mobile/fenix/issues/724)

[2019-04-01 15:09] sblatz commented on #1307
@shorlander mentioned there _may_ be potential legal ramifications by putting this in the app, so let's make sure we address those

[2019-04-01 15:13] Delphine commented on #987
@eduaddad Hi and thanks for your interest in translating. What language are you interested in contributing to?
We translate using our own tool called Pontoon, I'll be glad to let you a bit more about this. You can reach out to me here: delphine at mozilla dot com
thanks

[2019-04-01 15:14] sv-ohorvath commented on #356
Verified that delete history works. Logged new issues separately. Closing this ticket.

[2019-04-01 15:19] sv-ohorvath opened #1308 "FNX-4947 ⁃ [Bug] Can't reuse suggested links from opened tabs after a clear history"
## Steps to reproduce
1. Open a few webpages, i.e. go to amazon and open a few product pages in different tabs, to have distinctive urls.
1. Go to Library and delete all history.
1. Tap the search bar on the homescreen and type the beginning of one of the urls from step 1 (i.e. amaz...).
1. Tap one of the suggested pages, which are already opened in the current session.
    1. Expected behavior
Th

[2019-04-01 16:08] #791 closed

[2019-04-01 16:08] #796 closed

[2019-04-01 16:41] Amejia481 opened #1309 "FNX-4948 ⁃ Investigate how site permissions should work on private mode"

[2019-04-01 17:45] pocmo commented on #1091
Was fixed in AC.

[2019-04-01 18:13] sblatz commented on #668
This will require some a-c work to customize the `DisplayToolbar` so that it can show description and title, as well as adding room for a custom icon.

[2019-04-01 18:51] npark-mozilla commented on #1297
Actually, @rpappalax should know a little more than me about telemetry - cc'ing him here

[2019-04-01 18:57] AmyYLee commented on #904
I've attached a spec for the tab counter in the bug description. Let me know if you need anything else.

[2019-04-01 20:52] vesta0 commented on #1093
Should be fixed by #1093

[2019-04-01 21:16] vesta0 commented on #587
@lime124 Do you have an official UX direction on this ticket?

[2019-04-01 21:16] #916 closed

[2019-04-01 21:16] #917 closed

[2019-04-01 21:16] #920 closed

[2019-04-01 21:45] vesta0 commented on #803
This is done in #356

[2019-04-01 21:45] #803 closed

[2019-04-01 22:30] AmyYLee commented on #982
Currently in Fennec, this is a system notification that appears after you open Firefox for the first time. Unless there is a reason why we want to change it and move it into onboarding (@shorlander), I think we can keep the same behaviour and the notification would take you to Fenix Settings -> Data choices screen.

[2019-04-01 22:32] AmyYLee commented on #982
@boek Do you need strings for this?

[2019-04-01 23:22] boek commented on #982
@AmyYLee That sounds good to me! I do 👍

[2019-04-02 01:09] shorlander commented on #611
Yes, the design calls for a border and a shadow to address this:

![Quick Action Buttons](https://user-images.githubusercontent.com/684427/55368881-17ba8880-54c2-11e9-8b73-060c676ff36c.png)

[2019-04-02 04:57] vesta0 commented on #1153
Duplicate of #208

[2019-04-02 05:27] vesta0 commented on #1002
@pocmo is this related to this [A-C issue](https://github.com/mozilla-mobile/android-components/issues/2571)?

[2019-04-02 05:36] vesta0 commented on #1252
@ekager could you please test this with your Pixel 3 and let me know if you get the download confirmation notification?

[2019-04-02 05:45] vesta0 opened #1311 "FNX-4950 ⁃ Download does not work on a custom tab (Slack)"
## Steps to reproduce
-Open a custom tap from slack
-Tap on a link on the page to download a file

### Expected behavior
-Download confirmation prompt pops up and you can tap on DOWNLOAD

### Actual behavior
-Nothing happens

### Device information
* Android device: Pixel 3
* Fenix version: 1.0.1914

[2019-04-02 05:58] vesta0 commented on #607
This is fixed.

[2019-04-02 05:58] #607 closed

[2019-04-02 06:23] vesta0 commented on #612
Will address this in #1293

[2019-04-02 06:23] #612 closed

[2019-04-02 06:49] vesta0 opened #1312 "FNX-4951 ⁃ Edit Bookmark"
As a user, I want to be able to edit my saved bookmark

### Acceptance Criteria (Added by PM)
I can edit the name of a saved bookmark.
I can edit the URL of a saved bookmark.

[2019-04-02 07:08] vesta0 commented on #552
@lime124 the GeckoView team requires UX feedback on how this should behave before they can fix it. See email from @cpeterso

[2019-04-02 08:09] brampitoyo commented on #1064
@vesta0 @st3fan @lime124 Progress report:

* I’ve updated my proposal document to say that we should turn TP on everywhere
    * It’s simpler than before – where normal browsing only blocks tracking cookies, and private browsing has TP on.
    * This should be complemented with a pre-MVP site audit of top sites. We believe that TP doesn’t break many sites. We’ve even researched it. Now we need to

[2019-04-02 08:56] brampitoyo commented on #187
I’ve reworked the Settings page to take into account all the features that we’re shipping in MVP. As a result, a lot of sub-pages were taken out.

The only notable thing here is the inclusion of a new instruction for setting default browser, because Fenix will send users to Android System Settings.

The canonical link to the latest mockup, which is just up above, is this: https://github.com/mozill

[2019-04-02 09:31] brampitoyo commented on #1258
@ameija wrote:

@pocmo wrote:

Thanks a lot for asking this question, because I haven’t thought of it.

Yes. @pocmo was exactly right. The doorhanger will be attached to the top, but the order of items in the doorhanger won’t change.

So if our custom tab looks like this:

<img width="360" src="https://user-images.githubusercontent.com/51007/55391973-936d1180-5564-11e9-9a3c-d36b7e5cd19c.png">

The

[2019-04-02 09:49] brampitoyo commented on #1257
@Amejia481 wrote:

Good question!

If the tablet layout looks like this:

<img src="https://user-images.githubusercontent.com/51007/55393121-d62fe900-5566-11e9-8b32-0423f0994742.png">

Then the site information panel doorhanger would look like this:

<img src="https://user-images.githubusercontent.com/51007/55393159-e9db4f80-5566-11e9-99fa-af9138829cae.png">

Note the rounded corner (mobile doorha

[2019-04-02 12:21] sv-ohorvath opened #1315 "FNX-4952 ⁃ [Bug] Can't sign in on FxA"
## Steps to reproduce
1. Go to settings>Sign in.
1. Sign in with a new/existing account.
    1. Expected behavior
User is signed in.
    1. Actual behavior
Not signed in. Page not found error displayed after signing in.
    1. Device information

* Android device: Note 8 (Android 9)
* Fenix version: 4/2 build

[2019-04-02 13:05] Amejia481 commented on #1257
Thanks @brampitoyo !

[2019-04-02 13:07] sv-ohorvath opened #1318 "FNX-4953 ⁃ [Bug] An about:blank is inserted in history every time you load a new website"
## Steps to reproduce
1. Tap the search bar and type in a search/web URL.
1. Go to History.
    1. Expected behavior
The webpage is displayed in history.
    1. Actual behavior
History shows an about:blank and then the webpage loaded.
    1. Device information

* Android device: Note 8 (Android 9), Nexus 9 (Android 6.0.1)
* Fenix version: 4/2 build
![Screenshot](https://user-images.githubuserconte

[2019-04-02 13:08] Amejia481 opened #1319 "Customize site permissions doorhanger for tablet layouts"
Relate issue https://github.com/mozilla-mobile/fenix/issues/1257

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-4269)

[2019-04-02 13:12] Amejia481 commented on #1258
Thanks @brampitoyo !

[2019-04-02 13:15] Amejia481 opened #1320 "FNX-4955 ⁃ Customize site permissions doorhanger for custom tabs"
Related issue: https://github.com/mozilla-mobile/fenix/issues/1258

Blocked by : https://github.com/mozilla-mobile/android-components/issues/2489

[2019-04-02 13:48] mitchhentges opened #1321 "FNX-4956 ⁃ [taskcluster] Dep-sign APKs for Raptor consumption on each master commit"
We will have performance tests running on `fenix` in the future. One of the requirements is to have builds signed with our releng-mobile "dep" key. The "dep" ("dependency") key is very similar to our release key that's used for production/beta/nightly, except that it's used strictly for internal automation (such as for performance-testing/raptor :smile:)

This ticket requires that, on every commit

[2019-04-02 14:22] AmyYLee commented on #560
This has been addressed in https://github.com/mozilla-mobile/fenix/issues/167

[2019-04-02 14:29] Amejia481 commented on #1309
@pocmo I noticed that in [Fennec we are remembering site permissions in private mode](https://drive.google.com/file/d/1S2xiXw96Jf7uooY57Aj9py_J0JdNTH2v/view?usp=sharing), I don't know if this is the right behavior that we want on Fenix? I tested on other browsers and this is not happening.

cc: @st3fan @vesta0

[2019-04-02 14:43] sv-ohorvath opened #1322 "FNX-4957 ⁃ [Bug] Crash playing youtube videos"
## Steps to reproduce
1. go to youtube and play a video.
    1. Expected behavior
Video plays.
    1. Actual behavior
Fenix stops working.
    1. Device information

* Android device: Note 8 (Android 9), Nexus 9 (Android 6.0.1)
* Fenix version: 4/2 build

[2019-04-02 14:44] jhugman commented on #942
Current status of a few browsers, setting French as a system language, and Request Bin.

Chrome Android
[code]

Fenix, GeckoView
[code]

Chrome, Desktop
[code]

Safari Desktop
[code]

Firefox Desktop
[code]

Language is exposed in the settings, via `intl.accept_languages` on desktop, and via `GeckoRuntimeSettings.locales` in GV.

Suggest: setting engine `locales` setting when `Locale` is changed v

[2019-04-02 16:05] MeridelW commented on #496
@boek Can you provide me with a visual of this? Thank you.

[2019-04-02 16:17] ekager opened #1323 "FNX-4958 ⁃ [Bug] With no active session, settings will pop to home on background"
My fix for #784 (#1123) caused this regression. This should be a high priority bug.

## Steps to reproduce
1. Have no action session, go to Settings from home
1. Background the app and then resume

### Expected behavior
Should be in Settings

### Actual behavior
Popped back to home

[2019-04-02 16:18] vesta0 commented on #1216
Confirmed with the team that this already works with the native android voice search. We won't build anything extra for MVP.

[2019-04-02 16:23] vesta0 commented on #926
Closing as discussed.

[2019-04-02 16:23] #926 closed

[2019-04-02 16:39] vesta0 commented on #465
@cadeyrn thank you for finding and filing these bugs! 2 and 5 were fixed and there is a bug filed for 1 but please feel free to go ahead and create bugs for 3,4,6.

[2019-04-02 16:47] pocmo commented on #1307
* In the past using custom fonts was a guaranteed way to leak memory - I wonder if that is better today (@colintheshots may know?)
* Our own guidelines recommend to use the system font :) https://design.firefox.com/photon/visuals/typography.html

[2019-04-02 16:59] shorlander commented on #1307
Those guidelines are mostly targeted at Desktop. But also we wrote those guidelines before Material had carved out a lot of space for more flexible theming (https://material.io/design/material-studies/about-our-material-studies.html) :)

[2019-04-02 17:01] colintheshots commented on #1307
Google added full, first-party support to add custom fonts in the support library with proper caching about a year ago. Before that point, using custom fonts required various hacks and wasn't well-supported on Android. Using a proper font cache avoided the memory leaks even before Google made their first-party changes.

[2019-04-02 17:08] vesta0 commented on #1308
I can't reproduce this on pixel 3.

[2019-04-02 17:14] vesta0 commented on #1172
@eeejay any recommendations?

[2019-04-02 17:17] vesta0 commented on #519
@eeejay let us know if you have any recommendations.

[2019-04-02 17:28] vesta0 commented on #538
@topotropic is this not how sessions behave today?

[2019-04-02 17:37] topotropic commented on #538
this is about tabs in the current session, they are sorted by oldest to newest and it would be helpful to have the newest tab first

[2019-04-02 17:41] eeejay commented on #519
I don't have any further recommendations here. Looks like there is an obvious fix.

[2019-04-02 17:45] cpeterso commented on #1322
@boek reproduced this crash and says it looks like a GV tab crash. I filed a new GV bug for this crash: https://bugzilla.mozilla.org/show_bug.cgi?id=1541128

[2019-04-02 17:58] pocmo commented on #1221
Since GeckoView doesn't know about all crashes it can't display them in `about:crashes`. However the "crash reporter" component does and we have the following issue about providing an "about:crashes"-like UI in the component (but that's probably not going to happen in the MVP timeframe):

https://github.com/mozilla-mobile/android-components/issues/1705

[2019-04-02 18:01] vesta0 commented on #811
UX working on a related bug #1012

[2019-04-02 18:03] vesta0 commented on #881
@sv-ohorvath please verify that this is still happening.

[2019-04-02 18:11] vesta0 commented on #817
@sv-ohorvath please verify this has been fixed.

[2019-04-02 18:11] eeejay commented on #1172
I'll look into this. I see this as an issue with the radio buttons in the site permissions panel. Did the user mention anything else?

[2019-04-02 18:13] vesta0 commented on #696
This is fixed.

[2019-04-02 18:38] buttercookie42 opened #1327 "Local file system browsing"
### Why/User Benefit/User Problem
I want to be able to view HTML documents and other supported files on my phone's local storage (including removable SD cards and such-like) in the browser, like I can with Firefox today.

### What / Requirements
Unfortunately Google plans to make this rather difficult, and if we want to provide this feature on Android Q onwards we'd likely need

1. [content://-URI

[2019-04-02 18:50] cpeterso commented on #1221
I filed a GV bug requesting GV disable its `about:crashes` page to avoid user confusion. If Fenix wants to support `about:crashes`, it can write its own `about:crashes` handler and show the Socorro and Sentry crash reports it has caught and submitted.

https://bugzilla.mozilla.org/show_bug.cgi?id=1541152

[2019-04-02 19:09] AmyYLee commented on #544
@sblatz Hi, I see this marked as needs UX feedback. Do you mean the animation needs to be changed or is this a performance improvement bug?

[2019-04-02 19:28] mheubusch commented on #496
Please change the label to Open Tabs

@MeridelW - I grabbed this since I had context.

[2019-04-02 19:37] MeridelW commented on #496
@mheubusch Thanks!

[2019-04-02 19:50] ncalexan opened #1329 "FNX-4959 ⁃ [Bug] `BrowserPerformanceTestActivity` no longer respects custom Intent arguments"
## Steps to reproduce
[code]

### Expected behavior
Custom profile is used.

### Actual behavior
Custom profile is not used.

Digging in, the Gecko runtime is being (lazily) created very early in the lifecycle, during [`FenixApplication.onCreate`](https://github.com/mozilla-mobile/fenix/blob/32478edf006ed374e48c0676910d9cdf3f2d61b4/app/src/main/java/org/mozilla/fenix/FenixApplication.kt#L75).  Thi

[2019-04-02 20:01] sblatz commented on #544
@AmyYLee This does not need UX feedback, and is in fact a performance concern. I will update the label to reflect this!

[2019-04-02 20:09] AmyYLee commented on #1049
Hi,

We can move the progress bar from below the search box to above (see attached spec for reference). I've also provided colour specifications for the loaded and unloaded portions. As for animation, can we mimic what we currently have for the Fennec loader? Would this be a lot of effort to test out to see how it feels?

https://mozilla.invisionapp.com/share/74RBWE0D9SU#/screens

[2019-04-02 20:36] cadeyrn opened #1330 "FNX3-15488 ⁃ [Bug] history view: data URIs truncated too late"
### Steps to reproduce
1. open a data URI (example image: https://dopiaza.org/tools/datauri/examples/index.php)
1. open history

### Expected behavior
no overlap

### Actual behavior
![screenshot1](https://user-images.githubusercontent.com/1100614/55434353-b5cc5280-5597-11e9-9cd8-89fe06c7ba43.png)

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision bd81e

[2019-04-02 20:40] cadeyrn opened #1331 "FNX-4962 ⁃ [Bug] History: Consecutive Duplicates should be filtered out"
### Steps to reproduce
1. open history

### Expected behavior
no duplicated entries, because the duplicates don't add much value

### Actual behavior
duplicated entries

![Screenshot](https://user-images.githubusercontent.com/1100614/55434659-5b7fc180-5598-11e9-9438-fc01ca52ba2b.png)UNITO-UNDERSCORE!20190402-223933!

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: F

[2019-04-02 20:45] cadeyrn opened #1332 "FNX-4963 ⁃ [Bug] History: Redirects should be taken into account"
### Steps to reproduce
1. enter "google.de" in the address bar
1. open history

### Expected behavior
only one entry in history.

### Actual behavior
four :warning: entries in history, about:blank (that's #1318) and one for every redirect.

![Screenshot](https://user-images.githubusercontent.com/1100614/55434975-2758d080-5599-11e9-9f5c-d1c91e4ed081.png)UNITO-UNDERSCORE!20190402-224343!

### Device

[2019-04-02 20:51] cadeyrn opened #1333 "FNX3-15491 ⁃ [Bug] History: alignment of favicon placeholders / use favicons"
### Steps to reproduce
1. open history

### Expected behavior
correct vertical alignment of favicon placeholders / use of "favicons" - at least the same icons as in the bookmarks view

### Actual behavior
no correct vertical alignment of favicon placeholders, no use of "favicons" (at least the same icons as in the bookmarks view) at all

![Screenshot](https://user-images.githubusercontent.com/1100

[2019-04-02 20:53] cadeyrn commented on #465
@vesta0 okay! (5) is not yet fixed. I filed new issues for (3), (4), (5) and (6).

[2019-04-02 21:09] cadeyrn commented on #881
I can no longer reproduce since I cleared all app data a week or two weeks ago. It might depend on the contents of the history. That's only a theory but I guess there were a few very long data URIs of the "About Fenix" page in my history (from before it was implemented as an Android Fragment) because I tested a lot with "About Fenix", so maybe related to #1162 and https://github.com/mozilla-mobile

[2019-04-02 21:17] cadeyrn commented on #897
I can no longer reproduce.

[2019-04-02 21:23] csadilek commented on #1329
In the linked reference browser issue this was caused by the GeckoView fetch client passed to Glean (which was fixed/worked around by making the fetch client lazy).

In this case it's the GeckoView fetch client passed to service-fretboard / kinto which causes the same issue. The only quick workaround I see is to switch to `HttpUrlConnectionClient` until we have the fix in: https://bugzilla.mozilla

[2019-04-02 21:26] cpeterso commented on #1077
@pocmo - This issue suggesting Fenix switch from engine-gecko-nightly to engine-gecko-beta (GV 67 Beta) is still open, but I just confirmed that Fenix Nightly is using GV 67. Is Fenix using an old GV 67 Nightly version or has this engine-gecko-beta issue already been fixed?

FWIW, we now want Fenix Nightly to use GV 68 Nightly, so we want to WONTFIX this issue. I will file a new bug about switchin

[2019-04-02 21:40] cpeterso opened #1335 "FNX-4965 ⁃ Switch Fenix Nightly to GV 68 Nightly"
### Why/User Benefit/User Problem
We now want Fenix Nightly to use GV 68 Nightly, not GV 67 Beta. Fenix is still using a very old version of GV 67 Nightly from 2019-03-18 (build 67.0-20190318154932).

### What / Requirements
Switch Fenix Nightly to a more recent version of the `engine-gecko-nightly` component using GV 68 Nightly.

GV 68 Nightly has ARM64 and x86_64 builds, so there are no blockers

[2019-04-02 22:16] csadilek commented on #113
A-C has a QR scanner / component now (based on ZXing and using the Camera2 API): https://github.com/mozilla-mobile/android-components/tree/master/components/feature/qr

[2019-04-02 23:18] jcjones opened #1340 "Support the W3C Web Authentication specification in Android"
### Why/User Benefit/User Problem
Support the W3C Web Authentication specification in Android. Web Authentication is our best tool against phishing on the web, and now is a W3C Recommendation. Firefox supports Web Authentication on Desktop since Firefox 60.

* https://blog.mozilla.org/security/2019/03/19/passwordless-web-authentication-support-via-windows-hello/
* https://developer.mozilla.org/en-

[2019-04-03 00:09] mcomella commented on #1212
There are a few cases:
- If the page is not scrolling, after the gesture the page will not scroll
- If the page is scrolling, after the gesture the page will stop scrolling
- In both cases, sometimes the page flings unnaturally: it flings much faster than I had released

[2019-04-03 00:30] agi90 opened #1343 "FNX-4967 ⁃ [Bug] Youtube plays fullscreen in portrait mode"
## Steps to reproduce
* Set device in portrait mode
* Open youtube video
* Set fullscreen

### Expected behavior
* Video should play in landscape mode

### Actual behavior
* Video plays in portrait mode
Works in Fennec Nightly, Chrome latest stable

### Device information
* Android device: Samsung S10e
* Fenix version: 1.0.1914 (latest from playstore)

[2019-04-03 05:09] jonalmeida commented on #1343
Related: https://github.com/mozilla-mobile/fenix/issues/1006

[2019-04-03 08:42] sv-ohorvath commented on #792
Verified the acceptance criteria has been met.
Devices: Pixel (Android 9), Nexus 9 (Android 6.0.1)

[2019-04-03 08:42] #792 closed

[2019-04-03 09:10] sv-ohorvath commented on #795
Google doesn't change its domain based on IP location or locale. But that's not the case in Chrome either.
Search engines list is updated based on locale. Some engines, like Amazon & wikipedia use the local domains. I think this can be considered as done.

devices verified on: Nexus 5 (Android 6.0.1), Pixel (Android 9)

[2019-04-03 09:10] #795 closed

[2019-04-03 09:14] sv-ohorvath commented on #1305
Doesn't reproduce anymore on Master, 4/3 build.

[2019-04-03 11:14] sv-ohorvath commented on #881
Can't reproduce either. Should we close it and re-open if we see this again?

[2019-04-03 11:16] bsurd commented on #1034
This seems to be constantly reproducible on the Note 8 even with older builds. Didn't manage to reproduce with other devices.

[2019-04-03 11:23] bsurd commented on #817
Verified on the Note 8 and the issue is no longer reproducible. Closing the issue.

[2019-04-03 11:23] #817 closed

[2019-04-03 11:30] bsurd commented on #1187
Verified on multiple devices with the latest build, the issue is no longer reproducible.

[2019-04-03 11:44] bsurd commented on #513
This is still reproducible and also freezes/crashes the app.

### STR:
1. Go to any about page.
2. Tap on the back button.

### Expected:
The home page is displayed without any about pages in the session.

### Actual:
Fenix crashes, after you reopen the app the about page is also displayed.

### Notes & information:
* [Logcat](https://github.com/mozilla-mobile/fenix/files/3038433/log.txt)
* [Video

[2019-04-03 12:06] cadeyrn commented on #513
I am pretty sure this issue was about the "About Fenix" page which no longer stays in the session since it has been implemented as an Android Fragment, not about about: pages like about:telemetry. But FWIW I can confirm the freeze/crash with about:telemetry. ;-)

[2019-04-03 14:15] sblatz commented on #513
@cadeyrn is correct on this. I will create a follow up ticket to address this other issue!

[2019-04-03 14:15] #513 closed

[2019-04-03 14:16] sblatz opened #1347 "FNX-4968 ⁃ [Bug] Cannot load about:telemetry"
[From @bsurd](https://github.com/mozilla-mobile/fenix/issues/513#issuecomment-479454358)

### STR:
1. Go to any about page.
1. Tap on the back button.

### Expected:
The home page is displayed without any about pages in the session.

### Actual:
Fenix crashes, after you reopen the app the about page is also displayed.

### Notes & information:
* [Logcat](https://github.com/mozilla-mobile/fenix/fil

[2019-04-03 14:17] sblatz commented on #1347
I wonder if GV team also needs to remove this page for Fenix? Or is that just applicable to about:crashes?

cc: @cpeterso

[2019-04-03 14:41] mozillamarcia opened #1348 "FNX-4969 ⁃ [Bug] Crash when playing livestreams on hdontap.com"
## Steps to reproduce
* Load https://hdontap.com
* Select Hanover Eagles under Live Animals Cam

### Expected behavior
* The site loads and I can see the stream

### Actual behavior
* I get both the Fenix crash dialog and the Google crash dialog

### Device information
* Android device: Pixel 3 running Android Pie
* Fenix version: Build ID #10921240

[2019-04-03 14:49] pocmo commented on #1329
Is there a follow-up issue to get rid of `HttpURLConnectionClient`? That may be a release blocker.

[2019-04-03 14:50] sv-ohorvath commented on #1308
Here's a gif with the issue:
![20190403_174841](https://user-images.githubusercontent.com/4037709/55488505-e4e6d080-5638-11e9-930c-08a03a9f8cbb.gif)

[2019-04-03 14:55] csadilek opened #1350 "FNX-4971 ⁃ Use GeckoView fetch client for service-fretboard / kinto"
We temporarily moved to `HttpUrlConnectionClient` until we have an alternative way of launching Raptor: https://bugzilla.mozilla.org/show_bug.cgi?id=1533385

See: https://github.com/mozilla-mobile/fenix/issues/1329

[2019-04-03 14:56] csadilek commented on #1329
@pocmo I've filed one now: https://github.com/mozilla-mobile/fenix/issues/1350

[2019-04-03 15:09] bsurd opened #1351 "FNX-4972 ⁃ [Bug] Fenix freezes after accessing about pages"
## Steps to reproduce
1. Go to any about page. (eg. telemetry, crashes)
1. Tap on the back button.

### Expected behavior
Fenix works as expected.

### Actual behavior
Fenix freezes/crashes.

### Device information
* Android device:
  * Google Pixel (Android 9)
  * Nokia 6 (Android 7.1.1)
  * Huawei Honor 8 (Android 7)
* Fenix version: 1.0.1914 (#10921239)
* [Logcat](https://github.com/mozilla-mob

[2019-04-03 15:11] bsurd commented on #513
@cadeyrn Ah yes, you are right, marking as verified as this is fixed.

[2019-04-03 15:11] bsurd commented on #1351
Duplicate of #1347

[2019-04-03 16:49] cpeterso commented on #1347
I don't know yet, but I added notes regarding `about:telemetry` and linked to this issue from GV's "disable `about:config`" bug https://bugzilla.mozilla.org/show_bug.cgi?id=1541152.

[2019-04-03 17:20] vesta0 commented on #560
Closing as per Amy's comment.

[2019-04-03 17:20] #560 closed

[2019-04-03 17:21] vesta0 commented on #371
blocked by #552

[2019-04-03 17:45] colintheshots commented on #242
Okay, I just need a bookmark separator to use and we can close this.

[2019-04-03 17:58] jonalmeida commented on #1006
UX mentioned that when entering fullscreen mode we should force landscape mode.

The `FullScreenFeature` has onChanged listener which will allow the app to know when to do this - so it would make this a non-issue for a-c.

#1343 better captures the changes that need to go in, but leaving this open for @vesta0 to decide.

cc: @lime124

[2019-04-03 18:11] mheubusch commented on #500
@topotropic @lime124 just confirming that our recommendation/request of engineering is defined and is what we still expect to see.

[2019-04-03 18:29] ekager commented on #500
For context/history, the button initially canceled the search action but as per Bram's comment https://github.com/mozilla-mobile/fenix/issues/500#issuecomment-467137351 we changed the button behavior to clearing the text and dissappearing if there is no text to clear. The work was completed in AC and this ticket was never closed because the title was "both clear text and cancel the action".

So th

[2019-04-03 18:33] bbinto commented on #1302
@georgf - does GleanSDK supports histogram/aggregate numbers for this metric?

[2019-04-03 18:34] bbinto commented on #1302
Also @cpeterso maybe we should bring this up with the perf team if/how they want this metric and/or if this should be tracked somewhere else.

[2019-04-03 18:34] topotropic commented on #1012
We open a new tab when someone
- conducts a search from home
- taps on + on home to open a new tab
- opens a bookmarks from Library
- opens a history entry from Library

Within a tab people can open new links or search for new things, this "tab history" can be navigated by using the Android back button.

I agree that Home is root and using the back button results in backing out of Fenix.

![image(

[2019-04-03 18:38] bbinto commented on #1300
@st3fan - please update after the search meeting on April 3 - these requirements might change

[2019-04-03 18:38] sblatz commented on #1300
Let's take into consideration whether or not we're sending custom search engines too. @liuche made a point to _not_ send these at least when using search shortcuts. We should probably adhere to that here too.

(reference: https://github.com/mozilla-mobile/fenix/pull/1269#discussion_r270609457)

[2019-04-03 18:39] buttercookie42 commented on #1327
There's a feedback form now available: https://docs.google.com/forms/d/e/1FAIpQLSdhhKVRKp1a7lj5XsQJ6rN9HyJ8d9WGPcdGwmTibWfhPUmj_g/viewform?vc=0&c=0&w=1

[2019-04-03 18:40] bbinto commented on #1158
@st3fan - please update after the search meeting on April 3 - these requirements might change

[2019-04-03 18:46] sblatz commented on #1012
Thanks, @topotropic! I will verify we're using this flow and if we aren't I will create a follow-up ticket for addressing it 😄

[2019-04-03 18:59] mozillamarcia opened #1353 "FNX-4973 ⁃ [Bug] about:support shows product name as Fennec"
## Steps to reproduce
* Open about:support using the latest Fenix build. Observe the product name

### Expected behavior
* Product name would be Fenix

### Actual behavior
* Product name is Fennec

### Device information
* Android device: Pixel
* Fenix version: Build #10931209

[2019-04-03 19:32] cpeterso commented on #1302
@vickychin says that she is talking to the telemetry team (?) about adding telemetry probes for Fenix page loads. I don't know if that is this GitHub issue or a different conversation.

[2019-04-03 19:33] DoggoOfSpeed opened #1354 "FNX-4974 ⁃ Transparent icon"
### Why/User Benefit/User Problem
So the logo will look nicer in dark mode

### What / Requirements
Icon's white part to be transparent

### Acceptance Criteria (how do I know when I’m done?)
When there Is no white background behind the logo
![Screenshot](https://user-images.githubusercontent.com/28051112/55507507-7a498b00-5660-11e9-9ed3-e2924a50ba38.jpg)UNITO-UNDERSCORE!20190403-221833!

![Screen

[2019-04-03 19:53] topotropic commented on #500
The current implementation looks good to me – clearing the bar is fine.

[2019-04-03 20:14] sblatz commented on #668
This is done, but blocked on [this a-c change I made](https://github.com/mozilla-mobile/fenix/issues/668) to land.

[2019-04-03 20:17] sblatz commented on #1222
I believe [this change](https://github.com/mozilla-mobile/android-components/issues/2571) is the fix we were waiting on. Is that correct, @pocmo?

[2019-04-03 20:19] vesta0 commented on #217
@Delphine @mheubusch I recommend adding these steps as separate issues to each meta that needs localization instead of tracking them as generic items in this meta. Does that work better for you? Let me know and I can do that.

[2019-04-03 20:19] sblatz commented on #1052
Closing this as we no longer use engineering task tickets

[2019-04-03 20:23] sblatz commented on #715
This is fixed by [this a-c change](https://github.com/mozilla-mobile/android-components/issues/2216)

[2019-04-03 20:23] #715 closed

[2019-04-03 20:29] sblatz commented on #1195
So we actually cannot add Telemetry for the quick action sheet _buttons_ just yet as they don't actually do anything (Read, bookmark, etc.). What we have implemented is simply visual.

We **can** do telemetry for when the sheet is opened/closed. Is that sufficient for now? @bbinto

[2019-04-03 20:32] colintheshots commented on #1195
Bookmark and Share actions both work already.

[2019-04-03 20:35] sblatz commented on #289
I think we need to get a size estimate on this, @vesta0.

[2019-04-03 20:36] sblatz commented on #897
I'm still able to reproduce this if the app I'm opening from is _not generating a custom tab_

[2019-04-03 20:37] pietroalbini opened #1358 "FNX-4975 ⁃ [Bug] Singing into Firefox Sync leads to 404 page"
## Steps to reproduce
* Click the "Sign in" button in the settings
* Insert email, password and 2FA and sign in

### Expected behavior
Firefox Sync is enabled with my account.

### Actual behavior
A 404 page on accounts.firefox.com is shown.

### Device information
* Android device: BQ Aquaris U with LineageOS 14.1
* Fenix version: 1.0.1914

[2019-04-03 20:44] vesta0 commented on #1358
Dup of #1315

[2019-04-03 20:49] vesta0 commented on #1347
We should fix the crash.

[2019-04-03 20:54] vesta0 commented on #1340
@cpeterso do we have the API for this in GV?

[2019-04-03 20:55] mheubusch commented on #217
@vesta0 all strings for Fenix are in a single file that is used for all features and is the only thing that needs localization. it's called strings.xml  the other strings come from android components.  When we have changes to copy I have been updating the file directly here and in the relevant a-c files and requesting the developer update them. from there the process is automated

[2019-04-03 20:56] AmyYLee commented on #982
Hi Michelle, we need copy for the the Firefox stats & data permissions prompt when you first install Firefox. This is what we currently have in Fennec. Do we need to make changes for Fenix? @mheubusch
![Screenshot_20190403-165225](https://user-images.githubusercontent.com/5992746/55512413-16f43480-5631-11e9-98de-8fecbd280be1.png)

[2019-04-03 20:56] sblatz opened #1360 "FNX-4977 ⁃ [Bug] Loading history in library is really slow"
## Steps to reproduce
1. Go to Library>History
    1. Expected behavior
The history page loads very quickly
    1. Actual behavior
Getting a lag several seconds in order to load my history in the library view.

[2019-04-03 20:56] sblatz commented on #1303
@sv-ohorvath I filed a follow-up: #1360.

[2019-04-03 20:59] sblatz opened #1361 "FNX-4978 ⁃ [Bug] No new tab is created from history or bookmarks"
## Steps to reproduce
1. Search for anything (or have a currently open tab)
1. Home>Library>History>Select an item
    1. Expected behavior
A new tab is created with the history item

### Actual behavior
The currently selected tab is used to load the history item

[2019-04-03 20:59] sblatz commented on #1361
**Note for triage** this is a pretty trivial one-liner fix :)

[2019-04-03 21:00] vesta0 commented on #1296
@sblatz please verify that this is working as intended.

[2019-04-03 21:06] sblatz commented on #1296
@sv-ohorvath are you able to provide a screenshot? This behavior seems fine at first blush.

[2019-04-03 21:06] sblatz commented on #1195
Ah, wasn't aware of that. Thanks @colintheshots 😄

[2019-04-03 21:07] vesta0 commented on #1255
@cpeterso is there a GV bug for this?

[2019-04-03 21:11] sblatz commented on #1012
Filed follow-up: https://github.com/mozilla-mobile/fenix/issues/1361.

@topotropic feel free to close this if you're done :)

[2019-04-03 21:12] #496 closed

[2019-04-03 21:14] vesta0 commented on #1218
@sv-ohorvath please verify that this has been fixed.

[2019-04-03 21:15] sblatz commented on #203
@brampitoyo am I able to get font size for the title as well as the host name? I also need the "elevation" value for the URL bar (relevant for the shadow)

[2019-04-03 21:16] vesta0 commented on #1213
This could be caused by Tracking Protection. Will verify once tracking protection feature landed.

[2019-04-03 21:17] vesta0 commented on #1212
@cpeterso is there a GV bug related to this?

[2019-04-03 21:19] vesta0 commented on #1168
@cpeterso can be bypass the security warning page in GV?

[2019-04-03 21:22] boek commented on #1157
@bbinto We need a product email to put here :)

[2019-04-03 21:26] Delphine commented on #1274
Seems like work has started in #1341, so calling that out here in case.

[2019-04-03 21:30] vesta0 commented on #1134
@cpeterso can we create a different UA for Fenix?

[2019-04-03 21:32] vesta0 commented on #988
This is fixed.

[2019-04-03 21:32] #988 closed

[2019-04-03 21:33] #987 closed

[2019-04-03 21:34] bdekoz commented on #1302
I'm ok with the perf team tracking this here, and yes, this is the same issue we'd discussed in another perf meeting today.

[2019-04-03 21:42] vesta0 commented on #727
This is fixed.

[2019-04-03 21:42] #727 closed

[2019-04-03 21:43] AmyYLee commented on #826
@ekager Hi, I've started an invision doc with comments on dark theme edits. I'll keep adding to it tomorrow. Please check resolved for each item once you get to it so I know :-) Thanks!

Dark Theme Edits
https://mozilla.invisionapp.com/share/JYRD2QPUK8R

[2019-04-03 21:47] vesta0 commented on #618
Dup of #552

[2019-04-03 21:47] #618 closed

[2019-04-03 21:49] vesta0 commented on #602
Fixed :)

[2019-04-03 21:49] #602 closed

[2019-04-03 21:50] vesta0 commented on #601
Fixed :)

[2019-04-03 21:50] #601 closed

[2019-04-03 21:51] vesta0 commented on #538
We should do this!

[2019-04-03 21:55] boek commented on #524
This should be fixed now :)

[2019-04-03 21:55] #524 closed

[2019-04-03 21:57] boek commented on #1354
Dup of #1184

[2019-04-03 22:02] ghost opened #1365 "FNX3-15507 ⁃ Include Firefox Sharp Sans through our build process"
As specified in #1307 we want to use _Firefox Sharp Sans_ throughout the application. This font however is not something we can include in our open source project:

This ticket is about building something into our build automation that can fetch the font files from a locked down server and include them in the final build.

Since our build process is mostly transparent and publicly visible, the pro

[2019-04-03 22:09] agi90 opened #1366 "FNX-4980 ⁃ [Bug] Address bar resets when putting Fenix on the background"
## Steps to reproduce
* Type something on the Address bar but don't navigate anywhere
* Tap on the Android Home button to make Fenix go on the background
* Open Fenix again

### Expected behavior
* The address bar contains the text that you typed
Works on Fennec Nightly, Chrome

### Actual behavior
* The address bar is empty

### Device information
* Android device: Samsung S10e
* Fenix version: 1

[2019-04-03 22:10] ekager commented on #1256
Did you talk to webcompat about this?
We are adding a label here to try to pass Fenix identity on to webcompat, but could add more identifiers if they want/support it on their end.
 https://github.com/mozilla-mobile/fenix/blob/c5205b62367aecb024215a6854f3b49092c30adb/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt#L428

[2019-04-03 22:11] eduaddad commented on #987
@Delphine

Brazilian portuguese

[2019-04-03 22:11] ekager commented on #1366
Caused by #1323

[2019-04-03 22:13] Delphine commented on #987
@eduaddad Ok please send me an email to the address I mentioned above, so that we can be in contact about this (I don't have yours). thanks

[2019-04-03 22:13] sarentz commented on #1365
I hope we can do something simple here, like reference the font in our code/layouts but not include it in the project until CI time. Hopefully that will simply fall back to the system font for dev builds and Firefox Sharp Sans for production builds.

Looping in @mozilla-mobile/releng to ask for advice

[2019-04-03 22:13] eduaddad commented on #987
@Delphine  duduaddad@gmail.com

[2019-04-03 22:17] agi90 commented on #712
Note: Chrome uses an image with fake UI controls to avoid the white flash.

[2019-04-03 22:20] Delphine commented on #987
email sent, thanks so much!

[2019-04-03 22:24] eduaddad commented on #987
Could you indicate the translation so I can translate? @Delphine

[2019-04-03 22:46] cpeterso commented on #1347
This `about:telemetry` crash is probably a duplicate of `about:config` crash #1034, which was fixed in GV 68 Nightly by https://bugzilla.mozilla.org/show_bug.cgi?id=1527778.

[2019-04-03 22:56] cpeterso commented on #1255
I can reproduce this bug in Fenix, but not Fennec 66/67/68 or Focus+GV 65. I can't test RB because it crashes.

I filed a new GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1541632

[2019-04-03 22:57] Delphine commented on #987
I've sent all the info needed via email. let's follow-up there, please :)

[2019-04-03 23:00] vesta0 commented on #526
I believe this has been fixed. @sv-ohorvath please verify.

[2019-04-03 23:09] vesta0 opened #1368 "FNX-4981 ⁃ [Meta] Launch in private browsing mode by default"
As a user, I want the option to launch Fenix in private browsing mode.

### Acceptance Criteria
-UX completed
-User stories completed
-Strings written and approved
-QA completed
-Localization done

[2019-04-03 23:14] vesta0 opened #1369 "FNX-4982 ⁃ [UX] Launch in private browsing mode"
As a user, I want the option to launch Fenix in private browsing mode.

See user stories:
#419
#514

[2019-04-03 23:19] cpeterso commented on #1212
I filed a new GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1541644

[2019-04-03 23:45] boek commented on #1256
@colintheshots do you have an example of an issue that got closed? I checked with the web compat team and they’ve been triaging fenix issues and if one got closed it might have been a mistake or a bug

[2019-04-04 00:08] #983 closed

[2019-04-04 00:14] ekager commented on #500
Thanks @topotropic ! Closing this issue

[2019-04-04 00:14] #500 closed

[2019-04-04 00:35] vesta0 commented on #1117
@sv-ohorvath isn't this the current behaviour?

[2019-04-04 00:56] vesta0 commented on #1002
I believe we already have UX feedback here: #1102 @brampitoyo please confirm.

[2019-04-04 01:00] vesta0 commented on #465
Thanks!

[2019-04-04 01:00] #465 closed

[2019-04-04 01:02] vesta0 commented on #1309
@bbinto @mheubusch I recommend Fennec parity. What do you think?

[2019-04-04 01:04] vesta0 commented on #1285
@boek that's why I didn't include "Always enable zoom" but I'll create a separate ticket for for post MVP.

[2019-04-04 01:08] vesta0 commented on #1006
Thanks @jonalmeida

[2019-04-04 01:11] vesta0 opened #1372 "FNX-4984 ⁃ Accessibility Setting: Always enable zoom"
As a user with low vision, I want to be able to zoom in on every page, so I can read the text.

## Dependencies (Added by PM and Eng)
[GV API](https://bugzilla.mozilla.org/show_bug.cgi?id=1540615)

### Acceptance Criteria (Added by PM)
I can zoom in on every page
I can enable the "Always enable zoom" setting in my browser

[2019-04-04 01:21] colintheshots commented on #1256
https://github.com/webcompat/web-bugs/issues/27257#issuecomment-477997979

The issue got sent from Webcompat to Fennec.

[2019-04-04 01:27] brampitoyo commented on #1002
@vesta0 Correct. I’ve given my feedback on #1102.

As @sblatz wrote:

Close tab is fine for now, but let’s make sure to ship reload as soon as it’s added on GV.

[2019-04-04 01:31] brampitoyo commented on #1102
@sblatz I’ve updated the mockup based on having only a “Close tab” button:

<img width="360" src="https://user-images.githubusercontent.com/51007/55523539-fb7e3d80-56b3-11e9-90f0-f6eabd0c7665.png">

[2019-04-04 02:01] vesta0 commented on #1353
@cpeterso I believe this requires GV work. Please confirm.

[2019-04-04 02:13] vesta0 commented on #1106
Closing as there are individual tickets have been logged:
#1209
#1331
#1332

[2019-04-04 02:14] vesta0 commented on #1028
@cpeterso @bbinto sounds like this is covered in the [A-C issue](mozilla-mobile/android-components#2397.). Can we close it?

[2019-04-04 02:15] vesta0 commented on #1088
@sv-ohorvath please confirm this is still an issue.

[2019-04-04 02:41] vesta0 commented on #1130
@ekager is this the same bug as #1144 ?

[2019-04-04 02:44] vesta0 commented on #1217
Thanks for filing! This will be addressed in #1277

[2019-04-04 03:01] ekager commented on #1130
Yes this should be closed

[2019-04-04 03:02] gaby2300 commented on #1353
I have the sane issue using a Sony Z3C with Android 6.1.0 and Fenix version 67.0-20190318154932

[2019-04-04 03:13] miladmaz12 opened #1373 "FNX-4985 ⁃ Always private tab mode"
### Why/User Benefit/User Problem
Outside the app weblinks will open privately instead of regular tab. Would be benefical to users. Apps like Bromite for Android has a always incognito tab mode.

### What / Requirements
N/A

### Acceptance Criteria (how do I know when I’m done?)
N/A

[2019-04-04 03:45] rfk opened #1374 "FNX-4986 ⁃ Strip libfenix.so before distribution?"
@bbinto mentioned in slack that the size of the app-services dependencies for Fenix was surprisingly large, so I've been investigating what we can do to shrink it. One thing I noticed is that the Fenix `.apk` contains an unstripped `libfenix.so` while the other `.so` files are stripped.  From the `.apk` I installed from the private nightly channel just now and then pulled off of my phone to analyz

[2019-04-04 03:48] rfk commented on #1374
If the debug symbols are useless to you and you'd prefer that we strip them before publishing, please open an issue on https://github.com/mozilla/application-services and we'll make the necessary change.  It looks straightforward enough on our side if you'd like to go that route.

For completeness, the size of the stripped library is a bit under 8M:

[code]

Which may still qualify as "surprisingl

[2019-04-04 04:10] ekager commented on #1252
I just tried to reproduce by searching "download sample pdf" and downloaded this pdf: http://www.pdf995.com/samples/pdf.pdf

I was able to see the download notification when completed.

Maybe it is site specific? Do you remember which menu you were dowloading? Or are you unable to ever see the download notification?

[2019-04-04 04:15] ekager commented on #1049
Thanks, @AmyYLee! Looks great.
Eng work will be completed in 3 tasks
1. Add themed photon gradient drawable to Fenix (Completed by #1352 )
2. Use `ui-progress` from AC for the Fennec animation you discussed (https://github.com/mozilla-mobile/android-components/issues/2621)
3. Adding ability for progress bar to be on top of the toolbar in layout (https://github.com/mozilla-mobile/android-components

[2019-04-04 04:42] rfk commented on #1374
@thomcc pointed out in slack, that you're also shipping an unstripped `libjnidispatch.so`, which we wouldn't be able to strip on the app-services side.  The size saving there is much smaller though:

[code]

[2019-04-04 05:27] vesta0 opened #1375 "FNX-4987 ⁃ Suppress history suggestions in the awesomebar"
As a user, I want to change default awesomebar settings so that Fenix does not display my browsing history so that my history is not visible in this prominent spot.

### Acceptance criteria
-I can choose to suppress history in awesomebar suggestions.
-I do not see the addresses of sites I've previously visited, when I type an exact match on part of the URL or part of the page <title> in the awesom

[2019-04-04 06:06] andreicristianpetcu commented on #1252
I have the same issue on OnePlus2 lineageos 14.1 based on android 7.1.2

[2019-04-04 06:25] cadeyrn opened #1376 "FNX3-15516 ⁃ [Bug] session text is missing from home screen"
### Steps to reproduce
1. start Fenix and make sure there are no open tabs

### Expected behavior
There is text in the colored box below the "Today" caption

### Actual behavior
Empty box.

![Screenshot](https://user-images.githubusercontent.com/1100614/55533960-36cc3c80-56b3-11e9-8cb1-ee09d53c4760.png)UNITO-UNDERSCORE!20190404-082236!

### Device information
* Android device: HTC U11 / Android 8.

[2019-04-04 06:28] cadeyrn opened #1377 "FNX3-15517 ⁃ [Bug] Doorhanger not shown when the toolbar padlock is clicked"
### Steps to reproduce
1. open a website
1. click the padlock
1. switch to home screen
1. open the previous tab
1. repeat step 2

### Expected behavior
The doorhanger is shown after step 2 and after step 5.

### Actual behavior
There is no doorhanger after step 2.
But the doorhanger is shown after step 5.

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revisi

[2019-04-04 06:32] cadeyrn commented on #787
Still happens if you open "Give Feedback" instead of "About Fenix" before pressing the "Sign in" item.

[2019-04-04 07:03] colintheshots commented on #610
A TouchDelegate resolves the problem by increasing the touch area of the button. This works, provided another button is not right next to the button whose touch area you want to increase. This allows the user to touch a margin area and still manage to press the button.

[2019-04-04 07:09] brampitoyo commented on #203
@sblatz

* Title font size: 16dp
* Host name font size: 12dp

<img width="360" src="https://user-images.githubusercontent.com/51007/55535810-6c3c4e80-56e2-11e9-95ab-a500a0de8335.png">

The URL bar elevation value is 1 dp.

Exact dimensions and spacings are posted just below. It had to be relatively narrow to give as much space as possible for title and host name, which can run long.

<img width="3

[2019-04-04 08:14] topotropic commented on #1012
Thanks, @sblatz!

[2019-04-04 08:46] sv-ohorvath commented on #1117
No, i.e. soundcoud.com still plays in the background.

[2019-04-04 10:29] freaktechnik opened #1379 "FNX-4990 ⁃ [Bug] Password autofill always for org.mozilla.fenix with Bitwarden"
## Steps to reproduce
* Have bitwarden (not sure if it also applies to other pwanagers)
* Open Form that triggers pw autofill
* Click on "bitwarden vault is locked"
* Unlock vault

### Expected behavior
Bitwarden suggests logins for the host the form is on.

### Actual behavior
Bitwarden shows logins for org.mozilla.fenix

### Device information
* Android device: Nexus 5X
* Fenix version: latest f

[2019-04-04 10:40] IOI-655321 commented on #1379
Have you checked with Kyle (Biwardens dev) that he's added Fenix as a supported browser? He has to enable any browsers as he goes I believe, he certainly used to when he added support for DDG browser and Firefox focus.

[2019-04-04 11:13] Pike commented on #1274
I've updated the PR over in android-l10n with the latest landings in Fenix, including 1341. As D mentioned, there's a bit more work to do.

Notably:
* [ ] The "Fenix" brand string should move to a separate file
* [ ] All occurrences of "Fenix" need to be replaced with a parameter passing in the brand from above
* [ ] LeakCanary should go into a developer-only file. This could be the same as the br

[2019-04-04 12:02] pocmo commented on #1088
Preventing that is probably part of the media APIs that we didn't consider for MVP (See AC media project board).

[2019-04-04 12:10] pocmo commented on #1365
One option could be:

* We place a different font in the repository and use that everywhere in the app.
* (Taskcluster) For release builds we pull *Firefox Sharp Sans* from taskcluster's secret service and replace the font in the repository with it.
* Via taskcluster's role system we make sure that only release builds are allowed to access the "font secret".

For a resource that ends up in the APK

[2019-04-04 12:23] bsurd commented on #881
Didn't manage to reproduce this either, closing for now. @cadeyrn or anyone else, please reopen if this issue ever happens again

[2019-04-04 12:23] #881 closed

[2019-04-04 12:41] mitchhentges commented on #1365
If we properly license the Firefox Sharp Sans font, why can't we include it in our open Github repository? If we're worried about it being stolen, it will still be able to be extracted from our release builds of Fenix, so it won't be fully-secret either way :thinking:

I'm concerned about the additional maintenance overhead of handling this font differently: if there's an issue (font-wrapping or s

[2019-04-04 12:42] sv-ohorvath commented on #1088
Bogdan and I tried to reproduce this, on a Pixel and on a Huawei P20. Both worked fine until the screen went to sleep mode and after ~8 mins, the playback was stopped by auto-saving the session and closing the tab. I'm guessing the second part wasn't really planned either?

[2019-04-04 12:49] bsurd commented on #1132
Tried with a OnePlus 5T and Pixel but didn't manage to reproduce this issue or find some better STR for it besides the info mentioned by Marcia.

[2019-04-04 12:51] vesta0 commented on #1002
@pocmo did the ability to restore tabs after crash just land in A-C? I saw a comment you made in another doc.

[2019-04-04 12:51] vesta0 commented on #218
Duplicate of #886

[2019-04-04 12:52] vesta0 commented on #956
We are only using the term "Save" now.

[2019-04-04 12:52] #956 closed

[2019-04-04 12:54] bbinto commented on #1190
@boek this should now be updated, however I'm not sure how far we've come with the sync work, based on Ryan's mocks, I don't currently see that flow in Nighlty yet.

[2019-04-04 12:56] bbinto commented on #1157
@liuche any idea based on your previous knowledge?

Should we create an internal fenix-telemetry email list?

[2019-04-04 12:59] sv-ohorvath commented on #1296
Here is a recording from a Huawei P20 lite:
![20190404_155226](https://user-images.githubusercontent.com/4037709/55557179-ef18d580-56f1-11e9-98a1-d79e0a1b89f6.gif)

These are the settings if you navigate :
![20190404_155830](https://user-images.githubusercontent.com/4037709/55557484-8e3dcd00-56f2-11e9-92be-96e0e5f4bbbe.gif)

[2019-04-04 12:59] bsurd commented on #1219
The issue is no longer reproducible. Tested with a Pixel, Htc 10 and OnePlus 5T.

[2019-04-04 13:14] bbinto commented on #1302
@bdekoz and @cpeterso

Ok, I'll close this here then since that's a request/requirement for the perf team, if you need the Fenix team to access or track this metric via the Fenix client, please re-open another ticket.

[2019-04-04 13:16] sarentz commented on #1365
It is definitely not an option to make the font available. It is not part of the license agreement.

[2019-04-04 13:37] sv-ohorvath commented on #1144
There is a black background now on a Nexus 5 and Honor 8( which had issues before) under the white buttons, but where that background already existed (i.e Huawei P20 lite: see screenshot), buttons are now invisible :)
![Screenshot_20190404-140603](https://user-images.githubusercontent.com/4037709/55559939-e3301200-56f7-11e9-9480-e404a2a73c11.jpg)

[2019-04-04 14:15] bsurd commented on #1218
This is no longer reproducible, tested on a Pixel, HTC 10, OnePlux 5T and Oana also confirmed on the Nexus 5.

[2019-04-04 14:24] bbinto commented on #1028
I agree, @vesta0 - thanks.

[2019-04-04 14:39] sblatz commented on #1002
@vesta0 I confirmed that the A-C issue you linked above did actually allow us to restore content. I believe this should be a priority, as we will **need to implement this anyway** in order to fix this [critical bug](https://github.com/mozilla-mobile/fenix/issues/1222)

[2019-04-04 14:44] sblatz commented on #1296
Interesting, I wonder if Huawei is handling their settings instance differently.

@sv-ohorvath thank you for the demos! Do Fennec or Focus handle this **correctly**?

[2019-04-04 14:47] sv-ohorvath commented on #526
I caught this twice as described. Doesn't happen frequently.
Devices: Nexus 5(Android 6), Huawei P20 lite (Android 8):
![Screenshot_20190404-170115](https://user-images.githubusercontent.com/4037709/55562213-2a200680-56fc-11e9-8527-bddf65936dae.jpg)

On Nexus 5, following after what is described here,
1. Replace the suggestion with your own text.
2. Clear the entire url and type something new.
Thi

[2019-04-04 14:58] sv-ohorvath commented on #1296
Hm, yes, both are doing the same thing.

[2019-04-04 15:00] Vv2233Bb commented on #1296
Other apps not made by mozzila have the same issue. It is definitely Huawei's problem.

[2019-04-04 15:02] Vv2233Bb commented on #1132
What is your build date? I had the same problem. Newer builds fixed it for me.

[2019-04-04 15:31] mozillamarcia commented on #1132
I don't see the black screen anymore, but I still get frequent freezes which cause me to have to close Fenix and restart. Build info is #10931209. I am ok with closing this out and reopening a separate bug for the app freezing.

[2019-04-04 15:43] sblatz commented on #1296
I would say this is not a bug we should worry about then, @vesta0.

[2019-04-04 16:03] Cheap-Skate opened #1382 "FNX-4992 ⁃ [Bug] Quick Action Sheet show/hide is erratic"
STR

* completely hide the Quick Actions Sheet by dragging it down
* Tab the Home icon to go to list of tabs
* Tap to go back to a tab
~~> the QAS is about one~~quarter visible, I can see its handle above the toolbar
-> the QAS handle then remains on screen even if the toolbar hides during scrolling
* now drag the QAS handle upwards, try touching just the uppermost part of its handle nearest the p

[2019-04-04 16:22] #957 closed

[2019-04-04 16:23] boek commented on #945
Thanks for the info @Mugurell!

@bsurd This should be working now!

[2019-04-04 16:23] #945 closed

[2019-04-04 16:27] liuche commented on #1157
These emails shouldn't be incredibly intrusive, and the goal is to create a regular checkin for Product, both to a) be refreshed on what probes are being collected, because it's likely there are a lot of probes, b) reaffirm that those are still useful, not redundant, still relevant.

To that end, I'd suggest including an existing mailing list, that all Product will already be on, that can include

[2019-04-04 16:35] boek commented on #800
Hey @mconnormoz, where does `defaultSearchEngineData.origin` come from?

[2019-04-04 16:43] JohanLorenzo commented on #1365
Thank you for opening this discussion, @sarentz. I chatted with a few other relengers and we have a few questions:

* What does the license allow Mozilla to distribute?
  * Is having the builds from CI (like on each master push) with the font possible? Is it just having the font-files directly available that is a problem?
  * Will the license impact hosting builds on archive.mozilla.org?
* Do we w

[2019-04-04 16:46] ekager commented on #1132
Thanks @mozillamarcia , let's close this ticket and open a separate bug for app freezing.

[2019-04-04 16:47] sarentz commented on #1365
I'll take these questions and will get back with some answers.

[2019-04-04 16:52] ekager commented on #1330
This was also fixed by #1371

[2019-04-04 16:54] ekager commented on #1144
Ah thanks @sv-ohorvath ! Do you know what API level the P20 is on?

[2019-04-04 17:00] shorlander commented on #724
@sblatz is there anything for UX to do here after our conversation?

[2019-04-04 17:01] shorlander commented on #559
Hi! Thanks for the feedback. It is intentionally more obvious in that state. But will keep this in mind :)

[2019-04-04 17:01] #559 closed

[2019-04-04 17:17] mconnormoz commented on #800
We probably don't need origin.  That comes from some anti-hijacking code on desktop that in theory tells us whether someone's modified the config out of band, but in practice hijackers are faking it.  I don't think it's needed for Fenix.

[2019-04-04 17:50] #94 closed

[2019-04-04 17:55] eeejay opened #1383 "FNX3-15521 ⁃ Make close tab button labels unique"
From Accessibility Scanner:

This clickable item's speakable text: "Close tab" is identical to that of 1 other item(s).

The solution requires the close button contentDescription to include the name of the tab in it. For example "close Wikipedia tab".

![image](https://user-images.githubusercontent.com/5764/55577220-ea3f2c00-56c7-11e9-9839-06a2f53b92c4.png)

[2019-04-04 17:55] denschub commented on #1256
Hey there! @colintheshots did you report the issue you linked via Fenix' embedded Report Site Issue thingie?

[2019-04-04 17:56] freaktechnik commented on #1379
I have not, since I am barely aware of how Android apps like password managers interact with browsers, and just started using Fenix and noticed that I always had to search for the actual site I wanted to enter my credentials for.

[2019-04-04 18:01] #765 closed

[2019-04-04 18:02] eeejay opened #1384 "FNX-4993 ⁃ Make session share and options button labels unique"
From Accessibility Scanner

This clickable item's speakable text: "Session options" is identical to that of 2 other item(s).

This clickable item's speakable text: "Share session" is identical to that of 2 other item(s).

![image](https://user-images.githubusercontent.com/5764/55577680-f8417c80-56c8-11e9-87af-4fb6a6ae106b.png)

![image](https://user-images.githubusercontent.com/5764/55577736-17d8a

[2019-04-04 18:03] eeejay commented on #1384
The labels should include the name of each session.

[2019-04-04 18:10] sblatz commented on #724
@shorlander I think for now, no. That being said, when we do put this into a sprint, it'd be great for some of the engineering team and UX to sit down and actually go through the app to confirm that elements look correct, as well as solidify the (small) number of colors/styles we want to use.

[2019-04-04 18:15] sblatz commented on #724
@shorlander I think for now, no. That being said, when we do put this into a sprint, it'd be great for some of the engineering team and UX to sit down and actually go through the app to confirm that elements look correct, as well as solidify the (small) number of colors/styles we want to use.

[2019-04-04 18:31] ghost opened #1385 "Add support for Dynamic Delivery"
As described on  https://developer.android.com/studio/projects/dynamic-delivery

This may bring down the APK size.

[2019-04-04 18:31] sarentz commented on #1385
Asking @mozilla-mobile/releng for advice - no action but I want to ask you how you feel about this one.

[2019-04-04 18:54] pasqualedante opened #1386 "FNX-4994 ⁃ [Bug] With today build apk, Sync not works"
## Steps to reproduce
Download todaybuild from https://tools.taskcluster.net/index/project.mobile.fenix.signed-nightly.nightly/latest

### Expected behavior
Install apk and browse synced bookmarks

### Actual behavior
The apk update end with success, but Fenix crash at startup always. If I make a clean installation, I cannot log ti Sync service.

### Device information
Pocophone F1 (android 9)
FxA

[2019-04-04 18:57] rfk commented on #1374
We just went ahead and did this on our side, ref https://github.com/mozilla/application-services/pull/915; the next app-services release should have much smaller native binaries.  Let us know if you were actually using the debug symbols in any way, we can easily add them back and move the stripping logic into the consumer build pipeline instead.

[2019-04-04 19:06] eeejay opened #1387 "FNX-4995 ⁃ Settings categories are touch enabled"
Accessibility Scanner picks up the settings categories in the settings screen as having a too small touch target:

The real issue seems to be that they are being picked up as interactive `uiautomatorviewer` shows them as long-clickable. And if you tap on them you see the highlight change. I don't think this should be the case. I can't find where this could be changed.

![image](https://user-images

[2019-04-04 19:13] cpeterso commented on #1134
The Gecko team does not want GV-powered apps to customize their UA strings. However, AMO uses some privileged JS APIs to talk to Fennec. The AMO team could use them to differentiate between Fennec and Fenix: no privileged API -> Fenix.

[2019-04-04 19:19] agashlin opened #1388 "FNX-4996 ⁃ [Bug] Crash when typing some two char combos into address bar with search suggestions disabled"
## Steps to reproduce
1. Set up sync to populate history
1. Disable search suggestions
1. Type two characters into the address bar, in my case "ga" and "sl" both cause this

### Expected behavior
Nothing special happens

### Actual behavior
After the second character of the combination is typed and the search results update, Fenix crashes

### Device information
* Android device: Pixel (sailfish)

[2019-04-04 19:35] mheubusch commented on #982
@AmyYLee is this the Android prompt that includes granting permission for telemetry and mozilla location services?

[2019-04-04 19:37] mheubusch commented on #982
@AmyYLee also, are we using leanplum to trigger this prompt?

[2019-04-04 19:54] cpeterso commented on #1134
This Fennec/Fenix detection issue will also affect SUMO because SUMO customizes its KB articles based on the user's OS and browser version. Perhaps we can _temporarily_ use a custom Fenix UA string. After we complete the Fennec->Fenix migration, we can restore Fenix's standard mobile UA. I will talk to the GV team about allowing Fenix to customize the UA string.

AMO and SUMO can differentiate leg

[2019-04-04 19:58] grigoryk commented on #1108
Our TC builds are running assemble tasks now, so this can be closed.

[2019-04-04 20:25] grigoryk commented on #1360
History page never loads for me, with constant GC and the app eventually is killed with an OutOfMemory.

[2019-04-04 20:57] grigoryk commented on #1360
Added some logging locally, and it seems like we're running away in the Kotlin stack - native places calls are quick and return without problems. I have 40k visits, and those are returned to the caller in `HistoryFragment` in about a second. It blows up while trying to process them.

[2019-04-04 21:08] eeejay opened #1392 "FNX-4998 ⁃ Site info/permissions button has no label"
![image](https://user-images.githubusercontent.com/5764/55588641-216f0680-56e3-11e9-8499-f03d4014f4aa.png)

[2019-04-04 21:09] grigoryk commented on #1360
Conclusion is that at the very least we need pagination in the History UI. cc @boek

[2019-04-04 21:22] grigoryk commented on #1332
The places API we're using doesn't do any `visit_type` filtering. At the very least, we'd want to filter out redirects here, and doing that in Rust makes most sense. We'd need an API change, I filed an appservices issue to discuss this: https://github.com/mozilla/application-services/issues/920

[2019-04-04 21:28] grigoryk commented on #1332
As a stop-gap measure until the API is in place, let's do the filtering at the application level.

[2019-04-04 21:49] grigoryk opened #1393 "FNX-4999 ⁃ History UI pagination/partial history display"
We need to display a large amount of history (potentially tens of thousands of visits), which is what's causing #1360. At the UI level, that means only displaying subsets of history at any time.

Fennec loads more history as user scrolls and reaches the end of the current subset.

[2019-04-04 22:21] ekager commented on #654
@vesta0 I assume you reopened this because the menu items do not respond while the menu is open to changes in the browser?
This will depend on A-C work, specifically https://github.com/mozilla-mobile/android-components/issues/170

[2019-04-04 22:23] bifleming commented on #1274
@sblatz can you fix these?

[2019-04-04 22:42] grigoryk commented on #1332
App-level filtering done in https://github.com/mozilla-mobile/fenix/pull/1395

[2019-04-04 23:36] MeridelW commented on #982
@AmyYLee Do you know if the header copy can be changed? I looked through Android dev docs and Material Design and didn't see the "Data & Stats" notification as a pre-set message.

Assuming we CAN adjust the header, here's the proposal:

**Header:** [Fenix/Insert final product name] Data Collection
**Body:** To improve performance and stability for all users, [Fenix/final product name] collects inf

[2019-04-04 23:59] boek opened #1397 "FNX-5000 ⁃ [Bug] Add Delete History button to recyclerview"
I had to remove the NestedScrollView from #1396. I need get the button to scroll with the recyclerview.

[2019-04-05 00:12] colintheshots commented on #1256
Yes, that's exactly how I reported the issue.

[2019-04-05 00:18] jcjones commented on #1340
Note I'm leaving now for parental leave. @tvdmerwe is the best POC while I'm out, she has knowledge of what Fenix will need to provide to the Google team to get whitelisted for the relevant APIs.

[2019-04-05 00:50] jonalmeida opened #1398 "FNX-43 ⁃ Add new quote from Book of Mozilla to about:mozilla"
### Why/User Benefit/User Problem
Since this will be a major launch it would be a nice to have new quote for `about:mozilla`. This was last done for 57 which was a major release as well.

### What / Requirements
A new quote from the book of mozilla.

### Acceptance Criteria (how do I know when I’m done?)
A quote is seen (for Fenix only?).

Since @SeburoSUMO worked on [the last update][0], I wonder

[2019-04-05 00:56] jonalmeida opened #1399 "FNX-5001 ⁃ When Battery Saver mode changes, the app crashes"
## STR
1. Change theme option to 'Set by Battery Saver'.
1. Enable Battery Saver mode (from the Quick Settings).
1. Observe the crash.

https://sentry.prod.mozaws.net/operations/fenix/issues/5486466/

[code]

[2019-04-05 00:59] jonalmeida commented on #1399
cc: @ekager since it looks like it's still being worked on and this bug might already be addressed in any currently open PRs.

[2019-04-05 01:03] jonalmeida commented on #1388
Duplicate of https://github.com/mozilla-mobile/android-components/issues/2364

[2019-04-05 01:04] Amejia481 opened #1400 "FNX-5004 ⁃ [Bug] Able so see the QuickActionSheet in light background color site using custom tabs"
## Steps to reproduce
Open a light background color site with custom tabs (Like [UPS tacking page](https://www.ups.com/track?))

### Expected behavior
The `QuickActionSheet` shouldn't be visible behind the toolbar.

### Actual behavior
The `QuickActionSheet` is be visible behind the toolbar.

![image](https://user-images.githubusercontent.com/773158/55597503-f05ef800-571b-11e9-8c6a-21e8514ef6c3.pn

[2019-04-05 02:47] ekager commented on #1399
Thanks for the cc!

I dug a little deeper and there's a note in the docs under [`MODE_NIGHT_AUTO_BATTERY`](https://developer.android.com/reference/androidx/appcompat/app/AppCompatDelegate.html#MODE_NIGHT_AUTO_BATTERY)

I think because Pixels (and other phone's on P+ maybe?) automatically change the system mode to dark on battery saver mode anyway we should remove the battery saver option because "

[2019-04-05 03:55] ekager commented on #1387
Good find! [This is a new Android bug introduced in the newest version of the Preference library.](https://issuetracker.google.com/issues/129835562)
For now, I've downgraded and commented on the bug so hopefully it will be fixed in the next version :)

[2019-04-05 04:25] ekager commented on #519
Closing for #1144

[2019-04-05 04:25] #519 closed

[2019-04-05 06:32] cadeyrn commented on #1332
@grigoryk: It's not fixed by #1395, now it looks like this:

![Screenshot_20190405-082937](https://user-images.githubusercontent.com/1100614/55607761-49ab4380-577d-11e9-990d-6d1e99d225a1.png)

[2019-04-05 06:59] sv-ohorvath commented on #1144
Android 8.0, API 26

[2019-04-05 07:12] cadeyrn opened #1406 "FNX-5005 ⁃ [Bug] crash: action_browserFragment_to_homeFragment is unknown to this NavController"
### Steps to reproduce
1. make sure Fenix is your default browser
1. open a link from twitter (probably the same happens from other apps as well)
1. press the home button

### Expected behavior
You're on the home screen.

### Actual behavior
Fenix crashes.

[code]

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision 3ad204712a7321ffc8b472cf261407fa16a5c8b

[2019-04-05 07:13] cadeyrn opened #1407 "FNX3-15537 ⁃ [Bug] two crash dialogs at the same time"
### Steps to reproduce
Let's Fenix crash. ;-)

### Expected behavior
Only one crash dialog.

### Actual behavior
Two crash dialogs.

![Screenshot](https://user-images.githubusercontent.com/1100614/55610396-1c619400-5783-11e9-8f72-0b039412279e.png)UNITO-UNDERSCORE!20190405-090207!

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision 3ad204712a7321ffc8b472c

[2019-04-05 08:06] sv-ohorvath commented on #793
@npark-mozilla Is there a way for QA to verify telemetry? If so, could you send us some details about it? Thank you!

[2019-04-05 08:22] pocmo commented on #1407
This is possible if the app is crashing multiple times in a row. I'm not sure if we can prevent it - since it is a system dialog. But then again I have never seen it happening with Fennec.

[2019-04-05 08:38] bsurd commented on #945
Can confirm, everything works as intended now. Verified on several devices and didn't encounter any other problems.

[2019-04-05 08:38] bsurd commented on #864
This has been verified by QA and works as expected!

[2019-04-05 08:42] sv-ohorvath opened #1408 "FNX-5006 ⁃ [Bug] Settings' menu & sub-menu titles change to "Fenix" in landscape mode"
## Steps to reproduce
Go to Settings.
Turn the device to landscape mode.
Check the Settings menu title.

### Expected behavior
The menu's title is displayed.

### Actual behavior
"Fenix" is displayed.

### Device information
* Android device: Galaxy Tab (Android 8),Nexus 5 (Android 6.0.1)
* Fenix version: 4/4 build

[2019-04-05 09:00] mitchhentges commented on #1385
It looks interesting - it would save user data on-app-download by not downloading:
* Unnecessary languages
* Unnecessary assets (images) for the device's screen (resolution/dpi)
* Unnecessary feature modules (code)

I don't believe that there's any Fenix features that would be conditionally activated depending on the device, so the only savings that we'd reap would be languages + assets. It would

[2019-04-05 11:23] bsurd commented on #1224
Doing a regression it would seem that about:config still worked in the build from [22.03](https://tools.taskcluster.net/index/project.mobile.fenix.signed-nightly.nightly.2019.3.22/latest) task ID HYLxVmV7R1yXFCSAes2P2w and failed from the [25th](https://tools.taskcluster.net/index/project.mobile.fenix.signed-nightly.nightly.2019.3.25/latest) task ID KcPTUsBmQXmr7E1qsDKAlw. There are no other build

[2019-04-05 11:46] sv-ohorvath opened #1409 "FNX-5007 ⁃ [Bug] Site info panel on tablets is full screen-width"
## Steps to reproduce
1. Open a website.
1. Tap the padlock in the toolbar.
    1. Expected behavior
According to #1257, the site panel should be displayed just in the left corner of the screen, with rounded corners.
    1. Actual behavior
The panel covers the whole screen width.
    1. Device information

* Android device: Galaxy Tab (Android 8)
* Fenix version: 4/5

[2019-04-05 11:49] sv-ohorvath opened #1410 "FNX-5009 ⁃ [Bug] Site info panel covers the toolbar"
## Steps to reproduce
1. Open a website.
1. Tap the padlock in the toolbar.
    1. Expected behavior
The site info panel is displayed above the toolbar.
    1. Actual behavior
The site info panel covers the toolbar.
    1. Device information

* Android device: Nexus 5 (Android 6), Galaxy Tab 3 (Android 8)
* Fenix version: 4/5

[2019-04-05 12:48] sv-ohorvath opened #1411 "FNX-5010 ⁃ [Bug] Site info: Blocked permissions should have appropriate icons"
## Steps to reproduce
1. Open a website.
1. Tap the padlock icon from the url bar.
1. Verify the permissions blocked by user/ blocked by android.
    1. Expected behavior
Blocked permissions have a crossed-over icon.
    1. Actual behavior
Same icon as for allowed permissions.
    1. Device information

* Android device: Galaxy Tab 3 (Android 8), Nexus 5 (Android 6)
* Fenix version: 4/5

[2019-04-05 12:48] sv-ohorvath commented on #1165
Logged issues:
#1409
#1410
#1411

[2019-04-05 12:59] sv-ohorvath opened #1412 "FNX-5011 ⁃ [Bug] No system permission prompt for location access"
## Steps to reproduce
1. Go to permission.site
1. Tap location.
    1. Expected behavior
A system dialog is displayed asking for location access.
    1. Actual behavior
No system prompt displayed. Just the app doorhanger.
*The system dialog is displayed for camera & microphone
    1. Device information

* Android device: Nexus 5 (Android 6), Huawei P20 lite (Android 8)
* Fenix version: 4/5

[2019-04-05 13:00] mozillamarcia opened #1413 "FNX-5012 ⁃ [Bug] [Android Q] Crashing when selecting one of the "Today" items"
## Steps to reproduce
* Select one of the session items under "Today"
* Instantly crashes

### Expected behavior
* No crash

### Actual behavior
* Repeated crashes when selecting the item. See attached logcat. Not the same as https://github.com/mozilla-mobile/fenix/issues/1035

### Device information
* Android device: Pixel running Android Q Beta 2
[crashreport.txt](https://github.com/mozilla-mobi

[2019-04-05 13:04] sv-ohorvath opened #1414 "FNX-5013 ⁃ [Bug] Recommended/custom settings selection is reset - Nexus 5"
## Steps to reproduce
1. Go to Settings>Site permissions.
1. Select one of the 2 options: custom/recommended.
1. Exit to main settings menu.
1. Go back to site permissions settings.
    1. Expected behavior
The selection is saved.
    1. Actual behavior
No radio button is selected.
    1. Device information

* Android device: just on Nexus 5 (Android 6) so far, doesn't happen on Huawei P20 lite (A

[2019-04-05 13:06] Amejia481 commented on #1409
Thanks @sv-ohorvath this will be covered in https://github.com/mozilla-mobile/fenix/issues/1319

[2019-04-05 13:06] sv-ohorvath commented on #1409
Yup, sorry, I just came across that one.

[2019-04-05 13:13] Amejia481 commented on #1410
As the mock-ups show, I think in phones should cover the toolbar, but only in tablets it should be above.
![image](https://user-images.githubusercontent.com/773158/55630149-f76d2100-5782-11e9-83d1-2b90ea48b022.png)

[2019-04-05 13:14] Amejia481 commented on #1410
Tablet UI
![image](https://user-images.githubusercontent.com/773158/55630253-4024da00-5783-11e9-9388-c2e4c8a90911.png)

[2019-04-05 13:26] andreicristianpetcu opened #1415 "FNX3-15546 ⁃ [Bug] Cannot install latest Fenix"
## Steps to reproduce
Visit https://tools.taskcluster.net/index/project.mobile.fenix.signed-nightly.nightly/latest
Download any of the builds
public/target.aarch64.apk
public/target.arm.apk
public/target.x86.apk

And try to install them.

### Expected behavior
I should be able to install them.
This used to work but for the past 2 days it stopped working. I don't think the Android version or phone

[2019-04-05 13:27] sv-ohorvath opened #1416 "FNX-5015 ⁃ [Bug] Permission doorhanger buttons not visible on small devices"
## Steps to reproduce
1. Go to permission.site
1. Tap on camera/microphone/notifications.
    1. Expected behavior
A doorhanger is displayed, with two buttons.
    1. Actual behavior
The two buttons Allow/Don't allow are not displayed on 4.9, 5 inch screens.
*on a Nexus 5 emulator, they are displayed.
    1. Device information

* Android device: Nexus 5(Android 6), Xiaomi Redmi 5 (Android 5)
*Not

[2019-04-05 13:28] sv-ohorvath commented on #1416
![Screenshot_2019-04-05-16-05-20_org mozilla fenix debug](https://user-images.githubusercontent.com/4037709/55631090-e4c50d00-57bf-11e9-823b-7ef860b3afe1.png)
![Screenshot_2019-04-05-16-05-12_org mozilla fenix debug](https://user-images.githubusercontent.com/4037709/55631091-e4c50d00-57bf-11e9-8be1-b0fd7ea671f9.png)

[2019-04-05 13:33] Amejia481 commented on #1416
Related: https://github.com/mozilla-mobile/android-components/issues/2489

[2019-04-05 13:43] sv-ohorvath commented on #1414
Actually, the individual permission setting is not saved as well: e.g. in Custom settings, Camera: Block/Allow radio buttons.

[2019-04-05 13:43] sv-ohorvath commented on #887
Verified the acceptance criteria. Marked as fixed.
devices: Huawei P20 lite (Android 8), Nexus 5 (Android 6), Galaxy Tab 3 (Android 8).
logged related bug: 1414

[2019-04-05 13:45] sv-ohorvath commented on #888
Verified the acceptance criteria, the UI of recommended settings looks good.
devices: Huawei P20 lite (Android 8), Nexus 5 (Android 6), Galaxy Tab 3 (Android 8).

[2019-04-05 13:45] #888 closed

[2019-04-05 13:51] denschub commented on #1256
Ah, nevermind. I just tested the reporting, see https://github.com/webcompat/web-bugs/issues/28961 - and it worked fine, so I was confused. However, as it turns out, we didn't add support for that on our side right away (we have to whitelist labels that can be set via URL parameters to avoid abuse). We did that in https://github.com/webcompat/webcompat.com/pull/2820, which got deployed on 2019-03-

[2019-04-05 15:13] topotropic commented on #242
![Spec Line](https://user-images.githubusercontent.com/353960/55637722-01fcda00-57c6-11e9-8ede-064df904b8a7.png)
I was wondering if we can render it. Let me know if that's not working. Thanks!

[2019-04-05 16:28] ncalexan commented on #1374
We can strip it should we need to, but it's more convenient not to.

[2019-04-05 16:45] boek commented on #1256
Thanks @denschub !

[2019-04-05 16:50] sblatz opened #1419 "FNX-5016 ⁃ Replace placeholder images on home fragment"
Currently we have two placeholder images on the home fragment:

1) When a tab has **not been loaded** we use a placeholder image instead of showing a snippet of the webpage
![](https://user-images.githubusercontent.com/4400286/55643467-0bffe800-5788-11e9-943b-7820f524d125.png)

2) When a session is bundled up we show this the little stacked tabs icon with a random color. This one especially should

[2019-04-05 16:52] sblatz opened #1420 "FNX-5018 ⁃ Change how we're generating the screenshots for HomeFragment"
Currently we're screenshotting the center of the page and using that as a tab preview. Unfortunately, this often means the content is not actually very helpful, as it's some random snippet of text. I wonder if we screenshotted something closer to the top, we'd give users a better preview of their content?

We could also consider displaying a more zoomed out view, which shows **more** of the page t

[2019-04-05 17:02] sarentz commented on #1385
I think the question I have is whether Dynamic Delivery will also allow us to send architecture specific APKs to users.

More concretely: do people now download an APK that has a for example ARMv7 and ARM64 code included for GeckoView? Will Dynamic Delivery change that to an optimized binary that only contains code for the architecture of your specific device?

[2019-04-05 17:09] #696 closed

[2019-04-05 17:11] Cheap-Skate opened #1421 "FNX-5019 ⁃ [Bug] "Shortcuts" button color wrong when selecting alternative search engine"
## Steps to reproduce
Tab URL to enter search mode
Tap Shortcuts button
Select Bing
-> Shortcuts button text turns black, hard to read on purple background
Tap Shortcuts button
-> Shortcuts text & background both white, can't read

Similar happens in Dark mode

### Expected behavior
Shortcuts text should be consistent (black text on white or white text on purple)

Galaxy S7
Fenix 1.0.1914 68.0a1-2

[2019-04-05 17:14] Cheap-Skate opened #1422 "FNX-5020 ⁃ [Bug] Keyboard disappears when locking phone in Search screen"
## Steps to reproduce
Tap URL bar to go to Search mode
Keyboard appears
Lock phone
Unlock phone
-> Keyboard has disappeared
Have to tap in the search box again to get keyboard back

### Expected behavior
Keyboard should remain after lock/unlock
It does remain on Fennec
Galaxy S7
Fenix 1.0.1914 68.0a1-20190403060632

[2019-04-05 17:21] boek commented on #1274
I got it

[2019-04-05 17:24] cadeyrn opened #1424 "FNX-5021 ⁃ [Bug] regression: sessions not visible on home screen until you scroll"
### Steps to reproduce
1. make sure there are sessions on your home screen
1. quit Fenix via the recent applications menu of Android
1. start Fenix

### Expected behavior
You can see your sessions.

### Actual behavior
You see the colored box but no sessions. You have to scroll. Then the colored box disappears and the sessions appear.

### Device information
* Android device: HTC U11 / Android 8.0

[2019-04-05 17:27] ekager commented on #1144
Thanks @sv-ohorvath !
I added a change that *should* address this, could you recheck those devices next week with the latest master? :)

[2019-04-05 17:54] ghost opened #1425 "FNX-44 ⁃ Some site permissions should only work on secure websites"
Note to self: fill in details.

[2019-04-05 17:56] andreicristianpetcu commented on #1415
Sorry, I did not do basic troubleshooting :( The problem is that downloads are not valid files. I managed to download the builds with Fennec Nightly and they work.

[2019-04-05 18:07] cadeyrn commented on #1365
Maybe these are naive questions but why must a font with such licencing restrictions be used at all in an open source project like Fenix? Apart from the concerns already expressed by @mitchhentges, does it not also make distribution via other channels like F-Droid more challenging? And if it's really so important to use this font is there really no way to get better licencing conditions which are

[2019-04-05 18:25] cadeyrn opened #1427 "FNX3-15555 ⁃ history: multi select with short press on favicon"
In the history view you can long press on a row to enable the multi select mode. That's really great and it would be even more great if I could enable the multi select mode with a short press on the favicon (or favicon placeholder at the moment).

You can see the requested behaviour in the Google Mail app. I use the multi selection in the Google Mail app a lot and it would be nice if I could use t

[2019-04-05 18:27] ekager commented on #1422
Related bug: If you then resume the app (after pausing in SearchFragment) and press back, it exits SearchFragment, shows Home, and then exits the app. This is because we're overriding the back button when the keyboard is shown in SearchFragment.

[2019-04-05 18:40] Amejia481 opened #1429 "FNX-5023 ⁃ Update Site permissions page for MVP"
![image](https://user-images.githubusercontent.com/773158/55648920-914ac300-57af-11e9-810a-6375d62a242b.png)

[2019-04-05 18:57] Amejia481 commented on #1420
The [ThumbnailsFeature](https://github.com/mozilla-mobile/android-components/blob/master/components/feature/session/README.md#thumbnailsfeature) is taking a screen shot of the visible area of the screen. We are only showing the center of it with  `android:scaleType="centerCrop"`

[`tab_list_row.xml`](https://github.com/mozilla-mobile/fenix/blob/598ca17bebcef38c5f513e8d3006c892ced978af/app/src/main

[2019-04-05 19:08] mheubusch commented on #1429
@Amejia481 we are working on updates to the design files, but wanted to note that we should not build the follwing items into the interface: autoplay, popups, DRM

[2019-04-05 19:09] Amejia481 commented on #1429
Thanks @mheubusch  👍

[2019-04-05 19:38] mheubusch commented on #343
@vesta0 we are using native animations in this case and wherever possible

[2019-04-05 19:40] cpeterso commented on #1168
@eamsen, do we have a GV bug or API for bypassing Safe Browsing warning pages? We have the same problem with cert error pages.

[2019-04-05 19:48] mheubusch commented on #469
@topotropic please remove Your from Your Library - any engineer can simply make this update to the menu and we don't need new designs

[2019-04-05 19:53] mheubusch commented on #565
@vesta0 we will close this issue and visit as part of addressing page action menu for landscape

[2019-04-05 19:53] #565 closed

[2019-04-05 19:56] mheubusch commented on #619
@shorlander can you please advise on behavior here. once you do, please remove thee Needs UX Feeedback label

[2019-04-05 20:02] mheubusch commented on #850
@eeejay do we need to have actual text present on the screen in the address bar area or can we handle by updating the alt text of the PB button to say Private Browsing Mode On or is there other alt text we deploy to show state change from normal to private mode?

[2019-04-05 20:04] mheubusch commented on #868
@shorlander please provide correctly sized app icon? will this be the logo for MVP?

[2019-04-05 20:05] mheubusch commented on #943
We are removing existing sessions user stories and issues and will add new stories with new designs.

[2019-04-05 20:05] #943 closed

[2019-04-05 20:06] mheubusch commented on #1017
we are revisiting open tab cards and will create new stories

[2019-04-05 20:09] mheubusch commented on #1184
@AmyYLee can you make a quick ruling on style of search provider icons - we can update comps in search screens and in settings.

[2019-04-05 20:11] mheubusch commented on #1293
@topotropic Hi - have you addressed this in your open new tab/reload existing tab designs? @mheubusch for tracking

[2019-04-05 20:13] mheubusch commented on #860
@AmyYLee can you look at this contrast issue?

[2019-04-05 20:24] shorlander commented on #619
When are loading a page we should show the toolbar and the loading bar the way we currently do in Fennec.

[2019-04-05 20:30] boek opened #1430 "FNX-5025 ⁃ Implement Fenix Snackbar"
![image](https://user-images.githubusercontent.com/1250545/55657171-3a90b980-57ae-11e9-873a-7131c9b760be.png)

[2019-04-05 20:33] AmyYLee commented on #860
Can you please use Violet 70 (#592ACB) with white text on top. This is our accent colour on light theme. Thanks

[2019-04-05 20:56] sblatz commented on #1268
It will be pretty difficult to create the first test when we don't have a framework set up. I'm going to label this blocked until we have some groundwork.

[2019-04-05 21:02] mheubusch commented on #1140
this is not needed as a meta since metas exist for all features within Library

[2019-04-05 21:10] mheubusch commented on #87
@vesta0 do we need Fenix stories for this? The only stories seem to be for reference browser.

[2019-04-05 21:16] AmyYLee commented on #1289
Hi,

Tab switching is the same as returning to home and opening an existing tab. When on a website, the user taps on the home icon that takes them to the homescreen where they tap on an already opened tab to switch to it. Let me know if you have any questions.

Animation reference:
https://drive.google.com/file/d/1gg-tCqAKrI08ANVpekGmnltCqvS0o6RS/view?usp=sharing

[2019-04-05 21:22] boek commented on #1430
Questions for @brampitoyo

Do we want to use the same style for Private / Dark themes as well?

[2019-04-05 21:28] AmyYLee commented on #982
I believe so. It should take the user to this page:
![Screenshot_20190405-172156](https://user-images.githubusercontent.com/5992746/55657416-248ff280-57c8-11e9-975b-3f218c3cac1e.png)

This is where the Fennec version currently takes the user to:
![Screenshot_20190405-172130](https://user-images.githubusercontent.com/5992746/55657428-307bb480-57c8-11e9-888a-d474e2bb7091.png)

[2019-04-05 21:29] AmyYLee commented on #982
I'm not sure. @boek - Are you able to answer this?

[2019-04-05 21:30] mheubusch commented on #242
@colintheshots Did Nicole's advice here suffice? Can we consider this done from a UX perspective?

[2019-04-05 21:32] AmyYLee commented on #911
@vesta0 Let me talk to Bram to see what his thoughts are on this when he gets back.

[2019-04-05 22:10] sblatz commented on #689
@bsurd are you able to verify that this still happens and also post a video of what it looks like on your device(s)?

[2019-04-06 01:18] ehsan opened #1436 "FNX-5026 ⁃ [Bug] Fenix Health Report is off by default"
## Steps to reproduce
Go to Settings, Data Choices.

### Expected behavior
It should be on by default.

### Actual behavior
It's off.

### Device information
* Android device:HTC one m9
* Fenix version: 1.0.1914

As far as I understand, the purpose of this feature is to send a daily ping reporting the status of the client.

[2019-04-06 03:34] Kastilo opened #1437 "FNX-5027 ⁃ Add user specified alternative search engines"
### Why/User Benefit/User Problem
Adding options gives us alternatives to the big engines already and also allows for further user choice

### What / Requirements
Allowing the adding of search engines similarly to current Firefox

### Acceptance Criteria
When adding new search engines is possible

Thank you very mucch <3

[2019-04-06 06:21] DoggoOfSpeed opened #1438 "FNX-5028 ⁃ [Bug] Qr and shortcut buttons invalid text colors"
## Steps to reproduce
Press QR scanner or shortcuts

### Expected behavior
After pressing, text should become white(if white theme) and black if (theme is dark)

### Actual behavior
The text becomes almost impossible to read after pressing the button

### Device information
* Android device: Huawei p20 lite ANE-LX1 (C432)
Fenix version: 1.0.1914 built 4/5 12:35pm

![SVID](https://user-images.githu

[2019-04-06 08:04] thanuj10 opened #1439 "FNX-5029 ⁃ Sessions on the homescreen does not close properly when tapping the close button"
## Steps to reproduce
1. Use fenix and save a session.
1. Open fenix and close the session.
1. Session does not collapse or go away.
1. When you scroll to the top, the session icon changes to the one that is default

### Expected behavior
When user closes the session, the session must collapse/go away and must not simply stay until the user scrolls on the homescreen

### Actual behavior
The sessio

[2019-04-06 13:04] cadeyrn commented on #1424
Also after deleting a session you have to scroll to see a change.

[2019-04-06 14:16] cadeyrn opened #1441 "FNX3-15564 ⁃ [Bug] snackbar text is truncated on the left"
### Steps to reproduce
1. try to use an unimplemented feature like the qr scanner

### Expected behavior
snackbar looks okay

### Actual behavior
text in snackbar is truncated on the left

![Screenshot](https://user-images.githubusercontent.com/1100614/55670632-37b5c780-5887-11e9-9936-3adf6c8ef605.png)UNITO-UNDERSCORE!20190406-151224!

### Device information
* Android device: HTC U11 / Android 8.0

[2019-04-06 14:23] cadeyrn opened #1442 "FNX-5032 ⁃ [Bug] search shortcuts not correctly aligned in the middle"
### Steps to reproduce
1. open search shortcuts

### Expected behavior
correct vertical alignment

### Actual behavior
no correct vertival alignment, text has to be moved a bit to bottom

![Screenshot](https://user-images.githubusercontent.com/1100614/55670725-3c2eb000-5888-11e9-8db3-0790851a0cbf.png)UNITO-UNDERSCORE!20190406-151246!

### Device information
* Android device: HTC U11 / Android 8.0

[2019-04-06 14:32] cadeyrn opened #1443 "FNX3-15566 ⁃ [Bug] vertical alignment of address bar suggestion"
## Steps to reproduce
1. enter something in the address bar

### Expected behavior
correct vertical alignment between favicon and text

### Actual behavior
another case of wrong vertical alignment

![Screenshot](https://user-images.githubusercontent.com/1100614/55670852-895f5180-5889-11e9-93aa-0b7381b6c8a4.png)UNITO-UNDERSCORE!20190406-151347!

### Device information
* Android device: HTC U11 / An

[2019-04-06 15:12] cadeyrn opened #1444 "FNX3-15567 ⁃ [Bug] alignment of toggles in settings"
### Steps to reproduce
1. open settings

### Expected behavior
all toggles should be on the same position on the x-asis

### Actual behavior
the remote debugging toggle is wrong positioned

![fenix](https://user-images.githubusercontent.com/1100614/55671301-22dd3200-588f-11e9-8d84-efc6fc6fd53b.png)

### Device information
* Android device: HTC U11 / Android 8.0
* Fenix version: Fenix revision d43e

[2019-04-06 15:26] cadeyrn opened #1445 "FNX3-15568 ⁃ [Bug] there is no consistent icon style"
### Steps to reproduce
1. open settings

### Expected behavior
all icons have a consistent style

### Actual behavior
The icon for the "Give feedback" menu item looks out of place because it has a totally different stroke width than the other icons.

There are also other inconsistencies. For example the "Help" and the "About Fenix" icon - both have the circle around them and both looks different.

[2019-04-06 17:57] adiron commented on #619
I was about to open an issue for the same, so definitely a +1 from me. :)

As for the desired behavior, I'm with @thanuj10 on this one: showing a progress bar is fine. Showing the entire toolbar isn't that helpful

My reasoning is that the heart of the issue is needing assurance that my clicks _did_ in fact work. Unfortunately, the dotted outline and whatever the website set for `:focus`/`:active`

[2019-04-06 18:06] Vv2233Bb commented on #1445
No, it's not a bug. Fenix is a mozzila project and uses mozzila's icon style. The icons are separated into two parts (mobile and desktop). Desktop has wider icons while mobile icons are slimmer but there is less of them. The icons you are talking about haven't been designed yet. They will probably update it in the future. They are awere of this and I hope it is enaugh to close this issue.

[2019-04-06 18:25] cadeyrn commented on #1445
It doesn't matter if we call it bug or not. It's only labeled as bug because I used the GitHub template "Bug" to report this issue and I used this template because the sections make sense for reporting such an issue.

Why do you **hope** that an issue get closed if it's not solved? 😳 This is an issues tracker. In issues trackers issues will be closed if they are resolved / tracked in another way /

[2019-04-06 18:26] Vv2233Bb commented on #1445
K. But make sure this isn't a dublicate

[2019-04-06 18:48] cadeyrn commented on #1424
Fixed by #1446.

[2019-04-06 18:55] cadeyrn commented on #1376
Fixed by #1446.

[2019-04-06 22:54] boek commented on #982
No, we would be sending it ourselves locally through the app

[2019-04-07 04:24] npark-mozilla commented on #793
@sv-ohorvath Yes, @rpappalax will contact you shortly on how to verify telemetry via Glean.

[2019-04-07 05:27] cpeterso commented on #1353
I filed a GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1542579

This issue doesn't seem like a P1 or something that needs to block Fenix MVP, especially considering Fenix will eventually become the new Fennec.

[2019-04-07 07:01] cpeterso commented on #1340
If Fennec doesn't currently support WebAuthn, then this is a new feature that probably doesn't need to block Fenix MVP.

Here is the Gecko bug to support WebAuthn on Android:
https://bugzilla.mozilla.org/show_bug.cgi?id=1391438

@tvdmerwe: IIUC, the prototype patches in that bug would add WebAuthn support inside Gecko/GeckoView and Fenix would not need any new APIs or UI to support WebAuthn?

[2019-04-07 11:34] mheubusch commented on #169
@lime124 Have designs been shared with and reviewed with Fenix eng?  If so can we remove blocked label?

[2019-04-07 11:42] mheubusch commented on #1319
@Amejia481 is this issue completed by your work in 1409? if so, can we close this issue @vesta0 ?

[2019-04-07 11:45] mheubusch commented on #565
@vesta0 we will close this issue and visit as part of addressing page action menu for landscape

[2019-04-07 11:46] mheubusch commented on #619
@shorlander can you please advise on behavior here. once you do, please remove the Needs UX Feedback label

[2019-04-07 11:47] mheubusch commented on #1293
@topotropic Hi - have you addressed this in your open new tab/reload existing tab designs? @mheubusch for tracking

[2019-04-07 11:49] mheubusch commented on #1198
@Verdi Does this need additional UX feedback or is this ready for eng?

[2019-04-07 11:52] mheubusch commented on #1161
@Verdi can you specify the number of suggestions or other criteria for dev for this?

[2019-04-07 12:45] mheubusch commented on #1154
Closing this since the Library is just a presentation and the features for history and bookmarks cover all work for this meta

[2019-04-07 12:53] mheubusch commented on #532
closing this and opening new user stories for managing open tabs and sessions.

[2019-04-07 12:53] #532 closed

[2019-04-07 17:13] nt1m commented on #1445
The cause is that Fenix is using a mixture of Desktop and Android style icons.

See: https://design.firefox.com/icons/viewer/#

The platform toggle is on the top-right.

[2019-04-07 17:25] Cheap-Skate opened #1448 "FNX-5036 ⁃ [UX nit] Search box on Home screen not identical to search box on Search screen"
STR

* Go to Home screen
* scroll so search box is at top of screen
* tap search box to move to Search screen

-> the search boxes look subtly different on the two screens

* Search screen box is less tall than Home screen
* Search screen box has gray font, Home screen is black
* Search screen has larger font than Home screen
* Search screen Google icon is slightly left & down of Home screen Googl

[2019-04-07 17:27] Cheap-Skate opened #1449 "FNX-5037 ⁃ [UX nit] drop shadow on Home screen Search box is ugly & inconsistent in Dark mode"
Search box drop shadow on Home screen:-
I dislike the drop shadow, it makes Fenix look dated. Could get rid?
I dislike how it disappears as the search box scrolls up. Why is that necessary?
There's no drop shadow in Dark mode which seems inconsistent?

UX nit only but it annoys me :grinning: Cheers

[2019-04-07 17:31] nt1m commented on #1445
FWIW, the mockups use different icons: https://mozilla.invisionapp.com/share/8ZQVRNUJW3H#/screens/350752852 that are more consistent

[2019-04-07 17:40] cadeyrn commented on #1445
The invision link is password protected.
But good to know that there are already mockups with more consistent icons. :)

[2019-04-07 17:41] nt1m commented on #1445
<img width="368" alt="image" src="https://user-images.githubusercontent.com/1795135/55687419-13341b00-596d-11e9-924c-03c8eec95823.png">

[2019-04-07 18:50] yoasif commented on #1449
FYI, I also opened this  #559

[2019-04-07 19:08] Amejia481 commented on #1319
No this will be covered in this issue.  #1409 was bug report.

[2019-04-07 22:20] cpeterso commented on #1353
mheubusch suggests that we just use "GeckoView" as the Application Name.

[2019-04-07 23:46] gaby2300 opened #1451 "FNX-5039 ⁃ lanacion.com.ar displays differently in Firefox than in Fenix"
## Steps to reproduce
1) Type "lanacion.com.ar" in Fenix's URL bar.
   2) Notice the display.
   3) Type "lanacion.com.ar" in Firefox Release's URL bar.
   4) Notice the display.

### Expected behavior
Both displays should look the same.

### Actual behavior
Both displays look completely different.

### Device information
* Android device: Sony Z3C, Android 6.0.1
* Fenix version: Build#10971206; 6

[2019-04-07 23:48] gaby2300 commented on #1451
Firefox Release mobile site

![Firefox mobile](https://user-images.githubusercontent.com/2151784/55691627-6363ab00-5976-11e9-8f9a-90b6b52f1834.png)

[2019-04-07 23:48] gaby2300 commented on #1451
Fenix mobile site
![Fenix](https://user-images.githubusercontent.com/2151784/55691633-81311000-5976-11e9-99c3-c2a1c3043298.png)

[2019-04-08 00:22] gaby2300 commented on #1353
I see the same in today's build using a Sony Z3C device with Android 6.0.1,
and an Android 7.1.2 tablet

El mié., 3 de abr. de 2019 a la(s) 15:59, Marcia Knous (
notifications@github.com) escribió:

[2019-04-08 00:28] Baemir commented on #1451
Unable to reproduce on the newest nightly. Perhaps try again, or check settings?

[2019-04-08 00:29] colintheshots commented on #242
@mheubusch Yes, I think that resolves the ticket. I'll convert from pixels to dips and ARBG to RGBA.

[2019-04-08 01:12] gaby2300 commented on #1451
I tried multiple times before creating the issue.

Could you please tell me which settings should I check?

[2019-04-08 01:24] colintheshots commented on #242
How should I portray an empty bookmarks folder when the user is browsing inside it? This is important because it's not obvious after moving the last bookmark in a folder that the previous folder in our back stack would be empty. The user just sees a blank screen with the title "Bookmarks" at the top.

Should I also change the title of the screen to the name of the current folder when browsing book

[2019-04-08 01:26] colintheshots commented on #242
Also, for the multi-selection of bookmarks, how does the edit action in the action bar work if multiple bookmarks are selected? I thought we only edited one bookmark at a time. Should I list one bookmark after another with separate editing fields?

[2019-04-08 01:37] karlcow opened #1453 "FNX-5040 ⁃ MEDIA_ERR_UNKNOWN on New-York Post"
Originally on https://github.com/webcompat/web-bugs/issues/28144

Fenix 1.0.1915 (Build #10971207)

1. Go to https://nypost.com/2019/03/21/alexandria-ocasio-cortez-flips-out-over-mocking-of-her-name/amp/

Video is not working.

So this is working on RDM.
This is working for me on Firefox Nightly Android with Pixel 2 device.
but indeed this is failing in Fenix.

[2019-04-08 02:46] ekager opened #1454 "FNX-5041 ⁃ After a fling, recyclerview takes 2 clicks to activate"
From my research, this is a bug in `MotionLayout` where the `RecyclerView` interprets the first click as the end of a fling and the second click as clicking on the list item. `MotionLayout` currently only uses `NestedScrollingParent2`, but {{NestedScrollingParent3 }}should contain the fix to this bug. [Follow the bug on Google Issue Tracker.](https://issuetracker.google.com/issues/128914828)

[2019-04-08 02:52] ekager commented on #1439
Thanks for reporting! Let us know if you're still seeing this issue in the latest build

[2019-04-08 02:54] ekager opened #1455 "FNX-5042 ⁃ Progressbar for custom tabs should be at the bottom"
Since I updated the default progress bar to be at the top of the toolbar, we will need to specify a bottom progress bar for a custom tab.

[2019-04-08 02:56] ekager commented on #627
We are now using the PreferredColorScheme feature in GV when in Fenix dark mode. Is there an action item for this bullet?
- falling back to something closer to provided by Dark Background and Light Text or the modes in Kiwi or Samsung browsers

[2019-04-08 03:00] ekager commented on #627
A good website to test the reactive dark theme in action is https://kevinchen.co/blog/support-macos-mojave-dark-mode-on-websites/

[2019-04-08 03:03] ekager commented on #1444
Closing because we are generic Android `SwitchPreference` here and this is the default. If they were all turned off, they would be aligned.

[2019-04-08 03:04] ekager commented on #1438
Dupe of #1421

[2019-04-08 03:09] ekager commented on #860
Sorry @AmyYLee to clarify - the suggestion text being highlighted for autocomplete should be white text with the violet highlight, and the text not being highlighted should be black?
![Screenshot_20190407-200712](https://user-images.githubusercontent.com/25442310/55696259-ff8ab380-5970-11e9-9e42-65fe990f4ab7.png)

[2019-04-08 03:12] ekager commented on #469
This string has been updated. Thanks @cadeyrn !

[2019-04-08 03:15] ekager commented on #1049
Steps 1 and 3 have been completed and the progress bar is now at the top of the toolbar. Unfortunately, step 2 is not as easy as it seems; as the `ui-progress` component, while a nice animation, can slow down page load times.

[2019-04-08 03:30] Scripterr opened #1456 "FNX-5043 ⁃ [Bug] Session bug in private and normal browsing mode"
## Steps to reproduce
1.Open fenix (in normal mode and private mode) and search or open web page.
2.Come back to the homescreen.

### Expected behavior
The save session button shows in the private browsing mode but not in the normal mode.

### Actual behavior
The save session button should show in the normal browsing mode not in the private browsing mode.

### Device information
* Android device:

[2019-04-08 05:42] akarshanbiswas opened #1458 "FNX-5044 ⁃ Add a notification for background play"
### Why/User Benefit/User Problem
Users will be able to control playback while firefox/fenix is minimized just like in fennec

### What / Requirements
A persistent notification when fenix plays a media

### Acceptance Criteria (how do I know when I’m done?)
When fenix behaves same as fennec when playing media.

[2019-04-08 06:45] cadeyrn commented on #1444
oops, makes sense. Thank you for showing me the obvious. 😂

[2019-04-08 08:46] brampitoyo commented on #1430
@boek wrote:

Yes. I believe that our snackbar colour would stand out against both private and dark theme foundation colours, so we can safely use the same style across all themes.

Just paging @AmyYLee and @shorlander to get a confirmation.

[2019-04-08 09:47] topotropic commented on #242
https://mozilla.invisionapp.com/share/4FRF40AVG56
Let's put "No bookmarks here" (Inter UI, 16sp, RGBA 21, 20, 26, 48) there.

Good catch, please do.

Yes, let's only edit one bookmark at a time – you can either remove the edit option or hide it, when someone selects more then 1 bookmark.

[2019-04-08 10:22] isabelrios opened #1459 "FNX-5045 ⁃ [Bug] History entries looks like incomplete, title not shown"
## Steps to reproduce
Browse to several websites
Go to Library -> History

### Expected behavior
All history entries are shown the same way, title + url

### Actual behavior
Some titles are missing

### Device information
* Android device: Pixel 3
* Fenix version: Build 10971207 Apr 4th

See screenshot:
![Screenshot](https://user-images.githubusercontent.com/1897507/55717060-ca29a880-59f8-11e9-973

[2019-04-08 10:24] cadeyrn commented on #1459
Regression by #1395.

[2019-04-08 10:34] topotropic commented on #1375
https://mozilla.invisionapp.com/share/8ZQVRNUJW3H#/350752849_Settings_-_Search
Rename "Search engine" to "Search" in settings and add a toggle to the search section labeled "Show visited sites"

[2019-04-08 10:36] topotropic commented on #1249
Let's put "No history here" (Inter UI, 16sp, RGBA 21, 20, 26, 48) there.
Similar to: https://mozilla.invisionapp.com/share/4FRF40AVG56
Also discussed in bookmark issue https://github.com/mozilla-mobile/fenix/issues/242#issuecomment-480763002

[2019-04-08 10:51] topotropic commented on #563
@boek could you update history so that selections matches the spec here https://mozilla.invisionapp.com/share/8KRF5PW9Q6Z ?

[2019-04-08 11:27] bbinto opened #1460 "FNX-5047 ⁃ [Bug] Confirm issue when Lockbox app crashes when using it with Fenix"
I want to make sure we figure out if this is a Fenix issue or Lockbox issue, Lockbox did not crash for Focus.

* STR: see Cross-filed, for reference https://github.com/mozilla-lockbox/lockbox-android/issues/583
* Android device: Pixel 2, version 9
* Fenix version:
![Screenshot](https://user-images.githubusercontent.com/122897/55720749-91c1a480-59cf-11e9-9d64-1353007b277d.png)UNITO-UNDERSCORE!20190

[2019-04-08 12:26] bbinto commented on #1157
Thanks @liuche - let's use fenix-core@mozilla.com

[2019-04-08 12:59] thanuj10 commented on #1439
The issues is fixed in the latest build (4/8 Build)

[2019-04-08 14:12] sarentz commented on #1385
Note to @mozilla-mobile/releng that we are not going to do this for 1.0 and will consider it only for a later release when we understand what the actual APK size gains will be.

[2019-04-08 14:37] agi90 commented on #1365
I don't understand what's the difference between adding it to our APK and having it in the github repository? either way you can extract it (APKs are just zip files).

[2019-04-08 14:48] JohanLorenzo commented on #1385
The Firefox Lite folks use Android App Bundle and I think Dynamic Delivery too. The former was done in https://bugzilla.mozilla.org/show_bug.cgi?id=1473845.

From a Release Engineering perspective, we currently don't support Android App Bundles in our automation pipeline. Firefox Lite signs their AAB manually (with Autograph) and let a 3rd-party (Bitrise) upload the AAB for them.

To answer this q

[2019-04-08 15:35] kbrosnan commented on #1375
How should this interact with Bookmarks?

[2019-04-08 15:37] thanuj10 commented on #1459
Can confirm this issue on Nokia 6.1+/Android 9.
4/8 Build(Latest)

[2019-04-08 15:40] agi90 opened #1461 "[Bug] Audio playing in background is distorted after a little bit"
## Steps to reproduce
* Play some audio in the browser (e.g. a song from soundcloud.com)
* Background the browser, open another app
* Wait for a minute or so

### Expected behavior
* Audio continues playing without issues or audio stops immediately

### Actual behavior
* Audio starts popping, probably because geckoview is not scheduled enough to maintain audio playing

Note: you might encounter ht

[2019-04-08 16:18] sblatz commented on #977
These events all take place inside of an android component, which will make it trickier to handle telemetry, I believe.

[2019-04-08 16:59] Scripterr opened #1465 "FNX-5048 ⁃ [Bug] Crash on opening homescreen"
## Steps to reproduce
1. Open webpage through other app by setting fenix as default browsing app.
1. Immediately click the tab button as it starts loading.
    1. Expected behavior
The homescreen open and you can see the tabs.
    1. Actual behavior
The app crash and the crash reporter displays.
(It happens most of the time this is the only steps which can reproduce the behaviour reliably)
    1.

[2019-04-08 16:59] topotropic commented on #1375
Yes, good point. Assuming privacy concerned people want to suppress both history and bookmarks, we could combine it to "Show visited sites and bookmarks".

[2019-04-08 17:06] Scripterr commented on #1465
This issue started after the session and tab components both merged in the PR #1446 .

[2019-04-08 17:20] agi90 commented on #1461
I think we need to notify Android that we're playing audio on the background with a notification similarly to what Fennec and other music players do.

[2019-04-08 18:08] ekager commented on #1465
Thanks for the report! I am able to reproduce and I don't think it is related to #1446 as I can repro on older branches as well.

This happens when Fenix is not open in the background and you send a link to open in Fenix and then try to click the tabs icon.

[2019-04-08 19:02] MichaelKohler opened #1467 "FNX-5049 ⁃ [Bug] File upload with input type "field" results in "No file selected""
## Steps to reproduce
1) Go to https://adaptable-nest.glitch.me/
2) Click on the "Browse" in the upload field (doesn't matter which one)
3) Select an image or file from your gallery

### Expected behavior
Fenix should show the file name of the selected file and then also upload that file to the server (server part not implemented in the test case).

### Actual behavior
Fenix shows "No file selecte

[2019-04-08 19:09] jonalmeida commented on #343
To clarify then, the native Android animation (which @AmyYLee also shared) is that the animation would animate from the bottom.

[2019-04-08 19:52] AmyYLee commented on #343
Yes it would animation from the bottom (basically coming out from the 3-dot menu)

[2019-04-08 20:01] cadeyrn commented on #1332
This issue should be reopened because it was closed under the assumption that #1395 will fix this issue. But #1395 didn't fix the issue, it only introduced an additional history bug, see last comment and the new issue #1459.

[2019-04-08 20:07] cadeyrn commented on #1465
Duplicate of #1406.

[2019-04-08 20:23] Lululalu commented on #176
I would like to suggest a gesture to switch between tabs by swiping on the address bar, like chrome does. It
is very intuitive e make mobile browsing much easier and quicker.

[2019-04-08 20:32] Lululalu opened #1468 "FNX-5050 ⁃ [Bug] The Keyboard overlaps the default browser selection screen."
## Steps to reproduce
Open any website
Touch the address bar
Double touch the address bar to select the address
Touch "Browser" on the context menu. Note that you shouldn't have a default browser, otherwise instead of "browser" you will have Chrome or Firefox for example. Not sure if it's an Android feature or some Samsung thing.

### Expected behavior
The default browser selection screen appears

[2019-04-08 20:35] Lululalu opened #1469 "FNX-5051 ⁃ [Bug] The space between the tabs icon and the three dots icon is too large"
It just does feel... Right.
![Screenshot](https://user-images.githubusercontent.com/32398857/55755171-c27ff900-5a24-11e9-88bc-d2ba254a6f29.jpg)UNITO-UNDERSCORE!20190408-170844!UNITO-UNDERSCORE!Fenix!

[2019-04-08 21:38] asadotzler opened #1472 "FNX-5053 ⁃ TalkBack highlighter overlaps browser user interface"
## Steps to reproduce
Enable TalkBack
Surf to a web page
swipe until a paragraph is selected near the bottom of the page

### Expected behavior
The TalkBack visual selection indicator should not overlap the browser UI at the bottom of the page

### Actual behavior
The TalkBack visual selection indicator overlaps the browser UI at the bottom of the page.

### Device information
* Android device: ?

[2019-04-08 21:48] Verdi commented on #1184
I spoke with @shorlander about this. We decided on replicating what we do on desktop.

![desktop-search](https://user-images.githubusercontent.com/107992/55758926-c78d7a00-5a1d-11e9-99a5-ca7f63bc20f7.png)

- So Google and DuckDuckGo use their rounded versions.
- Amazon and Ebay use a rounded rectangle
- Bing and Wikipedia are square
- Twitter has a transparent background

[2019-04-08 21:53] asadotzler opened #1474 "[Bug] TalkBack selection misplaced after page zoom"
## Steps to reproduce
Enable TalkBack
Load a webpage
Swipe to select an element on the page
Pinch to zoom the page in

### Expected behavior
The TalkBack focus rectangle should stay on the originally selected element

### Actual behavior
The TalkBack focus rectangle moves to some random place on the page

### Device information
* Android device: ? Samsung Galaxy S6
* Fenix version: ? 2019-04-03

[2019-04-08 22:15] lime124 commented on #169
@colintheshots has reviewed an earlier version. he's going to look again tomorrow and post any further questions.

[2019-04-08 22:27] lime124 commented on #482
@Verdi to weigh in.

The current tab and the history suggestion are both being shown in the search results. They both look the same but one goes to the new tab the other opens the history item. There are two question I'm seeing here:
1. Should we display both as they do different things?
2. How do we make it more clear what will happen when you tap on it?

[2019-04-08 22:31] yoasif opened #1476 "FNX-5054 ⁃ Snackbar actions are not differentiated from snackbar message (color)"
## Steps to reproduce
1. Swipe up on a page
1. Hit the "download" icon

### Expected behavior
The snackbar that appears should have a different color for the message vs. the "button" that can be tapped on.

### Actual behavior
The only differentiation between the snackbar text and the button is that the button is capitalized. I'm not a huge fan of the capitalization either.

### Device information

[2019-04-08 22:43] ekager commented on #1465
Closing as a dupe of #1406 for QA purposes

[2019-04-08 22:54] yoasif commented on #482
FWIW, in the latest build that I have, tapping on the history item does nothing, so that may be a bug/regression if it used to open a new tab.

[2019-04-08 22:54] liuche commented on #981
@st3fan I see you're listed as the responsible party for the LeanPlum integration and events it the MVP document - this documentation should also be done as part of the MVP. I can't tell if it's tracked as part of MVP so just wanted to verify that it has the correct labeling.

[2019-04-08 23:03] shorlander commented on #182
Yes, I agree. It's one of the pieces we discussed bringing into Custom Tabs to make it easier to access this functionality without leaving the Custom Tab.

[2019-04-08 23:04] shorlander commented on #868
I need to make some adjustments and then I will provide all the right sized assets. The current plan is that this will be the logo for MVP.

[2019-04-08 23:13] ncalexan opened #1478 "FNX-5055 ⁃ [Bug] TaskCluster links to `raptorRelease` build types aren't configured correctly"
## Steps to reproduce
The ARM build at https://tools.taskcluster.net/groups/NpA6M3XySpy-ZSlPUOgEoA/tasks/YRqdzPTfTWyLUUKpHUu_tw/runs/0/artifacts doesn't have a `target.apk` at all.

The aarch64 build at https://tools.taskcluster.net/groups/NpA6M3XySpy-ZSlPUOgEoA/tasks/G-yJwOBQTCmMA_n4yBQE7Q/runs/0/artifacts lists `target.apk` -- the link is to https://queue.taskcluster.net/v1/task/G-yJwOBQTCmMA_n4

[2019-04-08 23:15] ncalexan commented on #1478
Yep, there it is: https://searchfox.org/mozilla-mobile/rev/229ab3755d5caedb02066cd524b2340191ce8309/fenix/automation/taskcluster/lib/tasks.py#482

[2019-04-08 23:42] Verdi commented on #860
Sorry about changes...
@shorlander and I talked about this. We should use accent @ 36% and don't invert the text.
![highlight](https://user-images.githubusercontent.com/107992/55763735-d7ad5580-5a2d-11e9-9520-da366cdfef58.png)

[2019-04-08 23:55] ekager commented on #897
I looked into this a bit today. The root cause seems to be that private mode is not the default theme, so in HomeActivity onCreate when we are applying the private theme for the first time on activity start up, we need to recreate the app to apply the new theme so onCreate is called twice when sending a View intent in private mode. Then I believe the session is in some half created (or fully creat

[2019-04-09 00:27] ekager commented on #860
Got it, thanks!

[2019-04-09 00:47] yoasif commented on #182
This is really weird - I thought "Download" was going to be a list of downloads (which I guess doesn't make a hell of a lot of sense to appear as a quick action on every page, but...).

The way you make it sound, Download is something more like a "take a screenshot" on desktop or "Save".

Either of those would be far less confusing if the "Download" button isn't just a list of Downloads.

[2019-04-09 01:21] sebast889 opened #1481 "FNX-45 ⁃ [Meta] Containers support"
### Why/User Benefit/User Problem
Being able to contain different websites to different containers to improve privacy and usability.

### What / Requirements
Feature parity with desktop Firefox

### Acceptance Criteria (how do I know when I’m done?)
Feature parity with desktop Firefox as well as ability to user Web Extensions that makes use of container feature

[2019-04-09 01:25] sebast889 opened #1482 "FNX-46 ⁃ Ability to disable extension updates"
### Why/User Benefit/User Problem
Allows users ability to turn off extension updates so that users can use a specific extension version or to audit/check an update before actually upgrading.

### What / Requirements
Having the same ability as available on desktop Firefox

### Acceptance Criteria (how do I know when I’m done?)
Feature parity with same ability on desktop Firefox, when #574 is implem

[2019-04-09 02:54] ekager commented on #1445
I pulled some newer vector icons in from the design docs. Closing but let us know if you see any other icons out of place! Thanks!

[2019-04-09 04:11] lime124 commented on #587
not yet - it's on our list.

[2019-04-09 04:21] lime124 commented on #552
@topotropic just respond to @cpeterso via email with this. I believe this should resolve the issue.

![unnamed](https://user-images.githubusercontent.com/287322/55773130-22d26300-5a44-11e9-8607-f4afa0b9a245.png)

[2019-04-09 04:24] lime124 commented on #1285
@vesta0 it's in our backlog now.

[2019-04-09 04:48] kbrosnan opened #1483 "FNX-5057 ⁃ IndexOutOfBoundsException: Index: 1, Size: 1"
https://sentry.prod.mozaws.net/operations/fenix/issues/5506422/

[code]

### STR:
* open https://webrtc.github.io/samples/src/content/devices/input-output/
* Accept the Camera/Microphone access
* Tap on the video source drop down
* Select camera 2
* Crash

[2019-04-09 05:03] vesta0 commented on #1373
Thanks for the suggestion! We are tracking a similar feature here: #514

[2019-04-09 05:08] vesta0 commented on #1379
Related to #1160

[2019-04-09 05:23] vesta0 commented on #1382
@shorlander can you please confirm if this is a bug or intended behaviour?

[2019-04-09 05:25] vesta0 commented on #1268
@st3fan what is the next step to set up a framework for unit tests?

[2019-04-09 05:36] vesta0 commented on #1393
Fixed in #1360

[2019-04-09 05:42] vesta0 commented on #1386
Fixed :)

[2019-04-09 07:18] mauryat commented on #1483
@kbrosnan can I work on this?

[2019-04-09 09:22] bsurd commented on #689
I have checked, all of the devices have the same Android version as mentioned above. This is no longer reproducible for the Samsung devices, altho I was able to still reproduce this on the Nexus 6P and Nokia 6.

[Galaxy S8 video](https://drive.google.com/open?id=1Opi1Pn6RyhSC2446PU-i6Y24mWe5lgVA)
[Nexus 6P video](https://drive.google.com/open?id=1aXHXfQvbMMdg4_9KelMhs1mxnukYc9M6)

[2019-04-09 09:36] bsurd commented on #1456
I am able to reproduce this on the latest build, there is a save session button displayed in private browsing as mentioned by @Scripterr.

![button](https://user-images.githubusercontent.com/17178945/55789949-05dd7480-5ac4-11e9-9bda-d4a241a56426.jpg)

[2019-04-09 09:45] bsurd commented on #1421
Tested on a Pixel, Galaxy S8, Nokia 6 and HTC 10. This is no longer reproducible and works for both light and dark theme as intended.

[2019-04-09 10:03] bbinto commented on #981
@st3fan and @liuche - assigned to me and will be done before MVP (it's in the MVP blacklog).

Thanks for flagging this.

[2019-04-09 10:45] bsurd opened #1484 "FNX-5058 ⁃ [Bug] On some devices the follow device theme/battery saver option does not work"
## Steps to reproduce
1. Go into Settings > Theme
1. Select "Set by Battery Saver/Follow device theme"
1. Turn on Battery Saver.

    1. Expected behavior
Fenix theme changes when battery saver is turned on.

### Actual behavior
Theme stays exactly the same.

### Device information
* Affected devices:
  * Nokia 6 (Android 7.1.1)
  * Galaxy S8 (Android 9)
  * Galaxy Note 8 (Android 9)
* Unaffected

[2019-04-09 10:48] bsurd commented on #1399
Tested on 6 different devices but I was not able to reproduce the initial crash on older builds so I can't really confirm if this is fixed or not. @jonalmeida could you confirm this on your device.

I did encounter a different issue while testing and logged #1484 for it. Devices used are also mentioned there.

[2019-04-09 11:10] bsurd opened #1485 "FNX-5059 ⁃ [Bug] page crash message displayed incorrectly in dark theme"
## Steps to reproduce
1. Go to Settings > Theme
1. Tap on the Dark theme.
1. Go to about:crashcontent.

### Expected behavior
All of the text is readable.

### Actual behavior
Some text is not displayed and other is barely visible.

### Device information
* Android device:
  * Google Pixel (Android 9)
  * Samsung Galaxy S8 (Android 9)
  * Nexus 5 (Android 6.0.1)
* Fenix version: 1.0.1915 (#1098120

[2019-04-09 11:11] bsurd commented on #1222
This has now been verified the tab/app crash now work in private mode as well without any issues.

[2019-04-09 11:14] staktrace opened #1486 "FNX-5060 ⁃ [Bug] links with target=_blank don't open in new tabs"
## Steps to reproduce
* Go to https://staktrace.github.io/moz-pages/bug/fenix-blank-target.html?x
* Click on the link on the page

### Expected behavior
* Link opens in a new tab

### Actual behavior
* Link opens in the same tab. This makes it impossible to get back to the original page, because Slashdot eats your back button attempts. In other browsers you can close the new tab and continue on th

[2019-04-09 11:17] staktrace opened #1487 "FNX-462 ⁃ Quick access to existing bookmarks"
### Why/User Benefit/User Problem
Unless I'm missing something, it currently takes 5 taps to load a bookmark (Menu, Library, Bookmarks, mobile, bookmark). This seems like 4 taps too many.

### What / Requirements
Reduce number of taps to load a bookmark

### Acceptance Criteria (how do I know when I’m done?)
Implement the UX mocks below:

**UX update**

ok, here's a small improvement to reduce num

[2019-04-09 11:56] bsurd commented on #1387
With accessibility enabled when trying to tap on them it no longer does any highlight to indicate that they are interactive.

I would like to note that the color for them has also been changed, it is now a darker color. @ekager was this intended with the change?

![screen](https://user-images.githubusercontent.com/17178945/55798395-7b9f0b80-5ad7-11e9-9c28-b75be605b146.png)

[2019-04-09 12:46] Amejia481 commented on #1483
This will be fix with this PR https://github.com/mozilla-mobile/fenix/pull/1452

[2019-04-09 13:19] bsurd commented on #1167
Custom site permissions are applied successfully and work as expected. All of the acceptance criteria for this has been met and verified.

[2019-04-09 14:16] sblatz commented on #1268
My understanding after speaking with @colintheshots and @boek is that we just need to integrate some robo electric tests as examples for others to work off of.

[2019-04-09 14:22] Dexterp37 opened #1488 "FNX-5061 ⁃ [Bug] Fenix is not sending telemetry even tough "Telemetry" is on"
## Steps to reproduce
* Download Fenix from the Google Play Store.
* Start Fenix.
* In "Data Choices", make sure "Telemetry" is on.
* Close Fenix.
* Start Fenix.

### Expected behavior
Glean pings should be generated and sent.

### Actual behavior
No Glean ping is generated and sent. By inspecting the output of `adb log`, I can see `glean/Glean: Metrics enabled: false`. This means that [`Glean.set

[2019-04-09 15:27] #691 closed

[2019-04-09 15:43] tvdmerwe commented on #1340
@cpeterso: Fennec could easily support WebAuthn if we get to land the patch that J.C. has been working on. This could indeed be feasible when J.C. returns from parental leave - it might benefit from some reviewing on the Fennec side while he's away. We think landing it in Fennec would still be beneficial.

As far as I'm aware, the code across Fennec and GV/Fennix should remain largely the same but

[2019-04-09 15:53] Scripterr commented on #1456
Hello @boek i can confirm that this issue is fixed in fenix recent build and the issue can be closed.👍

[2019-04-09 16:11] vesta0 commented on #1419
@lime124 could we have UX look at this?

[2019-04-09 16:12] cadeyrn commented on #1445
It's much better now, thanks!

[2019-04-09 16:16] Scripterr commented on #1465
I'm still experiencing the crash but now it's random as it doesn't depends on the progress bar status i don't have concrete steps but i have 2 crashes related to this after updating to the latest build.

[2019-04-09 16:18] cadeyrn commented on #1406
Fenix no longer crashes for me with the STR from the initial report.

[2019-04-09 16:18] yoasif commented on #182
@sblatz Okay well in that case, I'm not sure that "Download" is really the right label for this button then -- it isn't like the corresponding feature in Firefox desktop is called that (it is called "Save" or "Take a Screenshot" if that is the feature). In Fennec, it is called "Save as PDF" (not sure what format the save will save as).

Is "Downloads" in the Library meant to show these saved pages

[2019-04-09 16:30] Scripterr opened #1491 "FNX-5062 ⁃ [Bug]Reload icon is missing"
## Steps to reproduce
1. Open a site and stop the site loading mid-way.
1. Open the three dot menu.
    1. Expected behavior
The reload icon is present there and on cicking the page reload action is performed.
    1. Actual behavior
The reload icon is missing from there and cancel icon is present instead and clicking  on it doesn't have any effect.
    1. Device information

* Android device: 8.0.

[2019-04-09 16:31] ekager commented on #1484
Thanks @bsurd ! Some follow up questions:

On Samsung devices if you scroll to the second page of settings from the pull down menu, you should see a "Night Mode" setting. From my testing, this is the setting that will force the device to go in dark mode that will then update Fenix's theme if it is using "Follow device theme". If this is working correctly, could you update the description with the

[2019-04-09 16:33] ekager commented on #1491
This is blocked on library work (AC) linked in #654

[2019-04-09 17:26] vesta0 commented on #1487
@lime124 would love your thoughts on this.

[2019-04-09 17:40] sblatz commented on #921
A-C does not have a way to add images to error messages right now which could get a little complicated due to us having to decode the image into a string and inject it into the HTML which can lead to huge performance issues. I've filed a ticket [here](https://github.com/mozilla-mobile/android-components/issues/2689).

[2019-04-09 17:41] vesta0 commented on #1476
UX will look at the colour post MVP.

[2019-04-09 17:43] staktrace commented on #1486
Note that this is not just a UX thing, but a violation of web standards and will probably break real-world websites badly.

[2019-04-09 17:54] vesta0 commented on #1453
@karlcow can you please try again with the new nightly?

[2019-04-09 17:56] vesta0 commented on #1451
@gaby2300 please try again with the new nightly?

[2019-04-09 18:02] Delphine opened #1495 "FNX-5063 ⁃ New Fenix strings need updates"
I've reviewed the new strings in our [latest Quarantine PR](https://github.com/mozilla-l10n/android-l10n/pull/15) and there are a couple things that need to be fixed before we can expose them to localization:
[ ]<string name="bookmark_created_snackbar">: string ID should be updated, since the meaning of the string is changing
[ ] there are no localization comments for any of the new strings. Pleas