[2019-09-06 12:16] topotropic commented on #1114
Happy to discuss the design, please ping me!

[2019-09-06 12:22] buttercookie42 commented on #3727
That is referring to the fact that Fennec tries to scroll the URL such that the end of the host part aligns with the right edge of the URL bar, which means that for URLs where the host part doesn't fit within the width of the URL bar, it's the start of the URL (including the protocol) that gets pushed off the screen.

[2019-09-06 12:37] nahuhh commented on #4575
@djfe I agree and had posted a similar request #3349

[2019-09-06 12:47] nahuhh opened #5153 "[Feature Request] Menu closes when selecting on screen forward button"
## Steps to reproduce
Open menu
Select forward

### Expected behavior
The menu should remain open - to perform multiple forward requests

### Actual behavior
The menu closes after you make your selection

### Device information
BlackBerry KeyOne
* Android device: ? 8.1.0
* Fenix version: ? Nightly 190905 12:42 (Build #12481253)
📦: 12.0.0, 62ec2845b
🦎: 71.0a1-20190904094319

[2019-09-06 12:54] cadeyrn commented on #5153
I disagree, your proposed behaviour would be totally annoying for me. And neither the old Firefox nor Chrome does what you suggest.

[2019-09-06 13:10] sv-ohorvath opened #5154 "[Bug] Android 5 - Media notification icon should adapt to the status bar color"
## Steps to reproduce
1. On an Android 5 device, play a media file.
2. check the status bar and observe the media notification icon.
### Expected behavior
The icon should be white to be visible on an always-black status bar on Android 5.
### Actual behavior
The icon is black, not visible.
### Device information

* Android device: Mi 4i (Android 5.0.2), Samsung Galaxy Tab A 6 (Android 5.1.1)
* Feni

[2019-09-06 13:10] asadotzler commented on #5141
I think we need to do something more here and not rely on users work around the issue. Talkback reads the paragraph and the link and says double-tap to activate but double-tap does nothing.

[2019-09-06 13:12] sv-ohorvath commented on #2551
Verified again on nightly 9/6 build. The issues mentioned above are fixed.
These are the new issues I've found:
https://github.com/mozilla-mobile/fenix/issues/5151
https://github.com/mozilla-mobile/fenix/issues/5154
Closing this bug as verified.

[2019-09-06 13:14] nahuhh opened #5155 ""save link as..." in context menu"
### Why/User Benefit/User Problem
Chrome, Firefox etc all include an option to "save link as" or "download link" when long pressing on a link.

### What/Requirements
Add the feature to Fenix.

### Acceptance Criteria (how do I know when I’m done?)
I believe "download link" should be available when you tap hold on any link.
Neither of these options should discriminate against file type etc.

These

[2019-09-06 13:18] nahuhh commented on #349
To add to this request
- a ui for the downloader (within menu > library) where you can view current and past downloads, along with the ability to pause/resume/cancel ones that are in progress

[2019-09-06 13:20] nahuhh commented on #5153
How do you go forward on your device? I find it super annoying

I could live with it only remaining open during forward presses

[2019-09-06 13:20] TitanNano commented on #5153
Going back more than one page should be handled with the history sheet, which already has a bug [here](https://github.com/mozilla-mobile/fenix/issues/3514).

[2019-09-06 13:30] nahuhh commented on #5153
@titannano
According to that issue, android q +the device back button or lackthereof makes the implementation different

They suggest long pressing the on screen, in menu back button to bring up recent history of the current tab

I still think a forward press shouldnt minimize the menu. I *may* have been overreaching by including back, stop and refresh.

[2019-09-06 14:15] tarekziade opened #5156 "[Bug] duplicate task targets project.mobile.fenix.v2.nightly.latest"
We have the same  armeabi-v7a/geckoNightly/target.apk apk that's being built by two different tasks under project.mobile.fenix.v2.nightly.latest

one is building org.mozilla.fenix, the other org.mozilla.fenix.nightly

examples:

https://tools.taskcluster.net/groups/fM7OWhIpS6C1y-wKav4IiA/tasks/P5iIpV34Tl-7lyDKs72AFQ/details

vs

https://tools.taskcluster.net/groups/fM7OWhIpS6C1y-wKav4IiA/tasks/End

[2019-09-06 14:18] pocmo commented on #2551
Thank you, @sv-ohorvath! I'll look at those issues. :)

[2019-09-06 14:22] pocmo commented on #5151
Oh, I did this kind of purpose (since you can go back to the app via the notification) - but I see how other browsers (Chrome) will stop playback and remove the notification.

@topotropic Can you confirm that the desired UX behavior is to stop and remove the notification?

[2019-09-06 14:24] pocmo commented on #5151
Tentatively filed in AC: https://github.com/mozilla-mobile/android-components/issues/4335

[2019-09-06 15:01] #5156 closed

[2019-09-06 15:18] mcarare commented on #2570
@lime124 Just to clarify: When an item is selected, we want to hide **it's** menu or menus for **all** items?

[2019-09-06 16:05] sblatz commented on #4064
@colintheshots can we close this or put a qa needed label on it? :)

[2019-09-06 16:55] sblatz commented on #4155
@topotropic

This seems to be against the [material design standards for contextual menus](https://material.io/components/menus/#theming). And will require us to make a custom menu style. This type of menu is usually found only when a textfield is editable (and then this menu is displayed with "copy" and "paste" by default). Our browser toolbar is not editable when browsing, though, and thus would

[2019-09-06 17:02] sblatz commented on #1114
@vesta0 will we want telemetry for engaging with this feature?

[2019-09-06 17:13] topotropic commented on #2570
@mcarare please hide all 3-dot menus when in selection mode

[2019-09-06 17:34] colintheshots commented on #4064
We have good news here that confirms the performance gains right after the commit landed. I think we can close this safely.

![Screenshot from 2019-09-03 12-50-21](https://user-images.githubusercontent.com/626405/64448149-a307fd80-d0a2-11e9-8b12-19c49907418a.png)

[2019-09-06 17:34] #4064 closed

[2019-09-06 17:35] vesta0 commented on #255
@topotropic let's go ahead with just allow and block for now. I will create a separate issue to track the future work.

[2019-09-06 17:41] bifleming commented on #4729
@vesta0 Chris has asked for confirmation on the desired behavior for this.

[2019-09-06 17:43] vesta0 opened #5163 "Additional user options for blocking autoplay"
### User Story
As a user, I want to be able to disable autoplay for audio or both video and audio on my browser depending on whether on I am on wifi or mobile data, so I can save data and battery and have control over how I consume content.

### Acceptance Criteria
- I can choose to allow autoplay for video and audio on WiFi only
- I can choose to block audio autoplay only
- I can choose to block

[2019-09-06 17:46] liuche commented on #4458
Let's enable font inflation.

[2019-09-06 17:50] vesta0 commented on #1117
Thanks @topotropic just in case my question wasn't clear: the use case I mentioned above may raise some concern with privacy focused users. From a user experience perspective, I was wondering if you thought we were designing in accordance to a privacy centric user's expectation.

It sounds like you don't think that's an issue, and you are good with the media not being paused in both private browsi

[2019-09-06 17:58] vesta0 commented on #4149
@sblatz this does not require a toggle in settings, it should just be default behaviour.

Hiding the nav bar when browsing is already addressed in this ticket: #4383

[2019-09-06 18:08] cpeterso commented on #255
Adding `needs:gv` label because this Fenix issue is waiting for GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1577596, which is expected to be fixed in September in GV 71 Nightly. TBD whether we can uplift to GV 70 Beta.

[2019-09-06 18:14] sblatz commented on #4155
After a conversation with @topotropic I'm going to timebox working on this newer UI to ~1 hour to see how hard it is to do custom.

[2019-09-06 19:47] topotropic commented on #5151
Yes, if the app is killed please remove the notification and stop the audio

[2019-09-06 20:17] mikeGolf08 commented on #3863
The issue still persists but just for a few bookmark I do not get auto completion whereas for the same I get it on the normal Firefox Mobile Browser.

Nightly 190906 18:03 (Build #12491815)
package: 12.0.0, 65df8e8a0
lizard: 71.0a1-20190905094317

[2019-09-06 20:19] colintheshots commented on #599
After a lengthy investigation, I determined that the Android OS does not give us an effective means to present an initial loading window background that matches the user's non-default theme. Here's the doc I wrote up: https://docs.google.com/document/d/1OlnK4BgD8CwhFEbmr_20u0XLAbpUPsxcDPuO2jLTjFk/edit?usp=sharing

Based upon that doc, Stephen, Amy, Jeff, and I met and we decided that the best init

[2019-09-06 20:31] mikeGolf08 opened #5164 "[Bug] Private session notification discrepancies"
## Steps to reproduce

1. Open any website
2. Open a link in private tab
(**Case 1**) 3. Click on "Open" in the notification
(**Case 2**) 3. Click on "Delete and Open" in the notification

### Expected behavior

**Case 1** It opens the private session and shows the tab.
**Case 2** It stays on the website I am currently at

### Actual behavior

**Case 1** It does not open the private tab and stays

[2019-09-06 21:03] mcomella commented on #599
Thanks for the thorough write-up, Colin. I think we might be interpreting the core problem differently. From your analysis, it looks like you're concerned about the case that a user's phone theme is different from their Fenix theme and, since we can't predict the overridden preference, we have to display the device theme before we display the overridden theme:

In practice, for a user with a light

[2019-09-06 21:09] sblatz commented on #4155
Updated to have this custom view:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/64460679-e157e980-d0af-11e9-8931-0624f1c95a55.png">

[2019-09-06 21:19] sblatz commented on #1114
@topotropic are you able to link me to the invision or design file for this? I'd like to see the margins between some of the other views (close button and play button, etc.)

[2019-09-06 23:04] petzichen commented on #4833
I can confirm that.
I have granted the authorization. On my Xiaomi Mi 9T sometimes the pop-up camera (front) is opened and closed again after a page call from another app.

[2019-09-06 23:28] kbrosnan commented on #3580
This breaks the pair function on a couple devices I tried.

[code]

[2019-09-06 23:33] liuche commented on #4305
For now, we're going to use flags for new features that QA calls out as ones that will require more testing, when we go over the quarter sprint plans. This is something that we need to add to the Requirements section of the issue before it's worked on.

[2019-09-06 23:33] #4305 closed

[2019-09-07 05:12] Sdaswani opened #5167 "widget should search for local apps"
### Why/User Benefit/User Problem
The home screen widget is awesome but it only searches the web. It would benefit the user if it also surfaces local apps. Not doing so makes it harder to switch from the default Google widget.

### What/Requirements
The widget should also show results from your local apps.

### Acceptance Criteria (how do I know when I’m done?)
The widget will search and surface r

[2019-09-07 23:00] hildjj opened #5168 "Menu item or other ui to take users to Bugzilla so that they can create a report"
## Steps to reproduce
I would like to file a bug in Firefox Preview.

### Expected behavior
There is a button to click on in the UI that brings me here.

### Actual behavior
Asa had to give me a link to get here.

### Device information
N/A

* Android device: ?
* Fenix version: ?

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-13315)

[2019-09-08 00:29] vladikoff commented on #4610
@isabelrios do you have a branch or a diff of Fenix that you use to login to stage?

[2019-09-08 01:24] neekless opened #5169 "[Bug] Custom tab Open in Firefox Preview url bar bug"
## Steps to reproduce
1. Open a link in a custom tab. Settings > Privacy notice used in this example.
2. Tap 3 dots > Open in Firefox Preview.

### Expected behavior
The url bar should have the correct information.

### Actual behavior
There is no url in the url bar and the lock icon is wrong. Tapping the bar shows the correct url for editing but go back and the url is missing again. Even after na

[2019-09-08 11:24] thewhitetulip commented on #4988
duplicate of https://github.com/mozilla-mobile/fenix/issues/4239

[2019-09-08 11:24] #4988 closed

[2019-09-08 11:40] klint commented on #4155
Hi
Not sure it is the right place to ask but in addition to future "Paste & Go" , could there also be a "Paste & Go Private" if we are in normal mode, or "Paste & Go Not Private" if we are in private mode. which IMHO could be more useful than a simple Paste & Go. This could also be an option *after* the "Paste & Go" with 2 choices : go as is, or go to Private/Non Private.
Thanks

[2019-09-08 13:56] klint opened #5170 "Open current private page in non-private mode (and reverse) by long pressing the nav bar"
### Why/User Benefit/User Problem
As a user browsing in private mode, I want a quick and easy way to open the current page in normal mode, in order to retrieve all the context (session and cookies).
My preferred navigation mode is private mode, but sometimes I end up on a page where I want to go on browsing in a logged-in context (like an Amazon page, or a Gihub page ;) ).
As the normal mode has a

[2019-09-08 14:27] Djfe commented on #4155
@klint what would happen to your tab's history then?
Should it be deleted? or kept? or moved to private/non-private?

it's a cool idea but the behavior needs to be consistent.

[2019-09-08 15:10] klint commented on #4155
@Djfe: I'm continuing the discussion in feature request #5170 if you don't mind :)

[2019-09-08 15:20] klint commented on #5170
Responding here a question asked by @Djfe in #4155.
History wise, it would be the same as now when you long click on a link in a page in normal and choose to open it in a new tab in private mode: a brand new tab is opened in the other mode, with no history there. And of course the original page stays in the tab of the original mode.

Actually, this makes me notice that in private mode, there is no

[2019-09-08 16:37] robsmith11 commented on #3805
I think most users still prefer the navigation bar to be completely hidden, so if this thinner bar is used, it should be optional.

[2019-09-08 16:41] robsmith11 commented on #3651
Why not just get rid of the QAB if that helps implement a better nav bar?  The QAB functionality is redundant as it is.

[2019-09-08 16:45] cadeyrn commented on #3651
This is not true at all. Or how do you add bookmarks, open the reading mode or use the "open with app" feature? With the current implementation there is no other way to access these feature.

[2019-09-08 17:58] rubcap commented on #1487
@lime124  Can we expect the return of the Fennec home panels or something similar to have quick access to bookmarks, history and top sites? Any news on the bookmarks UX redesign effort? Thank you!

[2019-09-08 18:57] dvalter opened #5171 "[Bug] about: scheme is marked as insecure"
## Steps to reproduce
Navigate to about:config
### Expected behavior
"Secure connection" badge would show generic web (Fennec) or Firefox (Desktop) logo; Expanded info would be "It's a secure Firefox page"
### Actual behavior
"Secure connection" badge shows "Insecure connection" icon and text
### Device information

* Android device: aarch64; Android 8.1
* Fenix version: 69.0 (Google Play), 71.0a1

[2019-09-09 05:32] pashinskikh opened #5172 "Add Startpage.com as search provider"
It would be great to have Startpage as search provider - it's respect users privacy, but also provides accurate search results from Google.

[2019-09-09 06:09] andreicristianpetcu commented on #3651
QAB is a great place to put WebExtension actions

[2019-09-09 06:21] cadeyrn commented on #5172
Duplicate of #1437.

[2019-09-09 07:41] isabelrios commented on #4610
@vladikoff yes, all the work is in [this branch](https://github.com/isabelrios/fenix/tree/sync-integration-environment-test-history) in my fork.

[2019-09-09 09:05] rmisev commented on #4021
@ekager can You re-open https://github.com/mozilla-mobile/fenix/pull/4022 to solve this issue?

[2019-09-09 09:21] softvision-miralobontiu commented on #5030
@lime124 I was referring only to the text color.
Thanks!

[2019-09-09 10:02] AndiAJ commented on #5025
Hi @ekager , I've checked and the webpage is opened in Fenix.
On the other hand, **the link from the custom tab doesn't populate the URL bar from Fenix**.

I've used the latest Nightly Build #12520610 from 9/9 with the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Andriod 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)

►Video
![20190909_124326](https:

[2019-09-09 12:29] pocmo commented on #5151
Thanks! Nominated the AC issue for our triage to work on that in the next sprint.

[2019-09-09 13:11] abodea commented on #5033
Verified as fixed on the latest **Nightly** build from **9/9** using: **Samsung Galaxy S10+(Android 9), Samsung Galaxy S8+(Android 8), Samsung Galaxy S7(Android 7), OnePLus (Android 6), LG Nexus 4(Android 5).**

[2019-09-09 13:11] #5033 closed

[2019-09-09 13:41] AndiAJ commented on #373
@boek - I'll remove the **QA needed** label, please let us know when we can re-test. :)

[2019-09-09 13:47] jonalmeida commented on #4856
Sorry, closed this bug in error.

[2019-09-09 14:07] AndiAJ commented on #2609
Him **verified as fixed** on the latest Nightly Build #12520610 from 9/9 using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
► Video
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/51314259/64537717-0785bf80-d324-11e9-90d8-d0be5645330f.gif)

[2019-09-09 14:19] mcarare commented on #4855
After implementation of #2570 , the STR will not be possible anymore.

[2019-09-09 14:25] abodea commented on #1486
Verified as fixed in the latest Nightly build from 9/9 using: Samsung Galaxy S10+(Android 9).
The page was opened in a new tab every time(10 out of 10 tries).

[2019-09-09 14:31] AndiAJ commented on #4856
Hi, **verified as fixed** on the latest **Nightly Build #12520610 from 9/9** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20190909_172716](https://user-images.githubusercontent.com/51314259/64539631-7f091e00-d327-11e9-8063-25158da2ea46.gif)

[2019-09-09 14:31] #4856 closed

[2019-09-09 14:37] rocketsroger commented on #4838
Duplicate of:
https://github.com/mozilla-mobile/fenix/issues/5091

[2019-09-09 14:37] #4838 closed

[2019-09-09 14:39] pocmo commented on #5025
Thank you, @AndiAJ, this looks like an important bug - although I think unrelated to this bug fixed here. I can reproduce this in Reference Browser and assume that this is related to our `feature-toolbar` refactoring that has happened just recently. I filed the following AC issue to track that:
https://github.com/mozilla-mobile/android-components/issues/4348

[2019-09-09 14:41] AndiAJ opened #5174 "[Bug]Find in page makes the QAB buttons visible"
## Steps to reproduce
1. Navigate to any webpage
2. From the 3dot menu button tap on "Find in page"
3. Observe the QAB

### Expected behavior
QAB is fully closed the buttons aren't visible

### Actual behavior
QAB is crack open making the buttons partially visible

### Device information

* Android device:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (And

[2019-09-09 14:45] pocmo commented on #255
@cpeterso I think only the follow-up (#5163) will need that.

[2019-09-09 14:55] softvision-miralobontiu commented on #4805
@cpeterso it is also reproducible on the latest Firefox Nightly 68.2a1 (2019-09-08) from Google Play.
This issue also reproduces on Google Pixel 3 (Android 9).

[2019-09-09 14:56] rocketsroger commented on #1442
Confirmed on latest master build that this is fixed.

[2019-09-09 14:58] sv-ohorvath commented on #964
Verified on Nightly 9/9. Devices: Google Pixel 3 (Android 9), HTC Desire 820 (Android 6.0.1)

[2019-09-09 14:58] #964 closed

[2019-09-09 15:10] vesta0 commented on #5073
Hey @sblatz it was a must that I changed to a should after getting feedback from ENG managers. I'll update it.

[2019-09-09 15:15] kbrosnan commented on #5073
If we get addon support, https://addons.mozilla.org/en-US/firefox/addon/certainly-something/ is an option.

[2019-09-09 15:18] vesta0 commented on #1114
@sblatz I am guessing we can add telemetry for pause/play interaction? Anything else you recommend? I can file a telemetry issue for this + pause/play interaction on the notification.

[2019-09-09 15:18] csadilek commented on #5036
Fixed in https://github.com/mozilla-mobile/fenix/issues/5055

[2019-09-09 15:18] #5036 closed

[2019-09-09 16:02] jonalmeida opened #5175 "[Bug] FxA Sign in does not work with QR scanning"
## Steps to reproduce
1. Attempt to scan a QR code.
2. Click the approve button on both devices (desktop & fenix).

### Expected behavior
- A paired Fenix device.

### Actual behavior
- You see the pair screen again.
- You are not signed in.

### Device information

* Android device: Android 10 (Pixel 2)
* Fenix version: master (1b2e67b8)

### Crash log
[code]

[2019-09-09 16:14] kbrosnan commented on #5175
Dupe #3580

[2019-09-09 16:17] sblatz commented on #5169
I just encountered this as well. Agreed that this is a P1 as it has security risks.

[2019-09-09 16:39] ekager commented on #5025
Closing this bug because unrelated to #5169

[2019-09-09 16:39] #5025 closed

[2019-09-09 16:39] jonalmeida commented on #5175
Closing!

[2019-09-09 16:39] #5175 closed

[2019-09-09 16:40] ekager commented on #5169
This is in AC - see @pocmo 's [comment here](https://github.com/mozilla-mobile/fenix/issues/5025#issuecomment-529507738)

[2019-09-09 17:32] NotWoods commented on #5171
Kind of a duplicate of #5002

We'll add a third "default" state for about pages and loading pages. See mozilla-mobile/android-components#4156

[2019-09-09 17:32] #5171 closed

[2019-09-09 17:41] lime124 commented on #5030
please update to match. thanks!

[2019-09-09 18:06] jonalmeida commented on #5085
I left a UX request on the a-c ticket, but feel free to move the conversation here: https://github.com/mozilla-mobile/android-components/issues/4296#issuecomment-529595147

[2019-09-09 18:16] #5137 closed

[2019-09-09 18:21] #4763 closed

[2019-09-09 19:26] mozillamarcia opened #5177 "[Bug] Home screen shows "No Title" when Fenix is playing a video"
## Steps to reproduce
* Load Fenix and play a video from nfl.com.
* A speaker icon shows in the device status bar indicating media is playing
* Press the device power button to show the notification screen

### Expected behavior
* Something should show which indicates there is active media playing. Fennec, for example, displays a Firefox icon

### Actual behavior
* "No title" shows below the activ

[2019-09-09 19:48] dvalter commented on #5171
Does not seem to be a complete solution as it differs from both desktop and Fennec for no reason. As I've mentioned above, Fennec and Firefox Desktop uses the same text to highlight the fact that about: pages are secure belongs to Firefox

[2019-09-09 19:55] cadeyrn opened #5178 "[Bug] options for clearing user data are truncated"
### Steps to reproduce

open the new screen for clearing the user data

### Expected behavior

no truncated options

### Actual behavior

truncated options.

![Screenshot_20190909-215146](https://user-images.githubusercontent.com/1100614/64562089-78d96880-d34c-11e9-8a0b-b18b9afd832e.png)

(And maybe the checkboxes should be aligned with the back arrow?)

### Device information

* Android device: H

[2019-09-09 20:12] cadeyrn commented on #1442
While it's definitively better for the search engine icons (still not perfectly aligned but it looks better now) the misalignment of the settings icon is still noticeable in my opinion.

[2019-09-09 20:30] lime124 commented on #1442
@cadeyrn could you file a follow  up issue for the settings alignment? i find it odd that didn't get fixed along with the search icons, but that was the intent. there will have to do some investigation and figure out why it's not happening. thanks!

[2019-09-09 21:54] eeejay commented on #4805
@softvision-miralobontiu, can you please provide a URL and the specific steps you took? Did you explore by touch to the link? Did you swipe to it?

[2019-09-09 22:31] sblatz commented on #1114
@vesta0 that sounds sufficient to me!

[2019-09-09 22:43] birdie-github opened #5179 "Add an option to configure disk cache size"
### Why/User Benefit/User Problem

For security reasons it's often inadvisable to have a disk cache enabled since it leaves traces which can be easily sniffed out. It would be great to have an option to configure its size or disable it completely by setting disk cache size to 0.

If we had about:config it would be trivial to configure but #2778 is closed and there's no way to do that manually.

┆I

[2019-09-10 01:56] grigoryk commented on #4971
This is unblocked - a-c exposes a detailed `AuthType` API that helps here.

As I'm integrating webchannel work, I can land this telemetry as well. We can do more than what we had before.

e.g., currently I have:
[code]

[2019-09-10 02:20] npark-mozilla opened #5180 "[Bug] DefaultDeleteBrowsingDataControllerTest.kt unit test fails"
## Steps to reproduce
On master branch, run DefaultDeleteBrowsingDataControllerTest.kt unit test
### Expected behavior
test passes

### Actual behavior
test fails.  This is currently the only unit test failing

[code]

### Device information

* Android device: ?
* Fenix version: master

[2019-09-10 02:26] npark-mozilla commented on #5180
it seems like it's because following imports can't be referenced:
[code]

[2019-09-10 02:30] karlcow commented on #1486
In this instance it doesn't work.
https://github.com/webcompat/web-bugs/issues/39554

[2019-09-10 05:50] hawkinsw opened #5182 "Remove fretboard to improve startup performance"
`ExperimentsInternalAPI.initialize` and `FenixApplication.loadExperiments` are called from within the `FenixApplication.SetupApplication` function. `SetupApplication` takes 290ms and the two experiment-related functions take 45ms (approximately 15%).

There are also StrictMode violations that come from loading experiments on the main thread.

It would appear that we have regressed somehow from #16

[2019-09-10 06:08] softvision-miralobontiu commented on #4805
@eeejay I was on Wikipedia main page - English section - the article from yesterday.

[2019-09-10 06:27] hawkinsw opened #5183 "Initializing megazord in application start is slow"
`setupMegazord()` being called from `FenixApplication.setupApplication` blocks startup and is slow. `FenixApplication.setupApplication` takes 290ms and `setupMegazord` itself takes 43ms (14.8%)

Within `setupMegazord`, `RustHttpConfig.setClient` is _the_ slow function. I have worked with a-c in the past on this issue and I _think_ that they already have a solution -- we will just need to incorpora

[2019-09-10 06:49] hawkinsw opened #5184 "StrictMode violations (getting shared preferences on the main thread) from FenixOnboarding"
Initializing the `onboardingPrefs` member variable in `FenixOnboarding` calls `Context.getSharedPreferences` on the main thread which is (apparently) a StrictMode violation.

[2019-09-10 06:54] cpeterso commented on #255
In that case, I'll remove the `needs:gv` label from this issue.

[2019-09-10 08:03] mcarare commented on #4303
Tests were merged.

[2019-09-10 08:03] #4303 closed

[2019-09-10 08:13] stevenleeS0ht opened #5185 "Add DNS over HTTPS option for fenix browser."
### Why/User Benefit/User Problem

Protecting privacy.
Be consistent with Firefox for desktop.

### What/Requirements

add option for DNS over HTTPS (DoH).

### Acceptance Criteria (how do I know when I’m done?)

providing an option in system preference -> general. (Same as firefox for desktop).

[2019-09-10 08:19] cadeyrn commented on #5185
Duplicate of #4584.

[2019-09-10 08:34] snaggen opened #5186 "[Bug] Open in app link on page doesn't work"
I got a Microsoft Teams meeting link sent to me in Slack. When I click that link it opens a custom tab powered by Firefox Preview telling me to download teams or if I already have it "Open in app" (not sure exactly what it says in English since I have the Swedish text). However when I click on that link, nothing happens.
To be able to join the meeting I have to open the Slack link in the webkit ba

[2019-09-10 09:08] topotropic opened #5187 "[Bug] "Open in App" opens Chrome from Amazon.com"
## Steps to reproduce
Go to Amazon.com, pull up QAB, tap on "Open in App"

### Expected behavior
When Amazon app is installed, open in app; when app is not installed hide option to "Open in App"

### Actual behavior
Amazon.com opens in Chrome

### Device information

* Android device: ?
* Fenix version: ?

[2019-09-10 09:56] crabel opened #5188 "Add "Search for selected text" to context menu"
### Why/User Benefit/User Problem
It is a very common usecase for me to search for terms I find on webpages. Currently I have to select the text, copy it and paste it into the address bar or a search box.

I believe that it would be a really useful feature to be able to search directly.

### Acceptance Criteria (how do I know when I’m done?)
The user selects a text and the context menu shows a men

[2019-09-10 10:19] topotropic commented on #1114
@vesta0 can we figure out how many open tabs have audio on pause/play simultaneously with telemetry on pause/play interactions?

[2019-09-10 12:14] sv-ohorvath commented on #5075
Verified as fixed as well on Nightly 9/9.

[2019-09-10 12:14] #5075 closed

[2019-09-10 12:52] Dexterp37 opened #5189 "[Telemetry] Expired `search_counts` metric"
This is not a feature request.

We noticed that [a few metrics](https://github.com/mozilla-mobile/fenix/blob/16115f57d1decd8bd492d415fa53fe0af4ff72ab/app/metrics.yaml#L360-L408) have expired as of September the 1st. `search_count` is among them.

[2019-09-10 13:02] softvision-miralobontiu commented on #3702
Verified as fixed with the latest Nightly build 190909 (#12521817) with Motorola Moto G6 (Android 8), and Huawei P9 Lite (Android 6).

[2019-09-10 13:02] #3702 closed

[2019-09-10 13:56] elcste opened #5190 "Support about:reader?url= URLs (reader view pages saved in Firefox desktop)"
### Why/User Benefit/User Problem

Right now, if I open a page in Firefox desktop, enable reader view, bookmark the page, and then try to open this link in Fenix, I just get an "Invalid Address" error page since the link starts with about:reader?url=... (And since the underlying page URL is percent-encoded, it's hard to just remove the protocol part.)

### What/Requirements

about:reader?url= link

[2019-09-10 14:02] anotherus3r opened #5191 "Opens HTML-only desktop Gmail website [webcontent]"
## Site with issue and any steps to reproduce
- Gmail desktop website

1. Go to mail.google.com
2. Toggle the "Desktop site" switch in the "..." menu
3. It might open mobile Gmail again, so just retype mail.google.com in the address bar

### Expected behavior
Should open fully-featured desktop website, i.e. the same one that desktop Firefox opens.

### Actual behavior
Opens HTML-only desktop websi

[2019-09-10 14:32] csadilek commented on #5190
Thanks for filing!

This requires solutions to the following issues (and their dependencies):
https://github.com/mozilla-mobile/android-components/issues/2879
https://github.com/mozilla-mobile/android-components/issues/2985

[2019-09-10 15:23] colintheshots commented on #3106
This is behind a feature flag in Nightly for now.

[2019-09-10 15:45] Amejia481 commented on #3571
Fenix is already using the new Mozilla social list and additionally we align our defaults with Desktop https://github.com/mozilla-mobile/android-components/issues/4349

[2019-09-10 15:47] mcarare commented on #4239
@topotropic Could you please confirm what is the expected behaviour in this case?

[2019-09-10 15:50] andreicristianpetcu commented on #3106
@colintheshots which flag?

[2019-09-10 16:00] Amejia481 commented on #4783
The default policies on ac have been updated on `12.0.0` to be aligned with the mockups and what Desktop is using https://github.com/mozilla-mobile/android-components/issues/4349.

Now the cohorts should match as follow:

- **Cohort A:** (Standard on the mockups)

`    TrackingProtectionPolicy.recommended()`

- **Cohort B:** (Strict on the mockups)

`TrackingProtectionPolicy.strict()`

[2019-09-10 16:01] Amejia481 commented on #1749
The default policies on ac have been updated on `12.0.0` to be aligned with the mockups and what Desktop is using https://github.com/mozilla-mobile/android-components/issues/4349.

Now the cohorts should match as follow:

- **Cohort A:** (Standard on the mockups)

`    TrackingProtectionPolicy.recommended()`

- **Cohort B:** (Strict on the mockups)

`TrackingProtectionPolicy.strict()`

[2019-09-10 16:01] cadeyrn commented on #3106
https://github.com/mozilla-mobile/fenix/blob/2b9efccfca4ef23a48e19c7934955a0bff32a409/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt#L44

[2019-09-10 16:25] AaronMT opened #5192 "Add UI Test for "What's New" menu option"

[2019-09-10 16:53] rpappalax commented on #4933
I'm seeing the same issue

[2019-09-10 19:12] vesta0 commented on #1114
@topotropic that's interesting, I will look into that.

[2019-09-10 19:13] vesta0 opened #5197 "[Telemetry] Media controls"
#### Description & Product Manager / Data Scientist User Story
As a product owner, I want to know how often users are interacting with media controls in the browser.

#### Hypothesis
We believe this feature is useful to users, and successful when it is addressing user needs.

#### What questions will you answer with this data?
How often users interact with media controls?

#### Why does Mozilla ne

[2019-09-10 20:11] st3fan commented on #235
@liuche afaik the only thing we send for now is a count of crashes, a single number.

[2019-09-10 20:57] sblatz commented on #1114
After some discussion with @topotropic she's going to look a bit into different placement of the play/pause icon. The engineering effort for this is done, and it will take like an E1 to change the placement. That being said, depending on when we get a decision on that this may slip to (very early) next sprint

[2019-09-10 21:03] sblatz commented on #255
@vesta0 I'm moving this back to the feature backlog as it's no longer blocked. Please prioritize as necessary 😄

[2019-09-10 21:05] grigoryk opened #5198 "CannotUpdateRoot: Invalid place info: Cannot update the bookmark root Root"
From the stacktrace, it seems like we're trying to add a folder with Root as a parent.. (updating its children list). Not sure what else would trigger a root update otherwise.

https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6249053/

[code]

[2019-09-10 21:06] grigoryk commented on #5198
cc @colintheshots @thomcc

[2019-09-10 21:14] grigoryk opened #5199 "Failing megazord: ExceptionInInitializerError"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6242594/

[code]

[2019-09-10 21:14] grigoryk commented on #5199
cc @thomcc @eoger

[2019-09-10 21:18] orionlee opened #5200 "[Bug] Build Instruction in README is out-of-date"
The build instruction in `README` is out-of-date
- `./gradlew clean app:assembleArmDebug` - task `app:assembleArmDebug` no longer exists
- build variant instruction for Android Studio is similarly outdated
- it'd be nice to call out Android NDK is required, in addition to SDK

The following is a strawman changes to build instructions, with open issues marked with _OPEN_

## Build Instructions

Not

[2019-09-10 21:39] grigoryk opened #5201 "Browser behaviour when tapping on a homescreen icon multiple times"
## Steps to reproduce
Add a website to home screen. Tap on the home screen item multiple times.

### Expected behavior
Tapping on the home screen item opens the existing session (tab) for that item, if it exists, and creates a new tab otherwise.

### Actual behavior
A new tab is always created.

[2019-09-10 21:44] grigoryk commented on #5201
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6248916/ here we see a user OOMing with 55mb of session data. The current behaviour could definitely contribute to these kinds of crashes.

[2019-09-10 21:45] ekager commented on #5201
What does it mean to have an existing session (tab) for that item? If the user has navigated at all would that mean it's no longer the same tab?

[2019-09-10 21:48] grigoryk commented on #5201
That's right, yeah. I think that's a reasonable iterative improvement though. E.g. it probably won't work great for something like the angry orange website, but would work quite well for homescreened weather websites, for example.

[2019-09-10 21:49] bifleming commented on #3708
@vesta0 can we close this one?

[2019-09-10 21:57] jeanygong commented on #4425
@jonalmeida Is there some follow up or action you need from the Performance team on this issue or is this is something that will be addressed on the Fenix engineering side?

[2019-09-10 22:01] cpeterso commented on #4458
If Fenix will enable font inflation by default, GV should probably change its font inflation default to match. In the meantime, Fenix can enable font inflation now without waiting for GV to change.

I filed a new GV bug to match Fenix's new default: https://bugzilla.mozilla.org/show_bug.cgi?id=1580344

[2019-09-10 22:03] vesta0 commented on #4729
I just tested this with several sites. The behaviour in wikipedia is consistent across Fenix and Fennec. Many other sites (news sites, blogs, or sites opened in reader mode) do display the selection handlers in both Fennec and Fenix. I don't believe this is a bug.

On a different note, the responsiveness of selection handles in Fenix can be improved. I will file a separate bug for that.

[2019-09-10 22:03] #4729 closed

[2019-09-10 22:13] vesta0 commented on #2038
@cpeterso do we have a GV bug that corresponds to this issue? This is specifically about how long pressing to select a word inside some text fields (e.g. bing.com) takes a very long time and often appears to user as not working at all. It may fall under performance so I've tagged the performance team as well.

[2019-09-10 22:17] vesta0 opened #5204 "[Bug] Selection Handlers are low in responsiveness"
## Steps to reproduce
-Open a site that contains text
-Long press to select/highlight part of the text
-Try to move the selection handlers to expand or narrow down the selection

### Expected behavior
-Selection handlers are responsive

### Actual behavior
-Selection handlers are jumpy

### Device information

* Android device: Pixel 3
* Fenix version: Latest nightly

[2019-09-10 22:18] vesta0 commented on #3708
We should keep it open as a lower priority bug.

[2019-09-11 00:30] grigoryk opened #5205 "WebChannels follow-up: disable CWTS in FxA if asFeatureWebChannelsDisabled=true"
This is a follow-up to https://github.com/mozilla-mobile/fenix/pull/4931

To do this, we need https://github.com/mozilla/application-services/issues/1761 (and corresponding a-c changes).

[2019-09-11 02:06] Sdaswani opened #5206 "[Bug] white screen prior to loading website"
## Steps to reproduce
1. Set fenix as default
2. Click this link from another app https://www.theverge.com/2019/9/10/20860023/apple-ar-headset-starboard-garta-luck-franc-holokit

### Expected behavior
3. Fenix loads custom tab and starts drawing the page

### Actual behavior
4. Fenix loads custom tab but for 2-5 seconds shows this white screen
![Screenshot_20190910-190015_Firefox Preview](https://

[2019-09-11 02:37] kumarharsh commented on #4939
Sign in/ Sign-up with Facebook is not working in major websites like Quora and Glassdoor either. The Sign in with Facebook button cannot be interacted with. Is Fenix intentionally doing this?

[2019-09-11 04:36] usmanrafi commented on #4556
@sblatz if nobody is working on this, I'd like to pick it up.

[2019-09-11 06:52] siddhugolu opened #5207 "[Bug] Persistent notification for private mode"
## Steps to reproduce
Open a private tab.
Go to the notification bar and select the option for "DELETE AND OPEN"
Exit the browser.
Pull down the notification bar again. The Firefox Private bar is still there.

![bug](https://user-images.githubusercontent.com/9106868/64674584-c9f17580-d48e-11e9-9aa7-1b06d5a80bc1.png)

### Expected behavior
There shouldn't be any persistent notification for private

[2019-09-11 07:04] cadeyrn commented on #5207
I disagree. It's a great feature already known from other browsers like Firefox Focus and Chrome.

Switching to the Android home screen is not "exiting the app". You can use the Android recent apps view to really "exit" the app. If you use the recent apps screen the notification goes away.

The notification should go away if there are zero private tabs. And that's a bug in Firefox Preview 1.4 beau

[2019-09-11 07:54] sv-ohorvath commented on #5154
A gif of the issue:
![20190911_104749](https://user-images.githubusercontent.com/4037709/64678542-7711c100-d482-11e9-85d3-f94e8fdc44df.gif)

[2019-09-11 08:36] sv-ohorvath opened #5208 "[Bug] Opening a tab that was saved to a collection should restore the history as well"
## Steps to reproduce
This is a regression, the initial functionality was added in #3215.
Same STR.
### Expected behavior
When restoring a tab with history, you can navigate back/forward to previously visited pages.
### Actual behavior
Can't navigate back/forward in the restored tab from a collection.
### Device information

* Android device: Pixel (Android 10)
* Fenix version: RC 1.4.1, Nightly 9

[2019-09-11 08:42] mcarare commented on #4877
Expected result:
- Close tab when in home screen
- Keep tab when in browser screen

[2019-09-11 08:45] AndiAJ commented on #4997
Hi, just as an FYI I've bumped in this issue while testing **RC 1.4.1** on a Samsung Galaxy Tab A (Android 9).

[2019-09-11 09:13] AndiAJ commented on #5129
Reproducible on RC 1.4.1 in portrait mode using a Samsung Galaxy Tab A (Android 9)

[2019-09-11 09:53] pocmo commented on #1114
(Off-topic: We do not have any telemetry for play/pause from the notification. Do we need that? Please file and I'll add the needed hooks).

[2019-09-11 12:23] pocmo opened #5211 "Add branding for fenixBeta build type"
We do have different icons and names for the Nightly build type. We should do the same for the fenixBeta build type.

![Screenshot_2019-09-11 Dashboard - Firefox Preview Beta - Google Play Console](https://user-images.githubusercontent.com/89638/64696755-881cfb00-d49f-11e9-9d75-696bacd397f3.png)

^-- There's already a different logo used in the play store listing.

[2019-09-11 12:44] sv-ohorvath opened #5212 "[Bug] Android Q - White Save button on Add bookmark folder"
## Steps to reproduce
1. Go to Bookmarks
2. Tap the add folder button.
3. Observe the save button (top-right corner)
### Expected behavior
The button is visible.
### Actual behavior
The but is not visible due to its color (white)
### Device information

* Android device: Pixel (Android Q)
*Not reproducing on other Android versions.
* Fenix version: RC 1.4.1, Nightly 9/11

[2019-09-11 12:44] mcarare commented on #1197
@AmyYLee Should we increase the size of the toolbar in search mode? It was limited to 40dp according to https://github.com/mozilla-mobile/fenix/issues/2210. TY!

[2019-09-11 12:46] sv-ohorvath opened #5213 "[Bug] Black edit button on bookmarks multi-selection toolbar"
## Steps to reproduce
1. Go to bookmarks.
2. Long tap a bookmarked page.
3. Observe the edit button in the multi-selection toolbar.
### Expected behavior
The button is visible.
### Actual behavior
The button is not visible due to its color (black).
### Device information

Android device: Pixel (Android Q), Pixel 3 (Android 9), Sony Xperia Z5 Premium (Android 7.1.1)
Fenix version: RC 1.4.1, Nightly

[2019-09-11 12:55] sv-ohorvath commented on #5025
Verified as fixed on RC 1.4.1
Devices:
Samsung Galaxy J7(Android 6)
Pixel (Android Q)
Samsung Galaxy Tab A (Android 9)

[2019-09-11 13:08] AndiAJ commented on #4856
Hi, just as an FYI I've bumped in this issue while testing **RC 1.4.1** on a Samsung Galaxy Tab A (Android 9).

[2019-09-11 14:55] ekager commented on #5212
cc @NotWoods - must be a regression from #4749 but strange it's only happening on Q

[2019-09-11 15:05] boek opened #5214 "update telemetry expiration dates"

[2019-09-11 15:06] boek opened #5215 "Create tests to cover expired telemetry"
We want to catch telemetry expiring!

[2019-09-11 15:06] boek commented on #5214
Follow up with tests here: https://github.com/mozilla-mobile/fenix/issues/5215

[2019-09-11 15:22] jonalmeida commented on #4425
@hawkinsw mentioned that he wanted to look into the performance gains that would come making the prefetch async so I added the relevant labels on to the issue (maybe I got them wrong?).

The recommendations are from a conversation we were having while unblocking the Fenix team.

[2019-09-11 15:34] AaronMT opened #5217 "[Bug] GradleException – Cannot find a version of 'androidx.test:core' that satisfies the version constraints"
Master (4485b7f6475218149fdd0eb3f4a676849005f513) (geckoNightlyDebug)

On attempt to run UI tests:

```Caused by: org.gradle.internal.resolve.ModuleVersionResolveException: Could not resolve androidx.test:core:1.2.1-alpha02.```

[code]

[2019-09-11 15:35] AaronMT commented on #5217
(@rpappalax, @npark-mozilla) do you see this too?

[2019-09-11 15:41] #5192 closed

[2019-09-11 15:47] AaronMT commented on #5217
Possibly:

https://github.com/android/android-test/issues/294#issuecomment-506994394

[code]

_Originally posted by @cheskos in https://github.com/android/android-test/issues/294#issuecomment-506994394_

[2019-09-11 16:13] rpappalax commented on #5217
yep

[2019-09-11 16:21] mcomella opened #5218 "[Bug] Tracking protection is not working"
## Steps to reproduce
- Visit rottentomatoes.com

### Expected behavior
No banner ad

### Actual behavior
Banner ad

### Device information

* Android device: pixel 2
* Fenix version: Nightly 190910

[2019-09-11 16:50] cpeterso commented on #2038
@Lululalu - What Android device are you using? Is word selection also slow in non-preview Firefox for Android?

I'm not able to reproduce with Fenix Nightly 190908 or Firefox 68.1 on my Moto G5. Word selection seems as fast in Fenix and Firefox as in Chrome. I tested on google.com because bing.com opens a text input popup that interfered with word selection.

[2019-09-11 16:55] #5217 closed

[2019-09-11 17:10] sblatz commented on #1114
This is the updated design @topotropic and I have landed on for now:
<img width=350 src=https://user-images.githubusercontent.com/4400286/64719054-547ca980-d47c-11e9-9848-852e77b58a17.png>

[2019-09-11 17:13] neekless commented on #5207
Fixed in https://github.com/mozilla-mobile/fenix/commit/bb2a685ad9d632030dffe81d773facb2c6559fdb

[2019-09-11 17:44] sblatz commented on #4556
@usmanrafi I don't think anyone is working on this, so go ahead!

[2019-09-11 17:46] sblatz commented on #4971
Thanks @grigoryk! Let me know if you need anything 😄

[2019-09-11 18:36] nahuhh opened #5222 "[Bug] YouTube website not recognize for open in app"
## Steps to reproduce
- go to https://docs.google.com/spreadsheets/d/12-NAoBPPV_nNBqaY1vt7Gke8bthPYqnG0tMLeSDrIKI/htmlview
- scroll to the right where there are YouTube links
- click on a YouTube link
- slide open drawer where you find share, bookmark etc

### Expected behavior
Open in app should be there as well, and should work
### Actual behavior

On the final YouTube page, "Open in app" is not

[2019-09-11 18:59] grigoryk opened #5224 "Suspect handling of EXTRA_AUTH_CUSTOM_TAB in IntentReceiverActivity"
As part of `setIntentActivity` in IntentReceiverActivity, we look for an `EXTRA_AUTH_CUSTOM_TAB` and `EXTRA_SESSION` extras as an indicator that we should launch `AuthCustomTabActivity` (as opposed to `CustomTabActivity` if just `EXTRA_SESSION` is present).

`EXTRA_AUTH_CUSTOM_TAB` extra isn't anything special, and can be set by any other external application, allowing a third-party app to get Fen

[2019-09-11 18:59] grigoryk opened #5225 "Improve handling of EXTRA_AUTH_CUSTOM_TAB in IntentReceiverActivity"
As part of `setIntentActivity` in IntentReceiverActivity, we look for an `EXTRA_AUTH_CUSTOM_TAB` and `EXTRA_SESSION` extras as an indicator that we should launch `AuthCustomTabActivity` (as opposed to `CustomTabActivity` if just `EXTRA_SESSION` is present).

`EXTRA_AUTH_CUSTOM_TAB` extra isn't anything special, and can be set by any other external application, allowing a third-party app to get Fen

[2019-09-11 19:07] nahuhh opened #5226 "tap-hold "open in" context menu"
Related to #4575 and #3338

### Why/User Benefit/User Problem
- tap hold on this link: https://docs.google.com/spreadsheets/d/12-NAoBPPV_nNBqaY1vt7Gke8bthPYqnG0tMLeSDrIKI/htmlview
- view the context menu that appears.
- there is no "open in" option
*note* there should be an open-in option on _every _link_. Not only Google sheets

### What/Requirements
Would like to be able to tap-hold on link and

[2019-09-11 19:09] nahuhh commented on #5222
Give me a second. Those steps aren't reproducible

[2019-09-11 19:31] nahuhh opened #5227 "[Bug] Should not add tracking protection exception while in Private Mode"
## Steps to reproduce
1. Go to a website in private mode
2. Turn off tracking
3. Close private mode

### Expected behavior
Private tracking exception should not be stored in the browser settings
### Actual behavior
It is
### Device information

* Android device: BlackBerry KeyOne 8.1.0
* Fenix version: Nightly 190910 18:03 (Build #12531808)
📦: 12.0.0, 9fecd17d3
🦎: 71.0a1-20190909095540

[2019-09-11 19:38] topotropic commented on #561
@lime124 @vesta0 @liuche this is ready to be pulled into the next sprint if you want to, I updated the initial comment with the specs

[2019-09-11 19:41] cadeyrn opened #5228 "[Bug] visual issues with new tracking protection panel"
### Steps to reproduce

1. open a website
2. press the shield icon

### Expected behavior

no issues with tracking protection panel.

### Actual behavior

Panel appears in the middle of the screen with truncated content. After interacting the panel moves to the bottom and hides the address bar.

![Screenshot_20190911-213417](https://user-images.githubusercontent.com/1100614/64729129-cb498f00-d4dc-

[2019-09-11 19:44] cadeyrn opened #5229 "[Bug] new tracking protection panel can't be closed with back button"
### Steps to reproduce

1. open a website
2. press the shield icon
3. press the back button of your device

### Expected behavior

Tracking protection panel closes.

### Actual behavior

Tracking protection panel stays open. For comparison: The panel which appears after pressing the lock icon can be closed with the back button.

### Device information

* Android device: HTC U11 with Android 9.0
*

[2019-09-11 19:46] topotropic commented on #1117
Thanks for the clarification, @vesta!
I believe that this is a legit way to move forward for now and inspect and adapt  long-term

[2019-09-11 19:47] cadeyrn opened #5230 "[Bug] (regression) options for clearing user data are not display properly"
### Steps to reproduce

1. open the new screen for clearing the user data

### Expected behavior

looks good. ;-)

### Actual behavior

![Screenshot_20190911-213755](https://user-images.githubusercontent.com/1100614/64729562-ad305e80-d4dd-11e9-9e2f-d39eb620cd19.png)

### Device information

* Android device: HTC U11 with Android 9.0
* Fenix version: Master branch revision bafbea1512f36b7c8771bf865

[2019-09-11 19:50] cadeyrn opened #5231 "[Bug] behaviour of regular and private shortcut is not consistent"
### Steps to reproduce

1. add private browsing shortcut to home screen
2. press the regular shortcut and the private shortcut
3. compare

### Expected behavior

Same behaviour in both modes.

### Actual behavior

Regular shortcut: Fenix opens with the start screen.
Private shortcut: Fenix opens with the search engines opened.

### Device information

* Android device: HTC U11 with Android 9.0
* F

[2019-09-11 19:53] nahuhh commented on #5037
Trying to select the paragraph
From "when" to "sentence."

 ![20190911_154945](https://user-images.githubusercontent.com/50635951/64729857-0a132100-d4ac-11e9-823b-28200e639b52.gif)

[2019-09-11 19:53] cadeyrn opened #5232 "[Bug] private browsing shortcut changes state of default shortcut"
### Steps to reproduce

1. add private browsing shortcut to home screen
2. press the regular shortcut and make sure you are *not* in private mode
3. go back to the Android home screen and press the private browsing shortcut
4. go back to the Android home screen and press the regular shortcut

### Expected behavior

Fenix opens in regular mode. If the private browsing shortcut changes the state of

[2019-09-11 19:54] eoger commented on #4037
It's available by the way :)

[2019-09-11 19:54] topotropic commented on #3894
Ok, I updated https://github.com/mozilla-mobile/fenix/issues/1487 to reduce taps it takes to access bookmarks from home screen;  this could be pulled into the next sprint @lime124 @vesta0 @liuche

[2019-09-11 19:55] hawkinsw commented on #5020
The system is now generating nightly profiles and logs for 'startup to Home Activity' and 'startup to showing about:blank'. You can see the nightly output from these runs in the https://github.com/mozilla-mobile/fenix-nightly-perftest-results repository.

The next step is to take the nightly profiles and storing them in TC rather than in the repository.

[2019-09-11 19:59] mcomella commented on #599
I was speaking to @ brendandahl and he mentioned Gecko draws black on some platforms when it starts up (Android may or may not be one of them). One possible reason this issue is happening is:
- We display the default Android Activity entry animation (fade to white)
- Gecko is first to draw and draws black
- Our asynchronous fragment transaction to show the homescreen completes and draws over Gecko

[2019-09-11 20:03] hawkinsw commented on #4512
I am working with @JohanLorenzo on getting TC to run on the machine where I take nightly performance regression numbers (#5020 ). If/when we get TC running, we should be able to monitor for pushes to the code and run on-demand profiles on actual hardware and have the artifacts available publicly. Would that potentially "solve" this problem?

[2019-09-11 20:04] cadeyrn opened #5233 "remove "add private browsing shortcut" from settings if already on home screen"
I don't know if it's possible at all. But after adding a private browsing shortcut to the Android home screen there is no longer a need to have the "add private browsing shortcut" item in the settings. It's a item you use once and for all but it stays permanently visible on the first level of the settings.

[2019-09-11 20:07] acreskeyMoz commented on #5048
So I've disabled the Quick Action Sheet in code for the tests that I'm running.

But here's an idea: what if we disable it automatically for the `forPerformanceTest` build target?

[2019-09-11 20:08] cadeyrn opened #5234 "settings > search engine should be renamed"
If you open settings > search engine you can change your search engine - but also other settings: you can disable the address bar suggestions for clipboard, browsing history and bookmarks. None of these options has to do with search engines at all. The settings item should be renamed to better reflect that it's not only about search engines.

[2019-09-11 20:15] cadeyrn opened #5236 "[Bug] alignment issue search engines view"
follow-up from #1442.

As I said in #1142:

@lime124 said:

I attach a screenshot to show the current state:

![Screenshot_20190911-221036](https://user-images.githubusercontent.com/1100614/64731382-647aa480-d4e1-11e9-81d1-9b9bdaf364de.png)

Let me know what you think. Maybe it's good enough and it's only me. But my feeling is that the label of the search engine settings link is a few pixel too fa

[2019-09-11 21:19] opusforlife2 opened #5237 "Resend request confirmation dialogue has two "Resend" buttons - v1.4"
The right button works normally.

The left button can be tapped. The dialogue box disappears, but nothing happens.

[2019-09-11 21:32] sblatz commented on #5200
@colintheshots should this actually be in the done column?

[2019-09-11 21:44] vesta0 commented on #1749
Thank you @Amejia481

Our default in Fenix will be `TrackingProtectionPolicy.strict()`

That's the level of tracking protection we have in the app today. Users will have the choice to downgrade to `basic`.

Strings should be `strict (recommended)`

[2019-09-11 21:55] grigoryk commented on #5224
Github flaked out and created two identicatal issues. See #5225.

[2019-09-11 21:55] #5224 closed

[2019-09-11 22:11] vladikoff commented on #4610
@isabelrios this diff works for me off `master` branch:

[code]

I can login and sync

[2019-09-11 22:29] sblatz commented on #4306
I'm confused--why are we tracking a meta here in the sprint "in progress" column? 🤔

I thought only individual stories went through here @liuche

[2019-09-11 22:44] sblatz opened #5241 "Listen to favicon changed callback in payload"
Per @ekager's recommendation [here](https://github.com/mozilla-mobile/fenix/pull/5165#discussion_r323490330), let's listen to the favicon changed callback and update it partially with the payload.

[2019-09-11 22:48] sblatz opened #5242 "SelectableItemBackground does not work properly with play/pause button"
The play/pause button showing on tabs has a weird issue where the selectableItemBackground does not display over the favicon (it displays under it) even though the elevation is set on the play/pause button. It's possible this is an android library bug.

https://github.com/mozilla-mobile/fenix/pull/5165

![image](https://user-images.githubusercontent.com/4400286/64740880-9ffa7c00-d4ab-11e9-8ec8-dd0

[2019-09-11 23:05] IndefiniteBen commented on #4275
Is it possible to have a button in the custom share sheet that opens the native one? Or is that use case considered covered by long pressing a link and using "share link" on the pop-up?

[2019-09-11 23:06] ekager commented on #3700
This Setting is behind a feature flag for now

[2019-09-11 23:14] #5091 closed

[2019-09-11 23:16] jyeontaek opened #5243 "Releng for v2.1"
## Overview ##
Soft code freeze for a release is the *second Wednesday of the sprint*, and most of releng happens between *Wednesday and Friday*, String freeze is the *first Tuesday* of the sprint.

| Monday       | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|--------------|---------------------------|------------------------------|----------------|--

[2019-09-11 23:17] jyeontaek opened #5244 "Releng for v2.0"
## Overview ##
Soft code freeze for a release is the *second Wednesday of the sprint*, and most of releng happens between *Wednesday and Friday*, String freeze is the *first Tuesday* of the sprint.

| Monday       | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|--------------|---------------------------|------------------------------|----------------|--

[2019-09-11 23:18] jyeontaek commented on #5046
@vesta0 Hi Vesta, can we get the release notes for 2.0 next week?

[2019-09-11 23:55] jyeontaek commented on #4658
For QA: We just have #419 left to test.

[2019-09-12 01:45] ekager opened #5250 "[Bug] Toolbar Tracking Protection Icon looks strange in custom tabs"
![Screenshot_20190911-183536](https://user-images.githubusercontent.com/25442310/64747433-e0fe8a80-d4c3-11e9-9ed0-db4ba5aab36a.png)

## Steps to reproduce
Open page in custom tab from Gmail with ETP on

### Expected behavior
I'm actually not sure. Should we just show a static TP icon while in a custom tab with no animation? Probably?

### Actual behavior
Can't see TP icon depending on the app whic

[2019-09-12 02:11] Brandon-Davison commented on #5236
Could I pick this up? I'm looking for a good first issue to get myself involved in open source.

[2019-09-12 02:12] colintheshots commented on #599
Testing this requires reproducing the original problem in the first place. The above images and steps to reproduce were all about the home screen. Gecko is not visible on the home screen. This means I definitely need new steps to reproduce the bug before I can make any progress.

[2019-09-12 02:15] Brandon-Davison commented on #5188
Could I work on this?

[2019-09-12 02:17] Brandon-Davison commented on #5164
Could I take a look at this?

[2019-09-12 03:10] ekager commented on #5230
Should be fixed by #5247

[2019-09-12 03:11] ekager commented on #5230
I'm just going to keep #5178 open because it's a similar issue

[2019-09-12 03:11] #5230 closed

[2019-09-12 03:14] ekager commented on #5207
Yes this should be fixed in the next release. Closing as a dupe of #5075

[2019-09-12 03:14] #5207 closed

[2019-09-12 03:24] ekager commented on #5204
Dupe of #5037

[2019-09-12 03:24] #5204 closed

[2019-09-12 03:26] ekager commented on #5169
This should be fixed with the first build with 13.0.0-SNAPSHOT from AC

[2019-09-12 03:27] ekager commented on #5169
For QA - that build should be our next nightly build

[2019-09-12 03:30] ekager commented on #5037
Filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1580669

[2019-09-12 03:32] ekager commented on #5174
We could probably hide the QAB while the user is using FIP

[2019-09-12 03:46] ekager commented on #5152
We are adding these actions to long pressing the toolbar in #4155. Will those make your experience better? :)

[2019-09-12 03:46] ekager commented on #5147
CC @colintheshots could you help here?

[2019-09-12 03:49] ekager commented on #5170
We just added toolbar quick actions on long press in #4155 so we have the ability to add something like this now

[2019-09-12 03:52] ekager commented on #4852
Could we retest this?

[2019-09-12 04:06] ekager commented on #4863
Removing the delay seemed to have helped a bit, but I think the home screen is still a complex fragment that's fairly slow to startup and that's causing the small flash of Library

[2019-09-12 04:15] #5200 closed

[2019-09-12 04:17] ekager commented on #3569
@softvision-miralobontiu are you still seeing this on your device?

[2019-09-12 04:17] ekager commented on #3851
What do we think of this bug? Should we close it and reopen if we see similar bugs in the future?

[2019-09-12 04:18] ekager commented on #3642
We switched to the fat AARs so is this done?

[2019-09-12 04:26] ekager commented on #4205
At the time of filing, this specific bug about Lastpass was also reproducible on Chrome. Now it seems to work in Chrome, and on Firefox Preview Nightly for me but does not work on master. So maybe works in GV71? 🤔

Are you seeing similar behavior?

[2019-09-12 06:20] mcarare commented on #4863
I too think that. Maybe we should revisit this issue after the problems with the home fragment have been solved, and see if we still have issues with the transition.

[2019-09-12 06:33] cadeyrn commented on #4560
The custom tab toolbar in Firefox Preview is getting worse and worse. Now with the new shield icon there is almost no space left for the page title / URL.

Can that please be prioritized?

![Screenshot_20190912-082623](https://user-images.githubusercontent.com/1100614/64759531-a8989400-d537-11e9-9b4c-b2d291ffcfa5.png)

[2019-09-12 06:39] cadeyrn commented on #4863
Is there already an issue filed for improving the home screen fragment?

[2019-09-12 06:41] mcarare commented on #4863
I think https://github.com/mozilla-mobile/fenix/issues/4665

[2019-09-12 06:59] softvision-miralobontiu commented on #4852
Verified on the latest Nightly build 190910 (#12531817) with Sony Xperia Z5 Premium (Android 7.1.1), and OnePlus 5T (Android 9) and it is no longer reproducible.
I will close this issue.

[2019-09-12 06:59] #4852 closed

[2019-09-12 09:01] Nan-Nyika opened #5253 "Ability to input desired search engine/URL"
### Why/User Benefit/User Problem
A user should be able to input their desired search engine if not already listed in the Settings > Search Engine

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-09-12 09:22] AndiAJ opened #5254 "[Bug]Transition to PB isn't made after sharing a page from normal to private browsing"
## Steps to reproduce
1. Navigate to any webpage
2. From the QAB tap on Share
3. Select "Firefox Preview (Private)"![rsz_screenshot_20190912-104555_fireaaaaaaaaaaaaaaaaaaaaafox_preaaaaview](https://user-images.githubusercontent.com/51314259/64771328-74cd6680-d557-11e9-8c86-a3bdb45e3738.jpg)

### Expected behavior
After sharing the transition to Private Browsing should be made

### Actual behavior

[2019-09-12 11:57] sv-ohorvath opened #5256 "[Bug] The mic/camera indicators should be removed when a temporary permission is blocked"
## Steps to reproduce
1. Go to permission.site
2. Tap the camera / mic, allow it to run, but don't check "Don't ask again".
3. Observe the cam/mic indicator in the status bar.
4. Tap the cam/ mic button again. Select Deny this time.
5. Observe the cam/mic indicator in the status bar.
### Expected behavior
The cam/mic running indicator should be hidden when the permission is blocked, without refres

[2019-09-12 12:41] sv-ohorvath opened #5258 "[Bug] Send tab - reconnect actions: After you remove the account, redirect to the tab"
## Steps to reproduce
1. Connect with the same account on Fenix and on desktop.
2. Change the password on desktop.
3. Load a tab, open the Send & Share  overlay.
4. Tap the Reconnect to sync message.
5. Tap remove account.
### Expected behavior
Disconnects the account and returns to the tab.
### Actual behavior
Disconnects the account but stays on the same "reconnect to sync" view.
### Device info

[2019-09-12 16:33] grigoryk opened #5260 "Fennec migration: push subscriptions"
Either carry them over, or re-register anything pertinent. We're currently lacking WebPush support in Fenix, so that's a thorn we need to deal with somehow.

[2019-09-12 16:36] grigoryk opened #5262 "Fennec migration: telemetry settings"
Related to #4974, but splitting this out as a larger issue. On Fennec some of the Telemetry settings are opt-in, and on Fenix they are opt-out. Details TBD.

[2019-09-12 16:50] ekager opened #5263 "[Bug] Opening TP Settings from Custom Tab and then clicking learn more crashes app"
## Steps to reproduce
1. Open a custom tab
2. Click on TP icon
3. Click on Settings
4. Click on learn more

### Expected behavior
Can't get to settings from custom tab

### Actual behavior
App crashes

### Device information

* Android device: ?
* Fenix version: ?

[2019-09-12 18:32] sblatz opened #5270 "[Bug] Grey text on delete browsing data on quit pref"
<img width="492" alt="image" src="https://user-images.githubusercontent.com/4400286/64810833-fff72e00-d550-11e9-8c6f-f5caa4fe87a4.png">

[2019-09-12 20:23] colintheshots opened #5274 "[Bug] Fix broken LogTest unit tests"
## Steps to reproduce
Run LogTest unit tests in any release build

### Expected behavior
The tests succeed because they expect correct behavior.

### Actual behavior
The tests fail because they're expecting log entries from release builds.

[2019-09-12 20:48] sblatz opened #5277 "[Bug] Delete all browsing data text"
## Steps to reproduce
1. Open "delete browsing data" setting
2. Select some options but not all
3. Press "delete browsing data

### Expected behavior
1. Popup confirms you want to delete the **selected** data

### Actual behavior
1. Popup confirms you want to delete **all** of your browsing data

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/64819781-e6131680-

[2019-09-12 21:28] mikeGolf08 opened #5279 "[Bug] Deletion on quit renders app is not responding message"
## Steps to reproduce

//Make sure you have many bookmarks on your Firefox-Account

1. Complete reinstall of Fenix (Clear storage before uninstall app)
2. Launch Fenix
3. Sign-in for sync
4. Go to settings
5. Setup deletion of browsing data on quit
6. Verify that the sync has finished and there is a high number of browsing history (entries depend on number of bookmarks)
7. Open a website
8. Click

[2019-09-12 22:09] ekager opened #5281 "Improve ETP Panel Lists of Trackers, Align with Desktop"
Debug/Nightly currently has the new ETP panel with lists of trackers blocked behind a feature flag.

We will have better reporting of these lists (aligned with desktop) with
https://bugzilla.mozilla.org/show_bug.cgi?id=1580201

[2019-09-13 00:36] cpeterso opened #5285 "[Bug] Cold Startup time regression on 2019-09-06"
On either 2019-09-05 or 2019-09-06, Fenix's Cold Startup time (on Nimbledroid's Nexus 5 test devices) regressed from 1.5 to 2.63 seconds:

![image](https://user-images.githubusercontent.com/629193/64830095-cab80380-d583-11e9-8593-94784bfbf5e9.png)

https://health.graphics/android

Did Fenix update from GV 69 to GV 70 Beta at that time? We no longer have Cold Startup test results for GeckoView Exam

[2019-09-13 02:41] colintheshots opened #5287 "[Bug] Gmail Custom Tab gap appears instead of TP icon"
## Steps to reproduce
1. Open a custom tab from Gmail

### Expected behavior
The tracking protection icon should appear.

### Actual behavior
A big gap is visible where the tracking protection icon should be.

### Device information

* Android device: Pixel 3 XL
* Fenix version: Nightly 190912 11:48 (Build #12551154)
📦: 13.0.0, f5ab632eb
🦎: 71.0a1-20190910095613

![Screenshot_20190912-213516](http

[2019-09-13 05:05] gbil opened #5288 "media.autoplay.default value is reset[Bug]"
## Steps to reproduce
In about:config change the media.autoplay.default value to something other than 0

### Expected behavior
After restarting Firefox preview the value should stay as other changed about:config values do

### Actual behavior
The value is reset to 0 whenever the app is restarted

### Device information
Samsung s10e

* Android device: 9
* Fenix version: latest from play store

[2019-09-13 06:32] AndiAJ opened #5289 "[Bug]Shortcut search options flicker when populting the search bar"
## Steps to reproduce
1. Tap on the search bar
2. Select the Shortcuts button
3. Input in the search bar

### Expected behavior
No UI issues

### Actual behavior
The Shortcut suggestions are flickering

### Device information

* Android device: Samsung Galaxy Tab A (Android 9)
* Fenix version: 2.0.0-rc.2

### Notes
Seems to be a regresion off [#3622](https://github.com/mozilla-mobile/fenix/issues/

[2019-09-13 06:59] AndiAJ opened #5290 "[Bug] Media Notifications aren't displayed"
## Steps to reproduce
1. Navigate to Spotify and play a song
2. Lock the device screen
3. Press the power button an check the lockscreen

### Expected behavior
Media notification should be displayed

### Actual behavior
No media notification is displayed
### Device information

* Android device: Samsung Galaxy Tab A (android 9)
* Fenix version: 2.0.0-rc.2

[2019-09-13 07:00] neekless commented on #5236
I don't think this is limited to the search engine settings label. Looking at the layout bounds it seems like all of the labels are a couple pixels too low.

![Screenshot_20190913-145237](https://user-images.githubusercontent.com/22426822/64843197-fa065900-d5f3-11e9-930d-1efdb78af340.jpg)

[2019-09-13 07:14] Dexterp37 opened #5291 "[Telemetry] Change the docs to link telemetry docs from the used a-c components"
Fenix uses Android Components that might be Glean SDK compliant and sending telemetry (e.g. browser-sync, lib-crash, engine-gecko.*).

The main Fenix telemetry docs should be changed to reference the autogenerated docs from these components.

[2019-09-13 07:40] kamran-12 opened #5292 "[Bug] Cannot open local HTML files"
### Steps to reproduce
I installed Firefox Preview for Android and tried to open a locally saved HTML file.

### Expected behavior
I should be able to open HTML using Firefox Preview.

### Actual behavior
Firefox Preview for Android is not listed as a program that opens HTML files.

### Device information

* Android device: SM-G920F, Android 7.0
* Fenix version: 1.4.1

[2019-09-13 07:48] kamran-12 opened #5293 "[Bug] "Delete Private Tabs" problem"
### Steps to reproduce
Just open one or more private tabs and make sure "Delete Private Tabs" notification appears.

### Expected behavior
When I close the last private tab (leaving no open private tabs) notifications should go away.

### Actual behavior
That notification stays there when no private tabs left. It disappears only if I close Fenix from the open apps list.

### Device information

*

[2019-09-13 07:52] AndiAJ opened #5294 "[Bug]Android taskbar media notification detailts don't match with the one from the lock screen"
## Steps to reproduce
1. Navigate to Twitter.com
2. Play any video
3. Check the Android taskbar media notification details
4. Lock the screen of the device
5. Press the power button an check the lockscreen media notification

### Expected behavior
The details of the media notifications should match

### Actual behavior
Properly displayed media notification on the Android taskbar.
Missing media not

[2019-09-13 07:54] cadeyrn commented on #5292
Duplicate of #4049.

[2019-09-13 07:57] softvision-miralobontiu commented on #4684
It is no longer reproducible on RC 2.0.0-rc.2. Tested with Samsung Galaxy Tab S3 (Android 8), and OnePlus 5T (Android 9).

[2019-09-13 07:57] #4684 closed

[2019-09-13 08:18] AndiAJ commented on #5021
Hi, **verified as fixed** on Fenix **2.0.0-rc.2** using a Samsung Galaxy Tab A (Android 9).

[Logcat](https://github.com/mozilla-mobile/fenix/files/3609041/new.txt)
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/aj-130901)

[2019-09-13 08:18] #5021 closed

[2019-09-13 08:33] sv-ohorvath opened #5295 "[Bug] [a11y] Unable to tap the Undo button in snackbars"
## Steps to reproduce
1. Enable TalkBack.
2. Close a tab, or delete a bookmark, or other action that can be undone.
3. Try to tap undo.
### Expected behavior
The undo button is focused by TalkBack, users can double tap it.
### Actual behavior
The undo button is not focused by TalkBack, users can't tap it quickly enough.
### Device information

* Android device: Sony Xperia Z5 Premium (Android 7.1.

[2019-09-13 08:50] AndiAJ commented on #4908
Hi, **verified as fixed** on Fenix 2.0.0-rc.2 using a Samsung Galaxy Tab A (Android 9).
Sent tabs using the following cases:

1. From the QAB  - Ping **eba96ce1-b0c4-49af-82e0-3ff522955058** ✔️
2. From the Home screen open tabs view (multiple tabs)- Ping **2480f8c1-0320-4151-b589-c302441169e2** ✔️
3. From the page menu - Ping **c7b2cc6f-cf92-45d3-a49d-c714dc7bb718** ✔️
4. From History - Ping **cbf

[2019-09-13 08:50] #4908 closed

[2019-09-13 09:38] AndiAJ opened #5296 "[Bug]Fenix Homescreen icon long-press feature not working properly"
## Steps to reproduce
1. From the device home screen long tap on Firefox Preview icon
2. Tap on the "Open new tab" from the pop-up overlay
3. Tap on the "Open new private tab" from the pop-up overlay

### Expected behavior
By tapping on "Open new tab" a new tab or search session should be launched in normal browsing
By taping on "Open new private tab" a new private tab or private search session sh

[2019-09-13 10:00] AndiAJ commented on #4658
Hi, **verified as fixed** on Fenix 2.0.0-rc.2 using a Samsung Galaxy Tab A (Android 9).

**Ping - f37ef01e-49b4-4492-93bb-23c4a785a017**
✅ Tap on "Add private browsing shortcut" from settings

**Ping  - 02e2b339-10b6-4cbe-b78e-aa1f09226bc2**
✅ Tap on the previously created shortcut

**Ping - 077314b2-0fc8-42e3-b694-06a3cedbf4c3**
✅ A user pressed the garbage can icon on the private browsing home p

[2019-09-13 10:00] #4658 closed

[2019-09-13 10:06] kamran-12 commented on #5292
I am not sure about that but it is duplicate of #3864. So what should I do about that?

[2019-09-13 10:14] TitanNano commented on #5296
Since this has been filed I wanted to add that on my device with android 7.1.1 both options crash the launcher and Fenix doesn't open. Other apps obviously don't do that. I'm not sure if it's really related, but might be.

[2019-09-13 10:17] cadeyrn commented on #5292
#4049 is about opening local files. It's exactly what you asked for. In #4049 it was said that it's a WONTFIX. So #3864 should probably be closed as well because #4049 seems to be required for #3864 (the browser first has to support opening file:// URIs before the browser can be suggested as application for opening these files).

[2019-09-13 11:02] usmanrafi commented on #4556
@sblatz I've created a pull request regarding this issue. Please review.

[2019-09-13 11:11] LaurentiuApahideanSV opened #5298 "[Bug] The same page appears in the History section multiple times"
## Steps to reproduce
1. Open the same page multiple times;
2. Go to Your Library -> History.
### Expected behavior
The page that was opened multiple times should only show up once in the History section.
### Actual behavior
The same page appears in the History section multiple times.
### Device information

* Android device: Samsung galaxy S8+ (Android 8.0.0)
* Fenix version: 2.0.0-rc.2 9/12
![Sc

[2019-09-13 11:19] ted1117 opened #5299 "[Bug] Fenix doesn't render Korean bold font properly."
## Steps to reproduce
1. Enter any website that includes bold texts.
[Mozilla Korean forum](http://forums.mozilla.or.kr/viewtopic.php?p=49374#p49374)
### Expected behavior
render Korean bold font nicely.
### Actual behavior
Bold texts look pretty rough. It just makes normal font bold.
Top: Samsung Internet Beta
Bottom: Fenix
![Screenshot_20190913-200009](https://user-images.githubusercontent.com/2

[2019-09-13 11:41] alexandergitter commented on #5293
Same here. I found a good way to reproduce this issue is the following:
1. Open a private tab
2. Close all private tabs
3. Leave private mode by clicking on the icon in the top right corner
4. While Fenix is still open, pull down the notification drawer and click the Firefox "Delete Private Tabs" notification

- Redmi Note 4, Android 8.1 (LineageOS 15.1)
- Fenix version: 1.4.1

[2019-09-13 11:47] cadeyrn commented on #5293
Duplicate of #5075, already fixed in Fenix Nightly.

[2019-09-13 12:45] sv-ohorvath commented on #4155
Verified as fixed on build 2.0.0-rc2.

[2019-09-13 12:45] #4155 closed

[2019-09-13 12:46] sv-ohorvath commented on #1114
Verified as fixed on 2.0.0-rc2

[2019-09-13 12:58] sv-ohorvath opened #5301 "[Bug] Add to homescreen doesn't have a constant behavior on some devices"
## Steps to reproduce
1. Load different webpages and add them to the homescreen using the 3 dot menu>Add to homescreen option.
### Expected behavior
The name editor should pop-up and a shortcut should be placed on the homescreen with a default icon (the first letter of the name on a colored plate) or the website logo (if available).
### Actual behavior
The name editor doesn't always come up. When

[2019-09-13 13:03] Dunexus commented on #3727
With the addition of the tracking shield icon, the url is even shorter than before. It uses less than half the width of the screen.

Fennec vs Fenix on OnePlus 5T (the red lines represent 25% and 75% of total width)
![image](https://user-images.githubusercontent.com/13906248/64864265-05c73f00-d637-11e9-9ab8-27367f9f842b.png)
![image](https://user-images.githubusercontent.com/13906248/64864487-7ec6

[2019-09-13 13:18] softvision-miralobontiu commented on #5142
Verified as fixed on RC 2.0.0-rc.2 with Samsung Galaxy Tab S3 (Android 8), and OnePlus 5T (Android 9).

[2019-09-13 13:18] #5142 closed

[2019-09-13 13:19] sv-ohorvath commented on #5095
Verified as fixed on 2.0.0-rc2.

[2019-09-13 13:19] #5095 closed

[2019-09-13 13:21] softvision-miralobontiu commented on #3574
Still reproducible with RC 2.0.0-rc.2 with Samsung Galaxy Tab S3 (Android 8).

[2019-09-13 13:21] nahuhh opened #5302 "new tracking menu improvements"
### Why/User Benefit/User Problem
The shield and padlock icons are take up too much space.

## What/Requirements
With the new etc controls came changes to the address bar.
- Etp was previously combined with the padlock menu, now itis separated. I like having separate icons but I think having 2 menus is a bit much.

Would work well imo to have the "🔐 secure connection" shown in the same menu as the

[2019-09-13 13:31] sv-ohorvath commented on #5178
This is only fixed in Nightly 9/13. The new options are not yet visible in 2.0.0-rc2
Devices verified: Pixel (Android 9), Nokia 6 (Android 7.1.1)

[2019-09-13 13:31] #5178 closed

[2019-09-13 13:35] nahuhh commented on #5226
Not sure why title was changed but this has nothing to do with Google sheets (or any specific website)

The request is to add "open in" to the menu to any and every link you tap-hold on. (Example from another browser is in the gif on the op)

[2019-09-13 13:35] softvision-miralobontiu commented on #4193
Verified as fixed on RC 2.0.0-rc.2 with Samsung Galaxy Tab S3 (Android 8), and OnePlus 5T (Android 9).

[2019-09-13 13:35] #4193 closed

[2019-09-13 13:41] LaurentiuApahideanSV opened #5303 "[Bug] The 'What's New' and 'Add private browsing shortcut' buttons are not localized"
## Steps to reproduce
1. Change the language of the device to any supported language except English;
2. Press the 3 dots button in order to bring up the Main Menu;
3. Go to the Settings section.
### Expected behavior
The 'What's New' and 'Add private browsing shortcut' buttons should be translated in the selected language.
### Actual behavior
The 'What's New' and 'Add private browsing shortcut' bu

[2019-09-13 13:42] nahuhh commented on #5298
Confirmed on Nightly 190912 20:44 (Build #12552054)
📦: 13.0.0, ccf305cea
🦎: 71.0a1-20190910095613

[2019-09-13 14:05] vesta0 commented on #5046
We already have them: https://support.mozilla.org/en-US/kb/whats-new-firefox-preview?as=u&utm_source=inproduct

:)

[2019-09-13 14:21] vesta0 commented on #3894
Yes we can look at the 2 remaining items that are related to user education in Q4.

- I know how to bookmark a page.
- I understand the distinction between bookmarks and collections.

[2019-09-13 14:25] jpfaller commented on #5277
This is the string we'd aligned to in the Invision

<img width="243" alt="Screen Shot 2019-09-13 at 9 24 30 AM" src="https://user-images.githubusercontent.com/50755458/64870163-63906280-d608-11e9-84c5-ad9f88dc8f45.png">

[2019-09-13 14:39] Amejia481 commented on #5302
Related https://github.com/mozilla-mobile/fenix/issues/4560

[2019-09-13 14:41] Amejia481 commented on #3727
Related https://github.com/mozilla-mobile/fenix/issues/4560

[2019-09-13 14:57] nahuhh commented on #3727
Posted #5302

[2019-09-13 15:05] buttercookie42 commented on #3727
... and we don't even support webextension page actions yet, which would require space in the URL bar, too.

[2019-09-13 15:34] dholbert opened #5304 "[Bug] Shield info box is mis-positioned (covers up the shield)"
## Steps to reproduce
1. Visit some site that triggers tracking protection, e.g. a https://www.nytimes.com/ article in my case.
2. Observe the info-box that appears (probably just the first time?) to tell you about the shield icon colors.

### Expected behavior
The box should not cover the shield. Its arrow should be pointing at the shield icon.

### Actual behavior
The box/arrow cover up the shie

[2019-09-13 15:37] dholbert commented on #5304
Here's a screenshot. The info-box is at the bottom left (and so is the shield, though you can't see it) because it's covered up, per this bug).
![screenshot](https://user-images.githubusercontent.com/426803/64875316-b0bd0600-d601-11e9-9281-4d6a9050c9b9.png)

[2019-09-13 15:40] dholbert commented on #5304
CC @ekager who I think has been working on fenix ETP stuff.

[2019-09-13 15:59] rpappalax opened #5305 "Pin down flank.jar to stable version in Dockerfile"
Per the recommendation of the flank team we always download the latest flank.jar to get bug fixes, etc.  The most recent flank version v7.0.2 has a breaking change so, going forward, we'd like pin down the version instead.

@pocmo is there a place we can specify a version number outside the Dockerfile (and pass that in as an env var) that way we don't have to push a new Docker image, should we wis

[2019-09-13 16:02] colintheshots commented on #2754
@topotropic
1. How should this appear if I'm sharing a collection of series of tabs instead of a single tab?
2. What if I'm sharing a site from disk (bookmarks, history, collections, etc.) that I don't have a thumbnail handy for? It seems really inefficient to load the entire page only to present UI for sharing. Should we use some kind of placeholder?

[2019-09-13 16:03] pocmo commented on #5305
Maybe we could add this as a parameter that we pass to the script?

https://github.com/mozilla-mobile/fenix/blob/7d023fefc9cabd19ef952adb9afa255338e6c593/automation/taskcluster/lib/tasks.py#L185

In this case I think its Firebase that changed and our flank version cannot handle that change.

[2019-09-13 16:30] davehunt opened #5306 "Run raptor performance tests against Fenix beta"
### Why/User Benefit/User Problem
We're running raptor performance tests against the Fenix nightly build, which is now using geckoview nightly. This helps to identify performance issues and to confirm performance improvements soon after they are introduced. In addition to this, we want to be able to run performance tests against the upcoming release of Fenix, to be used as a comparison point, and

[2019-09-13 16:30] davehunt commented on #5306
Tests for beta and nightly should run once a day, as the nightly tests do currently.

[2019-09-13 16:34] mcomella opened #5307 "[Bug] Scrolling on Twitch.tv's game page is unusable (perf)"
## Steps to reproduce
- Visit twitch.tv
- Select a game
- Scroll the page

### Expected behavior
Page scrolls smoothly

### Actual behavior
Page scrolls choppily at first. After a while, if you make a fling scroll gesture, the page will fling choppily for a very long time.

### Device information
* Android device: Pixel 2
* Fenix version: Nightly 190912

I was unable to reproduce in desktop Nightl

[2019-09-13 16:38] mitchhentges commented on #5306
Thanks for creating this ticket!
To confirm, _every_ test that currently runs for `geckoNightly` should run for `geckoBeta`? So we should have twice the raptor tasks, correct?

[2019-09-13 16:39] sblatz commented on #5296
@jyeontaek may want to look at this :)

[2019-09-13 16:42] mcomella opened #5308 "[Bug] Cannot access search engine selection when clicking URL bar from tab"
## Steps to reproduce
- Open a tab
- Click URL bar

### Expected behavior
Search engine selection is available, like if you clicked url bar from homescreen

### Actual behavior
Search engine selection is not available. Due to #5018, search engine selection is inaccessible from this screen

### Device information

* Android device: Pixel 2
* Fenix version: Nightly 190912

[2019-09-13 16:56] mcomella commented on #599
I have reproduced it on the latest Nightly 190912 and the STR is the same:
- Swipe close Fenix
- Open Fenix

### Expected
Smooth transition as Fenix is opened

### Actual
The launcher fades to white, fades to black, and fades into the homescreen. If you open the original video in QuickTime and use the right arrow to move frame by frame, you'll notice right at you get to the 0:02 duration of the vi

[2019-09-13 17:06] sblatz commented on #2897
@sv-ohorvath Does this have bugs? Confused why the `qa-needed` label was removed 😅

[2019-09-13 17:06] liuche commented on #1749
QA please test:
-I am protected from 3rd party ad and analytics tracking cookies, as well as cryptomining and fingerprinting trackers by default.
-I can go in my settings and change my preferred level of tracker protection (standard/strict)
-My default setting is strict (Here is the list of pros/cons that went into this decision)

[2019-09-13 17:07] liuche commented on #3901
QA Please test:

    I can see that my browser has blocked trackers
    I can clearly notice/find TP toggle and disable/enable it

[2019-09-13 17:08] liuche commented on #4246
Metas will follow the last bug through the sprint board.

[2019-09-13 17:10] liuche commented on #373
@boek will test today so we don't need to add points for this sprint.

[2019-09-13 17:14] liuche commented on #4390
@jyeontaek will add newly filed issues to this meta. They will be fixed today so no need to count for this sprint.

[2019-09-13 17:16] liuche commented on #2754
Will try to get UX feedback by first day of sprint.

[2019-09-13 17:21] vesta0 opened #5312 "[Telemetry] Tracking Protection"
## Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know how users interact with tracking protection settings

#### Hypothesis
- We believe this feature is useful to users so they have the choice and freedom of deciding how much they want to be protected.

#### What probes (suggested, if applicable)
- User changing default `strict` to `basic` or `off` on th

[2019-09-13 17:25] liuche commented on #5046
Fenix will automatically go to the What's New link - the notification dot should be triggered by the new version bump.

[2019-09-13 17:25] Sdaswani opened #5313 "[Bug] Firefox Preview is consuming send tabs sent to Fire"
## Steps to reproduce
1. Install Fenix and log into sync
2. Install firefox beta and log into sync
3. Send a tab to the firefox beta from another firefox

### Expected behavior
Firefox beta gets the tab

### Actual behavior
Firefox preview gets the tab

### Device information

* Android device: note 10
* Fenix version: any

[2019-09-13 17:26] liuche commented on #5046
Sumo link is here, and is in-app, so closing this bug.

[2019-09-13 17:27] lime124 commented on #5085
sorry dropped the ball on this one. @apbitner can you take a look?

[2019-09-13 17:27] rpappalax commented on #5305
The firebase team accidentally rolled out some breaking changes to physical devices (which they are in the process of rolling back atm).  Closing this issue.

[2019-09-13 17:27] #5305 closed

[2019-09-13 17:34] liuche commented on #4716
If we need to add this new "How to turn off data collection" item to settings at the same level as "Your Rights" in settings, we'll need:
* new string
* icon (potentially)

 @jpfaller can you take a look here, and let us know if we need an icon? or make a suggestion for what this would look like.

The updated pages will not need any new eng work.

[2019-09-13 17:35] sblatz commented on #4716
<img width="267" alt="image" src="https://user-images.githubusercontent.com/4400286/64882549-3648b200-d612-11e9-831c-0af35ee2a4ec.png">

We may just want to add it here right under "privacy notice"

[2019-09-13 17:41] mcomella commented on #599
Using the emulator (so there might be differences), I added breakpoints to bisect: the issue appears to happen after `HomeFragment.onCreateView` but before `HomeFragment.onStart`. I'm surprised by that because I didn't think the Fragment start-up would yield the UI thread (to allow the animation) until `onResume` completes.

[2019-09-13 17:42] liuche commented on #2271
Let's wait until 9/30 when @AmyYLee comes back, to clarify what Filter* states are.

[2019-09-13 17:44] liuche commented on #1298
This is for putting the LeanPlum marketing campaignId into Glean. @liuche will check on this.

[2019-09-13 17:50] liuche commented on #561
This is a lot of changes on the eng side, with a lot of areas for behavioral edge cases.
We'll also need to update UI tests.

Should we have a spike to investigate the risks/issues/sizing.

[2019-09-13 17:52] sblatz opened #5314 "[SPIKE] Investigate moving home screen 3 dot menu to bottom"
Criteria:
- Evaluate risks (broken UI tests, etc.)
- Do a design review
- Estimate size of the ticket

[2019-09-13 18:08] mcomella commented on #599
I added listeners for some of HomeActivity's lifecycle and some of its fragment's lifecycles:
[code]

That makes me think perhaps `MainActivity` or `NavHostFragment` is adding an animation that gets to run when they yield the main thread after `onResume`.

[2019-09-13 18:13] sblatz commented on #5314
After further conversation with @boek & @liuche we're just going to move ahead with the original ticket :)

[2019-09-13 18:13] #5314 closed

[2019-09-13 18:17] jpfaller commented on #1749
Chasing down a couple answers from legal but I'll have the strings here soon.

[2019-09-13 18:29] vesta0 opened #5315 "[Meta] WebExtension Support"
We want to bring WebExtensions support to Fenix and provide our users with the choice to customize their browsing experience.

Follow our progress here on the WebExtensions project Board: https://github.com/orgs/mozilla-mobile/projects/44#card-26664450

[2019-09-13 18:40] mcomella commented on #599
I don't have time to continue debugging this.

[2019-09-13 19:15] dholbert opened #5316 "[Bug] Fenix shows a broken-lock icon while HTTPS websites are loading (giving the mistaken impression of security issues)"
## Steps to reproduce
 1. (optional) Be on a slow cell connection -- I think that helps make this issue visible for longer.
 2. Open a new tab, and type e.g. "https://hg.mozilla.org" into the URL bar (or any secure URL) and hit enter.
 3. Watch the location bar as the site loads.

### Expected behavior
No broken-lock icon should display.

### Actual behavior
For a noticeable amount of time (less t

[2019-09-13 19:20] cadeyrn commented on #5316
Duplicate of #5002 where @NotWoods said:

[2019-09-13 19:21] dholbert commented on #5316
Thanks!

[2019-09-13 19:40] #4967 closed

[2019-09-13 19:51] colintheshots opened #5318 "[Bug] Crash: RemoteServiceException Couldn't expand RemoteViews for StatusBarNotification"
## Steps to reproduce
The exact steps are unknown, but it appears to only happen with the search widget on Android 5.x devices, mostly from Huawei.

https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/6241350/

### Expected behavior
The search widget should not crash.

### Actual behavior
The search widget crashes.

### Device information

* Android device: Huawei Android 5, Lollipop

[2019-09-13 20:34] #5316 closed

[2019-09-13 20:41] liuche commented on #4458
hey @ekager can you make sure to add labels and move things to the right column in the future? I realized I was moving this around when I didn't need to.

[2019-09-13 20:57] colintheshots commented on #5318
It almost seems like Huawei and other Chinese manufacturers don't support the full set of views in RemoteViews in their old smartphones.

[2019-09-13 22:05] ekager opened #5323 "[Bug] No user feedback in delete and quit when data is deleting"
## Steps to reproduce
1. Have a lot of history
2. Turn on delete and quit
3. Quit app from menu

### Expected behavior
Some sort of feedback that the data is being deleted before the app quits

### Actual behavior
No user feedback, looks like nothing is happening

### Device information

* Android device: ?
* Fenix version: Nightly/Debug have this feature

[2019-09-13 22:27] grigoryk commented on #2157
Pre-req: https://github.com/mozilla-mobile/fenix/pull/4931

[2019-09-13 22:41] Lululalu opened #5325 "[Bug] in-app drop down menus aren't closed automatically after a new page is loaded."
## Steps to reproduce
Go to: http://datomatic.no-intro.org
Touch the console menu at the top of the page
Choose any option
Touch the menu again, before Fenix finishes loading the new page

### Expected behavior
Once the new page is loaded it is display without any menu over it

### Actual behavior
The menu remains over the newly loaded page. Touching any option just closes the menu without taking

[2019-09-13 22:41] Lululalu opened #5326 "[Bug] PromptDialogFragments aren't closed automatically after a new page is loaded."
## Steps to reproduce
Go to: http://datomatic.no-intro.org
Touch the "Nintendo - Nintendo DS" spinner at the top of the page
Choose any option
Touch the spinner again, before Fenix finishes loading the new page

### Expected behavior
When the URL changes, the dialog is dismissed

### Actual behavior
The dialog remains even after the new URL has loaded. Selecting any option closes the menu without

[2019-09-13 22:42] #5325 closed

[2019-09-14 00:35] #5050 closed

[2019-09-14 11:16] kamran-12 opened #5330 "[Bug] "Share" problem on in-app tabs"
### Steps to reproduce
Open links in different apps using in-app Fenix tab. I did this using Telegram, Feedly, and Reddit. When you opened the link, press the 3-dot button to make sure it is "Powered by Firefox Preview". If something else is used, go to settings, clear that app's defaults and repeat the process.

### Expected behavior
It should have a normal-looking Share button outside the 3-dot

[2019-09-14 13:35] klint commented on #5232
I agree with this. It makes the private shortcut quite hard to use as there is no easy way to go back to non-private mode after using the private shortcut.

[2019-09-14 14:37] neekless commented on #3106
Will we eventually get even finer granularity i.e. Delete per site/domain?

[2019-09-14 15:25] nahuhh opened #5331 "workflow for back button on new tabs"
### Why/User Benefit/User Problem
1. Tap a link that opens in a new tab
2. After the page loads, press the back button
3. The "tabs" page is shown, with the current tab selcted
4. Press back again
5. The browser is closed*
6. Reopen the browser
7. The tab pageis shown, scrolled to the top*
8. Scroll down and the "current" tab still selected

 ### What/Requirements
5. Back should cycle back to the

[2019-09-14 15:28] nahuhh commented on #5331
Related #2484

[2019-09-14 18:16] nahuhh opened #5334 "[Feature Request] Add private mode for custom tabs"
### Why/User Benefit/User Problem
Right now custom tabs always open in normal mode. This means we always record history for custom tab sessions. We should add a preference to always open custom tabs in private mode.

### What/Requirements
We can open a custom tab in private mode

### Acceptance Criteria (how do I know when I’m done?)
- Custom tab can be opened in private mode
- User knows whether

[2019-09-14 18:21] nahuhh commented on #5334
Not sure if I'm using the term "custom tab" properly.
Feel free to correct me
Thanks

[2019-09-14 18:30] ekager commented on #5330
I think the not working menu item is a dupe of #4997 that was fixed by #5029 and should be in the next release.

The large toolbar item needs investigation. Could you please give me more STR on how to get to this state? I don't use Feedly and I'm not sure how to trigger a custom tab there. :)

[2019-09-14 18:34] nahuhh commented on #4155
Paste and paste & go are only available when the clipboard contains a url

It should work regardless. If it is not a valid url, it should perform a search.

[2019-09-14 18:40] ekager commented on #5326
So to clarify you're talking about a menu that exists in the web content and not in the Fenix UI?

[2019-09-14 18:41] ekager commented on #3700
Moved it to the next milestone!

[2019-09-14 18:42] ekager commented on #3700
This discussion is out of scope for this ticket and is being discussed here #2768

[2019-09-14 18:45] nahuhh commented on #5152
@ekager
#4155 is now closed and it looks like that implementation only works when the url bar is at the bottom (ie, doesn't work on the url input page in my mockup)

So yes, while #4155 was a nice addition, I think this is an even more efficient workflow (with the buttons right above the keyboard)

If adding, note that "copy" should hidden in instances where the url bar is empty (specifically "tab

[2019-09-14 18:59] nahuhh commented on #5330
Share button on custom tab opened from Reddit confirmed working  on
Nightly 190914 06:02 (Build #12570610)
📦: 13.0.0, 1f55c03be
🦎: 71.0a1-20190913092859
![20190914_145540](https://user-images.githubusercontent.com/50635951/64912640-3921d080-d700-11e9-9883-a34623b26d09.gif)

[2019-09-14 19:07] nahuhh commented on #5222
The issue seems to be that somewhere during the redirects, fenix "open in app" feature failed to notice the change in url, which is why Iasasume it is stil trying to open the previous page in Google sheets. Ie, it seems that itis reading the old url from memory, instead of the current url on demand

I think this could be fixed by changing it to read the url on demand.
(I also think the "open in ap

[2019-09-15 15:35] nahuhh commented on #5326
Pretty sure this is what they are talking about
1. Tap on a drop down box and make selection
2. Tap on a drop down box while the page is loading
3. Page finishes loading and box is still open
4. Selecting in that box does nothing

I'm assuming the op the asking for the box to close once the new page loads

[2019-09-15 15:52] nahuhh opened #5338 "[Bug] inconsistent touch areas on "delete browsing data on quit" screen"
## Steps to reproduce
1. Go to Menu > Settings > Delete Browsing Data on quit
2. Tap on an item and view the touch area
![20190915_115030](https://user-images.githubusercontent.com/50635951/64924133-1f8b9200-d7af-11e9-8cda-74398d4d4afd.gif)

### Expected behavior
Touch area should continue as far as the on off toggle (span the width of the screen) for all items
### Actual behavior
Touch area spans

[2019-09-15 16:04] nahuhh opened #5339 "[Bug] ui parity for delete browsing data screens"
## Steps to reproduce
Go to:
Menu > Settings > delete browsing data [DBD]
And
Menu > Settings > delete browsing data on quit [DBDOQ]

### Expected behavior
- Consistency between available information and element sizes
- DBDOQ screen shows the same quantity of information as the DBD screen (number of items to be erased)
- DBD screen appearance follow that of the (newer, better looking) DBDOQ screen

[2019-09-15 16:15] nahuhh opened #5340 "[Bug] menu placement of save to collection"
## Steps to reproduce
By default, it is below the "report site issue" button. Weird placement for library management
Now, if you enable "delete browsing data on quit" it is between "report site issue" and "quit"

### Expected behavior
Should be in a better place.
I think between "library" and "desktop site" might be a place to think about moving it to

### Actual behavior
![Screenshot_20190915-120

[2019-09-15 16:35] nahuhh commented on #5226
Updated the op for clarification

[2019-09-15 17:29] klint opened #5341 "[Bug] A page shortcut created in Private Mode should open in Private Mode and reflect this visually."
## Steps to reproduce
Open Fenix in Private Mode (either directly by the new Private Mode Shortcut on homescreen, or by switching from Non-Private mode on Fenix home page).
Visit a page
Create a page shortcut on the homescreen by "Add to homescreen"

### Expected behavior
The pop-ups to create the page shortcut should display the Private mode application icon.
The page shortcut on homescreen shoul

[2019-09-15 17:32] klint opened #5342 "[Bug] A page shortcut created in Non-Private Mode should open in Non-Private Mode"
## Steps to reproduce
Open Fenix in Non-Private Mode (either directly by the new Non-Private Mode Shortcut on homescreen, or by switching from Private mode on Fenix home page).
Visit a page
Create a page shortcut on the homescreen by "Add to homescreen"
Check that the pop-ups to create the page shortcut displays the Non-Private mode application icon.
Check that the page shortcut on homescreen disp

[2019-09-15 17:33] klint commented on #5054
Replaced by #5341 and #5342
Closing this one.

[2019-09-15 17:33] #5054 closed

[2019-09-15 18:46] NotWoods commented on #5339
UX team: Please specify which design the two screens (Delete Browsing Data & Delete Browsing Data on Quit) should follow.

[2019-09-15 18:54] NotWoods commented on #5338
One solution is to entirely remove the padding on the left side. Since that would be a UI change let's wait until the UX team responds to #5339 with the design for the delete data screens.

[2019-09-15 18:57] NotWoods opened #5344 "[bug] Custom tab text too small"
First reported in #5334.

## Steps to reproduce
Video attached.

The text size in the loaded url bar is tiny

### Expected behavior
Show the website name only,
Tap-hold on the url bar current behavior shows a pop-up for "copy"
I suggest:
Center the popup
The pop-up header should be the url
Options for copy/private tab/open in..

### Device information

* Android device: 8.1.0
* Fenix version: Nigh

[2019-09-15 18:58] NotWoods opened #5345 "[Bug] In a private custom tab, "Open in Firefox Preview" open a non-private tab"
First reported in #5334.

## Steps to reproduce
Video attached.

"Menu > open in Firefox preview" opens in a non-private tab
### Expected behaviorMenu > open in Firefox preview should be "open in private tab" and should open in a private tab

### Device information

* Android device: 8.1.0
* Fenix version: Nightly 190914 06:02 (Build #12570610)
📦: 13.0.0, 1f55c03be
🦎: 71.0a1-20190913092859
![20190

[2019-09-15 18:59] nahuhh commented on #5342
I'm having a different issue. No matter how the shortcut if created (private or not), it opens in non-private.

Either way, the issue is that the shortcuts should be stored/launched in the same mode they were created.

[2019-09-15 19:00] NotWoods commented on #5334
I split out this issue into #5345 and #5344. I've edited this issue to only contain the private custom tab UX concerns.

UX team: Please specify a design for custom tabs in private mode. Should we use a custom color and ignore the color set by the parent app, use a special icon, etc.?

[2019-09-15 19:09] nahuhh commented on #5338
I think it looks very good with the padding on the left and overall spacing. Clean, easy on the eyesight.
Better than the other (older) delete browsing data screen.

My vote would be to leave the overall appearance alone and stretch the touch area to match up with the boundaries of "on off" switch touch area.

But yes, as #5339 is related, let's wait

[2019-09-15 20:12] #5153 closed

[2019-09-15 20:24] klint opened #5346 "[Bug] Sometimes the number of tabs on the tab pile button is not centered"
## Steps to reproduce
I haven't find a pattern, but it happens quite often

### Expected behavior
The number of tabs is centered in the button

### Actual behavior
The number is on the top right corner of the button.
By the way, maybe it's another bug, but is the space between the shield icon and the lock icon not too wide?

![image](https://user-images.githubusercontent.com/218971/64927171-7755e7

[2019-09-16 02:46] #5338 closed

[2019-09-16 06:24] sv-ohorvath commented on #2897
@sblatz I've found https://github.com/mozilla-mobile/fenix/issues/5258  and set this one as blocked by it. So this doesn't need qa anymore, until the blocking bug is fixed.

[2019-09-16 07:17] mcarare commented on #5141
Same issue with _"Common myths about private browsing"_ link when starting private mode.

[2019-09-16 09:38] JohanLorenzo commented on #4890
Done in https://github.com/mozilla-mobile/fenix/pull/5257

[2019-09-16 09:38] #4890 closed

[2019-09-16 09:50] AndiAJ commented on #5169
Hi, **verified as fixed** on the latest Nightly Build #12590611 from 16/9 using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)

[2019-09-16 09:50] #5169 closed

[2019-09-16 10:25] kamran-12 opened #5350 "Google looks bad"
### Site with the issue and any steps to reproduce
google.*
Search something, then maybe open settings at the bottom page.

### Expected behavior
Seeing the normal Google like on ~90% Android browsers.

### Actual behavior
Google is weird. Layout it unusual and for some pages it is like from 10 years ago. Some parts of its Settings page (including "Save" button) is gone.

### Does toggling Trackin

[2019-09-16 10:51] kamran-12 commented on #4021
Hmm... Are you sure it is a bug? I prefer sharing only the URL, for example.

[2019-09-16 10:57] kamran-12 opened #5351 "[Bug] Page title and favicon are not shown."
### Steps to reproduce
I could reproduce it only in Wikipedia. Open one Wikipedia page, then open another in a new tab. (I did this by "Open in new tab")

### Expected behavior
Favicons and site titles for all tabs.

### Actual behavior
![image](https://user-images.githubusercontent.com/46045997/64952687-00b1fc00-d892-11e9-80b5-c5592789d69c.png)

### Device information

* Android device: Samsung G

[2019-09-16 10:59] quicoto commented on #4021
Firefox stable for Android shares title + url.

[2019-09-16 11:00] kamran-12 opened #5352 "[Bug] Page titles and favicons aren't shown"
### Steps to reproduce
Open one Wikipedia page and open one link with "Open in New Tab" (I don't know which other sites are also affected).

### Expected behavior
Favicons and page titles for all tabs.

### Actual behavior
![image](https://user-images.githubusercontent.com/46045997/64952908-96e62200-d892-11e9-9ba7-febc34290930.png)

### Device information
* Android device: Samsung Galaxy S6, Andro

[2019-09-16 11:14] davehunt commented on #5306
Yes, that's correct @mitchhentges

[2019-09-16 11:50] pocmo opened #5355 "Migrate "release locales" mechanism from Focus to Fenix"
In Focus we had this mechanism for defining "release locales". Only those locales would go into release versions. All other locales would only be used in Nightly builds.

This mechanism allows us to start the translation (and review) process for a new locale without shipping it to our users immediately. In order to add/verify RTL support this allows us to adds those languages to Nightly and ship t

[2019-09-16 12:35] mcarare opened #5356 "[Bug] Talkback cannot access "common myths about private browsing" link from private browsing description"
## Steps to reproduce

Launch Fenix with Talkback active.
Switch to private browsing
Access "common myths about private browsing" link

### Expected behavior
The link can receive focus and be accessed
### Actual behavior
The link cannot receive focus andTalkback users cannot access it

### Device information

* Android device: Any
* Fenix version: 1.0.1938

[2019-09-16 12:36] mcarare commented on #5356
Similar to #5141

[2019-09-16 13:00] sv-ohorvath commented on #5344
This also happens on the browser URL bar (in edit mode too), on a Samsung Tab A6 (Android 5.1.1)
![screencap](https://user-images.githubusercontent.com/4037709/64959775-89cd3100-d89a-11e9-9870-0495efa9d663.png)

[2019-09-16 13:06] sv-ohorvath opened #5358 "[Bug] Tiny font on URL bar on some devices"
## Steps to reproduce
1. Open a tab. Check the URL bar.
2. Tap the URL to edit. Check the font size.
3. Clear the URL text and observe the placeholder text.
### Expected behavior
The text has the default font of the device.
### Actual behavior
The URL text is very tiny, unreadable.
### Device information

* Android device: Samsung Tab A6 (Android 5.1.1),
Not reproducing on: Xiaomi MiPad 2 (Android

[2019-09-16 13:14] sv-ohorvath opened #5359 "[Bug] TP icon broken - Android 5 & 6 devices."
## Steps to reproduce
1. Load a webpage.
2. Observe the TP icon in the url bar (for secure connections)
3. Observe the ETP icon in the security panel.
### Expected behavior
The icon is rendered correctly.
### Actual behavior
The icon is broken.
### Device information

* Android device: Xiaomi MiPad 2 (Android 5.1), Nexus 5 (A 6.0.1), Samsung Tab A6 (Android 5.1.1)
* Fenix version: Nightly 9/16
![s

[2019-09-16 13:34] sv-ohorvath commented on #4458
Verified as fixed on Nightly 9/16. Devices: Samsung Galaxy Tab A6 (Android 5.1.1), Galaxy S8 (Android 9)

[2019-09-16 13:34] #4458 closed

[2019-09-16 13:40] sv-ohorvath commented on #3371
Verified as fixed on Nightly 9/16.

[2019-09-16 13:49] softvision-miralobontiu opened #5360 "[Bug] Fenix crashes on Android 5 & 6 when Settings-Enhanced Tracking Protection is accessed"
## Steps to reproduce
1. On a device with Android 5 or 6, go to Settings - Enhanced Tracking Protection.

### Expected behavior
The user cand access the tracking protection section.

### Actual behavior
Fenix crashes.

### Device information
* Android device: Xiaomi Mi4i (Android 5.0.2), Nexus 5 (Android 6.0.1),  Xiaomi MiPad 2 (Android 5.1)
* Fenix version: Nightly 190916 (#12590611)

[logcat.txt

[2019-09-16 13:57] sv-ohorvath commented on #4877
Verified as fixed on Nightly 9/16.

[2019-09-16 13:57] #4877 closed

[2019-09-16 14:01] sv-ohorvath commented on #5154
Verified as fixed on the affected device on Nightly 9/16.

[2019-09-16 14:01] #5154 closed

[2019-09-16 14:07] Amejia481 commented on #5360
@ekager

[2019-09-16 14:18] Amejia481 commented on #5218
@mcomella could we close this?

[2019-09-16 14:28] AndiAJ commented on #3106
Hi, all **options work properly** from a functional point of view.

On the other hand, I've found a couple of minor issues on the latest Nightly Build #12590611 from 16/9 using a Google Pixel 3a (Android 9) as it follows:
• The delete browsing data is always enabled
• "Fenix" string placeholder %s is displayed in the confirmation pop-up message.

►Video
![20190916_171322](https://user-images.githu

[2019-09-16 14:45] jonalmeida opened #5362 "[Bug] App shortcuts shows 'App isn't installed' toast"
## Steps to reproduce
1. Press and hold the app icon.
2. Click on the 'Open new private tab' or 'Open new tab'.

### Expected behavior
 - A new private tab is opened or a regular tab is opened, respectively.

### Actual behavior
 - You see a toast that says "App is not installed". See screenshot below.
 - Placing the shortcuts on the homescreen and clicking on them there do not work either.

### D

[2019-09-16 14:49] ekager commented on #5352
Closing as dupe of #5351

[2019-09-16 14:49] #5352 closed

[2019-09-16 14:51] jonalmeida commented on #5344
Looks like a regression of https://github.com/mozilla-mobile/fenix/issues/3259 from our attempt at fixing the text size issue.

[2019-09-16 14:58] jonalmeida opened #5364 "[Bug] Opening a Custom Tab prompts you choose between multiple Fenix options"
## Steps to reproduce
1. Attempt to open a Custom Tab from another app (e.g. Gmail, **not Slack**).

### Expected behavior
 - The tab opens in the appropriate default browser state.

### Actual behavior
 - You have to choose from the system app chooser where you want that tab to open up in.

### Device information

* Android device: Pixel 2 (Android 10)
* Fenix version:

![Screenshot_20190916-1049

[2019-09-16 15:31] sblatz commented on #5258
@ekager looks like this was filed against #2897. Are you able to take a look? 😄

[2019-09-16 15:32] sblatz commented on #4155
@topotropic Can you verify if the behavior described in @nahuhh's comment is UX's expectation?

Currently "paste" and "paste & go" only display if the clipboard has a URL copied to it. Do you want it to work with search terms as well?

[2019-09-16 15:57] kamran-12 commented on #5352
Yes, I accidentally posted the same thing twice due to a technical problem. Delete this if possible.

[2019-09-16 16:05] rekotc commented on #4208
I can confirm it happens to me, i have a fairly old phone which might be the culprit, Samsung Galaxy S2 (using LineageOS 14). But the problem doesn't happen in every webpage, i noticed it in particular using twitter.com, every tweet i write is a pain!

Same here. It looks like the browser cannot keep up with the typing speed

[2019-09-16 16:26] vesta0 commented on #1289
@lime124 do we still need to do this?

[2019-09-16 16:34] NotWoods commented on #5362
This toast shows up when android can't find an activity corresponding to the shortcut intent.

[2019-09-16 16:38] NotWoods opened #5366 "VectorDrawableCompat all the things"
We've been having issues with vector drawables on Android SDK 21-24 due to issues that have since been fixed in newer Android versions. We should start using the compat library everywhere we use vector icons so it handles those older devices for us.

[Using vector assets in Android apps](https://medium.com/androiddevelopers/using-vector-assets-in-android-apps-4318fd662eb9)

Related:
- #5359
- #531

[2019-09-16 16:52] NotWoods commented on #5366
We'll accept PRs that update some icons, you don't need to find every single spot in one go. 😄

[2019-09-16 16:58] NotWoods commented on #5350
Sadly Google serves an old version of its site to everyone that's not Chrome. I think mozilla-mobile/android-components#4409 includes code to change the user agent automatically.

[2019-09-16 17:13] kamran-12 commented on #5350
I wouldn't say non-Chrome. It only happens with Firefox. Even UC Browser where some websites look differently doesn't have this problem.

[2019-09-16 17:19] pocmo commented on #2639
QA: Can this still be reproduced? We recently changed the download manager implementation.

[2019-09-16 17:22] pocmo commented on #5358
Duplicate of https://github.com/mozilla-mobile/fenix/issues/5344

[2019-09-16 17:22] #5358 closed

[2019-09-16 18:25] jpfaller commented on #1749
Proposed strings:
@lime124 @vesta0

Standard:
Pages will load normally, but block fewer trackers.

Strict (Default)
Stronger tracking protection and faster performance, but some sites not work properly.

[2019-09-16 19:02] cpeterso commented on #5037
This bug is a Gecko regression in GV 70 from some changes made to improve Android input responsiveness on Fire TV (layout.reflow.synthMouseMove [bug 1545393](https://bugzil.la/1545393)). @makotokato says he will back out that change:

https://bugzilla.mozilla.org/show_bug.cgi?id=1580669#c15

[2019-09-16 19:04] cpeterso commented on #4208
@rekotc - Which Fenix version are you testing? Do you also seen this typing problem in Firefox for Android (Fennec 68)?

[2019-09-16 19:19] apbitner commented on #5085
@jonalmeida is this bug still happening for you? I just tried to reproduce and it opened the link in the same window (option 1). I'm on the latest build, Pixel 3, Android 10.

[2019-09-16 19:21] cpeterso commented on #4148
@AndiAJ - Do you see the video controls if you tap the video or rotate your phone to landscape orientation? On my Moto G5, when the video starts playing, I don't see the video controls in Fenix, Fennec, or Chrome unless I tap the video or rotate my phone.

[2019-09-16 19:28] cpeterso commented on #4116
This is probably a webcompat bug, so the Webcompat team is reaching out to the website:
https://bugzilla.mozilla.org/show_bug.cgi?id=1575184
https://webcompat.com/issues/38113

[2019-09-16 19:52] jonalmeida opened #5368 "[Bug] Tracking Protection sheet floats above the toolbar"
## Steps to reproduce
1. Click the TP icon in regular browsing.

### Device information

* Android device: Pixel 2 (Android 10)
* Fenix version:

<img width="634" alt="Screen Shot 2019-09-16 at 3 43 09 PM" src="https://user-images.githubusercontent.com/1370580/64988622-debc7780-d899-11e9-949a-a5b098d25eb7.png">

[2019-09-16 20:36] rpappalax opened #5369 "[Bug] Taskcluster failure on old_decision push() takes no arguments"
Taskcluster job is failing on:

[code]

[2019-09-16 20:44] rpappalax commented on #5369
When I remove the build arg from old_decision.py I get an upstream error in /builds/worker/checkouts/src/automation/taskcluster/decision_task.py

[code]

[2019-09-16 21:04] ekager commented on #5177
Filed https://github.com/mozilla-mobile/android-components/issues/4431

[2019-09-16 21:36] boek commented on #5294
Tested with a Pixel 2/3 with Android 9/10 and could not reproduce.
Was able to reproduce with the Galaxy S9 on Android 9. This seems to be a Samsung specific bug.

[2019-09-16 22:05] sblatz opened #5371 "[Bug] Consider changing "Search Engine" setting to "Search""
Currently our "Search engine" setting (under the "Basics" heading) links to a page that controls more than just the Search engines. We should get new copy for this string and update it.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/64996639-53d87e80-d893-11e9-925e-daaf3f9ffbbb.png">

<img width="350" alt="image" src="https://user-images.githubusercontent.com/

[2019-09-16 22:07] boek commented on #5294
Spoke with @vesta0, since this is Samsung specific we're not going to block the release but will follow up with 2.1

[2019-09-16 22:16] sblatz commented on #1744
@Verdi To confirm: is the "Fill in from clipboard" item pinned to the top rather than scrolling with the rest of the suggestions? Given that there's a line break, this would visually make sense to me, and it also makes the engineering effort much easier. The "SEARCH WITH" text is already pinned, so it'd make sense that anything above it would be too.

[2019-09-16 22:19] ekager commented on #5287
Closing as dupe of #5250

[2019-09-16 22:19] #5287 closed

[2019-09-16 22:33] bswe commented on #5233
I don't think the "Add private browsing shortcut" should be thought of as a "once and for all" operation.  If the user happens to delete the shortcut (either intentionally or by accident) there would be no way to add it back if the entry in the settings is removed.

[2019-09-16 23:08] gurpreetatwal commented on #1048
Is this feature still planned to be included?

[2019-09-16 23:23] NotWoods commented on #1048
It's in the backlog

[2019-09-17 01:20] NotWoods commented on #5233
Agreed, uit should only be hidden if we detect that the shortcut present on the homescreen.

[2019-09-17 01:21] liuche commented on #2754
@topotropic @colintheshots how did this go? If it's ready to go just a reminder to move it into the Sprint Backlog.

[2019-09-17 01:37] vesta0 commented on #1749
+1

@jpfaller Should it say some sites **may not** or **will not** work properly?

[2019-09-17 01:54] nahuhh commented on #5350
Fenix looks fine as well..

[2019-09-17 02:00] nahuhh commented on #5350
Fenix:

![Screenshot_20190916-215752](https://user-images.githubusercontent.com/50635951/65005202-15f84c00-d8cd-11e9-828a-184aacf464b6.png)
![Screenshot_20190916-215644](https://user-images.githubusercontent.com/50635951/65005250-39bb9200-d8cd-11e9-8c7b-daed73098c5e.png)
![Screenshot_20190916-214848](https://user-images.githubusercontent.com/50635951/65005260-42ac6380-d8cd-11e9-94f8-64c9d22f01a0.p

[2019-09-17 02:44] #4971 closed

[2019-09-17 02:50] hawkinsw commented on #5307
Sorry for the delay in responding to this; the best place to file this is
in Bugzilla as part of GeckoView. Anything that we track in this queue is
related to the "wrapper" of Fenix. Does that make sense?

On Fri, Sep 13, 2019 at 12:34 PM Michael Comella <notifications@github.com>
wrote:

[2019-09-17 02:59] jonalmeida commented on #5085
@apbitner Were you in a custom tab? I can still see the issue happening.

If you set your browser default to be Fenix, then send the link to yourself and try to open it in the Gmail or the Slack app, the link will open in [a custom tab](https://developer.chrome.com/multidevice/android/customtabs). When you link on the links that have `target="_blank"` you should see nothing happen.

There are some

[2019-09-17 03:44] ekager commented on #5302
Going to close this for #4560 and #3727

[2019-09-17 03:44] #5302 closed

[2019-09-17 03:47] ekager commented on #5295
Maybe we should implement a confirmation dialog instead of the undo snackbar for TalkBack users.

[2019-09-17 03:47] ekager commented on #5290
Is this the same as #5177 ?

[2019-09-17 03:49] ekager commented on #5164
I think this is more of a UX feedback issue than a bug? I believe those are the intended behaviors currently

[2019-09-17 04:06] ekager commented on #5234
Closing for #5371

[2019-09-17 04:06] #5234 closed

[2019-09-17 04:10] ekager commented on #5053
Closing for #4911

[2019-09-17 04:10] #5053 closed

[2019-09-17 04:12] ekager commented on #5084
Closing for #4513

[2019-09-17 04:12] #5084 closed

[2019-09-17 04:16] ekager commented on #2088
Hi @hawkinsw ! Thanks for the work here, should we close this ticket now?

[2019-09-17 04:19] ekager commented on #4937
Could you clarify what you mean by "close all tabs quickly"? Are you swiping them from the homescreen?

[2019-09-17 04:23] ekager commented on #4788
@mikeGolf08 are you still seeing this? I can't reproduce

[2019-09-17 04:23] ekager commented on #4937
Closing as a dupe of #4788

[2019-09-17 04:23] #4937 closed

[2019-09-17 04:27] ekager commented on #2897
I have merged a patch for #5258 so when that is verified, I think we can close this

[2019-09-17 04:28] Poopooracoocoo commented on #4208
I've noticed that when this happens, the keyboard (Gboard in my case) will not have caught up with the browser (fenix and focus). I think that it's not the keyboards fault and that Fenix/Focus aren't telling the keyboard in time. Back to my point, the keyboard's suggestions will be rather late and sometimes not appear at all. Typing passwords is still normal.

[2019-09-17 06:34] Lululalu commented on #5326
@ekager, I was referring to the same thing as @nahuhh 😀

[2019-09-17 06:58] AndiAJ commented on #4148
@cpeterso Still no luck on Nightly Build #12590611 from 16/9 using a Samsung Galaxy S7 (Android 7).
I've tapped the video and rotated the phone but the video controls are still missing.
► Video
![20190917_094902](https://user-images.githubusercontent.com/51314259/65018394-a8cad200-d931-11e9-80ca-a62c003c45ab.gif)

[2019-09-17 07:33] rekotc commented on #4208
@cpeterso i'm using Firefox Preview 1.4.1 (Build #12531633), i can tweet normally using the regular Firefox 68.1.1

[2019-09-17 07:35] cadeyrn commented on #5233
well, this is totally clear, that why I didn't mention it explicitly. Of course the menu item has to reappear if there the shortcut will be removed. ;-)

[2019-09-17 08:23] SubhrajyotiSen commented on #5298
@sv-ohorvath What would be the approach for this? Show unique items by default or have a toggle for that?

[2019-09-17 08:41] sv-ohorvath commented on #5298
@vesta0 would be more suitable to answer this.

[2019-09-17 09:35] AndiAJ opened #5374 "[Bug]Cut off collections name text box after minimizing the keyboard in landscape mode"
## Prerequisites
Have a couple of open tabs

## Steps to reproduce
1. Tap "Save to collection"
2. Select the desired tabs and tap on save
3. Rotate the device to landscape view
4. Minimize the keyboard

### Expected behavior
Collections name text box should be properly displayed

### Actual behavior
The text box is cut off after minimizing the keyboard in landscape view
### Device information

* A

[2019-09-17 10:07] softvision-miralobontiu opened #5375 "[Bug] [Android 5&6] Opening a tab in normal browsing takes the user to private browsing and vice-versa"
## Prerequisites
Make sure to have a clean profile.

## Steps to reproduce
1. Open a page in normal browsing.
2. From the page opened at step 1, long-tap on a hyper-link text and select to open in a new private tab.
3. Select "Switch". The user is in private browsing now, in the newly opened tab.
4. Exit private browsing and open the tab from step 1.

### Expected behavior
The user should be able

[2019-09-17 10:45] softvision-miralobontiu commented on #5254
This issue might be related: [5375](https://github.com/mozilla-mobile/fenix/issues/5375).

[2019-09-17 11:20] hawkinsw commented on #2088
I don't think that I had much to do with fixing this, but you're welcome! And, sure, let's close this down!

[2019-09-17 11:48] softvision-miralobontiu commented on #5360
Verified as fixed on RC 2.0.0-rc.3 with Xiaomi Mi4i (Android 5.0.2), and Xiaomi MiPad 2 (Android 5.1).

[2019-09-17 11:48] #5360 closed

[2019-09-17 12:30] acreskeyMoz commented on #5048
@colintheshots @ncalexan
In doing some work with Fenix I noticed another feature that needs to be disabled for visual metrics -- the ETP blocking pop-up on the navigation bar.

Using the `forPerformanceTest` build variant this is automatically hidden by feature flag:
https://github.com/mozilla-mobile/fenix/blob/25db27e448922d13ed12dc6b18568b69d1302d3b/app/src/main/java/org/mozilla/fenix/FeatureFla

[2019-09-17 12:58] abodea commented on #5254
Verified as fixed on the **Fenix v2.0.0-rc3** using `OnePlus 6T(Android 9), Samsung Galaxy S10+(Android 9), Google Pixel 3a (Android 9), Google Nexus 7 II(Android 5.1.1), OnePlus 3(Android 6.0.1).`

[2019-09-17 12:58] #5254 closed

[2019-09-17 13:17] vesta0 commented on #219
@cpeterso I've updated the description with more details. We can discuss further during the planning week.

[2019-09-17 13:32] abodea commented on #5296
Verified as fixed on the **Fenix v2.0.0-rc3** using `OnePlus 6T(Android 9), Samsung Galaxy S10+(Android 9), Google Pixel 3a (Android 9), Samsung Galaxy S8+(Android 8), Samsung Galaxy Tab A (Android 9)`

Please note that I also tried to reproduce the crash mentioned [above](https://github.com/mozilla-mobile/fenix/issues/5296#issuecomment-531182612) but the feature is not available on the devices ru

[2019-09-17 13:32] #5296 closed

[2019-09-17 14:38] softvision-miralobontiu commented on #3901
Verified on the latest Nightly 190916 (#12591838) with Samsung Galaxy Note 8 (Android 9), Huawei MediaPad M2 (Android 5.1.1), Huawei P9 Lite (Android 6), that:
- the shield changes color when ETP blocks trackers,
- Tracking Content displays the blocked trackers,
- ETP toggle can be turned OFF/ON, it is visible, and it works.

[2019-09-17 14:38] #3901 closed

[2019-09-17 14:42] softvision-miralobontiu commented on #1749
Verified on the latest Nightly 190916 (#12591838) with Samsung Galaxy Note 8 (Android 9), Huawei MediaPad M2 (Android 5.1.1), Huawei P9 Lite (Android 6), that:
- from settings, the users can change the preferred level of tracker protection (standard/strict),
- the default setting is strict.

I will leave this issue open in order for the "may not" / "will not" to be decided.

[2019-09-17 14:48] pocmo commented on #5151
A patch for this landed in AC and should start rolling out with the next 14.0.0-SNAPSHOT builds.

[2019-09-17 15:34] sblatz commented on #1744
@jpfaller The current text we have in app is "Fill link from clipboard." Can we keep that or should we change it to the text in the screenshot above?

[2019-09-17 15:38] mcarare commented on #4107
@AmyYLee do we also want to make navigation bar transparent, like in the sample below?
<img src =https://user-images.githubusercontent.com/48995920/65056726-11d63800-d97a-11e9-822f-3d05254adeb9.png width =50%>

[2019-09-17 15:41] jpfaller commented on #1744
Let's keep the current text "Fill link from clipboard"

[2019-09-17 15:43] jpfaller commented on #1749
Yes, apologies. Updated the string with "may" @vesta0

[2019-09-17 15:47] vicanfon opened #5378 "[Bug] local html files cannot be opened"
## Steps to reproduce
I try to open a local .html file and firefox preview doesn't appear listed as app

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-09-17 15:47] vicanfon opened #5379 "[Bug] local html files cannot be opened"
## Steps to reproduce
I try to open a local .html file and firefox preview doesn't appear listed as app

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-09-17 15:50] pocmo commented on #5294
Duplicate of https://github.com/mozilla-mobile/fenix/issues/5177

[2019-09-17 15:50] #5294 closed

[2019-09-17 15:50] Dunexus commented on #5378
Duplicate of https://github.com/mozilla-mobile/fenix/issues/3864
https://github.com/mozilla-mobile/fenix/issues/4049 states it as won't fix.

[2019-09-17 15:51] Dunexus commented on #5379
Duplicate of https://github.com/mozilla-mobile/fenix/issues/5378

[2019-09-17 15:52] vicanfon opened #5380 "[Bug] local html files cannot be opened"
## Steps to reproduce
I try to open a local .html file and firefox preview doesn't appear listed as app

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-09-17 16:05] jpfaller commented on #5371
Let's call it

"Search"

and then remove the subtext where we show the search engine they've picked (In this screenshot, Google)

[2019-09-17 16:32] JohanLorenzo commented on #5369
Fixed in #5373. Thank you @rpappalax for letting me know!

[2019-09-17 16:32] #5369 closed

[2019-09-17 16:33] #5379 closed

[2019-09-17 16:33] #5378 closed

[2019-09-17 16:33] ekager commented on #5380
Duplicate of #5378

[2019-09-17 16:33] #5380 closed

[2019-09-17 16:45] ekager commented on #5298
When we redid history with pagination we must have clipped this fix. See
https://github.com/mozilla-mobile/fenix/pull/4122 for previous solution

[2019-09-17 16:48] ekager commented on #5375
Mm I can reproduce this and it is related to #5131 . Looks like when you switch the mode the homescreen tabs don't update until you scroll the page, meaning the tabs are for the opposite mode

[2019-09-17 17:06] cpeterso commented on #4148
Do the video controls appear as expected in Fennec 68 and Chrome on the Galaxy S7?

Does turning of Tracking Protection in Fenix fix the problem? I can't tell from looking at the page on my phone if the video controls are part of the web page or if they are native system UI. Since this problem only seems to affect the Samsung Galaxy S7, I wonder if this is a native system UI problem.

In the meant

[2019-09-17 17:06] jonalmeida opened #5381 "IndexOutOfBoundsException: Invalid index 0, size is 0"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6307868/

[code]

[2019-09-17 17:13] vesta0 commented on #5298
@ekager can we add it back in?

[2019-09-17 17:14] cpeterso commented on #4208
I've reopened the GeckoView bug for more investigation: https://bugzilla.mozilla.org/show_bug.cgi?id=1569007#c5

[2019-09-17 17:16] colintheshots opened #5382 "As a developer I want to be able to auto-land PRs"
As an engineer, I want to be able to auto-land PRs after tests pass with an autoland bot.

## Dependencies
There shouldn't be any dependencies. However, Android Components has experience implementing bors-ng for their PRs and could be consulted if there are any issues.

### Acceptance Criteria
- I should be able to comment "bors r+" on a Fenix pull request to auto-land the PR if the tests pass.

[2019-09-17 17:19] vesta0 opened #5383 "[Bug] ETP settings UI with larger font setting"
## Steps to reproduce
Go to Enhanced Tracking Protection settings page

### Expected behavior
Margins should look like this:

![Screenshot_20190917-132453](https://user-images.githubusercontent.com/42752644/65064529-a9259600-d94e-11e9-84c4-776188a0cd89.png)

### Actual behavior
With a larger font setting it looks like this:

![Screenshot_20190917-132409](https://user-images.githubusercontent.com/4

[2019-09-17 17:20] vesta0 opened #5384 "[Bug] Enhanced Tracking Protection UI margins"
## Steps to reproduce

Go to Enhanced Tracking Protection settings page

### Expected behavior

Margins should look like this:

![image](https://user-images.githubusercontent.com/42752644/65064152-d58ce280-d94d-11e9-9d20-e3ed21599545.png)

### Actual behavior

On Pixel 3 it looks like this:

![Screenshot_20190914-125854](https://user-images.githubusercontent.com/42752644/65064123-c1e17c00-d94d-11e

[2019-09-17 17:20] topotropic commented on #2754
Yes, this got resolved – here's the updated spec https://share.goabstract.com/33797d88-bf55-41fb-9b7e-9e90e38ef645?mode=design&sha=0086540706ce6705ac5fe791cdf6fef98c9baf9f

- For sharing Open tabs, a collection or anything within the library we use a list element with favicon; the header on the share view should be updated from "Send and Share" to "Share"
- For sharing a page from the page 3-dot m

[2019-09-17 17:21] vesta0 commented on #5384
Duplicate creation

[2019-09-17 17:21] #5384 closed

[2019-09-17 17:29] vesta0 opened #5385 "[Bug] app drawer shortcuts don't work"
## Steps to reproduce

Long press on the Fenix app icon and tap on "open new private tab" or "open new tab"

### Expected behavior

new tab opens

### Actual behavior

![Screenshot_20190913-031843](https://user-images.githubusercontent.com/42752644/65064816-2ea94600-d94f-11e9-92b9-2b5c00c9192b.png)

### Device information

* Android device: Pixel 3
* Fenix version: Latest nightly

[2019-09-17 17:36] Amejia481 commented on #5383
cc @ekager

[2019-09-17 17:37] boek commented on #5385
Going to verify the status of this bug on the 2.0 release candidate.

[2019-09-17 17:41] liuche commented on #394
After some discussion w/ the team, it sounds like TWAs are almost ready to ship. This allow users who download TWAs from the Google Play Store to use Fenix.

Things remaining:
- [ ] any remaining eng work (@NotWoods will be finishing this)
- [ ] AC to upgrade to alpha APIs*
- [ ] File a PI request to test some common TWAs (@liuche)
- [ ] Get UX Feedback (@NotWoods will share an apk link here, and

[2019-09-17 17:47] kbrosnan commented on #4833
This is [GV bug 1578073](https://bugzilla.mozilla.org/show_bug.cgi?id=1578073)

[2019-09-17 17:55] boek commented on #4312
We need to investigate how difficult this would be.

[2019-09-17 17:55] sblatz opened #5386 "Consider persisting private tabs through memory eviction / force quit"
We should consider persisting private tabs even when users force quit the app or it is evicted from memory. Currently private tabs are all lost when the OS decided to kill our app which can happen frequently especially on older phones.

We currently match the behavior of Focus so CHANGING it would be against how Focus operates..

I think it's reasonable to think about this especially if we are imp

[2019-09-17 17:56] sblatz opened #5387 "Biometric authentication for private mode"
We should consider adding biometric authentication for private mode. This would help us with Focus parity.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-13472)

[2019-09-17 17:58] boek commented on #3580
This was reported to have been fixed in A-C. Can we verify it's fixed?

[2019-09-17 17:58] vesta0 commented on #4312
This is a good feature that will allow user more options and flexibility. I will investigate this and consult the GeckoView team to make sure all security aspects are considered, then tag UX for their feedback.

[2019-09-17 18:08] liuche commented on #394
@NotWoods question came up in triage, "what TWA features won't work?"
- Offline support (e.g. loading from offline
- Push
- what else?

Product says let's do this in Nightly only.

[2019-09-17 18:11] liuche commented on #4841
Moving this to UX backlog from triage. Please move somewhere else if it shouldn't be here!

[2019-09-17 18:14] liuche commented on #4655
@Pike @Delphine is this something that L10N can do? Or should we close this?

[2019-09-17 18:14] NotWoods commented on #394
Splash screens also won't work yet. Both notifications and splash screens require APIs only present in the 1.2.0 library, and would make it harder to revert.

[2019-09-17 18:16] NotWoods commented on #4655
They've stated elsewhere that L10N currently can't support quantity strings. I'm mostly using this issue to catalogue what strings need changing for the future.

[2019-09-17 18:18] ekager commented on #5383
@vesta0 could you be specific about what you think looks wrong with this? When you increase text size, I think we can expect it to look slightly different.

[2019-09-17 18:19] jonalmeida commented on #5085
Spoke with @apbitner offline: both sides have their pros and cons, but we should try to follow what Chromium-based engines have done for now.

i.e. option 1: Load the request in the same window.

[2019-09-17 18:27] Pike commented on #4655
Yeah, this isn't supported now. We'd need to prioritize this across the various components involved.

[2019-09-17 19:03] liuche commented on #4655
Okay, I think keeping a reference to the strings is fine, but I'll close it for now and we can reopen when this gets prioritized in L10N's timeline. I think it's a good thing to keep in mind, but isn't really actionable right now.

@Pike this is something that we'd be interested in doing though, so please ping back here if you have updates!

[2019-09-17 19:03] #4655 closed

[2019-09-17 19:17] mheubusch commented on #4716
This issue is not about in-product labeling, it is about SUMO only.  I've verified that a link to the requested article appears in the SUMO-hosted Fenix help section so we are good.

[2019-09-17 19:17] #4716 closed

[2019-09-17 19:20] vesta0 commented on #4780
@sblatz does switching out of private mode mean that users will lose their private tabs?

[2019-09-17 19:25] topotropic commented on #4155
Yes, that makes sense. Thanks!

[2019-09-17 19:42] sblatz opened #5390 "Add tests for ClipboardHandler.kt"
With #5389 we introduced a ClipboardHandler. Let's adding some small tests for this file to verify functionality.

[2019-09-17 19:44] suoko commented on #2583
How is kiwi overriding Facebook chat rules?

[2019-09-17 19:51] sblatz commented on #5364
@jonalmeida Is this a bug? We now intentionally have a "private" launcher that was added in #419.

[2019-09-17 20:02] sblatz commented on #4780
@vesta0 No, it'd be equivalent to pressing the mask icon to switch back to normal browsing :)

[2019-09-17 20:05] vesta0 commented on #4780
@sblatz great, thanks for confirming 👍

[2019-09-17 20:08] ekager opened #5392 "[Meta] Collection of Web Content Issues Related to Tracking Protection"
- https://github.com/mozilla-mobile/fenix/issues/4905
- https://github.com/mozilla-mobile/fenix/issues/4924
- https://github.com/mozilla-mobile/fenix/issues/4984
#6960 #7055 #6528

[2019-09-17 20:09] ekager commented on #4939
Does this work when TP is toggled off? If so could you close this issue and add it to #5392? Thanks!

[2019-09-17 20:09] vesta0 commented on #1749
@ekager re-opened as the strings are yet to be updated to:

Standard:
Pages will load normally, but block fewer trackers.

Strict (Default)
Stronger tracking protection and faster performance, but some sites may not work properly.

[2019-09-17 20:12] ekager commented on #4872
Can reproduce and toggling TP does not fix the problem

[2019-09-17 20:12] ekager commented on #4905
Closing but adding this to #5392 - meta for TP web issues

[2019-09-17 20:12] #4905 closed

[2019-09-17 20:13] ekager commented on #4938
Does this work with TP off?

[2019-09-17 20:14] ekager commented on #4941
Does this happen with TP off? If so could you close this and add it to https://github.com/mozilla-mobile/fenix/issues/5392 ?

[2019-09-17 20:14] ekager commented on #4901
Is this fixed by toggling TP? If so could you close this and add this issue to https://github.com/mozilla-mobile/fenix/issues/5392?

[2019-09-17 20:14] ekager commented on #4900
Is this fixed by toggling TP? If so could you close this and add this issue to #5392?

[2019-09-17 20:16] jpfaller commented on #1749
I sent these to legal for review as well. I'm not anticipating any issues, but just FYI.

[2019-09-17 20:17] ekager commented on #2184
If this is still happening we may need to file a followup bug in GV so let's retest

[2019-09-17 20:18] ekager commented on #3898
The filed GV bug seems to have been fixed so let's test and close if resolved :)

[2019-09-17 20:19] sblatz commented on #5371
I'm pulling this in since it's a very easy fix and was related to a feature I did in 2.0 (new issue introduced)

[2019-09-17 20:21] ekager commented on #5218
I'm going to close this because we should be back on Strict now.

[2019-09-17 20:21] #5218 closed

[2019-09-17 20:21] Amejia481 commented on #5218
👍

[2019-09-17 20:21] jonalmeida commented on #5364
@sblatz yes, you shouldn't have to stop in your app when clicking to choose the mode. The app should know which one was set/chosen. The private launcher shouldn't interfere with Custom Tabs.

[2019-09-17 20:22] ekager commented on #4924
Closing because I've added this issue to https://github.com/mozilla-mobile/fenix/issues/5392

[2019-09-17 20:22] #4924 closed

[2019-09-17 20:28] liuche commented on #4841
@sblatz or @boek do you have in mind an issue/UI element that could be used to be the first iteration of this? Also, relatedly could be to come up with a plan for what UI Components looks like.
This should be timeboxed.

[2019-09-17 20:29] vesta0 commented on #1749
Thank you @jpfaller 👍

[2019-09-17 20:33] Amejia481 commented on #4900
It looks like a webcompat issue, this site doesn't work on FireFox desktop neither on geckoview_example

[2019-09-17 20:37] boek commented on #5385
This is working in 2.0, so it must have been a regression that landed this week

[2019-09-17 20:40] sblatz commented on #5371
@jpfaller When I change it to just say "search" it's not clear that you're selecting a default engine:

<img width="300" alt="image" src="https://user-images.githubusercontent.com/4400286/65077433-c7d85c80-d94f-11e9-953b-27b7210a151c.png">

Because of that I've updated it to look like this:
<img width="300" alt="image" src="https://user-images.githubusercontent.com/4400286/65077861-acba1c80-d950-1

[2019-09-17 20:46] bswe commented on #5233
Sounds like we agree then that it isn't an "item you use once and for all".

[2019-09-17 21:19] sblatz commented on #5364
This issue is also pointing to a deeper problem: if a user selects "always" they are never able to change their default browser back to private/normal. The "Firefox Preview (Private)" option does not show in the "default apps" page. I could have sworn it did at one point?

[2019-09-17 21:25] cadeyrn commented on #5233
Sorry, that's splitting hairs…

[2019-09-17 21:33] sblatz opened #5396 "PBM "Always launch in private mode" issues"
Issues with the current implementation:

1. Selecting to "always" launch in private mode does **not actually set the app to always launch privately.** The first link you open will be in private mode, but after that they'll launch in normal browsing mode.

![always broken 2019-09-17 14_37_50](https://user-images.githubusercontent.com/4400286/65081563-bfd0ea80-d958-11e9-9ec5-929265e67c27.gif)

2. Cu

[2019-09-17 21:50] jonalmeida opened #5397 "[Bug] When the system switches to Dark mode, pages refresh and content is lost"
## Steps to reproduce
1. Enable battery saving mode to turn on dark mode OR enabled adaptive system themes based on time of day.
2. Open a page with user content filled in (e.g. a google form, play a video).
3. Wait for the system to switch modes (by plugging in your low battery device to power or waiting until mid-day for the mode to be enabled).

### Expected behavior
1. Nothing should happen wh

[2019-09-17 22:19] sblatz commented on #514
Not working see: https://github.com/mozilla-mobile/fenix/issues/5396

[2019-09-17 22:22] sblatz commented on #5396
These fixes should land with #5386

[2019-09-17 22:26] sblatz commented on #5396
My recommendation here is to simply add a SwitchPreference in settings under Privacy to "Always launch in private mode"

[2019-09-17 22:28] #514 closed

[2019-09-17 22:49] NotWoods commented on #394
Updated the TODO list: We have an API key for TWAs ready but its not yet accessible in the codebase. @jonalmeida will be adding it in soon.

[2019-09-17 22:53] jpfaller commented on #5371
Can it say "Default search engine" ? If not I think this is OK

[2019-09-17 22:53] jpfaller commented on #1749
Feldman approved copy.

[2019-09-17 22:58] Nimitay opened #5399 "[Bug]"
![Screenshot_20190917-171228](https://user-images.githubusercontent.com/25124711/65089088-d04d8900-d989-11e9-8c33-e578cd46706f.png)
## Steps to reproduce
Go to Google.com
Try typing anything that brings up automatic search suggestions.
See the difference in fonts.

### Expected behavior
I expect it to have the same font between what I type and the search suggestions And have the suggestions be bol

[2019-09-18 00:02] ehsan opened #5400 "Let Users Know About "Send to device" (Feature Discoverability)"
### Why/User Benefit/User Problem
It allows for example continuing to read something from my phone to my laptop.

### What/Requirements
Add a feature similar to "Send Tab to Device" on Firefox desktop.

### Acceptance Criteria (how do I know when I’m done?)
When you can send a tab to a device that is syncing with Firefox Accounts and for the tab to open on that device.

[2019-09-18 00:07] ekager commented on #5400
We do have send to device if you are logged in to fxa and press the 3 dot menu -> share. Is this different than what you mean?

[2019-09-18 01:19] neekless commented on #5364
@sblatz You can do it by clearing defaults in Settings for the app.
![Screenshot_20190918-091550](https://user-images.githubusercontent.com/22426822/65095827-3f3ed800-d9b2-11e9-94e8-c23529018144.jpg)

[2019-09-18 02:05] Nimitay commented on #5399
I figured this issue out. It was because I had an module from magisk manager called Ubuntu font. Disabling it returned things to normal. Although I still would like to know why exactly.

[2019-09-18 03:32] neekless opened #5402 "[Suggestion] Tab management buttons"
### Why/User Benefit/User Problem
Currently in private tabs the New tab, Share tabs, and Close all tabs buttons are all shown.
![Screenshot_20190918-111348](https://user-images.githubusercontent.com/22426822/65105093-5639f600-d9c3-11e9-9e60-c336b0b4ca93.jpg)

In regular tabs, only the New tab button is shown, with the rest hidden behind a 3-dot menu.
![Screenshot_20190918-111344](https://user-imag

[2019-09-18 03:41] neekless commented on #5383
I think she expects the top margin (above the 'browse without being followed' line) to be consistent. When the text size is increased the text should be pushed down while keep that margin unchanged.

[2019-09-18 03:53] neekless commented on #5399
It's highly likely that the module did not handle fonts.xml properly

[2019-09-18 04:11] ekager commented on #5397
From the [official Android DayNight article](https://medium.com/androiddevelopers/appcompat-v23-2-daynight-d10f90c83e94)

[2019-09-18 04:11] neekless commented on #5399
That looks like fennec not fenix

[2019-09-18 04:36] kumarharsh commented on #4939
Oh, yeah that fixed it.

There is another issue that embedded Twitter card images don't load on any website, which got fixed by disabling Tracking Protection.

Fenix needs a better way to tell the user about this "bug" - people forget that they have TP on or that TP is the cause for stuff not working.

[2019-09-18 04:58] ekager commented on #4939
That's why we are starting to collect common site issues in #5392 and allowing users to choose which level of tracking protection they want to use #1749

[2019-09-18 05:19] kostrse opened #5403 "Indicate that the entered address is direct URL or search query"
### Why/User Benefit/User Problem

When entering URL into the "Search or enter address" control, it's unclear whether the entered address will be opened directly as an URL or will be sent as a search query to the selected search engine.

Sometimes the user intention is to enter the website address directly into the address bar, but due to accidental error (space, comma instead of dot etc.) the add

[2019-09-18 06:44] softvision-miralobontiu commented on #5396
Might be related to #5375 and #5131.

[2019-09-18 08:07] softvision-miralobontiu commented on #4939
Tested again with the latest Nightly 190916 (#12591838) with Huawei P9 Lite (Android 6), Sony Xperia Z2 (Android 6.0.1), and Xiaomi Mi 8 Lite (Android 9) and this issue no longer reproduce.
On avito.ru and wildberries.ru, the ETP was enabled, and the social media buttons redirected me to the sign-in page.

[2019-09-18 08:25] softvision-miralobontiu commented on #4938
On the latest Nightly 190916 (#12591838) the button works with ETP off.
Tested with Sony Xperia Z2 (Android 6.0.1), and Motorola Moto G6 (Android 8).

[2019-09-18 08:36] softvision-miralobontiu commented on #4941
Verified on the latest Nightly build 190916 (#12591838) with Motorola Moto G6 (Android 8) and:
- the "Show more" button works with ETP on,
- the social media buttons work with ETP on.
I will close this issue.

[2019-09-18 08:36] #4941 closed

[2019-09-18 10:21] ReekyMarko opened #5404 "[Bug] The site title is using a font that is too small in custom tabs"
![Screenshot of the problem](https://i.imgur.com/z9mIb4r.png)

This happens on every site I tested

[code]

[2019-09-18 10:30] buttercookie42 commented on #5386
See also #2493

[2019-09-18 10:31] buttercookie42 commented on #5331
Also #2483

[2019-09-18 11:17] softvision-sergiulogigan opened #5405 "[Bug] Two OK button are displayed on the Confirmation pop-up"
**Browser / Version**
Firefox Fenix (Preview) 1.4.1

**Operating System**
OnePlus 6 (Android 9) - 1080 x 2280 pixels, 19:9 ratio (~402 ppi pixel density)

**Prerequisites:**
Login with a GitHub account that has unread notifications.

**Steps to reproduce:**
1. Navigate to: https://github.com/notifications
2. Tap on the "Mark as read" button.

**Expected Behavior:**
A confirmation pop-up with <Canc

[2019-09-18 11:42] pocmo opened #5406 "DeleteAndQuitTest fails for fennecProduction build type"
`DeleteAndQuitTest` is failing for the `fennecProduction` build type:
https://tools.taskcluster.net/groups/NUDVpqIwShOoOy05eeyNBw

[code]

[2019-09-18 11:43] pocmo commented on #5406
CC @ekager @NotWoods You both seem to have worked on that test.

[2019-09-18 11:45] mcarare commented on #5383
Also, with an even larger font the "Learn more" is being cut-off:
<img src=https://user-images.githubusercontent.com/48995920/65145663-c0ce4e80-da22-11e9-9090-b538f4a7b42d.png width=50%>

[2019-09-18 13:13] Nimitay commented on #5399
What exactly is the difference, sorry for my ignorance.

[2019-09-18 13:14] jonalmeida commented on #5397
Not the most ideal of solutions, but maybe change the theme the next time the activity needs to be re-created?

I was playing a mobile game around evening time, then the theme changed and I lost all progress in it. Feels like I'm being trained to not use my phones at sundown and when battery is low. 😅

[2019-09-18 13:54] cadeyrn commented on #5399
It's a different browser. Your screenshot shows the old "Firefox" (code name "Fennec"). But this is the repository of "Fenix", currently branded as "Firefox Preview", which will replace the old Firefox in a few months.

This is the correct place for reporting bugs in the old Firefox:
https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox%20for%20Android

[2019-09-18 14:22] Nimitay commented on #5399
Ok thank you. I actually did reproduce the issue in Firefox preview. But next time I have an issue I will make sure I post in the correct place.

[2019-09-18 14:22] #5399 closed

[2019-09-18 15:28] sblatz commented on #2157
This is still [waiting on the AC implementation](https://github.com/mozilla-mobile/android-components/issues/2727)

[2019-09-18 15:37] yoasif commented on #5315
Can you open the Google doc up @vesta0?

[2019-09-18 16:29] creesch commented on #5315
I concur, having feature briefs linked in an open source project that only people with access can see seems to go against the open source spirit. If it is an on going internal discussion I sort of understand but having some context here for us eagerly following development would be nice.

[2019-09-18 16:42] cpeterso commented on #2184
The GV bug was fixed in GV 69, so we should confirm this Fenix bug is also fixed.

https://bugzilla.mozilla.org/show_bug.cgi?id=1545499#c15

[2019-09-18 16:48] sblatz commented on #5406
This one seems to be an intermittent failure. I've had it pass/fail for me on my taskcluster after re-running a few times.

[2019-09-18 17:12] creesch opened #5410 "Public (community) wikis and issues should not link to google docs that can't be accessed by the community."
I am really not sure where else I am supposed to place this but as there doesn't seem to be any other place to publicly discuss the development of fenix (I briefly considered the support forum, but that seems to be more specifically for... well, support) so I figured this is the best shot.

For a while now I have been trying to get some insights in the development direction of fenix and generally

[2019-09-18 17:17] rocketsroger commented on #5344
Fixed in A-C 14.0.0

[2019-09-18 17:36] sblatz commented on #5396
This is a demo of my proposed solution. Basically all external links would switch the user to private mode and then open the link.

<img width=350 src=https://user-images.githubusercontent.com/4400286/65171589-0d546280-da00-11e9-8c83-93c38e980422.gif>

[2019-09-18 17:37] sblatz commented on #5396
cc @vesta0 and @topotropic for your thoughts on pulling this in to 2.1?

[2019-09-18 17:38] sblatz commented on #5396
@jpfaller could you provide official strings for the "Open links in private mode"?  I tried "Open external links in private mode" (which is a bit more accurate, but it takes up two lines and looks bad).

[2019-09-18 17:46] jonalmeida commented on #5344
@rocketsroger Fenix leaves issues open and adds the 'eng:qa:needed' label for QA to verify the changes.

[2019-09-18 17:46] sblatz opened #5411 "[Bug] Trash can becomes red when swiping away tab in private mode"
![red trash can](https://user-images.githubusercontent.com/4400286/65172285-86a08500-da01-11e9-8474-e04c7fa54232.gif)

[2019-09-18 17:47] NotWoods commented on #5404
Duplicate of #5344. This just got fixed 😄

[2019-09-18 17:47] #5404 closed

[2019-09-18 17:47] rocketsroger commented on #5344
Understood.  I'll assign under my name then.  Thanks for letting me know.

[2019-09-18 17:56] sblatz commented on #5312
@vesta0 Are you wanting to send the tracking protection setting in the core ping too? `strict` `basic` or `off`?

[2019-09-18 18:14] jpfaller commented on #5396
What about:

Launch links in a private tab

[2019-09-18 18:45] sblatz commented on #5364
I believe this was fixed by https://github.com/mozilla-mobile/fenix/pull/5398. QA please confirm 😄

[2019-09-18 19:36] bswe commented on #5233
Clarity in describing a feature is essential and necessary, and not "splitting hairs" at all.   My original comment did contribute usefully to clarifying what needed to be implemented for this issue.  Your follow up comment was not necessary and sounded rather defensive and dismissive.

[2019-09-18 19:43] cadeyrn commented on #5315
@vesta0 As add-on developer I am particularly interested in the APIs you plan to support. What is the best place to talk about the APIs I need to port my add-ons to Fenix?

[2019-09-18 19:47] rocketsroger commented on #2588
Reproduced this issue on both fennec and fenix.

[2019-09-18 19:50] kbrosnan commented on #3580
Verified this on a Pixel 3 which was crashing before.

[2019-09-18 19:53] jonalmeida opened #5413 "IllegalArgumentException: Display not attached"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6318758/

[code]

[2019-09-18 20:02] ekager commented on #1749
The string has been updated and it is QA verified, so I am closing this bug 👍

[2019-09-18 20:13] rocketsroger commented on #2588
cc: @bifleming

[2019-09-18 20:17] topotropic commented on #4239
Yes, @thewhitetulip's explanation makes sense, please don't sort collections after last edit. Thanks!

[2019-09-18 20:31] topotropic commented on #3731
Please open the tabs from a collection in the same order as they are displayed in the collection – this helps people to find their tabs and they don't have to re-orient themselves.

It also makes sense to update the order of the menu so that people quickly find "Open tabs"

- Open tabs
- Rename collection
- Add tab
- Delete

[2019-09-18 20:39] topotropic commented on #4544
dupe of https://github.com/mozilla-mobile/fenix/issues/2917

[2019-09-18 20:39] #4544 closed

[2019-09-18 20:48] bswe commented on #5233
Just noticed that the PrivateShortcutCreateManager method gets called within both SettingsFragment and HomeFragment, so it seems like the fix for the settings menu should be added to the home also.

I would be happy to take on implementing this feature.

[2019-09-18 21:21] mikeGolf08 commented on #5164
You're right - will change header.

[2019-09-18 21:27] mikeGolf08 commented on #4642
Since the current state is that the settings close in any case I have closed the ticket.

[2019-09-18 21:27] #4642 closed

[2019-09-18 21:34] mikeGolf08 commented on #4788
Since the current state is that the settings close in any case and no going back by Android back keys is possible I have closed the ticket.

[2019-09-18 21:34] #4788 closed

[2019-09-18 21:41] talsemgeest commented on #5330
I've been seeing the same large share button when using Feedly. To reproduce, in Feedly settings make sure "Preferred Browser" is set to "Built-in" which causes it to use custom tabs. Then simply tap on an article, then tap on the article title which will open it in the custom tab.

[2019-09-18 21:50] ekager commented on #5330
Ah thank you @talsemgeest ! Seeing it now. Filed https://github.com/mozilla-mobile/android-components/issues/4457

[2019-09-18 22:55] boek commented on #3077
@ryanfeeley Do you know where these buttons should send users?

[2019-09-19 00:29] sblatz commented on #5396
Updated with string @jpfaller requested.

Touched base with @topotropic and her feedback was to just move the preference toggle down a slot which I have also done.

[2019-09-19 01:04] sblatz commented on #2754
@colintheshots are you planning on picking this up? :)

[2019-09-19 02:24] rocketsroger commented on #2588
cc: @miketaylr

[2019-09-19 02:28] ekager commented on #5405
Hm if it's not happening on Nightly or 2.0 then we can probably close this because we are releasing 2.0 now :)

[2019-09-19 03:36] thanuj10 opened #5417 "[Bug]Fenix rendering different fonts when the System Font is changed."
## Steps to reproduce
1. Change system fonts
2. Open Fenix
3. Browse Google search or any website

### Expected behavior
Fenix renders different, weird looking fonts

### Actual behavior
Fenix renders the correct fonts.

### Device information

* Android device: Nokia 6.1 Plus/Android 9.0
* Fenix version: 2.0.0

![GT1](https://user-images.githubusercontent.com/43717642/65211546-bfe9fb00-dabc-11e9-

[2019-09-19 03:39] ekager commented on #4798
Merged in AC as https://github.com/mozilla-mobile/android-components/pull/4453 we should get this in the next snapshot

[2019-09-19 05:42] ReekyMarko commented on #5404
Wonder why I could not find it. Well thanks anyway!

[2019-09-19 06:02] Scripterr opened #5418 "[Bug]Three dot menu doesn't animate"
## Steps to reproduce
1.open a webpage.
2.click on the menu button.
### Expected behavior
The menu animates from bottom to top.
### Actual behavior
It don't animates at all.
### Device information

* Android device: 8.0.0
* Fenix version:Nightly 190918 18:01 (Build #12611806)
📦: 13.0.0, 3cb2ac19c
🦎: 71.0a1-20190916093313

[2019-09-19 06:56] vesta0 opened #5419 "[Meta] Save / Autofill Basic Form Data"
This meta contains all the stories regarding saving, syncing, and auto-filling user's form data.

This is useful for mobile considering typing is more of a hassle on mobile and it will allow users to complete their tasks faster.

**The scope for Q1 is EN-US locale.**

### Dependencies
-This depends on #5543 for the GV work.
-Having duplicates is concerning (can we merge them? we will address it in

[2019-09-19 07:00] AndiAJ commented on #4148
@cpeterso I've checked on Fennec 68.1.1 (Playstore) & Chrome and in both cases the video control bar is available.
On the other hand, On Fenix Nightly Build #12611805 from 19/8 with or without tracking protection the video control is not displayed.

[2019-09-19 07:35] cadeyrn commented on #5244
Could you please add one item to your checklist for future releases?

- [ ] make sure that all strings are translated

You shipped Firefox Preview 2.0 with a uncomplete translation. The German version has not only one English text. This is something that should be easy to catch before release…

Thank you. 🤗

[2019-09-19 07:51] Dexterp37 opened #5420 "[Bug] Tests are broken on Windows"
## Steps to reproduce
Run any test that's run with `RobolectricTestRunner` (e.g. `BookmarkAdapterTest`)

### Expected behavior
The test executes and passes.

### Actual behavior
The test breaks with an obscure `Resources$NotFoundException` exception .

Fenix is using Robolectric 4.2, while Android Components is using Robolectric 4.1. Version 4.2 is known to be broken on Windows. [Version 4.2.1 fix

[2019-09-19 07:53] hakkikaancaliskan commented on #4902
#1744

[2019-09-19 07:53] #4902 closed

[2019-09-19 07:54] hakkikaancaliskan commented on #5418
Delete and quit button brokes it.
You can disable it for now.

[2019-09-19 08:03] softvision-sergiulogigan commented on #5405
Yup... it's fixed.

![image](https://user-images.githubusercontent.com/16573771/65225034-08111980-dacd-11e9-9baa-6358f5d86e7f.png)

[2019-09-19 08:03] #5405 closed

[2019-09-19 08:03] Scripterr opened #5421 "[Bug]share sheet doesn't hide when touched on translucent area"
## Steps to reproduce
1. Open a webpage.
2. Select share option from QAB.
3. Now click on the translucent area, from where you can see webpage.
### Expected behavior
The share sheet hide out of view and web page can be full seen.
### Actual behavior
Share sheet doesn't hide from clicking on the translucent area.
### Device information

* Android device: 8.0.0
* Fenix version: Nightly 190918 18:01

[2019-09-19 08:08] Scripterr commented on #5418
This doesn't have anything to do with delete or quit button because I'm not using quit feature.

[2019-09-19 08:15] hakkikaancaliskan commented on #5418
Then... Not producible for me.
Android 9, XZ1
Nightly 190918 18:01 (Build #12611806)
📦: 13.0.0, 3cb2ac19c
🦎: 71.0a1-20190916093313

[2019-09-19 09:16] vicanfon opened #5423 "[Bug] Search engines not synchronized"
## Steps to reproduce

Writing a shortcut of already created search engine on firefox desktop doesn't work on firefox preview.
For instance "u music" doesn't for launching a search on youtube with the search engine "https://www.youtube.com/results?search_query=%s". I can see that the bookmark is properly synchronized.

### Expected behavior

### Actual behavior

### Device information

* Android d

[2019-09-19 09:28] pocmo commented on #5406
Is it really intermittent for the `fennecProduction` build variant though? We haven't had a nightly build of that in three days and it's starting to block our ability to test migration. :)

[2019-09-19 09:29] topotropic commented on #3124
This is expected behavior at the moment – we want to keep and display the relation between the tabs;

[2019-09-19 09:43] sv-ohorvath commented on #5258
Verified as fixed on Nightly 9/19.

[2019-09-19 09:43] #5258 closed

[2019-09-19 09:46] sv-ohorvath commented on #2897
Blocking issue was fixed. Closing this issue.

[2019-09-19 11:47] mcarare commented on #3731
Just a note: Actually, the tabs currently open in the order they are saved in the collection, but they are ordered in the list with the most recent opened on top. This makes the list look reversed to the one in the collection.

[2019-09-19 12:24] topotropic opened #5428 "[Bug] Play icon on open tab"
## Steps to reproduce
1. Open ableton.com
2. Long press on one of the featured stories, for example "A Personal Take: Erin Barra...."  and open in new tab
3. Go to home

### Expected behavior
No play icon on open tab I just opened in background

### Actual behavior
There's a play icon on open tab

### Device information

* Android device: ?
* Fenix version: ?

[2019-09-19 12:27] topotropic commented on #3731
right – I see; open tabs sorts new to old and collection sorts old to new; so whatever we do, we should stick to the same sorting scheme

[2019-09-19 13:28] sv-ohorvath commented on #3700
@AmyYLee @vesta0 The homescreen menu doesn't have the Quit option. In my opinion it would make sense to have it there as well, considering it's something you want at hand when you need to quit the browser. What do you think?

[2019-09-19 13:36] sv-ohorvath commented on #3700
Otherwise this is verified as fixed on Nightly 9/19. Let me know if you want me to create a new issue for the comment above.

[2019-09-19 13:55] sv-ohorvath commented on #2570
Verified as fixed on Nightly 9/18.

[2019-09-19 14:06] sv-ohorvath commented on #5066
Verified as fixed with #5086.

[2019-09-19 14:06] #5066 closed

[2019-09-19 14:29] sv-ohorvath commented on #2639
I cannot reproduce on a Galaxy S8, Android 9 device, with Blokada on. But given that the reporter has a custom OS it might be different.
@AquaBytez Please let us know if you still have this issue, if not we can close this.

[2019-09-19 14:42] sv-ohorvath commented on #4517
@ekager
STR:
1. Open a webpage.
2. In that tab go to library>history/bookmarks again and open a new link.
3. Tap back.
Result: It will go to homescreen, not to history/bookmarks.

Works fine if you go to library from the homescreen, but not from a tab.

[2019-09-19 14:58] AndiAJ commented on #5130
Seems to be happening on Fennec as well https://bugzilla.mozilla.org/show_bug.cgi?id=1582453

[2019-09-19 15:21] sblatz commented on #5390
Just added them in #5389.

[2019-09-19 15:21] #5390 closed

[2019-09-19 17:45] eeejay commented on #4805
This works for me, is there something you are doing different?
![screencast](https://user-images.githubusercontent.com/5764/65267744-80c2a680-daca-11e9-9013-ed8ff06f5038.gif)

[2019-09-19 17:46] Bak840 opened #5434 "Switch between tabs by sliding over the address bar"
### Why/User Benefit/User Problem
I would like to be able to change tabs rapidly while I'm browsing by simply making my finger slide over the address bar.
### What/Requirements
Left and right sliding gesture detection on the address bar.
### Acceptance Criteria (how do I know when I’m done?)
When I make my finger slide to the left on the address bar the browser switches to the first tab to the lef

[2019-09-19 17:55] buttercookie42 commented on #5417
See [bug 1505650](https://bugzilla.mozilla.org/show_bug.cgi?id=1505650#c10).

[2019-09-19 18:07] ekager commented on #5434
Closing for #3481

[2019-09-19 18:07] #5434 closed

[2019-09-19 18:32] ekager commented on #5406
And today it's failing on
https://tools.taskcluster.net/groups/Szio0zDxTWiJ6sJIYkWULw/tasks/GxJU1i6jQvOSYdMvw73ZOA/runs/0/logs/public%2Flogs%2Flive.log
[code]

[2019-09-19 18:32] ekager commented on #5406
Any idea why FennecProduction builds would run differently here?

[2019-09-19 18:39] ekager commented on #5406
I also can't reproduce this locally when running `testGeckoBetaFennecProductionUnitTest` 🤔
Can anyone see this fail locally ?

[2019-09-19 18:41] cpeterso commented on #4148
Thanks! A Firefox engineer is able to reproduce the bug on his Samsung Galaxy S8, so this bug might be related to Samsung code. There is more discussion in Bugzilla here:

https://bugzilla.mozilla.org/show_bug.cgi?id=1581906#c3

[2019-09-19 19:27] IlgazC opened #5435 "[Bug] tiny font in address bar input area"
## Steps to reproduce
Tap address field to enter new URL/search
### Expected behavior
Input area moving to top and show characters typed in
### Actual behavior
Displays dot like tiny text, impossible to read in address bar

### Device information

* Android device: Nokia 5.1 plus running latest Android 9
* Fenix version: ?
![Screenshot_20190919-222648](https://user-images.githubusercontent.com/195

[2019-09-19 19:39] AaronMT commented on #5423
I don't believe search engines syncing is planned at the moment.

[2019-09-19 19:43] AaronMT commented on #5435
Reminds me of https://github.com/mozilla-mobile/fenix/issues/3827 but this is drastically miniscule. Is this only in the address-bar and only in Fenix? What would cause this?

[2019-09-19 19:57] IlgazC commented on #5435
I just got the current update and the issue is gone. Current build info:
Nightly 190919 18:00 (Build #12621820)
📦: 14.0.0, 0681a1e65
🦎: 71.0a1-20190916093313

[2019-09-19 19:57] #5435 closed

[2019-09-19 20:10] dector opened #5436 "[Bug] Fenix crashes when loading page + ANR"
## Steps to reproduce

1. Open any web-site in Fenix.
2. Browse.

### Expected behavior

No crash.

### Actual behavior

Almost every second time Fenix is crashing while loading page. Progress bar is filled around 25-35% at that time. Sometimes it happens while scrolling.

Mozilla Crash dialog and ANR dialog are shown.

### Device information

* Android device: Xiaomi Mi 4X (Android 7.1.2 / MIUI G

[2019-09-19 20:16] dector opened #5437 "Display build number on logo"
### Why/User Benefit/User Problem

Build version/number can be shown on "Firefox Preview" logo at least for Preview/nightly builds. It would be easier to get build info - now it requires few clicks with non obvious step to open "Settings".

### Acceptance Criteria (how do I know when I’m done?)

Build version number is displayed on the bottom right corner of "Firefox Preview" logo.

┆Issue is sync

[2019-09-19 20:33] sblatz commented on #5428
@pocmo is this an AC issue? We're just listening for the notification that media state has changed, so it doesn't feel like this is on the Fenix side.

That being said, it's possible https://github.com/mozilla-mobile/fenix/pull/5273 will fix this?

[2019-09-19 20:33] rpappalax opened #5438 "Upgrade UI test devices to newer models to prevent slowdowns"
Firebase testlab teams have reported that the sailfish devices are old and the pool won't be augmented, hence, we're seeing significant slowdowns on our tests.  Per the FTL team, migrating to new devices like walleye (Pixel 2) and blueline (Pixel 3) should mitigate this issue.  Also, we'll no longer test on API 21 as those devices are also limited in the test lab device pool

[2019-09-19 21:18] ekager opened #5442 "Show clear private data on quit menu item from Home Screen"
### Why/User Benefit/User Problem
We added the option to [clear user data on quit from the browser screen](https://github.com/mozilla-mobile/fenix/issues/3700), but we should add the option to the home screen menu as well

### What/Requirements
- Need UX decision for if we want to add this menu item on home.
- See #5323 for discussion of displaying some sort of progress/feedback to user while the

[2019-09-19 21:19] ekager commented on #3700
Thanks @sv-ohorvath ! I filed https://github.com/mozilla-mobile/fenix/issues/5442 for the follow up

[2019-09-19 21:19] #3700 closed

[2019-09-19 22:21] ekager commented on #5428
Not fixed by #5273 still seeing weird behavior following STR

[2019-09-19 22:39] sblatz opened #5444 "Make IntentReceiverActivity more testable & write test for intent processing"
@csadilek and I spent a considerable amount of time today trying to add additional tests for https://github.com/mozilla-mobile/fenix/pull/5416 but were unable to do to the fact that `IntentReceiverActivity` does not launch intents properly and uses the activity context.

We should make this file more testable so we can add a test for intent processing.

[2019-09-19 22:50] sblatz commented on #4780
To clarify: should we only show "normal mode" if the private mode tabs have been cleared (by the user force quitting the app or the system killing our process)? Or should it *always* show normal mode?

[2019-09-19 23:52] nahuhh opened #5445 "[Bug] disabled history suggestions toggle not functional"
![Screenshot_20190919-194723](https://user-images.githubusercontent.com/50635951/65289004-0d935180-db17-11e9-9da2-4f83f637fd93.png)
![Screenshot_20190919-194738](https://user-images.githubusercontent.com/50635951/65289012-1421c900-db17-11e9-8c05-8e74bed737bf.png)

## Steps to reproduce
- Setting > search  > turn off searching browsing history
- open a new tab and type
### Expected behavior
No hist

[2019-09-20 00:47] nahuhh commented on #5314
If you're still interested in doing this I think it would be a good idea. *opens up a can of worms*

Kinda ends up being a bunch of feature requests in one. Some of these are doable on their own and ones I would request regardless, others are specific to the implementation.

*1. On the homescreen/tabs screen, the 3 dot menu at the top left, remove that and make it just a settings gear. (Too many m

[2019-09-20 01:30] nahuhh commented on #5344
Looks fixed

[2019-09-20 01:34] nahuhh commented on #4560
I suggest joining the shield and lock icon so there is only one icon and menu, like it was a few weeks ago

Also.. When you toggle off tracking for a website, it should not hide the tracking menu from the website.

Don't need 2 menus:

![Adobe_20190919_212312](https://user-images.githubusercontent.com/50635951/65292363-2145b480-db25-11e9-93f0-fb9bf46f49fa.png)

[2019-09-20 01:57] nahuhh opened #5446 "[Bug] tracking toggle disappears when an exceptions is made"
## Steps to reproduce
1. Enable global tracking protection toggle
2. Go to a website, tap the shield and turn off tracking for that website
3. When the  website reloads, tap outside of the tracking popup to dismiss it

### Expected behavior
Shield icon disappears but tapping the padlock will allow you to turn tracking protection back on (mockup below)
- Tapping either icon should bring up the same

[2019-09-20 03:16] neekless commented on #5445
Can't reproduce in Android 9 with the same fenix version

Search browsing history on
![Screenshot_20190920-111215](https://user-images.githubusercontent.com/22426822/65296677-b1e7b900-db54-11e9-9fbb-9ce33a1247a3.jpg)

Search browsing history off
![Screenshot_20190920-111229](https://user-images.githubusercontent.com/22426822/65296682-b613d680-db54-11e9-9930-b409f862e8a8.jpg)

[2019-09-20 04:57] nahuhh commented on #5445
If it's of any consequence, I have 8000+ items in history.

[2019-09-20 05:02] nahuhh commented on #5371
Looks good

[2019-09-20 05:04] nahuhh commented on #5368
Not floating on
Nightly 190919 18:00 (Build #12621820)
📦: 14.0.0, 0681a1e65
🦎: 71.0a1-20190916093313

[2019-09-20 05:10] nahuhh commented on #5308
You can tap the "shortcuts"  the bottom to access the search engines.

Poorly named, should be "search with.."
Also should be able to tap the search engine icon in the address bar to perform the same function

[2019-09-20 08:01] topotropic commented on #561
@boek I added the private mode view to the initial issue https://github.com/mozilla-mobile/fenix/issues/561#issue-411172797

[2019-09-20 08:39] softvision-miralobontiu commented on #4805
Tested again on Xiaomi Mi 8 Lite (Android 9), and Google Pixel 3 (Android 9) on the latest Firefox Preview Nightly 190919 @6:19 (#12621820).
From the screenshot below, the voice assistant only read "to hang outside the Sutton...by", skipped National Trust from the beginning of the selected text and Nobel from the end of the selected text.
I've attached a logcat, I don't know if that helps.
Still r

[2019-09-20 08:55] softvision-miralobontiu opened #5447 "[Bug] Cross-out shield not displayed when ETP is OFF for a page"
## Steps to reproduce
1. Open a page.
2. Tap on the tracking protection shield from the left low corner.
3. Turn OFF the enhanced tracking protection.
4. Tap outside the sub-menu and observe the navigation bar.

### Expected behavior
A cross-out shield should be displayed, meaning the page has tracking protection OFF.

### Actual behavior
There is no shield displayed.
If the user wants to enable e

[2019-09-20 09:15] AndiAJ commented on #5359
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using the following devices:
• OnePlus A3 (Android 6.0.1)
• Samsung Galaxy S6 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

**►Browser**
![rsz_screenshot_20190920-120348](https://user-images.githubusercontent.com/51314259/65314496-221b2c80-db9f-11e9-95ca-29ff6395157b.png)

**►Custom tabs**
![rsz_screenshot_20190920-121226](https://user

[2019-09-20 09:15] #5359 closed

[2019-09-20 09:23] softvision-miralobontiu commented on #1744
Verified that the "Fill link from clipboard" is displayed when tapping on the search bar, if the user copied something in the clipboard.
Tested on the latest Nightly build 19092019 (#12621820) with Xiaomi Mi 8 Lite (Android 9), and Nexus 9 tablet (Android 7.1.1).

[2019-09-20 09:54] AndiAJ commented on #5371
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Pics
![rsz_screenshot_20190920-124926](https://user-images.githubusercontent.com/51314259/65318112-bc7e6e80-dba5-11e9-88b6-41f8d7a7134b.png)

![rs

[2019-09-20 09:54] #5371 closed

[2019-09-20 10:03] AndiAJ commented on #5368
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using a Pixel XL (Android 10)
![rsz_screenshot_20190920-130028](https://user-images.githubusercontent.com/51314259/65318750-e7b58d80-dba6-11e9-9b3c-ddb09d7eb8ed.png)

[2019-09-20 10:03] #5368 closed

[2019-09-20 10:37] nahuhh commented on #5447
Dupe of #5446

[2019-09-20 10:45] dector commented on #5436
<details>
<summary>ANR log</summary>

<pre>
E/ActivityManager: ANR in org.mozilla.fenix (org.mozilla.fenix/.HomeActivity)
    PID: 17278
    Reason: Input dispatching timed out (org.mozilla.fenix/org.mozilla.fenix.HomeActivity, Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago.  Wait queue length: 10

[2019-09-20 10:49] matusaurio commented on #5400
It'd be nice to have the option **_Add to Firefox_** directly in the share options like the one in Firefox for Android (see image below) instead of just opening the link (current behaviour).

![fenix](https://user-images.githubusercontent.com/6020173/65321065-84762c00-dba3-11e9-811c-7de40100e658.png)

[2019-09-20 11:31] softvision-miralobontiu commented on #5364
Verified as fixed. Opening a page in custom tab doesn't trigger the dialog to choose between multiple Firefox Preview apps.
Tested with Nexus 9 tablet (Android 7.1.1), and Xiaomi Mi 8 Lite (Android 9) with the latest Nightly build 190919 (#12621819).

[2019-09-20 11:31] #5364 closed

[2019-09-20 11:35] AndiAJ commented on #5277
Hi, verified as fixed on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Pic
![rsz_screenshot_20190920-143004](https://user-images.githubusercontent.com/51314259/65324113-eccd0980-dbb3-11e9-91ec-b57c2d15da52.png)

[2019-09-20 11:35] #5277 closed

[2019-09-20 11:39] softvision-miralobontiu opened #5448 "[Bug] Cannot turn off ETP on a custom tab"
## Steps to reproduce
1. Set Firefox Preview as the default browser.
2. Go to Gmail and open a link in custom tab.
3. Tap on the shield and turn OFF the enhanced tracking protection.

### Expected behavior
The user is able to turn off tracking protection.

### Actual behavior
The toggle can be disabled but after tapping outside the menu, and retapping on the shield, the ETP is turned back on.

###

[2019-09-20 11:39] #5447 closed

[2019-09-20 11:43] AndiAJ commented on #5304
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Pic
![rsz_screenshot_20190920-143924](https://user-images.githubusercontent.com/51314259/65324473-fe62e100-dbb4-11e9-9d3e-80d6408acbb0.png)

[2019-09-20 11:51] AndiAJ commented on #5174
Hi, verified as fixed on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20190920_144713](https://user-images.githubusercontent.com/51314259/65324793-e50e6480-dbb5-11e9-8ff1-28166370303e.gif)

[2019-09-20 11:51] #5174 closed

[2019-09-20 12:00] AndiAJ commented on #5151
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

Check websites:
► Rockfm.ro
► Soundcloud.com

[2019-09-20 12:00] #5151 closed

[2019-09-20 12:03] softvision-miralobontiu commented on #5344
Verified as fixed with Nexus 9 tablet (Android 7.1.1), Samsung Galaxy Tab A6 (Android 5.1), and Xiaomi Mi 8 Lite (Android 9) with the latest Nightly build 190919 (#12621819).

[2019-09-20 12:03] #5344 closed

[2019-09-20 12:17] AndiAJ commented on #3898
Hi, verified as fixed on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20190920_150735](https://user-images.githubusercontent.com/51314259/65326219-a24e8b80-dbb9-11e9-8b08-0ea9a5e753ce.gif)

[2019-09-20 12:17] #3898 closed

[2019-09-20 12:18] mcarare commented on #4526
I have submitted a fix for the first issue (onboarding theme picker).
For the other ones, IMO this is a desired behaviour. I don't think it is a good design choice to allow menus with multiple lines or to make menus too wide so they could cover the whole screen.
Can UX make a decision regarding this?

[2019-09-20 12:20] AndiAJ commented on #2184
Hi, this is **still reproducible when pressing the "Go" button** on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20190920_151320](https://user-images.githubusercontent.com/51314259/65326380-feb1ab00-dbb9-11e9-94

[2019-09-20 12:34] softvision-miralobontiu commented on #5279
Verified as fixed on the latest Nightly build 190919 (#12621819) with Nexus 9 tablet (Android 7.1.1), and Xiaomi Mi 8 Lite (Android 9).

[2019-09-20 12:34] #5279 closed

[2019-09-20 12:34] softvision-miralobontiu commented on #5270
Verified as fixed on the latest Nightly build 190919 (#12621819) with Nexus 9 tablet (Android 7.1.1), and Xiaomi Mi 8 Lite (Android 9).

[2019-09-20 12:34] #5270 closed

[2019-09-20 12:39] AndiAJ commented on #5228
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20190920_153151](https://user-images.githubusercontent.com/51314259/65327482-ba73da00-dbbc-11e9-8cb9-395caf78f1aa.gif)

[2019-09-20 12:39] #5228 closed

[2019-09-20 12:41] AndiAJ commented on #5229
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20190920_153810](https://user-images.githubusercontent.com/51314259/65327624-25bdac00-dbbd-11e9-9162-e873e822a528.gif)

[2019-09-20 12:41] #5229 closed

[2019-09-20 12:47] AndiAJ commented on #4798
Hi, **verified as fixed** on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20190920_154440](https://user-images.githubusercontent.com/51314259/65327970-e3489f00-dbbd-11e9-8d86-f684b81f97df.gif)

[2019-09-20 12:47] #4798 closed

[2019-09-20 12:52] Amejia481 commented on #5250
This is fixed in ac https://github.com/mozilla-mobile/android-components/pull/4456 as soon as the new snapshot is available it will be on Fenix

[2019-09-20 12:57] AndiAJ commented on #4855
Hi, as per Mihai's implementation from #2570 this can't be reproduced anymore on Nightly Build #12621819 from 19/9 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20190920_155127](https://user-images.githubusercontent.com/51314259/65328560-45ee6a80-

[2019-09-20 12:57] #4855 closed

[2019-09-20 13:12] sblatz commented on #5428
I'm going to open an issue in AC about this.

[2019-09-20 13:17] AndiAJ commented on #4788
Hi, due to the fact that after deleting any browsing data you are redirected to the home screen I'll mark this ticket as **verified** on Nightly Build #12621819 from 19/9
I've tested using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

[2019-09-20 13:19] sblatz commented on #2493
I may be mistaken, but I think the "erase private tabs" notification we now serve should protect against this case.

@colintheshots are you able to verify?

[2019-09-20 13:20] sblatz commented on #4841
@liuche I think the "just in time" notifications we have throughout the app would be good. Another first one would be the buttons we use (we have: destructive, normal filled, neutral filled currently).

[2019-09-20 13:22] Amejia481 commented on #5446
This will be covered on https://github.com/mozilla-mobile/android-components/issues/3264

[2019-09-20 13:44] #5438 closed

[2019-09-20 14:14] softvision-miralobontiu commented on #5263
Verified that the link to Settings is no longer displayed in the ETP panel in custom tab.
Tested on the latest Nightly build 190919 (#12621819) with Nexus 9 tablet (Android 7.1.1), and Xiaomi Mi 8 Lite (Android 9).

[2019-09-20 14:14] #5263 closed

[2019-09-20 14:37] pocmo commented on #5197
I'm about to put up a PR with the following `Fact`s being emitted from the component:

| Action | Item            |  Description                              |
|--------|-----------------|-------------------------------------------|
| PLAY   | state           | Media started playing.                    |
| PAUSE  | state           | Media playback was paused.                |
| STOP   | state

[2019-09-20 15:02] vesta0 commented on #5315
@yoasif @cadeyrn @creesch I will share more details as soon as we have them! The cross-functional team is currently discussing various approaches and we should have a plan soon. Thanks for your interest and stay tuned!

[2019-09-20 15:46] ekager commented on #4517
So chatted with @mcarare about this ticket and the slightly strange behavior detailed above but posting here for posterity. :)

We use an extension function `alreadyOnDestination` because if you have 2 `BrowserFragment`s that are created at any time, we get some nasty GeckoView crashes ("display already acquired").

`alreadyOnDestination` just checks if we're already on `BrowserFragment` and if no

[2019-09-20 16:05] mcarare commented on #4517
@ekager Thanks for posting these details. Keeping Library fragment makes Fenix act more like an app, versus the browser (like Chrome) behaviour to navigate back from a tab to the history of that tab or homepage (if there is no history)
I agree that we should further discuss these interactions.

[2019-09-20 16:06] sblatz commented on #1298
@liuche any update on this? I'm happy to look into this with you.

[2019-09-20 16:19] rushsteve1 commented on #4780
In my patch at least, and in the main version of Firefox Android, it only switches back to Normal mode when the app is killed and the private mode tabs are destroyed.

I personally think that this is better UX, since applications that haven't been quit are thought of as still being in-use. Also it would be very counter-intuitive to switch modes while retaining the private tabs.

[2019-09-20 16:22] ekager commented on #4517
@topotropic do you have any immediate feedback on https://github.com/mozilla-mobile/fenix/issues/4517#issuecomment-533608455? Maintaining the stack from Browser could get tricky. Or would you rather we file a followup about this?

[2019-09-20 16:26] pocmo commented on #5406
Just saw that taskcluster runs `test` instead of the test for the flavor version (@mitchhentges That's probably an optimization we should do to reduce the time this runs).

The full command taskcluster runs:
`./gradlew --no-daemon -PversionName=\"Signed-as-Fennec Nightly 190919 18:00\" clean test assembleFennecProduction`

I wonder if we can reproduce this with that (maybe without the `clean` to s

[2019-09-20 16:53] #5304 closed

[2019-09-20 17:25] mitchhentges opened #5454 "Only run tests for a single flavour"
When automation runs tests, it just does `./gradlew ... test ...`, which means that it (probably?) runs tests for each flavour.

We should instead just run the tests for a single flavour, to improve the timings of the test task

[2019-09-20 17:25] mitchhentges commented on #5406
I've created #5454 to do that optimization

[2019-09-20 17:27] sblatz commented on #4780
@rushsteve1 https://github.com/mozilla-mobile/fenix/pull/4773/files would get us most of the way there but we'd need to make sure to *not* switch to normal mode if the user launched with the private browsing shortcut or has "always open links in private mode" enabled.

[2019-09-20 17:28] sblatz commented on #5197
Thanks @pocmo! Please tag me for review on that so I get notified when it's merged and can implement in Fenix.

[2019-09-20 17:30] sblatz commented on #5314
@nahuhh Thanks for your suggestions! It'd be a lot easier for us to go through these feature requests if they were filed as separate tickets.

That being said, we did decide to move ahead with implementing this ticket, and you can track progress here: https://github.com/mozilla-mobile/fenix/issues/561 😄

[2019-09-20 17:44] lime124 opened #5457 "[Meta] Iterate on search experience"
### Why/User Benefit/User Problem
- Iterate on the search experience and bring more alignment between desktop and mobile search experiences.

### Acceptance Criteria (Added by PM. For EPM to track when a Meta feature is done)
-UX completed
-User stories completed
-Strings written and approved
-QA completed
-Localization done

### What / Requirements (Added by PM and Eng Manager)
-UX Designs (Immed

[2019-09-20 17:45] lime124 commented on #5457
@Verdi FYI

[2019-09-20 17:45] lime124 commented on #482
@vesta0 I think it's going to make sense for us to iterate on the search experience while we look at the enhanced search issue in Q4. i think there are a bunch of little things floating around that we can collect and tackle at one time.

[2019-09-20 17:48] lime124 commented on #4526
@jpfaller can you take a look and comment? thanks!

[2019-09-20 17:51] lime124 commented on #5442
@topotropic are you able to provide input while @AmyYLee is on PTO? thanks!

[2019-09-20 17:55] lime124 commented on #5340
thanks! i'm collecting related issues to the menu so that we can tackle them all at the same time. removing ux label as this will get prioritized with other work.

[2019-09-20 17:57] colintheshots commented on #5206
I believe this should be fixed by upgrading GeckoView to the latest 71 version.

[2019-09-20 18:13] sblatz opened #5458 "Write more tests for IntentReceiverActivity"
In the process of this we will need to rip lots of our code out of the overriden lifecycle functions.

[2019-09-20 18:14] lime124 commented on #5339
Hi all - let me tackle one point at a time...
- quantity numbers missing (e.g. tab count)- the DBDOQ screen shows less information (e.g. tab count) b/c the information is going to vary each time the person quits the browser and data is deleted. whereas in the DBD screen, that is a one time delete at that precise moment so the information (e.g. tab count) reflects exactly what is going to be delete

[2019-09-20 18:14] #5047 closed

[2019-09-20 18:16] lime124 commented on #5334
thanks tiger!

@apbitner and @AmyYLee to provide thoughts on this one. adam worked on custom tabs and amy worked on private mode theming.

[2019-09-20 18:19] lime124 commented on #5323
after chatting with emily - the big problem here is that the app can take a few seconds before all the data is deleted so the app can appear frozen as the task is completed.

@AmyYLee - thanks!

[2019-09-20 18:20] jpfaller commented on #4526
Of the options discussed, it feels like making the menus wider would be acceptable - I realize it isn't ideal but having critical instructional text cut off isn't either, and I agree that writing shorter menu items likely won't mitigate all of this risk.

Is the only way to get out of the menu to tap outside the surface? If so, we may need to incorporate another way of dismissing the menu.

Some o

[2019-09-20 18:33] lime124 commented on #5164
@AmyYLee to follow up when she's back from PTO. thanks!

[2019-09-20 18:35] lime124 commented on #5085
looks like this has been resolved from our side - removing ux label. please reach out again if you need something further!

[2019-09-20 18:36] lime124 commented on #4778
adding @jpfaller perhaps you can help with some ideas and thoughts on this?

[2019-09-20 18:54] nahuhh commented on #5339
1. Fair enough. Perhaps when you hit the "quit" button, a prompt will show
"quit Firefox and shred
40 open tabs
25 items from history
200mb cache
All Cookies
All Site permissions

Cancel/delete"

2. My thoughts exactly. Collections should not be included (manually created collection should be manually deleted)

3. Agree. Should be no "delete" button on DBDOQ  screen

4. Visual design. Should DBD s

[2019-09-20 19:07] agi90 commented on #4785
I still see this very frequently.

[2019-09-20 19:15] boek opened #5460 "[Bug] Missing spacing between input and search engine selection on search view"
![image](https://user-images.githubusercontent.com/1250545/65352767-49bec480-dba0-11e9-8993-fc457bb3051f.png)

[2019-09-20 19:30] ekager commented on #5460
cc @sblatz did you mess with the margin here when adding the clipboard item?

[2019-09-20 19:32] ekager commented on #4785
Dupe of https://github.com/mozilla-mobile/fenix/issues/5041?

[2019-09-20 20:46] sblatz commented on #5460
Yes, this is my bad!

[2019-09-20 21:26] rpappalax opened #5462 "[Bug] Fix intermittent UI tests failures"
Issue for tracking flaky tests that have been disabled  and/or need monitoring/investigation

disabling for now

shortcutSearchEngineSettingsTest
* fails on API 28
* fails on API 25
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5301034281545099442

firstRunHomeScreenItemsTest
* fails on API 28
* pass on API 25
https://console.firebase.google.c

[2019-09-20 22:00] agi90 commented on #4785
Yep sounds like the same issue!

[2019-09-20 22:01] ekager commented on #4785
Okay gonna close this onefor #5041 then :)

[2019-09-20 22:01] #4785 closed

[2019-09-20 22:18] sblatz commented on #4418
I'm closing this as it's no longer necessary now that UI tests run as a requirement on PR's.

[2019-09-20 22:18] #4418 closed

[2019-09-20 22:20] liuche commented on #1298
Sorry for not updating here! It's fine to include Adjust campaignIds into Glean ping, but we should check if this proposal changes.

[2019-09-20 22:22] ekager opened #5465 "[Bug] Delete browsing data button is always enabled even when no checkboxes checked"
## Steps to reproduce
- Uncheck all options

### Expected behavior
- There is nothing to selected, so button is disabled

### Actual behavior
►Video
![20190916_171322](https://user-images.githubusercontent.com/51314259/64966189-036b1c00-d8a7-11e9-8e79-99140988aafd.gif)

### Acceptance criteria
- [ ] When no checkboxes are checked, the delete button is disabled

This does NOT need to check for whet