[2019-05-21 19:01] vladikoff commented on #2565
cc @csadilek @vladikoff

[2019-05-21 19:06] bifleming commented on #2673
@kbrosnan can we get a little more detail on what exactly is going on here?

[2019-05-21 19:11] cpeterso commented on #1168
I filed new GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1553265 which might be related to "load flag to bypass the URI classifier" GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1509018

This bug probably does not need to block MVP.

[2019-05-21 19:50] topotropic opened #2699 "FNX3-16521 ⁃ Remove "Give feedback" option from Settings"
### Why/User Benefit/User Problem
This options is no longer maintained and will be replaced with other feedback mechanisms.

### What/Requirements
* remove "Give feedback" from Settings

[2019-05-21 20:06] jonichan commented on #658
Here's the in-product link: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/your-rights

[2019-05-21 20:10] ekager commented on #2682
Related to #2688 @sblatz is fixing

[2019-05-21 20:14] sblatz commented on #2682
Closing as dup of #2688.

[2019-05-21 20:28] vladikoff commented on #2196
@vesta0 @grigoryk we might need to file a different bug (marked as an MVP Blocker) for this so we don't forget. See affected users here: https://groups.google.com/forum/#!msg/fenix-nightly/H9kTciTLoBk/o81d81VOBQAJ

[2019-05-21 20:35] sblatz opened #2706 "Refactor Glean metrics abstraction to be less error prone"
Currently we are hardcoding strings that map Glean metrics from the `metrics.yaml` file to the extras passed in inside `metrics.kt`. This leads to crashes like #2688 as we have no safeguards to ensure that the metrics align. This is especially worrisome because, by default, telemetry events do not get send in dev builds, so an unsuspecting dev could _believe_ they were testing properly and still s

[2019-05-21 21:41] sblatz opened #2709 "[Bug] Tab on home fragment does not have title"
Currently it's possible to get in a state where the home fragment does not display a title or favicon for a partially loaded page. We should update the home fragment with the correct information when the session observer notifies us

I think the problem is that the session observer isn't created **before** navigating to the home fragment. That is:

1. Home fragment (we're observing)
1. Browser fra

[2019-05-21 21:42] eeejay commented on #1712
Fixed this in GeckoView. Needs to be uplifted to 68, right?

https://bugzilla.mozilla.org/show_bug.cgi?id=1553304

[2019-05-21 21:42] sblatz commented on #2421
Better ticket: #2709

[2019-05-21 22:06] ekager commented on #966
Hi @pocmo following up on your comment here:
https://github.com/mozilla-mobile/fenix/pull/944/files#r264376285
I'm still seeing a `java.lang.IllegalStateException: Display already acquired` crash when trying to view the custom tab, and wondering if you have any ideas. Do we need to release the engine? Can Fenix even do that?

This is what I just tried:

[code]

[2019-05-21 22:28] kbrosnan commented on #2688
Sentry issue: [FENIX-17B](https://sentry.prod.mozaws.net/operations/fenix/issues/5784693/)

[2019-05-21 22:32] kbrosnan opened #2711 "FNX3-16525 ⁃ IOException: org.mozilla.geckoview.WebRequestError: Request failed, error=0x11, category=0x1"
https://sentry.prod.mozaws.net/operations/fenix/issues/5785285/

[code]

Similar to #520

[2019-05-21 22:33] kbrosnan commented on #2711
New crash in release 1.0.1921. Looks like an A-C crash?

[2019-05-21 22:43] cpeterso commented on #1712
Yes, if you'd like this bug fixed in Fenix MVP (GV 68).

[2019-05-21 22:49] kbrosnan commented on #2694
Sentry issue: [FENIX-17T](https://sentry.prod.mozaws.net/operations/fenix/issues/5790542/)

New crash in release 1.0.1921.

[2019-05-21 23:21] kbrosnan opened #2712 "FNX3-16526 ⁃ SocketTimeoutException"
https://sentry.prod.mozaws.net/operations/fenix/issues/5785200/

[code]

New crash in 1.0.1921

[2019-05-21 23:25] vesta0 commented on #1168
Thank you @cpeterso and no it's not a blocker :)

[2019-05-22 00:21] grigoryk opened #2713 "[Bug] Onboarding - Blank screen after tapping Sign in, Sign in"
In the logs, I'm seeing the following:

[code]

Seems like state events are not being processed in the right order.

## Steps to reproduce
With a fresh Fenix install, click "Sign in" in the onboarding flow, then "sign in" again.

### Expected behavior
FxA sign-in page.

### Actual behavior
Blank screen. Going back, and tapping "sign in" again fixes the problem.

### Device information
* Android de

[2019-05-22 00:21] grigoryk commented on #2713
Makes perfect sense that trying this flow again fixes the problem. At that point we're already in the 'AccountNotFound' state, and process the 'Authenticate' event correctly.

[2019-05-22 00:33] jdragojevic opened #2714 "[Bug] Sync Interface Not updating after Login"
## Steps to reproduce
Sign into your Firefox Account (either with user/pass or pairing)

Once complete, visit settings page

### Expected behavior
Signed in account name is displayed and I can see my account settings

### Actual behavior
Sign in button is still displayed.
I have to wait a bit, then re-visit the account page until I see my account

### Device information
* Android device:
Samsung T

[2019-05-22 00:35] hawkinsw commented on #2612
Can anyone with permission assign this to me?

[2019-05-22 00:43] hawkinsw commented on #2668
Related to #2612

[2019-05-22 00:53] hawkinsw commented on #2668
See #2716

[2019-05-22 01:16] grigoryk commented on #2713
The simplest thing to do here is at the application level - we need to query make sure accountManager is initialized before we try interacting with it.

Good thing about this is that _we need to do this anyway_ for the onboarding flow: it should check our signed-in status, and adjust the UI accordingly; which means registering for account change events with the accountManager.

[2019-05-22 02:01] grigoryk opened #2717 "Onboarding account section should reflect different account states"
Currently we're assuming user will always be signed-out. Actually, user might have signed-in already, or in the future might have been auto-signed in (via a Fennec account).

[2019-05-22 02:54] jonalmeida opened #2719 "FNX3-16530 ⁃ [Bug] IllegalStateException: HomeFragment not attached to a context."
## Steps to reproduce
Switch between tabs quickly and the app crashes.

[code]

Seems to be caused from this addition.

* Android device: Pixel 2
* Fenix version: master (21-05-2019)

[2019-05-22 06:53] sv-ohorvath commented on #1574
Thank you @sblatz! I can close this now :)

[2019-05-22 07:08] sv-ohorvath commented on #2688
Verified as fixed on the 5/22 build.

[2019-05-22 07:14] softvision-miralobontiu opened #2721 "FNX3-16532 ⁃ [Bug] [Onboarding] Automatic radio button isn't selected when tapped"
## Steps to reproduce
1. Install the latest build of Firefox Preview.
1. Scroll to "Choose your theme".
1. Tap on "Dark Theme", then on "Automatic".

### Expected behavior
The theme is darkened, then adapts to your device, and the "Automatic" radio button is checked.

### Actual behavior
The "Automatic" radio button is not checked but works as expected. A second tap resolves the problem.

### Devi

[2019-05-22 07:15] Lululalu opened #2722 "FNX3-16533 ⁃ [Bug] Pages opened in new tabs have no favicon until they are active and fully loaded."
## Steps to reproduce
Go to theguardian.com
Open some news in new tabs

### Expected behavior
New tabs are shown with the same favicon as the home page.

### Actual behavior
New tabs don't have any favicon. The favicon is only loaded after switching to the tab.
![Screenshot](https://user-images.githubusercontent.com/32398857/58154555-46461b80-7c48-11e9-996a-e38b324ca958.jpg)UNITO-UNDERSCORE!201905

[2019-05-22 07:17] sv-ohorvath commented on #2474
This is still reproducing on the 5/22 build, with the same steps.

[2019-05-22 07:27] sv-ohorvath opened #2723 "FNX3-16534 ⁃ [Bug] Normal browsing homescreen visible in PB, after visiting Privacy Policy"
## Steps to reproduce
1. Switch to private browsing.
1. Go to Settings>Privacy Policy.
1. Return to PB homescreen.
    1. Expected behavior
PB homescreen displayed.
    1. Actual behavior
Normal homescreen tabs & rest of the UI are on the PB home.
    1. Device information

* Android device: Galaxy Note 8(Android 9), P9 lite (Android 6)
* Fenix version: build 5/22
![20190522](https://user-images.g

[2019-05-22 07:31] sv-ohorvath opened #2724 "[Bug] Privacy Policy tab stays in the background as a second app instance"
## Steps to reproduce
1. Go to Settings>Privacy  Policy
1. Press back to return to the app homescreen.
1. View the task manager.
    1. Expected behavior
One Fenix window.
    1. Actual behavior
Two Fenix tasks running, one with the preview of the Privacy policy page. When you tap to open it, it will show just a blank page.
    1. Device information

* Android device: Galaxy Note 8(Android 9), P9

[2019-05-22 07:54] cpeterso commented on #2671
The Firefox Security team recommends that Fenix and Fennec use the same Tracking Protection terminology as Firefox desktop:

Option|Regular Browsing|Private Browsing
--|--|--
"Standard" (default)|Block tracking cookies|Block tracking cookies and trackers
"Strict"|Block tracking cookies and trackers|Block tracking cookies and trackers
Disabled|No blocking|No blocking

Tracking cookie blocking is En

[2019-05-22 08:05] sv-ohorvath opened #2725 "[Bug] Undo snackbar is not displayed when removing a tab from a collection"
## Steps to reproduce
1. Save a collection.
1. Remove a tab from the collection.
    1. Expected behavior
According to [mocks](https://mozilla.invisionapp.com/share/8ZQVRNUJW3H#/screens/359019534), a snackbar confirmation with an undo button.
    1. Actual behavior
No snack bar with the Undo action.
    1. Device information

* Android device: Galaxy Note 8, P9 lite
* Fenix version: 5/22

┆Issue i

[2019-05-22 08:08] sv-ohorvath commented on #2205
New issue, which I think is related to this ticket: #2725

[2019-05-22 08:48] softvision-miralobontiu opened #2726 "FNX3-16537 ⁃ [Bug][Onboarding] "Start browsing" button must be double tapped to respond"
Prerequisites: Make sure it's a clean profile.

## Steps to reproduce
1. Go to "Start browsing" button, at the end of the onboarding tour.
1. Tap on it.

### Expected behavior
The onboarding tour should be dismissed.

### Actual behavior
Nothing happens. You have to double tap it.

### Device information
* Android devices: Sony Xperia Z5 Premium (Android 7.1.1), Samsung Galaxy Note 8 (Android 9),

[2019-05-22 09:00] mitchhentges commented on #2469
Replaced by #2523

[2019-05-22 09:22] sv-ohorvath commented on #1830
Ok, I just saw the thumbnails being updated, but for some websites it takes a little longer. Marking this as fixed on the 5/22 build.

[2019-05-22 10:19] abodea commented on #1501
Verified as fixed in the latest version **`1.0.1921(Build #1142060 68.0a1-20190508111321).`**
Note that I was able to test the following scenarios also mentioned in the description.
**`Devices used: Google Pixel 3(Android 9) and Samsung Galaxy S8+(Android 8)`**.
### Syncing with various network conditions (stable fast, stable slow, spotty)
* Launch Fenix, connect with an FF account, while the conn

[2019-05-22 11:29] softvision-miralobontiu commented on #2399
Verified as fixed on the latest build 1.0.1921 (11420606), with Sony Xperia Z5 Premium (Android 7.1.1), Nexus 5 (Android 6.0.1), Sony Xperia Z2 tablet (Android 6.0.1), and HTC 10 (Android 8).

[2019-05-22 11:32] softvision-miralobontiu commented on #2392
Verified as fixed on the latest build 1.0.1921 (11420606), with:
- Sony Xperia Z5 Premium (Android 7.1.1),
- Nexus 5 (Android 6.0.1),
- Sony Xperia Z2 tablet (Android 6.0.1),
- HTC 10 (Android 8).

[2019-05-22 11:34] sv-ohorvath opened #2727 "FNX3-16538 ⁃ [Bug] Delete 2 collections consecutively, both will appear back for a second"
## Steps to reproduce
1. Create 2 collections.
1. Delete them consecutively.
3 Watch the collections section as they are removed.
    1. Expected behavior
they are deleted and don't show up anymore.
    1. Actual behavior
Both have a second of re-appearing as they are deleted.
    1. Device information

* Android device: Galaxy Note 8 (Android 9)
* Fenix version: 5/22

[2019-05-22 11:36] sv-ohorvath commented on #2584
Verified on the 5/22 build.
devices: Galaxy Note 8 (Android 9), P9 lite (Android 6)

[2019-05-22 11:42] sv-ohorvath opened #2728 "FNX3-16539 ⁃ [Bug] Collection created from the main menu of a tab is empty"
## Steps to reproduce
1. Open a web page.
1. From the main menu, select Save to collection.
1. Create a new collection.
    1. Expected behavior
A new collection, with one tab is created.
    1. Actual behavior
An empty collection is created.
*Adding the page to an existing collection works.
    1. Device information

* Android device: Galaxy Note 8 (Android 9), P9 Lite (Android 6.0)
* Fenix versi

[2019-05-22 11:47] sv-ohorvath opened #2729 "FNX3-16540 ⁃ [Bug] New collection created from the main menu of a tab doesn't respect the default name numbering system"
## Steps to reproduce
1. Create a new collection, with the default name: "Collection 1"
1. Open a web page.
1. From the main menu, select Save to collection.
1. Observe the default name suggested.
    1. Expected behavior
As it happens when you save a group of tabs, the default name goes from 1 to n, avoiding duplicated names.
    1. Actual behavior
The default name suggests again "Collection 1".

[2019-05-22 11:55] softvision-miralobontiu commented on #982
Verified as fixed on the latest build 1.0.1921 (11420606), with:
- Sony Xperia Z5 Premium (Android 7.1.1),
- Nexus 5 (Android 6.0.1),
- Sony Xperia Z2 tablet (Android 6.0.1),
- HTC 10 (Android 8).

[2019-05-22 11:55] #982 closed

[2019-05-22 11:56] sv-ohorvath opened #2730 "FNX3-16542 ⁃ [Bug] Deleted collections appear when a tab is saved to a collection"
## Steps to reproduce
1. Create 3 collections. Delete one.
1. Open a web page.
1. From the main menu, select Save to collection.
1. Observe the existing collections listed.
    1. Expected behavior
Only the existing collections are displayed.
    1. Actual behavior
The deleted collection appears in the list.
Until you restart the app and then none appear, or just one of them.
    1. Device informa

[2019-05-22 12:13] sv-ohorvath commented on #1574
Reopened to add new blocking issues.

[2019-05-22 12:21] softvision-miralobontiu commented on #2390
Verified as fixed on the latest build 1.0.1921 (#11420606), with:
- Sony Xperia Z2 tablet (Android 6.0.1),
- HTC 10 (Android 8),
- Nexus 5 (Android 6.0.1),
- Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-22 12:34] sv-ohorvath commented on #1576
Verified on the 5/22 build.
devices: Galaxy Note 8 (Android 9), P9 Lite (Android 6.0)

[2019-05-22 12:50] softvision-miralobontiu opened #2731 "[Bug] Firefox Privacy Notice page is opened as a custom tab"
## Steps to reproduce
1. Go to Settings - Privacy Policy.
1. Tap on Privacy Policy.

### Expected behavior
The [page ](https://www.mozilla.org/en-Us/privacy/firefox/) is loaded in a tab..

### Actual behavior
The [page ](https://www.mozilla.org/en-Us/privacy/firefox/) is opened as a custom tab.

### Device information
* Android devices: all
* Fenix version: 5/22

### Note
The same behavior happens

[2019-05-22 13:10] sv-ohorvath opened #2732 "FNX3-16544 ⁃ [Bug] With "select all" tabs are not added to an existing collection"
## Steps to reproduce
1. Create a collection.
1. Open some new tabs. Tap save collection.

#

* First scenario: On the selection screen, tap Select All.
* Second scenario: select some tabs individually, then tap Select All.

1. Add them to the existing collection.
    1. Expected behavior
The tabs selected with "Select all" are added to the collection.
    1. Actual behavior
Selecting with "Select

[2019-05-22 13:16] pocmo commented on #2406
A fix for this landed in AC and should get into Fenix with the next snapshot + Nightly.

[2019-05-22 13:22] pwd-github opened #2734 "[Bug] Blank tab after opening tabs tray and returning straight to tab"
## Steps to reproduce
1. Open tab
1. Navigate to a website (Mozilla.org)
1. Open tabs tray
1. Select the (Mozilla) tab that's already open

### Expected behavior
The content of the tab is displayed in its previous state.

### Actual behavior
The contents of the tab do not display.

### Device information
* Android device: Android 8, LG G8
* Fenix version: 1.0.1921

[2019-05-22 13:26] pwd-github opened #2735 "Allow for the removing of multiple tabs"
### Why/User Benefit/User Problem
This is for tab management.

### What/Requirements
Allow users to delete tabs in Multi-select view.

### Acceptance Criteria (how do I know when I’m done?)
When a user selects multiple tabs, they should be given the option to either save the tabs or remove them from the tabs tray.

[2019-05-22 13:31] rpappalax opened #2736 "[Bug] Fix Docker build error"
Docker build is currently broken on error below.  Current Dockerfile was a WIP that got merged pre-maturely, but master was broken before so, per chat with @pocmo, I'll re-open a PR and continue address the issue here.
see: https://github.com/mozilla-mobile/fenix/pull/2489

@mitchhentges suggests running a completely clean build, which I'll attempt today

[code]

## Steps to reproduce
[code]

###

[2019-05-22 13:52] softvision-miralobontiu commented on #2414
Verified as fixed on the latest build 5/22, with Sony Xperia Z2 tablet (Android 6.0.1), HTC 10 (Android 8), and  Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-22 13:56] softvision-miralobontiu commented on #2447
Closing this as a dupe of #2414

[2019-05-22 14:02] softvision-miralobontiu commented on #2391
Verified that the user can dismiss onboarding tour by:
- tapping on Settings or Your Library, from the main menu,
- tapping on the search bar,
- tapping on Start browsing.

Testing with the build from 5/22, on the following devices: Nexus 5 (Android 6.0.1), Sony Xperia Z2 tablet (Android 6.0.1), HTC 10 (Android 8), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-22 14:06] jonalmeida commented on #1007
This should be fixed in tomorrow's A-C 0.54.0 snapshot. (Fenix is currently on 0.53.0)

[2019-05-22 14:07] jonalmeida commented on #1281
This should be fixed in tomorrow's A-C 0.54.0 snapshot. (Fenix is currently on 0.53.0)

[2019-05-22 14:23] Lululalu opened #2737 "[Bug] Touching a suggested emoji on the keyboard doesn't replace the previous typed word by the respective emoji on the search/address bar, if the word autocompletes an address. ."
## Steps to reproduce
Enable emoji suggestion on your keyboard(I used SwiftKey)
Type the name of an emoji that autocompletes an address on Fenix search bar (apple :green_apple: for example)
Touch the suggested emoji

### Expected behavior
The word apple is replaced by the :green_apple: emoji

### Actual behavior
After touch the :green_apple: emoji, nothing happens. Touching the :green_apple: again

[2019-05-22 14:23] pocmo opened #2738 "FNX3-16549 ⁃ [Bug] OnErrorNotImplementedException"
We see a bunch of `OnErrorNotImplementedException` on Sentry ("The exception was not handled due to missing onError handler in the subscribe() method call.").

https://sentry.prod.mozaws.net/operations/fenix/?query=is%3Aunresolved+OnErrorNotImplementedException

Those are super annoying since they hide the actual exception that has happened and make it hard to see the actual causes of crashes on S

[2019-05-22 14:31] sv-ohorvath commented on #1585
Verified this on the 5/22 build. No issues found.
devices: Galaxy Note 8 (Android 9), P9 Lite (Android 6.0)

[2019-05-22 14:43] pocmo commented on #2563
Unassigning myself because of decision in #2689

[2019-05-22 14:49] sv-ohorvath commented on #2377
Verified this on the 5/22 build.
devices: Galaxy Note 8 (Android 9), P9 Lite (Android 6.0)

[2019-05-22 15:09] sblatz commented on #2725
I tried working on this for a little bit. This is actually not possible given our current implementation of TabCollections. Their tabs are an immutable `List<Tab>`. Because of this, we have no way to update their list with that element removed (updating the view) without *actually calling the remove function on it*.

This would require a-c to make the tab list mutable.

[2019-05-22 15:11] sblatz commented on #2725
You can find my quick attempt at it [here](https://github.com/mozilla-mobile/fenix/compare/master...sblatz:undo-for-tab-deletion?expand=1).

[2019-05-22 15:13] vesta0 commented on #2677
We can close this since the current behaviour is intentional, and revisit the logic later on if we come across UX issues in future.

[2019-05-22 15:14] vesta0 commented on #2196
@vladikoff I agree. Would you please file a bug for it since you have more information about the potential cause?

[2019-05-22 15:25] vladikoff opened #2739 "FNX3-16550 ⁃ [Bug] Sync settings button doesn't transition to logged in state properly"
From https://github.com/mozilla-mobile/fenix/issues/2196#issuecomment-493157548
Google Groups: https://groups.google.com/forum/#!msg/fenix-nightly/H9kTciTLoBk/o81d81VOBQAJ

## Steps to reproduce
Login to Sync and open Fenix Settings

<img src=https://user-images.githubusercontent.com/128755/58187019-f84f0900-7c83-11e9-957c-dff83bb9371e.gif width=350 />

### Expected behavior
Should not show the Si

[2019-05-22 15:31] NotWoods commented on #176
The new back gesture in Android Q will automatically add swipe to go back into the app (from either side of the screen), but its probably still worth adding support for older Android versions and supporting forward swipes.

[2019-05-22 15:34] AaronMT opened #2740 "[Bug] Tapping the address bar yields a UI hang on x86 emulator"
Build: 5ec783f6e5e4f7b9cb7a246228f9f7e35fd7fb01
Device: x86 debug Pixel 2 Emulator

* Launch Fenix
* Tap the address bar

[2019-05-22 15:58] reinhart1010 commented on #162
That Google Group is intended for Google Play beta-testing (i.e. you must join that group to be eligible to obtain the pre-release Fenix in Google Play). Besides that, I let them know that their issues and suggestions have been listed here, including respective GitHub issue links.

[2019-05-22 16:05] cpeterso commented on #2594
The Firefox Security team recommends that Fenix and Fennec use the same "Standard"/"Strict" Tracking Protection terminology as Firefox desktop:

Option|Regular Browsing|Private Browsing
--|--|--
"Standard" (default)|Block tracking cookies|Block tracking cookies and trackers
"Strict"|Block tracking cookies and trackers|Block tracking cookies and trackers
Disabled|No blocking|No blocking

* Tracking

[2019-05-22 16:09] apbitner commented on #2593
No problem. Updated again this morning with minor copy edits from legal.

[2019-05-22 16:41] dector commented on #162
Can we make a list of issues that prevent releasing Fenix to F-Droid and attack them one-by-one?

[2019-05-22 16:50] sarentz commented on #2612
This looks like the build that had the new GeckoView? The timing is correct for that, we landed that last Friday at noon.

[2019-05-22 17:05] AaronMT commented on #2572
Available in-product now.

[2019-05-22 17:33] AaronMT commented on #2693
Reproducible on 5ec783f6e5e4f7b9cb7a246228f9f7e35fd7fb01 with an armDebug build on a Pixel 2

[2019-05-22 17:36] AaronMT commented on #2693
Work-around, supply '**http://**' e.g,

`$ adb shell am start -W -n org.mozilla.fenix/org.mozilla.fenix.IntentReceiverActivity -a android.intent.action.VIEW -d "http://www.google.com"
`

[2019-05-22 18:26] Amejia481 commented on #2673
The issue is caused as we are using [launchMode="singleInstance"](https://github.com/mozilla-mobile/fenix/blob/9057eed6d7eaa6313ffcd9285044bb76c099ed82/app/src/main/AndroidManifest.xml#L27) in Fenix. This provokes that when the file manager app opens an external application, it creates a separated task for it, as a result when the user picks a file it returns to the file manager app instead of Fen

[2019-05-22 18:34] g1897 commented on #1491
Once loading a page stopped, you can't reload it apart from tapping the address bar and press enter again.
Just to be more precise ;)

[2019-05-22 19:05] cpeterso commented on #232
Of the partner customizations listed above, I think the only ones that might affect GeckoView are:

Fennec's existing `general.useragent.device_id` code (from https://bugzilla.mozilla.org/show_bug.cgi?id=1262591) should already work in GeckoView, but we will need to test when the time comes.

We might need to update the telemetry API between Fenix and GeckoView.

[2019-05-22 19:43] ekager commented on #1286
@softvision-miralobontiu sorry for the delay! I should have left a comment here, but I was waiting on an AC issue that was merged yesterday to be able to dynamically change these engine settings. #2747 will reload the current session so you will be able to see the changes immediately when updating the setting.

[2019-05-22 19:53] sblatz opened #2750 "FNX3-16553 ⁃ [Bug] Tab collection constraints break when expanding a collection"
I thought doing a `view.invalidate()` would be sufficient for fixing this problem, but I've noticed it happening again.

See #2625 for more information.

![](https://user-images.githubusercontent.com/4400286/57961674-65018680-78c5-11e9-825f-d871f420895d.png)

I think this should be a bug we fix shortly after feature freeze due to how broken it can make the home view look.

## STR
1. Create several

[2019-05-22 20:09] jonalmeida opened #2751 "[Share] Add custom share sheet"
Parent: #331

[2019-05-22 20:10] jonalmeida opened #2752 "[Share] Add build flag for send tab"
Parent: #331

[2019-05-22 20:11] jonalmeida opened #2753 "[Share] Add send tab to share sheet"
Parent: #331

[2019-05-22 20:38] sarentz commented on #1951
This is tracked in https://github.com/mozilla-mobile/fenix/issues/2252

[2019-05-22 20:47] jonalmeida opened #2754 "FNX3-16557 ⁃ Add tab cards to share sheet"
Parent: #331

The card on the top of the share sheet that shows the tab(s) being sent. On the right is what the share sheet currently looks like.

![](https://user-images.githubusercontent.com/1370580/58425209-3fb00d80-8067-11e9-8061-fa22e0217597.png)

[2019-05-22 21:05] leobel96 opened #2755 "[Bug] Bookmarks folders not synced"
## Steps to reproduce
Add android device to sync chain

### Expected behavior
All the bookmarks and the folders of bookmarks should appear in the library

### Actual behavior
Only the bookmarks not inside folders appear

### Device information
Nokia 7 plus

* Android device: 9
* Fenix version: 1.0.1921

[2019-05-22 21:26] ncalexan opened #2756 "FNX3-16559 ⁃ [Bug] crash when running raptor twice - java.lang.RuntimeException: Unable to resume activity {org.mozilla.fenix.raptor/org.mozilla.fenix.HomeActivity}"
## Steps to reproduce
Install Fenix (Raptor release build) from https://index.taskcluster.net/v1/task/project.mobile.fenix.v2.branch.master.latest.raptor.arm/artifacts/public/target.apk.  Version is `package: name='org.mozilla.fenix.raptor' versionCode='1' versionName='1.0.1921' platformBuildVersionName=''`

Invoke this twice:

`adb shell am start -W -n org.mozilla.fenix.raptor/org.mozilla.fenix.I

[2019-05-22 21:35] jonalmeida opened #2758 "[Share] Integrate send-tab component to send sessions"
Parent: #331

[2019-05-22 21:36] jonalmeida opened #2759 "[Share] Add the ability to disable send tab on share sheet"
Parent: #331

This is a nice-to-have feature if we decide some share items shouldn't be allowed to send to other devices. (this is different from the build flag issue)

[2019-05-22 21:44] kbrosnan commented on #2756
See similar #2314

[2019-05-22 23:04] dector commented on #2739
If this issue is not taken I would like to work on it.

[2019-05-22 23:49] BlindMoon38 opened #2761 "High-contrast mode for web content"
### Why/User Benefit/User Problem
As a low-vision user, it would be nice if there were an easy option in the accessibility settings to force-enable a high-contrast theme for web content, as well as a way for the user to customise what those colours would be.

### What/Requirements
Desktop Firefox has an option to specify the colours used when a high-contrast theme is active. And this is customisab

[2019-05-22 23:52] DiegoARL38 commented on #2761
I'd suggest using as default colours those which Microsoft uses on Windows 10.

[2019-05-23 01:02] boek opened #2762 "[Bug] Fenix crashes when device has a global font size other than 1.0"

[2019-05-23 01:06] boek commented on #2762
Stacktrace
[code]

[2019-05-23 01:45] thomcc opened #2765 "FNX3-16565 ⁃ Fenix should run places maintenance periodically"
@grigoryk indicated that it does not, which will result in worse perf, more disk usage, etc.

[2019-05-23 02:19] grigoryk commented on #2714
Looking around the codebase, it seems that Fenix grew its own account caching layer. This is the first place to look for what's causing this. Most likely it's not updating the cache when it should be.

[2019-05-23 03:15] rfk opened #2766 "Ensure`$ANDROID_NDK_HOME` is set in build environment, to strip native libs by default"
Over in https://github.com/mozilla-mobile/fenix/issues/1374 I was a bit surprised to find that Fenix was shipping a copy of `libfenix.so` that contained many megabytes of debug symbols, because the android gradle plugin is supposed to strip these debug symbols by default (so much so that the top search result I see for "android strip native libraries" is an article on how to _disable_ this strippi

[2019-05-23 04:10] makotokato commented on #2643
Filed as https://bugzilla.mozilla.org/show_bug.cgi?id=1553725

[2019-05-23 04:46] mishazawa opened #2767 "[Bug] Crash on close Mozilla preview in IM app"
## Steps to reproduce
Open link in instant messaging app (f.e. telegram)

Press close button

### Expected behavior
Mozilla closes without crash report

### Actual behavior
Mozilla Preview open crash report popup

### Device information
* Android device: Xiaomi Redmi 4, Android 6.0.1 MMB29M
* Fenix version: 1.0.1921

[2019-05-23 05:07] vesta0 commented on #2292
@eeejay see ^^ :)

[2019-05-23 05:07] vesta0 commented on #1905
@eeejay see ^^ :)

[2019-05-23 05:35] vesta0 opened #2768 "FNX3-16568 ⁃ Option to disable screenshots in private mode"
## User Story
* As a user, I want the option to disable taking screenshots in private browsing mode, so I can further protect my privacy.

### Acceptance Criteria
* I can disable taking screenshots in private mode (off by default)
* When disabled in private mode, I am not able to take a screenshot and instead I see a system notification indicating that taking screenshots isn't allowed in private m

[2019-05-23 07:07] Lululalu opened #2769 "Cut URLs automatically when sharing them."
### Why/User Benefit/User Problem
Some URLs are needlessly long. They may occupy a whole screen on a chat app.

### What/Requirements
Cut non-crucial parts of URLs

### Acceptance Criteria (how do I know when I’m done?)
The feature is available on Chrome and ot is described here: https://www.ghacks.net/2018/02/20/chrome-64-for-android-cuts-urls-automatically-when-you-share-them/

┆Issue is synchro

[2019-05-23 07:43] mishazawa commented on #2767
Log cat debug log
[code]

[2019-05-23 07:43] isabelrios commented on #2325
This issue is under Ready for QA, although the label is ready for Engineering. I'm confused because either it is not ready for QA yet, since the UI is very different from the screenshot in first comment and it needs some work still or there is actually a bug if it has to be in the ready for QA... @sblatz  what do you think? (not sure who to ask and I say you moved the card :))

This is how it look

[2019-05-23 07:47] grigoryk opened #2770 "[Share] Ability to receive tabs sent from other FxA devices"
This is the "receive" side of #246.

[2019-05-23 07:49] isabelrios opened #2771 "[Bug] Not possible to unselect/select Bookmark/History options to sync"
## Steps to reproduce
Go to Settings -> Sign in
Log in with a valid account
Wait until the sync finishes and tap on the account name
Click on Bookmarks or History checkbox

### Expected behavior
The checkbox should be marked/unmarked accordingly

### Actual behavior
Nothing happens when tapping on the checkbox

### Device information
Pixel 3, android 9
build from Wed 5/22 1.0.1921

![Untitled](htt

[2019-05-23 07:52] topotropic commented on #2670
this is a dup of https://github.com/mozilla-mobile/fenix/issues/2630

[2019-05-23 07:59] isabelrios commented on #1249
This seems to be fixed in build from Wed 5/22 1.0.1921:
![Screenshot_20190523-095742](https://user-images.githubusercontent.com/1897507/58235608-71606600-7d41-11e9-8678-dc0e46bdfcef.png)

[2019-05-23 08:00] sv-ohorvath commented on #2685
@sblatz Do you have any details for QA?

[2019-05-23 08:04] sv-ohorvath commented on #1249
Verified as fixed on the 5/23 build.

[2019-05-23 08:11] sayo-melu opened #2773 "Long press text to search"
### Why/User Benefit/User Problem
User can easily jump to search without copying and pasting.

### What/Requirements
When text is selected, it pops up a window with 'Copy' and 'Select all', there should also be a 'Search'.

### Acceptance Criteria (how do I know when I’m done?)
Jump to a new page with the default search engine of the selected text.

[2019-05-23 08:18] isabelrios commented on #2226
This is still repro on 5/23 build. And having more than two bookmarks (which may be the case after syncing a FxA) this issue is more noticeable and confusing. Please see video:
https://drive.google.com/open?id=1O4EmPXhF2IqzG7OQoGawGlKvxzzLv3In

@sv-ohorvath could you please confirm is that the same or if I should open a new one. Also please see how the delete banner shows incorrect name when delet

[2019-05-23 08:19] topotropic commented on #658
Can we have a separated page for "Licenses" and "Your rights" and link to them from the "About Firefox Preview" page?

[2019-05-23 08:25] anyuzu99 opened #2774 "Support Smart Text Selection"
### Why/User Benefit/User Problem
Open the App connected with the text in one tap.

### What/Requirements
When text is selected, the first item of Text Selection Menu should be with Smart Text Selection.

(Smart Text Selection is introduce on Android 9)

### Acceptance Criteria (how do I know when I’m done?)
Run the Smart Text Selection command.

┆Issue is synchronized with this [Jira Task](https:

[2019-05-23 08:38] topotropic opened #2775 "Update "Data choices" to "Data collection" in Settings"
Please update "Data choices" to "Data collection" in Settings

[2019-05-23 08:49] abodea commented on #2397
Hello, note that I found 3 web pages where this issue still occurs on the latest **`build 1.0.1921(5/23)`** with Google Pixel 3(Android P) after I verified the following:
### Safe Browsing Testing [Links](https://testsafebrowsing.appspot.com/) scenarios
* [A/W/M/L/C] Should show a phishing warning: [link](https://testsafebrowsing.appspot.com/s/phishing.html)  - the error is displayed **`Deceptive

[2019-05-23 08:51] softvision-miralobontiu commented on #1286
Verified that the font size on the websites is changed according to the scale modified in Settings - Accessibility.
Tested on the latest build 1.0.1921 (#11430614), with OnePlus 5T (Android 9), Huawei P9 Lite (Android 6), Sony Xperia Z2 tablet (Android 6.0.1).

[2019-05-23 09:01] topotropic commented on #2775
I'll close this one and add it to the product quality bug https://github.com/mozilla-mobile/fenix/issues/2273

[2019-05-23 09:05] softvision-miralobontiu commented on #2474
Verified as fixed with the latest build 5/23, with:
- Nexus 6P (Android 8.1.0),
- Sony Xperia Z2 tablet (Android 6.0.1),
- Huawei P9 Lite (Android 6),
- OnePlus 5T (Android 9),
- HTC Desire 820 (Android 6.0.1).

[2019-05-23 09:14] sv-ohorvath commented on #2226
Yes, that's the same issue.
For the bookmark titles in the snack bar, I talked with Isabel and she will create a new ticket.

[2019-05-23 09:15] sv-ohorvath commented on #2025
Verified on the 5/23 build.

[2019-05-23 09:36] isabelrios commented on #2771
Sorry, this is already known: #2157

[2019-05-23 09:36] sv-ohorvath opened #2777 "FNX3-16576 ⁃ [Bug] URL is not pre-selected when you exit from the library menu"
## Steps to reproduce
1. Open a webpage.
1. Go to the library menu and exit back.
1. Tap the url bar.
    1. Expected behavior
The URL is selected and you can start typing to replace it.
    1. Actual behavior
The URL is not selected, the text cursor is at the beginning of the URL.
    1. Device information

* Android device: Nexus 5 (Android 6), P9 Lite (Android 6.0), Sony Xperia Z5 Premium (Andr

[2019-05-23 09:43] softvision-miralobontiu commented on #1826
Verified as fixed on the latest build 5/23, with:
- Sony Xperia Z2 tablet (Android 6.0.1),
- Huawei Honor 8 (Android 7),
- OnePlus 5T (Android 9).

[2019-05-23 10:23] buttercookie42 commented on #2773
Fennec has that already.

[2019-05-23 10:54] buttercookie42 commented on #1286
The currently implemented behaviour isn't ideal in any case, because if 100 % actually means "automatic font size adjustment enabled", then 100 % isn't necessarily 100 %, but instead whatever the OS-level font size setting is. So if the OS-level setting is e.g. at 125 %, then moving the Fennec slider from 100 % to 110 % actually **decreases** the font size, because in practice you're going from 12

[2019-05-23 11:13] buttercookie42 commented on #2762
This doesn't seem  quite right, because if I'm not mistaken, this would introduce inconsistent behaviour depending on whether the 100 % are encountered on startup, or through the pref change listener when the user changes the value from the settings, wouldn't it?

[2019-05-23 11:40] buttercookie42 commented on #2762
Seems like a bug in android-components in that it's attempting to set the font size even though
a) auto font size setting is enabled and
b) Fenix didn't even explicitly specify a font size in it's engine settings.

[2019-05-23 11:51] softvision-miralobontiu commented on #2097
Verified as fixed on the latest build 5/23, with Nexus 6P (Android 8.1.0), Huawei Honor 8 (Android 7), and Sony Xperia Z2 tablet (Android 6.0.1).

[2019-05-23 12:10] topotropic commented on #2768
We should use a system notification, similar to what Focus does.

[2019-05-23 12:48] sv-ohorvath commented on #2296
An issue only for emulators, it doesn't happen on physical devices running x86.

[2019-05-23 12:52] Seqularise opened #2778 "[Bug] Unable to load about:config"
## Steps to reproduce
1. Write about:config in search tab and press enter
    1. Expected behavior
shows about:config page
    1. Actual behavior
shows white page
    1. Device information
redmi note 4x
Android device: 9
Fenix version: 1.0.1921 (Build #11430615 68.0-20190520141152)

[2019-05-23 13:05] sv-ohorvath commented on #2217
Can reproduce on Pixel and Galaxy Note 8.
There is also a weird transition when you open the task manager, I hope it's visible in this gif:
![20190523_155654](https://user-images.githubusercontent.com/4037709/58254516-9cfc4400-7d73-11e9-96a9-6e1c3449a5b3.gif)

[2019-05-23 13:07] sv-ohorvath commented on #1901
Still reproducing on 5/23 build. Pixel and Galaxy Note 8.

[2019-05-23 13:26] sv-ohorvath commented on #2674
I'm not seeing that part above the Reuters logo on any device.
![Screenshot_20190523-162311_Firefox Preview](https://user-images.githubusercontent.com/4037709/58256186-42fd7d80-7d77-11e9-9ad5-7f28a1c6b653.jpg)

[2019-05-23 13:30] sv-ohorvath commented on #2086
Cannot reproduce this on the 5/23 build.
devices: Pixel, Galaxy Note 8 (Android 9), Nexus 5 (Android 6).
@agi90 does it still happen on your end?

[2019-05-23 14:23] sblatz commented on #2205
@vesta0 are we able to close this ticket without #2725? I don't think it's feasible to have that done by Friday, and I don't think it should block.

[2019-05-23 14:28] jonalmeida commented on #2762
From [the comments in a-c](https://github.com/mozilla-mobile/android-components/pull/3069) when the settings was added, we probably want to check if `automaticFontSizeAdjustment` is set before changing the `fontSizeFactor` instead of always having it as false, right?

[2019-05-23 14:31] csadilek commented on #2762
I am preparing a fix for this in Android Components. The default values shouldn't cause applications to crash, unless the application configured invalid defaults (which is not the case here).

[2019-05-23 14:34] vesta0 commented on #2768
Sounds good @topotropic

[2019-05-23 14:40] vesta0 commented on #658
@topotropic are you suggesting creating 2 separate pages for Licenses and Your rights? If so, what are the user benefits? cc @mheubusch

[2019-05-23 14:44] vesta0 commented on #2205
@sblatz thank you for being so thorough. I agree that #2725 is not a blocker. We can close this ticket.

[2019-05-23 14:48] sv-ohorvath opened #2780 "FNX3-16579 ⁃ [Bug] Button & icons colors on some android 5 & 6 devices"
## Steps to reproduce
Similar to #1593.
On a Xiaomi Mi 4i (Android 5.0.2):
![Screenshot](https://user-images.githubusercontent.com/4037709/58262230-92957680-7d82-11e9-86c1-aacc5f2ccd81.png)UNITO-UNDERSCORE!2019-05-23-17-02-15-951!UNITO-UNDERSCORE!org mozilla fenix!
![Screenshot](https://user-images.githubusercontent.com/4037709/58262231-92957680-7d82-11e9-8376-c8789e7a92e4.png)UNITO-UNDERSCORE!201

[2019-05-23 14:48] vesta0 commented on #2725
Would love UX feedback on whether we should have an undo snackbar for removing a tab from a collection or whether we can make other design changes to mitigate the risk of accidental taps on remove tab.

[2019-05-23 14:49] sv-ohorvath opened #2781 "[Bug] Button & icons colors on some android 5 & 6 devices"
## Steps to reproduce
Similar to #1593.
On a Xiaomi Mi 4i (Android 5.0.2).
![Screenshot](https://user-images.githubusercontent.com/4037709/58262230-92957680-7d82-11e9-86c1-aacc5f2ccd81.png)UNITO-UNDERSCORE!2019-05-23-17-02-15-951!UNITO-UNDERSCORE!org mozilla fenix!
![Screenshot](https://user-images.githubusercontent.com/4037709/58262231-92957680-7d82-11e9-8376-c8789e7a92e4.png)UNITO-UNDERSCORE!201

[2019-05-23 15:01] csadilek commented on #2762
Fix landed in A-C. With the latest snapshots `automaticFontSizeAdjustment` only needs to be set to `false` if either `fontSizeFactor` or `fontInflationEnabled` is also set by the application.

[2019-05-23 15:26] sblatz commented on #2325
Sorry about that, didn't mean to move this ticket, @isabelrios.

[2019-05-23 15:29] sblatz commented on #2725
@vesta0, we can add this functionality, we just need an a-c fix for it :)

[2019-05-23 15:34] sblatz commented on #2685
STR were:
1. Go to home view
2. Open a webpage
3. Go home
4. Background the app (go to home screen)

App would crash after doing these steps.

@sv-ohorvath

[2019-05-23 15:39] jonalmeida opened #2782 "[Share] Hide send tab in list if no shareable devices available"
We current show the 'Add New Device' button, but the call-to-action for it is undecided so we should remove this for now.

Parent: #331

[2019-05-23 15:44] yoasif commented on #1827
I'm happy with the behavior after the fix in #1826. Closing this one.

[2019-05-23 16:17] Lululalu commented on #2674
@sv-ohorvath Yes, I still have this issue, however the amp bar doesn't show up on every article. It's a Bing's thing. I made a video to show what's happening.

https://streamable.com/uaelz

I hope it's helpful.

[2019-05-23 16:21] Lululalu commented on #2773
This is the same as #533

[2019-05-23 16:21] Amejia481 commented on #2673
@sblatz I noticed that you worked on https://github.com/mozilla-mobile/fenix/commit/e200807a7acce23d1ae2d43924459a151a88552e that added `launchMode="singleInstance"`. I'm seeming the issue described above because of it. Do we really need it? Is there not an alternative to using this `launchMode`?

[2019-05-23 16:44] dector commented on #2740
I have same issue. Discovered that ANR starts [here](https://github.com/mozilla-mobile/fenix/blob/e5f27a2e8d0edd2e72a1defc9bcc1a958fcfec4d/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt#L96).

[2019-05-23 16:44] dector commented on #2296
I have same issue. Discovered that ANR starts [here](https://github.com/mozilla-mobile/fenix/blob/e5f27a2e8d0edd2e72a1defc9bcc1a958fcfec4d/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt#L96).

[2019-05-23 17:03] Amejia481 commented on #2673
I noticed that in Reference browser we are using [launchMode="singleTask"](https://github.com/mozilla-mobile/reference-browser/blob/3370a0a22eee3edcb949b264749fa7febcaef398/app/src/main/AndroidManifest.xml#L29), could this be an alternative?

[2019-05-23 17:39] sblatz opened #2783 "Add snackbar to collection deletion"
We had to remove the snackbar confirmation for collection deletion due to race condition bugs surrounding deleting in a background thread. It'd be great if we could, at some point, add the "undo" snackbar back.

Bugs caused by using the undo snackbar:

* #2730
* #2727

[2019-05-23 17:40] sblatz opened #2784 "FNX3-16583 ⁃ Remove snackbar for collection deletion and use confirmation dialog instead"
Using a background deletion with a snackbar is causing #2730 and #2727. Let's remove it for now, and [implement it later|#2783]

[2019-05-23 17:46] #654 closed

[2019-05-23 17:48] Lululalu commented on #2592
I realized this is a dupe of #2574
Closing now.

[2019-05-23 17:49] NotWoods opened #2785 "[Bug] HomeFragment changes SessionControlState 4 times on resume"
#2695 adds a `ListAdapter` for the tabs and collections on the home screen, which includes animations when the list changes. Unfortunately the animations also reveal that the state is adjusted a lot, and as a result all the tabs have an entrance animation every time the home fragment is entered. For the time being we've turned off animations on the list, but would like to turn it back on later.

#

[2019-05-23 18:03] Seqularise commented on #2778
[logcat.txt](https://github.com/mozilla-mobile/fenix/files/3213572/logcat.txt)

[2019-05-23 18:19] eeejay commented on #1905
Thanks, I should have replied earlier. I don't have much insight on this, I think these are UX questions as to how text should scale in these places to give the most useful information.

In general I would seek parity with other similar components in apps like Chrome.

[2019-05-23 18:22] eeejay commented on #2292
Like I said in another text size bug, I don't have too much insight into this. It obviously is a bug and it should be mitigated as much as possible. UX folks might have a better resolution.

[2019-05-23 18:49] vesta0 commented on #184
@topotropic @mheubusch can we close this since all the MVP user stories have been completed?

[2019-05-23 18:51] vesta0 commented on #221
This feature is complete for MVP.

[2019-05-23 18:58] vesta0 commented on #182
@apbitner thank you for sharing the QAB research! I just reviewed and saw your recommendations:

_Consider having share and bookmark functionality only in the QAB once discoverability is improved; or, have share and bookmark functionality in both the QAB and toolbar menu, until users get accustomed to the QAB_ ==> have we improved QAB discoverability enough to remove Share from 3 dot menu, or are

[2019-05-23 19:18] AaronMT commented on #2767
Signature looks like one posted in https://github.com/mozilla-mobile/fenix/issues/2616

[2019-05-23 19:20] andreicristianpetcu opened #2787 "FNX3-16585 ⁃ Please add qwant as a search provider"
### Why/User Benefit/User Problem
Some Europeean users don't trust non-europeean search engines.
Qwant is the biggest privacy friendly European search engine

### What/Requirements
When searching on the web, an option with qwant.com on the search page
![Screenshot](https://user-images.githubusercontent.com/922368/58280380-1c583a80-7da9-11e9-944b-bfaea37619e4.png)UNITO-UNDERSCORE!20190523-221809!UN

[2019-05-23 19:23] Delphine opened #2788 "static_strings.xml: fixes for onboarding strings"
I found a couple nits that need to be updated in the [static_strings.xml](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/res/values/static_strings.xml) file, more specifically the onboarding strings.

* "onboarding_privacy_notice_description": should be curly apostrophe, and no slash
* General comment about the use of "(...)defined in app_name" throughout l10n comments: that's pr

[2019-05-23 19:23] Amejia481 opened #2789 "FNX3-16587 ⁃ [Bug] Custom tabs is not covering the full screen size"
## Steps to reproduce
Open a site in a custom tab.

### Expected behavior
The web contents covers the whole screen.

### Actual behavior
The bottom part is not covered

![Screenshot](https://user-images.githubusercontent.com/773158/58280247-2f014e00-7d6e-11e9-8fe7-7c4f4533d980.png)UNITO-UNDERSCORE!20190523-151622!

### Device information
* Android device: Pixel 3

[2019-05-23 19:24] kbrosnan commented on #2678
e10s is not supported at this time.

[2019-05-23 19:24] Amejia481 commented on #2789
I this this issue is related to this commit https://github.com/mozilla-mobile/fenix/commit/763c8be8150ff9c7585a7dfd3f096eebce58b246

[2019-05-23 19:27] kbrosnan commented on #2787
Closing as a dupe of #1437

[2019-05-23 19:35] Lululalu commented on #2787
I'd go further and say that it's a good idea to add other regional local search engines too, like Yandex, Baidu, Shenma, Sogou, Seznam, Mojeek, and possibly others based on the user's location. And personally I'd like to sea Ecosia as an option too, globally.

[2019-05-23 20:22] sblatz commented on #1574
The blocking bugs should be fixed by #2748.

[2019-05-23 20:24] topotropic commented on #658
Yes, that's correct, 2 separate pages. "Licenses" and "Your rights" are two very separate things.
And, this might come in handy in case we have a cross-plattform (desktop, iOS) shared resource we can use for "Your rights".

[2019-05-23 20:35] grigoryk opened #2792 "Consider displaying bookmark folders at the top of the list"
Currently they're being displayed according to their order, but that doesn't work all that well on mobile. Navigating out of a folder takes you to the top of the list, which makes browsing multiple folders quite hard.

In Fennec, folders are pinned to the top, which makes things much more straightforward.

[2019-05-23 21:26] sblatz commented on #2327
Can we drop the "notification dot" on the menu icon for MVP? After speaking with @pocmo it sounds like it'll be difficult to do in the next 24 hours, and require a bit of a-c work.
@vesta0

[2019-05-23 21:35] sblatz opened #2793 "Integrate highlight menu button from a-c"
We should integrate this a-c: https://github.com/mozilla-mobile/android-components/issues/3101

[2019-05-23 21:35] sblatz commented on #2327
Verified with Vesta we are bumping that feature to post MVP.

Fenix ticket [here](https://github.com/mozilla-mobile/fenix/issues/2793)

[2019-05-23 21:45] mheubusch commented on #658
I believe the links to licenses are embedded in the your rights page.

[2019-05-23 21:46] Lululalu opened #2794 "FNX3-16591 ⁃ [Bug] Full screen videos don't cover the whole screen"
## Steps to reproduce
Go to YouTube and watch some video in full screen

### Expected behavior
The video should use the whole screen.

### Actual behavior
![Screenshot](https://user-images.githubusercontent.com/32398857/58288759-dee4b480-7d8a-11e9-9636-479623d2fbd5.jpg)UNITO-UNDERSCORE!20190523-184323!UNITO-UNDERSCORE!Firefox Preview!

There is empty space above the player.

### Device information

[2019-05-23 22:11] ekager commented on #1286
Thanks @buttercookie42 for the explanation! I think the last option is the most ideal going forward to follow Chrome's implementation of applying an additional multiplier. For now I will add a toggle using the system's text sizing.

[2019-05-23 22:43] vesta0 commented on #658
Let's just have one page for now and re-evaluate post-mvp if they can be separated.

@bifleming I believe you estimated this with the team, can we add the settings option before code freeze and link to where the final content will reside?  https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/your-rights

[2019-05-23 22:49] dector commented on #2254
I'll investigate this.

[2019-05-23 22:59] ekager commented on #2714
Dupe of #2739 and seems to be fixed by PR #2791 just tested it on my device

[2019-05-23 23:09] ekager commented on #2332
Closed by #2333

[2019-05-23 23:19] yilmzfurkan commented on #2778
Have the same issue.

[Photo](https://i.vgy.me/pJhlHz.jpg)

**Device information**
Samsung Galaxy S8+ (SM-G955F)
Android 9
Fenix Version: 1.0.1921 (Build #11431806 68.0-20190520141152)

[2019-05-23 23:30] sarentz commented on #2711
@pocmo this looks like a favicon exception?

[2019-05-23 23:43] ekager commented on #2032
I can't reproduce this anymore, so I'm tagging as QA needed

[2019-05-24 00:01] kbrosnan commented on #2254
Sounds similar to #2709

[2019-05-24 00:23] bifleming commented on #658
@vesta0 sorry, not sure what you're asking --if it's a question of getting it done before code freeze, yes the content can follow, but we should put the link in to a placeholder page. we don't want to put it in QA until it links to the correct content though.

[2019-05-24 00:36] ekager opened #2806 "FNX3-16593 ⁃ [Bug] Pressing Back on SearchFragment exits the app"
## Steps to reproduce
1. Click on search from home
1. Press back

### Expected behavior
Go to home

### Actual behavior
Get kicked from app

### Device information
* Android device: ?
* Fenix version: ?

From my brief investigation I think this AC change is causing this because we then are calling activity.onBackPressed twice. I'm not sure why we do this at all so we should investigate if we can c

[2019-05-24 01:13] grigoryk commented on #919
#2252 landed, will be in tomorrow's build.

[2019-05-24 01:36] nojunpark opened #2807 "[Bug]Loading about:config doesn't work"
## Steps to reproduce
Open about:config,

### Expected behavior
Opens config page

### Actual behavior
shows blank page

### Device information
* Android device: Moto G5
* Fenix version: Tip of the master, 763c8be8150ff9c7585a7dfd3f096eebce58b246

It's a recurrence of  #1224

[2019-05-24 01:59] Lululalu commented on #2807
The same as #2778

[2019-05-24 02:28] jonalmeida commented on #2807
This was working for me on yesterday's nightly - I _just_ updated to the one from today and it no longer works.

@npark-mozilla did you manager to solve this (which is why you closed the issue?)

[2019-05-24 02:28] npark-mozilla commented on #2807
@jonalmeida no- I closed it because it's a dupe of #2778 as above

[2019-05-24 02:30] jonalmeida opened #2808 "FNX3-16595 ⁃ [Bug] App crashes while switching between tabs"
## Steps to reproduce
Switch between multiple tabs quickly while the pages are still loading.
I can reproduce this mostly with an Onion article and a Youtube video.

## Expected
* Tabs switch as expected.

## Actual
* Crash :boom:

[code]

* Android device: ?
* Fenix version: ?

[2019-05-24 03:00] Lululalu opened #2809 "[Bug] Saving images from Google Images downloads an image.bin file"
## Steps to reproduce
Search something on google.com
Touch "images"
Touch an image
Long press the image
Select save image on the context menu

### Expected behavior
Fenix downloads the image with its actual name and file extension

### Actual behavior
Fenix download an images.bin file

### Device information
* Android device: Galaxy A5 2017 8.0
* Fenix version: 1.0.1921

[2019-05-24 03:01] pabloag3 opened #2810 "FNX3-16598 ⁃ Crash when wifi turns on and off"
## Steps to reproduce
Turn wifi on. It eventually occur when wifi turns off too.

### Expected behavior
The app doesn't have to crash when wifi turns on or off

### Actual behavior
The app crash and need to restart the app.

![Auto Generated Inline Image 1](https://user-images.githubusercontent.com/36564545/58299702-0305bd00-7dae-11e9-840d-d4f4597b92ca.png)

* Android device: 5.0
* Fenix version:

[2019-05-24 03:04] jonalmeida commented on #2778
This was working for me on yesterday's nightly - I just updated to the one from today and it no longer works.

[2019-05-24 03:41] jonalmeida opened #2811 "[Bug] TransitionLayout: no method setLayoutMarginStarton View "homeDividerShadow""
This is a troubling bug because it was hiding #2808 and I had to [remove the animation code](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/res/xml/home_scene.xml#L71-L76) that caused this warning trace to get the trace for the former issue.

## Steps to reproduce
Switch between tabs and monitor logcat:

[code]

* Android device: ?
* Fenix version: ?

[2019-05-24 03:52] vesta0 commented on #2391
Is this QA verified @softvision-miralobontiu

[2019-05-24 04:00] vesta0 commented on #177
@topotropic @mheubusch can we close this issue?

[2019-05-24 04:01] vesta0 commented on #1064
@mheubusch can we close this issue?

[2019-05-24 04:34] #815 closed

[2019-05-24 04:39] jonalmeida opened #2814 "FNX3-16600 ⁃ [Bug] Homescreen sessions disappear into an unrecoverable state"
## Steps to reproduce (not consistent)
1. Open 5-6 tabs.
1. Background the app for some time.

![Screenshot](https://user-images.githubusercontent.com/1370580/58303062-554dda80-7dbc-11e9-9a51-ea5ac4491385.png)UNITO-UNDERSCORE!20190524-002055!

### Device information
* Android device: Pixel 2
* Fenix version: Nightly (23/05/2019)

[2019-05-24 04:41] ekager opened #2815 "FNX3-16601 ⁃ [Bug] FenixSnackbar doesn't show in BrowserFragment after long click URL"
## Steps to reproduce
1. Long click URL

### Expected behavior
See url copied snackbar

### Actual behavior
Can't see snackbar (is it behind the toolbar maybe)

### Device information

* Android device: ?
* Fenix version: ?

[2019-05-24 04:42] vesta0 commented on #658
@bifleming that is exactly what I was asking: add the option to settings with a link to the placeholder page (link provided above).

[2019-05-24 04:44] jonalmeida commented on #2815
All snackbars don't seem to be working actually.

[2019-05-24 04:45] ekager commented on #1331
Those 2 AC issues are merged in and being used. We should have higher quality history now.

[2019-05-24 04:46] jonalmeida commented on #2758
Fixed with #2790

[2019-05-24 04:49] ekager commented on #2815
In BrowserFragment ^.

[2019-05-24 04:53] kbrosnan commented on #2810
Would you be able to get a logcat for this issue?

* Download ADB for your computer https://developer.android.com/studio/releases/platform-tools
* Open the folder that you extracted the adb program to on the command line/terminal
* run `adb logcat -v time > crash.txt`
* reproduce the crash
* attach the file `crash.txt` to this issue

[2019-05-24 05:09] vesta0 commented on #2755
Addressed in #2252

[2019-05-24 05:09] ekager commented on #2762
Closing as the underlying crash should be fixed from the comment above and #2795 should finish up this feature

[2019-05-24 05:19] ekager commented on #2726
Related to https://github.com/mozilla-mobile/fenix/issues/1454 ?

[2019-05-24 05:23] ekager commented on #2694
Should be temporarily fixed by removing the accessibility listener (because we are using the fixed toolbar for now) https://github.com/mozilla-mobile/fenix/pull/2742

[2019-05-24 05:24] softvision-miralobontiu commented on #2391
Hi Vesta,
Yes, it is, but I removed the flag until [issue 2726](https://github.com/mozilla-mobile/fenix/issues/2726) is fixed.

[2019-05-24 05:31] boek commented on #2726
@ekager yes

[2019-05-24 05:34] ekager commented on #2694
For reference when we reimplement the dynamic toolbar the root cause of this was I don't think I was unregistering the listener correctly.

[2019-05-24 05:38] ekager commented on #2419
Sounds like we could cancel out the reloadData jobs if another job is added or if user navigates away

[2019-05-24 05:41] Lululalu opened #2818 "FNX3-16602 ⁃ Picture-in-picture mode"
### Why/User Benefit/User Problem
Android 8.0 allows videos to played floating on the screen. This feature gives a better multi-task and viewing experience.

### What/Requirements
Adding PiP support to videos.

### Acceptance Criteria (how do I know when I’m done?)
When it's possible to watch a video outside the app thanks to pip support.

- - -
See eng notes below: https://github.com/mozilla-mobi

[2019-05-24 06:29] softvision-miralobontiu commented on #1281
Verified that the "Find in page" option works in Custom tab, on the latest build 1.0.1921 (#11440149), with Google Pixel (Android 9), Nexus 5 (Android 6.0.1, and Sony Xperia Z5 Premium (Android 7.1.1)

[2019-05-24 06:35] softvision-miralobontiu commented on #1007
Verified that "Desktop site" option is available in Custom tabs and works as expected, on the latest build 1.0.1921 (#11440149), with Nexus 5 (Android 6.0.1), Sony Xperia Z5 Premium (Android 7.1.1), Google Pixel (Android 9).

[2019-05-24 06:48] pwd-github opened #2819 "Restore native share sheet"
## Steps to reproduce
1. Open a webpage
1. Attempt to share it

### Expected behavior
User is presented with the contacts they're most likely to share content with.

### Actual behavior
A share sheet that not only doesn't behave as the native share sheet does, it reduces features and usability in order to present two options users use a lot less than direct sharing.

### Device information
* Andro

[2019-05-24 07:39] sv-ohorvath commented on #2784
Verified this on the 5/24 build.

[2019-05-24 07:40] sv-ohorvath commented on #1578
Verified as fixed along with the implementation change on with #2784.

[2019-05-24 07:54] sv-ohorvath opened #2820 "[Bug] Expand/collapse a collection from the bottom of the list, jumps to the top"
## Steps to reproduce
1. Create a few collections (~3).
1. Scroll down to the bottom of the collections list. Expand the last one.
1. collapse the last one.
    1. Expected behavior
The expanded/collapsed collection is displayed.
    1. Actual behavior
The list jumps to the top.
    1. Device information

* Android device: Note 8 (android 9), Mi4 (Android 5.0.2)
* Fenix version: 5/24

[2019-05-24 08:03] softvision-miralobontiu opened #2821 "FNX3-16606 ⁃ [Bug] Crash when accessibility scale is changed to 100%"
## Steps to reproduce
1. Go to Settings - Accessibility
1. Change the scale from where it's at to 100%. (If it is to 100% move to a higher scale, then back to 100% - like in the attached short gif).

### Expected behavior
The app should not crash.

### Actual behavior
Crashes every time.

### Device information
* Android device: Google Pixel (Android 9)
* Fenix version: 5/24

[logcat.txt](https://

[2019-05-24 08:20] sv-ohorvath commented on #2728
Verified as fixed on the 5/24 build.

[2019-05-24 08:21] sv-ohorvath commented on #2729
Verified as fixed on the 5/24 build.

[2019-05-24 08:22] sv-ohorvath commented on #2727
Verified as fixed on the 5/24 build.

[2019-05-24 08:23] sv-ohorvath commented on #2730
Verified as fixed on the 5/24 build.

[2019-05-24 08:28] vishwa-raj opened #2822 "[Bug] Address/Search Bar not hiding anymore on scrolling down"
## Steps to reproduce
Scroll down a page, then scroll up

### Expected behavior
Earlier Address/Search bar used to hide on scrolling down and then pop up when scrolled up.

### Actual behavior
Address/Search bar has become fixed and does not hide anymore.

### Device information
Nokia 6.1

* Android device: Android 9
* Fenix version: 1.0.1921

[2019-05-24 08:31] softvision-miralobontiu commented on #2252
Verified that the "Desktop Bookmarks" folder is displayed in Bookmarks, with the latest build 1.0.1921 (#11440614), with Google Pixel (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-24 08:33] cadeyrn commented on #2822
This is intended, see #2689.

[2019-05-24 08:36] sv-ohorvath opened #2823 "FNX3-16608 ⁃ [Bug] Crash after closing all tabs"
## Steps to reproduce
1. Open the menu from Open tabs.
1. Select close all tabs.
1. Switch to Private browsing, switch back to normal browsing.
    1. Expected behavior
Closed tabs are gone.
    1. Actual behavior
Closed tabs are displayed again. App crashes.
[logcat](https://github.com/mozilla-mobile/fenix/files/3215928/logcat.txt)

### Device information
* Android device: Note 8 (Android 9), Mi4

[2019-05-24 08:47] sv-ohorvath opened #2824 "FNX3-16609 ⁃ [Bug] Back button on search bar closes the app"
## Steps to reproduce
1. Tap the search bar on the homescreen.
1. Tab the device back button.
    1. Expected behavior
Keyboard & search mode are collapsed. App homescreen is displayed.
    1. Actual behavior
The app is closed.
    1. Device information

* Android device: Samsung Galaxy Note 8 & S8 (both Android 9), Huawei Honor 8 (Android 7.0)
*Not reproducing on: Pixel (Android 9), Sony Xperia Z

[2019-05-24 08:49] sv-ohorvath commented on #2655
Verified this on the 5/24 (#11440149) build, found a crash: #2823

[2019-05-24 08:51] sv-ohorvath commented on #1574
All blocking issues were fixed.

[2019-05-24 09:01] klint commented on #2252
Maybe related to another bug: yes I can see the desktop bookmarks entry, but it is still  empty.

[2019-05-24 09:01] sv-ohorvath opened #2825 "FNX3-16610 ⁃ [Bug] Collection menu needs to expand when it's at the bottom of the screen"
## Steps to reproduce
1. Create a few collections.
1. Open the menu of the bottom one.
    1. Expected behavior
The entire menu is visible.
    1. Actual behavior
Only one or two options are visible, there is no scroll bar visible to indicate there's more.
![Screenshot](https://user-images.githubusercontent.com/4037709/58316397-1ea7ac80-7e1c-11e9-9ce8-2ce39bf11e33.jpg)UNITO-UNDERSCORE!20190524-115

[2019-05-24 09:02] softvision-miralobontiu opened #2826 "[Bug] Onboarding tour is displayed after signed in and tapped on tab counter"
## Steps to reproduce
1. Launch Firefox Preview with a clean profile.
1. Tap on "Sign in" button from the onboarding tour.
1. Sign in with valid credentials.
1. Tap on tab counter.

### Expected behavior
The awesome screen should be displayed, not the onboarding tour.

### Actual behavior
The onboarding tour is displayed, without the "Sign in" section.

### Device information
* Android device: all

[2019-05-24 09:57] buttercookie42 commented on #1286
CC me when you file a corresponding GeckoView bug, and I'm happy to look at it.

[2019-05-24 10:31] buttercookie42 commented on #2821
Likely related to #2762.

[2019-05-24 10:32] ArnauNinerola commented on #2252
It also works for me. I can see the desktop bookmarks. Fenix build (1.0.1921) and Android (9) Oneplus 6T (Oxygen OS 9.0.13)

[2019-05-24 10:35] buttercookie42 commented on #2778
Has Fenix switched to using Beta GeckoView? If yes, you'll need [bug 1540065](https://bugzilla.mozilla.org/show_bug.cgi?id=1540065) fixed.

[2019-05-24 10:37] buttercookie42 commented on #2768
Should this be configurable - not least for bug reports and suchlike?

[2019-05-24 11:59] sv-ohorvath commented on #2032
Not reproducing anymore on the 5/24 build.

[2019-05-24 12:06] softvision-miralobontiu commented on #919
Verified that the bookmarks and history are synced on the latest build 1.0.1921 (#11440614), with Sony Xperia Z5 Premium (Android 7.1.1), Google Pixel (Android 9), and Huawei Honor 8 (Android 7).

[2019-05-24 12:06] #919 closed

[2019-05-24 12:12] softvision-miralobontiu commented on #2739
Verified as fixed on the latest build 1.0.1921 (#11440614), with Sony Xperia Z5 PRemium (Android 7.1.1), Google Pixel (Android 9), Samsung Galaxy Note 8 (Android 9), Nexus 5 (Android 6.0.1), and Sony Xperia Z2 tablet (Android 6.0.1).

[2019-05-24 12:17] softvision-miralobontiu commented on #2230
The issue still reproduces, exactly like in this [comment](https://github.com/mozilla-mobile/fenix/issues/2230#issuecomment-489077585).
Tested on the latest build 1.0.1921 (#build11440149), with Nexus 5 (Android 6.0.1).

[2019-05-24 12:19] sv-ohorvath commented on #2531
3 issues found: #2731, #2724, #2723

[2019-05-24 12:25] softvision-miralobontiu commented on #2061
Verified as fixed on the latest build 1.0.1921 (#11440149), with Huawei Honor 8 (Android 7), Google Pixel (Android 9), Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-24 12:29] sv-ohorvath commented on #2689
Verified on the build 5/24 (#11440149).

[2019-05-24 12:32] sv-ohorvath commented on #911
The dot on the reader icon doesn't appear on Android <7 devices like:
Nexus 5 (Android 6.0.1)
Sony Xperia Z2 (Android 6.0.1)
Mi 4i (Android 5.0.2)

Appears on devices like:
Galaxy Note 8 (Android 9)
P20 lite (Android 8)
Sony Xperia Z5 Premium (Android 7.1.1)

[2019-05-24 12:35] softvision-miralobontiu commented on #371
This issue is not entirely fixed: The "Find in page" toolbar scrolls down the page, but the last found word is not displayed if it is on the last row.
Please see the attached GIf for more clarity.

![Inkedfind](https://user-images.githubusercontent.com/40694158/58327898-786a9f80-7e39-11e9-9671-a8c83b6e00c5.gif)

[2019-05-24 12:44] softvision-miralobontiu commented on #2826
Based on [comment from issue 2395](https://github.com/mozilla-mobile/fenix/issues/2395#issue-442411752), I will close this as invalid.

[2019-05-24 12:50] pabloag3 commented on #2810
Sure, here it is.

[crash.txt](https://github.com/mozilla-mobile/fenix/files/3216930/crash.txt)

[2019-05-24 12:56] softvision-miralobontiu commented on #2395
The user can sign in from the onboarding sign in action card. But, after entering the valid credentials, the app displays a page that let the user know it is connected (please see the screenshot) - no syncing indicator is displayed.

Only when the user taps on the tab counter, the user can see the welcome message and the rest of the onboarding cards.

@mheubusch, please let me know if this behavio

[2019-05-24 13:18] jonalmeida commented on #2818
This is an a-c feature already :)

https://github.com/mozilla-mobile/reference-browser/blob/master/app/src/main/java/org/mozilla/reference/browser/browser/BrowserFragment.kt#L187-L194

[2019-05-24 13:22] Amejia481 commented on #2397
Hi @abodea,

🤔  I'm not sure if we are handling  these cases, I tested on Fennec and **there is no error displayed** those, I will investigate further.
* [W/M/L/C/D] Should show a malware warning due to bad assets: [ [small img](https://testsafebrowsing.appspot.com/s/image_small.html), [medium img](https://testsafebrowsing.appspot.com/s/image_medium.html), [large img](https://testsafebrowsing.apps

[2019-05-24 13:43] sv-ohorvath commented on #2530
Verified on build 5/24 (#11440149)

[2019-05-24 13:52] sv-ohorvath commented on #2685
Didn't see any crashes following the STR above. Considering this as fixed.

[2019-05-24 13:59] vladikoff commented on #2685
Awesome! thanks for fixing this!

On Fri, May 24, 2019, 09:52 Oana Horvath <notifications@github.com> wrote:

[2019-05-24 14:37] sblatz commented on #2673
@Amejia481 let's make sure https://github.com/mozilla-mobile/fenix/issues/706 doesn't regress. If it doesn't when using `singleTask` it should be fine to use 😄

[2019-05-24 14:38] sblatz commented on #2648
Also helpful: https://github.com/mozilla-mobile/android-components/blob/1a98ef0ddd3d99b170a4dab4c529e096f2bf6f47/components/lib/publicsuffixlist/src/test/java/mozilla/components/lib/publicsuffixlist/PublicSuffixListTest.kt#L15

[2019-05-24 14:39] sarentz commented on #2673
@sblatz so `singleInstance` was not added for a specific reason / requirement?

[2019-05-24 14:40] Amejia481 commented on #2397
Yeah, none of these categories are implemented for safe browsing, neither of them actually work on Fennec. But two on them work on Chrome:  **Warning due to bad assets and billing warning**.   If they are required they need work from GeckoView team. @vesta0 Should I open bug for this?

[2019-05-24 14:42] IdmFoundInHim opened #2827 "Themes (as implemented on Fennec) are extremely limited"
From [Bug 1554028](https://bugzilla.mozilla.org/show_bug.cgi?id=1554028)

### Why/User Benefit/User Problem
The theming capabilities for Firefox for Android only allow for two customizations: an image in the background and the colors/frame attribute (which, I believe, changes the color of the notification bar, but the documentation is unclear). I would like to create a minimalistic theme that look

[2019-05-24 14:42] sblatz commented on #2673
@sarentz I can't remember if I tried using `singleTask` before `singleInstance` and `singleInstance` fixed a lot of crashers we were having related to external launching. `singleTask` may also do this :)

[2019-05-24 14:47] Amejia481 commented on #2673
Thanks @sblatz  I will take a look at it.

[2019-05-24 15:01] pocmo commented on #2712
Fix required in AC:
https://github.com/mozilla-mobile/android-components/issues/3104

[2019-05-24 15:17] pwd-github opened #2828 "[Bug] Fenix no longer supports Lockbox (Lockwise)"
## Steps to reproduce
1. Go to website that you need to log in to.
1. Long press username field

### Expected behavior
Lockbox should automatically present a prompt upon page load, however in its absence, one of the options should be "Auto fill" which should load Lockbox. This was working and has stopped, so I suspect it's a regression. Also given the Auto Fill option is also missing in Fennec, it

[2019-05-24 15:30] sblatz commented on #911
Since this is not an MVP blocker, I'm moving this back to ready for dev to be properly prioritized. @vesta0

[2019-05-24 15:32] Amejia481 commented on #2673
@sblatz I'm seeing the same crash on master ([video demo](https://drive.google.com/file/d/1-xb0Gmid8buclWnfhJKEnRR-FZmjrGXi/view?usp=sharing)), without using `singleTask` just by following the steps on #706. Do you have the same issue? I'm using a Pixel 3.

**Steps**
1. Navigate to a website from within Fenix
2. While BrowserFragment is open, press the middle button
3. Open a link from an external

[2019-05-24 15:34] vesta0 commented on #911
@sblatz sounds good

[2019-05-24 15:39] vesta0 commented on #2397
@Amejia481 thanks for investigating! Since we have Fennec parity, we can close this issue. Would you please open a new issue for the new categories we don't yet support so we can prioritize for post-mvp, and also open a GeckoView bug on bugzilla so @cpeterso can track?

[2019-05-24 15:42] Amejia481 commented on #2673
@sblatz  the same issue happens with the `singleTask`. I'm not quite sure if this problem is related to the activity `launchMode`.

[2019-05-24 15:51] Amejia481 commented on #2397
Sure!

- [A-C issue](https://github.com/mozilla-mobile/android-components/issues/3108)
- [GeckoView issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1554226)

[2019-05-24 15:57] ekager commented on #2810
I think it's this:

[2019-05-24 16:21] hakkikaancaliskan commented on #2778
Yes they [updated](https://github.com/mozilla-mobile/fenix/commit/03d0ed9d6d450bf35e04080d8ad166628939ee3b) geckoview and [switched](https://github.com/mozilla-mobile/fenix/commit/c3ff7a1aba7ba7fd3af859866381d6d37396d977) to the beta.

[2019-05-24 16:22] mheubusch commented on #658
Please label this Your rights and add to the bottom of the settings list beneath Privacy notice

<img width="232" alt="Screen Shot 2019-05-24 at 11 21 23 AM" src="https://user-images.githubusercontent.com/20115914/58342533-44ca4e00-7e16-11e9-835a-48bbad9216bd.png">

[2019-05-24 16:49] ekager commented on #2810
On the Fenix side we're not listening for any broadcasts, so I opened an AC issue for this https://github.com/mozilla-mobile/android-components/issues/3110

[2019-05-24 17:13] sblatz commented on #1575
Blocking bug is fixed by https://github.com/mozilla-mobile/fenix/pull/2830

[2019-05-24 17:14] kbrosnan commented on #2810
Sentry issue: [FENIX-15W](https://sentry.prod.mozaws.net/operations/fenix/issues/5769134/)

[2019-05-24 17:15] kbrosnan commented on #2810
Very similar crash stack: [FENIX-VP](https://sentry.prod.mozaws.net/operations/fenix/issues/5674157/)

[2019-05-24 17:15] ryanfeeley opened #2831 "FNX3-16615 ⁃ [Bug] Fenix device not showing up in FxA device list"
STEPS TO REPRODUCE

1. Authenticate a Fenix device by pairing or manually
1. Visit device on FxA settings

EXPECTED RESULTS

* Firefox for Android appears in list as a Sync device
![](https://user-images.githubusercontent.com/68213/58345297-ff158180-7e25-11e9-9222-8e2625a52a1c.png)

ACTUAL RESULTS

* Does not appear in any form

![](https://user-images.githubusercontent.com/68213/58345114-9af2bd80

[2019-05-24 17:24] bifleming commented on #658
Unblocking to get the link and label in. Please block again when that is done and we are waiting for the content.

[2019-05-24 17:30] boek commented on #2593
This is blocked on A-S and Fennec 67

[2019-05-24 17:35] sblatz opened #2833 "Update "remove account" button in FxA error state to "force auth""
Currently our "remove account" button when in an error state just has the same behavior as signing the user out (when we go to sign back in, the email is remembered). According to @ryanfeeley, we actually want to "force auth" them on the next sign in and forget their username. The API for this does not exist yet according to @vladikoff.

[See full Slack conversation](https://mozilla.slack.com/arch

[2019-05-24 17:39] sblatz opened #2834 "FNX3-16617 ⁃ Delete All Private Tabs Redesign"
When we originally designed private mode, it was much more like Focus with a trash can easily accessible in the browser fragment.

We [chose to remove that here](https://github.com/mozilla-mobile/fenix/issues/1788) against the original designs, and I would like us to re-consider this change, especially if we want the browser to feel very familiar to Focus users.

### Acceptance Criteria
Garbage Ic

[2019-05-24 17:42] sblatz commented on #2673
@Amejia481 I cannot reproduce this on my Galaxy S9 on master 😓

[2019-05-24 17:43] jdragojevic opened #2835 "FNX3-16618 ⁃ [Bug] Quickly Deleting bookmarks -> Crash"
## Steps to reproduce
1. Visit your bookmarks list.
1. Quickly start selecting and deleting bookmarks 1x1
1. Repeat until crash

### Expected behavior
No crash - items deleted

### Actual behavior
As I was deleting the bookmarks the UI was a bit _janky_. Item I had deleted would briefly reappear as I was deleting them.  (Again, I was moving fast).  It made me uncertain whether or not items were be

[2019-05-24 18:02] sblatz commented on #658
@mheubusch Should the string say "Privacy notice" or "privacy policy"? It currently says "policy" and I want to confirm we're intentionally changing it.

[2019-05-24 18:04] ryanfeeley commented on #2565
For example, here is the reticle lined up perfectly with the code.
![Screenshot_20190524-124602](https://user-images.githubusercontent.com/68213/58347818-d9d84180-7e2c-11e9-8b68-813ef0d53989.png)

[2019-05-24 18:08] sblatz opened #2836 "FNX3-16619 ⁃ [Bug] Close button in Fenix-launched custom tab is hard to see"
The white close button is hard to see against the white toolbar. We just need to pass in a theming option (like other apps do) to handle this.
![close tab](https://user-images.githubusercontent.com/4400286/58348014-3e3ad700-7e14-11e9-87b3-ad66eed5836a.gif)

[2019-05-24 18:13] mheubusch commented on #658
It should say notice - thanks for *noticing* that.  The destination is to our Firefox privacy notice

[2019-05-24 18:15] sblatz opened #2837 "FNX3-16620 ⁃ [Bug] Inconsistent capitalization on settings page"
On the settings page we sometimes capitalize each word and sometimes only capitalize the first word. We should be consistent:

![](https://user-images.githubusercontent.com/4400286/58348329-3e87a200-7e15-11e9-98e2-b33f730510ad.png)

[2019-05-24 18:16] ryanfeeley opened #2838 "Fenix not appearing on iOS devices"
## Steps to reproduce
1. Sign in to FxA.Sync on Fenix and iOS
1. On iOS view send tab from inside or outside Firefox

### Expected behavior
* Fenix appears

### Actual behavior
* Fenix does not appear

### Device information
* iPhone SE and Nexus
* Fenix version: today's
![IMG](https://user-images.githubusercontent.com/68213/58348363-86ff8980-7e2e-11e9-8a0d-2a32322be840.jpeg)UNITO-UNDERSCORE!30C1E

[2019-05-24 18:17] ryanfeeley opened #2839 "FNX3-16622 ⁃ Fenix tabs not arriving on iOS"
## Steps to reproduce
1. Sign in to Fenix and Firefox iOS
1. Send a tab from Fenix to iOS

### Expected behavior
* Tab appears

### Actual behavior
* Does not

[2019-05-24 19:01] Amejia481 commented on #2673
I noticed the option **"Don't keep activities"** is  activated on my phone from a previous test. After disabled it the crash disappears. I think #706 is  still present, and it's more connected with the activity recreation  than with the **the activity launchMode** option. Please activate this option and try it.

![image](https://user-images.githubusercontent.com/773158/58347085-e9568b00-7e2a-11e9-

[2019-05-24 19:20] vesta0 commented on #1288
Moving this out of the sprint.

[2019-05-24 19:21] vesta0 commented on #1287
Moving this out of the sprint.

[2019-05-24 19:36] mozillamarcia opened #2842 "[Bug] Fenix periodically loses session information"
## Steps to reproduce
* Open 5-6 tabs
* Close Fenix by swiping away

### Expected behavior
* When I reopen the app my previously open tabs would be there

### Actual behavior
* Tabs are all blank, see attached screenshot

### Device information
* Android device: Pixel 3
* Fenix version: 1.01921 (Build #11440615)
![Screenshot](https://user-images.githubusercontent.com/2171777/58352480-a4862080-7e39

[2019-05-24 19:39] mozillamarcia opened #2843 "[Bug] Multiple taps needed to share a collection"
## Steps to reproduce
* Create a collection
* Tap the share button to share it

### Expected behavior
* Tapping on the button opens a series of apps that I can choose from where I can share the content

### Actual behavior
* Multiple taps are needed to get the share button to work. It seems you have to be extremely precise with the touch event in order for it to work. Usually it takes me 3-4 tries

[2019-05-24 20:06] ekager commented on #2843
We should expand the touch areas of these small icons

[2019-05-24 20:07] ekager commented on #1287
I implemented a similar shared transition that "opens" the tab into the browser, but it does not match the mocks directly. We can revisit this later if it needs tweaking.

[2019-05-24 20:07] ekager commented on #1288
I implemented a similar shared transition that "opens" the tab into the browser, but it does not match the mocks directly. We can revisit this later if it needs tweaking.

[2019-05-24 20:12] andreicristianpetcu opened #2845 "FNX3-16626 ⁃ [Bug] latest build has really bad animations"
## Steps to reproduce
switch tabs

### Expected behavior
either no abimations or nice animations

### Actual behavior
choppy animations

### Device information
![Screenshot](https://user-images.githubusercontent.com/922368/58354215-6b6da080-7e79-11e9-8ef4-99cbf365f31d.png)UNITO-UNDERSCORE!20190428-135941!UNITO-UNDERSCORE!Settings!

[2019-05-24 20:12] vishwa-raj commented on #2822
@cadeyrn Thanks for the update.

[2019-05-24 20:19] agi90 commented on #2616
Sentry issue: [FENIX-Y9](https://sentry.prod.mozaws.net/operations/fenix/issues/5713056/)

[2019-05-24 20:28] cpeterso commented on #1134
@vesta0 - Does `High priority backlog (not in the current sprint)` mean this issue will be fixed before or after Fenix MVP?

This issue is only relevant while Fenix is using GV 68. There will be no point in fixing this issue after Fenix updates to GV 69.

[2019-05-24 20:28] cadeyrn commented on #2828
I cannot confirm, Lockbox still works in Fenix. I guess the real problem is the fragility of Lockbox. I have to start and unlock Lockbox very often to make it work, but that's not a regression, it was always a problem with Lockbox. I never used another password manager on Android so I can't compare to others.

[2019-05-24 20:45] cadeyrn commented on #2834
The important difference between Focus and Fenix is that Focus is a single tab browser (yes, multi tab browser in theory, but only in theory ;-) ), Fenix is not a single tab browser. So the same UX (trash icon in address bar) cannot be applied for Fenix without creating confusion if this icon is used to close *all* tabs as implemented before because it breaks the mental model that an icon in the a

[2019-05-24 21:13] suoko commented on #2818
Samsung internet browser has this feature, a quite nice feature.

[2019-05-24 23:20] dector commented on #2254
@kbrosnan Thanks! It is.

[2019-05-24 23:35] IdmFoundInHim commented on #2820
Reproduced on Android 7, Samsung Note5, Fenix 1.0.1921 (Build 1 68.0-20190520141152) built from GitHub.

The plot thickens: The best way I can describe this is that the scroll is reset to its 'original' position -- the position it was in when the app was brought to the foreground -- when a collection is expanded or collapsed AND whenever a tab is closed.

## STR
1. Create one or more collections a

[2019-05-25 00:04] dector commented on #1366
Will check it.

[2019-05-25 05:48] jonalmeida commented on #2842
Duplicate: https://github.com/mozilla-mobile/fenix/issues/2814

[2019-05-25 08:06] pwd-github commented on #2828
Resetting Fenix (clearing data) fixed the issue.

[2019-05-25 10:05] ReekyMarko commented on #2789
Can confirm. This is even more pronounced if using a dark theme

![](https://i.imgur.com/LqHTx8h.png)

[2019-05-25 17:43] ekager commented on #1910
Opened https://github.com/mozilla-mobile/android-components/issues/3120

[2019-05-25 21:02] pwd-github opened #2858 "FNX3-16628 ⁃ [Bug] Switch to tab snack bar no longer appears"
## Steps to reproduce
1. Open a webpage
1. Long press a link
1. Tap open in new tab

### Expected behavior
Fenix should display a snack bar notification that offers to switch to the new tab

### Actual behavior
Nothing

### Device information
* Android device: Android 8, LG G6
* Fenix version: 1.0.1921

[2019-05-26 02:44] lewoking commented on #1982
support custom search engine

[2019-05-26 04:17] pwd-github opened #2860 "FNX3-16629 ⁃ [Bug] long pressing in empty input fields shows select all in context menu"
## Steps to reproduce
1. Navigate to form whereby you need to login to a website
1. Long press on either username or password field

### Expected behavior
User should see "Paste" and "Auto Fill" by default.

### Actual behavior
It offers to select all, despite the field being empty.

### Device information
* Android device: Android 8, LG G6
* Fenix version: 1.0.1921

[2019-05-26 04:30] pwd-github commented on #174
This work forgot SEARCH, for both images and text.

[2019-05-26 04:51] linabutler opened #2861 "Don't expose unsupported bookmark types in the bookmarks UI"
`mozilla.components.concept.storage.BookmarkNodeType` can be an item, folder, or separator. Additionally, Sync supports queries (which are bookmarks with a special `place:` URL that Desktop parses and renders specially, kind of like a Windows shortcut) and livemarks (which are deprecated).

Let's consider filtering out queries and livemarks in folder lists, since it's a bit confusing to see them,

[2019-05-26 13:27] pwd-github opened #2862 "FNX3-16631 ⁃ [Bug] missing argument from About Firefox Preview page"
## Steps to reproduce
1. Go to settings
1. Go to About Firefox Preview

### Expected behavior
You shouldn't see 1$s

### Actual behavior
You see 1$s

### Device information
* Android device: Android 8, LG G8
* Fenix version: 1.0.1921

[2019-05-26 13:29] pwd-github commented on #2862
Sorry, I have no idea how to explain this one with any detail.

[2019-05-26 13:35] pwd-github opened #2863 "[Bug] Crashes should be contained to a single tab"
## Steps to reproduce
1. Open ten GitHub tabs (various repositories, issues, etc)
1. Attempt to file a new issue
1. Attempt to attach a screenshot
1. Attempt again because it will fail the first time
1. Press back

### Expected behavior
You return to the form you was filing an issue on.

### Actual behavior
You return to an about:blank tab and find that the other GitHub tabs are now about:blank ta

[2019-05-26 13:35] hakkikaancaliskan commented on #2862
Looks like problem is [here](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/res/values/static_strings.xml#L14)

[2019-05-26 13:40] pwd-github commented on #2862
I'm guessing the problem is on this line

https://github.com/mozilla-mobile/fenix/blob/884da93184141757f7da749f97761c127849ce32/app/src/main/java/org/mozilla/fenix/settings/AboutFragment.kt#L45

If not where the variable is being set.

[2019-05-26 13:41] hakkikaancaliskan commented on #2862
As I said before, problem is on string. Should be like '%1$s' but now '1$s'

[2019-05-26 13:44] pwd-github commented on #2862
Thanks for explaining it properly the second time around.

[2019-05-26 13:54] hakkikaancaliskan commented on #2862
Sorry, I said nothing to you. Just wanna say it should be like that.

[2019-05-26 15:42] mcl21014 opened #2864 "Implement about:compat"
### Why/User Benefit/User Problem
With Firefox's small market share, a lot of sites ignore it and don't play nice with non-Chromium or non-WebKit browsers, meaning Firefox only. This results in breakage the user will blame on the application and Mozilla.

### What/Requirements
Another about: entry to he generated with flags for certain problematic sites (as planned in Firefox 68 on desktop).

###

[2019-05-26 15:57] mcl21014 opened #2865 "[Bug] Device name not included with Sync - could cause confusion for users with multiple devices"
## Steps to reproduce
1) Sign in to Firefox sync
2) Go to Settings > Account header, your user name.
3) Tap your user name.

### Expected behavior
The device name should read "Fenix on x" where x where x is the device name. Such as "Fenix on Pixel 3 XL".

### Actual behavior
Notice the default device name is a generic "Fenix".

### Device information
* Android device: Pixel 3 XL
* Fenix version: 1

[2019-05-26 18:15] yoasif commented on #2845
I actually *like* the animations, but think they can be improved.

Some small notes:

* animations are too slow -- they don't seem janky, but they *lag* - I am on a Pixel 2. On my Moto G, returning to a tab from home is very stuttery, however. On my LG G4, the fading effects also look very slow
* when moving to the home screen from a tab, the page seems to go white immediately as the animation beg

[2019-05-26 21:19] mcl21014 opened #2866 "[Bug] Bug in about screen"
## Steps to reproduce
1) Tap the overflow menu.
2) Go to Settings > About Firefox Preview

### Expected behavior
About screen says "Firefox Preview is produced by Mozilla".

### Actual behavior
About screen says "1$s is produced by Mozilla".

### Device information
* Android device: Pixel 3 XL
* Fenix version: 1.0.1921

[2019-05-26 21:20] cadeyrn commented on #2866
Duplicate of #2862.

[2019-05-26 23:50] rfk commented on #2833
To clarify, I think "forget their username" is not what we want. The two options from a signin error state should be:

* Re-authenticate as the same user that was already signed in on the browser.
* Completely sign out of the browser.

What do don't want is for them to sign in to some other unrelated account, because it might result in them accidentally syncing the history and bookmarks from one a

[2019-05-27 06:18] andreicristianpetcu commented on #2845
@yoasif there is quite some fragmentation in the animation. Not sure what is the technical term https://imgur.com/a/A7iqJ5P

[2019-05-27 06:27] cadeyrn commented on #2845
Looks similar on my device (HTC U11, Android 8.0). While I think the animation from the tab to the home screen looks okay (only a bit annoying after a few hundred tab switches...) the opposite animation from the home screen to a tab looks not good, there is some kind of flickering.

[2019-05-27 06:51] andreicristianpetcu commented on #1481
@NatoBoram not necesarily. Fennec supports WebExtensions but not the ones with Containers. Hope Fenix will not have this limitation.

[2019-05-27 08:10] pwd-github opened #2867 "FNX3-16636 ⁃ [Bug] External links open in private browsing if Fenix was left in a private browsing tab"
## Steps to reproduce
1. Open a private browsing tab
1. Go to another app (or notification)
1. Open a link from that app (not a custom tab)

### Expected behavior
The tab is opened as a normal Fenix tab.

### Actual behavior
The tab is opened as a private browsing tab.

### Device information
* Android device: Android 8, LG G6
* Fenix version: 1.0.1921

[2019-05-27 08:17] pwd-github opened #2868 "FNX3-16637 ⁃ Option for custom tabs to be private browsing tabs"
### Why/User Benefit/User Problem
Custom tabs shouldn't be privacy concerns by default, however as things stand, they kinda are. I would like to be able to mitigate that problem where possible and isolate cookies and all the other benefits that private browsing provides.

### What/Requirements
Option within Settings for isolated custom tabs.
Custom tabs always use private browsing mode.

### Accep

[2019-05-27 08:23] cadeyrn commented on #2867
I don't understand why do you think the actual behaviour is wrong. What you're describing as "expected behaviour" is totally unexpected. When I leave the app in the private mode why should a link be opened in the non-private mode? I would call this a privacy violation. It's my explicit choice to either use the private or the regular mode and I expect that Fenix remembers my choice… 😳

[2019-05-27 08:31] sv-ohorvath commented on #1635
Still not working properly with Bitwarden or LastPass:
- adding new website credentials (e.g. facebook, twitter) to the vault automatically from the app will fill in website name and url with:
name = org.mozilla.fenix
URL = androidapp://org.mozilla.fenix
- no autofill options after I've added the website credentials manually
- you can't name your logins with the website name and URL or otherwise t

[2019-05-27 08:33] sv-ohorvath commented on #87
See https://github.com/mozilla-mobile/fenix/issues/1635#issuecomment-496128571

[2019-05-27 08:33] pwd-github commented on #2867
Try that on desktop and Fennec and you'll see that it's not normal behaviour.

Just because I forget to close a private browsing tab, doesn't mean that private browsing should hijack my browser experience.

Maybe Fenix is evolving the private browsing experience, to provide more permanence, however that's not expected behaviour and as such, it's probably worth explaining that. But in doing so, wha

[2019-05-27 08:36] softvision-miralobontiu commented on #2780
Verified as fixed with Xiaomi Mi4i (Android 5.0.2), Nexus 5 (Android 6), and Sony Xperia Z2 (Android 6.0.1), on the latest build 1.0.1922 (#11470614).

[2019-05-27 08:48] cadeyrn commented on #2867
There is no "normal" behaviour, you can argue for both behaviours. It's a decision made by the developers to use either the one or the other mode. And yes, there may be different opinions. But in my opinions the current behaviour of Fenix makes a lot of sense and I don't want the current behaviour changed.

Fenix has another UX than Firefox for Desktop or Fennec. The mask icon on the Fenix home sc

[2019-05-27 08:59] abodea opened #2869 "[Bug] "Search or enter address" text is flickering under search bar when switching from normal to private or vice versa browsing"
### Steps to reproduce
1. Install and launch Fenix.
1. After the on-boarding tap on the **`Enable Private Mode`** button.
    1. Expected behavior
Fenix is switched to private mode and smooth animation is displayed for all elements.
    1. Actual behavior
When switching to private mode or normal mode there is a text flickering under the **`Search bar`.**
    1. Device information

* Android device

[2019-05-27 09:19] pwd-github commented on #2867
I disagree. Normal is legacy behaviour. To have browser traditionally act one way and then suddenly change that and is abnormal behaviour. It's confusing and bewildering.

I can totally see the benefits for such an approach, they don't fit how I use a browser's private mode, but then I've had years to learn my current behaviour model of wanting to open something privately and expecting my browser

[2019-05-27 09:19] sv-ohorvath commented on #966
Verified pressing back on a page sent from c.t. to Fenix goes through the links opened previously in custom tabs. build: 5/27

[2019-05-27 09:19] #966 closed

[2019-05-27 09:43] abodea opened #2870 "FNX3-16639 ⁃ [Bug] Keyboard is triggered in QR code scanner menu when opening Fenix from background"
## Steps to reproduce
1.Tap the search bar, tap the Scan button.

1. Tap on the device home button.
1. Open/Resume Fenix.
    1. Expected behavior
The QR code scanner is displayed and there should be no keyboard displayed.
    1. Actual behavior
The keyboard pops-up after resuming Fenix.
    1. Device information

* Android device: **`Samsung Galaxy Note 9 (Android 8.1.0)`**
* Fenix version: **`1.

[2019-05-27 09:52] softvision-miralobontiu commented on #1379
I will close this as a duplicate of #1635 because that has more info.

[2019-05-27 10:54] LittleAngelwings opened #2871 "Bookmarklets doesn't work from bookmarks"
## Steps to reproduce
Save any site to bookmarks
Edit this bookmark and put in there a Javascript as url,  e.x.
javascript:%20(function%20()%20{%20%20%20%20%20%20window.open('https://invidio.us/watch?v='%20+%20document.location.href.replace(/^.+v=(.{11})(.+)?/g,%20'$1'));%20%20})();
Save this edited bookmark
Use it on YouTube for download a video.

### Expected behavior
The YT Video will be downlo

[2019-05-27 11:26] TitanNano commented on #2869
duplicate of  #2642

[2019-05-27 12:11] sv-ohorvath commented on #2732
Verified as fixed on the 5/27 build.

[2019-05-27 12:12] sv-ohorvath commented on #1575
All blocking issues are fixed. Closing.

[2019-05-27 12:15] pwd-github opened #2872 "FNX3-16641 ⁃ [Bug] Opening Fenix from sync notification causes Fenix to crash"
## Steps to reproduce
1. Send a tab from another device
1. Wait
1. Press notification to open received tab

### Expected behavior
Fenix should open the tab and remove the notification.

### Actual behavior
Fenix crashes (sometimes it opens the tab and doesn't remove the notification, but more often than not -- 95% of the time -- it crashes)

### Device information
* Android device: Android 8, LG G

[2019-05-27 12:15] abodea commented on #2869
Hello, @TitanNano as far as I can see in issue #2642 he is referring to the icon from the search bar, I understand that it's the same search bar, but I'm referring to a complete another issue.
I didn't saw any problem with my device on the icon. Do you still is this a duplicate? If yes I will close this issue and add my part to that bug.

Regards,
Andrei

[2019-05-27 12:16] pwd-github commented on #2865
Users should be able to set device name as we're able to do on some of the other apps.

[2019-05-27 12:20] IndefiniteBen commented on #2819
I'm not sure this is strictly a bug. Several apps (Google Photos) also implement a custom share sheet that doesn't get nearly as many complaints as it often ends up being quicker than the system share sheet.

The app list is alphabetical, which does not make sharing to WhatsApp enjoyable, so I agree that it needs to be changed, but is it a bug?

I understand that this has been done as the sharing

[2019-05-27 12:31] abodea commented on #2869
Also, note that I tried on other devices with android 6 and 7 but I the icon didn't disappeared as described in #2642 only the text was flickering.

[2019-05-27 13:00] sv-ohorvath opened #2874 "FNX3-16642 ⁃ [Bug] Tabs briefly visible in PB and gone from normal browsing homescreen (and vice-versa)"
## Steps to reproduce
1. Open a tab in normal browsing.
1. Switch to private browsing and back to normal. Repeat.
*same steps are valid switching from private browsing to normal.

### Expected behavior
N.b. tabs are not displayed in P.b. N.b tabs are displayed on the homescreen all the time.

### Actual behavior
Tabs are displayed in P.b.
Returning to normal browsing, the tabs are not displayed un

[2019-05-27 13:02] Amejia481 commented on #2616
No any occurrences in new versions

[2019-05-27 13:02] sv-ohorvath commented on #2404
No longer reproducing.

[2019-05-27 13:03] Amejia481 commented on #2673
This [Sentry exception](https://sentry.prod.mozaws.net/operations/fenix/issues/5811387/) looks like the same stack trace as #706

[code]

[2019-05-27 13:09] Amejia481 opened #2875 "[Bug] No app name is shown on About Firefox Preview page"
## Steps to reproduce
1. Go to Settings
1. Go to About Firefox Preview

### Expected behavior
The name of the app should be shown instead of the character **1$**

### Actual behavior
![75681860](https://user-images.githubusercontent.com/773158/58421633-76355a80-805e-11e9-9ad7-8cfd2df749a9.png)

### Device information
* Android device: Pixel 3
* Fenix version: 1.0.1922

[2019-05-27 13:10] cadeyrn commented on #2875
Duplicate of #2862. :)

[2019-05-27 13:11] Amejia481 commented on #2875
Thanks!

[2019-05-27 13:33] sv-ohorvath opened #2876 "FNX3-16644 ⁃ [Crash] Crash at forced sync"
## Steps to reproduce
1. Log in with Fxa.
1. Go to Settings>Account, tap Sync now.
    1. Expected behavior
FxA starts syncing.
    1. Actual behavior
App crashes
    1. Device information

* Android device: Note 8 (Android 9), Nexus 5 (Android 6)
* Fenix version: 5/27, build #11470614

[2019-05-27 13:59] sv-ohorvath commented on #2865
Also changing the device name will not save it on first try.
Edit and change the device name.
Exist and return to the accounts settings menu.
Observe the Device name.
Sync with other devices.

-device name is not replaced on the Account settings page. If you tap to edit it, you will see the name you've put last time.
-the device name is not updated on all devices that you sync with

[2019-05-27 14:06] jonalmeida commented on #2865
Hey @sv-ohorvath , thanks for catching this issue. Could you file it as a separate bug since this is a different issue. I'll try and get both of them fixed soon. :)

[2019-05-27 14:09] sv-ohorvath opened #2877 "FNX3-16645 ⁃ [Bug] Device name change not saved instantly"
## Steps to reproduce
Edit and change the device name.
Exit and return to the accounts settings menu.
Observe the Device name.
Sync with other devices.

### Expected behavior
Device name updated instantly on your device. New device name synced on all devices.

### Actual behavior
-the device name is not replaced on the Account settings page. If you tap to edit it, you will see the name you've put

[2019-05-27 14:09] sv-ohorvath commented on #2865
Sure, here it is: #2877.

[2019-05-27 14:10] jonalmeida opened #2878 "[Share] Remove rounded botton corners of share sheet"

[2019-05-27 14:17] jonalmeida commented on #2876
Found the crash log for this issue:
[code]

[2019-05-27 14:23] abodea commented on #2529
Verified as fixed on the latest build **`1.0.1922(Build #11470614 68.0-20190520141152) 5/27`** with **`Samsung Galaxy Note 9(Android 8.1.0).`**

[2019-05-27 14:27] sv-ohorvath opened #2880 "[Bug] Tabs received from another device don't go away from the notification bar"
## Steps to reproduce
1. Send a tab (or more) from one device to another.
1. Open the tabs from the notification received.
1. Check the notification bar again.
    1. Expected behavior
The notification is hidden once the tabs are opened.
    1. Actual behavior
The notification remains on.
Tapping the tab received again, will crash the app.
    1. Device information

* Android device: Note 8 (Andro

[2019-05-27 14:28] softvision-miralobontiu commented on #2389
I will remove the QA needed flag until #2721 is fixed.

[2019-05-27 14:29] mitchhentges opened #2881 "Move Fenix Nightly to "org.mozilla.fenix.nightly" GPS app"
Currently, the Fenix nightly is occupying the "Fenix Release" (`org.mozilla.fenix`) slot in Google Play.
We need to move Fenix Nightly to `org.mozilla.fenix.nightly` so that we're ready for the real release.

* [x] This depends on [this](https://github.com/mozilla-releng/pushapkscript/pull/87) landing

Todo:

* [x] Continue publishing nightly to `org.mozilla.fenix` on the `nightly` channel to supp

[2019-05-27 14:30] sv-ohorvath opened #2884 "[Bug] Synced mobile devices need a "mobile device" icon"
## Steps to reproduce
1. Sign in to sync.
1. Open a tab and tap share in the main menu.
1. Observe the icons of the mobile device synced.
    1. Expected behavior
According to mocks, mobile devices and desktop have different icons: https://user-images.githubusercontent.com/128755/57334721-8bb60500-70ee-11e9-92fb-bca32133f5ff.png
    1. Actual behavior
Same icons for mobile & desktop.
    1. Device

[2019-05-27 14:37] softvision-miralobontiu commented on #1882
Verified that the page from step 1 (http://www.itisatrap.org/firefox/its-a-trap.html) displays this message:
![1](https://user-images.githubusercontent.com/40694158/58426682-def3f580-80a5-11e9-867f-57d938d91cc2.png)

the page from step 2 (http://www.itisatrap.org/firefox/its-an-attack.html) displays this message:
![2](https://user-images.githubusercontent.com/40694158/58426687-e2877c80-80a5-11e9-8

[2019-05-27 14:39] sv-ohorvath commented on #2823
https://github.com/mozilla/firefox-preview-bughunting-campaign/issues/178 - same behavior for closing all tabs in private browsing.

[2019-05-27 14:43] sv-ohorvath commented on #2164
This has an impact on Sending tabs, which you expect to happen almost instantly.

[2019-05-27 14:51] pwd-github opened #2885 "[Bug] massive black bar adorns custom tabs"
## Steps to reproduce
1. Open a custom (embedded) tab

### Expected behavior
No black bar at the bottom

### Actual behavior
There's a massive black bar (about the size of the awesome bar) at the bottom

### Device information
* Android device: Android 8, LG G6
* Fenix version: 1.0.1921

[2019-05-27 14:53] sv-ohorvath opened #2886 "FNX3-16652 ⁃ [Bug] Sending multiple tabs to another device sends a single string of URLs"
## Steps to reproduce
1.Sign in to sync.

1. Open 2 or more tabs.
1. From the 3 dots menu, select Share tabs.
1. Select another device to send the tabs.
    1. Expected behavior
Tabs received can be opened in individual tabs
    1. Actual behavior
A single tab is created with one string of URLs.
https://www.screencast.com/t/EVrhnsRHGT

note: Sharing multiple tabs on the same device with Fennec, Fe

[2019-05-27 14:53] cadeyrn commented on #2885
Duplicate of #2789.

[2019-05-27 14:54] sv-ohorvath commented on #331
@sblatz Started testing this and found some issues, please review when you can.

[2019-05-27 15:02] jonalmeida opened #2887 "FNX3-16653 ⁃ [Bug] [Share] Fenix devices registers as Desktop device instead of mobile"
## Steps to reproduce
1. Login to an account on one device.
1. Login on another with the same account.
1. Attempt to share a tab with the first device.
1. Observe

### Expected behavior
* The Fenix device is registered as a mobile device and shows a mobile icon.

### Actual behavior
* The [device _is_ registered](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fen

[2019-05-27 15:03] jonalmeida commented on #2887
cc: @grigoryk if you might know what could be causing this.

[2019-05-27 15:28] pocmo commented on #2712
The fix landed in AC and I marked the Sentry issue as "fixed in the next release".

[2019-05-27 15:29] pocmo commented on #2406
This was fixed in AC and the new behavior can be observed in RB. However the Fenix implementation seems to differ and the change doesn't affect it.

[2019-05-27 15:44] jonalmeida commented on #2356
@sylvestre will follow up on the app keys we would need to go in.

[2019-05-27 16:06] jonalmeida commented on #2877
@grigoryk I was looking into this and it seems like that after we set the device name, the changes aren't persisted in the device constellation.

When we do:
[code]

We see the device name updated on a desktop device, but when querying:
[code]

Is that expected? Do we not store the update, or do we wait for the `deviceConstellationObserver` to return for those changes to take place? (in which case

[2019-05-27 16:10] AaronMT commented on #2810
All you have to do is launch Fenix in Airplane mode.

[code]

[2019-05-27 16:11] jonalmeida commented on #2872
Crash log:
[code]

[2019-05-27 16:12] AaronMT opened #2888 "FNX3-16654 ⁃ [Bug] Crash loop on launch when device has no connection (e.g, Airplane mode)"
Build: 0ca317b7ca9a739ecfa5b8d9363f4e7f06bad72f
Device: Pixel 2

(CC @eoger )

See also: https://github.com/mozilla-mobile/fenix/issues/2810 for another network crash

[code]

[2019-05-27 16:13] AaronMT commented on #2810
Maybe we want to split this? Filed mine as https://github.com/mozilla-mobile/fenix/issues/2888

[2019-05-27 16:25] jonalmeida commented on #2884
@sv-ohorvath do you mind if I close this as a duplicate of #2887 since I believe that's the root cause for this issue.

[2019-05-27 16:39] jonalmeida opened #2890 "FNX3-16656 ⁃ [Bug] [Share] Sending tab from another device shows empty title."
### Steps to reproduce
1. Have two devices with fenix on it.
1. Send a tab from one to the other.

### Expected
* The notification which eventually shows up (hit the sync now button for faster turn-around), should have a title.

### Actual
![](https://user-images.githubusercontent.com/1370580/58431564-69bffa80-807c-11e9-804c-7f8c927f597c.png)

[2019-05-27 17:04] AmyYLee opened #2891 "FNX3-16657 ⁃ [Bug] Tab text is cut off in save to collections mode"
Steps to reproduce:

1. Open a new tab from homescreen with a long title (https://www.mallofberlin.de/en/stores/bestworschtintown)
1. Click on "Save to collection"
1. Select tab and hit "save"
1. In the next screen where it asks where to save the tab, the text in the tab is cut off (see screenshot)

![Screenshot](https://user-images.githubusercontent.com/5992746/58432317-b35e1480-807f-11e9-9c0c-1c

[2019-05-27 17:20] Amejia481 opened #2893 "FNX3-16658 ⁃ [Bug] Crash when opening from external source with "Don't keep activities" activated on developer options"
## Steps to reproduce ([video demo](https://drive.google.com/file/d/1-xb0Gmid8buclWnfhJKEnRR-FZmjrGXi/view))
1. Activate **"Don't keep activities"** on developer options
1. Navigate to a website from within Fenix
1. While BrowserFragment is open, close the app
1. Open a link from an external source (I used the messages app)
1. Press Home
1. Open the tab you previously opened

### Expected behavior

[2019-05-27 17:23] Amejia481 commented on #2673
To sum up:

✅  I tested with `launchMode="singleTask"` and I'm not able to replicated #706.

💥   Using the option "**Don't keep activities"**. I'm able to replicated #706 with both  `launchMode="singleTask"` and `launchMode="singleInstance"`. What leads me to think that #706 is still there or a similar issue.

As we don't have a robust set of tests yet, that helps us to detect any regressions of s

[2019-05-27 17:24] Amejia481 commented on #2893
💥 [Similar crash on Sentry](https://sentry.prod.mozaws.net/operations/fenix/issues/5811387/)

[2019-05-27 17:30] Amejia481 commented on #2893
Related issue #2673

[2019-05-27 17:32] mitchhentges commented on #2523
Messaged Will directly, he's given a :+1:

[2019-05-27 17:44] AmyYLee opened #2896 "[Product Quality] Collections - Checklist (Ongoing)"
**Feature Level Checklist for Collections**

This is an ongoing list for product quality related bugs for this feature/component. Any non-essential UX issues should be added here (bugs that impact quality of product but do not hinder functionality or accessibility). Essential UX bugs should be filed separately and triaged by product. Items that are fixed should be checked off by UX (Engineering pl

[2019-05-27 18:00] jonalmeida opened #2897 "FNX3-16660 ⁃ Add action states to share sheet"
As a user, I want to be able to initiate the following actions from the share sheet:

* "Verify your email address" - if a user has signed up for an account but hasn't verified their email address during that process before they can make use of sync.
* "Connect another device" - user has signed into their account but doesn't have other devices syncing to send a tab to.
* "Reconnect to Sync" - erro

[2019-05-27 18:01] jonalmeida commented on #2897
Related to https://github.com/mozilla-mobile/fenix/issues/2897 and depends on the same fixes.

[2019-05-27 18:05] AmyYLee opened #2898 "FNX3-16661 ⁃ [Collections] "Select All" option should switch to "Deselect All" on tap"
Steps to reproduce

1. Open several tabs from homescreen
1. Tap on "Save to collection" button on homescreen
1. Select "Select all" in top right corner in saving collection mode

Actual:
Still shows "Select all"

Expected:
Text should switch to "Deselect all" where the user can deselect all tabs on tap

![](https://user-images.githubusercontent.com/5992746/58434203-72b6c900-8088-11e9-9159-79147022

[2019-05-27 18:26] AmyYLee opened #2899 "FNX3-16662 ⁃ [Collections] Animation is missing after saving a collection"
After the user goes through the saving a collections flow and returns to the homescreen, it should scroll down to where collections are located and there should be an animation to highlight the collection where the tabs are saved.

Animation reference:
https://drive.google.com/file/d/1mtg3KDfu5tQQpFPnKArVbvYNYfR4HVDo/view

Spec:
![](https://user-images.githubusercontent.com/5992746/58434781-5b2d0f

[2019-05-27 18:30] AmyYLee commented on #2899
@ekager @sblatz

[2019-05-27 18:31] AmyYLee commented on #2898
@sblatz

[2019-05-27 18:31] AmyYLee commented on #2896
@sblatz @ekager

[2019-05-27 18:32] AmyYLee commented on #2891
@sblatz @ekager

[2019-05-27 18:43] topotropic commented on #658
Please remove the "Your rights" page from Settings home and link to it from the "About..." page.

[2019-05-27 18:54] NatoBoram commented on #1481
Oh, that would be the Container API. I hope they support it, otherwise they wouldn't have full WebExtensions support.

[2019-05-27 18:55] Amejia481 opened #2900 "[Bug] Crash when trying to call showQuickSettingsDialog on BrowserFragment"
[Sentry exception](https://sentry.prod.mozaws.net/operations/fenix/issues/5840689/).

[code]

[2019-05-27 19:50] grigoryk commented on #2252
@klint are you logged into Firefox Account? If you check in Firefox Desktop's sync settings, do you see that bookmarks are enabled to sync?

[2019-05-27 20:14] jonalmeida commented on #2754
Spoke with Nicole and Vesta offline, we're going to going to use the same styling of collections for the tab list.

[2019-05-27 20:26] smaug---- opened #2902 "[Bug] Opening a Collection scrolls the view up"
## Steps to reproduce
Have several Collections, so that the viewport scrolls. Open the last one, viewport is scrolled up and the Collection isn't visible anymore (need to scroll down).

### Expected behavior
Viewport shouldn't scroll up

### Actual behavior
Viewport scrolls up

### Device information
* Android device: Honor 7, Android 6
* Fenix version: 1.0.1921

[2019-05-27 20:39] Amejia481 opened #2903 "FNX3-16666 ⁃ [Bug] Crash when trying to rate the app on a devices without the play store app"
## Steps to reproduce
1. Go to settings
1. Tap "Rate on Google Play"

### Expected behavior
The app takes you to the play store website listing.

### Actual behavior
The app crashes.

### Device information
### Crash
[Sentry](https://sentry.prod.mozaws.net/operations/fenix/issues/5841685/)

[code]

[2019-05-27 20:59] klint commented on #2252
Silly me, I had 2 Firefox accounts and I just have noticed that I was using the wrong one. I changed to the other one, and I'm happy to report that all the bookmarks are visible now.
Thanks

[2019-05-27 21:01] TitanNano commented on #2869
@abodea this is a frame from your video
<img width="739" alt="image" src="https://user-images.githubusercontent.com/4500858/58439220-3b213e80-80d3-11e9-9777-9bf74c634ac7.png">
the icon is clearly disappearing, it just happens very quickly.

[2019-05-27 21:14] grigoryk opened #2905 "FNX3-16667 ⁃ [Bug] "Device name" dialog isn't behaving correctly"
On a fresh install open sync settings, tap "device name". The dialog starts off as empty, but it should have the default name of the current device. (e.g. "Firefox Preview").

Then, change the name, e.g. to "Firefox TEST", and sign out. Now sign-in again (this creates a new device record), and open "device name" dialog. It will display "Firefox TEST", not the default name.

So, what needs to happe

[2019-05-27 22:01] smaug---- opened #2906 "FNX3-16668 ⁃ [Bug] ibanez.com does not load on Fenix"
## Steps to reproduce
Try to load https://www.ibanez.com

### Expected behavior
The website should load (as it loads in Fennec).

### Actual behavior
Website's throbber keeps spinning.

### Device information
* Android device: Honor 7, Android 6
* Fenix version: 1.0.1921

[2019-05-27 22:04] smaug---- commented on #2906
Aha, this happens only when tracking protection is on. (and it is on by default)

[2019-05-27 23:45] jonalmeida opened #2907 "Decide to enable send-tab"
Parent: #331

A discussion issue on enabling send-tab.

[2019-05-28 00:05] dector commented on #1366
This issue has two cases:

1. Activity stays the same. (_Fixed in #1366_).
2. Activity was recreated. (_Requires saving view state implementation_).

[2019-05-28 05:32] andreicristianpetcu opened #2909 "FNX3-16670 ⁃ [Bug] input lag on reddit"
## Steps to reproduce
go to a reddit page like this one https://www.reddit.com/r/news/comments/bto8ni/maine_bars_residents_from_opting_out_of/
Type in a comment.

### Expected behavior
After each leter I type, I expect to see it on the screen.

### Actual behavior
There is a lag from time to time and letters do not get displayed immediatly.

### Device information
* Android device: ?
* Fenix versi

[2019-05-28 06:19] sv-ohorvath commented on #2884
Not at all. I'll close it. Thank you!

[2019-05-28 06:39] softvision-miralobontiu commented on #1688
Verified as fixed on the latest build 1.0.1922 (#11471807), with Nexus 6P (Android 8.1.0), Samsung Galaxy S8 (Android 9), and Sony Xperia Z2 tablet (Android 6.0.1).
The back and forward arrows are working as expected.

[2019-05-28 06:55] abodea commented on #2869
Thank you @TitanNano I will close my issue and add my input on the one you mentioned above.

[2019-05-28 06:57] abodea commented on #2642
Note that I was able to reproduce this issue to on **`Samsung Galaxy Note 9 (Android 8.1.0)`** but somehow the text displayed over the search bar was more highlighted see the [Video](https://drive.google.com/file/d/19WnuHb5aqQFLYDhUuknPKhntTHeQCbXP/view?usp=sharing).

[2019-05-28 07:22] bsurd commented on #1028
This has been tested by QA, the activation ping is successfully sent and appears in glean.

[2019-05-28 07:23] abodea commented on #1919
The issue still reproduces, exactly like in the [description](https://github.com/mozilla-mobile/fenix/issues/1919#issue-436158955).
Tested on the latest build **`1.0.1922 (#build11480607), with Samsung Galaxy Note 9(Android 8.1.0) and Google Pixel 3(Android 9).`**

[2019-05-28 07:31] bsurd commented on #800
This has been verified by QA, the ping is sent and data is successfully logged.

[2019-05-28 07:31] #800 closed

[2019-05-28 07:46] bsurd commented on #1857
No metrics are logged in the glean dashboard for the QR code scanner. According to the metrics.yaml file values should be logged for when the scanner has been opened, for the navigation prompt and whether navigation has been allowed or denied.

[2019-05-28 07:59] softvision-miralobontiu opened #2910 "[Bug] Sign in via pairing doesn't work"
## Steps to reproduce
1. On mobile, Fenix, go to Settings - Sign in with a QR code (Pair with Firefox Desktop).
1. On desktop (Firefox), sign in with valid credentials.
1. On desktop (Firefox), go to account.firefox.com/pair and scan the QR code.

### Expected behavior
On desktop, the address account.firefox.com/pair is not valid.

### Actual behavior
The user should be able to scan the QR code.

[2019-05-28 08:21] sv-ohorvath opened #2911 "FNX3-16673 ⁃ [Bug] Image with page link opened in private tab, opens just the image"
### Steps to reproduce
1. Go to cnn.com and long tap the image of the top news article.
1. Tap Open link in Private tab.
1. Verify the link opened in PB.
    1. Expected behavior
-The article URL should be loaded.

### Actual behavior
-The image URL is loaded.

### Device information
* Android device: LG Nexus 5 (Android 6.0.1), Pixel (Android 9)
* Fenix version: 5/28

[2019-05-28 08:33] pwd-github opened #2912 "Tweak about pages need for mobile"
### Why/User Benefit/User Problem
This is more of a polish request. Mobile has replaced desktop as the means by which most people access the Internet and without going into whether a modern application should be mobile first or not, the users of mobile should feel like first class citizens, the about pages have clearly been designed for desktop and thus could use some minor tweaking to make them f

[2019-05-28 08:54] abodea commented on #1860
Hello, is the following text **`Fenix puts you in control`** completely removed from **`About Fenix`?** it's missing and I didn't saw any mention about it.
@vesta0 can you please clarify if this is intended?

[2019-05-28 08:56] bsurd commented on #974
There is telemetry for most of the bookmark management options except for when deleting a folder.

@colintheshots Could you look into this?

[2019-05-28 09:42] abodea opened #2913 "FNX3-16675 ⁃ [Bug] Fenix crashes when trying to allow "Persistent Storage" permission"
## Steps to reproduce
1. Install and launch Fenix.
1. Access **`https://permission.site/`** website.
1. Scroll down until you find **`Persistent Storage`** permission option and tap on it.
    1. Expected behavior
A pop-up should be displayed asking for permission regarding **`Persistent Storage`.**
    1. Actual behavior
Fenix crashes when tapping on the **`Persistent Storage`** permission button

[2019-05-28 09:59] sv-ohorvath commented on #2876
Verified as fixed on 5/28 (build #11471807)

[2019-05-28 11:23] MyIsaak opened #2914 "[Dev] Missing setup instructions for Windows users"
### Why/User Benefit/User Problem
* Windows users feel rather discriminated when reading the README with no setup instructions for using git hooks except for Mac/Linux.
* From the StackOverflow developer survey in 2019, the [majority of developers still use Windows as their primary OS](https://insights.stackoverflow.com/survey/2019#technology-_-developers-primary-operating-systems) so this issue s

[2019-05-28 12:06] sv-ohorvath opened #2916 "FNX3-16677 ⁃ [Bug] Opening 2 tabs sent from another device crashes the app"
## Steps to reproduce
1. Login on 2 devices with the same account.
1. Send 2 tabs individually, from one device to another.
1. Open the first tab received, then open the second.
    1. Expected behavior
Both tabs are opened.
    1. Actual behavior
App crashes
[logcat.txt](https://github.com/mozilla-mobile/fenix/files/3227529/logcat.txt)

### Device information
* Android device: Pixel (Android 9),

[2019-05-28 12:09] abodea opened #2917 "Remove duplicate entries in a tab collection"
### Why/User Benefit/User Problem
As a Fenix users I don't want to have a duplicate URL in my collections.

### What/Requirements
Remove/don't add duplicate URL entries to a tab collection.

### Acceptance Criteria (how do I know when I’m done?)
I only see one of each URL in a tab collection.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-11776)

[2019-05-28 12:27] sv-ohorvath opened #2919 "FNX3-16679 ⁃ [Bug] Tabs are restored if you kill the app before the undo bar disappears"
## Steps to reproduce
1. Open one/more tabs.
1. Close the tab/s.
1. Before the undo snackbar disappears, kill the app.
1. Open the app.
    1. Expected behavior
Tabs are removed.
    1. Actual behavior
Tabs are back on the tabs view.
    1. Device information

* Android device:
* Fenix version: 5/28

[2019-05-28 12:44] pocmo opened #2920 "FNX3-16681 ⁃ metrics.yaml: Request data review for probes or add URLs to file"
Created this issue just so that it doesn't fall through the cracks. If there are issues for that already then just close please. :grinning:

@Dexterp37 mentioned on Slack:

[2019-05-28 13:18] jonalmeida commented on #2916
From the logcat, the display acquired bug:
[code]

[2019-05-28 13:37] ghost opened #2922 "Fenix Beta Security Testing Results"
Apologies to the community that this is a bit of a mystery bug without much detail. We are doing some security testing and we are not ready to publish the results yet, but we do want to keep track of it in the Fenix GitHub milestone.

The following bug tree lists the findings for Fenix Beta. They need to be triaged and tracked in Bugzilla.

https://bugzilla.mozilla.org/showdependencytree.cgi?id=15

[2019-05-28 14:05] jonalmeida commented on #2897
Adding a-c label since this may involve some a-c changes as well before we can consume the a-s bits.

[2019-05-28 14:09] pwd-github opened #2924 "[Bug] Icons should be fetched for all tabs from the domain"
Before I fill this out properly, let me state clearly that I'm unable as to how to reproduce this and so I'm kinda guessing.

## Steps to reproduce
1. Load five tabs from the same domain
1. Swipe the app from memory
1. Load one of the five tabs

### Expected behavior
Upon managing to fetch the icon for one of the tabs, all of the tabs should have the icon applied.

### Actual behavior
Only one of

[2019-05-28 14:12] pwd-github opened #2925 "[Bug] Fenix never fetches the icon for GitHub"
## Steps to reproduce
1. Load GitHub
1. Press tabs button

### Expected behavior
The tab should display the favicon for GitHub

### Actual behavior
You see a big G

### Device information
* Android device: Android 8, LG G6
* Fenix version: 1.0.1922

[2019-05-28 14:15] sblatz commented on #1857
@boek is this a problem or is that expected?

[2019-05-28 14:20] sblatz commented on #331
I believe @jonalmeida was the one working on this actually

[2019-05-28 14:25] apbitner commented on #182
We did make some small adjustments to how we display the sneak peek of the QAB in hopes of making it more discoverable. I think we should keep an eye on Telemetry data to determine whether further testing is needed. Also, as noted in the analysis, participants really struggled with adding a bookmark, however, I haven't been seeing complaints in the Google Group feedback so hopefully that means the

[2019-05-28 14:30] bsurd commented on #1857
To be clear I've referring to the [metrics.yaml](https://github.com/mozilla-mobile/fenix/blob/master/app/metrics.yaml) file.

[2019-05-28 14:32] ghost opened #2927 "Display A-C and A-S version in the About screen"
Can we display the same values that we send to Sentry as tags? This makes it easier for QA to report back on a specific version.

[2019-05-28 14:45] miketaylr commented on #1848
This affects the experience on Bing, probably on a lot of other sites.

[2019-05-28 14:49] AmyYLee commented on #2094
Hi,

I looked at the latest build and there seems to be a regression.

Current
<img width="393" alt="Screen Shot 2019-05-28 at 10 45 32" src="https://user-images.githubusercontent.com/5992746/58487576-cd5a2e80-8135-11e9-8455-b6d23ccbc5db.png">

Spec
<img width="402" alt="Screen Shot 2019-05-28 at 10 43 51" src="https://user-images.githubusercontent.com/5992746/58487606-dd720e00-8135-11e9-9d0c-1a02

[2019-05-28 15:07] pocmo commented on #2925
Yeah, unfortunately GitHub doesn't give us good candidates. This should change with #2047.

[2019-05-28 15:13] ryanfeeley opened #2928 "FNX3-16686 ⁃ Vibrate phone upon successful pairing"
Stolen from Whatsapp behaviour as reported by @eoger.

Let's vibrate Fenix when sync pairing is successful.

[2019-05-28 16:08] pwd-github commented on #2925
You sure you meant #2047 @pocmo

[2019-05-28 16:21] pwd-github opened #2929 "FNX3-16687 ⁃ [Bug] date picker isn't styled correctly"
## Steps to reproduce
1. Find a form where you need the date picker
1. Open it

### Expected behavior
Things are aligned properly with proper uniform margins.

### Actual behavior
Everything looks independent of one another.

### Device information
* Android device: Android 8, LG G6
* Fenix version: 1.0.1922

[2019-05-28 16:26] pwd-github opened #2930 "[Bug] Unable to share text"
## Steps to reproduce
1. Load this page
1. Long press text

### Expected behavior
Context menu should provide option to share text

### Actual behavior
It's kinda bare-bones.

### Device information
* Android device: Android 8, LG G8
* Fenix version: 1.0.1922

[2019-05-28 16:26] sblatz opened #2931 "FNX3-16690 ⁃ [Bug] Snackbar appears over URL bar"
When you save to collection (or otherwise trigger a snackbar) when in the browser fragment, it obscures the url bar, making it impossible to navigate away from your current page until it's dismissed.

![Untitled 2019-05-28 09](https://user-images.githubusercontent.com/4400286/58494742-a6e2c600-812a-11e9-93d3-ed8508b872a6.gif)UNITO-UNDERSCORE!26!UNITO-UNDERSCORE!12!

[2019-05-28 16:32] pocmo commented on #2711
Fixed by:
https://github.com/mozilla-mobile/android-components/issues/3104

I marked this as "Resolved in the next release" in Sentry.

[2019-05-28 16:35] vesta0 commented on #2164
@sarentz will open a new bug for a workaround to this issue.

[2019-05-28 17:00] pwd-github commented on #2929
Image: https://i.imgur.com/L6ZnMkz.jpg

[2019-05-28 17:27] pocmo opened #2932 "IllegalStateException: Two different ViewHolders have the same stable ID. Stable IDs in your adapter MUST BE unique and ..."
https://sentry.prod.mozaws.net/operations/fenix/issues/5340635/

[code]

[2019-05-28 17:27] pocmo commented on #2932
We fixed sth. like that in AC some time ago. I am surprised that this is happening in Fenix.

[2019-05-28 17:36] jonalmeida opened #2933 "[Bug] [Share] Context menu doesn't show new share sheet"
## Steps to reproduce
1. Click and hold a link on web content.
1. Click Share.

### Expected behavior
* To see the new share sheet. (right of screenshot)

### Actual behavior
* The old share sheet. (left of screenshot)

~~This may require a~~c work - needs investigation.- Needs a-c work.

![](https://user-images.githubusercontent.com/1370580/58499325-e7077000-814d-11e9-8674-80e23b0ffce8.png)

[2019-05-28 17:42] vesta0 commented on #2920
Coping @boek who is a data steward.

[2019-05-28 17:49] vesta0 commented on #1860
@abodea I wasn't aware of this change. @mheubusch was this planned?

[2019-05-28 17:51] pocmo commented on #2888
Will get fixed by:
https://github.com/mozilla-mobile/android-components/issues/1390

[2019-05-28 17:57] AmyYLee commented on #2628
The expected behavior here is that once tabs are saved to a collection that it's removed from the "open tabs" section @sblatz

[2019-05-28 17:58] bifleming commented on #2465
@jonalmeida checking crashes to see if this is still happening.

[2019-05-28 18:02] bifleming commented on #2383
Would like to re-test after other crashes are fixed.

[2019-05-28 18:06] grigoryk commented on #2888
Actually, this is the correct a-c issue that will deal with this: mozilla-mobile/android-components#2724

[2019-05-28 18:28] sblatz commented on #2810
@ekager so is this blocked on https://github.com/mozilla-mobile/android-components/issues/3110?

[2019-05-28 18:30] mozillamarcia opened #2936 "[Bug] Pixel 3 doesn't seem to get software updates"
## Steps to reproduce
* Check the GPS for an update

### Expected behavior
* A software update is available

### Actual behavior
* My Pixel 3 running Android Pie is stuck on the build from 5-26
* My Pixel running Android Q received an update to the 5-28 build
* I think this has happened before. I followed the steps of joining the Google group, getting the build from GPS, etc.

### Device informati

[2019-05-28 18:31] jonalmeida commented on #2465
[code]

This was a crash from adding setVerticalClipping in GV that is resolved.

[2019-05-28 18:46] pwd-github commented on #2925
So I had a quick look at the source, imagine an elephant in a labcoat.

But I saw
[code]

So my question/suggestion is, could Fenix do `icon = (fluid-icon) ? fluid-icon : icon;`? Or am I oversimplifying it?

[2019-05-28 18:49] TitanNano commented on #2910
It works if you follow the instructions... Fenix asks the user to go to "firefox.com/pair" which redirects to "accounts.firefox.com/pair" and not "account.firefox.com/pair"

![Screenshot_20190528-204613](https://user-images.githubusercontent.com/4500858/58503994-03c19900-818a-11e9-8746-a561e868586d.png)

[2019-05-28 18:57] AmyYLee opened #2938 "FNX3-16694 ⁃ [Private Browsing Mode] Remove save to collection in PBM from chrome menu"
Please remove "save to collection" from the chrome menu when in PBM. It defeats the purpose of PBM if the user is able to save a site and it's associated history into a collection.

![Screenshot](https://user-images.githubusercontent.com/5992746/58504511-c7297980-8158-11e9-911a-b47f271120c4.png)UNITO-UNDERSCORE!20190528-145437!

[2019-05-28 18:59] sblatz commented on #2416
This was fixed as a part of our collections work.

[2019-05-28 19:39] bifleming commented on #2887
Tracked on A/S board: https://github.com/mozilla/application-services/issues/1163

[2019-05-28 19:39] hjyoung1 commented on #574
This is actually main feature for me. I hope we will get this sooner.

[2019-05-28 19:39] bifleming commented on #2887
@vesta0 @st3fan AS team is hoping to have this fix done in AS by 6/7.  Given that, shall we add it to the sprint board?

[2019-05-28 19:40] kbrosnan commented on #2936
Works for me on a Pixel 3 running Android 9 and a Nexus 10 running Android 5.1. There is not much we can do to affect Google Play update behavior.

[2019-05-28 19:49] jonalmeida commented on #2897
@vrudesai I've changed the feature label since this this isn't related to the QAB directly.

@vesta0 if we want to do this for Post-MVP, there is still a small amount of work to hide the send-tab section if we encounter an error. Shall I file another issue for that?

[2019-05-28 19:51] jonalmeida opened #2940 "FNX3-16695 ⁃ [Share] Hide send tab on FxA error"
Since we aren't adding error states to the share sheet just yet (see #2897), we need to hide the send tab section if we encounter an error.

(Added by Sawyer -- For QA)

## STR:
1. Sign in to sync on Fenix
1. Change your password on desktop
1. See an error in the settings page
1. Open a tab
1. Press the browser menu button
1. Press the "share" button

## Expected
1. The "send tab" section does not

[2019-05-28 19:56] AmyYLee opened #2941 "FNX3-16696 ⁃ [Collections] Wrong colour and language used for confirmation dialogue text"
* [ ] Please rename "ok" to "clear"
* [ ] Dialogue text colours are incorrect

Light Theme
Please use Violet 70 (#592ACB)

Dark Theme
Please use Violet 40 (#AB71FF)

![Screenshot](https://user-images.githubusercontent.com/5992746/58507903-ceed1c00-8160-11e9-861f-6a8a9dffd2c7.png)UNITO-UNDERSCORE!20190528-140520!

![Screenshot](https://user-images.githubusercontent.com/5992746/58507974-f5ab5280-816

[2019-05-28 20:20] Delphine opened #2942 "Latest Fenix strings need updates"
2 quick fixes are needed so we can expose final strings to localizers:

* "sync_syncing": needs new string ID so that localizers see in Pontoon that they need to update this string (otherwise it will go unnoticed)
* Nit in localization comment of string "preferences_delete_browsing_data_browsing_data_subtitle" -> "(...)items item(...)"
(CC @boek and @sblatz  so they are aware)

[2019-05-28 20:26] jonalmeida commented on #2887
@bifleming FYI: when that fix lands, updating to the latest a-s is the only change required for this bug (that too has it's own complexity for QA to consider).

[2019-05-28 20:41] kbrosnan opened #2945 "FNX3-16698 ⁃ [Bug] launches to blank screen and hangs on Nexus 10"
## Steps to reproduce
* Install a fresh version of Firefox Preview
* Launch it

### Expected behavior
* App runs

### Actual behavior
* App hangs
* [traces.txt](https://gist.github.com/kbrosnan/6e408ba39dd4dee93bd2c1f4a94b53b6)

[code]

### Device information
* Android device:  Nexus 10 Running Android 5.1
* Fenix version: May 28th build

[2019-05-28 20:48] MyIsaak commented on #2914
I've included a pull request #2915

[2019-05-28 20:59] bifleming commented on #2265
@vesta0 I'm confused about where this belongs...should it not be in the sprint?

[2019-05-28 20:59] mozillamarcia commented on #2936
![Screenshot_20190528-165056](https://user-images.githubusercontent.com/2171777/58511755-72dac580-8169-11e9-8932-fdaccdb71f00.png)

Here is a screenshot showing what happens when I go into Apps and check where it is installed from. As I said, I had this issue before on the Pixel 3 and I had to uninstall the app and start over again to get the latest version of the app. Not sure why it has happened

[2019-05-28 21:00] ekager commented on #1484
If you can still reproduce this, it seems to be a device issue where the battery saver option doesn't work the same way on the Nokia as other devices. I don't think there's anything we can do on our side, since we're just following the system's direction.

[2019-05-28 21:17] AmyYLee opened #2948 "FNX3-16699 ⁃ [Bug] Error when adding a tab to existing group from collections menu"
1. Create a collection
1. Tap on the options menu in the collections card
1. Select "Add tab"

Expected: Prompts add tab modal
Result: Toast notification that says feature not implemented (see screenshot below)

![Screenshot](https://user-images.githubusercontent.com/5992746/58512971-64da7400-816c-11e9-8599-10a4676cc2d4.png)UNITO-UNDERSCORE!20190528-161632!

@sblatz

[2019-05-28 21:20] ekager commented on #2721
This should have been fixed by #2817 and unblock #2389, adding QA Needed for verification

[2019-05-28 21:30] jonalmeida commented on #2759
This is an engineering task, not a feature; removed label.

[2019-05-28 22:00] jonalmeida opened #2951 "FNX3-16700 ⁃ [Bug] Deleting history/collections progress never completes"
## Steps to reproduce
1. Open settings and try to delete browsing history or collections.

## Expected
* The progress bar on the top disappears after history data is removed

## Actual
* The progress bar never goes away but the data is actually removed.

![](https://user-images.githubusercontent.com/1370580/58515222-2a73d580-8172-11e9-8a6b-4f60a08a4591.png)

[2019-05-28 22:02] jonalmeida opened #2952 "FNX3-16701 ⁃ [Bug] Deleting open tabs crashes the app"
https://sentry.prod.mozaws.net/operations/fenix/issues/5828855/

[code]

## Steps to reproduce
1. Click on Settings > Delete browsing data.
1. Select only open tabs and delete.

[2019-05-28 22:02] cpeterso commented on #225
GV's Clear User Data API landed last week:
https://bugzilla.mozilla.org/show_bug.cgi?id=1489669#c22

And should be available in yesterday's GV 68 Beta build:
https://maven.mozilla.org/?prefix=maven2/org/mozilla/geckoview/geckoview-beta-armeabi-v7a/68.0.20190527103257/

[2019-05-28 22:07] ekager commented on #2110
I've addressed the closing of a session with source ACTION_VIEW in PR #2953 but I'm not sure how best to deal with "if user has navigated in the session, save the tab". I had an idea to remove the ACTION_VIEW source in onUrlChanged (if the session canGoBack as well), but it looks like I can't change the source of the session. This may require further AC work for this portion.

[2019-05-28 23:04] sblatz opened #2958 "[Bug] Flickering when selecting a tab to add to a tab collection"
![disappearing on selection 2019-05-28 16](https://user-images.githubusercontent.com/4400286/58517951-2dff6080-8162-11e9-841e-fd617f6e803a.gif)UNITO-UNDERSCORE!03!UNITO-UNDERSCORE!30!

[2019-05-28 23:32] grigoryk commented on #2835
I can't seem to replicate the crash, but the "janky" behaviour you're describing is certainly there.

Specifically, what I'm observing is:
- when deleting a bookmark, previously deleted bookmarks re-appear while the "undo toast" is visible. then they disappear again.

Looking at the code, it's not obvious why that'd happen; so, need to look a bit closer :)

[2019-05-28 23:57] grigoryk commented on #2835
Ah, didn't see the crash log. Yup, this may happen; deletions are ran in coroutines, no guarantee for fragment still being attached at the point those operations try to access `context`.

[2019-05-29 00:03] grigoryk opened #2960 "FNX3-16703 ⁃ [Bug] Bookmark deletions are janky"
Specifically, what I'm observing is:

* when deleting a bookmark, previously deleted bookmarks re-appear while the "undo toast" is visible. then they disappear again.

Looking at the code, it's not obvious why that'd happen; so, need to look a bit closer :grinning:

[2019-05-29 00:03] grigoryk commented on #2835
Patch is for a crash; filed a follow-up for the janky deletions: https://github.com/mozilla-mobile/fenix/issues/2960

[2019-05-29 00:04] kbrosnan commented on #2910
Sounds like this is invalid. At best it is a accounts server bug. If we want to capture common typos open a bug in Bugzilla for the account server.

[2019-05-29 00:04] grigoryk commented on #2835
@ekager my apologies, didn't see you were assigned to this!

[2019-05-29 02:50] elcste commented on #1982
@lewoking That's https://github.com/mozilla-mobile/fenix/issues/1437

[2019-05-29 04:35] vesta0 commented on #911
@sv-ohorvath ^^ :)

[2019-05-29 04:37] vesta0 commented on #1134
@cpeterso looks like GV 69 beta will be available on July 9 so probably won't be able to ship a GV 69 build of Fenix for at least 3 weeks after MVP. @st3fan what do you think about the impact vs risk of not fixing this?

[2019-05-29 04:40] vesta0 commented on #2265
@bifleming this is more of a meta, individual listed under this epic are/should be in the sprint.

[2019-05-29 06:16] cpeterso commented on #1134
The impact of not fixing this bug:
* AMO will tell Fenix users they can install extensions. If the user clicks to install an extension, Fenix will just download the .xpi file. So a little confusing, but no error. Neither Mozilla's Fenix marketing nor Fenix in-app content will direct Fenix users to AMO, so people will have to go out of their way to visit AMO to see if extensions work.
* SUMO will s

[2019-05-29 07:10] softvision-miralobontiu commented on #2337
Verified as fixed on the latest build 1.0.1922 (#11490609), with Google Pixel (Android 9), Nexus 6P (Android 8.1.0), and Huawei MediaPad M2 (Android 5.0.1).

[2019-05-29 08:07] sv-ohorvath commented on #2823
Verified on the 5/28 build. devices: S8 (Android 9), Nexus 5 (Android 6)

[2019-05-29 08:19] sv-ohorvath opened #2961 "FNX3-16704 ⁃ Sort bookmarks by most recent"
## Steps to reproduce
1. Create a few bookmarks.
Extra step: sync with a device that has a large list of bookmarks.
1. Go to library>bookmarks. Verify the way they are sorted.
    1. Expected behavior
Most recent bookmarks should be at the top.
    1. Actual behavior
Bookmarks are sorted in the order they are created.
If you have a large list and no way to search, sorting by most recent would be h

[2019-05-29 08:21] colintheshots commented on #1006
This issue appears to be resolved. Most of the duplicates listed are not actually duplicates. There is another issue where we now appear to leave space for the now missing toolbar.

[2019-05-29 08:22] sv-ohorvath commented on #2228
Verified as fixed on the 5/28 build.

[2019-05-29 08:31] colintheshots commented on #1006
Actually, it's still changing immersiveness on rotation. Re-opening.

[2019-05-29 08:37] softvision-miralobontiu commented on #2673
This issue is fixed only when "Don't keep activities" is OFF.
Tested with the latest build 1.0.1922 (#11490609), with Nexus 6P (Android 8.1.0), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-29 08:42] sv-ohorvath commented on #2597
There is an option to open in new & private tabs if you long tap the item(s), then tap the 3 dot menu on the multi-selection toolbar.
We can probably keep this bug for fixing: #2435 - 2a).

[2019-05-29 08:52] softvision-miralobontiu commented on #2228
Verified as fixed on the latest build 1.0.1922 (#11490609), with Google Pixel (Android 9), Nexus 6P (Android 8.1.0), Huawei MediaPad M2 (Android 5.0.1).

[2019-05-29 08:55] softvision-miralobontiu commented on #2721
Verified as fixed on the latest build 1.0.1922 (#11490609), with Nexus 6P (Android 8.1.0), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-29 08:57] softvision-miralobontiu commented on #2389
I will close this issue, hence #2721 is fixed.

[2019-05-29 08:57] sv-ohorvath opened #2962 "[Bug] Reader mode blue dot notification doesn't appear all the time"
## Steps to reproduce
1. Clear app data.
1. Open a webpage in one tab (e.g. google)
1. In a second tab, open a page that works with reader mode, e.g. huffpost.
Or, open 2 pages without reader mode, open the 3rd tab and go to huffpost.
    1. Expected behavior
The reader mode icon has a blue dot the first time a page with reading mode available is opened.
    1. Actual behavior
The dot doesn't appe

[2019-05-29 08:58] sv-ohorvath commented on #911
@vesta0 Sorry I didn't get the first message :) closed and logged: #2962.

[2019-05-29 08:58] #911 closed

[2019-05-29 09:09] sv-ohorvath commented on #2952
Verified as fixed on the 5/28 build.

[2019-05-29 09:13] sv-ohorvath opened #2963 "[Bug] Empty tab left after clearing browsing data"
## Steps to reproduce
1. Create some tabs. Open one tab.
1. Go to Settings>Delete browsing data> select Open tabs.
1. Exit the settings menu
    1. Expected behavior
The empty homescreen is displayed.
    1. Actual behavior
An empty tab is left, tab counter shows 0.
    1. Device information

* Android device: S8 (Android 9), Nexus 5 (Android 6)
* Fenix version: 5/29

[2019-05-29 09:24] softvision-miralobontiu commented on #1484
Hi @ekager
I encountered the same behavior on Nokia, with the latest build 1.0.1922 (#11490609).

[2019-05-29 09:29] sv-ohorvath commented on #2880
No longer reproducing.

[2019-05-29 09:29] sv-ohorvath commented on #2890
Verified as fixed on the 5/28 build.

[2019-05-29 09:35] abodea opened #2964 "FNX3-16707 ⁃ [Bug] The fav icons from "Open Tabs" section are changed when navigating to a website"
## Steps to reproduce
1. Install and launch Fenix.
1. Access any website*`youtube, amazon, twitch, twitter`* website.
1. Navigate to any section in any of the website mentioned above.
1. From the website tap on the tabs section.
    1. Expected behavior
The fav icons from **`Open Tabs`** section are displayed with the visited website logo(example amazon)
    1. Actual behavior
Fav icons are change

[2019-05-29 11:24] softvision-miralobontiu commented on #2331
I couldn't reproduce this issue on the latest build 5/29, on Google Pixel (Android 9).
@mcomella can you please try again with the latest build?
Thank you!

[2019-05-29 11:27] sv-ohorvath commented on #2886
Verified as fixed on the 5/29 build.

[2019-05-29 11:45] softvision-miralobontiu commented on #2821
Verified as fixed on the latest build 1.0.1922 (#11490609) with Google Pixel (Android 9).

[2019-05-29 12:03] sv-ohorvath commented on #2789
Verified as fixed on the 5/29 build.

[2019-05-29 12:08] abodea opened #2965 "[Bug] The ".www" button state is not changed to ".com" even if the email is added on login"
## Steps to reproduce
1. Install and launch Fenix.
1. Go to settings and enter your email in order to login.
1. From the autocomplete tap on your email.
    1. Expected behavior
The email is auto completed and every button is correct displayed.
    1. Actual behavior
After auto completing the email the **`.com`** button doesn't change its state and is still displayed as **`www.`.**
    1. Device i

[2019-05-29 12:16] Baum55 opened #2966 "FNX3-16709 ⁃ [Bug] Bookmarks do not open after the program start"
## Steps to reproduce
1. Firefox Preview has opened tabs
1. The app is completely closed
1. Reopen the app
1. Open a bookmark directly in the firefox start page
1. The last opened tab reopens

### Expected behavior
The selected bookmark opens

### Actual behavior
The last opened tab reopens

### Device information
* Android device: Huawei P9 lite
* Fenix version: 5/29 @ 6:09 AM

[2019-05-29 13:19] #445 closed

[2019-05-29 13:34] abodea commented on #2903
Verified as fixed on the latest **`build 1.0.1922 (#11490609) 5/29 with Samsung Galaxy Note 9(Android 8.1.0), OnePlus 6 (Android 9).`**

[2019-05-29 13:59] softvision-miralobontiu commented on #1331
Hi @cadeyrn,
I'm not completely sure if I understood correctly the expected behavior.
For example, I searched for YouTube and in History, I get http://youtube.com, and https://m.youtube.com/, although I typed "youtube" inside the tab, and I didn't select any video. Is this expected or not?
Thank you!

Please see the attached screenshot:

![Screenshot_20190529-165112](https://user-images.githubuser

[2019-05-29 14:22] Amejia481 commented on #2673
@softvision-miralobontiu Could you help me to clarify what is the issue you are seeing on Nexus 6P (Android 8.1.0)?

* I used the same device with **"Don't keep activities"** ON ([video demo](https://drive.google.com/file/d/1FJ3Aa3IlO6fUOgTs6ZsRa_4LJJ8-ibfh/view?usp=sharing))  and I was able to upload a file using a third party apps (Google photos).

* The issue with **"Don't keep activities"** ON

[2019-05-29 14:41] softvision-miralobontiu commented on #2673
Here are 2 videos with the behavior when "Don't keep activities" is:
- [OFF](https://drive.google.com/open?id=1eZWneEpF2VzavVCf2T0iticDY1BZ0hYH)
- [ON](https://drive.google.com/open?id=18Wgzw0h9nos6QvAHCpC1YjniR0jKWhwz)

[2019-05-29 14:45] Amejia481 commented on #2673
Thanks!

[2019-05-29 14:59] jonalmeida opened #2968 "[Bug] [Share] Specify the activity name in the share item"
We were not resolving the activity name, only the package name. For apps that have multiple entry points, this leads to an activity chooser showing up when not needed.

[2019-05-29 15:19] sv-ohorvath commented on #2958
dupe: #2577

[2019-05-29 15:26] mcomella opened #2970 "[Bug] Can't sign into Zoom via SSO in custom tab"
## Steps to reproduce
* Install Zoom from the Play Store
* Open zoom
* Select "Log in with SSO" (there may be a screen before this)
* Try to log in using mozilla sso
* Arrive at "Open Zoom" screen

### Expected behavior
Zoom app opens automatically, or after pressing the "Open Zoom" button

### Actual behavior
Nothing happens when clicked or waiting. Sign in works correctly on Chrome.

I'm guessin

[2019-05-29 15:29] Amejia481 commented on #2673
I'm unable to replicated the issue using the same device(Emulator Nexus P Android 8.1.0) [video](https://drive.google.com/file/d/1rfDcyr3ZGhw9QOv9eCrz9V_I8Rhz81F6/view?usp=sharing).
I think you can open an issue describing the specs of your device.

[2019-05-29 15:39] vrudesai commented on #2623
Hey fiver22, thanks so much for filing this issue! After careful consideration, we've decided to leave it as "parent's". This phrasing would also include individuals who may not have a pair of "parents" and those who do have a pair of parents.

[2019-05-29 16:03] agi90 opened #2972 "FNX3-16712 ⁃ [Bug] CustomTab back button doesn't navigate"
## Steps to reproduce
* :star: Open Link in Fenix CustomTab
* Navigate from the custom tab to another page clicking on a link
* Press back button

### Expected behavior
* Page in :star: loads

### Actual behavior
* Custom tab closes and the app is brought back to the foreground

### Device information
* Android device: Samsung S10e
* Fenix version: 5/29/19 from Playstore

Works in: Fennec Nightly,

[2019-05-29 16:10] ekager commented on #2972
@agi90 the system back button, correct?

[2019-05-29 16:16] ekager commented on #1331
@grigoryk could you possibly weigh in on if the above screenshot is the "best" we can do with history filtering right now?

[2019-05-29 16:34] ekager commented on #2966
Thanks! I think this may be an AC bug so I opened https://github.com/mozilla-mobile/android-components/issues/3166

[2019-05-29 16:43] agi90 commented on #2972
Yep!

[2019-05-29 17:05] mozillamarcia opened #2974 "[Bug] Deleting Browsing Data never completes"
## Steps to reproduce
* Settings | Delete Browsing data
* Select Browsing history and site data. Click Allow

### Expected behavior
* Browsing history and site data is deleted

### Actual behavior
* The delete process never finishes and the progress bar continues moving

### Device information
* Android device: Pixel running Android Q
* Fenix version: 1.01922 (Build #11490610)
[logcatdehistory.txt

[2019-05-29 17:15] jonalmeida commented on #2972
Oops, this was my error when add the back pressed listener - thanks @ekager for fixing it!

[2019-05-29 17:31] boek commented on #1857
@bsurd While it is under the metrics section, it's still a new top level declaration. We've started to move all events into their own namespace versus putting everything under `events:` and `metrics:`.

[2019-05-29 17:38] bifleming commented on #1860
@softvision-miralobontiu can you please provide info on what is blocking this?

[2019-05-29 17:43] vesta0 commented on #2938
Thanks for filing this @AmyYLee. I noticed it the other day and meant to file a ticket. It's an important one.

[2019-05-29 17:43] vesta0 commented on #2899
@AmyYLee why is this a UX P1?

[2019-05-29 17:44] bifleming commented on #2673
@softvision-miralobontiu Not sure why this is set to 'blocked'. If a bug is retested and still needs work, please set the bug back to 'In Progress' and add a comment @mentioning the developer.  We use 'blocked' to identify a bug or story that cannot move forward because it is dependent on some other work or information.

[2019-05-29 17:45] vesta0 commented on #2896
@AmyYLee you mentioned that Product quality checklists aren't UX P1 blockers right?

[2019-05-29 17:45] bifleming commented on #87
@vesta0 can you provide info on what is blocking this?

[2019-05-29 17:47] bifleming commented on #2052
@vesta0 can we remove this from MVP scope (and the kanban board)?

[2019-05-29 17:56] vesta0 commented on #2359
@AmyYLee is this a P1?

[2019-05-29 18:07] sarentz commented on #2065
@grigoryk what do you think?

[2019-05-29 18:08] sarentz commented on #2070
@sv-ohorvath  do you think this could be a related to tracking protection? would you mind testing with TP on/off?

[2019-05-29 18:09] julian-alarcon commented on #470
Additional info about new Android Background restrictions in Android 10
https://developer.android.com/preview/privacy/background-activity-starts

[2019-05-29 18:11] bifleming commented on #2086
@agi90 if you can provide logs that would be helpful.

[2019-05-29 18:15] vesta0 commented on #2159
@cpeterso this seems like a GV issue since it's also reproducing on Fennec. Do we have a bug for it?

[2019-05-29 18:18] pwd-github commented on #470
It says `Affects your app if you launch activities without user interaction`. But doesn't the tab queue require user interaction?

In the worst case scenario, couldn't Fenix create a lowest priority notification if the tab queue is enabled?

[2019-05-29 18:18] AmyYLee commented on #2105
I'm not seeing this issue on my Pixel 3 (Android ver 9). Can we confirm the extent of devices that this affects?

[2019-05-29 18:22] vesta0 commented on #2387
This is the current intended behaviour. Would love UX feedback on this.

[2019-05-29 18:23] AmyYLee opened #2977 "FNX3-16714 ⁃ [Collections] Update collections flow to have "Add new collection" clearer"
Right now the "Add new collection" action bar is easily missed due to how low to the bottom of the screen it sits. I've updated the spec to make it more viable as well as updating the collections list so it mimic's the design of the card on homescreen.

Added a new flow to indicate that if the user has no preexisting collection that we skip straight to create a collection keyboard screen.

Portion

[2019-05-29 18:24] sarentz commented on #2400
URL Encoding/decoding of query params? Do we do that properly in the place where we take the paste?

[2019-05-29 18:25] jonalmeida commented on #2970
Dupe of https://github.com/mozilla-mobile/fenix/issues/1570

[2019-05-29 18:25] kbrosnan commented on #2400
Specifically we need to know what step 5 does in Fennec and/or Chrome. Does it send you back to the telegram app or does it take you into the telegram website?

[2019-05-29 18:26] jonalmeida commented on #2400
@kbrosnan this might also be tracking protection that's blocking functionality.

[2019-05-29 18:27] jonalmeida commented on #2432
a-c issue: https://github.com/mozilla-mobile/android-components/issues/3149

[2019-05-29 18:29] sarentz commented on #2438
Is there a difference if the `?outputType=amp` is removed?

[2019-05-29 18:29] sarentz commented on #2438
@yoasif is this still happening?

[2019-05-29 18:38] bifleming commented on #2445
@yoasif can you still reproduce this?

[2019-05-29 18:49] AmyYLee commented on #2896
These aren't blockers but I would say if the list is marked as P1 that we want to really try to get these issues fixed or the overall product quality suffers, especially if the list is extensive.

[2019-05-29 18:49] buttercookie42 commented on #2597
Thanks for the info, but yes, it not necessarily easily discoverable, especially given the seemingly arbitrary differences between the two.

[2019-05-29 18:51] buttercookie42 commented on #2387
See also #2493.

[2019-05-29 18:52] vesta0 commented on #2484
Closing this as it works as intended but based on the great feedback we are going to user test it and re-evaluate.

[2019-05-29 18:58] sblatz commented on #1577
Submitted an a-c patch here: https://github.com/mozilla-mobile/android-components/pull/3170

[2019-05-29 18:58] bifleming commented on #2498
@agi90 can you still reproduce this?

[2019-05-29 18:59] jonalmeida commented on #2498
I can't repro this in today's (29/05) build.

[2019-05-29 19:00] vrudesai opened #2978 "[DUPLICATE] Crash occurs when quickly double tapping "Save to Collection" icon"
## Steps to reproduce
1. Open Fenix
1. Quickly double tap "Save to Collections"
1. Fenix crashes

### Expected behavior
1. Open Fenix
1. Quickly double tap "Save to Collections"
1. Fenix does not crash and opens the "Select Tabs" screen

### Actual behavior
Fenix crashes.
![Save To Collections Crash](https://user-images.githubusercontent.com/50627998/58583561-4e8eef80-8222-11e9-816a-f50bc6e99f90.g

[2019-05-29 19:05] vrudesai opened #2979 "FNX3-16716 ⁃ [Bug] Crash occurs when quickly double tapping "Save to Collections" button."
## Steps to reproduce
1. Open Fenix
1. Quickly double tap on "Save To Collections"
1. Crash occurs

### Expected behavior
1. Select Tabs page opens

### Actual behavior
Fenix crashes.
![Save To Collections Crash](https://user-images.githubusercontent.com/50627998/58583895-015f4d80-8223-11e9-9834-8b878613c0cc.gif)

### Device information
* Android device: ONEPLUS A6003 [Android Version 9]
* Fenix v

[2019-05-29 19:09] cpeterso commented on #2159
I filed a new Gecko media bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1555452

Is this bug reproducible in Chrome? A similar Facebook video seeking bug was reported in Fennec 10 months ago, but it was a Facebook network bug and was also reproducible in Chrome:

https://bugzilla.mozilla.org/show_bug.cgi?id=1477649#c14

[2019-05-29 19:16] rmbq commented on #2159
I can't reproduce it on Chrome, usually i use chrome to watch the video because of this bug

[2019-05-29 19:22] cadeyrn commented on #2052
@bifleming: If this will be removed from MVP scope then #1727 has to be re-opened because that's an big problem which is - in my opinion - very important for MVP. It makes Fenix not really usable as default browser because of hidden website content in custom tabs and it was said in #1727 that the bug will be addressed here.

[2019-05-29 19:31] jonalmeida commented on #2086
@agi90 do you have webrender turned on? I can repro this consistently when I turn it on on r-b. Fenix doesn't have about:config working for beta, so I can't verify this just yet.

[2019-05-29 19:44] AaronMT opened #2980 "FNX3-16717 ⁃ [Bug] After Clearing Data, backing out Settings places user on blank tab"
Build: 9022258b3ffd63c0a66703f038d7ae95a123e80e
Device: Pixel 2

* Open mozilla.org
* Clear tabs and browsing data
* Back out of settings

![Screen Shot 2019-05-29 at 3 43 40 PM](https://user-images.githubusercontent.com/102331/58586206-8c8f1200-8228-11e9-883f-83a1092ad88a.png)

Should probably open a new home tab automatically and focus it.

[2019-05-29 19:45] AaronMT commented on #2974
https://github.com/mozilla-mobile/fenix/issues/2951

[2019-05-29 19:51] AaronMT opened #2982 "[Bug] Private Tab URLs leaked to Logcat"
Build: 9022258b3ffd63c0a66703f038d7ae95a123e80e
Device: Pixel 2

* Visit a site in a private tab
* See logcat

[code]

[2019-05-29 19:51] jonalmeida commented on #2951
To be clear, this looks to be a UI issue only with history and collections **not gv browsing data**.

[2019-05-29 20:05] pocmo commented on #2406
I have to toss this back to the Fenix team (Unassigned and removed from AC board): The issue is fixed in AC and the `AwesomeBarFeature`. Unfortunately Fenix doesn't use that. The fix in the feature was straightforward: Only call `onInputChanged()` after a call to `onInputStarted()`. Locally I added those as events to Fenix and then tried to do the same via the `SearchState`. However multiple thing

[2019-05-29 20:06] jonalmeida commented on #2982
This should only happen for debug builds, do you see it happening for release? That said, this issue should still be prioritized.

[2019-05-29 20:16] AaronMT commented on #2963
https://github.com/mozilla-mobile/fenix/issues/2980

[2019-05-29 20:21] AaronMT commented on #2982
Not sure how to build a release, but I see it's a `logger.debug` https://github.com/mozilla-mobile/android-components/blob/master/components/browser/icons/src/main/java/mozilla/components/browser/icons/BrowserIcons.kt#L90 so it should be stripped.

[2019-05-29 20:52] jonalmeida commented on #2052
I'm not sure why this issue is marked as a-c. I've posted the linked issue that the fix needs to go into Fenix: https://github.com/mozilla-mobile/fenix/issues/1727#issuecomment-488541929

[2019-05-29 21:45] agi90 commented on #2086
Good catch! I think I do, I'll confirm when I'm near a laptop next (unfortunately I can't check because `about:config` is not available now).

[2019-05-29 22:11] boek commented on #2101
I don't think we can fix this unless we can get access to an HTC device where we can reproduce the issue. @vesta0 @bifleming

[2019-05-29 22:29] kbrosnan commented on #2086
`about:support` may show webrenderer state.

[2019-05-29 22:32] jonalmeida commented on #2086
You're right! It's under: Graphics > Features > Compositing

@agi90 ^

[2019-05-29 22:40] ekager commented on #611
@AmyYLee can this be closed?

[2019-05-29 23:03] kbrosnan commented on #2101
Could not reproduce using a HTC One A9 or HTC 10 HTV32 on Android 6.0. Tried a HTC J butterfly HTL23 running Android 5.0 without success.

[2019-05-30 00:11] DiegoARL38 opened #2988 "It's possible to land on tabs when selecting a collection while using a screen reader [Bug]"
## Steps to reproduce
1. Open Fenix with a screen reader on.
1. Open a few tabs.
1. Add them to a collection.
1. Explore via touch the collection-selecting screen.
    1. Expected behavior
It's not possible to land on a tab.
    1. Actual behavior
It's possible to land on a tab.
    1. Device information

* Android device: TP-Link Neffos C5 Max (Android 5.1)
* Fenix version: Build #11491818
    1.

[2019-05-30 00:34] DiegoARL38 opened #2990 "FNX3-16720 ⁃ The Delete brousing data screen's accessibility is messed up [Bug]"
## Steps to reproduce
1. Open Fenix with a screen reader on.
1. Go to Settings, Delete browsing data.
1. Explore via touch the screen.
    1. Expected behavior
Each option is correctly labelled, but their icons are not.
    1. Actual behavior

* TalkBack:  Only the icon's label is read.
* ShinePlus: Both the icon's label and the actual name of the option are read.
    1. Device information
* Andro

[2019-05-30 00:37] ekager commented on #2988
This will be fixed by #2977 new flow

[2019-05-30 00:45] mozillamarcia opened #2993 "[Bug] Cannot open some search suggestions in Private Browsing mode"
## Steps to reproduce
* Open a tab in private browsing mode
* Try to select a suggestion (site that has previously been visited)

### Expected behavior
* The tab would open

### Actual behavior
* Selection does nothing and I cannot open a tab with that suggestion. In my case it is not opening suggestions of previously loaded sites, but will open suggestions of sites (or searches) I haven't yet vis

[2019-05-30 01:04] pauljt opened #2994 "FNX3-16722 ⁃ [Bug] Crash with malformed IDN domain name"
I filed this on bugzilla but its not really a security bug https://bugzilla.mozilla.org/show_bug.cgi?id=1555549, so Im closing that an opening this.

## Steps to reproduce
[code]

### Expected behavior
Website loads (that link is :closed_lock_with_key:.ߔ.com )

### Actual behavior
Crashes after clicking link. I can see the problem in logcat - see the end of the attachment:

05-30 10:39:35.219 1662

[2019-05-30 02:11] cpeterso commented on #2159
Thanks for checking. That's helpful information. This bug must be a different issue than the old bug 1477649.

[2019-05-30 03:08] airamify opened #2995 "[Bug] Onboarding page disappearing after going to Settings"
## Steps to reproduce
1. Open app
1. From the onboarding page, tap the three-dots icon
1. Tap Settings
1. Tap Theme
1. Change Theme
1. Tap Back arrow until you are back to the main screen.

### Expected behavior
Onboarding screen will still be present since user has not yet tapped "Start Browsing".

### Actual behavior
Contents for the onboarding screen was not displayed. The "Open Tabs" and "Coll

[2019-05-30 04:18] rfk opened #2996 "[Bug] Sent tab opened in Fennec instead of Fenix"
## Steps to reproduce
* Have Fennec installed as default browser on mobile, with the "tab queue" feature enabled
* Install Fenix as additional browser on the same device
* Sign in to Firefox Desktop
* Sign in to Fenix with the same account
* In desktop, visit a website and use 'send tab' to send it to Fenix
* In Fenix, go into settings and "sync now" to receive the tab

### Expected behavior
* The

[2019-05-30 06:09] leonardehrenfried commented on #87
I'm happy to provide test cases and/or do qa for this feature, as I'm missing it a lot.

[2019-05-30 07:04] softvision-miralobontiu commented on #2673
Got it!

Based on Arturo's [comment](https://github.com/mozilla-mobile/fenix/issues/2673#issuecomment-496987012) I will close this issue and open a new one describing the behavior on Nexus 6P device.

[2019-05-30 07:14] softvision-miralobontiu commented on #1860
I'll remove the "blocked" flag. Sorry for the misunderstanding.

[2019-05-30 07:47] sv-ohorvath commented on #2919
Verified as fixed on the 5/30 build.

[2019-05-30 08:10] softvision-miralobontiu opened #2997 "[Bug] Cannot upload photos if "Don't keep activities" is ON"
## Steps to reproduce
1. Go to the device's settings and enable the "Don't keep activities"
1. Go to https://imgbb.com/
1. Upload a photo.

### Expected behavior
I should be able to load the selected photo.

### Actual behavior
Here are 2 videos with the behavior when "Don't keep activities" is:

* [OFF](https://drive.google.com/file/d/1eZWneEpF2VzavVCf2T0iticDY1BZ0hYH/view)
* [ON](https://drive.g

[2019-05-30 08:20] softvision-miralobontiu commented on #2254
Verified as fixed on the latest build 1.0.1922 (#11500615), with Google Pixel (Android 9), and Nokia 6 (Android 7.1.1).

[2019-05-30 08:31] softvision-miralobontiu commented on #2419
Verified as fixed on the latest build 1.0.1922 (#11500615), with Samsung Galaxy S8 (Android 9), and Nokia 6 (Android 7.1.1).

[2019-05-30 08:35] softvision-miralobontiu commented on #2709
Closing this as dupe of #2254

[2019-05-30 08:44] softvision-miralobontiu commented on #2417
Verified as fixed on the latest build 1.0.1922 (#11500615), with Samsung Galaxy S8 (Android 9), Sony Xperia Z5 Premium (Android 7.1.1), and Nexus 6P (Android 8.1.0).

[2019-05-30 08:49] sv-ohorvath commented on #2891
Verified as fixed on the 5/30 build. devices: Nexus 5, HTC Desire 820, Mi Pad 2 (Android 5.1)

[2019-05-30 08:55] softvision-miralobontiu commented on #2133
@AmyYLee this is what "Delete history" button is displayed:

![Screenshot_20190530-114934_Firefox Preview](https://user-images.githubusercontent.com/40694158/58621163-70937b00-82d1-11e9-822f-9d82fea29c4e.jpg)

Tested on the latest build 1.0.1922 (#11500615), with Nexus 6P (Android 8.1.0), Nokia 6 (Android 7.1.1), Samsung Galaxy S8 (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).
Is this ex

[2019-05-30 09:09] gabrielambuehl opened #2998 "[Bug] Playstore build fails to show autofill prompts"
## Steps to reproduce
Update to latest play store build and select a password field while an autofill provider is active.

### Expected behavior
Should show autofill prompt (it did show up a few days ago and still does in Fennec and Focus, so definitely an issue on Fenix side).

### Actual behavior
Nothing. Long tap just results in Paste context menu.

### Device information
* Android device: Mi 9

[2019-05-30 09:10] sv-ohorvath commented on #2898
Verified as fixed on the 5/30 build.

[2019-05-30 11:25] gabrielambuehl commented on #2998
Weirdly, after a reboot it seems to work again...

[2019-05-30 11:41] softvision-miralobontiu commented on #225
I confirm that the user can "Delete browsing data", on the latest build 1.0.1922 (#11500615), with Google Pixel (Android 9), Samsung Galaxy S8 (Android 9), Nokia 6 (Android 7.1.1).

@bbinto after tapping "Allow", the progress bar doesn't stop moving like it is still in progress. But, if you go back to Homescreen the data was deleted. The user doesn't know if the deletion is complete or not. Please

[2019-05-30 11:46] sv-ohorvath opened #2999 "[Bug] App crashes on launch on a HTC Nexus 9"
## Steps to reproduce
1. Install a build starting from 5/24 (either from Playstore or taskcluster)
1. Launch the app.
    1. Expected behavior
App opens.
    1. Actual behavior
App launched but unresponsive.
[nexus 9 logcat.txt](https://github.com/mozilla-mobile/fenix/files/3236170/nexus.9.logcat.txt)

### Device information
* Android device: HTC Nexus 9 (Android 7.1.1)
not reproducing on Nokia 6

[2019-05-30 11:57] softvision-miralobontiu commented on #2972
Verified that with the device's back button, the user can navigate back in custom tabs.
Tested with the latest build 1.0.1922 (#11500615), with Nokia 6 (Android 7.1.1), Xiaomi MiPad2 (Android 5.1), Google Pixel (Android 9), and Nexus 6P (Android 8.1.0).

[2019-05-30 11:58] sv-ohorvath commented on #2941
Verified as fixed on the 5/30 build.
deivces: Pixel (Android 9), Nexus 5 (Android 6), Mi Pad 2 (Android 5.1)

[2019-05-30 12:03] sv-ohorvath commented on #2948
Verified as fixed on the 5/30 build.

[2019-05-30 12:05] djc commented on #2484
@vesta0 thanks for reconsidering! Would still be nice to keep this open (or open a new feature issue) so interested folks can get feedback after your re-evaluation?

[2019-05-30 12:17] dector opened #3000 "FNX3-16728 ⁃ [Not a bug] Replace deprecated `SearchEngineManager.load()` with `loadAsync()`."
`SearchEngineManager.load()` is [deprecated now](https://github.com/mozilla-mobile/android-components/blob/77d384c/components/browser/search/src/main/java/mozilla/components/browser/search/SearchEngineManager.kt#L58). `SearchEngineManager.loadAsync()` should be used instead.

Occurrences:

* [Search](https://github.com/mozilla-mobile/fenix/blob/96b68948b5a868baecb2df2cf40b479a7c1c2860/app/src/main

[2019-05-30 12:29] sv-ohorvath commented on #2105
So far we saw this issue on:
Moto G (Android 5.1)
Xiaomi Mi Pad 2 (Android 5.1)
Mi 4i (Android 5.0.2)
So it seems that only android 5 devices may be affected.

[2019-05-30 12:42] sv-ohorvath commented on #2070
Still getting the error with TP on or off: Pixel (Android 9)

[2019-05-30 13:18] sv-ohorvath commented on #2217
see also: https://github.com/mozilla/firefox-preview-bughunting-campaign/issues/103

[2019-05-30 13:30] sv-ohorvath commented on #2439
Does this still happen on your device, @andreicristianpetcu? If it was fixed by #2436, then you can close it.

[2019-05-30 13:35] sv-ohorvath opened #3001 "[Bug] Crashing on open tab animation"
## Steps to reproduce
1. Open a few tabs.
1. Leave the device idle for a few minutes.
1. Tap to open the tabs, one by one. It doesn't happen frequently.
    1. Expected behavior
Tabs open.
    1. Actual behavior
App crashes while the tab expanding animation is happening.
[tab animation crash.txt](https://github.com/mozilla-mobile/fenix/files/3237201/tab.animation.crash.txt)
    1. Device informati

[2019-05-30 14:01] pwd-github opened #3002 "FNX3-16730 ⁃ [Bug] Keyword Search causes crash"
## Steps to reproduce
1. Create some keyword searches on desktop
1. Sync your bookmarks
1. Attempt quick/keyword search in Fenix

### Expected behavior
You get your search results

### Actual behavior
Crash! :boom:

### Device information
* Android device: Android 8, LG G6
* Fenix version: 1.0.1922

[2019-05-30 14:40] sv-ohorvath commented on #2941
The download confirmation dialog needs to be updated too: the Download button is purple.
![Screenshot_20190530-103405](https://user-images.githubusercontent.com/4037709/58640191-3a6def80-8301-11e9-904f-1820433d9c30.png)

[2019-05-30 14:45] sv-ohorvath opened #3003 "FNX3-16731 ⁃ [Bug] Sudden crash while typing in the URL bar"
## Steps to reproduce
1. Tap the search bar an type in something. (can't reproduce this with the same keywords)
    1. Expected behavior
URL/search term is typed
    1. Actual behavior
App crashes.
[logcat](https://github.com/mozilla-mobile/fenix/files/3237472/logcat.txt)

### Device information
* Android device: Pixel (Android 9)
* Fenix version: 5/30 build

[2019-05-30 14:50] sv-ohorvath commented on #2941
Clear site permissions dialog as well:
![Screenshot_20190530-104709](https://user-images.githubusercontent.com/4037709/58641181-5d999e80-8303-11e9-8e30-c4b4ce0c40af.png)

[2019-05-30 15:21] AaronMT commented on #3003
[code]

[2019-05-30 15:23] AaronMT commented on #3002
Logcat?

[2019-05-30 15:25] AaronMT commented on #2994
(CC @thomcc)

[2019-05-30 15:32] AaronMT commented on #3001
Not sure if this is related to the crash but in your log I see

[code]

[2019-05-30 15:36] pwd-github commented on #3002
I don't have one. I did press send when it crashed at both OS and app level though. Also I can consistently reproduce the crash with the following STR:

1. Open Fenix
2. Open an existing tab
3. Press the 3 dot menu
4. Press new tab
5. Type "dict <any word>"*
6. Press enter

* dict is IIRC, tfd.com/$s. I can't recall, I set my quick searches years ago and they've followed me around with sync.

[2019-05-30 16:56] AmyYLee opened #3004 "[Bug] Buggy behaviour on homescreen when expanding/collasping collections"
1. Open 3 new tabs
1. Tap on the expand arrow in a collection

Expected:
When expanded, collections list should scroll up to show length of list

Current:
Jumps back up to the top of the screen.

1. With collections now expanded, scroll up to show full list of collections (7 items)
1. Tap on collapse arrow

Expected
Opened tabs are shown not cut off.

Actual:
Opened tabs are shown cut off

See vid

[2019-05-30 16:58] sblatz commented on #1679
To confirm: I am going to just stop media playback in the background *always* even if the app is just paused and not force quit.

[2019-05-30 17:02] AmyYLee opened #3005 "FNX3-16733 ⁃ [Collections] When open tabs are saved to a collection, they should be removed from open tabs section"
Steps to reproduce

1. Open several tabs on homescreen
1. Select "Save to collection" and go through process of saving

Expected:
Tabs that are selected to be saved into a collection are moved from the opened tabs section and placed in a collection.

Actual:
Tabs that have been saved into a collection are still present in the open tabs section so instead of moving it's been duplicated into the col

[2019-05-30 17:19] thomcc commented on #2994
Is this actually a well-formed domain name? (I'm guessing so?)

[2019-05-30 17:48] sarentz commented on #1635
I am closing this issue: from Fenix' perspective this works. There is nothing in Fenix we can do for specific password managers.

[2019-05-30 17:49] colintheshots opened #3006 "[Bug] Fullscreen mode is not full screen, leaves space for address bar"
## Steps to reproduce
1. Visit a video on Youtube.
1. Press the fullscreen button on Youtube.

### Expected behavior
The video takes up the entire screen.

### Actual behavior
The video is smaller than the screen, leaving wasted space for the address bar, so it appears letterboxed at the top of the screen.

### Device information
* Android device: Pixel 3XL running Android Q
* Fenix version: 1.0.1

[2019-05-30 17:53] AmyYLee opened #3008 "[Collections] Options menu shouldn't scroll"
When opening the options menu in a collection when it's positioned near the bottom of the screen, the menu is cut off and the user is required to scroll to see the items.

The menu should be shown in it's entirety and flushed to the bottom in this case.

Actual behaviour:
https://cl.ly/54749b546d73

Spec for correct placement:
![](https://user-images.githubusercontent.com/5992746/58652692-25359880

[2019-05-30 18:38] boek commented on #2731
This is working as intended

[2019-05-30 18:51] ekager opened #3011 "FNX3-16736 ⁃ [Bug] Custom Tab EngineView behind Fixed Toolbar Hidden"
## Steps to reproduce
### Expected behavior
### Actual behavior
### Device information
* Android device: ?
* Fenix version: ?

[2019-05-30 19:01] boek commented on #2724
Can you still reproduce this?

[2019-05-30 19:14] vesta0 commented on #2070
This works in Fennec.

[2019-05-30 19:59] ekager commented on #3005
This seems strange to me. If we think about collections as almost like a named list of bookmarks, we don't close someone's tab if they decide to bookmark it. We won't be able to restore the history of that tab if they immediately try to reopen that link because this is unexpected behavior. You can also add a tab to a collection from the browser menu, so would that just close your tab there and pop

[2019-05-30 20:03] grigoryk commented on #2996
You should see the exact same behaviour in reverse, as well - with Fenix installed as a default browser, a tab sent to Fennec will open in Fenix.

When we're creating a "received tab" pending intent for the notification, we're essentially just saying - open this URL in the app that's most suitable. A default browser is quite suitable. Aso, if you send a google maps tab, we'll likely just open it g

[2019-05-30 20:16] Amejia481 commented on #2913
Showing the **`Persistent Storage`** dialog will be covered after MVP on this issue https://github.com/mozilla-mobile/android-components/issues/3153. For now, we are avoiding the crash.

[2019-05-30 20:16] grigoryk commented on #2196
After some reflection, I don't think we actually want to do this. Having the user end up deep in settings after completing sign-in seems counter-productive. Their goal was not to look at sync status, but to either complete some task, get to their bookmarks and/or history, establish a connection between browsers, or just get through the nagging prompts and move on. Either way, displaying Sync Setti

[2019-05-30 20:17] grigoryk commented on #2196
Removed the blocker label, feel free to re-add it if you disagree strongly.

[2019-05-30 20:23] sblatz commented on #2196
@vesta0, @bifleming just so you're aware ^^

[2019-05-30 20:27] grigoryk commented on #2164
@sv-ohorvath sending/receiving tabs is no longer technically part of Sync like it was in Fennec, so this doesn't have impact on tabs. We have a separate mechanism to receive tabs; currently we poll for new tabs every 15 minutes, and soon we'll be landing push support which should make receiving tabs nearly-instant.

Also, we already sync on a schedule, every four hours. And now that https://github

[2019-05-30 20:27] ryanfeeley commented on #2196
It's harmless to leave it at the **You are now ready to use Firefox Sync** page for now. Trailhead, and a desire to offer something better than Connect Another Device, means this page will change soon enough.

[2019-05-30 20:29] andreicristianpetcu commented on #2439
It works now. No crash.

[2019-05-30 20:43] jonalmeida opened #3015 "Integrate push component"
A tracking issue for integrating the push component that depends on #2356 for send tab.

[2019-05-30 20:46] grigoryk commented on #3015
This is marked as an `MVP Blocker` because it ensures proper functionality of the "receive" part of send tabs, and should be cheap to do - we already landed all of the required push functionality in `a-c`, so ideally we're looking at a very quick turn-around.

[2019-05-30 20:47] sblatz commented on #2316
@topotropic Is a confirmation dialog (similar to the one used for collections) sufficient? This view is a modal so a snackbar feels a bit weird here.

[2019-05-30 20:52] grigoryk commented on #2031
1547251 is marked as RESOLVED FIXED, so we should be good to close this one. Testing this, I see "Firefox Sync" and not "Fenix".

[2019-05-30 20:55] grigoryk commented on #2618
We're now using the product name here, namely "Firefox Preview". I'll file a "specify device model/build" as a follow-up.

[2019-05-30 20:57] grigoryk opened #3018 "Consider specifying device make/model as part of the default FxA device name"
Currently we're using product name as the default FxA device name - so, "Firefox Preview".

Fennec appends a device name, e.g. "Firefox for Android on Galaxy S6". Consider doing the same here.

This is a follow-up to #2618.

[2019-05-30 21:00] sblatz commented on #1134
From reading these comments, this ticket doesn't feel eng ready. @vesta0 can you confirm this is an MVP blocker?

[2019-05-30 21:01] sblatz commented on #2287
I believe this crash was due to our state handling a few weeks ago and should be fixed. Can we have QA try to reproduce this?

[2019-05-30 21:03] grigoryk commented on #2327
Done in #2802

[2019-05-30 21:03] grigoryk commented on #2888
Should be fixed now that we're on 0.55.0 of a-c, as of https://github.com/mozilla-mobile/fenix/pull/2802.

[2019-05-30 21:03] sblatz commented on #2327
@grigoryk let's have QA test this, then they'll close 😄

[2019-05-30 21:05] bifleming commented on #2501
@vesta changed to feature request

[2019-05-30 21:06] sblatz commented on #1998
I have a feeling this may have been fixed by [disabling the dynamic toolbar](https://github.com/mozilla-mobile/fenix/issues/2689). I don't have an HTC device on hand, though. @softvision-miralobontiu are you able to reproduce still?

[2019-05-30 21:06] bifleming commented on #2505
@vesta0 changed to feature request.

[2019-05-30 21:09] bifleming commented on #2527
@vesta0 priority?

[2019-05-30 21:09] mozillamarcia commented on #2287
I haven't seen this lately running Fenix on my Pixel 3. @gaby2300 can you?

[2019-05-30 21:11] sblatz commented on #1366
@dector is working on this. I'll own making sure it gets landed!

Currently blocked on: https://github.com/mozilla-mobile/android-components/pull/3187

[2019-05-30 21:15] bifleming commented on #2565
@vesta0 blocker?

[2019-05-30 21:16] csadilek commented on #2932
Landed one fix and additional error handling. If this still happens with ac.version 0.55.0, we should have more insights.

[2019-05-30 21:25] bifleming commented on #2585
Appears to be fixed.

[2019-05-30 21:29] vesta0 commented on #1679
Thank you @sblatz . The current behaviour is a huge blocker. If the user closes the app, media continued playing and the only way to stop it is to go to settings and app settings and force stop Fenix. We will re-add this feature once we build media notifications post-mvp.

[2019-05-30 21:29] bifleming commented on #2589
@vesta0 we dont save the region for search engines right now. We should address this when we have custom search engines. already have an issue to cover this: 1437

[2019-05-30 21:31] vesta0 commented on #87
@bifleming we are waiting for password manager providers to whitelist Fenix in their upcoming releases.

[2019-05-30 21:35] bifleming commented on #2632
Fixed by static bar

[2019-05-30 21:40] bifleming commented on #2638
fixed with static bar

[2019-05-30 21:41] mheubusch commented on #2560
This wording  isn't wrong but I understand your concern that it is not precise enough.  After MVP launch, we can modify the first sentence to: Firefox Preview clears your search and browsing history when you quit the app or close all private tabs.

[2019-05-30 21:43] mheubusch commented on #2560
@vesta0 I moved this to the Post-MVP Milestone and  it is ready for dev. Can you prioritize and put in the appropriate sprint?

[2019-05-30 21:46] ryanfeeley commented on #2565
Yes, pairing does not appear to work unless you pull the camera back. We should fix the camera and not scale the reticle down.

[2019-05-30 21:47] AmyYLee opened #3022 "Open default Phone or Text app"
### User Story
As a user, I want my browser to launch Phone/Text app with the phone number populated when I tap on a phone number or press on "call/text" button, so I can easily make a phone call or send a text.

### Acceptance Criteria
-I can launch the phone app and make a call, when I tap on a phone number or press on "call" on a site.
-I can launch the text app and easily send a text, when I t

[2019-05-30 21:50] bifleming commented on #2731
Working as intended.

[2019-05-30 21:50] vesta0 commented on #2724
Fixed.

[2019-05-30 21:52] vesta0 commented on #2734
@pwd-github please let us know if you can still reproduce this bug.

[2019-05-30 21:57] vesta0 commented on #2740
Will re-test when x86 is added

[2019-05-30 22:01] bifleming commented on #2778
About page work will come later

[2019-05-30 22:06] vesta0 commented on #2961
Working as intended. UX to take into consideration.

[2019-05-30 22:08] pwd-github commented on #2734
Hi @vesta0

I can no longer produce this. It appears to be fixed.

[2019-05-30 22:13] vesta0 commented on #3005
@AmyYLee @mheubusch can we revisit this when we user tests Collections?

[2019-05-30 22:15] vesta0 commented on #2993
I can't reproduce this. @mozillamarcia could you provide exact steps to reproduce?

[2019-05-30 22:17] vesta0 commented on #2995
This is intended but I think we may want to revisit this @shorlander

[2019-05-30 22:22] vesta0 commented on #2560
Thanks @mheubusch will do

[2019-05-30 22:29] vesta0 commented on #2590
@cpeterso is there a bug open for this in bugzilla?

[2019-05-30 22:30] vesta0 commented on #2624
About:config is not supported in Fenix yet.

[2019-05-30 22:37] cadeyrn commented on #1998
No, disabling the dynamic toolbar did not fix this issue.

[2019-05-30 22:39] vesta0 commented on #2845
Thanks @andreicristianpetcu for raising this. We will address this in #1289

[2019-05-30 22:43] ekager commented on #2870
Should we remove the QR Fragment and return to search when the app is paused? Does it make sense to keep the camera running? It may be resource intensive

[2019-05-30 22:46] vesta0 commented on #2498
@agi90 please re-open this if you are able to reproduce it :)

[2019-05-30 22:48] vesta0 commented on #2842
Will be addressed in #2814

[2019-05-30 22:49] Amejia481 opened #3025 "[Bug] Crash when navigating to a site"
## Steps to reproduce
Go to www.wikipedia.org

### Expected behavior
The site is Renderer.

### Actual behavior
The app crashes.

### Stack trace
[code]

### Device information
* Android device: ?
* Fenix version: ?

[2019-05-30 22:49] vesta0 commented on #2839
I believe this may be related to sync delay. @grigoryk ?

[2019-05-30 22:54] ekager commented on #2843
I expanded the touch area and cleaned up the constraint layout here a bit, but this is also impacted by https://github.com/mozilla-mobile/fenix/issues/1454

[2019-05-30 22:55] vesta0 commented on #2858
This seems to be a regression.

[2019-05-30 22:56] ekager commented on #2951
This was a dupe closing

[2019-05-30 22:59] vesta0 commented on #2867
Thank you @pwd-github and @cadeyrn for the helpful feedback.

@mheubusch @shorlander would love your thoughts on user expectation here.

[2019-05-30 23:02] cadeyrn commented on #2574
This was fixed by disabling the dynamic toolbar. Should this issue be closed or kept open for post-MVP work?

[2019-05-30 23:05] vesta0 commented on #2794
This is especially an issue in landscape mode.

[2019-05-30 23:10] vesta0 commented on #3006
Dup of #2794

[2019-05-30 23:14] vesta0 commented on #2905
@grigoryk is this A-C or Fenix work?

[2019-05-30 23:17] vesta0 commented on #2909
@bifleming how do we tag the performance team here?

[2019-05-30 23:20] vesta0 commented on #2837
@mheubusch please add your recommendation and set UX priority :)

[2019-05-30 23:22] vesta0 commented on #2902
We may have a duplicate bug for this but I couldn't find it.

[2019-05-30 23:24] vesta0 commented on #2874
I couldn't reproduce. @sv-ohorvath could you please verify that this is still happening?

[2019-05-30 23:27] vesta0 commented on #2820
Will be addressed in #3004

[2019-05-30 23:28] vesta0 commented on #3025
Can't reproduce.

[2019-05-30 23:29] vesta0 commented on #2964
@pocmo do we know why this happens?

[2019-05-30 23:33] ekager opened #3027 "FNX3-16741 ⁃ Pass in Fenix Snackbar for Context Menu Candidate"

[2019-05-30 23:41] vesta0 commented on #3022
I believe this is blocked on #1570

[2019-05-30 23:46] vesta0 commented on #2970
Will be addressed in #1570

[2019-05-30 23:47] vesta0 commented on #2824
I can't reproduce this. @sv-ohorvath please re-open if the issue persists.

[2019-05-30 23:47] vesta0 commented on #2824
Just saw that it's specific to some devices :)

[2019-05-30 23:49] vesta0 commented on #2819
This is working as intended but we need to re-visit the behaviour.

[2019-05-31 00:00] vesta0 commented on #2598
Dup of #1213 and will be addressed by this [A-C issue.](https://github.com/mozilla-mobile/android-components/issues/1132)

[2019-05-31 00:10] ekager commented on #2230
Okay sorry for the delay! I think I have finally fixed this, thanks for the tip about  #1414

[2019-05-31 00:13] ekager commented on #2824
@sv-ohorvath could we retest this? I did fix an issue around 7 days ago related to this issue: https://github.com/mozilla-mobile/fenix/issues/2806

[2019-05-31 00:15] ekager commented on #3025
Fixed this crash in #3024 related to swipe to refresh layout changes, closing!

[2019-05-31 00:22] vesta0 commented on #2906
@brampitoyo let's think of a creative solution for letting users know that a site may be breaking due to tracking protection.

[2019-05-31 00:40] jonalmeida opened #3030 "FNX3-16742 ⁃ [Bug] Deleting history crashes app"
Similar to #2952

[code]

[2019-05-31 00:40] vesta0 commented on #2860
I can't reproduce this, I only get the Paste option. @pwd-github is this still happening?

[2019-05-31 00:41] jonalmeida commented on #2951
@ekager what was this a dup of? I just filed https://github.com/mozilla-mobile/fenix/issues/3030 because now it's crashing.

[2019-05-31 00:44] vesta0 commented on #2483
I believe this is intended behaviour. @topotropic please confirm.

[2019-05-31 00:51] vesta0 commented on #2101
Closing based on feedback from @kbrosnan

[2019-05-31 00:57] ekager commented on #2951
Oops sorry thought this was addressed by one of @boek 's PRs today. Reopening

[2019-05-31 01:21] vesta0 commented on #2391
Let's please close this since #2726 will be separately tracked and prioritized.

[2019-05-31 01:45] jonalmeida opened #3031 "FNX3-16743 ⁃ [Bug] Sign in on a fresh install (still) crashes the app"
I'm filling this as a **regression** of https://github.com/mozilla-mobile/fenix/issues/1975 and I've verified that my build also has the fix for the other 'Display already acquired' (https://github.com/mozilla-mobile/fenix/pull/3023).

## Steps to reproduce
1. Go to settings.
1. Click sign in, actually sign in.

### Expected behavior
* Don't crash.

### Actual behavior
* Crashes

[code]

### Devic

[2019-05-31 01:57] jonalmeida opened #3032 "FNX3-16744 ⁃ [Bug] Cold start of Fenix crashes the app with a new intent"
## Steps to reproduce
1. Ensure Fenix is your default browser.
1. Send a tab your device.
1. Click the tab notification.
1. Wait for the tab to open.

Alt STR:

1. Ensure Fenix is your default browser.
1. Ensure the app is closed.
1. Click a link somewhere to be opened in Fenix.

### Expected behavior
* The tab loads.

### Actual behavior
* Crash:

[code]

### Device information
* Android device:

[2019-05-31 02:41] jonalmeida commented on #2836
In the a-c feature we tint the buttons depending on the toolbar colour we get. By using the custom tab internally the app is circumventing this value being set. The quickest fix is to include the themed toolbar colour in your intent like below and that should take care of the rest:

[code]

[2019-05-31 02:58] jonalmeida commented on #2794
This is a bit of an awkward fix. We need to remove the margins from the engine layout when entering/exiting fullscreen.

Something like this for exiting..

[code]

The awkward part is getting this same thing to work for Custom Tabs as well.

[2019-05-31 05:33] Lululalu opened #3033 "[Bug] After restarting from crash that happened while typing on the address bar, Fenix is opened with they keyboard covering part of the screen"
## Steps to reproduce
Make Firefox crash while typing on the address bar (it's happening to me sometimes, but I don't know what is causing it yet)

### Expected behavior
After the crash Firefox restarts without any unusable keyboard on the screen.

### Actual behavior
![Screenshot](https://user-images.githubusercontent.com/32398857/58683893-9873f480-834c-11e9-8311-91975c31b70b.jpg)UNITO-UNDERSCORE

[2019-05-31 05:38] Lululalu commented on #2672
#2673 was fixed and I still can't upload fileso Github using Fenix, so I reopening the issue.

[2019-05-31 05:57] softvision-miralobontiu commented on #1998
Still reproducing with the latest build 1.0.1922 (#11501805), on HTC 10 (Android 8).

[2019-05-31 06:14] IdmFoundInHim commented on #2979
This has been fixed for me in the latest build.
[Note5 Verizon, Android 7.0]

[2019-05-31 07:34] madb1lly opened #3034 "[Meta] What is the roadmap for Fenix feature parity with Fennec?"
Existing request/discussion: https://groups.google.com/d/msg/fenix-nightly/99h3O3nuHJU/XacymGcAAwAJ

### Why/User Benefit/User Problem
Lots of people are using Fenix and would like to see various features added that already exist and they use in Fennec (the current Firefox for Android) - for evidence look at the discussion in the mailing list. I am aware of the GitHub projects which are the produc

[2019-05-31 07:43] agi90 commented on #2086
Just checked: I do have WebRender on.

[2019-05-31 07:47] agi90 commented on #2498
I can still repruduce this but I just noticed I have WebRender on (which would make this a GeckoView bug) can someone check with WebRender on?

[2019-05-31 07:53] softvision-miralobontiu commented on #2052
Verified as fixed on the latest build 1.0.1922 (#11510609), with Motorola Moto G6 (Android 8).

[2019-05-31 07:59] softvision-miralobontiu opened #3035 "FNX3-16747 ⁃ [Bug] Crash when deleting browsing data"
## Steps to reproduce
1. Load a page.
1. Go to Settings - Delete browsing data and select "Browsing history and site data" - Allow

### Expected behavior
Data should be deleted and the user can continue using the app.

### Actual behavior
Crash

### Device information
* Android device: Motorola Moto G6 (Android 8), Sony Xperia Z5 PRemium (Android 7.1.1)
* Fenix version: 1.0.1922(#11510609)

[logca

[2019-05-31 08:00] softvision-miralobontiu commented on #2980
I've got a crash, filed #3035

[2019-05-31 08:01] pwd-github commented on #2860
This is very much still the case @vesta0

Even the search field on GitHub shows select all.

[2019-05-31 08:07] sv-ohorvath commented on #2724
Yes, verified it's fixed.

[2019-05-31 08:17] softvision-miralobontiu commented on #2230
Verified as fixed on the latest build 1.0.1922 (#11510609), with Motorola Moto G6 (Android 7.0), Sony Xperia Z5 Premium (Android 7.1.1), and Samsung Galaxy Tab A6 (Android 5.1.1).

[2019-05-31 08:19] leonardehrenfried commented on #87
@vesta0 Does it make sense for us as paying customer of these providers (Lastpass in my case) to ask for support in order to speed this up?

[2019-05-31 08:21] softvision-miralobontiu commented on #2938
Verified as fixed on the latest build 1.0.1922 (#11510609), with Motorola Moto G6 (Android 8.0), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-31 08:23] sv-ohorvath commented on #2874
Still reproducing, checked on P9 Lite (Android 6.0). I think it's an issue on Android 6 and lower.

[2019-05-31 08:26] sv-ohorvath commented on #2824
Cannot reproduce on the 5/30 build..

[2019-05-31 08:26] softvision-miralobontiu commented on #2979
Verified as fixed on the latest build 1.0.1922 (#11510609), with Motorola Moto G6 (Android 8.0), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-31 08:29] softvision-miralobontiu commented on #3003
Verified as fixed with the latest build 1.0.1922 (#11510609), with Motorola Moto G6 (Android 8.0), Sony Xperia Z5 Premium (Android 7.1.1), and Samsung Galaxy Tab A6 (Android 5.1.1).

[2019-05-31 08:41] sv-ohorvath commented on #1961
The help page is working from Settings. Not linked yet in the main menu.

[2019-05-31 08:43] softvision-miralobontiu commented on #1973
Verified as fixed on the latest build 1.0.1922 (#11510609), with Nexus 5 (Android 6.0.1), HTC 10 (Android 8), Motorola Moto G6 (Android 8.0), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-05-31 09:06] sv-ohorvath commented on #2931
Verified as fixed on the 5/31 build.

[2019-05-31 09:11] sv-ohorvath commented on #2913
No more crashing on the 5/31 build.

[2019-05-31 09:25] sv-ohorvath commented on #2941
another dialog: Send tab - not devices connected:
![Screenshot_20190531-052108](https://user-images.githubusercontent.com/4037709/58695881-1c56cc80-839f-11e9-8954-d6af75754933.png)

[2019-05-31 09:27] sv-ohorvath commented on #2222
Verified as fixed on the 5/31 build.

[2019-05-31 09:36] softvision-miralobontiu opened #3036 "[Bug]FxA Signin causes crash when password is changed on Desktop"
## Steps to reproduce
1. Sign in on 2 devices (Android and Desktop)
1. Change the password on Desktop.
1. Go to Android to Settings and try to sign in again.

### Expected behavior
Not crash.

### Actual behavior
Crash.

### Device information
* Android device: Sony Xperia Z5 Premium (Android 7.1.1)
* Fenix version: 1.0.1922 (#11510609)

Not reproducible all the time.
![crash](https://user-images.

[2019-05-31 09:45] softvision-miralobontiu commented on #2327
Hi,
Tested with build 1.0.1922 (#11510609), with Sony Xperia Z5 Premium (Android 7.1.1), and I got two scenarios:
1. I've signed in on a single device. Tried to share a tab on another device. This is what was displayed:

![2019-05-31](https://user-images.githubusercontent.com/40694158/58696784-ec102d80-83a0-11e9-812e-07e81dd3d90a.gif)

2. Filed a bug #3036

![crash](https://user-images.githubuserc

[2019-05-31 12:12] sv-ohorvath commented on #1679
Verified that the sound is stopped when backgrounding or killing the app.
devices: Pixel, Note 8 (Android 9), P9 lite (Android 6)

[2019-05-31 12:36] softvision-miralobontiu opened #3037 "[Bug] The "Delete browsing data" checkboxes are still checked after allowing deletion"
## Steps to reproduce
1. Go to Settings - Delete browsing data
1. Check at least one checkbox (Open Tabs, Browsing history and site data, or Collections)
1. Tap on Delete browsing data and allow deletion.

### Expected behavior
After the data is deleted, the box should be unchecked.

### Actual behavior
The boxes are still checked.

### Device information
* Android device: all
* Fenix version: 1.0

[2019-05-31 13:54] vesta0 commented on #87
Thanks @leonardehrenfried I believe the work is already in progress or ready to land on their end :)