[2020-03-01 07:21] kinghat commented on #8886
update just came through(Nightly 200301 06:01) and I'm back to normal.

[2020-03-01 07:24] djc commented on #8886
200301 is not available for me from the Play Store. 200229 still crashes.

[2020-03-01 07:25] kinghat commented on #8886
just wait longer 👌

[2020-03-01 07:51] alexjohnchapman opened #8888 "[Bug] Tab closed pop up only goes away when you click undo"
## Steps to reproduce
Close a tab.

### Expected behavior
The "tab closed" pop up should leave after a few seconds. Clicking "undo" should reopen the closed tab.

### Actual behavior
The pop up doesn't leave until you press "undo". Pressing "undo" does not reopen the closed tab

### Device information

* Android device: Oneplus 3, Android 9
* Fenix version: 3.2.0 (Build #20250236)

[2020-03-01 08:15] cadeyrn commented on #8888
Duplicate of #7799, fixes with the next update.

[2020-03-01 12:16] Osyotr commented on #8884
Also "swipe down to show tabs" would be a nice feature to copy from chrome

[2020-03-01 13:15] cadeyrn commented on #8884
Duplicate of #3481.

[2020-03-01 15:40] ekager commented on #8886
We recently removed the direct AS dependency in Fenix (trying to avoid these mismatches) and subsequently updated to AS53 in AC.
https://github.com/mozilla-mobile/fenix/pull/8742
https://github.com/mozilla-mobile/android-components/pull/6110

Even though it fixed itself in the next nightly, we should investigate how we were getting the mismatch still.

[2020-03-01 15:40] #8888 closed

[2020-03-01 19:47] buttercookie42 opened #8889 "Support installing OpenSearch search plugins"
## Steps to reproduce
1. Visit any page that offers an OpenSearch search plugin, e.g. https://mycroftproject.com/search-engines.html?author=Jan+Henning
2. Install the search engine and acknowledge the confirmation popup whether you actually want to install that search engine.

### Expected behavior
The search engine is installed and I can actually use it.

### Actual behavior
The search engine *do

[2020-03-01 21:09] KazaHesto commented on #6607
The text colour becomes white when the theme is set to dark yet the button colour doesn't change, is this intentional?
![Screenshot_20200302-080126](https://user-images.githubusercontent.com/19279387/75633881-ac8ab080-5c54-11ea-846e-336d189df79b.png)

[2020-03-01 21:39] brampitoyo commented on #5403
This issue was also mentioned by a participant in one of our search user study session.

Before we change any behaviour, let’s first discuss and consult with @Verdi.

[2020-03-01 22:09] mathiesenk opened #8890 "When "Dark" theme is chosen, Fenix switches languages[Bug]"
Choose Icelandic for Fenix language
Go into Settings - Theme
Choose Dark Theme (the choice before is "Follow device theme")

Expected results: theme color changes and language is still Icelandic

Actual results: theme color changes AND language of Fenix changes to English

When Light theme is chosen, the language does not change

Version of Fenix: Nightly 200228 06:00 (build # 20590607)

Device in

[2020-03-01 22:12] cadeyrn commented on #8890
Duplicate of #7559.

[2020-03-01 23:24] hiikezoe commented on #8784
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1619169 .

[2020-03-02 00:20] USB3-2-10Gbit opened #8891 "Selection window for logins is missing if you have more than one account"
Hello,

I have 2 logins saved on protonmail.com

When I want to use the autofill function of Firefox Preview*, nothing is displayed. There is no selection window if the user has more than 1 login on the same website.
*https://github.com/mozilla-mobile/fenix/releases/tag/v3.2.0

On Firefox Desktop (version 73) has this function.

[2020-03-02 00:45] danielzgtg commented on #8849
What do you suggest to translate it to?

It is left as-is as "Cookie" by:
- fennec
- Firefox Quantum
- Chrome Desktop
- Chrome Android
- [Google Translate](https://translate.google.ca/#view=home&op=translate&sl=en&tl=zh-CN&text=browser%20cookie)
- [MDN](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Cookies)

[2020-03-02 03:04] brampitoyo commented on #6607
@KazaHesto This is unintentional. The button style should be similar to other buttons in dark theme. Not the bright purple ones, but the ones in slightly lighter grey.

[2020-03-02 03:25] ekager commented on #8849
Closing because this sounds like expected translation :)

[2020-03-02 03:25] #8849 closed

[2020-03-02 03:25] ekager commented on #8891
This is planned work as part of https://github.com/mozilla-mobile/fenix/issues/5774

[2020-03-02 03:25] #8891 closed

[2020-03-02 03:27] ekager commented on #7559
@boek should we retest the changes we reverted as part of the crash investigation to see if we can keep these around for this bug fix?

[2020-03-02 03:38] ekager commented on #8876
I believe this is a dupe of #7902 and is now resolved in master/nightly. Please reopen if you think this is incorrect.

[2020-03-02 03:38] #8876 closed

[2020-03-02 03:40] ekager commented on #8881
I can't reproduce on master/nightly so it seems to have been fixed. If you want to test for yourself please download "Firefox Preview Nightly" in the play store, and reopen if this is still occurring.

[2020-03-02 03:40] #8881 closed

[2020-03-02 03:46] ekager commented on #8524
Okay let's close this ticket now for #8641 since I think the remaining issues overlap :)

[2020-03-02 03:46] #8524 closed

[2020-03-02 04:03] 90du opened #8892 "建议去掉首页logo"
建议去掉首页logo，太占地方！
收藏集模块添加移除开关！
搜索页面样式改为透明浮动！
开启超级缓存，返回不重载
开启网页预加载

[2020-03-02 04:07] ekager commented on #8641
@Amejia481 I think this will fix it? https://github.com/mozilla-mobile/android-components/pull/6136

[2020-03-02 04:42] ekager commented on #8504
@AmyYLee could you recheck in nightly to see if these icons look better now?
Thank you! :)

[2020-03-02 05:03] JpegXguy opened #8893 "[Bug] elta.gr TLS certificate is not recognized"
## Steps to reproduce
Visit https://www.elta.gr

### Expected behavior
Homepage of the site is shown

### Actual behavior
I get the "Secure Connection Failed" screen and tapping "Accept the Risk and Continue" does nothing (the security prompt remains).

After cleaning data, the behavior remains, as is expected.
Seems like the Firefox certificate store disagrees with other ones, like my desktop Fir

[2020-03-02 06:57] kbrosnan commented on #8893
Server is using an insecure version of TLS either version 1.0 or 1.1. Making this a dupe of #6296

[2020-03-02 06:57] #8893 closed

[2020-03-02 07:05] kbrosnan commented on #8302
Dupe #3753

[2020-03-02 07:05] #8302 closed

[2020-03-02 07:09] kbrosnan commented on #8892
Via Google translate

Collection module added and removed switch! [#3753]
Search page style changed to transparent floating! [Not sure?]
Enable super cache, return without reload [#810]
Enable web preloading [Gecko Networking feature does not make sense to track in Fenix]

Closing as this has multiple issues reported in one report.

[2020-03-02 07:09] #8892 closed

[2020-03-02 07:11] #8890 closed

[2020-03-02 07:59] sv-sdeiac commented on #8531
Verified as fixed using the latest version of Firefox Preview Nightly 3/2 #20620607.
Now, the previously entered query is not anymore saved.

Devices:
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel 3 (Android Q).

[2020-03-02 07:59] #8531 closed

[2020-03-02 08:07] AndiAJ commented on #8116
Hi, **verified as fixed** on the latest **`Nightly Build #20620607 from 03/02`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200302-095818](https://user-images.githubusercontent.com/51314259/75656825-81f92180-5c6d-11ea-9f6d-f1421ecf683d.gif)

[2020-03-02 08:07] #8116 closed

[2020-03-02 08:11] amitanilkulkarni opened #8894 "[Bug] Closing all tabs quickly followed by 'Back' key lands the user in a 0 tab page"
## Steps to reproduce

- Open one or more tabs
- Press 🗑 icon to delete all tabs
- Immediately press back button / gesture

### Expected behavior

- Not sure. Should exit the browser?

### Actual behavior

- A blank white page with 0 tabs is displayed.

### Device information

* Android device: Oneplus 7 Pro, Android 10
* Fenix version: Nightly (200301 build #20611807)

![Screenshot_20200302-13314

[2020-03-02 08:42] sv-sdeiac commented on #6607
Verified as fixed using the latest version of Firefox Preview Nightly 3/2 #20620607.

Devices:
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel 3 (Android Q).

[2020-03-02 09:00] softvision-miralobontiu commented on #7504
Verified on the 3/2 Nightly build the disconnected messages with HTC 10 (Android 8), Google Pixel (Android 10), and Sony Xperia Z5 Premium (Android 7.1.1), and this is how they look on light theme and dark theme.

@brampitoyo the three-dot icon, the yellow overlay + dot, it is not removed, on light theme is barely visible.

I'll remove the qa-needed label, but not close the issue until we know if

[2020-03-02 09:07] sv-sdeiac commented on #8773
Verified as fixed using the latest version of Firefox Preview Nightly 3/2 #20620607.

Devices:
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9).

[2020-03-02 09:07] LaurentiuApahideanSV commented on #8132
We tried to reproduce the issue in the latest Beta Migration Build 2 but we unable to.
Devices used: Pixel XL (Android 9), OnePlus 6T (Android 9), Huawei P9 Lite (Android 7), Google Pixel 2 (Android 9) and LG G7 fit (Android 8.1).

[2020-03-02 09:23] ebalazs-sv commented on #7818
@pocmo Can you please share your opinion regarding the verification of this bug? Is there another scenario that can be tested here? Thanks!

[2020-03-02 09:27] sv-sdeiac commented on #8894
Hi @amitanilkulkarni , I wasn't able to reproduce your issue either with the 3/1 nightly build or 3/2.
Can you perform more information regarding your problem, maybe a video with exact steps used by you. Also, please try with the latest version of Firefox Preview Nightly.
Thanks, I'll wait for your updates.

[2020-03-02 09:37] sv-sdeiac commented on #8883
Hi, please consider also the "Add to top sites", "Add-ons Manager" and "Open in App"(if the page can be open in the specific app) buttons on the order to have a clear change about the menu items and the full set of options.

[2020-03-02 09:51] sv-sdeiac commented on #8873
This issue is still reproducible after verifying #8773.
Devices:
- Samsung Galaxy Note 8(Android 9);
- Motorola Moto G6 (Android 8).

[2020-03-02 09:56] amitanilkulkarni commented on #8894
I tried it out again on the latest nightly. I am able to consistently reproduce it in these two cases:

- Use the private browsing shortcut added from settings. Keyboard pops up when you launch it. Type in any address to open a tab. Then repeat the steps I mentioned.
- Also works when you click on a link, and it opens up a private browsing instance.

I was not able to reproduce it when you open Fi

[2020-03-02 10:33] sv-sdeiac commented on #8894
Hello, I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 3/2 @20620608.

Devices:
- Google Pixel (Android Q);
- Google Pixel 2 (Android 9);
- Google Pixel 3 (Android Q);
- Motorola Moto G6 (Android 8).

The exact flow is:

### Prerequisites
Make sure that the app is freshly installed.

## Steps to reproduce:
1. Add a PB shortcut from Firefox Setting;

[2020-03-02 10:55] Scripterr opened #8897 "[Bug]Pressing back key removes all tabs opened through third party apps"
## Steps to reproduce
1. Open the links from other third party apps. Switch to other apps through multitasking only and again open links though it.
3. Firefox opens link in new tab and now press the back button from android back key.
4. Again open firefox preview and observe.
### Expected behavior
All previous tabs opened through third party apps are present, except the page where we back out is r

[2020-03-02 11:06] Scripterr opened #8898 "[Bug]Progress bar curved at starting point"
Open a webpage and observe. You would see that the progress bar is curved in starting point. It should be rectangular in starting point.
Screenshot attached-
![Screenshot_20200302-163539_1](https://user-images.githubusercontent.com/42364681/75671082-e4eeb680-5c75-11ea-9dbc-5946023b6476.png)

[2020-03-02 11:11] mcarare commented on #8870
AC Issue: https://github.com/mozilla-mobile/android-components/issues/6137

[2020-03-02 11:22] ValentinTimisica opened #8899 "[Bug] Snackbar not showing in customTab with bottom toolbar"
### Steps to reproduce
- Set toolbar to bottom
- Go to `Settings` -> `About Firefox Preview` -> `What's new in Firefox Preview`
- Long tap on URL bar
- Press on `Copy`

### Expected behavior
- Snackbar with the message `URL copied to clipboard` should show
### Actual behavior
- Nothing happens

### Additional info
- [Video](https://drive.google.com/open?id=1qzGRUo6LTX_ulyM2kl3GIkD8YA9x8dm2) with t

[2020-03-02 11:28] Diana-Rus commented on #6742
Hi, I did not reproduce the issue with the input from ticket: https://github.com/webcompat/web-bugs/issues/44145 with build Firefox Preview Nightly 191114 (🦎: 72.0a1-20191109093718) on the following devices:
- Google Pixel XL (Android 10)
![20200302-115313](https://user-images.githubusercontent.com/49859863/75665538-fa1b1380-5c7c-11ea-8e52-1c5ff18d5763.gif)

- Samsung Galaxy Note9 (Android 9)
![20

[2020-03-02 11:28] #6742 closed

[2020-03-02 11:37] mcarare commented on #7356
@boek Should we work on this after the new tab tray is implemented?

[2020-03-02 11:55] Scripterr commented on #3086
Hello @mcarare , looks like you are owning the navigation features and bugs from workflow project. This issue is abandoned for some time and being an important issue for better user experience and provide fluid navigation from going to one stetting page to another. So could you please prioritize it correctly and UX specs are already in issue #2273 .
Thanks.

[2020-03-02 12:16] codrut-topliceanu commented on #8560
Behaviour depends on the keyboard you are using. I couldn't reproduce the bug using swiftkey but I was able to with Gboard.

**Cause:**
The cause comes from `InlineAutocompleteEditText.kt` and it's way of trying to detect whether or not the user had pressed backspace. In `override fun afterTextChanged(editable: Editable)` the code for detecting backspace is `(textLength < textLengthBeforeChange ||

[2020-03-02 12:16] buttercookie42 commented on #2497
Also requested in https://bugzilla.mozilla.org/show_bug.cgi?id=1619084.

[2020-03-02 12:25] #8722 closed

[2020-03-02 12:27] ebalazs-sv commented on #8722
This was verified as fixed in the previous comment, so I will move it to Done.

[2020-03-02 12:42] abodea commented on #8854
I was able to reproduce this issue with other steps on the latest Nightly 3/2 with Samsung Galaxy S10+ (Android 9).
- Launch Fenix
- Access any website(facebook, twitter, etc)
- Tap on sign-in and add any character there or if there is already something pre-filled delete the data from `email`.
- Fenix crashes.
Reproducible 10/10.

![20200302-143948](https://user-images.githubusercontent.com/428311

[2020-03-02 12:44] ebalazs-sv commented on #7818
Discussed with pocmo about this and as it was tested in the previous comment, we can move this to Done. Thanks!

[2020-03-02 12:50] klint commented on #8458
Solved since Feb 29, the login popup now displays correctly

[2020-03-02 12:53] mcarare commented on #3086
@sblatz Do you want to include this in your WIP PR related to animations?

[2020-03-02 13:09] klint opened #8900 "[Bug] Bottom search field physically truncated by rounded corner on Redmi Note 7"
## Steps to reproduce
Open Fenix on a Redmi Note 7
Set toolbar at bottom

### Expected behavior
The search field should not be truncated

### Actual behavior
As you can see on this photo, the field is slightly truncated by the rounded corner of the screen.
![image](https://user-images.githubusercontent.com/218971/75679098-45d6b880-5c8f-11ea-8b72-79612dbe9814.png)

### Device information
Redmi Note

[2020-03-02 13:16] topotropic commented on #5727
This is expected behavior – the library view(s) isn't part of the stack and we ignore it when navigating back.

[2020-03-02 13:16] #5727 closed

[2020-03-02 13:18] topotropic commented on #6694
I commented on https://github.com/mozilla-mobile/fenix/issues/5727 and closed it – so that was everything for the meta.

[2020-03-02 13:18] #6694 closed

[2020-03-02 13:21] topotropic commented on #7356
It seems that the "scroll to tab you where just on" is a behavior we want – no matter where it happens (home or maybe in a future iteration on tab tray).

[2020-03-02 13:30] ebalazs-sv commented on #7955
I will leave this in Ready for QA to be tested after the two related Fenix issues will be fixed. Thanks!

[2020-03-02 13:46] AndiAJ commented on #7603
Hi @ekager , I've just re-checked this matter on both the [APKs](https://drive.google.com/open?id=1LH_ny88_344etbnwVOl027fEV0Y8rduC) provided by you as well as on the latest **`Nightly Build #20620607 from 03/02`** using the following devices:
• OnePlus 6T (Android 9)
• OnePlus A3 (Android 6.0.1)

### OnePlus 6T
| Build  | Device Security | Logged in to Sync | Remarks | Status |
| ------------- |

[2020-03-02 13:53] SL-Lee opened #8902 "[Bug] Closing private custom tabs opened by certain apps also closes all private tabs in the main browser instance"
## Steps to reproduce

1. Open a private tab in Firefox and visit any site.
2. Ensure "Open links in a private tab" is toggled on under Settings > Private Browsing.
2. Open Telegram (only certain apps reproduces this behavior).
3. Tap on a link in the app, which should open a private custom tab.
4. Close the custom tab by tapping the "×" button or device back button.
5. Switch back to the main bro

[2020-03-02 14:40] codrut-topliceanu commented on #7632
**Cause:**
There is a variable called `searchTerms` on each tab's session that stores the last used terms and it never gets deleted, only overwritten. And `searchTerms` takes precedence over the url value when being displayed in the search fragment toolbar.

**Solution:**
Clear `searchTerms` when `onBackPressed()` gets called and only if it triggers back navigation in webView, thus replicating Fen

[2020-03-02 14:47] abodea opened #8905 "[Bug] Deleted logins on FF desktop are still auto-filled on Fenix if autofilled is enabled on Fenix"
## Prerequisite
The user should be signed in to Sync with the same Account on both FF for Desktop and Fenix
The login credentials for E.g. Twitter should be saved

## Steps to reproduce
1. Sync on Fenix and verify the saved logins(the twitter account is not displayed anymore).
2. On Fenix access `www.twitter.com`.
### Expected behavior
The `username` and `password` fields are empty and no autofill

[2020-03-02 14:51] ValentinTimisica commented on #7922
I think this is the same as #8412, so #8903 with [A-C PR](https://github.com/mozilla-mobile/android-components/pull/6122) should fix this crash.

[2020-03-02 14:58] softvision-miralobontiu commented on #4938
Still reproducible on the 3/2 Nightly build with HTC 10 (Android 8).
When ETP is turned OFF, the buttons redirect the user to the login page.

[2020-03-02 15:03] softvision-miralobontiu commented on #5009
I was not able to reproduce the issue anymore. The videos start without issues, even with ETP ON.
Tested with the 3/2 Nightly build with Samsung Galaxy S6 (Android 7).
I will close this issue.

[2020-03-02 15:03] #5009 closed

[2020-03-02 15:12] softvision-miralobontiu commented on #5812
I was not able to reproduce the issue anymore on the latest Nightly build from 3/2 with Sony Xperia Z5 Premium (Android 7.1.1), and HTC 10 (Android 8).
I will close this.

[2020-03-02 15:12] #5812 closed

[2020-03-02 15:30] ValentinTimisica commented on #6614
Tried multiple times to reproduce this but without any success. Also, I saw in [FENIX-3QP](https://sentry.prod.mozaws.net/operations/fenix/issues/6938689/) sentry issue that it has been marked as resolved due to inactivity. In [FENIX-3JE](https://sentry.prod.mozaws.net/operations/fenix/issues/6861431/) sentry issue we only have 2 occurrences in the last 30 days.

[2020-03-02 16:10] rocketsroger commented on #7099
Please verify these two issues are fixed on nightly.  Thanks,

[2020-03-02 16:12] ghoppaccia commented on #176
And also swipe to go backward/forward in tab history. Is a must have feature to me, the only browser doing it right ATM is Safari on IOS. Having this in Firefox would be great also to be ahead of other browsers.

[2020-03-02 16:33] Xefir commented on #7099
Sadly, seems like that not all cases is fixed. I succeeded to reproduce this bug (https://github.com/mozilla-mobile/fenix/issues/8880) myself with the authentication of the Tusky app.

For testing, install Tusky and try to log-in. It open Firefox and ask for Authorize, but after confirming, a "Unknown Protocol" page is displayed instead of going back to the app.

I tested on the latest Firefox Fen

[2020-03-02 16:35] rocketsroger commented on #5664
Issue with olin.replair will be fixed with https://github.com/mozilla-mobile/android-components/issues/6147

Adding QA to confirm nightly fixed the original Netflix issue.

[2020-03-02 16:40] apbitner commented on #7606
Related ticket for Private Browsing Mode onboarding w/ specs - https://github.com/mozilla-mobile/fenix/issues/8643

[2020-03-02 16:42] rocketsroger commented on #7099
We have a issue tracking this.  https://github.com/mozilla-mobile/fenix/issues/7257.  This will require more fixes from GeckoView.

[2020-03-02 16:45] rocketsroger commented on #7257
From discussions with GeckoView team, this issue is due to `slack://` scheme is not passed to `onLoadRequest` in `AppLinkInterceptor`.  This will require further fixes from GeckoView.

[2020-03-02 16:52] #7504 closed

[2020-03-02 17:31] Amejia481 commented on #8641
@ekager  Great 👍

[2020-03-02 17:35] rocketsroger commented on #8880
Need fix from https://bugzilla.mozilla.org/show_bug.cgi?id=1619344

[2020-03-02 17:36] rocketsroger commented on #7257
Need fix from https://bugzilla.mozilla.org/show_bug.cgi?id=1619344

[2020-03-02 17:58] rocketsroger commented on #5664
Looks like the app install issue is related to https://bugzilla.mozilla.org/show_bug.cgi?id=1619344.  Removing QA needed tag and will retest after the fix is merged in

[2020-03-02 18:06] Amejia481 opened #8908 "Fenix integration: Notify users when previously unsupported addons become available"
Related issue https://github.com/mozilla-mobile/android-components/issues/5434

[2020-03-02 18:18] Baron-Severin commented on #8411
I don't see any crashes since the 2-25 nightly, so I think we're good to close this.

https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6684300

[2020-03-02 18:18] #8411 closed

[2020-03-02 18:20] jonalmeida commented on #6726
When we land https://github.com/mozilla-mobile/android-components/issues/6018 we should get this for free - requires retesting.

[2020-03-02 18:29] mcomella commented on #7781
The PR https://github.com/mozilla-mobile/fenix/pull/8615 landed. Unfortunately, I don't see the consistent regression we expect in the FNPRMS results: it landed on Feb 28 and Feb 29 is 8ms regression while Mar 1 is additional 9ms regression. I wonder if another improvement landed.

[2020-03-02 18:47] mcomella commented on #7781
This does not look like it will impact stability nor can it be tested by QA so not requesting QA and can close.

[2020-03-02 18:48] #7781 closed

[2020-03-02 18:55] jesup commented on #7435
Looking at simpleperf profiles (both with intent start and browsertime start) in https://perfht.ml/3cr91fN and https://perfht.ml/2TzroH1 shows ~100ms taken at startup in com.airbnb.lottie, not an insignificant amount.  It is on a pool thread, so may not block critical operations if there are cores free.

[2020-03-02 19:04] ekager commented on #8905
cc @linacambridge it's kind of the opposite problem but is it possible that passwords sync needs a similar fix to #8531 / https://github.com/mozilla/application-services/pull/2694 ? After syncing passwords it seems like we know when trying to display all of the logins that a login has been deleted, but when we use `getByBaseDomain` a deleted login is still being displayed?

[2020-03-02 19:19] betsymi commented on #8648
@AmyYLee Can you help me track down these strings? Any screenshots available?

[2020-03-02 19:19] vesta0 commented on #8319
I am good with moving forward with this issue as long as #8474 has also been considered.

@brampitoyo I assume your designs are final since this has the `eng ready` label?

@lime124 @liuche  tagging you here to make sure that there isn't any other related work happening.

[2020-03-02 19:40] #8732 closed

[2020-03-02 20:29] rocketsroger commented on #8782
In this use case, the delay is not from the `AppLinksInterceptor`.   By going to google.com, there are three `onLoadRequest` that triggered `AppLinksInterceptor`.  However, all three request results in `doNotIntercept` equals to true.  Which short circuits and stops further processing of the URL.

https://github.com/mozilla-mobile/android-components/blob/1e5bfb168bb86962367171a4decca0cb8cf617bc/co

[2020-03-02 20:29] MechJM commented on #6868
Issue's fixed in the latest Nightly.

[2020-03-02 21:01] brampitoyo commented on #8319
@vesta0 Correct. This design is final.

@yoasif Agreed. There’s already a way to traverse back to the main menu. In the submenu, use the back arrow to the left of the “Add-ons” heading.

[2020-03-02 21:03] ekager commented on #5986
I think this an old regression that has now been fixed. Closing, please reopen if you're still seeing this!

[2020-03-02 21:03] #5986 closed

[2020-03-02 21:16] ekager commented on #6607
I don't think this is fixed yet on my device 🤔

[2020-03-02 21:34] ekager commented on #8577
Could we test this again? I can't reproduce

[2020-03-02 21:37] ekager commented on #7603
Thanks @AndiAJ ! I'm going to revert the temporary work around in https://github.com/mozilla-mobile/fenix/pull/8910

[2020-03-02 21:54] mcomella commented on #8451
I believe this is https://github.com/mozilla-mobile/fenix/issues/8801 – let me know if I am mistaken!

[2020-03-02 22:00] brampitoyo commented on #8319
@psymoon I’ve added an important thing to note, above on https://github.com/mozilla-mobile/fenix/issues/8319#issuecomment-591762287

It has to do with the fact that the submenu will only show up after at least one add-on has been installed. If the user hasn’t installed any add-on, we can simply show “Add-ons manager” in the main menu.

[2020-03-02 22:13] yoasif commented on #8319
I know -- I'm talking about the addition of an affordance in the main menu that shows that this is a submenu (right facing arrow).

[2020-03-02 22:28] sblatz opened #8914 "[Bug] Improve animation from browser -> home"
When I added the animation from browser -> home, I introduced a couple issues:

1. The animation does not trigger when going from Home -> Search -> Browser -> Home. I think this is likely because a different exitAnimation gets triggered instead of `popExitAnim` on the home -> browser one. I cannot track it down at the time being.

2. The animation animates the browser toolar "in" when navigating f

[2020-03-02 22:39] mcomella commented on #8399
Triage: we expect the Fenix team to take a look. @liuche Is that okay?

[2020-03-02 22:48] #8135 closed

[2020-03-02 22:56] #8838 closed

[2020-03-02 23:00] ekager commented on #7603
Closing, the workaround has been removed.

[2020-03-02 23:00] #7603 closed

[2020-03-02 23:09] brampitoyo commented on #7604
@AndiAJ The slight colour difference – similar but not quite the same – is odd. But note how the statusbar colour is identical between Samsung A7 and OnePlus A3. They’re both `#22194b`.

In our specs, the background colour of Private Theme was set to `Ink 90` `#1d1133`, as shown below:

<img width="360" src="https://user-images.githubusercontent.com/51007/75726354-0ff50b00-5d47-11ea-9f9a-b7f487f7f

[2020-03-02 23:21] mcomella commented on #7450
Triage: @csadilek said there is a PR open to get rid of this during startup and that we should re-evaluate after that lands.

[2020-03-02 23:24] mcomella commented on #7926
I did a quick PR, surrounding `IntentReceiverActivity` with `runBlocking`, to see what impact it made and it actually appeared to make startup worse on my P2. However, I didn't spend long enough on it to find out why. My guess is that `runBlocking` may prevent some concurrency so, even though we may avoid a drawn frame, it may take longer.

We should be careful as we investigate this to find out w

[2020-03-02 23:26] mcomella commented on #7442
Triage: csadilek says this happens any time `LeanplumMetricsService` tracks a metric. We are not sure this still affects startup after we put Leanplum init on a background thread. We prioritized it assuming it may impact startup.

[2020-03-02 23:31] mcomella commented on #7466
Triage: I want to close this because it doesn't seem largely impactful in the short term. However, sblatz is rejiggering the animations currently so we should ask if the `sharedElementEnterTransition`s are no longer used and if not, remove them. If so, close the issue and do nothing.

[2020-03-02 23:32] mcomella commented on #7423
We've done some work in a related view/inflation performance issue and this is too general to remain actionable: closing.

[2020-03-02 23:32] #7423 closed

[2020-03-02 23:32] #7746 closed

[2020-03-02 23:35] mcomella commented on #7465
Jim mentions there isn't much to be done here: closing. Jim may follow-up with a small investigation but closing to avoid making the project board too confusing.

[2020-03-02 23:35] #7465 closed

[2020-03-02 23:36] mcomella commented on #8782
Triage: rocktesroger is taking a look and we'll periodically check in on the status from the Waiting column.

[2020-03-02 23:37] mcomella commented on #8700
We believe this should be addressed by #7903 but want to double-check that it's now no longer reproducible: ecsmyth is validating #7903 so can validate this one too. Note that validating #7903 is blocked on a crash fix.

[2020-03-02 23:38] mcomella commented on #8387
@kbrosnan Can someone from QA check if this is reproducible on a 100 MB file? If so, it's like a P1 responsiveness issue we should address. If not, we can address it later.

[2020-03-02 23:56] sblatz commented on #7466
While I'm working on animations, we do currently use this to animate the browser toolbar on the home screen and search screen (both to and from). Modifying this animation is not high on my priority list given my other tasks before code freeze, but is something we can look at sooner if we need this to improve performance.

[2020-03-03 00:09] mcomella commented on #7466
I don't think it's significant enough. I also noticed this no longer occurs on the startup to homescreen path but may affect app link (it's in BrowserFragment & SearchFragment) so this is hard to measure locally. I'm going to mark unimportant for GA.

[2020-03-03 00:10] mcomella commented on #7466
I mean I'll close it and we can reopen if we find this becomes a significant issue to fix.

[2020-03-03 00:10] #7466 closed

[2020-03-03 00:10] mcomella commented on #8785
Triage: csadilek & andreasbovens both have OnePlus test devices. Assigning csadilek to quickly check if this device is unreasonably slow (i.e. stays on the system's placeholder frame too long) when launching cold start from the homescreen. If so, please notify the team. If not, please unassign and put into low impact.

[2020-03-03 00:25] sblatz commented on #1742
I'm curious why we feel we should not duplicate the text here. On desktop it's duplicated?

<img width="348" alt="image" src="https://user-images.githubusercontent.com/4400286/75730637-52184100-5ca2-11ea-8a85-ada7f39fdfce.png">

Is the argument here that the real estate we're working with is limited so we want users seeing more "actual" suggestions? I could see many users not knowing that "GO" wou

[2020-03-03 00:27] sblatz commented on #1742
I like @brampitoyo's suggestions here! We've decided that this is probably not critical to fix ASAP so I'm going to de-prioritize this on the workflow board.

[2020-03-03 01:14] hiikezoe commented on #6940
@sblatz could you make the top toolbar _real_ dynamic?  This issue is pretty important in terms of the _Web_.

I've put a change https://github.com/hiikezoe/fenix/commit/ffa236ec7eb1e8ef4a69718ba313a088b2e94f3c for references, I am pretty sure you can fix this.

[2020-03-03 01:54] ekager commented on #5026
Closing because we are changing this animation

[2020-03-03 01:54] #5026 closed

[2020-03-03 02:10] liuche commented on #6174
As a follow-up, we should send the installed/removed/enabled/disabled add-ons ids in a separate ping. That way, we won't be mixing any user data, and the Glean SDK should make it straightforward to do. I'll file a bug and send an email to data stewards with that intent to confirm it's acceptable.

In the meantime, let's just collect the number of addons @gabrielluong

[2020-03-03 02:11] tvenissat commented on #7606
@AmyYLee Thank you! Yes, I'll attach a scrolling screenshot if I can manage to take one. Scrolling screenshots are broken (the "hairline" in my screenshot was caused by this) right now on my phone and I need to figure out why.

@apbitner Thank you for the link! I was curious if the private theme colors were finalized or not. I'll make sure I don't touch any more of the private theme colors in this

[2020-03-03 02:20] liuche opened #8920 "[Telemetry] Send add-on ids in separate ping"
This is a follow-up to #6174.

Owner: Vesta

#### Description & Product Manager / Data Scientist User Story
-  I want to know how users interact with WebExtensions in Fenix in order to better prioritize related bugs or enhancements.

#### What questions will you answer with this data?

How many user have a specific add-on installed, and how many have the add-on installed and enabled, over a specif

[2020-03-03 02:21] liuche commented on #8920
cc @gabrielluong

[2020-03-03 03:15] heycam commented on #6940
Just to reinforce Hiro's comment, I have been encountering a number of sites with broken layout due to positioning of elements at the bottom of the viewport when I have the address bar on top, such as this "how much you've read through the article" progress bar on this page:

<img src="https://user-images.githubusercontent.com/1484434/75739563-4c316700-5d59-11ea-8a37-ac40fd828803.png" width="270"

[2020-03-03 03:55] brampitoyo opened #8921 "Offer 1x1 as an additional search widget size"
How might we offer one-tap instant access to Fenix search while conserving home screen real estate?

- My homescreen may already be full of icons; this makes large widget an unattractive prospect
- I may not know that widgets are resizeable

Today, Fenix offers only one widget size.

<img width="360" src="https://user-images.githubusercontent.com/51007/75741327-21eaa400-5d6f-11ea-81cd-401bdbd07473

[2020-03-03 04:10] brampitoyo commented on #4846
Agreed. Firefox Preview’s default widget size should be 5x1, rather than 4x2 as shown.

<img width="360" src="https://user-images.githubusercontent.com/51007/75742162-ab02da80-5d71-11ea-82c5-ccb33a20f96a.png">

@SeburoSUMO My device (OnePlus One) shows 4x2, which is taller than it’s supposed to. Does your device show 4x1?

[2020-03-03 04:11] ekager commented on #8899
We'll probably have to change the view that we're passing into the `FenixSnackbar`.

[2020-03-03 04:29] brampitoyo opened #8922 "[Bug] When accessing Fenix search from the widget, system back or swipe back should go to the Android homescreen"
## Steps to reproduce

- Add Fenix search widget to the homescreen
- Tap it to open Fenix search
- Tap system back, or swipe back

### Expected behavior

Go back to the Android homescreen.

### Actual behavior

Go back to the Fenix start screen.

[2020-03-03 04:29] brampitoyo commented on #8922
Paging @Verdi for feedback. Is this the behaviour that we want to have, or is our current one ok?

[2020-03-03 04:31] brampitoyo commented on #4766
On my OnePlus One device, Fenix’s search widget has a height of 2, which couldn’t be resized down.

<img width="360" src="https://user-images.githubusercontent.com/51007/75743143-d935e980-5d74-11ea-8078-fcde3c7e1640.png">

[2020-03-03 04:37] brampitoyo commented on #7504
@softvision-miralobontiu wrote:

Let’s remove the yellow overlay and dot from all themes. @AmyYLee and I agreed that this issue doesn’t need a special notification dot. The yellow warning on its own will be enough.

[2020-03-03 05:28] yoasif commented on #8700
I had downloaded https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.fennec-production.2020.02.20/latest

What build should I download to test the fix?

[2020-03-03 05:57] ekager commented on #8700
The lockup fix is in Nightly, but will currently crash until a fix for #8854 lands (PR #8875)

[2020-03-03 06:38] linacambridge commented on #8905
Yikes, that's not good; thanks for looping me in, @ekager! 👀 Here's what I've gathered so far, please let me know if I'm misunderstanding anything:

* `GeckoLoginStorageDelegate` is what's responsible for fetching logins for autofill (via [`onLoginFetch`](https://github.com/mozilla-mobile/android-components/blob/98db88f86394b5115058f99d4abeadf6f4caf5cc/components/service/sync-logins/src/main/java/

[2020-03-03 07:42] AndiAJ commented on #8641
Hi, **verified as fixed** on the latest **`Nightly Build #20630607 from 03/03`** using the following devices:

• LG Nexus 7 (Android 5.1.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200303-093905](https://user-images.githubusercontent.com/51314259/75753375-4fb1f780-5d33-11ea-8ac9-797c510eb75c.gif)

[2020-03-03 07:42] #8641 closed

[2020-03-03 07:57] AndiAJ commented on #8766
Hi, **verified as fixed** on the latest **`Nightly Build #20630607 from 03/03`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

| Status  | Requirement|
| ------------- | ------------- |
| ✔️ | when a user has no open tabs AND no collections, hide the collect

[2020-03-03 07:57] #8766 closed

[2020-03-03 08:26] AndiAJ commented on #8577
Hi @ekager , unfortunately it's **still reproducible** on the latest **`Nightly Build #20630607 from 03/03`** using the OnePlus A3 (Android 6.0.1)

►Screenshot
![rsz_screenshot_20200303-102049](https://user-images.githubusercontent.com/51314259/75756426-517eb980-5d39-11ea-846c-0ce15e9b26e3.png)

✔️ Not reproducible on the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Andr

[2020-03-03 08:36] sv-sdeiac commented on #8898
Verified as fixed using the latest version of Firefox Preview Nightly 3/3 @20630607).

Devices:
- Nokia 6 (Android 7.1.1);
- Xiaomi Mi 8 Lite (Android 9);
- Google Pixel (Android Q).

[2020-03-03 08:36] #8898 closed

[2020-03-03 08:47] sv-sdeiac commented on #8859
Verified as fixed using the latest version of Firefox Preview Nightly 3/3 @20630607).

Devices:
- Nokia 6 (Android 7.1.1);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android Q).

[2020-03-03 08:47] #8859 closed

[2020-03-03 09:04] buttercookie42 commented on #8448
Will be fixed in Gecko shortly.

[2020-03-03 09:05] AndiAJ commented on #5308
Hi, I've checked this matter on the latest **`Nightly Build #20630607 from 03/03`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

| Status  | Requirement|
| ------------- | ------------- |
| ✔️ | Show search shortcuts - When user taps the address bar to star

[2020-03-03 09:28] ebalazs-sv opened #10885 "FNX-4659 ⁃ Fennec migration: Tapping the device back button returns to onboarding migration screen when the "Update complete" is used"
## Preconditions:
Have Fennec Beta installed.

## Steps to reproduce
1. Replace Fennec Beta with Fenix Beta;
1. Tap the "Update complete" notification;
1. Tap the device back button;
1. Observe the behavior.
    1. Expected behavior
The app is dismissed.
    1. Actual behavior
The migration onboarding screen is displayed.
    1. Notes:
[Video](https://drive.google.com/open?id=1tEpcD4iqaRaIftrWIweo

[2020-03-03 09:39] AndiAJ commented on #7448
Hi @mcomella , can you help us out with a STR to test this matter? ☺️

[2020-03-03 09:42] abodea commented on #5905
Hello, @brampitoyo @AmyYLee I will remove the `Eng:QA:Needed` label until the bugs https://github.com/mozilla-mobile/fenix/issues/8485 https://github.com/mozilla-mobile/fenix/issues/8486 will be fixed.
Note that I added those regarding your feedback on how the settings menu should be.
See more details here https://github.com/mozilla-mobile/fenix/issues/5905#issuecomment-587517223

[2020-03-03 09:48] limuc opened #8926 "[Bug] White stripe at the bottom when dark mode and bottom bar is activated"
**Steps to reproduce**
- activate dark mode in Fenix + bottom bar
- visit website, that has a dark background
- scroll down until bottom bar is hidden
--> small white stripe/line at the bottom

**Expected behavior**
There should be no white stripe/line.

**Actual behavior**
There is a white stripe/line at the bottom.

**Device information**
- Xiaomi Mi 9
- Android 10

**Screenshot (on grey backgro

[2020-03-03 09:48] LaurentiuApahideanSV commented on #2576
Verified as fixed on Firefox Preview Nightly 200303 (Build #20630608) GV: 75.0a1-20200301094802 using a Samsung Galaxy S8+ (Android 8.0.0) and Huawei MediaPad M3 Lite 10 (Android 7.0). When tapping on a shortened link the google form opens.

[2020-03-03 09:59] pidus commented on #470
Just installed Firefox Nightly to see the progress. Apparently tab queue is not implemented. Firefox is not Firefox without this option. Many people might not use it; but for those who do, there's no alternative. Please develop this feature.

[2020-03-03 10:20] AndiAJ commented on #8797
Hi, **verified as fixed** on the latest **`Nightly Build #20630607 from 03/03`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200303-120828](https://user-images.githubusercontent.com/51314259/75766162-5fd4d180-5d49-11ea-8e5d-a46c07fde187.gif)

[2020-03-03 10:20] #8797 closed

[2020-03-03 10:33] sv-sdeiac commented on #4044
Hello, I tried to verify this issue but I see that is not 100% fixed since I found some pages where the bug is still reproducible.
There are some links where I can still reproduce the issue:
- Downloading an mp4 file by using a firefox send link;
- Downloading a pdf file such as http://download.microsoft.com/download/A/D/F/ADF027D4-0541-4CFB-9202-3C48571ABB54/483_OD_Changes.pdf or https://data.ams

[2020-03-03 12:19] abodea opened #8927 "[Bug] Logging out from Twitter is not working as the user remains logged in"
## Steps to reproduce
1. Access `www.twitter.com` and log in with valid credentials.
2. After the login is successfully made, log out.
### Expected behavior
The user is logged out of twitter.
### Actual behavior
The user is still logged in.
### Device information

* Android device: **Samsung Galaxy S10+ (A 9).**
* Fenix version: **Nightly 3/3.**

![20200303-140851](https://user-images.githubuserco

[2020-03-03 12:27] grigoryk commented on #7450
https://github.com/mozilla-mobile/fenix/pull/8875 removes `passwordStorage` init (and `SecureAbove22Preferences` access) from the startup path.

[2020-03-03 12:30] sv-ohorvath commented on #8763
This is not reproducible anymore on Nightly. Closing.

[2020-03-03 12:30] #8763 closed

[2020-03-03 12:45] AndiAJ commented on #8403
As per @MarcLeclair 's [comment](https://github.com/mozilla-mobile/fenix/issues/8403#issuecomment-589703995) I'll mark this matter as QA not needed.

[2020-03-03 12:55] Cartesson opened #8928 "Login in to firefox account or some sites make device reboot"
**Steps to reproduce**
1. Try to login in to firefox account using email and password and a forum's site.

### Expected behavior
Just do the login.

### Actual behavior
When i type the password and click login button the device reboot itself

### Device information
* Android device: **Mi9t on MIUI 11 Android 10**
* Fenix version: **Nightly build #20630608 from 3/3.**

### Notes
Well i just came ac

[2020-03-03 13:11] sv-ohorvath opened #8929 "[Bug] Custom tabs and PWA don't open in private mode with Open links in private On"
## Steps to reproduce
1. Set Open links in private On. Set Fenix as default browser.
2. Fenix is opened in normal browsing mode.
3. Open a custom tab or a PWA.

### Expected behavior
The custom tab & the PWA open in private mode.
### Actual behavior
The custom tab & the PWA open in normal mode. Links opened in Fenix, from them, are opened in private.
If Fenix is left in private mode, then the cust

[2020-03-03 13:15] softvision-miralobontiu opened #8930 "[Bug] Pause/resume don't work when downloading more files"
## Steps to reproduce
1. Go to https://www.thinkbroadband.com/download and download two or three different files.
2. Go to the download notifications.
3. Pause/resume every download.

### Expected behavior
All the buttons react accordingly - pause when asked to, resume when asked to.

### Actual behavior
The user must tap 2-3 times until the pause/resume responds.

### Device information
* Android

[2020-03-03 13:40] sv-sdeiac commented on #8873
Verified as fixed using the latest version of Firefox Preview Nightly 3/3  (#20630607).

Devices:
- Google Pixel (Android Q);
- Samsung Galaxy Note 8 (Android 9).

[2020-03-03 13:40] #8873 closed

[2020-03-03 13:46] softvision-miralobontiu commented on #8773
I will re-open the issue due to the fact I encountered 2 more snackbars wrongly displayed:
- "New tab opened Switch", and
- "New private tab opened Switch".

Tested on the 3/3 Nightly build with Samsung Galaxy Note 8 (Android 9), HTC 10 (Android 8), and Huawei P9 Lite (Android 7).

![Screenshot_20200303-153757_Firefox Nightly](https://user-images.githubusercontent.com/40694158/75781396-bea84400-5d

[2020-03-03 14:01] elcste commented on #5133
I came to report the same issue playing BBC audio streams, like https://www.bbc.co.uk/sounds/play/live:bbc_world_service. Chromium-based browsers keep the audio playing so I can listen to the radio when reading another tab or with the screen off.

[2020-03-03 14:04] sv-ohorvath commented on #8034
Verified this on Nightly 3/3, with 2 devices: Motorola Moto G6 (Android 8.0), Mi 4i (Android 5.0.2)
Areas covered:
- launch app from PlayStore
- homescreen launcher
- private browsing launcher
- close private tab notification (known issue: https://github.com/mozilla-mobile/fenix/issues/8590)
- pages from settings that open in a custom tab: sign in, about/support pages
- open from history, bookmark

[2020-03-03 14:09] abodea commented on #8928
Thank you for this report @Cartesson!
I tried to reproduce this issue on the latest Nightly 3/3 with Google Pixel 3a XL(Android 10) and Samsung Galaxy S10+ (Android 10) - this one has the latest android version released.
Note that I was able to log in without problems.
Is this a new FF account or are there any other steps you did before trying to login?

[2020-03-03 14:12] AndiAJ commented on #8870
Hi, **verified as fixed** on the latest **`Nightly Build #20630607 from 03/03`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Comparison Nightly from 03/02  VS  Nightly from 03/03
![lib](https://user-images.githubusercontent.com/51314259/75783722-af2afa00

[2020-03-03 14:12] #8870 closed

[2020-03-03 14:30] toastal opened #8932 "[Bug] Colors aren't managed"
## Site with issue and any steps to reproduce

https://photographylife.com/is-your-browser-color-managed

### Expected behavior

I expect the color profile of the second, ProPhoto color spaced photo. Given that many high-end handhelds support wider-than-sRGB color spaces like DCI-P3, I believe this is a bug.

### Actual behavior

The colors are washed out/wrong

### Does toggling Tracking Protecti

[2020-03-03 15:12] abodea commented on #8905
Hello @linacambridge, unfortunately, I didn't have the save from yesterday...so in order to generate the `logins.sqlite` I created a debug build with the latest code from master and I tried to reproduce the issue.
Note that there is https://github.com/mozilla-mobile/fenix/issues/8727 and sometimes the autofill is not made at all..
[logins.zip](https://github.com/mozilla-mobile/fenix/files/4281970/

[2020-03-03 15:19] Sparky93 commented on #8924
Tested with this [PR](https://github.com/mozilla-mobile/fenix/pull/8819) from #7978 and it looks like a bottom anchored button is going to fix the problem.
![image](https://user-images.githubusercontent.com/20266431/75789576-92df8b00-5d72-11ea-96f6-e5a228f51b5a.png)

[2020-03-03 15:20] sblatz commented on #5308
I'm pretty sure we're wanting to show the search shortcuts in those cases too. I will dig into this.

[2020-03-03 15:26] emalysz commented on #8034
Thanks @sv-ohorvath! That seems to be a sufficient analysis. Going to close out this issue.

[2020-03-03 15:26] #8034 closed

[2020-03-03 15:34] linacambridge commented on #8905
Hmm, I wonder if that autofill bug is bug is related...

Oh, bleh, I forgot this needs the encryption key as well 😅 (Ironically enough, reading [this](https://github.com/mozilla-mobile/fenix/blob/6a75d822ca5e723e4d29353ba5778e3641eb87f7/app/src/main/java/org/mozilla/fenix/components/Core.kt#L229-L250), it looks like that's only enabled on debug builds). Andrei, since you already have a debug build

[2020-03-03 15:34] sblatz commented on #3086
@mcarare yes I'll pick this up. Thanks for flagging me 😄

[2020-03-03 15:39] sblatz commented on #4726
This should be fixed by my new animation :)

[2020-03-03 15:41] fluffyemily commented on #5256
Attached Bugzilla bug closed as invalid. Please see [comment #2](https://bugzilla.mozilla.org/show_bug.cgi?id=1609779#c2) for explanation and [comment #3](https://bugzilla.mozilla.org/show_bug.cgi?id=1609779#c3) for recommendations.

[2020-03-03 15:58] abodea commented on #5346
Verified as fixed on the latest Nightly from 3/3 with Samsung Galaxy S10+ (A 9).
Note that I opened more than 200 pages. Everything worked as expected and the number of the tabs was displayed correctly.

[2020-03-03 15:58] #5346 closed

[2020-03-03 15:59] #7344 closed

[2020-03-03 16:06] Mugurell commented on #7805
@Yzoni Can you still reproduce this?
I know it's of the essence to use a device with Android 10 and I don't think the issue is device-specific but in all my tries I could not reproduce this.

[2020-03-03 16:09] Mugurell commented on #8415
I tried to reproduce this but I can't.
There are still reports for this in Sentry, I know it's of the essence to use a device with Android 10, any device, but other than this there's not much to go by and in all my tries I could not reproduce it.
Has anybody else seen this happening, are there any STRs?

[2020-03-03 16:26] AndiAJ commented on #7295
Hi @sblatz , as per our discussion, I've re-checked this matter on the latest Nightly Build #20630607 from 03/03 using  Google Pixel 3a (Android 9)

Performed  the following steps:

1. Make sure no versions of Firefox Preview are installed on your device.

2. Retrieved my Google Advertising ID from "Adjust Insights" app.
Navigated to https://app.adjust.com/ou6v41x?campaign=social&adgroup=twitter&c

[2020-03-03 16:39] #6730 closed

[2020-03-03 17:19] Yzoni commented on #7805
I can no longer reproduce since I cleared the data of the "media provider" app. To reproduce the corruption you could probably manually add the row from the log file above to Android 10's mediaproviders sqlite database but I doubt it is worth the effort.

[2020-03-03 17:32] sblatz commented on #8773
I'm working on a fix for this!

[2020-03-03 17:52] st3fan opened #8937 "Unable to send URL to other device via Share"
In Fennec I could share a URL from another app and directly send it to another device without stopping in Firefox on the way there. This option is gone in Fenix, and you have to load the page in Firefox before you can send it to another device now. This breaks some URLs for example:
If the link I'm sending from an email requires me to log in in order to view it, it often redirects to a login page.

[2020-03-03 17:54] st3fan opened #8938 "Maintain reader mode when following a link"
Steps to reproduce:

I'm reading content in websites in reader mode, the content is broken up into several pages (e.g. chapters). I follow a link in chapter 1 to chapter 2

Actual results:

Chapter 2 opens in normal mode

Expected results:

Firefox maintains reader mode when opening chapter 2.
Optional, press and hold on link to open next page in reader mode.

[2020-03-03 17:55] st3fan opened #8939 "[Bug] Firefox Preview fails to redirect to App-specific protocol (breaks OpenID auth workflow)"
**Context**:
* I'm using an Android app called "Onleihe" to borrow e-books from my local library (VÖBB Berlin).
* Upon login, the app redirects me to `https://www.voebb.de/oidcp/authorize?prompt=login&client_id=divibib001&response_type=code&redirect_uri=onleihe://authredirect&state=01f7de25&scope=openid+adisbms` (which opens in Firefox).

**Problem**:
* After logging in to my library account (in F

[2020-03-03 17:57] st3fan opened #8940 "[Bug] Web Apps - External links inside Web App open in Web App activity rather than in (separate) Firefox activity"
**Context**:
* I'm using Twitter as a Web App rather than the native Android App.
* For this, I have used Firefox' "Install" feature (that appears in the menu when I visit the Twitter site) to create a shortcut on my home screen.
* In general, I can open the Web App and Firefox separately and get two distinct activities.

**Problem**:
* On Twitter, tweets often include links to websites.
* However

[2020-03-03 18:03] st3fan opened #8941 "[Bug] LollipopAsyncCodec Exception - on certain devices Fenix crashes when starting a video"
Originally filed here: https://github.com/mozilla-mobile/fenix/issues/7956

## Steps to reproduce

1. Open Firefox Preview
2. Enter some website that shows a video (e.g. Youtube, Reddit, Facebook...)
3. Start the video

### Expected behavior
The video should reproduce.

### Actual behavior
Firefox Preview crashes instantly.

### Device information

* Android device: Huawei p8 lite smart (Android 5

[2020-03-03 18:14] darkwing commented on #8649
@AmyYLee Where would the "Sign in" button go?  Same spot?  Middle of the screen?

[2020-03-03 18:35] boek commented on #8712
We want to wait for results from our usability studies to make a decision on this

[2020-03-03 18:42] ekager opened #8944 "Add Linting Rules for XML Vector Drawables"
In https://github.com/mozilla-mobile/android-components/pull/6112 I added some lint checks to AC so we use the correct namespace to support older devices, let's pull the relevant ones into Fenix

[2020-03-03 18:43] sblatz commented on #8399
@mcomella, @mstange, are we able to test this again now that all of these animations are in? I'm wondering if this has changed at all given that I'm doing a bit of wonky-workarounds for the engine view animation (hiding it, then setting it to visible).

This may have made this worse or better 😅  but I think it's likely it affected this.

[2020-03-03 18:44] ekager commented on #7903
This is ready to retest @ecsmyth !

[2020-03-03 18:47] sblatz commented on #7295
@AndiAJ I removed your device from the adjust dashboard. Can you please retest tomorrow with the steps we chatted about?

If you run into issues, please ping me on Slack and we can sync up again when I'm online tomorrow morning 😄

[2020-03-03 18:47] ekager opened #8947 "Add Lint Check for Licenses In New Files"
In #8946 I set up a module so we can add our custom lint checks. Adding one where we check licenses could save us some review time and prevent missed licenses.

It looks like we could do something like this to check the comments in a file: https://android.googlesource.com/platform/tools/base/+/studio-master-dev/lint/libs/lint-checks/src/main/java/com/android/tools/lint/checks/CommentDetector.java

[2020-03-03 18:49] AmyYLee commented on #8874
I've attached the correct colours. Thanks
<img width="845" alt="Screen Shot 2020-03-03 at 1 47 57 PM" src="https://user-images.githubusercontent.com/5992746/75808891-d11a8180-5d55-11ea-818b-997969559bb0.png">

[2020-03-03 18:55] sblatz commented on #6726
I will test this tomorrow as it looks like it got closed 😄

[2020-03-03 19:36] ekager opened #8949 "[Bug] Dark theme toolbar home screen regression"
On my API 22 Emulator in Dark Theme:
<img width="418" alt="Screen Shot 2020-03-03 at 11 17 54 AM" src="https://user-images.githubusercontent.com/25442310/75812368-f81b8800-5d42-11ea-85e1-0e7a5891346b.png">

Likely regression from #8839 because I think this uses the `inset` attr

[2020-03-03 20:00] jonalmeida opened #8950 "ConcurrentModificationException from AutoPushFeature.notifyObservers"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/7424258/

[code]

[2020-03-03 20:20] rocketsroger commented on #7099
Confirmed both cases are now fixed.  Please verify so this can be closed.  Thanks,

[2020-03-03 20:47] vesta0 commented on #6174
Thank you @liuche I am good with this decision.

[2020-03-03 21:08] mcomella commented on #3600
I raised with Bas in Matrix:

[2020-03-03 21:27] rocketsroger commented on #7257
Confirmed with GV 75.0.20200303095030 this is fixed.  The next nightly build should have this version.  Please verify this is fixed.

[2020-03-03 21:32] tvenissat commented on #7606
@AmyYLee Here are the full-length screenshots I promised. For now, I have only managed to make it work correctly with the dark theme. I will see if I can figure out what is causing this issue (I think the toolbar or toolbar position may be the problem).

<details>
  <summary>Dark Theme Screenshot</summary>

![Screenshot_20200303-135849_Firefox Preview](https://user-images.githubusercontent.com/103

[2020-03-03 21:35] rocketsroger commented on #8880
@jandem Can you please verify the fix is working correctly for this use case?  Tomorrow's nightly should have the fix.

[2020-03-03 21:38] rocketsroger commented on #5186
Confirmed this is fixed on latest master build.  The next nightly should have this fix.

[2020-03-03 21:39] rocketsroger commented on #5186
@snaggen Can you please confirm this works on the next nightly release? Thanks,

[2020-03-03 21:42] Cartesson commented on #8928
Just installed and went to login. It's still happening, it makes no sense to me why, just happened a minute ago when I tried to log in a shop site but it didn't when I logged here to answer this. But I guess it has to be the system.

[2020-03-03 21:56] liuche commented on #8854
The AC fix for this #8875 should be picked up now, and ready to verify.

[2020-03-03 21:59] csadilek commented on #7863
Fenix now (since Nightly 200303 18:01) triggers speculative connects when:
- An intent is received (this was working before)
- The URL is auto-completed in the toolbar, based on our shipped domain list and history (similar to Fennec)
- For top scored awesomebar suggestions fir bookmarks, history, and search suggestions, (also similar to Fennec)
- For URLs suggested from the clipboard

@acreskeyMoz

[2020-03-03 22:00] #7863 closed

[2020-03-03 22:01] liuche commented on #8700
This should be fixed now! Going to dupe this to #8854, #7903, and https://github.com/mozilla-mobile/android-components/issues/6084

[2020-03-03 22:01] #8700 closed

[2020-03-03 22:06] brampitoyo commented on #5308
Agreed with @sblatz. We should show search shortcuts in that case.

[2020-03-03 22:11] boek commented on #8406
We did quite a few changes to the search engine manager a few weeks ago and haven't seen any crashes with this trace since. Going to close this for now and will re-open if it pops back up

[2020-03-03 22:11] #8406 closed

[2020-03-03 22:15] AmyYLee commented on #8649
yes can you move the copy and button to the middle of the screen. Thanks!

[2020-03-03 22:58] SeburoSUMO commented on #4846
Hi Bram.

By default, Fennec used 5x1, with Fenix using 4x1 (for me at least).  The first screenshot shows (going down the list), Fennec Beta, a migrated Fennec to Fenix Nightly and Fenix Nightly.

![Screenshot_1583275268726](https://user-images.githubusercontent.com/31939113/75827603-f92fd200-5da1-11ea-86ce-b32bc9b27bbb.jpg)

This second image is having selected the Fenix Nightly widget, then tap

[2020-03-03 23:07] mcomella commented on #7450
@grigoryk Do you think this issue can be closed then?

[2020-03-03 23:08] mcomella commented on #6730
@jonalmeida Does this need a QA label?

[2020-03-03 23:15] mcomella commented on #8865
We instrumented PageStop for both on example.com and landed a bug fix in https://github.com/mozilla-mobile/FNPRMS/pull/12. I think this should be good to close now.

[2020-03-03 23:15] #8865 closed

[2020-03-03 23:50] jonalmeida commented on #6730
Probably not since QA can't test perf fixes.

[2020-03-04 00:41] mcomella commented on #7448
@MarcLeclair ^

[2020-03-04 00:45] ksy36 commented on #7507
@BranescuMihai  looks like this has been fixed, the above mentioned muted videos start playing in the recent Fenix Nightly

[2020-03-04 01:04] brampitoyo commented on #4386
I wonder if we can deeplink to the add widget UI from a screen in the app?

For example: under Settings → Search, we can have a link that says:

[2020-03-04 03:03] karlcow opened #8962 "[Bug] font inflation and css column collisions"
## Steps to reproduce
1. Go to http://logs.guix.gnu.org/

### Expected behavior
the text is readable

### Actual behavior
the text is overlapped

### Device information

* Android device: pixel 2
* Fenix version: firefox preview nightly 75 2020-03-03

same family than #8448

This was reported on https://github.com/webcompat/web-bugs/issues/49396

there's a very long list, `li` elements, wrapped in

[2020-03-04 03:09] Baron-Severin commented on #8017
It looks like newer versions of Android encourage us to check "is this an unmetered connection?" instead of "are we on WIFI?"  @vesta0 should we stick with "allow on WIFI" or change to "allow on unmetered"?

[2020-03-04 05:19] kbrosnan commented on #8939
This should be fixed on Nightly @rocketsroger

[2020-03-04 05:21] kbrosnan commented on #8938
We can't really do this with the current https://github.com/mozilla/readability it requires a fully loaded page to parse and check if it is readerable.

[2020-03-04 05:47] rocketsroger commented on #8939
Yes, this is related to https://bugzilla.mozilla.org/show_bug.cgi?id=1619344.
Should be fixed on the next nightly with GV 75.0.20200303095030.

[2020-03-04 07:15] ekager commented on #8962
See also #8448

[2020-03-04 07:33] buttercookie42 commented on #8448
... and fixed now.

[2020-03-04 08:29] kbrosnan commented on #8929
Looks like a dupe of #7996

[2020-03-04 08:29] #8929 closed

[2020-03-04 08:46] AndiAJ commented on #8773
Add-ons confirmation snackbars are also improperly displayed on both **`Nightly #20640607 from 3/4`** and **`Beta 4.0.0-beta.3`** using a OnePlus A3 (Android 6.0.1)

[2020-03-04 09:02] bubi-luka commented on #7932
I get the same bug on Phoronix web site. I added two sites as Top Sites in Firefox Preview Nightly:
- https://www.phoronix.com/scan.php?page=search&q=fedora
- https://www.phoronix.com/scan.php?page=search&q=gnome

When I start Firefox Preview Nightly I get two generic icons (letter P on blue background). When I open one link and return to Tabs/Home screen that link gets proper icon. When I click t

[2020-03-04 09:08] AndiAJ commented on #8388
Seems that the custom tabs overlay is also affected on both **`Nightly #20640607 from 3/4`** and **`Beta 4.0.0-beta.3`** using a OnePlus A3 (Android 6.0.1)

► Screenshot
![rsz_screenshot_20200304-110640](https://user-images.githubusercontent.com/51314259/75862996-742bd380-5e08-11ea-845f-084353b354a6.png)

[2020-03-04 09:10] abodea commented on #8928
Can you please provide a few shops where you encountered the issue?
I will try to create a new account and login there.

[2020-03-04 09:15] AndiAJ opened #8964 "[Bug]Floating custom tabs ⋮ Main menu (3dot menu) overlay after rotation"
## Prerequisites
Have any of the bellow mentioned Mozilla products set as default browser.

## Steps to reproduce
1. Open a custom tab
2. Rotate the device to landscape view
3. Tap the ⋮ Main menu (3dot menu) button
4. Rotate the device to portrait view

### Expected behavior
Properly displayed ⋮ Main menu overlay

### Actual behavior
Floating ⋮ Main menu overlay

### Device information

* Android

[2020-03-04 09:28] garrett commented on #8900
It's the same with a OnePlus 6T when the toolbar is at the bottom and gesture navigation is on:

![firefox-rounded-6T(1)](https://user-images.githubusercontent.com/10246/75861245-6a50a300-5dfd-11ea-9bf8-be0ff6423fd1.jpg)

It's less of an issue when there's the gesture blip at the bottom, but things are still clipped a bit. I _think_ this is the current default for most Android phones:

![firefox-r

[2020-03-04 09:36] AndiAJ opened #8965 "[Bug]Broken test app color selection in both the browser and in custom tabs"
## Prerequisites
Have any of the bellow mentioned Mozilla products set as default browser.

## Steps to reproduce
1. Open https://daleharvey.github.io/testapp/ in a custom tab
2. Tap and open the "Choose a color" ![rsz_screenshot_20200304-112952](https://user-images.githubusercontent.com/51314259/75865340-1305ff00-5e0c-11ea-8bfa-7991ca211e8e.png)

### Expected behavior
Properly displayed color sel

[2020-03-04 10:05] sv-ohorvath commented on #8727
This also happened to me on Beta 4.0-build3 on a Huawei P9 (Android 7.0).
Logged in to Sync.
No autofill for synced logins.
When I saved a new login for 9gag, for example, I got the new login auto-filled.
In cases where I have 2 or more logins synced, or one old, one new (e.g. on twitter) I don't get an auto-fill.

[2020-03-04 10:13] topotropic opened #8966 "[Bug] Share icon in custom PWA toolbar has wrong color"
## Steps to reproduce
1. Install a PWA, for example paperplanes.world
2. View toolbar

### Expected behavior
Share icon has correct color

### Actual behavior
Share icon is white on light background

### Device information

* Android device: ?
* Fenix version: ?

<img width="471" alt="image" src="https://user-images.githubusercontent.com/353960/75868776-dedd0f00-5e08-11ea-9738-b057f078a476.png">

[2020-03-04 10:27] snaggen commented on #5186
Tested with current Nightly but that doesn't work, so I will try again tomorrow and see if it is included in that one.

[2020-03-04 10:32] softvision-miralobontiu opened #8967 "[Bug] Crash when approving the password update"
## Steps to reproduce
1. Open twitter.com, or youtube.com, or any site that requires signing in.
2. Select to save the credentials.
3. Sign out.
4. Open the page from step 1 again, with the same username, but a different password. When the "Update password" prompt is displayed, select to update the password.

### Expected behavior
The password is updated.

### Actual behavior
Fenix crashes.

### D

[2020-03-04 10:32] AndiAJ commented on #8859
Reproducible on **`Beta 4.0.0-beta.3`** using a OnePlus A3 (Android 6.0.1)
► Screenshot
![rsz_screenshot_20200304-122217](https://user-images.githubusercontent.com/51314259/75870790-32088f00-5e14-11ea-85a0-063fdbdf2f0b.png)

[2020-03-04 10:33] sv-ohorvath opened #8968 "[Bug] Keyboard doesn't hide when going to Settings on some devices"
## Steps to reproduce
1. Open google.com / twitter.com
2. Tap on a text field to trigger the keyboard.
3. Open the 3 dot menu and go to Settings while the keyboard is on.
### Expected behavior
The keyboard is hidden.
### Actual behavior
The keyboard stays on.
### Device information

* Android device: Huawei P9 Lite (Android 7.0), Xiaomi Mi Pad 2 (Android 5.1) , Nokia 6 (Android 7.1.1)
* Fenix vers

[2020-03-04 10:54] codrut-topliceanu commented on #8326
I can't access homedepot.com (might be region locked), however I'm unable to reproduce the issue on latest nightly using:

wikipedia.org
amazon.com
ebay.com
walmart.com
imdb.com
bbc.com

**Device information**

- Android device: Pixel 3 & Pixel 4 (Android 10)
- Fenix version: Latest Nightly from store (200304 Build #20640607)

I'd like to request some assistance from QA for this.

[2020-03-04 10:57] staktrace opened #8969 "[Bug] Tab hangs while loading http-auth page after getting 401 from same page"
## Steps to reproduce
1. Open browser
2. Go to a page with HTTP authentication, e.g. https://bugmash.staktrace.com/dashboard.php
3. When you get the HTTP auth prompt, hit cancel. This will give you a 401 error page
4. Reload the page, or open the same URL in a new tab

### Expected behavior

Browser shows prompt for HTTP auth again

### Actual behavior

Tab goes into a "loading" state that never e

[2020-03-04 12:24] sv-sdeiac commented on #6607
Verified as fixed on the latest version of Firefox Preview Nightly 3/4 #20640606.

Devices: Samsung Galaxy Tab S3 (Android 8). Due to that, I'll close this ticket, thanks.

[2020-03-04 12:24] #6607 closed

[2020-03-04 12:47] jandem commented on #8880
Hi @rocketsroger, thanks for fixing this so quickly! I just updated Nightly but the Gecko version is still too old, I'll try again later this week and let you know.

[2020-03-04 13:13] Cartesson commented on #8928
It's easier to just try to login firefox account it happens 100% of the time here, tried on preview and preview nightly. A friend said he'd test on his phone(same as mine) but don't know if he did.
But this one https://www.dafiti.com.br/ made it reboot too. Btw it's in portuguese

[2020-03-04 13:22] AndiAJ commented on #8930
Hi, reproducible on **`Beta 4.0.0-beta.3`** using a OnePlus A3 (Android 6.0.1).
❗️ There's also an odd movement of the download notification bars.

► Video
![20200304-151608](https://user-images.githubusercontent.com/51314259/75883584-e8c43980-5e2b-11ea-97c2-169547fe5b9c.gif)

[2020-03-04 15:09] AndiAJ commented on #7344
Hi, **verified as fixed** on both **`Fenix Nightly Build #20640607 from 3/4`** and **`Fenix Beta 4.0.0-beta.3 from 3/3`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

[2020-03-04 15:18] AndiAJ opened #8970 "[Bug]Distorted and zoomed in transition from Instagram to the home screen"
## Steps to reproduce
1. Navigate to https://www.instagram.com/accounts/login/
2. Tap on the tab counter

### Expected behavior
Properly perform the transition to the home screen

### Actual behavior
Seem to be zooming in and distorting instagram before the transition.

### Device information

* Android device: OnePlus A3 (Android 6.0.1)
* Fenix version:
• Nightly #20640607 from 3/4
• Beta 4.0.0-b

[2020-03-04 15:41] sv-ohorvath commented on #8970
Also seen on twitter.

[2020-03-04 15:52] AndiAJ commented on #8854
Hi, **verified as fixed** on both **`Fenix Nightly Build #20640607 from 3/4`** and **`Fenix Beta 4.0.0-beta.3 from 3/3`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Huawei P9 Lite (Android 7.0)
• OnePlus A3 (Android 6.0.1)

[2020-03-04 15:52] #8854 closed

[2020-03-04 16:01] jonalmeida commented on #8582
Un-assigning since I'm not actively working on this and it's a somewhat expected outcome from our changes and we aren't too worried about it.

[2020-03-04 16:50] pslawless commented on #3600
Also related: https://bugzilla.mozilla.org/show_bug.cgi?id=1516552

[2020-03-04 16:54] AmyYLee opened #8972 "[Edit Mode] Wrong colours for Dark/Private theme"
I've marked up colours for edit mode in Library (History/Bookmarks) and Collections. Dark theme colours when in Dark/Private Mode.
![spec](https://user-images.githubusercontent.com/5992746/76462278-c98f5400-63b7-11ea-87dc-abcc4b1a2541.png)

[2020-03-04 17:07] Amejia481 commented on #5256
Requires https://github.com/mozilla-mobile/android-components/issues/6173

[2020-03-04 17:22] mheubusch commented on #8745
Dropping this related issue here https://github.com/mozilla-mobile/fenix/issues/4667

[2020-03-04 17:29] mheubusch commented on #8745
I asked that this be "Firefox news" in https://github.com/mozilla-mobile/fenix/issues/373 we should use this instead of "Leanplum"  and also use this label for consistency in 4667 - will comment there as well.

[2020-03-04 17:31] mheubusch commented on #4667
Preferred label for the Android channel is "Firefox news" and if we do add this feature to our own settings should also use Firefox news for consistency.

[2020-03-04 17:54] csadilek opened #8973 "[Bug] [Crash] Dynamic toolbar crash in `onWindowBoundsChanged`"
Saw this quite a few times in Sentry (with different values, of course):

[code]

[2020-03-04 18:08] #8463 closed

[2020-03-04 18:11] lwa-moz opened #8974 "[Bug] Unable to send Leanplum messages in (Migrated) Fennec Nightly app, API Key improperly configured"
## Steps to reproduce
Stage and send notification in Leanplum to a registered user of the Firefox Nightly (aka org.mozilla.fennec_aurora) app.

### Expected behavior
Notification is sent.

### Actual behavior
Notification is not sent.

### Device information
* Android device: Google Pixel 3
* Fenix version: Nightly 200301 18:00
* Android OS Version: 10

According to Leanplum support:
"There are no

[2020-03-04 18:12] lwa-moz commented on #8974
This bug is potentially related to this issue: https://github.com/mozilla-mobile/fenix/issues/8745

CC'ing @vesta0 and @jonalmeida for visibility.

[2020-03-04 18:17] jonalmeida commented on #8974
Please, define a channel as described here:
https://docs.leanplum.com/reference#section-android-notification-channels"

This makes sense since we only setup notification channels for Firefox Preview (org.mozilla.fenix) afaik.

[2020-03-04 18:33] JNavas2 opened #8975 "Share to email puts subject in body of email [Bug]"
## Steps to reproduce
Open a webpage.
Touch Share, then Gmail.
### Expected behavior
Open new Gmail message with webpage title in subject and link in body (like Chrome).
### Actual behavior
Open new Gmail message with webpage title in subject _and also in body_ just before link (with only a space to separate them).
If the webpage title is to be included in the body, it should be on a _separate lin

[2020-03-04 18:42] mdboom commented on #8039
Fixed by https://github.com/mozilla/glean/pull/753

[2020-03-04 18:52] ecsmyth commented on #8662
List discussed in Slack is captured in this [doc](https://docs.google.com/document/d/1VKN5KsvFDIj-SooRcDLZ4FjRa1tzvfIeseW_CG9ZIII/edit?usp=sharing). I'll work on linking the specific items to the relevant release criteria in the requirements doc.

[2020-03-04 19:22] AmyYLee commented on #8648
Spoke to @betsymi about strings and it's been resolved.

[2020-03-04 19:27] Amejia481 commented on #8593
This should be fixed in the latest nightly!

[2020-03-04 19:37] Amejia481 commented on #4554
This was fixed in https://github.com/mozilla-mobile/android-components/pull/6166, it should be on the next snapshot.

[2020-03-04 19:40] snaggen commented on #5186
Still no luck with 200304 18:00

[2020-03-04 20:01] MarcLeclair commented on #7513
Closed with this ticket:[ #6174](https://github.com/mozilla-mobile/android-components/issues/6174) in Android-Components which will introduce a cache to load TopSites from

[2020-03-04 20:12] mstange commented on #8399
Yes, this is still happening. Profile: https://perfht.ml/3atAfkq
I'm only testing the case when using the URL bar in an existing tab to navigate that tab. Do the new animations affect that case? I thought they were mostly about going into / out of a tab.

The profile again is of navigating from cnn.com to google.com. The first network request to google.com is delayed by 2 seconds.

[2020-03-04 20:21] ecsmyth commented on #7903
Confirmed that I can no longer reproduce on general search results or search results leading to login pages.

[2020-03-04 20:21] #7903 closed

[2020-03-04 20:24] ecsmyth commented on #8700
Confirmed fixed/does not reproduce in Fenix Nightly 200304

[2020-03-04 20:29] ecsmyth commented on #7707
Issue no longer reproduces in Fenix Nightly 200304

[2020-03-04 20:29] #7707 closed

[2020-03-04 21:19] MechJM opened #8977 "[webcontent] Page elements with wrong placement in rawg.io"
## Site with issue and any steps to reproduce
The website is rawg.io and there are two issues. The steps to reproduce each one are the following:
- 1: Just go to the website
- 2: Go to the website, use the "install"  function in order to add to the home screen what I believe is a PWA, open it and scroll down
### Expected behavior
- 1: The "hamburger menu" icon (three horizontal lines) doesn't over

[2020-03-04 22:22] csadilek opened #8979 "Investigate slow createAppContext call relative to Fennec"
In the the following two profiles we're seeing a big difference in `createAppContext` and `handleBindApplication` total running times:

Fennec: https://profiler.firefox.com/public/327373a230b04f58d0936fb60478bb9a84d5ef30/
Fenix: https://profiler.firefox.com/public/c78aeffd46f820c8e7337c20b4e16bd104cd556e/

Let's investigate if this is consistently true and find out why.

[2020-03-04 22:41] rocketsroger commented on #8782
After investigation, looks like there's no one particular operation that caused the delay.  Each operation takes similar time and `onLoadRequest` needs to block GeckoView because it needs to determine if this is an intent that needs to be launched by anther application.

<img width="1668" alt="Screen Shot 2020-03-04 at 5 36 46 PM" src="https://user-images.githubusercontent.com/6579541/75929790-529

[2020-03-04 22:41] rocketsroger commented on #8782
With https://bugzilla.mozilla.org/show_bug.cgi?id=1619796 implemented, the `onLoadRequest` will not be in the code path when user enters an URL.

[2020-03-04 23:31] lwa-moz commented on #8974
@jonalmeida sounds like we can confirm the source of the issue.

Please let me know if you need help with the channel titles.

[2020-03-05 00:22] jimporter commented on #7847
Resolved in #8923

[2020-03-05 00:22] #7847 closed

[2020-03-05 01:52] makotokato commented on #4149
Fenix and a-c need viewport-fit value support.
https://github.com/mozilla-mobile/android-components/issues/5795

[2020-03-05 02:55] brampitoyo commented on #8319
@yoasif Android doesn’t have the right-facing arrow affordance, but Firefox for Android does. Let me think about this some more – but just for the moment, I think it’s okay not to have it.

[2020-03-05 06:34] hiikezoe commented on #6900
I am pretty sure this is the same issue what I reported. It's https://github.com/mozilla-mobile/fenix/issues/6940

[2020-03-05 06:48] AndiAJ commented on #8593
Hi, **verified as fixed** on the latest **`Nightly Build #20650606 from 03/05`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►
![adds](https://user-images.githubusercontent.com/51314259/75955190-093cd400-5ebe-11ea-8b1d-5164f8521846.png)
Screenshot

[2020-03-05 06:48] #8593 closed

[2020-03-05 07:16] SwampertX commented on #6672
Hello, I have been using Fenix for a while, and think the use case for QR codes are not as low as we might perceive. In my university, I scan QR codes on a daily basis to take attendance for classes, get linked to feedback forms during a talk and many other activities.

On the other hand, I was using [andOTP](https://github.com/andOTP/andOTP) their QR scanning solution seems very speedy and well-b

[2020-03-05 07:26] AndiAJ commented on #4726
Hi, **verified as fixed** on the latest **`Nightly Build #20650606 from 03/05`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20200305-085559](https://user-images.githubusercontent.com/51314259/75957773-671fea80-5ec3-11ea-8f3e-43e460c478fc.gif)

[2020-03-05 07:26] #4726 closed

[2020-03-05 07:38] AndiAJ commented on #7554
Hi, **verified as fixed** on the latest **Nightly Build #20650606 from 03/05** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Screenshot
![asv](https://user-images.githubusercontent.com/51314259/75958468-f8439100-5ec4-11ea-9ef7-73cd6ca867c6.png)

[2020-03-05 07:38] #7554 closed

[2020-03-05 07:49] madb1lly commented on #8425
I completely agree with the bug report @532910, although thanks to @TitanNano for the tip about shortcuts.

I would like to know what the perceived benefit of the current workflow is? Why do t get team think this is better than the Fennec implementation?

Cheers 🙂

[2020-03-05 08:01] sv-sdeiac commented on #8595
Verified as fixed using the latest version of Firefox Preview Nightly 3/5 #20650606.
Now the focus of the main menu is on the forward, bookmark, share, reload buttons.

Devices:
- Nokia 6 (Android 7.1.1);
- Xiaomi Mi 8 Lite (Android 9);
- Google Pixel (Android Q).

[2020-03-05 08:01] #8595 closed

[2020-03-05 08:16] AndiAJ commented on #8326
Hi, I've re-checked, and wasn't able to reproduce the issue on the latest **`Nightly Build #20650606 from 03/05`** using a Google Pixel 3 (Android 9) after navigating to the following websites:

Google https://www.google.com/?gws_rd=ssl#spf=1583394259298

Home - YouTube https://m.youtube.com/

天猫TMALL https://www.tmall.com/

腾讯网-QQ.COM https://xw.qq.com/?f=qqcom

百度一下 http://www.baidu.com/#

Faceb

[2020-03-05 08:34] madb1lly opened #8981 "[Bug] Order of synced devices in Share should be be recently/frequently used"
### Why/User Benefit/User Problem
Many people, like me, may have several synced devices to which we send tabs. I frequently send tabs between Fenix Nightly and a Windows 10 Firefox instance. However, the order in which the synced devices appear in the share list always shows this Win10 instance (my most common share destination) and the end of the list, so I have to sidescroll to get to it everyti

[2020-03-05 08:43] softvision-miralobontiu opened #8982 "[Bug] Red items on Android 5 devices"
## Steps to reproduce
1. Make Firefox Preview Beta your default browser.
2. Go to Gmail, and open https://www.thinkbroadband.com/download in a custom tab.
3. Select to download any file, and observe the "download" prompt.
4. Tap back, and open https://daleharvey.github.io/testapp/ in a custom tab.
5. Tap on "Get location" and observe the permission prompt.

### Expected behavior
Black buttons are

[2020-03-05 08:48] sv-sdeiac commented on #6479
Since no new issue who can block this meta was filled, I will close the ticket as verified, thanks.

[2020-03-05 08:48] #6479 closed

[2020-03-05 09:12] AndiAJ commented on #5308
Hi, **verified as fixed** on the latest **`Nightly Build #20650606 from 03/05`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

| Status  | Requirement|
| ------------- | ------------- |
| ✔️ | Show search shortcuts - When user taps the address bar to start a

[2020-03-05 09:12] #5308 closed

[2020-03-05 09:14] ebalazs-sv commented on #8924
This is reproducible on Beta Migration Build #3 with Huawei P9 Lite (Android 7).

[2020-03-05 09:27] sv-sdeiac commented on #8415
I tried to reproduce this issue using the latest version of Firefox Preview Nightly 3/5 #20650606.

I tried with the following scenarios:
- Downloading multiple times the same file;
- Downloading different types of files(image, videos, gif, zip);
- Downloading from the Custom tab;
- Downloading using the Private browser mode;
- Downloading and disable/enable de connection to the internet.

Unfortu

[2020-03-05 09:27] #8415 closed

[2020-03-05 09:34] ebalazs-sv commented on #8422
This is reproducible on Beta Migration Build #3 with Huawei P9 Lite (Android 7), Google Pixel 3 (Android 10).

[2020-03-05 10:11] mcarare commented on #7356
@topotropic Should we implement the scrolling to selected tab in any flow? Or just when you tap on the tabs overview? I am asking because you can scroll in the home screen to some position that does not show the selected tab, navigate away(for example to settings) and then go back.
Also, there is this issue: https://github.com/mozilla-mobile/fenix/issues/8561.
Do we want to scroll to selected tab

[2020-03-05 10:22] sv-ohorvath opened #8983 "[Bug] testStrictVisitDisableExceptionToggle test possibly flaky on Firebase"
Spotted testStrictVisitDisableExceptionToggle failing on Nexus 6: https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7727347515092753227/executions/bs.280da37d4a1af1ad
- if it keeps failing will need to be disabled

[2020-03-05 10:22] klint commented on #7996
Just to be clear, as the discussion focused on PWA only eventuelly, the request here is about both PWA *and* page shortcuts added to the phone's home screen. Not only about PWA (which are less often available than plain web pages, that can be turned into shortcuts, actually).
Thank you

[2020-03-05 10:25] abodea commented on #2271
Verified as fixed on the latest **Nightly 3/5** for more information please check the following:
#### Devices:
• **Google Pixel 3a XL (Android 10)**
• **Samsung Galaxy S10+ (Android 9)**
• **Huawei Mate 20 Lite (Android 8.1.0)**
• **Samsung Galaxy S7 (Android 7.0.0)**
• **OnePlus A3 (Android 6.0.1)**
• **LG Nexus 4 (Android 5.1.1)**

##### Note that I verified this issue for both cases **top** and

[2020-03-05 10:29] sv-sdeiac commented on #8975
I can confirm that the issue is reproducible using the latest version of Firefox Preview Nightly 3/5 #20650606.

Also, using Fennec RC 68.5.0 build is not reproducible.

Device:
- Google Pixel (Android Q).

[2020-03-05 10:30] AndiAJ commented on #7295
Hi, **verified as fixed** on the latest **Nightly Build #20650606 from 03/05** using a Google Pixel 3a (Android 9)

<details>
    <summary>✔️ Installation ping (dropdown)</summary>

[code]

</details>

<details>
    <summary>✔️ Metrics ping (dropdown)</summary>

[code]

</details>

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/aj-t0503000)

@sblatz  - Many thanks! ☺️

[2020-03-05 10:30] #7295 closed

[2020-03-05 10:54] Cheap-Skate opened #8984 "[Bug] "Share" menu "Recently Used" is not colored in Dark theme"
## Steps to reproduce
In Light theme, the "Share" menu "Recently Used" items list has a shaded roundrect
In Dark theme, there is no shading

### Expected
Dark theme share menu should have a rounded rectangle using the same shade defined in light mode

### Actual
No shading around Recently used

* Android device: Galaxy A40
* Fenix version: Android 9.0.0

[2020-03-05 10:56] Cheap-Skate opened #8985 "[Bug] "Share" menu "All Actions" panel does not have correct scroll endpoints"
## Steps to reproduce
Open "Share" menu
Scroll "ALL ACTIONS" list left and right
Left end stops correctly and has overscroll crescent
Right end stop does not, half an icon visible, no overscroll crescent
--> incorrect behavior

### Device information

* Android device: Galaxy A40, Android 9.0.0
* Fenix version: Today's

[2020-03-05 10:57] ebalazs-sv commented on #7978
This is reproducible on Beta Migration Build 3, 3/4 with Huawei P9 Lite (Android 7).

[2020-03-05 11:03] Cheap-Skate opened #8986 "[Bug] 3-dot menu:- when vertically scrolled, icons at bottom of list should not scroll"
## Steps to reproduce
install uBlock Origin (to get an extra 3 dot menu item)
move to a page which has Reader View active (to get an extra 3 dot menu item)
open 3 dot menu
on my Galaxy A40 the menu list is now vertically scrollable because there are so many items
vertical scolling moves the bottom line of four icons (forward/bookmark/share/reload) off screen
**---> incorrect behavior**
I think the

[2020-03-05 11:09] jandem commented on #8880
It works \o/

[2020-03-05 11:09] #8880 closed

[2020-03-05 11:42] elonus opened #8987 "[Bug] Blocking of autoplay videos does not work as expected"
## Steps to reproduce
Open Firefox Preview Nightly.
Under settings -> permissions, enable blocking of autoplaying video and audio.
Open [www.nrk.no](www.nrk.no) and scroll down until you find a autoplaying video.

### Expected behavior
I would expect that the video would be prevented from autoplaying

### Actual behavior
The video autoplays, however the sound is disabled. I am however unsure if th

[2020-03-05 12:05] sv-sdeiac commented on #7805
Since the reporter can't reproduce anymore the issue, I'll close this issue.
If anyone can reproduce the problem or have additional information regarding this ticket, please don't hesitate to reopen it, thanks.

[2020-03-05 12:05] #7805 closed

[2020-03-05 12:07] mcarare commented on #8968
I can also confirm this happens on some pages on a Huawei P10 with Android 9 and SwiftKey as soft keyboard.

[2020-03-05 12:19] softvision-miralobontiu commented on #7257
Verified as fixed on the latest Nightly build from 3/5 with Samsung Galaxy Note 8 (Android 9).
After signing in successfully, Firefox Preview switched back to the native Slack app.

[2020-03-05 12:19] #7257 closed

[2020-03-05 12:35] mcarare commented on #8986
Chrome and Firefox have the same behaviour on Android.

[2020-03-05 12:39] sv-sdeiac commented on #8985
Hello, I can confirm that the half icon problem is visible using:
-  Nokia 6 (Android 7.1.1) - 1080 x 1920 pixels (~403 ppi pixel density);
- LG g7 fit (Android 8.1) - 1440 x 3120 pixels, 19.5:9 ratio (~563 ppi density).

Also, the issue is not reproducible using Xiaomi Mi 8 Lite (Android 9) - 1080 x 2280 pixels, 19:9 ratio (~403 ppi density).

Additionally, the overscroll crescent is visible in a

[2020-03-05 12:42] topotropic commented on #6862
I'll close the issue, it's covered here https://github.com/mozilla-mobile/fenix/issues/8834

[2020-03-05 12:42] #6862 closed

[2020-03-05 12:46] mcarare commented on #8975
Firefox for Android shares to email without title in body.
UX, can you confirm how to want to fix this?

[2020-03-05 12:48] topotropic commented on #8474
this issue addresses some of the feedback around the blue dot notification https://github.com/mozilla-mobile/fenix/issues/7408

[2020-03-05 13:05] mcarare commented on #8984
@darkwing This seems to be a regression from https://github.com/mozilla-mobile/fenix/pull/8839 like https://github.com/mozilla-mobile/fenix/issues/8949. Can you please check? TY!

[2020-03-05 13:27] topotropic commented on #7356
For the scenario you described (scroll on home, go to settings, go back to home) we preserve the scroll state, so don't scroll to selected tab.

On cold start, we render from top and display top sites addressing https://github.com/mozilla-mobile/fenix/issues/8561.

Let me know if that doesn't answer your questions or if there's something I missed.

Thank you!

[2020-03-05 13:30] caugner opened #8990 "[Bug] Permission notification doesn't include permission name"
## Steps to reproduce

1. Install old version of uBlock Origin
2. Update uBlock Origin to latest version
3. Wait for notification with title *uBlock Origin has a new update* and actions `Allow` and `Deny`

### Expected behavior

The notification should include the name of the permissions.

### Actual behavior

The notification only contains the text `1 new permission are required`:

![IMG_20200305

[2020-03-05 13:36] topotropic commented on #8975
You can also share multiple URLs and in this case a title is helpful – let's keep it.

We can have a line break after the title so that it looks like this:

Internet for people, not profit — Mozilla
https://www.mozilla.org/en-US/

[2020-03-05 13:38] topotropic commented on #8814
cc @AmyYLee should we use the top sites icon we use on FX desktop instead here?

[2020-03-05 13:44] topotropic commented on #7276
I'll close it for now and re-open a new ticket once we get to the tab tray redesign

[2020-03-05 13:44] #7276 closed

[2020-03-05 13:46] topotropic commented on #8834
Thanks for your feedback. It will be addressed with https://github.com/mozilla-mobile/fenix/issues/8474 and https://github.com/mozilla-mobile/fenix/issues/8319. I'll close this issue.

[2020-03-05 13:46] #8834 closed

[2020-03-05 13:48] LaurentiuApahideanSV commented on #8966
I can confirm that the issue is reproducible using the latest version of Firefox Preview Nightly 3/5 #20650607.

Device:
Samsung Galaxy S8+ (Android 8.0.0) and OnePlus 6T (Android 9)

[2020-03-05 13:50] softvision-miralobontiu commented on #7099
Verified as fixed on the latest Nightly build from 3/5 with Samsung Galaxy Note 8 (Android 9):
* opening a play store link sent me to PlayStore, tapping back, takes me back to Fenix, to the opened page,
* opening "email" and "telephone" takes me to an email app or to phone.

[2020-03-05 13:50] #7099 closed

[2020-03-05 14:03] abodea commented on #6981
Removing the **`:need:STR`** as this issue was confirmed and closed by QA.

[2020-03-05 14:08] BranescuMihai commented on #7507
There's a difference between phones, both on Android 10.
OnePlus 7TPro is able to view:
- https://codepen.io/ksy36/pen/abzEaEb

Samsung Note10 is able to view:
- https://codepen.io/ksy36/pen/abzEaEb
- https://www.gq.com/story/manny-jacinto-favorite-cameras-clothes-fitness-gear (autoplay starts after you refresh)
- https://googlechrome.github.io/samples/muted-autoplay/

For https://www.bmw.com/en/i

[2020-03-05 14:21] abodea commented on #5436
Hello @dector.
I tried to reproduce this on the latest Nightly build from 3/5 following the steps from the description.
I used: Samsung Galaxy S7 (A 7) and Samsung Galaxy S10+ (A 9).
Note that I didn't encounter any crashes or freezes.

Are you still reproducing this?
Please provide new STR if it will be the case and the website where Firefox Preview crashes.

[2020-03-05 14:24] caugner opened #8992 "[Bug] Prompt to save login despite login already being saved"
## Steps to reproduce

1. Login to a website using Lockwise (by selecting login data already saved).

### Expected behavior

Firefox should *not* ask me whether I want to save this login (as it's already saved).

### Actual behavior

Firefox displays a `Do you want Firefox Nightly to save this login?` prompt.

### Device information

* Android device: Fairphone FP2
* Fenix version: `75.0a1-2020030

[2020-03-05 14:26] topotropic commented on #6291
https://share.goabstract.com/a5d9621b-02f7-4630-8606-f277664a7688?mode=build&sha=da46a88094f3d52d2808be3c1968ed80507258a8

Please see above file and update the margins to match it. This should address the issue described here.

[2020-03-05 14:31] caugner opened #8993 "[Bug] Login autofill / "Unlock Lockwise" button very unreliable"
## Steps to reproduce

Visit a website for which Firefox/Lockwise have login data.

### Expected behavior

Firefox should:

1. (preferably) autofill the only login directly, or
2. (alternatively) show a select of available logins, or
3. (at least) always show a `Unlock Lockwise` button

### Actual behavior

1. Firefox almost *never* autofills logins directly.
2. Firefox *never* shows a select of a

[2020-03-05 14:36] caugner opened #8994 "[Bug] Lockwise suggested logins don't display logins "from this website" first"
(Moved to: https://github.com/mozilla-lockwise/lockwise-android/issues/1184)

## Steps to reproduce

1. Have logins for `bar.example.com`, `foo.example.com` saved in Firefox/Lockwise.
2. Navigate to login form for `foo.example.com`.
3. Unlock Lockwise (if necessary, provided that the button is shown, cf. #8993).

### Expected behavior

The suggested logins should show the logins for the exact doma

[2020-03-05 14:39] cadeyrn commented on #8994
Wrong issues tracker? https://github.com/mozilla-lockwise/lockwise-android is for Lockwise issues…

[2020-03-05 14:41] MarcoZehe commented on #8287
This is still an issue in current Fenix Nightly, and also affects other onboarding Close buttons.

[2020-03-05 14:42] caugner opened #8995 "[Bug] Forward/Star/Share/Reload don't show right away in menu when keyboard open"
## Steps to reproduce

1. Set Firefox to show the address bar at the bottom.
2. Focus any input field that triggers the keyboard to open.
3. Open the Firefox menu (in my case: to reload the page to workaround #8993).

### Expected behavior

The Forward/Star/Share/Reload buttons should display right away, because users more likely want to use any of those actions rather than use other menu items.

[2020-03-05 14:44] caugner commented on #8994
@cadeyrn Does the order come from Lockwise?

[2020-03-05 14:45] Amejia481 commented on #4554
The fix should be in the latest nightly, @sv-ohorvath would you mind re-testing?

[2020-03-05 14:47] #8994 closed

[2020-03-05 14:50] #8039 closed

[2020-03-05 14:52] MarcoZehe opened #8996 "[Bug] Accessibility: Tab collection items cannot be expanded or closed with TalkBack"
## Steps to reproduce

1. Add tabs to a collection.
2. Open a New Tab panel.
3. Start TalkBack.
4. Try to interact with the collection by first focusing, then double-tapping it.

### Expected behavior

TalkBack announces that the collection is expandable.
The collection expands, ready to be interacted with.

### Actual behavior

TalkBack does not announce that a collection is expandable.
The colle

[2020-03-05 15:00] caugner commented on #8939
@kbrosnan @rocketsroger I have checked with `75.0.20200303095030` and it does not show the error message anymore, but it doesn't switch back to the app either.

[2020-03-05 15:05] sv-sdeiac opened #8997 "[Bug]Keyboard is displayed after tapping second time the back button"
## Steps to reproduce
1. Open a page with a search bar(e.g. imdb.com);
2. Tap on the search button from the page to bring the keyboard;
3. Tap on the back button to hide the keyboard;
4. Tap again on the back button;

### Expected behavior
The homepage of the app is displayed.

### Actual behavior
The keyboard is displayed after the second back.

### Device information

* Android device: Google Pi

[2020-03-05 15:08] MarcoZehe opened #8998 "[Bug] Accessibility: Undo Close disappearing too fast."
## Steps to reproduce

1. Open Fenix with TalkBack.
2. Open a tab with any arbitrary URL.
3. Close the tab.

### Expected behavior

User should have a chance to locate the Undo Close button.

### Actual behavior

Button disappears roughly when TalkBack finishes speaking, and is not to be found again.

### Device information

* Android device: ? Pixel 3.
* Fenix version: ? Nightly.

## More info

T

[2020-03-05 15:10] Amejia481 commented on #8987
This happened because at the moment we are not disabling autoplay for muted content. We are working on an advance settings for autoplay  for more info see https://github.com/mozilla-mobile/fenix/issues/8017

[2020-03-05 15:42] sv-sdeiac commented on #8996
Hi @MarcoZehe, I can expand the collections using the double-tapping on the talkback but indeed, no announcements when I expand the collection.

Device:
- Google Pixel (Android Q).

Build:
- Firefox Preview Nightly 3/5 #20650606.

[2020-03-05 15:47] sv-sdeiac commented on #8998
Hi @MarcoZehe., I was not able to reproduce this issue using Google Pixel (Android Q) on the latest Firefox Preview Nightly 3/5 #20650606.

The time for the closed tab is about ~15 sec.
Can you please retry with the latest version of Firefox Preview Nightly? If you use some specific options, please let me know, thanks.

[2020-03-05 16:01] MarcoZehe commented on #8998
I can still reproduce this, it disappears quite fast. Only if I immediately double-tap after closing the tab, I might get it back, but this is far from reliable.

[2020-03-05 17:21] colorsakura opened #9000 "[Bug] Sites with anchored bottom bars will float when the toolbar is set to "Top""
## Steps to reproduce
设置工具栏为顶部
### Expected behavior

### Actual behavior
![Screenshot_2020-03-06-01-14-17-91_4f415facf3ad44f1a8c1a05936f33201](https://user-images.githubusercontent.com/32534829/76006824-0686c100-5f48-11ea-8a23-63d173730acc.jpg)
所有有底栏的网页，上滑时就会这样
### Device information

* Android device: ?Android10
* Fenix version: ?Build #2015726771

[2020-03-05 17:21] caugner opened #9001 "[Bug] Invisible address bar in Web App causes bottom elements to shift upwards"
## Steps to reproduce

1. Configure Firefox Preview to show the address bar at the botom.
1. Open https://mobile.twitter.com/home and login.
2. Note how the Twitter tab bar is at the bottom of the page, above the Firefox address bar.
3. Open menu, select "Install" and add icon to the homescreen.
4. Open the web app from the homescreen icon.

### Expected behavior

There should be no Firefox addres

[2020-03-05 17:31] caugner opened #9002 "[Bug] Twitter GIF (video without audio) causes app playing audio to pause"
## Steps to reproduce

1. Play audio in an app of your choice (e.g. a podcast in BeyondPod).
2. Open https://mobile.twitter.com/firefox/status/1230968940144128000 in Firefox Preview.

### Expected behavior

The audio should continue playing (like it does when opening that URL in Chrome).

### Actual behavior

The audio is paused by the GIF "playback" and a media playback notification appears:

![S

[2020-03-05 17:39] AaronMT commented on #9000
I see this on YouTube too. Re-summarizing.

[2020-03-05 17:45] AaronMT commented on #9000
(@snorp is this related to https://github.com/mozilla-mobile/fenix/issues/8768 ?)

[2020-03-05 17:51] snorp commented on #9000
Yes, I think it's the same problem.

[2020-03-05 18:00] kbrosnan commented on #9000
Closing as dupe

[2020-03-05 18:00] #9000 closed

[2020-03-05 18:26] s-ankur opened #9004 "[Bug] Floating scrollbar when dynamic adressbar disappears"
## Steps to reproduce
goto github.com/mozilla-mobile/fenix
zoom in a little bit
scroll down to hide adress bar
scroll sideways to make scrollbar appear
### Expected behavior
scrollbar appears at the bottom of the screen
### Actual behavior
![Screenshot_20200305-235328](https://user-images.githubusercontent.com/33252312/76012782-c7884980-5f0e-11ea-9b51-583cab0c99e5.png)

scrollbar appears floating,

[2020-03-05 18:29] AmyYLee commented on #8504
Looks good. Thanks

[2020-03-05 18:33] s-ankur opened #9005 "[Bug] xkcd.com rendered improperly on scroll"
## Steps to reproduce
open xkcd.com
scroll up and down for a bit
### Expected behavior
![Screenshot_20200306-000019](https://user-images.githubusercontent.com/33252312/76013149-657c1400-5f0f-11ea-8e77-e56313973116.png)
[Chrome]

### Actual behavior
![Screenshot_20200306-000300](https://user-images.githubusercontent.com/33252312/76013450-cf94b900-5f0f-11ea-92c5-3fa8eb3f6a44.png)

The title is hidde

[2020-03-05 18:40] AmyYLee commented on #8814
Hi, iOS has a slightly different icon for Top Sites as well. It seems like iOS icons veer away from Desktop. Let's use the Desktop icon for now. We should take a look at the icons in iOS, Android, Desktop as a whole in the long term.

[2020-03-05 18:47] s-ankur opened #9006 "[Bug] Vertical scrollbar misleading when bottom bar is hidden"
## Steps to reproduce
releated to #9004
open any webpage
scroll to the bottom so that the bottom bar is hidden.
observe vertical scrollbar
### Expected behavior
scrollbar should be adjusted so that it propreely represents the percentage of page that has been scrolled
### Actual behavior
vertical scrollbar behaves as though the botton bar were still there and does not adjust to the changed dimensio

[2020-03-05 19:29] Legionof7 opened #9007 "[Bug] Discord Links don't go to Discord App"
## Steps to reproduce

If you go to a Discord link (i.e discord.gg/matrix) in preview and press Accept Invite, nothing happens.

### Expected behavior
This should open up Discord and send you to that Discord server.

### Actual behavior
Nothing happens.
### Device information

* Android device: Pixel 3a running Android 10
* Fenix version: 3.2.1

[2020-03-05 20:31] rocketsroger commented on #8939
@caugner debugging this issue I see some interesting behavior.  (I had to test with hardcoded redirect to `onleihe://authredirect` since I don't have an account to test with)

I can see that this url causes A-C to open a app with the package name `de.etecture.ekz.onleihe` and the activity is `de.etecture.ekz.onleihe.activity.RedirectUriReceiverActivity`.  But the app opens and closes instantly.  D

[2020-03-05 20:34] kbrosnan commented on #9007
This should work in Firefox Preview Nightly.

#7331
https://bugzilla.mozilla.org/show_bug.cgi?id=1619344
https://bugzilla.mozilla.org/show_bug.cgi?id=1600704

[2020-03-05 20:34] #9007 closed

[2020-03-05 20:45] sblatz commented on #6726
This now seems to persist. Marking as QA needed 😄

[2020-03-05 20:49] rocketsroger commented on #8939
@caugner one update.  I noticed something very similar while testing it on my personal device with nightly from Google Play.  Can you try something for me? Please uninstall and then reinstall Fenix nightly and see if it now works?

[2020-03-05 20:50] caugner commented on #8939
@rocketsroger Yes, I'm seeing exactly the same (i.e. it looks like it switches, but then it switches back).

After logging in (using the URL from the issue description), the website redirects me to this URL: `onleihe://authredirect?code=xLM...&state=01f7de25`

Could it be that Firefox omits the URL parameters?

[2020-03-05 20:54] rocketsroger commented on #8939
I see. so its unrelated to the uninstall/reinstall workaround.

You're correct, it could be.  This will requires more investigation to see what happened.  But it is good that we confirmed it's not an app link redirect issue but a URL issue.

[2020-03-05 21:01] caugner commented on #8939
Just tried, experiencing the same faulty behavior (after having uninstalled and reinstalled Fenix).

[2020-03-05 21:05] #8504 closed

[2020-03-05 21:08] caugner commented on #8939
@rocketsroger Just noticed that Firefox Focus is also affected by this issue (currently showing the `Unknown Protocol` error). Does it make sense to file an issue in their repository as well?

[2020-03-05 21:11] rocketsroger commented on #8939
Thanks for the update.

Yes, only thing we can be sure is that "app link redirect" did work but the redirect did not work as expected.

[2020-03-05 21:12] rocketsroger commented on #8939
Focus also uses GeckoView as its engine.  There were an recent fix but the release Focus is probably still using a older more stable GeckoView version.

[2020-03-05 21:15] csadilek commented on #8291
@acreskeyMoz The fixes for this landed in A-C and Fenix master now and should go out in next Nightly. I've verified that a gecko session is now being created before the user confirm the search terms or URL in the toolbar. Do you want to / have time to verify? I will leave this open for now.

[2020-03-05 21:53] andreicristianpetcu commented on #8852
It's fixed

[2020-03-05 22:34] vesta0 opened #9010 "Remind users that new add-ons are available"
From @brampitoyo

@betsymi and I had a meeting earlier today. Although our strings are not yet finalised – @betsymi will post them on this issue before the end of the week – we’ve decided on a few things to further simplify our notification system.

<img width="1680" alt="Screen Shot 2020-03-05 at 12 27 42 PM" src="https://user-images.githubusercontent.com/51007/75936667-ac561380-5ee7-11ea-870c-08

[2020-03-05 23:33] betsymi commented on #8648
1. **Deleting bookmarks snackbars**
1 bookmark deleted: `Deleted [bookmark url] UNDO`
 2+ bookmarks deleted: `Bookmarks deleted UNDO`

1. **Deleting all history snackbar**
`Browsing data deleted`

3. **Deleting individual history item**
`Deleted [url]`

4. N/A for strings, keep as-is

5. **Deleting a folder**
`Are you sure you want to delete this folder?
CANCEL DELETE`

[2020-03-06 00:08] liuche commented on #8967
AC issues here: https://github.com/mozilla-mobile/android-components/issues/6184

[2020-03-06 00:14] kbrosnan commented on #7245
Looking at the patch it looks like A-C will sent the app's version as the Socorro version field. @willkg will that mess with Socorro/Crash-stats design where the version has always been Gecko based?

[2020-03-06 00:26] Taegeonlee commented on #8871
closed as fixed the issue

[2020-03-06 00:26] #8871 closed

[2020-03-06 03:42] #7188 closed

[2020-03-06 05:46] ekager commented on #7886
Closing for #8577

[2020-03-06 05:46] #7886 closed

[2020-03-06 07:06] ekager commented on #1284
Closing this because everything except search is done and we have https://github.com/mozilla-mobile/fenix/issues/7087 open for search

[2020-03-06 07:10] ekager commented on #6737
Closing this Fenix issue and hopefully CWTS should work for all channels now from https://github.com/mozilla/fxa/issues/4084 landing

[2020-03-06 07:24] ebalazs-sv commented on #8273
I had tested this on the Release Migration build 3/6 from https://github.com/mozilla-mobile/fenix/wiki/Fennec-Migration with Pixel 2 (Android 9) and the "New tab" and "New private tab" options are available when long pressing the Fenix Release icon. These can also be added to the home screen.

[2020-03-06 07:28] mnoorenberghe commented on #7094
In this design, is there any other way to close the prompt and keep using the webpage without choosing Never Save if I don't want to Save? On desktop, "Never Save" adds **website** to a list to not save passwords for, it's not specific to the username. If you don't provide the option for a user to not save this specific submission then they won't have the option to save a different username for th

[2020-03-06 07:40] ekager commented on #6966
@daniluk4000 are you still seeing this on latest nightly?

[2020-03-06 07:42] AndiAJ commented on #8577
Hi, I've re-checked this issue on the latest **`Nightly Build #20660604 from 3/6`** and it's still reproducible on:
• OnePlus A3 (Android 6.0.1)
• OnePlus A2005 (Android 6.0.1)

► Screenshot
![rsz_1screenshot_20200306-091836](https://user-images.githubusercontent.com/51314259/76062511-85065180-5f8e-11ea-9fae-029b12f68df7.png)

✔️ Not reproducible on the following devices:
• Google Pixel 3a XL(Andr

[2020-03-06 07:44] AndiAJ commented on #8816
Reproducible while using Light theme on the latest **`Nightly Build #20660604 from 3/6`** using the following devices:
• OnePlus A3 (Android 6.0.1)
• OnePlus A2005 (Android 6.0.1)

► Screenshot
![rsz_3screenshot_20200306-091836](https://user-images.githubusercontent.com/51314259/76062767-0958d480-5f8f-11ea-9f7c-8a3c3ecd6627.png)

[2020-03-06 07:53] ebalazs-sv commented on #8279
I had tested this on Release Migration build 3/6 from https://github.com/mozilla-mobile/fenix/wiki/Fennec-Migration with Pixel 2 (Android 9) and Fennec Release is replaced by Fenix Release migration build.

[2020-03-06 07:54] PyvesB commented on #8104
If you read that other issue, you'll see that a per-site setting is one of the solutions discussed, so this is actually a duplicate.

There would be a lot of challenges around such an approach, it was ultimately dismissed in the previous Fennec browser, hence the preferred alternative is currently a global setting.

[2020-03-06 08:01] daniluk4000 commented on #6966
Hello! Authorization still opens in poor white window, but I'm able to view my passwords now. I have tried 20 times and not succeeded to reproduce the bug.

If "poor white window" is a bug, and not a known one, I can open another ticket.

[2020-03-06 08:01] #6966 closed

[2020-03-06 09:05] AndiAJ commented on #6726
Hi, **still reproducible** on the latest **`Nightly Build #20660604 from 3/6`** using the following devices:
• Google Pixel 3a XL(Android 10)
• Google Pixel 3a (Android 9)

► Video from  Google Pixel 3a (Android 9)
![20200306-103839](https://user-images.githubusercontent.com/51314259/76067896-d4ea1600-5f98-11ea-8e7d-6c3f775ead13.gif)

► Video from Google Pixel 3a XL(Android 10)
![20200306-104856](

[2020-03-06 09:07] ekager commented on #8577
Okay I fixed every other vector compat issue and I'm not sure why this one is being a pain 🤔 Worst case scenario we can force it to tint dynamically in code in `LoginDialogFragment` in AC

[2020-03-06 09:09] 90du opened #9018 "[Bug]网页显示问题"
![Screenshot_2020_0306_170716](https://user-images.githubusercontent.com/35375370/76068945-11d00000-5fcd-11ea-84d1-632d679abd5d.png)

网页显示有明显问题，亲尽快修正

[2020-03-06 09:30] softvision-miralobontiu commented on #8967
This is not fixed on 3/6 Nightly build. Tested on LG G7 (Android 8.1), and Samsung Galaxy Note 8 (Android 9). I'll remove the qa:needed label for now.

[2020-03-06 09:55] AndiAJ opened #9020 "[Bug]Re-opening a page after Force closing Fenix automatically navigates back to the previous page"
## Steps to reproduce
1. Navigate to theverge.com and swipe down the page content
2. Force close Fenix from the App manager tray
3. Re-open Fenix and from the same tab navigate to Cnet.com and swipe down the page content
4. Force close Fenix from the App manager tray
5. Re-open Fenix and open the tab

### Expected behavior
Opens the correct website (cnet.com)

### Actual behavior
Automatically nav

[2020-03-06 10:14] AndiAJ opened #9021 "[Bug]Open tabs animation issue after re-opening Fenix"
## Prerequisites
Have a couple of open tabs.

## Steps to reproduce
1. Force close Fenix from the app manager
2. Re-open Fenix
3. Check the "Opene tabs" section

### Expected behavior
No animation problems

### Actual behavior
Flicker in the "Open tabs" section

### Device information

* Android device:
• Google Pixel 3a XL(Android 10)
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8

[2020-03-06 10:19] Dunexus commented on #9018
Google Translate

If it is about the bottom bar offset, it is probably a duplicate of https://github.com/mozilla-mobile/fenix/issues/8757

[2020-03-06 11:05] miDeb commented on #7928
I could only reproduce the last one (Show in private sessions).

[2020-03-06 12:06] AndiAJ commented on #8985
Reproducible on **`Fenix Beta 4.0.0-beta.4`** using a OnePlus A3 (Android 6.0.1) device.
❗️ Some of the apps can't be reached while in portrait mode.

►  Video
![20200306-135628](https://user-images.githubusercontent.com/51314259/76082260-99107a00-5fb3-11ea-8165-bd5fbb713226.gif)

[2020-03-06 12:16] softvision-miralobontiu commented on #8967
The crash is reproducible on Beta v4.0.0-beta.4 if the Autofill option from Logins and passwords is disabled.
Tested with:
- Xiaomi MiPad 2 (Android 5.1),
- LG G7 (Android 8.1),
- Google Pixel (Android 10), and
- Huawei P9 Lite (Android 7.0).

Please see the logcat:

[autofill disabled crash.txt](https://github.com/mozilla-mobile/fenix/files/4298254/autofill.disabled.crash.txt)

[2020-03-06 12:18] AndiAJ commented on #4151
Reproducible on **`Fenix Beta 4.0.0-beta.4`** using a OnePlus A3 (Android 6.0.1)

► Log
[code]

[2020-03-06 12:21] rubcap commented on #470
The tab queue in Fennec is _very_ handy. Those who activated this optional feature will expect Fenix to have a similar function right from the start, because it has become part of their routine.

[2020-03-06 12:45] AndiAJ opened #9023 "[Bug]Pocket default top site doesn't work"
## Steps to reproduce
1. From the Home screen tap and open the ![rsz_1rsz_screenshot_20200306-143719](https://user-images.githubusercontent.com/51314259/76084617-f3600980-5fb8-11ea-917b-a7db5e5cee50.png)"Top Articles" default top site.

### Expected behavior
Pocket is properly opened

### Actual behavior
HTTP/1.1429 Too Many Requests error message

### Device information

* Android device: OnePlus

[2020-03-06 13:24] mcarare commented on #8759
Question for UX: Should we limit the space for "Recently used "(while keeping it scrollable), or the current behaviour is the one expected? TY!

[2020-03-06 13:41] DanielOrban opened #9025 "[Bug] The "Restore from file.." button is not working on the second time"
## Prerequisites
* uBlock Origin is installed and enabled in Fenix
## Steps to reproduce
1. Open the Fenix.
2. Navigate to "Settings-> Add-ons-> uBlock Origin->Settings".
3. Tap the "Restore from file..." button.
4. Return to the Settings and tap again the "Restore from file..." button.
### Expected behavior
The "Restore from file.." allows selecting a file to upload.
### Actual behavior
The "Rest

[2020-03-06 14:09] willkg commented on #7245
I think there are a couple of ways changing what `Version` is affects things.

Will changing what the `Version` value means now affect Crash Stats machinery? It'll fix existing issues. Crash Stats fully expects `Version` to be the product version--not the version of one of the libraries it uses. Crash Stats uses `Version` in computing the drop down for versions in the header,  the "featured versio

[2020-03-06 15:06] softvision-miralobontiu opened #9026 "[Bug] Phishing & malware pages are not always blocked"
## Steps to reproduce
1. Open Fenix, and access http://testsafebrowsing.appspot.com/s/phishing.html website.

### Expected behavior
A "deceptive site issue" page is opened.

### Actual behavior
The page is opened but without the warning message.

### Device information
* Android devices: Xiaomi MiPad2 (Android 5.1), LG Nexus 4 (Android 5.1.1)
* Fenix version: Fenix Beta v4.0.0-beta.4, and 3/6 Nigh

[2020-03-06 15:22] moztcampbell opened #9027 "[Bug] Can't sync or change sync checkboxes, "Choose what to sync" view does not match Sync servers"
## Steps to reproduce

1) Disable syncing of things like History on desktop
2) Use https://addons.mozilla.org/en-US/firefox/addon/about-sync/ to verify there is no History table
3) On fenix, visit sync settings and look at what is shared

### Expected behavior

The "History" box is unchecked.

### Actual behavior

The box is checked and unchecking it will result in it re-enabling a second later au

[2020-03-06 16:36] Moderpach opened #9028 "Remove white line at the buttom of the toolbar"
### Why/User Benefit/User Problem
In dark mode, when you surfing the website, there is a white line at the buttom of the toolbar. This is not as the same style as one in home page.
It is hard to see at these pictures, because the github website's background is white. But It is easy to find the problem, when you actually use the browser.

![Screenshot_20200307-003413_Firefox_Nightly-01](https://use

[2020-03-06 16:39] Cartesson commented on #8928
It's 100% a rom problem. Changed system and it was all ok, reverted back and the problem is here.

[2020-03-06 16:39] #8928 closed

[2020-03-06 16:51] Dunexus commented on #9028
Highlighted in https://github.com/mozilla-mobile/fenix/issues/7456#issuecomment-582343877
Note that the top one has been removed as part of https://github.com/mozilla-mobile/fenix/issues/7456 but not the bottom one.

As noted by @Moderpach , it is *not* present on homescreen.

[2020-03-06 17:12] ecsmyth opened #9029 "[Telemetry] Additional Collections telemetry"
Owner: Product Manager

#### Description & Product Manager / Data Scientist User Story
- As the performance product manager, I want to know how many collections users have and the numbers of tabs saved to the collections, so that we can test raw and perceived performance under representative conditions.
- As a product manager, ..., so that we can improve the UX based on how users use the feature.

[2020-03-06 17:49] snorp opened #9030 "[Bug] Building with local GeckoView cumbersome"
## Steps to reproduce
Use the steps here to use a local GeckoView with Fenix: https://mozilla.github.io/geckoview/contributor/geckoview-quick-start#dependency-substiting-your-local-geckoview-into-a-mozilla-project

Later, update the local GeckoView and try to build/run Fenix with the changes.

### Expected behavior
Fenix runs with the new GeckoView

### Actual behavior
Fenix crashes because of som

[2020-03-06 18:14] AmyYLee commented on #7094
@mnoorenberghe if the user taps outside the prompt panel, the prompt disappears without you needing to choose and it prompt will appear the next time you go to the website.

[2020-03-06 19:09] ekager commented on #8967
In AC, `GeckoLoginStorageDelegate#onLoginFetch`, we are returning an empty list to GV when Fenix autofill is toggled off so that it doesn't fill any fields on the page. Then when GV gives us a login to save, we use `validateCanPersist` in the `DefaultLoginValidationDelegate` and we know we can update a record. But when we go to update it, the login doesn't have a correct guid (probably because GV

[2020-03-06 19:17] snorp opened #9031 "[Bug] Navbar should be forced visible when a navigation occurs"
## Steps to reproduce
1) Open any scrollable page
2) Scroll enough to hide the navbar
3) Click a link

### Expected behavior
Navbar becomes visible in order to show that a navigation is occurring.

### Actual behavior
Navbar remains hidden

### Dependencies
Needs this AC API to be implemented: https://github.com/mozilla-mobile/android-components/issues/6048

[2020-03-06 19:41] liuche commented on #8768
Also see #9031 - we can check this for when we pick up these GV changes in AC.

If @sblatz has other things he's working on next week (let me know!), we should be able to find someone to take a look at this. Nav Bar is Nightly only right now, so this won't be hitting any release users yet.

[2020-03-06 19:44] Verdi commented on #1582
Yes. This would be a big improvement and cover most cases.

I don't think this is necessary to begin with.

We are definitely going to address this on desktop. We may not do exactly the same thing (we might though!) but we should not block on having the same solution at the same time.

I don't think so.

[2020-03-06 20:45] jonalmeida opened #9033 "Push GeneralError exception after logging in."
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/7429399/

[code]

It seems like just logging in is causing the crash:

[code]

[2020-03-06 23:56] staktrace commented on #8180
I see this quite frequently, where the back button just doesn't do anything even though I know there are pages in history. Most recently (and generally quite frequently) I see it on Hacker News - go from the home page to an article page, go to the linked article, go back to read comments, and then going back to the front page doesn't work

[2020-03-07 00:42] JNavas2 commented on #8975
Line break fix confirmed in Fenix Nightly #20660605.
Thank you!

[2020-03-07 00:42] #8975 closed

[2020-03-07 00:56] JNavas2 opened #9036 "Share of AMP page shares AMP URL instead of canonical URL [Bug]"
## Steps to reproduce
Open AMP URL
[https://www.politico.com/amp/news/2020/03/06/warren-team-wonders-how-they-blew-it-122628](https://www.politico.com/amp/news/2020/03/06/warren-team-wonders-how-they-blew-it-122628).
Touch Share > Gmail.
### Expected behavior
New Gmail message with the _canonical_ URL:
[https://www.politico.com/news/2020/03/06/warren-team-wonders-how-they-blew-it-122628](https://w

[2020-03-07 06:07] ayushi1998 commented on #2165
Hey, I am an outreachy applicant. Can I work on this? How to go about the same? New to open source

[2020-03-07 06:11] reukiodo commented on #8801
even an about:config item would make this more bearable

try to use an online editing tool like http://remove.bg/ while this bar hides an unhides with each finger movement

[2020-03-07 06:17] ayushi1998 commented on #4498
@vesta0  I am an outreachy applicant, new to open source. Should I take up this issue? Kindly assign it to me.

[2020-03-07 07:08] ekager commented on #8967
We've decided to temporarily remove the separate "autofill" pref while we investigate this with the involved teams. The "should ask to save login" pref will control saving and filling temporarily.

[2020-03-07 12:37] SL-Lee opened #9037 "[Bug] Custom tab styling doesn't respect the "Open links in a private tab" setting"
## Steps to reproduce

1. Switch on "Open links in a private tab".
2. Switch the browser mode to normal browsing mode.
3. Close Fenix.
4. Open a custom tab from another app.
5. From the custom tab, press "Open in Firefox Nightly" under the triple dot menu.

**Alternative STR:**

1. Switch off "Open links in a private tab".
2. Switch the browser mode to private browsing mode.
3. Close Fenix.
4. Ope

[2020-03-07 16:50] Cheap-Skate opened #9038 "[Bug] After opening a new tab from History, moving back to the tabs tray/home screen briefly shows History list"
## Steps to reproduce
Tap tabs counter to go to home screen/tabs tray
tap 3 dot menu & History
(the History page appears)
Open any page from History
(A new tab opens)
Tap the tabs counter
The History page flashes briefly on the screen before the home screen/tabs tray appears
**---> incorrect behavior, IMHO the flash of History page is not helpful**

### Expected behavior
tapping the tabs counter s

[2020-03-07 17:26] Cheap-Skate opened #9039 "[Bug] Fenix reloads every page after being backgrounded"
## Steps to reproduce
Restart phone so plenty of free memory
Close all Fenix tabs
Open arstechnica.com in Tab 1
Open mozilla.org in Tab 2
(mozilla.org page is visible)
put Fenix into background using Android home button
bring Fenix to foreground by tapping its icon
(mozilla.org page is visible)
switch to arstechnica.com tab by tapping tab counter & arstechnica tab
blank screen, arstechnica.com tab

[2020-03-07 17:34] fredderson opened #9040 "[Bug] Undo Closed Tab - does not disappear"
## Steps to reproduce

Close any tab.

### Expected behavior

Popup asking to undo closed tab should automatically disappear.

### Actual behavior

Pop-up stays on the screen until you tap "undo". As long as you wait long enough the tab remains closed even after tapping "undo".

### Device information

* Android device: Galaxy Note 10 Plus
* Fenix version: 3.2.1

[2020-03-07 18:15] cadeyrn commented on #9040
Duplicate of #7799, fixed in the next update.

[2020-03-07 19:12] fredderson commented on #9040
Thanks! Sorry for the duplicate. I'll look more thoroughly next time. Cheers!

-----Original Message-----
From: "Sören Hentzschel" <notifications@github.com>
To: mozilla-mobile/fenix <fenix@noreply.github.com>
Cc: fredderson <tysonkad@gmail.com>, Author <author@noreply.github.com>
Sent: Sat., 07 Mar. 2020 12:15 p.m.
Subject: Re: [mozilla-mobile/fenix] [Bug] Undo Closed Tab - does not disappear (#9

[2020-03-07 19:12] mattcoz commented on #8847
Yes, this used to be controlled by browser.chrome.dynamictoolbar, but I've tried setting that to false and it does not do anything. Respecting that flag would seem to be the best thing to do here.

[2020-03-07 19:14] mattcoz commented on #9039
I've been noticing this also.

[2020-03-07 21:46] hiikezoe commented on #9006
I believe this was fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1618432.
@s-ankur, could you please paste the link in about:buildconfig?
Thanks!

[2020-03-07 21:47] hiikezoe commented on #9006
Oh I was misleading your comment. the vertical bar issue is https://bugzilla.mozilla.org/show_bug.cgi?id=1598978 which hasn't been fixed yet.

[2020-03-08 00:33] hackel commented on #8319
It would be great if the old swipe-up toolbar that was removed could be repurposed for extensions.  Have it function just like it does on desktop, long-press opens a menu allowing you to move the icon to the overflow menu (the main Add-ons submenu you're discussing here).  You could fit up to 8 icons across depending on screen resolution.  This would allow extensions to function in a more traditio

[2020-03-08 01:20] authentictech opened #9042 "[Bug] "Tab closed" notice does not disappear"
## Steps to reproduce
Close an open tab from the tab list screen

### Expected behavior
Notice about tab closed appears for a short period and disappears.

### Actual behavior
Tab closed notice displays permanently on all Firefox Preview screens.

### Device information

* Android device: Samsung Galaxy Tab A (2016)
* Fenix version: 3.2.0 (Build #20250235)
![20200308_005801](https://user-images.gi

[2020-03-08 01:22] #9042 closed

[2020-03-08 01:24] authentictech commented on #9042
Dup of [7799](https://github.com/mozilla-mobile/fenix/issues/7799), sorry.

[2020-03-08 07:13] Poopooracoocoo commented on #1500
hey guys. not sure if anyone will see this or will care but it would be great if you could star a similar Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1043372

[2020-03-08 09:16] s-ankur opened #9043 "[Bug] Horizontal Scrollbar is Asymmerical"
## Steps to reproduce
Zoom in to the maximum possible level on any page
scroll to the maximum possible on the left side then do the same for right side
observe horizontal scroll bar
### Expected behavior
scrollbar should have symmetrical range on either side
### Actual behavior
On left side ,scrollbar touches the edge of the screen
![Screenshot_20200308-144316](https://user-images.githubuserconten

[2020-03-08 09:19] s-ankur commented on #9043
There is prrobably a similar problem with the vertical scrollbar but i cant aay for sure while #9006 remains

[2020-03-08 09:38] s-ankur opened #9044 "[Bug] Download Completed Notification is too intrusive"
## Steps to reproduce
Download any file
### Expected behavior
Small nonintrusive notification appears. It does not affect browsing in any way and user can continue to do what they were doing before .Notification automatically disabled after a while or after interaction with the webpage.
### Actual behavior
Large notification and dark screen intruding on usability especially if you plan to download

[2020-03-08 09:43] s-ankur opened #9045 "[Bug] Cant exit private mode with pending downloads"
## Steps to reproduce
go to private mode
download a large file
exit private mode
### Expected behavior
Can exit private mode
### Actual behavior
Cant exit without cancelling downloads or force closing
### Device information

* Android device: Asus Zenfone
* Fenix version: Fenix Nightly

[2020-03-08 11:11] andreicristianpetcu commented on #1500
@Poopooracoocoo this has been on desktop Firefox since forever. Maybe open a new feature request for Fenix rather than comment on a closed issue.

[2020-03-08 19:08] Archaeopteryx opened #9046 "[Bug] download notification shown as "filename.extension (null)""
## Steps to reproduce
Likely: Download a file from a server which doesn't send the file size. (The one I used is internal.)

### Expected behavior
After the file has been downloaded, the notification reads "Download complete (null)" (have Fenix in German)

### Actual behavior
Either "Download complete" or "Download complete (X.Y KB)"

### Device information

* Android device: Sony Xperia XZ2 Compa

[2020-03-09 03:15] test2a commented on #9044
Yes. Came here to say this. The popup should fade away say after 2 seconds like it does on ff proper

[2020-03-09 03:18] test2a commented on #7620
On a related note, I dont see a downloads manager in ff preview nightly? It it hidden? Not implemented yet?

[2020-03-09 05:32] #9040 closed

[2020-03-09 05:33] ekager commented on #8967
https://github.com/mozilla-mobile/fenix/issues/8967#issuecomment-595742919 is ready to retest on [v4.0.0-beta.5](https://github.com/mozilla-mobile/fenix/releases/tag/v4.0.0-beta.5)

[2020-03-09 06:51] AndiAJ commented on #8874
Hi, **verified as fixed** on the latest **Nightly Build #20690607 from 03/09** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20200309-084456](https://user-images.githubusercontent.com/51314259/76189359-24238700-61e3-11ea-94dc-deb9128d7f3d.gif)

[2020-03-09 06:51] #8874 closed

[2020-03-09 08:05] Cheap-Skate opened #9047 "[Bug] Share menu box styling does not match other pop-up menus"
Share menu pop-up has rounded upper corners. Advanced Tracking Protection & Security (padlock) pop-ups have square corners

I also think the Share menu pop-up colors the Android navigation bar (back / home / all apps) differently from ATP and security pop-ups

* Android device: Galaxy A40, Android 9
* Fenix version: Today's

[2020-03-09 08:21] AndiAJ opened #9048 "[Bug]Inconsistent display of the "Add private browsing shortcut" recommender after switch from portrait to landscape view"
## Prerequisites
Have a clean profile

## Steps to reproduce
1.. Switch a couple of times between normal/private browsing until the "Add private browsing shortcut" recommender is displayed
2. Rotate the device to landscape view

### Expected behavior
The recommender should be displayed next to the PB icon

### Actual behavior
The recommender is displayed over the "Firefox Preview logo"

### Device

[2020-03-09 08:45] codrut-topliceanu commented on #8560
Created a [new issue](https://github.com/mozilla-mobile/android-components/issues/6202) on AC for this.

[2020-03-09 09:55] mcarare commented on #9031
@snorp I believe this happens with bottom navbar ? With top navbar there is another issue: https://github.com/mozilla-mobile/fenix/issues/6976. I think these issues should be handled together, to obtain the same behaviour.

[2020-03-09 09:56] AndiAJ commented on #4151
Reproducible on Fenix Beta 4.0.0-beta.5 using a OnePlus A3 (Android 6.0.1)

<details>
    <summary>Fenix - Open tabs and collections before the crash (dropdown)</summary>

## Open tabs:
YouTube Music https://music.youtube.com/
The Box by Roddy Ricch on SoundCloud - Hear the world’s sounds https://m.soundcloud.com/roddyricch/the-box
SPORT.RO - Stiri din sport https://m.sport.ro/
90min Football News

[2020-03-09 10:01] mcarare commented on #9038
This should be taken into consideration when implementing a fix for https://github.com/mozilla-mobile/fenix/issues/7356.

[2020-03-09 10:33] AndiAJ opened #9049 "[Bug]Websites that are available as PWAs on Nightly are not added to home screen on first try on Fenix Beta"
## Steps to reproduce
1. Navigate to Twitter.com
2. From the  ⋮ Main menu tap on "Add to Home screen"

### Expected behavior
The website is properly added after the first attempt to the devices home screen

### Actual behavior
The Website is added only after the second attempt.

### Device information

* Android device: OnePlus A3 (Android 6.0.1)
* Fenix version: Beta4.0.0-beta.5

### Notes
❗️ In

[2020-03-09 12:44] sv-sdeiac opened #9051 "[Bug]The tab drawer number is not centered when open Top Sites in Private Browsing"
### Steps to reproduce
1. Open the Homepage of the app;
2. Long tap on a Top Site page;
3. Select "Open in Private tab" button;
4. Observe the tab drawer.

### Expected behavior
The number is displayed without any issue.

### Actual behavior
The number is not centered.

Device information
Android device: Samsung Galaxy Tab S3 (Android 8).
Fenix version:
- Firefox Preview Beta 4.0.0-beta.5;
- Not r

[2020-03-09 13:13] Diana-Rus opened #9052 "[Bug] Custom Tab- ETP is still accessible in custom tab when being disabled from browser level"
Pre-requisites:
- Have Firefox Preview Nightly set to be default browser.

## Steps to reproduce
1. Open gmail.
2. Tap on an article.
3. Open Firefox Preview browser app.
4. Go to Menu/Settings/Privacy and Security-Enhanced Tracking Protection.
5. Disable the option.
6. Return to the custom tab from Gmail and tap on the refresh icon from menu.

### Expected behavior
The ETP could not be accessed a

[2020-03-09 13:27] rocketsroger commented on #2576
Thanks for verification.  Confirmed fixed, closing.

[2020-03-09 13:28] rocketsroger commented on #5664
Confirmed issue is fixed on nightly.  Please verify.

[2020-03-09 13:31] sv-ohorvath commented on #9026
I can also reproduce on Android 7, a Nexus 9 tablet. this phishing test page is not returning an error. Same thing on https://www.amtso.org/check-android-phishing-page/

[2020-03-09 13:43] alexandru-io opened #9053 "[Bug] Raptor fenix jobs are failing ( failed to finish! Application timed out.)"
Raptor fenix test jobs in CI are failing with "raptor-perftest Critical: Tests failed to finish! Application timed out.". The Bugzilla bug for this is [1620653](https://bugzilla.mozilla.org/show_bug.cgi?id=1620653).
The error looks like this:
[code]

[2020-03-09 14:18] sv-ohorvath commented on #7638
I also noticed Dashlane not recognizing the website and not suggesting any auto-fill options on Nightly and Beta 4.0, on a Nexus 9 (Android 7.1.1)

[2020-03-09 14:23] Diana-Rus opened #9055 "[Bug] Page element from e-bay is incorrectly displayed"
## Steps to reproduce
1. Go to https://cart.ebay.com/ .
2. Inspect the magnifying glass element.

### Expected behavior
The magnifying glass icon is correctly displayed besides the create an account and cart icon.
### Actual behavior
The magnifying glass icon is incorrectly displayed, it is not aligned with the rest of the icons.
### Device information

* Android device: Samsung Galaxy Note9(Andro

[2020-03-09 14:36] sv-ohorvath opened #9056 "[Bug] Firefox Preview Search in custom tab doesn't open the tab immediately"
## Steps to reproduce
1. Open a custom tab.
2. Select a text. Tap Firefox Preview Search
### Expected behavior
It should open a new tab with the search, in the app.
### Actual behavior
Nothing visible happens. If you go to the app and open a tab, then a new tab will be created in the background with the search. You can see it when you return to the homescreen.
### Device information

* Android dev

[2020-03-09 14:43] rocketsroger commented on #5186
You're correct.  I can see the same issue.  I'll investigate.

[2020-03-09 14:48] rocketsroger commented on #8939
With the latest fixes, this issue is not an app links issue anymore.  The intent was redirected back into the library app but it did not behave as expected.  This seems to point at a possibility that the app either did not like the data we embedded in the intent or was not expecting the way we redirect the intent.  This will need more investigation with a test account.

[2020-03-09 14:49] softvision-miralobontiu opened #9057 "[Bug] Added search engines doesn't have the right icon"
## Steps to reproduce
1. Go to Settings - Search and tap on "+ Add search engine" - Other.
2. Introduce a valid name and URL and save the added search engine.
3. Observe the icon of the added search engine.

### Expected behavior
The new search engine has a personalized icon.

### Actual behavior
The new search engine has a "Google" icon.

### Device information
* Android device: LG G7 Fit (Androi

[2020-03-09 15:16] caugner commented on #8939
@rocketsroger I don't mind sharing my login data with you via a secure channel, if that would help?

[2020-03-09 15:27] rocketsroger commented on #8939
That will be great.  Thanks!

[2020-03-09 15:33] softvision-miralobontiu commented on #8967
We're not able to reproduce the crash on Beta v4.0.0-beta.5 with the steps from [Comment 0](https://github.com/mozilla-mobile/fenix/issues/8967#issue-575294438).
The "Autofill" option is not available on Beta v4.0.0-beta.5, therefore we cannot test the scenario from this [comment](https://github.com/mozilla-mobile/fenix/issues/8967#issuecomment-595742919).

[2020-03-09 15:50] abodea commented on #7158
Verified as fixed on the latest **Nightly build 3/9** with **Google Pixel 4 XL (Android 10).**
Note that the animation is correctly displayed in normal and private browsing for top and bottom search bar.

[2020-03-09 15:50] #7158 closed

[2020-03-09 15:55] jonalmeida commented on #4205
I've compared LastPass with Lockwise and Bitwarden's auto-fill and I believe our implementation is correct.

As @abodea mentioned above, it seems like Lastpass' autofill regressed (maybe by our implementation changes or theirs) and no longer works with regular sites let alone authentication dialogs.

I've tried all Firefox Preview builds, and even the Firefox Nightly build, which used to work in m

[2020-03-09 16:34] s-ankur opened #9058 "[Bug] Certain emojis become ridiculously small while zooming in"
## Steps to reproduce
on the github issues page, zoom in while paying attention to the "bug" 🐞 emoji
### Expected behavior
icons zoom in proportion to rest of the webpage
### Actual behavior
When im still pinching the screen:
![Screenshot_20200309-215650](https://user-images.githubusercontent.com/33252312/76236052-ff033880-6223-11ea-9e7b-cc7422b4d492.png)

When I let go
![Screenshot_20200309-21565

[2020-03-09 16:56] jonalmeida opened #9059 "Add WebPush integration to Engine"
Parent: https://github.com/mozilla-mobile/fenix/issues/771

We should add the integration class for Fenix [similar to R-B](https://github.com/mozilla-mobile/reference-browser/blob/master/app/src/main/java/org/mozilla/reference/browser/push/WebPushEngineIntegration.kt).

This adds supports for WebPush to Fenix. Sites that can send web push messaging should now be able to do so.

A sample demo site

[2020-03-09 16:57] marcinwiacek commented on #7189
Note: this was implemented and this issue can be closed.

[2020-03-09 16:59] marcinwiacek commented on #7038
Note: with currently nightly build I see different error page & "Accept the Risk and Continue" button is not working.

[2020-03-09 17:03] marcinwiacek commented on #6701
Just for reference and note: it seems, that Gecko engine is returning title for wrong page.

One of possible fixes: https://github.com/marcinwiacek/true-android-components/commit/4bcb11f71dee40ff51eb0ad8ffdce79d17a2f955

[2020-03-09 17:05] marcinwiacek commented on #6944
Note: error messages were updated and this is not valid anymore and can be closed. Thank you.

[2020-03-09 17:08] sblatz commented on #6726
@AndiAJ I'm still not able to reproduce this. Are you able to test again? I wonder if nightly hadn't been updated just yet.

[2020-03-09 17:09] sblatz commented on #7236
Closing as dup of #6146

[2020-03-09 17:09] #7236 closed

[2020-03-09 17:12] marcinwiacek commented on #6060
Just for reference and note: the shortest fix is connected with adding "GeckoResult.fromValue(SlowScriptResponse.CONTINUE)" inside onSlowScript.

Example: https://github.com/marcinwiacek/true-android-components/commit/5d0da76e838b25715738cdea7f22086db3ffe24c

[2020-03-09 17:14] sblatz commented on #6290
Throwing this into group triage so we can decide how to proceed.

[2020-03-09 17:19] sblatz commented on #6146
I'll keep an eye on this. Thank you for your investigation @BranescuMihai!

Discussed during AC triage, @pocmo said this GV fix would be very helpful in solving this 😄

[2020-03-09 17:22] pocmo commented on #1461
For those pages GeckoView doesn't tell us about media elements:
https://bugzilla.mozilla.org/show_bug.cgi?id=1554297

[2020-03-09 17:22] jonalmeida commented on #1461
Might able be related to https://bugzilla.mozilla.org/show_bug.cgi?id=1554297.

[2020-03-09 17:33] sblatz commented on #8998
Hmm this is really strange. I specifically implemented a fix for this to stay for 15 seconds (in collaboration with @eeejay) when TalkBack is enabled. @MarcoZehe what nightly version are you on?

[2020-03-09 17:41] emilio commented on #9043
I think this is because we only hide one of the scrollbar buttons depending on scroll direction

[2020-03-09 17:42] emilio commented on #9001
cc @NotWoods

[2020-03-09 18:20] ncalexan commented on #9030
For what it's worth, I dug deep into this, and it's a bug deep in the Android-Gradle plugin's `MergeSourceSets` implementation.  What happens is that the `merged_native_libs` directory gets (correctly, I think) purged after the SNAPSHOT version updates, but the merger only recognizes the changed-as-in-content-hash-differs as needing to be written.  That means in most cases one only gets `libxul.so

[2020-03-09 19:00] s-ankur commented on #9043
Hi @emilio .
Could you explain what you mean by a scrollbar button here?

[2020-03-09 19:02] jonalmeida commented on #8974
@lwa-moz I've set this up for the `org.mozilla.fennec_aurora` with "Firefox news" as the notification channel name.

<img width="368" alt="Screen Shot 2020-03-09 at 2 58 36 PM" src="https://user-images.githubusercontent.com/1370580/76247925-b729e480-6216-11ea-9e9a-1464ee1da395.png">

[2020-03-09 19:45] kbrosnan commented on #9058
This behavior is from the Gecko engine. Need a Bugzilla bug to fix this.

[2020-03-09 19:59] jonalmeida commented on #8745
I've fixed this for Fenix Nightly and done the same for Firefox Nightly

[2020-03-09 20:30] emilio commented on #9043
Gecko scrollbars are made of multiple DOM elements, which look like:

[code]

I think, reading [the scrollbars css in GeckoView](https://searchfox.org/mozilla-central/rev/070a000dd49aac4a26147e137efcd91a728d13b8/toolkit/themes/mobile/global/scrollbars.css#57) that only one of those buttons gets hidden, but the others take up space even though they're not visible.

[2020-03-09 20:45] christophgrander opened #9062 "When pressing the Firefox Preview icon on the homescreen a different app opens [Bug]"
## Steps to reproduce
1. Open any app that uses firefox preview to display websites. As an example I will use Feedly but the bug also shows when using twitter, etc.
2. In Feedly open a website. Note that I do not change to firefox preview But open the website directly in feedly using firefox preview.
3. Go to homescreen and press the firefox preview icon.
### Expected behavior
Firefox preview open

[2020-03-09 20:52] cadeyrn commented on #7559
@boek Did you forget this issue? The issue is known since two months, the language switcher is one of the advertised features of Fenix 4.0 (https://github.com/mozilla-mobile/fenix/releases/tag/v4.0.0) and does not work at all for all users with dark Android theme and light Fenix theme or light Android theme and dark Fenix theme… /cc @liuche

[2020-03-09 22:01] rpappalax commented on #6406
I believe everyone who requested access should now have it.  closing

[2020-03-09 22:01] #6406 closed

[2020-03-09 22:04] KazaHesto opened #9063 "[webcontent] TfNSW trip planner displaying incorrect time"
## Site with issue and any steps to reproduce
Go to https://transportnsw.info/trip
Type any "from" and "to" stations, e.g. Central Station to Town Hall Station

### Expected behavior
Times for travel information are displayed correctly

### Actual behavior
Relative times are displayed correctly (Leaving X minutes) but times displayed are off by an hour (Showing 8:01 instead of 9:01)

### Does togg

[2020-03-09 22:11] ericliou opened #9064 "Shortcut to close the current displayed tab"
### Why/User Benefit/User Problem
As a user, closing the current tab after I'm done viewing is a very frequent operation. Currently, two operations are needed to do that:
1) press the tab switcher button
2) find the tab I was viewing and swipe it (or tab the X)

The 2nd step is particularly cumbersome, because the target can be in a random position depending  where the current tab is ranked in the

[2020-03-09 22:24] KazaHesto opened #9065 "[Bug] Very high heap-unclassified memory usage"
## Steps to reproduce
No specific steps I've found, though I noticed this when opening and closing many tabs even when the overall number of tabs open at any one time isn't much, as well as when using Twitter for a while

### Expected behavior
Memory usage stays reasonable

### Actual behavior
High memory usage causing Android to kill background apps and eventually Fenix even in foreground. Device

[2020-03-09 22:39] kbrosnan commented on #9063
Sounds like a website or Gecko bug then.

[2020-03-09 22:42] mcomella commented on #7529
The requirements of this will probably change when we get around to doing it so closing.

[2020-03-09 22:42] #7529 closed

[2020-03-09 22:44] mcomella commented on #5866
Requirements may change - will reopen.

[2020-03-09 22:44] #5866 closed

[2020-03-09 22:44] mcomella commented on #6508
(copy-paste) Not a priority: closing.

[2020-03-09 22:44] #6508 closed

[2020-03-09 22:44] mcomella commented on #5867
Requirements are changing: will reopen.

[2020-03-09 22:44] #5867 closed

[2020-03-09 22:44] mcomella commented on #4512
(copy-paste) Not a priority: closing.

[2020-03-09 22:44] #4512 closed

[2020-03-09 22:48] mcomella commented on #8058
This will likely come up again in a different context when we look at startup holistically so we'll open a new issue for that: closing.

[2020-03-09 22:48] #8058 closed

[2020-03-09 22:54] mcomella opened #9066 "Re-add Experiments in performant way"
In #8056, we determined that the Experiments framework was unused for GA. However, we'd like to emphasize Experiments going forward so we should add it back in.

### Acceptance criteria
- Work with Experiments team to add Experiments framework back into Fenix
- `Experiments.initialize` and any other related code is performant
- Integration into Fenix is performant (initialized on a background thre

[2020-03-09 22:59] mcomella opened #9067 "Start visual completeness tasks at or after point of visual completeness"
[The initial/current implementation of `visualCompletenessTaskManager`](https://searchfox.org/mozilla-mobile/rev/d3fe70249acac004e78bd18a2da63c349d0d4e0c/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt#121) was done simply for implementation speed: we wait 5s after the first frame is drawn which doesn't guarantee these tasks run after visual completeness). We should correct the implement

[2020-03-09 23:09] mcomella commented on #7380
@ecsmyth Please update the description if it doesn't match your expectations. If you have an initial list of user experiences, that'd be great too (maybe from https://github.com/mozilla-mobile/fenix/issues/8662 ?).

[2020-03-09 23:23] mcomella opened #9069 "Gather telemetry on representative user experiences for performance testing"
We'd like to have telemetry to know what a typical user session looks like so we're able to create performance tests that are representative of user experiences. For example, how many tabs do users typically have open? Perhaps we should run our startup & page load tests with that number of tabs.

### Acceptance criteria
- Identify a list of criteria we'd like to know about (consult ecsmyth for spe

[2020-03-09 23:24] Baron-Severin commented on #8326
Thank you for being so thorough @AndiAJ!  I'm still able to reproduce on homedepot.com (which works as expected on Chrome), but it seems to be a _very_ isolated problem.  I'm going to update the issue to specify that it's just that one site, and mark it a low priority.

Thanks again, and I'm sorry for dropping so much work on you!

[2020-03-10 01:04] plrao72 opened #9071 "Older version of Firefox Preview for arm64 is listed under assets of the latest build"
## Steps to reproduce
Go to the releases page. Check the assets of the latest release

### Expected behavior
All the asset files should be of the latest version

### Actual behavior
The arm64 apk is the older 3.21 version

### Device information

* Android device: ?
* Fenix version: ?

[2020-03-10 01:05] mcomella opened #9072 "Gather measurements on other cold startup flows"
For GA, we focused on cold startup to homescreen and app link with an empty profile, non-first run, with no tabs open. We should test a wider variety of cold startup test cases.

We should look into:
- App link (not sure what ecsmyth meant by this)
- Custom tabs
- Determine startup to homescreen relative to Chrome
- ?

TODO: clarify what kind of measurements we need

[2020-03-10 01:11] liuche commented on #9071
Thanks for filing, fixed this!

[2020-03-10 01:11] #9071 closed

[2020-03-10 01:22] mcomella opened #9073 "Automate perf regression detection + monitoring improvements in cold startup (+ page load?)"
We've been struggling to prevent regressions in cold startup, or determine if our improvements worked against our metrics, because our performance tests run once a night and any improvements and regressions get aggregated together. Instead, we should provide automated regression detection and ongoing monitoring for improvements, for example, the performance tests could run per master merge, postin

[2020-03-10 04:05] vesta0 commented on #4205
@jonalmeida I reached out to my contacts at LastPass about a month ago and haven't heard back. Perhaps it's best to submit a support request for them in the meantime?

[2020-03-10 04:14] ecsmyth commented on #7380
[Prioritized list for investigation](https://docs.google.com/document/d/1VKN5KsvFDIj-SooRcDLZ4FjRa1tzvfIeseW_CG9ZIII/edit?usp=sharing). I recommend breaking out each high-level action into separate issues.

Several of the flows in the linked document do not have drafted release criteria. I'm working to address this now, but please ping me if resources are available to start an action that is still

[2020-03-10 05:25] vesta0 commented on #4498
Hi @ayushi1998 thanks for your interest in contributing to the Fenix project! This issue is not ready to be worked on yet but please check out issues with `help wanted` or `good first issue` labels!

[2020-03-10 05:27] vesta0 commented on #8017
Good point @Baron-Severin Let's see what @betsymi thinks!

[2020-03-10 06:12] karlcow opened #9074 "[Bug] when the url bar is hiding a gap seem visible for a position fixed item"
## Steps to reproduce
1. Account created
2. go to https://m.vk.com/feed
3. scroll down slowly and observe in between the url bar and the site bar at the bottom.

### Expected behavior
no gap visible.

### Actual behavior
the gap in between the url bar going into hiding and the site bar with a position fixed at the bottom
This is very subtle.

### Device information

* Android device: 10.0 pixel 2

[2020-03-10 08:42] sv-sdeiac commented on #9059
Verified as fixed using the latest version of Firefox Preview Nightly 3/10 #20700606.
Now, the Firefox Preview allows sending web push messaging.

Devices:
- Nokia 6 (Android 7.1.1);
- Xiaomi Mi 8 Lite (Android 9);
- Google Pixel (Android Q).

[2020-03-10 08:42] #9059 closed

[2020-03-10 08:46] AndiAJ commented on #8985
Hi, **verified as fixed** on the latest **`Nightly Build #20700607 from 03/10`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20200310-104124](https://user-images.githubusercontent.com/51314259/76294923-6967b780-62bc-11ea-9552-b229e4a0d6b8.gif)

[2020-03-10 08:46] #8985 closed

[2020-03-10 09:10] AndiAJ commented on #8423
Hi, **verified as fixed** on the latest **`Nightly Build #20700607 from 03/10`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Pic
![rsz_11rsz_00000img_00000_burst20200310105437462_cover](https://user-images.githubusercontent.com/51314259/76297004-cb75ec00-

[2020-03-10 09:10] #8423 closed

[2020-03-10 09:19] sv-ohorvath commented on #4554
Verified as fixed on Nightly 3/10.
Devices verified: Pixel (Android 10), HTC Desire 820 (Android 6.0.1)

[2020-03-10 09:19] #4554 closed

[2020-03-10 09:30] andrewshadura commented on #8993
I think this is not specific to Firefox Preview, I observe the same behaviour in the stable Firefox and other apps too.

[2020-03-10 09:33] andrewshadura commented on #9001
The same (but even more visible?) happens with the bar placed on the top.
I think #9074 and #9004 may be dups of this.

[2020-03-10 09:40] AndiAJ commented on #6737
Hi, @ekager I've just checked this matter on the latest **`Nightly Build #20700607 from 03/10`** using the following devices:
• Google Pixel 4XL (Android 10)
• Google Pixel 3a (Android 9)

It seems that **the CWTS signup isn't properly reflected in Fenix**.
After the auto-sync is done the Logins along with the History and Bookmarks sync options are enabled by default even though I've disabled them

[2020-03-10 10:07] Diana-Rus commented on #7341
Hi, unfortunately the issue is still reproducible. No new tab present. Crash is still present.
Build: Firefox Preview Nightly 200310 (Build #20700606) GV:75.0a1-20200309091841
Devices: One Plus 7T Pro(Android 10), Samsung Galaxy S8+ (Android 8) and Sony Xperia Z5 (Android 7)

GIF - Sony Xperia Z5 (Android 7)
![20200310-112834](https://user-images.githubusercontent.com/49859863/76301744-750cab80-62

[2020-03-10 10:31] AndiAJ commented on #8745
Hi, I've just checked this matter on the latest **`Nightly Build #20700607 from 03/10`** using the following devices:
• Google Pixel 4XL (Android 10)
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔️ On the Google Pixel 4XL , Google Pixel 3a, Huawei Mate 20 Lite **the notification channe

[2020-03-10 11:08] AndiAJ commented on #7381
Hi, **still reproducible** on the latest **`Nightly Build #20700607 from 03/10`** using the following devices:
• Google Pixel 4XL (Android 10)
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

Most of the inconsistencies described by @mcomella seem to be **happening closing the search fragm

[2020-03-10 11:08] buttercookie42 commented on #4106
Requested in https://bugzilla.mozilla.org/show_bug.cgi?id=1620957.

[2020-03-10 11:10] abodea opened #9075 "Add the possibility to search(search bar) any login in Saved logins section"
### Why/User Benefit/User Problem
As a Fenix user, I want to be able to find any login fast and not to scroll through all the saved logins.
### What/Requirements
Add a search bar to the `Saved logins` section.
### Acceptance Criteria (how do I know when I’m done?)
The search bar is implemented in `Saved logins` section.

[2020-03-10 11:16] topotropic commented on #8883
We are working on restructuring the menu. It's documented here https://github.com/mozilla-mobile/fenix/issues/8474. I'll close this issue. Thanks for your feedback!

[2020-03-10 11:16] #8883 closed

[2020-03-10 11:23] cadeyrn commented on #9075
Duplicate of #7087.

[2020-03-10 11:30] isabelrios opened #9076 "UITests: sync integration tests not launched due to Pipenv issue"
There is an issue affecting `pipenv check` https://github.com/pypa/pipenv/issues/4147

Until that is fixed it is necessary to ignore that check in Jenkins file as: `pipenv check -i 37752`

[2020-03-10 12:07] LaurentiuApahideanSV commented on #8788
Verified as fixed on Firefox Preview Nightly 200310 (Build #20700607) GV: 75.0a1-20200309091841 using a Motorala G7 (Android 9) and OnePlus 6T (Android 9). When the device is in landscape mode the Top Sites are no longer limited to 5 per row but rather the length available on the screen and there is no large spacing between top sites.

[2020-03-10 12:42] #9075 closed

[2020-03-10 12:51] ebalazs-sv commented on #8924
This is reproducible on Beta Migration build 4.0.0-beta.2, 3/10 with Huawei P9 Lite (Android 7).

[2020-03-10 12:54] bebef1987 opened #9079 "Bug 1621252 - Move Fenix tests to tier 1"
Update fenix tests tier
tp6m tests are tier 2 -> tier 1
scn tests are tire 3 -> tire 2

Include cron jobs of fenix tests

[2020-03-10 12:54] softvision-miralobontiu commented on #7559
I was able to reproduce this issue on HTC Desire 820 (Android 6.0.1), and Xiaomi Mi4i (Android 5.0.2), on the latest Nightly build from 3/10.

[2020-03-10 12:55] AndiAJ commented on #8950
Hi @jonalmeida , could you please help us out with a STR? ☺️

[2020-03-10 13:16] softvision-miralobontiu commented on #9057
I was able to reproduce the issue on HTC Desire 820 (Android 6.0.1) on the latest Nightly build from 03/10.

[2020-03-10 13:21] jonalmeida commented on #8745
@AndiAJ older Android devices don't have that API so you won't see the notification channel. I'll go ahead and close this issue then. Thanks!

[2020-03-10 13:21] #8745 closed

[2020-03-10 13:31] jonalmeida commented on #8950
Sorry @AndiAJ!

### STR

1. Login to a Firefox Account.
2. Send a tab to the device.
3. Swipe the app away from the app switcher.
4. Open the app and immediately send a tab to the device.

### Expected

 - The app shouldn't crash.

[2020-03-10 13:38] AndiAJ commented on #8975
Hi, **verified as fixed** on the latest **`Nightly Build #20700607 from 03/10`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

►Video
![20200310-151236-1](https://user-images.githubusercontent.com/51314259/76317303-ab0c5880-62e4-11ea-83d5-0e04b0f82879.gif)

[2020-03-10 13:41] codrut-topliceanu commented on #8561
**Cause:**

Top sites are added to the recycleView from HomeFragment _after_ the view is created and populated at start, so the scroll position doesn't change, leaving the top sites outside the visible area.

[2020-03-10 13:44] rocketsroger commented on #5186
Bug is reopened.  This will need a fix from GV. https://bugzilla.mozilla.org/show_bug.cgi?id=1596825

[2020-03-10 13:50] #8788 closed

[2020-03-10 13:53] jawadalkassim opened #9082 "[Bug] uBlock Origin is not working after automatic update"
## Steps to reproduce
launch Firefox and open any website
### Expected behavior
uBlock Origin blocking ads and showing numbers of blocked ads as it was in previous relases
### Actual behavior
ads showing in websites
### Device information
Huawei Gr3 2017
* Android device: 8.0 oreo
uBlock Version : 1.25.2
* Fenix version:
Nightly 200310 06:01 (Build #20700607)
36.0.0, 6e1631e4f
GV: 75.0a1-202003090

[2020-03-10 13:53] Diana-Rus commented on #6726
Hi, the issue still reproduces. It seems to be impacted by the ads sections or maybe in the amount of time the app is reopened.
OnePlus 7T Pro(Android10)
![20200310-153805](https://user-images.githubusercontent.com/49859863/76319027-43a3d800-62e7-11ea-91f5-bc9851afc328.gif)

Google Pixel 3XL(Android 9)
![20200310-152830](https://user-images.githubusercontent.com/49859863/76318072-d3488700-62e5-11e

[2020-03-10 13:54] jawadalkassim commented on #9082
![Screenshot_20200310-155404](https://user-images.githubusercontent.com/48631694/76319122-69c97800-62e7-11ea-94a8-e8018d593219.jpg)

[2020-03-10 14:06] marcinwiacek opened #9083 "Scrolling only menu options in main menu"
### Why/User Benefit/User Problem

Currently Firefox Preview has got many options in main menu (visible after clicking hamburger icon on tab with page) and this menu needs to be scrolled sometimes, in the same time icons on top are probably the most often used (that's why they're there) and they're hidden.

![Screenshot_20200310-001923_Firefox Nightly](https://user-images.githubusercontent.com/248

[2020-03-10 14:13] codrut-topliceanu commented on #6126
Might be fixed by https://github.com/mozilla-mobile/fenix/issues/6577 pending QA verification.

[2020-03-10 14:35] LaurentiuApahideanSV commented on #5664
I tested the issue on Firefox Preview Nightly 200310 (Build #20700607) GV: 75.0a1-20200309091841 using a Motorala G7 (Android 9) and OnePlus 6T (Android 9). The Netflix work correctly and open the Google Play store, however when tapping on the "sign our support form" from the https://olin.repair/ page the "Adress Not Found" or "This site can’t be reached" error message is displayed on Firefox Prev

[2020-03-10 14:35] mcarare commented on #9083
This should be improved by https://github.com/mozilla-mobile/fenix/issues/8474 and https://github.com/mozilla-mobile/fenix/issues/8319.

[2020-03-10 14:37] cadeyrn commented on #9083
Duplicate of #8986.

[2020-03-10 14:40] #9083 closed

[2020-03-10 14:40] marcinwiacek commented on #9083
I just realized, that I can close issue... Thank you and sorry for duplicate.

[2020-03-10 14:41] #7189 closed

[2020-03-10 14:41] #6944 closed

[2020-03-10 15:17] Amejia481 commented on #9082
@jawadalkassim would you mind share in which version of uBlock are you? You can find it under `Settings` -> `Add-ons Manager `-> tap on `uBlock Origin` ->  `Details` - > Scroll to the bottom -> `Version`

[2020-03-10 15:21] rocketsroger commented on #5664
That's interesting.  Maybe it is blocking access using IP address.  I've just tested with the latest nightly from Google Play and the form still works for me on Fenix nightly.  Thanks for confirming this is fixed, I'll close.

[2020-03-10 15:21] #5664 closed

[2020-03-10 15:25] jawadalkassim commented on #9082
uBlock Version : 1.25.2

[2020-03-10 15:27] Diana-Rus opened #9084 "[Bug] Page layout-Products thumbnails are not displayed per two columns"
## Steps to reproduce
1. Go to main.m.taobao.com.
2. Scroll on the page.
### Expected behavior
The thumbnails of the products are correctly displayed.
### Actual behavior
From the third section of the page, instead of having 2 column of thumbnails with the products there is only one.
### Device information

* Android device: OnePlus7T Pro (Android10), Google Pixel 3XL (Android 9), Samsung Galaxy S

[2020-03-10 15:36] Amejia481 commented on #9082
We tested on various devices and we are not able to reproduce the issue. Do you mind sharing which sites are visiting?

[2020-03-10 15:43] jawadalkassim commented on #9082
I've uninstalled FF and Reinstalled again and install Ublock Origin and everything is fine , I don't know how .

[2020-03-10 15:43] jawadalkassim commented on #9082
![Screenshot_20200310-174045](https://user-images.githubusercontent.com/48631694/76330572-a94b9080-62f6-11ea-92ff-e3378625f6d8.jpg)

[2020-03-10 15:51] cadeyrn commented on #9082
I was not able to reproduce the issue with uBlock Origin 1.25.0. Now, after I received uBlock Origin 1.25.2, I have exactly the same issue as the issue opener.

OnePlus 7T Pro McLaren Edition / Android 10
Fenix latest version from 4.0 branch (revision 3dc4582fe08e7f8f9c61f0c21b102ab52567bf75)

[2020-03-10 15:53] Amejia481 commented on #9082
@cadeyrn would you mind to killing the app and open it again?

[2020-03-10 15:54] cadeyrn commented on #9082
Killing the app via the Android recent apps screen does _not_ solve the problem.

[2020-03-10 15:55] jawadalkassim commented on #9082
Try Uninstall uBlock and installing it again.
@cadeyrn

[2020-03-10 15:57] Amejia481 commented on #9082
@cadeyrn before uninstalling could you try the "force stop" button on the "App info"?

[2020-03-10 15:59] mcomella commented on #8662
Dupe #7380.

[2020-03-10 15:59] #8662 closed

[2020-03-10 15:59] Amejia481 commented on #9082
@cadeyrn this is the button that I mentioned
![image](https://user-images.githubusercontent.com/773158/76332235-7db0b200-62c6-11ea-8c08-98f7ffa6d59f.png)

[2020-03-10 16:02] tom-james-watson commented on #8073
Can confirm that this is still happening on `Nightly 200309 Build #20691807`

[2020-03-10 16:14] cadeyrn commented on #9082
I tried the "force stop" button, but without success.

[2020-03-10 16:26] Amejia481 commented on #9082
Thanks for the report will be work on finding the root of the issue, I think so far the work around will be to uninstall sorry about that.

[2020-03-10 16:29] jonalmeida commented on #771
Since the feature has been implemented, shall we close this @vesta0 ? We can file any new follow-up bugs.

[2020-03-10 16:39] emalysz commented on #9066
By using the VisualCompletenessQueue, I reintroduced the code I removed in https://github.com/mozilla-mobile/fenix/pull/8396/files and did not see a significant change. It was 1ms faster than the current implementation (no experiments) on GeckoBetaFenixBeta variant, which can be attributed to noise.

[2020-03-10 16:58] colorsakura commented on #9082
![Screenshot_2020-03-11-00-57-54-36_4f415facf3ad44f1a8c1a05936f33201](https://user-images.githubusercontent.com/32534829/76338230-5c39df80-6333-11ea-8ff7-05c991938671.jpg)

me too

[2020-03-10 17:13] overholt opened #9086 "Bottom of page missing (shows as white like it's cut off)"
https://rachelbythebay.com/w/2020/03/09/bzzz/ renders with a blank bottom section in Fenix Nightly ("Tuesday 3/10 @ 6:06 AM" -> GV 75.0a1-20200309091841):

![Screenshot_20200310-085647](https://user-images.githubusercontent.com/591864/76339441-77273800-62d0-11ea-9317-438e15e54e10.png)

but renders correctly in Fennec (68.5.0):

![Screenshot_20200310-085654](https://user-images.githubusercontent.co

[2020-03-10 17:21] jonalmeida commented on #771
I'm actually going to close it, we can always re-open. :)

[2020-03-10 17:21] #771 closed

[2020-03-10 17:24] csadilek commented on #8251
@Cheap-Skate The uBlock fix above was shipped in uBlock 1.25.2. At least to that extent that I saw the problem I can confirm that it's fixed. However, my first page load wasn't nearly as slow as you reported. Can you verify the fix using latest Nightly and uBlock?

You can find the uBlock version under: Settings -> Add-ons Manager -> tap on uBlock Origin -> Details - > Scroll to the bottom -> Vers

[2020-03-10 17:26] MarcLeclair commented on #7035
As of early March, with all the changes we've had, this is what I've noticed on a G5+ with 10 runs for each # of tabs:
![image](https://user-images.githubusercontent.com/16614353/76340774-827b6300-62d2-11ea-8087-f34a328fdf42.png)

As of now, I think we should focus on the weird spike that can be seen when the first tab is opened.

[2020-03-10 17:26] #7035 closed

[2020-03-10 17:33] sblatz commented on #3597
We should also respect the "reduce motion" toggle.

[2020-03-10 17:53] acreskeyMoz commented on #8291
@csadilek this is looking really good:
https://perfht.ml/2ICbarq
Unfortunately we don't have URL bar performance tests yet, but I can see that the content process is up and ready. It certainly feels snappier to me.

[2020-03-10 18:21] darkwing opened #9088 "[Bug] Top Sites Needlessly Wrap in Horizontal Mode"
![Screenshot_20200310-130114](https://user-images.githubusercontent.com/46655/76345811-f9642c00-62d1-11ea-976b-cd3171f89fdb.png)

## Steps to reproduce
1. Open the app with more than 5 top sites
2.  Turn your phone horizontal

### Expected behavior

All top sites are on one line

### Actual behavior

Top sites wrap

### Device information

* Android device: Pixel 4

[2020-03-10 18:38] mcomella commented on #7380
I said I'd do this but to save time, I'm not going to. When addressing this bug, please:
- Leave it in the Backlog unassigned so this issue can be parallelized
- Select one item from the list Eric linked and file a bug to represent it: assign yourself and move to In progress
- In the linked document, add a note mentioning you've filed the bug for that item
- Work on the bug
- Repeat until they're

[2020-03-10 19:11] Baron-Severin commented on #7408
@BranescuMihai is working on this in
https://github.com/mozilla-mobile/fenix/pull/8805

[2020-03-10 19:24] csadilek commented on #8291
Thanks @acreskeyMoz for verifying!

[2020-03-10 19:24] #8291 closed

[2020-03-10 19:52] Amejia481 commented on #9082
Looks like disabling and enabling the add-on back is another workaround.
`Settings` -> `Add-ons Manager` -> tap on `uBlock Origin` -> Switch button

[2020-03-10 20:07] cadeyrn commented on #9082
Yes, uBlock Origin works again after disabling and enabling again. Uninstalling and installing the add-on did not help (I tried this before).

[2020-03-10 21:23] topotropic commented on #955
Thanks for your feedback. Compact tabs are captured in this issue as well https://github.com/mozilla-mobile/fenix/issues/5805. I'm going to close it.

[2020-03-10 21:23] #955 closed

[2020-03-10 21:33] ekager commented on #9027
Looked into this with @grigoryk and it seems to be a regression from updating to AS53 here: https://github.com/mozilla-mobile/android-components/pull/6110

If we need to cut this week, we will need to ask for a pinned AC version with a downgrade to AS52. (Should be possible because doesn't look like there were any breaking API changes)

[2020-03-10 21:37] topotropic commented on #4351
Thanks for the feedback, will close this issue, see comment above.

[2020-03-10 21:37] #4351 closed

[2020-03-10 21:43] topotropic commented on #4479
This is covered here https://github.com/mozilla-mobile/fenix/issues/5762. Thanks for the feedback. I'll close the issue.

[2020-03-10 21:43] #4479 closed

[2020-03-10 22:01] topotropic commented on #4490
Thanks for the feedback, it's covered here https://github.com/mozilla-mobile/fenix/issues/8764. I'll close it.

[2020-03-10 22:01] #4490 closed

[2020-03-10 22:04] topotropic commented on #6660
Thanks for the feedback, we'll address this here https://github.com/mozilla-mobile/fenix/issues/8764.  I'll close it.

[2020-03-10 22:04] #6660 closed

[2020-03-10 22:17] topotropic commented on #8884
Thanks for the feedback, I'll close it since it's a dupe, see above comment.

[2020-03-10 22:17] #8884 closed

[2020-03-10 22:24] MockinAeon opened #9090 "[Bug] Firefox preview doesn't support Webauthn but PublicKeyCredential return true"
## Steps to reproduce
Attempt to login a website using security key(webauthn) as two factor
### Expected behavior
show not support webauthn message based on a javascript block checking `window.PublicKeyCredential` which should be null/undefined.
### Actual behavior
It's not null/undefined which makes the app think it supports webauthn.
### Device information

* Android device: Multiple
* Fenix ver

[2020-03-10 22:38] kbrosnan commented on #9090
Dupe #1340

[2020-03-10 22:38] #9090 closed

[2020-03-10 22:40] kbrosnan commented on #9090
Though maybe Gecko should not advertise support when the UI has not been implemented. Might be worth a bug at https://bugzilla.mozilla.org/enter_bug.cgi?product=GeckoView

[2020-03-10 23:16] jonalmeida commented on #2579
In my testing so far with all the links above, as @ripdog also mentioned, all these sites generate `blob` URLs and GeckoView explicitly [does not handle non-http or https requests](https://dxr.mozilla.org/mozilla-central/rev/6f21f98dcfcd3420ea528c6ede104fd4d1d36e75/mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoWebExecutor.java#127-129) right now.

A-C tracking bug:
  - https://

[2020-03-11 00:27] mcomella commented on #7513
Let's leave this open to track the upstream issue.

[2020-03-11 00:32] mcomella opened #9091 "[Bug] CollectionCreationFragmentTest unit test fails on master: java.lang.IllegalArgumentException"
## Steps to reproduce
- checkout master
- `./gradlew testgeckonightlydebugunittest`

### Expected behavior
Pass

### Actual behavior
One test fails:
[code]

**This also happens in CI, blocking PRs from landing.**

It fails with the stack trace:
[code]

### Device information

* Android device: ?
* Fenix version: ?

[2020-03-11 00:33] liuche commented on #6900
I'll move the screenshot over and dupe-closing this.

[2020-03-11 00:33] #6900 closed

[2020-03-11 00:34] liuche commented on #6940
According to the GV team, the APIs to fix this should be available now.

[2020-03-11 01:40] Amejia481 commented on #9082
It looks like the issue could be on the GeckoView layer, I opened the below bug to investigate
https://bugzilla.mozilla.org/show_bug.cgi?id=1621503

[2020-03-11 02:57] crotopus opened #9092 "[Bug] Notification of closing a tab hangs on after unlocking the device"
## Steps to reproduce
1. Open a few tabs (2 or more)
2. Close one of them
3. Then immediately switch to one of previously opened tabs
4. Lock your device, the "tab has been closed" notification is still shown
5. Unlock your device
6. Tap to Undo button on the notification to dismiss it
### Expected behavior
The "tab has been closed" notification should disappear sometime after the device is unlock

[2020-03-11 02:57] anuvindbhat opened #9093 "[Bug] Tab closed toast can't be dismissed"
## Steps to reproduce
Close a tab from the "Open tabs" menu. This will create a "Tab closed" toast. Tap or swipe the toast (in any direction).

### Expected behavior
The toast will be dismissed.

### Actual behavior
The toast is not dismissed (happens sometimes).
Navigating to another page (like settings) before trying to dismiss it might make the bug occur more often. The toast can only be dismis

[2020-03-11 04:05] vesta0 commented on #771
Thanks for implementing this feature @jonalmeida 👍

[2020-03-11 04:06] anuvindbhat commented on #9093
Might be related to #9092

[2020-03-11 04:21] kbrosnan commented on #9093
Dupe #8472. Fixed in 4.0 which is in the process of being rolled out.

[2020-03-11 04:21] #9093 closed

[2020-03-11 04:22] kbrosnan commented on #9092
Assuming that you are using 3.2.x. This is fixed in version 4.0. Closing as a dupe of #8472

[2020-03-11 04:22] #9092 closed

[2020-03-11 04:23] LittleAngelwings commented on #9082
On my two devices uBO 1.25.2 works fine with the latest nighty-builds.
The only thing I did was to refresh the filter lists on uBO a few days ago.
My devices are:

Huawei P smart 2017 (Android 9.1.0, Stock)
Samsung Galaxy Tab A6  SM-T580 (Android 8.1.0, Stock)

[2020-03-11 06:18] ayushi1998 commented on #9074
Can I be assigned this?

[2020-03-11 06:27] grigoryk commented on #9027
Tracking a fix in https://github.com/mozilla/application-services/issues/2791

[2020-03-11 06:27] ayushi1998 commented on #7860
Hey what do i need to do for this issue?

[2020-03-11 08:06] madb1lly opened #9096 "[Bug] Privacy badger installed? Or not?"
## Steps to reproduce
I don't know the steps to reproduce, because I can't reproduce it. However, this is what happened:
1. Fenix Nightly before update this morning - no tab about installation of privacy badger was present.
2. Updated to newest version via the Play store.
3. Then I have a tab which says "thank you for installing privacy badger" or something similar. The address for this tab is moz

[2020-03-11 08:26] sv-sdeiac opened #9097 "[Bug]The avatar is not updated after changing it"
### Prerequisites
Make sure that the account has an avatar set.

## Steps to reproduce
1. Log in into Firefox account;
2. From Desktop, change the avatar;
3. Sync on both Desktop/mobile devices;
4. Observe the mobile account avatar.

### Expected behavior
The avatar is updated with the last change.

### Actual behavior
The avatar is not updated.

### Device information
Android device:
- Google Pix

[2020-03-11 08:29] sv-sdeiac commented on #8296
Hello, I can confirm that the avatar is now displayed in the settings menu but it doesn't update after changing it. For this issue, I created a ticket #9097 to track this problem.

Devices:
- Google Pixel (Android Q);
- Samsung Galaxy Note 10 (Android 9);
- Nokia 6 (Android 7.1.1).

Build: Firefox Preview Nightly 3/11 #20710604.

[2020-03-11 08:29] #8296 closed

[2020-03-11 08:42] mcarare commented on #9088
@darkwing On what version of Fenix did you test this? This should be fixed on the latest master.

[2020-03-11 08:56] rfk commented on #9097
There's probably some push-notification plumbing we'll need to do on the appservices side to make this happen smoothly.

[2020-03-11 09:02] Cheap-Skate commented on #9088
I have unnecessary wrapping / left justification in portrait mode on my Galaxy A40, with today's Nightly.

This behavior is new in the last couple of days, previously the grid was 5 wide and properly centered, now it's 4 wide and left justified.

Galaxy A40, Android 9, today's Fenix Nightly

![Screenshot_20200311-085951_Firefox Nightly](https://user-images.githubusercontent.com/40568887/76399650-e

[2020-03-11 09:06] sv-sdeiac commented on #9086
Hello, I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 3/11 #20710604.
This issue disappears after zoom-in a little bit the page but reappears after zoom-out.

#### Devices:
- Google Pixel (Android Q) - 1080 x 1920 pixels (~441 ppi pixel density);
- Nokia 6 (Android 7.1.1) - 1080 x 1920 pixels (~403 ppi pixel density).

Also, I can't reproduce this

[2020-03-11 09:20] Archaeopteryx commented on #8725
This affects random tests due to the `E/glean/Glean: Glean should not be initialized multiple times` message. E.g. it's contained in the following huge log: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XqS4rrZ6Q_qlZzSW43mTVA/runs/0/artifacts/public/logs/live_backing.log

[2020-03-11 09:47] JohanLorenzo commented on #7702
I'm sorry, I'm not sure to fully understand your question. I'm going to reply with what I get from the issue, for the sake of timezones. Feel free to ask any other questions if I didn't reply to what you had in mind.

To me, the main problem is this: `org.mozilla.fenix.nightly` and
`org.mozilla.fenix.debug.test`. If I understand correctly, the latter should be `org.mozilla.fenix.nightly.test`. In

[2020-03-11 09:50] softvision-miralobontiu commented on #4717
I was not able to reproduce the issue on the latest Nightly from 3/11 with Xiaomi Redmi Note 8T (Android 9), and HTC Desire 820 (Android 6.0.1).
Removing the needs:STR label.

[2020-03-11 10:19] AndiAJ commented on #8950
Hi, **verified as fixed** on the latest **`Nightly Build #20710605 from 03/11`** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)

►Video
![20200311-113750](https://user-images.githubusercontent.com/51314259/76406514-8373c980-6392-11ea-8bff-23b275d2beac.gif)

[2020-03-11 10:19] #8950 closed

[2020-03-11 10:24] sv-sdeiac opened #9098 "[Bug]Can't play the previous/next track using S Pen air actions"
## Steps to reproduce
1. Open youtube in Firefox Preview;
2. Play/pause the media using S Pen air actions;
3. Play the previous/next track using S Pen air actions;

### Expected behavior
The previous/next track action is working using the S Pen air actions.

### Actual behavior
The previous/next track action it works using the S Pen air actions.

### Device information

* Android device: Samsung G

[2020-03-11 11:46] softvision-miralobontiu commented on #2993
Cannot reproduce this issue on the latest Nightly build from 03/11 with Xiaomi Redmi Note 8T (Android 9).
Removing the needs:STR label.

[2020-03-11 11:52] mcarare commented on #8600
@AmyYLee This was intentional, because the smaller space between the preference above indicates the fact that this is dependant on that. An alternative would be make it the same size, but indent the checkbox. What is your suggestion?

[2020-03-11 13:04] dep-dt commented on #8759
I'd love a simple long-press on a pinned share item to remove it. that'd help.

[2020-03-11 13:10] softvision-miralobontiu commented on #3863
I was not able to reproduce this issue on the latest build of Nightly from 03/11 with Xiaomi Redmi Note 8T (Android 9).
Removing the needs:STR label.

[2020-03-11 13:11] sflorean opened #9099 "[Bug]Visual issue if the permission are denied for "Ready to scan" details."
## Steps to reproduce
1. Launch Fenix and go to Settings ->Turn on Sync -> Ready to scan;
2. Deny permission.

### Expected behavior
Scan the code details are displayed without visual issues.

### Actual behavior
The text is highlighted in black.

### Device information
* Android device: Google Pixel (Android Q), Samsung Galaxy Tab S6(Android 9)
* Fenix version: Nightly 11/03 #20710605 Gv:75.0a1

[2020-03-11 13:21] sv-sdeiac commented on #9096
Hi @madb1lly, I was able to reproduce your situation using the following steps, please confirm if you can reproduce using my steps.

### Steps to reproduce
1. Download the Nightly apk build from: http://archive.mozilla.org/pub/mobile/nightly/2020/01/2020-01-20-18-04-35-mozilla-esr68-android-api-16/;
2. Open Firefox Nightly;
3. Go to add-ons and install privacy badger;
4. Update Nightly using Play

[2020-03-11 14:00] darkwing commented on #9088
Good shout!  This is fixed!

[2020-03-11 14:00] #9088 closed

[2020-03-11 14:05] sv-ohorvath opened #9100 "[Bug] Clearing private tabs from notification closes the app"
## Steps to reproduce
1. Open a tab in private browsing.
2. Tap home to minimize the app
3. Tap the private tabs notification from the system notification tray.
### Expected behavior
Private tabs are closed.
### Actual behavior
App gets removed from recent apps.
### Device information

* Android device:
* Fenix version: Nightly 3/11

[2020-03-11 14:42] softvision-miralobontiu commented on #8436
I reproduced the issue today on the latest Nightly build from 3/11 (#20710605, AS 0.53.0) with Xiaomi Redmi Note 8T (Android 9), LG G7 Fit (Android 8.1), and Windows 10.
I bookmarked some pages on mobile, moved some folders on desktop, and triggered sync. The changes made on mobile were not visible on desktop, and vice-versa.

[2020-03-11 14:54] softvision-miralobontiu commented on #3300
I was not able to reproduce the issue on the latest Nightly build from 3/11 with Xiaomi Redmi Note 8T (Android 9).
Removing the needs:STR label.

[2020-03-11 14:57] softvision-miralobontiu commented on #3304
Removing the needs:STR label, since this issue is not reproducible and closed.

[2020-03-11 15:04] softvision-miralobontiu commented on #5628
Removing the needs:STR due to the [comment](https://github.com/mozilla-mobile/fenix/issues/5628#issuecomment-537319929) above.

[2020-03-11 15:12] sblatz commented on #8768
Based on snorp's comment this will require an AC patch. I'm looking into it now.

[2020-03-11 15:24] Amejia481 commented on #8908
Closed by https://github.com/mozilla-mobile/fenix/pull/9060/commits

[2020-03-11 15:24] #8908 closed

[2020-03-11 15:54] BranescuMihai commented on #8972
@AmyYLee Let me check if I understood correctly what should be changed. Current dark colours:
- Library item checkmark + toolbar in edit mode: **#9059FF (light violet)**
- Collections checkbox: **#592ACB (dark violet)**
- Collections bottom snackbar: **#592ACB (dark violet)**

This should be changed to:
- Library item checkmark + toolbar in edit mode: **#AFAFBB (which is a blueish grey)**
- Collec

[2020-03-11 15:58] Cheap-Skate commented on #8251
@csadilek I had to uninstall and reinstall to get uBO to update to 1.25.2 (possibly another bug?)

But with 1.25.2 my cold start time is still terrible:-

check uBO 1.25.2 is installed and "on", tick most filters to get ~190k network filters + ~100 k cosmetic filters.
kill Fenix, relaunch Fenix.
Tap mozilla.org in Top Sites
It takes me 8 seconds from tapping to page loaded.  The progress bar stall

[2020-03-11 16:01] AmyYLee opened #9103 "[Sync] Can't sync logins, history, can't un-sync bookmarks"
1. Log into your Firefox account on Fenix
2. Go to Settings -> Sync
3. Tap on checkboxes for logins, history and bookmarks

Expected:
Items are checked/unchecked when you tap

Actual:
You can't check/uncheck items

See video
https://cl.ly/f3b7c76b1546

[2020-03-11 16:04] Amejia481 commented on #8251
@Cheap-Skate is https://github.com/mozilla-mobile/fenix/issues/9082 the issue that you experienced when updating?

[2020-03-11 16:10] Cheap-Skate commented on #8251
@Amejia481 no, my issue is uBO failed to auto-update, it got stuck on 1.24.2 and did not auto-update to 1.25.0 and then 1.25.2.  My Fennec & Desktop Firefox updated correctly.

IIRC uBO 1.25.0 was release 21 days ago, 1.25.2 so I should have been updated.

I just manually uninstalled Fenix uBO and re-installed and got 1.25.2.

[2020-03-11 16:12] Amejia481 commented on #8251
Which version of Fenix are you using?

[2020-03-11 16:18] Cheap-Skate commented on #8251
I update Fenix Nightly nearly every day from the Play Store. Just half an hour ago I updated to the latest (screenshot below) but I guess I have had the problem for many versions of Fenix since I have updated Fenix many times without receiving a uBO update.

![Screenshot_20200311-161446_Firefox Nightly](https://user-images.githubusercontent.com/40568887/76438894-816e3280-63b3-11ea-8641-f5efb96e347

[2020-03-11 16:28] Amejia481 commented on #8251
It's pretty strange 🤔 the only two conditions for the updater to kick up are that the device is idle and it is not running low in space. Let's keep an eye open for the next update, please file a bug if it doesn't update after 2 days of the uBlock update. Thanks

[2020-03-11 16:29] Amejia481 commented on #8251
By the way, what is that yellow box in the screenshot?😄

[2020-03-11 16:31] topotropic commented on #4841
cc @betsymi this is the component meta, there's a list of components in the initial comment

[2020-03-11 16:34] Amejia481 commented on #3207
The issue have been partially fixed, the location is found, but we are getting the permission prompt twice see
https://bugzilla.mozilla.org/show_bug.cgi?id=1621689

[2020-03-11 16:36] Cheap-Skate commented on #8251
Will do.  Is there any diagnostic stuff I can see in about:addons or about:config to see if it is attempting/failing to update.

[  It's my lifesaver app Sticky Notes by Harman Bhutani. Just a set of onscreen Post-Its in different colors, write lists on them and then throw them to the side of the screen where they sit and irritate you until you finish the list. I can't recommend it highly enough.

[2020-03-11 16:38] agi90 commented on #8251
@Cheap-Skate Can you post a profile with uBlock 1.5.2 that shows slow cold startup?

[2020-03-11 16:46] rocketsroger opened #9104 "Pass release channel information to Socorro service"
Currently Android Component is using the build config to determine release channel.  In some cases this is incorrect.  Pass release channel information to Socorro service from Fenix.

[2020-03-11 16:51] Cheap-Skate commented on #8251
https://perfht.ml/3cSrthC

[2020-03-11 16:54] #9091 closed

[2020-03-11 16:58] ekager commented on #9097
Bumping it down to S3 because I don't think this is a very common user case :)

[2020-03-11 17:21] ekager commented on #9103
Dupe of #9027

[2020-03-11 17:21] #9103 closed

[2020-03-11 17:31] ekager commented on #8759
If I understand the problem correctly, I think the recently used app section should "scroll with" the other list? Does that make sense/is possible?

[2020-03-11 17:44] ekager commented on #7674
Are you still seeing this issue @DobaKung ?

[2020-03-11 17:49] ekager commented on #5436
@dector please let us know if this is still happening or if we can close this bug

[2020-03-11 18:06] darkwing commented on #9023
Isn't this just a website error?  I don't think this is Fenix-specific.

[2020-03-11 18:21] boek opened #9106 "[Bug] Search Code is always null"

[2020-03-11 18:27] Mugurell commented on #7726
Could not reproduce the crash but I see another issue on various devices:
After pressing retry the current snackbar is dismissed but another new one isn't shown.
Trying to track this issue down was a rabbit hole but with enough logs in our code and in the `com.google.android.material.snackbar` package I got to see that
- when user presses retry [we dismiss the current snackbar](https://github.com/

[2020-03-11 18:32] ekager commented on #9023
Yeah this is just a website error and seems to be working now! Closing

[2020-03-11 18:32] #9023 closed

[2020-03-11 19:58] csadilek commented on #8467
@DanielOrban this is fixed now in the latest Nightly. Can you verify?

[2020-03-11 20:00] cadeyrn opened #9107 "[Bug] outdated "What's new" article highlighted"
### Steps to reproduce

1. start Firefox Preview after the update from version 3.2 to 4.0

### Actual behavior

The "What's new" menu item was highlighted and linked to the article about the new features of Firefox Preview 3.0.

### Expected behavior

Either

a) highlight the new features of Firefox Preview 4.0 instead of 3.0 or
b) don't highlight the menu item at all

[2020-03-11 20:28] AmyYLee opened #9109 "[Menu] The notification dot is still visible in the 3-dot menu (faintly)"
The notification dot is still visible in the 3-dot menu (faintly) when sync account is disconnected.

<img width="758" alt="Screen Shot 2020-03-11 at 16 30 34" src="https://user-images.githubusercontent.com/5992746/76461119-aa8fc280-63b5-11ea-9ed3-901b988fd6f7.png">

@softvision-miralobontiu wrote:

Let’s remove the yellow overlay and dot from all themes. @AmyYLee and I agreed that this issue does

[2020-03-11 20:49] AmyYLee commented on #8972
@BranescuMihai

Hi, thanks for confirming. I can see why there is confusion. I've updated the spec so it's correct.

This should be changed to:

    Library item checkmark + toolbar in edit mode: #9059FF (light violet)
    Collections checkbox: #9059FF (light violet)
Collections checkbox: #9059FF (light violet)

    Collections bottom snackbar: #9059FF (light violet)

[2020-03-11 20:50] MarcLeclair opened #9112 "Investigate the Search Suggestion Responsiveness"
From #7380 , this was identified as one possible avenue where performance could maybe be improved. This issue is targeted to investigate into how efficient our Search Suggestion is.

Within the search suggestion, there are two use case that interest us:

1. home -> search ui [ User gets there by clicking on the url bar] + "search with" + onscreen keyboard should be ~100ms (up to 250ms is ok)

2.st

[2020-03-11 20:55] AmyYLee commented on #8600
@mcarare Hi, the suggestion was to give more space to the padding under "Show in private sessions" because it's very close to the bottom navigation and not the space above it.

[2020-03-11 20:55] FoxDie12x commented on #7860
Isn't this issue resolved already? I guess the padding has been fixed already... (see screen below on my device; Fenix language set to Arabic)

![Screenshot_20200311-215343](https://user-images.githubusercontent.com/1681771/76462973-e3925c00-63e2-11ea-970c-06124b2bfc51.png)

[2020-03-11 21:10] ekager commented on #7860
Looks like it has been fixed. Closing! Thanks for verifying. Please reopen if anyone is still seeing issues

[2020-03-11 21:10] #7860 closed

[2020-03-11 21:14] karlcow commented on #4498
Does this include about changing the ua string to be a desktop ua string like safari on ipad.

[2020-03-11 21:20] FoxDie12x commented on #7676
After investigating: It seems this issue is not related to Fenix, but to wikipedia's mobile page itself.

**In Fenix**: The issue can only be reproduced when visiting a wikipedia article's mobile page, such that the menu icon is shown on the top left. Selecting all text indeed shows the text 'open' right under the icon. You don't even need to select all text; you can simply long tap the menu icon

[2020-03-11 21:28] jonalmeida opened #9113 "UnsatisfiedLinkError: No implementation found for org.mozilla.geckoview.Base64Utils.encode(byte[])"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/7492544/

[code]

Parent issue: https://github.com/mozilla-mobile/fenix/issues/9059

[2020-03-11 21:28] jonalmeida commented on #9113
R-B bug: https://github.com/mozilla-mobile/reference-browser/issues/1042
G-V bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1619778

[2020-03-11 21:29] #7676 closed

[2020-03-11 21:29] kbrosnan commented on #7676
Thank you @FoxDie12x for doing some cross browser investigation.

[2020-03-11 21:45] agi90 commented on #8251
mmh. I don't see much time spent in uBlock lists in the latest profile. I tested on my S10 and S7 and performance seems to be in line with Fennec (we're a little slower, but that's across the board, not just with extensions)

I think what you're seeing is uBlock sometimes not catching the lists, which causes startup to be much slower, I'm looking at that.

see video here: https://imgur.com/a/bK0zl

[2020-03-11 22:56] dector commented on #5436
Just upgraded to the latest version. I'm experiencing freezes (sometimes up to 2-3) when pages are loading or when I'm selecting UI elements (however not when I'm scrolling :thinking:).

I guess we can close this issue for now. I'll try to profile browser when I'll have time to do it. Thanks, @boek, @abodea and @ekager !

[2020-03-11 23:11] JNavas2 opened #9115 "[Bug] New Collection Is Not Created until New Tab Page Is Shown"
## Steps to reproduce

1. Open [Google News](news.google.com)
2. Open 1st article
3. Save to Collection
4. Add new collection
5. Close 1st article
6. Open 2nd article
7. Save to Collection

### Expected behavior
New Created Collection (Step 4) appears in list of Collections.

### Actual behavior
New Created Collection (step 4) does **not** appears in list of Collections,
will not be created until

[2020-03-12 00:17] liuche opened #9116 "Releng 4.1"
## Overview ##

| Monday          | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|-----------------|---------------------------|------------------------------|----------------|-------------|
| (Sprint 1 Start)|                           |                              |                |             |
|                 | Hard code freeze for Beta |

[2020-03-12 00:19] liuche commented on #9116
[#8949, #8897, #8800, #8474, #8908, #9091, #7087, #8017, #9068, #8296, #7270, #9013, #8999, #9059, #8967, #8788, #8985, #8423, #9014, #9041, #9015, #8874, #8975, #7158, #9008, #8291, #8961, #8395, #7847, #8621, #8931, #7554, #8593, #8953, #8950, #6607, #5308, #6730, #8855, #7344, #8046, #7863, #5346, #8859, #2271, #8135, #167, #7603, #8797, #8766, #8898, #8733, #8873, #106, #7781, #8773, #8034, #8

[2020-03-12 00:22] brampitoyo commented on #8814
Sounds like a decision has been made here. @AmyYLee wrote:

I’ll remove the `needs:UX-feedback` label now.

[2020-03-12 00:26] brampitoyo commented on #8759
Would it help if the amount of recent apps/actions are reduced to 6? That way, you’ll have space for at least 2 apps in the “All” list.

[2020-03-12 00:31] dep-dt commented on #8759
I think 6 is a good max. maybe even 4.  Max of 6 with longpress to remove would solve the problem for me.

[2020-03-12 00:34] dep-dt commented on #8759
I like @ekager's idea as well, in addition to a sensible max.  👍

[2020-03-12 00:38] willfs84 opened #9118 "show Top Sites when user taps URL or taps "New tab" (search suggestions view, address bar sheet)"
In other major competing browsers like Chrome, Edge, Safari etc., when the user taps the URL or they tap "New tab", their Top Sites are there. This is important for UX efficiency. Firefox should also do this.

There's 2 different ways it can be done: 1 way is to show the Top Sites in a list (this is what Chrome does when you tap the URL when you're on a website), the other way is to show them as "

[2020-03-12 00:43] brampitoyo commented on #8693
@Mugurell I’ve designed an RTL variant that’s ready for export, and @apbitner (who’s the owner of this feature) will be able to post the assets here.

<img width="328" src="https://user-images.githubusercontent.com/51007/76476581-50e7d080-6467-11ea-9737-2097929596f6.png">

[2020-03-12 00:50] brampitoyo commented on #8685
While I’m open to make this change, I also want to acknowledge the fact that we used the “Overline” text style deliberately, which following Material Design, is set in all caps.

See the “Overline” section here: https://material.io/design/typography/the-type-system.html#applying-the-type-scale

I would say that this isn’t an issue for now. What do you think?

[2020-03-12 01:04] karlcow commented on #9074
* https://github.com/webcompat/web-bugs/issues/49727
* https://github.com/webcompat/web-bugs/issues/49594

[2020-03-12 01:17] karlcow commented on #9074
https://github.com/webcompat/web-bugs/issues/49599

[2020-03-12 01:25] magorlick commented on #7295
@sblatz @boek , are we intentionally not including the client_id here? I would like to be able to connect this to the other Glean pings and I thought that was ok.  I need the client_id to make the right connection.

[2020-03-12 01:26] karlcow commented on #9074
Probably https://github.com/webcompat/web-bugs/issues/49603

[2020-03-12 02:03] jonalmeida opened #9120 "[Bug] Send Tab doesn't work after sign-out, sign-in then cold booting app"
## Steps to reproduce
1. Sign-in to Sync.
2. Test Send Tab.
3. Sign-out.
4. Sign-in again (the same account is fine).
5. Swipe away the app.
6. Re-open the app.
7. Test Send Tab

### Expected behavior
 - A tab should be received at step 2 and 7.

### Actual behavior
 - A tab should be received **only** at step 2.

### Device information

* Android device: Android 10
* Fenix version: Nightly (2020-