[2019-10-01 15:56] #533 closed

[2019-10-01 16:20] vesta0 commented on #5197
Great point @pocmo :) Since Autoplay is supposed to be by default, I figured we can measure how often users use the browser to play media by how often they interact with the media controls. But I see what you mean about media usage in general. I think it's a good idea to add those. I will create another issue for it @sblatz

[2019-10-01 16:24] vesta0 opened #5705 "[Telemetry] Media usage"
#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know how often the browser is used to play media, so I can prioritize media related bugs accordingly.

#### What probes

New probes to track the following states:

| Action | Item            |  Description                              | Works?  |
|--------|-----------------|------------------------------

[2019-10-01 16:27] klint commented on #5518
Thanks for the clarification (even if I'm not satisfied with the current behaviour ;) )
If you don't mind : on a broader perspective, the way page shortcuts on homescreen behave seems to be lacking of some consistency for the moment: to sum up, shouldn't we be able to create shortcuts in private mode and expect them to always open in private mode on one hand, and create shortcuts in public mode an

[2019-10-01 16:44] yoasif commented on #5634
I am also seeing this issue on https://www.dallasnews.com/news/courts/2019/10/01/amber-guyger-convicted-of-murder-for-killing-botham-jean/

on my Pixel 2:

"Nightly 190930 18:01" (Build #12731805)
📦: 15.0.0, 8562fc768
🦎: 71.0a1-20190928211735

[2019-10-01 16:57] sblatz commented on #5244
@cadeyrn I have added that to our template for 2.1 Thanks for bringing it up 😄

[2019-10-01 16:58] #5244 closed

[2019-10-01 17:01] april commented on #5073
I will note that [Certainly Something](https://github.com/april/certainly-something) already works perfectly on Fennec, and is getting merged into Firefox 71. In theory, it should be relatively straightforward to steal that code.  :)

[2019-10-01 17:03] yoasif opened #5708 "[Bug] Tab switching animation blanks out past outline of tab during animation"
## Steps to reproduce

1.Open a few tabs
2. tap the tab switcher / tab a tab from the home page

### Expected behavior

The animation as the tab gets smaller shows the tab getting smaller and larger.

### Actual behavior

The tab animation first blanks out the entire screen, then compresses the tab (when switching to the home screen).

When moving back into a tab, the tab doesn't animate in at all

[2019-10-01 17:07] pocmo commented on #5634
I've seen something like this on a different page too. I'll nominate this for the next AC sprint.

[2019-10-01 17:09] pocmo commented on #3880
Yeah, it should. But I am not sure whether our build/publish mechanism will work as expected. That's why I would love to try that with a local repository before enabling it in buildconfig.yml. If that works then yes, let's set it to publish: true and then test again with the snapshots. :)

[2019-10-01 17:35] sblatz commented on #1216
I think this would not be a ton of engineering effort for us since we're already using this for the search widget :)

[2019-10-01 17:35] kamran-12 commented on #5345
It also happens when the app which requests the browser uses a normal browser tab instead of a custom tab.
I am not sure if it is a bug, but this behavior is definitely bad. I particularly like the fact that Fenix doesn't disable private mode at the end of each browsing session. I hate browsing history, and I hate clearing it or enabling private mode every time. Of course, we users sometimes need

[2019-10-01 17:36] liuche commented on #1216
Some other concerns:
* Will users expect to be notified about using Google voice search, rather than their default search engine?

[2019-10-01 17:40] AmyYLee opened #5709 "[Fenix] Enhanced Tracking Protection UI Review"
Hi,

This is a UI review bug for ETP. Please let me know if you have any questions

![Edits to ETP](https://user-images.githubusercontent.com/5992746/65986003-fd516f80-e450-11e9-92d5-01b8d8afb7a2.png)

[2019-10-01 17:40] liuche commented on #124
We have so few QA release tests (manual) compared to our userbase, and this requires Glean work, so we're going to close this for now because it's not important. Can re-open if we start doing more automated, release tests.

[2019-10-01 17:46] AmyYLee commented on #5709
Also, is there a way we can have the toggle already switched to ON for ETP in the panel rather than have it animate to ON when the user taps the icon to open the panel? It seems to be a bit distracting when you see a flash of animation of the toggle and icon animating when you open the panel. Also at 0:20 mark, the content of the panel seems to load in 2 parts with "tracking content"
having a dela

[2019-10-01 17:46] sblatz commented on #1901
I will add a Gif to demo.

I will link to the other related issues since it will be the same underlying fix 😄

[2019-10-01 17:49] sblatz commented on #2197
AC: are you able to help us understand:
- How difficult is this to implement?
- Does this make sense to add as a part of the meta of download manager as we work on it?

[2019-10-01 17:50] emilio commented on #4049
Interestingly https://bugzilla.mozilla.org/show_bug.cgi?id=1563422 was just closed as WONTFIX.

[2019-10-01 17:55] sblatz commented on #3170
The UX currently is that all the tabs crash, then if a user presses "close tab" the user is sent back to home screen and the other tabs show "about:blank" for a split second before they're also restored

[2019-10-01 17:56] liuche commented on #3170
Once one tab crashes, since we don't have E10S multi-process, anything that shares that process will crash because we can't fix this until GV gets this in Q2 2020. So we'll close it for now.

[2019-10-01 18:00] cpeterso commented on #2312
The GV bug was fixed in GV Nightly last week:

https://bugzilla.mozilla.org/show_bug.cgi?id=1551659#c24

[2019-10-01 18:00] cpeterso commented on #3487
The GV bug blocking #2312 was fixed in GV Nightly last week:

https://bugzilla.mozilla.org/show_bug.cgi?id=1551659#c24

[2019-10-01 18:00] sblatz commented on #3487
This should be fixed in GV nightly. Can we try adding this back now?

[2019-10-01 18:02] cpeterso commented on #2312
QA can't verify this fix until the "Open image in new tab" menu item is restored in #3487.

[2019-10-01 18:03] sblatz commented on #5478
Confirmed in group triage that this is a high priority bug. Let's listen to the AC hook that Sebastian mentioned 😄

[2019-10-01 18:05] #4452 closed

[2019-10-01 18:05] sblatz commented on #5499
Discussed in group triage, these types of tickets will live in the eng health backlog.

[2019-10-01 18:05] liuche commented on #4452
Closing as fixed by #235

[2019-10-01 18:05] sblatz commented on #5576
@jonalmeida Are you still seeing this on the latest nightly?

[2019-10-01 18:30] AmyYLee opened #5711 "[Fenix] Onboarding colours have contrast issues"
Hi,

Recommendations for fixing some contrast issues for the Onboarding theme. Please see below:

UPDATED Spec for colouring: Please go into "Inspect" mode to view colour hex. Let me know if you have questions @amilaneni99

https://share.goabstract.com/9507950f-cabb-415d-b4fa-1e9ee5229621?mode=design&sha=cf4d6e8baf5e4e3bb504ab793a2e94571e1b043d

[2019-10-01 18:34] vesta0 commented on #1019
@lime124  can we re-use the Focus designs for this one? Attached above.

[2019-10-01 18:35] sblatz opened #5712 "[Bug] Fill link from clipboard text hard to read in dark mode"
We should use `accentUsedOnDarkBackground` attr instead.

<img width="492" alt="image" src="https://user-images.githubusercontent.com/4400286/65989913-73e57180-e43f-11e9-96a6-498a3fa4b104.png">

Pulling this in since it's an accessibility concern for a feature we shipped in 2.1

[2019-10-01 18:55] dector commented on #3880
@pocmo Awesome! I tested `./gradlew :tooling-detekt:publishToMavenLocal` with `maven-publish` plugin.

I guess main publishing mechanism is implemented in `automation/taskcluster/decision_task.py`. If it's needed I can try to dig into it and try to publish components to local maven repository first. But I don't expect any troubles with it as other components are published to mozilla maven without

[2019-10-01 19:28] Lululalu opened #5714 "[Bug] "Rate on Google Play" opens a dialogue asking if the user wants to open the Galaxy Store"
### Steps to reproduce
Go to the settings and touch "rate on Google Play".

### Expected behavior
Google Play's Firefox Preview page opens automatically

### Actual behavior
A dialogue is opened asking which app to use. Touching the Galaxy Store opens the Googl Play Store anyway
![Screenshot_20191001-162308_Android System](https://user-images.githubusercontent.com/32398857/65993974-b4a5b080-e468-1

[2019-10-01 19:34] Lululalu opened #5715 "[Bug] There is too much space under the address bar (or too little above it)"
### Actual behavior
![Screenshot_20191001-004033_Firefox Preview](https://user-images.githubusercontent.com/32398857/65994252-431a3200-e469-11e9-8b1d-71af71f2dfc9.jpg)

### Device information

* Android device: Galaxy A5 2017 Android 8.0
* Fenix version: 191001 nightly

[2019-10-01 19:49] AmyYLee commented on #5323
Hi @jpfaller can you review the suggested copy above for the snackbar above and let me know if this works?

[2019-10-01 19:52] vesta0 commented on #1019
Discussed with the UX team. We can re-use the Focus design for the notification but UX will spend 1-2 hours on wireframe for toggle/setting.

[2019-10-01 19:55] sblatz commented on #1901
Basically the same issue as https://github.com/mozilla-mobile/fenix/issues/4708 but lets make sure that animation looks good too (navigate from browser -> home).

[2019-10-01 19:55] sblatz commented on #4708
Closing in favor of #1901.

[2019-10-01 19:55] #4708 closed

[2019-10-01 19:56] sblatz commented on #1131
Closing in favor of #1901.

[2019-10-01 19:58] ekager commented on #2312
#3487 has been completed and this should work in Nightly now

[2019-10-01 19:59] vesta0 commented on #5073
@AmyYLee will attach a screenshot :)

[2019-10-01 20:36] Lululalu commented on #5188
I believe it's the same as #5695

[2019-10-01 20:40] Lululalu opened #5718 "Reverse Image Search"
### Why/User Benefit/User Problem
Holding an image and then having "search image" in the context menu is just, useful. Other browsers already offer this feature natively and through extensions.

### What/Requirements
Reverse image search

### Acceptance Criteria (how do I know when I’m done?)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-13705)

[2019-10-01 20:48] Lululalu opened #5720 "[webcontent] No context menu while holding images on Google Images"
## Site with issue and any steps to reproduce
Search anything on Google
Touch "images"
Touch any image to enlarge
Hold the image

### Expected behavior
 The context menu is exhibited

### Actual behavior
Nothing happens

### Does toggling Tracking Protection fix the issue? (Press the lock icon in the toolbar while on the site to see toggle)
No

### Can you reproduce in [Firefox for Android](https:

[2019-10-01 20:53] sblatz opened #5722 "[Bug] Search widget icon is pixelated"
<img width="500" alt="image" src="https://user-images.githubusercontent.com/4400286/65999745-e0b63700-e452-11e9-807d-b68e5840a325.png">

[2019-10-01 21:27] jonalmeida commented on #5576
Yes.

[2019-10-01 21:50] sblatz commented on #5636
@vesta0 are you able to sync up with @cpeterso on the priority of this bug so we can eventually get this feature flag removed? :)

[2019-10-01 22:24] vesta0 commented on #1216
I think ideally we should only display the voice input option if the user's default search is Google.

[2019-10-01 22:55] vesta0 commented on #5636
Done!

[2019-10-02 00:41] liuche commented on #1216
Chatted w/ Abe from the Voice team. They're definitely interested in trying out some of their voice features (like the ones in Firefox Voice) in Fenix. For now, the backend for these voice-to-text libraries isn't yet using the Mozilla Common Voice DeepSpeech module, so we should hold off until that is integrated/ready.

[2019-10-02 00:43] liuche commented on #4417
I updated this issue to include #5582, which is the remaining work for Q4 on Downloads. The rest will require more UX work, but that's the MVP we'd like to ship (in Q4).

[2019-10-02 00:44] liuche commented on #5582
This is the MVP issue for shipping Downloads feature.

[2019-10-02 00:52] liuche opened #5724 "[Downloads] Full featured Downloads"
### Why/User Benefit/User Problem
As a user, I want to have control over the status of my downloads, such as pausing or cancelling a download.

### What/Requirements
(This is summarizing the Phase 2 Downloads plan from @lime124 )
In native Fenix UI, we want to manage downloads so that:
- [ ] Starting download will be in notification bar
- [ ] Download progress is shown (not an indeterminate)
- [ ]

[2019-10-02 01:14] liuche commented on #5651
Updated the implementation steps since there weren't any.

[2019-10-02 01:18] brampitoyo commented on #5582
@vesta0 @liuche I’ve asked our Fenix UX designers for feedback, and expect to get them by the end of the week.

This means that I’ll be ready to run through the design with you next week!

@liuche if this work has a GV component, do you know the engineer that we can contact?

Stay tuned.

[2019-10-02 01:19] liuche commented on #5243
@sblatz is this checklist up to date? Just wanted to see if the 2.1 release was going out, or going through another round of QA.

[2019-10-02 02:58] brampitoyo commented on #5650
@NotWoods @AmyYLee I’ve worked on a proposal for automatic private mode upgrade for Firefox desktop.

The problem we had in 2015 is still true today and applies to all white/blacklist:

1. For automatic private mode to happen, Firefox needs to keep track of domains/apps that should open in normal and private modes.
2. To keep track, Firefox needs to maintain some sort of a list and allow the user

[2019-10-02 03:01] ekager commented on #5715
@boek do you know if this is supposed to be vertically centered?

[2019-10-02 03:03] brampitoyo commented on #5573
I agree with @NotWoods:

I also agree with @cadeyrn:

@vipulasri:

* Yes, please follow the Material Design List Specs
* And when implemented, please go through all Settings pages to make sure that the spacing looks ok
* If there are pages that don’t align or look odd, post it here so we can help you diagnose the issue

[2019-10-02 03:06] ekager commented on #5708
Closing as dupe of #4708 and we'll look into the animations with that investigation

[2019-10-02 03:06] #5708 closed

[2019-10-02 03:08] lindongbin opened #5725 "Option to always desktop site view"
**User Story**

As a user who is used to desktop site view, I want the option to always set the desktop site view on.
So I can interact with my browser easily and comfortably.

**Added benefit**

Large phone screen seems nice and cool.

**Acceptance Criteria**

I can do go into settings and choose default desktop site view.
Once I have changed my setting, I can alway view site in desktop mode.

[2019-10-02 03:10] ekager commented on #4818
Nope can no longer reproduce. Closing!

[2019-10-02 03:10] #4818 closed

[2019-10-02 03:12] ekager commented on #5692
Have you given Fenix the system permission to "install unknown apps"?
For me it's Settings -> Apps -> Firefox Preview -> Advanced -> Install Unknown Apps

[2019-10-02 03:14] lindongbin commented on #5725
Nice work!

[2019-10-02 03:15] ekager commented on #2294
Seems like if we made the `minHeight` what the current `height` for these rows are and then made height `wrapContent` (or something along those lines) we could be okay in this list (and other lists) with not much effort.

[2019-10-02 03:16] brampitoyo commented on #5572
@cadeyrn

I guess these shortcuts do practically the same thing:

If created from “Add private browsing shortcut”
Shortcut will open Private Mode.

If created from long-press
Shortcut will first open Private Mode, then it will press the “+” button to add a new private tab.

However, the new Private Tab start page is identical to the Private Mode start page!

Because the page opened is identical, t

[2019-10-02 03:23] ekager commented on #5668
Did you do anything on imgur.com or it just insta-crashes? Not seeing this on latest Nightly on pixel 3

[2019-10-02 03:24] brampitoyo commented on #5567
@colintheshots Thanks for filing this issue!

* Let’s remove the Shortcuts button
* Let’s add a new item under Settings → Search called “Show search shortcuts”, that allows users to turn off search shortcuts. It defaults to ON, and works exactly as @sblatz has described

Thanks heaps for the idea, @sblatz.

[2019-10-02 03:29] ekager commented on #5417
See also #5628 : with non default emoji set on user's phone, certain emojis did not display properly

[2019-10-02 03:29] ekager commented on #5628
Thanks for the followup! I commented in https://github.com/mozilla-mobile/fenix/issues/5417 with this issue so we can track those problems there and close this ticket

[2019-10-02 03:29] #5628 closed

[2019-10-02 03:31] brampitoyo commented on #5295
@ekager What do you think if we show the snackbar permanently for TalkBack users? The snackbar can only be dismissed if they tap/scroll anywhere outside of its area.

This way, TalkBack users have time to undo any decision, but the snackbar is still really easy to dismiss.

But does it make it _too_ easy to dismiss?

[2019-10-02 03:33] brampitoyo commented on #5231
@cadeyrn The Private Tab shortcut should make Fenix open the Private Mode start screen.

[2019-10-02 03:33] ekager commented on #5632
Filed https://github.com/mozilla-mobile/android-components/issues/4537 in AC

[2019-10-02 03:35] brampitoyo commented on #5201
@NotWoods your suggestion sounds great:

Let’s go with that.

[2019-10-02 03:45] brampitoyo commented on #4517
Huh. As @sv-ohorvath mentioned:

* Stack works if you go to library from the homescreen
* Stack breaks if you go to library from a tab

At least we’ve fixed the homescreen problem for now. Yay! For the tab scenario, let’s file a follow-up issue.

[2019-10-02 03:50] brampitoyo commented on #4235
@Poopooracoocoo I see what you mean!

Firefox for Desktop (Windows, Mac and Linux) has three themes:

* Default (light URL bar, dark toolbar)
* Light (light URL bar, light toolbar)
* Dark (dark URL bar, dark toolbar)

Whereas Firefox Preview has two themes:

* Light (light URL bar, light toolbar)
* Dark (dark URL bar, dark toolbar)

And what you propose is a theme that’s similar to our “Default” o

[2019-10-02 03:59] brampitoyo commented on #4002
@vesta0 The behaviour should be:

1. If video and audio blocked
    * On first attempt, playback should not start at all
    * On revisit, playback should not start at all

2. If video and audio allowed
    * On first attempt, playback should start immediately
    * On revisit, playback should start immediately

[2019-10-02 04:04] karlcow commented on #1824
This seems to be a duplicate of #1681
and we have a webcompat issue which is related except it is not pasting but navigating to.
on nasa Website https://github.com/webcompat/web-bugs/issues/39953

[2019-10-02 04:05] karlcow commented on #1681
on nasa Website webcompat/web-bugs#39953
The app is crashing because of a navigation to a long data-url

[2019-10-02 04:05] brampitoyo commented on #2500
@buttercookie42 I suppose we can add a stop button on the URL bar, but we will need to think about all the dependencies that this button will cause. For example: animate in/out, what happens to the URL that’s being cut off, etc.

I will size this issue for now.

[2019-10-02 04:13] brampitoyo commented on #895
I agree that thumb-friendliness is something that we need to look at on every screen.

At the same time, there’s a fundamental conflict at play:

* We hold the device on the bottom, making everything on the bottom more reachable
* We read from top, making everything on top seem more important. And our reading direction is always “scroll down”.

So do we prioritise the thumb access, or the reading

[2019-10-02 04:14] tdsmith commented on #5664
I can also observe this by visiting https://olin.repair and clicking the "sign our support form" link, which is a link to https://bit.ly/olincares. (I can't observe this by entering the URL directly into the address bar.) Bit.ly redirects for a forms.gle URL, which redirects to an intent, which enters a redirect loop.

A HAR capture: https://gist.github.com/tdsmith/2f45c4686f05f5f12d12a146543dfe06

[2019-10-02 04:15] brampitoyo commented on #482
This issue has been filed as part of the larger search experience work (#5457), so I will remove the UX-feedback label.

[2019-10-02 04:20] Lululalu commented on #5692
@ekager I actually didn't, but Fenix never asked me to grant this permission.

[2019-10-02 04:30] cfsnsalazar commented on #5522
I would like to try fixing this one out

[2019-10-02 04:30] brampitoyo commented on #1216
@vesta0 @liuche

As we think about voice search:

It may be worth considering other super powers that Firefox Voice can give us, specifically around exposing ‘deep’ browser features:

[2019-10-02 04:33] cfsnsalazar commented on #4994
I would like to try this one out

[2019-10-02 06:18] chiragmantri commented on #5621
hi @asadotzler and @ekager, can I pick this up?

[2019-10-02 06:56] topotropic commented on #3831
Thanks for the feedback! We will keep the input box as is for now but consider the feedback as part of our ongoing refinements.

[2019-10-02 06:56] #3831 closed

[2019-10-02 06:56] mcarare opened #5726 "[Bug] Inconsistent back button behaviour when navigating to from browser"
Follow-up to #4517

## Steps to reproduce

Open a tab.
Open from Menu: Library go to History or Bookmarks
Open a new link from History /  Bookmarks
Press Back Button
### Expected behavior
Goes back to History / Bookmarks screen
### Actual behavior
Goes to Home screen

Needs investigation per https://github.com/mozilla-mobile/fenix/issues/4517#issuecomment-533608455

[2019-10-02 06:57] mcarare opened #5727 "[Bug] Inconsistent back button behaviour when navigating to library from browser"
Follow-up to #4517

## Steps to reproduce

Open a tab.
Open from Menu: Library go to History or Bookmarks
Open a new link from History /  Bookmarks
Press Back Button
### Expected behavior
Goes back to History / Bookmarks screen
### Actual behavior
Goes to Home screen

Needs investigation per https://github.com/mozilla-mobile/fenix/issues/4517#issuecomment-533608455

[2019-10-02 06:58] mcarare commented on #4517
Filed follow-up issue: https://github.com/mozilla-mobile/fenix/issues/5727

[2019-10-02 06:58] #4517 closed

[2019-10-02 06:58] mcarare commented on #5726
duplicated

[2019-10-02 06:58] #5726 closed

[2019-10-02 07:51] sv-ohorvath commented on #5657
v2.1.0-rc3 built and installed successfully.

[2019-10-02 07:51] #5657 closed

[2019-10-02 07:56] sv-ohorvath commented on #5669
Verified as fixed on v2.1.0-rc3, on all build types.

[2019-10-02 07:56] #5669 closed

[2019-10-02 08:14] sv-ohorvath commented on #5668
I didn't do anything else at the time, just opened the app and went to imgur. Can't reproduce it anymore though on the same build or latest...

[2019-10-02 09:14] sv-ohorvath commented on #5672
@sblatz This didn't make it into 2.1.0-rc3

[2019-10-02 09:42] topotropic commented on #455
I discussed it with Adam, let's leave it as is for now. It's good to have a quick way into private mode – if we'd remove it, it would take more steps to open a private tab. Thanks!

[2019-10-02 09:42] #455 closed

[2019-10-02 09:59] topotropic commented on #5715
Yes, 8dp top and bottom https://share.goabstract.com/7ebb1753-4b09-4f1e-a39e-550ac17f00a7?collectionLayerId=5b343ddc-788e-42cf-bdb7-6919086e89ff&mode=build

[2019-10-02 10:01] topotropic commented on #4285
I'll close this issue, we can track the work via https://github.com/mozilla-mobile/fenix/labels/Feature%3ACollections and https://github.com/mozilla-mobile/fenix/labels/Feature%3AHomeScreen. I'll also file new issues based on UR.

[2019-10-02 10:01] #4285 closed

[2019-10-02 10:02] topotropic commented on #3161
We can close it, we'll revisit how we handle this.

[2019-10-02 10:07] topotropic commented on #3605
There's a feature that allows to close open tabs on quit. Go to Settings / Delete browsing data on quit and select "Open tabs". https://github.com/mozilla-mobile/fenix/issues/3700

[2019-10-02 10:34] softvision-miralobontiu opened #5729 "[Bug] Crash when accessing https://github.com/mozilla/tracking-test on Play Store Nightly"
## Steps to reproduce
1. Upload Nightly from Play Store
2. Go to https://github.com/mozilla/tracking-test.

### Expected behavior
The page should load, without issues.

### Actual behavior
The app crashes.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 9)
* Fenix version: 191002 (#12750608)
* Not reproducible on Nightly 191002 (#12750607)
* Not reproducible on RC 2.1.0-rc

[2019-10-02 10:58] sv-ohorvath commented on #5679
The option is hidden on 2.1.0-rc3.

[2019-10-02 10:58] #5679 closed

[2019-10-02 11:47] topotropic opened #5731 "Determine research plan for proxy"
Collect hypothesis and discuss quan and qual research options with user research team

### Acceptance Criteria
- [x] Identify hypothesis
- [x] Discuss with user research team and identify next steps

[2019-10-02 11:52] topotropic opened #5732 "Create flow based on desktop requirements for proxy"
Map out a flow based on desktop requirements

### Acceptance Criteria
- [x] UX flow discussed with ENG
- [x] user stories based on flow
- [x] high-level mocks

[2019-10-02 12:34] sv-ohorvath opened #5733 "[Bug] Open from private mode notification should always open the private mode homescreen"
## Steps to reproduce
1. Open a tab in private browsing.
2. Switch to normal browsing home.
3. Minimize the app.
4. On the private tabs notification, tap Open.
### Expected behavior
The private mode home is displayed showing the private tabs.
### Actual behavior
The normal browsing mode is displayed.
### Device information

* Android device: Galaxy Tab 3 (Android 8)
* Fenix version: Nightly 10/2,

[2019-10-02 13:11] gaby2300 commented on #5657
Could you please add the github link for me to try?

[2019-10-02 13:13] vipulasri commented on #5573
@brampitoyo @NotWoods

- I fixed the theme settings radio button
- Enhanced tracking protection settings also have radio-buttons, I have attached before and after post-change. Please tell me which one to keep for these settings.

**Before:**

![Screenshot_20191002-183334](https://user-images.githubusercontent.com/7822179/66046836-36b6d780-e544-11e9-8dd2-4f6338a27e0b.png)

**After:**

![Screenshot_

[2019-10-02 13:16] sv-ohorvath commented on #5657
@gaby2300

https://github.com/mozilla-mobile/fenix/releases/tag/v2.1.0-rc.3

[2019-10-02 13:29] gaby2300 commented on #5657
@sv-ohorvath Thanks!

[2019-10-02 13:32] mcarare commented on #5572
@brampitoyo  As per https://github.com/mozilla-mobile/fenix/issues/5231, the shortcut from "Add private browsing shortcut" will not do the same thing, cause it will only open Fenix in private mode, not open a new tab. As they are now, the distinct text and icon colour will be important to differentiate between this.

[2019-10-02 13:51] softvision-miralobontiu commented on #3487
Verified as fixed on the latest Nightly build  191002 (#12750607) with Samsung Galaxy Note 8 (Android 9), and Samsung Galaxy Tab A6 (Android 5.1.1).

[2019-10-02 13:52] softvision-miralobontiu commented on #2312
Verified as fixed on the latest Nightly build 191002 (#12750607) with Samsung Galaxy Note 8 (Android 9), and Samsung Galaxy Tab A6 (Android 5.1.1).

[2019-10-02 14:02] Amejia481 commented on #5671
I'm not quite sure, we are working on reorganizing the toolbar. We can verify this issues too.
https://github.com/mozilla-mobile/android-components/issues/1514

[2019-10-02 14:27] sv-ohorvath commented on #5681
Verified as fixed on 2.1.0-rc3

[2019-10-02 14:35] sblatz commented on #3700
@ekager @sv-ohorvath  is this ready to move from out behind the feature flag?

[2019-10-02 14:52] sblatz commented on #5243
@liuche It was going through another round of QA. We have a yellow status now and will likely be making a third send off to them (RC4)

[2019-10-02 15:00] jonalmeida commented on #5671
This is related to the left padding work that went in. When we enabled layout bounds during testing, we were seeing the off-center ripple then.

[2019-10-02 15:17] Lululalu commented on #5720
The same is happening on duckduckgo

[2019-10-02 15:23] Lululalu opened #5735 "[Bug] The incognito icon looks out of place/misaligned"
![Screenshot_20191002-115359_Firefox Preview](https://user-images.githubusercontent.com/32398857/66057581-5a135f80-e50f-11e9-99f5-a4bd8ccf4569.jpg)

[2019-10-02 15:43] AmyYLee commented on #2271
@ekager @liuche Hi, these are what I mean by filter states.
![Screen Shot 2019-10-02 at 11 43 11 AM](https://user-images.githubusercontent.com/5992746/66059331-dc008a00-e509-11e9-8074-3ce7788dc047.png)

[2019-10-02 15:49] sblatz commented on #5576
@grigoryk are you aware of any changes on the AS side that may have caused this?

[2019-10-02 16:08] sblatz opened #5736 "[Bug] Pop to home screen after deleting tabs in settings"
Currently we pop to the home screen if the user deletes their open tabs. This is intentional (see `popAfter` in `DeleteBrowsingDataFragment`) because when a user went Browser -> Settings -> Delete open tabs, we need to get them out of BrowserFragment.

However, this causes buggy behavior when the user did this from Home -> Settings -> Delete and can be surprising.

To improve this, we should proba

[2019-10-02 16:13] sblatz opened #5737 "[Telemetry] "Launch links in private tab" toggle"
#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know how often users choose to open links in a Fenix private tab, to understand whether this is a popular use case.

#### Hypothesis
- We believe this feature is useful to users since this was a key benefit of Firefox Focus.

#### What questions will you answer with this data?
-How many users enable the

[2019-10-02 17:02] kuba-orlik opened #5740 "Ability to zoom in on a video"
It would be a killer feature if Firefox Preview had the ability to zoom in a video file during full-screen playback, like Telegram on Android does

### User Benefit

Multiple benefits. It'd be easier to show a particular element of a video, for example. Also, it'd be another feature to draw new users

### Acceptance Criteria (how do I know when I’m done?)

When video is played back at full-screen,

[2019-10-02 17:07] NotWoods commented on #5650
We had an implementation where there was a separate private entry in the share sheet, but this system was flawed because there is no way to switch once the "Always" option is checked.

Fenix already is a custom tab provider and many links from other apps open in custom tabs. I don't think we should always force private mode because part of the benefit of custom tabs is that you're already logged i

[2019-10-02 17:26] vesta0 commented on #5737
@sblatz Will do! I assume this wasn't already done when Vrushank worked on this feature?

[2019-10-02 17:44] cpeterso commented on #1353
The GV bug will be fixed in tomorrow's GV 71 Nightly build.

https://bugzilla.mozilla.org/show_bug.cgi?id=1583336#c12

[2019-10-02 17:47] vesta0 commented on #4417
@liuche this issue should not include #5582 since we changed it (based on direct feedback from the team) that this part was not doable for Q4 (you can see that I moved it to Q1) and only #5582  was doable in Q4.

[2019-10-02 17:53] lime124 commented on #5016
@jpfaller can we reuse bookmark link from fennec for our context menu? thanks!

[2019-10-02 17:54] topotropic commented on #1500
I talked to Stephen, we can roll it out as specified by Verdi. @vesta0

[2019-10-02 17:54] lime124 commented on #5696
@jpfaller please let us know if we should using something other than "Share". Thanks!

[2019-10-02 17:56] pocmo commented on #5671
Fixing this as part of mozilla-mobile/android-components#1514

[2019-10-02 17:57] vesta0 commented on #5540
Further clarified during UX/product meeting that this issue is just about showing a different error page with there is no network connection.

[2019-10-02 18:00] lime124 commented on #5695
totally fine to reuse Fennec IxD but we should revisit the "Google Search" string. UR has been showing some conflation in people's mental models around the browser and the search engine. I think this is one spot we can help by reinforcing the  app they are in vs the search engine. @jpfaller for help with this. thanks!

[2019-10-02 18:03] Cheap-Skate commented on #5567
Now the Shortcuts button is removed could the Scan button be removed or placed elsewhere?
That way we'd all win back a bit of vertical space to fill with search results. The small number of search results is IMHO a big step back from Fennec, see eg #1161, #479.

eg
- put it where it is in Fennec, on the right hand side of the URL bar?
or
- leave it where it is, but make it disappear as soon as I s

[2019-10-02 18:17] liuche commented on #5696
This context menu is in GeckoView (because it's in web content), and we'd be able to use the [BasicSelectionActionDelegate](https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/BasicSelectionActionDelegate.html) to override the actions created.

We might need to do this in AC.

[2019-10-02 18:17] liuche commented on #5695
This context menu is in GeckoView (because it's in web content), and we'd be able to use the [BasicSelectionActionDelegate](https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/BasicSelectionActionDelegate.html) to override the actions created.

We might need to do this in AC.

[2019-10-02 18:20] liuche commented on #5695
Passing the action to SearchFragment to handle the Search action makes this a little trickier.

[2019-10-02 18:20] liuche commented on #5696
This should be done after #5695

[2019-10-02 18:27] liuche commented on #1211
There's a dependency on this where if we do this functionality, either:
- we would require 2 back-presses to hide, and then go back
- OR we'd have make some changes to the keyboard hiding behavior in AC (which requires making changes to existing feature)

[2019-10-02 18:30] sblatz opened #5742 "Update "launch links in private tab" functionality"
After some more investigation and discussions with @AmyYLee we're deciding to move forward with the original UX found in #514

We need to bring the activity-alias back and update the default browser pref:

![image](https://user-images.githubusercontent.com/4400286/66071414-f46fa500-e507-11e9-854e-2449aadfb9f0.png)

[2019-10-02 18:35] vesta0 commented on #4417
This is all Android Components work that the Fenix team may decide to pick up in Q1.

[2019-10-02 18:37] pocmo commented on #5582
Oh, sorry, I didn't reply here yet. Additional downloads work is currently not in our list for Q4. Some of the smaller things we can definitely sneak in during our sprint (like #952). The big piece of work that I see here is saving downloads and their state to some local database so that we can surface them in the library and retry them etc. - if that is in scope for this work (my proposal is stil

[2019-10-02 19:20] jpfaller commented on #5323
Let's do

"Deleting browsing data..."

[2019-10-02 19:35] jpfaller commented on #5016
Yep, I think it can be re-used.

[2019-10-02 19:59] runboy93 opened #5744 "Site permissions 3rd party cookies option"
3rd party cookies option is missing, could be added to "site permissions" options tab.

Many other privacy browsers either have 3rd party cookies disabled by default or have cookies options, Firefox Focus have options too, but Fenix so far doesn't have. We should have right to choose from!

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-13723)

[2019-10-02 20:03] lime124 commented on #5323
oops - @AmyYLee can you add eng;ready if it's ready to go? thanks!

[2019-10-02 20:05] Amejia481 commented on #5744
By default Fenix is blocking 3rd party cookies when you have tracking protection ON on both **Standard** or with **Strict** options.

[2019-10-02 20:05] runboy93 opened #5745 "Add ability to disable individual autocomplete providers"
Fenix does have option to disable autocomplete, but it doesn't work for "default URL list", which still autocomplete random URLs, not sure if this is bug or simply missing feature, correct me if wrong.

Little annoyance.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-13724)

[2019-10-02 20:06] runboy93 commented on #5744
"Strict"? what is that, I don't see one?

[2019-10-02 20:09] Amejia481 commented on #5744
Tap the shield icon -> **Protection Settings**

By default Fenix comes with tracking protection enabled (strict)

[2019-10-02 20:09] runboy93 commented on #5744
https://www.whatismybrowser.com/detect/are-third-party-cookies-enabled

Why does this still says "yes", 3rd party cookies enabled?

[2019-10-02 20:14] Amejia481 commented on #5744
I will investigate further, I will get back to you!

[2019-10-02 20:27] topotropic commented on #5731
I discussed the hypothesis with Elisabeth and Alice and filed a bug on bugzilla (1585785)

[2019-10-02 20:28] runboy93 opened #5746 "WebRTC leaks information"
https://browserleaks.com/webrtc

WebRTC information is leaked by Fenix, device identification is more likely when this happens :(

Could something be done to prevent this leaking?

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-13725)

[2019-10-02 20:31] lime124 commented on #3612
I believe this is related to #5695 . @boek did we say the scope of the other ticket was for the whole OS or just limited to Fenix?

[2019-10-02 20:32] runboy93 commented on #5744
I don't seem to get that shield shown up, despite visited numerous webpages that should have got some tracking, does protection work at all?

[2019-10-02 20:32] topotropic opened #5747 "Enable and disable proxy"
## User Story
As a user, I want to enable and disable proxy so that I can browse securely.

### Acceptance Criteria
- I can tap on the proxy icon on the Fenix home screen that opens Settings/Proxy
- On Settings/Proxy, I can enable (or disable) proxy by tapping on a switch
- Once I enabled it, proxy is active

[2019-10-02 20:32] lime124 commented on #3604
moving to @jpfaller

[2019-10-02 20:35] topotropic opened #5748 "Show that proxy is enabled"
## User Story
As a user, I want to know that proxy is active so that I know that I'm protected.

### Acceptance Criteria
- There's an indicator on the proxy icon on home (similar to what we have on desktop)
- There's an indicator on the lock on site level
- I get a system notification

[2019-10-02 20:35] Amejia481 commented on #5744
The shield only shows up on Nightly builds, if you are on Beta you are not going to see the shield, but tracking protection is working alike.

[2019-10-02 20:36] AmyYLee opened #5749 "[Fenix] Copy update for Enhanced Tracking Protection"
This is a request for a copy edit to the tool tip component for ETP

New copy:
"Firefox is blocking trackers on this site when the shield is purple. Tap it to see what's blocked."

Existing copy:
"When the shield changes colors, Firefox Nightly is blocking trackers on a website. Tap it open to see what's being blocked."

Reference:
![Screenshot_20191001-130611](https://user-images.githubuserconten

[2019-10-02 20:37] topotropic opened #5750 "Require account to use proxy"
## User Story
An account is required to use proxy.

### Acceptance Criteria
- Ask people to login or create FxA when not logged in and viewing Settings/Proxy

[2019-10-02 20:41] brampitoyo commented on #5567
@Cheap-Skate File an issue, and I’ll help triage it! When our team has some time available, we’ll consider it :-)

[2019-10-02 20:45] topotropic opened #5751 "Proxy prompt on public WIFI"
## User Story
As a user, I want to be protected when on a "public" WiFi.

## Dependencies
Research how to determine whether a WiFi is “public”. Either open access or captive portal callback? Based on WPA/encryption strength?

### Acceptance Criteria
- I see a prompt that informs me about the privacy risks of using a public WIFI and points me to enable proxy

[2019-10-02 20:46] topotropic opened #5752 "Proxy prompt when accessing insecure site"
## User Story
As a user, I want to be protected when accessing insecure websites.

### Acceptance Criteria
- I see an indicator on the lock warning me about an insecure website and offering me to enable proxy

[2019-10-02 20:48] topotropic opened #5753 "Proxy prompt in private mode"
## User Story
As a user, I want to protect whatever I do when in private browsing mode from my ISP.

### Acceptance Criteria
- I see a prompt in private browsing mode that I can turn on proxy to protect my private browsing activity from my ISP

[2019-10-02 20:50] topotropic opened #5754 "Proxy onboarding card"
## User Story
As a user who opens Firefox for the first time, I want to know that I can use network protection.

### Acceptance Criteria
- I see an onboarding card when I open Fenix for the first time

[2019-10-02 20:51] topotropic opened #5755 "Onboarding blurb after update"
## User Story
As a user, who just updated Firefox, I want to know that network protection is a new feature

### Acceptance Criteria
- I see an onboarding blurb on Fenix home screen below the proxy icon

[2019-10-02 20:52] Amejia481 commented on #5744
@runboy93 my bad: By default, we are accepting **only first-party and non-tracking third-party cookies**  as blocking completely **3rd party cookies** could cause breakage in some pages.

For this reason it says "yes" on 3rd party cookies enabled, as we are accepting **non-tracking third-party cookies**.

Your feature request is still valid as Fenix doesn't have a way to change it, like FireFox de

[2019-10-02 20:53] Cheap-Skate opened #5756 "Move or remove "Scan" button from Search screen to give more space for search results"
(Original comment in #5567)

Now the Shortcuts button has been removed from the Search screen, could the Scan button be removed or placed elsewhere?

That way we'd all win back a bit of vertical space to fill with search results. The small number of search results is IMHO a big step back from Fennec, see eg #1161, #479.

eg
- put it where it is in Fennec, on the right hand side of the URL bar?
or

[2019-10-02 20:57] brampitoyo commented on #5650
@NotWoods

This sounds like a tricky problem to solve. Having two icons is convenient, but there’s no easy way to change your option once it’s been set permanently. (There is, but it may be buried under Settings?)

Agreed. Thanks for explaining your reasoning here.

Part of my initial reasoning for keeping custom tabs in private mode was “users mostly utilise custom tabs when opening one-off links

[2019-10-02 21:01] Amejia481 commented on #5744
@runboy93 you could install Firefox Preview Nightly for Developers. Where you will get the latest features. https://play.google.com/store/apps/details?id=org.mozilla.fenix.nightly

[2019-10-02 21:19] topotropic commented on #5732
Colin and I created a bunch of user stories https://github.com/orgs/mozilla-mobile/projects/46

[2019-10-02 21:21] jonalmeida commented on #2933
Removing the sizing estimation since it was meant for a-c and I've created a separate issue there instead.

[2019-10-02 21:45] mcomella commented on #5307
@hawkinsw I don't know if bugs filed in GeckoView actually go through perf triage so I added `needs:performance` which seems to for [the QF triage process](https://mana.mozilla.org/wiki/display/PM/Performance+Triage).

[2019-10-02 21:58] runboy93 opened #5757 "Option to disable swipe up menu with "share" and "bookmark""
Would there be an way to disable that sharing and bookmark swipe up menu on top of url bar?

It takes a little space from my eyes, and my fingers already done too many miss touches to it, and it raised. Goingfor minimal usage with no sharing or using bookmarks.

[2019-10-02 22:00] runboy93 commented on #5744
Thanks, went for Nightly build, I like now when icon is shown.

[2019-10-02 22:05] rpappalax opened #5758 "Increase UI test wait time constant"
Per @sv-ohorvath and @npark-mozilla a few flaky UI test issues may be caused by waitingtime value being too low.  We should prob increase it from 15 to 45 seconds for those rare test runs in which a device may be temporarily running low on resources
https://console.firebase.google.com/u/2/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7400905977103619111/executions/bs.fda44e88a40

[2019-10-02 23:01] vesta0 commented on #5442
Why do we want to do this @ekager ?

[2019-10-02 23:24] ekager commented on #5442
This is about having it in the menu on Home and on BrowserFragment so the user can "Quit" from both of these places.

[2019-10-02 23:53] bunchaiok opened #5760 "Support playback of local video and audio files"
It will be a great feature to support playback of local video and audio files in the browser with popular formats such as h264, h265, vp9, flac, aac in containers such as webm, mkv, mp4, ogg, opus.

[2019-10-02 23:55] vesta0 commented on #5442
OK so this is about adding "Quit" (not "Clear private data") to the homescreen menu.

[2019-10-03 00:10] ekager commented on #220
Removing the AC label because the above linked ticket has been closed

[2019-10-03 00:12] ekager commented on #5695
FYI to whomever picks this up. Some changes may be happening to the SelectionActionDelegate https://bugzilla.mozilla.org/show_bug.cgi?id=1581161

[2019-10-03 00:19] ekager commented on #5442
Right same as #3700 but the action is "Quit"

[2019-10-03 00:49] lindongbin commented on #5757
The same to me.

[2019-10-03 00:49] cpeterso commented on #2477
The GV bug fix will be in tomorrow's GV 71 Nightly, so I will remove this issue's `needs:gv` and `waiting` labels.

https://bugzilla.mozilla.org/show_bug.cgi?id=1540615#c10

[2019-10-03 01:07] liuche commented on #2271
Sounds like this is ready to be worked on - this just needs to get updated colors for the filter buttons and "x" in the text bar, matching the mocks.

[2019-10-03 01:15] liuche commented on #2477
Adding this to the UX backlog since we wanted to do this earlier, and were waiting on this showing up in GV.

We need UX to decide how this toggle will look in the accessibility settings (because this could break some sites, so we don't want to turn it on by default).

[2019-10-03 01:16] liuche commented on #5016
adding triage label to re-size, and this now has additional telemetry requirements.

[2019-10-03 01:25] brampitoyo commented on #5573
@vipulasri For Enhanced Tracking Protection, let’s use the “before” state.

Thanks!

[2019-10-03 01:36] cpeterso commented on #2860
The GV bug was fixed in GV 71 Nightly last week, so I will remove this issue's `needs:gv` and `waiting` labels.

https://bugzilla.mozilla.org/show_bug.cgi?id=1448730#c14

[2019-10-03 01:38] lindongbin opened #5761 "Prefer desktop version of websites!"
![Screenshot_2019-10-03-09-30-12-328_com kiwibrowse](https://user-images.githubusercontent.com/3154109/66093107-72dc4d80-e5c1-11e9-9464-0b4c6e58c236.jpg)

Kiwi Browser!

[2019-10-03 01:44] lindongbin commented on #5761
https://github.com/mozilla-mobile/fenix/issues/5471
https://github.com/mozilla-mobile/fenix/issues/5725

[2019-10-03 01:48] cpeterso commented on #4147
I don't see the cookie banner. Does it only show for users in the EU?

Can you reproduce this bug in Fennec, Focus, and R-B? I wonder if this problem is related to Fenix's (and R-B's) bottom address bar.

Perhaps this is the same problem as this Instagram "use the app" banner bug:

https://bugzilla.mozilla.org/show_bug.cgi?id=1542381

[2019-10-03 01:50] cpeterso commented on #3431
The GV bug was fixed in GV 71 Nightly last month. I will remove this issue's `needs:gv` and `waiting` labels and add `eng:qa:needed`.

https://bugzilla.mozilla.org/show_bug.cgi?id=1570559#c14

[2019-10-03 01:59] cpeterso commented on #2154
The GV bug was fixed in GV 68 five months ago, so I will remove the `needs:gv` label. I'll leave the `waiting` label because the fix can't be verified until Fenix re-enables its dynamic nav bar.

https://bugzilla.mozilla.org/show_bug.cgi?id=1516048#c21

[2019-10-03 02:02] cpeterso commented on #3744
Is this bug still reproducible in Fenix Nightly?

https://play.google.com/store/apps/details?id=org.mozilla.fenix.nightly

[2019-10-03 02:05] cpeterso commented on #5006
I filed a GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1585869

[2019-10-03 02:07] cpeterso commented on #4805
Since this appears to be expected behavior, I will remove this issue's `needs:gv` label. Someone on the Fenix team can decide whether they want to accept that resolution (and close this bug) or suggest different behavior.

[2019-10-03 02:42] vesta0 commented on #5016
We resized this from E2 to E5 during backlog grooming today.

[2019-10-03 02:44] vesta0 commented on #5696
Looks like we already had UX mocks for this from [early](https://mozilla.invisionapp.com/share/8ZQVRNUJW3H#/screens/350752250) in the project so I updated the description and removed the Fennec mocks.

[2019-10-03 02:54] vesta0 opened #5762 "[Meta] Sync open tabs"
### User Story
As a user, I want to be able to access the tabs that I have open on other Firefox connected devices in Fenix and vice versa, so I can have task continuity across my devices and easily access the information I need regardless of the platform.

Dependency:
Dependency on Sync team and A-C
- Expose [session-history](https://github.com/mozilla-mobile/android-components/issues/1340)
[A-C

[2019-10-03 03:41] vesta0 opened #5763 "Open downloaded file through notification"
### User Story
As a user, I want to have quick access to opening my downloaded file right after it has finished downloading, so I can get to it right away.

### Acceptance Criteria
-The download completed notification includes a link to the downloaded file
-I can tap on this link to open the file

[2019-10-03 03:43] vesta0 opened #5764 "Refactor Downloads for Android 11 Storage + Change download path"
**Part of Meta: #4417**

### User Story
As a user, I want to be able to choose where my downloads are saved in my phone's storage, so I can have control and flexibility over my downloaded content.

### Acceptance Criteria
[ ] I can see the default download location/file path
[ ] I can change the default download location

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.n

[2019-10-03 03:47] vesta0 commented on #5724
@liuche how is this issue different than #5582 ?

[2019-10-03 04:52] brampitoyo commented on #5572
@mcarare Ok. Our situation here isn’t ideal, but as soon as we fix #5231, we will automatically fix this issue, as well.

So, let’s close this issue in favour of fixing #5231. Sounds good?

[2019-10-03 04:55] vipulasri commented on #5573
@brampitoyo
Please review PR: https://github.com/mozilla-mobile/fenix/pull/5765

[2019-10-03 05:45] vesta0 commented on #220
@lime124 can we reference Focus designs for this feature and iterate on improvements afterwards?

[2019-10-03 06:25] mcarare commented on #5572
Sounds good to me!

[2019-10-03 06:25] #5572 closed

[2019-10-03 06:31] cadeyrn commented on #5572
#5231 and this one are totally different issues and not related at all. 🤔

- #5231 is about the opening behaviour of the normal and private mode shortcut.
- This one is about the shortcut design of the two different private mode shortcuts and has nothing to do with the normal shortcut.
- Fixing #5231 will not fix this one.

[2019-10-03 06:33] mcarare commented on #5572
@cadeyrn After #5231 the icons will do different things, IMO it's expected also to look differently.

[2019-10-03 06:36] cadeyrn commented on #5757
The _QAB_ [will be removed](https://github.com/mozilla-mobile/fenix/issues/4281#issuecomment-535102592).

[2019-10-03 06:55] cadeyrn commented on #5745
It's a missing feature, not a bug. The old Firefox aka Fennec also doesn't have an option to disable this feature.

I vote for adding such an option because how to disable this feature is a question that keeps coming up in Firefox support (I am the operator of the biggest German speaking Firefox support forum). It was already the case for Fennec and there were already requests for Fenix.

[2019-10-03 07:12] Iey4iej3 commented on #5163
I second this and I wish that muted autoplay could also be manually disabled. It is important when the Internet fee is proportional to the data usage.

[2019-10-03 08:05] akarshanbiswas commented on #3605
@topotropic Tried the feature. It doesn't actually clear the tabs (using latest firefox preview from play store)

[2019-10-03 08:31] pt2121 commented on #5351
I will look into this

[2019-10-03 11:03] VMadalin commented on #5715
@topotropic Thank you for share the definition, after review the code I saw an incoherence values having 8dp for top and 10dp for bottom . I just created the PR.

[2019-10-03 12:10] sv-ohorvath opened #5769 "[Bug] talky.io - Cam & mic access denied when the mic is granted permission"
## Steps to reproduce
1. Allow cam & mic permissions from App's system settings.
2. Go to talky.io/<a chat room name>, e.g. talky.io/me
3. Before entering the chat room, grant access to Camera.
4. Grant access to the microphone.

*Block all permissions from the system settings.
Go to talky.io/me. Observe the camera setting.

### Expected behavior
Permission requests are displayed and the camera an

[2019-10-03 12:54] sv-ohorvath commented on #5672
Verified as fixed on v2.1.0-rc4.

[2019-10-03 12:54] #5672 closed

[2019-10-03 13:46] LaurentiuApahideanSV commented on #5670
I have retested the issue on Firefox Preview 2.1.0-rc.4 (Build #12752003) 10/2 and managed to reproduce the issue on the following devices Huawei MediaPad M3 (Android 7), Huawei Honor 8 (Android 7.0) and Galaxy S10+(Android 9).

[2019-10-03 14:54] #5758 closed

[2019-10-03 15:15] apbitner commented on #3850
While the toolbar menu (3-dot menu) might be slightly easier to reach for right-handed users, once the menu is open those items would become more of a reach, so it makes sense to keep the menu on the right where it is.

[2019-10-03 15:15] #3850 closed

[2019-10-03 15:18] apbitner commented on #1210
'New Private Tab' and 'New Tab' have been prioritized to be closest to the menu button

[2019-10-03 15:18] jpfaller commented on #3604
Let's do

Tab closed

[2019-10-03 15:18] apbitner commented on #3803
'Report site issue' has been moved near the top of the list

[2019-10-03 15:18] #3803 closed

[2019-10-03 15:20] apbitner commented on #5340
'Add to collection' has been moved next to 'Add to Home screen' to form a more logical grouping.

[2019-10-03 15:20] #5340 closed

[2019-10-03 15:26] apbitner commented on #5588
Covered in https://github.com/mozilla-mobile/fenix/issues/4281

[2019-10-03 15:26] #5588 closed

[2019-10-03 15:29] apbitner commented on #3852
The Quick Action Bar is being removed at this point in time. Work covered in https://github.com/mozilla-mobile/fenix/issues/4281.

[2019-10-03 15:29] #3852 closed

[2019-10-03 15:31] apbitner commented on #1936
This work was covered in https://github.com/mozilla-mobile/fenix/issues/561

[2019-10-03 15:32] apbitner commented on #562
This work was covered in https://github.com/mozilla-mobile/fenix/issues/561.

[2019-10-03 15:32] #562 closed

[2019-10-03 15:33] AmyYLee commented on #5650
"We had an implementation where there was a separate private entry in the share sheet, but this system was flawed because there is no way to switch once the "Always" option is checked."

@brampitoyo @NotWoods I wanted to chime in on the above comment. I've been working with @sblatz on implementing PBM shortcut on homescreen. If the user has a shortcut for PBM on homescreen, in the share sheet they

[2019-10-03 15:41] mcarare commented on #1487
@topotropic I've Implemented this locally but using subheadings attributes makes for a very different look for the "Your library" text. That is due to the fact that the menu has a different background colour than the preference screen. Can you please provide specific attributes for the category item "Your library"? :) TY

[2019-10-03 16:09] lime124 commented on #4037
i spoke with @mheubusch and this can be picked up by the new design systems team. she's tracking the work on the team's trello board. i'll keep the ticket in our ux backlog so we don't lose track of it and work with the designer when it comes up  for them.

[2019-10-03 16:16] olsenme commented on #5233
My name is Meagan, and I am applying for outreachy.Has anyone been assigned this issue?

[2019-10-03 16:17] ReekyMarko opened #5771 "[BUG] Can't watch videos in portrait mode while in full screen"
This makes it so that there is no way to watch video that was filmed vertically in portrait mode fullscreen.

Also a related thing: The video does not rotate when in fullscreen landscape mode and the device is turned 180° with rotation locked in the OS settings. It rotates like this in most other media players on Android when rotation is locked so I think we should follow suit.

[2019-10-03 16:18] olsenme commented on #5233
@cadeyrn

[2019-10-03 16:37] liuche commented on #5724
Sorry, let me dupe this, I didn't see the other issue.

[2019-10-03 16:37] #5724 closed

[2019-10-03 16:47] hakkikaancaliskan commented on #5756
I think this is great.

[2019-10-03 16:51] apbitner commented on #1487
@mcarare The background should be white - rgb(255, 255, 255). Here are some other specs which might help - https://cl.ly/784b25e4009c. Let me know if you need anything else.

[2019-10-03 16:59] AmyYLee commented on #5073
Hi, please reference the line item for Enhanced Tracking Protection in the panel for styling. Thanks!

![Screen Shot 2019-10-03 at 12 58 08 PM](https://user-images.githubusercontent.com/5992746/66147784-85fd1680-e5dd-11e9-98ea-55f5136cbfcf.png)

[2019-10-03 17:05] NotWoods commented on #5233
Hi Meagan, bwse has already been assigned to this issue.

Here are some other issues that we need help with:
- #5366
- #4556
- [more](https://github.com/mozilla-mobile/fenix/issues?q=is%3Aopen+label%3A%22help+wanted%22+sort%3Aupdated-desc+no%3Aassignee)

[2019-10-03 17:09] NotWoods opened #5772 "Automatically switch to PWA as long as web app is installed"
### Why/User Benefit/User Problem
When we navigate to the Twitter website, if the Twitter Android app is installed we can be prompted to open in app instead. It would be nice to open in PWA if installed.

### What/Requirements
As long as a PWA is installed, automatically open the session in a PWA activity - similar to opening a custom tab in the full browser.

### Acceptance Criteria (how do I kno

[2019-10-03 17:23] NotWoods commented on #5735
UX team: Should we adjust this icon as shown below?
![](https://user-images.githubusercontent.com/18151158/66116151-86dc7b00-e5d2-11e9-8fcb-24623739bab1.png)

[2019-10-03 17:24] Octoton opened #5773 "Url paste when shortcut is selected"
### Why/User Benefit/User Problem
The "Fill link from clipboard" command is shown only if shortcut is unselect.
This will lead people to think that the option does not exist

### What/Requirements
When a url has been copy, the "Fill link from clipboard" command is shown on top of the shortcut.

### Acceptance Criteria (how do I know when I’m done?)
When a url has been copy, the "Fill link from cli

[2019-10-03 17:30] olsenme commented on #5233
Thanks so much @NotWoods

[2019-10-03 17:35] olsenme commented on #5236
Has this issue been assigned?

[2019-10-03 17:36] olsenme commented on #4841
Has anyone picked up this issue? Looks like there might be some work in progress on it.

[2019-10-03 17:37] olsenme commented on #4556
Is there still work for more contributors?

[2019-10-03 17:42] NotWoods commented on #4556
Yes, any of the tests without `@Before` can be worked on 😄

[2019-10-03 17:46] ekager commented on #5236
This is not ready to be worked on. Adding the label for UX Feedback.
Note to engineering if this requires further work - These list item layouts are in AC.

[2019-10-03 18:01] sblatz commented on #4841
@olsenme This is a meta issue which we'll be breaking out into further tickets. #5499 is the one we're focusing on next :)

[2019-10-03 18:30] #5715 closed

[2019-10-03 18:38] kbrosnan commented on #5073
@AmyYLee wrong screenshot? This is for viewing the cert info.

[2019-10-03 18:59] staktrace commented on #4641
Still happening on latest nightly

[2019-10-03 19:04] vesta0 opened #5774 "[Meta] Bring additional Lockwise Features to the browser"
### User Story
As a user, I want to manage my Lockwise credentials for websites in my Firefox for Android Browser.

### Acceptance Criteria

- [x] #9504 I can edit my logins in settings (completed)
- [x] #9505 I can sort my logins alphabetically (completed)
- [x] #5551 I can choose which of multiple logins I can fill
- [x] #7094  I can choose "Never Save" on a login so that they never get prompted

[2019-10-03 19:09] vesta0 commented on #5546
@liuche is this the same as #5074

[2019-10-03 19:55] liuche commented on #5546
Not exactly - this one is inside the login management, so this could be done after (or at the same time as) #5074, but requires the login management screen.

[2019-10-03 20:03] ekager commented on #4641
Closing for https://github.com/mozilla-mobile/fenix/issues/1353

[2019-10-03 20:03] #4641 closed

[2019-10-03 20:05] Lululalu commented on #1980
This bug is not reproducible for me anymore, therefore I am closing this issue.

#4717 is still there though.

[2019-10-03 20:18] bswe commented on #5233
Tiger,

I submitted PR #5775 to close issue #5233.  I wasn't sure how to add a
reviewer to the PR, or if that should be you or not.

    Thanks, Bill

  _____

<https://home.mcafee.com/utm_medium=email&utm_source=link&utm_campaign=sig-e
mail&utm_content=emailclient?utm_medium=email&utm_source=link&utm_campaign=s
ig-email&utm_content=emailclient>
https://secureimages.mcafee.com/common/affiliateImag

[2019-10-03 20:38] liuche commented on #4383
According to GV, we can now turn on the AC dynamic nav bar, which is in GV Nightly, so we start seeing what the bugs are.
This should be behind a Nightly flag, because we don't want this to be on Release until the GV bugs surface and are fixed.

[2019-10-03 21:56] miladmaz12 opened #5780 "[Bug] Launch links on private tab doesn't work with Chrome Custom Tabs"
## Steps to reproduce

1. Click on a link to send to chrome custom tab (powered by Firefox Preview) from external app.
2. The link is shown in history on Firefox Preview.

### Expected behavior

### Actual behavior

### Device information

* Android device: Android Pie 9.0 OnePlus 3T
* Fenix version: Preview 2.1.0

[2019-10-03 22:13] miladmaz12 opened #5781 "[Bug] Toolbar 3 dot menu ripples clips behind toolbar counter - not the same circular effect"
## Steps to reproduce

https://streamable.com/udfv5

### Expected behavior

Ripple should have circular effect - like others

### Actual behavior

Ripple has a weird square effect

### Device information

* Android device: Android Pie, OnePlus 3T
* Fenix version: 2.1.0

[2019-10-03 22:13] miladmaz12 opened #5782 "[Bug] Weird ripple effect with the 3 dot menu - not the same circular effect"
## Steps to reproduce

https://streamable.com/udfv5

### Expected behavior

Ripple should have circular effect - like others

### Actual behavior

Ripple has a square effect

### Device information

* Android device: ?
* Fenix version: ?

[2019-10-03 22:24] NotWoods opened #5783 "[Meta] Web Share Target"
Related Meta: #328

### Why/User Benefit/User Problem
PWAs may want to receive data from other apps, such as sharing a URL to Twitter or sharing an image to Squoosh. Web Share Target lets installed PWAs show up as entries in the Android share sheet.

### What/Requirements
PWAs that define a ShareTarget in their web app manifest will show up as entries in the Android share sheet.

We can use Sharin

[2019-10-03 22:31] olsenme commented on #3122
Does this still need worked on?

[2019-10-03 22:32] olsenme commented on #3383
Does this still need worked on?

[2019-10-03 22:33] olsenme commented on #3443
Does this still need worked on?

[2019-10-03 22:35] olsenme commented on #3474
Does this still need worked on? I am an outreachy participant, and I was recommended to look at a few of your issues here. Sorry for all the comments. Difficulty?

[2019-10-03 22:39] NotWoods commented on #3443
@olsenme This issue still needs more work to make the code less Java-like. I've updated the top comment with more details.

[2019-10-03 22:46] olsenme commented on #3443
@NotWoods sounds good. Is it a good first proj? Or if not, do you have any recommendations that aren't taken yet?

[2019-10-03 22:46] NotWoods commented on #3443
This is a good first issue. You can choose to do just some of the parts listed above if you prefer.

[2019-10-03 23:26] ekager commented on #5781
Filed https://github.com/mozilla-mobile/android-components/issues/4639

[2019-10-03 23:32] ekager commented on #5780
Closing as dupe of https://github.com/mozilla-mobile/fenix/issues/5592
This should be fixed in latest Nightly and will be in our next release

[2019-10-03 23:32] #5780 closed

[2019-10-04 00:05] ekager commented on #3383
Text selection seems to work now and for the context menu I am going to close this ticket for https://github.com/mozilla-mobile/fenix/issues/5063

[2019-10-04 00:33] ekager commented on #5063
So there are a few issues here.

1. Firstly, we are not passing in `customTabSessionId` to `ContextMenuFeature` in `BaseBrowserFragment`. If we do that, the context menu will show in a custom tab.

2. The second question though is what options do we want in that context menu? "Share Link" and "Copy Link" work as expected. "Open link in new tab" and "Open link in private tab" also 'work' but when t

[2019-10-04 07:24] mcarare commented on #1487
Thank you, @apbitner. Actually there are some info missing:
 - text color attribute for all themes (is it `accent`?)
 - text font: we don't have that font in Fenix app. In the sample looks like `sans-serif-medium`.
 - layout height is smaller than that of a regular Menu Item (48dp)?

[2019-10-04 08:07] softvision-miralobontiu opened #5784 "[Bug] [Android 5&6] Crash when accessing Settings"
## Steps to reproduce
1. Install Firefox Preview Nightly from https://tools.taskcluster.net/index/project.mobile.fenix.v2.nightly/latest - the armeabi-v7a build.
2. Open the app and tap on the three-dot menu - Settings.

### Expected behavior
Settings should be opened.

### Actual behavior
The app crashes.

### Device information
* Android device: HTC Desire 820 (Android 6.0.1), Samsung Galaxy Tab

[2019-10-04 08:36] sv-ohorvath commented on #5742
@sblatz I think this has caused https://github.com/mozilla-mobile/fenix/issues/5784

[2019-10-04 09:32] softvision-miralobontiu commented on #4922
I new behavior is happening on 10/4 Nightly with GV 71.0a1: the user can introduce the facebook credentials, but then the eBay page becomes blank.
@NotWoods Should I close this issue and file a new one with the current behavior?

[2019-10-04 10:08] #4257 closed

[2019-10-04 11:06] softvision-miralobontiu commented on #4920
Not reproducible anymore on the latest Nightly build 10/4 with GV 71.0a1 on Xiaomi Mi 8 Lite (Android 9).
I will close this issue.

[2019-10-04 11:06] #4920 closed

[2019-10-04 11:21] sv-ohorvath commented on #4780
@sblatz Verified on latest Nightly 10/4: The default launcher (of normal browsing) keeps opening in PBM (where it was left) when the "Open links in private mode" setting is checked.

[2019-10-04 12:05] lobontiumira opened #5786 "[Bug] Sharing an article on Facebook opens a new blank page"
## Steps to reproduce
1. Go to a site with many articles (i.e. yahoo.com, cnn.com, bbc.com).
2. Open an article and share it from the Facebook icon.
3. Enter valid credentials and post it on Facebook.

### Expected behavior
After the article is posted, the user is on the site from step 1 again.

### Actual behavior
After the article is shared, the user is redirected to new a blank page.

### Devic

[2019-10-04 12:09] sv-ohorvath opened #5787 "[Bug] Open links in private tabs is switched on automatically, after it was unchecked"
## Steps to reproduce
1. Load a page and add a shortcut to homescreen.
2. Tap to open the shortcut.
3. A dialog to select to open in Nightly/ private Fenix will be displayed: pick Private Firefox Preview and "Always".
4. Go to Settings>Set default browser and observe the Open links in private mode is on automatically.
5. Uncheck open links in private, leave default browser preference on.
6. Open t

[2019-10-04 12:12] sv-ohorvath commented on #5742
Found 2 new issues on the latest Nightly 10/4. I've set them as blockers to this issue and I'm removing the "qa needed" label until they are fixed.

[2019-10-04 12:17] #4922 closed

[2019-10-04 12:23] softvision-miralobontiu commented on #4939
I was able to reproduce this issue again on 10/4 Nightly with GV 71.0a1-20191002033852 on Xiaomi Mi 8 Lite (Android 9).

[2019-10-04 12:56] sv-ohorvath commented on #5567
Verified the shortcuts button is hidden now, the new preference in Search settings and no new issues found.
build: Nightly 10/4
device: Pixel 3 (Android 9), Huawei P9 lite (Android 6).

[2019-10-04 12:56] #5567 closed

[2019-10-04 13:05] softvision-miralobontiu commented on #4984
Yes, when ETP is OFF I can share the article.
Tested again with 10/4 Nightly build, GV 71.0a1-20191002033852

[2019-10-04 14:52] andreicristianpetcu opened #5789 "[Meta] Odd scrolling behavior in geckoview"
## Steps to reproduce
open https://metrics.mozilla.com/webrender/dashboard_intel.html
wait for it to finish loading
scroll up and down
### Expected behavior
should scroll smooth
### Actual behavior
jumps up and down
https://vimeo.com/364318784

### Device information

* Android device: OnePlus 5t
* Fenix version: latest nightly

---
## List of other scrolling related issues
- [ ] https://github.co

[2019-10-04 14:54] andreicristianpetcu opened #5790 "[Bug] Page jumps up and down while scrolling"
## Steps to reproduce
open https://metrics.mozilla.com/webrender/dashboard_intel.html
wait for it to finish loading
scroll up and down
### Expected behavior
should scroll smooth
### Actual behavior
jumps up and down

### Device information

* Android device: OnePlus 5t
* Fenix version: latest nightly

[2019-10-04 14:55] #5790 closed

[2019-10-04 15:08] AaronMT commented on #5761
One issue is enough.

[2019-10-04 15:08] #5761 closed

[2019-10-04 16:24] ekager commented on #4984
Added this to the list of TP issues #5392. Closing

[2019-10-04 16:24] #4984 closed

[2019-10-04 16:26] Waqar144 commented on #4208
I am having text selection issues as well.
But no problems with typing / editing so far

[2019-10-04 16:45] ekager commented on #5784
@mcarare I think the only fix we need here is to stop using `DefaultBrowserPreference` within that version check and just use `Preference` instead.

[2019-10-04 17:36] csadilek commented on #3976
Closed by: https://github.com/mozilla-mobile/fenix/pull/5716

[2019-10-04 17:36] #3976 closed

[2019-10-04 18:18] ekager commented on #5534
Ugh reopening I'm still seeing this test failing on PRs intermittently

[2019-10-04 19:53] talhek commented on #4346
Can confirm that this is still happening with FF Preview v2.1.

[2019-10-04 20:13] ekager commented on #4346
We request landscape mode when fullscreen is requested which we added in #4100. Going to close this as a dupe of #5771 but will link this exact STR there.

[2019-10-04 20:13] #4346 closed

[2019-10-04 20:13] ekager commented on #5771
See https://github.com/mozilla-mobile/fenix/issues/4346 for another issue with landscape/portrait fullscreen video

[2019-10-04 20:14] ekager commented on #5771
We added requesting landscape mode for videos in https://github.com/mozilla-mobile/fenix/pull/4100

[2019-10-04 20:14] nojunpark opened #5793 "[Bug] Collections do not get saved intermittently in low memory x86 VM"
## Steps to reproduce
This is seen only on Firebase UI Test, where the tests are running on a x86 emulator VM with (possibly) a lower spec, since the tests seem to run slower than local android emulator.

https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8583168991722205749 is where the test passes on one setup, but fails on another setup.  The UI

[2019-10-04 20:34] lime124 commented on #1019
FYI - Verdi very recently worked on some settings for private mode on desktop.

Also this ticket (as sblatz points out in comment 0) will cover a bit of redesign on the search page to organize/group the various settings/options and make it more clear what is doing what.

[2019-10-04 21:00] gaby2300 opened #5795 "[Bug] Preview Nightly for Developers crashes when I tap "Settings""
## Steps to reproduce
1) Start the app
2) Tap the 3 dots
3) Tap "Settings"

### Expected behavior
It should display the settings options

### Actual behavior
The app crashes

### Device information
Sony Xperia Z3C

* Android device: 6.0.1

* Fenix version: Today's Preview  Nightly for Developers. Unfortunately I cannot add more details because I couldn't access about:support due to the crashes

No

[2019-10-04 21:00] gaby2300 opened #5796 "[Bug] Preview Nightly for Developers crashes when I tap "Settings""
## Steps to reproduce
1) Start the app
2) Tap the 3 dots
3) Tap "Settings"

### Expected behavior
It should display the settings options

### Actual behavior
The app crashes

### Device information
Sony Xperia Z3C

* Android device: 6.0.1

* Fenix version: Today's Preview  Nightly for Developers. Unfortunately I cannot add more details because I couldn't access about:support due to the crashes

No

[2019-10-04 21:27] ekager commented on #5796
Closing as dupe of #5784

[2019-10-04 21:27] #5796 closed

[2019-10-04 21:30] mikeGolf08 opened #5798 "[Bug] Pixelated info icons in ETP options"
## Steps to reproduce

1. Open Settings
2. Navigate to Enhanced Tracking Protection (ETP)

### Expected behavior

Info icons next to ETP-rule-options are sharp.

### Actual behavior

Info icons next to ETP-rule-options are pixalated.

### Device information

* Android device: Android 9 OOS9.0.5 OnePlus 3T A3003
* Fenix version: Nightly 191004 18:00 (Build #12771805)
package: 16.0.0, 5f9e6da18
liza

[2019-10-04 21:32] mikeGolf08 commented on #5164
This makes sense - closing the ticket now.

[2019-10-04 21:32] #5164 closed

[2019-10-04 21:34] mikeGolf08 commented on #3863
Does not happen at the latest builds so I closed it.

[2019-10-04 21:34] #3863 closed

[2019-10-04 21:36] ekager commented on #5795
closing as dupe of #5784

[2019-10-04 21:36] #5795 closed

[2019-10-04 21:42] Baron-Severin opened #5799 "Document current approach to architecture"
While completing #4596, we should document the new architecture in a way that is approachable to new devs and contributors.  This document should live in the codebase in the form of an ADR (or similar), under the /docs directory.

This issue was split off to track work as the documentation effort was out of scope of #4596.

[2019-10-04 21:55] #5185 closed

[2019-10-04 22:06] ekager commented on #5789
Could reproduce this on latest Nightly with Pixel 3 on Q

[2019-10-04 22:07] ekager commented on #5789
Could not reproduce on Chrome.
Could not reproduce on Fennec (Although it didn't seem as "smooth" as Chrome)

[2019-10-04 22:10] ekager commented on #5789
Opened https://bugzilla.mozilla.org/show_bug.cgi?id=1586438

[2019-10-04 22:11] ekager commented on #4939
@softvision-miralobontiu does it work with ETP turned off?

[2019-10-04 22:38] liuche commented on #5313
hey @Sdaswani thanks for the bug report! 😛

I'm not able to repro this, so I'm going to close it for now. Feel free to re-open if you're still seeing it!

[2019-10-04 22:38] #5313 closed

[2019-10-04 22:59] Baron-Severin commented on #4780
Thanks @sv-ohorvath, I'll work on a fix.

[2019-10-04 23:10] liuche commented on #5342
@NotWoods does PWA have a concept of private vs non-private opening? And how does that affect the PWA (for offline storage, etc).

If not, and this only refers to homescreen shortcuts, in order to minimize confusion, we're only going to allow users to control links globally, rather than per-shortcut.

[2019-10-04 23:10] #5342 closed

[2019-10-04 23:14] liuche commented on #5341
For now, to both minimize confusion (a user needs to remember which state they saved it in) and technical maintenance of another branch state, I'm going to say that we're not doing this feature, because we've added a way for users to choose:
a) whether to open all links in Private Mode
b) if no default browser is set, to open in private or non-private in #5742 and #514

[2019-10-04 23:14] #5341 closed

[2019-10-04 23:20] liuche commented on #5593
Thanks for filing! This should be fixed in Nightly by #5742, please reopen if you're still seeing it.

[2019-10-04 23:20] #5593 closed

[2019-10-04 23:20] #5110 closed

[2019-10-04 23:24] liuche commented on #609
@bifleming this looks like it's in the Q4 waiting column but it was added in June, so I propose we bump it out of that list, and changing it to a P3.

[2019-10-04 23:42] grigoryk commented on #1022
@pocmo i've ran into the same behaviour, and couldn't work around it. So instead went for automating a local publication workflow.

[2019-10-04 23:55] NotWoods commented on #5342
They don't right now, but eventually we want to have the option to use PWAs with containers.

[2019-10-04 23:59] liuche commented on #776
Removing the waiting label since the GV bug is closed. Will need to put that code into AC, when we want to implement this feature - but unless AC is definitely doing that, it could also be done as part of this bug.

[2019-10-05 00:04] liuche commented on #5581
I believe this is waiting on #5582, and then we can do a walkthrough and file any remaining bugs.

[2019-10-05 00:07] NotWoods commented on #4989
Duplicate of #4273

[2019-10-05 00:07] #4989 closed

[2019-10-05 00:11] NotWoods commented on #5621
Sorry @chiragmantri, @nianjack got to this one first. [Here are some other issues we need help with](https://github.com/mozilla-mobile/fenix/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22).

[2019-10-05 00:14] NotWoods commented on #3379
This seems to be fixed with the new home screen design.

[2019-10-05 00:40] NotWoods commented on #1425
Closing since the desired behaviour was verified by QA.

[2019-10-05 00:47] NotWoods commented on #2405
I wasn't able to reproduce on the latest version (Sony Xperia XZ1)

[2019-10-05 00:50] NotWoods commented on #3480
I think we could show an option in the menu to open a new window if in multi-window mode.

[`Activity#isInMultiWindowMode()`](https://developer.android.com/guide/topics/ui/multi-window) returns true when in split-screen mode (phones, tablets) or when in multi-window mode (tablets, desktop). We could display an option in the overflow menu to open a new "window" when this function returns true.

Sup

[2019-10-05 00:53] NotWoods commented on #4004
Filed [Bugzilla 1586471](https://bugzilla.mozilla.org/show_bug.cgi?id=1586471) for GeckoView support.

[2019-10-05 00:55] liuche commented on #4513
Reminder to add the milestone to issues when you open a PR. Otherwise someone has to go through and manually do it @Baron-Severin @ekager

[2019-10-05 00:55] NotWoods commented on #3450
@sblatz @vesta0 Is this handled by the What's New option?

[2019-10-05 01:02] liuche commented on #2387
@AmyYLee for more context:

Should we save Private tabs when the app is killed, to (maybe) be reloaded on restart? In this case, it's due to some action a user took that isn't obvious will kill the app (and #2493 is because an app is killed by memory pressure).

[2019-10-05 01:03] liuche commented on #3082
This is a pretty old bug, and I can't repro it anymore so I'm going to close it. Please reopen if it's still an issue.

[2019-10-05 01:05] liuche commented on #3262
We're now running GV Nightly, so this is ready to be worked on, but needs to be behind a Nightly flag.

[2019-10-05 01:35] liuche commented on #5465
@julKali that's only for the initial state, where the checkboxes are all checked initially. https://github.com/mozilla-mobile/fenix/commit/758f4c13ec001b7735c42d65e22b359cc3c9d4e5#diff-72f1508822a7515db9a70c2034b4af60R65

However, we can tell if all the checkboxes in the UI have been unchecked, and then disable the delete button.

[2019-10-05 05:45] amilaneni99 commented on #5711
If this issue is open, I'd like to work on this. Thanks.

[2019-10-05 06:33] Poopooracoocoo commented on #4235
@brampitoyo I wasn't actually referring to the default theme. I'm asking for the address box to be light grey or white and for rest of the chrome to be grey

[2019-10-05 09:23] Kakitoru commented on #4049
This is asinine. Why not stop Firefox from opening web sites as well, then? That would also prevent a whole lot of thorny security problems for sure.

If this is not fixed, how to open local files (text, images, etc), play local media, run local wikis, test web sites and coded web apps locally, open presentations, or work offline?

This certainly kills Firefox for me and my co-workers.

[2019-10-05 10:21] julKali commented on #5465
I think it's not only about disabling the button when nothing is checked but to also disable it if f.e. only "Open Tabs" is selected but no open tabs are currently open. Or did I misread this?
In any case, I'm currently a bit busy so feel free to assign someone else!

[2019-10-05 12:41] klint commented on #5341
Thanks for the answer. It is true that the "open all links in PM" brings much more consistency to the matter (even if I still find it a bit strange from a user perspective to be able to create a shortcut from a page in PM, and yet to see the shortcut open itself in non-PM... or vice-versa :) )

Actually, I would now solve this issue in a simpler manner, functionnally speaking, by splitting the sin

[2019-10-05 17:22] Cheap-Skate opened #5803 "[Bug] Favicons in History and Bookmarks are too small for long-sighted users"
The favicons in History and Bookmarks are tiny, hardly bigger than a capital letter O in the normal font.

I'm pretty long-sighted (getting old). At a distance where I can read the URL text the favicons mostly look like coloured squares to me, can't see much detail inside them.

Particularly a problem with the dark theme where I find the circles really "pop" and I mostly see a white circle with a

[2019-10-05 17:30] Cheap-Skate opened #5804 "Preserve scroll offset in Tabs page when restarting Fenix"
If I scroll the Tabs page to get rid of the Firefox Preview logo and just see my tabs.

-> The scroll offset is preserved if I move into a tab and then back to the Tabs page

-> The scroll offset is NOT preserved if I quit & restart Fenix.

Could the scroll offset be preserved in the latter case? More consistent, better muscle memory, don't need to look at the Preview logo, blah blah.

[2019-10-05 17:50] ekager commented on #5651
I have updated the Experimenter ticket with the experiment and branch names as well as target version number

[2019-10-05 17:51] ekager commented on #5651
I have added a section to the new `experiments.md` doc about QA-ing these experiments, but reach out for help if needed!
https://github.com/mozilla-mobile/fenix/blob/master/docs/experiments.md#qa

[2019-10-05 17:57] ekager commented on #5692
Let's get this tested and see if all .apk downloads -> installations fail in Fenix currently (with Install Unknown Apps permission granted)

[2019-10-05 18:05] ekager commented on #3994
This was last seen 3 months ago :P closing

[2019-10-05 18:05] #3994 closed

[2019-10-05 18:10] ekager commented on #5729
Could we retest this? Maybe related to weird crash we were also seeing in #5668

[2019-10-05 18:11] ekager commented on #5668
Not sure how to continue here so I'm going to close this and hope it was just a weird build 🤷‍♀ Please reopen if we see this again!

[2019-10-05 18:11] #5668 closed

[2019-10-05 18:13] ekager commented on #5552
@boek did we ever get this resolved on the Pontoon side or did we just reintroduce the same crash with latest string exports 😆

[2019-10-05 18:14] ekager commented on #5381
Looks like this was only happening for a few hours that day. Closing!

[2019-10-05 18:14] #5381 closed

[2019-10-05 18:16] ekager commented on #4248
This has very few events but is still happening rarely as of 8 days ago

[2019-10-05 18:17] ekager commented on #5413
If this has only 1 user 1 event still we can probably close it?

[2019-10-05 21:59] Shaurya-Kalia opened #5805 "Show page preview in tabs rather than site's icon or an alphabet"
### Why/User Benefit/User Problem
As in current firefox, the tabs show site preview, which is very helpful in differentiating sites quickly. In fenix, it is not present and hence increases delay in choosing site, causes confusion when site names are similar

### What/Requirements
Increase the heights of individual tabs and show preview of the site's page

### Acceptance Criteria (how do I know whe

[2019-10-06 00:48] boek commented on #5552
I think we fixed it on both. We’ll want to take out the temporary fix though!

-j

On Oct 5, 2019, at 11:14 AM, Emily Kager <notifications@github.com> wrote:

[2019-10-06 04:00] yoasif commented on #2387
FWIW, Safari on iOS (not sure about other browsers) saves private tabs forever until closed manually. Given the massive marketshare of that browser, it may simply be that people expect this.

I think it is a nice feature to have, and with the "Quit" option now present in Fenix, that can act as a signal to dump private tabs.

[2019-10-06 05:18] vipulasri commented on #5711
@NotWoods I would like to work on this.

[2019-10-06 05:59] #5413 closed

[2019-10-06 06:43] NotWoods commented on #5711
Sorry @vipulasri, @amilaneni99 commented first so I'll let them take on this issue.

[2019-10-06 06:51] NotWoods commented on #3443
@olsenme Would you like me to assign this issue to you?

[2019-10-06 06:54] NotWoods commented on #5601
Duplicate of mozilla-mobile/android-components#1159. The issue here is that SVGOMG generates a `blob:` URL, not that it is downloading an SVG.

[2019-10-06 07:03] NotWoods commented on #5458
Most of the core functionality has been put inside `IntentReceiverActivity#processIntent` so tests can just call that method and verify that the `intent` was adjusted properly.

[2019-10-06 07:04] NotWoods commented on #5250
Should be working now since that was two AC versions ago.

[2019-10-06 15:18] cadeyrn commented on #5567
Now it's no longer possible to change the search engine after you entered something into the address bar. This can be very annoying if you notice that you selected the wrong search engine _after_ entering the search term because you have to remove the whole input, change the seach engine and type it again… It's also a functional regression for the Fennec -> Fenix migration where you _can_ change t

[2019-10-06 15:50] klint commented on #5567
Maybe the button could be back when the setting is Off?

[2019-10-06 15:57] Cheap-Skate commented on #5567
Question:- How will the newly adopted search behavior (show search engines before typing, search engines disappear when typing starts) work with Top Sites which IIUC is coming soon? Presumably Top Sites will appear before I type & use a lot of the screen real estate which  shows search engines. ie won't Top Sites and search engine list conflict over the same screen real estate?

Suggestion:- How a

[2019-10-06 16:55] Cheap-Skate commented on #5567
Re tapping the search favicon, Samsung Internet does this, I like it. Down pointing caret next to the search favicon in URL bar, tapping the search favicon drops down a list of search engines.
![Screenshot_20191006-175224_Samsung Internet Beta](https://user-images.githubusercontent.com/40568887/66272478-3d09c400-e862-11e9-8d91-6a798b400487.jpg)
![Screenshot_20191006-175248_Samsung Internet Beta](h

[2019-10-06 18:04] ekager commented on #5351
Reopening for QA

[2019-10-06 19:36] yoasif commented on #5567
@cadeyrn Can you open a new issue for this regression? There is also a post on reddit: https://www.reddit.com/r/firefox/comments/de03eu/why_search_with_was_removed_now_u_can_change/

[2019-10-06 19:50] monreal commented on #1168
I wonder if there is a workaround for this? I can access one of my two WiFi access points just fine with Fenix while they both use self signed certs. Is the override config synced from Fennec via FxA?

[2019-10-06 20:25] mikeGolf08 commented on #5804
Hi Cheap-Skate,

I spent a few moments to look after your requested feature and from my side I think it does not make sense implementing it - Let me explain why:

The tab offset on Fenix's homescreen is kept when simply "minimising the app" but not when tapping *Quit* because *Quit* is only visible if you *want to delete browsing data on quit* and if data is beiing deleted it is like a reset and F

[2019-10-06 20:36] mikeGolf08 commented on #5805
I like it clean but I am sure many would like to have a tab preview like with the current Firefox... If this is to be implemented I just want to give some suggestions:

1. Tab grid preview
2. 2 Tabs under Firefox Logo (Tabs & Collections)

Collections need to be visible in my opinion because it is a pretty good feature for marketing and helpful for browsing the web. (Web-routine)

The design sugge

[2019-10-06 21:34] emmyemi opened #5809 "[Bug] Tabs stop responding to navigation when Fission is enabled"
## Steps to reproduce

- Enable `fission.autostart` through about:config
- Search or go to any web page
- Attempt to tap a link, go back/forward, reload the page, or enter a new address/search

### Expected behavior

- Navigation works as expected: the new page is loaded, or the current page is reloaded

### Actual behavior

- The tab doesn't respond to navigation, but otherwise still works
- Open

[2019-10-06 21:45] brampitoyo commented on #5567
@cadeyrn wrote:

I agree with you that having this preference is totally sufficient.

I wrote in https://github.com/mozilla-mobile/fenix/issues/5567#issuecomment-537318950:

The default value should be ON. Meaning: the “Shortcuts” button will be available to all users unless you manually turn it off.

Would this fix the issue?

[2019-10-06 22:05] brampitoyo commented on #5650
That’s brilliant, @AmyYLee. Sorry I took you off the assignee list without checking or waiting first for your reply!

Sounds like this is a much lighter way forward than having to build a system to turn a normal session into a private session (and vice versa).

[2019-10-07 01:07] linacambridge commented on #5762
Related: #4479

[2019-10-07 04:55] monreal commented on #5694
I wondered about the auto hiding of the bottom navbar as well initially. Then I realized the constantly shown bar is what I like about Fenix. That is because the bar is needed for tab management.

[2019-10-07 05:15] brampitoyo commented on #5735
@NotWoods Thanks for the super helpful mockup. Yes. We should adjust the icon as shown.

[2019-10-07 05:16] NotWoods commented on #5735
The screenshot is from an implementation by contributor @VMadalin 😄

[2019-10-07 05:18] brampitoyo commented on #5735
Then a big thank you to @VMadalin!

[2019-10-07 05:23] brampitoyo commented on #5803
@Cheap-Skate Your core question is:

Let’s ping our designer @topotropic who has most recently worked on this feature.

[2019-10-07 05:27] brampitoyo commented on #5736
Hi @sblatz, just to clarify. Is there a difference between going to:

And going to:

In the behaviour you’ve shown in the GIF, things look good to me – but perhaps I’m wrong because I haven’t worked on Fenix for a while!

Did you propose not to pop to home screen?

[2019-10-07 05:34] brampitoyo commented on #5236
@cadeyrn What’s your proposed solution. Would you be able to mock it up?

Did you propose to:

* Reduce vertical space between each menu item, so they’re not so wide?
* Move each text a couple of pixels up, so they’re vertical centred?

I’d be happy to follow measurements specified by Material Design, especially if it’s trivial to do (which sounds like it’s not?). https://material.io/components/li

[2019-10-07 05:39] brampitoyo commented on #5063
@ekager I like doing item 1 for now, as you’ve proposed.

As for item 2, while I can think of a few items that match your list, we should probably create a new issue to tackle it.

In my mind, on that issue, we’ll need to figure out:

1. What all these long press menu items should be on different situations (normal vs. private custom tab – is there a difference?)
2. The most logical order/arrangem

[2019-10-07 06:07] obarzpaw commented on #5465
I would like to try fixing this one out.

[2019-10-07 06:07] obarzpaw commented on #5458
I would like to work on this.

[2019-10-07 06:08] obarzpaw commented on #4828
I would like to work on this.

[2019-10-07 06:09] obarzpaw commented on #4558
I would like to work on this.

[2019-10-07 06:10] obarzpaw commented on #2435
I would like to work on this

[2019-10-07 06:50] softvision-miralobontiu commented on #5729
I cannot reproduce it with the latest Nightly build from Play Store, 191004 (#12771805) with Samsung Galaxy Note 8 (Android 9), Xiaomi Mi 8 Lute (Android 9), and Samsung Galaxy Tab A6 (Android 5.1.1).
I'm closing this issue.

[2019-10-07 06:50] #5729 closed

[2019-10-07 08:13] sv-ohorvath commented on #5742
@sblatz The crash is now fixed, but Android 5&6 users won't be able to use this feature as long as it's hidden. Do we want to keep it this way?

[2019-10-07 08:15] softvision-miralobontiu commented on #5009
Still reproducible with the latest Nightly 10/4 (#12771804) with Samsung Galaxy S6 (Android 7), even with ETP disabled.

[2019-10-07 08:29] softvision-miralobontiu opened #5812 "[Bug] The thumbnails from twitch.tv change when scrolling"
## Steps to reproduce
1. Go to twitch.tv and scroll the page.

### Expected behavior
The page should scroll without issues.

### Actual behavior
The page flickers and changes the thumbnails.
The same behavior when the ETP is disabled.

### Device information
* Android device: Xiaomi Mi 8 Lite (Android 9), Samsung Galaxy S6 (Android 7)
* Fenix version: Nightly 191004 (#12771804)

![20191007_Trim](h

[2019-10-07 08:49] mcarare commented on #5709
@AmyYLee For # 6 : Do you want the radio buttons aligned with header, or the text? TY

[2019-10-07 08:49] softvision-miralobontiu commented on #4938
Still reproducible on 10/4 Nightly build with Xiaomi Mi 8 Lite (Android 9).

When ETP is disabled, buttons work.

[2019-10-07 08:51] sv-ohorvath commented on #2405
Doesn't reproduce on Pixel 3(Android 9), OnePlus 5T (Android 9), Pixel (Android Q).

[2019-10-07 08:55] softvision-miralobontiu commented on #4939
Not reproducible on the latest Nightly build 1.0.1941 from 10/7 with Xiaomi Mi8 Lite (Android 9).
I was able to sign-in with social media buttons.
I will close this issue.

[2019-10-07 08:55] #4939 closed

[2019-10-07 09:12] sv-ohorvath commented on #5442
Verified as fixed on master (10/7).

[2019-10-07 09:12] #5442 closed

[2019-10-07 09:57] Dunexus commented on #5803
Seems related to https://github.com/mozilla-mobile/fenix/issues/2435

[2019-10-07 10:23] birdie-github opened #5813 "[Bug] Wrong version string for 2.1.0 release"
You have released version **"2.1.0"** instead of **2.1.0**, so even the release notes can't be open.

Please push 2.1.1 without quotes.

I'm talking about Android.

[2019-10-07 11:41] sv-ohorvath commented on #5784
Verified as fixed on the latest master (10/7), on Android 5 & 6 devices.

[2019-10-07 11:41] #5784 closed

[2019-10-07 11:44] Cheap-Skate commented on #5803
This issue is a duplicate of https://github.com/mozilla-mobile/fenix/issues/563#issuecomment-492404393 and the discussion around it

(I personally dislike the circles + very small favicons but it seems to have been discussed at length already)

[2019-10-07 11:47] sv-ohorvath commented on #5712
Verified as fixed on latest master (10/7).

[2019-10-07 11:48] #5712 closed

[2019-10-07 12:01] softvision-miralobontiu opened #5814 "[Bug] Not all bookmarks are synced correctly"
## Prerequisites
Make sure Bookmarks and History are both selected to sync in your FxA account.

## Steps to reproduce
1. Sign-in on Fennec with valid credentials.
2. Create some bookmarks.
3. Sign-in on Fenix with the same account from step 1 and trigger sync.

### Expected behavior
All the created bookmarks are visible in the exact folder they were saved, no duplicates.

### Actual behavior
On F

[2019-10-07 12:18] klint opened #5815 "Split the single 'open *all* links in PM' pref into 2 settings: one for 3rd party, one for shortcuts"
### Why/User Benefit/User Problem

_Note: this was originally expressed as a post-closure comment in #5341, which was not the right place. It may also be related to #5742 and #514_

First, here are 2 assumptions that make sense to me (at least ;) ):

1) Shortcuts to websites on phone's homescreen are a very powerful feature to avoid cluttering the phone with applications, either for PWA-enabled si

[2019-10-07 12:38] klint commented on #5567
Sorry, I'm lost. Are you talking about the "Shortcuts" button or the shortcut entries above with the name of each search engine??? In the latest nightly, the setting deals with the shortcut entries, and the "Shortcuts" button is always hidden. What is the new fix you are suggesting then? Thanks :)

[2019-10-07 12:40] klint commented on #5567
Sorry, I'm lost: are you talking about the "Shortcuts" button or the shortcut entries above with the name of each search engine???
In the latest nightly, the setting deals with the shortcut entries, and the "Shortcuts" button is always hidden. What is the new fix you are suggesting then?
Thanks :)

[2019-10-07 13:48] Cheap-Skate commented on #5567
Sorry for confusion, let me try again. My suggestion is to bring back the "Shortcuts" button which used to show/hide the list of search shortcuts, but instead of having it as a distinct button at the bottom of the page, put its behavior into the "currently selected" search favicon at the left hand side of the text entry bar. i.e. tap the "currently selected" search favicon to bring up the list of

[2019-10-07 14:01] mikeGolf08 opened #5816 "Done button after editing folder of bookmarks"
### Why/User Benefit/User Problem

After adding a new bookmark it is possible to save it in a selectable folder by pressing **EDIT** . If the user does so it is necessary to press the back button twice to get back to the website.

### What/Requirements

It would be good to have a **Done** button next to the **+**(New folder)-Button on top of the bookmark folders.

### Acceptance Criteria (how do I

[2019-10-07 14:09] klint commented on #5567
Thanks @Cheap-Skate for that clarification.
@brampitoyo, is it the same fix you are referring to? :)

[2019-10-07 14:27] sv-ohorvath commented on #5177
Verified as fixed on master 10/7. Devices: Pixel (android Q), Pixel (android 9)

[2019-10-07 14:27] #5177 closed

[2019-10-07 15:02] apbitner commented on #1487
-     text color attribute for all themes (is it accent?)
  - Correct
-     text font: we don't have that font in Fenix app. In the sample looks like sans-serif-medium.
  - The design team uses FirefoxSharpSans Bold for that header. If you're unable to use it, I can follow up with an engineer to see what they've been using in its place.
-     layout height is smaller than that of a regular Menu It

[2019-10-07 15:59] K900 opened #5818 "[Bug] IP addresses are trimmed incorrectly"
## Steps to reproduce

Navigate to 192.168.1.1 (or any other IP address directly), open tab list.

### Expected behavior

Tab hostname is displayed as "192.168.1.1"

### Actual behavior

Tab hostname is displayed as "192.168.1"

### Device information

* Android device: Asus ZenFone Max Pro M2 (X01BD)
* Fenix version: latest Nightly from Play Store

This seems to have been fixed in #2648 at some p

[2019-10-07 15:59] K900 opened #5819 "[Bug] IP addresses are trimmed incorrectly"
## Steps to reproduce

Navigate to 192.168.1.1 (or any other IP address directly), open tab list.

### Expected behavior

Tab hostname is displayed as "192.168.1.1"

### Actual behavior

Tab hostname is displayed as "192.168.1"

### Device information

* Android device: Asus ZenFone Max Pro M2 (X01BD)
* Fenix version: latest Nightly from Play Store

This seems to have been fixed in #2648 at some p

[2019-10-07 16:00] K900 commented on #5819
Oops, Github is having trouble, closing in favor of #5818.

[2019-10-07 16:00] #5819 closed

[2019-10-07 16:14] sblatz commented on #5567
If you being a search and then backspace until the text is empty, you will be presented with the search engine switcher again, so you can change it there. That being said, that's not necessarily super discoverable or intuitive.

[2019-10-07 16:17] miladmaz12 opened #5820 "[Bug] Desktop site on/off switcher ripple is cut off"
## Steps to reproduce

https://streamable.com/bhz1i

### Expected behavior

### Actual behavior

### Device information

* Android device: OnePlus 3T, Android Pie 9
* Fenix version: 2.1.0

[2019-10-07 16:31] vesta0 commented on #5581
@liuche this shouldn't be waiting on anything. This is about fixing issues with the actual download. There are a large number of downloads that are not working.
Example:
#5601
#3703
#3666
#2579

[2019-10-07 16:34] sblatz commented on #5742
@sv-ohorvath on Android 5&6 are you able to ever see the "Open with..." "(Private) Firefox Preview"?

[2019-10-07 16:36] NotWoods commented on #5581
A lot of the download issues are waiting on GeckoView (`blob:` URLs, `.xpi` files)

[2019-10-07 16:40] kbrosnan commented on #5820
Screenshot of the issue with desktop toggle button being cut off on the right side.

![Annotation 2019-10-07 093606](https://user-images.githubusercontent.com/250273/66330975-5d7b6200-e8e6-11e9-84ac-6dbcd24a1752.png)

[2019-10-07 16:40] ekager commented on #5063
This is a good first issue then if we're just doing number 1 for now - you'll just be doing bullet 1 which is passing `customTabSessionId` into `ContextMenuFeature` in `BaseBrowserFragment`.

[2019-10-07 16:47] Lululalu opened #5821 "Hide http(s):// from the address bar"
### Why/User Benefit/User Problem
Currently https:// takes almost half of the space available to show the actual website address and Fenix already has a secure connection icon.

![20191007_134706](https://user-images.githubusercontent.com/32398857/66331455-f6bb7000-e908-11e9-891e-9a2fbd681a71.jpg)

### What/Requirements
No more https:// on the address bar

### Acceptance Criteria (how do I know wh

[2019-10-07 16:48] sblatz opened #5822 "[Bug] Buttons on toolbar have weird touch ripples"
Nearly every button on the browser toolbar has some sort of weird touch target animation. We should improve these so they look as expected.

I think the three dot menu used to work, but changed with @Amejia481's recent toolbar changes. Not sure if the rest of these can be looped into that work :)

![Button presses look weird on toolbar 2019-10-07 09_46_08](https://user-images.githubusercontent.com

[2019-10-07 16:52] sblatz commented on #5736
@brampitoyo Currently the behavior of both of those steps are the same: pressing "delete open tabs" in both of those cases pops you to the home screen.

I think when you do

it should not pop at all since the user isn't currently in a browsing session. It seems disorienting to me that we pop the user up two levels (back to settings, back to home) when pressing "delete open tabs"

[2019-10-07 16:59] ekager commented on #3846
Closing because I think we are now following that checklist for updating the tabs and we will QA in https://github.com/mozilla-mobile/fenix/issues/5351

[2019-10-07 16:59] #3846 closed

[2019-10-07 17:00] ekager commented on #5822
3 dot menu is tracked in #5782

[2019-10-07 17:01] tomprince commented on #1098
I am to have creating PRs with l10n changes deployed this week. The current plan is to handle all automation via https://github.com/mozilla-l10n/android-l10n and won't involve any code changes here. Support for automatic merging is out-of-scope for the current batch of work.

[2019-10-07 17:08] ekager commented on #5820
Opened https://github.com/mozilla-mobile/android-components/issues/4672

[2019-10-07 17:10] mcomella opened #5823 "[Meta] 3rd party WebExtensions performance investigation"
### Why/User Benefit/User Problem
When we introduce a new major feature, we should do some preliminary performance testing. If it regresses performance, we should see what we can do about it and, if nothing, verify that we're okay with the regressions.

3rd party WebExtension support appears to be in development, e.g. #5630, so we should get on that. :)

WebExtension meta: https://github.com/mozil

[2019-10-07 17:15] #5735 closed

[2019-10-07 17:34] miketaylr commented on #2588
Sorry for the delay here -- this is a known issue, that Google is allegedly tracking internally: https://github.com/webcompat/web-bugs/issues/19384#issuecomment-437186956

[2019-10-07 17:37] sblatz commented on #1648
Other ripple issues seen here:

![Button presses look weird on toolbar 2019-10-07 09_46_08](https://user-images.githubusercontent.com/4400286/66331432-63257780-e8e7-11e9-9979-ef5aa47cfb47.gif)

[2019-10-07 17:37] sblatz commented on #1648
I will file this in AC as well.

[2019-10-07 17:40] sblatz commented on #5822
Closing in favor of #1648

[2019-10-07 17:40] #5822 closed

[2019-10-07 17:47] sblatz commented on #3355
@abodea do you have an update on this? 😄

[2019-10-07 17:57] kbrosnan commented on #2588
Closing in favor of the webcompat issue.

[2019-10-07 17:57] colintheshots opened #5824 "Proxy UI telemetry"
Create telemetry probes for the Secure Proxy feature in Fenix and have data review performed on them.

[2019-10-07 18:14] liuche commented on #5465
For a first pass, we want to disable the delete button if no checkboxes are selected. @julKali you're correct that we'd ideally want to also do that if there are no tabs open, but this is at least a step in the right direction!

[2019-10-07 18:43] NotWoods commented on #2197
I've been having trouble finding documentation on what intents need to be used with third-party downloaders. We may need to dig through Fennec and see what is done there. I think we chose to separate this from the main download manager meta.

[2019-10-07 19:12] lime124 commented on #3262
yay! look forward to it landing in nightly!

@NotWoods can you please let @AmyYLee  review quickly before landing? then we can make any adjustments before it lands. i appreciate it - thanks!

[2019-10-07 20:07] #5573 closed

[2019-10-07 20:08] kolAflash commented on #5663
I really hope this bug never gets into a productive version!
It's a worst case for many people!

It's still an issue in the PlayStore beta 2019-10-07.

But version 2.1.0 is fine.
https://github.com/mozilla-mobile/fenix/releases/tag/v2.1.0

[2019-10-07 20:10] kolAflash commented on #5037
Looks like it's fixed in 2.1.0-final.
https://github.com/mozilla-mobile/fenix/releases/tag/v2.1.0

[2019-10-07 20:17] sblatz commented on #5231
Can we get @AmyYLee's confirmation on this? I believe this goes against her original design.

[2019-10-07 20:28] AmyYLee commented on #1019
Here is the flow. @jpfaller to review/approve copy.

![Screen Shot 2019-10-04 at 4 56 19 PM](https://user-images.githubusercontent.com/5992746/66346112-6c323b00-e91f-11e9-9619-ce8d358169ab.png)

[2019-10-07 20:31] ekager commented on #4717
Could you clarify this a bit with maybe a video/gif? And is this always reproducible? I'm not quite sure what you mean

[2019-10-07 20:35] NotWoods opened #5827 "Use R.id for request codes"
We hardcode many request codes (for `PendingIntent`, `onRequestPermissionsResult`, etc), but we can take advantage of resources to generate unique codes for us. [ID resources](https://developer.android.com/guide/topics/resources/more-resources#Id) can be used whereever we need a unique integer.

1. Create a `res/values/ids.xml` file.
2. Create xml tags (`<item name="{request-code-name}" type="id"/

[2019-10-07 20:37] ekager commented on #4904
The desired behavior here is that if you launch Fenix from an external app (not a custom tab though so Messages etc) and then immediately press back you should end up back on the other app and the tab should be closed in Fenix.

[2019-10-07 20:38] SeburoSUMO opened #5828 "Always on private browsing"
### Why/User Benefit/User Problem

Users like the always-on private browsing of Fx Focus

### What/Requirements

Ability to toggle private browsing on, and for it to also apply to custom tabs when Fx Preview is used to view a link from another app.

### Acceptance Criteria (how do I know when I’m done?)

Fx Preview has a "Focus mode", when having flipped a toggle setting, the browser is in Private

[2019-10-07 20:39] Apoorv-Gaurav-Agarwal commented on #5827
I would like to try this if its still available

[2019-10-07 20:46] ekager commented on #5534
Unassigning myself for now because I'm not sure what else to try here

[2019-10-07 20:55] beigos commented on #5756
Leave it be.
Fennec's button location makes it hard to reach it using one hand in portrait mode, it is too high.

I find myself using scan button more often, now that it is easily reachable.

[2019-10-07 21:02] brampitoyo commented on #5803
@Cheap-Skate Let’s close this issue, then. I hope you don’t mind?

[2019-10-07 21:02] #5803 closed

[2019-10-07 21:06] ghost opened #5829 "DL fails if "Download" folder is missing"
Trying to download a file will fail if destination directory is deleted, maybe FF should just create a folder if needed,  or inform the user why downloading cannot proceed.

[2019-10-07 21:06] beigos opened #5830 "[Bug]"
Trying to download a file will fail if destination directory is deleted, maybe FF should just create a folder if needed,  or inform the user why downloading cannot proceed.

[2019-10-07 21:07] #5830 closed

[2019-10-07 21:11] beigos opened #5831 "DL finish notification has too high priority"
Android 9

"download finished" notifications play sound, and this is annoying.

This notification should have lower priority and stay silent.

[2019-10-07 21:34] AmyYLee commented on #4776
Let me know if there's anything else that needs to be added here:

![Settings - About Firefox Preview](https://user-images.githubusercontent.com/5992746/66350154-92a8a400-e928-11e9-891d-d447d798d2b1.png)

[2019-10-07 22:04] brampitoyo commented on #5231
@cadeyrn,

@sblatz was correct. It was wise for me to get @AmyYLee’s confirmation, because her original design did specify that the private shortcut should access Fenix PBM with the search engine open.

Why didn’t the shortcut access the PBM homescreen instead?

The scenario:

* A user had PBM minimized in the background
* The user had forgotten that they have some private tabs open, or deliberate

[2019-10-07 22:04] #5231 closed

[2019-10-07 22:09] NotWoods commented on #4776
@AmyYLee Is this ready for eng?

[2019-10-07 22:15] grigoryk commented on #5550
An alternative to this is that we do nothing for APIs 21-23, acting like Fennec without a set master password.

IIRC, by default Fennec encrypts logins storage with a key that's something like "". Setting a master password changes that key, but for 99.9% of the users (whatever that number actually is, it's very high) our login storage story in Fennec is essentially "plaintext".

Fennec entirely de

[2019-10-07 22:16] NotWoods commented on #5828
This is actually a feature we recently added! Look for the "Launch links in private mode" option in settings.

I'm not sure if this is in the stable version yet. (@sblatz do you know?) If not, it'll show up soon!

[2019-10-07 22:16] #5828 closed

[2019-10-07 22:52] mcomella opened #5832 "Create performance dashboard for product owners: "release criteria"/"product maturity""
### Why/User Benefit/User Problem
In order to ensure we're hitting our goals and remaining a competitive product, the product owner needs insights into how the app's performance is doing over time and how it may have changed in recent releases. The solution to this problem often comes in the form of a dashboard, which we should consider creating.

Note: this was a request from Eric, that Vesta sup

[2019-10-07 22:53] Amejia481 commented on #2197
@pocmo told us that we had worked on the Fennec implementation maybe he can give us some hints

[2019-10-07 23:02] Webweweave opened #5833 "[Bug] Send Tab from Android Phone Does Not Show Device(s) Name(s)"
## Steps to reproduce
Problem applies to FF Preview and Android FF. Send tab from Android to other devices works but 2 of the 4 device names are blank. The list shows "[username]'s Firefox on " and then no name. All WIndows 10. One of the Windows 10 devices shows as "ASUSLaptop" but the other 2 windows 10 devices' names on the android device are missing information. They shoulld say something like

[2019-10-07 23:02] Webweweave opened #5834 "[Bug] Send Tab from Android Phone Does Not Show Device(s) Name(s)"
## Steps to reproduce
Problem applies to FF Preview and Android FF. Send tab from Android to other devices works but 2 of the 4 device names are blank. The list shows "[username]'s Firefox on " and then no name. All WIndows 10. One of the Windows 10 devices shows as "ASUSLaptop" but the other 2 windows 10 devices' names on the android device are missing information. They shoulld say something like

[2019-10-07 23:03] Webweweave opened #5835 "[Bug] Send Tab from Android Phone Does Not Show Device(s) Name(s)"
## Steps to reproduce
Problem applies to FF Preview and Android FF. Send tab from Android to other devices works but 2 of the 4 device names are blank. The list shows "[username]'s Firefox on " and then no name. All WIndows 10. One of the Windows 10 devices shows as "ASUSLaptop" but the other 2 windows 10 devices' names on the android device are missing information. They shoulld say something like

[2019-10-07 23:05] Webweweave opened #5836 "[Bug] Cannot see entire device name in send tab menu"
## Steps to reproduce
Problem applies to FF Preview and Android FF. Send tab from Android to other devices works but 2 of the 4 device names are blank. The list shows "[username]'s Firefox on " and then no name. All WIndows 10. One of the Windows 10 devices shows as "ASUSLaptop" but the other 2 windows 10 devices' names on the android device are missing information. They shoulld say something like

[2019-10-07 23:27] liuche commented on #5550
For 23+, AC (should) expose a way to configure and use the Android platform keys, but we'd still need to generate and store a key. (Look at what Lockwise does.)

Will look to discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1568690

[2019-10-07 23:34] NotWoods commented on #5836
Duplicate of #5833

[2019-10-07 23:34] #5836 closed

[2019-10-07 23:34] NotWoods commented on #5835
Duplicate of #5833

[2019-10-07 23:34] #5835 closed

[2019-10-07 23:34] NotWoods commented on #5834
Duplicate of #5833

[2019-10-07 23:34] #5834 closed

[2019-10-07 23:40] mcomella opened #5837 "Add performance tests for beta channel"
### Why/User Benefit/User Problem
~~As far as I'm aware, we're only doing regular automated performance tests on Nightly builds: this can provide an inconsistent view of the user experience. We should provide tests for release builds as well.~~

We're testing release already – https://github.com/mozilla-mobile/perf-frontend-issues/issues/21 to fix it – so repurposing this bug for Beta.

### What/R

[2019-10-08 00:07] ekager commented on #5295
You _can_ make a snackbar have length indefinite but I'm not sure how easy they are to dismiss in that way. We'd probably have to set some sort of touch listener/interceptor only for TalkBack users. It would definitely get a bit messy, but I suppose also creating dialogs instead of Snackbars at each of these locations would also.

[2019-10-08 00:07] ekager commented on #5295
I think if I had to choose one I'd prefer to implement a confirmation dialog and take away undo snackbars for TalkBack users since it makes the action much more deliberate

[2019-10-08 00:22] olsenme commented on #3443
yes please

[2019-10-08 00:22] olsenme commented on #3443
@NotWoods

[2019-10-08 02:58] vesta0 commented on #4776
@lime124 please review Amy's design and let us know if this is ENG ready so we can size it during backlog grooming on Wednesday.

[2019-10-08 04:12] brampitoyo commented on #5582
After feedback from UX, walkthrough with @vesta0 @liuche, and further tweaks to outline behaviours and account for corner cases, I’ve arrived at a reasonable set of user flow and mockups for this feature.

Find the design under the heading **Proposed (Q4 2019)**.  This URL will always contain the latest user flow and mockups.

https://miro.com/app/board/o9J_kw9q71A=/

[2019-10-08 04:20] brampitoyo commented on #5736
Thanks heaps, @sblatz, for patiently going over this issue with me.

We’ve met earlier today, and agreed that:

1. In the case of Open Tab → Settings → Delete open tabs, we have to pop users back to the homescreen, because the _only way_ to close this open tab is to exit it, and the _only place_ to exit is to the homescreen.
2. In the case of Homescreen → Settings → Delete open tabs, we will move

[2019-10-08 04:28] brampitoyo commented on #5295
@ekager I’ve just checked Material Design’s snackbar guidelines, and it says:

Sources:
* https://material.io/develop/ios/components/snackbars/api-docs/Classes/MDCSnackbarMessage.html#/c:objc(cs)MDCSnackbarMessage(py)duration
* https://material.io/develop/ios/components/snackbars/api-docs/Constants.html#/c:@MDCSnackbarMessageDurationMax

I agree with your idea of implementing a persistent-by-defau

[2019-10-08 04:44] brampitoyo commented on #5567
@Cheap-Skate Thanks for clarifying your suggestions on https://github.com/mozilla-mobile/fenix/issues/5567#issuecomment-539019834.

This is a totally separate issue from removing the Shortcuts button. So, will you file a new issue for us? We will definitely consider this as part of the larger search experience design (#5457).

Thanks heaps!

[2019-10-08 06:16] olsenme commented on #3443
Thanks @NotWoods

[2019-10-08 08:11] sv-ohorvath commented on #5742
@sblatz Yes, you can use the "Open with Private FP" function that way. The downside is you can't switch back to open in NBM unless you clear the app data/preferences from system settings.

[2019-10-08 09:07] sv-ohorvath commented on #5351
Verified as fixed on latest Nightly (10/8).

[2019-10-08 09:07] #5351 closed

[2019-10-08 09:12] klint commented on #5572
With #5231 latest design confirmation, the 2 different private mode shortcuts will have the same effect actually, which is opening a new tab in private mode, won't they?

[2019-10-08 09:26] sv-ohorvath commented on #5290
Still no media notification from spotify.com on the latest Nightly 10/8 build.

[2019-10-08 11:56] abodea commented on #3355
Hello @sblatz sorry for the delay.
#### Note the following
## Pseudo locales testing:
| Type      | Working/Not working   |
| ------------- |:-------------:|
| XA locale    | ✅ |
| XB locale   | ✅ |

I have re-tested all the sections from fenix:
 - While a tab is open, tap on 3 dot menu, the `Save to collection` spills out of its designated area.

![Screenshot_20191008-122641](https://user-images.

[2019-10-08 12:16] sv-ohorvath opened #5842 "[Bug] Launch app using page shortcut, can't open another shortcut"
## Steps to reproduce
1. Open 2 pages. Add them to the homescreen as page shortcuts.
2. Kill Fenix.
3. Tap one of the 2 shortcuts to launch it in Fenix.
4. Tap the other shortcut.
5. Close the tabs and try to launch the pages shortcuts again.
### Expected behavior
The webpages should load by tapping the shortcut on the screen.
### Actual behavior
If you launch the app using these shortcuts, they w

[2019-10-08 12:18] sv-ohorvath commented on #1620
Verified as fixed on Nightly 10/8.

[2019-10-08 12:51] sv-ohorvath opened #5843 "[Bug] Sometimes closed tabs are restored"
## Steps to reproduce
1. Add a page shortcut on the homescreen. Launch Fenix from the shortcut.
2. Load a few tabs.
3. Go to homescreen, tap the 3 dot button, tap Close all tabs.
4. Swipe to kill the app.
5. Launch Fenix again (using the shortcut or the app launcher).
### Expected behavior
Tabs are not restored.
### Actual behavior
sometimes the tabs are restored: all or just some of the latest on

[2019-10-08 12:55] pocmo commented on #2197
Fennec roughly does the following:
* It queries the package manager for apps that can handle the URL + mime type
* It filters out browsers
* It adds itself to the list

After that:
* If there's no app -> We can't handle that download
* If there's only one app (Usually Firefox itself) -> Use that
* If there are multiple options: Show an intent chooser like dialog where the user can select an option

[2019-10-08 13:08] sv-ohorvath commented on #5592
I'm still seeing visited links in history, from custom tabs in apps like reddit & gmail. Open links in private is set to always.
device: Pixel (Android 9)
build: Nightly 10/8

[2019-10-08 13:13] sv-ohorvath commented on #5213
@NotWoods Once you tap the edit button, the rest of the buttons in the toolbar are still black. Would you prefer a new issue for that or could you fix those in this one as well?

[2019-10-08 13:19] mohamediburan commented on #5592
@sv-ohorvath To fix this, We needed some changes in android-components (PR mozilla-mobile/android-components#4579) and it was merged as part of 16.0.0-Snapshot. I will create a PR to fix this issue.

[2019-10-08 13:21] Amejia481 commented on #2197
Thanks!

[2019-10-08 13:28] LaurentiuApahideanSV opened #5844 "[Bug] Taps are not registered if tapping too fast"
## Steps to reproduce
1. Go to https://www.cosarara.me/jaume/ff.html.
2. Tap on the first box and then quickly on the second one.
### Expected behavior
The counter should increment every time a box is tapped.
### Actual behavior
If tapping is done too fast the counter does not increment
### Device information

* Android device: Pixel 3 XL (Android 9)
* Fenix version: 2.1.0 (Build #12761514) Thursd

[2019-10-08 13:39] wisniewskit commented on #2579
This is also happening for files on Mega, as reported at https://webcompat.com/issues/41768

This link can be saved fine in Fennec, but Fenix rejects it: https://mega.nz/#!j7x0wQDR!j7YAxYNDxILDgpdpZaQrEIC_SphjObeyaG54BU4J-V8

[2019-10-08 13:45] brs17 opened #5845 "[Bug] Setting default browser app shows 2 instances of Firefox Preview Nightly"
## Steps to reproduce
- Go to:
  Settings -> Apps & Notifications -> Advanced -> Default apps
- Select `Browser app`
- Notice that there are two instances of Firefox (Preview) Nightly

![fenix2](https://user-images.githubusercontent.com/7460774/66400427-b1e21880-e99e-11e9-8219-bb268d552cd5.png)
![fenix1](https://user-images.githubusercontent.com/7460774/66400430-b3134580-e99e-11e9-8925-e021164e88a

[2019-10-08 13:51] mcarare commented on #3604
@jpfaller I assume we should also change message for multiple tabs (currently it says _"tab deleted"_). Also, for private tabs, change from _deleted_ to _closed_ and add check for single private tabs message (currently for closing one private tab it says the same as for normal tab, and says _private_ only for multiple tabs closed)

[2019-10-08 13:51] Apoorv-Gaurav-Agarwal commented on #5827
In progress

[2019-10-08 14:11] sv-ohorvath commented on #1353
Verified that the page now shows graphics & other info. Based on the above comment the product name will remain as "Fennec".
build: Nightly 10/8.

[2019-10-08 14:34] NotWoods commented on #5213
I'd prefer a new issue because the toolbar color should change, rather than the icon color

[2019-10-08 14:42] csadilek opened #5847 "[Bug] [Crash] StrictMode: NetworkOnMainThreadException in crash reporter"
From Sentry: https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6429644/

[2019-10-08 15:08] sv-ohorvath opened #5848 "[Bug] Black buttons in edit mode on the bookmark multi-selection toolbar"
## Steps to reproduce
1. Go to bookmarks.
2. Long tap a bookmarked page. Tap the edit button.
3. Tap to create a new folder.
3. Observe the buttons in the multi-selection toolbar on this entire flow: the delete button, add folder button, save folder.
### Expected behavior
The buttons are white (on light theme).
### Actual behavior
The buttons on the right side are black: the delete button, add fol

[2019-10-08 15:09] sv-ohorvath commented on #5213
Ok, I've created #5848 for the rest.

[2019-10-08 15:09] #5213 closed

[2019-10-08 15:28] vjba opened #5850 "tracking content level"
### Why/User Benefit/User Problem

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-10-08 15:28] #5850 closed

[2019-10-08 15:29] vjba commented on #5850
Sorry. I was looking for an exisiting Issue

[2019-10-08 15:40] rocketsroger opened #5852 "User helper in A-C for creating attached fragment in tests"
### Why/User Benefit/User Problem
Android Components recently added a helper function in Support Test that allows quick creation of attached fragments in unit tests.
### What/Requirements
Replace all instances of fragments in unit tests to use the new helper function.
### Acceptance Criteria (how do I know when I’m done?)
All tests is unaffected after refactoring to the new helper function.

[2019-10-08 15:41] rocketsroger commented on #5852
Please see https://github.com/mozilla-mobile/android-components/issues/4120 for more information.

[2019-10-08 16:07] pocmo commented on #5290
Thanks! I'll continue debugging this.

[2019-10-08 16:09] pocmo commented on #5290
Okay, how do I actually play something on spotify in the browser? On desktop I can go to open.spotify.com - but that doesn't seem to work when using a mobile browser?

[2019-10-08 16:11] jawz101 opened #5853 "Make the Fenix homepage be the contents desktop Bookmarks Toolbar folder. Reintroduce Tab Groups on desktop as what is now Fenix Collections"
### Why/User Benefit/User Problem
Top Sites, Pinned Sites, and Collections are an over-engineering of bookmarks.  The Mobile Bookmarks folder is like an appendage of the desktop bookmarks.  Why not have what is the Bookmarks Toolbar folder on desktop be the main page of the mobile browser?  It would encourage creating Firefox Sync accounts, use of the Bookmarks Toolbar folder on desktop Firefox, a

[2019-10-08 16:14] sblatz commented on #4190
Updated behavior:

![new behavior](https://user-images.githubusercontent.com/4400286/66406349-57e25280-e9a0-11e9-93d5-97877165a263.gif)

[2019-10-08 16:22] NotWoods commented on #5844
GeckoView bug: [1586496](https://bugzilla.mozilla.org/show_bug.cgi?id=1586496)

[2019-10-08 16:33] Apoorv-Gaurav-Agarwal commented on #5827
Hey,
There are more hard-coded values along with the request codes like custom_tab_session_id, etc. I don't have to include them?

[2019-10-08 16:36] NotWoods commented on #5827
No, only include the values where a static random integer makes sense. shared_transition_ms should always be the same number of milliseconds, and custom_tab_session_id needs to a random UUID string for different tabs.

[2019-10-08 16:39] Apoorv-Gaurav-Agarwal commented on #5827
ok

[2019-10-08 16:58] sblatz opened #5854 "Project board example issue"
This is a fake issue for testing our project board automations.

[2019-10-08 17:43] mcomella commented on #3676
This could be a good candidate for a regression unit test! 😁

[2019-10-08 17:48] sblatz commented on #5671
We will get this for free when AC fixes :)

[2019-10-08 17:49] yaomtc commented on #255
Currently, if I am listening to music in another app, say Vanilla Music, and scrolling through Twitter in Firefox Preview 2.1, my music playback is paused whenever I scroll onto a video. The video is muted until I hit the volume button on the video... But I still get the media notification that results in Vanilla Music pausing. Will this solve my issue?

[2019-10-08 17:50] vesta0 opened #5855 "[Spike] Determine process for handling visual locale issues"
ENG and UX will meet for an hour to discuss and determine next steps before breaking out and sizing the main issue #3355

e.g., do we want to open an issue for every single locale-specific problem? or file a single bug? (or accept the problem)

## Acceptance Criteria
- [x] UX / Eng discuss locale issues for 1 hour (eg how to handle problems like strings too long)
- [x] Update #3355 with Acceptance

[2019-10-08 17:53] vesta0 opened #5856 "[Spike] Review current visual locale issues"
ENG and UX will meet for an hour to discuss and determine next steps before breaking out and sizing the main issue #3355

[2019-10-08 17:54] vesta0 commented on #3355
Created a spike #5855 for ENG and UX to discuss and determine next steps.

[2019-10-08 18:05] #5856 closed

[2019-10-08 18:15] Apoorv-Gaurav-Agarwal commented on #5827
Hello,
I have done this but i can't push the branch I created as I don't have access. How do I push my changes and create a PR? :'D  Sorry, a noob here

[2019-10-08 18:38] reinhart1010 commented on #5827
Here's a tip:

1. Fork this repository (from `mozilla-mobile/fenix` to `<your GitHub username>/fenix`
2. Set up Git Remote to the `<your GitHub username/fenix` repository (e.g. `git remote add origin https://github.com/<your username>/fenix.git`)
3. Create a new Commit for that repository (`git add *` then `git commit -m "Commit message here"`)
4. Upload to GitHub (e.g. `git push origin master`)
5

[2019-10-08 18:40] Apoorv-Gaurav-Agarwal commented on #5827
git push origin master is giving me  Permission to mozilla-mobile/fenix.git denied to Apoorv-Gaurav-Agarwal.

I have created PR but they got created separately for the edited files ;-;

[2019-10-08 18:57] Apoorv-Gaurav-Agarwal commented on #5827
Ok. I did it in a single pull request. I have closed the prior ones.

[2019-10-08 19:20] bifleming commented on #3197
@cpeterso sounds like still a problem in GV 70

[2019-10-08 19:46] changecourse commented on #5774
Does there also need to be a bullet for hide/show of password?

[2019-10-08 19:58] vesta0 commented on #3450
This was meant to be different than What's new. What's new is an end-user facing support articles focused on features that are only published for major releases, however, our power users may also like access to detailed release notes (which bugs were fixed, etc). This is a feature in Fennec and we need to evaluate to see if there is value in adding this option to Fenix as well.

[2019-10-08 20:04] jpfaller commented on #3604
@mcarare

Just to make sure I'm following

Single tab - Tab closed
Multiple tabs - Tabs closed
Single Private tab - Private tab closed
Multiple private tabs - Private tabs closed

[2019-10-08 20:09] jpfaller commented on #5540
Headline: No internet connection
Copy: Check your network connection or try reloading the page in a few moments.

Button: Reload

[2019-10-08 20:15] sblatz opened #5865 "Consider removing "Quit" feature"
As @sarentz has mentioned, the quit feature isn't something that aligns with really any other mobile app. It will likely go against user expectations, and we should consider removing it.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-13810)

[2019-10-08 20:31] mcomella opened #5866 "[Meta] Add performance report for top metrics on each PR"
Q4 front-end perf OKRs: this is objective 2, KR 1. Possible dupe to #5020.

### Why/User Benefit/User Problem
To help prevent regressions to our top metrics (warm start from app link, cold start from home screen), we need to regularly monitor the performance dashboards (for the "boiling frog" problem). However, if the performance of the app is not visible enough, i.e. to the app developers, it wil

[2019-10-08 20:32] NotWoods commented on #5827
Thanks so much for the detailed PR guide @reinhart1010!

[2019-10-08 20:33] mcomella opened #5867 "[Meta] If there is a bad perf regression in a PR, fail the build"
Q4 front-end perf OKRs: this is Objective 2, KR 2. Blocked on #5866 which adds the performance reports per PR.

### Why/User Benefit/User Problem
To prevent easily preventable regressions and increase performance testing visibility, we should fail the build if a regression is found in a PR that's above some threshold. See #5866 for more details on per-PR performance reports.

### What/Requirements

[2019-10-08 20:42] mcomella opened #5868 "[Bug] Tab count is shifted"
## Steps to reproduce
Unknown. Notes:
- I see this on a fairly regular basis
- It seems unrelated to the number of tabs (i.e. the same tab count will be displayed centered sometimes but not others)
- It seems to occur more often after not using Fenix for a while
- My device font size is larger than default: it's "Large"

### Expected behavior
Tab count is centered.

### Actual behavior
Tab count i

[2019-10-08 20:45] sblatz commented on #5742
@sv-ohorvath I'm going to file a follow-up ticket for those cases, so this ticket doesn't rot, and since it will work for most of our users. We will need UX to design a way for it to work on those other versions.

[2019-10-08 20:47] mcomella opened #5869 "[Bug] Gecko used outdated cache upon pressing the back button"
## Steps to reproduce
This happened once and I can't reproduce this reliably. Roughly:
- (maybe) Open Fenix from the device homescreen
- (the current tab is opened - I think I was on nytimes.com) click the URL bar, enter a search, hit return
- Press back

### Expected behavior
nytimes reopens the current tab with the content I just saw

### Actual behavior
nytimes reopens the current tab with even

[2019-10-08 20:47] sblatz opened #5870 ""Always open in private mode" cannot be toggled off in Android 6"
Related to https://github.com/mozilla-mobile/fenix/issues/5742

Currently, we hide the "Set as default browser" settings option on devices 5/6 since we cannot send users to the default apps settings screen (it doesn't exist on those versions of android).
Because of this, users on 5 & 6 cannot currently reach the "open links in private mode" to disable it.

@AmyYLee how should we handle this?

[2019-10-08 20:48] sblatz commented on #5742
I filed https://github.com/mozilla-mobile/fenix/issues/5870.

@sv-ohorvath I'm closing this since we have that to track the 5&6 issue. Let's file follow-ups for any future bugs on this :)

[2019-10-08 20:48] #5742 closed

[2019-10-08 20:49] mcomella opened #5871 "[Bug] 3-dot menu feels slow to open (perceived performance)"
## Steps to reproduce
- Click 3-dot menu

### Expected behavior
Menu opens quickly, feels snappy

### Actual behavior
Menu feels like a slog to open, making the browser feel slow

### Device information

* Android device: Pixel 2
* Fenix version: Nightly 191008

[2019-10-08 20:50] sblatz commented on #5828
@SeburoSUMO Yes, you can find this feature under Settings > Set as default browser 😄

[2019-10-08 20:52] sblatz commented on #1298
I have reached out to Loren to get access to Adjust to keep testing this further. Unfortunately we cannot debug this any more without having access to the console itself 😕

[2019-10-08 20:53] sblatz commented on #5534
@rpappalax should we temporarily disable this test? 😕

[2019-10-08 20:55] sblatz commented on #1098
@tomprince is this related to the email @Pike just sent out?

It seems like we can close this ticket based on that email?

[2019-10-08 20:55] mcomella opened #5872 "[Bug] When adding a/deleting all tabs, "Open tabs"/"Private session" text unnecessarily animates upwards"
## Steps to reproduce
- Open a private tab
- Click tabs tray
- Click trash can to delete private tabs

### Expected behavior
Private session text stays still

### Actual behavior
Private session text animates half its height upwards. This also occurs:
- when adding the first tab.
- In normal browsing, with the "Open tabs" text

[Video of the behavior](https://drive.google.com/file/d/1sSZYfN00AMQxV

[2019-10-08 20:58] AmyYLee opened #5873 "Add On/Off indicator in Settings for Clear browsing data on exit"
Please add an On/Off indicator for Clear browsing data on exit. Thanks!

<img width="438" alt="Screen Shot 2019-10-08 at 5 00 44 PM" src="https://user-images.githubusercontent.com/5992746/66432959-3ce9ff80-e9ed-11e9-85ea-b003e8634751.png">

[2019-10-08 21:02] AmyYLee commented on #5873
@vesta0 to add to the backlog

[2019-10-08 21:04] mcomella commented on #3194
I notice that behavior on YouTube.com but on other sites I notice my behavior: the audio continues playing in the background, including when the app is backgrounded.

[2019-10-08 21:15] cadeyrn commented on #5868
Duplicate of #5346.

[2019-10-08 21:42] Delphine commented on #5496
Hi Liuche. Something occurred to me: as long as there is no language picker in-app, we only add new languages that we are sure are natively supported by Android to our l10n.toml file. I believe you guys just pick up what we have from there - so I'm not sure we need to add these here until a language picker is in place.
@Pike to confirm, just to make sure

[2019-10-08 21:49] cpeterso commented on #2574
A fix for the GV bug landed and should be available in tomorrow's GV 71 Nightly.

https://bugzilla.mozilla.org/show_bug.cgi?id=1552608#c47

[2019-10-08 22:57] mikeGolf08 commented on #5865
The feature needs to stay cause it is pretty handy and not common on other browser.

Is it possible to clear browsing data after closing the app via pressing home and clearing the multitasking view or after a time interval when app is in background?
I think it wasn't possible on older versions of Android because the app needed to be running to perform tasks.

[2019-10-08 22:59] mikeGolf08 commented on #5798
Fixed

Nightly 191008 18:01 (Build #12811817)
📦: 16.0.0, ab2555b20
🦎: 71.0a1-20191004094656

[2019-10-08 22:59] #5798 closed

[2019-10-08 23:04] NotWoods opened #5876 "Remove @ObsoleteCoroutinesApi in tests"
We have various roboletric tests that use `TestApplication`. [`TestApplication` used to have a `@ObsoleteCoroutinesApi` annotation](https://github.com/mozilla-mobile/fenix/pull/5810), resulting in all roboletric also needing the annotation. We can now remove it where unnecessary.

Note: Android Studio will complain if it is necessary and you remove the annotation, so it's easy to check 😄

[2019-10-08 23:05] mikeGolf08 opened #5877 "[Bug] Not selecting the last open tab after ending private session"
## Steps to reproduce

1. Open more than **2** tabs
2. Stay on the **second** (lower in list) tab
3. Open private session
4. Open a tab in private session
5. Click on tab overview
6. Delete open private tab by pressing **trash icon**
7. Close private session

### Expected behavior

It shows the tab overview and my last open tab is selected.

### Actual behavior

The first tab on tab overview is se

[2019-10-08 23:25] miladmaz12 commented on #5865
Wouldn't removing quit feature make the "Clear browsing data on quit" counterproductive and unusable?

[2019-10-08 23:27] ekager commented on #5868
Closing for #5346 but I will add in that ticket that it could be related to changing device text size

[2019-10-08 23:27] #5868 closed

[2019-10-08 23:27] ekager commented on #5346
@mcomella mentioned in a dupe (#5868) that he also sees this and could be related to device font size set to "Large"

[2019-10-08 23:39] csadilek commented on #5534
:(. I will assign to me to see if I can reproduce somehow or find out more. Likely not this week, but I'll look into it.

[2019-10-08 23:50] #769 closed

[2019-10-08 23:50] #770 closed

[2019-10-08 23:50] #778 closed

[2019-10-08 23:50] #779 closed

[2019-10-09 00:06] shldhll commented on #5876
@NotWoods I would like to work on this issue.

[2019-10-09 01:46] #5847 closed

[2019-10-09 02:30] NotWoods commented on #777
Closed by #4914

[2019-10-09 02:30] #777 closed

[2019-10-09 06:04] cadeyrn commented on #5346
I don't see this very often but two times in the last few weeks. My device font is not set to "Large".

[2019-10-09 06:15] obarzpaw commented on #5458
Can I use and add to dependencies espresso-intents? (https://developer.android.com/training/testing/espresso/intents#include-in-project)

[2019-10-09 06:39] sv-ohorvath commented on #5290
@pocmo I just logged in, picked a playlist from the homepage and tapped a song. You don't have the shuffle play option like on desktop though.

[2019-10-09 06:44] zaonie opened #5879 "night mode please"
### Why/User Benefit/User Problem
night mode wanted, please.
### What/Requirements
when we use Firefox Fenix at night in a dark room, it hurts eyes a lot.   so we want a night mode.

I'll keep using latest Firefox Fenix. Thanks so much for creating such a fantastic APP.

[2019-10-09 07:23] Dunexus commented on #5879
You can change theme to "Dark" in the settings.

[2019-10-09 07:34] zaonie commented on #5879
no, It's not the theme. Actually, I changed the theme to Dark. But It don't change the webpage itself (browsing area).  It's the webpage (browsing area)  that hurts when you in dark room.

[2019-10-09 07:48] Dunexus commented on #5879
[WebExtensions support](https://github.com/mozilla-mobile/fenix/issues/5315) is in Q4 backlog. When this work will be done, you should be able to use addons like [Dark Reader](https://addons.mozilla.org/fr/firefox/addon/darkreader/).

[2019-10-09 07:50] zaonie commented on #5879
thanks a lot for all of this.

[2019-10-09 07:50] #5879 closed

[2019-10-09 07:54] fgaz opened #5880 "Bookmark tags"
### Why/User Benefit/User Problem

I often use tags to flexibly categorize my bookmarks and to search them faster without altering their title

### What/Requirements

The ability to edit bookmark tags, like in ~~Fennec~~ Firefox for Desktop, and to use them as a search criterion.

### Acceptance Criteria (how do I know when I’m done?)

When editing a bookmark, I can enter a comma-separated list of

[2019-10-09 08:15] mcarare commented on #5873
@AmyYLee Should we stick just to  an _On/Off indicator_  or should we consider _Partially on_ when not all options are selected?

[2019-10-09 08:45] TitanNano opened #5881 "[Bug] unable to add Google Maps as PWA"
## Steps to reproduce
1. visit https://maps.google.com
2. choose "Add to Home screen"

### Expected behavior
Google Maps will be added to the home screen in standalone mode since it has a web manifest and it works in Fennec.

### Actual behavior
Fenix adds a simple shortcut with the wrong icon which just opens a new tab.

### Device information

* Android device: Sony Xperia Z3+ 7.1.1
* Fenix vers

[2019-10-09 08:53] softvision-miralobontiu commented on #4444
Still reproducing the issue with the latest Nightly build 10/9 with Samsung Galaxy Note 8 (Android 9).

[2019-10-09 08:59] softvision-miralobontiu commented on #4993
I will reopen this issue since I was able to reproduce it again with the latest Nightly 10/9 with Samsung Galaxy Note 8 (Android 9), Samsung Galaxy tab A6 (Android 5.1).

[2019-10-09 09:14] sv-ohorvath commented on #5787
Verified on Nightly 10/9 that shortcuts now function the same way as links: open in private only if the "Open links in private tabs" is set manually.

[2019-10-09 09:14] #5787 closed

[2019-10-09 09:44] sv-ohorvath commented on #4780
Verified as fixed on Nightly 10/9.

[2019-10-09 09:44] #4780 closed

[2019-10-09 10:54] klint opened #5883 "Provide a way to open Fenix in non-private mode (whatever the previous mode was)"
### Why/User Benefit/User Problem

Today, Chrome, Fenix and Edge do not have any way to open the browser directly in non-private mode, even if the previous browsing was done in private mode, and to open it to the last page that was displayed in non-private mode (or the browser home page with tabs).
Yes, there is a shortcut to open a new tab in non-private mode, but that doesn't fulfill the need.

[2019-10-09 12:22] ondondil commented on #5853
In my opinion any way of accessing bookmarks from home screen would be welcome because as of now accessing bookmarks takes way to many steps. It could be a new category next to Pinned Sites and Collections. Anything would be better than what we currently have.

[2019-10-09 12:23] sv-ohorvath commented on #4190
Verified as fixed on Nightly 10/9.
devices: Pixel 3 (Android 9), Galaxy Tab A (Android 5.1.1),

[2019-10-09 12:23] #4190 closed

[2019-10-09 12:28] sv-ohorvath commented on #3431
Verified as fixed on latest Nightly 10/9. Devices: Pixel 3 (Android 9), Sony Xperia Z5 Premium (Android 7.1.1)

[2019-10-09 12:32] sv-ohorvath commented on #3379
I can't reproduce this either on the latest Nightly 10/9.
Devices: Pixel 3 (Android 9), HTC Desire 820 (Android 6.0.1)

[2019-10-09 12:45] #5503 closed

[2019-10-09 13:01] klint commented on #4780
Hi. I have opend  a feature request #5883 to provide a way to open Fenix in normal mode in all cases, even if Fenix was previously used in PBM and has not been removed from the memory yet.
Maybe I's only me and maybe I'm not understanding the design, but I must confess I'm rather lost in the transitions between PBM and normal modes :) IMHO, these modes should actually behave like 2 different brows

[2019-10-09 13:03] abodea commented on #5094
#### Hello, I tried to check all the options from the Search menu, for more details please see the table below:

| Name | preference_key | false | true |
| --- | --- | --- | --- |
| Show search suggestions | pref_key_show_search_suggestions | ✔️ | ✔️
| Show search shortcuts |  Nothing was displayed | ❌ | ❌
| Show clipboard suggestions | pref_key_show_clipboard_suggestions | ✔️ | ✔️
| Search browsi

[2019-10-09 13:05] sv-ohorvath commented on #5206
I can't reproduce this on the latest Nightly 10/9, probably fixed with the above GV bug.
devices: Pixel 3 (Android 9), HTC Desire 820 (Android 6.0.1)

[2019-10-09 13:05] #5206 closed

[2019-10-09 13:53] smaug---- commented on #5307
qf:? bugs in Bugzilla get triaged.

[2019-10-09 13:59] Dunexus commented on #5853
Could the UX team clarify the distinction between collections and bookmarks ?
They seems to achieve the same goal, save and organize links.

[2019-10-09 14:44] vesta0 opened #5884 "[Telemetry] Adding user-specified search engines"
#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know if people type use feature X so I can..

I can add a custom search engine in Fenix.
I can remove a custom search engine from my list of search engines

#### Hypothesis
#### What questions will you answer with this data?
How often user add or use other search engines not listed?

#### Why does Mozill

[2019-10-09 15:01] sblatz commented on #5094
Thanks @abodea, yes that toggle was added after this ticket was finished. I can add it, though, since we're tracking the other toggles on that screen and it makes sense as it equally impacts the search experience.

[2019-10-09 15:09] dholbert commented on #2038
Could someone remove the `needs:performance` tag? This doesn't seem to be performance-related.

[2019-10-09 15:10] vesta0 commented on #5094
Good idea @sblatz and @abodea

[2019-10-09 15:51] #5852 closed

[2019-10-09 16:17] #394 closed

[2019-10-09 16:29] nahuhh commented on #5865
The issue that I see with the feature (compared to fennec)

- Fenix = quit button disappears when "delete browsing data on quit" is disabled
- Fennec = quit button is persistent.

In my opinion, the fennec implementation makes sense, while the fenix implementation is.. confusing?

I think the best course of action is follow fennec's implementation = the quit button needs to be persistent. As in fe

[2019-10-09 16:53] NotWoods opened #5887 "Offer a quick settings tile for open in private mode"
### Why/User Benefit/User Problem
Users may want to browse primarily in private mode or normal mode, but occasionally switch without the need to dig into the Settings page. An optional [quick settings tile](https://medium.com/androiddevelopers/quick-settings-tiles-e3c22daf93a8) could let users toggle if links will open in private mode or not.

### What/Requirements
<img alt="Quick Settings Tile mo

[2019-10-09 16:58] pocmo opened #5888 "Fennec migration: Add telemetry probes to measure success/failure rate of migration"
details tbd.

[2019-10-09 16:59] pocmo opened #5889 "Fennec migration: Consider backup of certain fennec files"
In order to replay parts of the migration after shipping migration fixes.

[2019-10-09 17:01] st3fan commented on #5865
Not sure if that is true of Fennec .. it should only appear if the _clear data on exit_ (or similar named) is enabled.

[2019-10-09 17:01] sblatz opened #5890 "Create an animation for Home -> Settings (or Browser -> Settings)"
Currently we're just popping the user into settings. Both Chrome and Fennec animate the settings up from the bottom (as seen here):

![settings animation 2019-10-09 10_01_34](https://user-images.githubusercontent.com/4400286/66503271-c9db9a00-ea7b-11e9-8d23-33b960724f2b.gif)

Is it possible we could include this animation as well?

[2019-10-09 17:09] nahuhh commented on #5865
I stand corrected..
I have Fennec mobile (not the tv version) installed on androidtv os. It displays in "tablet" mode, where tabs etc are visible at the top like the desktop firefox.

Seems in "tablet" mode, the quit menu is persistent.
On my phone "mobile", it is not.

[2019-10-09 17:29] vesta0 opened #5891 "Copy a saved login"
### Why/User Benefit/User Problem

As a user, I want to be able to copy a saved login, so I can paste it in places where auto-fill does not work.

### Acceptance Criteria
I can copy my credentials (username, password)

UX Spec

See #1284 for mocks

[2019-10-09 17:36] lime124 opened #5892 "Implement Alert Page Template and Update Alerts"
This work has carried over from the MVP. This ticket should cover implementing these template for alerts and then updating the various alerts to use it.

Designs here:
Low risk: https://mozilla.invisionapp.com/share/P8UB1E9Y5N4
Medium risk: https://mozilla.invisionapp.com/share/ZYUB1FDT9MR
High risk: https://mozilla.invisionapp.com/share/SHUB1FV2AF6

### Acceptance Criteria
- Create error fragment

[2019-10-09 17:38] lime124 commented on #5540
please use the same background image as for tab crashes.  see #5892 for the template/design

[2019-10-09 17:43] lime124 commented on #5892
@brampitoyo worked on this awhile back (I believe). can you dig up the background images? thanks!

[2019-10-09 17:45] lime124 commented on #5540
please ping @brampitoyo for a UI review - he worked on the previous alert pages and check provide feedback as jeff will be out on pto.

[2019-10-09 17:46] pocmo opened #5893 "Fennec migration: Integrate migration code from AC"
(list tbd)

[2019-10-09 17:50] pocmo opened #5894 "Fennec migration: Integration tests for migration"

[2019-10-09 17:56] pocmo opened #5895 "Fennec migration: Clean up unneeded files from fennec in app dir"

[2019-10-09 18:00] pocmo commented on #5262
Duplicate.

[2019-10-09 18:00] #5262 closed

[2019-10-09 18:20] sblatz commented on #1298
@lwa-moz is reaching out to the Adjust team to see if we can get some help on this ticket.
https://github.com/mozilla-mobile/fenix/pull/5896 is my current progress.

[2019-10-09 18:23] sblatz commented on #255
@vesta0 what should we do with this ticket? It's currently behind a nightly/debug feature flag and has some outstanding GV bugs.

[2019-10-09 18:25] AmyYLee commented on #5873
@mcarare We should stick to On/Off here since this addresses the toggle switch being On/Off and not user prefs of what is deleted when it is on.

[2019-10-09 18:35] vesta0 commented on #255
@sblatz if I remember correctly, we had the basic on/off hooks but were just missing the more granular options? If so, can we ship the basic on/off and create a new issue to track the rest?

[2019-10-09 18:37] sblatz opened #5898 "Don't hide "set as default browser" on Android 5 & 6"
In https://github.com/mozilla-mobile/fenix/issues/382 we hid the default browser toggle on these lower versions for MVP.

As suggested by Vesta, we should unhide this toggle and use it to link to the sumo article (which is what we did in Focus): https://support.mozilla.org/en-US/kb/how-set-firefox-preview-your-default-browser-android

This would also deal with https://github.com/mozilla-mobile/fen

[2019-10-09 18:39] jpfaller commented on #5695
Let's make the strings:

Firefox Search
Firefox Private Search

These options should be available when a user selects text OS wide.

We should monitor complaints to see if users are frustrated by this option being available without a way to turn it off.

[2019-10-09 18:40] jpfaller commented on #5696
Let's just go with "Share"

[2019-10-09 18:40] jpfaller commented on #3612
See #5695 and #5696

[2019-10-09 18:43] sblatz commented on #255
@vesta0 basically there are some sites (as mentioned in #5636) that don't actually block autoplay. Because of that we put it behind a feature flag since we didn't want users thinking the feature didn't work properly. Would you prefer to ship it in 2.2 even though it won't work on some sites? Or should we wait for that GV patch to be fixed?

[2019-10-09 18:49] AmyYLee commented on #4190
@sblatz Thanks for fixing this. This looks good to me.

[2019-10-09 18:59] vesta0 commented on #3612
This will be addressed in the bugs mentioned above!

[2019-10-09 19:02] vesta0 commented on #4910
Hey @colintheshots can we close this issue now that you have filed #5536 ?

[2019-10-09 19:17] vesta0 commented on #255
Thanks for the clarification @sblatz :) In that case let's wait for the GV patch to land.

[2019-10-09 19:26] vesta0 commented on #5577
I spoke to mconnor and he doesn't have any concerns with implementing this similar to how it's done in Focus or Fennec.

[2019-10-09 19:34] AmyYLee commented on #1019
UPDATE: We might want to add another item into this screen as we re-org Settings. Stay tuned.

[2019-10-09 19:39] cpeterso commented on #3197
I filed a new GV bug for the problem in GV 70: https://bugzilla.mozilla.org/show_bug.cgi?id=1587557

[2019-10-09 20:10] alexa-v2 commented on #5315
I'm sorry if I seem rude, but in almost every open source project I've seen recently "exploring ways to implement" or similar really just means "if we get really bored we'll do it but probably not"
I'm just going to say that I chose Firefox over Chrome for two reasons on Android: it's not run by Google (privacy concerns) and supports add-ons. Before the speed of Chrome made it preferable. Firefox

[2019-10-09 21:29] mikeGolf08 opened #5902 "[Bug] Tab overview does not scroll down to open tab"
## Steps to reproduce

1. Open many tabs (probably around **16**)
2. Open the tab on the **bottom of the tab overview list**
3. Click on **tab overview**

### Expected behavior

It scrolls the list down to the open/selected tab.

### Actual behavior

It scrolls the list down to the first tab in the list and the **open/selected tab is not visible**.

### Device information

* Android device: Androi

[2019-10-09 21:31] mikeGolf08 opened #5903 "[Bug] Tab overview does not scroll down to open tab"
## Steps to reproduce

1. Open many tabs (probably around **16**)
2. Open the tab on the **bottom of the tab overview list**
3. Click on **tab overview**

### Expected behavior

It scrolls the list down to the open/selected tab.

### Actual behavior

It scrolls the list down to the first tab in the list and the **open/selected tab is not visible**.

### Device information

* Android device: Androi

[2019-10-09 21:31] TitanNano commented on #5772
It would be great to be able to choose, though. I sometimes find myself wanting to open multiple instances if the same PWA.

[2019-10-09 21:31] mikeGolf08 opened #5904 "[Bug] Tab overview does not scroll down to open tab"
## Steps to reproduce

1. Open many tabs (probably around **16**)
2. Open the tab on the **bottom of the tab overview list**
3. Click on **tab overview**

### Expected behavior

It scrolls the list down to the open/selected tab.

### Actual behavior

It scrolls the list down to the first tab in the list and the **open/selected tab is not visible**.

### Device information

* Android device: Androi

[2019-10-09 21:33] mikeGolf08 commented on #5904
Duplicate of #5902

[2019-10-09 21:33] #5904 closed

[2019-10-09 21:33] mikeGolf08 commented on #5903
Duplicate of #5902

[2019-10-09 21:33] #5903 closed

[2019-10-09 21:36] AmyYLee opened #5905 "[Meta] Review settings organization"
Let's review the settings screen and see where we can improve/consolidate as we add new items to it.

@apbitner @lime124
- [x] Pre-land strings
- [x] Revisit Privacy Settings items #5619

[UX Spec](https://share.goabstract.com/ee40800d-4b36-49d5-8a5b-a89f8ab21141?mode=design&sha=6e82c52070e76eb62b1e8511710296a22ed87cd7)

[2019-10-09 21:51] mikeGolf08 opened #5906 "Intuitive Library"
### Why/User Benefit/User Problem

For users with many bookmarks in a lot of folders it would be a pleasure if the list is sorted alphabetically or in a custom order with clear seperations between.
It would be easier to find a specific folder for saving a new bookmark in it.

### What/Requirements

New library layout and more options for the user.

### Acceptance Criteria (how do I know when I’m d

[2019-10-09 21:58] mikeGolf08 commented on #5865
A clear button would be acceptable but the feature itself has to remain implemented because some want to delete specific browsing data only while keeping other which is not possible by using Private Mode all the time!

[2019-10-09 22:30] jawz101 commented on #5853
In my mind this just flips and scrunches to this: (pardon the crude ms paint.)
![desktop](https://user-images.githubusercontent.com/14151703/66525221-4dc96c80-eae4-11e9-935d-798a71b45aa7.png)

[2019-10-09 22:33] TitanNano opened #5907 "[Bug] leaving a PWAs scope transforms activity into custom tab"
## Steps to reproduce
Click a link inside a PWA which takes the user to a page outside the PWAs scope.

### Expected behavior
This should actually behave like in a native app and similar to how it works in Fennec right now. If the navigation sends the user out of the PWA, a new custom tab intent should be created.

### Actual behavior
Transforms the current PWA activity into a custom tab.

### Dev

[2019-10-09 22:50] jawz101 commented on #5709
I think the strict/standard buttons look better either aligned with the ETP shield (centers of buttons aligned with the center of the shield) or indented right more as in your screenshots in the 1st post.

[2019-10-09 22:56] vesta0 commented on #5016
@lime124 should we also add a "add to collection" option to this menu? I am thinking maybe that is in fact more useful/relevant. I am thinking the only reason a user would bookmark a link they haven't opened is to have the option to come back to it later without interrupting their browsing activity.

[2019-10-09 22:59] jawz101 commented on #5744
fwiw, I've blocked 3p cookies by default for years w/ only one recent hiccup.  CapitalOne Eno extension wants them enabled for some reason.

It also looks like Google is beginning to take steps and [block 3p cookies by default](https://blog.chromium.org/2019/05/improving-privacy-and-security-on-web.html)- at least in their Incognito Mode in [Canary builds](https://techdows.com/2019/09/google-tests

[2019-10-09 23:14] boek commented on #3869
Waiting on an MLS Api Key

[2019-10-09 23:21] mcomella opened #5909 "[a11y] Come up with plan to add a11y to our development process"
### What
We already have a backlog of a11y issues. So what we want here would be: **come up with a process for regularly testing and prioritizing these.**

There are a lot of ideas in the comments here, so take those into account!

### Acceptance Criteria
- [ ] Reach out to Jamie Teh
- [ ] What is the scope we want to add into Fenix process? Timebox to the labeled size.
- [ ] File an issue explain

[2019-10-09 23:35] mcomella opened #5910 "Define "cold/warm/hot start" for perf OKR, automation purposes"
### Why/User Benefit/User Problem
We selected warm start as a key metric in Q4 because users will frequently warm start the app. However, warm start can mean many things: we should define it.

### Impact

### Acceptance Criteria (how do I know when I’m done?)
- Define what cold/warm/hot start means for us on Android
  - It is likely advantageous (necessary?) for us to define all possible ways of r

[2019-10-09 23:38] mcomella opened #5912 "Add telemetry to determine ratio of cold/warm/hot starts"
Blocked on definitions? #5910

### Why/User Benefit/User Problem
We want to focus our performance efforts on our user's biggest use cases. Users will frequently start the app, sometimes cold and sometimes warm. We should add telemetry to determine which they do more often and which we should give higher priority, if it doesn't exist already.

### What/Requirements

### Acceptance Criteria (how do

[2019-10-09 23:41] grigoryk opened #5913 "Manage Account: declare sessionToken scope during FxA initialization"
We need a new sessionToken scope in order to enable "Manage Account" functionality in Fenix's Account Settings.

For existing FxA users, introduction of this scope will be a non-issue, until they will need to interact with upcoming "Manage Account" functionality (a button, which opens up FxA web-content and passes it the sessionToken via webchannel). Once that happens, we will need to trigger a "n

[2019-10-09 23:47] ekager commented on #5199
Last seen 25 days ago so this feels safe to close

[2019-10-09 23:47] #5199 closed

[2019-10-09 23:50] grigoryk opened #5915 "Add 'Manage Account' button to Account Settings"
Depends on https://github.com/mozilla-mobile/fenix/issues/5913 and https://github.com/mozilla-mobile/android-components/issues/4703.

Now that we have `sessionToken` support via the new sessionToken scope, and WebChannel support enabled and sessionToken-aware, we can add a "Manage Account" button.

That button needs to open `${config.fxaContentRoot}settings?automatedBrowser=true&context=oauth_webc

[2019-10-09 23:51] ekager commented on #5575
It's not an "animation" it's just dynamically showing/hiding those settings based on a feature flag for Nightly. Once we remove the feature flag, there won't be any "animation", so I'm going to close this :)

[2019-10-09 23:51] #5575 closed

[2019-10-09 23:52] ekager commented on #5890
Tracked here https://github.com/mozilla-mobile/fenix/issues/2273

[2019-10-09 23:52] #5890 closed

[2019-10-09 23:53] grigoryk commented on #5915
A-C issue: https://github.com/mozilla-mobile/android-components/issues/4705

[2019-10-10 00:00] csadilek commented on #5534
@ekager @rpappalax The test itself looks good to me with the new changes to wait for the UI updates! I can not get the tests to fail even when running it in a loop on multiple devices.

However, after looking into this and testing manually, I did run into issues on some sites, which would explain the intermittent failures we've been seeing. I've filed them in A-C for now (could also need GV fixes)

[2019-10-10 00:14] grigoryk commented on #4046
Re-surfacing this issue, since we're starting to test Fennec bookmark migrations and it'll be useful to see what we're actually migrating :)

    Don't show desktop folder for people who haven't signed in
    Show desktop folder for people who signed in and synced bookmarks –  also show folder after log out

@topotropic is this distinction really valuable? It will add a bunch of complexity we'll h

[2019-10-10 00:34] mcomella opened #5916 "Track changes to APK size over time"
### Why/User Benefit/User Problem
If the APK grows too large, users will download the app less. We should had persistant monitoring (and later regression testing) of APK size to our performance dashboards to measure changes over time.

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)
- Performance dashboard includes changes to APK size over time
  - I wonder how this i

[2019-10-10 00:44] #5913 closed

[2019-10-10 00:48] sblatz opened #5917 "[Bug] No feedback when pressing items on the copy/patse menu"
We should probably add a snackbar "URL copied" when a URL is copied. The other two items (paste, paste & go) both change the UI visibly so we probably don't need anything there.

Can @topotropic confirm that we should add a snackbar?

Would probably need string confirmation from @jpfaller too. I think "URL copied" seems reasonable, but let me know what you think!

Here's a GIF of the current behav

[2019-10-10 02:38] vesta0 commented on #1019
@AmyYLee should we also have a prompt like the one below for the very first time user searches in private browsing?

![image](https://user-images.githubusercontent.com/42752644/66534847-8d448880-eae5-11e9-9c14-bcffe2d8c09a.png)

[2019-10-10 02:51] vesta0 commented on #5315
We have started the foundational work. It will be a while before it makes it into the product but you can follow it [here](https://github.com/orgs/mozilla-mobile/projects/44) :)

[2019-10-10 03:15] A6GibKm commented on #5821
I would argue that the lock should be hidden in https and a crossed red lock should be displayed for http connections.

[2019-10-10 06:20] hackertronix commented on #4994
Since there have been no updates from @cfsnsalazar can I take this up?

[2019-10-10 06:29] cfsnsalazar commented on #4994
@hackertronix go ahead

[2019-10-10 06:31] hackertronix commented on #4994
Thanks @cfsnsalazar! :)

[2019-10-10 08:54] softvision-miralobontiu opened #5920 "[Bug] App crashes after deleting several bookmarks"
## Steps to reproduce
1. Make sure you sign-in on an account that has several bookmarks, saved on different days.
2. Go to "Your Library" - Bookmarks and delete some of the bookmarks.
3. Tap on the three-dot menu that is displayed between bookmarks and should not be displayed at all.

### Expected behavior
That three-dot menu shouldn't be displayed at all.

### Actual behavior
Selecting the three-

[2019-10-10 09:27] SorinaFlorean opened #5921 "[Bug] On certain sites social media trackers and fingerprinters are allowed with standard option enabled"
Prerequisites:
Go to Settings -> Enhanced Tracking Protection and select the "Standard" option.

## Steps to reproduce
1. Go to https://www.liveperson.com or espn.com.
2. Tap on the shield info panel.

### Expected behavior
Social media trackers and fingerprinters are blocked.

### Actual behavior
Social media trackers and fingerprinters are allowed.

### Device information
* Android device: Googl

[2019-10-10 09:28] SorinaFlorean opened #5922 "[Bug] On certain sites social media trackers and fingerprinters are allowed with standard option enabled"
Prerequisites:
Go to Settings -> Enhanced Tracking Protection and select the "Standard" option.

## Steps to reproduce
1. Go to https://www.liveperson.com or espn.com.
2. Tap on the shield info panel.

### Expected behavior
Social media trackers and fingerprinters are blocked.

### Actual behavior
Social media trackers and fingerprinters are allowed.

### Device information
* Android device: Googl

[2019-10-10 09:38] Apoorv-Gaurav-Agarwal commented on #5827
I have sent the pull request for this. Do I have to do something for this?

[2019-10-10 10:38] SorinaFlorean commented on #5921
![Screenshot_20191010-133654](https://user-images.githubusercontent.com/24588037/66561972-4006fc00-eb63-11e9-9a94-6a490153fc20.png)

[2019-10-10 10:41] sv-ohorvath commented on #1901
Verified as fixed with a Pixel 3(Android 9), Htc Desire 820 (Android 6.0.1), Huawei P20 lite (Android 9), on the latest Nightly 10/10.

[2019-10-10 11:44] AndiAJ commented on #2078
@sblatz @ekager Should this be applicable to the custom tabs **action button** ?
![20191010_142707](https://user-images.githubusercontent.com/51314259/66565909-4d74b400-eb6c-11e9-9ceb-cc52159f65e2.gif)

[2019-10-10 12:26] Cheap-Skate opened #5923 "[Bug] Inconsistent icon spacing & icon to text spacing in URL bar"
Latest version has Tracking Protection shield icon and padlock icon.

(1) spacing between shield and padlock icon is larger than between tabs and 3 dot menu icon. It looks funny.

(2) spacing from padlock icon to URL text is larger than between the search favicon and the search text on the Search screen. It should be the same in both cases.

Spacings should be consistent between icons on the URL b

[2019-10-10 12:43] Dunexus commented on #5923
Related https://github.com/mozilla-mobile/fenix/issues/3727

[2019-10-10 12:46] abodea opened #5924 "Redesign the URL bar"
### Why/User Benefit/User Problem
As a Fenix user, I want to be well informed when a page is secured or not.
A color should be added for `https://` - green and `http://` - red for secure and not secure connections.
Also there is a lot of space between TP icon and Secure connection button.
### What/Requirements
To redesign the URL bar.
### Acceptance Criteria (how do I know when I’m done?)
The URL

[2019-10-10 12:49] mdboom opened #5925 "[Bug] MozillaProductDetector doesn't detect Fenix nightly"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1587405 for other discussion.

## Steps to reproduce

Run Fenix nightly on a "clean" emulator.  Inspect the `metrics` ping and see that there are no entries in `metrics.mozilla_products`.  This also records a metric error (since an empty string list is treated as an error).

### Expected behavior

I don't really know what's to be expected, but I wan

[2019-10-10 12:49] mdboom opened #5926 "[Bug] MozillaProductDetector doesn't detect Fenix nightly"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1587405 for other discussion.

## Steps to reproduce

Run Fenix nightly on a "clean" emulator.  Inspect the `metrics` ping and see that there are no entries in `metrics.mozilla_products`.  This also records a metric error (since an empty string list is treated as an error).

### Expected behavior

I don't really know what's to be expected, but I wan

[2019-10-10 12:50] mdboom opened #5927 "[Bug] MozillaProductDetector doesn't detect Fenix nightly"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1587405 for other discussion.

## Steps to reproduce

Run Fenix nightly on a "clean" emulator.  Inspect the `metrics` ping and see that there are no entries in `metrics.mozilla_products`.  This also records a metric error (since an empty string list is treated as an error).

### Expected behavior

I don't really know what's to be expected, but I wan

[2019-10-10 12:51] abodea commented on #5924
@vesta0 note that the colors maybe are not the right ones(i'm sure there are some other better options for green and red).

[2019-10-10 12:51] #5927 closed

[2019-10-10 12:51] #5926 closed

[2019-10-10 12:53] cadeyrn commented on #5924
Firefox for desktop will change the green padlock to a grey one with Firefox 70. Fenix should **not** go into the opposite direction.

[2019-10-10 14:24] kolAflash opened #5930 "image sharing and opening"
Classic Firefox for Android provides two context menu entries regarding images, which are still missing in Fenix.

1. Long press an image on a website to open the context menu.

Then there should be options to share the image with another app.
E. g. to send the image via a messenger.
(not sharing the URL, but the actual image)

Second is an option to show only the image. (so the image without the

[2019-10-10 14:58] apbitner opened #5931 "Add a visual to the Toolbar setting"
In order to help users clearly understand how the Toolbar setting works, we can take advantage of the open screen real estate to include a visual.

E.g. - https://drive.google.com/file/d/1cgE0hlV6JgZiXpVRlUnXs0jqNv4J2XLe/view?usp=sharing

[2019-10-10 15:35] NotWoods commented on #5930
Part 1: Duplicate of #3621. (See also: mozilla-mobile/android-components#3648)

Part 2: We already have an option to show only the image using "Open image in new tab"

[2019-10-10 15:35] #5930 closed

[2019-10-10 15:53] AaronMT commented on #5924
Why is the HTTPS protocol even needed when a secure lock is shown? There's already minimal space in the address-bar.

[2019-10-10 15:58] sblatz commented on #4002
I'm confused--doesn't this need GV work?

[2019-10-10 16:14] liuche commented on #5113
Update: the team doesn't have capacity for this crash measurement dashboard for work unrelated to Skyline, for the time being. I'll figure out the relative priority of this compared to other dashboard requests fenix has.

[2019-10-10 16:28] sblatz commented on #5898
Updated behavior:

![new behavior on lower api](https://user-images.githubusercontent.com/4400286/66587956-551e6380-eb40-11e9-8acd-68e9dcd879b5.gif)

[2019-10-10 16:40] sblatz commented on #1500
Is this supposed to be in the awesome bar suggestions?

It looks like the "Switch to tab" text would replace the "description" text (the greyed out portion underneath the title) where we usually put a URL. Is that right?

@topotropic

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/66588692-da564800-eb41-11e9-9734-852adb057786.png">

[2019-10-10 17:27] vesta0 commented on #2047
Thanks @Lululalu this will be addressed in #5582

[2019-10-10 17:31] mheubusch commented on #373
@boek Can you label the channel we discussed:  Firefox news

[2019-10-10 17:33] ekager opened #5932 "Hide Exceptions List while Waiting on Ability to Remove One Exception By URL"
We can't currently delete one item in this Exceptions list with a URL with the new GV API (See #5646) without a nasty workaround so for now we have decided to hide the list of exceptions until we get that ability restored.
See https://github.com/mozilla-mobile/android-components/issues/4699

[2019-10-10 18:08] cpeterso commented on #4002
The GV bug was closed as WORKSFORME with this comment: https://bugzilla.mozilla.org/show_bug.cgi?id=1585045#c3

)=5". As the [BMW website](https://www.bmw.com/en/innovation/the-development-of-self-driving-cars.html) plays muted video, so it won't be blocked. Our current setting is to block audible autoplay media, but changing the value of the pref to 5 can block all media.

If GV's media APIs don'

[2019-10-10 19:35] agashlin commented on #5869
I've been seeing this as well, mostly with Hacker News, for at least a few days of updates, but also intermittently. I tried clearing my cache but that didn't help, haven't tried anything more drastic yet.

[2019-10-10 20:05] sblatz opened #5935 "Consider adding default share sheet as an option & separate send tab"
To guide this decision, we should investigate telemetry of:
* how often "share tab" happens in share sheet
* how often users click "sign in" from share sheet

If we are going to keep these together, we should likely add more custom UI that creates more of a value add for the trade off we're making here.

We could consider breaking "send tab" out into a separate button so that we can use the defaul

[2019-10-10 20:13] liuche commented on #5496
@Delphine we're also tracking the language switcher in #220 . I think there are 2 parts, one is adding more languages supported by Android, and one is adding custom languages.

For the l10n.toml file, can we just add these if they're supported in Pontoon?

[2019-10-10 20:24] mitchhentges commented on #1724
I discussed directly with Chenxia, the `beta` automation will publish to the `internal` track, and a human will manually promote from there.

[2019-10-10 20:27] sblatz commented on #255
@vesta0 I'm moving this to the feature backlog since it has a long-standing dependency.

[2019-10-10 20:39] Pike commented on #5496
The process of adding new localizations to Fenix is by adding them to the config files on android-l10n, and then merge the config changes and potentially new localizations files from android-l10n into the Fenix and A-C repos.

[2019-10-10 21:01] liuche commented on #5536
@colintheshots could you describe where we could put this? It actually seems straightforward enough that a contributor could pick it up!

[2019-10-10 21:08] lime124 commented on #5694
designs being wrapped up and should be finished by end of sprint tomorrow (Friday).

[2019-10-10 21:08] lime124 commented on #4281
designs being wrapped up and should be done by end of sprint tomorrow (Friday)

[2019-10-10 21:15] AmyYLee commented on #1019
Yes we should include that. I'll add it into the spec. @jpfaller Can you review the copy above and see if we need to revise it for Fenix?

[2019-10-10 21:19] lime124 commented on #4776
@AmyYLee for a few technical reasons, we need to call out gv libraries separately. Can you add a third row a the bottom under "Open source..." for this. Same layout and styling.

Text suggestion: "GeckoView libraries we use"

let me ping michelle to see who jeff's back up is. once Amy updates and we have final string we can label ready for eng. thanks!

[2019-10-10 21:21] lime124 commented on #4776
@mheubusch can confirm the copy suggested in my prior comment. thanks!

[2019-10-10 21:27] lime124 commented on #1019
on track to be completed by end of day tomorrow - though dependent on strings.

[2019-10-10 21:37] mheubusch commented on #4776
I recommend this order/text:
What's new in Firefox Preview
GeckoView libraries we use
Other open source libraries we use

[2019-10-10 21:40] lime124 commented on #4231
reviewing meeting today - should be on track to finish by end of sprint. @topotropic lmk if i misunderstood!

[2019-10-10 21:41] lime124 commented on #5732
i know this isn't totally following the fenix sprints,  but just cleaning up thing in preparation for sprint planning tomorrow...

i think you, @topotropic, delivered this today? can this issue be closed?

[2019-10-10 21:43] lime124 commented on #5731
@topotropic can this be close based on your comment above? can you open some new issues to cover what you're working on during the next sprint (or put them in the "in design" column for visibility). thanks!!

[2019-10-10 21:45] dholbert commented on #2038
It's working for me there, though I have to long-press for an unusually long time (~3 seconds).

@cpeterson, does it work for you if you long-press a word (in the search field) for ~3 seconds?

[2019-10-10 22:03] lime124 commented on #5577
i'm not sure why the bot moved this out of in design column /cc @sblatz ?

[2019-10-10 22:11] liuche commented on #5544
We want to get the logins work started early, so this will be scoped to the smallest this can be.

[2019-10-10 22:23] mcomella opened #5937 "Investigate upward trend in cold startup"
### Why/User Benefit/User Problem
On Will's local perf testing harness, which runs a Moto G5, Will noticed an upward trend in cold startup over the last month that we should investigate:
![image](https://user-images.githubusercontent.com/759372/66781820-2c240880-ee89-11e9-83fc-71a7a5cba4ab.png)

Notably, this does not show up on Nimbledroid: this ticket is to figure out what's creating this discre

[2019-10-10 22:31] mcomella commented on #5832
esmyth is working on this.

[2019-10-11 00:21] liuche opened #5938 "Use Android secure storage (for 23+, or earlier if possible) for FxA state"
### Why/User Benefit/User Problem
As an Android 23+ user, Android provides secure storage for keys, and I want my sync key to be stored safely in this manner.

### Dependencies
- [ ] [encrypted Firefox Account Storage](https://github.com/mozilla-mobile/android-components/issues/2229) (AC)

### What/Requirements
Use `AndroidKeyStore` to manage Sync keys.

See Lockwise [documentation](https://github

[2019-10-11 03:40] hackertronix commented on #4212
Hey @liuche 👋 there's been no activity on this issue since a month, can I pick this up?

[2019-10-11 06:02] topotropic commented on #1500
Yes, it replaces the URL, it's consistent with what we have on desktop. Please correct me if that's wrong @Verdi

[2019-10-11 06:10] topotropic commented on #5917
Ok, we can do that. When you long press on an image or link on a site and copy it, we show a snackbar saying "Link copied to clipboard". Can we re-use that?

[2019-10-11 07:30] pwd-github commented on #4178
Just came to report this. Perhaps the share icon on collections should be disabled until a plan of action is formulated?

[2019-10-11 08:17] Cheap-Skate commented on #5924
My uninformed suggestions...

Please avoid color in the URL bar, or check with users with poor eyesight first. I am pretty long sighted now, with phone at arms length I can see white text but red is really hard.

Check your competitors, Android Chrome & Samsung Internet hide the https and the www and just show "mozilla.org" or whatever.

My experience with casual users is they just look for the pa

[2019-10-11 09:31] AndiAJ commented on #5898
Hi, I've check on the latest debug build from Master 1.0.1941 11/10 using the following devices:
• Samsung Galaxy S6 (Android 6.0.1)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)
• Samsung Galaxy Tab Active (Android 5.1.1)

The **"Set as default browser" section is indeed displayed** on the other hand there is **no redirecting made to the newly opened page** (sumo article).
You need to

[2019-10-11 11:13] antonholmberg opened #5940 "[Bug] tabs button stopped working in nightly"
## Steps to reproduce
Try to press the tab button that goes to "home" or try to press the adress bar when a page is already opened, so not when you are already on the tab list

### Expected behavior
Should go to the tab list or allow you to type in the adress bar

### Actual behavior
Nothing happens.

### Device information

* Android device: OnePlus7 Pro
* Fenix version: Nightly 191010

[2019-10-11 11:42] Cheap-Skate commented on #5924
I talked to a very smart but non-geeky friend of mine, an iOS (Safari) user

- she has no idea what difference between https:// and http:// means, looking for the "s" character (http**S**) to determine site safety seemed absurd.
- she has no idea what www means and doesn't particularly want to see it
- she knows the padlock icon is very important
- she is aware that the url ending should be .com,

[2019-10-11 12:46] AndiAJ commented on #5870
Hi, I've check on the latest debug build from Master 1.0.1941 11/10 using the following devices:
• Samsung Galaxy S6 (Android 6.0.1)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)
• Samsung Galaxy Tab Active (Android 5.1.1)

✔️ Works on the Android 6 devices.
►Video
![20191011_152839](https://user-images.githubusercontent.com/51314259/66651873-d1966c80-ec3c-11e9-92a6-6d518e1194f1.gif)

[2019-10-11 12:48] topotropic opened #5941 "Test current UX flow for proxy"
To reduce uncertainty we want to quickly test the proposed UX flow in an unmoderated user test.

- [x] Build prototype
- [x] Write test plan
- [x] Run unmodertated test
- [x] Analyse research and define next steps

[2019-10-11 12:52] topotropic opened #5943 "Map out full FPN UX flow"
Map out end-to-end UX flow for FPN

- [ ] IA
- [ ] mockups

[2019-10-11 13:37] AndiAJ commented on #5094
Hi, **verified as fixed** on the latest debug build from Master 1.0.1941 11/10 using a google Pixel 3a (Android 9).

✔️ Enable/Disable search suggestions
Ping 38afbc67-f626-4082-852c-e34ea0470630

✔️ Enable/Disable Search_shortcuts
Ping f10fd5f1-87c7-4e31-94cd-f03c429ac29a

✔️ Enable/Disable clipboard suggestions
Ping 84f82d09-6516-49f7-9b7c-e2d40a999a76

✔️ Enable/Disable search browsing history

[2019-10-11 13:37] #5094 closed

[2019-10-11 13:40] gcp opened #5944 "URLBar buttons can't be thumb-operated"
Fenix puts the URLBar on the bottom. I assume this unusual choice comes from a desire to make the browser easier to operate with one hand.

Unfortunately, on anything but small phones, the GUI elements that are on the right side of the screen aren't reachable for a right-handed user. The layout is as follows:

TP icon | https://url | [tabs] :menu:

Now, I can reach the entirety of the URL, even th

[2019-10-11 13:43] gcp opened #5945 "URLBar buttons can't be thumb-operated"
Fenix puts the URLBar on the bottom. I assume this unusual choice comes from a desire to make the browser easier to operate with one hand.

Unfortunately, on anything but small phones, the GUI elements that are on the right side of the screen aren't reachable for a right-handed user. The layout is as follows:

TP icon | https://url | [tabs] :menu:

Now, I can reach the entirety of the URL, even th

[2019-10-11 13:47] gcp commented on #5945
Github timed out and double-filed.

[2019-10-11 13:47] #5945 closed

[2019-10-11 14:32] csadilek opened #5947 "[Bug] [Crash] NullPointerException when capturing thumbnail"
New top crash started in yesterday's Nightly Build (Nightly 191010 06:01):

https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6443799/?environment=fenixNightlyLegacy

[code]

[2019-10-11 14:32] csadilek opened #5948 "[Bug] [Crash] NullPointerException when capturing thumbnail"
New top crash started in yesterday's Nightly Build (Nightly 191010 06:01):

https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6443799/?environment=fenixNightlyLegacy

[code]

[2019-10-11 14:33] csadilek commented on #5948
Github hiccup. Filed twice. Closing.

[2019-10-11 14:33] #5948 closed

[2019-10-11 14:46] #5731 closed

[2019-10-11 14:48] topotropic opened #5950 "Work with UR on research plan for proxy"
Outcome: create a roadmap to address hypothesis

[2019-10-11 14:48] bogas04-swiggy opened #5951 "[Bug][WebRender] Browser chrome stop responding properly after enabling webrender"
## Steps to reproduce
1. Enable WebRender from about:config
2. Restart browser
3. Navigate to different screens in browsers (show all tabs, settings, new tab etc.)

### Expected behavior
Everything should work fine

### Actual behavior
Buttons show ripple effects but they don't perform the action.

It used to be working fine until 2 days ago, since then the problem has arisen.

![Screencast](https

[2019-10-11 14:49] bogas04-swiggy opened #5952 "[Bug][WebRender] Browser Chrome becomes unresponsive after force enabling"
## Steps to reproduce
1. Enable WebRender from about:config
2. Restart browser
3. Navigate to different screens in browsers (show all tabs, settings, new tab etc.)

### Expected behavior
Everything should work fine

### Actual behavior
Buttons show ripple effects but they don't perform the action.

It used to be working fine until 2 days ago, since then the problem has arisen.

![Screencast](https

[2019-10-11 14:49] bogas04-swiggy opened #5953 "[Bug][WebRender] Browser Chrome becomes unresponsive after force enabling"
## Steps to reproduce
1. Enable WebRender from about:config
2. Restart browser
3. Navigate to different screens in browsers (show all tabs, settings, new tab etc.)

### Expected behavior
Everything should work fine

### Actual behavior
Buttons show ripple effects but they don't perform the action.

It used to be working fine until 2 days ago, since then the problem has arisen.

![Screencast](https

[2019-10-11 14:50] #5953 closed

[2019-10-11 14:50] #5952 closed

[2019-10-11 14:52] #5732 closed

[2019-10-11 14:54] #5382 closed

[2019-10-11 15:58] Cheap-Skate opened #5954 "[Bug] Refreshing search suggestions & moving History suggestions while typing is unpleasant"
In Fenix:- Go to Search screen. start typing. watch the search suggestions. There is a horrible dance of animations with each character entered
- the search suggestions disappear
- the History/Bookmarks suggestions instantly move up to the top of the screen
- the History/Bookmarks suggestions quickly slide down to leave blank space
- the new search suggestions flash into the blank space.

I hate i

[2019-10-11 15:58] Cheap-Skate opened #5955 "[Bug] Refreshing search suggestions & moving History suggestions while typing is unpleasant"
In Fenix:- Go to Search screen. start typing. watch the search suggestions. There is a horrible dance of animations with each character entered
- the search suggestions disappear
- the History/Bookmarks suggestions instantly move up to the top of the screen
- the History/Bookmarks suggestions quickly slide down to leave blank space
- the new search suggestions flash into the blank space.

I hate i

[2019-10-11 16:00] #5955 closed

[2019-10-11 16:28] AmyYLee commented on #5709
The radio buttons should be aligned to the "Enhanced Tracking Protection" header like this

![ETP](https://user-images.githubusercontent.com/5992746/66668206-ac950000-ec22-11e9-9097-343d636f0934.png)

[2019-10-11 16:40] kambhamvivekshankar opened #5957 "UI Suggestion."
In the new update, the + sign besides address bar feels redundant as the address bar is already opening a new tab. We can remove the + button for a cleaner UI.

[2019-10-11 16:43] Dunexus commented on #5954
Fixed in last nightly version : see https://github.com/mozilla-mobile/fenix/issues/4190

[2019-10-11 16:44] vesta0 opened #5958 "In-app Download Notifications"
### User Story
As a user, I want to know when my download is completed and have the ability to open my downloaded file directly from the in-app notification so I can get to my content faster and easier.

[Mocks](https://miro.com/app/board/o9J_kw9q71A=/)
[Deck](https://docs.google.com/presentation/d/11uYWSauJcqp89yCZcPoG6HBf0vJuyAMkxkXELSg0Nfo/edit#slide=id.g635b335255_3_130)

### Bugs blocking
- [

[2019-10-11 16:48] yoasif commented on #3091
@sarentz Is there a new bug tracking this being enabled in nightly or release?

[2019-10-11 16:53] vesta0 opened #5959 "System Download Notification"
### User Story
As a user, I want to know the status of my download and have the ability to manage the download process so I can have control and visibility over my download activity.

[Mocks](https://miro.com/app/board/o9J_kw9q71A=/)
[Deck](https://docs.google.com/presentation/d/11uYWSauJcqp89yCZcPoG6HBf0vJuyAMkxkXELSg0Nfo/edit#slide=id.g635b335255_3_130)

### Acceptance Criteria

- [ ] I see that

[2019-10-11 16:55] ekager commented on #4726
@AndiAJ are you still seeing a flicker here?

[2019-10-11 16:58] Cheap-Skate commented on #5954
That's great! Thanks

[2019-10-11 16:58] #5954 closed

[2019-10-11 17:01] ekager commented on #2217
This issue is different from #1901 and is specifically about a flicker or flash when coming back to / resuming the browser from the app switcher. See this gif.

![ezgif com-resize](https://user-images.githubusercontent.com/25442310/66670137-dc85d880-ec0d-11e9-9b55-fb1cd759fc68.gif)

[2019-10-11 17:10] sblatz commented on #1298
I'm timeboxing E2 more effort for this next sprint.

[2019-10-11 17:10] fbertsch commented on #5869
For me, this happens 100% of the time for both [nyt](https://www.nyt.com) and [hn](https://news.ycombinator.com).

Steps are the same:
1. Open webpage
2. Click on a link which redirects (even to same TLD)
3. Press back button

Expect: Version of page I just saw
Actual: Previous cached version

I will note that I've seen versions of this happening for a _long_ time, I used to see it on Fennec. Now

[2019-10-11 17:12] sblatz commented on #5646
E1 of this work is left, we're pulling it out to run the experiment before removing the feature flag :)

[2019-10-11 17:15] Lululalu commented on #4717
@ekager I recorded a video: https://streamable.com/hk13c

When I touch the back button on my device I shouldn't be sent back to the serp.

[2019-10-11 17:16] vesta0 opened #5960 "[Bug] Tab bar and tab icon are unresponsive in Nightly with WebRender enabled"
## Steps to reproduce
-Open a tab in Nightly
-Tap on the nav bar or the tab icon

### Expected behavior
-when tapping on nav bar, keyboard should open
-when tapping on tab icon, homepage should open

### Actual behavior
-nothing happens but back button takes user back to the homepage

### Device information

* Android device: Pixel 3
* Fenix version: Nightly 191011

[2019-10-11 17:19] pocmo commented on #5889
See #5895

[2019-10-11 17:19] #5889 closed

[2019-10-11 17:20] AmyYLee commented on #1019
HI,
Here is the spec. It's ready for engineering with the exception that the strings need to be reviewed by @mheubusch in this portion (see screenshot below)

<img width="394" alt="Screen Shot 2019-10-11 at 1 17 52 PM" src="https://user-images.githubusercontent.com/5992746/66671393-df8ec200-ec29-11e9-8e94-ef974b9ea0bc.png">

Spec:
https://share.goabstract.com/e4322cfc-9036-4fbc-b417-5ac7df581b19?m

[2019-10-11 17:22] Cheap-Skate opened #5961 "[Bug] Choosing alternate search shortcut results in too many search suggestions"
## Steps to reproduce

case (1):- Tap URL bar to enter search screen. Don't select an alternate search provider - use Google default. Type "fa". Get 3x search suggestions "fa" "facebook" "fashion nova" then some stuff from History

Repeat but this time

case (2):- Tap URL bar to enter search screen. **Select Bing as search provider by tapping search shortcut**. Type "fa". Get about 20 search sugge

[2019-10-11 17:28] Cheap-Skate opened #5962 "List of search shortcuts, not clear that top line is default"
When entering search screen I'm presented with "Search With:" and a list of search shortcuts

It's not clear that the first one (Google in my case) is the default and I don't need to do anything to select it. I can just start typing.

I know there is a G icon top left but that's probably easy to miss for a new user when presented with the big list front & center and an instruction "Search with"

w

[2019-10-11 17:28] hakkikaancaliskan commented on #5960
Duplicate of #5951 ?

[2019-10-11 17:46] mkaply opened #5963 "Going back from opening a story on digg should go back to digg, not Firefox Home"
## Steps to reproduce

Go to digg.com.
Click a link on a story.
Notice that your number of tabs increased.
Click the back button.
You go back to the Fenix Home

### Expected behavior

Back should have taken you to digg.com and closed the tab that was opened for the story.

### Actual behavior

The tab was left open and you are back at the Fenix homepage

This is inconsistent with every mobile brow

[2019-10-11 17:48] mkaply commented on #5963
When I say back button, I mean the back button on the android device. The back button in the browser is not enabled in this case.

[2019-10-11 18:29] mcomella opened #5964 "[Bug] Android Lint is not running on CI for the `app` module"
The current CI behavior appears to be to run `lintDebug`: https://searchfox.org/mozilla-mobile/rev/2a57cc10d768832199bfd755d1e08fd9630baccc/fenix/taskcluster/ci/lint/kind.yml#55

However, the `lintDebug` task only exists in `architecture` (because there is no debug build variant in the `app` module) so running `./gradlew lintDebug` will only run that task in the architecture module.

To run Androi

[2019-10-11 18:50] glawrence opened #5965 "Convert Private Tab to "normal""
### Why/User Benefit/User Problem
With the new Firefox Preview 2.1.0 I can enable "Launch links in private tab" (which is a great feature, thank you!), however there is no easy way to convert this to a "normal" tab.

### What/Requirements
There are times when I would like to be able to convert the tab to a "normal" one to pick up any state/login information from my regular browsing session. When "

[2019-10-11 18:55] ekager commented on #5963
See #2483 and #2629

[2019-10-11 19:06] miladmaz12 commented on #5820
@ekager The issue has been fixed on my end with the recent build update today (10/11)

[2019-10-11 19:08] miladmaz12 commented on #5781
@ekager This issue has since been fixed on the recent build update today (10/11) on the Play Store.

Firefox Preview 2.1.0

[2019-10-11 19:08] #5781 closed

[2019-10-11 19:56] mheubusch commented on #1019
Recommended text:
Allow search suggestions in private sessions?
Firefox Preview will share everything you type in the address bar with your default search engine. Learn more

[2019-10-11 20:00] mozillaeyes opened #5966 "Enable FenixNightlyDebugX86 build variant for Firebase UI Test"
### Why/User Benefit/User Problem
Currently, build variants generate both x86 and ARM.  This poses a problem for running tests on Firebase via local submission from Android Studio, because Firebase only picks up ARM builds for testing in such build variant setup.

We need a way to send x86 builds to Firebase to run UI tests to investigate race conditions that seems to be frequently occurring in x8

[2019-10-11 20:01] mheubusch commented on #1019
@vesta0 Added the needs:sumo label for support with updating the copy at https://support.mozilla.org/en-US/kb/how-search-firefox-preview with a note that search settings now allow you to enable and disable search suggestions in private browsing when you have have enabled them in normal browsing. @AmyYLee can provide the settings panel showing this update.

[2019-10-11 20:13] mikeGolf08 opened #5967 "Tab groups"
### Why/User Benefit/User Problem

I really like the idea of Collections but I've seen Chrome's Tab groups today and I think they are pretty handy.

The user would be able to quickly jump between tabs in a Collection because the present solution forces the user to open the tab view and to scroll all the way down to the specific Collection.

### What/Requirements

I got 2 ideas in mind:

1. Nearly

[2019-10-11 20:22] mozillaeyes opened #5968 "[Bug] Reduce UITest timeout and check GV Accessibility Identifier"
## Steps to reproduce
Run UI Test where the GV element presence is checked

### Expected behavior
The wait completes as soon as the text appears on the web view.

### Actual behavior
The wait time out after waiting for full 45 seconds, indicating that the accessibility identifier is not being detected. @rpappalax or @AaronMT , could you make a quick patch to revert the timing change?  This is prob

[2019-10-11 20:26] AmyYLee commented on #1019
Screens for Sumo:

![Settings Main](https://user-images.githubusercontent.com/5992746/66682695-c72ba100-ec43-11e9-9780-f19b9934d4ab.png)
![Settings - Search Suggestions (Disabled)](https://user-images.githubusercontent.com/5992746/66682696-c7c43780-ec43-11e9-8c00-684e276a4613.png)
![Search Suggestions Prompt](https://user-images.githubusercontent.com/5992746/66682697-c7c43780-ec43-11e9-8392-2306cb

[2019-10-11 20:27] AmyYLee commented on #1019
@sblatz Final Spec: https://share.goabstract.com/e4322cfc-9036-4fbc-b417-5ac7df581b19?mode=design&sha=9fe9a001eabfa8ac0898d9f298791ead964230a5

[2019-10-11 20:48] #5968 closed

[2019-10-11 20:50] npark-mozilla opened #5969 "[Bug] Check why Accessibility Identifier is not found"
Run UI Test where the GV element presence is checked
Expected behavior

The wait completes as soon as the text appears on the web view.
Actual behavior

The wait time out after waiting for full 45 seconds, indicating that the accessibility identifier is not being detected. @rpappalax or @AaronMT , could you make a quick patch to revert the timing change? This is probably delaying the execution of

[2019-10-11 20:50] npark-mozilla opened #5970 "[Bug] Check why Accessibility Identifier is not found"
Run UI Test where the GV element presence is checked
Expected behavior

The wait completes as soon as the text appears on the web view.
Actual behavior

The wait time out after waiting for full 45 seconds, indicating that the accessibility identifier is not being detected. @rpappalax or @AaronMT , could you make a quick patch to revert the timing change? This is probably delaying the execution of