[2021-12-20 08:32] pivasikkost commented on #22915
This does not always happen, now this glitch was observed for 15 minutes, but it disappeared.

[2021-12-20 08:39] Oymate commented on #22902
Just as upsuper said, I like to paste and go with an unknown word in the search bar

[2021-12-20 09:30] mcarare commented on #22589
For QA: Can this be tested on other devices with Android 8? I haven't been able to reproduce it on any device/ emulator. Thank you!

[2021-12-20 10:16] Archaeopteryx opened #22916 "Intermittent gradle-dependencies - A failure occurred while executing com.android.build.gradle.tasks.PackageAndroidArtifact$IncrementalSplitterRunnable: Self-suppression not permitted"
### Firebase Test Run:
[Provide a Firebase test run report link here showcasing the problem](https://treeherder.mozilla.org/logviewer?job_id=361519720&repo=fenix)
### Stacktrace:
[code]
### Build:
https://github.com/mozilla-mobile/fenix/commit/6b458a15720ecb7a9a5d1442e0b66ff2fd20d51f

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-18961)

[2021-12-20 10:19] delia-pop commented on #22589
Tested with the following devices:
- LG G7 fit (Android 8.1.0): the issue is no longer present on the Nightly 12/20 build (still reproducible on 96.0.0-beta.3 build).

- Huawei P9 Lite (Android 8): the issue could not be reproduced on the Nightly 12/20 or 96.0.0-beta.3 builds.

 LG G7 fit (Android 8.1.0) with  Nightly 12/20:

![1639994370590](https://user-images.githubusercontent.com/89388888/1467

[2021-12-20 10:30] mcarare commented on #22464
Can QA please retest this?
It works as expected for me, using a Nokia with Android 10, with both pattern and biometric(fingerprint) unlock.
Thank you!

[2021-12-20 11:15] replete commented on #17093
Why is this closed?

[2021-12-20 11:17] henricook opened #22918 "Reopen https://github.com/mozilla-mobile/fenix/issues/17093"
https://github.com/mozilla-mobile/fenix/issues/17093 has been closed incorrectly and I can't think of a better way to draw attention to this issue, tagged moderators appear not to be reading their notifications.

[2021-12-20 11:39] edo0 commented on #17093
Because Mozilla is a "global community" who gives 0 fucks about EU nationals

[2021-12-20 13:04] mcarare commented on #22570
I think this is a use case other than the one in the Focus fix. When opening a custom tab in a normal tab it is expected that the custom tab session is released, but that is not the case here. I am not even sure using multiple browsers is supposed to work.

[2021-12-20 13:24] it9exm commented on #17093
This is unacceptable. Please reopen and fix this once for all.
If it is allowed to install uBlock Origin there is no reason to block this addon.
Anybody here ever got in touch with the author for this issue? He says Mozilla is rejecting the approval.
Damn, I use incognito mode and since Google introduced that cookie consent screen, I started using Duckduckgo.
That was something, just not enough. I

[2021-12-20 13:48] sheikh-azharuddin commented on #22045
I guess this feature is available after changing the preference to true
layout.forms.input-type-show-password-button.enabled

[2021-12-20 13:50] sflorean commented on #22508
Verified as fixed on latest Nightly build with Pixel 3 (Android 12).

[2021-12-20 13:50] #22508 closed

[2021-12-20 13:52] sflorean commented on #22450
Verified as fixed on latest Nightly build, with Pixel 3 (Android 12).

[2021-12-20 13:52] #22450 closed

[2021-12-20 14:22] Amejia481 commented on #22914
Thanks @bigConifer for the report, we will take a look and report back.

[2021-12-20 14:28] sflorean commented on #22513
I wasn't able to reproduce this issue, following the steps, on Release build & Nightly. @Palloxin could you please check again, on latest Nightly? Thank you!
Devices:
- Huawei P40 Lite (Android 11)

[2021-12-20 14:41] gyrofrog commented on #22910
Seems to occur on any website where I'm not already logged in, whether it's the login page or not. Sometimes the page will load after repeated attempts/crashes.

Here's another one, while trying to access this particular webpage (https://github.com/mozilla-mobile/fenix/issues/22910)
[code]

[2021-12-20 14:43] heydarian commented on #22899
Hi again, could you please try this app also, which provides a more detailed info on your Widevine version:
https://play.google.com/store/apps/details?id=com.kaltura.kalturadeviceinfo&hl=en_AU&gl=US

<I will add my information later in here>

[2021-12-20 15:10] sflorean commented on #22464
@mcarare I wasn't able to reproduce this issue, following the steps, with Pixel 3 (Android 12) on latest Nightly build.

[2021-12-20 15:14] mcarare commented on #22464
@eliserichards can you also recheck this to see if it's still an issue? Thank you!

[2021-12-20 15:15] Amejia481 commented on #22910
@gyrofrog  could you share your device info (Brand, model, and Android Version)?

[2021-12-20 15:25] Palloxin commented on #22513
The bug has been fixed, so i will close it.

[2021-12-20 15:25] #22513 closed

[2021-12-20 15:27] mcarare commented on #22561
This is reproducible only with the light theme setting because the tab tray does not have a private theme applied.

[2021-12-20 15:35] #22045 closed

[2021-12-20 15:56] SoftVision-LorandJanos commented on #16794
This issue is no longer reproducible on the latest Nightly 97.0a1 (2021-12-20).
The text looks centered now:
![Screenshot_2022-01-05-17-53-29-058_org mozilla fenix](https://user-images.githubusercontent.com/48829350/146795659-c3815192-a49d-4ba6-a1dd-4a4b57347232.jpg)
Verified with a Xiaomi Mi11 Lite (Android 11).
Closing the ticket as fixed.

[2021-12-20 17:23] PhoenixIV commented on #22734
Confirmed from Samsung a52s and OnePlus 2 using version 95.1.0

[2021-12-20 17:23] rocketsroger commented on #22561
Related to https://github.com/mozilla-mobile/fenix/issues/22558

[2021-12-20 17:38] rocketsroger commented on #21692
This should be fixed once https://github.com/mozilla-mobile/fenix/issues/22550 is fixed.

[2021-12-20 17:44] sheikh-azharuddin commented on #22851
Nice implementation 👍
These 2 backgrounds color have issue with the text color ...

![Screenshot_20211220-231215104](https://user-images.githubusercontent.com/58127841/146809690-07f8c015-10a4-4b9f-96b2-fec2f9febdc2.jpg)
![Screenshot_20211220-231234021](https://user-images.githubusercontent.com/58127841/146809698-9e756d7e-5d8d-4c1e-a09b-341168d1deac.jpg)

[2021-12-20 17:58] gyrofrog commented on #22910
Sure!
The phone is a Samsung Galaxy S20 FE 5G (SM-G781U)
Android 10

[2021-12-20 18:02] mcomella commented on #21530
This use case regressed: https://share.firefox.dev/3qdBFJd These fixes are fragile so I think we have to verify we have tests for each of them.

[2021-12-20 18:17] mcomella commented on #21530
Nevermind. I accidentally tested the "needs new engine session case" we haven't optimized yet. Here's a profile when we don't need a new engine session that shows this did not regress: https://share.firefox.dev/3yIguCM

[2021-12-20 18:42] cpeterso commented on #22899
@heydarian - Does Amazon Prime work in Chrome on your device? Is there an official Amazon Prime app for your device?

My phone's Security Level L1 is more "secure" (more DRM-y) than your L3, so Amazon might be requiring more restrictive DRM. Mozilla has contacts at Amazon, so I can ask them once I know whether Amazon Prime works in Chrome and/or the Amazon Prime app on your device.

You said the p

[2021-12-20 19:19] topotropic opened #22921 "Add telemetry for "Show all" in "Recently visited" section on home"
Add telemetry for the following:

Event: A user taps on "Show all" in the "Recently visited" section on home

## Acceptance Criteria
- [ ] ENG files a [DS JIRA](https://jira.mozilla.com/projects/DO/issues/DO-228?filter=allopenissues) request outlining their methodology.
- [ ] DS sign off on instrumentation methodology addressing product questions.
- [ ] Event pings can be queried via re:dash
- [ ]

[2021-12-20 19:28] Amejia481 commented on #22914
After checking, I think we are in line with Firefox desktop.

* Clicking on regular link still works.
* Clicking on a bookmark that contains JS URLs still works.
* Long press doesn't show a contextual menu, similar to desktop right click doesn't show an option to open the link.

You can give it a try on https://csadilek.github.io/test12.html

[2021-12-20 19:44] rocketsroger commented on #22736
After some investigation, I have the same conclusion as @mcarare.  There's no good way to keep both the scrolling behaviour that we want but to show the 3-dot menu if the user does not press back.  I've put up a PR that will not remove focus from the toolbar so the user will have some hint that they are still in input mode.  Hopefully this way it will give the user enough hint that they need to pr

[2021-12-20 19:53] topotropic commented on #22736
I couldn't figure out what the issue is – could you elaborate? Thanks!

[2021-12-20 19:57] topotropic commented on #22014
Thanks! This was part of the design but didn't get implemented – we'll do it in a future release. I'll close this issue.

[2021-12-20 19:57] #22014 closed

[2021-12-20 20:00] topotropic commented on #22722
Sounds like you're good to go, but please ping me if you need anything from UX. Thanks!

[2021-12-20 20:01] rocketsroger commented on #22736
Sure, to reproduce this:
1. While in a page (or at home page), tap on the URL to enter a new address or search term.
2. Home page will show.  Scroll the homepage to make sure keyboard is hidden.
3. 3-dot menu is now hidden since we're still in an input mode.

[2021-12-20 20:06] topotropic commented on #22736
Thanks, Roger!

Can you help me understand what the experience would be if we switch from search bar to location bar with menu on scroll, it sounds like it's not possible or requires extra steps, yes?

[2021-12-20 20:09] rocketsroger commented on #22736
Sure.  If we force a switch from search bar to location bar while user is scrolling, it will cause the first scroll to be ignored.  From the user point of view, they will think that Fenix has ignored their input, or there's was a performance issue.  After some investigate with @mcarare, we basically either have to ignore a scroll to for the switch, or not switch but to leave some hint to the user

[2021-12-20 20:38] #22736 closed

[2021-12-20 20:49] heydarian commented on #22899
@cpeterso there's officially no chrome or Amazon Prime App available for Android Automotive OS, see the current apps available here: https://play.google.com/store/apps/collection/promotion_android_auto_embedded_exploreall
I got Firefox by building it from Github and adding it to my google play developer console as internal app, so I can download internal apps back on my Android Automotive Google P

[2021-12-20 21:07] #14380 closed

[2021-12-20 23:46] mcomella opened #22924 "[Bug]: 3-dot menu unexpectedly gets wider when signed into sync"
### Steps to reproduce

1. Sign into sync
2. Go back to a loaded web page
3. Hit 3-dot menu

### Expected behaviour

3-dot menu remains the same width:
![device-2021-12-20-164000](https://user-images.githubusercontent.com/759372/146846971-b03b9bd1-a9e4-44d2-9d09-9645efad5476.png)

### Actual behaviour

3-dot menu expands horizontally to fit the email address of the signed in account (my email is r

[2021-12-20 23:59] mcomella commented on #22795
I was able to reproduce: I have 104 logins and there is a small (1s subjective?) user perceptible delay between typing a character and the results on my Moto G5. I can imagine this delay gets longer for more logins.

I took a profile: https://share.firefox.dev/3qc0ntl There is a ~50ms measure/layout/draw delay but otherwise we don't see anything including the onTextChanged listeners that dispatche

[2021-12-21 00:44] shawnz commented on #12327
Even if the user has Android configured for gesture navigation, I think Firefox should still handle right swiping to go forward, since that is not natively supported.

[2021-12-21 01:59] #12470 closed

[2021-12-21 02:33] sheikh-azharuddin opened #22926 "add basic themes (firefox colorways) in firefox"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-12-21 03:08] kbrosnan commented on #22918
We are not keeping individual issues open for specific extensions. We track the extension APIs that are needed at https://bugzilla.mozilla.org Geckoview::WebExtensions

[2021-12-21 03:08] #22918 closed

[2021-12-21 03:51] ProperBrgdbald opened #22927 "[Bug]: Text Searches do not consistently launch"
### Steps to reproduce

1. Open tab with text (Tab X)
2. Select text to search (by holding)
3. Select Search (or Private Search)
4. Navigate back to Tab X
5. Press and hold on text (to search again)
6. Select Search (or Private Search)
7. Observe no action occurs

In addition to above
8. Open new tab (Tab Y) with text to search
9. Select text in Tab Y
10. Press and hold on text
11. Select Search (

[2021-12-21 03:57] ProperBrgdbald opened #22928 "[Bug]: Pasting "about:<term>" pastes only "<term>""
### Steps to reproduce

1. Enter about:telemetry into the URL bar (without quotation marks
2. Select this value, and copy into clipboard (hold and copy)
3. clear the URL bar
4. Paste into the URL bar

### Expected behaviour

"about:telemetry" should appear

This value appears when pasting into other applications.

### Actual behaviour

"telemetry" appears.

If quotations are used ("about:telemetry

[2021-12-21 04:07] ProperBrgdbald opened #22929 "Tab shifting when switching tabs"
### Steps to reproduce

0. Tab List set to Grid view
1. Have multiple tabs open (5-6 tabs)
2. Press Tab button to get to Tab List
3. Select tab 3 or 4 to view this tab
4. Press Tab button to get to Tab List
5. observe that tab 3 and 4 are placed on top of Tab List, then view scrolls up one row of tabs after a small delay
6. When attempted from tab 5 or 6, view places Tab 5 or 6 in mid scroll, but

[2021-12-21 04:22] Oymate commented on #22924
Reproducable on firefox but not tor browser

[2021-12-21 04:23] Oymate commented on #22924
Maybe use the profile name?

[2021-12-21 06:50] orangepizza opened #22931 "[Bug]: background color of new private window is broken"
### Steps to reproduce

1. open private tab

### Expected behaviour

background has gradation in it, which color matchs with buttom toolbar.

### Actual behaviour

background color is flat, neon violet , no background gradation
![Screenshot_20211221-154452_Firefox Nightly](https://user-images.githubusercontent.com/23009540/146884584-e2972aac-423c-4b6c-854b-f18c44b46a62.jpg)

not sure if it's a bug

[2021-12-21 07:04] jonalmeida commented on #22931
I see this too after the update.

cc: @Amejia481

[2021-12-21 09:20] henricook commented on #17093
From https://github.com/mozilla-mobile/fenix/issues/22918#issuecomment-998432756

[2021-12-21 09:32] AnderssonPeter commented on #22918
@kbrosnan it has been working in nightly since https://github.com/mozilla-mobile/fenix/issues/17093#issuecomment-796572498 if I'm reading this correctly, so it should not be a problem at the API level?

[2021-12-21 09:36] softvision-raul-bucata opened #22932 "[Bug]: Favicon is not displayed in tabs/bookmarks for apple.com"
### Steps to reproduce

1. Navigate to: https://www.apple.com/.
2. Wait for the page to load.
3. Tap on the "Tabs" icon located in the toolbar.
4. Observe the favicon for the page.

### Expected behaviour

The favicon is correctly displayed with the company logo.

### Actual behaviour

The favicon is displayed containing the letter "A".

### Device name

Samsung A51  -1080 × 2400 pixels 20:9 aspec

[2021-12-21 09:58] noscript opened #22933 "[Bug]: Tabs view always scrolled the top"
### Steps to reproduce

1. Open as many tabs as needed, so they don't fit on the screen and the view becomes scrollable.
2. Open a new tab.
3. Go to the tabs view.

### Expected behaviour

The view is scrolled down, so the current tab is visible.

### Actual behaviour

The view is scrolled to the beginning. Every single time the user has to scroll down to find the current tab.

### Device name

_N

[2021-12-21 10:38] marcel263 commented on #11406
@AndiAJ Good day, still this issue fixed for you? Issue reproduces on 97.0a1 (Build #2015852235)

[2021-12-21 10:45] marcel263 commented on #19231
This is reproducable at least with tab grid.

Having interacted with private tabs, after which returning to normal tab tray, the last known scroll position i.e. selected tab is lost. Always scrolls to the top.

This behavior of forgetting the normal tab inconveniences common workflow for private tabs that were created from normal tabs ("open link in private tab" long-press menu option), e.g. a qui

[2021-12-21 10:46] marcel263 commented on #19943
Closed since it is duplicate of #19231

[2021-12-21 10:46] #19943 closed

[2021-12-21 10:47] delia-pop commented on #22589
This is still reproducible on 96.0.0-beta.4 with LG G7 fit (Android 8.1.0).

[2021-12-21 10:49] marcel263 commented on #22933
Appearing as duplicate of #19231

[2021-12-21 10:57] noscript commented on #22933
Not necessarily. This issue is more general, while #19231 emphasizes that the problem happens only when switching between normal & incognito modes.

[2021-12-21 11:14] marcel263 commented on #22933
#22929 also mentions scrolling.

temporary fix seems to be disabling tab groups

[2021-12-21 11:18] marcel263 commented on #22931
Tap the Nigthly logo to see

[2021-12-21 11:18] noscript commented on #22933
Thank you, that fixes the scrolling problem.

[2021-12-21 11:34] PeopleInside opened #22934 "[Bug]: Firefox Browser (Nightly for Developers) not monitored by antivirus software"
### Steps to reproduce

1. Install Firefox Browser (Nightly for Developers)
2. try to visit a phishing website, like this test page: https://www.amtso.org/feature-settings-check-phishing-page/
3. The phishing page will be opened and no notification on top screen about antivirus like [Sophos Intercept X for Mobile](https://play.google.com/store/apps/details?id=com.sophos.smsec&hl=it&gl=US) but also

[2021-12-21 11:41] orangepizza commented on #22931
did it really have to be that eye burning neon color by default?

[2021-12-21 12:55] heydarian commented on #22899
Hi again,
@cpeterso today the Vivaldi Browser has been released and Amazon Prime Works!
https://play.google.com/store/apps/details?id=com.polestar.vivaldi.production.android

We can close this topic for now

[2021-12-21 12:55] #22899 closed

[2021-12-21 13:17] Amejia481 commented on #22931
Thanks for the report. I'll put a patch for addressing it.

[2021-12-21 14:22] Amejia481 commented on #22931
The issue will be address on https://github.com/mozilla-mobile/fenix/pull/22935

[2021-12-21 14:27] delia-pop commented on #16820
This is reproducible on 96.0.0 Beta 4 build on the https://bitmovin.com/demos/av1 page with LG G7 fit (Android 8.1.0) and Samsung S10e (Android 10).

[2021-12-21 15:08] topotropic commented on #22431
Duplicate of https://github.com/mozilla-mobile/fenix/issues/1920

[2021-12-21 15:26] pocmo commented on #22851
@Amejia481 Two suggestions:
* I found the commit and this issue by looking at the APK size graphs and saw a bump, which seems to be coming from the new wallpaper PNGs. Did you run them through ImageOptim? It looks like we could optimize them.
* I'd consider adding such state either to the screen or app store (based on whether it's needed locally only or globally) and using the known mechanisms to

[2021-12-21 15:31] jan-ivar commented on #22704
Hi @marcel263 and @LaurentiuApahideanSV, thanks for filing! It WFM but I don't have those devices. Does it work any better [here](https://jsfiddle.net/jib1/fsexmu8v/show)?

@marcel263 when you say it "crashes" do you mean Firefox crashes, or the page just shows an error?

[2021-12-21 15:35] Amejia481 commented on #22851
👋🏽 thanks for the suggestions.

No I didn't, but I will do :) . These images are the final ones, they are only for gathering feedback about the feature.

Yeah that make sense 👍🏽

[2021-12-21 15:41] jtagcat commented on #12470
unstale, just checked, still occurs

[2021-12-21 16:10] Amejia481 commented on #22851
@pocmo I filed https://github.com/mozilla-mobile/fenix/pull/22937 for addressing the images optimization.

[2021-12-21 16:27] mcarare commented on #22415
Note for QA: After https://github.com/mozilla-mobile/fenix/pull/22650/commits/a71622acaa9b71ef688aa4d65391d73855e9f5d9 the button announcment will not be read.

However, it is considered bad practice to add the state or type in a content description for an element. That is because the role announcement for elements is subject to change and it will provide a bad experience across the apps if we har

[2021-12-21 16:37] mcarare commented on #22414
This is not something configurable from inside the app, but a shortcoming of the way the Talkback selection frame is implemented.
Adding to this, I do not think the behavior described (the green selection frame being shaky) impacts the user experience as long as navigation and screen content reading is not affected.

cc @MReschenberg for input in this.

[2021-12-21 16:54] anotherus3r commented on #16794
@SoftVision-LorandJanos I can still reproduce it on a Huawei Mate 20 lite on today's (2021-12-21) build.

[2021-12-21 17:49] cpeterso commented on #22899
Cool! I'm impressed by your effort and patience to install Firefox. 🙂

Did you need to make any code changes to Firefox to run in on AAOS? Is the AAOS Play Store a separate store or just a "This app is AAOS-compatible" flag that needs to be set in the regular Google Play Store?

Interesting. I wonder why Amazon Prime works in Vivaldi, but not Fenix or even Chrome.

[2021-12-21 18:04] cpeterso opened #22939 "[Bug]: Firefox homepage's initial scroll position is random on Android 8.1 device"
### Steps to reproduce

1. Make sure Firefox is configured to open to the Firefox homepage.
2. Cold or warm start Fenix on a device running Android 8.1.

(I can reproduce this bug in Firefox 95, Beta 96, and Nightly 97 on my Moto G5 Plus running Android 8.1.)

### Expected behaviour

The homepage should either always start at the top or its previous scroll position.

### Actual behaviour

* In a c

[2021-12-21 18:10] Mugurell commented on #22852
@ QA: To test this https://senglehardt.com/test/dfpi/storage_access_api.html can be used, specifically the 3rd and 4th iframes after changing in about:config:

- `dom.storage_access.auto_grants` to `false`
(to disable Gecko automatically granting the permission)
- `network.cookie.cookieBehavior` to `5`
- `network.cookies.cookieBehavior.pbmode` to `5`
(to enable cross origin cookie blocking)

Pleas

[2021-12-21 18:27] rvandermeulen commented on #22383
This is showing up in the Fenix 95 topcrash list: https://bugzilla.mozilla.org/show_bug.cgi?id=1747118

[2021-12-21 19:12] topotropic commented on #6358
Duplicate of https://github.com/mozilla-mobile/fenix/issues/1920

[2021-12-21 19:24] heydarian commented on #22899
Hi @cpeterso, no code change required I was able to build FF right away with Android Studio.
The AAOS Play Store is a separate store, but as far as I have tested, by rebuilding open source apps, many work 1:1 without any limitations, the OS seems to be fully Android 10 compatible.
About Vivaldi, I think that Chrome would have worked the same in the real car environment as the have the same core.
I

[2021-12-21 19:34] rocketsroger commented on #22939
There is one case when this can also be reproduce in Android 10+.  When the user first starts using Fenix, after they selected their Theme and Toolbar position, home is not scrolled to the top.  I'll also fix it with this issue.

[2021-12-22 00:55] MatthewTighe opened #22943 "Upgrade androidx.lifecycle version to 2.4.0"
The current suggested method of flow collection within UI elements is to use the `repeatOnLifecycle` API. This will automatically cancel the coroutines collecting from a flow during destructive lifecycle events and then relaunch the collection on constructive lifecycle events. This API became available in the above version.

[2021-12-22 01:28] bigConifer opened #22946 "[Bug] Bookmarklets via Awesomebar stopped working correctly"
Since Fenix [v94.0.0-beta.1](https://github.com/mozilla-mobile/fenix/releases/tag/v94.0.0-beta.1) (Build #2015838097, AC: 94.0.1), the execution of Bookmarklets via the Awesomebar works only on the browser's homepage and on a few web pages (further investigation needed). On other pages they are not executed.
If a bookmarked Javascript URL is clicked in the Awesomebar and this bug occurs, then all

[2021-12-22 01:52] bigConifer commented on #22914
Thanks for the quick response, @Amejia481.

You're right, I missed that clicking Javascript URLs still works as expected.
However it looks like there are two separate bugs and somehow one of them even makes ALL links on the page unclickable.

[Context Menu]

I would not agree that we are in line with Firefox desktop. It's not about an option to open the link but about the "copy link" option. This

[2021-12-22 05:29] Nancyyuan opened #22947 "Wasm built with Emscripten >2.0 is 8 times slower to compile than WASM built with Emscripten 1.40.1 on Android phones RAM <=6GB"
with firefox defaut profile, WebAssembly.compile time of built with Emscripten >2.0 is 8,9s (em3.0.1.wasm in tha attachment) ，while WASM built with Emscripten 1.40.1 is 1,2s (em1.40.1.wasm in the attachment), tested on Xiaomi K30(Ram= 6GB, 8 cores), firefox 96.0.0 beta.
[wasm.zip](https://github.com/mozilla-mobile/fenix/files/7760168/wasm.zip)
Then I observed the CPU used of wasm (Emscripten >2.0)

[2021-12-22 06:31] kelimuttu commented on #9766
Related discussion on [Reddit](https://www.reddit.com/r/firefox/comments/rlo72u/will_pull_down_to_refresh_ever_come_to_the/) recently

[2021-12-22 07:43] JVariance commented on #11513
Please give us the option in settings to directly open a new tab with focus on the address bar instead of the popup (close tab, new private tab, new tab) on longpress on the tab counter! The current behavior is so annoyingly unconveniant on a permanent basis.

I rarely open a private tab and I also rarely close tabs via this popup.

[2021-12-22 10:12] antonioalcaidejimenez opened #22949 "APK"
I can't download firefox for android on an official way because I use a huawei phone with no google services.
Could you provide the apk?.
Thanks in advance

[2021-12-22 10:28] SoftVision-LorandJanos commented on #22852
Verified as fixed on the latest Nightly (2021-12-22) with the steps from the above comment.
Device used: Xioami Mi11 Lite (Android 11).
Closing the ticket as fixed.

[2021-12-22 10:28] #22852 closed

[2021-12-22 10:49] cadeyrn commented on #22949
https://github.com/mozilla-mobile/fenix/releases

[2021-12-22 11:30] provsalt commented on #22931
Seems to be fixed for me.

[2021-12-22 11:34] SoftVision-LorandJanos commented on #22764
Verified as fixed on the latest Nightly (2021-12-22) using the steps mentioned above.
Device used: Xiaomi Mi11 Lite (Android 11).
Closing the ticket as fixed.

[2021-12-22 11:34] #22764 closed

[2021-12-22 11:40] sflorean commented on #22931
Verified as fixed with Samsung A32 (Android 11) on latest Nightly build.

[2021-12-22 11:40] #22931 closed

[2021-12-22 11:58] sflorean opened #22950 "[Bug]: Homepage text not visible when switching backgrounds (light & dark mode)"
### Steps to reproduce1
1. Have light theme enabled.
2. Change the background 2-3 times.
3. Pay attention to the homepage.

### Steps to reproduce2
1. Have dark theme enabled.
2. Change the background 2-3 times.
3. Pay attention to the homepage.

### Expected behaviour
Text is visible on the homepage.

### Actual behaviour
The text is not visible, more contrast will be helpful.

### Device name
Sa

[2021-12-22 13:06] lle-git commented on #6512
Hello,
Sorry if the answer is obvious,  but it is not clear to me :
This ticket is labelled wontfix but it is not clear why (main difficulties, guiding principles)
Moreover it was proposed :
 3 Feb > The above solution was discussed with the sync team and we decided against it. Other solutions are being looked at instead.

What can we expect on this ticket ?

Thanks

[2021-12-22 13:44] #22949 closed

[2021-12-22 13:59] sflorean commented on #22410
Tested on latest Nightly with Samsun A32 (Android 11) and here is the results based on the example above:

 "search_terms.group_size_distribution": {
            "values": {
              "2": 8,
              "4": 6,
              "3": 3,
              "1": 0,
              "0": 0
            },
@MozillaNoah let me know if anything else is needed.

[2021-12-22 13:59] #22410 closed

[2021-12-22 14:19] mcarare commented on #22383
This is quite easily reproducible. All you have to do is fling the home screen top to bottom and back a few times.

[2021-12-22 14:37] Amejia481 commented on #22910
Thanks @abodea for testing

[2021-12-22 15:00] LaviniaL99 commented on #17904
The issue is still reproducing on Firefox 96.0.0-beta4.

[2021-12-22 15:11] rocketsroger commented on #22939
Tried different workarounds and they all causes regression in other areas.  The best solution for this issue is to implement https://github.com/mozilla-mobile/fenix/issues/22755.

[2021-12-22 15:11] LaviniaL99 commented on #18761
I was able to reproduce the issue on Firefox 96.0.0-beta4, only for **"Add a shortcut to open private tabs from your Home screen."** text is suggested to have a different contrast ratio.

Device used:
Samsung S10e -> Android 10

![private shortcut 1](https://user-images.githubusercontent.com/96047134/147113674-872a77bb-7278-43d0-8337-bdf66da4b41d.JPEG)

[2021-12-22 15:23] LaviniaL99 commented on #22414
The issue is still reproducing on Firefox 96.0.0-beta4.

**Device model:**
Samsung S10e -> Android 10

[2021-12-22 15:55] kbrosnan commented on #22947
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1747265

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-12-22 15:55] #22947 closed

[2021-12-22 16:07] kbrosnan commented on #22932
16x16px favicon Duplicate of https://github.com/mozilla-mobile/android-components/issues/10377

[2021-12-22 16:07] #22932 closed

[2021-12-22 16:27] #16264 closed

[2021-12-22 16:27] #15340 closed

[2021-12-22 17:27] #13302 closed

[2021-12-22 17:36] gabrielluong commented on #18612
Just assigning myself so I can always find this.

[2021-12-22 19:09] Amejia481 commented on #22914
@bigConifer I think we could close this ticket and continue the conversion on the new one

[2021-12-22 19:09] #22914 closed

[2021-12-22 19:31] wlach opened #22956 "Define "tags" for metrics in the app repository"
To make it easier to find Fenix metrics assigned to a particular feature area, we assign metrics tags. You can use them in the Glean Dictionary to quickly narrow down areas of interest. For example:

https://dictionary.telemetry.mozilla.org/apps/fenix?page=1&search=tags%3AWebExtensions

Currently the telemetry "tags" for Fenix are defined in the glean-annotations repository. For example:

https://

[2021-12-22 19:32] wlach commented on #22956
Pull request implementing this functionality (needs an upgrade to the gradle plugin before it can land): https://github.com/mozilla-mobile/fenix/pull/22954

[2021-12-22 19:49] rocketsroger commented on #22561
Reopening this since [the other issue](https://github.com/mozilla-mobile/fenix/issues/22558) does not have a good fix till jetpack compose refactoring.

[2021-12-22 20:16] rocketsroger commented on #22558
This is dependent on https://github.com/mozilla-mobile/fenix/issues/21897

[2021-12-22 20:41] gyrofrog commented on #22910
Well since yesterday, I can't reproduce the crash.  I haven't (knowingly) changed anything on my phone; Firefox and Android are still the same versions.  However, it does look like uBlock Origin had a new update on Dec. 19th (though I am unsure when that was pushed to my phone).

[2021-12-22 20:44] gyrofrog commented on #22910
P.S. Yes I'm logged into the Firefox sync account, although it does not seem that everything syncs since then (which might be unrelated).

[2021-12-22 21:17] AnderssonPeter commented on #17093
Has any one created a bug at https://bugzilla.mozilla.org ?

[2021-12-22 21:33] it9exm commented on #17093
I have just created it:
https://bugzilla.mozilla.org/show_bug.cgi?id=1747303

[2021-12-22 22:14] bigConifer commented on #22914
Hm, but this one here still contains the relevant information for the context menu bug, which revealed as completely independent from https://github.com/mozilla-mobile/fenix/issues/22946.

@Amejia481, if you want, I can open a new one regarding only the context menu ...

[2021-12-22 22:23] #22415 closed

[2021-12-22 23:33] cpeterso opened #22958 "[Crash] RuntimeException: android.os.DeadSystemException at android.content.ClipboardManager.getPrimaryClip(ClipboardManager.java:136)"
Originally reported in https://bugzilla.mozilla.org/show_bug.cgi?id=1747117

There are some crash reports from Fenix 94, but the volume spiked in 95.

https://crash-stats.mozilla.org/report/index/f6131fef-4a13-44b8-8135-f3c450211221

[code]

[2021-12-22 23:37] cpeterso opened #22959 "Crash in [@ mozilla.appservices.places.PlacesException: at mozilla.appservices.places.RustError$Companion.makeException(RustError.kt:1)]"
Originally reported in https://bugzilla.mozilla.org/show_bug.cgi?id=1739036

Crash report: https://crash-stats.mozilla.org/report/index/912f6986-ec58-4acd-ac24-917990211103

Very high crash volume. Looks like a regression in Fenix 94.

[code]

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-18985)

[2021-12-22 23:40] cpeterso opened #22960 "[Crash] IllegalStateException: You must either set a text or a view at com.android.internal.util.Preconditions.checkState(Preconditions.java:173)"
Reported in https://bugzilla.mozilla.org/show_bug.cgi?id=1739035

Crash report: https://crash-stats.mozilla.org/report/index/dd3c7a4d-2261-457a-987c-df9bf0211103

Very high crash volume. Looks like a regression in Fenix 93.

[code]

[2021-12-23 06:59] bli-mozbj commented on #22754
This issue can be reproduced on Fenix 96 Beta 4 (Build #2015852627)

[2021-12-23 07:44] Poopooracoocoo commented on #9268
@kbrosnan do you guys happen to be prioritising this anytime soon?

[2021-12-23 07:48] Poopooracoocoo opened #22962 "when links are opened from history/bookmarks and a new tab is created, the back button should then return to the tab the user was first on"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-12-23 07:50] Poopooracoocoo commented on #9269
@topotropic hey hope you don't mind me bumping this. What's the status of this FR? Still not a priority?

[2021-12-23 07:55] Poopooracoocoo commented on #7325
@eliserichards hey are there any updates on the priority of this FR?

[2021-12-23 08:50] SoftVision-LorandJanos commented on #22754
I could reproduce this issue on the latest Beta (96.0.0-beta4) and latest Nightly 97.0a1 also.
However a similar one was logged before here: #22736.
Also there are some devices we couldn't reproduce this issue on:
- Samsung Galaxy Tab A6 (Android 5.1.1) - Nightly and Beta.
- Sony Xperia Z5 Premium (Android 7.1.1) - Nightly and Beta.
- Xiaomi Mi8 Lite (Android 10) - Nightly and Beta.
- Google Pixel

[2021-12-23 09:12] bli-mozbj commented on #22736
One more thing, when the 3-dot is hidden, and "adjust home page" button appears at the bottom, tapping on the button, nothing will happen, which may confuse users.

[2021-12-23 09:15] SoftVision-LorandJanos commented on #22900
Hi @willfs84 ! Thank you for your report!
I can confirm the size of the button is as you described.
However this will not be considered as a bug, as it was the intended size.
I will switch the bug label to a feature request one.

[2021-12-23 09:15] byzod commented on #22238
Still not fixed on 96b3

Try [this page](https://www.taptap.com/app/137515/topic?type=elite), click the category title to switch to [category `视频`](https://www.taptap.com/app/137515/topic?type=video) (above the posts list) and video start playing without any scrolling

It can even be reproduced on firefox desktop :/

[2021-12-23 10:32] SoftVision-LorandJanos commented on #22754
Also, as mentioned [here](https://github.com/mozilla-mobile/fenix/issues/22736#issuecomment-1000154358), when this issue occurs, the "Customize homepage" button from the bottom of the homepage doesn't work.

[2021-12-23 10:41] gringofe opened #22963 "Bring back "Send to device" dialog via share menu from old firefox mobile"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-12-23 10:58] SoftVision-LorandJanos commented on #22933
Hi @noscript . Thank you for your report!
I can reproduce the issue you described.
I think the fix for the above mentioned [ticket](https://github.com/mozilla-mobile/fenix/issues/19231) should cover this one, so I will close this one as a duplicate.
If the fix for the ticket mentioned won't fix this one, this can be reopened or a new one filed. Thank you!
Tested on the latest Nightly 97.0a1.
Devic

[2021-12-23 10:58] #22933 closed

[2021-12-23 11:21] sflorean commented on #22880
I was able to reproduce this on latest Nightly build, with Samsung A32 (Android 11).
Crash: https://crash-stats.mozilla.org/report/index/cb23e6d0-d144-4023-9fd6-8660b0211223

[2021-12-23 11:31] mcarare commented on #22958
Related to https://github.com/mozilla-mobile/fenix/issues/22262. Only occurs for SDK > 29.

[2021-12-23 12:00] SoftVision-LorandJanos commented on #20639
This issue seems fixed on the latest Nightly 97.0a1 (2021-12-23):
- Inactive tabs section is displayed above the active tabs in tabs tray.
- Inactive tabs are collapsed by default, and can be extended.
- On restart of the app, the inactive tabs section is displayed collapsed, even if it is left extended before closing the app.

Device used: Xiaomi Mi11 Lite (Android 11).
Closing the ticket as fixe

[2021-12-23 12:00] #20639 closed

[2021-12-23 12:14] SoftVision-LorandJanos commented on #16794
Based on the comment above, I will reopen this ticket.
@anotherus3r please share your Android version as well, and if the layout is not exactly as on the screenshot from the description, please update that as well, in a comment. Thank you!

[2021-12-23 12:18] anotherus3r commented on #16794
@SoftVision-LorandJanos

Android 10 (EMUI 10)

Here's a screenshot from the latest Nightly (2021-12-23):
![Screenshot_20211223_131723.jpg](https://user-images.githubusercontent.com/20287690/147239599-19e755d3-5b4e-41dd-9f29-6141bb4a12a3.jpg)

[2021-12-23 12:52] mcarare commented on #22960
Related to https://github.com/mozilla-mobile/fenix/issues/22262. Only occurs for SDK > 29.

[2021-12-23 12:57] sflorean commented on #22928
I was able to reproduce this on latest Nightly build with Samsung A32(Android 11).

[2021-12-23 13:39] sflorean commented on #22927
@ProperBrgdbald i wasn't able to reproduce this on latest Nightly build with Samsung A32 (Android 11).
Please check again on Nightly, and add a video of your issue.

Thank you!

[2021-12-23 14:18] #19841 closed

[2021-12-23 15:24] rocketsroger commented on #22754
This issue is due to a conflict of requirements.  One requirement is to hide the keyboard when user scrolls/touch the home page.  The other requirement is to show the keyboard so the user knows that they are still in edit mode on the awesome bar.  Currently on Nightly we show the cursor/highlighted url when the keyboard is hidden to give a hint that the user have to press back to go back to displa

[2021-12-23 15:30] kbrosnan commented on #22754
Sounds then like this is a wontfix? Does UX have any other suggestions?

[2021-12-23 15:33] rocketsroger commented on #22754
This issue does require some investigation though.  The user should always be able to tap on customized homepage button if it is visible.

[2021-12-23 15:33] rocketsroger commented on #22754
I am looking into the "Customize homepage" button issue.  It is reproducible.

[2021-12-23 16:17] gabrielluong opened #22965 "Update design color tokens based on the latest UX changes"

[2021-12-23 17:40] csadilek commented on #22966
This has been fixed in https://github.com/mozilla-mobile/fenix/issues/22877. Latest Nightly should not have this problem. Please re-open if this is still reproducible in latest.

[2021-12-23 17:40] #22966 closed

[2021-12-23 18:18] sivaraam commented on #21491
I get bitten by this so often (via the steps mentioned in #20576). It would really be nice to see this get fixed.

For the note, I was thinking it was being caused because the "Tab sent" notification was somehow disabling interaction with elements near it but that wasn't the case. The issue appears to be happening even if I have the address bar at the top (the "Tab sent notification is always show

[2021-12-23 19:14] glock24 commented on #22546
Hello,

I have this same problem with Firefox since a couple of months, interestingly Fennec (from F-Droid) does not exhibit this problem.

**Firefox version:**
95.2.0

**Fennec version:**
95.2.0

**Device name**
Redmi Note 9S

**Android version**
Android 11 (LineageOS 18.1)

[2021-12-23 19:30] willfs84 commented on #22900
Are you sure they intended for it to be this small? For example, the size of the "X" inside it doesn't even meet accessibility minimum size for icons and text (a lot of people won't be able to clearly, easily see that it's an X inside the tiny circle button)

[2021-12-23 20:34] #22754 closed

[2021-12-23 21:15] mavduevskiy commented on #22395
The bug has been fix. A [feature](https://github.com/mozilla-mobile/fenix/issues/18160) to show a prompt before closing the last private tab is undergoing testing.

[2021-12-23 21:15] #22395 closed

[2021-12-23 21:29] mavduevskiy commented on #18160
The changes could be seen in the latest Nightly build.

[2021-12-23 21:46] #22965 closed

[2021-12-23 22:26] ProperBrgdbald commented on #22927
Testing on 97.0a1 video captures attached.
Found that the following do not allow for the same search to be performed in the same tab:
- Refreshing the tab
- Closing the tab, then undoing tab close

Replicating requires closing the tab used for search, and re-navigating back to the test page

https://user-images.githubusercontent.com/64764903/147296267-c3d7fc46-6183-48c8-b74d-d878c12f3e4e.mp4

http

[2021-12-24 00:06] #22963 closed

[2021-12-24 00:07] kbrosnan commented on #22963
Duplicate https://github.com/mozilla-mobile/fenix/issues/1523

[2021-12-24 00:38] gabrielluong opened #22971 "Remove @color/above_dark_theme redirection"

[2021-12-24 01:25] Archer2011 commented on #12731
Reproduced on a Samsung Galaxy Tab S4

[2021-12-24 01:50] #20377 closed

[2021-12-24 02:43] gabrielluong opened #22973 "Remove @color/contrast_text_light_theme redirection"

[2021-12-24 03:14] gabrielluong opened #22975 "Replace aboutLink attribute with Text Link color token"

[2021-12-24 04:24] gabrielluong opened #22977 "Remove @color/scrim[Start|End]_private_theme redirection"

[2021-12-24 04:44] parcelcat commented on #22910
I think this is related: #22877

[2021-12-24 05:01] gabrielluong opened #22978 "Replace @color/foundation_normal_theme with @color/fx_mobile_layer_color_1"

[2021-12-24 07:33] gabrielluong opened #22980 "Replace @color/notification_accent_color_normal_theme withh @color/fx_mobile_text_color_action"

[2021-12-24 07:46] ProperBrgdbald commented on #22927
When re-recording both inability to re-launch a search (not triggered), and showing when a search would unexpectedly launch, I found that switching to another application and then switching back will trigger the launching of the delayed search.

"search not triggered" means the search was attempted but did not occur.
"unexpected search" means a tab was revisited which caused something to trigger t

[2021-12-24 11:31] plwt commented on #21111
Those issues relate to exporting data from Fenix.  This issue is to help people wanting to move to Fenix.

User feedback: https://support.mozilla.org/en-US/questions/1362198

[2021-12-24 11:33] plwt commented on #20736
User feedback: https://support.mozilla.org/en-US/questions/1362193

[2021-12-24 12:50] sheikh-azharuddin opened #22981 "add an icon for clear cookies and site data"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-12-24 14:08] softvision-oana-arbuzov commented on #22966
Indeed, I can no longer reproduce the crash.

**Tested with:**
Browser / Version: Firefox Nightly 97.0a1 (🦎 97.0a1-20211221093038)
Operating System: Google Pixel 5 (Android 12) - 1080 x 2340 pixels, 19.5:9 ratio (~432 ppi density), Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density)

[2021-12-24 14:19] Fmstrat commented on #14921
@vesta0 very sad to see this move to Later. The users still on Firefox are multi-device (tablet, Chromebook, etc) power users, things like this are what push us away. Is there any support the user community can provide to move this up the chain?

[2021-12-24 17:15] plwt commented on #12731
User feedback: https://support.mozilla.org/en-US/questions/1362208

[2021-12-24 17:41] gabrielluong opened #22983 "Remove @color/destructive_button_text_color redirection"

[2021-12-24 23:34] chartmix opened #22986 "Site search field should remember search"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-12-25 05:36] gyrofrog commented on #22910
Well now it started doing it again. I did notice that uBlock Origin was updated again, after I left my last note (when it was working).  But other than that I still haven't changed anything on my phone.

[2021-12-25 09:02] adam900710 opened #22988 "Android 11 notification bar background color is wrongly determined, causing unreadable result"
### Steps to reproduce

0. Set "Dark" system theme (Lineage OS 18.1 in my case)
1. "Install" Twitter as PWA
2. Open Twitter PWA
3. Check the notification bar background

### Expected behaviour

For the same "Dark" theme, weather.com results a much better background color:
![Screenshot_20211225-164639_Firefox](https://user-images.githubusercontent.com/460269/147381610-93b6bc65-1a8f-46ad-a63f-cb2f9c

[2021-12-25 15:36] Cheap-Skate opened #22989 "[Bug]: Home screen gradient background jumps when keyboard raised"
### Steps to reproduce

Choose the gradient background for the Home screen
Raise & lower the keyboard

### Expected behaviour

The gradient should not move

### Actual behaviour

The gradient moves vertically, most obvious behind Top Sites

### Device name

Galaxy M32

### Android version

Android 11

### Firefox release type

Firefox Nightly

### Firefox version

#2015852907

### Device logs

_No

[2021-12-25 17:18] Djfe commented on #4424
I cannot believe this isn't a thing, yet. most users will buy new devices soon and the only ones who can keep collections need a rooted device like me?
Please increase the priority of this, where is the server side issue?

[2021-12-25 22:15] pumie03 opened #22991 "[Bug]: Firefox on Android Long Press Menu Non Functional"
### Steps to reproduce

1. Open Firefox mobile, on Android OS
2. Select URL bar and enter an address
3. Attempt to long press to get options menu

### Expected behaviour

The menu should popup with the current address selected.

### Actual behaviour

The current address or text in the address bar is selected. Then, the selextion guides appear. However, the selection options do not appear e.g. sele

[2021-12-25 22:28] phume03 opened #22992 "First character inputted into password field is duplicated"
### Steps to reproduce

1. Open Firefox on Android
2. Navigate to any page that requires a login (i.e. password and username) and has the reveal password option next to or in the password form field
3. Enter a username and note your entry
4. Enter a password and note your entry
5. Select reveal password and note the result of your previous entry

### Expected behaviour

The password should be as e

[2021-12-25 23:07] #20066 closed

[2021-12-25 23:07] #19479 closed

[2021-12-25 23:07] #19547 closed

[2021-12-26 03:30] #7046 closed

[2021-12-26 03:30] #19925 closed

[2021-12-26 06:26] lovachittumuri opened #22993 "[Bug]: search history is not maintained in the webpage search"
### Steps to reproduce

open a new tab.
Search for content in google
thereby keeps on searching for some word in the web page search.
but search history is not maintained and it's not auto-populate.auto-populated

### Expected behaviour

![image](https://user-images.githubusercontent.com/24685721/147400690-650b38fd-0c6f-4ed4-bffd-b203b8ecafe8.png)

### Actual behaviour

![image](https://user-image

[2021-12-26 09:02] klint commented on #10846
The issue is still happening to me on the latest nightly, as described in the fist post (top site favicon is ok, but installed app is only a M char. )

[2021-12-26 18:41] chgayot commented on #22521
I am having the same problem with all third party apps, the Unlock Firefox button can be pressed and nothing happens, then either disappear for 0.5sec and reappear immediately, or disappear completely. Lockwise was perfectly working.

If this can help (on flipboard, but it's the same everywhere):
`12-26 12:50:01.575 I/ActivityTaskManager(3860): START u0 {cmp=org.mozilla.firefox/org.mozilla.fenix.a

[2021-12-26 19:20] plwt commented on #3709
User feedback: https://support.mozilla.org/en-US/questions/1362323

[2021-12-26 21:39] willfs84 commented on #15445
This should be renamed to "webpage zoom" instead of "text zoom" because that's what this actually is. Only scaling/zooming text usually causes issues (layout etc.), we need webpage zoom just like all the desktop browsers have and Safari for iPhone and Chrome for Android too (it's still in development in Chrome for Android, you have to enable a flag). I often find myself just wanting to zoom a webp

[2021-12-26 22:09] krivit commented on #19888
Seconding this: although there *is* a way to close the current tab that is not too cumbersome (long press the tab button, and a popup menu appears with the option), it's not documented anywhere that I could find and is difficult to discover.

[2021-12-27 07:46] SoftVision-LorandJanos commented on #18160
Verified as fixed in the latest Nightly (2021-12-27).
The prompt is displayed when trying to close the private tabs.
The buttons "Stay in private browsing" and "Cancel 1 download" work as intended.
The prompt has a bit different design than the one presented in the description:
![Screenshot_20220108-092918](https://user-images.githubusercontent.com/48829350/147448134-6f3e32a4-0984-46a1-8674-ee7a0b

[2021-12-27 07:46] #18160 closed

[2021-12-27 09:33] chartmix commented on #19231
Position sometimes gets also lost when in normal mode. Goes up to the top instead of the last position.

[2021-12-27 11:02] hokonch opened #22995 "[Bug]: The app crashes when returning to the add-on details menu after changing device language"
### Steps to reproduce

1. Tap an add-on that hasn't been added yet in [Add-ons] and show the add-on details
2. Go to Settings app and add a new device language
3. Return to Firefox app

### Expected behaviour

Firefox never crashes.

### Actual behaviour

The app closes unexpectedly.

### Device name

Google Pixel 3a

### Android version

Android 12

### Firefox release type

Firefox

### Firefox

[2021-12-27 11:47] SoftVision-LorandJanos commented on #22981
Hi @sheikh-azharuddin! Thank you for your report!
I can confirm the cookies icon is not displayed for the pages I tested (wikipedia, twitter, youtube...)
Tested on the latest Nightly (2021-12-27).
Device used: Google Pixel 4 (Android 11).

[2021-12-27 12:02] sflorean commented on #22988
Tested on Samsung A32 (Android 11) and the same behavior is displayed for both Firefox and Chrome.
@adam900710 can you please confirm this?

[2021-12-27 12:04] sflorean commented on #22915
@pivasikkost can you please attach a video of the issue?

[2021-12-27 12:16] sflorean commented on #22909
@davimack Thank you for report!
This issue is covered in the following tickets:
- bookmarks: #12717
- history: #10046
I will close this as duplicate of the first one, based on the problem mentioned above.

[2021-12-27 12:16] #22909 closed

[2021-12-27 12:17] Mugurell commented on #22993
Thank you for the report @lovachittumuri!
Though I'm not sure about the specific scenario. I see in your comment both the `expected` and the `actual` result showing the same image.
Also seeing you're using a bit of an old version of Firefox.
Can you please update to the latest version from Playstore and if the issue still reproduces do a small screen recording showing the issue?

[2021-12-27 12:17] adam900710 commented on #22988
@sflorean For chrome, it's not changing the notification bar color at all for both installed PWA twitter.com or weather.com.
(Aka, black notification bar)

So is this ROM related? Or maybe there is some lineageOS specific setting to prevent the background color change of notification bar?

[2021-12-27 12:31] Mugurell commented on #22992
@pumie03 Thank you for the report!
Tried reproducing on https://jsfiddle.net/59fgjtz4/show but I was unable to:

https://user-images.githubusercontent.com/11428869/147471805-7e701dd4-1572-4609-b86a-579241d7227b.mp4

Maybe it's an issue for just a specific websites?
Also seeing that you're using a version a bit older of Firefox. Can you please update to the latest from Playstore and if the issue st

[2021-12-27 12:32] #19961 closed

[2021-12-27 12:54] mystiquewolf commented on #15242
Not stale.

[2021-12-27 13:00] SoftVision-LorandJanos commented on #22995
Hi @hokonch ! Thank you for your report!
I can reproduce the issue you described, consistently, on all the recent builds.
Tested on the:
- latest Nightly 97.0a1 (2021-12-27).
- latest Beta 96.0.0-beta5.
- latest Release 95.2.0.
Device used: Google Pixel 4 (Android 11).

[2021-12-27 13:08] Mugurell commented on #22995
This happens because [in fragment's `onCreateView` we are trying to access the `HomeActivity's toolbar`](https://github.com/mozilla-mobile/fenix/blob/fa377bf0d62aa72206450686858801e731da26fa/app/src/main/java/org/mozilla/fenix/addons/AddonDetailsFragment.kt#L39).
Scenario which works great if the activity is already created and the user navigates through the app but will crash the app in the case

[2021-12-27 13:18] sheikh-azharuddin commented on #22991
Select all missing but other options available
Cut, copy,paste, share

![Screenshot_20211227-184748236](https://user-images.githubusercontent.com/58127841/147475523-9d25b133-6663-4402-a78f-8944de13377c.jpg)

[2021-12-27 13:19] sheikh-azharuddin commented on #22992
no issue found with latest firefox..I believe it might be keyboard issue ..example in the past Microsoft SwiftKey was causing issue with some fields ..Google gboard had no issue

[2021-12-27 13:43] Mugurell opened #22996 "Changing the system language does not update addon details"
Saw in https://github.com/mozilla-mobile/fenix/issues/22995 that the app would crash if changing system language while in the addon details screen.

There is another visual bug here: changing the system language does not update the addon details [because the fragment gets passed an addon to be displayed on screen](https://github.com/mozilla-mobile/fenix/blob/fa377bf0d62aa72206450686858801e731da26f

[2021-12-27 14:04] SoftVision-LorandJanos commented on #19048
As this is still not reproducible on the latest builds, I will close this ticket.
If any further details or example will be provided, the ticket can be reopened.
Tested on the:
- latest Nightly 97.0a1 (2021-12-27).
- latest Beta 96.0.0-beta5.
- latest Release 95.2.0.
Devices used:
- Google Pixel 4 (Android 11).
- Samsung Galaxy Tab 3 (Android 9).
- Motorola Nexus 6 (Android 7.1.1).

[2021-12-27 14:04] #19048 closed

[2021-12-27 14:48] pumie03 commented on #22991
Hi,

If you have already selected all, then it should be missing. So your
screenshot is showing you the right result.

Regards,

Phumelela

On Monday, December 27, 2021, sheikh-azharuddin ***@***.***>
wrote:

***@***.***>

--
Yours Sincerely,

Phumelela B. Mdluli
Lake Forest College '15
Waterford Kamhlaba '10 '08

[2021-12-27 15:03] SoftVision-LorandJanos commented on #18015
This is still reproducible on the latest builds:
- latest Nightly 97.0a1 (2021-12-27).
- latest Beta 96.0.0-beta5.
- latest Release 95.2.0.

Device used: Google Pixel 4 (Android 11).

[2021-12-27 16:40] regs01 commented on #22991
Works for me ether. Huawei P30/Android 10/EMUI 11.
What do you see in a short menu largely depend on Shell.

[2021-12-27 18:22] plwt commented on #15866
User feedback: https://support.mozilla.org/en-US/questions/1362363

[2021-12-27 21:42] AndRo-Marian commented on #19782
I don't belive this issue is not fixed already.
What I say, the desktop version is the same, worse and worse, firefox becomes a mess.
Sadly to see a good product goind downhill in one year.

On Nightly
![Screenshot_20211227-232519](https://user-images.githubusercontent.com/48178307/147508777-3930eb44-c323-4493-9de0-a93fc06946e0.jpg)

[2021-12-27 21:58] mystiquewolf commented on #16538
wontfix makes this bug sad... it prefers to stay in the backlog instead...

[2021-12-27 22:13] #17782 closed

[2021-12-27 22:13] #18528 closed

[2021-12-27 22:13] #14253 closed

[2021-12-27 22:13] #20076 closed

[2021-12-28 01:09] ffxsam commented on #13797
What's the current status on this?

[2021-12-28 07:31] SoftVision-LorandJanos commented on #19862
As this issue is partially intended, partially not reproducible, I will close this ticket.
Retested with a Xiaomi Mi11 Lite (Android 11).
Using the latest Nightly build (2021-12-28).

[2021-12-28 07:31] #19862 closed

[2021-12-28 07:34] SoftVision-LorandJanos commented on #19990
This issue is still reproducible on the latest Nightly (2021-12-28).
Tested with: Xiaomi Mi11 Lite (Android 11).

[2021-12-28 07:43] SoftVision-LorandJanos commented on #19795
Hi @junjieyuan! I couldn't reproduce this issue. It only vibrates ones on the devices I tested.
Is it the same behavior with the latest (clean) builds?
Could you check this with another device as well?
Tested on the latest Nightly 97.0a1 (2021-12-28).
Devices used:
- Google Pixel 4 (Android 11).
- Samsung Galaxy Tab 3 (Android 9).
- Motorola Nexus 6 (Android 7.1.1).

[2021-12-28 08:27] junjieyuan commented on #19795
Hi, @SoftVision-LorandJanos. I still can reproduce this issue on just installed Firefox Nightly 97.0a1. My phone is OnePlus 8T, running OxygenOS 11.

I guess this problem is related to the type of vibration motor of the mobile phone, the same vibration time has different vibration effects on a rotor motor and a linear motor. OnePlus 8T is equipped with a linear vibration motor, which is similar to

[2021-12-28 09:58] Taknok commented on #13797
Speaking for myself, I tested 5 websites mentioned here. All are ok now. But I do not know if it is due to my screen size (xhdpi).
![Screenshot_20211228-105509](https://user-images.githubusercontent.com/12498020/147554219-b093c488-461d-4d5e-8e69-5a8aee92b553.jpg)

[2021-12-28 10:01] SoftVision-LorandJanos commented on #22989
Hi @Cheap-Skate! Thank you for the report!
I can confirm the issue is as you described.
Tested on the latest Nightly (2021-12-28).
Device used: Xiaomi Mi11 Lite (Android 11).

[2021-12-28 10:55] sflorean commented on #22996
Related issues: https://github.com/mozilla-mobile/fenix/issues/8188 and https://github.com/mozilla-mobile/fenix/issues/11729.

[2021-12-28 11:33] #11474 closed

[2021-12-28 12:33] #16995 closed

[2021-12-28 12:39] SoftVision-LorandJanos commented on #22752
Hi @gwarser . Thank you for your report!
I couldn't reproduce the issue you reported.
My device with the closest Android version to yours is a Motorola Nexus 6 with Android 7.1.1.
Also tried on the following devices:
- Xiaomi Mi11 Lite (Android 11).
- Google Pixel 3 (Android 12).

Aside from the build it was logged with, I tested on the following builds:
- latest Nightly 97.0a1 (2021-12-28).
- lat

[2021-12-28 12:59] gwarser commented on #22752
https://crash-stats.mozilla.org/report/index/ef874a4e-36df-4bb8-a6dc-444f60211228

[2021-12-28 13:38] Bakso69 commented on #20379
Firefox Mobile 95.2.0 same problem.

[2021-12-28 14:12] gwarser commented on #22752
Did not happened in stable or beta. I synced them, and they correctly show little under 5k addresses under history cleaning option. Then I also cleaned Nightly storage from android settings, synced, and it no longer crashes. Maybe it crashes if enough history is logged from actually using it on phone?

[2021-12-28 14:26] nyanpasu64 commented on #21879
I think the issue isn't that swiping the tab bar is a random order, but that the tab tray is in a random order.

[2021-12-28 14:45] Mugurell commented on #13797
Thank you @Taknok!

@ffxsam There were many changes in the meantime with many problems fixed.
If you are still seeing issues - other than the ones related to https://github.com/mozilla-mobile/fenix/issues/13797#issuecomment-917724223 please open a new ticket(s) and we can look into addressing each issue separately.

[2021-12-28 15:40] EmberHeartshine commented on #7491
This issue continues to persist.

[2021-12-28 16:01] Mugurell commented on #22722
Saw that `about:crashcontent` is crashing two sessions even in GVE, opened https://bugzilla.mozilla.org/show_bug.cgi?id=1747802

[2021-12-28 16:47] #22971 closed

[2021-12-28 17:10] #20158 closed

[2021-12-28 18:56] #21483 closed

[2021-12-28 19:37] #22983 closed

[2021-12-28 20:06] #22973 closed

[2021-12-28 22:30] gyrofrog commented on #22910
Also crashes if I try to view a saved login.

[code]

[2021-12-29 06:36] sflorean commented on #20174
@TheGuyWhoo this is still reproducible for you?

[2021-12-29 06:40] SoftVision-LorandJanos commented on #18900
This issue is still reproducible on the latest Nightly (2021-12-29).
Device used: Xiaomi Mi11 Lite (Android 11).

[2021-12-29 07:16] SoftVision-LorandJanos commented on #21483
This issue is no longer reproducible on the latest Nightly (2021-12-29).
Tested on: Xiaomi Mi11 Lite (Android 11).
Still reproducible on the latest Beta (96.0.0-beta5) and latest Release (95.2.0).

[2021-12-29 07:34] SoftVision-LorandJanos commented on #19341
This issue is no longer reproducible on the latest Nightly (2021-12-29).
Device used: Xiaomi Mi11 Lite (Android 11).
Closing the ticket as verified.

[2021-12-29 07:34] #19341 closed

[2021-12-29 08:24] MohitMandalia commented on #22792
Yes @LaurentiuApahideanSV  correct I also found the same issue with recently visited List on home page

[2021-12-29 10:11] plwt commented on #7551
User feedback: https://support.mozilla.org/en-US/questions/1362549

[2021-12-29 10:22] ShintoPlasm commented on #22734
Still the same using version 95.2.0

[2021-12-29 10:55] pbhj commented on #22797
Agreed, IIRC it used to be a top level menu item, not sure why it got hidden?

[2021-12-29 11:06] pbhj commented on #22795
Well this was weird for me: I normally have very slow listing of the logins on search, but when I checked now (repeating a search I'd done since opening the browser) it was very quick, instantaneous even. That's not always the case, for router addresses it's almost impossible to tell which of the 192.168.1.1 admin in list is the one you want, each search they seem to change order, and you can't se

[2021-12-29 11:11] SoftVision-LorandJanos opened #23003 "Notify the user when trying to leave private browsing from notification with active downloads"
- When a user is trying to leave private browsing with active downloads, a prompt is displayed notifying the user that the downloads will cancel if they close all private tabs.
- When the user closes private tabs from the device notifications, the prompt is not displayed, and the downloads are canceled.
- For consistency it would be useful maybe to have the same prompt in this case, or another war

[2021-12-29 11:13] pbhj commented on #18985
It's not just on single web addresses, for router addresses across different locations the address is the same (eg 10.0.0.1), often the username is the same (admin). The list of logins returned by search doesn't appear to have a logical ordering and - I can't quite tell - seems to change each time.

[2021-12-29 11:26] pbhj commented on #2667
about:addons and about:config still don't work?

Bug #2778 (noted above) for about:config notes "this is expected behaviour". Shouldn't you remove the link, or at least comment ("does not work on Firefox mobile").

It seems bad UX to have links that don't work.

[2021-12-29 11:45] SoftVision-LorandJanos commented on #22929
Hi @ProperBrgdbald. Thank you for your report!
I couldn't reproduce the issue you described on the latest builds:
- latest Nightly 97.0a1 (2021-12-29).
- latest Beta (96.0.0-beta5).
- latest Release (95.2.0).

Devices used:
- Xiaomi Mi11 Lite (Android11).
- Samsung Galaxy Tab S3 (Android 9).
- Motorola Nexus 6 (Android 7.1.1).

Could you upload a video about your issue, please? Thank you!

[2021-12-29 12:49] orangepizza opened #23004 "[Bug]: address bar is extreme slow to load."
### Steps to reproduce

bring up address bar in any page (new tab or old tab not matter) to type address or use search

### Expected behaviour

it should popup software keyboard, and allow type address in few seconds

### Actual behaviour

it takes about 10~second until address bar set search engine (android thinks firefox hanged) then search engine logo pops up then it's free to type until it's n

[2021-12-29 13:04] mattok commented on #13797
I went back and re-reviewed my contributions to this thread. I've taken another look at the example I presented in https://github.com/mozilla-mobile/fenix/issues/13797#issuecomment-720049301 in Nov 2020, which can be seen (with minor variations) here: https://bugzilla.mozilla.org/attachment.cgi?id=9187912. Compared to the other browsers I checked (which didn't include iOS I'm afraid), Firefox for

[2021-12-29 13:22] orangepizza commented on #23004
vediihttps://user-images.githubusercontent.com/23009540/147666691-5d1bf8b9-4abf-49f0-9dea-7ae6dc510514.mp4

[2021-12-29 13:22] HubKing opened #23005 "[Bug]: Dark theme, URL share menu, contrast too low"
### Steps to reproduce

1. Use "Dark theme" for FireFox.
2. Go to mobile YouTube website.
3. Open any video.
4. Click the "Share" button below the video.

### Expected behaviour

Readable text.

### Actual behaviour

<img width="270" alt="screen" src="https://user-images.githubusercontent.com/10900489/147666494-167b3c45-f560-4aa7-b6d7-df5f801f6abf.png">

In the "All Actions" section, the icon labe

[2021-12-29 13:57] yagueto opened #23006 "No "copy URL to clipboard" button on share menu"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-12-29 13:58] sflorean commented on #15133
Closing based on the comments above. Please re-open if the issue occurs again. Thank you!

[2021-12-29 13:58] #15133 closed

[2021-12-29 14:00] sflorean commented on #19470
Closing this due to the fact that is not reproducible on our side and lack of extra information. Please reopen if the issue occurs again. Thank you!

[2021-12-29 14:00] #19470 closed

[2021-12-29 14:00] yagueto commented on #23005
Might be a duplicate of #18768

[2021-12-29 14:01] sflorean commented on #19445
@jaroskrzek this is still reproducible for you?

[2021-12-29 14:42] sojudu opened #23007 "[Bug]"
Sometimes while resuming previous session, web page is not there, sometimes when web page is closed, it gets opened automatically upon resuming previous session, using Realme x, kindly

https://user-images.githubusercontent.com/95345118/147673614-29601434-fdc3-4da2-9662-71c883e839fe.mp4

 help

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19012)

[2021-12-29 15:42] plwt commented on #810
User feedback: https://support.mozilla.org/en-US/questions/1362581

[2021-12-29 16:06] doctor82 opened #23009 "[Bug]: Duplicate search option crashes firefox in android"
### Steps to reproduce

In my Firefox Android, I have two search buttons popping up on long pressing any word. This happens even when no add-ons are installed. The first one works fine and the second one crashes the browser. Tried reinstalling the browser many times with no use.

### Expected behaviour

Should go to google search

### Actual behaviour

Browser crashes

### Device name

Vivo u20

#

[2021-12-29 17:20] kbrosnan commented on #23009
[code]

[2021-12-29 18:32] #20039 closed

[2021-12-29 20:14] cpeterso opened #23011 "Crash in [@ java.lang.IllegalStateException: at kotlinx.coroutines.sync.MutexImpl.lock(Mutex.kt:23)]"
Crash report: https://crash-stats.mozilla.org/report/index/24468697-dc2f-40c4-a953-8bb0b0211229

This parent process crash looks like a regression in Nightly 97.0a1. We have 7941 crash reports from 2646 installations of Nightly 97.0a1.

Java stack trace:
[code]

[2021-12-29 20:22] cpeterso commented on #23011
Fenix::Stability bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1747920

[2021-12-29 20:24] cpeterso commented on #23011
This crash regression spiked around 2021-12-16, but quickly tapered off. Has this crash already been fixed?

[2021-12-29 20:53] Amejia481 commented on #23009
I was trying to simulate without luck, I tried with Pixel 3 with Android 11 and Moto G5 with Android 7 and an emulator with Android 9. QA team could you help us to identify in which devices you are able to replicated, apart from Vivo u20.

[2021-12-29 21:11] doctor82 commented on #23009
I'm not a techie and cannot understand the above conversation. Maybe a factory reset can solve the problem. But to reinstall and set up the device from scratch seems a pain compared to just avoiding the duplicate search button.

[2021-12-29 22:01] kbrosnan commented on #23011
Duplicate https://github.com/mozilla-mobile/fenix/issues/22877

[2021-12-29 22:01] #23011 closed

[2021-12-29 22:54] orangepizza commented on #23004
no longer replicated after a reboot. closeing thig

[2021-12-29 22:54] #23004 closed

[2021-12-29 23:00] Choucroute-melba commented on #22372
Hi, I wanted to work on this issue but it seems that the restore location is hard-coded in mozilla.components.feature.tabs, wich is in another repos _(Houston, we have a problem...)_

It's my first contribution and I am a little bit confused, what should we do in this case ?

Thanks :)

[2021-12-30 00:05] Tesseeaye commented on #22988
I'm having this same issue with Twitter's PWA on a Samsung Galaxy S21 (Android 12) in Firefox Nightly 97.0a1 (Build #2015854347)

[2021-12-30 04:08] #20175 closed

[2021-12-30 04:08] #14310 closed

[2021-12-30 05:37] #10737 closed

[2021-12-30 07:10] SoftVision-LorandJanos commented on #23005
Hi @HubKing! Thank you for your report!
I can confirm the issue is reproducible.
The fix for the above mentioned bug should fix this one as well, so I will close this one as a duplicate.
Tested on: latest Nightly (2021-12-30).
Device used: Xiaomi Mi11 Lite (Android 11).

[2021-12-30 07:10] #23005 closed

[2021-12-30 07:31] TheKenWiley opened #23013 "[Bug]: Firefox update completely ruined the usability of the browser! I might as well uninstall it as fight with it!"
### Steps to reproduce

Open browser

### Expected behaviour

Firefox should be there

### Actual behaviour

instead of the piece of crap that comes up.
Can't move tabs.
Preview page of crap comes up instead of the last page I was using.
Can't do anything easily.

It acts like you had a bunch of Microsoft programmers come in and make it over into what they want instead of what users want.

### Dev

[2021-12-30 07:32] TheKenWiley commented on #23013
Your feedback system sucks.

[2021-12-30 08:56] robsmith11 commented on #21777
This new tab ordering is extremely annoying when one has 100+ tabs open.   Multiple times a day I will end up with a tab getting inserted into the stack in a non-chronological order and then have to painstakingly scroll through all the tabs looking for the last one I was using.

[2021-12-30 09:19] czlucius commented on #23006
I think this issue here: https://github.com/mozilla-mobile/fenix/issues/14313 looks similar. Perhaps you would like to check it out.

[2021-12-30 09:24] czlucius commented on #22417
![Screenshot_20211230-172147_Firefox Nightly](https://user-images.githubusercontent.com/58442255/147738652-ae750299-ad90-49f5-bcc9-77bd6fcd7472.jpg)
For the copy links feature, perhaps you can try long-clicking the address bar? A list of options will appear, allowing you to quickly copy the URL.

[2021-12-30 10:07] SoftVision-LorandJanos commented on #23009
I couldn't reproduce this issue either.
No second "Search" button appears.
Tested on the following devices:
- Xiaomi Mi11 Lite (Android 11).
- Huawei P30 (Android 10).
- Samsung Galaxy Tab S3 (Android 9).
- Motorola Nexus 6 (Android 7.1.1).
- LG Nexus 5 (Android 6.0.1).

Tested on the following builds:
- latest Nightly 97.0a1 (2021-12-29).
- latest Beta (96.0.0-beta5).
- latest Release (95.2.0).

[2021-12-30 10:41] SoftVision-LorandJanos opened #23014 "Improve "Cancel downloads" button inscription from the prompt when trying to leave private browsing with active downloads"
- When a user is trying to leave private browsing with active downloads, a prompt is displayed notifying the user that the downloads will cancel if they close all private tabs.
- In the original ticket (#18160) there's an example where the prompt is activated with 1 download canceled. The button isncription is "Cancel 1 download".
![image](https://user-images.githubusercontent.com/48829350/1477442

[2021-12-30 10:44] vanillajonathan commented on #22372
It  seems this is located in the `android-components` repository.
https://github.com/mozilla-mobile/android-components/tree/main/components/feature/tabs/src/main/java/mozilla/components/feature/tabs

[2021-12-30 11:51] yagueto commented on #23006
Oh yeah, thanks! I looked over but couldn't find it.

[2021-12-30 11:51] #23006 closed

[2021-12-30 13:30] #23013 closed

[2021-12-30 13:44] Choucroute-melba commented on #22372
Ok, so I need to modify this repos ?

[2021-12-30 14:06] kbrosnan commented on #23009
This is going to depend on what is adding the second search option on the context menu. Maybe we should go to an allowlist for constructing the context menu?

[2021-12-30 14:20] Mugurell commented on #23009
@doctor82 This issue probably depends on what other apps you have installed.
When you are selecting some text in the app Fenix offers some default options (like `Copy`/`Search`) and also asks other installed apps if they can provide some useful actions for the user based on that text.
In this case I guess another installed app says that it can help to `Search` with that selecting text.
To find out

[2021-12-30 14:26] Mugurell commented on #23009
The logcat is interesting though because I think it shows us crashing when we try to open that other app and this really shouldn't happen so this could be a device specific issue.

[2021-12-30 14:52] plwt commented on #20736
User feedback: https://support.mozilla.org/en-US/questions/1362702

[2021-12-30 15:11] #20091 closed

[2021-12-30 16:05] madb1lly commented on #810
This is where we see the problem with the dev team being US based where they have huge data allowances and with less international travel they don't face issues with international roaming charges as frequently. Almost 3 years since the ticket was first raised and all that is needed is to add a toggle switch in settings to link to something which already exists in about:config.

[2021-12-30 16:59] causalfridays commented on #16859
The problem is that all links followed from the firefox homepage or from bookmarks open in new tabs. This is what causes too many tabs to open after using firefox for not too long.

Links opened from other places correctly open in the same tab, which is fine.

[2021-12-30 17:13] vanillajonathan commented on #22372
I would think so.

[2021-12-30 19:25] ffxsam commented on #13797
I'm still seeing issues with the bottom bar blocking important content. The bottom bar seems to overlay content rather than push it up, which I think is what it should be doing. But.. it's also possible something is wrong in my CSS. 🙂

See the screenshots below. One shows a screenshot from my Pixel where the Trash nav item is blocked. The other screenshot is one from Firefox (desktop) showing the

[2021-12-31 04:18] gabrielluong opened #23017 "Ignore ExtraTranslation in our lint-baseline"
Currently, lint-baseline reports ExtraTranslation which means there is a string in some limited locales, but not in values/strings.xml. For example, https://searchfox.org/mozilla-mobile/search?q=inactive_tabs_survey_not_interested_option&path= is only found for AR, BR, and IN. Put another way, the strings are still found in the translations but not in the default locale (values/strings.xml).

Afte

[2021-12-31 04:58] doctor82 commented on #23009
I am not a techie so not able to give more inputs. I believe it could have caused by some other applications previously installed.
I did a factory reset and reinstalled firefox and problem vanished. I believe that firefox should not have given other applications a privilege to install context menu items. Not planning to install any unnecessary apps again. Thank you all for your valuable time and s

[2021-12-31 07:04] Mugurell commented on #13797
@ffxsam There might be some edgecases which are still problematic and as such need their own investigations.
Can you please provide a minimal test case to reproduce this or a publicly available website where this is happening?

[2021-12-31 07:44] ProperBrgdbald commented on #22929
Videos attached using Nightly 97.0a1 on Android 7 and Android 10.

Process shows explicitly up to steps 5 in original posting:
0. Tab List set to Grid view
1. Have multiple tabs open (5-6 tabs)
2. Press Tab button to get to Tab List
3. Select tab 3 or 4 to view this tab
4. Press Tab button to get to Tab List
5. observe that tab 3 and 4 are placed on top of Tab List, then view scrolls up one row of

[2021-12-31 08:40] MohitMandalia opened #23018 "[Bug]: Recently Visited List on Homepage is not updating properly when you delete that recently visited URL from history , it still remains the same in the recently visited list"
### Steps to reproduce

1. Open more than 2 websites.
2. Go to show all for Recently Visited list.
3. Then delete any URL by pressing 'x'
4. then navigate back to the homepage you will see that URL.
5. Try deleting all the URL's by pressing 'x' on each URL then navigate back still you will see the recently visited URL's it wont get removed unless you remove it individually or by clearing all histo

[2021-12-31 08:43] MohitMandalia commented on #23018
Please let me know if I can work on this issue and you are able to reproduce it.
Regards

[2021-12-31 08:59] Tit2402 opened #23019 "[Bug] ask for a new option"
Hey, I just write to s'y that it would be a good idea to have an official translator extension who could traduce the pages in other languages directly. I know there is some extention but they aren't official and it would be really cool if there was something like a FIREFOX TRANSLATOR or the official Google translator. I know other people who want the same and I think you should do it.
Thank you fo

[2021-12-31 10:36] SoftVision-LorandJanos commented on #23019
Hi @Tit2402! I can add a "feature request" label and we'll see what will be done.

[2021-12-31 10:36] Palloxin opened #23020 "[Bug]: Firefox player not working"
### Steps to reproduce

https://user-images.githubusercontent.com/75091899/147818688-cc0845f9-e165-4450-951b-223160795a7f.mp4

### Expected behaviour

the default player buttons should work when on fullscreen

### Actual behaviour

the default player of firefox buttons don't work when on full screen like in the video i uploaded.

### Device name

Huawei p8 lite 2017

### Android version

Android 8

[2021-12-31 11:16] Tit2402 commented on #23019
OK thank you so much!
Please keep me informed for the future  and let me know how it's going.
Thanks again ;-)

Le ven. 31 déc. 2021 à 11:36, SoftVision-LorandJanos <
***@***.***> a écrit :

[2021-12-31 11:16] marcel263 commented on #23020
Please provide a link to the page

[2021-12-31 11:18] Palloxin commented on #23020
@marcel263 https://www.animeworld.tv/play/mushoku-tensei-isekai-ittara-honki-dasu-2.UNNMY/kF8qtG

[2021-12-31 11:57] SoftVision-LorandJanos commented on #22992
Hi @pumie03! I couldn't reproduce your issue either.
Please try this on a current version, if you can, and maybe upload a video of your issue, as mentioned above. Thank you!
Tested on the latest Nightly (2021-12-31) and latest Release (95.2.0).
Device used: Xiaomi Mi11 Lite (Android 11).

[2021-12-31 12:11] metronightly commented on #810
Wait, this already exists in about:config? What is it ? Because I have switched to the Nightly version and it has config support.

[2021-12-31 14:05] #20684 closed

[2021-12-31 14:06] #20858 closed

[2021-12-31 14:08] minhingent opened #23021 "[Feature Request] Allow flashlight when scanning QR code in the address bar"
Would it be possible to be able to to be able to turn on the phone's flashlight when scanning QR codes? In dark rooms it is not always easy to scan a QR code and turning on the flashlight should make that easier.

[2021-12-31 14:12] kbrosnan commented on #23019
We don't keep extension requests open.

[2021-12-31 14:12] #23019 closed

[2021-12-31 14:14] kbrosnan commented on #23009
Please don't close this issue. It is a valid crash and we may have other ways to get the info we need.

[2021-12-31 17:07] Tit2402 commented on #23019
OK no problem. I really hope it will be accepted!

Le ven. 31 déc. 2021 à 15:12, Kevin Brosnan ***@***.***> a
écrit :

[2021-12-31 17:52] ffxsam commented on #13797
@Mugurell Our new app is still not open to public access yet, but if you contact me privately, I can give you a signup code. [Visit our site](https://www.reelcrafter.com/) and then contact me via the support widget at the bottom right. Thanks!

[2021-12-31 18:24] deosrc commented on #16993
Thansk to [this comment](https://github.com/mozilla-mobile/fenix/issues/19945#issuecomment-858754897), I've found something that seems to work.

1. Import your CA certificate into Android as normal
1. Go to firefox settings
2. Scroll to the bottom and open "About Firefox"
3. Tap the firefox logo until you get a toast saying developer options are enabled
4. Go back to the settings menu and open "Se

[2021-12-31 19:15] bigConifer opened #23022 "Context menu stopped working for Javascript links"
### Steps to reproduce

1. Go to a page containing an anchor-tag with a Javascript URL (e.g. https://csadilek.github.io/test12.html)
2. Long press on that JS Link

### Expected behaviour

A context menu pops up.

This is how it works with Firefox desktop and with the deprecated Fennec on Android.
It also worked with Fenix up to Nightly 96.0a1 (Build #2015847817), [a6d5d21e0+](https://firefox-ci-tc

[2021-12-31 19:21] bigConifer commented on #23022
@Amejia481, comparing the Nightly builds (https://github.com/mozilla-mobile/fenix/compare/a6d5d21e0...91da5318e, https://github.com/mozilla-mobile/android-components/compare/677e24ca0d...309af240a7) I've identified your PR "Improve loading URLs" (https://github.com/mozilla-mobile/fenix/pull/22594, https://github.com/mozilla-mobile/android-components/pull/11321) to be the breaking one, which causes

[2021-12-31 19:29] Djfe commented on #18210
it's still happening

[2021-12-31 19:31] bigConifer opened #23023 "Bookmarklets with native Javascript dialogs stopped working"
### Steps to reproduce

1. Set a bookmark with the following Javascript URL:
`javascript:document.body.style.border="1em solid red"; alert(1); document.body.style.borderColor="blue"; void(0)`
2. Open any website e.g. https://csadilek.github.io/test12.html
[Edit: when the page is opened out of github via the "open link in new tab" context menu option, bookmarklets won't run at all... Maybe another

[2021-12-31 19:48] bigConifer commented on #23023
Comparing the Nightly builds (https://github.com/mozilla-mobile/fenix/compare/1c9af7c24...a769052cc) it seems to be something like PR https://github.com/mozilla-mobile/fenix/pull/20573 ("always show home in background behind search dialog") that causes the bug.

[2021-12-31 19:59] #22946 closed

[2021-12-31 22:29] TrianguloY commented on #15352
I just tested the steps on a real device and they still reproduce the bug. This is NOT fixed.
The alternate steps shot closing and pressing undo, however, seem to be fixed.

[2022-01-01 07:32] WebworkrNet commented on #20183
The error still exists.

[2022-01-01 08:22] marcel263 commented on #23021
duplicate #4313

[2022-01-01 09:43] czlucius commented on #13336
I would like to help out with this issue.

[2022-01-01 10:26] czlucius commented on #13336
I would like to work on this issue.
@kbrosnan has this design change been approved?

[2022-01-01 10:27] czlucius commented on #13336
This seems to be the code handling selection of "Top Sites" from the Home Screen(and not bookmark items)
Modifying this method results in a top site opening in the current tab but bookmarks still open in a new tab.

I will go look into the method for opening bookmarks, or if anyone knows it?

Thanks.

[2022-01-01 10:41] czlucius commented on #13336
https://user-images.githubusercontent.com/58442255/147848814-2174a482-7ca7-4c7d-aece-99544ef5b5b2.mp4

[2022-01-01 12:01] dequally opened #23025 "[Feature Request] Reading mode truly dark"
When in reading mode, have the option to make background truly black.
This is annoying when using an AMOLED display, and would therefor be very much appreciated.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19025)

[2022-01-01 13:50] madb1lly commented on #810
Hi @metronightly, sorry I can't remember but I think it took a bit of archaeology on Mozilla websites to find it - maybe on mozillazine?
Good luck! 🙂

[2022-01-01 15:00] Poopooracoocoo commented on #22962
And what happened to features requested years ago like tab search, bookmark all tabs and other changes for parity with desktop?? And add-ons... In praying it hasn't gone into a maintenance only state.

[2022-01-01 18:05] superbonaci opened #23027 "[Feature Request] Add scrollbar above certain page length"
When browsing certain sites on mobile, they are quite large (like 100 pages mobile-equivalent) and can take quite some time to browse through. So my request, is to enlarge the scroll bar rectangle for a couple of seconds after dragging, then let it be so I can pinch it and move up and down for fast scrolling.

Currently the bar appears but can't be dragged. Example on this page browsing from mobil

[2022-01-01 20:35] plwt commented on #22703
User feedback: https://support.mozilla.org/en-US/questions/1362862

[2022-01-01 21:01] #19579 closed

[2022-01-01 21:01] #19917 closed

[2022-01-02 02:52] AmirGamilDev commented on #16721
Just performed an update of the Android app and tried again but no joy I'm afraid.

Android version info:

95.2.0 (Build #2015851755)
AC: 95.0.14, 4f3b0461e7
GV: 95.0.1-20211215221728
AS: 86.0.1

2021-12-16T05:04:36.238925

[2022-01-02 02:54] AmirGamilDev opened #23029 "[Bug]: Lost inactive tabs on app update"
### Steps to reproduce

I'm not 100% certain of the steps but I _think_ this is what happened.

1. Have inactive tabs
2. Perform an app update

### Expected behaviour

Inactive tabs should still be there.

### Actual behaviour

Inactive tabs are gone (active tabs are still there).

### Device name

Samsung Galaxy s7

### Android version

Android 8

### Firefox release type

Firefox

### Firefox ve

[2022-01-02 03:10] mhammond commented on #16721
Can you please try again? What sometimes happens is that only when hitting "Sync Now" will the target device discover it needs to register, so it may be that it self-repaired after that.

[2022-01-02 03:11] AmirGamilDev opened #23030 "Unable to unmute rte.ie video"
### Steps to reproduce

1. Open following URL: https://www.rte.ie/news/coronavirus/2022/0101/1269381-coronavirus-ireland/
2. Play video
3. Attempt to unmute

### Expected behaviour

Video should play (unmuted by default)

### Actual behaviour

Video plays muted.  Attempting to tap unmute icon does not unmute video.  Works in Chrome for Android.

### Device name

Samsung Galaxy s7

### Android vers

[2022-01-02 04:05] AmirGamilDev commented on #16721
Hi Mark.

Did you notice my update?  It's working now.

Thanks for the hard work by the way! 👍

[2022-01-02 06:19] locuturus opened #23031 "[Bug]: Drag and Drop is Broken"
### Steps to reproduce

1. Navigate to some website with drag and drop able elements. Example: https://codepen.io/Goldfsh/pen/zBbOqm
2. Note that Firefox for Android cannot drag the indicated elements. This is broken for both mouse and touch input.

### Expected behaviour

Draggable elements should be able to be grabbed by a long mouse click + drag or similar with touch. Open a page with drag and

[2022-01-02 08:14] revad commented on #13420
In a (yachting) forum I posted this link
https://addons.mozilla.org/en-GB/firefox/addon/ublock-origin/
A user in the UK (Huawei p smart 2019) clicked it using the default Huawei browser and got "not available in your region" - see screenshot.
So it's not only that Firefox is missing from the App Gallery but users seem to be redirected to what I assume is a fake version. And it has 74M installs!

M

[2022-01-02 11:47] sivaraam opened #23032 "[Bug]: Folder icons not visible for bookmark folders in dark theme"
### Steps to reproduce

1. Ensure app is in dark theme
2. Tap on the overflow menu (three-dot menu)
3. Tap on "Bookmarks"

### Expected behaviour

The folder icons that are supposed to be shown to left of a bookmark folders entry are visible.

### Actual behaviour

The folder icons that are supposed to be shown to left of a bookmark folders entry is not visible as they it is a black icon in a blac

[2022-01-02 14:55] J0WI commented on #810
https://github.com/mozilla-mobile/fenix/issues/810#issuecomment-755331302

[2022-01-02 15:59] marcel263 commented on #23020
Can not replicate using Firefox Nightly 2015854827 on Samsung OneUI 3.1. With strict Tracking Protection enabled & no add-ons.

[2022-01-02 16:01] Palloxin commented on #23020
i also had traclih protection enabled but with uBlock activated

[2022-01-02 16:03] marcel263 commented on #23030
Reproducible using Nightly 2015854827 strict ETP

[2022-01-02 16:32] CaFI0 commented on #23032
This error has already been fixed in Firefox Nightly 97 [#21483](https://github.com/mozilla-mobile/fenix/issues/21483)

[2022-01-02 18:03] boszormenyip opened #23034 "[Bug]: Firefox reloads the mobile site despite the Desktop site switch is on"
### Steps to reproduce

The timestamps at the and of the steps are the time in the video where the particular step is executed.

1. Open reddit.com. (00:00 - 00:02)
2. Switch to desktop site. (00:03 - 00:13)
3. Open several posts in new tab. The point is to open enough tab to force firefox to reload the first tab. (00:14 - 00:31)
4. Switch to each new tab, so firefox will load them. (00:32 - 00:58

[2022-01-02 18:44] plwt commented on #15450
User feedback: https://support.mozilla.org/en-US/questions/1362939

[2022-01-02 19:22] plwt commented on #7551
User feedback: https://support.mozilla.org/en-US/questions/1362942

[2022-01-02 19:41] plwt commented on #12731
User feedback: https://support.mozilla.org/en-US/questions/1362623

[2022-01-02 21:54] bjweichel commented on #15450
I wrote the above feedback post.  That being said, there are literally pages of posts listed on the Mozilla Support Forum of people asking why they can't find "Add to Home Screen" for some sites.  9 of the first 10 results to a forum [search](https://support.mozilla.org/en-US/products/mobile#search) for "Add to home screen" are for this problem.  Plus the 6 github issues here.

I wrote my post pri

[2022-01-03 02:09] davidmegginson commented on #15450
There is a workaround, but it's ugly:

1. Copy the URL you want to save.
2. Put your phone in airplane mode.
3. Paste the URL into the Firefox address bar and try to open you (you'll get a page warning that you have no internet connection, but your URL will still be in the address bar).
4. Choose "Add to Home screen" from the FF menu and do whatever your launcher of choice wants you to do.
5. Go b

[2022-01-03 04:15] SosPosos opened #23036 "[Bug]: keyboard not active on a new tab"
### Steps to reproduce

1. Open tab list
2. Open privates
3. Tap on new tab

### Expected behaviour

Keyboard must open and be active (or have a setting to turn off keyboard on a new tab)

### Actual behaviour

After long delay keyboard appears, but it is not active
https://drive.google.com/file/d/1kJngdIy8OGZA1i34aXCmQGLnq6A13PWp/view?usp=sharing
It works like this after switching to private or n

[2022-01-03 07:38] SoftVision-LorandJanos commented on #20251
As this issue is still not reproducible, I will close the ticket.
If the issue happens again, please try to find out any extra information that might help us reproduce it as well. Thank you!

[2022-01-03 07:38] #20251 closed

[2022-01-03 07:50] SoftVision-LorandJanos commented on #23032
Hi @sivaraam! Thank you for your report!
This issue is reproducible on the latest Release (95.2.0) as you described.
However it was fixed in the latest Nightly 97.0a1 and because the issue was logged before, I'll close it as a duplicate.

[2022-01-03 07:50] #23032 closed

[2022-01-03 08:20] SoftVision-LorandJanos commented on #23029
Hi @AmirGamilDev ! Thanks for your report!
I couldn't reproduce the issue you described.
I've installed the 95.1.2 version, created some inactive tabs, and updated to 95.2.0.
The inactive tabs were transferred the same way to the new version, without any change.
I've also tried it on Nightly, from 2021-12-31 to 2022-01-03, with the same result (Inactive tabs are transferred as expected).
Did you m

[2022-01-03 08:42] Alexandru2909 commented on #22663
@mariansima I can't reproduce this issue on Nightly, I tried on multiple devices with different downloads (including the one sent by you) but the problem seems fixed. Can you confirm this is still an issue?

[2022-01-03 09:02] LinAGKar commented on #15302
This bug is still around

[2022-01-03 09:39] sv-ohorvath commented on #19585
Still happening. Let's keep it.

[2022-01-03 10:52] SosPosos commented on #23036
It works well if use key in right top corner

[2022-01-03 11:08] sv-ohorvath opened #23037 "Disabled UI test - openCustomTabInFocusTest"
Test disabled in https://github.com/mozilla-mobile/focus-android/pull/5997/files
Needs a fix and re-enabling.

[2022-01-03 11:09] #23037 closed

[2022-01-03 11:09] sv-ohorvath commented on #23037
wrong repo.

[2022-01-03 12:40] SoftVision-LorandJanos commented on #23031
Hi @locuturus! Thank you for your report!
I can confirm the issue you logged is reproducible.
Tested with the latest Nightly (2022-01-03).
Also checked on Chrome where it works as intended.
Device used: Xioami Mi11 Lite (Android 11).

[2022-01-03 13:47] SoftVision-LorandJanos commented on #23034
Hi @boszormenyip ! Thank you for your report!
I've tried reproducing your issue while logged in and logged out and had no success.
The main page remained on desktop site on every occasion.
Tested on the latest Release (95.2.0) and latest Nightly (2022-01-03).
Devices used:
- Xiaomi Mi11 Lite (Android 11).
- Oppo Reno 6 5G (Android 11).

[2022-01-03 13:50] Mugurell commented on #22722
Looked at how we could pair a crash to a session/tab and then persist this info.
Seems to me like we can't easily at the moment.
I don't see a clear connection between a tab and an `EngineSession` and then between a session and a crash received in `CrashHandlerService`.

Maybe the [`EngineState`](https://github.com/mozilla-mobile/android-components/blob/af95a0445737549087bd202ec3701990ee604eb0/com

[2022-01-03 15:31] TheGuyWhoo commented on #20174
Hey, just checked and it seems to be working! I'd say the issue is resolved. Thank you.

[2022-01-03 15:55] ahal opened #23040 "Add hand curated parameter files for testing taskgraph changes locally"
This will help folks who are making changes to taskgraph test that they aren't making unexpected changes to other contexts (like a release graph). These files currently live here:
https://hg.mozilla.org/build/braindump/file/tip/taskcluster/taskgraph-diff/params-fenix

But having them in the actual repo is much more convenient. The standard spot we're placing them is in `taskcluster/test/params`.

[2022-01-03 16:04] SoftVision-LorandJanos commented on #23030
Hi @AmirGamilDev. Thank you for the report!
I could reproduce the issue you described.
Also checked on Chrome where it works as intended.
Device used: Oppo Reno 6 (Android 11).
Tested on the latest Release (95.2.0) and latest Nightly (2022-01-03).

[2022-01-03 16:23] Mugurell commented on #22570
Agree.
Interesting scenario about using the same app in separate tasks but seems like this is bound to cause issues.
@pocmo Looks like this is something the app is not expected to support?

[2022-01-03 18:04] pocmo commented on #22722
@Mugurell I do not understand what you are trying to achieve? What/why do you want to persist?

[2022-01-03 18:20] kbrosnan commented on #23034
Duplicate https://github.com/mozilla-mobile/fenix/issues/11552

[2022-01-03 18:20] #23034 closed

[2022-01-03 18:28] pocmo commented on #22570
Yeah, two HomeActivities are not something support and have excluded in the manifest. I wonder how you ended up with two in the first place. In the video you seem to have two - even before using the split screen feature.

[2022-01-03 18:33] Mugurell commented on #22722
Allowing users to continue using the app with otherwise crashed tabs would also give the possibility to postpone actually sending a crash report until later, even after app restarts.
The crashes are already persisted locally but I don't know how to link a tab to a crash.

Even if we are to start fresh after an app restart (avoid thinking about persisting the crash data and status) I still don't se

[2022-01-03 18:58] kbrosnan commented on #23031
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1748300

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-01-03 18:58] #23031 closed

[2022-01-03 19:00] rocketsroger commented on #22736
This should be fixed with https://github.com/mozilla-mobile/fenix/issues/22754.  Thanks

[2022-01-03 19:08] kbrosnan opened #23043 "[Bug]: variable refresh rate is pinned to max value after and while scrolling to the top of a page"
### Steps to reproduce

1. Use a device with a variable refresh rate
2. Enable the Android dev setting to show the refresh rate
3. Open a webpage
4. Scroll down the page and notice how the refresh rate changes on touch
5. Scroll back all the way to the top
6.  Scroll back down and up refresh rate should be pinned to max value
7.  Minimizing the app or switching tabs returns to the variable refresh

[2022-01-03 19:11] kbrosnan commented on #23043
https://www.youtube.com/watch?v=roGLZlFDxTQ

[2022-01-03 21:32] #23040 closed

[2022-01-03 21:34] willfs84 opened #23044 "[Bug]: scrolling gets locked to horizontal-only or vertical-only"
### Steps to reproduce

Go to any webpage that allows you to zoom in. Zoom in a good amount. Start scrolling vertically or horizontally, and then try to move in a diagonal or circular motion while your finger is still on the screen.

### Expected behaviour

The scrolling should allow you to any way you want, diagonally, circular etc.

### Actual behaviour

Scrolling is "locked" to either horizonta

[2022-01-03 21:44] willfs84 commented on #23044
Ah, apparently this is called "axis locking". This is not good...

[2022-01-03 22:13] MatthewTighe opened #23045 "Add snackbar when selecting a new wallpaper"
Match design work for wallpaper selection feature with the following criteria:

- Snackbar should be displayed when new wallpaper selected
- Snackbar should include "view" action which navigates back to home screen

[2022-01-03 22:42] gabrielluong opened #23046 "Align detekt config between Fenix and Android Components"
It's disabled in detekt here:
https://github.com/mozilla-mobile/fenix/blob/main/config/detekt.yml#L43

But enabled in A-C:
https://github.com/mozilla-mobile/android-components/blob/main/config/detekt.yml#L37

🤷‍♂️

_Originally posted by @pocmo in https://github.com/mozilla-mobile/fenix/pull/22953#discussion_r774462908_

[2022-01-03 23:41] kevinoid opened #23047 "[Bug]: "Paste as plain text" in search box is redundant/confusing and has no effect"
### Steps to reproduce

1. Navigate to https://archive.org
2. Select "Internet Archive" at the beginning of the paragraph "Internet Archive is a non-profit [...]" then copy to the clipboard.
3. Long-tap in the "Search" box below that paragraph.

### Expected behaviour

"Paste" would be the only option shown.

### Actual behaviour

"Paste" and "Paste as plain text" are shown.  If "Paste as plain te

[2022-01-04 00:27] kevinoid commented on #23047
Mozregression Pushlog: https://hg.mozilla.org/integration/autoland/pushloghtml?fromchange=da76ee7195832a71ca2c79fd2474bdae87511316&tochange=ace2f4af2c29de1886e1e627d0fdb583e7573b59
Presumably from [Bug 1740414](https://bugzilla.mozilla.org/1740414)

[2022-01-04 00:59] jonalmeida commented on #22372
@amedyne (who triaged this) it was originally intended for tab to be restored to the top of list. Did that change?

[2022-01-04 01:28] #23017 closed

[2022-01-04 03:05] gabrielluong opened #23049 "Update design color tokens based on the latest UX changes"

[2022-01-04 03:59] sheikh-azharuddin commented on #20226
Issue not fixed...

[2022-01-04 05:04] Hubfront commented on #12731
This bug annoyed me as well. Found iceraven, a close fork of fenix, which offers more options, like the possibility to deactivate this unload of tabs behaviour in the customize submenue of settings menu, which improves browsing experience significantly for me. You may also read how i found iceraven: https://github.com/fork-maintainers/iceraven-browser/issues/115

[2022-01-04 07:49] SoftVision-LorandJanos commented on #22754
Verified as fixed on the latest Nightly (2022-01-04).
Device used: Oppo Reno 6 (Android 11).

[2022-01-04 08:02] SoftVision-LorandJanos commented on #23047
Hi @kevinoid ! Thank you for your report!
I could reproduce this issue on the latest Nightly (2022-01-04).
Device used: Oppo Reno 6 (Android 11).

[2022-01-04 08:51] AmirGamilDev commented on #23029
Hi @SoftVision-LorandJanos

I'm afraid I can't remember which version I had previously.  I hadn't updated in a long time (I have auto updated off on my phone).

I'm afraid I'm a little too tied up at the moment to be able to try to reproduce this.  It's not really the time it will take to reproduce this as this should only take 5 minutes.  But just the stuff around it: re-adding device to Firefox

[2022-01-04 10:00] mcarare commented on #23021
Duplicate of https://github.com/mozilla-mobile/fenix/issues/4313.

[2022-01-04 10:00] #23021 closed

[2022-01-04 10:12] vanillajonathan commented on #22372
@jonalmeida Seems rather counterintuitive.

[2022-01-04 10:26] SoftVision-LorandJanos commented on #23044
Hi @willfs84 ! Thank you for your report!
I could reproduce the issue you described.
Tested on the latest Nightly (2022-01-04).
Device used: Oppo Reno 6 (Android 11).

[2022-01-04 10:31] Mugurell commented on #23047
Thank you @kevinoid for tracking down even the source of this!
Moving the issue to Bugzilla to be investigated by the GeckoView team.

[2022-01-04 10:32] Mugurell commented on #23047
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1748417

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-01-04 10:32] #23047 closed

[2022-01-04 10:39] SoftVision-LorandJanos commented on #23029
There's an alternative way, here are the steps:
1. Have a few tabs open.
2. Go to Settings>About Firefox and tap on the icon 5 times, you will see a "Debug menu enabled" message.
3. Go to tabs tray and select a few tabs you'd like to make "inactive", selecting them after long tap on the first one.
4. Go to the 3 dot menu in the tabs tray and you'll have a "Make inactive" option.

[2022-01-04 11:05] SoftVision-LorandJanos commented on #10721
This issue is no longer reproducible on the latest Nightly (2022-01-04).
Device used: Oppo Reno 6 (Android 11).
Closing the ticket as fixed.

[2022-01-04 11:05] #10721 closed

[2022-01-04 11:22] Cheap-Skate commented on #12731
@pocmo would it be worth reverting the patch mentioned in https://github.com/mozilla-mobile/fenix/issues/12731#issuecomment-979890949. I don't think it helps with the reloading issue and https://bugzilla.mozilla.org/show_bug.cgi?id=1745996#c5 makes me think that WebRender's memory use might be a big part of the reloading problem.

Perhaps you could chat with Jamie & Nical and see what they think?

[2022-01-04 11:25] Cheap-Skate commented on #12731
Fenix users suffering frequent tab reloading!

Does it help if you put Fenix into the background and then bring it back to the foreground? I don't mean kill Fenix, I just mean swap to another app or to the Home screen, then straight back to Fenix.

If https://bugzilla.mozilla.org/show_bug.cgi?id=1745996 is part of the problem, then putting Fenix into the background then bringing it back to the for

[2022-01-04 11:38] madb1lly commented on #12731
Hi @Cheap-Skate,

I'm not sure how you expect us to test this. One of the cases where people have problems is that when switching back to Fenix the page reloads, so unless I'm mistaken this is the case that your are asking us to test?

In the case of switching tabs (which is what this specific issue is about), then are you suggesting that each time we switch tabs we also swap to another app and th

[2022-01-04 12:10] Cheap-Skate commented on #12731
Good questions! I don't really know. I don't work for Mozilla. It'll probably all be quite subjective.  Before you switch I guess >so drop to the background > bring to the foreground > switch tabs.

Basically, **if** https://bugzilla.mozilla.org/show_bug.cgi?id=1745996 is part of the problem, switching between tabs increases Fenix's RAM footprint quite significantly. Switching between a lot of tab

[2022-01-04 12:14] Cheap-Skate commented on #12731
@pocmo

Another question, does the trim middleware when in normal use release the memory used by WebRender? IIUC it unloads the tab content from RAM, does it also force WebRender to release the ~50 MB per tab it uses?

I hope you understand the question, I have no idea how any of this works.

cheers

[2022-01-04 12:18] Alexandru2909 commented on #19567
Can I work on this?

[2022-01-04 12:58] chartmix opened #23051 "[Bug]: App missing in recent app list"
### Steps to reproduce

Use Firefox.
Switch to the menu or another app.
Go to recent apps and Firefox is missing.

### Expected behaviour

Firefox should show up in recent apps

### Actual behaviour

The app is missing in recent apps most of the time.

### Device name

OnePlus 8T

### Android version

Android 11

### Firefox release type

Firefox Beta

### Firefox version

96.0.0-beta.5

### Devic

[2022-01-04 13:47] LaurentiuApahideanSV commented on #23020
I tried to reproduce the issue on the latest Firefox Preview Nightly 2022-01-04, but was unable to.
### Devices used:
- OnePlus 6T (Android 9)
- Google Pixel 6 (Android 12)

[2022-01-04 13:54] pocmo commented on #22722
Yeah, let's ignore persistence for now. That's a completely separate problem. The crashed flag only matters during runtime. On (cold) restart of the app, the engine session will be restored if needed (selected) - and may crash again or not.

However, the problem you are having right now is that you do not have access to a `Crash` object, so you cannot report it from the UI if the user decides to d

[2022-01-04 14:22] SoftVision-LorandJanos commented on #20279
This issue is no longer reproducible with the latest builds:
- latest Release (95.2.0).
- latest Nightly (2022-01-04).

Devices used:
- Oppo Reno 6 (Android 11).
- Samsung Galaxy Tab S3 (Android 9).

Closing the ticket as verified.

[2022-01-04 14:22] #20279 closed

[2022-01-04 14:25] sflorean commented on #10601
I was able to reproduce this issue on latest Firefox versions (Beta, Nightly) with Samsung A32 (Android 11).

[2022-01-04 14:30] Alexandru2909 commented on #20524
Can I work on this issue?

[2022-01-04 14:49] pocmo commented on #22722
Yes, this is not possible. And may not be a 1:1 mapping, as one crash can affect multiple tabs / engine sessions. Maybe we don't need that, though. We can show the user the UI to ask them whether they want to restore this tab or not. And at the same time ask them to send the "pending" crash reports. As mentioned above, the crashes we can handle here are all about crashed tabs (content processes).

[2022-01-04 15:25] kevinoid opened #23053 "[Bug]: Unable to paste in Google search box without focus first"
### Steps to reproduce

1. Navigate to https://www.google.com
2. Ensure something is in the clipboard (e.g. copy the URL from the URL bar)
3. Long-tap on the search box.

### Expected behaviour

Focus would move to the search box and the "Paste" button would appear above it.  (As it does for most text boxes on most other pages.)

### Actual behaviour

The page scrolls to the bottom, the Paste butt

[2022-01-04 15:50] SoftVision-LorandJanos commented on #23053
Hi @kevinoid ! Thanks for the report!
I can reproduce your issue on the latest Nightly 97.0a1 (2022-01-04).
Device used: Oppo Reno 6 (Android 11).

[2022-01-04 15:59] kbrosnan commented on #23053
This reproduces in GV example.

[2022-01-04 15:59] kbrosnan commented on #23053
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1748468

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-01-04 15:59] #23053 closed

[2022-01-04 16:30] kbrosnan opened #23057 "RuntimeException: Unable to start activity ComponentInfo{org.mozilla.fenix/org.mozilla.fenix.HomeActivity}: android.view.Inflate.Exception: Binary XML file line #27"
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/15395580/?referrer=github_plugin

[code]

[2022-01-04 16:33] sflorean commented on #16794
Tested with a Huawei P40 Lite (Android 12) and Samsung A32 (Android 11) and couldn't reproduce the issue.

[2022-01-04 17:26] mmbng commented on #4424
I agree after creating several collections from news sites / receips / real estate ... I now have to recreate those collections on my new phone by sharing the collections via email then clicking each link and save.   Even if we could export to csv and import that would be better than manually re-creating the collectiosn.  We need the mobile version to not just sync tabs but the collections as well

[2022-01-04 18:23] andrewshadura commented on #18861
This issue should not have been closed. Bump.

[2022-01-04 19:28] paleparanoid opened #23058 "[Bug]: Extension Google Search Fixer makes something strange"
### Steps to reproduce

1) In Extensions install "Google Search Fixer"
2) Type Something in Search bar (accordingly, the default search engine must be Google). I wrote "BDRip" word.
After results are loaded, in a few seconds, a random link from the search results starts to open. If you go back, it will happen again.
On screenrecord I enabled "Showing Touches" feature, so you can make sure that it

[2022-01-04 20:30] Amejia481 opened #23059 "Refactor how and where we call showToolbar"
We have multiple implementations of how we use `showToolbar` in some cases we use it on `onCreateView` and others on `onStart`, let's explore both options and create a generic alternative on how to approach `showToolbar`. Related https://github.com/mozilla-mobile/fenix/pull/23001#issuecomment-1002572216

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19

[2022-01-04 22:17] #15095 closed

[2022-01-04 23:34] jonalmeida commented on #15882
This error has disappeared now. 🎉

Closing.

[2022-01-05 00:04] #23049 closed

[2022-01-05 00:39] #22978 closed

[2022-01-05 02:01] Nancyyuan commented on #22947
Thanks for the quick fix！
I wonder if the condiftion of " go straight to * optimized code" need to be improved on Android phones?

[2022-01-05 03:20] #22980 closed

[2022-01-05 04:03] texasbruce commented on #13214
Any update on this?

[2022-01-05 05:17] Poopooracoocoo opened #23062 "Tapping and holding on a GitHub reaction doesn't show tooltip"
### Steps to reproduce

1. Open https://github.com/mozilla-mobile/fenix/issues/22962
2. Press and hold on thumb reaction button

### Expected behaviour

GitHub's tooltip should appear, telling you who upvoted the issue. This works on Chrome. It appears on hover and similar issues can be found elsewhere.

### Actual behaviour

The tooltip does not appear.

### Device name

Samsung Galaxy S10

### A

[2022-01-05 07:03] utucuro commented on #12731
Hi @madb1lly
Using a Samsung Galaxy S9, latest stock firmware, no root, Firefox is in the battery optimisation exemption list, so no aggressive default memory optimisation by Android or Samsung in action.
1. Before testing, I used the standard close all action for running apps, then re-opened Firefox 95.2.0 with 51 tabs, my current actual tab count.
2. Apart from the intial tab that loaded, I acti

[2022-01-05 08:09] madb1lly commented on #4424
Good point @Djfe, there probably do need to be other issues to link to this one, maybe in bugzilla or android-components?

[2022-01-05 08:13] marcel263 commented on #23062
Reproducible. Attempted to report it on the Webcompat initiative's issue tracker. https://webcompat.com/issues/97787

[2022-01-05 08:15] madb1lly commented on #12731
Hi @utucuro,
That's incredible! Nothing else running and Fenix still needs to reload tabs...

So what happens if you add in a step 2a - switch to another app, and 2b - switch back to Fenix?

Cheers 🙂

[2022-01-05 08:24] rgueldenpfennig commented on #12731
Hi folks,
I just want to mention that I can reproduce the same behaviour with Firefox 95.2.0 on my phone which is also a Samsung Galaxy S9 with the latest stock software versions (G960FXXSHFUJ2).

I really enjoy to work with Firefox on my desktops but on my mobile the user experience is downgraded a lot due to this issue, especially when filling out forms and switching between app on the same time

[2022-01-05 08:26] Cheap-Skate commented on #12731
Really useful info! What sites were you trying to view? I will try to replicate later today on my 4 GB phone.

[2022-01-05 08:31] Djfe commented on #4424
I created one on Bugzilla to make the developers of Firefox Sync aware of this
https://bugzilla.mozilla.org/show_bug.cgi?id=1747614

[2022-01-05 08:33] utucuro commented on #12731
@madb1lly
1. Close all apps as before.
2. Open Firefox, allow only 1 tab to re-activate, minimize by pressing home button.
3. Open play store, do nothing, press home button
4. Open Firefox, instantly there, press home button
5. Back to play store, do nothing, press home button
6. Back to Firefox, tab gets reloaded.
Play store is not exempt from battery optimisation, Firefox is.
Website used: a rec

[2022-01-05 08:46] rgueldenpfennig commented on #12731
I switched back and forth between those web sites:

- https://ecosia.org
- https://devblogs.microsoft.com/dotnet/conversation-about-the-net-open-source-project
- https://www.manning.com/books/exploring-a-data-science-career

Almost everytime the tab executes a whole reload. Except for one time on the Ecosia site.

[2022-01-05 08:48] sonora opened #23063 "Regression: Visibility status of the Tab selector and 3-dot buttons"
### Steps to reproduce

When in Firefox Mobile you open a new tab, both
- the Tab selector button (facilitating access to other tabs) and
- the 3-dots menu (facilitating e.g. access to the Bookmarks and History)
become hidden. (The focus is on the URL box and the onscreen keyboard is visible by default).

To make them visible again:
- Up until version 95.2.0 it was already necessary to  hide the k

[2022-01-05 08:53] paleparanoid commented on #23058
I'm not alone
![Screenshot_20220105-115300](https://user-images.githubusercontent.com/86261854/148188835-13333b51-199f-4659-94e2-1d7b32702ba4.png)

[2022-01-05 09:13] plwt commented on #12731
User feedback: https://support.mozilla.org/en-US/questions/1363164

[2022-01-05 09:18] Cheap-Skate commented on #12731
@rgueldenpfennig how many tabs do you have open in total? I wonder if this is something that only happens with large numbers of tabs eg @utucuro has more than 50 open in the background but not viewed.

[2022-01-05 09:20] utucuro commented on #12731
Productively, that is what an average tab load looks like for me, usually more, not less. Previous versions of Firefox handled it incomparably better.

[2022-01-05 10:23] Alexandru2909 commented on #8108
Can I work on this issue?

[2022-01-05 10:36] madb1lly commented on #12731
Hi @Cheap-Skate,
I have loads of tabs open, >60 atm. I've been using web.archive.org a lot recently and those tabs reload a lot less frequently than others, probably because they're not full of javascript consuming both RAM and CPU cycles.
Cheers :)

[2022-01-05 10:47] rgueldenpfennig commented on #12731
@Cheap-Skate Currently I have 15 tabs in total of which 9 are grouped as inactive. I just closed all the tabs except the 3 mentioned before and restarted the Firefox app. Event then I have the exact same behaviour that each tab is always reloading.

[2022-01-05 10:53] LaviniaL99 commented on #22547
The issue is also present on RC 96.1.0 (Build 2015855507) -> **device used**: Samsung S10E - Android 10

[2022-01-05 13:40] sv-ohorvath commented on #22585
Flaky on 1/5: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8836850759595593311/executions/bs.f43aec240b053e5/testcases/1/test-cases

[2022-01-05 14:37] sflorean opened #23064 "[Bug]: "Jump back in" tabs are not visible on homescreen"
### Prerequisites:
All previously opened tabs are closed.

### Steps to reproduce

1. Make a random search (dogs).
2. Perform a long tap on links and open 2-3 pages from the search engine results using "Open link in new tab".
3. Tap on Home button.
4. Observe the homepage sections.

### Expected behaviour

"Jump back in" section is displayed and the tabs are visible.

### Actual behaviour

"Jump b

[2022-01-05 16:36] iamiceparticle opened #23066 "[Bug]: Find on page make youtube menu float. Leaving gap at bottom."
### Steps to reproduce

1. Open youtube.com
2. Click on 3 dots on toolbar
3. Click on find in page

### Expected behaviour

Youtube menu option should not float and there should not be any gap.

### Actual behaviour

Youtube menu floats and there is gap at bottom. Checked the issue on Firefox Beta and Nightly. Both have this issue. Refer attached screenshot. Samsung internet browser doesn't let yo

[2022-01-05 18:01] Cheap-Skate commented on #12731
These three sites run just fine on my phones

Clean install 95.2.0, open those three sites on three tabs, open about:memory as a fourth tab, scroll them, swipe between them, put Firefox into the background etc. No unexpected reloads.

Tested on Sony Xperia X Compact (3 GB RAM, Android 8); Galaxy A40 (4 GB RAM, Android 11); Galaxy M32 (6 GB RAM, Android 11).

So I don't know what's causing issues w

[2022-01-05 19:17] surajeet310 commented on #21702
Is it still open ? Can I work on it ?

[2022-01-05 21:05] MatthewTighe opened #23069 "Add blocklist for items on homescreen."
https://mozilla-hub.atlassian.net/browse/FNXV2-18720

Users can remove items from home screen (tabs, bookmarks, history item)

If an item is removed from one section of the home screen, it may still show up on the others

When an item is removed just the specific page be removed. Other pages from the same website may still show up

Remove option can be access in the context menu by long-pressing o

[2022-01-05 21:36] mcomella commented on #20149
Triage: this delay is pretty long: we should identify why it's there and how to reduce it.

[2022-01-05 21:43] janissimsons commented on #12731
So when can we expect a bug fix for this issue?
I am experiencing the same problem on my Samsung S8.

[2022-01-05 21:53] kbrosnan commented on #23058
@wisniewskit does Google Search Fixer have a bug on this or is it a Gecko/Fenix problem?

[2022-01-05 21:53] mcomella commented on #19576
Triage: keep open b/c there is useful info in the bug if we implement this later.

[2022-01-05 21:55] mcomella commented on #19894
Triage: we're unclear how large this delay is in order to prioritize. @jonalmeida can you provide a profile or a video of this behavior, preferably on a low-end device?

[2022-01-05 21:59] mcomella commented on #15581
Triage: still waiting on a decision from product. @kbrosnan Would you be able to follow up on getting a decision about removing the migration code? If we can't remove it now, can we define when we can remove it?

[2022-01-05 22:05] wisniewskit commented on #23058
Thanks, this slipped under my radar. I've just [filed a bug](https://github.com/wisniewskit/google-search-fixer/issues/23) on this on the addon's project page to investigate it ASAP. @paleparanoid , could we move the discussion there for now?

[2022-01-05 22:16] jonalmeida commented on #19894
In the last triage I mentioned that we can close this since it's no longer an issue any more. I believe it was an outcome from how we were initially connecting the store's flow to a bit of UI that was blocked on the async result.

We can re-open if you feel strongly about it.

[2022-01-05 22:16] #19894 closed

[2022-01-05 22:23] karlcow commented on #13214
Another duplicate for this.
https://github.com/webcompat/web-bugs/issues/77486

[2022-01-05 22:43] gabrielluong opened #23071 "Replace @color/tab_tray_selected_mask_normal_theme with @color/fx_mobile_layer_color_accent_nonopaque"

[2022-01-05 23:19] headbank commented on #13214
An observation made in #10217 that is probably even more relevant here:

While we await the actual print functionality's arrival, the current state of this hurts web developers. If I understand correctly, `window.print` is totally MIA, so a method in which it is called will just quietly puke, which may clobber subsequent js code. (Whether `window.print()` should really only be called in isolation,

[2022-01-05 23:21] mavduevskiy opened #23073 "Long press on site lock to open Site permissions in settings"
## User Story
- As a user, I want to quickly navigate to site permissions because I am irritated by location requests or adds with audio.

## Dependencies
- Part of the [...issue/176](https://github.com/mozilla-mobile/fenix/issues/176)

### Acceptance Criteria
- I can navigate to site permissions by long pressing the site lock icon on the nav bar.

┆Issue is synchronized with this [Jira Task](http

[2022-01-05 23:49] #23071 closed

[2022-01-06 00:55] mcomella commented on #18861
Triage: we looked at (beta channel) telemetry. The `network.dns_end` probe, which uses the `HTTP_PAGE_LOOKUP_DNS_TIME` timing, doesn't indicate this is a significant problem: it's in the same ballpark as desktop (268ms at 95th vs. low 200s on desktop), assuming the probe is accurate. However, it's possible 1) this probe is inaccurate, 2) the probe only takes into account the Gecko experience and o

[2022-01-06 00:57] mcomella commented on #22795
Triage: @mcomella will get a profile with all the JVM threads to understand which code is at fault. If it's native or the stack clearly indicates it, we can ping the app services team if they know what's happening.

Side thought: could this delay also happen for autofill?

[2022-01-06 04:46] robsmith11 commented on #12731
Other than @pocmo collecting some telemetry and running that test in nightly, it seems like Mozilla devs have largely ignored this issue in the 1.5 years since its been reported.

I don't understand how no one at Mozilla seems to have even reproduced it.   Are they not using Firefox on their phones?  I run into it on a daily basis on all the phones I've owned.  I was just on a flight today and fru

[2022-01-06 05:25] #23058 closed

[2022-01-06 05:55] gabrielluong opened #23076 "Clean up unneeded FeatureFlags"
We got quite a few FeatureFlags that default to `true` since the feature has already shipped. We should clean up the feature flags for any feature that no longer need to be hidden via feature flag.

[2022-01-06 06:22] dessant commented on #12731
I doubt product managers are aware that Firefox for Android is no longer usable for anything that requires a state, from data entry to payments. At least I find it such a critical loss of functionality in a browser that it's hard to imagine anyone higher-up would be fine with not delivering an urgent fix for this bug.

If Firefox engineers have had trouble with finding the root cause of the bug, t

[2022-01-06 06:53] #23076 closed

[2022-01-06 07:26] Cheap-Skate commented on #12731
@utucuro & @rgueldenpfennig I think you both have S9s and are both getting constant reloads. If you want to spend some more time (I quite understand if you don't)....

When you are having constant reload problems could you open about:memory and tap Measure then look at memory use for

Main Process - gfx
and maybe
Main Process - resident-peak
web 1 - resident-peak
web 2 - resident-peak

about:memor

[2022-01-06 07:37] thetriune14 opened #23078 "Despite being logged in here and synced but CANNOT finish logging into Firefox Beta for Android on this same device"
### Steps to reproduce

I have a screenshot to add
![Screenshot_20220106-001902](https://user-images.githubusercontent.com/81508647/148345994-cff6bfe1-8cf5-40d1-826c-c2e4e3049502.png)

### Expected behaviour

Sync across 2 Android firefox versions on this device

### Actual behaviour

Despite showing being logged in on the Android Beta version sync States account needs to be verified

### Device n

[2022-01-06 07:54] Hubfront commented on #12731
Why  leave this behaviour of "suspending" all but foreground tabs default and add a setting to optionally disable it. Especially for users of smartphones with decent memory capacity (4 Gigs upwards) it is a reason to switch to chrome mobile, which keeps all tabs in memory and is much more responsive.

[2022-01-06 07:57] ShintoPlasm commented on #12731
At this point I'm really starting to wonder:
(a) Do most Mozilla devs actually use Firefox for Android in their day-to-day lives, or do they all just use the Safari-shell version for iOS? Otherwise, how can not a single one of them have noticed this issue (the helpful @pocmo excepted)?
(b) Does anyone still do prioritisation of issues here on Github? This issue has been open for ages and still doe

[2022-01-06 07:58] ShintoPlasm commented on #12731
Or Brave :)

[2022-01-06 08:02] janissimsons commented on #12731
Precisely this. We don't care if you fix the default behaviour, just gives us an option to completely disable it. Then you can work on it for 2 more years without users being affected.

[2022-01-06 08:09] utucuro commented on #12731
@Cheap-Skate
Like dessant mentioned, this is really reducing the usefulness of Firefox, so at this point I'm willing to sacrifice some time.
I was indeed using it at 1440p, so I reduced down to 2220x1080; switching between the only two active tabs still reloads them each time. 1280x720 still has the same behavior, so I'd say that's
Just about:memory by itself: gfx 1.48MB
2 tabs activated, gfx 4.39

[2022-01-06 08:10] Hubfront commented on #12731
Did they use the changes from iceraven browser from Sep 2020 https://github.com/fork-maintainers/iceraven-browser/issues/115 or did they use another way?

[2022-01-06 08:24] regs01 commented on #6365
Is there any ETA for UI usability? I can't open tabs and I can't create a new tab, so I have to use Chrome.

[2022-01-06 08:46] SoftVision-LorandJanos commented on #22995
This issue is no longer reproducible on the latest Nightly (2022-01-06).
Tested with Google Pixel 4 (Android 11).
Closing the ticket as fixed.

[2022-01-06 08:46] #22995 closed

[2022-01-06 08:48] SoftVision-LorandJanos commented on #23066
Hi @iamiceparticle! Thank you for your report!
I can reproduce the issue you reported.
Tested on the latest Nightly (2022-01-06).
Device used: Google Pixel 4 (Android 11).

[2022-01-06 09:11] paleparanoid commented on #23058
Yes.
Look here, i posted a reply - https://github.com/wisniewskit/google-search-fixer/issues/23#issuecomment-1006396805

[2022-01-06 09:17] andrewshadura commented on #18861
I guess either the probe is inaccurate, or the issue affects only some subset of users and fewer of them use beta.
I run release only, and I experience stalls almost each time, sometimes they’re extreme (30 seconds or more). I wasn’t able to correlate that to changes in the environment (network, memory, CPU load etc) so far.
I have installed Nightly in a hope this can reveal more.

[2022-01-06 09:43] Archaeopteryx opened #23079 "Intermittent debug(T) - org.mozilla.fenix.ext.SearchEngineTest - well known search engines are identified correctly"
Failed twice so far.

### Firebase Test Run:
https://treeherder.mozilla.org/logviewer?job_id=363139985&repo=fenix
### Stacktrace:
[code]
### Build:
https://github.com/mozilla-mobile/fenix/commit/09fdee651090784e617d534e67c7b7e3ff5f4885

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19061)

[2022-01-06 10:03] SoftVision-LorandJanos commented on #23062
Hi @Poopooracoocoo. Thank you for your report!
I was able to reproduce this issue in the latest Nightly (2022-01-06).
Tested with Google Pixel 4 (Android 11).
On Chrome however it seems intermittent, sometimes the tooltip does not appear there either.

[2022-01-06 10:03] LaurentiuApahideanSV commented on #23007
@sojudu Could you reupload the video? I am unable to view it.

[2022-01-06 10:28] cadeyrn commented on #22279
@pocmo Unfortunately not. I asked the user but he was not in the forum since then.

[2022-01-06 10:58] Cheap-Skate commented on #12731
Thanks!

OK thanks for trying, it was just a guess

do you really mean 1.48 MB & 4.39 MB or do you mean 148 MB & 439 MB? Your numbers sound really really low but if they are true perhaps it means something

yeah IMHO that's quite a lot, 900 MB just to run two tabs. I think Chrome can do it using about 500 MB. I think the memory use is part of the problem but not all of it?

I see that too sometime

[2022-01-06 11:12] LaurentiuApahideanSV commented on #22926
This is a duplicate of https://github.com/mozilla-mobile/fenix/issues/10032. I will mark this issue as closed as it will be handled there.

[2022-01-06 11:12] #22926 closed

[2022-01-06 11:51] mcarare commented on #23057
This specific crash is incidentally fixed by the change [here](https://github.com/mozilla-mobile/fenix/pull/23001/files#diff-e4df32efc2b21e9db1887d40b897bdc76a5a338f82ccff64f7ffdc3bfc64100aR89):
 by moving the `showToolbar` call from `onCreateView` to `onResume`.

The difference from https://github.com/mozilla-mobile/fenix/issues/22995 is that if in that case the configuration change and activity

[2022-01-06 11:53] mcarare commented on #23059
See also this [comment](https://github.com/mozilla-mobile/fenix/issues/23057#issuecomment-1006517944) related to Android 12 devices.

[2022-01-06 12:21] mcarare commented on #23057
STR for QA, on a device with Android 12

1. Open app.
2. Navigate to the about screen in settings.
3. Go to the device home screen
4. Change device wallpaper.
5. Go back to the app.

 The crash will occur on the release/ beta version and should be fixed on Nightly.

[2022-01-06 12:40] LaurentiuApahideanSV commented on #22824
I tested the issue on Firefox Nightly 2022-01-06 and can confirm the issue occurs, however according to comment https://github.com/mozilla-mobile/fenix/issues/352#issuecomment-726805938 this may be the intended behavior.

[2022-01-06 12:42] Palloxin commented on #23020
https://user-images.githubusercontent.com/75091899/148384426-f928915b-2529-42da-9e07-501e6b807891.mp4

i don't know if it can help but i managed to make the buttons while i was fullscreen work at the third attempt continuosly going fullscreen. see the video

[2022-01-06 13:25] robovoice1 opened #23081 "[Bug]: Enabled scroll to hide changes logout+language selection in CV"
### Steps to reproduce

1.  Log into Common Voice account
2. Change to german language
3. In stats page tap on avatar (top right)
4.  Make sure "scroll to hide toolbar" is enabled in Fx mobile (settings/customize)
5. swipe up and down

### Expected behaviour

no moving (changing size) of log out button and language selection at all.

### Actual behaviour

Please see screen recording!
If the "scrol

[2022-01-06 13:51] SoftVision-LorandJanos commented on #23057
I managed to reproduce the issue on the latest Release (96.1.0) and Beta (96.0.0-beta5) with an Android 12 device.
Verified as fixed on the latest Nightly (2022-01-06).
Device used: Google Pixel 4 (Android 12).
Closing the ticket as fixed.

[2022-01-06 13:51] #23057 closed

[2022-01-06 15:06] SoftVision-LorandJanos commented on #19645
This issue is no longer reproducible.
Tested with a few examples from the above comment.
The favicons were displayed for each site in private mode as well.
Verified on the latest Nightly (2022-01-06).
Device used: Oppo Reno 6 (Android 11).
Closing the ticket as fixed.

[2022-01-06 15:06] #19645 closed

[2022-01-06 15:16] nestep commented on #12731
Galaxy S9 user here as well. I've just been keeping my eye on this issue to
be fixed in the hopes I can return to Firefox, but as it is it's unusable.
I can't use it for any form entry that needs a credit card payment or two
factor authentication since it unloads the page as soon as I switch away
from Firefox to open Messages or Gmail or my password manager. I've
switched to using Brave in the int

[2022-01-06 16:10] plwt commented on #21276
User feedback: https://discourse.mozilla.org/t/about-config-missing/66537/29

[2022-01-06 16:56] LaurentiuApahideanSV commented on #21930
I can confirm the issue is reproducible on the latest Firefox Preview Nightly 2022-01-06.
### Devices used:
- OnePlus 6T (Android 9)
- Google Pixel 6 (Android 12)

[2022-01-06 17:50] Cheap-Skate commented on #12731
Sounds like the Galaxy S9 is the key to this whole mystery. Fenix is bad on all our phones but sounds awful on an S9.

Perhaps the Mozilla team should get an S9 for testing???

[2022-01-06 18:24] mcomella commented on #22795
I found large delays in the JVM stack. It appears that the way we sort is slow. This thread seems to receive the initial background dispatch: https://share.firefox.dev/3pZmbcM It seems our sorting is slow, which [calls `urlToTrimmedHost` for each item](https://searchfox.org/mozilla-mobile/rev/8c43e50f46628bf8e65434911c2f2e3f9b2a82ef/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/Sorting

[2022-01-06 18:33] robsmith11 opened #23084 "Firefox issues are not being prioritized in a reasonable way"
There seems to be a problem with Mozilla ignoring longstanding fundamental usability issues where core pieces of Firefox are broken.   Instead, the majority of the development effort seems to be on adding endless iterations of superficial features like color themeing.

For example, the following issue has been open for 1.5 years with almost no developer attention despite 147 comments from 63 users

[2022-01-06 18:37] mcomella commented on #22795
csadilek pointed out every call of `sortedBy`'s lambda hits the `scope.async` and that's why the observed coroutine overhead may be so high.

[2022-01-06 18:43] #22975 closed

[2022-01-06 18:55] gabrielluong opened #23086 "Update design color tokens based on the latest UX changes"

[2022-01-06 18:55] Mugurell opened #23087 "Implement a standard way to increase tap area in Compose"
For Android Views we have a [View.increaseTapArea(extraDps)`](https://github.com/mozilla-mobile/fenix/blob/8b13e382fdca2e8344b057295741f7f14e9d7a70/app/src/main/java/org/mozilla/fenix/ext/View.kt#L21-L30) method to help with respecting accessibility best practices while also showing smaller views based on UX specification.

We need a similar method for composables.

┆Issue is synchronized with thi

[2022-01-06 18:56] Mugurell opened #23088 "[Crash reporter] Crashes will show misleading notifications"
Steps to reproduce:
- load about:crashcontent / about:crashparent in any of the tabs
- check the system notification

Actual:
- A notification with the text "Sending crash report to Mozilla" is shown

Expected:
- Better wording. The crash report might contain sensitive information so everything should be treated with care.
The crash report is not sent without user consent to Mozilla that only happ

[2022-01-06 18:58] Mugurell opened #23089 "[Crash reporter] Misleading tab previews in tabs tray or when swiping between tabs"
Following https://github.com/mozilla-mobile/fenix/issues/22722 which adds an in-app crash reporter the user will still be able to continue using the app while having crashed tabs.
When swiping between tabs using the toolbar or when opening the tabs tray a missleading preview/thumbnail will be shown instead of the crash reporter.

[AbstractBrowserTabViewHolder](https://github.com/mozilla-mobile/fen

[2022-01-06 18:58] Mugurell opened #23090 "[Crash reporter] Persist the crashed status even after restart"
Seen while working on https://github.com/mozilla-mobile/fenix/issues/22722 which adds an in-app crash reporter the user will still be able to continue using the app while having crashed tabs.

For each crash Gecko will gather valuable information and persist them locally for the eventuality users will want to share these crash reports with Mozilla to help debug the crash events.

But if the app is

[2022-01-06 18:59] Mugurell opened #23091 "[Crash reporter] A content crash will crash more tabs"
Seen while working on https://github.com/mozilla-mobile/fenix/issues/22722, can be reproduced on GVE also.

Steps to reproduce:
- have >= 3 tabs opened (doesn't happen with < 3 opened tabs). Don't have to have a parent-child relation.
- load about:crashcontent in any of the tabs

Actual:
Multiple tabs are shown as crashed

Expected:
Only one tab - the one in which about:crashcontent was loaded sho

[2022-01-06 18:59] Mugurell opened #23092 "[Crash reporter] No mapping between a crash and a tab"
Seen while working on https://github.com/mozilla-mobile/fenix/issues/22722 which adds an in-app crash reporter allowing to continue using the app while some tabs might have crashed.

As an edgecase it is possible that multiple tabs might have crashes and each will have it's own crash report.
Based on the sensitive nature of the crash reports users might choose to send one crash to Mozilla but not

[2022-01-06 19:41] mcomella commented on #22795
If needed, here's my patch to capture profiles of background threads using the `Debug` API (since the Firefox profiler doesn't support background threads yet): [profile.patch.zip](https://github.com/mozilla-mobile/fenix/files/7824307/profile.patch.zip)

[2022-01-06 19:43] rocketsroger commented on #22589
Confirmed on Nightly this is not reproducible.  This should be fixed in Beta on the next cut.  Thanks

[2022-01-06 20:04] mcarare commented on #23087
AFAIK, currently, there is no equivalent of a touch delegate in Compose.

One of the possible solutions would be wrapping the element in a `Box` or another custom composable that imposes the minimum dimensions for a11y.

I did see some chatter a few months ago about work in this area post compose 1.0 so maybe we could wait for a solution in the API.

[2022-01-06 20:42] topotropic opened #23095 "Make time segments in history view sticky"
Time segments like "Today", "Yesterday" and so on should be sticky so that people have a better idea in which section they are.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19072)

[2022-01-07 02:04] alesandroortiz commented on #6762
Still a security issue, per https://bugzilla.mozilla.org/show_bug.cgi?id=1731181

[2022-01-07 02:25] alesandroortiz opened #23101 "[Bug]: Security: Address bar, security windows show origin elided insecurely, allows URL spoofing"
### Steps to reproduce

In Firefox for Android:

1. Go to https://badssl.com
2. Navigate to any of their long origin examples
3. Observe address bar and tap security indicator

### Expected behaviour

Address bar: Shows end of origin (`https://...badssl.com`)

When tapping security indicator: Full origin is shown; if elision is needed, show end of origin

When focusing address bar: End of origin i

[2022-01-07 04:01] real-yellow opened #23102 "Could Fenix add an option to disable "open in app" popup in settings"
Some website abuses Open In App feature to send apps that users don't need or tracking arguments to apps on mobile devices.Though Fenix blocks it,the hint popup still interrupt users from browsing.
![Screenshot_20220107-110614.png](https://user-images.githubusercontent.com/53216310/148487348-87eab25f-3b98-47b0-b856-67b9dadfb378.png)
Could Fenix provides an option to block the Open In App request f

[2022-01-07 05:33] walkerxk opened #23104 "[Bug]: can't change to dark theme"
### Steps to reproduce

1.change theme to dark
2.back to homepage
3.view the setting in the theme, it go back to "follow device theme"

### Expected behaviour

still dark theme

### Actual behaviour

go back to "follow device theme"

### Device name

redmi K30 Pro

### Android version

Android 11

### Firefox release type

Firefox Nightly

### Firefox version

97.0a1

### Device logs

https://cras

[2022-01-07 05:38] walkerxk commented on #23104
i have record a screenshot of this
https://www.youtube.com/watch?v=IiOazvfbTys

[2022-01-07 06:03] yoasif commented on #12731
@Cheap-Skate @nestep @aravindanve Can you take a look at this page to see if the instructions help your situation?

https://dontkillmyapp.com/samsung

[2022-01-07 08:34] sonora commented on #23066
Other web sites are affected by the 'gap' issue as well. As an example, go to https://web.de, accept the cookie disclaimer, then tap on any news article. The site produces a floating social media bar at the bottom (with facebook,  twitter, insta etc. logos). When scrolling up the page, this bar often also partially scrolls up, producing the 'gap'.

Interestingly, it it most easily reproduced when

[2022-01-07 09:02] aravindanve commented on #12731
@yoasif Turning off battery optimisation may not be the right solution because Chome and Brave both have battery optimisation on and they appear to work fine.

Although I'll still try using firefox with battery optimisation off, if it helps in debugging this issue.

[2022-01-07 09:18] #23086 closed

[2022-01-07 09:32] biozshock opened #23106 "Tab is not being selected after switching form incognito mode"
### Steps to reproduce

1. Open 2 tabs in normal mode.
2. Open a tab in incognito mode.
3. Open a tab selector and close incognito mode tab, so no incognito mode tabs are opened.
4. Switch to one of normal tabs.

### Expected behaviour

A normal tab which was tapped is opened.

### Actual behaviour

Home screen is displayed.

### Device name

Huawei P20 Lite

### Android version

Android 9

### Fi

[2022-01-07 09:35] Archaeopteryx opened #23107 "Intermittent test failure - Failed to install /builds/task_164149187726832/workspace/build/target.apk"
### Firebase Test Run:
https://treeherder.mozilla.org/logviewer?job_id=363264980&repo=fenix
### Stacktrace:
[code]
### Build:
https://github.com/mozilla-mobile/fenix/commit/5d8587e5d195d24a7459dcf7a54ad4ed25c14bbc

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19078)

[2022-01-07 09:48] mcarare commented on #19567
For QA: Please re-test the logins screens for any regressions regarding these screens being secured. Thank you!

[2022-01-07 09:56] mcarare commented on #23104
This is caused by https://github.com/mozilla-mobile/fenix/pull/22941
Not sure the behavior was intended or not. Maybe this should be evaluated by UX (what settings takes precedence: theme or wallpaper)
cc: @Amejia481

[2022-01-07 10:19] aravindanve commented on #12731
@yoasif It's still the same after following the instructions in the link. The problem persists.

[2022-01-07 10:21] sojudu commented on #23007
Sorry can't re-record video again, it uses h265 codec, you can convert and watch or use h265 compliant player, thanks

[2022-01-07 10:33] lucy commented on #22642
I've been hitting this for a long time now and have to cancel and reload the page for it to get unstuck. Still reproducing on current nightly as of today.

[2022-01-07 11:12] Mugurell commented on #23106
To me this seems like the expected behavior.
If the user is in private mode and closed all tabs
She will remain in private mode with the option then to open new private tabs / change to normal mode / tabs.
Entering private mode requires user action so maybe exiting private mode should require the same.

Asking UX about what the expected behavior is.

[2022-01-07 11:15] madb1lly commented on #12731
Hi all,

I'm using a Nokia 8 and I don't seem to have the problem as severe as some people. I can do OTPs, I can switch apps to get address info, etc. _Sometimes_ the tabs reloads in these cases, but it's very rare. However I do have the issue where only 2-3 tabs seem to be available without some sort of reloading.

I'm using Nightly, what are the rest of you using?

I also have a bunch of addons

[2022-01-07 14:03] delia-pop commented on #18897
Note that this issue was also observed on https://www.tmall.com. The toolbar is not animated when scrolling the website.
Build: Nightly GV 97.0a1 01/07, RC 96.1.1.
Devices used: Google Pixel 6 (Android 12), Samsung S10E (Android 10).

https://user-images.githubusercontent.com/89388888/148554500-fbdd5527-1e31-451a-a617-66aef45b4d2d.mp4

[2022-01-07 14:31] 06000208 commented on #23104
This has made it impossible to use firefox's dark theme on some phones, as not all phones have the ability to control whether a wallpaper is considered light or dark, and the default is light.

I don't think it's a matter of what settings take precedence, because there is no apparent wallpaper settings in firefox, this is always on, and the user's theme setting is always disregarded in favor of ma

[2022-01-07 14:40] Amejia481 commented on #23104
Thanks for tagging me. I'm taking a look!

[2022-01-07 14:45] Amejia481 commented on #23104
We are developing the feature and it's only active on nightly, you can switch between wallpapers  by tapping on the Firefox logo, the setting page is a work in progress  https://github.com/mozilla-mobile/fenix/pull/22953

[2022-01-07 14:52] sv-ohorvath opened #23108 "[Bug]: No message when trying to open a downloaded file unassociated with any app"
### Steps to reproduce

1. Download a zip, csv, doc etc, for which you don't have an app installed to handle it.
2. Go to main menu>Downloads.
3. Tap the downloaded file.

### Expected behaviour

A snackbar is displayed, similar to the one when you tap Open from the download prompt: https://github.com/mozilla-mobile/fenix/issues/10428

### Actual behaviour

Nothing happens if the file can't be ope

[2022-01-07 15:09] sv-ohorvath commented on #23108
cc: @Amejia481 because he worked on that before.

[2022-01-07 15:34] delia-pop opened #23110 "[Bug]: Bottom page menu does not remain stuck at the bottom of the screen on different webpages"
### Steps to reproduce

1. Access the following websites: soundcloud.com, twitter.com, canva.com, aliexpress.com, linkedin.com.
2. Log into your account when necessary (twitter.com, linkedin.com).
3. Scroll the webpages.
4. Observe the bottom menu navigation bar.

### Expected behaviour

The bottom bar should always remain stuck on the screen when scrolling, as it does on Chrome.

### Actual behav

[2022-01-07 16:00] Amejia481 commented on #21930
cc @mavduevskiy

[2022-01-07 17:46] illegalprime commented on #1984
I've had success with `adb shell settings put global policy_control immersive.full=org.mozilla.firefox`

[2022-01-07 18:28] Hubfront commented on #12731
I am using a Samsung Galaxy Note 10 plus with 12 GB ram and all tabs but the active one reload when i switch to one of them. Using firefox Nightly ver 97.

With iceraven browser none tab reloads - i bet my phone is battery saving to because reloading the whole page costs energy. The user experience with iceraven browser is now similar to chrome mobile.

I cant understand the firefox team, their br

[2022-01-07 19:14] #22675 closed

[2022-01-07 19:34] Hubfront commented on #12731
Hm just retested some minutes again with Nightly and the problem seems to be gone. Weird, maybe devs did something?

[2022-01-07 19:41] monochromer commented on #19217
I have the same issue and found the effect of searchbar visibility on sticky elements:

https://user-images.githubusercontent.com/6412192/148597551-ba1165dd-d6f6-4bcf-9e77-03d05eaf95c6.mp4

Firefox 95, Android 9 (Xiaomi Redmi 6 Pro, MIUI 12.0.4)

[Demo Sandbox Link](https://jsfiddle.net/psgw3tyn/)

Initially, the sticky element is positioned correctly, but when scrolling, its real position is shif

[2022-01-07 20:55] mmazur opened #23115 "[Bug]: FF ignores system keyboard map when focus is inside a page"
### Steps to reproduce

1. Get a physical keyboard for your android device (I'm using a lapdock with Samsung Dex).
2. Define an "unusual" keyboard mapping for it. Say, I want shift+d to get me to the home screen (send the HOME key) instead of getting a capital D.
    The actual keymap config for it looks like this (should be self–explanatory):
[code]
(This is a "fake" example for the bug report, c

[2022-01-07 21:05] mmazur commented on #23115
More tester–friendly steps for reproducing this:

1. Attach a physical keyboard to your android device (shouldn't matter if it's usb or BT).
2. Go to https://exkeymo.herokuapp.com/ and generate an app using [this config](https://github.com/mmazur/caps-madness-keyboard/blob/master/android/madcaps.kcm).
3. Follow the steps on the page to get it configured (download apk, install, set your physical ke

[2022-01-07 21:14] nestep commented on #12731
The nightly build seems to be working on my Galaxy S9! Will continue to use
and report back if I continue to experience issues.

On Fri, Jan 7, 2022, 12:35 PM Hubfront ***@***.***> wrote:

[2022-01-08 00:59] Siva981 commented on #23084
:(

[2022-01-08 01:38] Siva981 commented on #12731
Firefox For Android seems to work fine until we open a certain number of tabs (depends on the device and its RAM I guess).

In my case (an older Android 5 device with 16GB internal memory and mere 2GB RAM), this threshold is just 3 tabs. As soon as I open tab number 4 and switch back to any of the other tabs, Firefox starts reloading every tab like it has gone mental.

The problem here is, once th

[2022-01-08 06:59] Elendilej opened #23117 "[Bug] Mozilla Nighty Android app - Add to desktop feature"
Good day. I have Mozilla Nightly Android app v97.0a1. I can't use the "Add to Desktop" feature. This feature does not work at all. When I click on it, nothing happens. Is it possible to repair it? Thanks

[2022-01-08 09:55] plwt commented on #12731
User feedback: https://support.mozilla.org/en-US/questions/1363506

[2022-01-08 09:56] steve121418 opened #23118 "Improve download management"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2022-01-08 10:08] Cheap-Skate commented on #12731
So, does anyone else think the Nightly build works better on an S9 than the normal Stable build?  That would be useful info

[2022-01-08 10:41] cadeyrn commented on #23117
Hi,

there is a template for creating bug reports:

https://github.com/mozilla-mobile/fenix/issues/new?assignees=&labels=%F0%9F%90%9E+bug%2Cneeds%3Atriage&template=---bug-report.yml&title=%5BBug%5D%3A+

As you can see the developers ask for several information for reporting bugs so that they can reproduce it. I suggest to have a look at the questions (like device and Android version) and update yo

[2022-01-08 10:47] cadeyrn commented on #9711
(comment for bot)

This is still true.

[2022-01-08 12:00] startadv commented on #22824
I have tested in Chrome Beta 98.0.4758.46 (on the same device) and when i deleted a downloaded image from Chrome's download section it got removed from my device.
In Firefox desktop browser (I am using Manjaro) the options are 'Remove from History' and 'Clear Downloads'.  From words itself it is understandable both options delete download history
![Screenshot_20220108_172906](https://user-images.g

[2022-01-08 13:47] sheikh-azharuddin opened #23119 "[Bug]: critical status bar and navigation pill hiding kind of full screen mode"
### Steps to reproduce

After latest firefox update it is kind of going to full screen mode in portrait mode....status bar and navigation pill is getting hidden
Is it expected? Seems bug to me

Attaching video and screenshot

### Expected behaviour

Navigation pill and status should not hide

### Actual behaviour

Navigation pill and status bar hiding

### Device name

asus rog 3

### Android vers

[2022-01-08 14:06] DaliusK commented on #21819
I'm using Firefox Daylight 95.2.0 (build #2015851755) on a Samsung phone Android 11. I have 2.7GB/4GB RAM used with over 800MB available.

Steps that produce this bug for me:
1. Open something in a tab. Custom tab or a tab in the browser produces same behavior.
2. Navigate to other apps, use them for a while. Using google maps for a while usually does the trick. It doesn't happen all the time, but

[2022-01-08 18:33] gabrielluong opened #23121 "Remove duplicate icons that already exists in ui-icons"

[2022-01-08 20:20] BraisGabin opened #23124 "Enable detekt with type solving in the project"
Would you be interested on enable detekt with type-solving on? That will allow to perform richer analysis on the code but with a drawback in execution time (it's slower than the current "plain" detekt).

Why am I asking this? At detekt we are looking projects where we could try our new rules. Basically we want to run out new rules over the Fenix source code to ensure that all the issues that they

[2022-01-08 22:27] Poopooracoocoo commented on #14060
Still waiting on Mozilla to clear this up somehow.

[2022-01-09 00:05] tkhyn commented on #22910
Same issue here, has been happening for a few weeks. I have the same crashes each time I access a page with a login form or when I try to retrieve existing saved login / password info. I do not recall it stopped between Dec 19 and 23, and it still happens with uBlock Origin disabled so it does not look like it's due to the ad blocker, but rather the login manager

[2022-01-09 01:13] notJerl commented on #23104
I feel like pushing a feature like this out without an accessible settings page or notice that it's there is a great way to deeply confuse your users. I would never have thought to tap the Firefox logo for any reason, so to me it just looked like the theme setting broke. I don't think it's very helpful for you to get feedback on this feature from Nightly users if we don't even know it's a feature

[2022-01-09 01:48] #17242 closed

[2022-01-09 04:55] sheikh-azharuddin opened #23125 "redesign 3 dot menu"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2022-01-09 05:26] Hussain-P99 commented on #23118
Hi I would like to work on this issue.

[2022-01-09 06:00] Hussain-P99 commented on #22350
i would like to work on this issue.

[2022-01-09 09:42] steve121418 commented on #23118
Sure.

[2022-01-09 10:25] Cheap-Skate opened #23126 "Write performance test to prevent regressions to number of open tabs"
Fenix sucks at handling multiple tabs. It's really bad and possibly getting worse. Eg on #12731 there are multiple reports that Fenix 95.2.0 *cannot reliably keep one single tab open* on a Galaxy S9. On my 6 GB M32 Fenix can reliably keep less than ten tabs open. *Chrome can keep at least forty, maybe more*. The difference between Fenix and Chrome, and between Fenix and reasonable user expectation

[2022-01-09 11:12] cadeyrn commented on #6572
This is still an issue.

[2022-01-09 11:25] Cheap-Skate commented on #12731
For the devs, a long post, I hope it's useful, it took me ages ;)

Summary

I think there are two issues with Fenix which combine to cause my problems

1. WebRender is a RAM hog when Fenix is in the foreground. As Fenix comes to the foreground, WebRender quickly grabs many hundreds of MB. It holds on to this memory and *only* releases it when Fenix goes to the background (or tabs are manually clos

[2022-01-09 11:29] Cheap-Skate commented on #12731
I also filed #23126 about benchmarking how many tabs Fenix can keep open compared with other browsers.

[2022-01-09 12:49] sojudu commented on #23007
Although seeing is believing, I will describe the issue, if I close tabs they re-appear once I re-open browser, and if I open tabs and check up later, then they are gone, I am using 96.1.1 Build #2015855929 and the problem is still there, I am using Realme x smart-phone,  on android 11, thank you

[2022-01-09 12:50] sojudu commented on #23007
I was forced to change the browser

[2022-01-09 14:56] imacat commented on #14756
Sorry I forgot about this.  It is fixed now.

[2022-01-09 14:56] #14756 closed

[2022-01-09 17:06] Cheap-Skate commented on #12731
Here’s a good one of Fenix dropping into the background.

I closed all apps, available memory was 3237 MB. Not much given the kill threshold is 1126.4 MB, I only really have about 2100 MB of usable RAM on a 6 GB phone, gee thanks Samsung :(  .

* Launched Fenix 95.2.0 around 16:26:00 and started lazily restoring tabs on ecosia.org.
* At 16:26:19.224 had opened 6 tabs and `ChimeraAggressivePolicyHa

[2022-01-09 17:30] gabrielluong opened #23128 "Remove unnecessary color redirections"

[2022-01-09 18:30] Cris-- commented on #19263
The problem is that Firefox for Android v95.2.0 didn't respect the Private DNS in Android network setting (here on A12 AOSP)!
Firefox loads ads on chefkoch.de where i know there are blocked by my Private DNS.

[2022-01-09 18:31] cudla100 opened #23129 "[Bug]: Black strip at top in fullscreen of all video elements"
### Steps to reproduce

1 Start video, for example at youtube.com.
2 Setting fullscreen.

### Expected behaviour

Video should be fullscreen, but instead it resizes to smaller scale.

### Actual behaviour

Resized video, because of black strip.

### Device name

Huawei MYA-L11

### Android version

Android 6.0

### Firefox release type

Firefox

### Firefox version

95.2.0

### Device logs

https:

[2022-01-09 18:43] marcel263 commented on #23119
Became reproducible after playing a video (not full-screen). Toolbar receded a little, gesture bar (pill), disappeared

[2022-01-09 18:53] surajeet310 commented on #22432
Can I work on this ?

[2022-01-09 19:10] rashaunny opened #23130 "[Bug]:"
### Steps to reproduce

1. Open website in Firefox Android 95.2.0 (Build #2015851755)
2. https://www.wired.com/video/watch/how-meme-detectives-stop-nft-fraud?intcid=inline_amp

### Expected behaviour

Should be able to scroll down

### Actual behaviour

Cannot scroll down the page.  It immediately jumps to the top when finger is lifted.

### Device name

OnePlus 8 IN2017

### Android version

Andr

[2022-01-09 19:58] marcel263 commented on #23130
issue report at webcompat https://webcompat.com/issues/97970

[2022-01-09 20:19] vitaly-zdanevich commented on #1984
@illegalprime is it possible without cable to a computer? Can I execute similar command from a terminal in a smartphone?

[2022-01-09 20:44] boppreh commented on #22443
I'm getting these on ~50% of the pages I try to load since about a month ago, making the browser unusable. OnePlus 6 with only uBlock Origin and HTTPS Everywhere installed. Disabling sync didn't help.

[2022-01-09 20:49] boppreh commented on #22910
Same here, on OnePlus 6, Android 11, with uBlock Origin and HTTPS Everywhere. Disabling sync didn't help either. I'd say it happens about 50-70% of the time, and in some non-login pages too. Makes the browser virtually unusable.

[2022-01-09 21:09] boppreh opened #23131 "[Bug]: Auto-completed domain is not erased when user keeps typing"
### Steps to reproduce

1. Start entering a domain in the address bar (e.g. "unipr" from "unipraias.com.br")
2. Watch the rest of the domain be auto-completed after the cursor ("**unipr***aias.com.br*").
3. Keep typing something else (e.g. "uniprsomethingelse").

https://user-images.githubusercontent.com/231856/148701341-c9870e11-c271-4492-80d1-048524b25dc2.mp4

.

### Expected behaviour

When I k

[2022-01-09 21:14] #20263 closed

[2022-01-09 21:23] emilio opened #23132 "[Bug]: Fullscreen YouTube video shows toolbar-sized gap"
### Steps to reproduce

1. Go to any YouTube video like https://m.youtube.com/watch?v=27OzhD4YFcQ

2. Click the fullscreen button.

### Expected behaviour

The video takes the whole screen.

### Actual behaviour

There is a gap. See screenshot:

![Screenshot_20220109-222016](https://user-images.githubusercontent.com/1323194/148701432-5f82af3b-62a5-4d8c-8831-0d944b44132b.jpg)

Seems like a recent r

[2022-01-09 22:06] plwt commented on #7551
User feedback: https://support.mozilla.org/en-US/questions/1363654

[2022-01-09 23:16] NektoNektovich opened #23133 "Intermittent UI test failure - <Classname.testName>"
Firefox 95.2.0 android 7.1.2
The logic for working with inserts and bookmarks is terribly inconvenient. In version 68, I opened a bookmark in the current tab if a new tab was not needed. Now the bookmark is forced to open in a new tab and I have to go to the tab bar to remove the unnecessary one 😖 are you kidding me? 😤 make a setting so that you can open a bookmark in the current tab! 2- remove ke

[2022-01-09 23:27] bornolbers commented on #22504
It happens again on Firefox 96. But it is still ok on Firefox beta.

[2022-01-09 23:51] gabrielluong commented on #23124
I will bring this up with the team tomorrow. It may take some time to reach a consensus. I think it's great to see that our projects can mutually benefit for each other's support.

[2022-01-10 04:08] hokonch commented on #21090
@kbrosnan  Why not close this issue? It looks like this crash no longer occurs in the supported version (Release, Beta, Nightly).

[2022-01-10 05:58] AndiAJ opened #23136 "Intermittent UI test failure - < SmokeTest.selectSearchEnginesShortcutTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5641748024694142809/executions/bs.79ee635a336d1a64/testcases/1/test-cases)

### Stacktrace:
androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[RESOURCE_ID=org.mozilla.fenix.debug:id/search_engines_shortcut_button]
	at androidx.test.uiautomator

[2022-01-10 06:35] SoftVision-LorandJanos commented on #20240
This issue is no longer reproducible.
Verified as fixed on the latest Nightly (2022-01-10).
Device used: Oppo Reno 6 (Android 11).
Closing the ticket as fixed.

[2022-01-10 06:35] #20240 closed

[2022-01-10 06:48] Mugurell commented on #22432
Sure! Thank you!

[2022-01-10 09:32] sv-ohorvath commented on #15754
Lets keep it.

[2022-01-10 10:34] mcarare commented on #22577
Closed in https://github.com/mozilla-mobile/fenix/pull/23080.

[2022-01-10 10:34] #22577 closed

[2022-01-10 10:53] LaviniaL99 commented on #22805
Hello @PeopleInside
Thanks for your report!
I tested the above issue on the **latest Nightly build** 97.0a1(Build #2015856555) and **latest release version** RC 96.1.1 (Build #2015855931) and I was not able to reproduce the issue.

Devices used: Samsung S10E -> Android 10 / Xioami Mi11 Lite (Android 11)

Can you please confirm if you are still able to reproduce the problem on the latest builds? If

[2022-01-10 11:01] PeopleInside commented on #22805
Hi @LaviniaL99 ,
I'm still able to reproduce this with Firefox 95.2.0 that is the stable Firefox that is present in the play store.

My report is valid for the stable Firefox version that users are able to download from the official Google Play Store.
As my phone is private and I have not a test phone I cannot attach a video but you should be able to reproduce easily.

Android 11, Xiaomi Poco X3

[2022-01-10 11:01] Alexandru2909 commented on #22309
I could not reproduce this bug on both Beta and Nightly versions on Samsung J7 (Android 7) and Samsung Note 10 (Android 11). Can someone from QA confirm this is still an issue? Thank you!

[2022-01-10 11:05] chrishamm opened #23137 "[Bug]: Slash at end of hostnames opens web search instead of URL"
### Steps to reproduce

In Firefox (on desktops) you can enter a hostname, append a slash (/), and hit Enter to navigate to the entered URL. This does not work in Firefox for Android unless you prepend `http://` every time which isn't auto-completed either.

I generally try to use this feature to access the web interface of my 3D printer on my LAN but entering `ender3pro/` always opens Google Sear

[2022-01-10 11:11] SoftVision-LorandJanos commented on #22309
This issue is no longer reproducible.
Verified on the latest Nightly (2022-01-10).
Device used: Oppo Reno 6 (Android 11).
Closing the ticket as fixed.

[2022-01-10 11:11] #22309 closed

[2022-01-10 11:25] Cheap-Skate commented on #12731
Some good news.

By using a couple of tricks to avoid the two problems Fenix runs really well. I've had 35 tabs open and active all morning plus some other apps as well (email, Signal, podcast player, etc). I reckon I could push it to 40 tabs :)

The tricks are
* use a recent Nightly to avoid the "tab suspend" feature
* put Fenix into the background *every time* you switch tabs to avoid the "WebRe

[2022-01-10 11:30] LaviniaL99 commented on #22803
Hello @marcel263
Thanks for your report!
I tested the above issue on the latest Nightly build 97.0a1(Build #2015856555) and latest release version RC 96.1.1 (Build #2015855931) and I was not able to reproduce the issue.

After long tapping on a tab from **Recently visited section** and the "remove" menu is displayed, I'm not able to scroll horizontally on **"Recently visited section"** neither ver

[2022-01-10 11:34] LaviniaL99 commented on #22805
Hi @PeopleInside

I just installed the latest version of Firefox that is available on Play Store(95.2.0) and i'm still not able to reproduce the issue.

Are there any additional steps that you follow other than the ones mentioned in the ticket?

[2022-01-10 11:58] marcel263 commented on #22803
Hello @LaviniaL99

The bug is still reproducible. It may be affected by the state of the keyboard. In the screen where one arrives after pressing the address bar, after opening and closing the keyboard, it becomes reproducible. And even more, pressing the "remove" just opens the item behind, like it's transparent. Please see the video evidence.

https://user-images.githubusercontent.com/76437842/1

[2022-01-10 12:00] LaviniaL99 opened #23138 "[Bug]: "Recently visited section" - Switching between portrait and landscape mode, the Remove menu is overlapping the URL bar"
### Steps to reproduce

1. Enable Portrait mode from your device
2. Open some sites
2. Navigate to the Homepage -> Recently visited section
3. Long tap on a tab from Recently visited section
4. Switch from portrait to landscape mode

### Expected behaviour

The Remove menu must not overlap the URL bar when switching between portrait and landscape mode.

### Actual behaviour

The Remove menu is ove

[2022-01-10 12:24] SoftVision-LorandJanos commented on #19567
Verified as fixed on the latest Nightly (2022-01-10).
Device used: Oppo Reno 6 (Android 11).
Closing the ticket as fixed.

[2022-01-10 12:24] #19567 closed

[2022-01-10 12:28] PeopleInside commented on #22805
@LaviniaL99

I visit a website than in the browser menu i press to add to the home screen.
No link is added on the home screen.

https://user-images.githubusercontent.com/5006150/148765891-01a1fbcf-2787-4340-b357-9df9cfe17e2f.mp4

![photo_2022-01-10_13-27-58](https://user-images.githubusercontent.com/5006150/148765908-18128261-5062-4b5a-9230-237adcf8ae8e.jpg)

[2022-01-10 12:33] Alexandru2909 commented on #22189
Hi, I would like to work on this issue!

[2022-01-10 12:37] LaviniaL99 commented on #22634
Hello @nickcorrado
Thanks for your report!
I tested the above issue on the latest Nightly build 97.0a1(Build #2015856555) and latest release version RC 96.1.1 (Build #2015855931) and I was not able to reproduce the issue.

**Devices used:**

- Samsung S10E -> Android 10
- Samsung Galaxy A32 5G->  Android 11
Can you please confirm if you are still able to reproduce the problem on the latest builds?

[2022-01-10 13:04] Mugurell commented on #23138
We could close the menu when the screen is rotated.

[2022-01-10 13:08] Amejia481 commented on #23104
Sorry for the inconveniences, there is a fix (https://github.com/mozilla-mobile/fenix/commit/28928e4bddc1f12fefb37c73f74d06ad4d8bae20) that will be available in the next nightly update.  Even thought it doesn't look like but the feedback we are getting help us to polish and shape the feature early.

[2022-01-10 13:15] Amejia481 commented on #22189
@Alexandru2909 thanks for interesting on this bug, lets just confirm with @S10MC2015. if we don't get any update after a day, please feel free to work on it, as it's been a long time since the last update.

[2022-01-10 13:17] Amejia481 commented on #17810
As we already address most of the ticket, I think it's OK to close this, we can track the remaining work on #17805

[2022-01-10 13:17] #17810 closed

[2022-01-10 13:43] LaviniaL99 commented on #23138
Hi @Mugurell

For consistency, the "remove" menu remains open when switching from portrait to landscape mode.

[2022-01-10 13:55] LaviniaL99 commented on #22644
Hello @hwinnemoe
Thanks for your report!
I tested the above issue on the latest Nightly build 97.0a1(Build #2015856555) and I was able to reproduce the issue.

**Devices used:**

Samsung S10E -> Android 10
Pixel 6 -> Android 12

![1641822504251](https://user-images.githubusercontent.com/96047134/148777423-6fa104e9-c70f-4c43-ab4d-39997a2722b8.JPEG)

[2022-01-10 14:01] mcarare commented on #23138
We close the menu on screen rotation for multiple menus in the app, I think we should maybe do it everywhere?

[2022-01-10 14:04] Cheap-Skate commented on #12731
40 Fenix tabs open and active, plus Signal, email, a music player, a weather app, Calendar, Gallery and an e-reader. I use Nightly and put it into the background *every time* I switch tabs.

Swapping between apps is a little slow, they often have to repaint their UI I think. But all is stable and usable and has been for hours. In logcat there are a lot of `onTrimMemory() level 15` messages to vari

[2022-01-10 14:18] NektoNektovich opened #23139 "setting up the website design theme"
although I really liked the interface of firefox android up to version 57, which was nicer to the eyes and more convenient, but the current dark theme is also not bad. However, I really don't like that some sites, such as github, automatically include a dark site theme if firefox has a dark interface theme enabled, and I like light site themes, but a dark browser interface theme. I ask you to make

[2022-01-10 14:32] SoftVision-LorandJanos commented on #23132
Hi @emilio! Thanks for your report!
I couldn't reproduce the issue you described.
Tested in the latest Nightly (2022-01-10) and latest Release (96.1.1) using the following devices:
- Oppo Reno 6 (Android 11).
- Google Pixel 4 (Android 12).

Please check if you reproduce it with a clean build. Or check if you're using other apps or made some changes in settings that might cause this issue. Thank yo

[2022-01-10 15:19] sflorean commented on #22840
I was able to reproduce the issue on Pixel 3 (Android 12) and Nightly 1/10 using the link from description. The second video is corrupt, but switching to landscape - resolve the issue.

[2022-01-10 16:17] emilio commented on #23139
This is related to https://bugzilla.mozilla.org/show_bug.cgi?id=1736218, fwiw.

[2022-01-10 16:18] emilio commented on #23139
In nightly you can achieve it via `about:config`, setting `layout.css.prefers-color-scheme.content-override`

[2022-01-10 16:21] rocketsroger commented on #22561
This is fixed in Nightly.  Closing.

[2022-01-10 16:26] rashaunny commented on #23130
Thanks 😊

[2022-01-10 16:30] Cheap-Skate opened #23140 "[Bug]: Fenix killed due to excessive CPU, not logged in Fenix crash reporter"
### Steps to reproduce

I was investigating #12731, I had 40 tabs open. While the screen was off & phone in my pocket Fenix Nightly crashed completely, no trace of it and no crash report.  It as using PIDs 10909, 14008 and 13672 so given those PIDs and the time window in which it crashed I think this is relevant:-

`01-10 15:47:31.514  1392  1432 I ActivityManager: Killing 10909:org.mozilla.fenix/

[2022-01-10 16:52] SoftVision-LorandJanos commented on #23130
Hi @rashaunny! Thanks for your report!
I was able to reproduce your issue on the latest builds:
- latest Nightly (2022-01-10).
- latest Release (96.1.1)
- Chrome.

The behavior on Chrome is similar with the following difference: most of the time the page needs to be scrolled to the bottom in order for it to reset to the top. Sometimes it can be normally scrolled to a chosen position in the page be

[2022-01-10 17:05] #22869 closed

[2022-01-10 17:09] mcarare commented on #21481
@mariansima Can you confirm if you are using Talkback or the Samsung screen reader?
Also, if you are using Talkback can you please mention the version listed in settings (should probably be the last item in list)?
Thank you!

[2022-01-10 17:16] anotherus3r commented on #20352
Still an issue on latest Nightly (2022-01-08T17:13:45.860487)

[2022-01-10 17:18] emilio commented on #23132
Git bisect says: 5d8587e5d195d24a7459dcf7a54ad4ed25c14bbc is the first bad commit. @MickeyMoz do you know how to tell which gecko and android-components changes does that include?

[2022-01-10 17:39] Mugurell commented on #23132
Might be because of https://github.com/mozilla-mobile/android-components/pull/11375. Will look into it.

[2022-01-10 17:48] emilio commented on #23132
Yeah, thanks to @MickeyMoz who helped me to get the android-components commits (below for my own reference):

[code]

I came up with the range https://github.com/mozilla-mobile/android-components/compare/796891a1ea2c5b5362fc1a322d83335f24d0bd62...a24ab928db495a17281a0bab0d957b6399def131, which indeed points at your changes. Thanks for looking into it! Let me know if I can help with something :)

[2022-01-10 18:15] LaurentiuApahideanSV commented on #9294
I tested the issue on the latest Firefox Preview Nightly 2022-01-10.
The "Clear cookies and site data" button is present after tapping the lock icon.
I tested it's functionality by following these steps:
1. Go to a site that requires cookies (cnn.com, bbc.com)
2. Accept the cookies;
3. Tap the lock icon;
4. Tap the "Clear cookies and site data" button and Delete;
5. Reload the site.
6. The prompt

[2022-01-10 18:27] Cheap-Skate commented on #23140
Here it is again, phone was asleep and in my pocket, PIDs were 22207, 26278, 24683. One of the content processes got killed so I had to reload half my tabs. Nothing interesting in the log before 18:01:25.495.

01-10 18:01:25.495  1392  1432 I ActivityManager: Killing 26278:org.mozilla.fenix:tab36/u0a275 (adj 920): excessive cpu 7690 during 300150 dur=1166352 limit=2
01-10 18:01:25.714  1392  1435

[2022-01-10 18:33] maverick74 commented on #13336
@czlucius does this have any chance of landing (at least as an option)?

[2022-01-10 19:03] NektoNektovich commented on #23139
thanks, it worked in fennec f-droid! it's a pity that there is no obvious setting :) please tell me more: 1- how to configure the opening of a bookmark in the current tab? 2- how to remove the house button near the address bar, or replace it with the refresh/stop button?

спасибо, сработало в fennec f-droid! жаль, что нет очевидной настройки :) подскажите пожалуйста еще: 1- как настроить открытие

[2022-01-10 19:52] kbrosnan commented on #23133
This is feedback on several ideas and not a single report. Closing as we have issues opened for many of these requests.

[2022-01-10 19:52] #23133 closed

[2022-01-10 20:11] kbrosnan commented on #23139
Duplicate of https://github.com/mozilla-mobile/fenix/issues/20635

[2022-01-10 20:11] #23139 closed

[2022-01-10 21:44] kbrosnan commented on #23129
The crashes are tracked at https://github.com/mozilla-mobile/fenix/issues/20872 and unrelated to this problem.

[2022-01-10 21:45] kbrosnan commented on #23137
Duplicate of https://github.com/mozilla-mobile/fenix/issues/12641

[2022-01-10 21:45] #23137 closed

[2022-01-10 21:58] Obscerno commented on #13336
@czlucius I'm really interested to know what happens in your debug version if you try to run a bookmarklet from the menu that's meant to be applied to the current page. For example, something simple like this bookmarklet that strips css from the page:

`javascript: (function() { var i, x; for (i = 0; x = document.styleSheets[i]; ++i) x.disabled = true; })();`

_(To add bookmarklets you have to boo

[2022-01-10 22:23] gabrielluong opened #23142 "Fix license formatting in tests"

[2022-01-10 22:36] kbrosnan commented on #23057
Thanks for the investigation @mcarare and the confirmation that it is fixed @SoftVision-LorandJanos

[2022-01-10 22:50] emilio commented on #20635
https://bugzilla.mozilla.org/show_bug.cgi?id=1736218 tracks adding ui for this on Firefox, not sure if Fenix wants such thing too.

[2022-01-11 00:04] bornolbers commented on #22504
@kbrosnan, Firefox 96 stable causes the same issue. Also after remove and reinstall. Although 96 beta, is ok since the beginning.

[2022-01-11 00:12] mcomella opened #23144 "111% regression in COLD start MAIN time to first frame from 1/5-1/7"
<img width="450" alt="image" src="https://user-images.githubusercontent.com/759372/148855499-0587f5c6-ba5a-43e3-8da2-d75757280bfe.png">

We see a recent regression in COLD start MAIN time to first frame:
- 1/5: 1.474s
- 1/6: 2.875s
- 1/7: 3.113s (and it stabilizes)

From **1/5-1/7 is a regression of 111.2% or 1639ms.** Let's investigate to find out the cause.

I took a profile with `Debug` on Jan.

[2022-01-11 00:35] emilio opened #23146 "[Bug]: permanently loading when trying to download a file."
### Steps to reproduce

1. Go to https://t.co/OD0YuiXnF3

### Expected behaviour

A download popup appears and I can download the file.

### Actual behaviour

The loading bar keeps gets stuck, nothing apparently happens.

Release works correctly.

### Device name

OnePlus 9 pro

### Android version

Android 11

### Firefox release type

Firefox Nightly

### Firefox version

97.0a1 (Build #20158565

[2022-01-11 00:35] NektoNektovich opened #23147 "how to remove the house button from the address bar?"
Never used the home button in browsers. How can I remove it from the panel or replace it with the refresh / stop button? This is configurable on a computer browser, please do the setting here too!

Никогда не пользовался кнопкой дом в браузерах. Как ее убрать с панели и заменить кнопкой обновить/остановить? На компьютерном браузере это настраивается, сделайте пожалуста настройку и здесь!

[2022-01-11 00:36] emilio commented on #23146
Beta also behaves correctly.

[2022-01-11 05:32] kbrosnan commented on #23147
Duplicate of https://github.com/mozilla-mobile/fenix/issues/19918

[2022-01-11 05:32] #23147 closed

[2022-01-11 06:17] czlucius commented on #13336
I will have to wait for the fenix team to approve these changes first.

[2022-01-11 06:18] czlucius commented on #13336
Currently bookmarklets don't work yet, but I can try working on that.

[2022-01-11 06:56] surajeet310 commented on #22432
Can you tell me where to begin ?

[2022-01-11 08:10] madb1lly commented on #12731
Hi @Cheap-Skate,
I wish that Mozilla would put a cheque in the post to you for all your hard work! Even if you've not found the root of the problem I think you've definitely found a problem of some kind.
Now, to wait and see if the devs reply or do anything about it. If not, then I'll be leaving Fenix.
Cheers 🙂

[2022-01-11 09:10] sheikh-azharuddin commented on #23132
I am getting a white bar in the bottom
![Screenshot_20220111-111956403](https://user-images.githubusercontent.com/58127841/148913635-e79844e6-8b64-4d06-8bb9-0d7c001d4239.jpg)

[2022-01-11 10:10] maverick74 commented on #13336
From what I know the way fenix is working now is the way they intend it to work, so I assume they will only accept it if it comes as an off-by-default option... (would be great to have this behavior as the standard)

[2022-01-11 10:33] czlucius commented on #13336
There seems to already be an "Open in new tab" button, although the behavior it triggers is different (it opens the tab tray with the tab instead of going to the tab).

[2022-01-11 10:42] tasosb commented on #23066
I will try to fix this issue

[2022-01-11 11:03] Cheap-Skate commented on #23140
Again

20 tabs open, Nightly 2022-01-11, phone had screen off and was in my pocket, Fenix was in the background.

I think Fenix PIDs were 22285 (main), 26711 (content), 26244 (content). I put a couple of log items before the critical `01-11 10:25:59.258  1392  1432 I ActivityManager` log item

I think this happens quite often, a few times a day for me. It explains why often in the morning some or

[2022-01-11 11:37] maverick74 commented on #13336
Yes, i just don't get it why there is not one to "Open in the current tab"... The way it's working does not make any sense to me!!!
I have to delete all tabs at least once a week because i can't reuse the current tab i'm in to load a bookmark.

**Would be awesome if you could merge your changes!!! It would really be a good change :)**

[2022-01-11 11:43] S10MC2015 commented on #22189
@Alexandru2909 can work on it.

Sorry I haven't done any work. I don't think I'll have the time to work on for a while either.

[2022-01-11 12:02] Cheap-Skate commented on #23126
See also #23140, I think there needs to be a long term stability test too, eg open X tabs, check they are all loaded, leave phone with screen off for 24 hours, are all X tabs always still loaded, or do some/all reload?  I think X should be a fairly big number.

[2022-01-11 12:21] canova opened #23150 "Remove the "threads" profiler feature from the setup-startup-profiling.py script"
Previously we had the "threads" feature in the gecko profiler but we removed it in [Bug 1729815](https://bugzilla.mozilla.org/show_bug.cgi?id=1729815). This feature is still provided in the `tools/setup-startup-profiling.py` file here:
https://github.com/mozilla-mobile/fenix/blob/622a4f57d0f03dcac157d9d5ece9c5bc74289b98/tools/setup-startup-profiling.py#L23-L28

This feature was removed because it

[2022-01-11 12:57] ANDREW007CZ opened #23151 "[Bug]: part of 3dot popup menu hidden"
### Steps to reproduce

Tap on 3dot menu in normal mode (no keyboard showed).

### Expected behaviour

Whole menu should be visible or scrollable

### Actual behaviour

Menu is not visible as whole and is not scrollable. Settings line is not visible. Need to go to portrait to be able to scroll.

### Device name

Lenovo Tab 3 8 Plus

### Android version

Android 6

### Firefox release type

Firefox

[2022-01-11 14:09] SoftVision-LorandJanos opened #23152 "[Bug][L10N]: "No internet connection" message is not translated in Hindi"
### Steps to reproduce

1. Set the app language to Hindi.
2. Load a page without an internet connection and observe the error message.

### Expected behaviour

The "No internet connection" error message is translated in Hindi.

### Actual behaviour

The "No internet connection" error message is not translated in Hindi.

### Device name

Oppo Reno 6

### Android version

Android 11

### Firefox rel

[2022-01-11 14:22] SoftVision-LorandJanos commented on #22365
Based on #22495, as the inactive tabs survey is turned off, I will close this ticket.

[2022-01-11 14:22] #22365 closed

[2022-01-11 14:22] SoftVision-LorandJanos commented on #22200
Based on #22495, as the inactive tabs survey is turned off, I will close this ticket.

[2022-01-11 14:22] #22200 closed

[2022-01-11 14:28] mcarare commented on #23146
I cannot reproduce this on latest main.

[2022-01-11 16:00] emilio commented on #23146
Huh, now it works. I guess I might have gotten unlucky with my network or something? Let's call this WFM, I'll reopen if I find a way to repro it consistently again.

[2022-01-11 16:00] #23146 closed

[2022-01-11 16:19] Cheap-Skate commented on #23140
I thought it might be add-ons, it's not. I disabled them all and it still happens.

Here main process is PID 22285, content process PID 29046 gets killed at 15:57:39.626 for excessive CPU use. But first there are slowdown warnings.  Also, the kill seemed to happen when I walked back into coverage of my WiFi network, the WiFi stack is very chatty just before the kill. Coincidence? Dunno?

There are

[2022-01-11 16:57] canova commented on #23150
@mcomella I just got a chance to test it on my Android phone and I can confirm that it fixes the crash that was happening before. The crash shouldn't usually happen though, it should skip the unrecognized features with a warning. I filed [Bug 1749498](https://bugzilla.mozilla.org/show_bug.cgi?id=1749498) for that.

[2022-01-11 16:59] Obscerno commented on #13336
Thanks for trying it! Yes they've been fixed relatively recently, the only issue now is that they aren't applied to the current page when called from the bookmarks menu. There is a workaround where you can type the bookmark name in the address bar and select the suggestion, but it would be nice if it worked from the menu too

[2022-01-11 17:35] eliserichards commented on #22511
@topotropic do we have any icon choices that are already created? Or would this involve UX creating a bunch of new icons?

[2022-01-11 17:45] gabrielluong opened #23156 "Remove all unused strings marked moz:removedIn <= 95"

[2022-01-11 18:32] #23142 closed

[2022-01-11 19:38] #23156 closed

[2022-01-11 19:56] MozillaNoah opened #23159 "Add setting for Contile to turn off shortcuts"
https://mozilla-hub.atlassian.net/browse/FNXV2-18742

[2022-01-11 20:04] #23128 closed

[2022-01-11 20:22] Amejia481 opened #23160 "[Crash reporter] ArrayIndexOutOfBoundsException: length=320; index=331"
Top 10 in Socorro https://crash-stats.mozilla.org/report/index/136df7a3-1584-43d9-a988-60c440220111

Sentry nightly https://sentry.prod.mozaws.net/operations/firefox-nightly/?query=is%3Aunresolved+ArrayIndexOutOfBoundsException
Sentry Beta
https://sentry.prod.mozaws.net/operations/firefox-beta/?query=is%3Aunresolved+ArrayIndexOutOfBoundsException
Sentry Stable
https://sentry.prod.mozaws.net/operat

[2022-01-11 21:19] grigoryk commented on #22910
Just speculating for now, but so far this is the only new issue I found that aligns in terms of its uptick and when ya'll started to have problems (mid-December): https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/16150050/

[2022-01-11 22:26] #20284 closed

[2022-01-11 22:26] #19784 closed

[2022-01-11 22:26] #18079 closed

[2022-01-11 22:26] #20160 closed

[2022-01-11 22:56] grigoryk commented on #22795
Just hit this on my Nexus 6P, it's absolutely unusably slow there with my profile (I have a few hundred login records).

[2022-01-11 23:31] grigoryk commented on #22795
I entirely agree with: "I don't think stripping the suffix would improve alphabetical sorting" - we're sorting by `origin`, so it doesn't really matter what the suffix is for alphabetical sorting, and actually it could result in non-stable sorting order for origins such as `amazon.ca` vs `amazon.com`.

Confirmed locally that yes, this solves the performance problem and search is nice and snappy fo

[2022-01-11 23:48] grigoryk commented on #22795
Looking back through commits, doesn't seem like there's a particularly good reason we were trimming here. All I could find is https://github.com/mozilla-mobile/fenix/pull/9986#discussion_r420638558 which is lacking explanation of why this is actually useful.

And currently, we're dealing with an `origin` (not a full `url` when this was initially written, I think), i.e. `https://accounts.firefox.co

[2022-01-12 01:00] mcomella commented on #23150
I confirmed the fix and opened a PR: https://github.com/mozilla-mobile/fenix/pull/23162

[2022-01-12 01:00] mcomella commented on #23150
Thanks @canova for the quick diagnosis and suggested fix!

[2022-01-12 01:06] mcomella commented on #23144
I took start up profiles with the Firefox Profiler. Here they are trimmed to the first frame (onPreDraw):
- Nightly 1/5 (1s): https://share.firefox.dev/3zOY8Ra
- Nightly 1/10 (4.5s): https://share.firefox.dev/3nhRzBP

Curiously, they look very similar (i.e. similar proportions to the calls): it's just that in the later Nightly, everything seems to take longer. 🤔 This reminds me of what we saw with

[2022-01-12 01:33] grigoryk commented on #22795
https://github.com/mozilla-mobile/fenix/pull/23163 makes this work very nicely for me - fast, and scroll position is now reset to the first item after changing search terms or changing sort type.

[2022-01-12 03:44] mstange commented on #16577
Still an issue.

[2022-01-12 04:33] INTRASERVER opened #23165 "[Bug]: White buttom bar GUI glitch with latest OneUI 4."
### Steps to reproduce

Firefox GUI issue on Samsung Galaxy Note 20 Ultra with latest OneUI4 stable update. I've been reporting UI issue to Samsung while ago since beta was available. So now with final/stable issue persist. It is random. When firefox not been open for while and you open it then it comes with this GUI glitch.
![Screenshot_20220112-031325_Firefox](https://user-images.githubuserconte

[2022-01-12 07:05] v-kpheng commented on #22840
Thanks, @sflorean 🙏

@kbrosnan, issue is only reproducible on certain phone models.  Both @sflorean and I were able to reproduce on Pixel 3s.

[2022-01-12 08:11] E0697 commented on #19376
It's no longer reproducible on my side. Sorry for taking long to respond.
I'll close the issue.
Thank you for your cooperation!

[2022-01-12 08:12] #19376 closed

[2022-01-12 08:12] E0697 commented on #19376
It's no longer reproducible on my side. Sorry for taking long to respond.
I'll close the issue.
Thank you for your cooperation @SoftVision-LorandJanos .

[2022-01-12 08:35] #9294 closed

[2022-01-12 09:03] plwt commented on #10217
User feedback: https://support.mozilla.org/en-US/questions/1363912

[2022-01-12 09:30] #22562 closed

[2022-01-12 09:49] cortinico commented on #23124
As a little side note: we're happy to showcase the project somewhere on our website as well if we end up doing it 👍

[2022-01-12 10:00] #20291 closed

[2022-01-12 10:25] mcarare commented on #22570
Closing this as this is not something we want to support( having two open apps) and it would involve significant changes in workflow.

I still am curious about how this situation was possible, maybe @nvxarm would want to add some more details.

[2022-01-12 10:25] #22570 closed

[2022-01-12 10:35] sflorean commented on #22879
Verified as fixed on Nightly build with Pixel 3 (Android 12). _Custom_ is displayed for custom search engines added as default.

[2022-01-12 10:37] #22879 closed

[2022-01-12 10:40] sflorean commented on #23146
I wasn't able to reproduce this issue following the steps, on latest Nightly with OnePlus 9. Removing the qa label.

[2022-01-12 10:47] czlucius commented on #16152
Hi
I'd like to work on this issue.

[2022-01-12 10:53] czlucius commented on #16152
Now that the select tabs button and add to collection button is gone, only the tabs in grid view need to be styled.

[2022-01-12 10:58] sheikh-azharuddin commented on #18175
This feature is added recently to the firefox focus browser....we also need it 😭
https://www.engadget.com/firefox-focus-android-total-cookie-protection-privacy-140011016.html

[2022-01-12 11:14] czlucius commented on #16152
![Screenshot_20220112-191251_Firefox Preview](https://user-images.githubusercontent.com/58442255/149129914-25cadb72-8a23-4ee2-bfee-f6181cfd650f.jpg)

Here's the fixed version on night/dark mode.

I used the colors defined in fenix instead of hardcoding the values:
background -> @color/photonDarkGrey50
border -> @color/photonDarkGrey10
active tab border -> @color/photonViolet40
font color -> @color

[2022-01-12 11:41] SoftVision-LorandJanos commented on #21489
Works as intended on the latest Nightly 98.0a1 (2022-01-12).
Device used: Google Pixel 4 (Android 12).
Closing the ticket as fixed.

[2022-01-12 11:41] #21489 closed

[2022-01-12 12:52] sv-ohorvath opened #23167 "[Bug]: HMTL files saved as HTM on Android 9 &8"
### Steps to reproduce

1. Go to one of these pages:
https://storage.googleapis.com/mobile_test_assets/test_app/downloads.html
https://filesamples.com/formats/html
2. Download the HTML files.
3. Observe the file extension in the download prompt.
4. Check the file extension in the Downloads menu
5. Check the file extension in the device Downloads folder.

### Expected behaviour

The file is saved w

[2022-01-12 13:03] czlucius commented on #13336
This fix appears to cause another problem:
If the user opens a new tab through Tabs tray -> New Tab, and then clicks on the bookmark, presumably to open the bookmark in a new tab, the bookmark will still open in the user's previous tab.

[2022-01-12 14:21] LaurentiuApahideanSV commented on #21119
I can confirm the issue is reproducible on Firefox Preview Nightly 2022-12-01.
### Device used:
- OnePlus 6T (Android 9)

[2022-01-12 14:25] headbank commented on #10217
I wonder if, using Javascript, one could generate a static copy of the current page and feed it into the [Share API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Share_API)?

It would require external resources like stylesheets and images to be converted to inline formats, but both of these I know are possible. More complex content like canvas/svg might be less so, though.

Since bookmarkl

[2022-01-12 14:28] Amejia481 commented on #22910
@gyrofrog ,@boppreh, @tkhyn and @parcelcat would you mind trying on Firefox [nightly](https://play.google.com/store/apps/details?id=org.mozilla.fenix) ?

[2022-01-12 15:35] LaviniaL99 commented on #22904
Hello @994PhiJ
Thanks for your report!
I tested the above issue on the latest Nightly build 98.0a1 and latest release version RC 96.1.1 and I was not able to reproduce the issue.

Devices used:

- Samsung S10E -> Android 10
- Galaxy A32 5G-> Android 11

Can you please confirm if you are still able to reproduce the problem on the latest builds? If yes, please attach a video.
Thanks!

[2022-01-12 16:12] SoftVision-LorandJanos commented on #19256
This issue is no longer reproducible on the latest Nightly (2022-01-12).
Device used: Google Pixel 4 (Android 12).
Closing the ticket as fixed.

[2022-01-12 16:12] #19256 closed

[2022-01-12 16:15] LaviniaL99 commented on #23131
Hello @boppreh
Thanks for your report!
I tested the above issue on the latest Nightly build 98.0a1 and latest release version RC 96.1.1 and I was not able to reproduce the issue.

Devices used:

- Samsung S10E -> Android 10
- Galaxy A32 5G-> Android 11

[2022-01-12 16:34] CT702-7 commented on #4343
It is such a pity that the question remains in version 96.1.1 .It makes me difficult to access some websites by cellphone via ipv6. However,  by adding the address into bookmark can temporarily solve this issue.

[2022-01-12 16:42] LaurentiuApahideanSV commented on #20906
I tried to reproduce the issue on Firefox Preview Nightly 2022-12-01 but was unable. Since the reporter hasn't provided additional information for a long time I will mark this issue as closed:
### Devices used:
- OnePlus 6T (Android 9)
- Google Pixel 6 (Android 12)

[2022-01-12 16:42] #20906 closed

[2022-01-12 16:46] boppreh commented on #22910
I actually haven't had any crashes in the past two days, even though Android says the Firefox app has not been updated. Since the original error was lock-related, I assume whatever race was crashing the browser before is now completing in a benign way.

[2022-01-12 16:51] sheikh-azharuddin opened #23170 "Block ads in firefox main browser same as firefox focus"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of