[2019-12-31 16:52] mcomella opened #7441 "LoggerFactory.getLogger unnecessarily init during startup"
`LoggerFactory.getLogger` (called by `SentryClientFactory.init`) takes 1.6% of `FenixApplication.onCreate` startup time (with Leanplum enabled). The client factory doesn't need to be initialized this early. This is ~6.87ms of startup on the Pixel 2. It's not much but it's a pretty easy to change: `SentryService`s `AndroidClientFactory` should be lazily initialized.

<img width="370" alt="Screen Sh

[2019-12-31 16:54] AmyYLee commented on #7313
The current light theme is correct.
Private theme is attached:

<img width="739" alt="Screen Shot 2019-12-31 at 11 53 10 AM" src="https://user-images.githubusercontent.com/5992746/71628092-476afe00-2bc4-11ea-91e4-a6091a31269b.png">

[2019-12-31 17:33] #5577 closed

[2019-12-31 17:37] mcomella opened #7442 "Leanplum occassionally does main thread DB write in HomeActivity.onResume (only on cold startup?)"
In one of the three cold startup profiles I currently have open, `LeanplumActivityHelper$2.onActivityResumed` takes roughly the full duration of `HomeActivity.onResume` to do a main thread DB write. For comparison, this operation is the same as 41.9% of `FenixApplication.onCreate` and 219% longer than Leanplum takes to init (which is already a long operation). The DB write takes 296ms compared to

[2019-12-31 17:41] emilio opened #7443 "[Bug] Downloading file opens a gazillion "Open" prompts that crash the browser"
## Steps to reproduce

Same as #6656. Now it does work (if you're fast enough...), but see below.

### Expected behavior

Just one dialog.

### Actual behavior

If you're not fast enough, then eventually a ton of dialogs appear and eventually crash the process.

### Device information

* Android device: Same as in the other issue
* Fenix version: Current nightly.

[2019-12-31 17:41] emilio commented on #6656
This does indeed work now, but at least on my device there's another issue, see #7443.

[2019-12-31 17:48] emilio commented on #7443
![20191231_184607](https://user-images.githubusercontent.com/1323194/71629478-0bed2580-2bfe-11ea-82eb-7211113293cf.gif)

Video of the issue.

[2019-12-31 17:49] emilio commented on #7443
(cc @sblatz / @AndiAJ, it'd be good to know if this happens on other devices too)

[2019-12-31 17:50] sblatz commented on #7443
@emilio does this happen for you with other files? Or just PDFs?

[2019-12-31 17:53] boek commented on #7437
@sblatz looks like also images 👍

[2019-12-31 17:56] emilio commented on #7443
I don't know, I'll check. I don't download files all that often :-)

[2019-12-31 17:59] apbitner opened #7445 "[Bug] Onboarding cards design are incorrect"
## Steps to reproduce
View onboarding cards in Nightly

### Expected behavior
Onboarding cards design should match spec - https://share.goabstract.com/9507950f-cabb-415d-b4fa-1e9ee5229621?mode=design&sha=ef645ef177c4a306de7c11311122b689b6b1c192

### Actual behavior
At some point the card design regressed and no longer matches the spec:

![image](https://user-images.githubusercontent.com/22176302/7

[2019-12-31 17:59] emilio commented on #7443
Happens also long-tapping on the GIF above and pressing "Save image". So not pdf-specific.

[2019-12-31 18:04] mcomella commented on #7442
I see a similar event in `HomeActivity.onCreate` that's triggered by our own `LeanplumMetricsService.track` call:

<img width="289" alt="Screen Shot 2019-12-31 at 10 03 32" src="https://user-images.githubusercontent.com/759372/71629893-d53eed00-2bb4-11ea-9b60-ad65ab6bc127.png">

[2019-12-31 18:05] sblatz commented on #7437
Closing as dup of #7443

[2019-12-31 18:05] #7437 closed

[2019-12-31 18:06] mcomella opened #7446 "File low hanging fruit for view-related cold startup perf improvements"
Important note: we're in the process of moving the tabs to a "Tabs tray" #1063 which could invalidate some of the optimizations we identify here.

---

View inflation & later view tree traversal is rather expensive on cold startup: looking at the "Bottom Up" view, view-related activities take ~32.55% of cold startup, when excluding the dex load (`LayoutInflater.inflate` takes ~15.62% of cold start

[2019-12-31 18:06] ekager commented on #7420
I believe that is an action provided by another app, so I'm not sure we can modify this icon

[2019-12-31 18:14] sblatz commented on #7443
It's happening on download files :) I'm working on it

[2019-12-31 18:15] emilio commented on #7443
Sweet, thanks @sblatz!

[2019-12-31 18:18] ekager commented on #7431
The action in the toolbar is sent to our custom tab with a pending intent from the originating app [(See `CustomTabActionButtonConfig`)](https://github.com/mozilla-mobile/android-components/blob/master/components/browser/state/src/main/java/mozilla/components/browser/state/state/CustomTabConfig.kt#L66). In this case, the app is sending an intent to launch the system share sheet. The action in the

[2019-12-31 18:33] sblatz commented on #7443
Omg thank you so much for filing this @emilio! I was having a weird out of memory exception in my tests on AC and this is definitely that issue. I was trying to track it down for several days 😅

[2019-12-31 18:33] AmyYLee commented on #6381
@liuche I thought we were only able to set "Open links in private tab" if Fenix was set as a default? If this is not the case then yes we should break these items out into separate toggles. Please confirm and I'll post a mock.

Hi @liuche

In that case yes let's make "Open links in a private tab" a toggle and not have it be the child. This should also be moved to the "Privacy" section.

Now that w

[2019-12-31 18:45] emilio commented on #7443
Nice! Happy to help :D

Thanks for all your work in AC / Fenix, it's pretty cool ^.^

[2019-12-31 18:46] liuche commented on #7421
Amy will check w/ shorlander about the decision behind this, and next steps. Is pretty easy to destroy data that is time-consuming to curate.

[2019-12-31 18:58] liuche commented on #7332
@grigoryk since we're pulling the enabled engines from Sync, any ideas why this might be happening? Seems like a bug in Sync, but also let us know if you have ideas otherwise.

[2019-12-31 18:59] liuche commented on #7401
Will surface to GV team to pass on to WR team. WR will also only ship default on for Pixel devices, until after 75 release.

[2019-12-31 19:01] boek commented on #7445
Let's find out what caused this regression so we don't accidentally do it again.

[2019-12-31 19:01] boek commented on #7445
related: #5711

[2019-12-31 19:07] liuche commented on #7376
Sounds like background tasks that are getting retried (maybe background syncs), but continuing to crash. This is kind of a general problem, but maybe @csadilek you can give some advice here. What are some things that we can do about this? Ideally all background services will have their own backoff, and when we see these crashes the caller can add that, but can we enforce something on the AC/Fenix

[2019-12-31 19:09] boek commented on #7295
We can probably reference the ActivationPing when creating this new ping

[2019-12-31 19:21] mcomella commented on #5506
FenixApplication.onCreate takes 28.80% of cold startup time.

Here's a breakdown of what percentage of `FenixApplication.onCreate` each method takes up. Each indent indicates a method that was called by the unindented method; the percentages of these methods is the percentage of `FenixApplication.onCreate` each method takes up.
[code]

[2019-12-31 19:31] liuche commented on #2166
Going to close this now that we have #6375 ETP Discovery & Education

[2019-12-31 19:35] apbitner commented on #4840
If the widget can not follow the app theme setting, can we have it follow the OS theme setting?

Found this on a help page for the Google Calendar app:

[2019-12-31 19:38] NotWoods commented on #7418
We can't restrict this on the OS level but we could hide/change the menu option if we detect that the PWA is installed.

[2019-12-31 19:42] liuche commented on #2550
@gabrielluong I know you were talking about this - do you know if this could easily exposed in Fenix bc we use Gecko/GV, or is there a lot more work that would need to be done? I'm really looking at if this is something quick and easy that already exists, or if we'd need to do a lot more work.

@vesta0 wondering if this is something that we'd like to do, if it's cheap to expose through Gecko?

[2019-12-31 20:29] s-ankur opened #7447 "[Bug] Send to all devices lags, clicking twice during this crashes firefox"
## Steps to reproduce
Have firefox account with multiple devices(>3)
Click on share, send to all devices
There is some lag
click on send to all devices again
### Expected behavior
no change
### Actual behavior
crash
### Device information

* Android device: Asus Zenfone M1
* Fenix version:
Nightly 191230 18:01 (Build #13641809)
27.0.0, 202f6d4f8
GV: 73.0a1-20191227094418

[2019-12-31 20:38] mcomella opened #7448 "Leanplum has a large impact on cold startup (5.68% to first frame drawn)"
We're trying to move everything non-essential until after visual completeness in order to improve startup time. We should see if we can move Leanplum too. If not, consult the team: if the impact on startup is non-trivial, we may wish to remove it for GA until we can come up with a better solution.

---

_old comment 0_

Note: #6679 already exists but I'm not sure what the deliverables are so I fil

[2019-12-31 20:39] s-ankur opened #7449 "[Bug] Report site issue in private mode opens in normal mode"
It is quite serious as it leaks the private url into history through the webcompat tab url
## Steps to reproduce
Open a private tab
Report site issue
### Expected behavior
opens webcompat in private mode
### Actual behavior
Opens in normal mode.
### Device information

* Android device:  Asuz Zenfone
* Fenix version:
Nightly 191230 18:01 (Build #13641809)
27.0.0, 202f6d4f8
GV: 73.0a1-2019122709441

[2019-12-31 20:48] mcomella opened #7450 "Improve performance of SecureAbove22Preferences in cold startup (40ms perfTest)"
Note: some of the init of SecureAbove22 will happen in https://github.com/mozilla-mobile/fenix/issues/8056

`SecureAbove22Preferences` takes up 9.66% of `FenixApplication.onCreate` start time:
- `Core.getSecureAbove22Preferences` is 3.90%
- `SecureAbove22Preferences.getString()` is 5.76%

We should see what we can do to improve performance – e.g. can this be deferred until after startup?

### Prio

[2019-12-31 21:01] mcomella opened #7451 "Investigate Core.getSessionManager perf improvements on cold startup (37.28ms)"
`Core.getSessionManager` takes 7.37% of `FenixApplication.onCreate` during cold startup. This is a non-trivial amount – consider that Leanplum.onStart takes 11.21%.

However, besides the 1.67% (of onCreate) in `getIcons()`, **the profiler didn't pick up anything anything meaty to investigate.** This bug is an investigation to see if it's possible to make significant improvements and addressing the

[2019-12-31 21:08] mcomella opened #7452 "Investigate `setupCrashReporting` perf improvements on cold startup (31.66ms perfTest total)"
At all hands, we discussed removed Sentry or delaying its init until after visual completeness. Check with the Fenix & a-c teams if this is possible. Stefan also had a concern that we might be over our quota for server use in the release population – keep it mind it may not even be possible to use Sentry effectively.

Priority recommendation: low amount of gains, high risk so lowre.

---

_Old com

[2019-12-31 21:09] mcomella commented on #5506
Filed all tractable issues >= 5% (and some smaller). These are ordered by priority recommendation:

- 13.92%: https://github.com/mozilla-mobile/fenix/issues/7425 Browsers.all
- 9.66% https://github.com/mozilla-mobile/fenix/issues/7450 `SecureAbove22Preferences`
- 9.98% https://github.com/mozilla-mobile/fenix/issues/6730 delay Push (already filed & in progress)
- 5%+: https://github.com/mozilla-mob

[2019-12-31 21:09] #5506 closed

[2019-12-31 22:26] mcomella commented on #7441
This was a small change and I had an itch to scratch so I opened a PR: https://github.com/mozilla-mobile/android-components/pull/5451 No changes are needed to Fenix.

[2019-12-31 23:04] MarcLeclair commented on #7450
So, for a quick summary: the implementation of the SecureAbove22Preferences is done in AC but, I think we should be able to go read it in a background thread. I did a quick implementation to try it out ( anyone is welcome to test it too to make sure I didn't do anything to break the app with other flows).

[Here's my branch](https://github.com/MarcLeclair/fenix/tree/issue_7450_SecureAbove22Prefere

[2020-01-01 01:14] Baron-Severin commented on #3088
@colintheshots mentioned that we could almost handle this via source sets by moving incomplete locales into debug, then adding debug to the nightly resource set.  Unfortunately this would not prune any translations from dependencies (namely AC).

[2020-01-01 03:53] obitodarky commented on #6788
Can we try testing this on lower-end devices? Does this also occur in Nokia 6 in the latest build? Also, are you using an emulator or a physical device?

On my Asus Zenfone Max pro m1, Android Pie, it seems to work fine. I also upgraded my Preview to 3.0.1 and still there is no sign of this bug.

[2020-01-01 03:57] obitodarky commented on #7414
I would like to know which build variant should I work on and where can I find the file which mentions the text color.

[2020-01-01 14:18] andreicristianpetcu commented on #255
The general autoplay setting does not work for twitter. I'm having this issue in Nightly https://github.com/mozilla-mobile/fenix/issues/255#issuecomment-539627186
![Screenshot_20200101-161424_Firefox_Nightly](https://user-images.githubusercontent.com/922368/71642324-4d3f0d00-2cb2-11ea-993f-1d2b7948bcc2.png)

From what I understand this should not happen anymore, right? I don't care about per site

[2020-01-01 16:12] thanuj10 opened #7455 "The Splash animation for Address Bar objects is bugged"
## Steps to reproduce
1. Open Fenix
2. Tap on any object on Address Bar (Eg - Https padlock)

### Expected behavior
The animation should be on the proper surface i.e the same surface as the object and render properly.

### Actual behavior
The splash animation is rendered behind the object creating a weird looking animation.

### Device information

* Android device: Nokia 6.1 Plus
* Fenix version:

[2020-01-01 16:18] thanuj10 commented on #7455
https://photos.app.goo.gl/Ne3pzQMPJqKbUj8F8
Adding Video for reference.

[2020-01-01 16:20] Octoton opened #7456 "[Headers] Top header is disconnect from status bar wich is a shame"
The old firefox header bar was cleaner because it was one with the status bar.

To get the same visual appeal, the loading bar should be at the bottom and the dark one pixel line at the top of the header bar should be remove.

[2020-01-01 16:31] thanuj10 opened #7457 "Some GBoard functions and text highlights are bugged or don't work."
## Steps to reproduce

1. Open a textfield of Fenix or Current stable Nightly Firefox
2. Type a sample para
3. Make sure to enable the 'Swipe on Keyboard for cursor navigation' feature on Gboard
4. Try swiping on the keyboard now.

1. Open a textfield
2. Type a sample para
3. Long press on text to highlight
4. Basic highlight appears

### Expected behavior

The cursor moves along with the swipe

T

[2020-01-01 16:44] Octoton opened #7458 "Image Context Menu Should Include Share Option"
### Why/User Benefit/User Problem
Old firefox had better popup organization for when clicking on image.
It allow for clearer interaction and finding action quicker.

### What/Requirements
Add back a tabbed sharing menu with clearer share options for link and media.

### Acceptance Criteria (how do I know when I’m done?)
Firefox mobile should have two tabs (one for link, one for image), thus better

[2020-01-01 17:25] kbrosnan commented on #7037
This is a duplicate

[2020-01-01 17:25] #7037 closed

[2020-01-01 18:07] Dunexus commented on #7385
Also this blue dot is used to indicate PWA is available for this website which makes it even more unclear

[2020-01-01 18:23] kuba-orlik commented on #7342
I've tried it with AnySoftKeyboard and the result is the same - letters come in out of order, some of them appear to the right of the text input caret

[2020-01-02 01:16] hawkinsw commented on #7448
1. Writing our own wrapper around the API would be far more difficult than @boek and I originally imagined. When we discussed this option, we thought that we did not use Leanplum's Push mechanics. After talking to @jonalmeida, we realized that this is not the case. Reimplementing their Push mechanics would be relatively expensive (in terms of time and testing) and probably not something that we wa

[2020-01-02 01:17] hawkinsw commented on #6679
I commented in #7448. I hope that answers your questions?

[2020-01-02 01:18] hawkinsw commented on #7318
See #7454

[2020-01-02 03:07] hawkinsw commented on #7425
FYI: This will not be a startup issue after @MarcLeclair lands the patch to move `setStartupMetrics` off the main thread.

That does not mean, however, that the underlying issue will be fixed.

[2020-01-02 03:22] hawkinsw commented on #7452
It might be possible to pass the `services` parameter to the `CrashReporter` constructor by lazy. That means that only when those services are actually needed by the `CrashReporter` to report a crash will they actually be instantiated. That said,
1. I only did a minimal investigation
2. It might not be possible because to initialize those services *after* a crash because the application is in such

[2020-01-02 03:44] SS1113 commented on #4424
Please bring this feature as it takes a lot of effort curating all those collections and not having a way to restore them if I reinstall the browser or on a new phone is really frustrating!

[2020-01-02 04:23] s-ankur opened #7459 "[Bug] about pages become completely black after reopening tab"
## Steps to reproduce
open an about page
navigate to another tab
come back to the about tab

### Expected behavior
about tab is shown
### Actual behavior
black screen is displayed.
### Device information

* Android device: Asus Zenfone1
* Fenix version:
Nightly 200101 18:01 (Build #20011807)
27.0.0, 23f7db96f
GV: 73.0a1-20191231094349

[2020-01-02 04:34] s-ankur opened #7460 "[Bug] copy action bar appears in the wrong place"
## Steps to reproduce:
Go to any website with some text
long press on any word
### Expected behavior
copy action bar appears near the selected text
### Actual behavior
copy action bar appears at unrelated spot
![Screenshot_20200102-095403](https://user-images.githubusercontent.com/33252312/71651892-fe788e00-2d18-11ea-9400-4c7f1fb6da4f.png)

### Device information

* Android device: Asus Zenfone 1

[2020-01-02 05:31] eeejay commented on #6545
Hey! I think it's a11y related in the sense hardware keyboard hookups in Android are relied on a lot by users with disabilities. So yeah, I would keep an a11y label, as to priority I can't speak.

[2020-01-02 09:06] SL-Lee opened #7461 "Search bar should be located at the bottom if toolbar was set to be at the bottom"
# Why/User Benefit/User Problem

The toolbar at the bottom can benefit the user by having the menu conveniently located within reach of their fingertips. When a user sets the browser toolbar to be located at the bottom, he/she would expect consistency in the design. However, the address bar moves to the top when tapping on it, which is counter-intuitive and defeats the purpose of a bottom toolbar

[2020-01-02 09:10] TitanNano opened #7462 "[Bug] en.m.wikipedia.org not recognized as PWA"
## Steps to reproduce
1. Navigate to https://en.m.wikipedia.org
2. Open main menu

### Expected behavior
Wikipedia has a web mainifest and is recognized by Fennec to be an installable PWA. I expect Fenix to also let me install this PWA.

### Actual behavior
The Site is not recognized as an PWA and can not be "installed" to the homescreen.

### Device information

* Android device: SONY XPERIA 10
*

[2020-01-02 09:14] TitanNano opened #7463 "[Bug] github.com is not recognized as PWA"
## Steps to reproduce
1. Navigate to https://github.com
2. Open main menu

### Expected behavior
GitHub has a web manifest and is recognized by Fennec to be an installable PWA. I expect Fenix to also let me install this PWA.
### Actual behavior
The Site is not recognized as an PWA and can not be "installed" to the homescreen.

### Device information

* Android device: SONY XPERRIA 10
* Android ver

[2020-01-02 12:51] JohanLorenzo commented on #3312
Great timing! Yes. it's still valid 🙂

We actually need this to move releases over to https://shipit.mozilla-releng.net/. @Callek added the Fenix support in mozilla-version in https://github.com/mozilla-releng/mozilla-version/pull/70. It's now a matter of using https://pypi.org/project/mozilla-version/0.5.0/ in this repo. We'll handle it sometimes this month.

[2020-01-02 14:14] pwd-github commented on #7199
I'm seeing this happen randomly, though I always have a connection, so I don't think the connection bit is a factor.

[2020-01-02 14:56] st3fan commented on #6190
Just adding a note here that the A-C work in _Create a Top Site Storage Component_  https://github.com/mozilla-mobile/android-components/issues/5315 was merged through https://github.com/mozilla-mobile/android-components/pull/5360 - if this does not meet the requirements for this feature, please file issues in A-C and mark them to be included in our sprint planning.

[2020-01-02 16:07] mcomella commented on #7425
@hawkinsw `setStartupMetrics` does not seem related to Leanplum: I only see `GleanMetricsService.setStartupMetrics`. Am I missing something?

[2020-01-02 16:10] mcomella commented on #7452
Let's wait for this issue to be prioritized: iirc, I don't think there are
huge wins here.

[2020-01-02 16:11] mcomella commented on #7452
btw, thanks for adding notes with your understanding to these newly filed
issues. :)

[2020-01-02 16:24] psymoon commented on #7350
This is covered and part of the WIP branch.

[2020-01-02 16:24] #7350 closed

[2020-01-02 16:24] mcomella commented on #7379
Sending back to triage: I want Eric to have a say in the priority.

[2020-01-02 16:41] mcomella commented on #7446
There are a few docs from the android dev site:
- [Improving layout performance](https://developer.android.com/training/improving-layouts)
- [Performance and view hierarchies](https://developer.android.com/topic/performance/rendering/optimizing-view-hierarchies.html)

Some tips:
- You can use the "Layout Inspector" tool to investigate the current layout
- We should check for Android Lint warnings

[2020-01-02 16:56] mcomella opened #7464 "BackgroundServices constructor inits passwordStorage, which touches disk during cold startup (7.76ms perfTest)"
This might be related to:
- https://github.com/mozilla-mobile/fenix/issues/5487 (I'm not sure what needs to be done for this issue)
- #6730

---

There's a StrictMode violation during startup:

[code]

where `BackgroundServices` is getting initialized, causing one of the initializers arguments, `passwordStorage` to get initialized, which touches the disk to get `context.filesDir`:

https://github.

[2020-01-02 17:10] jonalmeida commented on #7464
For this one, there are observers like the Telemetry ones that live in the same class and therefore need to made testable. If we did these outside of that, we can make the BackgroundServices.kt (similar to other component classes) only perform initialization of those components.

I'll copy this comment to that issue as well.

[2020-01-02 17:15] jonalmeida commented on #5487
For example, there are observers like the Telemetry one that live in the same class and therefore need to made testable. If we did these outside of that, we can make the BackgroundServices.kt (similar to other component classes) only perform initialization of those components.

[2020-01-02 17:20] mcomella commented on #7425
Oh, I see a similar pattern in GleanMetricsService, which must be what Will means: https://github.com/mozilla-mobile/fenix/blob/c3389dcdb58d0853e97ed4fb9bc9e13dd1936ee8/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L507

[2020-01-02 17:29] emalysz commented on #4665
The creation of the HomeFragment in `FragmentManager.moveToState` takes 13.66% of cold startup.

Here's a breakdown of what percentage of `FragmentManager.moveToState` each method takes up. Each indent indicates a method that was called by the unindented method; the percentages of these methods is the percentage of `FragmentManager.moveToState` each method takes up. Some methods may be accidentall

[2020-01-02 17:46] emalysz opened #7465 "Improve performance of SessionControlView.init"
It is slow to create the HomeFragment (#4665).`SessionControlView.init`takes up 14.40% of `FragmentManager.moveToState` which creates the HomeFragment.

All time is spent within the `view.consumeFrom` call.

We should see what we can do to improve performance.

[2020-01-02 17:48] emalysz opened #7466 "Improve performance of TransitionInflater.inflateTransition (12.02ms perfTest)"
It is slow to create the HomeFragment (#4665).`TransitionInflater.inflateTransition` takes up 7.21% of `FragmentManager.moveToState` which creates the HomeFragment.

We should see what we can do to improve performance, if possible.

### Impact
Impact:
- perfTest: 12.02ms

### Questions
- What does the transition do? Is it still used?
- Can we inflate it after startup? Inflate it on a background th

[2020-01-02 17:51] emalysz opened #7467 "Improve performance of ViewTreeObserver.init"
`ViewTreeObserver.init` takes up 4.72% of `FragmentManager.moveToState` which creates the HomeFragment.

We should see what we can do to improve performance, if possible.

[2020-01-02 17:51] emalysz commented on #4665
File all tractable issues >= 5% (and some smaller). These are ordered by priority recommendation:

- 47.48%: #7423 LayoutInflater.inflate
- 14.40%: #7465 SessionControlView.init
- 7.21%: #7466 TransitionInflater.inflateTransition
- 4.72%: #7467 ViewTreeObserver.init

[2020-01-02 18:05] #7467 closed

[2020-01-02 18:08] #7346 closed

[2020-01-02 18:15] #5366 closed

[2020-01-02 18:46] Octoton commented on #7456
Old firefox:
![Screenshot_20200102-193826_Firefox~2](https://user-images.githubusercontent.com/56130419/71685330-48548900-2d98-11ea-81db-f0e56594a7dd.png)

New firefox loading:
![Screenshot_20200102-193841_Firefox_Preview~2](https://user-images.githubusercontent.com/56130419/71685364-5efae000-2d98-11ea-93b2-e410f4aa7408.png)

New firefox dark one pixel line:
![Screenshot_20200102-193938_Firefox_Pr

[2020-01-02 18:47] MarcLeclair opened #7530 "Investigate useage of Shared Pref on cold start"
Shared Pref could preferably be done on an IO Dispatcher instead of on the MT. Have to investigate whether or not its worthwhile / low-risk to move all of those calls (if any)

### Acceptance Criteria (how do I know when I’m done?)

Find all the useage of SharedPref on cold start.

[2020-01-02 19:17] daphliu commented on #7445
Can I be assigned to this please?

[2020-01-02 19:43] liuche commented on #255
Waiting on a bug to get fixed in GV before this can land, and then it can be picked up. Should land early January still.

[2020-01-02 20:24] hawkinsw commented on #7425
Sorry, these are really two different things. `GleanMetricsService.setStartupMetrics` does use these methods and @MarcLeclair 's patch will move those off the MT.

I will go back and look into potential mitigations w.r.t this and Leanplum. Sorry for the confusion. I will assign this to myself.

[2020-01-02 20:30] #4665 closed

[2020-01-02 21:08] emalysz commented on #4666
Profile taken with a Pixel 2.

The creation of the HomeActivity takes 11.13% of cold startup.

Here's a breakdown of what percentage of `HomeActivity.onCreate` each method takes up. Each indent indicates a method that was called by the unindented method; the percentages of these methods is the percentage of `HomeActivity.onCreate` each method takes up. Some methods may be accidentally omitted: thi

[2020-01-02 21:43] emalysz opened #7472 "Improve inflate performance when creating Home Activity"
### Why/User Benefit/User Problem
It is slow to create the HomeActivity.
46.39% of HomeActivity.onCreate() is spent inflating.

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)
-The time it takes to inflate the home activity has been reduced.

________________________

[2020-01-02 21:44] sblatz commented on #1718
Bumping @eeejay on this now that he's back 😄

[2020-01-02 21:46] emalysz opened #7473 "Improve performance of toolbar creation in HomeActivity.onCreate"
### Why/User Benefit/User Problem
It is slow to create the HomeActivity.
8.84% of `HomeActivity.onCreate` is spent in `Toolbar.setTitle`.
We are currently using 2 toolbars, the BrowserToolbar and the Android framework's https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt#97.

The toolbar is also not used on the home page. Consider using a ViewStub

[2020-01-02 21:47] emalysz commented on #4666
File all tractable issues >= 5%. These are ordered by priority recommendation:

- 46.39%: #7472 LayoutInflater.inflate
- 26.21%: #7473 HomeActivity.setupToolbarAndNavigation

[2020-01-02 22:12] eeejay commented on #1718
Hey! The top toolbar is great and really solves a big accessibility pain for many potential users.

Not sure what the outstanding question is. How to warn users? I don't know how we can do that well, I wouldn't bother adding more verbiage and confusion. Like you said, I think the default for switch (and, I think, TalkBack) users should be a top toolbar.

I'm not sure setting it to a top default on

[2020-01-02 22:28] eeejay commented on #5082
This is not the highest priority, and should be considered polish.

[2020-01-02 22:29] eeejay commented on #2143
No, I think the list count is needed. I'm trying to remember if I attempted to fix this myself and ran into it being too hard or not. I'll take a look at this soon.

[2020-01-02 23:08] dector commented on #5436
@boek Unfortunately I can't check if it's enabled (as `about:support` says that it's an opt-in feature) because `about:config` isn't loading: I have "Cannot complete request" when trying to open it.

Is there other way to enable it?

[2020-01-03 00:35] hawkinsw commented on #7425
See also https://github.com/mozilla-mobile/fenix/pull/7477

[2020-01-03 00:37] hawkinsw commented on #4666
I have looked before at `Toolbar.setTitle()` and it just boggles my mind that it takes so long to execute :-)

[2020-01-03 04:15] #7085 closed

[2020-01-03 07:30] AndiAJ commented on #7443
Hi, **verified as fixed** on the latest **Nightly Build #20030608 from 1/3** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200103_092101](https://user-images.githubusercontent.com/51314259/71711829-71623180-2e0b-11ea-9e50-0d33d85a47c8.gif)

@emi

[2020-01-03 07:30] #7443 closed

[2020-01-03 08:13] sv-sdeiac commented on #6788
Hello @obitodarky, I retested this issue on the latest version of Firefox Preview 3.0.1 #13502256 and I can confirm that is reproducible 100% using the following devices:
- Nexus 5 (Android 6.0.1);
- Huawei P9 Lite (Android 7);
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8).

Also, I wasn't able to reproduce the issue on LG G7 fit (Android 8.1).
I want to specify that all my investigati

[2020-01-03 08:16] ebalazs-sv commented on #6735
@boek I reproduced this issue only on Nexus 6P (Android 8.1.0) and I had Fenix Nightly and Fennec Nightly installed.
I tested this on Fenix Nightly 200103 GV 73 with Nexus 6P (Android 8.1.0), Motorola Nexus 6 (Android 7.1.1), Nexus 5 (Android 6.0.1) and this is not reproducible.

[2020-01-03 08:25] AndiAJ commented on #6413
Hi, **verified as fixed** on the latest **Nightly Build #20030608 from 1/3** using a Google Pixel 3a (Android 9)

| Status  | Description |
| ------------- | ------------- |
| ✔️  | Close a tab from the Home screen - Open tabs section  |
| ✔️  | Close all tabs from the Home screen - Open tabs section  |
| ✔️  | Create a new Collection  |
| ✔️  | Rename a collection  |
| ✔️  | Save a page to a coll

[2020-01-03 08:25] #6413 closed

[2020-01-03 08:42] lindongbin commented on #7427
It works by enable open links in apps on latest nightly.

[2020-01-03 09:30] sv-sdeiac opened #7479 "[Bug]After the "@" character on the registration page, the characters are written in the wrong place"
## Steps to reproduce
1. Open "settings" from the 3dot menu;
2. Tap on "Turn on Sync" button and select "use email instead";
3. Start to write an email than write the "@" character;
4. After the "@" start to write the main of the email;

### Expected behavior
The email is written without any issues.

### Actual behavior
After the first character from the "@", the other characters are written behin

[2020-01-03 10:21] AndiAJ commented on #7192
Hi, **verified as fixed** on the latest **Nightly Build #20030608 from 1/3** using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy S9 (Android 8.0.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1) (checked as per this [comment](https://github.com/mozilla-mobile/fenix/issues/5972#issuecomment-559130481) )

✔️ Fenix Settings => "Set as

[2020-01-03 10:21] #7192 closed

[2020-01-03 13:56] sv-sdeiac commented on #7463
Closing as a duplicate of #7462

[2020-01-03 13:56] #7463 closed

[2020-01-03 14:06] sv-sdeiac commented on #7460
Closed as a duplicate of #6877

[2020-01-03 14:06] #7460 closed

[2020-01-03 14:18] sv-sdeiac commented on #7456
@pocmo Can you take a view on this issue and let your opinion on it?

[2020-01-03 14:42] sv-sdeiac commented on #7447
Closed as a duplicate of #7343, if you have additional information regarding this issue, please fill them on the ticket #7343, thanks.

[2020-01-03 14:42] #7447 closed

[2020-01-03 14:46] sv-sdeiac commented on #7432
Closing as a duplicate of bug #6935, if someone has additional information regarding this issue, please fill them on the ticket #6935, thanks.

[2020-01-03 14:46] #7432 closed

[2020-01-03 14:47] magorlick commented on #7295
After investigating with Danica and George, we determined that Adjust actually has several fields of interest that we would like to include.  To get the cleanest most complete insights we would like to include network, adgroup, creative in addition to campaign.  Is this an easy add on when you make the call to Adjust?

[2020-01-03 15:01] djc commented on #6935
I have the same problem with SwiftKey, so this doesn't depend on GKeyboard. I also have a Pixel 2, and this is most definitely a regression from before.

[2020-01-03 15:11] sv-sdeiac commented on #7395
Closing this issue since the reporter confirmed the invalidity of the issue, thanks.

[2020-01-03 15:11] #7395 closed

[2020-01-03 15:54] #4666 closed

[2020-01-03 16:11] mcarare commented on #7095
This seems to happen only when the prompt is previously dismissed.

[2020-01-03 16:37] sblatz commented on #7295
These are the values we have easy access to. We should be able to accommodate adding those three additional variables to the ping :) Adding that as part of the acceptance criteria.

<img width="520" alt="image" src="https://user-images.githubusercontent.com/4400286/71735801-34467100-2e04-11ea-87e7-e6154775d09e.png">

[2020-01-03 17:24] mcomella opened #7483 "Upgrade gradle to v5.6.4"
Upgrading gradle is expected to fix bugs and improves build times. We're running the version from June (v5.5): we should update to a more modern version like v5.6.4 from Nov 1st which is the last version before breaking changes are introduced in v6.0.

Version history: https://gradle.org/releases/

[2020-01-03 17:59] vesta0 commented on #7097
Closing as the MVP of this is handled by Android

[2020-01-03 17:59] #7097 closed

[2020-01-03 18:00] vesta0 commented on #7102
Closing this as the MVP of it is handled by Android

[2020-01-03 18:00] #7102 closed

[2020-01-03 18:01] vesta0 commented on #7098
Closing since the MVP of this is handled by Android.

[2020-01-03 18:01] #7098 closed

[2020-01-03 18:03] vesta0 commented on #7101
This specific user story is no longer relevant since user will decide how all intent will be handled.

[2020-01-03 18:03] #7101 closed

[2020-01-03 18:08] sblatz commented on #7295
Danica mentioned we should try to include the Adjust install timestamp as well if possible.

[2020-01-03 18:08] gabrielluong commented on #6759
I am also fixing this in #6758

[2020-01-03 18:10] liuche commented on #4287
What's the status here, and should we carry this forward to the next sprint? Trying to get an idea of the remaining work.

[2020-01-03 18:12] liuche commented on #5544
Closing this because there is a follow-up filed here and everything else is working. That way we can get it off our board!

[2020-01-03 18:12] #5544 closed

[2020-01-03 18:15] liuche commented on #6396
We'll keep this one in the sprint.

[2020-01-03 18:21] #6480 closed

[2020-01-03 18:31] liuche commented on #7099
Seems like @rocketsroger will be doing all of this and handling the rest of the edge cases (with help from Fenix for frontend if needed).

[2020-01-03 18:32] liuche commented on #7100
Work with @AmyYLee on coming up with the solution for this.

[2020-01-03 18:37] liuche commented on #5892
We're concerned that asking GV for an API to expose injecting images might take a while, considering the other work that GV is working on.

We'd like to collaborate w/ AC on this.

[2020-01-03 18:43] liuche commented on #6308
Here is the renewal form: https://github.com/mozilla/data-review/blob/master/renewal_request.md

[2020-01-03 18:51] sblatz commented on #5892
This is probably more like an E5 instead of an E8 since we won't be completely reworking these into fragments.

[2020-01-03 19:12] sblatz commented on #1718
Thanks for your feedback @eeejay. Based on my investigation I think I can do this:

1) If a user has accessibility services enabled and launches the app, we will set the default toolbar to be top (and FIXED not dynamic)

2) If a user enables accessibility services, fixed top toolbar will be enabled on the next app launch (unfortunately due to how we inflate the browser we only check if they're ena

[2020-01-03 19:22] sblatz commented on #3467
This is something we should fix and I will put on AC's radar. That being said, we're going to default screen reader users to having a top, fixed toolbar since swiping through a variable amount of content is bad anyway. See https://github.com/mozilla-mobile/fenix/issues/1718

[2020-01-03 19:31] andreicristianpetcu commented on #7331
Same with Deezer https://deezer.page.link/?link=https%3A%2F%2Fwww.deezer.com%2Fchannels%2Fexplore&apn=deezer.android.app&amv=6190600&ibi=com.deezer.Deezer&isi=292738169&imv=7.11.0&ifl=https%3A%2F%2Fwww.deezer.com%2Fus%2Fchannels%2Fexplore%3FdeferredFl%3D1&ofl=https%3A%2F%2Fwww.deezer.com%2Fus%2Fchannels%2Fexplore%3FdeferredFl%3D1&afl=https%3A%2F%2Fwww.deezer.com%2Fus%2Fchannels%2Fexplore%3Fdeferre

[2020-01-03 19:54] vesta0 commented on #5478
This is a GeckoView bug but we can potentially fix it in AC.

[2020-01-03 20:02] eeejay commented on #1718
Yeah. I think that's good enough. I mentioned in the review: detecting the switch service will need some testing, it might not be as trivial as checking for explore by touch.

[2020-01-03 21:07] sblatz commented on #2833
@rocketsroger does that mean we need to make a change in Fenix?

[2020-01-03 21:10] rocketsroger commented on #2833
Sorry, I haven't looked into it yet.  My guess would be yes.  Could be as simple as making the same call as the reference browser.

[2020-01-03 21:50] sblatz commented on #5722
I didn't get around to this last polish sprint. Going to unassign :)

[2020-01-03 22:21] liuche commented on #3180
Based on [bug 1558156](https://bugzilla.mozilla.org/show_bug.cgi?id=1558156) which is for GV to handle about: pages, and isn't a priority for GV right now.

about:telemetry is also exposed only on Nightly (and based on the bug, that info isn't really correct bc it doesn't include Glean). If we want to prioritize this, next steps would be to talk to GV/Glean about what we want (correct complete dat

[2020-01-03 22:21] sblatz commented on #6304
Spoke with Amy a bit more. We basically have three choices:

 1. Fix this bug BUT revert a previous decision surrounding "persisting private mode." E.g. being in private mode, force closing the app, and opening again would open the user to private mode.
We decided **NOT** to go with this because normal mode -> private mode, pause the app, open the app would cause the user's private tabs to be leak

[2020-01-03 22:23] colintheshots commented on #5182
At a minimum, we should probably remove Fretboard. FxA is the last consumer and it's no longer being used to host any experiments.

[2020-01-03 22:29] hawkinsw commented on #7465
Can you add your profile to this? I cannot recreate the attirbution of the delay in `SessionControlView.init<>` to `SessionControlView.consumeFrom()`.

[2020-01-03 23:37] emalysz commented on #7465
[HomeFragment.trace.zip](https://github.com/mozilla-mobile/fenix/files/4021249/HomeFragment.trace.zip)

[2020-01-03 23:37] hawkinsw commented on #7225
I do not believe that we can do this detection offline. I don't think that detekt has enough context when it executes to determine whether a) the method cannot be called on MT and/or b) the method is invoked in a context that actually moves it off the MT (e.g., a `CoroutineScope`).

[2020-01-03 23:54] mcomella opened #7488 "Possible redundant layout/measure cycle on cold startup"
I profiled a brand new project in Android Studio and noticed, `ViewRootImpl.doTraversal` is called twice during cold startup: once for a longer period of time (42.36ms on P2) and once very briefly (3.61ms).

<img width="810" alt="Screen Shot 2020-01-03 at 15 47 30" src="https://user-images.githubusercontent.com/759372/71755673-92914500-2e40-11ea-9384-c85362dc2ba4.png">

When profiling Fenix, I not

[2020-01-04 12:23] Cheap-Skate opened #7491 "Adding startpage.com as a search engine does not show startpage favicon"
Install startpage.com as a search engine. Its favicon does not appear. I get a generic S favicon.

Its favicon DOES appear on Fennec, but not on Fenix.

thanks

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-15051)

[2020-01-04 16:05] Armez commented on #1063
Consider Ordering tab slices from bottom of the screen when toolbar is set to bottom and add a shortcut for bookmarks near new tab icon

[2020-01-04 16:12] anotherus3r commented on #6231
Can reproduce in Firefox Preview Nightly 200104 06:01 (Build #20040608) on Android 10 and Android 6.0

[2020-01-04 20:23] soumya92 commented on #7199
Related to #6565?

[2020-01-05 02:10] aroskuski opened #7492 "[Bug] Scroll position is incorrect when opening links which redirect to URLs with fragments in the background"
## Steps to reproduce
1. Navigate to a page that contains a link that will redirect to a URL that contains a fragment
    * For example https://www.resetera.com/threads/active-staff-roster.7164/post-1191462 which will redirect to https://www.resetera.com/threads/active-staff-roster.7164/#post-1191462 when navigated to.  You could generate whatever examples you want with a link shortener, though.
2

[2020-01-05 02:39] aroskuski commented on #7492
Okay, so for some reason even opening the non-redirect version of the example link from this GitHub issue seems to reproduce the behavior.  Not sure if that means that a redirect isn't necessary or if GitHub is just messing with the link.  This is the first time I've managed to reproduce it without a redirect involved, so I'm kinda leaning towards the latter, but it's also possible that the condit

[2020-01-05 07:01] netroby commented on #5630
Please add it , we need ublock origin

[2020-01-05 10:13] necros2k7 opened #7493 "Resume nightly builds"
subj

[2020-01-05 11:25] Sangeppato opened #7494 ""Open links in app" doesn't open the separate app"
I'm on Firefox Nightly Preview and I've enabled the new "Open links in app" default option.
It works, but when the app is opened, it appears inside the Firefox app when in "multitasking", instead of a separate one. This can cause issues when you want to go back to the browser.

See the attachment to understand what I mean:
![Screenshot_20200105-122115](https://user-images.githubusercontent.com/372

[2020-01-05 12:08] hakkikaancaliskan commented on #7494
Also as a side issue: when you go back to browser with back button, you see current website instead of the previous website.
For example:
1- search youtube on google
2- open YouTube
3- go back to browser with back button
4- you see youtube.com is open instead of google
Can someone confirm this?

[2020-01-05 13:03] Sangeppato commented on #7494
Yes, I forgot to mention this. Basically you will see 2 times the same website: once in the app and another one in the browser page

[2020-01-05 14:41] Rodze commented on #7461
Indeed. Just look at messaging apps, when the text field is at the bottom it stays at the bottom when typing, above the keyboard. It is the most obvious and better user experience, after all the whole point of the address bar at the bottom is it for it to stay closer to the user finger and it going to the top at any time defeats the entire purpose of it.

[2020-01-05 16:01] julienw commented on #7331
Same issue when trying to register a Nintendo account from an app (like Super Mario Run). The end of the process uses a custom scheme, presumably to come back to the app with the right information.

[2020-01-05 17:09] NotWoods commented on #7494
@rocketsroger Could [`FLAG_ACTIVITY_NEW_TASK`](https://developer.android.com/guide/components/activities/tasks-and-back-stack) be used here?

[2020-01-05 17:51] Sangeppato commented on #7494
Note that if you disable the global "open in app" option and instead manually tap the same function each time you're on reddit/youtube, everything works as expected

[2020-01-05 21:43] matejdro opened #7495 "[Bug] Fenix has trouble opening binary files"
## Steps to reproduce

1. Install [GadgetBridge](https://f-droid.org/en/packages/nodomain.freeyourgadget.gadgetbridge/)
2. Go to https://apps.rebble.io/en_US/application/52cc44e045ffdd31dd000180?dev_settings=true
3. Click on "Download PBW"
4. Try to open downloaded file

### Expected behavior

File should be opened by GadgetBridge. This can be verified by using native downloads screen.

### Actual

[2020-01-05 22:57] kbrosnan commented on #7493
Nightly builds are on their own package. https://play.google.com/store/apps/details?id=org.mozilla.fenix.nightly

[2020-01-05 22:57] #7493 closed

[2020-01-06 05:53] vesta0 commented on #6190
@djc @Cheap-Skate FYI we are also making changes to the tab tray and the back button that aligns better with this approach.

@topotropic I think it may be a good idea to use something like "pin site to home screen" instead of "add to Firefox home" what do you think?

[2020-01-06 05:55] vesta0 commented on #2550
@liuche yes I've been chatting with desktop privacy folks and this is something we are considering on mobile for both Android and iOS.

[2020-01-06 05:56] vesta0 commented on #4584
@finn0 yes this is something we will be looking into later this year!

[2020-01-06 06:15] vesta0 commented on #3180
@liuche and if we don't want to prioritize exposing Glean data for now, then we should hide the page in Fenix right?

[2020-01-06 07:02] AndiAJ commented on #6992
Hi, **still reproducible, the find in page bar isn't displayed** on the latest **Nightly Build #20060605 from 01/06** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200106_085951](https://user-images.githubusercontent.com/51314259/71801290-2f332d

[2020-01-06 08:03] djc commented on #6190
@vesta0 sounds good! Are those changes being tracked in some issue or Bugzilla bug that I could follow?

[2020-01-06 09:00] sv-ohorvath commented on #7417
Thank you @isabelrios! I'll work on them.

[2020-01-06 09:09] softvision-miralobontiu commented on #7352
Hi all!

I've verified that "Reader Mode", "PWA", and "Open in App" buttons are highlighted in the menu bar whenever they are visible. The three-dot button that opens the menu bar is highlighted any time any of the above buttons are available.
However, the "Reader Mode Appearance" is not highlighted in the Settings menu (as seen in the screenshot below). @Baron-Severin Is this expected?
Tested on

[2020-01-06 09:12] sv-sdeiac commented on #7332
Hello, I was able to reproduce this issue only one time using the fresh install of the Firefox Preview 3.0.1 #13502256 on LG G7 fit (Android 8.1).
My steps are:
1. Log-in on a valid account;
2. Wait till the first sync is over;
3. Uncheck the bookmarks option;
4. Wait till the second sync is over;

Actual results:
After the second sync is finished, the bookmark option is enabled.

In my opinion, i

[2020-01-06 09:54] topotropic commented on #6190
I find "home screen" problematic, because we also use it to refer to the device's home screen ("Add to Home screen" in the menu). "Firefox new tab" or "Firefox new window" could be an alternative. I originally choose the "Firefox home" terminology because we also use it on Firefox on desktop.

@mheubusch can you chime in here? Thanks!

[2020-01-06 09:58] topotropic commented on #5227
@AmyYLee can you have a look? Thanks!

[2020-01-06 11:54] Cheap-Skate commented on #6190
Yeah on Desktop it's clear, the app (Firefox) has a Home page; the OS (Windows/Mac/Linux) has no Home screen, typically it's a Desktop.

On Android I think many users understand that Home is the Android Home screen/launcher.   So what is Fenix's Top Sites & tab switcher page called? IMHO  "Home" is too confusing. How about  "Firefox Central" :)

[2020-01-06 12:05] sv-sdeiac commented on #7495
Hello, thanks for your report.
I can confirm that this issue is reproducible using the latest version of Nightly 1/6 on Nexus 5 (Android 6.0.1), LG G7 fit (Android 8.1) and Google Pixel (Android Q).
I want to specify that also with the Chrome browser I wasn't able to open the files.
### Notes:
- Gadgetbridge app is only the unofficially build for Playstore.

[2020-01-06 12:17] madb1lly commented on #6190
In Fennec the new tab page _is_ called "Homepage" in settings, but in terms of pinning sites it's not called that AFAICT. I think the new page is unofficially called the "Awesome Page" isn't it? Similar to how the combined search and address bar is the "Awesome Bar".

Slightly off-topic, but can someone please give me the reference/link to the discussion/explanation of why the new tab page from Fe

[2020-01-06 13:00] mcarare commented on #5722
For me it doesn't look pixelated on all devices, just some, but with same Android version (9).

[2020-01-06 13:05] rocketsroger commented on #7494
@NotWoods I think you're right, `FLAG_ACTIVITY_NEW_TASK` will probably fix this, I'll look into this.
@Sangeppato I've debugged the side issue where the page is also loaded on the browser side.  In most cases it looks like an redirect was happening when you tap on the reddit link.  I can see this with Google searching Facebook post results as well.  But can't reproduce with Twitter search results.

[2020-01-06 13:07] sv-sdeiac commented on #7240
Using Google Pixel (Android Q) with Firefox Preview 1/6 @6:05 AM, the language is changed to Deutsch for privacy notice.

[2020-01-06 13:10] Cheap-Skate commented on #6190
I think this has been the plan from Day 1, idea is to make Fenix Home screen centric. I dislike it, I want it to be tab centric like Fennec. I filed #570 now closed. There are various howls of dismay at the loss of the Fennec Awesomescreen (some from me) but Mozilla wants to try something new, fair enough. There is a redesign of the Home screen coming #1063 and #6602 and https://mozilla.invisionap

[2020-01-06 13:15] AndiAJ commented on #1607
Hi, I've just checked this matter on the latest **Nightly Build #20060605 from 01/06** using a Google Pixel 3a (Android 9).

### Shortcuts
❓ Search - Ping 066a5899-af3e-43a5-b10b-c067ce128082
✔️ Baseline - Ping 034d2eaa-87ff-4294-8403-5e4c46d371e6
❓ Suggestion - Ping 9a383cba-b6bf-4359-a64d-7a2edffa73ef
✔️ Baseline - Ping 7ddd5ccb-7cab-4072-b80a-8657fbb35a1c

### Set Custom Search Engine as Defaul

[2020-01-06 13:20] mcarare commented on #2406
For QA: I think this was fixed, and I cannot reproduce it anymore. Can you please check? TY!

[2020-01-06 13:33] rocketsroger commented on #7494
Issue opened for side affect https://github.com/mozilla-mobile/android-components/issues/5471

[2020-01-06 13:55] topotropic commented on #7352
@Baron-Severin can we also have a blue dot on the "new tab / home" menu whenever we have a release and a blue dot next to "What's new"? Thanks!

[2020-01-06 13:58] sv-sdeiac commented on #6877
Hello, I can confirm that this issue is no longer reproducible using the latest version of Firefox Preview Nightly 1/6 #200106.

#### Devices:
- Nexus 5 (Android 6.0.1);
- Nokia 6 (Android 7.1.1);
- Google Pixel (Android 9).

Due to my findings, I'll close the issue, thanks.

[2020-01-06 13:58] #6877 closed

[2020-01-06 14:21] topotropic commented on #1063
@boek @darkwing I had a brief look at the current implementation and was wondering if we can  show the current home/new tab screen (the one with Collections) when people open a new tab from the tab tray instead of the search screen?

Also, when people launch Fenix for the first time, read through onboarding and then tap on "Start browsing" button we launch them on home/new tab but show the multita

[2020-01-06 14:22] rocketsroger opened #7497 "Remove menu presenter"
### Why/User Benefit/User Problem
Currently the menu is built every time the user click on the menu button.  Therefore, invalidating the menu using menu presenter is not needed anymore.

### What/Requirements
Remove menu presenter

### Acceptance Criteria (how do I know when I’m done?)
No change in menu behavior after removing menu presenter

[2020-01-06 14:46] jawz101 commented on #5630
Having copied and pasted as well as synced uBO's settings into FFox for Android, sync doesn't work on Android Fennec.  Even if it did work, the way uBlock Origin uses sync, it's per-device.  I cannot sync one device to another.  It also requires an initial upload before download works so the first step is to wipe out what is already in the sync storage.  The only time it serves a purpose is if you

[2020-01-06 14:58] softvision-miralobontiu commented on #2406
Verified that by tapping on the search bar, after a page is loaded, it does not display any suggestions.
Tested on the latest Nightly build from 01/06 (#20060606) with Google Pixel (Android 10), Google Pixel 3 (Android 10), HTC Desire 820 (Android 6.0.1).

[2020-01-06 15:00] 0xTyagi opened #7499 "PWA: in private browsing"
### Why/User Benefit/User Problem
if user installed the PWA from private tab then PWA must not store any history in browser and remove every data related to this PWA when user quit PWA.
i am calling this PWA as 'Private PWA'
### What/Requirements
A separate 'private PWA' is installed for private browsing if user want to do this.
### Acceptance Criteria (how do I know when I’m done?)
History/cache

[2020-01-06 15:14] 0xTyagi opened #7500 "Redundant 'plus'"
![IMG_20200106_203210](https://user-images.githubusercontent.com/59569506/71826864-eb5a1b00-3096-11ea-8477-cf80104e1bea.jpg)
### Why/User Benefit/User Problem
what is the purpose of '+' in menubar when urlbar and '+' do the same thing
### What/Requirements
Plus button may be removed
### Acceptance Criteria (how do I know when I’m done?)

redundant plus sign removed.

[2020-01-06 15:29] andreicristianpetcu commented on #5630
I'm not a Fenix dev but I would say uBO sync is a different story @jawz101

[2020-01-06 15:31] rocketsroger commented on #7494
A-C issue for this https://github.com/mozilla-mobile/android-components/issues/5473

[2020-01-06 15:32] NotWoods commented on #7497
The presenter is still needed for changes while the menu is open (ie stop/refresh) and for displaying changes on the menu button itself (ie highlights)

[2020-01-06 15:38] apbitner opened #7501 "[Bug] ETP CFR breaks with a top toolbar"
## Steps to reproduce

- Fresh install of Nightly
- Go to a website, such as cnn.com

### Expected behavior

- ETP tooltip (CFR) shows beneath the address bar with the arrow pointing to the shield icon

### Actual behavior

- CFR shows on top of the toolbar and the arrow is not pointing toward the shield

![image](https://user-images.githubusercontent.com/22176302/71828445-f8134a80-3067-11ea-80e1-

[2020-01-06 15:42] cadeyrn commented on #7500
Duplicate of #6409. And the plus icon will be replaced in #1063.

[2020-01-06 15:42] Amejia481 commented on #7501
cc @ekager

[2020-01-06 15:44] apbitner commented on #7359
We plan on revisiting in https://github.com/mozilla-mobile/fenix/issues/6350

[2020-01-06 15:52] ekager commented on #7501
Dupe of #7181

[2020-01-06 15:52] #7501 closed

[2020-01-06 16:00] Diana-Rus opened #7502 "[Bug]Elements from Barnes and Noble page don't work"
Taken from: https://bugzilla.mozilla.org/show_bug.cgi?id=1606240

## Steps to reproduce
1. Open Firefox browser.
2. Insert in the URL bar: https://m.barnesandnoble.com/w/gravity-falls-alex-hirsch/1123577136?ean=9781484746691
3. Tap on "Reviews" link.

### Expected behavior
The user is redirected to the "Customer Reviews" section.
### Actual behavior
There is no redirection to the section's page.
#

[2020-01-06 16:32] #7500 closed

[2020-01-06 16:39] AndiAJ commented on #6464
Hi, I've just checked the following:

1. Debug build (used variant **geckoNightlyDebug** )
Checked for violations using `adb logcat -d | findstr "StrictMode policy violation"` and **resulted in this output.**
[StrictMode.txt](https://github.com/mozilla-mobile/fenix/files/4026865/StrictMode.txt)

2. Production build (**Nightly Build #20060605 from 01/06**)
Checked for violations using `adb logcat -

[2020-01-06 16:39] AmyYLee commented on #5227
Hi, I agree it shouldn't store ETP exceptions when in Private browsing and the user switches to non-private and goes to the same site. We should treat whatever choice the user makes for ETP as separate between Private and Non-private. If the user turns off ETP in private mode for a site, we remember that choice until the user quits the browser.

[2020-01-06 16:46] AmyYLee commented on #7058
Hi,

Thanks for the suggestion. We will keep this in mind for consideration in our future updates.

[2020-01-06 17:02] darkwing commented on #5722
Is this an image issue?  What generally causes image distortion between devices?  Size assignment?

[2020-01-06 17:10] kbrosnan commented on #7461
See previously #562. @apbitner was this behavior wontfixed in 562?

[2020-01-06 17:21] apbitner commented on #7461
@SL-Lee and @Rodze, I'd like to better understand the issue. If the toolbar is at the bottom and you tap on it the search bar moves to the top of the screen so that as you start typing the browser displays a list of suggestions, history, etc., between it and the keyboard. I understand the messaging app reference but the key difference is those apps aren't displaying a list of suggestions when the

[2020-01-06 17:27] vesta0 commented on #1767
@softvision-miralobontiu please test again and let us know if this is still reproducible.

[2020-01-06 17:34] ecsmyth commented on #6370
Based on @mcomella's comment, I'm dropping the priority to P2 to align with proposed performance release criteria.

[2020-01-06 17:40] vesta0 commented on #7332
We will coordinate with A-S team to fix this.

[2020-01-06 17:44] vesta0 commented on #5326
We will coordinate with A-C to fix this.

[2020-01-06 17:46] vesta0 commented on #6787
@fluffyemily does this seem like a GeckoView bug?

[2020-01-06 17:55] vesta0 commented on #6832
Need STR for this.

[2020-01-06 17:55] LeoniePhiline commented on #7309
Hi @boek
Thanks for your reply!

What is the reasoning for having less search engines, and especially having privacy centered choices removed - against what Mozilla usually claims to stand for?

Is this a result of force by Google? (I am unaware of the current default search engine provider deals, which, AFAIK, are a central source of income for Mozilla.)

The entire removal smells a little fishy

[2020-01-06 18:07] Baron-Severin commented on #6992
This is likely the same problem as https://github.com/mozilla-mobile/fenix/issues/7184.  Let's make sure to test both cases when we fix.

[2020-01-06 18:08] rocketsroger commented on #7494
main issue fixed by https://github.com/mozilla-mobile/android-components/issues/5473

[2020-01-06 18:08] #7494 closed

[2020-01-06 18:12] SL-Lee commented on #7461
With the search bar at the top of the keyboard, the suggestions can be ordered by relevancy from bottom to top, as having the most relevant suggestion closer to the keyboard would require less effort from the user to tap on it. [This comment](https://github.com/mozilla-mobile/fenix/issues/562#issuecomment-526390323) and [this comment](https://github.com/mozilla-mobile/fenix/issues/562#issuecomment

[2020-01-06 18:12] vesta0 commented on #4504
The 3rd party app passes on the share button, we will look into how to handle what they pass on better.

[2020-01-06 18:15] s-ankur opened #7503 "[Bug] Error initializing media manager java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState - crash when "open in firefox" selected when viewing privacy notice from onboarding"
related to #6514
## Steps to reproduce
Click on read our privacy policy on the onboarding page
custom tab opens
press open in firefox in the three dot menu
### Expected behavior
opens link
### Actual behavior
crash
![2020_01_06_23_2-1578333750668](https://user-images.githubusercontent.com/33252312/71838252-4c421d00-30b0-11ea-9c79-2b0c12079836.gif)

### Device information

* Android device: asus ze

[2020-01-06 18:16] s-ankur commented on #7503
firefox doesnt crash if the page is fully loaded

[2020-01-06 18:19] sblatz commented on #1461
@vesta0 is this something we want to prioritize?

[2020-01-06 18:23] st3fan commented on #1461
Looping @pocmo in because I think he did the work on the notifications that we show now.

[2020-01-06 18:26] sblatz commented on #5814
Discussed this in AC triage. @grigoryk's first guess is that we're not properly refreshing the view but we probably have the data.

I believe @Baron-Severin also refactored this recently so this may not be an issue anymore.

QA can you please verify this is still happening?

[2020-01-06 18:29] grigoryk commented on #5814
Specifically, the following comment is why this is my first guess: "The folders were displayed again on Fenix, only after I saved a new bookmark!". This sounds like a problem with a DB->UI pipeline, not the data (read: sync) problems.

[2020-01-06 18:31] s-ankur opened #7504 "[Bug] Contrast Issue with disconnected device warnings in 3 dot menu"
## Steps to reproduce
Disconnect firefox account login for fenix from accounts.firefox.com
open 3 dot menu either in a webpage or in the overview
![Screenshot_20200104-112810](https://user-images.githubusercontent.com/33252312/71839223-95936c00-30b2-11ea-8670-5c8defaa68ca.png)
![Screenshot_20200104-112818](https://user-images.githubusercontent.com/33252312/71839249-a2b05b00-30b2-11ea-8398-67ffb063

[2020-01-06 18:46] AaronMT opened #7505 "[Bug] Regression: Black rectangle painted painted on half of visible view on page load"
4bab49348707110b5fb44248d91c18020dafa49b

Pixel 2 (Android 10)

On initial page load, I am seeing a black rectangle painted in view.

- Visit cnn.com
- See black rectangle

![Untitled](https://user-images.githubusercontent.com/102331/71840159-bcd64300-308a-11ea-9a2d-e8fb70fc5e25.gif)

This doesn't seem to happen on further page loads.

[2020-01-06 18:47] AaronMT commented on #7505
Maybe the same as https://github.com/mozilla-mobile/fenix/issues/7381

[2020-01-06 18:52] liuche commented on #6380
This is done in GV now, so we should decide if this will be AC-by-Fenix or has work that AC will do.

[2020-01-06 18:57] mcomella commented on #6464
@AndiAJ Your steps look good to me (assuming `findstr` is like `grep`) – thanks for verifying!

[2020-01-06 19:09] matejdro commented on #7495
Possible duplicate of https://github.com/mozilla-mobile/fenix/issues/4044?

[2020-01-06 19:11] jdragojevic commented on #5888
FYI latest a-s version (3-Jan, 0.48.0) has our initial data for logins, history and bookmarks - https://github.com/mozilla/application-services/releases/tag/v0.48.0

[2020-01-06 19:12] mcomella commented on #6370
Fenix uses the P* labels, not us, so replacing the label and sending back to triage.

[2020-01-06 19:21] liuche commented on #3262
Popping this onto @fluffyemily's radar - in the meantime, I'll also add it to the GV board.

@NotWoods I see a [PTR](https://github.com/mozilla-mobile/android-components/issues/3182) bug on the PWA board, so let me know how important it is to resurface this to get a more helpful API from Gecko.

[2020-01-06 19:22] liuche commented on #4383
I don't see any more dependencies here, so this is probably ready to work on?

[2020-01-06 19:26] liuche commented on #255
Looks like the GV bugs are all closed, so this should be ready to work on. Unclear to me rn if this requires AC work, since there are already some APIs exposed.

[2020-01-06 19:31] liuche commented on #1901
There have been improvements on the Graphics side, but now this is [bounced back](https://bugzilla.mozilla.org/show_bug.cgi?id=1588581#c10) to Fenix/AC.

`Isn't the problem that there is a delay between the SurfaceView being destroyed and the TabsFragment being created and shown? So the android UI displays black during this time.`

Also can't be reproed by Jamie. I'm going to add a qa-needed label

[2020-01-06 19:37] ekager commented on #1901
I left an intermediate fix in that hides the GV and instead just shows the "background" which made the transition a bit less jarring. In light mode, it will be white, dark mode will be black

[2020-01-06 19:51] cadeyrn commented on #7505
Since you're using a Pixel 2 which has WebRender enabled I think it's #7338.

[2020-01-06 20:06] liuche commented on #3180
Yes, I think that's correct, so we stop showing incomplete data. We could either as GV team to hide it for us (more correct) or we could add in some code in Fenix itself to not show it.

[2020-01-06 20:14] Baron-Severin opened #7506 "Highlight `what's new` after each release"
(issue based on https://github.com/mozilla-mobile/fenix/issues/7352#issuecomment-571146407)

### Why/User Benefit/User Problem
As a user, I want to be aware when the app changes, and easily know when to look at the `What's New` item.

### Acceptance Criteria (how do I know when I’m done?)
- After a release, the home screen three-dot-menu item `What's New` should be highlighted
- After checking `Wh

[2020-01-06 20:17] Baron-Severin commented on #7352
My apologies @softvision-miralobontiu, after demo UX requested that the dot be removed from `Appearance`, but I neglected to update the ACs.  Updating them now.  I'm going to close the story, please feel free to reopen if you have any other issues with it.

@topotropic I opened https://github.com/mozilla-mobile/fenix/issues/7506 to track that change, would you mind taking a look at it and making s

[2020-01-06 20:17] #7352 closed

[2020-01-06 20:29] sblatz commented on #6304
Spoke with Chenxia & Amy one more time 😅

Going to move forward with **persisting** private/normal mode (even through force quits). We will make "hide private tabs after 30 minutes" a feature request follow up.

[2020-01-06 20:35] MarcLeclair commented on #7386
Most of the Glean initialization is quick but the two "bottlenecks" were the AC Migration and the GLean Scheduler which was mostly a string manipulation error. Here are the two bugzilla tickets that address those issues:

1) [AC migration](https://bugzilla.mozilla.org/show_bug.cgi?id=1605114)
2)[String manipulation](https://bugzilla.mozilla.org/show_bug.cgi?id=1604819)

@mcomella   I'll close this

[2020-01-06 20:40] NotWoods commented on #3262
PTR for PWA isn't a blocker since we have the refresh button in the site controls notification.

[2020-01-06 21:02] ksy36 opened #7507 "[Bug] Autoplay is not working for a muted video"
As reported here: https://github.com/webcompat/web-bugs/issues/47604

## Steps to reproduce
Visit https://corsolinux.com/ and observe the site

### Expected behavior
Video starts
### Actual behavior
Video doesn't start and gray background is displayed
### Device information

* Android device: Samsung Galaxy S5
* Fenix version: Nightly Build #20061806 from 06/1

I've created a reduced test case wit

[2020-01-06 21:05] hawkinsw commented on #7448
Wanted to track in here the open PRs that are up for consideration w.r.t this issue:

1. Caching the results of `Browsers.all()` in Fenix: See PR https://github.com/mozilla-mobile/fenix/pull/7490
1. Setting the user Leanplum session's user attributes after calling `Leanplum.start()`: See PR https://github.com/mozilla-mobile/fenix/pull/7475

It seems like taking *both* steps is worthwhile. Landing

[2020-01-06 21:07] hawkinsw commented on #7281
Though caching the results of `Browsers.all()` (see PR: XX) will make the performance of `setStartupMetrics` better, I do not think that it is a bad idea to also do it asynchronously. @mcomella and @MarcLeclair, what do you think?

[2020-01-06 21:07] vesta0 commented on #6812
I can't reproduce this. @mcarare do you know if this is still an issue?

[2020-01-06 21:13] hawkinsw commented on #7143
The delay caused by checking whether the user's input string is a search string or a URL is fixed with https://github.com/mozilla-mobile/android-components/pull/5384. However, I now see delay primarily caused by initializing the Gecko session. Should we leave open this issue to track that or start a new issue? @ecsmyth @snorp

[2020-01-06 21:20] jawz101 commented on #5630
On November 3rd you suggested using sync or copy/paste in lieu of importing & exporting a backup of the config file.  I was giving reasons why that is not too possible.

[2020-01-06 21:43] kbrosnan commented on #7505
I agree on the dupe of #7338

[2020-01-06 21:43] #7505 closed

[2020-01-06 21:49] hawkinsw commented on #7143
@MarcLeclair I verified that I no longer see the regular expression compilation but I was hoping that you could do the same (for my sanity!)?

Thank you!

[2020-01-06 22:20] vesta0 commented on #6611
The content and structure of the FAQ page was discussed with Sumo, Marketing, UX, and ENG. @jonichan has now drafted the FAQ page accordingly.

For the Nightly and Beta migration, I recommend linking “What’s new” to this FAQ page since (1) that's what will be NEW for migrated users, and (2) it’s more prominent and discoverable VS an FAQ that would live on the About page

For the main launch, we ma

[2020-01-06 22:34] agi90 commented on #3506
I haven't seen it from any other app.

[2020-01-06 22:45] Baron-Severin commented on #6013
Not sure what to make of this crash report.  `BaseBrowserFragment#adjustBackgroundAndNavigate` null checks everything it touches.  The stack trace includes `RxJavaPlugins`, and afaict there's no Rx anywhere near this code path (in fact, we've recently removed Rx from our project entirely).  We're reaching out for other opinions on this, but otherwise unclear on how to proceed.

[2020-01-06 22:49] Baron-Severin commented on #6013
We've also been unable to find any instances of this crash since October 27th.

[2020-01-06 22:56] boek commented on #6187
Looks like this was fixed when we fixed #6229 with this commit fb17ae2258db912bbcf3a760ef6a5778ac0b4671

[2020-01-06 22:56] #6187 closed

[2020-01-06 23:01] kbrosnan commented on #6013
Agreed after talking with @boek lets close this.

[2020-01-06 23:01] #6013 closed

[2020-01-06 23:32] kbrosnan commented on #7455
@thanuj10  Please provide a screenshot or video of what you are describing.

[2020-01-06 23:33] kbrosnan commented on #7449
@adamopenweb is this a bug for the Fenix team or the webcompat team?

[2020-01-06 23:40] boek opened #7511 "[Bug] App Actions in private custom tabs can look funky"
## Steps to reproduce
1. Make Fenix your default browser
2. Enable opening links in private mode by default
3. open a custom tab from twitter

### Expected behavior
Contrast is good

### Actual behavior
<img width="752" alt="image" src="https://user-images.githubusercontent.com/1250545/71857001-bc45a880-309a-11ea-8d38-c8e35505b68e.png">

### Device information

* Android device: ?
* Fenix version:

[2020-01-06 23:40] Baron-Severin commented on #4504
We're unable to reproduce this on recent builds.  Jumping into the code, it looks like AC has rewritten a substantial chunk of how these buttons are created/sized/laid out.  QA, would you mind verifying that this is now working as intended?

Please note that custom tabs in **_private mode_** have some coloring issues that are being tracked in #7511, but they shouldn't block this bug.

[2020-01-07 00:03] mcomella opened #7512 "Validate open + close tabs tray performance"
We're moving the tabs to a separate TabsTray: #7071. As part of implementing this new feature, we should:
1. Ensure there are no performance issues in the feature by testing and meeting the release criteria (N.B.: criteria to be set by @ecsmyth)
2. Ensure there are no performance regressions to cold startup to homescreen (where the tabs are currently located). N.B.: our cold startup test runs with

[2020-01-07 00:49] jonichan commented on #6611
Here's the direct link to the FAQ page: https://support.mozilla.org/kb/firefox-preview-upgrade-faqs. Feel free to use this URL format when linking from other web pages.

Use https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/preview-faq when linking from the UI.

[2020-01-07 01:18] mcomella opened #7513 "Validate top sites performance"
Like #7512, top sites is being introduced to the app #6190 and is expected to land by the end of this sprint. We should validate the impact it has on the startup of the app.

[2020-01-07 01:20] mheubusch commented on #6611
Thanks @vesta0! I'm confused about the difference between item 1 and item 3:

For 3 do you mean the What's New card on desktop?

Also, re the FAQ - I reviewed the copy and it seems to suggest the pave over will be called Firefox Preview.  We should be positioning this as "how do I get the completely redesigned Firefox?" vs "how do I replace Firefox for Android with Firefox Preview?", yes?

[2020-01-07 02:54] leela52452 opened #7514 "[Bug] unable to close popup"
## Steps to reproduce
visit https://www.mercuriocalama.cl/impresa/2016/12/08/full/cuerpo-principal/21/
opens a popup
### Expected behavior
able to close popup
### Actual behavior
unable to close popup
### Device information

* Android device: ls-4001
* Fenix version: 3.0 [ Build #13431955 ]

screenshot:
![Screenshot_2020-01-07-08-11-34](https://user-images.githubusercontent.com/52065244/71864814-d

[2020-01-07 03:33] lindongbin commented on #7039
https://www.reddit.com/r/firefox/search/?q=desktop%20site&restrict_sr=1

[2020-01-07 06:16] yoasif commented on #3270
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1558374

[2020-01-07 06:28] ekager commented on #7455
Looks like #1648?

[2020-01-07 06:43] s-ankur commented on #7514
Seems to be a problem with the website itself (or maybe even  intentional design). Works the same way on both fennec and chrome

[2020-01-07 06:53] kbrosnan commented on #7514
Agreed. This is intentional design by the website owner.

[2020-01-07 06:53] #7514 closed

[2020-01-07 06:53] sv-sdeiac commented on #3194
Hello, I can reproduce this issue using Google Pixel (Android Q) with the latest version of Firefox Preview Nightly 1/6 build #20060605.

My steps to reproduce are:
1. Go to rockfm.ro;
2. Start the radio music;
3. Open the tab tray;
4. close the media tab;

The actual results are the same as in the description.
For more investigations, please don't hesitate to ask for them, thanks.

[2020-01-07 07:19] AndiAJ commented on #4525
Hi, **verified as fixed**, the progress bar is displayed, on the latest **Nightly Build #20070606 from 01/07** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200107_090953](https://user-images.githubusercontent.com/51314259/71876066-8ce07b80-312e

[2020-01-07 07:55] AndiAJ opened #7516 "[Bug]Display the actual progress in the Download notification"
## Steps to reproduce
1. Navigate to https://www.thinkbroadband.com/download
2. Download a Medium file.
3. Check the Android download progress bar.

### Expected behavior
Download percentage or progress from a file size point of view should be displayed.

### Actual behavior
The user can't check the actual progress.

### Device information

* Android device:
• Google Pixel 3a (Android 9)
• Huawei

[2020-01-07 08:40] AndiAJ commented on #220
Hi, I've just check this issues on the latest **Nightly Build #20070606 from 01/07** using a Google Pixel 3a (Android 9) and noticed a couple of inconsistencies:

1. The language **isn't actually changed** from Fenix's language setting.
2. After closing and re-opening Fenix noticed that:
• **Only some settings subsections seem to be translated** (Theme, Toolbar), but after opening them, the **lang

[2020-01-07 08:45] isabelrios commented on #7417
Thanks @sv-ohorvath!
I don't have any example, I lost the Firebase execution number in which I saw the failure but I will try to find it

[2020-01-07 09:40] mcarare commented on #6812
The bug is not reproducible for me either, and it was 100% reproducible before. I'm going to close this.

[2020-01-07 09:46] cadeyrn commented on #6611
There is a mistake in the SUMO article:

"Ublock" should be "uBlock Origin" because uBlock and uBlock Origin are different add-ons and according to #5630 uBlock Origin will be supported.

[2020-01-07 10:04] AndiAJ commented on #1901
Hi, as per @liuche 's [comment](https://github.com/mozilla-mobile/fenix/issues/1901#issuecomment-571278895) I've just checked this matter on the latest **Nightly Build #20070606 from 01/07** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)

The **problem is still there**, on the other hand, @ekager 's  intermediate fix

[2020-01-07 10:06] #6464 closed

[2020-01-07 10:38] sv-sdeiac commented on #3475
This issue is still reproducible using the latest version of Firefox Preview Nightly 1/7 build #20070606 on LG G7 fit (Android 8.1).

[2020-01-07 10:46] sv-sdeiac commented on #6217
After my previous investigation, I found that the issue is reproducible using the RC build of Firefox Preview 3.0.1 build #13502256 on LG G7 fit (Android 8.1).
Also, I can't reproduce the issue with the latest version of Firefox Preview Nightly 1/7 build #20070606.

[2020-01-07 10:54] s-ankur opened #7519 "[Bug] Back button does not work when fenix is launched using search widget, clicking makes browser completely unresponsive"
## Steps to reproduce
Place fenix search widget in device home navigation
launch fenix using this
click on the back button

![WhatsApp Image 2020-01-07 at 4 24 01 PM](https://user-images.githubusercontent.com/33252312/71890380-27aa7b80-316a-11ea-9584-77f13135a8a2.jpeg)
### Expected behavior
I'm not sure whether it should just close firefox or open the tab overview.
### Actual behavior
Does nothing

[2020-01-07 10:56] Dexterp37 commented on #7295
Please note that the [`activation`](https://github.com/mozilla-mobile/fenix/blob/master/docs/metrics.md#activation) ping does send the `client_id` **intentionally** , so yes, I think that @boek is right and this should probably be a separate custom ping :)

[2020-01-07 11:53] sv-sdeiac commented on #6945
After my previous investigation, I found that if you pinch-zoom and after the jump, you're releasing the fingers, the focus is replaced in the right place of the page.

#### Build:
- Firefox Preview Nightly 1/7 build #20070606.

#### Device:
- LG G7 fit (Android 8.1).

[2020-01-07 11:58] sv-sdeiac commented on #6971
Hello, after previous investigation I was not able to reproduce anymore the issue with the Firefox Preview Nightly 1/7 build #20070606.
The issue is still reproducible for the RC build of Firefox Preview 3.0.1 build #13502256.

[2020-01-07 13:01] mcarare commented on #7332
@vesta0 Currently the selection of what to sync is synced across devices. If you deselect one option on a device and sync, after you sync on another device the option will be unselected too.

Is this the intended behaviour? It seems odd, but from the code it seems to be intentional.

This would also explain this issue, cause the first sync is treated "like" another device syncing with default valu

[2020-01-07 13:16] Amejia481 commented on #6787
I was able to reproduce the issue on a fresh installation of Fenix nightly and also on the GeckoView example app.

[code]

[2020-01-07 13:23] mcarare commented on #6992
For UX: This is an easy fix, but I have a question: When toolbar is set to bottom, we hide it and show find in page bar. We do the same when toolbar is at top, even though they are not in the same place (find in page always displays at bottom). Should we keep this behaviour, or we should not hide toolbar when is at top? TY!

[2020-01-07 13:29] mcarare commented on #7184
This should have been fixed by https://github.com/mozilla-mobile/fenix/commit/686facffc6ca21c1c38765306507f2269f5314b5.
QA, can you please check? TY!

[2020-01-07 14:21] AndiAJ commented on #5334
@Baron-Severin - should the fix for #7511 also be included in issue?

[2020-01-07 14:26] marcinwiacek commented on #6073
@NotWoods , maybe you could help me with this PR?

[2020-01-07 14:33] AndiAJ commented on #4504
Hi, **verified as fixed**, on the latest **Nightly Build #20070606 from 01/07** using the following devices:

• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Custom tabs
![20200107_154516](https://user-images.githubusercontent.com/51314259/71902674-3d6c7080-316b-11ea-8e32-816fc03e730f.g

[2020-01-07 14:33] #4504 closed

[2020-01-07 14:47] sv-sdeiac commented on #7503
I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 1/7 build #20070606.

#### Device
- LG G7 fit (Android 8.1).

There is a [crash log](https://github.com/mozilla-mobile/fenix/files/4031088/crashprivacy.txt) about this scenario.

[2020-01-07 14:52] abodea commented on #7184
Verified as fixed on the latest version of Nightly from **1/7** using **Samsung Galaxy S10+(Android 9).**

Note that I tried with both websites(with the twitter app): `reddit` and `/heximal-clock.glitch.me/` following the same scenario from the description.
Also, note that I verified this issue on **`Fenix Private-Browsing`** **`Custom Page`** and it worked as expected, the bottom was displayed co

[2020-01-07 14:52] #7184 closed

[2020-01-07 15:00] #4978 closed

[2020-01-07 16:08] sblatz commented on #4525
@AndiAJ Sorry for the confusion on this. This ticket should be tracking the progress moving (not just an indeterminate bar). It seems that didn't make it into nightly. I'm going to re-open this and mark it as QA once it's in. Apoligies!

[2020-01-07 16:09] #7516 closed

[2020-01-07 16:10] s-ankur opened #7521 "[Bug] Tabs opened during onboarding tour are "hidden", activating reader mode crashes firefox"
## Steps to reproduce
Follow steps in #7503 , but wait for the page to be fully loaded
Firefox will not crash
Press the tabs/home button
![2020_01_07_21_3-1578412941759](https://user-images.githubusercontent.com/33252312/71909564-355f0180-3168-11ea-8f99-9967cd19c8b1.gif)
### Expected behavior
?
### Actual behavior
onboarding page opens but instead of displaying one tab in the bottom bar it shows t

[2020-01-07 16:37] andretiagogr opened #7522 "[Bug] Crashes when adding an invalid search engine"
## Steps to reproduce
Try to add a new search engine with the wrong protocol

Example:
* `"https://%s`
* `a://%s`
* `ftp://%s`

https://i.imgur.com/kKvUCCW.png

### Expected behavior
Show message: "Check that search string matches Example format"

### Actual behavior
Browser crashes

https://i.imgur.com/VDWVNU3.png

### Device information

* Android device: 9
* Fenix version: Nightly (Build #20070

[2020-01-07 17:15] boek commented on #7342
@fluffyemily will link the GV bug

[2020-01-07 17:27] boek commented on #6150
@LaurentiuApahideanSV is this still an issue?

[2020-01-07 17:29] boek commented on #6089
This should be fixed now!

[2020-01-07 17:36] Baron-Severin commented on #5334
#7511 will have to be done in a separate PR.  It's not yet clear how it should/can be fixed.

[2020-01-07 17:38] Baron-Severin commented on #7511
Important note: websites pass us their own toolbar color + assets, and we normally assume that they are ensuring they provide decent contrast.  Since we change the toolbar color in private mode, I don't see how it would be possible to modify assets in a way that will consistently ensure contrast while staying in sync with site branding.

[2020-01-07 17:39] kglazko commented on #4904
Seeing some different behaviors on the emulator (Pixel 2) as well.
Pre- Set fenix as default
1. Download Audabon Society app
2. Open Fenix and go to reddit.com for example (don't go back to homescreen, leave it there)
3. Go to audobon -> MyAudobon -> (click) Give Now

Expected:
Audabon tab will open in Fenix

Actual:
(About 1/2 of the time)
Fenix will open with Reddit
Going to home screen will onl

[2020-01-07 18:30] vesta0 commented on #5818
This looks fixed in the current nightly.

[2020-01-07 18:35] boek commented on #7049
Waiting on the fix that will land in #7157

[2020-01-07 18:36] boek commented on #7157
QA will want to verify that this also fixes #7049

[2020-01-07 18:36] #7049 closed

[2020-01-07 18:40] boek commented on #7030
We're guessing we want to pass this header through to GV? This is something we'll have to add to a-c

[2020-01-07 18:42] liuche commented on #7030
Here's an [explanation of headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers), and what things could be going wrong (auth, caching, resource fetching, DNT, etc)

[2020-01-07 18:46] sblatz commented on #6976
Here is a demo of the current behavior:

![push up 2020-01-07 10_45_29](https://user-images.githubusercontent.com/4400286/71920076-dfc03000-313a-11ea-909d-8a22a229137c.gif)

[2020-01-07 18:48] sblatz commented on #6826
I just reproduced:
1. New tab
2. Search with google
3. Title does not change
4. Shortcuts > DuckDuckGo
5. Make a search
6. Title does not change

It seems like we're not getting an `onTitleChanged` callback in some cases when searching, so probably AC related.

[2020-01-07 18:49] boek commented on #7207
@tvenissat yes of course! Are you still interested in working on this?

[2020-01-07 18:52] rocketsroger commented on #7497
I see.  I've close the PR and will update this issue and investigate how we can handle this better.  You're right that removing the menu presenter is not the way to go.

[2020-01-07 18:53] boek commented on #6732
@sblatz ^^

[2020-01-07 18:55] boek commented on #6727
We decided this is not something we want to do due to low impact on our telemetry numbers. Feel free to comment if you disagree.

[2020-01-07 19:05] boek commented on #6713
@grigoryk ^^

[2020-01-07 19:13] boek commented on #6231
We should double check the `magnet` link regression with this and create an allowlist for common protocols

[2020-01-07 19:18] Baron-Severin commented on #220
I smoke tested this and it worked as expected....  Not sure, possible that I messed something up when rebasing.  I'll try to find some time to investigate this.

[2020-01-07 19:21] grigoryk opened #7524 "[Investigate] Abnormally high device-commands traffic"
There are concerns from @rfk that Fenix is generating an abnormally high level of device-commands traffic (e.g. checking for send tabs). This issue is to investigate what's going on.

#### Acceptance Criteria
- [ ] Communicate with AS to determine how frequently we should be syncing (update these ACs with result)
- [ ] Ensure that we are only syncing as frequently as expected

[2020-01-07 19:21] vesta0 commented on #6620
@lime124 We are looking for final UX feedback on this. Product recommendation is that the back button should never destroy a tab. Tapping the back button should just minimize the tab and take the user back to home screen.

[2020-01-07 19:50] KaairaGupta commented on #7207
@boek can i work on this?

[2020-01-07 19:50] kbrosnan commented on #6217
Since this is working on nightly lets close this.

[2020-01-07 19:50] #6217 closed

[2020-01-07 19:54] KaairaGupta commented on #4766
Hey! Is this issue prevalent on all android versions or just the old ones?

[2020-01-07 19:55] kbrosnan commented on #7519
This seems poor for the primary entry point from the search widget.

[2020-01-07 19:58] vesta0 opened #7525 "[Telemetry] Top Sites"
#### Description & Product Manager / Data Scientist User Story
- As a product owner, I want to know how often users interact with top sites, so I can better prioritize related features and bugs based on user need.

#### What probes (suggested, if applicable)
- User pins a site
- User removes a site
- User opens a top site in regular mode
- User opens a top site in private mode

### Acceptance Crit

[2020-01-07 20:03] kbrosnan commented on #6971
Since this is working on nightly lets close this.

[2020-01-07 20:03] #6971 closed

[2020-01-07 20:12] cadeyrn opened #7526 "obsolete mediaIntegration feature flag"
Since the mediaIntegration flag is always true I guess it can be completely removed. The comment is aleady out of date (it still says "Behind nightly flag" which is not true) and the mentioned GitHub issue is already closed.

[2020-01-07 21:04] kbrosnan commented on #6073
Feature requests need to go through Product and UX review.

[2020-01-07 21:05] kbrosnan commented on #6086
Feature requests need to go through Product and UX review.

[2020-01-07 21:11] kbrosnan commented on #7503
Thank you for the log.

[code]

[2020-01-07 21:18] vesta0 commented on #255
@liuche would the remaining work be either all in Fenix or `AC by Fenix` ?

[2020-01-07 21:36] mheubusch commented on #6190
@topotropic Your explanation as to why "Firefox home" is correct. We are avoiding confusion with Android's home screen. I think if we observe that users can't complete the task or don't discover it at all because of the label we should consider a new phrase and test that for task completion and discovery before rolling it out.

[2020-01-07 21:52] tvenissat commented on #7207
@boek Yes. I am still interested. Can you assign it to me, please?

[2020-01-07 22:17] marcinwiacek commented on #6073
@kbrosnan , could you be more specific please? I have found https://github.com/mozilla-mobile/fenix/wiki/Fenix-Team-Processes, but I still don't know what to do.

[2020-01-07 22:53] kbrosnan commented on #7521
Could be a dupe of #7503

[2020-01-07 22:58] kbrosnan commented on #7522
Sentry issue: [FENIX-3JQ](https://sentry.prod.mozaws.net/operations/fenix/issues/6865822/)

[2020-01-07 22:59] kbrosnan commented on #7522
The first one does not crash on Preview Nightly. Using a different protocol

[code]

[2020-01-07 23:10] kbrosnan commented on #6150
Working for me in Preview Nightly build #20070607

[2020-01-07 23:13] marcinwiacek commented on #1833
I've done fix for Android M and higher, can somebody help me with processing this please?

https://github.com/mozilla-mobile/android-components/pull/5497

[2020-01-07 23:17] kbrosnan commented on #6089
No longer crashes. Do get a message that `Firefox Nightly can't download the file type`.

[2020-01-07 23:17] #6089 closed

[2020-01-07 23:17] marcinwiacek commented on #6715
Issue is visible even on Android emulator and happens for notification, microphone, camera

2020-01-07 20:00:18.745 30126-30126/org.mozilla.fenix.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.mozilla.fenix.debug, PID: 30126
    kotlin.KotlinNullPointerException
        at org.mozilla.fenix.settings.quicksettings.DefaultQuickSettingsController.handlePermissionToggled(QuickSettingsC

[2020-01-07 23:18] mcomella commented on #6902
This was moved to the Done column and, afaik, has been resolved so closing.

[2020-01-07 23:18] #6902 closed

[2020-01-07 23:19] mcomella commented on #1824
@MarcLeclair Can this issue be closed or is there additional work needed to close it?

[2020-01-07 23:26] marcinwiacek commented on #7154
hmmmm, hmmmm, hmmmm, https://github.com/mozilla-mobile/fenix/issues/6715 about this was submitted even earlier and can be merged.

[2020-01-07 23:26] marcinwiacek commented on #6081
I think, it was resolved in meantime...

[2020-01-07 23:33] adamopenweb commented on #7449
Hey, I think this is a Fenix team bug as we didn't implement this AFAIK.

But I also know @wisniewskit is working on replacing the current implementation with better hooks into the browser, similar to on desktop. He might have some insight here.

Lastly, webcompat.com isn't working at the moment for anonymous reports. We're working on getting that back up in the near future.

[2020-01-07 23:34] kbrosnan opened #7527 "[Bug] unable to download file without an extension"
## Steps to reproduce
* visit https://staktrace.github.io/moz-pages/fenix6089.html
* click the link
* accept the download

### Expected behavior

* file is downloaded

### Actual behavior

* `Firefox Nightly can't download the file type`

### Device information

* Android device: Pixel XL2
* Fenix version: Nightly

followup from #6089

[2020-01-07 23:47] kbrosnan commented on #5818
Yes this is working

[2020-01-07 23:47] #5818 closed

[2020-01-08 01:13] kbrosnan commented on #6231
`mailto:` the magnet: issue is #7427

Enabling the `open link in app` setting should allow this to work in the meantime.

[2020-01-08 01:56] mcomella opened #7529 "Write test to ensure `SentryClient` is not initialized on cold startup"
In https://github.com/mozilla-mobile/fenix/issues/7441, I wrote a PR to lazily initialize the `SentryClientFactory` at the same time as `SentryClient` (which was already lazily inited):
https://github.com/mozilla-mobile/android-components/blob/abe1547be464b30729b111ecf44961aa95d5a965/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/SentryService.kt#L42-L44

I wrote [a test](

[2020-01-08 01:57] mcomella commented on #7441
The PR landed and I see improved results on ND: mid 1.7s to low 1.7s.

We could write an on-device test in Fenix to verify these items are not initialized until after startup but I don't think we have the time to do so right now so I filed a follow-up https://github.com/mozilla-mobile/fenix/issues/7529 and I'm going to mark this done.

[2020-01-08 01:57] #7441 closed

[2020-01-08 01:57] mcomella commented on #7441
QA: could get the profile and verify this but it's probably not worth it. I think the ND results are sufficient.

[2020-01-08 02:24] mcomella commented on #7386
@MarcLeclair Thanks for investigating: I'm happy to close this issue.

I noticed 2 was closed: has it made it into Nightly? I'm curious if it has impacted our performance numbers, e.g. ND or FNPRMS. ND looks a little too noisy to tell though.

Would you mind filing issues in Fenix for 1 (linking to the Bugzilla tickets) and adding them to our project board so we can remember to monitor for changes

[2020-01-08 02:55] kbrosnan opened #7531 "[Bug] downloads that require a user to be logged in to a website fail"
- [x] https://bugzilla.mozilla.org/show_bug.cgi?id=1530022

## Steps to reproduce
* Login to Bugzilla
* Open a restricted eg [bug 1607647](https://bugzilla.mozilla.org/show_bug.cgi?id=1607647)
 * anyone who needs access to this just ask. This is a test bug that has no confidential information. Its sole purpose is to have an attachment behind a login.
* Download Success.html attachment

### Expecte

[2020-01-08 04:36] kbrosnan opened #7532 "[Bug] light theme back and home buttons are invisible when overlays are shown"
## Steps to reproduce

* Open a secure website or one that triggers tracking protection
* tap the lock icon or the tracking protection icon

### Expected behavior

* back button and home button are visible

### Actual behavior

* back button and home button are invisible

### Device information

* Android device: Pixel 3 w/ Android 10
* Fenix version: Nightly

[2020-01-08 04:38] kbrosnan commented on #7532
### Light theme
![Screenshot_20200107-203257](https://user-images.githubusercontent.com/250273/71950839-a238c280-318d-11ea-97b4-71ffdce363dc.png)

### Dark theme
![Screenshot_20200107-203326](https://user-images.githubusercontent.com/250273/71950867-b7155600-318d-11ea-88f3-743f12b11573.png)

[2020-01-08 04:45] kbrosnan commented on #6715
@marcinwiacek if you do a local build with #7404 does it resolve this crash?

[2020-01-08 04:52] kbrosnan commented on #6081
Thank you for following up. I also cannot reproduce comment 0. Closing

[2020-01-08 04:52] #6081 closed

[2020-01-08 05:20] 1jj commented on #3972
This is a plain bug raher than a feature request.
Any mobile or desktop browser handles the <br>`view-source:` protocol AFAIK.

[2020-01-08 05:48] yoasif opened #7533 "[Bug] Tapping search input on DuckDuckGo map detail page causes keyboard to appear then disappear"
## Steps to reproduce

1. Navigate to https://duckduckgo.com/?q=622+Broadway+best+buy&t=fpas&ia=places&iaxm=maps
2. Tap search input field

### Expected behavior

I can type a new query or edit the existing query.

### Actual behavior

My keyboard appears then immediately disappears.

### More info

I can't reproduce this in Reference Browser. This also occurs in the non-nightly Fenix.

### Device

[2020-01-08 05:54] 1jj opened #7534 "bela-lugosi.de is cropped on bottom when toolbar is on top"
**Move toolbar on top**
and visit http://bela-lugosi.de
Wait until animation ends.

### Expected behavior
Should display an ellipse sized over the whole viewport.

### Actual behavior
Ellipse is cropped on bottom.

### Does toggling Tracking Protection fix the issue? (Press the lock icon in the toolbar while on the site to see toggle)
--

### Can you reproduce in [Firefox for Android](https://play

[2020-01-08 06:02] s-ankur commented on #7534
this happens with many more websites and even the no internet connection page

[2020-01-08 06:58] AndiAJ commented on #6150
Hi, **verified as fixed**on the latest **Nightly Build #20080616 from 01/08** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200108_085314](https://user-images.githubusercontent.com/51314259/71956913-0b075580-31f5-11ea-87a6-511dd9ea6a3a.gif)

[2020-01-08 06:58] #6150 closed

[2020-01-08 07:02] AndiAJ commented on #7269
Hi, **verified as fixed** on the latest **Nightly Build #20080616 from 01/08** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200108_085749](https://user-images.githubusercontent.com/51314259/71957121-8e28ab80-31f5-11ea-88e0-41f7cf12bb1c.gif)

[2020-01-08 07:02] #7269 closed

[2020-01-08 08:40] hawkinsw commented on #7425
QA: To verify, I think that there are two options:

1. Check that metrics (Leanplum, Glean, etc) gathered about a user's device should contain an accurate list of all installed browsers.
1. Presumably there was a QA/regression test for guaranteeing that Fenix accurately captures the list of browsers installed on a user's device; continue to perform that test.

[2020-01-08 08:59] klint opened #7535 "Add reader view to custom tab menu"
Custom tab is heavily used by applications to read pages that could make very good use of reader view, but that option is not available in the menu (whereas desktop view is there)

[2020-01-08 09:35] pocmo commented on #7425
The solution you landed is great and makes sense to me. However I wonder if we should upstream this to AC and/or integrate into its `Browsers` class. This looks like something we want all apps to benefit from?

[2020-01-08 09:39] AndiAJ commented on #6089
Hi, **verified as fixed** on the latest **Nightly Build #20080616 from 01/08** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200108_113523](https://user-images.githubusercontent.com/51314259/71967154-8aa01f00-320b-11ea-8d04-c175caa56aa1.gif)

[2020-01-08 09:43] abodea commented on #5814
Verified as fixed on the latest Nightly build from 1/8 using Samsung Galaxy S10+(Android 9).
Note that I tried the steps from the description and this [comment](https://github.com/mozilla-mobile/fenix/issues/5814#issuecomment-543150944).
As this issue was not 100% reproducible, in case we will see it again, we will open a new bug.
Based on my comment I will close this issue.

[2020-01-08 09:43] #5814 closed

[2020-01-08 09:50] mcarare commented on #7532
I cannot reproduce this on 2 other devices with Android 9.

[2020-01-08 09:55] topotropic commented on #6620
The implemented feature that closes a tab when it's opened from another tab is correct. Addressed in https://github.com/mozilla-mobile/fenix/issues/2483.

When the tab doesn't have a parent tab, we should not close it when a user navigates back via the Android back button.

[2020-01-08 10:10] topotropic commented on #4863
is this still an issue now that we removed the x to close with https://github.com/mozilla-mobile/fenix/issues/6523?

[2020-01-08 10:16] cadeyrn commented on #4863
No, this is no longer an issue!

[2020-01-08 10:16] #4863 closed

[2020-01-08 10:19] topotropic commented on #5061
This might be addressed with https://github.com/mozilla-mobile/fenix/issues/6620. The idea is that we don't close open tabs unless they have a parent tab.

[2020-01-08 10:23] mawen7 commented on #6620
Would like to match the updated spec.

[2020-01-08 10:28] sv-ohorvath commented on #7274
@boek It is blocking me to run my tests locally, but it's not urgent. I noticed that on the first install this doesn't happen (on a data swiped device). If it was already installed once and already set as default, it will not toggle the switch On (it should be automatically on if it's already set).

[2020-01-08 10:59] topotropic commented on #5727
In the latest nightly (Wednesday 1/8) it just quits the app immediately when I use the Android back button.

I don't think I understand the explanation here https://github.com/mozilla-mobile/fenix/issues/4517#issuecomment-533608455 but if it's easier to send people to home, we can also keep that for now and exclude history or bookmarks view from the stack

[2020-01-08 11:52] topotropic commented on #2917
Do we preserve the stack? I just searched for "New York Times" opened nytimes.com from the results, saved it to a collection, opened it from the collection and when I tapped on the back button I got send to the Firefox Preview home screen instead of the search result page.

[2020-01-08 11:57] topotropic commented on #3760
Closing because a decision addressing this was made here https://github.com/mozilla-mobile/fenix/issues/6620#issuecomment-571732037

[2020-01-08 11:57] #3760 closed

[2020-01-08 12:19] AndiAJ commented on #5334
Hi, **verified as fixed** on the latest **Nightly Build #20080616 from 01/08** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200108_140312](https://user-images.githubusercontent.com/51314259/71977592-dd84d100-3221-11ea-9a62-28460efa1b9a.gif)

[2020-01-08 12:19] #5334 closed

[2020-01-08 12:22] topotropic commented on #4351
This will be addressed with https://github.com/mozilla-mobile/fenix/issues/1063

[2020-01-08 12:57] abodea commented on #7095
Verified as fixed on the latest **Nightly** build from **1/8** with **Samsung Galaxy S10+(Android 9).**

[2020-01-08 12:57] #7095 closed

[2020-01-08 13:04] ebalazs-sv commented on #4978
@pocmo I had tested this on Relase, Beta, Nightly migration builds from 01/08 with Google Pixel 3 (Android Q), Samsung Galaxy S8 (Android 9), Huawei Honor 8 (Android 7.0):
- For Release the search widget is kept and functional;
- For Beta and Nightly the search widget bar is kept, but the Fenix icon is not displayed, also this can't be tested because of the start-up crash https://github.com/mozill

[2020-01-08 13:13] AndiAJ opened #7540 "[Bug]Backgrounded custom tab is lost when opening Fenix"
## Prerequisites
Gmail, Reddit, Twitter, Cnet app's are opened.
Fenix is set as the default browser app.

## Steps to reproduce
1. Open a custom tab using Reddit.
2. Exit to the home screen and open Fenix.
3. Open a custom tab using Gmail
4. Exit to the home screen and open Fenix
5. Open a custom tab using Cnet
6. Exit to the home screen and open Fenix
7. Open a custom tab using Twitter
8. Exit to

[2020-01-08 13:29] mcarare commented on #6787
I can reproduce this on any browser with GV ("_no camera detected_" message), and it works fine for any browser with webview. IMO it is a bug in GV.

[2020-01-08 13:31] KaairaGupta commented on #7207
@boek isn't the color of the links in the screenshot provided by @AmyYLee visible too? I mean what exactly is this color to be changed to?

[2020-01-08 13:31] topotropic commented on #3813
Yes, works for me. Thanks!

![image](https://user-images.githubusercontent.com/353960/71981825-78ca7600-3223-11ea-95ce-cd9806787235.png)

[2020-01-08 13:44] abodea commented on #6851
Verified as fixed on the latest **Nightly** build from **1/8** with **Samsung Galaxy S10+(A 9).**

[2020-01-08 13:44] #6851 closed

[2020-01-08 14:18] Dunexus commented on #1063
Looking at abstract, tabs in the new tab tray looks like a list of inert links (like bookmarks or history) instead of living tabs like current implementation or the one in most of mobile browsers including fennec. Is there a UX goal behind this change ?

Also, is reordering tabs (https://github.com/mozilla-mobile/fenix/issues/2487) considered in this re-implementation of tabs ?

[2020-01-08 14:46] sv-sdeiac commented on #7534
Hello, I can confirm this issue using the latest version from Playstore of Firefox Preview Nightly 1/8 build #20080617 and Firefox Preview RC 3.0.1 build #13502256.

#### Devices:
- Xiaomi Mi 8 Lite (Android 9);
- Google Pixel 3 (Android Q).

[2020-01-08 15:06] sv-sdeiac commented on #7533
I was not able to reproduce this issue using the steps from the description using the latest nightly from the Playstore 1/8 build #20080617.

#### Devices:
- Xiaomi Mi 8 Lite (Android 9);
- Google Pixel 3 (Android Q);
- Google Pixel 2 (Android 9).

[2020-01-08 15:26] #7282 closed

[2020-01-08 15:30] thanuj10 commented on #7455
@kbrosnan It's the same issue as @ekager mentioned.

[2020-01-08 15:34] abodea commented on #3586
Verified as fixed on the latest **Nightly** build from **1/8** with **Samsung Galaxy S10+(Android 9).

[2020-01-08 15:49] topotropic opened #7543 "Pin site from home"
### Why/User Benefit/User Problem
I want to be able to pin sites from home so that I can quickly add a site.
This also helps discoverability of the feature.

### What/Requirements
- plus icon on home
- when people tap on it they can enter a URL (same UI as when people create a new collection and choose a name)
- when site is added, show a "Added to Firefox home" snackbar
- display placeholder for

[2020-01-08 15:51] topotropic commented on #7543
@vesta0 In the current implementation, we just offer the option to add a site to Firefox home from the home menu. This would help discoverability of the feature. Can you please prioritize it?  Thanks!

[2020-01-08 15:51] rocketsroger commented on #6935
This is a A-C issue, https://github.com/mozilla-mobile/android-components/issues/5505

[2020-01-08 16:06] ecsmyth commented on #6552
We can defer further investigation into installed app size for now. Prioritization as P3 is appropriate. I may file a separate ticket for user data and cache size as we have some signal there regarding churn.

[2020-01-08 16:12] topotropic commented on #6992
Yes, keep the behavior and hide the top address bar as well. Thanks!

[2020-01-08 16:16] kbrosnan commented on #6552
Temp files not being deleted is a good example of cache blowing up to an unexpected size. [1555115](https://bugzilla.mozilla.org/show_bug.cgi?id=1555115)

[2020-01-08 16:36] AmyYLee commented on #7207
@KaairaGupta - The link colour should be Violet 40 #AB71FF in Dark theme. Right now it fails contrast tests for accessibility. Thanks!

[2020-01-08 16:42] yoasif commented on #7533
You are tapping in the input on the site, right -- not the addressbar? @sv-sdeiac

[2020-01-08 17:36] s-ankur opened #7544 "Redirected page not shown in history"
## Steps to reproduce
open facebook.com (or any site that redirects)
redirected to m.facebook.com
### Expected behavior
m.facebook.com shows up in history
this is fennec behaviour.
### Actual behavior
facebook.com in history
### Device information

* Android device: Asus Zenfone M1
* Fenix version:
Nightly 200107 18:01 (Build #20071807)
27.0.0, 707874f68
GV: 73.0a1-20200106092427

┆Issue is synchr

[2020-01-08 17:41] ekager commented on #7455
Okay closing as dupe of #1648

[2020-01-08 17:43] KaairaGupta commented on #7414
@boek I have worked a bit on this issue, and i needed some help with it.  Is there a difference between how the private mode theme works in dark and light modes? If so, then where in the code can i find it because this problem persists just in the light mode

[2020-01-08 17:57] ekager commented on #7544
This is likely because we are excluding[`REDIRECT_PERMANENT` when we fetch history results. ](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/components/history/PagedHistoryProvider.kt#L45)

[2020-01-08 18:16] severinrudie opened #7545 "Handle autofill errors in a more robust way"
### Why/User Benefit/User Problem
When saving a password, there are a few ways that the data can be improperly formatted.  For example, passwords cannot contain new lines, origin must be complete, etc.  Right now we handle some specific cases, but for others only show "Unable to save login."  This can leave a user confused as to why their login cannot be saved.

### Acceptance Criteria (how do I k

[2020-01-08 18:24] liuche opened #7546 "Open local html files in Fenix"
### Why/User Benefit/User Problem
Users might want to open html files on Fenix in the mobile browser.

### What/Requirements
- Handle the intent filters for filetypes
- Can talk to @snorp for any questions about Gecko

### Acceptance Criteria (how do I know when I’m done?)
- [ ] can open a local html file without "unknown protocol error"

┆Issue is synchronized with this [Jira Task](https://mozill

[2020-01-08 18:33] Cheap-Skate commented on #2487
I would also like to be able to re-arrange tabs, it's a nice feature of Fennec particularly with the "compact tabs" grid view.

[2020-01-08 18:34] ecsmyth commented on #7191
Given the change to the design of the home screen ([6190](https://github.com/mozilla-mobile/fenix/issues/6190)), I think this issue can return to the backlog for now.

[2020-01-08 18:37] darkwing commented on #6787
Has this been opened on GV?  What's our process for passing this on and tracking progress?

[2020-01-08 18:53] KaairaGupta commented on #7414
@boek i have fixed the bug and am making a PR. Are there any guidelines that i have to follow for the same? It's my first time with open source

[2020-01-08 19:00] Baron-Severin commented on #220
Hm, very strange.  I'm on Nightly Build #20071807 from 1/7, and mine is behaving very differently.  Is it possible that the code hadn't landed by the time the nightly you were on was cut?  That would be a long delay, but I'm not sure what else would cause this.

These two aren't reproducible for me (video attached).

I know a lot of our translations are only partial, so this might be expected on c

[2020-01-08 19:02] darkwing commented on #5727
When I swipe back, I see the home screen as described in original bug.

[2020-01-08 19:11] Baron-Severin commented on #6832
Note to QA: this is a very rare crash, and I don't think we're going to be able to reproduce it.  I'm also very confident in the fix.  If you don't mind, I think it's safe can call this `qa-not-needed`.

[2020-01-08 19:20] Sangeppato commented on #7494
@rocketsroger
Thank you!

[2020-01-08 19:33] KaairaGupta commented on #7414
@boek @ekager please review my PR

[2020-01-08 19:38] RangerMauve opened #7549 "Access Devtools within the browser"
### Why/User Benefit/User Problem

Mobile devices are becoming more prevalent and more and more people are using them exclusively rather than laptops or desktops.

One of the cool features of web browsers, for me, has been the ability to inspect and mess around with them and see how they work under the hood. It helped get me into web development, and I've heard similar stories from a lot of people

[2020-01-08 19:44] tvenissat commented on #7207
@AmyYLee Where are the contrast/accessibility tests and how do I run them? The only tests I have found check the visibility (Visible, Invisible, or Gone) or font size of the links and not their color.

[2020-01-08 19:48] AmyYLee commented on #7207
I use this https://webaim.org/resources/contrastchecker/

[2020-01-08 20:05] KaairaGupta commented on #7207
@AmyYLee please review my PR for this issue

[2020-01-08 20:05] cadeyrn commented on #7095
It's still **not** working.

Fenix master branch revision 2bdde4898687c15e9f2c7d0dc5c67f6c3a5ad716
OnePlus 7T Pro McLaren Edition with Android 10

[2020-01-08 20:24] marker10 opened #7551 "Allow the user to set the home page to a URL"
Users would like to be able to have Firefox open a web page instead of the homescreen. This allows the user to get to a consistent page to start their browsing experience.

* How does this work with Top Sites and Collections or other content on the home screen?
* How should this behave when Firefox is swiped closed? Restore active tab or open home page?
* How should this behave when the OS kills F

[2020-01-08 20:27] marker10 opened #7552 "[webcontent] Spotify webplayer mobile don't work"
3.0.1 (Build #13502256)
📦: 24.0.0, 968f858c1
GV: 71.0-20191125115111

[2020-01-08 20:33] cadeyrn commented on #7207
@KaairaGupta It's great that you contribute to Fenix but did you notice that both this issue and also #7414 were already assigned to another contributor? Maybe you could check this the next time because it's not fair for the others and there are still enough issues without assignee…

[2020-01-08 20:48] kbrosnan commented on #7551
This does not have enough information to be a valid issue.

[2020-01-08 20:54] kbrosnan commented on #7552
This looks broken on Spotify's side. Tapping launch web player briefly displays https://open.spotify.com before redirecting the user back to https://www.spotify.com/us/

[2020-01-08 21:00] KaairaGupta commented on #7207
@cadeyrn i am really sorry for this. I am new to opensource, these two being my first PRs, and i wasn't aware of this. Thanks for correcting me. I'll keep this in mind the next time.

[2020-01-08 21:08] tvenissat commented on #7207
@AmyYLee Thank you for the link. Also, I am new to git and not sure on how to proceed. Changing the value of `accent_bright_dark_theme` will affect more than just the `about_list_item.xml` text color. At the very least, it will break the `onboarding_card_background_dark.xml` and `fenix_snackbar.xml` since both of those layouts use the same color value when the dark theme is active. So, should I co

[2020-01-08 21:40] sblatz commented on #6715
@kbrosnan Testing this now 😄

[2020-01-08 21:43] darkwing commented on #7549
Have you tried remote debugging in Firefox: https://developer.mozilla.org/en-US/docs/Tools/about:debugging ?

I'd imagine screen real estate to get DevTools and the page on the same screen, in some fashion, would be very difficult.

[2020-01-08 21:47] sblatz opened #7553 "[Bug] About page has low contrasting button text when in Private mode"
![image](https://user-images.githubusercontent.com/4400286/72018845-4fa6e700-321d-11ea-8e32-5331389248e1.png)

[2020-01-08 21:54] sblatz commented on #7553
dup of https://github.com/mozilla-mobile/fenix/issues/7207 oops :)

[2020-01-08 21:54] #7553 closed

[2020-01-08 21:54] RangerMauve commented on #7549
Remote debugging is great when you're already using a laptop or desktop, and I've been pretty comfortable doing that for years for mobile web app development.

However this makes mobile devices second class citizens and prevents regular people (who mostly use mobile devices these days) from being able to tinker with this stuff they way they could in the past.

I agree that screen real estate will

[2020-01-08 22:11] sblatz commented on #6073
Hi @marcinwiacek generally we don't make changes like this until after Product & UX have agreed that this is something we want to do. It is something I will bring up in our triage next week.

[2020-01-08 22:14] #5650 closed

[2020-01-08 22:15] NotWoods commented on #6843
Has since been fixed 😄

[2020-01-08 22:15] #6843 closed

[2020-01-08 22:16] jonalmeida opened #7554 "Show App Services version on About Pages"
Similar to https://github.com/mozilla-mobile/fenix/issues/3055 - show the app services version used in the build on the About Page.

[2020-01-08 23:21] kbrosnan commented on #6715
Closing this as a duplicate

[2020-01-08 23:21] #6715 closed

[2020-01-08 23:34] marcinwiacek commented on #6073
Hi, in fact I've opened it in Oct and waited for any ping since then. I understand and respect your rules, but people from outside can also provide some info or even code and procedures should allow for it in ideal case... and honestly speaking right now for FF and Chrome are really lacking it. You can be first having it, that's all.

thx.

[2020-01-08 23:44] jonalmeida opened #7556 "[Bug] Intermittent test failure in BookmarkNodeTest"
Failing tests:

[code]

[Full build logs.](https://firefoxci.taskcluster-artifacts.net/aIZpWZN2RyyfpSDm2LNILA/0/public/logs/live_backing.log)

[2020-01-08 23:46] ekager commented on #7414
Reopening for QA

[2020-01-09 00:16] liuche commented on #7338
@vesta0 @kbrosnan this is the last major issues that WR team is aware of, and are actively working on it. Source of issue has been found by Jamie, and so it's in-progress.

This will have to get into 73 beta.

[2020-01-09 01:47] Baron-Severin commented on #7556
Root cause analysis

@mcomella noticed this in the stack trace:

`BookmarkNode.minus` behavior relies on guids being unique.  When running locally, `UUID.randomUUID` is legitimately generating random IDs, but for whatever reason it seems that it is sometimes not on CI.  I'm not sure why, but it gives us enough information to fix it.

Also we don't need Robolectric in this class, so let's pull it o

[2020-01-09 03:43] KaairaGupta commented on #7414
@ekager can you please let me know why this issue is reopened? Was there any mistake in my PR, and how should i proceed if there was?

[2020-01-09 03:59] ekager commented on #7414
No issue! Our process is just to keep issues open until our QA team can verify that they've been fixed.
In the future, you can use the keyword "For #7414" instead of "Closes #7414" to help me out :)

[2020-01-09 04:12] ekager commented on #7095
Hi @cadeyrn just checking - does it crash or just not work? Do you see any similar behavior in other apps?

I ask because I found this thread about biometrics not working correctly on OnePlus 7T Pro
https://forums.oneplus.com/threads/biometric-unlock-not-working-for-apps.1128033/

[2020-01-09 04:17] ekager commented on #7217
Reopening for QA

[2020-01-09 04:42] liuche commented on #7332
This is intended behavior - the engines enabled is "global", so if you enable a disabled engine on one of your devices, that selection will be enabled on all devices.

Debatable whether this is the "best" behavior, or what a user would expect, but this is how sync is intended to work right now, so I'm going to close this bug.

[2020-01-09 05:20] Baron-Severin commented on #7556
Fwiw, I'm not sure whether or not this will fix the intermittent failure. I think it might, and the changes are good for test hygiene, so 🤷‍♂ .

[2020-01-09 07:10] sv-sdeiac commented on #7533
Yes, the search input from the site.

[2020-01-09 07:33] cadeyrn opened #7559 "[Bug] changing language does not work if Fenix theme !== device theme"
### Steps to reproduce

1. open menu > Settings > Language
2. change the language

### Expected behavior

The language of the app changes.

### Actual behavior

The language of the app does not change. Even after removing Fenix from the Android recent apps and starting Fenix again Fenix still has the original language.

I also noted that after going to the language settings again no language has a

[2020-01-09 07:38] cadeyrn commented on #7095
@ekager It doesn't crash, it just not work. On the "Logins and passwords" screen I press the "Saved logins" row, then the "Unlock to view your saved logins" screen appears. After unlocking I am on the "Logins and passwords" screen again. It happens with both the PIN as well as with the fingerprint sensor as authentication methid.

Biometrics are working on my device in Firefox Lockwise and in my o

[2020-01-09 08:11] beatbrot opened #7560 "[Bug] Fenix currently does not support High Refresh Rate"
## Steps to reproduce

1. Open [testufo.com](http://testufo.com)
2. Set "Count of UFOs" to 1

### Expected behavior

Get 90FPS on a 90Hz Screen

### Actual behavior

Getting 60FPS while Chrome gets 90

### Device information

* Android device: OnePlus 7T (OxygenOS 10.0.7 EU)
* Fenix version: 3.0.2
* Fenix version: Nightly 200107 06:01

[2020-01-09 08:22] mcarare commented on #7095
@caderyn So the issue is with auth, not just with PIN auth. This should be opened in another issue.

[2020-01-09 08:27] cadeyrn commented on #7095
Well, the original report does not mention biometrics at all and the original report is still reproducible. I can open a new issue but it's exactly the same issue.

[2020-01-09 08:58] AndiAJ commented on #7026
Reproducible on **Fenix 3.0.2 Build #20081833** from 1/8 using a OnePlus A3 (Android 6)

[2020-01-09 09:01] s-ankur opened #7561 "[Bug] Name Collection flickers on Save to collection"
## Steps to reproduce
Press save to collection on 3 dot menu on a webpage
### Expected behavior
save to collection menu appears
### Actual behavior
save to collection menu appears but the title "Name Collection" flickers
### Device information

* Android device: Asus Zenfone M1
* Fenix version: Nightly 200109 06:02 (Build #20090616)
28.0.0, 11219297f
GV: 74.0a1-20200107215758

[2020-01-09 09:12] AndiAJ commented on #4000
Reproducible on **Fenix 3.0.2 Build #20081833 from 1/8** using a OnePlus A3 (Android 6)

[2020-01-09 09:12] AndiAJ commented on #6663
Reproducible on **Fenix 3.0.2 Build #20081833 from 1/8** using a OnePlus A3 (Android 6)

[2020-01-09 09:15] AndiAJ commented on #6076
Reproducible on Fenix 3.0.2 Build #20081833 from 1/8 using a OnePlus A3 (Android 6)

[2020-01-09 09:18] ebalazs-sv commented on #4977
@pocmo I had tested this on today's Release, Beta, Nightly migration build 01/09 with the devices:

- Google Pixel (Android Q) - ARM64;
- Samsung Galaxy S8 (Android 9) - ARM64;
- Nexus 6P (Android 8.1.0) - ARM;
- Xiaomi Mi Pad 2 (Android 5.1) - x86.

The Website Shortcuts are displayed on homescreen after migration, but when tapped, the "App isn't installed" message is displayed.

[2020-01-09 09:30] kumarharsh commented on #4000
Which QR Codes can Firefox Preview scan? Almost all codes in the Wikipedia article are not scannable using a OnePlus 6 device: https://en.wikipedia.org/wiki/QR_code

[2020-01-09 09:52] Dunexus commented on #7546
Does this mean https://github.com/mozilla-mobile/fenix/issues/4049 isn't won't fix anymore ? 😃

[2020-01-09 10:25] campbellkerr opened #7562 "BUG: home screen shortcut/bookmark fails to open intermittently"
I have some sites added to my Android home screen. Often, these fail to open/load a new tab with the URL. When it does work, it works fine.

Steps to reproduce:
- Tap a Firefox bookmark from Android home screen
- Firefox opens
- Firefox fails to open the bookmark or any new tab (it sits on the screen it was on previously)

Thanks

[2020-01-09 10:43] isabelrios opened #7563 "[UI Testst] Add test for Logins and Password menu (sign in with FxA)"
There is already a test to check this option in Settings -> Privacy menu[: Logins and Passwords ](https://github.com/mozilla-mobile/fenix/blob/master/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt#L115)menu but that test only checks the UI without being signed in with a FxAccount, not that a login is actually shown after signing in with.

With this new test we check that part

[2020-01-09 11:29] KaairaGupta commented on #7163
@ehsan in my case the back button soft key doesn't work at all. I remain at the same page even after pressing it.
Device info:

- android device 9

[2020-01-09 11:49] yoasif commented on #7533
I am using Android 10 on my Pixel 2. Might that make a difference?

[2020-01-09 11:51] beatbrot commented on #7560
I did some further investigation.

Only Chrome stable gets 90FPS. Both Chrome Canary and Bromite get just 60FPS. Maybe OnePlus has some kind of whitelist?

[2020-01-09 12:52] sv-sdeiac commented on #7181
I can reproduce this issue using the latest version of RC 3.0.2 #20081834 on Nokia 6 (Android 7.1.1).
Also, using Xiaomi MiPad 2 (Android 5.1 - arch x86) the ETP tooltip is cut.
![Screenshot_2020-01-09-15-40-00](https://user-images.githubusercontent.com/40264165/72069245-6ae22700-32ef-11ea-9cd4-98b43d12a450.png)

[2020-01-09 13:01] #7181 closed

[2020-01-09 13:15] ebalazs-sv commented on #4977
Here is a [logcat](https://github.com/mozilla-mobile/fenix/files/4040515/shortcut.txt) for this issue.

[2020-01-09 13:15] sv-ohorvath opened #7565 "[Bug] Switch to tab snackbar is not visible with top toolbar"
## Steps to reproduce
1. Set the Toolbar to be at the top.
2. Open a link in a new tab.
3. Watch the switch tab snackbar.
### Expected behavior
The snackbar is displayed.
### Actual behavior
The switch to tab snackbar is not displayed with top toolbar.
### Device information

* Android device: Pixel 3
* Fenix version: Rc 3.0.2

[2020-01-09 13:27] Mugurell commented on #4977
In the above logcat I see

from which I understand the homescreen shortcut is for a PWA not for a website shortcut.
Migrating PWA shortcuts is indeed not supported atm, them being added in https://github.com/mozilla-mobile/fenix/issues/4979

For adding a website shortcut can you please do the following in Fennec?:
- navigate to a website
- press the 3 dot menu button
- tap Page -> Add Page shortcu

[2020-01-09 13:28] sv-ohorvath opened #7566 "[Bug] Permanently blocked by the system, camera and mic permissions don't appear in the site info panel"
## Steps to reproduce
Make sure to clear app data and have the default permissions settings.
1. Go to permission.site, switch to https
2. Tap the camera or mic buttons.
3. Deny access on the first system permissions prompt.
4. Tap the cam or mic buttons again and tap "Deny and Don't ask again" on the system permissions prompt.
5. Tap the lock icon and check the site info panel.
### Expected behavi

[2020-01-09 13:29] Mugurell commented on #4979
@NotWoods I see you've unassigned yourself for this?
Is there any work left to be done that I could continue?

[2020-01-09 13:40] ebalazs-sv commented on #4977
Indeed, in the previous comment PWA's were added. Sorry for the confusion.
I tested this with page shortcuts and they are opened in Fenix as intended.
I will move this to Done. Thanks!

[2020-01-09 13:50] Amejia481 commented on #7559
On my device, I'm able to change the language but the selected language doesn't have a check-mark,after you go leave the language screen and re-enter. I'm using a pixel 3 with Android 10

[code]

[2020-01-09 13:52] Amejia481 commented on #7559
cc @BranescuMihai

[2020-01-09 14:01] sv-sdeiac commented on #7565
I can reproduce this issue using Xiaomi Mi Pad 2 (Android 5.1).
Also, when you copy the link from URL bar, still doesn't display the snackbar.

[2020-01-09 14:08] st3fan opened #7569 "[Bug] Some websites are not displayed on about:debugging Service Workers section"
**Environment:**
Device: Nexus 6P (Android 8.1), Google Pixel (Android Q), Windows 10
Build: Firefox Preview Nightly 191224 (#13580608), Gecko 73.0a1

**Steps to reproduce:**
1. On Fenix, go to about:config and activate dom.serviceWorkers.parent_intercept pref to "true".
2. On Fenix, load these [pages](https://docs.google.com/document/d/1-NdKZVPHNebJT8-NqcGGvc4BA1DucXbSDM0I3JbFnHg/edit) in differe

[2020-01-09 15:29] lobontiumira opened #7571 "[Bug] Location is not displayed in https://daleharvey.github.io/testapp/ even if "Don't ask again" is selected"
## Steps to reproduce
1. Make Fenix your default browser.
2. In custom tab, open https://daleharvey.github.io/testapp/ and tap on the "Get location" button.
3. Check the "Don't ask again" checkbox and allow permission.

### Expected behavior
The location's coordinates are displayed.

### Actual behavior
The location's coordinates are not displayed. There is no action.

### Device information
* Rep

[2020-01-09 15:47] ixti commented on #7181
@sv-sdeiac Why closing this issue if it's not fully fixed? Just curious.

[2020-01-09 15:49] sv-sdeiac commented on #7181
@ixti, since the latest Nightly is verified as fixed, the next build of beta/RC will take this fix.

[2020-01-09 16:04] Mossop commented on #7332
@liuche Can you clarify how the intended behaviour you describe relates to my original report? Are you saying that because I already have bookmark syncing enabled on my desktop that disabling bookmark syncing on my phone will never work?

[2020-01-09 16:05] ixti commented on #7181
@sv-sdeiac Oh, sorry. Somehow I've totally skipped the rest of the message after the first screenshot... Got it now. Thank you!

[2020-01-09 16:17] Amejia481 commented on #6454
On Netflix I'm not able to play anything, as every title I tap, I get an **Unknown protocol error**. I'm trying to reproduce it on twitter.

[2020-01-09 16:38] sblatz commented on #4525
This is now appearing on master so it should be ready to QA 😄

[2020-01-09 16:43] beatbrot commented on #7560
After even more investigation, I found out that I can force 90Hz with the app [Auto90](https://play.google.com/store/apps/details?id=com.arter97.auto90&hl=en_US). I could not find any visual glitches after enabling it.

It truly seems like OnePlus would have to approve the app for the official 90Hz mode

[2020-01-09 17:06] st3fan commented on #5260
@jonalmeida is https://github.com/mozilla/application-services/issues/2048 a dependency for this bug?

[2020-01-09 17:36] sblatz opened #7574 "[Bug] Metrics nav bar position is reported to telemetry in locale instead of english"
We should just send the pref key

Note: this **may** be an issue with other telemetry events we're sending and we should verify those too.

![image](https://user-images.githubusercontent.com/4400286/72090758-846d7980-32c3-11ea-84c2-bece8e5ea2c1.png)

[2020-01-09 17:57] jonalmeida commented on #6454
We don't support [EME](https://wiki.mozilla.org/Media/EME) on mobile which Netflix needs for video playback.

[2020-01-09 18:02] jonalmeida commented on #5260
@st3fan Yes, this is the a-c equivalent for the a-s work.

[2020-01-09 18:09] NotWoods commented on #4979
My work so far is in https://github.com/mozilla-mobile/fenix/pull/7011, which doesn't work fully. This ticket is being handed off to another team member but you're welcome to take a look too.

[2020-01-09 18:15] jonalmeida commented on #7524
@grigoryk Where my knowledge is lacking: are the "device-commands traffic" the same as if someone is pressing the "sync now" button?

If so, it might just be this one call in [`onResume`](https://github.com/mozilla-mobile/fenix/blob/9c28cb632c3fc2e980315ca6ee9cb01460f7b0f8/app/src/main/java/org/mozilla/fenix/HomeActivity.kt#L126). We had this here originally because send tab landed before push, an

[2020-01-09 18:19] snorp opened #7575 "Change PWA behavior for out-of-scope navigation"
Currently, if you click an "external" link while in a PWA, it navigates in the same "tab", but then shows the custom-tab-like location bar. Hitting the back button navigates back. This is okayish, but I have a couple problems with it:

1) There is no feedback when the navigation starts. We could consider showing the urlbar as soon as we detect that there will be a new out-of-scope page coming.

2)

[2020-01-09 18:22] AmyYLee commented on #7207
@sblatz Hi, can you help with answering this question? Thanks

[2020-01-09 18:23] jonalmeida commented on #6663
Were you able to confirm the stack trace is similar to the one in https://github.com/mozilla-mobile/fenix/issues/6663#issuecomment-558534622 above?

[2020-01-09 18:39] NotWoods commented on #7575
We actually took out the close button because people were confused, as it only closed the tab and not the whole app. The custom tab is a new activity so we could add some transition there.

[2020-01-09 18:56] snorp commented on #7575
Yeah, I think the activity transition would help people realize what's going on.

Another issue -- if you have Fenix set to open links in private mode, you'd want that to happen for these links as well. So if we just use a custom tab, we get that for free. IMO, external links from a PWA should behave exactly as if you clicked it from inside an actual app (which would likely use a custom tab).

[2020-01-09 19:02] AaronMT commented on #7303
Getting to this now.

There seems to be an issue with the way I am deleting a downloaded file and re-running the test. Subsequent runs of the test crash with.

[code]

[code]

[2020-01-09 19:20] darkwing commented on #6721
I could not duplicate on current master.  I did, however, notice a sorting issue between what I created on Desktop and what was pulled down to mobile:

<img width="503" alt="Desktop" src="https://user-images.githubusercontent.com/46655/72097789-c3f78e00-32e2-11ea-9f74-2bf9c4ab00bb.png">

![Screenshot_20200109-131819](https://user-images.githubusercontent.com/46655/72097799-c659e800-32e2-11ea-9ae3-

[2020-01-09 19:22] sblatz opened #7576 "Hide private tabs after a certain amount of time"
### Why/User Benefit/User Problem
I'd like my private tabs to be hidden if I've forgotten they even exist! (Sometime after ~30minutes? Just enough that we think the user has context switched to something else)

### Acceptance Criteria (how do I know when I’m done?)
- I can toggle this preference on in settings ("hide private tabs after X minutes")
- When enabled, Fenix opens to a "normal" session

[2020-01-09 19:27] sblatz opened #7577 "Do not switch users out of private mode to normal mode (persist the mode instead)"
This is a decision that came out of https://github.com/mozilla-mobile/fenix/issues/6304#issuecomment-571301380

[2020-01-09 19:28] sblatz commented on #7577
New desired behavior:
![private persisting 2020-01-09 11_28_38](https://user-images.githubusercontent.com/4400286/72098378-319bbe00-32d3-11ea-8b22-70a5f3729bb9.gif)

[2020-01-09 19:35] sblatz commented on #5722
Hmmm. @mcarare I'm still seeing it as pixelated on my Galaxy S9:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/72098838-2b5a1180-32d4-11ea-9f48-32b379db28b6.png">

[2020-01-09 19:47] darkwing commented on #5208
Can confirm this is still a problem.

[2020-01-09 20:21] kbrosnan commented on #7571
Works for me on a Pixel 3 running Android 10.

[2020-01-09 20:30] tvenissat commented on #7414
@ekager The [shared documentation](https://github.com/mozilla-mobile/shared-docs/blob/master/android/CONTRIBUTING_code.md#creating-a-pull-request) states that:

Yet, most commits to this repository (as well as other Mozilla repositories) mainly use the `For` or `Fixes` [keywords](https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords) instead. Also, I can't fi

[2020-01-09 21:02] AmyYLee commented on #7421
Hi @liuche

I spoke to @shorlander about this and he's okay with us removing "Collections" from this screen.

[2020-01-09 21:28] mcomella opened #7580 "Investigate Nimbledroid results discrepancies (no improvement from BrowsersCache, regression Android 5, no changes Android 7)"
I noticed two discrepancies in our ND results:
1. Android 5: we had a regression from Jan. 7 to Jan 8 of 0.12s. When looking at the profiles, `ArrayList.add` takes 120+ ms. This seems fishy
2. Android 7: we haven't seen any improvements over the past few weeks despite seeing improvements in FNPRMS and Android 5

Additionally, on Jan 7 @hawkinsw 's BrowsersCache PR https://github.com/mozilla-mobile

[2020-01-09 21:41] mcomella commented on #7580
Not that we can trust a single release build run but it’s at 1.71s for today’s release build (which is more aligned with what we have been seeing).

[2020-01-09 21:45] ekager commented on #5208
Filed https://github.com/mozilla-mobile/android-components/issues/5529

[2020-01-09 21:53] liuche commented on #7332
Yes, I just confirmed with the Sync team that device syncing preferences are per account, not per device. So if you were to disable bookmark syncing on one device, your bookmarks for that account stop syncing.

I'm not sure if that will change in the future, but that would be worth bringing up with the Sync team.

[2020-01-09 21:54] cadeyrn commented on #7559
I tested again and it's not true that it's not working _at all_ - a few strings are changed but most strings are not.

Some observations:

- The label of the search widget on the Android home screen changes the language.
- In the settings overview screen the the active value of the "Theme" and the "Toolbar" category change the language.
- But the active value of "Enhanced Tracking Protection" and

[2020-01-09 21:55] Mossop commented on #7332
Why do we show the checkbox if it isn't possible to disable the bookmark syncing?

[2020-01-09 21:59] liuche commented on #7332
I guess that depends on whether we consider Mobile devices to be full-featured clients - I don't think FxA differentiates between "type" of device, and it's possible that there are FxA users that sync between Mobile devices? but you do raise a reasonable concern, that users who consider their Mobile device a secondary device might not realize that they are turning off an engine for all of their de

[2020-01-09 22:07] Mossop commented on #7332
I think maybe you misread my comment of six hours ago. If the expected behaviour of unchecking the checkbox on mobile is to disable bookmark syncing for all devices then I don't understand why this issue has been closed. This issue I reported was that a few hours after unchecking the bookmarks checkbox going back to the options showed that it was checked again. I had not touched the sync options i

[2020-01-09 22:23] apbitner commented on #7461
@kbrosnan we can keep this open as a feature request, it wasn't intentionally wontfixed

[2020-01-09 22:27] #6602 closed

[2020-01-09 22:44] cadeyrn opened #7583 "[Bug] language settings: alignment of RTL languages"
### Steps to reproduce

1. open Menu > Settings > Language

### Expected behavior

I am not a RTL expert so I don't know if RTL languages on this page should be left aligned or right aligned. But *both* lines should be left aligned or *both* lined should be right aligned.

### Actual behavior

The first line is right aligned, the second line is left aligned, see for example Hebrew. This looks very

[2020-01-09 22:47] cadeyrn opened #7584 "[Bug] wrong header bar background color for libraries screen"
### Steps to reproduce

1. Open Settings > About Firefox Preview > Libraries that we use

### Expected behavior

The header bar has the same background color as every other screen in Firefox Preview (white).

### Actual behavior

The header bar is black.

![Screenshot_20200109-233559](https://user-images.githubusercontent.com/1100614/72111178-4cede400-333a-11ea-8df6-c381077f7116.jpg)

### Device i

[2020-01-09 22:57] Poopooracoocoo commented on #4360
also, why a horizontally scrolling share sheet? it's annoying to use and even Windows 10 ditched the horizontal scrolling that Windows 8 introduced.

[2020-01-09 22:59] Poopooracoocoo opened #7585 "[Bug] Logo shouldn't fade out when scrolling as it doesn't snap away when you scroll a little bit"
## Steps to reproduce
1) scroll on home page/tab switcher

### Expected behavior
fenix logo would not fade out as it doesn't snap away

### Actual behavior
fenix (firefox preview) logo fades out and can be scrolled incrementally without snapping. I remember noticing this the first time I used Fenix.

### Device information

* Android device: ?
* Fenix version: ?

[2020-01-09 23:16] jdragojevic commented on #5260
@grigoryk @jonalmeida @st3fan @vesta0  - Lina added a pretty detailed comment regarding the complexity involved in migrating the push notifications here: https://github.com/mozilla/application-services/issues/2048#issuecomment-572798531

We may want to consider passing on this and letting the users start fresh and resubscribe.  It could potentially turn out to be a boost to our retention???

![ima

[2020-01-09 23:49] kbrosnan commented on #7560
Sounds like there is nothing we can do to advance this issue. Closing.

[2020-01-09 23:49] #7560 closed

[2020-01-10 00:06] Poopooracoocoo commented on #7576
I don't think "hide" is the best word for the setting. Maybe "Switch to normal session" would be better.

[2020-01-10 00:08] Poopooracoocoo commented on #7576
just referencing #7577 just because it hasn't been already

[2020-01-10 00:16] Poopooracoocoo commented on #7457
#4208

it's also strange that double tapping selects a word on Android. Overall, manipulating is so clunky and slow, it's obvious it isn't native. Chromium doesn't use the native Android textviews iirc either but it feels like it.

[2020-01-10 00:17] Poopooracoocoo commented on #7429
should this be left up to extensions?

[2020-01-10 00:21] Poopooracoocoo commented on #7342
#7457 #4208

[2020-01-10 00:21] mcomella commented on #7580
Suspicious: `Glean.initialize` moved out of `AppCompatActivity.onStart` but still blocks the main thread, taking 63% as long as `FenixApplication.onCreate` (i.e. it's not called by onCreate): maybe there are significant changes there (but don't be too attached to this possibility)!

[2020-01-10 00:37] kbrosnan commented on #6596
Works for me using a Pixel 3 / Android 10

[2020-01-10 00:37] #6596 closed

[2020-01-10 00:39] kbrosnan commented on #6614
Sentry issue: [FENIX-3JE](https://sentry.prod.mozaws.net/operations/fenix/issues/6861431/)

[2020-01-10 00:40] kbrosnan commented on #6614
Sentry issue: [FENIX-3QP](https://sentry.prod.mozaws.net/operations/fenix/issues/6938689/)

[2020-01-10 01:02] kbrosnan commented on #7376
We had a number of common crashes that happened in December. Mike can you get a logcat that shows the crash?

[2020-01-10 01:31] mcomella commented on #7376
To be explicit, I'm not reporting a specific crash: I'm reporting a behavior that can happen when there is a startup crash. The behavior is that the system's "Firefox Preview keeps crashing" dialog keeps showing up despite me not interacting with the app.

Logs would help understand why this is happening but unfortunately I can no longer reproduce to get them.

@kbrosnan It looks like this issue h

[2020-01-10 02:16] kbrosnan commented on #7376
We have code to detect solvable startup crashes. I believe @sblatz added it.

You hit [bug 1605991](https://bugzilla.mozilla.org/show_bug.cgi?id=1605991). The timing of this bug (Dec 27) lines up with the crash spike of 1605991. It was a bad crash for users with PWAs. It feels like this bug comes down to don't ship with bad GV versions.  Though maybe the dev team has some ideas.

We have #6529 to

[2020-01-10 05:39] vesta0 commented on #6787
Added this to the GV board for triage

[2020-01-10 07:00] AndiAJ commented on #7414
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Screenshot
![rsz_screenshot_20200110-085717](https://user-images.githubusercontent.com/51314259/72132467-ad574280-3387-11ea-9e40-8d

[2020-01-10 07:00] #7414 closed

[2020-01-10 07:05] AndiAJ commented on #5722
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Screenshot
![rsz_screenshot_20200110-090148](https://user-images.githubusercontent.com/51314259/72132728-5bfb8300-3388-11ea-8e52-16

[2020-01-10 07:16] AndiAJ commented on #4525
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200110_091016](https://user-images.githubusercontent.com/51314259/72133341-db3d8680-3389-11ea-9b6c-e02505b24db4.gif)

Gre

[2020-01-10 07:16] #4525 closed

[2020-01-10 07:52] AndiAJ commented on #7217
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Screenshot
![rsz_screenshot_20200110-094716](https://user-images.githubusercontent.com/51314259/72135355-f4950180-338e-11ea-8de6-17

[2020-01-10 07:52] #7217 closed

[2020-01-10 08:06] Mugurell commented on #6836
For QA:
Although this ticket appears on the migration board it is not actually about migrating anything.
We just need Fenix to be available only to a small subset of locales, the same as Fennec. But nothing is migrated from Fennec to Fenix.
So to test this would be useful to just know that indeed Leanplum gets enabled for the locales from https://github.com/mozilla-mobile/fenix/issues/6836#issueco

[2020-01-10 08:18] AndiAJ commented on #7522
Hi, I've just checked this matter on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

I've noticed that the app is till crashing once I've used the first example ("https://%s).
It seems to be happen when you add

[2020-01-10 08:26] sv-sdeiac commented on #5711
The issue is still visible using the latest version of Nightly 1/10 #20100616.

Devices:
- Xiaomi Mi 8 Lite (Android 9);
- LG G7 fit (Android 8.1).

Since the issue is still reproducible, I'll remove the qa:needed flag till I have new updates, thanks.

[2020-01-10 08:32] cadeyrn commented on #7522
It's no surprise because the fix in #7536 only checks if the string contains the substring "http", but the "http" can be anywhere in the string. Instead it should be checked if the string starts with "http".

[2020-01-10 09:02] AndiAJ commented on #6992
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200110_102905](https://user-images.githubusercontent.com/51314259/72139924-2e1e3a80-3398-11ea-97f1-ba645a0a7cbd.gif)

► V

[2020-01-10 09:04] sv-sdeiac commented on #6304
Hello, I can confirm that this issue is fixed using the latest version of Nightly 1/10 #20100616.

Devices:
- Motorola Moto G6 (Android 8);
- LG G7 fit (Android 8.1);
- OnePlus 5T (Android 9).

[2020-01-10 09:04] #6304 closed

[2020-01-10 09:19] LaurentiuApahideanSV opened #7586 "[Bug] Seek feature on videos does not work if the video is not loaded"
## Steps to reproduce
1. Go to http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4
2. While the video is loading tap on the seek bar ahead of the content that has been buffered.
### Expected behavior
The video should resume from the newly selected position
### Actual behavior
The video "jumps" back to the last loaded content
### Notes
The issue only occurs when the de

[2020-01-10 09:32] ebalazs-sv commented on #4978
Verified as fixed on Relase, Beta, Nightly migration builds from 01/10 with Samsung Galaxy S8 (Android 9), Huawei Honor 8 (Android 7.0), Xiaomi Mi4i (Android 5.0.2).
[Screenshot](https://drive.google.com/file/d/1fVOvDPoT4e-Wu9Uxz9LKW-cG3SDq3gZb/view?usp=sharing)
The search widgets are kept and functional. I will move this to Done. Thanks!

[2020-01-10 09:38] mcarare commented on #7522
@caderyn The thing is that you can actually omit the protocol and still have a valid search string. I think I will take another approach to this.

[2020-01-10 09:54] pocmo opened #7587 "Create shortcuts.xml override for fennecNightly build type"
We are overriding shortcuts.xml in different build types because it contains the package name. We need to do the same for the fennecNightly flavor.

[2020-01-10 11:07] AndiAJ commented on #220
Hi, I've re-checked this matter on the latest **Nightly Build #20100616 from 01/10**.

I've noticed that **the problem is caused by the** **theme selection**, namely **if the user is using the dark theme, it will** **not work at all**.

✔️ Using the "Light" or "Follow device theme" It worked with a couple of inconsistencies on:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

I

[2020-01-10 11:11] cadeyrn commented on #220
On my device the exact opposite is true: These strings are (almost) the only strings using the Fenix and not the device language, see https://github.com/mozilla-mobile/fenix/issues/7559#issuecomment-572774124. Interesting. 🤔

[2020-01-10 11:22] cadeyrn commented on #7559
Some new observations:

- using dark system theme and light Fenix theme: it does not work
- using dark system theme and dark Fenix theme: it does work
- using light system theme and light Fenix theme: it does work
- using light system theme and dark Fenix theme: it does not work

=> So it only works when the system and Fenix theme both use the light or dark theme. It does not work if system and Fe

[2020-01-10 12:35] AndiAJ commented on #6663
Hi @jonalmeida , re-tried approx. 12 times and wasn't able to reproduce it.

[2020-01-10 12:42] AndiAJ commented on #7519
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video
![20200110_144028](https://user-images.githubusercontent.com/51314259/72153756-700aa900-33b7-11ea-8000-547f7ad84555.gif)

[2020-01-10 12:42] #7519 closed

[2020-01-10 12:47] Amejia481 commented on #6454
In some sites,  like **Youtube** as soon as the URL changes (even in the same domain) or the back button is pressed the notification disappears right away. But in other sites like **Twitter** or **Instagram** the notification persists until we change to a new domain.

I believe what makes this behavior change from site to site is [onPlaybackStateChange](https://github.com/mozilla-mobile/android-co

[2020-01-10 12:49] #6992 closed

[2020-01-10 12:52] KaairaGupta commented on #4766
@ekager i checked this on my device (android 9) and i was unable to reproduce it on it. So does this issue still persist? If it does I would like to work on it.

[2020-01-10 12:59] KaairaGupta commented on #7421
@AmyYLee can be assigned this issue? Also, will i have to remove the 'collections' from this screen or keep it unchecked by default?

[2020-01-10 13:16] sv-sdeiac commented on #7313
Verified as fixed using the latest version of Nightly 1/10 #20100616.

Devices:
- OnePlus 5T (Android 9);
- LG G7 fit (Android 8.1).

[2020-01-10 13:16] #7313 closed

[2020-01-10 13:26] sv-sdeiac commented on #7343
Verified as fixed using the latest version of Nightly 1/10 #20100616.

Devices:
- OnePlus 5T (Android 9);
- Xiaomi Mi 8 Lite (Android 9);
- LG G7 fit (Android 8.1).

[2020-01-10 13:26] #7343 closed

[2020-01-10 13:30] KaairaGupta commented on #2768
@NotWoods is the feature of disabling screenshots on private mode up? Or is there any work still left to do? I asked because this issue was still showing under the good first bugs. If there is any work, i would love to contribute.

[2020-01-10 13:31] AndiAJ commented on #6620
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

✔️ Closes a tab when it's opened from another tab
✔️ The tab doesn't have a parent tab, we should not close it

► Video
![20200110_15

[2020-01-10 13:31] #6620 closed

[2020-01-10 13:41] KaairaGupta commented on #3813
I want to work on this issue, please assign it to me @ekager

[2020-01-10 13:47] sv-sdeiac commented on #7577
Verified as fixed using the latest version of Nightly 1/10 #20100616.

Devices:
- OnePlus 5T (Android 9);
- Xiaomi Mi 8 Lite (Android 9);
- LG G7 fit (Android 8.1).

[2020-01-10 13:47] #7577 closed

[2020-01-10 14:14] s-ankur opened #7591 "[Bug] Reader View Appearance tab does not go away after clicking 3 dot menu with top toolbar"
## Steps to reproduce
Set Toolbar to top
Go to any page with reader view
toggle reader view
click on appearance from 3 dot menu
click on 3 dot menu

### Expected behavior
Appearance menu goes away
### Actual behavior
Does not. It is possible to navigate to other sites (webcompat, help) which are not even in reader view and yet the appearance menu persists on these sites
### Device information

* A

[2020-01-10 14:19] AndiAJ commented on #7155
Hi, **verified as fixed** on the latest **Nightly Build #20100616 from 01/10** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Screenshot
![rsz_rsz_screenshot_20200110-153911](https://user-images.githubusercontent.com/51314259/72159415-fc6f9880-33c4-11ea-86f

[2020-01-10 14:19] #7155 closed

[2020-01-10 14:44] sv-sdeiac commented on #7154
Verified as fixed using the latest version of Nightly 1/10 #20100616.

Devices:
- OnePlus 5T (Android 9);
- Xiaomi Mi 8 Lite (Android 9);
- LG G7 fit (Android 8.1).

[2020-01-10 14:44] #7154 closed

[2020-01-10 15:20] mklopp commented on #7168
It is also on the support page which is quite misleading.
https://support.mozilla.org/en-US/kb/media-controls-firefox-preview
Took me a while to find this issue and why it was not available on my phone.
Thank you though for the amazing work on the browser.

[2020-01-10 15:36] jonalmeida commented on #6663
@AndiAJ no worries, in the consistent case, I think we were see https://github.com/mozilla-mobile/android-components/issues/5044#issuecomment-554098962.

In these rare instances, is what this bug is for, where a fix hasn't gone up yet.

[2020-01-10 15:36] mcarare opened #7593 "[Bug] "AboutFragment" title is briefly displayed when opening About Firefox Preview from Settings"
"**AboutFragment**" title is briefly displayed when opening About Firefox Preview from Settings.

[2020-01-10 15:39] jonalmeida commented on #6454
@Amejia481 @jrmuizel do these STRs work to reproduce the issue? https://github.com/mozilla-mobile/reference-browser/issues/942

[2020-01-10 15:45] marcinwiacek opened #7594 "[Bug] Hint on main page can be displayed in two lines"
## Steps to reproduce

Setup big fonts in the system + open FP

### Expected behavior

Hint is displayed in one line

### Actual behavior

![Screenshot_1578665476](https://user-images.githubusercontent.com/24834168/72165919-971da680-33c8-11ea-8d6b-7d639a50b208.png)

### Device information

* Android device: ?
* Fenix version: ?

[2020-01-10 15:47] jonalmeida commented on #7303
This is a private method call, and the only entry points seem to be from starting a download, resuming, and trying again.

I'm not familiar with this side of the codebase, but @sblatz had recently made changes here so I'm guessing he would know.

[2020-01-10 15:59] TitanNano opened #7597 "Let users navigate into standalone PWA scopes"
### Why/User Benefit/User Problem
Similar to native apps, users want to view links which point to content in the scope of a standalone PWA inside standalone mode and not the browser.

### What/Requirements
Launch the PWA activity when the user navigates to a URL which falls into the scope of a PWA. The best solution would be if this would behave like it does with native apps. (same settings entrie

[2020-01-10 16:09] abodea commented on #6836
### Hello, note that I tested this issue on the latest Nightly build from **1/10** for more details please check the information from below:

| Locale |  Events displayed?| Total Occurrences modified? |
| :---         |     :---: |  :---: |
|  **"eng", // English**   |  ✅   |      Yes      |
|  **"zho", // Chinese**    |  ✅     |   Yes      |
|  **"deu", // German**    | ✅      |    Yes     |
| **

[2020-01-10 16:37] colintheshots commented on #4309
This was merged with https://github.com/mozilla-mobile/android-components/pull/5494.

[2020-01-10 16:37] #4309 closed

[2020-01-10 17:43] kbrosnan commented on #5771
The ability to watch videos in portrait is fixed in Firefox Preview 3.1. Auto-rotating the video to the correct orientation is not fixed. @boek it seems odd that this issue is covering both changes.

[2020-01-10 17:46] NotWoods commented on #2768
You can integrate SecureWindowFeature from the feature-privatemode component in our Android Components library. You'll need to edit BaseBrowserFragment and possibly the build.gradle & Dependencies.kt files.

[2020-01-10 18:00] s-ankur opened #7599 "[Bug] Weird behaviour of some websites on zoom"
### Steps to reproduce
open freetype.org
zoom in
### Expected behavior
sidebar scrolls with the rest of the page, like fennec and chrome do
### Actual behavior
![2020_01_10_23_2-1578678904148](https://user-images.githubusercontent.com/33252312/72174959-d81ab880-33d2-11ea-8ecd-5c6d2c8b533c.gif)

### Device information

* Android device: Asus zenfone m1
* Fenix version:
 Nightly 200109 18:00 (Build

[2020-01-10 18:07] bxtom opened #7600 "Add option to search for selected text directly in Fenix with default search engine"
### Why/User Benefit/User Problem

When user selects text there is no search option (first screenshot). When Google Translate is installed 'Translate' option appears (second screenshot). When Firefox Focus is installed 'Search Privately' appears (third screenshot). When Edge is installed 'Search in Edge' appears (fourth screenshot).

### What/Requirements

Add simple 'Search' option to search dire

[2020-01-10 18:14] ekager commented on #3813
Okay @KaairaGupta you are assigned

[2020-01-10 18:15] ekager commented on #4766
I'm not sure, it looks like it must be device dependent so we'll need to investigate the device/version this happens on

[2020-01-10 18:25] AmyYLee commented on #7421
@KaairaGupta - Hi, please remove "collections" entirely from this screen. @liuche to confirm about assigning this issue

[2020-01-10 18:31] ekager opened #7602 "Videos should autorotate to correct orientation (portrait/landscape)"
### Why/User Benefit/User Problem
Potrait videos are increasingly common so we should be able to detect potrait/landscape and auto rotate to the correct orientation for users

### What/Requirements
Needs GV to give us some information about the video before launching full screen mode, and then probably AC to expose this information to Fenix
Opened Bugzilla: https://bugzilla.mozilla.org/show_bug.cg

[2020-01-10 18:32] ekager commented on #6652
Closing because we removed forcing into landscape for now

[2020-01-10 18:32] #6652 closed

[2020-01-10 18:32] ekager commented on #5771
Opened #7602 to track the auto-rotation and I think we can close this one now

[2020-01-10 18:32] #5771 closed

[2020-01-10 18:48] cadeyrn opened #7603 "[Bug] unlocking passwords does not work at all on certain devices"
_@mcarare wanted that I open a new issue, the steps are basically the same as in #7095._

### Steps to reproduce

1. Open the "Logins and passwords" screen
2. Press the "Saved logins" row
3. Try to authenticate, either with PIN or fingerprint

### Expected behavior

You can see your logins or a screen with a message that you don't have any saved logins or an empty screen - I don't know the current

[2020-01-10 18:48] cadeyrn commented on #7095
I opened #7603.

[2020-01-10 18:59] mcomella commented on #7580
Nimbledroid is back down to 1.69s today. 🤔

[2020-01-10 19:19] Amejia481 commented on #6454
@jonalmeida I can partially reproduce the issue because the notification, persists while I'm on any Twitter's page but as soon as I navigate to another website the notification go away, the same happens with Instagram, but not with youtube

[2020-01-10 19:21] cadeyrn commented on #7603
I don't know if it's helpful but this is the logcat output after trying to authenticate:

[code]

[2020-01-10 19:26] cadeyrn commented on #4000
FWIF I can **not** reproduce with OnePlus 7T Pro and Android 10.

[2020-01-10 19:43] mcomella commented on #7483
PR was merged.

[2020-01-10 19:43] #7483 closed

[2020-01-10 19:46] cadeyrn opened #7604 "[Bug] (regression) wrong action bar or status bar color"
Please have a look at the screenshot, more precisely the difference between the action bar and the Android status bar. Both should have the same color.

left: Last good build, right: first bald build.

![regression](https://user-images.githubusercontent.com/1100614/72181454-acef9380-33e9-11ea-8def-1173d4d498e9.png)

It's a regression from #7480 (cc @mcarare because you wrote the PR).

* Android de

[2020-01-10 20:20] AaronMT commented on #7303
@sblatz do you have any recommendations for what could be causing this crash?

Again I'm just trying to clean up my download in the tearDown

[2020-01-10 20:35] AmyYLee opened #7606 "[Onboarding] Colours need updating"
Hi,

Please reference mock below for updated colours. Thanks

![Onboarding spec 2](https://user-images.githubusercontent.com/5992746/72190669-28dbe280-33ce-11ea-9d92-521af9501610.png)

[2020-01-10 20:38] Furax-31 opened #7607 "[Bug] Opening crash"
## Steps to reproduce

Open the app

### Expected behavior

Application should open

### Actual behavior

Application crash on opening

### Device information

* Android device: A5 2017 - Android Pie
* Fenix version: Last build: 200110 18:01

[2020-01-10 20:38] andreicristianpetcu opened #7608 "[Bug] Latest nightly crashes"
## Steps to reproduce
Install latest nightly
https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.nightly/latest
Start it

### Expected behavior
not crash
### Actual behavior
crash
### Device information

* Android device: OnePlus 5t
* Fenix version: nightly

[2020-01-10 20:39] andreicristianpetcu commented on #7608
Can I see the stack trace? I have adb setup locally.

[2020-01-10 20:56] marcinwiacek commented on #7608
01-10 21:10:18.163 25266 25306 E AndroidRuntime: Process: org.mozilla.fenix.nightly, PID: 25266
01-10 21:10:18.163 25266 25306 E AndroidRuntime: java.lang.ExceptionInInitializerError
01-10 21:10:18.163 25266 25306 E AndroidRuntime: 	at mozilla.appservices.push.LibPushFFI.<clinit>(Unknown Source:0)
01-10 21:10:18.163 25266 25306 E AndroidRuntime: 	at mozilla.appservices.push.PushManager.<init>(Push

[2020-01-10 20:56] marcinwiacek commented on #7607
01-10 21:10:18.163 25266 25306 E AndroidRuntime: Process: org.mozilla.fenix.nightly, PID: 25266
01-10 21:10:18.163 25266 25306 E AndroidRuntime: java.lang.ExceptionInInitializerError
01-10 21:10:18.163 25266 25306 E AndroidRuntime: 	at mozilla.appservices.push.LibPushFFI.<clinit>(Unknown Source:0)
01-10 21:10:18.163 25266 25306 E AndroidRuntime: 	at mozilla.appservices.push.PushManager.<init>(Push

[2020-01-10 20:57] marcinwiacek commented on #7608
looks like dup for #7607

[2020-01-10 20:57] cadeyrn commented on #7608
should be fixed by #7601 in the next build.

[2020-01-10 20:58] #7608 closed

[2020-01-10 20:58] cadeyrn commented on #7607
should be fixed by #7601 in the next build.

[2020-01-10 21:36] AaronMT opened #7611 "[Bug] Add UI tests for content context menus"
Support https://testrail.stage.mozaws.net/index.php?/suites/view/3192&group_by=cases:section_id&group_order=asc&group_id=31660 with automated tests

Covering

  |   | ID | Title |   |   |  
-- | -- | -- | -- | -- | -- | --
  |   | C243837 | Verify Long-click "Open link in new tab" |   |   |  
  |   | C244655 | Verify Long-click "Open link in new private tab" |   |   |  
  |   | C243832 | Verify Lo

[2020-01-10 21:44] cadeyrn opened #7612 "[Bug] "No site exceptions" not exposed to translators"
### Steps to reproduce

1. use Fenix in a non-English language
2. open Settings > Site permissions > Exceptions
3. make sure you have no exceptions

### Expected behavior

"No site exceptions" string is translated.

### Actual behavior

"No site exceptions" string is English. Since it's not a new feature at all and I can't find the string on Pontoon it seems that this string was forgotten to expos

[2020-01-10 21:44] Baron-Severin commented on #220
I checked in and it looks like @BranescuMihai will be back on Monday, so I'm going to leave this one to him.

[2020-01-10 21:50] #7587 closed

[2020-01-10 21:59] Baron-Severin commented on #6832
Closed by #7509

[2020-01-10 22:06] andreicristianpetcu commented on #7608
How can I get the stack trace? Sorry not an Android dev :) @marcinwiacek

[2020-01-10 22:10] ekager commented on #7612
This string is in the `permissions_settings_strings.xml` file. I'm not sure how to make sure additional string resource files are included in our translation files. @boek do you know?

The easiest solution is to copy these strings over to the main `strings.xml` file.

[2020-01-10 22:28] cadeyrn commented on #7600
Duplicate of #5695.

[2020-01-10 22:31] AmyYLee opened #7613 "[Onboarding] Spacing is uneven around radio buttons"
The spacing is uneven around the radio buttons in the Onboarding card. Thanks!

![Screen Shot 2020-01-10 at 5 30 40 PM](https://user-images.githubusercontent.com/5992746/72191043-08f8ee80-33cf-11ea-9569-11340ab50082.png)

[2020-01-10 22:39] Baron-Severin commented on #7556
I don't think we have any good way of verifying this one, and @AndiAJ I see you removed `qa-needed`, so if you don't mind I'm going to attach `qa-not-needed`.  We can reopen this if the problem reoccurs.

[2020-01-10 22:43] kbrosnan commented on #7599
Zooming with `position: fixed` elements will have this behavior.

[2020-01-10 22:44] marcinwiacek commented on #7608
1. you need to enable developer options in phone and option for ADB debugging

2. you need ADB tool, for example from https://developer.android.com/studio/releases/platform-tools

3. then

adb logcat > logfile.txt

from command line and don't forget to disable debugging from point 1 (for any case)

Some good startup point: https://developer.android.com/studio/command-line/adb

[2020-01-10 22:45] kbrosnan commented on #7600
Closing as duplicate.

[2020-01-10 22:45] #7600 closed

[2020-01-10 22:49] #7556 closed

[2020-01-10 23:02] ekager commented on #7613
IIRC this is more difficult than it looks. I implemented this with a radio button with a circular constraint with angle and radius relative to the theme image. The angle is currently 298 and the radius is currently 66dp. AFAICT you can't use a half angle of 298.5, and 299 has the same not quite even problem but on the other edge. This will take some trial and error.

[2020-01-10 23:04] mcomella commented on #6507
We did this as much as we need to.

[2020-01-10 23:04] #6507 closed

[2020-01-10 23:04] ekager commented on #7606
@apbitner mentioned a different color for the light theme cards here: https://github.com/mozilla-mobile/fenix/pull/7471#issuecomment-572239453

Could we confirm which color we are going with for these cards?

[2020-01-10 23:04] grigoryk commented on #6704
There was a non-zero volume of Android KeyStore related crashes in Sentry. This needs more investigation.

[2020-01-10 23:05] ekager commented on #7607
Closing as this a new nightly is going out now (will take a few hours). Thanks for your patience!

[2020-01-10 23:05] #7607 closed

[2020-01-10 23:07] mcomella commented on #4367
afaik, a decision was made a while back to not change the current behavior because Gecko is needed for basically everything and a lot of complexity is added to do this so it's not worth the change. Closing this issue: we can reopen if we decide to revisit this decision.

[2020-01-10 23:07] #4367 closed

[2020-01-10 23:11] MarcLeclair commented on #7530
This issue can be unassigned I think. The only thing now is that with experiments staying, the number above might change a tiny bit 😄

[2020-01-10 23:40] Poopooracoocoo commented on #7602
There are so so many related issues across GeckoView, Focus, Fenix and reference browser. It's also worth linking the equivalent Chromium issue too.

[2020-01-10 23:44] Poopooracoocoo commented on #7342
https://bugzilla.mozilla.org/show_bug.cgi?id=1569007#c5

Here ya go @boek oe (not going to correct this just to prove how messy it can be)

[2020-01-10 23:45] Baron-Severin commented on #7506
@topotropic after looking around, it looks like there's some current behavior around this:

- When the user opens the home menu
- If a new major version has been released, save today's date
- If 3 or fewer days have passed since that date, highlight `What's New` (the three-dot is not highlighted)

I will make the three-dot highlighted whenever `What's New` is, but are you otherwise happy with the

[2020-01-10 23:47] pwd-github opened #7614 "[Bug] Unable to open Fenix"
## Steps to reproduce
Update to  2010807 (2001101801) QQ1B.191205.011

### Expected behavior
Firefox opens

### Actual behavior
Firefox crashes

### Device information
* Android device: Pixel 4XL
* Fenix version: ?

### Other Info
May be related to the previous build being unable to open any pages. Random guess.

[2020-01-10 23:53] hawkinsw commented on #6274
I think that I profiled this previously and I think it is related to Gecko session initialization. I will take another look later tonight and start to do more thorough investigation.

[2020-01-11 00:09] Poopooracoocoo commented on #4208
@makotokato sorry but I have no clear steps on how to repro. Here's a screen recording though.

[2020-01-11 00:22] pwd-github commented on #7614
Fixed in latest update.

[2020-01-11 00:22] #7614 closed

[2020-01-11 00:23] lindongbin commented on #7614
`java.lang.NoClassDefFoundError: mozilla.appservices.places.LibPlacesFFI
 at mozilla.appservices.places.PlacesApi.<init>(PlacesConnection.kt:6)
 at mozilla.components.browser.storage.sync.RustPlacesConnection.init(Connection.kt:3)
 at mozilla.components.browser.storage.sync.PlacesStorage$places$2.invoke(PlacesStorage.kt:3)
 at kotlin.SynchronizedLazyImpl.getValue(LazyJVM.kt:6)
 at mozilla.componen

[2020-01-11 00:43] pwd-github opened #7615 "[Bug] Unable to resolve any web pages when enabling DNS-over-HTTPS"
## Steps to reproduce
1. Open Fenix
2. Type webpage address

### Expected behavior
Page loads

### Actual behavior
Address Not Found

### Device information

* Android device: Pixel 4XL
* Fenix version: Nightly 200110 22:30 (Build 20102234)

### Other Information
Suspected that it's due to something happening in Gecko. See here [1] for more info.

[1] https://www.reddit.com/r/firefox/comments/emqx

[2020-01-11 00:44] mcomella commented on #7513
The top sites PR is open: https://github.com/mozilla-mobile/fenix/pull/7523/

Looking at the layout, it dynamically creates a `ConstraintLayout` inside a RecyclerView (in `SessionControlAdapter`). I imagine this will impact startup performance but should not get in the way of any changes we try to make with the UI.

[2020-01-11 00:44] kbrosnan commented on #7365
This does not sound different enough to be a separate bug from 7013

[2020-01-11 00:44] #7365 closed

[2020-01-11 00:44] Baron-Severin commented on #5326
`PromptFeature#handleDialogsRequest` in AC _looks_ like a reasonable place to attach a `Session.Observer`, but `feature-prompts` doesn't have a dependency on `browser-session` (and that's a dependency I'd rather not add).  I've reached out to the AC team to see if there's a better alternative.

[2020-01-11 00:47] pwd-github opened #7616 "[Bug] Option to "Add to Homescreen" or "Install" missing from installations"
## Steps to reproduce
Navigate to a site like twitter.com
Open menu

### Expected behavior
Option to add to homescreen is in menu

### Actual behavior
N/A

### Device information

* Android device: Pixel 4XL, LG G6, Nvidia Shield
* Fenix version: Nightly

[2020-01-11 00:54] kbrosnan commented on #7358
This sounds like something the OS provides. Doubt there is much we can do to  resolve this.

[2020-01-11 01:30] kbrosnan commented on #7335
Closing as a duplicate.

[2020-01-11 01:30] #7335 closed

[2020-01-11 02:36] mcomella opened #7617 "Cold startup regression in `Glean.initialize`: method regressed 100%"
Being addressed by Glean team in https://bugzilla.mozilla.org/show_bug.cgi?id=1609052#c1.

---

In my profile from 12/31, Glean.initialize takes 51ms on my Pixel 2. In two profiles I've taken today – Jan 10. – Glean.initialize takes 108ms and 110ms. Most of the time is spent in `flushQueuedInitialTasks` (69.64ms in the larger profile) which calls `joinBlocking`. In my previous profile, `joinBlocki

[2020-01-11 02:43] mcomella commented on #7446
After reading the docs & looking into this, it seems like view perf improvements can be captured in the inflation step and in the layout/measure step.

I noticed one bug – a possible redundant layout/measure cycle #7488. For other improvements, I think we'll have to profile & optimize the layouts by doing standard things such as:
- Removing nested views
- Using cheaper ViewGroups
  - Using fewer C

[2020-01-11 02:43] #7446 closed

[2020-01-11 03:41] kbrosnan commented on #7296
Do we have a Bugzilla bug on this?

[2020-01-11 06:18] NotWoods commented on #7511
We could override the tint to be the same as the other buttons, and single color items like "tweet" would be fine. However, it would make any full-color toolbar items extra white.

[2020-01-11 06:19] NotWoods commented on #7511
Assigning myself to fix a tinting bug so this is possible with AC.

[2020-01-11 07:09] s-ankur commented on #7599
This is how it works in fennec and chrome , though
![2020_01_11_12_3-1578726444441](https://user-images.githubusercontent.com/33252312/72200418-341c2600-3441-11ea-9049-b083ea6a9bdb.gif)

[2020-01-11 09:38] hawkinsw commented on #6274
I spent a little time tonight working on an implementation that uses an asynclayoutinflater triggered by the start of the Home Fragment and it seems to work. The delay is significantly improved and there is still more that we could do. I will work with @MarcLeclair and @Baron-Severin on Monday to see if the approach I took is something that we think could work.

[2020-01-11 12:20] Cheap-Skate opened #7619 "[Bug] Fenix does not give option of Adobe Acrobat on downloading a pdf"
(Possibly related  #6656?)

## Steps to reproduce
1) Install Adobe Acrobat
2) In Fenix, navigate to https://www.volkswagen.co.uk/assets/common/pdf/pricelists/up-pricelist.pdf and download the pdf.
3) After download, tap Fenix's "open file" dialog or whatever it's called

### Expected behavior
Fenix should show Adobe Acrobat as one of the apps which can open pdf files, along with "Just Once" or "Al

[2020-01-11 13:50] joshvocal commented on #7554
Is there a screenshot on what this should look like?

[2020-01-11 15:34] KaairaGupta commented on #3813
@ekager currently, if i press the soft back key as soon as i edit my bookmark's name, the changes aren't saved. while if i wait for say like a second or two before pressing the back key, the changes are saved. This delay is for the time it takes for the changes to be saved.
Hence, on clicking the tick mark, i'll need to add a progress bar too to show the changes being saved. How should the progres

[2020-01-11 15:53] Daplugg23 opened #7620 "External Download manager support"
Add support for idm+ and adm download manager. In fennec if I saved files it would recognize the external download manager. In Fenix it currently does not work.

### What/Requirements
Idm+ app
Advanced download manager app

[2020-01-11 17:31] KaairaGupta commented on #7421
@AmyYLee i have made the PR, please review it

[2020-01-11 17:59] emilio commented on #1340
This would be great, I had to log into GitHub using Fennec to comment on this :)

[2020-01-11 18:04] KaairaGupta commented on #2768
@NotWoods i can't seem to find this library in the code. Please help me with it.

[2020-01-11 18:07] jonalmeida commented on #7554
@joshvocal Most probably along with `AS: ` prepended, but I would also wait until the Fenix team triages this.

[2020-01-11 18:15] KaairaGupta commented on #2768
Also, should i add the option in the settings or in the three-dot-menu?

[2020-01-11 18:44] mcomella commented on #7580
ND is back up to 1.77s. :man_shrugging: I also noticed ND on Android 5 reads significantly less from disk (9000kb) than Android 7 (41000kb):

![image](https://user-images.githubusercontent.com/759372/72209013-df87a380-345e-11ea-84b1-9f4a9929fcd7.png)

This might explain why Android 7 hasn't been seeing significant changes: maybe it has extensive disk reads that overwhelm any changes we've been mak

[2020-01-11 18:55] ekager commented on #3813
@KaairaGupta I think we can model this after the progress bar/behavior in `fragment_delete_browsing_data` (but update here instead of delete) with similar methods to `startDeletion` and `finishDeletion`.

Instead of continuously updating the bookmark changes in `updateBookmarkFromTextChanges` let's only update when the user presses the new checkmark, finish updating, and then navigate. Pressing ba

[2020-01-11 18:57] ekager commented on #2768
AFAICT this issue still needs UX and strings for the Settings decsribed. I don't think this is ready to be worked on yet.

[2020-01-11 18:58] ekager commented on #2768
@lime124 adding back the UX label because I don't see any mocks linked

[2020-01-11 19:49] ekager commented on #7431
It appears I was wrong (AC adds a share button to the toolbar unless the calling app gives us a custom action) and @NotWoods submitted a fix to remove the duplicate menu item :)

[2020-01-11 21:58] kbrosnan commented on #2610
Closing as a dupe of #5764

[2020-01-12 00:44] nyanpasu64 opened #7623 "[Bug] If you enter reader mode and switch apps, scroll position jumps upwards"
## Steps to reproduce
- Visit https://kyren.github.io/2018/09/14/rustconf-talk.html
- Enter reader mode and scroll to bottom.
- Open Android recent apps menu, return to Firefox Preview

Note that in reader mode, this particular page overflows the right side of the screen and causes the entire page to scroll to the right. Some pages do this in regular mode, reader mode, or both. Is this a bug?

###

[2020-01-12 06:39] MirceaMx opened #7624 "Firefox Preview Android - popup shortcuts when selecting text not appearing"
Firefox Preview on my Android Smartphone since I use (and have used for a very long time) Firefox as my browser on my laptop. But popup items/shortcuts when selecting text don't work with this browser. In another browser they work.

Fox example: when selecting a phone number the Call option appears

[2020-01-12 07:03] NotWoods commented on #7620
Android Components issue: https://github.com/mozilla-mobile/android-components/issues/4772

[2020-01-12 07:05] NotWoods commented on #2768
@ekager Could we land an always on option for now and introduce the toggle later? I think always off makes sense as a default.

@KaairaGupta Here is the docs for [`SecureWindowFeature`](https://mozac.org/api/mozilla.components.feature.privatemode.feature/-secure-window-feature/).

[2020-01-12 07:08] ekager commented on #2768
@NotWoods see comments above. From my experience on Focus, users can find this feature really annoying and I think we should wait for a way for users to turn it off before introducing it. We can get input from @vesta0 though.

[2020-01-12 09:37] s-ankur commented on #7178
Dupe of #2633

[2020-01-12 11:27] harshlele commented on #5597
only checking back on this now, but it seems like this issue no longer happens on Android 10 with version Firefox Preview 3.0.2. (no idea when it got solved). Although the thumbnails not loading thing mentioned in #47623 seems to still happen

[2020-01-12 11:40] harshlele commented on #7554
Can I work on this issue?

[2020-01-12 12:09] KaairaGupta commented on #3813
@ekager the dialog box will need strings, for the time being, i am hardcoding the "save" string. Also, I have added the dialog box title string to the static strings( just the way the title string of delete dialog box is mentioned in the code). Is this okay or should i do something else?

[2020-01-12 12:38] xscd opened #7625 "[Bug] Fenix crashes when trying to login on a website"
## Steps to reproduce
1-Visit eksisozluk.com
2-Try to login
### Expected behavior
Successfully login to the website
### Actual behavior
Fenix crashes
### Device information
Samsung Galaxy S8+
**Android version:**
9.0
**Fenix version:**
Nightly 200112 06:01 (Build #20120607)
28.0.0, d30f96fcd
GV: 74.0a1-20200110095023

Log:
[code]

[2020-01-12 14:19] ClemGame opened #7626 "Bottom URL Bar that minimizes itself when scrolling down."
Bottom URL Bar that minimizes itself when scrolling down.
When the position of the bar is set to top, this feature is already implemented.
However, it would be really great, if there were an option to get the same affect when the position is set bottom, too.

[2020-01-12 15:33] KaairaGupta commented on #3813
@ekager i have implemented the functionality of the tick mark, but when a user clicks on the save option of the confirmation dialog box, the app should navigate back to the bookmarks fragment, which i am unable to implement.
i added
`        FenixSnackbar.makeWithToolbarPadding(requireView(), FenixSnackbar.LENGTH_SHORT)
            .setText(resources.getString(R.string.preferences_delete_browsing_

[2020-01-12 16:09] s-ankur opened #7628 "[Bug] Harmonize normal mode and private mode home screens"
TL;DR: Pls remove save to collection option in the 3 dot menu in normal mode home screen.
### Why/User Benefit/User Problem
Private Mode home screen has two tab related options:delete and share. These are accessible directly from the home screen. Normal mode home screen has a 3 dot menu with 3 options, save to collection being the additional option. There are already two additional ways to save to

[2020-01-12 16:18] cadeyrn commented on #7626
Duplicate of #4383.

[2020-01-12 16:30] ClemGame commented on #7626
Oh, sorry.

[2020-01-12 16:30] #7626 closed

[2020-01-12 17:03] daniluk4000 commented on #6966
I see error after I've been returned to App:
`E/BufferQueueProducer: [com.android.settings/com.android.settings.password.ConfirmDeviceCredentialActivity$InternalActivity$_20729#0] disconnect: not connected (req=1)`

Sometimes I randomly being able to login, and when I do it, I don't see this error.

And lots of: `E/WindowManager: Unknown window type: 2617`

[2020-01-12 18:06] andreicristianpetcu opened #7629 "[Bug] Crash when entering sync password"
## Steps to reproduce
https://vimeo.com/384360861
### Expected behavior
not crash
### Actual behavior
crash
### Device information
OnePlus 5t

* Android device: ?
* Fenix version: ?

[2020-01-12 18:33] kbrosnan commented on #3993
Dupe of #7461 where more discussion happened.

[2020-01-12 18:33] #3993 closed

[2020-01-12 18:51] xscd commented on #7629
I guess this is a duplicate of https://github.com/mozilla-mobile/fenix/issues/7625

[2020-01-12 20:49] mirdaki opened #7630 "[Bug] Crash on launch"
## Steps to reproduce

When opening the app directly from the home screen or via another app, Firefox Preview crashes within a couple seconds. It also will randomly crash in the background while I use the device.

I have cleared the cache and storage of the app with no change. The same has started occurring for [Firefox Focus](https://github.com/mozilla-mobile/focus-android/issues/4458) as well. L

[2020-01-12 23:22] marcinwiacek commented on #6073
Hi @sblatz ,

In fact I have quite bad experiences from UX from some projects (they were showstopper or excuse in political games), also in FP it doesn't look perfect from my perspective now (see https://github.com/mozilla-mobile/fenix/pull/7596#issuecomment-573465998 with comments what could be improved in your team), I hope that you will change my opinion this week :D

[2020-01-12 23:28] marcinwiacek opened #7632 "[Bug] URL bar shows incorrect data"
## Steps to reproduce

1. open fresh browser without any tabs
2. open any URL -> it's opened (OK)
3. enter "test" in URL bar -> it opens Google with test (at least I tested with Google; OK)
4. press back button -> url from point 2 is opened (OK)
5. click on url bar -> it shows word from step 3 (BAD)

### Expected behavior
in 5 we see URL from step 2

### Actual behavior
in 5 we see word from step

[2020-01-13 00:58] rfk commented on #7524
I believe it's part of what happens when you press "sync now", although other stuff also happens that is not related to device-commands.

+1 to trying to remove the `onResume` trigger and seeing how much of a difference that makes.

[2020-01-13 01:20] lindongbin commented on #7061
https://i.imgur.com/GviHDYE.mp4

[2020-01-13 04:39] rfk opened #7633 "Make appservices megazord version mismatches a build-time error"
Currently, if we update the version of Fenix's android-components dependency without also updating the version of the application-services dependency, it can produce runtime failures about mis-matched megazord versions. This results in crashers that IIUC have previously made it into the wild (e.g. [this sentry report](https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/7053145/?environm

[2020-01-13 07:05] sv-sdeiac commented on #7431
Hello, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 1/13 #20130605.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel 2 (Android 9);
- Google Pixel (Android Q).

[2020-01-13 07:05] #7431 closed

[2020-01-13 07:31] lindongbin commented on #7061
https://www.reddit.com/r/firefox/comments/ennsvz/do_you_ever_have_this_bug_in_firefox_android/

[2020-01-13 07:55] sv-sdeiac commented on #7583
Hello, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 1/13 #20130605.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel 2 (Android 9);
- Google Pixel (Android Q).

[2020-01-13 07:55] #7583 closed

[2020-01-13 08:13] Dexterp37 commented on #7617
Before the Glean SDK is initialize, if something attempts to record a value in a Glean metric, we [enqueue the measurement](https://mozilla.github.io/glean/book/user/general-api.html#behavior-when-uninitialized). The `flushQueuedInitialTasks` function is called right after the Glean SDK is initialized to execute any previously enqueued operation.

If that's getting slow, some component is probably

[2020-01-13 08:30] sv-sdeiac commented on #7522
Hello, I can confirm that this issue is fixed on the Firefox Preview Nightly 1/13 #20130605.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel 2 (Android 9);
- Google Pixel (Android Q).

[2020-01-13 08:30] #7522 closed

[2020-01-13 08:50] sv-sdeiac commented on #7593
Hello, I can confirm that this issue is fixed on the Firefox Preview Nightly 1/13 #20130605.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel 2 (Android 9);
- Google Pixel (Android Q).

[2020-01-13 08:50] #7593 closed

[2020-01-13 08:56] softvision-sergiulogigan opened #7635 "[Bug]Multiple taps are needed to open an article on https://mobile.reuters.com/"
**Browser / Version**
Firefox Preview Nightly 200112 (🦎 74.0a1-20200110095023)

**Operating System**
Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density)

**Steps to reproduce:**
1. Navigate to: https://mobile.reuters.com/
2. Tap on an article link from a section (eg. Featured section).

**Expected Behavior:**
The article is opened.

**Actual Behavior:**
Nothing happ

[2020-01-13 09:00] softvision-sergiulogigan commented on #7635
This doesn't seem to be related to ETP, since the issue is reproducible winth ETP Strict, Standard and Off.

[2020-01-13 09:03] softvision-sergiulogigan opened #7636 "[Bug]The page is no longer loaded when switching from ETP Strict to Standard and viceversa"
**Browser / Version**
Firefox Preview Nightly 200112 (🦎 74.0a1-20200110095023)

**Operating System**
Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density)

**Steps to reproduce:**
1. Navigate to: https://mobile.reuters.com/
2. Tap the Shield button.
3. Tap the Protection Settings option.
4. Tap the Standard radio button.
5. Tap Back.

**Expected Behavior:**
The page i

[2020-01-13 09:08] softvision-oana-arbuzov opened #7637 "[Bug] Application crashes when trying to login on the site"
## Prerequisites:
Mastodon account created and instance chosen (Create account here https://qoto.org/about).

## Steps to reproduce
1. Navigate to https://pinafore.social
2. Tap "Log in" button.
3. Fill in the instance name (e.g Qoto.org) and tap "Log in".
4. Fill in your email and password and tap "Log in".
5. Observe behavior.

### Expected behavior
Redirect to authorization page is performed (s

[2020-01-13 09:09] neekless commented on #5417
@thanuj10 I have a workaround for this

1. Go to `about:config`
2. Search for `font.name-list.sans-serif.x-western`
3. Add the font-family of the font you're using as your system font
![Screenshot_20200113-170405_1](https://user-images.githubusercontent.com/22426822/72243419-ce1bd400-35e3-11ea-8563-3cfd4bd5aaf5.jpg)
E.g. I'm using Inter and InterCondensed as my system font so I had to add them in.

[2020-01-13 09:13] sv-sdeiac commented on #7632
Hello, I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 1/13 #20130605.
Also, I tried with the latest version of Firefox Preview RC 3.0.2 and the issue is not reproducible.

Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8);
- Google Pixel 2 (Android 9);
- Google Pixel (Android Q).

[2020-01-13 09:46] sv-ohorvath commented on #7637
dupe of https://github.com/mozilla-mobile/fenix/issues/7625.

[2020-01-13 09:46] #7637 closed

[2020-01-13 09:46] sv-ohorvath commented on #7625
See also: https://github.com/mozilla-mobile/fenix/issues/7637

[2020-01-13 09:51] sv-ohorvath commented on #7629
Closing as dupe. If it's not, please reopen.

[2020-01-13 09:51] #7629 closed

[2020-01-13 10:04] softvision-sergiulogigan commented on #7625
Also reproducible when trying to sign into https://accounts.fitbit.com/login

[2020-01-13 10:13] sv-ohorvath commented on #7615
@pwd-github can you still reproduce?
I can't on a Pixel 3.

[2020-01-13 10:15] RichyHBM opened #7638 "Fenix not reporting correct web site to OS"
Fenix doesn't seem to report the current website, which leads to password managers not being able to correctly determine which login to use without user input

[2020-01-13 10:22] sv-ohorvath commented on #7630
@mirdaki Does this still reproduce and can you get a logcat? https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information

[2020-01-13 10:25] nos1609 commented on #7625
Temporary workaround:
about:config
signon.rememberSignons false

[2020-01-13 12:16] LaurentiuApahideanSV opened #7640 "[Bug] The product specification selection menu at colorel.ca requires double tap"
## Steps to reproduce
1. Go to https://colorel.ca;
2. Select any product that has specifications such as https://colorel.ca/collections/sachets-pochettes/products/sacs-satin;
3. Tap the Color or Size.
### Expected behavior
Tapping once should open the selection menu
### Actual behavior
A double tap is required to open the selection menu
### Device information

* Android device: OnePlus 6T (Android

[2020-01-13 12:41] mcarare commented on #7613
Maybe it's just me, but it doesn't look to me like the empty space in the PNGs used for the card are perfect circles.
![onboarding_dark_theme](https://user-images.githubusercontent.com/48995920/72256544-2073e980-3612-11ea-9a8c-53b1e568df24.png)

[2020-01-13 13:21] pwd-github commented on #7615
With network.trr.mode set to 3 yes. With it set to 0, no.

[2020-01-13 13:27] ebalazs-sv commented on #7587
@pocmo Hi! Can you please provide details to reproduce so it can be verified? Thanks!

[2020-01-13 13:35] mcarare commented on #7332
@liuche To keep the current behaviour of global settings for sync engines but avoid unexpected behaviour like the one described in this issue I propose to disable the options during a sync.  What do you think? Can we also have UX sign off on this?

[2020-01-13 13:46] marcinwiacek commented on #6060
Hi @boek ,

just q.q. - one of more important benchmarks doesn't give any results, will be done something about this? This issue can mean potentially issues on other pages too.

[2020-01-13 13:46] sv-sdeiac commented on #7619
Hello @Cheap-Skate , I tried to reproduce this issue but I wasn't able. The Adobe Acrobat reader is on the "open with" list. Can you retry with the latest version of Firefox Preview Nightly?
Also, if you have some specific options on your Firefox, let us know.

Build: Firefox Preview Nightly 1/13 #20130605.
Devices:
- Nokia 6 (Android 7.1.1);
- Motorola Moto G6 (Android 8);
- Samsung Galaxy Note 8

[2020-01-13 13:59] sv-sdeiac commented on #7616
Hello @pwd-github, I am not able to reproduce your issue using the latest version of Firefox Preview Nightly 1/13 #20130605.
Can you retry please with the latest version of NIghtly and come with an update?

Devices:
 - Google Pixel (Android Q);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1);
- Motorola Moto G6 (Android 8);
- Nokia 6 (Android 7.1.1).

[2020-01-13 14:09] Amejia481 commented on #7636
The same happens with other sites like cnn.com, it looks like the issue happens with sites that have trackers blocked

[2020-01-13 14:21] mdboom commented on #7617
I agree with @Dexterp37 that nothing has changed here, but maybe Fenix is now doing more metric recording prior to initialization than it used to?

[2020-01-13 14:29] pwd-github commented on #7616
I'm still seeing this issue. Is it hidden behind a pref or is it region locked?

Pixel 4XL
LG G6

[2020-01-13 14:46] topotropic commented on #7506
here's the initial spec:
- after an update to a major version, there is a blue notification dot on the 3-dot menu on home
- in the home menu is "What's new" with a blue notification dot
- the dots disappear after 3 days or once people interact with it
 https://github.com/mozilla-mobile/fenix/issues/4474

The only thing from your list above that's diverging is probably:

Otherwise, I can't think of

[2020-01-13 15:11] sv-sdeiac commented on #7616
@pwd-github I used a clear build without any changes.

[2020-01-13 15:32] topotropic commented on #7332
@Mossop did you uncheck multiple boxes at once? it seems that unchecking a box immediately triggers sync, that means whatever you first deselect syncs and the second one gets ignored.

[2020-01-13 15:39] Cheap-Skate commented on #7619
Seems fixed for me too in today's nightly thanks!

[2020-01-13 15:39] #7619 closed

[2020-01-13 15:39] MarcLeclair commented on #7143
@hawkinsw  I don't see it on my side ( the compilation). Although I do see the GeckoSession creation taking forever. All that to say, your fix reflects itself in my local setup 😄

[2020-01-13 15:57] snorp commented on #7143
@hawkinsw @MarcLeclair can you elaborate on the `GeckoSession` issue? Are you going to file a new bug? Is Fenix delaying creating the `GeckoSession`, or is `GeckoSession` itself being slow? Can you post the profile?

[2020-01-13 15:59] softvision-oana-arbuzov commented on #7625
Also reproducible on https://www.hulu.com/start?platform=android

[2020-01-13 16:40] mcarare commented on #7603
FragmentManager is the culprit, because `isStateSaved()` returns true and thus it ignores all requests to  navigate.( log entry: `I/FragmentNavigator: Ignoring navigate() call: FragmentManager has already saved its state`).
But this happens intermittently, every once in a while it returns false and you can navigate to saved passwords screen.
I did not find any other devices that have this behaviou

[2020-01-13 16:57] Ruin0x11 opened #7641 "Add ability to 'Copy Link Text'"
### Why/User Benefit/User Problem
As a user I frequently want to copy the text of a link instead of the link itself. Chrome/Brave on Android has this feature but Firefox Preview does not currently. If I want to copy the text I have to do something like select the surrounding non-link text and manually move the cursor onto the link text, which is error prone since the text selection cursor can easi

[2020-01-13 16:58] mcarare commented on #7584
This has another issue, i.e., the `OssLicensesActivity` also changes the colour for navigation and status bar.  The more direct approach is to create a custom fragment for this, instead of relying on the system one.  The work for this was supposed to be done in AC.

[2020-01-13 17:13] emalysz opened #7642 "Improve performance of HomeActivity.setupToolbarAndNavigation"
### Why/User Benefit/User Problem
It is slow to create the HomeActivity.
8.7% of `HomeActivity.onCreate` is spent in `HomeActivity.setupToolbarAndNavigation`.

### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)
-The time it takes to set up the toolbar is reduced.

________________________
The majority is spent in ThemeManager.ApplyStatusBarTheme

[2020-01-13 17:23] kbrosnan commented on #7641
Might need geckoview work if Fenix does not have a way to get the anchor text.