[2022-10-28 13:43] amccoy23 opened #27594 "[Bug]"
logins and passwords menu aren't working properly

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21889)

[2022-10-28 14:04] cadeyrn commented on #27594
What does "aren't working properly" mean? Please provide steps to reproduce, the expected result, the actual result, the affected Firefox version and information about your device like vendor, model and Android version. Or short: Everything you are asked for in the [bug reporting template](https://github.com/mozilla-mobile/fenix/issues/new?assignees=&labels=%F0%9F%90%9E+bug%2Cneeds%3Atriage&templa

[2022-10-28 14:26] amccoy23 commented on #27594
Hi,

It didn't prompt me to do any of that or give form. It wasn't very helpful explaining what to do, so i did my best. It can't be expected that people who aren't code writers will know how to opporate those types of sites.

The issue happens on both of my android phones (Samsung s 22 and and LG ThinQ)

When I go to any app or site to log in the suggested password and logins aren't there. It now

[2022-10-28 14:59] notanewbie commented on #20600
Can this be reopened? I also am experiencing this in Firefox Nightly, this started occurring early this week. I suspect that a recent update broke whatever had fixed this before, as I'm seeing some old issues for this dating back to 2020 and 2021, but no issues from this year.
![Screenshot_20221028-075335_Firefox Nightly](https://user-images.githubusercontent.com/16856594/198664297-ccd7f5fc-85c6-4

[2022-10-28 15:00] xdivby0 opened #27595 "Font-Weight get's messed up when using background-clip: text on Pixel 6/7"
### Steps to reproduce

Visit this codepen on Firefox Mobile (looks alright on desktop or responsive design mode inside firefox desktop):

https://codepen.io/bengin_cetindere/pen/PoaqQZb

Chrome and Chrome Mobile are consistent with the firefox desktop behavior, only Firefox Android shows issue.

### Expected behaviour

Both divs should render the text with the same font weight.

### Actual behavi

[2022-10-28 15:04] unomi-zan commented on #27152
I switched to 2 other custom roms and found out more information for this issue:
- it affects android 11 and higher. I used android 10 for a short period and everything was fine.
- it started from Firefox v105.

[2022-10-28 16:00] devfilmer commented on #25678
Please fix.
This is the only bug I ever see with Firefox.

I'm sure MANY users see this issue.
Sharing a link is a fundamental activity.

[2022-10-28 16:21] AtzhiriCha-pat opened #27599 "[Bug] Google Images layout problems"
What's going on with Google images?
![Screenshot_20221017-182915](https://user-images.githubusercontent.com/116861545/198686041-b5c7b304-7d85-48c6-96ba-e92879ea4e31.png)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21891)

[2022-10-28 16:32] AtzhiriCha-pat commented on #27599
@github-actions I don't know how to add a label to my comments.
needs:triage

[2022-10-28 17:51] kbrosnan commented on #27593
@Mukuljangir372 that is unrelated to this issue. If you want to discuss building Firefox please use our chat at https://chat.mozilla.org/#/room/#fenix:mozilla.org

[2022-10-28 17:53] kbrosnan commented on #27599
Do you use the Google Search Fix extension?

[2022-10-28 17:59] kbrosnan commented on #27595
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1798036

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-10-28 17:59] #27595 closed

[2022-10-28 18:50] sheikh-azharuddin commented on #27576
Interestingly I am facing this issue in nightly after today' update..pages showing black.if you click home button and come back again it is showing

[2022-10-28 18:50] mcomella commented on #27461
Looking back at the profiles mcarare posted in https://github.com/mozilla-mobile/fenix/issues/27461#issuecomment-1292166105, I noticed that `devtools` appears in both of them so I was wrong that they were totally uncomparable – so I just wanted to apologize for that.

That being said, they're likely comparable this way but it's possible the profiles are misleading – e.g. the added devtools code co

[2022-10-28 19:12] mcomella opened #27603 "Nimbus takes unexpectedly long to start up: 30% of FenixApplication.onCreate (92.3ms Moto G5)"
In the 10/10 Nightly, [this start up profile on the Moto G5 samples FenixApplication.onCreate executing for 308ms](https://share.firefox.dev/3Wq5pC7). If we filter the method by "Nimbus", [the code takes 92.3ms to run](https://share.firefox.dev/3feAc3Q) – i.e. code with Nimbus in the stacktrace runs for ~30% of `FenixApplication.onCreate`.

It seems like this code is allocating memory and initiali

[2022-10-28 19:17] mcomella opened #27604 "Investigate JVM main thread gap in a particular start up profile"
In mcarare's cold start up profiles from https://github.com/mozilla-mobile/fenix/issues/27461#issuecomment-1292166105 on a Huawei, Android 6:
- https://share.firefox.dev/3D7urwV
- https://share.firefox.dev/3SxPFK0

We see a large gap where the main thread is not running for the Parent Process nor the JVM:
![image](https://user-images.githubusercontent.com/759372/198714633-23200e95-c0d2-4c73-9930-8

[2022-10-28 19:18] mcomella commented on #27461
Unrelated: in mcarare's profiles, I noticed a large gap where the JVM main thread isn't running so I filed https://github.com/mozilla-mobile/fenix/issues/27604 to see if this is a larger problem or a source of performance improvements.

[2022-10-28 20:11] notanewbie opened #27605 "[Bug]: Audio stops playing in Firefox Nightly on Android when the tab loses focus (switching tabs, switching apps, turning off phone display)"
### Steps to reproduce

1. Play audio
2. Switch tabs, switch apps, or turn off the phone display

### Expected behaviour

Audio should resume playing in the background

### Actual behaviour

The audio stops playing

### Device name

Samsung Galaxy S10e

### Android version

Android 12

### Firefox release type

Firefox Nightly

### Firefox version

108.0a1

### Device logs

_No response_

### Addi

[2022-10-28 21:20] kbrosnan commented on #27035
Adding a spacer seems fine. I don't think that this is high priority given that this was designed for the 106 release. We don't have any current plans to reuse this design.

[2022-10-28 21:24] kbrosnan commented on #27472
One of the comments that lead use to ask for this is people saying that they are prompted too often to rate Firefox. I would like some way to track how much time elapses between our prompts.

[2022-10-28 22:15] VexfulNiko commented on #26280
Hoping for this soon and a UI overhaul to fix Fenix honestly awful UI. Google Chrome got the themed icon and Material You app design down and it's pretty solid of course, other than being you know, Google.

[2022-10-29 07:35] marcin-serwin opened #27609 "[Bug]: Cursive font fallback is not applied"
### Steps to reproduce

1. Go to https://en.wikisource.org/wiki/Template:Cursive
2. Look at example

### Expected behaviour

Text is displayed using Android cursive font (Dancing Script).

### Actual behaviour

Text is displayed in default sans serif font.

### Device name

_No response_

### Android version

Android 12.1

### Firefox release type

Firefox

### Firefox version

106.1.0

### Device

[2022-10-29 08:05] alex-kowalczyk commented on #16767
This issue does still exist and affects Firefox Mobile users receiving review invitations.
Is there any open issue in Google to track that?
Alternatively Firefox could "spoof" user agent for this well-known URL.

[2022-10-29 10:05] chetanmuliya commented on #27575
private fun String.toHexColorLong(): Long = 16 like this ? can you assign me this issue?

[2022-10-29 17:08] Cheap-Skate commented on #25596
I have this issue too, Galaxy M32, Android 12

[2022-10-29 20:42] notanewbie commented on #27605
I'm not sure what happened, but it seems fixed now. Will monitor and close if it doesn't return in a day or two.
![Screenshot_20221029-164444_Firefox Nightly](https://user-images.githubusercontent.com/16856594/198851625-14a0d618-b25a-4220-9ae2-4bac795bdfd5.jpg)

[2022-10-30 01:20] weedz commented on #21978
This seems to be added in a recent release of Firefox for Android, https://www.mozilla.org/en-US/firefox/android/104.0/releasenotes/

But i still cannot seem to find anything related to this in the settings, and autofill for address forms does not work at all on android.

On the desktop version I think I needed to change the setting `extensions.formautofill.addresses.supportedCountries` to include

[2022-10-30 09:42] Subbarao6338 opened #27614 "Support for save as PDF and print"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2022-10-30 10:20] rbarte opened #27615 "[Bug]: Send tab to device - cannot see the full device names."
### Steps to reproduce

1. Open a tab.
2. Click on share button.
3. Send to device menu is shown.
4. If there are many entries with longer description available then the name of those devices is cut. It is not possible to differentiate between devices.

### Expected behaviour

Show the full name of device.

### Actual behaviour

The device names are cut.

### Device name

Samsung Galaxy Note 9

##

[2022-10-30 14:09] cadeyrn commented on #27614
Save as PDF is already implemented in Firefox Nightly. And printing should also not be a problem since you can print via your PDF app once you generated the PDF.

[2022-10-30 14:50] mtsyns opened #27616 "problem with noscript"
Son gelen 2-3 güncellemeden beri noscript eklentisi düzgün çalışmıyor❗Noscript geçici izinli sekmelerde bazen kendiliğinden işlevsizleşiyor⚠️ Son açılandan bir önceki sekmeye geçtiğimde, ekranda yine son açılmış sayfa görünüyor ve gerçek adresin sayfası, yenilesemde bağlanmıyor⚠️ Diğer bir sorun ise uygulama ekranın bazen yarısı bazen tamamı siyah kalıyor❗[Redmi Note 8 MIUI v12 küresel kararlı sür

[2022-10-30 15:55] sha-265 commented on #19572
Confirmed on 107.0b4

[2022-10-30 16:26] Subbarao6338 commented on #27614
When this feature comes to beta and stable versions?

[2022-10-30 16:38] kbrosnan commented on #27615
Duplicate https://github.com/mozilla-mobile/fenix/issues/15170

See my comment about how sync device names are generated. You can edit them in your sync setting for the device. https://github.com/mozilla-mobile/fenix/issues/15170#issuecomment-863497684

[2022-10-30 16:38] #27615 closed

[2022-10-30 16:39] #27614 closed

[2022-10-30 16:47] amedyne commented on #21978
@weedz You can get to Address Autofill thru the following:
Settings-> Autofill -> Addressess

Can you check if **Save and autofill addresses** is enabled for you?

[2022-10-30 18:32] garyyeap commented on #23147
Very disappointed with the final decision. I have a small screen phone every spaces matter and Firefox decided to put a useless button occupying the already crowded URL bar for me. Uninstalled but maybe you don't care about the little user like me. Good luck with your market share.

[2022-10-30 18:46] weedz commented on #21978
Cannot find anything related to autofill in the settings.

This is my firefox version:
![Screenshot_20221030-193853_Firefox](https://user-images.githubusercontent.com/634476/198896028-c198c2cb-d7fb-4426-af4b-88835bd30646.png)

[2022-10-30 19:33] plwt commented on #21978
I believe that this is one of the features that is only available to people in the USA.

[2022-10-30 20:22] cadeyrn commented on #27614
It looks like it will be part of Firefox 108.

[2022-10-30 21:25] interfect commented on #20887
It looks like this should probably be closed as won't-fix; https://github.com/mozilla-mobile/fenix/pull/22501#issuecomment-1290852866 notes that the current behavior is as designed.

[2022-10-31 01:19] Subbarao6338 commented on #27614
Any ideas for built-in translation

[2022-10-31 04:23] JacenBridger opened #27620 "Printing this website giving blank page pdf"
### Steps to reproduce

1. Go to [this website](https://linearalgebras.com/1c.html)
2. Wait till rendering of the contents completed.
3. Now, try to print as pdf/save as pdf

### Expected behaviour

It should give the proper rendered content(including mathjax) of the website in a pdf file.

### Actual behaviour

It giving blank pdf.

### Device name

Redmi note 10

### Android version

Android 12

[2022-10-31 05:36] Fhokud opened #27621 ".exe extension becomes .com when downloading file"
### Steps to reproduce

1.visit website [https://2.na.dl.wireshark.org/win64/Wireshark-win64-4.0.1.exe](https://2.na.dl.wireshark.org/win64/Wireshark-win64-4.0.1.exe)

### Expected behaviour

Downloaded Wireshark-win64-4.0.1.exe

### Actual behaviour

Downloaded Wireshark-win64-4.0.1.com

### Device name

MIUI12.6

### Android version

andeoid 11

### Firefox release type

Firefox

### Firefox ver

[2022-10-31 05:43] SoftVision-LorandJanos commented on #27524
Verified as fixed on the latest nightly 108.0a1 (2022-10-31) build.
Device used: Oppo Find X5 (Android 12).
Closing the ticket as fixed.

[2022-10-31 05:43] #27524 closed

[2022-10-31 06:24] maoeyan commented on #27548
Hey @Mukuljangir372
1. reference Build Instructions
https://github.com/mozilla-mobile/fenix

2. The same error occurred when I switched the releases_v107.0.0 branch

[2022-10-31 06:39] Mugurell commented on #27609
Thank you for the report.
It seems like the issue affects only mobile and is not reproducing on Desktop.
Moving the issue to GeckoView for more investigations there.

[2022-10-31 06:40] Mugurell commented on #27609
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1798261

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-10-31 06:40] #27609 closed

[2022-10-31 07:17] SoftVision-LorandJanos commented on #27620
Hi @JacenBridger. Thanks for your report!
I believe this issue was covered in [this](https://github.com/mozilla-mobile/fenix/issues/27593) ticket.
Closing the ticket as duplicate.

[2022-10-31 07:23] drannex42 commented on #1938
Are there any major reasons or considerations why this hasn't been added?

[2022-10-31 07:35] cadeyrn commented on #27614
Translations are covered by #6133.

[2022-10-31 07:48] SoftVision-LorandJanos commented on #27605
Hi @notanewbie! Thanks for your report!
I couldn't reproduce your issue, so as you said, will wait 1-2 days for you to close this ticket if the issue doesn't return.
If it does return, please provide with as much detail as you can. Thank you!

[2022-10-31 07:49] AdinaPetridean commented on #16162
Verified as fixed on Nightly 108.0a1 from 10/31 with Motorola Moto g ( 9 plus) - Android 11). The name of the protocol (https) in the site address in the list of Logins is shortened.

[2022-10-31 07:49] #16162 closed

[2022-10-31 08:23] JacenBridger commented on #27620
I think other case is different. This one generates pdf with blank page.

[2022-10-31 08:24] AdinaPetridean commented on #27621
@Fhokud thank you for your report! I was able to reproduce this issue also on  The issue is still reproducible on: Firefox Nightly 108.0a1- 10/31 with Motorola Moto g ( 9 plus) - Android 11.
.

[2022-10-31 09:13] badboy commented on #27548
From the stacktrace it looks like there's a mix of Python 2.7 code and Python 3.7 code.
I'm not sure why that happens. The Glean gradle plugin installs its own Python and should use that.
This might be due to the default Python 2.7 install on that old version of macOS (10.15.7). Unfortunately I don't have a workaround for you.

@Mukuljangir372 please refrain from pinging a large number of people i

[2022-10-31 09:49] AndiAJ commented on #26710
Flaky 1x on 29/10 [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6349335510177509653/executions/bs.2334796b3766240e/testcases/6/test-cases)

java.lang.AssertionError: Page didn't load or doesn't contain the expected text
	at org.junit.Assert.fail(Assert.java:89)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.mozilla

[2022-10-31 11:53] makotokato commented on #27244
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1798303

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-10-31 13:20] SoftVision-LorandJanos commented on #27620
Sorry for the confusion, you are right!
I was able to reproduce the issue as you described, with the latest Nightly 108.0a1 (2022-10-31) build.
Device used: Oppo Find X5 (Android 12).
Reopening the ticket.

[2022-10-31 15:47] kbrosnan commented on #27620
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1798343

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-10-31 15:47] #27620 closed

[2022-10-31 16:04] ewachowiak commented on #15170
@topotropic I'm checking with localization team to see if this would be an issue, but in the meantime, I'm not sure how much shortening the browser name would help because desktop devices would still have the username in front. E.g. "emilywachowiak’s Firefox on Emilys-MacBook-Pro"

[2022-10-31 16:34] Mugurell opened #27627 "Ensure the TCP CFR is correctly enabled from Nimbus"
@cpeterso reported an issue with the TCP CFR and on further investigations it seems like the setting for is has a bug stemming from a race between the setting initialization and the Nimbus initialization.
The other MR experiments are not affected because they use lazy initialization - something that the TCP CFR could use also.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlas

[2022-10-31 16:45] Mugurell opened #27629 "Use a lazyBooleanPreference as an alternative to lazyFeatureFlagPreference"
An issue was seen in https://github.com/mozilla-mobile/fenix/issues/27627 with settings that need a lazy initialization.
Currently a `lazyFeatureFlagPreference` is used but the flag is just a formality.
If the flag is not used it should be removed and if that is removed we'll need support for a simpler `lazyBooleanPreference`.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlas

[2022-10-31 18:13] AndiAJ commented on #26934
Failed 1x on 10/31
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5237905420324421538/executions/bs.911fffdc4d07f5c1/testcases/7/test-cases)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5237905420324421538/executions/bs.34a2f13545d6d6d2/testcases/7/t

[2022-10-31 18:43] cpeterso opened #27632 "Selected branch in the Nimbus Experiments settings does not have a check mark"
### Steps to reproduce

1. Enable Fenix's debug mode:
a. Open the Fenix settings
b. Open "About Firefox".
c. Tap the Firefox logo four times.
2. Open the "Nimbus experiments" settings menu.
3. Select any experiment.
4. Tap one of the experiment's branch names, such as `control` or `treatment-a`.

### Expected behaviour

A check mark should be next to the selected branch name. Here is a screenshot

[2022-10-31 18:55] gabrielluong commented on #27144
Visually, it looks fine to me and y'all are right it will not share a baseline because the title can be multi-line and it is bigger - however that is intended. I am not sure if I am still missing something. However, I will still defer to #26885

[2022-10-31 19:36] #27459 closed

[2022-10-31 20:18] notDevagya commented on #1938
yes, incompetence

[2022-10-31 22:07] jonalmeida commented on #26809
@sum20156 as mentioned above, this feature request hasn't been triaged yet, so please be aware that we might not be ready to accept a patch for this.

That said, you can try pokedex.org as one particular example if you'd like to do more investigation.

[2022-10-31 22:32] jonalmeida opened #27634 "Add telemetry for gesture navigation (tab switching)"
We should better understand our users today and how well gesture navigation is used within the app.

(Work in progress) List of probes to add:
* Users that have gesture navigation turned on (default is currently on). (Settings > Customize > Swipe toolbar sideways to switch tabs)
* Users that toggle gesture navigation settings.
* Count how many times a gesture navigation is used in a session.
* Che

[2022-10-31 22:35] jonalmeida commented on #27634
cc: @cpeterso @kbrosnan if there are more specific things we should learn.

e.g. we could also check how many users have system-level gesture navigation enabled too.

[2022-10-31 22:42] jonalmeida opened #27635 "[Telemetry] Add telemetry for Save to PDF failures"
We know that 'Save to PDF' can fail for users for various technical reasons (page layout not ready, etc.). We should add telemetry events to know when a Save to PDF action fails by firing probes during the `SaveToPdfExceptionAction`.

_Originally posted by @jonalmeida in https://github.com/mozilla-mobile/fenix/pull/27525#discussion_r1003937178_

┆Issue is synchronized with this [Jira Task](https:/

[2022-11-01 04:21] jonalmeida commented on #27634
Since the swipe toolbar gesture is for tab switching, it would be tracked separately (in this ticket) from the system-level gesture navigation.

Thanks, I've updated the list in comment 0.

[2022-11-01 05:31] #6056 closed

[2022-11-01 06:21] #26934 closed

[2022-11-01 06:53] AndiAJ commented on #27041
Flaky 1x on 10/31 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8065683749686407874/executions/bs.8780f16890f4b81c/testcases/3/test-cases)

java.lang.AssertionError: Page didn't load or doesn't contain the expected text
	at org.junit.Assert.fail(Assert.java:89)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.mo

[2022-11-01 08:18] DreVla commented on #27635
I would like to work on this when available.

[2022-11-01 08:35] AndiAJ commented on #26976
Closing, as it didn't fail for a month.

[2022-11-01 08:35] #26976 closed

[2022-11-01 08:38] DreVla commented on #10344
This feature is enabled in nightly already. We have a product decision to enable it in beta and release also.

[2022-11-01 08:41] Dakkaron commented on #10344
Nice! That is really good news!

Now we only need keyboard shortcuts and tablet-ui-tabs and FF for Android is back in business, regarding the biggest missing features. (At least, the biggest ones for me)

[2022-11-01 08:53] sagenoob commented on #10344
Does this mean tab reordering is coming back to the main andoird firefox app? I left a comment here months ago explaining my frustration and that I am not super tech savvy so I am unfamiliar with the lingo.

Any guarantee and timeline?

Thank you.

[2022-11-01 08:56] amocirean commented on #25678
Hello @ProvocaTeach , thank you for submitting the issue.
I was not able to reproduce the issue on the latest Firefox Nightly(108.0a1) nor latest Firefox Beta (107.0b5). The Copy to Clipboard from the Share menu works as intended, the text is getting copied and I am able to paste it anywhere.
I've tested this using the following devices: Google Pixel 6 (Android 13), Samsung A32 5g (Android 12).
Pl

[2022-11-01 11:20] DreVla commented on #27634
I would like to work on this, but after investigation I found no reliable way of detecting if the device has system level gestures enabled. Found this which seems promising, but there seem to be many devices that have issues with it - https://stackoverflow.com/a/60733427/7312631
@jonalmeida do you know a sure fire way to achieve this?

[2022-11-01 13:32] ewachowiak commented on #15170
@topotropic There's no localization concerns with shortening the browser names as you suggest, so I think it should be ok!

[2022-11-01 13:43] jarifuri opened #27641 "Save as PDF does not work in Reader View"
### Steps to reproduce

1. Open the url `https://en.m.wikipedia.org/wiki/Firefox`
2. Click on the icon to toogle into the Reader View
3. Click on the menu (three dots ...) and share icon
4. Click on the Save as PDF
5. The dialog for the file download appears, click on the Download

### Expected behaviour

The pdf file is downloaded

### Actual behaviour

The message `Firefox Nigthly can't dowload

[2022-11-01 13:54] mcarare commented on #27604
Note that I wasn't able to reproduce the occurrence of the JVM main thread gap on other devices ( Huawei - Android 9, Nokia - Android 10, Pixel 4 - Android 13) other than the Huawei with Android 6.

[2022-11-01 14:00] Dakkaron commented on #10344
Disclaimer: Not a Mozilla employee here.

They just pushed a change that removes the feature toggle which, up until now, prevented the feature from showing up in the beta and release (which is the "real") versions. Since this is removed, the feature should show up in the next release of FF.

[2022-11-01 15:56] cadeyrn commented on #10344
Assuming it will ride the trains it will be in Firefox 107 Beta and then Firefox 108, not in the stable release of Firefox 107 that will be released in November. Firefox 108 is on schedule for the 13th of December.

[2022-11-01 16:27] Palloxin opened #27646 "Fenix asks for camera permissions just to make me upload files on some websites"
### Steps to reproduce

https://user-images.githubusercontent.com/75091899/199284887-4691fc17-b9fc-4bfa-a8ac-e31dd2771442.mp4

### Expected behaviour

should not ask camera permissions, and just open the archive of my files since fenix has the storage permission

### Actual behaviour

fenix asks camera permission to upload file despite it having already storage permissions

### Device name

Huawei

[2022-11-01 16:29] Mugurell commented on #27646
Thank you for the report!
Can you please post the exact URL and complete steps for reproducing?
Does the issue happens on other browsers also?

[2022-11-01 16:32] Palloxin commented on #27646
-https://yandex.com/images then follow the steps in the video, the touch of the finger is visible.
-i don't know, this has been happening for a long time. i reported just because a was very tired of it. since i know about this issue for a long time i doubt this happens on other android browsers

[2022-11-01 16:44] Mugurell commented on #27646
Thank you for the details!
Seems like the website does allow searching by image by tapping on this button

![image](https://user-images.githubusercontent.com/11428869/199287164-9ca625c7-c14c-4d1d-b760-a674833e85e9.png)

 The image used for searching can be an existing one from the available storage or a new one taken from camera.

 Testing on Chrome I see that the camera permission is asked only w

[2022-11-01 16:48] Palloxin commented on #27646
i see, but i would like fenix to allow me to upload the image/files without asking for camera permission

[2022-11-01 16:49] Mugurell commented on #27592
Thank you for the report.
Moving to Bugzilla for more investigations, please follow the progress there.

[2022-11-01 16:50] Mugurell commented on #27592
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1798525

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-11-01 16:50] #27592 closed

[2022-11-01 16:58] Mugurell commented on #27646
Agree that we should try to avoid asking for the camera permission beforehand.

[2022-11-01 18:10] mcomella commented on #27604
Unless this particular Huawei device happens to have high usage in our user base, perhaps this isn't worth investigating then until we see it on other devices.

[2022-11-01 18:55] rocketsroger commented on #27023
As agreed with @jrbenny35.  This will only be supported on Nightly and debug builds.

[2022-11-01 18:57] #27579 closed

[2022-11-01 19:26] #27485 closed

[2022-11-01 20:40] Amejia481 opened #27649 "Investigate a better UX for how to show a Save to PDF error"
At the moment, we are showing an Android toast when an error happens while trying to generate a PDF from a website. This is due to some technical limitations that make it difficult to show our default Fenix Snackbar.

Technical context, see: https://github.com/mozilla-mobile/fenix/pull/27525.

<img src="https://user-images.githubusercontent.com/773158/199344678-edf6d8b5-9d48-43c6-a546-758899df22ac

[2022-11-01 20:49] jr-johnson-support commented on #7551
Customer Experience team:

**Feature Description:**
Users are requesting to set a specific website as their Home page instead of viewing the actual Home page that includes shortcuts, bookmarks, Recs, etc.

CX team has been tracking request for this over the google play store reviews since May, 2022. At this time we have seen 64 requests over those reviews.

More info available to the product team

[2022-11-01 20:59] jr-johnson-support commented on #27472
JR on the Customer Experience Team here:

We have been tracking complaints about the review prompt since Apr, 2022. 90 google play store reviews seen at this time with more added weekly.

Due to the lack of back and forth questioning ability in Google Play Store it is a bit hard to investigate further on how often the prompt is showing up. Though from those reviews we see users note:

* Complainin

[2022-11-01 21:03] jr-johnson-support commented on #10217
JR on the Customer Experience team here:

We have been tracking google play store reviews noting this request since May 2022 and seen 70 request thus far.

A few more reviews noting this are usually added monthly.

[2022-11-01 21:15] peci1 commented on #27576
I also see this issue on 106.1 (Android 11). When this happens once, further open pages have increased probability of also being stuck while loading. When this happens, I can't even force-stop the browser. Only rebooting the phone will return it to normal behavior.

I've noticed some addresses are more prone to this bug than others. The most prone (like 90%) is https://forum.fairphone.com/c/help/f

[2022-11-01 21:24] Amejia481 commented on #27649
![image](https://user-images.githubusercontent.com/773158/199344678-edf6d8b5-9d48-43c6-a546-758899df22ac.png)

[2022-11-01 21:39] peci1 commented on #27576
I've connected debugger to the mobile browser. When I open a new page and it gets stuck as reported here, even the debugger shows nothing - i.e. a blank page, not even the developer tools.

If I go to an open panel and enter one of these addresses that usually get stuck in the devtools address bar, loading of the page is aborted with NS_BINDING_ABORTED (forum.turris.cz in this case) and no error w

[2022-11-01 21:44] jonalmeida commented on #27649
(moved the screenshots up to the main post)

[2022-11-01 21:59] fice-t opened #27652 "Fix auto publish instructions for new Android Components location"
The README contains the following:

After the repo migration, using `../firefox-android` results in:

[code]

Using `../firefox-android/android-components` results in:

[code]
CC @csadilek

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21911)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21911

[2022-11-01 22:35] jonalmeida commented on #27652
@fice-t can you try `../firefox-android/android-components`? Does that still work?

[2022-11-01 22:41] jonalmeida commented on #27641
Just ran into this as well.

Sometimes I receive the "Unable to generate PDF" with this trace:
[code]

Sometimes I receive the same error as OP:
[code]

[2022-11-01 22:45] fice-t commented on #27652
@jonalmeida That's the 2nd case above (`Error: This only works if run from the repo root`).

[2022-11-01 22:55] pyr0ball commented on #10217
@jr-johnson-support would a few more help push the devs into considering this? I don't like doing that but if it'll get the features we want...

[2022-11-01 23:16] jonalmeida commented on #27635
@DreVla for sure, please let me know if you have questions. Once this patch from @Amejia481 lands, you can use the middleware to record the new telemetry event.

Please have a look at [this wiki doc](https://github.com/mozilla-mobile/fenix/wiki/Implementing-Telemetry#procedure-to-follow-when-implementing-a-glean-telemetry-event) for more details on how to do that.

Thanks!

[2022-11-01 23:24] fice-t commented on #27652
This may be related (as the python script checks for existence of `LICENSE` file): https://github.com/mozilla-mobile/firefox-android/commit/f304fcb5c72dbbc3ef860291aff7ce4a6a89dc3f

[2022-11-01 23:38] WebworkrNet commented on #27508
Duplicate bookmarks can also occur if the URL of an already saved bookmark is edited afterwards. In this case, there is no plausibility check that could prevent this. So it is not checked whether this URL is already saved.

[2022-11-01 23:41] fice-t commented on #27652
In any case, the `Fenix` README should be updated to `../firefox-android/android-components` to reflect the migration, assuming this repo stays separated for long enough.

[2022-11-02 01:35] csadilek commented on #27652
Thanks for filing, and good find @fice-t! If you have a working version locally, we'd appreciate a PR. If not, I will try to get to this soon. It's worth addressing before the repos are integrated.

[2022-11-02 01:36] maoeyan commented on #27548
@badboy Thank you for your reply. According to your, I try to delete the /Library/Python/2.7, Now it has been solved.

[2022-11-02 01:41] csadilek commented on #27652
Yes, I like that better than looking for LICENSE. I don't see why the location has to be more flexible.

[2022-11-02 03:21] gabrielluong commented on #25285
@rocketsroger I was just checking our DMs since I know this was filed in response to me saying that we needed to better document our product requirements in the code because how we have a bunch of search engines flipping on/off depending on the search engine that is selected. We want to document in the code and align with what the product requirements are so that it is understood for the future wh

[2022-11-02 04:35] gabrielluong opened #27656 "Add a Fenix prefix to GitHub actions"
Similar to https://github.com/mozilla-mobile/firefox-android/pull/47, we want to prefix github actions in Fenix that are common between Fenix and Focus. We're adding a Fenix prefix to the existing GitHub actions filenames and titles to help differentiate the actions. This will be needed when we migrate the remaining Fenix and Focus GitHub actions in the future where it would be otherwise hard to t

[2022-11-02 05:33] notanewbie commented on #27605
This got fixed 2-3 days ago and I forgot to close this, my bad

![Screenshot_20221102-013420_Firefox Nightly](https://user-images.githubusercontent.com/16856594/199406240-ec684840-f522-4443-a0fc-e3d89c2cc29c.jpg)

[2022-11-02 05:33] #27605 closed

[2022-11-02 06:07] fice-t commented on #24346
@xNul Sorry for the delay in responding.

I was able to reproduce this, but **_only_** with the file manager that you used in the screen recording: Mixplorer. I could not reproduce this using the default Google/Samsung file managers or the open-source Amaze file manager.

Chrome+Mixplorer combo seems to work, though I'm not sure why. Just before downloading `dummy.pdf`, the current filesystem tree

[2022-11-02 06:21] fice-t commented on #24346
Whoops, I forgot about @vaaas mentioning Simple Gallery. I can also confirm the bug using Simple File manager (which uses the same file-handling backend AFAIU). So that's at least 2 that don't work. There's still a decent chance of this being a bug on their ends, but still Firefox should work nicely with such apps.

[2022-11-02 06:58] SoftVision-LorandJanos commented on #24613
Hi @rocketsroger!
What scenarios need to be tested here?
Thank you!

[2022-11-02 07:21] Mugurell commented on #27627
TCP CFR enrollment in v. 107 (using this patch) will be tested in https://mozilla-hub.atlassian.net/browse/QA-1655.

[2022-11-02 10:00] ArejaZ opened #27659 "website issue on firefox"
https://www.sportsdirect.com/outdoor-footwear/mens-outdoor-footwear/mens-walking-boots
This website crashing on firefox.
![Uploading Screenshot_20221102-095918_Firefox.jpg…]()

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21913)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21913

[2022-11-02 10:35] AndiAJ commented on #25926
### ► 10/27 Main
#### • `openAllInTabsTest ` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7327512918289478305/executions/bs.282407108612e971/test-cases)

11-01 13:13:55.803: I/WindowManager(545): WIN DEATH: Window{7d3bb2a u0 org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity}
11-01 13:13:55.803: W/InputDispatcher(545):

[2022-11-02 10:42] #27548 closed

[2022-11-02 10:59] headbank commented on #10217
@pyr0ball I think the comment you reply to is itself the "push" you are looking for ... I doubt there is any formal pathway between what's happening in the Play reviews and the dev team, hence why those on that side are raising the issue here.

However please be aware that there is movement, however slow it seems, if you know where to look. Printing support has been dependent on Save To PDF suppor

[2022-11-02 13:05] AdinaPetridean commented on #27458
Hi @ohall-m!
What scenario need to be tested here?
Thank you!

[2022-11-02 13:14] delia-pop commented on #26520
Verified as fixed on the latest Nightly 108.0a1 from 11/02 with Samsung Galaxy Note10 (Android 12). Except for the Collections placeholder button and the messaging banner which were not yet changed, the backplates on the homepage assets are displayed accordingly.

![wallpapers](https://user-images.githubusercontent.com/89388888/199498465-d2659cd6-13f0-4cf6-abea-af6047be0e47.png)

[2022-11-02 13:14] #26520 closed

[2022-11-02 13:15] ohall-m commented on #27458
Forgot to remove the tag, this doesn't need QA. Thanks!

[2022-11-02 13:15] #27458 closed

[2022-11-02 13:25] Timshel commented on #26564
Ping

[2022-11-02 13:25] Timshel commented on #27182
Ping

[2022-11-02 13:25] SoftVision-CarmenFat opened #27662 "[Experiment] [TCP CFR] The tip of the TCP CFR message doesn’t point to the lock button from the Address Bar"
### Steps to reproduce

**[Prerequisites]:**
- Have a local Beta build that is set-up to point to the Nimbus Prod server: [link](https://drive.google.com/file/d/1Ji1xRrZXbKVWeQFjI3bSeQ5wKI1o2UGW/view?usp=sharing)
- Have the local build installed on a device.

**[Steps to reproduce]:**
1. Open the local build from the prerequisites.
2. Navigate to the Firefox "Settings" menu.
3. Scroll down to the

[2022-11-02 14:37] alicevarro opened #27663 "[Bug]: [Experiment] [TCP CFR] The “tcp_implicit_dismissal” telemetry event is not registered when the orientation of the device is changed"
### Steps to reproduce

**[Prerequisites]:**
- Have a local Beta build that is set-up to point to the Nimbus Prod server: [link](https://drive.google.com/file/d/1Ji1xRrZXbKVWeQFjI3bSeQ5wKI1o2UGW/view).
- Have the local build installed on the device.
- Have the mobile device connected to the PC and Android Studio.

**[Steps to reproduce]:**
1. Start the app with the telemetry command (adb shell am

[2022-11-02 14:53] mcarare commented on #27461
@mcomella  Circling back to this detail, the messaging after activating profiling with `setup-startup-profiling.py` running instructs the opposite:
[code]

[2022-11-02 15:02] iorgamgabriel commented on #27450
@KennethHeal Can you please give us more details on how we can reproduce this bug? A video will be great . Thank you very much!

[2022-11-02 15:06] rocketsroger commented on #24613
Hi @SoftVision-LorandJanos, just some history sanity tests to make sure I didn't break anything when removing the flag.  Thanks.

[2022-11-02 15:11] csadilek commented on #27652
See also https://github.com/mozilla-mobile/firefox-android/pull/79

[2022-11-02 16:00] #27656 closed

[2022-11-02 16:02] delia-pop commented on #26911
@cpeterso We attempted to test this using a Fennec build from [here](http://archive.mozilla.org/pub/mobile/nightly/2019/). The thought process was to sign in with a valid Firefox account > install several extensions > update to Fenix and sign in with the same account.
However:
- we were not able to access the "Sign in" page from Fennec;
- updating Fennec to Fenix does not work, as Fenix is not ove

[2022-11-02 16:03] jamienicol commented on #27039
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1798714

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-11-02 16:26] mcomella commented on #27461
That is misleading – my intention was that this message would help devs if they opened `about:debugging` and the device didn't show up but I can see why devs would just leave it on.

@mcarare Would you be interested in updating the message so it's clearer? Maybe in a future iteration of the script, we can pass an Intent extra that force disables "Remote debugging via USB" until the user explicitly

[2022-11-02 16:31] MozillaNoah opened #27667 "Add Lint rule to enforce import ordering"
https://pinterest.github.io/ktlint/rules/standard/#import-ordering

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21916)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21916

[2022-11-02 16:40] fice-t commented on #24346
This only happens when using the Scoped Storage code path, so I figure it's a Uri/MediaStore-based bug.

Debugging [`useFileStreamScopedStorage`](https://github.com/mozilla-mobile/firefox-android/blob/883d71e28e651eb0f67ccf76adc3f39a15dc57e6/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt#L887) I've found that with

[2022-11-02 16:41] #27652 closed

[2022-11-02 17:43] Amejia481 opened #27669 "[crash] UninitializedPropertyAccessException: lateinit property menu has not been initialized"
Sentry nightly  low volume
https://sentry.io/organizations/mozilla/issues/3709698449/?project=6295546

[code]

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21918)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21918

[2022-11-02 18:39] perrymcmanis144 opened #27671 "[Telemetry] Send existing mobile search metric data in baseline ping"
## Description & Product Manager / Data Scientist User Story

Pursuant to: https://bugzilla.mozilla.org/show_bug.cgi?id=1797323

There are several existing metrics that are sent in the Metrics ping, I will be including them in the baseline ping.

No new data will be collected.

## What questions will you answer with this data?

This will reduce the latency of search data which is critical for mode

[2022-11-02 20:26] cpeterso commented on #27662
Good eye! Unfortunately, I don't think we have time to fix this bug for Fenix 107. But we should fix it for 108 so new users installing >= 108 will see the fixed CFR.

[2022-11-02 20:29] cpeterso commented on #27663
@SoftVision-CiprianMuresan Is the TCP CFR dismissed when you rotate the phone from portrait to landscape or when you send the app to the background?

[2022-11-02 20:46] MarcLeclair commented on #22144
Triage: We should figure out if this trends happens on other devices.  I'll try the A50

[2022-11-02 21:01] MarcLeclair commented on #27604
Triage: Close since it isn't happening on other devices. We can always reopen this in the future if we notice happening elsewhere.

[2022-11-02 21:01] #27604 closed

[2022-11-02 21:22] jr-johnson-support commented on #10217
Headbank explained things pretty well on this front. What I will add is this:

In general, a few more request for a specific feature is not what will get that feature over the line to get implemented. There is a multitude of reasons why work on a feature will happen or wont happen. As headbank noted,  there has not always been a formal pathway between various channels mobile users are posting and

[2022-11-02 21:46] cpeterso commented on #26911
@delia-pop Summarizing a conversation from Slack: given these Fennec issues, I don't think testing this would not be a good use of your time.

This code change was made to protect Fenix users from ancient versions of Fennec add-ons that might be reactivated before Fenix has a chance to install the add-ons' latest version from AMO. This is expected to be a tiny corner case, so I think you can close

[2022-11-02 22:16] #27578 closed

[2022-11-02 22:18] pyr0ball commented on #10217
@headbank @jr-johnson-support
Thank you both for your explanations! It's always nice to get a little insight and have a few more places to look for answers

[2022-11-03 06:42] SoftVision-LorandJanos commented on #10344
There is no "Sort open tabs" section in the tab settings in the latest Nightly 108.0a1 (2022-11-03).
Will recheck later.

[2022-11-03 06:56] Mugurell commented on #10344
The feature ended up having no setting.
There is no automatic functionality, users can do the "long press and drag tabs to reorder" gesture or not.
This was already enabled in Nightly, the recent patch enabled the feature in beta and release also starting with version 108.

[2022-11-03 07:09] AndiAJ commented on #27522
The work is done, closing for now.

[2022-11-03 07:09] #27522 closed

[2022-11-03 07:14] SoftVision-LorandJanos commented on #10344
With this new information, I can confirm that the tabs can be manually rearranged by "long press and drag" in the latest Nightly 108.0a1 (2022-11-03).
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-03 07:14] #10344 closed

[2022-11-03 07:19] delia-pop commented on #26911
Understood, thank you for further inquiring. I will close this ticket and remove the QA needed label.

[2022-11-03 07:19] #26911 closed

[2022-11-03 08:00] SoftVision-CiprianMuresan commented on #27663
@cpeterso the TCP CFR is dismissed when the screen orientation is changed and the `implicit_dismissal` ping isn't sent.
As for the other scenario, the CFR is **not** dismissed when sending the app into background and it does __not__ generate additional `show` pings.

[2022-11-03 08:08] amocirean commented on #27635
Verified as fixed on the latest Nightly (2022-03-10).
Device used: Google Pixel 6 (Android 13).
Closing the ticket as fixed.

[2022-11-03 08:09] #27635 closed

[2022-11-03 08:12] AndiAJ commented on #27220
Flaky 1x on 11/2 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6909327565510047739/executions/bs.faf8a92470003323/testcases/3/test-cases)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[RESOURCE_ID=com.google.android.apps.photos:id/trash]
	at androidx.test.uiautomator.UiObject.click(UiObject.java:416)

[2022-11-03 08:13] AndiAJ commented on #27220
Flaky 1x on 11/3 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7056909787559757833/executions/bs.4c32c5c75d2c413b/testcases/3/test-cases)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[RESOURCE_ID=com.google.android.apps.photos:id/trash]
	at androidx.test.uiautomator.UiObject.click(UiObject.java:416)

[2022-11-03 08:14] AndiAJ commented on #27392
Flaky 1x in 11/3 Main [Fireabase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7056909787559757833/executions/bs.10497927c3e9c9a1/testcases/4/test-cases)

androidx.test.espresso.PerformException: Error performing 'single click' on view '(view.getId() is <2131297114/org.mozilla.fenix.debug:id/menuButton>)'.
	at androidx.test.espresso.

[2022-11-03 08:24] Mugurell commented on #27663
The scenarios described by @alicevarro and by @SoftVision-CiprianMuresan are the expected scenarios.

Specifically about the situation in which the screen is rotated we dismiss the CFRs (and most other popups in Fenix)  because of technical reasons (read more [here](https://github.com/mozilla-mobile/fenix/issues/27033)) not because the user intended to close the CFR.
As such because we don't consi

[2022-11-03 08:24] #27663 closed

[2022-11-03 09:13] iorgamgabriel commented on #27450
I made a fix for this if you can still reproduce it with the latest build please tell . Thank you ! @KennethHeal

[2022-11-03 09:44] SoftVision-CiprianMuresan commented on #27663
@cpeterso I don't disagree with @Mugurell, but I think we should try to have a similar probe to the `tcp_cfr_implicit_dismissal` for _any_ scenario in which the CFR is dismissed as this would help us have a more clearer picture as to how many dismisses of any type we have.

[2022-11-03 09:56] davidspura opened #27685 "[Bug]: html video displays only parts of the video"
### Steps to reproduce

If you follow [this link](https://bibinoapp.com/en/activitylog/rfxUItSsCJgWU57h0xWh8S) and try playing any of the videos, only small portion of the video is visible.

There is nothing special or broken about the styling of the video, I checked it thoroughly through firefox remote debugging, all elements were correctly highlighted and the video works fine in other environmen

[2022-11-03 10:06] trytomakeyouprivate commented on #27161
This is not about the addon, its about the general ability to do these things, which Firefox Desktop provides, Fenix doesnt.

[2022-11-03 12:25] DreVla commented on #24379
This issue should be solved by this: https://github.com/mozilla-mobile/firefox-android/pull/89

[2022-11-03 12:32] nbmrjuhneibkr commented on #24346
I'm also having this issue. Previously downloaded file gets overwritten _even if I move it to a different folder._ I can reproduce the issue consistently by following these steps:
1. Download **app-release.apk** from https://github.com/XiangRongLin/NewPipe-preuinified/releases (all releases of this app have the same file name).
2. Move **app-release.apk** from **/storage/emulated/0/Download/** to

[2022-11-03 12:39] derDiesel opened #27686 "[Bug]: Push notifications broken for "Send Tab to Device" on Android"
### Steps to reproduce

1. Use Firefox Sync on 2 devices (PC and Android Mobile)
2. Activate Sync on your Mobile and PC
3. Use your PC and send an open page to your Mobile
4. Your Mobile won't show any push notification (until you start a sync manually)

### Expected behaviour

Push Notification shows up

### Actual behaviour

Push Notification doesn't shows up

### Device name

Google Pixel 7 Pro

[2022-11-03 13:46] t-p-white commented on #25810
Would a scrollbar achieve the desired affect here?

https://user-images.githubusercontent.com/1833156/199737291-02d6ce36-e2cb-4080-8233-159355a51c8e.mp4

[2022-11-03 14:57] #27472 closed

[2022-11-03 14:58] SoftVision-LorandJanos commented on #25811
Verified as fixed on the latest Nightly 108.0a1 (2022-11-03) build.
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-03 14:58] #25811 closed

[2022-11-03 15:12] SoftVision-LorandJanos commented on #25813
Verified as fixed on the latest Nightly 108.0a1 (2022-11-03) build.
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-03 15:12] #25813 closed

[2022-11-03 15:13] AaronMT commented on #27220
Failed in https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6188064547525830878/executions/bs.24fa67674002278d/videos

https://treeherder.mozilla.org/jobs?repo=fenix&selectedTaskRun=fiXuoR65RKybar_tnmWkqg.0

We should disable this one

[2022-11-03 15:24] tesmite commented on #27571
It is closed because it is no longer occurred for some time.

[2022-11-03 15:24] #27571 closed

[2022-11-03 15:55] AndiAJ commented on #27220
Failed 1x on 11/3 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6188064547525830878/executions/bs.42d76bb395e03916/testcases/3/test-cases)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6188064547525830878/executions/bs.24fa67674002278d/testcases

[2022-11-03 16:15] kycn commented on #7227
**Status update:**
A `PeriodicWorkRequest` is introduced in `A-C` with a 24h repeat interval.
It runs when the following constraints are met: `setRequiresBatteryNotLow(true)` and `setRequiresDeviceIdle(true)`. `Fenix` enqueues this request to `WorkManager` if `visualCompletenesQueue` is ready.
The related PRs: [Fenix](https://github.com/mozilla-mobile/fenix/pull/27689) and [A-C](https://github.com

[2022-11-03 16:26] jeffreygee commented on #27033
Apologies, I updated a different ticket.

After discussing with the team, here's our intended CFR behavior:
- is **dismissed** when user hits close button (X) or action on CFR (i.e. href)
- is **not dismissed** with an outside click
- is **not dismissed** when the screen is rotated. @jonalmeida's proposal (_One approach we could try is still dismissing the CFR when the screen rotates but maybe aft

[2022-11-03 16:36] rahaaatul opened #27690 "DuckDuckGo Addon displays a blank settings page"
### Steps to reproduce

1. Add Duckduckgo Privacy Essential to custom collection.
2. Install the addon.
3. Got to DDG addon's settings
4. Observe

### Expected behaviour

Should show the interface.

### Actual behaviour

The page is all white/blank.

### Device name

Vivo

### Android version

Android 11

### Firefox release type

Firefox Beta

### Firefox version

107.0b5

### Device logs

_No re

[2022-11-03 17:20] AaronMT commented on #27220
In the video, when Google Photos opens I just see a spinner

https://storage.cloud.google.com/fenix_test_artifacts/2022-11-03_14-16-58.791168_Krfv/matrix_0/Pixel2.arm-30-en_US-portrait-shard_42/video.mp4?authuser=0

[2022-11-03 17:25] Alexandru2909 opened #27691 "Replace the Pocket word in all strings with a placeholder"
We would like to replace the word "Pocket" in all our strings with a string placeholder which should be passed as parameter at runtime.

Based on [this](https://github.com/mozilla-l10n/android-l10n/pull/512#discussion_r1001207270) comment.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21925)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNX

[2022-11-03 18:41] campfiresong69 opened #27693 "[Bug]: Firefox shows a black screen instead of website when I click on a link from another app"
### Steps to reproduce

Click on any like that will redirect to your default browser. With Mozilla Firefox being the default browser.

### Expected behaviour

The websites appears on screen as intended

### Actual behaviour

The page loads but displays a black screen

### Device name

Samsung Galaxy Note 20 Ultra

### Android version

One UI 4.1, Android 12

### Firefox release type

Firefox Beta

[2022-11-03 20:34] rocketsroger opened #27697 "Unified search delay in showing icon when switching between display mode and edit mode"
https://user-images.githubusercontent.com/6579541/199828530-48ff26b1-2a3e-461c-ba10-ab38d0e9192a.mp4

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21927)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21927

[2022-11-03 22:05] MatthewTighe opened #27698 "Add set as default growth data"
https://mozilla-hub.atlassian.net/browse/FNXV2-21920

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21928)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21928

[2022-11-03 22:05] #27468 closed

[2022-11-03 22:12] onemahon commented on #26852
Appreciate the feedback! We had moved the site name into the rectangular cards to ensure the text would still be legible against custom background wallpapers & colors, but that clearly interfered with other aspects of usability.

We're working on a reversion for this now, and we'll try to come up with a more robust way of solving that other problem in the future.

[2022-11-03 22:35] #27469 closed

[2022-11-03 23:27] #27667 closed

[2022-11-04 00:04] fice-t commented on #24346
I can reproduce with the above steps as well with Google Files but not with the builtin Google file manager (`com.android.documentsui` I believe), so it's likely the same root issue.

[2022-11-04 04:25] masayuki-nakano commented on #27039
I verified the fix in today's Nightly build. How about you, @CitronDoux ?

[2022-11-04 04:25] #27039 closed

[2022-11-04 05:54] fice-t commented on #24346
CC @Amejia481 @csadilek Why does [`useFileStreamScopedStorage`](https://github.com/mozilla-mobile/firefox-android/blob/883d71e28e651eb0f67ccf76adc3f39a15dc57e6/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt#L887) try to use `queryDownloadMediaStore` if it returns non-null? So far I've only seen it return non-null f

[2022-11-04 07:16] cpeterso commented on #26372
We should probably prioritize this bug. This regression is now on Release, generating about 1.5M "Invalid State" Glean errors per day for the `recent_synced_tab_time_to_load metric` metric:

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/629193/199914720-8cba4f6f-92b2-42cf-b376-d3bdb7c1bc28.png">

https://mozilla.cloud.looker.com/explore/fenix/metrics?qid=aeQaAQQgwFPd

[2022-11-04 07:43] Macmee commented on #2344
Another vote for tablets, I would love this!

[2022-11-04 08:28] sv-ohorvath commented on #27220
@AaronMT I've already started a few days ago looking for a different solution to delete a file from storage, but I'm still getting different results on firebase. It will take a little more time since I'm working on it in between the search suite.

[2022-11-04 11:42] AndiAJ commented on #25926
### ► 11/4 Main
#### • `verifySponsoredShortcutsSettingsOptionTest ` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6795198677341783078/executions/bs.9c9773f1a07df117/test-cases)

11-04 00:57:16.422: I/WindowManager(545): Input event dispatching timed out sending to org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity.  Re

[2022-11-04 11:46] AndiAJ opened #27704 "java.lang.RuntimeException: androidx.test.services.shellexecutor.ClientNotConnected"
### Firebase Test Run:
#### • `verifySponsoredShortcutsSettingsOptionTest` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8102878675142350551/executions/bs.2bd2d6b1b56c835e)

### Stacktrace:
11-01 14:13:09.785: E/ShellExecutorImpl(7085): --------- beginning of crash
11-01 14:13:09.787: E/AndroidRuntime(7085): FATAL EXCEPTION

[2022-11-04 11:49] AndiAJ commented on #27704
### ► 11/4 Main
#### • `noSearchGroupFromPrivateBrowsingTest` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6795198677341783078/executions/bs.95b44cb6c35cb5dd/test-cases)

11-04 01:26:29.515: E/ShellExecutorImpl(7056): --------- beginning of crash
11-04 01:26:29.515: E/AndroidRuntime(7056): FATAL EXCEPTION: AndroidTestOrche

[2022-11-04 12:00] Mugurell commented on #27663
Jeff recommended here - https://github.com/mozilla-mobile/fenix/issues/27033 trying to keep the CFRs after the screen is rotated, or at least showing that same CFR again which would make the issue discussed here obsolete.

[2022-11-04 12:42] AndiAJ commented on #27328
Closing, as it didn't fail for approx. a month

[2022-11-04 13:50] JustinWebDev opened #27707 "[Bug]: can't secure connection for hourofengineering.com"
### Steps to reproduce

1. type "hourofengineering.com" in the address bar, go

### Expected behaviour

Firefox should render the page using an HTTPS connection without error.

### Actual behaviour

Firefox says "Secure Connection Failed", indicating the site does not prove its identity.

### Device name

Samsung SM-T280 tablet

### Android version

Android 5.1.1

### Firefox release type

Firefox

[2022-11-04 14:21] AlanaRoo commented on #16859
No one is bothering to reply. I am looking for a mobile browser that does not open a tab for every web page I click on. Why has this choice between taken away? Ridiculous! This thread is being ignored.

[2022-11-04 14:35] ShubhamTariyal commented on #24034
Same issue on Samsung m31s Android 12, One UI Core Version 4.1 with Firefox version 106.1.0.

[2022-11-04 14:52] kbrosnan commented on #27707
Incomplete certificate chain. https://www.ssllabs.com/ssltest/analyze.html?d=hourofengineering.com&s=3.213.103.0&latest

Duplicate of bz-1520297

[2022-11-04 14:52] #27707 closed

[2022-11-04 14:59] cwzilla commented on #24590
Hi, thank you for flagging for this and sorry it took awhile for us to review it.

I have explored this design to see what it would look like if we updated all the delete actions on this page to red. After analyzing it and looking into best practices, we would actually recommend not having the ‘X’ in red for a few reasons. Although red is typically used to depict destructive actions, it should als

[2022-11-04 15:35] kbrosnan commented on #27685
duplicate bz-1794438

[2022-11-04 15:35] #27685 closed

[2022-11-04 16:36] #26710 closed

[2022-11-04 16:40] lime124 commented on #26280
updating label - lmk if you need anything else!

[2022-11-04 20:39] MozillaNoah opened #27714 "UI test failure - Top Sites & SponsoredShortcuts failures after design revert"
After reverting the Top Sites UI to its 105 designs, the UI tests around them need to be reverted as well.

Reverted in:
- https://github.com/mozilla-mobile/fenix/pull/27711

### Firebase Test Run:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/9034723915705932614

### Tests ignored
- verifySponsoredShortcutsListTest
- openSponsoredShortcutTest

[2022-11-04 20:50] fice-t opened #27715 "Allow FirefoxColors.copy to override some values"
This helps to reduce theme color duplication, making it easier to see which parameters differ.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21932)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21932

[2022-11-04 20:51] fice-t commented on #27715
This also brings FenixColors closer to the upstream [Compose Material
Colors class](https://cs.android.com/androidx/platform/frameworks/support/+/androidx-main:compose/material/material/src/commonMain/kotlin/androidx/compose/material/Colors.kt;l=112;drc=696caaf1f75d83dc5fbe4ec30434021db31668e8).

[2022-11-04 20:51] echuber2 commented on #24034
I commented on the duplicate issues about this already, but when I had the same issue, I thought it was partly my fault for having too many tabs open. Now I see from the comments here that it affects those with very few tabs open, too. There's probably a fundamental error in how FF is serializing the session store when the app goes to sleep. (To be honest, I also had to give up and switch to Brave

[2022-11-04 21:18] MozillaNoah commented on #27575
Hi @chetanmuliya! We're specifically looking to create an extension function for Strings to shorthand `String.toLong(radix = 16)` to something like `String.toHexColorLong()`. From there, in a second commit, we'd refactor all usages of `String.toLong(radix = 16)` with the new extension function.

[2022-11-04 21:36] cpeterso commented on #26956
The updated SUMO is now live. The Total Cookie Protection section is only visible for visitors with Firefox >= 107.

https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-android#mobile::m107

[2022-11-04 21:40] cpeterso commented on #26956
Oops. I see the problem is that the CFR points to a different URL path:

CFR: `/kb/enhanced-tracking-protection-android`
Actual page: `/kb/enhanced-tracking-protection-firefox-android`

[2022-11-04 21:55] tiago-pontomais commented on #25611
i'm having the same problem

[2022-11-04 22:05] cpeterso commented on #26956
Reopening. Even if the SUMO team adds a redirect, we should fix the URL in the CFR code so we can remove the redirect later.

[2022-11-04 22:49] oyeraghib commented on #27290
@mbaimuratov are you still working on with this ?

[2022-11-04 23:50] ppvnf commented on #27099
@kbrosnan would you mind verifying if the issues below (and this one) are indeed duplicates?

https://github.com/mozilla-mobile/fenix/issues/3950, https://github.com/mozilla-mobile/fenix/issues/5865, https://github.com/mozilla-mobile/fenix/issues/17634 and https://github.com/mozilla-mobile/fenix/issues/22064

[2022-11-05 02:38] WebworkrNet commented on #27559
I had asked in general because I assumed that the browser makes no difference there. In both cases the label of the button is "delete".

My suggestion would be the following after gaining knowledge:

***Predefined search engines**:
Adjust caption to "disable".

**Custom search strings**:
Implement disabling in addition to deleting.

[2022-11-05 06:56] Fanolian opened #27719 "[Bug]: Unable to load Twitter in Fenix Nightly only in Private Browsing mode"
### Steps to reproduce

1. Open Private Browsing mode in Fenix.
2. Go to any Twitter page, e.g. https://www.twitter.com/firefox/.
3. Click cancel when the prompt of opening link in app appears.

### Expected behaviour

The page should be loaded in Fenix successfully.

### Actual behaviour

A prompt about opening the link in app appears. Clicking cancel does not load the link in Fenix. It shows a b

[2022-11-05 07:52] itsmecom opened #27720 "[Bug]: Deleted Url on History Page, Still shows up on suggestion"
### Steps to reproduce

1. Delete a url from history page
2. after deleting, type the same url on url bar
3. it still shows up on suggestion list.

### Expected behaviour

Deleted url from history should not show up on suggestion

### Actual behaviour

Deleted url from history should shows up on suggestion

### Device name

_No response_

### Android version

All Android Versions

### Firefox rele

[2022-11-05 07:56] itsmecom opened #27721 "Add Drag and Drop to Rearrange Tabs"
Currently there is no option to rearrange tabs position.
adding drag and drop to rearrange tabs could be useful for many users.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21936)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21936

[2022-11-05 07:59] itsmecom opened #27722 "Implement remove button on search results from history page"
It would be nice to have an remove icon on history search results.
this feature will help many users.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21937)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21937

[2022-11-05 08:02] chetanmuliya commented on #27575
I had created a extension function -> **private fun String.toHexColorLong(): Long = 16**

and usage -> **TURNING_RED_WALLPAPER_TEXT_COLOR.toHexColorLong()**

Is that what we wanted?

[2022-11-05 08:04] itsmecom opened #27723 "Implement HDR Playback on Firefox Android."
Implementing HDR support for videos could be useful. there are many hdr supported devices used by users.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21938)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21938

[2022-11-05 08:26] cadeyrn commented on #27721
It's already implemented in Firefox Nightly and will be included in the stable release of Firefox 108.

Duplicate of #10344.

[2022-11-05 08:28] cadeyrn commented on #27722
In my opinion a visible icon would clutter the user interface. A better option would be a context menu on long press in my opinion.

[2022-11-05 08:32] itsmecom commented on #27722
either long press or icon anything can be fine. we only need this feature to be implemented.

[2022-11-05 08:42] cadeyrn commented on #27722
It's important *how* it will get implemented. As an permanent visible icon I am strongly against this feature. Without cluttering the UI it get my vote. This is an important consideration because it's seems obvious to me that most users won't remove history entries very often. But *every* user (with enabled history suggestions) *always* see the the history suggestions (and therefore also all the i

[2022-11-05 08:45] cadeyrn commented on #27722
Nevermind, I didn't read carefully enough. I thougth it was about the address bar suggestions, but it's about the history page as described in the issue title.

[2022-11-05 09:34] hehe12301 commented on #22453
This issue is still reproducible with the latest Nightly 108.0a1 on Android 11. You can use "[test intent](http://mcomella.xyz/test/uri.html)" for further research.

Related Issues: #23102 #15202 #13090 [Bugzilla-1793208](https://bugzilla.mozilla.org/show_bug.cgi?id=1793208)

So, would there be any fix? Or I have to continue to use the old 68.0 version which doesn't has this bug... It's really dis

[2022-11-05 15:58] #27721 closed

[2022-11-05 16:19] sheikh-azharuddin commented on #21978
But why US only 😔
You guys making it like alien invasion movies.. everything happens first in US🤣

[2022-11-05 16:25] sheikh-azharuddin commented on #24590
Thanks for getting back..if you have already tested then it's fine 🙂 but I feel atleast the delete(trash) icon on the top should be red

[2022-11-05 16:28] sheikh-azharuddin opened #27725 "[Bug]: *critical* m.youtube.com crashing"
### Steps to reproduce

In the latest version available from playstore , m.youtube.com page is crashing..even I have uninstalled and freshly installed it but still same issue

Please fix soon

### Expected behaviour

Page should load

### Actual behaviour

Page crashing

### Device name

asus rog 3

### Android version

android 12

### Firefox release type

Firefox Nightly

### Firefox version

la

[2022-11-05 17:40] sheikh-azharuddin commented on #27662
Also the link is broken "learn more about total cookie protection"

[2022-11-05 23:41] JustinWebDev commented on #27707
If you don't mind, @kbrosnan how you know the problem is an incomplete chain?  The Qualys site does not give any reason or details for the "B" grade.

[2022-11-06 00:47] kbrosnan commented on #27719
Duplicate bz-1799208

[2022-11-06 00:48] kbrosnan commented on #27725
Duplicate bz-1799208

[2022-11-06 00:48] #27725 closed

[2022-11-06 06:32] thornySoap commented on #26275
This is sort of annoying, because I have to switch to another browser everytime I want to upload PDFs to Moodle. And that is often

[2022-11-06 09:10] tbertels opened #27729 "[Bug]: closing a tab with swipe back doesn't trigger undo close tab"
### Steps to reproduce

1. Open a tab with URL links
2. In the tab, long tap on a link and select Open in a new tab
3. Switch to the new tab
4. Swipe back to close the new tab

### Expected behaviour

The undo closed tab message should show up

### Actual behaviour

No message is shown

### Device name

_No response_

### Android version

Android 12

### Firefox release type

Firefox Nightly

###

[2022-11-06 09:15] tbertels commented on #19888
Note that this works if the tab was opened from an other tab by long tapping on a link and choosing Open link in a new tab.
But then, after we swipe back to close the new tab, no undo close tab message is shown. See #27729.

[2022-11-06 09:18] tbertels commented on #26076
This looks like #19888 but with steps to reproduce etc.

[2022-11-06 10:08] PrashantSaroj commented on #27290
Hey @MatthewTighe, I would like to work on this issue. I have created this PR https://github.com/mozilla-mobile/fenix/pull/27730 . How do I test if my changes are correct?

[2022-11-06 12:32] pigsonthewing opened #27731 "[Bug]: Status bar hidden"
### Steps to reproduce

View any web page in Firefox Android app

### Expected behaviour

Status bar  (at top of screen by default) should remain visible

### Actual behaviour

Status bar is hidden

### Device name

OnePlus Nord

### Android version

Android 11

### Firefox release type

Firefox

### Firefox version

106.1.0

### Device logs

_No response_

### Additional information

![2022-11-06

[2022-11-06 13:10] KiaraGrouwstra opened #27732 "support a build free including upstream code"
### What is the user problem or growth opportunity you want to see solved?

[On F-Droid](https://f-droid.org/en/packages/org.mozilla.fennec_fdroid/), Fennec is listed with anti-feature:

This raises questions:

- which parts are non-free?
- what was the rationale behind these decisions?
- would it be viable to support a build that resolves this anti-feature?

### How do you know that this problem

[2022-11-06 14:11] cadeyrn commented on #27732
Duplicate of #12809.

There is also an detailled explaination why various dependencies are used. It's a shame that F-Droid confuses people with such sentences without giving more context.

[2022-11-06 17:13] #27732 closed

[2022-11-06 18:43] fice-t commented on #27729
This is a duplicate of #19285. FWIW I have a pending PR that fixes this here: #27477.

[2022-11-06 18:46] fice-t commented on #27731
This should already be fixed in the next release. Would you be willing to try Firefox Beta from the Play Store to see if you can reproduce this issue on that version?

[2022-11-06 19:31] fice-t opened #27734 "Make tab tray overflow menu background layer2 instead of layer1"
Using the color of layer2 results in a more readable menu IMO, particularly for the dark theme. It also makes the menu match with the toolbar overflow menu.

Before/After (light):
<img src="https://user-images.githubusercontent.com/13156601/200190690-27a4d4a8-db8d-4a7f-89f3-a82719372f9b.png" width=50%><img src="https://user-images.githubusercontent.com/13156601/200190800-af3d996f-14c7-49ec-819f-45

[2022-11-06 22:31] riccjohn commented on #25678
I have the same issue. It's been affecting me for months, so I'm not sure when it began.

Firefox version: 106.1.0 (Build #2015909131), 71ca6c1f7+
AC: 106.0.5, 5f06485fc3
GV: 106.0-20221010181815
AS: 94.2.1

Phone: Google Pixel 6

Android: 13
Android Build: TP1A.221005.002
Kernel: 5.10.107-android13-4-00004-gf0fe4f768061-ab8935229
#1 Thu Aug 11 01:16:28 UTC 2022

[2022-11-07 03:37] levincoolxyz commented on #27725
Are you sure this is a duplicate of bz-1799208 ? Website referenced in that post opens fine but YouTube still crashes.

[2022-11-07 03:37] AaronMT commented on #27312
https://bugzilla.mozilla.org/show_bug.cgi?id=1794130

[2022-11-07 03:54] Theo-user commented on #27693
This happens to me all the time on all Firefox version (- Focus). Drives me crazy.

[2022-11-07 03:56] cpeterso commented on #27662
Yes. That's bug https://github.com/mozilla-mobile/fenix/issues/26956.

[2022-11-07 05:30] kbrosnan commented on #27723
duplicate bz-1539685

[2022-11-07 05:30] #27723 closed

[2022-11-07 05:50] SoftVision-LorandJanos commented on #27252
Verified as fixed in the latest Nightly 108.0a1 (2022-11-07).
Talkback now reads: "Common myths about private browsing. Double-tap to read the article"
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-07 05:50] #27252 closed

[2022-11-07 06:02] SoftVision-LorandJanos commented on #25814
Verified as fixed in the latest Nightly 108.0a1 (2022-11-07).
The "Show search engines" toggle is no longer displayed in Search settings when Unified search is enabled.
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-07 06:02] #25814 closed

[2022-11-07 06:12] StSav012 opened #27738 "Firefox Nightly crashes when opening YouTube"
### Steps to reproduce

1. Open a tab.
2. Go to https://m.youtube.com/
3. Watch the tab crash.

### Expected behaviour

The web page should load and remain loaded .

### Actual behaviour

The page loads, displays the content and than immediately crashes.

### Device name

Motorola moto g¹⁰⁰ (XT2125-4)

### Android version

Android 12

### Firefox release type

Firefox Nightly

### Firefox version

[2022-11-07 07:25] AdinaPetridean commented on #27738
@StSav012 thank you for your report! The issue is reproducible on:  Firefox Nightly 108.0a1- 7/11 with One plus 9 Pro (Android 12).

[2022-11-07 08:08] KennethHeal commented on #27450
@iorgamgabriel unfortunately I cannot recall any more precise steps, I've not had the crash since.
Thanks for the fix. I keep Fenix updated with the latest play store release build so will keep an eye out for the fix and will update if crash reoccurs

[2022-11-07 08:36] AdinaPetridean commented on #27731
@pigsonthewing thank you for your report! The issue is still reproducible on: Firefox 106.1.0 with Motorola Moto g ( 9 plus) - Android 11.
Not reproducible on Firefox Nightly 108.0a1- 7/11

[2022-11-07 08:41] HelloGenericUser opened #27739 "[Bug]: GPS not working in LineageOS 19.1"
### Steps to reproduce

Hello all,

Under Lineage OS v19.1 for Pixel 3a, no OpenGapp or alt installed. Firefox installed via the APK found on Fenix site.

For Firefox Android v106.1, location is enabled for Firefox under App permission

when you allow the website to access GPS within Firefox
eg Google Maps, you will see the green dot on the top right of the phone like it is using GPS for around 3

[2022-11-07 10:51] topotropic commented on #9118
This has been addressed. I'll close this issue but please feel free to create follow-ups or hop over to [connect.mozilla.org](https://connect.mozilla.org/) to discuss any feature ideas you might have with product and UX people. Thanks!

[2022-11-07 10:51] #9118 closed

[2022-11-07 11:10] topotropic commented on #14443
@Mugurell @gabrielluong is this still an issue? Thanks!

[2022-11-07 11:22] AdinaPetridean commented on #27729
@tbertels thank you for your report! I was able to reproduce the issue on latest Nightly 108.0a1 from 07/11 with OnePlus 9 Pro (Android 12)
I will close this as a duplicate of [#19285](https://github.com/mozilla-mobile/fenix/issues/19285), please follow the discussion there.

[2022-11-07 12:10] AndiAJ commented on #25926
### ► 11/5 Main
#### • `verifyContextMenuShortcuts` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8351252894567492184/executions/bs.b69a0c1c8c5bc313/test-cases)

11-05 09:22:07.180: I/WindowManager(545): Input event dispatching timed out sending to org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity.  Reason: 4d8e0ee org

[2022-11-07 12:53] AdinaPetridean commented on #27719
@Fanolian  thank you for your report! I was able to reproduce this issue on  Firefox Nightly 108.0a1- 7/11 with One plus 9 Pro (Android 12).  However I only reproduced it after reloading the twitter page (not on the first try).

[2022-11-07 13:10] sv-ohorvath commented on #25431
A part of this work was done in https://github.com/mozilla-mobile/fenix/issues/26826

[2022-11-07 13:11] Fanolian commented on #27719
I tried Wikipedia and YouTube which trigger open-in-app prompts. They work but the addresses given in the prompt are `https://`, not `intent://` like Twitter. I don't know any other sites that also open an `intent://` address.

[2022-11-07 13:12] Mugurell commented on #14443
Don't think this is an issue anymore.
Tagging qa to double check and close if appropriate.

[2022-11-07 14:59] SoftVision-LorandJanos commented on #27691
Verified as fixed in the latest Nightly 108.0a1 (2022-11-07).
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-07 14:59] #27691 closed

[2022-11-07 15:02] delia-pop commented on #27331
Verified as fixed on a custom build updated locally. The backplating on homepage items is displayed accordingly.

![TR](https://user-images.githubusercontent.com/89388888/200342338-fa7884b1-71b0-4cb7-97a9-e39b82d8c468.png)

[2022-11-07 15:02] #27331 closed

[2022-11-07 15:06] #27627 closed

[2022-11-07 15:19] delia-pop commented on #27450
The QA team is also unable to reproduce the issue. I will close this ticket for now, but please re-open or submit another ticket, if needed. Thanks!

[2022-11-07 15:19] #27450 closed

[2022-11-07 15:33] delia-pop commented on #27023
Hi, @jrbenny35, is this something the Manual QA team should check? If so, we can reach out to the Ecosystem QA team to help us. We verified that the option to set a custom Glean server URL is displayed in Secret Settings in Nightly 108.0a1 from 11/06 .

![1667834884262](https://user-images.githubusercontent.com/89388888/200349492-c3d68f55-163a-47e4-8b37-d312be1f6e33.JPEG)

[2022-11-07 16:02] delia-pop commented on #27738
The crash is also reproducible when attempting to enter https://vimeo.com/watch, on Nightly 108.0a1 from 11/06 with Samsung Galaxy Note10 (Android 12).
Not reproducible with soundcloud.com, or when attempting to play a video from twitter/facebook.

https://user-images.githubusercontent.com/89388888/200356761-3ad6e4a3-8f31-4b98-8db1-cde1da28d7cb.mp4

[2022-11-07 16:11] delia-pop commented on #27023
Great, thank you. I will close this ticket and remove the QA needed label then.

[2022-11-07 16:17] kbrosnan commented on #27738
duplicate bz-1799208

[2022-11-07 16:17] #27738 closed

[2022-11-07 16:20] kbrosnan commented on #27731
If it is not reproducable on nightly then the issue should be closed as works for me.

[2022-11-07 16:20] #27731 closed

[2022-11-07 17:49] Shinryuken opened #27744 "push notifications work only on foreground"
### Steps to reproduce

I have already noticed other open issues regarding push notifications, this one maybe could be related but i think that is a different problem, notifications work when the app is on foreground, please see the "Additional info" section for more info.

Easy to reproduce:

1.  Go to the test site: h**ps://www.bennish.net/web-notifications.html (link checked with virustotal)
2.

[2022-11-07 18:18] MozillaNoah commented on #27575
The above `toHexColorLong` simply returns the number 16. We instead want `toHexColorLong` to convert the _entire_ String to a number with a data type of Long. The number `16` is used as the `radix` parameter in `.toLong()` to indicate the base of the number we want to convert to. By default, this is **base 10**, but since color values are represented using hexidecimal (**base 16**), such as `#FDE9

[2022-11-07 19:35] MozillaNoah opened #27746 "Move the text of Top Sites outside of the backplating"
After https://github.com/mozilla-mobile/fenix/issues/26606, the two lines of text are being truncated, causing the Top Site's name and the `Sponsored` label to be ellipsized and sometimes indiscernible. The layout should be reverted and then design should be updated according to the following design changes:

- The title/sponsor name is colored to the wallpaper text color
- The pin is colored to t

[2022-11-07 21:48] ryanwwest commented on #2344
I'd love this too; it's the one thing holding me back.

[2022-11-07 22:32] rocketsroger commented on #27023
Reopen as request from @jrbenny35 to add local properties as another way of injecting the custom Glean server URL.

[2022-11-08 00:04] #27698 closed

[2022-11-08 05:14] WebworkrNet commented on #4203
It is pleasing that this request is still open and has not been closed in the meantime. But it is not on the agenda either. That is a pity. Implementing it would bring immense added value. Apart from the fact that many, many other tickets are still open and new ones are added daily, what is the problem here?

[2022-11-08 06:42] sheikh-azharuddin commented on #27725
Issue fixed now 😊

[2022-11-08 07:38] AndiAJ opened #27752 "Intermittent UI test failure - < NavigationToolbarTest. verifyInsecurePageSecuritySubMenuTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/4807113400611845340/executions/bs.65bc60fd5eb58f7c/testcases/5/test-cases)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertTrue(Assert.java:53)
	a

[2022-11-08 08:46] kelimuttu commented on #2011
Another user reported about this issue recently, thinking that it was a bug: https://support.mozilla.org/en-US/questions/1396024

[2022-11-08 09:14] Mugurell opened #27753 "[Bug]: Search engines are not updated immediately after changing language"
### Steps to reproduce

1. Change language from system language or app settings
2. Check the available search engines

### Expected behaviour

The list of available search engines is automatically updated for the newly selected locale

### Actual behaviour

An app restart is needed for the list of search engines to be updated.
The issues happens with or without unified search enabled.

### Firefox

[2022-11-08 09:23] klint opened #27754 "[Bug]: Youtube always crashes"
### Steps to reproduce

Deactivate all add-ons in private mode
Open a tab in private mode
Go YouTube and try to watch a video
The tab crashes

Also happens in non private mode of course '

### Expected behaviour

Tab does not crash and video is played

### Actual behaviour

Tab crashes and report is sent to Mozilla

### Device name

Redmi note 7

### Android version

Android 9

### Firefox release

[2022-11-08 10:03] #27392 closed

[2022-11-08 10:04] sheikh-azharuddin commented on #27754
The issue is fixed in the latest today' build

[2022-11-08 10:35] klint commented on #27754
It is indeed. I had missed the latest update because of a lack of disk space... Thanks

[2022-11-08 10:35] #27754 closed

[2022-11-08 12:43] jonalmeida commented on #25812
@Alexandru2909 note that we do this today already. However, we clear the search term on a new page load (clicking a link or a redirect).

With most search engines now, they redirect immediately to get to the search page and that's why the search term is cleared.

You can see this working with duckduckgo today.

So instead of finding a new place to store the search term, let's fix this logic instea

[2022-11-08 12:56] Alexandru2909 commented on #25812
Hi @jonalmeida ! thanks for adding these details. I found a fix for this which also maintains the behavior implemented for https://github.com/mozilla-mobile/android-components/issues/3451. I will open a PR on AC with it.

[2022-11-08 16:47] Cheap-Skate commented on #26852
The new version with the text outside the backplating looks much better, thanks a lot.

(I think there is room for more improvement eg 2 lines of text with wrap and the pin moved elsewhere, but what you have done is great)

[2022-11-08 17:26] delia-pop commented on #27746
Verified as fixed on the latest Nightly 108.0a1 from 11/08 with Google Pixel 6 (Android 13). The text of the Top Sites is displayed outside of the backplating, according to the wallpaper text color and the design.

![Shortcuts](https://user-images.githubusercontent.com/89388888/200633638-9320bc26-6aef-438c-9ffe-2dd2b2c52daf.png)

[2022-11-08 17:26] #27746 closed

[2022-11-08 17:50] sheikh-azharuddin commented on #26852
The pin should be moved to top left corner like earlier version

[2022-11-08 18:13] #27023 closed

[2022-11-08 18:26] MatthewTighe opened #27758 "Move functionality defined in `MetricsMiddleware` to `TelemetryMiddleware`"
We recently introduced `MetricsMiddleware`. However, there is an existing `TelemetryMiddleware` that has similar behavior. The functionality defined in `MetricsMiddleware` should instead be moved into `TelemetryMiddleware` so that there is not confusion between which to use.

- import `MetricController` to `TelemetryMiddleware`
- replicate behavior mapping `Action`s to `Event`s
- send `Event`s to

[2022-11-08 18:37] cpeterso commented on #26956
The SUMO redirect from the TCP CFR's URL https://support.mozilla.org/kb/enhanced-tracking-protection-android to the article's URL https://support.mozilla.org/kb/enhanced-tracking-protection-firefox-android is now live.

Ryan Johnson on SUMO team recommends that we replace the TCP CFR's SUMO URL with an "in-product" link. I'm waiting for more details from Ryan.

[2022-11-08 19:18] jonalmeida commented on #7227
No QA testing is needed here.

[2022-11-08 19:18] #7227 closed

[2022-11-08 19:19] jonalmeida opened #27759 "Investigate and remove feature flag for storageMaintenance"
We added a feature flag and this ticket is to track the removal of the flag to let it ride the trains.

Tracking feature: https://github.com/mozilla-mobile/fenix/issues/7227

### Potential Blockers
n/a

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21953)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21953

[2022-11-08 19:44] Delphine opened #27762 "A11y strings with Talkback will be incorrectly formatted for many locales, when localized"
I just exposed [this string](https://github.com/mozilla-mobile/fenix/blob/main/app/src/main/res/values/strings.xml#L1894) on Pontoon, to only later realize that this will cause issues down the road.

Indeed, the comments says ``, however the string reads `read the article`, which assumes that all languages have the same sentence structure, and that "Double tap to" necessarily comes before "read th

[2022-11-08 19:49] mavduevskiy opened #27763 "Setting top margin for SearchSelector in xml"
Investigate if `SearchSelector` margin could be set through `xml` when it is used as part of the `SearchDialogFragment` and `HomeFragment`.

Follow up to [this](https://github.com/mozilla-mobile/fenix/pull/27647#discussion_r1014374484)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21955)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-2

[2022-11-08 19:56] mavduevskiy opened #27764 "search icon scaling on the home might be not working"
Investigate `search_icon` scaling in [HomeFragment](https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt#605). Changing parameters for the icon size has no effect on the icon, and `BitmapDrawable` has same `height` as the original icon,

Follow up to [this](https://github.com/mozilla-mobile/fenix/pull/27647#issuecomment-1301656042). The issue c

[2022-11-08 20:47] shtstorm commented on #27719
The problem is with **any** Twitter link and any embedded Twitter post on any page. If you start with a page in Private Browsing mode and click on a Twitter link, the there will be one or more "intent" pop ups and the page would fail to load.

For instance, open this page in PB mode and click on this link: [Firefox 🔥 (@firefox) / Twitter](https://mobile.twitter.com/firefox)

This is probably a hig

[2022-11-08 21:21] jonalmeida opened #27765 "AccountManager memory leak in AuthCustomTabActivity"
We register an accountManager observer but never unregister:

There are three `autoPause` observers that we need to manually unregister (or we disable auto pause - why is it true to begin with?):
* `accountStateObserver`
* `syncStatusObserver`
* `deviceConstellationObserver`

This trace below is just one example of the traces from all three observers above:

[code]

* Android device: ?
* Fenix ver

[2022-11-08 23:42] MatthewTighe opened #27768 "Add growth data for first daily open"
┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21958)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21958

[2022-11-09 03:00] rxumoz commented on #27671
Is it possible to include _distribution_id_ into the baseline ping? So that we can have a more accurate DAU data for  MozillaOnline releases.
For  _distribution_id_ please see: https://github.com/mozilla-mobile/fenix/issues/16075

[2022-11-09 05:11] cpeterso commented on #27762
Thanks for catching that. Gluing strings together is definitely not safe for L10n! I will raise this issue in Fenix sprint planning tomorrow.

[2022-11-09 06:25] #27759 closed

[2022-11-09 07:20] SoftVision-LorandJanos commented on #24613
Verified as fixed on the latest Nightly 108.0a1 (2022-11-09).
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-09 07:20] #24613 closed

[2022-11-09 07:24] delia-pop commented on #27511
Hi, @fice-t , is there something that QA should verify? If not, we can go ahead and close the ticket and remove the QA Needed label. Thank you!

[2022-11-09 07:40] topotropic commented on #21529
Closing since we're not doing tab groups on tab tray

[2022-11-09 07:40] #21529 closed

[2022-11-09 08:27] phd commented on #25166
Still 108.0a1

[2022-11-09 08:41] SoftVision-LorandJanos commented on #14443
Verified as fixed on the latest Nightly 108.0a1 (2022-11-09) build.
Devices used:
- LG Nexus 5 (Android 6.0.1)
- Oppo Find X5 (Android 12)
- Google Pixel 4 (Android 13)

Closing the ticket as fixed.

[2022-11-09 08:41] #14443 closed

[2022-11-09 08:55] AndiAJ commented on #25926
### ► 11/9 Main
#### • `toggleSearchBookmarksAndHistoryTest` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7209606756022569604/executions/bs.3936b83e41e17aab/test-cases)

11-08 22:43:10.216: I/WindowManager(545): Input event dispatching timed out sending to org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity.  Reason: 85

[2022-11-09 09:22] AdinaPetridean commented on #27744
@Shinryuken thank you for your report! I was able to reproduce this issue on: Firefox Nightly 108.0a1- 9/11 with Motorola Moto G9 plus - Android 11.

[2022-11-09 10:16] delia-pop commented on #12908
Hi, @s-ankur , on my end this issue is no longer reproducible in the latest Firefox 107.1.0, Beta 108.0b6 and Nightly 108.0a1 from 11/09. The citations are properly displayed even when the toolbar was hidden prior to opening the citation. Tested with Google Pixel 6 (Android 13).
Are you still able to reproduce it? Please feel free to re-open the ticket should the issue re-occur.

https://user-imag

[2022-11-09 10:16] #12908 closed

[2022-11-09 10:44] AdinaPetridean commented on #27693
@campfiresong69 Thank you for your report!
 I tried to reproduce your issue on the Firefox Beta 107.0b5 and on the latest Nightly 108.0a1 from 09/11  with OnePlus 9 Pro (Android 12), and the website was correctly displayed. Could you please give us more details? Thanks!

[2022-11-09 11:37] Dexterp37 commented on #27023
Hey folks, can I get a better understanding of why this is needed?
We'd love to improve our ecosystem and if the current debug tooling have problems (logs, debug view), we'd rather like to fix them consistently instead of having custom solutions for each product and pave the way for custom workflows.

@jrbenny35 , @rocketsroger or @jonalmeida  What is/are the current workflow for which sending tel

[2022-11-09 12:19] delia-pop commented on #23628
Hi, @ICHx are you still encountering this issue on the latest Firefox version?

[2022-11-09 12:22] sv-ohorvath commented on #23818
SearchTest deleteItemsFromSearchGroupsHistoryTest and searchGroupShowsInRecentlyVisitedTest are now re-enabled. searchGroupGeneratedInTheSameTabTest will remain disabled because of https://github.com/mozilla-mobile/fenix/issues/23814

[2022-11-09 12:25] SoftVision-LorandJanos commented on #27690
Hi @rahaaatul! Thanks for your report!
As I observed, the mentioned addon doesn't seem to be compatible with Fenix.
As I tried to download to install the add-on, it sent me to the recommended ones.

[2022-11-09 12:31] rahaaatul commented on #27690
As I said, you need to add it to custom add-on collection, and in Fenix you need to enter your custom add-on credentials to install it.

[2022-11-09 12:49] DreVla commented on #27646
I have investigated this bug and traced the problem all the way to the FilePicker in feature-prompts package in Android Components. The issue seems to be that when asked to handle a file request, the picker iterates through all of the MimeTypes and checks if there are any permissions required in order to display multiple choices in the chooser. It should ask for these permissions only if the user

[2022-11-09 12:57] AdinaPetridean commented on #27720
@itsmecom Thank you for your report!
Using your example, I couldn't reproduce your issue on Firefox 106.1.0 and also on Nightly 108.0a1 from 09/11 with Motorola Moto G9 plus - Android 11. I made sure I closed that tab, deleted it from history and from recently closed, and also checked that I don't have that tab open on another device.

[2022-11-09 13:53] AdinaPetridean commented on #27686
@derDiesel thank you for your report!
I couldn't reproduce your issue on Firefox 106.1.0 and also on Nightly 108.0a1 from 09/11 with Google Pixel 6 (Android 13). The Push Notification shows up.

<img src="https://user-images.githubusercontent.com/108326843/200847835-67e02389-1cd0-47d2-ad30-089a75c9ae2c.JPEG" width="50%" />

[2022-11-09 14:34] sigmafn opened #27773 "[webcontent] Regression: Display names containing Emoji on Nitter aren't bolded"
## Site with issue and any steps to reproduce
https://nitter.snopyta.org/firefox

Load the Nitter link in Fenix Nightly and notice that unlike the display names not containing any Emoji the display name of the Firefox account isn't bolded.
This must have regressed somewhere between 106 and 107 because Fenix 106.1.0 is unaffected but 107.0b1 is already affected.

### Expected behavior
Screenshot fr

[2022-11-09 15:09] derDiesel commented on #27686
Hey Adina =) Did you pushed "Sync now" before? (screen shows 0min ago) This is the only way for me to get it work

Bug still present here with Android Patch Level Nov 2022 and Play Services 22.44.14. Found older ticket for this too; Maybe close mine or merge it. Thx =)

https://github.com/mozilla-mobile/fenix/issues/26866

[2022-11-09 15:42] perrymcmanis144 commented on #27671
Adding it to the baseline ping mechanically would not require much effort; add ```- baseline``` to the send_in_pings section of the metrics.yaml and add

[code]

[2022-11-09 15:49] onemahon commented on #26852
Yeah, we're going to wind up revisiting the Top Site design later to make sure we're accommodating the variety of use cases & accessibility concerns that they entail. For now, I'm closing this issue as a dupe of #27746, since that at least resolves the core problem of the site names being truncated too aggressively.

Thanks so much for reporting the issue in the first place!

[2022-11-09 15:49] #26852 closed

[2022-11-09 15:59] sheikh-azharuddin opened #27777 "material you theming"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2022-11-09 16:05] AdinaPetridean commented on #27686
Hi, @derDiesel
Further investigation revealed that:
- on Google Pixel 6 (Android 13) indeed initially I performed a sync on both desktop and mobile before sending the tab, as per your Step 2 "Activate Sync on your Mobile and PC". After testing without manual syncing the devices, the send tab is not received on the mobile device as you reported.
- on Motorola Moto G9 plus - Android 11 I can properl

[2022-11-09 16:05] #27686 closed

[2022-11-09 17:17] #27715 closed

[2022-11-09 17:50] kbrosnan commented on #27773
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1799942

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-11-09 17:50] #27773 closed

[2022-11-09 17:55] kbrosnan commented on #27773
Could you check the behavior of https://play.google.com/store/apps/details?id=org.mozilla.firefox_beta

[2022-11-09 18:27] cpeterso commented on #26372
An engineer will investigate the cause of the invalid state errors and whether it affects users. TBD whether we fix this bug in Fenix 109.

[2022-11-09 18:36] cpeterso commented on #27762
@Delphine Do you know of any languages that these strings will cause L10n problems for Talkback?

@Mugurell tested Romanian and French and didn't see any problems with those languages.

[2022-11-09 18:40] #27714 closed

[2022-11-09 19:02] Delphine commented on #27762
@cpeterso Thanks for asking! So both those languages that were tested are romance languages, and this will likely work for other similar languages.
But what about languages like Russian, Chinese, Arabic, Welsh, or more?
Unfortunately that's an assumption we can't make, and we ship 100+ locales on Firefox for Android :/
But also unfortunately, I don't know how to work around this specific case sinc

[2022-11-09 19:47] kbrosnan commented on #27777
Duplicate https://github.com/mozilla-mobile/fenix/issues/20778

[2022-11-09 19:47] #27777 closed

[2022-11-09 20:08] kbrosnan commented on #27773
No need to test beta, the devs on the core team know what versions are affected.

[2022-11-09 20:09] pjaap commented on #27576
I can also confirm this.
It startet from version 106 on Android (Fennec from F-Droid)

Can be worked around by going to home screen and back to Firefox.
Then pages are displayed instantaneously correct. It seems to happen most times when I open the first page after Firefox was unused for a while (a few minutes).

[2022-11-09 20:17] rocketsroger opened #27779 "Add telemetry for showing the default browser notification"
Add telemetry to record when default browser notification was shown to the user

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21963)
┆Link To Issue: https://mozilla-hub.atlassian.net/browse/FNXV2-21963

[2022-11-09 20:37] fice-t commented on #27511
I'm not sure how much QA is needed here (I just left the QA box checked as it was the default), but the change involved the padding code for `allowUndo` snackbars, so QA could verify that snackbars for undoing tab closing is padded correctly with respect to the bottom toolbar.

[2022-11-09 21:03] MatthewTighe opened #27782 "Add first URI load growth data"

[2022-11-09 21:06] NotAFile commented on #12908
Can not reproduce, seems to be fixed indeed!

[2022-11-09 21:44] Delphine commented on #26964
As I'm ready to add new locales to Fenix, I was reminded of this open issue.
Looking at the last comments (and correct me if I'm omitting anything), these were the next steps:
* We don't have to live with l10-release.toml anymore, we can just get rid of it.
* Let's implement a lint task that would turn red if locales are missing. This way, we have a way to warn people about this.
Johan, Aki: how c

[2022-11-09 22:22] ksy36 commented on #27421
I did a bit of diagnosis in https://github.com/webcompat/web-bugs/issues/112353#issuecomment-1309439590 and it looks like the auth flow is not working because of a timing issue that needs to be addressed by the site/ library maintainers.

[2022-11-09 22:28] kl3jvi commented on #27575
If this is okay, I created a new extension function and created a new pull request for this :). I really want to contribute here

[2022-11-09 23:02] tesmite opened #27785 "[Bug]Ads are not displayed in Nightly"
## Site with issue and any steps to reproduce
https://googleads.github.io/google-publisher-tag-samples/basic/display-test-ad/demo.html

### Expected behavior
Ads are displayed if you don't use AdBlock.

### Actual behavior
Ads are not displayed even if you don't use AdBlock.

### Does toggling Tracking Protection fix the issue? (Press the shield icon in the toolbar while on the site to see toggle)

[2022-11-09 23:14] kbrosnan commented on #27785
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1800007

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-11-09 23:14] #27785 closed

[2022-11-09 23:23] tesmite commented on #27785
It has been determined that this problem is due to a bug that causes Tracking Protection working in Strict mode regardless of the setting.
This report is inaccurate, so please report it elsewhere if necessary.

[2022-11-10 03:27] fice-t commented on #20466
Duplicate of #14498.

[2022-11-10 05:26] ICHx commented on #23628
Yes, still not working.

please test with any live Facebook video.

106.1.0 (Build #2015909131), 71ca6c1f7+
AC: 106.0.5, 5f06485fc3
GV: 106.0-20221010181815
AS: 94.2.1

[2022-11-10 05:28] ICHx commented on #23628
It is the video is not playing, and seems unrelated to the settings.

[2022-11-10 06:15] fice-t commented on #1938
New PR for this just dropped. Preview:

https://user-images.githubusercontent.com/13156601/201012362-b632db80-6af3-46a6-8cd3-94b293e80346.mp4

[2022-11-10 07:09] rxumoz commented on #27671
Yes currently we use join to calculate DAU, like this: https://sql.telemetry.mozilla.org/queries/81019
The **join_mo** column is what we have using join with _distribution_id_ , and the **build_id** column is more accurate data. However it is not guaranteed to have a different build_id of mozillaonline releases from global releases, thus in some versions we might have invalid data.
Adding _distrib

[2022-11-10 07:33] Mugurell commented on #26826
@sv-ohorvath / @AndiAJ to confirm that the new `testTag`s do help automation testing.

[2022-11-10 07:53] Mugurell commented on #27629
With https://github.com/mozilla-mobile/fenix/pull/27554 removing some feature flags there will be more uses of `lazyFeatureFlagPreference` which don't actually check a flag so `lazyBooleanPreference` might help in more new cases.

[2022-11-10 08:14] AndiAJ commented on #27704
### ► 11/9 Main
#### • `verifySearchGroupHistoryWithNoDuplicatesTest` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6188808969647934785/executions/bs.35d0ebb6bfdfee35/test-cases)

11-09 08:53:30.653: E/ShellExecutorImpl(7068): --------- beginning of crash
11-09 08:53:30.654: E/AndroidRuntime(7068): FATAL EXCEPTION: AndroidT

[2022-11-10 08:14] SoftVision-LorandJanos commented on #27690
Sorry for the confusion, I did reproduce your issue with the latest Nightly 108.0a1 (2022-11-10) build.
Device used: Oppo Find X5 (Android 12).

[2022-11-10 08:15] AndiAJ opened #27790 "Intermittent UI test failure - < WebControlsTest. externalLinkTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6188808969647934785/executions/bs.dcd87327a307847a/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertTrue(Assert.java:53)
	a

[2022-11-10 08:17] AndiAJ opened #27791 "Intermittent UI test failure - < BaselinePingTest. validateBaselinePing >"
### Firebase Test Run: [Fireabse link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8358743871287916800/executions/bs.e07c2ad080d97421/testcases/5/test-cases)
### Stacktrace:
androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[CONTAINS_DESCRIPTION=Firefox Fenix]
	at androidx.test.uiautomator.UiObject.click(UiObject.java:416)

[2022-11-10 08:18] AndiAJ opened #27792 "Intermittent UI test failure - < SettingsSearchTest. toggleShowClipboardSuggestionsTest >"
### Firebase Test Run: [Fireabse link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8914516411048068143/executions/bs.69ce0060e185fc8d/testcases/2/test-cases)
### Stacktrace:
androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: an instance of android.widget.TextView and view.getText() with or without trans

[2022-11-10 08:18] SoftVision-LorandJanos commented on #27511
Verified on the latest Nightly 108.0a1 (2022-11-10) build.
There are no issues with the padding on the bottom toolbar on undoing closing tab snackbars.
Device used: Oppo Find X5 (Android 12).

[2022-11-10 08:18] #27511 closed

[2022-11-10 08:47] AdinaPetridean commented on #27734
Verified as fixed on Nightly 108.0a1 from 11/10 with Motorola Moto G9 plus (Android 11).

<img src="https://user-images.githubusercontent.com/108326843/201043152-accc66e6-8f62-43dc-9451-f85171cc11f2.JPEG" width="50%" /><img src="https://user-images.githubusercontent.com/108326843/201043174-d2549a0d-3e3c-4309-96d4-1267a8e4f5bd.JPEG" width="50%" />

[2022-11-10 08:52] AndiAJ commented on #26826
Thanks @Mugurell for helping us out ! ❤️

I'll remove the label, and if problems occur while trying query and to interact with the items will ping you.

[2022-11-10 09:41] SoftVision-LorandJanos commented on #27734
Verified on the latest Nightly 108.0a1 (2022-11-10) build.
Here are the differences between before and after:

Before

![Screenshot_20221110-103914](https://user-images.githubusercontent.com/48829350/201055756-6bb40ca8-5b38-4e08-ad95-6cb12692a0c7.png)
![Screenshot_20221110-104205](https://user-images.githubusercontent.com/48829350/201055758-691b6feb-ad53-4967-8468-975087ca0aac.png)

After

![Scree

[2022-11-10 09:41] #27734 closed

[2022-11-10 11:24] makotokato commented on #27221
There is already same report such as https://github.com/mozilla-mobile/fenix/issues/22988 and etc.
@iorgamgabriel is working on this on https://bugzilla.mozilla.org/show_bug.cgi?id=1795650.

But I guess that this is a bug of custom tab of Android framework with night mode.

[2022-11-10 12:35] delia-pop commented on #27746
Tested with Google Pixel 6 (Android 13) on Release and Beta build variants build locally from the 107 branch, and  the text is correctly displayed under the shortcuts. The text color is also displayed according to the wallpaper text color, similar to Nightly.
I will re-test this tomorrow in the next official release as well.

![Incident_Top_Sites_Uplift](https://user-images.githubusercontent.com/8

[2022-11-10 13:49] rahaaatul commented on #27221
Have you tried in chrome? I tried and It's black in dark mode, and white in white mode. It's Firefox problem.

[2022-11-10 13:52] rahaaatul commented on #27690
It's fine.

What was the result?

[2022-11-10 14:17] perrymcmanis144 commented on #27671
It is appropriate in this case for you to add that data to the baseline ping if necessary, then.

Because this particular addition (mobile search metric data) is heading towards close, if you have further questions please feel free to ping me on slack or matrix, or if you like, open a new issue and tag me. Happy to provide continued support.

[2022-11-10 15:18] Mugurell commented on #27549
Testing the just landing code I see the shim data is sent immediately and contains the expected values - https://debug-ping-preview.firebaseapp.com/pings/spocShims.

[2022-11-10 15:18] #27549 closed

[2022-11-10 15:35] rocketsroger opened #27795 "Add metrics ping to see if user allows notifications"
For Android 13, notification is not allowed by default,  adding telemetry to find out how many users have notification disabled with Fenix.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21969)

[2022-11-10 16:23] rudmannn opened #27798 "A compatibility issue in Android 5.1"
I found compatibility issues in [toolbar_background.xml](https://github.com/mozilla-mobile/fenix/compare/main...rudmannn:fenix:main#diff-d87c72a21bcdb5c29833182f0741f37723a4a78c9524f2e9c9ffe4b7dd72ec61) and [toolbar_background_top.xml](https://github.com/mozilla-mobile/fenix/compare/main...rudmannn:fenix:main#diff-72f3586c8bf2651b5d60f11f01b2cf3a535fb38ebd873df89f81a741223680ed).

You use android:

[2022-11-10 17:03] AaronMT opened #27799 "Upgrade AndroidX Test Dependencies"
* Espresso `3.5.0`
* Core `1.5.0`
* Orchestrator `1.4.2`
* JUnit Ext `1.1.4`
* Runner `1.5.0`

https://developer.android.com/jetpack/androidx/versions/all-channel#november_8_2022

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21971)

[2022-11-10 18:10] #27799 closed

[2022-11-10 18:27] Delphine opened #27801 "Update New Search string"
String is [here](https://github.com/mozilla-mobile/fenix/blob/main/app/src/main/res/values/strings.xml#L249).
Localizers and l10n PMs have noticed that the string without UI context is confusing, and also won't work for many non English locales: indeed, "This time search:" + "search engine" will be different for a lot of languages than  "This time search:" + "tabs" or + "history" (see UI attached)

[2022-11-10 18:31] lime124 commented on #24590
as per crystal's feedback. thanks!

[2022-11-10 19:07] #27779 closed

[2022-11-10 19:11] cpeterso commented on #10217
It's not printing to paper, but "Save as PDF" will ship in Firefox 108: https://bugzilla.mozilla.org/show_bug.cgi?id=1780639

[2022-11-10 19:12] cpeterso commented on #13214
Closing this issue because we're tracking `window.print` in https://bugzilla.mozilla.org/show_bug.cgi?id=1659818

[2022-11-10 19:12] #13214 closed

[2022-11-10 19:18] zevelorgani commented on #25150
Similar issue on www.olg.ca with FF 106.1.0 on Android 10
Except that I explicitly set the permission to "allowed" and it is rest to "denied" during the browsing session (without restarting FF)

[2022-11-10 19:18] perrymcmanis144 commented on #27671
It is appropriate to add it to the baseline ping given the use case.

In general since the audience size won't be changing prior data reviews are sufficient, but given the elapsed time I would at least recommending checking in with a data steward just to confirm.

Feel free to ping me in slack/matrix/the new github issue that covers that if you need me.

[2022-11-10 19:36] zevelorgani opened #27802 "[Bug]: Allowed location site permission resets itself to blocked"
### Steps to reproduce

1. Open www.olg.ca
2. Allow location for the site
3. Navigate the site and refresh page several times
4. Check the site permissions

### Expected behaviour

Location permission for the site should be "allowed", as set by user.

### Actual behaviour

Location permission for the site is "denied"

### Device name

Moto G7 Play

### Android version

Android 10

### Firefox rele

[2022-11-10 19:36] zevelorgani commented on #25150
Opened #27802

[2022-11-10 19:42] calumozilla opened #27803 "Set tab's GeckoSession priority based on existing form data"
When a user switches tabs, Fenix should use GeckoView's containsFormData API (https://bugzilla.mozilla.org/show_bug.cgi?id=1764998) to check if the current GeckoSession has existing form data and set the tab's GeckoSession appropriately with setPriorityHint API: either PRIORITY_HIGH if there is form data or default if there isn't. This will tell Android's OOM killer to not kill processes and tabs

[2022-11-10 19:50] mcomella commented on #25259
While debugging https://github.com/mozilla-mobile/perf-frontend-issues/issues/236, I took cold main first frame measurements on a few different builds (caveat: only 8 replicates instead of the usual 25). For each build, I list comma-separated values: each one represents the median milliseconds of the test with 8 replicates.
- Nightly taskcluster: 540, 558.5, 720, 723ms (note: the wide gap here and

[2022-11-10 20:35] cpeterso commented on #27803
`GeckoSession.containsFormData` API: https://bugzilla.mozilla.org/show_bug.cgi?id=1777506

Fenix bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1800146

[2022-11-10 20:45] templeofninpo commented on #27693
Happening to me intermittently. Workaround is opening new tab then returning and black screen disappears.

Maybe coincidental but seemed to start happening after installing the FB app. Have play services disabled.

(Moto g power 2021 running Lineage 19.1 GSI)

[2022-11-10 21:11] kbrosnan commented on #15170
@topotropic that would best coordinated with desktop to make a meaningful change. The device name is controlled by the device.

[2022-11-10 21:11] ewachowiak commented on #27801
After discussion with @Delphine, we agree the string should be changed to `This time search in` to accommodate for translation. The string should remain on one line in English. As shown above, it will likely break to two lines in many languages even without this change. FYI @Verdi

[2022-11-10 21:32] headbank commented on #10217
Also, there is now actually someone assigned to the [Bugzilla window.print() bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1659818) :)

Although at the same time it's been downgraded from "defect" to "enhancement" :(

[2022-11-10 22:53] escapewindow commented on #26964
I can bring this up in our Tuesday team meeting if you don’t get an answer before then.

[2022-11-10 23:09] kbrosnan commented on #27802
This looks like a duplicate of https://github.com/mozilla-mobile/fenix/issues/25150

[2022-11-10 23:09] #27802 closed

[2022-11-10 23:11] makotokato commented on #27221
Chrome doesn't set status bar is white with dark mode even if `theme_color` in `manifest.json` is white. I tested on Pixel 6a + Android 13.

[2022-11-11 02:10] IverCoder opened #27806 "Firefox does not recognize the "fil" language tag, so add-ons who use "fil" instead of "tl" when localizing to Filipino will still be shown in English"
### Steps to reproduce

1. Change Firefox's language to Filipino by going to Settings > Language and selecting "Tagalog" from the list.
2. Install add-ons that use the `fil` language tag to localize to Filipino, such as uBlock Origin and Dark Reader.
- Go to *Mga Add-on* > Add-on Manager
- Scroll down to the *Inirerekomenda* section; on a fresh install without add-ons you don't need to scroll down

[2022-11-11 06:23] rxumoz commented on #27671
Okay, then I'll start an new issue about this next week. Thanks a lot! @perrymcmanis144

[2022-11-11 09:39] valenting commented on #27087
Presumably, for the HTTP cache on android the max limit should be [512 Mb](https://searchfox.org/mozilla-central/rev/6f77213807eb5359c8afe458ac5628f973e92a25/netwerk/cache2/CacheFileIOManager.cpp#59).
As we can see in the screen capture from about:cache, it's correctly set. **I assume the cache reported by Android includes other things stored in the profile: other caches, databases, etc**

The cac

[2022-11-11 11:02] hien4990 commented on #23707
me not work either i tested with tecnopova 2 and lenovo tab m10 gen 3

[2022-11-11 11:57] KennethHeal commented on #26420
thanks, Should I open a separate github ticket to request a Clear All button in Fenix about:crashes?

[2022-11-11 12:44] finisi commented on #9149
Scrolling is still not working on version 106.1.0 (Build #2015909131), 71ca6c1f7+ on KeyOne. However, working well in the settings menu. Come on Mozilla, you can fix this!

[2022-11-11 13:50] AndiAJ commented on #25926
► 11/10 Main
• toggleSearchBookmarksAndHistoryTest [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/4666544365416433122/executions/bs.1c2bea2a98b72a38/test-cases)

11-10 07:01:11.225: I/WindowManager(545): Input event dispatching timed out sending to org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity.  Reason: 353670e org.

[2022-11-11 13:59] delia-pop commented on #27746
This is also verified as fixed on Firefox 107.1.0 build 2 with Samsung Galaxy Note10 (Android 12).

![1668174702424](https://user-images.githubusercontent.com/89388888/201355346-de03ad7c-be23-4413-9d17-bda51d28d4ae.JPEG)

[2022-11-11 14:57] AdinaPetridean commented on #26866
Verified on Firefox RC 107.1.0 build2 and Nightly 108.0a1 from 11/11 with Xiaomi Pad5 (Android 12). The tab is received via push notification right away. This issue was fixed by https://github.com/mozilla-mobile/fenix/pull/27767.
@Juraj-Masiar, @derDiesel can you please retest? Feel free to reopen the ticket if this is still reproducible for you.

[2022-11-11 15:06] Juraj-Masiar commented on #26866
Using Beta 107 on my tablet and phone, I have to say I've noticed for the past few days it has been working quite nicely, giving me notification soon after starting Firefox, so it seems to be OK.

**Thank you very much for fixing this! :)**

[2022-11-11 17:49] mcarare commented on #27762
Looking at the example below, taken from the [documentation](https://developer.android.com/reference/android/view/accessibility/AccessibilityNodeInfo.AccessibilityAction#AccessibilityAction(int,%20java.lang.CharSequence)) for setting a custom label for an action to be interpreted by screen readers, we can see that it is expected that a custom label is localized in this manner:

[code]

Technical n

[2022-11-11 20:07] SamuelMezger commented on #19265
Still relevant.

[2022-11-11 21:32] peterjoel commented on #27055
I'm still getting this in 108.

108.0a1 (Build #2015915019), a60a4c5bc+

[2022-11-11 23:46] MichaelJacksoff commented on #12731
Well, at least a good chunk of it.......

From Mozilla Foundation IRS Form 990 (2019):
Total Revenue - $28,388,14 (2019)
Contributions & Grants - $11,713,240

Total Employees - 48
Total Volunteers - 10,000

Select Executive Compensation:
Mitchell Baker (Chair) - $3,046,617 (plus $27,560 misc comp)
Mark Surman (Executive Dir/President) - $286,990 (plus $25,267 misc comp)
Ashley Boyd (VP Advocacy) -

[2022-11-12 03:20] fice-t opened #27812 "Use upstream android.R.string.{cancel, ok} and merge common string resources"
I've noticed that there are some strings that are duplicated several times in `strings.xml` where they don't have to be, including `Cancel`, `Ok`, `Delete`, `Edit`, `Close`, `Remove`, etc. Translation efforts would likely improve with merging the common uses together (I have noticed some languages miss translations of some instances of e.g. `Cancel`), and there is minor reductions in apk size asso

[2022-11-12 07:29] cpeterso commented on #26420
Please! If you could open a new ticket summarizing the information you shared about the old crash files you found on your device and where, that would be helpful.

Fenix should probably automatically clean up old crashes. After we upload the crash file, there is little reason to keep the file on the local device. A user should have to manually delete the crash files. :(

[2022-11-12 07:33] cpeterso commented on #27762
@mcarare Thanks for explaining how Talkback handles the strings. Sounds like Fenix is doing the right thing and don't need to change any code or strings. Should we close this issue?

[2022-11-12 07:49] itsmecom commented on #27720
some url gets deleted and some url still shows in search bar. this occurs randomly and also when url gets redirected.

[2022-11-12 08:33] rudmannn commented on #27798
There are still 2% of devices using Android 5.0+

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/109571086/201466023-cba5c795-4ff2-42bf-9b6d-4f369fb0191b.png">

[2022-11-12 08:40] AndrewDavis commented on #12731
Oh come on, let's be pragmatic here, we know these numbers aren't that high...

They'll be meaningless in a year.

[2022-11-12 09:51] buscon commented on #22521
any update on this issue?

[2022-11-12 10:28] kompjuteras commented on #19888
This missing feature, implemented in all other browsers is the only thing that takes me out of Firefox Mobile.

[2022-11-12 16:42] opusforlife2 commented on #26420
should *not have to 🤭

[2022-11-12 22:25] maddawg836 commented on #22521
I ended up download the old lockwise, apparently no one told it to stop working.

https://github.com/mozilla-lockwise/lockwise-android/releases

[2022-11-12 23:29] fice-t opened #27815 "Make non-http(s) protocols invalid when adding new login"
Non-http(s) protocols are apparently not supported by Fenix at the moment (going by the `@string/add_login_hostname_invalid_text_3` hint), but the `AddLoginFragment` currently does not enforce this hint. A PR will be linked shortly that fixes this by upgrading the hint to a proper error.

At the same time, desktop Firefox auto-adds `https://` when adding a new login when no protocol is present, so

[2022-11-13 08:22] gdnzz opened #27818 "PWA doesn't install"
### Steps to reproduce

1. Open a site which has pwa support    e.g. twitch.tv
2. Press install from the menu

### Expected behaviour

It should create a pwa app on the homescreen

### Actual behaviour

Nothing happens when I press install

### Device name

Poco x3 nfc

### Android version

Android 12 SKQ1.211019.001

### Firefox release type

Firefox

### Firefox version

106.1.0

### Device logs

[2022-11-13 09:09] cadeyrn commented on #22521
Using a password manager (!) that no longer receives security updates (!). What could possibly go wrong with that? *facepalm*

[2022-11-13 10:01] navid-zamani commented on #19888
You don’t understand: It’s not missing. It used to be like that in FF too! It’s much worse: It got *deliberately* removed , becausee some (clearly tab hoarder) user reported the correct funtionality as a ”bug“. And some ”developers“ did not reject the ”bug“ as madness. … It was not an accident, but a choice.

Given this self-destructivr behavior of FF, I’m close to concluding that Google got false

[2022-11-13 12:50] vrrashkov opened #27819 "Nimbus Experiments rework to compose"
Rework Nimbus experiments to be using compose.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21979)

[2022-11-13 14:02] brainchild0 commented on #19510
Please keep open.

[2022-11-13 14:02] #25246 closed

[2022-11-14 03:22] fice-t commented on #22761
The linked article appears normally for me with the latest Firefox Nightly. Could you try with a newer Firefox version to see if this issue is still present?

[2022-11-14 06:01] SoftVision-LorandJanos commented on #27818
Hi @gdnzz! Thank you for your report!
I wasn't able to reproduce your issue on the latest Builds available.
Could you upgrade to 107.1.0, or maybe try it on the latest Nightly (108.0a1), and see if you can still reproduce it? Thank you!
Device used: Oppo Find X5 (Android 12)

[2022-11-14 06:03] SoftVision-LorandJanos commented on #26866
Closing this issue as verified.

[2022-11-14 06:03] #26866 closed

[2022-11-14 06:07] SoftVision-LorandJanos commented on #22160
This issue is no longer reproducible on the latest RC 107.1.0 and latest Nightly 108.0a1 (2022-11-14) builds.
Device used: Oppo Find X5 (Android 12).

[2022-11-14 06:07] #22160 closed

[2022-11-14 06:11] #9512 closed

[2022-11-14 06:20] SoftVision-LorandJanos commented on #20242
Hi @WebworkrNet!
Could you still reproduce the issue?
I still wasn't able to reproduce it using the latest builds.

[2022-11-14 06:27] SoftVision-LorandJanos commented on #20563
Hi @Miteirao!
Could you please check on the latest builds if you can still reproduce this issue? Thank you!

[2022-11-14 06:33] SoftVision-LorandJanos commented on #23532
This issue is still reproducible on the latest RC 107.1.0 and latest Nightly 108.0a1 (2022-11-14) builds.
Device used: Oppo Find X5 (Android 12).

[2022-11-14 07:12] cadeyrn commented on #9879
still an issue (comment for bot).

[2022-11-14 07:13] cadeyrn commented on #9879
still an issue (comment for bot).

[2022-11-14 07:42] kelimuttu commented on #18762
We received [feedback](https://play.google.com/store/apps/details?id=org.mozilla.firefox&reviewId=MzBmZDg0NWUtMWNjNS00NDU0LWI1MjQtZGQ4NjFmNDVlMzlk) about this recently in Play Store:
`Can't use until there is Samsung Dex support...`

[2022-11-14 07:56] mcarare commented on #27762
Yes! IMO the localization is done correctly and the comment explanation should be enough for localizers to have the proper context.

[2022-11-14 07:57] Mugurell opened #27822 "The save button for editing logins is always active"
### Steps to reproduce:
- Have at least one login available
- Start editing it

### Expected result:
- The save button is only enabled if all fields are valid and if the details are different

### Actual result:
- The save button is always enabled

### Additional info
- Issue similar to https://github.com/mozilla-mobile/fenix/issues/21414

https://user-images.githubusercontent.com/11428869/2016055

[2022-11-14 08:39] AdinaPetridean commented on #27641
@jarifuri thank you for your report! The issue is still reproducible on: Firefox Nightly 108.0a1- 14/11 with Motorola Moto G9 plus (Android 11).

[2022-11-14 08:55] WebworkrNet commented on #20242
**Device**: Samsung Galaxy A13 5G (SM-A136B/DSN)
**Operating System**: Android 12

Firefox Nightly
108.0a1 (Build #2015915689), 9113bdb51+
AC: 108.0.20221113143151, fd674c3b35
GV: 108.0a1-20221112215806
AS: 95.0.1

Bug still occurs.

[2022-11-14 09:15] AndiAJ commented on #27704
### ► 11/11 Main
#### • `noSearchGroupFromPrivateBrowsingTest` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7810736437734759553/executions/bs.5cf87ad545fccb04/test-cases)

11-11 12:49:20.127: E/ShellExecutorImpl(7127): --------- beginning of crash
11-11 12:49:20.127: E/AndroidRuntime(7127): FATAL EXCEPTION: AndroidTestOrch

[2022-11-14 09:16] marcel263 commented on #20803
still relevant

[2022-11-14 09:18] vanillajonathan commented on #22372
This seems to have been fixed, so I'll close this issue now.

[2022-11-14 09:18] #22372 closed

[2022-11-14 09:22] mamunabcoder opened #27824 "Add MetaMask Firefox browser add-ons into add-ons collection list in Fenix?"
From today morning, I have started investigation on add-ons features in Mozilla-firefox source code, but there is no proper way to found to add MetaMask Firefox browser ADD-ONS extension.

How can I add it into add-ons list when loading all add-ons into "AddonsManagementFragment" recycler list, I have found some code to get the add-ons list and load list.

[code]

Would you please help to to do th

[2022-11-14 09:31] mamunabcoder opened #27825 "How can I build Fenix Nightly version?"
There is no way to build the Nightly Fenix, Also there is no proper documentation to build the Nightly version Fenix. Please help me to build the Nightly version Fenix.

[2022-11-14 10:01] AdinaPetridean commented on #27585
Hi @klcb2010  Thanks for your report!
I couldn't reproduce your issue on Firefox Beta 107.0b4 nor the latest Nightly 108.0a1 from 14/11.
Can you please provide more details on this issue?

[2022-11-14 11:53] Mugurell commented on #26956
@cpeterso @DreVla Just added added a patch that would directly open https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-android.
But it seems like in this case the `inproduct` param is missing - while it is automatically added in the redirect process for the old link - https://support.mozilla.org/1/mobile/108.0a1/Android/en-US/enhanced-tracking-protection-android.
https://sup

[2022-11-14 12:25] SoftVision-LorandJanos commented on #23064
This issue is no longer reproducible on the latest Nightly 108.0a1 (2022-11-14) and latest RC (107.1.0) builds.
Device used: Oppo Find X5 (Android 12).
Closing the ticket as verified.

[2022-11-14 12:25] #23064 closed

[2022-11-14 13:35] topotropic opened #27827 "[Bug]: Increase touch target for "Add bookmarks" entry in menu"
### Steps to reproduce

Go to a site an open the menu to add a bookmarks

### Expected behaviour

Bigger touch target

### Actual behaviour

Touch target is small

### Device name

Google Pixel 3

### Android version

Android 12

### Firefox release type

Firefox Nightly

### Firefox version

Most recent

### Device logs

_No response_

### Additional information

See also https://connect.mozilla.

[2022-11-14 14:24] rdragonrydr commented on #20242
I regularly have this on my RCA Voyager 7 tablet as well, still.
The button isn't very wide (meaning that presses to the left and right due to size relative to finger will perform the wrong action) and there's also a space above and below it where pressing will open the bookmark menu rather than saving the bookmark.

As you can see in the image (apparently screenshot is _not_ working, so I had to

[2022-11-14 15:21] amedyne commented on #27825
Hi @mamunabcoder ! There are some instructions here: https://github.com/mozilla-mobile/fenix#build-instructions
Let us know if you run into issues.

[2022-11-14 16:08] #27824 closed

[2022-11-14 16:15] kbrosnan commented on #27827
Make the touch target the rest of the line that is not for the bookmarks view. See

https://connect.mozilla.org/t5/image/serverpage/image-id/2145i57F692493F9B2B3F/image-size/medium/is-moderation-mode/true?v=v2&px=400

https://connect.mozilla.org/t5/image/serverpage/image-id/2147i3539977087812BE0/image-size/medium/is-moderation-mode/true?v=v2&px=400

[2022-11-14 17:40] gdnzz commented on #27818
Upgrade 107 isn't available for me. Tried it on Nightly, and it works.

[2022-11-14 20:21] cpeterso commented on #27762
@Delphine, thanks for raising this issue. Based on @mcarare's investigation (and [this L10n code comment in Fenix](https://github.com/mozilla-mobile/fenix/blob/3c9ba2bbaa0168124cdc39b8c2871a4a65a43e5d/app/src/main/res/values/strings.xml#L1886)), I think we are localizing our a11y labels appropriately for the Talkback API.

[2022-11-14 20:48] mcomella opened #27831 "PlacesKt.placesApiNew blocks 3 DefaultDispatcher threads on start up (66ms during profiling, A51)"
I took a start up trace using perfetto (which you can view by downloading it and "Open trace file" on https://ui.perfetto.dev): [startup.trace.zip](https://github.com/mozilla-mobile/fenix/files/10006156/startup.trace.zip)

In it, I found 3 DefaultDispatcher threads are blocked near activityResume: "monitor contention with owner" and "lock content on a monitor lock":

![image](https://user-images.g

[2022-11-14 21:34] MatthewTighe opened #27832 "Remove all unused strings marked moz:removedIn <= 106"
┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21985)

[2022-11-14 23:39] fice-t commented on #21414
PR that fixes this: #27430.

[2022-11-14 23:48] cpeterso commented on #27461
What is the next step for this bug? Can we profile to identify which dependency regressed? Or should we accept this as our new baseline and close this bug as WONTFIX?

Note that we're standardizing on the Galaxy A51 for our perf tests and retiring the Moto G5 and Pixel 2. The A51's COLD VIEW time did not regress, so maybe we don't care about this Moto G5 regression?

[2022-11-14 23:50] fice-t commented on #26280
@lime124 How should the Beta/Nightly/Debug icons be handled? The debug icon seems fine to leave out (it's uncommon + making it stand out seems reasonable), but having installations of more than one of Release/Beta/Nightly and wanting them all to be themed seems like something that should be supported.

[2022-11-15 00:30] jane-wolf commented on #26280
@fice-t  @lime124 and I talked through this and we currently can release the default icon as a themed option. The other icons would need some sort of badge to them but that is not possible for Android theming at the moment.

Currently Google themed icon docs don't have any info on adding a badge layer, and our beta and nightly icons are all the same shape

[2022-11-15 01:01] kbrosnan commented on #27426
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1800565

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-11-15 01:01] #27426 closed

[2022-11-15 01:01] kbrosnan commented on #27426
about:config is provided by GV

[2022-11-15 01:03] kbrosnan commented on #21225
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1800567

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-11-15 01:03] #21225 closed

[2022-11-15 01:48] kbrosnan commented on #26280
I would be happy to take the fix that works on release for now and file a followup to get some designs that work with the prerelease channels. It looks like Chrome beta creates a segment that divides the bottom of the circle and has the beta text.

[2022-11-15 02:31] rxumoz opened #27836 "[Telemetry] Send existing distribution_id in baseline ping"
## Description & Product Manager / Data Scientist User Story
**Distribution_id** is now sent in metrics, Beijing office uses this attribute to calculate the DAU data of MozillaOnline releases. However metrics ping is not as stable and accurate as baseline ping for DAU. So we want to add **distribution_id** into baseline ping.
More details please see the comments of #27671 .

## What questions will

[2022-11-15 02:39] UlyssesZh commented on #25611
Reproduced on my Samsung Galaxy S20 (Android 11).

[2022-11-15 03:35] mamunabcoder commented on #27825
How could I understand to build Nightly build using Build Variants documentation? I have tried still there is no results. Please help me to figure out the way to build the Nightly build.

[code]

[2022-11-15 05:15] lilydjwg commented on #16580
Not reproduced with latest nightly, closing.

[2022-11-15 05:15] #16580 closed

[2022-11-15 05:19] ItielMaN commented on #17616
My last comment is still relevant.

[2022-11-15 05:44] cpeterso commented on #26956
@Mugurell Sorry this has gotten so confusing. I had to ask the SUMO web engineer to explain the difference to me.

He says the Fenix code should use `https://support.mozilla.org/1/mobile/%25VERSION%25/%25OS%25/%25LOCALE%25/enhanced-tracking-protection-android`

Note that this URL uses `enhanced-tracking-protection-android` (without "firefox"), even though the SUMO article's URL includes "firefox"

[2022-11-15 06:32] SoftVision-LorandJanos commented on #9323
Verified as fixed on the latest Beta 108.0b1.
Device used: Oppo Find X5 (Android 12).

[2022-11-15 06:54] cadeyrn commented on #16160
It's still not fixed.

[2022-11-15 07:07] bbhtt commented on #17670
Still present

[2022-11-15 07:35] SoftVision-LorandJanos commented on #27135
Verified as fixed on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 12).

[2022-11-15 07:40] SoftVision-LorandJanos commented on #26577
Verified as fixed on the latest Beta 108.0b1.
Devices used:
- Oppo Find X5 (Android 12).
- Google Pixel 4 (Android 13).

[2022-11-15 07:45] mmueller commented on #20012
The tab spam is a huge usability papercut for me, too. Firefox opening more and more tabs makes no sense and forces me to go clean them up constantly.

A couple questions after reading this thread:

1. Have any Mozilla developers commented on any of the tickets/posts/ideas about this issue? Any indication that they want to fix it?
2. Is there a workaround or a fork of Firefox that addresses it?

[2022-11-15 07:46] SoftVision-LorandJanos commented on #11404
Verified as fixed on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 13).

[2022-11-15 07:48] SoftVision-LorandJanos commented on #27524
Verified as fixed on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 13).

[2022-11-15 07:50] Mugurell commented on #26956
It's great that we got the full URL to use.

What the SUMO team provided now

is exactly what we got before ([Jira specs](https://mozilla-hub.atlassian.net/browse/FNXV2-20991?focusedCommentId=573995))

and what is currently used in the app and also the link from the original comment of this ticket:

https://github.com/mozilla-mobile/fenix/blob/be7c0ba4019e07b92f8d9ecbf18cce5754bc2b24/app/src/main/

[2022-11-15 08:04] SoftVision-LorandJanos commented on #10344
Verified as fixed on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 13).

[2022-11-15 08:08] SoftVision-LorandJanos commented on #27691
Verified as fixed on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 13).

[2022-11-15 08:13] cpeterso commented on #26956
I'm glad no code change is needed after all. In that case, I'll close this bug.

The app's in-product URL ("enhanced-tracking-protection-android") wasn't working last week, even though the ETP SUMO article was up. I guess the SUMO team didn't point the in-product URL to the real SUMO article until I ask them about redirects last week.

[2022-11-15 08:19] amocirean commented on #27635
Verified as fixed on the latest Beta 108.0b1.
Device used: Google Pixel 6 (Android 13).

The following events were generated:

`{
          "timestamp": 51535,
          "category": "events",
          "name": "save_to_pdf_tapped"
        },
        {
          "timestamp": 51558,
          "category": "events",
          "name": "save_to_pdf_failure"
        }
      ]
    }`

[2022-11-15 08:19] SoftVision-LorandJanos commented on #27511
Verified on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 13).

[2022-11-15 08:27] SoftVision-LorandJanos commented on #27252
Verified on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 13).

[2022-11-15 08:29] SoftVision-LorandJanos commented on #27734
Verified on the latest Beta 108.0b1.
Device used: Google Pixel 4 (Android 13).

[2022-11-15 08:31] SoftVision-LorandJanos commented on #24613
Verified on the latest Beta 108.0b1.
Device used: Oppo Find X5 (Android 12).

[2022-11-15 09:03] Mugurell opened #27839 "Add login: Wait for users to finish input before showing errors"
When manually adding a login the application enforces certain rules about the URL.
There is a small issue in that these rules are enforced immediately after the user starts to write the URL and immediately showing an error that the not complete URL is invalid.

I propose validating the URL and potentially showing an error
- after a small cooldown period of 3 seconds after the last typed character

[2022-11-15 09:03] JaimePG commented on #17405
The issue is still hasn't been resolved and it's still happening in the last version of Firefox on Android 12 (OnePlus 8 device).

________________________________
De: stale[bot] ***@***.***>
Enviado: martes, 15 de noviembre de 2022 5:51
Para: mozilla-mobile/fenix ***@***.***>
Cc: JaimePG ***@***.***>; Author ***@***.***>
Asunto: Re: [mozilla-mobile/fenix] [Bug] Collapsed section unfolds its conte

[2022-11-15 09:33] youri-- commented on #20012
@mmueller re (2), not exactly a fork, but in case you're unaware, there's Firefox Focus. I've switched to Focus for the bulk of my daily browsing as tabs are inherently temporary, they won't survive a reboot. There's a recycle bin button and notification, to close all tabs and cache/cookies/etc. For things I need for longer I still use regular FF. Even though there's no New Tab button, you can use

[2022-11-15 10:04] delia-pop commented on #26520
This is also verified as fixed on Beta 109.0b1 with Motorola Moto G30 (Android 12).

[2022-11-15 10:07] delia-pop commented on #27746
This is also verified as fixed on Beta 108.0b1 with Motorola Moto G30 (Android 12).

[2022-11-15 10:07] delia-pop commented on #26606
This is also verified as fixed on Beta 108.0b1 with Motorola Moto G30 (Android 12).

[2022-11-15 10:12] delia-pop commented on #27331
This is also verified as fixed on a locally created Beta 108 build with Motorola Moto G30 (Android 12).

[2022-11-15 10:34] Takemats opened #27840 "Crash at java.lang.IllegalStateException: Fragment ChoiceDialogFragment UUID not associated with a fragment manager"
b19c0899-2d1d-48d2-a49a-dce5ffaf1c57
java.lang.IllegalStateException: Fragment ChoiceDialogFragment{ff390ba} (7f318850-c7ed-444f-bb35-0806d5058a97) not associated with a fragment manager.
----
java.lang.IllegalStateException: Fragment ChoiceDialogFragment{ff390ba} (7f318850-c7ed-444f-bb35-0806d5058a97) not associated with a fragment manager.
	at androidx.fragment.app.Fragment.getParentFragmentMana

[2022-11-15 10:48] landshut-digital commented on #10252
Hello. This problem still exists... Is here a solution ongoing, since its a feature request now?

[2022-11-15 12:13] Timshel commented on #26564
Pong

[2022-11-15 13:47] klcb2010 commented on #27585
It seems that the bug related to the file named QI.xml，Change the shortcut title to four character Chinese. you can find the bug，before 107.0b4 .Compared QI with different versions, you will find their differences，such as 107.0b4（Figure 1 ） and 108.0b1（Figure 2）, this bug seems to have been fixed since November 14 (108.0b1，Figure 3). However, the history is displayed on the homepage. like a shortc

[2022-11-15 14:06] AlexanderChurbakov commented on #16063
df

[2022-11-15 14:10] litLizard69 commented on #20012
@mmueller it's sad to see that the side browser Firefox Focus is better than Firefox itself.

If there is need for inspiration: Brave
They've actually created a really nice UI, combining the top address bar like on Desktop with a bottom bar for "Home", "Bookmark", "Search", "Tabs" and "Hamburger-Menu".

Ironically Firefox v68 on Android is like 10 times better compared to the latest version and I

[2022-11-15 14:58] AndiAJ opened #27845 "Intermittent UI test failure - < SearchTest. deleteSearchGroupFromHistoryTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7201495946323195661/executions/bs.a542f84ca501fdea/testcases/3/test-cases)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertTrue(Assert.java:53)
	a

[2022-11-15 15:01] AndiAJ commented on #25926
► 11/15 Main
• openAllInTabsTest [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7201495946323195661/executions/bs.a7ebee1d3b2060f7/test-cases)

11-14 14:53:59.398: I/WindowManager(545): WIN DEATH: Window{b7089a9 u0 org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity}
11-14 14:53:59.398: W/InputDispatcher(545): Attempted t

[2022-11-15 15:17] AdinaPetridean commented on #16162
Verified as fixed on the latest Beta 108.0b1. with Xiaomi Pad5 (Android 12).

[2022-11-15 15:40] litLizard69 commented on #20012
@M-Reimer well it generally seems like Firefox is a sinking ship and the CEO is just squeezing out the last money till Firefox is dead

[2022-11-15 15:51] gdnzz commented on #27818
@SoftVision-LorandJanos Also since you are here, ı want to add another thing. On chromium browsers, when I enable dark mode on the site, status bar and navigation bar also becomes black. However this is not the case on firefox, check pics
![IMG_20221115_174407](https://user-images.githubusercontent.com/76991571/201964387-4b69fd25-cb5d-4766-a6cb-14ca08c82082.jpg)
![IMG_20221115_174303](https://user

[2022-11-15 15:51] gdnzz commented on #27818
site I tested is crypt.ee

[2022-11-15 16:51] gabrielluong commented on #27832
@MatthewTighe Closing this for you since it was fixed in https://github.com/mozilla-mobile/fenix/pull/27833.

[2022-11-15 16:51] #27832 closed

[2022-11-15 16:53] kbrosnan commented on #27840
Probably a duplicate of https://github.com/mozilla-mobile/fenix/issues/27433

@Takemats can you reproduce with our nightly build? https://play.google.com/store/apps/details?id=org.mozilla.fenix

[2022-11-15 17:54] cpeterso commented on #25808
Corresponding Bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1796353

[2022-11-15 18:27] Delphine commented on #17616
RTL behavior has been "broken" here for a while...
This issue has never been looked into although [a solution](https://github.com/mozilla-mobile/fenix/issues/17616#issuecomment-785490687) was suggested.

[2022-11-15 18:30] Delphine commented on #27762
"“it is sufficient to notice that the label is always appended after the action symbolic name” "
But it's not... A lot of languages don't work like that.
And it's not, if the language is supported in the client but not the OS (which is the case of many locales on Fenix)

[2022-11-15 18:38] shockergit opened #27848 "Please add an option to stop adding shortcuts other than pinned shortcuts in homepage"
currently even when we turn of sponsored shortcuts firefox automatically add shortcuts from browser history to homepage when we turn of shorcuts. Please add an option to turn off this feature, I only want to see pinned shortcuts in my homepage nothing from history or bookmarks

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21991)

[2022-11-15 18:44] flodolo commented on #27762
I can't claim to even be able to read Kotlin code, but what about the approach described in [this article](https://medium.com/microsoft-mobile-engineering/android-accessibility-resolving-common-talkback-issues-3c45076bcdf6) (search for `Action descriptions,` can't find how to link to the section)

[2022-11-15 19:11] #27575 closed

[2022-11-15 22:04] no-identd commented on #8252
So, I wonder:

@AlexEastwood can you install some variant of Firefox you haven't ever installed before yet on that phone (e.g. nightly) and check whether that fresh install defaults to that setting (which in this case you couldn't have had preconfigured from any previous install), or whether it installs with it defaulting to on nowadays?

[2022-11-15 22:08] no-identd commented on #8252
Reason I ask is because I have a notchless ultrawide phone and so I don't have most of the issues here but something feels off about the aspect ratio on certain video streaming platforms but I can't say for certain whether it's my imagination or not, so I ran into this open issue and went through the various fixes proposed here, which doesn't seem to have changed anything (but also, my possible sy

[2022-11-15 22:13] MozillaNoah opened #27852 "[Bug]: Tapping on "View" from Private browsing displays private home screen instead of the wallpaper - home screen"
Steps to reproduce:
1. Open Private Browsing.
2. Go to Settings → Wallpapers → Change a wallpaper.
3. Tap on “View”.

Expected result: the new wallpaper is displayed/ normal browsing - homescreen.

Actual result: Private browsing homescreen is displayed.

Environment:

Devices: all.

Original Jira Story: https://mozilla-hub.atlassian.net/browse/FNXV2-19463

┆Issue is synchronized with this [Jira T

[2022-11-15 22:14] no-identd commented on #8252
As far as I can tell all possibly related bugzilla bug entries have gotten fixed recently. The only possible outstanding one I could see consists of https://bugzilla.mozilla.org/show_bug.cgi?id=1007286 but that one doesn't really count for the purposes of this issue I'd claim.

Does anyone here still experience any symptoms, and if so, which?

[2022-11-15 22:44] MozillaNoah opened #27854 "Remove all unnecessary `Theme.getTheme()` calls from usages of `FirefoxTheme`"
We have a lot of instances of `FirefoxTheme(theme = Theme.getTheme()) { ... }` when the default parameter for `FirefoxTheme.theme` is already `Theme.getTheme()`, making this instantiation redundant. All of these uses should be cleaned up to remove noise from the Compose code.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21993)

[2022-11-15 23:24] fice-t opened #27855 "Login Details page should be shown after adding a login"
### Steps to reproduce

1. Go to Settings -> Logins and Passwords -> Saved Logins
2. Tap on `Add login`
3. Enter valid login info
4. Tap on the save button

### Expected behaviour

`LoginDetailFragment` page is shown so that the user can view the newly added login (same as desktop Firefox).

### Actual behaviour

`SavedLoginsFragment` page is shown (list of logins).

### Device name

Google Pixel

[2022-11-15 23:31] regs01 commented on #5640
Enabling punnycode will make non-latin domains unreadable. It shouldn't be an optio. Either codes for everyone or for noone.

The right way is the way of Internet Explorer used to be - show an icon in addressbar if domain name uses scripts that are not assigned to locale.

Also, it's primarily ICAAN to blame to mismanagement. Second and top level domains should have been single and same script onl

[2022-11-16 00:25] maverick74 commented on #20012
@litLizard69 I don't agree with you in one point: I truly think that geckoView was the right step. It had to happen or we would all be based on chrome. And that's really REALLY BAD.

I prefer geckoView with all it's bugs than a browser based on chrome.

About the point of the CEO paycheck. I agree. Everyone, for as dumb as they can be, can see that paying millions to any CEO will NOT take Mozilla

[2022-11-16 00:33] gabrielluong commented on #27812
https://github.com/mozilla-mobile/fenix/pull/27813#issuecomment-1316080412

[2022-11-16 02:24] #27836 closed

[2022-11-16 04:42] robsmith11 commented on #21742
Still this 🙄

[2022-11-16 05:29] kbrosnan commented on #27848
Duplicate #24271

[2022-11-16 05:29] #27848 closed

[2022-11-16 06:04] litLizard69 commented on #20012
@maverick74 Actually I've never had anything against Gecko, but the UI/UX and (financial) decisions by Mozilla.

[2022-11-16 06:46] psour commented on #21523
Any chance s/o is looking into this? Or could tell me when this regression happened?

[2022-11-16 07:52] kbrosnan commented on #21523
Duplicate https://github.com/mozilla-mobile/fenix/issues/17184

This is a new feature, not a regression.

[2022-11-16 07:52] #21523 closed

[2022-11-16 07:59] psour commented on #21523
But it is not a new feature. It happened to be in Firefox for Android before. As it is/was in IOS and Desktop.
The report could be a duplicate, but imho it is a regression.

[2022-11-16 08:06] Dunexus commented on #21742
Same as https://github.com/mozilla-mobile/fenix/issues/22519

[2022-11-16 08:24] i-petko commented on #21523
Just a small update from my side (Firefox Beta on Android device).
It seems like the feature is 'unstable', as it works sometime. In fact, lately it works most of the time, but not always.
I have not been able to find a pattern, though, so cannot tell what might be a reason for it to work or stop working.

[2022-11-16 08:32] jluttine commented on #27447
FWIW, I have the same issue.

Fennec F-Droid version: 105.1.0 (Build #1051020)
Android version: LineageOS 19-20221114-NIGHTLY, Android 12

To me this seems like a significant security issue.

[2022-11-16 08:54] cadeyrn commented on #21939
This looks fixed.

[2022-11-16 08:54] #21939 closed

[2022-11-16 09:01] mcarare commented on #27762
@Delphine I am not talking about natural language sentence formation, but the way Talkback constructs the sentence, and it's the same order, regardless of the language.

[2022-11-16 09:05] #27220 closed

[2022-11-16 09:28] buttercookie42 commented on #21533
Begone, you overeager bot. (Still easily reproducible.)

[2022-11-16 09:28] Cheap-Skate commented on #21536
This is still an issue please don't close

[2022-11-16 10:11] mamunabcoder opened #27862 "How can I build Fenix Nightly version Mozilla Firefox?"
There is no way to build the Nightly Fenix, Also there is no proper documentation to build the Nightly version Fenix. Please help me to build the Nightly version Fenix.

I am using macOS Monterey (12.6)
Device config: Apple M1 chip

 I had created bug but there is no proper answers and close the one.

 Please answer this questions properly if possible.

 Note: I am try to build in Android Device

[2022-11-16 10:31] AndiAJ commented on #16685
Hi,

Closing as the problem isn't reproducible anymore on the latest Nightly 109.0a1 from 11/16 using a Google Pixel 3a (Android 11)

[2022-11-16 10:56] cadeyrn commented on #27862
Same as #27825.

[2022-11-16 11:35] maverick74 commented on #20012
Yeah, that part I agree with you too!!! I just removed it from my comment. We won't change that. No matter what we say and no matter how much we love and wish well to Mozilla. If they can't see they need someone smart and above all with passion ( someone that would be willing to even work for a few cents ) it won't be us that will be able to make them see it!

But one thing is certain: unfortunate

[2022-11-16 11:38] mamunabcoder commented on #25083
Please follow the below link process then you could see the "Custom Add-on Collection" menu into the settings screen.

https://blog.mozilla.org/addons/2020/09/29/expanded-extension-support-in-firefox-for-android-nightly/

[2022-11-16 11:39] litLizard69 commented on #20012
@maverick74 tbh I would have liked EdgeHTML to be continued and Safari cross-platform. Microsoft and Apple actually have the power to maintain their own browser engine and even though Google, Microsoft and Apple are all profit-oriented and rather evil companies, they would be forced to create standards together so they work on every browser engine.

[2022-11-16 11:45] delia-pop commented on #25106
Tested with Motorola Moto G30 (Android 12) on Beta 108.0b1. The issues is no longer present. The snackbar is displayed again after tapping the "Retry" button.

[2022-11-16 11:59] sv-ohorvath commented on #23814
Still reproducing, see https://github.com/mozilla-mobile/fenix/issues/23818

[2022-11-16 12:04] Aimhere2k opened #27863 "Firefox for Android crashes submitting form"
On myprevea.com, attempting to make a payment. I enter my payment details, tap Submit, and Firefox crashes to Android home screen.

8567fb38-eb0c-4efe-b38b-d27163e88f5d
java.lang.IllegalStateException: Fragment CreditCardSaveDialogFragment{ecfb7a6} (359434e7-2c87-4af5-9f08-26406a3d393c) not attached to a context.
----
java.lang.IllegalStateException: Fragment CreditCardSaveDialogFragment{ecfb7a6}

[2022-11-16 13:47] DreVla commented on #27827
Since this bug requires changes in Android Components I have created a ticket in bugzilla (https://bugzilla.mozilla.org/show_bug.cgi?id=1800885) for which I have just created a PR with changes that should fix this issue: https://github.com/mozilla-mobile/firefox-android/pull/164

[2022-11-16 14:28] no-identd commented on #20647
So I thought about some let us say anything but orthodox solutions for the User Experience constraints driving this issue, and I have some vague mental outline of something with which everybody could feel reasonably happy, I suspect, however, I suspect I've run into https://github.com/mozilla/addons-server/issues/5510 as a blocker. Any chance of that getting priorititized?

I suspect you might alr

[2022-11-16 14:35] no-identd commented on #20647
And in cases of "yes", "IDFMA", "maybe", & "depends", can we please see this issue reopened BUT also rewriten, both in terms of content and title? I'd volunteer to write an amalgam user story actually factoring in all sides of this equation, but I really lack the time to handle it, however, in case nobody else steps up I'd alibi accept the task & let it stall out until I either get around to it so

[2022-11-16 15:19] AndiAJ commented on #27704
► 11/13 Main
• verifySearchGroupHistoryWithNoDuplicatesTest [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7720193813273782307/executions/bs.6c0528b1733a87ed/test-cases)

11-15 09:37:34.290: E/AndroidRuntime(7075): FATAL EXCEPTION: AndroidTestOrchestrator
11-15 09:37:34.290: E/AndroidRuntime(7075): Process: androidx.test.orc

[2022-11-16 15:49] mystiquewolf commented on #16538
Happy birthday, my little buggie!

[2022-11-16 16:47] mcarare opened #27865 "In some UI tests - Media notification does not disappear when tab is closed."
On switching to compiling with SDK 33, 3 UI tests failed on [Firebase](https://console.firebase.google.com/u/1/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7611240272352269983?pli=1), while in reproducing the test on the app, the test succeeds.
Also, on a separate device (Android 9 - Huawei), the tests passed.

We should investigate if on some devices the SDK 33 changes would c

[2022-11-16 17:30] #25808 closed

[2022-11-16 17:53] Delphine commented on #27762
Ok thanks for clarifying and looking into all this @mcarare! It's too nad but it looks like there are no workarounds, unfortunately.

[2022-11-16 17:59] rocketsroger commented on #27795
I don't think this requires QA.  Closing.

[2022-11-16 18:01] kbrosnan commented on #24362
Can we try again to get a non-null result?

[2022-11-16 18:23] #21568 closed

[2022-11-16 20:13] #27457 closed

[2022-11-16 21:43] hsoftxl opened #27870 "can't download file in Cloudflare page"
https://romspure.cc/download/under-defeat-hd-deluxe-edition-22829/1

can't download file in this link.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21998)

[2022-11-16 22:11] #27865 closed

[2022-11-16 22:20] onemahon commented on #26564
<img src="https://user-images.githubusercontent.com/1128945/202306201-f76d6ba5-f3fb-43f1-8a1e-995a66a1450f.gif" width="200" />

Hey there! Sorry for the delay on this, but thanks the original report, and @Timshel for proposing a patch! I'll help find someone to help review that PR.

[2022-11-16 23:07] mstange commented on #16577
Still an issue, as far as I know.

[2022-11-16 23:51] Delphine commented on #27801
Just a friendly reminder to update the string ID when updating the string, so that localizers will get notified on Pontoon :) thank you!

[2022-11-17 00:08] JustinWebDev commented on #21975
problem is still fresh

[2022-11-17 04:35] AndiAJ commented on #25926
► 11/16 Main
• verifyAddressAutofillTest [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8955632074382611310/executions/bs.3140435052cc0f0a/test-cases)

11-15 18:43:35.390: I/WindowManager(545): Input event dispatching timed out sending to org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity.  Reason: b0d815f org.mozilla.fe

[2022-11-17 04:37] AndiAJ commented on #25926
► 11/17 Main
• toggleSearchBookmarksAndHistoryTest [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6546904116320890822/executions/bs.ca6101320ce381f5/test-cases)

11-16 14:09:21.966: I/WindowManager(545): Input event dispatching timed out sending to org.mozilla.fenix.debug/org.mozilla.fenix.HomeActivity.  Reason: 8619507 org.

[2022-11-17 06:08] SoftVision-LorandJanos commented on #21414
Verified as fixed on the latest Nightly 109.0a1 (2022-11-17) build.
Device used: Oppo Find X5 (Android 12).
Closing the ticket as fixed.

[2022-11-17 06:08] #21414 closed

[2022-11-17 06:13] SoftVision-LorandJanos commented on #26956
Verified as fixed on the latest Nightly 109.0a1 (2022-11-17) build.
Device used: Oppo Find X5 (Android 12).
Closing the ticket as fixed.

[2022-11-17 06:13] #26956 closed

[2022-11-17 06:30] Mugurell commented on #13845
With https://github.com/mozilla-mobile/fenix/pull/27370 landed this should be checked in the next Nightly.

[2022-11-17 06:31] ghost opened #27874 "[Feature suggestion] Add the ability to copy or download images when you hold them"
Please add the ability to copy and download images when you hold them

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-21999)

[2022-11-17 07:27] kbrosnan commented on #27503
`about:config` is not enabled in release builds. duplicate https://github.com/mozilla-mobile/fenix/issues/7865

[2022-11-17 07:27] #27503 closed

[2022-11-17 07:29] kbrosnan commented on #27863
It would be helpful to get the crash ID URL as shown in https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information. I believe this crash stack is redacted.

[2022-11-17 07:31] kelimuttu commented on #9766
Another related discussion on [Reddit](https://www.reddit.com/r/firefox/comments/ywqy6m/pull_to_refresh/) about this recently.

[2022-11-17 07:34] kbrosnan opened #27875 "Fix bug 1799049"
https://bugzilla.mozilla.org/show_bug.cgi?id=1799049

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-22000)

[2022-11-17 07:37] cadeyrn commented on #27874
It is already possible to download images. What exactly are you missing?

[2022-11-17 07:39] kbrosnan commented on #27875
Addressing bz-1799043 at the same time may make sense.

[2022-11-17 07:40] davi-ro commented on #9766
Firefox Beta for Android now supports collections so you can install all kind of plugins made for the main firefox browser and  there is a plugin "Pull to Refresh" that works very well for me on android, already tested it for about 2 weeks and no major problems so far. Also thanks to collections, i could test more plugins and some of them work really well in the firefox android browser too.

[2022-11-17 07:43] Shadow0x12 commented on #27874
When i hold on images in the duckduckgo search images section nothing shows besides open image in another tab, I mean a shortcut to just download or copy it directly instead of opening it in another tab

[2022-11-17 08:00] AdinaPetridean commented on #27585
Thank you @klcb2010! After adding sites that are longer than 7 characters to shortcuts, I was able to reproduce this issue on Firefox-107.0b4 with OnePlus 9 Pro (Android 12).

[2022-11-17 08:36] AdinaPetridean commented on #27011
Still reproducible on Firefox 108.0b1 with OnePlus 9 Pro (Android 12).

[2022-11-17 09:00] cadeyrn commented on #27874
When i hold on an image in the DuckDuckGo image search I get an option to save the image.

[2022-11-17 09:18] AndiAJ commented on #27845
Flaky 1x on 11/17 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5231687764776446739/executions/bs.294501d7cd522a17/testcases/4/test-cases)

java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertTrue(Assert.java:53)
	at org.mozilla.f

[2022-11-17 09:23] AdinaPetridean opened #27876 "[a11y] Consider making "Career" button from "Stories by topic" (home page) larger"
### Steps to reproduce

1. Have the Accessibility scanner app installed and opened.
2. Launch Fenix.
3. Use the Accessibility Scanner and scan the Homepage. Observe the suggestion.

### Expected behaviour

The height of this touch target should be 48 dp or larger.

### Actual behaviour

This item's height is 44 dp.

### Device name

OnePlus 9 Pro

### Android version

Android 12

### Firefox relea

[2022-11-17 09:43] Alexandru2909 opened #27877 "Normalize search widget previews for all variants"
In https://github.com/mozilla-mobile/fenix/pull/27480 we saw that there are differences between the search widget previews for each variant. Based on [this comment](https://github.com/mozilla-mobile/fenix/pull/27480#issuecomment-1309271978), we should check why the icons are different sizes.

Tagging UX to add the official designs for each search widget preview.

┆Issue is synchronized with this [

[2022-11-17 09:56] kbrosnan commented on #27870
This is a dangerous site. It did a drive by download of an APK when I clicked a wrong link.

When I found the right link I was able to download the file on Firefox 108.0b1

[2022-11-17 10:18] klcb2010 commented on #27585
the history is displayed on the homepage,as a shortcut,is wether as  a   issue？by the way，when  the Releases  version support custom add ons？

[2022-11-17 10:25] SoftVision-LorandJanos commented on #27801
Verified as fixed on the latest Nightly 109.0a1 (2022-11-17) build.
The string is now "This time search in:"
Device used: Oppo Find X5 (Android 12).
Closing the ticket as fixed.

[2022-11-17 10:25] #27801 closed

[2022-11-17 10:30] #13845 closed

[2022-11-17 11:09] 424344 commented on #9766
@davi-ro
Thanks for the info.
I just tried searching for "pull" to add the extension to my custom collection, but it is not found.
But if I search with google I found this:
https://addons.mozilla.org/en-US/firefox/addon/firefox-pull-to-refresh/
It's just that I'm not able to add it in my custom collection.
How did you managed to add the extension?
Thanks.

[2022-11-17 11:16] SoftVision-LorandJanos commented on #17431
Reproducible on the latest Beta (108.0a1) using an Oppo Find X5 (Android 12).

[2022-11-17 11:18] SoftVision-LorandJanos commented on #17100
Reproducible on the latest Beta (108.0a1) using an Oppo Find X5 (Android 12).

[2022-11-17 11:19] SoftVision-LorandJanos commented on #16794
@anotherus3r , could you still reproduce the issue?

[2022-11-17 11:27] anotherus3r commented on #16794
Nope, seems to be fixed (though now on EMUI 12).

[2022-11-17 11:38] #16794 closed

[2022-11-17 11:47] SoftVision-LorandJanos commented on #16092
Reproducible on the latest Nightly (109.0a1) using an Oppo Find X5 (Android 12).

[2022-11-17 11:49] SoftVision-LorandJanos commented on #16086
Reproducible on the latest Nightly (109.0a1) using an Oppo Find X5 (Android 12).

[2022-11-17 13:52] sv-ohorvath opened #27879 "[Bug]: Cannot run automated test on compose lazy list: java.lang.IllegalArgumentException: Failed requirement. at androidx.compose.ui.node.MeasureAndLayoutDelegate.measureAndLayout(MeasureAndLayoutDelegate.kt:190"
### Steps to reproduce

More and more tests require scrolling compose lists as the Compose migration is advancing on Fenix, so I'm marking this as S1 to get some attention because it's blocking us from writing new UI tests.

**Note**:  This is a copy of https://github.com/mozilla-mobile/focus-android/issues/7282, documenting my findings in testing Compose lazy lists. Not manually reproducible, **t

[2022-11-17 14:42] AdinaPetridean opened #27880 "[Bug]:[a11y] Consider making "Site", "Username" and "Password" fields from "Add new login" page larger"
### Steps to reproduce

1. Have Google Accessibility Scanner installed.
2. Go to Settings - Logins and passwords - Saved logins
3. Enter the device pattern and tap on the "Add login" button.
4. Scan the "Add new login" page.

### Expected behaviour

No suggestions are made.

### Actual behaviour

This items height is 43 dp. Consider making the height of this items target 48 dp or larger.

### Devi

[2022-11-17 14:50] AdinaPetridean opened #27881 "[Bug]:[a11y] Consider increasing the "x" button in the "Username" field on the "Add New Login" page"
### Steps to reproduce

1. Have Google Accessibility Scanner installed.
2. Go to Settings - Logins and passwords - Saved logins
3. Enter the device pattern and tap on the "Add login" button.
4. Scan the "Add new login" page.

### Expected behaviour

No suggestions are made.

### Actual behaviour

This items height is 30 dp. Consider making the height of this items target 48 dp or larger.

### Devi

[2022-11-17 15:10] klcb2010 commented on #27402
where are you going ? i need you now

[2022-11-17 15:12] OlliKn commented on #22231
After a year I want to say: it works with amazon but not with e g. Leo.org.
There it opens after tapping in the field the keyboard but I can not long tap and select the keyword.
When I read and want to translate it is crucial that this behavior is present. Because of the lack of this behavior I have to use Chrome... Startpage.com does not work either. For I am not using Amazon the hint does not he

[2022-11-17 16:12] iAmmar7 commented on #23397
I think if you want to open the play store in case the app is not installed then you do not need to pass the fallback URL. For me, Firefox is automatically redirecting to the play store if the app is not installed.

[2022-11-17 16:53] KopfKrieg commented on #16879
Still relevant, don't close…

[2022-11-17 16:57] kbrosnan opened #27885 "Update Time When Set To Default Notification is Sent"
The Set to default notification should be sent 72 hours after installation. Currently it is set at 24 hours. Everything else related to the notification should stay the same.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-22007)

[2022-11-17 17:00] rhendric commented on #17104
Still an issue with 107.1.0-armeabi-v7a.

[2022-11-17 17:41] Shadow0x12 commented on #27874
But when you click the image to view it you can't copy it or download it

[2022-11-17 17:54] MozillaNoah commented on #27854
Sure!

[2022-11-17 18:41] cpeterso commented on #27739
@HelloGenericUser Can you please retest this bug with Fenix 107? We fixed some geolocation bugs in Fenix 103 ([bug 1771229](https://bugzilla.mozilla.org/show_bug.cgi?id=1771229)) and 106 ([bug 1765835](https://bugzilla.mozilla.org/show_bug.cgi?id=1765835)). So this bug might be fixed in 107 or it might have been a regression caused by the geolocation changes in 103.

[2022-11-17 18:50] nathanmp commented on #18135
Has there been a fix for this? This is an important issue for me - like Faeranne, I want to make an addon to collect data about my web history and let me annotate websites, but I'm unable to do so because it couldn't be reviewed.

I don't think security concerns should be a significant concern here - to install an unlisted addon, a user would have to download Nightly, enable dev mode, change the "

[2022-11-17 19:35] zl-zhou opened #27887 "Dark mode causes links opened from Google news feed to look blank until you switch tabs"
### Steps to reproduce

1. Set phone and Firefox to dark mode
2. Go to the Google news feed on the leftmost screen on Pixel devices
3. Click on web links

### Expected behaviour

Web page contents should display without needing to switch tabs

### Actual behaviour

Some links open what appear to be blank tabs. However, switching to another tab and then switching back will show that content has act

[2022-11-18 08:26] SosPosos commented on #1938
How i can get it?

[2022-11-18 09:09] topotropic opened #27893 "Review "Set Firefox to open links in apps" messaging"
When you have a fresh install and open Google or go to Twitter, you get a message asking you whether you want to open links in apps. The timing and context of the message doesn't seem ideal. We should revisit it and come up with a more apt behavior. Thanks!

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-22009)

[2022-11-18 09:16] AndiAJ opened #27894 "Intermittent UI test failure - < manageDownloadsInDownloadsMenuTest. manageDownloadsInDownloadsMenuTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8204032153634444391/executions/bs.32e60fdf8b5f9c3f/testcases/3/test-cases)
### Stacktrace:
java.lang.AssertionError: The file was not deleted
	at org.junit.Assert.fail(Assert.java:89)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.ass

[2022-11-18 09:58] notDevagya commented on #1938
It's not merged in the source yet, I don't see it getting merged anytime soon. You could download the source code, merge the pull request, and build it yourself. One could also give you an apk, but it won't be trustworthy or be up to date with latest patches.

[2022-11-18 10:31] davi-ro commented on #9766
Find/Add desired plugins into your custom collection, from firefox browser on pc. When using firefox on android you won't see all the addons that firefox has.

[2022-11-18 10:34] topotropic opened #27896 "[Bug]: Adjust font weight in share sheet"
### Steps to reproduce

Open share sheet

![Screenshot (Nov 11, 2022 1 53 59 PM)](https://user-images.githubusercontent.com/353960/202682454-cbd80449-96f4-4d36-962c-0d46e6c85910.png)

### Expected behaviour

Headers have the same font weight

### Actual behaviour

Headers have different font weights

### Device name

_No response_

### Android version

Android 12

### Firefox release type

Firefox

[2022-11-18 12:37] Mugurell commented on #27228
https://github.com/mozilla-mobile/android-components/pull/12883 was merged and helps with the app not becoming unresponsive.
https://github.com/mozilla-mobile/fenix/pull/27264 still waits for review for the app to check again the permissions after changing them in system settings, otherwise currently the QR scanner will show a black screen.

[2022-11-18 13:37] opusforlife2 commented on #26122
@LaurentiuApahideanSV ^

[2022-11-18 14:02] opusforlife2 opened #27897 "Fenix prevents screen/display lock after timeout if media played previously"
### Steps to reproduce

1. Open any website. Observe that the screen gets locked after the screen timeout threshold set in OS.
2. Open any website and play any short video.
3. After this, close the tab and open another.
4. Open a completely different website.
5. Wait for the screen to time out.
6. Screen permanently on.
7. Switch away from Fenix.
8. Timeout works.
9. Switch back to Fenix.
10. No m

[2022-11-18 15:33] #27852 closed

[2022-11-18 16:14] #22761 closed

[2022-11-18 17:08] bigConifer commented on #20242
@SoftVision-LorandJanos
Again, this issue can be closed as duplicate.

Moreover please follow the bugzilla ticket https://bugzilla.mozilla.org/show_bug.cgi?id=1795115 (migrated from https://github.com/mozilla-mobile/android-components/issues/11958)

[2022-11-18 18:00] Mugurell commented on #27879
Can talk about the usecases you're interested in.

[2022-11-18 18:04] Mugurell commented on #24795
@sv-ohorvath Is this still an issue?

[2022-11-18 18:09] jonalmeida commented on #21549
Looking at this perceived perf issue, I think the comparison against Chrome isn't valid - our tabs tray is trying to show an active page in the background and chrome might have this bug if their tabs tray wasn't a full page UI to cover those few seconds it takes to re-render the page. The time it takes to paint the first layout of a new tab have increased since when this was first filed through va

[2022-11-18 21:38] fischer-felix commented on #26280
In the above commit, the monochrome icon is just the standard icon with the gradients and the globe in the middle removed.
Imo this would be the most vanilla approach, but I think it might be worth considering a line style icon.
Since this would be quite a far step from the current look, I wanted to ask here first and get some opinions.
I'm thinking maybe we could just use the icons from [Lawnchai

[2022-11-18 21:47] fischer-felix commented on #26280
quick correction, forgot the official onecolor icon before, so her it is as well:

![Screenshot_20221118_224632](https://user-images.githubusercontent.com/65448408/202808617-365f1e96-597e-48a6-9aa1-f6af2ad27d56.png)

[2022-11-18 22:15] plwt commented on #26808
User feedback (multiple users) - https://support.mozilla.org/en-US/questions/1393515

[2022-11-18 22:16] nidmb commented on #26280
To be honest, I like both versions. However, I would lean towards using the solid icon so that it matches Pocket's icon design:
![obraz](https://user-images.githubusercontent.com/65424089/202812087-bf5e349a-5de2-436c-9163-e7d913d84bde.png)

[2022-11-18 22:30] jonalmeida commented on #27110
@kl3jvi I'm going to close this as "wont fix" since the NimbuSetup code has simplified and this clean up is no longer required.

[2022-11-18 22:30] #27110 closed

[2022-11-18 22:33] jonalmeida commented on #26320
Removing QA label - I think we can close this as completed.

[2022-11-18 22:52] ashjoubert commented on #26808
This issue is fixed for me in Firefox 107.1.0 (stable on Google Play).

[2022-11-18 22:55] illcutyouin opened #27901 "Firefox forgets pages' zoom level and scroll position when screen goes black or the phone is rotated"
### Steps to reproduce

open https://gamefaqs.gamespot.com/ps/197483-grandia/faqs/6812 scroll to any location  in the guide, flip phone to horizontal, let the phone go to a black screen from idle or keep firefox open but click the home button and or flip back to vertical, flip from vertical back to horizontal on open tab.

### Expected behaviour

open tabs should keep zoom level and location when

[2022-11-19 01:55] ErikTheGrate opened #27905 "[Bug]: home screen pages are closed apon restarting the app"
### Steps to reproduce

1. Have a new tab open.
Go to any website on that new tab(but it has to be a website)
2032.open another new tab
Stay on the homepage
.3 close the app from the recent apps menu
4 reopen firefox

### Expected behaviour

You should see the homepage you opened

### Actual behaviour

Any homepage tabs opened before the app being closed will seize to exist and it will start loadi

[2022-11-19 03:45] sidvishnoi commented on #26808
Can confirm on Beta 107.0b6 too.

[2022-11-19 07:21] illcutyouin commented on #27901
ok a update just discovered that both issues seem to be caused by me holding the bottom and right side of the phone with my palm and thumb when bringing it back from the black screen not sure what changed in the latest update to do that or if it's worth fixing for the dev team but figured i would let you know.

[2022-11-19 11:44] mduchev commented on #5419
Still hoping...

[2022-11-19 11:49] #25233 closed

[2022-11-19 12:04] KennethHeal commented on #26420
Data usage is still horrendous and I notice hugely unaccounted for
Android shows 302mb user data and 192mb application binaries, for a total of 493mb.
![Screenshot_20221119-123527](https://user-images.githubusercontent.com/15162365/202848952-48a4d044-2c70-4cc2-a6f9-cca36b30ab4f.jpg)

Running the script against mozdir gives me this:
[console-export-2022-11-19_12-34-36.redacted.txt.gz](https://githu

[2022-11-19 12:15] #22416 closed

[2022-11-19 12:22] KennethHeal opened #27907 "Fenix crashes leave files behind which cannot be cleared and waste precious user storage space"
### Steps to reproduce

Have Fenix crash for whatever reason

### Expected behaviour

Any required crash data should be uploaded and then local files removed.

### Actual behaviour

As part of https://github.com/mozilla-mobile/fenix/issues/26420 we discoverd that crashes were leaving behind files:
/data/user/0/org.mozilla.firefox/files/mozilla/Crash Reports/pending/ 647585 debugger eval code:16:10

[2022-11-19 12:35] 424344 commented on #25136
please don't close this issue.

[2022-11-19 13:16] #22412 closed

[2022-11-19 13:19] farag2 commented on #24652
Since 108.0b2 release the string was translated to a string with more characters in it, so the bug is gone for now. Closing...

![Screenshot_2022-11-19-16-18-42-975-edit_org mozilla firefox_beta](https://user-images.githubusercontent.com/10544660/202852723-d8a02214-dd38-4b03-9425-b2f610d85194.jpg)

[2022-11-19 13:50] SamuelMezger commented on #3597
Still relevant.

[2022-11-19 14:40] kspearrin commented on #24118
Not stale

[2022-11-19 15:22] #22272 closed

[2022-11-19 15:48] nyanpasu64 commented on #24161
Still happens. If you scroll enough the whole screen turns white for up to a second.

![Screenshot_20221119-074628_Firefox Nightly](https://user-images.githubusercontent.com/913957/202859254-4d643a0e-3eb2-4a45-b3d2-881e9de97135.png)

109.0a1 (Build #2015916651), 63a517171+
AC: 109.0.20221118221738, f093035e6b
GV: 109.0a1-20221118154632
AS: 95.0.1

[2022-11-19 15:56] ItielMaN commented on #7861
Still an issue.

[2022-11-19 16:20] kbrosnan commented on #27905
v68 has been out of support since September of 2020

[2022-11-19 16:29] cadeyrn commented on #9711
UX has to answer if this is done or not.

[2022-11-19 16:29] cadeyrn commented on #9711
comment for bot:

UX has to answer if this is done or not.

[2022-11-19 16:32] lilydjwg commented on #23709
This issue is still there.

[2022-11-19 16:42] JohnGlassmyer commented on #2371
this still affects current Fenix.

[2022-11-19 16:48] #18001 closed

[2022-11-19 17:30] ErikTheGrate commented on #27905
ok understood _but i dont like it_.
what happens in the latest version

[2022-11-19 17:36] ErikTheGrate commented on #27905
case closed i guess

[2022-11-19 18:25] Remu-rin commented on #24858
Seems fixed in 108 beta. Probably by:
https://github.com/mozilla-mobile/focus-android/issues/7860
https://github.com/mozilla-mobile/android-components/pull/12955

[2022-11-19 18:25] #24858 closed

[2022-11-19 18:29] Remu-rin commented on #23860
Still relevant for 107 and 108 versions.

[2022-11-19 18:48] Umeaboy commented on #23933
Is that stock Android 10 or Lineage?
I'm using Lineage without GApps if that matters somehow.

[2022-11-19 19:54] cadeyrn commented on #24752
Comment for bot:

Pocket is still not available for other regions, like Germany and Austria. So please keep this issue open.

[2022-11-19 20:01] #25020 closed

[2022-11-19 20:15] dylantrevor87 commented on #23743
please don't close the bug

[2022-11-19 21:28] ehawman opened #27909 "Latent 302 redirect pages sticking around after opening in app"
### Steps to reproduce

1. Browse to a site with a link that you want to open in another app (eg a YouTube link or an Amazon link)
2. Click on the link, the app launches.
3. Later, return to Fennec, only to find that before you can start searching, the redirect triggers again and you're shunted out to the app

### Expected behaviour

When clicking on a link that opens in another app, Fennec should

[2022-11-19 21:37] hebu commented on #24016
Still reproducable.

107.1.0 (Build #2015915067), a4c625827+
AC: 107.0.7, 7d69de3da4
GV: 107.0-20221110173214
AS: 94.2.2

[2022-11-19 21:55] VexfulNiko commented on #26280
I like both icons as well, but I prefer the non-solid icon; it looks cleaner in my view.

[2022-11-19 22:50] Kernald commented on #26280
The trend with the latest ones from Google (if it's anything to go by), namely Dialler, Messages and Contacts, seems to be preferring solid layers and negative colour for separating them. Overall, I think the solid variant would fit in better, but that might just be due to the icons I'm personally using.

[2022-11-20 01:30] madb1lly commented on #8425
I believe this is now fixed.

[2022-11-20 01:30] madb1lly commented on #6379
Not fixed.

[2022-11-20 01:31] madb1lly commented on #6478
Not fixed.

[2022-11-20 02:36] benyaminl commented on #24002
Why it's added as wontfix.. what...

[2022-11-20 04:30] thebp2 opened #27912 "Repeatable Crash in Firefox beta on given website"
Crash info:
d476f335-f597-4218-adb8-12c42ce4dd17
mozilla.appservices.places.uniffi.PlacesApiException$UnexpectedPlacesException: reason=Error executing SQL: Integer -1 out of range at index 12
----
mozilla.appservices.places.uniffi.PlacesApiException$UnexpectedPlacesException: reason=Error executing SQL: Integer -1 out of range at index 12
	at mozilla.appservices.places.uniffi.FfiConverterTypePlac

[2022-11-20 04:54] cpeterso commented on #23977
This bug is still relevant. 99.99% of Fenix and Focus crashes with Platform "Unknown" are parent process crashes. Seems like the crash reporter ought to know at compile time that Platform will always be "Android".

https://crash-stats.mozilla.org/search/?product=Fenix&product=Focus&platform=Unknown&_facets=signature&_facets=process_type&_sort=-date&_columns=date&_columns=signature&_columns=product

[2022-11-20 06:31] thebp2 commented on #27912
Same crash on https://www.smbc-comics.com/comic/parrot

[2022-11-20 06:31] sojudu commented on #23530
Using version,107.1.0 (Build #2015915067), the bug still exists, no worries though i moved away from firefox.

[2022-11-20 06:33] sojudu commented on #23530
Miss pop, I am only seeing your message 7 months later as git hub didnt send me an e-mail

[2022-11-20 07:24] #27905 closed

[2022-11-20 10:42] YozenPL commented on #2344
Do we have any update on this? I started to use DEX and for now it is the most needed feature for me.

[2022-11-20 10:44] tehkillerbee commented on #24537
I have the same issue when using my bank app (Nykredit) together with MitID. It looks like the issue is similar, as using chrome as default browser works fine.

As a workaround to changing default browser, it also works if I open the browser window in app by clicking "open in Firefox".

I've been in contact with the app / MitID support, but the conclusion is the bug is caused by Firefox, not the a

[2022-11-20 13:31] dep commented on #25354
Same. Sometimes with Android Firefox the prompt to save my password will appear then quickly disappear before can click save [Android]. happens when create a new password on certain sites. Liberapay for example. Click submit after setting password, dialog to save appears, the browser goes to the next page and the dialog quickly disappears. Was only visible maybe 1000 msecs

[2022-11-20 14:39] Palloxin commented on #18640
I also known a website where the scrolling becomes sluggish when there is a specific kind of image in my view. The problem is that this website is NSFW and requires an user to sign up to see the link i will send, basically a forum. Please keep in mind this is a nsfw website and if it is not okay to send it, please just deleted comment instead of banning me please. i just want to fix this problem u

[2022-11-20 15:46] headbank commented on #3729
I was just looking at #2344 and since it's not on the list above, may I add for consideration:

Ctrl+Tab/Backtab - Switch tabs

If some day we do get a keyboard-friendly Fenix, I really wouldn't want this one not to make the cut by omission. It's probably my most-used shortcut on desktop now I think of it.

This might require additional plumbing for desktop-equivalent behaviour, because I don't kn

[2022-11-20 16:59] TheBrokenRail opened #27913 "Make pressing the back button *not* close the current tab when there's no history"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2022-11-20 17:10] TheBrokenRail opened #27914 "When opening a new tab, open it after the current one, instead of at the end of the tab list"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2022-11-20 17:12] TheBrokenRail opened #27915 "Ability to rearrange tabs"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2022-11-20 17:51] marcel263 commented on #24787
still relevant

[2022-11-20 17:52] marcel263 commented on #23835
still relevant on slow connections / DNS resolver

[2022-11-20 19:58] buscon commented on #22521
I actually followed this steps and now it works as it should: https://support.nordpass.com/hc/en-us/articles/360006703397-How-to-enable-Autofill-on-Xiaomi-devices-

[2022-11-20 20:27] Antorell commented on #23707
Firefox's autofill doesn't work, still. I'm using it on a Xiaomi Redmi 11 note NFC with Android 11 Using Firefox 107.1.0 or the current Android Beta. It asks for a fingerprint to unlock Firefox that doesn't do anything. And there's no visible option to disable the fingerprint to unlock security measure. Otherwise the autofill works fine with Microsoft Authenticator, Edge or Google Chrome.

[2022-11-20 21:52] maddawg836 commented on #22521
having firefox not update and you being a douche? world is full of interesting people.

[2022-11-20 22:05] kbrosnan commented on #27915
This is in v108 currently on beta

[2022-11-20 22:05] #27915 closed

[2022-11-21 00:13] #20761 closed

[2022-11-21 00:17] intrnl commented on #25327
This is still a valid issue

[2022-11-21 02:47] #27870 closed

[2022-11-21 04:02] Poopooracoocoo commented on #22962
I don't use Firefox anymore but I doubt this was fixed

[2022-11-21 04:03] Poopooracoocoo commented on #23062
I don't use Firefox anymore but I don't think this was fixed

[2022-11-21 05:21] Falcon9h opened #27918 "[Bug]: Android addons fail to install"
### Steps to reproduce

Go to addon page, I hit + to install addon, all I get is (xxxx) addon failed to install.

### Expected behaviour

Damned addon should install

### Actual behaviour

Addons (all of them) won't install

### Device name

Samsung Note 20 ultra

### Android version

12

### Firefox release type

Firefox

### Firefox version

107.1.0

### Device logs

_No response_

### Additiona

[2022-11-21 06:13] 424344 commented on #22962
I still use firefox and it's not fixed.

[2022-11-21 06:14] 424344 commented on #22848
please fix this issue.

[2022-11-21 06:23] makotokato commented on #22988
I can still reproduce this with Android 13 + Pixel 4a (See https://github.com/mozilla-mobile/fenix/issues/27221#issuecomment-1311026892 for Chrome behavior)

[2022-11-21 07:40] kelleymccheese commented on #27693
I can confirm that this is happening to me too. If I click on a link from the Google app, it seems to be an about 30-40% chance it properly loads. The rest of the time I need to go back and try again since it'll just load a black screen.

I'm using the Fennec version on F-Droid (Pixel 6, Android 12)

[2022-11-21 09:16] sheikh-azharuddin commented on #17142
Not fixed

[2022-11-21 09:17] sheikh-azharuddin commented on #21728
Not stale

[2022-11-21 09:17] sheikh-azharuddin commented on #23125
..

[2022-11-21 09:18] sheikh-azharuddin commented on #21843
,.

[2022-11-21 09:18] sheikh-azharuddin commented on #24059
...

[2022-11-21 10:14] sv-ohorvath commented on #24795
No, I'll close it as it hasn't come up since April. All related reports have been closed: https://github.com/mozilla-mobile/fenix/issues?q=is%3Aissue+Attempt+to+invoke+virtual+method+%27boolean+android.graphics.Bitmap.isRecycled%28%29%27+on+a+null+object+reference+is%3Aclosed

[2022-11-21 10:14] #24795 closed

[2022-11-21 10:18] marcel263 commented on #22803
does not appear anymore

[2022-11-21 10:18] #22803 closed

[2022-11-21 11:09] cadeyrn commented on #24002
@benyaminl Do you still the tab groups in the tabs tray? I thought they got removed in #21898? And I am not able to produce a tab group in the tabs tray in Firefox 107, they are only grouped in the history view…

[2022-11-21 11:37] topotropic commented on #23934
Let's keep this open, it will make it easier for people to input and verify their credit card numbers.

@gabrielluong not sure I understand your comment, would it make sense to have a xxxx xxxx xxxx xxxxx structure, so that we have a space after 4 digits?

[2022-11-21 11:39] rickdoesdev commented on #27492
Also having this issue on Android 13, Pixel 5, Firefox version 107.1.0 (Build #2015915067)

When using a standard file upload input on Firefox:

![Screenshot_20221121-223004](https://user-images.githubusercontent.com/4494839/203041040-a349b811-3617-4ed0-a025-2fc35c937358.png)

When using the same standard file upload on Chrome or even other non browser apps such as slack, or nextcloud itself:

![S

[2022-11-21 11:42] #23932 closed

[2022-11-21 11:44] topotropic commented on #23214
cc @ewachowiak

[2022-11-21 11:50] topotropic commented on #23095
This seems to work for synced tabs on the tab tray, it would be helpful to people to have a sticky 'time' header for additional  context also in history view. Thanks!

[2022-11-21 11:51] topotropic commented on #22921
Do we have this? If not, this is still valid. Thanks.

[2022-11-21 12:05] ItielMaN commented on #22222
Still an issue.

[2022-11-21 12:16] benyaminl commented on #24002
@cadeyrn Thanks for replying back. Hmm... if they remove this, this is really unfortunate, yeah, I haven't check it for months, probably. I will close this for now. Hope if this get re implemented, it will be good.

Thanks for clarifying.

[2022-11-21 12:16] #24002 closed

[2022-11-21 12:23] #22279 closed

[2022-11-21 12:55] ale82to commented on #17142
not only it's not fixed after so many release ,push notification for Instagram Facebook and reddit ARE NOT WORKING

[2022-11-21 12:57] sonora commented on #23066
Well, it's not yet fixed, I think ...

[2022-11-21 13:17] joc-a commented on #27288
I can pick this up

[2022-11-21 13:46] cortinico commented on #23124
This is still a thing if someone from Mozilla wants to take this on :)

[2022-11-21 13:56] padenot opened #27923 "[Bug]: Opening addons.mozilla.org and attempting to install an add-on downloads an `.xpi` file"
### Steps to reproduce

- Google `ublock origin firefox` from Firefox for Android
- Open the first result (pointing to https://addons.mozilla.org/fr/firefox/addon/ublock-origin/)
- Tap the button to add the addon to Firefox

### Expected behaviour

The addon is added to Firefox

### Actual behaviour

An `.xpi` file is downloaded

### Device name

Sony Xperia 5 II

### Android version

Android 12

[2022-11-21 14:04] diox commented on #27923
This happens because [the regexp Fenix uses to intercept xpi requests](https://github.com/mozilla-mobile/fenix/blob/43612486e42dd2f55f07cdf00a693f80af5bcc88/app/src/main/java/org/mozilla/fenix/AppRequestInterceptor.kt#L196) wants paths to contain `/android/`. Ideally it should be relaxed to also allow `/firefox/`, but there would be another issue: the collection Fenix uses as an allow list uses `/

[2022-11-21 14:11] SoftVision-LorandJanos commented on #24539
Alternative steps:
1. Access a webpage.
2. Add the webpage to a collection.
3. From tabs tray add some additional sites.
4. From homescreen expand the collection and delete the bottom one (the one which the collection was created with).
5. Tap "UNDO".

Actual result:
4. The collection is closed with all its elements.
5. Undoing the closing reopens the collection but only with the original (deleted

[2022-11-21 14:26] #22870 closed

[2022-11-21 14:54] #3798 closed

[2022-11-21 15:45] notanewbie opened #27924 "[Bug]: Failed To Open Media Message for Content From stream.live.vc.bbcmedia.co.uk"
### Steps to reproduce

1. Attempt to play audio stream (press play)

### Expected behaviour

Audio stream should play

### Actual behaviour

Audio tag throws a "Failed to open media" message

![Screenshot_20221121-104423_Firefox Nightly](https://user-images.githubusercontent.com/16856594/203097577-27a2ec89-ab61-4e9b-ae03-e3052e442375.jpg)

### Device name

Samsung Galaxy S10e

### Android version

[2022-11-21 15:53] t-p-white opened #27926 "[Bug]: On home The address bar is still focused even though user has tapped outside of it"
### Steps to reproduce

1. Open Firefox
2. On the 'homepage' clicked on the address bar
3. minimize the address bar
4. Click (non functional) area outside of address bar
5. Observe the settings icon is no longer visible on the homescreen

### Expected behaviour

Clicking on a non functional area outside of the address bar shoud remove focus from the keyboard and the settings icon should be display

[2022-11-21 16:11] notanewbie commented on #27924
Additional details:
I noticed this bug crop up sometime last week; this seems to occur with nearly all streams from the BBC, at least the major ones (World Service, 1-5, etc.). One interesting thing to note is that I'm not able to stream the stations from either the site I've been working on, or another website I like to use to find stream urls, but the page from TuneIn seems to work.

My Page: ht

[2022-11-21 17:06] Delphine commented on #22222
@cpeterso There are a few RTL issues that are still happening on Fenix for quite a while now. Do you know is someone can help with right-to-left issues please? I'm not sure how these are prioritized at the time. Thanks!

[2022-11-21 17:14] kbrosnan commented on #27923
Not a Fenix bug.

[2022-11-21 17:14] #27923 closed

[2022-11-21 17:47] HelloGenericUser commented on #27739
Hi. I have updated to Fenix 107.1 and latest version of Lineage OS. It
still does not function. The GPS indicator will go green for a few seconds
on top right and then disappear, while the acq location hourglass keep
spinning in google or bing maps.

On Thursday, November 17, 2022, Chris Peterson ***@***.***>
wrote:

some geolocation bugs in Fenix 103 (bug 1771229) and 106 (bug 1765835). So
this b