[2019-07-26 14:20] vladikoff commented on #4023
I need to work with devops to fix that redirect uri, I shall let you know when that is done

[2019-07-26 14:29] NotWoods commented on #3612
UX team: We would appreciate designs for what the text displayed in the popup should be. (ie: "Search in Firefox Preview", "Search", "Open in Firefox", etc)

[2019-07-26 14:40] topotropic commented on #2570
yes, please hide the 3-dot list item menus for history and bookmarks when in multi-select

[2019-07-26 14:47] colintheshots commented on #2922
I'll spend some time this sprint triaging each of the issues, assessing if they're real, and what to do about them.

[2019-07-26 14:51] colintheshots commented on #3695
For QA, the expected behavior here is that the currently selected tab should not show up in results. However, other tabs should show up and if selected from search suggestions, should select that tab. I'm not sure how we should deal with the fact that both history and session suggestions suggest the same item twice. I think we need an A-C issue to de-dupe and only show the session/tab suggestion i

[2019-07-26 14:54] topotropic commented on #3860
The current placeholder text for no collections is "Your collections will be shown here."  As a very simple improvement, we could update it with something more descriptive, for example "Save open tabs to a Collection to keep track of things that are important to you" @mheubusch please help :-)

[2019-07-26 14:57] pocmo opened #4326 "[Meta] Improvements for code and build health"
A list of random tasks, tools and other things we do/use in AC that we may want to do/use in Fenix too. Applying some of those things may require filling separate issues.

- [x] Update detekt to latest version to use latest checks (`1.0.0.RC9.2` -> `1.0.0-RC16`)
- [x] Update ktlint to latest version to use latest checks (`0.31.0`-> `0.34.2`)
* [x] #4508: Enable "warnings as errors" and fix all exi

[2019-07-26 14:58] vladikoff commented on #4023
Filed https://github.com/mozilla-services/cloudops-deployment/pull/3329

[2019-07-26 15:19] pocmo commented on #4090
https://github.com/mozilla-mobile/android-components/issues/3294

[2019-07-26 15:32] otede opened #4327 "[Bug]190726 06:03 update removed collections and reset settings"
## Steps to reproduce
1. Update
2. Launch the app
### Expected behavior
Collections and old settings intact.
### Actual behavior
Collections and old settings removed.
The Sync does not hook up to my "XT1562 PREVIEW" device upon logging in with my email. Instead the Sync gets set up with a blank space for the device name.
### Device information
* Android device: Moto X Play X1562, Android 7.1.x (Li

[2019-07-26 15:41] NotWoods commented on #4090
Twitter and other sites with large icons has been fixed by mozilla-mobile/android-components#3619.

Small icons is still under consideration or dropped: mozilla-mobile/android-components#3814

[2019-07-26 16:26] sblatz commented on #2362
I think this seems reasonable.

This is happening because we're changing the theme which requires the app to recreate. Unfortunately I don't think there's a way around it.

@boek what are your thoughts on this?

[2019-07-26 16:31] pwd-github opened #4329 "[Bug] Ready to scan shows black screen"
## Steps to reproduce
1. Launch Fenix
2. Press "Sign in to Firefox"
3. Press "Ready to scan"
4. Allow camera permissions

### Expected behavior
You get a camera view port

### Actual behavior
Scan the code page only shows the URL to visit on desktop and the rest is a blank/black screen.

### Device information

* Android device: Nvidia Shield Tablet
* Fenix version: Nightly 190726 06:03 (Build #12

[2019-07-26 16:35] sblatz commented on #4262
@sv-ohorvath the private mode tab ring color is *supposed* to be pink. In dark mode it should be purple, in light mode it's blue. See #1750.

[2019-07-26 16:37] sblatz commented on #1288
I sized the engineering effort, @vesta0 please note that this is still waiting on a google library update that we do not have yet.

[2019-07-26 16:39] sblatz commented on #4216
Agreed. Please open a ticket if we want Korean to be a "must"

[2019-07-26 16:39] #4216 closed

[2019-07-26 16:56] boek opened #4330 "As an engineer I would like to only release locales that have been signed off by the l10n team"
As we start to add new locales we need a way to separate locales that are finished with ones that are in progress. With Focus we used https://github.com/mozilla-mobile/focus-android/blob/master/tools/l10n/locales.py#L22

[2019-07-26 18:13] lime124 commented on #1288
the effort is currently on hold while we focus on some other musts for the upcoming release.

i'm going to pass to @topotropic to respond to whether she feels this can be aligned with the future designs. thanks!

[2019-07-26 18:25] lime124 commented on #3612
thanks notwoods for a clear ask and thanks nahuhh for providing the additional information. passing to @mheubusch for the string recommendation.

[2019-07-26 18:28] lime124 commented on #3569
@ekager is there something ux needs to give you or is it a regression that needs to be fixed? removing ux label. ping amy if you need something. thanks!

[2019-07-26 18:36] ekager commented on #3569
This seems to be a regression so we don't need anything from UX

[2019-07-26 18:44] lime124 commented on #2481
removing ux label - this will take some more detailed design thinking around what should be customizable and how we surface that in our UI. we can take a look at the design work when it comes up as a priority for the team.

[2019-07-26 18:48] lime124 commented on #2151
@boek @sblatz is this related to the start up issue #599? do we have animations already from amy or is this something  new she needs to provide? the answer will dictate the next step for this issue. removing ux label.

[2019-07-26 18:50] lime124 commented on #2118
this is going to require a bit of design work to make sure all cases are covered. we'll wait on that until it's prioritized for the team. removing ux label.

[2019-07-26 18:55] lime124 commented on #1935
collecting a bunch of issues for a larger collections/homescreen design effort. removing ux label.

[2019-07-26 18:58] lime124 commented on #1539
thanks colin! @mheubusch it's on you! :)

[2019-07-26 19:03] Lululalu opened #4332 "[Bug] DDG: Touching "more results" triggers a browser selection box."
## Steps to reproduce
Search anything on DDG
Scroll down to the bottom
Touch More Results button

### Expected behavior
More results are loaded and nothing else happens.

### Actual behavior
![Screenshot_20190726-155911_Android System](https://user-images.githubusercontent.com/32398857/61975150-beb9b780-afbe-11e9-9301-1534c33bc286.jpg)

### Device information

* Android device: Galaxy A5 2017 8.0

[2019-07-26 19:03] lime124 commented on #1287
@sblatz @vesta0  since that effort is on hold at the moment do we want to size this and see if it's something easy we can do for the release? but it also seems like we are waiting on somthing from google anyhow so maybe it's still blocked?

/cc @topotropic

[2019-07-26 19:07] openjck opened #4333 "[Feedback] Using alternative search engines requires too many taps"
I liked how easy it was to use alternative search engines in the old Firefox for Android: just type a few characters and tap the Amazon icon, for example.

Doing this requires many more taps in Fenix: first type the query, then tap <s>*Shortcuts*</s> (now *Search engine*), then tap the Amazon icon, then tap enter. Even just removing that last step would be a big improvement.

* Android device: 9 (

[2019-07-26 19:09] openjck commented on #1754
I think this is a pretty big omission. The old Firefox for Android app had this feature. I used it all the time, especially for sites like YouTube where the native app is vastly superior.

[2019-07-26 19:15] openjck commented on #3746
I'm not sure if #3738 is a strict duplicate. It seems to be talking about tab management workflows in general. I think it's worth focusing on swipe distance in particular. It's too hard to close tabs via swipe.

[2019-07-26 19:37] mheubusch commented on #1539
Can’t delete default folders

[2019-07-26 19:51] mheubusch commented on #3860
Collect the things that matter to you. To start, save open tabs to a new collection.

@lime124 LMK if that works for you and then remove the needs strings label? thanks

[2019-07-26 20:01] lime124 commented on #1063
ok so what i'm reading is that this issue has been mostly addressed (per kevin's comment) there's the final bullet about the homescreen. let's put this as part of the homescreen design effort so we can take a look then.

lmk if i missed something @ekager !

[2019-07-26 20:05] Verdi commented on #2037
I don't know the history here or whether there was a conscious decision not to denote bookmark URLs in Fenix (maybe @shorlander knows?).

We don't have much data on this topic. [A desktop eyetracking study](https://docs.google.com/presentation/d/124zAhCc4wnbsoUSVD18SLF6uCu09Cc6AYFtIrXz2Psw/edit#slide=id.g22bd6c370c_0_212) showed that chunking (grouping bookmarks) and favicons helped in bookmark re

[2019-07-26 20:14] boek opened #4334 "Cover various cases in the SearchInteractor methods in SearchInteractorTests"

[2019-07-26 20:44] #4005 closed

[2019-07-26 21:10] robsmith11 commented on #3729
Another use case is a phone or tablet with a Bluetooth keyboard.  It's common to not have a mouse, to it's a nice to be able to navigate Firefox using the keyboard.

The ability to focus the Awesome bar with the keyboard is most important I think.

Other keyboard shortcuts could be set with an Addon like Vim Vixen:
https://addons.mozilla.org/en-US/firefox/addon/vim-vixen/

[2019-07-26 22:10] lime124 commented on #2037
this is going to take some more investigation and design work to ensure there is a consistent cross-product experience of how results are being displayed. i'm going to open a new issue to cover that and link this to it. removing ux label

[2019-07-26 22:13] lime124 opened #4335 "Align search results UI with other firefox products"
## User Story
Create a cohesive experience across platforms for search results list

## Dependencies
- List dependencies on other issues/teams etc.

### Acceptance Criteria
- I can do …  (e.g. add a bookmark)

### Reference
https://github.com/mozilla-mobile/fenix/issues/2037

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12775)

[2019-07-26 22:13] lime124 commented on #4335
@vesta

[2019-07-26 22:14] cpeterso commented on #4208
Is there a Fenix bug filed for your text selection issues?

[2019-07-26 22:17] cpeterso commented on #1577
The GV bug is fixed in GV 70 Nightly, but hasn't been uplifted to GV 69 Beta yet. There are some patch problems that the engineer needs to fix first.

[2019-07-26 22:21] cpeterso commented on #3708
Looks like you already filed a GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1561927

That bug is currently a low-priority P3 because we assume running Fenix on a Chromebook is an uncommon use case. If that's not the case, please let me know! :)

[2019-07-27 00:44] sblatz commented on #969
Just confirming with @vesta0 that we really need all of these telemetry events tracked? This seems a bit overkill honestly and I have concerns about all of this data being worth tracking. I think I have captured the majority of the important events. Please let me know your thoughts.

Also looping in our data steward @boek for his thoughts :)

[2019-07-27 00:45] neekless opened #4336 "[Bug] Some download file names truncated inappropriately"
Trying to download files with periods in their name will have everything after the first period truncated.

## Steps to reproduce
Many ways to trigger this but for the sake of testing try downloading these 2 files:

1. https://www.apkmirror.com/apk/google-inc/messenger-google-inc/messenger-google-inc-4-7-056-release/messages-4-7-056-kraken_rc13_xxxhdpi-arm64-v8a-phone-android-apk-download/download

[2019-07-27 01:43] vesta0 commented on #969
@sblatz here are the events (out of the ones currently missing) that we should track in order to understand how users interact with collections and how we can improve their experience:

-Track long press on a tab Ping f39dedb2-c5df-480b-af33-c7c9cd586fbb ❓
-Track tap on "Save to collection" button on home screen Ping 5015332e-a679-4af3-8fd8-7e3627211c96 ❓
-Track tap on "Save to collection" button

[2019-07-27 02:56] reinhart1010 opened #4337 "Integrate PDF Viewer"
One of my favorite workflows in Firefox for Android (Fennec) was the ability to view PDF files without permanently saving them in storage. There was an option to download the file, or open in another viewer.

![Image](https://i.imgur.com/tvXjEW2.jpg)

Sometimes passing the file directly to viewer apps (then delete from cache) is storage-efficient for mobile devices, as many PDF viewers do not have

[2019-07-27 03:06] BaronKrause opened #4338 "Recent builds insta crash on ChromeOS"
As of around 2 weeks ago Firefox Preview (google play store version) insta crashes on ChromeOS (stable branch running on a Pixel Slate) and will continue to crash in the background even when not open until removed. Reinstall after removal provides the same results.

While not a priority I'm sure (there is no tablet/desktop interface yet), just wanted to report it since it DID actually work fine on

[2019-07-27 07:41] nikit19 opened #4339 "[Bug] Reduce build warnings"
### Expected behavior
There should be no build warnings when the app builds

### Actual behavior
There are build warnings

[2019-07-27 07:58] krzyk commented on #3511
Same happens (or rather: not happens) when I try to login amazon account.

[2019-07-27 09:07] nikit19 opened #4341 "[Bug] Use camelCase for views that are referenced from Kotlin code"
### Expected behavior
For views that are referenced from code using synthetic binding should be camel cased
### Actual behavior
Views are in snake case currently

I would be converting all views that are referenced from fragments to camel case for now.

[2019-07-27 09:19] cadeyrn commented on #4337
+1 for pdf.js in Fenix, that would be awesome!

By the way, there is https://addons.mozilla.org/de/android/addon/android-pdf-js/ for _Fennec_. Maybe it's helpful for the Fenix UX people because they can already test how it works on a smartphone.

[2019-07-27 10:07] ilango100 opened #4343 "Support IPv6 addresses"
## Steps to reproduce
Try to access a site using its IPv6 address

Eg: `[2606:4700::6810:2902]` (IPv6 address for www.mozilla.org at the time of writing)

### Expected behavior
The browser connects to the IPv6 address and opens the webpage. This works perfectly on Firefox Android 68.0.

### Actual behavior
Starts google search with  `[2606:4700::6810:2902]` as query.

### Device information

Andro

[2019-07-27 12:31] reinhart1010 commented on #4337
So far the default pdf.js UX does not integrate well with Photon, and things that are as rad as Fenix.

Oh yeah, I think it's nice to have a new light/dark theme for pdf.js to celebrate that new feature in Fenix.

[2019-07-27 12:39] reinhart1010 commented on #4332
Reinhart from @webcompat here.

I couldn't reproduce this in Fenix 1.1.0 (Build #12042112), 📦 4.0.1 🦎 68.0-20190711090008
in Samsung Galaxy A7 (2018), Android 9.0.

Sampling from https://duckduckgo.com/?q=apple&t=fpas&ia=web

[2019-07-27 13:41] avently commented on #3628
In v1.1.0 after start the app freezes the phone immediately. I can see white screen only without any UI element.

[2019-07-27 14:13] julKali commented on #4332
For me (Nokia 8, Fenix v1.1.0), a Javascript alert box pops up:

![Screenshot_20190727-160820](https://user-images.githubusercontent.com/17690423/61995438-e07f7100-b088-11e9-82e3-71861ee8c0f0.png)

This by the way happens on other sites too, f.e. when you click on "View x reply" on 9gag.com comment sections. [This issue](https://github.com/mozilla-mobile/fenix/issues/4266) is likely related.

[2019-07-27 14:43] klausenbusk commented on #3628
What phone do you have?

[2019-07-27 14:51] avently commented on #3628
@klausenbusk this issue happens on Meizu m2 (4 cores).

[2019-07-27 14:55] hugoh opened #4344 "[Bug] Links do not open in installed external apps"
## Steps to reproduce

1. Search for "maps" on Google
2. Follow result to Googlee Maps

### Expected behavior

Google Maps app opens.

### Actual behavior

https://www.google.com/maps/ opens in the browser, despite Maps app being set as default for those links.

This is reproducible with Amazon, Instagram, and others.

### Device information

* Android device: Samsung Galaxy Tab S5e
* Fenix versio

[2019-07-27 15:02] klausenbusk commented on #3628
I'm wondering if it is some sort of memory leak/out of memory situation How
does the memory usage looks before starting the app?
Could you try running htop or free in a loop when starting the app and see
if the memory usage explode before he phone freeze.

[2019-07-27 15:50] avently commented on #3628
Tried but memory usage was ok. Since the phone was freezed after ~1 second I can't say anything useful about logs or memory.

[2019-07-28 07:49] dector commented on #3143
@sblatz `FragmentScenario` should handle this case perfectly. Tbh I've did some job on this test but faced with huge refactoring because fragment itself is tightly coupled with the root activity. My idea was to be able to test fragment in a separate container (as `FragmentScenario` doing this).

[2019-07-28 08:54] bogas04 opened #4346 "[Bug] Instagram stories always open in landscape mode"
## Steps to reproduce
1. Go to Instagram feed
2. Click on any story
3. Observe how it's opened in fullscreen mode.

### Expected behavior
Should open in potrait mode or as per device orientation.

### Actual behavior
Opens in landscape mode.

### Device information

* Android device: RealmeZ Android Pie (ColorOS 6)
* Fenix version: Nightly 190726 06:03 (Build #12070610) 📦: 6.0.0 🦎: 68.0-2019071109

[2019-07-28 13:41] NotWoods commented on #4336
This will get fixed when we transition to the new Gecko download manager (#4296). I'll look into fixing it for the current download manager as well.

[2019-07-28 13:50] NotWoods commented on #4288
Duplicate of #4137

[2019-07-28 13:50] #4288 closed

[2019-07-28 15:22] cadeyrn opened #4347 ""recently bookmarked" section"
### Why/User Benefit/User Problem

Sometimes it can be difficult to find your newest bookmarks. I agree with the conclusion of #2961 that the newest bookmarks shouldn't be at top by default because as a user I expect my bookmarks structure to be unchanged.

However, there is not only a "recently bookmarked" section in Firefox for Desktop, this month Mozilla also introduced a "recently bookmarked"

[2019-07-28 15:22] cadeyrn opened #4348 "allow users to sort bookmarks"
### Why/User Benefit/User Problem

Please allow users to sort the bookmarks. How to reorder your bookmarks is a question that comes up in support for _Fennec_ again and again. On Desktop you can reorder your bookmarks and now Mozilla introduced exactly this feature in Firefox 18 for Apple iOS.

![Bookmark-Editing-5-600x1299](https://user-images.githubusercontent.com/1100614/62009023-5acbf600-b15a-

[2019-07-28 15:24] cadeyrn commented on #2961
I created for #4347 to address the use case to find you recent bookmarks because Firefox for Apple iOS now has this feature, too.

[2019-07-28 17:16] AlbertoFabbri93 commented on #1168
I'm having the same problem. It should be possible to add a certificate exception.

[2019-07-28 18:05] NotWoods commented on #4338
Stack trace from running on Pixelbook:
[code]

[2019-07-29 01:19] makotokato commented on #4192
Find in page has same problem. Although user files an issue for Fennec as https://bugzilla.mozilla.org/show_bug.cgi?id=1561753, this occurs on Fenix too.

[2019-07-29 02:35] nahuhh commented on #3611
Confirmed fixed.
Closing

[2019-07-29 02:36] vesta0 commented on #3170
@lime124 I like the idea of a new `enhancement` label since many things fall under that category.

[2019-07-29 02:39] vesta0 commented on #2011
@lime124 in order to contain the scope of our Q3 media work, let's leave ticket out for now and revisit later.

[2019-07-29 02:43] vesta0 commented on #2271
Thanks @AmyYLee !
@liuche are the requested edits clear for engineering?

[2019-07-29 03:47] rxumoz opened #4349 "Task :app:Bootstrap_CONDA_'Miniconda3' failed while using android studio "build" button"
**Steps to reproduce**
    1. Press build button in Android studio

**Expected behavior**
    Build successfully

**Actual behavior**
    Build failed

It seems that it's releated to python path, but I've tried "unset PYTHONPATH" and delete the pythonpath set before, it still fails.**However,  using command line  "./gradlew clean app:assembleArmDebug" can build the project successfully**

Here is

[2019-07-29 04:42] vesta0 commented on #4306
@topotropic I have updated the meta and added a link to the Feature Brief, AC board, and related issues.

[2019-07-29 07:27] softvision-miralobontiu commented on #4262
Verified as fixed on the latest Nightly build 190729 (#12100610) with Motorola Nexus 6 (Android 7.1.1), and Huawei P6 Lite (Android 6).

[2019-07-29 07:27] #4262 closed

[2019-07-29 08:01] sv-ohorvath commented on #4128
@colintheshots Could you please give us more details on what this is about?

[2019-07-29 08:04] ValentinTimisica commented on #4240
I have investigated more and the exact scenario where I could have reproduced this bug is this:
Let’s assume that initial we have 0 opened tabs.
1. Open Firefox Preview and set it as default browser.
2. Open Gmail(or other app) and open a link in custom tab.
3. Open Firefox Preview from Recents apps. `Go to Settings -> Delete browsing data`; The “Open Tabs” view shows “1 tabs” (the custom tab).
4.

[2019-07-29 08:39] softvision-miralobontiu commented on #3695
Verified that the current tab, when tapped on the URL bar, shows up as a search suggestion and a history entry. Also, the other suggestions open if tapped on.
Tested on the latest Nightly build 190729 (#12100610) with Motorola Nexus 6 (Android 7.1.1), and Huawei P6 Lite (Android 6).

[2019-07-29 08:39] #3695 closed

[2019-07-29 09:09] ValentinTimisica commented on #4323
Hi, this seems interesting. I will start to work on it.

[2019-07-29 09:50] pocmo commented on #1577
Yeah, still waiting for the 69 uplift.

[2019-07-29 11:36] thewhitetulip opened #4351 "Change the UI for switching tabs"
### Why/User Benefit/User Problem
Because current one is not the best way to discuss tabs
### What/Requirements

### Acceptance Criteria (how do I know when I’m done?)

When it's as easy to change tabs as on chrome/ff on android

[2019-07-29 12:01] ValentinTimisica commented on #4323
I have two options to fix the overlapping issue and I need the UX approval.
1. Limit the text to one line and use `ellipsize="end"`.

![image](https://user-images.githubusercontent.com/52956363/62046655-2a935e80-b211-11e9-9449-57da4af7875a.png)

2. Don't limit the number of lines (there could be even 3 or more lines).

![image](https://user-images.githubusercontent.com/52956363/62046695-3d0d9800-b

[2019-07-29 13:52] buttercookie42 commented on #4290
#2484

[2019-07-29 13:57] jonalmeida commented on #4218
We can remove this once 1.2 is released.

[2019-07-29 14:11] sv-ohorvath commented on #4240
Please keep in mind we could reproduce this without opening custom tabs, but there are no steps determined yet.

[2019-07-29 14:20] AmyYLee opened #4352 "[Library] History isn't saving and crashes"
Go into Library -> History

Expected: Seeing a list of sites I've visited

Actual:
No items in history list. Hitting "back" freezes and crashes browser

[2019-07-29 14:23] AmyYLee opened #4353 "[Library] History is not saved. Crashes when hitting back"
Go to Library -> History

Expected: See list of sites I've visited. Hitting back returns to Library level.

Actual: No history items are shown. Hitting back crashes the browser.

[2019-07-29 14:24] #4353 closed

[2019-07-29 14:37] IndefiniteBen commented on #3321
I believe default app link handling for intents is handled in the Android system settings, not in the app settings (at least it is on Q).

[2019-07-29 14:40] IndefiniteBen commented on #4344
Already reported in #3321, #3256 and #3349.

[2019-07-29 14:51] vladikoff commented on #4023
@isabelrios try again? @jrgm has deployed an update to the stage server

[2019-07-29 14:53] sv-ohorvath opened #4354 "[Bug] Set engine from Shortcuts>Search engine settings doesn't change immediately"
## Steps to reproduce
1. Tap the search bar. Tap Shortcuts.
2. Tap Search Engine settings.
3. Change the default search engine. Return.
4. Type a search and submit.
### Expected behavior
The engine selected at Step 3 is displayed in the search bar. The search is made on the selected engine.
### Actual behavior
The logo in the search bar is not updated immediately, and the search is made with the p

[2019-07-29 14:59] jonalmeida commented on #4178
Forgot to reply to this earlier: this looks possible since we see Twitter sending different messages to different app types (Whatapp/Gmail/Instagram). We may need to have finer intent filters or add the multiple urls as a string array extra.

[2019-07-29 15:08] mcarare commented on #3905
@sv-ohorvath Can you please check if the bug is still reproducing?

[2019-07-29 15:12] hugoh commented on #4344
Thanks @IndefiniteBen; missed those when searching for existing issues. I'm going to close it as a duplicate.

[2019-07-29 15:12] #4344 closed

[2019-07-29 15:20] sblatz commented on #4128
This ticket can't be QA verified since it's a code health ticket. I'm going to close as it's been finished.

[2019-07-29 15:26] sblatz commented on #1287
This animation would be blocked on a google library update too, yes.

[2019-07-29 15:30] isabelrios commented on #4023
@vladikoff this is working now! thanks! I can sign in using an stage account successfully :)

@csadilek Next step would be to add the pref so that we can modify these two lines of code to use stage while running the tests only. Sorry for my ignorance, but would that imply a lot of/important changes? Could you please guide us to do it if it is kind of trivial? If there is any other pref set that we

[2019-07-29 15:38] jonalmeida opened #4355 "(Un)subscribe FxA subscriptions when FxA disconnects/connects"
Do this in the `accountObserver` in the `BackgroundServices.kt`.

[2019-07-29 15:49] CloudyDino commented on #4192
If my pull request for this issue is accepted, I can do #3939 as well since it'll be very similar.

[2019-07-29 16:02] ekager commented on #4192
Thanks @CloudyDino we appreciate it! CC @vesta0 is this something you would want private mode to include? There is a contributor PR open.

[2019-07-29 16:03] chiragmantri commented on #2142
@asadotzler is this issue fixed? or is there any work item left for this?

[2019-07-29 16:14] fobo66 commented on #2142
I've fixed this, it appears to be working fine now

[2019-07-29 16:21] Mugurell commented on #4287
Just throwing it out there... sorry if it has been discussed.
Instead of imperative calls wouldn't it be better
- if the Activity would have it's own State for destinations (same possible destinations as in the nav_graph)
- use the `BrowserDirection` (and/or other properties) in a Reducer similar to what [is used in HomeActivity#openToBrowser()](https://github.com/mozilla-mobile/fenix/blob/4747f2c

[2019-07-29 17:02] sblatz commented on #4126
I'm moving this into the sprint in place of #4125 since that did not need a migration.

[2019-07-29 17:02] sblatz commented on #4125
This actually does not need a migration since it does not have a corresponding component and uiview file.

[2019-07-29 17:07] NotWoods commented on #4336
Fixed in Android Components 6.0.0

[2019-07-29 17:07] #4336 closed

[2019-07-29 17:07] #4090 closed

[2019-07-29 17:17] pocmo commented on #1753
AC-Follow-up: https://github.com/mozilla-mobile/android-components/issues/3935

[2019-07-29 17:25] thomcc commented on #3526
I think this is expected behavior. We'll sync redirects from desktop to desktop, I'm not sure why we wouldn't for mobile to desktop. Unless they aren't coming through as redirects?

CC @mhammond, who might have some thoughts.

[2019-07-29 17:26] vesta0 commented on #3901
Related A-C work: https://github.com/mozilla-mobile/android-components/issues/2350

[2019-07-29 17:28] vesta0 commented on #2833
Waiting for Fenix to be updated to the new A-C version.

[2019-07-29 17:30] pocmo commented on #3262
GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1564195

[2019-07-29 17:42] lime124 commented on #3860
works for me - thanks michelle!

[2019-07-29 17:43] lime124 commented on #3860
before adding the eng label - @topotropic is there anything further that needs to be done for the ticket before handing off to eng? thanks!

[2019-07-29 17:56] sblatz commented on #969
@vesta0

I want to push back against this one. That button simply transitions users to a new screen where they either "save to new collection" or "save to existing". I'm concerned adding an event for this would muddy our telemetry data (it's a save button, but the user hasn't actually saved any data yet once they've pressed it).

@AndiAJ

I'm confused. This should be currently differentiated by `t

[2019-07-29 18:18] csadilek commented on #4023
@isabelrios sure, for the Reference Browser UI tests we use a pref to set `testingModeEnabled` which is an engine setting, but otherwise similar: https://github.com/mozilla-mobile/reference-browser/blob/d2d922722e586e2b9c33f222eb2c5cafce214917/app/src/main/java/org/mozilla/reference/browser/components/Core.kt#L46

We could the same for `BackgroundServices` to decide whether or not FxA testing is e

[2019-07-29 18:20] jonalmeida commented on #2897
There isn't any a-c work required here any more.

[2019-07-29 18:21] jonalmeida commented on #3077
There isn't any a-c work required here.

[2019-07-29 18:28] pampasdev opened #4357 "Unable to add new search engine or edit existing ones"
### Why/User Benefit/User Problem
Currently we cannot add new search engine nor can we edit the existing ones.
### What/Requirements

- User should be able to add new search engines when he clicks on the search box or any text box which supports get request

- User should be able to edit the existing search engines this is useful in case the default search engine is not configured for regional sit

[2019-07-29 18:33] pampasdev commented on #4351
I am not sure about a better way for tab switching but I think Chrome's slide to switch tab is really awesome feature. All you have to do is keep sliding on the URL bar and it will switch between next and previous tabs.

[2019-07-29 18:53] cadeyrn commented on #4357
Duplicate of #1437.

[2019-07-29 19:40] colintheshots opened #4359 "[Bug] findBookmarkedUrl blocks the main thread causing ANRs on page loads"
## Steps to reproduce
1. Using a slower device, open Fenix.
2. Press the search button and type a URL.
3. Wait for the URL to load while running SysTrace.

### Expected behavior
The page should load without blocking the main thread or causing an ANR.

### Actual behavior
The page blocks the main thread to query the bookmarks database to check if the current URL is bookmarked. It may even ANR in ce

[2019-07-29 19:40] vesta0 commented on #969
@sblatz you are right, we don't want to track "save" if we are tracking both "save to new collection" or "save to existing". Thanks for pushing back!

[2019-07-29 20:07] jonalmeida opened #4360 "[Bug] Share screen doesn't indicate it is horizontally scrolling"
See [this tweet](https://twitter.com/followgryph/status/1154700716927266817) for context.

## Steps to reproduce
1. Open a page.
2. Click on the share button.

### Expected behavior
- There should be a bit of the next apps/devices in the horizontally scrolling list to indicate there are more items there. See first screenshot below for example.

### Actual behavior
- There is no indication. See sec

[2019-07-29 20:14] vesta0 commented on #3522
@liuche I think is was already addressed by A-S. Feel free to add the `eng:qa:needed` label if there is no Fenix work required, otherwise it can go on the Prioritized bug backlog. Thanks!

[2019-07-29 20:18] dannycolin commented on #4259
Looks like it has been resolved in 12070609. Closing for now.

[2019-07-29 20:18] vesta0 commented on #4192
I assume this would only work when using Gboard and SwiftKey right? But yes let's do it!

[2019-07-29 20:55] serovar commented on #4192
It will work with every keyboard that support this feature, for example also AnySoftKeyboard.

[2019-07-29 21:10] colintheshots commented on #1539
@mheubusch It's not merely deletion. Any modification of these folders is prohibited so the user cannot even select them. How's "Cannot edit default folders"?

[2019-07-29 21:37] AmroIb opened #4363 "[Bug] Can't open download apk files"
## Steps to reproduce
Downloading apk
### Expected behavior
To open apk normally after downloading
### Actual behavior
Can't open apk
### Device information
Name 	Fennec
Version 	68.0
Build ID 	20190711090008
* Android device:  OnePlus 6

[2019-07-29 21:41] lime124 commented on #4289
@AmyYLee do you happen to know if this is per spec or is it an unresolved item on the punch list?

[2019-07-29 21:42] #4363 closed

[2019-07-29 21:53] AmyYLee commented on #4241
I think we should follow android system's pattern of exiting with a back button instead of adding another “x” into the header - it seems a bit much to have 2 buttons that do a similar action in the header for settings which wouldn't be accessed regularly. @topotropic has been looped in as well.

[2019-07-29 21:53] #4241 closed

[2019-07-29 21:53] lime124 commented on #4323
we have an issue open for these fixes - adding it there.

[2019-07-29 22:09] ekager commented on #3355
@AmyYLee for the overlapping collections text should we ellipsize the button text or allow multi-line? There is a contributor in https://github.com/mozilla-mobile/fenix/issues/4323 happy to work on it

[2019-07-29 22:48] jyeontaek commented on #4125
Reopened, we decided it needs migration after all.

[2019-07-29 22:59] boek opened #4365 "[Bug] Visiting history while syncing causes an ANR"
## Steps to reproduce
On a fresh install turn on sync and visit history

### Expected behavior
Does not ANR

### Actual behavior
ANR

[2019-07-30 00:18] ekager opened #4366 "Add telemetry for db loads (ie history, bookmarks)"
We should add telemetry for (initial?) load times for db loads to make sure these operations are efficient and there are no regressions.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12800)

[2019-07-30 01:00] hawkinsw opened #4367 "Decide when to create the Gecko runtime"
There is a fundamental decision to make regarding when to instantiate the Gecko runtime.

There are three different options:

1. On application startup
In this option, the Gecko runtime is instantiated immediately upon starting the application. In other words, in FenixApplication.setupApplication().
The benefit to this approach is that the price of instantiation is paid early and the user will not

[2019-07-30 01:42] myakura opened #4370 "[Bug] tabs whose title have long non-latin characters expand favicon dimensions"
## Steps to reproduce

1. open a page with long title containing non-latin characters (e.g. https://www3.nhk.or.jp/news/html/20190729/k10012012571000.html )
2. open another tab which doesn't have that characteristics (e.g. https://www.mozilla.org/ )
3. open a new tab page and look at the favicons of the two

### Expected behavior

favicons have the same dimension and title lines up

### Actual beh

[2019-07-30 01:51] myakura commented on #4370
(ugh. GitHub mobile web doesn't have image uploading and Fenix doesn't have switching to desktop option :-( )

here's the screenshot.
![Screenshot_20190730-091042](https://user-images.githubusercontent.com/413984/62094389-f030cc80-b2b7-11e9-9dfa-378dfc3f1117.png)

[2019-07-30 02:21] mheubusch commented on #1539
thanks @colintheshots - Can't edit default folders

(use the less formal Can't, but otherwise lgtm)

[2019-07-30 06:37] AndiAJ commented on #4082
Hi @boek, not really sure if I've tested this the proper way, and perhaps you could help me out with some suggestions.

As per the attached video, I've set the language to Russian, meaning that it will automatically change the search engine to Yandex and did 3 searches using the Cyrillic alphabet (actually used the search suggestions because I had no idea what I was typing)

Baseline Ping 3ee5b6cf

[2019-07-30 06:43] hakkikaancaliskan commented on #4321
Just for info:
No problem on me with my own build based on latest changes. I've just changed gecko version.
📦: 6.0.0
🦎: 70.0a1-20190726094308

[2019-07-30 06:56] thewhitetulip commented on #4351
Or even firefox for android's way is better. In this version, you have collections and tabs on the same page. I have 10 collections and even if one of them is expanded, I can't switch tabs

[2019-07-30 07:19] softvision-miralobontiu opened #4371 "The "Report issue" is zoomed when desktop site is requested"
@softvision-miralobontiu commented on [Tue Jul 30 2019](https://github.com/mozilla-mobile/reference-browser/issues/851)

### Steps to reproduce
1. Open Reference Browser - three-dot menu - "Report issue"
2. In the opened tab, go to the three-dot menu and turn ON "Request desktop site".

### Expected behavior
- The https://github.com/mozilla-mobile/reference-browser/issues/new is opened in desktop

[2019-07-30 07:43] sv-ohorvath commented on #3905
Yes, still reproducing on Nightly 190730. Devices verified: Sony Xperia Z2 (Android 6.0.1), Samsung Galaxy Tab A 6 (Android 5.1.1)
![Screenshot_20190730-103140](https://user-images.githubusercontent.com/4037709/62110338-dcd13180-b2b6-11e9-991f-618f364c0ed0.png)

[2019-07-30 07:56] softvision-miralobontiu commented on #4198
I was able to reproduce with the latest Nightly build 190730 (#12110609). The exact STR are:
1. Make sure Firefox Preview has a clean profile,
2. Go to Reference Browser / Firefox / Chrome etc and share a link to Firefox Preview.
3. Firefox PReview is opened, but the Onboarding tour is displayed, not the shared link.

Reproducible with Motorola Nexus 6 (Android 7.1.1), Huawei P9 Lite (Android 6).

[2019-07-30 08:14] Dexterp37 commented on #4082
The above error is not related to this issue, it's a bug in the Glean SDK and it's being investigated in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1566757).

[2019-07-30 08:15] ValentinTimisica commented on #4265
Hi,

I investigated this issue and from the code ([reloadData method](https://github.com/mozilla-mobile/fenix/blob/9bc0122ce3cf6d5bdf2ad7eb8c3cc10dc6eb0479/app/src/main/java/org/mozilla/fenix/exceptions/ExceptionsFragment.kt#L105)) it appears that this is the expected behaviour (to return to the TP menu if the list is empty). I think we need the UX to confirm this.

[2019-07-30 09:31] pocmo commented on #4367
There's one important thing to consider here: Gecko is not only used for loading and rendering websites anymore. We also use it as our HTTP client - which means it is also indirectly needed for things like for example sending telemetry (glean), fetching the latest switchboard config, loading website icons that are no longer in the cache, ...

Given that constraint I feel like there's almost nothin

[2019-07-30 09:33] pocmo commented on #4367
CC @snorp @agi90 for input from the GV side.

[2019-07-30 09:55] topotropic opened #4372 "[Bug] Wrong header in permissions"
## Steps to reproduce
1. Go to permission.site and allow for example "Camera" permanently for this site so that it gets added to the exception list.
2. Go to Settings / Site permissions / Exceptions / permission.site / Camera and block it
3. Use back arrow to go back to permission.site overview

### Expected behavior
Header is site title (permission.site)

### Actual behavior
Header is "Camera"

#

[2019-07-30 11:50] sv-ohorvath opened #4374 "[Bug] High risk pages are loaded after a connection interruption"
## Steps to reproduce
1. Turn WIFI off.
2. Load http://testsafebrowsing.appspot.com/s/phishing.html
3. Turn WIFI on. Reload the page.
4. Load http://testsafebrowsing.appspot.com/s/malware.html
### Expected behavior
The malicious websites display an error page blocking the user to access them.
### Actual behavior
The malicious pages are loaded when the WIFI is back. This behavior is kept if you clo

[2019-07-30 11:58] AndiAJ opened #4375 "[Bug]Mute/Unmute a video displays a white/grey rectangle over the volume bar"
## Steps to reproduce
1. Navigate to https://www.formula1.com/en/video.html
2. Play any video
3. Tap on the video player volume button
4. Tap again on the video player volume button (to mute the video)

### Expected behavior
The volume button works properly and user has access to the volume control bar

### Actual behavior
When tapping the volume button a white rectangle show up over the volume co

[2019-07-30 12:19] sv-ohorvath opened #4376 "[Crash] Crashes after deleting open tabs browsing data"
## Steps to reproduce
1. Open one or more tabs.
2. Go to Settings>Delete browsing data.
3. Select Open tabs and delete data.
4. Tap back to return to the homescreen.
*Repeat if it doesn't crash on first try.
### Expected behavior
The homescreen is displayed, all tabs are deleted.
### Actual behavior
App crahses when returning to the homescreen.
[galaxy s8 logcat.txt](https://github.com/mozilla-mob

[2019-07-30 12:51] AndiAJ opened #4377 "[Bug]Rotating the device to landscape while adding a tab to a collection breaks the UI"
## Steps to reproduce
1. Long tap on a open tab
2. Rotate device to landscape
3. Minimize the keyboard

### Expected behavior
No UI issues.

### Actual behavior
The "Name collection" section and the text box are cut of.

### Device information

* Android device:
• Google Pixel 3a (Android 9 )
• Samsung Galaxy S8 (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

* Fenix version: Nightly Build #121

[2019-07-30 13:14] isabelrios commented on #4023
Thanks @csadilek! I think that could work!
cc @npark-mozilla

[2019-07-30 13:27] jesup commented on #4367
I'd suggest deferring GV startup (for browser launch, not for applink/etc cases) until either the app is 'idle' (whatever that exactly is defined as for this purpose), or on the first request to use it (HTTP).  Related, we should look at non-browsing actions that may invoke HTTP accesses and decide if those are deferrable until idle (or some later point), and if so do that.

[2019-07-30 14:15] makotom commented on #4286
Maybe, the issue in interest should be #4114.

[2019-07-30 15:36] sblatz commented on #4090
Thanks @NotWoods!!

[2019-07-30 15:41] csadilek commented on #4367
Thank you, @hawkinsw. Can you share some numbers with us? What is the performance impact you see when initializing the Gecko runtime on startup (vs. delaying e.g. to first page load as in Fenix 1.0?).

I'd expect that would be pretty rare, as likely they'd want to load a page / or clicked on a link?

My main concern is to (re-)introduce non-deterministic or complex bootstrap logic which I'd like t

[2019-07-30 15:44] ncalexan commented on #4367
@pocmo: re: https://github.com/mozilla-mobile/fenix/issues/4367#issuecomment-516342689, are we using Necko for fetching, say, experiment/FretBoard A/B testing stuff?  If that's true then damn the torpedoes: let's start Gecko immediately.

If that's not true, then I think we should do 3), with less non-determinism: wait for the very first UI paint then start Gecko.  (That's close to deterministic.)

[2019-07-30 15:46] ncalexan commented on #4367
It's worth noting that I want Fenix to expect Gecko to not always be available, i.e., to be lazy/possibly null.  It's very easy to accommodate this up front and almost impossible to retro-fit, and we expect to have a "remote GeckoView"/Gecko in a separate process eventually, which looks very similar to possibly null `GeckoRuntime`.

[2019-07-30 15:49] sblatz commented on #3903
This is happening because YouTube is actually changing the URL to `https://www.youtube.com?app=desktop`, so when we go to disable our desktop user agent and refresh we're still loading that desktop page.

@cpeterso this sounds like a GV bug, is it one you're aware of?

[2019-07-30 15:50] ValentinTimisica commented on #4354
Hi, this seems interesting. I will start to work on it.

[2019-07-30 15:53] sblatz commented on #3910
I filed an [ac issue](https://github.com/mozilla-mobile/android-components/issues/3960) for this as it will need to be addressed there. That being said, I agree and feel we should allow users to override our warning if wanted.

[2019-07-30 15:55] snorp commented on #4367
I don't think I really have an opinion here, as you should do whatever suites Fenix best. My intuition is that you want to start a `GeckoRuntime` ASAP since you'll likely need it anyway and it takes a non-trivial (.5s or so?) amount of time to start. That may not be backed up by perf metrics, though.

[2019-07-30 15:56] #4372 closed

[2019-07-30 15:59] agi90 commented on #4367
I also don't really have an opinion (first paint sounds nice, but it really depends on usability). I just want to point out that on slow android phones that have been in use for a while app startup like GeckoView can take *seconds*. So whenever we decide to launch GV it might introduce a really long stall in the app.

[2019-07-30 16:00] sblatz commented on #4322
This is the behavior:
![google maps bug](https://user-images.githubusercontent.com/4400286/62145399-41d15b00-b2a8-11e9-8540-df32e20c664f.gif)

I'm able to reproduce in Reference Browser--seems like a GV bug. I have [filed]()

Please note: if I let google maps continually do this reloading Fenix eventually crashes, but I'm not getting a real crash log :

[code]

[2019-07-30 16:12] agi90 commented on #2295
AC Issue: https://github.com/mozilla-mobile/android-components/issues/1705

[2019-07-30 16:12] boek commented on #4082
Awesome! Looks good to me :+1:

[2019-07-30 16:12] #4082 closed

[2019-07-30 16:29] vesta0 commented on #3321
We chose not to auto launch apps for security reasons as mentioned above, as well as respecting the user choice to open a link in Fenix vs launch an app. The current implementation addresses both. Closing for now but please feel free to re-open if new information surfaces.

[2019-07-30 16:39] vesta0 opened #4383 "[Meta] Turn on Bottom Dynamic Nav Bar"
We chose to disable the dynamic nav bar and make it fixed for MVP due to issues we were investigating in GeckoView. We should look into enabling this before the next major release since this was always the plan AND it's a highly requested user feature.

Dynamic top nav bar is #5694 and already done.

### User Story
As a user browsing in Fenix, I want the nav bar to auto-hide when I scroll down, so

[2019-07-30 16:45] pocmo commented on #4367
Yes, those components all use `concept-fetch` and we are using the GeckoView implementation since the recommendation was to have all requests go through our network stack. The only exception right now are third-party dependencies like Sentry or Leanplum that we can't bend to use something else that easily.

Is that worse than Fennec or the same? If I remember correctly Fennec will start Gecko imme

[2019-07-30 16:45] sblatz commented on #3548
Updated:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/62148143-fe79eb00-b2ad-11e9-86bf-cfe316345675.png">

[2019-07-30 16:50] #4012 closed

[2019-07-30 16:54] sblatz commented on #4012
This is literally my favorite animation in the app 😍

[2019-07-30 16:55] nahuhh commented on #3321
Focus and fenix are both on opposite spectrums. Both implementations on their own are bad.

I've attached videos of an app intent being used in both fenix and focus, using Google maps.

In focus when you tap on "directions" a pop-up opens that allows you to open the link in Google maps (full version)

In fenix when you tap on "directions" you are brought to the Google maps mobile website. Then you

[2019-07-30 16:58] jonalmeida commented on #3341
We can do this now that https://github.com/mozilla-mobile/fenix/pull/4297 has landed!

What needs to be done:
 - Remove the `UserAgentRewriter`.
 - Remove all it's usages.

This is the PR that added the change (which now need to be removed): https://github.com/mozilla-mobile/fenix/pull/3342/

[2019-07-30 17:07] nahuhh commented on #3321
Focus:
![20190730_130256](https://user-images.githubusercontent.com/50635951/62149919-d056d400-b2ca-11e9-88ae-c781b8b13aa9.gif)

Fenix:
![20190730_125859](https://user-images.githubusercontent.com/50635951/62149960-e06eb380-b2ca-11e9-9f66-cb71deacf4a5.gif)

[2019-07-30 17:08] agi90 commented on #4367
I don't think it makes a difference, any app on my old S7 takes ages to start up. I just wanted to point out that while 0.5s stall on a modern device once in a while might be acceptable, 3s is really jarring, especially because on clogged devices apps are evicted really frequently. On my S7 I can barely keep one app alive at the same time.

[2019-07-30 17:12] lime124 commented on #4265
@AmyYLee

[2019-07-30 17:18] eoger commented on #4338
I've got this.

[2019-07-30 17:19] jyeontaek opened #4384 "[Bug] Search Widget Crash"
## Steps to reproduce
1. Phone should not have any sort of speech-to-text library installed.
2. Place the search widget in home screen.
3. Press the microphone icon to open the voice search.
### Expected behavior
User should be notified in some way that speech-to-text search is not available.
### Actual behavior
The application crashes.
### Device information

* Android device: Galaxy S9
* Fenix v

[2019-07-30 17:21] lime124 commented on #599
adding to triage - idk how or what is needed to get this to a resolution. can it be discussed as a group and next steps/actions outlined? thanks!

[2019-07-30 17:24] jyeontaek opened #4385 "[Bug] Extra empty space in the middle of search widget"
## Steps to reproduce
1. Place search widget on home screen.
2. Adjust the widget size to 2x1.
### Expected behavior
The Firefox logo and microphone icon should be adjacent without much blank space in the middle.
### Actual behavior
There is extra space in the middle.
<img width="387" alt="Screen Shot 2019-07-30 at 10 22 29 AM" src="https://user-images.githubusercontent.com/11740983/62150953-181e3

[2019-07-30 17:28] boek commented on #4214
I also wasn't able to reproduce on my Pixel

[2019-07-30 17:28] #4240 closed

[2019-07-30 17:38] AmyYLee commented on #4265
@lime124 @ValentinTimisica Hi, when the user taps "clears all exceptions" button it should stay on the exceptions list screen so the user can see that the items have been cleared. Please fix to match the expected behavior. Thanks!

[2019-07-30 17:41] #3843 closed

[2019-07-30 17:42] liuche commented on #4214
@npark-mozilla will try to repro and report back.

[2019-07-30 17:44] cpeterso commented on #3903
I filed a new GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1570071

[2019-07-30 17:44] liuche commented on #4212
@apbitner can we switch this to Lorem Ipsum? This is confusing to users and this text is very English-specific (and doesn't even make sense if we were to translate).

[2019-07-30 17:45] liuche commented on #3522
Sounds good, let me see if this is already fixed w/ a qa-needed label.

[2019-07-30 17:48] sblatz commented on #4193
Should be addressed by https://github.com/mozilla-mobile/fenix/pull/3801.

Can QA please verify?

[2019-07-30 17:52] sblatz commented on #1290
Once the google library is updated we should just add this back. I will track this.

[2019-07-30 17:55] lime124 commented on #4385
@jyeontaek the screenshot i'm seeing doesn't seem to match up with verdi's spec. it looks like in the screenshot there's a lot more blank space which is causing it to look unbalanced as you point out. is something happening with the text that it's getting cut out?

For reference:
https://mozilla.invisionapp.com/share/UJQJP4IC7WN#/screens/349402550_Searchwidget

/cc @Verdi

[2019-07-30 17:55] cpeterso commented on #3910
GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1553265

[2019-07-30 17:56] jyeontaek opened #4386 "Search Widget feature discoverability through LeanPlum"
### Why/User Benefit/User Problem
As a user, it would be nice to know that Firefox Preview has a search widget available for use.

From the experimental perspective, we will add a basic search widget to Fenix that is discoverable by a segment of existing users (through LeanPlum) and collect usage data.
### What/Requirements
1. User can add the Fenix search widget to their home screen by one of the

[2019-07-30 17:58] sblatz commented on #1288
@vesta0 is specifically concerned about the "flash" here (when transitioning from browser to home screen). GV is hard to animate and turns black when we navigate away. One solution could be screenshotting the view like we do in focus.

@cpeterso do you know if there's any fix in the works to improve the "black screen flash" when navigating away from a GV engine?

[2019-07-30 18:02] liuche commented on #1284
We should carve out some time in an upcoming sprint to figure out the dependencies, as well as Form autofill. The goal of that investigation would be to list (GeckoView) dependencies, come up with a few scopes of issues.

This scoping and investigation should be done in Q2.
@vesta0 will file an investigation issue.

[2019-07-30 18:06] jyeontaek commented on #4385
In the screenshot, the widget is 2x1 cell size, so no text is placed inside (just like we want). No issues here.
The problem is that the spec says 2x1 cell size should be 100x50 dp, but this doesn't fully cover the cells and causes a couple other problems. So, I stretched out the widget to fully cover the cells (just like how Fennec does).

[2019-07-30 18:09] Verdi commented on #4385
What problems does this cause?

[2019-07-30 18:10] sblatz commented on #599
### Demo of Light Mode
![light mode 2019-07-30 11_09_54](https://user-images.githubusercontent.com/4400286/62153973-97166800-b2ba-11e9-8662-fe8515c15a0e.gif)

[2019-07-30 18:14] jyeontaek commented on #4385
All the unoccupied, invisible space in the cells are still part of the widget, so the user can move the widget by holding this space. The user also can't place another widget directly next to the search widget because of this invisible space.

[2019-07-30 18:16] sblatz commented on #4385
To be clear, this is the current behavior of Fennec as well:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/62154372-65ea6780-b2bb-11e9-8b6f-b8f4657ad0c3.png">

[2019-07-30 18:16] Verdi commented on #4385
That's fine. I think that's an acceptable trade-off.

[2019-07-30 18:22] Madis0 commented on #4383
Relevant idea with potentially better user security: #3805

[2019-07-30 18:34] sblatz opened #4387 "Clean up pop back stack in BrowserFragment"
In `BrowserFragment` we're currently popping the fragment browser fragment if there's no current session. We should clean this up to never navigate to the browser fragment if possible

This happens in this case: #4376

```if (getSessionById() == null) findNavController(this).popBackStack(R.id.homeFragment, false)```

[2019-07-30 18:40] sblatz commented on #4387
@boek mentioned we may be able to remove our dependency on sessionManager by just requiring a currentSession to be passed in.

We would need to rip out the flow of hitting browserFragment without a session (browser -> settings -> clear data -> back -> back)

[2019-07-30 19:05] hawkinsw commented on #4367
As far as I understand it, this is going to be the m.o. going forward. There is a special push (for security purposes) to use a single network stack in the application (which will obviously be the one in Gecko). Therefore, we will use Necko for fetching experiments which is done very early in the application startup process. Given this, I believe that your vote and suggestion is reasonable.

[2019-07-30 19:07] hawkinsw commented on #4367
Thank you for pointing this out. _I_ think that we need to be very aware of performance on not-high-end devices. However, the direction that I have received from _above_ is that we are focused on a particular set of high-end devices used by [_conscious choosers_](https://blog.mozilla.org/opendesign/making-a-conscious-choice/).

[2019-07-30 19:10] hawkinsw commented on #4367
Should we go with the on-demand option, I 100% agree. It would need to be ingrained in application developers that getting the runtime is a privilege that should be cherished and only require the runtime when it is absolutely necessary. Like you said, this is easy to do when creating new features but very difficult to retrofit.

[2019-07-30 19:10] hawkinsw commented on #4367
Thank you for the input!

[2019-07-30 19:32] AmyYLee commented on #419
@lime124 sizing UX effort as Medium here.

[2019-07-30 19:40] topotropic commented on #4306
@lime124 size M

[2019-07-30 19:49] jonalmeida commented on #246
Send Tab with Push support is ready for an MVP release.

cc: @vesta0 and @liuche for releasing (i.e. removing feature flag).

[2019-07-30 19:54] sblatz commented on #4322
Note: this is still happening on GV 69

[2019-07-30 20:02] AmyYLee commented on #4289
@lime124 @NotWoods Hi, there should be a 1dp drop-shadow behind the bottom bar. Please see the shadow we use for headers (referenced below). That same shadow should be applied above the bottom bar. ]]
<img width="461" alt="Screen Shot 2019-07-30 at 4 00 37 PM" src="https://user-images.githubusercontent.com/5992746/62161027-53842400-b2e3-11e9-81b0-250b70631c8e.png">

[2019-07-30 20:07] npark-mozilla commented on #4214
@abodea could you check whether it still repros on master with s10?  I tried remote testkit, but realized I need camera access. :( on moto g5 and pixel 2, I can't repro this issue after multiple tries. Thanks!

[2019-07-30 20:26] #4237 closed

[2019-07-30 20:28] pwd-github commented on #3844
I'm not sure if my opinion counts for anything, but in light of the new title, I'd personally much prefer to have the option from the BrowserMenu removed.

[2019-07-30 20:34] ekager opened #4389 "[Bug] Sign in to see bookmarks button not visible in landscape"
The best solution I think is to make the Button an adapter item ViewHolder in the RecyclerView like History has.

## Steps to reproduce
1. Have more than 1 screen of bookmarks and don't be signed in
2. Turn device to landscape

### Expected behavior
Can scroll to end of bookmark list and still see button

### Actual behavior
Sign in to see bookmarks button cut off in landscape

### Device informat

[2019-07-30 20:48] vrudesai opened #4390 "[Meta] Open In Private Browsing Mode"
This Meta will contain all the features and assets related to Opening In Private Mode (Focus Parity)

[Feature Brief](https://docs.google.com/document/d/11udhneY8nCmE2Dy_57rRlWgbG2y4YbBlGYgHHnw4l2o/edit?usp=sharing)

[Research for Focus for Fenix team](https://docs.google.com/presentation/d/1_k_lphwWbo9Zw_o9L7ngI5MLW6ovWXKsMENatxHBwnE/edit#slide=id.g25275a8168_0_425)

Known Requirements:

- [x] La

[2019-07-30 21:52] ekager commented on #2887
Is this still an issue? I thought the device names were resolved

[2019-07-30 22:12] ekager commented on #2020
I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1570167

[2019-07-30 22:27] eoger commented on #4338
Should get fixed by https://github.com/mozilla-mobile/fenix/pull/4391 which will include application-services@0.36.0 containing the fix.

[2019-07-30 22:29] ekager commented on #3829
Thank you @pocmo for the history I think I got the fix working :)

[2019-07-30 22:33] ekager commented on #2590
Since we're now on GV69 can we retest and close this if it's fixed? :)

[2019-07-30 22:34] jonalmeida commented on #2887
Yes it is. Putting the qa label, but the fix was in fxa so there were no changes that needed go in here.

[2019-07-30 22:34] sblatz commented on #4384
@jyeontaek I wonder if we could just hide the microphone if the user doesn't have one enabled. Is that possible?

[2019-07-30 22:44] ekager commented on #2527
We are now on 69 so let's test this. I can't reproduce locally anymore on the original site, but adding QA needed

[2019-07-30 22:45] ekager commented on #2184
We are now on GV69 so let's test this :) Adding QA Needed

[2019-07-30 22:46] ekager commented on #2070
Let's close this bug especially because we're now on 69. Please reopen if you're still seeing this.

[2019-07-30 22:50] sblatz opened #4395 "Create controllers for each LibState Component"
Every component refactored into LibState should have a controller. This is necessary for deeper testing that actually tests the functionality of these components. It also allows us to rip more logic out of the fragment!

### Logic Flow
A fragment will pass its necessary views to a controller, the interactor tells the controller when it needs to take an action, the controller takes that action, and

[2019-07-30 22:52] sblatz opened #4396 "Create LibState Controller for Bookmarks"
We should create a controller for Bookmarks

See `BrowserToolbarController.kt` (from #4279) for a good example or reach out to @sblatz or @csadilek for more clarification on the separation of responsibilities.

Note: this ticket also includes creating **tests** for this controller.

[2019-07-30 22:53] sblatz opened #4397 "Create LibState Controller for Browser"
We should create a controller for Browser

For #4395

See `BrowserToolbarController.kt` (from #4279) for a good example or reach out to @sblatz or @csadilek for more clarification on the separation of responsibilities.

Note: this ticket also includes creating **tests** for this controller.

[2019-07-30 22:54] sblatz opened #4398 "Create LibState Controller for History"
We should create a controller for History

For #4395

See `BrowserToolbarController.kt` (from #4279) for a good example or reach out to @sblatz or @csadilek for more clarification on the separation of responsibilities.

Note: this ticket also includes creating **tests** for this controller.

[2019-07-30 22:54] sblatz opened #4399 "Create LibState Controller for Search"
We should create a controller for Search

For #4395

See `BrowserToolbarController.kt` for a good example or reach out to @sblatz or @csadilek for more clarification on the separation of responsibilities.

[2019-07-30 22:55] #4395 closed

[2019-07-30 22:57] #3655 closed

[2019-07-30 22:57] #3656 closed

[2019-07-30 22:57] #3657 closed

[2019-07-30 22:57] #3658 closed

[2019-07-30 22:57] #3659 closed

[2019-07-30 22:57] #3660 closed

[2019-07-30 22:57] #3663 closed

[2019-07-30 22:57] #3664 closed

[2019-07-30 23:00] sblatz opened #4400 "Create LibState Controller for QuickSettings"
We should create a controller for QuickSettings

For #4395

See `BrowserToolbarController.kt` (from #4279) for a good example or reach out to @sblatz or @csadilek for more clarification on the separation of responsibilities.

Note: this ticket also includes creating **tests** for this controller.

[2019-07-30 23:01] csadilek commented on #4376
@sv-ohorvath great catch! :) We've landed a fix for this today, so it should be fixed in the latest build.

[2019-07-30 23:03] sblatz commented on #2488
As part of this, let's work on making the process **better**. It shouldn't be so error prone :)

[2019-07-30 23:08] sblatz commented on #4308
@colintheshots can you please place a priority on this so we know if it's critical to work on

[2019-07-30 23:08] sblatz commented on #4307
@colintheshots can you please place a priority on this so we know if it's critical to work on

[2019-07-30 23:10] sblatz commented on #4163
Can @colintheshots or @boek please fill in this ticket? It's unclear why it's a P2 as it stands.

[2019-07-30 23:11] sblatz commented on #4066
Closing this in favor of the child tickets 😄

[2019-07-30 23:11] #4066 closed

[2019-07-30 23:12] sblatz commented on #1098
@Delphine can you help point me in the right direction of who could explain if this is done or not?

[2019-07-30 23:18] cpeterso commented on #1288
Agi on the GV team guesses this problem is because use a `SurfaceView` which is not animatable. He looked into it a while back and it's really not an easy problem to solve. `TextureView` is the alternative which supports all of the animations, but it has a buffer which causes lag (Chrome stopped using it for this reason).

Screenshooting the view and painting it on top of GV content might be one o

[2019-07-31 01:21] liuche commented on #2271
@ekager since you did Dark Theme, could you take a quick look and make sure these look reasonable? Then @vesta0 can prioritize it in her Feature Backlog next time for sprint planning.

[2019-07-31 01:28] jonalmeida commented on #4355
Adding this to the 1.2 milestone so we don't forget to have it merged before we cut the 1.2 release.

[2019-07-31 02:27] #4355 closed

[2019-07-31 05:10] hawkinsw commented on #4367
On @csadilek's urging, I went through and did a refresh of my evaluation of the current state of startup performance. These are findings from nightly Fenix on a Pixel 2.

1. Roughly 5% of startup is spent initializing the Gecko runtime.
1. No fewer than three different components necessary to complete startup to the Home Screen require the Gecko runtime. Coupled with the requirement that the Gecko

[2019-07-31 06:07] ashkitten commented on #4042
as of today's switch to geckeview beta, this appears to be fixed on the play store

[2019-07-31 06:07] #4042 closed

[2019-07-31 07:24] AndiAJ commented on #2527
Hi, **verified as fixed** on Nightly Build **#12112106 from 30/7** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3  (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

[2019-07-31 07:26] abodea commented on #4214
Sorry for the late response, I tried to reproduce it again but with not so much success, as I mentioned [here](https://github.com/mozilla-mobile/fenix/issues/4214#issuecomment-513772108) I couldn't reproduce the issue all the time using **`(Samsung Galaxy s10+ Android 9) on the latest nightly build from 7/31.`**
I noticed that while being in `Approval` screen after selecting the `Confirm pairing`

[2019-07-31 07:50] Mugurell commented on #4396
Isn't this the same as #4128 ?

[2019-07-31 07:53] Dea1993 commented on #4332
i've a similar issue #4266 on some website with Xperia X (F5121) android 8.0, for example:
- amazon, when i search something, using the search box, then i click on X button (on the search box) to clear the search, automatically google chrome opens (and this isn't my default browser, infact my default browser is fenix).
- google groups, if you open a thread, and scroll down, to the bottom of the pa

[2019-07-31 07:59] Delphine commented on #1098
I don't believe this has been automated yet.
@Pike Could you please provide more info about where this is at. I believe you've been having regular discussions about this with the Fenix team, but not sure where that was at

[2019-07-31 08:13] Pike commented on #1098
@Callek is working on this.

[2019-07-31 08:20] pocmo commented on #4367
@ncalexan Can you elaborate on that? The thing I'm wondering is: Once we have Gecko in a separate process and `GeckoRuntime` in the main process not doing much anymore: Wouldn't it be possible for "GeckoView" to control when to create this separate process (lazily or when explicitly requested)? Which would take away a lot of the responsibility from the app. But I understand that this is a long ter

[2019-07-31 08:28] Mugurell commented on #4126
I'd like to work on this. Curious about the new architecture.

[2019-07-31 08:42] hawkinsw commented on #4367
I agree that this is really important -- thank you for reiterating it. It was this awkwardness to which I was referring as among the reasons why instantiating the Gecko runtime lazily would require a significant amount of software engineering resources.

Thanks again for emphasizing it!

[2019-07-31 08:53] sv-ohorvath commented on #4376
Doesn't crash on Nightly 190731. Verified on: Pixel (android Q), Galaxy S8 (android 9), Samsung Galaxy Tab A 6 (Android 5.1.1)

[2019-07-31 08:53] #4376 closed

[2019-07-31 09:02] softvision-miralobontiu commented on #2593
This is not merged yet.
I've tested on the latest Nightly build 190731 (#12120612) with Google Pixel 3 (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1). The onboarding is not updated yet, and I am signed in Fennec on the same device.

[2019-07-31 09:10] AndiAJ commented on #2184
Hi, fixed for pressing links, on the other hand still happening when pressing the "Go" button from the above mentioned page.
Tested on **Nightly Build #12112106 from 30/7** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► Video Google Pixel 3a
![20190731_1157

[2019-07-31 09:11] softvision-miralobontiu commented on #3522
Verified as fixed on the latest Nightly build 190731 (#12120612) with Google Pixel 3 (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-07-31 09:20] AndiAJ commented on #2606
Hi, **verified as fixed** in both portrait mode as well as in landscape view on **Nightly Build #12112106 from 30/7** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

<details>
    <summary>Pics</summary>

![Screenshot_20190731-121359](https://user-images.githu

[2019-07-31 09:31] abodea opened #4405 "[Bug] The Spotify app is always opened when accessing any playlist from Fenix"
## Steps to reproduce
1. Launch Fenix.
2. Access www.spotify.com.
3. Login with valid credentials.
4. Access any playlist from spotify.
### Expected behavior
The playlist is correctly opened in fenix browser.
### Actual behavior
Spotify app is opened every time when accessing a playlist on Fenix.
### Device information

* Android device: **`Samsung Galaxy s10+(Android 9).`**
* Fenix version: **`La

[2019-07-31 09:35] abodea commented on #4214
@npark-mozilla if you consider that the zoom issue described above is not related, I can close this issue.

[2019-07-31 09:44] abodea commented on #1750
Verified as fixed on the latest **`Nightly 7/31 with Samsung Galaxy s10+(Android 9).`**

[2019-07-31 09:52] AndiAJ commented on #4198
Hi, still happening on Nightly Build #12112106 from 30/7  using a OnePlus A3 (Android 6.0.1)

@ekager Could you please help me regarding another matter?
On other devices, e.g. Google Pixel 3a (Android 9) after sharing a tab from Chrome to Fenix the tab opens as is supposed to, but if I press the tab count icon the on-boarding screen shows up.
Should the on-boarding screen still be present?

► Vide

[2019-07-31 09:57] abodea commented on #4107
Hi, I want to add a quick update about this issue:
Can we make the navigation bar to be transparent too or to match this #1750
The browsing toolbar gradient was updated too and with the current colors on the side it's not looking very good.
![Screenshot_20190731-124752_Firefox Nightly (1)](https://user-images.githubusercontent.com/42831109/62202318-c0ee8e00-b391-11e9-8339-968a2f5e381e.jpg)
![Scree

[2019-07-31 10:02] sv-ohorvath commented on #610
Can we consider this fixed with: https://github.com/mozilla-mobile/fenix/issues/4193 ?

[2019-07-31 10:09] softvision-miralobontiu commented on #3886
This is not fixed yet on the latest Nightly build 190731 (#12120612) with Google Pixel 3 (Android 9), Sony Xperia Z5 Premium (Android 7.1.1), and Windows 10.

This is how the device's names are displayed:

![Screenshot_2](https://user-images.githubusercontent.com/40694158/62203622-32c7d700-b394-11e9-8184-77c6e39083b9.png)

[2019-07-31 11:25] mcarare commented on #3583
@softvision-miralobontiu Did you you use Voice Assistant (not Talkback) in all tests? By default, Voice Assistant types letters from keyboard by double tap, bot single tap. There is also a setting to enable QuickTyping (or "Rapid key input" in some versions). If, so, the behaviour described is as expected.

[2019-07-31 11:26] sv-ohorvath commented on #3548
Verified as fixed on nightly 190731, devices: Samsung Galaxy Tab A 6 (Android 5.1.1), Sony Xperia Z2 (Android 6.0.1), Xiaomi MiPad 2 (Android 5.1).

[2019-07-31 11:30] softvision-miralobontiu commented on #3583
I used Voice Assistant.

[2019-07-31 11:31] sv-ohorvath commented on #4193
@sblatz The button size is now larger, but the touch target is the same 24dp, according to the A11y scanner. Is that enough to close this?

[2019-07-31 11:33] mcarare commented on #3583
Then I think this can be closed, as it is the expected behaviour of Voice Assistant.

[2019-07-31 11:34] mcarare commented on #4242
@sv-ohorvath can you please reproduce this?

[2019-07-31 11:35] sv-ohorvath opened #4407 "[Bug] No bookmark folder names in edit mode"
## Steps to reproduce
1. Edit a bookmark or a bkm folder.
2. Tap the parent folder to choose a folder.
3. Observe the folders list.
### Expected behavior
Folders have names.
### Actual behavior
Folder names are not displayed
### Device information

* Android device: Galaxy S8 (Android 9), Samsung Galaxy Tab A 6 (Android 5.1.1)
* Fenix version: Nightly 190731

[2019-07-31 11:46] ValentinTimisica commented on #4199
Hi, I will start to work on it.

[2019-07-31 11:47] AndiAJ commented on #3905
Hi, **verified as fixed on Nightly Build #12112106 from 30/7** using the following devices:
• Google Pixel C (Android 8)
• Samsung Galaxy Tab A (Android 7)
• Huawei Media Pad M3 Lite 10 (Android 7)

![Screenshot_20190731-142945](https://user-images.githubusercontent.com/51314259/62209353-116de780-b3a2-11e9-8dca-1a27541b86d6.png)

[2019-07-31 11:47] #3905 closed

[2019-07-31 11:49] sv-ohorvath commented on #4242
Cannot reproduce this on Nightly 190731.

[2019-07-31 11:49] #4242 closed

[2019-07-31 12:01] sv-ohorvath opened #4408 "[Bug] The tracking protection icon in Settings has the wrong color"
## Steps to reproduce
1. Go to Settings
2. Observe the TP icon in the Settings panel and inside the TP setting panel.
### Expected behavior
The icon is black like the rest.
### Actual behavior
The icon is light gray.
### Device information

* Android device: Nexus 5 (Android 6.0.1), Galaxy S8 (Android 9)
* Fenix version: Nightly 190731 (not reproducing on 7/30)

[2019-07-31 12:09] AndiAJ commented on #4389
Hi @ekager , I wasn't able to reproduce the above described issue on **Nightly Build #12112106** **from 30/7** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

No issues regarding the Bookmarks button in landscape mode with or without being signed in.
I would kindly ask you to help us with a screen shot or a video to have a better overview of the pr

[2019-07-31 12:26] sv-ohorvath commented on #2887
Verified this is fixed on Nightly 190731, mobile devices have the proper icons now.

[2019-07-31 12:35] sv-ohorvath opened #4409 "[Bug] Sending tabs between Fenix and Fennec doesn't work, the device list doesn't show the other app"
## Steps to reproduce
1. Login with the same account on Fenix & Fennec (and desktop to check that they are connected).
2. Open a web page in Fenix and check the devices in Send to device.
3. Open a page in Fennec and tap Share>Send to other devices. Check the devices list.
### Expected behavior
Both show the devices connected in the other app. Can send tabs between the apps.
### Actual behavior
Th

[2019-07-31 12:59] AndiAJ commented on #2590
Hi, **verified as fixed** using both Gboard and Switkey on **Nightly Build #12112106** from **31/7** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)

► Video Huawei Mate 20 Lite - **Gboard**
![20190731_154935](https://user-images.githubusercontent.com/51314259/62213540-d4a6ee00-b3ab-11e9-87f1-2a68aa13f749.gif)

► Video Huawei Mate 20 Lite - **Switke

[2019-07-31 13:25] AndiAJ opened #4410 "[Bug] Disable "Add tab" from the Collections section if there are no open tabs"
## Prerequisites
Have a Collection created and no open tabs.

## Steps to reproduce
1. Tap the 3dot button from the created collection
2. Tap "Add tab"

### Expected behavior
Since there are no open tabs to be added to the existing collection, the "Add tab" button shouldn't be active or available.

### Actual behavior
After tapping the "Add tab" button, the Tabs Selection list pops up containing a

[2019-07-31 13:41] softvision-miralobontiu opened #4411 "[Bug] Tabs sent to Google Pixel 3 are opened in Chrome"
## Steps to reproduce
1. Sign in with your account on two devices, one of them should be Google Pixel 3 (Android 9).
2. Send a tab from one device to another.

### Expected behavior
A notification is displayed, with the sent tab. When the notification is tapped, the sent tab is opened in Firefox Preview.

### Actual behavior
A notification is displayed, with the sent tab. When is tapped, the sent

[2019-07-31 13:57] jonalmeida commented on #4411
If your default browser is Chrome then this is expected behaviour.

[2019-07-31 13:58] jonalmeida commented on #4409
Unfortunately we don't support sending tabs to Fennec or vice-versa only To desktop and iOS.

[2019-07-31 14:12] softvision-miralobontiu commented on #4411
Thanks! After I set Firefox Preview as default, the sent tabs are opened in Firefox Preview.
I will close this.

[2019-07-31 14:12] #4411 closed

[2019-07-31 14:16] csadilek opened #4412 "[Bug] lateinit property browserInteractor has not been initialized"
We have a new crash in Sentry for the latest changes in `BrowserFragment`: https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6102361/

[2019-07-31 14:26] sv-ohorvath commented on #4409
Ah, I wasn't aware of that. I can close this then. Thanks!

[2019-07-31 14:26] #4409 closed

[2019-07-31 14:33] boek commented on #4199
@ValentinTimisica awesome! Feel free to ask if you need any clarification :)

[2019-07-31 14:59] npark-mozilla commented on #4214
@abodea I don't think it's the related issue - perhaps we can close this issue until it happens more frequently?

[2019-07-31 15:01] abodea commented on #4214
@npark-mozilla yes we can close it, it was a strange behavior. In case I will see it again/more frequently I will re-open the issue.

[2019-07-31 15:01] #4214 closed

[2019-07-31 15:02] jonalmeida commented on #3886
I mentioned this offline, but it seemed a conflict resolution when merging this PR seems to have broken it's functionality: https://github.com/mozilla-mobile/fenix/commit/8ff77b90f388187e04f6a376702c6a10873ea49e

[2019-07-31 15:05] jonalmeida commented on #3341
For QA:
 - Testing this would be to open addons.mozilla.org and verify that addons _cannot_ be installed on Fenix.

[2019-07-31 15:14] abodea commented on #4359
I did some testing but I couldn't identify any issues:
### Please note the following:
| Device | Internet connection |Status    |
| :---         |     :---:    |     ---: |
| **Samsung Galaxy S10+(Android 9)**   | Wi-Fi   | OK ✅   |
| **Samsung Galaxy S10+(Android 9)**   | Mobile data **2G only**    | OK ✅     |
| **Samsung Galaxy S10+(Android 9)**   | Mobile data **3G only**     | OK ✅     |
| **

[2019-07-31 15:30] sblatz commented on #4193
No, let's keep this open until that is addressed :) Thanks!

[2019-07-31 15:31] sblatz commented on #4396
@Mugurell No, each libstate needs a controller too. This is specifically addressing that portion.

[2019-07-31 16:14] #4412 closed

[2019-07-31 16:49] sblatz commented on #2203
Find in page bar with drop shadow

<img width="350" alt="Screen Shot 2019-07-31 at 9 46 48 AM" src="https://user-images.githubusercontent.com/4400286/62231177-5715ba80-b378-11e9-935f-bbd1cb06b08e.png">

[2019-07-31 16:54] ncalexan commented on #4367
Sure.  If we had a separate Gecko parent process, then it's true that the `GeckoRuntime` API instance in the app process could always be non-null.  I expect that consumers of that instance will, eventually, want to know if Gecko is running and accommodate cases when it is not.  (I.e., not every problem fits into the pattern we have now where start Gecko on demand and enqueue the relevant request t

[2019-07-31 18:12] jyeontaek commented on #4384
I believe it's possible. However, if the user installs the speech-to-text library and wants the icon to reappear, the user will need to readjust the widget size or wait at least 30 minutes for the app to check if the library is installed.

[2019-07-31 18:17] sblatz commented on #4007
Labeling this as p5 until we have a decision :)

[2019-07-31 18:19] liuche commented on #4390
Once any of these sub-bugs are ready for eng, please move them into the Prioritized Feature Backlog!

[2019-07-31 18:20] sblatz commented on #4371
I'm confused. I'm not seeing this in Fenix. Is this a reference browser only issue? @softvision-miralobontiu

[2019-07-31 18:22] sblatz commented on #3755
This only happens after a cold boot if a user is in night mode. This is because we must re-create the activity after launching it to apply the dark theme. This is likely very difficult (or impossible) for us to fix without completely changing how we handle theming in the application.

[2019-07-31 18:24] sblatz commented on #2933
p3 but blocked on a decision about keeping the custom sheet or not.

[2019-07-31 18:27] sblatz commented on #2863
Similar to a comment raised in https://github.com/mozilla-mobile/fenix/issues/1002. This is currently not possible as we're waiting on a new GV API that will isolate each session.

@cpeterso any idea how far along that is?

[2019-07-31 18:28] sblatz commented on #3915
Sounds like this is probably a GV or AC issue. Are you able to reproduce in Reference Browser?

[2019-07-31 18:30] sblatz commented on #3811
This is not really an engineering ticket, and I'm not sure where it should live. @lwa-moz is this something you could file somewhere?

[2019-07-31 18:31] liuche commented on #3860
Talking about this in the Fenix Leads meeting:
Let's get some dates on this, so we can plan better.
@topotropic could you add some dates here, for the timebox of deciding what the scope of next steps will be, and filing the next step UX/eng bugs?

[2019-07-31 18:31] sblatz commented on #3604
@mheubusch are you able to verify the copy of this?

[2019-07-31 18:32] sblatz commented on #4024
I'm not able to reproduce this on the latest nightly. Please verify this is still happening :)

[2019-07-31 18:33] sblatz commented on #3764
@cpeterso is there a GV bug filed for this?

[2019-07-31 18:38] liuche commented on #3262
This is a Material Component, but there are a few choices to be made - like color, distance of pull. Just requires a few chosen values.

[2019-07-31 18:41] 1known opened #4415 "Approach the UI to the one of Firefox android and Firefox Focus android"
Firefox for android currently has a better UI along with Firefox Focus, compared to Firefox Preview. Not only Preview feels cluttered and full of intrusive elements, the url bar on bottom makes things worse.

Simpler and cleaner interface similar to the one of Firefox Focus and Firefox for Android

[2019-07-31 18:43] #4265 closed

[2019-07-31 18:44] #4339 closed

[2019-07-31 18:44] mheubusch commented on #3262
Details on available decisions: https://developer.android.com/training/swipe/add-swipe-interface

[2019-07-31 18:50] liuche commented on #4155
Talked about this issue - it's a Should, so if it's not too much work it'll be a nice benefit and UX should pick it up and timebox, but should be skipped if we're behind on UX work.

[2019-07-31 18:51] colintheshots commented on #4359
Given that the STR cannot be confirmed, we should consider lowering the ANR rate of incidence for this particular stack trace in the field to be success. Monitoring Sentry should show whether it worked. Thanks, @abodea! That was an impressive array of devices to test.

[2019-07-31 18:53] liuche commented on #2917
Is this dependent on Collections work? If it's a small effort for UX and eng, we should do it.

Very quick UX question:
- should we just fail silently and not add it
- should we show a toast explaining what happened
- Fail silently and move item to the "newest" spot?
- something else?

[2019-07-31 18:53] vesta0 opened #4417 "[Meta] Find downloaded files in browser"
[Feature Brief](https://docs.google.com/document/d/1s9ISItNnM38NBk9ixOADOT4iZBUqKNtt6HC45sbEKa8/edit#)

### User Story
As a user, I want to be able to easily find and manage my downloads in Fenix, so I can have control over my downloaded files.

### Dependencies
A-C project board [here](https://github.com/orgs/mozilla-mobile/projects/34)

### Acceptance Criteria

- [x] #1657 Integrate with GeckoVi

[2019-07-31 18:54] liuche commented on #4295
Questions: Where does this toggle go? What language do we use with this?

@mheubusch will take care of this, doesn't need additional UX.

[2019-07-31 18:58] liuche commented on #934
Keith Willowhawk is the PM for the Fennec Migration - @vesta0 will check with Keith about his UX resourcing for this plan.

[2019-07-31 19:29] benryanau commented on #934
Assuming plans incorporate..:
Opt-in UX decision reqd to initiate migration process.

[2019-07-31 19:51] sblatz opened #4418 "Generate notifications when UI tests fail on master"
We should generate a notification and potentially automatically back out changes that fail UI tests on master.

[2019-07-31 20:29] hawkinsw opened #4419 "[Bug] The fix for #4089 introduces startup performance regression"
#4089 invokes `components.utils.publicSuffixList.prefetch()` which causes the instantiation of utilities which triggers the (very) long process of synchronously loading the entire list of search engines.

Not doing this prefetch here will cause the first invocation of `String.urlToTrimmedHost()` to be slower than normal (while that list of public suffixes is loaded). That said, I see no place in t

[2019-07-31 21:01] boek commented on #4199
@ValentinTimisica I forgot that there was already a PR open for this :disappointed:

[2019-07-31 21:30] Dea1993 commented on #4266
i've tried clearing cache and data, but not solved the problem, then i've unindtalled sn instslled it again and problem seems solved

[2019-07-31 21:31] Dea1993 commented on #4332
reinstalling the spp solved my problem, have you tried?

[2019-07-31 21:46] ekager commented on #4198
I think the onboarding should show the first time you visit the homescreen. Can we get a confirmation from UX?

[2019-07-31 21:56] ekager commented on #4198
@AndiAJ you're still seeing the shared link not open in browser? Or are you just seeing the onboarding when you go to home like the last comment above? ^

[2019-07-31 22:17] ekager commented on #4332
This is no longer happening on master as far as I can tell. Are you all still seeing this problem?

[2019-07-31 22:22] ekager commented on #2917
Hm so one question I have is that tab collections are "sessions" with a back history. I agree it's not ideal to have seemingly duplicate URLs, but I don't think we should be checking for duplicates based on the most recent URL when there could be more?

[2019-07-31 22:23] lwa-moz opened #4421 "[Meta] Integration of Leanplum Events, Attributes & Deeplinks"
### Why/User Benefit/User Problem
As a Marketer I want to be able to educated users about useful features or services that are relevant to the user at their specific stage of using the product. I want to make sure I am not providing redundant or irrelevant information so as to ensure I am providing value to the user and not annoying them.

I also want to ensure that when a user is being told about

[2019-07-31 22:30] ekager commented on #4266
I'm going to close this and we can monitor weirdness in #4332 which was a similar issue

[2019-07-31 22:30] #4266 closed

[2019-07-31 22:39] ekager commented on #3764
This is just a TP issue. With TP off these images load after a short delay. Closing

[2019-07-31 22:39] #3764 closed

[2019-07-31 22:47] jawadalkassim opened #4424 "Sync collections (restore in Fenix)"
**Description**
Save collections to Firefox Account to access sites and collections order when i sign in again with  a new device .
**benefits**
When signing in with Firefox account
should got a choice to restore Collections backup from the server,
add new sync option in Firefox preview  to sync collections with bookmarks and history.

┆Issue is synchronized with this [Jira Task](https://mozilla-h

[2019-07-31 22:55] jawadalkassim commented on #4408
New icon is ugly with the the line btw, don't change Tracking Protection icon.

[2019-07-31 22:58] ekager commented on #2994
Are you still seeing this crashing? I'm not able to reproduce in master

[2019-07-31 22:58] cpeterso commented on #2863
GV needs to support e10s-multi so each tab has its own content process. bholley is investigating Android e10s-multi in Q3, but we don't have an ETA yet.

https://bugzilla.mozilla.org/show_bug.cgi?id=1530770

[2019-07-31 23:08] hawkinsw commented on #4419
The near-term fix for this is that we should simply revert #4089. Keeping `publicSuffixList` outside utils means that we can `prefetch()` at will without incurring the cost of invoking the entirety of the utils package (which means that we had to build the entire list of default search engines -- a significant performance penalty).

[2019-07-31 23:11] ekager commented on #2909
Have you still been seeing this in the latest builds @andreicristianpetcu ? :) We just updated to a new GV version

[2019-07-31 23:12] hawkinsw commented on #4419
I realize now that the initial comment for the issue was not entirely accurate. The call to `prefetch()` is not the regression, _per se_. The regression is actually the fact that we are calling it through the utils object which, as I said above, instantiates the entire list of search engines.

[2019-07-31 23:16] hawkinsw opened #4425 "[Bug] publicSuffixList.prefetch() should not block"
Currently we believe this method is reducing perf during startup: we should mitigate it.

## Acceptance Criteria
- See if this is reducing perf during startup. If not, deprioritize this issue
- Refactor `PublicSuffixList` so that `prefetch()` is not blocking (consider wrapping in `async { }`)

---

cc @csadilek @jonalmeida

See #4420

[2019-08-01 00:01] #4419 closed

[2019-08-01 00:11] csadilek opened #4427 "[Bug] Resuming from BrowserFragment might land user on HomeFragment"
This is not a regression, but we have a bug / design issue here. If the OS decides to free up memory, before the app is resumed, users will end up on the `HomeFragment` instead of the `BrowserFragment`.

The reason is a race condition between restoring sessions from disk (which for performance reasons is done on an IO thread in Fenix) and creating the `BrowserFragment`. By the time the fragment's

[2019-08-01 01:59] CloudyDino commented on #4067
I'd love to work on this and give it a try!

[2019-08-01 02:53] lime124 commented on #4390
sized at a M per Amy.

[2019-08-01 03:00] lime124 commented on #4295
hey @mheubusch can you add a sizing estimate please? i just created labels for this purpose prefixed with ux:[s, m, l, xl]. thanks!

[2019-08-01 03:01] lime124 commented on #4246
@bifleming @vesta0 @liuche - this is hanging out in the UX column but it's done. where should we move it to?

[2019-08-01 03:17] ekager commented on #3530
Can't see this on master on Pixel 3, adding QA needed

[2019-08-01 03:19] ekager commented on #3197
From the Bugzilla issue it looks like a patch landed in 69 which Fenix now uses that will improve this, but there may be issues that remain.

[2019-08-01 03:23] ekager commented on #4352
Dupe of #4137

[2019-08-01 03:23] #4352 closed

[2019-08-01 03:23] ekager commented on #4365
Do we think dupe of #4137 ?

[2019-08-01 03:28] ekager commented on #1427
Adding the good first issue label :)
Whomever picks this up will have to add a click listener to the favicon view here that will enter edit mode like long pressing currently does.
https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/library/history/viewholders/HistoryListItemViewHolder.kt#L41

[2019-08-01 03:35] ekager commented on #2037
I think it would also be more helpful to do #482 (deduping/merging equal results)
In AC see: https://github.com/mozilla-mobile/android-components/issues/1368 and https://github.com/mozilla-mobile/android-components/issues/1367

[2019-08-01 03:46] ekager commented on #3392
Are you still seeing this issue? I tried a few of these domains and they looked better than the screenshots above now

[2019-08-01 03:49] ekager commented on #3329
This is still happening, but opens as a custom tab now so I'm going to close this

[2019-08-01 03:58] ekager commented on #3431
This doesn't happen with Chrome but does happen with Fennec. I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1570559

[2019-08-01 04:00] ekager commented on #3417
I think this is a good idea for the future! I added a similar graphic for ETP so maybe UX has more ideas about this

[2019-08-01 04:04] ekager commented on #3506
Have you continued to see this? @agi90 This is definitely a Samsung... feature ... :)

[2019-08-01 04:07] ekager commented on #3306
Looks like
"google.com cats" is a search
but google.com/ cats" is treated as a URL.
This is probably something AC would have to implement through the toolbar

[2019-08-01 04:09] ekager commented on #3570
I was able to right swipe to the hamburger menu on latest master with talkback on. Adding QA needed label to retest :)

[2019-08-01 04:09] ekager commented on #3578
We auto close these now once you've been authenticated. Closing this. Please reopen if I misunderstood.

[2019-08-01 04:10] boek commented on #4128
@sblatz It's a code health ticket, but feature code has been touched. We should definitely do a small smoke test with bookmarks to make sure we didn't cause any regressions :)

[2019-08-01 04:10] ekager commented on #3573
Hm I am tempted to close this because you have only seen it once and that seems like a system bug possibly? I am going to close but feel free to reopen if you have seen it again or strongly disagree

[2019-08-01 04:12] boek commented on #4124
For QA: We refactored the browser toolbar (URL input / menu). Could we just get a verification that we didn't cause any regressions? :+1:

[2019-08-01 04:13] ekager commented on #3577
I agree with @kbrosnan once you've pressed on Gmail that will be in their app. Closing this

[2019-08-01 04:13] thesillypeanut commented on #4292
I'm having the same problem on a OnePlus 5T device.

[2019-08-01 04:15] boek commented on #4012
same.

[2019-08-01 04:16] ekager commented on #3614
Closing for #1648

[2019-08-01 04:20] boek commented on #4040
@ekager Did you mean to reference this ticket with that commit?

[2019-08-01 04:20] ekager commented on #3790
Using the Fenix toggle worked for me on the first try on latest build. Could you please retest?

[2019-08-01 04:22] boek commented on #4125
For QA: We refactored the sync/account settings UI. Could we get a smoke test to verify we didn't introduce any regressions?

[2019-08-01 04:23] ekager commented on #4040
I think that will resolve this issue? @ckarlof could you let us know if this is better in tomorrow's build? :)

[2019-08-01 04:23] boek commented on #4040
I'm a dummy! @ekager is right!

[2019-08-01 04:24] #4359 closed

[2019-08-01 04:25] ekager commented on #3803
Moving this makes sense to me, but tagging UX

[2019-08-01 04:25] boek commented on #4359
@colintheshots Looks like this is fixed? Feel free to re-open if there is any follow up needed :)

[2019-08-01 04:25] ekager commented on #3777
@sblatz I see a PR referencing this, can this be closed or is this still something you're working on?

[2019-08-01 04:27] ekager commented on #3845
Closing this in favor of https://github.com/mozilla-mobile/fenix/issues/4199 you will no longer be able to delete nothing

[2019-08-01 04:27] #3845 closed

[2019-08-01 04:36] ekager commented on #3902
Disabling TP displays the image content, closing

[2019-08-01 04:36] #3902 closed

[2019-08-01 04:39] ekager commented on #3922
Adding the good first issue label. Whomever picks this up will need to add an accessibility announcement here in `HistoryView`
https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt#L138

[2019-08-01 04:42] ekager commented on #3898
Filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1570566

[2019-08-01 04:44] ekager commented on #3947
Cc @vladikoff is it expected that requesting the desktop version of the fxa sign in would never load?

[2019-08-01 04:46] ekager commented on #3863
@mikeGolf08 by omnibox do you mean awesomebar? Did you have suggestions disabled in Settings -> Search?

[2019-08-01 04:51] ekager commented on #3926
I'm not sure what to do with this ticket because it's currently working as intended. I'm going to close it for now because I know UX is working on a collections redesign

[2019-08-01 04:51] #3926 closed

[2019-08-01 04:53] ekager commented on #3966
This seems to be fixed, closing!

[2019-08-01 04:53] #3966 closed

[2019-08-01 04:56] ekager commented on #3970
Could we retest? I can't reproduce

[2019-08-01 04:57] ekager commented on #3973
Can we retest? Works for me in current build

[2019-08-01 05:00] ekager commented on #3975
Correct. With TP disabled the tweets appear. Closing this

[2019-08-01 05:00] #3975 closed

[2019-08-01 05:13] ekager commented on #3075
We fixed some history layout and list issues this sprint. Could you possibly report back if you're still seeing this in the latest builds?

[2019-08-01 05:17] ekager commented on #4050
Font inflation is off for automatic font size now and the bugzilla links looks fine to me. I'm closing this for now until I get more direction from the GV team about what Fenix should do here

[2019-08-01 05:17] #4050 closed

[2019-08-01 05:22] ekager commented on #4102
I'm not sure there's much risk here in updating (Version will be in `Dependencies.kt`). I've added the good first issue so a contributor can pick this up but if it needed immediate attention let me know

[2019-08-01 06:12] andreicristianpetcu commented on #2909
Seems fine now. Will open a new issue if I see it again. Thank you @ekager

[2019-08-01 06:36] julKali commented on #3790
Since the issue was opened derStandard updated their website and thereby completely changed their layout/design. You cannot reproduce this issue anymore.

[2019-08-01 06:39] reinhart1010 commented on #3392
I can now confirm this is fixed, though I have not re-tested all the SLDs.

![Screenshot_20190801-133336_Firefox Preview](https://user-images.githubusercontent.com/17312341/62270881-5573f180-b461-11e9-96cd-f35a8c637ad7.jpg)

1. https://kominfo.go.id/
2 .http://binus.ac.id/
3. http://student.binus.ac.id/
4. https://kbbi.kemdikbud.go.id/
5. https://privy.id/

https://www.google.co.id/ now returns to

[2019-08-01 07:34] AndiAJ commented on #3970
Hi, **still reproducible** on the latest **Nightly Build #12130027 from 1/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)

[2019-08-01 07:44] AndiAJ commented on #3973
Hi, **verified as fixed** on the latest **Nightly Build #12130027 from 1/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

[2019-08-01 07:44] #3973 closed

[2019-08-01 07:52] AndiAJ commented on #3530
Hi, **verified as fixed** on the latest **Nightly Build #12130027 from 1/8** using the following devices:
• Google Pixel 3a (Android 9)
• Huawei Mate 20 Lite (Android 8.1.0)
• Samsung Galaxy S7 (Android 7)
• OnePlus A3 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

[2019-08-01 08:02] softvision-miralobontiu commented on #4371
No, it is reproducible in Fenix also.
If https://github.com/mozilla-mobile/reference-browser/issues/new is accessed in Fenix, and Desktop site is toggled to ON, the page is zoomed.

[2019-08-01 08:24] AndiAJ commented on #4221
Hi, **verified as fixed** on **RC 1.2.0-rc.1 from 1/8** using a Google Pixel 3a (Android 9).

[2019-08-01 08:24] #4221 closed

[2019-08-01 08:38] pocmo opened #4431 "Integrate feature-media component"
The AC work is tracked by the following board (issues above "MVP Boundary" cards):
https://github.com/orgs/mozilla-mobile/projects/26

Integrating this component will bring the following features to Fenix:
- Background playback without the app getting killed
- Media notification with play/pause controls
- Audio Focus handling (pausing/resuming in agreement with other media apps)
- Support for hard

[2019-08-01 09:25] AndiAJ opened #4432 "[Bug]Delete all history or individual history items snackbar missing"
## Prerequisites
Have a couple of history items

## Steps to reproduce
1. Navigate to History
2. Tap 3dot button from any History item tap Delete from the overflow menu
3. Tap the upper " Delete history " button and tap clear

### Expected behavior
As per #2025 a delete confirmation dialuge was created for deleting Deleting all history.
In both cases a snack bar should be displayed confirming the

[2019-08-01 09:30] abodea commented on #4040
Verified as fixed in **`1.2.0-rc.1 (Build #12130445)📦: 6.0.2🦎: 69.0-20190729080047`** using **`Google Pixel 3a XL(Android 9) and Samsung Galaxy Tab A(Android 9).`**

Please note that after a successfully login and sync, when entering the bookmarks folder everything is displayed correctly.(But sometimes after login and accessing very fast the bookmarks folders ~2-4 seconds the No Bookmarks here is

[2019-08-01 09:30] #4040 closed

[2019-08-01 09:31] softvision-miralobontiu opened #4433 "[Bug] Opening the support page from Help doesn't display the correct URL in the URL bar"
## Steps to reproduce
1. Open a random page.
2. Go to Settings - Help.
3. Observe the URL bar.

### Expected behavior
The URL should be https://support.mozilla.org/en-US/products/firefox-preview.

### Actual behavior
The https://support.mozilla.org/en-US/products/firefox-preview is opened, but in the URL bar, the link from step 1 is displayed, even if you reload the page.

### Device information
*

[2019-08-01 09:33] AndiAJ opened #4434 "[Bug] [a11y] Delete Tab icon from collections is too small"
## Prerequisites
You have a collection with a couple of tabs saved.
You have Talkback option enabled from your Android settings.

## Steps to reproduce
1. Expand the collection
2. Tap the 'x'(close) sign for a tab saved in that collection

### Expected behavior
The sign can be easily tapped

### Actual behavior
Difficult to tap it because of its size, could make an improvement as per #4221.

### D

[2019-08-01 09:48] isabelrios commented on #4023
Hi @csadilek, I'm afraid I need more help to implement this...If I understood correctly, the idea would be to create a pref, like `testingModeEnabled`, if that is set to true then the server config picked would be the stage and so tests will work.
I know the changes to do in `REDIRECT_URL`and `serverConfig`val but I don't know how to select those when the pref changes to true. So, the thing is if

[2019-08-01 09:48] AndiAJ opened #4435 "[Bug][a11y] The delete bookmark sign from the "Edit bookmark" sections is not labeled"
## Prerequisites
You have Talkback option enabled from your Android settings.

## Steps to reproduce
1. Navigate to any web page
2. Bookmark it
3. Tap "edit" from the "Bookmark saved" dialogue
4. Tap on the "Delete bookmark"![image](https://user-images.githubusercontent.com/51314259/62283301-ee067380-b459-11e9-831b-5378b571a01a.png) sign
![rsz_screenshot_20190801-121116666](https://user-images.git

[2019-08-01 10:19] AndiAJ commented on #4161
Hi, verified as fixed on **RC 1.2.0-rc.1 from 1/8**

[2019-08-01 10:47] sv-sdeiac opened #4436 "[Bug]The onboarding flashes when you return from settings"
## Prerequisites
You have a fresh install or clear data before.

## Steps to reproduce
1. Open Firefox Preview;
2. Tap on the 3dot menu;
3. Tap on Settings;
4. Tap on back button from your device;

### Expected behavior
When Back is tapped, the onboarding tour is no longer displayed.

### Actual behavior
The onboarding tour is no longer displayed but has a flash close view.

### Device information

[2019-08-01 10:58] abodea opened #4438 "[Bug] Fenix crashes when opening any URL from URL bar w/ longpress"
## Steps to reproduce
1. Launch Fenix.
2. Open any website example(any search on google.com).
3. Tap on the URL.
4. Tap again on the URL and hold.
5. Tap on the `Open` button from the floating menu.
### Expected behavior
A new tab is opened in Fenix.
### Actual behavior
Fenix crashes when opening another tab.
### Device information

| Device | Fenix Version | Status    |
| :---         |     :---:

[2019-08-01 10:58] abodea commented on #4438
[code]

[2019-08-01 11:32] IndefiniteBen commented on #3321
The problem I have is that when I'm reading an article in browser and they have a link to a tweet, which I want to interact with in the app. The way I currently do this is to share to another browser that will just open the twitter app. I don't get a pop-up to 'open in twitter' and when I've seen pop-ups that say "Open in play store" (for example), nothing happens when I tap it.

I can't say what

[2019-08-01 11:35] softvision-miralobontiu commented on #3886
Verified as fixed on RC 1.2.0-rc.1, and latest Nightly build 190801 with Motorola Moto G6 (Android 8), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-08-01 11:35] #3886 closed

[2019-08-01 12:05] sv-sdeiac opened #4440 "[Bug]The Account subsection is not aligned with the others subsections from Settings."
## Prerequisites
Make sure you are logged on a valid account

## Steps to reproduce
1. Open settings;
2. Watch the alignment of the Account subsection;

### Expected behavior
The Account subsection is aligned with the other subsections;

### Actual behavior
The icon, name and email are not aligned with the other subsections;
### Device information

* Android device: Nexus 9 (Android 7.1.1)
* Fenix

[2019-08-01 12:12] smonff commented on #4263
So the description got finally removed? What was the process for this decision?

[2019-08-01 12:14] mthld commented on #4263
I definitely think there is a problem with this repo description. Even if it was not breaking the code of conduct, it's not clear and must be changed to reflect the real purpose of this project.

[2019-08-01 12:44] abodea commented on #4124
Verified as fixed in **`1.2.0-rc.1 (Build #12130445)📦: 6.0.2🦎: 69.0-20190729080047`** using **`Google Pixel 3a XL(Android 9) and Samsung Galaxy Tab A(Android 9).`**
Note that I couldn't find any regression after this change.

[2019-08-01 12:44] #4124 closed

[2019-08-01 12:52] abodea commented on #4432
#2025

[2019-08-01 13:00] isabelrios commented on #4023
@csadilek, I think I have something working...in my test I do this:
[code]

And in `BackgroundServices`:
[code]

It may be far from what you have in mind...please let me know your thoughts...thanks!

[2019-08-01 13:20] AndiAJ opened #4441 "[Bug] History multi-select issue"
## Prerequisites
Have some history

## Steps to reproduce
1. Navigate to the "History" section from "Your Library"
2. Long tap on the first history item
3. Tap on the other history items
4. Tap again on the first item
5. Tap again on the rest of the history items

### Expected behavior
Selection animation should be properly displayed next to the selected items

### Actual behavior
The animation no

[2019-08-01 13:40] vladikoff commented on #3947
It should load!

If we go to accounts.firefox.com directly in the browser and request desktop site, then it will also trigger this issue.

Filed https://github.com/mozilla/fxa/issues/2036

[2019-08-01 14:25] softvision-miralobontiu opened #4444 "[Bug] Deleting bookmarks is not working"
## Steps to reproduce
1. Make sure you have some bookmarks and some folders in the Library.
2. Delete one or more bookmarks.
3. Observe the Bookmark page.

### Expected behavior
The deleted bookmarks should not be displayed anymore.

### Actual behavior
The deleted bookmarks are displayed again.
Even after the UNDO snack-bar disappeared, it still reproduced.

### Device information
* Android devic

[2019-08-01 14:28] ekager commented on #4408
This should be fixed!

[2019-08-01 14:28] #4408 closed

[2019-08-01 14:36] dbolter opened #4446 "Sync pinned tabs into a collection automatically"
### Why/User Benefit/User Problem
Users might want pinned tabs handy on their mobile device.

### What/Requirements
When a user syncs their laptop pinned tabs are synced to an appropriately named collection in fenix.

### Acceptance Criteria (how do I know when I’m done?)
Pinned tabs sync with a fenix collection.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/brows

[2019-08-01 14:47] agi90 commented on #3506
Can't see this anymore \o/!

[2019-08-01 14:48] agi90 commented on #3506
Yep still there :(

[2019-08-01 14:49] colintheshots commented on #2922
At this point, the remaining issues are either not actionable or are in the hands of our app sec team. I'll close this bug pending results from their investigations.

[2019-08-01 15:07] sv-ohorvath opened #4447 "[Bug][A11y] Private browsing is focused for a second at first launch"
## Steps to reproduce
As a follow-up to https://github.com/mozilla-mobile/fenix/issues/2142:
1. Turn TB on.
2. Launch Fenix.
### Expected behavior
The search bar is focused and read.
### Actual behavior
The private browsing button is focused first for a second.
On Nexus 5 it reads the "Enable" part and then jumps to the search bar.
On Pixel it doesn't read it but it is selected first.
### Device i

[2019-08-01 15:09] sv-ohorvath commented on #2142
Partially fixed. I logged a follow-up bug since this one has already landed in RC 1.2: https://github.com/mozilla-mobile/fenix/issues/4447.

[2019-08-01 15:11] softvision-miralobontiu opened #4448 "[Bug] The History share icon and menu are not displayed on toolbar"
## Steps to reproduce
1. Make sure you have some history.
2. Select multiple entries from Library-History and try to share them from the toolbar.

### Expected behavior
The user should be able to share the selected entries.

### Actual behavior
The share icon and the menu are not displayed in the toolbar.

### Device information
* Android device: Motorola Moto G6 (Android 8)
* Fenix version: RC 1.

[2019-08-01 15:12] sv-ohorvath commented on #4412
Do we have any STR for this crash?

[2019-08-01 15:25] mcarare commented on #4405
@abodea IMO this is not a bug. This is a feature introduced in Android 6 which lets app open specific URLs without the open dialog. Spotify is default handler of links in spotify.com, open.spotify.com, accounts.spotify.com. Chrome and any other browser will have the same behaviour. This can be disabled only in device's system settings (see App Links).
I think this issue can be closed.

[2019-08-01 15:30] sblatz commented on #4427
This is pretty critical to fix--we ran into a lot of crashes with this, and though we were able to cover up the symptoms, we should fix the underlying problem :)

[2019-08-01 15:32] sblatz commented on #4387
Closing in favor of #4427.

[2019-08-01 15:32] #4387 closed

[2019-08-01 15:32] abodea commented on #4405
Hi @mcarare I added this bug based on this issue https://github.com/mozilla-mobile/android-components/issues/3695.
It will be a feature for many websites that can be opened in external apps using the button from QAB.

[2019-08-01 15:35] #4324 closed

[2019-08-01 15:38] sblatz opened #4451 "Create tests for BrowserToolbar LibState Controller"
We should create tests for the BrowserToolbar Libstate Controller.

[2019-08-01 15:40] vesta0 opened #4452 "Create a baseline for measuring crashes"
This is a Q3 goal identified by Engineering: To create a baseline that gives us an accurate picture of measuring this key metric. We noticed this was a gap before MVP. The only baseline we had was comparison with Fennec, which according to @sarentz was not accurate.

Details to be filled out by @liuche and @sarentz

[2019-08-01 15:41] csadilek commented on #4412
@sv-ohorvath the STR for this one are actually the same as for https://github.com/mozilla-mobile/fenix/issues/4376.

Another way to potentially hit it is to put the app in the background while a tab is open, use the device heavily and resume later. This would have also crashed it if the system freed up memory and we need to read the sessions from disk again. There's also a follow-up commit here wh

[2019-08-01 15:43] sblatz commented on #2362
Bumping @boek on this :)

[2019-08-01 16:05] snorp commented on #4322
This is an intent URI thing. It's trying to load `intent://navlite.app.goo.gl/...`. This should be handled by Fenix/a-c.

[2019-08-01 16:19] pocmo commented on #2037
Are you sure about the merging? Those are two separate actions (Switching to an open tab vs. visiting a page). Comparing with desktop I also get both options - they just visually look different (Visit vs. Switch).

[2019-08-01 16:22] mcarare commented on #4405
IMO These are different issues and use cases. The feature you referenced is about opening a page in an app, via QAB, not handling a web link click, like in the issue you described here.

[2019-08-01 16:25] sblatz commented on #2203
Bottom menu items are now perfectly centered and the toolbar line matches the "divider line" of the menu:

<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/62310403-4a5b9a00-b43e-11e9-8b1d-56b4938fde26.png">

[2019-08-01 16:36] isabelrios commented on #4023
@vladikoff not sure if I should change something else or there might be an issue. After I sign in with a stage account successfully, I'm trying to sync some history items and that does not seem to work. It is like on Fenix the syncing process does not start once the sign in successes.
This screen is shown once I sign in but it never closes unless you tap on 'x' button:
<img width="255" alt="Screen

[2019-08-01 16:38] cpeterso commented on #1486
The GV bug has been fixed in GV 70, which ride to Beta on 2019-09-02 and Release on 2019-10-22.

[2019-08-01 16:38] vladikoff commented on #4023
@isabelrios hm, will need to see some logs from adb maybe

cc @jrgm @grigoryk

[2019-08-01 16:46] isabelrios commented on #4023
@vladikoff, hope this is helpful:
[logs.txt](https://github.com/mozilla-mobile/fenix/files/3457793/logs.txt)

Steps:
-Tap on `Use email instead`
-Enter password and Sign in
-Wait for a while, then tap on `x`button and `Use email instead` again

[2019-08-01 16:58] buttercookie42 commented on #3075
The library now shows some results for "This month" (actually they're from last month, but that's a separate issue, I guess), so things seem to have improved I guess.

[2019-08-01 17:05] buttercookie42 opened #4455 "[Bug] History library lables items as being from "This month" when they're actually from last month"
## Steps to reproduce
1. Visit some pages near the beginning of last month (i.e. at the start of July).
2. Open the history library at the start of this month (i.e. in August).

### Expected behavior
Those pages are listed under the heading of "Last month" or "July", or alternatively simply "Last four weeks" if you don't want to deal with the moving split between "This month" and "Last month".
(Fi

[2019-08-01 17:07] boek opened #4456 "total_uri_count should be added to the metrics ping"

[2019-08-01 17:13] sblatz opened #4457 "[Telemetry] Search widget telemetry"
#### Description & Product Manager / Data Scientist User Story
As a product owner, I want to know how much search activity is initiated from the search widget.

#### Hypothesis
We believe this feature is useful to users by
- Making Search more accessible
- Keeping all search history in Firefox (and not have it split between Firefox and native Google search widget)

We believe this feature is succe

[2019-08-01 17:14] buttercookie42 opened #4458 "[Bug] Font sizes on non-mobile pages are tiny"
## Steps to reproduce
Visit any of
* https://history.nasa.gov/afj/ap11fj/01launch.html
* http://diamondgeezer.blogspot.com/
* https://web.archive.org/web/20140613214731/http://www.corante.com/pipeline/20040101.shtml
* or any other page that doesn't have a mobile/responsive layout and correspondingly doesn't have a `<meta name="viewport" content="width=device-width, initial-scale=1">` (or similar)

[2019-08-01 17:18] csadilek commented on #4023
@isabelrios re: your code snippet: Yes, that's what I had in mind too. So, looks good to me!

[2019-08-01 17:25] liuche commented on #4246
Okay - if this is done, then we should:
1) Close it
2) Move all the issues into the Feature Backlog and label them "ready for eng"

I'll do that for this bug!

[2019-08-01 17:27] liuche commented on #4246
No QA needed, because this is a Meta, and the work has yet to be done.

[2019-08-01 17:39] amkcpu opened #4459 "Reduce install size"
## Steps to reproduce
Install Firefox Preview and install Firefox for Android.

### Expected behavior
Firefox Preview should have the same, preferably a significantly smaller install size.

### Actual behavior
On the Honor 7 (PLK-L01) running Android 6.0, Firefox Preview has an install size of 173 MB, whereas Firefox (Fennec) only has 165 MB. While not a big difference, I would like Fenix to have

[2019-08-01 17:40] leobel96 commented on #4259
@dannycolin I'm using 12130633 but It Is not resolved

[2019-08-01 17:42] dglttr opened #4460 "Notifications like "Tab closed" have the same text color for explanation and action"
## Steps to reproduce
Close a tab or open a new tab in the background.

### Expected behavior
The associated action (undo and switch, respectively), should have a different text color as to highlight that it is an action (similar to how this is done in Fennec, the explanation being white and the action being blue).

### Actual behavior
It's all white text and the action is hard to distinguish and

[2019-08-01 17:50] amkcpu opened #4461 "[Bug] When re-entering Fenix, open tabs all change to "about:blank""
## Steps to reproduce
Open a few tabs in Fenix. Then leave app to do something else. Then re-enter Fenix through app switcher or launcher.

### Expected behavior
Open tabs remain unchanged.

### Actual behavior
While not happening all the time, sometimes the open tabs just turn into about:blank pages, which is of course extremely annoying because you lose all opened tabs. Note that apparently, I c

[2019-08-01 17:51] boek commented on #4438
This is also a crash in 1.1

[2019-08-01 17:51] ekager commented on #4455
This is working as intended as we do the splits by last 24 hours, last 7 days, last 30 days etc. So I think maybe we just need a string review here whether the header should read "Last month" or "Last 30 days"?

[2019-08-01 18:03] dannycolin commented on #4259
@leobel96 I've added your informations and reopened the issue.

[2019-08-01 18:16] liuche commented on #3319
Talked to @sblatz and it looks like AC would need to prioritize the "Bookmarks Undo" callbacks (so we can actually use this).

If we want to, then this should go into the Waiting column, and we will need to add it to the AC planning board.

[2019-08-01 18:17] csadilek commented on #4438
This is (or is related to) a top crash we have in Sentry: https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5917855/

[2019-08-01 18:18] boek commented on #4444
This bug exists in 1.1

[2019-08-01 18:19] ekager opened #4462 "[Bug] Moving Bookmark Folder Selection Screen Does Not Display Text"
## Steps to reproduce
1. Go to a bookmark
2. Edit
3. Click folder to change folder

### Expected behavior
Can see bookmark folder text

### Actual behavior
![Screenshot_20190801-111134](https://user-images.githubusercontent.com/25442310/62317238-1c7e5180-b44e-11e9-9873-a47d97464202.png)

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-01 18:19] sblatz commented on #1673
@ncalexan are you seeing this? This sounds like an AC issue 🤔

[2019-08-01 18:28] sblatz commented on #3844
This is super easy for us to change, just need a UX decision.

I agree with @pwd-github, share is an action from this page it should just be in quick action sheet!

[2019-08-01 18:28] mitchhentges commented on #4418
This sounds valuable! sblatz and I talked directly on Slack and clarified that:
* Ideally, this notification is a slack message for the team, perhaps pinging people as well
* This notification should only occur the first time the UI tests fail after having passed. So, if multiple `master` pushes happen that are all failing UI tests, the team should only be notified on the first failure.

A couple

[2019-08-01 18:34] sblatz commented on #4418
Let's not start on this *just yet*. I think it's important that explore the option of UI tests being a requirement for merging before we tackle this. I'll update this ticket when I have a final decision on that 😄

[2019-08-01 18:39] ncalexan commented on #1673
It is not an a-c issue, at least not directly.  Observe: [Fenix's `onTrimMemory`](https://searchfox.org/mozilla-mobile/rev/8cfed98308f3b329f31053279be1aa2bb7746b5f/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt#201-206) will _start_ Gecko (if it's not already running) in order to ask the `sessionManager` to save memory.  That's all kinds of wrong.

[2019-08-01 19:00] openjck commented on #470
I'm going to go against the grain and say that I actually prefer Fenix without a tab queue. Jumping straight into the browser actually makes it feel faster. And 90% of the time, that's what I want to do anyway.

[2019-08-01 19:05] johnsto commented on #4286
Same issue here on build 1.1.0#12042112:

![edit_20190728_091533_1](https://user-images.githubusercontent.com/1548274/62320189-85d68280-b497-11e9-9b79-52ddaff54e81.gif)

[2019-08-01 19:52] cpeterso commented on #4322
Removing `needs:gv` label because intent URIs should be handled by Fenix or A-C, not GV.

[2019-08-01 20:02] cpeterso commented on #3903
Requesting the desktop site works correctly in Chrome, Fennec, and Focus+GV. In these browsers, YouTube switches back and forth between https://m.youtube.com and https://www.youtube.com. When Fenix or R-B request the desktop site, YouTube redirects to https://www.youtube.com?app=desktop.

Fennec, Focus+GV, and Fenix should all have the same User-Agent string, so why does YouTube behave differently

[2019-08-01 20:19] sblatz commented on #4384
@jyeontaek That seems fine to me tbh. 30 minutes isn't that long and uninstalling and installing a voice library is probably a rare case.

[2019-08-01 20:31] #4462 closed

[2019-08-01 20:38] ekager commented on #2037
@pocmo History and Bookmarks should both be opening a new tab with the URL, right?
It's the current sessions that have a different action?
Like mentioned in the AC bugs, maybe we can group by action and dedupe/merge there?

[2019-08-01 20:49] boek commented on #4457
👍 thanks for filing this @sblatz was definitely thinking about this when looking at the PR!

[2019-08-01 20:52] mikeGolf08 commented on #3863
@ekager Yes sorry FF = awesomebar - Will keep it in my mind now. No I haven't -> After the last update I decided to clear all known app data via settings and did the set-up process again. The result is that now I get the suggestions for the websites that didn't work before and for those which worked I am left with no suggestions again.

I don't have the time to contribute to code at the time but I

[2019-08-01 20:53] boek commented on #4448
I think this was fixed, could it possibly be device specific? Please check again with the RC2

[2019-08-01 20:57] mikeGolf08 commented on #4321
Info back:
No problems anymore
Android device: 9 OOS 9.0.4 Oneplus 3T
Fenix version: Nightly 190801 06:18 (Build #12130633)
📦: 6.0.2
🦎: 69.0-20190729080047

[2019-08-01 20:57] #4321 closed

[2019-08-01 21:06] avently commented on #3628
For the note. On the same phone with Android 9.0 Fenix runs and works without problems.

[2019-08-01 21:30] csadilek commented on #4438
This doesn't crash in R-B so I took a quick look. The problem is that Fenix starts two BrowserFragments. This causes the selected session (and its GeckoSession) to be attached to two different views which explains the error.

The first fragment is created/started via `HomeActivity.handleNewIntent`, the second via `HomeActivity.onCreate`.

[2019-08-01 21:33] lime124 commented on #4455
@mheubusch please provide feedback and label "ready for eng" or close the issue as won't fix. thanks!

[2019-08-01 21:35] liuche commented on #4452
Assigning myself so I can fill this out.

[2019-08-01 21:45] grigoryk opened #4467 "Use a-c version of FirefoxAccountsAuthFeature"
Fenix is currently using its own version the feature due to https://github.com/mozilla-mobile/android-components/issues/3272, but we're about to fix that in https://github.com/mozilla-mobile/android-components/pull/3994, so let's make a switch.

This is also necessary for the CWTS work - feature-accounts will grow in scope to support webchannel authentication flow (with redirect interceptor acting

[2019-08-01 21:52] lime124 commented on #4198
@apbitner for comment. he's at onboarding this week so he won't get to this until next week. thanks!

[2019-08-01 21:55] lime124 commented on #3803
collecting this as part of a bigger design effort to look at the items in the menu. removing label.

[2019-08-01 21:59] sblatz opened #4468 "Search widget implementation review"
This ticket is a placeholder for UX's implementation review of the search widget feature.

For reference Fennec spec:
https://mozilla.invisionapp.com/share/UJQJP4IC7WN#/screens/349402550_Searchwidget

[2019-08-01 21:59] mcomella opened #4469 "[Bug] Fenix "Help" button links to a google search without SUMO results"
## Steps to reproduce
- Click 3-dot menu
- Select "Help"

### Expected behavior
Brought to SUMO

### Actual behavior
Brought to a google search. There's one result: reddit

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-01 22:00] lime124 commented on #3417
yep something we can take a look at in the future. removing ux label as it will require more design thinking. we can take a look when the team prioritizes it for a release.

[2019-08-01 22:08] liuche commented on #4390
Feasibility meeting (probably) 8/6 (after holiday) and hopefully then it can be ready to be worked on.

[2019-08-01 22:17] liuche commented on #4468
Timebox this to 1hr designer's time to file any follow-ups.

[2019-08-01 22:19] liuche commented on #3106
Also look at #3700 because they seem like they'll be similar UI.

[2019-08-01 22:20] ncalexan opened #4471 "[Bug] GeckoView configuration file causes crashes"
## Steps to reproduce

Create `/data/local/tmp/org.mozilla.fenix-geckoview-config.yaml` (even empty, with no content), following https://mozilla.github.io/geckoview/consumer/docs/automation.  Start Fenix.  Witness crash.

### Expected behavior

No crash; configuration is respected.

### Actual behavior

[code]

This makes very little sense.  The `DebugConfig.fromFile` function is marked as returni

[2019-08-01 22:21] mcomella opened #4472 "Bug 1570791"
https://bugzilla.mozilla.org/show_bug.cgi?id=1570791

[2019-08-01 22:22] ncalexan commented on #4471
@csadilek can you investigate?  This has reached the limit of my ability.  I will note that the GV 69 source JAR appears to disagree with the compiled `.class` file, which I don't understand (and may be relevant).

[2019-08-01 22:25] liuche commented on #3077
It looks like these mocks are ready and there are strings.

[2019-08-01 22:27] liuche commented on #3059
I don't think this needs the AC, AS labels for this specific bug.

[2019-08-01 22:30] liuche commented on #4275
This bug should be timeboxed to explore native share sheet and what of the linked issues/requirements it can accomplish.

Specifically, we MUST be able to add Send Tab. If that's fine, then we should use the native sharesheet.

[2019-08-01 22:31] vesta0 opened #4474 "Let users know What's new!"
## User Story
- As a user, when I update Fenix I want to know what new features/enhancements/bug fixes came with my update.

### Acceptance Criteria
- I can open the app and know my app was updated and have a way of finding out what's new.
- We need a What's new Sumo page created for every major release. cc @bifleming

Some ideas:
-a homescreen card that appears on the homescreen (let's say above

[2019-08-01 22:31] liuche commented on #373
Send tab is landed, removing AC dep.

[2019-08-01 22:48] mheubusch commented on #4455
If these are implemented as you note @ekager it is possible for all the labels to be wrong.  Ideally the rules would be Today =  range of T=0000 to T=2359 hours on a user's device clock; This week = All the days in the Sunday to Saturday calendar week of the user's device calendar; This month = All days in the calendar month of the user's device calendar; and Older=Any day in any month prior to th

[2019-08-01 22:50] mheubusch commented on #4455
@ekager the alternative is to change the labels to : Last 24 hours; Last 7 days; Last 30 days; Older - (don't see Older in the current XML file so may need to add that and the rule that says Older = anything that is prior to last 30 days. )

[2019-08-01 22:50] liuche commented on #4258
Consider:
* Having a cut-off time for cutting the release (and release manager has final say, and should have no pressure)
* Curating the Milestone (this can be a pain) which goes to QA, GH release notes for a release
* Issue template for Release Manager (and we can size it)

[2019-08-01 23:26] vesta0 commented on #4421
@boek would you please take a look at #3060 and #3059 and close them if they are already covered here?

[2019-08-01 23:29] ekager commented on #4198
This has morphed into a different issue, so I have renamed it

[2019-08-01 23:38] jonalmeida commented on #4275
Surfacing when an account isn't signed in (for enabling send tab) is also important.

[2019-08-01 23:43] kbrosnan commented on #4455
Much of the world believes the week runs from Monday to Sunday. Months are going to be similarly problematic, Hebrew, Chinese and Japanese calendars are common examples of non-Gregorian  calendars.

[2019-08-01 23:57] ekager commented on #4455
Yeah let's do the second option :)

[2019-08-02 00:01] liuche commented on #2488
Also, consider what things that the Glean team can do to make multiple data collection destinations easier. I understand that it is an open source generic library for telemetry collection, but every single mobile app made by Mozilla is going to have multiple data destinations, so it's worth having a conversation about, even if that's not what Glean was "originally" designed to do.

[2019-08-02 00:35] ckarlof commented on #4040
I can also verify the problem as fixed on my phone. Thanks @ekager! I think @abodea has a good point about perhaps filing a separate issue around providing better feedback during the initial sync. It would be nice to let users know we're still populating their bookmarks.

[2019-08-02 00:36] staktrace opened #4477 "[Bug] Send tab to device on desktop FF doesn't list Fenix device as a destination"
## Steps to reproduce
* Set up sync on a laptop (macOS, Firefox Nightly desktop) and on Fenix
* Try to "Send tab to device" from desktop to Fenix

### Expected behavior
The device with Fenix shows up in the "Send tab to device" list

### Actual behavior
My other devices are listed there, but not the Fenix one. I checked via the "Manage your devices" link on `about:preferences#sync` that the device

[2019-08-02 00:56] ekager commented on #4477
CC @jonalmeida

[2019-08-02 01:04] ekager commented on #4259
So you're forcing the Android 9 "Dark Setting" here? I don't know if there's much we can do here, it seems like the system is passing us the wrong information.

[2019-08-02 01:05] #4263 closed

[2019-08-02 01:16] dannycolin commented on #4259
@ekager  If it was the system fault, I think it should still be broken in a newer build of Fenix. I'll be glad to do a mozregression but sadly fenix isn't supported yet.

Could someone on the team looks if something related to the theme has changed between 12042111 and 12070609? Thanks.

[2019-08-02 01:21] #3790 closed

[2019-08-02 01:21] ekager commented on #3392
Thanks! Closing

[2019-08-02 01:28] ekager commented on #4407
Ah this was fixed by #4464

[2019-08-02 01:28] #4407 closed

[2019-08-02 01:36] staktrace opened #4479 "No way to access synced tabs from other devices"
## Steps to reproduce
Go to "Your Library"

### Expected behavior
There's some way to access synced tabs that I have open on other FxA devices

### Actual behavior
No way to access those tabs is apparent

### Device information

* Android device: Sony XPeria XZ1 Compact
* Fenix version: 1.1.0 (Build #12042112)

[2019-08-02 01:37] staktrace commented on #4479
(See also #4477, maybe FxA is just busted on Fenix in general?)

[2019-08-02 01:48] kbrosnan commented on #2566
closing as the bugzilla bug was closed works for me

[2019-08-02 02:06] csadilek commented on #4471
@ncalexan this only fails for me for empty config files. The raptor config or just

[code]

work fine for me! Tested on latest master and X86 emulator as well. Looks like an empty file gets deserialized into a null `DebugInfo`?

[2019-08-02 02:16] ekager commented on #2021
AH sorry @jyeontaek I didn't see you were assigned :/

[2019-08-02 02:18] ekager commented on #1506
@vesta0 can we remove this as a p1 since we no longer have the hiding url bar?

[2019-08-02 02:22] ekager commented on #2037
Like mentioned here https://github.com/mozilla-mobile/android-components/issues/1368

[2019-08-02 02:53] ekager commented on #2065
@kbrosnan do you remember if you had been signed in in the original report? I cannot reproduce this on my own device. I'm wondering if it's a strange bug because `historyStorage.deleteEverything()` only deletes local entries, and possibly if you had been logged in and something hadn't synced yet that could be the cause of the phantom item appearing?

[2019-08-02 03:04] ashkitten opened #4481 "[Bug] url autocomplete reappears with gboard backspace swipe gesture"
## Steps to reproduce

- visit any webpage
- using the backspace swipe gesture in gboard, delete part of the url

### Expected behavior

text is removed normally

### Actual behavior

the url reappears immediately as an autocomplete hint

### Device information

* Android device: Google Pixel XL, LineageOS 16.0 (Pie)
* Fenix version: Nightly 190801 18:01 (Build #12131808)

[2019-08-02 03:06] ekager commented on #2271
I checked the invision doc and these are the only two remaining actionable things I can see (but @AmyYLee please correct me if I'm wrong).
Anyone can pick these up:

@AmyYLee I'm not sure exactly what this one is referring to and I'm not sure anyone else has access to the spec could you clarify?
<img width="603" alt="Screen Shot 2019-08-01 at 8 02 40 PM" src="https://user-images.githubusercontent.

[2019-08-02 03:21] kbrosnan commented on #2065
I don't know for sure. I think I was not signed into sync.

[2019-08-02 03:23] kbrosnan commented on #4481
This is in the search/address bar, correct?

[2019-08-02 03:42] kbrosnan commented on #3844
See also #1957 where ux did not want to change this.

[2019-08-02 03:47] kbrosnan commented on #4460
UX do we want to make any changes to our toast designs?

[2019-08-02 03:49] kbrosnan commented on #4459
This is not directly actionable. Fennec is frozen at Gecko 68 and has a different design structure which makes it smaller.

[2019-08-02 03:49] #4459 closed

[2019-08-02 03:52] kbrosnan commented on #1486
@cpeterso is there any a-c or fenix work to take advantage of the changes or will it just work with Gecko 70?

[2019-08-02 04:22] ashkitten commented on #4481
@kbrosnan correct

[2019-08-02 05:42] cpeterso commented on #1486
@snorp, do Fenix or A-C need to write any code for your `setSession` fix (GV bug 1510314) to open new tabs for `target=_blank` links?

[2019-08-02 05:59] mcarare commented on #3423
Closing this, as the reporting issue is an expected behaviour, and the related issue is tracked by #3584

[2019-08-02 06:39] andreicristianpetcu opened #4482 "[Bug] I cannot see bookmark folder names in dark theme"
## Steps to reproduce
use dark theme
bookmark
edit bookmark
### Expected behavior
should be able to see folder names
### Actual behavior
I cannot see the folder names
![Screenshot_20190802-093116_Firefox_Nightly](https://user-images.githubusercontent.com/922368/62349736-45175180-b509-11e9-9e0a-f3fde0860f61.png)

### Device information

* Android device: OnePlus 5t
* Fenix version: latest nightly
!

[2019-08-02 07:26] mcarare commented on #4482
should be fixed along with #4462

[2019-08-02 07:43] kscm commented on #2566
unfortunately I spoke too soon.

The problem persists, however it doesn't seem to be device dependent as first thought !

Two almost identical images from camera roll (same settings taken seconds apart), and after one is loaded it produces 10x lag, and when the other is loaded - it works well.

Without restarting the app, loading the different images produces consistent (undesirable) results - the

[2019-08-02 08:31] JohanLorenzo commented on #4418
Hey! I agree we should have a way to let people know a breakage happened and to track what happened over time.

To me, email notifications work in the short run, then people get used to it and they get ignored. This is exactly what happened with Raptor on Fenix over the past couple of months. The main reason was: it's hard to tell who's the right person to contact/what's the right process to follo

[2019-08-02 08:38] mcarare commented on #3999
How about centering the layout? IMO it would look better on tablets and it will also provide more accessibility without large portions of empty screen between elements.
![screen2](https://user-images.githubusercontent.com/48995920/62356516-ee664380-b519-11e9-81e6-bbfd56512ba9.png)
![screen](https://user-images.githubusercontent.com/48995920/62356535-f625e800-b519-11e9-9e9b-212dd2e716bb.png)

[2019-08-02 08:45] AndiAJ opened #4484 "[Bug]Flicker when deleting History items"
## Prerequisites
Have 5 history items

## Steps to reproduce
1. Tap the 3dot button next the **first** history item and tap delete
2. Tap the 3dot button next the **last** history item and tap delete

### Expected behavior
History items are deleted without any UI problems

### Actual behavior
When deleting **the first** history item, the History section flickers
When deleting **the last** history

[2019-08-02 08:51] pocmo opened #4485 "InflateException: Binary XML file line #15: Binary XML file line #15: Error inflating class androidx.appcompat.widg..."
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6110179/

[code]

[code]

[2019-08-02 08:51] jmaher commented on #4418
Personally I would vote for the Fenix developers to own the role of first
responders.  If this project were in mozilla-central there would be built
in sheriffs, instead we are asking engineers from the perf team to be
sheriffs for breakage.  Historically teams that decide to go their own way
on github have managed all their own test jobs, sheriffing, etc.

On Fri, Aug 2, 2019 at 4:31 AM Johan Lore

[2019-08-02 08:53] softvision-miralobontiu commented on #4024
Cannot reproduce anymore with RC 1.2.0-rc.2 with Motorola Moto g6 (Android 8).

[2019-08-02 08:53] #4024 closed

[2019-08-02 08:54] pocmo commented on #4485
This seems to happen frequently on a Nexus 6, API 21 (Firebase) and in our pre-launch reports (Android 6.0 devices). Looks like some issue on Android 5-6?

[2019-08-02 08:56] softvision-miralobontiu commented on #4448
I was not able to reproduce it on RC 1.2.0-rc.2 build, with Motorola Moto G6 (Android 8).

[2019-08-02 08:56] #4448 closed

[2019-08-02 09:43] AndiAJ opened #4486 "[Bug]Crash when sharing to Fenix"
## Prerequisites
Have a couple of open tabs
Have some history items
Have some saved bookmarks

## Steps to reproduce
1. From the open tabs section tap the 3dot button and select "Share tabs" and afterwards select "Firefox Preview"
2. Navigate to "Your library" and select "Bookmarks", tap the 3dot button nest tot the bookmark, select "Share" and afterwards afterwards select "Firefox Preview"
3. Nav

[2019-08-02 11:18] AndiAJ opened #4487 "[Bug]Flicker while navigating through bookmark folders"
## Prerequisites
Create 3 folders. e.g. A, B, C
Move folder B in folder C
Move folder A in folder B

## Steps to reproduce
1. Tap to open folder C
2. Tap to open folder B
3. Tap to open folder A

### Expected behavior
No UI issues, the correct folder name is displayed in the control bar

### Actual behavior
While navigating through the folders, the folder name flickers, sometimes showing "Bookmark

[2019-08-02 11:30] sv-ohorvath commented on #4265
Verified as fixed on RC1.2-rc2.

[2019-08-02 11:33] sv-ohorvath commented on #4412
No crash following the STR on RC 1.2-rc.
Devices: Galaxy S8 (Android 9) & Xiaomi Mi Pad 2 (Android 5.1) .

[2019-08-02 11:34] softvision-miralobontiu commented on #4137
Verified with the latest build of RC 1.2.0-rc.2 with Huawei P9 Lite (Android 6), and Motorola Moto G6 (Android 8). The app didn't freeze or crash.

[2019-08-02 11:34] #4137 closed

[2019-08-02 11:35] AndiAJ opened #4488 "[Bug]Deleting a bookmark from from edit mode doesn't bring up the snackbar"
### Prerequisites
Have a couple of bookmarks saved.

## Steps to reproduce
1. Tap to edit one of the bookmarks
2. Delete the bookmark using the upper right trash bin icon ![62283301-ee067380-b459-11e9-831b-5378b571a01a](https://user-images.githubusercontent.com/51314259/62367211-9b988600-b531-11e9-92ed-3538963212c0.png)

### Expected behavior
The snackbar should show up, giving the user the possib

[2019-08-02 11:38] sv-ohorvath commented on #4237
Verified as fixed on RC1.2-rc2.

[2019-08-02 11:53] sv-sdeiac opened #4489 "[Bug][a11y]Talkback jumps from reading the Tabs to search bar"
## Prerequisites
You have Talkback activated on your device.

## Steps to reproduce
1. Open Firefox Preview;
2. Open a page;
3. Open tab drawer;
4. Quick after opening tab drawer, tap on your tab from Open tabs section;

### Expected behavior
Talkback read the tab;

### Actual behavior
Talkback starts to read the tab and after that jump on the search bar;

### Device information

* Android device:

[2019-08-02 11:56] softvision-miralobontiu commented on #4192
Verified as fixed on the latest build of RC 1.2.0-rc.2 with Sony Xperia Z5 Premium (Android 7.1.1), Huawei P9 Lite (Android 6), and Motorola Moto G6 (Android 8). I tested with Gboard, AnySoftKeyboard, and SwiftKey.

[2019-08-02 11:56] #4192 closed

[2019-08-02 11:56] sv-ohorvath opened #4490 "[Bug] Tab icons in a collection are not aligned with the titles"
## Steps to reproduce
1. Create a collection with some tabs.
2. Expand the collection and observe the tabs icons.
### Expected behavior
Vertically aligned on the center of the titles.
### Actual behavior
The icons are lower than the titles.
### Device information

* Android device: Galaxy S8 (android 9), Xiaomi Mi Pad 2 (Android 5.1) - x86
* Fenix version: RC 1.2-rc2.

![Screenshot_20190802-145049

[2019-08-02 12:07] softvision-miralobontiu commented on #4143
Verified as fixed on the latest build of RC 1.2.0-rc.2 with Sony Xperia Z5 Premium (Android 7.1.1), Huawei P9 Lite (Android 6), and Motorola Moto G6 (Android 8).

[2019-08-02 12:07] #4143 closed

[2019-08-02 12:14] sv-sdeiac commented on #3419
Verified as fixed on Firefox Preview 1.2.0-rc.2 using Nexus 9 (Android 7.1.1) and LG G7fit (Android 8.1).

[2019-08-02 12:15] softvision-miralobontiu commented on #4240
Verified as fixed on the latest build of RC 1.2.0-rc.2 with Huawei P9 Lite (Android 6), and Motorola Moto G6 (Android 8).
Verified both scenarios, with or without custom tabs.

[2019-08-02 12:16] AndiAJ opened #4491 "[Bug]Bookmark folder icons color inconsistency in dark mode"
## Prerequisites
Have a clean profile

## Steps to reproduce
1. Select Select dark theme from onboarding screen
2. Navigate to any website
3. Add it to Bookmarks
4. Tap edit from the snackbar
5. Create a new folder
6. Check the bookmark folder icons

### Expected behavior
![rsz_1negru](https://user-images.githubusercontent.com/51314259/62369267-ba9a1680-b537-11e9-8c9a-86509f0feceb.png)

### Actual

[2019-08-02 12:37] softvision-miralobontiu commented on #4090
Verified that twitter.com and other sites with large icons are fixed (reddit.com, amazon.com, linkedin.com, facebook.com) on the latest build of RC 1.2.0-rc.2 with Huawei P9 Lite (Android 6), and Motorola Moto G6 (Android 8).

[2019-08-02 12:43] softvision-miralobontiu commented on #3695
Verified as fixed also on the latest build of RC 1.2.0-rc.2 with Huawei P9 Lite (Android 6), and Motorola Moto G6 (Android 8).

[2019-08-02 12:51] softvision-miralobontiu commented on #4262
Verified as fixed on the latest RC build 1.2.0-rc.2 with Motorola Motos G6 (Android 8), and Huawei P6 Lite (Android 6).

[2019-08-02 12:56] mcarare commented on #2142
The fix also causes  #4489, I think it should be revisited. Also, IMO the focus change is against good practices in accessibility.

[2019-08-02 12:57] sv-sdeiac commented on #3843
Verified as fixed on Firefox Preview 1.2.0-rc.2 using Nexus 9 (Android 7.1.1) and LG G7fit (Android 8.1).

[2019-08-02 12:58] AndiAJ commented on #2267
Hi, I've retested this on **RC 1.2-rc2** using a Google Pixel 3a (Android 9) and it seems that the tap on the "Reader Mode" icon event doesn't get generated.

<details>
    <summary>Logcat  & Glean dashboard</summary>

• Ping 2287315b-10de-41d2-bdf3-be8077cef85b - Tap Reader view ❌
• Ping 7f30fe45-cddc-40b9-8827-38d40492052d- Tap on Appearance ✅
• Ping c022e796-230b-44be-addc-5130a99e6caa - Tap Cl

[2019-08-02 13:15] AndiAJ commented on #4082
Hi verified as fixed on **RC 1.2-rc2** using a Google Pixel 3a (Android 9).
**No errors encountered.**

Please find attached and review:
[Logcat](https://github.com/mozilla-mobile/fenix/files/3461371/searcherrortxt.txt)
[Glean Dashboard](https://debug-ping-preview.firebaseapp.com/pings/aj-020803)

[2019-08-02 13:28] Dexterp37 commented on #4082
Perfect! Thanks Andi!

[2019-08-02 13:51] csadilek commented on #4486
Thanks! That's different STR but same crash as in https://github.com/mozilla-mobile/fenix/issues/4438 and also https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5917855/ we've been having for 2 months +.

[2019-08-02 13:52] AndiAJ commented on #2362
Hi **verified as fixed** on RC 1.2-rc2 using a Google Pixel 3a (Android 9).

<details>
    <summary>Actions using single history item</summary>

• History section opened Ping 92f947ec-1586-484e-b519-68319bbc3964
• History item deleted 3dot button Ping bc1b743f-c193-4a0b-a723-b17c19a2d5b1
• History items deleted or shared Ping f633c7a4-a6a9-4c9b-87f4-c06b5dd7ad8c
• History items opened in a new reg

[2019-08-02 14:03] softvision-miralobontiu commented on #4171
Verified as fixed on the latest RC build 1.2.0-rc.2 with Sony Xperia Z5 Premium (Android 7.1.1), Huawei P9 Lite (Android 6), and Motorola Moto G6 (Android 8).

[2019-08-02 14:19] sv-ohorvath commented on #4128
No new bookmarks issues found on rc 1.2-rc2. Closing this issue.

[2019-08-02 14:19] #4128 closed

[2019-08-02 14:20] sblatz commented on #1577
Looks like the most recent comment has an "uplift" tag. Does that mean this is ready? @pocmo, @agi90?

[2019-08-02 14:20] sv-ohorvath commented on #4125
No regressions found on RC 1.2-rc1 & rc2. Closing.

[2019-08-02 14:22] sv-ohorvath commented on #4441
Verified as fixed on Rc1.2-rc2.

[2019-08-02 14:22] #4441 closed

[2019-08-02 14:26] sv-ohorvath commented on #4462
Verified as fixed on Rc 1.2.0-rc2

[2019-08-02 14:32] amkcpu commented on #4459
Even though I know it could be hard, a reduced install size could be difficult to do, it is very desirable especially for low-end devices, seeing also where Mozilla is headed with Firefox Lite.
How about re-opening this as a feature request?

[2019-08-02 14:33] AndiAJ commented on #969
Hi, I've re-tested the above on RC 1.2-rc2 using a Google Pixel 3a (Android 9) and there are still reproducible issue.

1. Track long press on a tab Ping 392c4f98-f5f2-4528-aa19-07a81ede8e84 ✅
2. Track tap on "Save to collection" button Ping 57342723-e170-4549-aa7f-cafc516dac38 ✅
3. Track tap on "Save to collection" button from the 3dot menu ❌

Collections section
1. Track share button Ping f24983

[2019-08-02 14:39] sv-ohorvath commented on #4486
@csadilek Should we close this as a dupe then?

[2019-08-02 14:44] sv-ohorvath commented on #4444
similar to https://github.com/mozilla-mobile/fenix/issues/3967 which didn't reproduce at the time if you waited for the snackbar to disappear.

[2019-08-02 14:47] DiegoARL38 commented on #3584
As a regular screen reader user, dismissing the menu if already open is what I expect, since most applications do this.

[2019-08-02 14:57] csadilek commented on #4486
@sv-ohorvath good question. I think I'd like to keep it as the STRs are different and this way we can verify separately?

[2019-08-02 15:44] mheubusch commented on #4455
Thanks, @ekager and thanks too @kbrosnan - it occurred to me that Sunday wasn't the start of many people's week as I wrote out the first option and I appreciate that you are helping us remove our biases and keep our content inclusive.

[2019-08-02 15:50] ekager opened #4495 "[Bug] On homescreen tapping the search engine icon in search bar does nothing"
## Steps to reproduce
1. Be on homescreen
2. Tap search engine icon in search bar

### Expected behavior
Be launched to search fragment

### Actual behavior
Nothing happens

### Device information

* Android device: ?
* Fenix version: ?

[2019-08-02 15:54] #4482 closed

[2019-08-02 15:57] sblatz commented on #969
@AndiAJ

Creation of new collections ❌
Track saved into existing collection ❌

I'm confused by this section. These should be tracked with these events:

<img width="606" alt="image" src="https://user-images.githubusercontent.com/4400286/62382946-83aa0d80-b503-11e9-9b54-a1713ad42b4a.png">

Is there something I'm missing here?

I'll tackle the other two failing pings.

[2019-08-02 16:00] sblatz commented on #3844
@kbrosnan thanks for linking that.

Odd that we chose to only have bookmarks available in the quick action sheet, but share is duplicated. Seems like either both should be duplicated or not right 🤔

[2019-08-02 16:03] ekager commented on #2142
Okay @mcarare I can back out the change and maybe we can make a meta ticket about home screen a11y issues as we look at redesign options

[2019-08-02 16:03] jonalmeida commented on #1486
Yes, Fenix needs to add a patch similar to this one: https://github.com/mozilla-mobile/reference-browser/pull/852

[2019-08-02 16:04] agi90 commented on #1577
Well the tag doesn't necessarily mean that, but looks like this latest uplift attempt was successful! The code will be in the next beta build.

[2019-08-02 16:14] ekager commented on #4410
Reopening for QA

[2019-08-02 16:20] mcomella commented on #4469
It looks like the URL may not be encoded so the spaces are not escaped (as `%20`) and it creates a search instead of a url.

[2019-08-02 16:21] sblatz commented on #3777
QA felt the solution I implemented was not sufficient to close this ticket so let's keep it open for now.

[2019-08-02 16:32] vesta0 opened #4497 "[Investigation] Login Management"
This ticket is to track the investigation (and time spent) on figuring out the dependencies of building login management in Fenix (#1284 ) that is slated for Q4.

Goal: list of dependencies and next steps

[2019-08-02 16:40] ekager commented on #2142
I'm going to undo these changes because it seems to cause other issues (#4447 and #4489), so let's reopen this and we can bring it up as an accessibility concern about the homescreen.

[2019-08-02 16:42] lime124 commented on #4460
@topotropic can you take a look a make a call? then please either label "ready for eng" or close as won't fix. thanks!

[2019-08-02 16:47] lime124 opened #4498 "[Meta] Optimize for Tablet"
### Why/User Benefit/User Problem
- Fenix was released focused on phone use. We need to go back and optimize the UI for tablets (both portrait and landscape).

### Acceptance Criteria (Added by PM. For EPM to track when a Meta feature is done)
-UX completed
-User stories completed
-Strings written and approved
-QA completed
-Localization done

### What / Requirements (Added by PM and Eng Manager)

[2019-08-02 16:48] lime124 commented on #4498
@vesta0

[2019-08-02 16:48] sblatz opened #4499 "[Bug] Text in dark mode bookmarks is gone"
## Steps to reproduce
1. Navigate to a page
2. Press Bookmark
3. Press "Edit" in the Snackbar
4. Press "Folder"

### Expected behavior
1. Can see the text on my folders

### Actual behavior
1. Can't see the text on my folders

<img width="492" alt="image" src="https://user-images.githubusercontent.com/4400286/62385280-7d1e9480-b509-11e9-8f29-27497a2d55f8.png">

[2019-08-02 16:49] lime124 commented on #3999
hi @mcarare and @sv-ohorvath - thanks for taking the time to file this issue and provide feedback. We haven't optimized Fenix for tablet at all so that is why you're seeing this weirdness. I've created an issue to collect this for a larger effort. Thanks!

[2019-08-02 16:49] #3999 closed

[2019-08-02 16:52] liuche commented on #2021
@jyeontaek maybe you can review it :)

[2019-08-02 16:54] vesta0 opened #4500 "[Investigation] Login Management"
This ticket is to track the investigation (and time spent) on figuring out the dependencies of building login management in Fenix (#1284 ) that is slated for Q4.

Goal: list of dependencies and next steps

[2019-08-02 16:59] lime124 commented on #3844
i'm going to link this to the QAB effort and the effort around looking at the toolbar menu items/ordering.

[2019-08-02 17:02] #3844 closed

[2019-08-02 17:05] liuche commented on #246
Send tab is in the product.

[2019-08-02 17:08] liuche commented on #2203
Waiting on some AC updates.

[2019-08-02 17:09] ekager commented on #4198
We think this is expected behavior. We want to show onboarding the first time a user is on the homescreen. I'm closing this for now.

[2019-08-02 17:09] #4198 closed

[2019-08-02 17:10] cpeterso commented on #1577
btw, the next GV 69 Beta build will be available on Tuesday August 6.

[2019-08-02 17:16] lime124 opened #4502 "[Meta] Optimize landscape media playback"
### User Story
As a user, I want Fenix to work well in landscape mode while I'm watching media, so I can use Fenix in landscape more on a tablet and watch fullscreen video content.

### Acceptance Criteria
- I can watch media in Fenix in landscape mode
- I can view and interact with media content in landscape mode

### Bugs to fix in Q1
- [ ] [Bug] Video is black when rotated while playing fullscr

[2019-08-02 17:17] lime124 commented on #4502
@vesta0

[2019-08-02 17:17] lime124 commented on #1304
collecting a bunch of landscape issues to a single thing for us to take a look at and fix. thanks!

[2019-08-02 17:24] liuche commented on #4500
Vesta spoke to Grisha and Vlad about this issue - Vesta will take this issue, but would like someone to work w/ her on this for 1 hour.

[2019-08-02 17:24] lime124 commented on #2630
@topotropic @AmyYLee can you provide your thoughts please? thanks!

[2019-08-02 17:25] cpeterso commented on #1577
Correction: pocmo just kicked off a new GV 69 Beta build, which should be available in a couple hours:

https://maven.mozilla.org/?prefix=maven2/org/mozilla/geckoview/geckoview-beta-arm64-v8a/

[2019-08-02 17:26] cadeyrn commented on #4469
Sounds like #3892.

[2019-08-02 17:30] liuche commented on #4275
Vesta will update acceptance criteria to include what the Required share sheet items are.

[2019-08-02 17:34] ekager opened #4503 "[Meta] Fenix Accessibility Audit"
## Homescreen
- Homescreen currently has some strange a11y issues (see #2142, #3419) we should make sure the homescreen makes sense/works with TalkBack especially as we consider redesigning some of it
- issues with the 3 dot menu - #3584

CC @topotropic because I know I saw your new mocks that may impact this, and we should probably loop in someone from a11y for further questions :)

[2019-08-02 17:34] lime124 commented on #2047
this seems related to #2630 and we should consider consistency here. please consider both issues together - @AmyYLee @topotropic . thanks!

[2019-08-02 17:35] liuche commented on #4421
Some of these LeanPlum things are already in-product - check them off and don't duplicate them?

[2019-08-02 17:37] ekager commented on #3161
Talked to @topotropic and she doesn't need this pulled into this sprint

[2019-08-02 17:38] liuche commented on #3060
Asking Loren what we want this data to look like (per engine? or something).

[2019-08-02 17:39] csadilek commented on #4438
The problem goes away when using `android:launchMode="singleInstance"`, but we recently switched to "singleTask" which explains why we see the additional `onCreate` call. See: https://github.com/mozilla-mobile/fenix/commit/336ec84a52b24aaa58e3e3de97123b11170f6875

[2019-08-02 17:40] dector opened #4504 "[Bug] (Custom Tabs, UI) Wrong share button color"
## Steps to reproduce
Use Fenix to open link from another application.

![Custom Tabs UI issue](https://i.imgur.com/JsZcfi5.png?1)

### Expected behavior
Share button is white.

### Actual behavior
Share button is black.

### Device information

* Android device: Xiaomi Mi 4X (Android 7.1.2 / MIUI Global 10.3)
* Fenix version: Build #12140611

[2019-08-02 17:40] liuche commented on #373
Probably need to just get keys into LP and then test it.

[2019-08-02 17:48] liuche commented on #4438
Also look for other entry points that might cause this same crash.

[2019-08-02 17:52] cadeyrn opened #4505 "[Bug] Some redirects are filtered in history, others not"
### Steps to reproduce

1. enter some addresses with expected redirects into the address bar and press enter.

Examples:

- google.com
- mozilla.org
- soeren-hentzschel.at
- ghacks.net

2. go to history

### Expected behavior

For each of these websites there should be only one entry in history.

### Actual behavior

I used these four websites as examples because it works for two of them and does

[2019-08-02 17:53] liuche commented on #1058
Communicate with QA what our Fenix UI test priorities are.

[2019-08-02 17:54] colintheshots opened #4506 "Automate LeakCanary checking in existing UI tests"
LeakCanary has the capacity to fail UI tests when a leak occurs during the test. We should add memory leak checking to our existing UI tests (when not actively being used for performance testing, since it slows them down).

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12897)

[2019-08-02 17:57] liuche commented on #4326
@sblatz will break this out, and put E3 into the sprint.

[2019-08-02 17:58] sblatz opened #4507 "Enable codecov"
From #4326:

[2019-08-02 17:58] csadilek commented on #4486
See here for details on the cause/regression: https://github.com/mozilla-mobile/fenix/issues/4438#issuecomment-517786739

[2019-08-02 17:58] liuche commented on #4258
@ekager will do the release for 1.3 w/ this checklist!

[2019-08-02 18:00] sblatz opened #4508 "Enable warnings as errors & fix all current warnings"
Breakout of #4326

[2019-08-02 18:07] AmyYLee commented on #3262
@NotWoods do you need a ux review to move ahead with this? Please let me know

[2019-08-02 18:08] boek opened #4509 "Theme switching & telemetry"
currently whenever we switch themes by opening in private browser we get some duplicate events. Maybe we can come up with a good solution to clean this up

[2019-08-02 18:08] boek opened #4510 "Theme switching & telemetry"
currently whenever we switch themes by opening in private browser we get some duplicate events. Maybe we can come up with a good solution to clean this up

[2019-08-02 18:08] sblatz opened #4511 "Remove "do exhuastive when" if unecessary"
@csadilek and I are unsure if this is necessary anymore.

[2019-08-02 18:08] #4510 closed

[2019-08-02 18:08] boek commented on #2362
@AndiAJ unfortunately that is correct. I filed https://github.com/mozilla-mobile/fenix/issues/4509 to track/follow up later

[2019-08-02 18:09] jacktose commented on #470
@openjck Tab queue has always been an optional feature. I assume it will be optional in Fenix, though perhaps that should be specified here.

[2019-08-02 18:13] NotWoods commented on #3262
We can move ahead without UX but it would be nice to have suggestions for the color and distance. Our main blocker is GeckoView right now.

[2019-08-02 18:13] liuche commented on #934
@lime124 will get clear ordering of mobile PM priorities to get an idea of how to order UX priorities across different PMs.

[2019-08-02 18:16] liuche commented on #4417
Would be helpful for UX to work w/ @pocmo on figuring out what UX would be needed.

[2019-08-02 18:36] colintheshots opened #4512 "Upload PRs to Nimbledroid for Automated Performance Testing"
We want to get actionable information about the performance impact of major, new features and code refactors. If we had the ability to produce Nimbledroid reports from PRs, we would have the information we need.

We'll need to be careful not to exceed our monthly upload limit at Nimbledroid. We may want to only run these tests on demand or only on the initial pull request, but not every update.

U

[2019-08-02 18:52] mconnormoz commented on #1184
we can modify the underlying plugins if needed, I'd like to be consistent across all of our mobile products if at all possible.

[2019-08-02 18:57] aaudin90 commented on #4504
I can take it

[2019-08-02 19:03] ckarlof opened #4513 "[Bug] Sometimes when I visit my bookmarks the screen is blank for a while before I see my bookmarks"
## Steps to reproduce
Visit my bookmarks

### Expected behavior
See my bookmarks or a loading indicator if there is a delay fetching my bookmarks from the DB.

### Actual behavior
Sometimes, I see a blank screen while I assume the bookmarks are being fetched. It's not easy to reproduce, but it's usually after I haven't used Fenix in a while. The screen is blank for about 3-5 seconds and then it fi

[2019-08-02 19:08] ehsan opened #4514 "Password autofill on Android 7 and below"
### Why/User Benefit/User Problem
I use an Android 7 phone.  The LockWise app on Android 7 doesn't support autofilling passwords, so on Fenix right now I have no way to autofill my passwords.  This prevents me from logging in to the websites for which I have a password saved to my Firefox Account.

### What/Requirements
Turn on the built-in Gecko password auto-fill support as a bare minimum passwo

[2019-08-02 19:11] ehsan commented on #4514
If the data on [this page](https://fossbytes.com/most-popular-android-versions-always-updated/) is to be believed, Android 8+ where LockWise supports password autofill is about 38% of the market share.

[2019-08-02 19:16] cadeyrn commented on #1427
It's not my "first issue" but since I want to see this enhancement in Fenix I created a PR. 😃

[2019-08-02 19:32] cadeyrn opened #4516 "[Bug] search widget does not use the full width"
### Steps to reproduce

1. add the search widget to your home screen

### Expected behavior

I can set the width of the search widget to the full width because it doesn't look good otherwise. :)

### Actual behavior

There seems to be a maximum width. I can make it smaller but not larger. The screenshot shows both the search widgets of Fennec (expected width) and Fenix (too small)

![Screenshot_20

[2019-08-02 19:39] cadeyrn opened #4517 "[Bug] inconsistent back button behaviour in library"
### Steps to reproduce

1a) open your bookmarks
1b) open a bookmark
1c) press the back button

2a) open your history
2b) open a page from your history
2c) press the back button

### Expected behavior

Either return to the library view or to the start screen, but do the same in both cases.

I clearly prefer the behaviour of the history (return to the library view).

### Actual behavior

after 1c) F

[2019-08-02 20:09] lime124 commented on #4503
after talking with emily, opening this up to be a ticket for a11y for the whole app. we'll group related issues here and we can tackle them all at one time to ensure we're coming up with holistic solutions that don't conflict.

also want to loop in eitan! would love some support from that team :)

[2019-08-02 20:10] jonalmeida commented on #4477
This is not a bug - the first device you setup (desktop/mobile) won't know about the second device until the next sync.

I'd say this is more of a feature request: As a user, I want my devices to be immediately informed of new sync devices when they are setup.

[2019-08-02 20:43] csadilek commented on #4471
This works fine for non-empty config files. There's a follow-up for GV to return a default config rather than null for empty files, but not a Fenix issue.

[2019-08-02 20:43] #4471 closed

[2019-08-02 20:54] staktrace commented on #4477
How long does it take for Fenix to sync? This wasn't immediate; I installed Fenix and set up FxA at least two weeks ago and have opened it a few times sporadically since then.

[2019-08-02 20:56] agi90 opened #4521 "[startup crash] UninitializedPropertyAccessException: lateinit property quickActionSheetView has not been initialized"
https://sentry.prod.mozaws.net/operations/fenix/issues/6107480/

[code]

[2019-08-02 20:57] agi90 commented on #4521
I've hit this twice in the last two days, it's a startup crash (probably when Fenix is cold starting). I'll update this if it keeps happening.

[2019-08-02 20:58] agi90 commented on #4521
This is my stacktrace, since I don't see my report on Sentry:

[code]

[2019-08-02 21:11] csadilek commented on #4521
This was fixed as part of https://github.com/mozilla-mobile/fenix/issues/4412. So, should not happen anymore on latest builds (uplifted to 1.2 as well).

[2019-08-02 21:20] lime124 commented on #4107
@abodea can you do me a huge favor and create a new issue for that request. let's keep this one just scoped to the status bar. thanks so much!

[2019-08-02 21:26] lime124 commented on #580
@apbitner can you take a look and comment?  and consider kevin's comment above about the two cases. if this ends up requiring a bigger design task let me know.

[2019-08-02 21:32] jonalmeida commented on #4477
Ah that's the cause! We only have send tab enabled in the 1.2 release. :)

[2019-08-02 21:32] #4477 closed

[2019-08-02 22:49] csadilek commented on #4521
Closing as fixed in 1.2-rc2 and latest Nightly. Please re-open if you still see it.

[2019-08-02 22:49] #4521 closed

[2019-08-03 00:03] ekager commented on #3907
The current fix is to hide the go back button in the error page if there's no history. The user will still be able to use the system back button to get back but at least there won't be a misleading button that does nothing :)

[2019-08-03 00:09] #4435 closed

[2019-08-03 00:13] liuche commented on #2157
@lime124 I know we mentioned earlier that this doesn't require UX because we can just "turn on" the sync settings, but there is a piece that we should do, which is allow users BEFORE they start syncing to choose what they want to sync. More context here in [this doc](https://docs.google.com/document/d/1jiaVYI1i1JS31ZEKjbzLzexK5TJBrYKO58dcl5wynwI/edit#heading=h.o4u07u901u81).

[2019-08-03 08:17] cadeyrn opened #4525 "Show progress on Download Notification"
Fenix finally uses the new Gecko based download manager! It solves some issues but also regressed the functionality.

- [ ] You can no longer see the progress in the notification during the download
- [x] The download no longer opens after a click on the notification after the download

[2019-08-03 08:21] cadeyrn commented on #3336
I can verify that downloading from Firefox Send works with the new Gecko based download manager.

[2019-08-03 08:32] cadeyrn commented on #3337
@vesta0 Does this issue need an "UX feedback" label or what is needed to get a decision whether this change is wanted or not? :)

[2019-08-03 15:10] siddhugolu commented on #2639
Experiencing the same issue, even when the AdBlock is off. While trying to download any file, whether in a private or a normal session (for example, through Firefox Send), it prompts asking whether I want to download or not, and immediately shows in the notification bar that the download was unsuccessful. Storage and Install from unknown sources permissions are given.

Platform: Android 9, Mi A1
A

[2019-08-03 21:11] nyanpasu64 opened #4526 "[Bug] With pseudolocalization on, text overflows UI widgets"
## Steps to reproduce

- In Android settings, enable pseudolocalization (en-xa). This replaces English strings with look-alike Unicode and makes them longer, to simulate languages taking up more space. `Test` is replaced by `[Tèƨƭ one two]` or similar.
- Install a debug build of Firefox Preview (by cloning and building the repo).

### Expected behavior

Text which overflows on-screen elements goes

[2019-08-04 00:17] PopeRigby opened #4528 "Feature request: don't push 'send to device' icons up when populating share menu"
When the share menu is first opened after  a restart, the icons under  'send to device'  are above one empty row with a 'share a link' label. After the share menu is completely populated, the icons under 'send to device' are pushed up an extra row. This makes it annoying to click on one of those icons, because it moves before you can click on it. A good way to fix this would be to keep the icons u

[2019-08-04 01:05] jimbo1qaz commented on #2639
I think this is a bug on Android. https://github.com/julian-klode/dns66/issues/31

Try excluding Firefox Fenix or Downloads Manager from your adblocker app.

[2019-08-04 01:11] NotWoods commented on #4525
The second issue was fixed in the newest Android Components version so it should show up in nightly soon.

[2019-08-04 01:22] jimbo1qaz commented on #3336
On master 4fc4759e, I tried uploading and downloading from Firefox Send. The download succeeded with the right filename, but I instead got a 12-byte file containing `Unauthorized`.

[2019-08-04 01:30] jacktose commented on #4461
[I reported this in the Google group on May 20th][gg], against v. 1.0.1921, and it's still happening in 190802 18:05, Android 8.1.0, Moto G5+.

[gg]: https://groups.google.com/forum/m/#!msg/fenix-nightly/NL0dQbsdZCE/43kf6eQkBgAJ

[2019-08-04 04:02] jimbo1qaz commented on #373
https://news.ycombinator.com/item?id=20586299

I don't want to be interrupted by Firefox push notifications either.

[2019-08-04 04:45] jimbo1qaz opened #4529 "[Bug] When re-entering Fenix, occasionally toolbar UI is missing"
## Steps to reproduce

- Install Firefox Preview (I built from source).
- Switch to another app which uses lots of RAM, so Android unloads Firefox.
- Reopen Firefox Preview.

### Expected behavior

Upon trying to replicate this bug, I end up on the tab list, with all tabs intact, and the UI functional. I feel this provides a "clean slate" so I can enter a new search term instead of reading old tab

[2019-08-04 05:53] siddhugolu commented on #2639
Experiencing the same behavior after excluding Firefox Focus and Preview from the AdBlock list. Crucially, I was able to download other files (for example, from Google Drive, or Yandex drive), but it's files from Firefox Send that's causing the issue.

I have installed the latest Firefox Preview that is available on the play store. This is definitely an unusual behavior. If no one else is able to

[2019-08-04 05:55] jimbo1qaz commented on #2639
@siddhugolu Firefox Send not working is a separate bug: https://github.com/mozilla-mobile/fenix/issues/3336

[2019-08-04 06:45] cadeyrn commented on #3336
Oh, you're right. I have only tested if the download works but I didn't open the file. I can confirm that Fenix downloaded a useless 12 byte file. :(

Since #1657 didn't fix this - can this issue be reopened, please?

[2019-08-04 08:19] siddhugolu commented on #2639
@jimbo1qaz Oh! Sorry for spamming then. I should've searched differently.

[2019-08-04 12:59] fobo66 commented on #2142
Looks like this issue cannot be properly fixed (without accessibility focus change) because of homescreen layout hierarchy

[2019-08-04 15:52] rituraj22 commented on #4529
The same happened on Nightly 190802 18:05 (Build #12141932) build in my Android 9.0 phone

[2019-08-04 18:37] cronosun commented on #4204
Somewhat related: [https://github.com/mozilla-mobile/fenix/issues/3852](https://github.com/mozilla-mobile/fenix/issues/3852)

[2019-08-04 18:47] cronosun commented on #3927
I think if you have to explain ("tutorial") the UI, there's something wrong with the UI.

[2019-08-04 18:52] nikit19 opened #4530 "[Bug] Reduce build warnings"
### Expected behavior
There should be no build warnings when the app builds

### Actual behavior

There are build warnings

Parent issue #4508

[2019-08-04 20:31] nate-anderson commented on #4461
Affects me as well, same steps to reproduce. Very frustrating.

Samsung Galaxy S7 on Android 9
1.1.0 (Build #12042112)
📦: 4.0.1

[2019-08-04 20:48] NotWoods commented on #3336
Looks like Firefox Send just returns the "Unauthorized" response to Fenix everytime, no matter the downloading system we use. I'll follow up with their team during the week.

Adding the "needs:gv" label in case GeckoView messes with Firefox Send somehow.

[2019-08-04 20:50] NotWoods commented on #2639
@siddhugolu Could you check to see if you can download the file using [Reference Browser](https://github.com/mozilla-mobile/reference-browser#test-channel-on-google-play-store)? It uses the new Gecko downloading system currently in Fenix master.

[2019-08-04 20:52] jimbo1qaz commented on #3336
How about trying a TLS MITM and downloading from Firefox Send, to see if there's any errors in the packets and HTTP headers? (or maybe logging packet headers in the app rather than in packet capture)

[2019-08-04 21:01] NotWoods commented on #3703
Filed mozilla-mobile/android-components#4021

[2019-08-04 21:09] NotWoods commented on #3666
GeckoView doesn't seem to fire a download event for .xpi files. \
Filed [Bug 1571314](https://bugzilla.mozilla.org/show_bug.cgi?id=1571314)

[2019-08-04 21:14] NotWoods commented on #4137
This is still an issue for Bookmarks. Should we re-open this issue?

[2019-08-05 00:09] jimbo1qaz commented on #747
Why is there no Leaks launcher icon produced by Firefox Fenix? And why does, every time a Fenix leak analysis is completed, it's deleted immediately from my `Downloads/leakcanary-org.mozilla.fenix.debug` folder, leaving it empty? Is this normal behavior (leak reports are uploaded online and deleted), or not?

[2019-08-05 06:03] siddhugolu commented on #2639
@NotWoods I was able to download the file using Reference Browser, but it downloaded a 12 byte garbage file (with the original filename), as reported in bug: #3336

[2019-08-05 06:58] antonholmberg commented on #3074
It seems like the issue has been mostly resolved on this page. Haven't had
any issues on that page. I have however still had issues on DuckDuckGo when
inputting a search, executing the search and then editing the search
afterwards. Not sure if the two are related

On Sat, Jul 20, 2019 at 1:20 AM Sawyer Blatz <notifications@github.com>
wrote:

--

*Anton Holmberg*
* | Android developer**___________

[2019-08-05 09:18] marekdedic commented on #96
Shouldn't this better be left to add-ons like uBlock and AdBlock? With support for plugins hopefully coming, what is the reason for implementing this in the browser itself?

[2019-08-05 11:13] softvision-miralobontiu opened #4532 "[Bug] Crash on start on Android 5 & 6 devices"
## Steps to reproduce
Start the app.

### Expected behavior
The app should work.

### Actual behavior
App crashes and cannot be open.

### Device information
* Android device: Huawei P9 Lite (Android 6), Nexus 5 (Android 6), Huawei tablet MediaPad M2 (Android 5.1.1)
* Not reproducible on LG G7 Fit (Android 8)
* Fenix version: debug version build from 8/5 master

[logcat.txt](https://github.com/moz

[2019-08-05 11:34] softvision-miralobontiu commented on #3907
Verified that, after loading https://expired.badssl.com/ or http://testsafebrowsing.appspot.com/s/phishing.html, and tapping on the devices back button, the user is redirected to the homepage.
Tested with a locally build from 8/5 master with LG G7 Fit (Android 8), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-08-05 11:34] #3907 closed

[2019-08-05 12:10] softvision-miralobontiu commented on #1539
Verified with a locally build from 8/5 master with LG G7 Fit (Android 8), and Sony Xperia Z5 Premium (Android 7.1.1) that the default bookmark folders cannot be deleted or edited and the "Can't edit default folders" message is displayed:

![Screenshot_20190805-150503](https://user-images.githubusercontent.com/40694158/62463433-aa31a800-b792-11e9-8435-d1fdf03d6bb9.png)

[2019-08-05 12:31] softvision-miralobontiu commented on #3829
Verified as fixed on a locally build from 8/5 master with LG G7 Fit (Android 8), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-08-05 12:31] #3829 closed

[2019-08-05 12:35] mythio commented on #4107
@NotWoods I am facing a problem. When I set the `android:statusBarColor` to `@android:color/transparent`, the status bar doesn't become translucent but if I change it to any other color, it works. Can you provide me any leads?

[2019-08-05 13:14] mythio commented on #4102
@ekager I have created a PR adressing this issue. Please review

[2019-08-05 13:26] NotWoods commented on #4107
Try `<item name="android:windowTranslucentStatus">true</item>` along with `fitsSystemWindows`

[2019-08-05 13:27] NotWoods commented on #2639
Does that happen on other sites or just Firefox Send? If it's just Send we can close this issue since #3336 is tracking that.

[2019-08-05 13:32] ValentinTimisica commented on #3579
Hi,

I investigated and there is indeed a limit of 128 characters, but no error message when reaching the limit. Here we need the help of UX to tell us the error message we need to display.

[2019-08-05 13:51] softvision-miralobontiu commented on #4410
Verified as fixed on a locally build from 8/5 master with LG G7 Fit (Android 8), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-08-05 13:51] #4410 closed

[2019-08-05 14:07] softvision-miralobontiu commented on #1427
Verified as fixed on a locally build from 8/5 master with LG G7 Fit (Android 8), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-08-05 14:23] csadilek commented on #4532
From logcat:

[code]

/cc @thomcc

[2019-08-05 14:24] softvision-miralobontiu commented on #4332
I was not able to reproduce this issue on a local build from 85/ master with LG G7 Fit (Android 8).
I tried with amazon.com, instagram.com, dar.org.

[2019-08-05 14:24] #4332 closed

[2019-08-05 15:18] Mugurell commented on #4405
Clicking on a Spotify playlist, let's say
https://open.spotify.com/playlist/37i9dQZF1DXdPIbPNr916x
will result in a few redirects
- https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX3PFzdbtx1Us?
- https://app.adjust.com/6ypk9q?deep_link=spotify%3A%2F%2Fuser%2Fspotify%2Fplaylist%2F37i9dQZF1DX3PFzdbtx1Us&campaign=&adgroup=&creative=&label=sp_cid%3A3146ed6da541dd097435e9c97b2598d7&tracker_lim

[2019-08-05 15:26] kbrosnan commented on #4532
@softvision-miralobontiu can you run the release Nightly Fenix builds on Android 5/6?

[2019-08-05 15:53] jacktose commented on #4529
Confirmed on Nightly 190802 18:05 (Build #12141931), Android 8.1.0, Moto G5+.
It's been happening occasionally for a few days, possibly since the 190802 build.

[2019-08-05 15:54] kbrosnan commented on #4137
Lets open a new issue for bookmarks and edit this one to be clear it is about history.

[2019-08-05 15:58] ekager commented on #4447
I undid the accessibility changes from #2142 so this should be resolved now, closing

[2019-08-05 15:58] #4447 closed

[2019-08-05 15:58] ekager commented on #4489
I undid the accessibility changes from #2142 so this should be resolved now, closing

[2019-08-05 15:58] #4489 closed

[2019-08-05 15:59] kbrosnan opened #4535 "[Bug] If you have a ton of bookmarks - bookmarks crashes or times out when loading"
## Steps to reproduce
Have a ton of Bookmarks (I synced) and open Bookmarks in Fenix

### Expected behavior
Bookmarks loads in chunks, doesn't freeze

### Actual behavior
Fenix freezes and sometimes crashes

### Device information

* Android device: ?
* Fenix version: ?

breakout from #4137

[2019-08-05 16:02] ekager commented on #4535
Do you have an estimate of how many bookmarks you have in the root folder after syncing @kbrosnan ?

[2019-08-05 16:07] kbrosnan commented on #4535
This is filed based on https://github.com/mozilla-mobile/fenix/issues/4137#issuecomment-515425288 and https://github.com/mozilla-mobile/fenix/issues/4137#issuecomment-518036708

@softvision-miralobontiu are you able to answer @ekager question?

[2019-08-05 16:34] sblatz commented on #2267
@AndiAJ this ping was intentionally removed. It was redundant as we added the "reader mode opened" ping

This ping is also being generated properly. It is sent when the whole reader mode is closed, not when the "appearance" settings are closed.

[2019-08-05 16:44] ekager commented on #4461
Please see #1577 for progress on this bug

[2019-08-05 16:44] #4461 closed

[2019-08-05 16:46] colintheshots commented on #4526
It looks like we either need text wrapping in some of these cases or we'll require wider menus. Simply using shorter words won't guarantee the text fits when translated.

[2019-08-05 16:47] kglazko commented on #4222
This is done, Fenix is now being uploaded to Nimbledroid on Nightly TC. See latest here: https://nimbledroid.com/my_apps/org.mozilla.fenix?a=e1483f63-6d82-4f53-a660-12823ffd55f0#summary

[2019-08-05 16:53] Delphine opened #4537 "Placeholder needs comment to expose string to l10n"
The latest string export we got needs a quick fix in order to expose to our localizers.
String in question is: "onboarding_firefox_account_auto_signin_header_2" ->
'%s' should be explained in localization comment

CC @grigoryk who landed the string, and @pocmo for visibility and triage.
thanks!

[2019-08-05 16:57] colintheshots commented on #4535
This is a duplicate of #4513, even though it was just broken out.

[2019-08-05 16:57] #4535 closed

[2019-08-05 17:00] ekager commented on #4513
I can reproduce by clearing the app data, having a lot of bookmarks, signing in and syncing, and then immediately going to bookmarks. Or unreliably by killing the process and cold starting and then going immediately to bookmarks. It must be happening while syncing is happening?

[2019-08-05 17:01] ekager commented on #4513
Possibly related to #4365 ?

[2019-08-05 17:04] ekager commented on #4529
IIUC this should be fixed by https://github.com/mozilla-mobile/fenix/issues/4412
Is that right @csadilek ?

[2019-08-05 17:10] jimbo1qaz commented on #4529
#4412 was closed 5 days ago. I think my master checkout was from 2 days ago.

[2019-08-05 17:16] colintheshots commented on #4532
I cannot reproduce this with the latest master on an Android 5.x emulator. Also, the logCat refers to DebugFenixApplication, which only exists in developer builds. Please re-open this if you can reproduce it in Nightly or any release.

[2019-08-05 17:17] ekager commented on #4499
This has been fixed

[2019-08-05 17:17] #4499 closed

[2019-08-05 17:24] sblatz commented on #2267
Going to close this as those pings are working as expected. Please re-open if you find any other issues!

[2019-08-05 17:25] sblatz commented on #2203
The fixes I worked on are done. The only items left are now animations and the quick action sheet not collapsing which will be fixed when we bring back the dynamic toolbar.

[2019-08-05 17:28] sblatz commented on #4499
Looks like now this is happening :(

Did the fix cause this?
<img width="492" alt="image" src="https://user-images.githubusercontent.com/4400286/62483087-b6eed580-b76b-11e9-86d2-0288787909fb.png">

[2019-08-05 17:35] sblatz opened #4538 "[Product Quality] Main Browser Toolbar - Checklist (Ongoing)"
Remaining items from #2203.

- [ ] **Toolbar:** Does not have a transition between page and start screen (tab switching)
Please reference https://github.com/mozilla-mobile/fenix/issues/1289
[Reporter: AmyYLee] [Date: 05/01/19]

- [x] **Quick Action Bar:** Does not hide correctly while scrolling - QAB when expanded should go into collapsed version before it disappears complete with the search bar.

[2019-08-05 17:36] sblatz commented on #2203
Closing and leaving the rest of the items for #4538.

[2019-08-05 17:39] lime124 commented on #3579
@ValentinTimisica two questions - 1) is there a reason there is a limit? 2) can we show a character counter instead of an error message?

[2019-08-05 17:41] lime124 commented on #2142
oops forgot to remove needs ux label - i've added it to an a11y audit so we can look at this then.

[2019-08-05 17:41] colintheshots commented on #4529
I can't find steps to reproduce, but I can determine why the toolbar and quick action sheet both might go uninflated. That should be enough to produce a fix, but I'm not certain how to test the fix yet.

[2019-08-05 17:47] sblatz commented on #2833
This is no longer waiting since https://github.com/mozilla-mobile/android-components/pull/3806/ was merged in!

[2019-08-05 18:02] apbitner commented on #4212
@liuche I'm open to suggestions here. Is Latin text going to be more clear though? Often times Lorem Ipsum is used as placeholder text so it could give the appearance that the feature is unfinished.

@mheubusch do you have any thoughts on this text?

[2019-08-05 18:05] buttercookie42 commented on #3639
#4458

[2019-08-05 18:07] sblatz opened #4540 "[Bug] Incorrect folder color"
## Steps to reproduce
0. Be in dark mode
1. Bookmark a page
2. Press "edit"
3. Press "Bookmarks" folder to edit which folder it's in

### Expected behavior
1. The icon is black to have contrast with grey circle

### Actual behavior
1. Folder icon is white and does not contrast

### Device information

* Android device: ?
* Fenix version: ?
<img width="492" alt="image" src="https://user-images.gith

[2019-08-05 18:18] aaudin90 commented on #4504
Can not reproduce. Are there any similar errors on another device?

[2019-08-05 18:22] sblatz commented on #2833
Hmm this looks like it's still waiting on AC to give us hooks. I'm going to file an issue for it and bubble it up as a high priority.

[2019-08-05 18:28] ekager commented on #4504
I believe this is the button that the host application is able to send us the icon and color for. Any fix for this would be in Android Components, we could possibly check the contrast for the color passed to us and adjust the color before adding the icon.

[2019-08-05 18:31] siddhugolu commented on #2639
@NotWoods I'm facing the download problem only with Firefox Send. Not sure whether OP is still facing the issue or not.

[2019-08-05 18:38] sblatz commented on #2833
@vesta0 is this supposed to be in our current sprint? I didn't even notice that it got removed at some point even though it was in our last one.

[2019-08-05 18:48] ekager commented on #1577
I think now that the GV build includes the fix we are now just waiting on mozilla-mobile/android-components#3877

[2019-08-05 18:51] ekager commented on #2609
I'm still seeing it freeze up with slower scrolling @cpeterso . If you fling to the bottom and then slowly scroll up, it doesn't scroll.

[2019-08-05 18:58] denschub commented on #2609
Eh, sorry. I accidentally ignored the ping. I can confirm, the issue is still there.

[2019-08-05 19:20] lime124 commented on #3760
added to the larger design effort. thanks!

[2019-08-05 20:20] mikeGolf08 opened #4544 "No duplicates in a collection"
### Why/User Benefit/User Problem

It is a bit confusing to save the exact same website in a collection twice because it is not a new tab concept only but a bit like a bookmarks system as well.

### What/Requirements

It should work like the bookmarks system where it will check for duplicates.

### Acceptance Criteria (how do I know when I’m done?)

Within the adding process it will show the dupli

[2019-08-05 21:35] sblatz commented on #3974
Definitely a GV issue. [I filed](https://bugzilla.mozilla.org/show_bug.cgi?id=1571557).

[2019-08-05 21:36] sblatz commented on #3974
This will not require any Fenix work and is up to GV to decide the priority so I'm labeling this a p5 for us as we won't get a patch for this until someone prioritizes it there.

[2019-08-05 21:41] sblatz commented on #4502
Labeling as feature request because this feels like a product choice to prioritize these issues or not :)

[2019-08-05 21:43] csadilek commented on #4529
@ekager This looks like it could be related (caused by the same problem) I described in https://github.com/mozilla-mobile/fenix/issues/4427. It's possible for the BrowserFragment to be created before the sessions have been restored. Without a `sessionId` we're not creating the UI properly.

[2019-08-05 21:48] rpappalax opened #4545 "[Bug] UI Tests failing on missing nav id/mozac_browser_toolbar_edit_url_view"
As of:  https://github.com/mozilla-mobile/fenix/commit/d0071d01771a77a3d1206c0756e6fba42394a702
multiple UI tests are failing due to missing element.  This element is in A-C but it doesn't look like there's been any changes there to have caused this

error:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with id: org.mozilla.fenix.debug:id/mozac_browser_toolb

[2019-08-05 21:48] rpappalax opened #4546 "[Bug] UI Tests failing on missing nav id/mozac_browser_toolbar_edit_url_view"
As of:  https://github.com/mozilla-mobile/fenix/commit/d0071d01771a77a3d1206c0756e6fba42394a702
multiple UI tests are failing due to missing element.  This element is in A-C but it doesn't look like there's been any changes there to have caused this

error:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with id: org.mozilla.fenix.debug:id/mozac_browser_toolb

[2019-08-05 21:51] #4537 closed

[2019-08-05 21:54] #4540 closed

[2019-08-05 21:56] NotWoods commented on #2639
@AquaBytez Can you also try to reproduce on Reference Browser?

[2019-08-05 22:00] sblatz commented on #3892
This seems like a pretty bad experience. Let's pull this into a sprint ASAP.

[2019-08-05 22:00] sblatz commented on #4469
Yep, closing as dup of #3892 and prioritizing that one :)

[2019-08-05 22:00] #4469 closed

[2019-08-05 22:14] ekager commented on #3892
IIUC this only happens in Nightly builds so still should be fixed but less of a big deal than P1

[2019-08-05 22:48] dholbert commented on #3974
I investigated, and in fact the issue is that Tumblr is relying on the [non-standard `zoom` property](https://developer.mozilla.org/en-US/docs/Web/CSS/zoom) in Chrome, and their standards-based fallback codepath (which Firefox gets) is not quite complete.  This is a webcompat bug -- we need to ask Tumblr to fix their code, and I suggested a fix on bugzilla.

[2019-08-05 22:57] cup opened #4549 "open with an app"
I prefer to use "NewPipe" for watching YouTube. With Chrome for Android I can
set default and from then on YouTube pages will open with NewPipe with a single
tap.

With Firefox for Android, I can long press followed by "open with an app".

Firefox Preview seems to have no such option.

[2019-08-05 22:57] #4102 closed

[2019-08-05 23:21] cup commented on #3704
https://github.com/mozilla-mobile/fenix/issues/3721

[2019-08-05 23:22] cup opened #4550 "top navigation"
open this issue as every other has been closed and refed as a duplicate of a
locked issue.

this is an important issue and should be open for discussion.

[2019-08-05 23:33] jyeontaek commented on #1667
I can't replicate this problem on my phone. Which devices does this bug occur?

[2019-08-05 23:35] mheubusch commented on #4212
@apbitner can we replace the current text with "This is sample text. It is here to show how text will appear when you increase or decrease the size with this setting."  and maybe repeat it if necessary?

[2019-08-06 00:01] liuche commented on #1749
Hey @ekager, I was talking to @kbrosnan about how much time QA would need for this feature. He said if it lands early in the sprint, then they wouldn't need a bake period (on say, Beta - or, if Beta isn't ready, we skip a release).

I remember you saying this was pretty much all done, but could you give a rough estimate on when the bulk of this would land in master (and what parts would need to wa

[2019-08-06 00:40] liuche commented on #4417
QA has said they'd like a little extra time to test this, so landing early in a sprint, or behind a feature flag.

[2019-08-06 00:40] liuche commented on #3106
QA has said they'd like a little extra time to test this, so this should be ideally behind a feature flag.

[2019-08-06 00:41] liuche commented on #3700
QA has said they'd like a little extra time to test this, so this should be ideally behind a feature flag.

[2019-08-06 00:42] liuche commented on #3262
QA would also like more time to test this, so we should put this behind a Feature Flag.

[2019-08-06 03:15] NotWoods commented on #4504
@dector Can you let us know which app you opened the custom tab in? I'll try and investigate further.

[2019-08-06 05:07] cadeyrn commented on #4550
Duplicate of #2115. If #2115 is locked it should not be circumvented by opening another issue...

[2019-08-06 06:29] softvision-miralobontiu commented on #4532
It doesn't crash with the latest Nightly build from taskcluster.

[2019-08-06 06:50] aaudin90 commented on #4504
Open link from Mail.ru, and i have blue share button on white background. Maybe i have ideas

[2019-08-06 07:57] sv-ohorvath commented on #3341
Verified as fixed on Nightly 190806, GV 69.

[2019-08-06 08:37] softvision-miralobontiu commented on #2994
Verified that accessing 🔐.ߔ.com doesn't crash the app. It only opens an "Address not found" error page. Tested on the latest Nightly build 190806 (#12180610) with LG G7 Fit (Android 8.1).

[2019-08-06 08:56] softvision-miralobontiu commented on #4532
I will reopen this issue as I encountered the crash with the latest Nightly build 190806, on Huawei P9 Lite (Android 6), and Huawei tablet MediaPad M2 (Android 5.1.1).

[logcat.txt](https://github.com/mozilla-mobile/fenix/files/3471232/logcat.txt)

[2019-08-06 09:06] softvision-miralobontiu commented on #1744
Verified as fixed on the latest Nightly build 190806 (#12180610) with LG G7 Fit (Android 8.1), and Nexus 5 (Android 6).

[2019-08-06 09:06] sv-ohorvath commented on #2021
Verified as fixed on Nightly 190806.

[2019-08-06 09:17] #4349 closed

[2019-08-06 09:28] softvision-miralobontiu commented on #4174
Verified as fixed on the latest Nightly build 190806 with Sony Xperia Z5 Premium (Android 7.1.1), and LG G7 Fit (Android 8.1).

[2019-08-06 09:28] #4174 closed

[2019-08-06 09:31] ValentinTimisica commented on #3579
1) Here is the task that led to this change -> #3388
2) The current API that we are using ([EditTextPreference](https://github.com/mozilla-mobile/fenix/blob/532e5313e91b86632e0eac624d6b5964a6c1a65b/app/src/main/res/xml/account_settings_preferences.xml#L27)) does not support this feature. To obtain this functionality a refactorization of the code is required.

[2019-08-06 09:35] softvision-miralobontiu commented on #3570
Verified as fixed on the latest Nightly build with LG G7 Fit (Android 8.1), and Sony Xperia Z5 Premium (Android 7.1.1).

[2019-08-06 09:41] softvision-miralobontiu commented on #148
Verified as fixed on the latest Nightly build 190806 with Sony Xperia Z5 Premium (Android 7.1.1), and LG G7 Fit (Android 8.1).

[2019-08-06 11:35] mdboom commented on #2488
Definitely!  It would be good to have a conversation about whether we could move this event abstraction into a different layer, such as Glean itself.

[2019-08-06 12:08] jawadalkassim commented on #4516
This is kind of annoying and i thought we will got a beautiful dark search widget

[2019-08-06 12:30] dector commented on #4504
@NotWoods This issue is 100% reproducible for me on up-to-date Xiaomi 4X device with any link and any app.

[2019-08-06 12:50] sv-ohorvath commented on #3983
Verified on Nightly 190806 the "/" is in the right place.

[2019-08-06 12:50] #3983 closed

[2019-08-06 13:05] sv-ohorvath opened #4554 "[Bug] Once you add an exception for a site, the other blocked permissions request access"
## Steps to reproduce
1. Go to Settings>Site permissions
2. Block all except one (e.g. Microphone)
3. Go to permission.site. Check the site panel info.
4. Tap one of the blocked permissions: notification/camera/location.
5. Tap Microphone, add the exception for mic: check "don't ask again" and Allow access.
6. Check the site info panel.
7. Tap another one of the blocked permissions.
### Expected b

[2019-08-06 13:09] hakkikaancaliskan commented on #4549
I think you miss this, you can use this for open in app.
![Screenshot_20190806-160814](https://user-images.githubusercontent.com/17825767/62542511-92c2ef80-b864-11e9-9a21-694550602ff2.png)

[2019-08-06 13:11] hakkikaancaliskan commented on #4546
Duplicate of #4545.

[2019-08-06 13:24] Verdi commented on #1744
The shortcuts appear but the "Fill in from clipboard" command doesn't show.

[2019-08-06 13:43] Dunexus commented on #4549
Probably related to QAB discoverability issues : https://github.com/mozilla-mobile/fenix/issues/3927

[2019-08-06 14:56] sblatz commented on #1744
@Verdi should that clipboard suggestion appear any time a user is in the shortcuts screen (from "shortcuts" button press AND from just opening search screen)? Should it disappear when the user starts typing?

[2019-08-06 14:59] sblatz commented on #3974
Thanks @dholbert!

[2019-08-06 15:06] Edu4rdSHL commented on #1724
Definitively will be good to have a beta program in the Play Store, it gives more facilities to users that want to test the latest beta releases instead that checking in Github if there are available releases, downloading and installing it manually.

[2019-08-06 15:07] Verdi commented on #1744
@sblatz It should only ever appear when applicable (url in the clipboard) and it should go away like normal when the user starts typing.

[2019-08-06 15:32] boek commented on #4550
Hey @cup, rest assured this is something that we are thinking about. We locked the conversation to collaborators only as the discussion before hand was not constructive.

[2019-08-06 15:32] #4550 closed

[2019-08-06 15:36] boek commented on #4549
This landed here: https://github.com/mozilla-mobile/android-components/issues/3695. If you find any bugs with it please feel free to open a new issue!

[2019-08-06 15:36] #4549 closed

[2019-08-06 15:37] #4546 closed

[2019-08-06 15:37] boek commented on #4545
Do we want to pull failing UI tests into the current sprint?

[2019-08-06 15:38] sblatz opened #4556 "Add @Before to reduce code duplication in tests"
Lots of our test would benefit greatly from having an `@Before` function. It would make our testing code a lot easier to read.

See [DefaultBrowserControllerTest](https://github.com/mozilla-mobile/fenix/pull/4493/files#diff-1144e67f32c3d338008db3149cbb1e60R57) for a good example.

[2019-08-06 15:38] boek commented on #4532
How severe is this? Should we pull it into the current sprint?