[2019-07-03 20:26] vesta0 commented on #1500
@mheubusch could you please confirm that we are still doing this? I know there is some work happening around re-designing tab management and I want to make sure we have the most up to design direction from UX before working on it.

[2019-07-03 20:29] sblatz commented on #2896
@AmyYLee When modifying the "open tab card" to have the right dimensions according to the mocks, the favicons look overly large. Is this expected?

They're now 66x66 (matching the mocks) with 8dp margins and the cards are 82dp tall.
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4400286/60623000-81cf1c00-9d96-11e9-8cfa-8ff9e8f7909b.png">

[2019-07-03 20:29] vesta0 commented on #2136
@mheubusch are we changing anything with library access (to ease access to bookmarks)? Moving this issue to UX backlog until we have confirmed design directions.

[2019-07-03 20:51] sblatz commented on #695
Closing this in favor of https://github.com/mozilla-mobile/fenix/issues/2357 which is addressed by https://github.com/mozilla-mobile/fenix/pull/3878

[2019-07-03 20:51] #695 closed

[2019-07-03 20:52] sblatz commented on #786
Closing this in favor of https://github.com/mozilla-mobile/fenix/issues/2357 which is addressed by https://github.com/mozilla-mobile/fenix/pull/3878

[2019-07-03 20:52] #786 closed

[2019-07-03 21:00] AmyYLee commented on #3806
That works for me

[2019-07-03 21:07] AmyYLee commented on #1750
Updated link to spec https://mozilla.invisionapp.com/share/YFR8WRD8WJ9

[2019-07-03 21:12] sblatz commented on #1750
We're timeboxing this to a 3 so we don't spend too much time trying to get the toolbar looking correct with the gradient.

This does not include adding the trash can button back or the "delete session" button as we've decided to not move forward.

[2019-07-03 21:13] #544 closed

[2019-07-03 21:17] vesta0 commented on #3855
Will be addressed in #2560

[2019-07-03 21:17] #3855 closed

[2019-07-03 21:21] AmyYLee commented on #2896
@sblatz Let's leave this one for now since this layout will most likely change.

[2019-07-03 21:22] vesta0 commented on #2560
@mheubusch and @topotropic do we want to consider re-introducing a button or a new way for users to quickly close private tabs?

[2019-07-03 21:23] AmyYLee commented on #2896
I'm referring to adding a shadow to soften the edges on the top and bottom like this. Does that make sense?
<img width="536" alt="Screen Shot 2019-07-03 at 5 22 01 PM" src="https://user-images.githubusercontent.com/5992746/60625897-28c3b000-9db7-11e9-9eee-a6be9093d673.png">
<img width="397" alt="Screen Shot 2019-07-03 at 5 21 48 PM" src="https://user-images.githubusercontent.com/5992746/60625898-2

[2019-07-03 21:34] blokeley commented on #3862
This is indeed a duplicate of #562 so I'll close it.

Whichever way the decision goes, I hope it is based on good User Interface and User eXperience [sic] design rather than the personal opinions of one or a few people.

Consistency in the UI is one of the first principles that all UI research and guidelines promote.  Examples include:

* "[Create consistency ... in layout](https://www.usability.g

[2019-07-03 21:34] #3862 closed

[2019-07-03 21:36] blokeley commented on #562
I agree that consensus should be sought on the best position for the URL bar, and then the URL bar  should stay there for consistency.

Whichever way the decision goes, I hope it is based on good User Interface and User eXperience [sic] design rather than the personal opinions of one or a few people.

Consistency in the UI is one of the first principles that all UI research and guidelines promote.

[2019-07-03 21:42] vesta0 commented on #712
This looks like a dup of #599 please close one of them.

[2019-07-03 21:55] vesta0 commented on #3237
@mheubusch FYI

[2019-07-03 22:04] vesta0 commented on #1867
This looks fixed.

[2019-07-03 22:04] cadeyrn commented on #562
Different people have different opinions about "good user interface design". There is not _one_ right answer. In the end _everything_ is based on opinions.

I'll copy my answer from the other issue because it was closed as duplicate:

[2019-07-03 22:05] vesta0 commented on #3521
We should fix this :)

[2019-07-03 22:14] cpeterso commented on #3643
@bogas04 - Can you still reproduce this emoji bug on your OnePlus 3T and the latest Fenix? Are you using a non-default keyboard?

I can't reproduce this bug in Fenix 1.0.1926 (Build #11790617 🦎 GV 68.0-20190612114833) on my Moto G5 Plus running Android 8.1.0. snorp wasn't able to reproduce on his Pixel 2 running Android Q. This suggests the problem might be something specific about the OnePlus 3T

[2019-07-03 22:15] vesta0 commented on #3679
Can't reproduce this on pixel 3.

[2019-07-03 22:16] vesta0 commented on #2232
This seems to be fixed.

[2019-07-03 22:18] vesta0 commented on #1631
Closing this ticket and tracking any related existing or new bugs through the `landscape` tag

[2019-07-03 22:21] colintheshots opened #3885 "[Bug] Close Reading Mode button disappears upon scrolling"
## Steps to reproduce
Open a news article in Reader Mode. Reproduced successfully on Bloomberg. https://www.bloomberg.com/opinion/articles/2019-07-02/trump-s-tariff-barrage-on-airbus-boeing-forces-eu-into-a-corner
Scroll the page with the Quick Action Bar open.

### Expected behavior
The Close button remains and works.

### Actual behavior
The Close button disappears and gets replaced by the Quick

[2019-07-03 22:24] cadeyrn commented on #2115
I use Fenix Nightly with the bottom toolbar since a few months. It's definitively easier to use the browser with only one hand compared to browsers with a top toolbar. With the old Firefox or with Chrome it's not easy at all. It's very difficult for me to reach the address bar, the tab switcher, the menu or the reload feature - basic features of the browser. Thanks to the bottom toolbar all of thi

[2019-07-03 22:35] csadilek commented on #3885
Yes, this can happen on some sites until https://github.com/mozilla-mobile/android-components/issues/2985 can land (currently blocked on GV fixes and enhancements).

[2019-07-03 22:54] mheubusch commented on #3860
@topotropic for your consideration as you look at collections.

[2019-07-03 22:58] mheubusch commented on #3772
@vesta0 AFAICT there are no strings needed, just some removed.  I already approved the removal of Already have an account in another issue. Tif and Ryan can work together for a design handoff.

[2019-07-03 23:00] mheubusch commented on #3104
@topotropic FYI as you consider bookmarks.

[2019-07-03 23:01] mheubusch commented on #3086
@AmyYLee Can you investigate and close if this is implemented as designed.

[2019-07-03 23:02] mheubusch commented on #3083
@AmyYLee please review and close if these are implemented to spec.

[2019-07-03 23:04] mheubusch commented on #3100
@topotropic please consider as you review collections and bookmarks.

[2019-07-03 23:53] ekager commented on #3083
These icons have already been updated, closing

[2019-07-04 00:04] ekager commented on #3237
Closing in preference to #3772 with more information

[2019-07-04 00:05] ekager commented on #3236
Closing because I will pick this up when completing #3772

[2019-07-04 00:31] rfk commented on #3877
@grigoryk I wonder if this is hitting a network error when to refresh the sync token, and triggering https://github.com/mozilla-mobile/android-components/issues/3347

[2019-07-04 00:38] ekager commented on #3772
@ryanfeeley Let me know when the designs are finalized and I can get an invision link or mock so I can match sizing. I have most of the changes done. Sorry this didn't make it into release!

@mheubusch I'm seeing maybe 2 new strings in the mocks. A new instructions string for pairing and a new title for pairing "Scan the code"

[2019-07-04 01:27] jonalmeida opened #3886 "Default device name should show both app and device name"
## Steps to reproduce
1. Install Fenix.
2. Sign into an account.

### Expected behavior
1. ~The default name should be '[app name]' or '[app name] on [device]'~
   - ~e.g. "Firefox Preview" or "Firefox Preview on Pixel 2".~

⚠️ **Update:**
Verified format: `[user]'s [app name] on device`
 e.g. "Jonathan's Firefox Preview on Pixel 2"

### Actual behavior
1. The default name is '[device] [manufactur

[2019-07-04 02:23] bogas04 commented on #3643
I'm using Google board. Can still reproduce on Nightly 190703 18:02 (Build #11841814)
📦: 3.0.0
🦎: 68.0-20190612114833

[2019-07-04 02:53] NotWoods commented on #2628
Fixed in #3723

[2019-07-04 02:57] ekager commented on #3751
You can rename a collection by pressing the three dot menu on that collection. You are correct you can't rearrange items within the collection

[2019-07-04 03:00] ekager commented on #3772
Also @ryanfeeley is the dialog in https://github.com/mozilla-mobile/fenix/issues/3134 part of this ticket?

[2019-07-04 03:07] NotWoods commented on #3756
Thanks for filling this issue! I'm moving it to our [Android Components](https://github.com/mozilla-mobile/android-components) repository, where the relevant toolbar code lives.

mozilla-mobile/android-components#3647

[2019-07-04 03:07] #3756 closed

[2019-07-04 03:13] NotWoods commented on #3612
Similar Focus implementation: mozilla-mobile/focus-android#506

[2019-07-04 03:23] ekager commented on #3612
Seems like a good idea! We would needs strings and which actions to add from UX/Product here

[2019-07-04 03:24] NotWoods commented on #3159
Fixed by #3233. We use a `ListAdapter` which internally calls `notifyDataRemoved`, and other items in the list animate to fill the space of the removed item.

[2019-07-04 03:28] NotWoods commented on #2680
Moving this issue to the [Android Components](https://github.com/mozilla-mobile/android-components/) repository, where the context menu code lives.

mozilla-mobile/android-components#3648

[2019-07-04 03:32] ekager commented on #2928
This is pretty simple to add. Any idea of how long we want to vibrate for? The API I see we just pass in the MS.

[2019-07-04 03:36] ekager commented on #3871
Ah closing for #3738

[2019-07-04 03:36] #3871 closed

[2019-07-04 04:25] ekager commented on #3886
Was this default specced out somewhere? It looks like it was a regression w #3317 we just need confirmation of what it *should* be and then it's just changing the default :)

[2019-07-04 04:52] kj commented on #3751
I meant editing the name of items in the collection rather than the collection itself.

[2019-07-04 05:38] krzyk commented on #3877
I have similar bug, but I'm logged out of sync AFAIK after each Fenix update (so basically every second day, or sometimes daily) - this is really annoying.
And also Fenix appears multiple times in my devices, so when I want to send a tab to my mobile I don't know which "Fenix" is the right one - is it possible that each release has a different ID in devices list? (I didn't change the name there).

[2019-07-04 06:39] yoasif commented on #3877
I don't turn WiFi off or switch networks that often, but I do move away from my primary WiFi network and fall back to LTE data.

[2019-07-04 06:48] AndiAJ commented on #3174
Many thanks for clarifying this topic, in this case I'll mark this as **QA verified** and close it.

[2019-07-04 07:57] AndiAJ commented on #733
Hi, **verified as fixed** on the latest Fenix Build `**#11850611 from 4/7** `using the following devices:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

►Video from Google Pixel 3XL
![2019_07_04_10_48_54](https://user-images.githubusercontent.com/51314259/60649241-5574d780-9e4a-

[2019-07-04 07:57] #733 closed

[2019-07-04 08:03] topotropic commented on #177
yes, I'll close it and we can add follow-up stories

[2019-07-04 08:26] topotropic commented on #2867
It's intended behavior – I agree though that it could be more explicit by giving people the option to open a link in a normal tab if they want to w/o having to make them do any inconvenient workarounds to get the site into normal mode. Also the other way around, if I leave FF Preview in normal mode, tap on a link and would rather be in private mode is worth to consider. @vesta0 can we track this a

[2019-07-04 08:35] topotropic commented on #3360
@mheubusch could you provide some copy to display on Settings/Tracking Protection/Exceptions when no exceptions are added? Currently it's not possible to go to the  "Exceptions" page when no exceptions are added and it seems broken.

[2019-07-04 09:18] AndiAJ commented on #3869
Hi, I can still reproduce this issue on the latest Fenix Build **`#11850611 from 4/7`** using a **Google Pixel 3XL (Android 9)** as it follows:

<details>
    <summary>Russian ✅ OK - Yandex </summary>

► **Settings:**
![Screenshot_20190704-110149](https://user-images.githubusercontent.com/51314259/60652021-1184d100-9e50-11e9-8f02-26c25fdbf9f4.png)

► **Fenix default search engines:**
![Screenshot_

[2019-07-04 09:21] softvision-miralobontiu opened #3889 "[Bug] Scan QR not working on some tablets"
## Steps to reproduce
1. Sign in on Firefox on Desktop.
2. On Desktop go to firefox.com/pair.
3. On tablet, go to Settings - Turn on Sync - Scan pairing code in desktop Firefox.
4. Allow camera and try to scan the QR code displayed on Desktop.

### Expected behavior
The QR should be read instantly.

### Actual behavior
The QR code is not read, no matter how close or far the tablet is approached.

[2019-07-04 09:33] AndiAJ commented on #3201
Hi, **verified as fixed** on the latest Fenix Build **`#11850611 from 4/7`** using the following devices:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

►Video from Google Pixel 3XL
![2019_07_04_12_24_35](https://user-images.githubusercontent.com/51314259/60656198-bd7dea80-9e57-

[2019-07-04 09:53] softvision-miralobontiu commented on #2067
Verified as fixed on the latest Nightly build 190704 (#11850611) with Google Pixel 3 (Android 9), Sony Xperia Z5 Premium (Android 7.1.1), and Samsung Galaxy Tab S3 (Android 8).

[2019-07-04 11:25] AndiAJ commented on #1867
Hi, **verified as fixed** on the latest Fenix Build **`#11850611 from 4/7`** using the following devices:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)
• Nexus 7 (Android 5.1.1)
•Nexus 9 (Android 7.1.1)

[2019-07-04 11:42] AndiAJ commented on #1968
Hi, **verified as fixed** on the latest Fenix Build **#11850611 from 4/7** using the following devices:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

►Video from Samsung Galaxy S8+
![20190704_143057](https://user-images.githubusercontent.com/51314259/60664146-d2fc1000-9e69-11e9

[2019-07-04 11:47] AndiAJ commented on #2232
Hi, **verified as fixed** on the latest Fenix Build `#11850611 from 4/7 ` using the following devices:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

[2019-07-04 12:08] softvision-miralobontiu commented on #343
Verified as fixed on the latest Nightly build 190704 (#11850611) with Samsung Galaxy Tab S3 (Android 8).

![20190704_150420](https://user-images.githubusercontent.com/40694158/60665527-5bc87b00-9e6d-11e9-94cd-8e8425ed41c5.gif)

[2019-07-04 13:00] topotropic commented on #1949
It looks better now, agreed.

If we want to improve this, we could remove the 3-dot menu which adds visual noise and since we don't support adding a separator we could also not support removing separators. Visually we would have a 1dp separator with 16dp spacing on each side. But, maybe let's ignore this for now and close the issue? @vesta0
![Copy 2](https://user-images.githubusercontent.com/35396

[2019-07-04 13:05] AndiAJ commented on #3829
Hi the issue is still replicating on the latest Fenix Build #11850611 from 4/7 using the following devices:

• Google Pixel 3XL (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)
• Sony Xperia Z3 (Android 5.1.1)

<details>
    <summary>Extra details and video</summary>

At **step 6**  I've selected;
• Share
• Find in Page
• Desktop si

[2019-07-04 13:38] Amejia481 commented on #3880
Similar issue on AC -> https://github.com/mozilla-mobile/android-components/issues/846

[2019-07-04 14:07] AndiAJ commented on #3734
Hi, I wasn't able to delete the tab behind the overlay by swiping horizontally, on the other hand it offers the possibility to swipe up and down throughout the long tap, after releasing, no movements are possible.

I've used the latest Fenix Build ` #11850611 from 4/7` on the following devices:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S9 (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsu

[2019-07-04 14:34] jonalmeida commented on #3886
Yes, here: https://mozilla.invisionapp.com/share/QSR2F8UD4PN#/screens/357470305

The format there is '[app name] on [person]'s [device]' but this was scoped to match desktop which is the format currently used everywhere, i.e. '[app name]' or '[app name] on [device]' .

[2019-07-04 15:53] Amejia481 opened #3890 "[Bug] File donwloaded by Fenix are deleted after unstallind Fenix app on Android 7"
## Steps to reproduce

1. Download https://github.com/mozilla-tw/FirefoxLite/releases/download/v1.7.0/Firefox-Lite-12623.apk.
2. Go to the download folder **the file should be there**.
2. Uninstall Fenix.
3. Go to the download folder **the file is gone with Fenix**.

### Expected behavior
The download file must not be deleted when Fenix is Uninstalled .

### Actual behavior
The file is gone with F

[2019-07-04 16:02] vladikoff commented on #3772
I guess it could be a separate fix?

[2019-07-04 16:05] Amejia481 commented on #2109
There some combined issues here:

1. The default file manager is not understanding the file extension "target.**aarch64.apk**"
2. You may be trying to install the same app that you already have installed..

__________________________

####  1) The default file manager is not understanding the file extension "target.**aarch64.apk**"

 The default file manager is not understanding the file extension

[2019-07-04 16:08] vladikoff commented on #3772
(side note, once we land the new screens, we can keep an eye on this chart: https://sql.telemetry.mozilla.org/queries/63433/source#162424  to see how it improves the numbers for pairing)

[2019-07-04 18:46] klausenbusk commented on #3680
Same/similar issue with [LineageOS 16/Android 9](https://forum.xda-developers.com/galaxy-s4-mini/orig-development/rom-lineageos-16-0-s4-mini-t3833063). The app is just stuck at a white screen.

Relevant logcat:
[code]

[2019-07-04 19:00] SeburoSUMO opened #3891 "[Bug] Open in new tab opens image, not URL"
## Steps to reproduce

As reported in GPS review:

"One major gripe I've noticed however is that when for example Im om a news site that uses images as link/article header,while holding press to open in new tab. It opens then url for the image, not the one for the article. "

### Device information

* Android device: Android 9
* Fenix version: Current release in GPS (assumed)

[2019-07-04 19:02] klausenbusk commented on #3680
Is this a duplicate of https://github.com/mozilla-mobile/fenix/issues/2945?, which was fixed in https://github.com/mozilla-mobile/fenix/pull/3854. I will test with [v1.0.1-rc.1](https://github.com/mozilla-mobile/fenix/releases/tag/v1.0.1-rc.1) when a apk is ready.

[2019-07-04 19:15] klausenbusk commented on #3680
I just tried the [latest Nightly](https://queue.taskcluster.net/v1/task/F5caWFM-S4qGj7W9Awc13A/runs/0/artifacts/public/target.arm.apk) and the app starts now, so I assume it was fixed by #3854.

[2019-07-04 19:20] sarentz commented on #2109
@mitchhentges Check the _ The default file manager is not understanding the file extension as the file ends on "target.aarch64.apk",_ part - maybe we want to change the naming of the resulting APKs because it is useful to being able to download them from TC.

[2019-07-04 19:52] klausenbusk opened #3892 "[Bug] Tapping Settings -> Help opens Google search (only affects nightly)"
## Steps to reproduce
Tap `Settings -> Help`

### Expected behavior
A help page opens

### Actual behavior
A Google search for `https://support.mozilla.org/1/mobile/Nightly 190704 06:06/Android/da-DK/faq-android` is opened.

### Device information

* Android device: Samsung S4 Mini (serranoltexx) - Android Pie
* Fenix version: Nightly ([190704 06:06](https://queue.taskcluster.net/v1/task/F5caWFM-S

[2019-07-04 19:54] Amejia481 commented on #3695
I'm also seeing the current URL being shown twice in the search results, the only differences between each other are that the first one has the URL as a title, and it's actionable, the second one is not actionable and have the title of the web site.

![image](https://user-images.githubusercontent.com/773158/60685803-2aeb4480-9e73-11e9-9aea-616b39d1abc9.png)

[2019-07-04 20:20] mitchhentges opened #3893 "Rename apks on taskcluster to remove extra ".""
Due to:

from [this bug](https://github.com/mozilla-mobile/fenix/issues/2109#issuecomment-508528688), we should change the output apk name format to avoid the "double-extension"

[2019-07-04 20:20] mitchhentges commented on #2109
Created #3893 :)

[2019-07-04 20:28] sarentz commented on #3893
@sarentz note to self to fix the nimbledroid scripts to pick up this name change

[2019-07-04 20:45] ekager commented on #3695
I think one of them is the history item maybe? It is if it opens in a new tab by loading that URL. We should probably continue looking into duplicate URL suggestions solutions as well

[2019-07-04 20:53] ryanfeeley commented on #3772
For now, please remove the redundant bottom link *Create an account*. That's the only part of the descoping that was done without surgical precision. ;)

[2019-07-04 20:59] vladikoff commented on #3772
thanks Ryan!

On Thu, Jul 4, 2019 at 4:53 PM Ryan Feeley <notifications@github.com> wrote:

[2019-07-05 01:20] vesta0 commented on #100
@mheubusch I noticed that the google doc has a few incomplete items, are there separate issues filed for those and can we close this meta?

[2019-07-05 01:22] vesta0 commented on #378
@mheubusch the google doc has a few incomplete items, are there separate issues filed for those and can we close this meta?

[2019-07-05 02:02] neekless commented on #3892
Reproduced on Nightly 190704 18:04 (Build #11851810), Pixel 2XL Pie

Opens a search page (in my case duckduckgo) for `https://support.mozilla.org/1/mobile/Nightly 190704 18:04/Android/en-US/faq-android`

The version name is affecting the url.

[2019-07-05 02:36] neekless commented on #3758
Coming from a user who switched from chrome, I have to say when there are many tabs open, it's much easier for me to recognize a tab from its thumbnail than from its title/favicon, especially when it comes to multiple tabs from the same domain.

I believe something like this could be viable [chrome-grid-tab-switcher-2](https://user-images.githubusercontent.com/22426822/60694413-a083fe80-9ecd-11e9-

[2019-07-05 02:41] vesta0 opened #3894 "[Meta] Bookmarks discoverability and navigation"
### Why/User Benefit/User Problem
-As a user I want to be able to easily discover how to bookmark a page (related to #3927, #3104, #3853)
-As a user I want to be able to quickly access my saved bookmarks in fewer steps (based on user feedback, related #1487, #3677)
-As a user I want to easily understand when to create collections vs add a bookmark, so I can have a more intuitive user experience (b

[2019-07-05 02:41] vesta0 commented on #3100
Will be addressed in #3894

[2019-07-05 03:01] vesta0 commented on #1570
Will be addressed in #3177

[2019-07-05 03:10] vesta0 commented on #3223
Will be addressed [here](https://github.com/orgs/mozilla-mobile/projects/32/edit)

[2019-07-05 03:28] vesta0 commented on #1110
Will track here: https://github.com/orgs/mozilla-mobile/projects/26

[2019-07-05 03:33] vesta0 commented on #790
Will re-open if Fennec transition strategy changes.

[2019-07-05 03:33] #790 closed

[2019-07-05 03:57] vesta0 commented on #223
Will be tracked [here](https://github.com/orgs/mozilla-mobile/projects/13) and also tracked by `PWA` label.

[2019-07-05 03:59] #9 closed

[2019-07-05 04:00] vesta0 commented on #213
The work for MVP is completed.

[2019-07-05 04:00] vesta0 commented on #90
The work for MVP is completed.

[2019-07-05 04:00] #90 closed

[2019-07-05 04:01] vesta0 commented on #115
The work for MVP is completed.

[2019-07-05 04:31] vesta0 commented on #291
Tracked by `Feature:Settings` label

[2019-07-05 05:54] cadeyrn commented on #3758
@neekles: this is very, very similar to the tab switcher UI of Firefox.

[2019-07-05 07:11] ybc37 opened #3895 "Add functionality to reorder collections"
### Why/User Benefit/User Problem
As a user having multiple collection they appear in the order of creation. So it happens that collection, which are more used than others appear lower and aren't so accessible as not so frequently used collections.

### What/Requirements
A functionality to manually reorder collections would solve this issue. Maybe a long tab on a collection would initiate reorderi

[2019-07-05 07:58] sv-ohorvath commented on #3680
Thanks @klausenbusk  for verifying! I'll close this now.

[2019-07-05 07:58] #3680 closed

[2019-07-05 07:58] karlcow commented on #1570
@ekager will this bug cover also the currently unknown schemes such as

[code]

Because of a couple of issues have been closed against this one and this bug doesn't make it clear if it's only `intent://` scheme or any scheme.
Thanks.

[2019-07-05 08:09] sv-sdeiac commented on #2777
Other steps to encounter this issue are:
1. Go to a page;
2. Tap on the text from the URL bar;

Notes:
- Not reproducible if you tap on the empty part of the URL bar;
- Reproducible always when you go to a page;
- Fenix version: 1.0.1-rc.1

[2019-07-05 08:18] AlynxZhou commented on #3086
Could anyone tell us whether this is being fix or not? No animation doesn't seems a feature...

[2019-07-05 09:00] sv-ohorvath commented on #3690
Also verified on the RC 1.0.1. Nexus 9 (Andriod 7.1.1), Pixel 3 (Android 9)

[2019-07-05 09:09] sv-ohorvath commented on #3214
Also verified on the RC 1.0.1 build. Nexus 9 (Android 7.1.1), Google Pixel 3 (Android 9).

[2019-07-05 09:44] sv-ohorvath commented on #3213
Also verified on the RC 1.0.1 build. Nexus 9 (Android 7.1.1), Google Pixel 3 (Android 9).

[2019-07-05 09:55] AndiAJ opened #3897 "[Bug] Empty space on Netflix.com after closing the cookies banner"
## Steps to reproduce
1. Navigate to netflix.com
2. View the Cookies banner
3. Tap the x button from the banner

### Expected behavior
The banner should be semi-transparent.
No empty space should be left after dismissing the banner.

### Actual behavior
The banner isn't semi-transparent.
Empty space left after dismissing the banner.

### Device information

* Android device:
• Google Pixel 3XL (An

[2019-07-05 10:08] AndiAJ opened #3898 "[Bug] Taobao.com isn't displayed properly in landscape mode"
## Steps to reproduce
1. Visit taobao.com
2. Rotate device to landscape view

### Expected behavior
The page is properly displayed, no UI defects.

### Actual behavior
The  page isn't properly displayed, everything seems to be cornered to the left

### Device information

* Android device:
• Google Pixel 3XL (Android 9)
• Google Pixel 3 (Android 9)
• Pixel Xl (Android Q Beta 4)
• Samsung Galaxy S9

[2019-07-05 11:08] topotropic commented on #2560
yes, that's part of the collections / multi-tasking review.

[2019-07-05 11:41] benfrancis opened #3899 "PWA installation via Ambient Badging - with UI proposal"
### User Story
As a user I want to be made aware that the web page I'm currently using is part of a web app I can install and have an easy way to install it

I would like to:
* Have an unobtrusive and intuitive way to indicate that the current page is part of a web app I can install
* Have an easy way to install any web app (any website with a web app manifest) at any time without having to meet s

[2019-07-05 12:28] Dunexus commented on #3899
To show up Web Apps in the app launcher, Chrome generates WebAPKs.

    We are working on it. We are committed to making this available to all browsers on Android and we will have more details soon.

Source : https://developers.google.com/web/fundamentals/integration/webapks (Last updated June 20, 2019)

[2019-07-05 12:32] AndiAJ opened #3900 "[Bug] After sharing a page from Fenix to Firefox Nightly the popup menu remains in the recent apps menu"
## Steps to reproduce
1. Open a page in Fenix
2. Tap the 3 dot menu button
3. Tap Share
4. Select "Add to Nightly"
5. Select "Open in Nightly" from the popup menu

### Expected behavior
After opening the shared page in Nightly, the pop-up should disappear.

### Actual behavior
After opening the shared page in Nightly, the pop-up doesn't disappear, it remains in the recent apps menu

### Device inf

[2019-07-05 12:35] vesta0 opened #3901 "Tracking Protection Visibility"
## User Story
- As a user, I want to know that my browser is protecting me from intrusive trackers, so that I feel good about using the browser with TP on and trust that it's protecting me.

## Dependencies
GV APIs available
A-C work will be required

### Acceptance Criteria
- I can see that my browser has blocked trackers
- I can clearly notice/find TP toggle and disable/enable it

[2019-07-05 13:00] AndiAJ opened #3902 "[Bug] Soundcloud not loading visual content on first attempt"
### Prerequisites
Clean profile

## Steps to reproduce
1. Navigate to Soundcloud.com
2. Search for a track
3. Play the track

### Expected behavior
Page is properly loaded, visuals and audio working.

### Actual behavior
The visuals aren't loaded, the audio plays.

### Device information

* Android device:
• Google Pixel 3XL (Android 9)
• Pixel XL (Android Q Beta 4)
• Nexus 9 (Android 7.1.1)
* Fen

[2019-07-05 13:07] sv-ohorvath opened #3903 "[Bug] YouTube doesn't switch back from desktop site"
## Steps to reproduce
1. Load youtube.com
2. Switch Desktop site on.
3. Switch Desktop site off.
### Expected behavior
The mobile site is displayed.
### Actual behavior
The desktop site still displayed.
Other websites behave normally.
### Device information

* Android device: Pixel 3 (Android 9), Nexus 9 (Android 7.1.1)
* Fenix version: 1.0.1 rc1 (#11851847)

[2019-07-05 13:13] bogas04 opened #3904 "[Bug] Switching tabs shows a white screen"
## Steps to reproduce
Open Fenix
Open some tabs
Switch between them

![Screencast of STR](https://thumbs.gfycat.com/ForsakenInsecureGemsbuck-size_restricted.gif)
### Expected behavior

### Actual behavior
No white screen should occur/ghosting of tabs idk.

### Device information

* Android device: OnePlus 3T, Android Pie
* Fenix version:
Nightly 190704 18:04 (Build #11851810)
📦: 3.0.0
🦎: 68.0-2019

[2019-07-05 13:19] sv-ohorvath opened #3905 "[Bug] tablet - "Go back" button too low on high risk error pages"
## Steps to reproduce
1. Load http://testsafebrowsing.appspot.com/s/phishing.html
2. Check the "go back" button.
### Expected behavior
The button is visible.
### Actual behavior
The button is under the fold.
### Device information

* Android device: Tablet - Nexus 9 (Android 7.1.1)
* Fenix version: 1.0.1 rc1

[2019-07-05 14:14] sv-ohorvath opened #3906 "[Bug] Clear permissions and Go to settings buttons are missing a background"
## Steps to reproduce
1. From system settings>Apps>Firefox Preview>Permissions, block some permissions for the app.
2. Inside the browser, load permission.site, allow some exceptions.
3. Go to Settings>Site permissions. Verify the permission blocked at Step 1, observe the Go to Settings button.
4. Open the Exceptions list, open the permission.site, verify the Clear permissions button.
### Expected

[2019-07-05 14:33] AndiAJ commented on #3383
I was able to reproduce this issue on **1.0.1-rc.1 Build # 11851847 4/7** using a Google Pixel 3XL (Android 9) following this Alternative STR:
1. Visit wikipedia. org
2. Long tap on a word

**Actual behavior:**
After long tapping a word (or double tap) the word is highlighted but the text selection toolbar isn't appearing

[2019-07-05 14:40] djc commented on #3877
I also keep being logged out of Sync on my phone. Based on my experience, I think the logout being triggered by updates feels more fitting than based on network conditions.

[2019-07-05 14:57] AndiAJ opened #3907 "[Bug] Go back button from malicious websites isn't redirecting to homescreen"
## Steps to reproduce
1. From the home screen navigate to https://expired.badssl.com/ or http://testsafebrowsing.appspot.com/s/phishing.html
2. Tap the "Go back" button

### Expected behavior
Should redirect to Fenix home screen

### Actual behavior
Doesn't happen anything

### Device information

* Android device:
• Google Pixel 3XL (Android 9)
• Nexus 9 (Android 7.1.1)

* Fenix version: 1.0.1-rc

[2019-07-05 18:02] mitchhentges commented on #2356
We need [app keys](https://github.com/mozilla-mobile/fenix/issues/2356#issuecomment-496251650) for `org.mozilla.fenix.nightly`. I'll talk to RelMan

[2019-07-05 19:28] vrudesai commented on #3791
Dupe of Issue [#1207](https://app.zenhub.com/workspaces/fenix-all-5bfedb154b5806bc2bf8d48c/issues/mozilla-mobile/fenix/1207)

[2019-07-05 20:08] wisniewskit opened #3910 "Should be allowed to to visit an insecure page anyway."
## Steps to reproduce (as reported at https://webcompat.com/issues/34583)
Visit sistemas.anac.gov.br

### Expected behavior
Fennec, Chrome mobile and desktop browsers allow opting into visiting the site anyway, despite the security issue.

### Actual behavior
Fenix does not allow opting into visiting the page anyway.

### Device information

* Android device: Samsung Galaxy S7, Android 8.0.0
* Fen

[2019-07-05 22:29] csadilek opened #3914 "Fenix doesn't work when launched with latest Raptor"
Raptor is now using a .yaml file to specify Gecko runtime settings instead of passing those along as intent args. While this works fine in R-B and GVE, it fails in Fenix. A tab is opened with about:blank, but the webextension is not loaded.

[2019-07-06 00:32] nahuhh commented on #3864
Confirmed on BlackBerry KeyOne 8.1.0

[2019-07-06 02:55] kumarharsh commented on #3791
It's opening zenhub for me...

[2019-07-06 08:06] kolAflash commented on #3680
Confirming, it's fixed.

[2019-07-06 08:13] kolAflash commented on #3262
Maybe related?
- https://github.com/mozilla-mobile/android-components/issues/1824 _Meta: Pull To Refresh_

[2019-07-06 08:38] kolAflash opened #3915 "[Bug] auto refresh not working when app was closed"
## Steps to reproduce
1. Open a page.
2. Close tab.
3. Stop Firefox Preview (e.g. via Android app properties ui).
4. Open Firefox Preview again, AFTER content has changed.
5. Open same page again.

If you have a website, use a simple HTML site for testing and just change something before step 4.
Else you may edit some content from ANOTHER BROWSER on GitHub. (e.g. create a project in your account a

[2019-07-06 12:30] krzyk commented on #3877
And again, after update (actually I had two updates, one after another, I didn't check after the first one) I'm again logged out of sync so the reason is obvious - updated of the app.

[2019-07-06 15:25] andreicristianpetcu commented on #2109
Firefox Lite APK works @Amejia481
The Fenix build works fine in Fennec, it's broken only in Fenix. Same apk file.

[2019-07-06 15:40] Amejia481 commented on #2109
@andreicristianpetcu in Fenix we are relaying for now on the default Android download manager while in Fennec we are using a custom download provider. We are working on improving downloads with our custom provider on https://github.com/mozilla-mobile/android-components/issues/1968 that will fix this and other related issues.

[2019-07-06 16:17] force1164 opened #3917 "[Bug] Load more comments js behaving strangely"
## Steps to reproduce
1. go to mobilenet.cz
2. click on any article with more than 4 comments
3. scroll down to comment section (called DISKUZE KE ČLÁNKU)
4. click on "NAČÍST VŠECHNY KOMENTÁŘE" (load all comments)

### Expected behavior
more comments are loaded

### Actual behavior
Some code is displayed. (see screenshot)

### Device information
OnePlus 6

* Android device: yes, pie.
![Screenshot_

[2019-07-06 16:29] buttercookie42 commented on #3075
Still happens.

[2019-07-06 18:57] kbrosnan commented on #3791
Not a dupe of Verdi's issue which is describing address bar interactions. This is about content and is a GV bug.

[2019-07-06 18:58] kbrosnan commented on #3378
Dupe of #2590

[2019-07-06 18:58] kbrosnan commented on #3791
Dupe of #2590

[2019-07-06 18:58] #3791 closed

[2019-07-06 21:19] jcursiolf commented on #3877
Every update logs me out. Also now it does  not even show my other Firefoxes to share. I have to use either KDE Connect on Linux or the My Phone app to my Widnows machine....

[2019-07-07 00:23] nahuhh opened #3918 "visual indication of bookmarks during autosuggestion"
### Why/User Benefit/User Problem
Currently there is no way to distinguish between bookmarks and history. Attached image. The red dot painted on the screenshot indicates a bookmark.
### What/Requirements
- When suggesting bookmarks, there should be a star where I drew the red dot or to the left of the site icon
![image_2019-07-06_20-14](https://user-images.githubusercontent.com/50635951/60762351-c

[2019-07-07 00:28] nahuhh commented on #2560
@vesta0
I think the best implementation is simply to show a notification w

[2019-07-07 05:43] nahuhh opened #3919 "[Bug] ad redirects hijack current tab"
Some websites launch intrusive ad redirects when interacting with the page.
In other browsers, are opened in a new tab
In fenix and focus they are opened in the same tab

Not sure if this is a webcompat issue.

An actual website with actual ads: www.vipleague.bz

## Steps to reproduce
- go to a website with one of those overlay popup triggers
- tap something on the website

### Expected behavior
-

[2019-07-07 10:09] scjb opened #3920 "[Bug] Intents don't open the default app when available"
## Steps to reproduce
1.Install wikipedia Android App
2.Make sure the Wikipedia App is set to handle URLs from wikipedia by default
3.Go to wikipedia.org

### Expected behavior
Wikipedia app opens automatically and displays the article

### Actual behavior
Firefox opens the article itself, instead of respecting the system default app for the wikipedia.oeg URLs

### Device information

* Android de

[2019-07-07 10:44] Minabsapi commented on #3920
Looks like an intent error.
Also, consider adding a proper title instead of just a tag, for readability.

[2019-07-07 14:43] thewhitetulip commented on #3807
I had sent a crash report the moment it had crashed, if it is of any help.

[2019-07-07 14:44] thewhitetulip commented on #3745
Well, we can ask, "We have detected that you've logged into firefox" just like Amazon prime does..

[2019-07-07 17:30] SeriousHoax commented on #3124
If not by default then at least an option should be added to change the current behavior to the traditional one.

[2019-07-07 18:31] nahuhh commented on #3920
Intents uses to work, although far too aggressively. #3349 refers to this and offers a different take on implementation

[2019-07-07 18:46] nahuhh commented on #3611
I was following along #2911, which is now fixed and closed.

Looks like a different issue.

Using the same website in question as #2911 (www.cnn.com)

- go to CNN.com and long press the image at the top of the news article
- make note of the url that is listed in the dialog

### expected behavior
The url of the article is listed
### actual behavior
The url of the image is listed

[2019-07-08 01:06] #3879 closed

[2019-07-08 01:34] ekager commented on #3917
Can reproduce in RB and not in Chrome so I filed a GV bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1563990

[2019-07-08 01:37] #3914 closed

[2019-07-08 01:47] ekager commented on #3918
Closing as a dupe of #2037.

[2019-07-08 01:47] #3918 closed

[2019-07-08 06:26] #3761 closed

[2019-07-08 07:46] softvision-miralobontiu opened #3921 "[Bug] [a11y] Automatic theme is not read"
### Prerequisites
Make sure you have a clean profile

### Steps to reproduce
1. Enable Talkback on your device.
2. Swipe through Onboarding until you reach "Choose your theme" card - Automatic.

### Expected behavior
The Automatic theme should be read.

### Actual behavior
The automatic theme is not read.

### Device information
* Android device: Motorola Moto G6 (Android 8), Sony Xperia Z2 tablet

[2019-07-08 07:56] neekless commented on #3920
This is intentionally disabled temporarily https://github.com/mozilla-mobile/fenix/issues/3358, as it still needs to be worked on.

[2019-07-08 08:22] softvision-miralobontiu opened #3922 "[Bug] [a11y] "No history here" is not read after deleting all history"
### Steps to reproduce
1. Turn Talkback on.
2. Visit at least a page.
3. Go to Settings - Your library - History and delete all history.

### Expected behavior
The voice assistant should read "No history here".

### Actual behavior
The voice assistant announces "List" instead of "No history here".

### Device information
* Android device: Motorola Moto G6 (Android 8), Sony Xperia Z2 tablet (Androi

[2019-07-08 14:17] abodea opened #3924 "The URL should not be displayed when accessing URL bar while a tab is opened"
### Why/User Benefit/User Problem
As a user I want to be able to write text on the `URL` bar when tapping on it without deleting the previous URL.
### What/Requirements
For example if tapping on the `URL` bar while a tab is opened, the URL text should be hidden and the cursor should be on the `URL` bar and the text can be added without deleting the `URL` from the opened tab.
Note that accessing we

[2019-07-08 14:30] cadeyrn commented on #3924
I know that Chrome hides the URL but since the URL is automatically selected in Firefox and Fenix there is no need for the user to remove the URL, you can immediately start typing. It's only a visual difference, accessing web pages is _not_ faster with the proposed change.

Please also note that, at the moment, it's the only way to see the full URL in Fenix because you can't scroll within the addr

[2019-07-08 14:55] AndiAJ opened #3925 "[Bug] Turn on Sync & Create an account not working if a number less than 13 is entered in the Create Account wizard"
## Steps to reproduce
1. Tap "Settings"
2. Tap "Turn on Sync"
3. Tap "Create an account"
4. Enter valid email and passwords
5. For Age ("How old are you?") enter a number < 13

### Expected behavior
A simple and easy way for the user to be redirected to the create account wizard, without being needed to close, re-open Fenix and to restart the whole process
Properly working "Turn on Sync" &  "Creat

[2019-07-08 15:21] abodea opened #3926 "[Bug] The exact same web page is opened more than once when opening it from a collection"
## Steps to reproduce
1. Launch Fenix.
2. Open more web pages.
3. Create a collection with more web sites.
4. Open that collection few times.
### Expected behavior
If the exact same website from a collection(or same collection) is already opened, when opening all the tabs from a collections, there should not be duplicates.
### Actual behavior
Even if the exact web site is already opened, when open

[2019-07-08 15:23] vesta0 opened #3927 "[spike] Re-evaluate the usability and discoverability Quick Action Bar"
## User Story
- As a user, I want an intuitive way to add a bookmark or access frequent just-in-time actions without unwanted triggering of the Quick Action Bar when I am browsing and interacting with a site, so I can have a streamlined browsing experience.

### Acceptance Criteria
- I know how to add a bookmark
- I don't accidentally trigger the Quick Action Bar

------------------------
User fee

[2019-07-08 15:27] kbrosnan commented on #3925
This is expected behavior. https://bugzilla.mozilla.org/show_bug.cgi?id=1553793

[2019-07-08 15:27] #3925 closed

[2019-07-08 15:39] ekager commented on #3926
Currently this is the "correct" behavior. We restore a duplicate session with a new unique ID. It would be difficult for us to tell if a session already exists with the exact back/forward history, and if the user has changed any of the session state, we probably shouldn't treat it as the "same" session anymore.

[2019-07-08 15:49] AmyYLee commented on #2136
Closed because because this is moved to the UX Product Quality checklist here https://github.com/mozilla-mobile/fenix/issues/2273

[2019-07-08 15:50] AmyYLee commented on #3086
This is issue is tracked under the UX Quality checklist here https://github.com/mozilla-mobile/fenix/issues/2273

[2019-07-08 15:54] AmyYLee commented on #599
Please let me know when this is fixed and I'll review it. Thanks

[2019-07-08 15:59] sblatz commented on #599
@AmyYLee I think we need feedback on [this comment](https://github.com/mozilla-mobile/fenix/issues/599#issuecomment-501842114) before engineering can take this over.

[2019-07-08 16:00] ekager commented on #3547
I tried a fix that more clearly tints the button, but I don't have an HTC device to test the fix on. Added QA needed label :)

[2019-07-08 16:22] sblatz commented on #2896
Touched base with @topotropic and it sounds like we want to hold off on these polishes until we've settled on a final collections design.

@bifleming can we move this off the board? I'll throw a blocked label on it.

[2019-07-08 16:41] ekager commented on #3906
Hm these buttons weren't actually the ones mentioned in #3453 but I agree it's a bit weird they don't match. I will follow up with UX.

[2019-07-08 17:07] ekager commented on #3906
@AmyYLee should these buttons also have the theme-independent grey button theme?

[2019-07-08 17:20] pocmo commented on #3608
AC issue: https://github.com/mozilla-mobile/android-components/issues/3517

[2019-07-08 17:20] ekager commented on #3772
For now, I've removed the create an account option in #3928 . I've also opened a draft PR with most of the other changes (and strings) https://github.com/mozilla-mobile/fenix/pull/3933 and can update with exact values when ready.

[2019-07-08 17:30] sblatz opened #3934 "Generate metrics.md from metrics.yaml"
Currently we have to manually enter our telemetry events into **many** different places:
* Metrics.kt
* metrics.yaml
* metrics.md

It'd be great if we could generate a lot of this work (or at least the md file) from the yaml file.

[2019-07-08 17:35] sblatz commented on #3934
Closing in favor of https://github.com/mozilla-mobile/fenix/issues/1156

[2019-07-08 17:35] #3934 closed

[2019-07-08 17:37] NotWoods commented on #3262
Blocked by mozilla-mobile/android-components#3182

[2019-07-08 17:39] NotWoods commented on #2371
Blocked by [Bug 1495036](https://bugzilla.mozilla.org/show_bug.cgi?id=1495036)

[2019-07-08 18:16] vesta0 commented on #1866
Moving this to QA needed.

[2019-07-08 18:20] vesta0 commented on #3256
Let's re-test when the [Android Intent](https://github.com/mozilla-mobile/fenix/projects/19#card-23601803) work is done.

[2019-07-08 18:22] vesta0 commented on #2590
To be tested after update to GV 69

[2019-07-08 18:45] apbitner commented on #2995
Our viewpoint has been that it's okay for onboarding to disappear when the user navigates away for a couple of reasons:

1) All of the features and functionality in the onboarding cards can easily be found in Settings.
2) Most all onboarding experiences in other apps can not be revisited after they've been completed.

When the user navigates away from the onboarding screen, it's the equivalent of

[2019-07-08 18:46] apbitner commented on #179
@vesta0 Yes

[2019-07-08 19:36] sblatz commented on #2109
To clarify: It sounds like this issue can be closed since #3893 addresses specifically nightly builds failing to open and https://github.com/mozilla-mobile/android-components/issues/1968 addresses implementing a custom download manager?

[2019-07-08 19:41] sblatz commented on #2175
Closing this as it's now tracked in the checklist of https://github.com/mozilla-mobile/fenix/issues/2203

[2019-07-08 19:42] sblatz commented on #2140
Closing this as it's now tracked in the checklist of #2203.

[2019-07-08 19:58] sblatz commented on #2793
Looks like there isn't work for us to do on this--we get the AC work for free 😄

[2019-07-08 20:25] sblatz opened #3939 "[Bug] Not using consistent wording when deleting history"
We should either use "Delete" or "Clear" consistently
<img width="350" alt="Screen Shot 2019-07-08 at 1 23 10 PM" src="https://user-images.githubusercontent.com/4400286/60840182-c5090080-a183-11e9-8ddb-4f476187e5f6.png">
<img width="350" alt="Screen Shot 2019-07-08 at 1 23 12 PM" src="https://user-images.githubusercontent.com/4400286/60840185-c6d2c400-a183-11e9-8df4-87f514925a7a.png">

[2019-07-08 20:35] yoasif commented on #3939
Desktop uses Clear in the library toolbar entry and in the history menu, along with the dialog that appears once selected.

[2019-07-08 20:44] vladikoff commented on #3889
I'll try the nexus 9 later this week

[2019-07-08 21:05] mcomella commented on #1241
@cpeterso Do you have steps to create a Gecko profile?

[2019-07-08 21:13] vesta0 commented on #3927
@shorlander FYI in Michelle's absence.

[2019-07-08 21:37] sblatz commented on #1750
Can I get some clarification on which of these colors I should be using for card highlights?
<img width="301" alt="image" src="https://user-images.githubusercontent.com/4400286/60844344-d9ea9180-a18d-11e9-85ec-c7ef7159f667.png">
<img width="299" alt="image" src="https://user-images.githubusercontent.com/4400286/60844353-dd7e1880-a18d-11e9-9e42-77126a5b9bec.png">

Also, the card highlight color sho

[2019-07-08 21:40] cpeterso commented on #1241
Here are instructions for Android: https://profiler.firefox.com/docs/#/./guide-remote-profiling

[2019-07-08 22:00] colintheshots commented on #3818
The issue wasn't resolved the PR in question. I meant to tag a similar crash issue. I have another PR in flight to fix this one.

[2019-07-09 01:20] vesta0 commented on #2166
We may want to have an "unbreak this page" button somewhere visible depending on what the designs in #3901  look like.

[2019-07-09 01:26] vesta0 commented on #2906
Let's track this solution here #2166

[2019-07-09 01:33] vesta0 commented on #3798
@topotropic FYI :)

[2019-07-09 01:36] vesta0 commented on #3478
Adding this to the [send tab board](https://github.com/orgs/mozilla-mobile/projects/19)

[2019-07-09 01:44] vesta0 commented on #3738
@topotropic FYI :)

[2019-07-09 01:45] vesta0 commented on #3745
We are addressing this in #2593

[2019-07-09 01:45] #3745 closed

[2019-07-09 01:52] vesta0 commented on #3731
@Mardak thanks for the suggestion, would you mind elaborating on your desired behaviour? As you mentioned, there is already an "Open Tabs" option in the menu. Do you just want that moved somewhere else as a button, or do you want it to behave differently (e.g. not open in reverse order, etc)?

[2019-07-09 01:53] vesta0 commented on #3726
@jonalmeida is this possible with the custom share sheet?

[2019-07-09 02:00] vesta0 commented on #3813
@topotropic FYI

[2019-07-09 02:01] vesta0 commented on #3804
@topotropic I think this is a great idea to consider :)

[2019-07-09 02:06] vesta0 commented on #3805
@shorlander FYI

[2019-07-09 02:07] jonalmeida commented on #3726
Possible, and I've been meaning to do before folks noticed. :)

[2019-07-09 02:22] Mardak commented on #3731
I guess maybe I'm just confused about what's the expected behavior of Collections, so perhaps I'm just using them wrong. The current behavior has a collapsed collection's largest tap target as everything other than the share and menu icons as expanding the collection which then shows a list of pages that can be opened individually.

At least how I've been using Collections, of all the possible act

[2019-07-09 02:35] thewhitetulip commented on #3807
Even I can't recreate it now

[2019-07-09 02:35] #3807 closed

[2019-07-09 03:45] rfk commented on #3877
@ckarlof mentioned that this happened to him as well, being silently disconnected from his account; not clear if it was due to an update but based on feedback in this bug, it seems likely.

[2019-07-09 03:57] yoasif commented on #3877
I will say that I did not experience a logout every time I updated -- given that I was updating once a day (and sometimes more often) for a while, I would have noticed that a long time ago.

[2019-07-09 04:02] ckarlof commented on #3877
For me, it just happened once, and it was over the duration of the 1.0 release.

[2019-07-09 04:03] yoasif opened #3944 "Undo Close Tab"
### Why/User Benefit/User Problem

I'd like a way to undo closing a tab because sometimes I accidentally close tabs and miss the undo in the snackbar.

### What/Requirements

* New menu item in kebab menu near open tabs with option "Undo Close Tab" that reopens the last closed tab, exactly like the snackbar does.

### Acceptance Criteria (how do I know when I’m done?)

I am able to use a persisten

[2019-07-09 04:06] ckarlof opened #3945 "[Bug] Fenix doesn't successfully complete login to Zoom (I suspect this is a more general problem with app logins that require Web logins)"
## Steps to reproduce
Set Fenix as your default browser. Log into the Zoom app with your Mozilla account.

### Expected behavior
I get logged into Zoom.

### Actual behavior
Fenix gets stuck after I complete 2FA (it doesn't finish returning to Zoom). I had to set Fennec as my default browser to successfully complete.

### Device information
* Android device: Pixel 3
* Fenix version: Nightly 190708

[2019-07-09 04:28] vesta0 commented on #818
Dup of #3240

[2019-07-09 04:28] #818 closed

[2019-07-09 04:28] vesta0 commented on #818
Thanks @Sdaswani  :)

[2019-07-09 04:35] vesta0 commented on #3018
Dup of #3886

[2019-07-09 04:36] vesta0 commented on #3886
I think device name should include both [app name] and [device name] e.g. Firefox Preview on Pixel 3

[2019-07-09 04:41] vesta0 opened #3946 "Re-connect or Remove Sync"
## User Story
- As a user, when sync issues occur, I want an option to re-connect/login or remove my account to prevent any further warnings to pop up ([screen](https://mozilla.invisionapp.com/share/QSR2F8UD4PN#/screens/357473106))

### Acceptance Criteria
- I know that sync has failed and I have the option to reconnect
- I know that sync has failed and I have the option to remove my account

[2019-07-09 04:42] kbrosnan commented on #3945
dupe #1570

[2019-07-09 04:42] #3945 closed

[2019-07-09 04:43] vesta0 commented on #289
Addressed in separate issues (see edited description)

[2019-07-09 07:03] cpeterso commented on #1749
GV 69 will enable ETP by default. If Fenix wants a different ETP default, it will need to override `ContentBlocking.cookieBehavior`.

https://bugzilla.mozilla.org/show_bug.cgi?id=1561385#c3

[2019-07-09 07:41] TitanNano commented on #3898
Same behavior in Fennec. It appears to be a webcompat issue. Layout is updated correctly when reloading the page. Chrome does not require a refresh to properly display the page. Might be a site issue.

[2019-07-09 08:03] buttercookie42 commented on #2486
Although thinking some more about it, the library in Fenix is currently a bit more cumbersome to reach than in Fennec, where entering the URL bar's edit mode was enough to load the home panels.

[2019-07-09 08:04] buttercookie42 commented on #3944
See also #2486 (it's not always the last tab I want to restore, so being able to choose that tab directly instead of having to sequentially restore all tabs until I reach the desired one would be a clear plus).

[2019-07-09 08:11] softvision-miralobontiu commented on #3547
Verified as fixed on HTC Desire 820 (Android 6.0.1), on the latest build 7/9.

![Screenshot_20190709-110908](https://user-images.githubusercontent.com/40694158/60870819-40c58480-a23a-11e9-90fc-36ca524ac67a.png)

[2019-07-09 08:52] AndiAJ commented on #1539
Hi, as per the above mentioned [comment](https://github.com/mozilla-mobile/fenix/issues/1539#issuecomment-507567918) the exclusive selection of multiple folders is still not working on the latest Nightly build #11900609 from 9/7 using the following devices:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S9 (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)

[2019-07-09 09:07] bull500 commented on #2867
An user option to open links from other apps by default in private mode would be a nice solution i feel.

[2019-07-09 09:18] AndiAJ opened #3947 "[Bug] Desktop site option from Turn on Sync custom tab doesn't work properly"
## Steps to reproduce
1. Tap upper right 3 dot button
2. Tap Settings
3. Tap Turn on Sync
4. Tap upper right 3 dot button from the custom tab
5. Swipe to enable Desktop site

### Expected behavior
The requested Desktop version should be loaded without any issues

### Actual behavior
Continuously keeps loading

### Device information

* Android devices :
• Google Pixel 3XL (Android 9)
• Samsung Gal

[2019-07-09 09:20] meliezer opened #3948 "[Bug] Hangs on Chrome OS"
## Steps to reproduce
Trying to open it for the first time.
### Expected behavior

### Actual behavior
Hangs.
### Device information
Acer Chromebook 14.
Google Chrome OS 75.0.3770.102 (Official build) (64 bit)
* Android device: Acer Chromebook 14
* Fenix version: 1.0.0.

[2019-07-09 09:52] AndiAJ commented on #1866
Hi, **verified as fixed** on the latest Nightly build Nightly **`#11900609 from 9/7/2019`** using the following devices:
• Google Pixel 3XL (Android 9)                                                                                                             •
• Samsung Galaxy S9 (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)

[2019-07-09 11:54] AndiAJ opened #3949 "[Bug] Open in Firefox Preview option from Turn on Sync custom tab doesn't work properly"
## Steps to reproduce
1. Tap upper right 3 dot button
2. Tap Settings
3. Tap Turn on Sync
4. Tap upper right 3 dot button from the custom tab
5. Tap Open in Firefox Preview

### Expected behavior
The tab is opened without any issues in Firefox Preview

### Actual behavior
Crash

### Device information

* Android device:
• Google Pixel 3XL (Android 9)
• Samsung Galaxy S9 (Android 8)
• OnePlus 5T (A

[2019-07-09 12:20] AndiAJ commented on #2357
Hi, verified as fixed on the latest Nightly #11900609 from 9/7/2019 using the following devices:
• Google Pixel 3XL (Android 9)                                                                                                             •
• Samsung Galaxy S9 (Android 8)
• Samsung Galaxy S7 (Android 7.0)
• Samsung Galaxy S6 (Android 6.0.1)

[Video Samsung S9](https://drive.google.com/file/d/1e2L-BbG

[2019-07-09 13:24] colintheshots commented on #1539
Hmm, I don't remember being given any UX for opening either one or multiple folders. Hence, the multi-selection of folders is deliberately not possible except for deletion. It looks like the solution that's there now isn't ideal though.

Either I should alter the menu items to remove options when multiple folders are selected or I should remove the option to select multiple folders altogether. Ope

[2019-07-09 13:53] jhugman commented on #1331
The `SELECT` statement is coming in from [`history.rs`][1] over the [`moz_historyvisits TABLE`][2] with foreign key references to the [`moz_places TABLE`][3].

From comment #0 above it's not clear if desired behaviour is filtering duplicates (observe multiple `about:blank`) versus filtering duplicate URLs, but duplicate URLs modulo differences in scheme and PSL (`http://soeren-hetzl.com` v `https:

[2019-07-09 14:33] #3858 closed

[2019-07-09 15:07] Amejia481 commented on #3571
@vesta0 I'm putting on hold until we research about how we want to approach this feature.

[2019-07-09 15:21] joebloggs7657 commented on #3700
Hi please can you tie this feature to the app being closed from the app switcher instead please, Firefox Focus style? I dont think selecting quit from the app menu is common usage nor is this in parity with the desktop firefox implementation . I'm aware that you'll probably need a technical work around but I hope it's still possible by some of your capable devs.

[2019-07-09 15:29] yoasif commented on #3700
Per this comment: https://github.com/mozilla-mobile/fenix/issues/2152#issuecomment-492332285

[2019-07-09 15:36] joebloggs7657 commented on #3700
Firefox focus manages to do it on Android? Maybe it would be a separate feature request but taking from that implementation would be great imo.

[2019-07-09 15:36] Amejia481 commented on #1085
In AC we already provide an api for that `TrackingProtectionPolicy`:

You can select from specific policies like [Cryptomining and Fingerprinting](https://github.com/mozilla-mobile/android-components/blob/a2e8e4f6d4ddc605e03ca53acdb1d2d4b9eb6609/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt#L119):

[code]

Or just use one of the [grouped policies](https

[2019-07-09 15:36] yoasif commented on #3700
Focus manages it with a persistent notification AFAIK.

[2019-07-09 15:40] joebloggs7657 commented on #3700
Oh right that makes sense since Bromite incognito also uses a notification.
Should I make a separate issue to request a similar implementation or something?

[2019-07-09 15:52] joebloggs7657 commented on #514
Hi please can you make this also as a feature for all tabs rather than just third party links?
Like others have said Bromite achieves this well however their drawback is that you cannot take screenshots while the feature is active. Thanks.

[2019-07-09 15:57] joebloggs7657 opened #3950 "Clear private browsing data when closed in app switcher"
### Why/User Benefit/User Problem
Feature parity with desktop Firefox.
Firefox is designed with privacy in mind and private browsing is a cornerstone for many users
Users should be able to browse the internet with the option of not having their every action being recorded
All open tabs will always be in private mode so no trace of them will be present on their closure.
Instead of having to open pr

[2019-07-09 16:26] cadeyrn commented on #3950
Why do you give a _thumbs up_ and a _heart_ emoji to your own comment? 🤔

I don't know what exactly you want to be implemented because there is already a private mode and it is already the case that all private tabs are closed if you exit the app (for example via recent apps).

[2019-07-09 17:18] joebloggs7657 commented on #3950
So I think it would be great to have an option in the settings for private browsing to be always on. It's literally in desktop Firefox btw so it's not something obscure and niche. Me liking my own comments perhaps is lol but I mean it's fairly common on Instagram and Reddit by default likes your own comments so...♥️

[2019-07-09 17:24] vesta0 commented on #1949
Thanks @topotropic ! Is this Eng ready or do we need @shorlander approval?

[2019-07-09 17:25] vesta0 commented on #2867
Will address remaining request in #419

[2019-07-09 17:27] joebloggs7657 commented on #2834
The trash can is not very useful in focus and in fact needs to be trashed when focus development restarts imo.
I am however very much happy for Firefox to upgrade it's private browsing experience to be similar to Firefox focus. Maybe the whole app should just be assimilated into the new Firefox!

[2019-07-09 17:31] joebloggs7657 commented on #1019
Definitely retain search suggestions or at most give an option to turn off. Private browsing is more so about keeping data private locally on the device rather than (ineffectively) ensurelibg private data handling by websites.

[2019-07-09 17:34] PopeRigby commented on #162
Can we get a custom repo we can add to the F-Droid client until we get an official F-Droid release? Riot X is doing that right now. It would be a good temporary solution until this is sorted out.

[2019-07-09 17:48] ekager commented on #3734
I think being able to scroll until you release is fine because there's no potential for data loss anymore. While it could still be considered a "bug", I'm going to unassign myself because I don't think the remaining issue is high priority.

[2019-07-09 17:49] ekager commented on #3734
And tagging @vesta0 to see if we just want to close this issue

[2019-07-09 17:51] ekager commented on #3622
Does it flicker on any Android 5 device? Since it's fixed on the majority of devices, this doesn't seem high priority to me anymore. I am unassigning myself.

[2019-07-09 18:04] joebloggs7657 commented on #2768
Could this not be an option? Being able to take screenshots in private mode doesnt exactly compromise the premise of private browsing. I will say from experience in Bromite that not being able to screenshot is more of a hassle than anything related to private browsing.

[2019-07-09 18:07] joebloggs7657 commented on #2868
Would love for this to also be expanded as an option to affect all tabs in firefox, making private browsing always on.

[2019-07-09 18:09] joebloggs7657 commented on #2214
@vesta0  Unfix and make into an optional feature? 😂

[2019-07-09 18:13] thomcc commented on #1331
We intentionally aren't filtering duplicates, but could easily add a parameter to do so.

[2019-07-09 18:21] thecyberpope commented on #3798
I saw this mock-up and hope it becomes reality! A nice swipe interface would improve browsing QoL by a huge margin.

I took your idea and created some mock-ups of my own.

1. Integrate the share/bookmark/reader buttons into each tab - button sizes might need to be adjusted.
2. Old tab button becomes a new tab button
3. Swipe up to close tab with undo button.

![screenshot1](https://user-images.git

[2019-07-09 18:24] Madis0 commented on #3798
@thecyberpope
Please elaborate on

Right now on the mockups these are only shown on the tab previews - they are tiny and should not be visible at all IMO

[2019-07-09 18:27] NotWoods commented on #2785
Fixed by #3233.

[2019-07-09 18:48] thomcc commented on #2542
Huh, that's a bug if those are showing up.

[2019-07-09 18:58] NotWoods commented on #1368
Duplicate of #514 (Sorry for re-opening!)

[2019-07-09 19:00] topotropic commented on #1949
Talked quickly to Stephen, it's alright.

[2019-07-09 19:02] thomcc commented on #1331
More broadly, there are a couple things you might want here:

1. Only show the (globally) most recent visit for a given URL. This is consistent with desktop's handling, and is easy for us to do, however it would mean that deeper into your history pages, the data might be noticably less accurate.
2. Within a given page, only show the most recent visit of a specific url. This is also easy for us to

[2019-07-09 19:03] NotWoods commented on #3754
Duplicate of #561

[2019-07-09 19:03] #3754 closed

[2019-07-09 20:25] buttercookie42 commented on #3924
And hiding the current URL of course makes it rather difficult if you want to actually _edit_ or otherwise access the current URL (e.g. to copy only parts of it).

[2019-07-09 20:25] topotropic commented on #1949
test CC @mozilla-mobile/ux

[2019-07-09 20:30] yoasif commented on #2768
This should be an option - perhaps even default behavior, but an option nonetheless, imo.

[2019-07-09 20:37] topotropic commented on #561
@vesta0 here's a design for moving the 3-dot menu and private mode to the bottom and also restructuring the home and site menus so that they align and people can rely on motor memory – access to history and bookmarks is also added as shortcut to the home screen menu (bottom row). I discussed this with @shorlander and we feel moderately confident about it and would love to monitor how it performs i

[2019-07-09 20:47] yoasif commented on #561
@topotropic I like it -- had a question/feedback though -- why can't we also have the addressbar in the usual place instead of the whitespace between the mask and the new tab buttons?

If the addresbar was there, the user could simply open a new tab by typing instead of tapping the search or enter address input towards the top of the screen.

There is prior art for this in desktop -- open a privat

[2019-07-09 20:52] vesta0 commented on #1500
@shorlander are we implementing this?

[2019-07-09 20:53] vesta0 commented on #3481
@mozilla-mobile/ux please consider this for the tab management re-design

[2019-07-09 20:59] vesta0 commented on #3904
@AmyYLee would #1289 address this bug?

[2019-07-09 21:00] rpappalax opened #3952 "[Bug] Dependency errors when running UI tests with taskcluster"
I'm trying to run a taskcluster build on a forked fenix branch to which I've added CI for UI tests.  Unfortunately, I'm running into some dependency errors and wondering if you might have any insight.  It looks similar to what we saw before w/ a-c and r-b.

The branch is here:
https://github.com/rpappalax/fenix/commit/e2d9b521202ed6f25758f881fc336183b3a1d44a

see dependency errors on UI test job h

[2019-07-09 21:02] AmyYLee commented on #1750
@sblatz Hi! Can we update the highlight colour for PBM to be the same as the new Dark theme update for "Buttons"? Color: Violet 50 (#9059FF)

https://github.com/mozilla-mobile/fenix/issues/1944
![Screen Shot 2019-07-09 at 5 01 54 PM](https://user-images.githubusercontent.com/5992746/60922696-4d160580-a26b-11e9-8b7e-f9b8177e61a5.png)

[2019-07-09 21:10] Zaotar opened #3953 "Change default search engines for Russia"
First of all, thank you for this great job - renewed Firefox for android.
So, I want to ask you to change default search engines for russian locale: Google, Yandex, Mail.ru, DuckDuckGo. Twitter and Wikipedia are popular projects in Russia, but aren't popular search engines.
Or at least add please DuckDuckGo as one of the default search engines.

[2019-07-09 21:14] AmyYLee commented on #3906
@ekager these should have the same styling as in bug #3453

[2019-07-09 21:18] Mardak opened #3954 "Private URLs not leaked to Google"
## Steps to reproduce

1. Open a url (in private or not)
2. Tap address bar

### Expected behavior

Google doesn't get my URLs

### Actual behavior

Google suggests searches based on the current URL
![Screenshot_20190709-141442](https://user-images.githubusercontent.com/438537/60923744-68294b00-a254-11e9-9ed8-09a61728fb7d.png)

### Device information

Fenix version: 1.0.0

┆Issue is synchronized w

[2019-07-09 21:49] tomasroaldsnes commented on #3135
Springiness still to heavy. I want to flick it, but I need to swipe about 50% still.

[2019-07-09 21:57] vesta0 commented on #2214
@joebloggs7657 we will build that feature here #419  :)

[2019-07-09 22:25] kbrosnan commented on #3135
Are you using 1.0.1? Still changing the behavior would be a different issue.

[2019-07-09 22:35] kbrosnan commented on #3953
Dupe #1437

[2019-07-09 22:35] #3953 closed

[2019-07-09 22:41] kbrosnan commented on #3904
Closing as dupe of #1289

[2019-07-09 22:41] #3904 closed

[2019-07-09 22:49] vesta0 commented on #561
@topotropic love the new design. Do we also want to move the Fenix logo higher (too much white space at top and make it smaller to make more room for tab visibility?

[2019-07-10 00:36] ekager commented on #2768
If we do this, I think we should make it off by default. From Focus experience, not all users understand or want this feature, and the ones that want it are probably more likely to understand how to seek it out.

[2019-07-10 04:35] amkcpu commented on #3954
Addressed by #1019

[2019-07-10 04:40] PopeRigby opened #3960 "Firefox sync keeps on signing out"
I sign in with my credentials, it works for a while, and then it signs itself out.

Android Version: 8.1.0
Model: Moto G5 Plus

[2019-07-10 04:53] kbrosnan commented on #3954
This is a bit more than #1019. It would be good to not send suggestion requests for things that look like URLs. Porting the work in [bug 1184960](https://bugzilla.mozilla.org/show_bug.cgi?id=1184960) and upcoming work in [bug 1551049](https://bugzilla.mozilla.org/show_bug.cgi?id=1551049)

[2019-07-10 04:55] kbrosnan commented on #3960
Dupe #3877

[2019-07-10 04:55] #3960 closed

[2019-07-10 06:21] secrethash commented on #3414
Happening quite a lot of times. Can't find any way to reproduce this issue. One thing I can tell is that my sync also turned off by signing out my Mozilla Account all on it's own. Didn't noticed until recently. Screenshot Shared.
![Screenshot-about:blank](https://i.imgur.com/CQI1fBy.png)
![Screenshot-sync](https://i.imgur.com/iiNYVxZ.png)

[2019-07-10 06:38] softvision-miralobontiu commented on #3622
It doesn't flicker anymore on the latest build 7/9 (#11901818) on Xiaomi Mi4i (Android 5.0.2), and on Samsung Galaxy Tab A6 (Android 5.1.1).

[2019-07-10 06:38] #3622 closed

[2019-07-10 06:49] cadeyrn commented on #2834
In Focus the trash icon _is_ very useful and makes sense but this is not the topic here. Focus and Fenix have totally different usage concepts.

No, I strongly disagree. The USP and greatest strength of Focus is that it's different than all the other browsers. Of course Fenix should also get as much privacy features as possible but that doesn't mean at all there's no longer a reason to exist for F

[2019-07-10 06:56] beastdestroyer opened #3961 "[UX] Improve hitbox margin for buttons on homepage"
### Why/User Benefit/User Problem
With larger phone screens and Fenix's minimalistic design, it is ear that in order to alleviate the pain caused by attempting to reach across the screen, the hitbox for these buttons must be improved.

The "Tab" button ans the menu icon in the address bar are hit quite easily, and this can be told from the hover animation they produce - a plus. However, I feel the

[2019-07-10 07:01] beastdestroyer commented on #3927
@vesta0 Perhaps Fenix could have one of those popups like a "tutorial" at first that shows where it is.

To make it seem more intuitive, perhaps the user could customise the actions in the bar? Or customise the address bar as a whole. This would definitely push Fenix to be more on board with the desktop versions, and with extensions (which could go inside the QAB too qe shortcuts), I see great pot

[2019-07-10 07:08] beastdestroyer opened #3962 "[Bug] Back on the Tab Page exits Fenix"
## Steps to reproduce
- Enter tab page or start up Fenix
- Press back or use the equivalent gesture on your phone (mine is swipe from either side)
- App closes
### Expected behavior
Fenix should return to the tab I had on. "Back" means to go back one step to something previously - in this case a tab.
I've had many inconveniences with it suddenly closing when I swipe instead of returning to my tab

[2019-07-10 07:19] buttercookie42 commented on #3962
Already came up in #2484.

[2019-07-10 08:04] bogas04 commented on #3643
It works on an older device, so it might be unrelated maybe. If QA can't reproduce in any of the test devices then I guess it's safe to close this.

[2019-07-10 08:05] beastdestroyer commented on #3962
Ah thx, will close

[2019-07-10 08:05] #3962 closed

[2019-07-10 08:11] bogas04 commented on #1071
It took me couple of days to realize Desktop Site option actually exists. Somehow the missing icon made me glance over it entirely.

[2019-07-10 08:14] softvision-miralobontiu commented on #3175
Verified as fixed, the focus remains on the search bar after resuming.
Tested on the latest Nightly build 190710 (#11910617) with Samsung Galaxy Tab A6 (Android 5.1.1), Huawei Honor 8 (Android 7), and HTC 10 (Android 8).

[2019-07-10 08:19] isabelrios opened #3963 "[Bug] "Deleted null" shown when removing a separator from the Bookmarks list"
## Steps to reproduce
Sync with an account which has different bookmarks and separators
Go to Library -> Bookmarks
Select three dot menu for a separator and tap on Delete

### Expected behavior
Either there is no option to remove the separator or the message when doing that action is correct

### Actual behavior
When removing the separator it shows: "Delete null" please see video:
https://youtu.be

[2019-07-10 08:29] isabelrios opened #3964 "[Bug] "Recently Bookmarked" is not shown fine"
## Steps to reproduce
Sign in with FxAccount, having several bookmarks saved

### Expected behavior
All bookmarks/folders/separators are shown fine

### Actual behavior
Recently Bookmark is shown as:
![Recently Bookmarked](https://user-images.githubusercontent.com/1897507/60953406-64053800-a2fd-11e9-959e-088c4e6dcda4.png)

If you click on it, google page is open with the text prefilled in the sear

[2019-07-10 08:34] softvision-miralobontiu commented on #3364
Verified that editing bookmarks don't launch "Desktop bookmarks".
Tested on the latest Nightly build 190710 (#11910617) with Samsung Galaxy Tab A6 (Android 5.1.1), Huawei Honor 8 (Android 7), and HTC 10 (Android 8).

[2019-07-10 08:34] Scripterr commented on #3643
@bogas04 this may be caused by a webrender bug because i can reproduce it with webrender enabled.
Maybe you have enabled webrender in past which is causing this problem.

[2019-07-10 08:40] sv-ohorvath commented on #2251
Verified as fixed on Nightly 7/10. Device; Galaxy Note 8 (Android 9), Pixel (Android Q).

[2019-07-10 08:54] sv-ohorvath opened #3966 "[Bug] Empty folders' "No bookmarks" text should be vertically-centered"
## Steps to reproduce
1. Open an empty bookmark folder.
Or, Open the bookmarks root folder with no bookmarks created yet.
2. Observe the text placeholder.
### Expected behavior
"No bookmarks here" is vertically-centered.
### Actual behavior
![Screenshot_20190710-114453](https://user-images.githubusercontent.com/4037709/60954930-83ee2900-a308-11e9-843f-dd89a814c05b.png)
![Screenshot_20190710-113228

[2019-07-10 09:00] sv-ohorvath opened #3967 "[Bug] Deleted bookmark from a folder restored because of the undo snackbar"
## Steps to reproduce
1. Create a bookmark folder, with some bookmarks.
2. Delete an item from the folder.  (Or multiple items)
3. Before the undo snackbar goes away, tap the back button.
4. Return to the folder and observe the deleted bookmark(s).
### Expected behavior
The items are deleted.
### Actual behavior
Deleted bookmarks are back in the folder.
### Device information

* Android device: No

[2019-07-10 09:08] bogas04 commented on #3643
Oh yeah you're right. I did have it enabled. Maybe we should have this part
of bug report checklist for graphic related issues.

On Wed, Jul 10, 2019, 2:04 PM Scripterr <notifications@github.com> wrote:

[2019-07-10 09:14] softvision-miralobontiu opened #3968 "[Bug] [Onboarding] Switching themes displays the homescreen briefly"
## Steps to reproduce
1. Make sure you have a clean profile.
2. Go to Theme card and switch themes.

### Expected behavior
Themes should change smoothly, no other pages should be displayed in between.

### Actual behavior
The homescreen is displayed very briefly while changing from light theme to dark, or vice-versa. Please see the slow motion short video.

### Device information
* Android device:

[2019-07-10 09:25] jcursiolf opened #3969 "[Bug] Unable to share to other devides"
## Steps to reproduce
So far, I just need to open Firefox Fenix and it happens.

### Expected behavior
Be able to share to my other devices with Sync activated.

### Actual behavior
I do not see other devices.
_Note_: I am having many problems with #3877 and, even right after logging in, the other devices do not show up.

[Screenshot_20190709-093658](https://user-images.githubusercontent.com/41722

[2019-07-10 09:29] jcursiolf commented on #3877
So, happened once again. This time I just went to an area of my apartment where WiFi is poor, changed to LTE and saw that it was disconnected. Considering the time it happened and the time of the latest build, it might have been also just after the update, as happened lots if times now (I stopped counting). Uninstalling and reinstalling does not fix it.

### Device information

* _Android device_:

[2019-07-10 09:38] cadeyrn commented on #3950
Thanks. Now the request is much clearer to me.

[2019-07-10 09:45] Cheap-Skate commented on #561
Love the new design, makes more sense. Thanks

I like yoasif's idea, there's now a nice space in the bottom row for the search box. Advantages
(1) the search box and the + new tab icon do exactly the same thing, the search box is arguably redundant, but is a useful hint about how best to do a search
(2) the search box moves around the screen based on scroll offset, which I find irritating, I can't

[2019-07-10 10:12] AndiAJ opened #3970 "[Bug]For some Media Markt online shops the content isn't loaded when tapping on promotional banners"
## Steps to reproduce
1. Navigate to http://mediamarkt.com/
2. Tap "Visit other onlineshops"
3. Select "Austria"
4. Tap on promotional banner

### Expected behavior
Promotion info and products should be properly loaded.

### Actual behavior
Looking at Fenix page load bar it seems that nothing happens, only the MediaMarkt rotating load circle is presented.

### Device information

* Android device:

[2019-07-10 11:04] krzyk commented on #3969
Same here (I also have issues with #3877), device Pixel 3, Android version 9.
I is happening since some time, I don't know exactly because I frequently stopped trying to share to other devices because of #3877 being a major PITA.

[2019-07-10 12:28] aardrian opened #3972 "Add support for view-source:"
### Why/User Benefit/User Problem
Today in Firefox (and Chrome) for Android I can pre-pend `view-source:` to a URL in the address bar and see the HTML source code for the page.

As a developer, this is a great tool for quick on-the-fly debugging, getting anchor links, getting resources links, or otherwise trying to understand or address issues / features on a page without having to rely on emulato

[2019-07-10 12:31] aardrian commented on #3972
I should have referenced https://github.com/mozilla-mobile/fenix/issues/3710, which appears to be asking for the same goal but via a menu. If these are the same then apologies for the noise.

[2019-07-10 13:19] Baum55 commented on #2966
Are the issue and bug still valid?

In the current version, the selected bookmark will be opened in a new tab. This also fits the to the behavior when using the search field.

From my perspective, the problem would be solved.

### Device information

* Android device: Huawei P9 lite
* Fenix version: 7/10 @ 6:17 AM

[2019-07-10 13:33] topotropic commented on #2792
@ekager sounds good – can we sort the folders so that the latest created is at the top?

Can you explain the issue with the separators – not sure if I understand it. Thanks!

[2019-07-10 13:40] topotropic commented on #1539
Let's remove the option to "open in new tab", "open in private tab" and just have "delete" when a folder is selected (no matter in what combination, if people select two bookmarks and a folder, they just get the "delete" option)

[2019-07-10 13:46] AndiAJ opened #3973 "[Bug] Nike.com customize feature not working"
## Steps to reproduce
1. Navigate to https://m.nike.com/ro/en_gb/product/mercurial-superfly-6-academy-id/?piid=10000510&pbid=787514192
2. Notice the animation of the ![Screenshot_20190710-162344_2 (1) (1)111111111111](https://user-images.githubusercontent.com/51314259/60972951-e9a1db80-a32f-11e9-8632-9eea6ee16a09.png) "Edit design" sign and tap it

### Expected behavior
The "Edit design" sign shou

[2019-07-10 13:46] topotropic commented on #2961
Yes, I agree that it makes sense to sort after creation date to help people to find their new bookmarks quicker. Sorry for the oversight.

[2019-07-10 13:58] sm4rk0 commented on #162
@IzzySoft, could you please help?

[2019-07-10 14:18] AndiAJ opened #3974 "[Bug] Tumblr.com layout issue"
## Steps to reproduce
1. Navigate to https://fallontonight.tumblr.com/
2. Check page layout

### Expected behavior
No layout issues, everything should be properly displayed.

### Actual behavior
Layout issues mostly regarding the display of the gifs. which aren't centered.

### Device information

* Android device:
• OnePlus6T (Android 9)
• Samsung GalaxyS9 (Android 8)
• Samsung Galaxy S7 (Android

[2019-07-10 14:29] vladikoff commented on #3772
<img src=https://user-images.githubusercontent.com/128755/60977009-b1cd7080-a2fc-11e9-9a60-df68a1ac1a0c.png width=500 />

* new info from @ryanfeeley, header should say "Turn on Sync" instead of "Sign In"
* the graphic looks squashed on the Essential PH-1, see screenshot
* the instructions are gone from the scanner view. @ryanfeeley 's design has the new design for the scanner. should we leave the

[2019-07-10 14:42] TinyBeard commented on #2831
Also experiencing this on Firefox Preview Nightly 190710 06:03

Device using Fenix doesn't apear on "Send Tab to device..." at all. The only relevant entry on device list seems to be "Firefox Sync", but it doesn't look like regular device, also the only option is "Revoke" rather than usual "Disconnect..." for other devices.

[2019-07-10 14:44] AndiAJ opened #3975 "[Bug] Missing tweets section from Wimbledon.com"
## Steps to reproduce
1. Navigate to https://www.wimbledon.com/en_GB/interactive/index.html
2. Observe the section under the live video player

### Expected behavior
The latest Wimbledon channel Tweets section should be displayed and available for interaction

### Actual behavior
The latest Wimbledon channel Tweets section is missing

### Device information

* Android device:
• Google Pixel 3XL (A

[2019-07-10 14:53] csadilek opened #3976 "Switch to Gecko fetch client for Glean"
Glean is currently initialized with the default fetch client (see https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/components/metrics/GleanMetricsService.kt#L252) which is a new A-C `lib.fetch.httpurlconnection.HttpURLConnectionClient`.

We should switch to `components.core.client` (our default Gecko-based fetch client) so we only use a single type of fetch c

[2019-07-10 15:07] AaronMT opened #3977 "[Test] Add basic navigational UI tests"
Add basic UI navigational tests. Copy from reference-browser.

[2019-07-10 16:24] thecyberpope commented on #3927
I think #3798 has huge potential to make the QAB a very powerful tool.

[2019-07-10 16:55] cpeterso commented on #3643
I moved the GeckoView Bugzilla bug to the WebRender team. Whether we should keep this Fenix issue open is up to the Fenix team.

https://bugzilla.mozilla.org/show_bug.cgi?id=1562316#c5

[2019-07-10 16:57] vladikoff commented on #3772
@ryanfeeley whats the width and height of the art ? could you please check in Sketch?

[2019-07-10 17:24] ryanfeeley commented on #3772
320px × 166px

[2019-07-10 17:45] pocmo opened #3981 "Synchronize Nightly version with (upcoming) production version"
The Nightly version is generated to be `1.0.yyww` and the version of the production version is based on the tag (e.g. `v1.0.1` -> `1.0.1`).

This means currently we have:
* Nightly: 1.0.yyww
* Production: 1.0.1

Soon that will be:
* Nightly 1.0.yyww
* Production 1.1.0

There's no relationship between the Nightly version and the (upcoming) production version. As it stands Nightly is basically alway

[2019-07-10 17:46] pocmo commented on #3981
@mitchhentges What do you think?

[2019-07-10 17:52] mitchhentges commented on #3981
A few weeks ago, Colin brought up that the old `1.0.yyww` naming scheme wasn't very useful (there's more than one nightly a week, and the versions were ambiguous), so the naming scheme [was changed](https://github.com/mozilla-mobile/fenix/pull/3742) to the format "Nightly 190627 16:19".
So, we won't need to synchronize the nightly versions with production versions any more :)

[2019-07-10 18:12] liuche commented on #2922
@st3fan can you give me access to this bugzilla bug? And to any relevant people too who might need to understand what it is (vesta, eng, etc)

[2019-07-10 18:13] sblatz commented on #2922
@sarentz is there engineering action we can take on this or should we close it?

[2019-07-10 18:31] sblatz commented on #2394
We are holding off on this work for now as home screen and collections are being redesigned.

[2019-07-10 18:31] sblatz commented on #2275
We are holding off on this work for now as library is potentially being redesigned.

[2019-07-10 18:44] sblatz commented on #3946
This is a dupe of https://github.com/mozilla-mobile/fenix/issues/2327

[2019-07-10 18:44] sblatz commented on #3946
We can have QA verify to ensure this functionality is here.

[2019-07-10 18:47] Mossop opened #3983 "[Bug] Autocomplete incorrectly fills urls that contain a port number."
## Steps to reproduce

1. Have a url in your history that contains a port number (e.g. localhost:3012).
2. Start typing the url into the address bar (e.g. loc)
3. See what autofills

### Expected behavior

localhost:3012

### Actual behavior

localhost/:3012

### Device information

* Android device: Moto G7
* Fenix version: 1.0.0 #11721515

[2019-07-10 19:02] dimqua commented on #162
@thermatk (a f-droid contributor) working on this currently.

[2019-07-10 19:27] IzzySoft commented on #162
@sm4rk0 if Pierre (@Rudloff) can't, I don't see how I can. And as you didn't give me context (at least saying help with what – as often as I get pinged, I cannot always catch up the entire threads), I don't know, sorry.

[2019-07-10 19:39] dimqua commented on #162
@IzzySoft he probably asks for includion to your repo, but this app is too big I guess.

[2019-07-10 19:49] jacktose commented on #1487
mozilla/firefox-preview-bughunting-campaign#313 was closed as a duplicate of this, but contained this UX suggestion:

Open new tab (from menu, or + on home screen)
In [currently blank space](https://user-images.githubusercontent.com/12414794/59368506-3a9fbf00-8cf3-11e9-859d-ab46d23a5815.png), there would be a UI for selecting a bookmark (or other library item). The selected item would open in the

[2019-07-10 20:19] liuche opened #3984 "Break out Architecture migration issues"
TODO: file for these components (these can be filed on a per-need basis)
TODO: @boek will add the rest of the 12 components
- [x] Quick Action sheet
- [x] History
- [ ] Bookmarks
- [ ] Session Control
- [ ] Browser Toolbar
...

## User Story
As a dev I want testable components.

## Dependencies
None - AC work for LibState is already done.

### Acceptance Criteria
File the bugs for these different

[2019-07-10 20:30] IzzySoft commented on #162
@dimqua If that was the question, yours is the answer, yes. I don't even need to look to say that, as the size of Firefox builds is known to be far behind the limits of my repo…

[2019-07-10 20:31] liuche opened #3986 "Migrate Quick Action Sheet to LibState"
## User Story
As a developer I'd like Quick Action Sheet to implement LibState.

See Search component #3985 for guidelines, or reach out to Christian, Sebastian, Jeff.

## Dependencies
None

### Acceptance Criteria
* Quick Action Sheet implements LibState
* Quick Action Sheet has tests

[2019-07-10 20:32] liuche opened #3987 "Migrate History to LibState"
## User Story
As a developer I'd like History to implement LibState.

See Search component #3985 for guidelines, or reach out to Christian, Sebastian, Jeff.

## Dependencies
None

### Acceptance Criteria
* History implements LibState
* History has tests

[2019-07-10 20:38] mikeGolf08 opened #3988 "Cleaning at Browser closure"
### Why/User Benefit/User Problem

For people who like a clean browser experience everytime they start the browser it would be better to clean the history and site data when closing the browser.
I am working with a lot of bookmarks and some collections so there is no reason to keep history and data over the period of a session.

### What/Requirements

At closure the browser is able to delete selec

[2019-07-10 20:46] grigoryk opened #3989 "Integrate Fennec auto-login functionality from a-c"
A-C dependency: https://github.com/mozilla-mobile/android-components/issues/2775

IIRC we've done some UI work for this already. Part of tackling this issue is figuring out UI bits are already in place and what remains TBD.

[2019-07-10 20:47] #3989 closed

[2019-07-10 20:47] grigoryk commented on #2593
A-C dependency: mozilla-mobile/android-components#2775

[2019-07-10 20:47] liuche commented on #1268
Also somewhat related: thinking about what other unit test bugs can be done in a similar manner? We should add them to the Eng Stories column in the Fenix Kanban.

[2019-07-10 21:00] boek commented on #3667
Waiting on new home screen UI

[2019-07-10 21:00] boek commented on #3655
Waiting on new home screen UI

[2019-07-10 21:29] grigoryk commented on #3762
So, A-C actually needs a bit of work here to not force people to also self-host FxA servers, but that work should be trivial: https://github.com/mozilla-mobile/android-components/issues/3729

[2019-07-10 21:34] grigoryk commented on #3762
We need to figure out where to place this configuration. It should live somewhere in settings, but perhaps outside of our current accounts settings, as those are accessible only after logging in.

[2019-07-10 22:47] yoasif commented on #3988
Dupe of https://github.com/mozilla-mobile/fenix/issues/3700

[2019-07-10 23:57] kbrosnan commented on #2922
@liuche You should have access to all the bugs on that dependency list

[2019-07-11 01:20] liuche opened #3992 "Investigate Fenix Performance and prioritize areas for work"
## User Story
As a developer, I want to know what areas have performance problems, and optionally some guidelines on how to fix them.

As Product, I want to understand what the impact of performance problems are, as well as how much work it takes to fix them.

## Dependencies
None

### Acceptance Criteria
This bug is to investigate and identify (**not fix!**) areas of poor performance in Fenix.
Ou

[2019-07-11 02:39] ekager commented on #3772
Okay I landed these first changes! QA will close this bug when verified it does not regress any behavior and works as expected on variety of devices. Please file followup issues for UX polish

[2019-07-11 03:43] gagahpangeran commented on #3760
I think this is good behavior and should also apply when open link in a new tab.

- Press and hold a link
- Click `Open link in a new tab`
- Click `Switch` at bottom
- Go back

I expect the tab is closed and go back to previous tab, but for now the tab remains open and go back to  open tabs screen.

I use firefox android, firefox lite, and chrome android and they all have this 'go back and close t

[2019-07-11 03:58] colintheshots commented on #3992
Will Hawkins and I are meeting to look over Fenix performance tomorrow. I was hoping to develop areas for investigation. We've analyzed cold start a lot, but we should create issues related to custom tab and View intent startups.

[2019-07-11 04:02] colintheshots commented on #3963
It seems we're removing the ability to delete separators in the app, so this issue will be moot.

[2019-07-11 04:02] #3963 closed

[2019-07-11 04:40] wiwie opened #3993 "Move active search field to bottom"
### Why/User Benefit/User Problem
Currently the active search text field is placed on top and search suggestions underneath. This does not allow one handed editing of the URL (placing the cursor) or pressing the delete button.

### What/Requirements
Place the active search text field on the bottom and search suggestions above it.

### Acceptance Criteria (how do I know when I’m done?)
The active s

[2019-07-11 05:50] vesta0 commented on #907
@st3fan let's chat about this next week and determine actionable next steps.

[2019-07-11 07:22] pocmo commented on #2551
A first iteration landed in RB and can be tested there. The notification does not contain any controls yet.

[2019-07-11 09:02] sm4rk0 commented on #162
Sorry for brevity, @IzzySoft.
Yes, I hoped you could help by including the official binaries from this repo, but didn't know about the size limits. Thanks for everything you do!

[2019-07-11 09:45] mauryat commented on #3548
@sblatz , can I work on this?

[2019-07-11 09:48] mauryat commented on #3419
@sblatz , I'd like to work on this.

[2019-07-11 10:37] pocmo commented on #3981
That was somewhat on purpose to have some kind of grouping in Sentry and avoid having thousands of versions with 0 issues (since they are very short lived).

[2019-07-11 10:37] #3981 closed

[2019-07-11 10:39] pocmo opened #3994 "UrlParseFailed: Error parsing URL: relative URL without a base"
https://sentry.prod.mozaws.net/operations/fenix/issues/6036353/

[code]

[2019-07-11 10:40] pocmo commented on #3994
Sentry thinks that crash is new in 1.0.1.

[2019-07-11 11:00] pocmo opened #3995 "Disable bitrise and switch to taskcluster only"
After asking on Slack it seems like no one opposes shutting down bitrise and switching to taskcluster only - which is the same pipeline we use for releases etc.

- [x] Disable bitrise runs
- [x] Mark "taskcluster" as required check instead of bitrise.
- [ ] Update Docker image - for fast builds

[2019-07-11 11:09] mheubusch commented on #3717
The onboarding card was approved by legal.  The issue is that the data collection settings should be updated to reflect the same language in the privacy notice - that Usage and interaction data is collected by default. Note that the label for the section is Data collection (not choices) and the telemetry collection is called Usage and interaction data

<img width="342" alt="Screen Shot 2019-07-11

[2019-07-11 11:09] pocmo opened #3996 "Remove workarounds for opening custom tab in browser"
We now allow releasing a session from an `EngineView` and no longer need workarounds like delaying opening the browser or removing the view.

[2019-07-11 11:12] mheubusch commented on #3717
@vesta0 please move into dev if you approve the previously designed solution.

[2019-07-11 12:31] softvision-miralobontiu commented on #3478
Verified that the "Tab sent!" snackbar is displayed on the debug build 1.0.1928 GV 68.0-20190612114833, but on Motorola Nexus 6 (Android 7.1.1) is overlapping the URL bar:

![Screenshot_20190711-151758](https://user-images.githubusercontent.com/40694158/61050906-bc693200-a3f0-11e9-868d-551dce4d2099.png)

@ryanfeeley should I file a new issue for this reason?
Thank you!

[2019-07-11 12:37] softvision-miralobontiu opened #3997 "[Bug] Crash on Android 5 & 6 when trying to sign in"
## Steps to reproduce
Tap on "Turn on sync" from Settings or from Onboarding tour.

### Expected behavior
The user should be able to sign in.

### Actual behavior
App crashes.
Please see more details [here](https://gist.github.com/vladikoff/145d0b49917839ac8b86cc98b5c36c4c).

### Device information
* Android device: Samsung Galaxy Tab A6 (Android 5.1.1), Huawei P9 Lite (Android 6) and HTC Desire 8

[2019-07-11 12:40] sv-ohorvath opened #3998 "[Bug] Can't scroll the turn on sync screen in landscape mode"
## Steps to reproduce
1. Go to Settings>turn on sync.
2. Switch to landscape mode. Scroll down to see the buttons.
### Expected behavior
Can scroll down
### Actual behavior
Can't scroll to reach the 2 buttons.
### Device information

* Android device: Galaxy S8 (Android 9), HTC 10 (Android 8)
* Fenix version: 1.0.1928, 7/11 Master build

[2019-07-11 12:43] ranpel commented on #3848
Overall, device heating _seems_ to be associated with image heavy pages.  Specifically pages that are either laden with both images and adverts or pull the images from external sources like Pinterest feeds (these seem exceptionally spicy in particular).  Thick image pages like Zillow also get pretty warm but when it gets too hot it seems to be mostly those crappy blog-like pages that pull in stuff

[2019-07-11 12:46] softvision-miralobontiu commented on #3134
This is not fixed yet. There is no confirmation dialog that the user had signed out of FxA.
Teste with a debug build 1.0.1928 GV 68.0-20190612114833 with Motorola Nexus 6 (Android 7,1,1), and Motorola Moto G6 (Android 8).

[2019-07-11 12:56] sv-ohorvath opened #3999 "[Bug] Tablet - Display the turn on Sync screen buttons at the bottom, in landscape"
## Steps to reproduce
1. On a tablet, go to Settings>Turn on Sync
2. Rotate the device to landscape.
### Expected behavior
The 2 buttons: Ready to scan and Use email instead, should be at the bottom of the page.
### Actual behavior
The buttons are displayed right under the image, leaving too much empty space.
![Screenshot_20190711-155129_Firefox Preview](https://user-images.githubusercontent.com/4

[2019-07-11 12:56] AndiAJ opened #4000 "[Bug] QR code scan issues on OnePlus A3"
## Prerequisites
Log in to Firefox desktop with a valid user and navigate to firefox.com/pair and generate the pairing QR code

## Steps to reproduce
1. Tap Turn on sync
2. Tap Ready to scan

### Expected behavior
Scan of the QR code should be performed immediately / reliably.

### Actual behavior
Somtimes nothing happens, the camera seems to distort the image

### Device information

* Android de

[2019-07-11 13:04] sv-ohorvath opened #4001 "[Bug] Turn on Sync image switches it's position while rotating the device"
## Steps to reproduce
1. Go to Settings>Turn On Sync.
2. Rotate the device multiple times, observe the image changing its position.
### Expected behavior
The image is always centered.
### Actual behavior
Image changes its position.
![Screenshot_20190711-155810_Firefox Preview](https://user-images.githubusercontent.com/4037709/61053007-4fa46680-a3f5-11e9-8c46-58857195ecaa.jpg)
![Screenshot_20190711

[2019-07-11 13:08] sv-ohorvath commented on #3772
Verified these changes:
- "Already have an account?" removed from the onboarding screen
- Turn on sync screen replaced with new UI
- Pairing instructions dialog removed
- "Scan the code" title replacement

Remaining change not implemented:
The instructions banner on the scanner screen - should be replaced with the one in the description. - future work.

Created new issues for other UI problems fou

[2019-07-11 14:00] AndiAJ commented on #3946
Hi **verified as fixed** on **latest build from master** using the following devices:
• Google Pixel 3A (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Samsung Galaxy S7 (Android 7)

► Video from Google Pixel 3A
![20190711_094613](https://user-images.githubusercontent.com/51314259/61057104-4cad7400-a3fd-11e9-8340-f62b074d5a3c.gif)

[2019-07-11 14:00] #3946 closed

[2019-07-11 14:01] softvision-miralobontiu commented on #1949
Verified on a today debug build 1.0.1928 GV 68.0-20190612114833 with Motorola Moto G6 (Android 8), and Nexus 6 (Android 7.1.1).

[2019-07-11 14:05] sv-ohorvath commented on #3240
Can't verify on Android 5& 6 devices for now because of: https://github.com/mozilla-mobile/fenix/issues/3997. I'll leave this here until the crash is fixed.
Otherwise, working fine on HTC10 (Android 8), Galaxy S8 (Android 9)

[2019-07-11 14:07] #3988 closed

[2019-07-11 14:10] shorlander commented on #1500
Yeah, I think this still makes sense but itwould probably be best if we roll this into the ongoing Collections / Multi-tasking work to properly spec out how it should work with Tabs in various states.

[2019-07-11 14:12] softvision-miralobontiu commented on #3906
Verified as fixed on a today debug build 1.0.1928 GV 68.0-20190612114833 with Motorola Moto G6 (Android 8), HTC Desire 820 (Android 6.0.1), and Nexus 6 (Android 7.1.1).

[2019-07-11 14:12] #3906 closed

[2019-07-11 14:24] vladikoff commented on #3889
@csadilek ok i can confirm it doesn't scan on the Nexus 9 , maybe we can debug tomorrow and see what is going on..

[2019-07-11 14:38] AndiAJ opened #4002 "[Bug]Auto play video doesn't work after revisiting the website the second time"
## Steps to reproduce
1. Navigate to https://www.bmw.com/en/innovation/the-development-of-self-driving-cars.html
2. Check if the video starts to play
3. Close the page
4. Revisit the above mentioned page

### Expected behavior
Video should start playing each time the user opens the web page

### Actual behavior
On the 1st attempt the video starts to play as soon as the page is loaded.
On the 2nd a

[2019-07-11 14:43] ksy36 opened #4003 "[Bug] location.replace is not replacing the current resource"
## Steps to reproduce
Go to https://t.co/R1nmCOjsDW

### Expected behavior
Replaces the current page with https://medium.com/@cdsmithus/functional-reactive-programming-with-reflex-and-codeworld-85495360f1b7

### Actual behavior
Replacement is not happening

### Device information
* Fenix version: 1.0.1926

As reported here:
https://github.com/webcompat/web-bugs/issues/34765

There is a script at t

[2019-07-11 14:58] mitchhentges commented on #3981
Is that Sentry grouping still valuable? I can make the nightly versions be based on the week again. @colintheshots

[2019-07-11 15:13] andinorthrop opened #4004 "Support for drag and drop from other apps"
### Why/User Benefit/User Problem
When filling in web forms/payment pages a user may want to use split screen mode and drag a text field from one app into the relevant field on the website.

For example dragging and dropping from 1Password, as shown on this page into Chrome:

![drag-and-drop](https://user-images.githubusercontent.com/41289768/61062747-ab232400-a3f6-11e9-8f07-4da0cf88b356.gif)

htt

[2019-07-11 15:31] NotWoods opened #4005 "Change getColorFromAttr to be an extension method on Context"
`Int.getColorIntFromAttr(context: Context)` and `Int.getColorFromAttr(context: Context)` are confusing because they're extension methods on `Int`, but only work with attribute resource IDs. They should be take `Int` as a parameter with the `@AttrRes` annotation instead.

[2019-07-11 15:51] sblatz commented on #3548
@mauryat looks like we [have a PR open for this already](https://github.com/mozilla-mobile/fenix/pull/3801). I'd recommend looking at another issue :)

[2019-07-11 15:51] sblatz commented on #3419
@mauryat Go for it! 😄

[2019-07-11 16:04] mauryat commented on #3419
Thanks!

On Thu, Jul 11, 2019, 9:22 PM Sawyer Blatz <notifications@github.com> wrote:

[2019-07-11 16:31] cpeterso commented on #3608
GV bug https://bugzilla.mozilla.org/show_bug.cgi?id=1563343

[2019-07-11 17:04] convoliution commented on #3736
Based on half an hour of browsing around in the [`android-components`](https://github.com/mozilla-mobile/android-components/) repo, there does seem to be [a file that defines the default search engines for each locale](https://github.com/mozilla-mobile/android-components/blob/master/components/browser/search/src/main/assets/search/list.json), and we can see which locales don't include DuckDuckGo.

[2019-07-11 17:17] kbrosnan commented on #3736
There is a lot of process around shipping search engines. The path forward is custom search engines. Closing as a dupe of #1437

[2019-07-11 17:17] #3736 closed

[2019-07-11 17:25] jonalmeida commented on #2838
@jdragojevic do we want to close this and open an issue on iOS instead? I don't believe there's any work for us to do here.

[2019-07-11 17:28] jdragojevic commented on #2838
Let me try to reproduce, @jonalmeida

[2019-07-11 17:29] ekager commented on #3997
Oops overlooked this. Should be fixed now!

[2019-07-11 17:44] mitchhentges commented on #3071
For future reference, instead of having to edit `gradle.properties`, you can add `--versionName=...` to Settings > Build, Execution, Deployment > Gradle-Android Compiler > Command-line Options.

![](https://user-images.githubusercontent.com/10008419/59921398-7e6b9480-9468-11e9-9df2-9f6c8f5c8c64.png)

[2019-07-11 17:49] jonalmeida commented on #3717
FYI: I've added a screenshot into the issue to ensure we're referring to the same thing.

[2019-07-11 18:02] grigoryk commented on #3877
This sounds like the most likely cause here! Let's tackle this first, and see if the problem goes away.

[2019-07-11 18:07] jonalmeida opened #4007 "Migrate Share Sheet to LibState"
We don't need most of the stateful stuff in the current ShareFragment so we can start on removing this.

[2019-07-11 18:22] jdragojevic commented on #1331
@vesta0 - Can you please consider the options that @thomcc outlined above for behaviours and let us know how you like it to be resolved?

[2019-07-11 18:24] MasterGroosha commented on #3071
@mitchhentges That's great! Thank you!

[2019-07-11 18:24] sblatz commented on #369
This should be fixed by https://github.com/mozilla-mobile/fenix/issues/1113. Closing as a dup :)

[2019-07-11 18:24] #369 closed

[2019-07-11 18:24] AmyYLee commented on #599
@sblatz @vesta0 @shorlander wants to avoid using splash screens so can we fix this without the splash screen?

[2019-07-11 18:26] AmyYLee commented on #599
Where is this link?

[2019-07-11 18:30] dholbert commented on #2831
FWIW, I synced using the https://accounts.firefox.com/pair/ flow, and that produced an entry for Fenix that was (somewhat confusingly) called "Firefox Sync" in my FxA device list.  (Fenix sync settings does have a spot where I could supposedly choose the device name, and it defaulted to "Google Pixel 3", which is indeed what my phone is; but nonetheless it shows up as "Firefox Sync" in the FxA lis

[2019-07-11 18:36] sblatz commented on #564
Tagging this as low priority since we're likely doing a [redesign](https://mozilla.invisionapp.com/share/7PSR7KCSW6Z#/372749649_Latest) that would address this.

[2019-07-11 18:36] dholbert commented on #2831
Here's the Fenix sync UI, for me (immediately after linking with Sync) -- note "Device Name":
![image](https://user-images.githubusercontent.com/426803/61075987-0392fb00-a3d0-11e9-9b41-e37abca238f5.png)

... vs here's how it shows up at https://accounts.firefox.com/settings/clients :
![image](https://user-images.githubusercontent.com/426803/61075808-a7c87200-a3cf-11e9-9612-f9281ba4c04f.png)

[2019-07-11 18:36] #564 closed

[2019-07-11 18:37] sblatz commented on #570
Closing this as it will be changed in our [redesign](https://mozilla.invisionapp.com/share/7PSR7KCSW6Z#/372749649_Latest).

@topotropic please keep these comments in mind 😄

[2019-07-11 18:37] #570 closed

[2019-07-11 18:42] dholbert opened #4008 "[Bug] "Reconnect to resume syncing" forces me to type my full Firefox Account password (no option for QR code flow)"
## Steps to reproduce
 1. Connect Fenix to your Firefox Account for syncing, using the firefox.com/pair QR-code-scanning flow (no need to type my long password, nice)
 2. Complete a sync operation (may not be necessary, not sure)
 3. On a desktop Firefox instance, find your just-connected Fenix device on https://accounts.firefox.com/settings/clients (It may be labeled "Firefox Sync" per https://gi

[2019-07-11 18:43] dholbert commented on #4008
CC @grigoryk

[2019-07-11 18:52] sblatz commented on #856
We are already doing this. Closing.

[2019-07-11 18:52] #856 closed

[2019-07-11 19:09] yoasif commented on #1331
I think consecutive duplication is the only one that is desirable for users. People on desktop already complain about behavior #1, and I don't see any reason why it is desirable to be consistent with this disliked behavior.

[2019-07-11 19:29] ekager commented on #3478
Yeah let's close this and I will file a new issue, thanks!

[2019-07-11 19:32] ekager opened #4010 "[Bug] Tab(s) Sent snackbar confirmation displays over toolbar"
![Screenshot_20190711-151758](https://user-images.githubusercontent.com/40694158/61050906-bc693200-a3f0-11e9-868d-551dce4d2099.png)

## Steps to reproduce
1. Send current page while browsing

### Expected behavior
Snackbar displays above toolbar like other snackbars

### Actual behavior
Snackbar displays covering toolbar

This seems to be a drawback of the "easy" solution that we decided on. The s

[2019-07-11 19:39] jonalmeida commented on #4010
@pocmo [reminded me](https://github.com/mozilla-mobile/reference-browser/pull/794#issuecomment-499143219) that we use the `BrowserToolbarBottomBehavior` to fix this in the BrowserFragment. That might be a solution as well.

There was an issue where the behaviour wasn't working in r-b, but that might be scoped to only being an r-b issue.

I can take a look at it soon if you'd like!

[2019-07-11 19:42] ekager commented on #4008
CC @ryanfeeley do we want to update this sync account problem UI to include the pair option?

[2019-07-11 19:44] ekager commented on #4010
Hm I'm not sure if that'll work since we're just relying on HomeActivity to handle displaying the snackbar which doesn't know about the toolbar?

[2019-07-11 19:54] ryanfeeley commented on #4008
Great catch everyone! Now that we have the great illustration page, the top button here should go there:
<img width="424" alt="image" src="https://user-images.githubusercontent.com/68213/61080868-fab42080-a3f3-11e9-8046-342d4acdbb3a.png">

We still need the `Remove account` option in case the user has lost access to the email, and just wants to unbork their browser.

[2019-07-11 20:01] ekager commented on #4008
Got it! Thanks!

[2019-07-11 20:04] topotropic commented on #2843
Seems to be alright now, can we close it?

[2019-07-11 20:06] topotropic commented on #2037
@Verdi what's your take on this?

[2019-07-11 20:06] dholbert commented on #4008
Also, after performing the STR (i.e. ending up in a you-need-to-reconnect state): if I force-quit Fenix, then the next time I launch it, the "reconnect" UI is gone entirely and it's back to showing the default "Turn on Sync" UI that it would show if I've never sync'ed before.

[2019-07-11 20:07] jonalmeida commented on #4010
You're right! I didn't read the docs as I should have. According to it, that behaviour only works if the view is a layout child:

My next guess is if we can set the context of the toast to be that of the current fragment so that it would work as expected.

[code]

Making each fragment implement the callback and pass the tab count doesn't feel like the best way forward.

/me needs to think more abo

[2019-07-11 20:09] ekager commented on #4010
We could do what I did as an intermediate step and pass a created callback (call a function in HomeActivity to create the callback while setting the anchorView when that callback happens)?

[2019-07-11 20:09] topotropic commented on #1672
The quick action bar is available when "Find in page" is visible so it's alright to have it available for TalkBack as well. Please verify and feel free to close the issue. Thanks!

[2019-07-11 20:13] mozillamarcia commented on #2843
This seems to be better on my Pixel 3. I am ok with closing it out.

[2019-07-11 20:16] dholbert commented on #4008
For the record, here's what the "Reconnect" UI looks like for me right now, in settings (after STR step 4):
![Screenshot_20190711-130419](https://user-images.githubusercontent.com/426803/61082176-cafa1e00-a3dd-11e9-9935-1bd69644cf6c.png)

And here's what I see when I tap "Reconnect" (note that if I click through "Sign in" here, it takes me to an accounts.firefox.com login page, with a password tex

[2019-07-11 20:58] IzzySoft commented on #162
Gladly, @sm4rk0 – and be welcome to check at https://gitlab.com/IzzyOnDroid/repo as things might change (you also can use the issue tracker there to suggest new apps or report issues).

[2019-07-11 21:19] jonalmeida commented on #4010
With the intermediate step, wouldn't the problem still exist since the snackbar is being created with the HomeActivity context? I imagine the way to make it work is to use the context of the current fragment so that the snackbar is a child of that fragment's layout.

Your original solution would definitely work but I'd like to investigate a more minimal solution that avoids duplicating the code ac

[2019-07-11 21:20] NotWoods opened #4012 "Animate enable/disable state of icons in quick settings popup"
![strike_thru_the_heart](https://user-images.githubusercontent.com/1782266/61086137-132a3800-a400-11e9-8f0b-1b7973cc9f3b.gif)

Use `AnimatedStateListDrawable` & `AnimatedVectorDrawable` to transition between the enabled and disabled states for tracking protection and media permissions.

[2019-07-11 21:22] NotWoods commented on #2587
Fixed in Android Components 3.0.0

[2019-07-11 21:23] bifleming opened #4013 "[Internal Reporting] Please pull data from Github into Sheets-readable file"
See sample report for data needed.

**Acceptance Criteria**

1. I can request the data at any time for the current sprint.

2. The data pulled includes the following information for each item in the sprint:
Feature | ID | Title | Rel. Version | Release to Beta | Release to Prod | story points | Status

3. The data file is readable by Google Sheets

[2019-07-11 22:20] ryanfeeley commented on #2831
@rfk Does the device name set in Preview get ignored? If so, on the client side we should fix it to be Firefox Preview and made it unreadable (but ideally we can get the renamable device).

[2019-07-11 22:39] pwd-github commented on #2831
Both of my Fenix devices have disappeared from my other devices. I have to send tabs to and from said devices via Fennec.

[2019-07-12 00:40] ekager commented on #4010
You can get the current fragment id through the Navigation library like ``navHost.navController.currentDestination?.id``

[2019-07-12 04:13] x010x opened #4016 "[Bug] adding a title so this does not match every issue"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Fenix version: ?

[2019-07-12 07:06] softvision-miralobontiu commented on #3997
Verified with Samsung Galaxy Tab A6 (Android 5.1.1), and Huawei P9 Lite (Android 6), on a debug build 1.0.1928 (GV 68.0-20190612114833) from 7/12.
It doesn't crash anymore.

[2019-07-12 07:06] #3997 closed

[2019-07-12 08:00] AndiAJ opened #4017 "[Bug] Page load performance issues"
## Steps to reproduce
1. Navigate to https://abarmo.com/en

## Alternative Steps to reproduce
1. Navigate to https://www.3m.com/3M/en_US/restyling-studio-us/

### Expected behavior
Websites are loaded and users can use the acordingly.

### Actual behavior
Page isn't loaded

### Device information

* Android device:
• Samsung Galaxy S8+(Android 8)
• Samsung Galaxy S7 (Android 7)
• Samsung Galaxy S6

[2019-07-12 08:17] softvision-miralobontiu commented on #3806
Verified that QAB container and alert/confirmation dialogues are rounded, with the latest Nightly build 190712 (#11930609) with Google Pixel 3 (Android 9), Huawei P9 Lite (Android 6), and Samsung Galaxy Tab A6 (Android 5.1.1).

[2019-07-12 08:17] #3806 closed

[2019-07-12 08:43] sv-ohorvath commented on #3240
Also verified on HTC Desire 820 (Android 6.0.1). This can be closed now.

[2019-07-12 08:57] softvision-miralobontiu commented on #2094
Verified as fixed on the latest Nightly build 190712 (#11930609) with Google Pixel 3, Huawei P9 Lite (Android 6), and Samsung Galaxy Tab A6 (Android 5.1.1).

[2019-07-12 09:11] softvision-miralobontiu opened #4019 "[Bug] "Firefox Account" text is displayed, instead of the email"
## Steps to reproduce
1. Go to Turn on Sync.
2. Sign in (it doesn't matter if it is through QR code or email).
3. Observe the FxA account section.

### Expected behavior
The email account should be displayed.

### Actual behavior
"Firefox Account" text is displayed, instead of the email of the account.

### Device information
* Android device: all
* Fenix version: Nightly build 190712 (#11930609)

[2019-07-12 09:20] cadeyrn commented on #3806
I can't verify the fix for the QAB. On the left side there is no round corner at all, on the right side you can see a line on top without rounding.

<img width="1439" alt="Bildschirmfoto 2019-07-12 um 11 20 24" src="https://user-images.githubusercontent.com/1100614/61117571-13c1dd80-a497-11e9-917d-60b15f4642ff.png">

HTC U11, Android 8.0.

/cc @ekagerrounded.

[2019-07-12 09:30] Scripterr commented on #3806
The QAB also seems to blocking some fixed content at bottom.
![Screenshot_20190712-145849~2](https://user-images.githubusercontent.com/42364681/61118117-95117400-a487-11e9-86b7-4ee9562dec9a.png)

[2019-07-12 09:36] cadeyrn commented on #3806
@Scripterr This is not related to the rounded corners at all. You should create a new issue if you think there are other problems with the QAB.

[2019-07-12 09:51] Scripterr commented on #3806
I issue is related because the PR #3990 which was supposed to solve this issue is orginated from here which caused the regression.

[2019-07-12 09:59] rmisev opened #4021 "When sharing a page, the page title is not shared, only URL"
## Steps to reproduce

1. Go to any web page which have title.
2. Press "Share" menu item and select "Gmail".

### Expected behavior

Populate a share subject with the page title.

### Actual behavior

A share subject is not populated. For example if sharing to e-mail client (Gmail), a subject field is empty.

### Device information

* Android device: Nexus 5X API 28 (emulated device)
* Fenix vers

[2019-07-12 11:32] telans commented on #104
+1 to the idea of migrating all data, however I'd rather not sign up to *another* pointless (for my use case) service. Copying and pasting a profile or history & bookmark data would be so much simpler and require no account.

[2019-07-12 11:58] isabelrios opened #4023 "Add a pref to use FxA stage server"
### Why/User Benefit/User Problem
We are working on an environment to run sync integration tests (similar to the ones we have on [iOS](https://github.com/mozilla-mobile/firefox-ios/tree/master/SyncIntegrationTests)). These tests create Bookmark, History, Logins and Tabs on iOS and check that they appear on Desktop (and vice-versa) once you sign in and sync.
### What/Requirements
For the Desktop pa

[2019-07-12 12:03] AndiAJ commented on #3568
I was able to reproduce this issue using a Samsung S8+ (Android 8) on the latest Nightly Build **`#11930609 from 12/7`**.

[2019-07-12 12:08] softvision-miralobontiu opened #4024 "[Bug] Open tabs from collections is under the existing tab"
## Steps to reproduce
1. Open several pages.
2. Save at least one page in a collection.
3. From the collection's menu select "Open tabs" and observe where are those opened.

### Expected behavior
The tabs are all opened above the existing tabs.

### Actual behavior
The tabs are all opened under the existing tabs.

### Device information
* Android device: all
* Fenix version: 7/12 Nightly build

[2019-07-12 12:58] AndiAJ opened #4025 "[Bug] Amazon.com grey rectangle displayed on top right corner"
## Steps to reproduce
1. Navigate to amazon.com

### Expected behavior
Web page is properly displayed

### Actual behavior
Grey rectangle present on the upper right side

### Device information

* Android device:
• Samsung S8+ (Android 8)
• Samsung Galaxy S6 (Android 6.0.1)
* Fenix version: Nightly Build #11930609 from 12/7

### Notes
Isn't happening on the following devices:
• Google Pixel 3a (An

[2019-07-12 13:21] sv-ohorvath opened #4026 "[Bug] (regression) Bookmark changes are not updated instantly"
## Steps to reproduce
1. Edit a bookmark, change the name or URL.
2. Return to the bookmarks list.
3. Observe the bookmark name & url.
4. Tap the bookmark to open it.
5. Return to bookmarks and observe the edited bookmark.
### Expected behavior
Name & url are updated instantly.
The new URL should be loaded.
### Actual behavior
Bookmark not updating. The initial URL is loaded.
Returning to the book

[2019-07-12 13:31] #887 closed

[2019-07-12 13:39] Amejia481 commented on #2383
Sorry for the delay, missed your comment, @ekager I believe it happens because of https://github.com/mozilla-mobile/fenix/issues/2383#issuecomment-491005106

[2019-07-12 13:49] ryanfeeley commented on #2831
@vladikoff Do you know when the device name set manually in Fenix will be appearing in fxa device manager?

[2019-07-12 14:02] cadeyrn commented on #3806
PR #3990 says "Adds corner radius to QAB and dialogs", nothing about "blocking some fixed content at bottom"…

[2019-07-12 14:30] ekager commented on #3806
So @Scripterr is correct. To have rounded corners on the QAB, we would have to cover web content, or else what would be behind the cut out corners? Just empty space? After thinking about this more I think we should undo the QAB change. Is that okay with UX @AmyYLee ?

[2019-07-12 14:43] pocmo commented on #3952
but not in the `architecture` module and that seems to get build here (`architecture:mergeExtDexDebugAndroidTest`) - not sure if this is even right?

[2019-07-12 14:44] vladikoff commented on #2831
I think the only way this is gonna show up is when send tab gets enabled in Fenix. @grigoryk @rfk confirm?

[2019-07-12 14:45] #4016 closed

[2019-07-12 14:54] ekager commented on #3806
Just chatted with @AmyYLee and we're going to take away the rounded corners here for now and maybe reevaluate when redesigning the QAB / bringing back collapsible bar here.

[2019-07-12 15:16] esmoak commented on #162
@PopeRigby there is an unofficial Mozilla repo here:

https://gitlab.com/rfc2822/fdroid-firefox

I’m unsure how to contact the maintainer to find out of Fenix can/will be added. Posting in case you or anyone else is interested.

But it sounds like Izzy might be taking care of this in the near future if I’m reading the replies correctly.

[2019-07-12 15:44] sblatz opened #4027 "Create UI tests for Search Fragment"

[2019-07-12 16:01] mihai-adrian commented on #3983
@grigoryk I've investigated this, it has to do with matchSegment function in DomainMatcher from android components. Before I make a PR for changing the placement of '/' , I wanted to ask if the desired functionality should also offer suggestions for url containing paths (localhost:8080/manager/html)

[2019-07-12 16:20] pocmo commented on #3952
There are two things here:

(1) Adding the `compileOptions` in `architecture/build.gradle` fixes your build error.

(2) You are running `assembleAndroidTest` which builds a test APK for ALL variants including the `architecture` module. This is a bit too much and it would be faster to just build what you need. `app:assembleAndroidTest` will only build the test artifacts for the `app` module. Even b

[2019-07-12 16:53] ekager commented on #2383
No worries! Yeah I understand that comment but I guess my question was more should Fenix be handling saving the custom tab when the activity is recreated? Or is this something that should change in AC?

[2019-07-12 16:56] wurstsemmel opened #4031 "Suggestions for collections, start page and search engine switcher"
### Why/User Benefit/User Problem

Overall
Nicely increased speed when rendering webpages.

a) Collections
The new collections concept feels like a bookmark folder. Collections should rather feel like a tab group. After clicking a collected tab Firefox opens the tab and it shows up under open tabs. It makes no sense that a collected tab (by definition it is already a tab) opens as a new tab, basic

[2019-07-12 17:08] sblatz opened #4032 "Fix broken HomeScreen UI Tests"
We should fix these tests before we start running them on CI.

[2019-07-12 17:22] cannotbeblank opened #4034 "Don't show download complete notification when saving images"
### Why/User Benefit/User Problem
Please cancel the notification bar‘s notification after Android saves the image.
This is a very very useless feature.
User need to specifically cancel this notification.

### What/Requirements
cancel the notification
you can Change to notice that disappears after 3 seconds.
(just like twitter download image)

### Acceptance Criteria (how do I know when I’m done?)

[2019-07-12 17:23] jhugman commented on #3022
This corresponds to [ac#3725][0].

[0]: https://github.com/mozilla-mobile/android-components/issues/3725

[2019-07-12 18:13] jhugman commented on #3177
Where the page is directing the user directly to Google Play, this will be handled by a `market://` link – which is enabled by [ac#3725][0].

This is blocked by [ac#3687][1].

[0]: https://github.com/mozilla-mobile/android-components/issues/3725
[1]: https://github.com/mozilla-mobile/android-components/issues/3687

[2019-07-12 18:15] jhugman commented on #3205
This corresponds to [ac#3725][0].

[0]: https://github.com/mozilla-mobile/android-components/issues/3725

[2019-07-12 18:19] jhugman commented on #3349
This is being tracked on the [Android Intent URLs board][0].

[0]: https://github.com/orgs/mozilla-mobile/projects/32

[2019-07-12 18:20] jhugman commented on #3920
This is being tracked on the [Android Intent URLs board][0].

[0]: https://github.com/orgs/mozilla-mobile/projects/32

[2019-07-12 18:20] #3920 closed

[2019-07-12 18:21] jhugman commented on #3070
This is being tracked on the [Android Intent URLs board][0].

[0]: https://github.com/orgs/mozilla-mobile/projects/32

[2019-07-12 18:25] jhugman commented on #3330
This corresponds to [ac#3695][0].

[0]: https://github.com/mozilla-mobile/android-components/issues/3695

[2019-07-12 19:36] Amejia481 commented on #1749
On AC 4.0.0 [we exposed an API](https://github.com/mozilla-mobile/android-components/commit/6b585972c11d475f0df1c39135e03076ed6bfd27) to indicate how cookies should behave for a given tracking protection policy, to be aligned with now GeckoView by default:

| TrackingProtectionPolicy 	| CookiePolicy (Behavior) 	|
|--------------------------	|-------------------------	|
| none

[2019-07-12 20:30] ekager commented on #3772
I should have addressed all of the follow  up issues except #3999 , so let's close this issue and that issue can track that work :)

[2019-07-12 20:30] #3772 closed

[2019-07-12 20:59] ekager commented on #1639
@jonalmeida do you still want this to be investigated or can we close this issue?

[2019-07-12 21:01] ekager commented on #1006
I'm not seeing this anymore. Adding a QA needed label!

[2019-07-12 21:04] ekager commented on #1956
No longer an issue, closing :)

[2019-07-12 21:07] ekager opened #4036 "[Bug] Homescreen RTL menus open from the opposite corner of the menu icon"
## Steps to reproduce
1. Force phone to be RTL (In Developer Options)
2. Click any 3 dot menu on homescreen

### Expected behavior
Menu opens from corner where 3 dot menu icon is

### Actual behavior
Menu opens from opposite corner

(Notably this doesn't happen with the 3 dot menu in the toolbar in BrowserFragment so the different animation must handle this correctly)

### Device information

* An

[2019-07-12 21:08] grigoryk opened #4037 "Add device icons for upcoming TV and VR device types"
We display a device type icon when sending tabs right now, but currently there are only two types - mobile and desktop. We will soon have TV and VR (Firefox Reality) targets as well, so let's add icons for those new types.

[2019-07-12 21:10] ekager opened #4038 "[Bug] Close Tab Icon in RTL doesn't have correct padding"
## Steps to reproduce
1. Force RTL (in Developer Options)
2. Observe Tab on Home screen

### Expected behavior
Close button has correct padding and matched LTR

### Actual behavior
![Uploading Screenshot_20190712-140811.png…]()

### Device information

* Android device: ?
* Fenix version: ?

[2019-07-12 21:12] ekager commented on #1695
@sv-ohorvath can you still reproduce? I can't on master with Pixel

[2019-07-12 21:13] ekager commented on #1690
@softvision-miralobontiu are you still seeing this on latest Nightly?

[2019-07-12 21:15] ekager commented on #2020
@cpeterso GV handles the text selection menu right? Do you know if there's already a bug for this?

[2019-07-12 21:16] ekager commented on #2291
Can we close this issue now?

[2019-07-12 21:21] jonalmeida commented on #1639
This is done! But I may have linked the work to a different ticket. Closing.

[2019-07-12 21:22] ekager commented on #2506
Closing this issue for now, because we've discussed this icon before, and UX is currently happy with it

[2019-07-12 21:26] ekager commented on #1160
Have you continued to see this issue?

[2019-07-12 21:28] ekager commented on #905
@kbrosnan I can't reproduce this anymore. Can you?

[2019-07-12 21:30] ekager commented on #2059
I closed this becaues I don't think it's an issue anymore. Please reopen if this still needs an icon update

[2019-07-12 21:32] ekager commented on #2216
Closing because I don't think this is a problem anymore. Please reopen if it is

[2019-07-12 21:32] ekager commented on #2740
Is this still a problem @AaronMT ?

[2019-07-12 21:34] ekager commented on #3069
We are still working on supporting external intents

[2019-07-12 21:35] ekager commented on #2164
Sounds like we can close this issue?

[2019-07-12 21:38] ekager commented on #3199
I cannot reproduce this anymore. Adding QA needed label to verify

[2019-07-12 21:48] AaronMT commented on #2740
This seems fixed now.

[2019-07-12 21:54] jonalmeida commented on #2383
This should probably be something a-c handles since all browsers would be affected by this.

[2019-07-12 22:02] ekager opened #4039 "[Bug] progress bar is weird"
![Screenshot_20190712-144546](https://user-images.githubusercontent.com/25442310/61160850-0d8f2980-a4b6-11e9-91cc-a22c72ddb81b.png)

## Steps to reproduce
Load page
### Expected behavior
Progress bar has correct gradient

### Actual behavior
Progress bar gradient is broken

### Device information

* Android device: ?
* Fenix version: ?

[2019-07-12 22:16] ckarlof opened #4040 "[Bug] "No bookmarks here" flashes on screen before I see the contents of a bookmarks folder"
## Steps to reproduce
Sign into Sync and have a Desktop Bookmarks folder.
Navigate into the Desktop Bookmark folders.

### Expected behavior
I see smooth transitions between each navigation.

### Actual behavior
The screen flashes "No bookmarks here" before showing the contents of the folder.

### Device information
* Android device: Pixel 3
* Fenix version: Nightly #11931815

I don't know if it's

[2019-07-12 23:19] #4032 closed

[2019-07-13 00:23] ashkitten opened #4042 "[Bug] confirm() dialog sometimes returns wrong value"
the `confirm()` dialog returns the inverse value when not offering to prevent the page from creating additional dialogs

## Steps to reproduce

1. navigate to a [test page]. this specific url is simply some encoded html containing a button and a `<pre>` tag to display the result of `confirm()`.
2. click the button
3. press "ok" on the dialog that pops up
4. repeat step 2 so that the dialog offers

[2019-07-13 01:24] Moderpach opened #4044 "[Bug]Files downloaded from Fenix always don't be recognized as a correct type"
## Steps to reproduce
Dwnload any file, such as ZIP,APK.
Check the file in the explore. The file is recognized as a File but not its real type.
![Screenshot_20190712-225352_](https://user-images.githubusercontent.com/34941512/61165204-d40afc80-a54f-11e9-8432-4bb47819a481.png)

### Expected behavior
Be recognized as its real type
### Actual behavior
Be recognize as a File type
### Device informatio

[2019-07-13 01:28] PowERGD commented on #4044
the problem don't exist , if you use the third-party explore.

[2019-07-13 01:35] travis79 commented on #2291
I think so, the bug we were tracking this with was resolved fixed so I don't see why this shouldn't be as well.

[2019-07-13 06:09] ekager commented on #4040
This is because we are initializing these components with empty lists because we need to load history and bookmarks async and then update the lists/views. We should definitely look at this when refactoring our components.

[2019-07-13 08:09] telans commented on #562
Why does the search bar need to go in a *single* fixed position? Clearly the better way to solve this is to add an option depending on how the user likes it? Either dynamic, static top / bottom etc.

[2019-07-13 09:33] cadeyrn commented on #562
No, this is really not the better way. There can't be options for _everything_, otherwise the product is not maintainable, especially if you don't have the same ressources as Google or Apple. It's not only about the one-time implementation cost. All future changes have to work with all configurations. So whatever Mozilla does, they should find _one_ solution which works best for most users so that

[2019-07-13 18:24] grigoryk opened #4045 "Use bookmark tree management helpers from android-components"
Currently we have a bunch of code in Fenix for dealing with injecting a "virtual" desktop bookmarks folder into the tree, avoiding cycles, substituting friendly names for default desktop bookmarks, etc.

There's a good chance this code will move to A-C to be shared with other products (e.g. FxR), at which point we can remove it from Fenix.

Depends on https://github.com/mozilla-mobile/android-comp

[2019-07-13 18:32] grigoryk opened #4046 "[Bug] Desktop Bookmarks are only visible when signed-in"
Currently we only display `desktop bookmarks` in the bookmarks library view if the user is signed-in.

If I sync my desktop bookmarks and then sign-out, I am no longer able to access them unless I sign-in again. At least from that point of view, this clearly reads as a bug to me.

I think display of the `Desktop bookmarks` folder in the library and edit views should be predicated on the presence o

[2019-07-13 22:30] BugsBunnyBR opened #4048 "Support Browser.EXTRA_HEADERS parameters"
same as in here https://github.com/mozilla-mobile/focus-android/issues/4311

[2019-07-14 00:59] emilio opened #4049 "[Bug] Cannot browse to file:// URIs"
## Steps to reproduce

 * Try to open a file using a `file://` URI. I was poking at whether #3864 was a simple matter of tweaking the manifest, I guess not.

### Expected behavior

 * File is opened, and I can view it.

### Actual behavior

 * Searches for `file://your-file`

[2019-07-14 06:50] jacktose commented on #1006
Still happening for me in Fennec 68.0 and Fenix 190713 18:02 (Android 8.1.0).

I reported in webcompat/web-bugs#34593 and that was closed as a duplicate of [bug 1555511](https://bugzilla.mozilla.org/show_bug.cgi?id=1555511). Since the issue is in both browsers, is this a duplicate of the Bugzilla bug?

[2019-07-14 09:08] grigoryk commented on #4046
Actually, displaying `desktop bookmarks` folder only if "desktop roots" exists assumes a little too much about the behaviour of underlying storage. Off top of my head, I'm not actually sure if desktop roots aren't inserted when we initially create our bookmark storage. Relying on that undocumented and internal behaviour of the storage library at the UI level seems quite wrong.

Alternative is to _

[2019-07-14 10:18] Ryonez commented on #1437
What's the current position of this issue? Kinda hard to guess with the current tag.

[2019-07-14 14:28] staktrace opened #4050 "[Bug] Font inflation makes bugzilla unusable"
## Steps to reproduce
Go to https://bugzilla.mozilla.org/show_bug.cgi?id=837752

### Expected behavior
Page renders normally

### Actual behavior
Looks ugly because font sizes are very random looking. Button labels are truncated, text is leaking out of the containing elements, etc.

### Device information

* Android device: 9
* Fenix version: 1.0.1 (Build #11891918 🦎 68.0-20190611143747)

[2019-07-14 20:03] yoasif commented on #4046
:+1:

[2019-07-15 01:51] marthinwurer commented on #3414
I'm getting similar behaviour, but it's only some of my tabs turning into about:tab. It's similar to #519, but it's usually just the last tab that I had open.

[2019-07-15 02:11] marthinwurer opened #4051 "Fill the search/address bar by tapping on a suggested search/address suggestion"
### Why/User Benefit/User Problem
If you're trying to type a longer search, and you see a suggestion that is part of what you want to search but does not contain all your search terms (for example, you want to search for "houses in city for sale with pools", you've typed "houses in city" and "houses in city for sale" is suggested), you currently have to type the rest of the search until your full

[2019-07-15 03:01] vesta0 commented on #3717
@mheubusch the proposed changes does provide more clarification. If you and Legal both approved onboarding then we can close this issue.

[2019-07-15 03:01] #3717 closed

[2019-07-15 03:14] rfk commented on #2831
So there are a couple of things happening here, which I'll try to tease apart.

1) Fenix needs to include the "device name" in its device record registration after the user has logged in. I don't recall whether it will always do this, or will only do it when the send-tab feature is enabled. @grigoryk can you confirm whether device-registration is bound to send-tab, or separate? Assuming that the n

[2019-07-15 03:33] vesta0 commented on #1331
@thomcc thanks for listing the options.

I don't think we should only show a most recent visit for a URL. Comparing how this works in Fennec vs Fenix, I think the problem is that Fenix is not pulling the right page name all the time. For example, if you tap on different ideos on YouTube in Fenix they will all have the same name (m.youtube.com) even if the URL is different, whereas Fennec correctly

[2019-07-15 06:50] softvision-miralobontiu commented on #1690
I was not able to reproduce the issue with Nokia 6 (Android 7) on the latest Nightly build from 7/14.

[2019-07-15 07:52] AndiAJ commented on #3568
Hi, **verified as fixed** on the latest **`Nightly Build #11960610`** using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy S8+(Android 8)
• Samsung Galaxy S7 (Android 7)
• Huawei Media Pad M3 Lite 10 (Android 7)
• Samsung Galaxy S6 (Android 6.0.1)

[2019-07-15 08:05] AndiAJ commented on #3998
Hi, the issue is still replicating on the latest **`Nightly Build #11960610 from 15/7`** using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy S8+(Android 8)
• Samsung Galaxy S7 (Android 7)
• Samsung Galaxy S6 (Android 6.0.1)

### Note
It works fine on Huawei MediaPad M3 Lite 10 (Android 7)

►Video Google Pixel 3a
![20190715_105730](https://user-images.githubusercontent.com/5

[2019-07-15 08:24] AndiAJ commented on #4001
Hi, **verified as fixed** on the latest **`Nightly Build #11960610`** using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy S8+(Android 8)
• Samsung Galaxy S7 (Android 7)
• Huawei Media Pad M3 Lite 10 (Android 7)
• Samsung Galaxy S6 (Android 6.0.1)

[2019-07-15 08:24] #4001 closed

[2019-07-15 08:36] sv-ohorvath commented on #3199
I can't reproduce either on Nightly 7/15. Devices:Nexus 5(Android 6.0.1), Galaxy S8 (Android 9).

[2019-07-15 08:53] #3996 closed

[2019-07-15 08:58] pocmo opened #4052 "Attempt to avoid pending intent workaround"
Follow-up from #3996 / #4028.

Currently  we use a `pendingOpenInBrowserIntent` to workaround a lifecycle issue in `FindInPageIntegration.launch`.

`FindInPageIntegration.launch` is static and set from `start()` and cleared from `stop()` of `FindInPageIntegration`. When switching from a custom tab activity to the browser activity the new activity is started first and then the old is stopped. So th

[2019-07-15 12:14] AndiAJ commented on #2527
Hi @eeejay , is this a continuous zoom in? I'm asking because I think I may have bumped into the same issue while visiting **`Udemy.com`** on the latest Nightly Build #11960610 from 15/7 using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy S8+(Android 8)
• Samsung Galaxy S7 (Android 7)
• Huawei Media Pad M3 Lite 10 (Android 7)
• Samsung Galaxy S6 (Android 6.0.1)

►Video from

[2019-07-15 12:49] abodea commented on #1006
Hi, @jacktose I have a question regarding your comment, can you check this issue https://github.com/mozilla-mobile/fenix/issues/2527 and see if your comment was meant to be added there? Both issues you mentioned from webcompat and bugzilla are not related to this issue.

[2019-07-15 13:03] abodea commented on #1006
Verified as fixed using the latest build from **`7/15 190715`**.
Please note that the YouTube videos I watched were displayed correctly in full screen mode after rotating the device.
I used the following devices:
**• Google Pixel 3a (Android 9)
• Samsung Galaxy S8+(Android 8)
• Samsung Galaxy S7 (Android 7)
• Huawei Media Pad M3 Lite 10 (Android 7)
• Samsung Galaxy S6 (Android 6.0.1)
• Samsung Gal

[2019-07-15 13:25] IOI-655321 opened #4053 "Allow install user certificate"
Using programs such as Adguard for Android they cannot filter the Firefox preview due to not being able to install the certificate to intercept HTTPS traffic.

Current Fennec works for this but preview does not.

Until Firefox preview supports add ons workaround adblocking such as this is more important and definitely needs to be considered.

[2019-07-15 13:33] tarekziade commented on #1241
@mcomella  In case you are able to install and run an android emulator, you have options there to simulate poor network conditions. It's -netdelay and -netspeed with the command line or in the UI in celullar->signal strength and cellular->network type.

[2019-07-15 13:39] buttercookie42 commented on #4050
[Bug 1552781](https://bugzilla.mozilla.org/show_bug.cgi?id=1552781) should have improved the situation regarding the "random looking" font sizes around the comment box (assuming it's that what you meant?), though it seems that even Fenix Nightly builds are still stuck on some outdated GeckoView version predating the fix for that bug.
Unless I'm overlooking anything else, that leaves mainly the but

[2019-07-15 13:58] kbrosnan commented on #4053
dupe #2286

[2019-07-15 13:58] #4053 closed

[2019-07-15 14:01] jacktose commented on #1006
@abodea, you are correct—too many tabs open.
*This* is fixed for me in Fenix 190714 18:23, Android 8.1.0, Moto G5+.

[2019-07-15 14:02] kbrosnan commented on #4049
I doubt we want to fix this. Not having this feature stopped [1558299](https://bugzilla.mozilla.org/show_bug.cgi?id=1558299) from working in Fenix. I am removing that ability from Firefox for Android in [1563422](https://bugzilla.mozilla.org/show_bug.cgi?id=1563422).

[2019-07-15 14:04] jacktose commented on #2527
Still happening for me in Fennec 68.0 *and* Fenix 190713 18:02 (Android 8.1.0).

I reported in webcompat/web-bugs#34593 and that was closed as a duplicate of [bug 1555511](https://bugzilla.mozilla.org/show_bug.cgi?id=1555511). Since the behavior is in both browsers, is this issue a duplicate of the Bugzilla bug?

[2019-07-15 14:08] kbrosnan commented on #2527
Can the behavior be reproduced in [Reference Browser](https://play.google.com/apps/testing/org.mozilla.reference.browser) which uses Gecko 70? If not then we can close this bug and it will be fixed when Fenix picks up Gecko 69+.

[2019-07-15 14:09] sv-ohorvath commented on #1695
We can still reproduce this on Pixel 3A, Pixel 3XL, Galaxy S8 (Android 9), Nexus 5 (Android 6.0.1) on Nightly 7/15.
It also happens copying the build date from taskcluster: tap the Created date to copy it (https://tools.taskcluster.net/index/project.mobile.fenix.v2.nightly/latest)

[2019-07-15 14:22] jhugman commented on #1213
This is blocked on re-enabling app-links for custom schemes and intents.

[2019-07-15 15:31] abodea commented on #1134
Verified as fixed on the latest build 7/15 using Samsung Galaxy s10+(Android 9).

[2019-07-15 15:39] sblatz commented on #907
Tagging Stefan's work github: @sarentz

[2019-07-15 15:42] klint commented on #3613
Also, the shorcut should use the favicon image of the page (unlike Firefox Focus ;) )

[2019-07-15 15:44] sblatz commented on #1023
Sounds like this is not waiting on anything then, is that correct @grigoryk?

[2019-07-15 15:44] sblatz commented on #1022
@grigoryk is this still waiting on anything?

[2019-07-15 15:49] colintheshots commented on #3355
@mheubusch Our Toolbar and Snackbar are custom. Otherwise, we generally use Material components, as @ekager stated. We have the capability to make more custom components if the UX calls for it, but it adds more development time.

[2019-07-15 15:58] colintheshots commented on #3732
This crash has stopped occurring and there are no STR for QA. Closing.

[2019-07-15 15:58] #3732 closed

[2019-07-15 16:05] sblatz commented on #1427
This is pretty small engineering effort if we decide to move forward with it.

[2019-07-15 16:14] ekager commented on #1308
I believe this bug is the awesomebar showing your current session as a suggestion and will be addressed in #3695

[2019-07-15 16:36] st3fan commented on #3330
I know this is closed but I clarified this ticket by renaming 'http site' to 'website'. To make sure we know this is not about http vs https. I think mozilla-mobile/android-components#3695 already reflects that.

[2019-07-15 16:36] ekager commented on #2405
Are you still able to reproduce this?

[2019-07-15 16:37] emilio commented on #4049
Is this different from `content://` urls? AIUI `content://` urls resolve to `file://` urls in Fennec. Will this stop all ability to open external HTML files in Fennec?

[2019-07-15 16:40] ekager commented on #3473
I'm not seeing this on master. Can you still reproduce?

[2019-07-15 16:46] ekager commented on #3380
Are you still seeing this issue? I am unable to reproduce

[2019-07-15 16:47] ekager commented on #3411
@npark-mozilla do you still want to have this open?

[2019-07-15 16:50] ekager commented on #3406
Are you still seeing this crash?

[2019-07-15 16:53] #759 closed

[2019-07-15 16:54] npark-mozilla commented on #3411
Oh sorry, this was resolved long time ago, I'll close it

[2019-07-15 16:56] #3662 closed

[2019-07-15 16:59] #3893 closed

[2019-07-15 17:14] pocmo commented on #2164
AC issue: https://github.com/mozilla-mobile/android-components/issues/2727

[2019-07-15 17:23] colintheshots commented on #3992
I produced an initial report using static code analysis. Will and I will find more opportunities through tracing and profiling app performance directly. Here's the current report, which I'll create issues from: https://docs.google.com/document/d/17WNYoS-ucL6FR8bAM64NzH5CAT_v7wIYgdHN0mQL_r0/edit?usp=sharing

[2019-07-15 17:24] edwintorok commented on #1437
FWIW here is how a search engine can be added on the current version of Firefox, which doesn't work on Firefox Preview: https://support.startpage.com/index.php?/Knowledgebase/Article/View/1094/0/how-do-i-make-startpage-the-default-search-on-firefox-mobile-android-ios

[2019-07-15 17:24] bifleming commented on #373
Just waiting for Send Tab to be completed.

[2019-07-15 17:25] vesta0 commented on #2579
@sv-ohorvath please let us know if you can re-produce this.

[2019-07-15 17:56] mheubusch commented on #3332
This should be all metadata - the case of text should come from metadata and Firefox Preview should not be altering any  metadata.

[2019-07-15 18:20] yoasif commented on #3992
@colintheshots can you open access to that Google Doc?

[2019-07-15 19:13] robsmith11 commented on #4049
Why wouldn't you support opening local files on Android as you do on other platforms?

I use it frequently to play local media and load offline websites.

[2019-07-15 19:16] #4052 closed

[2019-07-15 19:30] liuche commented on #3571
@Amejia481 I'm looking at putting this into the next Fenix sprint or two, could you tell me a little more about what kind of research is still remaining? Or just waiting for UX designs?

[2019-07-15 19:38] asadotzler commented on #1712
This seems to be working now.

[2019-07-15 19:41] rpappalax commented on #3952
@pocmo (2) solved my issue.  Thank you!

[2019-07-15 19:41] #3952 closed

[2019-07-15 19:41] asadotzler commented on #1667
This is still not working. What's the plan here?

[2019-07-15 19:43] asadotzler commented on #1472
I'm unable to reproduce this in the latest build.

[2019-07-15 20:17] asadotzler commented on #3197
The fix for this landed in GV on 7/2 https://bugzilla.mozilla.org/show_bug.cgi?id=1558289#c8 but it seems we haven't updated GV in Fenix since 6/12.

[2019-07-15 20:31] rfk commented on #2831
So this is now live. The good:

* I see multiple instances of Firefox Preview if I have multiple instances connected.
* The device name accurately reflects what I enter in Firefox Preview settings

The still-needs-work:

* Firefox Preview now has a "desktop" device icon; this was fixed in appservices v0.32.1 (ref https://github.com/mozilla/application-services/pull/1314) and is just waiting on upl

[2019-07-15 20:51] willfs84 commented on #1021
Just coming back to this because Fenix/Firefox Preview still has the exact same swipe-up problem as Chrome Home does (detailed in the link below). How will Mozilla tackle this issue? Firefox Preview cannot ship like... this https://bugs.chromium.org/p/chromium/issues/detail?id=726437

[2019-07-15 20:52] callahad commented on #1160
No, I have not encountered this recently

On Fri, Jul 12, 2019, 22:26 Emily Kager <notifications@github.com> wrote:

[2019-07-15 20:56] ekager commented on #1160
Okay, closing for now then please reopen if you see this again!

[2019-07-15 21:25] #4027 closed

[2019-07-15 21:33] jonalmeida opened #4063 "Remove Send Tab build flags from Push (and maybe Send Tab)"
We're currently using the same build flag for Send Tab and Push (Firebase) since those two features were strongly coupled when landing this feature. When we find Send Tab and Push are working in a decent state, we should remove these flags from there.

We need to also remove the connection between the AccountManager and the push service that observes the manager and starts/stops itself on that sta

[2019-07-15 21:37] colintheshots opened #4064 "[Bug] Dispatchers.Main still has long cold start delay (Phase II)"
## Steps to reproduce
Look at the latest Nimbledroid.com report OR run cold startup with Systrace running.

### Expected behavior
We should not block the main thread for hundreds of milliseconds to checksum the jar using FastServiceLoader or ServiceLoader classes.

### Actual behavior
Even with the latest fixes from Kotlin Coroutines, Dispatchers.Main still blocks the main thread for too long. It

[2019-07-15 21:46] colintheshots opened #4066 "[Meta] Unconditional inflation of Find in Page, Reader View, and Quick Action Sheet"
## Steps to reproduce
Start Systrace and launch Fenix from a link in an external app.

### Expected behavior
Fenix should not spend ~70-100ms on the main thread inflating views that are marked GONE visibility initially.

### Actual behavior
Fenix spends ~70-100ms on the main thread inflating views that are initially marked GONE.

This bug is initially marked Waiting, since Find in Page and ReaderV

[2019-07-15 21:46] grigoryk commented on #4046
Desktop roots are created whenever we initialize our storage for the first time. So, we _always_ have them. It makes sense to also always display them as described in https://github.com/mozilla-mobile/fenix/issues/4046#issuecomment-511186156

[2019-07-15 21:49] colintheshots opened #4067 "[Performance] Unnecessarily deep layout hierarchy on several screens"
**Affected UI elements**:
Quick Action Bar
Share Sheet
Custom Snackbar
Tabs Header
Tab in Collection

Excess layout layers are used on these screens that contribute nothing to the UI. This will slow down layout passes and finding Views on important screens of our app.
https://android-developers.googleblog.com/2017/08/understanding-performance-benefits-of.html

* Fenix version: 1.0.1

[2019-07-15 21:54] colintheshots opened #4068 "Investigate & file issues if there is main thread IO on non-app startup"
This bug is for non-startup main thread IO: startup is higher priority than this so it is a separate issue: https://github.com/mozilla-mobile/fenix/issues/6547

### What
Main thread IO is an avoidable source of poor user experience: we should prevent it from happening.

### Impact
Main thread IO should be prioritized because it's one of the highest value performance tasks.

### Acceptance criteria

[2019-07-15 22:23] jonalmeida commented on #4066
The views mentioned are in the `fragment_browser` layout file so I don't believe they need a-c work to add stubs.

[2019-07-15 22:25] jonalmeida commented on #4067
Performance bugs are probably not good for first time contributors since they are sometimes folks that are new to android as well. :)

[2019-07-16 03:02] rfk commented on #1023
FYI, we are about to land https://github.com/mozilla/application-services/pull/1103 on the appservices side, which makes dependency substitution even simpler (and we have been explicitly testing local substitution builds as part of that work; they appear to be working great!).

[2019-07-16 05:01] secrethash commented on #4051
A Top-right facing arrow for inclusion of suggested term in the search field.

Currently (From - Firefox Preview):
![](https://i.imgur.com/eUUzJHA.png)

Should be (From - Brave Browser):
![](https://i.imgur.com/KGrGBzU.png)

`Just for better reference.`

[2019-07-16 07:54] pocmo commented on #1577
This landed in GV and I am removing the "needs:gv" label. The next step is to now take that over in AC - tracked here:
https://github.com/mozilla-mobile/android-components/issues/3310

[2019-07-16 08:59] Dunexus commented on #3865
The new nightly icon should probably also be used on home/tabs/collections screen and about page.

[2019-07-16 10:21] mihai-adrian commented on #2737
Same bug is reproducible in Fenec. Probably it's origin is in GeckoEditable from  geckoview.

[2019-07-16 11:37] AndiAJ commented on #3554
Hi, **verified as fixed** on the latest Nightly Build **#11970610 from 16/7** using the following devices:
• Google Pixel 3a (Android 9)
• Samsung GalaxyS8+ (Android 8)
• Samsung Galaxy S7 (android 7)
• Samsung Galaxy S6 (Android 6.0.1)
• LG Nexus 4 (Android 5.1.1)

► VIdeo from Google Pixel 3a
![20190716_125056](https://user-images.githubusercontent.com/51314259/61291438-332e7280-a7d7-11e9-8e57-d

[2019-07-16 11:54] nahuhh commented on #4051
Top-left* (north-west)

[2019-07-16 11:54] jonalmeida opened #4072 "[Bug] Re-installing Fenix shows tabs from previous install"
## Steps to reproduce
1. Have some tabs open (I'm unsure if the tabs are related; I see oauth ones for me).
2. Uninstall Fenix.
3. Go to the Play Store and install the latest version.
4. Open the app.

### Expected behavior
- To see the onboarding screen and no new tabs existing.

### Actual behavior
- There are two tabs (for myself) that I had open before uninstalling the app.

### Device informa

[2019-07-16 11:58] nahuhh commented on #3346
This appears to be fixed

[2019-07-16 12:06] jonalmeida commented on #4072
The last frames of the gif seem to get stripped out, you can pause at the end on the HQ version linked above to see that there are two tabs opened.

[2019-07-16 12:11] sv-ohorvath commented on #2579
I've downloaded 2 types: .conf and .config files from an email, no problems downloading from there.
devices: Huawei P20 lite (Android 9), Galaxy S8 (Android 9).
@nikoloskid If you're still experiencing this problem, please give us more details and reopen the bug. Thnak you!

[2019-07-16 12:11] nahuhh commented on #4044
The problem does exist.

http://gscs-b2c.lge.com/downloadFile?fileId=KROWM000196248.pdf

Above is a link to a manual for a washing machine from LG. Source link: https://www.lg.com/us/support/manuals-documents?customerModelCode=WM2101HW&csSalesCode=WM2101HW.ABWEEUS&category=CT10000010&subcategory=CT10000076

Downloaded in fenix, you cannot open it. (workaround: rename the file.)

Downloaded in chro

[2019-07-16 12:11] AndiAJ commented on #3380
Hi, **verified as fixed** on the latest Nightly **Build #11970610 from 16/7** using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy Note 9 (Android 8.1)
• Samsung GalaxyS8+ (Android 8)
• Samsung Galaxy S7 (android 7)
• Samsung Galaxy S6 (Android 6.0.1)
• HTC One M9 (Android 6)
• LG Nexus 4 (Android 5.1.1)

► Video from Google Pixel 3a
![20190716_150413](https://user-images.gi

[2019-07-16 12:21] pocmo commented on #4072
Looks like we didn't disable the app backup feature (AndroidManifest).

[2019-07-16 12:30] sv-ohorvath commented on #3473
No, I can't reproduce this anymore on Nightly 7/16.

[2019-07-16 12:34] pocmo opened #4074 "SecurityException: Lacking privileges to access camera service"
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6055762/

[code]

[2019-07-16 12:35] pocmo commented on #4074
Very low volume.

[2019-07-16 12:40] Amejia481 commented on #4042
It looks like it's been fixed on GeckoView `69.0.20190711090037` and above as soon Fenix update its GV dependency this issue will be gone. Since [AC 4.0.0 ](https://mozac.org/changelog/#400) apps will not need to specify a GeckoView  dependency as it will be part of AC.

[2019-07-16 12:40] jhugman commented on #1331
So, threading the needle through all the above:

 * we should filter out duplicate consecutive entries.
 * I think we should do this in Kotlin, to give us some ongoing flexibility.

Other issues alluded to in this bug:

#### 1. title of the page is not being saved

#### 1a. intermediate pages in a redirect should not be stored in history.

#### 2. filtering duplicates in history should be using ti

[2019-07-16 12:46] sv-ohorvath commented on #2405
Yes, it's still reproducing on Nightly 7/16. devices: Huawei p20 lite, Pixel 3A (Android 9)

[2019-07-16 12:53] jonalmeida opened #4075 "Add a single source class for feature flags"
From the review comments here: https://github.com/mozilla-mobile/fenix/pull/4073#discussion_r303875989

[2019-07-16 13:09] colintheshots commented on #4072
That's an interesting case. The user has already seen onboarding. They had tabs cached before deleting the app. This seems like a product question. Do we want them to restore an app backup or see an empty UI?

From a customer support perspective, it may seem easier to clear all data so any bugs disappear if a database gets corrupted.

[2019-07-16 13:22] AndiAJ commented on #3202
Hi, **verified as fixed** on the latest Nightly **Build #11970610 from 16/7** using the following devices:
• Google Pixel 3a (Android 9)
• Google Pixel 3XL (Android 9)
• Google Pixel 3 (Android 9)

From the language setup point of view I've selected  Español (España)
![rsz_screenshot_20190716-1559311111](https://user-images.githubusercontent.com/51314259/61297779-9cb57d80-a7e5-11e9-8da2-20c7569742

[2019-07-16 13:43] Amejia481 commented on #3571
I'm not completely sure how we are going to approuch this from the AC API, I will open bug on ac for that. As mock-ups are almost done, I think we can move forward from the Fenix side.

[2019-07-16 13:55] st3fan commented on #1331
This may be an unrelated problem but it is worth investigating:

Is this unique to YouTube because it reloads the page not with actual reloads but by doing ajax requests and modifying the history stack? We've had this that problem in Firefox iOS where we did not get the proper notifications that the page changed.

This is not unique to YouTube - there are plenty of SPAs that use these techniques.

[2019-07-16 14:11] jhugman commented on #1331
@st3fan `pushState` may well be relevant here.

I'll file an ac issue to track that.

[2019-07-16 14:17] mcomella opened #4078 "Rotate videos to appropriate orientation on fullscreen"
### Why/User Benefit/User Problem
I have my phone in "locked" orientation mode (a standard Android feature): whatever the current orientation, rotating the device will not rotate the screen. However, after rotating the device, I can click a button to rotate the screen.

This makes watching fullscreen videos in Fenix tedious: after fullscreening videos, I have to rotate my device, wait for the dyna

[2019-07-16 14:20] mcomella opened #4079 "Add playback rate setting to video player"
### Why/User Benefit/User Problem
I often watch videos at increased playback rates (1.5x, 2x, etc.): it'd be great if the Fenix video player supported this feature.

fwiw, this feature is important enough to me that it discourages me from using my phone (unless it's the YouTube app) or Fire TV to watch videos, instead pushing my towards my computer, despite the increased discomfort and inconvenien

[2019-07-16 14:21] abodea opened #4080 "[Bug] Bookmarks folders can be created if using a space(instead of any character) as a title"
## Steps to reproduce
1. Launch Fenix.
2. Open the bookmarks section.
3. Add a new folder.
4. Instead of adding any character, add a space.
5. Save the bookmark folder.
### Expected behavior
The **`Must have a title`** message error should be returned not allowing the user to add a bookmark with a space in folder name.
### Actual behavior
The bookmark folder can be created only if adding on the ti

[2019-07-16 14:40] staktrace commented on #4050
I'll wait until there's a Fenix version that includes that bugfix and see what the state is like.

[2019-07-16 15:43] vladikoff commented on #3889
Related: https://github.com/expo/expo/issues/1481

[2019-07-16 16:05] kbrosnan commented on #4072
Do we need to do anything to remove the data that has been uploaded for 1.0.x clients?

[2019-07-16 16:17] colintheshots commented on #2922
@kbrosnan Could I please get access to the bug tree as well?

[2019-07-16 16:20] secrethash commented on #4051
@nahuhh opps sorry 😅

[2019-07-16 16:24] boek opened #4082 "Find what is causing glean.error.invalid_value / glean.error.invalid_label in metric pings"
https://bugzilla.mozilla.org/show_bug.cgi?id=1552507

[2019-07-16 16:27] jonalmeida commented on #4072
Should the ticket stay open for QA testing as well?

[2019-07-16 16:31] vesta0 commented on #2639
@AquaBytez please let us know if you are still experiencing this issue. I suspect that only downloads on authenticated sites are still an issue (currently being addressed).

[2019-07-16 16:47] kbrosnan commented on #2922
done

[2019-07-16 16:50] AquaBytez commented on #2639
Updated 15 minutes ago. Downloads still don't work.

[2019-07-16 16:53] Coch3se commented on #2639
I just tried to download an APK from GitHub that was giving me problems and it is working now.

[2019-07-16 17:06] vesta0 commented on #2639
@AquaBytez what types of downloads still don't work? Could you provide steps to reproduce?

[2019-07-16 17:09] AquaBytez commented on #2639
![Download Unsuccesul](https://imgur.com/a/ve3Mfq6)

[2019-07-16 17:11] vesta0 commented on #2639
@AquaBytez it would be super helpful if you could provide an example of a site that you are downloading from, and the file type.

[2019-07-16 17:15] AquaBytez commented on #2639
This doesn't work https://download.servo.org trying to download the android build results in the image above

[2019-07-16 17:17] vesta0 commented on #3465
I had the same issue before and noticed that I had notifications disabled for Firefox Preview in my apps settings. @edtamarin and @techexo would you please confirm if you have notifications enabled for Firefox Preview?

[2019-07-16 17:24] vesta0 commented on #3161
@topotropic what do you think of this behaviour instead? #2627

[2019-07-16 17:26] vesta0 commented on #2271
@AmyYLee can we further clarify the requirements in this bug for engineering?

[2019-07-16 17:28] Coch3se commented on #2639
@AquaBytez I was able to download your file https://imgur.com/qDJmK6t

[2019-07-16 17:28] ekager commented on #3693
Looks like I can still select a folder in multi-select mode and delete it, but it doesn't crash for me. @colintheshots is this expected behavior? If this is no longer crashing should we close this?

[2019-07-16 17:29] ekager commented on #3784
@colintheshots do we think this is resolved?

[2019-07-16 17:33] AquaBytez commented on #2639
That's odd. Could you try this setup? https://imgur.com/a/bC1EXJQ

Because as soon as I turn off the app, everything works just fine.

[2019-07-16 17:40] sblatz commented on #1437
Discussed in meeting with @vesta0--this is a could for Q3.

[2019-07-16 17:49] mheubusch commented on #242
Yes, we are managing this with Collections.

[2019-07-16 17:50] sblatz commented on #574
Product is looking into feasibility

[2019-07-16 17:51] Coch3se commented on #2639
@AquaBytez I can't download the file if I enable "Goodbye Ads" or "Dan Pollocks". With only "Energized Blue" enabled I have no problem with the download.

[2019-07-16 17:53] AquaBytez commented on #2639
I wonder which host is being blocked that prevents downloads from working.... At least we were able to narrow it down to those two lits.

[2019-07-16 18:02] ekager commented on #1211
I'm reopening this now. This was removed when implementing #3985. I think this was also causing weird behavior like #3587 because of how we are overriding the back button in Search. We should look into those issues before readding this feature

[2019-07-16 18:02] #4080 closed

[2019-07-16 18:05] ekager commented on #626
I don't think we are doing this anymore, correct? Can we close this?

[2019-07-16 18:05] ekager commented on #893
I don't think this is relevant any more. Closing!

[2019-07-16 18:05] #893 closed

[2019-07-16 18:06] ekager commented on #2057
I see a title and address in the tab preview now. Closing, please reopen with more information if still an issue

[2019-07-16 18:07] ekager commented on #1724
Can this be closed or are we still tracking work here?

[2019-07-16 18:08] mitchhentges commented on #1724
I'd prefer to close this once the beta application goes live, which it hasn't yet :)

[2019-07-16 18:13] ekager commented on #2167
Can also reproduce in RB. Going to file a GV bug to investigate

[2019-07-16 18:16] ekager commented on #2167
Opened https://bugzilla.mozilla.org/show_bug.cgi?id=1566551

[2019-07-16 18:20] ekager commented on #2464
@hawkinsw it looked like this wasn't ever merged in? The PR was closed? Do we still want to do this or do we want to close this issue?

[2019-07-16 18:22] chiragmantri commented on #3317
can i work on this issue?

[2019-07-16 18:42] mheubusch commented on #2560
@vesta0 String updates were already provided for this issue:
Firefox Preview clears your search and browsing history when you quit the app or close all private tabs.
I can address any string needs for quickly close all tabs in the multitasking designs.  I will remove the needs:strings label

[2019-07-16 18:56] mheubusch commented on #3077
Strings:
Message: To send a tab, sign in to Firefox on at least one other device.
Button/Action: GOT IT

[2019-07-16 18:58] colintheshots commented on #4066
I suppose we can implement it as is. I was thinking it would be great to support this in the Android Components, but I can understand not wanting to add code that might be considered application-specific.

[2019-07-16 19:17] sblatz commented on #1287
We are currently in the process of redesigning the home and tab screens. We are also waiting on a Google library update that will fix a crash we had with this ticket.

@ekager can you own tracking this ticket's corresponding Google library update? :)

[2019-07-16 19:17] sblatz commented on #1287
@mozilla-mobile/ux can we make sure this animation is considered in the redesign?

[2019-07-16 19:18] sblatz commented on #1290
@mozilla-mobile/ux can we make sure this animation is considered in the redesign?

[2019-07-16 19:18] sblatz commented on #1288
@mozilla-mobile/ux can we make sure this animation is considered in the redesign?

[2019-07-16 19:19] jonalmeida commented on #3077
To clarify for this ticket for engineering, this is the string currently used in the gif above and in the capture below.

cc: @mheubusch

What we need is to make sure that [these user flows](https://user-images.githubusercontent.com/1370580/61322893-b69e9280-a7dc-11e9-9470-22d1d0435683.png) are still accurate to the [invision link](https://mozilla.invisionapp.com/share/QSR2F8UD4PN#/screens/3648857

[2019-07-16 19:31] sblatz commented on #3004
@mozilla-mobile/ux Can we please consider this as part of the collections redesign?

[2019-07-16 19:33] sblatz commented on #167
@AmyYLee, @lime124 can we close this? Seems like it's done.

[2019-07-16 19:35] sblatz commented on #195
This feature is implemented and looks like this ticket is stale. Please file a follow up issue if this has additional work :)

[2019-07-16 19:36] sblatz commented on #1000
@NotWoods are you actively working on this?

[2019-07-16 19:37] sblatz commented on #980
This is implemented, let's file follow-up issues if necessary :)

[2019-07-16 19:37] #980 closed

[2019-07-16 19:40] sblatz commented on #2407
@sv-ohorvath I believe this is fixed. Marking as QA needed :)

[2019-07-16 19:40] shorlander commented on #3004
Yes! 👍🏻

[2019-07-16 19:43] jonalmeida commented on #1000
There's some [initial work here](https://github.com/mozilla-mobile/android-components/pull/3776) that Tiger is looking into.

[2019-07-16 19:45] colintheshots commented on #3784
It hasn't been seen in Nightly since July 1st which corresponds to when it was fixed. It seems resolved.
https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5991083/?query=is:unresolved%20bookmark

[2019-07-16 19:46] colintheshots commented on #3784
Closing since there are no steps to reproduce for QA.

[2019-07-16 19:46] #3784 closed

[2019-07-16 19:47] sblatz commented on #2296
Since this is only affecting emulators I'm re-assigning it as p3.

[2019-07-16 19:48] sblatz commented on #2838
@jdragojevic any updates? :)

[2019-07-16 19:51] sblatz commented on #747
@cadeyrn @colintheshots are these reports still happening?

[2019-07-16 19:54] ekager commented on #2296
I don't think this is an issue any longer, I'm able to open Settings on an x86 emulator. @AaronMT are you still seeing this not responding UI on your x86 emulator?

[2019-07-16 19:55] colintheshots commented on #1539
I discovered a secondary issue at the same time due to the backdoor way to select folders. The code currently lets you delete the root folder and then crashes. So my fix includes a message and refuses to let the user select any root folder during multi-select. The fix will miss v1.1 due to the newly-added string.

[2019-07-16 20:02] #3977 closed

[2019-07-16 20:05] jonalmeida opened #4089 "Move PublicSuffixList to a sub-component class"
PublicSuffixList isn't a top-level component class and is probably better fit for the `Utilities.kt` sub-component instead (or any other that might make more sense).

[code]

[2019-07-16 20:08] AaronMT commented on #2296
WFM now.

[2019-07-16 20:15] colintheshots commented on #3818
This crash hasn't happened since July 7th in nightly. This appear to be fixed. There are no steps to reproduce for QA. Closing.

https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/5991152/?query=is:unresolved

[2019-07-16 20:15] #3818 closed

[2019-07-16 20:17] sblatz commented on #3139
This will be fixed by https://github.com/mozilla-mobile/fenix/issues/3140.

[2019-07-16 20:21] sblatz opened #4090 "[Bug] Certain favicons not loading"
Many favicons fall to load in Fenix (in search, home screen, and bookmarks/history)
Examples include:
- Twitter
- [Addons.mozilla.org](https://github.com/mozilla-mobile/fenix/issues/3140)

Potentially related: https://github.com/mozilla-mobile/fenix/issues/2925

[2019-07-16 20:21] sblatz commented on #3140
Will be addressed by https://github.com/mozilla-mobile/fenix/issues/4090

[2019-07-16 20:22] sblatz commented on #3302
Closing this as it's not a Fenix issue. Please re-open if I'm mistaken :)

[2019-07-16 20:23] ekager commented on #2792
On Desktop we allow users to create/move/edit separators that they can place between bookmarks in a specific place. We represent those in Fenix but don't allow users to add, move, or edit them. If we start sorting bookmark folders to the top, the separators could end up in strange places.

like if the order was
- bookmark
- folder
- separator
- folder
- separator

and we moved all the folders to t

[2019-07-16 20:23] rpappalax opened #4091 "[Bug] Failing UI test - shortcutButtonTest (API 25 only)"
The shortcutButtonTest (UI test) is failing in Firebase on API level 25 only.
Click on link to Firebase dashboard:
https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7535964156004191816
Drill down on failing API and click on tabs or "Test Results" button on upper right to view raw logs in GCP.
[code]

[2019-07-16 20:23] sblatz commented on #3266
Setting to p5 as it's not applicable to new design. Will close once we commit to it.

[2019-07-16 20:26] rpappalax opened #4092 "[Bug] Failing UI test - scanButtonTest (all APIs)"
The scanButtonTest (UI test) is failing in Firebase on all APIs.
Click on link to Firebase dashboard:
https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7845426704726412832
Drill down on failing API and click on tabs or "Test Results" button on upper right to view raw logs in GCP.
[code]

[2019-07-16 20:27] sblatz commented on #3300
@pb-10 any update on this? :)

[2019-07-16 20:28] NotWoods commented on #1000
I'm also doing follow-up work based on mozilla-mobile/android-components#3709

[2019-07-16 20:29] sblatz commented on #2660
This will be closed after redesign of collections.

[2019-07-16 20:32] rpappalax opened #4093 "[Bug] Failing UI test - settingsScrollToBottomTest"
The settingsScrollToBottomTest (UI test) is failing in Firebase on API 21.
Click on link to Firebase dashboard:
https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5480334586919337744/executions/bs.add80f09d43335b8
Drill down on failing API and click on tabs or "Test Results" button on upper right to view raw logs in GCP.
[code]

[2019-07-16 20:34] sblatz commented on #2642
This is likely far more noticeable on devices that have animations disabled, as we usually do a nice cross fade here

The exact transition frame where it's gone:
<img width="500" alt="image" src="https://user-images.githubusercontent.com/4400286/61327658-4b4dc400-a7ce-11e9-98f7-a802419d66b3.png">

[2019-07-16 20:36] rpappalax opened #4094 "[Bug] Failing UI test - settingsAfterScrollMenusTest"
The settingsAfterScrollMenusTest (UI test) is failing in Firebase on API 21.
Click on link to Firebase dashboard:
https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8610891157502804039
Drill down on failing API and click on tabs or "Test Results" button on upper right to view raw logs in GCP.
[code]

[2019-07-16 20:37] sblatz commented on #2865
Should be fixed by https://github.com/mozilla-mobile/fenix/issues/3317

[2019-07-16 20:46] cadeyrn commented on #747
@sblatz Yes, LeakCanary is still reporting leaks (build from 7/12, I can test with latest version from master tomorrow). Unfortunately I can't find the LeakCanary app in my apps anymore so I don't know how I can share more details. :-/

[2019-07-16 20:47] colintheshots opened #4096 "[Bug] IllegalStateException crashes during searches with new SearchStore"
## Steps to reproduce
There aren't yet known steps to reproduce. The observer somehow lives too long until the context is invalid.

### Expected behavior
The app should not crash when updating search icons and other UI after the context is no longer valid.

### Actual behavior
The app crashes in various cases, such as when updating search icons and other UI, after the context is no longer valid.

[2019-07-16 21:14] jdragojevic commented on #2838
![image](https://user-images.githubusercontent.com/299270/61330124-ec4b7780-a7ec-11e9-9c3c-0f786ee26465.png)

I've got Fenix devices in iOS - guessing maybe a recent change to https://github.com/mozilla/application-services/issues/1125 resolved this.

[2019-07-16 21:14] #4038 closed

[2019-07-16 21:18] buttercookie42 commented on #4078
Fennec already does that, too, doesn't it?

And other phones don't have even that, so you have to completely unlock the rotation, which is even more tedious.

[2019-07-16 21:20] ekager commented on #4078
Related #1343

[2019-07-16 21:21] lime124 commented on #4037
@vesta0 @grigoryk are these required for the feature to ship? if so, when do we need to provide these icons?

[2019-07-16 21:33] lime124 commented on #3939
@mheubusch please confirm which we want to go with. thanks!

[2019-07-16 21:57] ekager commented on #3639
I'm closing this because there's been no actionable information for Fenix as far as I can tell. I think they removed font inflation from being enabled through automaticFontSizeAdjustment. Please reopen or open a new bug if we should update any behavior here.

[2019-07-16 21:57] #3639 closed

[2019-07-16 22:03] Coch3se commented on #2639
Just got an update to both Blokada and Fenix and downloads are back to download unsuccessful after `5 minutes

[2019-07-16 22:11] jdragojevic commented on #2831
Done!

[2019-07-16 22:24] buttercookie42 commented on #4050
I did take an initial further look regarding the buttons and filed [bug 1566632](https://bugzilla.mozilla.org/show_bug.cgi?id=1566632) regarding the buttons after all.

[2019-07-16 22:30] mheubusch commented on #3939
@sblatz **Please use Delete and make the delete history  delete browsing data patterns consistent - please note changes in the strings below. Also, I  could not find a string for a History deleted snackbar.  If there is one, can you point me to it?**

<string name="history_delete_all">Delete history</string>

    <string name="history_delete_all_dialog">This will delete your browsing history.</str

[2019-07-16 22:35] techexo commented on #3465
@vesta0, yes I had enabled notifications for Firefox preview.

[2019-07-16 22:38] bifleming commented on #3523
@sblatz can you provide a little more info on why this might be a-s?

[2019-07-16 22:55] cpeterso commented on #1577
The GV fix was backed out for causing some test failures, so this Fenix issue still need the "needs:gv" label.

[2019-07-16 23:01] cpeterso opened #4102 "[Bug] Update Fenix to Leanplum SDK 5.2.3"
We should update Fenix to [Leanplum SDK 5.2.3](https://github.com/Leanplum/Leanplum-Android-SDK/releases/tag/5.2.3) or later. That SDK is supposed to fix a Leanplum issue that broke Leanplum notification's app deep links into Fennec. I don't know if Fenix is affected, but we should probably keep update to date.

Fenix is currently using Leanplum SDK 4.3.1 (from Fenix #891), though the latest SDKs

[2019-07-16 23:10] ekager commented on #1813
I can't reproduce this. Closing. Please reopen if you're still seeing it.

[2019-07-16 23:33] ekager commented on #2111
We have an issue to remove the suggestion that is your exact query anyway so I'm going to close this issue. Please leave your feedback here #1742

[2019-07-16 23:35] cpeterso commented on #2609
@denschub Can you still reproduce this scroll hang in Fenix? If so, can you please try testing in the Reference Browser app? It uses GeckoView 70 Nightly, which fixed some scrolling bugs.

https://play.google.com/store/apps/details?id=org.mozilla.reference.browser

[2019-07-16 23:57] ekager commented on #81
Closing for #1113

[2019-07-16 23:57] #81 closed

[2019-07-17 00:20] boek opened #4104 "Refactor the toolbar to use lib-state"

[2019-07-17 00:24] boek commented on #509
This was done with a7d5cdcb9dbebcf26623561990b8ecbc18cbfd37 and #2733

[2019-07-17 00:24] #509 closed

[2019-07-17 00:26] boek commented on #2376
This was done with #3980

[2019-07-17 00:27] jonalmeida commented on #2838
Closing this issue since there's nothing for our QA to test here. Thanks Janet! ✨

[2019-07-17 02:39] st3fan opened #4105 "Proxy Support"
It would be great if Firefox Preview had the same proxy settings as Firefox Desktop, including Socks support.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-12597)

[2019-07-17 02:43] vesta0 commented on #1500
Thanks @shorlander

I am going to add the label `waiting` to indicate that this is not ready for engineering until the Collections/Multi-tasking UX work is completed.

[2019-07-17 03:55] yoasif commented on #3600
FWIW, I tried to reproduce this in GeckoView example and didn't see the same pause with a white screen before showing a rendered page, so this feels like it may be Fenix specific.

[2019-07-17 03:57] bogas04 commented on #3600
Do you have web render enabled? I faced a lot of white screens coz of it.

https://github.com/mozilla-mobile/fenix/issues/3904

[2019-07-17 04:56] xcffl commented on #3414
Same here.
Crashes may raise the probability of this behavior significantly.

[2019-07-17 05:01] boek commented on #4082
@Dexterp37

After some investigation:

It looks like there are actually 10 search engines with a suggestion URL > 100 characters the largest of which hits 136.

And then just about every search engine outside of the en-us locale fails the regex validation :(

[2019-07-17 05:04] vesta0 commented on #2551
@pocmo I just tested it in RB and it works great with most sites but when I test it with Soundcloud I don't see a notification. Thoughts?

[2019-07-17 05:19] vesta0 commented on #4037
@lime124 the TV and VR icons are not required to ship the feature but we should have them by end of Q3 in time for skyline.

[2019-07-17 05:58] vesta0 commented on #2021
@sv-ohorvath is this the same issue as the more recent #4019

[2019-07-17 06:07] vesta0 commented on #3232
@ryanfeeley please confirm that the FxA login form in Fenix matches the most recent designs.

[2019-07-17 06:10] vesta0 commented on #4019
I believe this has been fixed. @softvision-miralobontiu would you please confirm?

[2019-07-17 06:16] vesta0 commented on #1252
Dup of #3465

[2019-07-17 06:19] vesta0 commented on #2995
@airamify see comment above regarding this design.

[2019-07-17 06:30] vesta0 commented on #3587
@sv-sdeiac can you still reproduce this?

[2019-07-17 06:37] vesta0 commented on #820
@sandysage would you be able to confirm that this is working in Fenix as expected?

[2019-07-17 06:38] vesta0 commented on #821
Dup of #550

[2019-07-17 06:51] buttercookie42 opened #4106 "Browser.EXTRA_APPLICATION_ID/EXTRA_CREATE_NEW_TAB support"
Apps wanting to open an URL in the browser can pass along a [`Browser.EXTRA_APPLICATION_ID` Intent extra](https://developer.android.com/reference/android/provider/Browser#EXTRA_APPLICATION_ID), meaning they'd like to re-use an already existing tab with the same ID if it already exists instead of opening a new tab.

They can also override that behaviour by also passing along `Browser.EXTRA_CREATE_N

[2019-07-17 07:06] buttercookie42 commented on #4106
One additional thing not to forget from the Fennec implementation:
Whenever the user opens some other URL in a tab through the browser UI, we clear any possibly stored `EXTRA_APPLICATION_ID` for that tab, so it can no longer be re-used (thereby overwriting the user's new URL) if another Intent containing an `EXTRA_APPLICATION_ID` arrives.
What's debatable (and I don't think Fennec does this right

[2019-07-17 07:24] buttercookie42 commented on #718
Nitpick: Losing the *cache* wouldn't actually be that terrible, it's the application *data* that shouldn't be lost.

Something like the desktop UI, i.e. mainly the ability to (possibly selectively for certain tabs only) disable session restore?

[2019-07-17 07:25] sv-sdeiac commented on #3587
Hello, I tried to reproduce the problem using Samsung Galaxy Tab S3 (Android 8.0) and One Plus 5T (Android 9) on the latest Firefox Preview Nightly (2019-07-16) but I can't due to the fact that now the user can't close the keyboard after opening the Search bar: please read https://github.com/mozilla-mobile/fenix/issues/1211#issuecomment-511923368.

[2019-07-17 07:49] AndiAJ commented on #2407
Hi, **verified as fixed** on the latest Nightly **Build #11980613 from 17/7** using the following devices:
• Google Pixel 3a (Android 9)
• Samsung Galaxy S8+ (Android 8)
• Huawei Mate 20 Lite (android 8.1.0)

►Video from Google Pixel 3a

![20190717_104435](https://user-images.githubusercontent.com/51314259/61357014-231e9d80-a880-11e9-9ea2-ac6d3e324085.gif)

[2019-07-17 08:07] sv-ohorvath commented on #2021
@vesta0 They seem similar, yes. This case also shows "Firefox account" for longer now, not just a second. Should we close #4019 as a dupe?

[2019-07-17 08:19] pocmo commented on #3465
Adding "a-c" label: This issue should be resolved after switching to our Gecko-based download manager. Project board:
https://github.com/orgs/mozilla-mobile/projects/34

And early version (including custom notification!) of that is already running in Reference Browser:
https://github.com/mozilla-mobile/reference-browser

[2019-07-17 08:35] pocmo commented on #2551
@vesta0 Yeah, that's a known issue; unfortunately we do not get any media updates reported by GeckoView for that page:
https://bugzilla.mozilla.org/show_bug.cgi?id=1554297

[2019-07-17 08:49] abodea opened #4107 "Modify the Status Bar color to match Fenix color while being in Private Mode"
### Why/User Benefit/User Problem
Modifying the color of Status Bar in private mode will create a feeling of a full screen app while browsing.
### What/Requirements
Modify the color for Status Bar.
### Acceptance Criteria (how do I know when I’m done?)
The Status Bar color matches the Fenix color in private mode.
### Notes
This change will make a difference for the newest devices with a small Notc

[2019-07-17 08:53] softvision-miralobontiu commented on #3615
Verified that long-tapping on the URL bar doesn't copy the link.
Tested on the latest Nightly build 190717 (#11980613) with Sony Xperia Z5 Premium (Android 7.1.1), Samsung Galaxy Tab A6 (Android 5.1.1), and HTC 10 (Android 8), and on the latest Nightly build 190717 (#11980614) (aarch64) with Nexus 6P (Android 8.1.0).

[2019-07-17 08:56] tom-james-watson commented on #3615
Just looking at the referenced commit - it seems like all that has been done is to remove the copy functionality. The point of the original issue was that long-pressing the URL bar should function similar to how it does in normal Firefox Android - a popup menu with various options should appear instead of defaulting to copy.

Which would mean this shouldn't be closed yet?

[2019-07-17 09:03] isabelrios commented on #4094
The issue is happening because we are using tapping on the `Set as default browser`option to scroll down and so take the screenshots of the different Settings menus. Looks like on API 21 that option is not available and so the test fails.
Nexus 6 API 21:
<img width="255" alt="Nexus 6 API 21 Different Settings list" src="https://user-images.githubusercontent.com/1897507/61357894-72150480-a879-11e9-

[2019-07-17 09:04] isabelrios commented on #4093
This will be fixed as part of issue #4094. Please see comment there

[2019-07-17 09:19] t-matsuu commented on #821
Currently, Minimum Android Version of Firefox Lockwise is 7.0 though that of Firefox Preview is 5.0.
Does this mean Fenix users on Android 5.x-6.x cannot select Mozilla-based password manager?

[2019-07-17 09:29] softvision-miralobontiu commented on #3317
Verified that the "device name" filed cannot remain empty, and a pop-up is displayed informing the user about it.
Tested on the latest Nightly build 190717 (#11980613) with Sony Xperia Z5 Premium (Android 7.1.1), Samsung Galaxy Tab A6 (Android 5.1.1), and HTC 10 (Android 8), and on the latest Nightly build 190717 (#11980614) (aarch64) with Nexus 6P (Android 8.1.0).
![Screenshot_20190717-122650](ht

[2019-07-17 09:36] softvision-miralobontiu commented on #4019
It is not fixed yet on the latest Nightly build 190717 (#11980613) with Sony Xperia Z5 Premium (Android 7.1.1), Samsung Galaxy Tab A6 (Android 5.1.1), and HTC 10 (Android 8), and on the latest Nightly build 190717 (#11980614) (aarch64) with Nexus 6P (Android 8.1.0).

[2019-07-17 09:39] bobobo1618 commented on #2871
I'm also able to reproduce this.

Annoyingly, typing `javascript:` URLs into the address bar results in a Google search.

[2019-07-17 09:43] abodea opened #4109 "[Bug] Tracking Protection pop-up is not fully displayed on landscape(only after dragging it up)"
## Steps to reproduce
1. Launch Fenix.
2. Reach any website.
3. Turn the device in landscape mode.
4. Tap on the Tracking Protection button.
### Expected behavior
The Tracking Protection pop-up is fully displayed exactly like in portrait mode.
### Actual behavior
The Tracking Protection pop-up is not fully displayed on landscape(only after dragging it up)
### Device information

* Android device:

[2019-07-17 09:57] Dexterp37 commented on #4082
@boek thanks for looking into this.

- With respect to the URL limit, I think it would be sane to check with Ryan Harter if that has any impact on ongoing analyses. We're considering adding a new metric type, `UrlMetricType`, which has much higher length and requires to validate to an URL. We have bug 1557299 for this, but it's not a short-term solution. Another solution could be to bump the limit

[2019-07-17 11:20] softvision-miralobontiu commented on #3134
Verified that there is a confirmation dialog when signing out.
Tested on the latest Nightly build 190717 (#11980613) with Sony Xperia Z5 Premium (Android 7.1.1), Samsung Galaxy Tab A6 (Android 5.1.1), and HTC 10 (Android 8), and on the latest Nightly build 190717 (#11980614) (aarch64) with Nexus 6P (Android 8.1.0).

[2019-07-17 13:50] abodea opened #4111 "[Bug] There is a residual texture displayed on the top-left corner when tapping on Tracking Protection icon"
## Steps to reproduce
1. Launch Fenix.
2. Reach any website.
3. Turn the device in landscape mode.
4. Tap on the Tracking Protection button.
### Expected behavior
The Tracking Protection pop-up animation is displayed correctly.
### Actual behavior
There is a residual texture displayed right when the Tracking Protection pop-up animation loads in the top-left corner.
### Device information

* Androi

[2019-07-17 13:53] AndiAJ commented on #2362
Hi, the History Management telemetry still doesn't work properly on the latest Nightly Build #11980613.

<details>
    <summary> What works ✅</summary>

• History section opened
• History items deleted or shared
• Delete all history

[Logcat](https://github.com/mozilla-mobile/fenix/files/3402049/one.txt)

[Dashboard ](https://debug-ping-preview.firebaseapp.com/pings/aj-test-170716)
</details>

<de

[2019-07-17 14:06] NotWoods opened #4112 "Switch to using TabCounter from Android Components"
`TabCounter` is an existing UI component in Android Components. We should update the A-C version to support changes made in Fenix and then switch to using it instead of duplicating the code.

[2019-07-17 14:22] Dexterp37 commented on #4082
Flagging @harterrt for any thought about the above comment :)

[2019-07-17 14:30] smaug---- opened #4113 "[Bug] window.open and target=_blank seem to be broken"
## Steps to reproduce
Load http://mozilla.pettay.fi/moztests/new_win.html
Click either the button or the link. Both them should open a new tab and they
do in Fennec and mobile Chrome, and on desktop browser, but they don't on Fenix -
the tab counter doesn't increase.

### Expected behavior
new tabs should be opened

### Actual behavior
The current page is just replaced? That is at least what the U

[2019-07-17 14:36] jhugman opened #4114 "Re-enable opening links in external apps."
This is flipping the `interceptLinkClicks` in the `AppLinksFeature` constructor.

This should only be for non-http links (i.e. custom schemes and intent:// schemes).

[2019-07-17 14:38] colintheshots commented on #4096
BTW, if anyone needs steps to reproduce, virtually every pre-launch report is crashing with this stack trace using SearchFragment or one of the other fragment instances where context is needed, but gone. Using RoboTest seems to catch this bug repeatedly. This report had it occur three times:
https://play.google.com/apps/publish?account=7083182635971239206#PreLaunchReportPlace:p=org.mozilla.fenix&p

[2019-07-17 14:40] AndiAJ opened #4115 "[Bug] Text selection handler doesn't keep it's position in the search box"
## Steps to reproduce
1. Navigate to merriam-webster.com
2. Tap on the upper right Search icon
3. Long tap on the text box (until the text selection handler shows up)
4. Swipe up

### Expected behavior
The handler remains in the search text box when swiping up and down

### Actual behavior
The handler moves along with the swiping action, doesn't stay in the search box

### Device information

* An

[2019-07-17 14:43] csadilek commented on #3889
This is fixed in A-C 5.0.0. We'll need to upgrade Fenix before this can be verified next week.

[2019-07-17 14:46] cadeyrn commented on #4113
Sounds like #3702 for window.open and #1486 for target=_blank.

[2019-07-17 14:52] cadeyrn commented on #3335
I'll close this issue because the reported issue is gone, instead #3843 happens.

[2019-07-17 15:00] AndiAJ opened #4116 "[Bug] Video progress gets reset after 10 seconds of playback"
## Steps to reproduce
1. Navigate to https://m.cricbuzz.com/cricket-videos/40839/cricbuzz-live-the-final-new-zealand-v-england-post-match-show
2. Play the video

### Expected behavior
The whole video content can be viewed

### Actual behavior
Video plays for approx.10 seconds and afterwards the progress gets reset

### Device information

* Android device:
• Google Pixel 3a (Android 9)
• Samsung G

[2019-07-17 15:16] jhugman commented on #4114
This is identical to [ac#3687]; we should keep that open before enabling everywhere.

[1]: https://github.com/mozilla-mobile/android-components/issues/3687

[2019-07-17 15:33] isabelrios commented on #4023
cc @st3fan, not sure if you remember these tests that we have on iOS. We have a prototype working, syncing a history item created on Desktop and verified on Fenix, let me paste a video here that shows what they would do: https://youtu.be/XRItqptY3gU

We are using a prod. account and nightly configured accordingly but ideally, it would be best to use stage. That's why we have asked for this impleme

[2019-07-17 15:41] #4113 closed

[2019-07-17 15:54] lime124 commented on #3282
@vesta0 i linked this to #3927 for consideration.

[2019-07-17 16:13] chiragmantri commented on #4089
Hi jonalmeida,
I would like to take this up.

[2019-07-17 16:18] harterrt commented on #4082
What are the 10 engines and URLs with >100 characters? What do we report in these cases - truncated URLs?

@Dexterp37's suggestion for `search_counts` looks good to me. One note from an offline conversation, the **`engine` we report should not include a dot**. The histogram key is of the form `engine.source`. Adding an additional dot in the engine name will break the ETL. Alessio's suggestion of u

[2019-07-17 16:28] ekager commented on #4109
Dupe of #3521

[2019-07-17 16:28] #4109 closed

[2019-07-17 16:31] ekager commented on #4078
Working on this, so closing for #1343

[2019-07-17 16:31] #4078 closed

[2019-07-17 16:40] ekager opened #4118 "Close tabs automatically after a certain amount of time passed"
UX specs: https://share.goabstract.com/379f7d73-3332-4949-b104-12ef523c5127?mode=design&sha=168d3adc4b4cebd5f58bcebf1e564f589a5b874a

Banner copy:

### Why/User Benefit/User Problem
On mobile tabs can stack up and make it hard to find what you're looking for.

### What/Requirements
Something like this that would allow users to define the amount of time before auto closing their tabs. From a recent

[2019-07-17 16:45] pocmo commented on #4096
Sentry issue: [FENIX-NIGHTLY-8N](https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/6045620/)

[2019-07-17 16:52] ekager commented on #4111
Are you seeing this on every device? I am not seeing on my pixel on latest master

[2019-07-17 16:54] pocmo opened #4119 "[Bug] java.lang.IllegalStateException: search_shortcuts_button must not be null"
This just came up in a `monkey` session (`** System appears to have crashed at event 115 of 500 using seed 1563418424054`):

[code]

[2019-07-17 16:59] lime124 commented on #466
@apbitner for consideration while doing explorations of top nav/bottom nav stuff in #3651

[2019-07-17 17:31] jhugman opened #4123 "Add Telemetry to uses of Quick Action Bar App Links."
As followup to #4101, we should add telemetry to when the user taps on the quick action bar for opening in an external app.

[2019-07-17 17:34] ekager commented on #3829
Could we retest this? Or get new STR? I can't reproduce with the initial STR any longer on master