[2021-04-06 10:01] anotherus3r commented on #18812
Duplicate of #8252.

[2021-04-06 10:08] sflorean commented on #18765
@eliserichards ^

[2021-04-06 10:10] lobontiumira commented on #17772
Hi all!
I've tested with Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9), on a debug build with AC: 75.0.20210405143037, a69f74ece, and GV 89.0a1-20210405094633.

On Google Pixel, the menu is scrollable, no issues encountered:
- I was able to exit the menu by tapping anywhere outside the menu,
- I was able to access any option from the menu both when the menu was collapsed, and fu

[2021-04-06 10:47] SoftVision-LorandJanos commented on #18790
Hi @Alt37 ! Thank you for reporting this issue! Yes, I can confirm it is reproducible on latest Nightly (210406 05:01 (GV89), Beta (GV: 88.0-20210404185932) and Firefox Daylight v87.0.0-rc.1 (Build #2015799099). It is not reproducible on Google Chrome 89.0.4389.105.
Device used: HTC Nexus 9 with Android 7.1.1

[2021-04-06 10:56] ebalazs-sv commented on #12885
I had tested this on Nightly 4/6 with Samsung Galaxy Tab S3 (Android 8) and the issue is not reproducible anymore.
@Augures01 Do you still reproduce this issue?

[2021-04-06 10:59] Mugurell commented on #18565
@Yetoo1 I understand this issue is important for you but let's wait until we hear from UX what should be the expected behavior.
I'd say instead of making another search for the same search item that would give exactly the same results
We should better not show the search option for the same exact search term.
But again this is a decision for the UX team.

[2021-04-06 11:08] Mugurell commented on #17772
@lobontiumira I have some questions regarding the issue seen on the Note 8:
- does it always reproduce, and just on this device?
- does the menu get closed if pressing back?
- is the app / system still responding?
- does such an issue exist on Nightly on that device?

[2021-04-06 11:15] Augures01 commented on #12885
Yes

[2021-04-06 11:18] Mugurell commented on #17772
Also, you can open a new ticket to investigate there.

[2021-04-06 11:18] Yetoo1 commented on #18565
@Mugurell Ok. But, just to clarify if one were to search a word on a page of text, get sent to the search page with result, then goes back to that page of text to then select that same word in a different part of that page of text, your proposal would mean that the search option would not appear for that selection despite that word being a totally different set of characters (albeit same configura

[2021-04-06 11:23] lobontiumira commented on #17772
* does it always reproduce, and just on this device?
Yes, always, not reproducible on Google Pixel (Android 10), nor on OnePlus 5T (Android 10).
* does the menu get closed if pressing back?
Only if pressing the device's back button.

I will open a new issue.
* is the app / system still responding?
Yes, I was able to enter Settings, for example, after entering in tabs tray - new tab - three-dot men

[2021-04-06 11:35] pocmo commented on #18775
Yes, this is expected. Nightly is shipping with an autofill implementation that can autofill usernames/passwords. (#18457)

[2021-04-06 11:35] #18775 closed

[2021-04-06 11:36] lobontiumira opened #18814 "[Bug] Three-dot menu gets blocked after expanding it on Samsung devices"
## Steps to reproduce
1. Install debug build with AC: 75.0.20210405143037, a69f74ece, and GV 89.0a1-20210405094633 on Samsung Galaxy Note 8 (Android 9).
2. Open a page, then tap on the three-dot menu.
3. Scroll the menu so that is fully displayed.
4. Tap on any option from the menu.

### Expected behavior
The option tapped on is redirecting the user to what it was tapped.

### Actual behavior
* I

[2021-04-06 11:47] SoftVision-LorandJanos commented on #18788
Hi @anotherus3r ! Thank you for your report! I was not able to reproduce the issue you described. Could you please help us with more specific information like the website addresses you added to top sites, the versions of nightly from before and after the upgrade and your device information? Also, a screenshot of the issue would help. Thank you!

I've tested upgrading Nightly from 210405 17:00 - GV

[2021-04-06 12:09] AndiAJ commented on #8624
Hi @eliserichards , indeed **not reproducible anymore** on the latest **`Nightly 210406`** using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

[2021-04-06 12:09] #8624 closed

[2021-04-06 12:09] ivantsyganov commented on #14150
It should be optional. I don't want to see this option.

[2021-04-06 12:11] lobontiumira commented on #17920
I was able to reproduce the crash on Xiaomi Mi 8 Lite (Android 9), following these steps:
1. Install debug build with AC: 75.0.20210405143037, a69f74ece, and GV 89.0a1-20210405094633 on Xiaomi Mi 8 Lite (Android 9).
2. Open the app.

Fenix crashes.
[code]

[logcat Xiaomi.txt](https://github.com/mozilla-mobile/fenix/files/6264500/logcat.Xiaomi.txt)

[2021-04-06 12:19] AndiAJ opened #18815 "[Bug] Firefox Browser logo and PB icon not displayed on the home screen"
## Prerequisites
Have a fresh install or a clean profile.

## Steps to reproduce
1. Launch Fenix
2. Tap the "Start Browsing" button
3. Check the home screen

### Expected behavior
The "Firefox Browser" logo and PB icon should be displayed  on the home screen.
![image](https://user-images.githubusercontent.com/51314259/113709473-2f4d2d00-96eb-11eb-85c9-7bb314adb2b6.png)

### Actual behavior
It only

[2021-04-06 12:24] codrut-topliceanu opened #18816 "Disable TabsTray FAB on accessibility enabled"
_For TabsTray re-write._
Re-implement current behavior of hiding the floating action button when accessibility mode is enabled. And move its functionality to `@+id/tab_tray_new_tab` button.

[2021-04-06 12:25] lobontiumira commented on #17797
Verified on the debug build with AC: 75.0.20210405143037, a69f74ece, and GV 89.0a1-20210405094633 on Google Pixel (Android 10), Samsung Galaxy Note 8 (Android 9), and HTC 10 (Android 8).
Tapping on the "Add" option from the page's three-dot menu, adds the page to Bookmarks.
Tapping on the "Edit" option redirects the user to the editing page of the bookmark.

However, the mockup shows more spacing

[2021-04-06 12:26] Mugurell commented on #18814
Thank you Mira!
I can reproduce this on a Samsung S10 with Android 10.

[2021-04-06 12:53] lobontiumira commented on #17800
Verified on the debug build with AC: 75.0.20210405143037, a69f74ece, and GV 89.0a1-20210405094633 on Google Pixel (Android 10), Samsung Galaxy Note 8 (Android 9), and HTC 10 (Android 8):

* when the user toggles the request desktop site from the three-dot main menu, the next page opened is as a desktop site,
* if the user loads a URL or performs a search from the address bar in that previous opene

[2021-04-06 12:54] SoftVision-LorandJanos commented on #18798
Hi @anotherus3r ! Thank you for your report! This issue is reproducible. Tested on Nightly (210406 05:01 - GV89).
Device used: HTC Nexus 9 with Android 7.1.1.

[2021-04-06 13:15] SoftVision-LorandJanos commented on #18034
This issue is no longer reproducible. Verified on latest Nightly (210406 05:01 - GV89).
Device used: HTC Nexus 9 with Android 7.1.1.

[2021-04-06 13:15] ebalazs-sv commented on #18792
I can reproduce this issue on Nightly 4/6, Beta 88.0.0-beta.2 and RC 87.0.0-rc.1 with Pixel 2 (Android 9).
![20210406_161232](https://user-images.githubusercontent.com/48799384/113716480-50198080-96f3-11eb-88a7-a283dfce3207.gif)

[2021-04-06 13:23] sv-ohorvath commented on #17485
Flaky on Debu 4/5: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7147159550995161905/executions/bs.56ea6466c45956d8/testcases/2/test-cases

[2021-04-06 13:39] kaldown commented on #17576
Re-installed my FF, now it works.
But I don't think it's fair, since there was no "purge" button.

[2021-04-06 13:53] abodea commented on #18812
Thank you for this report, closing as dupe of #8252.
For more details please check the mentioned bug.

[2021-04-06 13:53] #18812 closed

[2021-04-06 14:04] abodea commented on #18802
Thank you for this report, I was also able to reproduce this issue on 87.0.0-rc.1 and the latest Nightly 4/6/21 with Google Pixel 4 XL (11).

[2021-04-06 14:12] abodea commented on #12885
I'm also still reproducing it on the latest Nightly 4/6 with Samsung Galaxy S7 (Android 7).

[2021-04-06 14:20] mcarare commented on #18815
This is a regression introduced with https://github.com/mozilla-mobile/fenix/commit/3260cbd986c4fd7deb56c68058d7e604e1e138f0. As the `homeAppBar` is collapsed when the button is clicked, the fact that the screen cannot be scrolled makes it impossible to scroll and make it visible again. The easiest fix, while keeping the changes introduced in https://github.com/mozilla-mobile/fenix/commit/3260cbd9

[2021-04-06 14:26] sflorean commented on #18034
Issue is still reproducible for the following case:
1. Open reddit.com.
2. Wait for the page to load and scroll up, in order to hide the toolbar.
3. Check the Reddit banner.

Expected: no visual issues are displayed.
Actual: the placeholder for toolbar is displayed, when the banner is ON.

Not reproducible when the page is loading, and the toolbar is fixed.

[2021-04-06 14:26] #18513 closed

[2021-04-06 14:41] SoftVision-LorandJanos commented on #16580
Hi @lilydjwg ! I can reproduce this issue using the build you logged it with (Nightly 201109 17:01 - Build #2015774667), the moving upwards on the map is compromised but manageable, however on the latest Nightly build (210406 05:01 - GV89) this issue is not reproducible anymore.
Device used: HTC Nexus 9 with Android 7.1.1

[2021-04-06 14:42] eliserichards commented on #8984
We would like to use #52525E for `inset_dark_theme` (confirmed with @topotropic).

Are you an Outreachy applicant @ZianeA? If so, please feel free to pick this up 👍

[2021-04-06 14:48] sflorean commented on #17275
Closing this as dupe of #16580! @andreicristianpetcu your scenario will be tested when the issue is fixed, but please check the latest Nightly because some related patches were landed.

[2021-04-06 14:48] #17275 closed

[2021-04-06 15:00] lilydjwg commented on #16580
Great, most maps work as expected now! But this one doesn't: https://leafletjs.com/examples/quick-start/example.html (I have a page using leaflet like this and it has the problem too).

Also this site: https://aqicn.org/ You need to zoom the map by clicking the zoom icon, then zoom again to make it largest (when it doesn't say "use two fingers to move the map").

My nightly is 210405 this time.

[2021-04-06 15:21] eliserichards commented on #8984
No worries! Your input was extremely helpful! Sorry about that 😅

[2021-04-06 15:23] eliserichards commented on #18780
Thanks for filing this @priyanka0906! We will have our designers take a look before we start working on this 😄

[2021-04-06 15:27] gabrielluong opened #18819 "Hide the Credit Card preference by default"
Just noticed that "Credit cards" flashing briefly when navigating to Settings in Nightly. Looks like it's visible by default but being deactivated async. We should set the preference visibility to false by default.

[2021-04-06 15:40] neha-b2001 commented on #8984
@eliserichards Could I please work on this issue (I'm an Outreachy applicant)?

[2021-04-06 16:07] mcarare opened #18822 "DefaultToolbarMenuTest test failures: java.lang.ClassCastException:"
`test-debug` failed from unrelated intermittent test failures:

- `DefaultToolbarMenuTest. WHEN the bottom toolbar is set THEN the first item in the list is not the navigation`
- `DefaultToolbarMenuTest. WHEN the bottom toolbar is set THEN the nav menu should be the last item`
- `DefaultToolbarMenuTest. WHEN the top toolbar is set THEN settings should be the last item`
- `DefaultToolbarMenuTest. W

[2021-04-06 16:11] eliserichards opened #18823 "[Crash] NPE in QR feature"
[Crash stats report](https://crash-stats.mozilla.org/signature/?product=Fenix&signature=java.lang.NullPointerException%3A%20at%20org.mozilla.geckoview.GeckoSession%24Window.passExternalWebResponse%28GeckoSession.java%29&version=87.0.0&date=%3C2021-04-06T16%3A02%3A26%2B00%3A00&date=%3E%3D2021-03-30T16%3A02%3A26%2B00%3A00#summary)

[code]

[2021-04-06 16:17] #18823 closed

[2021-04-06 16:17] eliserichards opened #18824 "[Crash] NPE in QR feature"
Crash report: https://crash-stats.mozilla.org/report/index/4957bd20-b828-423e-a431-80e050210406

Java stack trace:
[code]

[2021-04-06 16:23] rocketsroger commented on #18068
@Mugurell Thanks for spending time on this.  I've confirmed both your observation is correct.  I'll add changes so the missing events are tracked correctly.

[2021-04-06 16:23] amedyne commented on #17800
@lobontiumira To clarify for this bullet:

- if the user taps on links in that previous opened page that leads to a different page, desktop site DOES NOT keep its state,

does the new opened page open in a new tab?

[2021-04-06 16:33] LaurentiuApahideanSV commented on #13966
The issue still occurs on the latest Firefox Preview Nightly 210406.

### Devices used:
- Huawei P Smart (Android 9)

[2021-04-06 16:47] reyis4402 opened #18826 "[Bug] https only mode"
dom.security.https_only_mode Set to true. Exit the browser. The option changes again automatically to FALSE when you again look at the option again.

Version: Firefox Nightly

[2021-04-06 17:43] violasong commented on #17797
Thanks for the screenshots!

Yes, there should be a 7px spacing between the star and the "Add/Edit" text - it does look like this is short some pixels. (FYI for the future, if you're signed into Figma you can use the Inspect mode to look at pixel measurements between elements)

The star icon should also be smaller - 19px instead of the standard 24px.

For dark mode, the purple text should be the m

[2021-04-06 17:43] #18819 closed

[2021-04-06 17:44] kbrosnan commented on #17946
This is tracked by the Gekco platform bug. It will be enabled in Fenix when that lands.

[2021-04-06 17:44] #17946 closed

[2021-04-06 17:45] kbrosnan commented on #18826
Duplicate https://github.com/mozilla-mobile/fenix/issues/16952

[2021-04-06 17:45] #18826 closed

[2021-04-06 17:45] kbrosnan commented on #18824
Duplicate https://github.com/mozilla-mobile/fenix/issues/18439

[2021-04-06 17:45] #18824 closed

[2021-04-06 18:50] #17361 closed

[2021-04-06 19:16] eliserichards commented on #18806
This will correspond to sync tabs moving into the tabs tray, and doesn't have to be done by MR1.

[2021-04-06 19:30] anotherus3r commented on #18788
Weird, I can't reproduce it anymore, too. I might be missing something in the steps to reproduce, or I assumed the wrong cause of this. I'm gonna close this for now and if I manage to reproduce it with the same or slightly altered steps, I'll update this issue.

[2021-04-06 19:30] #18788 closed

[2021-04-06 19:46] #15597 closed

[2021-04-06 19:46] #9029 closed

[2021-04-06 19:46] #15585 closed

[2021-04-06 19:46] #15580 closed

[2021-04-06 19:47] eliserichards commented on #17361
https://github.com/mozilla-mobile/fenix/pull/17406

[2021-04-06 19:47] opusforlife2 commented on #15705
Further activity has occurred.

[2021-04-06 19:48] #17798 closed

[2021-04-06 19:49] #17772 closed

[2021-04-06 19:50] eliserichards commented on #17797
I will open up a followup issue to tackle those. Thanks @violasong! 👍

[2021-04-06 19:52] eliserichards opened #18829 "Adjust Add/Edit bookmark item to fit design spec"
Follow-up to #17797

Based on Victoria's review [here](https://github.com/mozilla-mobile/fenix/issues/17797#issuecomment-814308481)

[2021-04-06 19:55] eliserichards commented on #17797
Followup filed: #18829

[2021-04-06 19:55] #17797 closed

[2021-04-06 20:01] gabrielluong commented on #18269
Should be fixed in #18268

[2021-04-06 20:07] opusforlife2 commented on #18805
@Mugurell

No. This is not a website issue, for sure. When I say Fenix/Firefox loses internet, this includes addons as well, and even trying DNS Lookup (about:networking) on multiple domains gives "NET_ERROR_UNKNOWN_HOST". (I think that's the error. I will confirm it when I next encounter the issue.)

Nope. This has always been a Firefox/Fenix issue ever since I can remember. However, I do suspect

[2021-04-06 20:57] gabrielluong opened #18830 "Remove Card Nickname from Credit Card Editor"
Turns out Card Nickname is not in scope. So, we should remove it from the credit card editor.

[2021-04-06 21:01] jan-ivar commented on #18789
Hi @ihesham, we're now tracking this in [bug 1703117](https://bugzil.la/1703117), but I don't know how to contact you there — do you have a bugzilla account? — so I'm reaching out here.

it sounds from your description that this used to work before 87. Would you mind confirming this with an older version of Firefox, or better yet, by running the [mozregression](https://mozilla.github.io/mozregress

[2021-04-06 21:55] hakkikaancaliskan commented on #17714
@rocketsroger does this problem solved on metrics, if so we can close the issue :)

[2021-04-07 00:50] mcomella opened #18836 "Implement start up type telemetry"
To choose the area of start up perf to focus on, we need to leverage frequency vs. impact, i.e. these variables:
1. (frequency) What are the most common types of start up?
  1. Does this change for the users with the slowest start ups? (as we assume they are the most likely to change stop using FF)
1. (impact) Which types of start up are the least performant and by how much? (e.g. if it's real bad

[2021-04-07 00:54] chrishernan commented on #8108
Hello. Could I work on this issue please?

[2021-04-07 01:07] #15088 closed

[2021-04-07 01:09] jonalmeida opened #18837 "Show Sync re-auth required badge on 'Settings' button"
There is one more state of the 'Sign in to sync' menu that we may have overlooked (which I do not see in the designs linked). If an account needs to be re-authenticated we propagate the error to the 'Settings' menu item.

With the 'Sign in' button now in the main menu, the re-authenticated warning previously shown from 'Settings' will be shown on 'Sign in to sync'? This could also be done as a fol

[2021-04-07 01:11] jonalmeida commented on #18837
Victoria mentioned [here](https://github.com/mozilla-mobile/fenix/issues/17798#issuecomment-812712088) that this can be done in a follow-up.

[2021-04-07 01:53] chrishernan commented on #16007
Hello.  If no one has picked this up, could I work on it please?
It should be a text change to the toast only correct?

[2021-04-07 01:58] chrishernan commented on #15410
Hi. Is this issue still available to work on?

[2021-04-07 03:43] chrishernan commented on #18830
Hi, can I work on this issue? also, is this removing all views with credit card nickname references from the fragment_credit_card_editor.xml, as well as all strings that reference credit card nickname?

[2021-04-07 04:00] chrishernan commented on #18507
Hello. Could I work on this issue if possible?

[2021-04-07 04:25] gabrielluong commented on #18507
Sure, I would suggest pulling in https://github.com/mozilla-mobile/fenix/pull/18808 in order to be fully complete. You need to enable the "Credit Card" feature by going into "About Firefox" in the Settings and tapping the logo 3 times to see the Secret Settings where we add toggles for our feature flags.

[2021-04-07 04:30] gabrielluong commented on #18830
Yes, that's right. I think we also want to maintain 16dp top margin between the buttons and the last field. I am bit on the fence about whether or not to remove the string right now in case we decide to add credit card nickname in the future or just to decide to add it back into scope.

[2021-04-07 06:19] lobontiumira commented on #17800
@amedyne the new opened page opens in the same tab.

I.e. wikipedia.org, bbc.com respects the desktop site, going in the same tab from link to link, opens all the links as desktop sites (in the same tab).
But, opening getpocket.com as desktop site, tapping on any other link from that page, loads the new page not as a desktop site.

[2021-04-07 06:39] lobontiumira commented on #18770
Verified as fixed on the 4/7 Nightly build with Samsung Galaxy Note 8 (Android 9), and HTC 10 (Android 8).

<img src="https://user-images.githubusercontent.com/40694158/113821651-0e391a80-9785-11eb-883a-8b2faafee0c8.jpg" width="300" height="550" />

[2021-04-07 06:39] #18770 closed

[2021-04-07 07:16] mcarare commented on #17800
@lobontiumira When you click on stories from getpocket.com they open in new tabs, not in the same one. So IMO it is expected they are to be loaded in a mobile mode tab.
At the same time, all links that continue navigation in the same site, such as "help", topics from "discover more topics", are navigated to from the same tab and keep the desktop mode.

[2021-04-07 07:28] ebalazs-sv commented on #15631
This issue is reproducible on Beta 88.0.0-beta.4 with Pixel 2 (Android 9).

[2021-04-07 07:50] lobontiumira commented on #18617
Verified as fixed on the 4/7 Nightly build from 4/7 with HTC 10 (Android 8), and Samsung Galaxy Note 8 (Android 9).
Downloading multiple files displays the "Download complete" dialogue. No issues encountered.

[2021-04-07 07:50] #18617 closed

[2021-04-07 08:21] lobontiumira commented on #8545
Verified as fixed on the 4/7 Nightly build with Samsung Galaxy Note 8 (Android 9), and HTC 10 (Android 8).

[2021-04-07 08:22] sflorean commented on #18036
@gabrielluong any updates here? Thank you!

[2021-04-07 08:25] lobontiumira commented on #18560
@LittleAngelwings could you help us with a short video, and also the exact builds on which you reproduce this issue?
Thank you!

[2021-04-07 08:30] LaurentiuApahideanSV commented on #18678
I can confirm the issue is reproducible on Firefox Nightly 210407.

### Device used:
- OnePlus 6T (Android 9)

[2021-04-07 09:31] BUFU1610 commented on #4205
Have you done that? Is it an open bug tracking thing or something you can link to?

[2021-04-07 09:37] abodea commented on #17944
Thank you for this report!
Here you have some information regarding [cookies purging.](https://github.com/mozilla-mobile/fenix/issues/13812#issuecomment-700503934)

[2021-04-07 09:37] mcarare commented on #18829
@violasong The color for the text and star icon at the end of the item is #592ACB in Figma, which corresponds to **accent_bright_light_theme**. That is why for the dark theme the corresponding **accent_bright_dark_theme** is the same #592ACB that is seen in the screenshots.

The color you mentioned Violet 40 - #ad3bff is not used anywhere in the app, neither is #9933FF (Web safe color of #ad3bff).

[2021-04-07 09:44] abodea commented on #4205
Hello BUFU, thank you for the message!
Please note that after I opened the ticket I shared it with Vesta and there were some emails discussing this problem.
But I'm not really sure what happened with the ticket.

@vesta0 should I try to open a new ticket regarding this to Lastpass?

[2021-04-07 10:01] LaurentiuApahideanSV commented on #18401
I can confirm the issue is reproducible on Firefox Nightly 210407.

### Device used:
- OnePlus 6T (Android 9)

[2021-04-07 10:20] bogas04 commented on #17338
Hi @kbrosnan, it's really nice of you to help me out here!

In my testing it works fine only on Firefox Lite (I tried Firefox Stable, Beta, Nightly and Focus), which I means the issue is definitely with GeckoView and not Android-Components or such. Firefox Lite, IIRC uses Chromium.

I also observed that it works fine on a different phone (Moto G 5G), so it could be a problem only on specific devic

[2021-04-07 11:05] #18152 closed

[2021-04-07 11:55] lobontiumira commented on #17987
Hi @BrokenShoeLace!
I was able to reproduce partially your issue with Samsung Galaxy Note 8 (Android 9).
I followed these steps:
- open Firefox,
- go to bing.com, it redirected me to https://www.bing.com/?toWww=1&redig=B89CDCD5640A4C4FB61328BFA8220DAC
- I searched for "Bezos", and selected one of the articles,
- tapped the back arrow from menu, I was redirected to the previous page, BUT tapping ba

[2021-04-07 11:58] lobontiumira commented on #18665
Hi @clientenq!
I was not able to reproduce this issue. I opened several pages with valid domains, none of it opened a search.
I've tested on the 4/7 Firefox Nightly with Samsung Galaxy Note 8 (Android 9).
Could you, please, provide us more details?

[2021-04-07 12:13] priyanka0906 commented on #7924
![Screenshot (54)](https://user-images.githubusercontent.com/56197993/113863667-904a3300-97c7-11eb-829d-cfd7b2f220ed.png)
@gabrielluong @eliserichards  please confirm line no. 107 is correctly written or not .I guess it should be onRemoveTopSiteClicked. correct me if I am missing something
In all functions order  of functions in the comment is somewhat confusing.

[2021-04-07 12:17] lobontiumira commented on #18695
Closing this as a duplicate of #17634.
Thank you for your report!

[2021-04-07 12:17] #18695 closed

[2021-04-07 13:05] LaurentiuApahideanSV commented on #18254
I can confirm the issue is reproducible on Firefox Nightly 210407.

### Devices used:
- OnePlus 6T (Android 9)
- Google Pixel 3XL (Android 9)

[2021-04-07 13:12] mortezadadgar commented on #10493
it's better to be in top priority as some old devices doesn't have strong android subsystem sandboxing

[2021-04-07 13:22] abodea commented on #18135
Thank you for this report @automatedbugreportingfacility!
Can you still reproduce this issue?
Please check the following [blog ](https://blog.mozilla.org/addons/2020/09/29/expanded-extension-support-in-firefox-for-android-nightly/)if you didn't already.

Hello @caitmuenster can you please review this issue as mentioned in the description I saw that https://github.com/mozilla-mobile/fenix/issues/14

[2021-04-07 13:30] Amejia481 commented on #16007
👋🏽 hi @chrishernan please feel to take it. You have to detect if it's a FTP download request  and adapt the text correspondingly.

[2021-04-07 13:48] sv-ohorvath commented on #17195
Flaky on Master 4/6: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7701145407572758217/executions/bs.43a0441eaca48627/testcases/2/test-cases

[2021-04-07 13:56] sheikh-azharuddin opened #18841 "[Bug] youtube notification not getting the site icon and color"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-07 14:14] SoftVision-LorandJanos commented on #18726
This issue is no longer reproducible on the following builds: latest Nightly (Build 210407 05:01), Nightly (Build 210331 17:00) - the build from the day the issue was logged on, and the Firefox Daylight v87.0.0-rc.1 (Build #2015799099) using a HTC Nexus 9 with Android 7.1.1

[2021-04-07 14:25] gabrielluong commented on #7924
Yes, you're looking for onRemoveTopSiteClicked

[2021-04-07 14:26] automatedbugreportingfacility commented on #18135
@abodea: yes, definitely still a problem. I am aware of the blog post you have linked to -- it says:

However, extensions that are NOT listed on addons.mozilla.org cannot be installed. For this reason, I had to upload my private extension to AMO. Also, a reviewer had to be involved in the process, which was completely unnecessary and wasted their time.

Please note that I am not asking for the abi

[2021-04-07 14:36] priyanka0906 commented on #7924
@gabrielluong in the function it is written  onRemovedCollectionTapped

[2021-04-07 14:37] eliserichards commented on #17800
Closing as done :)

[2021-04-07 15:01] amedyne commented on #18375
Tagging @topotropic , too.

[2021-04-07 15:03] abodea commented on #18841
Thank you for this report!
I was able to reproduce this issue but I will close it as a duplicate of https://github.com/mozilla-mobile/fenix/issues/16958.

[2021-04-07 15:03] #18841 closed

[2021-04-07 15:14] sheikh-azharuddin commented on #18841
But the previous case is related to media icon especially speaker icon missing and the case was raised as generic request for all media notification...here my case is different
It's regarding issue on youtube site..

[2021-04-07 15:14] #18774 closed

[2021-04-07 15:17] gabrielluong commented on #7924
I don't know if I follow, I didn't see a onRemovedCollectionTapped

[2021-04-07 15:19] priyanka0906 commented on #7924
In the comment of function  fun handleRemoveTopSiteClicked(topSite: TopSite)

    /**
     * @see [CollectionInteractor.onRenameCollectionTapped]
     */

[2021-04-07 15:56] abodea commented on #18841
It also refer to the YT videos if you check the following https://github.com/mozilla-mobile/fenix/issues/16958#issuecomment-775943108.

[2021-04-07 16:17] sheikh-azharuddin commented on #18841
Nah....it still speaks about media icon..

[2021-04-07 17:20] jonalmeida commented on #18522
This requires a bit of investigation. There are of these tips and popups that show up in the tabs tray which are spread across the place and we probably need to re-add those.

I don't know how many there are so it might be useful to document that in this ticket.

The one that I'm aware of is [this banner](https://github.com/mozilla-mobile/fenix/blob/master/app/src/main/java/org/mozilla/fenix/tabtr

[2021-04-07 17:25] jonalmeida opened #18845 "Add swipe to delete on browser tray lists"
We need to observe when we're in multi-select mode so that we can remove the `TabTouchCallback` when it's enabled.

[2021-04-07 17:45] kbrosnan commented on #3708
This should be fixed by Gecko with bz-1561927. The fix will be in Fenix when the Geckoview version is 89.0a1-20210408... or larger.

[2021-04-07 17:45] #3708 closed

[2021-04-07 18:00] caitmuenster commented on #18135
Hi @automatedbugreportingfacility, I'm sorry that this has been frustrating. We don't currently have plans to support unlisted extensions on Firefox for Android, but it's something that may be considered in the future.

[2021-04-07 18:50] rocketsroger commented on #17714
From crash reporting it looks like the crash rate has lowered but not eliminated.  I'll investigate to see if we can lower the crash rate more.

[2021-04-07 19:40] #8947 closed

[2021-04-07 19:54] opusforlife2 commented on #18805
Tried it; didn't work, as expected.

It's NS_ERROR_UNKNOWN_HOST.

[2021-04-07 20:13] tdsmith opened #18851 "[Telemetry] Send an event when users click on the "set as default browser" entry in the toolbar menu"
## Description & Product Manager / Data Scientist User Story

In order to understand whether we can improve the effectiveness of each messaging surface we’re testing in the set-default experiment (mozilla-mobile/fenix#18796), we should understand how many people interact directly with our message.

As a data scientist, I want to know, using a Glean event, if a user interacted with the "set as defa

[2021-04-07 20:15] tdsmith opened #18852 "[Telemetry] Send an event when users click on the "set as default browser" card in the settings page"
## Description & Product Manager / Data Scientist User Story

In order to understand whether we can improve the effectiveness of each messaging surface we’re testing in the set-default experiment (mozilla-mobile/fenix#18796), we should understand how many people interact directly with our message.

As a data scientist, I want to know, using a Glean event, if a user interacted with the "set as defa

[2021-04-07 20:17] tdsmith opened #18853 "[Telemetry] Send an event when users interact with the "set as default browser" card on the new tab"
## Description & Product Manager / Data Scientist User Story

In order to understand whether we can improve the effectiveness of each messaging surface we’re testing in the set-default experiment (mozilla-mobile/fenix#18796), we should understand how many people interact directly with our message.

As a data scientist, I want to know, using a Glean event, if a user interacted with the "set as defa

[2021-04-07 20:24] tdsmith opened #18854 "[Telemetry] Send an event when users view the new tab screen"
## Description & Product Manager / Data Scientist User Story

In order to understand whether we can improve the effectiveness of each messaging surface we’re testing in the set-default experiment (mozilla-mobile/fenix#18796), we should understand how many people see our messages at all. This relates to the branch described in #18375.

As a data scientist, I want to know how often users view the ne

[2021-04-07 20:26] tdsmith opened #18855 "[Telemetry] Send an event when users open the toolbar menu"
## Description & Product Manager / Data Scientist User Story

In order to understand whether we can improve the effectiveness of each messaging surface we’re testing in the set-default experiment (mozilla-mobile/fenix#18796), we should understand how many people see our messages at all. This relates to the branch described in #18608.

As a data scientist, I want to know how often users view the to

[2021-04-07 20:27] tdsmith opened #18856 "[Telemetry] Send an event when users open the settings menu"
## Description & Product Manager / Data Scientist User Story

In order to understand whether we can improve the effectiveness of each messaging surface we’re testing in the set-default experiment (mozilla-mobile/fenix#18796), we should understand how many people see our messages at all. This relates to the branch described in #18376.

As a data scientist, I want to know how often users view the se

[2021-04-07 20:32] rocketsroger commented on #18068
Waiting for https://github.com/mozilla-mobile/android-components/pull/10031 to merge.

[2021-04-07 20:38] tdsmith opened #18857 "[Telemetry] Send a Glean event when users change their default browser"
## Description & Product Manager / Data Scientist User Story

In #12103/#13003 we started sending Leanplum events marking when users changed their default browser. For the purposes of the set-default experiment (#18796) and future experimentation, it would be convenient to emit these as Glean events as well so that we can observe changes to the default browser in the same ping as interactions with

[2021-04-07 20:40] #7615 closed

[2021-04-07 20:45] eliserichards commented on #18851
@Amejia481 I added some more context to the description. We want to know if a user starts the set to default flow and doesn't follow through (the user clicked set default but then didn't actually set the default when they are prompted by the system dialog)

[2021-04-07 20:45] B0pol commented on #10479
Still an issue when scroll to hide toolbar is enabled

[2021-04-07 20:50] topotropic commented on #18797
Yes, that was an intentional change – we need to update the documentation.

We're working on improving collections and I'll make a note of the "Select all" request! Thanks!

[2021-04-07 20:51] ItsDevyani commented on #18375
Is this influencing the experiment?

_We are comparing three tactics against each other, this is one of those 3 tactics, so showing a banner on the new tab to a new user on their 3rd app open after installing the app is a factor that influences the experiment._

Another question: if we keep the timing, should the message be shown on the home screen only on the third session, or in each one from th

[2021-04-07 21:09] topotropic commented on #18780
Thanks! The plus icon should be #fff so the contrast is 4.15:1 which passes AA 3:1 for large text.

@priyanka0906  Could you verify that the plus is #fff? Thank you!

[2021-04-07 21:19] topotropic commented on #18727
Thanks! The new tab opened for me in the tiny PIP window... not useful. I agree with @Mugurell's proposal: exit PIP and open new tab in fully shown application.

[2021-04-07 21:21] cadeyrn opened #18860 "[Bug] tabs tray refactor: Firefox does not respond after closing the tabs tray"
### Steps to reproduce

0. enable the tabs tray refactor
1. open the tabs tray
2. swipe down to close the tabs tray

### Expected behavior

You can interact with the current tab.

### Actual behavior

Only the Android bottom bar is active, the whole browser interface is darkened and Firefox no longer responds to any interaction. You have to either press the Android back button or to remove Firefox

[2021-04-07 21:28] mcomella opened #18861 "Long DNS resolution times (on start up only?)"
We sometimes see DNS resolution times that are 500+ ms. They usually take 10s of ms so it would be a huge win to address this. See the following bugs for more details:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1702025
- https://bugzilla.mozilla.org/show_bug.cgi?id=1664492
- https://bugzilla.mozilla.org/show_bug.cgi?id=1583298

The root cause appears to be that the system resolver takes a long

[2021-04-07 21:29] mcomella commented on #18861
Triage: in Q2 we'll determine the priority of DNS resolution. In the waiting column until then.

[2021-04-07 21:32] topotropic commented on #18768
Thanks!

- For the tiny URL we can use `secondary_text_dark_theme (#AFAFBB)`
- For "Recently used" and app names `secondary_text_light_and_dark_theme (#52525E)`

[2021-04-07 21:39] #18743 closed

[2021-04-07 21:43] topotropic commented on #18672
When people have more than 8 top sites the layout should stay consistent – so all pages have the height of the biggest one.
Thanks!

[2021-04-07 21:49] topotropic commented on #18452
The current implementation is expected – when people are logged in we show them "desktop bookmarks" and their mobile bookmarks below. Does that answer your question?

[2021-04-07 21:55] topotropic commented on #17901
Just tested it and for me it passed the test.

I'd be hesitate to make the icons bigger but if we can increase the touch target w/o updating the designs, that would be great! Thanks!

[2021-04-07 22:24] jonalmeida opened #18862 "Add mutli-select top banner to the tabs tray refactor"
I didn't add this part to the refactor since it was already a rather large chunk of code to review.

This part will add the dark blue banner up top when we enter multi-select mode and remove it after.

[2021-04-07 22:45] #18515 closed

[2021-04-07 23:03] jonalmeida commented on #18806
@eliserichards Sync Tabs is moving to the tray as part of MR1.  🙂

[2021-04-07 23:50] mozkeeler commented on #18741
To be able to tell, I'll need the "SSL" threads, not DNS threads - thanks!

[2021-04-08 00:15] violasong commented on #18806
Awesome! Then, just to clarify, this is what I think the states should be:

- If not signed in: "Sign in to sync," go to page titled "Turn on Sync" (or )
- If signed in: "Signed in as username" + go to account settings

[2021-04-08 00:19] violasong commented on #18829
Ah, surprising that that color isn't in the app since it was in our figma library. In dark mode, there's a very similar light purple that colors the URL that's shown under "Fill link for clipboard" - we can use that instead. I'd use this same light purple for private mode as well.

[2021-04-08 00:35] nyanpasu64 commented on #15865
I recall that "select all tabs" used to be possible, either when selecting tabs in the tab list, or when selecting tabs after beginning to create a collection. But the feature was removed at one point, probably before this bug was filed. I don't know how to bisect old Fenix versions, and I don't know if it will be reinstated or not.

[2021-04-08 01:55] KrasnayaPloshchad commented on #16007
There are some Android app designed to create a FTP server to share files from device.
https://search.f-droid.org/?q=FTP

[2021-04-08 03:02] TheGreySquare opened #18864 "Bookmark Import from/Export to file support"
Please, consider adding support for bookmark importing from/exporting to file directly from Firefox on Android, without requiring to install Firefox on PC first.
It would make migrating from other browsers to Firefox much easier.
As for file compatibility – Chromium browsers/ their PC versions should probably have the same structure of the exported bookmarks file, so I don't think there would be a

[2021-04-08 03:50] Username1-a opened #18865 "Website exception only from cookie block, not from ETP overall"
Since some often used websites could benefit from exception from cookie block (staying logged in to some websites; remembering user preferences; some outright refusing to work properly with third-party cookie block enabled), but at the same time user could benefit from enabled Enhanced Tracking Protection on them – would be great to have an option to allow cookie storing for current website withou

[2021-04-08 03:54] neha-b2001 commented on #18768
@topotropic Okay 👍
I'll do the changes and make a PR.

[2021-04-08 04:56] jonalmeida opened #18867 "[Bug] Three-dot menu refresh leaves lots of empty space"
## For QA
See UX comments on this issue, we are removing the "Signed in as" string from the sync sign in item.

---

## Steps to reproduce
- Use a nightly build with the three-dot menu refresh (after 08/04/21).
- Sign in to Sync with a long username.
- Open the menu.

### Expected behaviour
- A more compact menu that allows for more web content to be seen.

### Actual behaviour
- There is a lot of

[2021-04-08 04:57] jonalmeida commented on #18867
I've added this to the project board, but I'm not sure what's the preferred way to surface bug reports for this feature to be triaged.

cc: @eliserichards for now.

[2021-04-08 05:37] priyanka0906 commented on #18780
@topotropic yes plus is #fff

[2021-04-08 06:28] sanyud24 commented on #18710
may you review this PR @eliserichards

[2021-04-08 06:28] chrishernan commented on #18830
Gotcha. I don't think leaving the strings hurts anything so I will leave them alone and get rid of the nickname views.

[2021-04-08 07:30] chrishernan commented on #18507
Will do. Thanks for the tip. I spent an hour trying to figure out where the credit card section was haha.

[2021-04-08 07:37] lobontiumira commented on #18072
I was able to reproduce the issue on yr.no weather website on Beta 88.0.0-beta.5, 4/7 Nightly build, and RC 87.0.0 with Samsung Galaxy Note 8 (Android 9).
The website loads and the toolbar is dynamic, but when selecting a specific day from a location, the toolbar is not dynamic anymore.

https://user-images.githubusercontent.com/40694158/113986652-26c53580-9856-11eb-94a6-3fe5431d7579.mp4

[2021-04-08 08:54] Mugurell commented on #18672
@kanish671 I think we now have all the needed details about how the feature should function.
Do you plan to work on this? Need any help?

[2021-04-08 09:01] Mugurell commented on #18805
Thank you @opusforlife2 for all details!
Since this happens on Firefox desktop also it might be a core issue.
Moving the ticket to Bugzilla.
Probably more details will be needed. Please follow  the discussion there.

[2021-04-08 09:02] Mugurell commented on #18805
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1703768

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-04-08 09:02] #18805 closed

[2021-04-08 10:19] gaul commented on #3708
I can confirm that this is fixed in Nightly 210407 17:03 (Build #2015803275).  Thanks @makotokato!

[2021-04-08 10:34] mcarare commented on #18375
Another question: Is this supposed to be shown in private browsing too?

[2021-04-08 10:41] ryg-git commented on #18798
If it's ok I would like to work on this issue

[2021-04-08 10:42] sharbet opened #18871 "[Bug] `about:config` resets itself upon close after 4/6 nightly update"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-08 10:52] sflorean commented on #18864
Thank you for report! Issue #417 is already filed for this request. Please follow the discussion there, I will close this as duplicate.

[2021-04-08 10:52] #18864 closed

[2021-04-08 11:52] mohibo commented on #3972
any update actually?

[2021-04-08 12:51] Alexey71 commented on #18871
Parameters are reset every time the application is close from running app

[2021-04-08 13:31] AndiAJ commented on #13281
•  Flaxy 1x  Debug 4/8: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8166307696499143222/executions/bs.7d2de71abbbfd6c4/testcases/1/test-cases)

[2021-04-08 13:32] AndiAJ commented on #17195
•  Flaxy 1x  Debug 4/8: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8166307696499143222/executions/bs.e657696ef709f050/testcases/2/test-cases)

[2021-04-08 14:11] sharbet commented on #18871
Before 4/6 update, about:config parameters were saved even when app is closed from running app.

[2021-04-08 14:56] amedyne commented on #18375
Per @ItsDevyani , no notification in private browsing.

[2021-04-08 14:58] Amejia481 commented on #18865
You can customize your cookies preferences by Taping on the shield icon -> Protection  **Settings** -> **Custom** -> **Cookies**.  This is global setting and It will affect all websites, I think you were looking for something per site, but this will be a workaround.

[2021-04-08 15:08] topotropic commented on #18780
ok, that's great! Thanks, I'll close it then.

[2021-04-08 15:08] #18780 closed

[2021-04-08 15:25] sv-ohorvath opened #18873 "[Bug] Make id/mozac_browser_menu_recyclerView layout element scrollable for UI test automation"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-08 15:52] Mugurell commented on #18873
The menu is initially collapsed and the first swipe up will expand it.
Then it should be scrollable like expected and I see this working in manual tests so a quick fix would be just do do another swipe up to scroll the menu and see the bottom most items.
But I understand that is finicky on an emulator.

I don't know what that `scrollable` property in UIAutomator checks since that is not a Recycler

[2021-04-08 15:54] topotropic commented on #17904
Thanks for the ping! If this is a problem with the button here, it might be a problem in other places as well. Our component in Figma has a height of 36dp – I remember that Sawyer worked on componentizing buttons at some point last year, so it would be great if we could systematically solve this and not just increase the size of the button here to fix this single case.

[2021-04-08 16:01] karan-kamat opened #18875 "New tab/Sync floating bubble stays on even after closing tab tray with the new tabs tray"
Steps to reproduce:
1.Enable "Use new Tabs Tray" in secret settings
2. Open a web page
3. Open tab tray
4. Close tab tray

Expected Result:
Tab tray closes with no remaining UI elements

Actual Result:
The "+" floating button in case of normal tabs , The "+ PRIVATE" button in case of private tabs and "SYNC" button in synced tabs remains despite closing the tab tray

![nightly-tab-tray](https://use

[2021-04-08 16:06] eliserichards commented on #18806
Thanks so much!! :D

[2021-04-08 16:08] karan-kamat opened #18876 "[Bug]New tab/Sync floating bubble stays on even after closing tab tray with the new tabs tray"
## Steps to reproduce

1.Enable "Use new Tabs Tray" in secret settings
2. Open a web page
3. Open tab tray
4. Close tab tray

### Expected behavior
Tab tray closes with no remaining UI elements

### Actual behavior
The "+" floating button in case of normal tabs , The "+ PRIVATE" button in case of private tabs and "SYNC" button in synced tabs remains despite closing the tab tray

### Device informa

[2021-04-08 16:08] #18875 closed

[2021-04-08 16:09] #18268 closed

[2021-04-08 16:10] #18269 closed

[2021-04-08 16:18] eliserichards opened #18877 "[crash] IllegalArgumentException in SaveLoginDialogFragment PromptFeature"
Crash stats: https://crash-stats.mozilla.org/signature/?product=Fenix&version=87.0.0&signature=java.lang.IllegalArgumentException%3A%20at%20mozilla.components.feature.prompts.PromptFeature%24onConfirm%241.invoke%28PromptFeature.kt%3A39%29&date=%3E%3D2021-04-01T16%3A14%3A00.000Z&date=%3C2021-04-08T16%3A14%3A00.000Z&_columns=date&_columns=product&_columns=version&_columns=build_id&_columns=platform&

[2021-04-08 16:21] Mugurell commented on #18873
If someone knows a "quick fix" for this would be great.

[2021-04-08 16:25] karan-kamat opened #18878 "[Bug] Can't access private tabs after enabling New Tab tray"
## Steps to reproduce
1.Enable "Use new Tabs Tray" in secret settings
2.Open a new private tab
3. Open tab tray
4. Open the same private tab

### Expected behavior
Private tab opens
### Actual behavior
Private tab does not open
### Device information

Samsung Galaxy M51
Android 11 with One UI Core 3.1
Firefox Nightly 210408 14:26
Build #2015803443

![nightly-private](https://user-images.githubuser

[2021-04-08 16:53] karan-kamat opened #18879 "[Bug] Attempting to access/Close a private tab causes issues with closing Normal tabs the New Tab tray"
## Steps to reproduce
1. Enable "Use new Tabs Tray" in secret settings
2. Open a new private tab
3. Attempt to access it multiple times
4.  Attempt to close it
5. Go to standard tabs
6. Attempt to close tab there

### Expected behavior
Private tabs get closed
Normal tabs get closed

### Actual behavior

Private tabs do not close
Normal tabs do not close until the tab tray is closed(though the numb

[2021-04-08 17:10] #17083 closed

[2021-04-08 17:12] jonalmeida commented on #18521
💡

Another consideration is that we need to wait for the adapter to finish populating the first time, before we invoke the scroll command.

[2021-04-08 17:22] eliserichards commented on #17026
Closing as duplicate of #15865

[2021-04-08 17:22] #17026 closed

[2021-04-08 17:25] eliserichards commented on #16890
We should have a placeholder here until sync auth completes

[2021-04-08 17:49] kanish671 commented on #18672
Hi @Mugurell
Yes, now we have the details. I would need help in understanding what components would need modification. I would like to try fixing this.

[2021-04-08 17:56] mhoye commented on #17080
While this issue has been queued up for next steps by the team, this is a polite reminder that this is our professional working environment as much as it is an issue tracker, and that Mozilla's community participation guidelines apply. Thank you all.

[2021-04-08 18:15] gabrielluong opened #18881 "[Saved cards] Add button for "Add credit card""
We have an PR for this in https://github.com/mozilla-mobile/fenix/pull/19236 with some feedback on the remaining work https://github.com/mozilla-mobile/fenix/pull/19236#discussion_r634423665. Please consider using this.

------

This issue for adding a "Add credit card" button in the "Saved cards" screen. This should navigate to the credit card editor.

<img width="379" alt="Screen Shot 2021-04-08

[2021-04-08 18:25] eliserichards commented on #15865
<img width="323" src="https://user-images.githubusercontent.com/43795363/114077830-d35ee180-986d-11eb-8f36-f0a5d8ca1e4e.png">

Looks like we have **share** all tabs, but not **select** for all tabs.

[2021-04-08 18:35] TheGreySquare commented on #18865
Thank you, yes I know about this, but as I mentioned custom per-site option would be better in some instances

[2021-04-08 18:36] eliserichards commented on #17870
Confirmed with @amedyne that we can enable this now.

[2021-04-08 19:31] Amejia481 commented on #18865
👍🏽 I added the feature request label for the product team to triage it!

[2021-04-08 20:01] violasong commented on #18837
Yep, moving the badge to "Sign in to sync" can be done as a followup later :)

[2021-04-08 20:16] topotropic opened #18885 "[Bug] Still see FAB after dismissing new tab tray"
Open the tab tray, dismiss it, still see the FAB

![Screenshot (Apr 8, 2021 10 07 47 PM)](https://user-images.githubusercontent.com/353960/114090588-e9918f80-98b7-11eb-9563-4144008f4758.png)

[2021-04-08 20:26] LittleAngelwings commented on #18560
I have mad a screencast. I've tried today the latest nightly from google play. I can't still set a new collection.
https://drive.google.com/file/d/1-0tOaBQCiKvNLTswIcQ6bTzWxsS3sGqF/view?usp=drivesdk

[2021-04-08 20:45] jonalmeida commented on #18885
For this, we need to re-introduce the `BottomSheetBehavior.BottomSheetCallback` and dismiss the tray when the sheet is dragged off the screen.

Not sure why this isn't already handled for us by the default behaviour, but if it doesn't take too much time, let's see if we've overloaded something incorrectly, that made it disappear.

The original implementation is [here](https://github.com/mozilla-mo

[2021-04-08 20:50] Apurwa96 commented on #18709
I tried to reproduce and Accessibility Scanner didn't find any suggestion (Android device: OnePlus7T & OPPO A5 (Android 10)
Fenix version: 4/7 Nightly build).

 In android-components\components\feature\readerview\src\main\res\values\colors.xml
readerview_text_color : #220033, readerview_light_background: #EFEFF2, readerview_selected: #592ACB

color #AB71FF is not present in the code.

[2021-04-09 00:14] MarcLeclair commented on #17759
QA needed: I think the crash should be fix but I Don't have any API 21/ 22 devices to test this on.

[2021-04-09 01:11] What-Zit-Tooya commented on #18871
Im faced this bug also.
Got it also since April 3, 2021 (dunno nightly version exactly), till now not fixed.
Parameter reset to default (false) after exiting firefox. And remove it from running app in background (full closed).

[2021-04-09 01:36] J4gQBqqR commented on #18762
This is not the only issue in Samsung device. Motorola Ready For, Huawei desktop mode, SmartianOS TNT Mode all share the same issue.

[2021-04-09 02:50] #18845 closed

[2021-04-09 05:25] Mugurell commented on #18873
Tried to scroll progrmatically with the following code called when the menu opens

and I see the menu scrolling as expected so I'm still not sure what UiAutomator checks.

[2021-04-09 05:58] lobontiumira commented on #17870
Verified as fixed on the 4/9 Nightly build with Samsung Galaxy Note 8 (Android 9).
The design changes are available and functional.

[2021-04-09 05:58] #17870 closed

[2021-04-09 06:49] Mugurell commented on #18072
@lobontiumira Can you open a new ticket for the issues on `yr.no` since the various issues still remaining may have different causes and each reported case needs specific investigations?

[2021-04-09 06:51] Mugurell commented on #18072
In this case I wasn't able and still ain't so to trigger pull to refresh when not being to the very top of the page.
(Though I see the toolbar sometimes being scrollable, sometimes not)
@lobontiumira Have you seen this?

[2021-04-09 07:08] sharbet commented on #18871
I have found other people with same issue:

https://www.reddit.com/r/Adguard/comments/mm01bh/firefox_mobile_nightly_reset_a_security_setting/

[2021-04-09 07:52] Apurwa96 commented on #18822
Hi @eliserichards, Can I work on this issue?

[2021-04-09 08:02] AndiAJ opened #18892 "Intermittent UI test failure - Test instrumentation process crashed SettingsAboutTest#verifyAboutFirefoxPreview"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8321615644823376072/executions/bs.1221735652509b45/testcases/1/errors)

### Stacktrace:
04-08 12:39:53.913: D/LeakCanary(8256): Watching instance of androidx.coordinatorlayout.widget.CoordinatorLayout (org.mozilla.fenix.home.HomeFragment received Fragment#

[2021-04-09 08:17] AndiAJ commented on #17195
• Flaxy 1x Debug 4/9:  [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5470702276480162412/executions/bs.b2b40dd948dc2569/testcases/2/test-cases)

[2021-04-09 08:22] AndiAJ commented on #18892
Flaky 1x Master 4/9 : [Firebase Link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7782513582276165347/executions/bs.25c013aa81b7c8ce/testcases/1/test-cases)

[2021-04-09 08:32] Rosabis opened #18893 "The new menu style has led to obstacles in using certain functions"
1. Compared to the previous menu style, you will find it cumbersome to use the refresh, forward and back functions, you will need to scroll down to show the full menu to use these functions
2. You need to create a new tab to use the exit browser function, but with the previous menu style, you can exit the browser by opening the menu from the opened page and selecting exit.
![IMG_20210409_163501](h

[2021-04-09 09:07] cadeyrn commented on #18893
The new menu is not yet ready, see #17796 and especially #17772.

[2021-04-09 09:11] cadeyrn commented on #17772
@eliserichards The "scrollable and expandable" is not yet implemented as per mockup. The icon row should always be visible. Should this issue be reopened or is this handled in another issue?

[2021-04-09 10:29] sheikh-azharuddin commented on #18743
It looks weird...top site text
Big and ugly

![Screenshot_20210409-155830816](https://user-images.githubusercontent.com/58127841/114167352-7554fb80-994c-11eb-8cc0-95bc122322db.jpg)

[2021-04-09 10:35] sheikh-azharuddin commented on #18893
Quit button is now missing...only available in home screen

![Screenshot_20210409-160353071](https://user-images.githubusercontent.com/58127841/114168065-615dc980-994d-11eb-82db-97ba8b15d303.jpg)

[2021-04-09 11:43] sv-ohorvath commented on #18746
bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1704067

[2021-04-09 11:52] LvZW1895 opened #18894 "[Bug] Find a crash that affects usage very much"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-09 11:53] AndiAJ commented on #18746
The same crash to occurred on Master 4/8 while the  `verifyAboutFirefoxPreview` test ran
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8321615644823376072/executions/bs.1221735652509b45/testcases/1/errors)

<details>
    <summary>Logcat (dropdown)</summary>
   04-08 12:39:53.913: D/LeakCanary(8256): Watching instance of and

[2021-04-09 11:53] Mugurell commented on #17772
If you're referring at
<img width="209" alt="image" src="https://user-images.githubusercontent.com/11428869/114175937-39696880-9943-11eb-85d0-f4a15f0ef5e8.png">
this will follow up in https://github.com/mozilla-mobile/android-components/issues/9932

[2021-04-09 11:59] AndiAJ commented on #18892
Closing in favor #18746

[2021-04-09 11:59] #18892 closed

[2021-04-09 12:04] Mugurell commented on #18893
@Rosabis the navigation bar will will soon come back, even for the collapsed menu. In the meantime one can scroll to it.

Tagging @eliserichards for the "Quit" button.

[2021-04-09 12:06] cadeyrn commented on #17772
Exactly. Thanks! :)

[2021-04-09 12:07] Mugurell commented on #18894
Seems like something @mcomella would be interested in.

[2021-04-09 12:50] lobontiumira commented on #18814
Reproducible on the 4/9 Nightly build with Samsung Galaxy Note 8 (Android 9).

[2021-04-09 12:51] lobontiumira commented on #17759
I was not able to reproduce the crash on the 4/9 Nightly build with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-04-09 12:51] #17759 closed

[2021-04-09 13:02] PreciousU commented on #15813
Hi Elise, can I work on this issue?

[2021-04-09 13:02] lobontiumira opened #18896 "[Bug] The new page menu cannot be scrolled entirely in portrait mode on Android 5 and 6 devices"
## Steps to reproduce
1. Install the 4/9 Nightly build which has the new design changes.
2. Open a page and open the three-dot menu.

### Expected behavior
The page menu is scrollable and expandable.

### Actual behavior
The page menu cannot be entirely scrolled.

### Device information
* Device vendor / model and Android version: Samsung Galaxy Tab A6 (Android 5.1.1)
* Firefox for Android version

[2021-04-09 13:04] amedyne commented on #18867
tagging @violasong and @topotropic for this, too.

[2021-04-09 13:13] lobontiumira opened #18897 "[Bug] Dynamic toolbar isn't working on yr.no timetable"
## Steps to reproduce
1. Open yr.no, and select a location.
2. Go to one of the days, in order to see the weather hourly.
3. scroll the opened timetable.

### Expected behavior
The timetable is scrollable, and the toolbar is dynamic.

### Actual behavior
The timetable is scrollable, but the toolbar is fixed.

### Device information
* Devices: Samsung Galaxy Note 8 (Android 9), Xiaomi Mi4i (Android

[2021-04-09 13:14] lobontiumira commented on #18072
I've filed #18897 for the yr.no website not having a dynamic toolbar.

[2021-04-09 13:19] cadeyrn commented on #18885
Looks like a duplicate of #18860 with the difference that the FAB was not yet implemented when I filed #18860.

[2021-04-09 13:24] lobontiumira commented on #18837
Verified on the 4/9 Nightly build with Samsung Galaxy Note 8 (Android 9), and on Xiaomi mi4i (Android 5.0.2):

![error](https://user-images.githubusercontent.com/40694158/114186587-b39fea00-994f-11eb-998e-a6e653ac25f8.png)

@jonalmeida, @violasong shouldn't there be an error message on the "Signed in as email@email.com" options?

[2021-04-09 13:44] lobontiumira opened #18898 "[Bug] The "Quit" option is no longer available in the new page menu"
## Steps to reproduce
1. Install the 4/9 Nightly that has the new design changes.
2. Go to Settings - Delete browsing data on quit and enable the toggle.
3. Open a page and tap on the three-dot meu.
4. Expand the entire menu and observe the "Quit" option.

### Expected behavior
The "Quit" option is available in both menus: the homescreen menu, and the page menu.

### Actual behavior
The "Quit" opt

[2021-04-09 13:49] lobontiumira commented on #18893
I've filed #18898 for the "Quit" option.

[2021-04-09 13:56] jonalmeida opened #18899 "Content description for synced tabs icon in tabs tray is incorrect"
It says that it is a private browsing tab at the moment.

[2021-04-09 14:31] neha-b2001 commented on #17124
Hello @eliserichards, could I work on this issue? Since I have made PRs for my previous issues...

[2021-04-09 14:40] SoftVision-LorandJanos opened #18900 "When reopening a closed page, it is still displayed in "Recently closed tabs""
## Prerequisites
Have at least one tab open.

## Steps to reproduce
1. Close a tab.
2. Go to Tabs Tray -> three dots menu -> Recently closed tabs.
3. Tap on three-dot menu from the recently closed tab.
4.  Tap on "Open in new tab".
5. Observe the "Recently closed tabs" page.

### Expected behavior
A new tab is opened and the page is not listed anymore in "Recently closed tabs" page.

### Actual be

[2021-04-09 16:23] drs12345-SS commented on #18672
actually i am new to it but i want to contribute in mozilla so can you
please guide me about the bug that what actually it is? .

On Thu, Apr 8, 2021 at 11:20 PM Anish Krishnaswamy ***@***.***>
wrote:

[2021-04-09 16:43] Mugurell commented on #18896
I see it's not properly anchored. Does the menu look ok in the current beta?

[2021-04-09 17:03] eliserichards opened #18903 "[ANR] Context.startForegroundService did not then call Service.startForeground()"
This is the ANR with the highest amount of impacted users.

[code]

App Store Console: https://play.google.com/console/u/0/developers/7083182635971239206/app/4972519468758466290/vitals/crashes/ee5a31fb/details?installedFrom=PLAY_STORE&days=30

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-10307)

[2021-04-09 17:07] eliserichards opened #18904 "[ANR] HomeActivity Input dispatching timed out"
[code]

App Store console: https://play.google.com/console/u/0/developers/7083182635971239206/app/4972519468758466290/vitals/crashes/ec79af92/details?installedFrom=PLAY_STORE&days=30&versionCode=2015799103%2C2015799099

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-10308)

[2021-04-09 17:13] eliserichards opened #18905 "[ANR] BrowserStoreExtensionsKt.syncDispatch"
[code]

App store console: https://play.google.com/console/u/0/developers/7083182635971239206/app/4972519468758466290/vitals/crashes/d32ded5f/details?installedFrom=PLAY_STORE&days=30

[2021-04-09 17:13] kbrosnan commented on #18894
Our crash reporting data only shows this happening on truly ancient versions of Fenix. https://crash-stats.mozilla.org/signature/?java_stack_trace_raw=~ThreadPenaltyDeathWithIgnoresListener&product=Fenix

Please update to a [modern version of the app](https://github.com/mozilla-mobile/fenix/wiki#download)

[2021-04-09 17:13] #18894 closed

[2021-04-09 17:13] mcomella commented on #18894
@LvZW1895 What commit was this debug build built from? Are you using stock Android?

I'm unable to reproduce on my Pixel 2 (which is using a newer version of Android).

Please note this crash will only happen in debug builds so you could work around this by using an official build or building your own release build.

[2021-04-09 17:35] eliserichards commented on #18837
That is going to be a followup. There isn't UX bandwidth to do that change now.

[2021-04-09 17:35] #18837 closed

[2021-04-09 17:52] kanish671 commented on #18672
@drs12345-SS I am actually working on this and contributing to fix the bug myself.
The original bug was that renaming of top sites in page 2 did not reflect immediately. I made changes to fix that, which uncovered another bug. The new bug description is mentioned [here](https://github.com/mozilla-mobile/fenix/issues/18672#issuecomment-810437925)

[2021-04-09 19:18] PreciousU commented on #15813
Hi @eliserichards I'd like to work on this

[2021-04-09 19:20] violasong commented on #18867
That looks a lot wider than the screenshot [here](https://github.com/mozilla-mobile/android-components/pull/10039) - I wonder why?

[2021-04-09 19:31] kanish671 commented on #18672
@Mugurell Here is my thought on how we can set the height:
If we are rendering page 2, we know for sure that page 1 would be full. So I think we can set the height of the view as that of two rows whenever there are more than 4 items in top sites list. I am quite new to android programming, so would need a bit of guidance on how to achieve this.

[2021-04-09 20:06] imnotabr opened #18907 "[Bug] Changing Fenix's Default Search Engine/Search Suggestions - "Files under the "build" folder are generated and should not be edited""
How can the default search engine/search suggestions be changed in the source code? I'm encountering a bug/error when trying to do it.

If someone tries to change the default search engine and search suggestions feature from Google to another search engine in the source code (not through the app once it is installed), an error occurs in Fenix that doesn't occur in the iOS app.

To change search su

[2021-04-09 20:36] imnotabr commented on #18907
@mcarare any ideas about this problem? I've seen you work on other problems with the search engines in Fenix

[2021-04-09 20:47] imnotabr opened #18908 "How does Fenix generate list.json in search and the xml files in searchplugins?"
How are the files in these 2 folders generated?

This file, list.json
fenix/app/build/intermediates/merged_assets/debug/out/search/list.json

All the .xml files in this folder
fenix/app/build/intermediates/merged_assets/debug/out/searchplugins/

When I try to change list.json in search, or add/delete/modify .xml files in searchplugins, the changes are reverted when I run the app and I get the resp

[2021-04-09 20:55] #18907 closed

[2021-04-09 20:55] imnotabr commented on #18908
@mcarare do you know how to change these folders and files?

[2021-04-09 21:21] jonalmeida commented on #18867
The screenshot here doesn't have a Sync account signed in. That might affect it.

[2021-04-09 21:24] imnotabr commented on #6480
@clauub how do you override list.json in search and the .xml files in the search plugins coming from component?

Here is my issue: https://github.com/mozilla-mobile/fenix/issues/18908

[2021-04-09 21:28] violasong commented on #18867
Ah, it would be ideal to use the narrower width in both situations, but I know deadlines are looming.

In the future, we can also represent the signed in state as `[avatar icon] username@email.com` to reduce the length of that list item. Flagging for @brampitoyo in case this helps with the iOS toolbar menu.

[2021-04-09 22:19] chrishernan commented on #16007
Hi, after digging around to see where that Toast was coming from. I found that it is coming from the DownloadsFeature.kt in android-components.
The function that displays the Toast is showDownloadNotSupportedError().
I don't think we can fix this in fenix, it would have to be fixed in android-components.
Any thoughts?

[2021-04-09 22:58] reyis4402 commented on #18861
I'm glad you start working to fix this problem. Good news :)

[2021-04-10 00:39] datadeveb opened #18910 "[Bug] Tam ekran tasarım sorunu."
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-10 02:09] smowtenshi commented on #18867
Is this necessary when you can look that in the settings? In my opinion it's a really useless information.

[2021-04-10 05:56] Username1-a opened #18911 "Top Sites thumbnails removing after clearing history"
Please fix top sites cached thumbnails removing after clearing browser history or quitting browser with enabled "Delete browser data on exit">"Browsing history and site data"

It's pretty unnecessary to clear those thumbnails as they doesn't take much storage space anyway

* Device vendor / model and Android version: Redmi 4X, Android 10 AOSP
* Firefox for Android version: 87 Stable

┆Issue is syn

[2021-04-10 06:10] bitshelf opened #18912 "The address bar occupies more than space in the toolbar"
### The address bar may be remove in toolbar
People know the pages they visit,I think that the address bar can be replaced by the search icon.
### Set more function buttons
The address bar always takes up more space, but it's almost useless.Set more function buttons to make the browser easier to use

[2021-04-10 06:22] TheGreySquare commented on #18912
Maybe an additional Samsung Internet/Google Chrome Duet-like toolbar layout setting would solve this – address bar is on the top of the screen and fully customizable toolbar with buttons is on the bottom of the screen
Hope they can add this in the future
[Uploading Screenshot_20210410-091726.jpg …]()

[2021-04-10 08:04] nyanpasu64 commented on #18792
I just got this issue again without "Don't keep activities" checked (I initially discovered the big randomly without the thing checked, I only use it as a way to reliably replicate the bug). But this time it affected the tab I had open since I didn't switch away from the reader tab, and the theme reset a split-second after I switched back to Firefox (when Firefox switched from a static screenshot

[2021-04-10 08:05] sanyud24 commented on #1268
may I work over this issue ?

[2021-04-10 08:44] opusforlife2 commented on #18805
Alright. Thanks, @Mugurell!

[2021-04-10 11:09] jobbautista9 commented on #18871
My suggestion to the devs is to close this issue as WONTFIX, and use their time for something more important instead, like improving the UI. This "https filtering" scam (seriously, why don't they just call it MITM instead? That would be a more honest and accurate description) needs to stop.

[2021-04-10 11:18] Alexey71 commented on #18871
I have a counter offer. Before you write any bullshit, think 10 times

[2021-04-10 11:50] Queuecumber commented on #18898
If some progress was made on #5865 this wouldn't be an issue

[2021-04-10 12:43] oliverkardos commented on #13420
Yes please. Release FIrefox on Huawei AppGallery. These devices don't have Chrome, just an OEM browser. There is huge market and demand. I mean, have you seen the wish list with MILLIONS of unique users asking for firefox???

[2021-04-10 12:44] oliverkardos opened #18913 "Release to Huawei AppGallery"
Dear Developers,

Please release Firefox for Android onto Huawei AppGallery. These devices are now extremely popular not just in China but also in Europe. As you might know, these devices don't have Google services, meaning they don't have Google Chrome, only an OEM browser which is lagging behind with updates and not as great as Chrome or Firefox. You would have excellent chances with Firefox her

[2021-04-10 12:51] anotherus3r commented on #18913
Duplicate of #13420.

[2021-04-10 12:52] sharbet commented on #18871
Wow thank you for your non-productive answer that contributes nothing to this matter whatsoever!

I am so glad you are not someone I am acquainted with. With regards to how you respond, I don't think anyone would want to be acquainted with you :)

[2021-04-10 13:16] evilpie opened #18914 "[Bug] Not obvious that three dot menu is scrollable"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-10 16:28] hakkikaancaliskan opened #18916 "[Bug] Firefox logo and private browsing button is not visible after onboarding"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-10 16:35] hakkikaancaliskan commented on #18916
Maybe related to #18783?

[2021-04-10 16:39] ale82to opened #18917 "[Bug]new scrolling menu is terrible"
honestly I ve lost any hope in fenix and Firefox in general the new scrolling menu is a time wasting design, what are the developer thinking?
can someone confirm it will stay scrollable so I can switch to Samsung browser once for good?

[2021-04-10 17:01] frigus02 opened #18918 "[Bug] PWA icon does not load when Cross-Origin-Resource-Policy: same-origin is set"
## Steps to reproduce

I made 2 almost identical sites. They should only differ in one point:

- https://corp-icons.glitch.me/ 👉 serves icons with `Cross-Origin-Request-Policy: same-origin` header)
- https://nocorp-icons.glitch.me/ 👉 serves icons without `Cross-Origin-Request-Policy` header)

Test the following with both sites:

1. Open https://corp-icons.glitch.me/ in Fenix (make sure you use htt

[2021-04-10 17:35] Amarjit3 opened #18919 "Use mDNS for Firefox Sync"
Is it possible to add the use of mDNS name resolution when specifying the location of the Firefox Sync server within Android? I understand mDNS is accessible in Android within applications themselves.

Currently, I'm self-hosting a Firefox Sync server on my Linux laptop and I would like to point the Android app to Firefox Sync server's location on the laptop. This would be a lot easier if the brow

[2021-04-10 19:16] JoGarWeb commented on #18917
I Agree. Firefox Team always make firefox unusable everyday. 🤦🏻‍♂️🤦🏻‍♂️

[2021-04-10 19:30] Mattex92 opened #18920 "[Bug] Options panel does not respond to taps when swyped up"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-10 19:52] #15641 closed

[2021-04-10 19:55] soren121 commented on #18920
I'm having this issue as well. I'm using Nightly 210410 too, on a Samsung Galaxy S20 with Android 11. I think this is a high-priority bug because all of the options below the fold are now inaccessible.

Attached is a screen recording of the bug. I've enabled "pointer taps" in developer options to illustrate the issue.

https://user-images.githubusercontent.com/295939/114282936-ddaee600-99fb-11eb-8

[2021-04-10 20:31] LittleAngelwings commented on #3708
Can also confirm, that this issue was fixed for me on my chromebook.

[2021-04-10 20:56] mrandreastoth commented on #18914
What was wrong with displaying the full menu? Why having to scroll something that would otherwise fit on the screen? Please revert this or make it an option.

[2021-04-10 21:13] mrandreastoth opened #18921 "[Bug] Menu items don't react to taps"
### Steps to reproduce
1. Tap the burger button to display the menu
2. Tap a menu item

### Expected behaviour
Menu item is actioned

### Actual behaviour
Nothing happens. Nada. Zilch. Although, tapping the Settings many times in a row did once trigger the Settings screen to show so I could get to the version information.

### Version
Firefox Nightly for Android 210410 17:02 (Build #2015803851)

#

[2021-04-10 21:21] mrandreastoth opened #18922 "Allow locking tabs to prevent closing"
As in the desktop version, the mobile version needs an option to lock a tab to prevent it from being accidentally closed and to prevent it from being closed when executing a "close all tabs" operation.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-10324)

[2021-04-10 21:23] mrandreastoth commented on #18921
P.S. How can a fundamental usability issue like this get past testing?

[2021-04-10 21:28] mrandreastoth opened #18923 "[Bug] Near impossible editing GitHub comment"
I've left the default GitHub comment since  using select all and cut or even placing the cursor in specific locations and deleting from that point has the cursor jump elsewhere making it nearly impossible to edit. It wasn't like this a few Firefox versions ago.

[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment

[2021-04-10 21:45] LittleAngelwings commented on #18921
Have the same nightly build and I've no problems with the menu items on three different devices. Samsung Galaxy Tab A (SM-T580, Android 8.1.0), Huawei P Smart (2018, Android 9.1.0) and Chromebook ChrOS89, Android 9
)

[2021-04-10 21:54] WebworkrNet opened #18924 "Optional alphanumeric sorting function for bookmarks and folders"
### What is the user problem or growth opportunity you want to see solved?

The number of bookmarks increases quickly and becomes confusing as a result. This also applies if you use folders as an organizational aid.

Humans are used to leafing through alphanumeric ones. Sorting bookmarks and folders when a function is called or at regular intervals saves the user’s time and avoids incorrect sortin

[2021-04-10 21:56] drannex42 commented on #18921
Same issue here, Oneplus 5T running LineageOS 18.

[2021-04-10 21:57] drannex42 commented on #18920
+1 to this, and the swipe up is user hostile for quick access, unsure if this was on purpose or related to the overall bug.

[2021-04-10 21:58] WebworkrNet commented on #18924
In addition to ticket "allow users to sort bookmarks # 4348"

[2021-04-10 23:17] Queuecumber commented on #5865
@kbrosnan do you have any updates on the status of this issue? I think there are some really great suggestions in here from users for how this could be handled in a way that satisfies everyone

[2021-04-11 01:07] devmet34 opened #18927 "Visited links not highlighted in purple after reloading/refreshing page"
Using latest version of Firefox for Android. To reproduce the problem; search something on google and open a link from results then come back to google search page and refresh the page. It's supposed to highlight visited links in purple. Instead, it shows the links as if they never visited before.

[2021-04-11 01:20] devmet34 opened #18928 "Add timestamp date/time in history"
Hi, I believe this is simple yet must have on a good browser. History section should be able to show date time timestamps for visited pages. Please add this feature, thanks.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-10328)

[2021-04-11 01:54] TheGreySquare opened #18929 "[Bug] UI issues regarding Top Sites/Bookmarks/Search Engine thumbnails"
Just wanted to share a collection of small UI issues with websites thumbnails in a different parts of the browser:

1) Top Sites thumbnails are square in a rounded square shape.
Completely filling them in a rounded square shape would look better;

2) Bookmarks thumbnails are square in a circle.
Completely filling them in a circle shape would look better;

3) Search Engine logo is square in a prett

[2021-04-11 01:55] TheGreySquare opened #18930 "[Bug] UI issues regarding Top Sites/Bookmarks/Search Engine thumbnails"
Just wanted to share a collection of small UI issues with websites thumbnails in a different parts of the browser:

1) Top Sites thumbnails are square in a rounded square shape.
Completely filling them in a rounded square shape would look better;

2) Bookmarks thumbnails are square in a circle.
Completely filling them in a circle shape would look better;

3) Search Engine logo is square in a prett

[2021-04-11 01:58] #18929 closed

[2021-04-11 02:01] TheGreySquare commented on #18930
Looks like this issue was duplicated when posted, so I closed one

[2021-04-11 03:06] thunderblood101 commented on #18900
I'm able to reproduce this bug as well.

[2021-04-11 03:21] sheikh-azharuddin commented on #18930
Personally I love firefox lite top site UI implementation..

[2021-04-11 03:24] thunderblood101 commented on #18923
Hello :D Can you add more information? I can't replicate this bug, it seems to work fine for me. As much information as possible is good, like Firefox or Android version, or settings that may cause the problem.

[2021-04-11 03:39] sheikh-azharuddin commented on #18914
They could have used firefox lite 3 dot menu implementation...but no👎😡

![Screenshot_20210411-090928465](https://user-images.githubusercontent.com/58127841/114291516-a432b500-9aa5-11eb-97a6-d090f1ba59e9.jpg)

[2021-04-11 04:21] jonalmeida opened #18931 "Bring Add-to-collection back to the overflow menu"
Originally, I imagined we could do this as part of #18862, but there is a rather sizeable chunk of code there which I don't fully understand at this time and I'm hesitant to just copy it over without first unravelling it first.

This issue for re-implementing the logic for adding to collections and doing so in a re-usable way that might make it more useful outside of the tabs tray if possible.

[2021-04-11 05:16] JoGarWeb commented on #18921
I have the same problem. Nokia 5.3 Android 10
Its fucking frustrating.

https://user-images.githubusercontent.com/7904563/114293364-1a5dfa00-9a5b-11eb-8a63-e83b3d50a1bf.mp4

[2021-04-11 05:16] JoGarWeb commented on #18920
I have the same problem. Nokia 5.3 Android 10
Its fucking frustrating.

https://user-images.githubusercontent.com/7904563/114293364-1a5dfa00-9a5b-11eb-8a63-e83b3d50a1bf.mp4

[2021-04-11 05:25] JoGarWeb commented on #18898
I WANT QUIT OPTION BACK !!!

[2021-04-11 05:28] jonalmeida commented on #18885
Thanks @cadeyrn , sorry I seemed to have missed your issue earlier. I'm going to close it as a duplicate since I've started to add some activity to this one. Expect a fix soon! 🙃

[2021-04-11 05:29] jonalmeida commented on #18860
Duplicate of https://github.com/mozilla-mobile/fenix/issues/18885

[2021-04-11 05:29] #18860 closed

[2021-04-11 05:31] jonalmeida commented on #18919
This requires work from multiple projects/teams to get local network discovery and syncing working between desktop/mobile.

@kbrosnan might know better if this should go to bugzilla or appservices.

[2021-04-11 05:33] legallyahc opened #18933 "Reader mode breaks on session restore"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-11 05:34] legallyahc commented on #18933
Here's a reproduction of my steps to recreate the bug.

[2021-04-11 05:55] jonalmeida opened #18934 "[Bug] Memory leak with SelectedItemAdapterBinding in tabs tray refactor"
[code]

[2021-04-11 05:59] jonalmeida commented on #18934
We're leaking because our `stop` is never called to cancel the flow.

We don't receive the `onDetachedFromRecyclerView` call to invoke stop, because we never remove our adapter once set. We can do this however, by setting null on the reference to the adapter from the `BaseBrowserTrayList`.

[code]

[2021-04-11 06:03] rikhwanto opened #18935 "[Bug] Firefox shows downloading null on Notifications Bar"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-11 07:46] Sujan319 opened #18937 "[Android] Add print as pdf option in firefox or atleast make print as pdf extension add-on"
### What is the user problem or growth opportunity you want to see solved?
--> Many times while web surfing, some valuable information we need to print webpages as pdf. In firefox mobile, this option does not exist. Sometimes there is admit card or challan in web page and below that there is print option but that doesn't work for firefox mobile.

### How do you know that this problem exists today?

[2021-04-11 07:52] samiuljoy commented on #18733
@ebalazs-sv well, that's odd, I've made a adb screenrecord while trying out fenix on my Samsung running Android 10
* Included the build number
* went to about:config and changer the https value to true
* then quit fenix
* the clear fenix from recents
* start fenix and visit about:config and check the https value
* the https value reverts to false

https://user-images.githubusercontent.com/51329626

[2021-04-11 08:12] esrat commented on #14921
I was just updating the Fennec on the Tablet PC from 68.8.0 to the most current version (F-Droid-Build) --- and was instantly crying through out the whole building! Multiple times!! For more than one reason!!!
Why are you doing so much harm to your own product!?
I don't need colourful themes -- I need functionality!
Why are all my settings gone? Where is my seach engine? Where is the **tab bar**?

[2021-04-11 09:45] anotherus3r commented on #14921
@esrat I think all of your data should have been transferred If you updated the app directly, i.e. didn't uninstall the install the new version.

You can add search engines in Settings > Search.

I do miss the tab bar on tablets though.

[2021-04-11 09:47] anotherus3r commented on #18937
Duplicate of #10217.

[2021-04-11 11:04] datadeveb commented on #18910
Görseller ekledim. Daha anlaşılır kılmak için.

[2021-04-11 11:24] Androiduser-7 opened #18938 "Translation Feature"
Please Add Translation feature to translate websites.

[2021-04-11 11:29] Androiduser-7 opened #18939 "Please bring Print to PDF feature."
Please Bring Print Page feature or Print to PDF feature. This will help a lot in printing web pages.

[2021-04-11 11:46] Wodnic commented on #18921
Same thing on LG G7 ThinQ with Android 10.

[2021-04-11 11:53] cadeyrn commented on #18938
Duplicate of #6133.

[2021-04-11 11:54] cadeyrn commented on #18939
Duplicate of #3709 and #10217.

[2021-04-11 11:57] cadeyrn opened #18940 "[Bug] "Nimbus Experiments" in settings have a gap on the left side"
### Steps to reproduce

1. enable the [secret settings](https://github.com/mozilla-mobile/fenix/wiki/%22Secret-settings%22-debug-menu-instructions)
2. open the settings screen and scroll to the end

### Expected behavior

No gap on the left side.

### Actual behavior

![Screenshot_20210411-133823](https://user-images.githubusercontent.com/1100614/114303310-c04a4c80-9acd-11eb-89e1-aaab4fb21454.jpg)

[2021-04-11 12:32] sheikh-azharuddin commented on #18938
Better use extension...mozilla has not added in firefox desktop  since years so don't expect ..they could add Google translator but they are not interested citing privacy issue yet their default search engine is Google! They have a deal also with Google...

[2021-04-11 12:40] Androiduser-7 commented on #18938
No Translator extension is available for Firefox Android

[2021-04-11 12:43] cadeyrn commented on #18938
They are working on a translation feature for the desktop Firefox without any cloud service. It is a project funded by the European Union, called Project Bergamot. I wouldn't rule out this being an option for Android at some point.

These things really don't have the slightest thing to do with each other.

[2021-04-11 12:44] Androiduser-7 commented on #18938
Not a single extension is available for translating web pages on Firefox Android.

[2021-04-11 12:49] cadeyrn commented on #18938
They are working on a translation feature for the desktop Firefox without the need to contact any cloud service. It is a project funded by the European Union, called Project Bergamot. I wouldn't rule out this being an option for Android at some point.

A cloud translation feature and a default search engine are totally different things and really have nothing to do with each other.

Since this is

[2021-04-11 12:53] mrandreastoth commented on #18914
Seems like a much cleaner and logical implementation. But why is it still scrollable? What isn't showing?

[2021-04-11 12:54] ezaquarii commented on #16993
@abodea There is not much to explain here. Somebody decided to hide/block/remove ability to import user CA certificates on mobile browser. This feature is indispensable in any enterprise environment.

[2021-04-11 12:56] mrandreastoth commented on #18923
The combination of this bug and bug  #18921 make what you rightfully expected me to include a near impossibility. I will attempt copying the information from my other bug and include it herein, though.

[2021-04-11 12:57] mrandreastoth commented on #18923
Version

Firefox Nightly for Android 210410 17:02 (Build #2015803851)
Device

Samsung Note 9, Android 10

[2021-04-11 12:59] mrandreastoth commented on #18046
Still remains an issue.

### Version

Firefox Nightly for Android 210410 17:02 (Build #2015803851)
### Device

Samsung Note 9, Android 10

[2021-04-11 13:01] cadeyrn commented on #18914
There is no difference in regards to this issues. Both implementations are a scrollable menu and both indicates that you can scroll in the exact same way - with a half visible menu item. The main difference is the fixed icon bar at the bottom and this will be implemented in Fenix as well.

[2021-04-11 13:13] ezaquarii commented on #16993
@abodea The user have `ca.crt` CA certificate file for the organization's network. To access any site secured with private certifcate, the CA must be imported and trusted.

This is very frequent scenario for any enterprise environment and I truly cannot comprehend why this feature has been removed or hidden in Fenix.

Running development or beta is not a solution for this problem.

[2021-04-11 13:40] esrat commented on #14921
@anotherus3r No, the update did completely delete my own search engines - and replaced them with (payed?) links to Google and Amazon. Additionally, the whole functionality to add every search field on arbitrary websites (e.g. Startpage, Wikipedia, Wiktionary, ...) by simply doing a long press into it was removed to make it much more cumbersome to add own ones. I could not even find many options fr

[2021-04-11 13:45] ezaquarii commented on #18871
@jobbautista9 there are genuine cases for using custom certificates, like accessing intranet in enterprise environment.

[2021-04-11 14:30] ShalokShalom commented on #14921
It was probably not removed, but not implemented again.

[2021-04-11 14:58] sheikh-azharuddin commented on #18938
That project I am hearing since ages.....no progress not sure when they will implement .. probably project discarded...

Yes they have to do...both are Google products..mozilla is not dumb to have default search engine as Google there is a deal and Google is paying hefty amount...what's the harm in having same deal for the translation feature by same Google.?

[2021-04-11 15:00] sheikh-azharuddin commented on #18938
It's available bro like Google translation...in page translation
You need to install firefox nightly and use custom add on called Translate web pages

![Screenshot_20210411-202937029 (1)](https://user-images.githubusercontent.com/58127841/114309425-b09a2a80-9b04-11eb-80d0-16ca4d4c115c.jpg)

[2021-04-11 15:01] sheikh-azharuddin commented on #18914
Here comes the defender....trying to hide all flaws...

[2021-04-11 15:03] sheikh-azharuddin commented on #18914
Yes...they could refine it ...think of it like this
After using icons for downloads, bookmarks, add ons

[2021-04-11 15:10] evilpie commented on #18914
Just for reference, this is the screenshot. The menu item is not half visible. The padding at the bottom is maybe a few pixels shorter.

![Screenshot_20210411-162942_Firefox Nightly](https://user-images.githubusercontent.com/296445/114309786-ba159980-9ae8-11eb-86d5-50de9bc0a6e7.jpg)

[2021-04-11 15:20] sheikh-azharuddin commented on #17872
The bookmark icon on tabs 3 dot menu is not matching with home screen 3 dot menu bookmark icon

[2021-04-11 15:25] nandryshak commented on #18920
Same for me, Galaxy Note9, android 10. Having to swipe the menu up in the first place is awfully silly when my screen can already display all the items on one screen without scrolling.

I'm able to tap the options in a new tab page though. But I can't refresh tabs without turning on pull to refresh.

[2021-04-11 15:29] cadeyrn commented on #18914
You're using the top toolbar. It's always helpful to mention if you use a non-default configuration. Otherwise other people assume that you're talking about the default (bottom toolbar). I agree that it's not obvious with the top toolbar. 😉

[2021-04-11 15:34] keegan-lillo commented on #18921
Seeing the same issue on a Pixel 4

Nightly 210410 17:02 (Build #2015803851)
AC: 75.0.20210409143104, bfaf51479
GV: 89.0a1-20210409092020
AS: 74.0.1

[2021-04-11 19:03] vishalnandagopal commented on #13425
This bug happened happened almost a year ago. It does not happen now, so cannot be reproduced. I assume it was fixed during these months.

I had attached a screenshot to the my issue showing what was blocked by Tracking Protection.

![image](https://user-images.githubusercontent.com/61023404/114317523-1ea31980-9b26-11eb-9624-5ae5c19d472f.png)

I should have closed this issue when Twitter started w

[2021-04-11 19:03] #13425 closed

[2021-04-11 21:59] j1elo opened #18944 "[webcontent] Miserable performance on mobile.twitter.com"
This is a repost of this Bugzilla issue:

**Miserable performance on mobile.twitter.com** (https://bugzilla.mozilla.org/show_bug.cgi?id=1447419)

That report didn't get any meaningful discussion before being automatically closed by a bot (arguing that "*The development of the new versions use GitHub for issue tracking. If the bug report still reproduces [...] an issue can be reported at the Fenix

[2021-04-11 22:00] #12620 closed

[2021-04-11 22:00] #12621 closed

[2021-04-12 00:22] jonalmeida opened #18946 "Implement Undo UI in refactored tabs tray"
We have the use cases for this, we just need the tab UI that can observe/react as we did in the old tray.

Consider that:
 - We need to use a similar toast for add to colections/bookmarks.
 - Undo from the last tab needs to close the tray (the current logic, passes it to the home screen to handle.
 - When adding the FAB as an anchor if that would still work when in accessibility mode (which doesn'

[2021-04-12 00:38] jonalmeida commented on #18944
The bugzilla issue you linked was using Fennec, an old version of Firefox for Android that is no longer supported.

There is already a new issue opened in bugzilla that was moved from another github issue, so this one here can be closed as a duplicate of it: https://bugzilla.mozilla.org/show_bug.cgi?id=1685629

[2021-04-12 00:38] #18937 closed

[2021-04-12 00:39] metronightly commented on #18920
Yeah, facing the same issue on my Android 10 phone running Nightly 210411 version. Unable to add top sites, go to settings because the options are unresponsive. It takes around 10 taps for the options to work.

Although I like that opening the three button menu shows only 2/3rd of the menu from top, hence easier to acces add-ons..I'm not ready for this kind of unresponsive consequences, lol.

[2021-04-12 00:44] metronightly commented on #18920
Is there any issue with pull to refresh other than unwanted refreshes, like more memory use or something. I have noticed that using pull to refresh limits my tabs on memory. Normally I'd be able to keep 5-7 tabs on memory without any reloading but turning it on reduces it to 3-5.

[2021-04-12 02:21] kanishkgiri opened #18947 "[Bug] Firefox Android is unable to open insecure websites"
I am unable to open websites which are not safe according to the firefox, even when i click 'accept the risk and continue' as nothing happens and the site does not opens!
Please fix this búg as i am unable to open the website of the library of my college,i.e, library.iitp.ac.in

[2021-04-12 02:25] thunderblood101 commented on #18923
Cool, thanks :D now I'm trying out the commenting in Firefox nightly right now, this comment is being written in ff nightly.

Because of bug #18921 I can't see exactly what build of nightly i'm using, but entering text works, but the text editing features you mentioned, like moving the cursor, copying and pasting, etc. are on and off i suppose, working somewhat randomly.

[2021-04-12 02:41] jonalmeida opened #18948 "Add any missing telemetry in tabstray"
Below is a checklist of events that we fire in the original `tabtray` package. We should ensure that we are firing the same events in the new `tabstray` (notice the plural) package where the tabstray re-write is located:

  - [x] [`TabsTrayShareAllTabsPressed`](https://github.com/mozilla-mobile/fenix/blob/d7f7f817c9ff307552269b1e66e0c9120408f8cc/app/src/main/java/org/mozilla/fenix/tabtray/TabTrayI

[2021-04-12 02:53] jonalmeida commented on #18931
Reading through, it looks like a lot of the code is just creating two add/create collection dialogs and showing them accordingly.

I think we can move this into the `collections` package and make the entire thing reusable without it needing to live in the tabs tray fragment; none of this code seems related at all.

[2021-04-12 02:56] jonalmeida commented on #18931
Specifically, the code bits are:
 - `CollectionsAdapter`
 - `TabTrayDialogFragment.showChooseCollectionDialog`
 - `TabTrayDialogFragment.showAddNewCollectionDialog`

The `SaveToCollectionsButtonAdapter` is a lie, it's actually the "Select tabs" button that takes you into multi-select mode. 😄

[2021-04-12 02:59] #18939 closed

[2021-04-12 03:10] jonalmeida commented on #18921
@Mugurell looking at the video in https://github.com/mozilla-mobile/fenix/issues/18921#issuecomment-817249719, I wonder if this is related to the collapsible menu that's dropping touching events (somehow?).

[2021-04-12 04:38] Mugurell commented on #18920
Thank you all for the reports and sorry for any issues.
This seems to be https://github.com/mozilla-mobile/fenix/issues/18814 which should be fixed in tomorrow's Nightly.

[2021-04-12 04:39] Mugurell commented on #18920
Not closing the ticket as a dupe it to keep it easily visible in the list of new issues and prevent others opening similar tickets.

[2021-04-12 04:40] Mugurell commented on #18921
Thank you all for the reports and sorry for any issues.
This seems to be #18814 which should be fixed in tomorrow's Nightly.

[2021-04-12 04:40] Mugurell commented on #18921
Not closing the ticket as a dupe it to keep it easily visible in the list of new issues and prevent others opening similar tickets.

[2021-04-12 05:02] brampitoyo commented on #18867
@jonalmeida I agree with @violasong in advising to remove the words “Signed in as…”

Instead, we can just show the email address on its own, plus an avatar icon symbol.

I’m also confirming the fact that “Synchronised tabs” will eventually longer be located inside the App Menu? Instead, we’re planning to put it inside the Tab Tray.

[2021-04-12 05:52] njdarger commented on #18733
This happens to me on multiple devices, including Android 11 on OnePlus Nord. Most often on devices with less RAM where Firefox has been closed when switching to other applications. I can reproduce it on multiple different devices (Android 11/Nord, Android 9 on Huawei MediaPad M5 8.4") by:
* Going to about:config
* Disabling JavaScript
* Rebooting the device.
* JavaScript has now reverted back to

[2021-04-12 06:18] clauub commented on #18908
@imnotabr If you want to override these files you have to do following things:
You have to add in src/main/assets these two directories:

- search (here you create a list.json for your needs)
- searchplugins (put all search plugins, that you'll be using in your app)

Hope you understood. Let me know if you have more questions !

[2021-04-12 06:30] AndiAJ commented on #17485
• Flaky 1x Debug 4/9:  [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8533396457901759098/executions/bs.549be7a8c944677a/testcases/2/test-cases)

[2021-04-12 06:32] lobontiumira commented on #18896
The new changes had not benn implemented in Beta yet.

[2021-04-12 06:35] AndiAJ commented on #13281
• Flaky 1x Debug 4/10: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7436178715895886046/executions/bs.cd6158d2c056913b/testcases/1/test-cases)

[2021-04-12 06:38] bitshelf commented on #18912
Ffirefox is power browser.It has many feature,but need multiple clicks.hope add some buttons,as easy to use as Twitter.
![Screenshot_2021-04-12-14-26-06-502_org mozilla firefox](https://user-images.githubusercontent.com/62375119/114351024-9e6bcb00-9b9c-11eb-9c8a-2eff838c2710.jpg)

[2021-04-12 06:46] dchee2 commented on #3708
Got an email that this is fixed so I installed FF Nightly to test it out. Yes, the scrolling no longer select text, so the problem is resolved but it exposed an underlying issue.
Scroll with 2 fingers on touch pad until the pointer end up resting on a link.
Remove both fingers.
Then use a single finger on the touch pad to move the pointer a little but leave it pointing at a link when you lift your

[2021-04-12 06:47] sv-ohorvath commented on #18041
Waiting for https://github.com/mozilla-mobile/fenix/issues/18385

[2021-04-12 09:10] neha-b2001 commented on #18226
@lobontiumira Can I please work on this issue?

[2021-04-12 09:16] lobontiumira commented on #18226
It is not my decision.

[2021-04-12 09:30] Mugurell commented on #18944
@j1elo

The development of the application is now managed on Github while previously it was done in Bugzilla.
But Gecko and GeckoView development is still managed on Bugzilla.

So issues with the Android application are tracked on Github (how the app as a GeckoView wrapper looks and behaves) but issues related to webpages and website interactions are tracked on Bugzilla as they are browsing issues

[2021-04-12 10:05] mcarare commented on #18856
@tdsmith There already is an event that tracks when the settings button is clicked from the browser menu implemented as requested here: https://github.com/mozilla-mobile/fenix/issues/1024.

My question for you is if we should just add the event trigger to the menu from the new tab screen, or should we add an event for the settings screen being displayed. The difference would be that while we curre

[2021-04-12 10:16] jamienicol commented on #10655
Hi @Augures01. Sorry this took so long to track down the problem but it should now be fixed in the latest Nightly release, and in an upcoming beta and stable release. Please let us know if you still see this crash

[2021-04-12 10:35] Mikaka27 commented on #14921
Would mozilla accept pull requests with tablet view improvements?

[2021-04-12 11:12] madb1lly opened #18950 "[Bug] Top sites bottom row partially covered by paste from clipboard dialogue"
## Steps to reproduce
1. Copy some text.
2. Open new tab
3. See that the bottom row of the top sites icons is partially covered.

### Expected behavior
Top sites rows should all be visible on new tab page with keyboard open.

### Actual behavior
Top sites icons are not all fully visible with keyboard open if there is something on the clipboard.

### Device information
Nokia 8 Android 9

Nightly 21

[2021-04-12 11:18] madb1lly opened #18951 "[Bug] New tabs tray defaults to top (old tabs) not bottom (new tabs) of list"
## Steps to reproduce
0. Have address bar at the bottom (may be same behaviour as top, not sure)
00. Tabs shown in grid (I didn't check with tabs in list)
1. Have many tabs open
2. Open the new tabs tray (new means the one with the synced tabs included on a new tab within the tray)
3. Tabs tray view defaults to showing the top tabs, which are oldest

### Expected behavior
Same as current tabs tray

[2021-04-12 11:41] madb1lly opened #18952 "[Bug] Inconsistent behaviour of new three-dot menu"
The new three-bot menu does not open consistently. Usually it is the shortened, widened, scrollable version. On the new tabs page it is the old menu (I think) and sometimes I get the new widened scrollable menu but already fully expanded.

As a side note, when fully expanded the menu still has a little scrollable range left in it, I can move it up and down a little.

## Steps to reproduce
1. Press

[2021-04-12 11:44] madb1lly opened #18953 "[Bug] New tabs tray lacks the share, save to collection, bookmark and close options"
## Steps to reproduce
1. Enable new tabs tray in Secret Settings
2. In tabs tray select a tab (long press)
3. Find that there's no way to share it, save it to collection, bookmark it or close it

### Expected behavior
New tab tray should include options to share, save to collection, bookmark and close a selected tab

### Actual behavior
New tab tray does not include options to share, save to colle

[2021-04-12 13:19] lobontiumira commented on #17865
Reproducible on Beta 88.0.0-beta.6 with OnePlus 5T (Android 10).

[2021-04-12 13:30] lobontiumira commented on #17855
Reproducible on Beta 88.0.0-beta.6 with OnePlus 5T (Android 10).

[2021-04-12 13:37] Amejia481 commented on #18935
If it's possible could you include the URL of the file that you were trying to download?

[2021-04-12 13:45] Amejia481 commented on #16007
👋🏽  We have the functionality on Android components to share the same behavior across other other apps, please free to do the changes there, if you need any help just let know.

[2021-04-12 14:19] #15414 closed

[2021-04-12 15:04] Mugurell commented on #18896
Confirmed with Mira that the Beta on this device looks okay so something broke in the meantime.

[2021-04-12 15:14] Mugurell commented on #18814
With the other tickets opened by users for this please test on multiple devices if the menu can be interacted with without issue before and after being expanded on multiple devices.

[2021-04-12 15:27] Mugurell commented on #17904
Sorry for the mixup @fevziomurtekin. Your PR looked good but looks like another PR was approved and validated by UX in the meantime.
Your contribution would be much appreciated on other tickets like maybe the ones from https://github.com/mozilla-mobile/fenix/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2021-04-12 15:59] kbrosnan commented on #10655
Fixed by upstream

[2021-04-12 15:59] #10655 closed

[2021-04-12 16:00] kbrosnan commented on #17612
Fixed by upstream.

[2021-04-12 16:00] #17612 closed

[2021-04-12 16:01] eliserichards opened #18960 "Remove nav in home three-dot menu"
## Acceptance criteria
Remove the backwards and forwards nav buttons on the home screen three-dot menu.

Since the home screen isn't a tab (it doesn't have state) we aren't able to utilize the back/forward nav buttons in the homescreen's three-dot menu.

[2021-04-12 16:16] #17840 closed

[2021-04-12 16:16] #17979 closed

[2021-04-12 16:19] #15124 closed

[2021-04-12 16:22] kbrosnan commented on #18947
Duplicate #6296. This website has an insecure certificate using TLS 1.0 or 1.1. This certificate is not accepted in any up to date desktop browser.

[2021-04-12 16:22] #18947 closed

[2021-04-12 17:01] eliserichards commented on #18960
Approved by @violasong

[2021-04-12 17:26] #18608 closed

[2021-04-12 17:29] soren121 commented on #18814
The expanded menu is working now with Nightly 210412 on a Samsung Galaxy S20 (Android 11), thanks!

[2021-04-12 18:11] MicroBeast commented on #18920
Fixed per Nightly 210412 13:58 (Build #2015804211) GPlay.

Thank you.

[2021-04-12 18:13] cadeyrn commented on #18938
This is not true at all. Please inform yourself better before you spread something like that. A lot of progress is made and it can already be tested…

https://github.com/mozilla-extensions/bergamot-browser-extension/releases

Yes, both are Google products. And still both things have nothing to do with each other at all. For this reason and because I already referred to #6133 I am done here.

[2021-04-12 18:21] #15840 closed

[2021-04-12 18:34] korbel commented on #17865
v84.0.0-beta.1 seems to be the version introduced this bug, I could not reproduce it on v83.1.0. (someone please confirm it!)
Android components was upgraded here from v63.0.9 to v67.0.2.
Diff: https://github.com/mozilla-mobile/android-components/compare/v63.0.9...v67.0.2

It contains a fix for issue https://github.com/mozilla-mobile/android-components/issues/8868 which may or may not have caused

[2021-04-12 18:39] priyanka0906 opened #18964 "[Bug] Incorrect function names"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-12 18:39] priyanka0906 commented on #18964
@eliserichards  please have a look.

[2021-04-12 18:57] #18862 closed

[2021-04-12 19:16] #18899 closed

[2021-04-12 19:19] #15660 closed

[2021-04-12 19:19] eliserichards opened #18966 "[crash] IllegalStateException at Fragment.requireContext"
New in 87.0.0-rc1 (2015799097.apk)

Play Console crash: https://play.google.com/console/u/0/developers/7083182635971239206/app/4972519468758466290/vitals/crashes/91a86eb4/details?installedFrom=PLAY_STORE&days=30&versionCode=2015799103%2C2015799099%2C2015799101%2C2015799097

[code]

[2021-04-12 19:25] eliserichards opened #18967 "[crash] IllegalStateException at FxaAccountManager.maybeUpdateSyncAuthInfoCache"
Play Console crash: https://play.google.com/console/u/0/developers/7083182635971239206/app/4972519468758466290/vitals/crashes/7a08ef4c/details?installedFrom=PLAY_STORE&days=30&versionCode=2015799103%2C2015799099%2C2015799101%2C2015799097

[code]

[2021-04-12 19:59] VaishnaviShri opened #18968 "[Bug][a11y] Few options of menu not accessible while using app through Talkback only"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-12 20:43] tdsmith commented on #18856
I think you're right that the browser_menu_action event has the coverage we need. Thanks!

[2021-04-12 20:54] eliserichards opened #18971 "Remove unneeded animations in toolbar controller"
Followup to #18859, #18806

## Acceptance criteria
* Remove `browserAnimator` calls in `BrowserToolbarMenuController.kt` ([example](https://github.com/mozilla-mobile/fenix/blob/b41082ac637f382785da76e608807af21ab6f341/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt#L318)) and replace with normal `.nav` (note: make sure there is no change to the animations whe

[2021-04-12 20:57] gabrielluong commented on #18971
I don't think this is a good first issue. I think we would want someone to investigate this thoroughly and present what is the state of our animations and really understands the code and make a call about it. If we do want to remove it, I think we should do this intentionally understanding the original intentions and what we are removing.

[2021-04-12 20:59] eliserichards commented on #18971
|  this animator was used at a time when we did have animation and that bit of code was removed, where as this bit was not.

Do you think there is more here that we're missing @gabrielluong?

[2021-04-12 21:02] jonalmeida commented on #18971
The code _removal_ is a good first issue. Confirming that we can remove this without regressions, probably isn't.

I only looked at that code while reviewing a menu PR. It's a bit narly, so I can't be sure that there isn't anything else this effects.

[2021-04-12 21:04] eliserichards commented on #18591
Closing in favor of https://github.com/mozilla-mobile/android-components/issues/9932

[2021-04-12 21:25] amedyne commented on #18950
@topotropic Thoughts on this?

[2021-04-12 21:36] eliserichards commented on #18952
We are finalizing the scrollability of the menu (making the nav buttons sticky), so closing this as known & fix is in progress :)

See https://github.com/mozilla-mobile/android-components/issues/9932

[2021-04-12 21:36] #18952 closed

[2021-04-12 21:51] eliserichards commented on #18938
Closing as duplicate. Thanks @cadeyrn!

[2021-04-12 21:51] #18938 closed

[2021-04-12 21:52] eliserichards commented on #18933
Thank you for the detailed build and version numbers! They are super helpful.

[2021-04-12 21:56] eliserichards commented on #18921
Thank you all for your reports! Just a reminder to that our Mozilla's community participation guidelines apply.

[2021-04-12 21:59] eliserichards commented on #4348
Option to sort folders as well (see #18924)

[2021-04-12 22:00] eliserichards commented on #18924
Closing as dupe of #4348 (I added a comment with a link to this ticket)

[2021-04-12 22:00] #18924 closed

[2021-04-12 22:01] #18522 closed

[2021-04-12 22:05] eliserichards commented on #13183
Still valid in latest Nightly according to https://github.com/mozilla-mobile/fenix/issues/18918#issue-855111844

[2021-04-12 22:06] eliserichards commented on #18918
Thanks for checking on this! Looks like our stale bot killed the original issue :) I reopened with your latest device info.

Closing this as dupe.

[2021-04-12 22:06] #18918 closed

[2021-04-12 22:07] eliserichards commented on #18917
Friendly reminder that this repository adheres to Mozilla's community participation guidelines.

[2021-04-12 22:07] #18917 closed

[2021-04-12 22:13] eliserichards commented on #18914
Closing as a known issue, will be fixed with https://github.com/mozilla-mobile/android-components/issues/9932.

[2021-04-12 22:13] #18914 closed

[2021-04-12 22:15] eliserichards commented on #18867
I believe that our width is being calculated based on the width of the screen. This is especially helpful for the Sync Sign In item and for non-english languages that tend to be longer (like German).

[2021-04-12 22:19] #15765 closed

[2021-04-12 22:41] ale82to opened #18972 "[Bug] lots of crashes since last two days"
the nighlty build from the last two days sometimes crashes here's the url of a crash I just had on reddit
https://crash-stats.mozilla.org/report/index/c1394414-ed25-4933-b7dd-ee1c90210412
can someone please tell me if it 's caused by some pref in about :config
thanks.

[2021-04-12 23:15] gabrielluong commented on #18971
@eliserichards Ya, I think it's latter part of this point that I would rather have someone on our team figure out -- the history bit of the Fenix animation, what was attempted and removed, and where is it now (did we just give up on animation completely because of perf? what was the PR which determined that and animation code removed? from that PR can we determine why we still have BrowserAnimator

[2021-04-12 23:17] jonalmeida opened #18973 "[Bug] Tab layout in tabs tray is missing"
This happened since our latest merge, as of f3df2c73d90475528504711100e0ca5a92c2f4aa.

<img src="https://user-images.githubusercontent.com/1370580/114474034-64fa8600-9bc3-11eb-82c7-a77ea3d15cd7.png" width=320 />

[2021-04-12 23:28] chrishernan commented on #18267
Hey @gabrielluong, could I work on this issue? Also, is this ok for me to ask to work on these types issues?  I know I'm not part of the mozilla team, I don't want to take work away from ya'll. I have quite a bit of free time and I want to help as much as I can with this project.

[2021-04-12 23:39] chrishernan commented on #18881
Hello, Could I work on this issue?

[2021-04-12 23:42] jonalmeida opened #18975 "Github CI bot runs tasks for non-contributor PRs as well"
My understanding is that the Github CI is meant to run lint/detekt/build for contributor PRs that are not part of the mozilla-mobile organization that have access to run Taskcluster CI builds.

I have PRs where the Github CI _and_ Taskcluster CI are both running in parallel a similar subset of tasks.

Ref issue: https://github.com/mozilla-mobile/fenix/pull/18974
<img width="849" alt="Screen Shot 2

[2021-04-13 00:15] #18973 closed

[2021-04-13 00:33] gabrielluong commented on #18881
Thanks, go for it. We plan to ship the feature in the next May release so I think there is demand to pick this work up. Since no one has picked it up, I am happy to have anyone pick up work where it is reasonable. I think I do have to mention that the team can take over the issue where it is reasonable in order to hit our releasee deadline.

[2021-04-13 00:36] gabrielluong commented on #18881
Since the list of credit cards is a RecyclerView, the only known solution I have seen is using a ConcatAdapter. I am happy to entertain other solutions if you are aware of better solutions, but I hope this points a little point of guidance. I am still fairly new with Android development.

[2021-04-13 02:15] amedyne opened #18977 "[Bug] For Bugzilla ticket 1701932 on Autofill"
See:

https://bugzilla.mozilla.org/show_bug.cgi?id=1701932

[2021-04-13 02:17] amedyne opened #18978 "[Bug] For bug 1700936 for non-HTTP URLs"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1700935

[2021-04-13 02:19] amedyne commented on #18930
Tagging @brampitoyo @topotropic for input.

[2021-04-13 02:19] #15616 closed

[2021-04-13 04:05] majurgens opened #18979 ""Copy Link" context menu copies title instead of URL for HTML5 Video"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-13 04:06] chrishernan commented on #18881
Gotcha. I'll look into it. I'm pretty sure you know your stuff. Because if you're new, then I'm in elementary school when it comes to this stuff. Still learning and trying to become an androi dev haha.

[2021-04-13 05:46] VaishnaviShri commented on #18968
I would like to work on this issue.

[2021-04-13 05:56] neha-b2001 commented on #18226
Thanks @eliserichards 👍

[2021-04-13 06:05] mobd opened #18983 "[Bug] Unable to choose a different login after picking a wrong one"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-13 06:25] x2k13 commented on #18898
This is new since like the last 3 updates. And it is very annoying. Sometimes I want to close (and clear browserdata on quit) the browser when on a website. Having to close all tabs to be able to close the browser is a major nuissance.

[2021-04-13 06:29] cadeyrn commented on #18898
A patch already landed, it will be in the next Nightly build.

[2021-04-13 06:30] x2k13 commented on #18898
Good news.

[2021-04-13 06:37] lobontiumira commented on #18898
Verified as fixed on the 4/13 Nightly build with Samsung Galaxy Note 8 (Android 9).

[2021-04-13 06:37] #18898 closed

[2021-04-13 06:39] cadeyrn commented on #18940
@eliserichards This is already fixed by my PR. This issue needs either QA verfication or can directly be closed. 😉

[2021-04-13 06:41] madb1lly commented on #339
Hi all, isn't there a secret setting to enable this? So, it's in the works and bug can stay open until it's in the release version.
Cheers 🙂

[2021-04-13 06:42] lobontiumira commented on #18814
Verified as fixed on the 4/13 Nightly build with Samsung Galaxy Note 8 (Android 9).

[2021-04-13 06:42] #18814 closed

[2021-04-13 06:42] madb1lly commented on #5419
Hi all,
I think this is still valid as addresses and credit cards form filling is currently being tested.
Cheers 🙂

[2021-04-13 06:44] madb1lly commented on #6379
Hi all,
I don't see these being tested yet in Nightly so I presume it's still open.
Cheers 🙂

[2021-04-13 06:46] madb1lly commented on #3277
Hi all,
I think some things are implemented but others aren't yet.
Cheers 🙂

[2021-04-13 07:07] lobontiumira commented on #18960
Verified as fixed on the 4/13 Nightly build with Samsung Galaxy Note 8 (Android 9), Google Pixel (Android 10), Xiaomi Mi 8 Lite (Android 9), HTC 10 (Android 8), and OnePlus 5T (Android 10).

<img src="https://user-images.githubusercontent.com/40694158/114510891-e1cb4580-9c3f-11eb-9ab6-bc0710b5dc46.jpg" width="300" height="550" />

[2021-04-13 07:07] #18960 closed

[2021-04-13 07:11] sheikh-azharuddin commented on #18938
124MB size extension...are you kidding?? Twice the size of the browser🤣🤣😂

No thanks

[2021-04-13 07:50] Qbsoon opened #18984 "[Bug] Drop-down menu list not working properly"
After recent updates drop-down menu list (this one with bookmarks, history, etc.) is not working properly. When I open it, when my phone is in landscape mode it's ok, but when it's in portrait mode I see only half (upper-half) of the list. And I can click on something and it works. But when I try to swipe to see the whole list, it shows me the whole list, but then none of the buttons are working.

[2021-04-13 07:55] cadeyrn commented on #18984
This was #18814.

This is by design.

[2021-04-13 07:57] ebalazs-sv commented on #18935
I had tested this on the latest Nightly from 4/13, Beta 88.0.0-beta.6 from 4/11 and RC 87.0.0-rc.1 from 3/16 with Samsung Galaxy Tab S3 (Android 8) and could not reproduce it.

[2021-04-13 07:58] Qbsoon commented on #18984
Oh, I searched for it, but still didn't found

Oh, will it be switchable in the options or wherever? I'd love to have quick access to share and refresh buttons.

[2021-04-13 07:59] mobd opened #18985 "Add way to differentiate between logins"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-04-13 08:01] cadeyrn commented on #18984
The bottom bar with the back, forward, share and reload icons will be fixed, they're already working on it. See https://github.com/mozilla-mobile/android-components/pull/10058.

[2021-04-13 08:03] Qbsoon commented on #18984
Ok, thanks for the answers.

[2021-04-13 08:52] SoftVision-LorandJanos commented on #18979
Hi @majurgens ! Thank you for your report! This issue is reproducible as described above.
Verified on the latest on Nightly (210413 05:01 - GV89).
Device used: HTC Nexus 9 with Android 7.1.1.

[2021-04-13 08:52] ebalazs-sv commented on #18983
I had tested this issue on Nightly 4/13 with Samsung Galaxy Tab S3 (Android 8) ad could not reproduce it.
After clearing the first autofill password, I can choose another password from the Suggested logins list. Tested on twitter.com with multiple saved logins.
@mobd Hi! When trying to choose another password, do you clear first the existing password? Also on what page are you trying this scenario

[2021-04-13 08:57] Archaeopteryx opened #18986 "Intermittent UI test failure - org.mozilla.fenix.ui.SettingsBasicsTest changeAccessibiltySettings"
### Firebase Test Run:
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6002984986032830783/executions/bs.6e487ced4a82194d
### Stacktrace:
[code]
### Build:
https://github.com/mozilla-mobile/fenix/commit/6036bf035af68120d781d7997fded0fac4256a14

[2021-04-13 09:02] mcarare commented on #18964
Hello, @priyanka0906! I am not sure what this is about? What misplacement are you reporting? The KDoc is supposed to be above the method it documents so I am not sure what is the purpose of the arrows in the screenshot.

[2021-04-13 09:08] priyanka0906 commented on #18964
@mcarare sorry for that , I thought it comes below the method. My bad😅

[2021-04-13 09:08] priyanka0906 commented on #18964
Thanks for clearing @mcarare

[2021-04-13 09:09] #18964 closed

[2021-04-13 09:10] Mugurell commented on #18984
This is the intended behavior following https://github.com/mozilla-mobile/fenix/issues/17772

[2021-04-13 09:10] #18984 closed

[2021-04-13 09:19] SnexusG commented on #18822
Could someone tell me how to reproduce these failures? When i ran them with an emulator they seemed  to work fine. Am i missing something here?

[2021-04-13 09:33] mobd commented on #18983
@ebalazs-sv I'm trying this on github, as far as I can tell other sites behave the same. I don't mean different passwords for the same username, but different usernames. For example:

![output_0](https://user-images.githubusercontent.com/66154603/114531182-f3b2e580-9c4b-11eb-8d47-b0c6a29cfa8b.gif)

After auto-filling the first login, the second one doesn't show up anymore

[2021-04-13 09:38] lobontiumira commented on #18921
Verified as fixed on the 4/13 Nightly build with:
- Samsung Galaxy Note 8 (Android 9),
- Google Pixel (Android 10),
- Xiaomi Mi 8 Lite (Android 9),
- HTC 10 (Android 8), and
- OnePlus 5T (Android 10).

@mrandreastoth, @keegan-lillo, @JoGarWeb, @Wodnic, please retest this with the latest Firefox Nightly build.
Leaving this ticket opened, for the same reason Mugurell did.

[2021-04-13 09:43] ebalazs-sv commented on #18920
Verified as fixed on Nightly 4/13 with Samsung Galaxy Tab S3 (Android 8).

[2021-04-13 09:43] #18920 closed

[2021-04-13 09:46] SoftVision-LorandJanos commented on #18951
Hi @madb1lly! Thank you for your report! This issue is reproducible as described above. Verified on the latest on Nightly (210413 05:01 - GV89). Device used: HTC Nexus 9 with Android 7.1.1.

[2021-04-13 10:35] mobd opened #18988 "[Bug] Suggested logins don't always respond to clicks"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-13 10:40] ebalazs-sv commented on #18983
Thanks @mobd for the details!
I can reproduce the issue on Nightly 4/13, Beta 88.0.0-beta.6 from 4/11, RC 87.0.0-rc.1 from 3/16 with Samsung Galaxy Tab S3 (Android 8).
Clearing the username and password fields and tapping again the username field, solves the issue.
## Precondition
Have multiple logins saved on the tested login page.
## Steps to reproduce:
1. Launch Fenix and go to mobile.twitter.c

[2021-04-13 11:01] mrandreastoth commented on #17772
I've read this ticket and I still don't understand the justification to force a reduced display height of the menu when the current orientation allows the complete menu to be shown. By this ticket's own logic, this would mean that an app, any spp, should only utilise the maximum height based on the minimum height of the device's possible orientations! Seriously, the correct solution would and shou

[2021-04-13 11:05] mrandreastoth opened #18989 "Scrollable full-height three-dot menu"
#17772 was a mistake. I've read the ticket and there is no logical justification to force a reduced display height of the menu when the current orientation allows the complete menu to be shown. By the ticket's own logic, this would mean that an app, any app, should only utilise the maximum height based on the minimum height of the device's possible orientations! Seriously, the correct solution wou

[2021-04-13 11:08] sv-ohorvath commented on #18986
Started being flaky on Apr 13th.
From the stacktrace it looks like the wrong menu was clicked (Language instead of Accessibility):
`RecyclerView{id=2131362520, res-name=locale_list, visibility=VISIBLE,`

[2021-04-13 11:09] sv-ohorvath commented on #13281
Flaky on 4/13: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5960173271253713072/executions/bs.a82d650a180f6f41/testcases/1/test-cases

[2021-04-13 11:24] cadeyrn commented on #18989
This is not true, there is a logical justification. It is certainly fair to say that not everyone likes it. But it's not true to say that your preferred implementation is the only correct solution and everything else is wrong.

The expandable menu is easier to use for people who prefer to use their smartphone with only one hand. In fact I am not the only one who is interested in improvements for t

[2021-04-13 11:41] SoftVision-LorandJanos commented on #18953
Hi @madb1lly! Thank you for your report!
I cannot reproduce this issue on latest Nightly (210413 05:01 - GV89) and Nightly 210410 17:02.
I can share, add a new collection, bookmark it and close it.
Device used: HTC Nexus 9 with Android 7.1.1.

[2021-04-13 11:47] lobontiumira commented on #17507
I reproduced this issue on the 4/13 Nightly on aliexpress.com, and on pinterest.com eith Samsung Galaxy Note 8 (Android 9).

[2021-04-13 11:51] mrandreastoth commented on #18923
I've figured it out... It has to do with comments that contain the hash character, i.e., #. It appears to only apply to the initial GitHub comment for a ticket and may only apply for hashes that form part of a heading or a ticket number, but I may be wrong.

I created several videos of the issue but I cannot upload them for some reason (hopefully it's not yet another Firefox bug). In of of these v

[2021-04-13 11:59] mrandreastoth commented on #18921
Verify working on "Monday 4/12 @ 5:10 PM", i.e., Nightly 210412 17:03 (Build #2015804235) on Samsung Note 9 running Android 10.

[2021-04-13 12:19] korbel commented on #17865
I looked into it a bit more. This is indeed a bug in [mozilla-mobile/android-components](https://github.com/mozilla-mobile/android-components).
The config used by the reader view is a WeakReference which gets garbage collected after a while (thus the 1 minute wait for me). This is to prevent memory leak I believe. Before v84 it wasn't an issue because the re-rendering process (is it even necessary

[2021-04-13 12:36] LaurentiuApahideanSV commented on #18776
Verified as fixed on Firefox Preview Nightly 210413.
### Devices used:
- OnePlus 6T (Android 9)
- Samsung Galaxy S9 (Android 8.0.0)

[2021-04-13 12:44] sharbet opened #18990 "[Bug] After closing Fenix, `security.enterprise_roots.enabled` resets to `FALSE` by itself"
## Steps to reproduce
1. In  `about:config`, turn on  `security.enterprise_roots.enabled` to `TRUE`
2. Close Firefox Fenix Nightly from Recent Apps.
3. Observe `security.enterprise_roots.enabled` reset to `FALSE`

### Expected behavior
 `security.enterprise_roots.enabled` stays `TRUE`

### Actual behavior
 `security.enterprise_roots.enabled` resets to `FALSE`

### Device information

    Device ve

[2021-04-13 12:45] sharbet commented on #18871
Re-admitted

[2021-04-13 12:45] #18871 closed

[2021-04-13 12:47] ebalazs-sv commented on #18616
Verified as fixed on Nightly 4/13 with Samsung Galaxy Tab S3 (Android 8).
When using Find in page and the toolbar is set at the top, the toolbar and the occupied space disappear.

[2021-04-13 12:47] #18616 closed

[2021-04-13 12:55] SoftVision-LorandJanos commented on #15394
Hi @Yajo ! Thank you for your report! Using a HTC Nexus 9 with Android 7.1.1, I cannot reproduce this issue as described above.
Verified on the Nightly from the day the issue was reported (200924 05:01) and on the latest Nightly (210413 05:01 - GV89).
Can you still reproduce it using the latest builds? Thank you!

[2021-04-13 13:03] ebalazs-sv commented on #18122
Verified as fixed on Nightly 4/13 with Samsung Galaxy Tab S3 (Android 8).
The "Terms of Use" is visible when the keyboard is hidden.

[2021-04-13 13:03] #18122 closed

[2021-04-13 13:07] keegan-lillo commented on #18921
Verified working on Nightly 210412 17:03 (Build #2015804235)

Pixel 4 - Android 11

[2021-04-13 13:24] sflorean commented on #16386
This issue is still reproducible on latest Nightly 4/12 with Samsung Note 10 (Android 11).

[2021-04-13 13:52] LaurentiuApahideanSV commented on #18742
Verified as fixed on Firefox Preview Nightly 210413.

### Devices used:
- OnePlus 6T (Android 9)
- Samsung Galaxy S9 (Android 8.0.0)

[2021-04-13 13:59] ebalazs-sv commented on #18829
Verified as fixed on Nightly 4/13 with Samsung Galaxy Tab S3 (Android 8).

[2021-04-13 13:59] #18829 closed

[2021-04-13 14:18] madb1lly commented on #18953
Hi @SoftVision-LorandJanos,
Are you using the new tabs tray enabled through secret settings?
Cheers 🙂

[2021-04-13 14:55] sflorean commented on #17504
This issue is still reproducible on latest Nightly build with Pixel 3 (Android 11), but not on Chrome.

[2021-04-13 15:00] #18934 closed

[2021-04-13 15:01] sflorean commented on #18128
I was able to reproduce this on latest Nightly build, only when the scroll is at the end of the page, with Pixel 3 (Android 11).

[2021-04-13 15:15] sflorean commented on #16576
I wasn't able to reproduce this issue on latest Nightly build with:
- Samsung Note 10(Android 11)
- Pixel 3 (Android 11).
Closing this as fixed, since the Bugzilla bug is also fixed started with GV 88.

[2021-04-13 15:15] #16576 closed

[2021-04-13 15:17] SoftVision-LorandJanos commented on #18953
Yes, I had to look it up how I should enable it, but I managed it, I still couldn't reproduce the issue. Might be device or Android specific, since those are different from yours. I will ask someone with close or with the exact device/android as you have, might have a better chance of reproducing it. Thank you!

[2021-04-13 15:22] Dunexus commented on #18950
This depends on several things such as screen height and keyboard height. I don't know how this can be handled.

[2021-04-13 15:23] gabrielluong opened #18992 "Nimbus: Display all nimbus experiments"
Currently, we only show an user's enrolled experiment which does not fit the Dev/QA internal tooling use case. We are currently waiting for a new Nimbus API in order to accomplish this.

[2021-04-13 15:24] Dunexus commented on #18938
This is the price for offline/cloudless translation.

[2021-04-13 15:24] sflorean commented on #18004
The issue is still reproducible on latest Nightly build with Pixel 3 (Android 11).

[2021-04-13 15:24] gabrielluong opened #18993 "Nimbus: Allow internal tooling to opt into specific branches of an experiment"

[2021-04-13 15:26] Mugurell commented on #12104
@sflorean Can you please post videos for the above scenarios for letting UX to decide if and what should be changed?

[2021-04-13 15:39] sflorean commented on #14839
I confirm that this is reproducible on latest Nightly build, following the steps, with Samsung Note 10 (Android 11).

[2021-04-13 15:47] sflorean commented on #12104
![20210413_184537](https://user-images.githubusercontent.com/58466444/114581720-a143ea00-9c88-11eb-993e-b3ec39c40ff7.gif)

[2021-04-13 15:58] st3fan opened #18995 "Upgrade the sync-strings action to v1.0.1"
Upgrade the sync-strings action to 1.0.1 - which fixed a bug related to using the proper list of locales to keep up to date.

[2021-04-13 16:46] KWierso opened #18997 "[Bug] Twitter PWA keeps dying on me"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-13 16:56] KWierso commented on #18997
"a period of time" might be "at least 30 minutes or more", for the record. It's not an immediate thing, so quickly trying to reproduce this isn't going to work.

[2021-04-13 16:59] kbrosnan commented on #18990
This is a dupe of #3728 and fallout from bz-1678191

[2021-04-13 16:59] #18990 closed

[2021-04-13 17:13] mcarare commented on #18376
@topotropic Should we also keep the _Account_ preference category in order to provide some consistency for users who will be enrolled in the experiment? And also the custom user avatar (profile picture) and the yellow background for sync problems?

I've attached screenshots with these, let me know if they are ok or should I follow the mocks in Figma exactly? Thank you!

<img src=https://user-image

[2021-04-13 17:38] iiitomo commented on #15662
Sad to see this ticket closed with no comment from devs, despite easy fix was provided in initial post.

[2021-04-13 17:42] frigus02 commented on #13183
Oops sorry. I misunderstood the stalebot's message. Thought we should open new tickets for still valid issues. Thanks for sorting this out.

Easier reproduction steps are in the duplicate:

-    https://corp-icons.glitch.me/ 👉 serves icons with Cross-Origin-Request-Policy: same-origin header and has the above mentioned issue
-    https://nocorp-icons.glitch.me/ 👉 is the same except that it serves

[2021-04-13 17:44] eliserichards commented on #13183
No worries! It's a new-ish bot and we don't really have a strict process for new tickets/reopening yet. Thanks for the additional info!

[2021-04-13 17:47] #18995 closed

[2021-04-13 17:51] eliserichards commented on #18822
They are failing intermittently. This is a good guide on how to run the tests locally until they fail: https://medium.com/monsterculture/reproduce-flaky-tests-b8b42306d23f

[2021-04-13 17:51] mrandreastoth commented on #18923
I can confirm that the above steps work as expected under the desktop version of Firefox.

[2021-04-13 18:00] SnexusG commented on #18822
Oh, got it. Thank you.

[2021-04-13 18:28] madb1lly commented on #18953
![Screenshot_1618315248551](https://user-images.githubusercontent.com/25123631/114602332-c8a1b380-9c96-11eb-8e31-6158c88bbbc4.jpg)

[2021-04-13 18:36] priyanka0906 commented on #16395
@eliserichards may I work on this? Please assign this to me if someone is not working on this.

[2021-04-13 18:51] kbrosnan commented on #18972
Filed bz-1704887

[2021-04-13 18:51] #18972 closed

[2021-04-13 18:54] yoasif commented on #15662
Reopen please. @kbrosnan @st3fan

[2021-04-13 19:14] priyanka0906 commented on #16343
@eliserichards  I want to work on this . Please assign this to me

[2021-04-13 19:34] gabrielluong opened #19000 "[Update card expiration date?] Display a prompt to update a card expiration"
This is to add a prompt for updating a credit card expiration date.

<img width="251" alt="Screen Shot 2021-04-13 at 3 33 47 PM" src="https://user-images.githubusercontent.com/1190888/114610263-b19a9b80-9c6d-11eb-9fda-8ff8f053d120.png">

[2021-04-13 19:56] jonalmeida opened #19002 "Consistent naming and conventions in the tabs tray"
This ticket is for agreeing on some naming consistencies and conventions that are easier to do with fewer pieces of the tabs tray code moving around every day. 😄

Looking for feedback from @rocketsroger and @codrut-topliceanu since we all worked on the initial refactoring.

## Actionable tasks
- [ ] Rename all 'store' references to their specific type:
  - If it's a `TabsTrayStore` then: `store` -

[2021-04-13 20:00] #18885 closed

[2021-04-13 20:07] jonalmeida opened #19003 "Show three-dot menu for Synced Tabs in tray"
@rocketsroger I just remembered that we have synced tabs now, so I'm not sure what three-dot menu should show be when it's focused.

Might be a question for @topotropic.

_Originally posted by @jonalmeida in https://github.com/mozilla-mobile/fenix/issues/18513#issuecomment-810650887_

<img width="199" alt="Screen Shot 2021-04-13 at 4 07 27 PM" src="https://user-images.githubusercontent.com/1370580

[2021-04-13 20:09] jonalmeida commented on #19003
Some suggestions might be the account settings page and/or recently closed.

[2021-04-13 20:13] klint commented on #11367
Hi
Could the be resolved now that the new menu has been implemented? Looks ugly on this new shiny menu... 😋Thanks

[2021-04-13 20:23] jonalmeida opened #19005 "[Bug] Three-dot menu on a new tab should not have synced tabs in it"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-13 20:23] jonalmeida commented on #18867
See Bram's response above: https://github.com/mozilla-mobile/fenix/issues/18867#issuecomment-817481461

[2021-04-13 20:35] #18742 closed

[2021-04-13 20:58] topotropic commented on #19003
Yes, that makes sense. We should replace "Tab settings" with "Account settings" for the synced tab view. Thanks!

[2021-04-13 21:00] Rodze opened #19006 "[Bug] Three-dot menu is not really scrollable"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-13 21:00] topotropic commented on #18376
Thanks, Mihai! This looks good.

[2021-04-13 21:04] topotropic commented on #18950
Thanks for the feedback! We're looking at improving the home screen and will consider this.

[2021-04-13 21:04] #18950 closed

[2021-04-13 21:05] Rodze commented on #19006
Related to #17796

[2021-04-13 21:48] #18931 closed

[2021-04-13 21:55] amedyne commented on #19006
@eliserichards

[2021-04-13 21:59] Hubfront commented on #8642
How will firefox be competitive with chrome, if the devs cant even fix basic authentification?

[2021-04-13 23:01] Amejia481 commented on #18857
Just for context we are also sending   [default_browser](https://github.com/mozilla-mobile/fenix/blob/5560d7de016054509fc9a596468c43f1e38bbeb0/app/metrics.yaml#L748)

[2021-04-13 23:06] kglazko commented on #18744
Hi @brampitoyo, in making these changes in this PR https://github.com/mozilla-mobile/fenix/pull/19009/files I realized that the background color of the New Tab Page Background is actually defined by `foundation_dark_theme` which affects more components than just the New Tab Page background. In talking to @gabrielluong he suggested this could be a difficult change from a UX perspective as it affect

[2021-04-13 23:18] tdsmith commented on #18857
Thanks for the callout. Having both the state and the transitions represented in telemetry for important lifecycle events helps us avoid having to synthesize one from the other, which can be annoying or expensive.

I see the `events.set_default_browser_experiment` event in #18982; I think an event that does not depend on this particular experiment will facilitate tracking set-default rates going f

[2021-04-13 23:19] tdsmith commented on #18857
Oh: the other thing that we need is an event that we can observe in the control branch, which we don't get from #18982.

[2021-04-14 00:05] lindongbin commented on #15449
can reproduce on nightly 210413 build 2015804427

1.open a page
2.menu - add
3.menu - edit
4.Click the delete icon, and then confirm to delete
5.The menu and address bar cannot be clicked before the bookmark deletion prompt disappears

https://imgur.com/HGMpnM7

[2021-04-14 00:54] gabrielluong commented on #18744
Spoke with @brampitoyo, we don't want to make the New Tab Page background change right now since it will affect multiple components that have not been investigated yet. Let's do it in the future. Since we aren't doing new tab page background change, we won't make the change for the tile background color as well. We are closing this and will file a new issue in the future when we want to tackle thi

[2021-04-14 00:54] #18744 closed

[2021-04-14 01:38] metronightly commented on #19005
Exactly, this should be somewhere inside. And to add to that, onstead of the words 'Synchronised Tabs', I have my entire email from Firefox account plastered over the 3 button menu which is ridiculous.

[2021-04-14 01:40] jonalmeida opened #19011 "[Bug] Private tabs cannot be selected in tabs tray re-write"
## STR
Load a few private tabs.
Try to select another one.

## Actual Results
This won't work because we removed the default onClickListener when we added the SelectionInteractor to handle the multi-select cases.

https://user-images.githubusercontent.com/1370580/114641809-c3496680-9ca0-11eb-954f-160b440fa00a.mp4

[2021-04-14 01:41] metronightly commented on #19003
Exactly, this should be somewhere inside. And to add to that, instead of the words 'Synchronised Tabs', I have my entire email from Firefox account plastered over the 3 button menu which is ridiculous.

Nightly 210412, Android 10

[2021-04-14 01:47] brampitoyo commented on #18744
@gabrielluong @kglazko Confirming this.

By the first look, the colour change doesn’t seem to that drastic:

- Foundation/base colour (includes New Tab Page background): `Dark Grey 80` `#1c1b22` → `Dark Grey 60` `#2b2a33`
- Above colour (includes Shortcut Tile background): `Dark Grey 50` `#32313c`→| `Dark Grey 30` `#42414d

On one hand, changing the global `foundation` and `above` colour values wi

[2021-04-14 02:17] geneukum commented on #16395
Just as a heads up, I opened PR https://github.com/mozilla-mobile/fenix/pull/17997 for this issue back in February. I apologize if I've stepped on anyone's toes. Please feel free to decline that PR and to assign the issue to @priyanka0906 if that's desirable here.

[2021-04-14 02:29] brampitoyo commented on #18867
Thanks @jonalmeida! @eliserichards, by only including email address in this FxA menu item, our approach will be identical across platforms.

#### Desktop

<img width="294" alt="Screen Shot 2021-04-14 at 2 26 36 PM" src="https://user-images.githubusercontent.com/51007/114645358-6c3da300-9d2d-11eb-8660-45d50b6ad6f4.png">

#### iOS

<img width="360" alt="Shadow@2x" src="https://user-images.githubuser

[2021-04-14 02:45] ffxsam opened #19013 "[Bug] Firebox Mobile possibly not sending HTTPS cookies when fetching mp3s from m3u8 playlist"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-14 03:19] brampitoyo commented on #18930
Thanks @TheGreySquare for pointing out our inconsistency issues.

---

We’re already planning to tackle issue 1:

Not by completely enclosing the favicon, but by making the favicon’s rounded corner radius (4dp) proportional to the rounded corner radius of its frames (8dp).

This will help make our New Tab Page look and feel more consistent to Firefox for desktop and iOS.

<img width="360" alt="New

[2021-04-14 03:35] TheGreySquare commented on #18930
Thank you for responding
Those examples that you shared are definitely look much more polished and consistent than the current implementation – I think it would look great
The only suggestion I'd like to share is regarding bookmark and search engine thumbnails – maybe it would be a good idea to increase frame's rounded corners size from 2dp just a bit? Just a thought

[2021-04-14 03:51] makotokato commented on #3708
@dchee2
Please file new issue.

[2021-04-14 04:53] TheGreySquare commented on #1938
I'll leave here some Black Theme mockup images, just in case this issue will be worked on somewhere in the future (#000000 for BG; #151515 for searchbar; #202020 for elevated menus (3-dot menu, for example), looks good enough I think):

![Firefox Android - Amoled Black Theme Mockup 1.png](https://user-images.githubusercontent.com/47947180/114655872-ba36b480-9cf5-11eb-852e-86d6f1ddd5d4.png)
![Firef

[2021-04-14 05:15] hsivonen commented on #16121
This page would actually be fixable via the menu in desktop Firefox.

In this case, the data loss has happened on the server side and is not recoverable on the browser side.

[2021-04-14 06:17] cadeyrn opened #19015 "[Bug] (regression) new tabs tray no longer shows tabs once you switch the tab category"
### Steps to reproduce

1. open the new tabs tray
2. switch to either private or synced tabs
3. switch back to regular tabs

### Expected behavior

You can see your tabs.

### Actual behavior

No tabs are shown.

/cc @jonalmeida because it's related to the tabs tray work.

### Device information

* Device vendor / model and Android version: OnePlus 7T Pro McLaren / Oxygen OS 11 (Android 11)
* Fire

[2021-04-14 06:52] rikhwanto commented on #18935
I opened my download history and tried to redownload the last file I downloaded where it appeared but it didn't reproduce either. The file I last downloaded where it appeared was a video file that I "save file to device", from https://video.twimg.com/ext_tw_video/1376637728075431942/pu/vid/1280x720/fBnZ-2dqx_hH5Z_D.mp4?tag=12

[2021-04-14 07:57] sv-ohorvath commented on #18986
Failed 2/2 on 4/14: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7097988237602191066/executions/bs.7479f5095bf9e4f4/testcases/2/test-cases

[2021-04-14 07:58] sv-ohorvath opened #19016 "Intermittent UI test failure - SettingsBasicsTest.changeThemeSetting"
### Firebase Test Run:
Failed 2/2 runs
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5621141719962690128/executions/bs.fe4717338bdad452/testcases/2/test-cases
### Stacktrace:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Light"
View Hierarchy:
+>DecorView{id=-1, visibility=VISIBLE, width=

[2021-04-14 08:03] sv-ohorvath commented on #19016
The stacktrace indicates that the current view was the home screen view, instead of the expected Theme settings menu:

`+---------->AppCompatImageButton{id=2131362748, res-name=privateBrowsingButton, desc=Enable private browsing, visibility=VISIBLE, width=132, height=132, has-focus=false, has-focusable=false, has-window-focus=true, is-clickable=true, is-enabled=true, is-focused=false, is-focusable

[2021-04-14 08:19] j1elo commented on #18944
Thanks for the clarification, from a developer point of view this distinction makes sense. It makes me think though, how many good reports related to Gecko and GeckoView, thus unrelated to the specific issues of the old application, might have been lost (automatically closed) with the migration to GitHub.

Re. this report: it makes sense to me now that the rendering issues are still happening on t

[2021-04-14 08:25] j1elo commented on #18944
Reposted here: https://bugzilla.mozilla.org/show_bug.cgi?id=1685629#c1

[2021-04-14 08:25] #18944 closed

[2021-04-14 08:40] CapitainFlam commented on #17212
Greatings, fellows !

To confirm hereby that thebug can be reproduced today, on

galaxy note8
android 8.0.0
kernel 4.4.111-13688770-QB20376468
(29 oct 2018)

FF BRowser for Android
87.0.0-rc.1 build #2015799099
AC 73.0.11, bea80bbac
GV 87.0-20210315170302
AS 71.0.0
tuesday 3/16 @11:37pm

[2021-04-14 09:11] lobontiumira commented on #17855
Reproducible on RC 88.1.0 with Xiaomi Mi 8 Lite (Android 9).

[2021-04-14 09:19] hakkikaancaliskan commented on #19015
I think #19014 will solve this issue

[2021-04-14 09:32] cadeyrn commented on #19015
Thanks. I can confirm that #19014 will fix this issue.

[2021-04-14 09:49] Mugurell commented on #18591
Reopening this for adding the navbar configuration for having it sticky following https://github.com/mozilla-mobile/android-components/issues/9932

[2021-04-14 09:59] kbrosnan commented on #19013
Firefox for Android ships with its [own copy of exoplayer](https://searchfox.org/mozilla-central/source/mobile/android/geckoview/src/thirdparty/java/org/mozilla/thirdparty/com/google/android/exoplayer2) for HLS playback.

[2021-04-14 10:36] rndie opened #19019 "Double tap to seek"
Double tap to seek like youtube for every website.

[2021-04-14 10:52] DV2FOX commented on #17212
The issue started happening a few days ago again.. This ain't normal..Take ya time to search for fixes for it.

Thanks for the efforts too

[2021-04-14 11:13] Webbeh commented on #3728
Any ETA on the fix for #18990? This regression happened about 10 days ago and I can't use my phone on my company's network anymore without toggling enterprise_roots back on every few hours.

[2021-04-14 11:28] sv-ohorvath opened #19020 "[Bug] Customize settings view closes after changing the theme"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-14 11:30] sv-ohorvath commented on #19016
Logged a bug for this: https://github.com/mozilla-mobile/fenix/issues/19020

[2021-04-14 11:32] SnexusG commented on #16437
is this still relevant?

[2021-04-14 11:52] SnexusG commented on #16007
isn't there a way to figure out if the file requested for download is from a FTP server and then make an exception for it in the app itself?

[2021-04-14 12:10] lobontiumira commented on #16820
Reproducible on RC 88.1.0 with Xiaomi Mi 8 Lite (Android 9) on I can reproduce this issue on the https://bitmovin.com/demos/av1 page.

[2021-04-14 12:25] platinops opened #19022 "Show top sites when address bar is selected in an existing tab"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Feature Requests are better when they’re open-ended instead of

[2021-04-14 12:30] codrut-topliceanu opened #19023 "[Bug] Last opened tab hidden due to un-expanded tabTray"
## Steps to reproduce
1. Have 10-15 tabs open, have the last tab selected as current tab
2. Open tabs tray
### Expected behavior
Scrolling through the list you should be able to see the last opened tab in list. Or the tabTray should have expanded to allow it to be visible.

### Actual behavior
Latest tab nowhere to be seen.

### Device information

* Device vendor / model and Android version: Pixe

[2021-04-14 12:31] Dunexus commented on #19019
Duplicate of https://github.com/mozilla-mobile/fenix/issues/6136

[2021-04-14 12:32] Archaeopteryx opened #19024 "Intermittent test failure - org.mozilla.fenix.tabstray.NavigationInteractorTest - onOpenRecentlyClosedClicked calls navigation on DefaultNavigationInteractor"
### Firebase Test Run:
https://treeherder.mozilla.org/logviewer?job_id=336430022&repo=fenix
### Stacktrace:
[code]
### Build:
https://github.com/mozilla-mobile/fenix/commit/990bfa7e6dd5894d61473a41da6129e6947974e2

Regression from #18889 ? @MarcLeclair

[2021-04-14 13:07] ffxsam commented on #19013
So it's supposed to play m3u8 playlist files? Because it's not working for me. I get a "NotSupported" error.

[2021-04-14 13:44] lazylynx opened #19026 "[Bug] Edited url is not loaded in current tab when opening link from external apps"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-14 13:46] Amejia481 commented on #16007
I think using the protocol part from the request `URL` can help use to identify it. We need to do the change on  [Android components](https://github.com/mozilla-mobile/android-components)  as the download is entirely handled by the [download module](https://github.com/mozilla-mobile/android-components/blob/master/components/feature/downloads/README.md) to make it reusable for other apps.

[2021-04-14 14:15] Yajo commented on #15394
I can still reproduce it when using the same scenario and the latest nightly.

[2021-04-14 14:24] SnexusG commented on #16007
yea i think we can identify using the url scheme. i'll try to look into it though i'm pretty new to all of this.

[2021-04-14 14:56] #18272 closed

[2021-04-14 15:08] #19011 closed

[2021-04-14 15:10] mcarare commented on #18815
Reopened for QA.

[2021-04-14 15:18] #1253 closed

[2021-04-14 15:21] madb1lly commented on #1253
Hi @pocmo,
Why is it closed? I know that Stumbler is no longer maintained but what about the backend Mozilla Location Service? Is that also defunct now?
Cheers 🙂

[2021-04-14 15:24] padenot commented on #19013
Maybe just gave us a link to you m3u8 file? I've tried quite a few just now, randomly searching on the web, and it works as expected. Maybe it's a content-type issue, or a codec issue?

[2021-04-14 15:36] pocmo commented on #1253
The location service is still there and being used. But there's currently no plan to fill it with data from Fenix (stumbler integration).

[2021-04-14 15:54] mcomella commented on #18836
I opened https://github.com/mozilla-mobile/fenix/pull/18882 for a refactor and https://github.com/mozilla-mobile/fenix/pull/19028 for the probe.

[2021-04-14 15:57] Multipanda commented on #16121
Any browser with a charset selector would fix the mojibake, doesn't help that desktop Firefox has the option when the android version doesn't anymore.
So the OP will need to use another browser like I suggested, maybe the fenix devs will re-add it at some point, but don't expect it to be anytime soon..

[2021-04-14 15:57] jonalmeida commented on #19023
Our RecyclerView seems to be a fixed sized, even if the amount visible is different. That might be at least part of the problem if not the entire thing.

https://user-images.githubusercontent.com/1370580/114741067-6be6dd00-9d18-11eb-9252-d9f5894b545d.mp4

Notice in the video above that the RecyclerView lines at the bottom do not alter after we've expanded it (because it's fixed to being the full l

[2021-04-14 16:28] jonalmeida commented on #19024
This looks like an intermittent from when we landed https://github.com/mozilla-mobile/fenix/pull/18932.

Taking this.

[2021-04-14 16:28] jonalmeida commented on #19024
This is not a ui-test failure. 🙂

[2021-04-14 16:49] #18547 closed

[2021-04-14 17:13] jonalmeida opened #19030 "[Bug] Homescreen is not scrollable to see collections"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-14 17:14] jonalmeida commented on #19030
This bug came up from the fix in https://github.com/mozilla-mobile/fenix/issues/8545 which I'm going to revert for now.

[2021-04-14 17:14] B0pol commented on #10477
I can't reproduce too

[2021-04-14 17:14] #10477 closed

[2021-04-14 17:15] jonalmeida commented on #8545
To fix https://github.com/mozilla-mobile/fenix/issues/19030, I'm going to revert the change for this PR and re-open the issue.

[2021-04-14 18:07] mcomella commented on #17005
QA: can you try to reproduce this issue – that tabs get reloaded after backgrounding and foregrounding the app? Specifically, the steps from the first comment (copied below for clarity):

Please:
- test on a low-end device (I was going to try a Moto G5; perhaps Android 7 is also important from the initial comment)
- try 1) without an add-ons and 2) with add-ons, including ublock

Thank you!

---

[2021-04-14 18:26] #18776 closed

[2021-04-14 18:44] MarcLeclair commented on #16900
QA needed:  This patch changes how we load our navigation component ( just asynchronously). So I think for testing, it should just be general navigation testing (i.e: navigating from the widget / to settings, etc...)

[2021-04-14 19:08] makotokato commented on #15394
@SoftVision-LorandJanos
This issue is Samsung device only. Although I comment via https://github.com/mozilla-mobile/fenix/issues/15394#issuecomment-701465943, this is GV issue. But Samsung's web browser seems to use internal API for this feature, so I have no idea to fix this.

[2021-04-14 19:08] StSav012 commented on #17005
Oh, I just wanted to text an update on the issue.

I've accidentally reset my phone to factory defaults. Just before that, the SMS app broke (it seemed kind of impossible), and the phone worked just like it's memory almost died.

After the reset, I've got virtually a brand new phone. I've installed some apps I frequently use. And since then **I can not reproduce the issue myself**! So, I suppose I

[2021-04-14 19:12] mcomella commented on #17005
Thanks for the update! I'll reopen the issue just to have QA check it one last time. If they can't reproduce, we can close this. If you experience it again after that, please reopen – thanks!

[2021-04-14 19:18] andreicristianpetcu commented on #18989
My most common buttons are by default hidden: back, share, refresh and forward. Am I using it wrong? :)

![Screenshot_20210414-221133_Firefox_Nightly](https://user-images.githubusercontent.com/922368/114766539-315c5f00-9d6f-11eb-85c5-6d4b46afb898.png)
![Screenshot_20210414-221137_Firefox_Nightly](https://user-images.githubusercontent.com/922368/114766547-33beb900-9d6f-11eb-993d-ff05b1459a02.png)

[2021-04-14 19:24] andreicristianpetcu commented on #18989
Long press on the triangular back button is not the same as long press on the arrow button. The arrow button shows tab history on long press. The triangular button used to do this also but not anymore.
![Screenshot_20210414-222314_Firefox_Nightly](https://user-images.githubusercontent.com/922368/114767366-34a41a80-9d70-11eb-9820-c28e84f1619c.png)

[2021-04-14 19:32] #18948 closed

[2021-04-14 19:34] cadeyrn commented on #18989
This is #18591 and almost there.

Works for me. You should open a separate issue for that.

[2021-04-14 19:54] #5499 closed

[2021-04-14 19:54] #9888 closed

[2021-04-14 19:54] #15781 closed

[2021-04-14 20:27] rocketsroger commented on #18068
Nightly have the latest fix.  Please verify, Thanks!

[2021-04-14 20:47] eliserichards opened #19036 "Sync menu item should react to account changes"
Make the sync sign in item in the three-dot menu listen for account changes and update the menu item. The current menu is being lazily evaluated, so changes aren't reflected right away.

[2021-04-14 20:48] eliserichards commented on #18806
Waiting on https://github.com/mozilla-mobile/fenix/pull/19035. Can be QA'd once that lands

[2021-04-14 20:52] eliserichards commented on #18989
@andreicristianpetcu the sticky footer for the nav buttons has landed in Android Components and we are waiting for the version to be updated in Fenix. Your buttons will be back soon! 👍

Closing this issue in favor of #18591

[2021-04-14 20:52] #18989 closed

[2021-04-14 20:54] #15805 closed

[2021-04-14 20:55] eliserichards commented on #19005
The new designs show synced tabs/sync sign in on the new tab menu:

<img width="323" alt="image" src="https://user-images.githubusercontent.com/43795363/114777919-d65c4500-9d39-11eb-9723-ac030554ed6b.png">

https://www.figma.com/file/NHu4cTmzfYgi3QJz5DIDWD/Fenix-Toolbar-Menus?node-id=0%3A1

[2021-04-14 20:57] eliserichards commented on #19005
Synced tabs/sync sign in were checked in the default toolbar but not in new tab.

[2021-04-14 21:17] eliserichards opened #19038 "Investigate showing account picture in menu when signed in"
Based on @brampitoyo's comment (below), iOS is showing the user's FxA picture when they are signed in. Do we want to do this in the three-dot menu when a user is signed in? Currently the user sees a generic tabs icon and their account email address.

---

#### Desktop

<img width="294" alt="Screen Shot 2021-04-14 at 2 26 36 PM" src="https://user-images.githubusercontent.com/51007/114645358-6c3da30

[2021-04-14 21:18] eliserichards commented on #19038
Based on discussion in #18867

[2021-04-14 21:56] csadilek commented on #18792
Duping to https://github.com/mozilla-mobile/fenix/issues/17865 which describes the cause / reason of this.

[2021-04-14 21:56] #18792 closed

[2021-04-14 22:31] birdie-github opened #19039 "[Bug] The new menu is too sparse and has too much white space"
This is a run-of-the-mill device with Android 10, and FHD+ resolution.

A build of Firefox a week ago or so didn't have this bug.

![Screenshot_1](https://user-images.githubusercontent.com/4958603/114788416-ed6a5980-9d70-11eb-8cc6-d4208bf79534.png)
![Screenshot_2](https://user-images.githubusercontent.com/4958603/114788418-ee02f000-9d70-11eb-9bd5-8c199be97168.png)

[2021-04-14 23:08] hakkikaancaliskan commented on #18916
Fixed on 4/14

[2021-04-14 23:08] #18916 closed

[2021-04-14 23:19] birdie-github commented on #19039
The second menu takes pretty much all the vertical space, i.e. close to 2000 pixels.

[2021-04-14 23:20] krupa-raj opened #19040 "Turn off all Leanplum integrations on Fenix by May 31,2021"
Mozilla has decided to not renew our Leanplum contract for 2021-22. The current contract will expire on May 31, 2021. We need to turn off any Leanplum integrations in our products by that date.

This work should include the following:

 - Remove the Leanplum SDK dependency from our builds so that the product does not include it anymore.
 - Remove all Leanplum related code from the product
 - Remov

[2021-04-15 00:23] ale82to commented on #19022
plenty of users asked for this included myself about a year ago when fenix was still a preview but developers simply will not listen to important feature actually missing from fenix

[2021-04-15 01:07] jonalmeida opened #19043 "Write a UI test to prevent scrolling regression in the homescreen"
When fixing https://github.com/mozilla-mobile/fenix/issues/19030, I wanted to write a UI test for this, but I don't currently have the bandwidth to work this out right now.

Filing this ticket to remember to implement it soon after some deadline requirements are met.

[2021-04-15 01:38] gabrielluong commented on #15790
This seems like something we would want to do.

[2021-04-15 01:40] gabrielluong commented on #18612
https://github.com/mozilla-mobile/fenix/issues/9888
https://github.com/mozilla-mobile/fenix/issues?q=label%3A%22style+guide%22+is%3Aclosed
https://github.com/mozilla-mobile/fenix/issues/5499#issuecomment-814490376

[2021-04-15 01:41] gabrielluong commented on #18612
https://github.com/mozilla-mobile/fenix/projects/40#card-36210597

[2021-04-15 02:55] #17585 closed

[2021-04-15 02:55] jonalmeida commented on #17585
This is now fixed.

[2021-04-15 03:35] jonalmeida commented on #19030
Hmm.. must have closed the bug in error.

[2021-04-15 03:39] brampitoyo commented on #19038
@eliserichards Just confirming this: when selected, the email address menu item will take people to the “Account settings” Settings sub-page, and not the “Synced tabs” page?

“Synced tabs” will only be accessible from within the Tab Tray, as @jonalmeida wrote in https://github.com/mozilla-mobile/fenix/issues/18867#issuecomment-817852031

[2021-04-15 04:37] jonalmeida opened #19045 "Close tabs tray when all tabs on the current page are closed"
This was the original behaviour, let's keep it!

[2021-04-15 04:46] #19003 closed

[2021-04-15 06:04] Mugurell commented on #15694
I think this would still be a nice addition to the app.
Asking @grigoryk about it.

[2021-04-15 06:16] cadeyrn commented on #19039
If you mean the width of the menu with "has too much white space" then it's not a bug. It has this width due to the long "signed in" string. It will be shorter once #19035 lands.

[2021-04-15 06:21] Alexey71 commented on #3728
Please fix bug https://github.com/mozilla-mobile/fenix/issues/18990

[2021-04-15 06:52] birdie-github commented on #19039
1. The vertical spacing between menu items has increased dramatically.
2. The menu spans almost the entire screen.

[2021-04-15 07:11] cadeyrn commented on #19039
This is not true. I just measured the vertical spacing between the menu items in Firefox 87 and Firefox Nightly - it is exactly the same. With "New Tab" the menu has one menu item more now (well, two more if you compare stable with Nightly because "Report Site Issue" was always Nightly only).

The width increased for the reason I mentioned in my previous comment. And as I already said it will decr

[2021-04-15 07:39] hsivonen commented on #16121
No, in the second case, data loss has happened on the server side and no browser-side encoding choice could fix it.

I agree. My point was to check whether the reported cases would be fixed by providing a UI entry point. The result is that one would and the other wouldn't.

In any case, Fenix shouldn't introduce the kind of submenu that desktop Firefox has. That's in the [process of being replaced

[2021-04-15 08:01] zepfietje commented on #11946
I agree with @saschanaz.
Currently when you share `title` or `text` without `url`, nothing is actually shared.
I'm quite sure this is not the intended behavior and is in fact a regression introduced by #11194.
So @ekager, could you remove the `feature request` label from this issue as it clearly is a bug and not a feature request?

[2021-04-15 09:18] madb1lly commented on #1253
Hi @pocmo,
So how does MLS get kept up to date, e.g. with changing Wifi hotspot names? I'm quite surprised that Mozilla don't want to use their premier mobile product to maintain MLS.
Cheers 🙂

[2021-04-15 09:24] mrandreastoth opened #19048 "[Bug] Bottom right-edge swipe gesture blocked on initial page"
Firefox blocks the bottom right-edge swipe-up gesture on the initially launch page.

I have my system configured with swipe-up gestures for Recent, Home, and Back, in that order. When running Firefox, the Back gesture, assigned to the bottom right of the screen, doesn't work on the initially opened page. The other two gestures work.

The issue only appears to happen on having launched Firefox via

[2021-04-15 09:32] mrandreastoth commented on #19048
### Device settings
![Screenshot_20210415-112925_Settings](https://user-images.githubusercontent.com/26897855/114847595-25f44c80-9dde-11eb-8026-52c63c6a099b.png)

[2021-04-15 09:38] abodea commented on #18815
Verified as fixed on the latest **Nightly 4/15** with **Google Pixel 4XL (11), Samsung Galaxy S10+ (10), Samsung Galaxy S7 (7).**
Note that the Firefox Browser logo and PB icon are displayed after tapping on the Start Browsing button.

[2021-04-15 09:38] #18815 closed

[2021-04-15 10:09] Djfe commented on #1253
me too, this could literally be the end, if Mozilla doesn't help fill the service with fresh data. Of course it will get some data from third parties like tower collector and Open Cell ID but those are only collecting cell towers. No wifi access points or Bluetooth beacons which allow a more accurate position estimation.

[2021-04-15 10:26] Yajo commented on #15394
Maybe not samsung device but samsung browser? No idea. The weird point is that it works elsewhere, but not with firefox. 🤷🏼‍♂️

[2021-04-15 10:30] headbank commented on #3728
This is an interesting development. @kbrosnan in closing #18990 declares it a dupe of this issue, and blames it on fallout from [bz-1678191](https://bugzilla.mozilla.org/show_bug.cgi?id=1627756). The latter, I see, is them adding the **security.enterprise_roots.enabled** pref UI support.

Unfortunately, that implementation has the pref **disabled by default**. (See line 2.44 of the [commit](https:

[2021-04-15 10:34] USvsTHEM opened #19049 "Scrollable Menu"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ? Galaxy S9
* Fenix version: ?88 Nightly

Please please please remove the scrollable side menu im used to bookmarking and adding tabs to my collection and you guys jacked it up huge flunky move guys and i despise anything google has tentacles attached to tighten up yall lovin the vibe you g

[2021-04-15 10:40] mrbirne opened #19050 "[Bug] Fullscreen open keyboard dose not change window.innerHeight"
When fullscreen is active and the keyboard is displayed the window.innerHeight dose not change and no resize event is fired.

I've created a small webapp where you can answer questions. The With and height is calculated depending on available height and width. When the Quiz is started fullscreen will be entered. But if there is a question with Text the input can be hidden behind the keyboard.

![S

[2021-04-15 10:44] USvsTHEM commented on #18893
scrollabke menu is trash yall gotta slow down Mannn yall killing the underdog nobody likes Google !!! yall hiding the hottest buttons

[2021-04-15 10:47] USvsTHEM commented on #17796
remove this foolishness yall fumbled

[2021-04-15 11:58] Mugurell opened #19051 "Improve the Settings screen"
Currently settings are updated after first being shown on screen.
They may start visible or not and after being displayed on the screen we recheck their status and may decide to add or remove them from the screen. This is a visual bug caused by calling the [update](https://github.com/mozilla-mobile/fenix/blob/a3f4cee388f8d18208ecc11b4ee84900f7e4e659/app/src/main/java/org/mozilla/fenix/settings/Set

[2021-04-15 12:06] sharbet commented on #3728
Please fix this bug, #18990.

[2021-04-15 12:14] #15392 closed

[2021-04-15 12:33] SoftVision-LorandJanos commented on #17168
This is still reproducible on the latest Release (v88.1.0) with French language. Tested on HTC Nexus 9 (Android 7.1.1).

[2021-04-15 12:34] maxxx commented on #14811
Hi guys, the issue is still reproducible on firefox 86.1.1, ".page.link" app (deep) links can't be opened. Toggling "Open links in apps" solves it, but why it's not enabled by default?

Also, is there any way to enable it automatically without user actions? On rooted device or with device manager, I mean maybe it's possible to edit config (if have file access).

[2021-04-15 13:25] Mugurell commented on #18672
Hello @kanish671
Sorry I haven't responded earlier.
It might be that the later changes are not trivial.
Other than https://github.com/mozilla-mobile/fenix/issues/18672#issuecomment-810808051 and https://github.com/mozilla-mobile/fenix/issues/18672#issuecomment-810837558 I don't have other insights.
You can open a PR with your changes and I'll look into resolving the viewpager height part.

[2021-04-15 13:46] abodea commented on #17005
Verified as fixed on the latest Nightly build **4/15** with **Google Pixel 4XL (11), Samsung Galaxy S7 (7), Samsung Galaxy S10+ (10), Nokia 2.4 (10).**
Note that I was not able to reproduce this issue I tried with addons and without addons also, I followed the steps from the description too.

[2021-04-15 13:46] #17005 closed

[2021-04-15 13:58] kanish671 commented on #18672
Sure @Mugurell I will raise a PR for fixing the renaming bug

[2021-04-15 14:17] SoftVision-LorandJanos opened #19052 "[Bug] [L10n] "OK" button not translated to Japanese language when a site is added to collection"
## Preconditions
In Settings - Languages set the device to Japanese.
Have at least one site opened and one Collection created.

## Steps to reproduce
1. Launch Fenix and go to tabs tray.
2. Select at least 1 site with a long tap on the title.
3. Tap on the "add to collection" icon.
4. Observe the pop-up window.

### Expected behavior
The title and the buttons are translated to japanese.

### Actua

[2021-04-15 14:44] sflorean commented on #12104
Found https://github.com/mozilla/fxa/issues/8150 and this issues seems to be by design. Asking UX to confirm if there's something here to change.

[2021-04-15 15:00] gabrielluong opened #19054 "Navigate back to the Credit card screen when the last credit card is deleted"
After deleting the last card the user is brought to an empty "Saved cards" screen (this will still have the "Add credit card" button despite no saved credit cards to list). We should determine whether or not we should go back to the "Saved cards" screen or back to the "Credit cards" screen.

[2021-04-15 15:02] gabrielluong opened #19055 "Fix button arrangement in the Credit Card Editor Fragment"
https://user-images.githubusercontent.com/11428869/114883703-d594e300-9e0d-11eb-94ab-43841d1a9d15.mp4

- the bottom buttons are not available in landscape (they don't fit the screen and cannot scroll to them)
- the delete button (all buttons) is pushed up by the keyboard and remain there even after the keyboard is dismissed

_Originally posted by @Mugurell in https://github.com/mozilla-mobile/feni

[2021-04-15 15:03] gabrielluong commented on #19055
The CreditCardEditorFragment is currently using a LinearLayout and the buttons are arranged using a ConstraintLayout. We should consider also converting the entire fragment layout to use ConstraintLayout I think. Please investigate this carefully.

[2021-04-15 15:11] #18521 closed

[2021-04-15 15:18] #18273 closed

[2021-04-15 15:38] mcarare commented on #11367
Opened https://github.com/mozilla-mobile/android-components/issues/10092 for a workaround on AC side.

[2021-04-15 15:45] lwa-moz opened #19056 "eBay Search Option"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
 [comment]: # (Every issue should have exactly one feature request described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
 [comment]: # (Feature Requests are better when they’re open-ended instead o

[2021-04-15 15:46] ffxsam commented on #19013
Very odd. I made a very simple CodeSandbox using an m3u8 file as an audio src, and it worked perfectly fine. However, in our production app, it fails with `NotSupportedError`. The only difference I can think of is that the files in production are protected via AWS's CloudFront signed cookies. But there's a signed cookie issued at the start of the session, and I'm not getting any kind of 4xx error

[2021-04-15 15:50] padenot commented on #19013
I'm available on the web audio slack if you want to chat directly. I can also try things if something is available online, or tell you internal debugging tools to diagnose this quickly if that would be helpful. There has been some changes a few years back specifically on m3u8 files on mobile to fix a security issue, that might be related.

[2021-04-15 16:20] Mugurell commented on #18439
Tried to replicate this in normal usage but I couldn't.
The stacktrace is pretty explanatory though.

[2021-04-15 16:40] #18274 closed

[2021-04-15 17:15] grigoryk commented on #17869
This was done.

[2021-04-15 17:15] #17869 closed

[2021-04-15 17:19] eliserichards opened #19059 "Remove deprecated strings"
There are a few strings marked as "deprecated" that we can remove. Make sure they don't have any references to them.

[2021-04-15 17:24] ffxsam commented on #19013
Updated the issue title to reflect that actual problem.

[2021-04-15 18:01] eliserichards opened #19061 "[Bug] New tab three-dot menu should be wider when not signed in"
<img width="323" src="https://user-images.githubusercontent.com/43795363/114916506-7e314b80-9dea-11eb-9fd4-bb929f798347.png">
<img width="323" src="https://user-images.githubusercontent.com/43795363/114916514-7ffb0f00-9dea-11eb-84ac-38e3468091fa.png">

When we're signed in to sync, the menu is wide enough to see the whole "Desktop Site" string. But when we're signed out, "Desktop site" gets cut of

[2021-04-15 18:07] eliserichards commented on #19061
Tagging @violasong and @brampitoyo for feedback

[2021-04-15 18:29] andreicristianpetcu opened #19062 "[Bug] Fewer tabs in the tabs tray"
## Steps to reproduce
Click on 7 top sited
Click on the tabs tray

### Expected behavior
I can see 7 tabs in the tabs tray with the current one selected
### Actual behavior
6 Tabs are present in the tabs tray
![Screenshot_20210415-212131_Firefox_Nightly](https://user-images.githubusercontent.com/922368/114919983-9e382d80-9e31-11eb-99a0-ac7a7bfeb8aa.png)
![Screenshot_20210415-212137_Firefox_Nightly

[2021-04-15 20:11] jonalmeida commented on #19062
Duplicate of https://github.com/mozilla-mobile/fenix/issues/19023

[2021-04-15 20:11] #19062 closed

[2021-04-15 20:27] jonalmeida opened #19064 "Update the selected page based on theme manager state"
Original behaviour that we need to follow is to use the `BrowsingModeManager.mode` instead of the `selectedTab.private` to choose the correct tray item to point at.

[2021-04-15 21:03] kglazko commented on #19055
Hey I was wondering if I can work on this one this sprint.

[2021-04-15 21:24] gabrielluong opened #19065 "Strip spaces and separators from credit card number input"
When saving or updating a credit card, we will want to clean up the input provided by the user by stripping the input of spaces and separators that are currently accepted. The TextInputEditText currently accepts the following `android:digits="0123456789- "`. We should add a `Utils` file with a method to `stripSpacesAndSeparators` which will strip the card number input of the spaces and `-` separat

[2021-04-15 21:31] mcomella commented on #17005
Thanks adodea! I also just noticed in my "try to reproduce" split out bug from early March, QA was also unable to reproduce the issue: https://github.com/mozilla-mobile/fenix/issues/18321#issuecomment-795447121

[2021-04-15 21:33] mcomella commented on #18321
Thanks ebalazs-sv! I'm going to close this as a dupe to #17005 now.

[2021-04-15 21:33] #18321 closed

[2021-04-15 22:31] #19045 closed

[2021-04-15 22:34] #19024 closed

[2021-04-15 23:18] cschanaj commented on #16952
EFF has [announced](https://www.eff.org/deeplinks/2021/04/https-everywhere-now-uses-duckduckgos-smarter-encryption) that HTTPS Everywhere is expected to reach its EOL by the end of 2021. HTTPS-Only Mode on Fenix could be a preferred alternatives to HTTPS Everywhere EASE mode to enforce HTTPS secure connections only and block HTTP connections on insecure mobile networks.  I sincerely hope this feat

[2021-04-16 01:22] #18520 closed

[2021-04-16 02:56] TheGreySquare commented on #19061
Excuse me, but why not keeping current layout from stable Firefox ("Desktop site" string is absent from home/new tab page 3-dot menu since it doesn't have desktop layout)?

And narrower 3-dot menu, as before, I think looks a bit cleaner and easier on the eyes as it doesn't obstruct as much content

"Synced tabs" instead of that long email string looked pretty reasonable, too

[2021-04-16 04:01] One010101 opened #19072 "Can collections be improved"
My English is not good, it is all machine translation
I think it would be more useful to use the collection as your own navigation. This needs to be
1. The ability to adjust the order of collections
2. Can purchase and adjust the order of the internal website of the collection set
3. The ability to rename the names of various websites in the collection.
I'm a big fan of using favorites for sites I

[2021-04-16 05:05] KrasnayaPloshchad commented on #16007
FTP is announced to be killed in Firefox.
https://www.mozilla.org/en-US/firefox/88.0beta/releasenotes/

[2021-04-16 06:08] cadeyrn commented on #19061
This is not for a desktop layout of the home screen but to request the desktop version of the website you intend to load in a new tab. For reference: Chrome also shows this option in the home screen menu.

This is both off-topic. This issue is about the minimum width of the menu for users who are not signed in and therefore there is no e-mail-address in the menu. It's also not about the menu layou

[2021-04-16 06:52] xuyuehang opened #19073 "After setting Delete browsing data on quit, the Recently closed tabs can still be restored"
Nightly 210416 Build #2015804891

Have enable Delete browsing data on quit in setting, and checked all option. Then quit firefox in menu, and open it. Can still restore last open tabs in Recently closed tabs.

I want to know whether this design is intentional or a loophole. Because Recently closed tabs also belong Open tabs.
![Screenshot_20210416-144648_Firefox Nightly](https://user-images.githubu

[2021-04-16 07:02] Mugurell commented on #19061
The menu is as wide as needed to show the widest menu item (with a maximum set).
Based on the first screenshot the menu can be wider if the "sign-in item" - widest item requests so but in the second screenshot the "desktop site item" - widest item gets cut off. So this seems to be a bug of this menu item which doesn't report the right width.

[2021-04-16 07:08] xuyuehang opened #19074 "[Bug] Cannot select text in some website"
Visiting some Chinese forums (these forums use discuz, a popular forum system) Firefox cannot select the text in the page. When long-pressing, it displays the context menu like long-pressing a link, while other browsers can select the text. In addition, fennec can be selected normally.

For example :https://bbs.kafan.cn/forum.php?mod=viewthread&tid=2206816&fromguid=hot&extra=&mobile=2
![Snipaste_2

[2021-04-16 07:22] Mugurell commented on #18877
Based on the stacktraces this is not just an incorrect cast that can be dropped off.
I all reports I see

Possibilities for this that I think of:
- maybe some apis changed and need to be better supported or more probably
- an alert came after showing an initial prompt and replaced the active prompt but for example the `SaveLoginDialogFragment` is still on screen and when the user confirm the login

[2021-04-16 08:15] klint opened #19075 "[Bug] New 3-dots menu: menu is not shrinkable by swiping down after being expanded"
## Steps to reproduce
Note that this is in the case where the screen is larger than the expanded 3-dots menu.
Also, navbar&menu are set at bottom
Open a page
Expand the 3-dots menu by swiping up
The menu is expanded
Swipe down on the menu (next logical move if the user changed his mind about what he wanted to do)

### Expected behavior
The menu goes back to non-expanded state

### Actual behavior

[2021-04-16 08:17] klint opened #19076 "[Bug] New 3-dots menu: menu does not close by swiping down"
## Steps to reproduce
Navbar/menu are set at bottom
Open a page
Click on the 3-dots menu
Do not expand it
Swipe down on the menu (next logical move if the user changed his mind about what he wanted to do)

### Expected behavior
The menu is closed

### Actual behavior
Nothing happens
You have to click elsewhere on the left side of the page, possibly needing to use another finger.
Not handy at all

[2021-04-16 08:33] Jpersh27 commented on #17711
Hello @Amejia481

1.) Can you provide an update on this issue for me?

• I have asked several times for an update on Bugzilla and they have been ignored. No response or openness from anyone. It has been over 3 months since I opened this issue on GitHub and over a month since I asked you for an update.

Current version of the browser I'm using now is as follows-
88.0.0-beta.6 (Build #2015803915)
AC

[2021-04-16 08:49] MPeti1 commented on #18132
Hopefully they can be readded in Iceraven or an other fork

[2021-04-16 08:57] klint commented on #17380
Hi sorry for the delay, but it is still happening to me with build #2015804891

[2021-04-16 09:45] Mugurell commented on #19076
This is the expected behavior. Nothing changed regarding how the menu is closed.
After expanding the menu it might not fit the screen and needs to be scrolled up / down so there's no way to know if the user wanted to scroll it or close it.

[2021-04-16 09:45] #19076 closed

[2021-04-16 09:48] Mugurell commented on #19075
This is similar to https://github.com/mozilla-mobile/fenix/issues/19076, copying the same comment.

This is the expected behavior. Nothing changed regarding how the menu is closed.
After expanding the menu it might not fit the screen and needs to be scrolled up / down so there's no way to know if the user wants to scroll it or close it.

[2021-04-16 09:48] #19075 closed

[2021-04-16 09:57] Mugurell commented on #19074
This seems to be a GeckoView issue.
Moving the ticket to Bugzilla.
Please follow the progress there.

[2021-04-16 09:58] Mugurell commented on #19074
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1705672

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2021-04-16 09:58] #19074 closed

[2021-04-16 10:05] klint commented on #19076
Actually there is a way :) : if the top of the menu is displayed when the user swipes, then it means the user wants to close the menu.

But the real problem is that the menu should be closed the same way it is opened.  On Edge for instance, you click on the ... dots to open it, then on the X at the same location then the dots to close it. I will open another issue for that.

[2021-04-16 10:09] Mugurell commented on #18439
With no STRs, we should just keep an eye on whether this is still reproducing or not.

[2021-04-16 10:19] klint opened #19077 "3 dots menu cannot be closed easily"
Not sure it is a bug or a feature actually :)

On Edge, opening the menu is done by pressing the ... button, which is replaced by a X button at the same location to close the menu. Opening and closing the menu is done is a similar way (same location).

On Firefox, opening the menu is done by pressing the 3dots button, which is then hidden. Closing the menu needs either clicking the back button of

[2021-04-16 11:02] AndiAJ commented on #13281
Flaky 1x Debug 4/16 : [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6871596766857266689/executions/bs.adfc822a176a143c/testcases/1/test-cases)

[2021-04-16 12:32] #19015 closed

[2021-04-16 15:12] gabrielluong opened #19080 "Fix deprecated ‘Autocomplete.LoginStorageDelegate’ with Autocomplete.StorageDelegate"
When https://github.com/mozilla-mobile/android-components/issues/10093 lands, we will be suppressing LoginStorageDelegate. https://github.com/mozilla-mobile/android-components/issues/10093 will address using the new GeckoView Autocomplete.StorageDelegate. This issue is for fixing the deprecation in Fenix.

[2021-04-16 15:21] padenot commented on #19013
Thanks Sam, the gecko bug about this: https://bugzilla.mozilla.org/show_bug.cgi?id=1705472

[2021-04-16 17:26] duerra commented on #14313
Hey Mozilla team - would really love to see this resolved.  Adnroid Chrome doesn't have any issues here, just FF.

[2021-04-16 18:54] Delphine commented on #19052
Thanks for filing!
Apparently, Japanese sometimes use "OK" like in English. I checked on Transvision across Firefox desktop strings, as well as Android strings (ex with Android here: https://transvision.mozfr.org/?recherche=ok&repo=android_l10n&sourcelocale=en-US&locale=ja&search_type=strings)
Therefore closing this. Thanks!

[2021-04-16 18:54] #19052 closed

[2021-04-16 19:35] #19023 closed

[2021-04-16 19:40] mixxit opened #19084 "[Bug] Sign in to Sync takes you to Sync Profile page only, no sync (Custom Sync Server)"
## Steps to reproduce

Fresh pixel 5

Install firefox 87.0.0-rc.1 Build 2015799099

Set custom sync server

Click sign in to sync

Click email or via QR code and login

Taken to firefox.com profile page

### Expected behavior

Sync to begin

### Actual behavior

Just displayed firefox sync page

### Device information

Pixel 5
Android 11

* Firefox for Android version:

 87.0.0-rc.1 Build 20157990

[2021-04-16 19:49] Shadowspear123 commented on #14430
This is still an issue.

[2021-04-16 21:12] Jpersh27 commented on #17711
@Amejia481

• Previously you told me to go to Bugzilla and  comment on the Bugzilla issue at the following web address below-
 https://bugzilla.mozilla.org/show_bug.cgi?id=1690037

• I did make a comment on the Bugzilla issue and also emailed the triage owner Emily Toop more than once and I haven't heard anything back from her and also on my Bugzilla comment I asked for- Flags: needinfo?(etoop)

•

[2021-04-16 21:16] joenepraat commented on #17093
I wanted to open an issue for this. Can you please re-open or add it to the app? Although the ublock-origin helps, it doesn't fix the complex cookie warnings. @kewisch @Amejia481

[2021-04-16 21:26] joenepraat commented on #13925
@NotWoods I don't know what Mozilla is doing here, but it is not the first time Mozilla changes something dramatically, resulting in alienating their user base.

It's already eight months ago you closed the issue, with referring to an empty blog-post. The add-on-combi _Cookie Autodelete_ and _I don't care about cookies new Firefox_ where for me two essential add-ons. It made sure browsing the web

[2021-04-16 22:23] mcomella commented on #18596
I've been able to reproduce this on a local build from early April 6e5b4b3ce68ab7df0b16f1b09656944ed2a7c5ba with a slightly different STR. Something similar to:
- Launch the app view app link
- Press back to close the app (and the current tab)
- Open the app via the home screen icon
- Press back twice (once to the homescreen, once to close the app)
- Open the app

Wait a few seconds. Repeat if it

[2021-04-16 22:28] mcomella commented on #18596
I don't know what changed but I'm struggling to reproduce this in the latest master with a local build 3d226429aaffb93bf607b002be0d35495d1f20ce. I'm not sure what changed. @cadeyrn Are you still able to reproduce this on the lastest master?

I could make the speculative fix suggested in https://github.com/mozilla-mobile/fenix/issues/18596#issuecomment-813624997 or we can wait until we see this aga

[2021-04-16 22:30] #18946 closed

[2021-04-16 22:32] mcomella commented on #18836
This could conceivably be QA'd but it'd be difficult to convey the nuances so I'm concerned it'd mean diminishing returns so I won't flag for it.

[2021-04-16 22:32] #18836 closed

[2021-04-16 22:33] mcomella opened #19085 "Analyze start up type telemetry"
Let's analyze the most common types of start up from https://github.com/mozilla-mobile/fenix/issues/18836. We'll need to wait for it to propagate to GLAM though.

[2021-04-16 23:51] SlowNicoFish opened #19087 "[Bug] 3-dot menu does not fit inside its container"
[comment]: # (Please do your best to search for duplicate issues before filing a new issue so we can keep our issue board clean)
[comment]: # (Every issue should have the exact bug and steps to reproduce described in it. Please do not file feedback list tickets as it is difficult to parse them and address their individual points)
[comment]: # (Read https://github.com/mozilla-mobile/fenix#i-want-to

[2021-04-17 00:30] #19064 closed

[2021-04-17 04:09] #3621 closed

[2021-04-17 05:34] bli-mozbj opened #19089 "[Bug] [L10N] [V88.1] Some strings in the onboarding page of Fenix V88.1 are not localized"
## Steps to reproduce
1. Change OS language to zh-CN (aka simplified Chinese) or zh-TW (aka traditional Chinese)
2. Install Fenix V88.1 (release version)
3. Launch Fenix

### Expected behavior
The onboarding page is fully translated.

### Actual behavior
Most strings are not localized.
![FF39262C-1469-4A39-B8F8-048BCFDFA420](https://user-images.githubusercontent.com/25242209/115103005-25e08200-9f8

[2021-04-17 05:39] jonalmeida opened #19090 "Show snackbar on adding to collection/bookmark from tabs tray"
This is a regression in the behaviour from the old tabs tray.

We need to add the two different collection snackbars:
 1. Adding to an existing collection.
 2. Adding to a new one.

UI tests to re-enable when fixed:
 - `verifyExpandedCollectionItemsTest`
 - `shareCollectionTest`
 - `deleteCollectionTest`

See the old tabs tray for reference for now:

https://user-images.githubusercontent.com/13705

[2021-04-17 05:55] sheikh-azharuddin commented on #19061
But is it necessary to show the email address at all??
Because of this menu is getting wider

[2021-04-17 05:56] jonalmeida opened #19091 "Undo after deleting selected tabs only returns last tab"
## STR
1. Enter multi-select mode and select multiple tabs.
2. Close all of them.
3. Click on the undo button.
4. Observe.

## Expected
All the selected and deleted tabs return.

## Actual
Only the last deleted tab returns.

https://user-images.githubusercontent.com/1370580/115640022-fd8bb700-a2e3-11eb-9bca-169eb11a6586.mp4