[2020-04-22 11:20] AndiAJ commented on #7738
Hi, The form @ehsan mentioned isn't available anymore, it seems that the CANADA STRONG CAMPAIGN ended.

However, I've managed to find another fundraiser https://torontofoundation.ca/listings/Vital_Toronto_Fund/ and **haven't encountered any lag** while filling the form on the latest **`Nightly Build #21130610 from 4/22`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20

[2020-04-22 11:20] #7738 closed

[2020-04-22 11:38] XerTheSquirrel commented on #3597
This happens to me as well, I have the reduced motion enabled in Android and there are still animations and transitions in the user interface. This makes the browser harder to use for me.

I have Firefox 75.0.0-beta.6 on Android.

[2020-04-22 12:14] softvision-miralobontiu commented on #2370
This issue is still reproducible on the latest Nightly build from 4/22 with Sony Xperia Z5 (Android 7), and Sony Xperia Z5 Premium (Android 7.1.1).

![flicker](https://user-images.githubusercontent.com/40694158/79980490-dc637100-84ab-11ea-995f-f8bc1bc924cb.gif)

[2020-04-22 12:20] AndiAJ commented on #6940
Hi, **verified as fixed** on the latest **`Nightly Build #21130610 from 4/22`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Screenshot url bar size
![rsz_screenshot_20200422-143138](https://user-images.githubusercontent.com/51314259/79978561-c7d1a980-84a8-11ea-876a-74106e38fa0a.png)

► Video https://m.standaard.be/

[2020-04-22 12:20] #6940 closed

[2020-04-22 12:27] abodea commented on #8546
Verified as fixed on the latest Nightly 4/22 with Google Pixel 4 XL (10).
Note that the colors are respected as described in the picture from the description.

[2020-04-22 12:27] #8546 closed

[2020-04-22 12:30] abodea opened #10113 "FNX-3293 ⁃ [Bug] The text selector is barely visible on Light/Dark theme on the login capture panel"
## Steps to reproduce
1. Launch Fenix.
1. Set the theme on Light or Dark.
1. Access any website and attempt to login.
1. On the `Save login screen` tap on the username or password field and observe the text selector.
    1. Expected behavior
The text selector should be visible.
    1. Actual behavior
The text selector is barely visible on Light/Dark theme on the login capture panel
    1. Device i

[2020-04-22 12:41] sflorean commented on #5921
@Amejia481 Tested on Nightly 4/22, and the issue is not fixed, social trackers are not blocked with Standard option enabled.
 Devices: Nokia 6 (Android 7.1.1), Samsung Galaxy Note 10 (Android 10), Xiaomi Redmi Note 8T (Android 9), and Google Pixel (Android Q).

[2020-04-22 12:44] Poopooracoocoo commented on #9516
@sv-ohorvath those buttons don't have a shape too. On Android buttons are typically rounded rectangles but some people customise them.

![image](https://user-images.githubusercontent.com/51363864/79983230-c9bc5c80-84ea-11ea-91e5-248f5118dba8.png)
https://material.io/components/dialogs

[2020-04-22 12:52] st3fan opened #10114 "This project uses Gradle KTS build files which are not fully supported"
I upgraded to Android Studio 3.6.3, which now says

Is this something we should address?

[2020-04-22 13:00] pocmo commented on #9935
FWIW, those are exactly the same timeouts as Fennec uses:
https://searchfox.org/mozilla-esr68/source/mobile/android/base/java/org/mozilla/gecko/search/SearchEngineManager.java#399

[2020-04-22 13:06] softvision-miralobontiu commented on #6713
Hi @grigoryk,
I could reproduce again the situation, history doesn't sync entirely.

**STR:**
1. I've signed in on desktop - Windows 10.
2. I've signed in with the same account on Google Pixel (Android 10) - sync started automatically on this device.
3. I've signed in with the same account on Sony Xperia Z5 Premium (Android 7.1.1) - - sync started automatically on this device.
4. On desktop, I've

[2020-04-22 13:37] Amejia481 commented on #9493
This should be fixed in master, QA please, verify if the issue persist, thanks

[2020-04-22 13:46] softvision-miralobontiu commented on #8777
Verified as fixed on the latest Nightly build from 4/22 with Sony Xperia Z5 Premium (Android 7.1.1), OnePlus 5T (Android 9), and Google Pixel (Android 10).

[2020-04-22 13:46] #8777 closed

[2020-04-22 13:57] andrecc-7 commented on #9348
And then it remained forgotten... forever.

[2020-04-22 14:26] sflorean commented on #8754
Investigated this on latest Nightly build and here are my findings:
- Nokia 6 (Android 7.1.1) - images don't show up in Gallery - downloads.
- Samsung Galaxy Note 10 (Android 10) - I was able to reproduce the behavior from [here](https://github.com/mozilla-mobile/fenix/issues/8754#issuecomment-614014433) only with the pdf files.
Also, on Samsung, the downloaded items are not displayed in the Downl

[2020-04-22 14:37] abodea opened #10116 "FNX-3295 ⁃ [Bug] The Login capture panel is incorrectly displayed when opening the keyboard"
## Steps to reproduce
1. Launch Fenix.
1. Access any website and login.
1. On the Login capture panel tap on the username or password field.
    1. Expected behavior
The Login capture panel should be fully displayed with all the buttons in order to save or not after editing the password.
    1. Actual behavior
The Login capture panel is incorrectly displayed when opening the keyboard
    1. Device

[2020-04-22 14:41] Diana-Rus commented on #4833
Hi, i managed to reproduced the issue with Samsung Galaxy S9 (Android 8) on Firefox Preview Release 1.3.0 Build (Build #12271643)
1. I had the "App permission monitor" enabled and for Firefox Preview to be registered in the permission history .
2. The androids camera settings for firefox was allowed.
3. I accessed webcamtest.com and put Firefox in background until site loaded.

**Samsung Galaxy S9

[2020-04-22 14:50] BranescuMihai commented on #6557
@liuche on the desktop they use histograms for reporting this, however in [the docs](https://developer.mozilla.org/my/docs/Mozilla/Performance/Adding_a_new_Telemetry_probe) I see usage examples only in JS or C++, and I can't find a reasonable distribution in Glean either.
Should we use for this a labeled_counter as well, like in the other search-related metrics?

[2020-04-22 14:55] dholbert commented on #10015
Yup, seems fixed for me as well. Thanks!

[2020-04-22 14:59] vesta0 commented on #9506
The "open in app" option already exists in the browser menu but many users tend to miss it and think the browser is broken.

In Fennec, "Open links in apps" is disabled by default and we have signals from Firefox users indicating that they prefer it this way but this is worth looking into and re-validating.

Worth noting that there are 2 scenarios here:

-User taps on a link in an external app suc

[2020-04-22 15:00] sv-ohorvath commented on #9995
ok, just stumbled upon the same error: https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7044004707966105755/executions/bs.20e0416359433f4c/issues

[2020-04-22 15:00] Diana-Rus opened #10117 "FNX-3296 ⁃ [Bug][a11y] TalkBack-Addons-Snackbar not read when multiple add-ons installed."
## Prerequisites
* Have TalkBack enabled
    1. Steps to reproduce

1. Open browser and go to 3 dots Menu/Settings/Add-ons.
1. Install an add on by tapping on the "+" icon.
1. Tap on "Add" button from the notification for adding the add-on.
1. Install the second add-on by tapping on the "+: icon.
1. Tap on "Add" button from the notification for adding the second add-on.
    1. Expected behavior
Th

[2020-04-22 15:26] hwine commented on #9295
If I'm understanding the goal of this issue, we're trying to find a workable way to maintain the security invariant that no non-committer-approved-changes are subject to the full CI suite.

Assuming there aren't other goals here, maybe it's worth getting back to basics (from a kibitzer's viewpoint:

Fwiw, there really isn't a fork needed. The manual steps, which could be scripted, are:
- pull the

[2020-04-22 15:33] jerheij commented on #3762
How did you manage to get this to work on the Nightly build?

[2020-04-22 15:40] Amejia481 commented on #7566
This should be fixed in master, @sv-ohorvath would you mind taking a look ? :)

[2020-04-22 15:50] Diana-Rus commented on #8636
Hi, I will provide a gif maybe this will help, as when the talkback recognizes the element it highlights it.
Sony Xperia Z5 (Android 7) - Nightly 4/22
![20200422-183254](https://user-images.githubusercontent.com/49859863/80003498-cfee1100-84c9-11ea-8196-ff7e079dd676.gif)

Note:
- It is possible to download through the links, but i did not manage through the image set as link for which the touch ta

[2020-04-22 16:51] Poopooracoocoo commented on #9506
like fennec, it could show up in the urlbar or toolbar. or even appear temporarily in the toolbar and "fade into" the menu or something like that

the spotify case is very annoying and they try all they can to direct me to either the play store or the spotify app. i hope that can be handled

yeah, that's an OS setting and not something for fenix to handle but the open in app options in FF Focus ha

[2020-04-22 17:14] AndiAJ commented on #9994
Hi @Amejia481 , I've just checked this matter using a Google Pixel 3a (Android 10) using the following scenarios:

## 1st scenario
### Fennec → Fenix GV 76 from 4/6 → Fenix GV 77 from 4/16 →Latest Fenix GV 77 from 4/22
#### ► Video after migrating from Fenix GV 76 from 4/6 → Fenix GV 77 from 4/16
![20200422-183212](https://user-images.githubusercontent.com/51314259/80009072-3cb8d980-84d1-11ea-9ebf

[2020-04-22 17:49] jonalmeida commented on #9972
I'd like to take a look into this since I have some familiarity in the code behind it. A learning experience! 🎉

[2020-04-22 18:10] ghost opened #10120 "FNX-3297 ⁃ [Bug] add on not loaded"
## Steps to reproduce
this is the second built without addon
after updating browse as usual

### Expected behavior
add on loaded

### Actual behavior
no addon

### Device information
* Android device: N960F Android 10 april patch
* Fenix version: 200422 16:13

[2020-04-22 18:53] yaomtc commented on #9569
@pihug12 Thanks, that works. Since @kbrosnan said it should be fixed, I tried downgrading from 4.3 to 4.2.1 using the Github link, but it didn't work. I haven't tried downgrading Firefox before though, so maybe that's not always possible without breaking something.

[2020-04-22 19:06] liuche commented on #9295
@hwine currently we do this workaround, and Kevin mentioned it in his initial comment, but this is a huge pain point for the team. Let me explain some of these a little more:

- At any given time we have around 10-20 contributor PRs open. There's significant overhead to doing this for every PR
- There's also the added friction that a lot of these PRs from new contributors might just fail CI or lin

[2020-04-22 19:13] csadilek commented on #10070
For QA: The STR for this problem that were reliable for us are in this comment: https://bugzilla.mozilla.org/show_bug.cgi?id=1631137#c7

Fix is on Fenix master, Play store update is still pending.

[2020-04-22 19:14] yoasif opened #10121 "FNX-3298 ⁃ [Bug] Heavy janking and slow, stuttery scroll on NYT Amp page"
## Steps to reproduce
1. Navigate to https://news.google.com/articles/CAIiEAri_DpDDtLZ-UIU98k0rEMqFwgEKg8IACoHCAowjuuKAzCWrzww5oEY?hl=en-US≷=US&ceid=US%3Aen
1. Scroll down page

### Expected behavior
Smooth scroll following finger.

### Actual behavior
Janky, stuttering scrolling. This is actually better on Fennec on this device.

Profile: https://perfht.ml/3arXjzl

### Device information
* Androi

[2020-04-22 19:24] acreskeyMoz opened #10253 "FNX-3389 ⁃ Progressive Web App pop-up interferes with collection of visual metrics -- please provide a method to disable"
When loading a site that supports PWA, e.g., https://www.instagram.com, the "Add to Home screen" pop-up is displayed. (attached below).

Unfortunately this interferes with various performance metrics that measure when content is presented to the user. (e.g. SpeedIndex, ContentfulSpeedIndex, etc).

Please provide a method so that this behaviour may be disabled for performance work.
A user preferenc

[2020-04-22 19:31] frozenxuan commented on #9454
This feature is the only blocker for me to switch from chrome to firefox. I frequently access a subfolder under bookmarks toolbar on desktop, compare to chrome mobile which always open the last accessed folder(menu icon>bookmarks), firefox mobile requires much more unnecessarily redundant steps to open the folder (menu icon>library>bookmarks>bookmarks on desktop>bookmarks toolbar>folder), firefox

[2020-04-22 19:33] corneliuze commented on #9464
hi, @ekager sent you a message on riot, I cannot add reviewers to my pull request.

[2020-04-22 19:41] mstange commented on #8250
I can no longer reproduce this - looks fixed to me!

I still see the UI thread blocking on handlers, but each invocation doesn't take a long time. I see one or sometimes two consecutive samples in these functions, but not more.

Production build: https://perfht.ml/2VU7eZg
Debug build: https://perfht.ml/2KnusSr

I've filtered these profiles to show samples matching `.wait(`, i.e. stacks that block

[2020-04-22 19:54] MechJM opened #10123 "[Bug] Elements do not have correct colors"
## Site with issue and any steps to reproduce
Go to imdb.com and click on a poll. For example:https://m.imdb.com/poll/gNgwwqkyx-A/?ref_=m_nm_po

### Expected behavior
The imdb poll icon, the title of the pool and its description should have a white background.

### Actual behavior
The elements mentioned previously have a black and a white background, making the title and the first lines of the des

[2020-04-22 19:59] liuche commented on #1048
This is a feature that a lot of Fennec Beta migrated users have been asking for, and @vesta0 would like eng to do a little timeboxed exploration/thinking about how this would be possible. We will need UX at some point (since we don't even have a back button anymore) but coming up with some rough ideas.

[2020-04-22 20:03] rocketsroger commented on #6231
Confirmed on latest nightly Fenix with Android Component version `39.0.20200422145552` this is fixed.  Adding QA to confirm.

[2020-04-22 20:04] csadilek commented on #10070
Latest version in Play Store has the fix now: Nightly 200422 16:13.

[2020-04-22 20:12] csadilek commented on #8250
Thanks again, Markus!

Once our refactoring browser-state is complete [1], all these handlers will simply dispatch actions to the store which will be processed in a non-blocking way. This is also why reader mode now no longer directly consumes time on `onLoadRequest` because it was recently migrated. This will take some more time though until everything is fully migrated.

[1] https://github.com/o

[2020-04-22 20:12] #8250 closed

[2020-04-22 20:23] sysrqb opened #10125 "Provide a way to exclude Glean from Fenix"
### Why/User Benefit/User Problem

Build a "flavor" of Fenix without Glean. This is helpful for non-Mozilla builds of Fenix where the resulting browser has strict data-sharing (no telemetry) and networking requirements.

### What/Requirements

Add a built-time control mechanism for excluding Glean. This could be a new build config property or a new build type.

### Acceptance Criteria (how do I kn

[2020-04-22 20:23] AmyYLee commented on #10105
@brampitoyo Hi, I agree we should ensure consistency. Since @topotropic is working on the tab tray and rethinking the collections UI, I'm guessing this will impact what we currently have.

[2020-04-22 20:36] sysrqb commented on #10125
I got this working by adding a buildSrc Config paramter as a flag for toggling when Glean should be included as an implementation dependency or compileOnly dependency.

https://github.com/sysrqb/fenix/commit/fd426371204f84298c89176f7a58bf6199d9aef0

This patch includes more than simply including/excluding Glean (such as hiding the Data Collection setting).

I'm looking for a way of doing this such

[2020-04-22 20:37] Amejia481 commented on #10020
I was able to replicate this issue, QA please help us to verify.

[2020-04-22 20:42] Amejia481 commented on #9484
Sorry closing, this issue is related to the contextual menu not showing when the large image is long pressed

[2020-04-22 21:00] Amejia481 commented on #9484
It looks like this is GeckoView bug, I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1632299 for investigating.

[2020-04-22 21:13] BeeeWall commented on #9994
It seems to have been fixed (at least for me) so I'm gonna close this.

[2020-04-22 21:15] Amejia481 commented on #9994
Sorry, @AndiAJ would you mind re-testing. Test the latest build from master, as it will have the fix. Also be aware, if you have a previous open instance of Fenix, you have kills from the task switcher and open it again.

[2020-04-22 21:17] Amejia481 commented on #9994
@BeeeWall Thanks for verifying :)
I opened it again as we need QA verifies the issue in multiple devices.

[2020-04-22 21:18] BeeeWall commented on #9994
Oops, my bad then.

[2020-04-22 21:37] sblatz commented on #9208
QA, You can verify this by changing the `build.gradle` `applicationSuffix` https://github.com/mozilla-mobile/fenix/blob/master/app/build.gradle#L55 to the variations `fennec_aurora_`, `fenix_nightly`, `fennec`. Please message me if you have questions 😄

[2020-04-22 21:41] ekager opened #10128 "FNX-4719 ⁃ Remove PiP Feature Flag"
We enabled PiP for all builds in https://github.com/mozilla-mobile/fenix/pull/10127 but I left the feature flag for now. Let's remove it if all goes well in release.

[2020-04-22 21:45] #9760 closed

[2020-04-22 21:54] marcinwiacek opened #10129 "FNX-3302 ⁃ Nightly was not downloaded regularly"
## Steps to reproduce
Google Play stopped proposing Nightly on one of devices. I cannot provide nice replication steps, but it was probably after using option "Leave beta programs" from Google Play.

### Expected behavior
Firefox should have some protection and show link to Google Play when version on device seems to be too old and there is an update (for Nightly it should be done for example afte

[2020-04-22 21:56] marcinwiacek commented on #6716
Update to my last comment: I've opened https://github.com/mozilla-mobile/fenix/issues/10129 because my Nightly was not updated from Google Play. Right now haven't seen it so far with April version.

[2020-04-22 21:58] marcinwiacek opened #10130 "FNX-3301 ⁃ Inconsistent background color in Privacy mode in Settings"
## Steps to reproduce
1. open Firefox
1. switch to Privacy mode
1. go to Settings

### Expected behavior
Settings are shared between normal and privacy mode. They should have one black background.

### Actual behavior
Background color depends on mode, which is confusing.

### Device information
* Android device: S7 / Android 8
* Fenix version: Nightly 22 Apr

[2020-04-22 22:09] sblatz commented on #10071
Seems to be some larger issues around when the nav bar is shown in PWA. It really shouldn't even be shown in this case.

[2020-04-22 22:09] apoorv9990 commented on #9529
@cadeyrn Is this the intended behavior?
For image 1: There should be no space below the grey divider
For image 2: No grey divider

[2020-04-22 22:10] sblatz commented on #10071
Demo of problem behavior:
![pwa 2020-04-22 15_01_32](https://user-images.githubusercontent.com/4400286/80038863-50e9e000-84ab-11ea-9eb5-7b8779719543.gif)

[2020-04-22 22:13] mcomella commented on #10042
@jeanygong Can you open a bugzilla bug for the platform performance team for this issue?

[2020-04-22 22:26] yoasif commented on #10103
There is interest in this from the beta audience: https://www.reddit.com/r/firefox/comments/g66ui7/what_just_happened_to_firefox_mobile_home_screen/

[2020-04-22 22:51] hiikezoe commented on #6940
\o/  Thank you sblatz!

[2020-04-22 23:01] hwine commented on #9295
I think we're saying the same thing, so obviously I didn't express myself well. My apologies. I mixed security concerns with implementation details. Let me stick to the security concerns, as we're in full agreement about the UX & friction issues.

From the security pov, the concern about running CI on non-committer PRs is the leakage of secrets (usually credentials for external services). There is

[2020-04-22 23:30] mhammond commented on #6713
Thanks @softvision-miralobontiu - unfortunately that logcat capture doesn't show any evidence of syncing - would it be possible to capture a longer logcat which captures you performing an explicit sync?

Ideally, please capture that after adding new history to your desktop device - then the sync on the mobile device should see the new history.

And to be clear, does the sync work in either directi

[2020-04-23 00:04] robsmith11 commented on #1048
For me, and I would guess many others, the way Fennec implemented it was perfect.  Just re-add the back button to the main menu and show the history chain on a long press (ideally should work for forward button too).

There's no need for it to work with gestures.  The "back swipe" can still just trigger a 1-step move back in history.

[2020-04-23 01:11] liuche commented on #6557
Yes! labeled_counter is the correct substitute for histograms. For your other question, I've asked and cc-ed you to a metrics person, but if they don't have any opinions, is there something from desktop that we can imitate, or if not, use `in_content_search`.

[2020-04-23 01:34] yoasif commented on #1048
FWIW, I still see a back button -- it isn't on a toolbar or in a menu, but I never used the one in the toolbar in Fennec anyway -- I just tried it there, and it shows the history stack at the bottom of the screen, while the back toolbar button is at the top of the screen - which feels pretty unintuitive and unexpected (I can better understand why people want to see https://github.com/mozilla-mobil

[2020-04-23 01:42] mcomella commented on #10065
Thanks for filing. Front-end perf triage: we haven't typically focused on issues like these – animations and other forms of dropped frames instead on absolute durations – so we're hoping the Fenix team can take a look as part of their polish efforts. ecsmyth mentioned that the animations we introduce may perform well on higher end devices but can be disruptive to the user experience on lower end d

[2020-04-23 01:45] mcomella commented on #7512
@ecsmyth Can you identify release criteria for the tabs tray?

[2020-04-23 01:53] liuche commented on #9295
Okay thanks - those guidelines make sense.

@JohanLorenzo I'm still unsure on how Taskcluster `policy` works, but could we make a separate policy for different steps in the TC chain, like Hal suggests? so the linter and compile are fine, but maybe the UI tests or unit tests don't run. To be clear, that's only worth it if splitting those non-secrets tasks are easy, because in the long run, we'd lik

[2020-04-23 02:33] Blaze-Thunder commented on #10071
Here is a demo on latest nightly which I updated today via play store.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/64011423/80052667-c042ec80-850a-11ea-8c8c-30db7fc49ad9.gif)

[2020-04-23 03:07] brampitoyo opened #10131 "FNX-3303 ⁃ [Bug] When requesting location permission, Android System dialog appears after app modal bottom sheet"
## Steps to reproduce
1. Within Android Settings, make sure Fenix hasn’t been granted permission to use location
1. Go to https://permission.site
1. Click “Location”

![](https://user-images.githubusercontent.com/51007/80054843-6ecf4780-8574-11ea-9193-0ff04b6b8c86.png)

### Expected behavior
1. Android System modal dialog should be shown first
1. Only after allowing the system dialog, then our own

[2020-04-23 03:37] brampitoyo commented on #10105
@AmyYLee Based on our discussion earlier today, I agree that unifying the scrim style would be a good, easy first step to take.

Material Design’s default scrim style is `#000000` @ 32%.

Ours seem to be:

- Light theme: Grey (Dark) 90 `#15141a` to Grey (Dark) 10 `#52525e` @ 96% opacity
- Dark and Private theme: Grey (Dark) 90 `#15141a` to Ink 90 `#1d1133` @96% opacity

I know that all our themes

[2020-04-23 04:02] ekager commented on #6832
Okay another fix landed - after the next Nightly goes out let's monitor crash stats 🤞🏻

[2020-04-23 04:26] Poopooracoocoo commented on #1048
What a lot of people have suggested is tapping and holding on the forward button.

[2020-04-23 05:00] ekager commented on #8965
AC PR has merged, so the next Fenix Nightly should pick up the changes.

[2020-04-23 05:09] brampitoyo commented on #9506
@vesta0 @Poopooracoocoo Yes. We have to think of modifying these default behaviours carefully.

The most conservative solution is the one we have today:

- Set default policy: “Open in app” = OFF
- When “Open in app” is available, show it inside main menu
- Cons: many users tend to miss it and think Fenix is broken

---

A slightly tweaked solution from original (proposed by @Poopooracoocoo) might

[2020-04-23 05:09] ekager commented on #9516
Yep, those all look like valid issues! I'm going to unassign myself for now, but anyone is free to pick this up if they have ideas.

[2020-04-23 06:48] JVariance opened #10132 "option to reopen private tab as a normal tab"
### Why/User Benefit/User Problem
As of today you have to copy-paste every private tabs' address to move it to the (unprivate) home screen.

### What/Requirements
For now I could imagine three ways to manage the described problem.

1. Move link(s) via share menu.
1. Add option on tab swipe (as it behaves with deleting tabs) to move private tab to the home screen.
1. Longpress on tab with possible

[2020-04-23 06:59] sflorean commented on #10036
Verified as fixed on Nightly 04/23. Devices: Samsung Galaxy Note10 (Android 10) and Xiaomi Redmi Note 8T (Android 9).

[2020-04-23 07:13] kmazurek244 opened #10133 "FNX-3305 ⁃ [Bug] NFC Yubikey support"
## Steps to reproduce
Login to Google account with hardware key NFC Yubikey with 2FA.

### Expected behavior
Browser waits for hardware nfc interaction and reads output from nfc.

### Actual behavior
Goes to hw interaction and then immediately to error page.

### Device information
Samsung S10+ with latest firmware (G975FXXU4CTC9).

* Android device: yes
* Fenix version: 75.0.0-beta.6

[2020-04-23 07:14] mcarare commented on #9987
The dialog also shows up in Account Settings, and it was secured in https://github.com/mozilla-mobile/fenix/pull/9998. For the dialog in Saved Logins it is secured here: https://github.com/mozilla-mobile/fenix/pull/10134
Please recheck after the second PR is merged. TY!

[2020-04-23 07:14] kmazurek244 opened #10135 "FNX-3306 ⁃ [Bug] 2FA with NFC hardware key doesn't work."
## Steps to reproduce
Login to Google account with hardware key NFC Yubikey with 2FA.

### Expected behavior
Browser waits for hardware nfc interaction and reads output from nfc.

### Actual behavior
Goes to hw interaction and then immediately to error page.

### Device information
Samsung S10+ with latest firmware (G975FXXU4CTC9).

* Android device: yes
* Fenix version: 75.0.0-beta.6

[2020-04-23 07:16] cadeyrn commented on #10133
same as #10135.

[2020-04-23 07:22] AndiAJ commented on #10020
Hi, **verified as fixed** on the latest **`Nightly Build #21140603 from 4/23`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200423-101553](https://user-images.githubusercontent.com/51314259/80070788-39aeff00-854c-11ea-8fc7-e1ec1c314254.gif)

[2020-04-23 08:06] sv-ohorvath commented on #10131
dupe of https://github.com/mozilla-mobile/fenix/issues/1686

[2020-04-23 08:07] madb1lly commented on #1048
Hi @yoasif are you talking about Fennec or Fenix? Your description sounds like Fennec, because in Fenix I can't see a back toolbar button at the top of the screen in Fenix even if I set the toolbar to be at the top. I cannot get a tab history stack to appear anywhere in Fenix.

I personally don't see the issue in re-adding the back button the menu. There are several good reasons to do this includi

[2020-04-23 09:17] softvision-miralobontiu opened #10137 "FNX-3307 ⁃ [Crash] Open settings after signing into your account"
## Steps to reproduce
1. Sign in with valid credentials.
(2. Install Dark Reader add-on, and NoScript Security Suite add-on - **not necessary**)
1. Browse a few pages - I had 6, twitter.com was one of them.
1. Scroll and watch a few videos on Twitter.
1. From the Twitter tab, tap on the three-dot menu - settings.

### Expected behavior
The settings page is opened.

### Actual behavior
Fenix crashe

[2020-04-23 09:20] mcarare commented on #10133
Duplicate of #10135.

[2020-04-23 09:34] abodea opened #10138 "FNX-3308 ⁃ [Bug] The Font Size pointer is cutout when selecting the 50% in the Accessibility menu"
## Steps to reproduce
1. Launch Fenix.
1. Reach Settings > Accessibility > Disable Automatic Font.
1. Set the Font Size to 50%.
1. Observe the Font Size pointer.
    1. Expected behavior
The Font Size pointer should be fully displayed.
    1. Actual behavior
The Font Size pointer is cutout when selecting the 50% in the Accessibility menu
    1. Device information

* Android device: **Google Pixel

[2020-04-23 09:37] SS1113 commented on #10129
Hi, @marcinwiacek If you are referring to Nightly versions being delayed and are being updated less frequently than before from Google Play, it's due to the ongoing pandemic situation, you can read more about it [here](https://www.androidpolice.com/2020/03/16/google-play-store-app-reviews-will-take-7-days-or-longer/). You can download latest Nightly versions for testing [here](https://firefox-ci-t

[2020-04-23 09:49] cadeyrn commented on #10138
Duplicate of #10083.

[2020-04-23 09:53] sv-ohorvath commented on #7566
Verified as fixed on Nightly 4/23.
Devices: Pixel 4 (Android 10), HTC Desire (Android 6.0.1)

[2020-04-23 09:53] #7566 closed

[2020-04-23 09:53] abodea commented on #10138
Thank you @cadeyrn.

[2020-04-23 09:57] abodea commented on #8735
Verified as fixed on the Nightly 4/23 with Google Pixel 4 XL (10).
Note that the font was changed without restarting Fenix.

[2020-04-23 09:57] #8735 closed

[2020-04-23 10:29] Dunexus commented on #10135
Isn't this part of https://github.com/mozilla-mobile/fenix/issues/1340 ?

[2020-04-23 10:33] mcarare commented on #10085
Submitted fix in pontoon: https://pontoon.mozilla.org/ro/android-l10n/all-resources/?status=translated&search=mozac_browser_errorpages_safe_browsing_malware_uri_message&string=196843

[2020-04-23 10:36] marcinwiacek commented on #6716
for reference: I've seen this with 200422 version today.

[2020-04-23 10:36] sflorean commented on #8541
Verified as fixed on Nightly build from 4/23. Devices: Nokia 6 (Android 7.1.1) and Samsung Galaxy Note 10 (Android 10).

[2020-04-23 10:36] #8541 closed

[2020-04-23 10:37] marcinwiacek commented on #10129
thx. I didn't get update for (less or more) about month - my last version was 200320 and I had to update it manually to 200422 (from Google Play app). Phone just haven't seen update.

I think, that regular checks for app itself should be done (maybe once a week or something).

[2020-04-23 10:39] AndiAJ opened #10140 "FNX-3309 ⁃ [Bug]Web extensions don't work and aren't displayed in Private Browsing"
## Steps to reproduce
1. Install Dark Reader
1. Switch to PB
1. Open https://www.wikipedia.org/
1. Tap and open the ⋮ Main menu overlay

### Expected behavior
Wikipedia should be displayed in Dark mode
Dark Reader should be displayed in the  ⋮ Main menu overlay

### Actual behavior
Wikipedia isn't displayed in Dark mode
Dark Reader isn't displayed in the  ⋮ Main menu overlay

### Device informatio

[2020-04-23 10:57] harshlele commented on #5597
hey yeah i checked again on v4.2.1 and i think this issue is fixed now :)

[2020-04-23 11:12] abodea commented on #6231
Verified as fixed on Nightly 4/23 with Google Pixel 4 XL (10).
Note that everything works as expected and the email app is opened.

[2020-04-23 11:12] #6231 closed

[2020-04-23 11:23] sv-ohorvath commented on #9493
@Amejia481 This is fixed only if you clear *all* sites exceptions (Site permissions>Exceptions>Clear permissions on all site"). If you clear exceptions of a website only OR, if you got to Exceptions>[site exception]>Camera change to Block, return to website, it doesn't work in either case. You need to refresh. Do you think that could be fixed here as well?

[2020-04-23 11:47] sv-ohorvath opened #10142 "FNX-3310 ⁃ [Bug] Changing site permissions from the site info panel doesn't work"
## Steps to reproduce
1. Go on permission.site.
1. Allow access to all: notification, camera, mic, location
1. Open the site info panel by tapping the lock icon.
1. Tap on the "Allowed" buttons to change all  to "Blocked"
1. Close the panel and tap on all permissions again.
    1. Expected behavior
All return as blocked.
    1. Actual behavior
The blocked permissions are not returned correctly, th

[2020-04-23 11:49] linuxandria commented on #10070
Issue seems resolved on my end, I'll ping here if it reoccurs

[2020-04-23 12:00] unixandria-xda opened #10143 "[Bug] Extensions effect custom tabs but cannot be controlled"
## Steps to reproduce
Open a custom tab
Notice an extension needing changed, eg uBlock is breaking a page (* * 3p-script block does that a lot :grinning: )
Go to 3 dot menu
Notice that extensions aren't listed and you have to fully open the browser to make modifications

### Expected behavior
Extensions can be controlled in custom tabs

### Actual behavior
Extensions effect custom tabs but cannot

[2020-04-23 12:03] linuxandria commented on #10125
Personally anything that allows for a purely FOSS build, such as the current F-Droid edition I think is a great idea.

[2020-04-23 12:09] mcarare commented on #10108
Same as #10091.

[2020-04-23 12:10] mcarare commented on #10091
This happens when the play/pause button can be clicked even though it is not visible, as the tab's MediaState is `MediaState.State.NONE`.

[2020-04-23 12:12] softvision-miralobontiu commented on #6713
Hi Mark @mhammond
Here are the logcats from the 2 devices I've tested with:
- the Sony logcat: [logcat.txt](https://github.com/mozilla-mobile/fenix/files/4522209/logcat.txt)
- the HTC logcat: [logcatHTC.txt](https://github.com/mozilla-mobile/fenix/files/4522308/logcatHTC.txt)

Scenarios:
- I have deselected Bookmarks and Logins, and let only History selected, triggered sync, and still no perfect s

[2020-04-23 12:37] sv-ohorvath opened #10145 "[Bug] Camera and microphone running notifications are kept after closing the app"
## Steps to reproduce
1. Go to talky.io/room
1. Turn on camera and mic.
1. Close the app, removing it from recent apps.
    1. Expected behavior
Cam & mic notifications are removed from the notification bar.
    1. Actual behavior
The notifications are still displayed. Tapping them re-launches the app. The camera/mic are not streaming anymore (you can check by joining the chat room on another devi

[2020-04-23 12:39] mcarare commented on #9913
Should be fixed when https://github.com/mozilla-mobile/fenix/pull/10144/commits/cf847c46f8b1a1c2db7fb4bd9d3a17fa05f30b4b lands.

[2020-04-23 12:39] mcarare commented on #9914
Should be fixed when https://github.com/mozilla-mobile/fenix/pull/10144/commits/cf847c46f8b1a1c2db7fb4bd9d3a17fa05f30b4b lands.

[2020-04-23 12:43] s-ankur commented on #10143
Related to #9503

[2020-04-23 12:58] sflorean commented on #10120
@wijayafamily could you please share what addon has the issue?

[2020-04-23 12:58] AndiAJ commented on #9994
Hi, **verified as fixed** after updating to the latest **`Nightly Build #2015736177 from 4/23`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• Samsung Galaxy S7 (Android 7)

Performed the following updates:
**Fennec → Fenix GV 76 from 4/6 → Fenix GV 77 from 4/16 →Latest Fenix GV 77 from 4/23**

**► Video after migrating Fenix GV 77 from 4/16**
![20

[2020-04-23 13:03] AndiAJ commented on #10070
Hi, as per my findings from [#9994](https://github.com/mozilla-mobile/fenix/issues/9994#issuecomment-618388169) **this issue got fixed**  after updating to the latest **`Nightly Build #2015736177 from 4/23`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• Samsung Galaxy S7 (Android 7)

**► Video after migrating Fenix GV 77 from 4/16**
![20200423-150

[2020-04-23 13:48] sflorean commented on #10076
dupe of #8072

[2020-04-23 13:49] sflorean commented on #8072
I was able to reproduce on the latest Nightly 4/23.

[2020-04-23 13:49] AndiAJ commented on #10140
Closing as per [#6123](https://github.com/mozilla-mobile/fenix/issues/6123)

[2020-04-23 13:52] vesta0 commented on #8326
Looks like this was fixed. Adding `needs:qa` label.

[2020-04-23 14:01] linuxandria commented on #9815
Open a link in an app that uses custom tabs, eg Telegram

[2020-04-23 14:02] vesta0 commented on #7632
@codrut-topliceanu was this fixed?

[2020-04-23 14:08] vesta0 commented on #8560
@codrut-topliceanu is this fixed? I see that the AC issue was closed.

[2020-04-23 14:15] codrut-topliceanu commented on #7632
@vesta0 Yep, should be fixed.

[2020-04-23 14:18] codrut-topliceanu commented on #8560
Yep. Should be fixed.

[2020-04-23 14:24] sblatz commented on #10071
@Blaze-Thunder Thanks for posting that! I believe that's a separate issue and I'm working with GV to get it fixed. The PWA one is one I can fix now, though 😄

[2020-04-23 14:29] Ben-Wu commented on #6557
Is this a new labeled counter or an extension of the existing `metrics_search_count`?  `engine.in-content` (or `engine.in-content:[sap|...]` if that's being tracked as well) would be best to match desktop so there's no need to look up the right key.

[2020-04-23 14:42] csadilek commented on #10137
Just looked to make sure it's not add-on related. Looks like a problem in`updateAccountUI`:

[code]

[2020-04-23 15:10] eliserichards commented on #10145
Related to #8626.

[2020-04-23 15:16] yoasif commented on #1048
@madb1lly I'm talking about the [Android back button](https://developer.android.com/guide/navigation/navigation-custom-back).

@Poopooracoocoo That is a weird solution, imo - on Fennec, holding down forward shows the *forward* stack, not the back stack. So it'd be a weird transition and pretty intuitive (imo) to show things in *front* of what I am looking at by selecting *back*.

To the UX folks -

[2020-04-23 15:17] Diana-Rus opened #10147 "[Bug] Text selection toolbar is positioned over navigation bar"
## Steps to reproduce
1. Go to a site. I used wikipedia.org/wiki/mozilla
1. Long tap on a word in order to trigger the text toolbar.
1. Tap on "Select All" option.
    1. Expected behavior
The text toolbar does not overlap the navigation bar.
    1. Actual behavior
The text toolbar overlaps the navigation bar.
    1. Device information

* Android device: Sony Xperia Z5 (Android 7)
* Fenix version:

[2020-04-23 15:25] darkwing opened #10148 "FNX-3314 ⁃ Get Tabs Tray Merged into Fenix"
The tab tray feature is far enough along to get merged, so this issue tracks that progress.

[2020-04-23 15:31] 532910 opened #10149 "[Bug] Sync shows Last synced: 2 days ago even after sucessfull manual sync"
Android 9 OP3T, LineageOS 16, Fenix 4.3.0 (build #21082025)

![image](https://user-images.githubusercontent.com/14617699/80118081-9a602b00-8590-11ea-919c-ab3aa7a478f4.png)

[2020-04-23 15:59] 3j9fkyahunqoxwqu commented on #9766
Sorry for off-topic but please conseder making pull to refresh optional.

That is really irritating for some people with accessibility problems like me.

Thank you for all your hard working.
Stay safe.
Regards.

[2020-04-23 16:02] abodea commented on #9766
Thank you for this suggestion @3j9fkyahunqoxwqu, note that I will add a feature request regarding this.

[2020-04-23 17:21] buttercookie42 commented on #1048
Chrome also has a tab history popup when long-pressing the (system) back button. Long-pressing the forward button in the menu does nothing, and I've no idea how it works on devices with gesture navigation. Interestingly their popup only shows the *back* history, though I'm definitively not suggesting to copy *that*.

[2020-04-23 17:26] staktrace commented on #8779
This is the same problem as https://github.com/mozilla-mobile/fenix/issues/9860 - caused by the enabling of the synthMouseMove pref in Fenix.

[2020-04-23 17:30] Amejia481 commented on #9493
I put a pr for address them https://github.com/mozilla-mobile/fenix/pull/10150, as soon it gets merged we can verify again thanks

[2020-04-23 17:33] #9834 closed

[2020-04-23 17:41] eliserichards opened #10153 "FNX-3316 ⁃ [Bug] test"
## Steps to reproduce
### Expected behavior
### Actual behavior
### Device information
* Android device: ?
* Fenix version: ?

[2020-04-23 17:45] eliserichards opened #10154 "FNX-3317 ⁃ ###### Automation Rules"
* `new_issue`

[2020-04-23 17:46] eliserichards opened #10155 "FNX-3318 ⁃ [Bug] test 2"
## Steps to reproduce
### Expected behavior
### Actual behavior
### Device information
* Android device: ?
* Fenix version: ?

[2020-04-23 17:47] csadilek commented on #9841
@wijayafamily Thanks for filing! This should work now after the fixes for https://github.com/mozilla-mobile/fenix/issues/8155.

I just tried on Nightly 200422 16:13. If you have filters the button with "arrow up" allows you to download the filters as a file. The button with "arrow down" allows you to select a file and import filters.

[2020-04-23 17:47] #9841 closed

[2020-04-23 17:50] eliserichards opened #10156 "FNX-3319 ⁃ elise:test"
## User Story
* As a user, I want … so I can do …

## Dependencies
* List dependencies on other issues/teams etc.

### Acceptance Criteria
* I can do …  (e.g. add a bookmark)

[2020-04-23 18:00] mcomella opened #10157 "FNX-3320 ⁃ Validate performance of bottom dynamic nav bar feature"
The bottom dynamic nav bar https://github.com/mozilla-mobile/fenix/issues/4383 is behind a feature flag currently https://github.com/mozilla-mobile/fenix/issues/8775. We should validate the performance of the feature before it ships.

Release criteria TBD...

[2020-04-23 18:05] liuche commented on #9488
Currently in UX feedback stage, should be ready for eng on Monday 4/27.

[2020-04-23 18:11] liuche commented on #1754
#10124 is the PR.

[2020-04-23 18:20] 532910 opened #10158 "FNX-3321 ⁃ [Bug] white screen during page load"
My system theme is dark, fenix theme is dark but while loading a dark web page it shows white scree n. While it's disregarded daytime, at nite it burns my eyes out.

![ScreenRecord-2020-04-23-18-33-16](https://user-images.githubusercontent.com/14617699/80135117-6ee93a80-85a8-11ea-86dc-925b2991ca02.gif)

Fenix 4.3.0 (build #21082025)

[2020-04-23 18:32] darkwing opened #10159 "FNX-3322 ⁃ Implement new Tab Tray colors"
@topotropic has provided new colors and names for the tab tray:

![image (2)](https://user-images.githubusercontent.com/46655/80136105-e007fe00-8566-11ea-9dd4-904562bc6218.png)

We need to implement these.

[2020-04-23 18:42] miketaylr opened #10160 "[Bug] Glitching graphics when scrolling https://savinggreatanimals.org/our-services/foster/foster-dogs/"
STR:

1. navigate to https://savinggreatanimals.org/our-services/foster/foster-dogs/
1. scroll down

Expected: nothing interesting
Actual: there's some wild glitches

https://github.com/webcompat/web-bugs/issues/45699

![](https://user-images.githubusercontent.com/12184325/70139951-52517200-169c-11ea-9223-818fabb08921.gif)

[2020-04-23 18:57] mcomella commented on #8803
I'm going to close as fixed and create a new issue for the analysis.

[2020-04-23 18:57] #8803 closed

[2020-04-23 19:00] mcomella opened #10161 "Analyze dex load time telemetry"
We added the dex load time telemetry https://github.com/mozilla-mobile/fenix/issues/8803. Unfortunately, our analysis is blocked because the `startup-timeline` ping is not being ingested: https://bugzilla.mozilla.org/show_bug.cgi?id=1631491 Once we're unblocked, we should analyze the probe using the original purpose of the probe: is the dex load time negligible across a wide range of devices?

---

[2020-04-23 19:00] ekager commented on #6313
From Bugzilla:

[2020-04-23 19:00] ekager commented on #10158
Closing for https://github.com/mozilla-mobile/fenix/issues/6313

[2020-04-23 19:08] mcomella commented on #8803
Filed https://github.com/mozilla-mobile/fenix/issues/10161 for the analysis.

[2020-04-23 19:18] betsymi commented on #9928
This is closed, posting this comment for documentation it comes up again. String has slightly changed in l10n quarantine.

[2020-04-23 19:19] cadeyrn commented on #9686
In the mockup I noticed that there is no spacing at all left of the thumbnails. This looks really out of place because you don't see something similar on any other screen in Fenix. It also feels unbalanced because the user interface sticks to the edge on the one side but not on the other side. Is this really intended?

[2020-04-23 20:18] topotropic commented on #9686
Thanks for the feedback @cadeyrn – it's a first pass and based off Material design guidelines https://material.io/components/lists#types; we'll keep iterating on it.

[2020-04-23 20:22] miketaylr commented on #9691
As reported in https://github.com/webcompat/web-bugs/issues/48003, I can reproduce this same issue when switching tabs, or backgrounding the app. Audio stops around 20 or 30 seconds later.

[2020-04-23 20:22] psymoon opened #10162 "FNX-3326 ⁃ [Bug] When enable/disable or settting allowing private browsing fails, should go back to previous state"
## Steps to reproduce
* Go to Addon detail page.
* Enable/disable or set "Run in PrivateBrowsing"  switch on/off

### Expected behavior
* When enable/disable or set "Run in PrivateBrowsing"  switch on/off, UI is expected to go back to previous state.

### Actual behavior
* UI switches on/off even though the action failed.

### Device information
* Android device: ?
* Fenix version: ?

[2020-04-23 20:23] topotropic opened #10163 "FNX-3325 ⁃ Update tab tray multiselect mode"
### Why/User Benefit/User Problem
I want to have a consistent experience when multi-selecting list items so that I don't have to adjust to various ways of selecting things.

### What/Requirements
Update multi-select on tab tray to match how it works for History or Bookmarks views.

### Acceptance Criteria (how do I know when I’m done?)
Multi-select on tab tray to save open tabs to a Collection is

[2020-04-23 20:29] eliserichards commented on #9979
Hi @lindongbin! what do you mean by "the desktop mode cannot be cancelled"? Can you add some more info in the expected and actual behavior sections above?

[2020-04-23 20:43] eliserichards commented on #10135
Closing in favor of #1340.

[2020-04-23 20:45] mcomella opened #10165 "FNX2-13086 ⁃ [Bug] Top sites favicon unexpectedly disappeared"
## Steps to reproduce
* Pin a top site using the 3-dot menu when the page is loaded
* Go to homescreen: observe favicon for top site is present
* (after an unknown duration) Return to homescreen

### Expected behavior
Favicon is still there

### Actual behavior
Favicon is missing and replaced with placeholder letter favicon

### Device information
* Android device: P2
* Fenix version: 75.0.0-beta.

[2020-04-23 20:48] liuche commented on #10065
This is a good bug to try out some profiling stuff from the training, and @csadilek can help if you get stuck. Since Fenix should start picking up new perf bugs and owning performance, we should put this or another perf bug into an upcoming sprint.

[2020-04-23 20:49] mcomella opened #10166 "[Bug] Add to device homescreen doesn't always work the first time"
I'm unable to reproduce when trying to do so intentionally so I'll reconstruct the STR from memory. This happened to me twice today in the same session but hasn't happened since.

## Steps to reproduce
* Visit a page
* Click add to homescreen in 3-dot menu
* Customize shortcut title
* Click add

### Expected behavior
Another dialog appears with "Touch & hold to place manually"

### Actual behavior

[2020-04-23 20:53] mcomella commented on #9644
Addressed with https://github.com/mozilla-mobile/fenix/pull/9649

[2020-04-23 20:53] #9644 closed

[2020-04-23 20:53] ekager commented on #6313
Chatted with the GV team on Riot and unfortunately the above solution likely does not work anymore with WR enabled. FxR uses a dummy surface with the correct color until they get a `onFirstContentfulPaint` and that's probably the direction we'd have to go as well to fix this.

[2020-04-23 20:58] mcomella opened #10168 "FNX-3329 ⁃ Validate performance of search widget"
This is a break out investigation from https://github.com/mozilla-mobile/fenix/issues/7380.

The search widget may have increased discoverability https://github.com/mozilla-mobile/fenix/issues/9488 so we may want to ensure it's performant.

[2020-04-23 21:16] eliserichards opened #10169 "FNX-3330 ⁃ [Bug]testsestestestest"
## Steps to reproduce
### Expected behavior
### Actual behavior
### Device information
* Android device: ?
* Fenix version: ?

[2020-04-23 21:24] sblatz commented on #10130
This is intentional and was decided about a year ago. :)

[2020-04-23 21:42] mcomella opened #10170 "FNX-3331 ⁃ [Bug] java.util.ConcurrentModificationException: GleanInternalAPI$initialize$1.invokeSuspend"
## Steps to reproduce
Unknown.

https://play.google.com/apps/publish/?account=7083182635971239206#AndroidMetricsErrorsPlace:p=org.mozilla.fenix.nightly&appid=4973444640763121861&appVersion&clusterName=apps/org.mozilla.fenix.nightly/clusters/30a12019&detailsAppVersion&detailsSpan=7

### Expected behavior
### Actual behavior
### Device information
* Android device: ?
* Fenix version: ?

[code]

[2020-04-23 23:12] mikeGolf08 opened #10171 "FNX-3332 ⁃ Undo closed tab"
### Why/User Benefit/User Problem
A user can bring back accidentally closed tabs and it'll be in line with the **desktop UX of Firefox**.

### What/Requirements
There is an entry named "Undo closed tab" in the 3 dot list on Fenix tab overview.
The 3dot menu needs to be always visible and the click on "Undo closed tab" will bring back **every closed tab** from the current session.

### Acceptance C

[2020-04-23 23:51] liuche commented on #9935
We're blocking the main thread when fetching geolocation for search engines. This is even worse when there is no MLS key (like with the two build flavors that mcomella has mentioned). Sebastian and mcomella have good suggestions in their comments above, and these would be good perf bugs to try profiling (for before/after).

[2020-04-23 23:53] Eskander commented on #3728
Does this feature request refer to user installed Client certificates as well or should a new Feature request be created

[2020-04-23 23:57] wijayafamily commented on #10120
all add-ons, ublock origin, https everywhere, noscript security suite.

[2020-04-23 23:58] mcomella commented on #7736
I'd prefer to remove them because:
1) unused code should generally be removed because it's more likely to break
1) if the APIs exist and fulfill someone's needs, they'll use them. However, if they had to write their own, they may be able to come up with a simpler, alternative implementation that would better fit their needs and, in this case, be much more performant.
1) On a mobile device with lim

[2020-04-24 00:28] lindongbin commented on #9979
https://i.imgur.com/WLvx2dh.mp4

[2020-04-24 01:41] wijayafamily commented on #10120
![Screenshot_20200424-065844_Firefox Nightly](https://user-images.githubusercontent.com/63433757/80166129-62e09580-8607-11ea-99a9-1977194d2b58.jpg)
![Screenshot_20200424-065815_Firefox Nightly](https://user-images.githubusercontent.com/63433757/80166147-6d029400-8607-11ea-9075-73214f7a6bf4.jpg)

[2020-04-24 01:57] eliserichards opened #10172 "FNX-3335 ⁃ Error states for saved logins"
Cleanup keyboard actions on the edit login fragment and finalize error states (including dupe usernames).

### For QA :tada:
The PR has more details about what this card does and does not cover. Both this and #10173 are  follow-ups to #9693.

## Acceptance Criteria
* [x] password cannot be empty/null
* [x] username **can be** empty/null
* [x] open keyboard when clicking into editable text fields (

[2020-04-24 01:58] eliserichards opened #10173 "FNX-3334 ⁃ Edit logins - duplicates and save criteria"
### Acceptance Criteria
* [x] disallow duplicate usernames - `getPotentialDupesIgnoringUsername(login)` in `SyncableLoginsStorage`
* [x] disallow save when password is empty OR dupe is detected
  * [x] gray out save button
  * [x] button is non-clickable

[2020-04-24 02:01] ghost opened #10174 "FNX-3333 ⁃ [webcontent] page shift up and down on one side"
## Site with issue and any steps to reproduce
reddit.com desktop mode

### Expected behavior
the page should not flash/shift up and down on one side

### Actual behavior
it is flashing/shifting up and down on one side very fast and hurt my eye

### Does toggling Tracking Protection fix the issue? (Press the lock icon in the toolbar while on the site to see toggle)
I have this off should I turn thi

[2020-04-24 02:15] RichardRobertson opened #10175 "Separate clear history from site data"
### Why/User Benefit/User Problem
Firefox Beta for Android can be configured to clear certain items on exit. History and site data are a single checkbox so I am not given the choice to clear history but keep site data.

### What/Requirements
I use sites that store local data so I can use it again next time without any cookies or sign in. I don't want to store a history but I do want the data I typ

[2020-04-24 05:22] yoasif opened #10177 "[Bug] Scrolling while toolbar is hidden causes scroll to hit a speed bump"
## Steps to reproduce
1. Have a top navbar (may apply to other configurations, but this is where I noticed it)
1. Scroll down to the bottom of any page (watch out for endless scroll pages!) - I used https://www.apple.com/covid19
1. Ensure that navbar is hidden
1. From the middle of the screen, swipe up (not too aggressively - action should be like you are trying to scroll up to read something a bi

[2020-04-24 05:59] afidel1978 opened #10178 "[Bug]gboard not being correctly hinted"
## Steps to reproduce
Attempt to enter text into web form

### Expected behavior
Initial capitalization and capitalization after punctuation

### Actual behavior
lower case

### Device information
Pixel 3 running April 2020 OS and current production gboard as of 4/24

* Android device: Y
* Fenix version: ?
75.0.0-beta.6 (Build #2015735819)

[2020-04-24 06:19] danielzgtg commented on #1048
@yoasif It was me that suggested this in #8083.

My reason for suggesting it be put on the forward button is because it was the closest thing that had to do with the back stack after other people declined to readd the back button.

It is not weird to show the back stack after long pressing the forward button. Back, current, and forward are as related as past, present, and future. There shouldn't e

[2020-04-24 06:32] sv-sdeiac commented on #9550
Hi, I can confirm that this issue is not reproducible using the latest version of Firefox Preview Nightly 4/24 #21150607.

Devices:
- LG g7 fit (Android 8.1);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android 10).

[2020-04-24 06:32] #9550 closed

[2020-04-24 07:13] Diana-Rus commented on #10109
Hi, issue is fixed checked with Samsung Galaxy S9 (Android 8) and Sony Xperia Z5 (Android 7) on Firefox Preview Nightly 200424.

[2020-04-24 07:20] sv-sdeiac opened #10180 "FNX-3339 ⁃ [Bug]Can't open youtube by tapping on his icon from the "Open tabs" list if a video was playing"
## Steps to reproduce
1. Open youtube.com;
1. Play a video;
1. Go to the tab drawer;
1. Tap on the youtube icon from the "Open tabs" list.

### Expected behavior
The youtube page is opened.

### Actual behavior
The youtube page doesn't open.

### Device information
Android device:

* LG G7 fit (Android 8.1);
* Samsung Galaxy Note 8 (Android 9);
* Google Pixel (Android 10).
* Fenix version: Firefox

[2020-04-24 07:23] sv-sdeiac commented on #10091
Hi, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 4/24 #21150607.
The crash is not anymore presented but #10180 was filled for a possible regression.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1).

[2020-04-24 07:54] sv-sdeiac commented on #10027
Hi, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 4/24 #21150607.
Now you can dismiss the context menu by tapping on the page content, toolbar or overview buttons from your device.

Devices:
- Huawei MediaPad M2 (Android 5.1.1).

[2020-04-24 07:56] Poopooracoocoo commented on #1048
@danielzgtg oh shoot. as always, google sucks

[2020-04-24 08:07] Matth7878 commented on #1048
If long pressing the forward is used to show back history it should also displayed forward history.
If you went back several times in history you might want to go back forward several times.

I would suggest that long pressing forward button should display inside the tab all history of the tab. (And not in a kind of contextual menu like before)
So it would be easy to navigate your history either b

[2020-04-24 08:11] abodea commented on #8465
Verified as fixed in Nightly from **4/24** with **Google Pixel 4 XL (10).**

[2020-04-24 08:11] #8465 closed

[2020-04-24 08:19] Dexterp37 commented on #10161
@mcomella please kindly comment on the bug mentioning that this is blocking your work :-)

Also, please note that pings are being ingested, but they are not being processed into tables (as far as I know).

[2020-04-24 08:28] Diana-Rus commented on #9932
Hi, verified the issue with Google Pixel 3 XL (Android 9) on migration build 75.0.0-beta.6 and the issue is still reproducing.
GIF:
![20200424-111932](https://user-images.githubusercontent.com/49859863/80191611-9975da80-861e-11ea-91af-975b43013a3c.gif)

[2020-04-24 08:31] Poopooracoocoo commented on #1048
@Matth7878 I personally like the context menu thing at the bottom but if it became a screen or centred window when there's heaps of entries, then that's cool.

[2020-04-24 08:35] mcarare commented on #10180
This needs a bit of investigation. The play button, even set to gone still shows up in view hierarchy:
<img width="379" title ="captured with layout inspector" src="https://user-images.githubusercontent.com/48995920/80192178-7861b980-861f-11ea-9d4f-6ab015addbba.png">

[2020-04-24 08:36] sv-sdeiac commented on #7387
Hi, I can confirm that the CFR notification is displayed and can be dismissed only by tapping on the "X" button from the dialog.

Devices:
- Huawei MediaPad M2 (Android 5.1.1);
- LG G7 fit (Android 8.1);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel 3 (Android 10).

Build:
- Firefox Preview Nightly 4/24 #21150607.

[2020-04-24 08:36] #7387 closed

[2020-04-24 08:48] ccboxes commented on #9039
Have the same bug.
In fact, there are similar problems when fenix being used in the foreground. When a tab is placed in the foreground for a long time, switching to another tab will cause a reload. Change 'browser.cache.memory.capacity' to -1 seems to help. But it doesn't work after being background.

[2020-04-24 09:15] sv-sdeiac commented on #8965
Hi, the issue is still reproducible using the latest version of Firefox Preview Nightly 4/24 #21150607.

Devices:
- Samsung Galaxy Note 8 (Android 9);
- Samsung Galaxy Tab S6 (Android 9);
- Xiaomi Mi 8 Lite (Android 9);
- LG G7 fit (Android 8.1);
- Huawei MediaPad M2 (Android 5.1.1).

I'll retry with the next build when it comes just to see if the issue is still reproducible. Till that, I'll remov

[2020-04-24 09:21] Diana-Rus commented on #9987
Hi verified as fixed with Google Pixel 3 XL (Android 9), Samsung Galaxy S9 (Android 8) and Sony Xperia Z5 (Android 7) on Firefox Preview Nightly 20200424
**- Settings/Logins and passwords - "Secure your logins and passwords" prompt**
**Pixel 3 XL - GIF**
![20200424-102701](https://user-images.githubusercontent.com/49859863/80187146-cb377300-8617-11ea-98e0-bf864c456a96.gif)

**Samsung Galaxy S9 - G

[2020-04-24 09:21] #9987 closed

[2020-04-24 09:28] abodea commented on #2169
Verified as fixed on the Nightly 4/24 with Google Pixel 4 XL (10).
Please note that the video cannot be played on the browser and it should redirect to the Play Store if the app is not installed or Open the Netflix app if it's installed.
I added this issue here https://github.com/mozilla-mobile/fenix/issues/3177#issuecomment-606690970 with the other bugs and once that issue will be fixed the redir

[2020-04-24 09:42] sflorean commented on #9916
Reproducible also with trivago.com on Samsung Galaxy Note 10 (Android 10).

[2020-04-24 09:56] madb1lly commented on #1048
Thanks for clarifying @yoasif 🙂

I really don't mind the implementation so long as the functionality is available. I really don't understand what the problem is with using some of that white space for a back button though.

Cheers 🙂

[2020-04-24 10:01] buttercookie42 commented on #10171
See also #2486.

[2020-04-24 10:18] Amejia481 commented on #9493
@sv-ohorvath the fix was applied on master, would you mind re-testing? Thanks :)

[2020-04-24 10:25] sflorean commented on #10137
I was able to reproduce this without having addons installed.
1. Log in with a valid account.
2. Open twitter.
3. Tap on "Log in" -> password field.
4. Tap on 3dotmenu - Settings.
 Results: Fenix crashes.

Not reproducible when I'm not signed with a Firefox account.

[2020-04-24 10:37] sv-sdeiac commented on #1754
Hi, this issue is fixed using the latest version of Firefox Preview Nightly 4/24 #21150607.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1);
- Huawei MediaPad M2 (Android 5.1.1).

[2020-04-24 10:55] codrut-topliceanu commented on #6290
Should be fixed by https://github.com/mozilla-mobile/android-components/issues/6751

[2020-04-24 10:56] jensrutschmann commented on #2579
I can also reproduce this with the pkpass files you get from DHL when buying a packet stamp.

Nightly 200422 16:13 (Build #21131617)
39.0.20200422145552, 1ee8c073e
GV: 77.0a1-20200422093542
AS: 0.57.0

[2020-04-24 11:03] softvision-miralobontiu commented on #10137
Hi all,
Step 2 (install some add-ons) is not necessary, the crash is not linked to add-ons at all.
I edited the STR and the title of the issue.

[2020-04-24 11:08] staktrace opened #10184 "FNX-3340 ⁃ [Bug] Reader mode sometimes renders content in corner of page"
## Steps to reproduce
Go to [url](https://krebsonsecurity.com/2020/04/when-in-doubt-hang-up-look-up-call-back/)
Enter reader mode
If the problem doesn't occur, hit back to exit Reader mode, zoom out all the way, and enter reader mode again

### Expected behavior
Reader mode occupies entire visible space

### Actual behavior
![Screenshot](https://user-images.githubusercontent.com/485789/80206387-32

[2020-04-24 11:26] sv-sdeiac commented on #7632
Hi, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 4/24 #21150607.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1).

[2020-04-24 11:26] #7632 closed

[2020-04-24 11:54] Diana-Rus commented on #8326
Hi, I checked with Samsung Galaxy S9 (Android 8) and Sony Xperia Z5 (Android 7) domain https://www.homedepot.com/ on latest Nightly 4/24 and the mobile version of the site seems to be displayed.

Samsung Galaxy S9 (Android 8) - Gif
![20200424-131804](https://user-images.githubusercontent.com/49859863/80209480-d8b22480-863a-11ea-83d0-a3bf77708053.gif)

Sony Xperia Z5 (Android 7) - Gif
![20200424-14

[2020-04-24 11:54] #8326 closed

[2020-04-24 12:00] sv-sdeiac commented on #10184
Hi, I can confirm that this issue is reproducible using the URL from the description.
It seems that the page is zoomed-in when you disable the reader mode and after re-enabling the reader mode will determinate the page to be zoomed out.

Build:
- Firefox Preview Nightly 4/24 #21150607.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9).

![20200424_145703](https://user-imag

[2020-04-24 12:03] christianfl commented on #5745
This flag in Fennec disables all search autocompletion, not only the default (sponsored) ones. I couldn't even find those URLs in the source code with grep, where are they stored?

[2020-04-24 12:23] cypressious opened #10185 "FNX-3341 ⁃ Add ability to accept suggestion from search completion without submitting in order to append something or modify it"
### Why/User Benefit/User Problem
Let's say I want to search for "Mozilla Firefox Beta" on Google. I'm typing "Mozilla" and one of the suggestions is "Mozilla Firefox". I would like to accept it but not submit the search, so that I can append " Beta" at the end.

Chrome has this feature, see screenshot below

![grafik](https://user-images.githubusercontent.com/1191816/80211739-8969f500-8636-11ea-8

[2020-04-24 12:24] sv-sdeiac commented on #9207
Verified as fixed using the latest version of Firefox Preview Nightly 4/24 #21150607.

Devices:
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android 10).

[2020-04-24 12:24] #9207 closed

[2020-04-24 12:45] mathieutu commented on #2579
I encountered the same issue, but with the same file.
Works well from standard url, but have this message when from blob source.

Maybe the mega and other issues are coming from that?

[2020-04-24 12:48] wijayafamily commented on #10120
ok, partly my fault, the last 3 build of fenix reset allow addon on private browsing to off. and I didn't see that, proceed to websites but no warning or whatsoever that I need to enable it for private browsing even in the add on setting page.

[2020-04-24 12:55] abodea commented on #8560
Verified as fixed on Nightly 4/24 with Google Pixel 4 XL (10).

![20200424-153436](https://user-images.githubusercontent.com/42831109/80214548-b40e7a80-8643-11ea-9b40-c8ec57849ffa.gif)

[2020-04-24 12:55] #8560 closed

[2020-04-24 13:04] codrut-topliceanu commented on #8560
@abodea Thank you. I removed the tag.

[2020-04-24 13:04] Diana-Rus opened #10186 "[Bug] Location pop-up is dismissed only after double tapping it"
## Steps to reproduce
1. Navigate to homedepot.com
1. Tap on "Don't allow" button.
    1. Expected behavior
The Location prompt is dismissed after first tap.
    1. Actual behavior
The Location prompt is dismissed after double tapping.
    1. Device information

* Android device: Samsung Galaxy S9 (Android 8), Sony Xperia Z5 (Android 7)
* Fenix version: Nightly 4/24

**Sony Xperia Z5 (Android 7) -

[2020-04-24 13:12] wijayafamily commented on #10120
this can happen to anyone, I would suggest a notification if add on is enabled, allow in private is off, private mode is on, tell user about it.

on addon settings if private mode on, allow in private off, settings page should say that.

[2020-04-24 13:27] softvision-miralobontiu opened #10188 "FNX-3343 ⁃ [Bug] "Add shortcut" for PB pop-up has a large space between the text and the buttons"
## Steps to reproduce
1. Have a clean profile, and tap on the private icon three times in order for the pop-up to be displayed.

### Expected behavior
The pop-up is displayed with no UI issues.

### Actual behavior
There is a large space between the "Add a shortcut to open private tabs from your Home screen." text and the [Add shortcut] button - please see the screenshot below.

### Device informa

[2020-04-24 13:51] csadilek commented on #6123
@brampitoyo As the default for this is "false" (add-ons do not run in private browsing until users turn it off) do we need some form of hint / notification? This is re: https://github.com/mozilla-mobile/fenix/issues/10120#issuecomment-618999870.

Defaulting to false seems correct as this is what Desktop does, just wondering if we need to make this more obvious to users?

[2020-04-24 13:53] csadilek commented on #10120
@wijayafamily Sorry, for the troubles. The first issue you ran into was https://github.com/mozilla-mobile/fenix/issues/10070 and a recent regression described in https://bugzilla.mozilla.org/show_bug.cgi?id=1631137.

Everything should be back to normal in Nightly 200424 06:01.

The second issue is due to us adjusting the private browsing default to align with desktop. Add-ons do run in private bro

[2020-04-24 14:01] csadilek commented on #7736
@mcomella In general, I am all for deleting unused code. We usually deprecate (and remove in a subsequent release), but all it takes is to open a PR :). We have a ticket for it too: https://github.com/mozilla-mobile/android-components/issues/5680

So, feel free to open a PR, or otherwise we can schedule it in as perf. work in the next Sprint.

[2020-04-24 14:01] LaurentiuApahideanSV opened #10189 "FNX-3344 ⁃ [Bug] Zooming in on a web page will make the address bar appear"
## Steps to reproduce
1. Go to any website that allows scrolling;
1. Scroll down the page until the address bar disappears;
1. Zoom in the page.
    1. Expected behavior
The address bar should not appear when zooming.
    1. Actual behavior
The address bar appears when zooming in on a page.
    1. Device information

* Android device: Huawei MediaPad M3 lite 10 (Android 7.0)
* Fenix version: Previ

[2020-04-24 14:32] hookshot1 opened #10193 "FNX-3346 ⁃ Consider removing page title when Link Sharing because it breaks workflow with other apps"
recently got pushed from Firefox Beta -> preview.
I normally share links with termux, which has a link handler.

Unfortunately this update appears to break that, as sharing now also includes additional text [Title] [link], which causes it to not be recognized as a URL.

would it be possible to
A) revert back to plain link sharing? or
B) provide a setting to disable the extra text from being shared

[2020-04-24 14:33] AndiAJ opened #10194 "FNX-3345 ⁃ [Bug]Dark Reader is missing from the main menu after re-enabling it"
## Prerequisites
Dark Reader should be installed
Enable "Run in private browsing"

## Steps to reproduce
1. Open Wikipedia
1. Open any of the featured links in a new private tab and switch to it
1. Disable Dark Reader and Disable the "Run in private browsing" option"
1. Exit to the web view and refresh the page
1. Open the Add-ons Manager
1. Enable "Run in private browsing" option and enable Dark

[2020-04-24 14:55] AndiAJ opened #10195 "FNX-3347 ⁃ [Bug] Private browsing setting can re-enable add-on"
## Prerequisites
Ublock Origin should be installed and enabled
"Run in private browsing" should not be disabled
Switch to Private Browsing

## Steps to reproduce
1. Navigate to the Add-ons manager and open uBlock
1. Enable "Run in private browsing" and quickly disable uBlock

### Expected behavior
Ublock should be disabled

### Actual behavior
Ublock is re-enabled automatically

### Device informa

[2020-04-24 15:01] cadeyrn commented on #5745
These are no sponsored URLs but the most popular websites according to one of the Alexa top lists.

https://github.com/mozilla-mobile/android-components/tree/77db26e4b0abcbd0a84b939821519813e98ce408/components/browser/domains/src/main/assets/domains

[2020-04-24 15:03] cadeyrn commented on #10185
Duplicate of #8043.

[2020-04-24 15:11] gabrielluong commented on #9544
Closing this as WONTFIX since we already moved ahead with integrating the tabs tray from AC.

[2020-04-24 15:11] #9544 closed

[2020-04-24 15:15] AndiAJ opened #10196 "FNX-3348 ⁃ [Bug]"Run in private browsing" should remain enabled even if the user disables the Add-on"
## Steps to reproduce
1. Install any of the featured Add-ons and open it
1. Enable "Run in private browsing"
1. Disable the Add-on
1. Exit to the Add-ons manager
1. Re-open the Add-on and check the state of the "Run in private browsing" option

### Expected behavior
"Run in private browsing" should remain enabled (*As per Firefox on Desktop*)

### Actual behavior
"Run in private browsing" is also

[2020-04-24 15:23] Amejia481 commented on #10196
I think we should hide the **"Run in private browsing"** when the add-on is disabled, similar to what we are doing with the **"Settings"** section because when an add-on is disabled we can't apply any changes to **"Run in private browsing"**

[2020-04-24 15:36] Sgt-Miller opened #10197 "FNX-3349 ⁃ [Bug] Behavior of "back button" is inconsistent when focus is on address bar."
Steps to reproduce.
Note : I've chosen the search terms "spacex" and "blue origin" just as an example.
Screen recording - https://www.youtube.com/watch?v=GhLiNPAbw_c
1) Search for "spacex"
2) Now tap the address bar and search for "blue origin"
3) Now tap the address bar again and click the back button (happens at 0:15 in the video)

Expected result -
The "this time search with" menu disappears an

[2020-04-24 15:59] supersonic71 opened #10198 "When clicking on the plus button, replace "this time search with" menu with a list of bookmarks/recently visited sites."
### Why/User Benefit/User Problem
Rarely do most of us change search engines. Even if I want to search wikipedia, I usually google/ddg "search term" + "wiki". That space would be better used by showing a list of top visited sites or bookmarks (like on firefox desktop).

### What/Requirements
Change suggestion list of empty address bar to how it works in desktop version

### Acceptance Criteria (ho

[2020-04-24 16:09] Sgt-Miller opened #10199 "[Bug] Long Pressing a tab to add to collections takes you to the bottom"
## Steps to reproduce
Create lots of tabs, say 1, 2, 3, ..., 20
Long Press tab 1 (the tab at top of list) to add to collection

### Expected behavior
Screen remains near the first tab

### Actual behavior
Screen scrolls down to the bottom most tab

### Device information
Lenovo K8 Note

* Android device: 8
* Fenix version: Nightly 200424 06:01 (Build #21150608)
39.0.20200422203205, 5491e8f4e
GV: 7

[2020-04-24 16:18] Diana-Rus commented on #9946
Hi, verified the app's branding with a geckoBetaFennecBeta debug build from master on:
**-  Google Pixel 3 XL (Android 9) - Display Size: 640 dpi (xxxhdpi)**
- All scenarios have passed -> FIrefox Logo and wordmark are displayed.
**-  Google Pixel 3 XL (Android 9) - Display Size: 560 dpi (xxhdpi)**
- All scenarios have passed -> FIrefox Logo and wordmark are displayed.
**-  Google Pixel 3 XL (Andr

[2020-04-24 16:19] sflorean opened #10200 "[Bug] Dynamic toolbar not displayed while the page is loading"
## Steps to reproduce
1. Go to espn.com or cnn.com.
1. Scroll the page while it is still loading.
1. Pay attention to the navigation bar.

### Expected behavior
The navigation bar is displayed until the page loads completely, even when the user is scrolling the page down.

### Actual behavior
The navigation bar is not displayed.

### Device information
* Android device:  Nokia 6 (Android 7.1.1), S

[2020-04-24 16:58] BranescuMihai commented on #6557
@Ben-Wu I used a new one, in the same group as the new ads metrics, `browser.search.in_content`, with labels like `engine.in_content.[sap|...].[code|none]`

Note: The label is slightly different from desktop because we cannot use `:` inside them, replaced with dots.

Second note: there are some differences between mobile/desktop regarding codes:
duckduckgo - codePrefixes = `fpas` instead of `ff`
b

[2020-04-24 18:02] isabelrios commented on #7702
I would like to share some progress here.
After some changes I got the desired `org.mozilla.fenix.nightly.test` package.

But in order to get it by running `./gradlew assembleAndroidTest` successfully, I had to disable optimizations by adding `-dontoptimize` in `proguard-rules.pro` file. I was blocked with some
`Task ':app:transformClassesAndResourcesWithR8ForGeckoNightlyFenixNightly'`  errors and

[2020-04-24 18:39] darkwing opened #10201 "FNX-3353 ⁃ [Bug] Tab tray visuals are slightly off"
In final refactoring of the tab tray, we lost padding around the "Save to Collection" button and we no longer style the tab tray background, so the "Your open tabs will display here" message displays despite there being a tab open.

[2020-04-24 19:35] jonalmeida commented on #8422
This can be verified with on a nightly migration.

[2020-04-24 19:37] jonalmeida commented on #9932
This can be verified with on a nightly migration.

[2020-04-24 19:38] jonalmeida commented on #9932
This can be verified with on a nightly migration.

[2020-04-24 20:08] jonalmeida commented on #9972
I can see the four layout passes coming from the following ViewGroups in this order: CoordinatorLayout, SwipeRefreshLayout, FrameLayout, FrameLayout.

- The CoordinatorLayout is the root view for the browser fragment, so I don't think there is much to do there.
- The SwipeRefreshLayout is from the androidx libraries to support Pull-to-refresh. While the feature isn't enabled right now, removing th

[2020-04-24 22:16] ekager opened #10204 "FNX-4724 ⁃ [Bug] SettingsFragment IllegalStateException crash"
IllegalStateException androidx.fragment.app.Fragment in getViewLifecycleOwner
fatalCan't access the Fragment View's LifecycleOwner when getView() is null i.e., before onCreateView() or after onDestroyView()

https://sentry.prod.mozaws.net/operations/fenix-nightly/issues/8055326/?query=Can%27t%20access%20the%20Fragment%20View%27s%20LifecycleOwner%20when%20getView()%20is%20null%20i.e.,%20before%20on

[2020-04-24 22:28] marcinwiacek commented on #10129
hmmm, situation from today (again) - Google Play didn't propose me update on the list of updates, I had to do it manually (find app in the store, enter its' screen and press Update). App after update is not shown on the list of last updated apps. Google Play 19.7.12

[2020-04-24 23:09] liuche commented on #8775
I'll be cutting the 5.0 release on Monday 4/27 with the new AC release, @sblatz is this ready to be turned on? I believe @AmyYLee will meet and go over this with you next week to decide if we want it in the Fennec/Fenix build. In the meantime, if there aren't any large outstanding issues, @vesta0 wanted to get this onto Firefox Preview.

[2020-04-24 23:09] liuche opened #10205 "FNX-3354 ⁃ Releng 5.0"
## Overview
| Monday          | Tuesday                   | Wednesday                    | Thursday       | Friday      |
|----|----|----|----|----|
| (Sprint 1 Start)|                           |                              |                |             |
|                 | Hard code freeze for Beta |                              |                | Code Freeze/Planning|
| Sprint 2 Start / Rele

[2020-04-24 23:10] liuche commented on #9898
4.3 at 100%

[2020-04-24 23:10] #9898 closed

[2020-04-25 02:29] xudongzheng opened #10207 "[Bug] Unable to browse from webpage"
## Steps to reproduce
1. Visit https://www.bouncingdvdlogo.com/
1. Click the address bar and browse to another page

### Expected behavior
It's expected that the browser takes me to the new page.

### Actual behavior
The browser is stuck on that page.

### Device information
* Android device: 10
* Fenix version: Firefox Preview 4.3.0 Build 21082025

[2020-04-25 03:38] axaxs opened #10208 "FNX-3356 ⁃ [Bug] Some websites don't allow browsing away"
## Steps to reproduce
Visit time.gov
Wait a few seconds
Enter a URL or search term into the address bar

### Expected behavior
Search for or visit text in address bar

### Actual behavior
Time.gov site reloads

### Device information
Oneplus 7T, Firefox preview with ublock origin

* Android device: ?
Yes, Android 10
* Fenix version: ?
4.3.0

[2020-04-25 09:03] Bhooty commented on #4417
Still can't see the downloads in app :(
But downloads seem to work now :3

[2020-04-25 10:49] mikeGolf08 commented on #10171
I had a different point of view for implementation but actually a list would be a lot more convenient in comparison to my recommendation.

I close this issue now but the UX team definitely has to take a look at this!

[2020-04-25 12:39] ra-hardy opened #10210 "FNX2-13097 ⁃ [Bug] Task Switcher has multiple instances of Firefox"
## Steps to reproduce
1. In Firefox, create a home screen shortcut for a website
1. Launch the website from the home screen shortcut
1. Launch the website from the same home screen shortcut

### Expected behavior
In the app's task switcher there should be one instance of Firefox.  Or alternatively there should be one per shortcut and one for the main Firefox instance, so two instances in total as

[2020-04-25 12:45] ra-hardy opened #10211 "FNX-3358 ⁃ [Bug] Firefox shows blank screen when the tab was shut after launching from home screen shortcut"
## Steps to reproduce
1. Launch Firefox and close any tabs
1. Launch Firefox again from a home screen shortcut
1. Use the phone's task switcher to go to the first 'instance' of Firefox and close the tab
1. Use the phone's task switcher to go to the second instance of Firefox

### Expected behavior
Unclear - as the tab was closed the second instance shouldn't exist.  Or maybe it should show the web

[2020-04-25 12:49] LittleAngelwings commented on #10208
Seems to be the same issue like this: https://github.com/mozilla-mobile/fenix/issues/10207

[2020-04-25 12:49] LittleAngelwings commented on #10207
Seems to be the same issue like this: https://github.com/mozilla-mobile/fenix/issues/10208

[2020-04-25 12:58] ra-hardy opened #10212 "FNX-3359 ⁃ [Bug] Single home screen shortcut results in multiple tabs"
## Steps to reproduce
Close any tabs or instances of Firefox.

1. Add a home screen shortcut for a website
1. Use the home screen shortcut to launch Firefox
1. Use the same shortcut to launch again
1. Launch Firefox from it's main icon and not a shortcut

### Expected behavior
In the main Firefox instance there should be one tab showing for the shortcut that was launched.

### Actual behavior
In F

[2020-04-25 13:10] ra-hardy opened #10213 "FNX-3360 ⁃ [Bug] Firefox crash when switching to tab from home screen shortcut"
## Steps to reproduce
Close any tabs and instances of Firefox in the phone's task switcher

1. Launch Firefox from a home screen shortcut
1. Launch Firefox from the main app icon
1. Click the tab showing (which is for the website from the shortcut from step 1)

### Expected behavior
Switch to the home screen 'instance' of Firefox.  Or maybe, the tab shouldn't show at all as it's not a tab but a se

[2020-04-25 13:16] FernandoMiguel opened #10214 "[Feature request] Option to use OS share"
### Why/User Benefit/User Problem
Nightly uses Firefox own Share menu.
it tries to memorize most recent apps

android OS does a slight better job at guessing which apps users want to share.
not only that the scroll is vertical and has more space.
finding apps on the firefox menu take a lot of time due to so much half screen horizontal scrolling.

if there was a setting/flag to choose between firef

[2020-04-25 13:18] FernandoMiguel opened #10215 "FNX-3361 ⁃ swipe to change tab"
Chrome has this amazing feature that allows to swipe on the url window and switch between open tabs.

could this be considered as a future enhancement for firefox?

[2020-04-25 13:51] Dunexus commented on #10215
This is tracked by https://github.com/mozilla-mobile/fenix/issues/3481 as part of the [gestures meta](https://github.com/mozilla-mobile/fenix/issues/176)

[2020-04-25 14:59] cadeyrn commented on #10214
I vote against this proposal for one simple reason: While I understand that some people prefer the Android share menu while others prefer the Fenix share menu I also think that it would be a) an unnecessary waste of ressources to offer both and b) confusing for users to have this option. How would you explain this option to users without using the words "better" and "worse"? In my opinion a settin

[2020-04-25 15:23] ryno1337 opened #10217 "[Feature request] In browser printing"
### Why/User Benefit/User Problem
so user can print from mobile browser, there is no print option in browser

### What/Requirements
add print option to browser menu

### Acceptance Criteria (how do I know when I’m done?)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-264)

[2020-04-25 15:29] andreisilv opened #10218 "Add smart bookmarks"
To reproduce:

* Create a bookmark
* Write in location text box:
  * place:queryType=1&sort=8&maxResults=5

It should query bookmarks and display in a folder like manner the resulting list with the top 5 bookmarks. This is a desktop feature, but would be nice to also have in phone.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-265)

[2020-04-25 15:57] LittleAngelwings commented on #10214
I'm also in favor with @cadeyrns opinion. Mozilla had decided for his own way. And the goal is fully okay in usability and look.

[2020-04-25 16:11] FernandoMiguel commented on #10214
If we have to choose only one, than follow the OS one for consistency with the entire OS and other apps.
Using a lesser version, a very different ui/ux is a poor choice.

[2020-04-25 16:47] cadeyrn commented on #9529
@apoorv9990 No. But my original description was not correct. I corrected it a few moments ago. I hope it's clear now.

[2020-04-25 16:50] apoorv9990 commented on #9529
@cadeyrn yes it is pretty clear now. Can I work on this?

[2020-04-25 16:53] cadeyrn commented on #9529
I am not in the Fenix team but since the issue has "eng:ready" and "help wanted" labels: yes, I think so! Thank you! :)

[2020-04-25 17:10] yoasif commented on #3481
Pretty sure it is a dupe of https://github.com/mozilla-mobile/fenix/issues/396

[2020-04-25 20:19] Matth7878 commented on #9506
For what is worth if I use the browser it is not to open link in other apps. If it was I would directly use the native apps.

What's actually happen is that I'm looking for something or reading an article which contain a link to a video, a reddit thread or whatever and I want to check it or save it for later in another tab because right now what I am doing is not an activity related to one of thes

[2020-04-26 02:50] cathaysia opened #10219 "FNX-3365 ⁃ Change theme by time"
### Why/User Benefit/User Problem
Fenix's black theme is ok, I like it very much. But my phone have not the black mode, which means I must change by hands.

### What/Requirements
Could add "change theme by time" option?

### Acceptance Criteria (how do I know when I’m done?)
It is not a necessary option, but i hope you can consider this and add it in todo list.

[2020-04-26 03:15] yump opened #10220 "[Bug] Horizontal scroll bar moves with top toolbar when scrolling vertically"
## Steps to reproduce
1. Set toolbar to "top".
1. Pinch-to-zoom or visit desktop site, to cause horizontal scroll bar to appear at bottom of viewport.
1. Scroll down until URL bar is absorbed into top of viewport.

### Expected behavior
Horizonal scroll bar remains stuck to bottom of viewport.

### Actual behavior
Horizontal scroll bar moves up the page and stops, about 1 URL bar's width from the

[2020-04-26 03:58] yump opened #10221 "[Bug] Top toolbar interferes with scroll axis locking (horizontal)"
## Steps to reproduce
1. Set toolbar to "top"
1. Pinch-to-zoom, or visit a desktop website that is wider than the viewport, so that horizontal scrolling is possible.
1. Begin scrolling horizontally, so the axis lock should engage.
1. Without lifting your finger, try to scroll vertically.

### Expected behavior
No vertical scrolling should be possible, because the axis should be locked to horizonta

[2020-04-26 05:06] lindongbin opened #10222 "[Bug] Cannot autofill password on some sites"
## Steps to reproduce
open https://pan.baidu.com/
（The mobile version cannot add a password, you can add an account on the desktop version, and then sync to the mobile version for testing. And I change general.useragent.override to firefox desktop useragent string.）

https://i.imgur.com/eYgIoAZ.mp4

### Expected behavior
If the password is saved, the username and password should be filled in autom

[2020-04-26 05:16] kbrosnan commented on #10219
Duplicate #4236

[2020-04-26 05:18] yoasif opened #10223 "[Bug] Support "display" web app manifest"
## Steps to reproduce

1. Go to https://dev.to/
2. Install app
3. Open app

### Expected behavior

Since `  "display": "standalone"` from https://dev.to/manifest.json

the app shouldn't show browser chrome.

https://developer.mozilla.org/en-US/docs/Web/Manifest/display

### Actual behavior

I see the browser toolbar, showing address, meatball menu, etc.

### Device information

* Android device: M

[2020-04-26 05:18] yoasif opened #10252 "Support "display" web app manifest"
## Steps to reproduce
1. Go to https://dev.to/
1. Install app
1. Open app

### Expected behavior
Since {{  "display": "standalone"}} from https://dev.to/manifest.json

the app shouldn't show browser chrome.

### Actual behavior
I see the browser toolbar, showing address, meatball menu, etc.

See also https://developer.mozilla.org/en-US/docs/Web/Manifest/display

### Device information
* Android de

[2020-04-26 05:22] kbrosnan commented on #10218
This may not be simple as the history/bookmarks store on Android is not an exact copy of the Desktop Places databases.

Better documentation about the feature behaviors https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Places/Places_query_URIs

[2020-04-26 05:33] izomiac opened #10224 "FNX-3370 ⁃ [Bug] Bookmarklets are being redirected to searches"
## Steps to reproduce
Tap the address bar, type the first few characters corresponding to a bookmarklet, tap the bookmarklet.

### Expected behavior
The bookmarklet should be executed on the current page.

### Actual behavior
Google is searched for the contents of the bookmarklet.

### Device information
Firefox for Android is 75.0.0-beta.6 Build #2015735819
Pixel 2 phone and Kindle Fire HD tablet

[2020-04-26 06:12] Poopooracoocoo commented on #9506
it reminds me of this:

#8474, #7408, #7659 and #8800

something like #6639 would be nice imo

[2020-04-26 06:48] Matth7878 commented on #9506
It's not really the same as the blue dot.
The blue dot IS annoying because it's not clear what it means. It appears to indicate new features and when reader mode is/was available. (Apparently no longer true in nightly)
It is annoying because it's extremely visible and it feels like they want to force you to use a feature you may not care about. (I don't understand how they could not found it annoy

[2020-04-26 06:51] Poopooracoocoo commented on #9506
@Matth7878 simple solution would be to merge the page info and tracking protection buttons 😄 Firefox 70 split them on desktop and it's rather annoying as the tracking protection icon is coloured too.

[2020-04-26 08:18] cadeyrn commented on #10224
Duplicate of #2871.

[2020-04-26 08:20] karot85 opened #10225 "FNX-3371 ⁃ [Bug]60fps instead of 120fps on OP8Pro"
## Steps to reproduce
When you go on this website https://t.co/ythS9dyhhh?amp=1 with Firefox Preview, it shows around 60FPS contrary to Chrome that gives around 120fps.

## Tested on :
It has been tested on OnePlus 8Pro with Android 10 and firefox Preview 4.3.0 Build #21082025

[2020-04-26 08:40] cadeyrn commented on #10225
Duplicate of #7560.

[2020-04-26 13:19] apkd commented on #8559
How is it possible that Firefox doesn't work with Firefox Send? It's so annoying that Firefox requires me to keep Edge/Chrome installed on my phone *just in case I want to use Firefox services*. Aaargh

[2020-04-26 14:34] Turbotomate commented on #10215
Very good idea. This improves the User Experience by far and saves so much time when switching between often used tabs.
You should also mark this as a Feature Request.

[2020-04-26 14:40] Turbotomate opened #10226 "FNX-3388 ⁃ [Feature request] Hold the Tabs-icon for opening a new tab"
I thought of a faster way to open a new tab and found, that long-pressing the tabs-icon has no function yet.
Other Browsers, like Samsung Internet, let you open a new tab by holding this icon. This would be a nice addition to the User Experience.

[2020-04-26 15:16] staktrace commented on #8559
The issue I originally filed seems to be resolved. I'll leave this open since the issue has been hijacked by others to cover other scenarios as well and I don't know if those are fixed too.

[2020-04-26 16:26] cadeyrn commented on #8559
@apkd The Firefox Send issue is #3336.

[2020-04-26 17:13] apoorv9990 commented on #9529
I have created https://github.com/mozilla-mobile/fenix/pull/10227 that closes this issue.

[2020-04-26 18:29] vesta0 commented on #6448
Closing since the work is being tracked in broken down tickets.

[2020-04-26 18:29] #6448 closed

[2020-04-26 18:51] kbrosnan commented on #10215
Closing as a duplicate.

[2020-04-26 19:06] kbrosnan commented on #10213
Please provide a crash log by following the directions at https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information

[2020-04-26 19:08] kbrosnan commented on #10212
duplicate of #5201

[2020-04-26 20:03] acreskeyMoz commented on #9382
Without a rooted physical android device, I am blocked on attempting to simpleperf non-debuggable apps.
@MarcLeclair Do you want to take ownership of this bug?
Otherwise we may want to put this on hold until someone is setup for this.

[2020-04-27 00:22] karlcow opened #10228 "[Bug] masq.qwant.com - Unable to add Qwant maps to Qwant Masq"
This was initially reported on webcompat.
https://github.com/webcompat/web-bugs/issues/39675

This not reproducible on firefox desktop with rdm and firefox android ua/

## Steps to reproduce
1. Navigate to https://masq.qwant.com/
2. Tap "Create a new profile" button.
3. Type in an username, add a profile picture and tap "Next" button.
4. Type in a "Secret key" (and remember it), confirm it and tap

[2020-04-27 00:22] StOrmCatz opened #10229 "[Bug] Focus is not on page after switching tabs or opening new URL"
### Why/User Benefit/User Problem
The web page area is not in focus after a tab change (always) or after browsing to a site by inputting a site address (most of the time).  If a page up/down key is sent to Firefox for example, the key action doesn't do anything. However, once you tap anywhere in the loaded web page area and again send the key, the key actions will be accepted and performed. I'm as

[2020-04-27 01:19] brampitoyo commented on #6123
@csadilek If these are true:

- Many popular add-ons – and most add-ons that Fenix supports – are ad blockers and/or focused around security
- Private browsing typically demands more stringent security, stricter trackers blocking, etc.

Then does it make sense to set our default policy to TRUE: allow add-on to run in private browsing?

I immediately see huge problems around consent. Add-ons may “p

[2020-04-27 01:43] SS1113 commented on #8251
I don't know why but since I have updated to Firefox Preview 4.3 the page loading seems to have improved quite a lot. Now the pages load relatively faster compared to before even after force stopping and loading the page but there's still a bit of loading time when Fenix is force stopped and the page is loaded.

[2020-04-27 06:11] sv-sdeiac commented on #10180
Hi, I can confirm that the issue is fixed using the latest version of Firefox Preview Nightly 4/26 #21171807.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9).

[2020-04-27 06:30] sv-sdeiac commented on #8965
Hi, I can confirm that using the latest version of Firefox Preview Nightly 4/27 #21180608 the issue is fixed.

Devices:
- Huawei MediaPad M2 (Android 5.1.1);
- LG G7 fit (Android 8.1);
- Samsung Galaxy Note 8 (Android 9).

[2020-04-27 06:30] #8965 closed

[2020-04-27 06:39] kzwr opened #10231 "FNX-4728 ⁃ why top sites can not sync ?"
### Why/User Benefit/User Problem
When i use Firefox Preview on other phone,top sites not auto sync.

### What/Requirements
I hope Firefox Preview can auto sync top sites.

### Acceptance Criteria (how do I know when I’m done?)
Use Firefox Preview on other phone

[2020-04-27 06:59] cadeyrn commented on #10231
Duplicate of #7936.

[2020-04-27 07:08] mcarare commented on #9483
@VandaLHJ Are you still able to reproduce this?

[2020-04-27 07:12] sv-sdeiac commented on #10231
Closed as a duplicate of #7936.

[2020-04-27 07:26] sv-sdeiac commented on #10225
Closing as a duplicate of #7560.

[2020-04-27 07:39] mcarare commented on #9387
Root cause issue is marked as fixed, even though it still reproduces.
https://issuetracker.google.com/issues/64461213.

[2020-04-27 07:44] Diana-Rus commented on #10188
HI, verified as fixed with Google Pixel 3XL (Android 9), Samsung Galaxy S9 (Android 8) and Sony Xperia Z5 (Android 7) on FIrefox Peview Nightly 4/ 27 .

Google Pixel 3 XL - GIF
![20200427-100718](https://user-images.githubusercontent.com/49859863/80346754-ea324100-8873-11ea-8461-18e9c99af9c6.gif)

Samsung Galaxy S9 - GIF
![20200427-102302](https://user-images.githubusercontent.com/49859863/8034684

[2020-04-27 07:50] sv-sdeiac commented on #10221
Hi, I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 4/27 #21180608.

Also, the vertical scrolling is working correctly using top toolbar.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1).

[2020-04-27 07:58] karlcow opened #10232 "[Bug] Image doesn't render in its full resolution"
## Steps to reproduce
1. Go to https://upload.wikimedia.org/wikipedia/commons/c/c7/Hegassen_scroll.jpg
1. Double tap or zoom in.

### Expected behavior
images should be showing at 100% size with crisp details.

### Actual behavior
blur

### Device information
* Android device: android 10 pixel 2
* Fenix version: Firefox Preview Nightly 200322 (:lizard:: 76.0a1-20200319094444), Chrome Mobile 80.0.3

[2020-04-27 08:33] sv-sdeiac commented on #10211
Hi @ra-hardy, thanks for your report.
Unfortunately, I was not able to reproduce your problem using the latest version of Firefox Preview Nightly 4/27 #21180608.

Devices:
- LG G7 fit (Android 8.1);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android 10).

Could you send us a video with your exact steps to reproduce the issue, it will help us to understand how to track the problem.
I'll w

[2020-04-27 08:45] makotokato commented on #10099
@witcheslive
What's you keyboard/IME do you use?  GBoard or Samsung keyboard?

[2020-04-27 08:47] makotokato commented on #10099
ctrl+backspace should work on Fenix Nightly.

[2020-04-27 08:52] sv-sdeiac commented on #10199
Hi, confirming that this issue is reproducible using the latest version of Firefox Preview Nightly 4/27 #21180608.

Devices:
- LG G7 fit (Android 8.1);
- Samsung Galaxy Note 8 (Android 9);
- Google Pixel (Android 10).

[2020-04-27 09:00] sv-ohorvath commented on #9493
Thanks @Amejia481 . Verified as fixed on Nightly 4/27.

[2020-04-27 09:00] #9493 closed

[2020-04-27 09:00] Diana-Rus commented on #9914
Hi, the issue has been reproduced on a Firefox Preview Nightly 4/23 and verified as fixed on Firefox Preview Nightly 4/27 with Sony Xperia Z5 (Android 7) and Google Pixel 3 XL (Android 9), but with Samsung Galaxy S9 (Android 8) I can still reproduce the issue - please check GIF

Sony Xperia Z5 - GIF - ✔️
![20200427-111308](https://user-images.githubusercontent.com/49859863/80352381-7a748400-887c-1

[2020-04-27 09:16] Diana-Rus commented on #9932
Hi, verified as fixed with Google Pixel 3 XL (Android 9) and Pixel 2 (Android 9) on Nightly migration build 4/27 and I'll close this ticket, but we'll keep an eye for it on further builds. Thank you 😊

Gif- Google Pixel 3 XL
![20200427-120903](https://user-images.githubusercontent.com/49859863/80355486-d50fdf00-8880-11ea-94b3-8d64cba374eb.gif)

[2020-04-27 09:16] #9932 closed

[2020-04-27 09:35] Diana-Rus commented on #9913
Hi, verified the issue as fixed on Firefox Preview Nightly 4/27 with Sony Xperia Z5 (Android 7) and Google Pixel 3 XL (Android 9), but with Samsung Galaxy S9 (Android 8) the issue is still reproducible - please check GIF.

Sony Xperia Z5 - GIF - ✔️
![20200427-111308](https://user-images.githubusercontent.com/49859863/80352381-7a748400-887c-11ea-83d2-704a005ab547.gif)

Pixel 3 XL - GIF - ✔️
![20200

[2020-04-27 09:45] denschub commented on #9661
This is, essentially, https://bugzilla.mozilla.org/show_bug.cgi?id=1632941 - which is a regression from re-enabling `ui.mouse.radius.enabled`. So this could be closed as a duplicate of that issue.

[2020-04-27 09:52] sv-ohorvath opened #10233 "FNX-4729 ⁃ [Bug] Permissions not always saved on first run"
## Steps to reproduce
1. Clear app data
1. Go to webcamtests.com / mapquest.com / permission.site
1. Turn on location / camera
1. Allow permissions and check if they work.
    1. Expected behavior
Location / camera should work.
    1. Actual behavior
There are sometimes errors that location / camera can't be detected on the first run. If you restart the app, you need to allow permissions again and

[2020-04-27 10:27] ebalazs-sv commented on #7955
Verified as fixed on the latest Nightly Migration build 200427 (Build #2015736947) with Pixel 2 (Android 9), Nexus 5 (Android 6.0.1), Samsung Galaxy Tab S3 (Android 8). The text font from the Migration screen UI, is the same as the app's font.

[2020-04-27 10:49] ebalazs-sv commented on #8422
Verified as fixed on the latest Nightly Migration build 200427 (Build #2015736947) with Pixel 2 (Android 9), Nexus 5 (Android 6.0.1), Samsung Galaxy Tab S3 (Android 8).
I will remove the qa:needed label and close this issue. Thanks!

[2020-04-27 10:49] #8422 closed

[2020-04-27 11:22] ebalazs-sv commented on #7978
Verified as fixed on the latest Nightly Migration build 200427 (Build #2015736947) with Pixel 2 (Android 9), Nexus 5 (Android 6.0.1), Samsung Galaxy Tab S3 (Android 8), Huawei P9 Lite (Android 7).
I will close this issue and move it to Done. Thanks!

[2020-04-27 11:22] #7978 closed

[2020-04-27 12:09] Dimas-sc commented on #6231
Tried with Firefox Preview (Nightly) 4/24 (39.0.20200424130104) and it don't work

[2020-04-27 12:14] isabelrios commented on #8081
This is closed. The tests were updated in PR #10023

[2020-04-27 12:14] #8081 closed

[2020-04-27 12:24] sv-sdeiac commented on #10197
Hi, thanks for your report.
I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 4/27 #21180608.

Devices:
- LG G7 fit (Android 8.1);

### Notes
- Not reproducible using Samsung Galaxy Note 8 (Android 9) and Google Pixel (Android 10).

[2020-04-27 12:48] ra-hardy commented on #10211
I've put a video here at this link. Let me know if I should upload instead
https://photos.app.goo.gl/XVWQxQusP619dnGy7

[2020-04-27 12:53] abodea commented on #9208
@sblatz I created 2 builds:
[code]
[code]
Is this the intended behavior? Is the `fennec_aurora` the only variation that needs to be verified here?
Note that the `Get the new Nightly` redirected me correctly to the Play Store, and as I had it installed it opened the newly Nightly.

![Screenshot_20200427-132639](https://user-images.githubusercontent.com/42831109/80374250-12836500-889f-11ea-8a68-3891

[2020-04-27 13:04] fbertsch commented on #6448
@vesta0 can you link to the other tickets?

[2020-04-27 13:14] devebl opened #10234 "Search engines bar. Replace 'Shortcuts' button with different search engines."
### Why/User Benefit/User Problem
This was present in previous version, Currently if you have to search a term with different search engine you will have to -

1. Click on search engin from 'This time search with' > Enter keyword > Press enter> Search Results

![new2](https://user-images.githubusercontent.com/63951520/80378047-b7ab3700-88b9-11ea-8c93-b2db066285c6.gif)

#### or if you wanted to sea

[2020-04-27 13:29] Glitchy-Tozier opened #10235 "FNX-3383 ⁃ [Bug] Visual Bug: Text overlaps in private mode"
## Steps to reproduce
Any time you are on a website in private mode, just click on the Url-bar. As long as you haven't accepted/denied on the "Searchresults in Private Mode? [Y/N]", you should see the bug.

### Expected behavior
The text should not overlap. One of those sentences should probably be moved downwards, to the search engines it belongs to.

### Actual behavior
Text overlaps. See attatc

[2020-04-27 13:33] Glitchy-Tozier opened #10236 "FNX-4730 ⁃ [Bug] Ublock-Origin-Icon is cut off"
## Steps to reproduce
None. Just look at your Add-ons.

### Expected behavior
It not to be cut off.

### Actual behavior
See Pictures.

### Device information
* Android device: Samsung Galaxy S9
* Fenix version: 4.3.0

![2](https://user-images.githubusercontent.com/59611881/80378085-a9debd00-888b-11ea-8aa3-4a0ca7029aa4.jpeg)
![3](https://user-images.githubusercontent.com/59611881/80378086-aa775380

[2020-04-27 13:37] AndiAJ commented on #10057
Hi, I've managed to reproduce the above mentioned issue on the latest Nightly Build #21180609 from 4/27 using  the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)

Video
![20200427-160350](https://user-images.githubusercontent.com/51314259/80378415-4c576a00-88a5-11ea-8ae2-a3c4643a2122.gif)

[2020-04-27 13:38] cadeyrn commented on #10236
This is already fixed in the Nightly version.

[2020-04-27 13:48] AndiAJ opened #10238 "FNX-3382 ⁃ [Bug]Native code crash when trying to install add-ons"
## Prerequisites
Have a clean profile

## Steps to reproduce
1. Open The Add-ons manager
1. Tap to Install uBlock
1. Tap to install NoScript

### Expected behavior
The Add-ons are properly installed

### Actual behavior
Crash

### Device information
* Android device: OnePlus A3 (Android 6.0.1)
* Fenix version: Nightly Build #21180609 from 4/27

## Notes
❗ Happening when trying to install other Add

[2020-04-27 13:51] Glitchy-Tozier opened #10239 "FNX-3381 ⁃ [Bug] Fenix freezes after Opening Link"
## Steps to reproduce
It's a little bit complicated:

1. Works in both, private and normal mode. Probably only works, if no other tabs were previously opened (or if all open tabs are closed manually in step 3)
1. Open any link from the outside of Fenix. I'm talking Sharing-to-Fenix or using the search widget. Probably any way that doesn't involve pressing the "open-new-tab-button"
1. Click on the

[2020-04-27 13:51] ebalazs-sv commented on #8924
In the issue https://github.com/mozilla-mobile/fenix/issues/7978#issuecomment-591512513 it was decided that the "Start Firefox" button will remain fixed while the rest of the screen scrolls behind it.
This is verified as fixed and this issue is not reproducible anymore due to that.
I will close this issue and move it to Done.
Thanks!

[2020-04-27 13:51] #8924 closed

[2020-04-27 13:52] AndiAJ commented on #6123
Hi, **verified as fixed** on the latest **`Nightly Build #21180609 from 4/27`** using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)

✔️ I can choose to allow a WebExtension to run in private browsing
✔️ This option is at the individual WebExtension level

► Video
![20200427-162842](https://user-images.githubusercontent.com/51314259/80379874-5d08df80-88a7-1

[2020-04-27 13:52] #6123 closed

[2020-04-27 13:53] Glitchy-Tozier commented on #10239
I assume, it's the way Fenix opens Links from outside, as this doesn't happen when opening a website from within Fenix.

[2020-04-27 14:09] ebalazs-sv commented on #10211
@ra-hardy Thanks for the video!

I had tested this on the latest Beta Migration build 75.0.0-beta.6 (Build #2015735817) from 4/21, with Nexus 5 (Android 6.0.1), OnePlus 6T (Android 9) and I can reproduce your issue following the steps:
1. Add home screen shortcuts on Fennec Beta;
2. Migrate to Fenix Beta;
3. Launch Fenix Beta;
4. Open a home screen shortcut;
5. Go to Fenix Beta and close the opene

[2020-04-27 14:22] Amejia481 commented on #9484
From the Bugzilla bug:

[2020-04-27 14:32] Mugurell opened #10240 "Allow users disabling gesture based features"
### Why/User Benefit/User Problem
Based on user requests for an option to disable gesture based features we should allow an easy way of toggling:
- pull to refresh in browser
- dynamic toolbar (top / bottom)
- swipe toolbar horizontally to change tabs
- swipe toolbar up to show open tabs (to be implemented after https://github.com/mozilla-mobile/fenix/issues/11862)

### What/Requirements
New toggl

[2020-04-27 14:32] Mugurell commented on #10240
@UX how should this be organized?
- In new "Gestures" settings screen
  - In a new "Gestures" settings screen?
  - In a new "Gestures" section?
  - Individual toggles?
- Should the above be inside Settings -> Accessibility or in a new page inside Settings?

[2020-04-27 14:33] Mugurell opened #10241 "[Bug] Pull down to refresh works for any swipes"
Interestingly `SwipeRefreshLayout` does not check for only vertical scroll to trigger pull to refresh.

### Expected result
The pull to refresh throbber should only appear for when scrolling down and the webpage is at top.
To be fixed by https://github.com/mozilla-mobile/android-components/issues/8185

### Actual result
- A swipe gesture more on the x axis triggers pull to refresh
- A two finger s

[2020-04-27 14:34] Amejia481 commented on #10236
Thanks for filing the issue, but I agree with @cadeyrn!
 In nightly, now we even using a different background colour.

![image](https://user-images.githubusercontent.com/773158/80384074-6a57a700-8872-11ea-850c-3d238fab3133.png)

[2020-04-27 14:54] joelocandol opened #10242 "FNX-3379 ⁃ [Bug] error consulting the add-ons"
I updated nightly to 200427 06:01, then, my add-ons dissapear and it started to show an error loading these when I enter in the add-ons menu. But, all my add-ons still working

* Android device: 7.0
* Fenix version: 200427 06:01

[2020-04-27 15:04] lwa-moz opened #10243 "Preview Rebrand Notif Events [Leanplum]"
### Why/User Benefit/User Problem
Existing Firefox Preview users will be shown an in-product message letting them know:
a) the app is being rebranded to Firefox Nightly
b) this change could result in increased instability
c) that they can install a separate app (id org.mozilla.firefox_beta) to continue getting early access to new Firefox Android features, but in a more stable environment

To ensur

[2020-04-27 15:08] csadilek commented on #6123
@brampitoyo Thanks!

Agreed. I think defaulting to "false" is the right thing to do here, so users can opt-in, as desired. Having a list of recommended and tested extensions protects us from this somewhat, but it still could become a problem later. So, I'd vote for being conservative and use the same default as Desktop.

I will file a separate issue to introduce the label you provided above.

[2020-04-27 15:09] yump commented on #10220
Here is a picture of what it does:

![flying_scrollbar](https://user-images.githubusercontent.com/2214413/80387937-dfc17880-886e-11ea-9884-f57f48810db2.png)

[2020-04-27 15:10] abodea commented on #4149
I was able to verify this issue with Samsung Galaxy S10+ (10) and Huawei P20 lite (9).

Note that with the links from here https://github.com/mozilla-mobile/fenix/issues/4149#issuecomment-610432974 everything looks alright.

I wasn't able to find a website that actually supports a full-screen video, I will keep searching.
Due to the situation, we are facing, I'm not able to access more devices wit

[2020-04-27 15:11] csadilek opened #10244 "FNX-3377 ⁃ Label add-ons that are allowed to run in private browsing"
Coping from Bram's comment in https://github.com/mozilla-mobile/fenix/issues/6123#issuecomment-619659103

Either way, I do agree that WebExtensions that run in private browsing should be clearly labelled.

I propose doing something similar to desktop: have a small (16×16dp) private browsing icon to the side of the add-on name.

![](https://user-images.githubusercontent.com/51007/80325454-4c497100-

[2020-04-27 15:18] yump commented on #10221
I made a mistake, my device is also running Android 10.

When you say vertical scrolling is working correctly, do you mean you could not reproduce #10220?  I added a screenshot to show what to look for.

[2020-04-27 15:19] Amejia481 commented on #9483
QA can help us to verify

[2020-04-27 16:02] Amejia481 commented on #8559
QA please help use to verify!

[2020-04-27 16:12] Amejia481 commented on #10242
We are not able to simulate the issue anymore, could you provide us the logcat?  :)
QA could please help us to verify?

[2020-04-27 16:44] sblatz commented on #9208
@abodea can you also please check for `fennec` and the fenix nightly one is actually supposed to be `fenix.nightly` sorry, had a typo in my original comment! Those two versions should also have prompts :)

Thanks!

[2020-04-27 16:50] JohanLorenzo commented on #9295
Hi there!

Sadly, we cannot separate policies. The only values we can use are these ones: https://docs.taskcluster.net/docs/reference/integrations/github/taskcluster-yml-v1#who-can-trigger-jobs-. TL;DR: The policy is enforced before the decision task runs. The decision task can be edited from the PR but the policy can't (it has to land on master, first). The decision task is in charge of deciding

[2020-04-27 16:53] sblatz commented on #10045
This is caused by this GV bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1631754

[2020-04-27 16:54] sblatz commented on #10073
I believe this is caused by https://bugzilla.mozilla.org/show_bug.cgi?id=1631754 and is similar to https://github.com/mozilla-mobile/fenix/issues/10045

[2020-04-27 17:13] denschub opened #10247 "FNX-3374 ⁃ [Bug] HTTP Basic Authentication dialog is not offered again on submitting invalid credentials"
## Steps to reproduce
1. Try to access any site requiring HTTP Basic Auth
1. Enter invalid credentials

### Expected behavior
* Authentication dialog is shown again so the user can retry.

### Actual behavior
* Nothing happens and site appears to be loading forever.

### Device information
* Android device: (emulator)
* Fenix version: Nightly 200427 06:01 (Build #21180610)

[2020-04-27 17:34] gallegonovato opened #10248 "[Feature request] Search engine suggestion to add to Fenix"
Good afternoon:

First of all, thank you for the great job you're doing with Fenix

I wanted to make a suggestion, if you'll allow me.    I don't know if the original search engines like Twitter, Wikipedia.    They could add or be replaced by Qwant, Startpage or Searx.

Since they are more search engines with more privacy, so to speak.    Especially qwant and Searx

A warm hug and thank you very m

[2020-04-27 17:39] mcomella commented on #7736
Sounds good to me, will do: dupe https://github.com/mozilla-mobile/android-components/issues/5680

[2020-04-27 17:39] #7736 closed

[2020-04-27 17:40] sblatz commented on #8775
As discussed on Slack, I think we should actually block this feature flag on these two issues (caused by the same underlying GV bug):

https://github.com/mozilla-mobile/fenix/issues/10073
and
https://github.com/mozilla-mobile/fenix/issues/10045

[2020-04-27 17:55] rpappalax commented on #9295
If possible, I'd like to discourage this option. Having test not run for a given commit, defers big headaches later on.

There's are several options being considered here which also seem to be revisiting previous discussions.  Does it make sense to meet up on this and summarize what those are, what is and what isn't possible?

[2020-04-27 18:13] eliserichards commented on #10142
Possibly related to #10145, #10233, #10142, #8626

[2020-04-27 18:25] eliserichards commented on #10222
Hi @lindongbin! Can you add the steps that you took to reach this point?
(e.g. 1. navigate to www.example.com, 2. click on X, ...)

[2020-04-27 18:28] eliserichards commented on #10228
See the original webcompat issue for more context.

[2020-04-27 18:29] rocketsroger commented on #6211
Looks like this is related to https://bugzilla.mozilla.org/show_bug.cgi?id=1631907.  Will retest when fix is in.

[2020-04-27 18:33] eliserichards commented on #9979
@lindongbin I think you're right! That bug is being tracked in #9039, so I am going to close this bug in favor of that one 😄 Thank you!

[2020-04-27 18:33] #9979 closed

[2020-04-27 18:39] AaronMT commented on #7435
Our team would like to upgrade Mockwebserver as soon as possible. We are using 3.11.0 (July, 2018) and 4.5.0 just shipped (April, 2020). Upgrading for this fix seems worth it alone:

[2020-04-27 18:43] eliserichards commented on #10239
Hey @Glitchy-Tozier! How often are you seeing this happen? Do you have some examples of the URLs that you are opening?

[2020-04-27 18:45] eliserichards commented on #10241
Closing in favor or #9766

[2020-04-27 18:47] eliserichards commented on #10233
Closing in favor of #10142

[2020-04-27 18:54] eliserichards commented on #10211
Possibly related to #10239?

[2020-04-27 18:56] ktaeleman opened #10250 "[Bug] Digg.com sometimes does not refresh page when pressing back from article"
## Steps to reproduce
* Go to digg.com
* Open and close (by pressing back) articles several times on the page (they will spawn a new tab)

### Expected behavior
* Main page shows without issues

### Actual behavior
* Sometimes (~5/100 or less) the article page will keep showing.
Going to tab overview and selecting the digg.com tab will fix the issue.

### Device information
* Android device: Pixel

[2020-04-27 18:57] eliserichards commented on #10213
Closing in favor of #10211

[2020-04-27 18:57] mcomella commented on #8169
Have we opened a bug against the Lottie library? Maybe if they had external users asking for the upgrade, they'd consider it.

That being said, I looked at the source [and noticed they're intentionally not upgrading](https://github.com/airbnb/lottie-android/blob/708b54b2e3c605cc429906e47015f5a075f54b72/lottie/build.gradle#L37):
[code]

[2020-04-27 19:17] Glitchy-Tozier commented on #10239
@eliserichards Any Url. I can replicate it whenever I want.
The most common url is probably the search engine I use, but it works with any link. Youtube, Google, whatever. There just needs to be a tab to close.

[2020-04-27 19:25] Glitchy-Tozier commented on #10239
It's the same practice as #10211... just that
1. That guy doesn't know that it doesn't have to be the Home-Screen-Widget.
2. He apparently uses a different last step to show the actual frozen screen. There probably are even more ways of doing the last step. I think, going into Settings and then comming back to Tab-Zero might work too, but I'm not testing it right now.

[2020-04-27 20:09] kbrosnan commented on #8169
I never filed one because they explicitly don't want to use Kotlin according to that comment.

[2020-04-27 20:37] Amejia481 commented on #10238
@AndiAJ are you able to consistently reproduce this issue? Does it only happen on OnePlus A3 (Android 6.0.1)?

We opened an Bugzilla bug for the GV team to take a look
https://bugzilla.mozilla.org/show_bug.cgi?id=1633560

[2020-04-27 20:45] Amejia481 commented on #10245
This should be fixed in master.
@AndiAJ would you mind verifying if this is still an issue? Thanks in advance :)

[2020-04-27 20:47] Amejia481 commented on #10246
This should be fixed in master.
@acornestean  would you mind verifying if this is still an issue? Thanks in advance :)

[2020-04-27 20:49] Amejia481 commented on #9884
This should be fixed in master.
@purinpurin and QA would you mind verifying if this is still an issue? Thanks in advance :)

[2020-04-27 20:50] Amejia481 commented on #9908
This should be fixed in master.
@callegar and QA would you mind verifying if this is still an issue? Thanks in advance :)

[2020-04-27 20:52] jonalmeida commented on #10252
cc: @kbrosnan

[2020-04-27 20:54] jonalmeida commented on #10253
Moved this back to Fenix based on Tiger's comment above.

[2020-04-27 21:32] callegar commented on #9908
As soon as there is a new release with ARM64 builds, I'll be glad to test. Sorry, cannot build myself for the time being.

[2020-04-27 21:33] mcomella commented on #10096
The duration to display the menu used on a web page when the page (apple.com) is not bookmarked is **~76.5ms** (10 runs, max 93ms on first click) on the Pixel 2, `geckoNightlyFennecNightly`.

Then I bookmarked the page, closed the tab, force-stopped the browser, and reopened the page (now bookmarked). The duration to display the menu is **~70.2ms** (10 runs, max 81ms on first click).

Therefore, I

[2020-04-27 21:33] mcarare commented on #10235
Duplicate of https://github.com/mozilla-mobile/fenix/issues/9550, marked as fixed in nightly.

[2020-04-27 21:37] ekager commented on #4918
Confirmed that turning off ETP doesn't help. Looks like it tries to open this in a new window and something goes wrong. 🤔

[2020-04-27 21:39] brampitoyo commented on #10240
@Mugurell Would you be able to describe some of our user issues with pull to refresh and dynamic toolbar?

I assume that pull to refresh might interfere with certain site header, and dynamic toolbar would sometimes not minimise?

[2020-04-27 21:44] brampitoyo commented on #10107
It seems like “Today” and “Yesterday” gets us closer to a more accurate description – and makes Fenix consistent with desktop – but I’ll leave the final decision to @betsymi.

[2020-04-27 21:46] brampitoyo commented on #9488
@gabrielluong @sblatz – Betsy and I are meeting about it today, so we’re right on schedule.

[2020-04-27 21:46] mcomella commented on #10096
@ecsmyth In this bug, I'm investigating the performance of the context menu on a bookmarked page. As per my comment above, I determined experimentally that there isn't much of a performance difference (within the noise) and saw that the code backs that up in theory. A few questions:
- On a Pixel 2, the time to draw the first frame of the animation that creates the menu is 76.5ms. It is followed by

[2020-04-27 21:48] brampitoyo commented on #8674
Paging @apbitner who has designed our custom tabs.

[2020-04-27 22:01] betsymi commented on #8343
Good catch! Let's update. Quick Q, will this sign them out from the other browser? Or, will they stay signed in, then ultimately be signed in in two places?

[2020-04-27 22:09] loveless90 commented on #8239
I tested **leo.org** again out of curiosity and seems to work now. Don't know if it was an issue of the website or of fenix, but somehow it got fixed.

Tested with: Nightly 200426 06:10 (Build #21170608)

[2020-04-27 22:34] ekager commented on #10116
I think this in theory would impact all of our bottom sheet dialogs, but this is the only dialog with edit texts AFAIK. [This dialog lives in Android Components here ](https://github.com/mozilla-mobile/android-components/blob/master/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/LoginDialogFragment.kt)

[2020-04-27 22:39] sblatz commented on #9730
@vesta0 can I get access to that google doc link so I can start this? :)

[2020-04-27 22:40] sblatz commented on #7288
@vesta0 do we need to create a data science request doc for this one?

[2020-04-28 00:07] yump opened #10255 "FNX-3391 ⁃ Please reimplement Fennec New Tab/URL Entry/Home screen"
### Why/User Benefit/User Problem
Fenix is expected to replace Fennec. From a development perspective you may be building a new UX, but users will experience this as a (large) change to the old UX.  The potential benefit of any UX change should be weighed against invalidating the muscle memory of all present users.  UX changes begin life as harmful, and must greatly improve over the old UX to bala

[2020-04-28 01:03] matfantinel commented on #8436
I have the same happening on a Galaxy S10e, both on FF Preview 4.3 and Nightly. Any change in bookmarks does not get synced. Neither from desktop -> mobile neither mobile -> desktop

[2020-04-28 01:06] kbrosnan commented on #10255
Fenix is not intended to be a 1:1 replacement of Fenenc. You can look over https://github.com/mozilla-mobile/fenix/issues?q=is%3Aopen+is%3Aissue+label%3AFeature%3AFennecTransition for a list of identified differences. If there is something missing please open up individual issues for each feature.

One of the main areas we have identified is reworking the tabs view. There is work on a more traditi

[2020-04-28 01:51] danielzgtg commented on #10204
This happens to me on "200424 06:01" when I tap the overflow menu item labeled "Settings". This doesn't happen to me on "200427 06:01"

[2020-04-28 02:17] brampitoyo commented on #6290
Thanks heaps, @codrut-topliceanu!

[2020-04-28 02:20] danielzgtg opened #10256 "[Bug] Task status badge in README is broken"
## Steps to reproduce
1. Open https://github.com/mozilla-mobile/fenix (in any browser)
1. Scroll down to the README
1. Click on "task status"

### Expected behavior
To see the badge contents, and for the badge as as a link not to be broken. If that is not possible, for the broken badge to be removed.

### Actual behavior
![image](https://user-images.githubusercontent.com/25646384/80439586-e4207c80

[2020-04-28 02:31] vesta0 commented on #6448
See issue description:

[2020-04-28 02:35] brampitoyo commented on #6122
@vesta0 After checking with A-C Engineering (@csadilek & @Amejia481), it sounds like our current extension auto-update policy is already reasonable.

All Fenix extensions are globally set to always auto-update to the latest version, except if:

1. New version requires new/modified set of permissions
2. Add-on is no longer recommended, or get delisted from Recommended Extensions list

It’s true tha

[2020-04-28 02:35] #6122 closed

[2020-04-28 02:37] yoasif commented on #10105
@brampitoyo you may also want to consider a bug I opened a while ago about the snackbar UI being used for dialogs: https://github.com/mozilla-mobile/fenix/issues/3752

[2020-04-28 02:51] vesta0 commented on #6122
Thanks for investigating @brampitoyo ! I am good with postponing handling the second scenario.

[2020-04-28 02:56] Flame-0 opened #10257 "FNX2-13118 ⁃ [Feature Request] Desktop site button on startup"
It's hidden on startup. There should be a desktop site button on startup, such as the Firefox Browser (Mobile).

[2020-04-28 03:02] yoasif commented on #9118
As mentioned by the reporter, this exists in...

Edge:

![signal-attachment-2020-04-27-230104_001](https://user-images.githubusercontent.com/152493/80442520-13d28300-88db-11ea-97d9-71c899aa612f.png)

Samsung Internet:

![signal-attachment-2020-04-27-230104_002](https://user-images.githubusercontent.com/152493/80442533-19c86400-88db-11ea-885b-55db57789da2.png)

Opera:

![signal-attachment-2020-04-2

[2020-04-28 03:36] ekager commented on #10201
Should we close this now?

[2020-04-28 04:10] purinpurin commented on #9884
That's great. For me, that was the only time this abnormality had occurred. I never once again see it happens. Thank you.

[2020-04-28 04:14] vesta0 opened #10260 "FNX3-13771 ⁃ Add call/email intents to the text selection toolbar"
### Why/User Benefit/User Problem
As a user, I want to be able to initiate a phone call, text message, or email from within the browser content, so I don't have to manually copy a phone number and paste it into other Android apps such as "phone", "email" app.

### Acceptance Criteria (how do I know when I’m done?)
* When I highlight a phone number, I see intents such as "call" depending on support

[2020-04-28 04:43] gaul commented on #7936
It would be nice if the top sites were actually a bookmark folder.

[2020-04-28 04:50] ekager commented on #10204
Great, glad it's fixed for you in the latest Nightly :) I will close this but continue to monitor the crash stats

[2020-04-28 05:06] vesta0 commented on #6472
@brampitoyo will you please test to see if the current browser behaviour matches your suggestion captured in the description (comment 0)? Thank you!

[2020-04-28 05:12] vesta0 commented on #5163
@ekager I think this may be done, could you confirm?

[2020-04-28 05:27] vesta0 commented on #6190
Is there an update on this bug?

[2020-04-28 05:31] vesta0 commented on #8125
Is this still in progress?

[2020-04-28 05:34] ekager commented on #8125
Yes. Waiting for https://github.com/mozilla-mobile/fenix/issues/9286 to add remaining default top site telemetry.

[2020-04-28 05:42] vesta0 commented on #7288
Here is the [doc](https://docs.google.com/document/d/175jLvjDCUnO7_IkVgiC17xOg3fF0AbYhG5Uc2F-ZYcE/edit#heading=h.xfssmg6frdu4)

Next step is to [create a JIRA request](https://jira.mozilla.com/browse/DS-191?jql=project%20%3D%20DS%20AND%20resolution%20%3D%20Unresolved%20ORDER%20BY%20priority%20DESC%2C%20updated%20DESC) outlining the Dev proposal for DS review.

[2020-04-28 05:45] vesta0 commented on #9730
Sorry, you have access to the [doc ](https://docs.google.com/document/d/1hVtSd8gDV1AtzxjhYlKiKYZpGxXDu6SdBNsaBQ5Lodc/edit#)now :)

Please include the Dev proposal in this [JIRA ticket](https://jira.mozilla.com/browse/DS-579) for DS review :)

[2020-04-28 05:49] ekager commented on #9694
Reopening because wrong issue was linked in a PR

[2020-04-28 05:49] ekager commented on #9464
Should be closed by #10258, leaving open for QA

[2020-04-28 05:53] vesta0 commented on #9625
Next step is to create a JIRA request outlining the Dev proposal for DS review.

[2020-04-28 06:03] sv-sdeiac commented on #10220
Hi, I can confirm that this issue is reproducible using the latest version of Firefox Preview Nightly 4/27 #21181807.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1).

### Notes
- It seems that the issue is somehow reproducible even using the Bottom toolbar but is not so visible as the Top toolbar.

[2020-04-28 06:06] sv-sdeiac commented on #10221
Hi @yump, no, I wanted to say that the vertical scrolling is blocking the right/left movements, which is expected to happen.

[2020-04-28 06:09] yump commented on #10220
Turns out this doesn't just affect the horizontal scrollbar.  It seems to be a general problem with floating page elements anchored to the bottom of the viewport.  One example is Tumblr's "install our app pwease" nag box:

![fenix-floaters](https://user-images.githubusercontent.com/2214413/80452900-dd056880-88ec-11ea-8e7f-604df68aa0ff.jpg)

[2020-04-28 06:11] vesta0 opened #10261 "FNX-3395 ⁃ [Telemetry] PWA"
#### Description & Product Manager / Data Scientist User Story
As a product manager, I want to know how often users install and run a PWA in Fenix, so I can better understand usage frequency, and use that to prioritize PWA related bugs and polish work.

#### What questions will you answer with this data?
* Do we make PWA sites easily discoverable?
* How often users install a PWA on their phone’s h

[2020-04-28 06:12] vesta0 commented on #10261
Here is the [Telemetry Proposal](https://docs.google.com/document/d/17oJNlrDqLqN-mCIj4lj-qOPe5wZDsIM4LFMkiVNMKhQ/edit#) :)

Next step is to [create a JIRA request](https://jira.mozilla.com/browse/DS-191?jql=project%20%3D%20DS%20AND%20resolution%20%3D%20Unresolved%20ORDER%20BY%20priority%20DESC%2C%20updated%20DESC) outlining the Dev proposal for DS review.

[2020-04-28 07:07] sv-sdeiac commented on #9464
Hi, I can confirm that the issue is fixed using the latest version of Firefox Preview Nightly 4/28 #21190603.

Devices:
- Google Pixel (Android 10);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1).

[2020-04-28 07:07] #9464 closed

[2020-04-28 07:28] AndiAJ commented on #10238
Hi @Amejia481 , yes, managed to reproduce on each attempt.
However, I've re-checked on today's Nightly Build #21190603 from 4/28 and it seems to be working properly.

► Video
![20200428-101345](https://user-images.githubusercontent.com/51314259/80459291-d7367400-893a-11ea-9563-9cd18e97301e.gif)

Let me know how should we proceed. ☺️

[2020-04-28 07:36] cadeyrn commented on #8343
@betsymi Could you also have a look at #9709, it's a very similar issue. Thanks!

[2020-04-28 08:01] Dunexus commented on #10257
What would be the differences between the homescreen in "desktop mode" and the homescreen in "mobile mode" ?

[2020-04-28 08:07] AndiAJ commented on #10245
Hi @Amejia481, I've created a debug build from master and also checked on the latest Nightly build, but it's still reproducible.

I've used the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

► Video
![20200428-095928](https://user-images.githubusercontent.com/51314259/80460152-1a451700-893c-11ea-850a-31a9e6f2739d.gif)

[2020-04-28 08:13] lindongbin commented on #10257
You can directly access the desktop version of the website without having to access the mobile version before switching to the desktop

[2020-04-28 08:28] sv-sdeiac commented on #10256
Hi, this is not a Firefox issue since it can be reproducible using other browsers.
Also, it seems to be reproducible only with the broken icon link and I can't found other repositories with this problem.

Devices/builds
- Windows 10 - x64bit (Google Chrome);
- Google Pixel (Android 10) - (Firefox for Android 68.7.0, Firefox Preview Nightly 4/28, Chrome).

[2020-04-28 08:50] DanielOrban commented on #10246
Hi @Amejia481, **verified as fixed** and marked as closed on the latest Nightly Build #21190604 from 4/28 using the following device:
• Samsung Galaxy S10 Plus (Android 10)

[2020-04-28 09:07] softvision-miralobontiu commented on #9425
This issue still reproduces on the latest Nightly build from 4/28 with HTC 10 (Android 8).

[2020-04-28 10:27] sv-ohorvath commented on #8559
I was able to download photos from google images, pdfs and other types. Except: https://github.com/mozilla-mobile/android-components/issues/1159
build: Nightly 4/28
devices: Pixel 4 (Android 10), HTC Desire 820 (Android 6.0.1)

[2020-04-28 10:27] #8559 closed

[2020-04-28 10:39] sv-ohorvath commented on #9884
I was able to reproduce this on Nightly 4/28 on a HTC Desire 820 (Android 6.0.1) by saving a bunch of images from google image search.
Just long tap and save image, one after another, and at one point, one of them will hang.
I also got a download without a name.

![Screenshot_20200428-133735 1](https://user-images.githubusercontent.com/4037709/80478044-98fa7e00-8955-11ea-8ec0-f9ac51c24aa8.png)

![

[2020-04-28 10:40] abodea opened #10262 "[Bug] Can't tap on "Sign with Facebook" button with Tracking Protection enabled"
### Steps to reproduce
1. Access `www.safelanes.org` > `Try it now` > `3-dot menu in top left` > `click user account circle`.
1. On account, sign-in page, click "Sign in with Facebook"
    1. Expected behavior
The user is able to login with Facebook.
    1. Actual behavior
Button text can be highlighted, button text can't be tapped.
    1. Device information

* Android device: **Google Pixel 4 XL

[2020-04-28 10:41] abodea commented on #6528
Verified as fixed on Nightly 4/28 with Google Pixel 4 XL (10).
Note that I was able to login with the following settings:
 - ETP On -> set to **Standard**
- ETP On -> set to **Strict**
- Etp On -> set to **Custom**
- **ETP Off**

Note that I added https://github.com/mozilla-mobile/fenix/issues/10262.

[2020-04-28 10:41] #6528 closed

[2020-04-28 10:43] sv-ohorvath commented on #9908
@Amejia481 isn't this a dupe of #9884?
If it is, we should close it.
Otherwise, I can still reproduce the issues on Nightly 4/28.

[2020-04-28 11:08] sv-sdeiac commented on #10083
Hi, I can confirm that this issue is fixed using the latest version of Firefox Preview Nightly 4/28 #21190603.

Devices:
- Google Pixel 3 (Android 10);
- Samsung Galaxy Note 8 (Android 9).

[2020-04-28 11:42] opusforlife2 commented on #9275
Still present on 4.3.0.

[2020-04-28 12:22] upsuper opened #10264 "FNX-3397 ⁃ Long press back button should pop up the history of the tab and allow jumping to any item in it"
In the old Firefox Android app, when you navigate several times in a tab, and then long press the back button, a menu would pop up showing the history of this tab just like when you right click back button on desktop Firefox. This is quite convenient.

Fenix should probably add this as well.

[2020-04-28 12:27] abodea commented on #9913
Verified as fixed on the latest **Nightly 4/28** with **Google Pixel 4 XL (10), Samsung Galaxy S9 (9).**

[2020-04-28 12:27] #9913 closed

[2020-04-28 12:27] abodea commented on #9914
Verified as fixed on the latest **Nightly 4/28** with **Google Pixel 4 XL (10), Samsung Galaxy S9 (9).**

[2020-04-28 12:27] #9914 closed

[2020-04-28 12:33] cadeyrn commented on #10264
Duplicate of #1048.

[2020-04-28 13:32] Amejia481 commented on #10238
@AndiAJ is the issue reproducible in Beta?

[2020-04-28 13:48] Amejia481 commented on #9908
Agree let's close it in favor of #9884

[2020-04-28 13:48] #9908 closed

[2020-04-28 13:57] AndiAJ commented on #10238
Hi @Amejia481 , no, didn't bump in this problem while testing on the Beta Build I've created.
As per our discussion, I'll go ahead and close this issue.

[2020-04-28 13:59] articlecat commented on #9221
I'm able to reproduce this issue on an Android 9 device with 4 GB RAM. The issue appears when accessing the site through "Startpage's Anonymous Mode" and not directly.

## Steps to reproduce
1. Go to Startpage at https://startpage.com
2. Search for `https://marvelcinematicuniverse.fandom.com/wiki/Quake`
3. On the first search result, click "Anonymous View"

Fenix crashes while Anonymous View is lo

[2020-04-28 14:09] abodea commented on #8494
Verified as fixed on **Nightly 4/28** with **Google Pixel 4 XL (10), Samsung Galaxy S9 (9), Sony Xperia Z5 (7), OnePlus A3 (Android 6.0.1).**

Please note I did many logins + a sign-up and everything worked as expected, I was successfully logged in.

[2020-04-28 14:09] #8494 closed

[2020-04-28 14:42] softvision-miralobontiu commented on #10242
Hi @Amejia481
We were not able to reproduce the issue. We've tried the following scenarios:
- had Fenix Nightly from 4/25, installed 2-3 add-ons, updated via PlayStore to 4/27 build => the add-ons were displayed as enabled and worked properly;
- migration Fennec → Fenix GV 76 from 4/6 → Fenix GV 77 from 4/16 → latest Fenix GV 77 from 4/27 (Build 200427 06:01) => the add-ons were displayed as enabl

[2020-04-28 14:55] sflorean commented on #6290
I was able to reproduce the issue on Samsung Galaxy Note10 (Android 10) and I can confirm the fix, with the same device on the latest Nightly build from 04/27.
@Cheap-Skate can you please confirm that this issue is fixed also for you? Thanks

[2020-04-28 15:11] Mugurell commented on #10240
Basically:
- user gestures trigger pull down / dynamic toolbar when they shouldn't (horizontal scrolls, zoom motions)
- there still edgecases with websites for which pull down/dynamic toolbar are triggered when they shouldn't / are not triggered when they should.
- for the dynamic toolbar there are indeed cases in which it interferes with the page layout, like https://github.com/mozilla-mobile/fen

[2020-04-28 15:17] ValentinTimisica commented on #10244
Hello @brampitoyo, I need a feedback regarding the icon color on light/dark theme and private mode.

For the icon background (the circle) I used:
- light theme: #592ACB
- dark theme: #9059FF
- private mode: #9059FF

For the actual icon I used #FFFFFF for all.
You can see the attached screenshots below.

Is this ok? If not, can you please give me the colors for the circle background and the actual

[2020-04-28 15:33] Cheap-Skate commented on #6290
Yes seems fixed in the last couple of days. Thanks a lot.

[2020-04-28 15:33] #6290 closed

[2020-04-28 15:38] Amejia481 commented on #10262
The same issue is reproducible in desktop nightly, I will report the issue to privacy team

[2020-04-28 16:04] mcomella commented on #10096
@MarcLeclair Can you remove my methodology in https://github.com/mozilla-mobile/fenix/issues/10096#issuecomment-620247344 ?

[2020-04-28 16:09] Amejia481 commented on #10242
I think we can close it. If there are any related issues please reopen.

[2020-04-28 16:13] corneliuze commented on #9694
yeah, that was a mistake.

[2020-04-28 16:18] jonalmeida commented on #8725
I saw this today as well: https://firefox-ci-tc.services.mozilla.com/tasks/Nfqu6WyATheHOyr5Qiuamw/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FNfqu6WyATheHOyr5Qiuamw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

[2020-04-28 16:41] Amejia481 commented on #10262
Blocks on https://bugzilla.mozilla.org/show_bug.cgi?id=1470298

[2020-04-28 16:49] apkd commented on #8559
I suggest a new issue is opened if this one describes a different problem than the one with Firefox Send. This is the only issue with the same exact error message that I'm getting (apart from #5601, which was also closed).

[2020-04-28 16:51] liuche commented on #10045
@boek I made a comment on the BZ ticket and put it into the GV board, but I'm not sure how it ranks against other GV bugs. Would like to get this in bc it's blocking dynamic bottom toolbar getting turned on in release.

[2020-04-28 17:15] yump commented on #10262
Login with Facebook/Google is obviously a tracking mechanism that uses should, in theory, be protected from. But if such logins are widely used, they obviously have to work with the default settings.

Perhaps allow them, and create a new level of tracking protection higher than the default "strict".  Alternately, allow them only on "standard" level and make that the default.  The UI does say that

[2020-04-28 17:25] apbitner commented on #8674
I actually believe it was @AmyYLee, reassigning.

[2020-04-28 17:30] Cheap-Skate opened #10271 "FNX-3398 ⁃ [Feature request] [fennec parity] Make Fenix open a new tab when set as "assistance app" like the widget"
### Why/User Benefit/User Problem
Fenix's search widget when tapped opens a new tab and brings up the keyboard
If I set Fenix as the assistance app, this does not happen, Fenix just comes to the foreground.
It would be great if the Fenix assistance app gesture worked the same as tapping on the widget

(Fennec does work like this, the assistance gesture brings up a new tab & the keyboard).

Thanks

[2020-04-28 17:57] yoasif commented on #10184
I think this is a dupe of https://github.com/mozilla-mobile/fenix/issues/2633

[2020-04-28 18:58] AaronMT commented on #9783
@sv-ohorvath Should this close now?

[2020-04-28 19:09] csadilek commented on #10184
@yoasif yes, thanks! Let's dupe this to #2633. I know this was filed a long time ago, but we've actively moved extension support forward and are getting close to being able to resolve this, as described in: https://github.com/mozilla-mobile/android-components/issues/2985

There were a lot of missing pieces, which hopefully will fall in place soon.

[2020-04-28 19:35] eliserichards commented on #10256
<img width="404" alt="image" src="https://user-images.githubusercontent.com/43795363/80529738-8421e880-895d-11ea-801c-a4c1c97710a4.png">

The link, https://github.taskcluster.net/v1/repository/mozilla-mobile/fenix/master/latest, is no longer valid.

[2020-04-28 19:36] tim-elmer commented on #10220
May be duplicate of https://github.com/mozilla-mobile/fenix/issues/8768, seems to be same (mis)behavior.

[2020-04-28 21:00] kbrosnan commented on #10271
How is this different than #7013 which you also filed?

[2020-04-28 21:03] Cheap-Skate commented on #10271
Sorry for duplication

[2020-04-28 21:09] kbrosnan commented on #7013
Found #3722 which this is a dupe of.

[2020-04-28 21:09] #7013 closed

[2020-04-28 21:16] liuche commented on #10205
#10205, #9783, #10136, #9880, #9694, #10083, #10201, #9913, #9914, #9878, #10204, #6557, #10188, #10180, #6558, #10162, #10164, #10190, #10192, #10151, #9493, #10148, #9934, #6123, #10091, #7387, #9987, #10109, #10092, #10139, #9550, #10027, #6832, #2818, #9946, #10066, #9760, #9208, #9836, #10122, #9988, #7566, #10094, #10036, #8541, #9816, #9338, #8735, #8546, #9928, #8081, #10023, #10024, #4046

[2020-04-28 22:00] SeburoSUMO commented on #4846
Looking at the latest Nightly, this issue appears to have been resolved.  In the image attached "Fennec paul" is a self-built Fennec for me to help users, the upper Firefox Nightly is a Fennec that has migrated to Fenix, with the lower Firefox Nightly being a standard Fenix Nightly.

![Screenshot_1588106381751](https://user-images.githubusercontent.com/31939113/80541535-316b1f80-89a3-11ea-8c85-d35

[2020-04-28 22:00] #4846 closed

[2020-04-28 22:42] AmyYLee commented on #9949
@betsymi @topotropic What are your thoughts for the above?

[2020-04-28 23:20] hakkikaancaliskan commented on #10222
Hi @eliserichards
I have similar(?) issue if helps #7742
And it's not labeled as Feature:Logins

[2020-04-28 23:44] liuche commented on #9946
Leaving this out of 5.0, so that we can push the new addons to Fennec Beta (without the branding).

[2020-04-29 00:41] liuche commented on #9286
Looks like the AC changes are ready.

[2020-04-29 01:08] vesta0 commented on #3177
@rocketsroger is this work completed?

[2020-04-29 01:48] karlcow commented on #9661
another webcompat instance could be https://github.com/webcompat/web-bugs/issues/50270

[2020-04-29 02:03] SS1113 commented on #4149
@abodea I have a device with a notch, maybe I can help somehow.
This is how it looks on my Motorola One Power, Android 10, on: https://makotokato.github.io/demo/cutout-contain.html
![158812503033277](https://user-images.githubusercontent.com/42088907/80554414-9717d580-89bc-11ea-8d29-934a5be4f009.jpg)
![158812497656067](https://user-images.githubusercontent.com/42088907/80554421-9e3ee380-89bc-11ea-

[2020-04-29 03:14] yump commented on #10220
Ah, yes, on Nightly the scrollbar behaves like the video from [this comment](https://github.com/mozilla-mobile/fenix/issues/8768#issuecomment-614545619), so almost certainly the same cause.  Nightly's fix for #8768 does reduce this from a big distraction to a papercut.

As a user, I absolutely prefer to accept some jankiness in the web content in exchange for low-latency asynchronous scrolling. CP

[2020-04-29 03:20] tim-elmer commented on #10220
Without any real knowledge of what's going on, it looks to me like FF forgets that the viewport should no longer exclude the bottom toolbar's space when it's on the top. That would, in my mind, explain why the scrollbars also "float".

[2020-04-29 06:38] mcarare commented on #4526
This was handled and fixed through specs in https://github.com/mozilla-mobile/fenix/issues/7157 .

[2020-04-29 06:38] #4526 closed

[2020-04-29 06:44] #9783 closed

[2020-04-29 07:12] AndiAJ opened #10277 "FNX-3399 ⁃ [Bug]Crash when opening the Bookmarks & History section on devices with Android 5 & 6"
## Steps to reproduce
1. From the Home screen tap the  ⋮ Main menu
1. Tap on Bookmarks

### Expected behavior
Bookmarks section is properly opened

### Actual behavior
Crash

### Device information
* Android device:
• OnePlus A3 (Android 6.0.1)
• Samsung Galaxy A6 (Android 5.1.1)
* Fenix version:
• Nightly 200429 from 4/29
• Beta 5.0.0-beta.1 from 4/29

### Notes
❗The crash when trying to access

[2020-04-29 07:41] indramegit commented on #6083
Awesome. Please implement this!

[2020-04-29 07:50] rocketsroger commented on #3177
Yes, implementation from A-C side was completed.  There is currently a regression that requires a GeckoView fix though.  https://bugzilla.mozilla.org/show_bug.cgi?id=1596825

[2020-04-29 07:55] PranavBhattarai opened #10278 "FNX-3400 ⁃ uBlock Origin's 2 option named "Enter element zapper mode" and "Enter Element picker mode" has stopped working."
Firefox Preview version: 4.3.0
uBO version: 1.26.2
Proof: I will upload the screencast video eventually. _(I accidentally deleted that video)_

What happened: When I was reading a manga website, then I wanted to remove some portion of the web page, but unfortunately both options which I mentioned in the above title of uBO didn't respond.

Does this action is reproduceable?
Well, it depends. Usuall

[2020-04-29 08:28] softvision-miralobontiu opened #10279 "FNX-3401 ⁃ [Bug] Sign in from onboarding on Android 5&6 devices loops"
## Steps to reproduce
1. Make sure you have a clean profile.
1. From the onboarding card, sign in via email with valid credentials.
OR
1. Sign in from Settings - Turn on Sync

### Expected behavior
After the sign-in is done, the user is redirected to the onboarding tour.

### Actual behavior
The user is not redirected. Is stuck on the Manage account page. If "x" or back is tapped, the user is not

[2020-04-29 08:36] softvision-miralobontiu opened #10280 "FNX-3402 ⁃ [Bug] Crash when signing in through pairing on Android 5&6 devices"
## Steps to reproduce
1. From the onboarding tour sign in via pairing.
1. Confirm the pairing on both devices.

### Expected behavior
Pairing works and the user is signed in.

### Actual behavior
After the confirmation on both devices is done, Fenix crashes.

### Device information
* Android devices: Samsung Galaxy Tab A6 (Android 5.1.1), x86 Xiaomi MiPad 2 (Android 5.1.1), and Nexus 5 (Android 6.

[2020-04-29 08:54] ebalazs-sv commented on #8581
This is reproducible on Firefox Preview v5.0-beta.1 with Motorola Moto G6 (Android 8).

[2020-04-29 08:58] ghost opened #10281 "FNX-3403 ⁃ [Bug] Top Site uses only 4 elements/sites spaces instead of 5."
## Steps to reproduce
Top site row has only 4 elements/sites instead of 5 thereby leaving empty space. But it uses all elements/site spaces when device is rotated/in horizontal mode
Please see the screenshot for clarification.

### Expected behavior
It should use all 5 element's/site spaces

### Actual behavior
Only uses 4 spaces

### Device information
* Android device: Motorola One Power, Androi

[2020-04-29 09:07] sv-ohorvath commented on #10233
@eliserichards I'm not sure these are duplicates. In this bug, location and camera are giving errors on the first attempt to turn them on, not related to changing them after.

[2020-04-29 09:30] Diana-Rus opened #10282 "FNX-3404 ⁃ [Bug]Search bar-"Clear search" button not displayed for pre-selected URL"
## Steps to reproduce
1. Open a tab with URL.
1. Tap on the search bar.
    1. Expected behavior
The url is highlighted and "clear search" button is displayed in the right side of the search bar.
    1. Actual behavior
"Clear search" button is missing. The user can only clear through virtual keyboard.

**Note:**

* The "clear search" button is displayed only after using the clear button from the v

[2020-04-29 10:13] AndiAJ opened #10283 "[Bug]Flicker while navigating through the Desktop Bookmark folders"
## Steps to reproduce
1. Tap and open the "Desktop Bookmarks" folder
1. Tap and open the "Bookmarks menu" folder
1. Exit to the Desktop Bookmarks

### Expected behavior
No Flicker or any other transition issues

### Actual behavior
Flicker and laggy transition

### Device information
* Android device:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
* Fenix version:
• Nightly 20042

[2020-04-29 10:34] mcarare opened #10285 "FNX-3406 ⁃ [Bug]Common myth hyperlink and other links in app provide confusing description and action info for screen readers"
Follow-up for #7887.

We have several links in app that are announced as a button would be.
This prevents screen readers users to have a complete and correct info regarding the element type and available action for element.

Proposed solution:
<strike>Announce action as "_Follow link_" ("Double tap to follow link") and Textview type as "_Link_".</strike>
Edit : Should be announced as "_link_", wit

[2020-04-29 10:35] mcarare commented on #10285
@asadotzler any thoughts on this issue or the proposed solution? TY!

[2020-04-29 10:50] BMEduard commented on #10277
Upon further investigation, the cause of this issue might be the version of the com.google.protobuf:protobuf-javalite plugin that is used in the application services, as indicated by https://github.com/protocolbuffers/protobuf/issues/6551 .

The version that is currently used is 3.9.2, and the issue that I mentioned is fixed in 3.10. However, it is mentioned that they (application services) are bl

[2020-04-29 10:54] mcarare commented on #7887
I am filling a separate issue for the type announcement as it is a problem that should be addressed for multiple similar links: #10285

[2020-04-29 10:57] mcarare commented on #7853
This is a duplicate of https://github.com/mozilla-mobile/fenix/issues/9795, marked as fixed.

[2020-04-29 10:57] #7853 closed

[2020-04-29 11:01] mcarare commented on #2142
This is fixed, as a result of the changes implemented as per comment: https://github.com/mozilla-mobile/fenix/issues/1718#issuecomment-566674558.

[2020-04-29 11:05] Diana-Rus commented on #4178
Hi, reproducible on Beta 5.0.0-beta.1- 4/29 with Google Pixel 3 XL (Android 9).

[2020-04-29 11:35] sv-ohorvath commented on #9880
VErified as fixed on Beta 5.0.

[2020-04-29 11:35] #9880 closed

[2020-04-29 12:11] Diana-Rus opened #10286 "FNX-3407 ⁃ [Bug] After accessing a soundtrack loading icon is present but the audio starts playing"
## Steps to reproduce
1. Go to soundcloud.com .
1. Choose a track from the provided list.
    1. Expected behavior
The track starts playing and there are no visual problems.
    1. Actual behavior
The track starts playing but a loading gif is displayed.

**Note:**

* The issue is encountered only for the first played track from the site.

### Device information
* Android device: Google Pixel 3 XL

[2020-04-29 12:14] softvision-oana-arbuzov opened #10287 "FNX-3408 ⁃ [Bug] Video doesn't automatically play with default "Autoplay" setting"
## Prerequisites
"Settings > Site permissions > Autoplay > Block audio and video" - set.

## Steps to reproduce
1. Navigate to https://www.apple.com/iphone-11-pro/
1. Observe top video.

### Expected behavior
Video automatically plays.

### Actual behavior
Video does not play.

### Device information
* Android device: Samsung Galaxy S6 Edge (Android 7.0) - 1440 x 2560 pixels (~577 ppi pixel densit

[2020-04-29 12:14] Diana-Rus commented on #10286
Closing the issue: https://github.com/mozilla-mobile/fenix/issues/3902

[2020-04-29 12:15] SS1113 commented on #10281
Another thing to note is that it did use all 5 spaces before but suddenly, I don't remember when it changed, but it surely did use all of the space when the device was held vertically.

[2020-04-29 12:32] pocmo commented on #10277
CC @grigoryk, @eoger

[2020-04-29 12:33] pocmo commented on #10277
[code]

[2020-04-29 12:39] softvision-miralobontiu opened #10289 "FNX-3409 ⁃ [Bug] Tapping on the URL bar from a loaded page doesn't display the "Clear/x" button"
## Steps to reproduce
1. Load a page.
1. Tap on the URL bar.

### Expected behavior
The page's address is selected and a "Clear/x" button is displayed in the URL bar.

### Actual behavior
The page's address is selected but the "Clear/x" button isn't displayed in the URL bar. If the user edits the address, the "x" is displayed and works properly.

### Device information
* Android device: all
* Feni

[2020-04-29 12:42] pocmo commented on #10277
I don't see any AS dependency change in this range. 🤔

https://github.com/mozilla-mobile/android-components/compare/02c1759aa4af150be7fc4607d00ee0c76c14be28...master

The only remotely interesting change in that range is maybe the Glean update? But then again it doesn't look like Glean uses protobuf. At least not directly as a dependency (Just in case CC @Dexterp37, @mdboom)

[2020-04-29 12:54] pocmo commented on #10277
Ah, no, I may have been confused by the commit date (which can be much older than the date the merge happened).

The AS bump to 0.58.1 just happened two days ago:
https://github.com/mozilla-mobile/android-components/pull/6636

CC @grigoryk @eoger

[2020-04-29 12:55] ValentinTimisica opened #10290 "FNX-3410 ⁃ [Bug] Add-on 'Run in private browsing' option resets when app is restarted"
## Steps to reproduce
**Step 1**

* `Settings` -> `Add-ons`
* Have some installed add-ons (or install them now)
* Enter add-on details
* Enable `Run in private browsing` (by default is disabled)
* Close the app
* Open the app and enter again in the same add-on details

**Step 2**

* Close again the app without changing anything
* Open the app and enter in the same add-on details

### Expected beha

[2020-04-29 13:01] softvision-miralobontiu opened #10291 "FNX-3411 ⁃ [Bug] Dynamic nav-bar isn't working when toolbar is set to the bottom"
## Steps to reproduce
1. Go to Settings - Customize and set the toolbar to the bottom.
1. Load any page and scroll up and down observing the nav-bar.

### Expected behavior
The navigation bar is dynamic.

### Actual behavior
The navigation bar is fixed and displayed when scrolling.
When the toolbar is set to the top, the navigation bar is dynamic.

### Device information
* Android device: all
* Fe

[2020-04-29 13:24] SeburoSUMO opened #10292 "[Bug] BBC Sounds stops playing"
## Steps to reproduce
Open and log into https://www.bbc.co.uk/sounds
Play a radio channel or podcast

### Expected behavior
Radio channel or podcast plays for a substantial length of time

### Actual behavior
Radio channel or podcast starts to play, then about a minute in, the audio is paused and needs to be triggered to play again.

### Device information
Identified in https://support.mozilla.org

[2020-04-29 13:37] Diana-Rus commented on #7953
Hello, issue is still reproducible with Google Pixel 3 XL (Android 9) on Beta 5.0.0-beta.1 - 4/29.

[2020-04-29 13:48] Dexterp37 commented on #10277
Nope, Glean doesn't use protobuf. Moreover, the changes introduced in version 28 do not really change the dependencies compared to 27.1.0

[2020-04-29 14:11] cnevinc commented on #9387
I think all devices with API level 26 (Android 8) will be affected. Should we use toast instead of TooltipText to work around this issue?  @mcarare

[2020-04-29 14:22] acreskeyMoz commented on #9382
@MarcLeclair was able to root a device and can successfully capture simplerperf profiles on non-debuggable, unmodified, apps.

I believe that this is the first time we've been able to get a broad and low overhead view of the performance of these shippable builds.

Imported into the gecko profiler format, this is startup to Home Activity:
https://bit.ly/2YeKar6

I only see 1ms of `inflate_fast` in

[2020-04-29 14:24] Diana-Rus commented on #10282
Duplicate of: 10291

[2020-04-29 14:31] AndiAJ commented on #6557
Hi, I've just checked this matter on **`Fenix Beta 5.0.0-beta.1 from 4/29`** using a Google Pixel 3a (Android 10)

| Search engine  | **`sap`** | **`sap-follow-on`** | **`organic`** |
| ------------- | ------------- | ------------- | ------------- |
| Google  | ✔️Ping 24bf180b-255c-4bfd-9351-baea24cbb130  | ✔️ Ping 89b145c5-4923-4cec-b135-43e965f639c6 | ✔️ Ping 673c260f-c0fa-46be-ad5f-260c31394190

[2020-04-29 14:41] mcarare commented on #2146
@asadotzler is this still an issue?

[2020-04-29 14:44] Diana-Rus commented on #6558
Hi, verified this issue with the following scenarios:
A). Searches without ads - no tracking is done as there are no ads
- Google -> Ping - a6658f57-30a3-4ef6-89a6-60726137b865
- Bing -> Ping - 336e141d-f4ca-4145-acf7-c889547d8000
- Duckduckgo -> Ping - b2a8e7f0-7aa7-42e6-a7e0-0034bf177b14
B). Searches with ads & Ads clicked from searches
1. Google Engine - count of one search with ads. Ping- 9fc9

[2020-04-29 14:45] AaronMT commented on #7953
Yeah this seems to happen commonly, even when re-enabling a Find in Page UI test that is currently disabled (off branch).

[2020-04-29 15:16] rogerespel opened #10295 "[webcontent] Wrong placemenet of fixed content at the bottom of the screen when the toolbar is set to the top"
Affected site, among many others:
https://aeon.co/essays/why-care-and-the-scare-are-inseparable-when-you-love-someone

Bug only happens when the browser toolbar is configured to the top of the screen.

### Expected behavior
When scrolling down, social sharing buttons from the website appear in a fixed position at the very bottom of the screen, and stay there.

### Actual behavior
Social sharing ba

[2020-04-29 15:20] darkwing opened #10296 "FNX-3414 ⁃ Implement tab tray UI modifications"
New specs as provided by @topotropic:

https://app.abstract.com/share/8619345d-47c7-463b-aba9-877563d63053?mode=build&selected=1785343717-3FC76FEE-F5B7-46C1-8610-223036C34EA3&sha=983a33becb0954e0cff32dec3f4543f22adcbc67

[2020-04-29 15:29] rogerespel opened #10298 "FNX-3415 ⁃ Bring back "share image""
### Why/User Benefit/User Problem
Firefox for Android has a long-press menu on images, which includes the "Share Image" feature.  With this users can very easily and quickly share interesting content  (from memes and jokes up to business charts...) through their favorite messenger apps.  Firefox for Android shares the actual image, not the URL, so the image itself gets sent as a message, as it sho

[2020-04-29 15:56] kbrosnan commented on #9820
Duplicate #7458

[2020-04-29 15:56] #9820 closed

[2020-04-29 15:56] kbrosnan commented on #10298
Dupicate 7458

[2020-04-29 16:07] kbrosnan commented on #10287
Dupe #8503

[2020-04-29 16:09] BranescuMihai commented on #6557
@AndiAJ so:
- For Google everything seems fine
- For Bing there is a problem: the sap-follow-on should work. I tracked down the problem and I will add a bug on this
- For DuckDuckGo, it's ok for now that we don't have sap-follow-on, because we don't have those params available on Desktop either. However, it may not be ok that the code is not `none` for the organic search, will add a bug for it
- F

[2020-04-29 16:09] kbrosnan commented on #7507
Duplicate of #8503 which has had more discussion.

[2020-04-29 16:09] #7507 closed

[2020-04-29 16:17] AndiAJ commented on #9409
Hi, I've just checked this matter on:
• Fenix Nightly 200429 from 4/29
• Fenix Beta 5.0.0-beta.1 from 4/29
• Fennec Nightly 200429 from 4/29

using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)
• OnePlus A3 (Android 6.0.1)

✔️ **Fenix Nightly**
![rsz_1rsz_1screenshot_20200429-184102](https://user-images.githubusercontent.com/51314259/80618077-8b272480-8a4b

[2020-04-29 16:18] sflorean commented on #9463
Reproducible also on 5.0.0-beta.1 - in normal browsing.

[2020-04-29 16:19] Diana-Rus commented on #6558
Hi, verified this issue with the following scenarios on Nightly 4/28 and Beta 5.0.0-beta.1 -  4/29:

**A). Searches without ads - no tracking is done as there are no ads**
Google -> Ping - a6658f57-30a3-4ef6-89a6-60726137b865
Bing -> Ping - 336e141d-f4ca-4145-acf7-c889547d8000
Duckduckgo -> Ping - b2a8e7f0-7aa7-42e6-a7e0-0034bf177b14

**B). Searches with ads & Ads clicked from searches**
1. Google

[2020-04-29 16:21] BranescuMihai opened #10299 "In_content search telemetry for Bing not tracked"
## Steps to reproduce
Navigate to Bing, perform a search with "cat"
Tap on the Bing search, change "cat" to "cats"

### Expected behavior
A sap-follow-on metric should be tracked

### Actual behavior
No metric is tracked

### Device information
* Android device: Any
* Fenix version: Latest develop

### Engineering Info
The `load` event is not fired for Bing at the second search. That event gets fi

[2020-04-29 16:27] AndiAJ commented on #6557
As per @BranescuMihai 's comment, I'll mark this issue **verified as fixed** .
The remaining inconsistencies will be tracked in separate issues.

[2020-04-29 16:27] #6557 closed

[2020-04-29 16:28] BranescuMihai opened #10300 "In_content search telemetry for Baidu not tracked"
## Steps to reproduce
Go to Baidu and search for anything

### Expected behavior
Sap or organic telemetry is tracked

### Actual behavior
No metric is tracked

### Device information
* Android device: Any
* Fenix version: Latest develop

### Engineering info
The problem is that the Desktop codes for tracking are different than those on mobile. We need to research and understand the differences (ex

[2020-04-29 16:34] MarcLeclair commented on #10096
The first thing that jumps to me is that in my source code I find that `R.id.icon` is the actual 3 dotted icon in a vertical line. The one in the diff shared above seems to me another image.  Secondly, where did you add the code? in `MenuButton.kt` or did you create a new class? It looks good. I'm thinking though that `onDraw` might be called before the animation has started / ended. Thoughts?

[2020-04-29 16:36] gabrielluong commented on #10163
We probably want to bake this ability into the AC Tabs Tray component. We will investigate it some more on the AC side.

[2020-04-29 16:49] ekager commented on #8648
Reopening for QA to verify the changes

[2020-04-29 16:51] jonalmeida commented on #9409
We should check if we want to switch from the GCM token to the FCM for beta now that we are considering it fully migrated.

[2020-04-29 17:05] cbonacuse commented on #9409
@jonalmeida please keep the token as-is - we have messages going out to users still on the Fennec code in Beta through next week. cc: @lwa-moz

[2020-04-29 17:08] jonalmeida commented on #9409
Thank you for clarifying! We can close this as tested then since it works on nightly and should do the same when we switch the tokens over.

[2020-04-29 17:39] eliserichards commented on #10278
Hi @PranavBhattarai! Thanks for the report! If you have a video of this happening that would be great. What is happening when you try to select the uBlock option?

[2020-04-29 17:53] Cheap-Skate commented on #10281
Duplicate of #9123 I think

I have this issue too, the behavior changed a few weeks ago.

[2020-04-29 17:56] Cheap-Skate commented on #9118
I have this issue too, I really miss the Fennec behavior (tap URL, tap Top Site).

Hopefully the new Tabs Tray (landing soon?) will bring this sometime

[2020-04-29 17:57] eliserichards commented on #10210
Hi @ra-hardy! What website were you visiting on these instances?

[2020-04-29 18:02] st3fan opened #10302 "[Bug] Google keyboard doesn't always show up in private browsing"
## Steps to reproduce
Using version 200408 6:01 Firefox Preview Nightly.
Android version 9
Phone: LGv30

* Download/Use Google Keyboard.
* Open private browsing in Firefox Preview Nightly.
* Go to website: https://www.postable.com/tmobiletuesdays.
* Pick any card.
* Click the "Start Writing" button.
* Click on any of the value fields.

### Actual results
The keyboard doesn't show up to type with.

[2020-04-29 18:04] st3fan opened #10303 "[Feature request] Button to enable fullscreen on any website"
Go to a website that is too short to go fullscreen by scrolling down

### Actual results
The address bar is still visible, forcing me to scroll even if the site would fit the screen if the browser was fullscreen

### Expected results
I'd expect a button on the Extras > Fullscreen that puts the browser in fullscreen mode, so I can see the full page without the need to scroll

[2020-04-29 18:06] ra-hardy commented on #10210
I can replicate with any site, for example these all produce the same results
https://www.theguardian.com/uk
https://www.theregister.co.uk/
https://news.sky.com/

[2020-04-29 18:10] mcomella opened #10304 "FNX2-13130 ⁃ Investigate G5 FNPRMS regression on 4/21 (~37.5ms)"
HANOOB shows a regression:

* 4/20: 1.36393
* 4/21: 1.40143

AL shows a similar regression. I did a brief investigation in https://github.com/mozilla-mobile/perf-frontend-issues/issues/102#issuecomment-620290783:

- - -
We don't see a regression on the P4 (and in fact may see a slight improvement): https://github.com/bdekoz/FNPRMS-results/blob/master/pixel_4_xl-fennec-nightly-hanoob-results.csv

[2020-04-29 18:26] lime124 commented on #9488
@brampitoyo @betsymi can we remove the needs ux and strings labels?
@bifleming i'm not sure where to place this ticket while the experiment is running. i know there is a bit more work for Bram after the experiment runs.

[2020-04-29 18:36] ekager commented on #7016
Closing for #7458

[2020-04-29 18:36] #7016 closed

[2020-04-29 18:36] ekager commented on #7458
AC ticket mozilla-mobile/android-components#3648

[2020-04-29 18:49] kbrosnan commented on #7458
Which notes that this is a dupe of #3621 then.

[2020-04-29 18:57] cypressious commented on #8043
I went ahead and created an issue in the android-components repo since the functionality actually lives there: https://github.com/mozilla-mobile/android-components/issues/6813

[2020-04-29 19:10] liuche commented on #10279
@eoger @grigoryk is this also related to something in AS?

[2020-04-29 19:11] sblatz commented on #8768
This also affects Telegram as mentioned [here](https://github.com/mozilla-mobile/fenix/issues/10071)

[2020-04-29 19:12] sblatz commented on #10071
@Blaze-Thunder In #8768 we will address the website issue. I'm going to use this issue to address the PWA version of the fix.

(heads up for QA, please base it off of the steps in this demo https://github.com/mozilla-mobile/fenix/issues/10071#issuecomment-618066737)

[2020-04-29 19:31] liuche commented on #10279
Duping to #10277

[2020-04-29 19:31] liuche commented on #10280
Same root cause as #10277, so duping.

[2020-04-29 19:50] Octoton commented on #7458
I would like to disegree with the fact the this is closed
My issue was not the lack of shared option, but the fact that firefox mobile as two tab (one for link, one for image), thus better visual clarity. This help finding what you want expecily for new comer

[2020-04-29 19:52] akottr commented on #8239
Can confirm. Seems to be fixed.

[2020-04-29 19:52] #8239 closed

[2020-04-29 20:05] mcomella commented on #10096
I don't understand. `R.id.icon` here references `mozac_browser_menu_button.xml`.

@MarcLeclair This line is unrelated to my change: did you have a concern that it's manipulating the wrong view? I have validated on click is called correctly for this view.

`components/browser/menu/src/main/java/mozilla/components/browser/menu/view/MenuButton.kt` – it's listed at the top of the diff. If you prefer,

[2020-04-29 20:28] Kreuger opened #10307 "FNX-3424 ⁃ [Bug] dark reader extension not working on Mozilla websites"
When opening some pages such as the "what's new in Firefox  nightly" it doesn't properly open in the browser and so it doesn't adhere to using dark reader. And also sometimes when I first open a page, it's still white for a split second.

[2020-04-29 20:33] kbrosnan commented on #10307
What's new in Firefox is hosted on a Mozilla domain which is not allowed for extension to run. This is the same behavior as desktop.

[2020-04-29 20:40] Kreuger commented on #10307
Is there a reason for this?

[2020-04-29 20:40] AaronMT commented on #9995
Talking with the Test Lab team on Firebase Community Slack. They are looking into the issue

No update as of 04/29. If this is re-occuring, we should disable.

[2020-04-29 21:01] kbrosnan commented on #10307
Extensions could block a user from getting support or other malicious behavior like install a different extension than the one that the user clicked on.

[2020-04-29 21:59] ekager commented on #8643
cc @shorlander @apbitner could we get the remaining svg assets: "RTL versions for the toolbar top/bottom"?

[2020-04-29 22:48] ecsmyth commented on #8826
[UR request filed](https://bugzilla.mozilla.org/show_bug.cgi?id=1633404). Waiting on triage.

[2020-04-29 22:59] mcomella commented on #10157
Triage: acreskey is investigating this from a platform perspective: waiting. I'd assign them but they don't have permissions to be assigned yet.

[2020-04-29 23:05] mcomella commented on #10304
bdekoz noticed this also affects the S7: i.e. it only affects the low end, not the high end (which appears to be improved). This style of "bimodal performance" is common on desktop but this is the first time we've seen it on mobile.

Triage: this is important but we're not focused directly on startup right now and it's not urgent. As such, we'll focus on it after our current non-startup investigat

[2020-04-29 23:10] mcomella commented on #10168
Triage: we'll use this issue for the investigation of the search widget in https://github.com/mozilla-mobile/fenix/issues/7380. Assign to @ecsmyth to develop release criteria (though there are higher priority investigations missing release criteria first).

[2020-04-29 23:11] mcomella commented on #10121
@jeanygong Can we file a platform perf bug for this?

[2020-04-29 23:21] eoger commented on #10277
v0.58.2 is out (bump in a-c [here](https://github.com/mozilla-mobile/android-components/pull/6819)), switching assignee to @grigoryk who'll take it from there.

[2020-04-29 23:53] betsymi commented on #9949
1. For deleting an individual history item/several history items, I see no issue with a snackbar where you could undo. For both: `History deleted UNDO`
2. Sure, the confirmation dialog can read the following. `[Browser name] will delete the selected items. CANCEL DELETE`
2a. I did this action myself and if possible would like to update the string on the snackbar that appears after to `Deleting sel

[2020-04-30 00:47] robsmith11 commented on #7256
According to he Gecko bug, a function to solve this already exposed.  Has anyone tried it on the Fenix side?

[2020-04-30 00:51] ekager commented on #7256
Yeah see https://github.com/mozilla-mobile/fenix/issues/6313
Closing this for that ticket now

[2020-04-30 00:51] #7256 closed

[2020-04-30 01:03] liuche commented on #10256
@JohanLorenzo or @MihaiTabara, two quick questions here:
- Is there a new "master" output for Fenix TC runs on master, or is that Nightly?
- Will there be CI badging like what we used to have, or is that something Releng has decided to leave off? If so, we could remove it (or just link to the correct task output). I couldn't find it when looking at the [task page](https://firefox-ci-tc.services.mo

[2020-04-30 01:44] brampitoyo commented on #9488
@lime124 Yep. Now that the design hand off has happened, this experiment doesn’t need `needs ux` and `needs strings` any more. We’re good to go and can move on to other projects.

Thanks @sblatz @gabrielluong for working on this!

[2020-04-30 01:55] SS1113 commented on #10281
@Cheap-Skate I think the issue #9123 is talking about the increasing the spacing between individuals top sites so that it acquires all of the space on individual rows. So that is different. This issue talks about the number of elements each row is holding has reduced from before which was 5 on my device but is only 4 now.

[2020-04-30 01:56] ekager commented on #9123
Going to close for #10281

[2020-04-30 01:56] #9123 closed

[2020-04-30 02:55] mstange commented on #9382
🎉🎉🎉🎉🎉🎉🎉

This is phenomenal.

[2020-04-30 03:34] dholbert opened #10312 "FNX-3430 ⁃ [Bug] Content area briefly/blindingly flashes white before turning solid black for pageload, when Android and Fenix both configured for "dark" theme"
## Steps to reproduce
1. (optional) Ideally, use a slow network connection (e.g. turn off wifi) - that makes this easier to see in isolation and reason about, since it separates the stages of pageload out over time a bit more.
1. Set your device theme and your Fenix theme both to "dark":

* Android settings | Display | Dark theme: "on"
* Fenix settings | Customize | Theme: "Dark" or "Follow device

[2020-04-30 03:37] dholbert commented on #10312
As far as I can tell, what's happening here is:
 - When you hit enter to load a URL, some graphical surface gets created which is displayed during pageload.
 - If your android system theme is "dark" (regardless of your Fenix theme), then that surface will be black.
 - However, we show it as bright-white for a fraction of a second before it turns black.
 - It looks like this happens even if Fenix i

[2020-04-30 03:39] dholbert commented on #10312
(Also: I know sometimes this sort of flash can be caused by flash-of-unstyled-content, i.e. the webpage being partially loaded and missing some styles including its background-image or whatever.  That's *not* what's happening here -- this bug is specifically about the coloring of the blank tab-content that's shown while the page is loading, **before** we've received any data for the page at all.)

[2020-04-30 03:41] dholbert commented on #10312
(Also: the color of the final page actually doesn't matter that much for this bug's reproducibility -- it just makes the flash of white easier to notice, if the pageload happens quickly.)

[2020-04-30 03:49] dholbert commented on #10312
Screencast coming up, hosted on Dropbox. Here's a screenshot of the video player there, showing the frame of the screencast video (around 0:04) where the background is rendering as bright-white:
![image](https://user-images.githubusercontent.com/426803/80670078-db59b300-8a5a-11ea-9774-a5733bbcb3a1.png)

[2020-04-30 03:50] dholbert commented on #10312
screencast: https://www.dropbox.com/s/zne4d8tdfwybtnj/flash-of-white.mp4?dl=0
(Basically, the screen flashes white *while the keyboard-disappearing animation is happening, I think?)

[2020-04-30 06:14] JohanLorenzo commented on #10256
Thank you for calling this out, @liuche! I hadn't noticed the badge is broken. I looked more closely at it and I see it points to these 2 URLs:
 * https://github.taskcluster.net/v1/repository/mozilla-mobile/fenix/master/badge.svg
 * https://github.taskcluster.net/v1/repository/mozilla-mobile/fenix/master/latest

`taskcluster.net` references the old Taskcluster instance. We need to update the locat

[2020-04-30 06:38] pdebruine commented on #8786
I came across the same issue with https://haveibeenpwned.com/Passwords. Steps to reproduce:

1. Navigate to https://haveibeenpwned.com/Passwords
2. Enter a password and search
3. In the save password prompt choose Don't save
4. Navigate to a different site (google.com or something)
5. The prompt to save the password for haveibeenpwnd.com is shown again
6. Switch to a different tab then go back to

[2020-04-30 06:39] Mugurell commented on #4690
Closing this following Chenxia's and Sebastian's review comments - https://github.com/mozilla-mobile/fenix/pull/6854#issuecomment-605304129, https://github.com/mozilla-mobile/android-components/pull/5184#issuecomment-584120464

[2020-04-30 06:39] #4690 closed

[2020-04-30 07:00] AndiAJ commented on #8105
Closing in favor of #8108

[2020-04-30 07:00] #8105 closed

[2020-04-30 07:03] Mugurell opened #10314 "A deeper locale differentiation for Leanplum experiments"
Based on Jeff's comment from https://github.com/mozilla-mobile/fenix/issues/6836

It helps to craft the right message in the right language form for the right users.
It ensures we have an accurate picture of our users.

We currently support [these locales](https://github.com/mozilla-mobile/fenix/issues/6836#issuecomment-573098428) irrespective of location.

@lwa-moz I think it's a question for mar

[2020-04-30 07:04] Mugurell commented on #6836
Created a new ticket to investigate the next steps as per Jeff's comment - https://github.com/mozilla-mobile/fenix/issues/10314

[2020-04-30 07:04] #6836 closed

[2020-04-30 07:08] Mugurell commented on #6577
Sorry for not getting to this sooner.
Based on AndiAJ and Dexterp37's comments I think we have a pretty good understanding of the issue, I'll work to fix it.

[2020-04-30 08:19] cypressious commented on #8043
I've created a PR https://github.com/mozilla-mobile/android-components/pull/6824

[2020-04-30 08:32] mcarare commented on #9387
@cnevinc Yes, that is true. I am working on a custom fix for this in AC, using a `PopupWindow`.

[2020-04-30 08:36] Diana-Rus commented on #9143
HI, reproduce the issue with Google Pixel 3 XL (Android 9) on Beta 4/29.

[2020-04-30 09:01] pocmo commented on #10277
Preparing an AC 39.0.1 dot release now that includes the AS bump to 0.58.2.

[2020-04-30 09:30] Diana-Rus commented on #2725
Reproducible with Google Pixel 3XL (Android 9) on Beta 5.0.0-beta.1 - 4/29

[2020-04-30 09:30] Diana-Rus commented on #4721
Reproducible with Google Pixel 3XL (Android 9) on Beta 5.0.0-beta.1 - 4/29

[2020-04-30 09:57] Mugurell commented on #7157
I see this added for verification in Beta.
It only added the dynamic width values that will be used for the menu.
But the actual dynamic width menu is still in review in a-c - https://github.com/mozilla-mobile/android-components/issues/6499 so atm this patch doesn't have any effect for Fenix.

[2020-04-30 10:02] sv-ohorvath opened #10315 "FNX3-13805 ⁃ [Bug] The toolbar appears on PWAs if backgrounded"
## Steps to reproduce
1. Install and open a PWA (twitter, or 9gag)
1. Tap the task tray button.
1. Return to the app.
    1. Expected behavior
The toolbar should never appear on PWA while you are navigating inside its scope.
    1. Actual behavior
The custom tab toolbar is displayed on the PWA homescreen.
*If you choose to open the page in Fenix, from the custom tab menu, the PWA task is closed.

[2020-04-30 10:40] abodea commented on #4149
Verified as fixed on Beta 5.0.0-beta.1 with Samsung Galaxy S10+ (10).

[2020-04-30 10:40] #4149 closed

[2020-04-30 11:11] AndiAJ opened #10318 "FNX-3433 ⁃ [Bug] Native code crash when trying to navigate to different websites on OnePlus A3 (Android 6.0.1)"
## Steps to reproduce
1. Navigate to Twitter.com

### Expected behavior
Twitter properly loaded

### Actual behavior
The tab crashes

### Device information
* Android device:  OnePlus A3 (Android 6.0.1)
* Fenix version: **`Nightly 200430 06:01 (Build #21210607) 40.0.20200428130031, c5f35b160 GV: 77.0a1-20200427094322 AS: 0.58.1`**

### Notes
❗ Also happens when navigating to:
•  office.com
•  sout

[2020-04-30 11:26] sv-sdeiac commented on #9728
Hi, I can confirm that the new Search field is displayed on the Language selection option.

Build:
- Firefox Preview Nightly 3/30 #21210606.

Devices:
- Google Pixel 3 (Android 10);
- Samsung Galaxy Note 8 (Android 9);
- LG G7 fit (Android 8.1).

[2020-04-30 11:26] #9728 closed

[2020-04-30 11:33] sv-ohorvath opened #10319 "Tapping a media notification from a PWA should open the PWA"
## Steps to reproduce
1. Install and open a PWA with videos (e.g. twitter / digi24.ro)
1. Play a video.
1. Minimize the PWA, tap the media notification from the notification tray.
    1. Expected behavior
The notification should bring the PWA to front.
    1. Actual behavior
Nothing happens.
    1. Device information

* Android device: Nexus 9 (Android 7.1.1)
* Fenix version: Beta 5.0, Nightly 4/3

[2020-04-30 11:54] pocmo commented on #10277
The 39.0.1 release went out earlier today!

[2020-04-30 12:52] AndiAJ commented on #10277
Hi, **verified as fixed** on the **`Debug Build from Master I've just created: 39.0.1, f19856fa4 GV: 77.0a1 20200427094322 AS: 0.58.2`** using the following devices:
• OnePlus A3 (Android 6.0.1)
• Samsung Galaxy A6 (Android 5.1.1)

► Video
![20200430-153335](https://user-images.githubusercontent.com/51314259/80711995-f0395380-8af9-11ea-838a-4e1d9c60cec9.gif)

[2020-04-30 12:52] softvision-miralobontiu commented on #10280
Hi, verified as fixed on the Debug Build from Master we've just created: 39.0.1, f19856fa4 GV: 77.0a1 20200427094322 AS: 0.58.2 using the following devices:
• OnePlus A3 (Android 6.0.1)
• Samsung Galaxy A6 (Android 5.1.1)

[2020-04-30 12:53] softvision-miralobontiu commented on #10279
Hi, verified as fixed on the Debug Build from Master we've just created: 39.0.1, f19856fa4 GV: 77.0a1 20200427094322 AS: 0.58.2 using the following devices:
• OnePlus A3 (Android 6.0.1)
• Samsung Galaxy A6 (Android 5.1.1)

[2020-04-30 12:55] abodea commented on #9208
I retested this issue for more details please check the following:

- `.fenix.nightly` I was able to install the build and the prompt was correctly displayed when I tapped on the `Get Mozilla Firefox Browser` I was redirected to the play store and `Firefox Nightly for Developers (Early access) was displayed.

![Screenshot_20200430-150721](https://user-images.githubusercontent.com/42831109/80712612

[2020-04-30 12:59] sv-sdeiac commented on #9413
Hi, this issue is still reproducible using the latest version of Firefox Preview Nightly 4/30 #21210606.

Device:
- LG G7 fit (Android 8.1).

I'll remove the qa:needed flag till new updates are coming.

[2020-04-30 13:35] Dexterp37 commented on #6577
@Mugurell I think that one low hanging fruit could be to document this in the metric description within the `metrics.yaml` file. This would make it easy to figure out the behaviour if someone else stumbles on it in the future.

[2020-04-30 13:42] sv-ohorvath commented on #10085
Verified as fixed on Beta 5.0 and Nightly 4/30.

[2020-04-30 14:15] darkwing opened #10321 "FNX-3435 ⁃ Tab Tray - Implement Media Play State"
![](https://user-images.githubusercontent.com/46655/80720873-290a0600-8ac3-11ea-84b8-bbcc95a7eaf3.png)

Specs are here:

https://app.abstract.com/share/31de1afc-87d2-4a9e-9078-4d9d9831b60d?mode=build&sha=8e85755b5a9d41cd40058fab4de1acfd7c36f934

[2020-04-30 14:17] Mugurell opened #10322 "FNX3-13810 ⁃ Glean - total_uri_count can be incremented by websites without user interaction"
As seen in https://github.com/mozilla-mobile/fenix/issues/6577#issuecomment-621839818 websites have the possibility to programatically take the user to a different location, a different address without user interaction.

This will impact `total_uri_count` which can now have a bigger value than expected.

This needs to be documented for future references.

[2020-04-30 14:29] Amejia481 commented on #10142
@sv-ohorvath would you mind double checking? Thanks :)

[2020-04-30 14:33] darkwing opened #10323 "FNX-3437 ⁃ Implement Tab Tray Infrastructure"
The first iteration of the tab tray was meant to be functional.  The next step should be implementing the traditional structure we've used:

* Interactor
* Controller
* Store

[2020-04-30 14:57] AndiAJ commented on #9483
Hi, didn't manage to reproduce the issue on the latest Nightly 200430 from 4/30 using the following devices:
• Google Pixel 3a (Android 10)
• Huawei Mate 20 Lite (Android 9)

► Video adding southfront.org to the uBlock's whitelist
![20200430-173101](https://user-images.githubusercontent.com/51314259/80725493-d4d74400-8b0b-11ea-91ff-308b009a53ce.gif)

► Video uBlock disabled manually for the southf

[2020-04-30 15:09] apbitner commented on #9208
@sblatz I noticed on the long header that the text is running into the 'X', can we add some padding there, like this?
<img width="790" alt="image" src="https://user-images.githubusercontent.com/22176302/80726704-5efeb880-8aca-11ea-820b-7a9f3d612133.png">

Also, I know 'Learn more' has to be on its own line but we should add a little spacing between it and the button, otherwise I'm afraid there cou

[2020-04-30 15:13] Amejia481 commented on #9483
I think we can close this one, as it's not reproduce anymore, the native crash could be unrelated.
@VandaLHJ if you continue seen this issue please reopen!

[2020-04-30 15:50] VandaLHJ commented on #9483
https://gist.github.com/VandaLHJ/64ccd46a49a87c1a58d5304a44dfcf63

It's still happening reliably

[2020-04-30 15:54] Amejia481 commented on #9483
Can you go to **Settings**-> **About Firefox Nightly** and share a print screen?

[2020-04-30 15:58] VandaLHJ commented on #9483
[Screenrecorder-2020-04-30-17-52-54-519.tar.gz](https://github.com/mozilla-mobile/fenix/files/4559462/Screenrecorder-2020-04-30-17-52-54-519.tar.gz)

Here is screencast in zip.
![Screenshot_2020-04-30-17-56-30-245_org mozilla fenix nightly](https://user-images.githubusercontent.com/28790923/80732163-3697ae00-8b0c-11ea-80f1-3f3d6adda5bf.png)

[2020-04-30 16:00] Amejia481 commented on #9483
Thanks, let's re open and take a look.

[2020-04-30 16:01] VandaLHJ commented on #9483
On 200430 same issue.

[2020-04-30 16:25] boek commented on #9413
🤦 will be fixed with https://github.com/mozilla-mobile/android-components/pull/6834

[2020-04-30 16:40] st3fan commented on #8631
@st3fan Spelunk through telemetry to see if we have any data on Huawei and default browser before/after Beta migration.

[2020-04-30 17:34] kbrosnan commented on #10312
Duplicate #6313

[2020-04-30 17:39] #6558 closed

[2020-04-30 17:41] dholbert commented on #10312
Indeed, looks like it. Sorry for the dupe-noise, and thanks for taking a look.

[2020-04-30 17:42] dholbert commented on #6313
Here's a screencast of what this looks like, FWIW:
https://www.dropbox.com/s/zne4d8tdfwybtnj/flash-of-white.mp4?dl=0

There's a flash of white (due to this bug) at around 0:04, while the keyboard is disappearing.

[2020-04-30 17:56] psymoon commented on #10290
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1634493

[2020-04-30 18:32] mcomella commented on #9626
We haven't see any movement on this in a while so I'm unassigning and sending it back to triage. Please feel free to change it back if this is in error.

[2020-04-30 18:36] mcomella commented on #7820
This issue isn't urgent or important and it's distracting on our board so I'm going to close it. We don't want to remove the code because it may have a performance improvement but we don't want to validate that because it'll take time to do so. I don't love leaving around complex code but it's fairly well isolated so it'll probably be fine... 😅

[2020-04-30 18:36] #7820 closed

[2020-04-30 18:55] liuche commented on #10291
We haven't enabled Dynamic Nav bar on release yet, so we are waiting on #8775 because there are still a few GV issues that are outstanding.

[2020-04-30 19:03] andreicristianpetcu opened #10328 "FNX-3438 ⁃ [Bug] Nightly crashex"
## Steps to reproduce
update nightly
start nightly

### Expected behavior
not crash

### Actual behavior
crash

### Device information
* Android device: one plus 5t
* Fenix version: nightly

[2020-04-30 19:07] eliserichards commented on #10302
@st3fan do we know how often is this happening? Is it happening on any other websites? @chris.cushman

[2020-04-30 19:10] eliserichards commented on #10318
Closing as duplicate of #9483

[2020-04-30 19:22] eliserichards commented on #10208
Closing as duplicate of #10207

[2020-04-30 19:25] eliserichards commented on #10328
Related to #10320

[2020-04-30 19:30] 532910 commented on #6313
There was a gif in #10158

[2020-04-30 19:39] darkwing opened #10329 "FNX-3439 ⁃ Implement tab tray divider"
The tab tray requires a divider decoration which was difficult to implement when the tab tray first landed.  This accounts for work implementing that divider.

[2020-04-30 19:56] sblatz commented on #9208
@AndiAJ please verify the padding has been updated. Other than that, this should be good to go 😄

[2020-04-30 20:08] #8275 closed

[2020-04-30 20:21] darkwing opened #10331 "FNX-3441 ⁃ Tab Tray: Implement Swipe-to-Delete"
We should port our swipe to delete functionality to the new tab tray.

[2020-04-30 20:22] darkwing opened #10332 "FNX-3440 ⁃ Tab Tray: Implement Undo Snackbar"
We should port the undo snackbar functionality to the new tab tray.

[2020-04-30 21:01] #6760 closed

[2020-04-30 21:19] mcomella commented on #10161
This appears to be unblocked now.

[2020-04-30 21:48] miketaylr commented on #1175
It looks like Starz relies on Widevine: https://github.com/webcompat/web-bugs/issues/52232#issuecomment-620563246

[2020-04-30 22:51] mcomella opened #10334 "FNX-3442 ⁃ [Bug] java.lang.IllegalStateException: Migration didn't properly handle top_sites(mozilla.components.feature.top.sites.db.TopSiteEntity)"
I was making local fenix + a-c builds and ran into a migration-related exception on startup. I may have went from a newer build to an older build during the process:

[code]

This could have been caused by my local changes but I wanted to report it just in case it wasn't. CC @pocmo

* Android device: Pixel 2
* Fenix version: 4006501d4103fce67cefc0cb25bb60b6492dc1db (Apr 28) + 1d04bb79acc41890ba42e

[2020-04-30 22:56] mcomella opened #10335 "FNX2-13133 ⁃ Investigate perf of "Open bookmarks from context menu""
We're investigating non-startup user flows https://github.com/mozilla-mobile/fenix/issues/7380 and "Open bookmarks from context menu" is the next item. The two RC are:

* Open bookmarks 75th percentile user
  * GIVEN Fenix on 2018 (low-end|high-end) Android reference
AND there are 20 pages bookmarked
WHEN opening bookmarks from the Context Menu
THEN the visible bookmark list is rendered in less th

[2020-04-30 22:59] mcomella commented on #10096
I added `Thread.sleep(5000) directly to `onDraw` (not the uiHandler) and the animation starts and completes (i.e. it continues to animate even though the UI thread is blocked – I assume it's because it's running in hardware) but future UI events don't work until the sleep completes. The same behavior happens if I add the `Thread.sleep` to the pre draw listener. This implies we need to add the draw

[2020-04-30 23:23] mcomella commented on #10096
I completely missed the RC in the NFR: I updated comment 0 to reflect the RC. Luckily, my initial work in the bug represents the first RC.

[2020-04-30 23:30] mcomella commented on #10335
Realized I didn't complete my last issue so unassigning.

[2020-04-30 23:33] TitanNano commented on #10334
I'm also getting this after installing the latest nightly build.

[2020-04-30 23:36] TitanNano commented on #10328
Probably a dupe of #10334

[2020-04-30 23:46] rpappalax opened #10337 "FNX-3444 ⁃ Temporarily pause Nightly"
waiting for new A-C version to merge w/ fixes

[2020-05-01 00:03] yoasif commented on #7912
This also exists in reference browser and used to be in QAB.

There is currently no way to customize reader view that I can find.

[2020-05-01 00:04] yoasif commented on #6639
Just realized this also exists in Fennec and Reference Browser.

[2020-05-01 01:43] ekager commented on #10315
Should be fixed by https://github.com/mozilla-mobile/fenix/pull/10306 in master

[2020-05-01 03:21] vesta0 opened #10340 "FNX-3445 ⁃ [Bug] Flash when navigating from tab tray to homescreen"
## Steps to reproduce
-Open a tab
-Close the tab
-Tap on homescreen

### Expected behavior
-Smooth transition

### Actual behavior
-White flash during transition

### Device information
* Android device: Pixel 4
* Fenix version: Tab tray build 1.0.2018

[2020-05-01 03:30] vesta0 opened #10341 "FNX-3446 ⁃ Tab Tray: Add "Collections placeholder/description" to the homescreen"
## User Story
* As a user, I want to learn about Collections on the homescreen, so I can take advantage of this feature.

Note: The solution doesn't need to be exactly the same as what we have on the homescreen today.

### Acceptance Criteria
* I can see a "collections placeholder/description" on the homescreen.

[2020-05-01 03:37] vesta0 opened #10342 "FNX-3447 ⁃ Populate top sites with frequently opened sites"
### User Story
As a user, I want to see my frequently accessed sites on the homescreen in a useful way, so I can reference them to complete my routine tasks faster.

### Dependencies
* [ ] https://github.com/mozilla-mobile/android-components/issues/7261
* [x] https://github.com/mozilla/application-services/issues/2163
* [x] https://github.com/mozilla-mobile/android-components/issues/7094

### Acce

[2020-05-01 03:46] vesta0 opened #10343 "FNX-3448 ⁃ Remove "Library" and move items"
Fenix "Library" is currently only accessible through the browser toolbar menu (not from the homescreen) and it only contains 2 items: Bookmarks and History

We should revisit this and determine whether we want to keep "Library" and add more items to it, or get rid of it.

[2020-05-01 04:33] rpappalax commented on #10337
[ liuche commented 4 hours ago](https://github.com/mozilla-mobile/fenix/pull/10338#issuecomment-622195887)

I just tested the new AC changes in #10336 and they don't crash on start. I think this means that the db migration breakage is fixed, so I'm going to let the Nightly build continue.)

I just tested the new AC changes in #10336 and they don't crash on start. I think this means that the db mig

[2020-05-01 05:16] pauljacobson commented on #6512
It would be really helpful if Collections could be synced, as Collections.

[2020-05-01 05:30] vesta0 opened #10344 "Allow users to manually re-order tabs"
## User Story
As a user with a lot of open tabs, I want to be able to easily locate the last tab I was on and re-order tabs in a way that fits my needs, so I don't have to spend time looking for a specific tab.

### Acceptance Criteria
* I can easily find and open the last tab I was on
* I can easily re-order tabs to where I want them to be

┆Issue is synchronized with this [Jira Task](https://moz

[2020-05-01 05:35] vesta0 opened #10345 "FNX-3450 ⁃ UX: Intuitive navigation between tabs and homescreen"
## User Story
As a user, I can easily navigate between homescreen and tabs, so I can take advantage of my personalized items on the homescreen for a faster browsing experience.

### Acceptance Criteria
* Navigation between tabs and homescreen is intuitive
* User doesn't end up confused or with extra clicks to get to where they expect to go

[2020-05-01 05:41] vesta0 opened #10346 "FNX-3451 ⁃ Use gesture to navigate between tabs"
## User Story
As a user, I want to be able to use gestures to navigate between tabs, so I can find and process the information that I need faster.

## Dependencies
Geckoview

### Acceptance Criteria
* I can use a gesture to navigate between tabs

[2020-05-01 05:54] MarcLeclair commented on #10096
So I was asking for `R.id.Icon` since I saw the `R.id...` in the constructor and its not in my local copy of A-C so I thought you had added it 😄  . I just realized that your code will run for any icon button in the `MenuButton.kt`. So yes it looks good to me, i think your comment about the animation also makes sense.

[2020-05-01 06:19] PranavBhattarai commented on #10278
@Amejia481 I have added a video link, where u can see everything.

Nothing happens when I select those two options which I have mentioned above. And that's the problem.

[2020-05-01 06:44] cadeyrn commented on #10342
Can you please make this an optional feature? I really don't want my homescreen cluttered with auto-populated sites. It's always the first thing I disable in new installations of Firefox on desktop systems and Firefox for Android should allow to disable this, too. Thanks!

[2020-05-01 07:29] andreicristianpetcu commented on #10328
it's fixed now

[2020-05-01 07:45] Archaeopteryx opened #10348 "FNX-3452 ⁃ [Bug] Intermittent test failure org.mozilla.fenix.perf.StartupHomeActivityLifecycleObserverTest"
Log: https://treeherder.mozilla.org/logviewer.html#?job_id=300287785&repo=fenix

[task 2020-04-30T21:05:32.029Z] SUITE: org.mozilla.fenix.perf.StartupHomeActivityLifecycleObserverTest
[task 2020-04-30T21:05:32.029Z]   TEST: WHEN onStop is called THEN the metrics are set and the ping is submitted
[task 2020-04-30T21:05:32.129Z]     I/AssetManager: no overlays.list file found
[task 2020-04-30T21:05:

[2020-05-01 11:48] andreicristianpetcu commented on #1063
@boek can I test this in Nightly? I saw a commit mentioning a feature flag.

[2020-05-01 13:02] cadeyrn commented on #1063
@andreicristianpetcu You have to use a debug build and then you can tap five times the Firefox logo on the "About" screen to enable the "Secret Settings" screen in the settings.

[2020-05-01 13:26] Kreuger commented on #10307
OK thanks

[2020-05-01 14:47] #9686 closed

[2020-05-01 15:24] vesta0 commented on #2486
@yoasif @madb1lly @buttercookie42 thanks for the great suggestions!

Can you help me think through common use cases of this? What are the different scenarios where you would need to go back and open your recently closed tabs? Is it just in case of accidentally closing a tab (as stated in the issue description above) or are there other use cases? Is it ever about wanting to keep your homescreen cle

[2020-05-01 15:38] jawz101 commented on #6512
.. and we call the tab groups 0_o

[2020-05-01 15:47] jawz101 commented on #5853
![Untitled](https://user-images.githubusercontent.com/14151703/80818245-55f11280-8bc2-11ea-98f3-9920f4036cb8.png)

I just use bookmark folders and subfolders within the Bookmarks Toolbar folder on desktop.  And if I right click on a folder and I can open all of the contents within the folder as new tabs.  Bookmark toolbar and creating folders has been the longest-lasting feature amongst all browse

[2020-05-01 15:54] vesta0 commented on #10342
@cadeyrn thanks for the feedback! I added that to the acceptance criteria.

[2020-05-01 16:22] yoasif commented on #10346
Maybe a dupe of #396 and #176?

[2020-05-01 16:26] yoasif commented on #10343
I vote for getting rid of it -- it doesn't work very well in Firefox desktop either as a concept, and that feels to me one of the only reasons to maintain it in Fenix (consistency/familiarity).