[2022-02-02 15:57] #22314 closed

[2022-02-02 16:25] czlucius opened #23539 "Long clicking to reveal edit menu in text fields shows Copy to Clipboard alert (Android 12)"
### Steps to reproduce

1. On Android 12, enable toast notifications when clipboard is accessed
2. Visit a site with a text box in it
3. Long click in the text box to reveal the edit menu

### Expected behaviour

Clipboard should not be read from.

### Actual behaviour

A toast notification pops up saying that the clipboard is pasted from.

### Device name

Samsung Galaxy S20 FE 5G

### Android ve

[2022-02-02 17:47] kbrosnan opened #23540 "Investigate ways to avoid sqashing or stretching the image for wallpapers"
Some of the images have a different aspect ratio than the device. We should look at ways to avoid this. Letterboxing or cropping were suggested. Out of scope is trying to make sure specific parts of the image are visible on the screen.

[2022-02-02 18:04] behofer commented on #20492
@jcsteh the behaviour even occurs in the address field of the app when searching or entering a URL. So, shouldn't be related to ARIA...

[2022-02-02 18:08] Gusted commented on #23475
@mcarare It seems like you're suggesting that it's possible for a addon to follow the device's theme? I'd only know of one way to get any sort of theme `matchMedia('(prefers-color-scheme: dark)')` which to my understanding should report the device's theme. Is there a function or API that I don't know of which actually returns the device theme.

[2022-02-02 18:17] mcarare commented on #23475
@Gusted I am actually saying I think the current behavior is the expected one.
I am not aware if something can be done in the add-on to follow the device theme instead of the app theme.

[2022-02-02 18:17] DiegoARL38 commented on #20492
@behofer That would be related to #20491, I believe. If I'm not mistaken, this issue and #20491 are in different, unrelated components, though I could be wrong...

[2022-02-02 18:18] Gusted commented on #23475
@mcarare Thanks for the explanation, and for the debugging of the problem.

[2022-02-02 19:03] jonalmeida commented on #23521
@kbrosnan suggested [this](https://github.com/gildas-lormeau/SingleFile) web extension to generate single file versions of the test sites that run against.

[2022-02-02 19:27] #23514 closed

[2022-02-02 19:41] jonalmeida commented on #23536
@sv-ohorvath When adding a search engine, we need to try and connect to it first to verify we can make queries to it (we send out a search query for "1" and you can see this in about:debugging). So the save might be taking a while because the search engine site is slow to respond. This is another candidate for discussion in https://github.com/mozilla-mobile/fenix/issues/23521 I think.

[2022-02-02 19:43] jonalmeida commented on #23536
Ah, elefant.ro is a genuine e-commerce site, so if every UI test run is making a request to it from Firebase, we might have triggered their DDOS response and are now rate-limited or blocked from the Firebase IP addresses.

[2022-02-02 19:59] WebworkrNet commented on #19645
@SoftVision-LorandJanos

Sorry, I can't confirm that unfortunately.

Tested sub-sites in private mode:
- fernsehserien.de
- heise.de
- de.wikipedia.org

On some pages the favicon was reloaded later, on other pages not at all. Only Wikipedia reliably saved the favicons next to the bookmark on the first try.

- Samsung Galaxy XCover 4s
- Android 11
- 98.0a1 (Build #2015860875), 9b9fab40d+
AC: 98.0.2

[2022-02-02 20:18] WebworkrNet commented on #19993
@ddarfantasy

I am not sure if this is really a mistake. It could be intentional.

If necessary, I think you should search for an already opened ticket that shows your situation or open a new one.

[2022-02-02 21:20] kbrosnan commented on #23535
@amedyne maybe more fallout from the icon work?

[2022-02-02 21:27] kbrosnan commented on #23539
@makotokato this looks like Gecko behavior? Is that correct? Should we move this to Bugzilla?

[2022-02-02 21:34] mcomella commented on #20558
Triage: probably still a problem.

[2022-02-02 21:37] mcomella commented on #23531
@ganeshghutugade Is it only the add-on icons that are loading slowly?

Triage: the animation looks unnecessarily slow though csadilek mentioned it might be covering up a network delay.

[2022-02-02 21:38] mcomella commented on #15581
Triage: there is a decision to land this so csadilek and grigoryk expect to follow-up, perhaps after the next nightly cut (next week?).

[2022-02-02 21:49] mcomella commented on #23310
Triage: we're concerned that the visual completeness queue is slows page load or the first user interactions, both because it blocks the UI thread but also that it triggers background (IO?) jobs. **We should run tests/telemetry to understand the impact.** For example, we could add:
- a local cold page load test where we a) trigger visual completeness queue to start when page load measurement start

[2022-02-02 21:55] ikke-t commented on #23475
Thanks, that fixes it.

[2022-02-02 22:50] rsssxd opened #23542 "[Bug]: Strange side scrolling on website"
### Steps to reproduce

Open the Rudaw website. Side scroll and go to chapter 3.
https://www.rudaw.net/Turkish

### Expected behaviour

The 3rd news should load smoothly when side-scrolling.

### Actual behaviour

3. A white blank content appears instead of the title

### Device name

Xiaomi Mi 9T

### Android version

Android 10

### Firefox release type

Firefox

### Firefox version

86

### Dev

[2022-02-02 23:10] oserlab opened #23543 "Sending a local file tab to a device crashes Firefox on that device."
Steps to reproduce
Open any file in a tab on a computer (or any other device) (the URL should be something like file:///path/to/file)
Right-click on the tab > Send tab to device
Observe the app crashes on the device receiving the tab
Expected behaviour
The tab should not be able to be sent, if it is sent, it should not be able to be received by the device. It should be treated as unsafe, and any e

[2022-02-03 00:24] jonalmeida commented on #23521
Looks like we have support for doing this via [`TestAssetHelper.kt`](https://github.com/mozilla-mobile/fenix/blob/main/app/src/androidTest/java/org/mozilla/fenix/helpers/TestAssetHelper.kt), so maybe the only thing that needs to be done is re-writing the test to use a local version.

[2022-02-03 02:39] grigoryk opened #23547 "Some unit tests do not run in Android Studio on M1 Macs"
Looks like anything that'd end-up loading JNA fails at runtime when test is executed via Android Studio.

In practice, this often looks like a failure to initialize `org.mozilla.fenix.GleanMetrics.PerfStartup`.

[code]

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19369)

[2022-02-03 03:37] AndiAJ commented on #23481
Flaky 1x on 2/2 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7803551302553990818/executions/bs.2e7a27fed719c9bc/testcases/1/test-cases)

[2022-02-03 03:43] grigoryk commented on #23543
Tried this out locally, and yup, we crash with something like this:
[code]

[2022-02-03 04:44] lilydjwg commented on #22529
My nightly doesn't show the arrow somehow. It reacts to touch but is empty visually.

[2022-02-03 05:03] czlucius commented on #13336
https://github.com/mozilla-mobile/fenix/pull/23169 just got merged into Fenix, you should see this soon in Nightly and Release.

[2022-02-03 05:04] czlucius commented on #2871
https://github.com/mozilla-mobile/fenix/pull/23169 just got merged into Fenix, bookmarklets can be launched from the bookmarks menu.

[2022-02-03 05:06] makotokato commented on #23539
Yes, as current design. This is https://developer.android.com/guide/topics/text/copy-paste#PastingSystemNotifications.

But this is a kind of feature request to improve clipboard support.

[2022-02-03 05:09] makotokato commented on #23539
(User can show/hide this notification by Settings in Android system - Privacy - Show clipboard access)

[2022-02-03 05:14] sherip99 opened #23548 "[Bug]: Cannot enter unlock code using a secondary account"
### Steps to reproduce

To access saved passwords in Settings you must enter the unlock code for the android device. My Firefox app auto updated today and now the entry field for the unlock code does not accept any characters.

### Expected behaviour

Prompt for unlock code, accept characters for device pin from keyboard entry.

### Actual behaviour

Prompts for unlock code but keyboard input does

[2022-02-03 05:16] AndiAJ commented on #19964
Still reproducible on the latest Nightly 98.0a1 from 2/3 using a Google Pixel 3a (Android 11)

[2022-02-03 05:36] lnicola commented on #18135
No, bot, installing extensions still doesn't work.

[2022-02-03 07:16] sonora commented on #23063
Still present in Release 97.1.0.

[2022-02-03 07:20] behofer commented on #20492
@DiegoARL38 #20491 refers to the address bar, this issue refers to web text inputs (different components). However, actual behaviour and expected behaviour when Talkback enabled is exactly the same! So technically it could be the same or related root cause.

[2022-02-03 07:44] mcarare commented on #23548
@sherip99 Can you provide a recording of the issue? It would help with debugging and fixing the issue. Thank you!

[2022-02-03 07:47] mcarare commented on #23462
Closing in favor of https://github.com/mozilla-mobile/fenix/issues/23462 that also contains logs. Progress can be followed on that issue.

[2022-02-03 07:47] #23462 closed

[2022-02-03 08:17] sflorean commented on #22529
@mcarare I didn't posted results earlier from Nightly because the arrow was not displayed because of https://github.com/mozilla-mobile/fenix/issues/23378.

On Nightly 98.0a1 - 2/3, no suggestions are made:
<img src="https://user-images.githubusercontent.com/58466444/152305433-25d4f4e8-5a3e-4542-adc3-946815b8caf3.jpg" width="270" height="550" />

[2022-02-03 09:10] serfreeman1337 commented on #14802
Before fenix update I was able to turn off history completely with the `places.history.enabled` pref, but I now I have to either user private mode or quit from menu. Please consider adding back option to turn off just history.

[2022-02-03 09:39] rpappalax commented on #23521
@jonalmeida thanks for bringing this to our attention.  We do already make use of the http3 mock web server to run a number of tests using assets served via localhost so it's probably just a matter of bringing the test page in question into the project as an asset.  We do also have a few other remote assets we're trying to bring in to run locally so they're not as brittle, though we can't do that

[2022-02-03 09:54] maverick74 commented on #13336
@czlucius **THANK YOU SOOO MUCH!!!**

If I'm not asking too much, please share the link to the remaining bug you mentioned on the PR. Thanks :)

[2022-02-03 10:06] D4rk3vi1 commented on #23119
This big is of huge annoyance and arrived in beta as well. How can priority be increased? Thanks!

[2022-02-03 10:24] sv-ohorvath commented on #23536
That is possible, but the issue is reproducible in manual testing as well with that website.

[2022-02-03 11:23] Ryzhehvost commented on #18135
This issue is should be top priority, without this feature firefox is not usable at all. I sill use firefox 68.11 because new firefox is broken.

[2022-02-03 11:43] sv-ohorvath commented on #20973
Looks like the number of search suggestions doesn't always match the expected number, it could be only a network issue, but I think it can be avoided with a small change to the test.

[2022-02-03 12:35] Mugurell opened #23551 "Verify Pocket headers padding"
Based on the designs there should be a 17dp space between Pocket stories/categories headers and their content.

<img width="197" alt="image" src="https://user-images.githubusercontent.com/11428869/152343679-6041b3b3-5fb5-4eee-85fe-51a38d31cda1.png">

<img width="194" alt="image" src="https://user-images.githubusercontent.com/11428869/152343732-199150fa-13e0-4307-b1d4-60c4880fac65.png">

This was r

[2022-02-03 12:58] ganeshghutugade commented on #23531
![Screenshot_2022-02-02-09-53-08-75_984e1414ae90666a90f12ff17ec14a7f](https://user-images.githubusercontent.com/53371927/152347286-dff37489-4dab-4659-bea0-5ca408c3a126.jpg)

No add-on loading slowly i open browser two or three times and then add-on is loaded

[2022-02-03 13:21] haltbarmilch commented on #13336
@czlucius Thank you also very much. It works in the nightly version.

[2022-02-03 13:35] LaviniaL99 commented on #21055
Hello @wladmis
 I tested the above issue on the latest Nightly build and latest RC version (97.1.0) and i was not able to reproduce the issue.

**Devices used:**
- Samsung S10 (Android 10)

Can you please verify the flow again and let me know if you are still able to reproduce it on the latest builds? If yes, please attach a video for it and type of the device you are using it/ android version.

T

[2022-02-03 13:42] sflorean commented on #17581
Closing this due to lack of extra information and given the fact that the issue is not reproducible on our side. Please comment/ open a new bug if the issue occurs again.

[2022-02-03 13:42] #17581 closed

[2022-02-03 13:44] sflorean commented on #17111
Closing this due to lack of extra information and given the fact that the issue is not reproducible on our side. Please comment/ open a new bug if the issue occurs again.

[2022-02-03 13:44] #17111 closed

[2022-02-03 14:06] LaviniaL99 commented on #20747
Hello @Blackhat73

I tested the above issue on the latest Nightly build(98.0a1) and latest Beta version (97.0.0 -beta6) and i was not able to reproduce the issue.

**Device used:**

- Samsung S10 (Android 10)

Can you please verify the flow again and let me know if you are still able to reproduce it on the latest builds? If yes, please attach a video for it.
Thanks!

[2022-02-03 14:25] Cheap-Skate commented on #13336
@czlucius it's fantastic!  Thanks!

Now there is a work-around for Fenix's ridiculous "Top Sites always open in a new tab" behavior:- just use Bookmarks instead of Top Sites. They open in the existing tab. It's one extra tap but it's much better than having 10000000 of tabs opening up all the time.

If you could fix the behavior of Top Sites too you would be a Fenix Legend 👍

[2022-02-03 14:33] sflorean commented on #16882
Closing this due to lack of extra information and given the fact that the issue is not reproducible on our side. Please comment/ open a new bug if the issue occurs again.

[2022-02-03 14:33] #16882 closed

[2022-02-03 14:53] SoftVision-LorandJanos commented on #23542
Hi @reyis4402! Thank you for your report!
I could reproduce the issue described by you, but only the 3rd or 4th time i scrolled, so it's not a constant issue (On Beta I got this result the first time).
And as I observed the title looks as expected, and the but the picture is white.
Also checked on Chrome where it works as expected.

This is how the third slide appears to me on Firefox (after acces

[2022-02-03 15:11] klint commented on #13336
Actually, that could also be a change in the behaviour of the "+" button rather than the "Top Sites"'s one.
Should the "+" button open a new tab by default (in this case, it make no sense to open a Top Site in the same tab where the "+" button was created. It is a "+" not a "=" ;)) ?
Or should it open whatever is chosen from the home page in the same tab where it was pressed, by default?
Well, I w

[2022-02-03 15:27] maverick74 commented on #13336
I believe @klint has a point here!

In the "Top Sites" there should be an "Open In New Tab" option like in bookmarks!

[2022-02-03 15:51] LaurentiuApahideanSV commented on #23308
I managed to reproduce the issue on RC 95.2.0 but not on Nightly 2022-02-03. The issue was probably fixed by https://github.com/mozilla-mobile/fenix/issues/21483. I will close this issue.

[2022-02-03 15:51] #23308 closed

[2022-02-03 16:11] Obscerno commented on #2871
Thank you so much for your work @czlucius! This change is now live in Nightly and working beautifully.

[2022-02-03 16:31] gabrielluong opened #23554 "Remove Top Sites border"
With the changes of the home screen color to align with the design system, the top sites border now looks a bit too different from the existing cards that are on the home screen. This issue is to remove the top site border after confirming with @cwzilla.

[2022-02-03 18:22] #23554 closed

[2022-02-03 18:35] Kate-Galetski commented on #23551
The distance between them should be 16px, not 17px

[2022-02-03 18:45] #16717 closed

[2022-02-03 18:45] #16863 closed

[2022-02-03 18:45] #16776 closed

[2022-02-03 18:45] #16723 closed

[2022-02-03 18:45] #16572 closed

[2022-02-03 18:45] #16175 closed

[2022-02-03 18:47] sherip99 commented on #23548
Hopefully these screenshots will help. Actually the last frame is a photo, because I couldn't take a screenshot there, there was a popup saying no screenshot could be taken there due to security policy.

![FirefoxBug](https://user-images.githubusercontent.com/4652094/152408088-ed955ca4-fa54-428b-bbc2-f2b9755a810e.jpg)

[2022-02-03 18:57] kbrosnan commented on #23543
Duplicate of https://github.com/mozilla-mobile/fenix/issues/20414

[2022-02-03 19:00] gabrielluong opened #23558 "Update menu copy for What's new and Customize homepage"
We want to make the following menu changes in preparation of wallpapers. Partial work of https://mozilla-hub.atlassian.net/browse/FNXV2-19084

![image (2)](https://user-images.githubusercontent.com/1190888/152410264-5b55e4ba-010c-4fe5-afc6-7a4fc0d30039.png)

[2022-02-03 19:01] kbrosnan commented on #20414
Sending the file URI won't do anything useful. The file will not be found, http error 404. This can be avoided by not sending file URIs.

[2022-02-03 19:02] mcomella opened #23559 "Glean JNA via `CounterMetricType.<clinit>` via `PerfStartup.<clinit>` delays Gecko start up (58ms w/ Debug API)"
When using the `Debug` API (i.e. has additional overhead) to take a start up profile, we see `PerfStartup.<clinit>` take 58ms to run, due to the time it takes to init the Glean component it uses: https://share.firefox.dev/3HvSTcb

There are three key points in COLD VIEW start up:
1. time to display the UI (i.e. first frame / visual completeness)
2. how early we start Gecko (because it takes a whil

[2022-02-03 19:14] mcomella commented on #23492
I'm sorry – I should have provided profiles. Here is with the Firefox Profiler (starts around when Gecko starts in start up, low overhead):
- Unaffected: https://share.firefox.dev/3gnR1Gp
- Affected: https://share.firefox.dev/3L6waFO

Here is with the Debug API (starts earlier during start up but has non-trivial overhead):
- Unaffected: https://share.firefox.dev/3IZv5xz
- Affected: https://share.f

[2022-02-03 19:15] Jonatan7BR opened #23561 "[Bug]: Scrolling to the bottom of the page doesn't actually goes to the bottom"
### Steps to reproduce

Open a website that automatically scrolls to the bottom of the page (using JavaScript scrollTo or scrollIntoView)

### Expected behaviour

The bottom part of the page should be shown

### Actual behaviour

The page scrolls to almost the bottom with a portion hidden. When scrolling manually, the address bar at the top gets hidden and then the bottom part of the page appears.

[2022-02-03 19:15] SwanX1 commented on #23462
@mcarare, It seems you've linked this issue in your message, I assume it should be #20414.

[2022-02-03 19:19] jonalmeida commented on #23521
We have fixed them on those release branches (see links above) as part of getting the patch releases out for the immediate case so there is nothing to disable.

[2022-02-03 19:30] kbrosnan commented on #23561
It would be helpful to provide a link to a live page that uses this.

[2022-02-03 20:18] Jonatan7BR commented on #23561
It's a page I'm building locally, but I've published an HTML on GitHub that does the same thing.
It's on https://jonatan7br.github.io/

Basically, the page writes text on the screen using a typewriter-like effect while keeping the page at the bottom.

[2022-02-03 21:11] #19043 closed

[2022-02-03 21:33] AaronMT commented on #23521
Thanks @jonalmeida, for the most part we do use locally served assets depending on tests, but in others we use remote assets (it depends on the target test). There were complications and concerns with testing local assets is bundling large binaries with the repository (e.g, a large download binary download test), or others such as Enhanced Tracking Protection can not be tested without touching net

[2022-02-03 22:07] Amejia481 opened #23563 "Crash IOException: Timed out when downloading wallpapers"
Sentry https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/17697998/
[code]

[2022-02-03 22:08] Amejia481 commented on #23563
Sentry issue: [FIREFOX-NIGHTLY-EYN](https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/17697998/?referrer=github_plugin)

[2022-02-03 23:27] jonalmeida commented on #23521
@AaronMT swapping to a site under our control is still subject to changes - which is why the tests failed. In the linked pull requests above, you can see that we had to backport one of your patches (https://github.com/mozilla-mobile/fenix/pull/23335) to a previous release branch because the _sites under our control had changed_.

Another example to consider, is that if you tried to checkout [`rele

[2022-02-03 23:52] MatthewTighe opened #23565 "Add expiration date for wallpapers"
Certain remote wallpapers will have an expiration date tied to them. When wallpapers expire, we want to delete any unused copies of them from user's devices.

The exception is that if a user has an expired wallpaper selected, they can continue to use it.

[2022-02-04 00:28] #23558 closed

[2022-02-04 02:43] mcomella commented on #23043
@kbrosnan I'm not too familiar with variable refresh rates and how it's expected to change with user interaction. What kind of changes do you expect to see? What is your concern with the frame rate being pinned to the maximum? What priority do you think this change should be? (note: I read [this article](https://android-developers.googleblog.com/2020/04/high-refresh-rate-rendering-on-android.html)

[2022-02-04 04:15] gabrielluong commented on #23535
This is probably unrelated, we reverted the work to remove duplicate icons on fenix to use the icons that are already in AC.

[2022-02-04 04:30] gabrielluong commented on #23533
This is actually expected with Material Design https://material.io/components/text-fields#anatomy

[2022-02-04 04:30] #23533 closed

[2022-02-04 06:39] mcarare commented on #22692
@cwzilla In order to move forward with this, please provide the links to the Figma designs with the new UX specs for the style of the components that previously used Metropolis font. I tried to find them on Figma, but I have only seen designs that still use Metropolis font.
Thank you!

[2022-02-04 09:56] SoftVision-LorandJanos commented on #13336
Verified as fixed on the latest Nightly 98.0a1 (2022-02-04).
The bookmarked pages are opened in the current tab.

Devices used:
- Samsung Galaxy Tab S3 (Android 9).
- Oppo Reno 6 (Android 11).
- Google Pixel 4 (Android 12).

Closing the ticket as fixed.

[2022-02-04 10:28] madb1lly commented on #14809
Hi all,
I don't know when it happened, but it's now possible to bring up the top sites (Fenix homepage) just by tapping the address bar therefore we are back to where we were with Fennec 🙌
Ticket can now be closed 👍
Cheers 🙂

[2022-02-04 14:08] SoftVision-LorandJanos commented on #18661
Hi @SimonDedman! Is this issue still reproducible with the latest Nightly? 98.0a1 (2022-02-04) would be today's build.
If yes, could you make a video of the microphone icon not displayed below 4.5 boxes? Thank you!
For me on all the test devices this issue is only below 2, in which case the bug mentioned above should cover this one.
Devices used:
- Samsung Galaxy Tab S3 (Android 9).
- Oppo Reno 6

[2022-02-04 14:22] #20610 closed

[2022-02-04 14:55] Alexandru2909 opened #23570 "Increase tap area for 'Show all' links"
We want to make 'Show all' buttons from home fragment touch targets larger.
This will improve the user experience for people with poor eyesight and coordination issues.

![Screenshot 2022-02-04 at 16 53 31](https://user-images.githubusercontent.com/35462038/152550002-3e7c806d-3f04-49b4-88c8-49b6d382eb75.png)

[2022-02-04 15:01] sunil9211 commented on #23551
@Mugurell can i fix this?

[2022-02-04 15:02] SoftVision-LorandJanos commented on #16085
This issue is no longer reproducible on the latest Nightly 98.0a1 (2022-02-04).
Pull to refresh works as expected.

Devices used:
- Samsung Galaxy Tab S3 (Android 9).
- Oppo Reno 6 (Android 11).
- Google Pixel 4 (Android 12).

Closing the ticket as verified fixed.

[2022-02-04 15:02] #16085 closed

[2022-02-04 15:06] LaurentiuApahideanSV commented on #23211
I can confirm the issue is reproducible on Firefox Nightly 2022-02-04.
### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android 9)

[2022-02-04 15:08] LaurentiuApahideanSV commented on #23561
I can confirm the issue is reproducible on Firefox Nightly 2022-02-04.

### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android 9)

[2022-02-04 15:21] Obscerno commented on #13336
@SoftVision-LorandJanos #2871 can probably also be closed too; this change fixes the last issue with calling bookmarklets from the bookmarks menu.

[2022-02-04 15:34] nagelfargithub commented on #21055
Tested on King Kong Mini FF 96.3.1, also still happens on Hawei 7 inch tablet, same version. Video can be found at https://www.youtube.com/watch?v=yPG4YjjEtSQ
Make sure to watch the whole thing, there is a subtle difference on the third try.

[2022-02-04 15:47] Mugurell commented on #23551
Sure! Thank you!
But can you please wait until next week? There is a bigger PR to refactor the code in flight, ready to be merged, so just to avoid conflicts.

[2022-02-04 15:49] cwzilla commented on #22692
@mcarare Please see this [Figma file](https://www.figma.com/file/sFsirFMcdI0apR50UckrZk/Metropolis-Font-Audit?node-id=0%3A1) for details.

These are areas in the app where I've found Metropolis being used, but I'm almost positive there are some edge cases I'm missing or haven't accounted for. Please let me know if there are other areas needing to be considered.

[2022-02-04 16:20] ale82to commented on #14809
unless you noticed the top sites always open in new tab come on when will this abomination be fixed ?

[2022-02-04 16:27] mcarare commented on #22692
@cwzilla Thank you, I will take a look!
At a first glance, I noticed that for

the style in Figma is Metropolis but the app has Metropolis Semi-bold. That could account for the comparison difference between screenshots here and previews on Figma.

Do you prefer I add these types of comments on Figma or on this Github issue?

[2022-02-04 16:35] cwzilla commented on #22692
I think on Figma would be better! So I can see exactly what you're referring to :)

[2022-02-04 17:31] #23565 closed

[2022-02-04 17:41] MatthewTighe opened #23574 "Delete failed wallpaper downloads."
When a failure occurs while copying a downloaded wallpaper to local storage, we may be leaving partial bitmaps around. Ensure this is not the case by deleting any files that are created by a failed download.

[2022-02-04 17:58] gabrielluong opened #23575 "Update the button colors on the home screen"
Given our ongoing adoption of the design system colors, the home screen buttons (Pocket filter chips and Customize homepage) contrast looks a bit off. We should update these buttons prior to the beta cut since they are most visible buttons in our UI.

[2022-02-04 18:24] opusforlife2 commented on #18686
Further activity has occurred.

[2022-02-04 20:16] sunil9211 commented on #23551
Okay, Sure. Thanks!

[2022-02-04 21:47] #23575 closed

[2022-02-04 21:55] plwt commented on #12113
User feedback: https://support.mozilla.org/en-US/questions/1366855

[2022-02-04 21:57] simonvanderveldt commented on #13336
Should a new issue be created for Top Sites? I assumed this used the same code as for bookmarks but that doesn't seem to be the case?

[2022-02-04 22:23] Amejia481 opened #23577 "In the wallpaper setting papge make the text description align with the start of the switch"
https://mozilla-hub.atlassian.net/browse/FNXV2-19377

[2022-02-04 22:38] danielkillam commented on #14921
Currently using Vivaldi on my tablet. Firefox sync still works better than Vivaldi's solution. Android tablet sales are picking back up, as are foldables, so FF is missing out on those potential new users by not investing in a tablet UI. These are enthusiastic users that recommend their favorite browser to other people.

[2022-02-04 22:47] Hubfront commented on #12731
I am not sure its fixed. Download and use icraven browser. Devs of Mozilla dont listen enough to users imo. Chrome is performing much better than fenix because of this memory bug.

[2022-02-04 23:31] rocketsroger opened #23580 "Investigate a better way to handle user action on history search"
Currently if the user tap on an area where there's no search results, we dismiss the keyboard and hide the toolbar.  Investigate if we can ignore the tap and keep the history search results up.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19391)

[2022-02-04 23:41] DiegoARL38 commented on #12731
I've noticed in the past week a tendency to keep up to 2 tabs in memory for a short while (current tab and an additional one), but it's quite inconsistent in both time since last accessed, and reproducibility on my Xiaomi Redmi Note 8. It has improved slightly, but not much.

[2022-02-05 00:41] Matt-17 commented on #21351
This was a very useful feature on those old versions. Long tap on home, new page, address bar was selected, start typing (or insert from clipboard) without worrying about the open tabs.
Now I click long, usually need to check if this tab is still needed, click either on new tab or address bar and start typing. Annoying and a bad user experience. Why is this not possible?

[2022-02-05 00:49] Matt-17 commented on #14571
Wow. I thought this was a bug or for later implementation. But removing this feature on desktop will make me change my browser as I use them every hour since 20 years.

[2022-02-05 00:51] klint commented on #13336
I don't think it is the same issue, assuming there is an issue with Top Sites.
The current bug does not deal with bookmarks on the home page, but only in the menu.

[2022-02-05 05:02] sunilk9211 opened #23582 "[Bug]: Issue with multiple tabs selection - showing incorrect number of selected tabs"
### Steps to reproduce

This was reproducible only sometimes, and after when there were multiple tabs (at least 2) selected, closed and Undo was done. Then if we try to select multiple tabs again it behaves inconsistently.

1. There should be multiple active tabs
2. Open tabs tray
3. Select and close at least 2 tabs in multi-select mode, tab Undo in snackbar to restore tabs
4. Without closing tabs

[2022-02-05 05:16] sunilk9211 opened #23583 "Crash: While closing multiple tabs and doing Undo - java.lang.IllegalArgumentException: Tab with same ID already exists"
### Steps to reproduce

Found this when reproducing #23582 .

1. Have multiple active tabs
2. Open tabs tray, close and Undo multiple selected tabs

### Expected behaviour

Should not cause crash.

### Actual behaviour

It's crashing.

### Device name

Xiaomi Redmi 9A

### Android version

Android 10

### Firefox release type

Firefox Nightly

### Firefox version

98.0

### Device logs

`java.lang

[2022-02-05 06:15] kloklojul commented on #16583
Why is this closed when this is still an on going Bug?

[2022-02-05 08:38] klint opened #23584 "[Bug]: wrong tab focused in tab tray with activated Search Groups"
### Steps to reproduce

I Go to Tab Settings
Activate Search grouping
Set tab tray as a list
Open multiple tabs (more than the height of the screen on the tab tray)
Open the last tab
Click on the Tab Tray button

### Expected behaviour

The focus should be on the last tab at the bottom of the list

### Actual behaviour

The focus is on the first tab in the tray

### Device name

Redmi note 7

###

[2022-02-05 08:47] 9ary commented on #16583
It's been moved to bugzilla because the bug is in geckoview, not Fenix. https://github.com/mozilla-mobile/fenix/issues/16583#issuecomment-780072691

[2022-02-05 09:44] KrasnayaPloshchad commented on #17234
This is still reproduced to me sometimes, but I believe for most people, when they suffered the crash as this, they doesn’t feedback but abandon Fenix anyway, so I hope developers find the way for fix.

[2022-02-05 11:28] Cheap-Skate commented on #12731
Devs have found at least one more [process prioritisation bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1752632) which sounds like it is fix-able. IIUC fixing this will particularly help with the problem of Fenix reloading the frontmost tab when you don't have much RAM and you swap back to Fenix after using another app, or you unlock the screen.

I think there is also at least one other bug #2

[2022-02-05 13:34] yuspensky opened #23585 "White stripe at the top of Firefox when scrolling down on OneUI"
Hi,
Short bug description:
When I open web site and scroll it down - at the very top of browser under the phone status bar - there appears thin white stripe that is not supposed to be there. When scrolling upwards - it disappears. Having white stripe to appear and disappear on black header website looks irritating to the eye.
Steps to reproduce:
1. Phone: I have Samsung s20FE with OneUI 4.0, gestu

[2022-02-05 14:05] Nickoriginal commented on #20412
Fixed in 97.1.0, thanks to @kirillaristov!

[2022-02-05 14:05] #20412 closed

[2022-02-05 14:16] yuspensky commented on #23585
Small correction: you would need to scroll web page from bottom to top (so effectively upward) to see the white stripe.

[2022-02-05 19:31] buttercookie42 commented on #18477
Bump…

[2022-02-05 19:37] 89z commented on #18477
Only workaround I know is using older version:

https://archive.mozilla.org/pub/mobile/releases/68.11.0/

[2022-02-05 20:25] fvignals commented on #23478
Yes a duplicate of https://github.com/mozilla-mobile/fenix/issues/14921 https://github.com/mozilla-mobile/fenix/issues/2344
I searched for.
In my mind: under ChromeOS (Tablet resolution and up) and Tablet Android(resolution) you should use the android engine but the computer UI (and later some adjustements) for less work.

[2022-02-05 20:59] #23389 closed

[2022-02-05 21:02] shtstorm commented on #23389
Fixed by GekoView. See comment above. Thanks @tasosb !

[2022-02-05 21:28] shtstorm opened #23588 "[Bug]: Crash @ specific Reuters URL"
### Steps to reproduce

1. Navigate to https://www.reuters.com/business/healthcare-pharmaceuticals/jj-tried-get-federal-judge-block-publication-reuters-story-2022-02-04/
2. Use either normal or PB mode
3. The URL never finishes loading. Clicking X in the browser menu to stop loading doesn't work either.
4. Browser may reload the site a few times. After waiting for a few seconds, browser crashes wi

[2022-02-05 21:56] Dakkaron commented on #1984
For some reason since the last update ,Firefox seems to be randomly switching between full immersive mode and no immersive mode, even though I disable the scroll to hide status bar feature.

[2022-02-06 00:02] mduchev commented on #20750
Still there.

[2022-02-06 00:05] #16395 closed

[2022-02-06 07:15] Cheap-Skate commented on #23584
Duplicate of #21705??

[2022-02-06 07:19] sunil9211 opened #23590 "Missing translation for Hindi language"
### Steps to reproduce

Wallpapers screen and some other screens have strings which don't have translation in Hindi.

<img src="https://user-images.githubusercontent.com/36289013/152670422-75f8f964-2fed-478b-93c2-a6bd6026b98e.jpg" width="30%" height="30%">

<img src="https://user-images.githubusercontent.com/36289013/152670426-b7cfd92c-3f6a-411d-b775-e883aa885fe0.jpg" width="30%" height="30%">

<i

[2022-02-06 07:28] sunil9211 commented on #23590
I would like to add these translations. Can someone assign this issue to me please?

[2022-02-06 08:49] klint commented on #23584
Quite possible, but this one provides a more specific context when both issues happens : only when search is grouped.

[2022-02-06 08:56] robovoice1 commented on #23590
https://pontoon.mozilla.org/hi-IN/
https://pontoon.mozilla.org/hi/

I cannot assign you, but for localization moz, pontoon  is used.

[2022-02-06 09:27] sunil9211 commented on #23590
Thank you @robovoice1 :slightly_smiling_face:

[2022-02-06 09:33] #23590 closed

[2022-02-06 09:45] sunil9211 commented on #23590
@robovoice1 Hi. Can you please tell me how to join the teams on Pontoon. The mailing list links given in Info section are not working (Error 404).

[2022-02-06 10:09] #20614 closed

[2022-02-06 10:37] robovoice1 commented on #23590
Just create a mozilla account, log in pontoon, search for a moz project you want to translate, start translating the strings.
For questions/issues/feedback/faq/help please take a look at discourse.
https://discourse.mozilla.org/c/pontoon/258
https://discourse.mozilla.org/c/l10n/547

Hope this helps.

[2022-02-06 10:39] sunil9211 commented on #23590
Okay. Thank you.

[2022-02-06 16:27] OlliKn commented on #23588
Does *not* load on ecosia (chromium) and duckduckgo.
But no crash but a message the Page could not be loaded.

[2022-02-06 18:07] ale82to opened #23594 "[Bug]: push notifications stopped working"
### Steps to reproduce

I tried both nighlty and stable Firefox from playstore but push notification stopped working today(until yesterday everything was fine ).
looking at logcat fenix (stable )show this error Native push layer is not yet initialized.
is some kind of server shortage on mozilla side ?
since I ve got root i ve looked in data directory and fenix stable is not even generating pysh.sq

[2022-02-06 20:31] robovoice1 opened #23595 "[Bug]: New Tab or plus symbol does not open a new tab"
### Steps to reproduce

Open a website in Firefox nighty mobile android
Choose new tab
Select a bookmarked website
Result is: chosen website opens in the old tab, and not in a new one.

### Expected behaviour

After selecting new tab or plus symbol and after selecting a bookmarked website a new tab opens up.

### Actual behaviour

Tapping on new tab or the plus symbol does not open a new tab after

[2022-02-06 22:27] TrianguloY commented on #23522
In case you want other instant app for testing, I have an experimental one to launch any intent.

[https://trianguloy.github.io/intent/#Intent;action=android.intent.action.SEND;type=text/plain;S.android.intent.extra.TEXT=test;end](https://trianguloy.github.io/intent/#Intent;action=android.intent.action.SEND;type=text/plain;S.android.intent.extra.TEXT=test;end)

This link for example should ask you

[2022-02-06 23:09] sarah541 opened #23596 "Deeplink to wallpaper settings"
## User Story
 - Jira link https://mozilla-hub.atlassian.net/browse/FNXV2-18850

## Dependencies
- No dependencies

### Acceptance Criteria
- As a user when I click a link in the blog post I am taken directly to the wallpaper settings

[2022-02-07 01:06] neekless commented on #16583
The priority seems strangely low for this issue. It's been quite some time and you're breaking standard Android behavior.

[2022-02-07 06:52] SoftVision-LorandJanos commented on #20741
This issue is still reproducible on the latest Nightly (2022-02-07).
Tested with an Oppo Reno 6 (Android 11).

[2022-02-07 07:00] AndiAJ opened #23598 "Intermittent UI test failure - < SettingsPrivacyTest.openWebsiteForSavedLoginTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/4814510738335819784/executions/bs.65025b799dc82622/testcases/1/test-cases)
### Stacktrace:
java.lang.NullPointerException: Attempt to invoke virtual method 'void androidx.test.uiautomator.UiObject2.click()' on a null object reference
	at org.mozilla.fenix.

[2022-02-07 07:01] AndiAJ commented on #17485
Flaky 1x on 2/4 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6456839195868104357/executions/bs.c89b48e82fd8358e/testcases/1/test-cases)

[2022-02-07 07:05] AndiAJ opened #23599 "Intermittent UI test failure - < TabbedBrowsingTest. verifyOpenTabDetails >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6754973813092881501/executions/bs.1c45b3fb5d5b9ee3/testcases/1/test-cases)
Provide a Firebase test run report link here showcasing the problem
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTru

[2022-02-07 07:06] AndiAJ commented on #23358
Flaky 1x on 2/5 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6754973813092881501/executions/bs.f062a5071af6b4c2/testcases/1/test-cases)

java.lang.AssertionError
at org.junit.Assert.fail(Assert.java:87)
at org.junit.Assert.assertTrue(Assert.java:42)
at org.junit.Assert.assertNotNull(Assert.java:713)
at org.junit.Asser

[2022-02-07 07:08] AndiAJ opened #23600 "Intermittent UI test failure - <SettingsPrivacyTest.saveLoginsInPWATest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7658662710156948555/executions/bs.aac6376e8f1acb83/testcases/1/test-cases)

### Stacktrace:
androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[CLASS=android.widget.EditText, INDEX=0, PACKAGE NAME=org.mozilla.fenix.debug, RESOURCE_ID=username]

[2022-02-07 07:09] AndiAJ commented on #23434
Flaky 1x on 2/5 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7083929490654417210/executions/bs.3735a9822531e22/testcases/1/test-cases)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[CONTAINS_DESCRIPTION=Resume, RESOURCE_ID=android:id/action0]
at androidx.test.uiautomator.UiObject.click(UiObject.java:

[2022-02-07 07:31] SoftVision-LorandJanos commented on #20761
This is still reproducible.
The voice input language is still not configurable.

[2022-02-07 09:11] ispysoftware commented on #19986
this is still broken

[2022-02-07 09:46] LaviniaL99 commented on #21055
Hello @nagelfargithub

Thanks for your video, i followed the same flow as per you video but i'm still not able to reproduce the issue.

[2022-02-07 10:07] Alexandru2909 commented on #22663
The issue should not reproduce on Release now, can QA check this?

[2022-02-07 10:30] Cheap-Skate commented on #23595
You can long press a bookmark and select "open in new tab" if that helps?

[2022-02-07 11:18] robovoice1 commented on #23595
Your described way works, but for what is the "new tab" or the "+" function, when it opens the site in the same (already open) tab  i am wondering.
![Screenshot_20220207-120800](https://user-images.githubusercontent.com/92784377/152778004-de5aa3cf-61b4-4c1e-88a9-4183c87e78b4.png)
![Screenshot_20220207-120819](https://user-images.githubusercontent.com/92784377/152778073-e0a7896f-3360-4ef0-a34d-8439

[2022-02-07 11:28] Cheap-Skate commented on #23595
There is a whole mega thread on this issue, see #20012. I think everyone is pretty confused.

Recently @czlucius changed the default behavior of Bookmarks, see #13336, which has definitely made some users happy, probably made some unhappy, but has not reduced the overall confusion about what "New Tab" means.

[2022-02-07 11:55] robovoice1 commented on #23595
Thanks for pointing this out !

It is not a bug, it is a feature. ;-)
Imho
This creates more confusion than improving the tab managment (including mislabeling)

[2022-02-07 12:01] Cheap-Skate commented on #23595
I think @czlucius is doing us all a big favour with his patches, he is highlighting the confusing and unorthodox New Tab behavior. Hopefully UI devs will take notice and do something more fundamental to make it less confusing and more like other browsers.

[2022-02-07 12:15] robovoice1 commented on #23595
Ok, closing this "bug".

[2022-02-07 12:15] buttercookie42 commented on #20666
I'm not seeing the entirely duplicated results as above any more, but as alluded to in [bug 1670279](https://bugzilla.mozilla.org/show_bug.cgi?id=1670279) above, I'm still getting superfluous history results for all the intermediate redirects.

I.e. after visiting `reddit.com/r/random_subreddit` and closing that tab again, typing `reddit.com/r/random_subreddit` into the URL bar gives me results fo

[2022-02-07 12:16] czlucius commented on #23595
@robovoice1 I think this is still an issue, you may re-open it.
Thanks!

[2022-02-07 12:31] SoftVision-LorandJanos commented on #20710
Hi @jeedaiian! There's a detail in your issue that I can reproduce on the latest Nightly 98.0a1 (2022-02-07), but it goes away with a workaround:
After confirming the pairing there's a step on desktop to approve the device.
After the approve the devices sync, but going back to menu, "Sign in to sync" is displayed as you described.
When you tap on that it shows you the sync was successful, and goin

[2022-02-07 13:05] gaul opened #23602 "Scroll to top navigation element"
When reading long articles, sometimes I want to scroll to the top to use the site navigation elements or title and author.  This requires "rage scrolling", or repeated long top-to-bottom swipes, to accomplish.  I would like to add an element to the hamburger menu that allows doing this in two taps.  This is similar to hitting "Home" on a desktop computer.

A  more generalized version of this would

[2022-02-07 13:07] Nonius commented on #18368
I've upgraded to Android 12, Firefox 96.3.1, still Samsung Galaxy note 10+, and it still doesn't work.

[2022-02-07 13:34] SoftVision-LorandJanos commented on #20667
This is still repeoducible.
The "Quit" button is on the bottom of the menu.
Checked on the latest Nightly 98.0a1 (2022-02-07) using an Oppo Reno 6 with Android 11.

[2022-02-07 13:39] Mugurell commented on #20668
Seeing that there is a PR open for this let's check with @grigoryk whether these probes are needed or the ticket can be closed.

[2022-02-07 13:48] SoftVision-LorandJanos commented on #20563
Hi @Miteirao! I couldn't reproduce this issue on the:
- latest Nightly 98.0a1 (2022-02-07).
- latest Beta (97.0.0-beta6).
- latest Release (97.1.0).

Device used: Oppo Reno 6 (Android 11).

Could you check if you reproduce your issue with the latest builds? Thank you!

[2022-02-07 14:32] sherip99 commented on #23548
https://github.com/mozilla-mobile/fenix/issues/23548#issuecomment-1029293802

[2022-02-07 14:35] Amejia481 commented on #20741
cc @agi @jonalmeida

[2022-02-07 14:46] LaurentiuApahideanSV commented on #23585
I can confirm the issue is reproducible on Firefox Preview Nightly 2022-02-07. The issue has also been reported here: https://bugzilla.mozilla.org/show_bug.cgi?id=1734261. I will close this issue as it will be handled there.
### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android 9)

[2022-02-07 14:46] #23585 closed

[2022-02-07 14:46] sherip99 commented on #23548
@mcarare hope you've seen my posted pics in lieu of a screen recording. Can't view Firefox saved passwords except after removing device lock protection altogether.

[2022-02-07 15:01] LaurentiuApahideanSV commented on #23584
I can confirm the issue is reproducible on Firefox Nightly 2022-02-07.

### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android 9)

[2022-02-07 15:06] sherip99 commented on #23548
@mcarare Keyboard input doesn't appear in any form on that control. The "continue" option is never available. I did have to enter the pin on the device in order to remove the pin, but it the input control was different.

[2022-02-07 15:08] AndiAJ opened #23604 "Intermittent UI test failure - < SitePermissionsTest.blockAppUsingMicrophoneTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5206032764723390829/executions/bs.a7bd048433c8293d/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError: Page didn't load or doesn't contain the expected text
	at org.junit.Assert.fail(Assert.java:89)
	at org.junit.Assert.assertTrue(Assert.java

[2022-02-07 15:09] AndiAJ opened #23605 "Intermittent UI test failure - < CollectionTest.navigateBackInCollectionFlowTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5206032764723390829/executions/bs.1b86137cbde63775/testcases/1/test-cases)
### Stacktrace:
androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: (with res-name that is "browserLayout" or with res-name that is "download_butto

[2022-02-07 15:28] sherip99 commented on #23548
@mcarare Looked again at the dialog they show for collecting the Pin for changing lock screen protection. It specifically asks for the Pin and presents a numerical keyboard to type it in. Pin is not the only option. Perhaps Firefox needs to ask for right type of input dialog to be shown.

[2022-02-07 15:56] Mugurell commented on #22012
The issue here is that once entering private mode that is set across the app so all color resources and even app features will function as needed for private mode.
In this case we are seeing the colors used for the private theme which are applied all throughout the app, eg: for dialogs also.

https://user-images.githubusercontent.com/11428869/152823448-644b6a2e-1ed4-49eb-a8eb-494a6f6a3f12.mov

Sho

[2022-02-07 16:00] maverick74 commented on #23595
The problem is not the new behavior if you ask me!

@czlucius Indeed did us a big favor and as @Cheap-Skate said the long-press shows the option to open in a new tab!!!

However, user is surely confused by the "new tab" button as it expects to have a new tab when it presses it (like in Firefox desktop). The problem is the original design where the "new tab" does not open a "new tab"

So, the bug i

[2022-02-07 16:03] delia-pop opened #23608 "[Bug]: The logo animation is not displayed right after a fresh install or update"
### Steps to reproduce

1. As a new user, install and launch Firefox Browser app.
2. Dismiss the Onboarding screen.
3. From the homepage, observe the logo.
 OR
1. As an existing user, update and launch Firefox Browser app.
2. From the homepage observe the logo.

### Expected behaviour

As a new user, after dismissing the onboarding and landing on the homepage, the Firefox logo displays an animatio

[2022-02-07 16:07] SoftVision-LorandJanos commented on #19760
This issue is no longer reproducible on the latest builds with the following devices:
- Google Pixel 4 (Android 12).
- Oppo Reno 6 (Android 11).
- Samsung Galaxy Tab S3 (Android 9).
- LG Nexus 5 (Android 6.0.1).

Verified on the following builds:
- latest Nightly 98.0a1 (2022-02-07).
- latest Beta (97.0.0-beta6).
- latest Release (97.1.0).

Closing the tiket as fixed.

[2022-02-07 16:07] #19760 closed

[2022-02-07 16:17] kuro68k commented on #14806
Can confirm it's still there in 98.0a1 build #2015861643 (nightly). Affects many other sites too.

Font size is more reasonable if Accessibility->Automatic font sizing is enabled. When disabled and the font size setting set to maximum, the text on some web pages is still too small to read comfortably and the setting appears not to work on Pixel devices (confirmed on Pixel 5 and Pixel XL).

[2022-02-07 16:17] maverick74 opened #23609 "[Bug]: Opening a Top Site from URL bar should load it in the present tab"
### Steps to reproduce

Open any web page.
Press the URL bar to open the home screen
Press a Top site

### Expected behaviour

it should load the top site in the current webpage (substite the current page by the top site) with the possibility to long-press the top site and choose to open it in a new tab (like in bookmarks)

### Actual behaviour

The Top Site loads in a new tab

### Device name

_N

[2022-02-07 16:22] kbrosnan commented on #23534
This is intentional.

[2022-02-07 16:22] #23534 closed

[2022-02-07 16:25] maverick74 commented on #20012
This is probably close related to #23609

[2022-02-07 16:34] kbrosnan commented on #23609
Duplicate of https://github.com/mozilla-mobile/fenix/issues/20012

[2022-02-07 16:36] kbrosnan commented on #23595
Duplicate of https://github.com/mozilla-mobile/fenix/issues/20012 then.

[2022-02-07 16:36] #23595 closed

[2022-02-07 17:03] fprietog commented on #23132
IMHO this is a nasty bug because affects to a intensive used function; full screen video playing.

I don't understand why this bug, that was discovered during testing of version 97, is going to be solved in version 98 instead of 97. Now we have the bug in the stable version probably for a whole releasing cicle... I think it shuold be backported.

Thanks and best regards.

[2022-02-07 17:03] DavidJCobb commented on #20737
This happens to me rarely, and usually when I'm opening and closing several tabs during a browsing session.

[2022-02-07 17:22] DavidJCobb opened #23611 "[Bug]: In private browsing, state for a website should not be cleared if all tabs for that site unload due to memory pressure."
### Steps to reproduce

Install the Video Background Play Fix add-on.

Go to YouTube and switch to Desktop Mode. Set the site theme to Dark Mode (changing from "device theme"), and then switch back to mobile mode. The mobile site should now display in a dark theme. (You need to explicitly pick the dark theme even if the desktop site is already dark. The desktop site respects your "dark by default"

[2022-02-07 17:28] robovoice1 commented on #23595
If you leave this "as is", it will surely generate two more waves of endless discussions (beta, stable release)

I propose renaming new tab to open in same tab
and/or a selection (based on the use case and smartphone low/mid/top of the fenix user)
Same tab  (low/midrange smartphone users can use this)
New tab    (which actually starts a new clean tab for top smarthones)

My two cents :-)

[2022-02-07 17:48] jonalmeida commented on #2871
Requesting QA verification since this is fixed indirectly by https://github.com/mozilla-mobile/fenix/issues/13336.

[2022-02-07 17:58] robovoice1 commented on #20012
For future feature releases it would be a good idea to make sure the strings in fenix actually match and describe what the new feature function actually really does.
(New Tab)

For decades no matter what operating system or word processing program/app or browser(s) and so on....
New Tab opens a seperate new tab
New File/document opens a new empty text, doc file.

[2022-02-07 18:02] DavidJCobb opened #23612 "[Bug]: Long-pressing on text in a textarea should not only select text, but also open the on-screen keyboard"
### Steps to reproduce

1. Install Google Keyboard.
2. Go to reddit's mobile site while logged in, and begin to write a comment. Type some text, but do not submit the comment.
3. Unfocus the comment textbox, e.g. by tapping a non-interactive page element.
4. Long-press on a word or phrase in the comment textbox to select it.

### Expected behaviour

The textbox should receive focus, the text shoul

[2022-02-07 18:03] jonalmeida commented on #20741
This works for me some times. I think it might be web compat though or just a web app that has some bugs - there is nothing that signifies it's GV related.

<img width="479" alt="Screen Shot 2022-02-07 at 12 57 47 PM" src="https://user-images.githubusercontent.com/1370580/152845140-da18d04a-f116-435a-a90a-8250e23e852b.png">

[2022-02-07 18:05] LaurentiuApahideanSV commented on #23588
I tested the issue on Firefox Preview Nightly 2022-02-07 but was unable to reproduce it.
### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus (Android 9)

[2022-02-07 18:09] DavidJCobb opened #23613 "[Bug]: a window.prompt call in a bookmarklet should auto-focus the text input, and should open the on-screen keyboard"
### Steps to reproduce

Add a bookmark with the following URL. This bookmarklet allows rapid access to a subreddit by name, optionally taking a view (e.g. new, top, hot) as well.
[code]

Open the bookmarklet via the Bookmarks menu.

### Expected behaviour

The bookmarklet displays a text prompt. The text entry widget receives focus automatically, and the onscreen keyboard appears.

### Actual beha

[2022-02-07 18:16] maverick74 commented on #20012
I agree with @robovoice1

going to home screen from URL bar should load top sites in present page
But going to home screen from new tab should load it in a new tab because that's what the user expects

[2022-02-07 18:35] mobd commented on #20546
This is still reproducible

[2022-02-07 18:44] ahal opened #23614 "Exception when running taskgraph generation locally with default parameters"
If you install the `taskcluster-taskgraph` package and run e.g:
[code]
an exception is raised because we don't specify default values for some of Fenix's custom parameters. A workaround for this issue is to run:

[code]
instead. Fixing this will involve bumping Fenix up to the latest version of taskgraph.

[2022-02-07 19:03] jonalmeida opened #23616 "NullPointerException: Could not load wallpaper bitmap. Resetting to default."
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/17760430/?referrer=github_plugin

[code]

cc: @Amejia481 @MatthewTighe

[2022-02-07 19:05] #17756 closed

[2022-02-07 19:31] kbrosnan commented on #22432
Looks like this is going to be handled on the GV side. Closing in favor of that bug.

[2022-02-07 19:31] #22432 closed

[2022-02-07 19:38] kbrosnan commented on #23612
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1754043

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-02-07 19:38] #23612 closed

[2022-02-07 19:48] kbrosnan commented on #23588
@shtstorm please provide crash IDs or a logcat of the crash https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information

[2022-02-07 19:48] cpeterso opened #23618 "Fenix shouldn't show "Set as default browser" button if it's already the default browser"
When I started Fenix Nightly today, its homepage had a tile asking me to set it as my default browser ("Set as default browser"). But Fenix Nightly is already my default browser!

@jonalmeida says Fenix should be able to check whether it's already set as the default app.

AC has code to query the default browser, but it might require some legacy permissions: [[https://github.com/mozilla-mobile/and

[2022-02-07 19:58] kbrosnan commented on #23548
Seems similar to https://github.com/mozilla-mobile/fenix/issues/22464

[2022-02-07 20:00] #23616 closed

[2022-02-07 20:14] jonalmeida opened #23619 "Do not use simpleName to construct a URI in wallpapers"
`simpleName` is not a safe value to use for constructing a URI.

https://github.com/mozilla-mobile/fenix/blob/b7b601eee1580bfb21a32e253e58b7eae016a31e/app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt#L76-L78

We've had this bug before where the platform underneath can change the output of what we expect `simpleName` to be.

See: https://github.com/mozilla-mobile/fenix/issues/2

[2022-02-07 20:30] Amejia481 commented on #23608
We want to show the animation in a time when the user is less distracted

[2022-02-07 20:40] ojedaclaudio opened #23620 "The website not working correctly"
Hi.
I have a problem with the website: bbva.com.ar
The web page does not load, leaving a blank page.  sometimes it loads, after a long time and with many errors (images, menus, etc.
It only happens with the app on Android, in the Windows browser it works correctly.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19418)

[2022-02-07 21:14] MatthewTighe commented on #23619
Thanks for pointing this out! I'll put up a patch shortly

[2022-02-07 21:45] jdragojevic commented on #23078
If you are not able to access the associated gmail account to validate the sign-in attempt, then you are not going to be able to sign in.  This should be wontfix unless there's something else going on that's not obvious to me.

[2022-02-07 21:55] Amejia481 commented on #23618
Maybe this could be a regression from https://github.com/mozilla-mobile/fenix/commit/82a6f8cae411603ba5abced3b13fc43ca40f335e,  my nightly also shows the set to default browser banner on the home screen even though it's already the default browser.

cc @jhugman

[2022-02-07 22:02] #23309 closed

[2022-02-07 22:02] #23596 closed

[2022-02-07 22:26] Archaeopteryx opened #23622 "Intermittent debug(T) test failure - GIVEN account exists and the user is signed in WHEN sign in to sync menu item is pressed THEN navigate to account settings"
### Firebase Test Run:
https://treeherder.mozilla.org/logviewer?job_id=366996233&repo=fenix
### Stacktrace:
[code]
### Build:
https://github.com/mozilla-mobile/fenix/commit/b7b601eee1580bfb21a32e253e58b7eae016a31e

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19420)

[2022-02-07 22:45] Amejia481 commented on #23618
This is what we use for checking on [Fenix](https://github.com/mozilla-mobile/fenix/blob/82a6f8cae411603ba5abced3b13fc43ca40f335e/app/src/main/java/org/mozilla/fenix/utils/Settings.kt#L334)  that internally uses [AC](https://github.com/mozilla-mobile/android-components/blob/main/components/support/utils/src/main/java/mozilla/components/support/utils/Browsers.kt#L135-L140).
But the value that we ar

[2022-02-07 23:14] CaFI0 opened #23623 "Moving the tabs makes them feel sluggish or freeze for a few moments"
https://user-images.githubusercontent.com/77524578/152887430-bf7e9392-7b51-4ffd-aeac-6213b7b525bb.mp4

## Steps to reproduce
1.Open the tab panel
2.Select a tab
3.Move the tab anywhere

### Expected behavior
That the tabs could be moved without any problem

### Actual behavior
They constantly get frozen

### Device information

* Android device: 10
* Fenix version: 98.0a1 (Build #2015861737)

┆Iss

[2022-02-07 23:23] Amejia481 commented on #22012
Agree, after we migrated to compose we will have more control over themes per components.

[2022-02-07 23:26] #23619 closed

[2022-02-08 00:16] rocketsroger opened #23626 "History search should not show lock icon"
### Steps to reproduce

1. Type in search term in history search.
2. Hit enter/next on keyboard.

### Expected behaviour

Nothing should happen, toolbar should stay in edit mode.

### Actual behaviour

Toolbar switched to display mode and history icon is changed to a lock icon.

### Device name

_No response_

### Android version

Android 10

### Firefox release type

Firefox Nightly

### Firefox

[2022-02-08 00:51] geneukum commented on #9879
@ekager I’d be happy to take a look at this issue.

[2022-02-08 01:40] #23626 closed

[2022-02-08 02:17] ICHx opened #23628 "[Bug]: cannot play Facebook watch video"
### Steps to reproduce

1. Join a Facebook watch Livestream
https://m.facebook.com/icable.news/videos/%E8%A1%8C%E6%94%BF%E9%95%B7%E5%AE%98%E6%9E%97%E9%84%AD%E6%9C%88%E5%A8%A5%E6%99%A4%E5%82%B3%E5%AA%92/499179788260622/?_rdr
2. Try to play
3. Disable addon and privacy protection and try again

While Livestream cannot play, normal video can.

### Expected behaviour

The livestream should play

### A

[2022-02-08 03:46] #23540 closed

[2022-02-08 04:18] sunilk9211 opened #23630 "Open existing tab instead of new one if website address is exactly same"
### Steps to reproduce

https://user-images.githubusercontent.com/36289013/152916447-9f1d0ef0-64a7-4c6e-86b2-5e875105311e.mp4

1. Open any website link
2. Go back to home screen
3. Again open the same website link

### Expected behaviour

If a tab already exists with exactly same address, then that should open, not a new tab.
User might end up having several tabs of the same web address.

### Actu

[2022-02-08 05:13] hazardphotos opened #23631 "[Bug]: Download Notifications Dissapear Randomly on Android 11"
### Steps to reproduce

Download a file
The download notification appears that illustrate that your download is in progress.
Randomly these notifications "disappear" and cannot be found again
This makes it difficult to determine whether a download has been completed or not.
This behaviour occurs with both small downloads (30mb) or large (2gb) downloads.

### Expected behaviour

It should be possib

[2022-02-08 06:52] robovoice1 opened #23632 "[Bug]: Secret Settings not translated in selected de language"
### Steps to reproduce

1. Open Fenix browser
2. Go to settings/about Firefox nightly
3. Tap 5 times on the firefox logo to enable secret settings
4. Change to german language
5. Result is: Secret settings, Secret debug info, nimbus experiments are in english

### Expected behaviour

Fully translated Firefox nightly.
On pontoon everything is translated 100%

https://pontoon.mozilla.org/de/

### Ac

[2022-02-08 07:29] cadeyrn commented on #9879
@geneukum: ekager no longer works for Mozilla. But since nobody worked on this issue in the last almost two years, I am sure that nobody will complain if you will have a look. 😊

[2022-02-08 07:36] AndiAJ commented on #23434
Flaky 1x on 2/7 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8112883617846183996/executions/bs.3a308768088b1291/testcases/1/test-cases)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[CONTAINS_DESCRIPTION=Resume, RESOURCE_ID=android:id/action0]
at androidx.test.uiautomator.UiObject.click(UiObject.java

[2022-02-08 07:38] AndiAJ commented on #20973
Flaky 1x on 2/8 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5678571608136217424/executions/bs.941a4c47f3dd0206/testcases/1/test-cases)

[2022-02-08 08:34] Mugurell commented on #15160
@minas1 Are you still interested in finishing the work here? Need any help?

[2022-02-08 08:36] SoftVision-LorandJanos commented on #22663
Verified with the same example.
Fixed on the latest Nightly 98.0a1 (2022-02-08).
Closing the ticket as fixed.
![Screenshot_2022-02-08-09-04-18-36_984e1414ae90666a90f12ff17ec14a7f](https://user-images.githubusercontent.com/48829350/152948907-64da4aab-0e16-46d0-9f8c-ec52e899aa57.jpg)

[2022-02-08 08:36] #22663 closed

[2022-02-08 08:36] Mugurell commented on #23104
This seems to be fixed.

[2022-02-08 09:20] sunilk9211 opened #23635 "[Bug]: For random History item(s) delete icon is still visible in Multiple selection mode"
### Steps to reproduce

1. Open history (Make sure there are enough items in list, maybe above 15)
2. Long click to select any random item
3. Check the delete icon should not be visible for any item

https://user-images.githubusercontent.com/36289013/152956307-0c7eded6-63db-45d2-9766-a392cadb5453.mp4

### Expected behaviour

 The delete icon should not be visible for any history item in multiple s

[2022-02-08 09:40] Alexandru2909 opened #23636 "Unfocus keyboard to access homepage"
As a user, I'd like the keyboard to be dismissed when I click or scroll on the homepage underneath, so that I can access the new sections on the homepage, the tabs tray, and settings menu.

- When the search bar is focused and keyboard is up with the homepage behind it, clicking on blank space on the homepage dismisses the keyboard and unfocuses the search bar

- When the search bar is focused and

[2022-02-08 10:26] sunilk9211 commented on #23635
Please, can someone assign this to me?

[2022-02-08 10:55] LaviniaL99 commented on #21502
The issue was verified on the latest Nightly build-> 98.0a1  and i was able to reproduce it.

**Devices used:**
- Samsung S10E -> Android 10

[2022-02-08 11:26] marcel263 commented on #20804
Still relevant.

[2022-02-08 11:39] SoftVision-LorandJanos commented on #23104
Verified as fixed on the latest Nightly 98.0a1 (2022-02-08) using the following devices:
- Xiaomi Mi11 Lite (Android 11) - as the closest to the one this issue was reproduced on.
- Oppo Reno 6 (Android 11).
- Samsung Galaxy Tab S3 (Android 9).
- LG Nexus 5 (Android 6.0.1).

Tested on the build on which the issue was reproduced, as well: Nightly 97.0a1 (2022-01-07), before and after clearing data.

[2022-02-08 11:39] #23104 closed

[2022-02-08 12:02] delia-pop commented on #23558
Verified as fixed on the latest Nightly build from 02/08 with Huawei MediaPad M2 (Android 5.1.1).

![Screenshot_2022-02-08-13-55-13](https://user-images.githubusercontent.com/89388888/152983170-7d5d3d5d-aa13-4885-a7cf-3526dbe32f16.png)

[2022-02-08 12:04] SoftVision-LorandJanos commented on #2871
Verified as fixed on the latest Nightly 98.0a1 (2022-02-08) using the examples mentioned in this comment.
Device used: Oppo Reno 6 (Android 11).
Closing the ticket as fixed.

[2022-02-08 12:05] marcel263 commented on #23631
Good day,

Does it also happen when the usage of Nightly?
do you have disabled  battery optimization for both Beta and Nightly?
Does it coincide with loading Firefox through other apps with the Custom Tabs feature? It is a known bug when closing the Custom Tabs, the download stops #20444

To close, what is shown in the Download screen from the three-dot menu?

[2022-02-08 12:28] Mugurell commented on #23582
The video helped greatly in reproducing the issue with putting the app in background, thank you!
Curious about any other details for the first scenario or how easy it is to reproduce it - is there a number of tabs needed, maybe some fast action? Just closing and then restoring tabs doesn't seem buggy for me.

[2022-02-08 12:44] #23492 closed

[2022-02-08 13:23] ohhai commented on #18096
Still happens on latest stable 96.3.1, build #2015860775
I did search for "transferwise fee" and FF substituted "transformation.org.ua" since both start with "transf":

![photo_2022-02-08_02-20-39](https://user-images.githubusercontent.com/3885783/152995329-a7d90a2e-6aab-480c-829a-3b4ea8aa0c33.jpg)

[2022-02-08 13:25] ohhai commented on #21422
Still happens on 96.3.1:  https://github.com/mozilla-mobile/fenix/issues/18096#issuecomment-1032604884

[2022-02-08 13:26] ohhai commented on #18096
@LaurentiuApahideanSV  seems like I can't reopen this because it was closed not by me.

[2022-02-08 13:30] LaurentiuApahideanSV commented on #23632
I can confirm the issue is reproducible on Firefox Nightly 2022-02-08.
### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android 9)

[2022-02-08 13:49] sv-ohorvath commented on #23605
Looks like https://github.com/mozilla-mobile/fenix/issues/22316

[2022-02-08 13:50] sv-ohorvath commented on #22316
This is still affecting a lot of UI tests (see issue mentions linked).

[2022-02-08 14:03] sunilk9211 commented on #23582
Sometimes it happens when we do in a fast way. Means open tabs tray and immediately start selecting. At this point, for some random selected tab the selected drawable (tick mark) may disappear(like in the video for 2nd scenario).
Yes this was not easy to reproduce. if i could reproduce this i will share recording.

[2022-02-08 14:22] sunilk9211 commented on #23582
This may help - https://user-images.githubusercontent.com/36289013/153005180-99e74531-9f4f-4d62-ae08-6bc3f79a0e80.mp4
Also was able to record the crash, but the video size is large not able to upload

[2022-02-08 14:28] klint commented on #23630
Is that the default behavior on desktop? Not sure

[2022-02-08 14:44] sunilk9211 commented on #23630
Yes

[2022-02-08 15:01] Mugurell commented on #23583
This should be rechecked after https://github.com/mozilla-mobile/fenix/pull/23435 which seems to address the same underlying issue.

[2022-02-08 15:01] Mugurell commented on #23582
This should be rechecked after https://github.com/mozilla-mobile/fenix/pull/23435 which seems to address the same underlying issue.

[2022-02-08 15:53] Amejia481 commented on #23563
Addressed on https://github.com/mozilla-mobile/fenix/commit/e290bc1bd6c4a9e3185e8f0bf9ffb433d378620d

[2022-02-08 16:10] klint commented on #23630
yeah I see what you mean, but any url will open in the current tab on desktop : it's not linked to the URL being the same or not.

[2022-02-08 16:22] koehlermichael commented on #23632
Of note, these strings don’t seem to be available on Pontoon right now.

[2022-02-08 16:52] sunilk9211 commented on #23630
If i have a bookmark, i will be probably clicking on it in home screen everytime i want to open it.
That opens a new tab.
Now after visiting that website, if go back to home screen or back press. That tab will remain open.
Again i open bookmarked website, again i get new tab.
What if there is an option to enable opening any website in same tab(home screen) and if back press is clicked it gets back

[2022-02-08 17:40] hazardphotos commented on #23631
Just to confirm that this issue does NOT appear on the latest Android
nightly as of today 8th Feb 2022

Version 98.0a1 (Build #2015862123), d1b3c4979+

So i will stay on these for a while !

Many Thanks for your kind reply.

On Tue, 8 Feb 2022, 12:05 marcel263, ***@***.***> wrote:

[2022-02-08 18:11] RC-3 commented on #8252
Still broken. Observed on YouTube [video](https://www.youtube.com/watch?v=yxNw1bgH4dQ) with a 4:3 aspect on a phone (Pixel) with a 20:9 aspect. The video fills from the left to right edge, cropping off the bottom half.
Tested with FF Android 96.3.1, FF Focus Android 96.3.1, and FF Nightly Android 98.0a1. Works on Chrome for Android.

Workaround: create a custom addon [collection](https://blog.mozi

[2022-02-08 18:18] LaurentiuApahideanSV commented on #23022
I can confirm the issue is reproducible on Firefox Nightly 2022-02-08.

### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android 9)

[2022-02-08 18:45] koehlermichael commented on #23632
Interesting point, thanks, I didn’t realize that.

[2022-02-08 18:47] robovoice1 commented on #23632
Same here, and thanks for the info
@cadeyrn and @koehlermichael

[2022-02-08 20:56] jonalmeida commented on #23265
Yeah, this probably is.

[2022-02-08 21:40] plwt commented on #21978
User feedback: https://support.mozilla.org/en-US/questions/1367247

[2022-02-08 21:45] #23526 closed

[2022-02-08 22:42] joshtriplett commented on #8252
I can confirm that as well. Widescreen videos seem to work, but 4:3 videos or other videos with unusual aspect ratios don't.

[2022-02-08 22:51] jdragojevic commented on #22895
We have a desktop bug fix in Fx98 + SYNC-3018 landing in Fenix 99 - this should be able to be retested - with those versions.

[2022-02-08 23:48] MatthewTighe opened #23644 "Wallpapers do not switch their version based on orientation when changed"
Steps to reproduce:

1. Navigate to wallpaper settings screen
2. Rotate device

Expected Results:

Wallpapers thumbnails switch their image based on orientation

Actual Results:

Wallpaper thumbnails continue using image based on their original orientation

[2022-02-09 01:59] heavyrocks opened #23646 "Smooth scroll activated position issue"
## Site with issue and any steps to reproduce
[Test.bookthewaxroom.com](http://test.bookthewaxroom.com)
### Expected behavior
On page anchor links always scroll page so anchor is at top of page.
### Actual behavior
Clicking a link that is above or visible in the viewport works correctly. If the anchor is below the viewport the page will scroll until the bottom of the anchor element is at the botto

[2022-02-09 02:03] sergioad opened #23647 "Bookmark sorting"
Hello everyone, could you please add an option in the bookmarks menu to manually sort bookmarks by dragging them?

### What is the user problem or growth
This would allow people without Firefox for PC or without a PC to sort new bookmarks

### How do you know that this problem exists
Since the older code base

### Who will benefit from it?
Everyone

[2022-02-09 02:09] somewhat-heavy-rocks commented on #23646
Here is a link to a video showing the behavior.

https://drive.google.com/file/d/1lYMhZVJglOG8EXg-BCfqKw01Jx2Ki3xE/view?usp=drivesdk

[2022-02-09 04:31] AndiAJ commented on #8729
Still reproducible on Firefox 98.0.0 Beta 1

[2022-02-09 05:11] sunilk9211 commented on #23630
thanks @klint

[2022-02-09 06:18] kbrosnan commented on #23647
Duplicate of https://github.com/mozilla-mobile/fenix/issues/4348

[2022-02-09 06:18] #23647 closed

[2022-02-09 06:26] kbrosnan commented on #23628
This works for me using Firefox 96 and 98 on a Pixel 6 Pro

[2022-02-09 06:47] #23608 closed

[2022-02-09 06:54] #23636 closed

[2022-02-09 07:03] kbrosnan commented on #23043
The video shows the behavior. With a device set to use a dynamic refresh rate the refresh rate goes up to 120hz when interacting with the screen and drops to 60 when not interacting. There seems to be something that happens when scrolling back to the top of the page that breaks the dynamic refresh rate.

[2022-02-09 07:10] Alexandru2909 commented on #23636
According to https://mozilla-hub.atlassian.net/browse/FNXV2-19224?focusedCommentId=510058 , the ticket's vision is already possible and there is no need for further changes.

[2022-02-09 07:19] kbrosnan commented on #12731
This is not the same bug that was originally filed. While it has the same symptoms this will be true of any time the OS has memory pressure events for Firefox. When it was originally filed there was some Fenix/Android Components level work around the address bar and search/history/bookmarks interactions with favicons if I remember correctly. There was a period when this was relatively uncommon. Th

[2022-02-09 07:26] mariusvirb commented on #15023
Experiencing same issue with Samsung S20+, on gum test website I get exception
![image](https://user-images.githubusercontent.com/78095794/153140861-11f92cab-2ef4-4c46-86f2-d42a6e9707d8.png)
But in my sandbox (with some polyfills described here: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#using_the_new_api_in_older_browsers ) if permissions are not given from phone s

[2022-02-09 10:12] leplatrem opened #23652 "Login entry is not put first when password is copied if sorted by recently used"
### Steps to reproduce

1. Open parameters
2. Saved Logins
3. Sort by «Recently Used»
4. Click on a login entry down the list
5. Copy password

### Expected behaviour

When going back to the list of saved logins, the entry from which we copied the password should be first now

### Actual behaviour

The fact that we copied the password did not affect the login «last usage» and it remains down the l

[2022-02-09 10:15] klint commented on #15450
Hi Fenix devs!
Any update or plans regarding this long lasting and wanted request? Why don't you want to unleash the full power of Firefox beyond PWA (which are so limited) ?

[2022-02-09 10:25] AndiAJ commented on #20973
Flaky 1x on 2/8 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7416112078635174647/executions/bs.3c2b141117704193/testcases/1/test-cases)

[2022-02-09 10:28] AndiAJ commented on #13281
Flaky 1x on 2/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5817278207306149773/executions/bs.35095e168aff7f63/testcases/1/test-cases)

[2022-02-09 10:43] AndiAJ commented on #23358
Flaky 1x on 2/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5352387207535353876/executions/bs.6e0c3c18fd155711/testcases/1/test-cases)

[2022-02-09 10:54] #22824 closed

[2022-02-09 13:08] Alexandru2909 commented on #23583
The changes in [23435](https://github.com/mozilla-mobile/fenix/pull/23435) have been merged. I tried to reproduce the crash but it seems fixed. @sunilk9211 can you please check if you can reproduce the issue ?

[2022-02-09 13:13] AndiAJ opened #23653 "Intermittent UI test failure - < NoNetworkAccessStartupTests. noNetworkConnectionStartupTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.80a1a071cfb2770e/matrices/4853030564846698571/executions/bs.7d9dc90bc4142f53/testcases/1/logs)

### Stacktrace:
02-09 01:34:06.462: D/AndroidRuntime(7882): >>>>>> START com.android.internal.os.RuntimeInit uid 0 <<<<<<
02-09 01:34:06.473: W/libprocessgroup(2070): kill(-7895, 9) fail

[2022-02-09 13:39] Cheap-Skate commented on #12731
@kbrosnan that sounds premature to me. The basic bug is:- “Fenix’s multiple tab handling sucks on <= Galaxy S9” and AFAIK that’s still true. I suggest this bug remains open until … it doesn’t suck any more.

Let's face it, if you close this bug it will be immediately re-opened by users who haven't seen the whole story and you'll have a Whac-a-Mole game closing all those new bugs. It may be less ef

[2022-02-09 13:48] Mugurell commented on #23653
I see in logs
[code]

`CrashHandlerService` is started by GV for native crashes. So it seems something crashed though we don't know what or why.

If this is the only time this test crashed with this logcat I don't think more investigations are needed.
If this test will show more crashes then the crash should also be reproduceable locally where we'll be able to investigate the native crash.

[2022-02-09 14:07] sherip99 commented on #23548
@mcarare @kbrosnan This issue may apply only to secondary android accounts. I was not the primary account on the tablet. Have just factory reset it, and started over. I'm now the first profile. I am now able to access saved passwords with a Pin and the system dialog for unlocking opens with a numeric keyboard.

[2022-02-09 14:13] sunilk9211 commented on #23582
@Alexandru2909 It seems fixed to me also. Could not reproduce it.

[2022-02-09 14:35] Amejia481 commented on #23628
@ICHx, would you mind sharing your Tracking protection settings? Go to Settings -> Enhanced Tracking Protection and take a print-screen of the settings page.

<img width="102" alt="image" src="https://user-images.githubusercontent.com/773158/153221762-ec463088-2875-4cf9-a3ec-3a6d672e15bb.png">

Additionally, it looks like some permissions has changed from the default ones on this site. Would you m

[2022-02-09 16:23] codingepaduli commented on #21276
I just want this feature on stable release for my customization. Why not? Lots of user don't even know the existence of that.

If you think about:config can make the browser seriously unstable, you can choose to let us enable it from the "debug menu", as explained in the chapter "Running the Sync server" [Run your own Sync-1.5 Server](https://mozilla-services.readthedocs.io/en/latest/howtos/run-sy

[2022-02-09 17:43] RotBolt commented on #23398
Let me create PR with different color, At least it will start something

[2022-02-09 18:10] kbrosnan commented on #23646
Please check the behavior of https://firefox-ci-tc.services.mozilla.com/tasks/index/gecko.v2.mozilla-central.latest.mobile/android-aarch64-gcp-opt It is a bare bones browser that will tell us if this is a Gecko team bug or a Fenix team issue.

[2022-02-09 18:13] mcomella commented on #23043
Okay, now I understand – I think there's enough info here, thanks!

[2022-02-09 18:30] somewhat-heavy-rocks commented on #23646
I believe you are asking me to install a bare bones Fenix browser to check and see if the issue persists. When I go to the page you linked, the two apk lines I see do not appear to link to a download, I get a site cannot be reached error.

[2022-02-09 19:02] rocketsroger opened #23657 "Add voice search to history search"
Currently history search only supports text input.  Add voice search support.

[2022-02-09 20:54] plwt commented on #10217
User feedback: https://support.mozilla.org/en-US/questions/1367297

[2022-02-09 20:58] plwt commented on #15195
User feedback: https://support.mozilla.org/en-US/questions/1366674

[2022-02-09 21:10] kbrosnan commented on #22960
Looks like a slight change in line numbers otherwise the stacks are the same. Looks like a duplicate.

[2022-02-09 21:10] #22960 closed

[2022-02-09 21:19] kbrosnan commented on #22910
This looks fixed. It was a common crash on 95 and rare crash on 96. There have been no crashes in 97 beta or release.

[2022-02-09 21:19] #22910 closed

[2022-02-09 21:20] #22880 closed

[2022-02-09 21:21] floringolintchi opened #23659 "[Bug]: Opening a bookmark from a new tab homepage instead overrides your last active tab"
### Steps to reproduce

Have normal or private tabs open
Tap + to open a new normal or private tab -> homepage
Try to open a bookmark

### Expected behaviour

Open the webpage in the new tab

### Actual behaviour

Overrides your last active tab

### Device name

Moto G7 Power

### Android version

Android 10

### Firefox release type

Firefox Nightly

### Firefox version

98.0a1

### Device logs

[2022-02-09 21:22] #22689 closed

[2022-02-09 21:23] kbrosnan commented on #22619
This appears to be fixed.

[2022-02-09 21:25] kbrosnan commented on #22608
Looks to be tracked by the GV bug.

[2022-02-09 21:25] #22608 closed

[2022-02-09 21:30] kbrosnan commented on #22443
Not seeing this crash on 98 in Sentry and [Crash Stats](https://crash-stats.mozilla.org/signature/?java_stack_trace_raw=~mozilla.appservices.logins.InternalException&product=Fenix&signature=mozilla.appservices.logins.InternalException%3A%20at%20mozilla.appservices.logins.LoginStore.getByBaseDomain%28logins.kt%3A14%29).

[2022-02-09 21:30] #22443 closed

[2022-02-09 21:48] plwt opened #23660 "[Bug]: @ android.util.AndroidRuntimeException: at android.app.ContextImpl.startActivity(Unknown Source:44)"
### Steps to reproduce

Open a web page
Long press on a word to display the context menu
Select "Search"

### Expected behaviour

A search is performed on that word as the search term.

### Actual behaviour

App crash - https://crash-stats.mozilla.org/report/index/72033388-b14f-427c-a495-5b5ff0220209

### Device name

Xiaomi Redmi Note 7

### Android version

MIUI 12.5.7.

### Firefox release type

[2022-02-09 21:56] gabrielluong commented on #23398
This is actually gonna be fixed in https://github.com/mozilla-mobile/fenix/pull/23038.

[2022-02-09 21:56] #23398 closed

[2022-02-09 22:01] jonalmeida commented on #16406
We should be able to do this with some easy now; we build all variants in Focus now (releng++).

[2022-02-09 22:05] #23577 closed

[2022-02-09 22:20] #19378 closed

[2022-02-09 22:20] #17576 closed

[2022-02-09 22:39] #23574 closed

[2022-02-09 22:41] MatthewTighe opened #23662 "Wallpaper settings screen should be scrollable"
The wallpaper settings screen is not currently scrollable. In landscape mode, this can cut off the logo switch and the text describing the switch. Update the settings screen to be scrollable.

[2022-02-09 22:45] MarcLeclair commented on #15581
Closing since we're not investigating anymore and the migration is now a [PR in Fenix](https://github.com/mozilla-mobile/fenix/issues/22489).

[2022-02-09 22:45] #15581 closed

[2022-02-09 23:12] AbsurdlySuspicious commented on #16130
nope

[2022-02-09 23:34] kbrosnan commented on #15501
Not seeing any recent crashes mentioning [OAuthScopedKey](https://crash-stats.mozilla.org/search/?java_stack_trace_raw=~OAuthScopedKey&product=Fenix&date=%3E%3D2022-02-02T21%3A14%3A00.000Z&date=%3C2022-02-09T21%3A14%3A00.000Z&_facets=signature&_sort=-date&_columns=date&_columns=signature&_columns=product&_columns=version&_columns=build_id&_columns=platform#facet-signature). Everything seems to be

[2022-02-09 23:34] #15501 closed

[2022-02-09 23:43] Dakkaron commented on #16130
Just because noone fixes this, doesn't mean that it's not an incredibly useful feature.

[2022-02-10 00:54] #23431 closed

[2022-02-10 00:56] mavduevskiy opened #23665 "[Bug] Undo snackbar not working after leaving the screen it originated from"
Steps to reproduce: delete an item from download, bookmarks and history screens, the snackbar with an undo action will popup. Go back to the main screen – Snackbar is there, but pressing the Undo button doesn't actually work, the item is gone.

[2022-02-10 04:05] nebiont commented on #10838
For me it happens when clicking a URL in an external app. For example:

- Search for something using the google search app
- Click on one of the returned URLs
- URL opens in Firefox
- Need to open menu and click 'Open in App' in order for it to open in the app.
- If I do the same search from the URL bar in Firefox, and then click one of the returned URLs it will properly open the app.

Here is ano

[2022-02-10 04:18] #18622 closed

[2022-02-10 04:18] #18563 closed

[2022-02-10 04:18] #18665 closed

[2022-02-10 04:18] #18680 closed

[2022-02-10 04:18] #18696 closed

[2022-02-10 04:26] AndiAJ commented on #23583
Seems to be fixed on the latest Nightly, on the other hand, it's reproducible on Firefox 98.0.0 Beta 1 using a OnePlus A3 Android 6.0.1

Prerequisites:
Open the wikipedia in 2 different tabs
Have another website opened
Open of the wikipedia pages should be your active tab

STR:
1. Long press and selecte all 3 tabs
2. Put the app in background
3. Select again the active wikipedia tab, because of #1

[2022-02-10 05:01] ICHx commented on #23628
https://youtu.be/kQBSyCsb3-Q

[2022-02-10 05:02] ICHx commented on #23628
Hi, are you trying the replay or grabbing a randomly live stream

[2022-02-10 06:31] #23582 closed

[2022-02-10 06:32] #23583 closed

[2022-02-10 08:02] glokta1 commented on #22986
Hi, I would like to work on this issue

[2022-02-10 08:09] sflorean commented on #20810
This is still reproducible on 98.0.0-beta.1 with Sony Xperia (Android 6.0.1).

[2022-02-10 08:40] cadeyrn commented on #16130
@Dakkaron: You can already sort tabs in Firefox Nightly if you disable the tab groups feature. I don't know if sorting by "topic" or "address" is really the "most basic feature" of a browser…

[2022-02-10 10:24] BugRMSys opened #23667 "[Bug]: Can not call the keyboard while sigin in android firefox to type password"
### Steps to reproduce

1. click the settings (on the right down "3 dots" button)
2. click "turn on sync"-->"ready to scan"-->"type email"--> continue
3. Then you will see "passoword" textbox,
4. click it and  it crash!!!

### Expected behaviour

It should call the keyboard to let me write password

### Actual behaviour

it crashed

https://user-images.githubusercontent.com/15137182/153387077-7eb6

[2022-02-10 10:31] BugRMSys opened #23668 "Can not Synchronize history from desktop-firefox to android-firefox"
## Steps to reproduce
1. Search something in desktop-firefox
2. login and synchronize on anroid-firefox
3. click the history in android-firefox: settings->history
4. it showed no releant history that I searched on desktop-firefox

![firefox-02_01](https://user-images.githubusercontent.com/15137182/153388314-4cd43ea6-87e5-4718-a144-30a6a64b69cc.jpeg)

### Expected behavior
![firefox-02_02](https://

[2022-02-10 10:42] maverick74 commented on #23659
@floringolintchi this is a duplicated of #20012

the new behaviour is expected to work as in firefox desktop and is better explained in the last [**comment**](https://github.com/mozilla-mobile/fenix/issues/20012#issuecomment-1032881202)

[2022-02-10 10:44] BugRMSys opened #23669 "[Bug]: Firefox changes the status of the login after restarting the app"
### Steps to reproduce

1. Click the three dot menu.
2. Press to "Sign in to Sync" button.
3. Enter your credentials or use a QR Code based login.
4. Force close the app.
5. Open the app once again.
6. Repeat step 1.
7. Observe.

https://user-images.githubusercontent.com/15137182/153390857-a2452381-828e-4d89-be9e-887311ead4ce.mp4

### Expected behaviour

The logon status is not changed after resta

[2022-02-10 12:20] timonoj commented on #12731
Yeah you can pretty much expect us to open a new case as soon as you close
this one. Not sure what class of ticket quota you might be trying to
achieve, but the user feedback is obvious. This isn't fixed.

On Thu, Feb 10, 2022, 17:51 madb1lly ***@***.***> wrote:

[2022-02-10 12:24] sflorean opened #23670 "[Bug]: The previously deleted tabs are restored when the collection is restored"
### Steps to reproduce

1. Create a new collection.
2. Go to the collection previously created, and delete 2-3 pages.
3. Open menu and tap on "Delete collection".
4. Tap on "UNDO".
5. Tap on collection, in order to check the tabs.

### Expected behaviour

The tabs deleted when performing step 2 are not displayed.

### Actual behaviour

All tabs previously added are displayed, including the ones de

[2022-02-10 12:56] sflorean opened #23671 "[Bug]: the same page can be added to bookmarks from tabs tray multiple time (no snackbar/ message is displayed informing that the page is already a bookmark)"
### Steps to reproduce

1. Open 1-2 pages.
2. Open tabs tray and select a tab.
3. Open 3dot menu and Bookmark the page.
4. Perform steps 2-3 again, for the same tab.

### Expected behaviour

"Bookmark already saved" snacknar should be displayed.
Or the "Bookmark" option shouldn't be available.

### Actual behaviour

"Bookmark saved! View" snackbar is displayed.

### Device name

Sony Xperia

### A

[2022-02-10 13:20] AndiAJ commented on #20247
testStrictVisitProtectionSheet Flaky 1x on 2/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7471522327065362314/executions/bs.85bd1a31ab776f4e/testcases/1/test-cases)

[2022-02-10 13:25] AndiAJ commented on #20973
Flaky 2x on 2/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7471522327065362314/executions/bs.eae417449d6713bc/testcases/1/test-cases)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/4969700827430697250/executions/bs.b03fd7feefa5b1a4/testcases/1

[2022-02-10 13:26] AndiAJ commented on #23481
Flaky 1x on 2/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7471522327065362314/executions/bs.987db44cc6f12608/testcases/1/test-cases)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[CONTAINS_TEXT=Mozilla Playstore link]
at androidx.test.uiautomator.UiObject.click(UiObject.java:416)
at org.mozilla.fe

[2022-02-10 13:26] AndiAJ commented on #23358
Flaky 1x on 2/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7471522327065362314/executions/bs.39082f6c94c741f2/testcases/1/test-cases)

Failed 1x on 2/9 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5756742239488704678/executions/bs.640da

[2022-02-10 13:40] mcarare commented on #23349
The app on the link provided does not work anymore.
We should re-evaluate this after [changes](https://github.com/mozilla-mobile/android-components/pull/11688) in Recently tabs are merged and the corresponding changes in Fenix are merged.

[2022-02-10 14:10] LaviniaL99 opened #23672 "[Bug]: Screen is flickering when switching the ETP toggle from on to off"
### Steps to reproduce

1. Load bbc.com
2. Tap on the lock icon from the search bar
3. Enable and disable the ETP toggle

### Expected behaviour

Switching the ETP toggle from on to off, the flicker must not be displayed.

### Actual behaviour

Switching the ETP toggle from on to off, a flicker is displayed. Please see the recording attached for evidence.

https://user-images.githubusercontent.com

[2022-02-10 14:25] Amejia481 commented on #23628
@ICHx ,sorry, if it's not much trouble would you mind translating into English  the auto play status label?
![image](https://user-images.githubusercontent.com/773158/153427250-b9c025e1-2423-4039-9ccf-eef7aaeca3cb.png)

[2022-02-10 14:59] rocketsroger commented on #21692
Confirmed that this is now fixed in nightly

[2022-02-10 14:59] #21692 closed

[2022-02-10 16:01] jkommeren commented on #1984
This only works on Android 10 and below.

[2022-02-10 16:05] jkommeren commented on #1984
I've used via for some time, even asked the owner on GitHub. Issue is still there.

Specifically we're talking about portrait mode here, when browsing

Via also doesn't support this on Android 11 and 12, only for full screen videos was added recently.

[2022-02-10 16:06] floringolintchi commented on #23659
Alright, thank you for the explanation.

[2022-02-10 16:31] eyaler opened #23674 "In the Firefox mobile share menu, allow me to hide / remove apps"
### Steps to reproduce

firefox menu -> share

### Expected behaviour

allow me to control which app appear in the share menu and what order + block certain apps from reappearing.

### Actual behaviour

a list of apps opens with no option to remove or hide apps thus causing a privacy issue (as well as a usability issue). the problem is worsen by the fact that some applications remain stuck in the

[2022-02-10 16:43] marcel263 commented on #20803
still relevant

[2022-02-10 16:44] marcel263 commented on #20802
no more blinking but still delay

[2022-02-10 16:44] #20802 closed

[2022-02-10 17:46] santhoshnumberone opened #23675 "[Bug]: background video no auto play on loaded in firefox on mobile device like smartphone and tablet"
### Steps to reproduce

I have a background video on a webpage, the video is `av1` inside `mp4` container and supported by firefox
Only poster image of `video` tag is displayed, video never starts playing

this is the code

[code]

Raised this issue in svelte too [background video no auto play on loaded in firefox on mobile device like smartphone and tablet #7243](https://github.com/sveltejs/svelt

[2022-02-10 17:58] jonalmeida commented on #23671
We don't look at any [status result](https://github.com/mozilla-mobile/fenix/blob/40123882dc2372a6f25e5d0e8ce93f5283f99c76/app/src/main/java/org/mozilla/fenix/tabstray/NavigationInteractor.kt#L227) from the tabs tray when we show the snackbar from the tabs tray.

Since it's a multi-select action, we would need to see how that UX would work if one is saved and one wasn't, for example.

[2022-02-10 18:16] AaronMT opened #23676 "Upgrade AndroidX Espresso Libraries to support API 30"
In order to run Espresso Android UI tests on API 30 we will need to upgrade our AndroidX Espresso libraries.

At this time, the latest stable release is `3.4.0` for `espresso` library releases and `1.4.0` for `test` library releases.
Releases: https://developer.android.com/jetpack/androidx/releases/test

In addition, for any potential `ActivityScenario` or `ActivityScenarioRule` use, the `androidx

[2022-02-10 18:42] mcarare commented on #22529
Closing this as per the above comment.

[2022-02-10 18:42] #22529 closed

[2022-02-10 19:23] rocketsroger commented on #10838
I see.  Looks like your issue is with opening a URL in Firefox that can already be opened with the app.  Currently when Firefox Android first load a URL we don't redirect automatically to the app.  The thought was that since the user is loading the URL, opening the app is probably not what the user want.  I can look into this and see if we should auto open 3rd party app if the URL is coming from a

[2022-02-10 19:49] Dakkaron commented on #1984
Interesting how almost every issue on this repo turns from being ignored by the devs to a discussion about alternative browsers... I fear, they really have given up on Firefox Mobile...

[2022-02-10 20:08] pic2022 commented on #10838
Yeah sorry it took me a while to get to this.
Exactly what @nebiont is experiencing. Another example, in the Google (app) search bar on Android, not in Firefox.

I search "pokemon - reddit"

I see the results.

I click on one of them, it opens up Firefox when I have a reddit app installed. Why not just open directly to that app?

If you can make this an option, that'd be amazing.

[2022-02-10 20:44] Amejia481 opened #23679 "Change description of the wallpaper settings' "Tap logo to change wallpaper" switch"
https://mozilla-hub.atlassian.net/browse/FNXV2-19390

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19455)

[2022-02-10 20:56] rocketsroger opened #23681 "Redirect to 3rd party app if URL is coming from other apps"
Currently we don't redirect to a 3rd party app when opening an URL is external triggered.  Investigate to see if we can redirect them to the 3rd party app if available.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19456)

[2022-02-10 20:57] rocketsroger commented on #10838
Sounds good, I've created an issue to track this.  Once I have a chance I'll look for a solution.  Thanks https://github.com/mozilla-mobile/fenix/issues/23681

[2022-02-10 21:09] LittleAngelwings commented on #18560
This issue is still there. In the meanwhile is Nightly 99.0a1 (Build #2015862511), eea4b07cb+
AC: 99.0.20220209170927, b39556f3c9
GV: 99.0a1-20220209095640
AS: 91.0.1

And Chrome OS 98..... and nothing is happened

[2022-02-10 21:14] oserlab opened #23682 "If you collapse the "Inactive Tabs" button, all of your currently-active tabs (listed directly below it) will be described by the title."
Steps to reproduce
Have Firefox configured to hide inactive tabs (in Settings|Tabs, "Close tabs: never" and "Move old tabs to inactive: [enabled]".
Have some inactive tabs (unviewed for 2 weeks) (I'm not sure if this is required or not for the inactive tabs section to show up, but I'm guessing it might be). Open some new tabs with e.g. news articles.
Look at your tab list (e.g. by tapping the tab

[2022-02-10 21:35] #23614 closed

[2022-02-10 23:39] plwt commented on #5764
User feedback: https://support.mozilla.org/en-US/questions/1367443

[2022-02-11 00:55] Nova77x opened #23684 "[Bug]: "Open in External App" only works on first link tap regression in Nightly 200729 06:01 (Build #22110610)"
### Steps to reproduce

**Description:**  Tapping a link which automatically opens in an external app only works on the first tap. Subsequent link taps without a page refresh result in it loading within the browser instead.

**To Reproduce:**  Simply tap any Youtube link, and the Youtube app will launch. Now return to Firefox and tap any Youtube link on the same page, and it will fail to launch th

[2022-02-11 02:06] sergioad commented on #4348
Please give this issue more priority, thes is essential

[2022-02-11 02:06] karlcow commented on #8252
Maybe related https://bugzilla.mozilla.org/show_bug.cgi?id=1754802

[2022-02-11 04:06] #19845 closed

[2022-02-11 04:08] makarhuyaker commented on #14700
I have rooted device with lineage os 14 and i getting this error

[2022-02-11 04:28] RotBolt commented on #23684
This seems an intersting issue. Can I take this up @Amejia481?

[2022-02-11 04:32] RotBolt commented on #22862
Hey @mcomella can I take stab at this ?

[2022-02-11 04:33] RotBolt commented on #21547
hello, @mcomella @jonalmeida Can I take a stab at this?
Its a good performance issue to fix

[2022-02-11 04:53] BlitW0 opened #23687 "[Bug]: Smooth scrolling feels heavy for small flicks"
### Steps to reproduce

Scroll any website with small and light flicks.

### Expected behaviour

Ideally page should move exactly with the finger. Scrolling is smoother and feels lighter on chrome or samsung internet. Can also compare with scrolling with small flicks in WhatsApp, it is much much smoother.

### Actual behaviour

Webpage feels heavy and sticky. It takes effort to move the page with

[2022-02-11 04:56] tomyummmm commented on #1984
How do i disable this immersive mode? I want my android notifications bar to show all the time. I cant find any settings in firefox beta?

[2022-02-11 06:05] AndiAJ commented on #17485
Flaky 1x on 2/10 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6421711311952242550/executions/bs.b57099c87a176948/testcases/1/test-cases)

androidx.test.espresso.NoActivityResumedException: No activities in stage RESUMED. Did you forget to launch the activity. (test.getActivity() or similar)?
at dalvik.system.VMStack.g

[2022-02-11 07:33] cadeyrn commented on #20617
It's still an issue.

[2022-02-11 08:05] Ruin0x11 commented on #20683
This is still an ongoing issue.

[2022-02-11 08:51] sv-ohorvath commented on #22124
This hasn't failed in more than a month, so I'll close it. Can be reopened if it happens again.

[2022-02-11 08:51] #22124 closed

[2022-02-11 11:45] LaurentiuApahideanSV commented on #22643
I can confirm the issue is reproducible on Firefox Preview Nightly 2022-02-11.
### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android)

[2022-02-11 11:50] drbuggolo commented on #4348
After following this issue for some time, I am unsubscribing. I have discovered that it can easily be fixed by switching to Opera. Which offers the added benefit of allowing me to save a PDF of a web page... a feature that I gather used to exist in FF but was removed.

[2022-02-11 14:28] Herkulisch opened #23691 "On fullscreen bar always visible at bottom of the screen"
If a video enters fullscreen mode, one can still see a bar at the bottom of the screen. Also after exiting the fullscreen video, Firefox still hides the navigation bar.

[2022-02-11 15:58] bbhtt commented on #17670
Issue is still present on today's nightly...

[2022-02-11 16:00] eyaler opened #23693 "Add "Send tab" as a discrete "share" target."
This is regarding streamlining of the share experience. my main use case for tab syncing is when i see an interesting link on some social app and i want to send it to a tab on my computer. i would like to use firefox send tab option in a quicker way. similar to the way that apps as facebook offer several sharing options (to profile, to group, in chat), i suggest allowing more options for sharing t

[2022-02-11 16:36] mcarare commented on #23691
@Herkulisch Could you please specify the device on which the issue occurs, as well as the Android version? It would also be helpful if you tested this on more than one website and noted whether or not the issue reproduced on all of them.
Thank you!

[2022-02-11 17:12] rocketsroger opened #23694 "Add telemetry for history search"
Add telemetry to history search to determine when the user:
- Taps on the search icon
- Taps on the result from search

[2022-02-11 17:15] rocketsroger commented on #23694
For https://mozilla-hub.atlassian.net/browse/FNXV2-18549

[2022-02-11 17:20] AaronMT commented on #23676
Thanks. I was able to upgrade by just dropping the regex exclusion at the end there as you mentioned. I ran into `NoSuchMethodError` on an instrumentation run afterwards, which seems to be caused by `protobuf-lite:3.0.1` dependency from recently updated `androidx.test.espresso:espresso-contrib:3.4.0` which I was able to fix with an exclude in `espresso_contrib` on `protobuf-lite` (which I hope is

[2022-02-11 17:26] LaurentiuApahideanSV commented on #23684
I can confirm the issue is reproducible on Firefox Preview Nightly 2022-02-11.

### Devices used:
- Google Pixel 6 (Android 12)
 -OnePlus 6T (Android)

[2022-02-11 17:29] Herkulisch commented on #23691
![Youtube in normal mode](https://user-images.githubusercontent.com/55994229/153637969-de097b4e-bf81-461a-ae31-5582de864c44.png)

![Youtube in private mode](https://user-images.githubusercontent.com/55994229/153639012-d0ee6fbe-1ef3-441a-b027-c0216452fb0b.png)

![This is on twitch.tv](https://user-images.githubusercontent.com/55994229/153639484-e64cc084-9ffd-4272-b3c0-414fc644195b.png)

I made a sc

[2022-02-11 17:46] yutayu commented on #21276
I want to disable diskcache.
So I agree with this.

[2022-02-11 18:02] jonalmeida commented on #21547
@RotBolt Yes, I think so! The notes above should still be valid. So can have a shot at that. I think what we need is something that follows:
 1. Try to get thumbnail and display.
 2. If not, only then show a placeholder.

Compared to what we have now:
1. Show a placeholder immediately.
 1. Try to get thumbnail.
 2. If possible, swap the placeholder for the thumbnail.

[2022-02-11 18:20] arminfuerst commented on #20476
I didn't provide further input because in my opinion everything is clear here. In my opinion, this issue is also critical as currently it's very uncomfortable to use Firefox when you care about privacy.
I am sure, many users are interested in improving the situation and - even worse - many FF users chose it because of privacy and don't even know how broken it is at the moment.
I currently can't us

[2022-02-11 18:25] #23644 closed

[2022-02-11 18:52] kbrosnan commented on #23693
Duplicate of https://github.com/mozilla-mobile/fenix/issues/1523

[2022-02-11 18:52] #23693 closed

[2022-02-11 18:52] kbrosnan commented on #23687
Moved to bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1755044

Change performed by the [Move to Bugzilla add-on](https://addons.mozilla.org/en-US/firefox/addon/move-to-bugzilla/).

[2022-02-11 18:52] #23687 closed

[2022-02-11 18:55] #23691 closed

[2022-02-11 18:56] kbrosnan commented on #23684
@RotBolt If you have an idea about how to fix this a PR would be welcome.

[2022-02-11 19:22] kbrosnan commented on #23539
Opened bz-1755052 to track using the modern API. Going to close this as it is work that will not directly be done by the Fenix team.

[2022-02-11 19:22] #23539 closed

[2022-02-11 19:26] kbrosnan commented on #11088
Closing upstream issue. This bug will be fixed by the Gecko team. There is not any Fenix team work for the feature to be enabled.

[2022-02-11 19:26] #11088 closed

[2022-02-11 19:33] kbrosnan commented on #23611
Might be helped by bz-1753700. Not sure that there is any direct work in this report for the Fenix team.

[2022-02-11 20:31] usemoslinux opened #23696 "[Bug]: Input event is triggering before the actual change is shown in input box"
### Steps to reproduce

I am using the following Jquery code, which works as expected in all desktop explorers and in Chrome based mobile explorers, but not in FF mobile:

[code]

### Expected behaviour

It should allow you to write in an input box and when it reaches the last expected character, it should jump to the next input box (but only after inserting that last character in the input box).

[2022-02-11 21:49] vinc17fr commented on #23119
This issue currently occurs on my smartphone. Perhaps because this is after I attempted to play a video full screen (the video could not be started, though). Opening the tab list or the menu temporarily makes the Android navigation bar appear. Ditto with a page opened in a new tab.

[2022-02-11 22:37] dholbert opened #23697 "[Bug]: crash with java.lang.NullPointerException in "org.mozilla.fenix.utils.ToolbarPopupWindow$$ExternalSyntheticLambda1.onClick(Unknown Source:38)""
### Steps to reproduce

Sorry, I unfortunately don't have concrete STR right now, but here's what I've got:

(1) Somehow, last night I ended up with a URL in my clipboard which Android would gladly paste into some apps (e.g. Firefox Nightly and Chrome) but not others (e.g. if I tried to paste into Gmail, I got an empty pasted string; and it'd crash Firefox-for-Android as described below).  The URL

[2022-02-11 22:43] dholbert commented on #23697
My crashes show up on `about:crashes` but only one of them has a socorro link, for some reason (maybe I hit the wrong yes/share option after crashing for the other ones).

Here's that one crash report:
https://crash-stats.mozilla.org/report/index/043318a8-1e85-482c-8c6a-f6e760220211

According to that crash report, my Firefox release installation was actually at version 96.3.1 at that time (and mu

[2022-02-11 23:33] Dakkaron commented on #1984
Theoretically, there is an option, practically, it's bugged and doesn't work correctly.

In German it is "Anpassen" -> "Gesten" -> "Zum Ausblenden der Symbolleiste scrollen".

Translated, that would be "Adjust" (4th option from the top under general settings) -> "Gestures" (section name) -> "Scroll to hide symbol bar" (top toggle option in the gestures section).

If you disable this, you should be

[2022-02-12 00:21] theres-waldo commented on #23687
@BlitW0 would you be able to try the following to see if it improves the experience:

  1. Download and run a [nightly build](https://play.google.com/store/apps/details?id=org.mozilla.fenix) of Firefox for Android. (This is to give you access to the `about:config` page.)
  2. Navigate to `about:config`.
  3. Change the value of the `apz.touch_start_tolerance` preference, from its initial value of

[2022-02-12 00:42] KaKi87 commented on #11088
Link please ?

[2022-02-12 01:36] vitaly-zdanevich commented on #1984
I use Via on Poco X3 Pro with Android 11 only because it totally full screen.

[2022-02-12 01:41] vitaly-zdanevich commented on #1984
Tried just now - no, there is no such option in preferences. Poco X3 Pro.

[2022-02-12 01:45] vitaly-zdanevich commented on #1984
Tried Firefox Beta on Android 11 just now - I still see the system top bar :(

[2022-02-12 03:11] czlucius commented on #23539
Thanks

[2022-02-12 03:51] sheikh-azharuddin commented on #23119
Works fine ...try latest nightly

[2022-02-12 05:28] sunilk9211 opened #23700 "[Bug]: HistoryFragment toolbar is hidden if we open history items in new tab"
### Steps to reproduce

Somehow the moment Tabs tray opens screen goes dark when recording, and app doesn't allow taking screenshot of Historyfragment.  So mentioning the steps only to reproduce this.

1. Open History
2. Select at least 1 item
3. Select "Open in new tab" OR "Open in private tab"
4. If we repeat the 3rd step, the toolbar will be hidden. The selected items will remain selected, and

[2022-02-12 05:54] D4rk3vi1 commented on #23119
Is also not present in pre-release 68 beta anymore. Issue can be closed.

[2022-02-12 06:40] santhoshnumberone commented on #23675
[Same video](https://santhoshnumberone.github.io/videotest/), same issue

[2022-02-12 07:37] BlitW0 commented on #23687
I tried the config you mentioned and while it was somewhat better, I think you are looking in the wrong direction.

The delay in starting the scrolling is not the problem, but the scrolling itself is. It feels like the scroll acceleration grows too slowly and one can see the page moving like a heavy plank moves up and down.

Whereas in something like WhatsApp, the scroll looks like a slot machine

[2022-02-12 07:41] dessant commented on #22716
@Alexandru2909, the `geckoViewAddons` permission is supposed to be used only by built-in extensions which are maintained by Mozilla.

[2022-02-12 07:42] dessant commented on #22716
@kbrosnan, the bug is being tracked at https://github.com/mozilla-mobile/fenix/issues/15904.

[2022-02-12 07:45] #23119 closed

[2022-02-12 08:36] iamiceparticle opened #23701 "[Bug]: RBI website doesn't open"
### Steps to reproduce

Open website https://rbi.org.in/

### Expected behaviour

Website should open

### Actual behaviour

Website doesn't open. It opens in chrome browser.

### Device name

Samsung A71

### Android version

Android 11

### Firefox release type

Firefox Nightly

### Firefox version

99.0a1

### Device logs

_No response_

### Additional information

![Screenshot_20220212-140201_

[2022-02-12 09:30] cadeyrn commented on #11088
@KaKi87 https://bugzilla.mozilla.org/show_bug.cgi?id=1535985 (was already linked in comment 2)

[2022-02-12 10:05] RotBolt commented on #23684
TBH, I have to look into the cause for this. But yeah I am keen to work into this issue. So I am hopeful I would be able to work on this issue

[2022-02-12 15:27] sunilk9211 commented on #21939
hi @amedyne @cadeyrn i would like to fix this, can you please assign this to me?
And what should be the border radius?  should it be same as Jump back in and recently visited?

[2022-02-12 16:29] sunilk9211 commented on #20810
Hi @AndiAJ @sflorean i am trying to find a solution for this issue. Can you help me a little with this?
I want to understand, what should be a solution for this?
Not only "Close", there's "Bookmark" option also showing a message for 0 selected tabs.
1. should it not show any toast message?, or
2. should it not show the options at all if three dots icon is clicked? or
3. should it show a toast like

[2022-02-12 17:50] kbrosnan commented on #23701
Looks like a redirect loop. Will try to check on Monday with the desktop devtools.

[2022-02-12 20:38] automatedbugreportingfacility opened #23704 "[Bug]: Firefox Nightly does not respect full-screen-api.warning.timeout"
### Steps to reproduce

1. Open `about:config` in Firefox Nightly
2. Change `full-screen-api.warning.timeout` to 0
3. Open any video in full screen

### Expected behaviour

No "Entering full screen mode" message is printed.

### Actual behaviour

"Entering full screen mode" message appears, obstructing the view. The default value of `full-screen-api.warning.timeout` (3000) is not respected either,

[2022-02-12 20:53] #19869 closed

[2022-02-12 22:02] yoasif opened #23705 "[Bug]: Immersive mode in release, multiple devices (regression in 97)"
### Steps to reproduce

Sounds like #23119

### Expected behaviour

No immersive mode.

### Actual behaviour

![image](https://user-images.githubusercontent.com/152493/153800317-1cccc92d-2c9a-4aea-9a04-b539c73f1167.png)

### Device name

 Affects at least:
* Xiaomi 11T Pro
* Oneplus 8T (Android 11)
* Xiaomi poco f3 (lineageos 18.1)
* Samsung galaxy A12 (Android 11)
* Moto E4 (Android 7.1.1)
* Sams

[2022-02-12 22:50] theres-waldo commented on #23687
Thanks for this clarification. We actually tried to [explicitly align](https://bugzilla.mozilla.org/show_bug.cgi?id=1448439) our behaviour in this area with Chrome's, but its possible their behaviour has changed since then.

There is a tunable pref that may be relevant for this as well: `apz.android.chrome_fling_physics.friction`; decreasing it from its current value of `0.015` should make the fli

[2022-02-13 06:26] glokta1 commented on #23670
Hi, I'd like to work on this issue :)

[2022-02-13 10:31] ICHx commented on #23628
It means, autoplay is explicitly allowed.

[2022-02-13 10:58] #19619 closed

[2022-02-13 10:58] #20539 closed

[2022-02-13 13:05] tarolangner commented on #12731
I have been facing the same issue for about a year. With a Nokia 6.1, both the stable 96.3.1 and the most recent nightly version will unload tabs when minimizing the browser, switching between tabs or even just locking the screen. It often takes several seconds to reload some of them (even with fast internet) and filled-in forms, interactive elements and sometimes also the scroll progress are rese

[2022-02-13 13:58] Disil opened #23707 "[Bug]: Autofill does not work on another apps"
### Steps to reproduce

1. Enable 'autofill in other apps' option in settings.
2. Go into a website, fill the log in form, and firefox will offers to save the password (Of course we need to save them so autofill work)
3. Go into another apps (in this case will be samsung internet)
4. Go to the same website that you already 'saved the password'.
5. Press on the log in form

### Expected behaviour

[2022-02-13 15:50] DavidJCobb opened #23709 "[Bug]: On-screen keyboard word suggestions and Fenix address bar autocomplete don't play nice with each other"
### Steps to reproduce

1. Visit `https://reddit.com/r/JavaScript/new`, so that it's in your browsing history.
2. Open the address bar.
3. Type `redd`. The browser should autosuggest it to `reddit.com`, with `it.com` placed after the text cursor and displayed as selected text.
4. Tap in the address bar after `reddit.com`. The end of the domain name should cease to display as selected text, and the

[2022-02-13 21:42] locness3 commented on #417
Please consider this feature. I believe it is essential to be able to export data from the browser to import it in another one or just use it in any other way. This is really the only thing making me stay on Bromite, and I'm surprised no other browser on Android has this feature.

[2022-02-13 22:01] igorlogius commented on #417
4 years and still no local bookmark export ... funny in a sad kind of way.

[2022-02-14 00:18] bradleyharden commented on #23705
This affects my Sony Xperia XZ1 Compact (G8441) on Android 8 as well.

[2022-02-14 00:30] dootingalong commented on #23705
Reporting this also happening on OnePlus 7 Pro

[2022-02-14 03:47] gabrielluong opened #23711 "Replace @color/primary_text_normal_theme with @color/fx_mobile_text_color_primary"

[2022-02-14 04:10] gabrielluong opened #23713 "Replace @color/secondary_text_normal_theme with @color/fx_mobile_text_color_secondary"

[2022-02-14 05:14] karlcow opened #23715 "[Bug]: a thin white line appears on scrolling when dark theme is enabled."
### Steps to reproduce

1. With Firefox Nightly 99.
2. Set Dark Theme
3. Go to https://n.news.naver.com/article/001/0012456219?cds=news_my
4. Scroll up and down

### Expected behaviour

The area in between the top black status bar and the blue top navigation of the website doesn't change

### Actual behaviour

A thin white line appears in between the top black status bar and the blue top navigatio

[2022-02-14 07:36] AndiAJ commented on #23481
Flaky 2/11 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8617525764351194719/executions/bs.c38ea0fdd56328f5/test-cases)

[2022-02-14 07:37] AndiAJ commented on #20973
Flaky 1x on 2/11 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8609805091409708981/executions/bs.fddc759dabecb5fc/testcases/1/test-cases)

[2022-02-14 07:39] AndiAJ commented on #23296
Flaky 1x on 2/12 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8076056649055400685/executions/bs.f8fa0cf31c3f6012/testcases/1/test-cases)

[2022-02-14 07:40] AndiAJ opened #23716 "Intermittent UI test failure - < MediaNotificationTest.mediaSystemNotificationInPrivateModeTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8681457988670076210/executions/bs.5e79c41d9c873e56/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError: Playback did not moved to state: PLAYING
	at org.junit.Assert.fail(Assert.java:89)
	at org.mozilla.fenix.ui.robots.BrowserRobot.assertPlayb

[2022-02-14 08:20] kbrosnan commented on #23704
`about:config` is completely unsupported.

[2022-02-14 08:20] #23704 closed

[2022-02-14 08:55] klint commented on #417
Wait... Maybe because this is not an essential feature on Android 😉, as there is an quite easy workaround with desktop and sync.

[2022-02-14 09:27] DavidJCobb opened #23717 "[Bug]: Address bar suggestions can take a very long amount of time to appear after typing something"
### Steps to reproduce

Type something into the address bar and wait, with only suggestions from history and bookmarks enabled.

### Expected behaviour

Address bar suggestions should take no longer than a couple seconds to appear. If necessary, there should be some sort of loading indicator.

### Actual behaviour

Address bar suggestions can take very long amounts of time to appear, with no loadi

[2022-02-14 09:32] DavidJCobb commented on #23717
`resist and disorder` took eight seconds to produce three suggestions, including [this bookmarked page](https://m.youtube.com/watch?v=TRhErLqpdto).

If I typed `resist snd disorder`, immediately erased it by holding backspace, and then typed `resist and disorder`, then it took about twenty-two straight seconds for the same results to appear.

[2022-02-14 09:34] badboy commented on #23559
Looks like the overhead is from loading the shared library

[2022-02-14 12:29] Alexandru2909 commented on #23584
While debugging this issue I found that when the `Search groups` option is enabled, `TabGroupBinding` submits an empty list as the [currentList](https://github.com/mozilla-mobile/fenix/blob/8ced6758179b02b2950a040e755bc174253a31f8/app/src/main/java/org/mozilla/fenix/tabstray/viewholders/NormalBrowserPageViewHolder.kt#L130). Also, if there are tabs opened in search groups, the [activeTabsList](http

[2022-02-14 12:33] LaurentiuApahideanSV commented on #21597
I retested the issue on Firefox 98.0.0-Beta.1 and it no longer occurs. I will mark this issue as fixed.
![1644839904624](https://user-images.githubusercontent.com/50983519/153864988-e64668a0-1ad6-4a37-9015-bfeab993159f.JPEG)

[2022-02-14 13:12] Russlav opened #23718 "Images are not showing on the site in Firefox for Android"
Hello, the below site simply does not load images. How can this be fixed?
Link: https://livcad.ru

[2022-02-14 13:25] LaviniaL99 opened #23719 "[Bug]: [L10N] The "Cancel" button is not translated to Welsh"
### Steps to reproduce

1. Set the device language to Welsh;
2. Have some bookmarks;
3. Go to the Bookmarks section;
4. Tap the 3 dot menu from a site and select edit option;
5. Tap the trash icon.

### Expected behaviour

The "Cancel" button must be translated to Welsh.

### Actual behaviour

The "Cancel" button is not translated to Welsh. Please see the screenshot attached for reference.

<img w

[2022-02-14 13:39] dpater1986 opened #23720 "[Bug]: Creating a shortcut on my homescreen"
### Steps to reproduce

1. Go to a website
2. press on the menu (three dots)
3. Add to homescreen (i have it in dutch so it says "Toevoegen aan startscherm")

### Expected behaviour

To get an icon on my homescreen

### Actual behaviour

Nothing happend

### Device name

Xiaomi mi 10 (M2001J2G)

### Android version

Android 11 RKQ1.200826.002

### Firefox release type

Firefox

### Firefox version

[2022-02-14 14:00] #23720 closed

[2022-02-14 14:55] Amejia481 commented on #23628
Thanks 👍🏽 .
It's really odd, the only things that I could think that cause this issues are:

* Auto play -> that It's enabled.
* Tracking protection -> it's off for this site.

This will require further investigation.

[2022-02-14 15:23] amedyne opened #23721 "[Bug]: String/message when sending crash reports should reflect Firefox instead of Mozilla"
### Steps to reproduce

Try to send a crash report after the application crashed.

Looks like string is from here: https://github.com/mozilla-mobile/android-components/blob/main/components/lib/crash/src/main/res/values/strings.xml#L7

### Expected behaviour

2nd string on the image should say "Firefox had a problem and crashed" instead of "Mozilla had a problem and crashed"

### Actual behaviour

[2022-02-14 15:33] AndiAJ commented on #23296
Flaky 1x on 2/14 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.80a1a071cfb2770e/matrices/8227825049342840407/executions/bs.1ef2fcc18a50e82d/testcases/1)

[2022-02-14 15:54] RotBolt commented on #23684
This happens on production as well. Just came confirned on latest version from Playstore

[2022-02-14 16:22] sv-ohorvath commented on #22823
duplicate of https://github.com/mozilla-mobile/fenix/issues/22785

[2022-02-14 16:22] #22823 closed

[2022-02-14 16:26] mcarare commented on #23721
AC issue: https://github.com/mozilla-mobile/android-components/issues/11717

[2022-02-14 16:27] mattschlosser commented on #17145
Happened again today...
![Screenshot_20220214-085909](https://user-images.githubusercontent.com/8870594/153903718-8ef5d512-c564-4e93-8542-a385d0ec3a57.png)
Firefox 97.1.0
Pixel 4 XL - Feb 2022 Android 12

This happened directly after I closed another tab. Then I switched to worldwaterfall tab. It appeared to try to load the page but failed. Switching to one of the other tabs I had open (e.g. Wordl

[2022-02-14 17:28] RaulPROP opened #23724 "[Bug]: Changing the inputmode of an input without losing the focus doesn't work properly."
### Steps to reproduce

1. Go to [https://codepen.io/raulprop/pen/KKyXPmy](https://codepen.io/raulprop/pen/KKyXPmy), which has a setup that can reproduce the bug.
2. Focus the editor (in this case a div with a `contenteditable` attribute, but it also happens in an input).
3. Click on the bottom buttons that changes the `inputmode` of the editor element. The focus is not lost because we prevent the

[2022-02-14 18:00] kbrosnan commented on #23705
Pretty sure this is https://github.com/mozilla-mobile/android-components/issues/11527 which needs a 97.2.0 build cut.

[2022-02-14 18:37] mcomella opened #23725 "~128ms regression to COLD VIEW nav start (ac update?)"
_See also https://github.com/mozilla-mobile/focus-android/issues/6432 for a possibly related regression in focus._

From our backfill regression system:

![image](https://user-images.githubusercontent.com/759372/153925415-256a5658-b93d-41e7-81a0-1f4345c0f283.png)

- 2/9: 2.067s
- 2/10: 2.195s

That's a regression of 128ms to our COLD VIEW nav start metric. Let's find the cause.

[2022-02-14 18:38] ProperBrgdbald commented on #22928
Issue persists in Android 7 and Android 10 builds 99.0a1

[2022-02-14 18:38] ProperBrgdbald commented on #22927
Issue persists in Android 7 and Android 10 builds 99.0a1

[2022-02-14 18:38] ProperBrgdbald commented on #22929
Issue persists in Android 7 and Android 10 builds 99.0a1

[2022-02-14 18:41] dholbert opened #23726 "[Bug]: Don't post our "Make Firefox your default browser" notification late at night"
### Steps to reproduce

My personal STR (not how to reliably trigger but I assume something along these lines):

1. Install Firefox for Android (or more-specifically Firefox Beta in my case, but I assume this happens with all versions)
2. Wait

### Expected behaviour

We shouldn't pop up notifications late at night, when they might annoy/disturb the user when they're trying to sleep.

Maybe 9am-9p

[2022-02-14 18:48] dholbert commented on #23726
![screenshot](https://user-images.githubusercontent.com/426803/153927055-656fdfdf-3e22-43cb-9a51-da6c2fc5a482.png)

[2022-02-14 19:14] #23662 closed

[2022-02-14 19:36] Amejia481 commented on #20476
Just to confirm, that I'm following the right idea. If we separate the following clear settings **browsing history** and **site data**, the issue will be fixed right?

We will end up having two different  additional cleaning options:

* **Browsing history**
* **Site data**

instead of only one :

* **Browsing history and site data**

[2022-02-14 19:36] kbrosnan commented on #23718
This is working for me using a Pixel 6 Pro and Firefox.

[2022-02-14 19:50] mcomella commented on #23725
Bisection from 2/9 (5bd6f1cb8) to 2/10 (eea4b07cb):
- Good: 80c9ad9100f6e89d15394e05ad86fdbefcfa1515
- Bad: 974653084a6d74fe6a1d785e0392dd3a64aa5da2

Regressing commit: "Update Android Components version to 99.0.20220209143350." ([diff](https://github.com/mozilla-mobile/fenix/commit/974653084a6d74fe6a1d785e0392dd3a64aa5da2))

Unfortunately, we don't have tools to bisect regressions within android-

[2022-02-14 19:53] amedyne commented on #23682
Need UX input to review the user the user feedback on when Inactive Tabs is collapsed.

[2022-02-14 19:54] amedyne commented on #23668
@grigoryk Can you take a look?

[2022-02-14 20:09] arminfuerst commented on #20476
If I understand "Browsing history" and "site data" correctly, then we agree, probably it is better to describe it additionally.
On my Desktop Firefox, I checked following for "Clear history when Firefox closes":
[X] Active Logins
[X] Forms & Search History
[X] Site Preferences
[X] Offline Website Data
"Cookies": I don't delete them on my Desktop through this option, but by using the Add-On "Cookie

[2022-02-14 20:27] Amejia481 commented on #20476
Sorry, would you mind indicating how do you get to this settings page? Thanks in advance!

[2022-02-14 20:33] arminfuerst commented on #20476
I assume you are asking for the settings on the desktop I was trying to explain what I suggest for fenix.

- On Linux, this is Edit -> Settings or by typing ```about:preferences``` into the URL bar
- On the left side select "Privacy & Security"
- Scroll down to "History"
- Check "Clear history when Firefox closes"
- Click "Settings..." right to the line
![image](https://user-images.githubuserconte

[2022-02-14 20:38] MatthewTighe opened #23727 "Report Fenix commit hash in Sentry crashes."
A-C and GV commit hashes for a specific nightly build are including in Sentry reports. The Fenix commit has is not included. This can make it difficult to tie a report from Sentry to a certain point in our Git history.

- Add the Fenix commit hash used in nightly to the Sentry report

[2022-02-14 21:15] #23713 closed

[2022-02-14 21:55] superbonaci opened #23728 "Reload all tabs option in tab list"
Would like to have also the option to `Reload all tabs`. No idea if that option already exists but if does it's not intuitive. The menu would be this:

![](https://i.imgur.com/ViqRzpB.jpg)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19492)

[2022-02-14 22:30] ris58h commented on #11376
What can we do to finally fix the issue?
We have #https://github.com/mozilla-mobile/android-components/pull/8838 that could fix it.

[2022-02-14 22:37] mcomella commented on #23725
We see a similar regression in focus: https://github.com/mozilla-mobile/focus-android/issues/6432

[2022-02-15 00:01] #21900 closed

[2022-02-15 00:01] gabrielluong opened #23731 "Use the disk cache for the Contile top sites"

[2022-02-15 00:05] Hubfront commented on #12731
The devs should implement the tab unload fix from iceraven and make its functionality optional, like its done there. Than this bug, that makes firefox inferior to chrome, would not stop to make firefox competitive.

[2022-02-15 00:35] bmaverick24 commented on #23705
This is happening to me as well on Google Pixel 3 running Android 11

[2022-02-15 03:03] ratkiley commented on #417
This is false.  The desktop version of Firefox can not export the mobile bookmarks because of an old, unfixed bug.  The developers overlooked development and / or testing of exporting the mobile bookmarks folder which is separate from the desktop bookmarks.  There is no simple workaround to get the mobile bookmarks off of your device and onto another device / computer.

https://bugzilla.mozilla.or

[2022-02-15 03:07] igorlogius commented on #417
@ratkiley
 nice leg-work digging that up  +1

[2022-02-15 03:12] ratkiley commented on #417
I struggled with this problem for days when I had to abandon firefox fenix because of breaking changes that made my mobile browser unusable.  I switched to chrome, and I have to say that 95% of users will not be able to migrate / export their bookmarks from firefox mobile, because they are not software developers / IT support technicians.

I was surprised to find well documented issues / bugs / fe

[2022-02-15 03:37] rvandermeulen commented on #23132
FYI, we expect to ship a 97.2.0 release later this week which will address this.

[2022-02-15 04:13] yoasif opened #23735 "[Bug]: Going "back" after focusing address bar stays on homepage instead of returning to opened page"
### Steps to reproduce

1. Be on a web page
2. tap address bar
3. tap "back" button in android nav

### Expected behaviour

I return to the page open in step 1 above.

### Actual behaviour

The browser is on the home page with top sites etc.

### Device name

LG G4

### Android version

Android 6

### Firefox release type

Firefox Nightly

### Firefox version

99.0a1 (Build #2015862891), 2fee285f7

[2022-02-15 06:06] gabrielluong opened #23738 "Integrate the Contile top sites updater"

[2022-02-15 06:48] SoftVision-LorandJanos commented on #23707
Hi @Disil ! Thank you for your report!
I can confirm that your issue is reproducible.
The same "Unlock Firefox Beta" and "Unlock Firefox Nightly" (for Nightly) is displayed with no function on tapping.
Tested with the latest Nightly 99.0a1 (2022-02-15) and latest Beta (98.0.0-beta1).
Device used: Oppo Reno 6 (Android 11).

[2022-02-15 07:14] Alexandru2909 commented on #23700
Hi @babblingbrookdev , would you like to work on this issue?

[2022-02-15 07:19] SoftVision-LorandJanos commented on #23618
I managed to reproduce this issue with the Nightly 98.0a1 (2022-02-06).
The banner was displayed while being set as default browser.
On the latest Nightly 99.0a1 (2022-02-15) I wasn't able to reproduce this issue.
Verified as fixed on the above mentioned Nightly.
Closing the ticket.

[2022-02-15 07:19] #23618 closed

[2022-02-15 08:16] Mugurell commented on #23551
This is ready to be picked on.

[2022-02-15 08:40] AndiAJ commented on #23237
Flaky 1x on 2/14 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8015201794274086217/executions/bs.5d0e49e3b251d00e/testcases/1/test-cases)

androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with id is <org.mozilla.fenix.debug:id/privateBrowsingButton>

[2022-02-15 08:44] AndiAJ opened #23739 "Intermittent UI test failure - < SmokeTest. openAllTabsInCollectionTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8015201794274086217/executions/bs.be7b5360b4701a47/testcases/1/test-cases)
### Stacktrace:
androidx.test.uiautomator.StaleObjectException
	at androidx.test.uiautomator.UiObject2.getAccessibilityNodeInfo(UiObject2.java:647)
	at androidx.test.uiautomator.UiO

[2022-02-15 08:45] AndiAJ commented on #23716
Flaky 1x on 2/14 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6505466398412881049/executions/bs.d57a80556c7c1234/testcases/1/test-cases)

java.lang.AssertionError: Playback did not moved to state: PLAYING
at org.junit.Assert.fail(Assert.java:89)
at org.mozilla.fenix.ui.robots.BrowserRobot.assertPlaybackState(BrowserRo

[2022-02-15 08:47] AndiAJ opened #23740 "Intermittent UI test failure - < SitePermissionsTest.rememberAllowCameraPermissionChoiceTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/9000572215713279418/executions/bs.3e25cd75c8b08e3b/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError: Page didn't load or doesn't contain the expected text
	at org.junit.Assert.fail(Assert.java:89)
	at org.junit.Assert.assertTrue(Assert.java

[2022-02-15 08:48] AndiAJ commented on #20754
Flaky 1x on 2/14 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/9000572215713279418/executions/bs.30f43890fdd8f703/testcases/1/test-cases)

androidx.test.espresso.base.DefaultFailureHandler$AssertionFailedWithCauseError: 'view has effective visibility=VISIBLE' doesn't match the selected view.
Expected: view has effectiv

[2022-02-15 08:50] AndiAJ opened #23741 "Intermittent UI test failure - < SmokeTest. verifyExpandedCollectionItemsTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/4824963726930932751/executions/bs.df0c9d1b3ce0dbcf/testcases/1/test-cases)
### Stacktrace:
androidx.test.uiautomator.StaleObjectException
	at androidx.test.uiautomator.UiObject2.getAccessibilityNodeInfo(UiObject2.java:647)
	at androidx.test.uiautomator.UiO

[2022-02-15 08:52] AndiAJ opened #23742 "Intermittent UI test failure - < BookmarksTest.testName>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/4824963726930932751/executions/bs.62f5d36370cbe2f5/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertNotNull(Assert.java:713

[2022-02-15 09:50] #20812 closed

[2022-02-15 09:50] #20077 closed

[2022-02-15 09:50] #20366 closed

[2022-02-15 09:50] #20598 closed

[2022-02-15 09:50] #20786 closed

[2022-02-15 09:50] #19610 closed

[2022-02-15 09:51] #12079 closed

[2022-02-15 09:51] #20784 closed

[2022-02-15 09:51] #20666 closed

[2022-02-15 09:51] #18067 closed

[2022-02-15 09:51] #20696 closed

[2022-02-15 09:51] #20776 closed

[2022-02-15 09:51] #20636 closed

[2022-02-15 09:59] Disil commented on #23728
Why we want to do that? Tabs reload everytime on low-end users, there's no need to provide a button for that. Instead we should fix our memory management, in my opinion.

[2022-02-15 10:26] superbonaci opened #23743 "[Bug]: tab is auto reloaded even when filling forms"
### Steps to reproduce

Sometimes I'm filling a form on a website, and I need to open another tab or application to gather information to put in the form. Well, after returning to that tab, it's reloaded and the form is lost.

Maybe a preference should exist to prevent reloading automatically tabs that have forms.

### Expected behaviour

Tabs are not reloaded.

### Actual behaviour

Tabs are relo

[2022-02-15 10:27] superbonaci commented on #23743
It happens also here on GitHub replies.

[2022-02-15 10:27] superbonaci commented on #23728
@Disil it's just a trivial request. About auto reloading check the problems it causes:
https://github.com/mozilla-mobile/fenix/issues/23743

[2022-02-15 10:29] cadeyrn commented on #23743
Does it reproduce with a current build? Firefox Nightly has the version numbrer 99.0a1, the current stable release is 97.1.0.

[2022-02-15 10:30] superbonaci commented on #23743
Of course it forces me to write everything to a paper to fill the form at once or use apps in split screen, but sometimes just accessing the split screen menu also triggers the reload thing.

[2022-02-15 10:31] superbonaci commented on #23743
I'll check with certain websites and try to make a video, keep the bug open.

[2022-02-15 10:32] ofrias commented on #14816
I have just tested on Firefox Nightly, version 99.0a1 (Build #2015863465), on LineageOS 17.1 on a MotoG 2015 (osprey device), and the issue is fixed.

[2022-02-15 10:33] pastasonica opened #23744 "[Bug]"

[2022-02-15 10:33] #23744 closed

[2022-02-15 10:34] pastasonica opened #23745 "[webcontent]"
## Site with issue and any steps to reproduce

### Expected behavior

### Actual behavior

### Does toggling Tracking Protection fix the issue? (Press the shield icon in the toolbar while on the site to see toggle)

### Can you reproduce in Chrome (or other non-Mozilla browser)?

### Device information

* Android device: ?
* Fenix version: ?

[2022-02-15 10:35] pastasonica commented on #23745
Ti

[2022-02-15 10:39] willdurand commented on #13322
🆙

[2022-02-15 10:40] cadeyrn commented on #23743
Does it reproduce with a current build? Firefox Nightly has the version number 99.0a1, the current stable release is 97.1.0.

By the way, you can edit your comments.

[2022-02-15 11:03] g-l-n commented on #22902
I have also experienced this issue both on my Samsung a02, android 11 in firefoxnightly and my pixel xl android 10 firefixbeta. It only arises after long period of use, and the only way to fix it is to uninstall and reinstall the phone and that fix is only temporary. This is a serious issue and needs to be addressed.
![20220215_160931](https://user-images.githubusercontent.com/99520861/154049260-a

[2022-02-15 11:22] delxg opened #23746 "[Bug]: Opening a bookmark in private browsing mode doesn't work if there are no existing private tabs"
### Steps to reproduce

1. Close all tabs in private browsing mode
2. Press and hold the tab switcher button and select "New private tab"
3. Dismiss the keyboard popup
4. Press the menu button, select "Bookmarks" and select a bookmark

### Expected behaviour

The bookmark should open in a new private tab

### Actual behaviour

Firefox switches out of private browsing mode and shows the previously

[2022-02-15 12:19] lorenzos commented on #14816
Can confirm, same version as @ofrias on the exact same device I originally reported for. The issue can be closed, IMO. Thanks!

[2022-02-15 13:29] Disil commented on #23743
I can confirmed this happened in Firefox 98 beta, although it does not happen everytime. We still can't get the tab behaviour to be like Fennec (before Fenix).

[2022-02-15 13:34] mcarare opened #23747 "Remove deprecated layout_constraintHeight_default"
[code]

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19504)

[2022-02-15 13:42] GabeVilela opened #23748 "[Bug]: White filter on the entire page while using a physical keyboard"
### Steps to reproduce

1. Connect a physical keyboard
2. Open firefox and click on the address bar
3. Type any address and hit enter

### Expected behaviour

Page gets loaded and displayed correctly.

### Actual behaviour

The entire page gets a white filter applied on top of it (as if it had the keyboard focus).

### Device name

Samsung Galaxy Tab A7

### Android version

Android 11

### Firefo

[2022-02-15 13:50] erikhubers commented on #23705
Can confirm this is also happening on Android 11 on my Xiaomi Poco F3 (M2012K11AG) running lineage_alioth-userdebug 11 RQ3A.211001.001 10039287.

[2022-02-15 14:03] AndiAJ opened #23749 "Intermittent UI test failure - < SettingsAddonsTest.useAddonsInPrivateModeTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8138012454086762974/executions/bs.9719bfb534b5e20c/testcases/1/test-cases)
### Stacktrace:
androidx.test.espresso.IdlingResourceTimeoutException: Wait for [SessionLoadedIdlingResource] to become idle timed out
	at dalvik.system.VMStack.getThreadStackTrace(

[2022-02-15 14:19] gabrielluong opened #23751 "Use #FFFFFF as the fill color in place of ?addOnPrivateBrowsingInteriorIconBackground"
There's no need to use an attribute for the fill color of an icon since it's the same color regardless of theme.

[2022-02-15 14:21] gabrielluong commented on #23751
Turns out I already did this.

[2022-02-15 14:21] #23751 closed

[2022-02-15 14:29] plwt opened #23752 "[Bug]: "Change wallpaper" switch off screen"
### Steps to reproduce

1. Open Firefox for Android menu
2. Select Customise Homepage
3. Select Wallpapers

### Expected behaviour

"Change wallpaper by tapping Firefox homepage logo" switch should be fully visible.

### Actual behaviour

![Screenshot_20220215-142250](https://user-images.githubusercontent.com/31939113/154082226-7c0a2717-5c94-4d74-b17a-ea3b13bb3520.png)

### Device name

Motorola M

[2022-02-15 14:33] cadeyrn commented on #23752
I can confirm the issue. It's not only not fully visible, the toggle is also not functional at all.

[2022-02-15 14:49] LaviniaL99 commented on #23735
Hello @yoasif

Thanks for your report! I just tested the above flow and i was able to reproduce the issue.
Tested on the latest Nightly ->99.0a1

**Device used:**
- Samsung S10E -> Android 10

[2022-02-15 15:43] #23745 closed

[2022-02-15 15:54] gabrielluong opened #23753 "@color/bottom_bar_shadow should use @color/fx_mobile_border_color_primary"
<img width="460" alt="Screen Shot 2022-02-15 at 10 54 31 AM" src="https://user-images.githubusercontent.com/1190888/154098796-70a64dc6-435f-4fd1-957c-2cafbfe4aebd.png">

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FNXV2-19511)

[2022-02-15 15:55] superbonaci commented on #23743
It happens with Galaxy S10 as well, wait for the video please.

[2022-02-15 16:48] arminfuerst commented on #20476
Thanks for caring about my suggestion :)

[2022-02-15 17:15] #23341 closed

[2022-02-15 17:20] locness3 commented on #417
That's even worse then.

[2022-02-15 17:46] #23727 closed

[2022-02-15 17:55] mariechristinaa opened #23757 "[webcontent]"
## Site with issue and any steps to reproduce

### Expected behavior

### Actual behavior

### Does toggling Tracking Protection fix the issue? (Press the shield icon in the toolbar while on the site to see toggle)

### Can you reproduce in Chrome (or other non-Mozilla browser)?

### Device information

* Android device: ?
* Fenix version: ?

[2022-02-15 18:04] bio12 commented on #23705
Can confirm. Android 12, Samsung S10+
Unusable with this behavior.

[2022-02-15 18:09] plwt commented on #23752
Although not fixed in Nightly, it is fixed in Beta (both position and function).

[2022-02-15 18:24] jonalmeida opened #23758 "Fetch experiments on startup first before applying"
Duplicate of: https://github.com/mozilla-mobile/focus-android/issues/6443

When we want to run experiments on startup for new users. We need to make sure we apply the experiments only after fetching them.

We should land the same patch as Focus here or better, upstream these nuances into it's android component.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/

[2022-02-15 18:26] #23321 closed

[2022-02-15 18:29] LaurentiuApahideanSV commented on #23724
I can confirm the issue is reproducible on Firefox Preview Nightly 2022-02-15.

### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android)

[2022-02-15 19:26] willfs84 commented on #16658
Please do not close! That bar is wasting precious vertical space

[2022-02-15 19:43] jkommeren commented on #1984
So it only works on a Samsung phone perhaps? There's a "hide status bar" there on my S20 work phone. That works as expected on A11. In portrait mode.

But in any case I agree let's keep this about the Firefox browser please.

[2022-02-15 20:08] #23694 closed

[2022-02-15 20:25] gabrielluong opened #23761 "Update design color tokens based on the latest UX changes"

[2022-02-15 20:26] babblingbrookdev commented on #23700
I submitted a pull request for it above already. Couldn't remember if I should have commented here first, sorry.

[2022-02-15 20:38] MatthewTighe opened #23762 "Add themed remote wallpapers"
Github issue to capture:
https://mozilla-hub.atlassian.net/browse/FNXV2-19388
https://mozilla-hub.atlassian.net/browse/FNXV2-19290

[2022-02-15 20:43] #23657 closed

[2022-02-15 20:45] reyis4402 opened #23764 "Irrelevant fullscreen mode[Bug]:"
### Steps to reproduce

Rewind the video back and forth by visiting the website below.

https://www.trt1.com.tr/diziler/seksenler/bolum/71-bolum

### Expected behaviour

The video should work in normal mode.

### Actual behaviour

Firefox enters full screen mode during video playback and does not recover.

This behavior is repeated on many video platforms like Twitter.
![Screenshot_20220215-233743

[2022-02-15 20:48] reyis4402 commented on #23764
Reddit post on the subject

https://www.reddit.com/r/firefox/comments/stcbtb/this_new_annoying_android_full_screen_made_me/

[2022-02-15 21:01] grigoryk commented on #23349
This should be fixed by https://github.com/mozilla-mobile/android-components/pull/11688. We are now try/catching get/add interactions with the recently closed tabs storage, so any issues there won't resolve in a crash. We can monitor volume of these via `RecentlyClosedTabsStorageException` in Sentry.

Related - interactions with the file storage part of this is now off the startup path, so any IO

[2022-02-15 21:01] #23349 closed

[2022-02-15 21:41] rocketsroger opened #23766 "ArrayIndexOutOfBoundsException: length=320; index=331"
https://sentry.prod.mozaws.net/operations/firefox-nightly/issues/18215914/?referrer=github_plugin

[code]

[2022-02-15 21:49] rocketsroger commented on #23766
Socorro link https://crash-stats.mozilla.org/report/index/53ec4a80-fd8c-4ccd-a370-e5b5a0220215

[2022-02-15 22:01] rocketsroger commented on #23766
DUP of https://github.com/mozilla-mobile/fenix/issues/23160

[2022-02-15 22:01] #23766 closed

[2022-02-15 22:24] code-to-joy commented on #12731
I have the exact same issue on S10. This is a major issue. I can't use the browser any longer because any time I need to use my password manager and switch back, like ten seconds later, the tab reloads and the auth session is trashed.

[2022-02-15 22:25] code-to-joy commented on #23743
Can confirm, happens every single time I switch from FF to my password manager to get credentials.

[2022-02-15 22:26] #23761 closed

[2022-02-15 22:27] eliserichards commented on #23503
If opted out, what happens when you explicitly enroll through the secret menu:

Telemetry Off/Studies Off
* Prevents studies being On (automatic enrollment)
* Doesn’t prevent secret menu enrollment (but no data will be sent)

Telemetry On/Studies Off
* Prevents automatic enrollment
* Doesn’t prevent secret menu enrollment (data will be sent indistinguishably from automatic enrollment)

Telemetry O

[2022-02-15 22:27] eliserichards commented on #23502
If opted out, what happens when you explicitly enroll through the secret menu:

Telemetry Off/Studies Off
* Prevents studies being On (automatic enrollment)
* Doesn’t prevent secret menu enrollment (but no data will be sent)

Telemetry On/Studies Off
* Prevents automatic enrollment
* Doesn’t prevent secret menu enrollment (data will be sent indistinguishably from automatic enrollment)

Telemetry O

[2022-02-15 22:27] jxu commented on #23764
I have same issue with YouTube. 97.1.0 (Build #2015860771) on Android 12, Pixel 4a

[2022-02-15 22:36] superbonaci commented on #23743
Just tested latest Play Store Nightly 99.0a1 and find it much more difficult to happen, mainly happens if you switch from FF to YouTube app and browse some videos then switch back to FF and close some other tabs.

Probably this is related to some mobile memory management, of course I'm used to this never happening on the desktop, so I tried to do the same and got the issue with forms reloading. So

[2022-02-15 22:39] superbonaci commented on #23743
@code-to-joy which password manager, Lockwise?

[2022-02-15 22:39] #23757 closed

[2022-02-15 22:44] mcomella commented on #23725
A profile of the latest Nightly shows we have a GPU process now: https://share.firefox.dev/3BmosCW I don't see this in my profiles from a local mc build from Feb 8 (before the regression). I wonder if this is at all related.

[2022-02-15 22:49] kbrosnan commented on #14959
The api we need to handle is https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoSession.ContentDelegate.html#onSlowScript(org.mozilla.geckoview.GeckoSession,java.lang.String)

[2022-02-15 23:18] jxu commented on #23764
Probably duplicate of #23705, #23119

[2022-02-15 23:37] gabrielluong opened #23769 "Replace @color/destructive_normal_theme with @color/fx_mobile_text_color_warning"

[2022-02-15 23:59] gabrielluong opened #23771 "Set the destructive text color for the credit card editor"
When we display the error message from validating whether or not the entered credit card number is validate in "Add card". We aren't setting the error text color to attr/destructive. https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/org/mozilla/fenix/settings/creditcards/view/CreditCardEditorView.kt#119

We should set the error text color for both `cardNumberLayout` and `nameOnCa

[2022-02-16 00:10] #20655 closed

[2022-02-16 00:10] #20641 closed

[2022-02-16 00:51] majik-sheff commented on #23705
Behavior confirmed.

FF build info
97.1.0 (Build #2015860771), 365e9fb59+
AC: 97.0.10, d6ce171289
GV: 97.0-20220131171509
AS: 87.1.0

Add-ons:
Ublock Origin
Noscript Security Suite
Video Background Play Fix

Pixel 5
Running Android 11
4.19.135-g3fdbc8e39c0d-ab7132628
#1 Mon Feb 8 18:40:22 UTC 2021

[2022-02-16 00:54] majik-sheff commented on #23705
Behavior seems to stop when "Video Background Play Fix" addon is disabled.  Will report any further discoveries.

[2022-02-16 00:56] kbrosnan commented on #23764
Closing as duplicates

[2022-02-16 00:56] #23764 closed

[2022-02-16 01:28] ghost opened #23774 "Sometimes when entering an url, the webpage stay the same and I have to enter it another time"
### Steps to reproduce

1. Write an url of your choice in the main URL bar
2. Click the Enter icon on keyboard to go to this URL

### Expected behaviour

1. the keyboard should disappear
2. In the URL bar, the URL of the page I currently am should be replaced by the URL I typed
3. It should normally load the website of the new URL I entered

### Actual behaviour

The keyboard disappear as expected

[2022-02-16 01:51] csadilek commented on #23725
@mcomella GPU process was disabled again in latest Nightly due to us incorrectly handling process kills:
https://bugzilla.mozilla.org/show_bug.cgi?id=1755375
https://bugzilla.mozilla.org/show_bug.cgi?id=1331109

So, if it's the GPU process, you should this fixed in latest Nightly. We will enable again soon though.

[2022-02-16 03:32] mhammond commented on #417
*That* is false. JSON exports include mobile bookmarks. There also seems to be misinformation about Firefox Sync - it does sync all bookmarks, including mobile, between all devices.

[2022-02-16 04:23] ratkiley commented on #417
Take a look for yourself.  Then, why are *both* of these issues still open?

On Tue, Feb 15, 2022, 8:33 PM Mark Hammond ***@***.***> wrote:

[2022-02-16 04:34] mhammond commented on #417
Far out, please take a breath and read things carefully. The bugzilla link is about *HTML* exports, and clearly says JSON exports does include them. I'm not sure what other issue you are referring to, but this issue as written is correct. The comment I replied to was not.

[2022-02-16 07:43] mintyglue commented on #23705
Same issue: Realme 6S, Android 11

[2022-02-16 07:50] rgueldenpfennig commented on #23743
I have the same problem with my Samsung Galaxy S9 (SM-G960F), Android 10 with latest stock provider patches.
I am using Firefox 97.1.0 (Build #2015860771) and Keepass2 Android as my password manager.

The reload happens almost all the time when switching single tabs or minimizing and maximizing the Firefox app just as described in this issue here: https://github.com/mozilla-mobile/fenix/issues/127

[2022-02-16 08:07] madb1lly commented on #6379
Still to do.

[2022-02-16 08:11] marcel263 commented on #23774
this has been reproducible for more than a year

[2022-02-16 09:43] bio12 commented on #23705
Go to the Addons and choose manage addons. Click on the addon "video backplay play fix" and deactivate.

[2022-02-16 10:27] AndiAJ commented on #23739
Flaky 1x on 2/15 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8196810256642212733/executions/bs.d92f2182dfceeb68/testcases/1/test-cases)

androidx.test.espresso.PerformException: Error performing 'single click' on view 'with id is <org.mozilla.fenix.debug:id/collection_overflow_button>'.
at androidx.test.espresso.Perf

[2022-02-16 10:28] AndiAJ commented on #20247
mainMenuInstallPWATest Flaky 1x on 2/15 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5209704759348969642/executions/bs.3ab057662aaf3c7c/testcases/1/logs)

[2022-02-16 10:31] AndiAJ commented on #13281
Flaky 1x on 2/16 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6719637760181211773/executions/bs.c818c8c5e01f0840/testcases/1/test-cases)

[2022-02-16 10:31] AndiAJ commented on #23739
Flaky 1x on 2/16 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6588991798016413409/executions/bs.4a90def009aef4bd/testcases/1/test-cases)

[2022-02-16 10:33] AndiAJ opened #23777 "Intermittent UI test failure - < DownloadTest. testDownloadPrompt >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6588991798016413409/executions/bs.5456ce9e734583a3/testcases/1/test-cases)
### Stacktrace:
androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: (with res-name that is "browserLayout" or with res-name that is "download_butto

[2022-02-16 11:18] likecrashingwaves commented on #23705
Also occurs on Samsung Galaxy S20 FE. Makes Firefox utterly unusable in the current state. There doesn't appear to be a consistent trigger for it either, at least that I can see.

[2022-02-16 11:35] SoftVision-LorandJanos commented on #23752
Hi @plwt ! Thanks for your report!
I can confirm the issue is reproducible as you described.
Tested on the latest Nightly 99.0a1 (2022-02-16) build.
Device used: Oppo Reno 6 (Android 11).

[2022-02-16 11:36] pimpontitit commented on #23774
Hi
You mean it's a known problem ? Are you experiencing this problem too ?

[2022-02-16 11:39] dipeve commented on #23231
Same thing (S21, android 12 January patch), but from my experience, when the theme change is manual it changes correctly. It is in the morning, after the automatically set change from dark mode, that it keeps the dark mode instead of getting the light one.

[2022-02-16 12:16] pimpontitit commented on #23774
Hi
You mean it's a known problem ? Are you experiencing this problem too ?

[2022-02-16 12:33] sunilk9211 commented on #23551
Thanks @Mugurell i have given PR for this.

[2022-02-16 12:56] dahauns commented on #20012
@klint, I'd like to give you my perspective on the dangers of the idea of "it's a feature because it works for me" :)

I'm surprised - in what way do you see that more efficient on phone than on desktop? I mean, how you describe your usage is kind of how I use tabs on my desktop with lots of ram and a large 4k screen, but there it works for me because:

* overhead not (really) an issue
* tab manag

[2022-02-16 13:05] LaurentiuApahideanSV commented on #23746
I can confirm the issue is reproducible on Firefox Preview Nightly 2022-02-16.

### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android)

[2022-02-16 13:12] sunilk9211 opened #23778 "Play store web page for any app not showing Open In Play Store App button"
### Steps to reproduce

Open any play store app link.
for example this one - https://play.google.com/store/apps/details?id=com.duckduckgo.mobile.android

**In Other browsers**, we get a button at bottom center of screen that says "Open In Play Store App".
![Screenshot from 2022-02-16 18-44-11](https://user-images.githubusercontent.com/36289013/154272167-589c0e1f-a0bf-414c-a838-f9843c014ec1.png)

T

[2022-02-16 13:38] gabrielluong commented on #23771
Yes

[2022-02-16 13:42] sflorean commented on #20888
@BReduardokramer do you still see the crash on latest Firefox versions? If not, probably we can close this bug and re-open if new information are added.

[2022-02-16 13:50] Mugurell commented on #23778
Fenix has a similar "Open in app" feature shown in menu that works with any app, not just with the Playstore.
When the currently viewed page can be opened in an external app there is a blue indicator signaling this to the user.

https://user-images.githubusercontent.com/11428869/154277905-dd5d008d-3882-43fd-b699-c98c78d7c462.mp4

[2022-02-16 13:51] SoftVision-LorandJanos commented on #23778
Hi @sunilk9211! Thanks for your report!
I could reproduce your issue.
Also checked on Chrome where the behavior is as expected.
Tested on the latest Nightly 99.0a1 (2022-02-16).
Device used: Oppo Reno 6 (Android 11).

[2022-02-16 13:56] sflorean commented on #20880
Tested with OnePlus 9 (Android 11) on latest Firefox versions and indeed the behavior is as described.
I will close this as duplicate of #15866, please follow the discussions there. Thank you!

[2022-02-16 13:56] #20880 closed

[2022-02-16 15:05] Drawing12 commented on #23743
hi, if you want to draw for Youtube video monetization then you can read my all these articles. This is very helpful for drawing TY channel monetization.
1.	https://3dvkarts.net/how-to-draw-easy-bat-drawing/
2.	https://3dvkarts.net/pumpkin-drawing/
3.https://3dvkarts.net/ghost-drawing-step-by-step/
this is article for creating YT videos on drawing. This is very easy drawing and you can learn how t

[2022-02-16 15:06] rvandermeulen commented on #23705
Is this reproducible on Firefox Beta 98?

[2022-02-16 15:21] marcel263 commented on #23774
Yes, it has been reproducible for a long time. Because it is such an obvious problem there was no motivation to report the bug, assuming the developers already know about it.

Problems of the same category:

Opening tab list sometimes requires two taps
After reopening the browser and selecting a different tab from the tab list, it loads a different tab while displaying the correct URL
tabs become

[2022-02-16 15:24] LaurentiuApahideanSV commented on #23715
I can confirm the issue is reproducible on Firefox Preview Nightly 2022-02-16. The issue might be related to https://bugzilla.mozilla.org/show_bug.cgi?id=1734261.

Devices used:
Google Pixel 6 (Android 12)
OnePlus 6T (Android)

[2022-02-16 15:28] #18768 closed

[2022-02-16 15:31] yoasif commented on #17910
Hmm, can I reopen this by commenting?

[2022-02-16 16:27] sflorean commented on #9713
I was able to reproduce this on latest Nightly build, with OnePlus 9 (Android 11).

[2022-02-16 16:39] tristan-jea commented on #23771
I've looked into the issue and I have a question : I assumed you meant `nameOnCardLayout` instead of `nameOnCardTitle`. Is my assumption right?

[2022-02-16 16:48] gabrielluong commented on #23771
Yes, that's correct

[2022-02-16 16:50] gabrielluong commented on #23771
One way to reproduce the current issue would be to change the attr/destructive color and observe that the error text ("Please enter a valid credit card number") color does not match the title.

[2022-02-16 17:09] klint commented on #20012
@dahauns as you can see I can express both my view and the common one ;)
To go back to the concept of tabs in both mobile and desktop world, I have some counterintuitive thoughts, as I truly find tabs as efficient on mobile as on desktop, if not more ;)
Let me explain:
- On desktop, due to the large real estate, too much and too little information is displayed on the screen : too many tabs with to

[2022-02-16 17:13] LaurentiuApahideanSV commented on #23675
I managed to reproduce the issue on Firefox RC 97.1.0 but not on Nightly 2022-02-16. @santhoshnumberone Could you download the latest Firefox Nightly and see if the issue occurs there?
### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android)

[2022-02-16 17:22] santhoshnumberone commented on #23675
Yes the video starts playing automatically on load in Nightly

[2022-02-16 17:56] mcarare commented on #22464
Closing this as QA cannot reproduce it either ( see [comment](https://github.com/mozilla-mobile/fenix/issues/22464#issuecomment-1012176083)). Will revisit it if any other users report this issue. Thank you @eliserichards for feedback on this.

[2022-02-16 17:56] #22464 closed

[2022-02-16 17:56] jaroskrzek commented on #19445
I managed to delete all of google and wikipedia icons. There were a lot of
them. Some of visited web sites appear as top sites, some don't. I don't
know how it works but it's better than before.

śr., 29.12.2021, 15:01 użytkownik Sorina Florean ***@***.***>
napisał:

[2022-02-16 18:06] #23769 closed

[2022-02-16 18:34] tarikeshaq commented on #23758
Saw this passing by, some relevant notes from a previous discussion (and reasoning why it's currently the way it is): https://github.com/mozilla/application-services/blob/main/docs/adr/0004-early-startup-experiments.md

[2022-02-16 18:57] tabrown4 commented on #23705
Behavior confirmed on Google Pixel 4a
Android 12

FF
97.1.0 (Build #2015860771), 365e9fb59+
AC: 97.0.10, d6ce171289
GV: 97.0-20220131171509
AS: 87.1.0

Add ons:
ublock origin

[2022-02-16 19:06] rvandermeulen commented on #23705
I don't think we need more "me too" comments for 97.1.0. We know the bug is
there. What would be helpful would be more confirmation that v98 currently
on Beta (or v99 on Nightly) is working as expected to give us more
confidence that the fix we plan to ship in 97.2.0 in the next day or so
will resolve the issue.

On Wed, Feb 16, 2022 at 1:57 PM tabrown4 ***@***.***> wrote:

[2022-02-16 19:27] erikhubers commented on #23705
I've been casually browsing on the couch for almost an hour now with the Nightly and haven't seen it happen yet. All working properly with the Nightly it seems.

[code]

[2022-02-16 19:38] mcomella commented on #23725
fwiw, in two recent profiles, I see:
- a long delay (370ms) in the Parent Process stack trace for `GeckoChildProcessHost::WaitUntilConnected` https://share.firefox.dev/3JCcZlR
- a new SyncIPC call that takes 33.9ms: `PGPU::Msg_GetDeviceStatus — sent to GPU Process (Thread ID: 24093)`https://share.firefox.dev/354IV2Y

2nd profile: https://share.firefox.dev/3gU2TQV

[2022-02-16 19:38] mcomella commented on #23725
Thanks for the context. To be explicit, we'll get the results for this on Monday when the regression tests run.

[2022-02-16 19:47] pimpontitit commented on #23774
Hi
Good to know.
Hope it'll be fixed.
I dont remember encountering those issues, except the last one : reopening the app make the tab load again, thats not good if you're working on something important.
Maybe the same thing when you change tabs.
I'm writing something on a tab, i switch tabs for a moment and when I come back it reloads...

[2022-02-16 19:55] tristan-jea commented on #23771
Thank you for your answers.
Now that the issue is almost fixed I have 2 new questions.

When I was testing the fix, I discovered that unlike the `cardNumberLayout` error message, `nameOnCardLayout`'s message does not clear when valid data is entered and the save button is pressed. It occurs when an invalid card number is used. This affect the fix because the `nameOnCard` field does not return to i

[2022-02-16 20:05] MatthewTighe opened #23785 "Add "Remove" option for search groups in Jump Back In."
#23070 introduced a "Remove" long-press option for some remaining items on the home screen. Out-of-scope for that PR was a "Remove" option for search groups in "Jump Back In".

Add a "Remove" option for search groups in "Jump Back In" with behavior that matches removing search groups from "Recently Visited". Seek product input on whether removing a group from one of these sections removes the grou

[2022-02-16 20:05] gabrielluong commented on #23771
According to https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/org/mozilla/fenix/settings/creditcards/view/CreditCardEditorView.kt#122, the error shouldn't be shown if name on card is not blank. I am not too sure beyond seeing your changes and testing it further to figure out a solution.

Tests will always be appreciated if you think it's straight forward to add one to the existi

[2022-02-16 20:54] tristan-jea commented on #23771
Yes you are totally right, the if condition works as intended.
I think the bug comes from https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/org/mozilla/fenix/settings/creditcards/view/CreditCardEditorView.kt#123 because it's not the `error` member of `nameOnCardInput` that is used but `nameOnCardLayout`'s one (https://searchfox.org/mozilla-mobile/source/fenix/app/src/main/java/or

[2022-02-16 21:09] gabrielluong commented on #23771
Let's fix it in a separate issue to avoid overloading the current issue.

[2022-02-16 22:03] mcomella commented on #23717
@DavidJCobb Would you be able to take a performance profile when you reproduce the behavior? Here are some instructions: https://profiler.firefox.com/docs/#/./guide-remote-profiling

[2022-02-16 23:28] mcomella commented on #20937
Triage: we want to default to using Jetpack DataStore for new features because, from a theoretical perspective, it improves performance by minimizing main thread IO. However, in practice we've seen SharedPreferences take around 1ms for calls on a Moto G5 – much longer than accessing a value should be but ultimately not too significant to the user – so we don't feel it's necessary to 1) perform thi

[2022-02-16 23:28] #20937 closed

[2022-02-16 23:42] mcomella opened #23789 "Add performance telemetry to experiment analyses to monitor experiments for perf regressions"
On desktop, we ensure experiments do not cause perf regressions by comparing performance telemetry between the users who are opted-in to the experiment and the users who are opted-out (in addition to developers manually requesting perf tests on their code). There are two parts to this bug:
- Add the perf telemetry desktop looks at (i.e. primarily centered around gecko performance) to our analyses

[2022-02-16 23:43] gabrielluong commented on #19942
Designs https://www.figma.com/file/hJfV1KGZuOK7OYr29pooL5/Lists?node-id=69%3A6540

[2022-02-17 00:06] likecrashingwaves commented on #23705
Spent an hour in the beta, and didn't run into any issues. Fingers crossed that's a positive sign?

[2022-02-17 00:44] mcomella opened #23792 "Enable devs to run perf tests against their changes"
Our main perf benchmarks (start up) can be run locally but can't be run in CI. This makes it more challenging for developers to get perf results at all (by having to figure out how to run it locally) and makes perf results less accurate (because they have to choose the right device, configure it correctly, not interrupt the test, etc.).

This ticket is to track the (likely) perf test team's work t

[2022-02-17 00:53] #19179 closed

[2022-02-17 00:53] #17767 closed

[2022-02-17 00:53] #20823 closed

[2022-02-17 00:53] #20497 closed

[2022-02-17 00:53] #20834 closed

[2022-02-17 00:53] #20611 closed

[2022-02-17 00:54] mcomella commented on #21854
There is still non-trivial jank when scrolling (though it's less significant than I remember) on a Moto G5 in Nightly from 2/15: reopening.

[2022-02-17 02:36] gtlittlewing commented on #23746
PR #23169("For #13336: Open bookmarks in current tab") shows that the code was merged at 2022-02-03 4:58. So, I went to the [Nightly apk file repository](https://firefox-ci-tc.services.mozilla.com/tasks/index/mobile.v2.fenix.nightly.latest),
I installed the apk files built between 2022-02-02 and 2022-02-04 one by one from there, and tried to reproduce this issue.

|Build|Result|apk file|
|-----|--

[2022-02-17 03:05] Keavon commented on #5988
This is the reason I switched back to Chrome after giving a very serious attempt for a whole month to switch to Firefox on mobile. It's just too painful to type on websites without native-feeling text entry. It's subtle but truly a massive pain point that, important enough that I traded going back to Chrome a month later for Ublock Origin which I greatly enjoyed getting to use on mobile Firefox.

[2022-02-17 03:59] sh1ft-github commented on #19972
I'm facing the same issue when disabling the hide on scroll feature in Fenix. Please issue a fix as it has stuck around for a long time by now.

[2022-02-17 05:07] #20843 closed

[2022-02-17 06:30] AndiAJ commented on #23358
Flaky 1x on 2/16 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8545743945382462890/executions/bs.a296702db614f61e/testcases/1/test-cases)

[2022-02-17 06:34] AndiAJ opened #23794 "Intermittent UI test failure - < CustomTabsTest.customTabsSaveLoginTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5944219905950738163/executions/bs.8e055f30b5c1e62f/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertTrue(Assert.java:53)
	a

[2022-02-17 06:36] AndiAJ commented on #23749
Flaky 1x on 2/16 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5566629030813514675/executions/bs.4c52bc5468e374f6/testcases/1/test-cases)

[2022-02-17 06:43] AndiAJ opened #23795 "Intermittent UI test failure - < PwaTest.emailLinkPWATest>"
### Firebase Test Run:
Provide a Firebase test run report link here showcasing the problem
### Stacktrace:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.graphics.Bitmap.isRecycled()' on a null object reference
       FATAL EXCEPTION: main
Process: com.android.systemui, PID: 2224
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.gr

[2022-02-17 06:46] AndiAJ commented on #17485
Flaky 1x on 2/17 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/6207738216898150186/executions/bs.9236901cf106aec6/testcases/1/test-cases)

[2022-02-17 06:48] AndiAJ commented on #23739
Flaky 1x on 2/17 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8692563289701035661/executions/bs.cddc987c39567687/testcases/1/test-cases)

[2022-02-17 06:48] AndiAJ commented on #20973
Flaky 1x on 2/17 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/8692563289701035661/executions/bs.721c7efc1b276aa8/testcases/1/test-cases)

[2022-02-17 07:13] makotokato commented on #16444
GeckoView doesn't bundle emoji font. It uses "`Noto Color Emoji`" in /system/fonts or Font match API that is Android 10+. If newer Android, vendor (Google or OEM) can update system font by [packages](https://source.android.com/devices/architecture/custom-font-fallback), not OS update.

[2022-02-17 07:38] code-to-joy commented on #23743
BitWarden. The point is that I switch app from FF to any other app for like three seconds, and when I get back the tab reloads. Happens even with a restarted phone and no other tabs open.

[2022-02-17 08:50] clientenq opened #23796 "[Bug]: search select blocks new tab features"
### Steps to reproduce

1 Open new tab
2 cursor automatically starts in search field
3 causes automatc dropdown of search engine options
4 blocks view and select of other options in new tab
5 after new tab user has to unselect cursor focus from search engine field to be able to view or use other new tab features.

### Expected behaviour

1 open new tab
2 no automatic focus on search engine field

[2022-02-17 14:03] Mugurell commented on #22471
I could not reproduce on a Pixel 3 with Android 12.
@czlucius @SoftVision-LorandJanos   Can the STRs be distilled a bit more? Is this an intermittent issue? Are there other steps needed?

https://user-images.githubusercontent.com/11428869/154497438-214b77e3-acfa-48f8-95cd-dce11eb2fd85.mp4

[2022-02-17 14:14] czlucius commented on #22471
I just tried on my device, seems like the bug is no longer reproducible.
I used the same device listed above, but updated to Android 12.

[2022-02-17 14:27] softvision-oana-arbuzov opened #23798 "[Bug]: Unable to download images from hitomi.la"
### Steps to reproduce

1. Navigate to https://hitomi.la/reader/2139470.html#3
2. Long press on an image.
3. Select "Save image" from "Context" menu.
4. Observe behavior.

### Expected behaviour

Image is downloaded and available on the device.

### Actual behaviour

Download fails.

### Device name

Google Pixel 5 (Android 12) - 1080 x 2340 pixels, 19.5:9 ratio (~432 ppi density), Samsung Galaxy

[2022-02-17 15:52] softvision-oana-arbuzov opened #23800 "[Bug]: Unable to download images from i.ylilauta.org"
### Steps to reproduce

1. Navigate to https://i.ylilauta.org/96/45/96453830cad9b5a7.jpg
2. Long press the image.
3. Select "Save image" from "Context" menu.
4. Observe behavior.

### Expected behaviour

Image is downloaded and available on the device.

### Actual behaviour

Download fails.

### Device name

Google Pixel 5 (Android 12) - 1080 x 2340 pixels, 19.5:9 ratio (~432 ppi density), Samsung

[2022-02-17 16:03] Sopsy commented on #23800
I would like to add that this is a regression.
Works on Firefox 96 and older, the issue first appearead on Firefox 97.

[2022-02-17 16:39] BlitW0 commented on #23687
This pref does make the speed increase faster a little. Scrolling still feels heavy though, I think because the initial growth of the acceleration is too slow.

I set the `apz.android.chrome_fling_physics.friction` to `0.08`. But this results in a new problem, there is too much overscroll. The whole page scrolls in almost one flick.

[2022-02-17 16:50] superbonaci opened #23801 "[Bug]: Unable to hide bottom bar about push notifications"
### Steps to reproduce

Go to site [https://www.australianfrequentflyer.com.au/community/forums/open-discussion.77/](https://www.australianfrequentflyer.com.au/community/forums/open-discussion.77/) or any other subforum, and try to hide bottom message about push notificacions. Clicking on `Never ask again` does't work as intended.

### Expected behaviour

Hide the nagging bar.

### Actual behaviou

[2022-02-17 17:25] LaurentiuApahideanSV commented on #23798
I can confirm the is reproducible on Nightly 2022-02-17. An error message is displayed when trying to download an image.
### Devices used:
- Google Pixel 6 (Android 12)
- OnePlus 6T (Android 9)

[2022-02-17 18:07] rvandermeulen commented on #23705
FYI, we've started the gradual rollout of 97.2.0. Should be fully available by tomorrow if all goes well with that.

[2022-02-17 18:38] kbrosnan commented on #23801
This looks like a website design bug. It is possible that the layer that holds the Google ads is still present just transparent. Looks like getting the push notification message requires an account.

[2022-02-17 18:42] kbrosnan commented on #23796
Sounds like you have  `Show search engines` enabled. This sounds like expected behavior if you have that enabled. The default is disabled.

* 3 dot menu
* Settings
* Search
* Toggle `Show search engines`

[2022-02-17 18:45] kbrosnan commented on #23800
Sounds like a duplicate of https://github.com/mozilla-mobile/fenix/issues/23798

[2022-02-17 18:45] #23800 closed

[2022-02-17 20:12] #19942 closed

[2022-02-17 20:34] acalarch commented on #8252
I am using the CSS below to fix the problem using uBlock. It pins the video to the top of the screen, scales it to be as large as possible. I find the other CSS style for the player container is not needed. I've made this change on other websites as well. 99% of the time you only have to change the domain. Typically video works as a selector. If it doesn't you can use a PC to visit the mobile webs

[2022-02-17 21:04] rocketsroger opened #23804 "Use version instead of date for telemetry/metrics expiration"
We currently use a fixed date for telemetry expiration which has numerous downsides:

    Pings can expire anytime within a release cycle. We had this happen for search telemetry which dropped off a few days after a dot release. This prompted the change to set business critical metrics to never expire.

    It's technically impossible to achieve reproducible builds using expiration by date. There'

[2022-02-17 21:05] superbonaci commented on #23801
Yes, I am logged in with my account.

[2022-02-17 21:05] rocketsroger commented on #23804
This is an issue for https://mozilla-hub.atlassian.net/browse/FNXV2-19130

[2022-02-17 21:12] superbonaci commented on #23743
Would be interesting to test this on a Pixel device.

[2022-02-17 21:15] Amejia481 commented on #23752
A fix landed on `main` it should be in the next nightly update!

[2022-02-17 22:07] MozillaNoah opened #23808 "Add secret setting for the Task Continuity feature"
FeatureFlags.taskContinuityFeature

[2022-02-17 22:52] Kyrluckechuck commented on #15664
This shouldn't be stale, definitely still an issue

[2022-02-17 23:01] santo998 opened #23812 "[Bug]: Cant add top site due "Top site limit reached""
### Steps to reproduce

1. Browse to some website
2. Three dots menu
3. Add to top sites

### Expected behaviour

The site is added to the top sites

### Actual behaviour

I get the following error:
"Top site limit reached
To add a new top site, remove one.
Touch and hold the site and select remove."

### Device name

Samsung J7 Prime

### Android version

Android 8.1

### Firefox release type

Fi

[2022-02-18 04:47] #23771 closed

[2022-02-18 04:56] gabrielluong opened #23813 "Clear error message for nameOnCardLayout when valid name is submitted"
Thank you for your answers.
Now that the issue is almost fixed I have 2 new questions.

When I was testing the fix, I discovered that unlike the `cardNumberLayout` error message, `nameOnCardLayout`'s message does not clear when valid data is entered and the save button is pressed. It occurs when an invalid card number is used. This affect the fix because the `nameOnCard` field does not return to i

[2022-02-18 04:56] gabrielluong commented on #23813
https://github.com/mozilla-mobile/fenix/issues/23771#issuecomment-1042301945

[2022-02-18 04:57] gabrielluong commented on #23813
@tristan-jea I filed this for you in case you wanted to take this.

[2022-02-18 06:25] SoftVision-LorandJanos commented on #23721
I have managed to reproduce the issue with the Nightly from the day this was logged in (99.0a1 - 2022-02-14).
Verified as fixed on the latest Nightly 99.0a1 (2022-02-18).
The string now is "Sorry. Firefox Nightly had a problem and crashed." (For Nightly).
Closing the ticket as fixed.

[2022-02-18 06:25] #23721 closed

[2022-02-18 07:12] baack commented on #15450
Please remove `feature-request` flag. It's not a feature request, it's a regression (a bug when something that worked before stops working).

[2022-02-18 07:20] cadeyrn commented on #15450
No, that's not true. Since it's working as intened and implemented it's not a bug but a request for a change.

[2022-02-18 08:29] Alexandru2909 commented on #23707
Hi @Disil , since you mentioned that you don't have any screen lock type set up, the issue seems to be that we don't [handle](https://github.com/mozilla-mobile/android-components/blob/5d98bab2f9836d26a4cdbde8f0bddcfa98d1eee8/components/feature/autofill/src/main/java/mozilla/components/feature/autofill/ui/AbstractAutofillUnlockActivity.kt#L60) this case. Tagging UX to check how should we deal with

[2022-02-18 09:07] Disil commented on #23707
I set up a password, and it still doesnt work. It ask me to enter my pin, and then there is 'Search firefox beta' button appear. When i clicked on them, nothing happened.

[2022-02-18 11:10] tristan-jea commented on #23813
Thanks, I'll work on it

[2022-02-18 12:06] sv-ohorvath commented on #21852
I also caught a similar problem while running automation tests:
The search group was correctly showing the initial search results page in the "Jump back in" section and in the tabs tray.
But, after closing the tabs, the "Recently visited" search group did not contain the initial page. See screenshots:
![1](https://user-images.githubusercontent.com/4037709/154679954-bd618586-c8f1-44db-af1b-32d732aa

[2022-02-18 12:09] sv-ohorvath commented on #23064
I also noticed the Recently visited section not being shown immediately after closing the tabs. As a workaround, you have to open another tab/the settings menu, or something, in order to refresh the homepage when you return to it.

[2022-02-18 12:37] sv-ohorvath opened #23814 "Search result page not always included in Recently visited search group"
### Steps to reproduce

Similar to https://github.com/mozilla-mobile/fenix/issues/21852.

**On a fresh install of Fenix.**
1. Search for something with any search engine
2. From the search results, open two results in new tabs
3. Open the tabs and visit the websites.
4. Open the tab drawer and close all tabs.
5. Return to homescreen, check the search group in the Recently visited section.

### Exp

[2022-02-18 15:04] sv-ohorvath opened #23815 "[Bug]: Recently visited sites section not always displayed immediately"
### Steps to reproduce

**On a fresh install of Fenix.**
1. Search for something with any search engine.
2. From the search results, open two results in new tabs.
3. Open the tabs and visit the websites.
4. Open the tab drawer and close all tabs.
5. Return to homescreen, check the Recently visited section.

### Expected behaviour

The recently closed search group is shown on the homepage.

### Act

[2022-02-18 15:21] AndiAJ commented on #23358
Failed 1x on 2/17 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7799721081276003014/executions/bs.de9ac555dfb27fe9/testcases/1/test-cases)

java.lang.AssertionError: Page didn't load or doesn't contain the expected text
at org.junit.Assert.fail(Assert.java:89)
at org.junit.Assert.assertTrue(Assert.java:42)
at org.mozil

[2022-02-18 15:23] AndiAJ opened #23816 "Intermittent UI test failure - < SettingsPrivacyTest.verifyMultipleLoginsSelectionsTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/7799721081276003014/executions/bs.cc85f67fbc87dceb/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertTrue(Assert.java:53)
	a

[2022-02-18 15:25] AndiAJ opened #23817 "Intermittent UI test failure - < SettingsSearchTest. toggleSearchSuggestionsTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5091770357764244615/executions/bs.93eb7c3fe2ab20c8/testcases/1/test-cases)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:87)
	at org.junit.Assert.assertTrue(Assert.java:42)
	at org.junit.Assert.assertTrue(Assert.java:53)
	a

[2022-02-18 15:29] sv-ohorvath opened #23818 "Intermittent UI test failure - SearchTest#searchGroupGeneratedInTheSameTabTest"
### Firebase Test Run:
deleteItemsFromSearchGroupsHistoryTest
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5608941059826265465/executions/bs.18e7efdd522f0f0c/test-cases

searchGroupShowsInRecentlyVisitedTest
https://console.firebase.google.com/project/moz-fenix/testlab/histories/bh.66b7091e15d53d45/matrices/5608941059826265465/executions/bs.d

[2022-02-18 15:33] czlucius commented on #23746
I think the problems caused by opening bookmarks in the current tab is greater than the problems caused by opening them in a new tab, currently.
@jonalmeida sorry for mentioning you several times, but should this be looked into again?
If it's possible, the behaviour can be determined by whether the user is on the home screen. I've tried checking for the currently visible fragment as per https://st

[2022-02-18 15:59] #22189 closed

[2022-02-18 16:02] jasonlessard opened #23820 "Open links in app not working for bank app"
When I open an Interac transfer link, received by email in Gmail app, it will open the link in my default browser app. When I use Firefox as my default browser, it opens the link then redirects me to my bank website (Desjardins). When I use Chrome as my default browser, it opens the link then it opens my bank app.  Also, when I am on the website, I don't have the option to "Open in app". Everythin

[2022-02-18 16:13] bonyjose commented on #23812
Reproduced same issue in Android 12 device, in Firefox 99.0a1. I only have one top site pinned in Firefox nightly, when I click on adding a new top site, unable to do so and is mshown with error message " top site limit is reached".

[2022-02-18 16:42] LaurentiuApahideanSV commented on #23735
I underrated the severity of the issue, I've changed it to S2.

[2022-02-18 16:51] Cheap-Skate commented on #20012
I read [this article](https://blog.mozilla.org/ux/2020/07/ordering-browser-tabs-chronologically-to-support-task-continuity/) from the Mozilla blog with interest. It describes how people use their tabs tray to enable continuity between (eg) desktop and mobile.

I think it supports the idea that we all use the tabs tray as a kind of to-do list and we want it organised and relevant. Some users prefer

[2022-02-18 17:04] Mugurell commented on #21854
@mcomella @csadilek
Enabled `GPU rendering profile` - `On screen as bars` to be able to easily link frame drops to what's happening on screen an tested the following scenario:
- cold start the app
- scroll to bottom
- open a webpage
- go home
- scroll to bottom

on two versions of the debug app with the only difference being the position of the Pocket section: first at the top, then at the bottom.

[2022-02-18 17:25] sarah541 opened #23821 "Recently Visited Homepage Telemetry"
https://mozilla-hub.atlassian.net/browse/FNXV2-19135

- How often do people open a search group?

- Do people who interact with search groups retain better?

- What % of core actives interact with search groups?

- How often do people open a history highlight?

- Do people who interact with history highlights retain better?

- What % of core actives interact with history highlights?

[2022-02-18 17:45] mcomella opened #23822 "Taking screenshot on main thread delays home screen opening by at least ~153ms, maybe ~283ms"
## Steps to reproduce
- Launch app with VIEW intent
- Start profiler
- Click home button in toolbar
- Capture profile

### Expected behavior
Fast reaction

### Actual behavior
`org.mozilla.gecko.GeckoThread.runUiThreadCallback` runs for ~153ms on the Android UI thread. Looking at the native equivalent, we're running what appears to be a screenshot, `mozilla::layers::UiCompositorControllerChild::Re

[2022-02-18 18:08] MozillaNoah commented on #23238
[specs for device header sections with new behavior](https://www.figma.com/file/hJfV1KGZuOK7OYr29pooL5/Lists?node-id=13%3A4050)

[2022-02-18 18:28] mcomella commented on #21854
The GPU rendering profile show that most of the time is spent in in the three green colors, which we have control over ([here's what they represent](https://developer.android.com/topic/performance/rendering/inspect-gpu-rendering)). That doesn't tell us exactly what to optimize though a profile might get us that info. Here's a profile of scrolling down to Pocket: https://share.firefox.dev/3oU31nV a

[2022-02-18 20:35] tristan-jea commented on #23813
I'm wondering if I should add a new method in `CreditCardEditorViewTest` to test that both `nameOnCardLayout`'s and `cardNumberLayout`'s error messages are cleared correctly ? These tests cannot be integrated inside existing ones because there is no test that set invalid values and then valid values.
What do you think about this ?

[2022-02-18 20:50] hiaselhans opened #23824 "[Bug]: No hints are shown for required form-fields"
### Steps to reproduce

1. [go to https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/required](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/required#result)
2. fill NO data
3. click submit

### Expected behaviour

should show a hint of missing field
![image](https://user-images.githubusercontent.com/5046381/154759066-22bd81cc-9abb-48f1-9361-edb7ba501ba7.png)

### Actual b

[2022-02-18 21:22] gabrielluong commented on #23813
Sure, go for it!

[2022-02-18 21:57] plwt commented on #23812
I am seeing the same - Nightly 99.0a1 on Android 11 and have a user seeing the same in SUMO in 98.0a1 on Android 11.

[2022-02-18 22:06] jakoblm opened #23825 "[Bug]: Screen flickers when reopening browser with web page open"
### Steps to reproduce

1) I open any web page in Fennec and then minimize the browser.
2) When I maximize Fennec again, the web page flickers briefly so that you can see the homescreen with the app icons shimmering through.
3) It also happens when I disable all add-ons.

### Expected behaviour

The web page should be displayed without flickering.

### Actual behaviour

When I maximize Fennec agai

[2022-02-18 22:13] krokofanth opened #23826 "[Bug]: Select phrase and search multiple times"
### Steps to reproduce

1. Long press to select word or phrase on a website
2. Click search to be redirected to search result
3. Click go back on your phone ( < )
4. Select word again and click search

### Expected behaviour

You should be able to search again.

### Actual behaviour

Nothing happens when you click search. And sometimes if you at this stage, press the home button on your phone so y

[2022-02-18 22:25] #23826 closed

[2022-02-19 01:09] kbrosnan commented on #23715
Agree that this is the upstream issue that Laurentiu mentions.

[2022-02-19 01:09] #23715 closed

[2022-02-19 01:11] kbrosnan commented on #23824
Duplicate of bz-1510450

[2022-02-19 01:11] #23824 closed

[2022-02-19 01:26] gabrielluong opened #23829 "Update private theme design token based on the latest UX changes"

[2022-02-19 01:54] theres-waldo commented on #23687
Thanks for the feedback. I filed an [additional Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1756275) to track potential further changes to the physics of our fling animation.

[2022-02-19 05:03] CaFI0 opened #23831 "[Bug]: Texts in github commits are not displayed correctly"
### Steps to reproduce

1. Open the page where the commits of any repository are located on github e.g. https://github.com/mozilla-mobile/fenix/commits/main
2. Move around the page

### Expected behaviour

That they will be displayed well and without any problem

### Actual behaviour

The vast majority of the text of the commits is not displayed correctly or you need to zoom in on the page so that

[2022-02-19 08:00] Cheap-Skate commented on #23825
Maybe

https://bugzilla.mozilla.org/show_bug.cgi?id=1753085

Particularly Comment 5

[2022-02-19 08:21] smerschjohann commented on #13988
This feature came with Firefox 90 on other platforms, so hopefully it can be adopted for the mobile platform soon :)

[2022-02-19 08:44] grigorig commented on #13988
I don't understand, client certificates have been supported on the desktop version since... forever?

[2022-02-19 10:11] marcel263 commented on #19363
This is closed because it is a duplicate sorry

[2022-02-19 10:11] #19363 closed

[2022-02-19 10:18] edoput opened #23832 "[Bug]: Address bar moved after video is fullscreen"
### Steps to reproduce

1. Visit a page containing a video
2. Play the video and switch to fullscreen
3. Exit fullscreen

### Expected behaviour

The address bar placement is the same as before watching the video.

### Actual behaviour

The address bar placement is a little offset to the bottom, it is still usable for user input but the "quick commands" are rendered out of screen.

### Device name

[2022-02-19 10:42] tomdol commented on #23705
Updating to 97.2.0 makes it go away, thanks!

[2022-02-19 12:59] automatedbugreportingfacility opened #23833 "Add an option to remove the "Entering full screen mode" nag"
### What is the user problem or growth opportunity you want to see solved?
Every time a full screen video is opened, a nag message is displayed: "Entering full screen mode". Therefore, the process of opening a full screen involves 2 steps:

1) Tap whatever button opens the full screen;
2) Swipe the nag away or wait for it to stop obstructing the view.

It is not at all useful or provide any securi

[2022-02-19 14:22] smerschjohann commented on #13988
I mean this: https://blog.mozilla.org/security/2021/07/28/making-client-certificates-available-by-default-in-firefox-90/ you could use them, if manually activated yes.

[2022-02-19 16:26] RotBolt commented on #21547
@jonalmeida
It seems, its a issue on Android components
Any recommended way on how to integrate the local android components build into Nightly Fenix build?

[2022-02-19 16:42] RotBolt commented on #21547
Also, I have a suggestion on performance
I see the Private tab and Normal Tab uses recyclerview of their own and items are similar
So I think we can share the recyclerviewPool among the two recyclerviews

You can refer this article for more https://medium.com/@thagikura/reduce-the-number-of-inflation-of-viewholders-drastically-by-sharing-a-viewpool-across-multiple-249d5fc6d28

cc @jonalmeida @mcom